[2017-04-29 01:26] rohit21agrawal commented on #4853
can you try this nupkg : https://1drv.ms/u/s!AqkZZxvzm4PPg91FocTf74llC9Z-sA

[2017-04-29 01:33] NickCraver commented on #4853
@rohit21agrawal Is there another package in that chain, `NuGet.Commands`? Here's my build output with that package:
[code]

[2017-04-29 01:35] rohit21agrawal commented on #4853
@NickCraver have uploaded the full closure as a zip here : https://1drv.ms/u/s!AqkZZxvzm4PPg91G_ndQi1koKpzMLg

[2017-04-29 01:47] NickCraver commented on #4853
Here's output with all those packages (note it doesn't support net40):
[code]

...and here's removing our `net40` targets for the sake of testing:
[code]

[2017-04-29 01:50] rohit21agrawal commented on #4853
this is weird, i was able to produce nupkgs from your branch on my machine....investigating

[2017-04-29 02:04] rohit21agrawal commented on #4853
i need some caffeine in me, turns out i gave you NuGet.Build.Tasks instead of NuGet.Build.Tasks.Pack : here is the correct nupkg : https://1drv.ms/u/s!AqkZZxvzm4PPg91IsD3bWl1ptv1spQ

[2017-04-29 02:09] rohit21agrawal commented on #4853
[out.txt](https://github.com/NuGet/Home/files/965834/out.txt)

Attached is the output i am getting on your branch. dapper.csproj is still complaining, i will take a look at that later. i have also attached the generated nupkgs.

[nupkgs.zip](https://github.com/NuGet/Home/files/965836/nupkgs.zip)

[2017-04-29 02:14] NickCraver commented on #4853
@rohit21agrawal Yay! I am matching your output and errors on Dapper/EntityFramework now, progress!

Looks like the generated `.nupkg`s have the proper framework assemblies - is all of the new warning output expected behavior? It's weird for that to issue an errors on a `PrivateAssests="All"`, perhaps that should be excluded? (Separate issue for upcoming code, just noting here)

[2017-04-29 06:07] gkhanna79 commented on #5009
@rrelyea Have you had a chance to look into this? We are hitting this very likely, when attempting to push to V2 endpoint.

[2017-04-29 20:54] v2Shridhar commented on #1792
Any updates, when this feature will be released?

[2017-04-29 21:13] goekboet commented on #5127
I can reproduce this issue without the --include-symbols option on the pack command. Output from  dotnet --info:
[code]

[2017-04-29 22:22] bbowman commented on #5105
+1

[2017-04-30 03:07] emgarten opened #5145 "VersionRange.PrettyPrint should not display >= for non-inclusive lower bounds"
VersionRange.PrettyPrint should not display >= for non-inclusive lower bounds

### Steps
Create a range with a non-inclusive lower bound.

### Expected
``(> 1.0.0)``

### Actual
``(>= 1.0.0)``

[2017-04-30 09:22] hrumhurum opened #5146 "<PackageReference> does not work when building in Visual Studio 2017 command line mode"
## Description

`<PackageReference>` items in MSBuild projects are ignored when solution is built via Visual Studio command line. This prohibits to use NuGet package references in build server scenario due to the fact that resulting projects cannot be built.

NuGet product used: Visual Studio
VS version: Visual Studio 2017 Professional Version 15.1 (26403.7)
NuGet Package Manager version: 4.1.0
OS

[2017-04-30 10:25] cwe1ss commented on #4337
Just hit this is as well 😢. As this worked with the old CLI, i'd consider it a pretty big bug/breaking change that should be posted on some "Known issues" page until it is fixed (or considered by design).

Does such a page exist somewhere (it's not on the [migration guide](https://docs.microsoft.com/en-us/dotnet/articles/core/migration/)) or is there something like aspnet/Announcements for all of

[2017-04-30 10:33] cwe1ss commented on #4337
Regarding bug or not, I'd say it must be a bug because you currently can't achieve a correct result with the documented "dotnet restore" switches.

[2017-04-30 20:48] mfaulkinbury commented on #4068
@rrelyea @yishaigalatzer

Given that another month has passed since my last request for an update on the status of this PR, we are likely to create a public distro for those in the community who would like to benefit from our work.

We will continue to hope for a response, a request for changes to our PR, a friendly, "we're just busy right now", ...

[2017-04-30 22:45] awesley commented on #4901
I request that this get prioritized as there are a good number of people producing documentation and tutorials on dotnet core with comments like "copy this csproj file".  Alleviating this problem early will improve the quality of education material related to .NET core and the tooling surrounding it.

[2017-04-30 22:53] StingyJack opened #5147 "nuget pack returns an ambiguous and confusing error when a dependency element isnt complete"
## Details about Problem
NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
NuGet version (3.4.4.1321):
VS version (if appropriate): 2017
OS version (i.e. win10 v1607 (14393.321)): Win 10 UWP edition
Worked before? If so, with which NuGet version: No idea, but this program has some very misleading error messages

## Detailed repro steps so we can see the same problem

U

[2017-04-30 23:18] emgarten commented on #4700
I am not able to repro this anymore, it looks like it was fixed with NuGet/NuGet.Client@f1400922850105bb2f275bf9f00075c250b5b1dc

[2017-04-30 23:18] #4700 closed, assigned to emgarten

[2017-05-01 16:08] mhutch opened #5148 "PackageFile should default PackagePath to relative"
This currently causes all the files to be dropped directly in the nupkg root, which is not useful:

[code]

If `PackagePath` is not set, it should default to `%(RelativeDir)%(Filename)%(Extension)` not `%(Filename)%(Extension)`.

[2017-05-01 17:38] natemcmaster opened #5149 "Restore on .NET Core 2.0 project imports .NET Framework 3.5 package targets"
## Details about Problem
NuGet product used: dotnet
NuGet version: 4.3.0-preview1
dotnet.exe --version: 2.0.0-preview1-005861

## Detailed repro steps so we can see the same problem
Run dotnet restore on this:
[code]
SQLitePCLRaw.lib.e_sqlite3.linux contains a file in `build/net35/SQLitePCLRaw.lib.e_sqlite3.linux.targets`

## Expected
obj/*.csproj.nuget.g.targets does not contain an import to the

[2017-05-01 17:54] #5059 closed, assigned to nkolev92

[2017-05-01 18:04] mellinoe commented on #4700
@emgarten Glad to hear it is fixed, but that link is dead.

[2017-05-01 18:10] #4794 closed, assigned to nkolev92

[2017-05-01 18:36] natemcmaster commented on #5149
FYI - this bug does not appear when targeting netcoreapp1.x.

[2017-05-01 20:10] emgarten commented on #4700
@mellinoe updated, thanks!

[2017-05-01 20:53] natemcmaster commented on #5149
Closing as external to NuGet. It looks like this is caused by Microsoft.NET.Sdk setting PackageTargetFallback to include `net461` on .NET Core 2.0. https://github.com/dotnet/sdk/pull/1133

[2017-05-01 20:53] #5149 closed, assigned to nkolev92

[2017-05-01 21:02] natemcmaster commented on #5149
Moved to https://github.com/dotnet/sdk/issues/1166.

[2017-05-02 00:01] shishirx34 commented on #4932
Got auto closed.

[2017-05-02 00:12] shishirx34 commented on #5010
Issue Repro steps

[code]

With my change to fix #4932 this should repro in project.json scenario too now.

[2017-05-02 00:20] shishirx34 commented on #5010
I verified and this issue repros with project.json as well with my changes for #4932

[2017-05-02 00:22] nkolev92 commented on #5146
VS - Build does not explicitly do a NuGet restore.
Consider using MSBuild directly for these scenarios.
https://docs.microsoft.com/en-us/nuget/schema/msbuild-targets

[2017-05-02 00:27] #4671 closed, assigned to emgarten

[2017-05-02 00:29] #4517 closed, assigned to emgarten

[2017-05-02 00:47] #4650 closed, assigned to emgarten

[2017-05-02 00:48] #4992 closed, assigned to emgarten

[2017-05-02 01:01] #4424 closed, assigned to nobody

[2017-05-02 03:44] davidfowl commented on #4974
That's a legitimate downgrade. It's one of the problems with an implicit package reference.

/cc @dsplaisted

[2017-05-02 03:46] davidfowl commented on #4974
Ohh, I see what's happening, you have a project with the same name as the package? Can you make the version higher?

[2017-05-02 04:23] jaredpar commented on #4974
We don't even set versions.  If we set a version it would be only to avoid this error.  Seems backwards.

[2017-05-02 04:24] jaredpar commented on #4974
Ended up going a bit deeper on the problem in an SDK issue

https://github.com/dotnet/sdk/issues/1082

[2017-05-02 09:01] hrumhurum commented on #5146
@nkolev92, MSBuild restore does the job. I performed the following command before building the solution and got a successful build:

`MSBuild.exe SampleApp.csproj /t:restore`

Thank you.

That's a good solution but I have to write a script that walks through the .sln file, finds the projects with `<PackageReference>` items and does MSBuild restore for them. While this is a doable approach, it woul

[2017-05-02 11:23] JoGillis opened #5150 "NuGet Pack does not translate floating version correctly"
NuGet.exe 4.1.0.2450

When using a floating version in a nuspec file it is incorrectly translated into the package:
for example in the nuspec file:
[code]
Will result in the following entry inside the nupkg file, without any warning or error
[code]
This is clearly wrong, because they have a completely different meaning.

A correct way to handle this could be:
1- (not preferred) Issue an error sayi

[2017-05-02 12:15] JoGillis opened #5151 "Documentation and behavior flaws with PackageReference"
NuGet.exe 4.1.0.2450
VS2017 Enterprise 15.1(26403.7) - NuGet 4.1.0

1. The documentation lists the Version under PackageReference as an attribute, but when a reference is added to a project by the VS Addin, it is stored as an element. The NuGet executable does not seem to have any problem with this, but it is rather confusing.

2. The VS Addin will always force the complete version number into thi

[2017-05-02 16:02] tmat commented on #4142
How about changing the default behavior of ```<IncludeSymbols>``` to be:
- if building Portable PDBs include them into .nupkg, do not create .symbols.nupkg
- if building Windows PDBs create .symbols.nupkg, do not include them in the main nupkg

In other words symbol packages are for legacy PDBs. Portable PDBs are small and go directly to the main package where nuget server can index them.

Also, t

[2017-05-02 18:03] ratidzidziguri opened #5152 "Nuget.exe pack command wrong file processing."
## Details about Problem

NuGet product used (NuGet.exe):

NuGet version (3.5.0.xxx):

OS version (win10 ):

Worked before? If so, with which NuGet version:
Never worked.

## Detailed repro steps so we can see the same problem

1. Create empty .nuspec file.

2.provide 2 content files with the same filename from 2 different folders

3.provide one destination for both files in nuget package.
...

##

[2017-05-02 18:07] nkolev92 commented on #5146
Restore can be performed at solution level, you don't need to walk the project graph.

The recommended approach here would be to use NuGet.exe/MSBuild for restore and then MSBuild for building the solution/project.

Any particular reason why you favor using devenv.exe vs MSBuild for your scenarios?

[2017-05-02 18:36] alpaix opened #5153 "Can't restore DotNetCliToolReference that targets netcoreapp2.0 in VS2017"
### Problem

At the moment, if you try to restore a `DotNetCliToolReference` that targets `netcoreapp2.0`, NuGet shows this error:

### Expected

NuGet should infer runtime framework for the current project and apply it to the tool's dgspec.

[2017-05-02 21:05] jeffreyCline commented on #4837
When I try this I get compiler error CS2015 '...\any\any\tools\file.dll' **is a binary file instead of a text file**. Why does it matter what type of file it is when all I am trying to do is copy it to the bin directory?

[2017-05-02 21:24] shanselman commented on #5086
PLEASE. :)

@mishra14 Maybe I can do this PR myself. Why is dotnet add tool "a lot more work?" Why can't we pair and do this in an hour?

[2017-05-02 21:38] anangaur commented on #5086
Second option please.
`dotnet add tool <tool-name> `

[2017-05-02 23:31] emgarten opened #5154 "Treat TargetFramework(s) values as aliases"
NuGet should treat the values from ``TargetFramework`` and ``TargetFrameworks`` as aliases.

When setting the property ``TargetFramework=(alias)`` the actual target framework value can be evaluated from ``TargetFrameworkIdentifier`` and ``TargetFrameworkVersion``.

See for examples and more details: https://github.com/dotnet/project-system/issues/1938

*Update by @nkolev92*

NuGet in 5.8 and .NET

[2017-05-03 01:27] #5153 closed, assigned to alpaix

[2017-05-03 05:35] vskab opened #5155 "Option in nuget.exe to push dependencies located in same source folder as the target nupkg file"
We need an option in nuget.exe to push dependencies located in same source folder as the target nupkg file.

NuGet product used: NuGet.exe
NuGet version: 3.5.0.1938

We have several nupkg files in a drop folder, all are "ours", produced by our build.
But we want to push only one of them plus all its dependencies from the same drop folder.

[2017-05-03 05:45] dasMulli commented on #5086
Maybe something can even be done automatically for cli tools packages if the package type of the nuget package is set to `DotnetCliTool` (https://docs.microsoft.com/en-us/nuget/create-packages/creating-a-package#setting-a-package-type)

[2017-05-03 05:52] simbo1905 commented on #604
I had the same problem on Visual Studio 2017 Community Edition after adding then deleting a project from an existing solution. None of the suggested solutions above worked. As all the code was checked into Git at the point I was doing this so I just deleted everything and started again.

[2017-05-03 06:02] hrumhurum commented on #5146
Trying with nuget.exe which is marked as the latest one [here](https://www.nuget.org/):
[code]

Trying with MSBuild:
[code]

Yep, MSBuild solution restore works for `<PackageReference>` items. Thank you!

The solutions we build often rely on things like Wix Toolset, VS Modeling SDK and T4 which are notoriously don't work as expected when the build is performed by MSBuild.exe. That's why we use Vis

[2017-05-03 06:48] andymac4182 commented on #4989
This would be great since we are running into this issue due to https://www.nuget.org/packages/StackExchange.Redis/ and https://www.nuget.org/packages/StackExchange.Redis.StrongName/

[2017-05-03 06:55] andymac4182 commented on #3113
This could also be solved by https://github.com/NuGet/Home/issues/4989 probably

[2017-05-03 07:04] brianpos commented on #4989
We have this issue to if we want to add both of these
https://www.nuget.org/packages/Hl7.Fhir.DSTU2
https://www.nuget.org/packages/Hl7.Fhir.STU3

[2017-05-03 07:14] natemcmaster opened #5156 "NuGet.org gallery doesn't support packages with minClientVersion = 4.0.0"
**Repro**
1. Create a package with
[code]
2. Attempt to push package via NuGet.exe or upload on the nuget.org manually.

**Error**
The push fails with this error

[2017-05-03 07:27] nkolev92 commented on #5146
The NuGet.exe there is 3.5.0.
NuGet.exe 3.5.0 does not support package reference.
The recommended latest thing is a little bit confusing, apologies for that.
Please try go to https://dist.nuget.org/index.html and download 4.1.0 or 4.2.0

Currently there are no immediate plans to allow restore calls to happen from VS command line.

Give your use case we would recommend using NuGet.exe for your rest

[2017-05-03 08:47] hrumhurum commented on #5146
Checked out NuGet.exe 4.x per your suggestion and it works with `<PackageReference>` items as advertised.

Doing exactly that. Thank you. The issue is solved.

That's unfortunate but understandable. I know, this is a little thing but those tiny things tend to form a more important metrics: the product experience. Would love to see the out of the box support for NuGet restore in Visual Studio comma

[2017-05-03 08:47] #5146 closed, assigned to nobody

[2017-05-03 11:47] Mpdreamz commented on #1448
I just hit this error because my `sln` file was missing a `postSolution` section.
[code]

[2017-05-03 13:51] ctaggart commented on #4142
Here is a [working example](https://github.com/ctaggart/Paket/blob/4ca52a4c4091c10feb63ae26d19f81b04769f693/src/Paket.Core.preview3/Paket.Core.fsproj#L90-L95) of adding the pdb using the current tooling that I did today for https://github.com/fsprojects/Paket/pull/2313:
[code]
This is based on the [dotnet extensibility article](https://docs.microsoft.com/en-us/dotnet/articles/core/tools/extensibil

[2017-05-03 16:20] NickCraver commented on #4853
@rohit21agrawal I'm being pinged for support on packages we're unable to build, is there a fix incoming for this, or should we roll back our VS 2017 `.csproj` migration?

We cannot maintain the status quo, it's causing more pains and delays every day we attempt to use this new project system that isn't ready. I love helping out testing this stuff and giving feedback, but at some point it's not wor

[2017-05-03 16:25] rrelyea commented on #4853
We have scheduled a fix for this in 15.3.

[2017-05-03 16:28] NickCraver commented on #4853
@rrelyea What is the current time frame on 15.3?

[2017-05-03 16:29] rrelyea commented on #4853
You can look at the 4.3 milestone in NuGet which corresponds to VS 15.3 - I have an approximate date there -- and will keep it up to date.

[2017-05-03 16:31] NickCraver commented on #4853
@rrelyea So we have to wait 2 more months to see this critical bug fixed?

I really mean no offense, but **are you kidding me**?

[2017-05-03 16:32] kevinchalet commented on #4853
I have to agree with @NickCraver... 2 months is way too long for such a breaking change :open_mouth:

[2017-05-03 16:32] vcsjones commented on #4853
*July*?

[2017-05-03 16:37] gpshonik commented on #4853
Waiting 2 more months for a fix is not really an option for us either. This bug having a big impact on our plans and needs to be prioritized.  Is there any way this can be moved up?

[2017-05-03 16:46] NickCraver commented on #4853
I will be moving [Dapper](https://www.nuget.org/packages/Dapper) back to VS 2015 and `project.json` this week. This is a hard blocker and being 2 months away is completely unacceptable. We can't delay all fixes for 2 months while this remains open. MiniProfiler will be more complicated, so that sucks, but I'll either have to greatly delay a 4.0 release or do the same there.

I need to do releases

[2017-05-03 16:48] rrelyea commented on #4853
Just caught up on the earlier thread. If you can still use privates that Rohit discussed, we'll be able to deliver before 4.3 ships. I'll discuss options with him when he gets in.

[2017-05-03 16:56] NickCraver commented on #4853
@rrelyea I'm perfectly willing to use private bits, if we can get some that resolve the issue. The current state of the fix doesn't work for `net40` or even Dapper itself.

But that's still not good enough. This is silently breaking anyone with a framework reference who upgrade an existing project. They won't find this issue, and their users are harmed with confusion and broken builds when they ad

[2017-05-03 16:58] #5156 closed, assigned to nobody

[2017-05-03 16:58] skofman1 commented on #5156
Issue moved to [NuGet/NuGetGallery #3866](https://github.com/NuGet/NuGetGallery/issues/3866) via [**ZenHub**](https://www.zenhub.com/)

[2017-05-03 17:32] rohit21agrawal commented on #4853
how about we release a NuGet.Build.Tasks.Pack.nupkg on NuGet.org which you can take a dependency on? You will have to use the small workaround of passing "NuGetBuildTasksPackTargets" from the command line , but that will go away in 15.3 too (since the issue has been fixed https://github.com/dotnet/sdk/issues/888 ) .

[2017-05-03 17:33] rohit21agrawal commented on #4853
@NickCraver what do you mean the current state of the fix doesn't work for for net40?

[2017-05-03 17:44] mattnischan commented on #4853
Agreed that this timeline is a bit disappointing. I had to move to .Net Standard only with [Immutable.Net](https://www.nuget.org/packages/Immutable.Net/) for now and avoid targeting lower frameworks specifically because I can't reference framework assemblies. I'm enormously tiny potatoes compared to Dapper, but it does illustrate that this hits even small libraries.

[2017-05-03 17:45] NickCraver commented on #4853
@rohit21agrawal To get the results earlier in the thread, I had to remove all `net40` targets. See the build log here: https://github.com/NuGet/Home/issues/4853#issuecomment-298139576

[2017-05-03 17:46] rohit21agrawal commented on #4853
@NickCraver  that was because i gave you the nuget.build.tasks nupkg instead of nuget.build.tasks.pack nupkg. you should be able to add net40 without any issues.

[2017-05-03 17:52] NickCraver commented on #4853
@rohit21agrawal Agreed - I just reproduced results with the `.Pack`, but it can't build Dapper itself so I'm unable to verify the core packages yet (it's the root dependency).

My statements above stand: most package developers won't even know this is happening until the first bug report comes in, so the silent nature really need a more widespread fix than a manual uptake on a package for every si

[2017-05-03 17:52] kzu commented on #4853
@rohit21agrawal [annotating the references explicitly](https://github.com/NuGet/Home/issues/4853#issuecomment-293018880) is unnecessary. You can trivially detect if the resolved reference is a framework reference, [just like we do in NuGetizer](https://github.com/NuGet/NuGet.Build.Packaging/blob/dev/src/Build/NuGet.Build.Packaging.Tasks/NuGet.Build.Packaging.targets#L276-L279):

[code]

And maybe

[2017-05-03 17:59] rohit21agrawal commented on #4853
@kzu I did not know that was possible. going to give it a shot. would it still filter out the assemblies which are not part of the framework but are gac'd manually (or by some other software like visual studio?)

[2017-05-03 18:02] kzu commented on #4853
GAC? what's that? :P Not even VS GACs anything anymore. Pointless to invest in that, I think.

On the other hand, it may be useful to honor a `%(ReferencePath.Pack) == false` metadata, now that I think about that...

[2017-05-03 18:29] mhutch commented on #4853
Assemblies resolved from the GAC will have `'%(ReferencePath.ResolvedFrom)' == '{GAC}'`, IIRC.

[2017-05-03 18:30] mhutch commented on #4853
Also, I think it's worth pointing out that you can use NuGetizer with Sdk style projects, you just need to pass `NuGetBuildTasksPackTargets` on the commandline until 15.3.

[2017-05-03 18:31] livarcocc opened #5157 "NuGet packages cannot be retrieved due to invalid certificate"
_From @cschyma on May 3, 2017 14:32_

## Steps to reproduce

ca-bundle.crt contains a root ca certificate that is also used to sign the private NuGet repository certificate.

Dockerfile:

[code]

## Expected  behavior

Successful download of all referenced NuGet packages,

## Actual behavior

[code]

## Environment data
`dotnet --info` output:

[code]

_Copied from original issue: dotnet/cli#6499_

[2017-05-03 18:46] kraigb commented on #4821
Is there a workaround to this? Can a NuGet targets file be placed somewhere in the MSBuild install folder so that msbuild /t: restore works?

[2017-05-03 19:04] dasMulli commented on #4821
I think there is https://github.com/NuGet/Home/issues/3660 already.
Even if restore worked with the build tools, they also don't contain the SDKs so you can't build the projects anyway (without modifying `MSBuildSDKsPath`) https://github.com/Microsoft/msbuild/issues/1697

[2017-05-03 20:41] mishra14 commented on #4922
This is blocked by the fact that restore does not respond with an error code indicating the type of failure. But once the work at https://github.com/NuGet/Client.Engineering/issues/32 is done (in this sprint or next), we can throw a better error to the user.

[2017-05-03 21:22] TimMurphy commented on #1448
@Mpdreamz could you please expand on how to find and fix the problem you describe?

[2017-05-03 21:40] emgarten commented on #1448
The error here is a generic message that happens when a package cannot be found. There could be many different reasons for this, if anyone is still hitting this and have they have verified that the package does exist on the feed then please open a new issue with repro details since this needs to be looked at on a case by case basis.

@Mpdreamz it seems unlikely that the solution file is causing th

[2017-05-03 22:04] IlyaBiryukov commented on #4792
The error message 'Error occurred while restoring NuGet packages: The operation failed as details for project WinObjC.Frameworks.UWP.Core could not be loaded' also occurs if Lightweight Solution Load is disabled.

[2017-05-03 23:23] chadgrant commented on #3141
yay, I get to update my cs proj's every single time I update a package, yay!

Since the references are at the PROJECT scope, you should be using the proj file as the relative root, not the solution. You can have many solutions that one project file are in.

I could even live with a proj file property to tell it where the root is, right now it's just pooping all over my drive depending on which sol

[2017-05-03 23:45] emgarten commented on #3141
Converting to use PackageReference instead of packages.config solves this issue going forward. PackageReference does not make any changes to the project files and packages are discovered from a user wide location.

http://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html

[2017-05-03 23:45] #3141 closed, assigned to nobody

[2017-05-03 23:51] chadgrant commented on #3141
yeah, won't do us any good for years, still need backwards compatibility

[2017-05-04 00:20] IlyaBiryukov commented on #4792
The issue of not building .nuproj in LSL is not specific to https://github.com/Microsoft/WinObjC/tree/packaging.

Generally, .nuproj doesn't support LSL properly.

Below are the build logs with normal verbosity for clean and build commands executed on solution node in Solution Explorer in Lightweight Solution Load (LSL) mode and without it. The solution contains a C# Desktop class library project

[2017-05-04 00:53] bojanrajkovic commented on #4337
Just got bitten by this as well, but the solution in https://github.com/NuGet/Home/issues/4337#issuecomment-292089025 worked for me as I have my version generated as part of CI scripts and can pass it around to `dotnet restore`.

Seems like a bug to me.

[2017-05-04 01:39] rohit21agrawal commented on #4853
To provide an update on this particular issue, we have a pull requested created, once that is code-reviewed we will check it into our dev branch and try to get it merged into the dotnet sdk and VS as early as possible.  I will keep this issue updated with VS build availability dates.

In the meanwhile, if you are blocked and want to use the solution in production sooner, please reach out to me at

[2017-05-04 01:45] NickCraver commented on #4853
@rohit21agrawal Can we post this `.nupkg` as an unlisted version to NuGet (pre-release or whatever would be fine for us), so all of the usual build tooling works? That makes it very easy for people to workaround the issue without pulling binaries into their git history, re-defining `nuget.config`, etc.

[2017-05-04 01:49] rohit21agrawal commented on #4853
yes, we will be able to do that. Oh, and i forgot, you will have to use the workaround of passing a junk value to your pack command```/p:NuGetBuildTasksPackTargets="asasda"```

[2017-05-04 01:56] NickCraver commented on #4853
@rohit21agrawal While I still think it's imperative this gets out to all library authors as soon as possible via regular update channels (due to the silent nature of the thing), having a workaround in place (that's also easy to consume, so thanks for that) is a good immediate relief and much appreciated.

We'll try and verify results across all of our libraries as soon as we have new bits to test.

[2017-05-04 02:22] alinapopa opened #5158 "Files without an extension cannot be added to NuGet package"
Using Visual Studio 2017 and the new project system.
File is included as:
` <Content Include="..\..\LICENSE" />`
The resulting NuGet package gives the following error when trying to open it with NuGet Package Explorer:
![image](https://cloud.githubusercontent.com/assets/8061142/25688452/1b37826a-3034-11e7-8bce-c1662893c4dd.png)
This is caused by LICENSE file not having an extension (does not happe

[2017-05-04 03:35] gulbanana commented on #4337
it's kind of a bug in the design rather than the implementation

the broader issue is that everything is now msbuild-based and msbuild no longer has standalone top-level targets. /t:build will not correctly produce your outputs unless you do a /t:restore - at which point you actually need /t:rebuild because restores aren't incremental-safe. similarly, /t:pack needs that restore first, which means

[2017-05-04 03:39] gulbanana commented on #4337
here's another example of needing to deeply understand the process or experience weird bugs: the workaround people have been using is incomplete when it's part of a larger workflow. "msbuild /p VersionSuffix=beta /t:restore;pack" will get you nuget packages with -beta, yes- but it *won't* perform a nonincremental build (so your obj/AssemblyInfo.cs isn't updated) and it won't leave your workspace i

[2017-05-04 04:36] livarcocc opened #5159 "Unable to restore packages on Linux"
_From @matjazmav on April 16, 2017 21:56_

## Steps to reproduce
- Create new console project `mkdir Hey`, `cd ./Hey`, `dotnet new console`
- Restore packages `dotnet restore`

## Expected  behavior
Successfully restore packages.

## Actual behavior
[code]

## Environment data
`dotnet --info` output:
[code]

_Copied from original issue: dotnet/cli#6336_

[2017-05-04 04:36] livarcocc commented on #5159
Can you set DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1 and run dotnet restore and share the output?

[2017-05-04 04:36] livarcocc commented on #5159
_From @matjazmav on April 23, 2017 11:4_

I'm running my "Bash on Ubuntu on Windows".

[code]

[2017-05-04 04:47] AArnott opened #5160 "AppendTargetFrameworkToOutputPath=false causes packaging errors for multi-targeting projects"
I set AppendTargetFrameworkToOutputPath=false in my projects because I use a read only source tree and redirect my bin and obj directories to other places. In particular, I add the TFM to my path myself to layout my directories in a way that makes sense for my repo. But I discovered that in setting AppendTargetFrameworkToOutputPath=false, when nuget packs my projects, it malfunctions and causes al

[2017-05-04 04:56] nguerrera opened #5161 "Major floating versions causing errors when restoring"
_From @mrahhal on April 29, 2017 13:47_

[code]

`dotnet restore` fails with the following error:

[code]

In some other cases, it's giving me:

[code]

However, if I specify the exact version, or a version like "1.0.0-*' it works. Note that both the referenced project and the source project are targeting "net461".

Looking into the source code of parsing those floating versions, I don't think thi

[2017-05-04 04:56] nguerrera commented on #5161
_From @livarcocc on May 1, 2017 3:54_

@mrahhal what do you mean by referenced project? Are you building a nupkg for the referenced project, putting it in a place configured in your NuGet.Config and referencing it?

Or is it simply a project that you have in your source tree? If that's the case, you need to reference it with a ProjectReference. Also, any chance this reference already exists in som

[2017-05-04 04:56] nguerrera commented on #5161
_From @mrahhal on May 1, 2017 5:48_

The referenced project (I'm calling "Foo") is a nuget package I'm publishing in a private myget feed. I checked the public nuget feed for the existence of a package by the same name but there isn't (the name is long and unique anyway).

Tried referencing it from a scratch new project just to make sure and the same problem occurred. Maybe Nuget/Home#5127 is rela

[2017-05-04 05:11] emgarten commented on #5161
@mrahhal is there a pre-release version of Foo on the myget feed?

``*`` will only resolve stable versions.

[2017-05-04 05:32] mrahhal commented on #5161
@emgarten the package I'm calling "Foo" has only pre-release versions yes. From reading the docs I got the idea that "*" would match the highest version, whatever it is. Is this not the case? If not, how can one match the highest version even if it was a pre-release version? (This is useful for internal packages meant to be consumed in dev and that get updated daily)

[2017-05-04 05:41] emgarten commented on #5161
There isn't a way to match the latest pre-release version currently. You need to specify it in the format 1.0.0-* to get pre-release. We're looking at ways to allow floating to the absolute latest version.

[2017-05-04 05:41] emgarten commented on #5161
Dupe of https://github.com/NuGet/Home/issues/5031

[2017-05-04 05:41] #5161 closed, assigned to nobody

[2017-05-04 07:28] JamesNK opened #5162 "'Newtonsoft.Json' already has a dependency defined for 'Microsoft.CSharp'"
Users of Json.NET are reporting this error message:

`'Newtonsoft.Json' already has a dependency defined for 'Microsoft.CSharp'`

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

Sounds like the problem is in VS2012

## Detailed repro steps so we can see the same problem

1. Install Newtonsoft.Json 10.0.2 in VS2012

2. The error!

Issue where users are reporting the

[2017-05-04 07:53] Steve51D commented on #5130
Just a little extra info - I updated to the latest beta of NGPM on VS 2015 (3.5.0.1996) and the dependencies are still not added as I would expect.
The version of NGPM I'm using in VS 2017 is 4.1.0.2427

[2017-05-04 12:18] Arturas-K commented on #545
Hi,

Just wondering is this new NuGet integration with msbuild that is coming in VS 2017 Update 1:
http://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html#what-about-other-project-types-that-are-not-net-core

Will this have any effect on sqlproj projects?

[2017-05-04 13:02] adalon commented on #4792
@IlyaBiryukov I'm not being able to reproduce the issue you're describing.

And also in your output I can see the .nuproj is included in the Clean/Build (2 succeeded and 1 up-to-date). Did you build the project before running the Clean with LSL enabled?

[2017-05-04 13:45] a-h opened #5163 "Can't use `dotnet add package` with a private repository (basic authentication)"
## Details about Problem

* dotnet --version
  - 1.0.1
* dotnet
  - 1.1
* NuGet
  - 3.5.0.1996
* MacOS Sierra
  - 10.12.4

## Steps to reproduce

1. Create a private NuGet repository (in my case using AppVeyor)
2. Add it as a source:

[code]

3. Prove that it's possible to list packages:

[code]

[code]

4 Attempt to add the private NuGet package to a dotnet project using the CLI:

[code]

## Expe

[2017-05-04 13:56] clairernovotny opened #5164 "Language Satellite assemblies not copied to output directory in CPS PackageRef for net46"
When using a NuGet package that uses satellite assemblies for localized resources in a CPS net46 with PackageReference, the localized resources are not copied to the correct subdirectory in the output folder.

.NET Core apps work fine because they resolve from the package cache directly with the .deps.json file.

To repro:
Check out the `integration-test` branch of Humanizer: https://github.com/Hu

[2017-05-04 14:35] a-h commented on #5163
Workaround: Update the csproj manually:

[code]

[2017-05-04 14:47] jnm2 commented on #5132
The only case where it makes sense to insert this is when there are no `net462` or lower folders, to allow the package to install.

[2017-05-04 15:04] clairernovotny commented on #5164
Looks like a dup/another instance of https://github.com/dotnet/sdk/issues/1006

[2017-05-04 15:15] a-h commented on #5163
Really long winded workaround:

* `mkdir download`
* `cd download`
* `nuget install my.nuget.package`
* Wait for all the downloads to complete
* Note that it's been added to the cache:
   * `ls /Users/xxx/.nuget/packages/my.nuget.package/`

* Run `dotnet restore` from the solution directory, and it will work

[2017-05-04 15:28] Mpdreamz commented on #1448
@emgarten checkout https://github.com/elastic/elasticsearch-net alter `src/Elasticsearch.DotNetCoreOnly.sln` and remove its postSolution

[code]

restore that postSolution section:

[code]

[2017-05-04 15:33] IlyaBiryukov commented on #4792
@adalon I built the solution without LSL before running any clean scenario. I cleaned the solution without LSL before running any build scenario.
The issue here is that .nuproj is always considered up-to-date in LSL mode. I bet it's going to be the same issue in 'Open Folder' mode.

[2017-05-04 15:46] adalon commented on #4792
Could you please share the solution you're using? And also paste the build output with detailed verbosity?

I just ran the following repro and the nuproj was built as expected:
1. Build sln
2. Change a .cs file in the class library
3. Build sln -> and the .nuproj project was built

[2017-05-04 15:56] IlyaBiryukov commented on #4792
It's just a simple solution with a C# Desktop Class library and a .nuproj project. The .nuproj has a p2p reference to the class library.
Did you enable _Lightweight Solution Load_?
Without LSL everything builds fine.

[2017-05-04 15:58] adalon commented on #4792
Yes, LSL enabled.

Microsoft Visual Studio Enterprise 2017
Version 15.1 (26403.3) Release

[2017-05-04 16:01] IlyaBiryukov commented on #4792
Enterprise 2017 vsuvscore 26503.01.

[2017-05-04 18:18] nguerrera opened #5165 "dotnet pack takes dependencies from other .csproj file!"
_From @joelharkes on May 4, 2017 9:33_

I have an an repo like this

[code]

My RestClient.Models.csproj consists of:

[code]

Now when i run `dotnet pack -c Release`. But in the .nupkg their are now dependencies that i register in the `RestClient.csproj`, instead of having no dependencies!

in Nuget Package Explorer:
![image](https://cloud.githubusercontent.com/assets/2960938/25697966/54695458-30

[2017-05-04 18:23] vphad commented on #4990
[ErrorLogNugetPack.txt](https://github.com/NuGet/Home/files/977171/ErrorLogNugetPack.txt)
[WebApplication1.zip](https://github.com/NuGet/Home/files/977172/WebApplication1.zip)

Hi Rohit,
PFA the required files.

[2017-05-04 18:31] kzu commented on #3516
Closing as this was fixed in the proper external

[2017-05-04 18:31] #3516 closed, assigned to kzu

[2017-05-04 18:31] kzu commented on #4133
Closing for now until a clean repro can be provided so we can use that as a regression test.

[2017-05-04 18:31] #4133 closed, assigned to kzu

[2017-05-04 18:55] #4853 closed, assigned to rohit21agrawal

[2017-05-04 19:09] joelharkes commented on #5165
It seems dependencies are taken from bin or obj folder instead of Csproj

[2017-05-04 19:09] joelharkes commented on #5165
I got it working by moving one of the project files to another folder next to it.

[2017-05-04 19:15] joelverhagen opened #5166 "Invalid .csproj PackageReference version has bad error experience"
Project:
[code]

The error is the trailing dot on the version number of Newtonsoft.Json.

Command: `nuget.exe restore ClassLibrary2.csproj`
[code]

Command: `nuget.exe restore ClassLibrary2.csproj -verbosity detailed`
[code]

If you run MSBuild directly, the error is very clear.
Command: `msbuild.exe /t:restore`
[code]

[2017-05-04 19:15] nguerrera commented on #5165
Ah! I missed the subtlety that the two projects are next to each other and end up with colliding assets file paths. Looks like a dupe of #4463, which itself dupes #4154.

[2017-05-04 19:18] joelharkes commented on #5165
@nguerrera thanks, i see the dup's, I'll close this issue.

[2017-05-04 19:19] joelharkes commented on #5165
Ah you posted it you may close it.

[2017-05-04 19:24] #5165 closed, assigned to nobody

[2017-05-04 19:46] nkolev92 commented on #5158
NuGetPackageExplorer is not a Microsoft product and it's not managed by the NuGet team.

You can create an issue for that here:
https://github.com/NuGetPackageExplorer/NuGetPackageExplorer

[2017-05-04 19:46] #5158 closed, assigned to nobody

[2017-05-04 19:52] #5142 closed, assigned to dtivel

[2017-05-04 20:17] kzu opened #5167 "If PackageFile inference makes mistakes, there's no easy way to adjust"
In NuGetizer, users typically customize packing behavior by providing targets
that run before `GetPackageContents`.

Currently, however, `GetPackageContents` does the built-in `PackageFile` inference
as well as returning the resulting items for consumption from P2P references.

This means that if the inference somehow makes a mistake or the user just wants
to tweak the results of the inference bef

[2017-05-04 20:19] rrelyea commented on #5164
Which version/build of VS are you using?

[2017-05-04 20:21] schalpat commented on #4821
@kraigb my workaround was to copy the entire NuGet directory
from DEVPC:
`C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\Common7\IDE\CommonExtensions\Microsoft\NuGet`
to BUILDMACHINE:
`C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools\Common7\IDE\CommonExtensions\Microsoft\NuGet`

[2017-05-04 20:25] clairernovotny commented on #5164
I'm using 15.2 (26430.1-Preview)

[2017-05-04 20:42] rrelyea commented on #5164
It does appear that this is the same issue as the SDK bug. Reason to keep it open over here?

[2017-05-04 20:43] clairernovotny commented on #5164
@rrelyea nope - I didn't see that bug until after I opened this one

[2017-05-04 20:47] rrelyea commented on #5164
k. thx.

[2017-05-04 20:47] #5164 closed, assigned to nobody

[2017-05-04 22:04] rohit21agrawal commented on #5160
@AArnott this has already been fixed (but not integrated into CLI) . please ping me if you are interested to use nightly build of Pack.

[2017-05-04 22:04] rohit21agrawal commented on #5160
was fixed via : https://github.com/NuGet/NuGet.Client/pull/1255

[2017-05-04 22:04] #5160 closed, assigned to nobody

[2017-05-04 22:13] rohit21agrawal commented on #4853
@NickCraver i have sent you a couple emails regarding this fix (and some issues in the Dapper Vs2017 branch).

[2017-05-04 22:16] kraigb commented on #2644
The Package Restore page now has a section on dealing with the compatibility error messages. https://docs.microsoft.com/en-us/nuget/consume-packages/dependency-resolution#resolving-incompatible-package-errors

[2017-05-04 22:17] kraigb commented on #4471
FWIW, the docs have a note about this now: https://docs.microsoft.com/en-us/nuget/tools/package-manager-ui#updating-a-package

[2017-05-04 22:18] kraigb commented on #4470
You can set the fwlink to https://docs.microsoft.com/en-us/nuget/tools/package-manager-ui#updating-a-package, which describes the scenario.

[2017-05-04 22:24] emgarten commented on #4470
@karann-msft would you up the fwlink?

[2017-05-04 22:35] emgarten commented on #5162
VS 2012 does not support *netstandard*.

The user experience here could be improved by setting the minimum client version required for the package to 2.12. This is the lowest version of NuGet that supports *netstandard*.

[2017-05-04 22:43] alinapopa commented on #5158
The same error appears for publishing:
Error publishing NuGet package artifact Packages/Castle.LoggingFacility.3.4.0.nupkg: NuGet package cannot be read: Part URI is not valid per rules defined in the Open Packaging
https://ci.appveyor.com/project/alinapopa/windsor/build/1.0.90/messages

[2017-05-04 23:07] NickCraver commented on #4853
@rohit21agrawal I'm testing locally, still working through issues - and the output is very different than previous tooling, so trying to evaluate whether it's all valid or not. Hopefully I can get Dapper building tonight and provide more feedback. The very different output will take some time to analyze, because I'm not sure what's correct or valid here.

Once I get the build working - I'll provid

[2017-05-04 23:25] CyrusNajmabadi commented on #4706
Also hitting this in Roslyn now.  We call into APIs like IVsPackageInstallerServices.GetInstalledPackages and it throws ArgumentExceptions with the above message.

[2017-05-04 23:30] NickCraver commented on #4853
I think we're still having some issues here. Repro:
1. Download Dapper [from the vs2017-test branch here](https://github.com/StackExchange/Dapper/tree/7dbd258710a1072d96ae4a02c0fb19a63da18fd8)
2. `cd Dapper`
3. `dotnet restore Dapper.csproj`
4. `dotnet pack Dapper.csproj -c Release -o ..\.nupkgs /p:NuGetBuildTasksPackTargets="000"`

This is the resulting `Dapper.nuspec` in the generated `.nupkg`:

[2017-05-04 23:32] rohit21agrawal commented on #4853
As i said  in the linked PR description (and in the email I sent) :

All implicit framework references will also be added by default. For a list of implicit references, see : https://github.com/dotnet/sdk/blob/release/2.0.0/src/Tasks/Microsoft.NET.Build.Tasks/build/Microsoft.NET.Sdk.BeforeCommon.targets#L84-L109

If you don't want to include implicity framework assembly references, you can set Dis

[2017-05-04 23:34] rohit21agrawal commented on #4853
Also, we have filed an issue on SDK to fix the implicit references: https://github.com/dotnet/sdk/issues/1179

[2017-05-04 23:39] NickCraver commented on #4853
@rohit21agrawal Gotcha - those make sense, though the default behavior doesn't (agree with the SDK issue).

Follow-up question: can you please explain the new `exclude` attribute on `<dependency>`? It's not documented currently: https://docs.microsoft.com/en-us/nuget/schema/nuspec#dependencies and is a diff vs. the previous `.nuspec`.

[2017-05-04 23:46] rohit21agrawal commented on #4853
here is the context of the exclude attribute : https://github.com/NuGet/Home/issues/3697

[2017-05-04 23:50] NickCraver commented on #4853
@rohit21agrawal okay that helps, next steps:
1. Can we get a `NuGet.Build.Tasks.Pack` with the fix uploaded to NuGet.org? (even if unlisted)
2. Can we get `exclude` [added to the documentation](https://docs.microsoft.com/en-us/nuget/schema/nuspec#dependencies)?

On 2 I realize we can edit the documentation now, but while I get the intent, it's probably better documented by those who know further i

[2017-05-05 00:02] rohit21agrawal commented on #4853
package is available on nuget.org now. will work on getting 2 done.

[2017-05-05 00:02] dsplaisted commented on #3697
Does this mean by default you won't get build targets from transitive package dependencies?  That seems really wrong.

I think the ideal way to support package project duality with this would be to have you get the targets imported when you reference a project.  I'm not sure how feasible that is.

It also seems like the current behavior also breaks package / project duality.  Consider the followin

[2017-05-05 01:34] JamesNK commented on #5162
If NuGet in VS 2012 doesn't support netstandard why is it choosing to install that target instead of net45 or PCL that it does support?

[2017-05-05 01:35] JamesNK commented on #5162
Also how does minimum client version work with csproj + pack?

[2017-05-05 01:56] mishra14 commented on #5163
@a-h
I tried this scenario and I was able to install a package from a private feed using dotnet add -
[code]

The feed - `https://mishra14.pkgs.visualstudio.com/_packaging/8e401993-92e2-4c09-8755-7c6003be8320/nuget/v3/flat2/testapp/index.json` is a private feed.

Please make sure that the config file has the right credentials. In the mean time I will try with a V2 feed as well.

[2017-05-05 01:57] AArnott commented on #5160
@rohit21agrawal yes, please. It will cost me 1-2 full days to workaround this bug. So I'd prefer to apply a patch with your nightly build if possible.

[2017-05-05 01:58] rohit21agrawal commented on #5160
i'll send you an email

[2017-05-05 02:00] emgarten commented on #4706
@davkean is there an issue tracking a fix for this on the project system side?

Having to parse these things on the caller side, evaluate all of them, and put together the result doesn't seem correct if NuGet were to do that.

If NuGet can't get the version from the PackageReference it can't restore. Quietly ignoring the error as suggested will lead to an incomplete restore result that would be di

[2017-05-05 02:05] rohit21agrawal commented on #5162
@JamesNK just specify MinClientVersion as a property in your csproj file you are packing.  https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Build.Tasks.Pack.Library/Pack.targets#L170

[2017-05-05 02:07] emgarten commented on #5162
The older client throws the error you are seeing when it reads the nuspec. It encounters two unsupported framework dependency groups (netstandard1.0 and netstandard1.3) and fails when merging the dependencies together. It doesn't get as far as selecting assets from the package unfortunately.

[2017-05-05 02:09] rohit21agrawal opened #5168 "Enable pack to infer target framework when the property is not set (in legacy package reference based projects)"

[2017-05-05 02:21] NickCraver commented on #4853
@rohit21agrawal Thank you very much for all the work here - with quite a few other changes not related to this (two `.csproj` in a single folder is a deep rabbit hole I gave up on), I've now got a working build of Dapper with packages that seem correct. I'll do more validation in the morning, but so far so good - current code is in a PR here: https://github.com/StackExchange/Dapper/pull/766

[2017-05-05 02:44] mishra14 commented on #5163
I was able to add package from the V2 feed as well -

[code]

[2017-05-05 04:54] JamesNK commented on #5162
I see! Not ideal but we can't change the past.

Ok, I'll include a min version. What value do you recommend?

[2017-05-05 06:24] emgarten commented on #5162
The system packages use 2.12, I would stick to that.

Example in nuspec:
[code]

[2017-05-05 08:37] jez9999 commented on #2735
Could someone tell me which version of NuGet this was removed in please?

[2017-05-05 09:53] icnocop commented on #1710
@yishaigalatzer can you provide an example of how to "put a . file in the folder" please?

I tried to specify a .file like `<file src=".dummy" target="content" />` but NuGet 3.5.0.1938 does not include that file in the package; the file exists and NuGet.exe succeeds without error.

However, adding an empty folder works as expected.
`<file src="dummy" target="content" />`

Thank you!

[2017-05-05 10:44] a-h commented on #5163
OK, here's a script which reproduces the same problem inside a Linux container:

I created a file called `test.sh`.

[code]

Then I executed the file inside a container:

[code]

I got exactly the same results on Linux as I did on my Mac.

[code]

Not sure what the state of your Windows machine is. Maybe the problem is only on Linux and OSX.

[2017-05-05 15:19] livarcocc opened #5169 "dotnet restore performance"
_From @Mpdreamz on May 5, 2017 11:55_

`dotnet restore` seems to behave very poorly on my machine, even in cases where nothing has changed and the lock files are in sync:

![dotnet-restore](https://cloud.githubusercontent.com/assets/245275/25744429/2bd72b22-319a-11e7-8eb1-3fdc7bad5a34.gif)

The call to `MsBuild.dll` is immediate (as is the telemetry http call). Then there is a mysterious lag befor

[2017-05-05 17:54] stakx commented on #4853
@rohit21agrawal: Thanks for making `NuGet.Build.Tasks.Pack.nupkg` available. Unfortunately however, there is another issue with it (version `4.3.0-preview1-4045`): It won't work with projects that target the .NET Framework 2.0, e.g. a `.csproj` file with `<TargetFrameworks>net20;net40</TargetFrameworks>`.

This is apparently caused by `NuGet.Build.Tasks.Pack` introducing a build-time dependency on

[2017-05-05 18:04] #5140 closed, assigned to dtivel

[2017-05-05 18:04] drieseng commented on #5162
So instead of fixing this issue, you actually advise rendering nuget packages unusable for those still stuck with VS 2012?

Note that this issue is a duplicate of #3131.

[2017-05-05 18:10] mishra14 commented on #5163
@a-h - Thanks for the script. I will see if I can run stuff on a mac and get a repro.

One thought I had was -just try `dotnet add package my.nuget.package` ?

If the command is picking up the right config file then it should resolve the feed. That might give us more information.

[2017-05-05 18:19] brandonh-msft opened #5170 "MSBuildVersion 15 not supported"
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2017-05-05 18:20] mishra14 commented on #5163
@a-h : I did some more digging and found an older issue: https://github.com/NuGet/Home/issues/2887

The problem is that dotnet does not support encrypted passwords on non-windows platform yet. `mono nuget.exe` works because mono seems to support the encryption apis that we use.

So if you do -
`mono nuget.exe sources add -Name xxx -Source https://ci.appveyor.com/nuget/xxx -Username xxx@example.com

[2017-05-05 18:21] IlyaBiryukov commented on #4792
I traced the issue down to LSL build manager ignoring .nuproj because it doesn't have a custom up-to-date check provider. [Bug 399977](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/399977). With the fix to that on VS side, I'm now seeing that the .nuproj build fails with this error in LSL mode:
[code]
It seems that it has difficulties resolving the right Nuget.Packaging.dll.
@adalon I can

[2017-05-05 18:24] emgarten commented on #5169
@nkolev92 this looks like it would be fixed with the noop work.

[2017-05-05 18:31] emgarten commented on #4706
Closing in favor of https://github.com/dotnet/project-system/issues/2129

[2017-05-05 18:31] #4706 closed, assigned to nobody

[2017-05-05 19:41] a-h commented on #5163
I updated the script to add the `-StorePasswordInClearText` flag, ran it, and got exactly the same error.

I then tried `-StorePasswordInClearText` AND replaced `dotnet add package -s https://ci.appveyor.com/nuget/xxx my.nuget.package` with `dotnet add package my.nuget.package`. In this case, it simply couldn't find my private package in the public NuGet repo:

[code]

So I'm inclined to think tha

[2017-05-05 20:25] kzu commented on #4554
Fixed with https://github.com/NuGet/NuGet.Build.Packaging/pull/114

[2017-05-05 20:25] #4554 closed, assigned to nobody

[2017-05-05 20:27] NickCraver commented on #1203
My comments from #1734:

In short: I propose making the Release Notes field markdown, or at the very least have nuget.org atuomatically convert URLs into hyperlinks in the field. Right now the breakdown of the top 50 packages on nuget.org is:
- **33** have no release notes
- **12** have only a link (or a link + a few words)
- **5** have release notes in some form

It's tedious to maintain both a c

[2017-05-05 20:37] 304NotModified commented on #1203
scratch NLog. We don't use it anymore as it takes to much time a the gain is too small (no formatting and not visible everywhere).

[2017-05-05 20:58] brandonh-msft commented on #4941
Well, now [the docs](https://docs.microsoft.com/en-us/nuget/tools/nuget-exe-cli-reference#pack) **do** show v15:

but the error persists (I just filed #5170)...

[2017-05-05 22:37] emgarten commented on #2735
@jez9999 4.0.0

[2017-05-05 22:46] emgarten commented on #5162
@drieseng are you able to repro this with NuGet 4.1.0?

[2017-05-05 22:56] mishra14 commented on #5159
[code]

[code]

Works fine on my linux box.

[2017-05-05 22:58] zhili1208 commented on #5170
Please use nuget.exe 4.1 from https://dist.nuget.org/index.html and specify MSBuildVersion 15.1, because actually msbuild version is 15.1 for VS 2017, so specifying 15 can't find msbuild

[2017-05-05 23:36] #4932 closed, assigned to shishirx34

[2017-05-05 23:39] ratidzidziguri commented on #5152
Is there any way we can achieve this?

[2017-05-05 23:40] mishra14 commented on #5163
@a-h :

The problem is that mono and dotnet resolve user and machine wide config files differently. When you add source using mono, it goes to the user wide config file that mono uses but dotnet does not know about.

Tested workaround on linux -

What this does is that it adds the source to the local ` NuGet.config` file. This is then picked up by `dotnet`.

[code]

[2017-05-06 00:57] rohit21agrawal opened #5171 "allow nuget.build.tasks.pack targets to be overrideable"
to get this behavior, we need to add "NuGetBuildTasksPackTargets" in the targets file contained within the nupkg. this will complete the fix of https://github.com/dotnet/sdk/issues/888

[2017-05-06 07:58] karann-msft commented on #4932
Did this get auto-closed again?

[2017-05-06 08:17] karann-msft commented on #4470
done

[2017-05-06 11:50] goekboet commented on #5127
When I changed the package version from 1.0.0-rc to 1.0.0 it worked.

[2017-05-06 12:54] ghost opened #5172 "dotnet restore: restoring from local nuget server."
In TeamCity I'm trying to restore my project before building it. But I'm having trouble restoring from my local NuGet server.

[Step 1/3] Starting: "C:\Program Files\dotnet\dotnet.exe" restore src/test/test.csproj
[08:44:42][Step 1/3] in directory: C:\TeamCity\buildAgent\work\279c3e8f3593f219
[08:44:47][Step 1/3]   Restoring packages for C:\TeamCity\buildAgent\work\279c3e8f3593f219\src\test\test.c

[2017-05-06 14:11] a-h commented on #5163
Thanks for the workaround! :) I'll just let my team know that until the `dotnet` command adds support for adding / restoring packages from private repositories and adding additional package sources, they need to:
  * Install Mono
  * Install NuGet
  * Add private package sources into a local NuGet.config file, making sure to not encrypt their credentials

Has the NuGet team thought of updating the

[2017-05-06 15:04] SpiegelSoft commented on #1909
I'm trying to downgrade the Xamarin.Firebase.Iid package from 41.1021.0 to 41.1001.0. It has taken AN HOUR so far. This has been an issue for years. I do not understand how it can still be happening to this extent.

[2017-05-06 15:23] SpiegelSoft commented on #1909
1 hour 20 minutes.

[2017-05-06 15:23] SpiegelSoft commented on #1909
It's complete now.

[2017-05-06 16:53] emgarten commented on #1909
@SpiegelSoft what version of NuGet are you using?

[2017-05-07 05:12] livarcocc opened #5173 "Path with space in TFS and translated to %20 after clone won't debug/run"
_From @DustinCampbell on May 6, 2017 14:12_

_From @kieferrm on May 6, 2017 0:51_

Copied from https://github.com/Microsoft/vscode/issues/25851:

- VSCode Version:

- OS Version: Ubuntu 16.04

Steps to Reproduce:

1. Place the working project folder in a directory with name "EF%20Core%20Hands-on"
2. Start to debug the project.

_(might also be a dotnet core problem)_

---

Here are the steps to re

[2017-05-07 05:12] livarcocc commented on #5173
_From @DustinCampbell on May 6, 2017 14:12_

@kieferrm: I don't think this is a C# for VS Code bug. There's not much we can do about the props files that are generated by NuGet through the .NET CLI.

[2017-05-07 05:12] livarcocc commented on #5173
_From @DustinCampbell on May 6, 2017 14:12_

I'll move your issue over to the .NET CLI repo. However, it's entirely possible this might be a NuGet issue.

[2017-05-07 05:12] livarcocc commented on #5173
This is a NuGet issue. I will move it there. However, this is how asset files work today. They are not meant to be moved around and to continue to be functional.

[2017-05-07 06:15] adamdriscoll opened #5174 "PowerShell Tools (.pssproj) Support"
NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI, Package Manager Console
NuGet version (x.x.x.xxx): 3.5.0.1938
VS version (if appropriate): dev14, dev15
OS version (i.e. win10 v1607 (14393.321)): Microsoft Windows NT 10.0.14393.0

## Repro Steps

For Package Manager Console
1. Install PowerShell Tools for Visual Studio (2015\2017)
2. Create PowerShell Project (

[2017-05-07 15:02] wilgf opened #5175 "NuGet VS and nuget.exe restore with different results in project.lock.json"
[Download All Attachments.zip](https://github.com/NuGet/Home/files/982267/Download.All.Attachments.zip)
## Details about Problem

The problem is the NuGet Package Manager in Visual Studio automatic restore writes different output to the project.lock.json file than nuget.exe does.  The end result is three xml files in TelerikLib.nupkg are omitted from the build.  Dir output for both scenarios is be

[2017-05-08 04:11] Daniel15 opened #5176 ""Issue: PowerShell file outside tools folder" with migrated VS2017 project"
## Details about Problem
When I run `dotnet pack` on a project that was converted from `project.json` to `.csproj`, I get this:
[code]

The old `project.json` contained this, which worked:
[code]

New `.csproj` contains:
[code]

Inspecting the resulting package with NuGet Package Explorer, it looks like the files are ending up in both `content\tools` and `contentFiles\any\net40\tools`:

![](http:/

[2017-05-08 04:27] Daniel15 commented on #5176
The fix was to change it to:
[code]

As documented at https://docs.microsoft.com/en-us/nuget/schema/msbuild-targets#including-content-in-a-package.

It seems like the migration from `project.json` to `csproj` does not correctly migrate `packOptions.files.include` - It doesn't set the `PackagePath` so anything outside of the `Content` directory has the wrong path.

[2017-05-08 05:41] Daniel15 commented on #5176
Moved to CLI repo https://github.com/dotnet/cli/issues/6544

[2017-05-08 05:41] #5176 closed, assigned to nobody

[2017-05-08 09:49] timothy3001 opened #5177 "Cannot install System.Diagnostics.FileVersionInfo package"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): dotnet

NuGet version (x.x.x.xxx): 2.8.1.0

dotnet.exe --version (if appropriate): 1.0.3

OS version (i.e. win10 v1607 (14393.321)): debian 8 x64

## Detailed repro steps so we can see the same problem

Add System.Diagnostics.FileVersionInfo as dependency in .csproj. Then try to run dotnet rest

[2017-05-08 09:56] timothy3001 commented on #5177
This is kinda a duplicate of https://github.com/NuGet/Home/issues/3341 as i just noticed, but I still find it odd, that you cannot use the dotnet CLI or even nuget standalone. Installing Mono next to dotnet only to have an updated version of nuget looks like a dirty workaround to me...

[2017-05-08 09:59] dasMulli commented on #5177
Is there an error when you run `dotnet add package System.Diagnostics.FileVersionInfo`?

[2017-05-08 10:09] v-luzh commented on #5073
Repro on D15Rel 26507.00 both on VS and Blend. Update the title.

[2017-05-08 10:11] timothy3001 commented on #5177
Yeah:
`  Writing /tmp/tmpvHL4X5.tmp
info : Adding PackageReference for package 'System.Diagnostics.FileVersionInfo' into project '/root/test/test.csproj'.
log  : Restoring packages for /root/test/test.csproj...
error: Object reference not set to an instance of an object.`

I have had a stack overflow question targeting this issue already because I thought I was just overseeing something: http://st

[2017-05-08 11:56] zihotki opened #5178 "Keyboard selection is broken in projects area in package manager for VS"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI

NuGet version (x.x.x.xxx): 4.1.0

VS version (if appropriate): 2017 Enterprise v. 15.1

OS version (i.e. win10 v1607 (14393.321)): win10

Worked before? If so, with which NuGet version:
As far as I remember it worked in some 3.* or 2.* version in VS 2015 SP3

## Detailed repro steps so w

[2017-05-08 12:10] zihotki opened #5179 "Selecting a project to update resets previously selected package version to 'Latest Stable'"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI

NuGet version (x.x.x.xxx): 4.1.0

VS version (if appropriate): 2017 Enterprise v. 15.1

OS version (i.e. win10 v1607 (14393.321)): win10

Worked before? If so, with which NuGet version:
It seemed to be working, but can't remember in what version, likely in 3.* in VS 2015

## Detailed rep

[2017-05-08 13:04] sjoerd222888 commented on #1077
I know this feature is not currently available. I thought of this issue here as a feature request. Closing it seems to me you have decided not to implement this feature. Can you clarify on this?

[2017-05-08 16:43] karann-msft commented on #1077
That's right. There are no immediate plans of implementing this feature.

[2017-05-08 18:13] alpaix commented on #5094
Not supported scenario.

[2017-05-08 18:13] #5094 closed, assigned to nobody

[2017-05-08 18:14] alpaix commented on #5092
Not supported scenario.

[2017-05-08 18:14] #5092 closed, assigned to nobody

[2017-05-08 18:18] alpaix opened #5180 "Lightweight Solution Load: Review and Merge"

[2017-05-08 18:23] dtbiedrzycki commented on #4994
After updating, it seems to be a bit better, but still needs improvement. My NuGetScratch in the Temp directory is currently 25GB since updating shortly after my comment in April.

[2017-05-08 18:35] emgarten commented on #5177
NuGet supports linux.

@timothy3001 would you share the stack trace from this error if you can get it? Try:
``dotnet msbuild /t:Restore /v:diag``

[2017-05-08 18:36] emgarten commented on #4994
@dtbiedrzycki what files do you see in the scratch folder?

[2017-05-08 18:49] nkolev92 commented on #5060
dev-feature-restorenoop

[2017-05-08 18:49] #5060 closed, assigned to nkolev92

[2017-05-08 18:50] nkolev92 commented on #5079
dev-feature-restorenoop

[2017-05-08 18:50] #5079 closed, assigned to nkolev92

[2017-05-08 18:51] nkolev92 opened #5181 "No-Op restore - Finish up dotnet.exe work"
Update GetRestoreSettingsTask

ProjectUniqueName doesn't have to be a path (it usually is).

This task should also take ProjectPath and use that, kind of redundant, but other tasks do it this way to allow project unique name to change.

[2017-05-08 18:52] nkolev92 opened #5182 "No-Op restore - Finish up nuget.exe work"

[2017-05-08 18:53] shishirx34 commented on #4932
Nope.. closed it because its done.

[2017-05-08 18:54] nkolev92 opened #5183 "No-Op Restore -inside Visual Studio implementation"
The VS no-op implementation needs to be aligned to the newly added one for the CLI/exe/MSBuild restores

[2017-05-08 18:59] mishra14 opened #5184 "[Consider] Keep track of a source which contains a package"
We should allow users to correlate a package with a source. This will prevent the initial discovery phase and the corresponding http calls to all the sources till the package is pulled down into the cache.

Possible solutions (In the order of preference)-

1. Allow users to correlate a source with packages in `NuGet.Config` files.

[code]
2. Create a new restore graph file.
3. Write the informatio

[2017-05-08 19:01] mishra14 commented on #5163
@a-h : I have opened a bug to track this request - https://github.com/NuGet/Home/issues/5184

[2017-05-08 19:02] mishra14 commented on #5163
duplicate of https://github.com/NuGet/Home/issues/4413. Closing.

[2017-05-08 19:02] #5163 closed, assigned to mishra14

[2017-05-08 19:02] dtbiedrzycki commented on #4994
A number of directories with guids for names and in them are what I believe to be downloaded NuGet packages (i.e. Newtonsoft.Json.9.0.1).

[2017-05-08 19:16] mishra14 commented on #4771
This should be fixed post insertions into cli and sdk. Closing.

[2017-05-08 19:16] #4771 closed, assigned to mishra14

[2017-05-08 19:18] mishra14 opened #5185 "Add equals into AssetsLogMessage to allow comparison of 2 Lock files after the warnings and errors work"

[2017-05-08 19:26] emgarten commented on #4994
That sounds like the older NuGet behavior where it cached packages in scratch. This no longer exists in 3.5.0 for Visual Studio but other tools such as ReSharper that use NuGet.Core.dll may still end up writing here and may not be cleaning it up.

[2017-05-08 19:32] rohit21agrawal commented on #5045
@StephenCleary If GeneratePackageOnBuild is set, Pack doesn't do an implicit build to avoid a cyclic dependency between build and pack targets. This is by design.

[2017-05-08 19:35] rohit21agrawal opened #5186 "Finalize mechanism to distribute localized assemblies via dotnet pack"

[2017-05-08 19:36] rohit21agrawal opened #5187 "Auto detect and install package to support NS2.0 packages to a NetFX project"

[2017-05-08 19:38] rohit21agrawal opened #5188 "add vs2015 support for installing ns2.0 packages to >= netfx 4.6.1 project"
linked to https://github.com/NuGet/Home/issues/5187

PR: https://github.com/NuGet/NuGet.Client/pull/1380

[2017-05-08 19:43] #4635 closed, assigned to rohit21agrawal

[2017-05-08 20:09] emgarten opened #5189 "[Warnings + Errors] Add NU error codes for exceptions thrown during"
Exceptions thrown during restore should contain NU error codes so that they can be written to the assets file and console with the same additional metadata as normal errors and warnings.

[2017-05-08 20:29] drieseng commented on #5162
@emgarten: The latest NuGet Package Manager available for VS 2012 is *2.8*. The download site for NuGet no longer lists VS 2012, and there's definitely not a *4.1.0* for VS 2012.

[2017-05-08 21:11] #5171 closed, assigned to rohit21agrawal

[2017-05-08 21:25] emgarten opened #5190 "[Warnings + Errors] Improve log messages"
Improve vague or misleading warning and error messages.

Messages should be split up into more granular log messages when needed. Common scenarios where a split is needed is to provide a helpful message for package dependencies vs project dependencies.

[2017-05-08 21:29] emgarten opened #5191 "[Warnings + Errors] Integration of assets log messages with the SDK"

[2017-05-08 21:35] emgarten opened #5192 "Enable .NET Core 2.0 projects to work with .NET Framework 4.6.1 compatible packages"
* Dependency groups are selected independently, there are no changes for walking the graph
* If any assets are available within a package including non-TFM specific assets then no fallback is done
* If zero assets are available and the package would be considered incompatible, then and only then fallback to trying with PackageTargetFallback to select assets
* Compatible assets are determined by wh

[2017-05-08 22:03] ek68794998 commented on #4337
We're encountering this issue as well.

The `dotnet restore` with version suffix does not work for us; we use authenticated NuGet feeds from build machines, so we *must* use `nuget restore` (as it provides credential management). NuGet's `restore` command does not accept MSBuild parameters or the `-Suffix` argument.

So, when project B references project A, B picks up the version from A's `csproj`

[2017-05-08 22:42] rohit21agrawal commented on #4337
@ekumlin yes, we will be fixing this issue, however i can't provide a timeline just yet.

But i can suggest another hack that will unblock you. There is a way to inject msbuild variables using nuget.exe. You need to set an environment variable called ``` NUGET_RESTORE_MSBUILD_ARGS```  and set its value to something like ```/p:VersionSuffix=abcd-1234```
But this will only work if you are using NuGe

[2017-05-08 22:56] ek68794998 commented on #4337
@rohit21agrawal That's good to know. We are using NuGet 4.0, so that's a good possibility. Thanks for the tip!

[2017-05-08 23:08] mishra14 commented on #5178
Verified as not working. @alpaix can you please drive this accessibility issue?

[2017-05-09 05:50] Daniel15 opened #5193 ""dotnet restore" doesn't work when project dependencies are manually specified"
## Details about Problem

Visual Studio has a "project dependencies" feature that lets you manually specify dependencies between projects in a solution:
![](http://ss.dan.cx/2017/05/Project_Dependencies_08-22.43.55.png)

In one of my open-source projects, I was using this as part of a hack with the old tooling to reference an `xproj` project from a `csproj`. That hack is no longer needed, but I fo

[2017-05-09 05:56] Daniel15 commented on #2596
This is working again! The `SearchQueryService` returns the data.

Example API request: https://api-v2v3search-0.nuget.org/query?q=packageid:microsoft.aspnetcore.mvc (note: ensure you get the endpoint URL from https://api.nuget.org/v3/index.json - **do not** hardcode `api-v2v3search-0.nuget.org`)

[code]

Consequently I've re-added the download count badge to shields.io: https://github.com/badges/

[2017-05-09 05:56] #2596 closed, assigned to rrelyea

[2017-05-09 06:06] emgarten commented on #5193
Thanks for the report @Daniel15, this will be fixed in CLI 2.0.0 and VS 15.3

Dupe of https://github.com/NuGet/Home/issues/4578

[2017-05-09 06:10] Daniel15 commented on #5193
Haha, thanks. I didn't find that issue when searching. I guess I didn't need to spend all this time building a standalone repro 😛

[2017-05-09 06:30] emgarten commented on #5193
I always appreciate a standalone repro! :smile:

[2017-05-09 07:03] emgarten commented on #5031
Dupe of https://github.com/NuGet/Home/issues/912

[2017-05-09 07:03] #5031 closed, assigned to nobody

[2017-05-09 07:06] BeBa-pL commented on #4941
Dealing with this issue since yesterday. I actually had to uninstall previous MSBuid versions on my build server and remove the -MSBuildVersion argument from the call to get it to work with 15.1.

[2017-05-09 07:06] BeBa-pL commented on #5170
Dealing with this issue since yesterday. I actually had to uninstall previous MSBuid versions on my build server and remove the -MSBuildVersion argument from the call to get it to work with 15.1.

[2017-05-09 07:06] emgarten commented on #2730
The root cause of this is https://github.com/NuGet/Home/issues/912 since floating on the patch version will exclude prerelease packages.

To make this more obvious I'm adding text to the error to specifically say that no stable version of the package could be found, and the nearest prerelease version that was found.

[2017-05-09 08:49] MiaomiaoHuangfu commented on #5084
The issue is not repro on d15rel.26507.00.

[2017-05-09 09:30] a-h commented on #5163
Just for anyone experiencing the same problem, there's of course, no way to upgrade / update packages either.

To do this, delete them from the cache, then add it again:

[code]

[2017-05-09 09:39] timothy3001 commented on #5177
Mhmmm... This is weird. Yesterday, I decided to develop and build the apps using Windows and copy the binaries over and that worked.

When I just tried to run your suggested command, i could not reproduce the error and all packages including FileVersionInfo could be retrieved correctly.

But, I found another dependency that gives me the same error: System.Net.Http. This is also a package that requ

[2017-05-09 10:02] bradphelan opened #5194 "Nugetizer doesn't install"
I tried to install

https://ci.appveyor.com/api/buildjobs/c8kgd3o5mu4vqwp6/artifacts/out%2FNuGetizer3000-VS2017.vsix

to VS2017 but it crashed with the following log

[2017-05-09 15:15] danwalmsley opened #5195 "How can I prevent FolderNugetProject using global packages folder"
I'm using FolderNugetProject class and I would like to stop nuget also keeping a copy in .nuget directory.

Is this possible?

[2017-05-09 17:33] livarcocc opened #5196 "Tools lock file should not be written to global location"
_From @pakrym on May 10, 2016 23:8_

Changing tools import would produce different lock files which will conflict if storing in global location.
@davidfowl  @piotrpMSFT

_Copied from original issue: dotnet/cli#2979_

[2017-05-09 17:33] livarcocc commented on #5196
_From @brthor on May 11, 2016 0:55_

cc @joelverhagen @emgarten

This is a design issue with imports in tools. The package graph of an individual tool is dependent on the project and is not global because of imports.

As long as we have imports I think we must move the lock file/deps file to be project local to solve this issue.

[2017-05-09 17:33] livarcocc commented on #5196
_From @joelverhagen on May 11, 2016 15:45_

@brthor, is the global lock file really needed? Can't the hosting project's lock file be inspected for the interesting bits of information, i.e. the `"tools"` and `"projectFileToolGroups"` sections in the lock file.

[2017-05-09 17:33] livarcocc commented on #5196
_From @brthor on May 11, 2016 18:0_

@joelverhagen That's a good solution but wouldn't we then need an entire lock file for the tool inside the lock file for the project?

The issue being that we need all of the same information to generate a deps file.

[2017-05-09 17:33] livarcocc commented on #5196
_From @piotrpMSFT on May 11, 2016 23:54_

We need to figure out how to get rid of imports. What is being suggested here won't scale for global commands.

[2017-05-09 17:33] livarcocc commented on #5196
_From @brthor on May 12, 2016 0:1_

Removing import support would be ideal for retaining the current design. The issue there being many of the tools rely on imports for bringing in packages like IxAsync.

Some folks suggested those tool packages could make stronger use of packInclude to work around this.

[2017-05-09 17:33] livarcocc commented on #5196
_From @piotrpMSFT on May 26, 2016 23:10_

Let's make the plan to remove imports by the time we RTM the CLI?

[2017-05-09 17:41] skofman1 opened #5197 "SemVer 2.0: client ignores metadata part when packing"
Client version: 4.3.0.4045
Repro:
1. Project used: https://github.com/NuGet/NuGetGallery/tree/master/src/NuGetGallery.Core
2.  Add attribute [assembly: AssemblyInformationalVersion("10.0.2-skofman.1.1.1.1+bla22")] for version
3. Run pack:  \\nuget\nuget\Share\Drops\CI\NuGet.Client\dev\4045\artifacts\VS15\NuGet.exe pack NuGetGallery.Core.csproj

Result: metadata part is ignored and package is creat

[2017-05-09 17:48] joelverhagen opened #5198 ""Include prerelease" checkbox on the Installed tab does nothing"
When on the Installed tab in VS, there is a search bar (which works fine), a refresh button (works fine), and an "Include prerelease" checkbox. This checkbox has not effect, which seems right. Therefore I think it should not be shown at all.

![image](https://cloud.githubusercontent.com/assets/94054/25864639/0c6ce980-34a5-11e7-8214-c44f1adf1f95.png)

[2017-05-09 17:55] livarcocc opened #5199 "Package management commands"
_From @lambdakris on February 11, 2017 23:5_

## Steps to reproduce

Install .NET Core SDK 1.0 RC4

## Expected  behavior

I've been playing around with the dotnet cli, thinking things were at a place where it might be a good idea to write some blog posts, but one of the things that I quickly ran into and was legitimately disheartening was that I could not perform common tasks available in other c

[2017-05-09 17:56] jviau commented on #4485
Ran into this creating a new .netcore project on 26507.0-Preview d15rel

[2017-05-09 18:09] cristinamanum opened #5200 "Nuget.exe pack -Version, ignores the version argument"
NuGet.exe -pack -Version does not create the version that is passed as argument.

NuGet version (4.3.0):
\\nuget\nuget\Share\Drops\CI\NuGet.Client\dev\4045\artifacts\VS15\NuGet.exe

Comand used:
 NuGet.exe pack -Version 1.0.0+git

Result:
The package created but the version is:
<version>1.0.0</version>

## Other suggested things

### Verbose Logs

Please include verbose logs (NuGet.exe <COMMAND> -

[2017-05-09 18:12] joelverhagen opened #5201 "nuget.exe pack should no longer warn about packing a SemVer 2.0.0 package"
Consider this nuspec:

[code]

Command: `nuget.exe pack jver.bugbash.dependency.nuspec`
[code]

This is a SemVer 2.0.0 package because the dependency version range has a dot in it, i.e. `1.0.0-alpha.1`.

However `nuget.exe pack` does not warn about this SemVer 2.0.0-ness like it does when the package version itself has a dot.

[code]

Command: `nuget.exe pack jver.bugbash.dependency.nuspec`
[code]

[2017-05-09 18:12] emgarten commented on #5196
Import support for tools was removed in 4.0.0

[2017-05-09 18:12] #5196 closed, assigned to nobody

[2017-05-09 18:22] a-h commented on #5163
What a massive waste of time this was.

It's actually really simple to get `dotnet restore` to work. Simply create a NuGet.config file in the solution directory and it will automatically be used.

I wrote a Python file to do it based on environment variables I pass into the build server:

[code]

[2017-05-09 18:54] emgarten commented on #5201
The analysis should check the ranges. We should also get rid of this check and warning completely, I think it was originally decided that it would go away when nuget.org supported semver2.

It isn't bad to be aware of the down level issues, but there have been several complaints from users who don't want to see this warning.

[2017-05-09 18:55] joelverhagen commented on #5201
Sounds reasonable. As long as the story is consistent, LGTM.

[2017-05-09 19:04] agr opened #5202 "Nuget.exe restore help claims support for project.json which does not actually work"
Nuget.exe Version: 4.3.0.0

nuget.exe claims it is able to restore the packages using project.json:
[code]

But when it is actually attempted it produces an error:
[code]

[2017-05-09 19:19] lambdakris commented on #5199
Hope this can get some traction. Even with editor tooling that does this, it would be great (and consistent with other common package managers) to be able to perform these basic package management operations from the command line.

[2017-05-09 19:47] joelverhagen opened #5203 "dotnet add package should normalize the version range it writes to csproj"
[code]

In the .csproj:
[code]

When the same thing is done from PMC in VS, the result is different:
[code]
[code]

We should also consider writing the proper casing of the ID from the installed package.

/cc @mishra14

This is low priority as it is purely aesthetic.

[2017-05-09 20:02] mishra14 commented on #5202
@emgarten

[2017-05-09 21:46] mishra14 commented on #5193
Closed as dupe

[2017-05-09 21:46] #5193 closed, assigned to nobody

[2017-05-09 21:59] rohit21agrawal commented on #5200
@cristinamanum just checked, it is +git part and not actually ignoring the version argument. this is being tracked by https://github.com/NuGet/Home/issues/5197

[2017-05-09 22:02] #5200 closed, assigned to nobody

[2017-05-09 22:19] #5202 closed, assigned to mishra14

[2017-05-09 22:31] mcmellawatt commented on #640
I wanted to add that we have been seeing this with init.ps1, install.ps1, and uninstall.ps1 somewhat sporadically.  It seems the execution policy sometimes gets demoted but it isn't clear when it happens.

Version info:
NuGet Package Manager for Visual Studio 2015 Version 3.4.4.1321

Here is the error with the package and project details scrubbed out:

`Executing script file '<packagepath>\tools\i

[2017-05-09 22:32] mishra14 commented on #5195
@danwalmsley Could you please give us more details about how you plan on using the class?

[2017-05-09 22:34] mishra14 commented on #5197
@rohit21agrawal could you please evaluate this?

[2017-05-09 22:37] mcmellawatt commented on #1292
Any updates on this?  We have logic that needs to be executed on package restore as well, and it is not intuitively obvious that the workaround is to close/reopen the solution so init.ps1 gets called.  I'd even be happy if there was a separate restore.ps1 that I can duplicate the logic in, if it is less invasive.  Right now we are just struggling to use these NuGet package lifecycle scripts in any

[2017-05-09 23:08] mishra14 commented on #5198
Discussed offline with @joelverhagen.

Not a bug but the confusion was about the behavior of the in`include prerelease` check box in the installed tab.

Options -
1. Rename the `include prerelease` checkbox to imply that this only changes the visible updates.
2. Remove the `include prerelease` checkbox.
3. No-Op and close this by design since we have not had any customer complains.

[2017-05-09 23:08] mishra14 commented on #5198
@rrelyea @anangaur can you please comment on the right behavior here.

[2017-05-09 23:12] mishra14 commented on #5199
@lambdakris : we already have tracking issues for this: https://github.com/NuGet/Home/issues/4102 and https://github.com/NuGet/Home/issues/4103.

These requests have been discussed and triaged for future work. It just does not fit into our work for VS 15.3 release. Hopefully soon after! :)

[2017-05-09 23:12] #5199 closed, assigned to nobody

[2017-05-09 23:14] mishra14 commented on #4102
feature request from: https://github.com/NuGet/Home/issues/5199

Maybe list should have an option for displaying all out of date packages.

[2017-05-09 23:14] anangaur commented on #5199
Thanks for the feedback. I think all 3 asks are the right set of asks for the 'list' command with additional parameters to it for each of these scenarios.

We have a backlog item for supporting list command: https://github.com/NuGet/Home/issues/4102

[2017-05-09 23:15] mishra14 commented on #4966
dupe: https://github.com/NuGet/Home/issues/4102

[2017-05-09 23:15] #4966 closed, assigned to nobody

[2017-05-09 23:16] mishra14 commented on #4899
dupe of https://github.com/NuGet/Home/issues/4102 and https://github.com/NuGet/Home/issues/4103

[2017-05-09 23:16] #4899 closed, assigned to nobody

[2017-05-09 23:16] anangaur commented on #4966
Thanks @mishra14 . Was about to do the same :)

[2017-05-10 00:14] zhili1208 opened #5204 "Lightweight Solution Load: Integration + Bugs"

[2017-05-10 01:39] davkean commented on #5154
Yes, see this guideline I just wrote: https://github.com/dotnet/project-system/blob/master/docs/repo/coding-conventions.md#data

[2017-05-10 08:17] v-luzh commented on #3318
@rrelyea, this issue is fixed on VSUWPT 26509.00+NuGet Client 4.3.0.4052 according to our verification. Please help to close this bug, thanks.

[2017-05-10 08:20] v-luzh commented on #3979
@rrelyea, this issue is fixed on VSUWPT 26509.00+NuGet Client 4.3.0.4052 according to our verification. Not support uninstalling NuGet Vsixinstaller for now. Please help to close this bug, thanks.

[2017-05-10 09:02] v-luzh commented on #4862
@rrelyea, this issue is fixed on VSUWPT 26509.00+NuGet Client 4.3.0.4052 according to our verification. Please help to close this bug, thanks.

[2017-05-10 09:05] v-luzh commented on #3841
@rrelyea, this issue is fixed on VSUWPT 26509.00+NuGet Client 4.3.0.4052 according to our verification. Please help to close this bug, thanks.

[2017-05-10 09:12] v-luzh commented on #3856
@rrelyea, this issue is fixed on VSUWPT 26509.00+NuGet Client 4.3.0.4052 according to our verification. Please help to close this bug, thanks.

[2017-05-10 09:13] v-luzh commented on #4682
@rrelyea, this issue is fixed on VSUWPT 26509.00+NuGet Client 4.3.0.4052 according to our verification. The non-insertable vsix can be installed successfully. Please help to close this bug, thanks.

[2017-05-10 09:21] AndyTian-Devops opened #5206 "[Test Failure]Fail to create UWP and Web application on VS2015 after installing dev build 2501"
**NuGet Version:** 4.3.0.2551
**VS Version:** VS 2015 MU35 25431.01
**OS Version:** Windows 10 TH2_Release 10586

**Repro Steps:**
1.Create a C# UWP project or MVC application

**Expected Result:**
Project can be created successfully.

**Actual Result:**
UWP:
![nugetclient2551uwp](https://cloud.githubusercontent.com/assets/12235523/25887238/ca219bb2-3593-11e7-92e6-529613ee4ce4.png)

MVC:
![nugetcl

[2017-05-10 09:24] v-atian commented on #5206
This issus not repro on VS2017

[2017-05-10 09:25] AndyTian-Devops commented on #3318
This issue have been fixed, close it.

[2017-05-10 09:25] #3318 closed, assigned to nobody

[2017-05-10 09:26] AndyTian-Devops commented on #3841
This issus have been fixed, close it.

[2017-05-10 09:26] #3841 closed, assigned to nobody

[2017-05-10 09:28] #3979 closed, assigned to nobody

[2017-05-10 09:28] #4862 closed, assigned to nobody

[2017-05-10 09:29] #4682 closed, assigned to nkolev92

[2017-05-10 09:29] #4725 closed, assigned to nobody

[2017-05-10 09:30] #4315 closed, assigned to nobody

[2017-05-10 09:31] #4345 closed, assigned to nobody

[2017-05-10 09:32] v-nancyj commented on #4275
This issue is fixed on VSUWPT 26509.00+NuGet Client 4.3.0.4052 according to our verification. close it.

[2017-05-10 09:32] #4275 closed, assigned to nobody

[2017-05-10 09:33] v-luzh commented on #3564
@v-atian, this issue is fixed on VSUWPT 26509.00+NuGet Client 4.3.0.4052 according to my verification. Please help to close this bug, thanks.

[2017-05-10 09:33] #3856 closed, assigned to rrelyea

[2017-05-10 09:44] careri opened #5207 "PMUI should support more Navigation with keyboard"
## Details about Problem

NuGet product used (VS UI):

NuGet version (x.x.x.xxx):
NuGet Package Manager, 4.1.0

VS version (if appropriate):
2017

OS version (i.e. win10 v1607 (14393.321)):
win10 v1607 (14393.1066)

Worked before? If so, with which NuGet version:
Visual Studio 2012

## Detailed repro steps so we can see the same problem

1. Open Visual Studio 2012, go to package manager

2. Switch

[2017-05-10 09:45] AndyTian-Devops commented on #3564
This issue have been fixed, close it.

[2017-05-10 09:45] #3564 closed, assigned to nobody

[2017-05-10 12:46] a-h opened #5208 "Where is `donet nuget update`?"
I've got a solution which fails to build, the error is:

[code]

Ah, OK, there's a dependency problem. Fortunately, I've been developing in .Net for for years and so I've seen these before. The quick solution is probably to upgrade all of the packages in the solution to the same versions.

Since I used the `dotnet add` command line to add a package, there must be a `dotnet update` to update packag

[2017-05-10 13:21] marono commented on #3935
Hey, can someone please guide me on how I can achieve this? I've got a .net core package with some contentFiles and I need to have them copied to the output of the root project. Can't find a way to have the copyToOutput attribute attached in the nuspec file as described here:

https://docs.microsoft.com/en-gb/nuget/schema/nuspec#contentfiles-with-visual-studio-2015-update-1-and-later

Using VS2017

[2017-05-10 13:27] danwalmsley commented on #5195
@mishra14 hey,

Basically I want to use nuget packages as a way of distributing extensions for an application I have developed.

Everything works pretty well but I end up with 2 copies of the nuget package, 1 in the .nuget folder and one in the directory represented by my FolderNugetProject, id like to only have 1 package (some of the extensions published to my private nuget server are around 0.5g

[2017-05-10 15:00] augustoproiete opened #5209 "NuGet Server cannot find (and doesn't list in the feed) some newly pushed packages"
I'm using the latest NuGet Server released as of now (v2.11.3) to host my company's NuGet feed, and after pushing new packages to the server via nuget push, although the packages are being received and stored correctly in the nuget packages folder in the server, they are not being listed in the feed when using Visual Studio (Browse) and trying to install specific versions via NuGet Console also wo

[2017-05-10 15:30] AArnott commented on #4290
This is happening again, when using this version:

[code]

[code]

If NuGet Tasks are only built against .netstandard, then the bug here is probably this: https://github.com/dotnet/cli/issues/6333#issuecomment-295363294

The error I see is intermittent, and that's consistent with @rainersigwald's analysis in the linked bug as well.

[2017-05-10 15:39] AArnott commented on #4290
It looks like the task assembly _is_ compiled for net45, but its reference to System.IO.Compression,4.1.0.0 is not in the framework and can't be (reliably) found .

[2017-05-10 15:40] evil-shrike commented on #5162
Hi.
I'm having an issue with the same error but unrelated to netstandard.
I'm restoring packages (with `nuget.exe Restore`, nuget 3.4/3.5) for a solution from several nuget sources.
Projects in the solution have different dependencies for Newtonsoft.Json: project1 depends on 6.x and project2 depends on 10.x.
Source1 has 6.x version of Json.net and source2 has 10.x:
[code]
Source1/Source2 can be fo

[2017-05-10 15:44] AArnott commented on #4290
It looks like System.IO.Compression,4.0.0.0 is available in the GAC. Can you reference that in your net45 targeted Task assembly instead?

[2017-05-10 17:05] rohit21agrawal commented on #4290
@AArnott we don't have a direct dependency on System.IO.Compression , so i am not sure what we can do on our side to change 4.1.0 to 4.0.0 .
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Build.Tasks.Pack.Library/NuGet.Build.Tasks.Pack.Library.csproj
It's actually the dependency on Netstandard.library which is brining in system.io.compression 4.1.0

![image](https://cloud.gith

[2017-05-10 20:21] eMelero commented on #5162
exactly same issue, it worked installing older Newtonsoft.Json version trhough PM (Package Manager Console)
PM> Install-Package Newtonsoft.Json -Version 9.0.1

[2017-05-10 21:17] dirq commented on #4193
I think I fixed mine by renaming D:\ProgramFiles\VisualStudio\2017\Enterprise\MSBuild\Microsoft\NuGet to something else (NuGet-OLD).  Your VS install directory is probably different.

[2017-05-10 21:52] skofman1 opened #5210 "NuGet 2.x no longer installs Json.NET on VS2010"
@rboy1 commented on [Wed May 10 2017](https://github.com/NuGet/NuGetGallery/issues/3935)

I have VS2010 and can't upgrade. So I'm limited to NuGet 2.8.3.
However NuGet 2.8.3 no longer installs Json.NET 10.x, the author says it's a NuGet issue and nothing he can do about the package.

Can NuGet 3.x be made compatible with VS2010 or alteast find a patch to why 2.8.3 won't install Json.NET 10.x

Plea

[2017-05-10 23:29] emgarten commented on #5210
Dupe of https://github.com/NuGet/Home/issues/5162

[2017-05-10 23:29] #5210 closed, assigned to nobody

[2017-05-10 23:30] emgarten commented on #5162
The root cause of this issue is https://github.com/NuGet/Home/issues/3131

[2017-05-10 23:30] #5162 closed, assigned to nobody

[2017-05-11 00:15] livarcocc opened #5211 "dotnet restore exit code is always 0"
_From @Jonathan34 on May 10, 2017 21:41_

## Steps to reproduce
- have an invalid csproj:
[code]
then dotnet restore

## Expected  behavior
[code]
## Actual behavior
exit code is 0

## Environment data
`dotnet --info` output:

[code]

_Copied from original issue: dotnet/cli#6569_

[2017-05-11 00:15] livarcocc commented on #5211
_From @nguerrera on May 10, 2017 22:46_

Interestingly, this does not repro on Windows

[code]

[2017-05-11 00:15] livarcocc commented on #5211
_From @Jonathan34 on May 10, 2017 22:51_

This is my test script

[code]
Does not fail :(

[2017-05-11 00:30] mqudsi opened #5212 "NuGet incorrectly classifies UWP as .NET Standard 1.3 instead of .NET Standard 1.4"
I'm hoping that this is the right place to raise this issue, and apologize and beg direction if it isn't.

In [the official "release article" for .NET Standard](https://blogs.msdn.microsoft.com/dotnet/2016/09/26/introducing-net-standard/), Microsoft includes a char wherein the compatibility of each .NET platform is charted against its implemented version of .NET Standard:

<img src="https://wpcf.n

[2017-05-11 00:41] mqudsi opened #5213 "NuGet/PM parsing "UAP10" or "UAP10.0" as "10.0.0.0", complaining it is less than "10.0.1024.0" which is the actual minimum"
Once again, I'm hoping that this is the right place to raise this issue, and apologize and beg direction if it isn't.

Visual Studio 2017 projects (and previous versions, for what its worth) targeting UWP are created including the following in the `.csproj`:

    <TargetPlatformIdentifier>UAP</TargetPlatformIdentifier>
    <TargetPlatformVersion Condition=" '$(TargetPlatformVersion)' == '' ">10.0.

[2017-05-11 01:09] nguerrera commented on #5211
I don't think this is a nuget issue. msbuild failed to load the project file, it is not the restore targets job to make that result in a non-zero exit. I will reopen on the CLI side, feel free to close this.

[2017-05-11 01:14] rohit21agrawal commented on #5084
closing this since no repro. please activate if you encounter this again.

[2017-05-11 01:14] #5084 closed, assigned to nobody

[2017-05-11 01:19] rboy1 commented on #3131
I am stuck on VS2010 due to a dependent on the installer. Can this please be patched and released so that VS2010 can also benefit from the VS2012 patches. I have a whole host of projects that are being maintained on VS2010 that can't be migrated but rely on nuget for new libraries including Json.net which is now broken!

[2017-05-11 04:54] JamesNK commented on #5021
I've installed VS 15.2 and I still get this error

[2017-05-11 04:57] AArnott opened #5214 "Command line restore skips some projects in sln"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

Failure is observed with `msbuild /t:restore` and `dotnet restore`

dotnet.exe --version (if appropriate): 2.0.0-preview1-005842

VS version (if appropriate): 15.2.0 and 15.3 (26507.0 d15rel)

OS version (i.e. win10 v1607 (14393.321)): win10 14393.rs1_release_sec.170327-1835

Worked before? If

[2017-05-11 07:24] #5123 closed, assigned to nobody

[2017-05-11 07:33] emgarten opened #5215 "NuGet.exe logs errors to standard out instead of the error stream"
NuGet.exe currently logs only ErrorSummary to the error stream, and in some cases exceptions.

Normal errors logged using ILogger.LogError appear in red text, but are not actually in the error stream.

The current design was done for restore, however this is breaking scenarios outside of restore.

[2017-05-11 07:54] jairbubbles commented on #1219
There is a duplicate issue here which seems to get more activity: https://github.com/NuGet/Home/issues/4537

[2017-05-11 08:02] singlewind commented on #4393
I can confirmed this within **microsoft/aspnetcore-build:1.0-1.1**

At the moment, I use the following line in linux as workaround inside the above build container.
`find obj/Docker/publish -name '*.nupkg' | xargs -i dotnet nuget push {}`

[2017-05-11 12:07] TonyValenti opened #5216 "What's wrong with my App.nuspec? Why aren't files being excluded?"
Hi All,
I have an app.nuspec file that, for some reason, doesn't seem to be excluding files.  Can anybody take a look and figure out why?

[App.nuspec.txt](https://github.com/NuGet/Home/files/992906/App.nuspec.txt)

Specifically, the line:
 <file src="bin\*.exe"                 target="lib\net46\"                     exclude="**\*.vshost.*;**\*.Build.*;**\*AlphaDrive.Windows.Build.*;**\*Build*"

[2017-05-11 15:44] dardino commented on #4884
I have the same problem when updating from 9.0.1 to 10.0.2:

[code]

[2017-05-11 18:01] rohit21agrawal commented on #5021
@JamesNK  the fix didn't make it into 15.2. we are still considering a servicing release, but i can't say for sure yet.
You can find the workaround to apply in the meanwhile in this thread.

[2017-05-11 18:02] emgarten commented on #5211
Thanks @nguerrera, please reopen if you see any NuGet issues related to this.

[2017-05-11 18:02] #5211 closed, assigned to nobody

[2017-05-11 18:04] emgarten commented on #5214
@AArnott are you using project build ordering in this solution? Is there anything unique about how these projects are referenced?

[2017-05-11 18:20] rohit21agrawal commented on #5216
please attach a repro project if possible. that will help speed up the investigation.

[2017-05-11 18:24] emgarten commented on #5213
@mqudsi does your project contain a ``project.json`` file? Does WebAllowedObjects contain ``PackageReference`` items in the csproj?

[2017-05-11 18:25] mqudsi commented on #5213
@emgarten no and no.

[2017-05-11 18:27] mqudsi commented on #5213
I updated a typo in the original comment (blrgh markdown):

should be

[2017-05-11 18:38] steve-torchia commented on #4358
@stevenscreek  We're in the same boat.  Is your tool on GitHub by any chance?  Was about to roll my own when I came across your post

[2017-05-11 18:48] #2730 closed, assigned to emgarten

[2017-05-11 18:48] #5145 closed, assigned to emgarten

[2017-05-11 18:48] #4620 closed, assigned to emgarten

[2017-05-11 18:48] #5215 closed, assigned to emgarten

[2017-05-11 18:51] #4305 closed, assigned to mishra14

[2017-05-11 18:51] mishra14 commented on #5185
merged: https://github.com/NuGet/NuGet.Client/commit/9668f4948c806204606003bb7fda263f3ba1e3bb

[2017-05-11 18:51] #5185 closed, assigned to mishra14

[2017-05-11 19:00] jseely opened #5217 "VS 2017 MSBuild.exe pack command produces bad .netstandard 1.6 packages"
NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): msbuild.exe

msbuild version (x.x.x.xxx): 15.3.118.39484

VS version (if appropriate): VS 2017 Update 2 RTM

OS version (i.e. win10 v1607 (14393.321)): Win10 15063.296

## Detailed repro steps so we can see the same problem

1. use MSBuild.exe to create a nuget package (`msbuild.exe /t:pack`) for a .netstandard 1.6 libr

[2017-05-11 19:06] rohit21agrawal opened #5218 "have option to cancel restore/Install/Uninstall in VS UI"

[2017-05-11 19:07] rohit21agrawal commented on #5217
can you attach or show the contents of the package?

[2017-05-11 20:12] jseely commented on #5217
These are the contents of the package
[code]

[2017-05-11 20:20] rohit21agrawal commented on #5217
Dll is not in your framework directory. Can you've attach your csproj and the exact command you used to pack?

[2017-05-11 21:08] jseely commented on #5217
I used `msbuild.exe /t:pack /p:Configuration=Release /p:IncludeSymbols=true`

My csproj is:
[code]

[2017-05-11 21:20] jseely commented on #5217
Can't repro the issue anymore, closing the issue.

[2017-05-11 22:06] emgarten commented on #4251
NETStandard is not fully compatible with portable class libraries.

To allow installing PCLs add an imports of portable-net45+win8 to the project.
See https://docs.microsoft.com/en-us/nuget/schema/project-json for an example of how to add this.

Note that for NETCore SDK projects using *PackageReference* the property name is now *PackageTargetFallback*.

[2017-05-11 22:12] lshearer opened #5219 "NuGet push fails (timeout) with innocuous changes to C# source code"
Our team at Hudl has encountered an odd issue after adding a new feature to one our of .NET Core packages. The result is that although the assembly builds fine, runs correctly, and packages without error, it fails with a timeout when pushing to a NuGet server.

Although we first encountered this issue while pushing to our private [Nexus](https://github.com/sonatype/nexus-public) server installatio

[2017-05-11 22:19] AArnott commented on #5214
Great question. Yes, in fact the same two projects that are skipped in package restore are the two that have sln-expressed project dependencies on other projects.

[2017-05-11 22:26] mesheets commented on #4251
@emgarten This doesn't seem to explain why 3.4.4 succeeded and ran without error, whereas newer versions fail. Did you attempt the reproduction steps?  As can be seen and demonstrated in the sample code that was uploaded, this is _not_ a cross-PCL/NETStandard issue.  The PCL projects are only referencing PCL projects, and the NETStandard projects are only referencing NETStandard projects.  Thus, t

[2017-05-11 22:40] mesheets commented on #4251
According to the https://docs.microsoft.com/en-us/nuget/schema/target-frameworks documentation page (among others, as noted in an earlier comment), Profile44 is explicitly listed as analogous with netstandard1.2.

In the attached sample, the PCL projects target Profile44, and the DNX projects target netstandard1.4.

A project targeting netstandard1.4 should be able to reference a project/assembly

[2017-05-11 23:17] #2446 closed, assigned to emgarten

[2017-05-11 23:22] emgarten commented on #4251
@mesheets does adding imports to your netstandard1.4 project resolve the issue for you?

[2017-05-11 23:46] wes-goulet commented on #2696
Any updates on this?  No activity for 9 months, this hurts our ability to share resx strings across UWP and Xamarin projects.

[2017-05-11 23:58] natemcmaster opened #5220 "Proposal: implement a SdkResolver for NuGet packages"
MSBuild 15.3 includes an new API, Microsoft.Build.Framework.SdkResolver. (see https://github.com/Microsoft/msbuild/pull/2002). In theory, we could implement a `NuGetPackageSdkResolver` that resolves the "Sdk" property to files in the NuGet cache.

**Goal**
Distribute versioned MSBuild tasks, targets, and other tooling as a NuGet package.

**Usage**
[code]
In this example, `Microsoft.Net.Sdk` is no

[2017-05-12 00:11] emgarten commented on #5220
This looks like a great idea! I've been looking for a good extension point for tool packages that need to participate in restore such as git versioning packages. Currently NuGet excludes these imports during restore since they can cause the 1st and 2nd restore results to differ. If this ran before hand it would solve the issue.

Lineups is an interesting scenario here, this could work to override

[2017-05-12 00:20] emgarten commented on #5218
related to https://github.com/NuGet/Home/issues/487

[2017-05-12 00:28] emgarten commented on #5220
I'll try a few things with *SdkResolver* and see how it goes. Do the items need to be named *SDK*? NuGet would need a good way to determine if these are actually packages or not since it would need to attempt finding these from all sources.

[2017-05-12 00:37] mishra14 commented on #5208
@a-h : You can use dotnet add as update for now.

You can say `dotnet add package <package_id> --version higher_version`.
Or you could also use `dotnet add package <package_id>` to update to the latest stable package.

We also have a backlog item for a dedicated `dotnet update package` command at: https://github.com/NuGet/Home/issues/4103

Please let us know if this unblocks you.

[2017-05-12 00:38] natemcmaster commented on #5220
There are some quirks here to think, through, such as deciding how to resolve the package version to use (i.e. when no version is provided) and making SDK lookup fast despite the need to hit the network.

The samples above were just one syntax. The value for SDK can come from an attribute on Project and Import as well:
[code]
[code]

[2017-05-12 00:40] mishra14 commented on #5216
@rohit21agrawal please take a look. thanks.

[2017-05-12 00:43] AArnott opened #5221 "15.3 Preview's in-VS package restore fails where command line restore succeeds"
dotnet.exe --version (if appropriate): 2.0.0-preview1-005842
VS version (if appropriate):  d15rel 26510.00

Worked before? If so, with which NuGet version: I believe it worked fine in VS 15.1 and probably 15.2.

## Detailed repro steps so we can see the same problem

[code]

Build succeeds.

But it fails in Visual Studio:

1. Open the solution Visual Studio 15.3 Preview.
1. Build. (Visual Studio e

[2017-05-12 00:44] AArnott commented on #5221
My workaround for now will be to disable automatic package restore in VS and restore from the command line. It's the same workaround I've used for much of VS2015, sadly. I hope this in-VS package restore experience can be made as reliable as the command line one soon.

[2017-05-12 00:45] emgarten commented on #5214
In that case this might be caused by https://github.com/NuGet/Home/issues/4578

[2017-05-12 00:46] rohit21agrawal commented on #5152
@ratidzidziguri unfortunately no, there is no way to provide two files with the same target path in the nupkg and expect it to work. however, we will take your feedback of providing a switch for resolving file conflicts and consider in the future.

Thanks!

[2017-05-12 00:48] jseely commented on #5217
I was able to repro it again the with following steps:
1. Create a new `.net core` or `.net standard` project in VS 2017 Update 2 RTM
2. Use `msbuild.exe` that comes with VS 2017 Update 2 RTM to create a nuget package for that project (`msbuild.exe /t:pack /p:Configuration=Release /p:IncludeSymbols=true`)
3. Package contains `lib` directory with DLL directly placed there (should be in `lib/<framew

[2017-05-12 00:53] rohit21agrawal commented on #5217
@jseely  i can't repro this VS2017 update 2 RTM. i tried this on the attached project, and the resultant nupkg is in the bin dir of the project.
[pack5217.zip](https://github.com/NuGet/Home/files/994760/pack5217.zip)

[2017-05-12 01:25] AArnott commented on #5214
I agree. But that issue seems to be closed. Does that mean it wasn't fixed, or simply that 15.3 Preview 1 doesn't include the fix?

[2017-05-12 01:30] AArnott commented on #5220
This sounds very interesting, because both as @emgarten said for git versioning packages and also for real SDKs.
In your description, @natemcmaster, you explicitly excluded Microsoft.NET.Sdk as a potential example of an SDK acquired from NuGet. But why couldn't it come from NuGet? Honestly that's what gets me the most jazzed about your proposal here. I want all my build dependencies to come from N

[2017-05-12 02:12] natemcmaster commented on #5220
Early versions of the Microsoft.NET.SDK actually were NuGet packages. There's an issue on the backlog to make it available via NuGet  -- https://github.com/dotnet/sdk/issues/300 --
But there are some features that would be harder to implement, like the templates, bundled versioning of the runtime, and some of the "dotnet command" functions that aren't actually msbuild targets.

Btw, I think this r

[2017-05-12 03:10] stevenscreek commented on #4358
@steve-torchia Unfortunately, it's not (and there's not much I can do to make that change).

[2017-05-12 03:21] emgarten commented on #5214
Looks like the fix would be in Preview 2.

15.3 Preview 1 has NuGet 4.3.0.2418 which was right before the fix went in.

[2017-05-12 03:22] emgarten commented on #5214
I'm going to close this as a dupe of the original issue. Let me know if you see any problems with this in Preview 2.

[2017-05-12 03:22] #5214 closed, assigned to nobody

[2017-05-12 07:58] magol opened #5222 "Failed to add NuGet from the UI when <AssemblyName> is not fixed."
## Details about Problem

NuGet product used: VS UI

dotnet.exe --version (if appropriate): 1.0.4

VS version (if appropriate): 15.2 (26430.4)

OS version (i.e. win10 v1607 (14393.321)): Microsoft Windows [Version 6.1.7601]

## Detailed repro steps so we can see the same problem

1. Create a new project of type "Class Library (.NET Standard)"

2. In the "Solutution Explorer", right click on the pr

[2017-05-12 09:23] jlanng commented on #4809
@Kralizek Perhaps msbuild is using an old version of nuget for the restore task? You can specify it with /p:RestoreTaskAssemblyFile

[2017-05-12 13:56] ratidzidziguri commented on #5152
This is exactly what i was referring to that if file in destination is already in list it should be simply replaced as in enterprise enterprise packaging and the way i described it (when u have single base product and per client customization which might involve modifying base product file for specific customer) you are deploying base plus client specific modifications as single product so this mi

[2017-05-12 14:51] a-h commented on #5208
Thanks, I hand cranked the XML which fixed the issue. The workflow was tedious though:

There's a `dotnet list reference` command, but sadly it only shows the project references, not the nuget packages.  I was hoping there would be `dotnet list packages` command, then I could pipe the output of that into some sort of `nuget find` command and find packages which need updating.

So I ended up copyin

[2017-05-12 14:51] #5208 closed, assigned to mishra14

[2017-05-12 16:25] rainersigwald commented on #5220
Please don't reinvent this! This is the entire goal of MSBuild SDKs. We're making incremental progress in conjunction with the SDK team (and, I thought, the NuGet team, but this issue reveals that that understanding was wrong).

cc @AndyGerlicher @Microsoft/msbuild-maintainers

[2017-05-12 16:27] jseely commented on #5217
@rohit21agrawal back to not being able to repro this myself. It's weird, I managed to repro it two or three times in a row when I reopened but now it's working correctly... There must be something else interfering, I'll close the Issue for now but if I can get a more consistent repro, I'll reopen.

[2017-05-12 16:27] #5217 closed, assigned to nobody

[2017-05-12 16:41] IlyaBiryukov commented on #4792
I've figured out what the issue was and have the fix for it in VS.
It'll be fixed in the upcoming release of Visual Studio.

@kzu, @adalon, you can close this issue.

[2017-05-12 16:50] natemcmaster commented on #5220
Can clarify what you're working on with the SDK team? The main thing I'm after is a way to install targets/tasks from arbitrary NuGet packages. PackageReference is not quite good enough for reasons listed above, so I opened this issue on NuGet as a way to improve the acquisition story for MSBuild targets/tasks. Is there something else in the works that would overlap with this?

[2017-05-12 18:11] mishra14 commented on #5208
@a-h thanks for closing this. There is a backlog for list as well: https://github.com/NuGet/Home/issues/4102.

[2017-05-12 18:59] kzu commented on #5186
This is already supported in NuGetizer (has mostly always been, rather?)

[2017-05-12 19:01] rohit21agrawal commented on #5186
Does nugetizer add all localized assemblies to the same nupkg? Or creates nupkg per culture?

[2017-05-12 19:47] jainaashish opened #5223 "VS hang while trying to load UIInternal project"
dump is received via email:

Both dumps are stuck in a build kicked off by the VSTypeResolutionService. It all started out in the VS test window listening to an ASL complete event triggering MEF composition. But I believe the real problem is that NuGet tries to configure its package sources at that time, which sets all of this type resolution code in motion while trying to resolve a “Mono.Runtime”

[2017-05-12 20:25] dagood opened #5224 "When using "push -Timeout [x]", NuGet won't retry if an HTTP call hangs"
## Detailed repro steps so we can see the same problem

 1. Use `nuget push [...]\*.nupkg -Timeout 3600` to push a set of packages.
 2. Encounter a hang: the server doesn't respond to or close a PUT request.
 3. Wait the rest of the 3600 seconds until `push` fails.

What I'd like instead is for the hung request to time out and retry. I can't use default settings because our packages are sometimes

[2017-05-12 20:42] StingyJack opened #5225 "Nuget Pack is dropping the last digit of version numbers if its zero"
## Details about Problem
nuget.exe
v3.5

running the command line below does produce output, but its dropping 0 from the last part of the version number

[code]
if I change the version parameter to "7.5.1.0-butt", it uses the value specified and honors the -butt

I'm trying to repackage some assemblies that are already built and released for in house reuse, and cant make this accept the version bu

[2017-05-12 20:58] #4792 closed, assigned to nobody

[2017-05-12 21:13] emgarten commented on #5225
The looks related to https://github.com/NuGet/Home/issues/3050

[2017-05-12 21:27] rainersigwald commented on #5220
Just talked about this in MSBuild/SDK/NuGet sync today.

This was cut from 15.3 planning primarily because of concerns about doing a blocking network call during project evaluation.

Other concerns:
* Progress reporting and network I/O during resolve.
* Locking around package downloads (from multiple projects that refer to the same SDK package).
* Version unification and closure computation.
* Lin

[2017-05-12 21:38] rrelyea commented on #5220
Consider and discuss post 15.3. As @rainersigwald said, this is not in plan for 15.3.

[2017-05-12 21:53] bradwilson opened #5226 "Package restore broken in VS2017, works from `dotnet restore`"
## Details about Problem

NuGet version (x.x.x.xxx):
- `4.1.0.2450`

dotnet.exe --version (if appropriate):
- `2.0.0-preview1-005977`

VS version (if appropriate):
- Visual Studio 2017 (has repro'd with every version, and still repro's as of 15.3, `26510.0-preview`)

OS version (i.e. win10 v1607 (14393.321)):
- Windows 10 v1703 (`15063.296`)

Worked before? If so, with which NuGet version:
- Not s

[2017-05-12 22:47] emgarten commented on #4538
I did some testing of different throttle limits. From corpnet (very fast) throttling only slowed things down. The test was done using restore on nuget.sln which has five feeds, this should have hit a very high number of network calls.

| Throttle max | Avg time in seconds |
| ------------- | ----- |
| Unlimited | 36 |
| 64 | 42 |
| 4 | 50 |
| 1 | 142 |

I'd like to see this done on a slower networ

[2017-05-13 00:54] #5197 closed, assigned to rohit21agrawal

[2017-05-13 03:50] michaelgoin commented on #3872
Just ran into this issue as well. Verified on 3.5.0 and 3.3.0

[2017-05-13 11:40] StingyJack commented on #5225
I did see that, but Its not normalizing it - it's removing significant digits or has a rounding/truncation error or something.

Due to pre-existing contractual concerns and other decisions made years ago, our versioning effectively uses the last three positions as semver. I'm not sure when this started happening as I think we have other similarly numbered packages (ex 7.5.0.0 or the like), but I'l

[2017-05-13 11:45] StingyJack commented on #2039
By "Normalizing", do you mean this will happen...

...and not this...

[2017-05-13 13:47] magol commented on #5226
I have the same problem.

[2017-05-15 10:59] tmds commented on #4424
@emgarten @eerhardt is this in the 2.0.0-preview1? I am still missing the x-bit...

[2017-05-15 14:47] rainersigwald commented on #5220
MSBuild SDK spec, with many mentions of a NuGet resolver: https://github.com/Microsoft/msbuild/issues/1493.

[2017-05-15 15:14] eerhardt commented on #4424
No it isn't in `2.0.0-preview1`.  And I just verified this morning that this fix isn't in the latest 2.0.0-preview2 builds either. So it looks like there is no version of the .NET Core SDK that has this fix in it yet.

@emgarten @rohit21agrawal - any idea when a new version of NuGet will make its way into dotnet/cli?

[2017-05-15 15:29] rohit21agrawal commented on #4424
Hoping to make an insertion before the end of this week.

[2017-05-15 15:44] Kittyfisto commented on #4429
So I need to install Visual Studio 2017 in order to run nuget (4) against Visual Studio 12?

[2017-05-15 16:09] Gudahtt commented on #4429
@Kittyfisto Nuget 4 shouldn't have this problem - at least as far as I know. But even with Nuget 3, you don't need full Visual Studio 2015 or 2017; the build tools for either will suffice.

Visual Studio 2015: https://www.microsoft.com/en-us/download/details.aspx?id=48159

Or

Visual Studio 2017: https://www.visualstudio.com/downloads/
Go to 'Other Tools and Frameworks' and you should see 'Build T

[2017-05-15 16:31] maartenba opened #5227 "Add additional header on package push"
Right now, a push operation to a NuGet server is a multipart PUT or POST where the filename is always specified as `package.nupkg` on the part being submitted [(source)](https://github.com/NuGet/NuGet.Client/blob/4eed67e7e159796ae486d2cca406b283e23b6ac8/src/NuGet.Core/NuGet.Protocol/Resources/PackageUpdateResource.cs#L381).

Can push:
* Either contain the actual package filename as the multipart f

[2017-05-15 16:41] Kittyfisto commented on #4429
@Gudahtt Thanks for the quick answer! That works for me.

[2017-05-15 16:48] livarcocc opened #5228 "Doesn't support packaging pre-release deps as rtm release"
_From @haf on May 14, 2017 14:43_

Given: Proj A-v1.0, dep B-v1.0-beta1.

Then: A cannot be packaged as a nuget with `dotnet pack` despite being v1.0.

Expected: to be packed.

_Copied from original issue: dotnet/cli#6593_

[2017-05-15 17:27] anangaur commented on #5228
IMO, a functionality from a pre-release (potentially unstable code base) makes the parent code-base unstable. So a package should not be a release/stable package if it has a dependency on a beta/pre-release package. Looks like right behavior to me.

[2017-05-15 18:12] FeodorFitsner opened #5229 "Intermittent connectivity issues from AppVeyor build environment"
Hi guys,

Starting from last Thursday, May 11 we started seeing a lot of timeouts while restoring NuGet packages on build worker VMs in our primary environment. The environment is located in Rackspace DFW3 data center, San Antonio, TX. We are not experiencing the issues on VMs running in Google Compute Engine cloud.

Could it be that requests from our environment are being throttled/dropped someho

[2017-05-15 18:23] bryanjhogan opened #5230 "VS2017 can't open package manager console"
I get the below error when opening the package manager console.

I am using VS2017 15.2 26430.4.
Nuget package manager 4.2.0.

![image](https://cloud.githubusercontent.com/assets/5768871/26072473/a03fddd8-3979-11e7-8d1e-a967dad542c8.png)

[2017-05-15 18:26] anangaur opened #5231 "Unnecessary warning when floating version (e.g. "8.*") used"
When I use the following
`<PackageReference Include="Newtonsoft.Json" Version="8.*" />`
I get warning that's unnecessary:
![image](https://cloud.githubusercontent.com/assets/14800916/26072638/0d9fb9ac-3961-11e7-8481-9d3bb2af323c.png)

However, when I use another way to define floating version:
`<PackageReference Include="Newtonsoft.Json" Version="[8.0.3,9.0.0)" />`
there is no such warning.

**Exp

[2017-05-15 19:24] bryanjhogan commented on #5230
Just updated to VS2016 15.2 26430.6 and now I get a different error.

![image](https://cloud.githubusercontent.com/assets/5768871/26073846/f5e41372-397d-11e7-8a9d-7149014a8d6a.png)

[2017-05-15 20:34] #5209 closed, assigned to nobody

[2017-05-15 20:34] skofman1 commented on #5209
Issue moved to [NuGet/NuGetGallery #3967](https://github.com/NuGet/NuGetGallery/issues/3967) via [**ZenHub**](https://www.zenhub.com/)

[2017-05-15 20:34] mishra14 commented on #5209
@caioproiete: Moving this to NuGet Server repository.

[2017-05-15 21:42] NArnott commented on #491
I'm using VS 2017, and it's still happening. It appears to be random, as it sometimes does it, and other times not, for the exact same action.

[2017-05-15 21:52] kraigb commented on #5043
I did get this updated, see https://docs.microsoft.com/en-us/nuget/schema/msbuild-targets#restore-target.

[2017-05-15 21:59] kraigb commented on #4471
@emgarten You can close this one now. The fwlink from the UI goes to the docs page.

[2017-05-15 22:28] sillerjp commented on #2696
We are having the exact same issue too and it is a big stopper for the company's product. We haven't found any workaround. It works fine in Android and iOS.

[2017-05-15 22:35] davkean opened #5232 "Failed to "Manage NuGet Packages..." for "Provide value on 'System.Windows.StaticResourceExtension' threw an exception.""
_From @MiaomiaoHuangfu on May 15, 2017 8:4_

For a project, right click the project or right click "Dependencies", click "Manage NuGet Packages...", then prompt a window "Provide value on 'System.Windows.StaticResourceExtension' threw an exception."
![failedtomanagenugetrestore](https://cloud.githubusercontent.com/assets/22901391/26047843/5fe3e4ec-3987-11e7-9410-17f643085cc1.PNG)
 close the .sln a

[2017-05-15 22:54] JunTaoLuo opened #5233 "Transitive build assets not excluded when dependency marked as PrivateAssets="Build""
While trying to work around https://github.com/dotnet/sdk/issues/1166, we ran into a problem excluding build assets from dependencies.

The dependency `sqlitepclraw.lib.e_sqlite3.{osx|linux|v110_xp}` contains .target files (which in this case are only applicable to apps targeting .NET Framework) that we would like to exclude when a project reference it transitively from Microsoft.AspNetCore.All (w

[2017-05-15 23:03] kraigb commented on #4331
@emgarten Where in the source is the best place to get the definitive list of TFMs? Perhaps https://github.com/NuGet/NuGet.Client/blob/f0f9186a0d236611a104d527a8466fb789299e0c/test/NuGet.Core.Tests/NuGet.Frameworks.Test/CompatibilityTests.cs?

[2017-05-15 23:08] #1879 closed, assigned to nobody

[2017-05-15 23:08] #694 closed

[2017-05-15 23:08] #2326 closed, assigned to skofman1

[2017-05-16 00:11] anangaur commented on #4513
Related issue:
The following scenario also seems broken in the PackageReference world:
I specify the following in the csproj:
[code]

I have 3 packages in my feed:
My.Sample.Lib 2.0.0
My.Sample.Lib 2.0.0-beta1
My.Sample.Lib 2.0.0-beta2

**Expected:** My.Sample.Lib 2.0.0-beta2 should be resolved.

**Actual:** My.Sample.Lib 2.0.0 gets resolved.

[2017-05-16 00:26] anangaur commented on #3872
NuGet does not allow for package delete and instead relies on unlisting the packages. This means:

1. This unlisted version is not shown in new searches and hence will not get auto resolved to, in new projects.
2. However, existing projects that have references to this unlisted version continue to work as before. (And that's one of the reasons for not allowing delete - so that existing projects do

[2017-05-16 00:40] alpaix commented on #5232
@MiaomiaoHuangfu Will you be able to submit a feedback ticket via Visual Studio Report-a-Problem tool at the top right corner? It provides a method of recording steps. This'd give us more of relevant context data to investigate.

[2017-05-16 00:46] alpaix commented on #5231
@emgarten @mishra14 Will your errors improvement work address this issue?

[2017-05-16 00:49] alpaix commented on #5230
@bryanjhogan Will you be able to submit a feedback ticket via the Visual Studio Report-a-Problem tool at the top right corner? It provides a method of recording steps and more info for us to investigate the issue.

[2017-05-16 01:29] alpaix commented on #5229
@FeodorFitsner Sorry for the late response. I forwarded your complain to the NuGet server team.

[2017-05-16 01:29] alpaix commented on #5229
/cc @skofman1

[2017-05-16 01:30] FeodorFitsner commented on #5229
Thank you!

[2017-05-16 01:34] jainaashish commented on #5206
When was it originally broken? I just checked with 4.3.0.2550 and it's broken with that build as well. So provide more information, with which build it last worked.

[2017-05-16 01:49] michaelgoin commented on #3872
Thank you for the response @anangaur!

Your response aligns with why I think the current behavior is a bug.

Since we can't do package deletes, we need to be able to rely on the tooling to filter out hidden packages when a version is not specified. This behavior is inconsistent across Nuget tooling, with the CLI appearing to be the one place it is not filtered. Just in case we aren't communicating

[2017-05-16 01:50] emgarten commented on #5231
@anangaur are you able to get that error from restore, or does this only happen in VS?

I don't think NuGet writes out this message, it looks like it could come from the additional diagnostics done by build to recreate warnings/errors that restore would have displayed.

Now that restore will write the warnings/errors to the assets file there shouldn't be any need for those additional diagnostics.

[2017-05-16 02:01] v-nancyj commented on #4997
The issue has been fixed on VSUWPT 26510.01 + NuGet Client Dev-4053, close it.

[2017-05-16 02:01] #4997 closed, assigned to nobody

[2017-05-16 02:30] emgarten commented on #4331
The profile names are here:
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Frameworks/DefaultFrameworkMappings.cs#L113-L117

The above code contains the mappings from the abbreviations to the full name.

[2017-05-16 02:37] v-luzh commented on #4656
Fixed on VSUWPT 26512.01 + NuGet Client Dev-4056. Close this bug now. Thanks.

[2017-05-16 02:37] #4656 closed, assigned to mishra14

[2017-05-16 02:38] alpaix commented on #5226
@bradwilson Will you be able to submit a feedback ticket via the Visual Studio Report-a-Problem tool at the top right corner? It provides a method of recording steps along with other helpful data for us to investigate.

[2017-05-16 02:39] MiaomiaoHuangfu commented on #5232
@alpaix, thank you for your idea.
I have submitted a feedback ticket.

[2017-05-16 02:58] #5043 closed, assigned to nobody

[2017-05-16 02:58] #4471 closed, assigned to nobody

[2017-05-16 03:14] alpaix commented on #5229
Duplicate to NuGet/NuGetGallery#3961.

[2017-05-16 03:14] #5229 closed, assigned to nobody

[2017-05-16 03:15] anangaur commented on #3872
Agree. If this is the current behavior, its a bug. Just tried and could see this issue. I have unlisted one of my sample packages' latest version. Will try again `nuget install` in a while so that the old version is not retained in the search cache as stated on the package page upon unlisting:
![image](https://cloud.githubusercontent.com/assets/14800916/26088291/2742712a-39ab-11e7-84a0-684f73bca6f

[2017-05-16 03:25] anangaur commented on #5231
@emgarten Currently i see this only in VS. Is https://github.com/NuGet/Home/issues/4895 the correct issue you are tracking for the errors/warnings feature?

[2017-05-16 05:59] vikramadhav opened #5234 "Package Referencing with Nuget , Server Unavailable 503"
NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
VS UI, Package Manager Console
NuGet version (x.x.x.xxx):
3.5.0.1484
dotnet.exe --version (if appropriate):
4.6.1
VS version (if appropriate):
VS 2015, 14.0.25431.01 Update 3
OS version (i.e. win10 v1607 (14393.321)):
Windows 7 Version 6.1.7601
Worked before? If so, with which NuGet version:
3.5.0.1484
## Detailed repro

[2017-05-16 06:05] AndyTian-Devops commented on #5206
@jainaashish  I double check this issue and find it originally break dev build **2501**.

[2017-05-16 06:19] nguerrera commented on #4818
I believe the x-plat issue with directory separator was fixed by https://github.com/NuGet/NuGet.Client/pull/1263

[2017-05-16 07:22] kulov commented on #1787
The Report Abuse link is still hardcoded and does not work for private NuGet feeds hosted in VSTS.

[2017-05-16 07:25] maartenba commented on #1787
Looks like that's because VSTS does not send this URL in their API. Works fine on MyGet. The client does do a falback to NuGet.org if server does not provide it.

[2017-05-16 08:00] #5234 closed, assigned to nobody

[2017-05-16 08:14] johnkors commented on #4771
Are there any plans to add what @shanselman mentioned about `dotnet add tool <toolname>` or similar..? Would be super useful. If yes, any GitHub issue I mayfollow..?

Just created my first [CLI tool to track usage of known vulnerable NuGets](https://blogg.blank.no/hunting-for-vulnerable-nugets-in-net-core-3c37f30e467a) - would be neat if the install experience was a bit better!

[2017-05-16 09:15] JamesNK opened #5235 "Newtonsoft.Json - No endpoints compatible with Windows Store apps were found"
Copied from https://github.com/JamesNK/Newtonsoft.Json/issues/1314

---

I get this warning when attempting to install Newtonsoft.Json version 10.0.1 or higher in a UWP app, and in turn the package fails to install.

[2017-05-16 09:57] spotlesscoder opened #5236 "Nuget restore fails when uninstalling a package which is missing remotely"
## Details about Problem

NuGet product used: VS UI

NuGet version 3.4.4.1321

dotnet.exe --version (if appropriate):

VS version (if appropriate): 2015 Update 3

OS version (i.e. win10 v1607 (14393.321)):

Worked before?: No

## Detailed repro steps so we can see the same problem

1. Create solution with C# project. Install a package prerelease e.g. A.B v1.6.0-unstable20 where 20 is the build num

[2017-05-16 11:27] StingyJack commented on #5236
This also happens in VS 2017, even with "force" options selected.

[2017-05-16 12:12] dtretyakov commented on #4277
@emgarten, lots of TeamCity customers faced with this problem and it's quite critical since it significatly suffers UX of using so trendy .NET Core projects.

Do you have estimates when it will be resolved?

[2017-05-16 12:40] danieljgmaclean commented on #3251
I'm still facing a problem, even with Mono 5.0.0.100. We have 5 .nupkg's that we build and upload to our VSTS NuGet server. 3 out of 5 of them always succeed, but 2 always fail. For a while, it started working again and we thought this might be related to having Charles running as a proxy on our Mac build machine. But even with this running now we are still seeing problems.

I'm absolutely convinc

[2017-05-16 12:43] danieljgmaclean commented on #3251
Note that I posted the above feedback here because of:

https://github.com/NuGet/Home/issues/3329

[2017-05-16 12:43] PrashanthIBM opened #5237 "Need info on knowing the nuget package installed location"
Hi ,

I am creating a package and i have put the <package_id>.targets file in the package/build directory.

Package creation is successful.

The projects which consume my package  need to copy some of the content files from the package installed location to application bin directory during build time. I wanted to achieve this using the .targets file but here is my problem :

1) Nuget package insta

[2017-05-16 14:17] maartenba commented on #4277
Also seeing this, kind of annoying.

[2017-05-16 15:01] vphad commented on #4990
Hi Team,
Were you able to look into this ?

[2017-05-16 15:40] StexGhost commented on #2696
@SedarG @ericstj
As you can see, I'm not the only one who is negatively affected by this. Can we please get a fix or workaround for this. It has now been over a year since I first reported this.

[2017-05-16 15:59] kzu commented on #5186
Adds the satellite resources to the main package

[2017-05-16 16:22] SedarG commented on #2696
@srdjanjovcic had investigated if we can address this bug in UWP packaging. He could shed more light on what his findings were.
There was another work stream on .net native regarding satellite assemblies, which would also be used to address this issue. @yizhang82 could give more info about that work too.

[2017-05-16 17:47] anangaur commented on #3872
This repros on the CLI. As reported, on VS client the unlisted package doesn't show up. May be due to the different APIs being called to get the index.json from CLI vs. VS client (VSIX).

[2017-05-16 17:58] josesimoes commented on #1850
Any update on this?
I'm moving from a C# project to a CPS based project and I've stumbled into this too...
Just the fact that the project extension was changed from .csproj to .nnproj breaks the expected behaviour of auto adding the .props and .targets to the project file.

This is deal breaker for using CPS based projects I would say...

[2017-05-16 18:16] kzu commented on #4777
I added a small tweak that may fix the underlying issue, so that both actions are more consistent.

Please do let me know if the updated build works as expected in both scenarios.

Thanks!

[2017-05-16 18:16] #4777 closed, assigned to kzu

[2017-05-16 18:55] bryanjhogan commented on #5230
@alpaix What information will be public?

Title
Body
Screenshots
Recorded data/video
Logs
etc

[2017-05-16 19:00] emgarten commented on #4277
Restore could fail with a message saying to set ``NUGET_PACKAGES`` if it detects this situation.

This would be a breaking change however for users who currently have this working by using the system folder.

[2017-05-16 19:04] emgarten commented on #2696
@tmeschter can you take a look at this?

[2017-05-16 19:07] kzu commented on #4858
@emgarten we currently have this in place: https://github.com/NuGet/NuGet.Build.Packaging/blob/dev/src/VisualStudio/NuGet.Packaging.VisualStudio/Targets/NuGet.Packaging.Authoring.targets#L18-L20

Shouldn't that be enough to make restore happy?

[2017-05-16 19:13] #5206 closed, assigned to jainaashish

[2017-05-16 21:54] mishra14 opened #5238 "restore nomination seems to be failing for nuget solution projects"
I just updated my vs to 15.2 (26430.6) and opened the NuGet solution and I see a ton of errors of the type -

[code]

The errors did not re-appear when I did a solution restore next time. I think @jainaashish  was seeing these yesterday. We should investigate this or maybe pass this onto the sdk folks. It seems like the restore is run before nomination is done.

cc: @alpaix  who is on hot seat.

[2017-05-16 21:56] mishra14 commented on #4771
you can follow this bug: https://github.com/NuGet/Home/issues/4901

[2017-05-16 22:11] emgarten commented on #5237
@PrashanthIBM take a look at ``obj\projectName.csproj.nuget.g.props`` in your project.

You should see all package folders used in the property: ``NuGetPackageFolders`` which covers *a* and *c* in your list.

For packages.config projects there currently isn't a way to get the ``repositorypath`` without reading nuget.config or finding the solution file.

[2017-05-17 01:45] ghost commented on #3050
Is there a workaround or fix to this issue? Or the workaround is to remove the leading zero from the version number? Like instead of starting the version number at 2.0.0.0 i need to start at 2.0.0.1?

[2017-05-17 04:40] PrashanthIBM commented on #5237
@emgarten : ya i had seen that but have few questions on that.

1) All projects which are based on the new csproj will have the obj\projectName.csproj.nuget.g.props .
So in  .targets file, if i use this variable NuGetPackageFolders  as it is , will it work ?

sample :
[code]
2) what will be the value of **NuGetPackageFolders**  ? will it be always pointing to %userprofile%/.nuget/packages folder o

[2017-05-17 06:49] davidfowl opened #5239 "Don't restore in the IDE if everything is already restored"
After running a very long `build.cmd` that fully restores, builds and run tests before opening visual studio, after opening a solution file the IDE proceeds to run restore again which can take a long time for a big project.

Not only that but if I close and reopen the solution after all of that, it proceeds to restore again. It seems like we blindly restore on open.

[2017-05-17 08:15] bradphelan commented on #1909
I just upgraded a nuget package from the package manager console

VS2017 latest patches. 60 project solution. All dotnet framework projects. 4.6.2

the command executed was

on a solution with 60 projects. I really can't understand why it would take almost 5 minutes to process a few text files and do some range checks. What is going on in the core of nuget?

I have about 35 nuget packages to updat

[2017-05-17 09:26] AndyTian-Devops commented on #4884
@rrelyea @emgarten This issue still happened on VS2015 with latest nuget client 4.3.0.2559 after installing Newtonsoft.Json 10.0.2.

[2017-05-17 09:44] v-atian commented on #4884
**Dev14 Output Window:**
Restoring packages for C:\school\App1\project.json...
  GET https://api.nuget.org/v3-flatcontainer/newtonsoft.json/index.json
  OK https://api.nuget.org/v3-flatcontainer/newtonsoft.json/index.json 234ms
  GET https://api.nuget.org/v3-flatcontainer/newtonsoft.json/10.0.2/newtonsoft.json.10.0.2.nupkg
  OK https://api.nuget.org/v3-flatcontainer/newtonsoft.json/10.0.2/newtonso

[2017-05-17 09:52] v-atian commented on #4884
**Dev15 Output:**
Restoring packages for c:\users\mdtestau\documents\visual studio 2017\Projects\UWP_CS\UWP_CS\UWP_CS.csproj...
   GET https://api.nuget.org/v3-flatcontainer/system.runtime.windowsruntime/index.json
   OK https://api.nuget.org/v3-flatcontainer/system.runtime.windowsruntime/index.json 232ms
   GET https://api.nuget.org/v3-flatcontainer/system.runtime.windowsruntime/4.3.0/system.runt

[2017-05-17 09:52] v-atian commented on #4884
**Dev14 Output:**
Restoring packages for C:\school\App1\project.json...
  GET https://api.nuget.org/v3-flatcontainer/newtonsoft.json/index.json
  OK https://api.nuget.org/v3-flatcontainer/newtonsoft.json/index.json 234ms
  GET https://api.nuget.org/v3-flatcontainer/newtonsoft.json/10.0.2/newtonsoft.json.10.0.2.nupkg
  OK https://api.nuget.org/v3-flatcontainer/newtonsoft.json/10.0.2/newtonsoft.json

[2017-05-17 10:03] AndyTian-Devops commented on #4884
@rrelyea @emgarten @dardino if I update the default package "Microsoft.NETCore.UniversalWindowsPlatform" to 5.3.1, the error will disappear.

[2017-05-17 10:06] BlairPaine opened #5240 "Pack or extract of package does not preserve timestamps on file attributes"
When I pack or unpack (install) with nuget it does not preserve the timestamps on included files.  For example the date created and date modified attributes.  I can see files in my package have been stamped with the date and time of package creation.

Were the changes for the above issues fixed and merged correctly?

Appears to be related/replica of:
[NuGet do not honor time-stamps when unpacking

[2017-05-17 11:26] dardino commented on #4884
I have this installed:
![image](https://cloud.githubusercontent.com/assets/1779374/26151728/539cb5f0-3b04-11e7-9e92-906baa123f06.png)
and the error persists

[2017-05-17 12:26] polyzois opened #5241 "nuget.exe update does not read projects from solution file"
Compare https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.CommandLine/Commands/UpdateCommand.cs#L111

with https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.CommandLine/Commands/RestoreCommand.cs#L806

nuget cli update command does not parse solution file to find affected projects. It will only look at directory of solution and recursively search that dire

[2017-05-17 13:36] josesimoes commented on #1850
Considering that this issue is marked with "up-for-grabs" could anyone please give me some hints on where to start? I could try to submit a PR for this but I would need some pointers to get me started.
TIA! 😄

[2017-05-17 14:57] garuma commented on #3251
This matches my findings too, see upstream bug https://bugzilla.xamarin.com/show_bug.cgi?id=52579

Unfortunately the Mono network code is quite complicated so it's hard to pinpoint exactly the problem.

[2017-05-17 16:18] jainaashish commented on #4488
@onovotny for now, this is the correct manual workaround. We haven't yet finalized the default opt-in experience for PackageReference but I'll let you know as soon as we have something there.

[2017-05-17 16:22] jainaashish commented on #4233
External issue has already been fixed.

[2017-05-17 16:22] #4233 closed, assigned to jainaashish

[2017-05-17 16:23] jainaashish commented on #4002
Being done as part of https://github.com/NuGet/Home/issues/5180

[2017-05-17 16:23] #4002 closed, assigned to jainaashish

[2017-05-17 16:23] jainaashish commented on #4001
Being done as part of https://github.com/NuGet/Home/issues/5180

[2017-05-17 16:23] #4001 closed, assigned to jainaashish

[2017-05-17 16:24] jainaashish commented on #4220
No further response from customer, looks like it's fixed with later releases since it was logged on 4.0 and we had lot of improvements afterwards. Will revise it, if it surface again.

[2017-05-17 16:24] #4220 closed, assigned to jainaashish

[2017-05-17 16:25] jainaashish commented on #3832
External issue is already closed. So closing this as well.

[2017-05-17 16:25] #3832 closed, assigned to jainaashish

[2017-05-17 16:26] emgarten commented on #4884
@dardino does Newtonsoft.Json 10.0.2 work for you?

[2017-05-17 16:28] jainaashish commented on #3485
Closing as external

[2017-05-17 16:28] #3485 closed, assigned to jainaashish

[2017-05-17 16:37] emgarten commented on #1909
@bradphelan ``executing nuget actions`` includes the time it takes to add and remove assembly references and content files through Visual Studio. Network traffic is done at that point and there is relatively little happening in NuGet. The time here can be impacted by the size of the project and the number of assemblies being added.

I suggest switching to *PackageReference* which is now supported

[2017-05-17 16:55] emgarten commented on #5239
@nkolev92 is fixing this for 15.3.

Restore will hash all inputs and persist it to the obj folder, both VS and the command line will use this.
https://github.com/NuGet/Home/issues/5183

[2017-05-17 16:58] bradphelan commented on #1909
It's not fully integrated. PackageRefernece breaks many nugent packages.

"""Some examples of scenarios that will not be supported include content
folders (we have introduced ContentFiles), XDT transforms, PowerShell
scripts i.e. install.ps1 and uninstall.ps1 (only init.ps1 is supported)"""

It's not ready for production.

And nuget is doing NOTHING. It has already downloaded the assemblies. All
i

[2017-05-17 17:05] adrianvmsft opened #5242 "Devenv.exe.config needs binding redirect for NuGet.Frameworks 4.3 in Update 3"
## Details about Problem
The version of Nuget.Frameworks.dll that gets shipped with Visual Studio 2017 Update 3 was increased to 4.3.
However, devenv.exe.config doesn't have a binding redirect to the new version.
That casues extensions built against the old version (4.0) to stop working after installing Update 3 - backward compatibility issue.

NuGet product used (NuGet.exe | VS UI | Package Manag

[2017-05-17 17:28] emgarten commented on #1909
If you find this to be the case please open a new issue for it with details as to exactly where this is happening. I would be happy to fix this and improve the performance here for packages.config projects.

[2017-05-17 19:00] joelverhagen opened #5243 "dist.nuget.org nightly build of NuGet.CommandLine links to a weird build"
https://dist.nuget.org/
![image](https://cloud.githubusercontent.com/assets/94054/26171008/4b52f492-3af8-11e7-8de8-de68c0c5bd61.png)

https://dotnet.myget.org/F/nuget-build/api/v2/package/NuGet.CommandLine

Actual package version: [4.3.0-xprivate-14](https://dotnetmyget.blob.core.windows.net/privatefeednuget0build/NuGet.CommandLine-4.3.0-xprivate-14?sv=2015-12-11&sr=b&sig=S%2BVWEsc8mxcj0nqxBp5J%2F

[2017-05-17 19:40] jainaashish commented on #4457
Reopening this issue, since we reverted that PR because of RPS tests regression.

[2017-05-17 19:41] jainaashish commented on #4457
Need either of below thing from platform to figure out when project system is actually building:
-	A version of QueryBuildManager that returns the “modified” flags, and see there is no “SUA_BUILD”
-	NotifyUpdateSolution_QueryDelayFirstUpdateAction() is only called ahead of the “Build” action (so not called when we chec for stuff like deploy/publish/clean_publish and other non-build actions.
-	Have

[2017-05-17 20:06] alpaix commented on #5232
Thank you for reporting this issue. We were able to root cause the problem. Fix is in-progress.

[2017-05-17 21:36] #5232 closed, assigned to alpaix

[2017-05-17 22:05] burreld opened #5244 "PackageReferences not adding package sources to source control"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI

NuGet version (x.x.x.xxx): 4.1.0

dotnet.exe --version (if appropriate):

VS version (if appropriate): 15.1 (2017)

OS version (i.e. win10 v1607 (14393.321)): Windows 7

Worked before? If so, with which NuGet version: 4.1.0

## Detailed repro steps so we can see the same problem
1. disab

[2017-05-17 22:32] davidmatson commented on #5048
Yes, that's a good workaround - thanks!

[2017-05-18 01:54] alpaix opened #5245 "Sync brush color resources with VS shell's EnvironmentColors"
### Problem

NuGet vsix has implicit dependency of VS platform module `Microsoft.VisualStudio.ExtensionsExplorer.UI` which should be eliminated. As it happened earlier #5232 any change made by the platform team in this module may potentially break NuGet PM UI.

### Proposed solution

Replace referenced resources with our own based on `EnvironmentColors`.

[2017-05-18 07:55] dverg commented on #2449
FYI: This is not only for C++.
Also, there seems to be a pull request fixing this: https://github.com/NuGet/NuGet.Client/pull/1248

[2017-05-18 10:43] dardino commented on #4884
no:
[code]

[2017-05-18 15:33] kzu commented on #4858
Fixed in https://github.com/NuGet/NuGet.Build.Packaging/pull/120

If you have already unfolded a .nuproj project, plz updated it to include the [following three elements](https://github.com/NuGet/NuGet.Build.Packaging/blob/dev/src/VisualStudio/NuGet.Packaging.VisualStudio.15/Templates/Projects/Nuget/Package/Package.nuproj#L20-L22) for proper restore behavior.

[2017-05-18 15:33] #4858 closed, assigned to kzu

[2017-05-18 15:40] sandyarmstrong commented on #4394
This is a major regression. Reproducible builds and deterministic package management are vital features.

This issue is already very well described but here is another good article explaining the issue in a general sense: https://blog.ometer.com/2017/01/10/dear-package-managers-dependency-resolution-results-should-be-in-version-control/ .

[2017-05-18 17:07] pierceboggan opened #5246 "NuGet restore should check local cache before going online to fetch packages"
## Details about Problem

NuGet should first check the local cache on the machine for the package before going online to attempt to resolve the package. Right now, a simple NuGet restore is taking a few minutes for me, even though _all_ packages are locally on my machine (and are the correctly versioned).

As the number of packages in a solution grow (especially if you are referencing packages tha

[2017-05-18 17:29] #5223 closed, assigned to jainaashish

[2017-05-18 18:37] emgarten commented on #4884
@dardino what version of Visual Studio and NuGet are you using? Can you provide some repro steps?

[2017-05-18 21:09] anangaur commented on #5246
@emgarten Isn't this the current behavior already? My understanding is that unless you have floating versions (like "1.*"), the resolution happens in the following order:
1. Local NuGet caches, FallBack folders
2. Local NuGet feed
3. Rest of the feeds

I think there is a check to see if all the feeds are available or not? This is a separate topic though whether this check should happen everytime v

[2017-05-18 21:25] ArcanoxDragon opened #5247 "Can't restore NuGet packages from MSBuild"
I've encountered this problem twice in the last couple days. I'm trying to work with .NET Core projects (`project.json`), specifically AngleSharp and its libraries. When I try and build a project from Visual Studio 2017 or through a Cakefile, I get an error from NuGet stating something along the lines of:

`Invalid restore input. UAP projects must contain exactly one target framework. Input files:

[2017-05-18 21:47] emgarten commented on #5246
@anangaur exactly right, restore tries really hard not to go online. Floating is the exception there, and also when there is no exact match (downward floating) such as when package A depends on B >= 1.0.0 and only B 2.0.0 exists.

[2017-05-18 21:51] anangaur commented on #5246
@pierceboggan Does any of the exceptions discussed above match your package dependencies?

[2017-05-18 21:54] emgarten commented on #5247
@briman0094 since you are using VS 2017 consider moving from project.json to a NETCore SDK project that uses PackageReference.

From the error message it looks like you may have an invalid project.json file that contains multiple frameworks. Reduce it to a single framework, or move to NETCore SDK projects to get multiple framework support.

[2017-05-18 21:57] emgarten opened #5248 "Support for NuGet settings in MSBuild projects"
Restore should allow setting sources, fallback folders, and the packages directory dynamically through MSBuild. This enable users to override and set these as needed for advanced builds and for the SDK to override settings based on the project type.

This needs to be done for nuget.exe, msbuild, dotnet, and VS.

https://github.com/NuGet/Home/wiki/%5BSpec%5D-NuGet-settings-in-MSBuild

[2017-05-18 22:14] emgarten opened #5249 "Document that RIDs are case sensitive"
The package authoring docs should include details on how RIDs are found in other packages using runtime.json, and specifically that they are case sensitive.

[2017-05-18 22:15] nkolev92 commented on #5248
Relevant to https://github.com/dotnet/project-system/issues/2225

[2017-05-18 22:19] ArcanoxDragon commented on #5247
I'm trying to build a dependency from source, so it's not my project. I'm wondering if AngleSharp is possibly in-limbo between non-NETCore and NETCore and their build process isn't fully adapted yet. The solution file doesn't reference the NETCore project, but the `.cake` file does. Even when I remove references to NETCore in their `.cake` file, NuGet still tries to reference `project.json` when r

[2017-05-18 22:28] nguerrera opened #5250 "Dependent packages version numbers are not updated correctly."
_From @livarcocc on February 7, 2017 0:50_

I was running my build with `dotnet build -f net46 Foundatio.sln /p:VersionPrefix="$($env:APPVEYOR_BUILD_VERSION)" /p:VersionSuffix="$($env:VERSION_SUFFIX)"` to update the predefined version properties (https://github.com/exceptionless/Foundatio/blob/73b8ee68d611d1521e48eadac1101ea054115e6c/build/version.props). This seemed to create the nuget packages w

[2017-05-18 22:28] nguerrera commented on #5250
_From @piotrpMSFT on February 7, 2017 10:4_

Since it's a bit hidden, @niemyjski's project uses the `<GeneratePackageOnBuild>` feature.

That feature comes from the NuGet.Build.Tasks.Pack package [so the issue belongs in the NuGet repo] but I took a quick look and found:

[code]

Note the second clause of the condition. This only triggers when we're doing an `outer build` which has two implication

[2017-05-18 22:28] nguerrera commented on #5250
_From @neilhuiz on February 8, 2017 18:18_

Not sure if this counts as a hack or not, but you can use `dotnet pack mysolution.sln "/t:Restore;Pack" "/p:Version=$($env:APPVEYOR_BUILD_VERSION)-$($env:VERSION_SUFFIX)"` to get all the packages in a solution to use the same version number. This also makes the references between packages agree as to the version and suffix. I'm not sure what to do if you

[2017-05-18 22:28] nguerrera commented on #5250
_From @niemyjski on February 8, 2017 18:26_

@neilhuiz @piotrpMSFT I have a even bigger problem since updating to the latest RC... Now when I run this same build command ` dotnet build -f net46 Foundatio.sln` doesn't build any packages with `GeneratePackageOnBuild`.

I need to figure this out asap.

[2017-05-18 22:28] nguerrera commented on #5250
_From @piotrpMSFT on February 13, 2017 3:14_

@rohit21agrawal take a look

Looking at the targets, `<GeneratePackageOnbuild>` only takes effect if we're doing an `outer build` so no `-f` is specified.

@niemyjski I think you are trying to take advantage of a scenario that is not designed for in the NuGet targets. I would open an issue on `nuget/home` describing why you need to build packages for s

[2017-05-18 22:28] nguerrera commented on #5250
_From @rohit21agrawal on February 13, 2017 15:45_

as i said earlier, having both TargetFrameworks and TargetFramework set would not trigger a Pack because it considers it to be an inner build. To workaround this, use : ```dotnet build /p:TargetFrameworks=net46 Foundatio.sln```

[2017-05-18 22:28] nguerrera commented on #5250
_From @rohit21agrawal on February 13, 2017 15:46_

As far as dependent packages are concerned, ```Pack``` reads the project references version from the assets file. So whatever is written out to the assets file is what is written out in the output nuspec as well. @neilhuiz gave the right way to get the right package versions for your project references.

[2017-05-18 22:28] nguerrera commented on #5250
_From @hrannzo on March 16, 2017 10:35_

I'm having a similar issue when using GitVersionTask to calculate the version (2016.1.3 in this case)
I manually converted .net 4.6 class library to the new CSproj format.

Project A has a PackageReference on project B
`msbuild /t:pack` produces A.2016.1.3.nupkg and B.2016.1.3.nupgk, the assemblies are also stamped with the correct version information

When

[2017-05-18 22:36] rohit21agrawal commented on #5250
@hrannzo i am not seeing the discrepancy here. the lock file says the version of package to be >=1.0.0 and the nuspec file says the same thing. am i missing something?

[2017-05-19 00:03] twobob commented on #3131
2013 also does this fwiw.

PM> Install-Package Newtonsoft.Json -Version 9.0.1
Works in a pinch

[2017-05-19 01:00] emgarten commented on #5233
Other packages reference build assets from the ``sqlitepclraw.lib.e_sqlite3.*`` packages which pulls them in. You will need to exclude build assets for each dependency they are flowing up through.

I see these dependencies that need to have build excluded, there could be others also:
* SQLitePCLRaw.bundle_green
* Microsoft.Data.Sqlite
* Microsoft.EntityFrameworkCore.Sqlite

With including/excludin

[2017-05-19 06:48] dardino commented on #4884
### Installed Versions:
Visual Studio Enterprise 2017 - Version 15.2 (26430.6) Release
NuGet Package Manager 4.2.0
#### My `project.json`
[code]
When I try to change Newtonsoft.Json to 10.0.2 I get the error in previous post

[2017-05-19 07:54] hrannzo commented on #5250
@rohit21agrawal - My issue was that the packages themselves where versioned correctly with the generated GitVersion (A.2016.1.3.nupkg and B.2016.1.3.nupkg) but A's dependency on B did not reflect B's version.
I would have expected the dependency version should have been >= 2016.1.3

[2017-05-19 08:28] cyanite commented on #2775
When is NuGet update -self going to update past 3.5? It's really annoying that there is no way to get newer versions in an automatic fashion. Also, if I manually download 4.0.0, it doesn't auto update past that version either.

[2017-05-19 08:31] cyanite commented on #4197
Would this mean that nuget.exe update -self will actually update nuget past version 3.5? Or does anyone know another way to do this? It's not so great that the help text says "Update the running NuGet.exe to the newest version available from the server." when this is clearly not true.

[2017-05-19 08:41] cyanite opened #5251 "NuGet.exe update -self doesn't update past 3.5.0"
As the title says. I am kind of puzzled that this hasn't been reported, and indeed fixed, already, since using that command is the only automatic way I know of to get the newest version.

Even with 4.0.0 installed it doesn't update to anything newer:

    $ nuget update -self
    Checking for updates from https://www.nuget.org/api/v2/.
    Currently running NuGet.exe 4.0.0.
    NuGet.exe is up to

[2017-05-19 11:35] mrward commented on #5246
This might be a VS for Mac implementation problem then - I need to do some more investigation.

In this particular case a restore is not being run but instead an install of the NuGet packages is run when a new project is created. When you do an install and not a restore then the online package source is checked. The project templates do not use floating versions.

This particular project template

[2017-05-19 13:39] nguerrera commented on #4974
Duplicate of #4620

[2017-05-19 16:46] anangaur commented on #5251
Thanks for reporting this issue. We marked NuGet 4.1.0 as the latest release just yesterday (though it was released sometime back) and seems like the transition is not yet done. I will follow up.

[2017-05-19 17:24] emgarten commented on #5251
@anangaur the command line package still needs to be pushed
https://www.nuget.org/packages/NuGet.CommandLine/

[2017-05-19 17:39] nkolev92 opened #5252 "Remove ProjectJsonRestoreRequestProvider and related code"
ProjectJsonRestoreRequestProvider is not used anymore as it's been replaced by DependencyGraphSpecRequestProvider.

This needs to be cleaned up.

[2017-05-19 18:03] anangaur commented on #5251
Gotcha. Thanks @emgarten. @cyanite Stay tuned. We should be fixing this asap - probably early next week. Hope that works.

[2017-05-19 18:39] alpaix commented on #5230
Information you provided will be public on the [Developer Community](https://developercommunity.visualstudio.com/) web site, including Title, Description, and Discussions.

Attachments if any, and diagnostics data will be available to Microsoft engineering stuff only.

For more details please refer to [Microsoft Enterprise and Developer Privacy Statement](https://www.microsoft.com/en-us/privacysta

[2017-05-19 18:47] #2449 closed, assigned to emgarten

[2017-05-19 19:04] agr opened #5253 "Nuget.exe 4.3 silently ignores invalid project.json file"
Tested with nuget.exe 4.3 (4045) on [this](https://github.com/agr/NugetUnparseableProjectJsonDemo) project.

When project.json cannot be parsed, running `nuget restore` does nothing and produces no indication in the output that it did nothing.

Repro steps:
1. Check out the project
2. Run the `nuget.exe restore -source http://api.dev.nugettest.org/v3-index/index.json` command
3. Observe no errors

[2017-05-19 19:11] kzu commented on #5194
Fixed with https://github.com/NuGet/NuGet.Build.Packaging/issues/121

[2017-05-19 19:11] #5194 closed, assigned to nobody

[2017-05-19 19:12] kzu commented on #5026
Fixed with https://github.com/NuGet/NuGet.Build.Packaging/issues/121

[2017-05-19 19:12] #5026 closed, assigned to kzu

[2017-05-19 19:17] kzu commented on #5071
heya @adaoust, the latest template for a nuget package project will properly restore on CI.

To update your already unfolded project to support this, please add these three properties somewhere in your .nuproj inside a `PropertyGroup`:

[code]

[2017-05-19 19:17] #5071 closed, assigned to kzu

[2017-05-19 19:35] emgarten commented on #5253
This experience looks pretty awful, I'll take a look at fixing this as part of moving nuget.exe to use ``/t:restore``

[2017-05-19 20:01] kzu opened #5254 "Keep nugetizer project properties updated with authoring targets"
Due to https://github.com/NuGet/NuGet.Build.Packaging/commit/7a4d6e9a28465325ea32909f4124c1b8473fa376, there is now a possibility that the TF/fallbacks for the package project get out of sync with the nugetizer-provided values (from either the project system or the nuget package).

We modify the project system to pick up these values and write them back into the
.nuproj if there is a mismatch, doi

[2017-05-19 20:18] #5104 closed, assigned to kzu

[2017-05-19 20:18] johnkors commented on #4102
Id love to use this listing feature programatically in a tool I'm building.

My use case is I'm scanning for usages of vulnerable nugets (direct/transient deps), and I want to give feedback on the full dependency chain if any vulnerable dep is found so it's easier for users to know where to take action.

https://github.com/RetireNet/dotnet-retire

Atm I'm manually parsing the project.assets.json f

[2017-05-19 20:25] kzu commented on #5110
What would `primary output types` entail? Just build/tool or also lib?

[2017-05-19 20:30] johnkors commented on #5208
+1 on this. A huge miss.

@a-h

Re: insecure packages. I'm trying to acheive exactly that. I want to list what packages I have referenced (directly, indirectly or transitively) that match a given list of known insecure ones. I started off manually going thru it on nuget.org, but ended up writing a CLI tool that parses the project.assets.json / project.lock.json files instead.

Source: https://gith

[2017-05-19 20:40] #5110 closed, assigned to kzu

[2017-05-19 20:41] mhutch commented on #5110
@kzu personally i would lean towards making `IncludeFrameworkReferencesInPackage` fully opt-in:

[code]

But I think doing it for just lib projects would be okay:

[code]

[2017-05-19 21:29] #5148 closed, assigned to kzu

[2017-05-19 22:03] agr opened #5255 "Package does not appear in the References list if added through the PMC in the certain way"
Package Manager Console Host Version 4.3.0.4045
VS 2017 15.3.26510.0-Preview

Repro steps:
1. Clone the [repository](https://github.com/agr/NugetUnparseableProjectJsonDemo/tree/another-bug) (make sure it's the `another-bug` branch);
2. Open the solution in VS;
3. Go to Package Manager Console;
4. Run `Install-Package andrei.testnugetpackage -source http://api.dev.nugettest.org/v3-index/index.json`

[2017-05-19 22:16] #5109 closed, assigned to kzu

[2017-05-19 22:54] emgarten commented on #5255
The reference should be written to project.lock.json and then displayed by the project system.

It seems strange that install-package and the UI would behave differently, so there could be a client problem here.

[2017-05-19 23:10] emgarten opened #5256 "NuGet command line does not filter output messages for ILogger.Log"
NuGet command line does not filter output messages for ILogger.Log

[2017-05-19 23:17] agr commented on #5255
`Install-Package` seem to write to `project.json` the name as typed in the command line (all lower-case in failing case), which is probably the cause. When I use proper cased name in the command line it works as expected.

[2017-05-19 23:55] emgarten commented on #5255
@tmeschter is this an issue in the build task for project.json or in the project system?

[2017-05-20 00:06] #5256 closed, assigned to emgarten

[2017-05-20 00:08] anangaur opened #5257 "NuGet restore is too slow with VS 2017 15.3 preview1"
As reported on twitter:
https://twitter.com/pelleadri/status/865679776731627524

![image](https://cloud.githubusercontent.com/assets/14800916/26271017/8bc54b56-3cb5-11e7-95cb-f1ec7df738ca.png)

[2017-05-20 00:26] rexlam0630 commented on #5219
Same problem!

It persists on my Mac

also dotnet docker images

Tried following nuget provider/server

[2017-05-20 00:36] alpaix opened #5258 "Add end-to-end tests for lightweight solution load scenarios"

[2017-05-20 06:15] dasMulli opened #5259 "Allow specifying copyToOuptut as Metadata on Content items when packing sdk csproj"
Currently, when packing SDK-based projects using `dotnet pack`, it is not possible to specify metadata that causes `copyToOutput="true"` to be emitted to the nuspec.

This should either be inferred through the existing `CopyToOutputDirectory` metadata (if it is `PreserveNewest` / `Always`) or through a new metadata property (`NuGetCopyToOutput` ?).

[2017-05-20 07:10] pellea commented on #5257
It's the fastest on .NET core project. But in WPF or UWP project that's another story.
Removing the previously mentioned source from nuget packages sources made the trick.

[2017-05-20 19:31] jariq opened #5260 "NuGet package signing prototype"
About a month ago I was asking for more information in issue #2577 related to package signing but received no response so far. So meanwhile I've created a proof of the concept tool called [NuSign](https://github.com/jariq/NuSign) which digitally signs NuGet packages and verifies the signature of previously signed packages. I tried to do my best to briefly document the design goals and signing tech

[2017-05-20 19:40] jariq commented on #1882
Out of curiosity I've created prototype tool for package signing. Digital signature protects both integrity and origin/authenticity of NuGet package. If interested see #5260 for more details.

[2017-05-20 20:11] clairernovotny commented on #5260
One initial thought -- the tool should either support Azure Key Vault signing directly or at least expose an add-in API where someone else can write an adapter for that. Basically, at the place where you call sign on the digest, don't use CNG, we want to use Key Vault's SignAsync method instead.

As an example, see here: https://github.com/vcsjones/OpenVsixSignTool/blob/a089007679cb29cbd734071ef5d

[2017-05-21 02:07] rexlam0630 commented on #5219
Further details -

Environment:
macOS 10.12.4
dotnet SDK 1.0.1
mono 5.0.0.100 (2017-02/9667aa6 Fri May  5 09:12:57 EDT 2017)

Attached is Wireshark package capture
mono-nuget-41.pcapng - Successfully push using mono + nuget.exe 4.1.0.2450
dotnet-nuget-4.0.pcapng - Unsuccessful push using dotnet nuget CLI 4.0.0.0

[WS.zip](https://github.com/NuGet/Home/files/1016599/WS.zip)

[2017-05-21 02:36] rexlam0630 commented on #5219
I'm not sure, but feels like related to this issue:
https://github.com/NuGet/Home/issues/3251

[2017-05-21 11:13] maartenba commented on #5260
That looks super cool! Ideally the sign/verify commands should be part of NuGet.exe, but that's the entire goal of this issue and proof of concept anyway :-)

I like the simple approach of this tool. Things I miss (and are more important imo than being able to use a third-party certificate store imo):

* Being able to block certain certificates or unsigned packages from being installed into a proj

[2017-05-21 12:19] clairernovotny commented on #5260
@maartenba seems like if NuGet were to retain/restore use of OPC formats, we could just use the existing tooling? OPC has signature support already, is there a reason why NuGet moved away from OPC?

[2017-05-21 12:24] maartenba commented on #5260
No idea what the decision was there. OPC indeed has a lot of these things built in.

[2017-05-21 13:17] vcsjones commented on #5260
This does look interesting. (Note I am the author of OpenVsixSignTool Oren referenced above).

I've weighed the pros and cons of OPC signing vs. something else. OpenVsixSignTool and even Microsoft's own VsixSignTool will actually just "work" on a nuget packages today. The nuget client doesn't verify the signature, but it does indeed work.

For NuGet, there are a few challenges. The first is that M

[2017-05-21 13:54] blowdart commented on #5260
Let me explain, roughly, how this sort of thing works at MSFT. Any "novel" use of crypto has to pass muster with our Crypto Board. This includes new implementations of existing standards. Then it has to get beaten up to ensure we're not introducing more problems than we solve. Community contributions or ideas also need taking to the Crypto Board, and that then adds a couple of months where we can'

[2017-05-21 17:50] maartenba commented on #5260
But do the same rules apply for .NET foundation projects, which NuGet falls under if not mistaken? :-)
(or in other words does it make sense for the community to put effort in this kind of thing)

[2017-05-21 23:24] jariq commented on #5260
Thanks for the valuable feedback guys.

I also consider support for time-stamps and different key stores to be necessary for any real world solution but I have purposely kept implementation as simple as possible so even people without previous crypto experience can explore the code and understand the basic idea behind the package signing.

I never heard of OPC before. I guess you are referring to

[2017-05-21 23:27] davidfowl commented on #4394
@tkrick there are a number of reasons that even with PackageReference the builds are deterministic by default, namely NuGet always picks the lowest version (and I believe dependency behavior is ignored by default). It means that unless you change the input feeds, you'll always get the same result after you have fully specified versions (not floating).

[2017-05-21 23:31] davidfowl commented on #4394
Could you clarify this? When you say cache did you mean the feed? Are you saying the input restore feeds are volatile and change from build to build? Are you also deleting older versions?

Also not sure here what you mean by cache? Did you mean the input feed (which is usually checked into source control). Why would it use P 1.1 if nuget always picks the lowest?

I don't quite understand your setu

[2017-05-22 00:54] vcsjones commented on #5260
Correct.

I don't think the current barrier right now is "what are they going to use" but what problems does it solve. Personally I think some uniformity is desirable too, NuGet chose to use a specification for a reason - and they should continue to use a specification, especially if it is already being used in other areas. It would seem strange that NuGet packages uses OPC and later it turns out

[2017-05-22 03:07] vcsjones commented on #5260
I've given this much more consideration now and gotten some input from other folks, and the more I think about it, we need to take a step back before we start putting together proof of concepts.

My concerns lie around what is the threat model, or problem, that package signing is trying to solve. The proposed approach above may solve some of them, and it will not solve others.

I'm going to ask a

[2017-05-22 05:53] davkean opened #5261 "NuGet restore via VS gives different warnings vs msbuild restore"
**Build:** Version 15.3.0-pre.1.0+26521.1.d15prerel

1. `git clone http://github.com/dotnet/project-system`
2. `cd project-system`
3. `git checkout 162e76d7626ef3e6369a6614a9084a607c30bd1e`
4. `build.cmd` -> which restores (notice no errors/warnings - bin\debug\logs\Restore.log for log)
5. Open src\ProjectSystem.sln
6. Wait for restore to finish

**Expected:** Command-Line and VS to have the same

[2017-05-22 05:54] davidfowl commented on #5261
Are those all project references?

[2017-05-22 05:55] davkean commented on #5261
No, they are all package references.

[2017-05-22 06:09] davkean opened #5262 "NuGet complains about ambiguous project while restoring"
**Build:** Version 15.3.0-pre.1.0+26521.1.d15prerel

1. `git clone http://github.com/dotnet/project-system`
2. `cd project-system`
3. `git checkout 162e76d7626ef3e6369a6614a9084a607c30bd1e`
4. Open src\ProjectSystem.sln
5. Wait for restore to finish
6. Open Output -> Package Manager

[code]

These are all the projects under the tree, only one 'Microsoft.NetCore.CSharp.ProjectTemplates.Test':

[cod

[2017-05-22 06:21] xavierdecoster commented on #5257
Is there any actual proof of this package source being slow? Do you have any request traces that highlight this slowness, and would you be able to share these?

You could use the `-Verbose` switch in the NuGet Package Manager Console to have it print out HTTP requests and the time it took for the client to receive a response.

cc @maartenba

[2017-05-22 07:26] pellea commented on #5257
![image](https://cloud.githubusercontent.com/assets/395982/26296810/a2f079e6-3ed0-11e7-99ca-7bb92ab48472.png)

[2017-05-22 08:30] xavierdecoster commented on #5257
@pellea Thanks! Missed that conversation.

Cleanup on the `dotnet-core` feed should indeed have a significant positive impact on dependency resolution time.

This to me is not an indicator of _package source_ slowness, however, and may be inherent to the current dependency resolution protocol. Maybe @emgarten can shed more light on this?

[2017-05-22 10:37] BryantL opened #5263 "Nugetizer - Adding/building Nuget Package project fails"
Adding a new Nuget Package project results in the following error message in Visual Studio:

*Package Installation Error*

*Could not add all the required packages to the project.  The following packages failed to install from [extension location path]\Packages:*
*NuGet.Build.Packaging.0.1.276 : The operation failed as details for project [projectname] could not be loaded.*

I've checked and the n

[2017-05-22 10:42] cyanite commented on #5251
@anangaur sounds good :)

[2017-05-22 11:27] pellea commented on #5257
Why the resolver needs to build dependency graph every times?
@anangaur mentioned some cache. I don't think it's working properly for building the dependency graph or I would have the problem only the first time (and that's not the case).

[2017-05-22 15:52] tmeschter commented on #5255
@emgarten Almost certainly the build task. The project system pretty much just shows whatever list of packages the build task provides to it. It also wouldn't surprise me to find that the build task doesn't do the right thing with regards to casing.

[2017-05-22 16:10] natemcmaster opened #5264 "Unable to restore and use dotnet-watch under 2.0.0-Preview1"
_From @peterblazejewicz on May 21, 2017 20:20_

I'm unable to install (via restore) `dotnet watch` tool on OS X:
[code]
[code]
I'm able to install and use `dotnet user-secrets` tool (part of dotnet/templating default content) alone:
[code]
[code]
[code]

Dotnet Info:
[code]

_Copied from original issue: aspnet/DotNetTools#297_

[2017-05-22 17:13] niemyjski commented on #4532
I'm upgrading my .net 4.0 app to 4.7 and I referenced Roslyn and it's putting it in packagereferences instead of packages.config and my build is blowing up pretty hard... I called msbuild /t:restore but build still fails from the cli. Any ideas on how to resolve this in 15.2?

[2017-05-22 17:29] niemyjski commented on #3660
I'm also running into this with my classic desktop app. I installed Roslyn and it was installed only as a packagereference and now msbuild fails to compile the project because the project reference isn't sent along as a build reference.. I even updated the tools version.

[2017-05-22 17:59] jainaashish commented on #5257
there isn't any cache for building the dependency graph, it happens at each time, since there could be any change at any given feed, so we always need to compute dependency graph. There is packages cache, which is used to skip downloading packages if already exists on the machine, but package's metadata is always downloaded to build dependency graph.

So, if there are too many versions of packages

[2017-05-22 18:10] mishra14 commented on #3650
closing since the machine wide config work was checked into VS2017 RTM.

[2017-05-22 18:10] #3650 closed, assigned to nobody

[2017-05-22 18:10] emgarten commented on #5257
@rohit21agrawal was hitting this also, it was taking a very long time when installing packages. After removing the myget feeds and having just NuGet.org as the source things resolved very quickly.

There has been a lot of work done on the client side of this already to optimize things. The issue is that the client needs to know all versions of a package available before it can find the best soluti

[2017-05-22 18:11] mishra14 commented on #3675
No longer relevant after migrating to single NuGet solution.

[2017-05-22 18:11] #3675 closed, assigned to nobody

[2017-05-22 18:12] anangaur commented on #5257
@livarcocc, Can the `dotnet-core` myget feed be cleaned up or the relevant version(s) moved to NuGet.org?

[2017-05-22 18:13] mishra14 commented on #3770
Most preferences were bumped up to 9.0.1 as part of the migration to `NuGet.Sln`.

[2017-05-22 18:13] #3770 closed, assigned to nobody

[2017-05-22 18:15] mishra14 commented on #4000
Verified fixed in -

[code]

[2017-05-22 18:15] #4000 closed, assigned to rrelyea

[2017-05-22 18:16] watashiSHUN commented on #4941
how does nuget3.5 `-MSBuildVersion` work? with nuget4.0 `-MSBuildPath`, it is straight forward (I need to locate the exact msbuild.exe on my machine).

how can I make sure my msbuild15 can be discovered by nuget3.5? where does it look? do I need the willow api?

[2017-05-22 18:17] anangaur commented on #5251
@cyanite - the issue should be fixed now. .

[2017-05-22 18:18] mishra14 commented on #4440
@karann-msft please clarify

[2017-05-22 18:27] nkolev92 commented on #4197
@cyanite
This won't change the functional behavior of the update self command.

We don't immediately allow the update self command to download the absolute latest version as we don't want to potentially break customers whose automation invokes this command, so we allow for a bake-in period after release.

We will publish the update to 4.1.0 within the next few days.

//cc @rrelyea

**EDIT:**
The n

[2017-05-22 18:32] #4552 closed, assigned to rohit21agrawal

[2017-05-22 18:32] mishra14 commented on #4552
Issue moved to [NuGet/Client.Engineering #53](https://github.com/NuGet/Client.Engineering/issues/53) via [**ZenHub**](https://www.zenhub.com/)

[2017-05-22 18:33] mishra14 commented on #4678
Issue moved to [NuGet/Client.Engineering #54](https://github.com/NuGet/Client.Engineering/issues/54) via [**ZenHub**](https://www.zenhub.com/)

[2017-05-22 18:33] #4678 closed, assigned to nobody

[2017-05-22 18:41] anangaur commented on #4964
New text:

`AutoReferenced: This package is part of a larger framework or SDK and should not be updated independently. To update the package, update the SDK to which it belongs. More details: https://go.microsoft.com/fwlink/?linkid=841238`

Additionally we should update the new screenshot on the docs page: https://docs.microsoft.com/en-us/nuget/tools/package-manager-ui#updating-a-package

[2017-05-22 19:15] #5264 closed, assigned to nobody

[2017-05-22 19:24] livarcocc opened #5265 "dotnet restore failing in VSTS task"
_From @singharun1990 on May 22, 2017 18:9_

## Steps to reproduce
In VSTS Build definition we have a task  to restore one of the dotnet core project  before building it so that we are able to resolve all the dependencies and it fails with following error:
"C:\Program Files\dotnet\dotnet.exe" restore d:\a\1\s\UserDataStoreService\UserDataStoreService.csproj -v diag
C:\Program Files\dotnet\sdk\1.0.3

[2017-05-22 19:50] jainaashish opened #5266 "[PerfWatson] UIDelay: nuget.packagemanagement.visualstudio.dll!NuGet.PackageManagement.VisualStudio.VSSolutionManager+<<get_IsSolutionFullyLoaded>b___0>d.MoveNext"
More details in internal VSTS issue# 438195

[2017-05-22 19:59] mishra14 commented on #4918
We have improved the restore logging to display a better message -

[code]

Once this work is done, we can improve the logs for `dotnet add package`.

[2017-05-22 19:59] mishra14 commented on #4922
We have improved the restore logging to display a better message -

[code]

Once this work is done, we can improve the logs for `dotnet add package`.

[2017-05-22 20:00] mishra14 commented on #5238
cc: @rohit21agrawal who is on hot seat.

[2017-05-22 20:16] alpaix commented on #5247
@briman0094 From my observation the AngleSharp repo contains `.xproj` project file next to `project.json`. I presume their solution should be used with Visual Studio 2015 only as `.xproj` support has been deprecated in Visual Studio 2017. Please contact AngeSharp stuff for detailed instructions.

Closing the issue.

[2017-05-22 20:16] #5247 closed, assigned to nobody

[2017-05-22 21:11] #5111 closed, assigned to kzu

[2017-05-22 22:09] #5105 closed, assigned to kzu

[2017-05-22 23:51] livarcocc opened #5267 "Nuget push fails with timeout for some packages - fixed in netcore CLI 2.0"
_From @rudolfdobias on May 22, 2017 23:16_

Hello, hope this is the right place where to put this issue..:
Have an package (https://www.nuget.org/packages/Firefly.net/1.2.1-alpha1) and it cannot be pushed to the nuget.org by any way from the command line.

## Steps to reproduce

[code]

 - Tried desktop OSX / Ubuntu / Docker on Ubuntu - same behavior.
 - Tried myget, it does not work too.
 - Tried

[2017-05-23 05:55] cyanite commented on #5251
It works. Great work, thanks!

[2017-05-23 05:55] #5251 closed, assigned to rrelyea

[2017-05-23 06:39] PrashanthIBM commented on #5237
@emgarten  : any info on the questions i have asked ?

[2017-05-23 06:49] emgarten commented on #5237
So in .targets file, if i use this variable NuGetPackageFolders as it is , will it work ?

yes

It will be the location set by the user, the value matches where the packages were installed or read from.

project.json projects will not always write out the props, you will need to read *project.lock.json* and check the *packagesFolder* property to get the same list.

do we have document link ?

NuGe

[2017-05-23 07:03] emgarten opened #5268 "Support NETCore SDK projects without TargetFramework set"
NETCore SDK projects do not always have *TargetFramework* or *TargetFrameworks* set.

NuGet.targets should handle this scenario. PTF specifically fails to show up in the dg spec when these properties do not exist.

[2017-05-23 08:36] pellea opened #5269 "No log with PowerShell console command "Update-Package" and -Verbose switch"
If I execute this command from VS2017 inside the console:

`Update-Package -reinstall -verbose`

- it prints nothing (-verbose is totally useless)
- it's been more than 30 minutes already and not a single line of log has been displayed
- I don't even know if the command will be done one day ...

Versions:
- VS2017 15.3 (26510.0-Preview)
- Package Manager Console Host Version 4.3.0.2462
- NuGet Ver

[2017-05-23 09:28] jjanuszkiewicz commented on #4119
(I added the same comment to https://github.com/dotnet/cli/issues/6306, but it's closed so commenting here as well)

@emgarten Microsoft has already [announced](http://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html) that "Package project duality" is available, but I can't find any relevant examples or other information. Can you help me figure out what's supported?

[2017-05-23 10:00] PrashanthIBM commented on #5237
Hi ,

Thanks a lot for the inputs.

i am not able to see packagesFolder property in project.lock.json.  Can you please tell me how to get it ?

Also is the project.json project still supported  ?

Thanks,
Prashanth.

[2017-05-23 12:02] maartenba opened #5270 "No 4.1.0 libraries on NuGet.org"
There are currently no stable 4.1.0 packages of the client on NuGet.org which include e.. new target frameworks like Tizen.

[2017-05-23 12:13] wburgers commented on #4989
@brianpos exactly the same problem here.
We would like to run both fhir versions next to each other.

[2017-05-23 12:20] brianpos commented on #4989
@wburgers i have a project using the extern alias trick https://github.com/brianpos/FhirPathTester but do have to set manually after inclusion. So can't wait for this to be fixed.

[2017-05-23 12:22] MaximRouiller commented on #4901
Is there any progress?

[2017-05-23 15:06] jphenow commented on #4872
I'm also experiencing these difficulties. A comprehensive guide on running dockerized development and deployment with this newer dotnet stuff would be amazing. Some of what I have is getting close but I'm sure it's far from optimal.

[2017-05-23 17:16] thardy opened #5271 "Nuget changes existing shared package reference to last package referenced"
We are using an internal nuget server to handle a handful of common class libraries, and we manage our nuget packages at the solution level.

When a project (say MyProject) references a common library, say Newtonsoft.Json, the reference proprerly comes from C:\dev\myproject\packages\Newtonsoft.Json.9.0.1\lib\net461\Newtonsoft.Json.dll. The moment I add another package (say CommonProject) to MyProj

[2017-05-23 17:57] kzu opened #5272 "Add mechanism to make target compatible with anything"
Currently, MSBuild projects that want to leverage the package restore capabilities for distribution (i.e. for `build`, `tools`, `native`, or any custom folder in a nuget package, really) need to provide a `PackageTargetFallback` that can potentially be quite large (i.e. nugetizer's package project needs to list [all existing framework names](https://github.com/kzu/NuGet.Build.Packaging/blob/dev/sr

[2017-05-23 18:09] kzu commented on #5272
In addition to NuGetizer, another scenario is build scripts like https://github.com/kzu/corebuild.

The main build script essentially just declares some [PackageReference](https://github.com/kzu/corebuild/blob/master/src/corebuild.proj#L18) that it uses (i.e. tasks/targets/props), which can be leveraged to [simplify build scripts](https://github.com/kzu/corebuild/blob/master/src/corebuild.proj#L23

[2017-05-23 18:29] #5266 closed, assigned to jainaashish

[2017-05-23 18:49] natidea commented on #5154
RE: https://github.com/dotnet/project-system/issues/615
Nominate currently passes both TF and TFM. TF is the key used to identify each `TargetFrameworkInfo` object (though the api calls it "TargetFrameworkMoniker"), and TFM is stored in the `Properties` bag. I'll close https://github.com/dotnet/project-system/issues/615 since we are already passing all the info NuGet needs to make this switch.

[2017-05-23 18:59] emgarten commented on #5100
NuGet doesn't directly add analyzers to projects. Taking a look at ``Microsoft.CodeAnalysis.Analyzers 1.0.0`` I see that install.ps1 and uninstall.ps1 are used to modify the project through Visual Studio.

NuGet.exe update isn't able to run install.ps1 since it requires access to the project in Visual Studio to perform the updates.

You will need to update this package through Visual Studio to ful

[2017-05-23 18:59] #5100 closed, assigned to emgarten

[2017-05-23 19:43] JackGrinningCat opened #5273 "Improve output by printing the invalid arguments when returning "invalid arguments""
This is an issue of taking my time and therefore more an user-feature :D.
I used the newest version that was available by
nuget update -self  -> 4.1.0

It's like that, I got an error on the tfs and wanted to execute the same line on my command line.
Because i thought, should not be a problem to phrase that in my command line, i didn't bothered with the log. So as I was typing I missed one minor ph

[2017-05-23 20:09] emgarten commented on #5237
project.json is still used for UWP, but it is no longer used for NETCore projects.

If the packages folder path is not listed in project.lock.json then you can check:
1. NUGET_PACKAGES env var which overrides the default
1. Use the default location of ``%USERPROFILE%/.nuget/packages``

[2017-05-23 20:47] dtivel opened #5274 "Plugin: plumb down install/restore context"
One of the core problems in current plugin design is that the protocol layer (NuGet.Protocol) lacks context on the overall install/restore operation.

1. Plugin's are not promptly terminated when an operation is complete.  Plugins are terminated when either of the following occurseither the NuGet process exits or after some idle time has passed.
2. Plugin-related resources (in NuGet) are retained

[2017-05-23 20:48] dtivel opened #5275 "Plugins: add end-to-end tests"
Add some end-to-end tests for plugin package install and restore scenarios.

Some changes may be necessary for our test infrastructure to support the requirement that plugins must be Authenticode signed.

[2017-05-23 20:54] anangaur commented on #2585
Currently the Package Manager UI shows a list of packages that is inline with the sorting order on NuGet.org search results based on 'popularity'. However, users need varied ways to search to get to the right package quickly. E.g

1. By Name (alphabetical)
2. By Popularity (default)
3. By Latest updated/uploaded
4. By Dependent packages (how many depend on this package)

[2017-05-23 20:55] shishirx34 commented on #5010
Partly Fixed with https://github.com/NuGet/NuGet.Client/pull/1395

TODO: Add sync support in MSBuild Restore task for TFM and TPMinV

[2017-05-23 21:51] mellinoe commented on #4964
What's the significance of "AutoReferenced" ? Can that part be removed, or rephrased like "This package is automatically referenced by the SDK. It is part of ..."

[2017-05-23 21:59] jariq commented on #5260
@vcsjones that's a great summary of problems that need to be carefully considered and solved before package signatures can be automatically processed during package install. I agree with your post almost 100% but I am afraid that trying to solve all problems at once might be quite overwhelming and may not lead to satisfactory results in a reasonable time. I believe we should take one small step at

[2017-05-23 22:24] jainaashish opened #5276 "[PerfWatson] UIDelay: nuget.packagemanagement.visualstudio.dll!NuGet.PackageManagement.VisualStudio.VSSolutionManager+<GetOrCreateProjectAsync>d__.MoveNext"
More details in internal VSTS bug# 438225

[2017-05-23 22:33] kzu opened #5277 "Provide a mechanism to opt into legacy project system mode"
The following are the [only cases where the CPS behavior](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/ProjectSystems/CpsPackageReferenceProjectProvider.cs#L80-L96) can be skipped and fall back to legacy:

* `RestoreProjectStyle != PackageReference`
* `TargetFramework && TargetFramework == ''`

For NuGetizer, we are in a tough spot where we

[2017-05-23 23:00] anangaur commented on #4964
@mellinoe Thanks for the suggestion. I left the AutoReferenced word there to refer the term from documentation. But now that I think about it, documentation can be reworded too :)

`This package is automatically referenced by the SDK and should not be updated independently. To update the package, update the SDK to which it belongs. More details: https://go.microsoft.com/fwlink/?linkid=841238`

Als

[2017-05-23 23:22] dtivel opened #5278 "Logging: warnings reported as errors"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):  NuGet.exe

NuGet version (x.x.x.xxx):  latest dev branch

dotnet.exe --version (if appropriate):  N/A

VS version (if appropriate):  N/A

OS version (i.e. win10 v1607 (14393.321)):  Windows 10 v1703 (15063.296)

Worked before? If so, with which NuGet version:  4.1.0

## Detailed repro steps so

[2017-05-23 23:25] emgarten commented on #5278
@mishra14 is this fixed in the feature branch?

[2017-05-24 00:34] anangaur commented on #4964
@shishirx34: We need to make the text shorter as it doesn't look good on the UI. Also we should make the link URL a hyper link.

**Updated text:**
Implicitly referenced by an SDK. To update the package, update the SDK to which it belongs. [Learn more](https://go.microsoft.com/fwlink/?linkid=841238)

[2017-05-24 00:40] kzu commented on #5263
Fixed by https://github.com/NuGet/NuGet.Build.Packaging/issues/124

[2017-05-24 00:40] #5263 closed, assigned to kzu

[2017-05-24 04:11] AArnott commented on #4290
What's the status on this? It's blocking our ability to ship nuget packages (as it's the last blocker in a long chain of workarounds for other nuget bugs we're dealing with).

[2017-05-24 05:02] MicahZoltu commented on #4155
NuGet should be the one that evaluates the environment variable because it may refer to a non-static path.  In particular, if a system environment variable `NUGET_PACKAGES` is set to `%LOCALAPPDATA%/Microsoft/NuGet` then the final evaluated path will differ by logged in user.

[2017-05-24 05:07] MicahZoltu opened #5279 "Cache files should _not_ be written to %USERPROFILE% on Windows."
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): dotnet.exe

NuGet version (x.x.x.xxx): (don't know how to find this)

dotnet.exe --version (if appropriate): 2.0.0-preview1-005977

OS version (i.e. win10 v1607 (14393.321)): 10 Pro 10.0.15063 Build 15063

On Windows, NuGet should be a good citizen and follow Microsoft recommendations for folde

[2017-05-24 05:09] MicahZoltu commented on #5279
Note: The current behavior is particularly atrocious as this folder is almost 1GB and %USERPROFILE% by default will roam across a network if roaming profiles are enabled.  This will effectively make login/logout take however long it takes to copy 1GB of files over the network when using a new machine or first installing NuGet.  In a lab setting this can be fatal to the network.

This data definite

[2017-05-24 05:10] MicahZoltu commented on #5279
Note, it appears there is a second copy of this folder in `%USERPROFILE%/.dotnet/NuGetFallbackFolder` that is of similar size.  This means I have 2GB of data being roamed over the network right now because of NuGet.  😢

[2017-05-24 09:09] bradphelan commented on #1909
How to find "exactly where it is happening" All I see in the log is stuff like

![image](https://cloud.githubusercontent.com/assets/17650/26395704/36c383e2-4071-11e7-8302-fc3a88ad44ae.png)

I just can't imagine what an 8 core  multi gigaherz processor is doing for 30 seconds as it attempts to update a 30 line config file. The CPU is pegged at 25% usage

![image](https://cloud.githubusercontent.com

[2017-05-24 09:11] bradphelan commented on #1909
I have JetBrains profiler as well. If you can suggest exactly what I should be trying to profile I can have a go at that.

[2017-05-24 09:40] bradphelan commented on #1909
Strangely Nuget is hammering the assembly load mechanism as you can see.

![image](https://cloud.githubusercontent.com/assets/17650/26397041/4ba05ef8-4075-11e7-8c2c-8a9f9c17b7c7.png)

![image](https://cloud.githubusercontent.com/assets/17650/26397051/537abec0-4075-11e7-8898-28e8723cadbe.png)

I can't upload the actual profiler output because even when zipped it is 87MB

![image](https://cloud.gith

[2017-05-24 10:32] Ylaana opened #5280 "Custom content location within solution?"
I'm using Visual Studio 2015 Update 3 with NuGet 3.5.0 to build ASP.NET WebForms apps. Any packages I add sit in a packages folder above the solution level, which is fine. By default, the content of these packages is extracted to folders in the root of my solution (Content, Images, Scripts). I know it's possible to change the location of the packages folder with a nuget.config file, but can the sa

[2017-05-24 11:15] nguerrera opened #5281 "dotnet pack behaves differently depending on TargetFramework vs TargetFrameworks"
_From @jskeet on May 24, 2017 7:41_

## Steps to reproduce

Create a `csproj` file in an empty directory:

[code]

Run `dotnet restore` then `dotnet pack`. No problems, and a 3K nupkg.

Edit the project file to use `<TargetFramework>` singular, and repeat... warnings and a 19MB nupkg.

## Expected  behavior

The same behavior both times.

## Actual behavior

Massive difference, basically baking a

[2017-05-24 11:15] nguerrera commented on #5281
_From @dasMulli on May 24, 2017 10:8_

Quick analysis:

The reason seems to be that the `Grpc.Core` nuget package brings along a `build/net45/Grpc.Core.targets` file that emits `Content` items into the referencing project with `CopyToOutputDirectory="PreserveNewest"` metadata.
Since there are no targets in a `buildCrossTargeting/` folder, this doesn't happen for multi targeting projects (plural `T

[2017-05-24 11:15] nguerrera commented on #5281
_From @jskeet on May 24, 2017 10:13_

@dasMulli: Hmm. That sounds entirely plausible as the reasoning, but I don't think users should be exposed to that level of detail, necessarily - doesn't it make sense that a multi-targeting project with only a single target should behave the same way as a single-target project? This is *one* example of how they differ at the moment, but I can easily imagine t

[2017-05-24 11:15] nguerrera commented on #5281
_From @dasMulli on May 24, 2017 10:30_

The crazy part is that NuGet does create the restore targets correctly. The build logic of the imported package does run for inner builds of cross-targeting builds, but is not considered for the inner builds that the `Pack` target triggers.
`Grpc.Core`'s target isn't even "fancy" - just contains a static `<ItemGroup>` that every target will see.

So even tho

[2017-05-24 11:17] bradphelan commented on #1909
This issue might be related. Others have reported that allowing Nuget to add binding redirects is terribly slow. https://github.com/NuGet/Home/issues/1147

[2017-05-24 11:36] PrashanthIBM commented on #5237
Thanks a lot for answering all the questions.

Will close the issue.

[2017-05-24 11:36] #5237 closed, assigned to emgarten

[2017-05-24 11:57] bradphelan commented on #1909
Turning off nuget generated binding redirects seems to speed the install. We are now at an average of 8 to 12 seconds per projects rather than 30 to 40 seconds. Something must be wrong with the binding redirect generation.

[2017-05-24 12:02] Trafalgar-D-Law commented on #1815
I also met this question, and I has solved this question.
Here are what I did.
1.Open the project in VS;
2.Press F5 to run it;
3.Close the VS, and it will ask you if save solution, select yes;
4.reopen the project（*.sln）, and the question is solved.

[2017-05-24 12:21] JackGrinningCat commented on #5236
I had the same problem with a package that I had on a debug package folder and removed by me, because I got the dependencies wrong, and just deleted it.
So I guess it is necessary to have the package to compare the content. Force should always work.

Basically it's the duty from the developer/package provider to avoid such situation.

[2017-05-24 14:15] kzu commented on #5110
Makes sense. I made it unnecessarily more complicated than that.

[2017-05-24 14:55] andreaskoelsch opened #5282 "Boost Python3 with VS 2013 not working"
Hi,
I am trying to get boost python3 working in a VS 2013 C++ project. I use NuGet Package Manager for Visual Studio 2013, version 2.8.60610.756 to download boost 1.64.0.0 and boost_python3-vc120 1.64.0.0 in a new project.
I add C:\Users\user\AppData\Local\Continuum\Miniconda3\envs\python35\include and C:\Users\user\AppData\Local\Continuum\Miniconda3\envs\python35\libs to the VC++ Directories.

Th