[2019-01-25 13:50] GMZwinge opened #7732 "NuGet not reusing credential of parent source when pushing to subfolder"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe

NuGet version (x.x.x.xxx): 4.9.2.5706

dotnet.exe --version (if appropriate): N/A

VS version (if appropriate): N/A

OS version (i.e. win10 v1607 (14393.321)): win10 pro v1803

Worked before? If so, with which NuGet version: No.

## Detailed repro steps so we can see the same problem

[2019-01-25 15:29] ricmac1264 commented on #7644
Wiping the VM would be a hard option to sell with my employer.  We have two separate build agents on separate servers.  Each agent is running two pools and we see this issue across both agents in each of the pools at random intervals.  Additionally, containerization would not be an option at this point.

[2019-01-25 15:38] eliassal commented on #7583
The account running the build agent is part of administrator. How/where I check permission for TFS Nuget feed? As I said, opening VS with the same user, I can browse and get packages in nugget management console

[2019-01-25 15:45] eliassal commented on #7583
I have just revisited the permissions page of the feed, the user running the build agent, his status is "Owner" as well as he is in Projects administrators

[2019-01-25 15:52] eliassal commented on #7583
In the feed permission, I have the following, should I change something for build services, if yes, how, it seems that I cannt edit those records?

![feed](https://user-images.githubusercontent.com/8447864/51756543-914c8980-20c1-11e9-941d-2293dc93df01.jpg)

[2019-01-25 16:22] johnson512n28 commented on #5954
@jainaashish Is this Xdt Transform sample currently working? Getting the master branch, I assumed that installing the package into the MyWebApp and doing a build would transform the config files, but it doesn't. Any tips?

[2019-01-25 16:30] mmisztal1980 commented on #7644
In that case you're in a tough spot :/ I haven't been able to fix this in
any different way

On Fri, Jan 25, 2019 at 4:29 PM Richard McGinnis <notifications@github.com>
wrote:

[2019-01-25 16:51] dotMorten opened #7733 "Validate encoding of embedded license during packaging"
## Details about Problem
When we went to publish a NuGet package with an embedded license file using the new license entry instead of the licenseUrl, we got a validation error that the text file wasn't UTF8 encoded.
![image](https://user-images.githubusercontent.com/1378165/52072178-5a4efb80-2539-11e9-9ff5-6b2d127dc914.png)

Looking at the file, it was UTF8 encoded with BOM, which I assume was the

[2019-01-25 16:58] dotMorten commented on #7733
/CC @UmaHarano

[2019-01-25 17:11] nkolev92 commented on #7706
@v-luzh Since you successfully tested:
`NuGet in the Builds Tools SKU test report on VS Build Tools D16.0stg 28524.203 + NuGet Build Tools Dev\5.0.0.5787` as per the test reports, does that mean you are not seeing this issue anymore?

[2019-01-25 17:15] rrelyea commented on #7435
@heaths - thanks for the contribution. Appreciate it!

[2019-01-25 17:34] rrelyea commented on #7209
This was likely fixed in 4.9.0
However, if it missed that train, it definitely should be in 5.0.0-preview2.

[2019-01-25 17:48] #6091 closed, assigned to nobody

[2019-01-25 17:49] rrelyea commented on #5410
This fix may have shipped as part of 4.9. Closing this for sure now in the 5.0.0-preview2 release.

[2019-01-25 17:53] inabeel opened #7734 "Nuget trasitive dependecy should contain flag for .netcore or system level packages"
Utility development for .NET Core project transitive dependencies

I am accessing Nuget.Package model to access Target dependencies of the project, which is excellent. The good point is it contains "AutoReferenced" flag to indicate the dependency is auto referenced. But the problem comes when I go to sub dependencies of "LockFileTargetLibrary" object, it doesn't have any similar flag to identify f

[2019-01-25 17:55] natemcmaster commented on #6091
Yay! Time to update a bunch of packages to take advantage of this feature.

[2019-01-25 18:13] clairernovotny commented on #6091
Wait, to be clear, this will work across both package ref's and project refs? So a Proj A -> Proj B -> package C, where C has build assets, and the props/targets will get evaluated for A, and B?

[2019-01-25 18:15] clairernovotny commented on #6091
@terrajobst, I wonder if this will let me do evil things like switch up the assembly the compiler sees based on UseWPF/UseWindowsForms?

[2019-01-25 18:17] satbai commented on #7364
The latest version of the credential provider has some additional attention tracking print around the device flow prompt. https://github.com/Microsoft/artifacts-credprovider/releases

[2019-01-25 18:21] nkolev92 commented on #7364
Thanks @satbai.

[2019-01-25 18:21] #7364 closed, assigned to nobody

[2019-01-25 18:22] natemcmaster commented on #6091
🙈 haha, you could already do evil things with props/targets in packages. This lets you do even more evil things.

[2019-01-25 18:26] clairernovotny commented on #6091
Here's the situation with `netcoreapp3` -- there's no way to distinguish between the platform and the app model (wpf/winforms).

I need to have a target for `netcoreapp3` but only for WPF/WinForms. If the regular SDK, or linux, tries to build consume a binary that itself uses wpf/winforms (and has public surface area), it fails:

https://dev.azure.com/dotnet/ba70dafd-6b93-4176-b27f-975148db36bd/_b

[2019-01-25 18:31] natemcmaster commented on #6091
So, yes, buildTransitive/ let's you workaround this.

As a side note, have you opened this issue against dotnet/sdk? I think they would be interested in this feedback on the wpf/winforms problems.

[2019-01-25 18:33] clairernovotny commented on #6091
Immo and I have talked a lot about this. It's currently by design and he thinks my situation is not at all common....I think it'll bite any MVVM library, among others. The alternative is to have two packages: Core and Core.WindowsDesktop. I don't like having to split that way though.

[2019-01-25 18:33] zivkan commented on #7583
To be honest, I know little about TFS administration, it's just that the error message you copied (Unable to load the service index for source) is what NuGet reports when it doesn't get a valid JSON response when trying to get the V3 index.json. Before joining the NuGet team, the team I was working for needed to use a private package from another team, and the developers were given access to that

[2019-01-25 19:00] eliassal commented on #7583
Yes, I have 1st task dotnet restore that is failing, followed with Nuget restore

[2019-01-25 19:03] eliassal commented on #7583
the dotnet restore is for 1 project in the solution, then the nugget restore is for the whole solution

[2019-01-25 19:07] zivkan commented on #7583
Changing the order, nuget restore first, followed by dotnet restore, will hopefully fix your CI builds, as long as nuget restore can get credentials correctly, because dotnet restore should have nothing to do. Since nuget restore should restore everything correctly, you should also be able to delete the dotnet restore task.

[2019-01-25 19:12] eliassal commented on #7583
OK I will give it a try

[2019-01-25 19:13] nkolev92 commented on #6431
@gh-andre

The bottom line is that is msbuild today and there is no indication it's changing in the immediate future.

I personally cannot make any commitments about how it will behave in the future, you can reach out here https://developercommunity.visualstudio.com, with those questions.

Going back to the original ask.
There is nothing actionable that needs to be done from a NuGet perspective, a

[2019-01-25 19:29] heng-liu commented on #7540
Fixed. PR https://github.com/NuGet/NuGet.Client/pull/2579

[2019-01-25 19:29] #7540 closed, assigned to heng-liu

[2019-01-25 19:30] #7600 closed, assigned to heng-liu

[2019-01-25 19:34] jainaashish commented on #6091
@onovotny `buildTransitive` will help you with your scenario and works across PackageRef or ProjectRef.

I'll also work on updating the NuGet docs to make it more readable. And also get a blogpost out soon.

[2019-01-25 19:35] clairernovotny commented on #6091
@jainaashish is this expected to be in .NET Core 3 preview 2? That'd be very helpful and unblock Rx.NET.

[2019-01-25 19:42] jainaashish commented on #6091
It's late for preview2 but it will be there in preview3.

[2019-01-25 19:47] clairernovotny commented on #6091
Okay, good to know, I guess that gives it time to get into VS as well.

For NuGet restores, if I install a nightly .NET Core SDK that has this (post-preview 2), will VS use that or do I really need the updated VS?

[2019-01-25 20:38] jainaashish commented on #6091
VS have its own code so you'd need to update VS to get the latest changes.

[2019-01-25 20:41] rrelyea commented on #6742
If needed, let's open a new issue, and link to this one.
Our release note process is based on closed issues, and i'd like to document this in our 5.0-p2 release notes. Changed the title to reflect what we did.

[2019-01-25 20:47] rrelyea opened #7735 "VS 16.0's NuGet UI has unreadable tabs due to color problems"
DevCommunity issue: https://developercommunity.visualstudio.com/content/problem/395098/tabs-in-nuget-package-ui-with-new-blue-theme-are-u.html

Internal bug: 737441

PR: https://github.com/NuGet/NuGet.Client/pull/2581
Commit: https://github.com/NuGet/NuGet.Client/commit/16c996d5bda0a81bbd57c55a1f9a62dc4e3894ac

[2019-01-25 20:48] #7735 closed, assigned to dominoFire

[2019-01-25 20:56] livarcocc opened #7736 "Restore using msbuild produce different result than dotnet restore"
_From @pepone on January 25, 2019 16:23_

I seeing some differences between `dotnet restore` and `dotnet msbuild /t:Restore`
The former generates

[code]

The later generates

[code]
Using the later fails at build time because netstandard.library package is not in $(NuGetPackageRoot)
[code]

_Copied from original issue: dotnet/cli#10655_

[2019-01-25 20:56] livarcocc commented on #7736
I imagine this might happen because of differences in the NuGet version used by that version of the CLI and the version of NuGet inserted into the version of Visual Studio that you are using. I am going to move this issue to NuGet where they can say when this might have changed.

[2019-01-25 21:08] rrelyea commented on #7497
@dominoFire  - yes, please use "closedas:*" labels when we close for a reason other than it was fixed. that way, release notes and people will know if we fixed it or not.

[2019-01-25 22:33] nkolev92 commented on #7376
Since 3.4+ nuget has been normalizing the 4th part version of packages.

It also considers 1.1.1 and 1.1.1.0 to be equivalent, as the doc you linked indicated.

They are supported, but we'd discourage that.

If you want to add build versions, I'd recommend you use semver2 compatible prerelease versions.

Say have something like, `2.1.0-preview.1.5667`

[2019-01-25 22:46] nkolev92 commented on #7371
Csproj based pack really works properly with VS 2017 only, and -IncludeReferencedProjects is not supported there.

Anyway, I'll change this issue to what we mentioned earlier.

[2019-01-25 22:48] terrajobst commented on #6091
My general feel for the the design of .props and .targets ingestion is that this should be considered an escape hatch for advanced package authoring so that cases like @onovotny where conventions don't work the developer has a 100% control. For this to work, they build scripts must flow across P2P, so I'm highly supportive of this change.

Yes, we should discuss this more but this problem doesn't

[2019-01-25 23:28] gh-andre commented on #6431
I cannot speak for others in this thread, but yes, what I described above works for a bunch of my C++ projects using Nuget.

[2019-01-25 23:41] nkolev92 commented on #6431
Thanks for confirming your scenario @gh-andre

I'm happy to work with the rest if there are still things that are not clear, or if an ask comes out of the discussion.

For now, I'll close this issue.

[2019-01-25 23:41] #6431 closed, assigned to nobody

[2019-01-26 03:48] StingyJack commented on #7371
Thanks @nkolev92.

Related/side note...

... how would anyone come to know this?

[2019-01-26 05:15] WernerMairl commented on #4393
i can confirm "dotnet push **/*.nupkg" (linux slash, instead of windows backslash) basically is working. push is executed (i see my packages on NuGet.Org!

BUT command ends with exitcode and the last3 output rows:
[code]
it seems that some symbol settings now are required.
i'm not using symbol features untilt now, so i don't expect this exception... may be a breaking change ?

+ dotnet --info
.NET

[2019-01-26 06:07] WernerMairl commented on #4393
my last post/error/finding can be solved by adding
-n (--no-symbol) option BUT ATTENTION
there is another bug in the commandline parser (https://github.com/NuGet/Home/issues/4864)
thet requires the syntax "-n true"

error: File does not exist (**/*.snupkg).

[2019-01-26 06:17] WernerMairl commented on #4393
Personal note:

coming back to work more with NuGet (Client) after two years and i must see:
no progress in core quality/stability....

i'm using core features (NuGet push) and after 2 hours of work i run into 2 open issues

- "dotnet nuget push **/*.nupkg" shows different behavior then "dotnet nuget push concrete.nupkg" regarding snupkg (a new feature that adds some regression ?)
- dotnet nuget p

[2019-01-26 12:03] assassin316 commented on #7437
I'm having the exact same issue. Any resolution on this problem??

[2019-01-26 15:16] FlorianHockmann commented on #7376
OK, thanks for the clarification, especially for this sentence:

which is also how I interpreted the docs (although I think that it wouldn't hurt to include that explicitly there).

[2019-01-26 15:16] #7376 closed, assigned to nobody

[2019-01-26 17:32] mrward opened #7737 "Get-Package -Updates ignores constraints"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): Package Manager Console

NuGet version (x.x.x.xxx): 4.9.2.5706

dotnet.exe --version (if appropriate):

VS version (if appropriate): 15.9.4

OS version (i.e. win10 v1607 (14393.321)):

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

Addin

[2019-01-26 17:35] mrward opened #7738 "Get-Package passes the wrong project when applying constraints"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (x.x.x.xxx):

dotnet.exe --version (if appropriate):

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)):

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

Was reviewing the GetPackageCommand code and sa

[2019-01-26 17:49] mrward opened #7739 "Get-Package -Updates -ProjectName MyProject is not allowed"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): Package Manager Console

NuGet version (x.x.x.xxx): 4.9.2

dotnet.exe --version (if appropriate):

VS version (if appropriate): 15.9.4

OS version (i.e. win10 v1607 (14393.321)):

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

1. With a

[2019-01-26 21:14] sam-wheat opened #7740 "Should dependent assemblies less than or equal to projet's target be added when package is installed?"
PM> $host

Name             : Package Manager Host
Version          : 4.9.3.5777
InstanceId       : d190a8ae-335c-4f75-9f14-09ac364bee12
UI               : System.Management.Automation.Internal.Host.InternalHostUserInterface
CurrentCulture   : en-US
CurrentUICulture : en-US

NuGet Version: 4.9.2.5706
usage: NuGet <command> [args] [options]
Type 'NuGet help <command>' for help on a specific command

[2019-01-27 02:11] xen2 commented on #6091
Great, we can finally get rid of those custom `PrivateAssets`!
Will this make it only in VS 2019 or also in a VS 2017 update?

[2019-01-27 05:02] npickett opened #7741 "Nuget restore fails on first rebuild, succeeds on second to N rebuilds."
## Details about Problem

When rebuilding a solution within Visual Studio 2017, the first rebuild fails, second to N rebuilds succeeds.

VERSIONS
=======
Visual Studio 15.8.5

## Detailed repro steps so we can see the same problem

1. Open repo project in Visual Studio
2. Right-click on InitialLoadingIssue solution and select "rebuild"
3. The following error is received

[code]
4. Right-click on I

[2019-01-27 11:06] mrward commented on #7737
Ignoring https://github.com/NuGet/Home/issues/7738 for the moment - and only having one project so the default project is always the correct one to use. Looking at the code the correct highest available version is found in the MultiSourcePackageMetadataProvider when the constraint is applied at this point:

https://github.com/NuGet/NuGet.Client/blob/8d300225298df9c6af6c784efffa7522109f0096/src/NuG

[2019-01-27 22:35] stas-lucky commented on #7341
Issue occurs periodically. Run build again solves issue. Using "Hosted Ubuntu 1604" agent.
Message:
2019-01-27T22:22:22.1440448Z /usr/share/dotnet/sdk/2.2.101/NuGet.targets(499,5): error : Could not find a part of the path '/tmp/NuGetScratch/d102ea94-1214-4dd5-a627-d49d3fa8f937'. [/home/vsts/work/1/s/src/SF.DA.BLL/SF.DA.BLL.csproj]
2019-01-27T22:22:22.7437026Z ##[error]Error: /usr/bin/dotnet faile

[2019-01-28 02:22] xen2 commented on #1660
Considering this is possibly a breaking change, any chance this makes it to NuGet 5.0/VS2019?

[2019-01-28 03:30] msfcolombo opened #7742 ""Package is not compatible with netcoreapp2.2", but same message says it is supported"
## Details about Problem

NuGet product used: dotnet.exe

dotnet.exe --version: 2.2.103

OS version: Win10 1809 build 17763.253

Worked before? No.

## Detailed repro steps so we can see the same problem

Open admin command prompt and type:

    dotnet tool install -g atgit --version 0.8.7

You shall see this error:

    error NU1202: Package atgit 0.8.7 is not compatible with netcoreapp2.2 (.NETC

[2019-01-28 07:10] ilya-chumakov commented on #7373
Sad to hear that. As a workaround, we publish the core nuget package and its dependent packages at once, to keep it in-sync with the latest directly referenced code. One day we'll make things right and remove the csproj reference.

[2019-01-28 16:03] le-agould opened #7743 "PackageReference support in FSharp projects"
Hi,

Could you give some indication as to when support for PackageReference project directive will include F Sharp projects - Thanks...

[2019-01-28 17:29] #7695 closed, assigned to dtivel

[2019-01-28 17:39] skironDotNet commented on #7360
I don't remember but I think it used to be part of nuget.org documentation, but I just visited the site and I notice all replaced by docs.microsoft.com so I guess problem solved

[2019-01-28 17:44] nkolev92 commented on #7360
Thanks @skironDotNet for following up. Apologies for our overdue reply.

[2019-01-28 17:44] #7360 closed, assigned to nobody

[2019-01-28 17:44] jainaashish commented on #6091
For now, this will only be in VS 2019 (starting with VS 2019 preview3)

[2019-01-28 17:59] jainaashish commented on #7427
Closing it as not repro on latest builds as confirmed by v-luzh

@philippdolder please log a separate issue with repro steps and complete details about your scenario.

[2019-01-28 17:59] #7427 closed, assigned to nobody

[2019-01-28 18:41] gdodd1977 opened #7744 "While installing nuget package, a different dependency is brought down than what is shown."
I have a nuget package in my project that keeps pulling down some random dll instead of the ones listed as the dependencies.

i.e. package is CompanyName.SomePackage and it has a dependency on AnotherPackage.Core. When looking in nuget explorer, it even shows the correct dependency name. But when I actually tell it to install, it grabs AnotherPackage.SomeOlderNonUsedVersion instead during the inst

[2019-01-28 18:49] nkolev92 commented on #7341
@stas-lucky Have you ever used nuget.exe on mono on the machine where the problems happen?

[2019-01-28 19:33] nkolev92 commented on #7371
@StingyJack

There is no switch for dotnet pack/csproj pack.
Related ask https://github.com/NuGet/Home/issues/3891.

Maybe we are not referring to the same thing when we say csproj pack.

When I say I mean the targets pack.
https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets

Are you referring to the same thing?

[2019-01-28 20:36] #7493 closed, assigned to nobody

[2019-01-28 20:44] StingyJack commented on #7371
I mean `nuget pack myproj.csproj`.

I haven't had to venture much into proj and sln files, and would imagine this to be true for most .net devs. Though I know how to use them more effectively now I would still hesitate to modify or embed new targets in them if the rest of the team isn't up to speed

[2019-01-28 22:24] #5936 closed, assigned to nobody

[2019-01-29 00:58] Flavien commented on #5602
Wasn't the [problem referenced above](https://github.com/NuGet/Home/issues/5602#issuecomment-448308066) the same problem as [this](https://github.com/NuGet/Home/issues/7682)?

[2019-01-29 02:00] jainaashish opened #7745 "Analyze test failure DependencyGraphRestoreUtility_LegacyPackageRef_Restore_BuildTransitive"
Disabled one unit test `DependencyGraphRestoreUtility_LegacyPackageRef_Restore_BuildTransitive` which is consistenly failing in CI but passing locally.

https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=2365490&view=logs

[2019-01-29 06:55] ananyo2012 opened #7746 "PackageReference support in C++ (as a way to get: Solution Level packages.config for VC++ project)"
## Details about Problem

NuGet product used: VS UI

NuGet version: 4.6.2.5055

VS version: VS2017 Professional v15.6.7

OS version: win10 v1607 (14393.2665)

I am trying to move a common package which is used by multiple VC++ projects in a solution to a common solution level packages.config. But it doesn't seem to work. I can't use https://github.com/Microsoft/MSBuildSdks/tree/master/src/CentralP

[2019-01-29 09:25] Flavien commented on #7682
Where is that bug fixed? I'm using VS2019 Preview 2 (NuGet 5.0.0), and I'm still experiencing that problem.

[2019-01-29 09:28] v-nancyj commented on #7706
@nkolev92 The issue still repro on VS Build Tools D16.0 28526.10 + NuGet Build Tools Dev\5.0.0.5798 after my verification today, could you help to check it?

[2019-01-29 10:05] yh371174229 opened #7747 "Download package very slow in china"
## Details about Problem
Do you pay attention to China's nuget experience? Is there a mirror server for China? I did not try to download this update for the day.
NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (x.x.x.xxx):latest

dotnet.exe --version (if appropriate):.net framework 4.5.2

VS version (if appropriate):2013/2015/2017

OS version (i.e. win

[2019-01-29 13:40] #7747 closed, assigned to nobody

[2019-01-29 17:52] loic-sharma opened #7748 "Error when restoring packages when source declares all packages as repository signed"
## Details about Problem

NuGet product used: dotnet.exe
dotnet.exe --version: 2.1.503

This bug affects does not affect nuget.exe or Visual Studio. The following .NET SDK clients are affected:

* 2.1.500
* 2.1.502
* 2.1.503
* 2.2.100
* 2.2.101
* 2.2.102
* 2.2.103

/cc @PatoBeltran @dtivel @rido-min

## Detailed repro steps so we can see the same problem

The `allRepositorySigned` flag is enabled

[2019-01-29 18:25] jainaashish commented on #7682
I can't repro it with VS2019 Preview2. Can you share your complete repro steps? and also the dotnet version details (run `dotnet --info`)

[2019-01-29 19:39] infin8x commented on #7236
@irontoby this is really great, thanks for taking the time to put it together. I've filed it in the feature that tracks improving these workflows, and will refer back to it closer to Q2 as we figure out the right improvements to prioritize.

[2019-01-29 20:51] Flavien commented on #7682
Here is what I am doing:
- I add `<RestorePackagesWithLockFile>true</RestorePackagesWithLockFile>` to my project to generate the lock file
- Then I delete my fallback Folders (`C:\Users\User\.nuget\packages` and `C:\Program Files\dotnet\sdk\NuGetFallbackFolder`)
- I rebuild the project to regenerate the lock file
- All the SHA512 values are different in the new lock file.

`dotnet --info`:

[code]

[2019-01-29 20:55] nkolev92 commented on #5734
This has been long fixed.
I have verified this in 4.9.3 and 5.0 previews.

[2019-01-29 20:56] #5734 closed, assigned to nobody

[2019-01-29 21:10] MiYanni commented on #7341
I am seeing this issue on our builds of Azure PowerShell on both the public hosted Linux and macOS workers in ADO. It seems to happen randomly.

[code]

[2019-01-29 22:19] heng-liu commented on #7742
It seems like this may be the same issue as https://github.com/dotnet/cli/issues/10468.
Thoughts? @wli3

[2019-01-29 22:27] wli3 commented on #7742
@msfcolombo this package is [ill formatted](https://github.com/dotnet/cli/blob/master/Documentation/general/tool-nuget-package-format.md). The dlls are in lib folder instead of tools. You should use `<PackAsTool>true</PackAsTool>` and run pack instead of setting package type directly.

@heng-liu I think we could close it

[2019-01-29 22:31] heng-liu commented on #7744
I have a question about the details of your repro scenario.

Package: CompanyName.SomePackage depends on what version of AnotherPackage.Core? (according to the .nuspec in CompanyName.SomePackage)

What version of AnotherPackage.Core ends up getting installed?

What type of project are you using? Is it using Packages.Config or PackageReference?

After that:
Besides clearing your global package fold

[2019-01-29 22:43] gdodd1977 commented on #7744
So it doesn't even install AnotherPackage.Core. It installs some other dependency package that isn't part of the dependencies. It's like it's some how holding on to a really old version of this that USED to point to AnotherPackage.SomeOlderNonUsedVersion, but it no longer does.

It uses PackageReference.

We all use the same package feed.

[2019-01-29 22:45] heng-liu commented on #7743
When I check in VS2017(15.9.6), all F# projects are .Net Core and .Net Standard, so all of them support PackageReference. Not sure which version of VS do you use and what kind of project do you create?
/cc @cartermp

[2019-01-29 22:54] refactorsaurusrex commented on #5157
@msrinivascharan What fix?

[2019-01-29 23:18] msfcolombo commented on #7742
@wli3 Thanks. I think you are missing a validation step here. Otherwise the message would not be so confusing. Consider leaving this open for the fix.

[2019-01-29 23:19] jainaashish opened #7749 "Enaled locked mode for nuget solution in CI"
Once VSTS agents are moved to dev16 preview3 or greater then we should enable locked mode for package restores for NuGet solution.

[2019-01-29 23:25] nkolev92 commented on #7529
I did some digging on NU1603 and related issues.
There are a lot of NU1603 related issues that have been filled.

https://github.com/NuGet/Home/issues/5764
Useful comment describing when NU1603 occurs
https://github.com/NuGet/Home/issues/5764#issuecomment-323613059

the important thing to ensure is that if all the resolutions are misses, a warning is raised for all of them similar to before.
https

[2019-01-29 23:53] cartermp commented on #7743
@heng-liu is correct, F# has full support for PackageReference provided you are using .NET SDK-style projects.

[2019-01-30 01:24] heng-liu commented on #7741
I tried to repro on Visual Studio 2017 (15.9.6-preview2) but every rebuild succeeded.
Can you please provide more details so we can repro? Thanks!

[2019-01-30 03:36] npickett commented on #7741
Thanks Heng-Liu for reaching out. I am able to reproduce it every time I do a fresh clone of the code, so I feel like some build artifact from the first build is setting something that triggers a Nuget restore on the 2nd and Nth rebuild attempt.

When comparing the logs from a failure (1st rebuild) and success (2nd rebuild) compilation, I noticed that the 2nd rebuild does a nuget restore - it has

[2019-01-30 03:52] npickett commented on #7741
Also, when running the third and Nth time, it is also successful, the difference in the logs from the 2nd and 3rd run is shown below:

**3rd run - successful rebuild**
`Assets file has not changed. Skipping assets file writing. Path: C:\projects\cw.repo3\InitialLoadingIssue\obj\project.assets.json`

**2nd run - successful rebuild**
[code]

[2019-01-30 09:15] le-agould commented on #7743
@cartermp / @heng-liu - Thanks for your reply, however, when I manage NuGet Packages in Visual Studio Professional 2017 (Latest v15.9.5) F# projects ignore the "Default Package Management" setting of "PackageReference" and creates/adds to Packages.config file. This is contrary to C# projects which honours the setting and adds a PackageReference to the project file.

[2019-01-30 09:41] le-agould commented on #7743
Updated to Visual Studio Professional v15.9.6 and same - packages.config is created/updated for F# projects, ignoring the "Default Package Management" setting of "PackageReference"

[2019-01-30 10:35] cartermp commented on #7743
@le-agould Are you using .NET SDK-style projects? If you're not, then it will still use packages.config. F# support for PackageReference is with .NET SDK-style projects only.

[2019-01-30 11:02] le-agould commented on #7743
@cartermp - Hi Phillip - The solution is a C# .NET Framework v4.6 class library with NUnit based unit tests written in F#. Not sure what you mean by ".NET SDK-style projects only."

[2019-01-30 11:37] cartermp commented on #7743
@le-agould .NET SDK-style means a project type that uses the .NET SDK. You can see an example if you create a new .NET Core project, or use `dotnet new` with one of the templates that comes with the .NET CLI.

I suspect your NUnit tests are using the non-.NET SDK style projects based on what you are saying. The resolution to this is to create a new project (perhaps with `dotnet new nunit -lang F#`

[2019-01-30 13:22] JackGrinningCat commented on #6548
Please add a disclaimer for all the incompatible cases.

2019 I struggle to get all the cases right, can consume packages with ease between projects that use package.config, package reference, updates to .Net Core and copy-my-native-output-helpers like Baseclass.Contrib.Nuget.Output (which is my personal tip for anybody @emgarten ) and refrain from thinking that all development is broken after nug

[2019-01-30 15:40] rachelleahr commented on #7341
Same issue. Seems to be random, usually works when I rerun it. Using Azure Devops as well.
Does anyone have a fix?

[2019-01-30 16:05] mechDeveloper1 commented on #5014
I have docker setup on windows server 2016, I am also using HTTP_PROXY environment variable for docker to be able to pull images.

I also have an asp.net core 2.1 api, i am trying to build an image using docker file which fails with following error
`docker build -t testuser/testwebapi .`
Step 12/21 : RUN dotnet restore "TestProject.TP1.WebApi/TestProject.TP1.WebApi.csproj"
 ---> Running in 8a33a98

[2019-01-30 17:24] jainaashish commented on #7682
Thanks for details, but I still don't have repro steps to reproduce your issue locally. I need details about project, packages, did you already had a lock file when you restored, does it throw hash mis-match error at the end of restore, etc... So It will be helpful if you can list down the exact repro steps one by one and if possible, share a sample project.

Also, are you running within VS or dot

[2019-01-30 17:38] #7005 closed, assigned to nobody

[2019-01-30 17:41] #7621 closed, assigned to jainaashish

[2019-01-30 17:56] Flavien commented on #7682
I use VS. Restore works but generates a different SHA512 the second time, which is a red flag. And then restore fails in my CI build, which uses `dotnet restore`.

Is there a version of `dotnet` where this is supposed to be fixed?

I can try to build a minimal repro.

[2019-01-30 18:13] heng-liu commented on #7741
Thanks for your reply!
Can you please provide more details about the first failed rebuild so that I could repro? As my first rebuild succeed just the same with your 2nd rebuild. Thanks!

[2019-01-30 18:58] emgarten commented on #7529
From discussing this with @jainaashish, I would say that NU1603 should be ignored or added to nowarn when running in locked mode.

The goal of NU1603 was to surface the cause of bad restore performance, and it has been successful in helping users fix their projects and notify package authors of broken dependencies.

Scenario:
* Restore a project
* Delete the http cache and assets file
* Restore th

[2019-01-30 19:01] heng-liu commented on #7744
Thanks for your reply!
Can you please provide more details of the two scenarios(on your computer and your coworkers computer) so that I could repro?
In the meantime, can you please also provide the two project.assets files(when you finished installing the CompanyName.SomePackage, under obj folder)? They might be helpful, too. Thanks!

[2019-01-30 19:44] kevingosse commented on #3342
I just hit the same issue. Is there a known workaround?

[2019-01-30 19:54] nkolev92 commented on #7727
@wli3
The scenario wasn't clear to me when I commented last time.

I will do the change on NuGet side, and I'll try to work with you to validate it correctly.

I assume the remove package reference addition can target 2.1.6xx, while the dotnet list package one can target 2.2.2xx?

[2019-01-30 21:21] wli3 commented on #7727
@nkolev92 2.1.6xx and 2.2.2xx is not necessary since "--interactive in most commands" are in 3.0.1xx. But is also ok to add it.

[2019-01-30 22:13] #7373 closed, assigned to nobody

[2019-01-30 22:31] nkolev92 commented on #7727
Both PRs are out.

https://github.com/dotnet/cli/pull/10674

@wli3 We should clarify with the PMs + Rob if the the RemovePackageReference --interactive is something that makes sense.

[2019-01-30 22:45] rrelyea commented on #7746
Please vote on this dev feedback issue for C++team: https://developercommunity.visualstudio.com/idea/351636/use-packagereference-in-vcxproj.html

If you want to leave a comment saying why it is important for you, please do.

[2019-01-30 22:45] #7746 closed, assigned to nobody

[2019-01-31 00:30] nkolev92 commented on #7717
The reason for this is that the faulty data comes through the nomination API, which means the caller is not NuGet, rather project-system.

[2019-01-31 00:46] nkolev92 commented on #7717
Note that this does not happen with non-CPS based PackageReference because there is no nomination data that was attempted to be cached, rather we get it on the fly.

[2019-01-31 00:51] karann-msft commented on #7733
@dotMorten how was this license file created?

[2019-01-31 01:02] dotMorten commented on #7733
@karann-msft I don't know - our legal department did this. But I don't think that's relevant. If a nuget package is going to fail server validation, I'd prefer you get similar validation client-side (warning or error).

Also I don't believe the format of the license file is documented either (I couldn't find it). There's an example that it's a `.txt` file, but nothing stating it can't be a PDF, RT

[2019-01-31 01:54] nkolev92 commented on #7728
Started some work in dev-nkolev92-addVersionRangeComparer.

The comparison order is: min version, max version, float range if needed.
Tests still need to be added.

[2019-01-31 03:01] npickett commented on #7741
Sure, I am able to reproduce the failed state consistently by doing the following:

1. Removing the bin, obj, .vs folders
2. Removing the C:\Users\[UserName]\.nuget\packages\newtonsoft.json folder
3. Running rebuild on the solution in Visual Studio using the following build options:
- Debug
- Any CPU

Thank you.

[2019-01-31 04:17] PrashanthKarnam commented on #3342
@KevinGosse Please refer to this issue https://github.com/NuGet/NuGet.Client/pull/853 . That helped me solve the transitive dependency issue.

[2019-01-31 07:18] YunWeiaa opened #7750 "Warning when dotnet pack .Net Core 3.0 console app project"
## Detailed repro steps so we can see the same problem
1. Create a new .net core console app project via CLI
2. Dotnet restore and build
3. Dotnet pack

## Expected behavior
Restore/build/pack succeeded with no warnings and no errors.

## Actual behavior
Pack succeeded with the warning NU5104: `A stable release of a package should not have a prerelease dependency. Either modify the version spec of

[2019-01-31 08:10] Roman-Tarasiuk commented on #6978
In my Windows 10, I run commands:
**nuget.exe config -set http_proxy=http://proxy:port
nuget.exe config -set http_proxy.user=username**
These settings are found in C:\Users\username\AppData\Roaming\NuGet\NuGet.Config
I did not set password (i did before using **nuget.exe config -set http_proxy.password=userPassword**, but it did not work for me, and I have removed string from the file).
Maybe – I

[2019-01-31 08:14] tebeco commented on #6978
i understand that on the paper it works.

in reality you have 4-5 feed
some on nuget.org (require proxy + ad auth)
some in the LAN (http bad gateway if you use that settings ... logical)
some feed on vsts (need another proxy and probably auth too)

i’m order to do a `dotnet restore` on the aspnetcore repo i had to create like 8 artifactory proxy (cost money because of a handshake not handled at tc

[2019-01-31 09:22] karann-msft commented on #7733
@dotMorten, it is relevant because it'll help us repro the scenario. At the moment, we are not able to repro the failure you talk about. We tried to publish a package with UTF-8 BOM encoding and it didn't fail.

The docs have been updated to call out the supported file types - https://docs.microsoft.com/en-us/nuget/reference/nuspec#license

[2019-01-31 09:44] MikeRosoft opened #7751 "If one project contains errors, nuget.exe stops the restore of all new-style projects and only restores packages from packages.config (even when the project in question is itself an old-style project)"
Scenario: I have a solution containing a number of projects, some of them being old-style csproj projects (packages in packages.config), others new-style (packages defined in csproj file itself). One of the projects is a Wix installer project (wixproj), which cannot be converted to the new style.

The Wix project references the NuGet package [Wix 3.11.1](https://www.nuget.org/packages/WiX/3.11.1),

[2019-01-31 12:56] kevingosse commented on #3342
Yup I noticed shortly after, thanks :)

For the others who would find this issue: transitive targets are supported, but you need to opt-in when declaring the PackageReference. This did the trick for me:

[code]

[2019-01-31 14:30] dotMorten commented on #7733
Didn't you get my repro on email?

[2019-01-31 15:07] adamdriscoll opened #7752 "Machine readable output for dotnet list package"
## Details about Problem

It is difficult to parse the output of `dotnet list package`. We have requirements in our organization to audit packages that we are using in our projects. Without having a good way to parse the output of this command, it makes it difficult to structure the list of packages in a way that can be fed into another auditing system.

Running the following command produces the

[2019-01-31 16:42] kconners commented on #6873
I am pretty excited that this hasn't been ruled out as an enhancement.

[2019-01-31 17:05] japj commented on #7746
Hi, I have a working sample for using Nerdbank.GitVersioning with C++ PackageReferences at
https://github.com/japj/CppWithNuGetPackageReference

It works by using the _NuGetTargetFallbackMoniker property used by the official NuGet targets.

MSBuild /t:Restore and build works correctly with this in C++ projects.
However this is with a msbuild “build” nuget package, not tried with any other types ye

[2019-01-31 17:19] dotMorten commented on #7733
Here's a package the reproduces the problem: (remove the .zip extension)
[MyPackageEsriIncTest.1.0.4.nupkg.zip](https://github.com/NuGet/Home/files/2818300/MyPackageEsriIncTest.1.0.4.nupkg.zip)

[2019-01-31 17:29] dotMorten commented on #7733
@karann-msft I've tried a bunch of different ways trying to convert or re-create the txt file, and I'm met with the same UTF8 error over and over. The only way I can get it to pass the check is I remove most of the text from the file. I'm guessing there's something in that text file that's throwing off your validator.

[2019-01-31 17:42] dotMorten commented on #7733
OK I'm finding the offending character at line 295. That unblocks us - however still I'd like to get the same validation client-side during packaging.

[2019-01-31 18:10] heng-liu commented on #7741
Thank you for your reply!
I tried the same step as above, but still rebuild successfully.
Can you please provide more details to repro?
At the same time, can you please send the following settings as well?
In VS :  Tools -> NuGet Package Manager -> package manager settings
That might be helpful when I repro. Thanks!

[2019-01-31 18:27] npickett commented on #7741
Below are my package manager settings.  My VS version is Microsoft Visual
Studio Enterprise 2017 (v.15.8.5) and my .Net Framework version is
4.7.03056.  Working on a more details repo now.

[image: image.png]

[image: image.png]

On Thu, Jan 31, 2019 at 1:10 PM heng-liu <notifications@github.com> wrote:

--

[2019-01-31 18:31] npickett commented on #7741
Detailed Repo Process
1. Download attached zip.
2. Extract zip to folder.
3. Remove obj, bin, and .vs files if present
4. Select "Debug" and "Any Cpu"
5. Right click on Solution and select rebuild.
6. Output will state 1 error, posted in original description of this ticket.

[2019-01-31 19:04] anangaur opened #7753 "Deprecate ambiguous nuget.exe commands"
Some of the commands in nuget.exe should be deprecated. This issue tracks all such commands that should be deprecated in 5.0. Any other similar issues should be marked as duplicate of this one.

* `list`: With `dotnet.exe list` command, this seems ambiguous and should be deprecated. I propose to use `search` command to be its replacement. For now, we could just substitute the `list` as `search` an

[2019-01-31 19:04] anangaur commented on #7753
/cc: @rrelyea

[2019-01-31 19:15] heng-liu commented on #7741
Can you please send the two images again? I could only see the titles here. Not sure if it's caused by reviewed in email first. Thanks!

[2019-01-31 19:24] karann-msft commented on #7733
Can you share a file that I can repro that with?

[2019-01-31 19:29] dotMorten commented on #7733
@karann-msft Did you see package I attached 4 comments up? It has the offending `EULA.txt` file inside it.

[2019-01-31 19:53] heng-liu commented on #7740
Thank you for your feedback!
Can you please provide more details so that we can repro? Thanks!

[2019-01-31 20:09] nkolev92 commented on #7753
Since we are talking about 5.0 related things :)
https://github.com/NuGet/Home/issues/7199

I know the linked one might not be fully possible, but we can consider removing the nuget.exe project.json pack support immediately.

I'd be happy to chat through that with you and Rob.

[2019-01-31 20:12] nkolev92 commented on #6816
Cleaned up a bunch.
Closing this.

[2019-01-31 20:12] #6816 closed, assigned to nkolev92

[2019-01-31 21:18] bergbria commented on #7682
I've created a repro using nuget.exe 4.9.3 and dotnet sdk 3.0.100-preview-010184. I don't know if it's identical to the issue @Flavien saw but it's impacting my use case.

@jainaashish, is the issue just that your fix hasn't made it into the dotnet distribution yet?

Unzip the below and run repro.bat to reproduce the failure.

[lockFile_hashValidationErrors.zip](https://github.com/NuGet/Home/files

[2019-01-31 22:42] jainaashish commented on #7682
Yes, is hasn't made into dotnet yet, it will be available in next dotnet preview/release.

Can you repro it with only nuget.exe 4.9.3?

[2019-01-31 22:44] satuday commented on #4337
hi, what version is this fix in?

[2019-01-31 22:50] #7529 closed, assigned to jainaashish

[2019-01-31 22:54] anangaur commented on #7682
As these make into the .NET SDKs, we will update our table in the [release notes](https://docs.microsoft.com/en-us/nuget/release-notes/nuget-4.9-rtm):
![image](https://user-images.githubusercontent.com/14800916/52091066-13c4c580-2568-11e9-9f02-a5bc3fb3029f.png)

[2019-01-31 23:31] dtivel commented on #6007
Dupe of #4350?

[2019-01-31 23:34] jainaashish commented on #6007
No, Idea of #4350 was to reduce count of NuGet assemblies inside VS and club some smaller assemblies together.

[2019-01-31 23:40] DoRonMotter commented on #7033
Several improvements have been made although they could have been linked here for transparency.  Let's revisit after 5.0 ships.

[2019-01-31 23:40] #7033 closed, assigned to zhili1208

[2019-01-31 23:42] PatoBeltran commented on #6528
Closing this as there is no work scheduled for this right now.

[2019-01-31 23:42] #6528 closed, assigned to nobody

[2019-01-31 23:46] KirillOsenkov opened #7754 "Restore can't float to a pre-release package if non-prerelease is referenced"
Nuget.exe 4.9.2.5706

Have a simple SDK-style project with this PackageReference:

[code]

Use this NuGet.config:

[code]

Run Nuget.exe restore on the .sln or .csproj.

**Expected:** should pick `https://www.nuget.org/packages/Microsoft.VisualStudio.ImageCatalog/16.0.28527-pre` and succeed

**Actual:**
[code]

This is the package that requires a non-prerelease MS.VS.ImageCatalog:
https://vside.my

[2019-01-31 23:49] KirillOsenkov commented on #7754
[NuGet7754.zip](https://github.com/NuGet/Home/files/2819506/NuGet7754.zip)

Repro solution ^^

[2019-02-01 00:24] sam-wheat commented on #7740
What info do you need?

[2019-02-01 00:41] #7175 closed, assigned to nkolev92

[2019-02-01 00:41] rrelyea commented on #7742
@msfcolombo - there are a couple of things that need fixing:
1) .NET Core team should improve the error message that *dotnet install* raises when the nuget restore they kick off to help them do the install fails. That is tracked as https://github.com/dotnet/cli#10468
2) the atgit tool should not try to be a tool by just setting packagetype...as it has a problem with where the DLLs are. @wli3 says

[2019-02-01 00:41] #7742 closed, assigned to nobody

[2019-02-01 00:44] #7743 closed, assigned to nobody

[2019-02-01 00:52] mairaw opened #7755 "Dotnet Add package - configure private assets"
Original GitHub issue https://github.com/dotnet/docs/issues/5968 from @Meberem

Is there a way to configure the PrivateAssets attirbute that this command creates? I wanted to add https://github.com/ctaggart/SourceLink#all-source-files to a number of projects and making the PrivateAssets flag scriptable would be really handy

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-02-01 01:57] bergbria commented on #7682
No. If I replace all the dotnet restore calls with nuget restore (and enable lock files in the csproj) the errors do not manifest.

This isn't a complete solution, though, since nuget.exe is missing some of the args from dotnet.exe (e.g. --lock-file-path and --locked-mode).

[2019-02-01 03:30] KexyBiscuit commented on #7747
See https://blog.nuget.org/20170907/Changes-to-NuGet-dot-org-service-management-and-performance-improvements-in-China.html.

[2019-02-01 03:59] msfcolombo commented on #7742
@rrelyea, I think you meant https://github.com/dotnet/cli/issues/10468.

@wli3, the fix was far more easy than writing a `nuspec`. I just had to remove support for net452 and add `<PackAsTool>true</PackAsTool>` in the `csproj` file. Here's the commit: https://github.com/fernacolo/atgit/commit/7096b3eff4c1817749c40e2891f6a4687297c001

You can now install atgit with this simple command:

    dotnet

[2019-02-01 04:46] nkolev92 commented on #7754
It's been a long day :)

Restore historically has only allowed stable versions, if the dependency is declared as a stable version.
So it's a limitation and by design.

There are 2 options here:
* Get the package owners to publish the missing package.
* Reference 16.0.28205-pre manually from the csproj.

[2019-02-01 05:42] wli3 opened #7756 "Unable to push multiple packages at the same time"
_From @jkdey on February 1, 2019 0:22_

## Steps to reproduce
`dotnet nuget push *.nupkg -k <username>:<password> -s <source_uri>`

## Expected behavior
push all packages as shown in the last [example](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-nuget-push?tabs=netcore2x#examples)

## Actual behavior
pushes first package only

## Environment data
`dotnet --info` output:
.NET Core SDK

[2019-02-01 05:42] wli3 commented on #7756
_From @livarcocc on February 1, 2019 3:47_

@wli3 would you mind checking if this is an issue on our side or on NuGet's side?

[2019-02-01 05:43] wli3 commented on #7756
dotnet nuget command is a simple redirector to nuget.xplat

[2019-02-01 07:10] heng-liu commented on #7740
Hi, if what you want is to add OtherDll.dll in MyApp.exe project(targeting net472), you may add "-IncludeReferencedProjects" at the end of original nuget pack command. You don't have to edit the .nuspec file.

[2019-02-01 09:09] le-agould commented on #7743
@heng-liu - For your information...
MSBuild appears to support PackageReference for F# projects and will restore packages when specifying the target "restore" however Visual Studio does not recognise the references and shows them as missing references, unlike equivalent C# projects.
This is a bit misleading and confusing, appearing to be partially implemented.
Using Visual Studio to restore packag

[2019-02-01 09:29] IanKemp opened #7757 "NuGet doesn't allow proxy to be specified on the command-line"
Forcing users to specify the proxy via the environment variable `HTTP_PROXY` or `%appdata%\NuGet\NuGet.config` is not a solution because it doesn't allow the proxy to be specified on a per-invocation basis.

Command-line options should be added to allow for this. For example, add `--http_proxy=<value>` which would set that NuGet's session of `HTTP_PROXY` to the specified `<value>`.

[2019-02-01 09:47] MikeRosoft commented on #7199
Technically, project.json was used in ASP.NET Core projects in Visual Studio 2015. In Visual Studio 2017 this was also replaced with ProjectReference.

[2019-02-01 14:42] sam-wheat commented on #7740
@heng-liu

Hi, OtherDll is included in the nuget package as described in the post above.

It is not added as a reference to MyApp.exe which of course causes it to break.  Is that the expected behavior?

[2019-02-01 15:56] CodeTherapist opened #7758 "[Feature] Distribute code snippets with nuget package"
Similar how we can today distribute a `msbuild task` per nuget package, We could distribute code [snippet(s)](https://docs.microsoft.com/en-us/visualstudio/ide/code-snippets?view=vs-2017) with a nuget package. When a nuget package is referenced in a project that contains snippets, they become available for the specific project.

This feature would enable library authors to provide useful code frag

[2019-02-01 16:40] StachuDotNet commented on #6328
I've just faced a similar issue on linux (Ubuntu) and felt like this would be the best place to record the resolution:

I run 64-bit Ubuntu, and I think I installed `dotnet` with sudo (for some reason).
As such, when NuGet packages were downloaded to `/home/{me}/.nuget/{etc.}`, the folders inside were owned by `root`.
Because of this, when I attempted to download those NuGet packages (actually via

[2019-02-01 18:32] heng-liu commented on #7740
Thank you for your reply!
Yes, it's the expected behavior as you can also pack MyDll.dll and OtherDll.dll into separate packages if you don't specify "-IncludeReferencedProjects".

[2019-02-01 18:44] satuday commented on #3891
ran into this issue with dotnet pack and after hours of googling finally got here.. and its now more than a year and this shit is still not fix.. wtf?

[2019-02-01 18:54] #7754 closed, assigned to nobody

[2019-02-01 18:57] npickett commented on #7741
Re uploaded screenshots of settings:
![image 1](https://user-images.githubusercontent.com/1013081/52143320-29e68a80-2629-11e9-87dc-df8a6cd6f766.png)
![image](https://user-images.githubusercontent.com/1013081/52143327-2eab3e80-2629-11e9-8843-19d3fb2ad587.png)

[2019-02-01 19:11] StingyJack commented on #7268
@jainaashish - was this closed as fixed?  I think I'm seeing a regression if it is.

[2019-02-01 19:18] nkolev92 commented on #7752
Hey @adamdriscoll
Thanks for opening this issue.
It is something we considered initially, but wasn't added for V1.

@rrelyea @anangaur to chip in on how they'd want this done.

I personally prefer a json option.

[2019-02-01 19:58] WallaceKelly commented on #3891
@satuday I feel your frustration. Yesterday I waded through all the responses above. For my project, one of the suggestions above worked fine. I copied the following into my *.csproj file and `dotnet pack` worked like a charm. it didn't even feel like a workaround.

[code]

...and add `PrivateAssets="all"` to each of your `<ProjectReference ...>`.

[2019-02-01 21:46] satuday commented on #3891
@WallaceKelly  thanks. that works. I also added PrivateAssets="All" to the ProjectReference so that it would not show as a dependency in for the nuget package

[2019-02-01 21:51] rrelyea opened #7759 "Signing: Enabled Repo to require client verification of every package as repo signed -- via RepositorySignatures/5.0.0 resource"
Unfortunately, due to #7574, we cannot flip the switch on nuget.org to say that all packages are signed.
We plan to change the protocol from 4.9.0 to 5.0.0 and the server will ignore that 4.9.0 ever existed.

@dtivel @PatoBeltran @loic-sharma @rido-min

[2019-02-01 21:58] loic-sharma commented on #7759
The server issue is here: https://github.com/NuGet/NuGetGallery/issues/6841

[2019-02-01 22:19] leaderanalytics commented on #7740
@heng-liu  I'm sorry you closed this ticket as I don't think the issue is resolved.

Please understand that my question is not related to "-IncludeReferencedProjects".  In my case OtherDll.dll is not a project - it is a third party binary that is reference by my project.

What I understand your reply to mean is that:

After I specify explicitly that dependencies that are to be included in my nuget

[2019-02-01 22:56] loic-sharma commented on #7759
@rrelyea The `RepositorySignatures/5.0.0` resource is live on DEV: https://apidev.nugettest.org/v3-index/repository-signatures/5.0.0/index.json

[2019-02-01 23:22] heng-liu commented on #7740
Thank you for your feedback!
In this case, editing nuspec file is an unnecessary step. So you only need to build then run the pack command. If you would like to pack the two dlls into separate packages, then don't specify the "-IncludeReferencedProjects". If you would like to pack into one package, then specify the "-IncludeReferencedProjects".
Sorry for closing the issue when you think it's unres

[2019-02-01 23:48] anangaur commented on #7752
Json seems fine as most of NuGet generated artifacts are json too.

@adamdriscoll , If you could start with a one pager that includes the proposal on output i.e. the structure of the data and how sample output would look like with different options, that can be a good start. We can review the proposal and then suggest/make changes as required. Since this is not on our priority list, it would be di

[2019-02-02 00:02] leaderanalytics commented on #7740
@heng-liu Hi heng-lu,  please reopen this ticket because I do not think this topic is resolved.  Perhaps I'm not doing a good job of stating my questions or perhaps I don't understand your reply.

Here again are my questions:

Question 1:
Under what circumstances nuget SHOULD ignore a dependency and knowingly cause a nuget installation to fail.   The logic behind the question is: Why would I inclu

[2019-02-02 01:14] loic-sharma commented on #7759
Repository signed package - [Newtonsoft.Json 10.0.2](https://dev.nugettest.org/packages/Newtonsoft.Json/10.0.2)
Repository + author signed package - [System.Rido 1.0.1](https://dev.nugettest.org/packages/System.Rido/1.0.1)
Author signed package - [E2E.SignedPackage 2019.1.28-v094929](https://dev.nugettest.org/packages/E2E.SignedPackage/2019.1.28-v094929)
Unsigned package - [NodaTime 1.0.0](https:/

[2019-02-02 07:46] v-luzh commented on #7713
The bug is fixed on Dotnet SDK 3.0.100-preview-010185 / 3.0.100-preview-010206.

[2019-02-02 13:47] mrward opened #7760 "Sync-Package string format exception when package id does not exist in project"
## Details about Problem

NuGet product used (Package Manager Console):

NuGet version (4.9.2):

dotnet.exe --version (if appropriate):

VS version (if appropriate): 15.9.4

OS version (i.e. win10 v1607 (14393.321)):

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

1. Sync-Package SomePackageIdThatIsNotInstalled
2. Package Manager Console er

[2019-02-02 13:57] mrward opened #7761 "Sync-Package installs the package into all projects - does not consolidate"
## Details about Problem

NuGet product used (Package Manager Console):

NuGet version (4.9.2):

dotnet.exe --version (if appropriate):

VS version (if appropriate): 15.9.4

OS version (i.e. win10 v1607 (14393.321)):

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

1. Two projects in solution. ClassLibrary1 and ClassLibrary2

2. Install Newt

[2019-02-02 15:45] dfkeenan commented on #7758
I think this is a great idea. I would also like to be able to distribute item templates this way.

[2019-02-03 10:32] niwrA commented on #3891
I have been thinking about this a lot, but The argument about messing up dll-s in various packages and create conflicts seems a valid one. If you truly need your code to be in separate dlls then I think they are also better off being separate nuget packages that you link to as nuget packages from the other projects.

Whereas if you just want to have your code in separate projects but packaged toge

[2019-02-03 11:04] abatishchev commented on #3891
Sorry but simply no. Packaging framework shall not dictate project or dependency tree structure. At least a normal one. And current situation is not normal.

[2019-02-03 12:03] niwrA commented on #3891
Easily said, but if you understood what Shared Projects are and how they work, you would probably wonder why this isn’t the default way of working already. Project structure does not change. Dependency structure is greatly cleaned up. And it is as simple as moving your classes to the new Shared Projext and linking to that shared project from the dll.

(And I have in fact run into problems with com

[2019-02-03 15:57] kzu commented on #3891
Shared projects are thankfully dead. Long live SDK-style multi-targeting projects.

[2019-02-03 19:39] livarcocc commented on #7750
This is expected. This warning will only go away once we have a stable version of Microsoft.NETCore.App.

[2019-02-03 22:48] #7384 closed, assigned to nkolev92

[2019-02-04 08:10] CodeTherapist commented on #7758
@dfkeenan Item templates can be distributed as a nuget packages, see the [docs](https://docs.microsoft.com/en-us/dotnet/core/tutorials/create-custom-template).

[2019-02-04 09:53] kieronlanning commented on #6040
@jainaashish / @tjsimmons I've this same issue.

Even with an empty `<files></files>` element, those three dll's are included in the package.

For reference, the package I'm creating is a microservices testing framework containing some base classes for unit tests in other internal solutions - the actual microservices themselves.

[2019-02-04 18:57] rrelyea opened #7762 "Make NetCoreApp 3.0 map to NetStandard 2.1"
NetStandard 2.1 will be implemented by NetCoreApp 3.0.
Ideally, we'd get this support into 5.0 codebase of NuGet.

Xamarin will also be implementing NetStandard 2.1 -- but that change will come seperately.

An example of a previous change like this (mapping NS2.0 to NetFx, NS2.0 to NetCoreApp, NS2.0 to xamarin) was here: https://github.com/NuGet/NuGet.Client/pull/1043
We just want the NS to NetCor

[2019-02-04 19:16] heng-liu commented on #7741
Hi, thanks for your reply! I tried to follow the exact steps but can not repro. The output are as follows:
Restoring NuGet packages...
To prevent NuGet from restoring packages during build, open the Visual Studio Options dialog, click on the NuGet Package Manager node and uncheck 'Allow NuGet to download missing packages during build.'
Restoring packages for C:\Users\henli\Downloads\InitialLoading

[2019-02-04 19:47] npickett commented on #7741
Thank you Heng-liu,

I am wondering if it is environmental.  Let me see if I can get a colleague
with the same version of Visual Studio and see if it can be reproduced
outside of my machine.

-Nate

On Mon, Feb 4, 2019 at 2:16 PM heng-liu <notifications@github.com> wrote:

--

[2019-02-04 20:17] skofman1 opened #7763 "How to add binding redirects in web config through NuGet packages installation"
@GanesanRengasamy commented on [Sun Feb 03 2019](https://github.com/NuGet/NuGetGallery/issues/6873)

Hi Everyone,

I have prepared the sample MVC4 NuGet package for my dll with the dependent of the following NuGet packages compression.base, officeChart.base. I have installed my custom MVC4 NuGet pacakge in ASP.NET MVC project with framework version 4.5.2. After installation completed all dependent

[2019-02-04 20:28] skofman1 opened #7764 "Unable to download 1.8.4 version of Bouncy caslte"
@xikandar commented on [Fri Feb 01 2019](https://github.com/NuGet/NuGetGallery/issues/6869)

Hi all,
First of all I am new to Nuget. I am trying to build my .net core project using MS Build 15.x in Jenkins.
My build is failing & I get following details. Could you please help me out what I am doing wrong?

Is there any way to fix it ?
or how can I skip any particuler target so that' it doesn't rest

[2019-02-04 22:54] nkolev92 commented on #7755
It's not possible right now.
I'll consider this is a feature request for the scenario.

//cc @anangaur @rrelyea @kathleendollard

[2019-02-04 22:56] anangaur commented on #7755
If the SourceLink packages are published with DevDependency = true, wouldn’t we auto add the PrivateAssets flag to PackageReference?

[2019-02-04 23:04] nkolev92 commented on #7756
@jkdey
Can you post the logs from what you are doing (strip away api keys, source urls if needed etc.)
Run the highest verbosity possible.

Are you pushing to a private source/nuget.org?

Have you tried using different versions of the SDK?

[2019-02-04 23:13] KathleenDollard commented on #7755
If you provide support for this at the NuGet level, we would consider a CLI change to support, so feel free to create that issue as you consider this.

[2019-02-04 23:19] nkolev92 commented on #7755
Yes, it will add it `PrivateAssets=all` if it's a dev dependency.

The option could be useful for the general scenario.

[2019-02-04 23:20] anangaur commented on #7755
@tmat can you add devdependency flag to SourceLink packages? I think that would definitely help developers to not auto expose SourceLink as a dependency upwards.

[2019-02-04 23:23] anangaur commented on #7755
I agree on the general usecase but not sure how critical or costly the issue fix is. I do see, however, more and more people using SourceLink to get the snupkg and source code info generated for their packages automatically.

[2019-02-04 23:26] nkolev92 commented on #7757
It's a good practice to use the config to provide information about the NuGet operation.

The problem is that this switch would need to be added to all commands that communicate via http (including restore, install, push, list etc).

Personally I'm not sure this the right direction, but we're open to feedback.

[2019-02-04 23:26] chuanboz commented on #4837
any further update when to expect a fix to this issue?

[2019-02-04 23:31] tmat commented on #7755
SourceLink packages have `<developmentDependency>true</developmentDependency>` in nuspec.

I think the problem is that it's only picked up when the package is added via UI, or perhaps into a project via dotnet CLI.

But pretty common use case is that the package reference is added manually to `Directory.Build.props` file that's in the repo root, so that all projects automatically get it.

[2019-02-04 23:32] tmat commented on #7755
BTW there might also be a bit of confusion between @ctaggart's SourceLink packages and ours. The link https://github.com/ctaggart/SourceLink#all-source-files points to @ctaggart's packages.

[2019-02-04 23:34] tmat commented on #7755
@KathleenDollard Have you though about supporting adding package references to  `Directory.Build.props` via CLI?

[2019-02-05 00:40] nkolev92 commented on #7758
@CodeTherapist
Thanks for creating this issue.

The snippets are not usually project or solution specific.
They are user specific, and the IDE team already has a recommended way of distributing them through VSIXs.
See https://docs.microsoft.com/en-us/visualstudio/ide/how-to-distribute-code-snippets?view=vs-2017.

I'd suggest that the discussion starts on that end, and then involve NuGet. I'm not s

[2019-02-05 00:43] nkolev92 commented on #7764
@xikandar Can you please provide a repro project for this?

Can you reproduce it reliable?
What are the build steps on your CI?
How do you invoke build and restore?

[2019-02-05 01:09] nkolev92 commented on #7763
@GanesanRengasamy

When you use packages.config, NuGet automatically adds the binding redirects based on your dependencies.

You cannot customize how NuGet adds binding redirects. You can make NuGet reevaluate them however.

Relevant information:
https://docs.microsoft.com/en-us/nuget/tools/ps-ref-add-bindingredirect
https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/redirect-assembl

[2019-02-05 02:21] nkolev92 commented on #7761
@mrward

I looked through the history and it seems like this is done on purpose.
I don't have the exact context on the requirements when it was implemented, so that's the best I can provide.

I haven't any requests from customers to change it, so I'd be hesitant to change anything about this.

[2019-02-05 05:33] nkolev92 commented on #7750
As mentioned above, this is expected.

The reason why you don't see the warning the second time is the target no-oping.

You need to change *something* in your project/build for pack to rebuild the package.

[2019-02-05 05:33] #7750 closed, assigned to nobody

[2019-02-05 05:34] nkolev92 commented on #7748
I believe this is a duplicate of https://github.com/NuGet/Home/issues/7574.

@loic-sharma Please reopen if I'm wrong.

[2019-02-05 05:34] #7748 closed, assigned to nobody

[2019-02-05 06:36] JeremyCaney opened #7765 "Nuget pack fails with multi-target csproj"
A year or so ago, @mm6502 opened [a bug report](https://github.com/NuGet/Home/issues/5832) detailing how `nuget pack` would look in the wrong location for the build files when packing a multi-targeted project, resulting in an error similar to:

If you are going through the **NuGet Pack** task on **Azure DevOps**, the error will be wrapped as follows ([related report](https://github.com/Microsoft/a

[2019-02-05 08:12] dfkeenan commented on #7758
I thought those templates were for projects/solutions not items. Besides I don't want to use the command line to add a new file to a project. Ideally from Visual Studio I could add a NuGet package then using the `Add New Item` dialog choose a file I wan to add.

[2019-02-05 08:49] IanKemp commented on #7757
@nkolev92 Perhaps a little more context would be useful here: https://github.com/chocolatey/choco/issues/1720

The tl;dr is that third-party applications that invoke NuGet may have their own HTTP proxy settings, and would obviously want NuGet to use those settings in that application's context, but that currently isn't possible. It's not really practical, or correct, to expect those apps to perfor

[2019-02-05 09:18] mrward commented on #7761
OK. It seems odd to me that the comment says consolidate but it does not consolidate. Just installs the same NuGet package into every project, even if the project did not have that NuGet package before. Seems like this would be a feature of the Install-Package command. Anyway I can see this is how this particular NuGet command has always worked so closing this.

[2019-02-05 09:18] #7761 closed, assigned to nobody

[2019-02-05 11:01] CodeTherapist commented on #7758
@nkolev92 Thanks for reviewing my issue - yes please, you can move it.

[2019-02-05 11:05] bjorn-ali-goransson commented on #6143
I'm not sure I understand. Does this mean that I can't reference a project with the same name as a project that exists on nuget? 'Cause that's what I'm experiencing right now...

It would seem then that I could break someones build by peeking at someones project names and then go publish a dummy nuget package with the same name as one of the solutions projects.

This can't be correct though can it

[2019-02-05 11:35] bjorn-ali-goransson commented on #6143
No, wait. In my case this is because I use something for packaging referenced DLLs, and I reference two projects "packaging" the same local project.

Tell me if you'd like details on that...

The stuff in the csproj packaging the DLLs:

    <PropertyGroup>
      <TargetsForTfmSpecificBuildOutput>
        $(TargetsForTfmSpecificBuildOutput);PackReferencedProjectOutputs
      </TargetsForTfmSpecific

[2019-02-05 11:53] ferventcoder commented on #7757
With Chocolatey it doesn't invoke NuGet.exe and it doesn't use the NuGet.config. Something else is likely going on here. I've updated the issue that was logged on our side.

[2019-02-05 15:07] chris-strauss commented on #7765
Thanks for opening this issue.  It's something that should be fixed.

[2019-02-05 17:32] swtsvn opened #7766 "Could not install package 'AWSSDK.Core 3.3.31.7'"
## Problem
I am using NuGet with VS 2017 Community edition (15.9.5) in Windows 10. Tried to install AWSSDK.Core 3.3.31.7 from the list of online packages and receiving this error:

This AWS SDK is not owned by me, hence cannot fix the package as indicated by similar issues posted here.
I tried downloading the nupkg from https://www.nuget.org/packages/AWSSDK.Core/3.3.31.7 and tried to install from

[2019-02-05 17:52] codeimpossible opened #7767 "NuGet incorrectly downgraded package version"
## Details about Problem

NuGet gave me the following error during a `dotnet restore`. The csproj names below have been changed to protect the innocent.

[code]

For clarity, my dependency graph looks like this:

[code]

in Webapp.csproj:

[code]

in Adapter.csproj:

[code]

I had expected NuGet to resolve M.Client to version `29.0.1` since it is the lowest version that satisfies both version rang

[2019-02-05 18:24] nkolev92 commented on #7758
This issue was moved to dotnet/roslyn#33146

[2019-02-05 18:24] #7758 closed, assigned to nobody

[2019-02-05 18:32] nkolev92 commented on #7757
Thanks for following both.

@IanKemp Based on the extra information do you still consider this as an ask?

[2019-02-05 18:34] nkolev92 commented on #7767
The behavior is by design.
See:
[Resolution logic](https://docs.microsoft.com/en-us/nuget/consume-packages/dependency-resolution#dependency-resolution-with-packagereference
)
[NU1605 warning logic](https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings/nu1605)

The nearest win rules takes effect. NuGet will not bump directly referenced packages unless the version is missing.

[2019-02-05 18:42] nkolev92 commented on #7766
@swtsvn

Are you trying to isntall the package in a native project?

Inspecting the package, I don't see any native assets there.

[2019-02-05 19:53] codeimpossible commented on #7767
I agree that it wouldn't make sense to shift a dependency version if the nearest wants a major version +/- but shouldn't patch and minor resolutions shift according to lowest common denominator and not nearest to root?

[2019-02-05 20:13] nkolev92 commented on #7767
The nearest wins applies to the full version, that was also done by design.

[2019-02-05 20:14] nkolev92 commented on #7765
@JeremyCaney

I believe that you may be some confusion about the resolution of that issue.

NuGet ships 2 implementations of pack.
The nuget.exe one, the primitive nuspec based pack, and the https://www.nuget.org/packages/NuGet.Build.Tasks.Pack/ or what's basically shipped with dotnet.exe.

The tooling for SDK based projects is dotnet.exe/targets pack.

The gap in question is the following issue h

[2019-02-05 21:04] rrelyea opened #7768 "Add back NuGet.Packaging.Core with TypeForwardedTo attrs"
We recently removed NuGet.Packaging.Core.dll and moved all of the code into NuGet.Packaging.dll

This is causing problems for old tools that run in msbuild/dotnetCLI.

We'll add the assembly back in, but keep all the code move.
We'll add typeforwardedto attrs to point to the new location.
(since that is done with typeof(*), we need N.P.C to depend on N.P.

[2019-02-05 21:09] AndersBillLinden commented on #7363
The impact of this bug seems to be really severe, or am I wrong? Will you just ignore it for vs2015?

[2019-02-05 22:04] ocean-orrick opened #7769 "Make lock file behavior more flexible"
Hi, I would like to report a scenario that makes a case for the implementation of the proposed IgnoreLockFileForRestore property at a minimum, and more ideally leads to more flexible behavior of lock file based restore, especially in regards to the content-hash.

I make changes to LibA and build it locally, which outputs a prerelease versioned nuget package which I include in my local feed.
I test

[2019-02-05 22:21] nkolev92 commented on #7706
So a bit of confusion here.

The build was not broken by the packaging core removal, rather by https://github.com/NuGet/NuGet.Client/pull/2580.

The fact that the builds were out of order because of CI flakiness is the issue.

[2019-02-05 22:21] nkolev92 commented on #7706
I'm testing a fix right now.

[2019-02-05 22:41] bjorn-ali-goransson commented on #6143
No, wait again. There it is, a stray PackageId in my targets. False alarm!!

[2019-02-06 01:43] swtsvn commented on #7766
If by native project you mean C++ project, then yes, I am trying to install
for a C++ project.
That makes sense. Looks like it is not supporting C++ projects then.

On Tue, Feb 5, 2019 at 12:42 PM Nikolche Kolev <notifications@github.com>
wrote:

--
 Success is not a skill; it is a persistent attitude. - Someone Wise.

[2019-02-06 03:38] zarenner opened #7770 "plugins_cache needs shorter path to work well"
In https://github.com/Microsoft/azure-pipelines-tasks/issues/9446, @maboulianne, @OneCyrus, and @sveinungf all reported an issue with NuGet that appears likely to be due to plugin_cache path lengths being too long (260+ characters).

Please see that issue for the full context, but the relevant part:

2019-01-29T12:56:32.0548131Z at System.IO.__Error.WinIOError(Int32 errorCode, String maybeFullPath

[2019-02-06 07:16] nkolev92 commented on #7766
This is by design of the author then.

There is nothing we can do from NuGet side to help you.
It's about to the package author to create a package wtih native artifacts.

[2019-02-06 07:16] #7766 closed, assigned to nobody

[2019-02-06 07:18] #7727 closed, assigned to nkolev92

[2019-02-06 07:32] nkolev92 opened #7771 "Address the no-op scenarios for PackageDownload"
Do an overall pass on PackageDownload and the no-op impact.
Potential improvements, package existence validation etc.
Consider how the package download items of project dependencies impact the no-op cache for the parent project.

[2019-02-06 07:37] nkolev92 commented on #7770
The cache not being discovered should be handled more gracefully. It should not be failing restore completely.
Potentially we need to investigate shortening the generated paths.

This could go multiple ways, but the goal should be to make the whole thing more robust.

//cc @rrelyea

[2019-02-06 13:50] chilakamarthi commented on #6104
Hi All,
After Nov 2018 update, I am trying to Debug nuget package. Here is what I am doing

1. Created a sample library (with Portable PDB) and published it to nuget server (Both nuget package and symbols).
2. Created new sample app and installed my nuget package and setup all setting in Tools > Options.

When I try to debug it is asking me for cs file.

My understanding of nuget debugging:
My und

[2019-02-06 15:55] #7762 closed, assigned to heng-liu

[2019-02-06 17:21] tmat commented on #6104
If it's asking for a source file that means the debugger was able to fetch the PDB from the symbol server.

You should be able to confirm that by opening the Modules window (Debug > Windows > Modules) and find the line that corresponds to the library.

The PDB does not contain sources by default. There are a few options how to make sources available. In general, we recommend using [SourceLink pack

[2019-02-06 17:43] rrelyea commented on #7770
i would like to think if this is being run on win10 box opting into longpaths support from windows (which we support elsewhere in our codebase), that it would work well.

yes, if somebody hadn't opted in, and the longpath causes a failure, having a good error with options for user would be great. NUXXXX?

[2019-02-06 19:04] #7768 closed, assigned to nkolev92

[2019-02-06 19:08] nkolev92 commented on #7770
@zarenner Are long paths enabled on the average build machine?
I think the versions are Win 10 anniversary or later.

[2019-02-06 19:23] nkolev92 commented on #7143
Currently only https://github.com/NuGet/NuGet.Client/blob/586b23e5b225eacecc6b2ad76180a95e634a072d/src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/NuGet.PackageManagement.VisualStudio.csproj#L24-L33 is left.

The C++ team does not have a package for that assembly.

With that comment in mind, I'll close this issue now.

[2019-02-06 19:23] #7143 closed, assigned to nobody

[2019-02-06 19:26] anangaur commented on #7753
We should also deprecate (i.e. warn) usage of `Summary` field in the nuspec. /cc: @karann-msft

[2019-02-06 19:27] nkolev92 commented on #7753
Project.json nuget.exe pack is another target here.

Personally, as it never truly "RTM"ed it might be fine to remove completely.

[2019-02-06 19:34] rrelyea commented on #7713
closing...likely was an external issue. don't think we've fixed anything in this area to make it go way.

[2019-02-06 19:34] #7713 closed, assigned to nobody

[2019-02-06 19:41] zarenner commented on #7770
I have no idea for our hosted agents. @chrisrpatterson?
The initial report in Microsoft/azure-pipelines-tasks#9446 was on Server 2016.

[2019-02-06 19:44] rrelyea commented on #7605
@nkolev92 is driving CLI PRs for these. Fix in 5.0 is done.

[2019-02-06 19:52] ghost commented on #6140
bump

[2019-02-06 20:04] nkolev92 commented on #7745
NuGet.CommandLineTest.RestoreCommandTests.Restore_LegacyPackageReference_BuildTransitive is failing for the same reason.

The error suggests that targets and props are being selected independently, as:
[code]

[2019-02-06 20:32] rrelyea commented on #7519
nuget bug - fixed.
cli-sdk insertion - not yet.
docs - not yet.

[2019-02-06 20:33] rrelyea commented on #7605
nuget bug - fixed.
cli-sdk insertion - not yet.
docs - not yet.

[2019-02-06 21:41] rrelyea commented on #6429
not on target for 5.0, sorry.

[2019-02-06 21:45] rrelyea commented on #6290
@kkm000 - sorry we haven't been able to get to this yet. one question, i'm assuming that the only to get this in "nuget pack" is to provide the .nuspec, right? or is there something more automatic in our old pack code.

[2019-02-06 22:25] skofman1 opened #7772 "Improve search experience during outage by implementing circuit-breaker pattern"
**Current Behavior**
The client “discovers” the search service endpoints using the service index: https://api.nuget.org/v3/index.json. It finds all endpoints with type `SearchQueryService`. When making a request it tries the first endpoint, and in case of failure will try the next one.

**Problem**
In case the first endpoint is down for a long period of time, each search request by a customer will

[2019-02-06 22:31] #7706 closed, assigned to nobody

[2019-02-06 22:32] nkolev92 commented on #7706
Should be fixed in tonight's build @v-nancyj @v-luzh

[2019-02-06 22:39] edufur commented on #5979
But this is NOT a dupe. Those are different problems. This needs to be re-opened as I am having the same problem. I had to switch back to packages.config to solve mine.

[2019-02-06 22:42] edufur commented on #7352
It's funny. This problem keeps getting closed as "duplicate" and referenced to others that are actually DIFFERENT. This problem seems to be getting ignored.

[2019-02-07 01:16] nkolev92 commented on #7745
The above one is a test bug.

`build;analyzer` instead of
`build,analyzers`

[2019-02-07 05:09] WonyoungChoi opened #7773 "Make Tizen 6 map to NetStandard 2.1"
As a follow-up to https://github.com/NuGet/Home/issues/7762, a mapping for Tizen should be added to support NetStandard 2.1.

Tizen 6 (API Version 6, Platform Version 5.5) will be released in this year with the .NetCore 3.0 runtime.

In summary of Tizen TFM,

| TFM | Supported Standard | Supported Tizen Platform | Mapping |
|------|------------------------|-----------------------------|-----------

[2019-02-07 06:04] nkolev92 commented on #7519
Merged to CLI https://github.com/dotnet/cli/pull/10380.

It will ship in 2.1.600 of the SDK

[2019-02-07 06:07] nkolev92 commented on #7605
A PR is out for the CLI side changes

[2019-02-07 11:04] NerdyDuck opened #7774 "MSBuild Pack creates bad file structure for source code content files (*.pp)"
VS: 15.9.5
NuGet.Build.Tasks.Pack: 4.9.2, 4.9.3, 5.0.0

I'm working on a multi-framework library (net461;netstandard2.0) and create the NuGet package during build time with the MSBuild Pack target. Libraries and dependencies look fine, but I also have two source files (or more exactly source code transformation files) that need to be added to the target project with a build action of Compile:
- HR

[2019-02-07 11:27] StevenTCramer commented on #7591
I download the sample above and it still fails.

[code]

[2019-02-07 12:12] WernerMairl commented on #7756
#4393  is likely the same and contains more details/findings... (multiple bugs in place)

[2019-02-07 13:15] JosepBalague commented on #6795
NuGet 4.9.2.5706 (nuget restore), msbuild version '15.9.21.664', VS2017 15.9.6 still failing. When this will be solved?

[2019-02-07 14:07] JeffCordes commented on #545
I may be missing something,   There is a nuget package for the build tools required to build sqlproj projects on a build server.  https://www.nuget.org/packages/Microsoft.Data.Tools.Msbuild/

but you can not add the nuget to a sqlproj?

[2019-02-07 18:14] nkolev92 commented on #7756
Duplicate of https://github.com/NuGet/Home/issues/7756.

Thanks for pointing it out @WernerMairl

[2019-02-07 18:14] #7756 closed, assigned to nobody

[2019-02-07 18:18] rrelyea commented on #7759
@loic-sharma  --Haven't had a chance to test until now. Is this a problem with dev?
Happy to dig in on my side if you think that it is still deployed and fully functional.
Update: actually, let me debug a bit...

[2019-02-07 18:32] loic-sharma commented on #7759
It looks like you're using the wrong service index URL. It should be `https://apidev.nugettest.org/v3-index.json`

[2019-02-07 19:36] nkolev92 commented on #7532
Sorry about that, bad copy paste.

https://github.com/NuGet/Home/issues/6373

[2019-02-07 19:41] nkolev92 commented on #3058
I am aware that https://github.com/NuGet/Home/issues/6373 is a newer issue, but it has higher visibility, so I'm closing this one in favor of that.

[2019-02-07 19:41] #3058 closed, assigned to nobody

[2019-02-07 19:42] donker commented on #329
The "DNN Platform" is a .net CMS which is distributed with a bunch of dlls. If you create an extension you need to reference one or more of these dlls. But you should *not* include them in packaging and if you compile debug to a live site, you should *not* copy them over. It is important developers can target an older framework than the one they may be developing in to increase compatibility. In s

[2019-02-07 19:47] nkolev92 commented on #7773
Thanks for creating this @WonyoungChoi.

We will triage and get back to you accordingly.

[2019-02-07 22:11] PaulSorauer commented on #545
Hey Jeff

The NuGet package you're referring to is **one** way to get the required _deploy time_ binaries onto the build server. These are .dll's that can inspect your DACPAC's, connect to the target server and make the changes as appropriate. As such they're only required by a builder server in order to conduct a release of the artifact created by a SQLPROJ project.

This thread is about the abil

[2019-02-07 22:12] nkolev92 commented on #7773
Hey @WonyoungChoi, what's your time frame for this?
We will add the xamarin mappings later this year, so we're thinking 5.1 (Visual Studio 16.1), aligned with those changes.

[2019-02-08 02:54] chrispat commented on #7770
All of the hosted machines are Win 2016 or older right now.  For the Visual Studio 2019 images we will be rolling out machines with Win 2019 as the os.

[2019-02-08 04:07] WonyoungChoi commented on #7773
@nkolev92 The next Tizen release is scheduled for the end of October this year. In that release the NETCore 3.0 runtime (official version or preview version) will be available.

[2019-02-08 04:13] nkolev92 commented on #7773
Thanks,
5.1 is the right timeframe then.

[2019-02-08 07:02] ipavlu opened #7775 "Dependency issue: version 1.2.3 turns into 1.2.2.2"
The issues seem to happen to a .net core project and to .net 4.7.2 project. they are both targeting a nuget net standard package on nuget.org originally created by a project in the same solution, but there are no references on csproj from the two projects with dependency issues.

Everything says, that I am targetting GreenSuperGreen.Benchmarking.NetStandard.dll version 1.2.3 but looking on actuall

[2019-02-08 08:04] aodl opened #7776 "Document/configure order of dependency lists in Project.assets.json file"
I've been trying to determine how the order of dependencies in the `projectFileDependencyGroups` section of the project.assets.json file is determined. If it were purely alphabetical I would expect 'defaultTenant' in the example below to be listed at the top.
[code]
I've tried fiddling with dependencies to affect build order to see if this has an influence, but it appears not.

If the answer is th

[2019-02-08 08:12] Thapanawat003 commented on #7776
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-1267510763525119",
    enable_page_level_ads: true
  });
</script>

[2019-02-08 17:39] #7390 closed, assigned to nobody

[2019-02-08 17:50] nkolev92 commented on #7352
@edufur
The answer here is use dotnet.exe/targets packing to pack SDK based projects.

[2019-02-08 19:16] #7716 closed, assigned to nobody

[2019-02-08 19:18] japj opened #7777 "NuGetSdkResolver not able to find newly published NuGet package (due to http cache?)"
## Details about Problem
VS2017 v15.8.1
TFS2018 Update3

We are building a MSBuild Sdk with a CI pipeline and publishing the NuGet to a TFS2018 PackageManagement feed.

We see that immediately after publishing the NuGet, the build servers do not seem to be able to pick up the new Sdk during a build.
MSBuild fails with "Error : Unable to find package <package> with version<version>".
Checking the P

[2019-02-09 00:39] nkolev92 commented on #7774
Thanks for creating this issue. I have a couple of ideas on how you can address your scenario, but I'll try to address the rest of your questions/comments.

You are right about the tfm part. When the build action is compile, pack does not use any. The TODO you've seen is likely the task to get the language of the project. https://github.com/NuGet/Home/issues/4100

Files having a language denominat

[2019-02-09 00:42] nkolev92 commented on #7774
You can also use the extension targets like in: https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#targetsfortfmspecificcontentinpackage

[code]

[2019-02-09 01:04] nkolev92 commented on #7777
@japj

The SDK resolver is just using NuGet's restore infrastructure under the hood. So there are no special switches that allow it to behave differently from regular restore.

The root cause is here; https://github.com/NuGet/Home/issues/3389.

There are a few options here:

* Keep it as it is, If needed the user can clear the http cache.

* Propagate RestoreNoCache to the SDK resolver.

* The SDK

[2019-02-09 01:13] nkolev92 commented on #7775
Thanks for creating this issue @ipavlu

Unfortunately I'm having a bit trouble following.

NuGet will never resolve a version smaller than the defined one.

I'm not sure how the assets file snippet given relates to 1.2.3 and 1.2.3.0 version.

Can you point to a specific project and explain what's the given, what you expect and what's actually happening.

[2019-02-09 01:23] nkolev92 commented on #7776
@aodl

Everything in assets file is sorted by the string identifier of the object, so the casing matters.
The ordering does not imply priority by any means.

The assets file is not really an exhaustive list of all the assemblies during compilation.
It's merely an asset harvested by the build tasks (in the SDK).

I'd suggest reach out to the SDK team at https://github.com/dotnet/sdk/issues/new.

[2019-02-09 01:28] nkolev92 commented on #7769
/cc @anangaur @rrelyea

[2019-02-09 01:54] aodl commented on #7776
That's interesting. Under what circumstances would a dependency of a project not be included in the project.assets.json file?

Thanks for the tip, I'll be sure to reach out to the SDK team

[2019-02-09 02:58] nkolev92 commented on #7776
Didn't mean to imply that.
All the dependencies specified in the targets section of the assets file will be part of the compilation, but sometimes there'll be conflicts (assemblies are referenced by the SDK and can be refd in lots of other manual ways), then it's on the build tasks and the compiler to make a decision about what's going to be used.

[2019-02-09 02:58] #7776 closed, assigned to nobody

[2019-02-09 06:51] ipavlu commented on #7775
Hi @nkolev92,

it was simple scenario, DotNet or DotNetCore project depends on NetStandard package and for some reason for some versions it was correct for other no.

The solution seems to be for .Net472 and NetCore2.1 to set in csproj this:
`<PreserveCompilationContext>false</PreserveCompilationContext>`

When it is set to false it starts behaving as expected.
Otherwise sometimes the version is o

[2019-02-09 19:32] SommerEngineering commented on #6353
Is there any news on this? Does `dotnet add package` still not work when I am offline?

[2019-02-09 20:02] japj commented on #7777
Ok, thanks for the information.
For now I “worked around it” by doing ‘nuget locals http-cache -clear’ before the actual build command in the build definition. At least until a better solution becomes available.

[2019-02-10 15:53] karann-msft commented on #7733
@dotMorten - looking at it now. @rrelyea can we investigate adding pack time validations here. There does seem to be a non-UTF-8 character in the file.

[2019-02-10 21:11] forderud commented on #442
Have this problem really been resolved?

I'm still unable to display package "owners" from withing Visual Studio 2017 (nuget package manager 4.6.0). Only the "authors" field show up for me, and not the "owners". Example:
![image](https://user-images.githubusercontent.com/2671400/52539626-cecb3b00-2d80-11e9-9c29-f6b2d57952d2.png)

[2019-02-10 21:37] loic-sharma opened #7778 "Show error when using nuget.exe to pack SDK csproj"
According to [this](https://github.com/NuGet/Home/issues/7453#issuecomment-435715917) and [this](https://github.com/NuGet/Home/issues/4491) discussions, NuGet.exe is not supported for packing SDK projects. The current experience is confusing as it seems like NuGet.exe pack "works" but ignores properties set in the project. Instead, NuGet.exe should show a helpful error message that guides users to

[2019-02-11 09:43] vmpatel commented on #5358
I am getting the same issue.
Has anyone get resolved?

[2019-02-11 10:02] vmpatel commented on #5358
Can you please share your docker file to compare and what .net package version Microsoft.AspNetCore.All and Microsoft.NETCore.App ?

[2019-02-11 10:19] KrayZeee opened #7779 "replace projectreferences with packagereferences"
Hello, im currently setting up a buildserver, which builds a application that provides interfaces for other applications to communicate with it. I want to pack the Interfaces as nuget packages. But im stuck on a problem.

There are 3 layers:
layer 1 is depending on 2, 2 is depending on 3.
the solution in visual studio has them referenced as projectreferences, since they are build upon. referencing

[2019-02-11 12:25] chilakamarthi commented on #6104
Source link is not an option for us. We need to include source files or embed source files into PDB. With new framework first option is not possible. So, embedding source files into PDB is only option for us. I tried below code change:

[code]
With this change, I could publish snupkg to nuget, at the time of debug, pdb downloaded to my local symbols folder, but I hit with .cs file not found error

[2019-02-11 12:38] jnm2 commented on #6104
@chilakamarthi I'd put those properties in an unconditional property group so that e.g. a release build stays consistent with the debug build settings you've shown above.

Which version of Roslyn is your build server using? The `<EmbedAllSources>true</EmbedAllSources>` property is ignored unless building with Roslyn version 2.10.0 (shipped in VS2017 Update 6) which first introduced it. Prior to th

[2019-02-11 13:30] chilakamarthi commented on #6104
Right now I am testing it on my dev machine which got Ver 15.9.5

[2019-02-11 13:52] drauch commented on #6861
Is there any update on this? Would you accept pull requests for this?

[2019-02-11 14:17] vmpatel commented on #2880
Is that worked for you?

[2019-02-11 14:57] madelson commented on #7427
@jainaashish can you explain what you mean by:

[2019-02-11 17:49] npickett commented on #7741
I was able to reproduce the issue outside of my machine using the following:

VS Community Edition
version: 15.5.2

Could it be that your version: 15.9.6-preview2 has a fix that resolves the issue we are experiencing?

[2019-02-11 17:58] jainaashish commented on #7427
sometimes same package (id and version) is different in dotnet fallback folder (`C:\Program Files\dotnet\sdk\NuGetFallbackFolder`) and configured NuGet feed like NuGet.org which brings packages to global packages folder (`%userprofile%\.nuget\packages`) which will result into failure of package SHA validation at the restore time. This happens because dotnet has its own tool to generate these packa

[2019-02-11 18:27] nkolev92 commented on #7523
The first PR shouldn't have closed this.

[2019-02-11 18:39] clairernovotny commented on #7523
Looks like this should stay open until NuGet/NuGet.Client#2569 is merged?

[2019-02-11 18:42] nkolev92 commented on #7775
@ipavlu

What's the `issue` in the context of the repro you attached?
Which project is having a problem, and what's that problem.

[2019-02-11 18:56] rrelyea commented on #7341
@nkolev92 fixed it for Mono in 5.0. Couldn't find anything involving dotnet.exe code paths.
Top suspect is now old tools running on your machine (and yes, we haven't released 5.0 final yet.)
Upgrade all your dotnet sdks...nuget.exes, etc... if you still hit this please let us know.

[2019-02-11 18:57] rrelyea commented on #7104
consider right fix or not?
5.0 or later?

[2019-02-11 18:59] rrelyea commented on #4693
This isn't getting solved in 5.0/16.0

[2019-02-11 19:18] madelson commented on #7682
@jainaashish  I'm also running into this. I just updated to VS 2017 15.9.6 since according to https://docs.microsoft.com/en-us/nuget/release-notes/nuget-4.9-rtm this should include NuGet 4.9.3 which fixes this. However, I still see this wrong hash issue. I also see it when we run MSBuild

Which specific versions should be expected to be correct here?

[2019-02-11 19:28] jainaashish commented on #7682
@madelson Are you using VS or dotnet CLI to repro your issue? VS 2017 15.9.6 includes NuGet 4.9.3 bits only for VS but it still doesn't update dotnet SDK. So make sure you're using VS to repro your issue or wait for the next dotnet SDK update.

[2019-02-11 19:39] mikeharder commented on #7341
We are still hitting this error pretty regularly on Azure DevOps Pipelines Ubuntu Hosted Agents.  Here's a failure from this morning.

[code]

I believe we are using the latest GA SDK (`2.2.103`).  Would you like us to try a preview to see if it fixes the issue?

Here's the full list of software installed on the agent:

https://github.com/Microsoft/azure-pipelines-image-generation/blob/master/imag

[2019-02-11 20:42] madelson opened #7780 "Can't update to 4.9.3 with nuget update -self"
From everything I can tell, nuget 4.9.3 is officially released. However, when I run `nuget update -self` to update my global nuget install it tells me that 4.9.2 is the latest version. Is this intentional? When will 4.9.3 be available for this type of update?

[2019-02-11 21:14] anangaur commented on #7769
If you enabled lock files - today, by default, the lock files are overwritten if package dependencies or the content hash change across `restore` operations. I guess this is what you want during development mode. This is essentially `IgnoreLockFileOnRestore` i.e. lock files are overwritten if required and does not fail your build.

To ensure build repeatability and fail if NuGet cannot ensure it,

[2019-02-11 23:22] rrelyea commented on #7779
your goal is to have 2 or 3 layers generate nuget packages. that is fine.
but you also say that you don't want to use project references anymore within your own repo.

you could do both. use project references, but build nuget packages.
other consumers will use these packages via packagereference.

sound good?

[2019-02-12 00:17] rrelyea commented on #7780
we will release it this week.  nuget update self relies on nuget.commandline.#.#.#.nupkg being published.
we generally let the version mature in the market for a week or two before we turn on auto update.

[2019-02-12 00:56] karann-msft commented on #442
@forderud we introduced "verified packages". If the package ID prefix has been reserved by an owner, for example, Microsoft.* has been reserved to Microsoft, a package published and owned by Microsoft gets a checkmark. If a package ID starts with Microsoft.* and does not have the checkmark, then it implies it is NOT owned by Microsoft.
Let us know if that solved this problem for you.

[2019-02-12 05:36] vmpatel commented on #2880
For me it was firewall issue and now it is working like a charm.

[2019-02-12 07:53] RukaiYu opened #7781 "Response status code does not indicate success: 500 (Internal Server Error)"
Please read the following information before posting the issue.

Remove the content above here and fill out details below.

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
NuGet.exe
NuGet version (x.x.x.xxx):
4.9.2.5706
dotnet.exe --version (if appropriate):

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)):
windows 10

[2019-02-12 08:08] MikeRosoft commented on #7751
I have enabled detailed logging, and got the following output on the command line:

[2019-02-12 08:18] forderud commented on #442
Sorry, but I unfortunately don't think this fixes our problem. We're using company-internal NuGet packages together with a company internal artifact server (Artifactory), and not nuget.org. There, we want to differentiate between the owner of a package and the go-to contact person for reporting problems etc. To enable that, we need the values from both the "authors" and "owners" tags to show up in

[2019-02-12 09:21] chilakamarthi commented on #6104
I included below two in .csproj, but still don't see cs files in PDB

    <PackageReference Include="Microsoft.CodeAnalysis.CSharp">
      <Version>2.10.0</Version>
    </PackageReference>
    <PackageReference Include="SourceLink.Embed.AllSourceFiles">
      <Version>2.8.3</Version>
      <IncludeAssets>runtime; build; native; contentfiles; analyzers</IncludeAssets>
      <PrivateAssets>all</Priv

[2019-02-12 12:20] jnm2 commented on #6104
@chilakamarthi I'd first load the DLL up in dotPeek or similar to find out if the PDB is being correctly created. You should look for > Metadata > Portable PDB Metadata > CustomDebugInformation entries with a Kind of EmbeddedSource.

![image](https://user-images.githubusercontent.com/8040367/52634730-f7912480-2e95-11e9-8d3f-c32b78c557ed.png)

If the PDB appears to not have any EmbeddedSource entri

[2019-02-12 13:50] chilakamarthi commented on #6104
I tried what you suggested and it looks normal. Here is the screenshot:

![image](https://user-images.githubusercontent.com/27954146/52639656-c0089380-2efa-11e9-9b62-4084741e0be7.png)

And dotpeek shows below log:

`C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\15.0\Bin\Roslyn\csc.exe /noconfig /nowarn:1701,1702 /nostdlib+ /errorreport:prompt /warn:4 /define:DEBUG;TRACE /h

[2019-02-12 13:56] bickycheese commented on #4234
lol!

[2019-02-12 14:31] jnm2 commented on #6104
Yes, your screenshot and `/embed` in the csc arguments indicates that you're producing the PDB correctly. I'm out of ideas. Perhaps there's a setting here that causes VS to start working?

![image](https://user-images.githubusercontent.com/8040367/52642368-e0a7fd80-2ea8-11e9-9bd4-de676883eb96.png)

[2019-02-12 15:52] KrayZeee commented on #7779
the thing is, how would i automate this?
like i said, if i use the nuspec way, i would have to manually update the version of the dependency inside the nuspec, thats a nono for me. maybe im missing something.

i hope i understood you correctly.

in case you meant i should just build nuget packages, thats already done, what i want is that the dependency is correctly set up.

[2019-02-12 18:40] #7519 closed, assigned to nkolev92

[2019-02-12 18:41] nkolev92 opened #7782 "Doc the interactive switches for all dotnet nuget commands"
Related to https://github.com/NuGet/Home/issues/7519 and others.

[2019-02-12 18:49] nkolev92 commented on #7523
When I commented I meant to click reopen, but for some reason didn't.
Thanks for following up.

[2019-02-12 19:08] wli3 commented on #7647
Any update?

[2019-02-12 19:12] karann-msft opened #7783 "<LICENSE> metadata fields implicitly requires license filename to have an extension"
@WilliamXieMSFT commented on [Wed Jan 30 2019](https://github.com/NuGet/docs.microsoft.com-nuget/issues/1291)

Using dotnet\sdk\2.2.101-rtm-009628 NuGet pack targets, I am getting
`error NU5030 The license file 'LICENSE' does not exist in the package.`

.nuspec file:
[code]

This error goes away if I add a '.txt' extension to the LICENSE file and update the field.
.nuspec file:
[code]

[2019-02-12 19:13] nkolev92 commented on #7647
What's the matching CLI version for this @wli3?

[2019-02-12 19:14] karann-msft commented on #7783
@williamxiemsft how are you calling pack? using the dotnet CLI or within Visual Studio?

[2019-02-12 19:16] karann-msft opened #7784 "Nuget 4.7 works, but later ones do not (Service Fabric projects)"
@galmok commented on [Tue Feb 05 2019](https://github.com/NuGet/docs.microsoft.com-nuget/issues/1300)

We are using nuget to restore the packages of our projects, but when we upgraded nuget from version 4.7.1 to 4.8.1 or to 4.9.1, this restore must be run twice to do the work that 4.7.1 does. The newer nugets issue this warning (originating from the Service Fabric project, *.sfproj file):

D:\temp

[2019-02-12 19:22] wli3 commented on #7647
3.0.1xx or master

[2019-02-12 19:41] willxie-eng commented on #7783
@karann-msft I build with a PowerShell script that invokes msbuild against the csproj file (a netstandard 2.0 project) which references a nuspec file.

[2019-02-12 20:39] nkolev92 commented on #7783
@WilliamXieMSFT

Please take a look at
https://github.com/NuGet/Samples/blob/master/PackageLicenseFileExample/PackageLicenseFileExample.csproj or
https://github.com/NuGet/Samples/blob/master/PackageLicenseFileNuspecExample/PackageLicenseFileNuspecExample.nuspec

Note that `<license>license.txt</license>` on its own is not correct. It's missing the type attribute.

[2019-02-12 22:16] livarcocc opened #7785 "[Feature] Allow `dotnet add package` command to add a reference without setting the version"
_From @alirezajm on February 12, 2019 22:12_

Allow adding package references via the cli without it setting the version in the project file.
This is useful when a **Directory.build.targets** file is present and it is used to manage package versions.

## Feature behavior
Considering there is a Directory.Build.targes file present, containing the following
`<PackageReference Update="Microsoft.Orlean

[2019-02-13 00:03] nkolev92 opened #7786 "Prefer path for msbuild discovery if user didn't ask for specific msbuild version"
Seem to be caused by the fix tohttps://github.com/NuGet/NuGet.Client/pull/2687.

[2019-02-13 00:04] nkolev92 commented on #7786
The root cause here is that if the user specifies a version, it's not respected.

Furthermore the mono behavior should be backwards compatible as there is no SxS concept there.

[2019-02-13 01:15] rrelyea commented on #7781
If you publish this same exact package via nuget.org website, does it succeed?

[2019-02-13 01:17] rrelyea commented on #7779
can you share 3 (or more if needed) small sample project files that mimic what you are trying to do...and have concrete repro steps. then i'd be happy to talk through what you are doing. And it would be much more concrete.

[2019-02-13 01:19] RukaiYu commented on #7781
@rrelyea
Nope :(

The progress goes, but the API call is like this:
![image](https://user-images.githubusercontent.com/3942409/52679540-6e9aeb80-2f70-11e9-8020-e5e9cea6faf6.png)

[2019-02-13 04:05] infin8x opened #7787 "NuGet exception response code doesn't handle extended characters"
## Details about Problem

NuGet product used: NuGet.exe

NuGet version: 4.9.2

OS version: multiple

Worked before? If so, with which NuGet version: no

## Detailed repro steps so we can see the same problem

1. Create a package with extended characters in the package name, e.g. ßaarland.1.0.0.nupkg
2. Publish it to a NuGet server (we used Azure Artifacts)
3. Generate an exception, for example by

[2019-02-13 05:46] chilakamarthi commented on #6104
@jnm2 Thats it. now I could debug. Enable just my code was not checked in my VS2017. When I enabled that option, debug is working.

Thank you @jnm2

[2019-02-13 07:02] tmat commented on #6104
@chilakamarthi BTW, the package reference `SourceLink.Embed.AllSourceFiles` should not be needed in VS 15.9. The C# compiler provides the functionality out of the box. Just set property `EmbedAllSources` to `true` in your project.

[2019-02-13 08:51] KrayZeee commented on #7779
[Example.zip](https://github.com/NuGet/Home/files/2859427/Example.zip)
Lets say i have the uploaded Example. In there is a solution with 3 class libraries (core, extras, full).

core has no dependencies
extras has a projectreference to core
full has projectreferences to core and extras

i want to create nuget packages of these three projects, but so that projectreferences are included as packagede

[2019-02-13 10:01] yhnavein opened #7788 "nuspec files are differently expanded when a proper path is used"
## Details about Problem

NuGet product used: **NuGet.exe**

NuGet version: **2.8.7** and **4.9.2**

OS version: **Ubuntu 18.04** and **Win10 1810**

Worked before? If so, with which NuGet version: **No**

## Background

I am migrating some of our CI scripts from TC / Windows to Linux docker CI solution. We are using nuget to pack frontend static apps (no dotnet) and I found some strange differenc

[2019-02-13 10:36] kant2002 opened #7789 "PMC Confirmation prompt has problems with localized builds - likely 15.x and greater"
Please read the following information before posting the issue.

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): Package Manager Console

NuGet version (x.x.x.xxx): 5.0.0.5782

dotnet.exe --version (if appropriate):

VS version (if appropriate): VS2019 Preview 2.2

OS version (i.e. win10 v1607 (14393.321)):

## Detailed repro steps so we can

[2019-02-13 12:27] jnm2 commented on #6104
@chilakamarthi If 'Enable just my code' is checked, it means you don't want to debug into any code outside the current solution. Typically you want to only turn it off briefly.

I've found this to be very handy: https://marketplace.visualstudio.com/items?itemName=SamHarwell.JustMyCodeToggle You get a toolbar item and can set a keyboard shortcut.

[2019-02-13 13:10] clairernovotny opened #7790 "Hard to use forked copies - strong naming"
The current build.ps1 and build scripts will generate files that do not generate binaries with strong names. This makes it harder to use in forks where the strong name is needed.

The build infrastructure is also fairly complicated.

It would be helpful if the build.ps1 script had a parameter to enable public signing for all files that would apply the correct snk using the PublicSign option.

[2019-02-13 13:47] rizi commented on #5375
Any update on this, it would be great if WarningsNotAsErrors a honored by NuGet.

[2019-02-13 14:16] KrayZeee commented on #7779
i think i found a way im kind of happy with.
after reading the docs a bit more thoroughly and a little bit of testing i found out that if you have a nuspec file with only the additional dependencies and then use the pack command against the csproj nuget will build a package from the csproj and add the additional packagedependencies from the nuspec.

before i only tried to use either the nuspec or

[2019-02-13 14:58] szczepix commented on #4234
Same here 😢

[2019-02-13 16:18] wli3 opened #7791 "dotnet add package should understand tfm compatibility"
_From @themindfulcoder on February 13, 2019 10:55_

## Steps to reproduce
Install latest 2.1.503 sdk
Create new project ```dotnet new mvc```
Ensure the project targets ```netcoreapp2.1```
Add a package reference ```dotnet add package Microsoft.Extensions.Logging```

[code]

## Expected  behavior

The package reference is not included
OR
The package reference is included with the compatible version

[2019-02-13 18:31] livarcocc opened #7792 "Not able to push packages to DevOps artifacts using Dotnet Nuget Push"
_From @mdmoura on February 13, 2019 18:29_

## Steps to reproduce

I tried to push a package to Azure Devops Artifacts, after creating a feed, in two ways:

    dotnet nuget push
       --source https://pkgs.dev.azure.com/MyOrganization/_packaging/MyFeed/nuget/v3/index.json
       MyPackage.nupkg

    dotnet nuget push
       --source https://pkgs.dev.azure.com/MyOrganization/_packaging/MyFeed/nug

[2019-02-13 19:02] willxie-eng commented on #7783
@nkolev92 Thanks for the examples, my csproj and nuspec project match https://github.com/NuGet/Samples/blob/master/PackageLicenseFileNuspecExample/PackageLicenseFileNuspecExample.nuspec

Using that example project, I was able to get the nuget package generated with the LICENSE file with:
* nuget restore *csproj && msbuild *csproj && nuget pack *.csproj

I can create the NuGet package with the foll

[2019-02-13 19:11] clawfrank commented on #7194
I saw this when doing the same thing through msbuild. Turns out I had a 'version' environment variable set, from running a visual-studio-related batch file. Obviously this isn't the exact same environment but the error message is almost exactly the same so it might be related.

[2019-02-13 19:17] #7770 closed, assigned to nkolev92

[2019-02-13 19:19] nkolev92 commented on #7783
nuget.exe pack should work with that.

Make sure you have a version that's 4.9.2 or later.

[2019-02-13 19:20] #7647 closed, assigned to nkolev92

[2019-02-13 19:21] willxie-eng commented on #7783
Is there a way to do this with the dotnet command or msbuild?

[2019-02-13 19:25] nkolev92 commented on #7783
Yes, https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-pack?tabs=netcore2x.

If you are using SDK based projects however, I would discourage against using a nuspec to pack.
It's very error prone.

Consider using the targets pack in that case, similar to my first example.

[2019-02-13 19:30] willxie-eng commented on #7783
@nkolev92 Great, thank you for your help! It turns out adding the asterisk for "LICENSE*" also fixed my build issue.

[2019-02-13 19:33] nkolev92 commented on #7783
Happy to help.

Do you consider this issue resolved?

[2019-02-13 19:33] willxie-eng commented on #7783
Yes, please go ahead and resolve the issue.

[2019-02-13 19:34] #7783 closed, assigned to nobody

[2019-02-13 19:37] veleek commented on #3891
@niwrA - Shared Projects unfortunately run into conflicts when you have a project that consumes two different libraries that both depend on a base "shared" library.

For example:
* Contracts - A basic library containing all of my shared classes for requests
* Client - A client library that depends on contracts.  This is a NuGet package that is shared externally.
* Service Utilities - Some helper c

[2019-02-13 20:02] rrelyea commented on #7792
Relevant docs are here: https://docs.microsoft.com/en-us/azure/devops/artifacts/nuget/publish?view=azure-devops
Not sure if the new credential provider would also help: https://github.com/Microsoft/artifacts-credprovider

@alexmullans

[2019-02-13 20:05] rrelyea commented on #7791
Ideally, when we do work to implement searchbytfm and updatebytfm, this would lay the groundwork for this. That work is in our backlog, currently waiting for a bunch of nuget.org search improvements before we can attack this area.
Not sure if version "*" would work this way...however.  Design needed.
@anangaur

[2019-02-13 20:08] rrelyea commented on #7789
@kant2002 - can you confirm that VS 2017 15.9 works correctly? (is this a regression in 16.0?)

[2019-02-13 21:18] johanlindfors commented on #6731
This is becoming very important! I have similar issues with Microsoft.Windows.CppWinRT which cannot be restored to a UWP solution without manual interaction through Visual Studio. This means we cannot leverage CMake to generate our cross-platform solutions and build on build agents such as Azure Pipelines or Jenkins. I would very much see this be prioritized, how can we help?

[2019-02-13 21:46] agr commented on #7733
I would like to point out that Gallery accepting UTF-8 plain text files is a server implementation restriction/detail. Other implementations may choose to accept licenses in, say, pdf or doc files; or they can have a different opinion on what constitutes a "UTF-8 plain text file" (Gallery has a very relaxed check).

Adding that validation to the client might make authoring packages for anything bu

[2019-02-13 22:22] rrelyea commented on #7341
we shipped this fix in 16.0-preview3. Our bits with this fix should have been included in the previews that were released when 16.0p3 were released (2.1.600 and 2.2.200 i believe)

[2019-02-13 22:23] mdmoura commented on #7792
@rrelyea I followed again (I did that before) the steps you mentioned and some extra work.

I leave the steps because it might be useful for someone else (This is for MAC and Azure DevOps):

1 - Follow steps in here:
     https://docs.microsoft.com/en-us/azure/devops/artifacts/nuget/publish?view=azure-devops

2 - Install new credential provider:
      https://github.com/Microsoft/artifacts-credpro

[2019-02-13 22:24] rrelyea opened #7793 "NuGet.targets(498,5): error : Could not find a part of the path '/tmp/NuGetScratch - on mono"
This issue is tracking the fix @nkolev92 made in 5.0-p3 bits for mono scenarios.
See #7341 for details if you are still seeing this on non-mono scenarios.

[2019-02-13 22:29] rrelyea commented on #7780
NuGet.CommandLine.4.9.3.nupkg is now published to nuget.org.

[2019-02-13 22:29] #7780 closed, assigned to rrelyea

[2019-02-13 22:29] nkolev92 commented on #7793
Fixed in https://github.com/NuGet/NuGet.Client/pull/2691

[2019-02-13 22:29] #7793 closed, assigned to nkolev92

[2019-02-13 22:34] rrelyea opened #7794 "`nuget.exe /?` should list correct msbuild versions"
Thanks to @devlead for this fix:
https://github.com/NuGet/NuGet.Client/pull/2673

[2019-02-13 22:34] #7794 closed, assigned to nobody

[2019-02-13 22:39] rrelyea opened #7795 "Avoid unnecessary enumerations over global packages folder to find a exact package"
Details: While resolving package through global packages folder (%userprofile%/.nuget/packages) or fallback folder, we always create a list of all the versions of a specific package id and then find the best matching version for the requested version. This adds an unnecessary perf overhead when the requested version is available at either of the source.

This PR optimize this code path to first lo

[2019-02-13 22:44] #7795 closed, assigned to jainaashish

[2019-02-13 22:46] nguerrera commented on #5862
@vitek-karas

[2019-02-13 22:56] mikeharder commented on #7341
@rrelyea: Thanks, I will try to repro this error with the latest LTS GA (`2.1.504`), by running a small build in a loop.  Then I will change to `2.1.600-preview-009426` and see if it prevents the error.

According to the [release notes](https://github.com/dotnet/core/blob/master/release-notes/2.1/Preview/2.1-600-preview-commits.md), SDK `2.1.600-preview-009426` contains NuGet `5.0.0-preview1.5663`

[2019-02-13 23:23] rrelyea commented on #7792
@alexmullans should be able to review and advise. you should not need clear text password, i believe.

[2019-02-13 23:42] kant2002 commented on #7789
I could not confirm, since I have VS 15.9 in English, I miss language selection when install Preview (which take my default language of OS which is Russian). Is installing language pack for VS 15.9 would allow me to see Nuget in Russian inside VS?

[2019-02-13 23:46] rrelyea commented on #7787
Worked fine against nuget.org -- i tested with https://apiint.nugettest.org/v3/index.json
Used NuGet.exe 4.9.3

C:\temp\serverErrorLocalization>nuget push ßaarland.1.0.0.nupkg -apikey MYAPIKEY
Pushing ßaarland.1.0.0.nupkg to 'https://int.nugettest.org/api/v2/package'...
  PUT https://int.nugettest.org/api/v2/package/
  Conflict https://int.nugettest.org/api/v2/package/ 553ms
Response status code d

[2019-02-13 23:54] rrelyea commented on #7785
@alirezajm - thanks for the request.
we should consider this scenario with regard to our central version management planned feature.

@anangaur is driving the design thinking in that space.

[2019-02-14 00:47] satbai commented on #7577
This would greatly help with debugging!

[2019-02-14 01:12] kant2002 commented on #7789
@rrelyea after installing Russian language pack to VS 15.9 I observe same behavior.

[2019-02-14 01:55] nkolev92 commented on #7104
https://github.com/NuGet/NuGet.Client/pull/2692#issuecomment-463453388

[2019-02-14 08:13] greatkeke commented on #3664
@DarkChaos I have the same issue with you on MacOS. Did it work now?

[2019-02-14 08:51] devlead opened #7796 "NuGet restore on solution with Visual Studio Installer projects (vdproj) causes MSB4025"
Solutions with legacy Visual Studio installer projects ( vdproj)  have started failing.

It would seem it doesn't result in a non zero exit code, but also doesn't restore all project properly as we MSBuild later fails with 'project.assets.json' not found. Run a NuGet package restore to generate this file.

## Details about Problem

NuGet product used: NuGet.exe

NuGet version (x.x.x.xxx): 4.9.3

W

[2019-02-14 09:04] v-luzh opened #7797 "Type showed the project language instead of the project type when executing command “Get-Project” in PMC"
## Details about Problem
NuGet version: NuGet Client Dev\5.0.0.5831
Build Tools VS Version: D16.0\28613.55
OS: Windows 10 RS4_Release 17134.1.180410-1804
## Detailed repro steps
1. Create a project [e.g. ASP.NET Web Application (.NET Framework)/C++ UWP/Console App (.NET Framework)] in VS.
2. Open PMC and execute command “Get-Project” in PMC.
## Expected
The project type showed correctly as below s

[2019-02-14 09:07] v-luzh opened #7798 "Project type showed “unknown” when executing command “Get-Project” in PMC for .NET Core projects"
## Details about Problem
NuGet version: NuGet Client Dev\5.0.0.5831
Build Tools VS Version: D16.0\28613.55
OS: Windows 10 RS4_Release 17134.1.180410-1804
## Detailed repro steps
1. Create a .NET Core/.NET Standard projects in VS.
2. Open PMC and execute command “Get-Project” in PMC.
## Expected
The project type showed correctly as below screenshot (e.g. ASP.NET Empty Web Site).
![correcttype](http

[2019-02-14 09:17] v-luzh commented on #7056
Fixed on D16.0\28613.55+NuGet Client Dev\5.0.0.5831.

[2019-02-14 09:26] aelij commented on #5292
I've managed to sort of make `PackageReference` work in C++/CLI projects with a few simple modifications:

Add these targets:
[code]

`NuGetTargetMoniker` is the .NET target framework. What these targets do is add it to the list of restore frameworks (which by default only contains `Native` in C++/CLI) and also set the target framework for each package reference marked with `IsManaged`.

Usage:
[c

[2019-02-14 10:28] NerdyDuck commented on #7774
Now that did the trick! I added a BuildAction property and used 'any' instead of $(TargetFramework) in the PackagePath to avoid duplicating the files (as they are fine for any Tfm), although that netted me two NU5118 warnings.

[code]

The resulting .nuspec (and the .nupkg file layout) is exactly as I wanted it.

[code]
I've been tinkering with NuGet package creation for some time now, but I compl

[2019-02-14 10:50] silvioboehme commented on #7784
Hi!

We have the same problem with nuget version 4.9.2 and 4.9.3.
This breaks out Azure DevOps build, and we have to use the old 4.7.1 version.

[2019-02-14 15:30] rainersigwald opened #7799 "Warn in all msbuild & dotnet restore code paths if restoring a project / solution that contains packages.config projects."
_From @PhilipDaniels on January 14, 2019 10:6_

### Steps to reproduce

I have a sample project which I was attempting to build (on a Bamboo CI machine) using these steps:

[code]

This gave an error

[code]

I then tried changing the build step to

[code]

and still got the same error.
I then tried using two build steps instead of one

[code]

or

[code]

But the same error persisted. Finally I h

[2019-02-14 15:30] rainersigwald commented on #7799
Does the project reference NuGet packages with `PackageReference` items, or the older `packages.config` file? The latter is only supported with an explicit `nuget.exe restore`, which was the only option at the time it was current. Since then, `PackageReference` has been added, enabling the smoother `msbuild /restore` experience.

[2019-02-14 15:30] rainersigwald commented on #7799
_From @PhilipDaniels on January 16, 2019 8:53_

Yes, it was an old style `packages.config` project. Kept that way deliberately for reasons.

If /restore does not work for such projects perhaps you could print out a warning if they are detected...would save a lot of time.

[2019-02-14 16:36] chadAtGA commented on #6504
I have this exact problem in my offline scenario. Please give us a way to either stop requesting icons and have them be part of the package. I'm using VS 2017 15.9.1. I used Fiddler and saw it requesting Host www.castleproject.org Url /img/castle-logo.png among others but you get the point.

[2019-02-14 16:39] rrelyea commented on #7797
Related to #7798
May be by design?

[2019-02-14 16:41] rrelyea commented on #7796
@devlead - would love that repro solution, minimal as you can get it. thx.

[2019-02-14 17:21] devlead commented on #7796
Repro attached [TestSolutionA.zip](https://github.com/NuGet/Home/files/2866084/TestSolutionA.zip)

## Log running 4.7.1 - ✔️
[code]

## Log running 4.8.1 ❌

[code]

## Log running 4.9.3 ❌

[code]

Interestingly even though it's an failure exit code is still `0`

[2019-02-14 17:56] nkolev92 commented on #7799
I believe this is a duplicate of https://github.com/NuGet/Home/issues/7604.

We need to add an info message that lists out the non-restoreable projects.

The caveat here is that we will warn for both projects that:

* are packages.config
* are not nuget enabled

[2019-02-14 17:56] #7799 closed, assigned to nobody

[2019-02-14 18:29] rrelyea commented on #7788
Likely a dupe of xplat path issue. Will search for it.

[2019-02-14 19:03] ocean-orrick commented on #7769
Once the lock file is present, even if I set RestoreLockedMode to false, it still fails the restore/build for SHA mismatch.

From these docs, I would expect as much: https://github.com/NuGet/Home/wiki/Enable-repeatable-package-restore-using-lock-file#out-of-sync

Building the same commit on build server which has access to a different content-hash package of the same version will not qualify for a

[2019-02-14 19:18] rrelyea commented on #7643
@heng-liu - please go add a doc page to https://github.com/NuGet/docs.microsoft.com-nuget/tree/master/docs/reference/errors-and-warnings for nu3037.
Look at error message, etc...

[2019-02-14 19:25] rrelyea commented on #7681
@rido-min - can you please help triage this, and clarify understanding as needed.
I believe that author name="jamiezhang" and authors in nuspec -- are two totally different concepts.
so i believe this is by design. Thoughts?

[2019-02-14 19:27] loic-sharma commented on #7733
I think that having a unified experience across the NuGet client and Gallery is worth limiting the flexibility of server implementations. Servers that want that flexibility can always accept packages that use the `licenseUrl` metadata.

What makes you say this? The NuGet client has error codes, messages, and documentation to help users around these kind of issues. If anything, I would say that the

[2019-02-14 19:29] dotMorten commented on #7733
I agree. At the very least, make it a packaging warning, if you're reluctant to make it an error.
I assume the UTF8 limitation has been made for a very good reason - probably to ensure any client consuming the package feed can understand and display the license file. If that's the case, I think it's fair to warn users that your package might cause problems for people, and not just for the NuGet Ga

[2019-02-14 20:46] nkolev92 opened #7800 "Fix the parsing of interactive"
Interactive should not be taking any arguments.

raised by @wli3

[2019-02-14 21:19] #7786 closed, assigned to nkolev92

[2019-02-14 21:29] peterhuene opened #7801 "GeneratePackageOnBuild should not set NoBuild."
## Details about Problem

See dotnet/cli#9656 and dotnet/cli#9581 for some additional context.

We have two problems in the .NET Core SDK for 3.0:

* The first is that setting `GeneratePackageOnBuild` in a project file fails to publish with a simple `dotnet publish` if the project hasn't already been built.  The root of the problem is that the publish targets also use `NoBuild` to support the `--n

[2019-02-14 22:31] #7800 closed, assigned to nkolev92

[2019-02-14 22:40] wli3 opened #7802 "nuget.xplat list errors when there is msbuild sdk"
[msbuild sdk](https://github.com/Microsoft/MSBuildSdks/tree/master/src/CentralPackageVersions)
[code]

### Sample Project
[code]

[2019-02-14 23:00] brandonchastain commented on #6682
+1, same issue happening to me, but instead on Azure DevOps instead of Jenkins.
@Heteroculturalism, did you find a fix?

[2019-02-14 23:55] rrelyea commented on #7341
external feedback of similar issue, but it went away: https://developercommunity.visualstudio.com/content/problem/447569/azure-pipelines-nuget-restore-errors-when-trying-t.html

[2019-02-15 00:02] rrelyea commented on #7801
This is difficult to do in 5.0...and we are busy driving towards ZBB for that. Would love to have somebody dig into this in the next few weeks.

[2019-02-15 00:20] gregpakes commented on #7669
We have the same issue.  Solution is 244 projects.  Adding a package to every project (Roslyn Analyzer) takes hours.  Eventually crashes with Out of Memory exception.

Issue persists on VS 2019 Preview 3 too

[2019-02-15 00:37] mikeharder commented on #7341
I attempted to reproduce the failure by repeatedly running `dotnet pack` (the command we see fail in our main builds) on a hello-world console app, but I wasn't able to repro after hundreds of builds.

In our main builds, we see this fail maybe once a week, and the most recent was 3 days ago on 2/11/19.   We'll keep tracking to see if stops happening completely.  I suspect this issue is currently

[2019-02-15 00:51] nkolev92 commented on #7341
@mikeharder

Are your build machines shared?

Also I wouldn't necesarilly assume that pack is the problem. I'd guess that the directory was created with bad permissions before pack tried to use it. So the faulty code path could be in restore.

[2019-02-15 01:04] mikeharder commented on #7341
@nkolev92: We are using the DevOps [Hosted Agents](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops&tabs=yaml).  This is a large pool of agents completely managed by the DevOps service and shared by all customers.  Each agent is only used by one build at a time, and agents are completely reset (or re-provisioned) between builds.  So every build starts on a cl

[2019-02-15 01:39] infin8x commented on #7792
@rrelyea that's right. With the right version of `dotnet` (2.1.400 or greater, though latest is always preferable), as long as you've installed the cred provider using the [readme instructions](https://github.com/Microsoft/artifacts-credprovider/), which it sounds like you have, push should show a device flow prompt in the logs when you run the `dotnet nuget push` command with only the `--source`

[2019-02-15 05:07] greatkeke commented on #5127
I have the same issue.

[code]

then, the error was throw in console:
[code]

dotnet --info

[code]

[2019-02-15 09:54] ChristianPerner commented on #5548
Same here with 4.9.2.5706 and GitVersion:
`[assembly: AssemblyInformationalVersion("1.1.0-version.1+881.Branch.feature/version.Sha.8358cb26832a14f95ae54567e14454f646dab44b")]`
The problem here is the slash after feature. If I replace the slash with a hyphen everything is fine.

[2019-02-15 10:24] KexyBiscuit opened #7803 "NU5104 not reported on package with PrivateAssets set"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI

VS version (if appropriate): 16.0.0 Preview 3.0

OS version (i.e. win10 v1607 (14393.321)): Windows Version 1903 (OS Build 18334.1)

## Detailed repro steps so we can see the same problem

[code]

[code]

[2019-02-15 10:41] andrelvahter commented on #7524
In the  end what worked for me was
1. Adding add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\"  to NuGet config
2. Start using newest .NET SDK 2.1.504 , seems 500 -> 503 may have this problem.

[2019-02-15 12:22] sergeyQx opened #7804 "No events from IVsPackageInstallerEvents and IVsPackageInstallerProjectEvents for SDK projects"
here's the Visual Studio extension that obtains the IVsPackageInstallerEvents and listens to it https://drive.google.com/open?id=1oKqUYEUg_gCcBhkbDcjVIp7gUU_2vspa
It receives events for old-fashioned projects but does not for SDK-based projects.

[2019-02-15 14:17] scovel opened #7805 "XML documentation files not Published for Dependency DLLS"
## Details about Problem

When publishing a WebApi that references a dependency NuGet package, the XML comment files for dependency packages are not copied to the Publish folder.

This happens in the official Microsoft Docker builds.

[code]
The NuGet cache folder contains the following for the dependency package, notice the XML is not extracted.

[code]

/app/customer/out only contains the DLL an

[2019-02-15 16:40] npickett commented on #7741
Updating to 15.9.7 resolved the issue on my computer.  I will test out the other version of Visual Studio:

VS Community Edition
version: 15.5.2

And report back.

[2019-02-15 18:23] scovel commented on #7805
Example using a console app and Newtonsoft.Json as the dependency package.

Mac, publish extracts DLL,PDB,XML

Docker I only see DLL, PDB

[consoleappxmlissue.zip](https://github.com/NuGet/Home/files/2870306/consoleappxmlissue.zip)

Logs

[Docker.zip](https://github.com/NuGet/Home/files/2870332/Docker.zip)

[2019-02-15 18:26] dtivel opened #7806 "Build: CS0436 warnings"
https://github.com/NuGet/NuGet.Client/commit/c05f5b0170bcebf265d2e8b59bcc5763832465f1#diff-8c5b643321451e48ab6163124b1be290R10 added `InternalsVisibleTo` from NuGet.Packaging to NuGet.Packaging.Test.  However, NuGet.Packaging.Test already included several files from NuGet.Packaging.Test, so the new internals visibility started generating a slew of CS0436 warnings.

[2019-02-15 18:32] anangaur opened #7807 "If lock file is deleted, restore does not generate lock file on NoOp"
Steps:
1. Enable `RestorePackagesWithLockFile` for a project
2. Run restore (Full restore) - Note it generates the lock file as expected.
3. Delete the lock file
4. Run restore (not `--force`)

Actual:
1. Lock file is not generated and Restore completes.
2. Even in step 2 above, it does not output any message regarding lock file being generated.

Expected:
1. Lock file should be generated.
2. When

[2019-02-15 18:39] anangaur commented on #7769
I just checked the behavior with .NET Core SDK 2.2.104 and restore doesn't fail if `RestoreLockedMode` is `false`

Can you provide a repro and let us know the version of NuGet or .NET Core SDK or VS that you are using?

[2019-02-15 19:43] #7409 closed, assigned to dominoFire

[2019-02-15 20:32] #7806 closed, assigned to dtivel

[2019-02-15 21:31] dealproc commented on #2867
Is there a way to combine this with a tool like `DevAudit` for the vulnerabilities?  I know this means forcing folks to file the vulnerabilities, but maybe there is a way where if vulnerabilities are entered via nuget.org as part of uploading the nupkg, the Nuget.org site could post into the cve.mitre.org system?

[2019-02-15 22:38] madelson opened #7808 "How does NuGet choose between netstandard and netframework when installing?"
I'm trying to find documentation on this but https://docs.microsoft.com/en-us/nuget/create-packages/supporting-multiple-target-frameworks only says:

For example, if there is a NuGet package with lib folders for net45 and netstandard2.0, what happens when you install into a net46 project? More generally, how is this decision made across different possible combinations of frameworks and versions?

[2019-02-15 22:46] genscape-agodfrey commented on #7060
Reporting in with the same issue

[2019-02-15 22:46] genscape-agodfrey commented on #7020
I am seeing this issue with our teamcity build server with nuget 4.9.1

[2019-02-15 23:04] nguerrera commented on #7341
This is happening repeatedly right now on one leg of CLI 2.2 CI. @MattGal can you share a machine with @nkolev92 ?

[2019-02-16 13:38] scovel commented on #7805
I found this interesting, maybe you will too.  NuGet is clearly doing something different inside a container.

Ran the same test using the latest Microsoft bionic (Ubuntu) Docker image, and then on my Ubuntu Bionic desktop.

Bionic Docker Image logs

[bionic-docker.log](https://github.com/NuGet/Home/files/2871965/bionic-docker.log)

Bionic Desktop logs

[bionic-desktop.log](https://github.com/NuGe

[2019-02-17 00:34] athinboy opened #7809 "packages path is wrong?!"
Why does  the path is :   C:\work\code\k3applet\K3Applet\ \packages ?

1>------ 已启动生成: 项目: Test, 配置: Debug Any CPU ------
1>  正在还原 NuGet 程序包...
1>  若要防止 NuGet 在生成期间下载程序包，请打开“Visual Studio 选项”对话框，单击“程序包管理器”节点并取消选中“Allow NuGet to download missing packages”。
1>  Feeds used:
1>    C:\Users\***\.nuget\packages\
1>    https://api.nuget.org/v3/index.json
1>    https://nuget.org/api/v2/
1>    C:\Program F

[2019-02-17 02:56] ScotiaB opened #7810 "dotnet.exe nuget push ignores --api-key when --interactive is specified"
## Problem
dotnet.exe nuget push seems to ignore the --api-key argument if --interactive is specified.

### Impact
When pushing a package to ADO for the first time on a machine, --interactive may be required to avoid 401 (Unauthorized).  However, once a token has been acquired, the push fails because X-NuGet-ApiKey is not included in the push request.

Because --interactive prevents --api-key from

[2019-02-17 11:35] mrward opened #7811 "NuGet psm1 makes use of missing NuGet PowerShell comands"
## Details about Problem

NuGet product used: Package Manager Console

NuGet version (x.x.x.xxx): dev branch

dotnet.exe --version (if appropriate):

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)):

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

The nuget.psm1 tries to use Get-RemotePackageId and Get-RemovePackageVe

[2019-02-18 00:36] karann-msft commented on #442
and every person that installs the package needs to be able to see both? how often does the owner or the go-to contact person change? How have you worked around this today?

[2019-02-18 13:17] genscape-agodfrey commented on #3116
After a few days of troubleshooting I found this github issue. This started with our teamcity build server and all builds failing after a lock. Here are what I consider to be related issues:
https://github.com/NuGet/Home/issues/7060
https://github.com/NuGet/Home/issues/7020

[2019-02-18 14:27] tomas04 commented on #3891
@WallaceKelly Thanks for the workaround. The workaround seems to have an issue though - The PDB of the main project is included, but the PDBs of the referenced projects are not included.

[2019-02-18 16:43] jameskeith commented on #7658
@nkolev92 - "Floating versions are not valid in the nuspec."
If that's the case, can we at least take the Floating point example off the documentation that you have linked to:
https://docs.microsoft.com/en-us/nuget/reference/package-versioning#version-ranges-and-wildcards

The following is under the "References in .nuspec files" near the bottom.
[code]

I'd like to add my vote that this behaviour

[2019-02-18 17:49] gckeller-ps commented on #6892
I have my project in the drive root and still get this exception.  I can't find any way to install it.  Suggestions?

[2019-02-18 18:48] Flavien commented on #7682
Same problem here. I'm using .NET Core SDK 2.2.104, which is supposed to have the 4.9.3 bits, and I am still getting the wrong hash error.

Is there some cache we need to clear before generating the lock file to ensure the incorrect `.nupkg.metadata` files are removed?

[2019-02-18 19:55] anangaur commented on #7682
/cc: @rrelyea

[2019-02-18 21:36] forderud commented on #442
Yes, it would be preferable if every person installing a nuget package could see both the "authors" and "owners" fields.
We lack a good work-around for this today. That's the reason for my request here.

[2019-02-18 22:26] ViktorHofer opened #7812 "dotnet restore interactive fails with private VSTS feed"
## Details about Problem

NuGet product used: dotnet.exe
dotnet.exe --version: 2.2.104
OS version: 10.0.18334

`dotnet restore --interactive` doesn't prompt for authentication and just returns 401:

[code]

With nuget.exe 4.9.2.5706 the authentication dialog is prompted as expected:

nuget.exe restore "eng\common\internal\Tools.csproj" -Source https://devdiv.pkgs.visualstudio.com/_packaging/dotnet

[2019-02-19 00:19] nkolev92 commented on #7658
@jameskeith

I have created a PR https://github.com/NuGet/docs.microsoft.com-nuget/pull/1317 fixing the bad example.
The nuspec never supported floating versions.

I have also created a follow up issue to clearly call out that this is the case. https://github.com/NuGet/docs.microsoft.com-nuget/issues/1318

Regarding the dependency resolution, you can read more about it here; https://docs.microsoft

[2019-02-19 11:26] naleczynskia commented on #4204
I can reproduce this. Just put "pause" in a bat script and run script from the console.

[2019-02-19 12:17] Exocomp opened #7813 "Suppress "Assembly not inside 'lib' folder" warnings"
I have a case where I created a .NET wrapper around native dlls, I include the native dlls as part of contentFiles and get the warning:

`WARNING: NU5100: The assembly 'dll here' is not inside the 'lib' folder and hence it won't be added as a reference when the package is installed into a project. Move it into the 'lib' folder if it needs to be referenced.`

Everything else works as expected, how

[2019-02-19 15:59] rrelyea commented on #7636
thx.

[2019-02-19 15:59] #7636 closed, assigned to nobody

[2019-02-19 18:38] kevison commented on #7020
I am seeing this issue with out team city build server as well. Nuget v. 4.9.2.5706.  Any info about when this might get resolved?

[2019-02-19 20:14] acangialosi opened #7814 "VS should never automatically prompt for credentials"
Design guidelines for integrating with VS' identity say that VS should never auto-prompt for credentials. There dozens of connected experiences in VS from nuget package restore to symbol resolution, and many others that can trigger an authenticated request for users. We learned in earlier releases that having features prompt for credentials automatically had a poor impact on the user experience as

[2019-02-19 20:41] dozer75 commented on #3891
@WallaceKelly It worked, however a new problem arise since the package references from the other project isn't applied to the package :|

Well, back to the drawing board...

Oh, I remember a day in 2001 when Microsoft promised that .NET was the end of DLL hell... Right...

[2019-02-19 21:08] loic-sharma opened #7815 "Make snupkgs the default symbol package format for .NET 5"
The default symbol package format is currently `symbols.nupkg`. We should consider if we can make `snupkg` the default for .NET 5. This would be a breaking change. See also: https://github.com/NuGet/Home/issues/7892

/cc @karann-msft @rrelyea

[2019-02-19 21:42] anangaur commented on #7682
@Flavien
Yes,  you will have clean up the [`global packages folder`](https://docs.microsoft.com/en-us/nuget/consume-packages/managing-the-global-packages-and-cache-folders) once.

[2019-02-19 21:56] panmona commented on #7027
Is there any update on this? @jainaashish
For multiple feeds we have multiple packageSourceCredentials.

[2019-02-19 22:35] anangaur commented on #7815
I guess if we should also implement `push` to auto push the `.snupkg` along with auto generating symbols.nupkg. There should be an info message with a link for details for folks who want to know more or who get broken.

[2019-02-19 22:35] anangaur commented on #7815
/cc: @rrelyea this is potential feature for 5.0

[2019-02-19 23:06] Flavien commented on #7682
I've already tried that and that didn't make a difference. I am still getting the sha512 validation error.

[2019-02-19 23:50] anangaur commented on #7682
Thats weird.  /cc: @nkolev92

[2019-02-20 00:23] nkolev92 commented on #7682
@Flavien

Do you have a minimal repro you can provide for us?

I want to eliminate sha validation issues that are potentially unrelated to the above.

[2019-02-20 00:31] nkolev92 commented on #7796
I'd imagine this is a fall out from the perf work with SkipNonExistentTargets.

The issue here is that these projects likely have non-existing imports.
Projects like take a toll on the msbuild evaluation and make it significantly slower.

Can you try setting RestoreUseSkipNonexistentTargets="false" ? |

You can do that through https://docs.microsoft.com/en-us/nuget/tools/cli-ref-environment-variab

[2019-02-20 01:31] nkolev92 commented on #7643
Isn't this a duplicate of https://github.com/NuGet/Home/issues/6498?

That issue already calls out 3037 as a gap.

[2019-02-20 07:48] devlead commented on #7796
@nkolev92 yes if I for the above attached repro solution execute
[code]
nuget.exe doesn't produce any warnings and following MSBuild succeeds 👍  , so that sorts the issue, but still feels like a regression.

Sure but if you see log above I also get an error

[code]

Also is there a way to treat warnings as errors? Setting `TreatWarningsAsErrors=true` didn't have any affect. A failed restore just m

[2019-02-20 09:24] v-longmin opened #7816 "[Test Failure][Accessibility] “Dependencies” covered “Tags” in the description of the package on the right panel in PM UI"
## Details about Problem
VS Version: D16.0 28619.77
OS Version: 17763.RS5_Release.180914-1434.
## Detailed repro steps
1. Create a new test certificate:.\CreateTestCertificate.ps1 –AddAsTrustedRootAuthority
2. Sign a package: nuget.exe sign <PackageFilepath> -CertificatePath <PfxFilePath>
3. Install the package into a project in PM UI, and observe the Description in the right panel.
## Expected:
“

[2019-02-20 09:38] fredricadell commented on #7658
@nkolev92 @jameskeith

It would be great if the docs gets updated and more clear!

Regarding the lowest version on dependency resolution. Our solution ended up that we wrote our own component that analyze the dependency in the nuspec-file and updated it accordingly with the highest (safe) version, its a step in our buildprocess. That works for our internal components were we own the versioning pat

[2019-02-20 12:25] scovel commented on #7805
I managed to stumble onto the following information...

https://github.com/JetBrains/teamcity-docker-agent/issues/42

https://docs.microsoft.com/en-us/nuget/tools/cli-ref-environment-variables

This is causing it to skip extracting the XML file, only in Docker.

Adding

[code]

to my Dockerfile corrects this issue.

[2019-02-20 13:38] alefranz commented on #7682
@Flavien from one of you previous comments it looks like you are experiencing an issue in CI.
You have to make sure your agent will not try to build any other project with `RestorePackagesWithLockFile` enabled but using an old sdk affetced by the bug (e.g. specified via global.json) after you cleanup your nuget fallback folder, otherwise you will be getting back the corrupted value in the cache.

[2019-02-20 15:49] nkolev92 commented on #7796
I overlooked the full log message, my bad. That probably needs further analysis to understand if we tried to have an exit code of 0 or it was deliberate. The exception suggests maybe that's not the case. //cc @heng-liu

WarningsAsErrors is respected only for the Package Reference based projects.
Since all restores are individually run, one failure won't stop the complete operation. Note that most

[2019-02-20 16:28] aelij commented on #4992
We're still seeing this issue in a UWP project referencing a .NET Framework project with `ReferenceOutputAssembly=false` (getting a NU1201). #6079 also seems related.

[code]

[2019-02-20 16:45] jeffkl opened #7817 "Custom msbuild sdk results in "Package restore was successful but a package with the ID of "xyz" was not installed""
_From @japj on February 20, 2019 15:16_

### Steps to reproduce

I am trying to build a custom msbuild sdk, and have published this successfully to a TFS 2018Update3 PackageManagement feed.

However I run into the issue that upon first time use of a new version of this sdk I get a "Package restore was successful but a package with the ID of "xxx" was not installed" error.

I can confirm that the N

[2019-02-20 16:45] jeffkl commented on #7817
After restore, the SDK resolver looks for your SDK based on the restore results:

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/Microsoft.Build.NuGetSdkResolver/NuGetSdkResolver.cs#L150

Is the version and ID of the package exactly the same?  Maybe the case is different?  Can you attach a NUPKG of an SDK that doesn't work?

[2019-02-20 16:45] jeffkl commented on #7817
_From @japj on February 20, 2019 16:32_

Yes indeed, casing is the issue here.

I can reproduce the problem by:
- remove C:\Users\japj\.nuget\packages\microsoft.build.centralpackageversions
- run msbuild test.proj with the following content in test.proj:
[code]

Thanks for the quick pointer, not sure if there is still an issue that needs to be solved though.
I would have expected it to either "alw

[2019-02-20 16:45] jeffkl commented on #7817
I think it succeeds the second time because its already downloaded and there's different logic for [locating an on disk package](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/Microsoft.Build.NuGetSdkResolver/NuGetSdkResolver.cs#L205) versus one that was just fetched.

I think the fix is to just add a `StringComparison` to that `Equals()` call so that its not case sensitive.  I'm go

[2019-02-20 17:17] qidydl commented on #5979
Not only does this problem still exist in NuGet version 4.9.3 despite closing the issue, the recommended solution of using the NuGet.Build.Tasks.Pack package and MSBuild does not work; the "pack" target is not made available by the addition of this package.

[2019-02-20 17:46] ViktorHofer commented on #7812
cc @livarcocc

[2019-02-20 17:47] jainaashish commented on #7027
It tries to connect to all the configured feeds to get the required package, which is why it fails when it can't connect to nutshell feed but when you provide the credential for that feed it works. So if you don't need nutshell feed for your current installation or restore then you'd either need to disable that or provide credentails. That's by design.

[2019-02-20 17:48] ocean-orrick commented on #7769
The projects I am testing on are net40 projects. NuGet version 4.9.2.5706. VS2017 15.9.6

[2019-02-20 17:55] ocean-orrick commented on #7769
I can work on putting together a little example repo for repro if there's not anything that immediately jumps out about those versions. I imagine the .net 4.0 projects might be the issue though?

[2019-02-20 18:13] anangaur commented on #7769
If you are using PackageReference, the lock file feature should just work as expected. We would good with any sample repro as long as it is using PackageReference.

[2019-02-20 19:59] panmona commented on #7027
- Why doesn't it first try to find the package it on the other feeds?
- Why do we have to configure this, this way? Visual Studio for example doesn't need these credentials in the NuGet.config. (that's probably also why it sometimes deletes them again..)

[2019-02-20 22:25] joelverhagen opened #7818 "configure.ps1 fails when running outside of Developer Command Prompt with dev16"
Error text after running `git clean -xffd` then `.\configure.ps1` in a plain PowerShell window:

<pre>
[14:22:05 +0]   [BEGIN] Validating VS 15 toolset installation
WARNING: [14:22:05 +0] VSSDK is not found at default location 'C:\Program Files (x86)\Microsoft Visual Studio\2019\Preview\MSBuild\Microsoft\VisualStudio\v15.0'. Attempting to
override.
Join-Path : Cannot find path <b>'C:\Program Files

[2019-02-20 22:29] nkolev92 commented on #7818
The root cause might be that we are using VSWhere to detect the latest VS version when not running in a developer command prompt. Then we later on we are not considering the detected VS version when detecting the SDKs.

[2019-02-20 23:42] nkolev92 commented on #7643
Closign as dup of #6498 as per the above comment.

[2019-02-20 23:42] #7643 closed, assigned to heng-liu

[2019-02-20 23:43] nkolev92 opened #7819 "Raise a deprecation warning for Gen1 credential plugin"
We shipped Gen2 of Authentication Credential Provider: #6642 shipped in 4.8/2.1.400 SDK/15.8 of Msbuild.

We should deprecate the Gen1 plugin in 5.0 and completely remove it in a future release.
This task is to provide a warning message if you are using the Gen1 provider in 5.0.

Future task to remove Gen1 support is: https://github.com/NuGet/Home/issues/7586.

[2019-02-20 23:45] nkolev92 commented on #7586
I have created a new issue for adding a log message notifying users of the deprecation.

Moved this one to the backlog, while that issue is targeting 5.0

[2019-02-21 04:56] alex-relov commented on #7671
When creating a new project I get errors
![image](https://user-images.githubusercontent.com/26199529/53144583-a6341400-35be-11e9-9851-65a1648f01cf.png)
![image](https://user-images.githubusercontent.com/26199529/53144595-b3e99980-35be-11e9-817e-d4211c778a1b.png)
VS2017 15.9.5
NuGetizer3000-VS2017 0.2.13

[2019-02-21 10:49] jameskeith commented on #7658
Thanks @nkolev92 - I'm fairly new to NuGet, so have spent quite a while looking through the documentation. It's great to hear that there will now be updates to clarify them for others.

[2019-02-21 17:27] cgibbons commented on #7651
I'm running into this issue as well, until this is resolved nuget locking is worthless.  We all develop on windows, but our applications run and build in docker linux containers.  The restore using lock fails when building the docker container every time with that hash issue.

[2019-02-21 18:06] anangaur commented on #7651
/cc: @rrelyea @nkolev92 this needs to be investigated to see if there are real inconsistencies in the SHA hash on different platform’s fallback folders or was this due to the dotnet bug that persisted file hash instead of SHA hash in the .nupkg.metadata file?

[2019-02-21 18:20] cgibbons commented on #7651
This is very easy to reproduce.  Create a project with a lock file.  Do dotnet restore in windows.  Install WSL for windows, do a dotnet restore in linux, it will fail.  Delete the lock file in WSL, do a restore, it now works in linux repeatedly.  Switch back to windows, restore now fails with sha mismatch.

[2019-02-21 18:21] nkolev92 commented on #7651
@cgibbons

Which version of dotnet.exe are you using?

[2019-02-21 18:24] cgibbons commented on #7651
The latest 2.2.  SDK = 2.2.104

[2019-02-21 18:27] nkolev92 commented on #7651
@anangaur This sound very similar to https://github.com/NuGet/Home/issues/7682.

We need to investigate to confirm it though.

[2019-02-21 18:28] dtivel opened #7820 "Settings: illegal character in package source path can crash VS"
Internal feedback ticket 790638.

When a package source value in nuget.config contains an illegal character, it can lead to the following error dialog when viewing package sources in Visual Studio:

---------------------------​
Operation failed​
​
Failed to initialize NuGet Package Manager Settings. Please report a problem using Help > Send Feedback > Report a Problem.​
---------------------------

[2019-02-21 20:30] #7635 closed, assigned to nkolev92

[2019-02-21 21:55] Eilon opened #7821 "NuGet org should have 'pinned' repos"
Right now there are no pinned repos on https://github.com/NuGet so it looks like this:

Having pinned repos can make it easier for people to find the most relevant repos (e.g. Home, Gallery, etc.). Here's what the https://github.com/aspnet/ org has:

[2019-02-22 02:49] NZSmartie commented on #5766
An ASP.Net core project I'm working on uses a [.Net Standard port](https://www.nuget.org/packages/NuGet.PackageManagement.NetStandard/) of `NuGet.PackageManager` (See https://github.com/NuGet/Home/issues/6150#issuecomment-353725567) that references `NuGet.Commands`.

With mocking `IConfiguration` from `Microsoft.Extensions.Primitives` for testing purposes, Visual studio throws the error when tryin

[2019-02-22 05:10] jasekiw commented on #5805
I disabled resharper and everything returned back to normal for me. Not sure if this will be case for others though. [How can I temporary disable ReSharper](https://resharper-support.jetbrains.com/hc/en-us/articles/206546999-How-can-I-temporary-disable-turn-off-ReSharper-)

[2019-02-22 06:10] 2Young4Code commented on #7528
Getting same error....

So there's no solution to run Selenium on VS2017?

Dev express team seems to have fixed it so there should be a way...

https://www.devexpress.com/Support/Center/Question/Details/T668052/nu3008-the-package-integrity-check-failed-error-is-thrown-when-installing-devexpress

If you need steps to reproduce, Install VS2017, -> make new ConsoleApplication -> the go to Nuget Packa

[2019-02-22 08:32] dominoFire commented on #7808
NuGet will try match the nearest framework assembly available. In your example, it will use the net45 assembly.

The FrameworkReducer.GetNearest() is the method that resolves the framework assembly to use depending on the available assemblies and the target project:

https://github.com/NuGet/NuGet.Client/blob/0781854111129d4c502fa44849fac974b46cc1f9/src/NuGet.Core/NuGet.Frameworks/FrameworkReducer

[2019-02-22 08:33] #7808 closed, assigned to nobody

[2019-02-22 08:36] v-luzh opened #7822 "[CSY] Duplicated hotkeys show in “Options->NuGet Package Manager->Package Sources” dialog"
## Details about Problem
NuGet version: NuGet Client Dev\5.0.0.5821
OS: 16299.RS3_Release_svc_escrow.180502-1908 CSY
## Detailed repro steps
#### Notes:
 It only reproes for the first opening of the “Options->NuGet Package Manager” tab on a clean machine. This page will be re-designed after editing a source here.
1. Create a project [e.g.Console App (.NET Core)] in VS.
2. Open PM UI of this projec

[2019-02-22 15:00] davethieben commented on #5766
@NZSmartie I had to alias the NuGet libraries in my project so I did not get this conflict. more info on how I did it in a .NET Core project here: https://github.com/NuGet/Home/issues/4989#issuecomment-426666530

and then my references look like this:

        <PackageReference Include="NuGet.PackageManagement" Version="4.6.2" />
        <PackageReference Include="NuGet.Commands" Version="4.6.2" A

[2019-02-22 19:24] #7759 closed, assigned to dtivel

[2019-02-22 21:49] #6800 closed, assigned to nobody

[2019-02-22 21:56] #4290 closed, assigned to rohit21agrawal

[2019-02-22 22:27] genscape-agodfrey commented on #3116
I have been adding -DirectDownload combined with -NoCache. "isolated mode" is described here:
https://github.com/NuGet/NuGet.Client/pull/856

[2019-02-22 22:29] genscape-agodfrey commented on #7060
I am now adding -NoCache and -DirectDownload to my nuget restores on my build server. The "isolated mode" is described here:
https://github.com/NuGet/NuGet.Client/pull/856

[2019-02-22 23:12] kingerja opened #7823 "when projectreference casing and file system casing differ project.assets.json gets regenerated"
NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
msbuild 15.9.21.664
using msbuild /t:Restore

VS version (if appropriate):
15.9.6

OS version (i.e. win10 v1607 (14393.321)):
win10 v 1809 (17763.253)

## Detailed repro steps so we can see the same problem

1.  File system has directory structure like.
Foo\Bar\ProjectA.csproj

2. Project B has project reference foo\bar

[2019-02-23 01:10] rrelyea commented on #7821
Thx. Just set a few up.

[2019-02-23 01:10] #7821 closed, assigned to nobody

[2019-02-23 01:13] rrelyea commented on #7807
Please work with @nkolev92 to understand how to add the existance of this file to noop calculation.

[2019-02-23 01:14] rrelyea commented on #7809
@zivkan - this sounds like a dupe of the extra space issue. Can you please dupe, if so?

[2019-02-23 01:22] nkolev92 commented on #7807
What we do with the rest of the files (nuget.g.targets/props) is we validate their existence.

No-Op should not validate the integrity of the lock file during the check for performance considerations.

Making it aware that the property being set requires the existence of a lock file is sufficient I think.

What I mean with this is:

3. ~Delete the lock file~. Manually edit the lock file

will not

[2019-02-23 01:22] rrelyea commented on #7815
for both dotnet pack and nuget pack, let's change the default symbol package format to snupkg from .symbols.nupkg

[2019-02-23 01:25] rrelyea commented on #7817
Right assignee?
@livarcocc

[2019-02-23 01:26] nkolev92 commented on #7807
@heng-liu

Relevant code;

https://github.com/NuGet/NuGet.Client/blob/03079932b62466d38f2577e24f3a6b244bb30a49/src/NuGet.Core/NuGet.Commands/RestoreCommand/RestoreCommand.cs#L133

https://github.com/NuGet/NuGet.Client/blob/03079932b62466d38f2577e24f3a6b244bb30a49/src/NuGet.Core/NuGet.Commands/RestoreCommand/Utility/NoOpRestoreUtilities.cs#L114-L145

https://github.com/NuGet/NuGet.Client/blob/dev/s

[2019-02-23 01:27] livarcocc commented on #7817
Not really. I have assigned it to myself for now.

[2019-02-23 01:27] livarcocc commented on #7817
Or rather, you have to. I can't change assignments here.

[2019-02-23 01:38] rrelyea commented on #7813
We rely on normal error and warning functionality in msbuild.
Our doc page for warnings and errors lists a link to "How to compress Compiler warnings" in visual studio

Adding a property like this to your project file:
`<NoWarn>NU5100</NoWarn>`

is one way to do this.

Then, when you run dotnet pack the next time, it suppresses that warning.

[2019-02-23 01:38] #7813 closed, assigned to nobody

[2019-02-23 01:40] rrelyea commented on #7817
I cannot assign to you either. Want me to add you to this repo, or port this issue elsewhere?

[2019-02-23 21:11] mikkelbu commented on #7414
Hi @PatoBeltran. In the NUnit project we have run into this problem on AppVeyor (see error in the end of this comment), see nunit/nunit-console#556 for more context.

My guess is that it is due to an update of nuget to version 4.9.2 (from version 4.7.1, if https://www.appveyor.com/updates/ is correct). We have prior solved the same issue on AppVeyor by introducing a separate nuget restore step (in

[2019-02-24 04:42] GregChangFmc opened #7824 "TeklaOpenAPI install failed with NU3008"
Had following issue when try to install TeklaOpenAPI with Visual Studio Professional 2017

PM> Install-Package TeklaOpenAPI -Version 2019.0.45003
  CACHE https://api.nuget.org/v3/registration3-gz-semver2/teklaopenapi/index.json
Restoring packages for C:\Greg\Tekla\HelloWorld\HelloWorld.csproj...
  GET https://api.nuget.org/v3-flatcontainer/teklaopenapi/index.json
  OK https://api.nuget.org/v3-flat

[2019-02-24 05:47] Eilon commented on #7821
Thanks @rrelyea , this is much nicer! BTW you can sort/re-order the pinned repos if you want by drag/dropping them (e.g. if you want Home to be first).

![image](https://user-images.githubusercontent.com/202643/53295641-92520300-37b4-11e9-84f5-ffa88b6edfdd.png)

[2019-02-24 18:37] livarcocc opened #7825 "Creating nuget package using dotnet pack command and <NuspecFile> tag creates a package targeting .Net Framework"
_From @shai-glat on February 21, 2019 12:44_

## Steps to reproduce
1. Create a csproj and generated a nuget package from it - works as expected
2. Open the package and take out the generated nuspec file.
3. Add the following tag to csproj:
`	<PropertyGroup>
		<NuspecFile>nuspec\MyProj.nuspec</NuspecFile>
	</PropertyGroup>
`
4. Add the `files` tag to nuspec file as follows:
[code]
5. run `dotnet p

[2019-02-25 03:20] JeffCyr opened #7826 "Proposal: Allow specifying the package folder path in PackageReference"
This is a proposal to allow specifying the package folder path in the PackageReference element, therefore skipping the actual package restore.

# Rationale
In a large mono-repo, it is common to split the projects in multiple solution file. Each solution are built individually, but there can be dependencies between them.

It is possible to configure a local folder as source to handle the local nuge

[2019-02-25 07:52] gix commented on #7400
I was modifying a NuGet package created by [vcpkg](https://github.com/Microsoft/vcpkg) using the PowerShell 6 cmdlets `Expand-Archive` and `Compress-Archive` and hit the same problem. The package is downloaded and extracted successfully but installation then fails with:

    Resolved actions to install package 'icu-dev-deps.1.0.0'
    Retrieving package 'SamplePackage 1.0.0' from 'Local Developmen

[2019-02-25 10:26] WeihanLi commented on #6548
How to config for new project file?
I use the code below, you can find the source [here](https://github.com/WeihanLi/WeihanLi.Common/blob/dev/src/WeihanLi.Common.Logging.Log4Net/WeihanLi.Common.Logging.Log4Net.csproj#L20):

[code]

it works for .net framework apps, but it can not work for .net core apps

[2019-02-25 10:29] WeihanLi commented on #4942
How to config for new project file to install content file for project?

I use the code below, you can find the source [here](https://github.com/WeihanLi/WeihanLi.Common/blob/dev/src/WeihanLi.Common.Logging.Log4Net/WeihanLi.Common.Logging.Log4Net.csproj#L20):

[code]
it works for .net framework apps, but it can not work for .net core apps

----------- Update ----------------------------

I'm using

[2019-02-25 10:40] 304NotModified commented on #4942
@WeihanLi   not sure if the log4net config will work with NLog ;)

[2019-02-25 13:21] maciakon opened #7827 "Nuget MSBuild auto-detection picks up msbuild.exe from Microsoft SQL Server Data Tools for VS 201"
After installing Microsoft SQL Server Data Tools for Visual Studio 2017, nuget.exe picks up msbuild.exe from incorrect path.

## Details about Problem

NuGet product used:
NuGet.exe 4.9.3.5777
Visual Studio: 15.9.7
Microsoft SQL Server Data Tools for Visual Studio: 15.9.7

## Detailed repro steps so we can see the same problem

1. Install Visual Studio Professional 2017 (15.9.7)

2. Install Micros

[2019-02-25 13:26] timqzm opened #7828 "Package Console Extension prompts for credentials many times"
macOS Mojave 10.14.3
Visual Studio for Mac 7.8.1 build 4
NuGet Package Management Extensions 0.16

[code]

VS prompts for credentials for every result found, very annoying 😿
I have correct credentials in VS > Preferences > NuGet > Sources.

Moreover, if I cancel creds alert, there will be another one where Cancel and OK do nothing, only Cmd+Q helps to get rid of it.

[2019-02-25 13:45] madelson commented on #7808
@dominoFire thanks http://nugettoolsdev.azurewebsites.net/4.8.0/get-nearest-framework?project=net46&package=net45%0D%0Anetstandard2.0%0D%0A is exactly what I was looking for!

Would you consider linking this from https://docs.microsoft.com/en-us/nuget/create-packages/supporting-multiple-target-frameworks ?

[2019-02-25 14:48] cremor commented on #7483
Unless I'm remembering something wrong, `activePackageSource` still worked some time ago in Visual Studio, even though it was already officially deprecated. But I just tested it again with the latest version of Visual Studio 2017 and it now doesn't work any more. Therefore I agree that we need a new option to get the "all" setting chosen in the UI by default.

[2019-02-25 17:18] dtivel opened #7829 "VS Install: NuGet Package Manager still installed if "NuGet package manager" option deselected"
NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):  Visual Studio

VS version (if appropriate):  16.0.0 Preview 4.0 [28621.222.d16.0]

OS version (i.e. win10 v1607 (14393.321)):  10.0.17763.316

## Detailed repro steps so we can see the same problem

1.  Launch Visual Studio Installer.

2.  Install or Modify an instance of Visual Studio 2019 so that the "NuGet package m

[2019-02-25 18:27] zivkan commented on #7828
@mrward Can you please advise on the two issues the customer reported? Is re-asking for the credentials is a NuGet or VS for Mac issue? Also in case you miss it, in the last paragraph, there's a report of a VS for Mac UI bug. Thanks.

[2019-02-25 18:36] nkolev92 commented on #7826
The fallback folders feature should cover your use case.

There's only an old write-up for fallback folders https://github.com/NuGet/Home/wiki/%5BSpec%5D-Fallback-package-folders.

Basically what fallback folders allow you to do, is mimic the consumption side of the global packages folder.
The package is already fully installed(read extracted) on disk, so whenever NuGet needs to find a package it

[2019-02-25 18:37] mrward commented on #7828
There is a known VS Mac bug in the credentials dialog where you have to click a button you cannot tab to it. Not sure if that is the problem here.

For the credentials problem - would need a repro.

1. What type of package source is being used?
2. Does it work from the command line using NuGet?
3. Does installing work from the Add Packages dialog?

Also the NuGet powershell console is an unofficia

[2019-02-25 18:39] vsfeedback opened #7830 "NuGet Manager does not always persist packages"
When installing or updating NuGet's in Visual Studio 2019 preview 3, the changes are not always persisted. While packages show as being installed or updated several minutes/builds later the changes are lost and the csproj is reverted to what it was before the install/update. Saving or closing the project does not always work either.

My gut tells me this is probably related to another issue in whi

[2019-02-25 19:00] rrelyea commented on #7830
Updating bits to latest internal build of Preview4 and attempting to repro.
Curious about exact repro steps. What project type? (console app (.net core)? asp.net core? other? what versions of SDK?)
What packages are you installing?
Does it repro 100% of time? How often?

[2019-02-25 20:47] mrward commented on #7828
This seems OK for me. With a VSTS package source that needs credentials, and those credentials added via Preferences - NuGet - Sources, I can use `get-package -online` and `install-package` to install packages from the NuGet PowerShell console.

If I use a VSTS package source that needs credentials, but they are not set, then the NuGet PowerShell console in VS Mac will prompt the dialog the once,

[2019-02-25 21:19] forderud commented on #442
@karann-msft Would it be possible to reopen this issue, since it has clearly not been resolved?

[2019-02-25 22:56] Ausxor commented on #7101
I am also experiencing this issue on NuGet.CommandLine 4.9.3. It was not an issue on version 3.

1. I have a nuget.config with a relative source for nuget packages.
[code]
2. I have a package stored at the same location as the nuget.config file. ABC.123.API.0.0.0.nupg.
3. I install the package.
`install ABC.123.API -ExcludeVersion -Source local -PreRelease -OutputDirectory "C:\inetpub\project"-Ver

[2019-02-25 22:58] Ausxor commented on #7101
I am also experiencing this issue on NuGet.CommandLine 4.9.3. It was not an issue on version 3.

1. I have a nuget.config with a relative source for nuget packages.
[code]
2. I have a package stored at the same location as the nuget.config file. ABC.123.API.0.0.0.nupkg.
3. I install the package.
`install ABC.123.API -ExcludeVersion -Source local -PreRelease -OutputDirectory "C:\inetpub\project"-Ve

[2019-02-26 10:32] mikeparker opened #7831 "Directory.Build.props file with PackageReference incorrectly attempts install into non-compatible projects"
## Details about Problem

NuGet product used:
MSBuild

NuGet version:
4.6.0

VS version:
15.9.6

## Repro

1. Create a solution with new format C# csproj and an old format C++ static library
2. Add a `Directory.Build.props` file with a `PackageReference` to a nuget package which is not compatible with C++ projects, e.g. `<PackageReference Include="StyleCop.Analyzers" Version="1.1.1-rc.108" Private

[2019-02-26 11:25] Amith211 commented on #545
+1

[2019-02-26 11:58] fenngineering commented on #545
+1

[2019-02-26 12:08] timqzm commented on #7828
@mrward First of all sorry, I'm a bit far from VS and NuGet stuff.

These are remote private packages if I understood you question correctly. All I have are URL to JSON, username and PAT.

Never tried, because [here](https://docs.microsoft.com/en-us/nuget/install-nuget-client-tools) I read there is no support for updating packages from NuGet CLI on Mac
<img width="744" alt="screenshot 2019-02-26 a

[2019-02-26 12:14] madelson opened #7832 "Install-Package does not respect the developmentDependency flag in the nuspec for PackageReference projects"
## Details about Problem

Package Manager Console:

NuGet version: 4.9.3

VS version (if appropriate): 15.6.4

OS version (i.e. win10 v1607 (14393.321)): Win10

Worked before? If so, with which NuGet version: Works as expected with packages.config projects

## Detailed repro steps so we can see the same problem

1. Open a solution with a PackageReference project (I was using https://github.com/mad

[2019-02-26 12:46] StingyJack commented on #4942
@ticktickMOF - I would think that CSS would be a Content file instead of an AdditionalFile so it gets published correctly.

@rrelyea - Can you point to an explanation of why including and distributing files like config, css, etc. in a (private or public) nuget package is somehow **bad** for us to do?  This enforcement of segregation seems to only remove value from NuGet, and at the additional cost

[2019-02-26 13:12] mortezabarzkar commented on #3078
Tanks

[2019-02-26 13:13] mortezabarzkar commented on #1650
Then you can run the following commands::

[code]

[2019-02-26 13:15] JeffCyr commented on #7826
Ideally it would have been simpler if you didn't have to specify the package version, but I can see how to make it work with fallback folders, thanks.

Wouldn't it make sense though to be able to specify the package path in PackageReference?

For `Pack`, do you think it would be a good idea to have an option to output the uncompressed package folder instead of a .nupkg? So the build wouldn't need

[2019-02-26 13:32] mrward commented on #7828
On the Mac you can install NuGet packages locally using NuGet.exe. Just doing something like `nuget install PackageId`. If the NuGet package is not in the local package source ~/.nuget/packages then nuget will use the credentials stored in the ~/.config/local/NuGet.Config to authenticate and download the .nupkg.

However using the Add Packages dialog is another way to check if NuGet is working wit

[2019-02-26 13:39] Dammmien commented on #6861
Hi,

I have a very similar issue but can't figure out what's the root cause.
Can anyone help ?

![capture d ecran 2019-02-26 a 14 38 08](https://user-images.githubusercontent.com/3051737/53416610-277f1280-39d4-11e9-85b4-1fe55b92494c.png)

[2019-02-26 14:20] timqzm commented on #7828
Thanks @mrward, it's what I searched for 👍

[2019-02-26 14:26] timqzm commented on #7828
...but on the second attempt I can't close this alert again 😞
<img width="580" alt="screenshot 2019-02-26 at 17 22 45" src="https://user-images.githubusercontent.com/13407092/53419855-a895d400-39eb-11e9-826f-90bd75562c25.png">

[2019-02-26 14:28] timqzm commented on #7828
but on the second attempt I can't close this alert again 😞
<img width="580" alt="screenshot 2019-02-26 at 17 22 45" src="https://user-images.githubusercontent.com/13407092/53419955-e561cb00-39eb-11e9-94f6-3e3a75d0686f.png">

[2019-02-26 18:09] #7817 closed, assigned to jeffkl

[2019-02-26 18:12] #7773 closed, assigned to nobody

[2019-02-26 18:29] nkolev92 commented on #7826
The version and id are the unique identifiers of a package. Not specifying the version will break all NuGet locking and caching mechanisms.

There's a couple of issues with that. Since we established that you need a version, the problem is the following:

* The version metadata is really a version range. A range pointing to a specific package is confusing.
* What happens with the package dependenc

[2019-02-26 18:45] JeffCyr commented on #7826
All good points, thanks for the detailed answer. I'll close the issue.

[2019-02-26 18:45] #7826 closed, assigned to nobody

[2019-02-26 20:16] lidong6 opened #7833 "The "GenerateLockedPackageReferencesFile" task was not given a value for the required parameter ProjectAssetsFile"
I am following this page to have central Packages.props to control versions: https://github.com/NuGet/Home/wiki/Centrally-managing-NuGet-packages-and-versions

but got this error:
Severity	Code	Description	Project	File	Line	Suppression State
Error		The "GenerateLockedPackageReferencesFile" task was not given a value for the required parameter "ProjectAssetsFile".	RndsInDataLakeCode	C:\Users\lidonz

[2019-02-26 23:06] rrelyea commented on #7821
Just did some more polish, including reordering:
![image](https://user-images.githubusercontent.com/8865080/53453087-159f6e80-39d8-11e9-87cb-130e0af91dad.png)

[2019-02-27 00:34] nkolev92 commented on #7833
@lidong6

That was just an initial spec. It's not implemented.

The issue to track it's implementation is https://github.com/NuGet/Home/issues/6764.

[2019-02-27 00:34] #7833 closed, assigned to nobody

[2019-02-27 06:27] adamralph commented on #7723
FWIW, I believe #1630 is a better solution.

[2019-02-27 07:10] vadivel1234 commented on #7425
Was this fix merged in latest NuGet release?

[2019-02-27 07:11] vadivel1234 commented on #7268
@jokokko @nkolev92  @jainaashish  Was this fix included in latest NuGet release?

[2019-02-27 12:27] AndreyAkinshin commented on #7304
@jainaashish still waiting for a response from you. How much community feedback do you need to accept a contribution?

[2019-02-27 17:56] cijothomas commented on #6892
@gckeller-ps Microsoft.ApplicationInsights.AzureWebSites is not meant to enable monitoring from visual studio. Its a site extension for Azure App Service, and has no value installing from visual studio.

To enable application insights from Visual Studio, please install Microsoft.ApplicationInsights.Web - this is the right package.

[2019-02-27 18:29] nkolev92 commented on #7268
It's in 5.0 (VS 2019 equivalent) which is still in preview.

[2019-02-27 19:23] jainaashish commented on #7304
I'm not the right person to answer that question. @rrelyea @anangaur might be able to throw some light there. But just a note about the original issue, there hasn't been any other complaint after yours and neither there has been any activity on the issue# https://github.com/NuGet/Home/issues/5643

[2019-02-27 19:37] vsfeedback opened #7834 "NuGet connect timeout is too long if an invalid proxy is specified"
VSF_TYPE_MARKDOWN1. Edit `%AppData%\NuGet\NuGet.config` and insert the following:

[code]

2. In Visual Studio, load a solution, right-click a project and choose &quot;Manage NuGet packages...&quot;
3. Select either the &quot;Browse&quot; or &quot;Updates&quot; tab and notice the &quot;Loading&quot; spinner. Wait approximately 5 minutes and:
* In VS2019, the spinner is replaced with an &quot;Error

[2019-02-27 19:42] SeanFarrow opened #7835 "NuGet command client does not remove old executables when updating"
Whilst updating NuGet.exe (the commandline client) I noticed that it didn't remove the old version.

Would this be desirable behaviour? To my thinking it makes sense to remove a previous version assuming the new version has been extracted from the package successfully.

I'm happy to take this on, if it is a wanted change, but would ask what tests would be required, if any.

[2019-02-27 20:52] gckeller-ps commented on #6892
@cijothomas This is not accurate.  Microsoft.ApplicationInsights.Web is for .NET Framework 4.5: https://www.nuget.org/packages/Microsoft.ApplicationInsights.Web
The extension you are referring to is for profiling which we are not using for profiling as .NET can only have 1 profiler and we are using New Relic for profiling: https://docs.newrelic.com/docs/agents/net-agent/azure-troubleshooting/net-p

[2019-02-27 21:14] gckeller-ps commented on #6892
Thanks for you feedback @cijothomas  Sorry, I responded previously believing this was an internal comment.  I actually really dug into this one and found the problem last week.  I was not looking to do VS in app insights.  This package is actually screwed up.  I used the process monitors to identifying the problematic files and observing the file system activity.  They were numerous.  If you open

[2019-02-27 21:23] gckeller-ps commented on #6892
This ticket should also be re-opened now that I've identified the problem.  It is a problem with the package and not Nuget and that it actually precludes the use of App Insights if you're deploying .NET Core to Linux.

[2019-02-27 21:37] cijothomas commented on #6892
@gckeller-ps For .net core, we have a package Microsoft.ApplicationInsights.AspNetCore which can be installed via nuget from visual studio and enable application insights in code. This should allow usage of application insights in linux.
Microsoft.ApplicationInsights.AzureWebSites is not going to be supported in future.

[2019-02-27 21:42] gckeller-ps commented on #6892
That is correct; however, once deployed it throws an exception on startup that requires a class in Microsoft.ApplicationInsights.AzureWebSites.  It has to do with the .NET Core bootstrapping of the Microsoft.ApplicationInsights.AspNetCore library.  This problem also occurs on windows, but I can confirm that it can be resolved by installing the site extension.  It cannot be resolved on Linux becaus

[2019-02-27 21:46] cijothomas commented on #6892
@gckeller-ps https://github.com/Microsoft/ApplicationInsights-aspnetcore/issues - Pleaese an issue in this repo with the issue you are having with linux+ .net core. We can definitely investigate more there.

[2019-02-28 01:21] rrelyea commented on #7835
can you explain exact repro steps that you are doing (with paths, etc...) so we can fully discuss this idea with you?

[2019-02-28 01:23] rrelyea commented on #7832
@madelson  - i'm assuming that the VS version is 15.9.x, right? Not 15.6.4 as you say?

[2019-02-28 01:26] rrelyea commented on #7831
Directory.build.props is imported into all files.
Yes, you'll have to own conditioning it out. (perhaps on TargetFramework?)
[code]

[2019-02-28 01:28] rrelyea commented on #7830
No repro. We suspect this is a PackageREference scenario where you diddn't ask the project file to be saved when asked...
??

[2019-02-28 02:34] SeanFarrow commented on #7835
To reproduce this, do the following:

Downgrade to an earlier version of NuGet.exe, I have version 3.3.0.212 here.
Ensure that you are either in the directory in which the NuGet.Exe file is present, or that this directory is in your path. My NuGet.exe file resides in c:\program files\NuGet.
Open a command prompt with administrator privileges.
Now run NuGet update -self.
You will notice that there

[2019-02-28 11:23] balpreet-boden commented on #6140
@JerrySantana92 @nirajvbhatt @davidsk
If you are using private nuget repository:
**Can you please specify IP address for private nuget repository host and then try again**? I had same issue and it is working with IP address.

It works in both cases nuget config file or specifying both nuget sources as command line parameter.

[2019-02-28 11:32] 4c74356b41 commented on #7341
I can confirm we are seeing this randomly on ADO hosted agents (ubuntu 16.04). I can provide information if needed.

[2019-02-28 11:50] madelson commented on #7832
@rrelyea no in this case I was using 15.6.4. Do you expect this to be fixed in 15.9?

[2019-02-28 11:51] airbreather commented on #6434
I'm getting the same error.  Our .nuspec file is [here](https://github.com/NetTopologySuite/NetTopologySuite/blob/258b8b3c4cd20d7c8cb60d32dc03361aaa87431e/NTS.Core.nuspec).  The package itself builds properly, and our CI (which pushes to MyGet.org) had [no problems whatsoever](https://myget.org/feed/nettopologysuite/package/nuget/NetTopologySuite.Core/1.15.2-pre017)* getting it there.  nuget.org a

[2019-02-28 13:47] zivkan commented on #7835
NuGet.exe does try to [delete the old file](https://github.com/NuGet/NuGet.Client/blob/3472b01df9577554c536791fc0d848c70a763e4c/src/NuGet.Clients/NuGet.CommandLine/Program.cs#L264-L278). If it fails, it silently continues. Maybe we should write out a warning message, rather than failing silently.

My guess is that your user account has permissions to create and modify files in `c:\program files\nu

[2019-02-28 13:51] Dietatko commented on #6376
How can I specify "highest minor version but at least 1.2.3"?
"[1.*, 2)" would pick also version 1.1. But that does not include feature introduced in 1.2.
"[1.2.*, 2)" will not pick version 1.3.

[2019-02-28 14:07] zivkan commented on #7835
Actually, what's happening is that during the update, the old nuget.exe renames itself to `nuget.exe.old`, and then downloads the new version to `nuget.exe`. But the old nuget.exe (now nuget.exe.old) can't delete itself because Windows doesn't allow deleting files that are in use, and since it's running, it's in use. However, the first time you run the new nuget.exe, the old one will be deleted.

[2019-02-28 14:28] mthalman opened #7836 "Unable to overwrite dgspec.json file in Docker scenario"
A regression has been encountered that occurred between .NET Core SDK versions 3.0.100-preview-010184 and 3.0.100-preview3-010366 that causes a new file that was introduced, *.csproj.nuget.dgspec.json, to be unable to be overwritten during a build of a Docker image in certain circumstances.

The environment in which this issue occurs is a Docker image based on NanoServer-1709, NanoServer-1803, or

[2019-02-28 14:33] nicolasvan opened #7837 ""A task was canceled" errors when restoring packages from a private feed and nuget.org using xplat authentication plugin"
## Details about Problem

* Nuget.exe (4.8.1, 4.9.2, 4.9.3)
* https://github.com/Microsoft/artifacts-credprovider/ (v0.1.12 configured by setting the `VSS_NUGET_EXTERNAL_FEED_ENDPOINTS` environment variable as per https://github.com/Microsoft/artifacts-credprovider#environment-variables)
* Windows 10 1809, Windows Server 2019

When doing a `nuget.exe restore` against a solution using `packages.con

[2019-02-28 15:59] blair-ensinger opened #7838 "Looking for an alternative to supplying "plain text password data" in the commandline argument -Password for nuget.exe (SSO?)"
Our company Security Policy forbids use of clear text credentials in stored procedures/batch jobs/etc. and several of our developers use scheduled tasks to operate nuget.exe for the "source" command line directive. Is there anyway to authenticate to "artifactory" without supplying the clear text password? Thanks

[2019-02-28 16:02] blair-ensinger commented on #7838
Sorry for the goof up.  Company Security Policy forbids use of clear text credentials and several developers use scheduled tasks to operate nuget.exe for the "source" command line directive.  Is there anyway to authenticate to "artifactory" without supplying the clear text password?  Thanks

[2019-02-28 16:21] SeanFarrow commented on #7835
I wonder whether we should add a delay/retry to the delete function before doing the process dance?

From: Andy Zivkovic <notifications@github.com>
Sent: 28 February 2019 14:08
To: NuGet/Home <Home@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Author <author@noreply.github.com>
Subject: Re: [NuGet/Home] NuGet command client does not remove old executables when updating (#7835

[2019-02-28 16:53] djagd commented on #6650
[RestoreError.zip](https://github.com/NuGet/Home/files/2915760/RestoreError.zip)

Here is a repo.
In this instance the issue caused by missing
ProjectGuid.Configuration|Platform.Build.0 section.

The section is missing after changing the project settings (see .csproj file) and reloading the solution.
The solution was changed automatically by VS 2017.15.9.3

[2019-02-28 17:15] zivkan commented on #7835
To be clear, when you run `nuget update -self`, it makes no attempt to clean up after itself. It can't, because on Windows, a process can never delete its own executable. It's the next execution (of the new executable) that cleans up the `.old` file. Therefore, if the `.old` file bothers you, you should run the new `nuget.exe`. The parameters don't matter. You could run `nuget update -self` again,

[2019-02-28 18:03] livarcocc opened #7839 "dotnet restore does not use NuGetDefaults.Config on Linux"
_From @kpstolk on February 28, 2019 17:52_

According to the [NuGet documentation](https://docs.microsoft.com/en-us/nuget/consume-packages/configuring-nuget-behavior#nuget-defaults-file) it is possible to store a `NuGetDefaults.Config` file in `~/.local/share` or `/usr/local/share` to configure global settings.

We currently use a Windows machine and using this file (on `%ProgramFiles(x86)%\NuGet\

[2019-02-28 18:03] livarcocc commented on #7839
_From @kpstolk on February 28, 2019 17:56_

[This issue](https://github.com/dotnet/docs/issues/6496) seems related regarding the (lack of) documentation of `dotnet restore`.

[2019-02-28 18:41] rrelyea commented on #7837
This appears to happen with a combination of NuGet 4.8+ and the new azure artifacts credential provider.
The two teams are digging into the issue. /cc @dtivel @alexmullans

[2019-02-28 18:44] rrelyea commented on #7838
Can you ask artifactory?
There are options that NuGet provides (credential providers to work in conjunction with nuget.exe and the server auth) -- but I'm unsure what artifactory has taken advantage of.

[2019-02-28 18:51] octocat-mona commented on #7839
@livarcocc It is a NuGet issue, not related to how `dotnet` uses / integrates with NuGet?

[2019-02-28 18:55] livarcocc commented on #7839
even if it is about dotnet, the code for NuGet inside dotnet is also owned by NuGet, which is why I moved the issue here.

[2019-02-28 19:06] octocat-mona commented on #7839
@livarcocc I was wondering already how dotnet embeds NuGet and with what version etc, is that documented somewhere?

[2019-02-28 19:10] nkolev92 commented on #6434
I have created an issue on Gallery side. Please follow that for further updates on the nuget.org issue https://github.com/NuGet/NuGetGallery/issues/6950.

*Edit*

See https://github.com/NuGet/Home/issues/6434#issuecomment-468400484.

Follow NuGet/NuGetGallery#6948 instead.

[2019-02-28 19:15] airbreather commented on #6434
Heh, I'd reported it too shortly after my comment... NuGet/NuGetGallery#6948

[2019-02-28 19:27] bording commented on #6434
I still think that NuGet's behavior here is wrong, and we shouldn't have to resort to the sort of tricks that aren't working on the Gallery to try and work around NuGet's broken behavior.

[2019-02-28 19:39] nkolev92 commented on #6434
I'll refer to @emgarten's investigation. https://github.com/NuGet/Home/issues/6434#issuecomment-358782297.
Changing this in any manner will have so many ripple effects.

Is it intuitive? No.
But this is how it always worked.

[2019-02-28 19:45] 304NotModified commented on #6434
This isn't very constructive....

[2019-02-28 19:47] rrelyea commented on #7839
nuget release notes (at least current ones) are starting to show which version of .net core sdk has that version in it.
See [NuGet 4.9 release notes](https://docs.microsoft.com/en-us/nuget/release-notes/nuget-4.9-rtm) for example.

But the way that will always work is to go into the specific sdk version and look at nuget.*.dll files for version info.
powershell is a good way to do this: [link to s

[2019-02-28 20:04] octocat-mona commented on #7839
Thanks @rrelyea , that clarifies a lot!
So this bug (if it appears to be a bug at least) is in in the latest recommended NuGet version 4.9.3.

I just noticed that `dotnet nuget` also shows the NuGet version, didn't notice that command before.

[2019-02-28 20:17] airbreather commented on #6434
I agree + disagree... IMO the defect is in the requirements, rather than the design or implementation, which I'm guessing why we're seeing responses that indicate that this is all working as intended.

We have a need to be able to specify "this dependency can only be satisfied by a version of that package whose major version is less than X", because according to SemVer, a major version could come

[2019-02-28 20:19] ericstj commented on #7812
@rrelyea can you help route this one?  It's preventing devs from using using our azure dev ops internal feeds.

[2019-02-28 20:40] nkolev92 commented on #7194
@ilyakharlamov `11.2.0.3.0` is not a valid
 version string. It's a 5 part.
@tzographos `1.3.4-20180903_3-build53` is not a valid version string as `_` is an invalid character https://semver.org/#spec-item-9
[0-9A-Za-z-].

I don't think there is a client bug here.

Unless you have a counter example for me, I'll close this soon.

[2019-02-28 21:09] rrelyea commented on #7175
@nkolev92  -Link to PR / Commit?
(or should we mark with closed* label?)

[2019-02-28 21:10] rrelyea commented on #6816
@nkolev92  - pointer to PR / Commits?

[2019-02-28 21:48] nkolev92 commented on #7175
There were at least 3 or 4 PRs.

I'll try to link some.

[2019-02-28 21:52] nkolev92 commented on #6816
https://github.com/NuGet/NuGet.Client/pull/2674
https://github.com/NuGet/NuGet.Client/pull/2681

[2019-02-28 21:52] nkolev92 commented on #7175
https://github.com/NuGet/NuGet.Client/pull/2565
https://github.com/NuGet/NuGet.Client/pull/2563
https://github.com/NuGet/NuGet.Client/pull/2580

[2019-02-28 22:00] jeffkl opened #7840 "Make project reference lower case in lock file"
The casing for project names in lock files can change because the value comes from one of two sources:
1. A solution file
2. A project reference

If two project references have different casing, the list is de-duped but in a multi-proc build the order can be different.

The casing in the lock file should probably be `.ToLowerInvariant()`

[code]

This should help ensure that the lock file is the s

[2019-02-28 23:33] #7523 closed, assigned to nobody

[2019-02-28 23:34] zivkan commented on #7523
This will get released with version 5.1. Thank you for your contribution.

[2019-03-01 00:58] rrelyea commented on #7840
Let's fix for 5.1.
Depending on the risk, we may also merge into 5.0.

[2019-03-01 01:40] SeanFarrow commented on #7835
That workaround makes sense, feel free to close this.

From: Andy Zivkovic <notifications@github.com>
Sent: 28 February 2019 17:16
To: NuGet/Home <Home@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Author <author@noreply.github.com>
Subject: Re: [NuGet/Home] NuGet command client does not remove old executables when updating (#7835)

To be clear, when you run nuget update -sel

[2019-03-01 02:36] NickCraver commented on #3116
Is this behavior going to change in 5.0? We're still hitting it several times a month. While cleaning out build servers due to race conditions is super fun, but I'd rather spend my time on things that matter.

Please stop caching 404s. No sane platform does this. And they certainly don't do it indefinitely.

[2019-03-01 02:47] kilasuit commented on #3116
The last time an iteraction with this from the team was https://github.com/NuGet/Home/issues/3116#event-1364654236 - which happens to have been November 2017

This is pretty bad in managing this as an incident report and whilst this does not currently affect me, I can sympathise with the others on this thread that it does affect.

This effect is undesirable at best and therefore should be prioriti

[2019-03-01 03:30] npickett commented on #7741
Other version is working also. Upgrade to VS 15.9.7 resolved issue.

[2019-03-01 03:30] #7741 closed, assigned to nobody

[2019-03-01 04:54] jeffkl commented on #7840
This is definitely not urgent as the workaround is to unify the casing of project names between all Visual Studio solution files and `<ProjectReference />` items in the project tree.

[2019-03-01 10:34] WernerMairl opened #7841 "Please confirm AUTH behavior findings (and add them to documentation)"
Hi
i'm working on a token based Authentication for a NuGet Server (BaGet)
I know all the concepts of CredentialProviders and i have up and running VS+Debugger for Nuget.exe and "artifacts-credprovider" (the Azure Artifact Credential Provider)

Basically Nuget Authentication is implemented [here](https://github.com/NuGet/NuGet.Client/blob/16fdc2238f3659daeedcfe55abfd9d8343fbcb2c/src/NuGet.Core/NuGe

[2019-03-01 11:02] Kryptos-FR commented on #3116
Why hasn't this been fixed already?
I don't see any technical difficulties and it is driving people crazy.
Our project (Xenko) relies on nuget and I'm pretty sure we hit that exact issue all the time.

[2019-03-01 13:41] rrelyea commented on #3116
Appreciate the feedback. Will try to get this fixed early in 5.x

[2019-03-01 16:12] livarcocc opened #7842 "dotnet restore failing with TaskCanceledException"
_From @ColinM9991 on March 1, 2019 13:9_

## Steps to reproduce

N/A
This issue is intermittent, however when it happens it then lingers for some time.

## Description

We are using the dotnet CLI to restore packages for an ASP.NET Core application targeting .NET Core in our TeamCity build process, and are intermittently having failed builds where the restore task fails as soon as it picks up the

[2019-03-01 16:12] livarcocc commented on #7842
Moving to NuGet for them to take a first look at it.

[2019-03-01 17:42] ericstj opened #7843 "GeneratePathProperty=true fails to generate property on case mismatch"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): dotnet.exe

NuGet version (x.x.x.xxx): 5.0.0.1

dotnet.exe --version (if appropriate): 3.0.100-preview-010142

VS version (if appropriate): n/a

OS version (i.e. win10 v1607 (14393.321)): win10 v1809 (17763.195)

Worked before? If so, with which NuGet version: no

## Detailed repro steps so we

[2019-03-01 18:28] amybingzhao opened #7844 "Specify NuGet version for GeneratePackageOnBuild"
Enhancement request: For projects using the new csproj format w/ PackageReferences that have GeneratePackageOnBuild=true, add the ability to specify which version of the NuGet.exe should be used

[2019-03-01 21:33] shubham90 opened #7845 "Plugins cache not discoverable intermittently on linux platforms"
Remove the content above here and fill out details below.

## Details about Problem
Dotnet restore is failing intermittently with the following error:

Error from cmd is: "/usr/share/dotnet/sdk/2.1.504/NuGet.targets(114,5): error : Could not find a part of the path '/root/.local/share/NuGet/plugins-cache/7a7ff1b21f69ab23c9f21123251bb7e17eb0433c$CredentialProvider.Microsoft.dll/https:_api.nuget.org

[2019-03-01 21:33] shubham90 commented on #7845
@nkolev92 @alexmullans This is a blocking bug for cred provider to go in dotnet docker images. This issue is intermittent but it reduces the reliability of the docker images.

[2019-03-01 22:56] rido-min commented on #6861
/c @dtivel  @rrelyea

[2019-03-01 23:27] joelverhagen opened #7846 "Some unit tests are broken after NuGet.Client PR #2569"
PR: https://github.com/NuGet/NuGet.Client/pull/2569/files

Failures:

  - [x] PackageMetadataResource_Basic
[code]
  - [x] PackageMetadataResource_UsesReferenceCache
[code]

This is affecting units tests on Linux, Mac, and Windows.

[2019-03-01 23:39] joelverhagen opened #7847 ""Dependencies" overlaps "Tags" in PM UI on dev16 (VS 2019)"
dev16:

![image](https://user-images.githubusercontent.com/94054/53672652-4ed61980-3c38-11e9-8483-f62fb91c2369.png)

dev15:

![image](https://user-images.githubusercontent.com/94054/53672566-f9017180-3c37-11e9-859f-506b1a34abb1.png)

# Repro:

Feed: https://dotnet.myget.org/F/nuget-build/api/v2
Package: CopyAzureContainer

# Client info:

VS 16.0.0 Preview 4.0 (dogfood) - 28627.160.d16.0
NuGet Ver

[2019-03-02 00:49] zivkan commented on #7809
Yes, this is a duplicate of #7657

[2019-03-02 00:49] #7809 closed, assigned to zivkan

[2019-03-02 04:31] chadwixk opened #7848 "packages.config could not be found after PackageReference migration"
## Details about Problem
This is with regards to migrating an existing ASP.NET solution. I did this migration on all the library projects in the solution.

Followed [this guide](https://docs.microsoft.com/en-us/nuget/reference/migrate-packages-config-to-package-reference) on migrating from packages.config to PackageReference. Now getting many build errors in Visual Studio:

`Could not locate C:\<m