[2017-09-23 15:23] dozer75 opened #5927 "Projects with multiple TFM throws exception on restore in Visual Studio 15.3.4"
## Details about Problem

When building in Visual studio the error shown under verbose logs are dumped in output, and no packages are updated. It looks similar to #5645 and I commented on this with the reply to create a new issue.

NuGet product used: Visual Studio

NuGet version: 4.3.0 (as stated in About Visual Studio)

dotnet version: 2.0.0

VS version: 15.3.4

OS version (i.e. win10 v1607 (143

[2017-09-23 15:23] dozer75 commented on #5645
@emgarten Done! As linked above.

[2017-09-23 15:44] lennoncork commented on #5742
@emgarten do you think this is worth reporting against MSBuild? Is it a NuGet issue or something related to Visual Studio?

[2017-09-23 16:02] dasMulli commented on #5742
Setting `BaseIntermediateOutputPath` inside a project isn't safe and there even is an sdk issue about making it an error: https://github.com/dotnet/sdk/issues/803
You can find a few workarounds at https://github.com/dotnet/sdk/issues/1518 and some more explanations on https://stackoverflow.com/questions/45575280/msbuild-nuget-restoreoutputpath-how-to-make-it-work/45589468#45589468
However, none of

[2017-09-23 17:39] pfaucon commented on #5914
Interesting, I'm not sure where I picked up the old binary then, particularly since this mac was only set up a few weeks ago.

I'm not totally convinced though, my chrome history shows that I reached a page "Thank you for downloading Visual Studio for Mac" 3 minutes before the filesystem shows those links appearing (11 days ago).  My assumption is that VS for Mac install mono (of which I am confid

[2017-09-23 17:58] mlorbetske opened #5928 "Referencing SQL Database Project from Azure Function in the same solution"
This originally came in as an e-mail on the Azure Functions discussion distribution group.

Hi all, I am trying to refactor an existing data-mining Azure solution we have from using a Classic Cloud Service to using an Azure Function. When I add the Azure Function, I can add a reference to all other projects in the solution except for the SQL Database Project. In which case, I get the exception: “U

[2017-09-23 18:23] mrward commented on #5914
Mono 5.4 is not currently stable so I would expect the VS for Mac installer to install Mono 5.2 which I believe ships NuGet 2.12.

[2017-09-23 20:11] emgarten commented on #5914
Thanks for info @mrward, that helps!

[2017-09-24 01:44] sanny-io commented on #4071
This is pretty important. It's expected that the selection of usable packages goes down when using something like .NET Core, but the fact that the small pile of things that work is lumped together with the massive pile of things that don't work is ridiculous.

[2017-09-25 06:58] waldo2188 commented on #5923
Ok, I close this issue

[2017-09-25 06:58] #5923 closed, assigned to nobody

[2017-09-25 07:20] xavierdecoster commented on #5917
@onovotny what you're saying has the side-effect of requiring compute at restore time, which is very costly and a performance hit (not to mention another dependency that may break restores, or reduce combined SLA of the infrastructure this runs on). A technical solution that avoids compute at restore time (e.g. pre-calculating at publish time, or at edit-package time), has impact on the time requi

[2017-09-25 07:24] tomkerkhove commented on #5917
I agree with @xavierdecoster here. Certainly on this:

If a package is transfered, the owner of the old packages is still the previous owner, not you. All new packages however, will have a new owner instead.

[2017-09-25 07:24] Waynext opened #5929 "Windows runtime component is not compatible with uap10.0"
## Details about Problem
After adding a Runtime Component into Xamarin.forms solution and reference it from UWP project, I can not install package anymore in UWP project. It says
"_Project RuntimeComponent1 is not compatible with uap10.0 (UAP,Version=v10.0). Project RuntimeComponent1 supports: uap10.0.10586 (UAP,Version=v10.0.10586)
One or more projects are incompatible with UAP,Version=v10.0.
Pro

[2017-09-25 07:44] isaacabraham commented on #5602
@anangaur Sorry, didn't explain myself very well :-) What happens in the following situation: -

1. You "turn on" repeatable builds in NuGet.config (mechanism still TBD).
2. Your team start using NuGet, lock file is generated etc.
3. Someone removes the flag in the NuGet.config.

What happens to the lock file? Does it still get used or is it discarded and deleted?

[2017-09-25 09:42] verysimplenick commented on #5039
This is not fixed in 2.0.2 and vs 15.3:
[code]
Works on build one project, but if I build solution with references it's failing.

[code]

If in `.Core` project I comment this line:

[code]

Everything builds fine, but I don't have `dotnet ef` command :(

Maybe linked with another bug in telemetry [off]
[code]

[2017-09-25 09:50] pavele commented on #5910
@jainaashish Thank you for the information, I've read this posting here and than you for your help, we'll handle this.
I agree that the concept of Content Files can explained better. The problem that I see is that there is no explanation about what happens with the files and the fact that these are supposed to be stored in the global packages folder.  Especially this sentence "_Configuration files

[2017-09-25 09:57] kvermeer opened #5930 "The underlying connection was closed: An unexpected error occurred on a receive"
We are setting up a new development server, but nuget has issues in visual studio 2012. It's not able to receive any packages.
We get the error: "The underlying connection was closed: An unexpected error occurred on a receive"

Any idea how to resolve this?
The server has internet connectivity

![image](https://user-images.githubusercontent.com/6012560/30801377-5b1b486e-a1e3-11e7-88f1-718111353162

[2017-09-25 10:50] akamyshanov commented on #5887
@EamonNerbonne Everything you're saying is correct, however security updates are just an example. It's not the reason I'd like to focus on but the choice.

Yes, of course, smooth workflows are cool :)

Absolutely not, I do not want anyone forcing anybody their workflows, that's the point. As stated earlier, this can be an optional switch that enables separate tabs in the UI.

Not arguing that it's

[2017-09-25 11:39] clairernovotny commented on #5917
@xavierdecoster @tomkerkhove All good points, I was just pointing out a potential way to handle this in the package signing world, if the behavior is so desirable.

[2017-09-25 14:34] The-Futurist opened #5931 "A design weakness - Visual Studio"
No idea if this is the correct area to post this, but here goes.

NuGet has numerous design flaws and I've ranted about these before, well another one has come to my attention and I wanted to see what the prospects are for addressing it.

When I add a NuGet package to a project in a solution the tools insert a `<HintPath>` into the project's project file that points to the target assembly. That `<

[2017-09-25 15:34] twsouthwick opened #5932 "NuGet Package Manager ignores source argument"
## Details about Problem

Package Manager Console (VS 2017 15.3)

NuGet PS Module v2.0.0.0
NuGet Extension 4.3.1

## Detailed repro steps so we can see the same problem

We have a CI build for our project located here: https://dotnet.myget.org/feed/open-xml-sdk/package/nuget/DocumentFormat.OpenXml. When I try the command it says to install in the Package Manager, I get an error:

[code]

[2017-09-25 16:08] lennoncork commented on #5742
@dasMulli thanks you very much for the information.

I think for now we're going to drop the unified build output and stick with default. It's a shame because it works for the most part, just doesn't restore appropriately. Referencing another issue for anyone else coming across this: dotnet/sdk#867.

[2017-09-25 17:17] #5911 closed, assigned to nkolev92

[2017-09-25 17:19] nkolev92 commented on #5932
@twsouthwick What's your restore project style?
Package Reference or Packages.Config ?

[2017-09-25 17:59] emgarten commented on #5039
@verysimplenick I think you are hitting other issues here. The original problem is that tools in projects not directly being restored were skipped. If any at point the tool has been restored and it exists in `%UserProfile%/.nuget/packages/.tools` then it should work and may not be a restore issue.

Would you open a new issue to track this and include a simple solution that repros this? It can be e

[2017-09-25 18:20] WardenGnaw opened #5933 "nuget.exe should find the config file path based on the original working directory"
## Details about Problem
Updating to a newer version on NuGet.exe breaks building solution. Errors show that it is looking for nuget.config in project folders when there already is a nuget.config at the solution level.

Targets _IsProjectRestoreSupported and _GenerateRestoreProjectPathWalk seem to be needed.

Command: NuGet.exe restore -ConfigFile src\.nuget\nuget.config -PackagesDirectory package

[2017-09-25 19:19] mishra14 commented on #5907
The spec is currently in review and it is available [here](https://github.com/NuGet/Home/wiki/NuGet-Sign-Command).

Update: I have updated the link to the public spec.

[2017-09-25 19:56] forki commented on #5907
404

[2017-09-25 20:21] mishra14 commented on #5907
@forki please check the link now. You should be able to access it.

[2017-09-25 21:15] emgarten commented on #5933
@WardenGnaw did this work in 4.3.0?

Is the problem that the config file is skipped, or that the error above is shown?

Would you also provide a repro solution either as a zip or a github repro where I can try this out?

This sounds like it could be blocking for 4.4.0.

[2017-09-25 21:28] emgarten commented on #5933
@WardenGnaw confirmed that this is not a regression from 4.3.0.

Lowering the priority

[2017-09-25 21:35] rrelyea commented on #5909
Duplicate of https://github.com/NuGet/Home/issues/1851 - we continue to work with corefx team offline to get the needed cross platform support for this.

[2017-09-25 21:35] #5909 closed, assigned to nobody

[2017-09-25 21:41] rrelyea commented on #5915
Yes, we aren't planning more work here. Using a ProjectReference with Condition="'$(ExcludeRestorePackageImports)' != 'true'" is probably the most elegant way to make project reference be ignored by NuGet restore.

[2017-09-25 21:41] #5915 closed, assigned to rohit21agrawal

[2017-09-25 21:47] anangaur opened #5934 "Enable locking of package dependencies and their versions (version range) at a solution/repo/global level"
More details coming soon..

Related features:
* Enable repeatable builds for PackageReference based projects #5602
* Allow users to determine package resolution strategy during package restore - direct or transitive #5553

[2017-09-25 22:29] mistakenot opened #5935 "GetMetadataAsync() throws "'0.0.0-~3' is not a valid version string""
Retrieving Metadata for particular packages, in this case "MassTransit.RavenDbIntegration", causes the .NET client to throw an exception when enumerating the results:

System.ArgumentException occurred
  HResult=-2147024809
  Message='0.0.0-~3' is not a valid version string.
  Source=NuGet.Versioning
  StackTrace:
       at NuGet.Versioning.VersionRange.Parse(String value, Boolean allowFloating)

[2017-09-25 23:28] nkolev92 commented on #4051
I think the logging concern has been addressed by the error and warnings work by @emgarten.

This is available in 4.3 nuget / 15.3 VS and later versions.

In your scenario you'd have an error code like the following: https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings#nu1201

[code]

There's also this related story that would eventually lead to users seeing only applicable package

[2017-09-25 23:28] #4051 closed, assigned to nobody

[2017-09-25 23:29] abpiskunov opened #5936 "Exception "Empty path name is not legal" when calling IVsPackageInstaller.InstallPackage on old projects and packages folder does not exist."
## Details about Problem

See TFS BUG 441552 for repro project.

- What is happening there is that when we try to install package, nuget logic tries to check if it is installed already and gets it from packages.config.
- After that it assumes that path solution\packages\package exist and tries to uninstall package.
- But when packages folder does not exist, that path does not exist too , but no on

[2017-09-25 23:40] JonDouglas commented on #4051
Perfect, thanks for following up!

[2017-09-26 00:33] mishra14 opened #5937 "Default Package Icons do not scale well at high resolution/DPI"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI

NuGet version (x.x.x.xxx): 4.4.4475

VS version (if appropriate): 15.4 Preview 3 | 26923.0.d15rel

## Detailed repro steps so we can see the same problem

1. Change the resolution to 1560 x 1440 or greater.

2. Change the scaling to 175%.

3. Launch VS and create new project.

4. Launch

[2017-09-26 00:39] mishra14 opened #5938 "Status message for "Clear All NuGet Cache(s)" can be hidden on window resize"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI

NuGet version (x.x.x.xxx): 4.4.4475

VS version (if appropriate): 15.4 Preview 3 | 26923.0.d15rel

## Detailed repro steps so we can see the same problem

1. In VS, Open Tools -> Options -> NuGet Package Manager -> General -> Clear All NuGet Cache(s)

2. Reduce the size of the window, so

[2017-09-26 00:45] mishra14 opened #5939 "Install/Uninstall operations from PMC do not refresh PM UI for legacy project system"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI and PMC

NuGet version (x.x.x.xxx): 4.4.4475

VS version (if appropriate): 15.4 Preview 3 | 26923.0.d15rel

## Detailed repro steps so we can see the same problem

1. Create new classic desktop console application.

2. Launch PM UI and PMC

3. In PMC type `install-package newtonsoft.json`

[2017-09-26 05:38] emgarten commented on #5935
The work to remove invalid version ranges from the nuget.org v3 feed is here: https://github.com/NuGet/NuGetGallery/issues/3482

[2017-09-26 06:14] jmecosta commented on #5909
@rrelyea hum, i tried again and it only fails if a protected feed is enabled in nuget.config. For some reason earlier it was failing also if i had 3 feeds with the package only present in one of the feeds. But seems its working now in this case. So the story to support protected feeds should cover this case. thanks for the clarification

[2017-09-26 06:29] pedershk commented on #5267
Still hitting this issue with certain packages when running on Ubuntu 16.04 with dotnet-sdk-2.0.0. So doesn't seem like the problem is entirely fixed..

[2017-09-26 06:48] atifaziz commented on #3530
I can confirm the same using NuGet 4.3.0.4406. Fortunately, the `<version>` element in the symbols package does have the suffix so the workaround is just to rename the symbols file and add the suffix manually.

Considering tomorrow is this issue's first anniversary, it would be nice to get an ETA as a gift. 😄

[2017-09-26 07:06] atifaziz commented on #3530
Another workaround is to use a replacement token, like so:

[code]

And then instead of using `-Suffix`, use `-Properties VersionSuffix=-beta1`.

[2017-09-26 09:22] liushuanggang opened #5940 "Get error MSB4057: The target "_IsProjectRestoreSupported" does not exist in the project." when using nuget.exe v4.3.0 to restore the package for the WiX Toolset project"
## Details about Problem

if I update nuget.exe to v4.3.0, then I use this nuget.exe to restore the package for the WiX Toolset project(not reference other project), I would get the error "error MSB4057: The target "_IsProjectRestoreSupported" does not exist in the project." Is that expected? I can restore it successfully on the NuGet v4.1.0.

NuGet product used (NuGet.exe | VS UI | Package Manage

[2017-09-26 13:05] reinaldoarrosi commented on #4779
I agree with @KallDrexx, it makes no sense to have to run `dotnet restore` prior to `dotnet pack` just to make the nuget package point to right versions.

Since all references are ProjectReferences they should respect the Version that is defined in .csproj, just like ProjectReferences can immediatelly "respect" code changes in referenced projects.

[2017-09-26 13:57] verysimplenick opened #5941 "dotnet restore fails restore DotNetCliToolReference items across P2Ps at some Drive Letters"
Hi, this issue related with #5039

## Details about Problem
nugget.target can't restore packages with message:
[code]
But same code can be builded then placed in system drive or drive `E`.

![default](https://user-images.githubusercontent.com/922660/30863548-fe3a7834-a2d9-11e7-828a-bd1b74b77b87.png)

[code]

## Detailed repro steps so we can see the same problem

1. Place project root at drive `Q:

[2017-09-26 15:44] BlairPaine commented on #5240
Thanks for the feedback.  Can anyone tell me how I can get a NuGet developer to look into this and fix?

[2017-09-26 16:03] AndreiRinea commented on #2880
Had the same issue today, removed .nuget folder from my profile folder and it started working again. The other things before (env var etc.) didn't work.

[2017-09-26 17:04] livarcocc opened #5942 "dotnet restore fails when more than 100 artifacts match the package id"
_From @Andresbu on September 26, 2017 12:33_

Artifactory contains more than 100 packages matching id "Serilog". dotnet restore fails as it seems to read only the first 100 packages and not more. Reason seems to be an invalid GET for fetching the pages after the first one. See below.

## Steps to reproduce
Use any of the docker images (It fails for me with those, I havent tested others)
- microsof

[2017-09-26 18:13] zhili1208 commented on #5267
@pedershk Could you please share those repro packages?

[2017-09-26 18:18] emgarten commented on #5940
@liushuanggang this message is expected, but it should not block your restore. Are you seeing a failure? What is the exit code of nuget.exe?

`-verbosity detailed` will always show these messages, but on normal verbosity it should be hidden unless this is a failure.

In the future once msbuild provides a way to skip projects that are missing a target this message will go away: https://github.com/M

[2017-09-26 18:22] mishra14 commented on #4307
This issue was moved to dotnet/sdk#1607

[2017-09-26 18:23] #4307 closed, assigned to jainaashish

[2017-09-26 18:37] mishra14 opened #5943 "Ctrl+E in NuGet PM UI does not change control to the search bar"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS PM UI

NuGet version (x.x.x.xxx): 4.4.4475

VS version (if appropriate): 15.4Preview3

Worked before? If so, with which NuGet version: Not sure

## Detailed repro steps so we can see the same problem

1. launch VS and file new project

2. right click and launch 'Manage NuGet Packages'

3. ob

[2017-09-26 18:42] Eirenarch commented on #5461
I have hit this too trying to migrate existing project to .NET standard and the new project system. If I have old-school project file I can reference the net461 project from the .NET Standard class library if I use the new format I get the NU1201 error. Anyone found a workaround?

[2017-09-26 18:43] anangaur commented on #5330
Shouldn't this be tied to VS session for the NuGet VSIX on VS? Will that be counter-productive? Or do we need two sets of information?

PS: I am not sure what a session means on the CLIs that is equivalent to VS session.

[2017-09-26 19:28] xavierdecoster commented on #5330
The _protocol_ should be independent from VS imo. Having a true session id for log correlation is a concept that should be supported by the protocol, no matter what client or server is used. Therefor, I like the proposed `X-NuGet-Session` HTTP header.

Of course, if desired, the VSIX could reuse some internal VS session id in its implementation of this protocol. Other clients, such as NuGet CLI, P

[2017-09-26 21:48] akilesh97 commented on #3112
Same issue.
Reinstalled - didn't work
Repair - didn't work
 C:\Users{{username}}\AppData\Roaming - Delete Nuget.config - didn't work

Anymore suggestions?

[2017-09-26 21:51] rohit21agrawal opened #5944 "Fix flaky E2E tests and help clean up"
[Results.txt](https://github.com/NuGet/Home/files/1335110/Results.txt)

The above test file has the list of most common E2E test failures.

NetCoreWebApp10AppInstallPackage
NetCoreWebApp10DowngradePackage
NetCoreWebApp10InstallMultiplePackages
NetCoreWebApp10ProjectReference
NetCoreWebApp10UninstallMultiplePackage
NetCoreWebApp10UninstallPackage
NetCoreWebApp10UpgradePackage

Help clean our CI and

[2017-09-26 22:09] emgarten commented on #5330
@anangaur I think you've raised a good point, it would be nice if we could correlate these two things. I would expect the the `X-NuGet-Session` guids used to be logged to the VS telemetry for the session. Using the same session across multiple operations would make it difficult to use however since all operations would end up merged.

[2017-09-26 22:14] emgarten commented on #5933
The working directory appears to change between projects which causes the relative path passed for -ConfigFile to be evaluated differently for each project.

A simple fix for this would be to convert all restore inputs to absolute paths up front to avoid having to resolve them in MSBuild.

[2017-09-26 22:34] nkolev92 opened #5945 "Fix GetInstalledPackagesWithCustomRestorePackagesPath & GetInstalledPackagesForProjectWithCustomRestorePackagesPath"
These 2 E2E have been failing since they were added.
Added in https://github.com/NuGet/NuGet.Client/pull/1666

I did a short investigation and I think that there are 2 issues here.

1. Looks like a product bug, the metadata is not populated with any value whatsoever.
2. There are no packages installed other than NetCoreApp in the netcore case, so even if it did populate it with a value there it wo

[2017-09-26 23:13] anangaur commented on #5330
As discussed offline, while i get the idea of collating the NuGet calls arising out of a single NuGet operation but I am unclear about the use-cases.

Can someone specify the kind of issues that you get today and is not easy to diagnose without the header information?  @maartenba @xavierdecoster @zarenner

The answer of above question may have an answer to whether or not using VS session id makes

[2017-09-26 23:26] emgarten commented on #4634
This has been added with `CollectPackageReferences`

[2017-09-26 23:26] #4634 closed, assigned to nobody

[2017-09-26 23:28] WardenGnaw commented on #5933
That would be the solution to this. Using a relative path for a msbuild targets file is improper, therefore it would be passing in an incorrect ConfigFile path.

Thanks!

[2017-09-26 23:28] emgarten commented on #3807
Closing since this no longer appears to be needed.

[2017-09-26 23:28] #3807 closed, assigned to rrelyea

[2017-09-26 23:31] emgarten commented on #3772
This appears to be fixed by CLI in 2.0.0

[2017-09-26 23:31] #3772 closed, assigned to nobody

[2017-09-26 23:33] #2537 closed, assigned to nobody

[2017-09-26 23:34] emgarten commented on #2451
No longer needed.

[2017-09-26 23:34] #2451 closed, assigned to nobody

[2017-09-26 23:35] emgarten commented on #5933
Glad the workaround helped @WardenGnaw

I'm going to reopen this for tracking, nuget.exe should handle this better.

[2017-09-27 00:04] jainaashish commented on #5945
Test needs to be updated, since it returns fallback folder path for netcore sdk package. I didn't see any product code bug here.

[2017-09-27 00:17] emgarten commented on #5942
@andresbu does https://HOST/artifactory/api/nuget/nuget-notcleared-remote/FindPackagesById()?id='Serilog' contain the correct next link?

I would like to determine if the nuget client is incorrectly using https://HOST/artifactory/api/nuget/nuget-notcleared-remote/?id='Serilog'&$skip=100 or if the feed is broken here and needs to be fixed.

[2017-09-27 00:59] mishra14 commented on #5927
@dozer75 This is a known issue and dupe of https://github.com/dotnet/sdk/issues/1607.

Please let us know if you need more help from us!

[2017-09-27 00:59] #5927 closed, assigned to nobody

[2017-09-27 02:17] liushuanggang commented on #5940
@emgarten, yes, you are right. It does not block my restore. Thanks for your reply. I will close this thread.  :)

[2017-09-27 02:18] #5940 closed, assigned to nobody

[2017-09-27 02:20] emgarten commented on #5940
@liushuanggang thanks for checking, I'm hoping to improve this experience in the future. :smile:

[2017-09-27 03:00] anangaur commented on #5602
@isaacabraham Haven't put much thought on it but I am leaning towards generating the file by default and not as an option.
Let me spend sometime on it and thn I will come back with the proposal.

[2017-09-27 05:36] maartenba commented on #5330
In random order, we would like to:
* Emit an X-NuGet-Warning once per session
* Correlate accessing registrations with packages downloaded (2 separate operations)
* Troubleshoot restore/install/update knowing the session id in AppInsights
* ...

For the CLI, one session is the moment you invoke NuGet.exe until it returns an exit code. E.g. running a restore on a solution.

[2017-09-27 07:12] jonkeda commented on #5174
+1 Is there a way to integrate Nuget and the PowerShell Tools properly?

[2017-09-27 07:17] cervengoc commented on #5174
We ended up reverting to good old `csproj` container. We needed build customization support as well, like signing powershell scripts for example.

[2017-09-27 07:39] xavierdecoster commented on #5330
Adding to the list:
* preferably avoid having to tell customers they have to reproduce, or run the same command again (which is error-prone, and may be impacted by changes to the machine/environment the command was run on the first time)

That's exactly why having a built-in session-id would be very useful for correlation purposes across client and server(s).

[2017-09-27 10:08] aberbegall opened #5946 "Question: I"
Is it possible to get similar output with nuget.exe (outside Visual Studio) for this "Package Manager Console" command:

[code]
using nuget.exe command line?

[2017-09-27 10:33] pedershk commented on #5267
Hi @zhili1208

Please find attached the offending package.

Looking more closely into it - this is actually made from a class library that doesn't yet have a single code file in it. Might that be the issue? It still uploaded/pushed fine on Windows, though.

Also - here's dotnet info for the build agent in question (all Linux build agents we run run off the same exact image, so error occurs on all

[2017-09-27 13:12] evil-shrike opened #5947 "[api] [nuget.org] api/v2/FindPackagesById()/$count endpoint is broken"
Previously url `api/v2/FindPackagesById()/$count` worked - for example:
https://www.nuget.org/api/v2/FindPackagesById()/$count?includePrerelease=false&$top=160&id=%27Rx-Linq%27&includeAllVersions=false
Now it returns 404 Not Found.
I couldn't find any announcements about such API breaking changes.
We use Artifactory extensively as out internal nuget server, it also is used as proxy for nuget.org (

[2017-09-27 13:26] Andresbu commented on #5942
@emgarten I attached the result for
https://HOST/artifactory/api/nuget/nuget-notcleared-remote/FindPackagesById()?id='Serilog'
as attachment.

[first page.xml.txt](https://github.com/NuGet/Home/files/1337294/first.page.xml.txt)

[2017-09-27 16:44] zarenner commented on #5330
I agree with @maartenba and @xavierdecoster's points, and want to further point out that correlation is incredibly difficult today especially when multiple operations or even builds take place within a short time period, and/or multiple machines are behind a single IP.

In my experience, working through IDE scenarios with customers tends to be less frequent, more reproducible, easier to correlate

[2017-09-27 17:52] kraigb commented on #5912
There are two things that need to happen here.

1. The PM UI needs to set F1 keywords for Visual Studio. The link shown in this issue indicates that VS is simply searching on "VS.Ambient", which indicates that the UI in question has not set its keywords properly. (It can also show up as VS.Properties, which is equally ambiguous.)

2. Once the keywords are being set, it's necessary to edit https://

[2017-09-27 18:08] anangaur commented on #5912
Updated the title and description to cover both PM UI and PM Console

[2017-09-27 19:13] mishra14 commented on #5935
@emgarten does this need work from the client side? or can we close this as external?

[2017-09-27 19:23] zjrunner commented on #5330
If there is a need for the VS session and that is a longer scoped session, I say send it in a different header.  Keep X-NuGet-Session as close to a single operation from the customer point of view as possible.

When it hits our server, I want to see how one customer action took 1 request (a point restore) or exploded into 500 requests (pages and pages of downloads and dependencies) to understand e

[2017-09-27 19:32] mishra14 commented on #5461
Folks, thanks for your feedback! This issue appears to be identical to https://github.com/dotnet/standard/issues/481

Please see that issue for workarounds and plan for the future.

[2017-09-27 19:53] mishra14 commented on #5947
This issue was moved to NuGet/NuGetGallery#4760

[2017-09-27 19:53] #5947 closed, assigned to nobody

[2017-09-27 19:53] emgarten commented on #5935
Currently there is no client side worked planned. Feeds should not return invalid data.

We could ignore these bad ranges on the client side. If v2 does this we could consider it.

[2017-09-27 19:54] nkolev92 commented on #2365
@BobbyCannon
Are you still having issues with the assembly copying?
If you do, please create another issue for that.

We're driving an effort to help migrate everyone from PC -> PR right now, and we'd be happy to work with you to get your package PackRef compatible.

[2017-09-27 19:58] mishra14 commented on #5947
@evil-shrike this is a NuGet Gallery issue. Please let us know if you need any more help.

[2017-09-27 21:17] #5857 closed, assigned to anangaur

[2017-09-27 21:18] #5858 closed, assigned to anangaur

[2017-09-27 21:38] emgarten commented on #5942
@Andresbu where is this OData coming from? Would you file an issue on the feed or creator of this feed?

From what I see the next link in the response is incorrect, and I'm going to guess that the self link here is also incorrect.

[code]

[2017-09-27 22:35] PatoBeltran opened #5948 "[Accessibility] “Blocked by project” versions of SDK “Microsoft.NETCore.App” should be shown in grey instead of black"
**VSTS ISSUE:** 484554
**NuGet Version:** NuGet 4.4.0-Dev-4438
**VS Version:** D15PreRel 26823.3006
**OS Version:** Windows 10 RS2_Release 15063.2.170323-1837

## Repro Steps:
New a Visual C#->.NET Core->Console App (.NET Core) project.
Open PM UI of this project and go to “Installed” tab.
Select the SDK “Microsoft.NETCore.App” in the left panel.
Click the “Version” drop-down list and check the ve

[2017-09-27 23:21] mishra14 commented on #5946
@aberbegall unfortunately there is no equivalent yet. But we do have a backlog item for a list command that does the same thing per project.

You can track that issue - https://github.com/NuGet/Home/issues/4102

Please let us know if you need any more help from us.

[2017-09-27 23:21] #5946 closed, assigned to nobody

[2017-09-27 23:26] mishra14 commented on #5942
@Andresbu Please let us know if this does not resolve your issue. Else, we can go ahead and close this issue.

[2017-09-27 23:31] bronumski commented on #5884
@rrelyea - Did you have a chance to review the above and any consideration for reopening? This is causing us issues from moving from nuget v2x to v4

[2017-09-27 23:37] RezaJooyandeh opened #5949 "dotnet pack on a simple UAP project fails with MSB4019"
Sample:
[TestProject.zip](https://github.com/NuGet/Home/files/1338998/TestProject.zip)

## Tools
dotnet.exe: v1.1.0
VS: v15.3.5
OS: Win10 Anniversary update

**Works with NuGet version 3.5.0** (`nuget pack TestProject.csproj`)
## Repro:

1. Create a simple UAP class library:
[code]

2. Try to pack:

[code]

3. It fails with this log:
[code]

[2017-09-28 00:41] #5933 closed, assigned to emgarten

[2017-09-28 00:42] #2836 closed, assigned to nobody

[2017-09-28 00:50] mishra14 commented on #5941
@verysimplenick: Thanks for the detailed issue. I could not repro this on a subst drive -

[code]

Could you please run the following command and attach the resulting file (a.dg) here? -

[code]

[2017-09-28 01:03] mishra14 commented on #5949
@Reza1024 Thanks for the detailed issue. Unfortunately `dotnet pack` command does not support `project.json` based projects. Your best bet is to continue using nuget.exe since that supports it.

Please let us know if you need more help from our side!

[2017-09-28 01:03] #5949 closed, assigned to nobody

[2017-09-28 06:11] verysimplenick commented on #5941
@mishra14
Thanks for respone, I create 2 graph files, from disk C and disk Q, they are different.
[restore_graphs.zip](https://github.com/NuGet/Home/files/1339651/restore_graphs.zip)
p.s. my disk Q is real partition.

[2017-09-28 09:19] LucaPappagallo commented on #2880
Hi, i've the same problem.. I tryed to remove .nuget folder but it is still not working. In my environment variables i did not find any http_proxy var. I've this problem for days, please help me to solve it! :(

[2017-09-28 13:19] Andresbu commented on #5942
I agree that it is an external issue.

It occurs with https://www.jfrog.com/artifactory/.

I reproduced it with versions
- 5.4.6
- 5.3.2
- I did not test any other versions

I will open an issue accordingly

[2017-09-28 15:42] emgarten commented on #5942
Thanks for the update @Andresbu, if any changes are needed on the client let me know in this issue and I'll reopen it so we can address those.

[2017-09-28 15:42] #5942 closed, assigned to nobody

[2017-09-28 15:56] peterj commented on #5009
I think I am hitting this as well - it's very frustrating. I am trying to push a package to a feed on VSTS (using a personal access token) from inside of a container. Here's my ```Dockerfile```:
[code]
Below are the different combinations I tried to run inside of the container:

1. Run ```nuget push``` and provide username/password (PAT) when prompted:
[code]
I get a warning about setting an API k

[2017-09-28 18:15] nkolev92 opened #5950 "EndToEnd test timeouts"
The NetCore/NetStandard end-to-end tests sometimes timeout on project creation/initial restore.

We can solve this in a couple of ways.

- [ ] Write a task that would run an initial restore so subsequent restores are faster.
- [ ] Add a fallback folder and add the needed packages there.

[2017-09-28 18:30] mishra14 commented on #5930
@kvermeer Thank you for filling a detailed issue.

Is it possible for you to move to a more recent version of [Visual Studio](https://www.visualstudio.com/downloads/)?

[2017-09-28 18:43] maartenba commented on #5907
Is a timestamper provided or is this something the package author must provide?

[2017-09-28 19:00] zairhenrique commented on #708
So NuGet will not be able to work with Azure AD?

[2017-09-28 19:12] mishra14 opened #5951 "Install-Package command in PMC should add the id with the same casing as the package"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): PMC

NuGet version (x.x.x.xxx): 4.4.4475

VS version (if appropriate): 15.4 Preview 3

## Detailed repro steps so we can see the same problem

1. Launch VS and file new project.

2. Launch PMC

3. Run `Install-Package nuget.versioning`

## Expected

A reference to `NuGet.Versioning` is added.

[2017-09-28 19:17] mishra14 opened #5952 "dotnet add package command should add the id with the same casing as the package"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): dotnet.exe

## Detailed repro steps so we can see the same problem

1. `dotnet new console`

2. `dotnet add package nUgeT.VerSioIng`

## Expected

A reference to `NuGet.Versioning` is added.

## Actual

A reference to `nUgeT.VerSionIng` is added. The casing is preserved from the user input.

[c

[2017-09-28 19:17] mishra14 commented on #5952
Related issue in PMC - https://github.com/NuGet/Home/issues/5951

[2017-09-28 19:18] mishra14 commented on #5616
@dtivel Are we planning on fixing this or should this re-triaged for a future milestone?

[2017-09-28 19:21] mishra14 commented on #5556
@rohit21agrawal Can you please take a peek and add appropriate labels/milestone?

[2017-09-28 19:23] dtivel commented on #5616
Retriage

[2017-09-28 19:25] mishra14 commented on #5554
@josephjoychristopher Are you still facing this issue?

It seems that the source is empty, maybe fix the sources to point to a valid url. You can read more about sources from our [docs](https://docs.microsoft.com/en-us/nuget/tools/package-manager-ui#package-sources).

[2017-09-28 19:26] mishra14 commented on #5732
@PatoBeltran can we re-triage this with the right milestone?

[2017-09-28 19:33] mishra14 opened #5953 "Add a link to NuGet warning properties doc to the restore warnings and error page"
NuGet warnings and errors page: https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings

The page lists out all the restore warnings and errors correctly. But I do not see a link to warning properties except the [compiler option page](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-suppress-compiler-warnings), which is not very helpful to the users.

Can we please have a simi

[2017-09-28 19:34] mishra14 commented on #5953
Assign both PMs for better visibility :)

[2017-09-28 19:35] mishra14 commented on #5740
@bording thank you for the detailed issue. You can work around this by adding a project wide no warn -
[code]

Please let us know if that resolves your problem or if you would still prefer a `nowarn` for the package closure?

[2017-09-28 19:42] mishra14 commented on #5522
@Petermarcu It seems that the package `Bifrost.Devices.Gpio` has a dependency on the following -

[Bifrost.Devices.Gpio.Abstractions (>= 1.0.0)](https://www.nuget.org/packages/Bifrost.Devices.Gpio.Abstractions/)
[Bifrost.Devices.Gpio.Core (>= 1.0.0)](https://www.nuget.org/packages/Bifrost.Devices.Gpio.Core/)

But if you look at these packages on nuget.org you will see that they do not have any ver

[2017-09-28 19:42] #5522 closed, assigned to nobody

[2017-09-28 19:52] bording commented on #5740
@mishra14 As mentioned on the issue already, globally suppressing the warning doesn't really solve the problem, because that will hide it for all packages, including ones I add in the future.

If I add a new package that should show this warning, then I want to see the warning so I know that I need to spend some extra time ensuring the package will work (and then add NoWarn to that package referen

[2017-09-28 20:03] mishra14 commented on #5483
@philippe-lavoie Thanks for reporting the issue.

You can find more information about this issue in [documentation for this error](https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings#nu1106). I think that error message had an issue where it did not print the right versions.

@emgarten This looks like the error message that you recently fixed? When did that go in?

[2017-09-28 20:07] mishra14 commented on #5491
@skofman1 we were not able to repro this issue. This seems like  a server issue since the users were getting a 504 while manual download. Can you please elaborate on why do you think this is a client issue?

[2017-09-28 20:54] mishra14 commented on #5740
@bording thanks for clarifying that. I will leave this open as a design change request.

[2017-09-28 23:02] mishra14 commented on #5907
@maartenba Current spec requires the user to provide a timestamper service url.

[2017-09-28 23:07] rrelyea commented on #5925
@skofman1, @anangaur -- is this still required for 15.5?

[2017-09-28 23:32] nkolev92 opened #5954 "Xdt Transforms support in Package Reference"
XDT Transforms don't work for transitive restore

https://msdn.microsoft.com/en-us/library/dd465326%28v=vs.110%29.aspx?f=255&MSPPError=-2147217396
https://blog.nuget.org/20130920/how-to-use-nugets-xdt-feature-examples-and-facts.html)

There are over 700 unique packages on nuget.org that have xml transforms.

This can't be done in PackageReference currently because the concept of install/uninstall

[2017-09-29 00:55] anangaur commented on #5925
This can be implemented later as well even if the **Organization** feature goes out sooner for NuGet.org

[2017-09-29 01:23] moh-hassan opened #5955 "In VS2017.3, .Net Core2 console application with dependency of net45 library have no entry in deps.json and raise an exception 'System.IO.FileNotFoundException occurred'"
I have a solution in vs2017.3 RTM with two projects ConsoleAppCore2 and NetStand2Lib.
.Netcore2 console application ('ConsoleAppCore2') reference NetStand2Lib project (NetStand2Lib)

The NetStand2Lib project reference mylib.dll which is .Net Framework 45 (net45).
The compilation is successful and mylib.dll is copied to the bin folder.
When I try to run the application, I get run-time exception err

[2017-09-29 01:49] spy008 opened #5956 "NuGet.exe replaces '+' with '%2B' in assembly name"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe

NuGet version (x.x.x.xxx): v4.3.0

OS version (i.e. win10 v1607 (14393.321)): Win10

## Detailed repro steps so we can see the same problem

1. Take a C++ project and compile it. Let's say the resulting assembly has a name like this: C++Adapter.dll

2. Create a .nuspec file for the p

[2017-09-29 03:13] emgarten commented on #5483
It looks like the project `Company.Testing.Framework` has a **project reference** to `Company.Module`.
`Company.Framework` and `Company.Framework.Services` both reference the **package** `Company.Module`. The result is that these two conflict since the root level project here can't use both the project and package at the same time.

@philippe-lavoie is that how your project is set up? Does removin

[2017-09-29 03:28] emgarten commented on #5955
Closing in favor of the SDK issue since it looks like this a project issue, not a package issue.

@moh-hassan when copying the same issue between multiple repos be sure to use the full URL of the issues. The referenced NuGet issues here have nothing to do with this problem, but I see that in the SDK issue they do match up with similar SDK issues.

[2017-09-29 03:28] #5955 closed, assigned to nobody

[2017-09-29 10:08] kvermeer commented on #5930
Thanks for your response.
Upgrading to another version of Visual Studio is not an option since we need to use a specific version of an sdk (esri arcobjects 10.2 sdk) which only works in vs 2010 and 2012.

That said, we have the issue resolved already.
The problem was caused by some server settings related to Citrix Studio, which apparently blocked traphic with visual studio (installing extensions

[2017-09-29 10:08] #5930 closed, assigned to nobody

[2017-09-29 10:56] VishalTank3010 commented on #2880
I have the same problem. Can I manually download and install the package in my project?
Actually, I have installed the same package( Which I want in a new project but this problem sucks) in another project, So is there any way to use it in another project directly?

[2017-09-29 14:46] AArnott opened #5957 "Project A referencing package B via AssetTargetFallback, doesn't use that same AssetTargetFallback to pull B's dependency package C"
@nkolev92 edit:

* Design - https://github.com/NuGet/Home/pull/11460
* Implementation - conditional on design approval - https://github.com/NuGet/NuGet.Client/pull/4372

-----------------------------

When I [added netcoreapp2.0 as a target for my console application](https://github.com/AArnott/VSMefSample/commit/ce6bef7cc49d0c0c15b2da322ef2a78b86e6d178), it failed at runtime because it couldn't f

[2017-09-29 16:48] clairernovotny commented on #5949
The issue isn't `project.json`, it's UAP using the old `project.json` as references.

The real issue is that you cannot use `dotnet` with a legacy project (like UWP), but you can use the new pack targets.

Add a reference to `NuGet.Build.Tasks.Pack` `4.3.0` and then you can use `msbuild /t:pack` with your UWP project.
https://github.com/reactiveui/ReactiveUI/blob/develop/src/ReactiveUI.Wpf/Reactiv

[2017-09-29 16:51] nkolev92 commented on #5034
The behavior is different for PC and PackRef scenarios.
See related https://github.com/NuGet/Home/issues/5848

[2017-09-29 16:54] nkolev92 commented on #5035
This is a package source diagnostics related issue.

We don't allow stuff like this in the Package Reference case because it can lead to inconsistent resolution, so non-repeatable builds.

Currently the user can do -ignoreFailedSource in nuget.exe/dotnet.exe (or something along those with dashes instead of camelcase)

[2017-09-29 16:55] nkolev92 commented on #4949
Related and dups of some of these as well.
https://github.com/NuGet/Home/issues/5848

[2017-09-29 17:55] jainaashish opened #5958 "ContentFiles are not added as link items in standard PackageReference"
ContentFiles are not being added as link items in normal project system in PackageReference

Steps:
1. create c# class library
2. Install package contentfilesexample -v 1.0.2 as PackageReference

Expected:
It should have added content files as link items into the project. They should have also be available in `projectName.csproj.nuget.g.props` file

Actual:
Content files are neither in project sys

[2017-09-29 18:22] philippe-lavoie commented on #5483
I think you are correct. project A was exposed as a package and used by package B. However C was using a reference to A and B was doing a nuget reference to C also.

Actually, exposing packages and working with them while doing development is forcing us to do the following custom steps inside our csproj files. It feels like a hack...  especially since we wanted to also build our .net standard libr

[2017-09-29 20:59] nkolev92 commented on #5285
Resolved in https://github.com/NuGet/NuGet.Client/pull/1713

[2017-09-29 20:59] #5285 closed, assigned to nkolev92

[2017-09-29 21:08] nkolev92 commented on #5945
Fixed in https://github.com/NuGet/NuGet.Client/pull/1727 by @jainaashish

[2017-09-29 21:08] #5945 closed, assigned to jainaashish

[2017-09-29 21:12] natidea commented on #5877
As I understand it, [465204](https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workitems/edit/465204) is also a scenario that works with packages.config but not PackageReferences

[2017-09-29 21:23] jainaashish opened #5959 "NuGetVSExtension.NuGetPackage derives from ASyncPackage, but can still be loaded Synchronously on main thread before VS finishes Startup if Package Management Console window was open when you closed VS"
Internal bug# 497515

[2017-09-29 21:48] rohit21agrawal opened #5960 "Follow up with Internal partners to move from packages.config to PackageReference"
** WORK WITH PACKAGE OWNERS - FIRST EMAIL ROUND WITH INTERNAL MSFT **

 Analyze how many packages have install/uninstall.ps1 and analyze the impact this change would have.
 Analyze contentfiles vs content packages
 Analyze lib/foo.dll packages

[2017-09-29 21:55] mishra14 opened #5961 "msbuild target/task for Nuget sign command"
Related tasks - https://github.com/NuGet/Home/issues/5907 https://github.com/NuGet/Home/issues/5904

[2017-09-29 21:57] mishra14 opened #5962 "Investigate and Implement signature verification on unzip/restore/install"

[2017-09-29 21:58] rohit21agrawal opened #5963 "Come up with a strategy for packages that have install.ps1/uninstall.ps1"
Come up with a strategy for packages that have install.ps1/uninstall.ps1.
The guidance here would be to instruct authors to use targets and init.ps1 to achieve the intended behavior.

[2017-09-29 21:58] mishra14 opened #5964 "Add support for sql projects"

[2017-09-29 21:58] emgarten opened #5965 "NuGet package signing APIs"
Add APIs to nuget.packaging for signing and verifying packages

[2017-09-29 21:59] mishra14 opened #5966 "Dataflow investment for S125"

[2017-09-29 21:59] emgarten opened #5967 "Test signing"
Add support for test signing packages for unit tests.

[2017-09-29 22:05] PatoBeltran opened #5968 "Package signing UI protocol implementation"
The current prototype of package signing UI needs to be updated to take the actual data from the server according to the protocol changes when the spec is released.

[2017-09-29 22:07] PatoBeltran opened #5969 "Update PM UI to let user know a signed package is not valid"
When a signed package that has been tampered is being installed, nuget should fail to install and the user should be notified. This task tracks the work for the user experience updates in that flow.

[2017-09-29 22:33] moh-hassan commented on #5955
@emgarten, thanks for hint, I modified the issue url.
My issue is similar to this one [#4581](https://github.com/NuGet/Home/issues/4581)
Have a look for [my reply](https://github.com/dotnet/sdk/issues/1425#issuecomment-333250514)

[2017-09-29 22:49] mishra14 opened #5970 "Investigate the build from source initiative"
The net core team/ecosystem is trying to get build from source initiative. we need to investigate and spec the work needed from NuGet.

[2017-09-29 22:53] mishra14 opened #5971 "Understand proper design/needs for bootstrapping scenarios"
This task is to lock the spec down for the download api.

Issue to track the actual implementation and spec: https://github.com/NuGet/Home/issues/5919

[2017-09-29 23:00] mishra14 opened #5972 "nuget.exe push returns a 400/BadRequest"
From a Support Request -

Using command line to push nuget package. Used to work a month ago. Today not working at all:
`nuget push C:\projects\search\Ingeniux_InSite_Search_2.2.9.2-prerelease.nupkg [api key] -Source https://www.nuget.org `

Getting following response:
[code]

I have tried to generate a new API key and not making any difference. Because the tool doesn't provide any details of the

[2017-09-30 00:59] mishra14 commented on #5956
@rohit21agrawal is this expected?

[2017-09-30 06:41] VishalTank3010 commented on #2880
Go for Settings ( Global Settings of your PC ) > Network and Internet > Proxy > Automatic Proxy Setup > and set Automatically detect settings to off. This Works for me.... Try this ...

[2017-09-30 09:51] LucaPappagallo commented on #2880
I solved the problem! Thank you @VishalTank3010

[2017-09-30 14:34] ArtOfSettling commented on #5627
This command actually worked, which is great!

I couldn't use my manually installed version of MSBuild, but It was sufficient to tell mono not to use Build, like follows ....

-MsbuildPath /usr/lib/mono/msbuild/15.0/bin/

;)

[2017-09-30 14:36] ArtOfSettling commented on #1946
For anyone still interested in this, I solved my use case (see bug 5627) with the following argument.

-MsbuildPath /usr/lib/mono/msbuild/15.0/bin/

;)

This forced nuget to use the version of msbuild bundled with mono instead of the xbuild.

[2017-09-30 16:37] livarcocc opened #5973 "dotnet new mvc fails to restore"
_From @cdmihai on September 30, 2017 0:33_

## Steps to reproduce
dotnet new mvc
dotnet restore

## Expected  behavior
Restore succeeds.

## Actual behavior
[code]

## Environment data
`dotnet --info` output:

[code]

_Copied from original issue: dotnet/cli#7736_

[2017-09-30 16:37] livarcocc commented on #5973
_From @cdmihai on September 30, 2017 0:34_

`dotnet msbuild /t:restore /bl`
[msbuild.zip](https://github.com/dotnet/cli/files/1345960/msbuild.zip)

The exception
[code]

[2017-09-30 16:37] livarcocc commented on #5973
@emgarten @zhili1208 is this the empty NuGet.Config bug again? I will move it to nuget/home.

[2017-09-30 18:47] spy008 commented on #5956
No. I expect NuGet.exe to keep filenames intact when creating a package.

[2017-09-30 18:49] rohit21agrawal commented on #5956
@spy008 the question was directed to me, I will look into this as soon as I can early next week and post an update and a workaround, if any.

[2017-10-01 02:00] anangaur commented on #5972
Is the -Source parameter right? Which version of NuGet is this?

[2017-10-01 03:35] kzu commented on #5921
Could you please provide a binary log by building with the `/bl` switch? Thanks!

[2017-10-01 22:39] jainaashish commented on #5880
Dupe of# https://github.com/dotnet/project-system/issues/2861

[2017-10-02 05:17] SabotageAndi commented on #5880
@jainaashish I don't think so, because I am using package.config and not PackageReference. It doesn't happen when you add the package to the project in VS.

[2017-10-02 05:26] dsplaisted commented on #5955
This issue was moved to dotnet/sdk#1621

[2017-10-02 05:48] anangaur commented on #4216
Is this still an issue? This  has been a known issue since 15.3 RTW.

[2017-10-02 05:55] anangaur commented on #4256
@emgarten , Have we made the error msg better now? This has been a known issue since 15.3 RTW.

[2017-10-02 05:58] anangaur commented on #5500
This has been open and a known issue since 15.3 RTW. We should triage this.
/cc: @rrelyea

[2017-10-02 06:01] anangaur commented on #4204
@zhili1208 , @rrelyea  Is this fixed in 4.4? If so, can you close this? This has been a known issue since VS 15.3 RTW and I would have to keep it or remove it from 15.4 release notes based on whether this was fixed or not.

[2017-10-02 06:01] emgarten commented on #4256
@anangaur there haven't been any changes for tools yet

[2017-10-02 06:02] anangaur commented on #4256
Thanks for the quick update!

[2017-10-02 09:03] nkolev92 opened #5974 "Entity Framework Pack Ref migration story"
Work with Entity Framework team to get their package pack ref compatible.

https://github.com/aspnet/EntityFramework6/issues/189

[2017-10-02 09:53] ghost opened #5975 "Running executable from a NuGet package with PackageReference management format"
I have a code base and two project files that target two versions of the .NET framework. Since I have them stored in the same folder I cannot rely on a `Packages.config` file since it will always incorporate one framework version and not the other. Thus I moved to `PackageReference` which worked great so far.

Unfortunately I just installed `Mono.TextTemplating` and wanted to execute the provided

[2017-10-02 10:52] OryanHassidim opened #5976 "Use NuGet with different Culture"
## Details about Problem

NuGet product used: VS UI

VS version (if appropriate): Visual Studio Community 2017 version 15.3.5

Worked before? No.

## Detailed repro steps so we can see the same problem

1. Control Panel > Clock, Language, and Region > Region ;

2. In "Format" ComboBox, select "Hebrew (Israel)";

3. Click on "Additional settings..." in the bottom of the window;

4. In "Date" tab, i

[2017-10-02 11:16] verysimplenick commented on #5941
News? Help needed?

[2017-10-02 12:59] chrisaut commented on #5805
I have to agree with this. Was upgrading xunit today in an old solution with around 50 projects or so, half of which test so had a reference to xunit.

It took like 15 minutes with near 100% CPU. Had I not seen the log output in VS from time to time I would have thought it crashed.

It's like compiling c++ in the old days....go get a coffee, stop by your colleague to chat about the weekend and if

[2017-10-02 13:37] moh-hassan opened #5977 "Add Support: Enable installing Full .Net Framework from within netstandad 2 ,netcore 2 library project by option"
**Scenario:**
With the release of netcore2, netstandard2, we can reference from within  these projects any full framework package in disk (dll) and  gain of the 70% of available nuget package which is net45  ready.

As an example, for a nuget package named "nuget_package" having net40, net45 and netstandard1.3, the net45 is a full feature package and netstandard1.3 is a less feature one and we wan

[2017-10-02 16:57] livarcocc opened #5978 "dotnet add package errors out if any source fails to resolve"
_From @cjqed on October 1, 2017 17:56_

## Steps to reproduce
1. Add a nuget source `nuget sources add -Name xxx -Source https://my_local_nuget_server/nuget/...`
2. Take the nuget source offline (in my case, it's locked down behind a VPN I was not connected to)
3. Attempt to add a package that exists from public sources, e.g. `dotnet add package dapper`
4. The add package fails because the previou

[2017-10-02 17:13] zhili1208 commented on #5973
looks like this is not empty NuGet.Config issue, nuget.org is in source list. The exception is just a bad message, basically restore failed but nuget still try to read asset file.

[2017-10-02 17:21] nkolev92 commented on #5978
Dup of https://github.com/NuGet/Home/issues/5035

[2017-10-02 17:21] #5978 closed, assigned to nobody

[2017-10-02 18:13] rohit21agrawal commented on #5627
@ArtOfSettling  glad that it works for you now, are we good to close this issue now? :)

[2017-10-02 18:15] mishra14 commented on #5930
Thanks for closing this @kvermeer!!

[2017-10-02 18:24] jainaashish commented on #5880
@SabotageAndi `contentFiles` doesn't work with `packages.config`. For `packages.config`, you should use `Content` as explained here - https://docs.microsoft.com/en-us/nuget/schema/nuspec#including-content-files

[2017-10-02 18:35] SabotageAndi commented on #5880
@jainaashish They are in the content folder. I have no contentFiles in the package.

NuSpec:
[code]
Files:
![image](https://user-images.githubusercontent.com/859801/31093094-e20551c6-a7b0-11e7-8d28-f8897ce15f9d.png)

And as @zhili1208 said, the placeholder are working in VS2015.

[2017-10-02 18:58] jariq commented on #5907
I am not sure I understand what is `-SigningAlgorithm` option good for. It is described as

but in my experience the signing algorithm is chosen by the type of public key present in the certificate. ECDSA cannot be used with certificate issued to RSA key pair and vice versa. Are you sure this option is needed?

[2017-10-02 19:16] rrelyea commented on #5929
In VS 2017 version 15.3, we did some work to do the following:
1) NuGet now knows about UAP10.0.XXXXX -- where XXXXX is the WIndows 10 build number.
2) NuGet will now take XXXXX from TargetPlatformMinVersion (from csproj) and treat that as the TFM.
3) For project.json based projects, NuGet in VS 15.3 will now modify project.json from TFM of UAP10.0 to UAP10.0.XXXXX.

Please try this out in 15.3.5

[2017-10-02 19:21] rrelyea commented on #5931
Packages.Config is an early NuGet technology.
We are attempting to ensure that PackageReference will fix many of the fragilities of PackagesConfig.
We don't plan to major change Packages.Config code paths, and hope to provide a smooth transition to customers to PackageReference techniques. We aren't all the way there yet.
We'd love for you to learn about PackageReference, and let us know of any pr

[2017-10-02 19:22] #5931 closed, assigned to nobody

[2017-10-02 19:22] mishra14 commented on #5931
Useful links realted to @rrelyea's comment:
https://docs.microsoft.com/en-us/nuget/consume-packages/dependency-resolution#dependency-resolution-with-packagereference-and-projectjson

https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files

[2017-10-02 19:24] dasMulli commented on #5931
btw the docs still say:

Is this still true or do the docs need a change?

[2017-10-02 19:24] rrelyea commented on #5932
My guess is that this failed because you didn't include "-IncludePrerelease" switch in the include prerelease command.

[2017-10-02 19:28] mishra14 commented on #5931
@jainaashish: Do we need to update the "important" not in this [page](https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files)? If so, what is the expected change here?

[2017-10-02 19:28] twsouthwick commented on #5932
So, if I ask for a specific version, I still need to specify that it should use prerelease? I would expect if this were the case, that NuGet would give me a warning that I am requesting a pre-release version without including prerelease versions. So, either way, it seems the behavior is unintuitive, and should be one of the following:

1. If a prerelease version is requested, automatically include

[2017-10-02 19:30] rrelyea commented on #5932
I'm unsure. Can you try again with the -includeprerelease flag and see what it does?  Also, can you answer @nkolev92 's questions to you?

[2017-10-02 19:35] rrelyea commented on #5936
@abpiskunov  - as a packages config issue, we aren't investing a ton here. can you help us understand the severity and priority of this problem?
Is it important? Why? How many customers are hitting this? How bad is the impact?

[2017-10-02 19:38] rrelyea commented on #5939
@jainaashish  - PR bug. Please be aware and help make judgement of impact/priority.

[2017-10-02 19:39] rrelyea commented on #5941
@mishra14  - can you peek at that.

[2017-10-02 19:41] rrelyea commented on #5943
@nkolev92 - putting in your backlog...next bug fix week, please take a look.

[2017-10-02 19:46] rrelyea commented on #5950
I've been involved in a discussion between the UWP Tools team and the Project system team. UWP folks need to understand when autorestore is done...and when the references due to it have all shown up in the project system.
@nkolev92  - I will loop you into that discussion.

[2017-10-02 19:56] rrelyea commented on #5957
Assigned to @mishra14  in backlog as P1.  Seems like ATF should work identically to non-ATF restores.
cc @emgarten

[2017-10-02 19:56] emgarten commented on #5977
This is an interesting scenario. If the project is netstandard2.0 then netstandard1.3 is the best match. Overriding the TFM selected from the package causes all sorts of complications when a different set of dependencies is needed.

To fix this the package should be updated to support netstandard2.0 and ideally that would contain the APIs you are expecting from net45 in the updated API surface are

[2017-10-02 19:58] rrelyea commented on #5961
As we discussed in standup. This is questionable whether we end up doing this or not. Need to continue discussion with CLI team.

[2017-10-02 20:05] abpiskunov commented on #5936
This repro for us when users try to Enable Latest C# / VB language features (C#7 and VB xx) on older web projects. However it reveals pretty obvious bug which i described. It could be easily repro for anyone (internal/external) using your COM extension API. According to Justin Emgarten even Nuget Package Manager dialog might have this exception in similar scenarios.
I don't know how many customers

[2017-10-02 20:17] rrelyea commented on #5975
Great scenario. @mishra14 is looking into similar issues with bootstrapping using PackageReference.

[2017-10-02 20:25] ghost commented on #5975
@rrelyea Slightly more information: I just got told, it is possible to use multiple `Project.config` files when naming them `Package.Project1.config` and `Package.Project2.config` but with that approach it is still an issue referencing tools properly. It is definitely easier pointing to something along the lines of `$(SolutionDir)\packages\...` however it is still unpleasant that one has to hard-c

[2017-10-02 21:34] rafaelromao opened #5979 "nuget pack is ignoring dependencies when using PackageReference instead of packages.config"
# NuGet dev edit: Duplicate of https://github.com/NuGet/Home/issues/4491

## Details about Problem

NuGet product used: nuget.exe

NuGet version: 4.3.0.4406

.NET Framework v4.5 (Full Framewok project, not a dotnet core project)

VS version: 15.3.3

Worked before, when using packages.config instead of PackageReference.

## Detailed repro steps

1. Configure Visual Studio 2017 to use *PackageRefere

[2017-10-02 21:43] jariq commented on #5907
If you plan to provide built-in multiplatform support for HSMs and other hardware based key stores then IMO there is currently only one viable option and that is [PKCS#11 ANSI C API](https://en.wikipedia.org/wiki/PKCS_11). It's been here since 1995 when it was created by RSA Laboratories and currently it is being maintained by OASIS PKCS11 Technical Committee that released latest version of specif

[2017-10-02 21:44] rrelyea commented on #5975
Great info. Thanks. I wasn't aware of that feature.
Clearly we should improve the build side of this.

Today, some tools set a msbuild property in their .props file, that consumers of that tool could use.

You could imagine that we create msbuild props for every tools folder that you restore. $(PackageToolsDir_My_Package_Name) or the like...

[2017-10-02 22:02] clairernovotny commented on #5907
@jariq To be clear, we'd most likely reappropriate the signing digest code and wrap it into a different utility. Key Vault doesn't have a PKCS#11 windows api yet (afaik), and we'd want something that doesn't require any installation on the machine. That's one nice thing of our utilities, is that it's pure xcopy.

[2017-10-02 22:07] mishra14 commented on #5907
@jariq -

Thanks for the feedback. I will investigate this a bit to make sure that I have the right params outlined.

That is correct.

Thanks for your detailed feedback on HSMs. I will look into this and the feasibility of your suggestion.

[2017-10-02 22:34] moh-hassan commented on #5977
Sure, updating TFM to netstandard2.0 is the ideal solution. But updates depends on the owner of the packages and may take a time to be netstandard2 ready.
Currently, in sdk project:
  [enable references to any assembly on disk](https://github.com/dotnet/sdk/issues/120)  is supported in vs2017.3
[dll reference support in .NET Core projects](https://github.com/dotnet/cli/issues/5954#issuecomment-287

[2017-10-02 23:09] weshaggard commented on #4094
I'm hitting this exact issue with the latest CLI (2.0.2-vspre-006949, although it repros on other 2.0.0 preview builds as well), with a base `dotnet new console` application.

From some experimenting it seems there is an issue with the order in which the local file source is used:

Here is the output of a few different restore commands:
[code]

So it appears to only fail if the first source is a f

[2017-10-02 23:17] weshaggard commented on #5817
I just added similar repro steps in issue https://github.com/NuGet/Home/issues/4094.

[2017-10-02 23:37] #5554 closed, assigned to mishra14

[2017-10-03 00:28] mishra14 commented on #5941
@verysimplenick I took a peek and it seems possible that we have a bug where the order of references can cause a probelm. In your case, the tool name starts with `M` and thus if the projects are in drive `Q:`, the tool comes before the projects in the dependency graph files.

Current work around: Use a drive with lower letter than M.

Status: Still investigating to find the root cause.

[2017-10-03 01:14] vcsjones commented on #5907
Agree. That should (must) be dictated by the signing key being used. Regardless, much kudos for supporting ECC. This is often overlooked in code signing. I suppose the standard NIST curves would apply here. However, macOS doesn't readily support some of the curves Windows does (p521, brainpool). I don't know if you want to limit *at signing time* which curves you support for signing.

I would reco

[2017-10-03 02:08] clairernovotny commented on #5907
For that callback, it should be async. The signature should essentially be `Task<(byte[], X509Certificate2)> SignCallback(byte[] digest, HashAlgorithm algorithm)`

Idea being that the public certificate (and its chain) come in externally to the library. It should not assume `X509Store` at all.

[2017-10-03 02:30] vcsjones commented on #5907
I would suggest that last parameter be a `HashAlgorithmName`. The other thing that it needs to take in is which certificate the user selected, or some kind of configuration. Therefore I would propose (in pseudo code):

[code]

The `certificateIdentifier` parameter would be an opaque value that the consumer of the signer API would choose. It could be the DN of the certificate, a thumbprint, etc. Th

[2017-10-03 04:25] mellinoe commented on #5655
@rohit21agrawal Which release will this be fixed in?

[2017-10-03 05:45] palikhe commented on #3353
I'm same same issues with .edmx file and Context.tt . I had some major changes in the database and after this everytime i rebuild am getting file could not be found in your work-space or you don't have permission to access it.

[2017-10-03 06:05] jariq commented on #5907
@vcsjones I think `SignCallback` should be split into two separate callbacks. One would return `Certificate` and `AdditionalCertificates` and the other one would return `Signature`. The reason is that the signing process usually needs to have certificate content (to construct `ESSCertID` and similar attributes) long before it computes the final hash that should be signed with private key.

Therefo

[2017-10-03 06:33] sandersaares commented on #5812
Here you go: https://github.com/sandersaares/repro-nuget-5812

Just attempt to install latest prerelease of NLog into the unit test project there (currently 5.0.0-beta11 for me). This will result in `Failed to add reference. The package 'NLog' tried to add a framework reference to 'System.IO.Compression' which was not found in the GAC. This is possibly a bug in the package. Please contact the pack

[2017-10-03 06:41] ArtOfSettling commented on #5627
Sure!

[2017-10-03 06:41] #5627 closed, assigned to nobody

[2017-10-03 08:30] mooTheo commented on #5972
@mishra14 I'm having the same issue, did you find a workaround?
There are users that are suggesting to increment the version but that did not work in my case.

[2017-10-03 09:35] hkoelewijn commented on #3788
It would be nice if VS allowed you to specify wildcards in the package manager in stead of us having to open the proj file directly

[2017-10-03 13:36] jpierson opened #5980 "Unable to use `dotnet restore` behind corp firewall"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (x.x.x.xxx): 4.3.0.4406

dotnet.exe --version (if appropriate): 2.0.0

VS version (if appropriate): 2015

OS version (i.e. win10 v1607 (14393.321)): Windows 7

Worked before? If so, with which NuGet version: First time tried

## Detailed repro steps so we can see the same problem

[2017-10-03 13:44] mwpowellhtx commented on #5972
I'm receiving a similar error.

The command I am sending is this:

[code]

And the result:

[code]

My current NuGet version:

[code]

I also checked whether my API Key was expiring, etc, or not. It's an original key, for instance; never expires, scoped to all.

Should we be using NuGet API v3 instead of v2?

[2017-10-03 14:22] dagood commented on #5817
Looks to me like it could be caused by how CLI passes these args to MSBuild for NuGet, and the logging in the NuGet task just isn't quite enough to tell what's going on.

https://github.com/dotnet/cli/blob/85ce73dfb5caae60a0d225b0fb02ce9a7c216373/src/dotnet/commands/dotnet-restore/RestoreCommandParser.cs#L48-L50

I realized this could be a problem because defining `<RestoreSources>a;https://b</Res

[2017-10-03 14:58] mwpowellhtx commented on #5972
Similar report from me as the OP here. I was pushing packages perhaps a month ago. Now all of a sudden, not working for me. See my previous remarks an hour ago. Any update on the status of this? Perhaps it is v2 "deprecation"? Use v3 instead? It's a block for me at the moment. Thank you.

[2017-10-03 16:13] mwpowellhtx commented on #5972
Does this have anything to do with legacy API keys? In other words, are legacy keys being rejected and we must now generate new keys in whatever scope(s) are appropriate to us?

[2017-10-03 16:18] anangaur commented on #5972
Can you try the latest client i.e. 4.3.0?

[2017-10-03 16:23] mwpowellhtx commented on #5972
@anangaur A [new client](http://www.nuget.org/downloads)? Of course. I can definitely try that, thank you.

Yes, that was it, thanks!

[2017-10-03 17:30] rohit21agrawal commented on #5812
@PatoBeltran could you take a look at this and find a repro?

[2017-10-03 18:25] mishra14 commented on #5972
@mooTheo can you please try to push with the [latest nuget client](https://www.nuget.org/downloads)?

[2017-10-03 20:17] zvirja opened #5981 "dotnet pack might include the same file multiple times, producing invalid package"
## Details about Problem
VS version: 2017 Update 3
dotnet --version: 2.0.0

`dotnet pack` could include the same file multiple times, producing invalid packages.

## Detailed repro steps so we can see the same problem
1. Create project with the following content:
[code]

Motivation - I use SourceLink and want my primary package to include `pdb` files. Also I want to produce package with sources to

[2017-10-03 21:01] rohit21agrawal commented on #5981
@zvirja i believe this issue has been fixed by : https://github.com/NuGet/NuGet.Client/commit/f422abd6b2f789bfbb75235355f145fd6e3f833e

this will be available in Visual Studio 2017 Update 4.

If you want  to try it out right away, you can use the latest sdk/cli from : https://github.com/dotnet/cli/tree/release/15.5

Also, we have a new feature that will enable you to include pdbs in your main pack

[2017-10-03 21:04] rohit21agrawal commented on #5979
nuget.exe pack currently doesn't support package reference based projects.

To package your C# Class Library which manages your dependencies via PackageReference in the csproj itself, please add a reference to NuGet.Build.Tasks.Pack ( https://www.nuget.org/packages/NuGet.Build.Tasks.Pack/) and run msbuild /t:pack from the command line.

we are still actively working on improving this scenario, ple

[2017-10-03 23:01] zarenner opened #5982 "Plugin credential providers do not work with URIs containing spaces"
There's a bug in PluginCredentialProvider in that it calls ToString() on the Uri rather than AbsoluteUri. By using ToString(), %20 is converted into a space. When we later construct the process arguments, the uri argument isn't quoted either (and shouldn't have to be, as URIs shouldn't contain literal spaces), so the credential provider gets a partial url.

https://github.com/NuGet/NuGet.Client/bl

[2017-10-03 23:19] mishra14 commented on #5740
Assigning to @anangaur to get more clarity on the need/requirement for this feature.

[2017-10-04 07:57] maartenba commented on #5889
So I read the spec, and found this mention:
`Signed packages will not be strictly required by NuGet.org or NuGet.exe.`

What does this mean for Visual Studio and other IDE's?

[2017-10-04 08:50] fjallemark opened #5983 "Net Core Build should use Company Name as Owner in favor of Authors"
When building NuGet-packages using net core 2.0  the **Authors** property in the csproj are also inserted as **Owner** in the NuGet package. I recommend that the **Company** property in the csproj  is inserted as **Owner** instead.

[2017-10-04 09:02] zvirja commented on #5981
@rohit21agrawal Many thanks for the prompt response! Yes, likely, the issue was fixed by that commit - however should be tested whether paths are normalized now in setter.

For now the workaround I mentioned works, so I'll wait till next VS update and  consume the better API later - it looks awesome! :blush:

[2017-10-04 12:58] MrBirdman commented on #1215
Actually i'm not sure this has done anything:
https://s1.postimg.org/1v7mlicdot/image.png

[2017-10-04 15:47] dee-see commented on #491
I've just updated packages across several solutions for about 200 projects and 13 packages.config were deleted.

[2017-10-04 18:25] dtoroal commented on #4884
Remove all aot

  "runtimes": {
    "win10-arm": {},
    "win10-x86": {},
    "win10-x64": {}
  }

[2017-10-04 18:30] joelverhagen opened #5984 "nuget.exe install does not strip spaces on ID but does on version"
Try this command:
[code]

or
[code]

This results in the following logs:
[code]

So, why not just tell people to... not do that? Well, try this in your .csproj:
[code]

And try this:
[code]

Works great. If we are supporting this in checked in, long living artifacts, I think we should support this on the command line where leading or trailing whitespace is easy to come by.

[2017-10-04 18:35] livarcocc opened #5985 "Incorrect diagnostic for floating versions"
_From @abpiskunov on February 9, 2017 16:30_

From @davidfowl :

![incorrect-diagnostic](https://cloud.githubusercontent.com/assets/1592091/22792531/f014062c-eea1-11e6-9008-f3062ab5ca84.png)

This shouldn't happen for floating versions...

_Copied from original issue: dotnet/sdk#845_

[2017-10-04 19:01] KirillOsenkov opened #5986 "PackageReference: Need control over the selection for individual .dlls"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
MSBuild 15.3 <PackageReference> elements.

VS version (if appropriate):
15.3 or newer

## Detailed repro steps so we can see the same problem

I don't see a way to control whether the .dll from PackageReference gets copied to output or not.

Additionally, if I have ProjectA with a PackageRefere

[2017-10-04 19:32] emgarten commented on #5985
I can't find `Dependency conflict` in the nuget code base, is it possible that this message is created by build? Everything should come from project.assets.json now that warnings/errors are written there by restore.

This is likely fixed in VS 15.3 already

[2017-10-04 19:59] mishra14 commented on #5941
Update: I was able to confirm that this is caused by ordering in the assets file. I am working on a fix for this.

[2017-10-04 20:49] rafaelromao commented on #5979
I will try that. Thanks, @rohit21agrawal.

[2017-10-04 21:01] zhili1208 commented on #5928
I think the ask here is not "Add support for SQL", we need to ignore sqlproj during restore like what we did for .shproj in nuget.exe.

[2017-10-04 21:12] abpiskunov commented on #5985
@natidea could you please confirm if this is still an issue?

[2017-10-04 21:16] natidea commented on #5985
This is fixed in 15.3. The code path was removed.

[2017-10-04 21:27] dozer75 commented on #5927
Sure, if you think it is a duplicate. As a sidenote; we also have a LSL solution and get the same issue there. Not only without.

I have now dropped Multiple TFM's and gone for seperate projects since this multiple TFM system is quite faulty and I don't have time to investigate every issue arising.

[2017-10-04 21:30] anangaur opened #5987 "NuGet.org protocol to 'push' packages"

[2017-10-04 21:30] anangaur commented on #5987
Wrong repo. Hence closing it.

[2017-10-04 21:30] #5987 closed, assigned to nobody

[2017-10-04 21:47] rafaelromao commented on #5979
@rohit21agrawal , my project is .NET 4.5. `msbuild /t:pack` says the target framework version is invalid. I tried 4.6.2 just to test and received the same error. I also tried a similar package named NuGet.Build.Packaging, but it did not produce any output. Probably I'm missing something. Can you point me to some resources that explain how to configure my project to use NuGet.Build.Tasks.Pack?

[2017-10-04 21:49] rohit21agrawal commented on #5979
@rafaelromao  oh sorry, i forgot to specify - you will have to add a property ``` <TargetFramework>net462</TargetFramework> ``` in your csproj (doesn't have to be net462, can be net45 if that's what you are targeting) .

[2017-10-04 22:02] rohit21agrawal commented on #5979
if it also complains about Authors, then set a property for ``` <Authors> ``` as well.

[2017-10-04 22:05] mishra14 commented on #3540
pinging @rohit21agrawal to take a peek.

[2017-10-04 22:14] rafaelromao commented on #5979
I could make a PoC work by running:
`msbuild.exe -t:Pack -p:Configuration=Release -p:TargetFramework=net45 -p:Authors=test`.
Now I will follow this guideline https://docs.microsoft.com/en-us/nuget/schema/msbuild-targets to make it work as I need.
I will configure the properties in csproj as you suggests.
Thanks

[2017-10-04 22:17] rohit21agrawal commented on #5979
Awesome! Please note that this scenario is still a work in progress (original msbuild /t:pack was designed to work with NETCore SDK based projects identified by having ``` <Project Sdk="Microsoft.NET.Sdk"> ``` at the top of the project file) and we would appreciate any feedback that you have for this scenario.

[2017-10-04 22:18] rafaelromao commented on #5979
Sure. I will comment here if I have any issues implementing that. Thanks

[2017-10-04 22:20] anangaur opened #5988 "Implement 'X-NuGet-Protocol-Version' for push operations"
More details can be found here: https://github.com/NuGet/Announcements/issues/10

[2017-10-04 22:21] rohit21agrawal commented on #5979
we already have a tracking issue for this effort : https://github.com/NuGet/Home/issues/5918 . I am going to close this issue and would appreciate if you can comment on the tracking issue.

[2017-10-04 22:21] #5979 closed, assigned to nobody

[2017-10-04 22:38] rido-min commented on #5889
@maartenba one of the design goals is to maintain backwards compatibility with existing clients. We are not planning to require signed packages in NuGet.org, NuGet.exe or Visual Studio.

I'm updating the spec to clarify.

Thanks for the feedback !!

[2017-10-04 22:41] rohit21agrawal commented on #5981
@zvirja i am going to close this issue, if you would like to verify it on your end, download the CLI i linked to in my above commit and try it out!

feel free to reactivate if you see any other issues

[2017-10-04 22:41] #5981 closed, assigned to nobody

[2017-10-04 22:49] mishra14 commented on #5985
@natidea in that case can we close this issue?

[2017-10-04 23:03] mishra14 opened #5989 "Disabling the "Always show error list..." option is ignored by NuGet for legacy csproj"
VS Feedback ID: 480086

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS

NuGet version (x.x.x.xxx): 4.4.4475

## Detailed repro steps so we can see the same problem

1. Create a new legacy csproj project -> .NetFramework Class library

2. Tools -> Options -> NuGet Package Manager -> Set default format to PackageReference

3. Tools -> Opti

[2017-10-04 23:40] natidea commented on #5985
@mishra14 yes, you can close this

[2017-10-04 23:50] mishra14 commented on #5907
@jariq @vcsjones Thanks for bringing this up. I have removed the param `-SigningAlgorithm`. I will go through the rest of the comments as well.

[2017-10-05 00:07] mishra14 commented on #5985
Thanks @natidea

[2017-10-05 00:07] #5985 closed, assigned to nobody

[2017-10-05 00:27] nkolev92 commented on #5894
@AArnott
I can repro and I'm trying to figure out a NuGet side fix.
The root cause is in the generation of the tmp_proj, but if a fix was shipped on WPF side the adoption would be significantly slower.

On a different note,
I'm having trouble building the project with your package in legacy packref because of duplicate assembly attributes.
[code]

Are you aware of this issue?

[2017-10-05 00:51] AArnott commented on #5894
The duplicate assembly attributes build break is due to https://github.com/dotnet/sdk/issues/1142. After package restore, do a rebuild (or delete the generated .cs files under the project's obj folder) to get going again.

Thanks for looking into this. Yes, WPF's tmp_proj is bad on many levels but "fixing" that will not likely happen quickly. So the best NuGet can do is workaround it.

[2017-10-05 05:45] bradphelan opened #5990 "I was asked to list some pain points to updating to PackageReference"
https://twitter.com/adgrv/status/915682007664824320

Package Reference
============
Note we have a very large solution with 50 sub projects. The main point
is the unbearable slowness and continual stalling of visual studio 2017
during restore operations.

This is the number one pain point. Every time a small change is made
to a project file VS2017 stops the world and starts "restoring packages"
an

[2017-10-05 06:24] BrunoJuchli commented on #5990
The missing WPF support and swallowed build errors are blockers for us, too.
Our solution has 59projects, 4 of them WPF, 1 console application and the rest are libraries.

I'd be fine with manually converting the project, as we have quite some build customizing going on, and with the new Directory.Build.props / .targets we'll most likely modify that, too - thus we'll have to touch the project file

[2017-10-05 06:42] bradphelan commented on #5990
@BrunoJuchli The workaround for missing errors support is https://github.com/aienabled/WpfNetStandardSample/issues/1#issuecomment-334165102

[2017-10-05 07:10] bradphelan opened #5991 "[Enhancement] Intellisense in CSPROJ files should have fuzzy case insensitive matching"
https://twitter.com/bradgonesurfing/status/915835615597531137

matches

doesn't. I'm not sure if nuget is case sensitive but intellisense for package matching should use something like case insensitive Levenshein distance metrics. It's easy to forget the exact name of a package and even remembering the exact prefix of a package can be easy to get wrong. Then you have to go hit google to find the r

[2017-10-05 07:29] rohit21agrawal commented on #5990
@bradphelan  - we are currently investing our resources into making the transition from packages.config to packageReference easier for developers by building a tool and solving existing ecosystem problems. Here is the tracking bug for this : https://github.com/NuGet/Home/issues/5877 . The tmp_proj compilation issue that you are having is also being actively worked upon by @nkolev92 .

I would also

[2017-10-05 07:47] bradphelan commented on #5990
@rohit21agrawal Thanks for the pointers. However we extensively use ReactiveUI.Fody and for some reason they claim that they can't support old style csproj with new style PackageReference .

https://github.com/Fody/Fody

![image](https://user-images.githubusercontent.com/17650/31215987-1aa54df8-a9b2-11e7-9084-aaeacc07ce97.png)

So I've taken the deep dive and converted everything. I'm about 50% do

[2017-10-05 07:49] rohit21agrawal commented on #5990
we will reach out to them to see what's blocking them from working on old .csproj format with new PackageReference style.

Until then, please keep the feedback coming so we can make this transition as seamless as possible :)

[2017-10-05 08:25] bradphelan commented on #5990
Another friction point. Intellisense in csproj file. It's great that we get intellisense for nuget packages but it is missing for project references. Also the matching should be fuzzy and case insensitive as I don't always remember the exact name of a package.

[2017-10-05 10:29] neman commented on #4687
I got the same warning with `dotnet pack` (SDK 2.0)

The only way to suppress these warnings was to use `dotnet pack /p:NoPackageAnalysis=true`

[2017-10-05 12:20] bradphelan commented on #5990
Another point. Globbing and dependencies is hard to figure out. See this question I have asked

https://stackoverflow.com/questions/46584499/how-to-add-a-glob-for-resx-files-for-new-sdk-csproj-file

[2017-10-05 13:10] davidfowl commented on #5990
Most of these other complaints have nothing to do with package reference specifically...

[2017-10-05 14:06] BobbyCannon commented on #2365
Sorry been distracted the last few days. I'm good now. I created a .targets file and got it working that way? Everything seems to be working well... so I guess I'm good.

[2017-10-05 14:10] BobbyCannon commented on #2365
Is there a way to setup a nuget to set
`"<ExcludeAssets>runtime</ExcludeAssets>" `
this via the .nuget file?

[2017-10-05 16:22] livarcocc opened #5992 "NuGet push xplat path issues."
_From @wojciechrak on October 5, 2017 13:56_

## Steps to reproduce
`nuget push C:\dev/nugets\*.nupkg`

## Expected  behavior
All packages in directory C:\dev\nugets are pushed to nuget repository.

## Actual behavior
Error is returned
`File does not exist (c:\dev/nugets\*.nupkg).`

## Additional notes
`nuget pack -OutputDirectory C:\dev/nugets\` or `nuget pack solutiondir/projectdir/project.cspro

[2017-10-05 16:42] anangaur commented on #5992
/cc @emgarten, can we make the paths platform independent everywhere? I am not familiar with Mac but does \ have any special meaning on Mac? I am asking this because it would be nice to support both / and \ or mix-match of these two on all platforms, otherwise.

[2017-10-05 18:48] mishra14 opened #5993 "Package versions not ordered correctly when using full semver 2.0"
VS Feedback Item - 501328

I'm having the problem with sorting in "manage package for solution page", but also in automatic references upgrading of packages within the projects. I have this 2 packages in my repository:
0.0.0-branchname.10
0.0.0-branchname.9
but 0.0.0-branchname.9 is considered as latest, which is wrong obviouslyI think last number is not taken as number but as string which I think

[2017-10-05 18:49] mishra14 commented on #5993
On a quick look I saw that the packages were not correctly ordered in our UI either -

![2017-10-05 2](https://user-images.githubusercontent.com/10507120/31246731-3116e702-a9c3-11e7-8c17-9d85cfd844d6.png)

---------

Seems I had a wrong repro. The ordering is correct here.

[2017-10-05 20:12] somaraghuveer commented on #2443
My Solution had different package sources defined. My VS15 was defaulting to a particular source in which I do not have the package I was looking to download.
Here is what worked for me:
Manage Nuget Packages >> Clicking on the settings icon next to _Package source_ field and unchecking the other package sources, I was successfully able to install the packages I needed.

[2017-10-05 21:16] jainaashish opened #5994 "NuGet Pack modifies the escape character to escape code in file path"
While packing a NuGet package, file path is being updated to have escape code instead of actual character in output nupkg.

Steps:
1. Take this sample solution https://github.com/NuGet/Samples/tree/master/ContentFilesExample/authoring
2. With latest NuGet.exe, run `nuget pack ContentFilesExample.nuspec -Exclude pack.ps1`

Expected:
.nupkg has `ContentFilesExample.1.0.0.nupkg\contentFiles\cs\portab

[2017-10-05 22:16] mishra14 commented on #5970
Current Action Items -

1. Understand and remove the need for [nuget patches](https://github.com/dotnet/source-build/issues/172)
2. Investigate NuGet issues that might be blocking the build from source process, [here](https://github.com/dotnet/source-build/issues/107) and [here](https://github.com/dotnet/source-build/issues/108).

[2017-10-05 22:35] PatoBeltran commented on #5976
Hello @OryanHassidim, thanks for reporting this issue! I have been looking at it and opened a PR with a fix.

[2017-10-05 23:05] PatoBeltran commented on #5980
Hey @jpierson thanks for opening this issue! Have you tried using nuget.exe `config` command to add your `http_proxy` configurations? [Here](https://docs.microsoft.com/en-us/nuget/tools/nuget-exe-cli-reference#config) is a link to our docs. You could also see [this](https://stackoverflow.com/a/15463892) SO answer that might be helpful. Please let me know if this fixes your issue!

[2017-10-05 23:15] jariq commented on #5907
I am not quite sure that "certificate store" and "CNG/CAPI" providers need to be treated as a separate certificate sources and I also don't understand what are `-CryptographicServiceProvider` and `-KeyContainer` options good for.

In my experience certificate that is present in the store can be linked with the private key managed by CNG or CAPI provider. And since .NET Framework 4.6 I almost never

[2017-10-05 23:21] rohit21agrawal commented on #5994
Dupe of https://github.com/NuGet/Home/issues/5956

[2017-10-05 23:21] #5994 closed, assigned to nobody

[2017-10-05 23:31] rohit21agrawal commented on #5992
\ on mac and linux is a valid character for filenames and not treated as a directory separator char.

we normalize paths everywhere, but this might be one of the few places where we don't , good catch.

[2017-10-05 23:43] PatoBeltran commented on #5986
@nkolev92 can you please take a look at this?

[2017-10-05 23:48] nkolev92 commented on #5986
@KirillOsenkov
If I understand your scenario correctly
```<PrivateAssets>all</PrivateAssets> ``` should do it.

https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files#controlling-dependency-assets

[2017-10-06 00:07] KirillOsenkov commented on #5986
Not quite.

In non-SDK-style projects, set the `<CopyNuGetImplementations>false</CopyNuGetImplementations>` to not copy the binaries from the referenced packages to output. This also applies to transitively "inherited" packages from PackageReference elements in referenced projects.

In SDK-style projects there's a similar property: `<CopyLocalLockFileAssemblies>false</CopyLocalLockFileAssemblies>`

[2017-10-06 00:09] KirillOsenkov commented on #5986
Also with PrivateAssets the problem is that I do want a reference to the .dll added to my project, but not copied to output. With CopyNuGetImplementations=false I can just rely on the inherited transitive package references. However to use PrivateAssets I need to duplicate the PackageReferences from ProjectA in ProjectB, which defeats the purpose of transitivity.

[2017-10-06 00:19] rohit21agrawal commented on #5986
ExcludeAssets=runtime does that, but it will apply to every dll in the lib folder

[2017-10-06 00:23] nkolev92 commented on #5986
Clear.
Currently we don't have any type of granular control of package assets of the same category.
//cc
@emgarten

[2017-10-06 02:45] jpierson commented on #5980
I've tried the config command, that is how I was able to get my generated encrypted password in my config. I've also tried the basic concept from the SO post as shown above except I set my config values in my local config file. I'm confident the local file was picked up though based on the log messages attached.

[2017-10-06 02:58] emgarten commented on #5993
@mishra14 the screen shot looks correct to me, what version are you expecting as the latest?

[2017-10-06 03:04] emgarten opened #5995 "Assets from packages are missing after restore"
Some users have reported that after restoring assets such as System.Runtime are missing from the assets file.

This is potentially caused by restore happening while the fallback folder is still being created. The problem is made much worse by how restore reuses file lists from previous restores for the next restore. To improve this experience restore should read the files from disk each time inste

[2017-10-06 06:37] risogolo commented on #5993
Have you used .* convention? 0.0.0-branchname.* when referencing, then you will probably get version 9 as latest, not 10, at least I'm experiencing that kind of issue

[2017-10-06 07:04] emgarten commented on #5993
@risogolo take a look at the screenshot

[2017-10-06 07:12] risogolo commented on #5993
I'm afraid, this information is not visible on the screenshot

[2017-10-06 07:20] risogolo commented on #5993
what kind of repository have you used? recently I got on advice to delete obj folders from projects, but also this may be caused by different nuget repository manager. In my case. Also look at my screenshot now I'm talking only about websocket branch, I'm expecting 15 to be up as 1st
![image](https://user-images.githubusercontent.com/13233569/31267159-6aa78314-aa77-11e7-85dd-61ad78c3616e.png)

[2017-10-06 07:30] risogolo commented on #5993
In solution explorer I see v3, but in nuget package search v0, I'm using  Version="0.0.0-websockets.*"
![image](https://user-images.githubusercontent.com/13233569/31267564-e572f29e-aa78-11e7-91b6-9f43dea13baf.png)

[2017-10-06 10:26] ievgennaida opened #5996 "References are not updated properly for a csproj files."
Hello.
The problem can be reproduced only sometimes. Visual studio 2013 and Visual studio 2015.

Nuget version: 4.3.0.4168
[code]

We have few big solutions with many projects in it.
And sometimes references are not updated properly.
Some files are updated ok and  some not.
I cannot find any regularities.

Example (the csproj file):
[code]

See that **Include and Hint Path** has different versions

[2017-10-06 13:15] MJeorrett commented on #5918
This is causing issues for us as we are wanting to create nuget packages in VSTS build.  Only the "Nuget pack" step supports auto setting the version number so I am probably going to have to use something like [this](https://liftcodeplay.com/2017/03/23/how-to-build-and-host-a-nuget-package-using-vs2017-and-net-standard-in-vsts/) in the meantime to set the version with a powershell script.  Whilst

[2017-10-06 13:23] atrauzzi commented on #5594
@emgarten - Is this `WarningsAsErrors` property documented anywhere?  What's the syntax in XML to clear it?

[2017-10-06 13:34] TAGC commented on #5594
@atrauzzi You can disable these warnings using the following:

[code]

[2017-10-06 13:58] kekekeks commented on #5400
I'm constantly getting errors like
[code]
It means that `System.IO.Pipes (4.0.0)` is satisfied with `System.Net.Primitives (>= 4.0.11)`, but requires `runtime.unix.System.Net.Sockets (>= 4.3.0)` which in turn wants `System.Net.Primitives (>= 4.3.0)`.

Dependency graph could be resolved by using `System.Net.Primitives = 4.3.0`, but for some reason nuget decided that it should use `System.Net.Primit

[2017-10-06 14:22] kekekeks commented on #5400
Can we have explicit control over downgrades? Something like
[code]

That will resolve cases when downgrade is actually desired and won't cause issues otherwise,

[2017-10-06 15:19] stijnherreman opened #5997 "Reinstalling a single package causes reinstallation of every package in the solution"
## Details about Problem

After retargetting a project to a different .NET version, I followed the instructions to reinstall some packages. Instead of reinstalling a single package, it reinstalled every package in the solution.

NuGet product used: Package Manager Console

NuGet version: NuGet Package Manager 4.3.1, Package Manager Console Host Version 4.3.1.4445

VS version: Enterprise 2017

OS v

[2017-10-06 17:00] erezvani1529 commented on #5972
confirming that the latest version works.

Thanks!

[2017-10-06 17:29] Petermarcu opened #5998 "We need docs for AssetTargetFallback, both generally and migrating from PackageTargetFallback ."
@richlander opened this here: https://github.com/dotnet/core/issues/725

We need docs for AssetTargetFallback, both generally and migrating from PackageTargetFallback .

[2017-10-06 17:57] emgarten commented on #5993
@risogolo the NuGet UI doesn't show the actual resolved version, but solution explorer does. Is `.3` the correct version?

[2017-10-06 17:59] emgarten commented on #5594
@atrauzzi take a look at https://blog.nuget.org/20170815/Whats-nu-in-NuGet-with-VS2017-15-3.html#msbuild-integration-of-nuget-warnings-and-errors

[2017-10-06 18:13] Petermarcu opened #5999 "<NoWarn>NU1701</NoWarn> ignored on project reference"
@mafalarz reported this issue here: https://github.com/dotnet/core/issues/869

<NoWarn>NU1701</NoWarn> ignored on project reference

Despite adding the` <NoWarn>NU1701</NoWarn>` on all my project reference like this:
[code]
I still get the warning message

Also on publishing Nugget and adding <`NoWarn>NU1701</NoWarn` to my nugget package:

[code]
I keep getting warning:

I think this is because my

[2017-10-06 18:13] emgarten commented on #5400
@kekekeks you can do this as of VS 15.3

[code]

See: https://blog.nuget.org/20170815/Whats-nu-in-NuGet-with-VS2017-15-3.html#msbuild-integration-of-nuget-warnings-and-errors

Here is more explanation on how the resolver selects package versions: https://docs.microsoft.com/en-us/nuget/consume-packages/dependency-resolution

You can override this by referencing the package top level in your project

[2017-10-06 18:16] kekekeks commented on #5400
NoWarn removes the warning, but doesn't prevent the downgrade. That's the opposite of what I need. I don't want downgrades to *ever* happen in my projects, I want NuGet to grab package version that satisfies package dependencies, not some arbitrary nuget policy.

[2017-10-06 18:19] kekekeks commented on #5400
Basically I want a way to disable `nearest-wins` policy completely and have `satisfy-all-dependencies` policy instead.

[2017-10-06 18:34] mghextreme opened #6000 "Build action not applying to contentFiles"
## Details about Problem

Dear Nuget community,

I've been stuck for some time now and I need your help. I've been trying to solve a single problem: attach a .dll file to a project (as an Embedded Resource). I had a relatively easy way placing it as a content, but having it as an Embedded Resource just doesn't work! It places the file in the correct place, but sets the Build Action to "Content".

[2017-10-06 19:37] nschwerzler commented on #5892
After experimenting with the code, I found that by allowing pack to take a config file, it no longer tries to read the default config file(s) if you pass in a config to the pack command. This solves the problem we are seeing.

[2017-10-07 00:47] davidfowl commented on #5400
I just disagree with this completely. Giving control over the algorithm I think is a non starter. Explicitly describing a top level dependency is a statement of intent, if you don't want the downgrade, don't reference the package directly.

[2017-10-07 03:42] Petermarcu commented on #5995
Looks like this is getting hit by lots of users. https://github.com/dotnet/core/issues/1006 is another issue with multiple people saying they hit it.

[2017-10-07 05:43] JohnBergman commented on #1401
Any progress on including this in a build soon?

[2017-10-07 23:28] dougbu opened #6001 "Spurious "not added because the package already contains file" warnings"
This is really two bugs: The files chosen automatically for inclusion when packing may contain duplicates. And, `NuGet.exe` emits warnings about the duplicates despite the user making no explicit choices.

Though these are "just warnings" it's very annoying, especially when a repo contains lots of packable projects. And, affected solutions have no workaround except completely changing the layout o

[2017-10-08 16:03] jmezach opened #6002 "Expose package metadata in PM Console"
This is not so much an issue, but more of a discussion topic. It would be nice if more of the package's metadata was exposed inside the Package Manager Console. Currently only the package ID, version and license URL are available when using Get-Package for a locally installed package for example. But we do not have other metadata, such as tags. Neither do we have the install location for the packa

[2017-10-09 00:16] rocker8942 commented on #5240
Hi,

I have the same issue. @mirecg seems pointed out exact spot.  Can anyone help on this?

[2017-10-09 00:47] Petermarcu commented on #5995
Perhaps another ref count? https://github.com/dotnet/standard/issues/528

[2017-10-09 06:27] ekarlso commented on #3664
Any reason why this isnt fixed? It makes having a private repo totally useless in our case..

[2017-10-09 07:54] dardino commented on #4884
I will try as soon as possible

[2017-10-09 11:40] jamescrowley commented on #4821
Anyone got an update on this? Is the best workaround still to copy files from a dev machine with VS 2017 installed? Thanks!

[2017-10-09 15:34] EckyZero commented on #5720
Bump. Any update on this?

[2017-10-09 17:00] livarcocc opened #6003 "dotnet restore fails with private feeds on MacOS Sierra"
_From @felpel on October 9, 2017 3:0_

## Steps to reproduce
- Create a private feed on VSTS;
- Clone VSTS' Git repository;
- Configure `NuGet.config` accordingly:
[code]
- Call `dotnet restore`

## Expected  behavior
I should be able to restore my private feeds' packages. It works fine in a similar Windows environment.

## Actual behavior
I'm unable to restore packages from our private VSTS feeds

[2017-10-09 17:28] nkolev92 commented on #2365
@BobbyCannon I'm not sure what do you mean by the .nuget file.

If you have a different concern, would you mind creating a different issue so we don't pollute this one with not relevant info. https://github.com/NuGet/Home/issues/new

Thanks.

[2017-10-09 18:10] #5968 closed, assigned to PatoBeltran

[2017-10-09 18:21] #5732 closed, assigned to PatoBeltran

[2017-10-09 18:21] #5948 closed, assigned to PatoBeltran

[2017-10-09 18:29] #5976 closed, assigned to PatoBeltran

[2017-10-09 18:34] jpierson commented on #5980
I believe I have found a solution to the issue I was having. I believe our organization has a policy through our proxy to force use of HTTPS and possibly some centrally controlled settings on each dev machine to force NuGet to do the same. Either way appending an "s" to "http" for all of the proxy settings listed seems to have addressed my problem and allowed me to run `dotnet restore` without err

[2017-10-09 18:37] PatoBeltran commented on #5980
Nice to hear you were able to find a solution for your issue!

[2017-10-09 18:37] #5980 closed, assigned to nobody

[2017-10-09 20:26] unniravindranathan-okta opened #6004 "Cookier Banner does not behavior on the NuGet blog"
a) The banner should only show up in the right locales (not in the US).
b) There is no way to dismiss
c) Navigating to an article and coming back to the blog gets rid of the banner (wrong behavior).

[2017-10-09 20:27] dtivel opened #6005 "[Spec]: add command for verifying signed packages"
https://github.com/NuGet/Home/wiki/NuGet-Verify-Command

[2017-10-09 20:28] dtivel opened #6006 "[Feature]: add command for verifying signed packages"

[2017-10-09 20:31] dtivel commented on #6005
A new command is necessary to verify a signed package from the command line.  Use "signtool verify /v" as an inspiration.

[2017-10-09 20:57] mishra14 commented on #5907
@jariq Thanks for the detailed feedback. I agree, certificate store and CNG/CAPI do not need to be a separate source. -CryptographicServiceProvider and -KeyContainer options can be used to supply the private key in case the certificate does not contain the private key.

[2017-10-09 20:57] jainaashish commented on #5958
We explicitly avoid adding these content files into `projectName.csproj.nuget.g.props` file with the help of `skipContentFileWrite` flag in assets file. Because classic project system build tasks takes care of these  content files and making them available as part of projects via design-time builds.

[2017-10-09 20:57] #5958 closed, assigned to jainaashish

[2017-10-09 20:58] mishra14 commented on #5907
@emgarten can you please look at the API requests/feedback?

[2017-10-09 21:06] rohit21agrawal opened #6007 "partial-ngen nuget DLLs which ship in VS to reduce JIT cost in core scenarios"
Figure out the right set of DLLs to ngen, measure JIT time and see if it Ngen'ing has any advantages, run it by the VS Perf and Reliability team.

[2017-10-09 21:11] rohit21agrawal commented on #6000
@jainaashish your recently investigated contentFiles, any idea abouut this issue?

[2017-10-09 21:15] rohit21agrawal commented on #5996
@ievgennaida the Version in the Include string is the AssemblyVersion , while the version you seen on the hint path is the NuGet package version , and it's acceptable that both may differ. Versioning is a choice that the package author makes and nuget just respects that decision.

Are you seeing any issues functionality wise?

[2017-10-09 21:24] rohit21agrawal commented on #5999
@mishra14 can you take a look?

[2017-10-09 21:26] JunTaoLuo opened #6008 "Restore requires RestoreSources to be specified in project dependencies"
_From @JunTaoLuo on October 9, 2017 21:24_

## Issue:
I have a ProjectFoo that takes a project dependency on ProjectBar and a package dependency on PackageBaz. PackageBaz is on a separate feed so I update the RestoreSources of ProjectFoo. ProjectBar doesn't depend on PackageBaz but still need to add the feed for the entire project to restore. This is unintuitive so why is it required?

## Repro:
h

[2017-10-09 21:26] JunTaoLuo commented on #6008
Oops, this should go to nuget.

[2017-10-09 21:27] JunTaoLuo commented on #6008
cc @emgarten

[2017-10-09 21:30] rohit21agrawal commented on #6002
@jmezach thanks for the feedback! We will take it under consideration. Currently, may i suggest using our APIs to parse the nuspec file yourself and getting all the metadata you need.

Let me know if you need a working example.

[2017-10-09 21:31] rohit21agrawal commented on #6003
@felpel how are you providing credentials for this source?

[2017-10-09 21:36] mishra14 commented on #5999
@mafalarz Thanks for reporting the issue. Let me answer the 2 cases that you are facing -

1. Despite adding the<NoWarn>NU1701</NoWarn> on all my project reference....
We do not support adding NoWarn in a project reference. You should instead add a `<NoWarn>NU1701</NoWarn>` to `..\Reports\Reports.csproj`.

2. Also on publishing Nugget and adding <NoWarn>NU1701</NoWarn to my nugget package....
We d

[2017-10-09 22:00] ghost commented on #5999
@mishra14 Thanks for the workaround :)
I'll keep track of #5740 to see the outcome of the design change request

[2017-10-09 22:20] rido-min commented on #5889
Spec Update: After additional feedback, we have decided to do not show any visual indicator for signed packages.

[2017-10-09 22:26] rido-min commented on #2577
Spec Update: After additional feedback, we have decided to do not show any visual indicator for signed packages in the Package Manager UI. (To discuss this specific feature please use #5889 issue)

[2017-10-09 23:05] #5969 closed, assigned to PatoBeltran

[2017-10-09 23:15] clairernovotny commented on #5889
@rido-min does it at least show the subject from the certificate as the author instead of what's in the metadata (which could be anything)?

[2017-10-09 23:24] mishra14 commented on #5999
@mafalarz Thanks for getting back to us. I will close this issue as a dupe of  #5740

[2017-10-09 23:24] #5999 closed, assigned to mishra14

[2017-10-09 23:36] emgarten commented on #6008
Here are the recommended ways to set the sources:
* Pass RestoreSources as a global property from the MSBuild command line, or from the dotnet.exe resore command line.
* Include a common props file where RestoreSources is set
* Add a nuget.config file to the root folder which contains the sources

I agree that flowing sources transitively between projects makes sense for this scenario, but it also

[2017-10-09 23:45] rrelyea commented on #5977
@emgarten is right...we need to push package authors to get all the way to netstandard 2.0.
we'll keep this idea in mind, but right now it doesn't seem like something we can/should do.
Thanks for the feedback/idea.

[2017-10-09 23:45] #5977 closed, assigned to nobody

[2017-10-09 23:48] rrelyea commented on #5982
Thanks for finding and sending the PR.

[2017-10-09 23:52] rrelyea commented on #5983
@rohit21agrawal - can you take a quick look at this suggestion?

[2017-10-09 23:53] rido-min commented on #5889
@onovotny

We are not planning to introduce any changes in the UI in stage 1, however, we acknowledge we need to improve how we report package authorship, today we are showing authors in VS and owners in NuGet.org and we would like to have a consistent experience.

[2017-10-09 23:53] rohit21agrawal commented on #5983
we had decided to deprecate Owners in NETCore projects, we just use the same value as Authors to be compatible with the server ask - the point was owners and authors should not be different.

[2017-10-10 00:02] rrelyea commented on #5986
Does @rohit21agrawal's proposal help? (excludeassets runtime)

[2017-10-10 00:06] clairernovotny commented on #5889
For stage 1, sure...I certainly hope that this changes later on though as I believe it's critical to show the subject name from the certificate conspicuously in the UI's.

[2017-10-10 00:09] rrelyea commented on #5988
@anangaur, @skofman1  - we need to discuss the transition plan for nuget.exe.
I'm assuming NuGet.exe 4.1 supports something similar.
What is the plan from the server side...will it support 4.1 and later for a while?
let's chat.

[2017-10-10 00:17] KirillOsenkov commented on #5986
Nope, not quite, see my description above.

[2017-10-10 00:19] rrelyea commented on #5991
@bradphelan  - Is this for an SDK based project? Or for a normal csproj w/ packageref? (please give exact repro steps...open VS...file new project...)

[2017-10-10 01:02] mishra14 commented on #5970
Update from an internal mail -

1.	NuGet.Client team will look at patches/nuget-client and start working on a functional port the patches into NuGet.Client repo leveraging the Repo API parameter for source-build.
a.	Tracking issue: https://github.com/dotnet/source-build/issues/172
b.	Examples of patch removal: https://github.com/dotnet/corefx/commits/dev/release/2.0.0 and https://github.com/dotnet

[2017-10-10 05:47] bradphelan commented on #5991
This is not a bug with a repro. It is an enhancement request on the intellisense completion for the package name in package reference. I assume it works the same for SDK or old style csproj.

repro is simple:

(1) edit a csproj file.
(2) insert a package reference
(3) start typing the name of the package but with spelling mistakes and case errors
(4) visual studio should still suggest close matche

[2017-10-10 06:14] fjallemark commented on #5983
The point is that in my world they are different: Authors are the developers that are writing the software, while the Owner is the legal entity owning the rights to the software. In Visual Studio's NuGet Package property page, there is no Owner field, but a Company field that can serve the same purpose. But the Company field is not included in the NuGet package. So what is the solution to include

[2017-10-10 06:29] jmezach commented on #6002
@rohit21agrawal I would love to do that, but the problem is that I can't figure out where the package is located on disk. With packages.config this can be discovered relatively easily because the package will always be in the packages folder inside the solution directory. However, with PackageReferences this isn't true anymore and it can be in a totally different place.

In fact, I even need to kn

[2017-10-10 07:19] ghost commented on #5720
I don't know if your question is directed to me but I've posted a [link](https://github.com/basbossinkdivverence/nuget-5720-repro) to a repository that reproduces this problem quite some time ago. The reproduction repository can be found [here](https://github.com/basbossinkdivverence/nuget-5720-repro): https://github.com/basbossinkdivverence/nuget-5720-repro .

[2017-10-10 07:48] ievgennaida commented on #5996
@rohit21agrawal
_"Versioning is a choice that the package author makes and nuget just respects that decision."_

Than it's a bug definitely.
I have a solution with a 50 or more projects (tfs+vpn+internal server for a packages) all reference each other. And some are deployed with Nuget. For example I have a lib installed  **Assembly.Contracts 2.4.200** .
The steps I do (vs2013):
1. Click Manage Nug

[2017-10-10 08:13] nkolev92 commented on #4821
@jamescrowley This is fixed in the latest Visual Studio 15.4 release that went out yesterday, 9 October 2017.

[2017-10-10 08:17] nkolev92 commented on #4821
Dupe of https://github.com/NuGet/Home/issues/5562

[2017-10-10 08:17] #4821 closed, assigned to nobody

[2017-10-10 08:20] nkolev92 opened #6009 "Update Package Reference Support documentation"
Update the important box in here.

https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files

And other relevant documentation there.

Issue "inspired" by https://github.com/NuGet/Home/issues/5931

Updating per Karann's request,

The following box:
[code]
is not really correct, as what it's really talking abotu is which project tempaltes have package reference by

[2017-10-10 08:20] nkolev92 commented on #5931
@mishra14 Created https://github.com/NuGet/Home/issues/6009 and linked to our epic.

[2017-10-10 11:22] bradphelan opened #6010 "NuGet Package Manager UI for Solution is slow because restore is run for every project instead of after all projects are updated"
## Details about Problem
Currently Nuget PackageReference type project are still very slow and customers reported same project restored several times over and over again, which not only slows also causes many repeated network calls.
So need of smarter/streamlined restore process which only restore `n` projects in O(n)  runtime which means we restore each project only once.
Runtime analysis: This i

[2017-10-10 12:18] VQuery opened #6011 "Nuget exe throws long path issue"
Errors in packages.config projects
    NU1000: The specified path, file name, or both are too long. The fully qualified file name must be less than 260 cha
racters, and the directory name must be less than 248 characters.

[2017-10-10 14:06] risogolo commented on #5993
yes it suppose to be 3

[2017-10-10 17:30] rohit21agrawal commented on #5996
@ievgennaida sorry i misunderstood your initial question. this definitely seems like a bug, i will try to repro it on my end and investigate the root cause.

[2017-10-10 18:05] anangaur commented on #6010
/cc: @rrelyea @jainaashish
https://twitter.com/GeoffreyHuntley/status/917714192752304128

[2017-10-10 19:05] felpel commented on #6003
On Windows, I'm able to provide my credentials in a browser popup when the command is called. On Mac, I don't get any popups. I'm unsure if this is related to NuGet or the Git Credential Manager for Mac, where I opened originally the issue.

[2017-10-10 19:54] rohit21agrawal commented on #6000
@mghextreme are you trying to consume this in a packages.config project or a PackageReference based project?

If you are trying to use contentFiles, it only works for PackageReference projects , and you will have to place your file in the package in the following structure:

```contentFiles/{codeLanguage}/{TxM}/{any?}```

codeLanguages may be cs, vb, fs, any, or the lowercase equivalent of a given

[2017-10-10 20:01] nukelytide commented on #4126
Are there any plans for this to be looked at sometime soon? There's currently no way to add the source with authentication through the dotnet cli. The only workaround is to add the source then manually patch the config, which is far from ideal.

[2017-10-10 20:37] rrelyea commented on #5998
@karann-msft  - can you please help drive as necessary

[2017-10-10 20:42] rrelyea commented on #5997
Sorry that was not an ideal experience.
Packages.Config was our v1 effort.
As such, we've come up with better ways to do packagemanagement that avoid the need to uninstall/reinstall. Moving to PackageReference in VS2017 is something that you could consider...and we hope to continue investing in that technology to make a great developer experience.
Please let us know how it goes...as we are doing m

[2017-10-10 20:42] #5997 closed, assigned to nobody

[2017-10-10 20:53] rrelyea commented on #5992
We likely have a dupe or two about "/" and "\" in our code base. Let's find the dupes, and make sure we have the mega issue in the backlog.

[2017-10-10 21:27] diverdan92 commented on #5307
Thanks everyone for your input on this feature. The feature is now available and announced on the [announcements repo](https://github.com/NuGet/Announcements/issues/11). You can check out the [documentation](https://docs.microsoft.com/nuget/reference/id-prefix-reservation) as well.

[2017-10-10 21:42] ugreg commented on #5454
Experiencing the same issue with my Dynamics 365 Plugin Library Solution in Visual Studio 2015.

[2017-10-10 21:45] lennoncork commented on #5742
In the end, the solution for us was to use "Directory.Build.Props". Works well with no obvious issues. Thanks to @dasMulli and @emgarten for the help. Closing this as I suspect "Directory.Build.Props" is the correct solution.

[2017-10-10 21:45] #5742 closed, assigned to nobody

[2017-10-10 22:26] stijnherreman commented on #5997
@rrelyea Unfortunately, company policy currently prevents me from upgrading to the new csproj format, but thank you nevertheless for the info.

[2017-10-10 22:53] rohit21agrawal commented on #5720
@basbossinkdivverence this is because you have a project.json in your project. the presence of project.json/nuspec is seen as an indication that the project will be packed and shipepd as a nupkg.

The -IncludeReferencedProject flag only really makes sense when your project is managing dependencies via packages.config file.

Also note that project.json is now deprecated and i strongly urge you to m

[2017-10-10 22:57] #5720 closed, assigned to nobody

[2017-10-10 22:57] mghextreme commented on #6000
Hello, @rohit21agrawal . The path I already tryed to change, but no progress.

I'm using it on a `packages.config` project. The weird thing is: It works to add the file to the Project, the only part that doesn't work is the `Embedded Resource` part... Is there a way to change the project? Or should I use Json? Maybe `.targets` (already tried)? What should I change?

[2017-10-10 23:05] rohit21agrawal commented on #6000
@mghextreme  if you want this to make it work for packages.config based projects, include a targets file (with the same name as that of the package) in the build folder of your package. The targets file can include the embedded resource by specifying a relative path to it within the package.

If you want to go the contentFiles route instead, i would suggest you move all your dependencies to csproj

[2017-10-11 01:27] nschwerzler opened #6012 "The 4th part of version string is getting removed if 0"
## Details about Problem
NuGet product used: NuGet.exe: pack command

The 4th part of the version string is getting removed from the nuspec file contained in the nupkg and nupkg file name if it is .0

Original Nuspec passed into pack command
    <version>9.0.17016.0-170628-1624.someSymVersion</version>

Nuspec resolved in nupkg (missing .0! in version)
    <version>9.0.17016-170628-1624.someSymVer

[2017-10-11 01:38] rohit21agrawal commented on #6012
closing as dupe of : https://github.com/nuget/home/issues/3050

[2017-10-11 01:38] #6012 closed, assigned to nobody

[2017-10-11 05:24] bradphelan opened #6013 "PackageReference - Automatically save project after nuget operations"
## Details about Problem

I selected a nuget package to update. After it is finished the UI still says the package is at the old version. I look on the filesystem and the PackageReferences are still at the old version. I then click save all and all the project files are updated.

I assume that the system forgets to do a save all after doing the nuget update.

[code]

[2017-10-11 05:42] Petermarcu commented on #5995
Another customer fixed with clearing the cache https://github.com/dotnet/standard/issues/439#issuecomment-335675299. Almost gave up on .NET Core.

[2017-10-11 06:03] ghost opened #6014 "NU1603 false warning"
This issue is related to #5757, but not quite the same.

I get the following warning in VS 2017 15.3.4 which I didn't get before:

Severity	Code	Description	Project	File	Line	Suppression State
Warning	NU1603	ManyConsole 0.4.2.20 depends on NDesk.Options (>= 0.2.0) but NDesk.Options 0.2.0 was not found. An approximate best match of NDesk.Options 0.2.1 was resolved.

I cannot see how this should lea

[2017-10-11 06:10] #5414 closed, assigned to nkolev92

[2017-10-11 06:10] Petermarcu commented on #5995
/cc @rrelyea

I'm not sure if they are all root caused in this issue or not but I'm seeing quite a trend of issues that appear to be cache corruption. Is this something we can try to get into the next possible NuGet update?

[2017-10-11 06:27] OryanHassidim commented on #3381
The problem is NuGet doesn't works with different cultures....

The fix of the problem:
https://github.com/NuGet/Home/issues/5976

[2017-10-11 06:27] #3381 closed, assigned to nobody

[2017-10-11 08:13] lukas-ais commented on #5878
@zhili1208
Just now I checked again the behavior in VS2015.
The expected behavior is present with installed "NuGet Package Manager 3.3.0.167" and "VS2015 14.0.24720.00 Update 1".

[2017-10-11 09:57] fyn-dev commented on #4901
Yes me too. I really need this feature.

[2017-10-11 12:14] MikeMugu commented on #3050
This problem has also broken our builds and our version number is something that goes through much of the app. The testing effort to change the format is not terribly small and the build scripts also have to be updated. I guess there is not much choice at this point but I wish backwards compatibility was considered here.

[2017-10-11 13:11] mghextreme commented on #6000
@rohit21agrawal I changed the destination project to a PackageReference project ([used this](https://gist.github.com/a4099181/074a6c3dd524ea0d343382137492399c), works nicely). Also, I updated my `.nuspec` file as the one attached below:

[myNuspec.1.1.0.0.txt](https://github.com/NuGet/Home/files/1375647/myNuspec.1.1.0.0.txt)

But now, when I install the package, it is not downloading the file nor

[2017-10-11 14:15] charris123 opened #6015 "Dependencies inside of nuspec do not float to highest version"
Attached is a simple nuspec file with the following dependency
<dependency id="Newtonsoft.Json" version="10.0.*" />

When installing this package using package reference format, Nuget chooses the lowest version of Newtonsoft (10.0.1) instead of the highest floating version (10.0.3).  When installing this using packages.config, Nuget chooses the highest version (10.0.3).

Package Manager Console Ho

[2017-10-11 17:23] skofman1 commented on #5988
On server side we support both "X-NuGet-Client-Version" and "X-NuGet-Protocol-Version". However, "X-NuGet-Client-Version" is not the correct name for the intention of this header, and clients are encouraged to use "X-NuGet-Protocol-Version".
NuGet.org already supports both header, so you can test it.

[2017-10-11 19:18] dotMorten commented on #5915
@rrelyea @rohit21agrawal @emgarten Thanks for all the suggestions. Just circling back now.
ValidateFrameworkCompatibility works great for getting rid of the reference warnings inside Visual Studio.
The project reference with ExcludeRestorePackageImports didn't work for me, but that's ok - I can use a direct assembly reference.

However, the bad news is none of that works when building from the com

[2017-10-11 19:21] rohit21agrawal commented on #5915
it looks like SDK is doing TFM compatibility check too. @nguerrera @dsplaisted any ideas?

[2017-10-11 19:29] dsplaisted commented on #5915
Yes, the SDK does TFM compatibility checks, and with https://github.com/Microsoft/msbuild/pull/2595 MSBuild will be doing them instead.

[2017-10-11 19:31] clairernovotny commented on #5915
This is a blocker as a .NET -> UWP reference *is* valid for the purpose of creating designer controls.

[2017-10-11 19:31] dotMorten commented on #5915
@dsplaisted Is there any workaround we can do so the UWP toolkit can get design-time assembly support checked in?

[2017-10-11 19:36] rohit21agrawal commented on #5915
also, @dotMorten i am interested in knowing why ProjectReference didn't work for you with ExcludeRestorePackageImports set? can you show the restore errors you got there?

[2017-10-11 19:41] dotMorten commented on #5915
@rohit21agrawal The project reference with `ExcludeRestorePackageImports` wouldn't even allow me to build from within Visual Studio:
`1>C:\Program Files\dotnet\sdk\2.0.2\Sdks\Microsoft.NET.Sdk\build\Microsoft.NET.Sdk.Common.targets(87,5): error : Project 'C:\GitHub\Microsoft\UWPCommunityToolkit\Microsoft.Toolkit.Uwp.UI.Controls\Microsoft.Toolkit.Uwp.UI.Controls.csproj' targets 'UAP,Version=v10.0'.

[2017-10-11 19:43] rohit21agrawal commented on #5915
CC: @unniravindranathan - the workaround that nuget provided is potentially going to be unusable if SDK (and eventually msbuild) is going to be doing compatibility checks as well.

@dsplaisted is there a way to opt out of compatibility check that SDK (and eventually msbuild ) does?

[2017-10-11 21:16] nkolev92 commented on #6005
In all of our commands we have  just 2 verbosity levels, detailed and normal.

I'm not saying that's great, in fact I think we should improve it, but we should discuss whether we want to keep the same pattern.

[2017-10-11 21:17] rohit21agrawal opened #6016 "Restore NuGet packages should give message if restore disabled"
Filed from FEEDBACKTICKET 506597

1. Go to Tools / Options / NuGet Package Manager / General and disable "Allow NuGet to download missing packages"

(Admittedly, I was a actually a little unsure about what exactly this option did or when one might want to disable it. Better doc might help there, but that's a separate issue.
Anyway, I needed to uncheck it because autorestore breaks another solution

[2017-10-11 21:19] PatoBeltran commented on #6005
@nkolev92 nuget docs mention three level of verbosity... here a reference for [push command](https://docs.microsoft.com/en-us/nuget/tools/nuget-exe-cli-reference#push)

[2017-10-11 21:19] nkolev92 commented on #6005
[code]
I assume you mean cert fingerprint by cert_hash?
I think it should be consistent with the naming in the sign command.

[2017-10-11 21:25] nkolev92 commented on #6005
@PatoBeltran Ah, my bad.
Double checked it right now, I have seen cases in which we don't respect the quiet level so that had me confused.

[2017-10-11 21:30] dsplaisted commented on #5915
Looking at the MSBuild code, I think you can set the metadata `SkipGetTargetFrameworkProperties="true"` on the `ProjectReference`, and I think this will work both before and after the compatibility check moves to MSBuild.

[2017-10-11 22:18] jariq commented on #5907
@mishra14 in my experience all you need to do in such case is to import certificate into the store and run `certutil -repairstore` command. Certutil repairs/creates association between the key and certificate and as a result they can be used via `-CertificateStoreName`, `-CertificateStoreLocation`, `CertificateSubjectName` and `-CertificateFingerprint` options.

Feel free to correct me if I am wro

[2017-10-11 22:26] PeterBrende commented on #5936
I think this should be fixed.  There is a very legitimate scenario that will cause this, especially when using source control.  If I have upgraded to a new version of a NuGet package, and then roll back the code, the packages.config gets rolled back, but the folder under packages is gone at that point.  When trying to upgrade to the higher version again, this error is encountered.  At least that i

[2017-10-11 22:26] ertw commented on #4901
I'd like to add that as a new user to .net core, this was a real blocker for me. I spent a long time trying to run `dotnet ef`, and the error messages from trying to run that command and from trying to add other packages were not clear, and didn't really point me in the correct direction. Also, most documentation still references project.json, making this even more confusing.

[2017-10-11 22:27] jariq commented on #5907
Please provide more details about the expected format of the file specified by `-CertificateFilePath` option. I guess it is PKCS#12 with signing certificate and corresponding private key (and possibly also other certificates forming certificate chain?).

[2017-10-11 22:31] fruby commented on #3203
This reproes when I try to use the nuget pack task in vsts continuous integration. The version I use is 2.*

[2017-10-11 22:49] Petermarcu opened #6017 "Failed to create prime the NuGet cache. new failed with: 5"
@dinjonya opened this here: https://github.com/dotnet/core/issues/1022

on macOs version is 10.13

dotnet core install 1.04 & 2.0
my prj use .net core 1.04
when restore or build or run    console print

Welcome to .NET Core!
---------------------
Learn more about .NET Core @ https://aka.ms/dotnet-docs. Use dotnet --help to see available commands or go to https://aka.ms/dotnet-cli-docs.

Telemetry

[2017-10-11 22:56] dotMorten commented on #5915
@dsplaisted You're a friggin superhero! It even makes the project reference work!

[2017-10-11 23:06] rohit21agrawal commented on #5915
awesome! glad this is resovled! Thanks @dsplaisted

[2017-10-11 23:21] terrajobst commented on #5655
Please do that. It makes sense for 80% of packages but as we're also using NuGet more and more for tooling (i.e. templates and global tools) those warnings will become a nuisance. Given them individual IDs allows suppressing them individually  and also give folks a unique way to search for them.

@rohit21agrawal: I assume you fixed this specific issue; should I file a general feature requests for

[2017-10-11 23:29] rohit21agrawal opened #6018 "Do not reformat web.config when running NuGet Update-Package command"
FEEDBACKTICKET 505337

The Update-Package command (and maybe other parts of NuGet) seem to competely reformat the web.config file. This removes empty lines and changes e.g. <a b="x"/> to <a b="x" /> (an extra space added).

This causes confusion and spurious source control changes. It makes multiple copies of the web.config file desynchronized. Resyncing them requires lots of manual work with a me

[2017-10-11 23:31] rohit21agrawal opened #6019 "Missing HourGlass and/or Progress indicator when clicking UPDATE"
FEEDBACKTICKET 505312
When clicking UPDATE on packages, we don't know what it's doing.  Add a hourglass and progress indicator please.  This is hard to know what is going on.

[2017-10-11 23:46] rohit21agrawal commented on #5324
some related issues: https://github.com/NuGet/Home/issues/1685
https://github.com/NuGet/Home/issues/5835
https://github.com/NuGet/Home/issues/6011

[2017-10-11 23:48] rohit21agrawal commented on #6011
tracking issue: https://github.com/NuGet/Home/issues/5324

[2017-10-11 23:48] #6011 closed, assigned to nobody

[2017-10-11 23:51] rohit21agrawal commented on #5655
@mellinoe 15.4 should have this fix
@terrajobst yes, that would be great! ping @rrelyea for prioritizing this

[2017-10-11 23:52] rohit21agrawal commented on #6014
@emgarten does this qualify to be a legit warning?

[2017-10-11 23:53] rohit21agrawal commented on #6013
@bradphelan what kind of project are you encountering this with?

[2017-10-11 23:54] anxkha commented on #2987
Bumping this. I am running into the exact same problem at my company as well. Machine NuGet.config is getting stomped on by the auto-generated AppData config. Not cool :(

[2017-10-11 23:55] rohit21agrawal commented on #6017
This issue was moved to dotnet/cli#7812

[2017-10-11 23:55] #6017 closed, assigned to nobody

[2017-10-11 23:56] mishra14 opened #6020 "PackageSpec.Name and RestoreMetadata.ProjectName do not match resulting in "Error occurred while restoring NuGet packages: The given key was not present in the dictionary. ""
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS

NuGet version (x.x.x.xxx): 4.4.0.4475

VS version (if appropriate): 15.4.0

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

1. Create a new netcore console app - ParentApp.csproj

2. Edit ParentApp.csproj and add `<AssemblyName>TestAs

[2017-10-11 23:56] mishra14 commented on #6020
cc @alpaix @emgarten @rrelyea

[2017-10-11 23:58] mishra14 commented on #6020
Related VS Feedback item - https://developercommunity.visualstudio.com/content/problem/128974/error-occured-while-restoring-nuget-packages-1.html

[2017-10-12 00:18] emgarten commented on #6014
The warning occurs because `NDesk.Options 0.2.0` does not exist in the feed. `0.2.1` was the lowest version found.

This is fine since the package is within the range, but the warning lets you know that if `0.2.0` was added in the future that your next restore would use that instead.

Typically this is a package authoring error because the package depends on something that doesn't exist.

[2017-10-12 00:19] #6014 closed, assigned to nobody

[2017-10-12 00:27] rohit21agrawal commented on #6003
@felpel you can use a nuget.config file like the following to provide credentials:
[code]

[2017-10-12 00:32] emgarten commented on #6014
Here is a more complete answer on NU1603:
https://github.com/NuGet/Home/issues/5764#issuecomment-323613059

[2017-10-12 00:53] hach-que commented on #2577
What impact does this have for alternative implementations of NuGet packaging such as [Protobuild](https://github.com/Protobuild/Protobuild)? Is the signing code going to require pulling a whole bunch of dependencies (we need to ship a single executable)?

[2017-10-12 01:10] felpel commented on #6003
I've been able on Windows to restore perfectly my packages within Visual Studio since the authentication is probably built-in, but if I would do it from the terminal, I would get those errors. Since I shouldn't put credentials in a source control file (my `NuGet.config`), how would I work this out?

[2017-10-12 01:14] rohit21agrawal commented on #6003
@felpel unfortunately, Plaintext passwords is the only supported method of authenticating NuGet feeds with dotnet cli. Interactive credential acquisition is not enabled. Encrypted passwords support is blocked due to missing ProtectedData.Protect API on CoreCLR.

[2017-10-12 01:19] rohit21agrawal commented on #6003
if you want to use windows, you can use the ```nuget.exe sources``` command to dynamically add the password in an encrypted way to nuget.config file

[2017-10-12 01:21] felpel commented on #6003
If I understand correctly, if I don't put credentials in clear it in my config on Mac, I won't be able to ever restore my projects?

[2017-10-12 01:23] rohit21agrawal commented on #6003
unfortunately, yes. I can suggest trying out mono to run nuget.exe on Mac and see if that allows you to add your password in an encrypted way, but i haven't tried that out myself.

[2017-10-12 02:14] ghuntley opened #6021 "[security/spam] nuget.org gallery links do not have nofollow"
# Backstory
https://twitter.com/GeoffreyHuntley/status/918298133439774720
https://www.nuget.org/packages/poop/1.0.0

# Problem
Currently there is a huge incentive for bad actors to publish garbage packages as part of conducting dark SEO to boost page rankings of shady websites.

1) parsing description automatically adds links without nofollow

![image](https://user-images.githubusercontent.com/127

[2017-10-12 03:13] shanselman commented on #4901
@kathleendollard @rrelyea How we doing on this? Feels like just a day of someone's time. I'd do it if I could get this repo to build.

[2017-10-12 03:42] bradphelan commented on #6013
its a large project. about 30 sub projects. most are new SDK type projects
targetting net461 and there are two fsharp projects in there. might be one
old style csproj file but i am sure i converted everything.

On Thu, 12 Oct 2017, 01:53 Rohit Agrawal <notifications@github.com> wrote:

[2017-10-12 05:04] bradphelan commented on #6013
This may or may not be related. After consolidation is finished

![image](https://user-images.githubusercontent.com/17650/31480009-8a6379f8-af1b-11e7-89df-ff70487327f3.png)

It still says there is something to be consolidated even though there is nothing in the list.

[2017-10-12 05:05] bradphelan commented on #6013
No it doesn't. It's just a UI glitch. If I change tabs and then back again then the blue **1** is gone.

![image](https://user-images.githubusercontent.com/17650/31480046-bf8be912-af1b-11e7-84f0-26ebd34bd8ae.png)

[2017-10-12 05:42] alpaix commented on #6020
@mishra14 Thanks for looking into this! Just wanted to confirm the workaround actually helps to mitigate the problem. The error disappeared after I ensured every project is named after the assembly it produces.

[2017-10-12 09:44] #4776 closed, assigned to nobody

[2017-10-12 10:12] kwaazaar commented on #3767
Getting this error now on VS 2017, patch 15.4 on a project that was created using dotnet new webapi. Nuget worked for a while and now gives this error. It keeps doing so after restarting VS.

[2017-10-12 13:44] derwasp commented on #4668
Guys, should I expect this to be fixed anytime soon? Is there a known workaround for this on Linux?

[2017-10-12 14:19] zvirja commented on #5307
@diverdan92 @onovotny I've just tried to send the application for the AutoFixture organization as described [here](https://docs.microsoft.com/en-us/nuget/reference/id-prefix-reservation):

However, I've got denial request from your firewall:

I've tried different email addresses (e.g. `autofixture1@protonmail.com` and my personal one on gmail), but neither one worked.

Is there any other channel w

[2017-10-12 14:32] FransBouma commented on #5307
@zvirja  I sent an email yesterday to the account@ email address which went through (no bounces at least) normally. Something must have changed after that it seems.

[2017-10-12 14:38] zvirja commented on #5307
@FransBouma Yep, it seems, as I used two different mail addresses. Hope Microsoft haven't banned me 😄

[2017-10-12 14:43] shishirx34 opened #6022 "Logging IP address for 504s from Client"
Would it be possible for the client to log IP address of the machine in the output logs when seeing issues like 504(Gateway timeout) or any issues related to dowloading the packages. These will be very helpful when investigating connectivity problems.

The need arises from the problem that the build agents hosted on VMs for VSTS are not usually accessible for investigation to run MTR logs.

[code]

[2017-10-12 14:53] xavierdecoster commented on #6022
Perhaps using a `X-NuGet-Session` id could also be helpful to help correlate client/server logs, without exposing PII? https://github.com/NuGet/Home/issues/5330

[2017-10-12 14:56] tomkerkhove commented on #6022
With @xavierdecoster on this one, I as a consumer would not like that my personal information is used in your logs.

[2017-10-12 14:57] shishirx34 commented on #6022
But how would that help in cases like 504? Plus the IP would be exposed only to the customer when logging locally in client, wouldn't it? If the customer chooses to share those logs/exceptions then that would be through consent, thoughts?

[2017-10-12 15:05] xavierdecoster commented on #6022
Yep, the IP would indeed stay local on the user machine and only be shared if user chooses to (just pointing out that we have to be aware of the sensitivity of this additional data point so it doesn't accidentally end up in some telemetry).

Wouldn't this http header help in scanning logs and find those requests that correlate to this client operation, without having to know the client IP?

[2017-10-12 15:09] shishirx34 commented on #6022
But with 504 we wouldn't get that request in server, since most cases 504 would be due gateway timeout by CDN issues etc. Not sure if CDN support can lookup the requests by version header to identify the request in question, if they can, that sounds like a good idea as well.

Note: The only reason for this request is for helping diagnose connectivity issues with CDN having problems.

[2017-10-12 15:13] xavierdecoster commented on #6022
Pretty sure they can, but to be confirmed indeed.
This header information would be contained in the w3c request logs (we ourselves use those headers to e.g. build package download stats and dimensions).

[2017-10-12 15:22] diverdan92 commented on #5307
@zvirja - don't worry, we got your mail! I'm looking into why that bounced. We'll try to resolve this as quickly as possible. Rest assured, I do see the mail in our queue. You should expect to hear back from us by middle of next week or sooner.

@FransBouma - you should hear from us by end of the week 😊.

[2017-10-12 15:37] tomkerkhove commented on #6022
For what it's worth, I presume this is the flow:

In that case, it all passes through your services so should be feasible?

[2017-10-12 16:00] xavierdecoster commented on #6022
Not entirely true. For NuGet v2, the client indeed talks to the NuGetGallery to restore packages.
However, for NuGet v3 package restore, there's no *service* involved, as api.nuget.org points to the CDN which has Azure storage as origin.

[2017-10-12 16:03] xavierdecoster commented on #6022
The thing becomes interesting though when there are multiple clients involved. Imagine a client talking to VSTS/MyGet which has nuget.org configured as an upstream source. That's where the X-NuGet-Session header comes in handy. If you need to be able to follow the request path across servers, you won't have all you need with just the original client IP.

[2017-10-12 17:07] mishra14 commented on #4901
@shanselman what issues are you having in building the repo?

[2017-10-12 17:10] mishra14 commented on #4901
@ertw Can you please point us to documentation that you are referring to? I can look at getting ti fixed.

[2017-10-12 17:11] #6021 closed, assigned to nobody

[2017-10-12 17:11] rohit21agrawal commented on #6021
Issue moved to [NuGet/NuGetGallery #4839](https://github.com/NuGet/NuGetGallery/issues/4839) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-12 17:20] ertw commented on #4901
@mishra14 The out of date information I found mostly came from old MSDN posts and private bloggers. The canonical tutorial for EF (https://docs.microsoft.com/en-us/ef/core/get-started/netcore/new-db-sqlite) is up to date and in wiki form, so something I can edit as well if I find anything wrong. I'll let you know if I find any more Microsoft resources that are incorrect.

[2017-10-12 17:24] shishirx34 opened #6023 "FatalProtocolException during restore"
This morning there was an incident created on VSTS with the following exception.

It seems that the client failed to download the package - `Humanizer.Core.zh-CN.2.2.0`

The package is available in the NuGet.org v3 feed: `https://api.nuget.org/v3-flatcontainer/humanizer.core.zh-cn/2.0.0/humanizer.core.zh-cn.2.0.0.nupkg`
And is not available in the vsts feed: `https://swissre.pkgs.visualstudio.com/

[2017-10-12 18:08] spy008 commented on #5956
I tested and if the target value has a '+' that it will also get replaced with '%2B' after running nuget pack. For example:

[code]

[2017-10-12 19:15] rohit21agrawal commented on #6000
@mghextreme
with PackageReference, the contentFiles bild action is dynamically applied upon build - so you won't any changes in your csproj. I just packed the nuspec you provided , installed it into a wpf class library project (using PackageReference format) , and built the project, and was able to inspect the DLL under ILSpy and find the DLL embedded.

Here is the project:
[contentFilesPackage.zi

[2017-10-12 22:07] rido-min commented on #2577
@hach-que  We will publish the signature format specification for 3rd party nuget providers, and you can choose to implement the sign and verify features.

We will start using .NET framework and Windows API's to implement the feature.  The distribution model for Windows will be similar to what we have today based on a singe .EXE file.

Later we will provide a cross platform implementation based on

[2017-10-12 22:58] mesbahamin opened #6024 "NuGet sometimes treats a remote source as a local file"
# NuGet sometimes treats a remote source as a local file

## Summary

- I have a project with a custom remote NuGet source called `myorganization-Combined`.
- I execute `nuget restore` on the project's parent solution, specifying that
  the dependencies should be obtained from that custom source.
- This happens successfully for the other projects in the solution.
- For this particular project, how

[2017-10-12 23:02] jainaashish opened #6025 "[Feedback] nuget update hang 2017.3"
Feedback bug# 496748
VSTS internal bug# 497575

Being monitored as part of MSR and marked for 15.5 with p0

[2017-10-12 23:38] rohit21agrawal commented on #5983
@fjallemark are you concerned about the owner as displayed on NuGet.org ? The owner displayed on NuGet.org is actually the publisher of the package - which is the account that was used to publish the NuGet packge.

The owner as specified in the nuspec of your package is not really used anywhere, hence it is not being supported in SDK projects. Is there another reason that I do not understand that

[2017-10-13 00:08] terrajobst opened #6026 "NuGet should have warning IDs for package analysis issues"
*(Filed based [on a discussion](https://github.com/NuGet/Home/issues/5655#issuecomment-335980526) with @rohit21agrawal)*

By default, NuGet packages are being analyzed and issues are reported, in particular whether it follows the conventions (for example, using valid TFMs, placing libraries into a folder under `lib` etc).

This makes sense for 80% of packages but as we're also using NuGet more and

[2017-10-13 00:14] jainaashish commented on #5959
Fixed and Merged with https://github.com/NuGet/NuGet.Client/pull/1729

[2017-10-13 00:14] #5959 closed, assigned to jainaashish

[2017-10-13 09:12] jamescrowley opened #6027 "CS0006: CSC(0,0): Metadata file 'C:\Windows\system32\config\systemprofile\.nuget\packages\..." could not be found"
## Details about Problem

Running .NET Core SDK 2.0.2, .NET Framework 4.6.2 and the VS 2017 Build Tools for v 15.4.

Running from within TeamCity I'm intermittently getting build failures like this:

CS0006: CSC(0,0): Metadata file 'C:\Windows\system32\config\systemprofile\.nuget\packages\...\XX.dll" could not be found

with no indication as to why this is

## Detailed repro steps so we can see th

[2017-10-13 11:16] mghextreme commented on #6000
@rohit21agrawal Well... that's disappointing for me... I will check everything once again to see what I'm doing wrong. The only difference I've seen is I'm using an online Nuget Server, but that isn't (or at least, shouldn't be) a problem.

Anyway... Thanks so much for all the help these last few days!

[2017-10-13 11:17] #6000 closed, assigned to nobody

[2017-10-13 12:32] Inumedia commented on #5995
Hi, I think this is related to the issue being described here?

After running `dotnet restore`, I did `dotnet run` and got thousands of lines of:
` error CS0518: Predefined type 'System.Object' is not defined or imported ` and various other `System` types.

Here's what the `dotnet restore` and the beginning of my `dotnet run` produces:
![image](https://user-images.githubusercontent.com/856822/3154

[2017-10-13 14:55] rrelyea commented on #6027
Try two separate commands:
Msbuild /t:restore
Then
Msbuild /t:build

That might help...

[2017-10-13 18:21] joelverhagen opened #6028 "new PackageArchiveReader(string) does not release file handle of invalid .nupkg"
[code]

Exception thrown:

[code]

Tried on NuGet.Packaging 4.4.0.

[2017-10-13 19:32] Petermarcu commented on #5995
Let's use this issue to also track this one: https://github.com/dotnet/core/issues/1028

[2017-10-13 19:58] kwaclaw commented on #3767
Same here, with VS 2017, patch 15.4.

[2017-10-13 20:13] kwaclaw commented on #6020
This has quite the impact. Have to apply the workaround to close to 100 projects. Quite inconvenient.
Hope this is fixed very, very soon.

[2017-10-13 21:15] prafullbhosale opened #6029 "Expose a way to wait on running restore operation running in Visual Studio via IVs apis."
## Details about Problem
Currently there is no way to await running restore operations in VS.

VS version (if appropriate): Dev 15.4

Worked before? If so, with which NuGet version: No.

## Detailed repro steps so we can see the same problem

1. Create a new Empty ASP.NET Core 2.0 project targeting .NET Framework.
2. Right click on the project -> Add new scaffolded item. -> Empty Controller.

Scaf

[2017-10-13 21:56] anangaur commented on #5725
@karann-msft there are some asks on having the framework information on gallery too. Can you include that in your spec? If not, create a sibling spec that takes care of the gallery changes and search improvements both on the gallery and on VS UI.

[2017-10-13 22:45] livarcocc opened #6030 "nuget: setting a source in nuget.config and using it with dotnet overrides creadentials for that source in global nuget.config"
_From @evil-shrike on October 13, 2017 19:52_

## Steps to reproduce
Given a global nuget.config (in user's profile) with several nuget sources and packageSourceCredentials for them. That is sources require authentication.
Given a project with local nuget.config (besides csproj) which contains only a source url:
[code]
run any dotnet command requires contacting nuget, for example `dotnet add packa

[2017-10-14 00:08] edouardp commented on #5711
Is there a final FIX/WONTFIX decision on this?

[2017-10-14 01:31] JamesNK opened #6031 "The horrible "Install failed. Rolling back" on Visual Studio 2015"
Originally posted https://github.com/JamesNK/Newtonsoft.Json/issues/1464 by @JohnAtFenestra

---

I have placed all version information below. Attempting a simple install of Newtonsoft.json 10.0.3 from NuGet into a Visual Studio solution. The target framework is 4.5.2.

I have searched Bing and Google and turned up nothing of use. Any suggestions of what to try next?

Package manager output
------

[2017-10-14 21:24] bjorn-ali-goransson commented on #5237
As of .NET Core 2, I think, this does not work anymore. The offending code is the one above mentioned. When commenting it out, building works.

    1>C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\MSBuild\15.0\Bin\Microsoft.Common.CurrentVersion.targets(4406,5): error MSB3025: The source file "C:\Users\Bjorn\.nuget\packages\" is actually a directory.  The "Copy" task does not suppor

[2017-10-14 21:27] bjorn-ali-goransson commented on #5237
When looking at the .props file in obj, the following appears:

    <NuGetPackageFolders Condition=" '$(NuGetPackageFolders)' == '' ">C:\Users\Bjorn\.nuget\packages\;C:\Program Files\dotnet\sdk\NuGetFallbackFolder</NuGetPackageFolders>

Maybe the reason for failure is the extra backslash?...

[2017-10-14 21:29] bjorn-ali-goransson commented on #5237
https://github.com/dotnet/sdk/issues/1250#issuecomment-303791974

[2017-10-14 21:55] bjorn-ali-goransson commented on #5237
Sorry for spamming this one, but it works again by changing NuGetPackageFolders to NuGetPackageRoot. Will create separate issue for this.

[2017-10-14 21:58] bjorn-ali-goransson opened #6032 "Discrepancy in trailing backslashes in NuGetPackageFolders"
Hello,

Using latest VS 15.4.0, Nuget package manager 4.4.0, I have started getting an error when trying to build a project referencing a Nuget package containing this .targets file:

[code]

Error is:

[code]

This worked in june. When looking at the obj\WebApplication1.csproj.nuget.g.props I see that the NuGetPackageFolders value is:

[code]

ie. a discrepancy in trailing backslashes. When chang

[2017-10-14 21:59] bjorn-ali-goransson commented on #6032
Background: https://github.com/NuGet/Home/issues/5237

[2017-10-15 01:08] emgarten commented on #6032
@bjorn-ali-goransson the issue is that `NuGetPackageFolders` contains multiple semi colon delimited folder paths and your example tries to use it as a single path.

`C:\Users\Bjorn\.nuget\packages\;C:\Program Files\dotnet\sdk\NuGetFallbackFolder`

Beyond that it does look like NuGet should normalize these paths and add a trailing slash to make these easier to use. Currently I believe theses are wr

[2017-10-15 01:21] bjorn-ali-goransson commented on #6032
That's very interesting, thanks for the information!

[2017-10-15 06:40] Petermarcu opened #6033 "403s on valid nuget config"
@patrickjamesbarry opened this here: https://github.com/Microsoft/dotnet/issues/467

**My Environment**

- Mac - Sierra 10.12.6
- Nuget install: /Library/Frameworks/Mono.framework/Versions/Current/Commands/nuget
- NuGet Version: 4.3.0.4406
- .NET Command Line Tools (2.0.0)

Running dotnet restore, I am getting 403s when trying to resolve my dependencies. I have narrowed it down to this problem.  W

[2017-10-15 07:37] fjallemark commented on #5983
We use NuGet internally within our company group. NuGet metadata is a perfect way to publish which company (Company-property) that wrote the package and which developers that are primarily responsible (Author-property). The Company property is not included in the package, but the owner property is. Because the Owner property is set to the same value as the Author property, we manually have to chan

[2017-10-15 08:41] mungojam commented on #5877
[roslyn 22095](https://github.com/dotnet/roslyn/issues/22095) is one that is stopping us from migrating. I had it as a nuget issue originally. If nuget could have a type of lib that ended up being output to bin but would be flagged as not having its API exposed to consuming projects, then it wouldn't be a problem.

[2017-10-15 09:31] Mohammed-El-Nabulsi commented on #3541
I'm having exactly the same issues but only when running the following command:

`dotnet publish --self-contained --runtime win-x64`

[2017-10-15 14:03] baltie commented on #6020
I also have close to 100 projects, and I really wouldn't like to change all the assembly names to match the project names. What I ended up doing was installing the NuGet command line tool version 4.3. Then I could at least run `nuget restore` on the command line in my solution folder, and after that, I was able to successfully build the solution in Visual Studio 2017.

Unfortunately, I'm still una

[2017-10-15 14:16] mungojam commented on #5986
Interesting, I think I'm after the opposite ([roslyn 22095](https://github.com/dotnet/roslyn/issues/22095)) where transitive .net DLLs are copied to output, but not included as references (or at least their APIs are not exposed).

[2017-10-15 19:14] anangaur commented on #6033
Looks like a dupe of https://github.com/NuGet/Home/issues/5704
Update: Ashish says: don't think it is a dupe of that.

[2017-10-15 19:17] mletterle commented on #5602
why not just have a command line option to create or consume a project wide `project.assets.json` file at restore time?

Something like:

`nuget restore path\to\something.sln -AssetsOut something.assets.json`

and later (say on a build server)

`nuget restore \path\to\something.sln --AssetsIn something.assets.json`

It would be up to the consumer to regenerate/edit the assets file and check it int

[2017-10-15 21:20] whitneyland opened #6034 "Install-Package gives error with 260 character path length, even with LongPathsEnabled enabled."
##
Install-Package gives an error that fully qualified paths must be less than 260 characters, even with then LongPathsEnabled registry key is set.

NuGet product used: Package manager console within Visual Studio
NuGet version:  4.4.0
.NET Framework version: 4.71  (C# console application)
VS version:  15.4.4  (Visual Studio 2017 community edition)
OS version:  Win10 10.0.15063

## Detailed repro

[2017-10-15 21:56] KelsonBall commented on #5775
My project (KelsonBall.Transforms) is not named the same as my package (KelsonBall.Vectors) and I am getting this error - so the proposed workaround won't work for me.

[2017-10-16 00:31] JohanLarsson opened #6035 "Nuget removes analyzers from projects when updating."
Please read the following information before posting the issue.

## Details about Problem

NuGet VS UI

NuGet latest?

VS 2017

OS win10

## Detailed repro steps so we can see the same problem

1. Clone https://github.com/nestquik/diploma/commit/a7d899bc36910723a5cc1d7401f319331ea6f4ba

2. Install https://www.nuget.org/packages/PropertyChangedAnalyzers/2.0.0.1-dev

Check git diff, nothing added to

[2017-10-16 00:34] sharwell commented on #6035
:memo: When I reduced this problem locally, I performed the following steps:

1. Install PropertyChangedAnalyzers version 1.0.0
2. Update to PropertyChangedAnalyzers 2.0.0.1-dev

When following these steps, the project file was correct after step 1 but incorrect after step 2. It seemed the project file was correct after every other action, so if you don't reproduce it on the first try, perform an

[2017-10-16 04:25] waghpravin14 commented on #3767
Same error me too with VS2017 15.4. Could someone please update.

[2017-10-16 05:56] waghpravin14 commented on #3767
Track this issue @ https://github.com/NuGet/Home/issues/6020

[2017-10-16 06:30] anangaur commented on #5602
Asset file is not just the restore graph but has multiple overloaded functionality and lot of contents irrelevant to a typical lock file. For example it contains all the warnings/errors applicable for the project restore. In addition to this, the assets file is not easy to understand or modify. (IMO even the lock file should not be manually edited). I have seen different assets file getting genera

[2017-10-16 09:17] huoyaoyuan opened #6036 "Fail to consume architecture-specified package"
Version used: Visual Studio 15.4, .Net Framework 4.7, built-in nuget
Package used: CNTK.GPU
The package has an assembly under `lib/net45/x64`, and should be only available in x64 platform.
##### When using old `packages.config` format:
The assembly can be consumed, but not platform-conditional.
##### When using new `PackageReference` format:
The assembly cannot be consumed.
##### Expected behaviou

[2017-10-16 09:37] kennethx commented on #5805
Couldn't agree more with posters, it's so slow watching paint dry on a wall is more fun, and faster!

[2017-10-16 12:40] netspark commented on #5909
Is this fixed? Cant find in which release it is done

[2017-10-16 13:46] giggio commented on #4412
Is there a fix planned for this bug on the roadmap? Just as stated before, this problem seems to be the source for several other bugs.
I am also having to do the .deps file hack.
It's been six months already without any feedback on this issue.

[2017-10-16 13:55] soen opened #6037 "MSBuild targets are not applied to generated project.assets.json for project references when packaging from Visual Studio 2017"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
VS UI

NuGet version (x.x.x.xxx):
4.3.0.4406
4.4.0

dotnet.exe --version (if appropriate):
2.0.0
2.0.2

VS version (if appropriate):
Visual Studio 2017 15.3.5
Visual Studio 2017 15.4.0

OS version (i.e. win10 v1607 (14393.321)):
win10 (10.0.15063 Build 15063)

Worked before? If so, with which N

[2017-10-16 16:00] ericstj opened #6038 "Restore is skipped from VS when two projects are in the same folder"
Moved from https://github.com/dotnet/standard/issues/538.

## Details about Problem
Restore skips one project when two projects are placed in the same folder.

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
VS UI

NuGet version (x.x.x.xxx):
4.4.0

dotnet.exe --version (if appropriate):
2.0.0

VS version (if appropriate):
15.4.0 Preview 3.0

OS version (i.e. win10 v1

[2017-10-16 18:16] #6025 closed, assigned to jainaashish

[2017-10-16 18:37] emgarten opened #6039 "Client support for X-NuGet-Diagnostic-Info header"
### Feature

Allow feeds to send diagnostic info to the client which can be displayed to the user.

This would be displayed in the log in any of the following scenarios:
* The operation failed AND the feed responded with http status codes outside of 200, 404
* The operation was run with verbose logging

By default for successful scenarios these messages will not be displayed to user. Scenarios whe

[2017-10-16 18:47] emgarten commented on #6039
Related work for X-NuGet-Session : https://github.com/NuGet/Home/issues/5330

[2017-10-16 19:00] AArnott commented on #5877
@mungojam NuGet packages can already depend on another package without exposing the API from that package to their own consumer. I think that that problem is solved at the right place right now because, for example, if package A depends on package B, we might say the ideal situation is that package A hides package B from the compiler of the app project if and only if no APIs from package B are exp

[2017-10-16 19:42] mungojam commented on #5877
@AArnott Thanks for reviewing it, you've summed it up perfectly. I may be missing a trick then, how do we specify that a particular dependency is only to be added as an internal dependency and not exposed to compiler further up the chain?

I agree that tooling would definitely solve it nicely if the nuget mechanism exists already.

[2017-10-16 19:51] emgarten commented on #4412
@giggio can you share what this is? Is there a reason you are fixing it in deps instead of referencing the framework assemblies from the projects directly?

Feedback on why this issue is important would help the NuGet team prioritize this.

[2017-10-16 20:02] tjsimmons opened #6040 "DLLs being placed in root of solution"
NuGet product used: NuGet/Package Manager Console

NuGet version (x.x.x.xxx): 3.3.0.212

VS version (if appropriate): 2017 15.4

OS version (i.e. win10 v1607 (14393.321)): Win7 SP1

Worked before? If so, with which NuGet version: Unknown

## Detailed repro steps so we can see the same problem

1. Create package with dependencies on MSTest.TestFramework and MSTest.TestAdapter

2. Install new packag

[2017-10-16 20:03] mungojam commented on #5877
@AArnott Is this the mechanism you are referring to, using contentFiles?

[code]

I might see what happens with a wildcard in the include. Maybe we could do that for the packages we make and then add external dependencies explicitly in an exclude.. sounds yukky, but might work.

[2017-10-16 20:04] giggio commented on #4412
@emgarten In my case I have an integration test, referencing an aspnet core project (a) that references another aspnet core project (b). My views are in project (b) and unless I use the .deps hack I get an error on the compilation of any of the views. The views are using an embedded file system.
I am on the latest stable version of everything, VS, dotnet, etc.

[2017-10-16 22:03] mletterle commented on #5602
True, just having a `packages.config` as input with specific, locked versions would be enough, having the ability to generate that file on restore would go a long way. `packages.config` is documented and presumably will be supported for the foreseeable future.

[2017-10-16 22:04] mhutch opened #6041 "Build dependencies carry over to Nugetizer package"
There is no way to stop library packages referenced by my project (such as Microsoft.Build.Framework) becoming dependencies of my package.

This is a big problem when I'm writing a build package, because it references Microsoft.Build.Framework), but I don't want that dependency to transfer to my consumers. I can't use PrivateAssets=All because I don't want the MSBuild assemblies _bundled_ into my

[2017-10-16 22:43] emgarten commented on #4412
@giggio what exactly do you change in the .deps file? I'm not clear on what is missing and why in your scenario.

[2017-10-16 23:22] mishra14 commented on #5711
tagging @rrelyea for triage.

[2017-10-16 23:39] mishra14 commented on #6020
@baltie Do you have packages.config projects? If so, then this bug should not affect you as this is a netcore/sdk/PackageReference issue.

[2017-10-16 23:45] AArnott commented on #5877
No, don't use contentFiles for this. When building your own package via csproj with `PackageReference` items, you add an attribute like this (if this were package A):

[code]

This makes it so your own package A consumes and references package B in your compiler references, but folks consuming package A will *not* get package B in their assembly references.

[Documented here](https://docs.microsof

[2017-10-16 23:51] mishra14 commented on #5907
@jariq Thanks for the feedback.

csp and kc are helpful in org level signing where the private keys are not directly accessible.

The option is primarily for using PKCS#12 (pfx) files.

[2017-10-17 00:00] mistachkin opened #6042 "NuGet pack of NuSpec with zero files includes a file"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): nuget.exe

NuGet version (x.x.x.xxx): 4.3.0.4406

dotnet.exe --version (if appropriate): N/A

VS version (if appropriate): N/A

OS version (i.e. win10 v1607 (14393.321)): win7 32-bit

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

1. Giv

[2017-10-17 00:57] mistachkin commented on #6042
A couple more pieces of data:

1.  It appears to be picking up the "Eagle.NuGet.targets" file from the "Eagle\NuGet\build" directory.

2.  Renaming the directory to "build.out" caused it to include that directory name instead of "build".

3.  Renaming the targets file itself to "Eagle.NuGet.targets.foo" still causes it to include the file.

4.  Deleting the targets file causes it to include an emp

[2017-10-17 01:51] simonfox commented on #5552
Context:
VS2017 15.4.0
Package Manager Console Host Version 4.4.0.4475
Using VS2017 `csproj` format, target `net461`
xunit/xunit.runner.visualstudio 2.3.0 (although this is not an xunit issue as tests run fine using the console runner)

Not sure this is the right place but I'm running into something similar to this...

Problem started after updating to VS2017 15.4.0 (same solution working fine on

[2017-10-17 02:15] mistachkin commented on #6042
After carefully reviewing your client code, I believe that I've pinpointed the issue.  In the file "src/NuGet.Core/NuGet.Packaging/PackageCreation/Authoring/PackageBuilder.cs", there is a method named "ReadManifest", which is called from several constructors.  It contains the following code:

[code]

Given this code in the context of this issue, it seems the base path, although not explicitly spec

[2017-10-17 02:35] #5711 closed, assigned to nobody

[2017-10-17 02:36] emgarten commented on #5711
This behavior is by design, the client fails on invalid packages here which seems safer than silently ignoring the problems.

[2017-10-17 02:39] jnm2 commented on #3509
It would be amazing if this lit up for Windows Forms projects too:

[code]

Would you please consider this?

[2017-10-17 03:03] edouardp commented on #5711
Thanks for making a decision on this.

What is the advice for existing package authors that have already published packages that have invalid specifications in them (e.g. an empty id) back when the tools didn't flag this as an error? Specifically do you have a way forward for the issue in the baseline project that prompted this issue to be opened here: https://github.com/NuGet/NuGetGallery/issues/

[2017-10-17 04:22] rohit21agrawal commented on #6042
yes. that is expected behavior - if you really want no files in your package, specify an empty files node in your nuspec otherwise it will include files as per convention : https://docs.microsoft.com/en-us/nuget/create-packages/creating-a-package#from-a-convention-based-working-directory

[2017-10-17 04:22] #6042 closed, assigned to nobody

[2017-10-17 04:48] mistachkin commented on #6042
Adding hundreds of megabytes of files simply because an empty element is missing in the NuSpec file?  Also, it appears that the documentation you linked to is talking about the "nuget spec" command, not the "nuget pack" command.

[2017-10-17 05:26] baltie commented on #6020
@mishra14 We have .net standard projects, some netcore and we've converted to using PackageReference in the rest. So we're quite affected.

[2017-10-17 05:38] v-luzh commented on #4202
Error gone on D15Rel 27016.00 (default NuGet Client version: 4.5.0.4529). But there are warnings on the installed package under Dependencies node of this solution in Solution Explorer as below screenshot.
![warningafterinstalling](https://user-images.githubusercontent.com/20632625/31648471-7d41e83a-b340-11e7-8b38-57a1ee31f0b7.PNG)

[2017-10-17 09:49] thomaslevesque opened #6043 "dotnet pack converts ProjectReference to package dependency even when the referenced project has IsPackable=false"
## Details about Problem

**NuGet product used:** dotnet pack

**NuGet version:** 4.1.0.2450

**dotnet.exe --version:** 1.1.0

**VS version:** VS2017 15.3.3

**OS version:** Windows 10 v1703 (15063.540)

**Worked before?** I don't think so

## Detailed repro steps so we can see the same problem

1. Create two library projects (SDK-style csproj) A and B. A has a `ProjectReference` to B
2. `dotnet p

[2017-10-17 12:37] mungojam commented on #5877
Thanks, that does work, actually using "compile;contentfiles;analyzers;build" to keep the default behaviour of PrivateAssets for the other types.

So, I will raise a feature request for the tooling improvement that you suggested, recognising that it won't be an easy thing to implement.

By the way, I had tried PrivateAssets previously and hit various errors. Some my own doing (package name clash).

[2017-10-17 13:35] SurajGupta opened #6044 "nuget.exe list -allversions doesn't work"
Here's a write-up of the issue:
https://stackoverflow.com/questions/46777920/nuget-exe-doesnt-return-all-versions-of-specified-package

As such, there's no way to list all versions, which is a serious handicap when it comes to managing and building features against a gallery.

[2017-10-17 14:57] desmondgc commented on #6020
This issue has a major impact on us. Renaming project files is not a feasible workaround. Using command-line NuGet 4.3 as a workaround.

[2017-10-17 15:06] debonte commented on #3509
Thanks for the suggestion @jnm2.  I'll pass this on to the Winforms team.

[2017-10-17 15:37] jnm2 commented on #3509
Thank you.

[2017-10-17 15:38] jnm2 commented on #3509
Thank you. This is causing pain as my company is migrating many internal libraries from shared projects to internal NuGet packages.

[2017-10-17 15:44] giggio commented on #4412
I don't change anything, I just need to copy the deps file, as shown here: https://github.com/NuGet/Home/issues/4412#issuecomment-282081051

[2017-10-17 15:45] joelverhagen commented on #6028
Workaround is opening the file yourself and passing the stream to `PackageArchiveReader`.

[2017-10-17 16:07] joelverhagen commented on #6044
This is a known issue and a bug on NuGet.org.
Existing server bug: https://github.com/NuGet/NuGetGallery/issues/3274
Existing client bug: https://github.com/NuGet/Home/issues/3441

[2017-10-17 17:01] diverdan92 commented on #5307
With the release of this feature and [documentation](https://docs.microsoft.com/en-us/nuget/reference/id-prefix-reservation), I'm closing this issue.

[2017-10-17 17:01] #5307 closed, assigned to nobody

[2017-10-17 17:08] nkolev92 commented on #5998
Issue moved to [NuGet/docs.microsoft.com-nuget #511](https://github.com/NuGet/docs.microsoft.com-nuget/issues/511) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-17 17:08] #5998 closed, assigned to karann-msft

[2017-10-17 17:10] zhili1208 commented on #4010
No response, close it as not repro

[2017-10-17 17:10] #4010 closed, assigned to nobody

[2017-10-17 17:11] emgarten commented on #4999
@v703162 please see https://docs.microsoft.com/en-us/nuget/consume-packages/configuring-nuget-behavior for help configuring resolution behavior.

[2017-10-17 17:11] #4999 closed, assigned to nobody

[2017-10-17 17:12] mishra14 commented on #5002
Hi, thanks for reporting the issue. At this point we do not plan on releasing an update for VS2015. Please try latest [VS2017](https://www.visualstudio.com/#) and let us know if you need more help from us.

[2017-10-17 17:12] #5002 closed, assigned to nobody

[2017-10-17 17:13] #4026 closed, assigned to nobody

[2017-10-17 17:14] #4033 closed, assigned to nobody

[2017-10-17 17:17] emgarten commented on #4998
`//uvd-fs1.uvd.local/Install/UVPackages` does not appear to be correct path format. You may need to mount the file share in order to use it with NuGet.

[2017-10-17 17:17] #4998 closed, assigned to nobody

[2017-10-17 17:18] jainaashish commented on #3505
duplicateof https://github.com/NuGet/Home/issues/4190

[2017-10-17 17:18] #3505 closed, assigned to rohit21agrawal

[2017-10-17 17:20] zhili1208 commented on #4045
No response, close it as won't fix

[2017-10-17 17:20] #4045 closed, assigned to nobody

[2017-10-17 17:23] nkolev92 commented on #5996
@ievgennaida You say you are using VS 2013 and VS 2015 and you list a nuget version that has only shipped with VS 2017.

At this point we do not plan on releasing an update for VS2013/VS2015.

Can you please tell us if you can reproduce this in VS 2017?

[2017-10-17 17:29] jainaashish commented on #3507
Send email to CLI team to confirm if it's still a valid request?

[2017-10-17 17:34] zhili1208 commented on #4053
packages folder for packages.config is designed for one packages folder per solution scenario, for your case, I suggest you to move from packages.config to package reference which use a central package folder for all solutions. https://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html

[2017-10-17 17:34] #4053 closed, assigned to nobody

[2017-10-17 17:35] natemcmaster opened #6045 "RestoreSources set via MSBuild properties cannot use credentials"
I'm attempting to use MSBuild properties to define the feeds a project can use to restore. This does not work if feeds require credentials. The credentials are not loaded from the global config file in $env:AppData\NuGet.

## Details
NuGet: NuGet Command Line 4.5.0.2
dotnet.exe --version: 15.5.0-preview-007044
OS version: Win 10

## Repro
1. Create a project with an authenticated feed. For example

[2017-10-17 17:36] emgarten commented on #4996
For issues with Visual Studio not respecting conditions see: https://github.com/dotnet/project-system/issues/1542

For issues with conditions from the command line see the comment from @samirparekh

[2017-10-17 17:36] #4996 closed, assigned to nobody

[2017-10-17 17:38] jainaashish commented on #3512
Dupeof #4614

[2017-10-17 17:38] #3512 closed, assigned to nobody

[2017-10-17 17:38] mishra14 commented on #5007
I tried, but could not repro this scenario -

[code]

[code]

[2017-10-17 17:38] #5007 closed, assigned to nobody

[2017-10-17 17:38] natemcmaster commented on #6045
### Workaround

It appears you can workaround this by also adding the feed to a NuGet.config file in the project. But this seems to defeat the purpose of using MSBuild properties. We were trying to get away from manipulating our NuGet.config file through automation, as discussed in https://github.com/NuGet/Home/issues/3972

[2017-10-17 17:40] nkolev92 commented on #5993
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-10-17 17:40] #5993 closed, assigned to PatoBeltran

[2017-10-17 17:42] zhili1208 commented on #4055
If the package is missing from source, nuget will not cache the http response. But if nuget can find the package but the version is missing, nuget will cache the http response. For this case, user need to restore with NoCache. Close it as by design

[2017-10-17 17:42] #4055 closed, assigned to nobody

[2017-10-17 17:43] emgarten commented on #4995
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-10-17 17:43] #4995 closed, assigned to nobody

[2017-10-17 17:43] natemcmaster commented on #4855
+1 for `dotnet nuget sources` for adding credentials. This is important to us as we've been asked to switch to VSTS private feeds.

[2017-10-17 17:47] zhili1208 commented on #4056
it's hard for nuget to differentiate a sub folder or an unknown target framework. Close it as won't fix

[2017-10-17 17:47] #4056 closed, assigned to nobody

[2017-10-17 17:48] #4994 closed, assigned to nobody

[2017-10-17 17:48] jainaashish commented on #3519
CI builds have been moved from TeamCity to VSTS which has different build configurations.

[2017-10-17 17:48] #3519 closed, assigned to nobody

[2017-10-17 17:48] mishra14 commented on #5008
@gulbanana you should be able to do the following -

[code]

[2017-10-17 17:48] #5008 closed, assigned to nobody

[2017-10-17 17:49] zhili1208 commented on #4060
close as dupe #3928

[2017-10-17 17:49] #4060 closed, assigned to nobody

[2017-10-17 17:50] emgarten commented on #4993
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-10-17 17:50] #4993 closed, assigned to nobody

[2017-10-17 17:52] jainaashish commented on #3523
Fixed.

[2017-10-17 17:52] #3523 closed, assigned to nobody

[2017-10-17 17:54] emgarten commented on #4991
See https://docs.microsoft.com/en-us/nuget/schema/nuget-config-file for additional help on setting the folder location.

[2017-10-17 17:54] #4991 closed, assigned to nobody

[2017-10-17 17:54] mishra14 commented on #5010
closing as "Wont Fix", based on an offline chat with @emgarten.

[2017-10-17 17:54] #5010 closed, assigned to nobody

[2017-10-17 17:57] jainaashish commented on #3530
This isn't a high priority item for now and besides there are easy workarounds available. So will mark it for upforgrab.

[2017-10-17 17:59] #5013 closed, assigned to nobody

[2017-10-17 17:59] emgarten commented on #4990
Based on the msbuild error shown the SDK is missing, this does not look related to nuget or pack. Please update your project or specify the version of msbuild to use by adding it to your `PATH`.

[2017-10-17 17:59] #4990 closed, assigned to nobody

[2017-10-17 18:02] emgarten commented on #4989
This workaround should be added to the official docs.

@nkolev92 @anangaur

[2017-10-17 18:03] zhili1208 commented on #4066
Project.json is dead, moving to package reference is the solution here. close it

[2017-10-17 18:03] #4066 closed, assigned to nobody

[2017-10-17 18:08] emgarten commented on #4983
Thanks for reporting the issue. At this point we do not plan on releasing an update for VS2015. Please try latest [VS2017](https://www.visualstudio.com/#) and let us know if you need more help from us.

[2017-10-17 18:08] #4983 closed, assigned to nobody

[2017-10-17 18:09] emgarten commented on #4981
I believe this was caused by the package source missing this package.

[2017-10-17 18:09] #4981 closed, assigned to nobody

[2017-10-17 18:11] jainaashish commented on #3536
With PackageReference, you don't get transitive dependencies in the source project explicitly so your scenario will be fixed with that. You can find more details in this blogpost -https://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html

Other than this, we don't plan to support these properties at this time and the expectation is a package include everything it would need to i

[2017-10-17 18:11] #3536 closed, assigned to nobody

[2017-10-17 18:11] nkolev92 commented on #370
@rohit21agrawal merged both PathUtility classes, so I consider this as fixed now.

[2017-10-17 18:11] #370 closed

[2017-10-17 18:11] emgarten commented on #4957
I believe the work for UWP and ATF was done in the SDK. Please re-open if more needs to happen here.

[2017-10-17 18:11] #4957 closed, assigned to nobody

[2017-10-17 18:11] PatoBeltran commented on #3002
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. Thanks for helping us improve Visual Studio.

[2017-10-17 18:11] #3002 closed, assigned to nobody

[2017-10-17 18:11] #5015 closed, assigned to nobody

[2017-10-17 18:13] zhili1208 opened #6046 "Add new project system extensibility for nuget"
we have some asks from customer about how to add new project system to nuget. we should provide an API for new project system extensibility

[2017-10-17 18:15] emgarten commented on #4955
This is currently the expected behavior, remove the summary to keep both in sync.

[2017-10-17 18:15] #4955 closed, assigned to nobody

[2017-10-17 18:15] jainaashish commented on #3538
No, there is no such api and we don't plan to add one as well.

[2017-10-17 18:15] #3538 closed, assigned to nobody

[2017-10-17 18:17] emgarten commented on #4954
ContentFiles are immutable, copy them to the project manually if you need to edit the files.

[2017-10-17 18:17] #4954 closed, assigned to nobody

[2017-10-17 18:19] emgarten commented on #4953
@ygeelen-tb are you still able to repro this in the latest NuGet 4.4?  If so would it be possible for you to help track down why these config files are not coming through?

[2017-10-17 18:20] emgarten commented on #4951
This has been fixed with SemVer 2.0.0 support

[2017-10-17 18:20] #4951 closed, assigned to emgarten

[2017-10-17 18:21] zhili1208 commented on #4068
unfortunately we can't take this PR. The right approach for this issue is NuGet should have new project system extensibility for new project system support #6046

[2017-10-17 18:21] #4068 closed, assigned to rrelyea

[2017-10-17 18:22] mishra14 commented on #5018
@joelverhagen feel free to create a PR to fix this.

[2017-10-17 18:22] #5018 closed, assigned to nobody

[2017-10-17 18:22] nkolev92 commented on #3959
Merging issues:
Duplicate of https://github.com/NuGet/Home/issues/3584

[2017-10-17 18:22] #3959 closed, assigned to nobody

[2017-10-17 18:24] nkolev92 commented on #3584
Adding another issue to the list:

#3959

Here's the description from there:

Globbing patterns in nuspec using forward slashes do not match files. The same pattern with backslashes works.

## Details
Using NuGet.exe 3.5.0.1938 on Windows 10

## Repro

1. Create folder layout
[code]
1. Use this nuspec
[code]
2. `nuget.exe pack TestPackage.nuspec`

## Expected result
NuGet package contains:
[code]

[2017-10-17 18:25] #5027 closed, assigned to nobody

[2017-10-17 18:26] nkolev92 commented on #5992
Adding pushing with multiple slashes in path to the list.

Original issue: https://github.com/NuGet/Home/issues/3544

[2017-10-17 18:27] nkolev92 commented on #3544
Will be resolved in a different issue.

Duplicate of https://github.com/NuGet/Home/issues/5992

[2017-10-17 18:27] zhili1208 commented on #4069
we should remove clone-repos.ps1 and build-nuget.ps1. They are out of date

[2017-10-17 18:27] PatoBeltran commented on #3027
Closing as issue opened in nuget docs repo https://github.com/NuGet/docs.microsoft.com-nuget/issues/238

[2017-10-17 18:27] #3027 closed, assigned to karann-msft

[2017-10-17 18:27] PatoBeltran commented on #1508
Closing as issue opened in nuget docs repo https://github.com/NuGet/docs.microsoft.com-nuget/issues/238

[2017-10-17 18:27] #1508 closed, assigned to nobody

[2017-10-17 18:27] #3544 closed, assigned to nobody

[2017-10-17 18:29] emgarten commented on #4945
Use `dotnet add` to update a PackageReference version. There is currently no plan to duplicate these commands in nuget.exe.

Related: https://github.com/NuGet/Home/issues/4103

[2017-10-17 18:29] #4945 closed, assigned to nobody

[2017-10-17 18:29] mishra14 commented on #5025
taggin @zhili1208 who is investigating supporting sql projects in NuGet.

[2017-10-17 18:31] PatoBeltran commented on #2991
At this point we do not plan on releasing an update for Nuget2. Please try latest and let us know if you need more help from us.

[2017-10-17 18:31] #2991 closed, assigned to nobody

[2017-10-17 18:33] zhili1208 commented on #4070
Please try nuget.exe 4.3.0 from https://www.nuget.org/downloads, if it still repro, feel free to reopen it

[2017-10-17 18:33] #4070 closed, assigned to nobody

[2017-10-17 18:34] nkolev92 commented on #3584
Threw in a couple of pack issues with forward/backward slashes.

[2017-10-17 18:34] nkolev92 commented on #4073
Duplicate of https://github.com/NuGet/Home/issues/3584

[2017-10-17 18:34] #4073 closed, assigned to zhili1208

[2017-10-17 18:35] jswagger commented on #1215
Closing out of VS, then reopening with the Package Manager Console open prompted for a "Restore", which then fixed it for me.

[2017-10-17 18:35] mishra14 commented on #5030
[code]

[2017-10-17 18:35] #5030 closed, assigned to nobody

[2017-10-17 18:35] nkolev92 commented on #4729
Duplicate of https://github.com/NuGet/Home/issues/3584

[2017-10-17 18:35] #4729 closed, assigned to nobody

[2017-10-17 18:36] jainaashish commented on #3540
@jochenwezel is this still an issue with NuGet.exe 4.4.0? And if yes, then can you please share a repro solution to analyze your issue?

[2017-10-17 18:36] nkolev92 commented on #4596
Duplicate of https://github.com/NuGet/Home/issues/3584

[2017-10-17 18:36] #4596 closed, assigned to nobody

[2017-10-17 18:37] PatoBeltran commented on #3032
Closing as already linked to a PR

[2017-10-17 18:37] #3032 closed, assigned to nobody

[2017-10-17 18:38] nkolev92 commented on #3584
Added all related issues I could find that deal with paths cross-plat both pack and push related ones.
Assigning @rohit21agrawal and @zhili1208 to this mega-issue as they are the ones that had multiple of these assigned to them.

[2017-10-17 18:42] zhili1208 commented on #4075
I can repro this issue with NuGet 4.4

[2017-10-17 18:42] PatoBeltran commented on #3048
Thanks for reporting the issue. At this point we do not plan on releasing an update for VS2012. Please try latest [VS2017](https://www.visualstudio.com/#) and let us know if you need more help from us.

[2017-10-17 18:42] #3048 closed, assigned to nobody

[2017-10-17 18:43] zhili1208 commented on #4077
close as dupe

[2017-10-17 18:43] #4077 closed, assigned to rohit21agrawal

[2017-10-17 18:44] nkolev92 commented on #5992
Closing this in favor of https://github.com/NuGet/Home/issues/3584

That's a mega issue that contains all our of xplat path resolver problems.

[2017-10-17 18:44] #5992 closed, assigned to rohit21agrawal

[2017-10-17 18:45] mishra14 commented on #5516
@kdawg1406 This is a dupe of https://github.com/NuGet/Home/issues/4615. Please follow that issue for tracking.

[2017-10-17 18:45] #5516 closed, assigned to nobody

[2017-10-17 18:46] mishra14 commented on #4615
it seems NuGet part of this is fixed in https://github.com/NuGet/NuGet.Client/pull/1513. We will need another fix from Visual Studio.

[2017-10-17 18:46] #4615 closed, assigned to nkolev92

[2017-10-17 18:47] zhili1208 commented on #4078
there is no way to install incompatible package to the project.

[2017-10-17 18:47] #4078 closed, assigned to nobody

[2017-10-17 18:49] #5607 closed, assigned to nobody

[2017-10-17 18:50] jainaashish commented on #3541
@ericstj is this still a valid issue?

@Mohammed-El-Nabulsi can you tell us more about your issue? and probably a repro solution?

[2017-10-17 18:50] mishra14 commented on #5035
Closing as by design after offline discussion with @emgarten.

[2017-10-17 18:50] #5035 closed, assigned to nobody

[2017-10-17 18:51] zhili1208 commented on #4081
Please try nuget.exe 4.3 from https://www.nuget.org/downloads, if it still repro, feel free to reopen

[2017-10-17 18:51] #4081 closed, assigned to nobody

[2017-10-17 18:55] zhili1208 commented on #4082
Please try nuget.exe 4.3 from https://www.nuget.org/downloads, if it still repro, feel free to reopen it

[2017-10-17 18:58] emgarten commented on #4943
`File > New Project` for SDK projects uses auto restore to run the restore/install. You should be able to write the PackageReferences directly into the template.

Please let me know if this doesn't work for you.

[2017-10-17 18:58] #4943 closed, assigned to nobody

[2017-10-17 18:59] zhili1208 commented on #4085
Please try nuget.exe 4.3 from https://www.nuget.org/downloads. I can't repro with Nuget.exe 4.3

[2017-10-17 18:59] #4085 closed, assigned to nobody

[2017-10-17 18:59] emgarten commented on #4942
@nkolev92

[2017-10-17 19:00] zhili1208 commented on #4087
Thanks for reporting the issue. At this point we do not plan on releasing an update for VS2015. Please try latest [VS2017](https://www.visualstudio.com/#) and let us know if you need more help from us. 

[2017-10-17 19:00] #4087 closed, assigned to nobody

[2017-10-17 19:00] nkolev92 commented on #5991
This is not something that NuGet does directly, rather something the exp team handles.
Creating an issue https://github.com/dotnet/ProjFileTools/issues/33 as I don't have the rights to move this issue.

@bradphelan Can you please add more details there if needed.

[2017-10-17 19:00] #5991 closed, assigned to nobody

[2017-10-17 19:01] zhili1208 commented on #4088
Thanks for reporting the issue. At this point we do not plan on releasing an update for VS2015. Please try latest [VS2017](https://www.visualstudio.com/#) and let us know if you need more help from us. 

[2017-10-17 19:01] #4088 closed, assigned to nobody

[2017-10-17 19:04] mishra14 commented on #5058
Closing as wont fix

[2017-10-17 19:04] #5058 closed, assigned to nobody

[2017-10-17 19:04] zhili1208 commented on #4090
Please try nuget.exe 4.3 from https://www.nuget.org/downloads, if it still repro, feel free to reopen

[2017-10-17 19:04] #4090 closed, assigned to nobody

[2017-10-17 19:07] jainaashish commented on #3547
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. So we're closing it for now, but if we see more community feedback on this issue, we'll further take a look.

[2017-10-17 19:07] #3547 closed, assigned to nobody

[2017-10-17 19:07] zhili1208 commented on #4089
this experience is better in VS 2017 with package reference, we are still improving perf. close it

[2017-10-17 19:07] #4089 closed, assigned to jainaashish

[2017-10-17 19:09] dotMorten commented on #3547
@jainaashish So... you haven't had time to look at it, thus this is invalid feedback?

[2017-10-17 19:12] emgarten commented on #4937
This work will be part of adding a lock file.
https://github.com/NuGet/Home/issues/4394

[2017-10-17 19:12] #4937 closed, assigned to nobody

[2017-10-17 19:15] emgarten commented on #4936
@v-luzh does this still repro? is this a regression?

[2017-10-17 19:16] rrelyea commented on #2001
@natidea - PackageReference scenarios could still use this work. A PR that wasn't merged.
Also, we'd want to ensure PackageRef csproj and PackageRef sdkproj both work well here.
/cc @jainaashish

[2017-10-17 19:17] #4935 closed, assigned to nobody

[2017-10-17 19:17] #2008 closed, assigned to nobody

[2017-10-17 19:19] emgarten commented on #4934
Closing, let me know if @rohit21agrawal's answer does not work for you

[2017-10-17 19:19] #4934 closed, assigned to nobody

[2017-10-17 19:19] rrelyea commented on #2013
Updating the advice. We've now evolved past project.json towards PackageReference in csproj. Please evaluate making the jump there.

[2017-10-17 19:19] #2013 closed, assigned to nobody

[2017-10-17 19:21] emgarten commented on #4930
This would need a change to the v2 feed parser.

[2017-10-17 19:22] rrelyea commented on #2015
fixed in ~Feb 2017 -- VS 2017 15.0, DotNet 1.1, and NuGet 4.0 eras.

[2017-10-17 19:22] #2015 closed, assigned to nobody

[2017-10-17 19:22] #4929 closed, assigned to nobody

[2017-10-17 19:26] #4927 closed, assigned to nobody

[2017-10-17 19:27] nkolev92 commented on #5972
Closed as fixed.

[2017-10-17 19:27] #5972 closed, assigned to nobody

[2017-10-17 19:29] zhili1208 commented on #4104
doesn't repro in VS 15.4

[2017-10-17 19:29] #4104 closed, assigned to nobody

[2017-10-17 19:30] mwpowellhtx commented on #5972
@nkolev92 Definitely fixed, thank you. I was able to investigate and identify the solution including with feedback from this issue. However, the only thing is the NuGet notification "announcing" the issue was 3-4 weeks late in coming. That'd be my only criticism.

[2017-10-17 19:31] emgarten commented on #4978
Looks like NuGet is caching this data and needs to invalidate it

[2017-10-17 19:34] jainaashish commented on #3553
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-10-17 19:34] #3553 closed, assigned to nobody

[2017-10-17 19:34] #5941 closed, assigned to nobody

[2017-10-17 19:36] rrelyea commented on #2020
dotnet new classlib
dotnet pack
nuspec created uses:
`<package xmlns="http://schemas.microsoft.com/packaging/2012/06/nuspec.xsd">`

closing as fixed - likely in dotnet 1.1, nuget 4.0, vs 2017 version 15.0 era - feb 2017.

[2017-10-17 19:36] #2020 closed, assigned to nobody

[2017-10-17 19:36] nkolev92 commented on #5941
Fixed by @mishra14 in https://github.com/NuGet/NuGet.Client/pull/1731

[2017-10-17 19:37] zhili1208 commented on #4105
Close as not repro, Please try Visual Studio 2017 15.4, if it still repro, feel free to reopen it

[2017-10-17 19:37] #4105 closed, assigned to nobody

[2017-10-17 19:37] emgarten commented on #4975
It looks like the issue here is that PS does not support v3 sources. Please file an issue there.

[2017-10-17 19:37] #4975 closed, assigned to nobody

[2017-10-17 19:38] jainaashish commented on #3554
Won't fix it at this time since it's not a real customer scenario.

[2017-10-17 19:38] #3554 closed, assigned to nobody

[2017-10-17 19:40] #4974 closed, assigned to nobody

[2017-10-17 19:42] jainaashish commented on #3555
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-10-17 19:42] #3555 closed, assigned to rohit21agrawal

[2017-10-17 19:43] rrelyea commented on #2021
See https://www.nuget.org/packages/NuGetMirror/ for a package that helps do that from @emgarten

[2017-10-17 19:43] #2021 closed, assigned to nobody

[2017-10-17 19:44] emgarten commented on #4973
Please open issues or comment in existing issues that cover your problems with PackageReference.  Packages.config will remain supported, but automatically migrating projects from PR -> PC is not something that will be supported.

[2017-10-17 19:44] #4973 closed, assigned to nobody

[2017-10-17 19:44] jainaashish commented on #3565
This is the expected behavior and not a bug.

[2017-10-17 19:44] #3565 closed, assigned to zhili1208

[2017-10-17 19:45] rrelyea commented on #2026
Given that VS 2017 version 15.x uses NuGet version 4.x -- this is much less important than it used to be.

[2017-10-17 19:45] #2026 closed, assigned to nobody

[2017-10-17 19:46] emgarten commented on #4972
We do not currently build on arm. If you find the needed steps to make this work feel free to share it here.

[2017-10-17 19:46] #4972 closed, assigned to nobody

[2017-10-17 19:47] rrelyea commented on #2027
If you are able to repro in VS2017 version 15.4 or later, please comment and give us more details on how to repro.

[2017-10-17 19:47] #2027 closed, assigned to nobody

[2017-10-17 19:49] emgarten commented on #4971
Thanks for the suggestion. We will not be fixing this issue, it is expected that the user will understand the need for the packages referenced.

[2017-10-17 19:49] #4971 closed, assigned to nobody

[2017-10-17 19:53] emgarten commented on #4970
This looks like a problem with mono. Please let me know if you are able to repro this on other environments.

[2017-10-17 19:53] #4970 closed, assigned to nobody

[2017-10-17 19:53] nkolev92 commented on #5932
Thanks for the suggestion.
At this point we'd like to shift our focus to other higher impact issues as there is a simple workaround for your scenario.

[2017-10-17 19:53] #5932 closed, assigned to nobody

[2017-10-17 19:54] emgarten commented on #4969
Not enough info, please re-open with more details. Thanks!

[2017-10-17 19:54] #4969 closed, assigned to nobody

[2017-10-17 19:54] rrelyea commented on #2028
Marking won't fix for now.

[2017-10-17 19:54] #2028 closed, assigned to nobody

[2017-10-17 19:55] emgarten commented on #4963
@karann-msft is this still needed?

[2017-10-17 19:56] emgarten commented on #4963
Please re-open if it is with additional details on how to fix this.