[2016-05-11 03:42] knightpfhor commented on #2746
It seems that this is already a high priority feature #1806.

[2016-05-11 06:10] pvandervelde opened #2761 "Pack fails when properties have HTML encoded text"
When you have HTML encoded text in a property nuget pack fails with the error

[code]

The nuspec file for this test case is:

[code]

And the command line is:

[code]

If you manually replace `$Prop$` in the nuspec file with `&gt;` then it works fine. But it doesn't work if you pass the text `&gt;` to nuget via the Properties argument.
I'm guessing this is a problem with not escaping correctly bu

[2016-05-11 09:46] raspy commented on #2741
@shepherd007 actually you can use Artifactory's API key instead of your password for basic authentication. You need to have Artifactory 4.4.3 at least and re-generate your API key if it was generated with pre-4.4.3 version. Artifactory API key does not expire on password change, it can only be reset on demand.

See [Artifactory 4.4.3 release notes](https://www.jfrog.com/confluence/display/RTF/Arti

[2016-05-11 11:32] shepherd007 commented on #2741
It seems to work. I just need to check if it works after password change as well.
To sum up:
- regenerating ApiKey password is mandatory (it is not sufficient just to generate ApiKey in JFrog!)
- Encrypted password is not being used - instead of that as a password ApiKey is required (nuget.exe sources add/update -Password ...)

[2016-05-11 12:38] ghuntley opened #2762 "NuGet on Gitter?"
It would be really useful to have a place where other maintainers of packages could gather and seek advice on how to package stuff up and share knowledge with other package maintainers, etc. Similar to the corefx/coreclr channels on gitter.

[2016-05-11 13:19] daveaglick commented on #2762
Also for folks trying to integrate with the API. There's so little documentation on this right now that a place to exchange advice and ideas in real-time could be really helpful.

[2016-05-11 13:36] harikmenon commented on #2762
Thanks for raising this. We have been talking about this with the team for a while. We are currently thinking about gitter or slack. @daveaglick @ghuntley any preferences? I'm a bit more inclined to use slack since conversations are a bit more easier to follow along.

[2016-05-11 13:49] ghuntley commented on #2762
I love Slack but the standard for dotnet foundation / corefx / coreclr /
Xamarin is gitter. Please stick with Gitter.

On Wed, 11 May 2016, 11:36 PM Harikrishna Menon notifications@github.com
wrote:

[2016-05-11 13:51] daveaglick commented on #2762
@harikm86 My vote would strongly be for Gitter. I find the way that it natively integrates with GitHub events to be valuable. I also like that it's a default-open community with an official web interface (as opposed to a default-closed community with only clients for Slack). That makes it seem much more welcoming and easier to jump in and out of.

[2016-05-11 13:59] harikmenon commented on #2762
Let me circle back with the team, get their thoughts and will respond as soon as possible.

[2016-05-11 14:08] dsagar3409 opened #2763 "VS doesn't support environment variables in repositoryPath (NuGet.exe does)"
Hi,

I have installed the latest Nuget Package (version: 3.4.3.855) and it is not able to resolve environment variable mentioned in the “repositoryPath” (Nuget.config). However, NuGet.exe (console application) is able to resolve it.

The path is mentioned as shown below:
 `<config>
  <add key="repositoryPath" value="%MYNUGETPATH%" />
</config>
`

MYNUGETPATH should resolve to a folder located on m

[2016-05-11 16:39] rrelyea commented on #1860
This looks like discussion is still going on.
Set as build task bug, no milestone, assigned to @jasonmalinowski .
Please fix, if I made a mistake there.
If we are going to close it, let's give the reason (by design, etc...)

[2016-05-11 16:43] davidmatson commented on #2748
This recently hit us as well. We end up doing manual cleanup to remove unnecessary app.config files from DLL projects, but because this is manual work we sometimes make mistakes. We ended up removing one from an exe project that needed it, but to make matters worse, it only needed it in exception scenarios. We ended up wasting a couple of days tracking down the root cause. Any chance we could bump

[2016-05-11 16:44] rohit21agrawal opened #2764 "Package Manager UI does not sort packages correctly by ascending/descending order"
I verify the issue in nuget version 2.10.791 and 2.11.1.811, also repro this issue now, but not repro before.

Repro steps:
1.       Create a new project(like MVC or others).
2.       Open NuGet UI.
3.       Navigate to Online tab, sort by Ascending or Descending.

Expect: The packages sort by Ascending or Descending.

Actually: The packages doesn’t sort by Ascending or Descending.

[2016-05-11 17:12] rrelyea opened #2765 "Verify using https only works from 2.12"
When using nuget.org sources, does 2.12 use https by default for everything?
If not, let's explore changing it to https.
We should test network traffic and search source code to understand any http content fetched by nuget.

[2016-05-11 17:33] AArnott commented on #1860
@jasonmalinowski I have uploaded the design-time logs [here](https://onedrive.live.com/redir?resid=63D0C265F96E43D!2694858&authkey=!AFYmdmqOrRJTBSE&ithint=file%2czip).

[2016-05-11 17:39] rrelyea commented on #821
In validation, Zhi found that this issue still repros. Reactivating.

[2016-05-11 17:50] joelverhagen commented on #2528
Verified with NuGet 3.5.0 (build 1249).

[2016-05-11 17:52] emgarten commented on #2390
nuget/nuget.client@0836ef72d6b89d033f11ff21703dd693aea32515

[2016-05-11 17:52] #2390 closed, assigned to emgarten

[2016-05-11 17:56] rrelyea commented on #1496
Verified fixed with 3.5.0-beta (build 3.5.0.1249) by @zhili1208

[2016-05-11 17:59] rrelyea opened #2766 "nuget restore project.csproj should error if the project isn't using nuget (p.config or p.json)"
https://github.com/NuGet/Home/issues/1496 just fixed this for "nuget update" w/ packages.config.
Let's me sure we have similar fix for restore as well.

And should we change the error if the project would be using project.json, instead of packages.config -- for both nuget restore and nuget update.

[2016-05-11 18:07] joelverhagen commented on #2421
This change is superceded by https://github.com/NuGet/NuGet.Client/commit/3b436f6f6b02f3dd116c9f9f2480bbd169551831, which has been verified.

[2016-05-11 18:12] joelverhagen commented on #2415
Verified fixed with 3.5.0-beta (build 3.5.0.1249)

[2016-05-11 18:16] rrelyea commented on #1842
@zhili1208 did some investigation here...after 3.5beta is done...finish conversation.

[2016-05-11 18:19] rrelyea opened #2767 "Move to using https in all places possible in client scenarios"
When using nuget.org sources, does 3.x use https by default for everything?
If not, let's explore changing it to https.
We should test network traffic and search source code to understand any http content fetched by nuget.

similar to #2765 for 2.12

[2016-05-11 18:24] zhili1208 commented on #2635
Verified fixed with 3.5.0-beta (build 3.5.0.1249)

[2016-05-11 18:24] zhili1208 commented on #2279
Verified fixed with 3.5.0-beta (build 3.5.0.1249)

[2016-05-11 18:24] zhili1208 commented on #2179
Verified fixed with 3.5.0-beta (build 3.5.0.1249)

[2016-05-11 18:25] zhili1208 commented on #2010
Verified fixed with 3.5.0-beta (build 3.5.0.1249)

[2016-05-11 18:25] zhili1208 commented on #1769
Verified fixed with 3.5.0-beta (build 3.5.0.1249)

[2016-05-11 18:25] zhili1208 commented on #575
Verified fixed with 3.5.0-beta (build 3.5.0.1249)

[2016-05-11 18:46] joelverhagen commented on #2397
Still needs some polish. At least one test is missing:
- `PackCommand_WithMsBuild12`

[2016-05-11 18:58] emgarten commented on #1686
Verified in 3.5.0-beta

[2016-05-11 19:25] joelverhagen commented on #1217
Verified fixed with 3.5.0-beta (build 3.5.0.1249)

[2016-05-11 21:11] tannergooding opened #2768 "portable-net45 imports favored over netstandard1.0"
Create a C# Portable Class Library and delete the `AssemblyInfo.cs` file.

Modify the `project.json` file to the following:

[code]

Modify the `Class.cs` file to the following:

[code]

Build the Project.

**Expected:**
The build should complete succesfully.

**Actual:**
The build fails with the following:
    `ClassLibrary\Class.cs(1,14,1,18): error CS0234: The type or namespace name 'Linq' does

[2016-05-11 22:46] emgarten commented on #2768
@tannergooding what version of NuGet are you using?

This looks like: https://github.com/NuGet/Home/issues/2377 which has been fixed in 3.5.0.

[2016-05-11 23:10] emgarten commented on #2114
Verified on 3.5.0-beta

[2016-05-12 00:14] spadapet opened #2769 "Fix CachingSourceProvider and RestoreArgs based on comments from PR #586"
Original pull request: https://github.com/NuGet/NuGet.Client/pull/586
Fixing this original bug: https://github.com/dotnet/cli/issues/2510

The changes for the comments in that pull request were too destabilizing for a 3.5 beta fix. Need to go back and make "iteration 2" changes.

Also: Enable the two new tests from that PR, they are currently disabled. The nuget.config file needs to be stripped of

[2016-05-12 03:17] tannergooding commented on #2768
@emgarten: I am using `v3.4.3`, which is the latest available from https://dist.nuget.org/index.html

Is there a location where I can get v3.5.0 to validate it fixes the issue?

[2016-05-12 12:31] anton-kirschhock opened #2770 "Pack multiple .net Framework targets in a nuget"
My project has 2 release targets: 1 for .net 4.5 and one for 4.0.
I was wondering if there is a workflow to follow to create nuget packages of a library which has a .Net 4.0 AND a .Net 4.5 version?
For the moment i have to use the Nuspec to add the 4.0 DLL but was wondering if there is another way to do this?

[2016-05-12 14:56] myusrn opened #2771 "update-package trying to use packageid,version instead of package.version"
i'm running the current vs15upd2 nuget package manager extension 3.4.3.855 and am finding that attempts to use package manager console update-package command results in it trying to execute update with a ',' in the fully qualified package name instead of a '.' and so the update fails.

**repo steps**
PM>update-package My.Package.Id -source d:\src\temp\packages -includeprerelease -version 0.0.0-alp

[2016-05-12 16:08] Owen37A opened #2772 "nuget configuration is invalid - ALL THE TIME"
VS2015, New install on new, clean install of Windows 10 Pro. When opening a website project and selecting "Manage Newget project". Says there are no nuget projects (there ARE) and disables itself. Can't add or delete juget stuff.

When click on project and select manage nuget, says "nuget configuration is inavlid". Have googled the issue and nothing I've tried works.

[2016-05-12 16:48] chamons commented on #2662
Yep. That's the problem with lying. Sometimes you get caught.

However, there are a huge number of nuget packages out there that don't know about XM at all. If we don't lie, we can't use any of them.

The XM45 target framework was\is an imperfect solution to an unhappy problem.

I'm happy to hear better solutions, doubly so if they are backwards compatible. :)

[2016-05-12 16:50] chamons commented on #2662
I do not have enough context with nuget to understand the question enough to answer it safely.

What XM45 ships in almost all cases is what mono builds in their "normal" build. For example for System.dll in XM45 we just use: "System.dll.sources" (https://github.com/mono/mono/blob/master/mcs/class/System/xammac_net_4_5_System.dll.sources)

I have no idea what that maps to in nuget land.

[2016-05-12 16:52] joelverhagen commented on #2662
In the project.json world, this problem is addressed using `imports`. Suppose your consuming project is  targeting `xamarinmacnet` and wants to pull in a `net45` package. In NuGet we could choose to have no "baked in" compatibility between the two, but if developers wanted to take the risk and pull in a `net45` package they could target `xamarinmacnet` with a `net45` "imports" directive. This woul

[2016-05-12 16:57] joelverhagen commented on #2662
(edited to clarify my wording :sweat:)

[2016-05-12 17:42] rrelyea commented on #2772
Sorry for break in 3.4.3

Dupe of #2667. Fix is available in 3.4.4-rc and will be shipping in final form within a week (POR).
(rc build is posted to http://dist.nuget.org/index.html)

[2016-05-12 17:42] #2772 closed, assigned to nobody

[2016-05-12 17:47] chamons commented on #2662
All Xamarin projects (that I know of) are the standard msbuild project format processed by xbuild.

[2016-05-12 18:40] clairernovotny commented on #2662
AFAIK, project.json isn't yet supported by Xamarin Studio...in the stable channel. I've heard that it is available in the alpha channel.

You should be able to use project.json with any project type though for nuget references, I blogged about how.

[2016-05-12 18:50] emgarten commented on #2768
@tannergooding you can find it under the nightly build link on dist.

[2016-05-12 20:30] jainaashish commented on #2771
There is a ',' only in error message while for actual call, we use '.' I'll add space in error message to avoid confusion.

Other than this, i'm not able to repro this issue. Please share a small repro project.

[2016-05-12 20:49] rrelyea commented on #2770
There is some tooling available with ASPNET core tooling.
[RC1 tooling](https://blogs.msdn.microsoft.com/webdev/2015/11/18/announcing-asp-net-5-release-candidate-1/) is available today, RC2 should be in the near future.

that document includes:

Anyway, I've shown in this project ([Net40AndNet45.zip](https://github.com/NuGet/Home/files/262224/Net40AndNet45.zip)) how to use xproj and project.json t

[2016-05-12 20:50] #2770 closed, assigned to nobody

[2016-05-12 21:22] tannergooding commented on #2768
I've validated that the `v3.5.0-rc` package resolves the issue. Thanks!

[2016-05-12 21:22] #2768 closed, assigned to nobody

[2016-05-12 21:25] gzak opened #2773 "Multi-trageting basic class library with VS2015"
I have a very barebones class library, and here's its project.json file (it's just a data model with very basic types and so doesn't need any other dependencies):

[code]

I've checked the box in the xproj's Build settings to include output on build.

I also have a separate solution with a traditional csproj project inside targeting .net 451 (framework assemblies), and when I add a dependency on t

[2016-05-12 21:35] joelverhagen opened #2774 "Support ./NuGet.CommandLine.XPlat -v <verbosity> <mode>"
There was a regression. This used to be supported:

[code]

Right now, the code is rejecting this with:

[code]

This regression is blocking https://github.com/dotnet/cli/pull/3004.

[2016-05-12 21:37] rohit21agrawal opened #2775 "Nuget.exe update -self includes pre-release versions by default"
Nuget.exe update -self should have the option to specify whether we want to update it to a pre-release version or not.

Additionally, we might even consider the option of being able to specify the source from which to pick up Nuget.CommandLine in addition to specifying the -PreRelease option.

While the nuget.exe update command does allow the -PreRelease option, we ignore the option and pass it as

[2016-05-12 21:38] joelverhagen commented on #2774
/cc @rrelyea

[2016-05-12 22:27] rohit21agrawal opened #2776 "nuget.exe update doesn't work with project.json based projects."
Tried with xproj + project.json & csproj + project.json
Gives one of the following error:
Unable to locate the packages folder. Verify all the packages are restored before running 'nuget.exe update'.
No packages.config, project or solution file specified. Use the -self switch to update NuGet.exe

On providing a packages directory explicitly with a -PackagesDirectory option, gives the following err

[2016-05-12 22:30] spadapet opened #2777 "VS Package Manager: Uninstall of package uses the wrong line breaks when editing project.json"
**REPRO**
1. I have v3.5.0.1249 of NuGet Package Manager installed
2. File | New | Project | C# | .NET Core | Console App (.NET Core)
3. Right-click the project node and choose "Manage NuGet Packages"
4. Browse | Select Newtonsoft.Json
5. Install it
6. Uninstall it
7. Open project.json

**RESULT**
The inconsistent line break dialog shows
![image](https://cloud.githubusercontent.com/assets/2523431/

[2016-05-12 22:32] joelverhagen commented on #2774
Fixed with https://github.com/NuGet/NuGet.Client/pull/593. Pushed to `dev`.

[2016-05-12 22:32] #2774 closed, assigned to joelverhagen

[2016-05-12 22:36] rrelyea commented on #2776
@rohit21agrawal - can you please confirm if this worked in 3.3 or 3.4.4. Sounds like it didn't, but I want to be sure.

[2016-05-12 22:38] rohit21agrawal commented on #2776
I checked with 3.4.3-rtm-0855, got the exact same behavior. I feel safe to say this has existed for quiet some time.

[2016-05-12 22:39] rrelyea commented on #2777
@spadapet - upon looking it up, figured out this build # is a dev branch build. Please confirm that it does or doesn't repro in 3.5.0-beta latest build.

[2016-05-12 22:42] emgarten commented on #2777
This is all done using json.net as far as I know. I wonder if there's a setting on save that could help normalize the endings.

[2016-05-12 22:50] emgarten opened #2778 "GetDiagnosticMessage should log all package information at the debug level"
`ResolverUtility.GetDiagnosticMessage` is called when the packages.config resolver is unable to find a valid solution. To provide full details to users who wish to debug the problem themselves beyond the simplified error message nuget should log everything at the `debug` level (opt-in only and not shown by default). This would help advanced users track down missing packages and other problems, and

[2016-05-12 22:56] joelverhagen opened #2779 "Evaluate NuGetPackageVerifier errors"
I ran ASP.NET's [NuGetPackageVerifier](https://github.com/aspnet/DnxTools/tree/dev/src/NuGetPackageVerifier) against NuGet packages and got a variety of errors:

`... missing the '[assembly: AssemblyMetadata("CommitHash", "<text>")]' attribute.`
- lib/net45/NuGet.Client.dll
- lib/net45/NuGet.Commands.dll
- lib/net45/NuGet.Common.dll
- lib/net45/NuGet.Configuration.dll
- lib/net45/NuGet.ContentMode

[2016-05-12 22:58] joelverhagen commented on #2779
Part of resolving this issue should be integrating this verification into the CI.

[2016-05-12 23:02] joelverhagen commented on #2779
I have a fork of the tool which works well on NuGet packages:
https://github.com/joelverhagen/DnxTools/tree/jver/nuget

[2016-05-12 23:03] spadapet commented on #2777
The OneNote says to use 1249, and I installed the VSIX from the link. So I think I was using the 3.5 beta build.

It says:
![image](https://cloud.githubusercontent.com/assets/2523431/15233141/07831d2a-185b-11e6-9386-f5e10bc5d3c5.png)

[2016-05-12 23:11] rrelyea commented on #2779
@joelverhagen - Let me know if any of this looks like a showstopper to you for 3.4.4, otherwise, 3.4.5. thx.

[2016-05-12 23:36] rrelyea commented on #2777
ah yes, you are right. I think I misread that number when I looked it up. please do include the release info when possible to help me distinguish between dev and release-3.5.0-beta
The other release branches are easier. thx.

[2016-05-12 23:36] gzak commented on #2773
Alternative solution: what's the minimal package I can add to the root-level "dependency" section such that it'll work in both targets and pull in the fewest dependencies?

[2016-05-12 23:44] rrelyea commented on #2779
@TimBarham  - please investigate fixing these in dev and 3.4.5 branches.
Some may not be slam dunks, after looking into some of these, let us know if some look untenable, or a ton of work.

[2016-05-12 23:44] rrelyea commented on #2779
not asking for you to integrate into CI yet...unless that is easily in your baliwick

[2016-05-13 00:47] mhutch commented on #2662
@chamons the term "project.json" is overloaded. It can be used with MSBuild, in which case it's just a replacement for packages.config, not the build system. As Oren mentioned, we support this in the alpha channel.

I don't see how this can work in the form proposed - the 4.5 frameworks for XM don't _have_ a TFM of their own for NuGet to match on, and we can't add one without breaking the ability

[2016-05-13 05:28] InteXX opened #2780 "Shared packages are automatically deleted during uninstall (repositoryPath)"
Currently the user has no control over whether packages under the `repositoryPath`-specified folder are deleted during `Uninstall-Package`. This means that other solutions using those now-deleted packages will have to either download them anew or retrieve them from cache.

I propose a new setting to exist alongside `repositoryPath`, to allow for package persistence upon uninstall. The default shou

[2016-05-13 06:27] anton-kirschhock commented on #2770
How about the "Legacy" .net projects like csproj?
The library is written with intention to be compatible with older projects we have running.

[2016-05-13 09:24] MosheL commented on #2601
Installed.

Fixed the main problem, but added a new one .

Ttry to open NuGet Package manager - works, but not for one of my projects and VS crashed.
Tried  the Console way and I am getting this, in any Web Project I am trying:

[code]

[2016-05-13 11:10] maartenba opened #2781 "Update NuGet from command line"
_From @Kanimozhi12 on May 13, 2016 10:32_

Hi,

I have installed NuGet to a particular folder from command line by using following command.
install "Packagename"  -Version "version"  -Source "source"  -o "output directory".The package has been installed successfully . Now i need to update the packages in this folder for this i have used the following command
Update "Pacakge name"  -Source "source"

[2016-05-13 13:44] ericstj opened #2782 "NuGet should add support for /runtimes/{rid}/nativeassets/{txm}/"
When we initially added the runtimes support this was excluded because corefx didn't have any scenarios for it.  There are folks that need this.  Native binaries can take a dependency on aspects of the `{txm}`, like WinRT surface area in the case of `uap10.x`, hosting-APIs/runtimes in the case of `net4x`.

We've discussed using/mis-using `runtimes/{rid}/lib/{txm}` for this but that won't work in a

[2016-05-13 13:44] ericstj commented on #2782
/cc @emgarten

[2016-05-13 15:01] yishaigalatzer commented on #2601
תודה על העדכון :)

[2016-05-13 15:13] IanGrainger opened #2783 "Unable to restore packages in web SITE project using NuGet 3 restore packages with whole solution (commandline)"
Hi, because the path to a web _site_ project in the solution file looks like: 'http://localhost:1234', trying to run NuGet3's package restore on the whole solution results in an: `the given path's format is not supported` error.

It seems because NuGet tries to include the web URL rather than the path to the files on disk, which is not where the package.config resides (and is also invalid).

It wo

[2016-05-13 17:49] zhili1208 commented on #2601
tried on my machine, looks like the path is good on my machine, the issue here is the website project root path is bad for nuget, not sure it's a path encoding issue or something else. so @MosheL what's your project path for the web project? and what's the nuget version? Does it work for any nuget version before? Not sure it's an regression or not.

[2016-05-13 18:29] rohit21agrawal commented on #1132
@wrongite  I tried this using Nuget 2.8.60318.667 and VS 2012 , but was unable to get this to repro. Could you provide more details as to the kind of project you were using? It would be even better if you could attach a small repro project for us to investigate.

Also, when you say .nuget\packages.config, do you actually mean the packages.config in the project directory?

[2016-05-13 18:37] zhili1208 commented on #2783
Did some investigation on this, it repros in nuget 2.8.6 and nuget 3.5-beta. The issue here is nuget always read "relative path" from "Microsoft.Build.Construction.SolutionFile" type, for this case, that path will return "http://localhost:1234". looks like a msbuild bug

[2016-05-13 18:45] emgarten opened #2784 "E2E tests fail due to ActivityCorrelationContext"
Steps
1. Import modules for nuget e2e tests
2. `Run-Test *BindingRedirect*`

On the final test VS crashes with an serialization exception from Remoting related to NuGet.Common.

I've verified that removing the ActivityCorrelationContext class allows the tests to pass. Adding exception catching all around the class didn't help, this error comes from somewhere else in the remoting pipeline.

The tes

[2016-05-13 18:45] emgarten commented on #2784
//cc @alpaix

[2016-05-13 18:52] emgarten commented on #2601
@MosheL which version of NuGet did this last work with? Are you able to repro this with 3.3.0?

[2016-05-13 19:12] IanGrainger commented on #2783
Awesome clarifications! I'm not sure how old the version of NuGet2 on our build server is - does this mean something changed a while ago in msbuild and none noticed? Or that it was broken in that release of NuGet so should be fixable inside NuGet itself?

[2016-05-13 19:16] rrelyea commented on #2783
Thanks for the report. We just want to understand the severity of the issue. Understanding that it has been broken in 2.8.6 - 3.4.3 is important information for us to understand when determining how to address.

[2016-05-13 20:48] #865 closed

[2016-05-13 20:49] skofman1 opened #2785 "NuGet.exe push - timeout parameter doesn't work"
@prestonj wrote in https://github.com/NuGet/NuGetGallery/issues/1094#issuecomment-219099916:
I'm also having this problem but the suggestion for adding the Timeout switch from @maartenba did not fix the issue for me. Seems there is another timeout on the HTTP PUT request that hits after 100 seconds. My command line is basically:

C:\test>nuget push -ApiKey xxx -Timeout 120000 -Source http://nuget.

[2016-05-13 20:50] skofman1 commented on #2785
https://github.com/NuGet/NuGetGallery/issues/1094#issuecomment-219099916

[2016-05-13 22:31] #2754 closed, assigned to toddm

[2016-05-13 22:34] emgarten commented on #1779
NuGet/NuGet.Client@214cfb083b6bb9b28d023298a0212f768de35cbf

[2016-05-13 22:34] #1779 closed, assigned to jainaashish

[2016-05-13 22:43] spadapet opened #2786 "First open of .sln will claim that .NETStandard references can't be resolved, even though they can"
I used the latest 3.5 beta package manager extension

REPRO:
1. In VS 2015 Update 2: File | New | Project | .NET Core Class Library
2. Close solution
3. Clear all nuget caches by running: nuget.exe locals -clear all
4. Reopen that solution in VS

RESULT:
Package restore occurs, it succeeds. However, the solution explorer shows errors:
![image](https://cloud.githubusercontent.com/assets/2523431/152

[2016-05-13 22:52] alpaix opened #2787 "Pre-release package icon labels in VS are misaligned"
_NuGet Package Manager 3.5.0.1286 (Russian)_

Pre-release package icon overlay label is wider than icon itself. It causes ugly alignment of package list in Package Manager.

![image](https://cloud.githubusercontent.com/assets/8239356/15263866/79cc7cba-1922-11e6-90ae-c08bcbd1217a.png)

[2016-05-13 23:06] alpaix opened #2788 "Package manager console output is not fully localized"
Package list headers, e.g. _Id, Versions, Description_, should be translated.

![image](https://cloud.githubusercontent.com/assets/8239356/15264081/79ea1728-1924-11e6-8d16-f1264bb7f8db.png)

[2016-05-14 00:02] drewgillies opened #2789 "More helpful error when installing a package targeting the wrong framework via VS UI"
E.g. installing a package which only targets net46 to a project targeting net452 will yield the following error.
![image](https://cloud.githubusercontent.com/assets/14225979/15264806/7163242a-192c-11e6-91df-666158287a75.png)

Version 3.5.0-beta, VS 2015.2

[2016-05-14 00:05] drewgillies opened #2790 "Insert the real NuGet icon in VS context menus"
Currently we have the following:
![image](https://cloud.githubusercontent.com/assets/14225979/15264822/bda2fcfc-192c-11e6-8f82-f64bc495b24d.png)

it would be a sharper experience if this generic package icon were replaced with the actual NuGet icon (even if a black outline representation of it)

[2016-05-14 05:27] abatishchev commented on #2550
Bump.

[2016-05-14 14:41] wrongite commented on #1132
@rohit21agrawal Today, I was unable to get this repro either. I guess the issue was fixed by VS 2012 Upddate 5. The Visual Studio seems to check the file out and undo check out automatically. So we cannot see the problem now but we are still noticed, the packages.config has been automatically checked out for editing.

![image](https://cloud.githubusercontent.com/assets/570322/15268954/133e6258-1a1

[2016-05-14 17:09] MosheL commented on #2601
@zhili1208
1.  web project, `c:\inetpub\matimim` on this error message
2.  solution is on MyDocs, so in my machine it's have a hebrew name (`E:\המסמכים שלי`)
3.  `Install-Package : An error occurred while writing file 'e:\inetpub\matimim\packages.config': Failed to write packages.config as XML file 'e:\inetpub\matimim\packages.config'. Error: 'Illegal characters in path.'.`
the path is correct, te

[2016-05-14 19:21] yishaigalatzer commented on #2601
Can you please go to tools and options -> extensions and updates and tell us what version of nuget is installed on your other machine?

Also can you share the packags.config file?

[2016-05-14 19:38] MosheL commented on #2601
[code]

for working version I can check  on morning.

[2016-05-14 19:48] yishaigalatzer commented on #2601
Thanks

[2016-05-15 07:44] M-Zuber opened #2791 "Consolidate tab showing packages from non-selected feed"
When opening the NuGet view for solution in VS2015.2 it will show packages from every connected feed non-regardless of what feed is selected in the package source dropdown.
This alone is simply a visual bug, **_but_** it creates a bug that you can't actually update the package until the correct feed is selected in the dropdown.

[2016-05-16 04:32] Inumedia opened #2793 "Dotnet restore uses global temporary directory"
This is a forwarded issue from the Dotnet CLI repository, I was informed that this issue stems from the NuGet side of things.

The original issue can be seen here: https://github.com/dotnet/cli/issues/2806
## Steps to reproduce
- Setup Ubuntu 14.04 instance to test on
- Install latest dotnet runtime
- Create new project as root
- Execute `dotnet restore`
- Login as another user
- Create new projec

[2016-05-16 08:55] FransBouma commented on #694
http://docs.nuget.org/consume/command-line-reference doesn't contain info about this, the nuget.exe usage dump does.

[2016-05-16 12:29] gmoskovicz commented on #2717
I got the same issue today:

[code]

I think that the min version from the nest Library is `4.0.1-beta-23225`: https://github.com/elastic/elasticsearch-net/blob/2.x/src/CodeGeneration/Nest.Litterateur/project.json#L76

Can this be causing this?

[2016-05-16 15:14] #2718 closed, assigned to nobody

[2016-05-16 17:50] yishaigalatzer commented on #2791
Hey מרדכי

This is by design. The consolidate tab behaves the same as the installed tab. It shows all the installed packages, with a filter for packages that have multiple versions installed in the solution.

You do have to pick a feed to install the package from **OR** you the "all" source.

[2016-05-16 17:50] #2791 closed, assigned to nobody

[2016-05-16 17:54] yishaigalatzer commented on #2785
The fix here is to move to an async stream. We did a similar fix in `httpsource` to allow downloading very large packages.

You will need to also add a timeout mechanism for when the stream "hangs" and bits no longer transmit, because async streams lack this feature.

CC @spadapet @joelverhagen

[2016-05-16 17:55] M-Zuber commented on #2791
Just to make sure I understand:

On the installed/update/consolidate tabs the dropdown is only to tell Nuget what feed to hit when installing/updating ect. and not what to display.
**But** when I am browsing for new packages then the dropdown also affects the display.

[2016-05-16 17:58] yishaigalatzer commented on #2791
very close, updates tab behaves like installed/consolidated rather than browse.

[2016-05-16 18:02] M-Zuber commented on #2791
TIL :grinning:

[2016-05-16 18:10] rohit21agrawal commented on #1132
@wrongite  Yes I can repro this now. However, since the check-out is undone automatically, is this still an issue for you?

[2016-05-16 18:21] wbradney commented on #2726
It occurred to me that I should try specifying the .nuspec file (containing the extra "build" file refs) rather than the .csproj file when running nuget pack. Unfortunately that means I can't take advantage of the $id$, $authors$ and $description$ substitution from the assembly info.

Anyone know if this is supposed to be working yet with project.json files?

[2016-05-16 18:24] rrelyea commented on #2712
Did you fix this in the minclientversion change?

[2016-05-16 18:45] zhili1208 commented on #848
verified with latest bits, it doesn't repro any more.

[2016-05-16 18:45] #848 closed

[2016-05-16 18:54] rrelyea commented on #2252
Did this get fixed as part of Rohit's recent work?

[2016-05-16 19:31] yishaigalatzer commented on #2780
Thanks for cross posting! We will take a look triage and prioritize shortly

[2016-05-16 19:43] yishaigalatzer opened #2794 "Package files in the future handling"
Some packages have files with no dates, or dates in the future.

The current behavior in NuGet 3.4.3 is that these packages are extracted with dates as is (in the future), and that makes build rebuild every time, because it compares timestamps.

We do not want to change all the dates to the current datetime, because it will break deployment scenarios and might have other undesirable side effects.

[2016-05-16 19:44] yishaigalatzer opened #2795 "Warn in pack for files in the future"
Pack should verify that files being packed all have dates in the past. Files with dates in the future break build systems relying on timestamp comparison

[2016-05-16 20:05] twsouthwick opened #2796 "Provide a way to filter by author in VS NuGet search"
There are times when you want to search for libraries written by a specific person or entity (such as Microsoft) and don't want to manually filter through the authors. Is there a way to add this as a search parameter or option in the VS search pane?

[2016-05-16 20:22] zhili1208 commented on #1401
checked with 3.4.3.885 in vs2015 update2, can't repro this issue

[2016-05-16 20:39] rohit21agrawal commented on #1401
Closing this bug due to no response, and no repros.

However, please feel free to reactive this issue if you hit this problem again

[2016-05-16 20:47] rrelyea commented on #2789
Some of these errors get put in output

[2016-05-16 20:49] rrelyea commented on #2788
Are these powershell properties? Or just headers? If properties, what is localization strategy for powershell?

[2016-05-16 20:50] billwert opened #2797 "Package restore should inform users that 'runtimes' is not useful on a library"
I have a NETStandard1.5 library in which I accidentally (bad copy/paste) added a runtimes tag. This gave me this error:
    System.Security.Cryptography.Algorithms 4.2.0-rc3-24113-00 provides a compile-time reference assembly for System.Security.Cryptography.Algorithms on .NETStandard,Version=v1.5, but there is no run-time assembly compatible with win7-x64.
    One or more packages are incompatibl

[2016-05-16 20:52] rrelyea commented on #2786
Talk to ASP.NET team as they own the restore that runs on solution open.

[2016-05-16 20:57] rrelyea commented on #2783
as discussed during standup, please consult with bill next door.

[2016-05-16 21:05] rrelyea commented on #2781
@kanimozhi12 - after you do:
1) nuget.exe install "PackageName" -version "1.0.0.0" -source source -o c:\packages
At a later date, to ensure you have the latest version, you could:
2) nuget.exe install "PackageName" -source source -o c:\packages
It will grab the latest version.

[2016-05-16 21:05] #2781 closed, assigned to nobody

[2016-05-16 21:08] rrelyea commented on #2780
From link, sounds like this used to be ref counted using repositories.config in v2.x of the client (VS2013 and before.)

[2016-05-16 21:09] rrelyea commented on #2780
See issue #55 and #1097

[2016-05-16 21:26] stevenshort commented on #1243
Why is this closed? Is there a solution?

[2016-05-16 21:43] yishaigalatzer commented on #1243
It is closed because the issue is in the packages and not in nuget. There is no workaround until they get fixed

[2016-05-16 21:49] ericstj commented on #1243
You can use the latest rc3 packages from https://dotnet.myget.org/gallery/dotnet-core which have the fix.

[2016-05-16 22:03] alpaix commented on #2788
I noted missing headers localization. Should match other UI components such as package manager.

[2016-05-16 22:16] yishaigalatzer commented on #2797
Thanks Bill!

This is going away in the next release. So I don't think there is a point to fix it.

[2016-05-16 23:01] #2739 closed, assigned to zhili1208

[2016-05-16 23:01] russcam commented on #2717
@gmoskovicz The `Nest.Litterateur` project is a supporting project to generate documentation from test source code so doesn't get packaged in either the Elasticsearch.Net or NEST packages.

The Elasticsearch.Net project's project.json has a dependency on `Microsoft.CSharp 4.0.1-beta-23225` for the `dotnet5.1` TFM build; [it's had this since late January](https://github.com/elastic/elasticsearch-ne

[2016-05-16 23:10] emgarten opened #2798 "WebSite project from IIS fails with illegal characters in path"
@MosheL
From: https://github.com/NuGet/Home/issues/2601
1. web project, c:\inetpub\matimim on this error message
2. solution is on MyDocs, so in my machine it's have a hebrew name (E:\המסמכים שלי)
3. Install-Package : An error occurred while writing file 'e:\inetpub\matimim\packages.config': Failed to write packages.config as XML file 'e:\inetpub\matimim\packages.config'. Error: 'Illegal character

[2016-05-16 23:11] emgarten commented on #2601
@MosheL this sounds like a different issue, I've opened https://github.com/NuGet/Home/issues/2798 to track it. please add comments there if you find where this was last working. Thanks!

[2016-05-16 23:11] #2601 closed, assigned to emgarten

[2016-05-16 23:24] rohit21agrawal commented on #2765
Verified the following:
https  works with V2 endpoints.
https is the default.
Adding a http nuget.org source works too.
NuGet 2.x clients do not work with V3 endpoints.

I also did a search for nuget.org on source code, and they are all https based URLs.

[2016-05-16 23:24] #2765 closed, assigned to rohit21agrawal

[2016-05-17 00:46] rrelyea commented on #2794
@spadapet -Confirmed that we are targeting 3.4.4 with this fix.

[2016-05-17 02:56] harikmenon commented on #694
Thanks for letting us know. I will assign this to myself and mark this issue as a doc

[2016-05-17 04:10] wrongite commented on #1132
@rohit21agrawal No, this is not an issue for me now. Thanks.

[2016-05-17 05:26] Kanimozhi12 opened #2799 "NuGet installtion keep on asking for credentials"
HI ,

I have updated to latest NuGet package manager 3.4.3 . I have tried to install NuGet from my private server, how ever it asking credentials to access my NuGet Server even though the server is free from any kind of authentications .how to avoid this authentication window?

[2016-05-17 06:18] MosheL commented on #2798
on my work machine threre is NuGet 3.3.0 (VS 2015.1), works with no problem with similar configuration.

[2016-05-17 06:19] MosheL commented on #2798
and  "main problem" is bug #2601

[2016-05-17 06:44] haf opened #2800 "nuget exe v2.8.5 cannot download package running on Mono"
https://www.nuget.org/packages/FAKE/2.17.9

[code]

Expected outcome; package should be downloaded.

[2016-05-17 07:55] maartenba commented on #2717
Just flowed the package through our back-end again, seems we missed this one after fixing NuGet/NuGetGallery#3015. Package should now have the dependencies listed correctly.

[2016-05-17 09:05] RamjotSingh opened #2801 "Nuget (3.4.3) Package Restore not able to resolve environment variables in Repository path"
[NuGet.txt](https://github.com/NuGet/Home/files/267753/NuGet.txt)
Nuget is not able to resolve Environment variables when running restore from Visual Studio. I am getting following error while restoring packages

Severity    Code    Description Project File    Line    Suppression State
Error       NuGet Package restore failed for project <Removed>: System.NotSupportedException: The given path's fo

[2016-05-17 09:53] neurospeech opened #2802 "Error: The package is invalid and cannot be uploaded. One or more files, such as '.rels' have a date in the future."
This started only from today.

I am in India, and I regularly publish NuGet Packages, till today everything was smooth. From today I started getting this error **The package is invalid and cannot be uploaded. One or more files, such as '.rels' have a date in the future.**.

I have tried both, command line publish as well as upload from the nuget.org website, but I get same error.

My clock is set

[2016-05-17 09:57] maartenba commented on #2802
@neurospeech We are looking into this.

[2016-05-17 09:58] maartenba commented on #2802
This issue was moved to NuGet/NuGetGallery#3032

[2016-05-17 09:58] #2802 closed, assigned to maartenba

[2016-05-17 12:35] mlidbom commented on #2776
This also breaks badly when calling `nuget.exe update MY.sln`.
Only projects using packages.config have any updates applied to them. If there are no such projects you just get the message:

[code]

[2016-05-17 12:57] revel8n commented on #1401
Sorry, i have been busy at work.  i definitely still see this issue with the latest builds.  Unfortunately the project i am seeing it on is company related, so i cannot release it.  i will attempt to recreate the issue with another project.

i guess i could also ask:  What is the correct way to associate dependent files with a nuget package?  Dependent files being things like extra dlls that are n

[2016-05-17 15:40] joelverhagen commented on #2720
Closed with https://github.com/NuGet/NuGet2/pull/52.

`xamarinmacnet` is still pending, as some general questions of design have come up.

[2016-05-17 15:40] #2720 closed, assigned to joelverhagen

[2016-05-17 15:40] joelverhagen commented on #2720
Commit https://github.com/NuGet/NuGet2/commit/ba264c60ef35b491f6d0e06be2bf3fe0a8fddedc.

[2016-05-17 15:57] rohit21agrawal commented on #1132
@wrongite  Thanks for your quick response! Closing this now!

[2016-05-17 15:57] #1132 closed

[2016-05-17 16:01] rohit21agrawal commented on #1401
Reopening the issue.
@revel8n thanks for your feedback. Multiple instances of Visual Studio or a slow connection to nuget server shouldn't affect this. If you find this to be the cause at your end, we would definitely want to fix the scenario.

In the meanwhile, could you tell us the exact versions of Nuget, VS and TFS that you are using? Would also help to provide some steps (doesn't matter what

[2016-05-17 16:04] darinso commented on #1281
I am using nuget with Unity3d. And there is a lot of troubles created because Unity overwrite project file before building and ignore any additional references in it. Moreover Unity reads dll inside specific folder itself and has troubles with same name dlls. So I created nuget.config, packages.config files and write .bat to restore packages (and remove unused targets) in one click. But I cannot u

[2016-05-17 16:17] patrickjamesbarry commented on #2769
Is this in a build where I can test it, in dotnet cli?

[2016-05-17 16:19] harikmenon commented on #1281
@darinso : have you considered using project.json? https://github.com/NuGet/Home/wiki/Converting-a-csproj-from-package.config-to-project.json

[2016-05-17 16:52] jainaashish commented on #1827
Closing as non-repro with 3.4.3 onwards. Feel free to re-open in case this issue surface again.

[2016-05-17 17:20] jasonmalinowski opened #2803 "NuGet build task should complain if project.lock.json exists, but not XXX.nuget.props and XXX.nuget.targets"
[This is migrated from dotnet/roslyn#6873 on behalf of @davkean]

If you check-in a project's project.lock.json but not the appropriate XXX.nuget.props/XXX.nuget.targets the NuGet build task does not complain that they are missing when you pull down the project on a build machine.

This leads to hard to diagnose build errors, such as this: https://gist.github.com/davkean/d19c5b909aa265357bf1. Here

[2016-05-17 18:08] joelverhagen commented on #2657
I spoke to the OP offline and his issue has been resolved. The issue seemed to be related with some proxy settings and that TeamCity was not running as an administrator and was not related to a failure in NuGet itself.

[2016-05-17 18:08] #2657 closed, assigned to joelverhagen

[2016-05-17 19:26] rrelyea commented on #2801
Thanks for report. Dupe of #2763

[2016-05-17 19:26] #2801 closed, assigned to nobody

[2016-05-17 19:34] rrelyea commented on #2763
Looks like 3.4 added the support for env vars. Haven't dug into it to see if it was meant to only work in NuGet.exe.
https://github.com/NuGet/NuGet.Client/pull/171
I believe it was done by @TravisTheTechie

[2016-05-17 19:35] harikmenon commented on #2762
Not forgotten about this yet. Waiting for all the engineering managers to come back from their vacays before making a decision on this.

[2016-05-17 19:42] rrelyea commented on #2800
@haf - Looks like you are trying version 2.8.5 of NuGet.exe
Can you please try a more recent version 3.4.3 or 3.4.4-rc and tell us if that is improved? (http://dist.nuget.org/index.html)

[2016-05-17 19:48] rrelyea commented on #2793
Not sure what is best temp to use on Linux: http://stackoverflow.com/questions/31068/how-do-i-find-the-temp-directory-in-linux

[2016-05-17 19:49] rrelyea commented on #2799
Can you please try version 3.3 on the same machine, and let us know if you hit the same problem. If so, we'll work with you to figure out the potential causes of the problem.

[2016-05-17 19:57] Inumedia commented on #2793
@rrelyea Not sure, but on Ubuntu 14.04 only `mktemp` out of those commands are available built in.

[2016-05-17 20:25] zhili1208 commented on #2800
Verified this and it does not repro this issue on Linux 3.19.0-56-generic, nuget version is 3.4.3.855, mono version is 4.2.1.124.

[2016-05-17 21:07] gzak commented on #2773
Another interesting observation is that when I refer to My.Models from a different xproj project that's within the same solution as the My.Models xproj, then toggling the target in the IDE from .net451 to dnxcore50 makes the basic types (like `int` and `string`) resolve as you might expect: when you press F12 while targeting .net451, it navigates to mscorlib, and when you press F12 while targeting

[2016-05-17 21:25] zhili1208 opened #2804 "TFS issue: Packages folder still exist in TFS after uninstalling the package."
NuGet Version: dev branch
Repro Step:
1. open a Console App and bound the solution to TFS.
2. Install newtonsoft.json and check in to TFS
3. uninstall newtonsoft.json and check in to TFS

Expect: the package and all related folders are deleted in TFS.
Actual: all files are deleted but all folders still exist.

[2016-05-17 21:31] zhili1208 opened #2805 "TFS issue: "[file]not be found in your workspace, or you do not have permission to access it""
Repro Step:
1. open a console app and add a nuget.config which contains disableSourceControlIntegration  to the solution folder.
2. bound the solution to TFS
3. reopen the solution and install newtonsoft.json
4. delete nuget.config and reopen the solution.
5. uninstall newtonsoft.json

Expect: works well
Actual: got tfs error: "[file]not be found in your workspace, or you do not have permission to

[2016-05-17 21:56] TravisTheTechie commented on #2763
It was targeted for NuGet.exe (for CI), but I thought it would work for the Visual Studio plugin since it appeared to use the same `Settings` object. My first thought would be that Visual Studio can't resolve that environment variable -- but this isn't code I'm that familiar with to be 100% sure that's the case. I just fixed an issue that I needed. Sorry it doesn't work for you though! 😿

[2016-05-17 22:16] zhili1208 commented on #2763
@dsagar3409 just tried it, it works on my machine. so what' s the path for that nuget.config and did you reopen the solution after adding nuget.config?

[2016-05-17 22:31] #2794 closed, assigned to spadapet

[2016-05-17 23:13] joelverhagen opened #2806 "Pack should result in lowercase package file name"
This is a follow-up step for https://github.com/NuGet/Home/issues/2522.

Currently `nuget pack` results in `{original ID}.{version}.nupkg`, i.e. `Newtonsoft.Json.8.0.3.nupkg`. This should be `newtonsoft.json.8.0.3.nupkg`.

This part file name is more visible to the customer than paths in a local source, i.e. the contents of the global packages folder or `nuget push` to a local folder. However this

[2016-05-17 23:32] #2705 closed, assigned to jainaashish

[2016-05-17 23:47] jainaashish opened #2807 "symbols packages should not ever be used in install or update"
update-package command in Package Manager Console works differently for symbols packages when used with or without -Version parameter. With version parameter, it fails to update package where as with -Version parameter it successfully update the same version.

repro steps: (make sure you only has My.Package.Id.1.0.0.symbols.nupkg in your local folder)
PM>update-package My.Package.Id -source d:\src

[2016-05-17 23:49] jainaashish commented on #2771
opened another issue to have consistency with or without -Version parameter (https://github.com/NuGet/Home/issues/2807). And as part of this issue, I'll fix error message confusion.

[2016-05-17 23:51] #2771 closed, assigned to jainaashish

[2016-05-17 23:53] rohit21agrawal commented on #2764
@yishaigalatzer  @maartenba
This seems to be a server side issue. A simple way to verify it is using this URL :

https://www.nuget.org/api/v2/Search()?$filter=IsLatestVersion&$orderby=concat(Title,Id),Id&$skip=0&$top=2&searchTerm=%27json%27

You can see from the list of results returned that it's not ordered correctly. Are you aware of any changes that happened on the server side recently that's c

[2016-05-18 00:00] jainaashish commented on #1670
@johnataylor Hey John, I'm not able to reproduce this issue, do you remember how to reproduce this? I can see it always update packages from selected source and dependencies from all the available sources.

[2016-05-18 00:06] jainaashish commented on #1909
There is already lot of improvements happened in this area with nuget 3.4.3 and most users here seems to be satisfied with that, so i'm closing this issue for now. But feel free to re-open in case you still see any performance overhead with update action. We've also added more debug logs to help you understand where exactly it takes that amount of time.

[2016-05-18 00:08] jainaashish commented on #2566
it's already fixed as part of https://github.com/NuGet/Home/issues/2594 is there anything else required here?

[2016-05-18 00:20] joelverhagen commented on #2764
Did some digging here. Seems like we interpret all `$orderby=concat` as sorting by title ([source](https://github.com/NuGet/NuGetGallery/blob/c1c5a98077acff774d5c3ae8e560a8eb32888d8b/src/NuGetGallery/OData/SearchService/SearchAdaptor.cs#L259-L267)).

In addition to the details @rohit21agrawal gave, it looks like the old V2 search service used the ID as the title when sorting by title and a package

[2016-05-18 00:26] yishaigalatzer commented on #1909
We actually have more improvements in the pipe for 3.5rc and 3.4.5. so if you hit an issue please let us know and we will put bits in your hand to validate your scenario

[2016-05-18 04:53] maartenba commented on #2764
Concat was disabled in sorting a few months back. It did not play nice with DB load. Sort by title is probably the way to go. Is that fallback to use Id required?

[2016-05-18 05:09] Kanimozhi12 commented on #2799
I dint face this issue with 3.3 , this occurs only when i upgraded to 3.4.3

[2016-05-18 05:52] Eilon commented on #2773
I recommend checking out .NET Core RC2, which was released yesterday. See the various announcements and links here: https://github.com/aspnet/Announcements/issues/177

This has become a lot simpler in .NET Core RC2, so there's probably not much point in working with RC1-era features and behaviors.

[2016-05-18 06:50] rohit21agrawal commented on #2764
@maartenba Yes, from what I am seeing, a lot of packages have an empty string for a title, so for those cases we do need to fallback to id.

[2016-05-18 06:50] PashCracken opened #2808 "please ignore this..."

[2016-05-18 06:50] #2808 closed, assigned to nobody

[2016-05-18 06:53] Kanimozhi12 opened #2809 "Issue with .xdt file"
Hi Team,

I have used web.config.install.xdt and web.config.uninstall.xdt files with my NuGet .

This is my Web.config.install.xdt:
[](<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <system.web>

[code]

</configuration>)

This is my web.config.uninstall.xdt

<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-

[2016-05-18 08:27] tsolbjor opened #2810 "Pack should ignore InformationalVersion attribute when specified by -Version in commandline"
"nuget pack" tries to extract a NugetVersion of InformationAttribute even if "-Version" is specified and failes without packing the project if the contents of the attribute does not parse into a valid NugetVersion

[2016-05-18 08:34] tsolbjor commented on #2810
Background:
Im using gitversion (https://github.com/GitTools/GitVersion/) to update the AssemblyVersion and AssemblyInformationVersion attributes.

AssemblyInformationalVersion might be something like this:
`3.0.0-beta.1+9.Branch.release/3.0.Sha.561a308094afcd71615db5f3a5e3ce6d8d01d281`

'nuget pack' tries to parse this and failes even if I provide a version like this:
`nuget pack myproject.csproj

[2016-05-18 08:35] tsolbjor commented on #2810
A test for this is created in https://github.com/tsolbjor/NuGet.Client/tree/issue2810/src/NuGet.Clients/NuGet.CommandLine

[2016-05-18 08:44] maartenba commented on #2764
A first part of the fix is now in the gallery. Second part will be a patch to search service (https://github.com/NuGet/NuGetGallery/issues/3035).

[2016-05-18 10:02] darinso commented on #1281
Yes, it will help. Thank you!

[2016-05-18 10:16] maartenba commented on #2764
Full fix should be live. Do results look okay now? This one looks correct: https://www.nuget.org/api/v2/Search()?%24filter=IsLatestVersion&%24orderby=concat(Title,Id),Id&%24skip=0&%24top=20&searchTerm=%27json%27

[2016-05-18 13:01] f0rt commented on #626
Hi team,
I'm unable to change the location of my packages folder. I followed the instructions in this bug. Here is my setup:
- VS2015 U2
- Class Library Project (not PCL)  with project.json
- Nuget.config at solution level
  `<?xml version="1.0" encoding="utf-8"?>
  <configuration>
    <config>
       <add key="repositoryPath" value="c:\teampackages" />
    </config>
  </configuration>`

VS always

[2016-05-18 14:31] kim3er commented on #604
Visual Studio 2015 14.0.25123.00 Update 2
NuGet Package Manager 3.4.3.855

Only noticed the problem, after updating site from .NET 4.5.1 to 4.6.1.

![screen shot 2016-05-18 at 15 29 37](https://cloud.githubusercontent.com/assets/250666/15362531/5e65cae6-1d0d-11e6-91d5-3dc7e99a020d.png)

[2016-05-18 14:34] AArnott opened #2811 "NuGet source server fails for files with ` or + in their names"
When source code follows StyleCop rules for naming files around generic or nested types, such as: `MyCollection```1+InnerNode.cs`, reports are that source debugging fails to find these files.

The NuGet symbols package apparently (needlessly?) encodes these filenames in the .zip archive (I've noticed that the `+` that can appear in portable profile folder names also get URI encoded in ordinary pac

[2016-05-18 15:37] kim3er commented on #604
Fixed the issue, at least for me. For issue seems to be in the attributes used in a SLN file, for a Website (not Web Application).

These are the changes I made to the SLN:

[code]

Became:

[code]

The following additions/deletions were made in the `ProjectSection`:

[code]

[2016-05-18 16:22] rohit21agrawal commented on #2764
The URL you provided looks fine, but I tried using the VS 2013 Client, and it still is flaky. Look at this URL for instance:

https://www.nuget.org/api/v2/Search()?$filter=IsLatestVersion&$orderby=concat(Title,Id),Id&$skip=0&$top=30&searchTerm=%27%27&targetFramework=%27net45%27&includePrerelease=false

For example, notice how a package named "With" is before a package named "As" .

[2016-05-18 17:30] julielerman commented on #604
so I wasn't seeing things!!

[2016-05-18 17:44] zhili1208 commented on #626
@f0rt project.json project doesn't support repositoryPath config now, if you want to change packages default location, you can set "NUGET_PACKAGES" environment variable to do that. Just Set "NUGET_PACKAGES" = "c:\teampackages".

[2016-05-18 17:48] emgarten commented on #2712
NuGet/NuGet.Client@0836ef72d6b89d033f11ff21703dd693aea32515

[2016-05-18 17:48] #2712 closed, assigned to emgarten

[2016-05-18 18:11] jainaashish commented on #1778
https://github.com/NuGet/NuGet.Client/pull/600

[2016-05-18 18:11] #1778 closed, assigned to jainaashish

[2016-05-18 18:12] maartenba commented on #2764
Weird, looks like a ranking is happening in there as well... Will look into this one.

[2016-05-18 19:30] lmgomes opened #2812 "NuGet -ConfigFile option supersedes %ProgramData% config file"
According to the documentation, you should be able to specify a custom config file while still using any additional config files that are located in %ProgramData%\Nuget\Config. However, that doesn't seem to be the case. If I specify a custom config file, any config file I have in %ProgramData% is unused:

C:\> nuget.exe sources

(output includes sources specified in my %ProgramData%\Nuget\Config\A

[2016-05-18 19:36] maartenba commented on #2764
Looks like the sort field is analyzed in Lucene - will rebuild the index tomorrow morning, that should fix things.

[2016-05-18 20:13] #2418 closed, assigned to joelverhagen

[2016-05-18 20:13] joelverhagen commented on #2418
Fixed with https://github.com/NuGet/NuGet.Client/pull/605.

[2016-05-18 20:22] zhili1208 commented on #2812
this behavior is by design, we should update the document. if you use -ConfigFile, nuget will only use the specified nuget.config. In your case, you can just put B.config and nuget.exe into the same folder. Then it will read B.config and machine wide config A.config.

For the xml error issue, what's your nuget.exe version? I just tried 3.5-beta, it complains xml error.

[2016-05-18 20:39] lmgomes commented on #2812
Looks like this was a change in behavior between 3.3 and 3.4.

I had been using version 3.3.0.212, specifying -ConfigFile, and it was including the %ProgramData% config. I'm now using 3.4.3.855 and the behavior is how you describe it.

By the way, [this is the documentation](https://docs.nuget.org/consume/nuget-config-file) that needs to be updated:

[code]

Given the current behavior, the failure

[2016-05-18 20:48] zhili1208 commented on #2812
Yes, this change is made in 3.4. We should update the documentation.

[2016-05-18 20:51] harikmenon opened #2813 "Client Support"
VSCode
Xamarin Studio

[2016-05-18 21:09] spadapet commented on #2786
Another issue was logged: https://github.com/dotnet/cli/issues/3112
@rrelyea, this one can be resolved as dupe

[2016-05-18 21:10] lmgomes commented on #2812
Okay, thanks. Also, I tested your workaround a bit and it works, but the custom config file needs to be in the **current directory**, not the nuget.exe directory. But okay, that should work for us too. Thanks!

[2016-05-18 21:10] #2812 closed, assigned to nobody

[2016-05-18 21:26] EdDore opened #2814 "Feature Request: Lockdown dev systems so only certain "pre-approved" packages can be downloaded"
Basically, this is a request from a large enterprise customer, that asked if there was any way to lock down their developers machines such that they would only allow certain packages or specific feeds.

They were looking for a feature that would allow them to allow only approved package to be downloaded/installed to their development machines.

[2016-05-18 21:53] zhili1208 opened #2815 "Update Document for -ConfigFile usage."
https://github.com/NuGet/Home/issues/2812

[2016-05-18 22:29] #2784 closed, assigned to alpaix

[2016-05-18 22:58] joelverhagen commented on #1727
Is this a `project.json` restore or a `packages.config` restore?

I have attempted to reproduce this problem with the latest NuGet and I consistently got a correct failure:

[code]

[2016-05-18 23:58] #759 closed

[2016-05-18 23:59] alpaix commented on #2798
@MosheL Can you share your project/solution? Can be a minimal web site project where this issue repros.

[2016-05-19 00:39] rohit21agrawal commented on #2603
Closing this issue since haven't been able to repro this issue.

Please feel free to activate if anyone hits this again.

[2016-05-19 00:39] #2603 closed, assigned to nobody

[2016-05-19 03:05] harikmenon commented on #2814
We don't have plans to do this at this time for NuGet.org. Have your customers looked at other package repositories like VSTS Package Management, Artifactory, Nexus etc..that can provide this sort of functionality. They can mirror packages and provide access to only a select few approved feeds/packages. The customer can easily block NuGet.org then. We have seen a number of enterprises do this.

[2016-05-19 03:05] #2814 closed, assigned to nobody

[2016-05-19 03:54] xoofx commented on #2616
FYI @daveaglick with .NET Core rc2, branch like "release-3.5" can be compiled

[2016-05-19 05:05] zjrunner commented on #1727
packages.config.  Yesterday I saw it give the right error on 'nuget install' but fail silently on 'nuget restore' (a 3.4 intermediate build.  I have not attempted it on 3.4RTM or above.)

[2016-05-19 05:09] yishaigalatzer commented on #1727
Can you please use 3.4.4 ?

Get Outlook for Androidhttps://aka.ms/ghei36

On Wed, May 18, 2016 at 10:05 PM -0700, "Zack Runner" <notifications@github.com<mailto:notifications@github.com>> wrote:

packages.config. Yesterday I saw it give the right error on 'nuget install' but fail silently on 'nuget restore' (a 3.4 intermediate build. I have not attempted it on 3.4RTM or above.)

##

You are receiv

[2016-05-19 05:33] MosheL commented on #2798
Any blank  IIS web site.
create a website on IIS
Run VS  as admin, open website from IIS, open, save solution and try to use NuGet...

[2016-05-19 05:38] alpaix commented on #2798
Okay thanks for the details.
What is the project name you see in a tree: `http://matimim.home.a7.org/` or `matimim.home.a7.org`?

[2016-05-19 05:39] MosheL commented on #2798
matimim.home.a7.org.slm

with http is full address...

[2016-05-19 05:44] alpaix commented on #2798
I see. In #2601 you shared the output:

where **http://matimim.home.a7.org** is a project name. My theory is NuGet attempts to restore using full url for local file path.

I'll try to get a repro myself tomorrow.

[2016-05-19 05:46] MichaelKetting commented on #759
@toddm Thanks so much for sending the fix!

[2016-05-19 05:47] MosheL commented on #2798
just to note, I do not named the project. VS do it from IIS  first Host header if exists, with some changes (localhost:83 will be localhost83.sln).

[2016-05-19 07:53] f0rt commented on #626
**Is project.json project going to support this key in the future?**

The following case can only be handled with this feature:
We are using a internal build system. Build component dependencies are defined with dependency specification files. We don't want maintain 2 files with dependencies so we've set "*" for our dependencies in project.json and nuget is configured to pick the highest version o

[2016-05-19 08:15] msthrax commented on #962
i have this problem too.
idont know how to fix this :((

[2016-05-19 08:41] maartenba commented on #2764
Sorting is now officially fixed. The above URL nicely orders packages. Do note that IE does not render this correctly as it sorts by Date when retrieving the page. In Fiddler, the order is good.

[2016-05-19 08:51] doronshai commented on #1512
in PM i have the option to run Update-Package and then the packages.config is updated for each dependencies with the latest avaialbe in artifactory. How can I do it without the studio? via Jenkins...
I tried to use "nuget update mySolution.sln" but it does not do it....

[2016-05-19 12:27] doronshai opened #2816 "Can not update dependency version using nuget update"
I can not update dependency version using **_"nuget update solution.sln"_**.

I have a dependency to another internal component that I need, and the version is stated specifically as 1.0.0.32 and when i run the update command it claims that there is nothing to do...

I saw that on the Nuget Package Manger Console via the Studio,  i have the option to run **_Update-Package_** and then the packages.

[2016-05-19 12:51] revel8n commented on #1401
VS2015 Update 2 14.0.25123.00   Nuget Package Manager 3.4.3.855
VS2013 Update 5 12.0.40629.00   Nuget Package Manager 2.8.60723.765
TFS 2015 Version 14.0.24712.0

Current testing shows that this may be related to interactions between when files are removed from the project and the file system and when they are added back.

If i delete the offending directories beforehand (in the file system, not f

[2016-05-19 13:56] wbradney opened #2817 "project.json nuget restore causes recompilation when nothing changed"
I see the following the the build log:

[code]

Nothing changed between builds. Why is the restore process touching the lock file even when the project.json file didn't change?

[2016-05-19 14:06] revel8n commented on #1401
Have not been able to fully trace the code path in the nuget source, but i found this comment in FileSystemUtility.cs:

        // PendAddFiles method here is called after addition of files during package extraction
        // whereas, delete files performs necessary pending followed by the deletion of files in a single method

Not sure if it is related, but are PendingAdds attempted after the fil

[2016-05-19 16:21] dsagar3409 commented on #2763
@zhili1208 Could you let me know the Nuget packege version you tried ?

The config file will be loacted in C:\Users\sadevana\AppData\Roaming\Nuget

I restarted the VS after adding the repository path but it didn't help.

[2016-05-19 17:26] brthor opened #2818 ""target" : "package" resolves transitive dependencies as "project""
Current repro is in the cli repo, I can put together an independent repro if necessary.

Steps:
1. `git clone https://github.com/dotnet/cli`
2. `git checkout brthor/nuget-transitive-project-bug`
3. Acquire latest CLI: https://dotnetcli.blob.core.windows.net/dotnet/preview/Installers/Latest/dotnet-dev-win-x64.latest.exe
4. `cd %cliRepoRoot%/tools/RuntimeGraphGenerator`
5. Notice global.json + proje

[2016-05-19 17:27] brthor commented on #2818
cc @emgarten @eerhardt

[2016-05-19 17:39] brthor commented on #2818
I managed to get this working by moving the global.json one directory up, but even needing that is a workaround when `"target": "package"` is specified.

[2016-05-19 17:49] maartenba commented on #2717
@gmarz is this working for you now?

[2016-05-19 17:55] emgarten commented on #626
@f0rt floating versions that use a `*` are checked against the source in NuGet 3.4.x, with nuget.exe you may need to use `-NoCache` to see this behavior.

[2016-05-19 18:04] gmarz commented on #2717
@maartenba Yes, looks to be working now.  Thank you.

[2016-05-19 18:04] #2717 closed, assigned to maartenba

[2016-05-19 18:09] f0rt commented on #626
Is there a way to accomplish this with VS restore? If not I need to setup a pre-build event for my project and run "nuget restore -nocache", right?

[2016-05-19 18:11] zhili1208 commented on #2763
@dsagar3409 I tried 3.4.3.855, looks like nuget read the repository path, but throws for path format. So what's your project type and what's the path you specified in nuget.config? If it's an relative path, please also share your solution path.

[2016-05-19 18:22] rohit21agrawal commented on #2764
This does look great now! Thanks @maartenba . Closing this issue now.

[2016-05-19 18:22] #2764 closed, assigned to rohit21agrawal

[2016-05-19 19:39] rohit21agrawal commented on #635
Some findings :
1) NuGet installs the package into the Local Repository first, and then proceeds to add package references  to each of the project that the package was installed. This makes it extremely difficult to error out at the right stage because while installing the package to the repository it does not have context of the projects it is installing to, and by the time we are adding package

[2016-05-19 19:55] emgarten commented on #2818
Target package just requires that top level dependency to be of that type, not all children. If target: project is specified it is still expected that the project can have child package dependencies.

Global.json needs to be in a parent directory.

[2016-05-19 19:57] alpaix commented on #2798
Couldn't repro the issue following steps provided by @MosheL .

Used a lab box having installed:
- Win10 Enterprise (with Hebrew display language)
- Visual Studio 2015 Update 2
- NuGet Package Manager 3.4.4 b870

Created new IIS web site and opened it in VS.
Successfully installed NuGet packages:

[2016-05-19 20:02] joelverhagen opened #2819 "Consider making project.json references case insensitive"
In `PackageSpecResolver`, we require that a project reference pointing to a `project.json` must have a name matching exactly in case ([source](https://github.com/NuGet/NuGet.Client/blob/f8e3c3c1aed6d6fe277dcbd43b29d978ebe2a3ce/src/NuGet.Core/NuGet.ProjectModel/PackageSpecResolver.cs#L15-L16)). This is an inconsistent experience with packages (which have case insensitive names).

We could make this

[2016-05-19 20:51] rrelyea commented on #2819
Because we value the swap (back and forth) between source and nupkgs, this change sounds important.

Let's make the change to be case insensitive, and not check for dupes -- don't check for dupes in the local folder, and don't check for dupes in the global.json directories.

[would be great to check for dupes in verbose mode, or the like, but it sounds like we don't understand that setting.]

[2016-05-19 20:53] MosheL commented on #2798
Hi.
1.   I am using U1 (tried to update to U2, install fail sliently)
1. the project foder is  `E:\inetpub\matimim\www\packages.config`. it not on the solution folder, but in IIS's folder. maybe can change something ?

Thanks !

[2016-05-19 20:56] rrelyea commented on #2818
thanks for raising the issues. helps us understand potentially confusing issues.
We believe in the the project/package search, and requiring override at each dependency.
Global.json and nuget.config are likely consolidated in future, so not going to invest in global.json happiness too much now.

[2016-05-19 20:56] #2818 closed, assigned to nobody

[2016-05-19 20:57] rrelyea commented on #2817
@wbradney - which version of nuget.exe or nuget.tools.vsix are you using?

[2016-05-19 20:59] wbradney commented on #2817
This was observed with a recent nightly build of the command line: v3.5.0.1240

[2016-05-19 21:01] rrelyea commented on #2816
Sounds right, you should see the same behavior in those 3 cases. What version of Nuget.exe are you using? Does this happen with multiple solutions, or just one of yours?

[2016-05-19 21:07] rrelyea commented on #2811
should consider difficulty of fix.

[2016-05-19 21:09] rrelyea commented on #2810
What version of NuGet.exe are you using?

[2016-05-19 21:12] rrelyea commented on #2809
Can you please try out stackoverflow for this? people there likely know xdt better than us right now. :-)
Please report back.

[2016-05-19 21:12] #2809 closed, assigned to nobody

[2016-05-19 21:18] rrelyea commented on #2806
Would like to talk in person with @joelverhagen about this. Sounds like it will break scripts on case sensitive OSes, with no major gain, right?

[2016-05-19 21:20] wbradney opened #2820 "project.json floating versions: is nuget supposed to warn if there's a dependency conflict in this case?"
I'll work on a clean repro when I get a chance, but I think this is what I just observed on our main solution:

Solution A:
  Project 1:
    dependencies: { PackageX: 0.1.1-\* }
  Project 2:
    dependencies: { PackageY: 0.1.1-\* }

Solution P:
  ProjectY (produces PackageY v0.1.1-pre01):
    dependencies: { PackageX: 0.1.1-pre15 }

The repo has:
PackageX.0.1.1-pre16
PackageX.0.1.1-pre15
PackageY.

[2016-05-19 21:20] rrelyea commented on #2800
closing as it appears fixed in NuGet 3.4.3 and later.

[2016-05-19 21:20] #2800 closed, assigned to zhili1208

[2016-05-19 21:36] rrelyea commented on #2817
that build is a dev branch build from 5/3/2016.

[2016-05-19 21:49] rohit21agrawal commented on #1401
@revel8n  Thanks for providing the details. It seems like @zhili1208  has been able to identify the issue at hand, and we are working to fix this for both 3.x and 2.x clients.

Will keep you updated!

[2016-05-19 21:50] zhili1208 commented on #1401
@revel8n I might found the issue, the issue is during uninstallation, nuget will call TFS pending delete to make all files into Pending delete status and remove all files from disk. then during installation, nuget will get the package from source, extract it and put all files on disk, then try to get all pending changes on those files and undo them before making all files into pending add status.

[2016-05-19 22:06] spadapet opened #2821 "Find out why XPlat functional tests hang on Linux and can't access test NuGet.Server"
These XPlat functional tests fail on Windows, and other ones hang on Linux:

![image](https://cloud.githubusercontent.com/assets/2523431/15411206/29b442c0-1dd3-11e6-88af-63e726f47af7.png)

[2016-05-19 23:34] snessnes opened #2822 "Error update Npgsql v3.0 to 3.1"
Error       An error occurred while retrieving package metadata for 'System.Diagnostics.DiagnosticSource.4.0.0-rc2-24027' from source '...EFTest\packages'.         0

![image](https://cloud.githubusercontent.com/assets/17413819/15412960/a48013b2-1df1-11e6-9ea2-1bbc84f7b777.png)

[2016-05-19 23:55] rohit21agrawal commented on #1449
@rrelyea @yishaigalatzer
My above observation was based on the assumption that disableSourceControlntegration was enabled by default. This assumption was due to the following line in the NuGet docs : https://docs.nuget.org/consume/nuget-config-settings

However, since this is not the case, I am not able to repro the bug, if there is any at all.

[2016-05-20 00:14] rohit21agrawal commented on #1449
Closing this bug. Please feel free to reactivate if this is still an issue for anyone.

[2016-05-20 00:14] #1449 closed, assigned to nobody

[2016-05-20 00:15] pranavkm commented on #2178
Did this change go through? If so, what endpoint would I have to use to get the owner from nuget.org?

[2016-05-20 00:16] rohit21agrawal opened #2823 "disableSourceControlIntegration default value documentation is not clear"
The following line in the NuGet docs : https://docs.nuget.org/consume/nuget-config-settings

default value being true makes me believe that even if I don't have a  NuGet.config file, or if I haven't explicitly specified the value of this key, I will still get the default value as true. However, this is not the case in our code.

We should either make the documentation more clearer or change the be

[2016-05-20 00:31] emgarten commented on #2683
Ported to 3.4.5 NuGet/NuGet.Client@feaa7bf5917913d157861fe8cdc7a33a02dcb473

[2016-05-20 00:32] emgarten commented on #2512
Porting to 3.4.5

NuGet/NuGet.Client@54e5f252f028ddfbcd123720b0a08a74b62f3cd1

[2016-05-20 00:32] emgarten commented on #2285
Ported to 3.4.5 NuGet/NuGet.Client@50450129646b8d5a04237cc328745253ed63a8ed

[2016-05-20 00:33] emgarten commented on #2619
Ported to 3.4.5
NuGet/NuGet.Client@e57cdd6095695914ba13f2e3bbdd89f3bdffaeeb

[2016-05-20 00:33] emgarten commented on #2618
Ported to 3.4.5
NuGet/NuGet.Client@81e26b1e89e7bf86d1dc4f224b02e97c471cf1e6

[2016-05-20 01:19] brthor commented on #2818
That explanation makes sense, but I'm still somewhat confused. Please offer some help on this.

Why do the project dependencies win over package dependencies for transitive dependencies, when the exact version of the transitive dependencies exists on the feed, and the project dependency is not an exact version match?

I'm confused because the project dependency version resolves to `1.0.0-rc3` (in

[2016-05-20 01:43] heaths opened #2824 "Passing -IncludeReferencedProjects does not honor Configuration property"
We build a couple nupkgs during project build that result in a command line like:

[code]

This should be picking up project references - some of which also have corresponding _.nuspec_ files, but despite passing `Configuration` we get the following error in a clean build:

[code]

Seems that Configuration isn't considered when processing referenced projects. If I define an environment variable li

[2016-05-20 02:08] heaths commented on #2824
Forgot to add that I'm using 3.4.3.855 and the stack trace follows:

[code]

A bit more information: we have common _props_ and _targets_ files that default `Configuration` (like the default _csproj_) but I also tried adding them seeing in code (albeit based on HEAD) how properties are being read, but that made no difference to the outcome.

[2016-05-20 03:44] ShikiGami commented on #2754
is there any workaround for this in the meantime?

[2016-05-20 05:13] tsolbjor commented on #2810
NuGet Version: 3.4.3.855 and also verified in "dev"-branch. See https://github.com/NuGet/NuGet.Client/compare/dev...tsolbjor:issue2810 for details on the test.

[2016-05-20 05:37] emgarten commented on #2818
The dependency version isn't used when selecting the project that best matches the dependency, just the id, and a project with a matching id always wins over a package. Without this it would be easy to end up pulling in an old package instead of a project right in your solution, in your scenario you are trying to use the package instead, but this is a rare scenario.

[2016-05-20 05:39] maartenba commented on #2178
It did. On https://api-v2v3search-0.nuget.org/query?q=Id:Wintellect.Analyzers you will see authors.

Use `http://api.nuget.org/v3/index.json` as the entry point and grab the first `SearchQueryService` item to get the correct endpoint.

[2016-05-20 06:55] StefH opened #2825 "multiple dotnet standard frameworks in a single NuGet package gives error in VS2013"
For all details , see https://github.com/aspnet/PlatformAbstractions/issues/42

[2016-05-20 13:08] wbradney commented on #2726
[NugetBuildRefs.zip](https://github.com/NuGet/Home/files/274610/NugetBuildRefs.zip)

Here is the repro. Just msbuild the solution and observe the missing "build" file from the resulting package. You can then convert the project back to the packages.config approach and the resulting package will correctly contain the "build" file.

[2016-05-20 13:10] wbradney commented on #2817
Let me know if you need a simple repro solution and I can find time to create one.

[2016-05-20 14:22] pranavkm commented on #2178
Sweet. Thanks!

[2016-05-20 14:30] wbradney commented on #2820
After creating the repro I noticed this (ordinary) message in the build log:

[code]

So nuget is detecting this situation correctly (I must have missed these messages in our larger build).
Is there a way to make this message a warning or error so that it's more obvious?

[2016-05-20 15:12] pranavkm commented on #2178
@maartenba - sorry, that looks like `authors`. I was looking for owners and that's still missing.

[2016-05-20 15:23] maartenba commented on #2178
Ah owners are in the referenced registration url.

[2016-05-20 15:25] pranavkm commented on #2178
Not seeing it here https://api.nuget.org/v3/registration0/wintellect.analyzers/index.json?

[2016-05-20 15:26] maartenba commented on #2178
And https://api-v2v3search-0.nuget.org/search/query?q=Id:Wintellect.Analyzers

[2016-05-20 15:34] pranavkm commented on #2178
Ok, I see it now.

[2016-05-20 17:17] dsagar3409 commented on #2763
@zhili1208 my project is a web application(its just a blank web app) and I am using full path in the environment variable. For example:
<config> <add key="repositoryPath" value="%MYNUGETPATH%" /> </config>
The above value should resolve to C:\logs.

As mentioned above by the developers I think this will be fixed in 3.4.5. So I'm waiting for it.

[2016-05-20 17:50] zhili1208 commented on #2763
@dsagar3409 I didn't see your config value, Can you share you NuGet.Config file? thanks

[2016-05-20 17:58] emgarten commented on #2825
NuGet 2.8.x does not understand these new target frameworks. This will be fixed in the upcoming 2.12.0 release.

[2016-05-20 18:08] rchande opened #2826 "NuGet error when creating project.json PCL with "zero impact projects""
In VS, tools > options > projects & solutions > uncheck "save new projects"
Create a new PCL targeting .NET 4.6 and UWP.

Get a dialog that says "Solution is not opened or not saved. Please ensure you have an open and saved solution."

This comes from NuGet:

`

[2016-05-20 18:08] TheRealPiotrP opened #2827 "Xplat restore high cpu usage"
Moving issue dotnet/corefx#8711 on behalf of @xyting

[2016-05-20 19:04] emgarten commented on #2817
@wbradney a simple repro would be great :smile:

[2016-05-20 19:11] emgarten commented on #2794
Verified in 3.4.4

[2016-05-20 19:54] zhili1208 commented on #2749
verified in 3.4.4

[2016-05-20 21:05] emgarten commented on #2826
For a UWP project there is no solution level packages folder, it looks like the DeleteOnRestartManager should skip this check based on the project type.

[2016-05-20 22:31] spadapet opened #2828 "Package manager UI doesn't show newly updated version"
I was using the test VSIX for 3.4.4.1321, and I have dotnet RC2 and tools installed

REPRO
1. In VS 2015 Update 2: File | New | Project | C# | .NET Core | Class Library
2. Right click the project node: Manage NuGet Packages...
3. Click on Browse tab, click Newtonsoft.Json, install Latest Stable 8.0.3 (not the default)
4. Click on the Updates tab, click Newtonsoft.Json, click Install to get 8.0.4-b

[2016-05-20 23:25] emgarten commented on #626
It should work in VS

[2016-05-21 00:01] gzak commented on #2773
I've upgraded to RC2, now I have a different error in my csproj. Here's the new version of the project.json file for My.Models:

[code]

And the error message in my csproj is:

[code]

[2016-05-21 01:02] pranavkm opened #2829 "Possible race condition in ConcurrencyUtilities.ExecuteWithFileLockedAsync"
Saw this on our build agent:

[code]

[2016-05-21 02:04] dessant commented on #890
+1 for LZMA. I've switched from NSIS, which has LZMA compression, to Squirrel.Windows (uses NuGet packages) and my installer has doubled in size.

Ideally there should be an option for choosing between a handful of compression methods. Faster decompression may also be favored over a smaller package size depending on the use case.

[2016-05-21 03:26] mocsharp opened #2830 "repositoryPath working but build failing"
VS 2015 Update 2
NuGet 3.4.3.855

I have a nuget.config file next to my VS 2015 solution file and I have configured repositoryPath to **External\Packages**. VS downloaded/restored all packages fine but when I expand References, all are displayed with warning icon and build output shows:

nuget.config
`
    <add key="repositoryPath" value="External\Packages" />`

[2016-05-21 03:34] mocsharp commented on #2830
It looks like if packages are removed and added back then everything would work again.  Either manually or by running **Update-Package -Reinstall**.

It would be nice if during automatic restore that nuget package manager would automatically update the project file with new paths to the repository path.

[2016-05-21 06:09] KirillOsenkov commented on #2711
Is there a workaround for not discovering .nuproj if I'm stuck on 3.4.3?

Or will 3.4.4 be released soon enough?

[2016-05-21 06:12] yishaigalatzer commented on #2711
Very soon

Get Outlook for Androidhttps://aka.ms/ghei36

On Fri, May 20, 2016 at 11:09 PM -0700, "Kirill Osenkov" <notifications@github.com<mailto:notifications@github.com>> wrote:

Is there a workaround for not discovering .nuproj if I'm stuck on 3.4.3?

Or will 3.4.4 be released soon enough?

##

You are receiving this because you commented.
Reply to this email directly or view it on GitHubhttps

[2016-05-21 08:22] mahara commented on #1448
Any reason why https://www.nuget.org/nuget.exe or https://api.nuget.org/downloads/nuget.exe still pointing to version 2.8.6 instead of the latest 3.4.x as published in http://dist.nuget.org/index.html?
In my case 2.8.6 causing this issue because it's what available from https://www.nuget.org/nuget.exe.

[2016-05-21 08:22] StefH commented on #2825
Will this new version be available in vs2013 as an extension update?

[2016-05-21 10:45] qwertie commented on #2714
I'm sorry, what's wrong with using `<version>$version$</version>`? P.S. I'm having this problem too.

[2016-05-21 10:48] qwertie commented on #2714
If I add a version number then it complains about

[code]

The thing is, the references to `$author$`, `$title$`, etc **were produced by `nuget spec` itself** so I should think they ought to work.

[2016-05-21 18:51] emgarten opened #2831 "Relative path values for globalPackagesFolder should be based on nuget.config path"
Relative `globalPackagesFolder` path values in nuget.config file give different results based on the way it was discovered. This makes it difficult to use and gives inconsistent results when restoring.
## Expected

The path should always be resolved relative to the nuget.config file.
## Actual

The path is resolved relative to the solution file, or the project.json file depending on the way it was

[2016-05-21 19:35] emgarten commented on #2825
@StefH yes

[2016-05-22 03:40] Malvineous opened #2832 "nuget 3.x is unable to create native packages due to absolute paths in the .zip"
If you use the CoApp tools to create a native package, then you have to use version 2.x of `nuget.exe`.  If you use version 3.x then the `.nupkg` file has absolute paths:

[code]

This causes Visual Studio to fail when trying to add the package to a project:

[code]

I tried unzipping the `.nupkg` file and then rezipping it, with no other changes, and Visual Studio accepts it once the absolute pat

[2016-05-22 08:32] doronshai commented on #2816
I tried to do the flow again, this time in a more clean way and it looks like it is working.
but inorder to have the latest dependencies downloaded and updated in the package.config I have to:
- [ ] 1. Execute nuget restore solution.sln
- [ ] 2. Execute nuget update solution.sln
- [ ] 3. Delete all content of packages folder
- [ ] 4. Execute nuget restore solution.sln once again and then the packa

[2016-05-22 08:32] #2816 closed, assigned to nobody

[2016-05-22 16:09] darrencauthon opened #2833 "nuget pack zip file issue between Mono versus Windows"
Before I say anything... I should say that I'm not sure this is a Nuget issue.  Perhaps it's a Mono issue?  I'm just starting here, as I've hit a wall.

I wanted to move a build & deploy process from a manual Visual Studio & command line operation to a single-call Docker container with Mono.  I'm using nuget 3.4.3 on both Linux and Windows.

So I have two processes. I use `nuspec pack X.xsproj` in

[2016-05-22 17:12] darrencauthon commented on #2833
Oh, for the record... here is the nuspec file:  https://github.com/SparkPost/csharp-sparkpost/commit/dd42dc7e8cc082c9acacf5a261511571e9d7f59d#diff-97491765f73a35f178a62b19e9d02bb5L20

Since I have to pack the nuspec instead of the project file, I found I had to manually copy the dlls into the appropriate folder in the nupkg.

[2016-05-23 01:10] akajains commented on #2616
Can we change the path to point to correct location?

[2016-05-23 02:03] harikmenon commented on #1448
The majority of our customers are on 2.8.6 at this time and depend on a stable download. We will update this in the near future. In the meantime if you want to stay on the latest for nuget.exe I would recommend that you look at https://dist.nuget.org/win-x86-commandline/latest/nuget.exe

[2016-05-23 02:10] augustoproiete opened #2834 ""Assembly outside lib folder" warning and packages including MSBuild Tasks"
Since NuGet 2.5 we can leverage the [automatic import of msbuild targets and props files](https://docs.nuget.org/release-notes/nuget-2.5#automatic-import-of-msbuild-targets-and-props-files) feature and add files such as `{packageid}.targets` and `{packageid}.props` to a special `\build` folder which are automatically added to the project file in which the nuget package is being installed, which is

[2016-05-23 11:20] ghost commented on #1179
Just ditch the GUI completely, the console works great and is super easy to use.

[2016-05-23 11:57] weloytty commented on #604
I had the same issue, and resolved it the same way kim3er did:

Changed

`Project("{...}") = "ProjectName", "http://localhost:1256", "...}"`

to
`
Project("{...}") = "ProjectName", "ProjectName\", "...}"`

[2016-05-23 13:55] patrickjamesbarry opened #2835 "Using nuget for to create external package"
We have a need to create a zip file that contains a project and all of its dependencies. What I would like to do it still use nuget to treat the packages as separate libraries, yet need the ability to down load the project AND all of its dependencies into a local folder, zip them up in a flat hierarchy, and then provide this artifact to an external vendor.  How can I accomplish this with nuget com

[2016-05-23 14:06] harikmenon commented on #2835
is the zip file that you want to provide to the vendor a nupkg?

[2016-05-23 14:29] patrickjamesbarry commented on #2835
The end artifact needs to be a zip file, however I know nuget packages are really just a standardized zip file format.  I was really hoping to find something like:

`nuget install myproj -o c:\temp --includeDependencies`
that would download all the nuget packages mentioned above and put them in a temp dir for me to zip.  So the includeDepependencies flag obviously doesn't exist, and I would want t

[2016-05-23 14:51] wbradney commented on #2817
[NugetRecompile.zip](https://github.com/NuGet/Home/files/277683/NugetRecompile.zip)

Here you go. Just run `msbuild build.proj` several times from a dev command prompt and observe the build log.

[2016-05-23 16:54] rrelyea commented on #2828
Appears to happen in 3.4.4 and 3.5.0-beta

Project gets the following warnings:
Warning NU1007  Dependency specified was Newtonsoft.Json >= 8.0.4-beta1 but ended up with Newtonsoft.Json 8.0.3.    CoreClassLib1   F:\nugetExample\CoreClassLib1\project.json  6
Warning NU1012  Dependency conflict. CoreClassLib1 1.0.0 expected Newtonsoft.Json >= 8.0.4-beta1 but got 8.0.3  CoreClassLib1   F:\nugetExampl

[2016-05-23 17:15] zhili1208 commented on #2763
@dsagar3409 ping

[2016-05-23 17:26] dsagar3409 commented on #2763
Hi @zhili1208 here in I have attached the config file.

[NuGet.zip](https://github.com/NuGet/Home/files/277928/NuGet.zip)

[2016-05-23 17:40] zhili1208 commented on #2763
what's the environment variable value? MYNUGETPATH = "C:\logs" ?

[2016-05-23 18:19] harikmenon commented on #2835
This is probably a better question for stackoverflow, the community might have some good ideas. Here is an idea.

Create or modify nuget.config and change the repository path https://docs.nuget.org/consume/NuGet-Config-Settings to point to a location relative to the folder which you want to zip up (default is packages folder which is within the solution itself)
You can do restore on the commandlin

[2016-05-23 18:19] #2835 closed, assigned to nobody

[2016-05-23 18:20] harikmenon commented on #2835
Closing this issue since we are not looking into building a feature as you have described in the future at this point. However, we will keep an eye out for more feedback around this.

[2016-05-23 18:47] dsagar3409 commented on #2763
Yes you are right .

MYNUGETPATH = "C:\logs"

[2016-05-23 19:42] gzak commented on #2773
Moved the issue to here: https://github.com/dotnet/cli/issues/3206

[2016-05-23 19:42] #2773 closed, assigned to nobody

[2016-05-24 00:23] dwrogers opened #2836 "The dreaded "Could not find file..." Problem just bit me again"
I tried to add a package to my solution today, received:

Severity    Code    Description Project File    Line    Suppression State
Error       Failed to initialize the PowerShell host. If your PowerShell execution policy setting is set to AllSigned, open the Package Manager Console to initialize the host first.           0

The rest of the day was wasted trying to recover an operational IDE with

[2016-05-24 07:25] chinadragon0515 opened #2837 "Can not push symbols nuget package"
Before we use nuget version 2.8.6, and we can use command,
1. nuget.exe setApiKey 8a07038c-1e59-4a3f-9615-01f3a13b651a 
2. nuget.exe push package.nupkg

We can successfully push package to nuget.org and source code to http://www.SymbolSource.org.

Today, when I try the command again, I will get issue to push symbols,
Pushing Microsoft.Restier 0.5.0-beta to the symbol server (http://nuget.gw.symbol

[2016-05-24 09:31] AnderssonPeter opened #2838 "Requirments for replacement tokens?"
I have the following nuspec file `Test.nuspec`

[code]

But this yields errors when I try to pack it `nuget pack Test\Test.nuspec`.

[code]

Attempting to build package from 'Test.vbproj'.
I have also tried to Pack the `.vbproj` file `nuget pack Test\Test.vbproj -IncludeReferencedProjects -Prop Configuration=Release` but that gives the following error

[code]

`Test\bin\Release\Test.exe` exists so

[2016-05-24 10:35] AnderssonPeter commented on #2838
I added `-Prop Platform=AnyCPU` and it worked correctly please close this issue.

[2016-05-24 11:00] mrward opened #2839 "No proxy credentials dialog shown for http package source"
The NuGet Package Manager 3.4.3 in Visual Studio 2015 does not display a dialog asking for proxy credentials for package sources that use http. The dialog is displayed for package sources that use https. A dialog is displayed in Visual Studio 2013 for both http and https package sources.

My steps to reproduce:
1. Open Visual Studio 2015.
2. Create a package source pointing to http://www.nuget.org

[2016-05-24 11:39] tonysneed opened #2840 "NuGet Install Fails with Error: Failed to add reference to 'System.Collections'"
When I create a multi-targeted .NET Core class library, which includes targets both for **.NETPortable,Version=v4.5,Profile=Profile111** and **netstandard1.3** with a dependency for _System.ComponentModel.Annotations_, installing the NuGet package for the library on a csproj-based project (for example Xamarin Android or iOS) causes the install to fail and roll back with the following error:

[code

[2016-05-24 13:30] harikmenon commented on #2840
This might be related to the design time facade issue @https://github.com/NuGet/Home/issues/2594

[2016-05-24 13:35] harikmenon commented on #2837
Yes, the old symbol server is now deprecated, you should use the new server which is https://nuget.smbsrc.net/. Can you try the following and let us know if it doesnt work.

nuget.exe setApiKey 8a07038c-1e59-4a3f-9615-01f3a13b651a

nuget.exe push %packagename% -Source https://nuget.smbsrc.net/. You are missing the trailing forward slash that might cause issues (it does for sure when you specify th

[2016-05-24 13:43] ElStefan opened #2841 "Missing developmentDependency attributes in packages.config"
Hi, I'm not sure if it's a feature request or a bug, but here is my issue:

I've created a .nuspec file with a dependency to another package, i am now able to mark my own package as a development dependency. Then i've installed it on one of my projects, and here comes the problem: just my own package has the attribute `developmentDependency="true"` on it, the dependent package doesn't.

[code]

Th

[2016-05-24 13:53] maartenba commented on #2837
I have reset your API key - it is no longer `8a07038c-1e59-4a3f-9615-01f3a13b651a` as the key was disclosed in this GitHub issue. Please **never share this key in public**.

[2016-05-24 13:55] harikmenon commented on #2837
:), good point. I haven't had my coffee yet.

[2016-05-24 16:15] revel8n commented on #1401
Yes, that is about what i was thinking as well after i did a bit of looking through the source code.

It appears that Pending Deletes will be skipped if the file does not exist in the file system (FileSystem.DeleteFile), which could be why everything worked when i deleted the files before trying to update.

i am not sure if that is proper in all cases as it would mean if the files just happened to

[2016-05-24 17:22] mocsharp opened #2842 "Uploading large packages result in OutOfMemoryException"
Using latest (as of May 24,16) nightly build of nuget.exe, I was able to upload nuget packages over 300MB without timing out.  However, Nuget.Server now throws an OutOfMemory exception.

Exception was thrown from StreamExtensions.cs > ToStreamFactory in the ZipPackage constructor, stream.ToStramFactory() call.

[2016-05-24 17:29] rohit21agrawal opened #2843 "[Nuget 2.x] update-package has a bug where TFS throws an exception if there is a Pending-Delete on directory"
Steps to repro:
 Create a TFS Project. Install a package ,say JQuery -version 2.0.0. Check in changes to TFS.
 Update package to latest version. TFS will throw an exception saying the parent has a pending delete and must be checked in before changes can be made

[2016-05-24 17:34] maartenba commented on #2842
This issue was moved to NuGet/NuGetGallery#3042

[2016-05-24 17:34] #2842 closed, assigned to nobody

[2016-05-24 17:57] #2769 closed, assigned to spadapet

[2016-05-24 18:26] tonysneed commented on #2840
The problem seems to go away when I remove `frameworkAssemblies` from the **.nuspec\* file which is included in the **.nupkg** file generated by the `dotnet pack` command.

According to section, "How to target a Portable Class Library (PCL)" in the article in the docs titled [Writing Libraries with Cross Platform Tools](http://dotnet.github.io/docs/core-concepts/libraries/libraries-with-cli.html#h

[2016-05-24 19:52] emgarten commented on #2836
Are you able to install using the Visual Studio UI? (Right click on the project and select manage packages)

Try the NuGet powershell known issues here: https://docs.nuget.org/Release-Notes/Known-Issues

And this thread:
http://stackoverflow.com/questions/12638289/embedding-powershell-v2-0-in-net-app-on-windows-8-rtm

[2016-05-24 21:14] rohit21agrawal commented on #2843
https://github.com/NuGet/NuGet2/commit/5c438d240d8c1d4d5b3a6ea0ef0e53bab95a5bb3

[2016-05-24 21:14] #2843 closed, assigned to rohit21agrawal

[2016-05-24 22:20] vors opened #2844 "dotnet restore cannot use secure password on Windows"
I'm trying to use password-protected nuget feed (from [AppVeyor](http://www.appveyor.com/)) in dotnet restore.

When I use `nuget` command line tool (v3.4.3.855), it works fine:

[code]

When I use `dotnet restore`, it fails

[code]

[code]

Using `ClearTextPassword` in the **global** config (`~\AppData\Roaming\NuGet\NuGet.Config`) solved the problem. I don't want leave a plain-text password there

[2016-05-24 22:51] rrelyea commented on #2844
For now, using NuGet.exe on windows is your best option, if you value the encryption.
The codebase is shared between NuGet Restore and DotNet Restore.
On Windows, in NuGet.exe today, we take advantage of windows encryption apis.

We plan to work with the dotnet core team to ensure that we have this service as appropriate, so that the dotnet restore can add this feature.

[2016-05-24 23:06] rrelyea commented on #2841
This may work if the builder of the outermost package is using project.json, instead of packages.config.
They would need to mark the package as type:build (which is similar to developmentDependency).
Unfortunately, packages.config doesn't maintain information about MyDependentPackage, if it was a top level dependency, or just a subdependency.

We could add a feature for project.json to automatical

[2016-05-24 23:08] rrelyea commented on #2840
@toddm - Addressable?

[2016-05-24 23:11] rrelyea commented on #2839
@alpaix - regression from 2.x or 3.3?

[2016-05-24 23:13] #2838 closed, assigned to nobody

[2016-05-24 23:19] rrelyea commented on #2837
@maartenba do you know the answer to his third question?
If I call "nuget push *.nupkg -source https://www.nuget.org/api/v2" will it take all .symbols.nupkg files and automatically try posting to the symbol server? Or did nuget.org help broker the conversation with the symbol server?

[2016-05-24 23:24] rrelyea commented on #2834
We'd love to see NuGet pack stop warning when it is in the build folder. Yes, please send a PR.

[2016-05-24 23:26] rrelyea commented on #2833
Can you please point us towards a copy of a bad nupkg (and perhaps one that is good too)

[2016-05-24 23:30] rrelyea commented on #2832
I believe we've fixed this issue in 3.4.4 -- but that build isn't available yet. The nightly build (3.5.0-rc) of command line that is downloadable from: http://dist.nuget.org/index.html should have the same fix.
Can you please let us know how that nuget.exe works?

[2016-05-24 23:38] rrelyea commented on #2830
Understand the request, but don't see this work getting done. If we add support to edit repository setting nuget.configs in tools/options, you could imagine VS to help do this.

[2016-05-24 23:39] rrelyea commented on #2829
What OS did this build agent run on?
Have you seen it more than once?

[2016-05-24 23:45] rrelyea commented on #2828
@jainaashish - would love to understand how we can improve the UI here.

[2016-05-24 23:49] rrelyea commented on #2760
Can you please attach a fiddler trace?

[2016-05-24 23:51] darrencauthon commented on #2833
Sure @rrelyea, the good one is SparkPost 1.6.2 (https://www.nuget.org/packages/SparkPost/1.6.2) and the bad one is 1.6.1 (https://www.nuget.org/packages/SparkPost/1.6.1).

[2016-05-24 23:51] chinadragon0515 commented on #2837
I figure out this one works for me with nugget 3.4.3,

nuget.exe push Microsoft.Restier.0.5.0-beta.symbols.nupkg 8a07038c-1e59-4a3f-9615-xxxxxxxxx  -Source https://nuget.smbsrc.net

set the apikey first and the run push does not work for me.
specify -apikey options does not work for me neither.

I close the issue as I have a way to work, but I prefer we can update nugget help message if this is th

[2016-05-24 23:54] harikmenon commented on #2837
This should work, we will take a look at this. Our docs says we suppor this  https://docs.nuget.org/create/creating-and-publishing-a-symbol-package

[2016-05-24 23:56] rrelyea commented on #2751
Putting into a future milestone. Could consider allowing caller to pass in a logger.

[2016-05-25 00:07] pranavkm commented on #2829
This was a Win2012 machine. It might've been one off since we haven't seen too many restore failures.

[2016-05-25 00:22] ThinkAboutGitHub commented on #2760
Hi there, forgive me as I’m fairly new to Fiddler, trace has been attached.

Hopefully this is what you need?

From: Rob Relyea [mailto:notifications@github.com]
Sent: Wednesday, 25 May 2016 9:49 AM
To: NuGet/Home Home@noreply.github.com
Cc: Clare Moore Clare.Moore@thinkabout.com.au; Author author@noreply.github.com
Subject: Re: [NuGet/Home] IVsPackageInstaller can't find packages in V3 Feed https

[2016-05-25 04:53] maartenba commented on #2837
@rrelyea The client used to have some logic that would change the push URL. I believe it checks for the gallery push URL and a .symbols.nupkg file. If that is the case, SymSrc is used as the source instead. When pushing, SymSrc.org calls into the gallery to validate the API key used.

[2016-05-25 07:40] v-lawu opened #2845 "Create MVC or Empty project, meet error."
NuGet version 3.5.0.1337, 3.5.0.1352
Repro steps:
1.Create MVC or Empty project.

Expected: Create successful.
Actually: Create project, meet error.
![capture](https://cloud.githubusercontent.com/assets/12129698/15531789/dc8bc25a-228e-11e6-9654-23478c966167.PNG)

[2016-05-25 08:32] ElStefan commented on #2841
Thanks for your quick response.

I tried using project.json, getting even more issues..
I'm using an install script, it is required to set the projects active ruleset, but in [the introduction to project.json](http://docs.nuget.org/consume/ProjectJson-Intro#install/uninstall-scripts) it says, there won't be support for scripts anymore.
Doing this by adding a .props file as described in [here ](htt

[2016-05-25 09:11] v-lawu opened #2846 "Create UAP project, meet error."
NuGet version: 3.5.0.1337, 3.5.0.1352

Repro steps:
1.Create File->New Project->Visual C#->Windows->Universal->Blank App(Universal Windows) project.

Expected: The project create successful.
Actually: Meet error.
![capture](https://cloud.githubusercontent.com/assets/12129698/15534500/b13563e2-229b-11e6-8592-136e8e012830.PNG)

[2016-05-25 09:29] golayp opened #2847 "pack with NoDefaultExclude and nuspec file exclusion conflict"
Hi I'm trying to pack a project cloned from a git repo and have a issue.

My project contains some files starting with a dot(like .htaccess).

I would like to prevent my package having git related files and folder like .git at root location and some .gitignore files around but still keeping my .htaccess and ohter needed dot-starting files.
My first thought is to use **-NoDefaultExcludes** to inclu

[2016-05-25 11:36] mallikharjunaa opened #2848 "Visual studio 2013 U5 hangs while accessing the offline(sync) folder location"
We have one customer incident in which customer is trying to load the project solution from offline(sync) folder location and seeing VS hang. Customer was not seeing this problem if he removes the “.suo” file from the folder location.

1)  Customer has solution file on file server and its accessing via shared location
2)  Each client developer get their own copy on their local machine making its a

[2016-05-25 12:05] ikourfaln opened #2849 "Package's Dependencies not sorted properly"
Hi

I see that dependencies list of a package are sorted by name, just like here: [Newtonsoft.Json](https://www.nuget.org/packages/Newtonsoft.Json/8.0.4-beta1)

![named](https://cloud.githubusercontent.com/assets/9744226/15539166/db20becc-2278-11e6-804b-ebd6f6b315c4.png)

But in some packages, dependencies are not sorted properly (by name), just like here: [Microsoft.CSharp](https://www.nuget.org/

[2016-05-25 14:56] mrward commented on #2839
Debugging NuGet 3.4.3 what seems to be happening is that for a https request an exception is thrown when [SendAsync](https://github.com/NuGet/NuGet.Client/blob/585b7f31574904ff627d1f41e83b477f3c797aaf/src/NuGet.Core/NuGet.Protocol.Core.v3/HttpSource/HttpHandlerResourceV3Provider.cs#L107) is called and the server responds with a proxy authentication request. This gets handled correctly since the ex

[2016-05-25 16:34] jainaashish commented on #2828
@rrelyea issue here is, while updating a package, it's not updating project.lock.json file which results in this inconsistency. So there isn't any UI issue rather dotnet restore should be called while updating a package like it's being called for install. I'll look more into it to understand install flow and have the similar flow for update.

[2016-05-25 17:20] mrward commented on #2839
Looking at the latest code in the dev branch it looks like this has already been fixed. The logic has moved to the ProxyCredentialHandler which [checks the status code of the response](https://github.com/NuGet/NuGet.Client/blob/cea464c27a439406c669643e4a6901b56a67a337/src/NuGet.Core/NuGet.Protocol.Core.v3/HttpSource/ProxyCredentialHandler.cs#L70-L75).

[2016-05-25 17:29] toddm commented on #2840
I'm not entirely sure what the correct behavior should be.  @emgarten - what do you think?

[2016-05-25 18:05] tonysneed commented on #2840
I'm wondering why frameworkAssemblies is required for PCL targets in project.json?

[2016-05-25 19:55] alpaix commented on #2839
@mrward Thanks you for reporting the issue and verifying the fix!
This bug was accidentally fixed when resolving #1858 in https://github.com/NuGet/NuGet.Client/pull/380.

@rrelyea @yishaigalatzer We may want to decide porting the fix onto 3.4.5 branch.

[2016-05-25 22:07] eric-newton commented on #2288
Fails for me too. Is there any kind of integration testing for this stuff?

[2016-05-25 22:16] skofman1 opened #2850 "nuget.exe push should present better error messages"
When push request fails, the gallery returns a detailed error message with failure reason. This is not reflected in the Client, and a general error message is presented:
Example:

[code]

Presenting a detailed error message to the client will provide a better user experience.

[2016-05-25 23:18] yishaigalatzer commented on #2288
Snarky comments don't really help, there obviously wasn't a test for this before it was fixed. Now there is. You can pick up 3.4.4 and validate if resolves your scenario

[2016-05-25 23:22] yishaigalatzer commented on #2839
I would say we should please tentatively move it there. And we can discuss with Rob when he gets back

Get Outlook for Androidhttps://aka.ms/ghei36

On Wed, May 25, 2016 at 12:55 PM -0700, "Alex Panov" <notifications@github.com<mailto:notifications@github.com>> wrote:

@mrwardhttps://github.com/mrward Thanks you for reporting the issue and verifying the fix!
This bug was accidentally fixed when re

[2016-05-26 01:01] emgarten commented on #2840
This should be fixed as part of the issue Hari mentioned.

As a workaround remove any unneeded framework assembly references from project.json and add type: build to the rest.

[2016-05-26 02:47] kzu opened #2851 "Leverage AssemblyMetadata attribute for nuspec token replacements"
Currently there are a fixed number of attributes that are taken from a project's AssemblyInfo to be used as replacement tokens in a nuspec file when generating a package for a project.

Additional replacement values must be specified via the nuget command line only, in order to be usable as replacement tokens.

AssemblyMetadataAttribute (see http://msdn.microsoft.com/en-us/library/system.reflectio

[2016-05-26 02:47] kzu commented on #2851
I'm in the process of migrating the original PR changes over. Will submit it soon.

[2016-05-26 02:50] kzu commented on #2851
@emgarten I see you merged it back in Codeplex, so I'll nag you for this merge ;)

[2016-05-26 03:35] hach-que opened #2852 "Allow compression level to be set when running `nuget pack`"
We use NuGet to package a lot of internal assemblies and programs, and we'd like to be able to set the compression level to either `Fastest` or `NoCompression` instead of the current `Optimal`.  This is because we know there's a bunch of data in those NuGet packages which aren't compressable, and so `nuget pack` spends a bunch of time trying to compress the data when we don't need it to.  This sig

[2016-05-26 05:55] v-lawu opened #2853 "Intellisense tab complete broken in Package Manager Console"
NuGet Version 3.5.0.1337(dev), 3.5.0.1352(dev), 3.5.0.1348(3.5.0-beta2)

Repro steps:
1.Create a new project(like MVC project).
2.Open Package Manager Console window.
3.Type "Install-Package " or "Install-Package jq" , press Tab key.

Expected: Show Intellisense.
Actually: Show "Time Elapsed: ...".
![capture](https://cloud.githubusercontent.com/assets/12129698/15564943/802275d4-2349-11e6-90ee-c795

[2016-05-26 09:10] tonysneed commented on #2840
Thanks @emgarten, I'll give the work around a try.

[2016-05-26 09:22] prakhar241 commented on #1215
Even applying package at project level not working -

PM> Install-Package xunit.runner.utility -Version 2.1.0
Install-Package : Project 'Default' is not found.
At line:1 char:1
- Install-Package xunit.runner.utility -Version 2.1.0
- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  - CategoryInfo          : ObjectNotFound: (Default:String) [Install-Package], ItemNotFoundException
  - FullyQual

[2016-05-26 09:23] prakhar241 commented on #1076
Even applying package at project level not working -

PM> Install-Package xunit.runner.utility -Version 2.1.0
Install-Package : Project 'Default' is not found.
At line:1 char:1

Install-Package xunit.runner.utility -Version 2.1.0

[code]

[2016-05-26 09:26] yishaigalatzer commented on #1076
That looks like an unrelated issue, please open a new bug and provide exact details on how to reproduce the issue. Please make sure you are using the latest nuget extension (3.4.4-rc at the moment)

[2016-05-26 09:52] prakhar241 commented on #1076
I got it fixed now after following 'bitpen' 4 steps listed here - http://stackoverflow.com/questions/10130333/cant-install-packages-with-nuget-500-internal-server-error

[2016-05-26 10:15] StexGhost commented on #2696
Any idea on when this might get fixed? Currently I only have one app in store that is affected by this bug (DivisionDPS). But I'm close to releasing 2 more apps that will be affected. With a 3rd app coming later, where 90% of my users are german, not being able to change 1/3 of the language resources to german is a huge hinderance.

[2016-05-26 10:56] mauroservienti commented on #2648
Is 3.4.4 released? Most of our [AppVeyor](https://ci.appveyor.com/project/radical-bot/radical-windows-presentation) builds are still failing with no apparent reason and it seems connected to this.

[2016-05-26 17:01] luisrudge commented on #2689
I'm having this as well

[2016-05-26 17:16] ravensorb opened #2854 "Restore Packages does not actually restore many of the runtime dependent related packages"
I am currently trying to build my solutions via the CLI.  I am executing a nuget.exe restore <solution.sln> and while it does restore packages it only seems to restore 95% of them.  It consistently failes to restore packages likes Microsoft.CSharp.  It seems to only be an issue for the new project.json based projects

Ex:

[code]

The problem is -- I did run the Nuget restore command and it didn't

[2016-05-26 17:23] zhili1208 commented on #1215
@prakhar241 Can you provide more information? visual studio Version? NuGet Version? project type?

[2016-05-26 18:20] jainaashish commented on #2828
This is actually projectK issue, not nuget. And they already have an opened tfs bug for this to be fixed.

From: Anton Piskunov
Sent: Wednesday, May 25, 2016 3:36 PM
To: Bill Hiebert
Cc: Ashish Jain
Subject: Re: https://github.com/NuGet/Home/issues/2828

It can be fixed on our side or PMS. I opened a bug during signoff and can fix it if it is approved for the.

Thanks,
Anton

On May 25, 2016, at 6

[2016-05-26 18:51] ravensorb commented on #2854
As an added note.  This seems to be mainly an issue on a fresh computer or after executing a "nuget locals all -clear" and then trying to build

[2016-05-26 22:07] nick-schultz commented on #996
Any update on this ticket?  I am experiencing the behavior as well, however I am using a packages.config.

[2016-05-26 22:21] toddm commented on #2648
3.4.4-rc has been released.  The final version not quite yet.  You can find the rc here: https://dist.nuget.org/index.html

[2016-05-26 22:53] rohit21agrawal opened #2855 "Packages not sorted correctly by published date"
Search for a package like json.net , and sort it by Published Date.

The list shown is not sorted correctly.

[2016-05-27 15:22] koko343 opened #2856 "UWP give code analyzer warning - The referenced component could not be found"
My NuGet package contains .dll files that are build for specific platforms (arm, x86 and x64). It was created by the guide http://dontcodetired.com/blog/post/Creating-a-Windows-Store-App-NuGet-Package-for-ARM-x86-and-x64.aspx. Packages works fine, except one fact, I receiving warning from code analize with a following context : The referenced component 'C:...\1.0.0.8\build\uap10.0
![untitled](http

[2016-05-27 18:42] rrelyea commented on #2689
We've not been able to reproduce this internally.
@luisrudge  - can you please give detailed info about how we might be able to reproduce this problem?

[2016-05-27 18:55] luisrudge commented on #2689
- VS 2015 in English
- Windows 10 display language set to English
- Regional formats are set to Portuguese - Brazil

Everything is in english, but the nuget UI is in portuguese

[2016-05-27 18:57] jainaashish commented on #2225
duplicate of https://github.com/NuGet/Home/issues/1013

[2016-05-27 20:07] zhili1208 opened #2857 "NuGet.PackageManagement.VisualStudio try to load "NuGet.TeamFoundationServer14", but that dll name changed to "NuGet.TeamFoundationServer""
I think this issue is in 3.5-beta2 and dev

[2016-05-27 20:29] rrelyea commented on #2857
dev + cherrypick to 3.5 beta2

@drewgil

[2016-05-27 20:36] #2857 closed, assigned to zhili1208

[2016-05-28 00:21] #2151 closed, assigned to alpaix

[2016-05-28 02:31] samigroup commented on #1379
Hello,
OK, Here is what I did to get around it,
1. I saved a copy of the Web.config file of my current (corrupted project) to "Corrupted-Web.Config". and close the project solution.
2. Created a new application with the same type of my courrpted project. called it ProjTemp.
3. Save and Run the "PorjTemp", then Save a copy of the Web.Config to "OrigTemp_Web.config"
4. Close the Web.config files.
5.

[2016-05-28 07:44] Malvineous commented on #2832
Thanks for the followup!  It looks like this has indeed fixed the problem.

I wasn't sure which version to use (couldn't find 3.5.0-rc) so I tried both 3.4.0-rc (reported as 3.4.4.874) and 3.5.0-beta (reported as 3.5.0.1284), neither of which worked.  But when I tried the NuGet.CommandLine nightly build (reported as 3.5.0.1365), that created the .nupkg file correctly!  No more leading slashes on t

[2016-05-28 12:26] Mertsch commented on #2754
@ShikiGami and all who run into the same thing
Using https://www.myget.org/feed/nugetbuild/package/nuget/NuGet.CommandLine 3.5.0-rc-1365 fixes the issue

[2016-05-28 14:04] Silwood commented on #2616
After upgrade  Microsoft .NET Core Tools (Preview 1) to RC2, I was able to open the sample solution without error. It didn't worked with RC1.

[2016-05-29 15:29] sbohlen commented on #2288
FWIW, the loss of 'default source' functioning properly has similarly 'broken' all saved API Keys (previously saved with the `nuget.exe setApiKey <APIKey>` command-line).  Its (apparently?) no longer supported to invoke the `setApiKey` option without also specifying an explicit `-Source <source>` option as well.

[2016-05-29 21:47] robertmuehsig commented on #2703
Hi @rrelyea
I tried to start develop this feature, but I have 2 questions:

If I want to add some more options to the Powershell-Module, I should check the "PackageManagement.PowerShellCmdlets", right? If yes - is there an easy way to debug these cmdlets? My Cmdlet-dev knowledge is pretty basic, but those cmdlets also access VS, so... maybe you have a hint for me.

Second question:
The way to add

[2016-05-29 22:14] shuri1 opened #2858 "NuGet Package manager gives an error upon loading in vs 2015"
I'm getting the following error:

[code]

It doesn't work. I've tried uninstalling VS 2015, nuget package manager....no luck...help!

I'm using VS 2015 Enterprise, SP 2 (Or whatever it is they are using to designate service packs/updates)

[2016-05-30 00:47] Daniel15 opened #2859 "How to reference netframework35 library from net451 project?"
_From @Daniel15 on May 29, 2016 1:3_

Im trying to upgrade my site from ASP.NET 5 RC 1 to ASP.NET Core RC2. I'm encountering this error on one of the assemblies:

[code]

The `MarkdownDeep.NET` package only contains an assembly for `netframework35`. I tried adding `netframework35` to the `imports` section but that doesn't seem to have worked.

`project.json` file:

[code]

_Copied from original is

[2016-05-30 00:47] Daniel15 commented on #2859
_From @davidfowl on May 29, 2016 1:33_

You don't need the imports, that should work without any issues. It looks like a nuget bug.

/cc @emgarten @yishaigalatzer

[2016-05-30 00:47] Daniel15 commented on #2859
_From @davidfowl on May 29, 2016 1:35_

I just noticed something bizzare in the error message:

[code]

The package is busted. It's saying the framework name is .NETFramework 3.5 and the version is 0.0.

[2016-05-30 00:47] Daniel15 commented on #2859
_From @davidfowl on May 29, 2016 1:36_

You can actually work around this by making this the import:

[code]

[2016-05-30 00:47] Daniel15 commented on #2859
_From @davidfowl on May 29, 2016 1:38_

@emgarten Looks like a nuget bug where it can't parse the framework name. It works fine in `packages.config` based projects.

[2016-05-30 00:47] Daniel15 commented on #2859
@davidfowl  - The package is basically abandoned (last updated 2012). I might fork it for my own uses.

However, I don't think the package itself is busted. This exact same package works fine in an ASP.NET 5 RC1 website, it only breaks once I switch to RC2.

[2016-05-30 00:47] Daniel15 commented on #2859
_From @davidfowl on May 29, 2016 1:40_

Yea, it looks like a nuget bug to do with parsing the target framework.

[2016-05-30 00:47] Daniel15 commented on #2859
_From @yishaigalatzer on May 29, 2016 5:16_

Please move the issue to the nuget repo.

[2016-05-30 00:50] Daniel15 commented on #2596
Is this available with the new API yet?

[2016-05-30 01:30] davidfowl commented on #2859
The following parses as "unsupported":

[code]

Then we take treat it like the entire string is the name with version = 0.0:

https://github.com/NuGet/NuGet.Client/blob/0836ef72d6b89d033f11ff21703dd693aea32515/src/NuGet.Core/NuGet.Client/ManagedCodeConventions.cs#L115-L125

[2016-05-30 01:34] davidfowl commented on #2859
FWIW, NuGet.Core also parses it as unsupported, but somehow the installation works fine.

[2016-05-30 03:05] Daniel15 commented on #2859
The error message says "Package MarkdownDeep.NET 1.5.0 supports: netframework35"... Where does that "netframework35" string come from? I assume something must be parsing ".NetFramework 3.5" -> "netframework35" right?

[2016-05-30 12:28] skorunka commented on #2689
I have got the same issue. But it speaks to me in Czech as my Windows regional settings are Czech, but display language is English.

![image](https://cloud.githubusercontent.com/assets/218913/15649591/9f983330-266a-11e6-8d64-36b2fff0c500.png)

[2016-05-30 18:40] AndreyAkinshin opened #2860 "Bug in ExecuteSynchronizedCore on Linux/MacOS + Mono"
Hi, I have the following exception:

[code]

The origin of the exception:

[code]

(see https://github.com/NuGet/NuGet.Client/blob/58bd2dffe9cee8bf62b601f1610df4e9bbb91106/src/NuGet.Core/NuGet.Configuration/Settings/Settings.cs#L1134)

An observation: on CoreCLR+(Linux/MacOS), NuGet uses `_globalMutex` instead of named `mutex` because cross-plat CoreCLR doesn't support named locks. However, on Mon

[2016-05-30 19:46] jesusmogollon commented on #2825
What about 2010?

[2016-05-31 00:19] darrencauthon commented on #2833
So I played with this a little bit.

It seems that if I unzip the nupkg, then zip it up again (with zip 3.0, ubuntu apt-get), the nupkg is valid.

So this might be an issue with the way the nupkg is zipped up.  Still investigating.

[2016-05-31 00:33] mafalarz commented on #2754
How do you run NuGet.CommandLine?

[2016-05-31 00:58] qwertie commented on #2714
Ping! Geez, does anyone actually work on NuGet anymore?

[2016-05-31 02:49] pranavkm opened #2861 "Consider moving the .nuget directory on Windows to a subdirectory of %AppData%"
On Windows, everything under the `Users` directory with the exception of the `AppData` sub directory is indexed. Consequently restoring packages kicks off the search indexer. It doesn't look like it's actually indexing package contents, but it does index the file names. Moving it would avoid all the extra work.

For past discussions, see aspnet/dnx#1507 and https://github.com/dotnet/cli/issues/591

[2016-05-31 02:54] MicahZoltu commented on #2861
`Users/<username>/.nuget` is also against Windows convention as defined by Microsoft some number of years ago.  The issue mentioned by @pranavkm is a technical reason not to store the files here, but I believe the user expectations reason is also important and Windows users expect cache data like this to be in `%LOCALAPPDATA%`.

Not only will moving this prevent indexing, but it also allows users

[2016-05-31 03:47] youngdelaney commented on #2861
we need to concert

[2016-05-31 08:32] Tasteful opened #2862 "NuGet pack .csproj with packages.config is ignoring dependency packages"
I using the beta version `NuGet Version: 3.5.0.1365` after to packing problem with released version and .net core RC2.

The nupkg that is produced from an csproj file that have a packages.config file with external dependency is missing all the external dependency.

[code]

Packages.config

[code]

Company.Infrastructure.InversionOfControl.nuspec

[code]

Nuspec from the generated nupkg

[code]

[2016-05-31 10:21] Tasteful commented on #2862
the problem seams to be around this check https://github.com/NuGet/NuGet.Client/blob/bd9b4551438897e122d66e490ba6466c59e03a6c/src/NuGet.Clients/NuGet.CommandLine/Commands/ProjectFactory.cs#L986 that says that the dependency nupkg file should exists directly in a packages-subdirectory to project dir (ex Product\src\Company.Library\Packages where Company.Library is the project directory)

Checkin ht

[2016-05-31 10:30] Tasteful commented on #2862
Whas trying with other release from myget and https://www.myget.org/feed/nugetbuild/package/nuget/NuGet.CommandLine/3.5.0-rc-1315 was working as expected with the dependecies.

[2016-05-31 11:56] etiago opened #2863 "Best practices on handling package evolution"
Hi everyone,

Are there best practices from the NuGet team on how to handle the evolution of dependencies? Namely, how frequently do you recommend checking for new versions and do you have/use tooling to proactively bring the developers' attention to when there are, e.g., security vulnerabilities in a certain version of a package which should be migrated to a newer version?

For NPM packages I fou

[2016-05-31 14:42] MadJlzz opened #2864 "nuget install doesn't create a package.config file"
I am having an issue with nuget install.

In fact he doesn't generate a package.config file after my nuget install.

Steps to reproduce (NuGet Version: 3.4.3.855)
`nuget install <packageID> -Source <anySource> -ExcludeVersion -OutputDirectory <directory>`

Maybe all of this is normal but I am completely blocked when I want to use the `nuget update` command since it requires a package.config file.

[2016-05-31 14:48] hesantan commented on #1215
Happening to me also, VS 2015 Professional:
![image](https://cloud.githubusercontent.com/assets/7285501/15678611/f88e45da-271c-11e6-825f-74dce5d04bfe.png)

Nuget Version:
![image](https://cloud.githubusercontent.com/assets/7285501/15678634/17a50076-271d-11e6-9c12-86eee9df8024.png)

Web project. ASP.NET - Web Forms

[2016-05-31 15:03] harikmenon commented on #2864
What kind of project are you targeting? Maybe you have a project.json instead of packages.config?

[2016-05-31 15:12] MadJlzz commented on #2864
I am targeting for now just a directory where you can find some subdirectories. All of them are empty.

Something like this:
Directory1/
|__SubDirectory1
|__SubDirectory2

I launch my
`nuget install <packageID> -Source <anySource> -ExcludeVersion -OutputDirectory SubDirectory1/`
inside Directory1 for example.

No, I don't have any project.json.
Do I need to write packages.config by myself ?

In th

[2016-05-31 15:13] harikmenon commented on #2863
Going forward, we recommend that you ask questions on StackOverflow, we have started to actively answer questions there. We want to keep GitHub issues primarily for feature requests/bugs at this time.

To your first question, there is no tooling at this time that actively lets you know that a new version is available other than the badge count in the Updates tab in the Packet Manager UI in Visual

[2016-05-31 15:13] #2863 closed, assigned to harikmenon

[2016-05-31 15:16] harikmenon commented on #2864
I don't believe this is supported at this time. Adding @yishaigalatzer , he will have some ideas here.

[2016-05-31 15:43] rrelyea commented on #2862
Sounds to me like this is fixed in current builds of dev branch. But broken in 3.5.0-beta.
Should consider port to 3.5.0-beta2

[2016-05-31 15:49] Tasteful commented on #2862
@rrelyea The bug exists in the latest release on myget (https://www.myget.org/feed/nugetbuild/package/nuget/NuGet.CommandLine/3.5.0-rc-1365)

Does it exists any other feed with a more recent version that I can test and verify if the issue still is there?

[2016-05-31 15:56] toddm commented on #2862
That is the latest.  I think it's broken in the latest build.  I'll take a look at it.

[2016-05-31 16:03] rrelyea commented on #2854
Does Microsoft.CSharp exist in one of your package sources? Is that package source enabled? What version of NuGet.exe are you using? (when working with CLI, for best results you should be using 3.5.0-beta1 -- please download from http://dist.nuget.org/index.html)

[2016-05-31 16:11] rrelyea commented on #2848
This doesn't appear to be NuGet related, does it?
@harikm86 - can you please help them route this to the right VS feedback mechanism, if I am correct.

[2016-05-31 16:15] rrelyea commented on #2846
Those 2 builds are dev branch builds. Please check 3.5-beta2 build too. If repros there, leave this issue in 3.5-beta2...and fix in dev and 3.5-beta2.
If dev only, change issue to 3.5-rc milestone and fix in dev.

[2016-05-31 16:15] ravensorb commented on #2854
Right now i am using build 3.4.3.855.  I'll try the beta version.  As for Microsoft.CSharp, no it is not directly referenced, it is a dependency reference through "Microsoft.NETCore.UniversalWindowsPlatform".  From what I can tell. the current command line version of nuget does not actually pull in any of the dependencies from nuget packages that are part of the project.json (it does however work

[2016-05-31 16:16] rrelyea commented on #2845
Those 2 builds are dev branch builds. Please check 3.5-beta2 build too. If repros there, leave this issue in 3.5-beta2...and fix in dev and 3.5-beta2.
 If dev only, change issue to 3.5-rc milestone and fix in dev.

[2016-05-31 16:25] ravensorb commented on #2854
Quick update, the beta version is working a little better. It looks like most of the dependencies are being restored.  The odd part is, it seems that msbuild and the restore packages do not seem to be in agreement

![Image](https://i.imgur.com/zi73hvn.png)

If you look at the screen shot, it would appear that Microsoft.CSharp was restored, however it is not being found by the build system (or is t

[2016-05-31 16:35] rrelyea opened #2865 "Dependency conflict when project.json reference csproj"
Port of https://github.com/dotnet/cli/issues/3205

[2016-05-31 16:36] kquinbar opened #2866 "targetVersion is being set to 'net" when using nuget gui to search in visual studio 2015"
i am using visual studio 2015 and nuget package manager 3.4.3.855. I recently starting having issues when right clicking on solution and selecting manage nuget packages menu item. when searching in our private repository (and probably nuget.org), when it searches, it is passing in a targetFramework of just 'net' instead of the actual .net version, such as 'net451'. this does not happen on all solu

[2016-05-31 16:50] kadamgreene commented on #1867
This issue is happening again with NuGet 3.5.0.1365.  It says its inspecting the packages.config, but nothing happens.  This is what I'm doing:
1.  I have created a solution (Libraries.sln)
2.  I added a project to it (Utilitiies\Utilities.csproj).
3.  I add some packages to it from nuget (NHibernate 4.0.4 to be precise)
4.  From the \Utilities folder, I run "nuget pack".  It says its using packag

[2016-05-31 17:07] harikmenon commented on #2848
For context. I asked him to open the issue here since NuGet is the call stack for the hang

The file was likely corrupted by something in else in the product, and now it hangs when it tries to load it.
Based on the stack, it looks like NuGet is running some external code and that code has hung.  I would recommend following up with the NuGet team.

[code]

@mallikharjunaa : Can you provide a full d

[2016-05-31 17:37] kquinbar commented on #2866
Update: this seems to occur when i have multiple projects in my solution and the first one is .net 4 or .net 4.5 but all the other are .net 4.52 or 4.6. meaning they all match except the first one.

[2016-05-31 17:46] prakhar241 commented on #1215
There are some steps written by @bitpen here - http://stackoverflow.com/questions/10130333/cant-install-packages-with-nuget-500-internal-server-error

1.) Run VS in admin mode.
2.) Uninstall NuGet from Tools->Extension Manager
3.) Delete everything in C:\Users\AppData\Roaming\NuGet
4.) Reinstall NuGet

These worked for me at least for project level package installation. Thanks.

[2016-05-31 18:25] ericstj commented on #358
We need documentation on how you expect this to behave.  Even @davidfowl and myself cannot predict what NuGet is going to do in some cases: https://github.com/dotnet/corefx/issues/8828.  Without documentation I don't know if this is a bug or if its a nuance and my own mental model is incorrect.
/cc @seesharper

[2016-05-31 18:33] jainaashish commented on #2828
https://github.com/dotnet/cli/issues/3026

[2016-05-31 18:33] #2828 closed, assigned to jainaashish

[2016-05-31 18:52] rrelyea commented on #2866
Did you see different behavior with older versions of NuGet? Or are you just noticing this now?
What behavior were you hoping to see?
What is the impact of the current behavior?

[2016-05-31 19:01] kquinbar commented on #2866
- i have not tried an older version of nuget but i can for comparison.
- i would expect to see the same list of available packages at the project level and at the solution level
- impact is that i cannot add the package i want at the solution level, but i can at the project level. adding packages at the project levels leaves it open to having different versions of the same package in every project

[2016-05-31 19:30] daveaglick opened #2867 "Enable server side deprecation of obsolete/legacy NuGet Packages"
Update -12/21/2018 by anangaur: [Spec](https://github.com/NuGet/Home/wiki/Deprecate-packages)

----

Original comment by @daveaglick:

As NuGet gets older, I've noticed a pattern where some packages have a description along the lines of "This package is old and shouldn't be used, use XYZ instead". It seems reasonable that as projects age, their packages may change names, split, combine, etc. over

[2016-05-31 20:57] joperezr opened #2868 "NuGet Extension in VS 2015 Update 2 throws Errors even though Project builds succesfully"
We had an issue logged in .Net Framework repo which is not related to us, so moving into here to track. I'm not sure if this is the right place though, so apologies if it isn't.

Issue in corefx: dotnet/corefx#8963

This is the error we hit when we try to build the solution which restores a project.json that targets netcoreapp1.0:

[code]

Despite of this, we still get a successful build because t

[2016-05-31 21:00] rrelyea commented on #2868
@sravan1022 - what version of NuGet do you have installed in VS2015?
If you are using .net core, you should be using NuGet 3.5.0-beta for best results.
Please try the build of the VS integration from http://dist.nuget.org/index.html and let us know how that works.
If it still has a problem, please tell us details on how we can see the same problem.

[2016-05-31 21:23] yishaigalatzer commented on #2864
This is not supported, also note that running nuget.exe update doesn't guarantee a proper update for packages including content or dlls (depending on the project system).

[2016-05-31 21:23] #2864 closed, assigned to nobody

[2016-05-31 21:25] zhili1208 commented on #2845
checked 3.5-beta2 1348, this doesn't repro, it repros in dev

[2016-05-31 21:25] zhili1208 commented on #2846
checked 3.5-beta2 1348, this doesn't repro, it repros in dev

[2016-05-31 21:26] yishaigalatzer commented on #2867
@rrelyea this issue was logged before as far as I recall, please dedup

[2016-05-31 21:29] yishaigalatzer commented on #2866
This is not something we had an intentional design in mind for.

We could either pass the minimal version, that will somewhat solve this problem but will also hide packages you might have wanted to install in other projects. This will work for net45 + net40 but not for net45 + portable- project combination.

We could just not pass the filter at all in solution level packages, and show everything.

[2016-05-31 21:31] daveaglick commented on #2867
@yishaigalatzer @rrelyea I searched the GitHub repo and didn't find anything similar - perhaps it was in the old CodePlex site (I didn't search there), or maybe I just missed it.

[2016-05-31 21:34] yishaigalatzer commented on #2852
We would gladly take a pull request for this issue if you would like to speed it up

[2016-05-31 21:35] yishaigalatzer commented on #2867
Its a good ask, I just recall seeing it before :) You might be right, we just need to spend a few more minutes trying to find the dup

[2016-05-31 22:24] zhili1208 commented on #2845
the issue here is SemanticVersion in NuGet.VisualStudio.dll is not implemented yet.

[2016-05-31 22:24] drewgillies commented on #2369
Note: this is fixed by https://github.com/NuGet/NuGet.Client/commit/e117ed7ebad25f440115b42bcac147767e68a4e3
but I would like to keep the issue open for now as we don't have full CI in place for Dev15.

[2016-05-31 22:25] drewgillies commented on #2392
Note: this is fixed by https://github.com/NuGet/NuGet.Client/commit/e117ed7ebad25f440115b42bcac147767e68a4e3
but I would like to keep the issue open for now as we don't have full CI in place for Dev15.

[2016-05-31 22:57] toddm commented on #2862
If you pack with an earlier build like the latest 3.4.4 build, what dependencies end up in the nuspec file in the nupkg?
I'm trying to reproduce the problem with a test project but I get the same result with earlier versions of NuGet.exe so I'm not yet seeing the issue locally.

[2016-05-31 23:33] TimBarham commented on #2862
@toddm the logic to find the package seems wrong to me. For example, if I restore a project in VS then pack from the command line, it won't find the packages (since they will be in a `packages` directory off the solution directory, and we don't look there). And the nuspec file will be in a folder named for the package, which pack doesn't look for. So we can't just assume it is in a `packages` dire

[2016-06-01 00:10] zarenner opened #2869 "NuGet list doesn't use v3 credentials for v2 list"
I believe that this bug was fixed in NuGet 3.3 as #1229, but was re-introduced in 3.4 and still exists in the latest nightly.

Repro:
1. Example nuget.config:

[code]
2. Run “nuget list”

Expected behavior: NuGet re-uses the v3 credentials for v2 list
Actual behavior: NuGet prompts “Please provide credentials for: https://<authenticated_feed>/v2/”

Note that the bug does not occur when the credent

[2016-06-01 00:20] ravensorb commented on #2854
One note on the beta build -- the command line parameter for the API key that is used for delete is not working.  I get the following

[code]

[2016-06-01 00:25] rrelyea opened #2870 "Spec, test, and doc servicable metadata in nuspec"
In nuspec file an attribute "like" this:
`<serviceable>true</serviceable>`
...will enable Microsoft Update servicing for Microsoft delivered packages.

1) Lock down metadata spec
2) test to ensure that "nuget pack foo.nuspec" works if the nuspec has this metadata. (test with 3.4.4 and 3.5.0-beta, 3.5.0-beta2)
3) Test to ensure no major problems with NuGet servers if we add this metadata.
4) Consid

[2016-06-01 00:27] ravensorb commented on #2833
I believe the issue is that zip on linux is creating a zip file folder structure that uses / (forward slash) and on windows it is using a \ (backslash) -- visual studio built in zip requires the backslash as I believe that is required for the windows based zip library.

[2016-06-01 00:30] ravensorb opened #2871 "Feature Request: Validate targetFramework string on pack"
It would be extremely helpful if the targetFramework string was validated on pack -- this would prevent a lot of potential errors that right now are only discovered on distribution.

[2016-06-01 00:31] darrencauthon commented on #2833
I'd love to take a look at this, myself. I'm a programmer, too! :smile:

[2016-06-01 00:33] ravensorb opened #2872 "Feature Request: Select multiple packages to be installed in VS add-in"
It would be very helpful if there was a way to select multiple packages and then install them in one or more projects within the solution.

[2016-06-01 00:36] ravensorb opened #2873 "Feature Request: Add tree structr back into project selection in VS Ad-in"
In the VS 2013 nuget package manager it was possible to manage projects based on their folder structure taken from the solution.  This was extremely useful in solutions with a large number of projects.  Please consider bringing this feature back -- either that or provide a way to "filter" the list of projects.

[2016-06-01 02:25] youngdelaney commented on #2866
o really i just pull it yesterday because was causing lot of problem some was using i split drop the issue

[2016-06-01 05:38] Tasteful commented on #2862
@toddm

Pack result with nuget 3.4.3.855 and 3.4.4.870

[code]

This error was fixed in 3.5.0-rc-1365 but then it's as @TimBarham describe about the folders. If I created a packages folder inside the project directory and in that one put the nupkg for the dependency the package was created correctly.

If im using an earlier version of 3.5.0 (https://www.myget.org/feed/nugetbuild/package/nuget/NuGe

[2016-06-01 07:13] mallikharjunaa commented on #2848
Hi Harikrishna Menon,

This dump was collected using process explorer when we were seen continues CPU cycles.

we are seeing the following last error and seeing the NUGet package is trying to execute some script and waiting to complete.

0:000> !gle
LastErrorValue: (Win32) 0 (0) - The operation completed successfully.
LastStatusValue: (NTSTATUS) 0xc000007c - An attempt was made to reference a toke

[2016-06-01 08:14] SlyNet opened #2874 "Package manager console initializing powershell host takes a very long time"
Console takes about 15 minutes to start. Solution contains 22 projects and around 260 packages. Is it too much for nuget to handle? Can console be profiled somehow to understand why is it taking so long to initialize?

Nuget version is 3.4.3

[2016-06-01 09:30] etiago commented on #2863
@harikm86 many thanks for the answer, and my apologies, I didn't know questions should go to SO :smile:

[2016-06-01 11:34] hgran opened #2875 "nuget solution update will only update projects under sln dir"
:>nuget.exe update  -id mypackage mysolution.sln
will only update projects that are located in a subfolder to the solution directory.
I have projects in subdirs to the directories src\A and src\B
The solution is src\B\solution.sln

Update is done in src/NuGet.Clients/NuGet.CommandLine/Commands/UpdateCommand.cs
For solutions the method UpdateAllPackages will get all *.config files below the solutio

[2016-06-01 11:36] bednart opened #2876 "NuGet pack - Missing Newtonsoft.Json package dependency"
Hi,
I have problem with missing Newtonsoft.Json dependency in my own created NuGet package using NuGet.exe 3.4.3
## Steps to reproduce
- Create .NET451 C# ClassLibrary TestPackage project
- Install NuGet package Microsoft.AspNet.WebApi.Client 5.2.3
- These packages are added to packages.config:

`<package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net451" />`
`<package id

[2016-06-01 13:39] kquinbar commented on #2866
ok, i downgraded to v3.3.0 of nuget package manager. i then put my solution back to the way it was where one project was .net 4.5 and the other 4 were .net 4.5.2. now nuget properly returns all packages i would expect to see when i search.

the url that is being called is different though than with 3.4.3. it looks like it is passing in more than one targetFramework, so that must be the change that

[2016-06-01 16:01] harikmenon commented on #2848
I will let Rob follow up on what exactly he would need to troubleshoot this issue.

[2016-06-01 16:31] revlayle opened #2877 "ine nuget cache"

[2016-06-01 16:32] revlayle commented on #2877
sorry, thought i was completely in another window and did not mean to post here

[2016-06-01 16:32] #2877 closed, assigned to nobody

[2016-06-01 16:51] rrelyea opened #2878 "UI delay when updating a NuGet package with XAML file open"
Please investigate fixes for update3 bug # 225323

[2016-06-01 17:02] rohit21agrawal opened #2879 "Update dotnet core and CLI to rc3-24128-00"
Here are the matching shared framework and CLI builds to also consume at the same time:
• CoreCLR/CoreFX/WCF – rc3-24128-00
• Microsoft.NetCore.App – 1.0.0-rc3-004338
• CLI – 1.0.0-preview2-002911

[2016-06-01 17:52] klaykuban opened #2880 "Package Manager Error: Unable to load the service index for source (bad proxy settings)"
![nuget](https://cloud.githubusercontent.com/assets/16945115/15717500/e882546c-27ec-11e6-941f-075e62917028.JPG)

Following error received when searching for packages in the package manager

[nuget.org] Unable to load the service index for source https://api.nuget.org/v3/index.json.
  Invalid URI: Invalid port specified.

[2016-06-01 18:03] #2763 closed, assigned to zhili1208

[2016-06-01 19:43] hesantan commented on #352
I think that just requiring the biggest required size is enough. That image can be downsized to all the other necessary resolutions.

[2016-06-01 20:56] #2862 closed, assigned to toddm

[2016-06-01 21:58] rohit21agrawal commented on #2879
Merged https://github.com/NuGet/NuGet.Client/commit/8b9195571619f4e1c7fe3df2198c7d4cda8dde11

[2016-06-01 21:58] #2879 closed, assigned to rohit21agrawal

[2016-06-01 22:04] rohit21agrawal opened #2881 "Disable parallelization of functional tests in Nuget.Xplat.Func.Tests"
After upgrading cli to rc3-24128-00 , a functional test in linux (NuGet.Core was failing due to parallel execution of functional tests :
Test collection for NuGet.XPlat.FuncTest.XPlatRestoreTests (1): NuGet.XPlat.FuncTest (1)
XPlatRestoreTests.RestoreFromServerSucceeds(sourceUri: "http://klondikeserver:8081/api/odata", configInDifferentDirectory: False)

[2016-06-01 22:05] rohit21agrawal commented on #2881
Fixed as part of https://github.com/NuGet/NuGet.Client/commit/8b9195571619f4e1c7fe3df2198c7d4cda8dde11 for https://github.com/NuGet/Home/issues/2879

[2016-06-01 22:05] #2881 closed, assigned to rohit21agrawal

[2016-06-01 22:41] toddm commented on #2862
This is fixed in Dev, and going into 3.5.0 beta 2.

[2016-06-02 07:07] javiercn opened #2882 "Use casing from the package id when building project.lock.json"
When a project.lock.json gets generated, the package identifiers use the casing defined in project.json. For example Microsoft.ASPNETCORE.Mvc. This causes problems through all our stack as every component, like the CLI or similar, needs to handle the ids in a case insensitive way.

While I understand that Nuget package ids are case insensitive and that every component should handle these ids in a

[2016-06-02 08:22] MadJlzz commented on #2864
Thanks for your answers.
I just founded a dirty workaround for now so I'll just go with that.

[2016-06-02 15:58] bnayae opened #2883 "Changing the NuGetpath to global location"
When changing the NuGet cache to global location i.e. %appdata%\NuGet\NuGet.Config
some NuGet's packages keep the path to the Cache directory within the project i.e .csproj file
for example: Microsoft.Diagnostics.Tracing.TraceEvent keeping the following information
 `<Import Project="..\packages\Microsoft.Diagnostics.Tracing.TraceEvent.1.0.41\build\Microsoft.Diagnostics.Tracing.TraceEvent.targets"

[2016-06-02 16:36] mgmoody42 commented on #1474
This has reappeared in a different version (3.4.3 is the currently installed, but bug was present in preceeding 1-2 versions).

Symptoms include:
1. I cannot browse package library from 'Manage Nuget packages' from project or solution
2. I do get indication of package updates and can apply them
3. I cannot browse package library from Nuget console with Find-Package
4. I can install packages from N

[2016-06-02 16:42] yishaigalatzer commented on #1474
@mgmoody42 can you give us more details? What sources are you using (share your nuget.config if you can), tell us about your network configuration (do you have a proxy of firewall). Do you have a private server you are trying to reach out to?

[2016-06-02 16:42] yishaigalatzer commented on #1474
CC @rrelyea

[2016-06-02 16:44] schellap commented on #2556
@anurse, could you pls re-open this and let @rrelyea or @yishaigalatzer triage to the right dev? I don't have permissions to open bugs in the repo.

[2016-06-02 16:53] hvanbakel opened #2884 "PackageIdValidator in Nuget.Core does not support replacement tokens"
This file:
https://github.com/NuGet/NuGet2/blob/424ba7da02088245700b703f990aa2882dc201fe/src/Core/Utility/PackageIdValidator.cs

Does not support the replacement tokens documented here:
https://docs.nuget.org/create/nuspec-reference#replacement-tokens

As a result reading a nuspec that has this:

[code]

Causes an exception:

Because of this exception the manifest cannot be read.

[2016-06-02 17:01] mgmoody42 commented on #1474
I know we use Bluecoat. It seems to be blocking https://api-v3search-0.nuget.org/query?q=&skip=0&take=26&prerelease=false&supportedFramework=.NETFramework,Version=v4.5.2
but I can browse the URI without issue and receive the json payload.
The config file is the standard issue, nothing changed there.

[NuGet.Config.txt](https://github.com/NuGet/Home/files/296104/NuGet.Config.txt)

[2016-06-02 18:13] rrelyea commented on #2870
Rohit already found that Nuget.exe pack validates and errors due to this unknown metadata. Considering taking a 3.5.0-beta2 fix to change the schema to allow it.

[2016-06-02 18:16] mgmoody42 commented on #1474
Additionally, I get the same result if I run VS2015 as administrator.

[2016-06-02 18:47] zarenner opened #2885 "Credential plugin exited with error -1 / error downloading package when using credential providers with multiple sources"
I believe there's a bug with how exceptions are not handled after a credential provider invocation is cancelled, because the package was already successfully fetched from another package source. This results in an error that indicates the credential provider returned -1 (which it did because it was intentionally terminated by nuget).

I've reproed this in NuGet >=3.4, including latest nightly.

I

[2016-06-02 18:49] #2884 closed, assigned to nobody

[2016-06-02 18:49] hvanbakel commented on #2884
This issue only occurs when you do not specify a `IPropertyProvider` when you do it gets preprocessed correctly.

[2016-06-02 18:55] rrelyea commented on #2832
3.4.4 NuGet.exe bits to try are here: https://dist.nuget.org/win-x86-commandline/v3.4.4/NuGet.exe
Can you please try?

[2016-06-02 18:55] jcshalom opened #2886 "Add option to suppress automatically adding project output to package"
When I use a VS project to just produce artifacts of a tools-only package, I do not want the project to automatically inject the project output into the lib folder. I'm basically just using the project as both a creator of some tools artifact and as a trigger to execute my .nuspec that defines the exact contents of the package. This would be enabled if I had a way to suppress nuget pack from auto

[2016-06-02 19:15] alpaix opened #2887 "dotnet restore does not prompt for user input when authenticating"
### The Problem

When using a Nuget repository that requires authentication, dotnet restore fails with a 401 Unauthorized unless the password is provided in cleartext in the Nuget config file.

However, having cleartext passwords in the config file isn't great, and with the original (non-dotnet) workflow, if there were no passwords in the config file, "nuget restore" on the command line would prom

[2016-06-02 19:16] ericstj opened #2888 "NuGet update through package manager removes properties from the project.json"
@vancem noticed this when trying to upgrade a project.

This is happening for both `"type": "platform"` and `"exclude": "compile"`.  The latter is definitely bug and something that should be fixed.  Package manager should preserve the dependency shape (properties vs not) in the project.json.

The former is a different question (NuGet from updating the shared framework) which I'll leave out of this

[2016-06-02 19:19] alpaix commented on #2887
Reported in https://github.com/dotnet/cli/issues/3097.

Currently NuGet XPlat doesn't support interactive scenario. Need to verify what was the issue blocking it.

[2016-06-02 19:30] rchande opened #2889 "Project.json dependency resolver algorithm doesn't support dependency inversion"
1. File > New project > Empty ASP.NET Core Web Application > Empty template
2. Add PCL targeting .NET Framework 4.6 and ASP.NET Core 1.0
3. Add reference from the web app to PCL
4. Build solution

Expected: build and restore succeed
Actual: Restore fails with:

[code]

[2016-06-02 19:31] rchande commented on #2889
(Opened from DevDiv internal 225078)

[2016-06-02 19:42] alpaix commented on #1474
@mgmoody42 Do you see any error message in output window? Can you share a screenshot of the package manager UI window displaying the error?

[2016-06-02 19:55] joelverhagen commented on #2885
Spoke to Zach offline. He has tried 3.4.3 as well as a recent dev build from MyGet. 3.3.0 does not demonstrate the issue. I am working on reproducing it on my end.

[2016-06-02 20:13] MichaelKetting commented on #2300
I've just got hit by this, too, while trying to get a pacakge ready for .NET Core. Is this issue up for grabs?

[2016-06-02 20:38] rrelyea commented on #2888
Are you using 3.5-beta of vsix?

[2016-06-02 21:40] ericstj commented on #2888
No, was using 3.4.3.

[2016-06-02 21:42] toddm commented on #2300
Can you describe the issue you're hitting? Packing a csproj file right now can only target one framework because that's what MSBuild supports at the moment. If you've built for multiple frameworks before packing, you could change your nuspec to include all of the needed files and then pack the nuspec directly instead of the project file (pass the nuspec file in as the argument to pack instead of t

[2016-06-02 22:15] joelverhagen commented on #2885
Moved to 3.4.5, after talking to @rrelyea.

[2016-06-02 22:25] toddm commented on #2886
Can you tell us more about what you're doing?  Are you packing by passing in a nuspec file or a csproj file?  If you're passing in a nuspec file and you don't want it to pick up other files, you can add an empty <files /> tag outside of <metadata> in the nuspec file.  That will make it so that pack doesn't include any extra files other than what is specified.
Is that the issue, or is it something

[2016-06-02 22:33] rohit21agrawal commented on #2870
@rrelyea  @ericstj
I am currently testing my prototype ( https://github.com/NuGet/NuGet.Client/commit/f81b1b19cee8e1612632afb52fde303e6c134b25 ) which works with < serviceable > attribute on a nuspec file.

I have done the following validation so far:
1) nuget pack foo.nuspec works as expected with the new bits.
2) older clients (tested nuget 3.4.4 so far) are able to restore/list/install/update p

[2016-06-02 22:57] rohit21agrawal opened #2890 "Replace Microsoft.Extensions.PlatformAbstractions with System.Runtime.InteropServices.RuntimeInformation"
Pending task as part of updating the CLI.

System.Runtime.InteropServices.RuntimeInformation : 4.0.0-rc3-23826

[2016-06-02 23:24] rrelyea opened #2891 "Nuget v3 restore issues"
@ericstj said If I look at the dat file, the bottom has
`<link rel="next" href="https://dotnet.myget.org/F/dotnet-core/FindPackagesById?id='runtime.ubuntu.14.04-x64.Microsoft.NETCore.ConsoleHost'&amp;$skiptoken='runtime.ubuntu.14.04-x64.Microsoft.NETCore.ConsoleHost','1.0.0-rc3-23720'" />
`
Now if I unescape that string and type it into the browser I get a new payload with
`<link rel="next" href="

[2016-06-02 23:24] rrelyea commented on #2891
we'd consider this fix for 3.4.5 and/or 3.5-beta2 if timeframes match.

[2016-06-03 01:08] v-lawu opened #2892 "Cannot install NuGet in Dev and release-3.5.0-beta2 branch."
NuGet version:
dev branch, build number: 1403, 1400, 1395, 1391, 1388, 1387, 1385,1384, 1365
release-3.5.0-beta2 branch, build number: 1399, 1394, 1392, 1390, 1386, 1383, 1381
not repro in other branch and build number.

Repro steps:
Install NuGet in dev and release-3.5.0-beta2 branch meet error.
![install](https://cloud.githubusercontent.com/assets/12129698/15765742/9b2b2fa2-296a-11e6-9e1a-0cb434

[2016-06-03 03:10] harikmenon opened #2893 "Data Analysis Requests"
1) NuGet Servers in the wild
2) How many users for the IB packages. How did it grow to 1Billion?
3) How many users are packages.config vs project.json?

[2016-06-03 03:14] harikmenon opened #2894 "Explain differences with CLI and nuget.exe"
Docs are required for this.

[2016-06-03 03:45] harikmenon commented on #2762
We took an inventory of all the feedback sources our team is monitoring, we have over 10 at this time. Given the capacity of the team, adding one more high volume source might stretch us quite a bit.

So, we want to hold off for a bit until we can get better tools or process in place to either consolidate or eliminate some of these :(. I know this is probably not he answer you are looking for at t

[2016-06-03 06:42] MichaelKetting commented on #2300
Hi Todd!
Certainly, but I'll have to elaborate a bit:
I'm developing a framework split into several solutions, with the dependencies between the solutions solved via NuGet packages. At this point it's 7 solutions (I think) and 50+ projects that result in NuGet packages, but those numbers are ever growing. To keep things sane, I have a (very elaborate) build script which I have also packed as a NuG

[2016-06-03 07:18] MichaelKetting opened #2895 "Support for linked content files"
I'd like to propose an extension to the content file feature introduced in NuGet v3.3.
http://blog.nuget.org/20160126/nuget-contentFiles-demystified.html

**Linked Content Files**

Right now, the content files are copied into project's source tree from the nuget package. This generates a lot of noise in the VCS when updating a nuget package, or, if the content files are bigger, e.g. a chm file or

[2016-06-03 09:43] maartenba opened #2896 "Package autocomlete do not work for local repository or "nuget/package-ids?partialId" returns 404"
_From @Kamarey on May 17, 2016 8:48_

When using Package Manager Console, say Install-Package, and than pressing tab, autocomplete of available packages stopped to work **for my local package repository only** .
In Fiddler I see this request, which returns 404:
http://localhost/NuGetServer/nuget/package-ids?partialId=&includePrerelease=False
(while http://localhost/NuGetServer/nuget works)

I trie

[2016-06-03 09:43] maartenba commented on #2896
The autocomplete endpoint is not available in NuGet.Server. @rrelyea I guess this fallback to perform autocomplete is not in the VS2015 client?

[2016-06-03 09:43] maartenba commented on #2896
_From @Kamarey on May 23, 2016 5:52_

I understand this is a bug in client of VS 2015. Right?

[2016-06-03 14:26] daveaglick opened #2897 "Excluding specific referenced projects when using IncludeReferencedProjects"
Assume I have a solution that looks like:

[code]

If I'm packing `Project A`, I can currently include a NuGet reference to `Project B` and `Project C` in one of two ways:
- I can add the dependencies explicitly in the nuspec. This isn't very good because if I add `Project D` to the solution later and add a reference to it in `Project A` I'll have to remember to update the nuspec as well. There's

[2016-06-03 15:38] drewgillies opened #2898 "Some Dev14 unit tests fail when VS Dev15 also installed on machine"
When both VS 2015 and VS 15 are present on the machine, the following fail in a Dev14 (i.e. -SkipDev15) build/test:
NetworkCallCount_RestoreSolutionMultipleSourcesTwoV3
PackCommand_ReferencedProjectWithDifferentTarget
PushCommand_InvalidInput_V2HttpSource
PushCommand_PushToServer_WhenPluginTimesOut_ThrowsAndDoesNotFallBackToConsoleProvider

[2016-06-03 16:05] rrelyea commented on #2832
We believe this has been addressed in the now released 3.4.4. If we are mistaken, please reactivate.

[2016-06-03 16:05] #2832 closed, assigned to toddm

[2016-06-03 16:13] rrelyea commented on #2892
@alpaix - is this what you are already addressing? If not, let's figure out who should run with it asap.

[2016-06-03 16:15] rrelyea commented on #2888
@vancem / @ericstj  - Can you please add repro steps and details?
Would be great to understand if 3.5-beta of the VSIX shows the same problem, too. That is the VSIX one should be using when doing netcore work.

[2016-06-03 16:19] rrelyea commented on #2839
@alpaix - let's discuss  today. I lean towards getting this in 3.4.5, but want to understand risk/scope of change.

[2016-06-03 16:19] rrelyea commented on #2798
Missing 3.4.5 as we haven't been able to repro.

[2016-06-03 16:21] rrelyea commented on #2745
let's discuss relative priorities. would love to see this catch the 3.4.5 release, but depends on your other work, etc...

[2016-06-03 16:21] rrelyea commented on #2617
@zhili1208 - can you please port this change to 3.4.5 today?

[2016-06-03 16:23] rrelyea commented on #2514
My guess is that your current batch work may address this. However, you likely need to be able to support batch at one level higher. let's chat.

[2016-06-03 16:25] rrelyea commented on #1474
@mgmoody42  - can you capture http traces via fiddler and give to us?

[2016-06-03 16:38] yishaigalatzer commented on #1474
Please show both traces from 2013 and 2015. If you are concerned with privacy send them to support@nuget.org

[2016-06-03 16:41] rrelyea commented on #2779
@TimBarham - can you please update this issue as appropriate?
was it fixed in dev? partially?
Changing to 3.5 rc

[2016-06-03 16:59] jainaashish commented on #2891
It was a server side cache issue, which has been fixed by Maarten. Also verified at client side, it's working good across nuget client versions. Below is the email communication snapshot:

From: Maarten Balliauw
Subject: RE: Nuget v3 restore issues

Seems there was a faulty server-side affinity cache at play, which resulted in having a different output cached from different web nodes. Which in tur

[2016-06-03 16:59] jainaashish commented on #2891
So no fix required from client side. closing this issue.

[2016-06-03 17:06] rrelyea commented on #1909
@jainaashish has a PR for this issue: https://github.com/NuGet/NuGet.Client/pull/493

[2016-06-03 17:09] rrelyea commented on #1373
Please port to 3.4.5.

[2016-06-03 17:09] rrelyea commented on #1909
Please port to 3.4.5

[2016-06-03 17:31] jainaashish commented on #2891
reactivating the issue, although it was server side fix, but client should still handle it gracefully instead of going into infinite loop and eventually throwing outofmemory

[2016-06-03 17:35] zhili1208 commented on #2617
https://github.com/NuGet/NuGet.Client/commit/a9372618cda2c0a6c9e01fec8990fecce4246300 ported this change to 3.4.5

[2016-06-03 17:35] #2617 closed, assigned to zhili1208

[2016-06-03 17:42] rrelyea commented on #2878
please close after you cherry pick into 3.4.5.

[2016-06-03 18:38] rrelyea commented on #2889
balance if needed to people w/o 3.4.5 /3.5b2 issues.

[2016-06-03 19:08] rrelyea opened #2899 "Support for fallback package folders"
Design https://github.com/NuGet/Home/wiki/%5BSpec%5D-Fallback-package-folders

[2016-06-03 20:53] rrelyea opened #2900 "dotnet pack needs to be able to set serviceable in output .nuspec"
@rohit21agrawal has added support to nuget pack for this (https://github.com/NuGet/Home/issues/2870)
we need a -serviceable (or similar) command line arg in dotnet pack (to be used by internal folks only)

[2016-06-03 21:10] zhili1208 commented on #2850
@skofman1 just checked with 3.5 beta,  detailed error message shows
Example:
 Response status code does not indicate success: 409 ( A package with id 'test' and version '1.0.0' already exists and cannot be modified.)

[2016-06-03 21:51] pranavkm commented on #2178
Sorry, getting back to this - I don't see the endpoint listed on http://api.nuget.org/v3/index.json. (I thought it was the search service but that one's different).

[2016-06-03 21:54] jainaashish commented on #2853
Since this bug was introduced because of the fix for https://github.com/NuGet/Home/issues/1909 hence backporting this as well to 3.4.5

[2016-06-03 21:54] jainaashish commented on #1909
Merged with 197a9394e7f11d4e557533cf21a20d7c673f92a9

[2016-06-03 21:54] #1909 closed, assigned to jainaashish

[2016-06-03 21:55] jainaashish commented on #2853
Merged with 6acac0ab41bd87a6460990a17fd090e459e5ceec

[2016-06-03 21:55] #2853 closed, assigned to jainaashish

[2016-06-03 21:55] jainaashish commented on #1373
Merged with 5c85723fb07d28a7a305d93869e23013d72a2bd0

[2016-06-03 21:55] #1373 closed, assigned to jainaashish

[2016-06-03 21:57] maartenba commented on #2178
Best to use the V2 search for now (or `SearchGalleryQueryService` from the above document but that is an internal endpoint)

[2016-06-03 22:30] vancem commented on #2888
I happen to reproduce it from VS 2015 (update 2)    To repo there

Create a new  project

File -> New Project -> Visual C# -> .Windows -> .NET Core Console Application (.NET COre)

You get a new project with a  project.json which has type property in dependencies

  "dependencies": {
    "Microsoft.NETCore.App": {
      "type": "platform",
      "version": "1.0.0-rc2-3002702"
    }

Then I wanted

[2016-06-03 22:36] pranavkm commented on #2178
V2 Search doesn't have the field. What's `SearchGalleryQueryService`?

[2016-06-03 22:37] blackdwarf opened #2901 "Restore is case sensitive in weird ways"
When restoring projects that have P2P references and a meta-package that is of a wrong case, weird errors crop up during restore. The cause is that the library has a wrong case of the metapackage for `NETStandard.Library` (`NetStandard.Library`).
## Repro

[code]
## Expected result

Restore succeeds.
## Actual result

Restore fails with a lot of errors like the following:

[code]

/cc @yishaigalat

[2016-06-03 22:39] joelverhagen commented on #2885
Fixed with https://github.com/NuGet/NuGet.Client/pull/640. Merged into `dev` and `release-3.4.5` branches.

[2016-06-03 22:39] yishaigalatzer commented on #2901
CC @joelverhagen  should this be fixed by lowercase paths feature you are working on?

[2016-06-03 22:42] rrelyea commented on #2888
let's investigate with 3.5-beta2 - does it still repro? and investigate issue/fix.

[2016-06-03 22:52] zhili1208 commented on #2888
Yes, it repros with 3.5-beta

[2016-06-03 23:56] alpaix commented on #2839
Fixed in 3.4.5 with https://github.com/NuGet/NuGet.Client/commit/76bb5532e05664e4a03b97ef6fe84a0627efe325.

[2016-06-03 23:56] #2839 closed, assigned to alpaix

[2016-06-03 23:59] alpaix commented on #2892
The issue was caused by a bug in VSIX signing script trying to update a manifest with a build number.
I fixed the `CleaningAndSigningVsix.ps1` script in our TFS repo.
Validated the issue was fixed in
dev - build 1420
beta2 - build 1425

[2016-06-03 23:59] #2892 closed, assigned to alpaix

[2016-06-04 00:08] drewgillies commented on #2514
Looks like this is more than fixed by https://github.com/NuGet/NuGet.Client/commit/3b6f15a17a681dd4c5acc36fe5db2b13d9b058e0 -- I've seen roughly an 80% drop in time to restore Roslyn within VS.

[2016-06-04 00:09] rrelyea commented on #2514
Awesome!

[2016-06-04 00:11] drewgillies commented on #2514
Will keep this open until I successfully cherry-pick the change across to release-3.4.5

[2016-06-04 00:34] drewgillies opened #2902 "Project package manager UI crashing VS in Dev15"
In Dev15, open the package manager UI by right-clicking a project. The upper right pane is the solution-level view, not the project-level view. It is unpopulated. Clicking an install button crashes VS. Primary examination shows that the view is solution level, but the view model is project level. The other is presumed and a type cast exception goes uncaught.
![image](https://cloud.githubuserconten

[2016-06-04 00:35] drewgillies commented on #2902
@rohit21agrawal - assigning to you as discussed. Thanks.

[2016-06-04 00:41] joelverhagen commented on #2901
I've reproduced this even with my case insensitive changes (which mostly focused on the file system). I've also trimmed down the repro to a minimal graph, as it seems to be a restore graph issue:
[simple.zip](https://github.com/NuGet/Home/files/298602/simple.zip)

[2016-06-04 00:45] drewgillies opened #2903 "Add batch VS project event processing to packages.config projects"
This was added for project.json projects in https://github.com/NuGet/NuGet.Client/commit/3b6f15a17a681dd4c5acc36fe5db2b13d9b058e0, increasing VS restore/install/update perf considerably. Currently it exists in MS build projects for AddFiles() and DeleteFiles() scenarios. Investigate and implement for package reference addition.

[2016-06-04 00:45] drewgillies commented on #2903
@rrelyea Added as discussed.

[2016-06-04 05:09] Malvineous commented on #2832
Many thanks - just confirming I have tested with 3.4.4 and the problem is indeed resolved.

[2016-06-04 07:53] maartenba commented on #2178
The API that powers v2 search.

[2016-06-04 10:31] ravensorb commented on #1179
+1 for going back to the VS 2013 UI -- it was MUCH better than the current one

[2016-06-04 11:05] ravensorb opened #2905 "Need a way to test installation of packages via command line"
As we move to more and more automated testing in our build environments it is becoming more and more important to be able to script everything. To that end, it would be ideal if there was a way to actually test the installation of a nuget package into a solution or a project file view the command line.

Scenario: I would like to create a nuget package that is designed to work in Windows 10, PCL, X

[2016-06-04 16:22] mleader1 opened #2906 "r"

[2016-06-04 16:22] #2906 closed, assigned to nobody

[2016-06-05 07:26] Malvineous commented on #1291
Just came across this with NuGet 3.4.4.  Trying to update native NuGet packages in a C++ build that has nothing to do with .NET results in:

[code]

Performing the update through Visual Studio works, just not via the command line, so it can't happen automatically on the build server.

The irony is that when people ask how to get NuGet package restore to update packages to the latest version the an

[2016-06-05 18:56] wmeints opened #2907 "Nuget.exe currently doesn't install Packages on Mono 4.2.3"
When I try to invoke `mono nuget.exe install <package>` on my Mac I get back an error telling me that it couldn't find a method. The exact message is:

[code]

My mono version output is:

[code]

Gives me the feeling that nuget.exe currently doesn't work on mono.
Any idea if I'm doing something wrong here?

[2016-06-05 23:57] yishaigalatzer commented on #2905
You will have to script visual studio to do that. Look at our functional test projects, they go through similar steps.

It is currently quite impossible to do this through commandline only without visual studio

[2016-06-06 05:29] v-lawu opened #2908 "Error Installing Newtonsoft.Json 9.0.1-beta1 package on 3.4.4+"
Nuget version: 3.4.4.1321(Release-3.4.4), 3.4.5.1429(Release-3.4.5)
Not repro in Dev branch

Repro steps:
1.Create Class Library(Portable) project.
2.Open NuGet UI, select Newtonsoft.Json package and click Install.

Expected:Install Successful.
Actually:Install meet error.

![capture](https://cloud.githubusercontent.com/assets/12129698/15811063/5aabef60-2bd7-11e6-8061-bc6fd63d859f.PNG)

Updated in

[2016-06-06 11:30] SoonDead commented on #2532
Issue still exists in 3.4.4. Let me show an output of an update:

[code]

It is not possible to determine the cause of the issue by that error. Is there any way to get more descriptive errors?
Update works properly with NuGet 3.3

[2016-06-06 11:57] SoonDead commented on #2532
Here is the raw response from the last request `GET /NuGet/FeedService.mvc/FindPackagesById()?id='W4F.Localization' HTTP/1.1` (captured by fiddler):

[code]

[2016-06-06 12:51] xavierdecoster opened #2909 "Support credential provider public extensibility in Visual Studio"
Credential provider extensibility: custom MEF exports are not picked up by NuGet VSIX

The [`VsCredentialProviderImporter`](https://github.com/NuGet/NuGet.Client/blob/d74b04c1bdd3a6bb14b0ba6edd319e9c839c6eae/src/NuGet.Clients/VsExtension/VsCredentialProviderImporter.cs#L17) does not resolve all available MEF exports, and only imports the hardcoded VisualStudioAccountProvider ([here](https://github

[2016-06-06 14:26] maartenba opened #2910 "NuGet.exe push 403 handling - Incorrectly prompting for credentials"
NuGet.exe is incorrectly prompting for credentials on push that results in 403 Unauthorized. I tested this against local gallery but verified it has the same behaviour against NuGet.org.
## Repro steps
- Push a package using a non-existing API key (so that authentication will fail)
  `NuGet.exe push <package> <random-guid-api-key> -Source https://www.nuget.org/api/v2/package`
## Expected

NuGet.ex

[2016-06-06 14:53] joelverhagen commented on #2889
Here's a simplied repro: [simple.zip](https://github.com/NuGet/Home/files/300661/simple.zip).

This is what the graph looks like that is causing the problem:

[code]

Need to learn more before I can debug this.

[2016-06-06 14:58] joelverhagen commented on #2910
We intentionally added prompting on 403. The reasoning was that if the server is returned 403, the user should be given a chance to enter different credentials. 403 generally means the server is saying "okay, I know who you are but you don't have permissions to access that resource". Therefore, a different set of credentials from the user could be used.

See PRs:
https://github.com/NuGet/NuGet.Cli

[2016-06-06 15:03] yishaigalatzer commented on #2909
@xavierdecoster this is currently by design. We could look at changing this in a future release.

[2016-06-06 15:21] maartenba commented on #2910
That is somewhat annoying, for two reasons even 😄
1. NuGet.org does not do basic auth. This means the username/password entered will never be considered valid during this flow (which you can see in the "after 3 failed attempts" where I did enter valid username/password).
2. If we decide to expire API keys, say in 90 days, I expect lots of build around the world waiting for input (and thus hanging)

[2016-06-06 15:59] tebeco commented on #2393
So this issue is still opened ?

[2016-06-06 16:08] rrelyea commented on #2880
What version of NuGet are you using in VS?
can you please send a fiddler trace to support@nuget.org

This is likely a bad proxy, or an older version of NuGet?

[2016-06-06 16:10] joelverhagen opened #2911 "Expose package compatibility as a public API for consumption in CLI"
Expose an API in NuGet so CLI can solve this issue:
https://github.com/dotnet/cli/issues/3396

Something on `CompatibilityChecker.cs` probably. The code in CLI that is replicating this logic is here:
https://github.com/dotnet/cli/blob/rel/1.0.0/src/Microsoft.DotNet.ProjectModel/Resolution/PackageDependencyProvider.cs#L35-L38

[2016-06-06 16:12] joelverhagen commented on #2910
Yup seems reasonable. I think we have two options (spoke offline with @rrelyea and @yishaigalatzer):
1. Only prompt for 403 if the user has gotten 401 (or provided credentials of some kind) already for this source.
2. Only prompt for 403 if an API key has NOT been provided. This will take some plumbing.

[2016-06-06 16:12] yishaigalatzer commented on #2905
The work here - Find the sample we have for this scenario and document it. Perhaps open an SO item and post it there for more visibility

[2016-06-06 16:16] emgarten commented on #2514
That sounds like a great perf improvement. From my traces I saw downloads taking longer in 3.4.0 than 3.3.0, I think there is still an issue there. The largest change in that area was to add support for download timeouts which works by starting multiple tasks for each chunk of the download. A local server will be needed to fully verify the download perf, I wasn't able to get consistent results fro

[2016-06-06 16:18] maartenba commented on #2910
2 seems sleekest imo, but 1 may work as well.

[2016-06-06 16:27] klaykuban commented on #2880
NuGet package Manager v 3.4.4.1321

How can I find the fiddler trace? I'm fairly new to visual studio and such.

[2016-06-06 16:39] joelverhagen commented on #2910
Time permitting, we will try to pull this in for 3.4.5.

[2016-06-06 16:43] rohit21agrawal commented on #2870
Merged release-3.5.0-beta2 : https://github.com/NuGet/NuGet.Client/commit/2521e6b13d79467b13dcc8e54ce45e8886b9e6e8
dev : https://github.com/NuGet/NuGet.Client/commit/be8f0ee13619e657779a6094fe060307d5f28b00

[2016-06-06 16:43] #2870 closed, assigned to rohit21agrawal

[2016-06-06 17:04] jcshalom commented on #2886
I’m passing a project file, not a .nuspec, and it automatically includes the project output when I do this. I figured out how to work around it using the .nuspec directly in a build step following the compile.

Thanks!
- Karl

From: Todd Moscinski [mailto:notifications@github.com]
Sent: Thursday, June 2, 2016 3:26 PM
To: NuGet/Home Home@noreply.github.com
Cc: Karl Reese Karl.Reese@microsoft.com; A

[2016-06-06 17:06] joelverhagen commented on #2889
This produces an equivalent error, for the sake of this issue:

[code]

[2016-06-06 17:37] #2850 closed, assigned to zhili1208

[2016-06-06 18:02] rrelyea commented on #2888
This appears to be a ASPNET Tooling issue. As noted by Zhi above, we've opened an issue on them.

[2016-06-06 18:02] #2888 closed, assigned to zhili1208

[2016-06-06 18:21] joelverhagen commented on #2889
Doesn't seem to be related to prerelease vs non-prerelease:

[code]

Note that our patience loop is being exhausted which means the our code thinks the dependency requirements are unsolvable.

[2016-06-06 18:28] zhili1208 commented on #2908
@v-lawu What's the portable target framework? Newtonsoft.json is not compatible with DNXCore 5.0

[2016-06-06 19:30] rrelyea commented on #2782
@ericstj - after talking with @emgarten, we are leaning towards: "nativeassets".
We also discussed that /runtimes/{rid}/native/ would be treated as the "any" folder that we discussed on Friday.
Make sense?

[2016-06-06 19:38] rrelyea commented on #1474
@mgmoody42  - we are moving to a later release because we don't have anything actionable yet. please let us know when you can follow up on the fiddler traces. we'd love to get to the bottom of this.

[2016-06-06 19:38] NTaylorMullen opened #2912 "Enable installation of packages with type build or platform."
The scenarios listed are under the assumption that [this issue](https://github.com/NuGet/Home/issues/2476) has been completed and the following RazorTooling [issue](https://github.com/aspnet/RazorTooling/issues/80) has been completed.
## Scenario 1

User wants to install Razor tooling into their project (or ef, or scaffolding).
1. They install `Microsoft.AspNetCore.Razor.Tools`. It installs as a `

[2016-06-06 19:39] rrelyea commented on #2903
Let's work on this fix...and measure improvement / risk.
Would love to be able to fit into 3.4.5 if reward / risk ratio is good.

[2016-06-06 19:50] cesarsouza commented on #2504
What about symbol packages? How do I specify to where they should be uploaded? Which source should I use?

[2016-06-06 19:54] joelverhagen commented on #2889
From the `23409` build of .NET Core packages to `23516`, one dependency changed from:

[code]

to:

[code]

Our resolver is not smart enough to handle this change. The workaround is to explicitly depend on the newer version of one of the packages. For example, in the original repro steps above, add the following dependency in the project.json of the web project (which uses the 24027 build of .NET

[2016-06-06 19:54] joelverhagen commented on #2889
/cc @ericstj: was it know that changing to `Platforms => Targets` would cause this problem?

[2016-06-06 20:04] tkopacz commented on #2868
Hello,
I have the same problem - I can run test from command line - but not from VS 2015 Update 2. Clear Windows installation etc.

Dependency '"test-runtime": {
  "target": "project",
  "exclude": "compile"
}' has invalid version specification.
------ Load Playlist started ------
========== Load Playlist finished (0:00:00) ==========
------ Discover test started ------
Dependency '"test-runtime":

[2016-06-06 20:31] #2901 closed, assigned to joelverhagen

[2016-06-06 20:54] RandomEngy opened #2913 "Spurious error - "Could not locate packages.config" for projects with project.json"
I've got some UAP projects that are correctly using the project.json, yet I'm still getting build errors saying

Everything builds and runs fine, however. Using NuGet package manager 3.4.0.798 on VS 2015 Update 2.

There's a [StackOverflow question about it](http://stackoverflow.com/questions/35487496/build-error-for-uwp-app-microsoft-bcl-build-and-packages-config-next-to-the-proj). They suggest c

[2016-06-06 21:04] ericstj commented on #2889
Have you tried the latest packages? We no longer have that dependency (Platforms > Targets).  It now more closely represents what we had at RTM.

That said I think NuGet should allow for this sort of dependency inversion.  There is certainly a NuGet flaw here but you may be able to postpone the fix since we won't hit it at RTM.

[2016-06-06 21:24] joelverhagen commented on #2889
I verified `Microsoft.NETCore.App` version `>= 1.0.0-rc3-002851`. This also solves the issue.

[2016-06-06 21:36] rohit21agrawal commented on #2855
Closing as test team not able to repro issue after initial report.

[2016-06-06 21:36] #2855 closed, assigned to rohit21agrawal

[2016-06-06 21:59] jainaashish commented on #2865
This works fine in VS or through msbuild but not with dotnet restore which is as designed as of now.

@sayedihashimi dotnet restore works only with xproj in current design and will need framework changes to support csproj.

[2016-06-06 22:16] rrelyea commented on #2913
Are you still seeing this problem with NuGet package manager 3.4.4 which released last week?

[2016-06-06 22:19] harikmenon commented on #2504
The same -Source parameter

[2016-06-06 22:23] drewgillies commented on #2878
https://github.com/NuGet/NuGet.Client/commit/d05cddb219921b5e5fe73490f93c9d357779af4b

Cherry-picked into release-3.4.5. Closing.

[2016-06-06 22:26] drewgillies commented on #2514
https://github.com/NuGet/NuGet.Client/commit/d05cddb219921b5e5fe73490f93c9d357779af4b
Cherry-picked into release-3.4.5. Closing.
The chunking work sounds good--perhaps we can track this in a non-3.4.5 issue as lower-pri.

[2016-06-06 22:38] rrelyea commented on #2783
You said that you filed an MsBuild bug. Please update the info in this issue...

[2016-06-06 22:46] rrelyea commented on #1215
@zhili1208  noticed that several of the repros were with VS2015 Pro. Perhaps that is something to try, repro wise.

[2016-06-06 23:02] zhili1208 commented on #2783
https://github.com/Microsoft/msbuild/issues/626

[2016-06-06 23:11] #2882 closed, assigned to joelverhagen

[2016-06-06 23:22] javiercn commented on #2882
Nice! Thanks @joelverhagen

[2016-06-06 23:28] #2890 closed, assigned to rohit21agrawal

[2016-06-06 23:28] RandomEngy commented on #2913
Yes it still happens with 3.4.4.1321 .

[2016-06-07 00:31] harikmenon commented on #2504
When you are using the -Source parameter when you push a package and its symbols at the same time, then it gets pushed to http://nuget.smbrc.net. More information is given here https://docs.nuget.org/create/creating-and-publishing-a-symbol-package

[2016-06-07 00:40] rrelyea commented on #2386
@drewgil - you've addressed this already, right?

[2016-06-07 00:42] jainaashish commented on #2903
I tried this today by adding batch processing start/end for install/uninstall packages in ms build projects and it did improve the overall performance by ~25% which isn't that significant compare to build integrated projects but still a decent improvement.
I will discuss it little more for improvement / risk ratio and then raise a PR.

[2016-06-07 00:43] rrelyea commented on #2354
@zhili1208 , @simonejsing - sounds like this issue should be closed, right?

[2016-06-07 01:01] v-lawu commented on #2908
Create Portable Class Library project, select .NET Framework 4.6.1
check checkbox of Targets: .NET Framework 4.6, Windows Universal 10.0 and ASP.NET Core 1.0

[2016-06-07 05:32] sravan1022 commented on #2868
For my task, i don't need to run those test sources, so i unloaded them and successfully built my sqlClient sources. But with those, i am getting the errors as i mentioned above.
@joperezr Yeah i ran the init-tools.cmd present in tools folder but still doesn't work.I don't have work with those test projects/solutions but still it will be useful for someone if we can resolve this.

@rrelyea Nuget v

[2016-06-07 08:19] ericstj opened #2914 "Regression in ManifestReader on Unix"
https://github.com/NuGet/NuGet.Client/commit/02b2c3267a0eaae0ef224148b55b90f3ecf34139 regressed pack from nuspec on Unix.

Trimming slashes from the start of the `src` is incorrect.  A slash here is a semantically different path than without.  All full paths on Unix begin with a slash so this has completely broken our ability to build packages on Unix.

/cc @toddm @rrelyea

[2016-06-07 15:27] AArnott opened #2915 "NuGet.exe 3.4.4 fails to restore due to allegedly missing runtime assemblies"
When trying to upgrade from nuget.exe 3.3.0 to 3.4.4, I observed that package restore failed.

Firstly, due to nuget crawling more projects more aggressively, which I was able to [workaround](https://devdiv.visualstudio.com/DefaultCollection/DevDiv/VS%20IDE%20DevCore/_git/DevCore/commit/1d590d5d9d72a916e48d6e941ebeb668a0b36a2f).

Secondly, because for a bunch of CoreFx packages "there is no run-ti

[2016-06-07 15:40] emgarten commented on #2915
This looks related to https://github.com/NuGet/Home/issues/2246

 For net451 the runtime assembly would come from the framework reference.

A possible workaround here is to reference these packages with `exclude: runtime` or avoid including them as dependencies for net451 if possible and add them under frameworkAssemblies instead in your project.json file.

[2016-06-07 15:43] emgarten commented on #2913
This error message comes from a target included in the BCL nupkg, the package itself is incorrectly checking for packages.config. To fix this you will need to remove the dependency or reference the BCL package with `exclude: build`

[2016-06-07 15:44] joperezr commented on #2868
@sravan1022 I actually tried installing the 3.5 beta nuget package manager and that fixed it for me. I believe what happened to you now is that you did install nuget3.5 but you didn't install the package manager for vs2015 as well. Close VS, [download and install this](https://dist.nuget.org/visualstudio-2015-vsix/v3.5.0-beta/NuGet.Tools.vsix) and then re-open VS. That should work and remove those

[2016-06-07 16:01] drewgillies commented on #2386
The quick answer is Yes. Remaining work includes the following, and should be tracked in separate issues:
- ```
     Lighting up tests, the Dev14 component of which is already tracked (a sxs Dev14/15 install broke tests prior to any of the Dev15 work, and this is still to be addressed)
[code]
- ```
     CI integration
[code]

  So, I’d say this issue is complete, because we do indeed have a build

[2016-06-07 16:16] #2914 closed, assigned to toddm

[2016-06-07 16:16] AArnott commented on #2915
I'm working through it... I've brought down the number of failures through your `exclude: runtime` technique, but it's tedious because the errors don't specify _which_ project is producing them. Combining that with transitive dependencies and it's really hard to find which dependencies need this added.

I haven't used `frameworkAssemblies` before in my MSBuild-based project.json projects. Is it ne

[2016-06-07 16:19] tkopacz commented on #2868
Strange - for me -  Package Manager is showing that is correctly installed (3.5.0.1284 as for now)
I'll dig deeper - maybe again - from clean machine etc...

[2016-06-07 16:20] AArnott commented on #2915
So since System.Runtime is one of the packages that fail, I basically have to add this `exclude: runtime` on _all_ my dependencies since virtually all of them transitively depend on it.

[2016-06-07 16:30] rrelyea commented on #2914
Please determine if this needs to be ported to 3.4.5 as well. Not sure if the first fix made it to 3.4.x

[2016-06-07 16:31] toddm commented on #2914
Yes, it went into 3.4.4.  I'll port to 3.4.5 after I finish with 3.5.0-beta2.

[2016-06-07 16:33] rrelyea commented on #2908
Please investigate root cause and possible fixes.

[2016-06-07 16:42] rrelyea commented on #2900
CLI build 1.0.0-preview2-002990 has this fix.

[2016-06-07 16:42] #2900 closed, assigned to toddm

[2016-06-07 16:48] toddm commented on #2914
I pushed to 3.5.0-beta2.  CI is still building.

[2016-06-07 16:51] ericstj commented on #2782
It's ok, the reason we said "assets" in the meeting was that folks in practice were using this folder for anything that they wanted to be RID specific but not have the lib extension filter applied.  I'm ok with nativeassets.

[2016-06-07 16:57] rrelyea opened #2916 "Pack supporting source with a leading slash - Regression in ManifestReader on Unix (for 3.4.5)"
Port of 3.5beta2 fix for https://github.com/NuGet/Home/issues/2914

fixes regression in 3.4.4

[2016-06-07 16:59] toddm commented on #2916
https://github.com/NuGet/NuGet.Client/commit/75dafed6e4867c56f8e88a9fc1c1f23c56f63f88

[2016-06-07 16:59] #2916 closed, assigned to toddm

[2016-06-07 16:59] rrelyea commented on #2903
If we go forward with this, let’s get it into dev only for now…and leave the issue open. We’ll need approval to get it into 3.4.5 at this stage.

From: Ashish Jain [mailto:notifications@github.com]
Sent: Monday, June 06, 2016 5:42 PM
To: NuGet/Home Home@noreply.github.com
Cc: Rob Relyea Rob.Relyea@microsoft.com; Mention mention@noreply.github.com
Subject: Re: [NuGet/Home] Add batch VS project even

[2016-06-07 16:59] emgarten commented on #2915
You can set it for the top level dependency and it will be applied to all.

When referencing the System packages from a desktop framework you get the frameworkAssembly reference from the nuspec of that package which points to the desktop .NET, it works the same. I suggest finding where these packages are getting in for net451 and limit them to be dependencies for your dotnet/netstandard framework

[2016-06-07 17:01] emgarten commented on #2915
And to be clear, it is a bug in NuGet that it doesn't find the framework assembly as the runtime assembly. But the plan is to remove this check from NuGet and move it to the build side of things, which is why it hasn't been fixed.

[2016-06-07 17:02] AArnott commented on #2915
I have a lot of top level dependencies, and a lot of projects. Yes, I do see that I can specify it at the top level dependencies and it's applied to their dependencies transitively, but it's still a lot of manual work to add this.

Some of these dependencies get in through packages that all my target frameworks need. So I have to apply `exclude: runtime` on non framework packages as well to ensure

[2016-06-07 17:03] AArnott commented on #2915
But as this makes 3.4.4 _really_ hard to adopt, and 3.3.0 worked, except now I've found a bug in 3.3.0 where it doesn't propagate dependencies transitively if projects aren't under the solution directory (and 3.4.4 evidently fixes that), I'm between a rock and a hard place here. I wish 3.4.4 hadn't been allowed to regress this.

[2016-06-07 17:08] emgarten commented on #2915
This problem has existed since 3.1.0. My guess is that it showed up in your solution due to transitive dependencies. This check is only done when there are runtimes involved, so it is likely that you have a portable library applying these packages to the desktop framework, and higher up another library with runtimes now gets these dependencies also, then fails when applying the runtime check.

[2016-06-07 17:15] rrelyea opened #2917 "Port lowercase paths from dev to 3.6b2"
If we get approval, including for the CLI fix, port https://github.com/NuGet/NuGet.Client/commit/b8372bbc3720b08b08337122d3e5569df3cf7c6c to 3.5b2

[2016-06-07 17:26] RandomEngy commented on #2913
Thanks, that solved it!

[2016-06-07 17:40] zhili1208 commented on #2354
Yes, I merged this PR.

[2016-06-07 17:40] #2354 closed, assigned to nobody

[2016-06-07 17:46] RandomEngy commented on #2913
Though now I get another warning: All projects referencing SomePclProject.csproj must install nuget package Microsoft.Bcl.Build. Apparently setting it with `exclude: build` triggers this warning. Is this another problem with the BCL Build package? how can I get all these warnings cleared up?

[2016-06-07 17:50] ericstj commented on #2914
Please let me know when it completes.  Thanks for the quick fix.

[2016-06-07 17:54] toddm commented on #2914
The CI build finished so you can grab it from our Drops folder.

[2016-06-07 18:08] rohit21agrawal commented on #2879
https://github.com/NuGet/NuGet.Client/pull/649

[2016-06-07 18:13] rohit21agrawal commented on #2890
https://github.com/NuGet/NuGet.Client/commit/17e8b0f273cca7fd35d266964007a3314c173aef

[2016-06-07 19:15] brphelps opened #2918 "Nuget.exe doesn't handle relative repositoryPath correctly when config file is in parent folder"
I was doing some scripting and wanted to use the RepositoryPath value to locate installed nuget packages. I noticed this (it seems like a bug from a usability perspective):

If you have:

C:\Foo\nuget.config
C:\Foo\Bar\nuget.exe

The value returned by nuget.exe config RepositoryPath is the same as invoking the same command in this folder structure:

C:\Foo\nuget.config
C:\Foo\nuget.exe

Even if th

[2016-06-07 19:15] bob-devereux-zocdoc commented on #2623
Why was it designed that way?

[2016-06-07 19:34] yishaigalatzer commented on #2623
Because there are several cases where you will get different results depending on your sources.

We are considering a strict mode that will also work offline, that would cover many of the cases and reduce the pain here. The comment is around not changing this behavior as is. I should have been more clear

[2016-06-07 19:40] joelverhagen commented on #2908
Newtonsoft.Json 9.0.1-beta1 has `netstandard1.0` assets. Also, when selecting the `netstandard1.0` assets, it brings in RC2 .NET Core dependencies (those ending with 24027). There was a bug in RC2 where the `dnxcore5.0` was not specified in the runtime.json file. Therefore, the `dnxcore50` guardrail fails against the RC2 dependencies pulled in by Newtonsoft.Json.

[2016-06-07 19:43] joelverhagen commented on #2908
/cc @ericstj

[2016-06-07 19:48] joelverhagen commented on #2908
This is the project.json generated by the repro sets:

[code]

## Working project.json for RC2 packages

Does not include the supports since they were not mentioned in RC2 runtime.json (it was a bug that has since been fixed).

[code]

## Working project.json for "RC3" (will eventually be RTM) packages

Needs the following NuGet source:
https://dotnet.myget.org/F/dotnet-core/api/v3/index.json

Doe

[2016-06-07 19:49] natemcmaster commented on #1292
@rrelyea @yishaigalatzer can we have someone look into this, especially for .NET Core projects? We're seeing behavior in 3.4.4 and.NET Core RC2 projects that is inconsistent with NuGet 2/package.config.

Possibly related: we're also seeing that this behavior is buggy if a package in "tools" only.

[2016-06-07 20:10] yishaigalatzer commented on #1292
Nate please open a new bug with repro steps and details

[2016-06-07 20:12] clairernovotny commented on #2695
Also, in addition to `platform`, we need to know `build` type dependencies that might appear in a transitive lock file.

In my scenario, I'm reading the lock file to determine what the "true" dependencies are for the package that should be emitted to a nuspec file, and I nee d to tell if a package there is `build` or `platform` in a way that captures the transitive closure.

[2016-06-07 20:52] joelverhagen commented on #2908
Related bugs:
1. Improvement to PCL templates to not use the deprecated `dnxcore5.0`: https://github.com/dotnet/roslyn/issues/11823
2. Adding `netcoreapp1.0` guardrail to the runtime.json: https://github.com/dotnet/corefx/issues/9232

[2016-06-07 20:58] joelverhagen opened #2919 "`dnxcore50` should support `netstandard1.6`"
Spoke to @ericstj about this. Although `dnxcore50` is deprecated, this could help existing projects using `dnxcore50` to have the same experience as `netcoreapp1.0`, which is its replacement.

[2016-06-07 20:59] rohit21agrawal commented on #2745
List of issues:
1) cannot narrate the title, texts inside, and buttons of License Acceptance dialog
2) cannot narrate the controls/texts from the File Conflict dialog
3) cannot narrate the install/uninstall progress dialog
4) cannot narrate the install/uninstall preview dialog
5) The scroll bar inbetween the list of package pane and the package details pane cannot be tabbed into
6) The scroll bar

[2016-06-07 21:09] zhili1208 commented on #2918
Yes, this is current design, you need to know the location of nuget.config to resolve the RepositoryPath,  what's your problem? we might can find a workaround for you, is it possible to put nuget.exe and nuget.config in the same folder for your case?

[2016-06-07 21:24] brphelps commented on #2918
The problem is that "need" doesn't really make sense and breaks encapsulation. If I'm running nuget.exe in an arbitrary subfolder with no knowledge of how containing folders may or may not have their nuget.exe configured, my life has become significantly more complex from this additional information that I need to know.

It seems much more appropriate for NuGet.exe to be responsible for encapsulat

[2016-06-07 21:39] zhili1208 commented on #1215
I can't repro this issue with VS2015 Pro, if Default Project is null, that means NuGetProject Initialization fail, have no idea unless get an repro.

[2016-06-07 22:00] AaronRM opened #2920 "CLI restore fails for dependencies to csproj (works in IDE)"
Repro steps (VS 2015 with .NET Core RC2 latest release, dotnet cli version 1.0.0-preview1-002702):
1. Create .NET Core project
2. Edit project.json to target net452/net46
3. Add a .NET 4.5/4.6 ClassLibrary C# project to the solution  (ClassLibrary1)
4. In VS, add a project reference to library added in step 3. This will give you something like the following in project.json:
    "dependencies": {

[2016-06-07 22:44] AArnott opened #2921 "nuget.exe restore doesn't produce .props and .targets files for .msbuildproj (regression in v3.3.0-3.4.4 upgrade)"
Similar to #2711, we have an .msbuildproj project that loads in VS and at the command line, and uses project.json. But nuget 3.4.4 no longer creates msbuild import files on restore the way 3.3.0 did.

Can we please get this working again? Preferably in some generalized way so that it Just Works for all the project types that support it, and keeps working consistently as nuget.exe evolves?