[2018-05-25 10:43] jnm2 commented on #4687
@asbjornu Hmm, what's the version string you're trying to use? I ask because I hit this recently several times. If you're getting an actual error and not a warning, I think you might want to change your version string.

For example, with SemVer 2 you don't want to have a leading zero in a prerelease label segment which has numeric chars only, because of the way sorting works.
The error message in

[2018-05-25 11:06] phatcher opened #6972 "VS2017 GeneratePackageOnBuild produces 1.0.0 package"
## Details about Problem

If I look at the project details it shows the correct versions, but if I compile with VS2017 it always generated a 1.0.0.0 packaged. The assemblies themselves have the correct version info

VS version (if appropriate): VS2017.7.1

### Sample Project

See https://github.com/phatcher/CsvReader

[2018-05-25 11:49] let-thomas opened #6973 "Proposal: Nuget add"
I think it will be great for local development (.Net framework) to have possibility to publish nugets to local repo (to be referenced by other projects) - at the moment usually done by copying dlls.
Seems nuget add command is a kind of (close enough to mvn install) but it requires -source parameter. At this place I would like to use a value of either "globalPackagesFolder" or "repositoryPath" but

[2018-05-25 12:50] Rora opened #6974 "VSTS nuget task. Unable to set 'externalFeedCredentials' for multiple feeds"
## Details about Problem

NuGet product used: VSTS build task 'NuGet' (YML build)
NuGet version: 4.4.1

**Nuget task configuration**
[code]

### Issue
When creating a (normal) VSTS build and adding a nuget task, with the restore command selected, we get an option ```Credentials for feeds outside this account/collection``` which allows us to set multiple feed credentials.

When using the same task

[2018-05-25 13:41] StingyJack commented on #6373
@zhili1208  or @rrelyea - if this is closed "by design" then you probably have a bug in your design.

[2018-05-25 13:45] StingyJack commented on #5385
@mishra14 - this thing is a _daily_ drag for the working programmer. Cleaning up after it can cost me up to 30 minutes per day. Can this be moved up in priority?

[2018-05-25 14:33] devovercome commented on #6964
@zhili1208 Thank you for the point!

Since I've learned that .nuget folder is a global package cache, but has been created under local folder of my project, I figured that there is something wrong under network account.

I've took a time a read logs carefully, they said something like
_access to path C:\Windows\system32\config\systemprofile_

Hello! This is wrong path!

**My solution**
Is based on

[2018-05-25 14:37] #6964 closed, assigned to nobody

[2018-05-25 15:00] Apollo3zehn commented on #6966
Thanks for your suggestions. Although I don't like the idea to have twice as many projects for such a simple requirement, I tried to simply duplicate the packages (call `dotnet pack` twice) such that they only differ in `PackageId` and `PackageType`. But unfortunately it turned out that a query string like
https://api-v2v3search-0.nuget.org/query?q=&skip=0&take=15&prerelease=true&packageTypeFilter

[2018-05-25 16:09] mishra14 commented on #6723
@StingyJack NuGet has been moving towards `PackageReference` type projects because it has a much better fundamental design as compared to `Packages.Config`. Please consider moving to `PackageReference`, where this issue does not exist.

If you want to keep using `Packages.Config` then please add all the package references from your product code project into the test project. That will unblock you.

[2018-05-25 17:45] jobou363 commented on #6909
I use also long name for package (1.0.0-alpha-aaaaa-bbbbbbbbbbbbbbbbb.1) and I my case the error HTTP 406 happen because of a package size problem.

IIS by default does allow request with more than 30.72 mo son I had to change maxRequestLength in my web config to a kb value higher than the packages size I had to send.

    <httpRuntime targetFramework="4.6" maxRequestLength="100000" />

[2018-05-25 18:08] zhili1208 commented on #6966
Issue moved to [NuGet/NuGetGallery #5999](https://github.com/NuGet/NuGetGallery/issues/5999) via [**ZenHub**](https://www.zenhub.com/)

[2018-05-25 18:08] #6966 closed, assigned to nobody

[2018-05-25 18:26] zhili1208 commented on #6969
the workaround for this is
1. uninstall all packages.
2. close the solution.
3. reopen the solution,
4. set project format to packages.config
5. install package.

[2018-05-25 18:40] zhili1208 commented on #6970
Could you provide one example csproj? for example, GSTouch.Android.csproj. looks like the restored packages are different between MacOS and windows

[2018-05-25 19:10] zhili1208 commented on #6971
Please provide details about your questions or issues

[2018-05-25 19:11] zhili1208 commented on #6972
@rohit21agrawal

[2018-05-25 19:11] Dabbel commented on #6970
@zhili1208 only the csproj file, without any other files?

If you want to try to restore the packages yourself this will not work because we use a private nuget server with own nuget packages.
But how could the restored packages be different as both calls has the same value for "-Source" and the "-NoCache" parameter?

[2018-05-25 19:23] zhili1208 commented on #6970
@Dabbel Firstly I want to understand why package graph is different for the same csproj. If all referenced package are public, I can start from only csproj. Otherwise, I might also needs the project.asset.json file.
Yes, the restored packages should be the same. But for example, I can find package "Microsoft.AspNet.Web.Optimization.de" are restored on mac, but can't find it in the windows log. so

[2018-05-25 19:29] zhili1208 commented on #6974
Moved to https://github.com/Microsoft/vsts-tasks/issues/7304

[2018-05-25 19:29] #6974 closed, assigned to nobody

[2018-05-25 20:17] Dabbel commented on #6970
Here are already the two project.asset.json from the obj folder, for the csproj file im waiting for the permission
[NuGet.zip](https://github.com/NuGet/Home/files/2040749/NuGet.zip)

[2018-05-25 20:21] Dabbel commented on #6970
And the csproj file
[GSTouch.Android.csproj.txt](https://github.com/NuGet/Home/files/2040762/GSTouch.Android.csproj.txt)

Hope this will help

[2018-05-25 22:23] zhili1208 commented on #6970
Could you find any project which referenced Microsoft.AspNet.Web.Optimization.de in your solution?

[2018-05-26 06:11] Dabbel commented on #6970
In the solution there is no project that has a direct reference on Microsoft.AspNet.Web.Optimization.de and none of our own NuGet Packages has a dependency on that package two.

[2018-05-26 06:17] dasMulli commented on #6972
quick analysis: The reason is that the project uses custom assembly attributes, has assembly attributes turned off and doesn't set any version-related MSBuild property.

The package targets currently don't read the package version from assembly attributes, so you'd need to set the `VersionPrefix` / `Version` or `PackageVersion` in the csproj file or else they default to `1.0.0`.

An alternative wo

[2018-05-26 13:31] arditmezini commented on #4710
Same problem

VS2017 15.7.2
Win 10 Pro V.1803 64bit

[2018-05-26 15:47] nkolev92 commented on #6923
closed in https://github.com/NuGet/NuGet.Client/pull/2250

[2018-05-26 15:47] #6923 closed, assigned to nkolev92

[2018-05-26 15:48] #6706 closed, assigned to nkolev92

[2018-05-26 15:48] #6744 closed, assigned to nkolev92

[2018-05-26 17:24] StingyJack commented on #6969
Project does not have a format selection. Its a VS setting. Does Nuget PM UI not check that setting at the correct time?

[2018-05-26 17:34] StingyJack commented on #6723
I wasn't blocked. Once i realized that half the unit tests were not being executed for gated checkin builds, working around it was done in short order. But its _every single test project that gets created_ that I have to either fix or show someone how to fix, or we are at risk of unintentionally delivering broken code to a customer.

You are leaving me with two choices really; use a package manage

[2018-05-27 03:30] anhphan commented on #6349
Hi @rohit21agrawal

I also investigate this problem any see:

Current version (the version used in VS 15.7.1) generate content link as:
[code]

For restore phase, the generated item have problem:
* Missing: `<Pack>false</Pack>` item metadata
* Not have a Label: should we having a label for all generated content link to let people easy update metadata of nuget linked content easier when needed.
* N

[2018-05-27 03:38] anhphan commented on #6349
@monkey-dsc If you need a solution right now, add this hack to PackageB project file will help you have correct path, or set `<Pack>false</Pack>` to prevent content of PackageA become content of PackageB
[code]

[2018-05-27 13:03] ilexp commented on #5267
Currently doing the next package release (`AdamsLair.WinForms.1.1.15.nupkg`) and am still experiencing the same problem. I am now using NuGet 4.6.2.5055.

[2018-05-27 17:25] livarcocc opened #6975 "OOTB .net core SDK 2.1.200 console- and class library projects compile with errors"
_From @stigperez on May 27, 2018 7:55_

## Steps to reproduce

1. Download and install "dotnet-sdk-2.1.200-win-gs-x64.exe"
2. Open a command prompt, create a project directory under c: and navigate to the newly created directory
3. Execute "dotnet new classlib"
4. Execute "dotnet build"

## Expected  behavior
The project compiles without errors

## Actual behavior
The command prompt displays 24 co

[2018-05-27 17:25] livarcocc commented on #6975
Moving to nuget since this seems like a restore issue.

[2018-05-27 21:09] RandallFlagg commented on #5127
I have the same issue.

When I try the command `dotnet restore MYPROJ.csproj` and in the `.csproj` file I have a wild card for the version(`*`) I am able to restore the package only using the `-s` flag (`dotnet restore MYPROJ.csproj -s https://api.nuget.org/v3/index.json`).

If I am using a specific version then I need the -s flag only for the first time, after that it works just with the restore

[2018-05-27 21:32] huaxing-yuan commented on #6877
Hello, i see an Included Packages parameter on the API Token settings. Only the first package was included.
After selecting my second package in the api token, everything works now.

[2018-05-27 21:32] #6877 closed, assigned to rohit21agrawal

[2018-05-27 23:38] fundead commented on #4413
This is a footgun in userland i.e with the use case of needing to run `nuget setApiKey` (on MacOS in our case), as `dotnet nuget` doesn't currently have the `setApiKey` capability. I imagine many machines will get in this state due to installing tools like Rider above and Visual Studio for Mac alongside .NET Core. Would be awesome to see a consistent, non-surprising cross platform experience here.

[2018-05-28 04:04] karthikanandan commented on #6952
Hi Zhili,

Can you please update on this?

Thanks in advance.

[2018-05-28 05:41] nigurr commented on #5138
Hi,

We have similar case where we want to get all versions of specific package.
We don't need to even to search for package as we know exactly what we are looking for.

[2018-05-28 10:16] davkean opened #6976 "NuGet Visual Studio AsyncPackage fails to load when initialized off the UI thread"
## Details about Problem

VS version (if appropriate):Version 15.8.0 Preview 2.0 [27723.0.d15.8]

## Detailed repro steps so we can see the same problem

1. Attempted to open this project

[code]
2. Package failed to load with the following error from ActiveLog.xml:

[code]

[2018-05-28 10:30] davkean commented on #6976
Note, it appears that I could only repro this in VS when we are in state where we believe that the `.NET desktop development` workload isn't completely installed and you get this prompt:

![image](https://user-images.githubusercontent.com/1103906/40610232-e9a08c88-62b4-11e8-8d01-610900c4b17a.png)

In this case, this happened by upgrading from 15.6 -> 15.7, someone added a new component to `.NET de

[2018-05-28 10:30] davkean commented on #6976
This is stack at time:
[code]

[2018-05-28 10:33] davkean commented on #6976
I can see exactly why this is happening, you are AsyncPackage, all your autoloads are background, but your constructor says "I can only be called on the UI thread":
[code]

[2018-05-28 10:35] davkean commented on #6976
I can also see why you've probably never hit this before - all of your UI contexts in the past have always been UI thread, above is hitting the `ProjectRetargeting_string` UI context and it's probably the first one that has ever loaded you off the UI thread.

[2018-05-28 10:36] davkean commented on #3073
This caused by https://github.com/NuGet/Home/issues/3073.

[2018-05-28 13:13] xander199 opened #6977 "Packaging multitargeting framework project results in one target framework package"
## Details about Problem
I have created .NET standard 2.0 class library project in my application. However I also need this library to be available in .NET Framework 4.7.1 project. To make it possible, I changed target framework to target frameworks of netstandard2.0;net471 to have this build two ways. Build/Rebuild itself in VS works fine - two folders for different frameworks are beeing generate

[2018-05-28 14:00] Dabbel commented on #6970
I now have a second project with a similar problem, the restore fails on mac but works on windows.

This project is simpler and i could provide it to you, is there any way i can do this private?

[2018-05-28 19:00] livarcocc opened #6978 "dotnet restore, with HTTP_PROXY and HTTPS_PROXY (with user/password) broken again"
_From @tebeco on May 28, 2018 14:11_

## Steps to reproduce
* setup an NTLM proxy
* add a Nuget.Config with

[code]
* Setup proxy in your shell
[code]

* try nuget for fun
[code]

soooooo anyone know how to make `dotnet restore` works behind an NTLM proxy ?
##### NUGET is OK
##### PAKET is OK (without any env var)
##### DOTNET ... was ok ... with only proxy URL
##### DOTNET is KO without env var
#

[2018-05-28 19:00] livarcocc commented on #6978
_From @tebeco on May 28, 2018 14:15_

Just to be clear ... i also tried `nuget.config` to set
`http_proxy` `https_proxy` `no_proxy`

also if i have to provide ANY user and password ... it is not compliant with any form of "Continuous" integration right ?

setting up a proxy as an env var :
* Globally ==> will mess up all tool that read it and will try to access any internal url with the proxy, wic

[2018-05-28 19:56] dkalkwarf opened #6979 "Cannot pack, NuGet cannot find DLL"
I followed the procedure in the link below.

**https://docs.microsoft.com/en-us/nuget/quickstart/create-and-publish-a-package-using-visual-studio-net-framework**

The DLL was built, but I get the following error:

**Unable to find "AppLogger.dll".  Make sure the project has been built.""**

NuGet.exe version:  4.6.2.5055
Visual Studio Community 2017 version: 4.7.03056
.Net version: 4.6.1
OS versio

[2018-05-29 08:50] joffreynorsys commented on #4082
I have the same problem with the last recommended version (4.6.2)

[2018-05-29 13:18] cortex93 commented on #4082
It's also in VS 15.7.2
With a .NETSdk csproj :
`
   <GenerateAssemblyInfo>false</GenerateAssemblyInfo>
   <GeneratePackageOnBuild>true</GeneratePackageOnBuild>
`
and own `[assembly: System.Reflection.AssemblyInformationalVersionAttribute("0.4.1-beta.1+3.Branch.hotfix/0.4.1.Sha.425411544773065ae3f26134ecc2f977953efe39")]`
gives a 1.0.0 nuget package.

Note: Without GeneratePackageOnBuild, pack cont

[2018-05-29 14:02] DavidHaitch commented on #6963
Thanks, I'll put one together today!

[2018-05-29 16:28] livarcocc opened #6980 "Can I use source control path as reposityPath? If yes any example"
_From @chilakamarthi on May 28, 2018 7:20_

I would like to use Source control path as repositoryPath instead of local path. Can I do that? Any sample code?

_Copied from original issue: dotnet/cli#9356_

[2018-05-29 16:28] livarcocc commented on #6980
In which context are you asking this question? Sorry, I am not sure what these refer to.

[2018-05-29 16:28] livarcocc commented on #6980
_From @chilakamarthi on May 29, 2018 10:29_

I added NuGet.Config to my solution and set it like below:
`<configuration>
  <config>
    <add key="repositoryPath" value="../../../../Test/Test/Packages" />
  </config>
</configuration>`

Here repository path is relative path to solution file location. can I make it source control path instead of local path is the Q.

[2018-05-29 16:56] tebeco opened #6981 "Improved proxy support in the NuGet.Clients (ntlm proxy, etc)"
## Details about Problem

NuGet product used :
* NuGet.exe
* VS UI
* dotnet.exe

NuGet version : `NuGet Version: 4.6.0.4971`

dotnet.exe --version : `2.1.300-rc1-008673 [C:\Program Files\dotnet\sdk]`

VS version : `Vs2017 15.7.2`

OS version :
[code]

Worked before? Never probably ?

## Detailed repro steps so we can see the same problem

1. Like many corporation, there's a "PAC" script define in

[2018-05-29 17:03] zhili1208 commented on #6970
Please send to my email, lzhi[at]microsoft.com

[2018-05-29 17:09] tebeco opened #6982 "Nuget CLI does not support dotnet-tool"
## Details about Problem

Until this  #6981 #6978  #6761 is fixed ... i have to use `nuget install` instead of `dotnet whatever` to install nuget ... so this is begining to be not funny anymore

NuGet product used :
* NuGet.exe
* VS UI
* dotnet.exe

NuGet version : `NuGet Version: 4.6.0.4971`

dotnet.exe --version : `2.1.300-rc1-008673 [C:\Program Files\dotnet\sdk]`

VS version : `Vs2017 15.7.2`

[2018-05-29 17:15] nkolev92 commented on #6982
This is by design.
NuGet alone does not know how to do the setup for dotnet tool.
it's primarily a dotnet.exe feature that NuGet helps enable.

Some details [here](https://github.com/NuGet/Home/wiki/Global-Tools---NuGet-Implementation).

Please refer to http://aka.ms/globaltools for any dotnet tool related information.

Related to some of the issue linked above:
https://github.com/NuGet/Home/issue

[2018-05-29 17:17] tebeco commented on #6982
that why i said

dotnet restore/install is broken behind a proxy as you already know
soooo how do you deal with it when you are in a team with multiple developper and a CI ?

before `Milestone 4.8` of course

[2018-05-29 17:20] tebeco commented on #6982
http://aka.ms/globaltools seems broken btw

[2018-05-29 17:21] jainaashish commented on #6976
[This ](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.VisualStudio.Common/ServiceLocator.cs#L31) should be removed which should fix it.

[2018-05-29 17:23] nkolev92 commented on #6982
@tebeco
I'm merely referring to this issue.

It's very unlikely that NuGet.exe supports global tools.
It just doesn't have enough information to setup the shims. It also can't execute those tools.

Someone will come back to you to help investigate the other issues.

[2018-05-29 17:23] #6982 closed, assigned to nobody

[2018-05-29 17:27] zhili1208 commented on #6969
the issue here is once the project is migrated to packageReference, it can't be back to Package.config unless reopen the solution because of project cache.

[2018-05-29 17:32] nkolev92 commented on #6946
Thanks @emgarten

Closing as duplicate.

@Korporal
We'd appreciate if you can please use more descriptive issue titles :)

[2018-05-29 17:32] #6946 closed, assigned to nobody

[2018-05-29 17:36] tebeco commented on #6982
well i use it as a workaround of `dotnet` for proxy
i really do not care about “execution” but it makes me sad that
* HTTP GET
* download
* unzip in a folder
* and i will do the `dotnet run foobar`

basic stuff for nuget client right ?
checking the log is also sad since it managed to `retrieve it`

[2018-05-29 17:46] nkolev92 commented on #6950
@safern
Which version of VS/MSbuild are you using?

[2018-05-29 17:49] nkolev92 commented on #6982
@tebeco
dotnet.exe does more than just unzip the package though.

[2018-05-29 17:51] nkolev92 commented on #6610
Closing as this we haven't received any feedback to further investigate it.

@onovotny
Please reach out again, if you still see this issue.

[2018-05-29 17:51] #6610 closed, assigned to nobody

[2018-05-29 17:52] nkolev92 commented on #6815
Closing this as we haven't gotten enough information to further analyze/discuss this request.

[2018-05-29 17:52] #6815 closed, assigned to nobody

[2018-05-29 17:58] tebeco commented on #6982
i would love to have a full tchat / take / whatever about that long existing issue of `dotnet restore` not working with NTLM proxy then
How could we setup a Skype call so i would share my feedback and failed attempt since the last two year ?
i probably posted issues on repos like Omnisharp / Dotnet / this one since `dnx` probably beta 7 ...
and i still got 407 unless i use password explicitly whic

[2018-05-29 18:20] nkolev92 commented on #6982
//cc @anangaur

[2018-05-29 18:28] MNie commented on #6815
@nkolev92

Yes, projects created by `dotnet new someTemplate`

[2018-05-29 18:34] nkolev92 commented on #6815
@MNie
I don't believe NuGet.org is the right place for information like that.

They're unrelated concerns.
The usage of packages in templates is something done after the fact, however the nuspec is created at packaging time.

[2018-05-29 19:25] nkolev92 commented on #6977
I am not able to repro this issue @IIUJ-ArielZakrzewski
The package is created just fine with 2 different frameworks.

Can you clarify what do you mean by

What do you do here?

[2018-05-29 19:26] rohit21agrawal commented on #6979
@dkalkwarf can you paste your csproj here? Is this a netcore project or a full framework project? nuget pack, by default, looks for debug bits, unless otherwise specified.

[2018-05-29 19:28] nkolev92 commented on #6980
@chilakamarthi
I'm not sure I understand what you mean by

Can you please elaborate?

[2018-05-29 21:14] safern commented on #6950
I'm using latest version of VS 2017 and therefore using the MSBuild that comes with it. This failure is when building on source-build though, which uses the dotnetcli built in msbuild:

https://github.com/dotnet/source-build/blob/master/repos/nuget-client.proj#L28

[2018-05-29 22:05] rohit21agrawal commented on #6977
@nkolev92 NuGet.Build.Packaging is the nugetizer package.

CC: @kzu

[2018-05-29 22:06] #6957 closed, assigned to rohit21agrawal

[2018-05-29 23:27] StingyJack commented on #6969
What is the project cache? Is that nuget specific, or is it part of the vs project system?

[2018-05-29 23:40] zhili1208 commented on #6969
it's a nuget specific thing, nuget stores all project information in the cache, if there is no nuget package installed, the project is default to packages.config, once you install a package as package reference to the project, the project information is changed to package reference, even you uninstall the nuget package, the project is still package reference type in the cache. reopen the solution

[2018-05-30 00:36] nkolev92 opened #6983 "The serialization of GetAuthenticationCredentialRequest is incorrect"
In the code review, the parameter name in the constructor was changed, but the property wasn't.

This means that isNonInteractive will always be false.

https://github.com/NuGet/NuGet.Client/blob/3db1528ee90a4858f620362bf49876099c8e5f67/src/NuGet.Core/NuGet.Protocol/Plugins/Messages/GetAuthenticationCredentialsRequest.cs#L30

https://github.com/NuGet/NuGet.Client/blob/3db1528ee90a4858f620362bf4987

[2018-05-30 00:46] nkolev92 opened #6984 "The authenticode signature validation needs to be lazy"
Currently we do authentication signature verification whenever we discover the plugins.
The "status" of the plugin is only relevant when we try to launch the plugin itself.

[2018-05-30 01:41] dkalkwarf commented on #6979
[AppLogger.zip](https://github.com/NuGet/Home/files/2052035/AppLogger.zip)

Please find attached a zip file containing my csproj file.  This is a full framework project.

[2018-05-30 04:07] dasMulli commented on #4082
@cortex93 this is likely the same as in https://github.com/NuGet/Home/issues/6972

[2018-05-30 06:20] chilakamarthi commented on #6980
I am using TFS as my SD. So instead of giving local if I can give sd path something like $/CASE/TestAutomation/Dev/ABCD.Automation.All/Packages, If it is this way, I dont need to give local path, Visual Studio can take it from mapped local path. Hope I am clear

[2018-05-30 06:45] Dabbel commented on #6970
Have send you a mail with project and all nuget packages that we created ourselfs

[2018-05-30 09:08] pantonis commented on #5887
I have just updated to PackageReference. I have one question thought. How can I view the transitive dependencies of a nuget package? Solution explorer just shows the top-level dependencies. Is there any way of viewing them. Maybe adding an expand option?

Thanks

[2018-05-30 10:08] let-thomas opened #6985 "nuget update does not work for PackageReference with .NetFramework v4.6.1"
I have 1 clean small solution with 1 project having
[code]

nuget restore DepMaster.sln
works fine
[code]

Now I would like to fetch newest version of PcgDNF package
[code]

And similar for csproj
[code]

Tested nuget versions
nuget_3.3.0.exe
nuget_3.4.4.exe
nuget_3.5.0.exe
nuget_4.4.1.exe
nuget_4.5.1.exe
nuget_4.6.0.exe
nuget_4.6.2.exe
nuget_4.7.0.exe

[2018-05-30 10:48] hulkbulgur commented on #6018
+1
This causes a lot of frustration in my team.
We use the VS setting "align attributes on individual lines" for XML files, in order to track changes in the configuration. As we work a lot with nuget packages, the configuration files keep getting normalized, and if we forget reformatting after any package operations (regardless of whether it changes the configuration or not). This includes package

[2018-05-30 12:08] asbjornu commented on #4687
OK, I think we have gotten to the bottom of this erratic behavior. After some testing, this is our findings:

| SDK Version  | `TreatWarningsAsErrors` | Console | Exit code |
| -------------|-------------------------|---------|-----------|
| `2.1.201`    | `false`                 | Nothing |    `0`    |
| `2.1.201`    | `true`                  | Error   |    `1`    |
| `2.1.4`      | `false`

[2018-05-30 14:06] anangaur commented on #5887
It already has an expand option for SDK style projects (.NET Core).

[2018-05-30 14:09] pantonis commented on #5887
What about .NET?

[2018-05-30 14:12] BrunoJuchli commented on #6330
@jainaashish
Another example is https://github.com/Fody/Fody
It's a weaver with several plugins like https://github.com/Fody/PropertyChanged
Generally, the sequence of the weaver-plugins can matter, plus some have configuration options.
The sequence and the configuration were done in an XML, FodyWeavers.xml
For convenience, when you installed a weaver-plugin, it updated the FodyWeavers.xml and add

[2018-05-30 16:27] mungojam commented on #5887
For .net projects you can try the project converter that I've contributed to and used : https://github.com/hvanbakel/CsprojToVs2017 or wait for Microsoft's version which they announced at Build conference

[2018-05-30 16:32] nkolev92 commented on #6980
NuGet works with full paths, or UNC shares.

I don't think what you're articulating would work, but you can for sure figure out the relative path out of it.

[2018-05-30 16:33] nkolev92 commented on #6675
Hey,
@ElMaxxi Any updates?
Is this safe to close now?

[2018-05-30 16:47] nkolev92 commented on #6985
Thanks for filing this issue. @let-thomas

This is a known feature gap.

Duplicate of https://github.com/NuGet/Home/issues/4103

[2018-05-30 16:47] #6985 closed, assigned to nobody

[2018-05-30 17:11] TiltonJH commented on #1401
I have the same issue.

Updating/Reinstalling an already installed package which contain any content files besides the assemblies is a nightmare with TFVC. (VS 2015.3 NuGetExt 3.6.0.2511 TFS 2017.3)

So far I have found only one workaround.
Before updating/reinstalling one needs to remove the VS-project association to the TFVC and re-associate to it when done. To do this one needs remove the `<Scc

[2018-05-30 20:13] jainaashish commented on #6330
Thanks everyone, keep pouring these examples. These will certainly help us figure out right strategy going forward.

We'll analyze all these examples and then decides the next course of action. For time being, I'm reopening this issue for further tracking.

@anangaur

[2018-05-30 20:14] rrelyea commented on #4687
In latest versions, you should be able to make this work with NoWarn in VS or directly in CSPROJ.

2.1.300 shipped today (with .NET Core 2.1 release train).

Doing this, I was able to:

Create simple library project with dotnet new classlib
Make it cross-targeting, e.g. <TargetFrameworks>netstandard1.6;net46</TargetFrameworks>

dotnet pack /p:PackageVersion=0.1.0-alpha.2017022412385174

Output:

[2018-05-30 20:34] joeloff opened #6986 "Restore using MSBuild EXEC and NuGet.exe + CredentialProvider.VSS.exe failing"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe

NuGet version (x.x.x.xxx): 4.6.2, 4.7.0

dotnet.exe --version (if appropriate): N/A

VS version (if appropriate): 2017

OS version (i.e. win10 v1607 (14393.321)): Win10

Worked before? If so, with which NuGet version: 3.5

## Detailed repro steps so we can see the same problem

1. Cr

[2018-05-30 21:57] karann-msft commented on #6518
@rohit21agrawal the logo url that @anangaur gave seems to work fine...

[2018-05-30 22:08] karann-msft commented on #352
@johnataylor `It should be possible to put a path in the iconUrl` - what problem does this solve?

[2018-05-30 22:13] karann-msft commented on #6873
@dazinator working on a feature that will improve this experience. Will announce it through the [announcements repo](https://github.com/nuget/announcements/issues) when the sepc draft is ready.

[2018-05-30 22:54] rohit21agrawal commented on #6979
the csproj seems fine. can you also paste the full project here?

[2018-05-30 22:57] rohit21agrawal commented on #4082
can you try setting [assembly: System.Reflection.AssemblyInformationalVersionAttribute("0.4.1-beta.1+3.Branch.hotfix/0.4.1.Sha.425411544773065ae3f26134ecc2f977953efe39")] as you are currently doing in csproj, and also set PackageVersion in csproj to the same value (instead of setting version) ?

[2018-05-30 23:30] vsfeedback opened #6987 "Analyze the user gestures that defeat no-op, specifically clean-build & rebuild"
Context from @nkolev92

Analyze changing the user gestures that defeat no-op. Specifically the lack of a specific gesture to reevaluate the packages lock file and floating versions. Rebuild as a gesture seems counterintuitive.

The users probably never care about defeat no-op as gesture, rather think in terms of reevaluate floating or don't. They need a single way to force NuGet to throw away what

[2018-05-30 23:48] nkolev92 commented on #6987
There's a couple of things going on here.

NuGet has a caching mechanism to improve the performance of restore.
Whenever that cache gets hit in Visual Studio, it can range anywhere from 20ms to even a 1s or 2s depending on the project itself, the total number of projects in the solution, the machine etc.
Our goal is to keep it as low as possible, and we'd be happy if you can provide a repro soluti

[2018-05-31 00:09] #6959 closed, assigned to mishra14

[2018-05-31 01:20] dkalkwarf commented on #6979
Attached is a zip file of the solution.  I also included a file (error.txt) containing the command line and error message.

Thanks for your help.

[NuGetTest.zip](https://github.com/NuGet/Home/files/2056254/NuGetTest.zip)

[2018-05-31 08:04] cortex93 commented on #4082
@dasMulli That would explain case 1.
At least, a warning message should appears because, in that case, the package tabs in project properties show the attribute value as Package versions.

@rohit21agrawal Same result as case 2

[2018-05-31 08:10] dasMulli commented on #6972
There has already been a discussion about this over at https://github.com/dotnet/cli/issues/8399

[2018-05-31 08:19] ghost opened #6988 "Package searches are biased towards case-sensitive 'word' matching"
## Details about Problem

NuGet product used:  nuget.org and VS 2017 15.7.0

NuGet version (x.x.x.xxx):  VS: Nuget Package Manager 4.6.0

dotnet.exe --version (if appropriate):  N/A

VS version (if appropriate):  2017 15.7.0

OS version (i.e. win10 v1607 (14393.321)):  Win 10 Pro 1803

Worked before? If so, with which NuGet version:  Never

## Detailed repro steps so we can see the same problem

1

[2018-05-31 09:21] DaniilSokolyuk commented on #6978
we have same problem :( after install dotnet sdk 2.1.300
but we using global proxy (Internet options on windows) and its works fine on sdk 2.1.200

[2018-05-31 10:10] pantonis commented on #5887
@mungojam Thanks

[2018-05-31 11:21] galakt commented on #6978
Holy cow, not again please

[2018-05-31 11:25] tebeco commented on #6978
It’s been broken since alpha of `dotnet cli`.
As Nuget CLI works without having to set HTTP_PROXY
`dotnet` forced us to set it globally ... wtf seriously ?

now it is even worse since this is not working anymore in `dotnet`

[2018-05-31 13:40] StingyJack commented on #352
It solves the problem of needing a webserver _just to host an icon_.

The package is also self contained at that point. I think requiring this one piece of content to be external to the package seems inconsistent or weird to most who have tried to author packages.

[2018-05-31 13:43] StingyJack commented on #6969
So its a bug in nuget then. Are there other components in nuget that ignore settings changes, or is this the only one?

[2018-05-31 16:04] NickCraver commented on #3116
Still hitting this several times a week. Then I have to go clear the cache folder on dozens of build servers. *Please change this behavior*. It's not right. It doesn't follow HTTP standards. It's an invalid cache, straight up.

[2018-05-31 17:46] anangaur commented on #6988
@Panhectic Moving this to NuGetGallery as this is a service issue.

Yepp. There are quite a few issues with search and are compiled here: https://github.com/NuGet/NuGetGallery/issues/4124

One of the main issues with the current search is that it does not do a good job in searching for incomplete terms as line items 4 and 5 in your example describe.

As for casing having an effect on search - this

[2018-05-31 17:46] #6988 closed, assigned to nobody

[2018-05-31 17:46] anangaur commented on #6988
Issue moved to [NuGet/NuGetGallery #6015](https://github.com/NuGet/NuGetGallery/issues/6015) via [**ZenHub**](https://www.zenhub.com/)

[2018-05-31 18:27] jainaashish commented on #6976
PR#2259 merged.

[2018-05-31 18:27] #6976 closed, assigned to jainaashish

[2018-05-31 18:44] rohit21agrawal commented on #4082
@cortex93 markdown swallowed my ``` <PackageVersion> ``` tag. This is what i meant:

[2018-05-31 19:06] #5252 closed, assigned to nkolev92

[2018-05-31 19:51] peterhuene opened #6989 "Respect DOTNET_CLI_HOME for .NET Core SDK 2.1.4xx"
## Details about Problem

In 2.1.3xx of the .NET Core SDK, `dotnet <command>` crashes if `HOME` is unset on macOS and Linux or `USERPROFILE` is unset on Windows.  It is quite common for `HOME` not to be set on CI machines.

This has been fixed in the `release/2.1.4xx` branch of the CLI (see https://github.com/dotnet/cli/issues/8053 and https://github.com/dotnet/cli/pull/9327).  The CLI now respect

[2018-05-31 20:33] rrelyea commented on #3324
@Ramon-Balaguer -- Yes, the fix would be to move to Windows 10 or Windows 2016.

[2018-05-31 20:38] rrelyea commented on #3324
@AndreyAkinshin - Appreciate your questions. With the context of the backlog we have, replumbing IFileSystem through the NuGet client code base is not an investment we want to make, or support. I'm sorry if the team working on NuGet 3.0 in 2014/2015 didn't solicit better feedback about IFileSystem from the community at the time.

We aren't interested in duplicating investments that the OS/.NET Tea

[2018-05-31 20:43] rrelyea commented on #3324
The fix for NuGet.exe #6937 has been merged, and should ship in 4.8 Preview3. Will try to remember to post here when that is available.

[2018-05-31 21:33] nkolev92 commented on #6989
Could this easily lead to an experience where a user ends up with multiple global packages folder?

Should NuGet warn anytime it uses DOTNET_CLI_HOME instead of the user's home directory?
This will affect config discovery too, which would lead to a funny experience.

Might be a basic question, but what's a true prod example where the $HOME is not set?

//cc
@rrelyea

[2018-05-31 21:42] nkolev92 commented on #6950
@safern

I see some weirdness here.
I was not able to repro it on 1 machine.
It fails with some weird errors on others.

Where is the DotnetToolCommand set?
Which version of dotnet is supposed to be used here?

I don't see the log after building.
In which directory is the log supposed to be?
Can you attach your log?

[2018-05-31 21:45] peterhuene commented on #6989
I think warning the user that DOTNET_CLI_HOME is being respected isn't a bad idea; we could certainly add that to the CLI too.

A production example is Azure/VSTS where some services aren't running as a user with a home directory.  Most recently was today with VSTS trying to install 2.1.300 as such a user and failing during first-run experience for dotnet.

I'm sure there are CI vendors out there

[2018-05-31 22:20] nkolev92 commented on #6930
I don't see as horrible of performance as in these logs.

This is what I get
[code]

This package has a lot of content files and currently there's no batching on project-system side to handle these cases.

We'd need an extra API from PS side to handle this.

I think the relevant code is [here](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/Pro

[2018-05-31 22:29] #4553 closed, assigned to jainaashish

[2018-05-31 22:37] nkolev92 commented on #6989
Would dotnet always catch any irregularities with the HOME/DOTNET_CLI_HOME variables prior to calling NuGet?

Say, if we condition this to work only for .NET Core, would NuGet ever get to the place where it's the one failing?

[2018-05-31 22:49] peterhuene commented on #6989
It shouldn't because the CLI will check for either one to be set prior to invoking any `dotnet` commands (including `dotnet nuget`).

[2018-05-31 22:52] bording commented on #6930
@nkolev92 I just tried it again:
[code]
The performance is still quite bad. Can you think of anything environmental that would be making it so much quicker for you than I'm seeing?

[2018-05-31 23:07] livarcocc opened #6990 "dotnet pack does not create project.assets.json when no referenced nuget packages"
_From @mairaw on May 31, 2018 19:4_

@hansenfreddy commented on [Wed May 30 2018](https://github.com/dotnet/docs/issues/5680)

# Problem

Running dotnet pack will give these error messages if no referenced nuget packages:

`C:\Program Files\dotnet\sdk\2.1.201\Sdks\NuGet.Build.Tasks.Pack\build\NuGet.Build.Tasks.Pack.targets(284,5): error MSB4018: The "GetProjectReferencesFromAssetsFileTask" task fa

[2018-05-31 23:07] livarcocc commented on #6990
@rohit21agrawal moving to nuget for you to take a first look. If this is something we need to change in the CLI/SDK, just re-activate the CLI issue.

[2018-05-31 23:14] iUnknwn opened #6991 "Unable to add release package with pre-release dependency in Visual Studio Nuget UI for packages.config projects"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
Created packages (that dual target Framework 4.6 and Core 2.0) using dotnet pack command. The package relies on a pre-release package available on nuget.org.

Issue occurs using VS UI (Visual Studio 15.3.4)

NuGet version (x.x.x.xxx):
Package Manager Console Host Version 4.3.1.4445

dotnet.exe

[2018-05-31 23:14] nkolev92 commented on #6930
Not really.
This shouldn't be as disk intensive, and I'd imagine you'd need a really slow machine to get VS to slowdown completely.

If you can provide an etl trace for this, that would be great.

[2018-05-31 23:18] bording commented on #6930
This shouldn't be as disk intensive, and I'd imagine you'd need a really slow machine to get VS to slowdown completely.

This is a pretty high-end machine, including a Samsung 950 PRO SSD, so I don't think that's the problem!

Sure, I'd be happy to. Do you have some instructions I can follow to get you what you need?

[2018-05-31 23:25] nkolev92 commented on #6930
Sure.

1. Download and extract PerfView.exe. http://www.microsoft.com/en-us/download/details.aspx?id=28567
2. Run PerfView.exe collect /zip:true /nogui /threadtime:true /AcceptEULA from an elevated command prompt. This will launch another window and begin tracing.
3. Run the uninstall.
4. Press S on the window that showed up in step 2. This will generate a file called PerfViewData.ETL.ZIP.

[2018-06-01 00:07] bording commented on #6930
So of course as soon as I go to collect a trace, it starts behaving, taking about 40 seconds to uninstall!

I'll have to try it again later to find it actually acting like it has been. Once I get a trace, is okay if I email it to you instead of attaching it to the issue?

[2018-06-01 00:10] nkolev92 commented on #6930
@bording

Yep, that works.
nikolev[at]microsoft.com is the address.

Even 40s is pretty bad of course.
We'd need to triage and prioritize respectively, because improving this would be a multi-team effort.

[2018-06-01 00:13] nkolev92 commented on #6989
The reason I was asking that is, that probably the CLI should then emit a/the warning.

Especially since this is a special scenario, the noise wouldn't be too bad.
We would ofc need to summarize the behavior when this happens because the global packages folder/caching/config discovery and plugin discovery would change.

[2018-06-01 00:24] peterhuene commented on #6989
I'm onboard with having the CLI emit a warning, with perhaps a mechanism to suppress it for CI environments that don't want the warning logged in their console output upon every dotnet invocation.

[2018-06-01 00:32] nkolev92 commented on #6989
Sounds good.
I'll sync up with you when I get around to this bug.

[2018-06-01 01:55] ptutt1 commented on #3324
@rrelyea , you mention NuGet.exe 4.8.0 will fix this for Windows 10, but what about Windows Server 2012 R2?  We are experiencing this issue on some of our Team City build agents running NuGet.exe (3.4.4) pack on a node project.  Strangely, it is working on one of the build agents, even though the same paths, nuget version and Windows version is used.

[2018-06-01 07:23] cortex93 commented on #4082
[code]

[code]
[code]

[2018-06-01 16:59] letmaik commented on #4103
As part of continuous integration I'd like to auto-update dependencies to check that nothing breaks with newer versions. However, this seems impossible without this feature if you manage your dependencies in `.csproj` files. Any ETA for this? It seems like a basic feature to have.

[2018-06-01 17:44] #6918 closed, assigned to nobody

[2018-06-01 17:57] mishra14 commented on #4103
@letmaik you can always run `dotnet add package <package_name>`. This command will find the latest version of the package and update it in your csproj.

[2018-06-01 18:16] AceHack commented on #4126
yes any update?

[2018-06-01 18:34] letmaik commented on #912
Together with [not being able](https://github.com/NuGet/Home/issues/4103) to run `nuget update` for `.csproj` files this makes the CI scenario mentioned by @ericdunn hard to implement. I'm facing the same problem currently.

[2018-06-01 18:41] nkolev92 commented on #6990
@hansenfreddy
If I understand this correctly, you do not have any packages in your project?

Then it's likely that NuGet is discovering your project as a non-NuGet project.
Does running dotnet restore on that project do anything? Can you post the logs?

dotnet pack on a csproj would only work if the project is PR?
@rohit21agrawal can you confirm?

[2018-06-01 18:45] nkolev92 commented on #6991
I change the title, as you are using packages.config in this case.

This is a known packages.config restriction.

This is a duplicate of https://github.com/NuGet/Home/issues/2944

Please note that .NET Framework projects do support PackageReference.
And you can still install your package in .NET Framework PackageReference projects.

[2018-06-01 18:45] #6991 closed, assigned to nobody

[2018-06-01 18:53] Shilpishabdita commented on #6887
<3

[2018-06-01 19:08] letmaik commented on #4103
Unfortunately the [VSTS .NET Core](https://docs.microsoft.com/en-us/vsts/pipelines/tasks/build/dotnet-core?view=vsts) task does not support `add` and if you use the "custom command" feature then it doesn't support authentication, which I would need since I use a private VSTS feed. `dotnet restore` supports authentication of VSTS feeds. Back to square one I think.

[2018-06-01 19:55] StephenMolloy opened #6992 "Nuget pack fails with a 0 error code"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe

NuGet version (x.x.x.xxx): 4.6.2.5055

dotnet.exe --version (if appropriate): n/a

VS version (if appropriate): n/a

OS version (i.e. win10 v1607 (14393.321)): Windows Server 2016, Version 1607 (14393.2248)

Worked before? If so, with which NuGet version: Unknown

## Detailed repro s

[2018-06-01 20:52] rohit21agrawal commented on #4082
@cortex93 this is because your version string is invalid as per semver2.0 requirements:

Source: https://semver.org/

You need to remove ``` / ``` from your version string.

[2018-06-01 21:00] bording commented on #6930
@nkolev92 I was able to get the problem to repro again, and I've emailed you with information on how to get the trace.

[2018-06-01 23:17] SidShetye commented on #3891
Open since 2016 ... how is this not yet fixed and released? Please hurry up folks ...

[2018-06-02 07:45] AceHack commented on #6651
This issue is happening to me using dotnet:2.1-sdk.  It's my understanding that this is the replacement for aspnet-build, can the same fix be made?

[2018-06-02 08:55] martore commented on #6651
@AceHack

[code]

[2018-06-02 16:12] AceHack commented on #6651
@martore I have several projects that need restoring, it would be nice if I could just copy everything into docker including the dcproj and when inside docker it would know to ignore this project type.

[2018-06-02 16:13] AceHack commented on #6651
I've thought of creating different build configurations to do just this, so the outside build configuration build just the dcproj and the inside build configuration builds everything else.  Don't know if that works for restore as well.

[2018-06-02 20:09] dtivel opened #6993 "Signing: enable independent verification of primary signature and countersignature"

[2018-06-03 05:14] bhushan-firake commented on #5595
@afficionaddo Were you able to workaround this one? I have stuck with a lot of work pending.

[2018-06-03 11:51] StingyJack commented on #6465
@karann-msft @zhili1208   - since the devcomm issue has been closed, please reopen this one.

I need to reiterate that this issue is a real time vampire. Consider the amount of work involved to edit or at undo 30 to 100 web and app.config adds and/or pending edits in a solution _every time you updated a nuget package_.

And the UI workflow for undo of an app.config that is being added is **slow**,

[2018-06-03 14:14] dkalkwarf commented on #6979
Previously, I was trying to package my project with 'nuget pack.'  I have now experimented with other command lines.

'nuget pack AppLogger.csproj' gives me the same error.

'nuget pack AppLogger.nuspec' gives me a different error:

Values cannot be null or any empty string
Parameter name: value

After some investigation, it seemed that NuGet was looking for a version.  Therefore, I tried 'nuget p

[2018-06-03 17:38] tebeco opened #6994 "DotNet Tools - Embedded nuget in dotnet CLI dotnet does not resolve the good version"
Copied from https://github.com/dotnet/cli/issues/9409
since this is probably due to nuget and not dotnet cli

## Steps to reproduce
fake-cli on nuget.org :
![image](https://user-images.githubusercontent.com/2266487/40889289-5ddcd8aa-6764-11e8-8ad1-3233977e9653.png)

What i tried :
[code]

## Expected  behavior
it should install 5.0.0-rc18....

## Actual behavior
it installs `rc15`
[code]

Even tri

[2018-06-03 17:39] tebeco commented on #6978
@livarcocc  @anangaur
who should we ping to get answer on that one, this is still a blocker for Corporation right ?

[2018-06-03 23:06] anangaur commented on #6978
Related https://github.com/NuGet/Home/issues/6761
/cc: @rrelyea @nkolev92

[2018-06-04 03:01] tomeverin opened #6995 "Installed packages tab shouldn't paginate the list"
NuGet VS UI
NuGet version 4.6.0
VS version 15.7.1
OS version Windows 10 1803 build 17134.48

## Detailed repro steps so we can see the same problem

1. Open any project with a reasonable number of NuGet packages installed (e.g. 40-50)

2. Open the NuGet package manager UI and select the "installed" tab

3. Scroll to the bottom of the list of installed NuGet packages. Note that the list is page loa

[2018-06-04 03:56] Eilyyyy commented on #6651
i meet the same issue with the dockerfile:

[code]

fllow the output:

[code]

[2018-06-04 04:05] natemcmaster commented on #6651
@Eilyyyy It appears your Dockerfile is using a bad pattern generated for you by Visual Studio tooling. The VS tooling has been updated, but your code needs to change manually. I recommmend either:

1. Remove `-nowarn:msb3202,nu1503` and resolving the warnings/errors. This will require updating your Dockefile to include more files in the `COPY`, such as the `.dcproj` or any extra `.csproj` files yo

[2018-06-04 06:13] tebeco commented on #6978
i tried without the password it still break
i tried with a username and password that only contains letter lower and upper and digit
still break

[2018-06-04 06:21] tebeco commented on #6978
if only it was easy to create a docker images in order to diagnostic that
it could be a Mandatory test in the Integrration test in the CI of both `nuget` and `dotnet`
i have no idea how to create an NTML pro y using windows containers so i could make it run in docker :s

[2018-06-04 08:13] dojo90 commented on #3324
I had the same problem, but with **nuget.exe v3.5.0** I could successfully restore the packages without problems!

[2018-06-04 08:25] cortex93 commented on #4082
@rohit21agrawal. Ok. I close this issue. When fixed, the related one should lead to better consistency in error message when building without PackageVersion.

[2018-06-04 08:25] #4082 closed, assigned to nobody

[2018-06-04 10:47] ghost commented on #5899
The workaround is NOT appropriate.  For even the simplest VSIX project, there are over thirty packages that are pulled in.  You can not expect developers to manage that in the .CSPROJ file manually as a workaround.

[2018-06-04 10:48] ghost commented on #5899
This issue has nothing to do with packages.config (PC) to PackageReference (PR) Migration.  You can reproduce the problem using a package.config as well.  VSIX just seems to be brain damaged when trying to use NuGet packages.

[2018-06-04 15:43] brownbl1 commented on #2714
+10.

[2018-06-04 16:53] jainaashish commented on #6995
This make sense for installed tab.

[2018-06-04 16:54] nkolev92 commented on #6937
@zhili1208
Can this be closed now?

[2018-06-04 16:56] livarcocc commented on #6994
The CLI follows NuGet's version resolving mechanisms and we do not intend to special case version semantics just for tools. Note that if this was not a tool but a package, the same resolution logic would apply. As such, I am closed the CLI issue and we can continue discussing it here, in the NuGet one.

[2018-06-04 17:05] Shilpishabdita commented on #6887
<3

[2018-06-04 17:17] nkolev92 commented on #6983
https://github.com/NuGet/NuGet.Client/commit/1645951fb1589feb642a0df7ffe580aa4f66be12

[2018-06-04 17:17] #6983 closed, assigned to nkolev92

[2018-06-04 17:27] tebeco commented on #6994
@livarocc the `nuget.config` ask for the latest right ?

if `dotnet` follows `nuget`version resolving
why does
`nuget install fake-cli` install `rc18`
while
`dotnet install tool fake-cli` install `rc015`

[2018-06-04 17:30] livarcocc commented on #6994
It may be a restore difference vs nuget install. `dotnet install` behind the scenes does a `dotnet restore` and not `nuget install`

[2018-06-04 17:30] tebeco commented on #6994
also i do not see any “—allow-prerelease” in the `dotnet tool install` to match the nuget version resolution

[2018-06-04 17:35] livarcocc commented on #6994
See https://github.com/dotnet/cli/issues/8485.

[2018-06-04 17:45] tebeco commented on #6994
just to be sure ... it means `dotnet restore` ignore `nuget.config` ?

[2018-06-04 18:21] anangaur commented on #5595
Another report: https://twitter.com/btfirake/status/1003692411036422144
cc: @nkolev92

[2018-06-04 18:24] nkolev92 commented on #5595
@bhushan-firake

Is that a Visual Studio error you have in your screen shot?
What are the actions you are taking?

I am not sure why nuget.exe is being in VS.

[2018-06-04 18:37] nkolev92 commented on #6994
I did a quick sanity test on this and it seems like NuGet would resolve the correct thing if I pass it `5.0.0-rc*`

Could be the case that the correct string is not set by the CLI?
Can I somehow get the proj generated during the tool restore?

//cc @wli3
![fake-cli](https://user-images.githubusercontent.com/2878341/40934902-298a2260-67eb-11e8-94dd-5ef94ba6303e.png)

[2018-06-04 18:53] wli3 commented on #6994
This is the temp project generated

[code]

[2018-06-04 18:57] wli3 commented on #6994
But cli parse the version with NuGet.Versioning https://github.com/dotnet/cli/blob/master/src/dotnet/commands/dotnet-tool/install/ToolInstallCommand.cs#L97

will the * be preserved?

[2018-06-04 19:04] wli3 commented on #6994
The result is `5.0.0-rc`.

[code]

[2018-06-04 19:06] nkolev92 commented on #6994
@wli3

Can you please try using `versionRange.OriginalString` ?

Not sure what the VersionRangeFormatter would do off the top of my head.
I will take a look later.

[2018-06-04 19:12] wli3 commented on #6994
@peterhuene may have more context

[2018-06-04 19:19] rohit21agrawal commented on #6979
here is what i get when i try and pack your provided project using nuget.exe 4.6.2:

[code]

I deleted the bin and obj folder and passed the ```-Build``` flag to the commandline to make sure that the project gets built before packing. You can choose to skip ```-Build``` and build the project manually first before running pack without the build flag.

[2018-06-04 19:36] wli3 commented on #6994
versionRange.OriginalString is almost like passing a string. And VersionRangeFormatter should do the same thing. VersionRangeFormatter is not the right api to produce a normalized version range?

[2018-06-04 19:43] tebeco commented on #6994
stupid question but should it also have worked with `5.*` ? or is it the same issue as the `prerelease` flag ?

[2018-06-04 19:48] nkolev92 commented on #6994
@tebeco

The problem here is not how NuGet is resolving it.
The problem is some information is being swallowed when the CLI calls NuGet to get the package.

@wli3

Why do you need to normalize the version range?

NuGet will do that for you, it will use the exact same APIs.
So if your code can parse the version, so will NuGet later on.

[2018-06-04 20:08] peterhuene commented on #6994
`OriginalString` should work for our purposes.  This appears to be a regression caused by https://github.com/dotnet/cli/commit/5ebbd618ec27e5c6da9142b8c1166b2755cba898.

[2018-06-04 20:10] livarcocc commented on #6978
@rohit21agrawal @nkolev92

[2018-06-04 20:12] tebeco commented on #6978
After reading myself later deeply apologize about the way the things ended up here :s
will be more positive as possible ;)

[2018-06-04 20:15] livarcocc commented on #6994
Let's close this issue then and re-activate the original CLI issue and use it to track fixing it on our side.

Thanks, everyone.

[2018-06-04 20:15] wli3 commented on #6994
I prefer a normalize string to original since we need to pass it by temp project, and we don't know what original will do when passed by xml or command line. If there is ">" in the original version, it will break msbuild xml format. Or there is a extra space, or ":", if we pass it by command line. A normalize the format should be the most safe way. And since we need to parse it once anyway.

Accor

[2018-06-04 20:17] peterhuene commented on #6994
I assume our validation check would prevent any illegal characters not supported in a NuGet version number, no?  If there are potential problems with it, it should be our responsibility to properly escape it when writing out the temp project, imo.

[2018-06-04 21:23] nkolev92 commented on #6994
Closing this issue in favor of the CLI one.

I'll investigate the "S" comment and see if we need to take an action there.

[2018-06-04 21:23] #6994 closed, assigned to nkolev92

[2018-06-04 21:25] anangaur commented on #1634
Closing this as duplicate of https://github.com/NuGet/Home/issues/5762 where more discussions have taken place.

[2018-06-04 21:25] #1634 closed, assigned to nobody

[2018-06-04 21:28] nkolev92 commented on #6978
Not sure what's going wrong here.

@tebeco
We need to investigate deeper.

Can you please try msbuild /t:restore? Not dotnet msbuild, but the VS built in one.

[2018-06-04 21:30] blowdart commented on #5762
And of course this needs linked to the nice deprecated feed I want as its source

[2018-06-04 23:41] DanWallaceAdslot commented on #5762
Nice. I was following the dupe PR. I ended up writing a powershell script that just parses packages.config, hits our repo for each package and checks the version there.

That being said, could there be an option to specify multiple repo's (as we have private ones with our own packages on there). --repos=repo1.com,repo2.com or would this just read from the config and do all enabled ones by default?

[2018-06-04 23:56] anangaur commented on #5762
@blowdart What do you mean by deprecated feed?

[2018-06-04 23:58] anangaur commented on #5762
Here is write up on the `outdated` command - mostly a summary of what has been discussed so far in the issue. Feel free to point out any missing element(s).

Spec: [Show outdated packages](https://github.com/NuGet/Home/wiki/Show-outdated-packages)

[2018-06-05 00:02] anangaur commented on #5762
@DanWallaceAdslot The `outdated` command is supposed to run on the project/solution and list out the outdated packages that need an update. I am not sure whatda you mean by specifying repos in here? Do you mean package repos? If so, NuGet will just use those listed in the `nuget.config`

[2018-06-05 00:09] sjk07 opened #6996 "[Proposal] Nuget.Client please use SEMVER correctly..."
When updating `NuGet.Commands` and `Nuget.Packaging` from 4.5 to 4.7 caused breaking changes in

- `InstallFromSourceAsync` introduced in NuGet/NuGet.Client#1854
- `PushRunner.Run` introduced in NuGet/NuGet.Client#2043

Please take into consideration other projects that are using the public api and version correctly. :feelsbad:

[2018-06-05 00:15] nkolev92 commented on #5762
I don't see a problem with having a --source param on the command.

However, we don't recommend having variable sources across NuGet commands (specifically restore).

Even with a lock file, using different sources among different commands will lead to a confusing behavior, where the resolved package versions vary because of differences on the feeds (when updating the lock file).

There's a use cas

[2018-06-05 01:50] kjbetz commented on #5762
Here's an old issue I suggested a while ago (https://github.com/dotnet/cli/issues/7483) ... Please make this happen. It's not really helpful to just show me what's outdated. If you can "just" implement the way yarn does it, it would be awesome.

`yarn upgrade`
https://yarnpkg.com/lang/en/docs/cli/upgrade/

And more importantly, `yarn upgrade-interactive`
https://yarnpkg.com/lang/en/docs/cli/upgrad

[2018-06-05 02:17] DanWallaceAdslot commented on #5762
@anangaur Sorry, my terminology is all over the place. I was referring to the packageSources inside NuGet.config and was wondering about a filter. Thanks for clearing it up and ignore my comment :)

[2018-06-05 02:28] dkalkwarf commented on #6979
It didn't work.  Here is a dump of the error message.

------------------------------------------------------------------

`C:\projects\NuGetTest\AppLogger>nuget pack .\applogger.csproj -Build
Attempting to build package from 'applogger.csproj'.
MSBuild auto-detection: using msbuild version '15.7.179.6572' from 'C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\MSBuild\15.0\bin'.
Build

[2018-06-05 02:35] rafaelsc commented on #708
Any solution or alternatives to accessing a private NuGet feed behind Azure AD?

[2018-06-05 02:40] AceHack commented on #6651
@natemcmaster I would be best if all the dotnet command could just target the sln inside the container and everything just work, like no-op dcproj sdk inside the container.

[2018-06-05 07:28] #6984 closed, assigned to nkolev92

[2018-06-05 08:31] devcrafting commented on #6978
Same problem here with 2.1.300 final release.
Tried nuget.exe restore (4.7.0.5148, the same version dotnet sdk uses), it works. So the problem would be more on https://github.com/dotnet/cli/issues/9358, no ?

[2018-06-05 09:42] alex-belikov commented on #6987
Thank you for clarifying the difference between Build and Rebuild, good to know!
The reason I mostly use Rebuild is that sometimes Build is not picking up latest changes I just did (and going to debug it for example). But that's a separate issue, I'll keep eye on it and will report if it will happen again.
An other point here is that my projects have not too many NuGets - from 2 to 6. If there wer

[2018-06-05 10:00] pbalaga commented on #6977
Does it mean that Nugetizer has no support for multitargeting currently?

Below is what I'm experiencing:
1. `nuget pack MyProject.nuspec` is able to pack output for multiple target frameworks (given that the `files` section is configured correctly).
2. Running `msbuild "/t:Clean;Restore;Rebuild" /p:PackOnBuild=true /p:NuspecFile=MyProject.nuspec` fails with:

3. Running  `msbuild "/t:Clean;Restor

[2018-06-05 10:48] alexdrl opened #6997 "Question, how can be NuGet PackageReference assemblies be imported in a T4 Text Template"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): Launching the restore from msbuild

NuGet version (x.x.x.xxx): Included in VS

dotnet.exe --version (if appropriate):

VS version (if appropriate): VS 15.7.3

OS version (i.e. win10 v1607 (14393.321)): Windows Server 2016

## Detailed repro steps so we can see the same problem

I have the same

[2018-06-05 17:31] tebeco commented on #6978
@livarcocc
https://github.com/tebeco/CheckHttpProxyNetCoreApp21

Is that what we were talking about yesterday ?

====
my tests on `msbuild /t:restore` were irrelevant as i forgot to clear all caches locally
I have to leae works i will test again tomorrow

[2018-06-05 17:36] tebeco commented on #6978
is there anyone that knows if there's a `Windows Container` (probably nano server) that exists with a simple user/password with an NTLM proxy, so i could test it on my personnal laptop without beeing restricted by work hours ^^

[2018-06-05 18:53] bgavrilMS commented on #3891
The workaround is fine and I can find projB in the lib folder of the nuget package. However, in the generated nuspec, projB.dll appears as a dependency, so I would need to create and publish a separate nupkg for projB ? Can this be avoided ? (PrivateAssets="All" does not seem to work)

[2018-06-05 19:07] nkolev92 commented on #6987
@alex-belikov
`sometimes Build is not picking up latest changes I just did `
I assume that by this you mean that the changes are not compiled? And not a NuGet related problem?

[2018-06-05 19:41] rohit21agrawal commented on #3891
@bgavrilMS did you make sure you restored after adding PrivateAssets=all ? the info is read from assets file, so if the assets file was not updated, it would seem like it did not work.

[2018-06-05 19:46] nkolev92 commented on #6975
One difference among the projects here is the package version for the NetStandard library.

In the working case it's 2.0.0
In the non-working case it's 2.0.1.

The problem arises from the targets files not being selected by NuGet.

[code]
is missing in the non working case.

Now I tried an exact repro like recommended on a VM and did not see any problems there.
The Fallback folder contained the ex

[2018-06-05 20:10] bgavrilMS commented on #3891
@rohit21agrawal - thanks for that, I did not realize the asset file was recreated on restore. Works great.

[2018-06-05 21:42] rohit21agrawal commented on #6979
can you just run msbuild on your project to see what happens? this is most likely a msbuild issue, and not a nuget one. msbuild issues can be filed at https://github.com/microsoft/msbuild

[2018-06-05 23:04] karann-msft commented on #352
@StingyJack to clarify, this path is to a folder within the package? So this is about flexibility to put the icon at a custom location versus a standard location say the package root.

[2018-06-05 23:23] rohit21agrawal commented on #6997
@alexdrl not sure if i understand your question correctly, but the *.g.props file in the obj folder contains certain properties that might be of interest to you:

[code]

[2018-06-06 00:21] PathogenDavid commented on #352
I think the idea of using a file path for `iconUrl` was simply inspired by the way icons work today. I imagine most people would be OK if the package icon was just a specially named file at the root of the package.

[2018-06-06 00:28] paulovictorcg commented on #6651
Same issue to.  :'\

with this docker:

`FROM microsoft/aspnetcore-build:2.0 AS build-env
WORKDIR /app

# Copy csproj and restore as distinct layers
COPY *.csproj ./

RUN dotnet restore -nowarn:msb3202,nu1503 -p:RestoreUseSkipNonexistentTargets=false

# Copy everything else and build
COPY . ./
RUN dotnet publish -c Release -o out

# Build runtime image
FROM microsoft/aspnetcore:2.0
WORKDIR /app
CO

[2018-06-06 00:29] paulovictorcg commented on #6651
Same issue to:

C:\Program Files\dotnet\sdk\2.1.200\NuGet.targets(928,5): warning MSB3202: The project file "C:\DAL\DAL.csproj" was not found. [C:\app\thoughtworks.csproj]
C:\Program Files\dotnet\sdk\2.1.200\NuGet.targets(1019,5): warning MSB3202: The project file "C:\BLL\BLL.csproj" was not found. [C:\app\thoughtworks.csproj]
C:\Program Files\dotnet\sdk\2.1.200\NuGet.targets(1019,5): warning MSB3

[2018-06-06 00:36] nkolev92 commented on #6651
Thanks @natemcmaster. This specific issue slipped through my fingers.
Closing this as duplicate of https://github.com/NuGet/Home/issues/6665.
There is no NuGet actionable.

Please refer to https://github.com/NuGet/Home/issues/6665#issuecomment-380572274 for a detailed explanation.

[2018-06-06 00:36] #6651 closed, assigned to nobody

[2018-06-06 01:35] chipplyman commented on #420
Is this really the right behavior?

This behavior definitely causes problems when converting from source-controlled references to Nuget-controlled references.  I have not tested, but I suspect that this breaks at build time in general.  If I build at time X, then restore Nuget package to a build from time X-100, then build again, I expect any projects dependent on the package to be rebuilt.  Becau

[2018-06-06 06:23] alexdrl commented on #6997
@rohit21agrawal The problem is that I would need to do: `<#@ assembly name="$(NuGetPackageRoot)\newtonsoft.json\11.0.2\lib\netstandard2.0\Newtonsoft.Json.dll" #>`

And I would like to do something like:
`<#@ assembly name="$(ResolvedPackageReference('Newtonsoft.Json'))" #>`, something that I think that could be not posible, but I have not read something in the documentation about that.

Note that

[2018-06-06 10:12] alexdrl commented on #6997
Could be relate to something like https://github.com/NuGet/Home/issues/6949

[2018-06-06 11:05] logichaos commented on #6675
So I changed the nuspec file buildAction to compile and then called "nuget pack". Then I added the .nuget package that was created to the aforementioned project and nothing happened. No files added or anything.

No to mention that I do not want to add files that will be compiled, I just want to add files as content to the project.

If you help me figure out how I can debug nuget locally, I will tr

[2018-06-06 11:14] tmds commented on #6978
Maybe this is an issue with the new SocketsHttpHandler. You can use the 2.0 http handler by setting `DOTNET_SYSTEM_NET_HTTP_USESOCKETSHTTPHANDLER` to `0`.

[2018-06-06 12:04] tmds commented on #5762
related https://github.com/NuGet/Home/issues/6848 is about a package being able to declare it has patch releases (with semver semantics). That metadata can be used to automatically roll-forward patch versions, e.g. during the restore operation.

[2018-06-06 12:09] tmds commented on #2867
@daveaglick @ghuntley ptal at https://github.com/NuGet/Home/issues/6848 which is about a package being able to declare it has patch releases (with semver semantics). That metadata can be used to automatically roll-forward patch versions, e.g. during the restore operation.

[2018-06-06 13:30] SirinivasK commented on #6978
I am also facing the same issue. I am struggling to find a solution for last two days. This is a blocker for me at the moment. I tried setting up the http_proxy/https_proxy with the username but still no luck.
This is how my docker file looks like:
FROM microsoft/aspnetcore:2.0-nanoserver-sac2016 AS base
WORKDIR /app
EXPOSE 80

FROM microsoft/aspnetcore-build:2.0-nanoserver-sac2016 AS build
WORKDI

[2018-06-06 14:31] unickq commented on #3891
Wow. it's still here. June 2018 🤓

[2018-06-06 14:55] anangaur commented on #6978
/cc: @rrelyea

[2018-06-06 15:30] bgavrilMS opened #6998 "Include ProjectReference in the nuget package lib and do not set it as a dependency in the nuspec"
This is related to #3891

1. ProjA has a project reference to ProjB
2. I implemented the workaround in #3891, so ProjB.dll now appears in the nupkg lib folder
3. Pack ProjA

Actual:  ProjB is still listed as a <dependency> in the nuspec
Expected: ProjB should not be listed as a dependency, as this will require me to publish a nuget package for it

Note: Setting PrivateAsset="All" on the ProjectRef

[2018-06-06 16:18] Fresa commented on #6916
Any progress? This does not seem to have been resolved. I have the same issue.

[2018-06-06 17:34] anangaur commented on #5762
@kjbetz What you are asking is an `update` command that does not exist today let alone an interactive one. We will get there and implementing an outdated command will be a step in that direction.

[2018-06-06 19:07] Tadimsky opened #6999 "project.assets.json is not being updated when restoring"
## Details about Problem

I recently updated all of our services to target .NET Core 2.1 and everything worked great on my one machine and on someone else's machine. However, most other people were running into an issue like this:

[code]

Nothing seemed to fix it - I tried nuking every nuget cache I could find, reinstalling Visual Studio, etc.
I then compared the `project.assets.json` file on the

[2018-06-06 19:17] jainaashish commented on #6675
@ElMaxxi Sorry for the confusion, if you just want to add files as Content then you can just set buildAction to `Content`. These files are added as linked file to the project, meaning they aren't directly copied into project folder but available to be consumed in your code. After you install this package check in `obj/<projectName>.csproj.nuget.g.props` file, all your files must be mentioned there

[2018-06-06 20:33] alex-belikov commented on #6987
@nkolev92
Yes, correct.

[2018-06-06 23:12] nkolev92 commented on #6987
@alex-belikov

If you have scenarios where you consistently run into issues with incremental build, and you can provide a repro, I'd suggest filling an issue with [MSBuild](https://github.com/Microsoft/msbuild/issues/new). The team there will be happy to help.

[2018-06-06 23:20] nkolev92 opened #7000 "Consider not caching the libraries section with force only."
Follow up to https://github.com/NuGet/NuGet.Client/pull/1785

We've gotten occasional bugs filed because of this.
https://github.com/NuGet/Home/issues/6999

It became even more apparent with the fallback folders not being built correctly.

The trick here is differentiating between restore with force, a restore in which the inputs have changed.

We also have to consider whether we want rebuild to c

[2018-06-06 23:31] nkolev92 commented on #6999
@Tadimsky

Do you still have a machine where this never worked?

Can you look for the Microsoft.EntityFrameworkCore.Abstractions package location on disk and post that enumeration?
I'd like to figure out how this happened in the first place, why the libraries section doesn't contain the assemblies in the first place.
Did you do any specific actions when you ran into this problem?

The reason why y

[2018-06-06 23:37] nkolev92 commented on #6978
If nuget.exe works, but dotnet.exe restore doesn't (please make sure you clean all the caches as @tebeco
 mentioned, nuget locals or dotnet nuget locals), can you please test whether msbuild.exe works?

That'll help us a lot toward diagnosing this issue.

If you went through the above, and msbuild.exe **works**, please try setting `DOTNET_SYSTEM_NET_HTTP_USESOCKETSHTTPHANDLER=0`. as @tmds recommen

[2018-06-07 07:04] logichaos commented on #6675
@jainaashish  Thanks for the answer. I have fiddled around with the example that you linked and I am experiencing some peculiar behavior. I remove the "authoring" package to the "consuming" project and it can't build (OK so far). I add the package that I created using the .ps1 script and now it builds. HOWEVER, inside visual studio I do NOT see the files anywhere in the solution explorer.
I have,

[2018-06-07 07:04] tebeco commented on #6978
@nkolev92 so if i set a proxy (using a PAC Script) in IE (Win10)
the following should works ?
nuget seems perfectly ok that moby ever set `HTTP_PROXY`
never seen `dotnet` works since a long time without it)

[code]

will test that today

[2018-06-07 07:42] alexei-matveev commented on #4387
Some may be affected by Dotnet SDK using too specific SONAMEs for libssl.
I just had to troubleshoot somewhat similar problem.
Dotnet picks some old libss.so.1.0.0 from a random directory whereas most
executables refer to libssl.so.10 or libssl3.so on CentOS 7:

$ strace -e open dotnet restore 2>&1 | grep libssl
open("/lib64/tls/libssl.so.1.0.2", O_RDONLY|O_CLOEXEC) = -1 ENOENT (No such file or di

[2018-06-07 09:33] jr01 commented on #3891
A small improvement to @rohit21agrawal workaround that allows for mixing 'nuget' projectreferences and 'privateassets' projectreferences .

[code]

ClassLibrary1 is packaged as a nuget and added to the generated nuspec. Classlibrary2/3 (the privateassets) are copied to the lib.

[2018-06-07 10:18] StingyJack commented on #6987
Is this the same for those who do Clean, Build ?

[2018-06-07 11:12] oskogstad opened #7001 "NuGet pack "The DateTimeOffset specified cannot be converted into a Zip file timestamp""
## Details about Problem
Running nuget pack .nuspec fails with the message
``` "The DateTimeOffset specified cannot be converted into a Zip file timestamp." ```

It happens with nuget 4.6.2 for a .dll file that has ` LastWriteTime ` 31/12/1979 23:00:00 +00:00

![image](https://user-images.githubusercontent.com/5313373/41094168-a3daef68-6a4d-11e8-8c7a-08a13f1a114a.png)

NuGet product used (NuGet.ex

[2018-06-07 12:19] Bartmax commented on #5358
having same problem within docker container

`--disable-parallel` didn't help

[2018-06-07 12:51] AmyJeanes opened #7002 "NuGet 4.7.0 fails to restore dotnet core 2.1 projects"
## Details about Problem

NuGet product used NuGet.exe

NuGet version 4.7.0:

dotnet.exe --version (if appropriate): 2.1.300

VS version (if appropriate): N/A

OS version (i.e. win10 v1607 (14393.321)): Windows Server 2016

Worked before? If so, with which NuGet version: N/A

## Detailed repro steps so we can see the same problem

1. Create a VS solution with a NET Core 2.1 project

2. Add any nug

[2018-06-07 12:53] AmyJeanes commented on #7002
Apologies, accidentally pressed enter too early and it submitted 😢 all fixed up now

[2018-06-07 13:49] AmyJeanes commented on #7002
Actually, looks like I might have just needed to make sure I had the latest dotnet SDK during the build - will re-open if I continue to see issues but that looks like it solved it.

[2018-06-07 13:49] #7002 closed, assigned to nobody

[2018-06-07 14:12] evil-shrike opened #7003 "Nuget restore ingores repositoryPath setting in nuget.config if Directory.Build.props file exists"
Given a project
[code]

Inside NuGet.Config  I have `repositoryPath` specified:
[code]

I run `nuget.exe restore MyProject.sln -Source https://company.org/api/nuget/nuget-virtual -NoCache`
and have all packages restored into packages_legacy folder.

Have been working for year without problems.

Now I've  added a `Directory.Build.props` file at root folder (besides packages_legacy folder) and nuget

[2018-06-07 14:50] Hubert-Rybak commented on #5358
Had same problem with my Teamcity agent working with Docker-in-Docker option, and exposing port 80 on agent container did the trick (not sure why though).

[2018-06-07 16:37] diegotrujillor commented on #6978
Trying the @tebeco and @nkolev92 proposed above thread I got this error on `dotnet restore`:

Unhandled Exception: System.TypeInitializationException: The type initializer for 'Ssl' threw an exception. ---> System.TypeInitializationException: The type initializer for 'SslInitializer' threw an exception. ---> Interop+Crypto+OpenSslCryptographicException: error:0B07C065:x509 certificate routines:X50

[2018-06-07 16:51] jainaashish commented on #6675
`HOWEVER, inside visual studio I do NOT see the files anywhere in the solution explorer.`

Can you reload the solution and see if that shows th file then? And what's the content of `obj/<projectName>.csproj.nuget.g.props` file?

[2018-06-07 16:59] tebeco commented on #6978
@nkolev92

TL;DR)
`nuget restore` : OK
`dotnet restore`: KO with a 407

Details :
[code]
edit the `nuget.config` and replace with :
[code]

edit the csproj :
[code]

[code]

[2018-06-07 17:41] jainaashish commented on #7003
I don't think that should make any difference. Do you have anything specific to NuGet in your `directory.build.props` file? Can you provide repro solution?

[2018-06-07 17:49] nkolev92 commented on #6675
In the old project format content files are not displayed in the UI.
There's a tracking issue for that - https://github.com/dotnet/project-system/issues/3431

[2018-06-07 17:51] nkolev92 commented on #6987
@StingyJack

In Visual Studio, clean - build will have the same NuGet behavior as rebuild, meaning it will defeat the cache.

This is not the case on the commandline (msbuild).
The reason for that is how it worked historically in VS and because from the commandline restore is not implicit on build, like it can be in Visual Studio.

[2018-06-07 17:53] tebeco commented on #6978
Is it possible to change the title to something that does not involve either
username
password
or env var

something like this (there’s probably a better title ^^) :
`embedded nuget version of dotnet 2.1.300 does not handle windows NTLM proxy settings (settings in Internet explorer panel)`

[2018-06-07 17:55] nkolev92 commented on #7003
I think the answer is this part:
[code]

NuGet will treat this project as Package Reference if there's a package reference element in it.
PackageReference projects don't use repository path.

[2018-06-07 17:57] jainaashish commented on #7003
ohh yes, I didn't see that line :)

[2018-06-07 18:34] ghost commented on #1851
Bump for update.

[2018-06-07 19:41] natemcmaster opened #7004 "PackagePath with trailing slash leads to zip file with bad entry"
When PackagePath has a trailing backslash, the nupkg produced contains an incorrect zip with `//` in the entry name.

## Details about Problem
dotnet.exe --version: 2.1.300
OS: macOS
Worked before?: not sure

## Repro

1. Clone this repo: https://github.com/aspnet/Mvc/tree/379345b530697ef11d86cc778c28e660696d8b77
2. `./build.sh /p:SkipTests=true`

### Sample Project

The problem is here: https://g

[2018-06-07 19:41] StormRider01 commented on #3050
@emgarten
 "Versions must be treated as Semantic Versions, not as strings"

I'll also ask Why?
I manage a couple hundred packages- anything from .net console apps to internal websites to SSRS report bundles and even a dozen Access front ends. SemVer is pretty much pointless- there's little cross package dependency, so I'd end up with a bunch of 1.0.XXX packages.

I use a Git -> TeamCity -> ProGet

[2018-06-07 19:57] InteXX commented on #3050
@emgarten

Would you comment on @StingyJack's assessment of your position:

"This reads as 'We broke it, but aren't willing to fix it. One of you can.' Is that really what is being said?"

[2018-06-07 19:57] InteXX commented on #3050
@emgarten

"would you share your exact scenario where you having problems"

Certainly. I'd love to.

Would you answer my two questions first.

[2018-06-07 20:25] emgarten commented on #3050
@StormRider01 is this for style purposes, or are your tools having trouble consuming `2018.6.7.44` over `2018.06.07.44`?

I can see how you could consider the 0 padding to be data, but the same thing applies to XML for the nuspec. If you format the nuspec file one way, and after pack whitespace has been removed due to formatting, would you consider that a bug?

The nuspec is XML and should be used

[2018-06-07 20:39] ticktickMOF opened #7005 "NuGet.VisualStudio.IVsPackageInstaller - calling on a project with no package references always uses packages.config, even if the default is set to PackageReference"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS Extensability API

NuGet version (x.x.x.xxx): 4.6.0

dotnet.exe --version (if appropriate):

VS version (if appropriate): 15.6.6

OS version (i.e. win10 v1607 (14393.321)):  Win 7 SP 1

Worked before? If so, with which NuGet version: don't know, probably not.

## Detailed repro steps so we c

[2018-06-07 20:50] InteXX commented on #3050
@emgarten

The pervasive question that seems to be giving you significant trouble is Why?

_Why_ must you shove SemVer down our throats, in the face of us begging you not to? What problem does it solve that's worse than the problem it's creating?

Is this someone's mere personal preference that you're forcing upon us? What issues did the design team face when considering this decision? Did they co

[2018-06-07 21:24] StingyJack opened #7006 "`Update-Package -id <id of package> -Reinstall ` is reinstalling ALL packages for ALL projects in the solution"
THe package I'm re-installing is an in house one with one other in-house dependency.

VS is having trouble restoring/building, and I dont want to trash the allowedVersions already set throughout the solution, so I ran the update package command in the pm console, and its re-installing everything - Bootstrap, Jquery, and like 50 other private and public packages for all the projects in the solution

[2018-06-07 21:31] StormRider01 commented on #3050
@emgarten it's certainly a style purpose, but it also creates a disconnect- TeamCity's build has `2018.06.07.44`, but Octopus sees it as `2018.6.7.44`. I don't do any automation against Octopus, so I don't know if that would cause a tooling problem.

As far as the nuspec being XML, well, here's the .xsd
`<xs:element name="version" maxOccurs="1" minOccurs="1" type="xs:string" />`
So yes, it's a str

[2018-06-07 22:25] emgarten commented on #3050
@StormRider01 thanks for the example, I can see wanting to keep these versions in sync if TeamCity is producing the version string here.

[2018-06-07 22:38] emgarten commented on #3050
This thread has been going on for 2 years this month and I would like to see this draw to a close. All questions have already been answered here ad nauseam in my opinion.

**Summary of this thread:** Version normalization does not work in some scenarios where external tooling is expecting a different format, or where different stylistic choices are desired.

**Current state:** Normalization does w

[2018-06-07 22:42] Tadimsky commented on #6999
Hey @nkolev92

I do not have it anymore, but I'm thinking I could just restore the assets file and it would break again?
How would you like me to find the package location? I was just using Windows Search before.
It was showing up in the package cache, the dotnet sdk store folder and the Nuget Fallback location (also under dotnet).

No, all I did was try and build the project on the other machines

[2018-06-07 22:51] InteXX commented on #3050
@emgarten

Please review the issue history. Much of the delay has been due to your own silence and obfuscation. We've posted problem report after problem report, with little to no response.

When there does come a response, it's in the form of telling us how we're doing it wrong. There's been no consideration offered toward the problems that this breaking change is causing; there's only been refus

[2018-06-07 22:51] nkolev92 commented on #6999
@Tadimsky
Personally I use a tool called "everything" for things like this.

All 3 enumerations would been great.
Depending on the type of project, different locations are used (non-.NET Core projects won't use the SDK Fallback Folder)

I'd imagine it works now on all machines if you try to restore again, as I'm suspecting it's either an extraction or a setup problem.

[2018-06-07 22:56] InteXX commented on #3050
@emgarten

They certainly have not. Anyone reading this thread can recognize this.

[2018-06-07 23:23] Tadimsky commented on #6999
Here is some more information we found:

### Machine that doesn't work:

![microsoftteams-image 3](https://user-images.githubusercontent.com/1149244/41131068-7b4744fe-6a6e-11e8-9273-2dc267b6868b.png)
[project.assets.json](https://github.com/NuGet/Home/files/2082383/project.assets.txt)

### Machine that works:

![microsoftteams-image 4](https://user-images.githubusercontent.com/1149244/41131088-a2c

[2018-06-07 23:26] nkolev92 commented on #6999
NuGet itself doesn't write to the Fallback Folder but merely reads from it.

Basically the root cause here is the assembly for that package is not in the lib folder on the broken machine.

Looks like something could have gone wrong during setup?

// cc @rrelyea  @livarcocc

[2018-06-07 23:34] nkolev92 commented on #6999
This issue was moved to dotnet/cli#9439

[2018-06-07 23:34] #6999 closed, assigned to nobody

[2018-06-08 03:51] UlyssesWu commented on #5899
I'm still facing this issue in VS15.7.3. Can't believe it exists for such a long time.

BTW, the workaround @smourier provided works. I just saw @Dark-Bond 's answer on [stackoverflow](https://stackoverflow.com/a/50679442/4374462) and you warned @smourier 's answer is invalid. But you have misunderstood the "VS15" is actually VS2017 rather than VS2015.

[2018-06-08 06:01] flcdrg opened #7007 "nuget.config source filtering by namespace"
I think it could be useful if you can specify for a particular source in nuget.config, what namespaces/names of packages should be queried for that source.

That way, if you had an internal NuGet source as well as the public nuget.org source, you could configure NuGet not to bother querying nuget.org for your internal packages.

eg. something like:

[code]

With the above configuration, when NuGet

[2018-06-08 10:34] bjorkstromm commented on #5358
Facing same issue within docker container.

[2018-06-08 11:43] evil-shrike commented on #7003
My `Directory.Build.props` is:
[code]
But it's not for the project that I'm currently restoring packages in.

To make it more clear. I have a git repo with several csprj/sln
[code]
Currently I found a workaround - to put empty `Directory.Build.props` besides legacy sln `Apps\Server_Legacy\MyProject.sln`:
[code]
But it's a bit weird.

[2018-06-08 12:53] Hubert-Rybak commented on #5358
try to run ```docker build``` with ```--network=host```

[2018-06-08 13:26] NetTecture commented on #4488
It is even worse -you do not even need an old style project.

I am writing a netstandard library that contains a powershell core module.

I can not debug or easily package it because it misses all references, among them entity framework core (and yes, this particular one needs db access).

What is the workaround in this case? I do not ahve an old style project - I only have one project, which is a

[2018-06-08 14:07] StingyJack commented on #7006
Removing and re-adding a nuget package using the PM UI is also removing references from other projects.

[2018-06-08 14:09] pascalberger opened #7008 "Installing signed package in offline environment"
I'm in an offline environment with an in-house package server (using ProGet). If I try to install a signed package it takes 4 minutes until installation succeeds.

How can I install signed packages in an offline environment without access to nuget.org?

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe

NuGet version (x.x.x.xxx): 4.6

[2018-06-08 16:27] bleaker19 commented on #3324
I guess what I don't understand is why is Microsoft, understanding these limitations, are creating package names like Microsoft.VisualStudio.QualityTools.UnitTestFramework.Updated.15.0.26228 as a folder and Microsoft.VisualStudio.QualityTools.UnitTestFramework.Updated.15.0.26228.dll as the dll.  This could also be mitigated by some training.

[2018-06-08 16:37] nkolev92 commented on #7003
@evil-shrike

Not sure how directory.build.props is getting imported.
That'd be something that msbuild would be able to take a look at.
It is my understanding that it will only search upwards.

https://docs.microsoft.com/en-us/visualstudio/msbuild/customize-your-build#search-scope

You can run `msbuild /pp:pp.txt` to see all the imports and understand where it is coming from.

[2018-06-08 17:07] evil-shrike commented on #7003
Well, yeah directory.build.props with PackageReference is imported for msbuild building a legacy project. I realize that. But I can't see a reason why that should remove repositoryPath setting that was set in nuget.config.

[2018-06-08 17:35] nkolev92 commented on #7003
@evil-shrike

It shouldn't remove it.

That project itself is treated as PackageReference.
PackageReference uses the globalpackagesfolder property and not the repository path property.
https://docs.microsoft.com/en-us/nuget/reference/nuget-config-file#config-section

[2018-06-08 17:35] anangaur opened #7009 "nuget.exe throws exception for unknown commands"
We should not throw exceptions. Rather we should tell users its not a known command and print what we print for `nuget help`

![image](https://user-images.githubusercontent.com/14800916/41172109-ae5bbfb6-6b07-11e8-9d8a-e4a40c62750d.png)

https://twitter.com/neslekkim/status/1005067883167272960

[2018-06-08 17:38] anangaur commented on #7009
@rrelyea Can we fix this in 4.8?

[2018-06-08 18:13] TheXenocide commented on #6685
I have also experienced this issue when referencing multi-targeted (`TargetFrameworks`) projects; I thought perhaps it was related to my using the MSBuild.Sdk.Extras project to multi-target monoandroid71/xamarinios10 along with netstandard2.0 so I split my projects back out into separate Shared Project with .Droid/.iOS variants and this particular error goes away when the NuProj references multipl

[2018-06-08 18:28] TheXenocide opened #7010 "NuGetizer NuProj inconsistent between Mac and Windows"
## Details about Problem

Visual Studio for Mac appears to have built-in support for .nuproj projects, but the projects generated by each are inconsistent. Projects created using the Visual Studio extension can not be loaded by the Mac without modification. Projects created using Mac can be opened with Visual Studio, though they do target NuGet.Build.Packaging 0.2.0 out of box. There are other sub

[2018-06-08 18:30] #6704 closed, assigned to nkolev92

[2018-06-08 19:24] TheXenocide opened #7011 "NuGetizer: NuProj With Multiple TargetFrameworks from Project References Cause Package Restore Errors"
## Details about Problem

After adding NuProj projects to package some Xamarin related libraries I started seeing a lot of NU1201 errors. I believe this is a result of the NuProj participating in Package Restore dependency chains of projects with multiple target frameworks. The repository that reproduces the issue can be found here:

https://github.com/TheXenocide/Xamarin-Forms-Labs

I have tried

[2018-06-08 19:34] TheXenocide commented on #5040
I also have an issue with this; it looks like MSBuild /t:Pack resolves version numbers when generating the nuspec, but NuProj seems to be confused by the *. I was really hoping it would set version to the locally resolved version and then set the range to allow any higher version than the locally resolved, up to the maximum of the floating positions (i.e. `PackageReference Version="1.1.1.*"` would

[2018-06-08 20:06] KirillOsenkov opened #7012 "Restore should fail when a non-existent fallback folder is provided"
MSBuild 15.7.179.6572

MSBuild of an SDK-style project with PackageReference fails because the generated .csproj.nuget.g.props file contains this line:

[code]

The NuGetPackagesFallback folder doesn't exist on my machine, causing NuGet to fail the build with the exception:

[code]

None of the nuget.config files on my machine contain anything related to the fallback folder.

I don't have any envi

[2018-06-08 20:06] KirillOsenkov commented on #7012
@nkolev92

[2018-06-08 20:09] KirillOsenkov commented on #7012
.binlog is available at `\\kirillo7\public\Bugs\NuGetHomeIssue7012.binlog`

[2018-06-08 20:35] KirillOsenkov commented on #7012
This might be related: https://developercommunity.visualstudio.com/content/problem/232735/the-folder-cprogram-files-x86microsoft-sdksnugetpa.html

[2018-06-08 20:41] nkolev92 commented on #7012
Thanks @KirillOsenkov
I can access the log.

I'll take a look when I get back to my desk.

The fallback folder is passed in to NuGet...but I guess we might not be validating whether it exists like we do with sources.

[2018-06-08 22:44] #6993 closed, assigned to dtivel

[2018-06-09 01:14] rohit21agrawal commented on #7006
can you tell us what was the exact command you executed in the console?

[2018-06-09 01:23] mishra14 commented on #7006
@rohit21agrawal  this is a dupe of https://github.com/NuGet/Home/issues/737

[2018-06-09 04:10] StingyJack commented on #7006
Nuget in VS (pm ui, and the output window for package mgmt) are now telling me they are installing a package, but they never add the reference to the csproj. I've been trying to fix this for almost two days now.  I cant revert without losing the changes I had in progress before this blew up the solution.

[2018-06-09 15:20] JeremyTCD commented on #6916
Same issue, my CI script failed to push symbols, so I tried pushing them manually:
[code]
Reponse seemed to indicate that the push was successful, but:
[code]
`nuget list` indicates that the push was not successful. Attempting to download the symbols when debugging in VS also fails. Seems like pushing new symbols is straight up not working right now.

[2018-06-09 17:08] CyberBizSoft commented on #5358
Exact same issue here with .NET Core 2.1 but only when accessing my private NuGet server.
Error:
===================================================================
/src/ITAM.ApiGateway/ITAM.ApiGateway.csproj" (Restore target) (1) ->
(Restore target) ->
/usr/share/dotnet/sdk/2.1.300/NuGet.targets(114,5): error : Unable to load the service index for source http://localhost/packageserver/nuget. [/sr

[2018-06-10 08:08] srdjo opened #7013 "Nuget installed panel empty after VS 2017 update"
I updated my VS to 15.7.3 version today and now my Nuget panel with installed packages is empty. Not empty but showing only System.Runtime.

I have a packages.config file in my project and everything worked just fine before the update.

I tried to downgrade VS to 15.5 version but the panel is also empty.

What can I do ?

[2018-06-10 18:29] kirakosyan commented on #4491
Nuget push/pack is suggetsed in VS online build and packaging document then ending up with frustrating error like "System.InvalidCastException: Unable to cast object of type 'System.String' to type 'NuGet.Frameworks.NuGetFramework'"

This document also should be probably updated
[Publish NuGet packages from Team Build to Package Management](https://docs.microsoft.com/en-us/vsts/pipelines/packages/

[2018-06-10 19:12] PhonicUK opened #7014 "Suggestion: Warn when upgrading a package to a new version introduces new dependencies."
When packages switch from targeting .Net Framework to .Net Standard as part of a version update, this can cause large amounts of extra dependencies to suddenly be included where they were not previously.

In such cases where a version change will require completely new packages to be pulled as opposed to simply newer versions of existing packages - Nuget should warn that new packages will be intro

[2018-06-10 19:14] #7014 closed, assigned to nobody

[2018-06-11 05:32] nkolev92 commented on #7009
There was a duplicate of this already.

https://github.com/NuGet/Home/issues/5779

[2018-06-11 05:33] nkolev92 commented on #5779
Duplicate of https://github.com/NuGet/Home/issues/7009.

Closing this despite being older as the other one has more public visibility.

[2018-06-11 05:33] #5779 closed, assigned to nobody

[2018-06-11 05:35] nkolev92 commented on #7007
//cc @anangaur
A request for similar to the original lineups idea.

[2018-06-11 06:45] Dabbel commented on #6970
Any updates on this?

[2018-06-11 08:28] dusk0r opened #7015 "Ability to skip unavailable package sources in nuget.exe"
We use a local NuGet source in addition to nuget.org. During an internet outage NuGet restore tried to use nuget.org and failed with return code 1. The package was available on the local source.

Can we add a way to first try all sources (event if they fail) to restore a package and only fail if we can't find a source?

NuGet.exe 4.6.2

[2018-06-11 10:41] logichaos commented on #6675
Alright guys, I was finally about to try a couple of things.
@nkolev92  it seems that I am experiencing the same issue as you described.
@jainaashish the files appear in the project.assets.json file but not in the UI, as nkolev92 mentioned.

I hadn't known about the UI issue and that is why I got really confused.

Thank you all so much for the help and for your input.

[2018-06-11 10:41] #6675 closed, assigned to nobody

[2018-06-11 15:13] anangaur commented on #7009
I knew this seemed like something I filed earlier but couldn’t find the older one. :)

[2018-06-11 17:08] nkolev92 commented on #6675
Glad you figured it out @ElMaxxi
Thanks for closing the loop.

[2018-06-11 17:30] dtivel commented on #6948
The Test.Utility package is again being dropped as part of the build, but I still don't see the package getting published automatically.

[2018-06-11 17:30] zhili1208 commented on #6916
looks like the symbol server issue, close it as dup of https://github.com/SymbolSource/SymbolSource/issues/7

[2018-06-11 17:30] #6916 closed, assigned to nobody

[2018-06-11 17:34] #6937 closed, assigned to zhili1208

[2018-06-11 17:37] nkolev92 commented on #5373
@anangaur

What's the bug here? What should be fixed?

I'd say attempting to authenticate consistently is the expected behavior?
NuGet tries a maximum of 3 times per source!
Note that in the background these sources might use the same token and the user would be prompted only once, but that's beyond NuGet's control.

Unless there's something where we pop up a window after a user has successfully e

[2018-06-11 17:44] zhili1208 opened #7016 "NuGet handles conditional msbuild property differently on VS and NuGet.exe/CLI for SDK project"
In VS, NuGet get project information from project system and nuget require all msbuild properties must be same for all targetFrameworks.

But in NuGet.exe/CLI, nuget get those properties from msbuild and ignore the conditional part.

So the same project can works with NuGet.exe/CLI but fail in VS if there is some property conditioned on targetFramework.

[2018-06-11 17:54] nkolev92 commented on #7016
@zhili1208
Just so we have more context for future investigations.

Does the project-system correctly evaluate the conditions?
Are only TargetFrameworks evaluated or would random conditions work as well?

[2018-06-11 18:04] nkolev92 commented on #6948
@dtivel

I couldn't find any automatic publishing of Test.Utility in our pipeline.

https://dotnet.myget.org/feed/nuget-build/package/nuget/Test.Utility
contains only 8 published versions of the test utility.

I'm not sure how/when those nupkgs where published on myget.

This is our scripts for publishing and it has always excluded nupkgs with test in their name
https://github.com/NuGet/NuGet.Clie

[2018-06-11 18:18] dtivel commented on #6948
Sounds good.  Thanks, @nkolev92!

[2018-06-11 18:18] #6948 closed, assigned to nobody

[2018-06-11 19:39] wli3 commented on #6994
@nkolev92 Could you give us any advice? I still prefer a normalized version to go cross the board of systems. What is the conclusion of "S" consider 5.0.0-rc vs 5.0.0-rc* differently. What is the recommended "lossless" representation of nuget version range in plain text?

[2018-06-11 19:43] nkolev92 commented on #6994
@wli3

Did you try using "N"?

You can always just verbatim pass the version to NuGet itself.

[2018-06-11 19:51] wli3 commented on #6994
@nkolev92 the concern for just pass the original is CLI has no control of what goes in the original. So CLI don't know if it can be safely pass around in XML and commandline (will some space in it be considered valid version? Will ">" in it be considered valid version? as in `>3.1`. If we escape, can nuget unescape it properly?). If we could have a contract that a valid plain text(will not throw o

[2018-06-11 19:53] nkolev92 commented on #6994
@wli3
Valid, going back to my original question, doesn't "N" fix it?

[2018-06-11 19:55] wli3 commented on #6994
Should be good. From my basic tests. However, I do want to make sure format "N" has the intention of being a loss less representation compared with "S"

[2018-06-11 20:09] jainaashish commented on #6970
@Dabbel can you please check the dotnet sdk and runtime on your windows vs mac? It looks like you've different dotnet sdk versions in different environment which is making it to resolve some of the package's version differently which is why it's throwing restore error in one case.

You can run `dotnet --info` command to see the versions on both the machines or may be copy it here as well.

[2018-06-11 20:39] srdjo commented on #7013
I tried deleting the .packages folder before installing the packages again via Nuget and the folder .packages was not created

My project path is C:\Users\User\Source\Repos\Project123-Git

Also I see that now I have a folder .nuget at C:\Users\User\.nuget that has the folder packages in it.

I also tried deleting the file packages.config but Nuget still has my newly installed packages even if pack

[2018-06-11 21:02] tebeco commented on #6994
hey there, i have a stupid question because i am curious but what is this “S” or “N” ?

also `Fake` did releases a v5.0.0 so the behavior will probably change

[2018-06-11 21:30] nkolev92 commented on #6994
@tebeco
It's implementation detail for the tool install command.

The CLI parses a version from the commandline and passed it to NuGet, but called the library in way that lost some information from the version.

[2018-06-11 21:54] bgavrilMS commented on #6328
This is still happening, was there an actual fix?

[2018-06-11 22:07] nkolev92 commented on #6978
@tebeco
Can you please try msbuild /t:restore?
The .NET Framework version, not the dotnet msbuild one.

[2018-06-11 22:22] tebeco commented on #6978
last time i used it, it was from `vs2017 prompt for devs` and `where msbuild` pointes to some folder in `program files`
was that the good one ?

[2018-06-11 22:23] nkolev92 commented on #6978
@tebeco
Yes that's it.

Easiest approach is to go to the developer command prompt and run
"msbuild /t:restore"

[2018-06-11 22:25] tebeco commented on #6978
it was working with it
 should i past the logs here ? (i think i pasted the logs somewhere in github)
and `msbuild /t:build` was ok too

EDIT : i can’t remember if i cleared the cache before so it may not be relevant

it’s 0:30 here gonna have to go to bed will have to try tomorrow

[2018-06-11 22:26] anangaur commented on #5373
This is an old issue where the pop up window to authenticate kept popping. I think this can be closed as we fixed a couple of issues in this area especially around VS pop up to authenticate. We can reopen or open another issue based on new customer input.

[2018-06-11 22:27] nkolev92 commented on #6978
Nope, that's perfect.

Knowing it works with nuget.exe AND msbuild.exe, but it doesn't with dotnet.exe suggest that it could be a framework issue.

[2018-06-11 22:39] nkolev92 commented on #5373
Sounds reasonable.

Thanks.

[2018-06-11 22:39] #5373 closed, assigned to nobody

[2018-06-11 22:55] nkolev92 commented on #2887
The way I read this, the original ask talks about the action of prompting the user on the commandline to enter credentials to authenticate.

As @anangaur  already mentioned in #6486 we will solve the problem for dotnet.exe authentication by introducing a new plugin model.
This would enable people to use feeds like VSTS (and any other feed providers, that would be able to write their own provider).

[2018-06-11 23:53] jainaashish commented on #7015
Thanks for the issue. It's already supported for `dotnet.exe restore` via `--ignore-failed-sources` so you can unblock yourself by switching to dotnet.exe.

[2018-06-12 00:00] jainaashish commented on #7013
Can you provide a sample solution to see what issue you're facing? `.nuget\packages` is a global packages folder which contains all the NuGet packages which are being installed on your machine and later works as NuGet source so that it doesn't download it again.

If you deleted `packages.config` file and still see installed packages, then you might be using `PackageReference` in your project file

[2018-06-12 00:06] jainaashish commented on #7012
`C:\Program Files (x86)\Microsoft SDKs\NuGetPackagesFallback\` is passed through dotnet sdk to NuGet and I'd expect this folder to be always present. Did you explicitly deleted this folder? and what's the dotnet sdk version (`dotnet.exe --info`)?

[2018-06-12 00:12] jainaashish commented on #7008
@pascalberger I'm not clear about the issue? were you not able to install your signed package without accessing to nuget.org? or taking 4 mins to install this package, is the main issue?

And also, tell us how much time `nuget.exe verify` command takes to verify signature of this package?

[2018-06-12 00:19] rrelyea commented on #5773
@emmellee - thanks for the interest.

@keithrob / @nkolev92  - pinged you via email. could our current 15.8 (VS 2017) and 5.8 (nuget.exe) based work help solve this? Timing good? Cost?

[2018-06-12 00:20] jainaashish commented on #7005
Thanks for the issue. We recently made it work through NuGet TemplateWizard apis but still not supported through IVS apis. We'll work on bridging this gap as well. Meantime, you can use `RestoreProjectStyle` property to set `PackageReference` before trying to install a package, which will make sure that NuGet uses `PackageReference` to manage dependencies.

Set below code in project csproj:
`<Rest

[2018-06-12 01:05] delebru commented on #5358
![image](https://user-images.githubusercontent.com/2726502/41264413-b0ffeaa8-6e40-11e8-9a55-be19fb5d8f42.png)
I'm getting the same issues unless I run dotnet restore as root on my linux server. I recently installed the 2.1 SDK and currently have SDKs 2.0 and 2.1 installed.

I did not use to have this problem when only SDK 2.0 was installed. I'm wondering if there's some permissions issue now with

[2018-06-12 05:07] KirillOsenkov commented on #7012
Nope, I didn't delete the folder.

Where in the SDK is this set? The SDK folks have told me it's not them, it's NuGet.

[code]

[2018-06-12 05:21] pascalberger commented on #7008
@jainaashish The package actually installs sucessfully, but it takes 4 minutes without access to nuget.org.

[2018-06-12 05:51] pascalberger commented on #7008
A `nuget verify` still runs without any output:
[code]

I canceled after 3h

[2018-06-12 06:30] tebeco commented on #6978
if i understand correctly this issue has been splitted into at least 2 issue ?
one for servicing as a regression for `WinHttpHandler` (is it the 2.1.1 ?)
the other for `SockerXXXXHandler` ?

do you need network trace for the `SocketHandler` to avoid discovering a new weird scenario ? if so how could i help to get these traces

[2018-06-12 08:43] srdjo commented on #7013
The solution is too large to share - what files do you need so I can upload them to Pastebin ?

[2018-06-12 08:49] srdjo commented on #7013
I tried installing all of the packages again and after I installed a couple of them I saw this in References

![vs2017problem](https://user-images.githubusercontent.com/4582491/41280047-4a95e1f8-6e2e-11e8-8a2d-d57011716419.JPG)

Also Visual Studio is set to use Packages.config

[2018-06-12 09:17] kukjevov commented on #5358
Hmmm interesting is that after setting `http_proxy` directly into `c:\Users\<user>\AppData\Roaming\NuGet\NuGet.Config` it started working, but setting `http_proxy` to local `Nuget.Config` which is in project it was not working.

Problem occured only after installing .net core SDK 2.1, before this i was able to work without http_proxy

[2018-06-12 10:30] monkey-dsc commented on #6349
Hi @anhphan,

that didn't work for me :( The project is in new csproj-format and I got the following error:

`The <Content> element below the <Project> element is unknown.`

Any tips?

Best regards
Dirk

[2018-06-12 10:38] anhphan commented on #6349
Hi @monkey-dsc

You need nested `<Content>` element inside `<ItemGroup>` element:
[code]

[2018-06-12 10:43] monkey-dsc commented on #6349
Hi @anhphan,

okay I did it like you described, but still same behaviour:
![image](https://user-images.githubusercontent.com/6951458/41285970-3c3a4346-6e3e-11e8-88ba-99c4a51e20ae.png)

:(

[2018-06-12 10:48] anhphan commented on #6349
Hi @monkey-dsc,

Can you try to update VS to version >= 15.7, when i investigate that issue, my VS version is 15.7
and Nuget pack task will using NuGetRecursiveDir value when we set PackagePath for content files.

[2018-06-12 10:51] monkey-dsc commented on #6349
Hi @anhphan,

I'm on VS 15.7.3

[2018-06-12 10:59] anhphan commented on #6349
Can you try clean and then rebuild,

And can you should me the content of file: [ProjectName].csproj.nuget.g.props inside obj folder

[2018-06-12 11:12] monkey-dsc commented on #6349
Already tried to clean... here are the files... I also attached the .csproj file

[obj.zip](https://github.com/NuGet/Home/files/2093715/obj.zip)

[2018-06-12 11:22] anhphan commented on #6349
Oh, see the problem

Not sure why, but your generated nuget.props file dint have `DestinationSubDirectory` metadata on `Content` item, which i use to set directory for packed file:

[code]

Please change the hack to
[code]

[2018-06-12 11:23] anhphan commented on #6349
Or maybe you just simple delete obj folder to let VS generated it again

[2018-06-12 11:29] monkey-dsc commented on #6349
I give up... all I try doesn't solve it :(, but anyway many thanks for your help!

[2018-06-12 11:41] monkey-dsc commented on #6349
Hi @anhphan,

a last try, here are both projects can you have a look at them? Maybe I miss something else ...

Thanks in advance.

[Packages.zip](https://github.com/NuGet/Home/files/2093802/Packages.zip)

[2018-06-12 12:15] anhphan commented on #6349
Hi @monkey-dsc,

Nothing wrong with project file. I had review the code of NuGet.Build.Tasks.Pack.dll in visual studio folder (_C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\MSBuild\Sdks\NuGet.Build.Tasks.Pack_) and see having difference between netcore version and desktop version.

The netcore version have fallback to `NuGetRecursiveDir` if `RecursiveDir` metadata is empty, but de

[2018-06-12 12:19] monkey-dsc commented on #6349
Damn, so then I keep on walking in a circle...

Many, many thanks for your help!

[2018-06-12 12:33] gep13 commented on #7008
@jainaashish can we get confirmation that the installation of a signed nuget package, in an offline scenario, is something that is going to be supported long term?  And also, confirmation that we agree that 4 minutes is far too long for this to take.

At the moment, not that many packages are signed, but as this rolls out, and with the upcoming repository signing, more are more packages are going

[2018-06-12 14:07] monkey-dsc commented on #6349
@rohit21agrawal do you have any updates?

[2018-06-12 14:16] pascalberger commented on #7008
@jainaashish  Additional questions from my side are:

* Is the package signing scenario dependend to nuget.org or also supposed to be supported with other feeds (VSTS, MyGet, ProGet, etc)?
* Do you plan any indication that a package is signed on nuget.org? The current user experience in this case is quite bad, as for example Cake with version 0.27.2 just became slow to restore, and a user has no c

[2018-06-12 17:10] ticktickMOF commented on #7005
Is there a way to add this programatically so that it actually affects NuGet?  I tried setting it via IVsBuildPropertyStorage and via the Microsoft.Build.Construction.ProjectRootElement and neither affected NuGet without reloading the project.  It seems like the NuGetProject is already cached and I can't figure out how to reset it.

[2018-06-12 17:36] PatoBeltran commented on #7008
@gep13 offline scenarios are definitely something we are planning to support and we are actively working on them as well.

@pascalberger package signing is independent of the feed. Any feed can host author signed packages and also any feed can decide to implement the required features to support repository signing. We are currently working on adding support for repository signing on nuget.org, onc

[2018-06-12 17:38] jainaashish commented on #7005
yes you're right NuGet project is cached, there is no way you can set this property without reloading the project.

[2018-06-12 17:54] PatoBeltran commented on #7008
@pascalberger I downloaded Cake v0.27.2 from nuget.org (https://www.nuget.org/packages/Cake/0.27.2) and try repro your scenario locally with no luck. I ran `nuget.exe verify -signatures` on it while running offline (and after cleaning my CRL and OCSP cache) and this is the output I got:

[code]

I also ran `Measure-Command` with this and here is the time it took:

[code]

[2018-06-12 17:56] #6953 closed, assigned to mishra14

[2018-06-12 17:56] clairernovotny commented on #7008
Did you clear your intermediates too? There could be AIA calls to intermediates that may be having issues.

[2018-06-12 18:41] rohit21agrawal commented on #6349
@anhphan @monkey-dsc the copy of NuGet.Build.Tasks.Pack.dll at C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\MSBuild\Sdks\NuGet.Build.Tasks.Pack is not used anymore. We only use the copy in C:\Program Files\dotnet\.....

[2018-06-12 19:07] rohit21agrawal commented on #6349
@monkey-dsc  i just investigated your project files that you sent me.
 I trimmed them down to the bare minimum, and I see the solution explorer showing your file in the right hierarchy:

![image](https://user-images.githubusercontent.com/1857490/41311388-f8c65776-6e38-11e8-9023-d62f867d4484.png)

[Packages.zip](https://github.com/NuGet/Home/files/2095465/Packages.zip)

I have attached the two proj

[2018-06-12 19:10] anhphan commented on #6349
Thank @rohit21agrawal  for the info,

I check on my machine, dotnet sdk version <= 2.1.104 don't using `NuGetRecursiveDir` fallback for `RecursiveDir` metadata
[code]
Only dotnet sdk version >= 2.1.200 using that metadata:
[code]

@monkey-dsc
Can you check what sdks you have (check folder under C:\Program Files\dotnet\sdk)
and output of:
[code]

[2018-06-12 19:11] pascalberger commented on #7008
@PatoBeltran Which nuget. exe version did you try with? I used 4.6.2

[2018-06-12 19:12] nkolev92 opened #7017 "Add interactive flag for the restoretask and the add pkg ref commands"
As part of authentication, the interactive switch in dotnet.exe should be
`dotnet.exe restore --interactive`
`dotnet.exe add package bla --interactive`

In MSBuild it should be
`MSBuild.exe /t:restore /p:NuGetInteractive="true"`

[2018-06-12 19:13] mishra14 commented on #5358
tagging @rrelyea for visibility.

[2018-06-12 19:17] anhphan commented on #6349
@rohit21agrawal The problem not on visual studio display, problem at generate nuspec, VS using `Link` metadata for display inside, but pack logic not using any metadata: `TargetPath`, `DestinationSubDirectory`, `Link` as current code: [PackTaskLogic.GetContentMetadata](https://github.com/NuGet/NuGet.Client/blob/b1d75186ce9ef442dd6ab0cdaa1be5b15e0917a3/src/NuGet.Core/NuGet.Build.Tasks.Pack/PackTask

[2018-06-12 19:22] pascalberger commented on #7008
@PatoBeltran

While feeds can host signed packages, how is verification supposed to work there? Does every feed need to implement something so that it's signed packages can be verified?

The warning should also be shown for `nuget install` or only for `nuget verify`?

The package installs fine with the same NuGet version from another PC / network which has internet access.

Can you advise on other

[2018-06-12 19:23] rohit21agrawal commented on #6349
Thanks @anhphan for pointing it out.
@monkey-dsc  this is the exact hack you would need in your csproj:

[code]

[2018-06-12 19:27] mungojam commented on #5715
@krispenner yeah, those meta packages should be the exception rather than the rule IMO. For those, you would specifically add the packages and tell them to export to consuming packages somehow. That's how R packages work and I think npm node packages too.

[2018-06-12 19:29] rohit21agrawal commented on #6349
The documentation for the extension points I used in the above example are available here: https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#advanced-extension-points-to-create-customized-package

[2018-06-12 19:34] jainaashish commented on #7013
This image shows that there is a presence of `project.assets.json` file under project's `/obj` folder which is why it's confused between `packages.config` and `PackageReference`. You might have migrated to `PackageReference` in one of your branch which generates `project.assets.json` file where as other branch still using packages.config file. So if you're using git then you can run `git clean -xd

[2018-06-12 20:00] nkolev92 commented on #7012
This is not the dotnet sdk, but UWP normally.

`C:\Program Files (x86)\Microsoft SDKs\NuGetPackagesFallback\`

The files section in the binary logger is equivalent to pp right? @KirillOsenkov
Not sure why we can't find anyone passing it there.

[2018-06-12 20:07] anhphan commented on #6349
I think @monkey-dsc doesn't have latest dotnet sdk (>= 2.1.200).
Actualy, I am using this in all my `Directory.Build.targets` for fixing not only nuget package reference, it's also fix path for linked content:
[code]

[2018-06-12 20:20] loic-sharma opened #7018 "Signing: Check entire chain for weak signatures"
Security experts at threat modeling recommended that we check all certificates in the chain for weak signatures (excluding the trusted root certificate).

Work item that tracks server-side validation: https://github.com/NuGet/Engineering/issues/1430

/cc @dtivel
/cc @PatoBeltran

[2018-06-12 20:47] srdjo commented on #7013
I managed to fix it. Your suggestion guided me to the right path. I unloaded the project, opened the project file and removed all the PackageReference nodes from it. I then deleted the obj folder and Nuget started recognizing my packages again. Project now builds just fine. Thanks a lot @jainaashish

[2018-06-12 20:47] #7013 closed, assigned to nobody

[2018-06-12 20:50] PatoBeltran commented on #7008
@pascalberger I tried with `4.6.2` and the latests bits and was not able to repro with any of this. I'm curious to know what is causing it to be slow in your case. When you run `nuget verify -signatures` do you see the process consuming CPU? This would let us identify if it is an issue with the product or another unrelated issue (maybe with your environment?), also are you familiar with generating

[2018-06-12 21:41] jainaashish commented on #7012
This is a fallback folder similar to the MS VS offline packages, coming from `C:\Program Files (x86)\NuGet\Config\Microsoft.VisualStudio.Offline.Fallback.config`. This was added by UWP team somewhere in 15.5 or 15.6 which broke the world when they started having non-UWP packages in that fallback folder which were not extracted correctly. So they fixed it in 15.7 by removing this from fallback fold

[2018-06-12 22:30] jainaashish commented on #7006
Dupe of https://github.com/NuGet/Home/issues/6133

[2018-06-12 22:30] #7006 closed, assigned to nobody

[2018-06-12 22:32] rohit21agrawal commented on #6133
closing as dupe of #737 , will track there.

[2018-06-12 22:32] #6133 closed, assigned to nobody

[2018-06-12 22:35] KirillOsenkov opened #7019 "ResolvePackageFileConflicts should normalize file paths"
In my build log I happened to see this:
[code]

The paths are essentially identical, shouldn't ResolvePackageFileConflicts deduplicate at some point?

[2018-06-12 22:39] KirillOsenkov commented on #7012
Yes, I have `C:\Program Files (x86)\NuGet\Config\Microsoft.VisualStudio.Offline.config` with this contents:
[code]

The workaround to create an empty folder works, but I'm a trained professional. How do we expect regular users to deal with this failure?

Who would be a good person on the UWP team to investigate this further? If I wanted to file a bug about this, where could I file it? Thanks!

[2018-06-12 23:36] rohit21agrawal commented on #7006
as a workaround for now, please pass the -Projectname parameter to specify the project explicitly. I have a PR out to fix this.

[2018-06-12 23:36] rohit21agrawal commented on #6133
as a workaround for now, please pass the -Projectname parameter to specify the project explicitly. I have a PR out to fix this.

[2018-06-12 23:56] delebru commented on #5358
`sudo chmod +r /etc/pki/tls/certs/*` solved the problem for me.

[2018-06-13 08:33] dgaszewski opened #7020 "The process cannot access the file because it is being used by another process"
**NuGet version (4.6.0) <br>
VS version: 15.7.3**<br>
  <br>
I cannot create any NuGet packages anymore (even though that during the same day I did it a couple of times). I get an error that db.lock file is used by another process (which is VSs process ServiceHub.Host.CLR.x86). It doesn´t matter which project from the solution I want to use to create package. Neither removing the file or restartin

[2018-06-13 09:00] v-longmin opened #7021 "[Test Failure][Localization][FRA][RUS] PM UI can’t be opened successfully"
## Details about Problem
NuGet version : NuGet Client release-4.8.0-preview3-4.8.0.5266
VS version : D15.8 27811.00
OS version : Windows 10 16299.RS3_Release_svc_escrow.180502-1908.

Worked before? If so, with which NuGet version:
NuGet Client Dev 4.8.0.5234

## Detailed repro steps so we can see the same problem
1.Create a C#->Windows Desktop ->Class Library (.NET Framework) project.
2.Right clic

[2018-06-13 09:38] bezysoftware commented on #3891
We use the suggested workaround and these two commands to build & package our libraries:
[code]
`Service.csproj` has a project dependency on a project `Shared.csproj` which should be included in the nuget package. The problem is with DLL versioning - the build step correctly builds both DLLs with supplied version, but the pack step will build the `Shared` project **again** with version 1.0.0.0, wh

[2018-06-13 10:53] Dabbel commented on #6970
On the Mac the latest version of Visual Studio for Mac is installed

[code]

[code]

[2018-06-13 11:28] monkey-dsc commented on #6349
Hi @rohit21agrawal,

thanks a lot this gets very close to a solution! I have added the following to my project file:
`<PropertyGroup>		<TargetsForTfmSpecificContentInPackage>$(TargetsForTfmSpecificContentInPackage);FixPackTargetPathForLinkedContent</TargetsForTfmSpecificContentInPackage>
	</PropertyGroup>`
`

	<Target Name="FixPackTargetPathForLinkedContent" BeforeTargets="BeforeBuild" Condition="

[2018-06-13 11:36] davkean opened #7022 "NuGet Visual Studio AsyncPackage fails to load when initialized off the UI thread"
Very similar to https://github.com/NuGet/Home/issues/6976, but due to another cause:

Version: Version 15.8.0 Preview 3.0 [27807.3004.d15.8stg]

Repro:
1. git clone https://github.com/RssBandit/RssBandit
2. cd RssBandit\Source\
3. "RSS Bandit.sln"

[code]

[2018-06-13 11:40] anhphan commented on #6349
Hi @monkey-dsc
When using `TfmSpecificPackageFile` with specific path, I don't think you need to set `NuGetRecursiveDir`, just simple set `Pack` to false to exclude it.

You can try to change config to:
[code]

[2018-06-13 11:47] davkean commented on #7022
Even easier repo:

1. File -> New Project -> Console App (.NET Framework)
2. Unload project and change `<TargetFrameworkVersion>v4.7</TargetFrameworkVersion>` to v4.8
3. Reload the project

[2018-06-13 14:24] jsnet-ops commented on #5358
Make sure the docker container has internet access during build.
You can check /etc/resolv.conf in the container if the correct proxy is present.

In order to set the default DNS nameservers in this resolv.conf file use one of the options below:

1. Make sure to provide the proxy / nameservers in a (new) file /etc/docker/daemon.json on the host running the docker daemon like this: {"dns": ["10.10.

[2018-06-13 16:56] rrelyea commented on #5358
NetCore team believes this is bug in NetCore 2.1 runtime. (new networking code in 2.1)

See https://github.com/dotnet/corefx/issues/30354

[2018-06-13 17:48] jainaashish commented on #7022
This is already fixed with https://github.com/NuGet/NuGet.Client/pull/2289

[2018-06-13 17:48] #7022 closed, assigned to nobody

[2018-06-13 18:02] jmoleary commented on #5768
Happening for me too with Visual Studio 15.7.3

[2018-06-13 18:15] mishra14 opened #7023 "replay signing warnings for extracted packages"
Currently we show signing related warnings on package extraction. But once the package is extracted, we do not replay those warnings on the next restore.

Since the warnings are relevant even after extraction, we should consider replaying warnings for extracted packages.

[2018-06-13 18:15] mishra14 commented on #7023
cc: @PatoBeltran @dtivel @nkolev92

[2018-06-13 18:23] nkolev92 commented on #7019
This issue was moved to dotnet/sdk#2331

[2018-06-13 18:23] #7019 closed, assigned to nobody

[2018-06-13 19:41] terrajobst commented on #4980
It has to be automatic which means it has to be part of restore.

[2018-06-13 20:21] anangaur commented on #4980
Ideally yes but without impacting restore perf :)

[2018-06-13 20:23] terrajobst commented on #4980
Agreed, but it seems there must be a compromise between spamming my drive and impacting my package restore times.

Maybe we can address 90% of this if .NET Core wouldn’t be modeled as a large number of packages though.

[2018-06-13 21:19] anangaur commented on #4980
@terrajobst - what's the current thinking here? Is there anything beyond early discussion in this direction? All ears.

[2018-06-13 21:20] terrajobst commented on #4980
It’s all early discussions for .NET Core 3.0

[2018-06-14 02:48] jessepiccolo commented on #4393
This is still an issue, only one nuget gets uploaded when running `dotnet nuget push /nupkgs/*.nupkg`

[2018-06-14 07:09] cincuranet commented on #3891
Facing the same problem with my analyzer. It's 2 assemblies/projects and both need to be included in the analyzer's package.

[2018-06-14 09:26] alancapc commented on #5335
@dasMulli, you are absolutely right. Binding redirects is an issue when changing targets as well.

[2018-06-14 10:00] v-luzh opened #7024 "Cancel button of ‘Choose NuGet Package Manager Format’ dialog truncated"
## Details about Problem
NuGet version: NuGet Client release-4.8.0-preview3-4.8.0.5275
VS Version: D15.8 27813.00
OS Version: Windows 10 rs3_release_svc_escrow.180502-1908 KOR/DEU/ITA/PLK/RUS/FRA/PTB

## Detailed repro steps
1.	Launch VS and click menu Tools->NuGet Package Manager->Package Manager Settings.
2.	Check ‘Allow format selection on first package install’ format.
3.	Create a new C# Conso

[2018-06-14 10:05] v-luzh opened #7025 "’Top-Level’ column name on ‘Migrate NuGet format to PackageReference’ dialog truncated"
## Details about Problem
NuGet version: NuGet Client release-4.8.0-preview3-4.8.0.5275
VS Version: D15.8 27813.00
OS Version: Windows 10 rs3_release_svc_escrow.180502-1908 DEU/ITA/PLK/CSY

## Detailed repro steps
1.	Launch VS and click menu Tools->NuGet Package Manager->Package Manager Settings.
2.	Check ‘Allow format selection on first package install’ format.
3.	Create a new C# Console App (.NET

[2018-06-14 14:32] eerhardt commented on #6778
As of `netcoreapp2.0`, `ZipArchiveEntry` now supports the `ExternalAttributes` property.  This can be set during `dotnet pack`, and read during `restore` to set the correct file permissions.

NuGet.Packaging could add a new `netcoreapp2.0` TFM to https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Packaging/NuGet.Packaging.csproj#L7, and we can start using this new property.

[2018-06-14 14:39] robertas-kerpys opened #7026 "dotnet restore fails if NuGet package feed lacks <d:version> node in one of the entries"
NuGet Restore will fail with `System.NullReferenceException` if a feed about NuGet package contains an entry without `<d:version>` node in the <m:properties> node of the entry.

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): dotnet.exe

NuGet version (x.x.x.xxx): 4.6.1.5019

dotnet.exe --version: 2.1.103

VS version (if appropriate): 15.6.4

[2018-06-14 16:53] mlorbetske opened #7027 "dotnet new -i, on two private feeds, unauthorized"
_From @maracuja-juice on May 28, 2018 12:16_

I have a Template package that I published to a private feed. (let's name it "Nutshell")
I deleted this package from the "Nutshell" NuGet feed and uploaded it to a different private feed, with a newer version. (let's name that one: "Peach", "Nutshell" will get obsolete at some point)
The feeds are both hosted in VSTS.

I created a PAT with the permissi

[2018-06-14 16:53] mlorbetske commented on #7027
_From @maracuja-juice on June 6, 2018 6:42_

@seancpeters Can you reproduce this problem?

[2018-06-14 16:53] mlorbetske commented on #7027
@maracuja-juice behind the scenes, we're just doing a NuGet restore on a csproj and aren't involved in the mechanics of the actual restore itself. From the error message, it doesn't look like it couldn't find the package, but that it couldn't read from that feed at all (from the `Unable to load the service index for source ...` message), given that it returned an unauthorized, it doesn't seem to h

[2018-06-14 16:53] mlorbetske commented on #7027
_From @maracuja-juice on June 14, 2018 8:26_

@mlorbetske Okay, I created this `.csproj` on my desktop and then ran `dotnet restore` and I get the following:

[code]

If I remove the `nutshell` feed from my `NuGet.config` this works as expected.
I verified this behaviour with a new template we created yesterday. (that was never on the other feed, that means it is only available on the `Peach` NuGe

[2018-06-14 17:52] #6956 closed, assigned to nkolev92

[2018-06-14 19:22] zhili1208 opened #7028 "Improve error/warning code logging in nuget"
In our current design, the default error handling path doesn't handle exception with error code properly.
every time we want to show some error/warning code, we have to catch the specified exception and call some logMessage service to show the error/warning code properly.

Ideally, we should automatically show error/warning code if the exception have one. We have tons of exception like PackagingEx

[2018-06-14 21:40] rrelyea commented on #4064
Closing...as the approach in this issue feels better=: https://github.com/NuGet/Home/issues/5975
and Dupe like.

[2018-06-14 21:40] #4064 closed, assigned to nobody

[2018-06-14 21:49] rrelyea commented on #6949
See previous work here: https://github.com/NuGet/Home/issues/5975

We discussed in person with @jeffkl and msbuild team...

Decided:
Given id of My.Package, if it had a tool folder, $(PackageToolDir_My_Package_Name) would be created in *.nuget.g.props
That would be true of all projects that transitive reference that package.
We'd also support a ExportPathVariable="PackageDir_MyFolder" attribute on

[2018-06-14 21:50] rrelyea commented on #5975
Resolving dupe of this issue: https://github.com/NuGet/Home/issues/6949 which is in flight.

[2018-06-14 21:50] #5975 closed, assigned to nobody

[2018-06-14 22:44] #6963 closed, assigned to nobody

[2018-06-14 23:11] jainaashish commented on #7027
@mlorbetske I'm unable to understand how a single declaration of `packageSourceCredentials` will work with multiple feeds? Can you share the content of your `nuget.config` file (avoiding username/ password and actual feed link)?

[2018-06-14 23:14] mlorbetske commented on #7027
@maracuja-juice could you provide the requested information for @jainaashish please?

[2018-06-14 23:21] jainaashish commented on #7026
This doesn't seem like a issue with NuGet client, instead a issue /w feed itself. What is the real scenario to have packages on feed without version?

I feel throwing exception in this case, is the right thing to do so that it can be fixed at feed otherwise all these issues will go without noticed and more trouble at later point in time. Like what will happen if somebody specifically asked for tha

[2018-06-14 23:23] #7026 closed, assigned to nobody

[2018-06-14 23:28] jainaashish commented on #7021
Did you restarted the VS and tried again?
Did you try to repair the VS and checked if that resolved this issue?

[2018-06-14 23:32] jainaashish commented on #7020
can you clean `.vs` folder and then try? (you can also try `git clean -xdf` if your solution is part of git)
Also, just curious why are you running nuget.exe inside visual studio? do you get the same error when you run it from outside command prompt?

[2018-06-15 00:51] kkm000 commented on #3891
@rohit21agrawal, @eerhardt: Thanks for a nice workaround, but there is still an issue with it. A lot of things do not happen if you merely inject `ResolveReferences`; in particular, satellite and serialization assembles, XML doc files and PDB symbols would not be resolved, because of the way ResolveAssemblyReference is invoked in Microsoft.Common.CurrentVersion.targets:
[code]

So a more correct w

[2018-06-15 05:39] v-longmin commented on #7021
@jainaashish The issue still repros after I tried to restarting and repairing the VS.

[2018-06-15 07:22] dgaszewski commented on #7020
Cleaning .vs doesn't help (and it is not a part of git). But running the command outside the VS works well, thanks! :)

[2018-06-15 07:22] panmona commented on #7027
[code]

I just figured out that if I add the credentials for the second feed (where there is no such package) to my config aswell it works.
Am I right, that this is unavoidable?

[2018-06-15 09:04] monkey-dsc commented on #6349
Hi @anhphan ,

but if I set `<Pack>false</Pack>` the project itself can't have any content files, am I right?

At the moment it works if I set `<Pack>false</Pack>`, but I can't use content files in that project (which is not required right now, but maybe a future requirement.)

Best regards
Dirk

[2018-06-15 12:19] daniel-v opened #7029 "`nuget update solution.sln` considers all packages.config instead of only the solution project's"
Please read the following information before posting the issue.

## Details about Problem
*Product:* `nuget.exe`
*Version:* `NuGet Version: 4.6.2.5055`
*OS*: Irrelevant

## Repro:

1. Create a solution
2. Add 2 projects to solution, both with `packages.config`
3. Remove one of the projects from solution
4. issue `nuget update myproject.sln`
5. Realize that nuget updates all projects

## Cause of t

[2018-06-15 12:48] IanKemp opened #7030 "Visual Studio experience improvements - Packages in the installed/updates tab should be sorted"
NuGet 4.6.0 (Console Host Version 4.7.0.5212) running in Visual Studio 2017 Enterprise v15.7.3 on Windows 10 Enterprise x64 v1803 (17134.48)

The listed behaviours are the same regardless of whether I'm running Visual Studio normally, or in safe mode, which means it's not an extension causing the issue.

1. When trying to view updated packages, the UI shows me counts, but not the actual packages:

[2018-06-15 13:15] mungojam opened #7031 "Add support for static http hosting of package repositories to Nuget client"
We are fairly restricted in our ability to host Nuget.Server, however we can easily set up static http hosting using GitHub pages internally. However NuGet seems to only support the two extremes of OData or a folder share (which is what we currently use).

Python and R both have support for static http hosting by parsing the directory index page that comes back and going into each folder as needed

[2018-06-15 16:27] livarcocc opened #7032 "dotnet restore failure, nuget restore success with same configuration behind proxy"
_From @Flern on June 14, 2018 23:22_

## Steps to reproduce
Get behind a proxy that requires user/password authentication.
Set up a docker container for builds, using the following during setup with nuget.exe:
[code]

Confirm encoded NuGet.config at %appdata%\Nuget\Nuget.config:

[code]

Run dotnet restore from solution folder.
## Expected  behavior
Packages restore.

## Actual behavior
Restore fa

[2018-06-15 16:48] AndrewDorn commented on #5611
"I don't see this fitting into the current client plans which are moving away from ordered sources." Doesn't make sense. What DOES make sense is that this is being done to discourage having more than one feed, since that's the only way to avoid NuGet making guesses as to what you want when collision happens. I fail to see how specifying a specific feed causes any deviation from the current path...

[2018-06-15 17:37] rohit21agrawal commented on #6349
as for wildcards, you can do something like:

[code]

[2018-06-15 17:47] anhphan commented on #6349
@monkey-dsc I only set pack metadata to false for content files from nuget package only, so it not effect your current project content file, as you see it only up date content inside nuget cache folder `$(NugetPackageRoot)`, i also used wildcard for them:
[code]

[2018-06-15 17:51] #737 closed

[2018-06-15 17:54] nkolev92 commented on #7032
Thanks for creating this issue @flern

This is a duplicate of https://github.com/NuGet/Home/issues/6978.

[2018-06-15 17:54] #7032 closed, assigned to nobody

[2018-06-15 17:57] anhphan commented on #6349
Hi @rohit21agrawal,

I think we should keep this still open, currently we having 2 problem as i pointed before:
* Generated Linked Content for Nuget Package Reference missing metadata `<Pack>false</Pack>`
* Packing content have wrong target path for all Link Content (pack logic not using Link metadata anywhere)

_sample of generated content (msbuild document say Private metadata only have meaning

[2018-06-15 17:59] gotdablues commented on #1823
Are the release notes available in VS 2017 (15.7.3)?  If so, where are they located.

[2018-06-15 18:04] Flern commented on #7032
@nkolev92 Thank you!

Sorry about the duplicate - thought it belonged in the `dotnet cli` world since nuget worked.  I'll watch the original issue for resolution.

[2018-06-15 18:09] rohit21agrawal commented on #6349
@anhphan not planning on closing it, just adding a label. but you are right.

Would you be interested in trying to make a fix for this? I  can help as and when needed. As a pointer, you just need to augment this condition to say that there shouldn't be a  NuGetPackageId associated with it: https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Build.Tasks.Pack/NuGet.Build.Tasks.Pack.t

[2018-06-15 18:12] nkolev92 commented on #7032
@Flern

The nuget experience in the dotnet CLI is owned by the NuGet team itself.
Most issues are NuGet related, although quite a bit can be handled by the CLI as well.

This one looks like a core vs full framework issue however.

[2018-06-15 18:18] anhphan commented on #6349
I would make a PR for wrong path problem in next week, but don't know how to fix the missing `Pack` metadata problem.

[2018-06-15 18:32] nkolev92 commented on #7031
NuGet also supports the V3 protocol in addition to local feeds and the V2 feed.
The V3 feed is more performant.

Unfortunately currently there aren't a lot of easy to setup servers to host a V3 feed.

While I understand the pain, I think this should be solved by having more performant server alternative to NuGet.Server than making protocol changes in the client itself.

//cc @rrelyea @skofman1 @lo

[2018-06-15 19:13] #6889 closed, assigned to PatoBeltran

[2018-06-15 20:21] jeffkl commented on #6949
@rrelyea et al, can we close on the name of the attribute you want to use?  Options we've discussed:
[code]
[code]
[code]
[code]
[code]

[code]

[code]

[2018-06-15 21:01] loic-sharma commented on #7031
What's preventing you from using NuGet.Server?

[2018-06-15 23:01] mishra14 commented on #5889
Closing as Author signing has been completed as planned in 15.7

[2018-06-15 23:01] #5889 closed, assigned to rido-min

[2018-06-15 23:12] zhili1208 opened #7033 "Drive reducing failure rate in all nuget operations"

[2018-06-15 23:13] nkolev92 opened #7034 "Automate performance tests for the exes"
Add automation for the performance tests of NuGet.exe/MSBuild.exe and dotnet.exe.

This should ideally be a set of well known/stable tests.

[2018-06-15 23:14] mungojam commented on #7031
It probably sounds rediculous but we can't easily get a web server set up without a lot of internal cost and headache. Hopefully that will improve as our cloud maturity increases but that won't happen for at least a year.

Having GitHub Enterprise with GitHub pages has suddenly opened up possibilities as long as it's statically hosted. I had just assumed till today that I'd be able to put our hier

[2018-06-15 23:16] mishra14 commented on #7024
@PatoBeltran is this related to your recent fixes?

[2018-06-15 23:16] mishra14 commented on #7025
@PatoBeltran is this related to your recent fixes?

[2018-06-15 23:27] PatoBeltran commented on #7025
@mishra14 I have not merged any changes in this window (is still on PR haha)

[2018-06-16 00:47] loic-sharma commented on #7031
I see. There's an open-source community project, Sleet, that lets you create a statically hosted feed: https://github.com/emgarten/Sleet. Would this work for you?

/cc @emgarten

[2018-06-16 02:30] mishra14 commented on #7021
@v-longmin I tested the latest build with FRA -

![image](https://user-images.githubusercontent.com/10507120/41495011-7407c0b4-70d2-11e8-954a-d47eb3866395.png)

Please try the latest dev15.8 build to see if the problem persists. Also, please try on a different machine to confirm.

[2018-06-16 02:30] #7021 closed, assigned to mishra14

[2018-06-16 02:31] mishra14 commented on #6954
NuGet dashboard has been updated with signing related charts. Closing this issue.

[2018-06-16 02:31] #6954 closed, assigned to mishra14

[2018-06-16 05:56] niwrA commented on #3891
Some of the above comments make this seem like a difficult problem to solve, but it has been solved indirectly in various other contexts (for instance it works just fine for .NET Framework).

As a development shortcut, to get this feature to Core faster, couldn't the implementation for this be shortcut to calculating what dlls publish would output, then determining which of these are from referenc

[2018-06-16 07:17] stigperez commented on #6975
Hi nkolev92 sorry for the delay, my laptop is being restored at the vendor so I won't be able to try this out for some time. I'll let you know when I get a chance to repeat the setup.

[2018-06-16 21:10] mungojam commented on #7031
Sleet works really well thanks! I reckon you should call it out on [your package hosting page](https://docs.microsoft.com/en-us/nuget/hosting-packages/overview) as that is where I first looked before I raised this. It talks a lot about OData under the [server section](https://docs.microsoft.com/en-us/nuget/hosting-packages/nuget-server) which was what made me think static hosting couldn't work.

[2018-06-16 21:11] #7031 closed, assigned to nobody

[2018-06-17 00:23] EmilAlipiev commented on #5887
@mungojam  is it not same as right click on packages.config and select "migrate from packages.config to projectreferences" option?

[2018-06-17 00:29] loic-sharma commented on #7031
Good suggestion! I opened an issue to document Sleet: https://github.com/NuGet/docs.microsoft.com-nuget/issues/937

[2018-06-17 02:41] TheXenocide commented on #5556
In a similar, but different vein:

On some solutions with several shared components which are developed somewhat independently and reused among various other solutions, in development we use floating versions (e.g. "2.0.100.*") against a local packages directory and internal NuGet server (local packages increment from 5000 up, build server goes from 0-4999) when restoring packages to ensure we use

[2018-06-17 07:34] mungojam commented on #5887
@EmilAlipiev no, that just converts the way nuget packages are handled. It doesn't convert the project format so the legacy project loader is still used and you don't get essential features like the transitive dependency tree.

[2018-06-18 04:26] phillip-haydon opened #7035 "Restore fails if dependency isn't found on first source."
If a project has more than 1 feed, restore fails on the first failure of a feed, it doesn't check all feeds before failing.

Right now I have to use `--ignore-failed-sources` which seems wrong, I want it to fail if the dependency isn't found in any source.

If source 1 fails, it should attempt source 2. But it doesnt't...

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package M

[2018-06-18 07:57] monkey-dsc commented on #6349
have had the same metadata problem :(

[2018-06-18 08:35] d4e666 commented on #4491
and it is this kind of politics that push users over to python, java and other non-.net languages: the frustration that common issues just get put on the long run. I'M GETTING TIRED OF YOUR ENTIRE "WE LISTEN TO USER FEEDBACK" TO THEN NOTICE THAT YOU DON'T GIVE A SHIT ABOUT USER FEEDBACK. you wonder why apple is so popular? THEY SOLVE ISSUES INSTEAD OF POSTPONING THEM!!!!!!!!!!!!!!!!!!! grow a pair

[2018-06-18 09:03] chris31389 commented on #5881
What about a prompt for login after a 401 is received?  Similar to when you `git push` to VSTS for the first time.

[2018-06-18 09:44] lbargaoanu commented on #6387
I think this issue was closed in error. It still happens with 4.7.0. If a local source doesn't exist or an http source is not reachable, the restore fails even when other sources have the missing package (IgnoreFailedSources is true). The same thing happens in Visual Studio 2017 15.7.3.

[2018-06-18 09:53] paulomorgado commented on #4706
I'm getting this on projects migrated from packages.config to PacakageReference.

If I had the PackageReference by hand to the .csproj, it shows up in the NuGet UI but when I try to compile it behaves as if the reference is not there.

[2018-06-18 12:55] lbargaoanu opened #7036 "Package reference restore fails"
If I add an invalid V3 source the restore fails with an unhandled exception when there's no exact match. IgnoreFailedSources is true. For example the invalid source can be "http://bad.json".
It reproduces both in Visual Studio 2017 15.7.3 and in the restore API 4.7.0.
[The exact error](https://gist.github.com/lbargaoanu/ce0ff639c7df740bea01e537def3ea13).

[2018-06-18 14:46] jherby2k opened #7037 "NuGet.PackageManagement.dll in NuGet.PackageManagement.NetStandard 4.6.0 has invalid strong name"
## Details about Problem

I get the following error when using NuGet.PackageManagement.NetStandard with a full framework project. .NET core works fine for some reason.

Running sn.exe -v NuGet.PackageManagement.dll results in

NuGet product used (NuGet.PackageManagement.NetStandard nuget package):

## Detailed repro steps so we can see the same problem

1. Check out https://github.com/jherby2k/Aud

[2018-06-18 15:47] drauch opened #7038 "Is it ok to NOT commit the whole packages directory of a Visual Studio solution nowadays?"
https://github.com/github/gitignore/pull/1936#issuecomment-398019528 is trying to determine whether the whole packages sub directory of a Visual Studio solution can be safely git-ignored or whether some content is important to checkin.

I know that in the earlier days it was important to checkin "repositories.config", however, it is no longer the case. Is there any other content (e.g., a "build" s

[2018-06-18 15:59] rainersigwald opened #7039 "Nuget package installation continues if Init.ps1 fails"
_From @jpsalada on June 14, 2018 17:4_

### Steps to reproduce

Install a Nuget package that executes an Init.ps1 script during the installation. The script ends with Exception (we use throw, and also tried Exit 1 or Exit -1), but the installation continues.

### Expected  behavior

We expected that the installation would fail upon Init.ps1 failure.  Basically we have dependencies on external bina

[2018-06-18 17:44] jainaashish commented on #7039
@jpsalada what happens when you try to explicitly run this script in NuGet PMC console?

By default NuGet executes these scripts asynchronously with package installation so instead of throwing, they just report those failures and continue. Although there is way to turn this async mode off by setting environment variable `NuGetSyncMode=1` so you can try this and see if that allows to throw on scrip

[2018-06-18 17:57] #6400 closed, assigned to nobody

[2018-06-18 18:08] jainaashish commented on #6949
one more option `PkgPathPropertyName`

[2018-06-18 19:24] krispenner commented on #5715
Right, great point, I do like the idea of this being explicitly set in the nuget package config by the author indicating which packages are to be exported for consumption or maybe if the package has no dll of its own and only references other packages it could somehow be inferred that it's a bundled package of sorts. Cool, interesting to see what happens here. I also didn't realize this issue was

[2018-06-18 20:06] mungojam commented on #5715
Thanks for the support, reopened now, I thought it was a compiler issue, but now I think more a nuget tooling thing

[2018-06-19 00:40] nkolev92 commented on #6989
@peterhuene I have fix out in https://github.com/NuGet/NuGet.Client/pull/2306.

Can you please add the CLI warning?

[2018-06-19 00:53] peterhuene commented on #6989
Created https://github.com/dotnet/cli/issues/9510 to track it.

[2018-06-19 01:47] sharwell commented on #3608
@jainaashish I hit this today and lost more than an hour having no idea what/how/why it happened.

Steps to reproduce:

1. In Visual Studio 15.8 Preview 2 Tools &rarr; Options, create a package source with the name **api.nuget.org**
2. Disable the package source
3. Close Visual Studio
4. Open a solution which contains a **NuGet.Config** file that defines **api.nuget.org** as a source, such as [thi

[2018-06-19 01:48] sharwell commented on #3608
/cc @yishaigalatzer I hit this by accident from the UI and had no idea what to do

[2018-06-19 11:19] sclarke81 opened #7040 "Renaming nuget.exe causes pack to fail"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
NuGet.exe

NuGet version (x.x.x.xxx):
4.6.2.5055

OS version (i.e. win10 v1607 (14393.321)):
Win10 v1703 (15063.1088)

Worked before? If so, with which NuGet version:
3.5.0

## Detailed repro steps so we can see the same problem

1. Create a C# .NET Framework 4.5 Class Library project.

2. Ente

[2018-06-19 11:58] nietras commented on #4699
@mishra14 @terrajobst this issue is still open, has it not been resolved yet?

[2018-06-19 16:54] jainaashish commented on #3608
@sharwell I still feel it's super edge case because I haven't seen many cases where users have explicitly define `nuget.org` source (with a different name than already present in global nuget.config file), then disable it for a solution, and then add again to another solution, etc..

@rrelyea @anangaur to take a call if we should fix it. Although fix seems simple but not sure about the consequence

[2018-06-19 17:58] rohit21agrawal commented on #7040
Dupe of https://github.com/NuGet/Home/issues/3146

[2018-06-19 17:59] #7040 closed, assigned to nobody

[2018-06-19 18:05] mishra14 commented on #4491
@d4e666 Is something blocking you from using `dotnet.exe pack` or `msbuild /t:pack`? Because those support .NET Core projects just fine.

[2018-06-19 18:14] ptsoccer opened #7041 "project.assets.json not updated when there are no PackageReferences"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI
VS version (if appropriate): 15.7.1

My repro used the full .NET framework, but I'm not sure if it affects solely .NET framework

## Detailed repro steps so we can see the same problem

1. Create a .NET framework project
2. Add a reference to Newtonsoft.Json, ensure it uses the new Packag

[2018-06-19 18:42] Squidcod commented on #6697
Hey, encountering this as well, any word yet?

[2018-06-19 21:31] rohit21agrawal commented on #7041
is the option to allow nuget to download missing packages and automatically check for missing packages during build in visual studio enabled?

![image](https://user-images.githubusercontent.com/1857490/41625377-7f8d2e76-73cd-11e8-8e0d-21c85f00c551.png)

[2018-06-19 21:37] rohit21agrawal commented on #7037
The package https://www.nuget.org/packages/NuGet.PackageManagement.NetStandard/ is not owned by NuGet. Please contact the package author for any issues specific to the package.

[2018-06-19 21:38] #7037 closed, assigned to nobody

[2018-06-19 21:41] ptsoccer commented on #7041
Yes

![image](https://user-images.githubusercontent.com/1102725/41625763-f231f58c-73e7-11e8-9659-0bb2bbbd5e59.png)

[2018-06-19 21:42] rohit21agrawal commented on #7038
any config files , like nuget.config or repositories.config should be checked in, otherwise everything else can be safely ignored.

[2018-06-19 21:43] #7038 closed, assigned to nobody

[2018-06-19 22:13] rohit21agrawal commented on #6998
did you set PrivateAssets=all on the project reference?
make sure you run a restore before packing when you modify the project reference,

[2018-06-19 22:15] rohit21agrawal commented on #7004
@natemcmaster this only happens when you use backslash in PackagePath on non-windows systems? or does it happen on windows too?

[2018-06-19 22:42] rohit21agrawal commented on #4075
@AbdallahAbuHashem

[2018-06-19 22:44] PatoBeltran commented on #7025
I think the ideal behavior for this window should be the following:

- The ratio of the columns should be preserved as close as currently is (package name should be the biggest one; version and top level should be smaller)
- If the heading names are bigger and there is empty space in another column, columns should resize appropriately to respond to the size of the header text.
- If any of the head

[2018-06-19 22:54] loic-sharma opened #7042 "[Signing] "IfExists" repository countersignature verification behavior is overridden by "repoAlllowListEntries" setting"
Given the following settings:

[code]

If these settings are used to verify a package that has a primary author signature but no repository countersignature, the verification will fail with the error `NU3034` and the message:

This is unexpected. If `RepositoryCountersignatureVerificationBehavior` is `SignatureVerificationBehavior.IfExists`, verification should not fail on packages with no reposit

[2018-06-20 01:22] v-longmin commented on #7021
@jainaashish The issue has fixed on D15.8 27187.00 + NuGet Client Dev 4.8.0.5288, closed it, thanks.

[2018-06-20 05:49] sharwell commented on #3608
@jainaashish The fix seems easy. When I removed the source, it should have removed the key from both `packageSources` and `disabledPackageSources`, but it only actually removed it from the former.

[2018-06-20 07:22] drauch opened #7043 "Improve situation with gitignore"
If you follow the official documentation https://docs.microsoft.com/en-us/nuget/consume-packages/packages-and-source-control and recommended checkin-advice https://github.com/NuGet/Home/issues/7038 it is necessary to add `**/[Pp]ackages/*` to gitignore instead of just `**/[Pp]ackages/`. This is very unfortunate as on `git stash` the whole directory is deleted and all the packages have to be restor

[2018-06-20 10:46] msmolka opened #7044 "Source parameter was not specified when pushing"
## Details about Problem

NuGet product used NuGet.exe:

NuGet version (4.7.0.5148):

I'm trying to push both package and related symbols however when doing following command based on doc: https://docs.microsoft.com/en-us/nuget/create-packages/symbol-packages
`nuget push MyPackage.nupkg`

my command:
`NuGet.exe Push ../../.nuget/ZNetCS.AspNetCore.ResumingFileResults.2.1.1.nupkg`

I'm having error:

[2018-06-20 11:26] jpsalada commented on #912
+1

[2018-06-20 14:48] dotnetchris commented on #6459
Still occurs with nuget.exe 4.6.2, perhaps you want to include in the handling that dumps out the warning statements "maybe you shouldn't have this in system32"

[2018-06-20 19:40] jonesy827 commented on #6408
This is still happening for me on VS 15.7.3, it is quite annoying.

[2018-06-21 01:06] loic-sharma opened #7045 "[Signing] Verification result of Disallowed but none of the issues indicate why"
If you verify a package that has a repository primary signature with the setting `repositoryCountersignatureVerificationBehavior: SignatureVerificationBehavior.Always`, the result will be `Disallowed` but no errors/warnings will be reported in the issues.

CC @dtivel and @PatoBeltran

[2018-06-21 04:55] nkolev92 opened #7046 "Fix interactivity flag for the add package command"
The credential service is being initialized with the interactive flag from the add package command, but the parameter it takes is "noninteractive"

[2018-06-21 08:43] v-luzh opened #7047 "[Test Failure] Installed SDK version show inconsistently between the PM UI of project and the PM UI of Solution"
## Details about Problem
NuGet version: NuGet Client Release-4.8.0-Preview3 4.8.0.5278
VS Version: D15.8 27820.00
OS Version: Windows 10 RS4_Release 17134.1.180410-1804

## Detailed repro steps
1.	Create a solution with a C# Console App (.NET Core) and a C# Class Library (.NET Standard)’.
2.	Right-click each project in Solution Explorer, select ‘Manage NuGet Packages…’ and go to ‘Installed’ tab.
3

[2018-06-21 10:39] Fresa commented on #6997
What is sad is that the T4 text templating engine does not automatically include project referenced assemblies within the same project as the .tt file(s) exist, as it does for some "standard assemblies".

https://msdn.microsoft.com/en-us/library/gg586946.aspx

[2018-06-21 12:02] Fresa commented on #3891
The workaround does not seem to package symbols and source code of the referenced project into the nuget symbol package (only the dll).

[2018-06-21 13:32] kardinal3000 commented on #6986
Hello guys need your assistance.

During _NuGet restore_ multiple packages, I catch the same NuGet exception that @joeloff  has.
For my needs I use **Nuget.PackageManagement.dll version - 4.7.0**

[code]

[2018-06-21 14:39] techie55 commented on #5877
Hi,
I feel this feature is not very useful because it is not implemented for Web and WebAPI projects. Most of our projects are web based and I would have loved to see this feature available for Web projects as well

[2018-06-21 14:59] crb04c opened #7048 "Nuget Pack IncludeReferencedProjects contentFiles"
There looks to be no way to specify the include/exclude tags with the nuget pack command when using IncludeReferencedProjects

[2018-06-21 16:07] AArnott opened #7049 "DevelopmentDependency package nuspec should not include dependency groups"
I have a .csproj that builds to a package with a couple properties set:

[code]

This is a build authoring package, which should apply to all projects without regard to the project's target framework. Yet the generated nuspec file retains this xml:

[code]

This effectively blocks the package from installing to certain projects based on target framework.

I believe there is no way to suppress gene

[2018-06-21 16:15] SQLEmil commented on #3324
@rrelyea Is there an expectation around when we might see 4.8 Preview 3 given that 4.7 is still the latest available and the nightly build is 4.7.0 preview 1? July? Before end of 2018? I am trying to plan for whether I can incorporate this change in the first iteration of my CI/CD system or if I am going to have to add tech debt for the eventual refactor when the NuGet CLI can handle this.

[2018-06-21 16:17] MMN3003 commented on #6710
I had the same problem. I install dotnet sdk and runtime again. and use this code in cmd "dotnet F:\nikosa_both\nikosaBoth\nikosaBoth\bin\Debug\netcoreapp2.1\nikosaBoth.dll" and then I found my problem. I deleted package that have problem from csproj .  and now it work again

[2018-06-21 19:26] MaximRouiller commented on #2867
Any updates?

[2018-06-21 19:32] rohit21agrawal commented on #7049
you can add ```<SuppressDependenciesWhenPacking>true</SuppressDependenciesWhenPacking>``` moving forward in 4.8.

[2018-06-21 19:33] rohit21agrawal commented on #7049
https://github.com/NuGet/NuGet.Client/pull/2237/files#diff-ae1f77c571bde930d7337bb1415f66f3R48

[2018-06-21 19:33] #7049 closed, assigned to nobody

[2018-06-21 23:19] livarcocc opened #7050 "No dotnet restore --configuration option"
_From @bcuff on June 21, 2018 22:52_

## Steps to reproduce
Create a csproj file with conditional package references

Example:
[code]

## Expected  behavior
dotnet restore should respect the --configuration parameter.
[code]

## Actual behavior
dotnet restore doesn't have a --configuration option

## Environment data
`dotnet --info` output:
[code]

_Copied from original issue: dotnet/cli#9537_

[2018-06-21 23:22] AbdallahAbuHashem commented on #4292
The issue happens because the directory for the package does not get deleted. However, this is not because of a lock as the original post mentions. For performance reasons, `-Reinstall` flag does not delete the existing directories, but rather deals with broken references to a package as mentioned in the top of this page: https://docs.microsoft.com/en-us/nuget/consume-packages/reinstalling-and-upd

[2018-06-21 23:22] #4292 closed, assigned to AbdallahAbuHashem

[2018-06-22 09:24] Dabbel commented on #6970
Updated dotnet to version 2.1.201 on mac and still getting the same errors.

This bug is very critical for us because we can't build our software anymore

[2018-06-22 12:27] viveksingh30 commented on #6324
In my case, I was creating the project which was typically inside a lot of folders, I just created a project in near c directory, which solved my problem, my dependencies folder was restored. I was able to add nuget package. Though the dependency folder showed warning sign but every thing worked fine

[2018-06-22 15:11] skolima opened #7051 "dotnet pack includes analyzers in nuspec dependencies"
## Details about Problem

NuGet product used : dotnet.exe

dotnet.exe --version (if appropriate): 2.1.300

OS version (i.e. win10 v1607 (14393.321)): win10 v1803 (17134.112)

Worked before? If so, with which NuGet version: don't think so, at least not in any dotnet 2.0 builds (didn't try earlier)

## Detailed repro steps so we can see the same problem

1. `dotnet new classlib`

2. `dotnet add pack

[2018-06-22 15:14] AArnott opened #7052 "Custom TargetFramework names cause nuget restore to throw NRE"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (x.x.x.xxx): 4.6.1.5019

dotnet.exe --version (if appropriate): 2.1.300

VS version (if appropriate): 15.8.0 Preview 3 (27820.1.d15.8)

Worked before? If so, with which NuGet version: Not sure. I've read that this technique should work, so I assume it used to work. But this is th

[2018-06-22 17:34] livarcocc opened #7053 "Source-Only NuGet packages add <Compile Include="..." /> to csproj, resulting in build errors."
_From @btodts on June 22, 2018 11:41_

### Steps to reproduce
Install a source-only NuGet package, e.g. https://www.nuget.org/packages/TinyIoC/. Upon installation, this adds a file to your directory (in this case: `TinyIoC.cs`).

### Expected behavior
As per https://aka.ms/sdkimplicititems, I'd expect the SDK to pick this file up for compilation using the globs in the SDK properties, without modif

[2018-06-22 17:34] livarcocc commented on #7053
I am going to move the bug to NuGet to see if it is possible to have some logic to detect and not add the compile item to the project due to globing.

[2018-06-22 17:53] SQLEmil opened #7054 "NuGet.Server returns 406 instead of 409 on conflict"
When using `nuget push` to publish a package with ID and version already existing on my feed, I receive a 406 (Not Acceptable) error instead of a 409 (Conflict). Because a 406 is also generated if you submit a non-nupkg file, this makes error handling difficult in my CI/CD process as I cannot be sure if I submitted a bad file or if the package already exists. I am not sure if this is an issue with

[2018-06-23 01:59] SQLEmil commented on #7054
Was able to verify with additional testing that this is a server side problem.

[2018-06-23 01:59] #7054 closed, assigned to nobody

[2018-06-23 11:46] SuperNose commented on #2372
Still not fixed?! Please fix this; I've spent two days trying to include only ONCE a folder and not twice. Not possible. When <files> includes the folder inclusion once, it's included twice.. Yes, because mixing .nuspec and .csproj. And yes, this is because there is nuget.exe and nuget core and nuget MSBuild, every implementation is different "a bit". Such as classical .NetFramework is not able to

[2018-06-23 20:26] priyesh9875 commented on #3245
Any update on this? I am getting this error while using proxy in corporate network.

[2018-06-23 22:23] mwpowellhtx opened #7055 "Leveraging NuGet.Versioning.SemanticVersion for semantic version bump"
Hello,

I don't know if y'all have a Gitter? That would be better, probably for my question. However...

I'm looking at leveraging ``SemanticVersion`` for purposes of supporting the ``System.Reflection.AssemblyInformationalVersionAttribute`` and just wanted to posture a couple of questions along these lines.

1) Am I even in the correct forum for purposes of possibly leveraging [``SemanticVersion`

[2018-06-24 01:12] StingyJack commented on #6997
@alexdrl - T4 templates can access the ambient DTE, and use MSBuild properties.

excerpt mostly from [here](https://github.com/StingyJack/StingyJunk/blob/master/src/StingyJunk.CodeGen/CodeGenHelpers.ttinclude), that file has a method for setting up an alternate AssemblyResolve event handler that is used in the T4.  It works, but its not the cleanest looking code.

[code]

[2018-06-24 19:01] mwpowellhtx commented on #7055
A follow up question... Are the delimiters always as such? ``a.b.c.d-release+metadata``? That is, *dot* (``.``), *minus* (``-``) and *plus* (``+``)? Thanks!

[2018-06-25 00:39] DoubleCouponDay commented on #4318
guys just use install.ps1

[2018-06-25 00:44] RussKie commented on #4318
Please elaborate what you mean by "just use".

[2018-06-25 00:54] DoubleCouponDay commented on #4318
The problem @jamiekt is looking to solve is to run a powershell script upon installation. install.ps1 will be run upon installation through the visual studio user interface or from the command line. https://docs.microsoft.com/en-us/nuget/reference/analyzers-conventions#install-and-uninstall-scripts

[2018-06-25 01:15] RussKie commented on #4318
I need to install a chain of packages, each one of those may need to install own dependencies.
I can't expect users to know which order install.ps1 must be called and execute them.

[2018-06-25 01:18] RussKie commented on #4318
install.ps1 are not longer executed in Nuget installed with PackageReference, the old way with packages.config is no longer supported going forward...

[2018-06-25 03:41] lanfeng commented on #7020
Met the same issues.
We use nuget.exe@4.6.2 to restore package for each project in the same solution.
It seems that the issues only happens in VSTS incredibuild.  There is no issue when run msbuild even with /m parameter locally without incredibuild.

More detail:
+Solution directory
   + Project-A  refer to P.nupkg, Q.nupkg, X.nupkg in packages.config
   + Project-B  refer to Project A in .csproj

[2018-06-25 07:07] nkolev92 commented on #7050
Duplicate of https://github.com/NuGet/Home/issues/5421 and https://github.com/NuGet/Home/issues/5895.

As indicated in https://github.com/NuGet/Home/issues/5895#issuecomment-329867265,

`TargetFramework` is the only support condition allowed for `PackageReference` items.

To work with other conditions you will need to handle them yourself by passing the extra property values to restore, and ensuri

[2018-06-25 07:07] #7050 closed, assigned to nobody

[2018-06-25 07:10] nkolev92 commented on #5421
Duplicate of https://github.com/NuGet/Home/issues/5895.

As indicated in that issue.

`TargetFramework` is the only support condition allowed for `PackageReference` items.

To work with other conditions you will need to handle them yourself by passing the extra property values to restore, and ensuring that restore is done appropriately before each build.

[2018-06-25 07:10] #5421 closed, assigned to nobody

[2018-06-25 07:50] v-longmin opened #7056 "[Test Failure] ‘Unable to get auto-refresh path’ warnings occur after transitive updating of package ‘Microsoft.Net.Http’"
## Details about Problem
NuGet version: NuGet Client release-4.8.0-preview3-4.8.0.5278
VS version: D15.8 27823.00
OS version: Windows 10 RS4_Release 17134.1.180410-1804
## Detailed repro steps so we can see the same problem
1. Create a C#->Web ->Previous Versions -> Asp.Net Web Site (Razor v3) project.
2. Right-click the project and open ‘Manage NuGet Packages’.
3. Click the ‘Updates’ tab, then se

[2018-06-25 13:12] JoryUK commented on #6342
Following documentation incorrectly suggests that it does
https://docs.microsoft.com/en-us/nuget/tools/cli-ref-push

[2018-06-25 15:35] Ducatel opened #7057 "Update CSproj Reference path when nuget install package"
Hi everyone,

## Details about Problem

I currently use nuget for packaging my internal dependencies. (Nuget packages are stored on network disk).

Now I'm trying to improve this process with:
- Add Release dll
- Add debug dll + pdb
- Add sources
- Add targets file

So I create this type of structure in my nuget package
[code]

So now when I add this package in my project under Visual studio, my `

[2018-06-25 15:45] tebeco commented on #6978
@nkolev92 back from holidays,
do you need any new test / answer or anything else to helps you about this one ?

[2018-06-25 15:52] natemcmaster commented on #7004
This only happens on non-Windows.

[2018-06-25 18:24] nkolev92 commented on #6978
@tebeco
Please refer to https://github.com/NuGet/Home/issues/5358#issuecomment-397010460

Tracking issue on corefx side https://github.com/dotnet/corefx/issues/30354

[2018-06-25 18:26] rohit21agrawal commented on #7051
can you show your csproj after you do ``` dotnet add package Stylecop.Analyzers ``` . There was recently work done to persist the devDependency information to csproj , which the pack command should respect.

I think that feature is available in 2.1.400 version of SDK, so it will be fixed if you upgrade to that.

[2018-06-25 18:29] rohit21agrawal commented on #7055
@mwpowellhtx I suggest you use [NuGetVersion](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Versioning/NuGetVersion.cs) which also supports Semantic versioning.

Rules on semver can be found here: https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Versioning/NuGetVersion.cs

[2018-06-25 19:11] mishra14 commented on #5929
@DHowett-MSFT Are you still running into this with VS 15.7.4?

[2018-06-25 19:13] mishra14 commented on #6604
@atsushieno are you still facing this issue?

[2018-06-25 19:14] #6897 closed, assigned to nobody

[2018-06-25 19:16] mishra14 commented on #6790
@mhutch has this been fixed from your end?

[2018-06-25 19:18] mishra14 commented on #3251
@garuma seems folks are still facing issues with this scenario. Are you tracking this in mono?

[2018-06-25 19:19] mishra14 commented on #6201
@diverdan92 🔔

[2018-06-25 19:20] mishra14 commented on #6902
@SGStino  @nkolev92 🔔

[2018-06-25 19:29] nkolev92 commented on #6902
@SGStino
Did you discuss this with @keithrob?

Anything required from NuGet specifically here?

Can this be closed?

[2018-06-25 19:32] mishra14 commented on #3680
the mono bug has been marked as fixed.

[2018-06-25 19:32] #3680 closed, assigned to nobody

[2018-06-25 19:34] mishra14 commented on #4004
@zhili1208 is this still an issue? If so can you please open a corresponding mono issue?

[2018-06-25 19:35] mishra14 commented on #4005
@zhili1208 is this still an issue? If so can you please open a corresponding mono issue?

[2018-06-25 20:06] mhutch commented on #6790
@mishra14 it was fixed in Mono [long ago](https://github.com/mono/mono/blame/42aafd4c01d938c5fe0f90b194b3a5d7652bf326/mcs/class/corlib/System/Array.cs#L3133) and packages for the updated Mono are available.

This affects folks who want to use a recent NuGet on the **in-box version** of Mono on Ubuntu 16.0.4 LTS, but I'm not sure whether that's an important scenario to support.

[2018-06-25 20:11] garuma commented on #3251
@mishra14 not that I know of

[2018-06-25 20:18] atsushieno commented on #6604
Yes, dotnet-install.sh (downloaded by build.sh) does not support Ubuntu 17.10 (adding an entry for it didn't make it to work, resulting in 404 for some download attempt).

[2018-06-25 21:40] mishra14 opened #7058 "Add "NuGet" to restore completion logs to make the source clear."
As requested by @justcla

Hi Ankit

Now that Visual Studio are releasing a new library files restoring feature: Library Manager (LibMan – previously PacMan), we need users to be able to differentiate between our “Restore operation complete” and the NuGet “Restore operation complete”.

I propose that the status bar text be prefixed with “NuGet: “ and “LibMan: “ so that users will know which operati

[2018-06-25 23:01] DHowett-MSFT commented on #5929
Yes. With the exact same error message.

[2018-06-25 23:25] nkolev92 commented on #4693
Another instance of this internally [568346](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/568346)

[2018-06-26 00:29] mwpowellhtx commented on #7055
@rohit21agrawal Thanks, yes, I came to discover there was the ``NuGetVersion``. I'm not quite sure what you mean by *"rules"* however. There is source code, to be sure. But I don't see anything there that would lead me to consider anything a rule.

[2018-06-26 00:31] rohit21agrawal commented on #7055
my bad, wrong link: https://semver.org/

About delimiters in particular, https://semver.org/#spec-item-9 and https://semver.org/#spec-item-10

[2018-06-26 00:33] mwpowellhtx commented on #7055
@rohit21agrawal Spec items 9 and 10? If the links were supposed to go some where, they did not. I found the listed items under ``Semantic Versioning Specification (SemVer)``, however. Thanks!

[2018-06-26 00:35] rohit21agrawal commented on #7055
yeah, i am referring to point  point 9 and 10 under "Semantic Versioning Specification (SemVer)" basically. The links were generated from the website but aren't pointing to the right page.

[2018-06-26 00:37] mwpowellhtx commented on #7055
@rohit21agrawal Yes, they are a listed item, but not a heading, so I guess they do not show up as such accordingly.

[2018-06-26 00:37] #7055 closed, assigned to nobody

[2018-06-26 00:45] rohit21agrawal commented on #7053
@btodts the package you refer to contains a "Content" folder, which contains a *.cs file. This kind of package only works with a packages.config based project, and it is by design that it would copy the cs file to the root of the project directory and add a Compile element to csproj.

Are you using a packages.config based project or a PackageReference based project? Could you share your csproj fil

[2018-06-26 01:46] coyuX opened #7059 "get package missing on this computer error when the missing file suggested is acctual in the folder"
NuGet product used : Package Manager Console
NuGet version (x.x.x.xxx): 4.7.0.5212
VS version : 2017
OS version : win10

GOT THIS ERROR:
This project references NuGet package(s) that are missing on this computer. Enable NuGet Package Restore to download them.  For more information, see http://go.microsoft.com/fwlink/?LinkID=322105. The missing file is ..\packages\opencv3.1.redist.1.0\build\native\

[2018-06-26 01:52] ticktickMOF opened #7060 "Question: nuget restore thread safety"
are nuget.exe restore, dotnet restore, msbuild /restore thread safe across processes? Like if I have 2 msbuild /restore instances running in parallel on different projects that consume the same nuget package do I need to worry about them trying to write the same files at the same time?

[2018-06-26 02:45] lanfeng commented on #7060
It might be related to issue #7020

[2018-06-26 05:08] MichelZ commented on #6088
My scenario is that I have an existing project where I want to use VSTS Package Management. We want to leverage the "upstream" capabilities of it, so that we can specify a single feed in our Project, and VSTS takes care of aquiring the package from the right stream.

Now, to be able to do this, you have to execute an "Install" action on the packages that are already installed. A -Reinstall would h

[2018-06-26 08:04] skolima commented on #7051
With 2.1.300:

[code]

With 2.1.400-preview-009053 (which doesn't include analyzers as dependency in the packaged nuspec):

[code]

[2018-06-26 08:16] skolima commented on #7051
I have verified that with the `<PackageReference/>` node that 2.1.400 creates, packaging with 2.1.300 also creates expected nuspec dependencies (so, excludes Analyzers).

[2018-06-26 08:32] #6874 closed, assigned to nkolev92

[2018-06-26 09:15] btodts commented on #7053
@rohit21agrawal Neither :) I'm actually using [Paket](https://fsprojects.github.io/Paket/) as my dependency manager. Your comment made me reconsider, I've opened an [issue](https://github.com/fsprojects/Paket/issues/3269) in Paket's repository since it's probably related to their install process.

I suppose this issue can be closed.

[2018-06-26 10:46] bangaruchary commented on #6513
Hi, I am using DotNet Build command.
Initially i was getting this error:
error : Unable to load the service index for source https://api.nuget.org/v3/index.json.
For this I have set HTTP_PROXY variable to the proxy.

Even though I have used DotNet Restore, build command again trying to restore the packages, is there any way that I can stop restoring while build.

Thank you
Chary

[2018-06-26 12:07] ttaylor29 commented on #1827
The comment by: zorgoz commented on May 11 fixed my issue.

[2018-06-26 12:56] d4e666 commented on #4491
the major issue I have is that I try to get all this running on VSTS to pack all projects after a successful RELEASE built and afaik VTST does not have a task for dotnet build (yet)

I even have another big issues with the fact that you have a great framework with nuget and that now you are creating yet another framework to do exactly the same thing. Why do you at MS keep creating the same thing o

[2018-06-26 13:12] gusmanb commented on #4488
I'm on the same boat as NetTecture, any solution?

[2018-06-26 13:13] atanasa opened #7061 "Command that cleans up the output of the restore"
Is there an option to run a command similar to the Clean target but to clean up the output of the Restore operation?

Currently the `dotnet build` triggers an implicit Restore. The Clean target, as I understand it, is meant to clean up the output of the Build but not the output of the Restore.
I assume that running the Rebuild target would trigger a Clean but not trigger a Restore prior to running

[2018-06-26 13:55] AArnott commented on #4693
It's not clear to me what this issue is tracking. It appears it's focused on wizards that install packages that are packed into the VSIX. But that's a years-old pattern that I think we don't even want to follow any more. We shouldn't be packing nuget packages inside VSIXs, but rather we should be just scripting the wizard to add a PackageReference to the project and let NuGet 'restore' the package

[2018-06-26 15:16] eschneider999 opened #7062 ".Netstandard lib is not added as a reference to the project? Not sure why?"
## Details about Problem
When add my package, my .netstandard lib is not added as a reference to the project? Not sure why?
My package is: Symbiotic_Micro_ORM_Net_Standard_x64.2.0.4

Nuget Package Manager 4.6.0
Visual Studio 15.7.4
Windows 10 Pro

Worked before? Not that I'm aware of

## Detailed repro steps so we can see the same problem

1. Create new .net 4.6.1 class library project.

1.5. You

[2018-06-26 15:19] Ducatel commented on #7057
Problem solved, missing `net461` in my targets file

[2018-06-26 15:19] #7057 closed, assigned to nobody

[2018-06-26 16:20] livarcocc opened #7063 "Upgrade all nuget packages in project/solution"
_From @shatl on June 26, 2018 13:57_

Please ability to upgrade all nuget packages in csproj file or solution to latest version from command line.

E.g. ```dotnet update package *``` - updates all package references in project (or solution) found in current folder
```dotnet update PackageName``` - updates package with given name

_Copied from original issue: dotnet/cli#9559_

[2018-06-26 16:21] livarcocc opened #7064 "Add package: specify dependency resolution strategy"
_From @shatl on June 26, 2018 14:5_

Add option to specify dependency resolution strategy ```dotnet add package```

* Exact - install dependency version specified in nuspec file;
* HighestPatch - install highest available minor version for major version specified in nuspec;
* HighestMinor - install highest available minor and patch version for major version specified in nuspec;
* HighestMajor (Lat

[2018-06-26 17:31] nkolev92 commented on #4693
@AArnott
You're right, what you're describing does work today.

The "hole" here is that the VSIX dir is not used as a source.
Personally I agree that we should not be packaging VSIXs like that. And certainly we could use the offline packages folder for in box templates.

The only thing that wouldn't work with this approach is external templates.
There would be no way to make the offline scenario w

[2018-06-26 18:02] #7046 closed, assigned to nkolev92

[2018-06-26 18:05] rohit21agrawal commented on #7051
glad it worked for you, please close the issue if this has been resolved for you. Thanks!

[2018-06-26 18:07] rohit21agrawal commented on #7053
thanks for the clarification @btodts

[2018-06-26 18:07] #7053 closed, assigned to rohit21agrawal

[2018-06-26 18:16] rohit21agrawal commented on #4491
@d4e666 i am sorry about the confusion in VSTS. Running msbuild on a NETCore project in VSTS is the same as running ``` dotnet build```. And therefore, running ``` msbuild /t:pack ``` on VSTS is the same as running ``` dotnet pack ``` on a NETCore project.

There is a dotnet tool to do all the commands you can use from dotnet.exe on VSTS:

![image](https://user-images.githubusercontent.com/1857490

[2018-06-26 18:27] mishra14 commented on #7061
I think what you are loooking for is `dotnet restore --force` or `msbuild /t:restore /p:restoreforce=true`.

The `--force` options performs a full restore and overwrites the results. You can read more about dotnet restore [here](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-restore?tabs=netcore2x).

Please let us know if you need any more help on this.

[2018-06-26 18:31] #7051 closed, assigned to rohit21agrawal

[2018-06-26 18:37] mishra14 commented on #7064
@shatl Thanks for the request.

We currently do support `HighestMajor` -
`dotnet add package X` or `dotnet add package X --version *`

Supporting rest of the options is not a straight forward fix because of the following -

1. `dotnet add package` command invokes restore with the new dependency.
2. Currently, restore does not support passing any of those switches.
3. One other way is to have the k

[2018-06-26 18:40] mishra14 commented on #7063
This is a dupe of https://github.com/NuGet/Home/issues/4103

please track that issue.

[2018-06-26 18:40] #7063 closed, assigned to nobody

[2018-06-26 18:45] mishra14 commented on #7062
@eschneider999 Thanks for your feedback.

Couple of things that I can see from the logs -

1. `Added package 'Symbiotic_Micro_ORM_Net_Standard_x64.2.0.4' to 'packages.config'` - This shows that you have a `packages.config` file in your project and the package reference was added to that.
2. `Successfully installed 'Symbiotic_Micro_ORM_Net_Standard_x64 2.0.4' to ClassLibrary1` - This shows that the

[2018-06-26 18:56] dazinator commented on #4693
Thats exactly the reason I raised this. I have developed a new project system and it is distributed as a vsix and includes a new project template. There is no way for me to "prime" the offline package cache in this scenario. If a vsix could install a nuget package to the offline cache this would replace the need for the wizard thing but afaik it can't currently do this.

[2018-06-26 19:09] maartenba opened #7065 "Flatcontainer - Download package manifest nuspec"
The API docs specify a .nuspec is downloadable from the flatcontainer API:
https://docs.microsoft.com/en-us/nuget/api/package-base-address-resource#download-package-manifest-nuspec

We would like to learn which NuGet client is making use of this endpoint.

[2018-06-26 21:02] rrelyea opened #7066 "Test infrastructure - nuget gallery to test repo signing w/ https"
Need to build infrastructure so that we could have caught this bug before we shipped:

Fix for PackageSigning - require that repository signed packages (15.7 feature) MUST be one of the known repo certificates.

https://github.com/nuget/home/issues/6884
https://github.com/NuGet/NuGet.Client/pull/2204

[2018-06-26 21:11] #6796 closed, assigned to nkolev92

[2018-06-26 21:12] rohit21agrawal opened #7067 "Test infrastructure - add testing capability for VS RC versions with older .NET Frameworks"
We need to provision infrastructure to test against RC builds of VS and older .NET Frameworks.

[2018-06-26 22:53] TRMack commented on #5385
I'll second this. I'm manually going through and undoing the formatting so as to not throw false positives in change logs.

[2018-06-26 23:44] eschneider999 commented on #7062
ok, makes sense, yet all the other libs show in the references for the project?

config does show the lib, yet if I try to use the lib, I get errors.
I tried it in both c# and vb.net. I have to manually add the lib reference to get it working.

I may be doing something wrong, just don't know what, and I would like it to work.

<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Symbio

[2018-06-27 00:13] mishra14 commented on #7062
NuGet supports 2 reference formats - `packages.config` and `PackageReference`.

You are currently using `packages.config` which is older and non-transitive. The new format is `PackageReference` in which the references are added to the project file.

If you want to change the default to `PackageReference`, you can do it as follows -
1. Tools -> Options -> NuGet Package Manager
2. Package Management

[2018-06-27 00:15] mishra14 commented on #7065
@NuGet/nuget-client  Does anyone know if we use that endpoint?

[2018-06-27 00:27] eschneider999 commented on #7062
ok, tried that (with a new project) and it's even worse. No references at all?

Restoring packages for C:\Users\eschneider\source\repos\ClassLibrary4\ClassLibrary4\ClassLibrary4.csproj...
Restoring packages for C:\Users\eschneider\source\repos\ClassLibrary4\ClassLibrary4\ClassLibrary4.csproj...
Committing restore...
Generating MSBuild file C:\Users\eschneider\source\repos\ClassLibrary4\ClassLibrar

[2018-06-27 00:35] emgarten commented on #7065
As far as I know this isn't used. The nupkg is always downloaded and the nuspec is read from the local nupkg.

The flatcontainer format was meant to be identical to the v3 folder format on disk which has nupkg, nuspec, hash file.

The client could read the nuspec first to find dependencies instead of waiting to continue the walk until the entire nupkg has been downloaded, but the thinking was that

[2018-06-27 03:23] #6989 closed, assigned to nkolev92

[2018-06-27 04:32] benjamin-bader commented on #4102
I'd love to have this command at the moment.  I've just learned that some transitive dependency of my project has a vulnerability, but without a way to list all direct and transitive package dependencies, I have no good way to verify that I'm no longer using the vulnerable version.

Would you be willing to accept a PR for this?  This issue has been open for a long time, and I'd be happy to help.

[2018-06-27 05:19] maartenba commented on #7065
Thanks for clarifying!

[2018-06-27 05:49] cwe1ss commented on #4102
@benjamin-bader there's a nice .net core global tool for listing outdated references: https://github.com/jerriep/dotnet-outdated

[2018-06-27 06:14] alexdrl commented on #6997
@StingyJack This answer is likely working with the old packages.config, but I will try with something like @rohit21agrawal suggested.

[2018-06-27 08:45] SabotageAndi commented on #1739
Is there any plan do work on this?
This is want my update list looks like (yeah, I know I have to update a lot of packages...):

![image](https://user-images.githubusercontent.com/859801/41963032-dc4fc9e6-79f6-11e8-9a2f-0b0eb7a578b0.png)

This is VS 2017 15.8 Preview 2

It's not really usable.

Is this UI in a open sourced part or in a closed source part?

[2018-06-27 13:05] JamieKeeling commented on #4254
Are we any further in resolving the initial issue whereby you're forced to use a .csproj?

I need this as a Nuget package so I can distribute it easily.

[2018-06-27 13:14] GanesanRengasamy opened #7068 "EINVRES Request to https://bower.herokuapp.com/packages/syncfusion-javascript failed with 502"
Hi,

I have faced the below issue while trying to install the bower packages in my project.

![image](https://user-images.githubusercontent.com/16695209/41976189-17cb1f96-7a3a-11e8-8573-0f29f9c43d99.png)

Could you please help me to resolve this issue?

Thanks,
Ganesan R.

[2018-06-27 13:58] eschneider999 commented on #7062
Can we assign someone to this? I have another package to build, and would like to resolve this?

[2018-06-27 14:37] daveaglick commented on #4476
Pretty sure it should. Here's a scenario:

* Run `dotnet new classlib` to generate a project file that targets `netstandard2.0`
* Run `dotnet build` which generates a `project.assets.json` for the `netstandard2.0` target
* Change the `TargetFramework` to `net462` in the project file
* Run MSBuild directly (I.e., via Structured Log Viewer with the following command line: `"C:\Program Files (x86)\Mi

[2018-06-27 14:42] livarcocc opened #7069 "dotnet pack includes all dependencies even if specific TargetFramework is given"
_From @xalikoutis on June 27, 2018 11:1_

## Steps to reproduce
After upgrading to dotnet sdk 2.1.300 using dotnet pack for specific TargetFramework includes also dependencies from the other TargetFrameworks.

Thats my csproj

[code]

Previously with .net sdk 2.0 when running
[code]

![snap1](https://user-images.githubusercontent.com/847472/41970038-077d64b4-7a12-11e8-9359-dff108a618f9.png)

after

[2018-06-27 14:43] livarcocc commented on #7069
Can you guys take a first crack at this? If it is a CLI/SDK issue, just re-activate the original issue.

[2018-06-27 15:10] dtretyakov commented on #6486
@nkolev92, do you have a working example of plugin with protocol v2 support? I've tried to use https://github.com/NuGet/NuGet.Client/tree/release-4.8.0-preview3/test/TestExtensions/TestablePlugin without success. Despite [protocol claims using stdout/stdin](https://github.com/NuGet/Home/wiki/NuGet-Package-Download-Plugin#plugin-interaction) for communication this plugin tries to connect to some pr

[2018-06-27 15:15] jeffkl commented on #6486
@dtretyakov here's my prototype that shows how to implement a credential provider: https://github.com/jeffkl/NuGetCredentialProvider

We're working on an open source credential provider that everyone can contribute to.  Ideally it would work for local devs connecting to VSTS and hosted builds like AppVeyor and VSTS out-of-the-box.  That way we don't need a different provider for each scenario.

[2018-06-27 15:27] EloyBarcia opened #7070 "Escaped apostrophes got decoded somehow after Nuget parses App.config"
Hello,

I have a weird problem here. Recently, a keyValue with a password escaped was added to the App.config of my .net4,5 project. Everything was ok until I updated some nuget packages. After that, Visual Studio shows me some changes to the config, not bindings, not package related, only an ```&apos```; being somehow translated to '.
Trying to understand what was happening, I ran the "Add-Bindin

[2018-06-27 15:32] Ducatel opened #7071 "Access To repositoryPath in MsBuild Target"
Hi,

I use a custom path for my nugets package. I do that with a `nuget.config` file which contains something like this:
[code]

In the same time, to build/install properly my own nuget package, I use a targets file like:
[code]

So that work fine on project which use the default path to the `package folder`. But with my custom `repositoryPath`, it is'nt working at all.

To make that good, I need

[2018-06-27 15:39] StingyJack commented on #6997
This isn't specific to either packages type, it's how to get to the current project and solution via T4.

[2018-06-27 15:46] nkolev92 commented on #6486
@jeffkl
In the end we moved away from the one OSS plugin for all providers.

@dtretyakov
As Jeff suggested, his plugin is a good reference.
You can also consider take a look at the [plugin](https://github.com/nkolev92/NuGet.Tools/tree/master/NuGet.CredentialProvider/CredentialProvider.Console) I used for testing (doesn't do any actual auth).

Please note that that the protocol is still being worke

[2018-06-27 17:54] #6433 closed, assigned to nobody

[2018-06-27 17:56] anangaur commented on #4102
@benjamin-bader As @cwe1ss mentioned, https://github.com/jerriep/dotnet-outdated is a nice global tool to help you. NuGet team is also working on an `outdated` command as specified here: [Show outdated packages](https://github.com/NuGet/Home/wiki/Show-outdated-packages)  -- NuGet issue https://github.com/NuGet/Home/issues/5762

[2018-06-27 18:20] mishra14 commented on #7065
@maartenba does this address your question?

[2018-06-27 18:21] mishra14 commented on #7062
@eschneider999 can you click on File -> Save all and then open the csproj file in a text editor. It should display all the package references.

[2018-06-27 18:26] mishra14 commented on #7068
This issue was moved to bower/bower#2519

[2018-06-27 18:26] #7068 closed, assigned to nobody

[2018-06-27 18:26] mishra14 commented on #7068
@GanesanRengasamy  I have moved this issue to the Bower repository. Please track the new issue linked above.

[2018-06-27 18:31] stigperez commented on #6975
Hi @nkolev92  I tried to reproduce the issue but "unfortunately" I now get a successful compilation. I should say the machine was completely wiped and although I installed the same apps and core version I no longer get the issue. I had a fair amount of issue with the laptop prior to the restore so something must have gone wrong when installing .net core.

Thank you @livarcocc and @nkolev92 for tak

[2018-06-27 18:38] eschneider999 commented on #7062
for which scenario? the packages.config or the PackageReference ?

I'm just using a blank empty project for testing, just as outlined in my Detailed repro steps. I can continue to follow your directions but I think it will just slow the process down.

[2018-06-27 18:44] nkolev92 commented on #6975
Thanks @stigperez

Your issue sounds very much like https://github.com/dotnet/cli/issues/9439.

Please follow that for potential new developments.

Thanks for closing the loop.

[2018-06-27 18:44] #6975 closed, assigned to nobody

[2018-06-27 19:07] maartenba commented on #7065
It does, thanks!

[2018-06-27 19:10] mishra14 commented on #7062
@eschneider999 Sorry for the confusion. For the `PackageReference` scenari -

1. Install a package
2. File -> Save All
3. Open csproj file in a text editor. It should contain all package references.

Where are you checking for the references?

[2018-06-27 19:10] #7065 closed, assigned to nobody

[2018-06-27 19:17] eschneider999 commented on #7062
Typically all the references show in the "Solution Explorer" window in Visual Studio (Pro).
Under the project node / References node.

[2018-06-27 19:25] mishra14 commented on #7062
I see thats what you mean. So ideally, all NuGet references should show up in the dependency tree. For instance, I was able to create a new project and  install a package -

![image](https://user-images.githubusercontent.com/10507120/41994892-c1624f38-7a04-11e8-9591-e93df407acdb.png)

If you are not getting this, I would recommend closing and reopening the solution. If you still do not see the nod

[2018-06-27 19:28] eschneider999 commented on #7062
Did you try it with my package?
Symbiotic_Micro_ORM_Net_Standard_x64.2.0.4

Also since my package is a netstandard you must be in a .Net Framework 4.6.1 or higher

[2018-06-27 19:31] mishra14 commented on #7062
I tried your package with `PackageReference` format -

![image](https://user-images.githubusercontent.com/10507120/41995222-d09097d4-7a05-11e8-939f-ddf77af279a0.png)

[2018-06-27 19:33] eschneider999 commented on #7062
Where's the specific data provider libs?
And what framework did you choose for that lib?

Looks like the netstandard lib is working/showing there.

If you open the package in the "Windows Package Explorer" you should see all the libs.

[2018-06-27 19:51] nkolev92 commented on #7060
@lanfeng
I don't think they are related.

@ticktickMOF

NuGet does have some cross process locking.

For example, two different processes could attempt to install to the same directory and it **should** work.
The same holds for writing assets files and g.props and g.targets.

The biggest takeaway, is that small individual operations are thread safe. The whole operation might not be.

In PackageRef