[2019-10-31 22:18] zivkan opened #8784 "Investigate DiagnosticsSource for protocol diagnostics"
System.Net.Http.HttpClient emits events though DiagnosticSource: https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/HttpDiagnosticsGuide.md

Note, it works on both .NET Framework and .NET Core, but the event names are different (probably because the event datastructure is different), so if we use it, it's important to test both runtimes. Also, check what happens on mono.

This wi

[2019-10-31 22:53] rrelyea commented on #8137
@byfon - no response. closing. please let us know info we asked for, if still an issue.

[2019-10-31 22:53] #8137 closed, assigned to nobody

[2019-10-31 23:07] #8762 closed, assigned to dtivel

[2019-10-31 23:12] rrelyea commented on #7842
5.3.1 has 2 fixes.
5.4 has additional two fixes.
And @nkolev92 is continuuing to investigate one more related problem now.

[2019-10-31 23:15] rrelyea commented on #6007
Enabled and shipping in VS 16.4

[2019-10-31 23:15] #6007 closed, assigned to dtivel

[2019-10-31 23:49] ransagy commented on #8543
As i haven't come across this again, no problem by me. I'll comment again if and when it happens.

[2019-10-31 23:59] ashishnegi opened #8785 "Nupkg structure for multi framework (45 - 471) support + net standard ( Github Issue : https://github.com/NuGet/Home/issues/6739 )"
I have a c# library. It has some different apis in netstandard than net47.

I want to generate a nupkg which should be usable from both .net specific framework and .net coreclr projects. So, if someone creates a fullframework net46/net47 project Or coreclr project targeting netcoreapp2.0 or net47, it should pick up dll based on its version. Also, for .net standard, since it targets multiple platfo

[2019-11-01 11:23] PvdWaltDevRoc opened #8786 "Exclude files in c# project from the content directory"
Nuget.exe Version: 4.9.4.5839

I have no idea why I'm struggling with this, it should be so easy?

My c# project have an additional folder with external dependent dlls. This is done to keep the Dlls with the project.

When I pack my Nuget package from the c# project file it includes these dlls in the content folder however I don't want them there and I have tried to exclude them in any way possibl

[2019-11-01 15:45] zivkan commented on #8775
I'm aware of 3 projects/products that use NuGet as their own module distribution system: powershell, chocolatey, xenko.

Can you explain what's not working for you?

[2019-11-01 16:32] airbreather commented on #6673
Current workaround is for every package that might be a DependencyA to specify explicit upper-bounds on `PackageReference` versions, e.g., aspnet/EntityFrameworkCore#18192 (with consideration for #6434).

This allows NU1608 to get raised in these situations, which doesn't quite have "big fat warning" status as things stand today, but I think it's an improvement over putting "obvious" values for `P

[2019-11-01 16:47] dtivel opened #8787 "Test: Apex test suite timed out due to long-running InstallNuGetVSIX.ps1"
In build 5.5.0.6288 the [`Apex_Tests_On_Windows`](https://github.com/NuGet/NuGet.Client/blob/7f66071ec495cbe135441df457563b28e69d1642/build/vsts_build.yaml#L821) phase timed out at 60 minutes.  The [`InstallNuGetVSIX.ps1`](https://github.com/NuGet/NuGet.Client/blob/7f66071ec495cbe135441df457563b28e69d1642/build/vsts_build.yaml#L877) task alone took 13 min, 47 sec.

Here is the build log:
[code]

T

[2019-11-01 17:12] anangaur commented on #8580
/cc: @reybard ⬆️

[2019-11-01 18:14] rrelyea commented on #8781
@wpanduka - Likely an msbuild issue?

dotnet build cannot support path with folder name has '%20' [#2178](https://github.com/microsoft/msbuild/issues/2178)

If that isn't it...please look at other mentions of NETSDK1004:
[Search for NETSDK1004](https://www.bing.com/search?q=NETSDK1004&PC=U531&cvid=41601e7aec5b422ea2bff891741acec0&FORM=ANNTA9)

[2019-11-01 18:21] rrelyea commented on #8780
This issue is a dupe of: https://github.com/NuGet/Home/issues/3891
we don't yet support includereferencedprojects when you pack with `dotnet pack` or msbuild /t:pack

We have that on our backlog, and hope to get to it this quarter (Q4 2019)

[2019-11-01 18:21] #8780 closed, assigned to nobody

[2019-11-01 20:56] rrelyea commented on #8779
There are open issues tracking features that the project system would need to support to have a better experience for contentfiles in VS:
https://github.com/dotnet/project-system/issues/603
https://github.com/dotnet/project-system/issues/604

The .cs files end up being included from the global package folder (.nuget\packages\) -- instead of making a copy inside the project.
Today, that file proper

[2019-11-01 21:14] rrelyea commented on #8776
Packages.Config will automatically embed interop types.  This is handled at install time, and modifies the .csproj appropriate.
To override this behavior, I'd image an install.ps1 file might be a way to override that default.

For PackageReference, we implemented some support in [NuGet 5.0](https://docs.microsoft.com/en-us/nuget/release-notes/nuget-5.0-rtm) added Enable EmbedInteropTypes for Packa

[2019-11-01 21:19] rrelyea commented on #8775
`dotnet tools install` creates a temporary csproj with appropriate properties, and downloads a bunch of packages. @wli3 could point you to the source code which seems to be in transit somewhere now.

[2019-11-01 21:22] rrelyea commented on #8773
Sorry, nuget.exe 2.2.0 is more than 5 years old. We haven't shipped a fix in 2.x for more than 3 years.
We recommend you move to 4.x or 5.x so that you are using software we are more able to service and support. Hope you figure out what changed in your environment.

[2019-11-01 21:22] reybard opened #8788 "GatewayTimeout on Large File Uploads to GitHub Package Registry"
## Details about Problem

NuGet product used: NuGet.exe & dotnet.exe

NuGet version (x.x.x.xxx): 5.1.0.6013

dotnet.exe --version (if appropriate): 3.0.100

OS version (i.e. win10 v1607 (14393.321)): macOS 10.15.1

## Detailed repro steps so we can see the same problem

1. Create a large package (~200MB) - I took a very basic sample csproj and added a 200M file with `dd`, then zipped it all togeth

[2019-11-01 21:25] #8773 closed, assigned to nobody

[2019-11-01 21:25] rrelyea commented on #8773
Issue moved to [NuGet/NuGetGallery #7669](https://github.com/NuGet/NuGetGallery/issues/7669) via [**ZenHub**](https://www.zenhub.com/)

[2019-11-01 21:33] rrelyea commented on #8772
We are doing this work. Done now, but need some improvements. So likely shipping in VS 16.5. #8189 is tracking that work.

Until then, packages can choose to use the new technique, and leave the old url in the project and/or nuspec -- that will stop the warning, and still work in versions of VS that don't know how to show it yet.

/cc @dominoFire @agr @karann-msft

[2019-11-01 21:33] #8772 closed, assigned to nobody

[2019-11-01 21:40] rrelyea commented on #8771
Sent mail to devops team to engage on info gathering here...

[2019-11-01 21:50] rrelyea commented on #8768
we don't have access to: System.Runtime.CompilerServices.Unsafe (it is not published on nuget.org)
Can you change the repro steps that work with a public package?

[2019-11-01 22:00] rrelyea commented on #8768
If this works in a netfx 4.7.2 project, then you are probably hitting: https://twitter.com/terrajobst/status/1031999730320986112

When you look at the bin directory after a 4.6.1 build and 4.7.2 -- the 4.6.1 has a mess of files to try to be netstandard2.0 compat. Clearly there are problems in that world. Sorry.

[2019-11-01 23:14] heng-liu commented on #8364
For now, VS on agent VSEng-MicroBuildVS2019 is upgraded to 16.3. But VS on
VSEng-MicroBuildSxS is not yet upgraded. Shall we upgrade the version of VS2019 on VSEng-MicroBuildSxS? @nkolev92

[2019-11-01 23:16] nkolev92 commented on #8364
I think it's a good idea to ask for them to do that.
I don't see any problems with that.

[2019-11-01 23:42] hugener opened #8789 "NuGet.Configuration dependency (System.Security.Cryptography.ProtectedData) is not copied to output directory"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.Configuration

NuGet version (x.x.x.xxx): 5.3.1

dotnet.exe --version: 3.0.100

VS version: 16.3.1

OS version: Win 10 1903

Worked before? If so, with which NuGet version: Not that I know

## Detailed repro steps so we can see the same problem

1. Create a new .netstandard2.0 lib

2. Ref

[2019-11-03 15:28] luis-echegaray commented on #5016
The github registry feature requires the repository metadata which 3.5 does not support, so now we have to choose between continuing with Github Registry with 40 minute packaging steps, or head back to Nexus3
:(

[2019-11-03 17:53] lnicolae commented on #7688
C:\Users\xxx\Source\Repos\ConsoleApp11\ConsoleApp2\bin\Release>"c:\users\lautas\appdata\local\microsoft\visualstudio\16.0_f557710cexp\extensions\lautas nicolae\vsixtesttehnolog\1.0\NuGet\nuget.exe" push "C:\Users\xxx\Source\Repos\ConsoleApp11\ConsoleApp2\bin\Release\ConsoleApp2.1.0.1.nupkg" -Source https://api.nuget.org/
Pushing ConsoleApp2.1.0.1.nupkg to 'https://www.nuget.org/api/v2/package'...

[2019-11-03 18:01] lnicolae opened #8790 "Response status code does not indicate success: 403 (The specified API key is invalid, has expired, or does not have permission to access the specified package.)"
Nuget 5.3.1

## Details about Problem

NuGet product used (NuGet.exe from console)

NuGet version 5.3.1:

OS version (i.e. win10 v1607 (14393.321)):

Worked before? Don't know

## Detailed repro steps so we can see the same problem

1. From console with admin rights:

C:\Users\xxx\Source\Repos\ConsoleApp11\ConsoleApp2\bin\Release>"c:\users\xxx\appdata\local\microsoft\visualstudio\16.0_f557710cexp\

[2019-11-03 20:45] StingyJack commented on #8680
What is an example of a "normalized file name" in this context?

[2019-11-04 08:11] StephaneGraziano commented on #8768
Same bug with 4.7.2 or 4.7 this is again the reference file, not the real binary
![image](https://user-images.githubusercontent.com/48211010/68106806-11224280-fee3-11e9-99f9-3f68fd54d236.png)

[2019-11-04 09:13] marcussonestedtbarium commented on #2075
@roy-t I'm looking for this too. Any progress the last 3.5 years? 🙄 😜

[2019-11-04 15:08] jeffkl opened #8791 "Make noop restore faster - speed up evaluations by calling MSBuild Static Graph apis"
## Details about Problem

In MSBuild 16.0, a new [Static Graph API](https://github.com/Microsoft/msbuild/blob/master/documentation/specs/static-graph.md) was added for parsing project trees in a more efficient way.  This new API also can express dependencies so that callers can build a graph that represents the tree.  NuGet should adopt this new API to replace the way projects are being evaluated

[2019-11-04 17:12] Jmales commented on #8713
Encountered same issue here.

[2019-11-04 17:22] zkat commented on #8790
[ConsoleApp2 already exists](https://www.nuget.org/packages/ConsoleApp2/1.0.0-CI-20180702-154742), which is probably why you're getting a 403 for it.

[2019-11-04 17:33] rrelyea commented on #8713
Like all NuGet errors & warnings, we publish documentation giving more details than we can fit in the build message.
Please search for "NU5128" and it will lead you to our doc page: https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings/nu5128

Please let us know if there is confusion after working through those examples and suggestions.

[2019-11-04 17:58] ptixed commented on #8713
Same issue here, already read the docs for this warning. Removing <dependencies> does not help which suggests that nuget somehow finds files but not related entry in .nuspec

[2019-11-04 19:09] wli3 commented on #8775
Here is the code of creating a temp project https://github.com/dotnet/toolset/blob/b3a65fd82a879beb7ff8565a781ad257337f1de1/src/dotnet/ToolPackage/ToolPackageInstaller.cs#L158

[2019-11-04 19:38] lnicolae commented on #8790
No the package is a new packaage and don't exist on server

[2019-11-04 20:57] cra0zy commented on #8580
Ha, well this is a bummer, I was just setting up azure pipelines for one of my projects and came accross this issue :/

[2019-11-04 21:10] jogibear9988 commented on #8775
that means I always need to create a temp project?

[2019-11-04 21:55] laura-rodriguez commented on #4054
Hi @gulbanana,

I'm facing the same issue. I have a .NET standard 2.0 project and a .NET 4.61 which depends on the first.

[code]
NuGet Version: 5.0.2.5988

Do you have any recommended workaround to have this working?

[2019-11-04 22:50] danielcrenna commented on #8642
@rrelyea Thanks, Rob. I'll try this tonight and will respond/re-open if I run into anything further. It looks like the same steps I applied during exploration.

[2019-11-04 23:58] zkat commented on #8790
Yes, the package name must be unique.

[2019-11-05 00:21] CanoeFZH commented on #8713
I have tried to do some action according to the doc you linked here while the warning is still there. It does not prevent publish a package but use a lower version NuGet help to resolve this warning/error.

[2019-11-05 00:45] gkalnytskyi commented on #8713
@rrelyea , I've read through the documentation on the nu5128 warning before posting this issue and added group reference for .Net Framework 4.5 with the name suggested by Nuget, as you can see in step 5 of the reproduction steps, but the warning didn't go away. But when I downgraded Nuget to versions from 4.9 to 5.2 and packed the same binaries using the same configuration file the warning was not

[2019-11-05 06:37] Dids commented on #8580
Isn't GitHub Package Registry supposed to launch in about a week?
Seems like it'll be a rocky launch, unless they can somehow fix all of these issues before then.

[2019-11-05 08:39] mikkeljohnsen commented on #8580
I just found out that it work if you use Curl:

`curl -vX PUT -u "openmedicus:TOKEN" -F package=@OpenMedicus.Data.2.6.109.nupkg https://nuget.pkg.github.com/openmedicus/`

[2019-11-05 10:35] dbsanfte commented on #4393
It's shocking that `dotnet push *.nupkg` is still broken after all this time. This is trivial stuff that you don't expect to be broken in a core product.

[2019-11-05 12:03] japj commented on #8257
hello, is there any insight in when this is expected to land in VisualStudio?

we are currently using the CentralPackageVersioning MSBuild Sdk and are very interested in being able to manage from the VS UI and having support for transitive dependencies

[2019-11-05 15:00] shiro997 commented on #2880
I tried to remove the .nuget folder located in C:\Users\YourNameHere and the error continues, what can I do in that case?

[2019-11-05 15:07] shiro997 commented on #5358
I added the source address of my NuGet packages in the nuget.config file of my project and I still get the error "Unable to load the service index for source http: // myServer: 8080 / tfs / TPC__MyProject / _packaging / MyNuget / nuget /v3/index.json ", what do you recommend me to do in this case? The package sources section looks like this:
![image](https://user-images.githubusercontent.com/46939

[2019-11-05 16:45] jeffkl opened #8792 "Default verbosity should not report each project's noop restore."
# Details about Problem

When restoring a repo with a lot of projects (>500), NuGet logs an output message for every project, even if the project is up-to-date.  Instead, it should log a message for any actual action taken and then a summary indicating how many projects are up-to-date and took part in no-op.

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): Any

NuGet

[2019-11-05 17:14] lnicolae commented on #8790
Thanks, I read documentation for PUSH from MSDN, I create a tool for NuGet (VSIX for VS2019)

[2019-11-05 17:15] zkat commented on #8790
What's the package name you're trying to publish?

[2019-11-05 17:18] #8790 closed, assigned to nobody

[2019-11-05 19:11] japj commented on #8791
Just a check, I had the impression that although the MSBuild static graph api is public/stable now, the implementation is still ongoing (looking at the MSBuild static graph related issue list).

Is the MSBuild implementation now sufficiently stable that static graph is working on all types of solutions and projects? (Or has this the potential to accidentally break nuget restore operations for cert

[2019-11-05 19:20] jeffkl commented on #8791
@cdmihai can you comment to the above message?

[2019-11-05 19:33] cvocvo commented on #3324
Experiencing the same issue while trying to simply upgrade a package with some dependencies in Visual Studio Pro (Nuget v5.2.0.6090). The only temporary workaround (which breaks source control bindings) is to make a directory junction and then launch the project from the temporary path whenever it needs to be used. The downside to directory junctions is that it breaks the source control binding wh

[2019-11-05 21:59] nkolev92 opened #8793 "Perf: DG Spec for unloaded project scenarios should not be written in preview restores"
Specifically this is a problem: https://github.com/NuGet/NuGet.Client/blob/52ee9a5a9483518f5449957bbf3d3da7d9cf82c1/src/NuGet.Core/NuGet.Commands/RestoreCommand/RestoreCommand.cs#L558

This file should be written in the committing of the restore.

UPDATE: 4.9 used to do this. 5.6 has fixed this part of the code path...which brings our perf of that scenario back to 4.9 level.

[2019-11-05 22:08] cdmihai commented on #8791
So far static graph is used to successfully build (i.e. call the msbuild `build` target on) Orchard Core, Orchard classic, Roslyn's `Compilers.sln`, and the whole Cloudbuild repo (~700 projects, the largest repo we've tried it on). The graph is built following the `ProjectReference` items. To my knowledge that's what Nuget is also using to build it's own graph, so in that respect whatever project

[2019-11-05 22:55] TheXenocide commented on #8186
I've been following this discussion for awhile and still feel like there will need to be a solution for this at some point, but today I started pondering whether or not it would be appropriate to consider MonoWASM more of a runtime than a TFM? Surely there's still a framework difference between what is actually supported in WASM and what is supposed to be supported by .NET Standard 2.0, but perhap

[2019-11-05 22:57] donnie-msft commented on #8148
Here's my findings and plan for resolving this issue. Discussed with @rrelyea, @karann-msft, and @cristinamanum.

### Wildcard doesn't find snupkgs

**Existing behavior:** We have always failed with "File does not exist" during a push to a symbol source where a * in the path was used, yet there were no snupkgs in the directory (having 1 or more snupkgs would succeed).

**Behavior change:**
- [ ] G

[2019-11-05 23:01] TheXenocide commented on #8186
Just a quick followup I forgot to mention, but this also allows a NuGet dependency of a Blazor-oriented class library to provide separate runtime-specific implementations for Client-side and Server-side Blazor without requiring multiple compilation passes, etc.

[2019-11-06 05:27] japj commented on #8791
I know there is a command line MSBuild switch for using static graph/isolation projects.
But shouldn’t there be a VisualStudio setting to turn this behavior on/off for trying out with projects?

Related to nuget support, that is implemented through some Microsoft common targets mechanism and nuget restore is “technically” available in c++ projects too (e.g. nuget MSBuild tools packages can be cons

[2019-11-06 09:49] grimreaper38uk opened #8878 "How to CONFIGURE the package manager/nuget??"
There is NO information on how to fix bad restore paths, edit ANY configuration or fix any of the myriad of problems that just appeared on my installation when I started work this morning.
I've lost hours on this b u l l s h i t already, and I can't find ANYTHING that documents HOW TO USE NUGET OR THE 'PACKAGE MANAGER CONSOLE' in VS2019.

---
#### Document Details

⚠ *Do not edit this section. It

[2019-11-06 10:13] RehanSaeed commented on #7921
If I'm using the latest .NET Core 3.0.100 SDK, should this all work as advertised with just this in my `Directory.Build.props`?

[code]

[2019-11-06 11:18] slang25 commented on #7921
It should, but you may need to clear out any packages from you cache that would have been restored with an old nuget. Going forward, you won't get into this state.

[2019-11-06 13:48] candritzky commented on #6151
@dasMulli Thanks, that solved the same problem for me.
The solution proposed by @Kieranties didn't work for me.

[2019-11-06 14:16] mheyman opened #8794 ""version" environment variable improperly used"
## Details about Problem
If one sets the "version" environment variable prior to running `nuget restore` than the restore will fail if the value isn't something like 1.2.3

NuGet product used: NuGet.exe | Package Manager Console | dotnet.exe
NuGet version:  4.8.1.5435
dotnet.exe --version: 3.0.1
VS version: 16.3.7
OS version: Win10 v1809 (17763.805)
Worked before? Unknown

## Detailed repro steps

[2019-11-06 16:25] zkat commented on #8794
Oh this is a fun one! Thanks a lot for the detailed bug report. I'm sure you did a lot of good sleuthing to narrow it down to this. I've triaged this and we'll discuss scheduling a fix for this as a team. I personally agree that this is a bug, especially because there's such a high likelihood of conflict with other tooling, and because it's probably pretty insidious when folks run into it. I think

[2019-11-06 18:15] cdmihai commented on #8791
It depends if VS wants to explore this or not. `/graph` might make a solution build faster (when VS invokes msbuild on the solution and lets msbuild manage the graph). `/isolate` is more useful to ensure correctness (the static graph does not have gaps, that higher order build engines (BuildXL and Quickbuild) behave exactly like vanilla msbuild, etc) and to ensure that a project is built in isolat

[2019-11-06 20:22] mattleibow commented on #8186
+1 on the RID. That is more accurate. I would have a .NET Standard library that has native dependencies. I would then but those native dependencies in a RID - one for mac, one for win and one for wasm.

[2019-11-06 21:49] joelverhagen opened #8795 "In deprecation UI, alternate package with "*" range shows >= 0.0.0"
## Details about Problem

**NuGet product used:** Package Manager Console
**NuGet version:** 5.5.0.6293
**VS version:** 16.5.0 Preview 1.0 [29430.205.master]
**OS version:** Windows 10 Version 1909
**Worked before?** Yes with 5.4.0.6271

Likely changed behavior with https://github.com/NuGet/NuGet.Client/pull/3079.

## Detailed repro steps so we can see the same problem

1. Open PM UI
1. Go to Brow

[2019-11-06 21:57] anangaur commented on #8795
The intention was never to show a version if it’s not specified (*). Definitely a bug (not a feature) ;-)

[2019-11-06 21:58] nkolev92 opened #8796 "The Visual Studio NuGet packages (RestoreManagerPackage) needs to auto load on solution build events"
See https://dev.azure.com/devdiv/DevDiv/_workitems/edit/792876.

From a thread:

We had a discussion on this and decided the proper way to do this is to whitelist the SolutionBuilding UI context for sync autoload.

After the UI context is whitelisted, nuget will have to add the following into the package definition:
[ProvideAutoLoad(VSConstants.UICONTEXT.SolutionBuilding_string)]

Note that there

[2019-11-06 22:03] ptdel commented on #8580
thanks for the workaround @mikkeljohnsen good enough for cicd until the fix it x_x

[2019-11-07 03:42] bklooste commented on #3320
Fixed in newer core projects

[2019-11-07 05:05] loic-sharma commented on #3116
Should we suggest `dotnet restore --no-cache` in the warning message? Something like:

This seems like an easy "fix" to unblock users until we figure out a real solution.

[2019-11-07 05:30] Kryptos-FR commented on #3116
I fail to see how it is a hard problem to fix. The behavior of a cache is a 101 programming problem:
1. check if item is in cache
2. if yes return said item. END
3. if not do a query to get the item and return it or error if not found. END

That is how ALL cache system in the world works except in nuget for some non-obvious reasons.

[2019-11-07 05:50] davkean opened #8797 "TreatSpecificWarningsAsErrors support for NuGet warnings"
Original: https://github.com/dotnet/project-system/issues/5562.

(Opened on behalf of https://github.com/arialdomartini)

**Visual Studio Version**:

VS2019, Rider 2019.2.2, Command Line

[code]

**Summary**:

csproj's directives like

[code]
and

[code]

are ignored by `dotnet build`.

**Steps to Reproduce**:

1. Create a solution.
2. Create a `netcoreapp2.0` or a `netcoreapp3.0` project `A`
3. C

[2019-11-07 05:50] davkean commented on #8797
@arialdomartini I don't believe NuGet supports `<TreatSpecificWarningsAsErrors/>` for its warnings, so this bug would be tracking that request.

[2019-11-07 06:42] Dids commented on #8580
I was just about to implement the workaround, but I noticed that at least on `macOS-latest` (eg. Mojave + latest mono/msbuild/nuget), publishing with the nuget binary seems to work again?

Can anyone else confirm whether or not this works on macOS?

[2019-11-07 08:57] mivra commented on #8608
What I really don't understand is why couldn't it stay there when it was an optional feature :(

[2019-11-07 14:14] dtivel opened #8798 "Pack: files and directories beginning with dot (.) included even with no default excludes"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):  NuGet.exe

NuGet version (x.x.x.xxx):  4.1.0.2450

Worked before? If so, with which NuGet version:  3.5.0.1938

## Detailed repro steps so we can see the same problem

1.  Extract the contents of [repro.zip](https://github.com/NuGet/Home/files/3820004/repro.zip) to your machine.
2.  Open a Pow

[2019-11-07 14:45] danielcaceresm commented on #8730
Hi, we are using nuget libraries in a WPF .Net framework application and if the "CreateNoWindow = true" is set in startInfo of the PluginFactory we don't need a way to configure it from outside, but if you have any inconvenience to set it, it might be an option to include an environment variable like in the timeout configuration:
https://github.com/NuGet/NuGet.Client/blob/fcda739db4527c207cb37a56a

[2019-11-07 15:13] dtivel commented on #5016
I have a [PR](https://github.com/NuGet/NuGet.Client/pull/3114) out for NuGet 5.5 that improves pack performance significantly, though still not back to 3.5.0 baseline.  See that PR for details.

The PR addresses the main problem affecting the repro in this issue.  There may be more opportunities for improving performance, but not as significant as this one.

This area of the code is complicated, f

[2019-11-07 15:15] emulicus commented on #7957
Any updates on this?

[2019-11-07 16:12] ejsmith commented on #8580
I think the underlying service for GitHub Package Registry is Azure Artifacts and I believe they did some announcements for the MS Ignite conference going on right now. So maybe they've just recently fixed some things?

[2019-11-07 20:31] zkat commented on #8734
Oh, hey @Daniel15! Nice to see a familiar face around :). I feel like I have an idea what's going on here but I'm going to ask my team, who, as you can imagine, are more familiar with the ins and outs of net core stuff.

[2019-11-07 22:32] zkat commented on #8734
Okay so! I think I understand now, thanks to @nkolev92 and @zivkan -- the problem is that `Microsoft.NETCore.App` should never have been referenced in that nuspec, and instead used something like `Microsoft.NETStandard.Library`, because platform packages are handled differently by nuget (and dotnet). That said, these assemblies may still be needed at compile time even though they're part of the ru

[2019-11-08 10:02] MikeRosoft opened #8799 "Package restoration fails due to Windows path limits in v3-cache directory"
I have encountered an error during the restoration of a NuGet package with a moderately long name (78 characters). The package download from our corporate Nexus server fails with 'path not found' error. After investigation, I have discovered that NuGet is trying to access a file in the cache directory, whose total path length (directory+file) exceeds the Windows limit of 260 characters.

The follo

[2019-11-08 15:23] bpaczkowski commented on #6697
@nkolev92 May I ask when 5.5 is scheduled to be release? The workaround above does not work for us, using `[1.*,2)` still translates the first part to the current version, therefore when restoring it will use that version instead of the newest one. We have to edit the resulting nuspec and change the dependency versions manually to `1.*` before pushing.

[2019-11-08 19:01] nkolev92 commented on #6697
As of right now 5.5 is scheduled for Feb/March 2020.

Not sure what you are suggesting here.
Floating versions are not allowed in the nuspec.
When packing, pack puts the version selected during restore as the min.

This issue only refers to the `*` case.

[2019-11-08 19:04] bpaczkowski commented on #6697
They seem to work for me though. `[1.1.0, 2)` in the nuspec installs 1.1.0 even if a newer version is available, `1.*` in the nuspec restores the latest version, eg. 1.2.0.

[2019-11-08 19:20] zivkan commented on #8608
@mivra  [the .NET SDK sets deterministic to true by default](https://github.com/dotnet/sdk/blob/0979dd3c53a8971a5434cf4bc68efd103fe5ea68/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.props#L34), so the issues were breaking many projects that never explicitly opted in.

[2019-11-08 19:32] nkolev92 commented on #8631
Closing per the above comments.

[2019-11-08 19:32] #8631 closed, assigned to nobody

[2019-11-08 19:39] karann-msft opened #8800 "PM UI does not humanize the download count when 999,500 <= count <=999,999"
![image](https://user-images.githubusercontent.com/16904420/68505487-3339fe80-021c-11ea-8e12-4e18983708be.png)

[2019-11-08 19:50] zivkan commented on #8794
[From msbuild's docs](https://docs.microsoft.com/en-us/visualstudio/msbuild/how-to-use-environment-variables-in-a-build?view=vs-2019):

If nothing overwrites the version property before NuGet reads it, I think it's working as designed.

[2019-11-08 22:04] donnie-msft commented on #8800
Logic at fault is here: [UIUtility.cs](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.PackageManagement.UI/Utility/UIUtility.cs#L75). Basically, this doesn't handle rounding in the way it needs to for the formatting we want.

[2019-11-09 00:15] zkat opened #8801 "Insertion of NuGet 5.4.0-preview5.6292"
VS:
 * [x] https://devdiv.visualstudio.com/DevDiv/_git/VS/pullrequest/213197

.NET Core
* [x] CLI https://github.com/dotnet/cli/pull/13042
* [x] SDK https://github.com/dotnet/sdk/pull/3883
* [x] Toolset https://github.com/dotnet/toolset/pull/3512

[2019-11-09 00:36] zkat opened #8802 "Insertion of NuGet 5.5.0-preview.1.6293"
VS:
* [x] Insertion PR - https://devdiv.visualstudio.com/DevDiv/_git/VS/pullrequest/213394

.NET Core (master):
* [ ] SDK - TODO
* [ ] CLI - TODO
* [ ] Toolset - TODO

[2019-11-09 05:05] zivkan opened #8803 "Make it obvious when a warning is elevated to an error"
Customers frequently get confused why restore fails when the message reported doesn't sound like an error, for example NU1603.

I think we should have something in the message that makes it obvious that NuGet considers it a warning, but it was elevated to an error by request.

[2019-11-10 05:10] Daniel15 commented on #8734
Thanks for the reply @zkat! That makes sense.

Same to you! Most of the coding I do in my free time is in C# so you may occasionally see me around in the issue trackers or on pull requests for NuGet, .NET Core, etc. :)

[2019-11-10 05:10] #8734 closed, assigned to nobody

[2019-11-10 09:41] sasw-diego commented on #8100
I've just tried it successfully with azure pipelines
[code]

[2019-11-10 16:17] matkoch commented on #7466
So?

[2019-11-11 02:54] mnmr commented on #6330
I have not been following this thread, but think it is important to throw in some arguments to counter-balance the views above.

While performing all kinds of setup magic can be helpful in reducing first-time friction, it is equally frustrating to work with when you don’t use the package defaults. Move a file elsewhere, and it pops up again when you update. Don’t keep your settings in the config f

[2019-11-11 09:11] jangix commented on #5360
My solution:
1. Create package from A.csproj
2. Create package from Common.csproj
3. Open A.nupkg and Common.nupkg with 7zip
4. Copy Common.lib from Common.nupkg to the same folder of the A.nupkg
5. From Common.nuspec file copy dipendecies nodes and merge with same nodes of the A.nuspec
6. Delete Common.nupkg and use customized A.nupkg for your repository.

[2019-11-11 10:58] bielu commented on #5963
It was already 1 year from the last update on that, do we have any new updates on that? As it is quite a big blocker for some packages to migrate from package.json/package.config to package reference.

[2019-11-11 14:30] StingyJack commented on #6330
@mnmr - I think even this rule should not apply to private repositories. Being able to run a script to complete the installation of a project component is a huge time saver. We are in control of our repository, someone uploading an intentionally poisoned package faces real-world consequences (termination, legal, criminal, etc).

Making everyone take an additional step outside of the package instal

[2019-11-11 15:05] SotoiGhost commented on #8694
Any progress on this?

[2019-11-11 17:34] jeffkl opened #8804 "Logic in _GetRestoreProjectStyle should be in a task"
## Details about Problem

The `_GetRestoreProjectStyle` target in `NuGet.targets` has its logic declared as MSBuild XML rather than a task.  This makes it more difficult to unit test and reuse the logic.

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): Any

NuGet version (x.x.x.xxx): Any

dotnet.exe --version (if appropriate): Any

VS version (if appropriate): Any

O

[2019-11-11 19:29] nkolev92 commented on #8799
There is a duplicate issue of this problem. https://github.com/NuGet/Home/issues/3324

Read https://github.com/NuGet/Home/issues/3324#issuecomment-389329153 for a more detailed explanation.

Unfortunately at this point Windows 10 is the only OS where long path support can enabled.

We recommend you use the workaround described in this issue and follow #3324 for any further updates.

[2019-11-11 19:30] #8799 closed, assigned to nobody

[2019-11-11 19:32] nkolev92 commented on #8795
Is this something you want fixed in 5.5 @anangaur?

If so, we should schedule this.
//cc @rrelyea @skofman1

[2019-11-11 19:39] StingyJack commented on #5963
@rrelyea - This has been open for two years, which one would think have been enough time to bubble to the top of the list. Especially for a strategy.

[2019-11-11 19:56] nkolev92 commented on #7597
@p0onage
Apologies for super delayed response.

As @zivkan said, there is no compat filtering in the PM UI right now (be it client/server side).

When the Package Manager UI queries feeds, an HTTP happens.

I'd expect the HTTP calls for all projects to be the same. I have verified that on the latest VS 2019 VIsual Studio installation.

Given that I'd also expect the server responses to be the same

[2019-11-11 19:58] nkolev92 commented on #7460
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2019-11-11 19:58] #7460 closed, assigned to nobody

[2019-11-11 19:59] nkolev92 commented on #7354
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2019-11-11 19:59] #7354 closed, assigned to nobody

[2019-11-11 20:02] nkolev92 commented on #7062
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2019-11-11 20:02] #7062 closed, assigned to nobody

[2019-11-11 20:45] ENikS commented on #912
@DamianEdwards @davidfowl  Did you come up with a viable solution for the problem?

I am trying to convert **Unity Container** to use **DevOps** workflow and facing the same issue. I'd like to unitize local feed as a development environment and NuGet as release stage but due to issue described above unable to do so.

[2019-11-11 20:56] mnmr commented on #6330
@StingyJack I just don't think all of this "setup magic" belongs in a package manager; whether the feed is private/trusted does not significantly impact this.

Abusing the package manager as a trigger for all sorts of "setup magic" is just not the right solution to the problem. I fully understand the desire to have certain scenarios be easy and friction free, but we're talking once-per-project her

[2019-11-11 21:01] nkolev92 commented on #8796
Duplicate issue in [VSTS](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/792876)

[2019-11-11 21:01] nkolev92 commented on #8796
Assigning to Rob as the internal issue is assigned to him.

[2019-11-11 21:06] scalablecory opened #8805 "error : Unable to load the service index for source https://api.nuget.org/v3/index.json."
_From @Meai1 on Saturday, October 26, 2019 9:54:55 AM_

[code]

Btw this happens for every project, I just used the sample project for illustration. And for some reason it works if I do the build via Jetbrains Rider IDE.
Before you point me to links like this: https://stackoverflow.com/questions/41185443/nuget-connection-attempt-failed-unable-to-load-the-service-index-for-source ...
Please notice

[2019-11-11 21:06] scalablecory commented on #8805
_From @scalablecory on Monday, October 28, 2019 6:38:24 PM_

This should be filed on the [Nuget repo](https://github.com/NuGet/NuGet.Client)

It sounds like this is a feature request (automatic proxy discovery on Linux) rather than a bug, yes?

CC @rrelyea

[2019-11-11 21:06] scalablecory commented on #8805
_From @Meai1 on Monday, October 28, 2019 7:36:08 PM_

@scalablecory absolutely not, it's 100% a bug. I am connected to the internet just fine, there is no reason whatsoever that nuget should be incapable of downloading things.

[2019-11-11 21:06] scalablecory commented on #8805
_From @scalablecory on Thursday, November 7, 2019 1:46:41 AM_

Are you using a proxy as the StackOverflow question suggests, or is this something else?

[2019-11-11 21:06] scalablecory commented on #8805
_From @rrelyea on Thursday, November 7, 2019 6:05:15 PM_

https://docs.microsoft.com/en-us/nuget/nuget-org/nuget-org-faq#nugetorg-not-accessible

[2019-11-11 21:06] nkolev92 commented on #3714
Dev Community repro: https://developercommunity.visualstudio.com/content/problem/301068/nuget-package-manager-performance-issue.html

[2019-11-11 23:31] wli3 opened #8806 "False NU5129 raised when a backward slash is involved in the path."
Please read the following information before posting the issue.

After updating to 3.0.100, we get this in the [CI](https://dev.azure.com/dnceng/public/_build/results?buildId=422893). It is fine on mac and Windows

[code]

And [this ](https://github.com/dotnet/command-line-api/pull/680/files) fixed it. Looks like PackagePath no longer tolerate backward slash on ubuntu

## Details about Problem

do

[2019-11-11 23:42] nkolev92 commented on #8720
Fixed: https://docs.microsoft.com/en-us/nuget/release-notes/nuget-5.3#summary-whats-new-in-531

[2019-11-11 23:42] #8720 closed, assigned to nobody

[2019-11-11 23:50] nkolev92 commented on #8805
@Meai1 Are you using a proxy?

[2019-11-11 23:51] nkolev92 commented on #8802
Blocked on a branch for the 5.5/16.5 equivalent SDK release.

[2019-11-12 00:05] nkolev92 commented on #8806
@wli3

I assume the issue specifically is what the warning is raising?
Did you try specifically no warning NU5129?

[2019-11-12 00:06] heng-liu opened #8807 "Enable a test when cross platform is implemented"
The existing test ExecuteCommandAsync_WithMultiplePackagesAndInvalidCertificate_RaisesErrorsOnceAsync is enabled cross platform before. It's disabled as the test will call Signing APIs  which is not yet implemented.

We should enable this test cross platform when signing APIs are enabled cross platform.

[2019-11-12 00:10] wli3 commented on #8806
We fixed it by changing it to forward slash. But It is a regression from 3.0.100.

[2019-11-12 00:15] nkolev92 commented on #8806
Can you be more specific?
Regression from version "X" to "Y"?

What's X and what's Y? The comments suggest 3.0.100 is the working version.

[2019-11-12 04:23] nkolev92 commented on #8801
All merged!

[2019-11-12 04:23] #8801 closed, assigned to nkolev92

[2019-11-12 04:26] BrunoJuchli commented on #6330
@mnmr

(Emphasis added by me).

I *literally* challenge you to prove that your statement is true, not just a balloon of hot air.

Did you actually read the rest of the topic above and consider counter-examples?

---------

On a more serious note:

But for cases where there is no variability in the way you configure something, i.E. there must be that package-specific config file in case you are usi

[2019-11-12 04:41] StingyJack commented on #6330
@mnmr - the package managers job is to install and remove packages. Sometimes it is deficient in this role. The nuget team feels the need to make it more crippled instead of fixing those gaps.

I'm not creating **other whole systems** just to do things like set the correct build action for a file that a package needs - that the user wants too - when I can cover the gap the nuget team is unwilling

[2019-11-12 04:52] Kilowhisky commented on #6330
It’s pretty simple.

Component Installation != dropping a file in a folder and walking away.  That’s a plug-in.

Component Installation involves configuration of dependencies, that sometimes involves scripts. That is it plain and simple.

By removing the install scripts all they are doing is forcing people to do it by hand.

[2019-11-12 05:02] goyzhang opened #8808 "Add "latest" option for -MSBuildVersion"
Currently we can only specify the version in order to use this argument like:

**Why?**
It should be the latest by default. However, in some cases the PATH value overwrites this behaviour. e.g. if we have MSbuild14 in the PATH. There is currently no way to specify using the latest version of MSBuild. Is it possible to add this feature to `-MSBuildVersion` ?

[2019-11-12 05:48] caioproiete commented on #6330
@mnmr:

I hear you and I've experienced this pain myself too at times. Still, **you're describing issues caused by package authors not doing a good job** in terms of experience. I also experienced the opposite, where packages install and clean-up properly and reliably every time... **The NuGet `install.ps1` feature is not the problem** here. Just because some authors don't do a good job, doesn't m

[2019-11-12 05:50] caioproiete commented on #6330
@mnmr:

I respectfully disagree. Moving the "setup magic" to **global dotnet tools doesn't change any of the "setup magic"** necessary to consume certain packages... **It just moves "the magic" somewhere else**, makes it harder for everyone by adding extra steps for both consumers and developers (that now have more documentation to write, and more things to maintain, manage, and deploy)...

**The

[2019-11-12 06:29] caioproiete commented on #6330
@mnmr:

![image](https://user-images.githubusercontent.com/177608/68646720-5a315280-04f2-11ea-8f62-2357f32f6c90.png)

Please [stop saying that](https://twitter.com/mortenmertner/status/1190622695911768066) because it's just silly... So "_Running arbitrary powershell downloaded from the internet is dangerous_" but executing arbitrary dotnet global tools downloaded from the internet is **not** dange

[2019-11-12 08:55] mnmr commented on #6330
Please forgive me for not quoting you all properly; consolidating your comments into topics helps keep the discussion noise down.

**Frustration-Free Packaging**
I don't buy the premise that the only solution to low-friction is the ability to execute arbitrary powershell code. If your package is that complicated to use/setup, most likely people will consult your web site anyway. Provide guidance,

[2019-11-12 12:03] BrunoJuchli commented on #6330
@mnmr
It could also be designed to require consent to require install/uninstall scripts.
This could also be used to perform opt-out (i'm not sure how useful that is and if there should be a distinction between

- "oh this runs scripts! Might not be safe, I'd rather not install it"
- "I'd rather not run the script but install the package anyway"

Certainly safer. But will be less flexible while cos

[2019-11-12 12:17] chilakamarthi opened #8809 "Debugging locally with snupkgs is difficult"
Hi,
I am using:
Visual Studio 2017 Version: 15.9.17
Nuget Version: 5.3.1

My UWP App project file got following settings in "Debug|AnyCPU" and "Debug|[Specific Platform]"
[code]
I am using nuspec file to customize my requirement:

[code]

Package command used is:

`nuget pack DebugNuget2017.nuspec -Symbols -SymbolPackageFormat snupkg`

I copied my nupkg and snupkg file to network path.

On another

[2019-11-12 13:15] larsjr commented on #6876
Have you tried using a feed to NuGet 2? I had a very similar problem, and I resolved it by using nuget/v2 instead of nuget/v3/index.json. Your feed might not support it, but perhaps worth a try. So in your case, you should use

`nuget sources Add -Name "myFeed" -Source "https://pkgs.dev.azure.com/hi/_packaging/censoring/nuget/v2" -UserName random_irrelevant_name -Password not-pasting-it
`

[2019-11-12 16:05] alejandro5042 commented on #8076
Additionally, we can add an [date policy](https://docs.microsoft.com/en-us/windows/win32/lwef/disk-cleanup#example-registration-of-a-disk-cleanup-handler):

But not sure how that works when you've disabled NTFS Last Access Time...

[2019-11-12 16:05] alejandro5042 commented on #4980
A related solution for Windows is a Disk Cleanup Handler, as proposed here #8076 by @miloush.

[2019-11-12 16:35] alejandro5042 commented on #4980
# Insight: We only need to clear the cache when a new nuget is added to it

If we are not adding to the cache, it's certainly not getting bigger, so what's the point in checking it?

Also, when we are adding to the cache, the cost of deleting old nugets may be eclipsed by downloading new nugets (unpredictable over the Internet), unzipping, rewriting `package-lock.json` files, etc. This is an oppor

[2019-11-12 17:58] DerekFoulk commented on #6330
I just want Fody/PropertyChanged to automatically add **FodyWeavers.xml** again.

Extra Credit:

- Let me add and transform files when using PackageReference- like Web.config...
- Let me add files to a project, that the user can modify, in .NET Standard

We're all adults that are using source control. If a package modifies files that you don't want it to, you'll see the change before committing th

[2019-11-12 18:14] nkolev92 commented on #8808
As you articulated, latest is search by default unless there's a path variable with MSBuild on it.
MSBuild is installed SxS with VS 2017 and later, so msbuild.exe is not added to the path at install time.

I understand you request, but I'd venture a guess that it's not something commonly hit.
Marking this as up for grabs.

[2019-11-12 18:24] nkolev92 commented on #8809
I don't think the debugger is really set-up to consume snupkgs from local NuGet feeds.

Where was the snupkg when you tried debugging from another machine?

//cc @rrelyea @loic-sharma @cristinamanum for help on this topic.

[2019-11-12 18:39] nkolev92 commented on #6876
@larsjr V2 feeds are significantly slower than V3 feeds.

I wouldn't normally expect that to make a difference.

[2019-11-12 19:21] wli3 commented on #8806
Sorry, in 2.2.300 `PackagePath="build\$(TargetFramework)\"` works, while it not longer works in 3.1.100

The upgrade from 2.2.300 to 3.1.100 is caused by azure devops automatic updating images.

[2019-11-12 19:23] deadlydog commented on #6373
Adding the `disabledPackageSources` is a potential work around, but still a very painful one. I shouldn't have to edit all of my personal (and open source) projects to tell them to ignore my work's internal NuGet package source just so I can restore NuGet packages when not connected to my work's VPN.

[2019-11-12 19:23] nkolev92 commented on #8806
Thanks.
Will investigate to confirm all the assumptions.

[2019-11-12 19:38] cristinamanum commented on #8809
Consuming snupkgs from local feed is not supported. @chilakamarthi do you pack the pdbs in the nupkg as well?
If they are packed the scenario should work. Few things to try to debug:
1. Please verify if the pdb is in the nupkg.
2. If yes, please see if the pdb is copied to the local folder.
3. If yes, in debug session open the Modules window and see if the symbols are loaded.

If the answer to ste

[2019-11-12 20:10] nkolev92 commented on #8806
The warning is not accounting for the path separators correctly here; https://github.com/NuGet/NuGet.Client/blob/48f67796ff38e98e3dfe4ab55fce000577b74fea/src/NuGet.Core/NuGet.Packaging/Rules/UpholdBuildConventionRule.cs#L97

An example of how things should be handled can be found here: https://github.com/NuGet/NuGet.Client/blob/48f67796ff38e98e3dfe4ab55fce000577b74fea/src/NuGet.Core/NuGet.Packagin

[2019-11-12 21:00] 3F opened #8810 "'Index was outside the bounds of the array' when GeneratePackageOnBuild=true"
MSBuild 16.3.2+e481bbf88

[code]

VisualStudio.16.Release/16.3.8+29503.13

[code]

How to reproduce:

[code]

[2019-11-12 21:09] nkolev92 opened #8811 "Decouple Settings & SettingsFile objects"
The motivation for this comes from: https://github.com/NuGet/NuGet.Client/pull/3086
Settings objects own a bunch of SettingsFiles.
The SettingsFiles themselves have priority in that Settings object.
The fact that a Settings object changes the SettingsFile object it uses, the caching cannot be done on that level.

Because SettingsFile is the origin for every settings item, the priority needs to be

[2019-11-12 22:30] DamianEdwards commented on #912
@ENikS my understanding is that NuGet does snot support this today. You can float (i.e. have a wildcard that matches latest version part) in either the version portion, **or** the pre-release suffix, but not both, and any pre-release suffix at all will force NuGet to only match pre-releases.

Someone from NuGet is better positioned to answer though.

[2019-11-12 22:59] #8798 closed, assigned to nobody

[2019-11-12 23:22] ani0x53 opened #8812 "dotnet cli nuget does not support -k for passing apikey/auth for restore"
Currently, we are trying to restore from Private Nuget repo (Artifactroy) which requires authentication.
In order to do that we need to execute this comand :
 dotnet restore -s ${ARTIFACTORY_FEED_URL} -k ${ARTIFACTORY_USER}:${ARTIFACTORY_PASS}
it looks like -k is not supported with dotnet restore

[2019-11-13 00:00] nkolev92 commented on #8812
The recommended approach for authenticate are plugins. See https://docs.microsoft.com/en-us/nuget/reference/extensibility/nuget-cross-platform-authentication-plugin.

Given that the plugins need a provider side action, the next best thing are creds in config file.

nuget.exe has the sources command for, which on windows will encrypt the PAT.

dotnet nuget sources is coming soon in https://github.c

[2019-11-13 00:01] nkolev92 commented on #8810
https://github.com/NuGet/Home/issues/8806 has a similar root cause.

[2019-11-13 00:10] anirudh83 commented on #8812
More context : We are using alpine based dotnet core images as our base image to run our dotnet core applications. nuget.config is fine for local, but in CI (gitlab) we can set the variables and pass them to nuget.exe .

[2019-11-13 00:13] anirudh83 commented on #8812
I guess fallback option could be to replace the credentials in nuget.config using something like sed in the CI agent, the values coming in from CI variables. But this doesnt look clean :(

[2019-11-13 01:30] goyzhang commented on #8808
OK, thanks. In my environment the admin adds vs2013 buildtools to the PATH. Normal user have no control of that thus nuget always pick up the old 12.0 buildtools.

[2019-11-13 04:00] nkolev92 commented on #8808
If you're interested, we'd be happy to take a PR.

RElevant code; https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.CommandLine/MsBuildUtility.cs

[2019-11-13 06:21] paiden opened #8813 "Error occurred while restoring NuGet packages: The operation failed as details for project ClassLibrary1 could not be loaded."
## Details about Problem

Open attached solution in Visual Studio
and try to compile it. It will create an error message during build
'Error occurred while restoring NuGet packages: The operation failed
as details for project ClassLibrary1 could not be loaded.'

The reason is that it has two targets and a assembly name that changes
depending on target version. This causes an InvalidOperationExcept

[2019-11-13 08:20] tmds commented on #912
I ran into this also.

+1. This is what I intuitively put in my `csproj` file.

[2019-11-13 09:18] Kieranties commented on #8692
_cross referencing my issue reported in corefx_

We've been consistently hitting this issue when using additional SDKs specified in the global.json.
E.g. we use https://github.com/Microsoft/MSBuildSdks/tree/master/src/CentralPackageVersions in many projects and will often get:

1>Project "C:\BA\bed11ac6b8240753\xxx.AspNet.sln" on node 1 (Clean target(s)).
[10:24:17] 1>ValidateSolutionConfiguration

[2019-11-13 09:22] v-nancyj opened #8814 "[Test Failure] Package icon becomes a default icon after installing ‘Newtonsoft.Json’ with latest versoin"
## Details about Problem

NuGet Version: Dev\5.5.0.6293
VS Version: VS Master\29512.44
OS Version: Windows-10-Enterprise-19H1-04-05-2019

## Installation step:

[https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=3236483&view=results](url)

## Repro steps:

1. Create a C# Console App (.Net Core) project.
2. Open ‘Manage NuGet Packages’.
3. Install package ‘Newtonsoft.Json’ with latest v

[2019-11-13 11:04] chilakamarthi commented on #8809
This was working in Feb. I could debug and pdb was loaded, extracted into temp folder and code was shown. Even at that time, I was publishing my nuget packages to network path. I was trying to demo it to my team and realized its not working anymore.

[2019-11-13 19:43] donnie-msft commented on #8809
@chilakamarthi is it possible that your Symbol sources changed between now and previous time it worked?
Check in VS: Tools -> Options -> Debugging -> Symbols. Under `Symbol file (.pdb) locations`, what do you have listed and are they checked/enabled?

We don't currently have NuGet capability of publishing snupkgs to a local feed, nor can they be directly consumed outside of a symbol server. So my

[2019-11-13 19:56] aik-jahoda commented on #8638
You can hit this error when you remove `TargetFramework` from project file. I'm not sure if it is case of author of this issue.

[2019-11-13 19:58] nkolev92 opened #8816 "Localization validator fails on official builds"
Regressed in https://github.com/NuGet/NuGet.Client/commit/52ee9a5a9483518f5449957bbf3d3da7d9cf82c1

https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=3216283

Likely becausae the validator doesn't run on local builds.

Fix and enable validator on local builds

[2019-11-13 21:34] zivkan commented on #8661
We're reverting the first PR that closed this issue, due to the problems it introduced in .NET Core 3. The team's not comfortable with using and supporting reflection, so we'd like to investigate another long term fix, rather than patching the reflection issue.. Reopening this issue as it needs to be addressed again.

[2019-11-13 23:11] nkolev92 opened #8817 "In old style PackageReference - PM UI installed packages might be out of date with the assets file."
See:

https://developercommunity.visualstudio.com/content/problem/797709/nuget-project-reference-not-shown.html?childToView=818232

The references node depends on the assets file, while the PM UI shows the csproj reference, since autorestore is not a thing, they can easily get out of date.

A potential improvement on NuGet PM UI can be to indicate that restore is not up to date but that's tricky t

[2019-11-14 00:09] zkat opened #8818 "Write an official setup-nuget-exe github action"

[2019-11-14 00:34] onovotny commented on #8661
This issue needs to be reopened now that the original fix was reverted.

[2019-11-14 00:45] zivkan opened #8819 "PackageSource.ProtocolVersion gives wrong value"
If you have a source in your `nuget.config` that uses a v3 source, for example `https://source.test/index.json`, but no `protocolVersion` attribute, `PackageSource.ProtocolVersion` will return `2`, even though using it with `NuGet.Protocol` will use the v3 code.

[2019-11-14 01:29] nkolev92 commented on #8819
Pri? Or needs triage?

[2019-11-14 01:31] nkolev92 commented on #8814
Duplicate of https://github.com/NuGet/Home/issues/8189

[2019-11-14 01:35] nkolev92 commented on #8569
@DevEddy

Refer to https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#packing-an-icon-image-file  for packing an icon file.

[2019-11-14 01:35] v-nancyj opened #8820 "[Test Failure] Package icon becomes a default icon after installing ‘Newtonsoft.Json’ with latest versoin"

[2019-11-14 01:36] nkolev92 commented on #8569
Closing this as no repro for now.

[2019-11-14 01:36] #8569 closed, assigned to dominoFire

[2019-11-14 01:37] #8820 closed, assigned to nobody

[2019-11-14 01:37] nkolev92 commented on #8813
Thanks for filing this.
Duplicate of https://github.com/NuGet/Home/issues/8456.

[2019-11-14 01:37] #8813 closed, assigned to nobody

[2019-11-14 01:42] nkolev92 commented on #7380
Closing this as a by design resolution.

Doc issue in https://github.com/NuGet/docs.microsoft.com-nuget/issues/1779.

[2019-11-14 01:42] #7380 closed, assigned to nobody

[2019-11-14 08:04] ibigbug opened #8821 "Definition of package executable entrypoint"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet.exe

NuGet version (x.x.x.xxx): nuget.exe v5.3.1

dotnet.exe --version (if appropriate):

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)): 19023.1

Worked before? If so, with which NuGet version: Feature request

## Detailed repro steps so we can see the same prob

[2019-11-14 08:58] danielmeza commented on #6279
Here I get the same issue, any update on this?

[2019-11-14 10:08] krafs opened #8822 "Files in ref folder are copied to project output folder"
## Details about Problem
When I build a project that references a NuGet package, that I've made myself, containing only files in the `ref` folder, the files are nonetheless copied to the project `output` folder. This is a problem when I'm making a NuGet package with only reference assemblies, as I only want them at compile time. If I wanted the files in the `output` folder I would've added them to

[2019-11-14 17:22] ghost1372 opened #8824 "run powershell script after package installed"
hi i want to execute powershell script for modify a file.
I noticed that the script runs during installation And so I can't edit the file because it's not there yet and it's being built by Visual Studio
What should i do?
My script is on this path:
**tools\install.ps1**

[2019-11-14 17:51] zivkan commented on #8819
Realistically it's the lowest priority that exists. But crappy workarounds like this annoy me:

https://github.com/NuGet/NuGet.Client/blob/59a68c4cfac10f1ed75475d6ce93d02ec38736aa/src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/Telemetry/SourceTelemetry.cs#L152-L157

That method only exists because of this bug in the protocol class, and I wanted to capture it, even if it never gets fixed.

[2019-11-14 18:31] dtivel opened #8825 "Restore: investigate CloudBuild"

[2019-11-14 18:38] CraigKennedy commented on #8543
I was converting a project that I had as a project reference into a nuget package.  When I ran the dotnet add package command, I got the message referenced above.  Once I removed the project reference, the add package command worked as expected.

[2019-11-14 19:20] friedrich-brunzema commented on #8543
I'm having the Value cannot be null issue as well.  I am using BOTH package and project references, which works in Visual Studio.  That way when project references are not available (e.g. building single project in a container), the nuget reference is pulled.  The Visual Studio 2019 Manage NuGet packages allows updating, but the command line does not work - failing with the aforementioned error.

[2019-11-14 19:23] nkolev92 commented on #8821
For distributing .NET Core based tools, the answer is https://docs.microsoft.com/en-us/dotnet/core/tools/global-tools.

Are you specifically asking for .NET based executables or something more general?

[2019-11-14 19:30] nkolev92 commented on #8684
I think it's perfectly acceptable to create packages which are only compatible with PackageReference (hence using the ref folder).
Even the docs only call out that scenario:
https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings/nu5131

Right now this is too noisy and defeats the user trust in the warning.
Lots of people will end up disabling them

[2019-11-14 19:36] dtivel opened #8826 "Test: InconsistencyBetweenAssetsAndProjectFile is flaky"
[`InconsistencyBetweenAssetsAndProjectFile`](https://github.com/NuGet/NuGet.Client/blob/eeb936293dd302a5bc5b936d21e0d1ea5eb08150/test/EndToEnd/tests/BuildIntegratedTest.ps1#L462) is flaky.  It has failed 3 times in the past 3 weeks.

Callstack:
[code]
Here is more context from the full log:
[code]
The log indicates that the failure occurs at some point after [this line in `Close-Solution`](https:/

[2019-11-14 19:45] #8728 closed, assigned to nkolev92

[2019-11-14 20:57] MABrunner commented on #6795
Thanks for this commit!  Will this fix the issue in Visual Studio itself, or in the DevOps pipelines?  Or neither?

[2019-11-14 21:44] 304NotModified commented on #8251
Isn't this the issue? Why not adding the build number to the package?

[2019-11-14 22:19] wtgodbe opened #8827 "Nuget allowed a CoreFx stable package to be published with non-stable dependencies"
In the GA release of .Net Core 3.0, we published the 4.6.0 version of `runtime.native.System.IO.Ports` to nuget.org, with non-stable dependencies: https://www.nuget.org/packages/runtime.native.System.IO.Ports/. There was a bug in CoreFx that caused us to produce these non-stable runtime packages, but it also should have been caught during `nuget pack`/`nuget publish`.

CC @ericstj

[2019-11-14 22:32] nkolev92 commented on #8583
A similar package type issue was observed here: https://github.com/dotnet/arcade/issues/4337.
We should consider a rule that specifically targets all these package types (Template/SDK etc) that are not supposed to have dependencies and suggest using SuprpessDependenciesWhenPacking.

[2019-11-14 22:37] nkolev92 commented on #8827
I'd expect that https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings/nu5104 was raised at pack time.
Note this is a warning.

I'd expect no validation was added on nuget.org due to customer demand.
/cc @skofman1 @joelverhagen

You think this validation should've been something on the org level or?

[2019-11-14 23:42] #8774 closed, assigned to jeffkl

[2019-11-15 00:29] nkolev92 commented on #8822
I attempted this repro with net472 projects with both SDK style and old style csproj PackageReferece and was not able to repro it.
[8822.zip](https://github.com/NuGet/Home/files/3849249/8822.zip)
See attached.
Package creates a package when you run dotnet pack.
The running dotnet build and msbuild /restore /t:build respectively to Project and Project-NETFX, in both cases the Package.dll did not ge

[2019-11-15 00:44] nkolev92 commented on #8789
The System.Security.Cryptography.ProtectedData package brings in a reference assembly and a couple of runtime assemblies.
The runtime assemblies are gonna be deployed if you have an app.

For example if you retarget to netcoreapp you will see a runtimes folder in the bin output.

Can you verify that?

[2019-11-15 01:02] nkolev92 commented on #8824
To perform actions at build time on build assets, you should use build targets rather than install scripts.
The build targets will run on every build.
https://docs.microsoft.com/en-us/nuget/create-packages/creating-a-package#include-msbuild-props-and-targets-in-a-package

Note that powershell install/uninstall scripts are deprecated for PackageReference based projects, so using targets means your

[2019-11-15 02:34] abhinavdevone opened #8828 "Nuget.exe returns false positive during nuget restore when a feed is inaccessible."
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe

NuGet version (x.x.x.xxx):3.6.0

dotnet.exe --version (if appropriate):

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)): Win10, Server 2016.

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

1. Include m

[2019-11-15 02:49] ibigbug commented on #8821
thanks @nkolev92 for pointing out, this seems to be what i wanted, let me have a look.

[2019-11-15 06:55] krafs commented on #8822
Turns out the asset files that were copied over came from a different package, with an identical structure and content, except the files were put in the lib folder. My mistake. Your packages do indeed pack and run as intended, as do mine now that I know my error. This can be closed. Thank you!

[2019-11-15 06:55] #8822 closed, assigned to nobody

[2019-11-15 09:41] ghost1372 commented on #8824
@nkolev92  Thank you, can you give me a practical example?

[2019-11-15 10:46] ChristopherTheunissen commented on #1823
Not even Visual Studio 2019 16.3.7 displays them.

[2019-11-15 12:55] chilakamarthi commented on #8809
I am pretty sure we did it from network share. We did demo to our customer in Sweden and they were happy to see working solution for the problem.

verifying the location, I have the path defined there in the list of sources to my network location.

[2019-11-15 17:32] melanchall commented on #3452
Maybe now you're ready to implement this feature?

[2019-11-15 18:57] nkolev92 commented on #8824
For example a good package is: https://www.nuget.org/packages/Microsoft.VSSDK.BuildTools/

As far as authoring the target, that really depends on your scenario.
Refer to https://docs.microsoft.com/en-us/visualstudio/msbuild/msbuild-targets?view=vs-2019.
Note that you can also write tasks: https://docs.microsoft.com/en-us/visualstudio/msbuild/msbuild-task-reference?view=vs-2019

[2019-11-15 18:59] nkolev92 commented on #8822
Glad you managed to resolve your issue :)

[2019-11-15 19:13] wtgodbe commented on #8827
Our expectation was that nuget.org would not allow us to push a stable package w/ non-stable dependencies. It's also a bug on our end if we allowed this package to be created in the first place, which we're looking into. @ericstj may be able to add more.

[2019-11-15 19:56] rrelyea commented on #8827
Interesting to consider this scenario end to end. At each step how should we warn:
Client pack - warn
Client push - nothing
Nuget.org for Microsoft org
Nuget.org for all users

Another option is to have a validation step that a publisher runs.
Good to think through the options here.

[2019-11-15 20:03] ericstj commented on #8827
Does PackageBuilder raise NU5104?  Does nuget.exe pack raise NU5104?  Not everyone packs from PackTask.

[2019-11-15 20:56] jeffkl opened #8829 "Logic in RestoreTask should be refactored into a utility"
## Details about Problem

In order to make way for a new method of building a DependencyGraphSpec and executing a restore, the logic that does the restore in `RestoreTask` should be refactored out into a utility class to avoid code duplication.

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): Any

NuGet version (x.x.x.xxx): Any

dotnet.exe --version (if appropriate):

[2019-11-15 22:24] nkolev92 commented on #8812
@anirudh83

NuGet supports environment variable expansion in nuget.config.

See related issue: https://github.com/NuGet/Home/issues/8662
Note that this issue just calls out that the docs are lacking, but the expansion does work.

[2019-11-15 22:39] nkolev92 commented on #8827
The warnings are raised in both Pack Task and NuGet.exe pack.

I couldn't find any info on NuGet push blocking, but that doesn't mean it didn't exist.

[2019-11-15 22:41] nkolev92 commented on #8828
@abhinavdevone

Is the project that you are restoring packages.config based?
Did NuGet not restore all the packages successfully or?
Would be able to post the logs?

[2019-11-15 22:50] nkolev92 commented on #8679
The fix only went into 5.4...fixing up the milestone.

[2019-11-15 22:59] #8818 closed, assigned to zkat

[2019-11-15 23:28] MoBattah commented on #6003
Any update?

[2019-11-15 23:42] nkolev92 commented on #8802
No P1 in SDK.

This will eventually get superseded by a P2 insertion.

[2019-11-16 00:23] heng-liu opened #8830 "Test FrameworkDependecy_DifferentFlags_AffectCompare is broken in netcoreapp5.0"
Our unit test FrameworkDependecy_DifferentFlags_AffectCompare will call System.Enum.CompareTo method.
According to the [document,](https://docs.microsoft.com/en-us/dotnet/api/system.enum.compareto?view=netframework-4.7.2) , the return value should be:
[code]
This method in netcoreapp5.0 acts just the same with the document, so this test is broken(return 65535 when comparing ushort.MaxValue and 0)

[2019-11-16 06:39] wtgodbe commented on #8827
Here is an example of a build with `warnaserror:true` where `NU5104` was thrown, but somehow not recognized as an error: https://dev.azure.com/dnceng/internal/_build/results?buildId=429633 (Build Windows Release). If you look at Build #1, the same `NU5104` was thrown & treated as an error. Perhaps this is related?

[2019-11-16 16:25] bd4drummer commented on #8195
I have been developing in C++ CLR .Net Core against VS 2019 latest Preview.  I can't call this a blocker issue for that work, but I can argue that NET Core CLR projects are not going to qualify as fully supported without this being resolved.

Is there any possibility the priority of this to be escalated?  Most just asking that we can depend on this to be resolved with the release of NET Core CLR d

[2019-11-16 17:47] ysangkok commented on #6735
@dora-gt Is this still an issue for you?

[2019-11-16 18:24] riipah commented on #8713
Can confirm. Got the same warning and found this thread. Downgraded to nuget.exe 5.2 and the warning went away.

[2019-11-16 20:17] mattleibow commented on #7375
So are you suggesting that I write some extra logic in the part that loads the native binaries to make sure I select the correct binary? This is a lot of extra work to get around the fact that Nano is a different windows. Technically, UWP is windows, yet they have their own RID. Now, sure, UWP is a different model, but if I had that feature, then I don't have to worry about loads of code selecting

[2019-11-16 20:19] mattleibow commented on #7375
@rrelyea @nkolev92 Just pinging you so this issue isn't missed.

[2019-11-17 13:36] pingzing opened #8831 "Native Dependencies inside NuGet packages not copied into Xamarin.Android APKs"
Apologies if this is the wrong place--this seems like it could very well sit somewhere between a) my own fault, b) NuGet, c) MSBuild, or d) The Xamarin.Android build process. I thought I'd start here.

I'm working on a Xamarin Forms project with a dependency on a NuGet package that bundles a native library. That native library is correctly copied into a UWP package's `.appx`, and appropriately P/I

[2019-11-17 17:48] matkoch commented on #7466
Is anyone checking this out? I’m sorry to say, but how is this still not fixed after being reported a year ago?

[2019-11-18 04:48] dora-gt commented on #6735
Oops, no, I don't remember what I did finally but I can close this.

[2019-11-18 04:48] #6735 closed, assigned to nobody

[2019-11-18 06:31] forki commented on #7466
It was reported way longer ago in other issues. Even by jon skeet....

Matthias Koch <notifications@github.com> schrieb am So., 17. Nov. 2019,
18:48:

[2019-11-18 10:45] v-luzh opened #8832 "[Test Failure]Confusing warning and error occur when building the UWP project after installing the package “Blend.Interactivity.Wpf”"
## Details about Problem
NuGet version: NuGet Client Release-5.4.x\5.4.0.6314
VS Version: D16.4\29516.08
OS: Windows-10-Enterprise-19H1-04-05-2019 ENU
## Detailed repro steps
1. Create a C# Blank App (Universal Windows) template via VS.
2. Open PM UI of the project by right-clicking the project->Manage NuGet Packages… in Solution Explorer.
3. Search the package “Blend.Interactivity.Wpf” in Browse

[2019-11-18 16:09] Legio1221 commented on #8580
I'm on Catalina, I can't get any nupkgs to publish now with the nuget binary. I get the socket errors on push attempts. I think GPR is out of beta now?

The curl option does work though. :\

[2019-11-18 16:20] cbries commented on #4537
Running in this today. Need fix as well.

[2019-11-18 18:13] rainersigwald opened #8833 "Downgrading transitive PackageReferences"
_From @jhudsoncedaron on Friday, November 15, 2019 7:52:06 PM_

We have a DLL that contains downgrade instructions, so despite being built in the project containing the latest version, it must inherently be loadable on the oldest version we ever shipped. In order to do so, we used PackageReference Update= to pin reference of dlls when building that version.

Unfortunately this doesn't really work

[2019-11-18 18:13] rainersigwald commented on #8833
_From @rainersigwald on Monday, November 18, 2019 6:12:42 PM_

Can you point to any docs or issues you used to develop your understanding of what `Update` does in this context? It seems we have something misleading, because it doesn't work the way you expect.

`Update` is an MSBuild language feature that will update items matching the pattern with the specified metadata.
From your example you have

[2019-11-18 18:39] xavierdecoster opened #8834 "Implement --offline support for dotnet list package"

[2019-11-18 18:46] heng-liu opened #8835 "retarget signing/verification project to netcoreapp5.0"
retarget to netcoreapp5.0  and fix all broken tests.

[2019-11-18 19:11] cristinamanum opened #8836 "[Centrally managing NuGet packages and versions] Implement the changes necessary for the Restore"

[2019-11-18 20:16] nkolev92 commented on #8827
I'm not sure. I know NuGet provides the correct exit code, what doesn't happen is deleting the nupkg when it fails.

https://github.com/NuGet/Home/issues/7404

[2019-11-18 20:36] rrelyea commented on #6374
should fix across the set of commands as appropriate.
dotnet add package  -- likely verbosity should apply to restore under covers, and perhaps restore default verbosity should change.
dotnet nuget sources - in nuget.exe, supported a verbosity quiet.
etc...

[2019-11-18 21:57] zivkan commented on #8804
reopening as PR that closed this issue is being reverted.

[2019-11-18 22:47] donnie-msft opened #8837 "Add Missing PushCommand Functional Tests for snupkg and FileNotFound scenarios"
## Details about Problem
PushCommandTests currently miss testing several features of Push involving snupkgs and FileNotFound errors.

These tests are needed so that there is existing test code that can be modified in the soon to be resolved bug fix: https://github.com/NuGet/Home/issues/8148

[2019-11-19 06:09] joelverhagen opened #8838 "Should package metadata element names be case-insensitive?"
Consider the case of the hand-edited .nuspec file (because no one ever does that, right?) where someone mistypes the metadata name and provides and incorrect case. **Should this be supported officially?**

Example. The [BlogML.Core 1,0.0](https://www.nuget.org/packages/BlogML.Core/1.0.0) package on nuget.org has `<ProjectUrl>` in the .nuspec instead of `<projectUrl>` which is the official element

[2019-11-19 08:20] Dids commented on #8580
Yeah, turns out it only worked for me for a short while, and it's back to being broken again.

[2019-11-19 11:35] ibigbug commented on #8821
Thanks @nkolev92 . I've successfully publish my tool https://www.nuget.org/packages/PowerSession/'

I'm good to close this now.

[2019-11-19 14:51] jonscheiding opened #8839 "Pack has Different globbing behavior on different platforms"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe

NuGet version (x.x.x.xxx): 5.3.1.6268

dotnet.exe --version (if appropriate): N/A

VS version (if appropriate): N/A

OS version (i.e. win10 v1607 (14393.321)):
- Windows 10 1809 (17763.805)
- Ubuntu 18.04.1 LTS (WSL)

Worked before? If so, with which NuGet version: No, reproduced wit

[2019-11-19 16:03] shaipetel opened #8852 "Nuget package restore not working vs2019"
Building a project throws this error:

This project references NuGet package(s) that are missing on this computer. Enable NuGet Package Restore to download them.  For more information, see http://go.microsoft.com/fwlink/?LinkID=322105. The missing file is C:\Repos\***\***\\.nuget\NuGet.targets.

I checked and nuget package restore is enabled.

I closed and reopened visual studio, tried to build, o

[2019-11-19 17:30] loic-sharma commented on #7389
Should we add it to this documentation? https://docs.microsoft.com/en-us/dotnet/core/tools/csproj#istool

[2019-11-19 17:34] #7654 closed, assigned to nobody

[2019-11-19 17:44] nkolev92 commented on #8821
Glad .NET Core tools satisfy your scenario :)

[2019-11-19 17:44] #8821 closed, assigned to nobody

[2019-11-19 18:04] #8830 closed, assigned to heng-liu

[2019-11-19 18:10] timhermann opened #8840 "ExcludeRestorePackageImports=true should not exclude package path properties"
## Details about Problem

Visual Studio 15.9.17 and msbuild cli
NuGet version: 5.3.1.6268

OS version (i.e. win10 v1607 (14393.321)):
Win10 v1909 (18363.476)

## Detailed repro steps so we can see the same problem

1. Set ExcludeRestorePackageImports=true
2. Add `<PackageReference Include="Test.PathProperty" Version="x.x.x" GeneratePathProperty="true" />`
3. Attempt to use $(PkgTest_PathProperty)

[2019-11-19 18:15] timhermann commented on #8840
This issue in VS 15.9 means those paths aren't generated in VS2017 (which IMO should be fixed/backported): #8374 - but even from the CLI msbuild this is a problem. The package has targets that I must not have included in the project, but doing so means I cannot get the path definitions because the same condition excludes those properties..

[2019-11-19 18:24] heng-liu opened #8841 "Test with self-issued certificate didn't set KeyCertSign nor CrlSign"
From [RFC 5280, section 4.2.1.3](https://tools.ietf.org/html/rfc5280#section-4.2.1.3):
[code]
But SigningTestUtility.cs will generate self-issued certificate without setting IsCA=true, so X509KeyUsageFlags.CrlSign and X509KeyUsageFlags.KeyCertSign are not set.
(It will generate PartialChain status when chain build on such self-issued certificate.)

[2019-11-19 19:06] vslee commented on #8580
I'd like to try this out. Is there a way to save the nupkg name (OpenMedicus.Data.2.6.109.nupkg in this case) to a variable from the build step? That way the curl command can reference the variable rather than a hardcoded filename.

[2019-11-19 19:23] KarlDirck commented on #2978
Is there any update on this "feature"?  This is still an issue in VS 2019 Enterprise.

[2019-11-19 19:34] mikkeljohnsen commented on #8580
@vslee Not sure how your setup is. But I just build all my packages and move them to dir and do:

#!/bin/bash

. ./config

[code]
I have a file named "nugetpass" in that directory, containing the TOKEN

[2019-11-19 20:24] vslee commented on #8580
Yes, that works for me. For reference of others, here is my code, using input from @mikkeljohnsen.

[code]
Notes:
- this creates a datestamped prerelease build for every git push and uploads it to nuget
- if you don't want the prerelease suffix, remove the --version-suffix parameter
- the shell is explicitly set as bash in order to allow compatibility with building on windows
- you will need to re

[2019-11-19 23:58] nkolev92 opened #8842 "Deadlock in VSSettings init"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS

NuGet version (x.x.x.xxx): 5.5

dotnet.exe --version (if appropriate):

VS version (if appropriate):16.5 P2

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

NuGet Side of https://github.com/dotnet/roslyn/issues/39889.

**Version Used*

[2019-11-20 00:05] nkolev92 commented on #8842
@zivkan Worth checking out if Watson reports anything.

[2019-11-20 00:05] hugener commented on #8789
Yes, if I create a netcoreapp3.0 and reference NuGet.Configuration, i get a runtimes folder in the output.
Since, I am making a .netstandard2.0 lib there will never be an "app", or better said, my lib gets loaded at runtime by the actual app (MSBuild).
I also tried adding the following:
[code]
But that did not have any effect and according to [package-references-in-project-files](https://docs.micr

[2019-11-20 00:18] nkolev92 commented on #8789
That's a question better answered at https://github.com/dotnet/sdk/issues/new.
I have some context, but the folks there will have the right answer.

@nguerrera @dsplaisted any comment on this?

[2019-11-20 01:31] dsplaisted commented on #8789
It sounds like you're trying to make a dotnet tool that targets .NET Standard.  That's not supported, you need to target .NET Core.

@wli3 Maybe we should generate an error here if we don't already.

[2019-11-20 02:09] wli3 commented on #8789
https://github.com/dotnet/sdk/blob/master/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.PackTool.targets#L77

yes. If you use `dotnet pack /p:packastool=true`

[2019-11-20 05:39] Kannan1015 commented on #6440
@mgoertz-msft , the .NET Framework assemblies are loaded in the Visual Studio 2019 toolbox when installing the NuGet package. But, the custom control is not configured in toolbox for .NET Core 3.0 WinForms application. Do we have the solution for this?

[2019-11-20 07:31] MattiasEppler opened #8843 "How to copy non assembly files to output directory of application"
Hello.

How is it possible to copy none assembly files, like .xml, .txt .cat, and so on to the output directory of the application which uses my nuget package.

This is how my projectfile of my nuget package in visual studio looks like

[code]

in native there are some dlls, exe and other files.
[code]

with the settings in the project file only the assembly files (dll and exe) will be in the outp

[2019-11-20 08:43] harshavardhan-gupta opened #8844 "nuget not resolving dependency using what specified in nuget package for Microsoft.Extensions.Logging"
## Background
I have created a class library for .net core (targetting v`2.2`), and I have a .net core application as well (targetting v`2.2`).
I am trying to export the library as nuget package and install it in my application.
Here is the dependencies for my library
![MyLib dependencies](https://user-images.githubusercontent.com/6700486/69222069-b7866d00-0b9e-11ea-9cad-956c8c667ea9.png)
I am abl

[2019-11-20 13:08] jzkortee opened #8845 "Unable to download any Nuget package"
I am unable to download any Nuget package. I am getting the following error.
[nuget.org] Unable to load the service index for source https://api.nuget.org/v3/index.json.

I am using Visual Studio 2019 V16.3.9 Community edition on ]Windows 10 Profession

Thanks

[2019-11-20 14:37] yacoub-hossain-adsk opened #8846 "nuget pack process loses file attributes"
## Details about Problem

NuGet.exe

NuGet version (3.4.4.1321):

OS version win10 v1607 (14393.321):

Worked before? Not sure maybe it was always like this:

## Detailed repro steps so we can see the same problem

1. Create a file with read-only attributes

2. Pack it into a nuget package using nuget pack (and a valid nuspec file)

3. Extract the file out of the nupkg

4. Check the file attribute

[2019-11-20 15:08] Mike-EEE commented on #5763
I'm wanting to provide users that submit issues to our repository an easy and simple way to install a new package generated by our CI that addresses the issue they are reporting.

Example:

https://github.com/ExtendedXmlSerializer/ExtendedXmlSerializer/pull/299#issuecomment-556035632

However, running the command results in the error message discussed in this issue.  The interesting thing is that

[2019-11-20 15:42] AndnixSH commented on #2880
For me, open Fiddler 4 and closing it fixed the problem

[2019-11-20 18:16] zivkan opened #8847 ""An item with the same key has already been added" when restoring in Visual Studio"
Using latest internal preview, or built from latest dev branch only. Latest public preview not affected.

[2019-11-20 18:41] walter-w commented on #3676
It doesn't use the fastest.  I have a local repo setup on my disk which it doesn't attempt to use

[2019-11-20 19:09] hugener commented on #8789
@dsplaisted why ist that not supported? I mean it works. I was hoping target netstandard would also allow it to work with "classic" msbuild, but
@wli3 with `<PaskAsTool>true</PackAsTool>` I get an error saying I need to target NetCore.

Yes I'm building a build/tools package (developmentDependency), so all dependencies go into the package and I'm providing my own NuSpec. To do that I use `<CopyLoc

[2019-11-20 19:18] dsplaisted commented on #8789
There isn't always an implementation of a library for .NET Standard.  A library might have reference assemblies for .NET Standard but separate implementations for .NET Core and .NET Framework.  So you can't use CopyLocalLockFileAssemblies to get a "runnable" tool targeting .NET Standard, because there are no runnable versions of some libraries for .NET Standard.

[2019-11-20 19:29] BertanAygun commented on #5138
This is something that caused an issue on our scripts today too when we added another package that is prefixed by name of another package. Now "nuget list packageName" was returning all packages that start with "packageName". It would be great to have an option to return only packages with exact name match.

[2019-11-20 19:45] nkolev92 commented on #8789
If this is a build dependency only (meaning you have targets), then you can multi target netcore/netfx and use MSBuildRuntimeType to switch the task file imported based on that.

https://docs.microsoft.com/en-us/visualstudio/msbuild/msbuild-reserved-and-well-known-properties?view=vs-2019

[2019-11-20 19:47] nkolev92 commented on #8847
Can you fix the name? :D

This one is way to similar to https://github.com/NuGet/Home/issues/6795

[2019-11-20 19:54] nkolev92 commented on #8528
Updating the status here:

We have 4 fixes on the NuGet side so far, 5.3.x – 3.0.100, 5.4.x – 3.1.100

We have 2 fixes on the plugin side in 0.19 and 0.20 versions

* NuGet internally cancelling prematurely. (5.3.1) https://github.com/NuGet/Home/issues/8648
* Logging failures triggering plugin shut down. (5.3.1) https://github.com/NuGet/Home/issues/8688
* Propagated exception at dispose time fails

[2019-11-20 20:46] nkolev92 opened #8848 "Custom nuget.exe on newer mono might break due to the MSBuild SDK Resolver"
Specifically errors like this can be hit;

[code]

[2019-11-20 20:47] nkolev92 commented on #8848
fyi @NuGet/nuget-client

[2019-11-20 21:46] heng-liu opened #8849 "Test: GetPackageCollapsesPackageVersionsForListAvailable is flaky"
[GetPackageCollapsesPackageVersionsForListAvailable](https://github.com/NuGet/NuGet.Client/blob/3803820961f4d61c06d07b179dab1d0439ec0d91/test/EndToEnd/tests/GetPackageTest.ps1#L40) is flaky. It has failed 10 times in the past 1 weeks.
Error message:
`Value is not null. At GetPackageTest.ps1: line 49`
Callstack:
`Microsoft.PowerShell.Commands.WriteErrorException: Value is not null. At GetPackageTes

[2019-11-20 22:44] karann-msft opened #8850 "NuGet PM UI for Solution erroneously states "Blocked by packages.config" for a solution that contains a C++ project"
1. create a new c++ project
2. open PM UI for solution
3. search for "curl"
4. Observer the "version" combobox

![image](https://user-images.githubusercontent.com/16904420/69284766-3d58e700-0ba4-11ea-9e99-60701510844b.png)

[2019-11-21 00:59] hugener commented on #8789
@dsplaisted That makes sense, but in case the package does provide .netstandard compatible runtimes, shouldn't they be outputted?
For example, NuGet.Configuration provides netstandard1.3 libs for System.Security.Cryptography.ProtectedData.
Wouldn't those be safe to include when the consuming project targets netstandard2.0?
Of course, if I invoke that functionality they might throw PlatformNotSuppo

[2019-11-21 07:03] MattLavalleeMA commented on #6566
Same here. Almost 2 years old for a P1??

[2019-11-21 08:39] JeremyTCD commented on #7792
Ran into the same issue, ended up manually installing nuget. Hope this helps:

[code]

Why doesn't the following work?

[code]

`--api-key` works for some feeds (e.g Nuget.org) but not for others (e.g Azure Artifacts feeds). For the latter kind of feed you need to specify `password`. Unfortunately `password` isn't accepted by the `dotnet nuget` or `nuget` CLIs so you have to set it in a `nuget.con

[2019-11-21 19:08] #8841 closed, assigned to heng-liu

[2019-11-22 07:47] The-real-Urb opened #8851 "NuGet.exe list/push/... unable to connect to feed: Specified method is not supported"
NuGet Version: 4.7.3.5893
NuGet Version: 4.9.4.5839
NuGet Version: 5.3.1.6268

OS version:
LSB Version:    core-9.20170808ubuntu1-noarch:security-9.20170808ubuntu1-noarch
Distributor ID: Ubuntu
Description:    Ubuntu 18.04.3 LTS
Release:        18.04
Codename:       bionic

mono version:
Mono JIT compiler version 6.4.0.198 (tarball Tue Sep 24 01:21:28 UTC 2019)
Copyright (C) 2002-2014 Novell, Inc,

[2019-11-22 09:19] v-luzh commented on #8832
Not repro on D16.5\29521.150 with implicit NuGet 5.5.0.6293.

[2019-11-22 17:07] zivkan commented on #8851
Looking at the stack trace, the not supported exception is coming from deep within the System.Net stack, not NuGet, specifically around Windows (NT) authentication. This would be a question best asked to the Mono team. There appears to be a relevant issue open already: https://github.com/mono/mono/issues/15973

[2019-11-22 17:25] thomassuckow commented on #7383
You mention an empty folder, does it use v3 if something specific is present?

[2019-11-22 17:28] zivkan commented on #7383
I believe that NuGet does a very quick and basic inspection of the directory and if the first thing it looks at appears to be a v3 folder structure, then it treats it as v3, otherwise it assumes v2. So, if the directory is already v3, then pushing more packages to it should correctly keep using v3. Seeding that first package is an issue without nuget.exe (`nuget.exe add` should always use the v3 f

[2019-11-22 18:07] thomassuckow commented on #7383
Ya, I just figured that out. What it seems to be looking for is a file matching `foo/anything/foo.nuspec` The file can even be empty.

[2019-11-22 19:18] pnstickne commented on #3324
Still fails, 2019. There are multiple solutions to this that don't involve local system settings.

[2019-11-22 19:40] pnstickne commented on #3324
Anyway, (at least since NuGet 3.6), one can fix the Cache Issue by setting `NUGET_HTTP_CACHE_PATH` to a path like "F:\NuGet!@#$Cache".

[2019-11-23 00:47] nkolev92 commented on #8840
Why do you need to set ExcludeRestorePackageImports?

This is meant to be used for restore purposes so that packages' props/targets do not affect restore and potentially create a behavior that's not repeatable.

I get that this is not in the same breath as props/targets coming from packages, but the motivation is equivalent.

[2019-11-24 17:31] AndnixSH commented on #2880
This trick solved the problem https://stackoverflow.com/a/58851687/3763113

[2019-11-25 05:27] nkolev92 opened #8853 "DownloadTimeoutStream should not block by calling .Result"
Discovered while working on https://github.com/NuGet/Home/issues/8528.
[code]

[code]

DownloadTimeoutStream is a custom implementation for a stream timeout. The reasoning behind that is that the timeout property is not observed for asynchronous operations.

https://docs.microsoft.com/en-us/dotnet/api/system.net.sockets.networkstream.readtimeout?view=netframework-4.8#remarks

This class is only us

[2019-11-25 05:36] joelverhagen commented on #8853
Hoping you're clocking in for these weekend ours 😉. Nice find!

[2019-11-25 07:27] The-real-Urb commented on #8851
I opened following issue: /microsoft/artifacts-credprovider#153

[2019-11-25 08:48] BetaVersionAnurag commented on #8373
I had same issue,  it was working fine for all users, but was failing for one specific user (it was build service account in my case). After verifying all environment variable couldn't find anything related. Later I deleted the nuget.confing from C:\Users\<user account>\AppData\Roaming\NuGet and cache folder from  C:\Users\<user account>\AppData\Local\NuGet and then all started working as expected

[2019-11-25 08:55] matkoch commented on #7466
@karann-msft @nkolev92 did you have a chance to look into that?

[2019-11-25 09:04] v-nancyj opened #8854 "[Test Failure] The .csproj file of .net core project can’t be edited at the second time after installing a package"
## Details about Problem

NuGet Version: Implicit NuGet Client Dev\5.5.0.6319
VS Version: VS Master\29522.92
OS Version: Windows-10-Enterprise-19H2

## Installation step:
[https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=3268236&view=results](url)

## Repro steps:
1. Create a C# Console App (.Net Core) project.
2. Unload the project.
3. Reload the project.
4. Install a 'PackageReferen

[2019-11-25 14:47] cubanx commented on #8646
I have the EXACT same issue. It's a shame to see it's been nearly 2 months and no response, at all :(

[2019-11-25 16:09] #8848 closed, assigned to nobody

[2019-11-25 17:35] zivkan commented on #8833
@jhudsoncedaron Short version is that NuGet does not currently support transitive version pinning. It will be supported with the future [centrally managed package versions](https://github.com/NuGet/Home/wiki/Centrally-managing-NuGet-package-versions) feature.

The workaround is to directly reference the package in the project, as this causes [NuGet's nearest-wins rule](https://docs.microsoft.com/e

[2019-11-25 17:38] zivkan commented on #8843
I believe if you use the `Content` item type, instead of `None`, the package created from the project will work as intended. Does that resolve your issue?

[2019-11-25 17:39] zivkan commented on #8845
Duplicate of https://github.com/NuGet/NuGetGallery/issues/7705

[2019-11-25 17:39] #8845 closed, assigned to nobody

[2019-11-25 17:57] zivkan commented on #8846
Could you please explain the scenario for why you want files with the read-only attribute? What's the end-to-end experience? I haven't tested, but even if the file was read-only in the packages directory, when MSBuild copies files to the project output or publish directories, does it maintain the read-only attribute? is that desirable?

Issues/risks that concern me initially is that read-only attr

[2019-11-25 18:20] kartheekp-ms commented on #8854
Thanks for the detailed instructions. I am able to reproduce this issue.
Microsoft Visual Studio Enterprise 2019 Int Preview
Version 16.5.0 Preview 2.0 [29522.92.master]
Windows 10 OS

I am assign this bug to @dotnet/project-system team for further investigation.

[2019-11-25 18:54] kartheekp-ms commented on #8854
New issue is created in @dotnet/project-system repo

[2019-11-25 18:54] #8854 closed, assigned to nobody

[2019-11-25 19:50] jeffkl opened #8855 "RestoreSettingsUtils needs overload to use new SettingsLoadingContext"
## Details about Problem

The new `SettingsLoadingContext` needs to be added as an overload to `RestoreSettingsUtils` so that it can be used when reading the settings initially.

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (x.x.x.xxx):

dotnet.exe --version (if appropriate):

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)):

[2019-11-25 20:37] JimiSweden opened #8877 "creating nuget package fails with no information - "IsPackable:true" is missing and needed to pack"
If you don't get a nuget package, look if this "<IsPackable>true</IsPackable>" is missing in the csproj PropertyGroup.

**Steps:**
VS 2019 -v: 16.3.10 , dotnet sdk 3.0.100
project: .NET.sdk, TargetFramework : netstandard2.0

I read all the "latest" docs explaining how to pack. *
**Tested the following**
from VS : right click on project in VS and selecting "pack"
MsBuild -t:pack
dotnet pack

inform

[2019-11-25 20:41] kartheekp-ms commented on #8850
@karann-msft - This issue should be fixed by #8679. I am unable to reproduce this issue on Microsoft Visual Studio Enterprise 2019 Int Preview
Version 16.5.0 Preview 2.0 [29522.92.master]

![issue](https://user-images.githubusercontent.com/52756182/69576273-cb581780-0f80-11ea-91e4-c2a4ec4f5964.png)

[2019-11-25 20:41] #8850 closed, assigned to nobody

[2019-11-25 22:46] SilviuArdelean commented on #8850
Hi guys, and thank you for these great news!
I just got last days upgrade to 16.3.10. When do you estimate the 16.5.0 will be released?

[2019-11-25 23:03] buddhashrestha opened #8856 "Manage Package for Solutions shows error while browsing packages from an internal JFrog NuGet artifactory"
NuGet product used (NuGet.exe | VS UI | Package Manager Console):

NuGet version (x.x.x.xxx): 5.3.1.6268

dotnet.exe --version (if appropriate): 3.0.100

VS version (if appropriate): 2017

OS version (i.e. win10 v1607 (14393.321)): win10

Worked before? If so, with which NuGet version: No

Prerequisite: Downloaded latest nuget.exe

1. Created and pushed a NuGet package to an internal JFrog artifac

[2019-11-25 23:09] kartheekp-ms commented on #8850
@SilviuArdelean - Bug fix is shipped in VS 16.4 version. Please refer to this [comment](https://github.com/NuGet/Home/issues/8679#issuecomment-542797407) if you are looking for a work around for prior versions.

[2019-11-26 01:55] timhermann commented on #8840
Many packages include targets that inject behavior into the build and/or have not updated their packages to be packagereference-friendly. This is both a compliance nightmare as well as a headache to track down when something isn't working right. I need to exclude the targets that actually mess up my build, but I need to reference, copy, or transform files that are in the path.

The property should

[2019-11-26 06:05] MattiasEppler commented on #8843
I've already tried this, but its the same problem. Only dll and exe files in the output directory.

[2019-11-26 06:08] kartheekp-ms commented on #8856
@buddhashrestha - Similar issue is tracked here #8801. Please click on `Show errors in output` button and let us know if the error message is more verbose than the message displayed on  `nuget.exe` CLI.
![image](https://user-images.githubusercontent.com/10449218/69584225-88527000-0f91-11ea-9024-27d6420f735b.png)

[2019-11-26 06:16] pushist1y commented on #5358
This is what fixed that for me. I was testing my network from container by pinging 8.8.8.8 and was totally sure that it's ok. But as i saw this and tried to ping google.com - it wasn't resolved.

[2019-11-26 06:26] reduckted commented on #7030
How do I do this? Is there a setting in _Tools -> Options_ that I can change to get more verbose output in the Package Manager window? I can't see any settings like that, but maybe I'm not searching for the right thing.

[2019-11-26 06:40] The-real-Urb commented on #8851
I reverted to old version of mono and got it working:

[2019-11-26 06:40] #8851 closed, assigned to nobody

[2019-11-26 10:54] mingkuang-Chuyu opened #8857 "How do I install NuGet.Tools.vsix that I compiled?"
## Details about Problem

NuGet product used VS UI

NuGet version (5.5.0.54553)

VS version 16.3.10:

OS version  Win7 SP1 x64 :

## Detailed repro steps so we can see the same problem
Hello, due to the poor support for props in the official version, such as unable to import Shared ImportGroup or ExtensionSettings ImportGroup in C++ Project.

So I modified the source code and compiled it to get Nu

[2019-11-26 11:40] mingkuang-Chuyu commented on #8857
I have tried using Microsoft.Build.Construction API in install.ps1 and uninstall.ps1, but this has some cache refresh issues.

[2019-11-26 12:22] achilleaskar commented on #7001
In my case this error occured because after an entityframework update the dll modified date was 1980. so I found the source of the dll and used BulkFileChanger to update this Date value and this fixed the error for me

[2019-11-26 19:07] kartheekp-ms commented on #8857
Please send us the installation log when you try to install modified version of `NuGet.Tools.vsix`. we believe it could be because of signing.
Since you have already modified source code for better user experience, feel free to submit a PR with your changes so that we can review it and plan next steps.

[2019-11-26 19:28] srulandhs commented on #8638
Did you ever find a workaround for this or did you just re-add the <TargetFramework>?

[2019-11-26 19:44] czangarine opened #8858 "Odd dependency installation behavior"
## Details about Problem
NuGet product used: nuget binary (Mac), Rider 2019.2 IDE (Mac), VS 2019 IDE (Win)
NuGet version (x.x.x.xxx): 4.7.0.5148
dotnet.exe --version (if appropriate): 3.0.100
VS version (if appropriate): 2019
OS version (i.e. win10 v1607 (14393.321)): MacOS Mojave 10.14.6
Worked before? If so, with which NuGet version:  N/A

## Detailed repro steps so we can see the same problem
W

[2019-11-26 20:02] daniel-white commented on #8638
@aik-jahoda iirc thats what was happening.

[2019-11-26 20:20] sethreidnz commented on #6729
Not to derail this thread, and I have nothing to do with this library either but it works great and I use it in my projects for the above which much less friction than the current supported way.

https://github.com/nwheels-io/NuLink

[2019-11-26 22:38] buddhashrestha commented on #8856
Hi @kartheekp-ms , the Show errors in output button, doesn't do any thing i.e. the output console is empty. My assumption was, if there is an apikey missing/error, then it should let me reenter it.

[2019-11-26 22:43] buddhashrestha commented on #8856
Hi @kartheekp-ms , thanks for the reply. Here is the image of the error message on the output.
![image](https://user-images.githubusercontent.com/10449218/69678622-f151ea80-105a-11ea-93a7-bb59624f2362.png)
Here it says 403 whereas from the cmd, I can list my packages.

[2019-11-26 23:14] nkolev92 commented on #7030
@reduckted
NuGet restore is part of the build.
To increase the verbosity go to:
Tools -> Options -> Projects and Solutions -> MSBuild project build output verbosity.

[2019-11-27 00:37] nkolev92 commented on #8840
You should use Include/Exclude assets for those purposes.
https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files#controlling-dependency-assets

I get the name is not perfect, but this is really a NuGet internal that basically means packages' targets cannot not affect restore.

[2019-11-27 01:10] kartheekp-ms commented on #8856
The API key is only used for pushing packages. It is not used for authenticating to a private feed.`list` command hits different end points when it is invoked from `command line interface` and `VS`.
Please refer to this [doc](https://docs.microsoft.com/en-us/nuget/reference/nuget-config-file#packagesourcecredentials) to setup usernames and passwords for sources.

[2019-11-27 02:32] mingkuang-Chuyu commented on #8857
[dd_VSIXInstaller_20191127102107_2020.log](https://github.com/NuGet/Home/files/3894827/dd_VSIXInstaller_20191127102107_2020.log)

[code]

I did not install nuget in vsinstaller, but now it prompts me that the prerequisite is it.

I want to test it locally first, and then provide PR.

: )

Thanks

[2019-11-27 02:51] buddhashrestha commented on #8856
Thank you. I deleted the old package source and added a new one from the package manager console in VS with the username and password (nuget sources Add -Name Artifactory -Source https://extron.jfrog.io/extron/api/nuget/nuget-local-test -username <USERNAME> -password <PASSWORD>) and then restarted the VS. This sequence worked for me. Also, I found out that my NuGet.config was in C:\Users\<You User

[2019-11-27 04:19] #8856 closed, assigned to nobody

[2019-11-27 06:48] HelioVaGator commented on #8844
Closing the issue, as the problem was with nuget cache. I was not updating the version of nuget package that's why nuget cache was getting updated. Deleting the nuget cache resolved the issue.

[2019-11-27 06:48] #8844 closed, assigned to nobody

[2019-11-27 07:29] LuGuangguang opened #8859 "I Can't delete a new create package"
I learn to how to create a package.When I had public a package,I want to delete this. But I can't by the URL "https://docs.microsoft.com/zh-cn/nuget/quickstart/create-and-publish-a-package-using-visual-studio-net-framework".This is no the delete button.

this doc
![PHZE(IIAT (%RF51${(RNDR](https://user-images.githubusercontent.com/34500722/69702479-47da2a00-112a-11ea-916c-46b7e5464878.jpg)

this m

[2019-11-27 11:18] v-luzh opened #8860 "[Bug Bash][Test Failure][Accessibility]Hotkey “Del” for package context menu “Remove” in Solution Explorer doesn’t work"
## Details about Problem
NuGet version: NuGet Client Dev\5.5.0.6326
VS Version: Master\29526.122
OS: Windows-10-Enterprise-RS5
## Detailed repro steps
1. Create a project [e.g. C# Console App (.NET Core 3.1) template] via VS.
2. Open PM UI of the project by right-clicking the project->Manage NuGet Packages… in Solution Explorer.
3. Install several packages.
4. Open Solution Explorer window and go

[2019-11-27 11:22] v-luzh opened #8861 "[Bug Bash][Test Failure][Suggestion] Properties info of the installed PackageReference package should not be empty"
## Details about Problem
NuGet version: NuGet Client Dev\5.5.0.6326
VS Version: Master\29526.122
OS: Windows-10-Enterprise-RS5
## Detailed repro steps
1. Create a project [e.g. C# Console App (.NET Framework 4.8) template] via VS.
2. Open PM UI of the project by right-clicking the project->Manage NuGet Packages… in Solution Explorer.
3. Install several packages with PacakgeReference format.
4. Ope

[2019-11-27 17:33] Yuck commented on #5764
This is broken, IMO.  Please see the following warning details:

_Dapper.SimpleCRUD 2.2.0 depends on Dapper (>= 2.0.0) but Dapper 2.0.0 was not found. An approximate best match of Dapper 2.0.4 was resolved._

The message itself appears to indicate that Dapper.SimpleCRUD needs Dapper that is at least 2.0.0 - or greater.  And in fact, Dapper 2.0.4 (which is greater...) is used as a resolution to thi

[2019-11-27 18:11] zivkan commented on #8843
The [nuspec docs](https://docs.microsoft.com/en-us/nuget/reference/nuspec#using-the-contentfiles-element-for-content-files) say that contentFiles has a `copyToOutput` attribute (which is a bool), and [our docs on msbuild pack](https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets) say

Have you tried setting the `PackageCopyToOutput` attribute to `true` in your package project's csproj?

[2019-11-27 19:21] donnie-msft opened #8862 "Sanity-Check Push CLI Arguments and error-out earlier"
## Details about Problem

My recent Push Command work in https://github.com/NuGet/Home/issues/8148 revealed that we don't perform some validation on CLI arguments until deep within the logic. If the file being pushed doesn't exist, there's no purpose in analyzing config, sources, credentials, etc, just to error-out with a File Not Found error.

I'd like a discussion about this as a philosophy that

[2019-11-27 21:14] zivkan commented on #8857
If you have the NuGet solution open in Visual Studio, set the startup project to NuGet.VisualStudio.Client, then the debugging settings will automatically change to the Visual Studio Experimental Instance. Then either "start with debugger" or "start without debugger" will automatically deploy to the VS experimental instance and run it.

[2019-11-27 21:55] joelverhagen opened #8863 "No way to determine if a vs/nuget/searchselection event is emitted from auto-selection"
## Details about Problem

**NuGet product used:** VS UI
**NuGet version:** 5.5.06319
**VS version:** 16.5.0 Preview 2
**OS version:** Windows 10, 1909
**Worked before?** Don't think so :(

## Detailed repro steps so we can see the same problem

1. Open VS Telemetry Monitor
1. Filter to events starting with "vs/nuget/search"
1. Open PM UI
1. Go to Browse tab
1. Select any item, e.g. the second item

[2019-11-28 00:22] nkolev92 commented on #8528
Finaly fix in:
https://github.com/NuGet/NuGet.Client/pull/3141

[2019-11-28 01:15] AArnott commented on #8528
What version of .NET Core SDK or nuget.exe do we need to get this?

[2019-11-28 02:48] mingkuang-Chuyu commented on #8857
Bug I need to install it on another computers.  ：(

[2019-11-28 03:23] kartheekp-ms commented on #8857
Please go ahead and test your changes as suggested in [above](https://github.com/NuGet/Home/issues/8857#issuecomment-559252813) comment to ensure plugin works as expected for your scenarios.

We will work internally to discuss possibilities of distributing plugin to other computers. If the options are limited we will let you know so that you can create a PR with your new changes.
FYI - we do a lot

[2019-11-28 03:56] reduckted commented on #7030
Awesome, thank you. 😄

[2019-11-28 07:04] rrelyea commented on #8528
Checked into dev in plenty of time for 5.5. Which will ship with 16.5.
3.1.200 will be the matching sdk version, I think.

NuGet.exe might get patched in a 5.4.1 version if there is big need.
Dotnet.exe may have a servicing possibility too...but we don’t control timing.

Would love to understand where you (and others) most need fixes and how urgent a patch is.

5.4.0 already has 4 fixes helping th

[2019-11-28 08:31] tdesaules opened #8864 "nuget restore sln really slow"
Hi guys,

I have an issue with the nuget 5.x version.

When i make a nuget restore from a sln file (packages are downloaded the first time and the second time they are copy from the cache)

Thats strange but when the copy come from cache it is really slow. I have that on several server (Windows Server 2016). With my user account it look fine ~ 1mn to restore 70 package. It take ~10mpn with other a

[2019-11-28 09:46] Brondahl commented on #7542
I discovered this bug (and the "edit the csproj file manually" workaround) a while back. I agree that it's a VS UI issue. So if this GH issue tracker isn't responsible for the UI, then *have* we raised this in the VS Issue Tracker?

[2019-11-28 10:06] feilongsword commented on #8852
I have the same trouble too. Do you or anyone else find a solution?

[2019-11-28 10:20] mingkuang-Chuyu commented on #8857
Thanks. it works now.

[2019-11-28 10:47] mjfreelancing commented on #8713
I have the same issue with a .NET Standard 2 project. Downgrading to 5.2 removed the warning

[2019-11-28 13:20] MattiasEppler commented on #8843
Yes I also tried that
[code]
Same again. Only dll and exe files are in the output directory.

[2019-11-28 13:41] cartermp commented on #7542
Thanks for tagging @nkolev92 - this should go under https://github.com/dotnet/project-system

I don't have permissions to move the issue though

[2019-11-28 14:18] Brondahl commented on #7542
I've raised an Issue over on project system:
https://github.com/dotnet/project-system/issues/5678

Wehn I tested this in detail. I found that the Pack-on-build functionality, **does** use the `<Version>` tag ... but only if the `<PackageVersion>` tag is entirely absent.

If they're *both* present then is used <PV>, and ignores <V>.
So I suppose that they could argue that the UI is doing what it's

[2019-11-28 14:37] kartheekp-ms commented on #8857
Great. Thanks for the update.

[2019-11-28 14:37] #8857 closed, assigned to nobody

[2019-11-28 14:39] AArnott commented on #8528
Thanks for the version numbers, @rrelyea.

For my own purposes there isn't an urgent need because I've already applied [the workaround](https://github.com/AArnott/Library.Template/blob/ea9aac0dc07b2586d00197699a1de5b8daa69cab/init.ps1#L39-L41) pretty much everywhere. But I'll be happy to remove it when I can.

[2019-11-28 15:24] StarWars999123 opened #8865 "Nuget package can be installed multiple times in different versions"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI
VS version : 16.3.10

## Detailed repro steps so we can see the same problem

Use a .NET SDK project
- install at least one nuget package
- Lets assume we have incorrect resolved merge conflict:
    - open the .NET SDK project with a text editor and
    - copy the Itemgroup with the Packa

[2019-11-28 15:36] shaipetel commented on #8852
Yes, see my previous comment regarding editing the project file and removing the NuGet there.

[2019-11-28 19:34] #8824 closed, assigned to nobody

[2019-11-28 21:53] rrelyea commented on #7938
@AceHack - see my comments about different techniques that one can control order in my comment from today on #3676

@snowfire20 - problematic sources don't sound like a strong reason to add ordering. Make your sources good.

@princeo911  - read your feedback. appreciate you stating your use case.

Closing this issue. please consolidate any votes for this in 3676.

[2019-11-28 21:53] #7938 closed, assigned to nobody

[2019-11-28 22:11] rrelyea commented on #8355
@Geof23 - sounds like the problem is solved.

[2019-11-28 22:11] #8355 closed, assigned to nobody

[2019-11-28 22:13] #8264 closed, assigned to nobody

[2019-11-28 22:28] rrelyea commented on #7533
Duping out to #1820

[2019-11-28 22:28] #7533 closed, assigned to nobody

[2019-11-28 22:35] rrelyea commented on #7483
In NuGet 3.4, we added the all choice, but had some issues near ship so we didn't make it the default.
We should consider changing this to default to "All" now. There are some pros and cons.

[2019-11-29 03:53] MarkKoz commented on #5602
There seem to be discrepancies across platforms or systems. I locked on Windows 10 and can restore fine on that same system. However, restoring on Arch Linux fails for `System.Collections.NonGeneric`. If I restore and let it update the lock file, then I can see it produces a different hash for the aforementioned dependency. Furthermore, I use an Ubuntu agent for my CI pipeline and there `System.Co

[2019-11-29 05:05] AceHack commented on #3676
I need the ability to order/prioritize sources, please add.

[2019-11-29 17:00] rrelyea commented on #6504
going to close this issue.
if you find NuGet accessing sources when they shouldn't, please open an issue with full details.

Following up on my 9/19/2019 comment: as for, icons, nuget.org feed in search tab no longer hits the URLs. And people will be evolving packages forward to fix it. That is being addressed as part of that investment.

[2019-11-29 17:00] #6504 closed, assigned to nobody

[2019-11-29 17:22] rrelyea commented on #1822
Closing this request as we need to focus on higher requested features. If this is still interesting, and interesting to more people, let's discuss.

[2019-11-29 17:22] #1822 closed, assigned to nobody

[2019-11-29 17:25] rrelyea commented on #1627
May be related to #2472

[2019-11-29 17:29] mohamedmamdoh21 opened #8866 "محمد ممدوح"
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2019-12-01 17:06] bddckr commented on #8692
We're hitting the exact same issues as @Kieranties mentioned: Using an additional SDK via the global.json and our first `dotnet` command fails every now and then.

We're also using `Microsoft.Build.CentralPackageVersions`. The first command we run is `dotnet restore`.

[2019-12-01 19:16] nnyegaard commented on #8580
I'm still unable to push any packages to GitHub and I have tried all the workarounds:
* Curl
* dotnet CLI with NuGet.config
* Installing the nuget client on Ubuntu
* Using the NuGet Action on Windows
but I always get the error: `warn : The expected resource was not found.`

I thought that maybe it was because I tried to get it to work with our Organization account, but I am also getting the error

[2019-12-01 21:20] vslee commented on #8580
@nnyegaard try creating a test repo w/ my solution. If it still doesn't work, post a link to the repo and I can take a look.

[2019-12-01 23:06] sieukrem opened #8876 "Missing replacement for allowedVersions attribute in PackageReference"
The referenced article describes the usage of _PackageReference_ in project file and _package_ in packages.config as if the first a replacement for the second is.

Both of them provide the possibility to define a dependency for the restore operation at development time and also for the pack operation.

When I want to define a strickt version of a dependency to be used in the .nuspec of packed proj

[2019-12-02 09:02] nnyegaard commented on #8580
@vslee I got it working from your repo. I think I located the error, I did not specify the Repository URL in the csproj file for NuGet and without that nothing is happening. GitHub properly need to document that

[2019-12-02 11:54] marza91 commented on #8580
Not a logical place to look for it, but the documentation actually mentions this under the "Publishing multiple packages to the same repository" topic: https://help.github.com/en/github/managing-packages-with-github-packages/configuring-nuget-for-use-with-github-packages#publishing-multiple-packages-to-the-same-repository

Github will try to derive the repo name from the package name, unless the r

[2019-12-02 18:15] donnie-msft commented on #8866
We didn't receive your question, please add more details to your issue and we'll take a look

[2019-12-02 19:33] donnie-msft commented on #8865
What do you mean by the GUI not being able to resolve this issue?
What error do you expect in this case?

What I'm seeing happen is whatever the last PackageReference Version is wins. As soon as you build, there is no conflict, but instead one DLL is put into my bin/debug folder.

The only thing I saw out of sync was when I changed the XML file, saved it, reloaded the project, PMUI still showed th

[2019-12-02 19:37] nkolev92 commented on #7542
Thanks @cartermp and @Brondahl

Closing this as external.

[2019-12-02 19:37] #7542 closed, assigned to nobody

[2019-12-02 19:41] donnie-msft commented on #8864
I'm not clear on your scenario, or which accounts you're talking about.

However, to speculate on possibilities: what are your enabled Package Sources at the two different times you're restoring? If there's a slower source (either HTTP or local file feed) then the Restore could take longer to find/download the same package(s).

Try `nuget sources list` on the CLI as a quick way to see your Package

[2019-12-02 20:14] nkolev92 commented on #8855
Just adding milestones and a bunch of labels :)

[2019-12-02 21:46] sungam3r opened #8867 "Pack includes content brought in through dependency packages into the current project's package (SDK based projects only)"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS 2019

NuGet version (x.x.x.xxx):

dotnet.exe --version (if appropriate): 3.0.100

VS version (if appropriate): 16.3.8

OS version (i.e. win10 v1607 (14393.321)): Windows 10.0.14393 x64

Worked before? If so, with which NuGet version: -

## Detailed repro steps so we can see the same problem

[2019-12-02 23:11] debonte opened #8868 "VisualStudio ToolBox is not populated from a NuGet package if a project is placed in a solution folder"
## Details about Problem

**NuGet product used:** VS UI

**NuGet version:** 5.4.0.6292

**VS version:** 16.4

**OS version:** 10.0.18362.0

**Worked before?:** No

Visual Studio doesn’t add toolbox items from a NuGet package if a project is placed into a solution folder. A VS customer created a small sample (WPF, .NET Core3) to demonstrate the issue: https://github.com/pavelovcharov/netcore3_toolb

[2019-12-02 23:14] debonte commented on #8868
@pavelovcharov

[2019-12-02 23:40] nkolev92 opened #8869 "DedicatedAsynchronousProcessingThread should use synchronization for task scheduling rather than timed polling"
See https://github.com/NuGet/NuGet.Client/pull/3141#discussion_r352866237

//cc @zkat @dtivel

[2019-12-03 07:41] tdesaules commented on #8864
Well,

In fact the packages are already on the local cache on the server (the server is a jenkins slave).

They have been dosnloaded the first time I run the nuget restore. The latency come from the local copy ( from the cache to my repository configure in the project app ).

Some packages are quicly copy, other take several secondes for a total arround 9mn at the end.

The strange things is that

[2019-12-03 10:34] ganesanviji opened #8870 "How to show the Toolbox control after install the NuGet package in Xamarin platform"
Hi

I am trying to add the Toolbox controls along with default Microsoft Visual Studio toolbox window for Xamarin, after install the Custom NuGet packages instead of install the custom Tool Box Extension since the toolbox has been enable for the Xaml pages.

I have tried add the tools folder with the VisualStudioToolSDKmanifest.xml file along with my sample NuGet package. But don't have luck. The

[2019-12-03 14:50] Cylox commented on #8253
I am having the same issue with nuget CLI 4.6.2. NUnit3.TestAdapter.dll and the nunit.engine.dll get added to the content folder of the built package regardless of having a nuspec file with or without a <files> section. It seems like the NUnit3.TestAdapter .props file adds the assemblies to the content folder. But why? DevelopmentDependency also has no effect.

[2019-12-03 15:30] rainersigwald opened #8871 "GeneratePathProperty properties should end with a trailing slash"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): `msbuild -t:Restore`

NuGet version (x.x.x.xxx): `5.5.0-preview.1.6319+ba2a72ac9afd9e7260798a6ad14088297570b350.ba2a72ac9afd9e7260798a6ad14088297570b350`

Worked before? If so, with which NuGet version: no

## Detailed repro steps so we can see the same problem

When a package is referenced wit

[2019-12-03 17:36] deadlydog commented on #6150
We're building a ASP.Net Core app that runs some PowerShell scripts from C# to do some of the work. It dies when trying to run `Install-PackageProvider NuGet`.  Any update on this?

[2019-12-03 18:09] nkolev92 opened #8872 "All NuGet IVS APIs should be async"
The NuGet extensibility APIs in VisualStudio https://github.com/NuGet/NuGet.Client/tree/dev/src/NuGet.Clients/NuGet.VisualStudio/Extensibility are mostly synchronous and as such a common cause for UI delays.

Common offenders are:
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.VisualStudio/Extensibility/IVsPackageInstallerServices.cs

https://github.com/NuGet/NuGet.Client/b

[2019-12-03 18:17] kartheekp-ms commented on #8675
I am drafting a [spec](https://github.com/NuGet/Home/blob/dev-kartheekp-ms-uidelay8675-spec/designs/uidelay_asyncapi_IVsPackageSourceProvider.md) to create an `Async` version of [IVsPackageSourceProvider](https://docs.microsoft.com/en-us/nuget/visual-studio-extensibility/nuget-api-in-visual-studio#ivspackagesourceprovider-interface) interface to move the heavyweight code in the MEF activation path

[2019-12-03 18:46] donnie-msft commented on #8871
@jeffkl can you provide some input on this one?

[2019-12-03 19:05] jeffkl commented on #8871
Knowing that the paths are always directories, it would fine to add the trailing slash.  It probably should have had it from the beginning.

[2019-12-03 19:09] nkolev92 commented on #8871
This would be a breaking change then, correct?
How have we handled migrations of similar behavior before?

[2019-12-03 19:13] jeffkl commented on #8871
I don't believe it would be a breaking change.  If people consumed the properties like:

[code]

Then they'd end up with an extra slash which shouldn't cause any issues, even if they used relative paths like `$(Pkg_SomePackage)\..\subdir`.  At least on Windows, the extra slash is ignored.

[2019-12-03 19:25] nkolev92 commented on #8871
Key point :)

[2019-12-03 19:58] tmat commented on #5438
Have you considered an alternative approach - to detect the corruption and recover from it (e.g. delete the file and recreate the cache)? That should not cause any perf regressions during normal operation.

[2019-12-03 19:59] tmat commented on #5438
We are hitting this issue again, btw.

[2019-12-03 22:37] zkat commented on #5438
Hey @tmat -- thanks for resurfacing this issue. I actually really agree with what you're saying, and that's exactly what the NPM CLI ended up doing -- detecting cache corruption and re-fetching packages automatically. I'll be picking up this task as soon as I'm done with the current thing this sprint, but we can start talking about it already if you have any other thoughts!

[2019-12-03 22:46] tmat commented on #5438
@zkat Thanks! No other thoughts right now beyond the above comment.

[2019-12-03 23:47] nkolev92 commented on #5438
We usually stayed away from detecting global package folder inconsistencies due to the perf impact of reading the zip/parts of the zip.
The assets file creation even reuses the file list when rebuilding the assets file to avoid the extra IO.

I think that's why the original proposal is to tackle it at package installation time into the global packages folder.

[2019-12-03 23:56] nkolev92 opened #8873 "Investigate NuGet's parallelization at restore time"
We parallelize a lot at restore time in PackageReference. The number of projects, the target frameworks, the http calls when fetching packages etc.
That means we frequently overload the threadpool with tasks.

While investigating https://github.com/NuGet/Home/issues/8528, we found frequent situations where NuGet caused threadpool starvation.

We should investigate if this paralelization needs twea

[2019-12-03 23:58] tmat commented on #5438
You are now throwing an exception when reading the file. The suggestion is to perform validation/cache cleanup only when you hit such an unexpected file content format error.

[2019-12-04 00:07] nkolev92 commented on #5438
That's only if the nuspec is the corrupt file.
Right now, NuGet will not try to read any other package content. I'd imagine we'd need to validate all the files.

Then again, maybe addressing the specific repro, and just fixing up the installation directory if the nuspec is not correct extracted is enough.

[2019-12-04 00:19] tmat commented on #5438
Another option might be to extract the files to a directory with a _tmp suffix and then rename the directory after flushing the file content.

[2019-12-04 00:23] nkolev92 commented on #5438
That might do it.
We already do that on a file level but for a different reason (assets files, and the rest of the NuGet restore outputs).

[2019-12-04 00:25] jasonmalinowski commented on #5438
Wasn't the original concern that flushing the files had a perf impact? Otherwise there was an easier fix if I recall?

[2019-12-04 00:29] tmat commented on #5438
Not flushing the files is faster but incorrect.

[2019-12-04 00:32] jasonmalinowski commented on #5438
Sorry I should have been clearer: if you're going to flush, I don't think you need a temp folder per @emgarten's original description unless things have changed since then.

[2019-12-04 00:44] tmat commented on #5438
I think you still need the temp dir. The process might crash after Windows starts writing the file on disk but before it's flushed. The purpose of temp dir is to have an atomic "publish" operation that makes the content available for other processes on the machine.

[2019-12-04 01:02] jasonmalinowski commented on #5438
Per @emgarten's description, that's what the .sha512 file was supposed to be, but failed since NTFS can flush out of order if they weren't explicit about it.

[2019-12-04 01:59] mingkuang-Chuyu opened #8874 "VC Project not support nuget PackageReference style"
Maintainer edit:

Please refer to https://developercommunity.visualstudio.com/t/use-packagereference-in-vcxproj/351636

## VC  Project not support nuget PackageReference style
NuGet product used VS UI:
NuGet version 5.3.1.6268
VS version 16.3.10
OS version Windows 7 SP1 x64

As we all know, packages.xml easily leads to wasted space and a large number of IO copy operations. So I hope that nuget can

[2019-12-04 04:11] xspeed1989 commented on #8874
nice ！

[2019-12-04 07:27] davidfowl commented on #5764
@Yuck not sure what you mean, why does **Dapper.SimpleCRUD** depend on Dapper 2.0.0:

![image](https://user-images.githubusercontent.com/95136/70121930-76716c80-1624-11ea-8fcd-a2fe3b7d8582.png)

It doesn't exist, the package is broken.

[2019-12-04 15:41] jeffkl commented on #8871
I have verified that on linux, the double directory separated is also ignored

[code]

[2019-12-04 15:56] CMThF commented on #8604
We run into the exact same issue, with different dependencies on every machine.
However, `DisableImplicitNuGetFallbackFolder` does not circumvent it here.

[2019-12-04 15:59] stevenvolckaert commented on #8604
I was able to resolve this by following the steps **exactly** as outlined in repo [NuGet/Home \#7921](https://github.com/NuGet/Home/issues/7921).

Hope this helps!

[2019-12-04 16:22] CMThF commented on #8604
Yeah, already saw that entry. We have the exact same settings - no success.

[2019-12-04 19:27] rrelyea opened #8875 "Epic: Improve package validation"
https://github.com/aspnet/Extensions/issues/2744 details a break that occurred when dotnet core 3.1.0 shipped yesterday. Some packages had added embedded icons...but had two entries.

This item covers a new validation rule - "catch the duplicate zip item' problem.  (note, pay attention to encoding too... "foo bar" and "foo%20bar" as item names get extracted to the same file. How should we treat th

[2019-12-04 20:03] afust003 commented on #5385
Any updates on this? No major input since @emgarten more than 2 years ago. This issue has impacted the projects I've worked on in the past and is still present in VS2017.

[2019-12-04 20:36] sebwerner commented on #8646
I have the same issues as well.

[2019-12-04 20:58] karann-msft commented on #8876
@sieukrem - I have moved this issue to the product repo since your feedback is primarily about the product.

[2019-12-04 21:29] donnie-msft commented on #8876
There is already a related issue discussing this. I converted that issue to an epic, and will let this Issue serve as the PM UI side of any work done on this.

[2019-12-04 21:58] zarenner commented on #8092
@dtivel @nkolev92 @rrelyea just curious since it's been a while since I've checked in - has there been or is there any work planned for no-op restore perf improvements on large project graphs? Especially when using CentralPackageVersioning (e.g. solution lock file support)?

fyi @boxofyellow

[2019-12-04 22:01] karann-msft commented on #8877
@JimiSweden - I have moved this issue to the product repo since your feedback is primarily around the product.

[2019-12-04 22:01] rrelyea commented on #8092
We believe that some major noop perf improvements will land in 5.5. see https://github.com/nuget/home/issues/8791

CentralVersionPackageManager is a different effort, also in flight: see https://github.com/nuget/home/issues/8256

[2019-12-04 22:02] donnie-msft commented on #8692
Discussed with @jeffkl who says

[2019-12-04 22:10] zarenner commented on #8092
Awesome, that's very exciting. Thanks for the update.

[2019-12-04 22:16] donnie-msft commented on #8877
@karann-msft can you elaborate why you think this doesn't belong in the Docs repo? It seems the linked docs do not explain the importance of IsPackable.

The [first web search result](https://github.com/xunit/xunit/issues/1520#issuecomment-349282740) I found lead me to this comment:

[2019-12-04 22:37] karann-msft commented on #8878
Moving this issue to Home since the feedback is primarily around the product.

[2019-12-04 23:01] #8077 closed, assigned to rrelyea

[2019-12-04 23:03] rrelyea commented on #7652
Closing as dupe.

[2019-12-04 23:04] rrelyea commented on #7881
Closing this. We'd consider this if this is more common. It only popped up once, due to a bad release process.

[2019-12-04 23:14] rrelyea commented on #7942
appropriate covered.

[2019-12-04 23:14] #7942 closed, assigned to rrelyea

[2019-12-04 23:21] rrelyea commented on #7842
Dupe and close...now that you've fixed the last issue in 5.5, right?

[2019-12-04 23:23] nkolev92 commented on #7842
Duplicate of https://github.com/NuGet/Home/issues/8528.

Copying the mega summary:

We have 5 fixes on the NuGet side so far, 5.3.x – 3.0.100, 5.4.x – 3.1.100, 5.5.x -3.1.200

We have 2 fixes on the plugin side in 0.19 and 0.20 versions

* NuGet internally cancelling prematurely. (5.3.1) https://github.com/NuGet/Home/issues/8648
* Logging failures triggering plugin shut down. (5.3.1) https://githu

[2019-12-05 00:05] dtivel opened #8881 "VS: solution restore perpetually fails due to race condition"
Imagine `IVsSolutionRestoreService*.NominateProjectAsync(...)` is called on two threads concurrently.

1.  Both threads call [`SolutionRestoreWorker.ScheduleRestoreAsync(...)`](https://github.com/NuGet/NuGet.Client/blob/6f7be0986028256f05c894eac2f7816c85611984/src/NuGet.Clients/NuGet.SolutionRestoreManager/SolutionRestoreWorker.cs#L273) nearly simultaneously.
2.  Both threads call [`InitializeAsyn

[2019-12-05 00:38] bergbria opened #8882 "PluginFactory is global and caches failed tasks, making in-proc retries impossible"
## Details about Problem

As recommended by the Nuget team, I've been coding against the nuget binaries in an attempt to customize installation behavior (specifically to install a single package to the global cache without pulling in dependencies or making an extra copy, though that shouldn't matter here).

My installation tool runs on our distributed build machines, where high CPU load often caus

[2019-12-05 04:03] ganesanviji commented on #8870
Could you please anyone suggest the solution on this?

[2019-12-05 09:42] jagruti-caterlyst opened #8883 "missing references related to sqlite"
Severity	Code	Description	Project	Path	File	Line	Source	Suppression State
Error		This project references NuGet package(s) that are missing on this computer. Use NuGet Package Restore to download them.  For more information, see http://go.microsoft.com/fwlink/?LinkID=322105. The missing file is ..\packages\System.Data.SQLite.Core.1.0.112.0\build\net46\System.Data.SQLite.Core.targets.	CDC_Saleslyst

[2019-12-05 11:05] amis92 commented on #8692
I don't think it's that because with SDK v3.1.100 (which uses msbuild 16.4 AFAIK) I've hit it as well:

[Azure Pipelines build log](https://andrewarnott.visualstudio.com/OSS/_build/results?buildId=2020&view=logs&jobId=2d2b3007-3c5c-5840-9bb0-2b1ea49925f3&taskId=1fe6a80f-c499-5c44-93a4-d7854bf81728&lineStart=21&lineEnd=21&colStart=1&colEnd=314)

In this case the global.json uses "MSBuild.Sdk.Extras

[2019-12-05 18:16] toddasembia commented on #6138
Not sure if anyone else here is dealing with exactly the same problem as me, but my problem turned out to be caused by Visual Studio.  I was able to solve a very similar issue by doing the following:
1) Move my static, referenced DLLs into the magical "lib" folder
2) For those static DLLs, make sure that they are marked as "None" under "Properties -> Build Action".
![image](https://user-images.git

[2019-12-05 19:57] heng-liu opened #8884 "Apex tests without clearing output and error list in VS affect each other"
Discover this issue in netcore5.0 testing, found duplicate timestamps in log.
We should isolate tests by clearing output and error list at the beginning of each test.

Also found test CreateNetCoreProject_AddProjectReference passes incorrectly.
We should add a assert statement to make sure it fail when error occurs.

[2019-12-05 20:15] rrelyea commented on #8874
@mingkuang-Chuyu  - Are you suggesting, that if we call msbuild APIs from NuGet code, we can fix this for nuget command line scenarios and VS scenarios too?
Did you test your PR in all those scenarios?
This issue needs more details than you have provided so far.

[2019-12-05 20:22] heng-liu opened #8885 "Apex test creating Netstandard2.0 project will fail without NuGetFallbackFolder"
According to [doc](https://docs.microsoft.com/en-us/dotnet/core/build/distribution-packaging#disk-layout), NuGetFallbackFolder is only used prior to .NET Core 3.0.
Some of our Apex tests create netstandard2.0 project and then restore with empty feed in NuGet.Config.  When there is no lower version(<3.0) .NET Core on our CI machine, those tests will fail, for Netstandard.Library (and it's dependenc

[2019-12-06 02:52] mingkuang-Chuyu commented on #8874
@rrelyea Yes, I have tested nuget in all scenarios I know.

### nuget.exe restore
result : is OK

**nuget restore "I:\Visual Studio 2013\Projects\PluginsMgr\Cons
oleApplication1\ConsoleApplication1.vcxproj"**

Log
[code]

### msbuild.exe restore
result : is OK
**msbuild -restore -p:Configuration=Release;Platform=Win32  "I:\Visual Studio 2013\Projects\PluginsMgr\ConsoleApplication1\ConsoleApplicati

[2019-12-06 02:57] rrelyea commented on #8874
And in visual studio? What is the behavior? (Without running a Commandline restore ever on that project)

[2019-12-06 03:02] mingkuang-Chuyu commented on #8874
nuget.exe, msbuild.exe and  VS NuGet UI, all work fine.

[2019-12-06 03:03] mingkuang-Chuyu commented on #8874
in  VS UI Build
Log
[code]

[2019-12-06 03:06] mingkuang-Chuyu commented on #8874
And Build log : )
[code]

[2019-12-06 03:08] karann-msft commented on #8874
What version of Visual Studio did you test this with? Logs suggest 2013.

[2019-12-06 03:10] mingkuang-Chuyu commented on #8874
@karann-msft  Hi,  VS version is 16.3.10.

: )

[2019-12-06 03:11] mingkuang-Chuyu commented on #8874
But VS2017 also works.

[2019-12-06 10:15] AdamRiddick commented on #5740
A valid workaround is to directly reference the transitive dependeny and specify nowarn against that package.

Not ideal, but it prevents disabling the warning globally.

For example, with the Microsoft,TeamFoundationServer.ExtendedClient package;

[code]

Then for anything referencing the project that has Microsoft,TeamFoundationServer.ExtendedClient as a transitive;

[code]

[2019-12-06 11:51] garylogin opened #8886 "Copying nuget packages from one feed to another"
Problem:

We have several branches on the way to release our product....I mention 2 here:
Developers machines
Dev Branch
We have a single feed for all packages called "ourproduct"

The developers build, create and test packages on their local machines.

At present they can use labels like alpha beta etc....prerelease versions..and they released directly to "ourproduct" feed.

Our CI uses the "Dev

[2019-12-06 13:29] unclev commented on #4388
The following piece of code

[code]
causes exception like this
[code]
(This is just for example. My actual filenames, code, and exception details slightly differ).

[2019-12-06 13:38] fleed commented on #7001
Apparently run into the same issue while referencing EntityFrameworkCore 3.1 packages..

![image](https://user-images.githubusercontent.com/2131800/70326900-e9056680-1835-11ea-97e6-1181fdfcb0ee.png)

[2019-12-06 16:14] bording commented on #5740
@AdamRiddick I don't really consider that a workaround when that is exactly the problem I was reporting in the first place.

[2019-12-06 16:45] #8884 closed, assigned to heng-liu

[2019-12-06 20:31] nkolev92 opened #8887 "NuGet.CommandLine strongname is different than NuGet.exe ilmerged strong name"
That means if we run tests such as: https://github.com/NuGet/NuGet.Client/blob/dev/test/NuGet.Clients.Tests/NuGet.CommandLine.Test/ExtensionsTests.cs#L13 with the ilmerged assembly instead of the regular one, it will fail.

Note that I'm making a shift to use the il merged assemblies for testing in https://github.com/NuGet/NuGet.Client/pull/3003

[2019-12-07 01:23] donnie-msft opened #8888 "Insertion of NuGet 5.5.0-preview.2.6330"
VS:
- [x] Insertion PR: [217574](https://devdiv.visualstudio.com/DevDiv/_git/VS/pullrequest/217574)

.NET Core 3.1.2xx
- [ ] SDK
- [x] CLI
- [x] Toolset

.NET 5
- [ ] SDK
- [ ] CLI
- [x] Toolset

[2019-12-07 05:44] donnie-msft commented on #8883
Have you tried to run NuGet restore, and if so, what errors are you seeing from that? You can learn how to run restore here: https://docs.microsoft.com/en-us/nuget/consume-packages/package-restore#restore-using-visual-studio

[2019-12-07 05:51] donnie-msft commented on #8886
Not sure what you're asking for in this case. Are you not able to copy the NuGet packages to your second feed? If I understand, what you're asking for is to push distinct assemblies to 2 different local feeds, which you could certainly do with the [push command](https://docs.microsoft.com/en-us/nuget/reference/cli-reference/cli-ref-push#options) by specifying the -Source option. You can setup the

[2019-12-07 05:55] donnie-msft commented on #8880
@zivkan looks like you were mistagged in an earlier comment. Any context on this one?

[2019-12-07 06:03] donnie-msft commented on #8882
Which version of NuGet are you using?

With https://github.com/NuGet/Home/issues/8528, some work on the plug-in was very recently completed, and specifically was focused on fixing some task cancelled errors

[2019-12-07 06:16] logiclrd commented on #5138
This has been a feature request since at least 2014, maybe even earlier. How is it still not possible to query a specific package by exact match on its package id from the NuGet CLI? 🤔

[2019-12-07 07:18] donnie-msft commented on #5138
Surprised this issue makes no mention of the Package Manager Console commands (specifically [Find-Package](https://docs.microsoft.com/en-us/nuget/reference/ps-reference/ps-ref-find-package)). Do these APIs provide what you feel is missing in nuget list?

Of particular interest would be the two options for specifying an exact package ID

1. prefix the name of the package with packageId: (`packageId

[2019-12-07 07:35] donnie-msft commented on #8870
I'm not familiar with Xamarin Toolbox, and it may be more appropriate to open this issue on their repo. What do you mean by showing the control "through the NuGet package"? What file are you trying to import into this toolbar: a .nupkg or a .dll or a .xaml?

[2019-12-07 07:41] donnie-msft commented on #8870
A similar issue was recently reported. I'm not sure if it's related, but you may want to take a look:
[VisualStudio ToolBox is not populated from a NuGet package if a project is placed in a solution folder](https://github.com/NuGet/Home/issues/8868).

[2019-12-07 08:04] logiclrd commented on #5138
My need involved a script running in an Azure DevOps Build Pipeline script. Can the Package Manager Console's `Find-Package` be accessed outside of that context??

[2019-12-07 08:39] donnie-msft commented on #8867
I'm not exactly following your goal, here. You want the first consumer of your package to see the content (data.json), but anyone who consumes that new package should not see the content of data.json?

This MSBuild reference shows examples of how the folder structures work for Content Files: https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#including-content-in-a-package
You may par

[2019-12-07 08:41] #8866 closed, assigned to nobody

[2019-12-07 08:42] donnie-msft commented on #8864
@nkolev92  any insight, here?

[2019-12-07 08:48] #8859 closed, assigned to nobody

[2019-12-07 08:48] donnie-msft commented on #8859
Issue moved to [NuGet/NuGetGallery #7748](https://github.com/NuGet/NuGetGallery/issues/7748) via [**ZenHub**](https://www.zenhub.com/)

[2019-12-07 09:08] donnie-msft commented on #8858
I believe NuGet doesn't handle the copying of files directly, but MSBuild plays a role. @nkolev92  can you provide more info?

You may want to give the `flatten` property a try. From the [nuspec ContentFiles docs](https://docs.microsoft.com/en-us/nuget/reference/nuspec#using-the-contentfiles-element-for-content-files):

[code]

[2019-12-07 09:21] sungam3r commented on #8867
Exactly, I do not want to include this file transitively.

[2019-12-07 14:51] MV10 commented on #8745
When I'm creating or modifying a library, I will temporarily output the package to a local folder which is defined as a package source. Being able to turn off caching for that source would be a huge time-saver. Currently after rebuilding the library, I have to unload the solution that uses the package, manually delete the cached version, then re-open the solution to restore the package.

I was goi

[2019-12-07 15:04] MV10 commented on #8745
This does seem to be related: https://github.com/NuGet/Home/issues/6579

[2019-12-08 01:54] jlchavez commented on #6659
Sorry for being late to the party.

But whe are here on the NuGet repository, so XDT transformations on the Build stage should be cared by MSBuild. Yes, I know, this is through a .targets file. But them we need this to be an out of the box solution, that Microsoft provides to Visual Studio/.net developers. You have the example, why should we fork it to a new project that the world has to maintain

[2019-12-08 22:53] zivkan commented on #8874
For .NET projects, PackageReference works by using MSBuild to find the full list of PackageReferences not only for the current project, but also transitive PackageReferences from project-to-project references (although c++ projects can use ProjectReference, it's unclear to me what this does other than specify build order). It restores the packages (and their dependencies) to the global packages fo

[2019-12-09 00:55] #8440 closed, assigned to nkolev92

[2019-12-09 00:55] #8155 closed, assigned to nkolev92

[2019-12-09 00:55] #8423 closed, assigned to nkolev92, heng-liu

[2019-12-09 01:07] zivkan commented on #8784
From my investigations, it's not a good fit. One of the only advantages it has is that it's a single place to receive request completion and request error notifications. However, the differences between how the .NET Framework and .NET Core versions work increase the complexity, particularly when the request failed. It's simpler to use an exception handler, as `HttpRetryHandler` already does.

[2019-12-09 01:07] #8784 closed, assigned to nobody

[2019-12-09 01:21] mingkuang-Chuyu commented on #8874
@zivkan ，
There may be some problems with contentfiles support. There are no problems with other aspects. It has been tested.

.g.props/ .g.targets is ok(nuget,msbuild, vs nuget ui).
restore is ok(nuget,msbuild, vs nuget ui).
RID is ok (nuget,msbuild, vs nuget ui).

contentFiles，I'm not sure. I'll give you an answer tomorrow.

I have provided logs to prove that they work properly.

Thanks for your

[2019-12-09 07:18] anangaur opened #8889 "Need for better numbered warning message when GPR feed cannot be authenticated"
I have GPR feed in my sources. When it could not authenticate, I get an `undefined` warning message.

![image](https://user-images.githubusercontent.com/14800916/70415181-e9a62480-1a10-11ea-968e-1da376104989.png)

#### Expected
Better numbered warning message.

[2019-12-09 07:32] anangaur opened #8890 "Constant "loading.." on installed tab, and "searching <term>.." on updates tab"
#### Repro steps:
1. Open NuGet PAckage Manager on VS and Install a package to a project
2. Go to Browse, Installed and Updates tabs one after another
3. Go to Browse tab, search for a partial package ID term
4. Repeat Step 2
5. Keep repeating step 2,3,4 with different search terms and blanks

#### Expected:
Immediate results or no results on each tab

#### Actual
On installed tab:
![installed-tab

[2019-12-09 07:32] anangaur commented on #8890
@chgill-MSFT , do add more details, if any.

[2019-12-09 08:22] WojciechNagorski commented on #2944
Any update?
This problem blocks me in two new features of BenchmarkDotNet.

I would like to use `Microsoft.Diagnostics.NETCore.Client`:
https://github.com/dotnet/BenchmarkDotNet/issues/1315
and `System.CommandLine`:
https://github.com/dotnet/BenchmarkDotNet/pull/1037

All interested: @AndreyAkinshin @adamsitnik @sywhang @jonsequitur

[2019-12-09 10:33] garylogin commented on #8886
Hi Donnie, I have a big red face now :-) i can't believe i missed that thanks for your help

[2019-12-09 13:02] LeMorrow commented on #8580
I encountered this issue when using [nuget/setup-nuget@v1](https://github.com/NuGet/setup-nuget) on ubuntu with the following steps:
[code]

Simply changing `runs-on: ubuntu-latest` to `runs-on: windows-latest` for the job fixed this for me.

[2019-12-09 13:35] czangarine commented on #8858
@donnie-msft - Thank you for the reply.  I don't think we want `copyToOutput` on the source files, since they're compile-time resources, not runtime.

[2019-12-09 16:08] adamsitnik commented on #2944
@rrelyea any update on this? It's blocking us in BenchmarkDotNet

[2019-12-09 16:12] anangaur commented on #8580
@rrelyea @zkat can you chime in on how to use setup-NuGet on Linux. Should this also use StorePasswordInClearText on platforms other than Windows, for it to work with Mono?

[2019-12-09 16:16] rrelyea commented on #2944
If this is blocking you, please be specific of which scenario is broken... it sounds like a few new issues got spun off this one.

Are you using packages.config? Do you have unique version upper bounds declared, etc...

[2019-12-09 17:18] bergbria commented on #8882
We're using 5.0.2 currently. I'll try updating our version to see if it reduces the hit count. Any chance of updating the NuGet.CommandLine package to the 5.5.0 preview? https://www.nuget.org/packages/NuGet.CommandLine/ only goes up to 5.3.1 for some reason.

Even is the newer code reduces the frequency of exceptions,, there is still a code issue here (assuming it's ever possible for ``NuGet.Proto

[2019-12-09 17:53] GiorgioG commented on #8646
Bump

[2019-12-09 18:25] #8886 closed, assigned to nobody

[2019-12-09 18:35] donnie-msft commented on #8882
NuGet.CommandLine is purposely behind other releases and will be updated soon to the recommended latest.

Pinging @nkolev92 about the Plugin.

[2019-12-09 18:59] nkolev92 commented on #8882
Hey Brian,

Why are you using the NuGet.CommandLine package?
As @donnie-msft said, the release of it is purposely behind because publishing that package triggers auto update for folks running nuget update -self. It should follow a few weeks past the 5.4.0 release (which was last Tuesday).

We made a bunch of plugin reliability fixes: https://github.com/NuGet/Home/issues/8528 contains a list of the

[2019-12-09 19:00] nkolev92 commented on #7699
Hey folks,
We believe we have addressed all plugin reliability issues captured in https://github.com/NuGet/Home/issues/8528 which I believe is identical to this issue.

[2019-12-09 19:54] zkat commented on #8678
Not actually doing this one. Some of the work is already being done elsewhere, but this refactor should be driven by need rather than deciding to do it for its own sake.

[2019-12-09 19:54] #8678 closed, assigned to zkat

[2019-12-09 19:56] zkat opened #8891 "Get onboarded on xplat signing work and help as needed"

[2019-12-09 19:59] zkat commented on #8891
cc @heng-liu

[2019-12-09 20:15] adamsitnik commented on #2944
@rrelyea sure!

1. Create a new .NET Standard library
2. Add a dependency to a preview package. [System.CommandLine.Experimental](https://www.nuget.org/packages/System.CommandLine.Experimental/0.3.0-alpha.19577.1) is a good example
3. Create a NuGet package using `dotnet pack`
4. Publish the package to some nuget feed
5. Create a new Full .NET Framework Console App using Visual Studio 2017|2019
6.

[2019-12-09 20:18] nkolev92 commented on #8858
The content files are by default excluded from flowing to parent projects.
https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files#controlling-dependency-assets

Do you own packageA?
If you do, then you can consider change the default includes so that contentfiles are included :)

Note if you have a project to project transitive reference you might be hitting: h

[2019-12-09 20:20] nkolev92 commented on #8864
@tdesaules

Are your projects packages.config based or PackageReference?

[2019-12-09 20:27] heng-liu commented on #8891
Hi @zkat , thanks for helping me on xplat signing work!
I've sent you an email about some materials to start with.
Pls don't hesitate to ping me if anything else is needed.

[2019-12-09 20:37] nkolev92 opened #8892 "UI Delay - [PerfWatson] UIDelay: microsoft.codeanalysis.editorfeatures.wpf.dll!Microsoft.CodeAnalysis.Editor.Implementation.Suggestions.SuggestedAction.Invoke|nuget.visualstudio.implementation.dll!NuGet.VisualStudio.PumpingJTF.WaitSynchronously"
There's a UI delay happening when the editor suggests a package to be installed.

There are 2 obvious issues here:

1. We have a synchronous API which blocks the calling thread.
1. We are being invoked on the UI thread, which we can't blame others for because frequently IVS sync APIs are invoked on the UI thread.

The correct solution here is an async VS Package Installer service.

microsoft.codea

[2019-12-09 20:50] czangarine commented on #8858
@nkolev92 - Thank you for the reply.

Is there something I can put in packageB's nuspec to have it not flag contentFiles as private?  If so, that might solve the problem immediately.

I do own packageA.  Are you suggesting that packageA should declare contentFiles for all of its dependency tree (e.g. packageB)?  That unfortunately isn't something we can do given other use cases.

6826 does read li

[2019-12-09 21:18] cpyfferoen commented on #8730
Hi @danielcaceresm - i have the same complaint - is there a surgical way to replace the PluginFactory? I don't see a great way to keep a small footprint to overcome this - so wondering if you were able to do it with a small change?

[2019-12-09 21:30] rrelyea commented on #8796
First attempt at a fix doesn't seem to succeed. Working with VS Extensibility Team to see if we didn't make the change correctly...or if they need another fix.

[2019-12-09 21:40] zkat commented on #8891
Thanks a bunch, Heng! I'll start looking through it right away. 🎉

[2019-12-09 21:44] zivkan opened #8893 "Fix Install-DotnetCLI when cli/dotnet exists"
When merging to the latest dev branch and then running configure.ps1, the script fails if cli/dotnet already exists

[2019-12-09 21:57] nkolev92 commented on #8858
When PackageA declares a dependency to PackageB it declares which assets from B should flow to A's installing project.

Specifically:
[code]

would include everything but build/analyzers.

[2019-12-09 22:05] czangarine commented on #8858
Awesome.  Thanks @nkolev92.  No clue how I missed this.  Will give it a try and see.

[2019-12-09 22:09] nkolev92 commented on #8858
Which docs were you using as a reference?
Maybe we can add the information there to make things easier.

Would you please loop back once you have tried out the suggestion.

[2019-12-09 22:12] czangarine commented on #8858
Lots of googling, but primarily https://docs.microsoft.com/en-us/nuget/reference/nuspec#dependencies-element.  Under `include`, it says `The default value is all.`.

I see now under `exclude`, it says `But content/ ContentFiles are also implicitly excluded in the final package which can't be over-written.` which seems to contradict what you're saying.

I should have test results in a few minutes.

[2019-12-09 22:17] nkolev92 commented on #8858
This was changed here:

https://github.com/NuGet/docs.microsoft.com-nuget/pull/1029/files#diff-a0f52482bd5f78d428773d6bf021313f

I have opened an issue to revisit that: https://github.com/NuGet/docs.microsoft.com-nuget/issues/1806.

[2019-12-09 22:26] czangarine commented on #8858
Confirmed, setting include on the dependency in packageA does cause packageB to get embedded into the project.  Thanks @nkolev92 @donnie-msft !

[2019-12-09 22:34] nkolev92 commented on #8858
Glad to see that :)
We've keep https://github.com/NuGet/docs.microsoft.com-nuget/issues/1806 open for a follow up.

[2019-12-09 22:34] #8858 closed, assigned to nobody

[2019-12-09 22:59] mattleibow opened #8894 "Supporting Nano Server and Windows Desktop"
## Details about Problem

When creating native libraries, there is no way to get NuGet to install a different set of native runtime assets when running on Nano Server vs Windows Desktop or Server Core.

Typically, I would place my Win32 assets in the `runtimes/win-x64/native` directory and this works in most cases. However, Nano Server is both Win32 and not Win32. It is in the case that most binar

[2019-12-10 01:01] buddhashrestha opened #8895 "How to install dependencies of a referenced project?"
## Details about Problem

NuGet product used: NuGet.exe

NuGet version: 5.3.1.6268

VS version (if appropriate): 2017

OS version (i.e. win10 v1607 (14393.321)): win10

Worked before? If so, with which NuGet version: No

## Detailed repro steps so we can see the same problem
I have two projects (Project A and Project B) and both have NuGet.config inside the directory where the solution file exists

[2019-12-10 03:14] nkolev92 opened #8896 "Add async implementation of IVS Package Installer/Uninstaller services"
Spawned from: https://github.com/NuGet/Home/issues/8892

Design started at https://github.com/NuGet/Home/pull/9103

[2019-12-10 03:16] nkolev92 opened #8897 "Design an async IVS Package Installer/Uninstaller service"
Child of: https://github.com/NuGet/Home/issues/8896

[2019-12-10 03:16] nkolev92 opened #8898 "Build an async IVS Package Installer/Uninstaller service"
Child of: https://github.com/NuGet/Home/issues/8896

[2019-12-10 06:23] #8739 closed, assigned to nobody

[2019-12-10 06:32] #8893 closed, assigned to zivkan

[2019-12-10 07:15] donnie-msft opened #8899 "Check VSTS Token in Initialize_Build"
## Details about Problem
Minor CI improvement. We have had builds failing today after running fully, only to fail on the next-to-last step because the test results could not be obtained from VSTS.

This is wasteful since those build resources are occupied for hours, and really we should check up-front that we have a good VSTS token.

[Example Build ](https://devdiv.visualstudio.com/DevDiv/_build/r

[2019-12-10 07:55] nkolev92 commented on #8892
The solution here is to not call this API on the UI thread.
However, IVS sync APIs are called from the UI thread as a pattern.

The NuGet side of the fix is: https://github.com/NuGet/Home/issues/8896
Keeping this one tracking for the partner side usage of new service.

[2019-12-10 09:56] mingkuang-Chuyu commented on #8874
@zivkan   contentFiles is not work. Do you know where the "project.assets.json" generated code is?

Thanks

[2019-12-10 10:16] danielcaceresm commented on #8730
Hi @cpyfferoen,

The way we have implemented it is not so clean, if you find a better workaround, please inform me.

Basically, you must create a new PluginManager with a custom IPluginFactory and inject it in the SecurePluginCredentialProviderBuilder.

        private async Task<IEnumerable<ICredentialProvider>> GetCredentialProvidersAsync(ISettings settings)
        {
            var extensionLo

[2019-12-10 14:18] cpyfferoen commented on #8730
I did arrive at the same solution you have - Thank you for sharing!

[2019-12-10 15:55] Gabsch opened #8900 "dotnet pack doesn't build with GeneratePackageOnBuild flag but creates package"
## Details about Problem

Dotnet pack normally builds the project but it doesn't if "GeneratePackageOnBuild" is set to true.
This wouldn't be so bad and seems unfortunately to be by design (#6118), but it should definitely not just use previous build outputs to create the new package (with the new package version).
There should be at least some warning (or better it should fail).

NuGet product us

[2019-12-10 16:15] kartheekp-ms commented on #8675
- [ ] Learn about JTF from docs and threading experts
- [ ] Spec work (review spec internally and with partners)
- [ ] Fix code and compare ETL traces to validate the fix

[2019-12-10 16:26] kartheekp-ms opened #8901 "Learn about JTF from docs and threading experts"
Child task for #8675

[2019-12-10 16:28] kartheekp-ms opened #8902 "Build an async IVsPackageSourceProvider service"
Child task for #8675

[2019-12-10 16:30] kartheekp-ms opened #8903 "UI delay Fix code and compare ETL traces to validate the fix"
child task for #8675

[2019-12-10 18:15] dtivel opened #8904 "Restore: investigate issues with customer solution"

[2019-12-10 18:17] dtivel opened #8905 "Restore: investigate performance in customer solutions"

[2019-12-10 18:17] dtivel opened #8906 "Restore: prototype noop idea"

[2019-12-10 19:35] cristinamanum commented on #8257
The feature spec is [here](https://github.com/NuGet/Home/wiki/Centrally-managing-NuGet-package-versions). It contains the Visual Studio proposed updates. The experience may be updated until ship.

[2019-12-10 19:36] cristinamanum commented on #8257
Learning about IVS interfaces completed. Dev Design doc in review.

[2019-12-10 19:36] #8257 closed, assigned to cristinamanum

[2019-12-10 19:38] cristinamanum commented on #8564
Consolidate will not be mvp. Initial investigations were completed.

[2019-12-10 19:38] #8564 closed, assigned to cristinamanum

[2019-12-10 19:47] cristinamanum opened #8909 "[Centrally managing NuGet packages and versions] MsBuild targets necessary to flow the CPVM information from Directory.Packages.props to NuGet internals"
The data from Directory.Packages.props will need to be converted in a dgspec. This task is for the changes needed for this path.

[2019-12-10 19:51] cristinamanum opened #8910 "[Centrally managing NuGet packages and versions] Implement the restore graph changes for transitive dependencies."
Restore graph will need to consider possible transitive dependecies.

[2019-12-10 19:54] cristinamanum opened #8911 "[Centrally managing NuGet packages and versions] Implement pack necessary changes to include the “Include assets”"
The pack command for the projects with transitive dependecies will need to include them in pack and respecting the assets.

[2019-12-10 20:00] cristinamanum opened #8912 "[CPVM-OnBoard] Root cause of CloudBuild perf regression"
Performance testing using partner repos
CloudBuild

[2019-12-10 20:10] cristinamanum opened #8913 "[CPVM] Partner repo validation VS-Platform"
Partner with internal teams to test the solution on a real repo.
Both functionality and perf need to be validated.

[2019-12-10 20:12] cristinamanum opened #8914 "[Centrally managing NuGet packages and versions] Add Directory.Packages.props ."
NuGet does not have a "props" import path. Work with partners to find the best way to add the import in the props path.

[2019-12-10 21:10] zivkan commented on #8880
No, I don't have any other context. Mike was helping with our docs and I was the go-to engineer when he had questions, so I assume that's why I was tagged.

[2019-12-10 21:48] wli3 opened #8915 "Feature ask client side -- Surface PackageType query parameter in the NuGet.org search API"
https://github.com/NuGet/NuGetGallery/issues/7594

SDK team has the nuget gallery ask. And Peter Yu and @joelverhagen suggested it is better have a client side counterpart instead of directly query the web API. So all client side .NET code is in nuget client.

However, in the meanwhile SDK will continue directly using the web REST API since it is relatively simple, and we will migrate to use the c

[2019-12-10 22:25] bergbria commented on #8882
@nkolev92 I'm using Nuget.CommandLine because some of the Nuget classes I need to use aren't in any of the more granular packages. One example is ``NuGet.CommandLine.ExtensionLocator``. AFAICT, the options for using that are either to build against nuget.exe or to copy the source code.

I can manually download, check in, and reference a new nuget.exe, but referencing a nuget package is much nicer.

[2019-12-10 22:36] nkolev92 commented on #8882
Hmm, ExtensionsLocator is specific to NuGet.exe only scenarios which is why I imagine is kept there.

You can consider depending on https://dotnet.myget.org/gallery/nuget-build to get latest NuGet nupkgs.

I'd love to understand your scenario more, maybe we can be of better help.
Feel free to ping me, then we can post our findings here for others to benefit.

[2019-12-10 23:00] dtivel opened #8916 "Build: environment variable values are truncated"
Build tasks [like this](https://github.com/NuGet/NuGet.Client/blob/342da27fbd736f79620fd99cf8a9a2671adba75d/build/vsts_build.yaml#L131) print out environment variables, but the longer environment variable values are truncated.

[2019-12-11 00:26] nkolev92 opened #8917 "Document package bootstrapping scenarios"
Not everyone uses NuGet for libraries only.
The nupkg format is a simple zip with some metadata and it's used for many scenarios.

We have many features that involve just download packages.
NuGet.exe install package, direct download, PackageDownload etc.

All these could yield a nice doc/write-up on all the ways you can do things with NuGet.

[2019-12-11 07:11] MattiasEppler commented on #8843
It seems its a bug?

[2019-12-11 09:13] zivkan commented on #8843
Could be, but unfortunately I haven't had time to investigate myself and without others reporting the same issue, or upvoting this one, it hasn't been prioritized.

Things I'd check:
First, check the package after it's packed. If the files you wanted to include aren't under the `contentFiles/` directory, then NuGet's not going to tell MSBuild about the files in projects that use the package. You c

[2019-12-11 10:25] Whiletru3 opened #8926 "nuspec with dll, native and content in output folder"
Hello

I try to create a nuget package with existing dlls and content files

I have to reference one dll (c++/cli), add some native dlls and copy to output and add one folder with files to output path. I read the nuspec documentation ( https://docs.microsoft.com/en-us/nuget/reference/nuspec ) but it is unclear...

Here is the folder structure :
bin\xxx*.dll -> all the binaries c++/cli and native
r

[2019-12-11 10:39] SuperJMN commented on #5763
I'm getting this into the **Package Manager Console**

`Install-Package ExtendedXmlSerializer -Version 3.0.2.1-uypiabac -Source https://ci.appveyor.com/nuget/extendedxmlserializer-preview`

![image](https://user-images.githubusercontent.com/3109851/70614343-a6afa100-1c0a-11ea-9a61-ea966fbe571e.png)

Shouldn't it install it from the given source?

[2019-12-11 13:19] ro-jo commented on #8233
Can you reopen this issue? It's a problem that's been around since inception and as far as I can see, has never been addressed.

Scenario: C++ solutions
Solution A stores packages in D:\packages
Solution B uses D:\B\temp\packages

When NuGet package manager is used to install Nuget packages, it hard codes the packages folder, relative to the project where possible.

Let's assume each solution cont

[2019-12-11 13:33] mattwoberts commented on #7921
Hi,

I'm using dotnet SDK 3.0, and I'm introducing a lock file so that I can cache the nuget restore on azure pipelines. I've added `<RestorePackagesWithLockFile>true</RestorePackagesWithLockFile>` to my project files, and checked the resulting package.lock.json files into source control. All works locally.

When I push this, the azure pipelines restore task fails, and I see lots of issues e.g.:

[2019-12-11 17:35] webcoyote commented on #5358
I was able to fix this problem by removing the `.nuget` directory from my %USERPROFILE% (AKA $HOME) directory, as mentioned here: https://github.com/NuGet/Home/issues/2880#issuecomment-332247920

[2019-12-11 18:36] ajcrox commented on #8373
I'm also experiencing this after updating my nuget.exe from version 4 to latest

I had to change the nuget restore command from
`"C:\Program Files (x86)\Jenkins\workspace\.nuget\NuGet.exe" install "C:\Program Files (x86)\Jenkins\workspace\Extensions\packages.config" -source "https://api.nuget.org/v3/index.json;https://www.nuget.org/api/v2/;http://nuget/nuget/"  -NonInteractive -RequireConsent -sol

[2019-12-11 19:48] nkolev92 commented on #8233
@ro-jo

The packages.config flaws were well noted and PackageReference was designed with those issues in mind, and for that reason PackageReference projects do not hard code paths into the project file.

https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files

There are no plans to add new features to packages.config at this point.

[2019-12-11 20:01] ro-jo commented on #8233
Thank you, but did you notice I mentioned the solutions were c++? How is PackageReference going to help?

Is it best to abandon using NuGet for large solutions that share C++ projects?

[2019-12-11 20:24] nkolev92 commented on #8233
@ro-jo

Upvote https://developercommunity.visualstudio.com/idea/351636/use-packagereference-in-vcxproj.html for that.

[2019-12-11 20:25] nkolev92 commented on #8915
Related to https://github.com/NuGet/Home/issues/5725. :)

[2019-12-11 20:53] ro-jo commented on #8233
If you don't mind me saying, that's a waste of time. Seen it, ignored it, just like you will at Microsoft - you think we don't know you're going to ignore it? You haven't been able to fix a problem that affects any package with a props or targets file - for years. That issue was posted a year ago after several years of you lot doing nothing about it, even though it's not complicated. I guess it's

[2019-12-11 23:30] bergbria commented on #8882
Chatted offline with @nkolev92. We concluded that building against nuget.exe is the best approach for my case due to the number of dependencies (not just ExtensionsLocator) and the not-very-decoupled nature of the nuget code.

We also agreed it was reasonable to continue to globally cache failed PluginManager exceptions assuming all the illegitimate, retryable errors have been fixed. We also agree

[2019-12-11 23:55] heng-liu opened #8918 "SignedPackageIntegrityVerificationTests is disabled for netcore, we need to enable it."
SignedPackageIntegrityVerificationTests is disabled for netcore.
We need to enable the test and the APIs it depends on, for netcoreapp5.0, to make xplat verification/signing have a better coverage of tests.

[2019-12-11 23:57] heng-liu opened #8919 "TimestampProviderTests is disabled for netcore, we need to enable it."
TimestampProviderTests is disabled for netcore.
We need to enable the test and the APIs it depends on, for netcoreapp5.0, to make xplat verification/signing have a better coverage of tests.

[2019-12-12 01:15] heng-liu opened #8920 "RestoreCommand_PathTooLongException is disabled for netcore, we need to enable it"
RestoreCommand_PathTooLongException is disabled for netcore.
We need to enable the test.

There's an related issue: https://github.com/NuGet/Home/issues/7588

[2019-12-12 01:18] heng-liu opened #8921 "18 tests in TrustedSignerActionsProviderTests are disabled for netcore, we need to enable them."
18 tests in TrustedSignerActionsProviderTests are disabled for netcore.
We need to enable the test and the APIs it depends on, for netcoreapp5.0, to make xplat verification/signing have a better coverage of tests.

[2019-12-12 03:19] dominoFire commented on #5796
By testing by trial and error, I realized that by removing Virtualization in the InfinteScrollList and the Object Cache in the Converter on top of nuget/nuget.client@38a89ac2c924313a0b2b1e958728bbc7bebcabc1, the issue goes away. But, the performance of the list is degraded. See the table below:

| Cache | Virtualization Result | Comments |
|----|------------------------|----------|
| 0  |   0

[2019-12-12 04:08] rrelyea commented on #8920
I thought that netcore supports long file names nicely. So it may have different behavior than netfx???

[2019-12-12 04:11] dominoFire commented on #5796
There are some cases when even by removing the Image cache in the Converter and the Virtualization leads to disappearing icons. In the image below, dotnet.icon and dotnet.icon.file packages should have the same image icon but, it only appears on the Package Details pane.

![image](https://user-images.githubusercontent.com/1192347/70682002-447a8e80-1c52-11ea-96a9-e9a2b0b92243.png)

[2019-12-12 06:14] LightVolk opened #8922 "How to upgrade local repository from .net core 2.2 to .net core 3.*?"
I have local nuget repository wich contains over 800 packages. Version of .net core is 2.2.
I have script that can push existing packages into this repo. Packages must be at my local computer.

So, how can i download all .net core 3.* sdk packages to my computer? If so, i can easy push all of this packages into my local repository.

Thank you!

[2019-12-12 06:55] vbearn commented on #7001
Having the same error in .NET Core 3.1 (Stable Version)

Produced a lot of files with ModifiedDate of 1980-something

Temporarily fixed it with a PowerShell command (before running dotnet pack in my CI) to update the dates:

[code]

Hope there'll be a better fix soon

[2019-12-12 07:11] #8885 closed, assigned to heng-liu

[2019-12-12 13:50] RehanSaeed commented on #8148
I just got this for a nupkg which contains project templates which definately will never have a snupkg.

Is this fixed in 5.5-preview1 and do I need to pass `--no-symbols` in that version?

[2019-12-12 15:34] #8916 closed, assigned to dtivel

[2019-12-12 15:40] serialskiller commented on #5016
Zipping a web folder takes over 10 min & eats up a whole cpu core:
<file src="C:\tools\tmp\xxx\bin\Release\netcoreapp2.2\publish\**" target="Content" exclude="**\*.vshost.exe;**\*.vshost.exe.manifest;**\*.vshost.exe.config;*.csproj;*.csproj.user;*.nuspec;obj\**;web.*.config;**\*.cs;**\*.RoslynCA.json" />
This is a PACKER it should pack!
I switch back to plain zip & upload to a maven repository as

[2019-12-12 15:45] serialskiller commented on #5016
It happens with absolute path as well:
src=C:\tools\tmp\xxx\bin\Release\netcoreapp2.2\publish\\*\*\*"
target="Content"
exclude="**\*.vshost.exe;**\*.vshost.exe.manifest;**\*.vshost.exe.config;*.csproj;*.csproj.user;*.nuspec;obj\**;web.*.config;**\*.cs;**\*.RoslynCA.json"

[2019-12-12 17:24] anangaur commented on #8148
@donnie-msft, is it making to 5.5 preview 1?

[2019-12-12 17:47] dtivel commented on #8397
Failed again in build 5.5.0.6345.

[2019-12-12 17:57] a-einstein opened #8923 "packages.config to PackageReference migrator fails when a package with an invalid folder structure is in the project graph."
## Details about Problem

NuGet product used: VS UI.
'Migrate packages.config to PackageReference' on a packages.config of a Test project.

NuGet version: 5.4.0

dotnet.exe --version: 4.8

VS version: 16.4.1.

OS version: Windows 10 version 1909 build 18363.476

Worked before? If so, with which NuGet version:
Yes, on other projects.

## Detailed repro steps so we can see the same problem
0. I have

[2019-12-12 19:50] rrelyea opened #8924 "Improve search with package recommendations"
Deliver spec to explore business/technical options.
Client side and/or Server side?
etc...

[2019-12-12 22:08] bmajik opened #8925 "vs/nuget/nugetaction telemetry doesn't log info about currently installed packages"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI

NuGet version (x.x.x.xxx): 5.5.0.0

dotnet.exe --version (if appropriate):

VS version (if appropriate): Dev16

OS version (i.e. win10 v1607 (14393.321)): Win10 1909

Worked before? If so, with which NuGet version: No

## Detailed repro steps so we can see the same problem

1. Use VS UI

[2019-12-12 23:35] replaysMike commented on #5805
Why is this closed? It's still a huge issue as of VS2019 (16.3.10).

[2019-12-13 02:00] nkolev92 opened #8927 "Add more settings tests - completely cover project\sln level support across products"
Add more settings tests - completely cover project\sln level support across products

[2019-12-13 02:39] SotoiGhost commented on #8694
Adding `PrivateAssets="None"` to the `ProjectReference`/`PackageReference` fixes this. Also, adding the .props and .targets files to the [buildTransitive][1] folder helped.

[1]: https://github.com/NuGet/Home/wiki/Allow-package--authors-to-define-build-assets-transitive-behavior

[2019-12-13 02:39] #8694 closed, assigned to nobody

[2019-12-13 03:33] donnie-msft commented on #8148
Hi @RehanSaeed, 5.5 preview 1 has already shipped, and this change has not been merged quite yet.
I'm expecting it to be in 5.5 preview 2

There will be no need to pass `--no-symbols` unless you do not want to push symbols at all (this means do not even attempt it).

The point of this change is if you want to push nupkgs, and there are snupkgs available, they will be pushed if they are present, bu

[2019-12-13 03:39] donnie-msft commented on #5442
@rrelyea Push does try to pushing symbols.nupkg's even with this switch. The switch only disables .snupkgs. Is this an issue or by design? If the latter, then maybe simply clarifying the docs/help messages would be helpful.

[2019-12-13 07:37] MattiasEppler commented on #8843
ok checked:
1. My file were not under the contentFiles directory.
`<Content Include="native\*.*" Pack="true" >`
That's not enough we have to set the PackagePath manual:
`<Content Include="native\*.*" Pack="true" PackagePath="contentFiles">`
Question: Is the directory called "contentFiles" or just "content". In NugetPackage Explorer you can add a special Folder called content. conentFiles is not av

[2019-12-13 11:34] Shark75 commented on #6408
Just started using EF Core in our application and it's very annoying that this happens everytime you run a command in the package manager console.

Visual Studio 16.4.1

[2019-12-13 12:21] v-luzh opened #8928 "Updating package ‘EntityFramework’ need to restart VS for 3 times"
##  Details about Problem
NuGet version: NuGet Client Dev\5.5.0.6346
VS Version: Master\29612.110
OS: Windows-10-Enterprise-RS5
## Detailed repro steps
1. Launch VS and click “Create a New Project” button.
2. Create an ASP.NET Web Application (.NET Framework) project (Single Page Application).
3. Open PM UI of this project and go to ‘Update’ tab.
4. Select all packages and click ‘Update’ button.
#

[2019-12-13 12:25] v-luzh opened #8929 "[Test Failure][Unstable] An error occurred while applying transformation to 'Web.config' when updating packages in ASP.NET Web Forms Site project"
## Details about Problem
NuGet version: NuGet Client Dev\5.5.0.6346
VS Version: Master\29612.110
OS: Windows-10-Enterprise-RS5
## Detailed repro steps
1. Launch VS and click 'Create a New Project' button.
2. Create an ASP.NET Web Forms Site project.
3. Open PM UI of this project and go to ‘Update’ tab.
4. Select all packages and click ‘Update’ button.
## Expected
It is successful to update all the

[2019-12-13 14:11] JurjenBiewenga opened #8930 "Pushing large package to ProGet Server results in a 400 bad request with `There must be exactly one package.` as reason"
NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe

NuGet version (x.x.x.xxx): 5.4.0.6315, 4.9.2.5706, and 3.4.4.1321

OS version (i.e. win10 v1607 (14393.321)): win10 v1909 (18363.476)

Worked before? If so, with which NuGet version: No

## Detailed repro steps so we can see the same problem

1. Setup a ProGet server with a chocolatey/nuget v2 feed

2. Try to

[2019-12-13 19:05] donnie-msft opened #8931 "Temporary Workaround for failing CI due to an issue downloading the dotnet-install script"
CI is failing due to an issue downloading the dotnet-install script.
Need a workaround to unblock our builds.

[2019-12-13 19:33] krafs opened #8932 "Dependency resolution only within same repository"
## Details about Problem

NuGet product used:
NuGet.exe

NuGet version:
5.4.0.6315

OS version:
10.0.18363 Build 18363

## Detailed repro steps so we can see the same problem

1. Add new source (e.g. **simple-source**) to _nuget.config_

2. Add a new package (e.g. **startup**) to **simple-source**

3. Install the package: `nuget install startup -source simple-source`

NuGet successfully installs *

[2019-12-13 20:21] heng-liu opened #8933 "Broken test in SignatureTest"
In SignatureTest,  Verify_WithUntrustedSelfSignedCertificateAndNotAllowUntrusted_FailsAsync failed on Linux and Mac

[2019-12-13 20:47] heng-liu opened #8934 "Broken test in SignatureTrustAndValidityVerificationProviderTests(functional test)"
In SignatureTrustAndValidityVerificationProviderTests(functional test),
there're 19 tests failed on Mac , 15 on Linux, 1 on Windows(netcore)
The list is :
On Mac:
[code]

On Linux:
[code]

On Windows(netcore):
`RepositoryCountersignatures.VerifyAsync_WithRevokedCountersignatureCertificate_ReturnsSuspectAsync`

[2019-12-13 20:59] heng-liu opened #8935 "Broken test in TimestampTests"
In TimestampTests,
test Timestamp_Verify_WithOfflineRevocation_ReturnsCorrectFlagsAndLogsAsync  failed on Linux and Mac.

[2019-12-13 21:04] donnie-msft opened #8936 "Linux machines failing CI builds due to dotnet-install connection problem"
Linux Machines are failing to run Functional Tests when attempting to run dotnet-install.sh.
There appears to be some network configuration or connectivity problem.
`curl: (7) Failed to connect to dotnet.microsoft.com port 443: Connection timed out`

Example failing builds:
https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=3298450
https://devdiv.visualstudio.com/DevDiv/_build/results?b

[2019-12-13 21:05] heng-liu opened #8937 "Broken test in SignatureUtilityTests(functional test)"
In  SignatureUtilityTests(functional test), GetTimestampCertificateChain_WithNoSigningCertificateUsage_Throws failed on Windows(netcore), Linux and Mac

[2019-12-13 21:07] heng-liu opened #8938 "Broken test in TimestampProviderTests"
In TimestampProviderTests, there're 3 tests failed on Windows(net472).
The list is:
[code]

[2019-12-13 21:18] heng-liu opened #8939 "Broken test in SigningUtilityTests(unit test)"
In  SigningUtilityTests(unit test),  3 tests  failed on Linux and Mac.
They're:
[code]

[2019-12-13 21:20] bording commented on #8583
I have a package that is hitting this warning, and for me it's just noise I have to disable because I very intentionally want the behavior this is warning about.

The package uses `IncludeBuildOutput=false`, includes props and targets files, and also is a metapackage, so I want the dependencies to propagate to consuming packages.

I've previously requested a change to packing because of this packa

[2019-12-13 21:21] dominoFire commented on #5796
UPDATE: By setting VirtualizingPanel.IsVirtualizing="false", the issue disappears.

[2019-12-13 21:40] kartheekp-ms commented on #8842
Potential root cause of the deadlock is documented in this [comment](https://github.com/dotnet/roslyn/issues/39889#issuecomment-565617987).

[2019-12-13 23:51] heng-liu opened #8940 "Broken tests in NuGet.CommandLine.Test for Mono on Mac"
There're 2 broken tests for mono on Mac:
NuGetListCommandTest.ListCommand_InvalidInput_V3_NotFound(invalidInput: "https://api.nuget.org/v4/index.json")
NuGetVerifyCommandTest.VerifyCommand_WithAuthorSignedPackage_FailsGracefully

[2019-12-14 00:51] nkolev92 commented on #8896
Change all titles, we can't really be free threaded.
We call VS APIs that require the UI thread.

[2019-12-14 01:44] donnie-msft commented on #8890
@anangaur You're saying that "loading..." never disappears? Or is this a complaint about slow search? Not clear what is meant by "Expected: immediate results".

Would be great if you could include the version of VS where you're seeing this problem.

[2019-12-14 06:04] mingkuang-Chuyu commented on #8874
@zivkan   @rrelyea  @rrelyea   I have added contentFiles support. Now that all functions are fully implemented, please help to see if they can be merged?

[2019-12-14 06:40] mingkuang-Chuyu commented on #8874
[code]

[2019-12-14 07:20] anangaur commented on #8890
I don’t think this is a perf issue. Sometimes it loads quickly and sometimes it just keeps loading. I used 16.5 preview 1

[2019-12-14 13:20] rrelyea commented on #8796
Figured out problem was due to non-default config of my test machine. Once fixed, then my change addressed the problem. Rebasing to get a test fix and revalidating on CI...should be in soon.

[2019-12-14 14:56] rrelyea commented on #8796
Merged into NuGet.Client's dev branch. Will likely be inserted into VS Master branch in next week or two, making it in time for 16.5 p2.

[2019-12-14 16:46] davidhunter22 commented on #8623
We were having what I believe is the same, or very similar, problem as the original poster

We have a solution that builds a .Net assembly using C++/CLI. This is a wrapper round some C++ code to expose it to, in our case, C#. This assembly is build in x86 and x64 variants. We then would like to create a single NuGet package containing both variants. We then have a separate C# solution using the ne

[2019-12-14 16:56] Lonsarg commented on #3676
I have a VERY valid use case for needing this, Azure DevOps private feed has a feature called "upstream sources" that is almost useless if we cannot guarantee order.

We have our private feed with upstream to nuget.org, but because searches are not upstreamed we also have to add nuget.org directly to nuget.config. Since we can not force order, upstream sources sometimes work and sometimes not, we

[2019-12-14 18:33] donnie-msft commented on #8894
//cc @rrelyea @nkolev92

[2019-12-14 18:49] donnie-msft commented on #8895
It looks like you've added a direct Reference to the Exe. In order for NuGet to manage your dependencies, you have to create a NuGet package of your project. Detailed instructions for how this works are here https://docs.microsoft.com/en-us/nuget/quickstart/create-and-publish-a-package-using-visual-studio-net-framework

If you run into an issue with this process, let us know.

[2019-12-14 18:49] #8895 closed, assigned to nobody

[2019-12-14 21:59] donnie-msft commented on #8923
Just to confirm, are you actually using the UnitTestFramework in your code?
I expect if a Restore would fail due to incompatible TFMs, we may not know that at the time of the PackageReference migration.

//cc: @rrelyea

[2019-12-14 22:01] donnie-msft commented on #8929
This does not look like a NuGet error. Perhaps something is missing in one of the ASP templates?
Your Error List is clipped. What was the source of that error message?

Can you let us know what is shown in the Package Manager output window?

[2019-12-14 22:05] donnie-msft commented on #8930
Sounds like ProGet doesn't want to accept files of this size. The error doesn't look like NuGet Client did anything wrong, as it reported the return code and message.

Related? https://github.com/NuGet/Home/issues/8788

[2019-12-14 22:11] donnie-msft commented on #8932
Install is behaving as expected. All enabled sources are used for dependency resolution.

Names and versions of NuGet packages should be unique. See guidelines:
https://docs.microsoft.com/en-us/nuget/create-packages/creating-a-package#choose-a-unique-package-identifier-and-setting-the-version-number

https://docs.microsoft.com/en-us/nuget/create-packages/creating-a-package

[2019-12-14 22:11] #8932 closed, assigned to nobody

[2019-12-14 22:16] donnie-msft commented on #8922
You're looking for an API to query by Target Framework and download all the results?

//cc @joelverhagen does nuget.org support something similar?

[2019-12-15 00:50] buddhashrestha commented on #8895
hi @donnie-msft ! Thank you for the reply. Yes, according to our requirement, we need to refer ProjectB as an executable in ProjectA. This is because while debugging code in ProjectA, we may want to put break points into ProjectB files as well. BTW, both ProjectA and ProjectB are in artifactory and when opening ProjectA, we copy ProjectB into ProjectA's components folder. So, from the components f

[2019-12-15 09:50] JurjenBiewenga commented on #8930
#8788 Doesn't look related at first glance but I'll double check. I'll also double check the settings from ProGet and see if I can get it to work.

[2019-12-15 20:20] MarcoRossignoli opened #8941 "Warning NU5127 msbuild"
I'm upgrading some project to 3.1 and I get a warning from nuget pack command

[code]

I'm using msbuild to generage package https://docs.microsoft.com/en-us/nuget/create-packages/creating-a-package-msbuild

First question, is there way to generate empty folder using msbuild?

If I create correct structure under project with an empty file called `_._` and add `<TfmSpecificPackageFile Include="$(Pr

[2019-12-15 20:32] petanikode-kode commented on #4308
already with have it but still same issue there.

http://prntscr.com/qb86n8

[2019-12-15 20:59] matkoch commented on #7466
@karann-msft @nkolev92 any news?

[2019-12-16 00:25] eByte23 opened #8942 "Issue loading Credential plugins using NuGet.Credentials"
## Details about Problem

Trying add Azure credentials plugin support to NuKeeper.
From what I can see the correct? way  is to use   `DefaultCredentialServiceUtility.SetupDefaultCredentialService`

How ever when I do this I get
[code]

And the azuredevops packagesource will continue to return a 401.
I'll include for details below.

NuGet product used:
[code]

OS version:
Win10 v1909 build. 18363.4

[2019-12-16 02:23] zivkan commented on #8843
I should have been more clear, each point in my suggested things to try depends on the previous working correctly. So given that your package doesn't have a `contentFiles` directory, it's expected that the rest doesn't work when used in a project using `PackageReference` (all SDK style projects).

Searching for 30 seconds, I can't find an obvious place in the docs where it's documented, but basica

[2019-12-16 05:13] NicolasDorier commented on #6437
Please somebody fix this... :(

[2019-12-16 07:15] MattiasEppler commented on #8843
Hi.
I don't use the NuGet Package Explorer to create my package. I use the context menu in Visual Studio. This use msbuild -t:pack.

I just use the nugetpackage explorer to take a look in to the package.

This was just to take a look if it should be called content or contentFiles.

Yes that was clear. I added the contentFiles and content directory (with setting PackagePath) to test the rest of the

[2019-12-16 07:26] MattiasEppler commented on #8843
No I am a little bit confused.
I try to pack with dotnet pack. Then my package have content and also contentFiles.
After this I deleated the package and created it with the visual studio pack in the context menu. And now content and contentFiles folder is also created. ???
I don't understand. I do not change anything in my project.

Ok next step. How to copy my contentFiles to the output of my con

[2019-12-16 08:12] JurjenBiewenga commented on #8930
IIS might be at fault as it only supports 4gb files however the error message doesn't make too much sense in that case. I think you'd expect a `Request Entity Too Large` message, correct?

[2019-12-16 08:32] JurjenBiewenga commented on #8930
Right, it appears to be the fault of IIS rather than of NuGet.
Running an ASPNETCore server which allows for a higher MultipartBodyLengthLimit works fine.
Thanks!

[2019-12-16 08:32] #8930 closed, assigned to nobody

[2019-12-16 12:21] MattiasEppler commented on #8843
Found this:
https://weblog.west-wind.com/posts/2018/Jan/29/Distributing-Content-and-Showing-a-ReadMe-file-in-a-NET-Core-Nuget-Package:

He says:

You can create a zip with the content and post the download link in a readme.txt.

[2019-12-16 12:41] asci13 commented on #8692
Is there any update on this? we're hit by this seemingly random a few times a day (across multiple projects) and a fix or an update on a timeline would be much appreciated.

[2019-12-16 13:44] clairernovotny opened #8943 "Incorrect NU5131 error with MSAL"
Please read the following information before posting the issue.

## Details about Problem

msbuild /t:pack

dotnet.exe --version (if appropriate): 3.1.100

VS version (if appropriate): VS 16.5

Worked before? If so, with which NuGet version: dotnet sdk 2.2

## Detailed repro steps so we can see the same problem

It appears that the validation rule added in https://github.com/NuGet/Home/issues/8296

[2019-12-16 13:47] onovotny commented on #8943
Here's the nuspec generated by the pack task:

[code]

[2019-12-16 13:58] onovotny commented on #8943
If there's a update to the nuspec requirements that mandates generation of `reference` items for each TFM, then the PackTask doesn't appear to be doing that correctly in this case or doesn't have the right inputs to determine how to generate those elements. Either way, there's a gap here.

[2019-12-16 16:16] ghost opened #8944 "Visual Studio 2019: Error Installing Nuget Packages"
I receive the following error when trying to download new nuget packages in Visual Studio 2019:

Severity	Code	Description	Project	File	Line	Suppression State
Error	NU3000	Signed package validation failed with multiple errors:
NU3018: Package 'Microsoft.CSharp 4.7.0' from source 'https://api.nuget.org/v3/index.json': The author primary signature found a chain building issue: A certificate chain pr

[2019-12-16 16:42] Kieranties commented on #8692
I've ran into the same issue on another project running under Azure devops: https://dev.azure.com/Kieranties/SimpleVersion/_build/results?buildId=235&view=logs&j=2d2b3007-3c5c-5840-9bb0-2b1ea49925f3&t=ac0b0b0f-051f-52f7-8fb3-a7e384b0dde9&l=44

[2019-12-16 18:04] dominoFire commented on #5796
Possible root cause: when the `InfinteScrollList` is virtualized, some elements with previous broken icons trigger a `PackageIconImage_ImageFailed` event but, the event arrive when a new icon is loaded. See link below

https://github.com/NuGet/NuGet.Client/blob/6e40b4f38b07cabb03eaf10045743ef34c3a87af/src/NuGet.Clients/NuGet.PackageManagement.UI/Resources/Resources.xaml.cs#L16

[2019-12-16 18:29] rrelyea opened #8945 "Update dashboards to 15.9-16.3-16.4"
PR: https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_git/VSTelemetryDashboards/pullrequest/219038?_a=overview

[2019-12-16 19:21] #8835 closed, assigned to heng-liu

[2019-12-16 19:23] rrelyea opened #8946 "Improve NU1105"
Looking at newest telemetry, @nkolev92 noticed that NU1105 has dropped in frequency since the 16.0 feature supporting Solution Filters and unloaded projects. I've improved the doc page here so people know about the new feature and how to get out of this problem.

PR to fix docs: https://github.com/NuGet/docs.microsoft.com-nuget/pull/1815

[2019-12-16 19:25] nkolev92 opened #8947 "Port the dev guide to GitHub"
Right now it's a One Note.
It's more useful in the repo in some sort of a doc.

Ideas from NuGet/NuGet.Client#3180

- NuGet and target frameworks

- NuGet + dependencies, how to add a new dependency in the NuGet client. Think source-build.

- All NuGet to NuGet dependencies are via a ProjectReference (implied via all NuGet assemblies version the same :) )

- How to add a new assembly section.

- W

[2019-12-16 19:28] nkolev92 commented on #8933
You should be adding test/bug labels etc.

See Client team Hot Seat rotation One note - 2.

[2019-12-16 20:02] nkolev92 commented on #8894
//cc @nguerrera @eerhardt @dsplaisted @livarcocc

[2019-12-16 20:48] timheuer commented on #8580
@LeMorrow are you still seeing this?  I'm not.  You shouldn't need setApiKey if you are using UserName and Password option.  See my sample here that works and publishes to GPR: https://github.com/timheuer/test-lib/blob/master/.github/workflows/build-and-deploy.yaml.  It's the same as yours minus the setApiKey which is not needed in this case.

[2019-12-16 20:49] heng-liu commented on #8933
Thanks for your suggestion :)

[2019-12-16 21:47] #8945 closed, assigned to rrelyea

[2019-12-16 21:49] heng-liu commented on #8944
Hi, can you try the following steps? Thanks!
1. download Package 'Microsoft.CSharp 4.7.0' from https://www.nuget.org/packages/Microsoft.CSharp/
2. install latest NuGet.exe
3. run nuget verify -All foldername\microsoft.csharp.4.7.0.nupkg
4. paste the results

My results of the above steps are:
[code]
So it means both the author signature and repositofy countersignature are verified as valid.

[2019-12-16 22:47] LeMorrow commented on #8580
@timheuer The issue is still the same for me after upgrading NuGet/setup-nuget to `1.0.2` and removing `setApiKey`.

Results after just bumping the action version: https://github.com/LeMorrow/APOD.Net/runs/351453149#step:4:12

Results after removing the `setApiKey` line:
https://github.com/LeMorrow/APOD.Net/runs/351536183#step:4:11

**TL;DR**:
This
[code]
still throws the error
[code]

but only on

[2019-12-16 23:43] timheuer commented on #8580
@LeMorrow wow, certainly looks the same as mine and I'm not having issues.  I wonder if you delete https://github.com/LeMorrow/APOD.Net/blob/master/.github/workflows/deploy.yml#L58 if that makes any difference.  I can't imagine why it would and odd that you are seeing this just on ubuntu-latest.  Also perhaps add `-Verbosity detailed` to see if anything more from nuget.exe comes across.

[2019-12-17 00:03] Liturgist opened #8948 "Github as a PSRepository?"
We have a local Enterprise GitHub instance. We would like to make use of standard installation tools for both PowerShell and Python code. We want to install only what is needed and not replicate the entire project repository onto every machine that will run the code.

It appears that we could create a local Enterprise NuGet server. Is that needed?

Where can I find information on publishing a GitH

[2019-12-17 01:10] donnie-msft opened #8949 "Linux FuncTests should run against dotnet 3.1 not 2.2"
Recent temporary workaround resulted in dotnet 3.1 not running against our Functional Tests on Linux. dotnet 2.2 is currently being used.

[2019-12-17 01:54] nzbart commented on #5764
I feel like there's a real disconnect here between how the NuGet developers like @davidfowl view the ranged version specification working vs. how some users, such as myself, think this should work. In @Yuck's example above, the warning seems nonsensical to some of us because the package said that it will function correctly with any version greater than or equal to 2.0.0 - whether that be 2.0.0 or

[2019-12-17 03:54] txwizard commented on #8027
Ideally, the installer should make the appropriate substitutions. In the meantime, combining the SPDX tag with an embedded text file is an acceptable alternative. BTW, though I am not a  lawyer, I don't need a law degree or a license to figure that out.

The fact that this thread exists suggests to me that maybe somebody didn't think it all the way through. Consequently, they missed an opportunity