[2021-09-16 18:21] #11161 closed, assigned to dominoFire

[2021-09-16 18:27] aortiz-msft commented on #11240
Hi, could you please use one of our issue templates to report the problem? We suspect you are using an older version of NET 5.0 on Linux or Mac and hitting a known issue: https://devblogs.microsoft.com/nuget/net-5-nuget-restore-failures-on-linux-distributions-using-nss-or-ca-certificates/

[2021-09-16 18:27] #11240 closed, assigned to nobody

[2021-09-16 18:27] donnie-msft commented on #9660
@jzabroski consider giving the issue an upvote! My understanding is the deprecation icon is located there to be next to the Installed Version #, since deprecation is per version.

[2021-09-16 18:52] agtekbuild commented on #11161
Yes there is a reason to have projects shared across multiple solutions.  We have Windows Runtime Components which implement functionality which is shared across solutions.  These components are implemented as stand-alone components and we create a solution which holds the actual component project along with unit tests and example projects.  When an application solution consumes these components p

[2021-09-16 18:59] zivkan commented on #11161
`$(SolutionDir)` is only defined by MSBuild when restoring a solution file. Some customers restore projects individually (I don't know why), so changing NuGet to use this would break them. So unfortunately the solution to this problem isn't as simple as your proposal, though I wish it was.

[2021-09-16 20:47] agtekbuild commented on #11161
Would it be possible to supply a user selected item in there?  I am not suggesting changing it as the default.

From: Andy Zivkovic ***@***.***>
Sent: Thursday, September 16, 2021 11:59 AM
To: NuGet/Home ***@***.***>
Cc: GEO-build ***@***.***>; Mention ***@***.***>
Subject: Re: [NuGet/Home] [Bug]: Use `$(SolutionDir)` on packages.config paths in project files instead of relative path (`"..\package

[2021-09-16 21:05] kartheekp-ms commented on #11236
@erdembayar - Looking at the verbose logs, configuration and gif file I think the behavior is working as expected. The reason is, as per the source mapping configuration, the package `Contoso.MVC.ASP` should be installed from `encyclopædia - C:\xxxx\NamespaceTestPackages\PrivateRepository` source and the verbose logs confirm that `PrivateRepository` which is the expected source for that package.

[2021-09-16 21:07] kartheekp-ms commented on #11236
By mistake I pressed `Close with comment` while adding above comment.

[2021-09-16 21:15] erdembayar commented on #11236
But your current PMUI selection is not `encyclopædia`, but it's "encyclopaedia".
Just replace "encyclopædia" with "Public" and ""encyclopaedia". with "Private" and try same action, it wouldn't restore.

[2021-09-16 21:37] kartheekp-ms commented on #11236
I agree. I copied the package to the both of the sources and selected `encyclopaedia` as source in PM UI. When I clicked on `Install` the package is installed from `encyclopædia` source as per source mapping configuration.

I changed the `nuget.config` as follows

[code]

Clicked on `Install` in PM UI selecting `encyclopædia` as package source, then package installed from `C:\Users\xxx\source\Publ

[2021-09-16 22:29] erdembayar commented on #11038
@kartheekp-ms @nkolev92 @aortiz-msft
I tried to create test cases for PR type for Apex, End2end test.
But it looks we need whole new way of testing for package source mapping. Because each test for PR restore automatically put restored package into GPF but it pollutes restore environment for next package source mapping test.
So we have 3 choices:
* Remove restored packages from GPF at end of test.

[2021-09-16 22:54] kartheekp-ms commented on #11038
@erdembayar - Can we use a custom `globalPackageFolder` setting the `nuget.config` file for every test so that the machines folders are untouched?

https://github.com/NuGet/Samples/blob/main/PackageSourceMappingExample/nuget.config#L6

[2021-09-16 22:59] #9752 closed, assigned to zkat, advay26-zz

[2021-09-17 00:02] donnie-msft commented on #11012
I found the package that repro's existed in `<user folder>\.nuget\packages\`, so it's read from the local folder with a 0 download count.

[2021-09-17 00:20] jeffkl commented on #11234
Some more details here, the behavior changed on Windows between version 5.9 and 5.10:

| version | content/* | /content/** | content\\* | content\\** |
| - | - | - | - | - |
| 5.8.1 | error | tools\content\file.txt | tools\file.txt | tools\file.txt |
| 5.9.1 | error | tools\content\file.txt | tools\file.txt | tools\file.txt |
| 5.10.0 | tools\file.txt | tools\file.txt | tools\file.txt | tools\file

[2021-09-17 00:38] #10896 closed, assigned to donnie-msft

[2021-09-17 00:45] kartheekp-ms opened #11241 "[Bug]: VS crashes when package sources dropdown in PM UI has multiple package sources whose names are equal when compared using Culture Ignore Case"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

VS 2022 and didn't test previous versions.

### Worked before?

_No response_

### Impact

Other

### Repro Steps & Context

1. Create a `ClassLibrary` project in Visual Studio
2. Close the solution after it is created
3. Add a `nuget.config` file with below content under solution folder.
[code]

Reference - https://

[2021-09-17 00:46] MattGal opened #11242 "[Feature]: Give users the ability to have diagnostic-level verbosity for Nuget network activity"
### NuGet Product(s) Involved

NuGet.exe, MSBuild.exe, dotnet.exe

### The Elevator Pitch

While doing the research that eventually led to https://github.com/NuGet/Home/issues/11027, I realized how little information I can actually get about network operations from Nuget Clients.  This leads to all sorts of experimentation with packet captures, artificial environments, and frankly guesswork.

A fl

[2021-09-17 00:48] kartheekp-ms commented on #11241
The exception message is

System.ArgumentException
  HResult=0x80070057
  Message=Item has already been added. Key in dictionary: 'encyclopaedia'  Key being added: 'encyclopædia'
  Source=mscorlib
  StackTrace:
   at System.Collections.SortedList.Add(Object key, Object value)
   at NuGet.PackageManagement.UI.LoadingStatusViewModel.UpdateModel(IItemLoaderState loaderState)
   at NuGet.PackageManage

[2021-09-17 00:51] kartheekp-ms commented on #11241
The fix for this issue seems to be an easy one.

Change
https://github.com/NuGet/NuGet.Client/blob/1af032a9a12c530ef434e9ea1a53cd93348e1146/src/NuGet.Clients/NuGet.PackageManagement.UI/ViewModels/LoadingStatusViewModel.cs#L25
to
[code]
This fix may be relevant given that we are fixing string comparision issues https://github.com/NuGet/NuGet.Client/pull/4264
//cc @erdembayar

[2021-09-17 00:51] dominoFire commented on #8414
Dupe: https://developercommunity.visualstudio.com/t/NuGet-Package-Manger-Setttings-not-avail/1526179

[2021-09-17 01:01] erdembayar commented on #11038
That is the 2nd option I proposed. In order to build NetCoreConsoleApp we need prepopulate `Microsoft.NETCore.App, microsoft.codeanalysis.csharp` etc quite many packages.

[2021-09-17 01:24] zivkan opened #11243 "Run NuGet.Client's .NET Framework tests in 64-bit"
Currently the tests run in a 32-bit process. Since VS2022 is now 64-bit, let's run our tests 64-bit as well.

[2021-09-17 01:36] erdembayar commented on #11236
Please try with following.
I replaced "encyclopædia" with "Public" and ""encyclopaedia". with "Private" and try same action, it wouldn't restore.

[code]

[2021-09-17 01:56] kartheekp-ms commented on #11236
Changed the config file and followed repro steps mentioned in above comment. https://github.com/NuGet/Home/issues/11236#issuecomment-921381329

I still see the package restored from `private` package source.

![image](https://user-images.githubusercontent.com/52756182/133711211-487f89e8-483b-4088-aa01-ff87e9fde689.png)

Let's sync-up offline to make sure I am following the correct repro steps.

[2021-09-17 02:24] kartheekp-ms commented on #11236
synced offline with @erdembayar. This behavior is expected now. Hence closing this issue.

[2021-09-17 02:24] #11236 closed, assigned to nobody

[2021-09-17 04:10] erdembayar commented on #11038
@kartheekp-ms
I noticed allmost all except 1 netcore Apex tests are skipped/disabled due to being flaky test. Let's wait on creating maybe we need to go ahead with 2nd option, just pack all necessary nupkgs and unpack into GPF, so no moving part that might go flaky.

https://github.com/NuGet/NuGet.Client/blob/1af032a9a12c530ef434e9ea1a53cd93348e1146/test/NuGet.Tests.Apex/NuGet.Tests.Apex/NuGetEndT

[2021-09-17 08:02] jzabroski commented on #9660
Respectfully, that doesn't match my expectations or seems inconsistent with the rest of the UI, since the blue and green icons also communicate version statuses and are next to the package icon. This was a poor design choice that should be refactored rather than defended.

[2021-09-17 10:02] v-longmin opened #11244 "[Bug]: The “Report Abuse” links to https://www.nuget.org for the deprecated package from source “apidev.nugettest.org”"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Dev\6.0.0.252

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

## Details about problem
VS Version: Main\31716.326
OS Version: Windows-11-Enterprise-preview
## Installations
1. Install VS Main\31716.326 from:  https://devdiv.visualstudio.com/DevDiv/_build/

[2021-09-17 11:24] MatejPrasek opened #11245 "[Bug]: Unable to access multiple sources with different credentials"
### NuGet Product Used

NuGet.exe

### Product Version

5.7.0.6726

### Worked before?

No

### Impact

It's more difficult to complete my work

### Repro Steps & Context

When using different sources with different credentials, NuGet restore command fails.

STR:
1. Create two NuGet repositories with different access credentials
2. Add different packages into each repository
3. Create a credential

[2021-09-17 17:58] joserubenh commented on #8479
Currently I'm using the following code when dynamically loading packages.

[code]

How can I get the default nuget.org repositories without using sourceRepositoryProvider and avoid the Obsolete Warning?.
Could you provide an example please?.

[2021-09-17 18:06] joserubenh commented on #8479
I've found a solution: Just use the respository Factory.
 Dim repository = Repository.Factory.GetCoreV3("https://api.nuget.org/v3/index.json")
I hope this helps

[2021-09-17 19:12] xStrato commented on #11178
I'm facing the same problem by adding packages in .csproj
Running ```dotnet nuget verify``` on any package gives me the message:

error:
error: Package signature validation failed.

But after running ```dotnet clean``` the error is not showing at build/restore anymore...

[2021-09-17 19:40] donnie-msft commented on #11244
This is known behavior, see Note at https://docs.microsoft.com/en-us/nuget/api/overview#resources-and-schema.

[2021-09-17 19:40] #11244 closed, assigned to nobody

[2021-09-17 20:36] nathan-alden-hp opened #11246 "[Bug]: `dotnet tool restore` does not supply X-NuGet-APIKey header with GET requests"
### NuGet Product Used

dotnet.exe

### Product Version

.NET 5.0.400

### Worked before?

No.

### Impact

I'm unable to use this version

### Repro Steps & Context

I have a repo containing a Visual Studio solution with several .NET 5 class libraries. Corporate policy dictates that I use my employer's internal Nexus server as a nuget.org proxy. Recently, I started work on changing my nuget.org s

[2021-09-17 21:23] wli3 opened #11247 "NuGet.targets incorrectly performs a url-decode on filesystem paths, resulting in projects not found"
---
**Issue moved from dotnet/sdk#20901**
- Please respond to @stewartadam.

---

_From @stewartadam on Friday, September 10, 2021 5:29:50 PM_

### Describe the bug
NuGet.targets (or perhaps something that includes it in the msbuild stack) is incorrectly performing a URL-decode on filesystem paths, causing builds to fail due to projects not being found (because it's trying to access them with `fol

[2021-09-17 21:23] wli3 commented on #11247
---
**Issue moved from dotnet/sdk#20901**
- Please respond to @dotnet-issue-labeler[bot].

---

_From @dotnet-issue-labeler[bot] on Friday, September 10, 2021 5:29:53 PM_

I couldn't figure out the best area label to add to this issue. If you have write-permissions please help me learn by adding exactly one area label.

[2021-09-17 21:23] wli3 commented on #11247
---
**Issue moved from dotnet/sdk#20901**
- Please respond to @tessmichi.

---

_From @tessmichi on Friday, September 10, 2021 5:35:16 PM_

Additionally, when opening the .sln file into visual studio, the nuget packages can't be restored and no files get added to the solution. have not been able to find another workaround other than re-cloning into a folder with no spaces in the path

[2021-09-17 21:49] heng-liu commented on #11178
Hi @xStrato , thanks for adding the comments.
Yes, there is no verification on Linux and Mac during restore if not setting a environment variable to opt in (pls refer to https://github.com/NuGet/Home/issues/10742). But the verify command will still do the verification.
And since the certificate is recently distrust on MacOS, the verify command detect the issue in the certificate as expected.
Pls r

[2021-09-17 22:43] AraHaan commented on #11226
Perhaps what nuget could do is download a hash to a specific package and version (which is the actual hash of the package) and then when it tries to cache it it then hashes the package that is cached with the downloaded hash file (that is also written to that cache folder with the package). I think that could be an option. As for hashing algorithm would crc32 be doable since it can be done using a

[2021-09-17 23:14] #11125 closed, assigned to jeffkl

[2021-09-18 02:01] v-longmin opened #11248 "[Bug]: No indication that the Nuget.config file has a parsing error when opening the Package Sources view"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

NuGet Client Dev\6.0.0.222

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

## Installation
1. Install VS Main\31716.326 from:  https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=5215765&view=results
2. Install NuGet Client Dev\6.0.0.252 from: h

[2021-09-18 03:09] erdembayar commented on #11038
Maybe we need to find solution leveraging Dartlab(download needed packages during machine provision instead of adding to repository) for this since Apex tests are [moving to 1ES](https://github.com/NuGet/Client.Engineering/issues/1069).

[2021-09-18 03:09] erdembayar commented on #11187
@nkolev92 @kartheekp-ms
Today I learned all End2end tests need to move Apex test. Same reason as https://github.com/NuGet/Home/issues/11038#issuecomment-921302220 this one need another solution [maybe using dartlab](https://github.com/NuGet/Home/issues/11038#issuecomment-922168917).

[2021-09-18 08:16] v-luzh commented on #11248
It repro on 16.11. So it seems not a regression issue.

[2021-09-18 16:13] bugproof opened #11249 "[Feature]: Easier package publishing"
### NuGet Product(s) Involved

NuGet.exe, dotnet.exe

### The Elevator Pitch

The command to publish packages to nuget.org could be simplified. In Rust's package manager - cargo you just do `cargo login apikey` (just one time) and `cargo publish` and that's it.

Similar nuget subcommand could do the following:

- Build project in release mode
- Pack
- Push to nuget.org

The api key could be saved

[2021-09-19 00:10] #11243 closed, assigned to zivkan

[2021-09-20 16:37] nkolev92 commented on #9396
Internal issue fixed again.

[2021-09-20 17:05] nkolev92 commented on #11239
@rainersigwald

Can you elaborate why you think it's a NuGet issue?
`NuGetRuntimeIdentifier` is not something NuGet has ever defined, we just read `RuntimeIdentifiers` and `RuntimeIdentifier`.

@mrward also suggests that it's a mono issue.

[2021-09-20 17:11] nkolev92 commented on #11187
Apex and End2End tests are both different approaches to adding an end to end test.
Please don't focus on the name of the test type.

The goal is to cover the scenario.

https://github.com/NuGet/Home/issues/11187#issuecomment-908630430

Yes, the test needed here is basically that it's not respected.

[2021-09-20 17:38] nkolev92 commented on #3676
Please refer to https://devblogs.microsoft.com/nuget/introducing-package-source-mapping/

[2021-09-20 17:40] omajid commented on #10185
Hello! I just stumbled onto this issue. I am the RHEL package maintainer of the package in question.

The manual pages are from the SDK repo: https://github.com/dotnet/sdk/tree/main/documentation/manpages/sdk. We ship them in our RHEL packages, but it looks like Microsoft doesn't ship them in their Ubuntu packages? The man pages are actually generated from the official tool documentation at https:

[2021-09-20 18:33] nkolev92 commented on #11246
API keys are not used for restore, https://docs.microsoft.com/en-us/nuget/reference/cli-reference/cli-ref-setapikey#usage, https://github.com/NuGet/Home/issues/4049

Follow up docs issue to clarify more scenarios: https://github.com/NuGet/docs.microsoft.com-nuget/issues/2205

[2021-09-20 18:34] #11246 closed, assigned to nobody

[2021-09-20 18:34] #10110 closed, assigned to heng-liu

[2021-09-20 19:06] nkolev92 commented on #11038
We could consider adding our own templates, potentially ones that target .NET Framework instead.

Updating the used apex version might be a good idea s well.

[2021-09-20 19:56] nkolev92 commented on #9660
Regarding the NU1605 comment, deprecation is not surfaced in restore. The 2 are orthogonal.

[2021-09-20 20:17] aortiz-msft commented on #11202
We were not able to repro the issue with the Azure Artifacts Credential Provider installed; hence, closing this bug. Please feel free to comment with more information.

[2021-09-20 20:18] #11202 closed, assigned to erdembayar

[2021-09-20 20:23] aortiz-msft commented on #11247
@kartheekp-ms - Does this issue get resolved by the change you have In Review?

[2021-09-20 20:35] aortiz-msft commented on #10124
Please try to fix opportunistically for 17.0; otherwise we will have to fix in 17.1

[2021-09-20 20:46] chgill-MSFT commented on #11249
Hi, thanks for the suggestions!

Is what you have in mind something like what's described in the this proposal? https://github.com/NuGet/Home/pull/10658

The proposal is still in progress, but you the motivation and idea is there 😃

If so, please leave consider interacting with the associated issue!

[2021-09-20 20:47] chgill-MSFT commented on #11235
Hi Erick! Can you add a title to this issue to make it more clear what it's addressing?

[2021-09-20 21:00] erdembayar commented on #11235
Please check now.

[2021-09-20 21:20] dominoFire commented on #11194
lastes build shows the tooltip localized:
![image](https://user-images.githubusercontent.com/1192347/134077270-8541c75c-cd5b-40be-b404-ffed7e6d0d8c.png)

![image](https://user-images.githubusercontent.com/1192347/134077406-a61dae06-56ed-47f6-a394-a6fc47389019.png)

[2021-09-20 21:20] #11194 closed, assigned to dominoFire

[2021-09-20 21:21] kartheekp-ms commented on #11247
@aortiz-msft - I think the bug is in MSBuild logic.

https://github.com/dotnet/sdk/blob/b6bbe16dc12c3bc394ac58b72eefd7d5a7c068c9/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.PackageDependencyResolution.targets#L24

Project assets file path is normalized using MSBuild `NormalizePath` property function which I think is causing this issue.

Here is the repro steps
- Create a folder with name

[2021-09-20 21:30] chgill-MSFT commented on #9660
Hi @jzabroski - so it sounds there are 3 issues you have with the NuGet deprecation experience:

1. In a list of packages in the Installed tab, it's difficult to find which packages are deprecated because you can't filter for them.
2. The existing deprecation indicator on the package list item isn't in an intuitive or noticeable place for you. You would prefer that it be overlayed on the bottom ri

[2021-09-20 22:02] #11247 closed, assigned to kartheekp-ms

[2021-09-21 00:04] nkolev92 commented on #11235
It seems to me that the difference is shown in the drop down, but selection doesn't work?

Is that right?

Correcting the title accordingly.

[2021-09-21 00:06] nkolev92 commented on #11235
@erdembayar
Can you please confirm my changes are correct?

[2021-09-21 00:07] nkolev92 commented on #11235
Given that this is not a regression, and customers have not filled related issues, I'm gonna push this to the icebox.

[2021-09-21 00:13] nkolev92 commented on #11248
To my knowledge, this behavior is as expected, as if a config has parsing errors, NuGet can't really reliably detect the sources.

So the question would be whether NuGet has shown to the user in any way that there is a parsing problem.

@v-luzh

Does NuGet log anything in the output window?

[2021-09-21 00:15] nkolev92 commented on #11238
Dup of https://github.com/NuGet/Home/issues/8465

[2021-09-21 00:15] #11238 closed, assigned to nobody

[2021-09-21 00:17] zivkan commented on #11248
Even if the behavior of not listing the sources is expected, I think we should have a yellow bar, or a fake entry, that says "invalid xml file c:\src\repo\nuget.config. Unable to display sources".

[2021-09-21 00:25] nkolev92 commented on #11245
Hey @PrasekMatej

Thanks for creating this issue.

The logs don't seem to suggest that there was an issue accessing the sources. The logs suggest both sources were accessed. Am I missing something?

[2021-09-21 00:32] nkolev92 commented on #11248
That's what my comment suggests.

I'm not suggesting a particular implementation, rather whether there's an indication of any issues right now.

[2021-09-21 00:48] erdembayar commented on #11235
Ok. Corrected.

[2021-09-21 00:55] nkolev92 commented on #11235
I'm not sure what `doesn't show correctly` means here.

Show where?
The dropdown shows the `encyclopædia` in the gif.

[2021-09-21 01:10] erdembayar commented on #11235
After selecting encyclopædia from drop down it still show encyclopaedia on selection.

[2021-09-21 02:58] jzabroski commented on #9660
1. Yes. I also don't know that adding filters to the UI improves usability since it creates modes (filtered vs no filters applied) which often causes weird behavior. We already have this problem today when you select private feeds vs nuget.org feed vs all feeds.
2. Almost. I think that the warning should be top right instead of bottom right. In this way you can communicate multiple things.
3. Perh

[2021-09-21 07:10] ilya-git commented on #8465
This issue is quite old, are there any plans to fix it or a workaround @nkolev92 ? I don't see what else I can do apart from not using wildcards?

[2021-09-21 08:18] PrasekMatej commented on #11245
Hi @nkolev92

Thanks for your reply.

The issue is that package castle.core.4.4.1 was not found even though it's located in <repository2>.

When I delete cache and switch the order of the sources like `-Source "<repository2>;<repository1>"`, then castle.core.4.4.1 is downloaded and Newtonsoft.Json.12.0.2 is not found. Also, the credential provider is called only once with <repository2> URL as a pa

[2021-09-21 08:42] hupo376787 commented on #11209
@chgill-MSFT Not yet.

[2021-09-21 09:01] Thorarin opened #11252 "[Bug]: Sources passed via command line are not used to restore SDK packages with dotnet restore"
### NuGet Product Used

dotnet.exe

### Product Version

SDK 5.0.400, host 5.0.9.

### Worked before?

SDK 5.0.203, unknown host.

### Impact

It's more difficult to complete my work

### Repro Steps & Context

Some of our C# projects use an in-house SDK NuGet package, hosted on Azure Artifacts.

1. Create a .csproj ("MyProject.csproj") with a custom SDK package ("MySdkPackage") which does not exi

[2021-09-21 10:26] sigurn opened #11253 "[Bug]: props and targets files are not imported from build folder of transitive dependencies if custom platform name is used"
### NuGet Product Used

MSBuild.exe

### Product Version

MSBuild: 16.11.0.36601, NuGet: 5.11.0

### Worked before?

MSBuild: 15.9.21.664, NuGet: 4.9.3

### Impact

I'm unable to use this version

### Repro Steps & Context

1. MSBuild project SomeProject.proj with Microsoft.NET.Sdk
2. Project has a package reference for PackageA
3. PackageA has dependency group with targetFramework=".NETFramework4

[2021-09-21 13:16] Proxima89 opened #11254 "Scenario: We have two projects ProjectA and ProjectB. ProjectA is dependent on some C++ libraries and is packed as nuget package. ProjectB is a .net5 class library and ProjectA nuget is added in ProjectB. Then we create ProjectB nuget package."
Scenario: We have two projects ProjectA and ProjectB. ProjectA is dependent on some C++ libraries and is packed as nuget package. ProjectB is a .net5 class library and ProjectA nuget is added in ProjectB.  Then we create ProjectB  nuget package.
Now if we craete a Console application and add ProjectB nuget, the code complies Ok. When we expand the dependencies section we can see ProjectA under Pro

[2021-09-21 14:19] Mizux commented on #1660
`PackageReference` condition only support `TargetFramework` variable.
src: https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files#adding-a-packagereference-condition

While it doesn't scale at all if you want to start to support multiples RID at least the limitation is now documented :disappointed:

@DevTeam think of the combinatory explosion `<os>` x `<platfor

[2021-09-21 14:39] #11012 closed, assigned to donnie-msft

[2021-09-21 16:53] #10791 closed, assigned to zkat, heng-liu

[2021-09-21 17:07] akorchev opened #11255 "[Bug]: Running dotnet restore on a mac started to fail with NU3037"
### NuGet Product Used

dotnet.exe

### Product Version

5.0.101

### Worked before?

5.0.101

### Impact

I'm unable to use this version

### Repro Steps & Context

Today all my .NET applications started to fail to restore on three different mac machines. Happens for every nuget package. Here is an excerpt:

[code]

It started for new packages (packages that were not in the cache). I've made the

[2021-09-21 18:45] #11252 closed, assigned to nobody

[2021-09-21 19:12] nkolev92 commented on #11255
Hey @akorchev

Might be related to https://devblogs.microsoft.com/nuget/net-5-nuget-restore-failures-on-linux-distributions-using-nss-or-ca-certificates/.

Can you try using a newer version of the 5.0 SDK, maybe v5.0.401?

[2021-09-21 19:20] nkolev92 commented on #11254
Closing the issue givent his is a quesiton.

I'll reply in the discussion itself.

[2021-09-21 19:20] #11254 closed, assigned to nobody

[2021-09-21 19:29] akorchev commented on #11255
Hi @nkolev92,

Thank you for your reply! Installed v5.0.401 and this solved the problem. Restoring packages now works again!

[2021-09-21 19:29] #11255 closed, assigned to nobody

[2021-09-21 19:31] nkolev92 commented on #11255
Awesome, glad it fixed your problem!

[2021-09-21 19:42] #11253 closed, assigned to nobody

[2021-09-21 20:42] nkolev92 commented on #11245
The above is what I feared.

Dup of https://github.com/NuGet/Home/issues/4938.

Unfortunately this is a long standing issue, but please do upvote it.

[2021-09-21 20:42] #11245 closed, assigned to nobody

[2021-09-21 20:51] nkolev92 commented on #11235
Doesn't, `does not select` better describe the problem? It seems convoluted as written.

Anyway, I had trouble reproing. Is this a reliable repro for you?

See attached gif. The sources behind are nuget-build and nuget-org.

![PMC-FindPackage](https://user-images.githubusercontent.com/2878341/134245667-cf62a2dc-2c69-44c0-8464-93c81e4cf263.gif)

Is it possible that both sources had the same url in

[2021-09-21 21:11] nkolev92 commented on #10648
Consolidating this issue into https://github.com/NuGet/Home/issues/8985 as they both have the same motivation.

I edited the title of the original issue.

[2021-09-21 21:11] #10648 closed, assigned to nobody

[2021-09-21 21:27] bugproof commented on #11249
@chgill-MSFT Similar to the proposal you mentioned but it should also build in release mode and create package for you so you don't have to specify nupkg path yourself.

[2021-09-22 04:24] doughutchens opened #11258 "Nuget tool installer v1 failing due to ERR: Certificate Expired"
We are experiencing this randomly in our build/release pipelines: 1%.   Any guidance on debugging?

[2021-09-22 07:52] Proxima89 commented on #11254
Thank you @nkolev92 , much appreciate it!

[2021-09-22 08:11] sigurn commented on #11253
Thank you very much for the fast reply.

The main problem here is that backward compatibility is broken between NuGet versions. Switching the same project to new MSBuild/NuGet version makes it unbuildable.

Build targets from B contains scripts for installer like
[code]

1. I control PackageB and that means that to switch from VS2017 to VS2019 version I need to change all 300 packages to move all

[2021-09-22 15:47] jjmanton commented on #10882
@zkat I did some digging, and found that NuGet DOES in fact read the .nupkg.metadata file. Looks to be used to get the package SHA512 hash when restoring and generating a lock file. From an outside perspective, I would think it should read the sha512 file, but I am not as familiar with the inner workings here.

Can you provide any guidance on next steps for me to investigate?

Here is an example s

[2021-09-22 19:16] watters commented on #6941
I think the fix here may be erroring out in situations that aren't actually problematic. The reported bug complains about a duplicate file coming from two different source locations.

The fix here appears to error when there are multiple entries for the exact same source file, which wasn't previously resulting in duplicate files in the destination package.

[2021-09-22 19:17] nkolev92 commented on #8985
Another feedback ticket: https://developercommunity.visualstudio.com/t/This-version-of-VS-2022-repeatedly-asks-/1534482

[2021-09-22 19:19] nkolev92 commented on #11258
Hey @doughutchens, the pipeline tools are managed the azure devops team not NuGet team itself, so I would recommend filing an issue here: https://developercommunity.visualstudio.com/search?space=21.

[2021-09-22 19:19] #11258 closed, assigned to nobody

[2021-09-23 01:11] erdembayar opened #11259 "[Bug]: Onboard NuGet.Client repo into PackageSourceMapping feature"
### NuGet Product Used

dotnet.exe

### Product Version

n/a

### Worked before?

n/a

### Impact

_No response_

### Repro Steps & Context

Onboard NuGet.Client repo into Package Sourcemapping feature.

### Verbose Logs

_No response_

[2021-09-23 09:20] marisks commented on #6548
I have tried all the different ways that are described here but nothing helps. Files are not copied over.
After installing the package, it creates a shortcut to the file which resides in the NuGet cache. But the framework I am using expects those files in a specific folder (which should be created by copying the files).

[2021-09-23 10:17] AndrueCope commented on #6408
This is also the cause of the Error List getting the focus randomly while executing a build. It's very annoying if you have the options 'Show Output window when build starts' and 'Always show Error List if build finishes with errors' as I have. For years now I've used the focusing of the Error List as an indication that the build has ended and I can start fixing the issues but with this current bu

[2021-09-23 14:46] adirh3 commented on #7416
I believe this is a most as well, we are seeing many official NuGet packages pushing `<UseWinForms>` in case the TFM is `net5-windowsX`, this may cause compatibility issues as described above and huge increase in output -

Repro -
[code]
Then run `dotnet publish -c release -r win10-x64 --self-contained`, output size is 140MB (even when trying to trim) for an empty app that does not use WinForms, a

[2021-09-23 17:39] nkolev92 commented on #11259
@erdembayar

I think issues like this should probably live in Client.Engineering.

[2021-09-23 17:39] nkolev92 commented on #11259
I think this is also more of an engineering issue rather than a bug.

[2021-09-23 18:06] kartheekp-ms commented on #11259
@erdembayar - Work is already done in https://github.com/NuGet/NuGet.Client/tree/dev-kartheekp-ms-dogfood-namespaces branch while dogfooding source mapping feature.

[2021-09-23 18:15] aortiz-msft commented on #11232
Hey @dtivel , any thoughts? Breaking older clients seems like big problem.

[2021-09-23 18:36] aortiz-msft commented on #11189
@donnie-msft - This seems like low hanging fruit that might have been already fixed by one of your change. Would you please take a look?

[2021-09-23 18:37] donnie-msft commented on #11189
@aortiz-msft no, my change fixed the background color and did not involve the tooltip.

[2021-09-23 18:41] fackass commented on #6408
It's just ridiculous this is still ongoing after 44 months

[2021-09-23 18:44] aortiz-msft commented on #11048
@donnie-msft  - Do we use a custom control here?

[2021-09-23 18:47] aortiz-msft commented on #10978
@donnie-msft  - Seems like low hanging fruit. Would you mind getting a cost estimate for this one?

[2021-09-23 18:51] aortiz-msft commented on #10883
@v-luzh - We weren't able to repro anymore with NET6.0 RC1. Would you please check?

[2021-09-23 18:51] #10883 closed, assigned to zkat

[2021-09-23 18:52] aortiz-msft commented on #10797
@zkat - should we have simply shown an error in this case?

[2021-09-23 19:00] aortiz-msft commented on #10526
@v-luzh - No reports from customers on this issue, which looks to us like an edge scenario with very specific repro steps.

[2021-09-23 19:01] aortiz-msft commented on #10670
@v-luzh - We could not repro with packages hosted in NuGet.org which is the most common scenario.

[2021-09-23 19:05] aortiz-msft commented on #10328
@heng-liu, @v-luzh - Closing as dupe of https://github.com/dotnet/runtime/issues/48794

[2021-09-23 19:05] #10328 closed, assigned to nobody

[2021-09-23 19:34] aharwood2 commented on #7354
I had to go to the Windows Credential Manager and revoke all the Github related credentials to force it to re-prompt me.

[2021-09-23 22:52] loic-sharma commented on #10791
For folks following this thread, the fix should be released in a few weeks in .NET 6 RC2.

[2021-09-23 23:04] dtivel opened #11262 "Signing: re-enable signed package verification on Linux and macOS"
[Design specification](https://github.com/dotnet/designs/blob/main/accepted/2021/signed-package-verification/re-enable-signed-package-verification.md)
[Technical specification](https://github.com/dotnet/designs/blob/main/accepted/2021/signed-package-verification/re-enable-signed-package-verification-technical.md)

[2021-09-23 23:06] dtivel opened #11263 "Add support for system and fallback certificate bundles"
See https://github.com/dotnet/designs/blob/main/accepted/2021/signed-package-verification/re-enable-signed-package-verification-technical.md

[2021-09-23 23:06] dtivel opened #11264 "Add opt-out escape hatch on Linux and macOS"
This work item is for adding an environment variable for opting out of signed package verification on Linux and macOS.  The option should not work on Windows.

[2021-09-23 23:06] dtivel opened #11265 "Add .NET SDK tests"
This is for adding 2 tests in the dotnet/sdk repo as part of re-enabling signed package verification cross-platform:

1.  verify that the fallback certificate bundle loads correctly and contains some crucial root certificates
2.  verify a signed package that has expired author signature and repository countersignature and a Symantec timestamp

[2021-09-23 23:07] dtivel opened #11266 "Automate pull of Windows CTL into dotnet/sdk repository"
This is part of re-enabling signed package verification on Linux and macOS.  We need to automate the pull of the Windows CTL into the dotnet/sdk repository.

[2021-09-23 23:07] dtivel opened #11267 "Rotate Microsoft author-signing certificate"

[2021-09-23 23:07] dtivel opened #11268 "Rotate Microsoft repository-signing certificate"

[2021-09-24 08:28] v-luzh commented on #8162
It is fixed after verifying on Main\31723.272+NuGet Dev\6.0.0.259. Thanks for fixing.

[2021-09-24 09:34] AndrueCope commented on #6408
And there are several (half a dozen at least) bug reports for the IDE complaining about the Error List focus stealing. Some died after 'More information required' but several are closed because the 'fix' is to uncheck 'Always show Error List'.

[2021-09-24 17:43] andrewcdysart opened #11269 "[Bug]: nuget restore fails to resolve dependencies of packages.config items"
### NuGet Product Used

NuGet.exe

### Product Version

5.11.0.10

### Worked before?

N/A

### Impact

I'm unable to use this version

### Repro Steps & Context

We have a somewhat unique workflow which involves generating a packages.config file to be fed into `nuget restore`. Changing our usage, e.g. to use PackageReference, is untenable at the moment. We are attempting a long-overdue upgrade fr

[2021-09-24 18:32] donnie-msft opened #11270 "[Bug]: Update Package context menu doesn't work if search text is present"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

VS since the context menu was added (16.8?)

### Worked before?

no

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

1. Create a .NET core project.
2. Open Project PM UI.
2. Install at least one package so that it has an Update Available.
2. Search for a package. Do not clear the search or

[2021-09-24 19:37] nkolev92 commented on #11269
Hey @andrewcdysart,

I can totally see how that information can be confusing.

If you look at the first column, you'll notice:

I think the description is suggesting that for project file restore, ex. PackageReference, the dependencies will be resolved and install, because in PackageReference, the restore gesture is pretty much the only one.

Created an issue to clarify that https://github.com/NuG

[2021-09-24 19:38] #11269 closed, assigned to nobody

[2021-09-24 20:08] #10124 closed, assigned to donnie-msft

[2021-09-24 20:30] andrewcdysart commented on #11269
Thanks for your response @nkolev92! That's pretty unfortunate for our use case... am I correct in understanding that there is currently no CLI-only solution for installing NuGet packages with their dependencies given only a packages.config file? You mentioned PMC but as I understand it, that is a built-in Visual Studio utility rather than an external console.

I appreciate the help/clarification e

[2021-09-24 22:01] timheuer opened #11271 "[Bug]: Pack fails when adding readme file but not using snupkg"
### NuGet Product Used

dotnet.exe, MSBuild.exe

### Product Version

6.0.100-rc.1.21458.32, VS 2022 Preview 5

### Worked before?

_No response_

### Impact

I'm unable to use this version

### Repro Steps & Context

Sample repo (use packbug branch): https://github.com/timheuer/alexa-skills-dotnet/tree/packbug

I'm adding the readme information via the project properties UI in Visual Studio 2022.

[2021-09-24 22:18] anangaur commented on #11271
Seems like a blocking issue for README adoption using Visual Studio. @chgill-MSFT, can we prioritize fixing this for VS 2022 GA.

[2021-09-24 22:32] heng-liu commented on #11271
Hi @timheuer , thanks for taking time filing this issue!
I could repro with your branch.
I haven't looked into it much, but just tried to make the following change then seems the packing is successfully:
Changed
[code]
into:
[code]
Could you try this and see if that would unblock you? Thanks!

[2021-09-24 22:52] timheuer commented on #11271
Yes indeed this does unblock -- I just wanted to make sure I logged the issue of what the tools are generating appearing to be invalid settings.  I'm unblocked with your workaround of fixing the tool-generated proj settings.

[2021-09-24 23:13] heng-liu commented on #11271
Looks like the error is caused by missing `PackagePath` property.
Do we need to call that out in our [doc](https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#packagereadmefile)? @chgill-MSFT @zkat

[2021-09-24 23:42] tintoy opened #11272 "AutoCompleteResourceV3 does not use the supplied logger"
### NuGet Product Used

dotnet.exe, MSBuild.exe, NuGet.exe

### Product Version

NuGet.Client (v4.2.0), tested with .NET Core SDK 5.0.104

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

Hi.

I maintain a [VS Code extension[(https://github.com/tintoy/msbuild-project-tools-vscode/) that uses the NuGet autocomplete API, and was havin

[2021-09-24 23:57] tintoy commented on #11272
For what it's worth, if I hackily override `NullLogger.Instance`, I do get useful log entries:

[code]

[2021-09-25 00:46] nkolev92 commented on #11269
Yes, there's no packages.config solution for that.

It's basically one of the many reasons PackageReference was design, to allow package installation independent of VS.

[2021-09-25 17:59] luisten commented on #10027
I'm having the exact same problem. @kartheekp-ms your comment doesn't help to resolve the issue.
Is there any workaround or additional dependency on Linux that is required to get this running?

@bender-the-greatest were you able to find a solution?

[2021-09-25 19:49] innodonni commented on #6373
A simpler solution I found by accident, for those starting a new side project and planning to create a private NuGet repo for it later, is to run **`dotnet new nugetconfig`**, which will clear the inherited sources and add just the nuget.org one.

[2021-09-27 08:50] v-luzh commented on #10883
@aortiz-msft Yes, it is fixed on .NET SDK 6.0.100-rc.1.21458.32. Thanks.

[2021-09-27 09:10] v-luzh opened #11273 "[Bug]: [Pack] No description for options “--force” and “--no-dependencies” when running the command “dotnet pack –h”"
### NuGet Product Used

dotnet.exe

### Product Version

Dotnet SDK Version: 6.0.100-rc.1.21458.32

### Worked before?

No

### Impact

Other

### Repro Steps & Context
#### Details about Problem
VS Version: Main\31726.35
NuGet Version: Dev\6.0.0.260
OS Version: co_release_svc_refresh-enterprise_en-us_vl
Dotnet SDK: 6.0.100-rc.1.21458.32
#### Repro Steps
1.	Launch VS and create a new C# Class Libr

[2021-09-27 11:28] BlueManiac commented on #6373
Why is this still a thing? It's very weird that I must disable our company nuget just to be able to run ex.
dotnet tool install -g dotnet-aspnet-codegenerator
There clearly needs to be a better solution than the current one.

[2021-09-27 16:54] dtivel commented on #11232
Yes, adding support for ECDSA will break older clients.  I think we'll have to service older clients.

[2021-09-27 17:12] zivkan commented on #10797
I think this is just an "unclear" part of NuGet, which leads to misunderstandings.

Symbols packages are just "different". They were only ever supported over HTTP, never locally, and even then through a 3rd party website, not nuget.org. When nuget.org started supporting symbols packages, we had to invent a new `.snupkg` file, not `.symbols.nupkg`.

So, I believe that ignoring `*.symbol.snupkg` fil

[2021-09-27 17:16] nkolev92 commented on #11273
Great catch @v-luzh

Fortunately, this is by design.

`--force` and `--no-dependencies` are commands of implicit commands (pack and restore) and such it is not expected to be in this description.

Take `build` for example.

Build runs restore implicitly and one of the options for `restore` is `--force`.

Running `dotnet build --help`

[code]

Note that the `--force` description is not available wh

[2021-09-27 17:16] #11273 closed, assigned to nobody

[2021-09-27 17:45] nkolev92 commented on #11214
Merge only left.

[2021-09-27 17:45] nkolev92 commented on #11200
Merge only left.

[2021-09-27 17:54] chgill-MSFT commented on #11271
When I tried packing a README with VS 17.0 preview 5, it generated the `<PackagePath>` property.

Maybe project systems already fixed this?

![image](https://user-images.githubusercontent.com/15097183/134960031-bec1e617-f355-459a-95e2-4cc614b0a3df.png)

[2021-09-27 18:22] aortiz-msft commented on #11271
@zkat  - Could you please take a look?

[2021-09-27 18:35] zivkan commented on #10027
@luisten looking at the original issue's attached log, I see:

Since System.Net.Http is an assembly that ships in the runtime, that suggests to me there's something wrong with the mono runtime being used, not NuGet. Looking at [Mono's 3.0.0 release notes](https://www.mono-project.com/docs/about-mono/releases/3.0.0/#45-profile), I see "Newly introduced assemblies (System.Net.Http, System.Threading.

[2021-09-27 19:12] kijube commented on #3891
@jzabroski Any chance you could send me that nuspec file? I'm having the same problem and after hours of searching I am frustrated to find out that this has been an issue for a long time.

[2021-09-27 20:06] chgill-MSFT commented on #11271
I was able to repro Tim's issue when adding the readme.md file to the same location at the proj file. For reference, here are a few different scenarios:

**README is in same directory as proj file**
![image](https://user-images.githubusercontent.com/15097183/134973019-96797d70-a05f-4fc6-a4b8-7cc58a44f0da.png)

**README is in solution root directory**
![image](https://user-images.githubusercontent.

[2021-09-27 20:16] aortiz-msft commented on #11239
Closing as dupe of dotnet/msbuild#6072

[2021-09-27 20:16] #11239 closed, assigned to nobody

[2021-09-27 20:18] aortiz-msft commented on #11272
Please feel free to send us a PR!

[2021-09-27 20:22] chgill-MSFT commented on #11271
Confirmed that this behavior is a regression in 17.0. This scenario worked fine for icons in VS 16.11 and used the proper "include" and added the "PackagePath".

It's bug exists in both 17.0 preview 3 and 5, so it was probably introduced with the new project system menu.

<img src="https://user-images.githubusercontent.com/15097183/134979491-b35bab4b-974a-46e6-869c-88612146f5dc.png" width="500">

[2021-09-27 20:24] zkat commented on #11271
I guess it's a project system issue?

[2021-09-27 22:37] chgill-MSFT commented on #11271
I filed this issue in the project systems repo to track since it looks like the bug is on their side:

https://github.com/dotnet/project-system/issues/7642

Thanks for bring this to our attention @timheuer!

[2021-09-28 00:15] tintoy commented on #11272
I'll open a PR shortly; a cursory inspection shows the issue exists in a couple of other resource providers as well but I'm guessing you folks would prefer that a PR addresses a specific issue?

Happy to handle it however you prefer.

[2021-09-28 16:56] aortiz-msft commented on #11271
Transferred issue to https://github.com/dotnet/project-system/issues/7642

[2021-09-28 16:56] #11271 closed, assigned to zkat

[2021-09-28 18:53] nkolev92 commented on #11272
Keeping the PRs scoped down would allow for easier and faster reviews.

[2021-09-28 21:46] #11216 closed, assigned to kartheekp-ms

[2021-09-28 21:58] zivkan opened #11276 "[Bug]: PM UI actions open the error list when no error happened"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

17.0

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

Package install, uninstall, upgrades and downgrades are all opening the error list, but no errors are shown (not surprising, the action was successful)

![pmuiErrorList](https://user-images.githubuserco

[2021-09-28 22:19] Craige commented on #4103
What is going on with this?

[2021-09-29 00:49] #9149 closed, assigned to nkolev92

[2021-09-29 00:49] #11214 closed, assigned to nkolev92

[2021-09-29 01:15] #11200 closed, assigned to nkolev92

[2021-09-29 02:16] Sn3akyP3t3 commented on #1932
I realize this is closed and so is the duplicate, but I was able to cause this error by experimenting with environment variables, particularly PATH, TEMP, and TMP environment variables where a script accidentally used SETX with incorrect values and triggered this error in PowerShell.  This is purely to document this behavior to assist someone in pinpointing another location to review for this.

[2021-09-29 04:34] zivkan commented on #8317
I updated the title of this issue, and edited the first comment (so anyone reading this issue from NuGet's release notes can clearly see what it's about) to say:

For years, NuGet was using CPS (Common Project System, later renamed to the Visual Studio Project System) instance of the JoinableTaskFactory (JTF). As [described below](https://github.com/NuGet/Home/issues/8317#issuecomment-510281346),

[2021-09-29 11:28] sigurn commented on #11253
@nkolev92 Do you have any ideas, suggestions?

[2021-09-29 13:42] luojunyuan commented on #4856
I still waiting for this

[2021-09-29 13:50] AArnott commented on #8317
This is no longer true. See https://github.com/microsoft/vssdktestfx. We use this in many VS unit test projects and it successfully mocks up ThreadHelper and a UI thread to even reproduce certain deadlocks from the product within your unit tests.

I'll get the testing_vs.md doc that was referenced here updated.

[2021-09-29 19:00] nkolev92 commented on #11253
Oh my bad. Apparently comments on closed issues where I'm not tagged end up in a different folder.

Not sure what you mean by platform here. When you put something after net472, that makes it a profile, which means more specific than net472.

Why do you think you need to do this?
VS2019 will work the same way as VS2017. `buildTransitive` is supposed to be an easier way of doing it and it's only av

[2021-09-29 20:50] #11179 closed, assigned to erdembayar

[2021-09-29 23:27] erdembayar commented on #8936
@NuGet/nuget-client
It looks we have workaround embedded `dotnet-install.sh` which is very outdated. See [comment](https://github.com/NuGet/NuGet.Client/pull/4289#pullrequestreview-767238072). I believe we need to bump up priority on this issue, at least update content of embedded `dotnet-install.sh` and add ` -Quality Daily`  option into it.

[2021-09-30 08:44] v-luzh commented on #11248
@nkolev92 Here is the only info I get from Output window when reloading. So we think NuGet has **not** shown to the user  that there is a parsing problem.
`Failed to remove package directories that were marked for deletion on Visual Studio restart: Expected 1 export(s) with contract name "System.IServiceProvider" but found 0 after applying applicable constraints.`

[2021-09-30 15:26] erdembayar opened #11277 "Enable back disabled flaky test MSBuildProjectSystem_RemoveFile"
@erdembayar commented on [Thu Sep 30 2021](https://github.com/NuGet/Client.Engineering/issues/1228)

MSBuildProjectSystem_RemoveFile is flaky and failing so many times. Skipping in https://github.com/NuGet/Client.Engineering/issues/1226

Error stack:
[code]

[2021-09-30 16:44] donnie-msft opened #11278 "[Bug]: Alternate package link should be a different color"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

17.0 Preview 5

### Worked before?

no

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

In https://github.com/NuGet/NuGet.Client/pull/4282, I set the alternate package links to match the color of the adjacent text blocks. Ideally, these links should stand out using a different color.

![ima

[2021-09-30 16:58] #10691 closed, assigned to dominoFire

[2021-09-30 18:30] nkolev92 commented on #11248
Thanks @v-luzh

Pushing back to triage because while the empty is expected, NuGet should indicate to the user that there are problems.

[2021-09-30 21:51] nkolev92 commented on #7028
Fixed afaik. Closing.

[2021-09-30 21:51] #7028 closed, assigned to nobody

[2021-09-30 22:06] erdembayar opened #11281 "Increase Apex test timeout"
Currently I see several cases at last moment Apex test timeout, then have to requeue new job takes another 2-4 hours.

[2021-09-30 23:11] nkolev92 commented on #10735
cc @JonDouglas

[2021-10-01 00:19] MiYanni commented on #11271
General Question: Why would an empty `<PackagePath></PackagePath>` item attribute have significance?

This project file is primarily used by MSBuild, and in that system, an empty value and an omission of the attribute are the same. Shouldn't that be the case here? If it isn't, it should be fixed on the NuGet packing side of things. When reading the documentation, it was not obvious that an empty v

[2021-10-01 01:09] #8317 closed, assigned to nobody

[2021-10-01 02:04] #11281 closed, assigned to erdembayar

[2021-10-01 11:22] stkenned-havok opened #11286 "[DCR]: Extracted files should use filesystem read-only attribute"
### NuGet Product(s) Affected

NuGet.exe

### Current Behavior

Immutability is highly desirable for reliable package management. Many parts of the chain already support this e.g. azure artifacts & package signing. The last stage is on the developers machine. Ideally, we'd be able to mount a read-only zip directly in the filesystem. But until that happens, we should make use of the OS facilities w

[2021-10-01 11:41] stephenatwork commented on #11286
Perhaps there are some other considerations(?), but this looks trivial to implement. In src\NuGet.Core\NuGet.Packaging\PackageExtraction\ZipArchiveExtensions.cs we're already updating the lastwritetime attribute, so could also set the flag there.

[2021-10-01 11:48] djee-ms commented on #11286
Strongly agreed. I changed some NuGet package file by mistake from a locally-built package, instead of the actual sources. I almost lost 2 hours of work because of that, as I caught at the last minute that the wrong files were modified, just before the package was about to be overwritten with a new version. This would never have happened with read-only files.

I note #1729 was never looked at. #10

[2021-10-01 14:32] erdembayar opened #11287 "dotnet config compatibility check across latest versions"

[2021-10-01 14:35] erdembayar opened #11288 "Dotnet pack operation compatibility check across latest version"

[2021-10-01 14:39] erdembayar opened #11289 "NuGet.exe install package operation compatibility check across latest version"

[2021-10-01 16:07] txwizard commented on #11286
I strongly agree, especially given that the NuGet installer never overwrites a package. One thing, however, that must be taken into account to avoid a break is that reinstallation must clear the RO flag if it is set. Nevertheless, this is again a trivial change.

[2021-10-01 16:58] zivkan commented on #11286
`dotnet nuget locals global-packages --clear` will probably need to be fixed. It's probably the same code path for `nuget.exe locals global-packages -clear` and Visual Studio's clear button, but if not, those would need to be fixed as well. Packages.config also needs to be tested, as when a package version is no longer used by any packages.config in the solution, NuGet deletes it from the solution

[2021-10-01 17:01] zivkan commented on #11286
Actually, our test infrastructure might need updating too, as many tests use a test-specific global packages folder, which is cleaned up at the end of the test.

[2021-10-01 17:30] #11182 closed, assigned to erdembayar

[2021-10-01 17:30] #11241 closed, assigned to erdembayar

[2021-10-01 20:28] nkolev92 commented on #11187
Package Source Mapping triage: Close this, there's sufficient coverage that `-source` does not work. This is by design currently.

[2021-10-01 20:28] #11187 closed, assigned to erdembayar

[2021-10-01 20:44] chgill-MSFT commented on #8795
@dominoFire any update on this? Seems like a nice polish :)

[2021-10-01 21:38] JVimes commented on #11276
I also see the issue in v17.0.0 Preview 4.1.

I generally keep error list closed, annoying to have to close it every time I update a package.

[2021-10-02 08:22] tbolon commented on #10199
Bump for this issue.

The story about contentFiles and asp.net core project is in an unidentified state.

long/short story: I was trying to use [the bootstrap nuget package](https://www.nuget.org/packages/bootstrap/) which is still listed as [an official way to install it](https://getbootstrap.com/docs/5.0/getting-started/download/#nuget) on a fresh .net 5 web app, and discovered that the contentF

[2021-10-03 12:30] v-zubritsky commented on #10791
Facing similar case, but instead of skipping `snupkg` generation `dotnet pack` generates `nupkg` (with `readme.md` successfully embedded) and then fails with
[code]

[code]

Generates both without `SymbolPackageFormat`.

[2021-10-03 13:43] Insomniak47 commented on #11142
Hey I know @JonDouglas is on Pat leave right now so I don't want this to stale out. I'm still interested and coming up on a hackathon at the middle of the month that would give me a decent amount of extra time to work on a POC.

[2021-10-04 15:46] erdembayar opened #11290 "Disable flaky test GetPackageForFSharpProjectReturnsCorrectPackages"
About 10 latest CI builds failed on same `GetPackageForFSharpProjectReturnsCorrectPackages` test.
~~It looks like below dependency is unlisted from nuget.org for some reason.~~ A new version of the .NET SDK was inserted into VS, and needs packages not yet published to nuget.org.

NU1102: Unable to find package Microsoft.NETCore.App.Host.win-x64 with version (= 5.0.11)

Found 62 version(s) in nuget

[2021-10-04 15:51] erdembayar opened #11291 "Enable back flaky test GetPackageForFSharpProjectReturnsCorrectPackages"
### NuGet Product Used

dotnet.exe

### Repro Steps & Context

Follow up on https://github.com/NuGet/Home/issues/11290
Enable back flaky test GetPackageForFSharpProjectReturnsCorrectPackages once package is published on nuget.org
Root cause it's Patch Tuesday , a new .NET SDK and packages are released, which is outside our control.

### Verbose Logs

[code]
Related issue https://github.com/NuGet/N

[2021-10-04 17:14] zkat commented on #10791
@v-zubritsky that's https://github.com/dotnet/project-system/issues/7642, which is a separate bug. You can work around it by just adding an empty `PackagePath`.

[2021-10-04 17:18] v-zubritsky commented on #10791
@zkat I had empty `PackagePath` already, didn't work. Also tried `/`, some custom path like `/docs` and `.` – all with no luck. But it did work after I removed the `SymbolPackageFormat`, that's why I've drawn a conclustion that it's the same root cause.

[2021-10-04 17:20] zkat commented on #10791
@v-zubritsky can you file a separate bug for this so we can track and triage it separately?

[2021-10-04 17:20] v-zubritsky commented on #10791
@zkat Sure thing.

[2021-10-04 18:15] uladz-zubrycki opened #11292 "[Bug]: error NU5039: The readme file 'readme.md' does not exist in the package."
### NuGet Product Used

dotnet.exe

### Product Version

MSBuild 16.11.0+0538acc04; .NET SDK 5.0.401 4bef5f3dbf; OS Windows 10.0.19042 win10-x64;

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

**Steps:**
1. Download attached solution [NugetReadmeRepro.zip](https://github.com/NuGet/Home/files/7280288/NugetReadmeRepro.zip);
2. Run

[2021-10-04 18:18] v-zubritsky commented on #11292
@zkat here you go. Pls, let me know if it's just me doing it the wrong way.

[2021-10-04 18:29] heng-liu commented on #11173
As per [comments](https://github.com/NuGet/NuGet.Client/pull/4226#issuecomment-916143548), it would be better to confirm with both NuGet PM and the .NET CLI PMs about the verbosities.

[2021-10-04 18:59] zkat opened #11293 "Analyze potential package weight of SDK packages with shading enabled"

[2021-10-04 19:16] sigurn commented on #11253
@nkolev92 here is [repository](https://github.com/sigurn/nuget_issue_11253) which reproduces the issue

[2021-10-04 19:52] gurpreed opened #11294 "[Bug]: nuget packages don't download from .targets files when RestoreUseStaticGraphEvaluation is enabled"
### NuGet Product Used

dotnet.exe

### Product Version

dotnet --info (Version:   5.0.401)

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

Create a targetfilename.targets file:
\<Project>
  \<ItemGroup>
    \<PackageReference Include="any package here" Version="add version here" >
      \<PrivateAssets>all\</PrivateAssets>
    \<

[2021-10-04 20:12] zivkan commented on #11292
Is this a duplicate of https://github.com/NuGet/Home/issues/10791 which has not yet been released GA?

[2021-10-04 20:15] v-zubritsky commented on #11292
@zivkan it is imo, but I was asked to file it separately.

Errorneous behavior is slightly different though, so it could be beneficial at least from the discoverability point.

[2021-10-04 21:44] zkat commented on #11292
I don't know if it's a duplicate. This looks like it might be hitting a different code path? We'll see.

[2021-10-04 21:49] dhilst commented on #10491
I was having this on MacOS at October, 2021. I was using donet version 5.0.103, updating to 5.0.204 fixed for me

[2021-10-04 23:33] zkat commented on #11292
[code]

I've confirmed that this is fixed in the latest 6.0, so I'm gonna close this. Thanks for bearing with my paranoia :)

[2021-10-04 23:33] #11292 closed, assigned to zkat

[2021-10-05 01:01] aortiz-msft commented on #8814
@v-nancyj - Does this repro on 17.0?

cc @dominoFire

[2021-10-05 01:13] syedadeel2 commented on #7752
I have written a quick PowerShell Script to export into CSV, until we get this feature in-built maybe that script will help someone

https://gist.github.com/syedadeel2/169b3d6c7c3a12c2054d8a465ce8c7b2

[2021-10-05 17:23] zkat commented on #10668
This is fixed & shipped

[2021-10-05 17:23] #10668 closed, assigned to zkat

[2021-10-05 17:57] zkat commented on #9782
Moved to next sprint because you were a bit over :)

[2021-10-05 20:29] #10788 closed, assigned to erdembayar

[2021-10-05 20:37] #11290 closed, assigned to erdembayar

[2021-10-05 20:51] supergibbs commented on #10199
At least for Bootstrap, the nuget package started with .NET Framework but now [nuget isn't recommended for frontend assets](https://devblogs.microsoft.com/nuget/nuget-contentFiles-demystified/). With Visual Studio, [libman](https://docs.microsoft.com/en-us/aspnet/core/client-side/libman/libman-vs?view=aspnetcore-5.0) is built in. Otherwise using npm or something external is pretty easy with CI too

[2021-10-06 01:32] erdembayar opened #11295 "[Bug]: PrefixReserved property for GetMetadataAsync is always false"
### NuGet Product Used

dotnet.exe

### Product Version

VS 17.0.0 Preview 5.0

### Worked before?

n/a

### Impact

I'm unable to use this version

### Repro Steps & Context

It looks our protocol has bug, here  "Microsoft.CSharp" has reserved prefix.

[code]

![image](https://user-images.githubusercontent.com/8766776/136126460-34bd693b-dde2-422a-af12-3db5b21a13e0.png)

### Verbose Logs

_No resp

[2021-10-06 02:03] dominoFire commented on #3722
Re-enable test when culture runner is available in xunit 3.0; see https://github.com/xunit/xunit/issues/1934

[2021-10-06 07:10] tbolon commented on #10199
Thank you for this clarification. If you change the documentation to explain that the nuget package is not aimed at .NET v5+ users, I suggest, as you said, to point readers to the [libman](https://docs.microsoft.com/en-us/aspnet/core/client-side/libman) overview page.

[2021-10-06 13:54] AraHaan commented on #6437
I have a question, what encryption did setApiKey use exactly?

[2021-10-06 18:06] AraHaan opened #11296 "[Bug]: dotnet nuget push "**/*.nupkg" fails to glob for packages to push on Ubuntu."
### NuGet Product Used

dotnet.exe

### Product Version

dotnet sdk: 6.0.100-rc.1.21417.19 (on ubuntu github actions runner)

### Worked before?

.NET SDK: 6.0.0-rc.2.21461.1 (on my own macos)

### Impact

I'm unable to use this version

### Repro Steps & Context

When I invoke on my MacOS with:

``dotnet nuget push "**/*.nupkg" --source nuget.org -k {api key}`` the command works and pushes the pa

[2021-10-06 18:48] AraHaan commented on #11296
Hmm it seems when I switch the runner to ``macos-latest`` it also failed there so the issue might have been in the action will update it then.

[2021-10-06 20:44] dominoFire opened #11297 "The strings "ms" and "sec" are not localized on Output - Package Manager window."
Output Window should output localized time spans from restore operation logs.

Installind a package, restore time (circled in red) shows 'ms':
![image](https://user-images.githubusercontent.com/1192347/136841491-bed23b83-4b6b-4da7-bb6f-39ab7d650ada.png)

[2021-10-06 20:47] dominoFire opened #11298 "Sort Package Source dropdown list using locale/culture setttings in PM UI"
It seems package source dropdown list sorting is using a different non-locale logic to sort package sources:

![image](https://user-images.githubusercontent.com/1192347/131198376-8a78009d-c4e3-4434-b28d-72cc585c8a85.png)

### Reference:

https://docs.microsoft.com/globalization/locale/sorting-and-string-comparison#how-do-i-verify-that-sorting-works-correctly-in-my-code

Edit:

Related: https://dev

[2021-10-06 20:47] dominoFire opened #11299 "Sort Package Source dropdown list using locale/culture setttings in PM UI"
It seems package source dropdown list sorting is using a different non-locale logic to sort package sources:

![image](https://user-images.githubusercontent.com/1192347/131198376-8a78009d-c4e3-4434-b28d-72cc585c8a85.png)

### Reference:

https://docs.microsoft.com/globalization/locale/sorting-and-string-comparison#how-do-i-verify-that-sorting-works-correctly-in-my-code

Edit:
Related: https://deve

[2021-10-06 20:58] #11299 closed, assigned to nobody

[2021-10-07 18:34] zkat commented on #9316
Note to hotseat: Are the docs just out of date and we need to look at that?

[2021-10-08 23:35] zkat commented on #11296
For the record, both single and double quotes should be working in bash for this.

This is definitely part of a larger story of how we handle cross-platform stuff, because the way `dotnet nuget push` works is basically by shelling out to nuget.exe, which has... windows-flavored argument handling.

This is worth investigating.

[2021-10-09 03:02] #11060 closed, assigned to nobody

[2021-10-09 10:08] v-crchang opened #11300 "[Bug]: No warning shows when opening the PackageReference Migrator of an unsupported project"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

NuGet Client Dev\6.1.0.11

### Worked before?

NuGet Client Dev\6.0.0.265

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

## Installation:
1. Install VS Main\31808.228 from: https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=5310477&view=ms.vss-build-web.run-extensions-tab
2. In

[2021-10-10 02:35] bbhxwl opened #11302 "401 (Unauthorized)。"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

nuget

### Worked before?

_No response_

### Impact

Other

### Repro Steps & Context

I added the GitHub package in vs. the password was entered incorrectly, and then it was 401 (unauthorized). After I deleted it and added it again, I never asked me to enter the password. I changed the password in the windows certi

[2021-10-10 07:36] PeterPann23 commented on #5972
I had the same error, how did I fix it
- I have uploaded the .cer file to my NuGet organisation
- After doing that I created a new API key
- I then signed my packages using CLI
` "for %%f in (X:\ASP-WAF\DLL\*.nupkg) do X:\Nuget\Nuget.exe sign %%f -CertificatePath CodeSign.pfx -CertificatePassword Pa$$word -Timestamper http://timestamp.sectigo.com"
`
note that the password  and the pfx must be on d

[2021-10-11 00:42] AraHaan opened #11303 "[Bug]: LocalV3FindPackageByIdResource.GetAllVersionsAsync does not return any versions when local feed contains the package."
### NuGet Product Used

NuGet API nuget packages

### Product Version

I use the latest nuget v3 api packages in my own program (referenced to version `*-*`)

### Worked before?

I know what it worked on Windows with Nuget.Client, but since I need it to work xplat it will not work with the v3 apis.

### Impact

It's more difficult to complete my work

### Repro Steps & Context

I would take a look

[2021-10-11 09:52] sigurn commented on #11253
Hi @nkolev92! Did the project help to understand the issue? Any ideas how to solve the issue?

[2021-10-11 11:25] patspaeth opened #11304 "[Bug]: Sporadically get NU3005 for package 'Microsoft.NETCore.Platforms 1.0.1' and 1.1.0"
### NuGet Product Used

dotnet.exe

### Product Version

dotnet sdk 5.0.401

### Worked before?

sporadic error

### Impact

It's more difficult to complete my work

### Repro Steps & Context

I am running dotnet restore but sporadically it fails because of:
`error NU3005: Package 'Microsoft.NETCore.Platforms 1.0.1' from source 'https://pkgs.dev.azure.com/XXXX/_packaging/XXXX/nuget/v3/index.json':

[2021-10-11 17:15] #11293 closed, assigned to zkat

[2021-10-11 18:16] aortiz-msft commented on #11300
@nkolev92 - Build Dev\6.0.0.266 only has this commit: https://github.com/NuGet/NuGet.Client/commit/60b3df443c2d051ac2750920008a3bb048bb918b.

Would you please take a look?

[2021-10-11 19:05] #11295 closed, assigned to nobody

[2021-10-11 20:24] nkolev92 opened #11305 "Improve IPackageSearchMetadata to indicate that not all fields are populated by all resources"
This could be done by done by for example throwing if the property is not set the resource in question or just simple documentation.

cc @loic-sharma

[2021-10-12 16:06] chrisraygill opened #11306 "[Bug]: Restore logging for Package Source Mapping still uses "Package namespace" terminology"
### NuGet Product Used

dotnet.exe

### Product Version

dotnet.exe 6.0.100-rc.2.21505.57

### Worked before?

No

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

1. Create a new project
2. Add a couple test packages
3. Configure a relevant source mapping
4. Run `dotnet restore -f -v d`

![image](https://user-images.githubusercontent.com/15097183/136990835-c4a2f5c1-0b37-

[2021-10-12 16:27] nkolev92 commented on #11306
Last insetion from SDK into VS was [Thursday](https://devdiv.visualstudio.com/DevDiv/_git/VS/pullrequest/356281). Nothing [pending](https://devdiv.visualstudio.com/DevDiv/_git/VS/pullrequests?_a=active&targetRefName=refs/heads/rel/d17.0&createdBy=122d5278-3e55-4868-9d40-1e28c2515fc4) right now.

[2021-10-12 16:31] #11306 closed, assigned to nobody

[2021-10-12 17:19] abatishchev opened #13487 "There is no doc for NU1702"
There is for `NU1701` and there is for `NU1703`.

But not for `NU1702` which reads as following:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 377ae860-386f-149f-c5e0-410d3aa89dbc
* Version Independent ID: 2b145147-fd3f-d1aa-2694-071a31542d9a
* Content: [NuGet Warning NU1701](https://docs.microsoft.com/en-us/n

[2021-10-12 21:40] zivkan commented on #4346
For Microsoft's 2021 hackathon, I started working on this, however, now that NuGet is integrated in MSBuild, I found that MSBuild itself is blocking this from being possible to implement. Specifically, after an MSBuild log message is written, I need to be able to write the progress bar to the new last line on the console. However, MSBuild's `Log*()` methods are non-blocking, meaking that most of t

[2021-10-13 19:03] #11091 closed, assigned to jebriede

[2021-10-13 22:38] zivkan opened #11308 "Re-enable flaky Apex tests failing due to IPC errors"
Since switching to new Visual Studio testing infrastructure, we're getting a high rate of tests failing with IPC errors:

All these errors appear to be coming from two places in our code:

https://github.com/NuGet/NuGet.Client/blob/892375745964db627494305fd605496454b5ad0a/test/NuGet.Tests.Apex/NuGet.Tests.Apex/Utility/CommonUtility.cs#L451

https://github.com/NuGet/NuGet.Client/blob/892375745964db

[2021-10-14 01:49] thargy commented on #10791
Fixed for me too. 👍🏻

[2021-10-14 20:10] nkolev92 opened #11309 "Update SDPX license list from da7ecca to fafa781"

[2021-10-14 22:07] erdembayar opened #11310 "Improve CredScan warning message"
Follow up on comment on and warning message on displayName

[2021-10-14 22:07] #11310 closed, assigned to erdembayar

[2021-10-14 22:54] aortiz-msft opened #11311 "Eliminate UT failures locally"
These tests fail when run locally when sync'd to HEAD:

- Test_ExtractionHonorsFileTimestamp()
- ExtractPackageAsync_PreservesZipEntryTimeAsync()
- ExtractPackageAsync_RequireMode_NoMatchInClientAllowList_Error()

[2021-10-14 22:59] aortiz-msft opened #11312 "Test_ExtractionHonorsFileTimestamp() and ExtractPackageAsync_PreservesZipEntryTimeAsync() should work on any timezone"
Test_ExtractionHonorsFileTimestamp() and ExtractPackageAsync_PreservesZipEntryTimeAsync() currently only work for the timezone used by our CI. These tests should be able to run on any timezone so that they can pass locally for any contributor.

[2021-10-15 07:44] robbyxp1 commented on #9954
This took about 3 hours of my time.  Unblocking it (5.11) fixes the issue.  Make sure its called nuget.exe, right click on its properties, and at the bottom unblock it.

[2021-10-15 09:26] v-luzh opened #11313 "[Bug]: [Pack] Multiple NU1102 errors occur when running command “dotnet pack --runtime win10-x64”"
### NuGet Product Used

dotnet.exe

### Product Version

Dotnet SDK Version: 6.0.0-rc.2.21474.18

### Worked before?

Worked on Dotnet SDK Version:6.0.100-rc.1.21458.32

### Impact

It's more difficult to complete my work

### Repro Steps & Context

### Repro steps
1.	Launch VS and create a new C# Class Library (.NET 6.0).
2.	Open the Developer Command Prompt and cd to the project path.
3.	Run “`d

[2021-10-15 09:47] v-crchang opened #11314 "[Bug]: [Bug Bash] There is an inconsistency between the tooltip and the details info about the vulnerability number"
### NuGet Product Used
Visual Studio Package Management UI

### Product Version
NuGet Client Dev\6.1.0.18

### Worked before?
_No response_

### Impact
It bothers me. A fix would be nice

### Repro Steps & Context
1.	Create a C# Console App (.NET core) project via VS.
2.	Open PM UI of the project by right-clicking the project->Manage NuGet Packages… in Solution Explorer.
3.	Select package source:

[2021-10-15 10:04] vivainio commented on #6764
@HeikeHofmann what feature was removed? I think the feature being discussed here is still in newest versions of visual studio

[2021-10-15 10:04] reality77 opened #11315 "[Feature]: `dotnet list package --vulnerable` could have an non-zero exit code when a vulnerable package is found"
### NuGet Product(s) Involved

dotnet.exe

### The Elevator Pitch

`dotnet list package --vulnerable` is a great feature we can use in CI workflows.

It would be great to quickly know if a project is vulnerable during the CI processes without having to parse the output of the command.

A quick way to achieve this would be to add an option like `--exit-code` (just an example) and then the command w

[2021-10-15 18:11] #11300 closed, assigned to nkolev92

[2021-10-15 22:13] #11304 closed, assigned to nobody

[2021-10-15 22:50] #11309 closed, assigned to nkolev92

[2021-10-16 12:28] Luk164 opened #11316 "[Bug]: Nuget fails if an empty folder not present"
### NuGet Product Used

dotnet.exe, Visual Studio Package Management UI, Visual Studio Package Manager Console

### Product Version

6.0.100-rc.2.21505.57

### Worked before?

-

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

After reinstalling VS2019 and opening a solution I worked on before (reinstalled because VS became corrupted as a result of an extension error) I

[2021-10-17 17:27] loic-sharma opened #11317 "[Bug]: Incorrect usage guidance in `dotnet add package`"
### NuGet Product Used

dotnet.exe

### Product Version

6.0.100-rc.2.21505.57

### Worked before?

No

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

The dotnet CLI provides incorrect usage guidance when you install a package that does not exist:

[code]

Notice it tells you to use `NuGet.CommandLine.XPlat.dll` instead of the expected `dotnet` CLI. However, the recomme

[2021-10-17 17:31] loic-sharma commented on #11317
BTW it would be _dope_ if the `dotnet add package` command suggested some package IDs if the package you tried to install doesn't exist. Something like:

[code]

[2021-10-18 17:01] #11298 closed, assigned to nobody

[2021-10-18 20:40] zkat commented on #10259
Closing for now. We need to think more about versioning and how NuGet supports breaking changes.

[2021-10-18 20:40] #10259 closed, assigned to nkolev92

[2021-10-18 20:54] aortiz-msft commented on #9574
@v-luzh - Does this repro still?

[2021-10-19 12:29] samwebster opened #11318 "[Bug]: Regression: restore fails when targets files are missing from some projects"
### NuGet Product Used

NuGet.exe

### Product Version

5.11.0.10

### Worked before?

4.7.1.5393 with msbuild 16.8.3.61104

### Impact

It's more difficult to complete my work

### Repro Steps & Context

[restore.zip](https://github.com/NuGet/Home/files/7372752/restore.zip)
Unpack zip and run nuget restore

Failing and working logs attached
[log-failure.txt](https://github.com/NuGet/Home/files/73

[2021-10-19 13:24] jozefizso opened #11319 "[Bug]: nuget restore - Illegal characters in path"
### NuGet Product Used

NuGet.exe

### Product Version

5.11.0.10

### Worked before?

_No response_

### Impact

I'm unable to use this version

### Repro Steps & Context

Use GitHub actions to run a .NET Desktop app build workflow. Call `nuget restore` and it will fail.

**build.yml**
[code]

Other command does not work as well:

[code]

### Verbose Logs

[code]

[2021-10-19 17:44] jebriede commented on #11314
@chgill-MSFT do we want to make a change here or just close the bug? The bug is reporting that the verbiage is inconsistent which is actually not true. Saying the package version has "a" vulnerability is not the same thing as "one" vulnerability as the bug suggests. It is true that when there are one or more vulnerabilities with X severity, that the package version has "a" vulnerability. We could

[2021-10-19 18:39] erdembayar commented on #11317
I can repro this, we need to improve here.

[2021-10-19 18:43] erdembayar commented on #11316
Thank you for filing this issue.
If you're not consuming any package from `<add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />` then you may remove that line it from your `nuget.config` file.
Please remove created folder too, then please let me know if it resolves your issue.

[2021-10-19 20:06] erdembayar commented on #11319
It looks `nuget.exe restore` doesn't support globbing.
Not sure about Gibhub action, but for Azure I you can use powershell inside it. You can find all the *.sln files and iterate over it. Below is just mock idea, may have syntax error.

[code]

It looks Github action has similar support.

[code]

Please let me know if above resolves your issue.

[2021-10-19 20:50] zivkan opened #11320 "[Bug]: Package Manager Console initialization might cause deadlocks"
### NuGet Product Used

Visual Studio Package Manager Console

### Product Version

all?

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

There's a timing bug, which means that it can't be reproduced on demand, it just depends if everything lines up in the wrong way.

Huge thanks to @sharwell and @CyrusNajmabadi for finding and tel

[2021-10-19 21:44] loic-sharma commented on #6437
It uses Windows Data Protection API: https://docs.microsoft.com/en-us/dotnet/standard/security/how-to-use-data-protection

This only works on Windows and is not supported by macOS or Linux. We may be able to draw inspiration from how Chrome encrypts cookies on macOS and Linux.

[2021-10-19 22:48] heng-liu opened #11321 "Mac signing tests timed out for adding certificate to trusted store"
Mac tests timed out very often recently.
Failed tests log :
[code]

[2021-10-19 22:53] chgill-MSFT commented on #11248
Tested this in VS 17.0 int preview 6 and when I reload the solution I get a pretty descriptive error pop up:

![image](https://user-images.githubusercontent.com/15097183/138001445-417aa757-e016-4e54-92b4-67d5d37f0cad.png)

Am I missing something?

[2021-10-20 01:23] nkolev92 opened #13483 "Document NuGet Code: NU1410"
The NuGet Code exists in the product, but there is no documentation available

[2021-10-20 01:23] nkolev92 opened #13497 "Document NuGet Code: NU3039"
The NuGet Code exists in the product, but there is no documentation available

[2021-10-20 01:23] nkolev92 opened #13494 "Document NuGet Code: NU3041"
The NuGet Code exists in the product, but there is no documentation available

[2021-10-20 08:56] woeterman94 commented on #8189
I did both, neither of them is working.

[2021-10-20 09:07] woeterman94 opened #11323 "[Bug]: Icons don't show for self hosted packages"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Microsoft Visual Studio Enterprise 2019 Version 16.10.2

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

Create your own package with an icon defined in the .nuspec

[code]

csproj file:
[code]

Icon does not show up in the package manager list in visual s

[2021-10-20 12:05] chgill-MSFT commented on #11249
Hi @bugproof!

We recently started doing some more research around this area. I would love to know, what motivates you to push packages from your local machine using the CLI as opposed to the [NuGet.org upload UI](https://www.nuget.org/packages/manage/upload)?

cc @loic-sharma

[2021-10-20 14:53] zivkan opened #11325 "[Feature]: Make NuGet credential providers installable via the dotnet cli"
### NuGet Product(s) Involved

dotnet.exe

### The Elevator Pitch

Make NuGet credential providers installable via the dotnet cli, to make it easier for customers and alternate nuget sources to discover credential providers and simplify installation steps.

Consider `dotnet tool install -g tool-name`, or `dotnet workload install maui`. These are tools that are shipped as nupkgs and make it easy fo

[2021-10-20 18:19] #11311 closed, assigned to aortiz-msft

[2021-10-20 20:54] heng-liu commented on #11321
Thanks for:
@kartheekp-ms finding out the error message when running command to add cert to trusted store is:
exit error = SecTrustSettingsSetTrustSettings: errSecInternalComponent
@Erick raising ICM ticket https://portal.microsofticm.com/imp/v3/incidents/details/267776895/home
@zivkan raising the PR to skip those affected tests.

[2021-10-20 21:13] #11320 closed, assigned to zivkan

[2021-10-20 23:06] zivkan commented on #11253
That code I linked is exactly what is used in PackageReference restore (and maybe packages.config in Visual Studio). It doesn't matter that you're using some custom proj file, rather than a typcial csproj, vcxproj, fsproj, vbproj. If Microsoft.Common.props is being imported (via whatever SDK the project uses), that's the code that figures out what target frameworks the project uses.

`NuGet.exe in

[2021-10-21 00:38] aortiz-msft opened #11326 "[Bug]: Some CLI commands don't respect DOTNET_CLI_UI_LANGUAGE"
### NuGet Product Used

dotnet.exe

### Product Version

5.0.302

### Worked before?

Not sure

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

### Describe the bug
I've set the `DOTNET_CLI_UI_LANGUAGE` env variable to `en-us`, and `dotnet --info` is displaying in English. However, some commands like `dotnet restore` still "speak" Chinese, which is the language of my loc

[2021-10-21 10:37] xit0c commented on #10504
The issue is still present on 5.0.402, with ca-certificates 20210119~18.04.2.
The OS is Linux Mint 19.3, based on Ubuntu 18.04.

[2021-10-21 12:41] #10504 closed, assigned to JonDouglas

[2021-10-21 13:24] #11319 closed, assigned to nobody

[2021-10-21 14:51] #11099 closed, assigned to dtivel

[2021-10-21 17:37] JonDouglas commented on #9520
Closing for now.

[2021-10-21 17:37] #9520 closed, assigned to nobody

[2021-10-21 17:43] #9534 closed, assigned to nobody

[2021-10-21 17:44] #9601 closed, assigned to nobody

[2021-10-21 18:31] #8770 closed, assigned to nobody

[2021-10-21 18:41] aortiz-msft commented on #8597
@v-longmin - Does this repro on 2022?

[2021-10-21 21:57] #11038 closed, assigned to kartheekp-ms

[2021-10-21 22:10] SimonCropp commented on #10650
@erdembayar shouldn't an exception, that bubbles up to a user dialog, be logged somewhere?

[2021-10-21 22:35] erdembayar commented on #10650
Start reporting here. https://docs.microsoft.com/en-us/visualstudio/ide/report-a-problem?view=vs-2019#faq
Use recording: https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio?view=vs-2019#when-further-information-is-needed

![image](https://user-images.githubusercontent.com/8766776/138366234-27fc7cb1-5967-4c23-983d-981d7ef38695.png)

[2021-10-21 23:46] erdembayar commented on #9731
@nkolev92 @aortiz-msft
Would you like me give another try for this issue? My understanding of NuGet better than 1 year before right after I joined.

[2021-10-22 09:05] #11248 closed, assigned to chrisraygill

[2021-10-22 09:07] #9574 closed, assigned to v-luzh

[2021-10-22 15:11] #10283 closed, assigned to nobody

[2021-10-22 15:36] zivkan opened #11328 "[Bug]: NuGet.Localization isn't generated"
Anyone using the NuGet SDK might like to have their app provide NuGet's localized messages, rather than English only. Since NuGet doesn't ship localized satelite assemblies in the "main" packages (for example NuGet.Commands.{version}.nupkg), it's necessary to use a PackageReference to NuGet.Localization.  However, NuGet is only creating this package in non RTM builds, which means it's not created

[2021-10-22 18:45] #11314 closed, assigned to nobody

[2021-10-22 19:16] rainersigwald opened #11329 "RestorePackagesConfig doesn't restore from packages.config"
---
**Issue moved from dotnet/msbuild#6982**
- Please respond to @TymurGubayev.

---

_From @TymurGubayev on Friday, October 22, 2021 2:52:08 PM_

### Issue Description

Calling `msbuild` with `-t:restore -p:RestorePackagesConfig=true` as describe in the [docs](https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#restoring-packagereference-and-packagesconfig-projects-with-msbuild) resu

[2021-10-22 20:16] #11328 closed, assigned to zivkan

[2021-10-25 10:38] #8929 closed, assigned to nobody

[2021-10-25 17:28] erdembayar opened #11331 "Investigate the deduplication of NuGetVersion/VersionRange"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

VS16, VS17

### Worked before?

n/a

### Impact

Other

### Repro Steps & Context

Open Cortana solution then observer memory consumption to jump to very high. Internal [issue](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1280204?src=WorkItemMention&src-action=artifact_link).

### Verbose Logs

[code]

[2021-10-25 17:46] loic-sharma opened #11332 "The repository primary signature validity period has expired for runtime.debian.8-x64.runtime.native.System.Security.Cryptography.OpenSsl package"
@RussellLMiller commented on [Thu Oct 21 2021](https://github.com/NuGet/NuGetGallery/issues/8855)

### Impact

It's more difficult to complete my work

### Describe the bug

When running dotnet restore on our project we are getting the following error intermittantly. This issue occurs about 30%-40% of our build runs.

error NU3037: Package 'runtime.debian.8-x64.runtime.native.System.Security.Crypt

[2021-10-25 17:56] #8651 closed, assigned to nobody

[2021-10-26 09:36] v-luzh opened #11333 "[Bug]: An unknown build error occurs when installing package “Expression.Blend.Sdk.WPF” with "packages.config" format into a C# WPF App (.NET Framework) project"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

NuGet Client Dev\6.1.0.35

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

### Details about Problem
VS Version: Main\31825.306
NuGet Version: Dev\6.1.0.35
OS Version: Windows-11-Enterprise-21H1

### Repro steps
1. Create a C# WPF App (.NET Framework) proj

[2021-10-26 12:57] dtivel opened #11334 "[Bug]: assembly-loading MEF composition in NuGet.Tools VS package's synchronous event handlers can cause responsiveness delays"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

16.x

### Worked before?

yes

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

The NuGet.Tools VS package `NuGetPackage` adds numerous commands to the VS UI.  Before displaying any command, VS calls into the `NuGetPackage` synchronously on a main thread event handler (i.e.:  `BeforeQuerySta

[2021-10-26 17:51] #11332 closed, assigned to nobody

[2021-10-26 20:17] gabriela-lungu-uip opened #11335 "[Bug]: Nuget.Client does not work for .NETFramework < 4.7.2"
### NuGet Product Used

MSBuild.exe

### Product Version

NuGet.Frameworks package 5.11.0

### Worked before?

NuGet.Frameworks package 5.8.0

### Impact

I'm unable to use this version

### Repro Steps & Context

**Repro Steps:** .NETFramework4.6.1 Console Application:
[code]

throws:
[code]

**Context:** I have encountered this problem while using Restore from Nuget.Commands after upgrading to v

[2021-10-27 10:04] zhuhuanzi opened #11336 "[Bug]: CICD nuget private package sources restore fail"
### NuGet Product Used

NuGet.exe

### Product Version

dotnet version: 5.0.202;Neget command line：1035.9.1.8

### Worked before?

No

### Impact

_No response_

### Repro Steps & Context

Excuse me：

I am OK on Windows，but doing CIDE is errror。

---- https://xxxxxxx/api/v4/projects/60/packages/nuget/index.json:  It's my private address

1. RUN dotnet nuget add source xxx -n private_nuget -u xxx -

[2021-10-27 19:19] #9831 closed, assigned to nkolev92

[2021-10-27 19:52] #9006 closed, assigned to nobody

[2021-10-27 19:53] #9030 closed, assigned to heng-liu

[2021-10-27 20:23] rolfbjarne opened #11338 "[DCR]: Adjust compatibility rules for Apple TFMs in .NET"
### NuGet Product(s) Affected

NuGet.exe, dotnet.exe

### Current Behavior

Current behavior is for the following TFMs to be compatible:

| TFM | Compatible With |
|--------------------|------------------------------------------|
 | net6.0-ios         | xamarin.ios                              |
 | net6.0-macos       | xamarin.mac                              |
 | net6.0-maccatalyst | xamarin.ios

[2021-10-27 21:46] dtivel opened #11339 "[Engineering]: Use IAsyncServiceProvider extension methods instead of type casting ourselves"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

17.x

### Worked before?

N/A

### Impact

_No response_

### Repro Steps & Context

Use [`IAsyncServiceProvider` extension methods](https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualstudio.shell.iasyncserviceprovider?view=visualstudiosdk-2019#extension-methods) instead of type casting ourselves.

See https

[2021-10-28 09:48] v-luzh opened #11340 "[Unstable] “Updates” Tab doesn't show count of the package available to update"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

NuGet Client Dev\6.1.0.36

### Impact

It bothers me. A fix would be nice

### Details about Problem
VS Version: Main\31827.321
NuGet Version: Dev\6.1.0.36
OS Version: Windows-11-Enterprise-21H2

### Repro steps
1. Create a C# ASP.NET Web Application (.NET Framework 4.8) – Web Forms project in VS and open the PM UI o

[2021-10-28 12:43] #11334 closed, assigned to dtivel

[2021-10-28 17:51] erdembayar opened #11341 "Remove repeated/redundant reading of v3-index.json file"
From https://github.com/NuGet/Home/issues/11341 issue I noticed this. Currently `dotnet restore` command trigger about 16x reading of v3-index.json file in http cache, for dotnet `build` about 80x according to ETL trace. Even though file is small, we better to read only once, because it's on hot path and IO operations are quite expensive.

[2021-10-28 18:23] #11333 closed, assigned to nobody

[2021-10-28 18:45] pranavkm opened #11342 "NuGet.Localization package includes unncessary resource assemblies"
### NuGet Product(s) Affected

dotnet.exe

### Current Behavior

The NuGet.Localization assembly is extracted as-is by the .NET SDK as part of creating it's layout. It looks like the package contains resources for the `NuGet.VisualStudio.Contracts.dll` but not the primary dll itself. Here's what I get if I list the contents of the .NET 6 SDK:

[code]

### Desired Behavior

I'm not certain, but it

[2021-10-28 20:12] #10727 closed, assigned to kartheekp-ms

[2021-10-29 18:58] erdembayar commented on #8936
Sorry, actually this is my item. Reassigning to myself.

[2021-10-29 19:16] erdembayar commented on #8936
Increased estimate because I need to address [functional test scripts too](https://github.com/NuGet/NuGet.Client/pull/4289#pullrequestreview-767238072).

[2021-10-30 15:14] AraHaan commented on #6437
I agree, I feel like the keys should be stored in the credential store instead, on iCloud Keychain (on MacOS), or on the secret service on other *nix based OS's. For those without any of the 3, I would then fallback to throwing saying they need a way to store credentials securely.

Alternatively one *could* use encryption apis like BlowFish to secure the keys that has a cross platform implementati

[2021-10-31 03:33] noseratio commented on #10804
It's sad this issue have been closed. I landed here because a Twitter friend pointed me at this thread. Prior to that, I wasted about an hour to figure out what's going on.

Got a fresh clean Windows11 machine, installed Chocolatey, latest .NET SDK 6 RC, latest VS2022 RC.  Tried a simple .NET project:

[code]
Got this error:

After many blind trials, I eventually solved it like this:

[code]

Rega

[2021-11-01 09:37] v-luzh commented on #10670
@aortiz-msft, OK, Thanks. I changed the pipeline to Icebox.

[2021-11-01 09:38] v-luzh commented on #10526
@aortiz-msft, OK, Thanks. I changed the pipeline to Icebox.

[2021-11-01 09:39] v-luzh commented on #10056
@aortiz-msft, OK, Thanks. I changed the pipeline to Icebox.

[2021-11-01 14:10] Luk164 commented on #11316
Please read the path again. The one that I needed to create is `C:\Program Files (x86)\Microsoft Visual Studio\Shared\NuGetPackages `, while the path defined in config is `C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\`. BTW the defined path is the one working. All packages are downloaded and referenced from there. I really dont know where the other path came from.

[2021-11-01 16:16] erdembayar commented on #11341
@nkolev92 @NuGet/nuget-client
This one need more investigation, it looks 30 min cache file is quite erratic,  works differently depending on machine, on beefy machine it use cache less but more on slower machine.  Is there any spec/doc regarding 30 min cache policy? I believe we have bug, but need to confirm.

[2021-11-01 16:20] AlexandraRamirezMS commented on #11099
@heng-liu @dtivel @loic-sharma Hi, we have a following question about this issue.
While using **DotNetCoreCLI@2** task through **Azure DevOps** to run the dotnet restore command, we understand that the DotNetCoreCLI@2 task uses the .NET SDK installed on the agent. If you are using a microsoft-hosted agents , the windows image **windows-2022 has the .NET 6 RC2 installed.** But for windows-2019 imag

[2021-11-01 16:53] dtivel commented on #11099
@AlexandraRamirezMS, [plans](https://devblogs.microsoft.com/dotnet/net-core-releases-and-support/#roadmap) are to release .NET 6.0 in November 2021.

[Retrying](https://github.com/NuGet/Home/issues/11099#issuecomment-897046587) is the only reliable workaround I know of, whether the retry is implemented around calls to `dotnet restore` or via the environment variable that I exposed.  I can't speak

[2021-11-01 16:58] erdembayar commented on #11291
It's not connected to current F# tests are [failing](https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=5389990&view=ms.vss-test-web.build-test-results-tab) issue. There is email thread is going on, root cause it's Patch Tuesday , a new .NET SDK and packages are released, which is outside our control.

[2021-11-01 17:20] erdembayar opened #11348 "Publish SourceMapper tool"
Once Sourcemapper tool is ready then publish as dotnet global tool on nuget.org

[2021-11-01 17:24] erdembayar opened #11349 "Implement SourceMapper recommendation feedbacks"
I got [recommendation](https://github.com/NuGet/Client.Engineering/issues/1199#issuecomment-954185893) from initial Katleen and @zkat.

Katleen recommendations:

- Implement System.CommandLine for Accessibility
- Localization: Need to gather info. We're the first one asking for it.
- run Policheck
- Move to MS, or System namespace.  NuGet namespace.
- Sign the package.

Kat feedback:

- Unix conve

[2021-11-01 17:52] donnie-msft commented on #11341
@erdembayar yes, we have a cache policy noted here: https://docs.microsoft.com/en-us/nuget/Consume-Packages/managing-the-global-packages-and-cache-folders#viewing-folder-locations

[2021-11-01 18:22] nkolev92 commented on #11341
I would be surprised if the cache itself worked differently on different machines.

The one thing that could be causing it to look different is the machines have different perf characteristics, which is perfectly understanble.

[2021-11-01 18:30] heng-liu opened #11350 "Add a spec of "consuming pdbs from packages in PackageReference""
Write a spec of "consuming pdbs from packages in PackageReference", and confirm with .NET SDK team.

[2021-11-01 18:36] heng-liu opened #11351 "Check existing extensions besides assemblies in packages on nuget.org"
This is a sub task of https://github.com/NuGet/Home/issues/5926
After discussion with .NET SDK, NuGet will check the existing extensions besides assemblies in packages on nuget.org.

[2021-11-01 18:44] heng-liu opened #11352 "Implement "consuming pdbs from packages in PackageReference""
This is one of the sub task of https://github.com/NuGet/Home/issues/5926
When spec is reviewed and merged, investigation on the existing extensions besides assemblies is done, we will start working on the implementation.

[2021-11-01 19:31] bhsubra opened #11353 "[Bug]: Support to suppress framework references through packages from NuGet"
### NuGet Product Used

MSBuild.exe, NuGet.exe

### Product Version

msbuild version 17.1.0.51903

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

Is there a way to suppress framework references through packages from NuGet?

ExcludeAssets and PrivateAssets doesn't help. The below seems to work:
[code]

Is there a better way to do this?

[2021-11-01 19:49] nkolev92 commented on #11348
Should this live here or Client.Engineering?

Removed the `RestoreTool`, as that refers to the RestoreTool feature and this issue is not about that.

[2021-11-01 20:29] erdembayar commented on #11348
Usually publish nuget.exe/nuget packages issues reside on Client.Engineering, so I guess this one can reside here too.

[2021-11-01 21:00] anangaur opened #11354 "[DCR]: Improve NU5128 warning text"
### NuGet Product(s) Affected

NuGet.exe, MSBuild.exe, dotnet.exe

### Current Behavior

Customer reported the following:

The solution was even simpler:

    <PropertyGroup>
        <TargetFramework>netstandard2.0</TargetFramework>
        <LangVersion>latest</LangVersion>
        <Nullable>enable</Nullable>
        <IsRoslynComponent>true</IsRoslynComponent>
        <NoWarn>NU5128</NoWarn>
    <

[2021-11-01 21:24] nkolev92 commented on #11353
Thanks for filling this issue.

Adding context from the e-mail discussion:

There's no way to suppress the framework references through packages from NuGet perspective.
The question is how can these be suppressed:
Compile? Runtime? New category?

@dsplaisted thinks that framework references should be treated as an asset class that could be excluded via ExcludeAssets or PrivateAssets.

cc @dsplaist

[2021-11-01 23:51] aortiz-msft commented on #11129
@martinrrm - Would you please take a look at this one? Feel free to sync with @jebriede

[2021-11-02 00:11] aortiz-msft commented on #10767
Hi @drewgillies - We are trying to understand if there's any work left here.

[2021-11-02 00:14] erdembayar commented on #11349
@aortiz-msft
This is almost 4 year old tool and it has  resx files, but not really translated.
https://github.com/dotnet/command-line-api/tree/main/src/System.CommandLine/Properties/xlf

[2021-11-02 10:44] DennisDyallo commented on #3891
Still nothing? Wow, like 5 years later.

[2021-11-02 12:04] AraHaan commented on #3891
I found a workaround for this while screwing with the dotnet/arcade stuff.

For starters do the following:
- Create a new folder (pkg) under your repository root.
- Create a new file in that pkg folder named ``{package name}.sfxproj``.
- Now inside that new file add this code:
[code]
- Now add that file to your solution file
- Set the csproj files as not packable (``<IsPackable>false</IsPackable>`

[2021-11-02 14:41] AraHaan commented on #11303
ah they were a flat list of nupkg files. Also I seem to have issues with the ``FindPackageByIdResource`` type as well (when telling it to use the nuget.org v3 url) that is in the docs.microsoft.com url references as well where the GetAllVersionsAsync() for some reason straight up kills the process instead of returning the packages from nuget.org.

[2021-11-02 19:18] ericsampson commented on #3891
@AraHaan wrote (snip workaround)
or just switch to Paket 😝 , at this point it's getting a little silly

[2021-11-02 19:47] nkolev92 commented on #8896
Still picking this up @zivkan?

Should it be costed?

If you pick it up, feel free to borrow my branch as it's probably more than 50% done.

[2021-11-02 19:47] nkolev92 commented on #10393
Is this relevant?

[2021-11-02 20:23] jebriede commented on #10778
Closing as duplicate of https://github.com/NuGet/Home/issues/10440

[2021-11-02 20:23] #10778 closed, assigned to jebriede

[2021-11-02 22:21] kumarz commented on #6763
is package reference is fully supported for .Net framework especially for v4.6.2 ?

[2021-11-03 01:22] nkolev92 commented on #8896
@zivkan

The branch with the changes is up to date: https://github.com/NuGet/NuGet.Client/tree/dev-nkolev92-ivsinstaller.

This should hopefully make the implementation pretty simple.

For example, cutting the source parameter is trivial.

[2021-11-03 01:56] AraHaan commented on #3891
indeed, for me I needed to do the "framework" model anyway because my program does a plugin system and for that to be made possible they would have to also reference said "framework" and with the package model it would needlessly copy them to the build output folders cluttering the entire thing despite them all using their own ALC's.

[2021-11-03 02:48] AraHaan commented on #11303
For repro it should be possible to do it with this code (it happens to me where it kills the process now with it before it even can call GetAllVersionsAsync now on Macos and Windows, as for linux I am not sure if it repros there too):

[code]

[2021-11-03 09:40] softlion commented on #9222
The issue is easy: the version of msbuild is hard coded to 14 and 15 for mono in NuGet.CommandLine MsBuildUtility.cs method `GetMsBuildFromMonoPaths()`

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.CommandLine/MsBuildUtility.cs

And this nuget client has no env variable it could take instead to force the use of a more up-to-date version of msbuild.

An easy fix would be t

[2021-11-03 11:14] AraHaan commented on #11303
Looks like the 6.0.0-preview.4.243 version of the packages might be the issue for some reason.

[2021-11-03 12:16] stunney commented on #1851
@msftgits time to get this working, today!

[2021-11-03 12:19] stunney commented on #1851
@mrward can you help light a fire under a Product Manager to get this resolved?

[2021-11-03 14:32] dliedke commented on #11045
Hello, I am facing this issue almost everyday in my machine:

NuGet package restore failed. Please see Error List window for detailed warnings and errors.
Error occurred while restoring NuGet packages: The operation failed as details for project XXX could not be loaded.
NuGet package restore failed. Please see Error List window for detailed warnings and errors.
Time Elapsed: 00:00:36.6228241
=====

[2021-11-03 14:35] brunocampiol commented on #11045
I do have same issue as @dliedke  mentioned. This has been a while like that and the only workaround is to delete all nuget cache. Any luck how to debug this issue to get better understanding on what's going on?

[2021-11-03 14:51] dliedke commented on #11045
I found one nuspec file really damaged:

C:\Users\daniel_liedke\.nuget\packages\system.xml.readerwriter\4.0.11\system.xml.readerwriter.nuspec

![image](https://user-images.githubusercontent.com/16479450/140083621-14fc6ef5-539d-4e8e-acd8-8d96a59b5b78.png)

[2021-11-03 18:05] aortiz-msft commented on #11003
We'll open new epics based on the work required here.

[2021-11-03 18:05] #11003 closed, assigned to nobody

[2021-11-03 18:07] BrianMcBrayer commented on #1851
Agreed. This is a critical feature.

[2021-11-03 18:44] dliedke commented on #11037
I created a simple tool to find and delete bad corrupted nuget packages in the cache, it can be found at:

https://github.com/dliedke/FixNugetCache

After running the tool, just restore the packages again in VS.NET and it should work.

Thanks!

[2021-11-03 18:44] dliedke commented on #11045
I created a simple tool to find and delete bad corrupted nuget packages in the cache, it can be found at:

https://github.com/dliedke/FixNugetCache

After running the tool, just restore the packages again in VS.NET and it should work.

Thanks!

[2021-11-03 19:44] JonDouglas commented on #1851
Hi all,

This is the first time i've seen this issue so please bear with me.

As far as I'm aware, this issue is dependent on `ProtectedData` having cross-platform support. Currently the API has notes of:

https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.protecteddata?view=windowsdesktop-5.0#remarks

and

The use of this class is in the following code:

https://github.com/n

[2021-11-03 20:08] AraHaan commented on #11352
Because of this I made my pdbs embedded so that way if there ever is an issue they can easily diagnose the issue and report it to me (plus they have source link)

[2021-11-03 20:14] AraHaan commented on #11342
hmm perhaps there should be a node like: ``<ExcludeResourceLanguages></ExcludeResourceLanguages>`` added to ``<PackageReference>`` that perhaps might solve this issue? I guess an msbuild update for it could help with this one.

[2021-11-03 20:25] psmulovics commented on #1851
There are multiple scenarios where you would need this - e.g. connecting to enterprise hosted package manager endpoints where you would need to store password or API key in your nuget.config and you would like to do it encrypted.

As a cascade effect, if the actual underlying protecteddata API would be solved for other scenarios (e.g. for Linux it could have a dependency on libcrypt, or the actual

[2021-11-03 20:58] erdembayar opened #11355 "Add localizability to SourceMapper tool"
I already implemented System.CommandLine as recommended by Katleen.
System.CommandLine has own localizability feature. After dicussion with Chet localization [isn't a blocker](https://liquid.microsoft.com/Web/Object/Read/MS.GlobalReadiness/Requirements/03.01), but localizability is a blocker.  Currently I just costed `1`, not sure actual cost, I'll update later when it's more clear. Later we need

[2021-11-04 13:43] zivkan commented on #11226
From https://github.com/dotnet/sdk/issues/20849#issuecomment-960920701

The .NET CLI is telling Nuget to use `DirectDownload = true`, and I can't find anything that resets the stream position to the beginning of the file, so I think what's happening is the retry is writing the second download attempt at a non-zero offset, so then the zip file's central directory offsets are all wrong.

[2021-11-04 13:58] AraHaan commented on #6849
could we do this with the dotnet.exe version of nuget too?

[2021-11-04 14:14] zivkan commented on #10393
Unless you have information otherwise, I believe my comments in https://github.com/NuGet/Home/issues/10393#issuecomment-818396901 stands.

[2021-11-04 14:19] jklawrence opened #11356 "[Bug]: MSBuild Restore RestorePackagesConfig does not respect RestoreSources"
### NuGet Product Used

MSBuild.exe

### Product Version

16.11.1+3e40a09f8 for .NET Framework

### Worked before?

Unsure

### Impact

It's more difficult to complete my work

### Repro Steps & Context

1. Add a packages.config NuGet dependency on a package that does not exist on nuget.org but does exist on some other package source.
2. Execute `msbuild Example.sln -t:restore -p:RestorePackagesCo

[2021-11-04 14:20] clairernovotny commented on #10805
Why was this closed as a dup? Seems like a different issue with three letter locales? This is preventing certain locales from working:

https://github.com/Humanizr/Humanizer/issues/1057

[2021-11-04 18:01] nkolev92 commented on #6849
@AraHaan

There's no dotnet.exe equivalent of the `nuget.exe install` command, can you clarify what you're referring to?

Keep in mind, that the message about `DotnetCliTool` is valid, you cannot install that package into a project.

[2021-11-04 18:11] nkolev92 commented on #10650
Report at https://developercommunity.visualstudio.com/t/After-Nuget-Packages-update---Error-occ/1567535

[2021-11-04 18:40] nkolev92 commented on #10440
@chgill-MSFT @jebriede

Can you please define the expected behavior.
Is this still something we care about?

[2021-11-04 18:40] nkolev92 commented on #10714
@chgill-MSFT @jebriede

Can you please define the expected behavior.
Is this still something we care about?

[2021-11-04 18:47] nkolev92 commented on #11302
Thank you reporting this issue. At this point we do not have enough information to continue investigating the issue.
Please feel free to comment or open a new issue if needed.

[2021-11-04 18:47] #11302 closed, assigned to nobody

[2021-11-04 18:52] nkolev92 commented on #11316
Hey @Luk164,

At the bottom of the log, there's a message that tells you about the nuget.config files being used:

[code]

Can you please check those configs?

[2021-11-04 18:54] nkolev92 commented on #11318
Closing per @kartheekp-ms as duplicate of #7796

[2021-11-04 18:54] #11318 closed, assigned to nobody

[2021-11-04 18:57] nkolev92 commented on #11323
@woeterman94

Please refer to https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#packing-using-a-nuspec-file

Your current setup will not work because it's half nuspec/half csproj.

Please follow the above guidance to correct your setup.

[2021-11-04 19:33] Luk164 commented on #11316
@nkolev92 That helped, it was in the fallback location. It was also marked as generated and that it could potentially re-appear after I changed it back. Do you know when/why/by what is that file generated?

[2021-11-04 19:39] AraHaan commented on #6849
Yes, but I wanted to be able to use the .NET CLI version of nuget to install a package into a folder without a project, let's say for example I wanted to manually install a version of ``Microsoft.NETCore.App.Ref`` into ``$DOTNET_ROOT/packs/`` using the .NET CLI's version of nuget.

[2021-11-04 20:10] donnie-msft opened #11357 "CI failing due to: NU1102: Unable to find package FSharp.Core with version (>= 6.0.2)"
InstallCanPipeToFSharpProjects

SimpleFSharpUninstall

UpdatePackageOnAnFSharpProjectWithMultiplePackages

[2021-11-04 20:11] donnie-msft commented on #11357
https://github.com/dotnet/fsharp/issues/12289

[2021-11-04 20:19] donnie-msft opened #11358 "Unskip FSharp tests"
Tests skipped to resolve: https://github.com/NuGet/Home/issues/11357

[2021-11-04 20:44] nkolev92 commented on #10767
@v-luzh

Can you please check if this issue reproes with the latest 6.0.1xx SDK?

We expect that it is fixed.

[2021-11-05 00:57] nkolev92 commented on #11316
I'm not 100% certain, but from digging around, it seems like it's WinUI.

Do you have that workload installed?

[2021-11-05 01:03] nkolev92 commented on #6849
There's no equivalent command available in .NET exe, ie no command that'd just download a single package, all dotnet commands are project related.

That'd need to be a new feature. Can you please create an issue for that.

Note that your exampple is something that the SDK should be able to automatically do.

For example, if you target net3.0 and only install the net6.0 SDK, it'd automatically down

[2021-11-05 01:36] Luk164 commented on #11316
@nkolev92 Yes. Now that I think about it, the timing seems to fit as well. I was trying it out a while before the issue occurred

[2021-11-05 07:16] v-luzh commented on #11313
It is fixed on VS Main\31904.272 + NuGet Client Dev\6.1.0.39. Close this issue now, thanks.

[2021-11-05 07:16] #11313 closed, assigned to jeffkl

[2021-11-05 16:27] erdembayar opened #11359 "NuGet repeated/redundant File IO read/write analysis for restore"
@erdembayar commented on [Tue Oct 26 2021](https://github.com/NuGet/Client.Engineering/issues/1262)

Research NuGet repeated/redundant IO read/write analysis using ETL.
Follow ups issues:

- https://github.com/NuGet/Home/issues/11341
-  [Create Console App action reading same nupkg file 47x times](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1429603) This one is not under our code path.

[2021-11-05 16:29] erdembayar commented on #11359
---

@erdembayar commented on [Tue Oct 26 2021](https://github.com/NuGet/Client.Engineering/issues/1262#issuecomment-952261832)

I spent sometime looking at ETL traces yesterday.
I found some duplicate read of same file for `restore/build` operation with simple solution. I'll create follow up issues for my finding.
I'll do same for `pack` operation and testing on more complex solution.

[2021-11-05 18:23] nkolev92 commented on #11313
I wonder if we should tryt to solve this in a way that it doesn't cause so many false negatives.

cc @aortiz-msft

[2021-11-05 18:51] zivkan opened #11360 "[DCR][No Customer Impact]: NuGetPackage (VS extension entry point) should not use DTEEvents"
### NuGet Product(s) Affected

Visual Studio Package Management UI, Visual Studio Package Manager Console

### Current Behavior

NuGetPackage (the entry point for Visual Studio extensions) gets an instance of DTEEvents, subscribes to the OnShutdown event. The event handler does nothing more than unsubscribe from the event.

### Desired Behavior

Don't do pointless work

### Additional Context

The

[2021-11-06 00:08] nkolev92 opened #11361 "Package Source Mapping UI - Add Package Source Mapping in the NuGet Options UI"
This issue captures *all* the additions for `Package Source Mapping` in the NuGet Options UI.

Note that this does not include the package manager UI, that's a different task.

This issue captures creating clarity and ensuring the spec is up to date with whatever gets implemented.

Refer to the design here: https://github.com/NuGet/Home/blob/dev/implemented/2021/PackageSourceMapping.md

As of righ

[2021-11-06 00:08] nkolev92 opened #11362 "Package Source Mapping UI - List Package Source Mappings in the NuGet Options UI"
Refer to https://github.com/nuget/home/issues/11361 and https://github.com/NuGet/Home/blob/dev/implemented/2021/PackageSourceMapping.md

[2021-11-06 00:09] nkolev92 opened #11363 "Package Source Mapping UI - Allow the Creation/Removal of package source mappings in the NuGet Options UI"
Blocked on https://github.com/NuGet/Home/issues/11362

Refer to https://github.com/nuget/home/issues/11361 and https://github.com/NuGet/Home/blob/dev/implemented/2021/PackageSourceMapping.md

[2021-11-06 00:09] nkolev92 opened #11364 "Package Source Mapping UI - Allow a source to be pinned as default (ie. set `*`) in the NuGet Options -> Package Sources view."
Refer to https://github.com/nuget/home/issues/11361 and https://github.com/NuGet/Home/blob/dev/implemented/2021/PackageSourceMapping.md

[2021-11-06 00:24] nkolev92 commented on #10730
I think task can be broken down into 4 (maybe 4 separate issues? we can discuss).

* Package Manager UI - installation, sources view, browse etc.
* NuGet Options UI - Adding free hand mappings, remove mappings, marking sources as fallback with `*`
* NuGet PMC - installation, Find-Package etc.
*  dotnet add package - installation/updates etc.

[2021-11-06 00:41] nkolev92 opened #11365 "Support Package Source Mapping in the Package Manager UI"
issue captures all the additions for Package Source Mapping in the Package Manager UI.

Note that this does not include the NuGet Options UI, that's a different task, https://github.com/NuGet/Home/issues/11361

This issue captures creating clarity and ensuring the spec is up to date with whatever gets implemented.

Refer to the design here: https://github.com/NuGet/Home/blob/dev/implemented/2021/P

[2021-11-06 00:43] nkolev92 opened #11366 "Create Package Source Mappings during Installation/update through PM UI"
Refer to https://github.com/NuGet/Home/issues/11365.

This may require some clarity, but there aree quality mockups in https://github.com/NuGet/Home/blob/dev/implemented/2021/PackageSourceMapping.md

[2021-11-06 00:59] davisnw commented on #10924
The issue appears to be resolved in Visual Studio 2019 16.11.5

[2021-11-06 02:31] #11357 closed, assigned to donnie-msft

[2021-11-08 08:46] praveenha commented on #7158
Awesome great.  Thanks a ton Hugo Quintela Ribeiro

[2021-11-08 10:08] v-luzh commented on #10767
@nkolev92 It is fixed on Main\31907.30 with the .NET SDK 6.0.100 for listing the transitive vulnerable package as below.
![image](https://user-images.githubusercontent.com/20632625/140722285-f69e4a43-e4d5-4077-8b0f-303c88f5b8c1.png)

[2021-11-08 14:19] rossiytsew commented on #5385
Any updates on this? Is still present in VS2019.

[2021-11-08 19:12] #11360 closed, assigned to zivkan

[2021-11-08 21:13] #10767 closed, assigned to nobody

[2021-11-08 23:12] aortiz-msft commented on #11340
@v-luzh - Does the information populate eventually?

[2021-11-08 23:39] #4864 closed, assigned to erdembayar

[2021-11-08 23:40] nkolev92 commented on #11339
I've been meaning to ban this API for a while, and now that banned apis are options , https://github.com/NuGet/NuGet.Client/blob/dev/build/BannedSymbols.txt we can do it.

I made the changes for the product in https://github.com/NuGet/NuGet.Client/compare/dev-nkolev92-banIAsyncProviderGetServiceAsync?expand=1

[2021-11-09 07:25] reduckted opened #11367 "[Bug]: Cannot get INuGetProjectService from the service broker in Visual Studio 17"
### NuGet Product Used

MSBuild.exe

### Product Version

Visual Studio 17.0.0

### Worked before?

_No response_

### Impact

I'm unable to use this version

### Repro Steps & Context

An exception is thrown in Visual Studio ~~2017~~ 2022 when trying to get an `INuGetProjectService` from the Visual Studio service broker. This code:
[code]
Throws this error in Visual Studio 17.0.0:

The package re

[2021-11-09 10:12] gergroen opened #11368 "[Bug]: nuget restore doesn't work "error MSB4236" after installing VS 2022"
### NuGet Product Used

NuGet.exe

### Product Version

5.11.0.10

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

1. Install Visual studio 2022.
2. Run "nuget restore" command.
Error: "error MSB4236: The SDK 'Microsoft.NET.Sdk' specified could not be found."

### Verbose Logs

_No response_

[2021-11-09 10:31] gergroen commented on #11368
Fixed by removing "C:\Program Files (x86)\dotnet" from system path variables and adding "C:\Program Files\dotnet"

[2021-11-09 10:31] #11368 closed, assigned to nobody

[2021-11-09 13:12] WhiteBlackGoose opened #11369 "[Feature]: Settings for nuget cache behaviour"
### NuGet Product(s) Involved

dotnet.exe

### The Elevator Pitch

It would be nice to be able to
1. Change the location of the folder with cache
2. Limit the maximum size of the cache storage or completely disable cache

The reason is simply because nuget cache takes insane amount of space on the user folder. I "purged" it recently, and it already takes 10Gb. That's simply way too much, and in my

[2021-11-09 13:42] rolandhemmer commented on #10275
Ran into this issue few days ago, blocking all our Docker pipelines when trying to restore from a private Artifactory.
Tried with `dotnet restore --configfile NuGet.config`, with:

[code]

as NuGet configuration (first with 25, then 15, 10 and even 5).
Also tried a retry system that fallbacks to the same command with `--disable-parallel`:

[code]

(quite ugly I know, but this was the best idea I c

[2021-11-09 17:07] zivkan commented on #11367
NuGet follows Visual Studio's version, minus 11.0.  Therefore NuGet.VisualStudio.Contracts package version 6.0 tracks Visual Studio 6.0 + 11.0 = 17.0.  Note this is dev17, not Visual Studio 2017, which is dev15.

If you're targeting Visual Studio 2017, which corresponds to NuGet 4.x, you should that version of the NuGet.VisualStudio package.  NuGet.VisualStudio.Contracts was added in dev16 (VS 201

[2021-11-09 17:25] erdembayar commented on #11349
msbuild repo is actually localized.

[2021-11-09 18:36] stephajn commented on #7012
Fun bit of news, this is back in dotnet sdk 6.0.  Yayyyy.....

[2021-11-09 18:45] erdembayar commented on #11358
From email thread:
Short term solution for this was to set _NetCoreSdkIsPreview=true when building, which would cause it to fall back to a version available within dotnet-tools.
It’s an msbuild property, passed to the build command line. It’s only necessary when the package is not available on nuget.org

[2021-11-09 20:34] reduckted commented on #11367
🤦‍♂️ Sorry, I got my version numbers confused. I meant Visual Studio 2022 (v17.0.0).

[2021-11-09 21:44] erdembayar commented on #11355
For my ref:  CommandLineBuilder >> `.UseLocalizationResources`  <SystemCommandLineVersion>2.0.0-beta1.21525.1</SystemCommandLineVersion>

[2021-11-10 00:03] erdembayar commented on #11355
@nkolev92 @kartheekp-ms @aortiz-msft
I localized(added to resx file) most of application strings, but for `System.CommandLine` helper text localization we can do in future.

[2021-11-10 01:41] zivkan commented on #11367
@reduckted we have a tool we use to test our VS APIs, available here: https://github.com/NuGet/Entropy/tree/main/IVsTestingExtension

Can you try it out and see if you still have the problem?  It works for me, I was using it today in fact.

My best guess is that your vsix contains your own copy of NuGet.VisualStudio.Contracts.dll, and so VS is loading both copies of the dll. Even when two assembli

[2021-11-10 05:49] bairog opened #11372 "[Bug]: Visual Studio 2019 16.11.5 Enterprise advices me to update nuget package to version that is incompatible with my project TFM"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

dotnet sdk version: 6.0.100, msbuild version: 4.8.3752.0

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

I have an ASP Core project that targets **.net5.0** TFM. I reference several **EntityFramework** nuget packages (**Microsoft.EntityFrameworkCore.

[2021-11-10 05:49] reduckted commented on #11367
You were correct! The NuGet assemblies were being included in the VSIX. However, when I exclude the NuGet files from the VSIX, I get a different error:

I tried the Entropy extension and it worked from the latest commit (488ac98). But that version is using 5.10.0 of the NuGet packages. If I update those two packages (`NuGet.VisualStudio` and `NuGet.VisualStudio.Contracts`) to version 6.0.0, then I

[2021-11-10 05:52] Sfairait commented on #11372
Same issue for me

[2021-11-10 10:17] mkonijnenburg commented on #4463
This solution does not work anymore with net sdk 6.0 (installed yesterday)

Directory.build.props:

    <BaseOutputPath>bin\$(MSBuildProjectName)\</BaseOutputPath>
    <MSBuildProjectExtensionsPath>obj\$(MSBuildProjectName)\</MSBuildProjectExtensionsPath>
    <IntermediateOutputPath>obj\$(MSBuildProjectName)\$(Configuration)\</IntermediateOutputPath>

C:\Program Files\dotnet\sdk\6.0.100\Sdks\Micro

[2021-11-10 13:00] zivkan commented on #11367
Yes, you're right. We screwed up.  NuGet inserts into both Visual Studio and the .NET SDK, but NuGet has a mono-repo with both our VS and .NET SDK assets being created from the same build. Because reasons, we had to insert a higher build number of NuGet into the .NET SDK than we did into VS, which is normally the other way around. The packages we published to nuget.org was the highest of the two,

[2021-11-10 14:58] zivkan commented on #4463
@mkonijnenburg since this is specific to WPF, it's related to WPF's targets/props (SDK). I created an issue there: https://github.com/dotnet/wpf/issues/5679

For what it's worth, the problem you found is unrelated to this issue. This isssue is about two csproj files in the same directory (or otherwise using the same obj folder). Your `MSBuildProjectExtensionsPath` contain the project name, hence e

[2021-11-10 15:14] mkonijnenburg commented on #4463
Thanks for your reply.
As extra context for the situation, I noticed this in multiple solutions where we use the Directory.build.props in a folder with two .csproj files. One for WPF development and the other for WinForms, sharing 90% of the files.
When compiling without the props the nuget gets messed up. Using the props file resolves that, until yesterday with net SDK 6.0.

From: Andy Zivkovic *

[2021-11-10 15:53] zivkan opened #11373 "[Bug]: Package extraction sometimes fails with "file in use by another process""
### NuGet Product Used

dotnet.exe, MSBuild.exe, NuGet.exe, Visual Studio Package Management UI, Visual Studio Package Manager Console

### Product Version

all

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

In a recent case, it looks to be from trying to extract Microsoft.Packaging.SDKUtils.dll from the nupkg.  As far as the location

[2021-11-10 18:16] heng-liu commented on #11372
Thanks @bairog for taking time filing this issue!
We currently don't support filtering by TFM when updating/installing/etc. This means that we just go by version number, even if the new version number happens to be incompatible with the current project's TFM(s).
We have an issue about adding this feature at https://github.com/NuGet/Home/issues/5725.
So this issue will be closed as duplicate.

[2021-11-10 18:16] #11372 closed, assigned to nobody

[2021-11-10 18:43] josesimoes commented on #10800
Hey!

Working on the SDK for nanoFramework and it's looking good.
I'm now stuck because of 2 blockers:
1. VS is not able to perform the package restore because the task doesn't recognize the TFM.
2. I'm not able to `pack` because the task doesn't know the TFM either.

Any chance this issue can get some ❤️ and make this happen? 😄
I'll be happy to assist just like I did with the CLI in NuGet/NuGet.C

[2021-11-10 18:47] zkat commented on #10800
cc @aortiz-msft looks like this is getting some traction!

[2021-11-10 19:45] heng-liu commented on #11356
I could repro with the following steps:
1.Create a non-SDK project. E.g. ClassLibrary (.NETFramework)
2.Install Newtonsoft.json package on this project
3.Go to the solution folder, clear all the contents in folder "packages"
4.Edit the user-wide NuGet.Config file, remove nuget.org source. Make sure there is no other NuGet.Config file in the path contains nuget.org source.
5.Run command
[code]
The

[2021-11-10 22:01] reduckted commented on #11367
Awesome, I'll stick with 5.11 for now. Thanks for your help, @zivkan 😄

[2021-11-11 02:17] #11339 closed, assigned to nkolev92

[2021-11-11 02:22] smarts commented on #6437
@AraHaan does iCloud keychain work when disconnected from the internet? Because I'm fairly confident that's a necessity.

[2021-11-11 09:08] ckolumbus commented on #8551
I am encountering the same issue right now. AFAIK the problem scenario matches the one described by @ilatypov and i created a minimal setup where I have setup a `nuget.config` with the feed configuration and access credentials and a `nuget install PostSharp` fails for authenticated feeds.

The `curl` examples above show similar results. I've also tried to setup ClearTextPasswords in the nuget.conf

[2021-11-11 11:12] bairog commented on #5725
And now it's is happening again with latest ASP .NET Entity Framework Core packages which are locked to a TFM (latest Entity Framework Core 6.0 is available only for **net 6.0**). It's upgrading large solution TFM from **net 5.0** to **net 6.0** a real pain, again.
@heng-liu @nkolev92 @anangaur  Is there any estimated timeframe for implementing this functionality?

[2021-11-11 11:20] ckolumbus commented on #8551
SOLVED at least for me: you need to enable "Force Authentication" on the protected nuget feeds in Artifactory. Here's the [StackOverflow](https://stackoverflow.com/a/67999916/1319141) reference that solved it for me.

[2021-11-11 19:28] nkolev92 commented on #11356
Note to the implementer: Enabling `RestoreSources` in packages.config restore might lead to a discrepancy in VS vs MSBUild restore for the given project.

Ex. Imagine you put RestoreSources in the project file, that wouldn't be respected in VS (not saying it should).

[2021-11-11 22:55] zendu commented on #5877
I see following error.

---------------------------
Microsoft Visual Studio
---------------------------
Operation failed

Project is not eligible for migration. Either the project is not packages.config based or doesn't support PackageReference yet. Visit https://docs.microsoft.com/en-us/nuget/reference/migrate-packages-config-to-package-reference for more information.
---------------------------

[2021-11-11 23:38] Scottj1s commented on #10953
+1, the Windows App SDK team is seeing this issue as well with locally downloaded test packages

[2021-11-12 02:23] redion-io commented on #11302
Go to the Credential Manager in Windows and look for the VSCredentails...github. Delete that. Close and reopen VS 2022 and enter your username and PAT for the password.

[2021-11-12 06:17] heng-liu commented on #11369
Hi @WhiteBlackGoose , thanks for taking time raising this issue!
I'm not sure if you are talking about [global package folder](https://docs.microsoft.com/en-us/nuget/consume-packages/managing-the-global-packages-and-cache-folders).
If yes, you could override using the NUGET_PACKAGES environment variable.
By the way, you could use [command ](https://docs.microsoft.com/en-us/nuget/consume-packages/m

[2021-11-12 06:28] heng-liu commented on #11369
By the way, global package folder is not a cache. As for package reference, all packages are consumed from the global packages folder. So there is no way to disable cache, if you mean global package folder.

And there is an issue https://github.com/NuGet/Home/issues/4980 discussing about the clean up policy of global package folder.

[2021-11-12 06:30] #11369 closed, assigned to nobody

[2021-11-12 06:42] heng-liu commented on #11342
Hi @dominoFire , could you help take a look? Thanks!

[2021-11-12 06:53] heng-liu commented on #11336
Hi @zhuhuanzi , is [Managing NuGet Credentials in Docker Scenarios](https://github.com/dotnet/dotnet-docker/blob/main/documentation/scenarios/nuget-credentials.md) helpful?

[2021-11-12 07:11] WhiteBlackGoose commented on #11369
Ohhh, thanks a lot!

[2021-11-12 11:45] DaveSenn commented on #3116
will there ever be a fix for this issue?
we still have the exact same problem as reported in **2016**.... today in the time of. NET 6.

[2021-11-12 15:34] czdietrich opened #11375 "[Bug]: NuGet Restore fails sporadically with signature validity check failure"
### NuGet Product Used

dotnet.exe

### Product Version

NET SDK version 5.0.403

### Worked before?

Also occurs with older SDKs

### Impact

_No response_

### Repro Steps & Context

Unfortunately the issue occurs very sporadically and only on Azure build agents. We could never reproduce it on any of our developer machines.

But here is what we do:
1. We download the `dotnet credential Provider`

[2021-11-12 15:37] zivkan commented on #11369
There's also a nuget.config setting, `globalPackagesFolder`, which can be set (for example in your user profile nuget.config, so that it applies to all solutions you open on the computer): https://docs.microsoft.com/en-us/nuget/reference/nuget-config-file

[2021-11-12 15:41] zivkan commented on #11375
This is documented on the help page for NU3028, which is one of the errors provided in your output: https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings/nu3028

Does this help you resolve the problem?

[2021-11-12 15:41] Bellarmine-Head commented on #5725
It is happening again:

https://github.com/dotnet/aspnetcore/issues/38256

[2021-11-12 15:50] Bellarmine-Head commented on #5725
Re. https://github.com/dotnet/aspnetcore/issues/38256 I think people face two problems:-

1) Going for the suggested updates will break their solution.
2) Genuine updates to the 5.0.11 versions of `Microsoft.AspNetCore.Components.WebAssembly` and similar packages (that could and should be applied) will be hidden by the fact that incompatible/inappropriate v6 versions are being offered.

[2021-11-12 16:01] woter1832 commented on #7524
I am not sure if there is supposed to be something in `C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\`, but for me, nothing. In fact, I don't appear to have `NuGetPackages` on my system, however, I don't use VisualStudio.

From the command line, `dotnet build` fails as it's looking in one of my private repos, hosted on VSTS that has no bearing on the project I am trying to compile, so why sh

[2021-11-12 18:20] heng-liu commented on #11375
According to the above document, could you "[Retry untrusted root failures](https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings/nu3028#retry-untrusted-root-failures)" by setting `NUGET_EXPERIMENTAL_CHAIN_BUILD_RETRY_POLICY`?
It's available in .NET 6 preview5 and later versions.

[2021-11-12 18:29] beatcracker commented on #3584
NuGet v`6.0.0` broke forward slash handling.

In v`5.11.0` this correctly puts contents of the `dir` in the root of the package

[code]
In `v6.0.0` the `repro` dir and it's entire contents are put into the package.

Here is repro script (PowerShell). It'll download NuGet v5/6 binaries, create nuspec and directory structure and create 2 packages from the same nuspec using different NuGet versions.

[2021-11-12 19:03] #11163 closed, assigned to nkolev92

[2021-11-12 20:20] nkolev92 commented on #5725
Hey all,

A lot of this functionality will be server dependant. The good news is that we're looking into adding the respective support to nuget.org.

Please take a look at https://github.com/NuGet/Home/pull/11374 and leave us any feedback you may have!

Just a small clarification, NuGet itself does not suggest/recommend updates. NuGet shows available updates.

[2021-11-12 21:24] jeffkl opened #11376 "[Bug]: NuGet SDK resolver should not throw if project path is NULL"
### NuGet Product Used

MSBuild.exe

### Product Version

6.0

### Worked before?

Yes, 5.x

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

MSBuild will evaluate in-memory projects and ask SDK resolvers to resolve paths to SDKs.  In previous versions of MSBuild, a context is passed with a `null` value for the path to the project and the NuGet SDK resolver would throw an

[2021-11-12 21:29] nkolev92 opened #11377 "Design Package Source mapping package experiences for VS Options Dialog"
Follow up to #6867 and #10660, child of https://github.com/NuGet/Home/issues/10730.

The MVP covers the VS Options dialog experience for the most part.

[2021-11-12 21:30] nkolev92 commented on #11377
I think this is 99% done, but I'll leave it to @JonDouglas to confirm.

[2021-11-12 21:31] jzabroski commented on #3584
Just to add on to my previous reply, I figured out what my problem was.

Up until a recent version of NuGet, it was possible for a nuspec file to have duplicate or overlapping mapping rules. NU5050 was added to prevent this.  While Zip files allow two files with the same name to exist in the same zip file, the behavior when unzipping those files is undefined.  Thus, you could unpack a nuget packag

[2021-11-12 21:32] nkolev92 opened #11378 "Design Package Source mapping package installation experiences in VS PM UI"
Child of https://github.com/NuGet/Home/issues/10730

[2021-11-12 21:34] nkolev92 commented on #11378
A lot of progress made here, just need clarifying before proceeding with the implementation.

[2021-11-13 01:24] nkolev92 opened #11379 "Design Package Source mapping experiences for dotnet package"
Child of https://github.com/NuGet/Home/issues/10730

This covers the package source mapping commands for the dotnet add package command (or maybe even, dotnet update package).

[2021-11-13 01:27] nkolev92 opened #11380 "Add support for package source mapping in the dotnet.exe package commands"
This covers the package source mapping commands for the dotnet add package command (or maybe even, dotnet update package).

[2021-11-13 01:30] nkolev92 opened #11381 "Design Package Source mapping experiences for listing and adding mappings on the commandline."
Commandline equivalent of https://github.com/NuGet/Home/issues/11377

This incldues listing all the mappings, adding new mappings, removing mappings, cleanup etc with dotnet.exe and/or nuget.exe

[2021-11-13 01:31] nkolev92 opened #11382 "Add support for listing and adding package source mappings"
Design https://github.com/NuGet/Home/issues/11381

[2021-11-13 01:33] nkolev92 opened #11383 "Design Package Source Mapping experiences for PMC"
Child of https://github.com/NuGet/Home/issues/10730

[2021-11-13 01:34] nkolev92 opened #11384 "Add support for PackageSourceMapping in PMC"
Design at https://github.com/NuGet/Home/issues/11383

[2021-11-15 10:39] dhurimkelmendi commented on #5526
I solved this by using Visual Studio for Mac to add the source. Solution/Project -> Manage Nuget repositories -> Add source.

[2021-11-15 10:40] dhurimkelmendi commented on #6003
I solved this by using Visual Studio for Mac to add the source. Solution/Project -> Manage Nuget repositories -> Add source.

[2021-11-15 10:40] dhurimkelmendi commented on #5163
I solved this by using Visual Studio for Mac to add the source. Solution/Project -> Manage Nuget repositories -> Add source.

[2021-11-15 11:41] czdietrich commented on #11375
Thank you for your response. This seems extremely helpful and could explain the sporadic nature of this issue.

I will give setting the environment variable a shot to see whether this would fix the issue for us. But probably I won't be able to use .NET 6 SDK for all of our solutions, since a still supported older solution uses .NET Core 3.1 with CPVM which has breaking changes with .NET 5 SDK. But

[2021-11-15 12:45] lanfeust69 opened #11385 "[Bug]: PackageSourceMapping inconsistencies should be reported"
### NuGet Product(s) Affected

NuGet.exe, MSBuild.exe, dotnet.exe

### Current Behavior

When there is a no source matching the source name of a `<packageSourceMapping>` (typically a typo, or maybe after a git merge), a restore can fail with a very generic error
[code]

### Desired Behavior

There should be a more helpful message.

Maybe a warning at the beginning if there is no source correspondi

[2021-11-15 16:45] zivkan opened #11386 "[DCR]: Improve NuGet.Client build and debugging speed by making ilmerge targets use MSBuild up to date checks"
### NuGet Product(s) Affected

NuGet.exe

### Current Behavior

Running `msbuild NuGet.sln` multiple times in a row at normal verbosity (especially if you use `-m:1`), you can see that a lot of time is spent on a few ilmerge targets

### Desired Behavior

If the assemblies that are ilmerged do not change, then ilmerge should not run so builds without any code changes should be super fast (helps wh

[2021-11-15 20:04] heng-liu commented on #11375
Thanks @czdietrich for the reply!
I'm not sure if adding retry for dotnet restore would work or not. Because if there are many packages needs to be verified, and one fails the chain building, then you have to retry the dotnet restore.
Comparing to retry for each call of chain building, retry for the whole work might not be that ideal.

[2021-11-15 20:09] heng-liu commented on #11375
This is a duplicate of https://github.com/NuGet/Home/issues/11099
The workaround is in .NET 6 Preview5 and VS 17.0 Preview 5

[2021-11-15 20:09] #11375 closed, assigned to nobody

[2021-11-15 21:43] nkolev92 commented on #11338
@rolfbjarne

What's the timeline for this?
What SDK version do you need this change in?

[2021-11-15 21:51] rolfbjarne commented on #11338
@nkolev92 as soon as possible really. The absolute latest is for the GA MAUI release in Q2 2022, but the sooner the better (6.0.200?), since this will likely hit a lot of people and the earlier it happens the more prepared they'll be by GA.

[2021-11-15 22:55] zivkan opened #11387 "[DCR]: Mitigate missing nuget.org when non-NuGet tool creates nuget.config without any sources"
### NuGet Product(s) Affected

NuGet.exe, Visual Studio Package Management UI, Visual Studio Package Manager Console, MSBuild.exe, dotnet.exe

### Current Behavior

If using Chocolatey, or Windows PowerShell's PowerShellGallery (nuget provider), on a clean machine, before running NuGet "proper" (Visual Studio, dotnet cli, nuget.exe, msbuild restore), then the user-profile nuget.config file created

[2021-11-15 23:36] #11386 closed, assigned to jeffkl

[2021-11-16 00:39] zivkan commented on #9020
6 months ago I had a brief chat with someone who maintains Microsoft's .NET docker images (at https://github.com/dotnet/dotnet-docker).

The recommendation I got at the time was to search and/or post in https://github.com/dotnet/dotnet-docker/discussions. Particularly if you find that restore works on the host machine, but not in docker. Docker has network configuration that can cause it to behave

[2021-11-16 01:38] KirillOsenkov opened #11388 "[Bug]: `NuGet.Indexing` NuGet package should be compatible with `net6.0`"
### NuGet Product Used

dotnet.exe, MSBuild.exe, NuGet.exe

### Product Version

https://www.nuget.org/packages/NuGet.Indexing/6.0.0

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

This NuGet package doesn't properly work when targeting `net6.0`.
https://www.nuget.org/packages/NuGet.Indexing/6.0.0

We get this warning:
[code]

and

[2021-11-16 02:38] #11336 closed, assigned to nobody

[2021-11-16 04:41] dominoFire commented on #11335
Reproduced.

By looking at code, we use IList instead of IReadOnlyList when target framework is net40:

https://github.com/NuGet/NuGet.Client/blob/c14b85a00c03933c708c7d38fefeda9898a21488/src/NuGet.Core/NuGet.Frameworks/FallbackFramework.cs#L35

Would you be able to use a newer target framework ?

[2021-11-16 11:43] jhoneill opened #11389 "[Bug]: Nuspec file with wildcard and / instead of \ skipped in 6.0.0 but works in 5.1.1"
### NuGet Product Used

NuGet.exe

### Product Version

6.0.0

### Worked before?

5.1.1

### Impact

It's more difficult to complete my work

### Repro Steps & Context

I had a single line in the files section of a one nuspec file
[code]
In 5.1.1 this worked. Azure devops updated to 6.0 and the pipeline where nuget.exe runs reported
[code]
I was able to repro this at the command line by downloadi

[2021-11-16 15:14] chrise9 commented on #10389
Hi @JonDouglas - do you have any updates on this? It's been a few weeks since your last post and it would be good to get an idea as to when progress might be made. Thanks.

[2021-11-16 15:18] JonDouglas commented on #10389
I posted on the PR this morning. I will have a larger update shortly. Sorry for the wait. I owe an update here.

[2021-11-16 16:30] erdembayar opened #11390 "Fix broken NuGet logo image"
NuGet logo on NuGet.Client repo is broken.
![image.png](https://images.zenhubusercontent.com/5eb1d84a3cd56675c3efe510/b7dc38fa-bdf7-4165-ab1b-e587ca4e2db1)

[2021-11-16 16:56] crayxom commented on #4387
+1. I'm in corp environment and can't get past SSL issue in WSL. Maybe there's a convoluted way, but I just wanna "skip ssl verification" option like most other ecosystems have, to get past this one thing so I can test this one thing and be done with it.

[2021-11-16 17:38] zivkan commented on #4387
GitHub notifications tells me this issue was updated in the last hour, but I only see a comment from 6 months ago 😕

Anyway, since that question was never answered: NuGet uses standard .NET APIs to validate certificates. Therefore any certificate that the "operating system" trusts will be fine with NuGet (Trusted root CA store)

[2021-11-16 17:41] zivkan commented on #4387
Actually, the "NuGet uses standard .NET APIs to validate certificates" refers to signed package validation.

For HTTPS, NuGet uses HttpClient, without any special configuration, so if a console app using `await (new HttpClient()).GetAsync("https://your-host/")` works, then so should NuGet.

[2021-11-16 19:13] JonDouglas commented on #10389
Hi all,

We recently published a small document/proposal that includes a few thoughts around this behavior & some questions that would further help us move this feature forward. If would mean a lot if you can provide your feedback in the PR itself:

https://github.com/NuGet/Home/pull/11391

Thanks!

[2021-11-16 20:40] crusader-mike opened #11392 "[Bug]: under certain conditions package restore fails with ProjectNotNominatedException when NuGetPackage is not initialized in VS"
### NuGet Product Used

MSBuild.exe

### Product Version

VS 2019 v16.11.5

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

I have a single C++ project that I have modified (following instructions [here](https://github.com/NuGet/NuGet.Client/pull/3145#issuecomment-888769783)) to provide _PackageReference_ support:
[code]

everythin

[2021-11-16 20:51] dominoFire commented on #11342
We can consider removing `NuGet.VisualStudio.Contracts` resource assemblies from NuGet.Localization package, and those without string resrouces. Table below shows NuGet.Localization assembly contents.

NuGet.PackageManagement is designed to work with VS, whose localization ships inside VS. That requires further analysis.

Resource   DLL | Is VS specific? | Contains String Resources?
-- | -- | --
M

[2021-11-16 21:19] AraHaan commented on #11342
I think a much better option is to be able to tell the .NET SDK to not include to resource assemblies by adding support to msbuild for:

[code]
on project/package references.

[2021-11-16 21:58] crusader-mike commented on #11392
Note: simply opening Package Manager Console (or having it open by default) is enough to make the problem go away.

All I need is to figure out a way to get VS2019 to perform related steps (that `NuGet.SolutionRestoreManager.SolutionRestoreJob` needs to succeed) before kicking off build...

[2021-11-16 23:37] zivkan opened #11394 "[DCR]: NuGet.VisualStudio and NuGet.VisualStudio.Contracts to follow Visual Studio version numbers"
### NuGet Product(s) Affected

Visual Studio Package Management UI, Visual Studio Package Manager Console

### Current Behavior

The packages `NuGet.VisualStudio` and `NuGet.VisualStudio.Contracts`, which define the interfaces for our Visual Studio extensibility, follow NuGet's version numbers. This follows Visual Studio's version numbers, but 11.0 versions behind. For example, NuGet 6.0 shipped i

[2021-11-17 19:23] dominoFire commented on #11387
Similar issue in VSFeedback https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1355557

[2021-11-17 19:50] #11390 closed, assigned to nobody

[2021-11-17 19:54] JonDouglas commented on #4103
Sorry, this has not been on my near-term list. I am hopeful to return to this next year. I apologize for not providing an update sooner as I was off on paternity leave and now focusing on some other large features. When this has our attention again, I will post a full spec on https://github.com/NuGet/Home/pulls & ask for everyone here to provide feedback.

I will also incorporate the various comme

[2021-11-17 19:59] rholdorf commented on #6003
I solved this by installing dotnet 6 sdk

[2021-11-17 19:59] donnie-msft opened #11395 "[Feature]: Provide informative UI element for new Custom Versions combobox"
### NuGet Product(s) Involved

Visual Studio Package Management UI

### The Elevator Pitch

In https://github.com/NuGet/NuGet.Client/pull/4339, the PM UI version combobox is made to be capable of typing custom versions, as part of https://github.com/NuGet/Home/issues/9829.

My suggestion is to add something near this combobox, such as ℹ️, with text and/or hyperlinks to documentation explaining wha

[2021-11-17 22:01] vsfeedback opened #11396 ""nuget sources add" does not support setting NuGet API version"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/nuget-sources-add-does-not-support-set/1585758)._

---
[severity:It's more difficult to complete my work]
When running "nuget sources add" command, it does not support setting NuGet API version.  There should be an option to set the "protocolVersion" parameter in the NuGet.Config file th

[2021-11-18 00:38] dominoFire opened #11397 "[DCR]: Refactor `CpsPackageRefereneProject`, `LegacyPackageReferenceProject` and `PackageReferenceProject`"
### NuGet Product(s) Affected

Visual Studio Package Management UI, Visual Studio Package Manager Console

### Current Behavior

There are two different implementations of GetInstalledAndTransitivePackagesAsync() method in CpsPackageRefereneProject and LegacyPackageReferenceProject classes.

### Desired Behavior

The goal of this issue is to refactor those classes and have a common implementation

[2021-11-18 02:09] jjmanton commented on #10882
I found why we are seeing this more often than others.

When restoring, we specify a custom location to place the packages. This leads to many packages being copied and unpacked, and potentially in parallel. It seems that two restores could attempt to unpack a nuget package at the same time, and there is not a clear way to know if a nuget package has completed being unpacked/unzipped.

A possible

[2021-11-18 02:20] erdembayar commented on #11331
OrchardCore:
![image](https://user-images.githubusercontent.com/8766776/142339316-c36ad150-d31c-4d15-8135-3e91299271e6.png)

![image](https://user-images.githubusercontent.com/8766776/142339519-8f100788-e82d-456b-8738-c0a806faa5d9.png)

[2021-11-18 12:03] canfucius commented on #5553
So is this issue fixed? And will there be documentation to show how to properly handle float versioning throughout an entire project?

[2021-11-18 12:07] tebeco commented on #5553
the title is about direct OR TRANSITIVE
so it's still not possible no

also you can't decide about a strategy AT ALL, you have to go manually edit every single dependency one by one
like when you use `dotnet add package` it won't care

as for the lockfile, did they fixed
* the cross-platform issue raising error when you generate a lockfile on windows and use it on linux (or the opposite way)
* how

[2021-11-18 12:58] fgreinacher commented on #10558
@marcpopMSFT @nkolev92 @heng-liu Would you accept a community contribution for this?

[2021-11-18 15:47] zivkan commented on #10558
I wanted to be helpful and write an comment with links helping you to get started, but then I realized that all the product code that needs to be changed is in `HttpRetryHandler`, so it was actually quick enough to do myself: https://github.com/NuGet/NuGet.Client/compare/dev-zivkan-handle-http-429

However, I haven't yet tested this whatsoever.

If you'd like to try to figure out NuGet.Protocol's

[2021-11-18 16:58] zivkan commented on #10882
NuGet has a class named [ConcurrencyUtilities](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Common/ConcurrencyUtilities.cs) that is used to make sure only one process is extracting the global packages folder at a time. However, it uses a file in the temp directory, so it requires all processes to use the same temp directory.

[2021-11-18 17:58] crusader-mike opened #11398 "[Bug]: NuGet goes nuts if two PackageReference projects live in same directory"
### NuGet Product Used

MSBuild.exe

### Product Version

VS 2019 v16.11.5

### Worked before?

no

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

1. Have two .csproj files in the same directory
2. install a nuget package into each one using PackageReference
3. trigger NuGet restore
4. enjoy it overwriting obj/project.assets.json and obj/project.nuget.cache in random or

[2021-11-18 18:11] dominoFire commented on #11398
Thanks for reporting this issue. It seems you found a way to restore two projects in the same folder. 👏🏽

I will close this issue for now. If you have more questions, please let us know

[2021-11-18 18:11] #11398 closed, assigned to nobody

[2021-11-18 18:13] crusader-mike commented on #11398
@dominoFire Any reason why you closed this problem instead of fixing it? Just because there is a workaround? Really?

[2021-11-18 19:16] KSchlobohm opened #11399 "[Feature]: Examine Project-to-Project References when migrating from packages.config to PackageReference"
### NuGet Product(s) Involved

Visual Studio Package Management UI

### The Elevator Pitch

Examine the project-to-project references when identifying top-level dependencies. Currently the PackageReference migrator tool will only examine the current project but the PackageReference system enables dependencies to flow through the P2P reference.

![image](https://user-images.githubusercontent.com/23

[2021-11-18 19:20] JonDouglas commented on #9347
We recently shipped the Xamarin model for [.NET 6.0 TFMs](https://github.com/dotnet/designs/blob/main/accepted/2021/net6.0-tfms/net6.0-tfms.md). In a previous [.NET 5 spec](https://github.com/dotnet/designs/blob/main/accepted/2020/net5/net5.md#design), it was mentioned that Unity would follow the Xamarin model.

With this in mind and knowing that Unity would like to commit to this, we may need a s

[2021-11-18 19:22] heng-liu opened #11400 "The fallback for secondary search endpoint doesn't work"
@loic-sharma mentioned:  NuGet client will try the "primary" search endpoint, and if that fails, fallback to the "secondary" search endpoint does not happen

@zivkan helped finding the fallback at: https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Protocol/Resources/PackageSearchResourceV3.cs#L113
But it doesn't seem to retry:
https://github.com/NuGet/NuGet.Client/blob/dev/src/Nu

[2021-11-18 19:33] zivkan commented on #11392
As you mentioned [C++ projects don't officially support PackageReference](https://github.com/NuGet/Home/issues/8874). Therefore we unfortunately can't commit resources to investigating this.

[2021-11-18 19:33] #11392 closed, assigned to nobody

[2021-11-18 19:37] nkolev92 commented on #11396
Dup of https://github.com/NuGet/Home/issues/9170

[2021-11-18 19:37] #11396 closed, assigned to nobody

[2021-11-18 19:41] crusader-mike commented on #11392
@zivkan Is there any way to force initialization of NuGetPackage in VS? Not asking you to "commit resources" -- maybe you know it from the top of your head.

[2021-11-18 19:45] zivkan commented on #11392
If you open the Package Manager Console, it will load. VS lazy-loads tool windows, so if you restart VS and see PMC as a "background" tab, PMC won't be loaded, so you'll need to click on it every time you restart VS. Alternatively, open Tools->Options and open either of the NuGet options pages, but this is much slower than opening PMC.

Depending on how motivated you are, you could create your own

[2021-11-18 19:56] crusader-mike commented on #11392
@zivkan This is actually an interesting idea -- I'll see if I can put this VS extension together. I know very little about NuGet integration with VS and I really appreciate your help, thank you.

I guess, when you press Build in VS it kicks off MSBuild process that restores NuGet packages and this somehow ties into NuGetPackage (which at this point may or may not be initialized yet). I wonder if I

[2021-11-18 20:32] zivkan commented on #11392
Restore in Visual Studio is not via MSBuild, which is the reason why all this is a problem. We can provide much faster no-op restore (up to date check, when no package or project references changed since the last time restore/build ran), not to mention VS specific credential providers for private feeds, avoid re-reading and parsing the nuget.config multiple times, by not participating in MSBuild.

[2021-11-18 21:42] KirillOsenkov commented on #11388
@sandyarmstrong brings up a valid point that this may be a more general problem than just a single package that wasn't authored for net6.

If we reference Lucene.Net 3.0.3 directly from the project, it works fine, but it is silently dropped as an indirect dependency. This behavior seems suspicious (a bug?)

@nkolev92

[2021-11-18 21:45] sandyarmstrong commented on #11388
Right. Basically, if I have a net6.0 app, and I reference a net472 package, nuget is giving me a reference to its net472 assembly. So why not continue down the net472 dependency chain?

Certainly a warning would be appropriate but it seems like when trying to reference a package from another target framework, you should get everything or nothing.

[2021-11-18 21:45] nkolev92 commented on #11388
Yeah, the bug is https://github.com/NuGet/Home/issues/5957.

It's a long standing bug that I've been wanting to fix for a while.
Really hoping to get to it soon.

Setting expectations, NuGet.Indexing adding explicit support for net6.0 is probably not something that is likely to be high on top of our priority list.

[2021-11-18 21:46] KirillOsenkov commented on #11388
Yeah, we've worked around this particular issue by explicitly referencing Lucene.Net, so we're not blocked, but we're hitting this scenario all over the place for other packages, so please focus on fixing #5957. Glad it's known! Thanks!

[2021-11-18 21:49] KirillOsenkov commented on #5957
This is a major adoption blocker for .NET and causing unnecessary friction in the ecosystem. Would be nice to prioritize this please.

@clairernovotny do you know anyone on the NuGet team who could perhaps champion this? ;)

[2021-11-19 00:07] crusader-mike commented on #11392
@zivkan Huh... This could explain why I don't have this problem in another solution (that in addition to C++ project also contains few `.csproj`). Maybe VS calls you only if certain conditions are met (like presence of officially supported project type in solution)...

Thank you for the link, I'll read it tonight.

It certainly works in my case (solution with ~120 projects, mix of C++, C++/CLI and

[2021-11-19 00:57] nkolev92 opened #11401 "PackageSearchMetadata allocates PackageIdentity on every access to the identity property."
https://github.com/NuGet/NuGet.Client/blame/dev/src/NuGet.Core/NuGet.Protocol/Model/PackageSearchMetadata.cs#L47
![image](https://user-images.githubusercontent.com/8766776/142551366-e449fe70-5a26-454d-85ae-514e5cffba8d.png)

[2021-11-19 00:58] nkolev92 commented on #11401
cc @davkean @zivkan @donnie-msft

[2021-11-19 09:16] xoofx commented on #9347
We will come back to you here once we have clarified a few things on our side at Unity.

[2021-11-19 12:08] fgreinacher commented on #10558
Wow, nice!

Happy to help however I can! Is there a straightforward way to get your changes in a custom `dotnet` CLI?

[2021-11-19 13:24] zivkan commented on #10558
https://github.com/NuGet/NuGet.Client/blob/dev/docs/debugging.md#debugging-restore-task-in-dotnetexe
https://github.com/NuGet/NuGet.Client/blob/15be58f38274a1d78c3283560d3d57aadd3ba3dd/scripts/nuget-debug-helpers.ps1#L38

Replace msbuild with dotnet, and it's the same, as mentioned in debugging.md. Also, I'm pretty sure only NuGetRestoreTargets needs to be defined, because the other two properties

[2021-11-19 14:46] #11394 closed, assigned to zivkan

[2021-11-19 15:20] chucker opened #11402 "[DCR]: improve HTTP authentication flow for package sources"
### NuGet Product(s) Affected

Visual Studio Package Management UI

### Current Behavior

VS doesn't appear to have a well-defined UI for prompting for NuGet package source credentials. For some (not all?) users, there was a message in **Output** that simply asked the user to use interactive mode for authentication. This is cumbersome, because an IDE _is_ already the interactive mode, and it isn't

[2021-11-19 15:22] chucker commented on #11402
(Last tested several months ago, with VS 2019, but I was asked to file this nonetheless.)

[2021-11-19 18:40] milespossing commented on #6003
@rholdorf were you able to simply run `dotnet restore` with dotnet 6 installed? Or were there more steps?

[2021-11-19 20:49] #11382 closed, assigned to nobody

[2021-11-19 21:00] donnie-msft commented on #11395
Version range docs: https://docs.microsoft.com/en-us/nuget/concepts/package-versioning#version-ranges

[2021-11-19 21:10] JonDouglas commented on #6867
NuGet has released support for this via a new feature called `Package Source Mapping`. It is included in .NET 6 & NuGet 6.0.

https://docs.microsoft.com/nuget/release-notes/nuget-6.0#source-mapping

Thus we are closing this issue with a 🎉!

[2021-11-19 21:10] #6867 closed, assigned to JonDouglas, nkolev92

[2021-11-19 23:32] jebriede commented on #10477
Thanks for reporting this issue! This was addressed with the following PR: https://github.com/NuGet/NuGet.Client/pull/4178

[2021-11-19 23:32] #10477 closed, assigned to jebriede

[2021-11-20 18:07] sebastienros commented on #9647
I also favor a change here. It's very common for me (multiple repositories) to push several packages with symbols. Now one package may fail, or even `dotnet push` may fail in the middle. If I run the publish script again, it skips the packages, but the symbols are updated and screw everything up because they don't match anymore.

Had the issue last month with Orchard (200 packages, now half of the

[2021-11-20 18:24] IslanderN opened #11405 "[Bug]: SSL connection could not be established when restore f# project on Ubuntu 20.04.3 LTS"
### NuGet Product Used

dotnet.exe

### Product Version

5.0.402

### Worked before?

_No response_

### Impact

_No response_

### Repro Steps & Context

Step to reproduce

1. dotnet new console --language F#
2. dotnet restore

### Verbose Logs

[code]

[2021-11-21 02:24] smartpcr commented on #7839
after updating file here `~/.nuget/NuGet/NuGet.Config`, i am able to run `dotnet restore ...`

[2021-11-21 09:54] thargy commented on #5820
I am still getting this problem.  In VS2022.  If Sln `S` has project `A` that includes project `B` from outside of Sln `S` (in Sln `T`).  Rebuilding `B` separately is not enough.  I have to also run `dotnet restore` (via the CLI) on Sln `S` before project `A` will build.

So, in my scenario, where Sln `S` repo includes a submodule of Sln `T` and then adds a `<ProjectReference>` in `A` to `B` I can

[2021-11-21 10:42] IslanderN commented on #11405
I decided to remove dotnet and install again, cause it seams to be dotnet ceritficate problems.

I performed  `sudo rm -rf /usr/share/dotnet/` to remove.
Then go to https://docs.microsoft.com/en-us/dotnet/core/install/linux-ubuntu#2004- page for installing.

Perform
`wget https://packages.microsoft.com/config/ubuntu/20.04/packages-microsoft-prod.deb -O packages-microsoft-prod.deb`
and got

[code]

[2021-11-21 10:43] #11405 closed, assigned to nobody

[2021-11-22 07:17] v-luzh commented on #11340
@aortiz-msft - No, it didn't populate until reopening PM UI when I reproduced this bug. And it is an unstable issue because repro rate is 10%~20%.

[2021-11-22 11:55] rholdorf commented on #6003
That is correct, @milespossing. Went to the [.NET site](https://dotnet.microsoft.com/download/dotnet/6.0) downloaded the SDK 6.0.100, installed and it finally worked fine. Oh, Im running Monterey btw.

[2021-11-22 13:00] fgreinacher commented on #10558
@zivkan Thanks a lot for the great help setting this up! It worked out great and I was able to play around with your branch a bit.

Unfortunately the changes don't seem to be effective for `dotnet restore` as the retry logic is disabled at the call site:

https://github.com/NuGet/NuGet.Client/blob/5c09eab016e12b2dbb083e4da87588e4ac5dfa36/src/NuGet.Core/NuGet.Protocol/Utility/FindPackagesByIdNupkgD

[2021-11-22 15:07] #11376 closed, assigned to jeffkl

[2021-11-22 15:53] eddex commented on #4103
![](https://media1.giphy.com/media/QPQ3xlJhqR1BXl89RG/giphy.gif?cid=ecf05e47jkn70si3i27o0bhaz2qwuywdhcg74z2vwgnu44kc&rid=giphy.gif&ct=g)

[2021-11-22 16:18] rtaylor72 commented on #9170
Is there an ETA on this? Should be very easy to implement.

[2021-11-22 16:53] josesimoes commented on #10800
Heads up on this: I've managed to build mscorlib for .NET nanoFramework with the WIP SDK **being** as a csproj!
This is somewhat promising because with this the amount of changes required in NuGet and .NET targets & props are significantly decreased.

Still unknown on what concerns the debugging launching from VS (which was one of the drivers for using nfproj) can only test after being able to pac

[2021-11-22 20:37] cheesi opened #11406 "Package Source Mapping: Difficulty using it on Azure DevOps CI because it ends up needing `feed-` prefixes in the source mapping configuration."
## Maintainer Edit

**The Azure DevOps problems occur when the DotNetCoreCLI  is used.
The recommendation is to *stop* using the DotNetCoreCLI task and use NuGetAuthenticate for authentication and then use a Command Line Task to invoke `dotnet`.**

See: https://github.com/NuGet/Home/issues/11406#issuecomment-982096484

### NuGet Product(s) Involved

NuGet.exe, dotnet.exe

### The Elevator Pitch

W

[2021-11-22 21:30] nkolev92 commented on #11389
Closing as dup of #11234

[2021-11-22 21:30] #11389 closed, assigned to nobody

[2021-11-22 21:48] #11297 closed, assigned to dominoFire

[2021-11-22 23:22] woter1832 commented on #6328
The solution/project built fine on my Windows device in VS Code, (`dotnet build`) but was failing on my Azure DevOps agent running Linux Fedora core:
[code]
In my case, the agent couldn't install/copy the `nlog` package to the path. Looking at the permissions, everything was owned by root.

I am not sure why, but my guess is when installing NuGet, it looks for the install location of dotnet and in

[2021-11-22 23:43] dominoFire opened #11407 "[Bug]: `RegistryKeyUtility.GetValueFromRegistryKey()` has unused parameter, leading to incorrect results"
### NuGet Product Used

NuGet.exe

### Product Version

6.0

### Worked before?

No

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

By taking a look at `RegistryKeyUtility` code, there's an unused parameter called `registryKeyPath`

https://github.com/NuGet/NuGet.Client/blob/a8b6b1fb3a1bccd207a83612cd0f5e1f4ff1d0b8/src/NuGet.Clients/NuGet.CommandLine/RegistryKeyUtility.

[2021-11-23 00:47] nkolev92 commented on #11399
Hey @KSchlobohm,

What would you expect NuGet to do differently from what it does today?

Can you please give us an example?
Thanks!

[2021-11-23 00:57] nkolev92 commented on #11400
The retry is happening in a different layer.
Through: https://github.com/NuGet/NuGet.Client/blob/a8b6b1fb3a1bccd207a83612cd0f5e1f4ff1d0b8/src/NuGet.Core/NuGet.Protocol/Resources/PackageSearchResourceV3.cs#L102,  which goes to https://github.com/NuGet/NuGet.Client/blob/a8b6b1fb3a1bccd207a83612cd0f5e1f4ff1d0b8/src/NuGet.Core/NuGet.Protocol/Resources/PackageSearchResourceV3.cs#L226, which goes to htt

[2021-11-23 01:03] nkolev92 commented on #11402
Hey @chucker,

There's definitely some work that needs to be done here, in particular https://github.com/NuGet/Home/issues/7814 and many other issues related to Azure DevOps feeds in particular.

The authentication experience in NuGet is driven through Extensibility, which means it is on the package source owners to provide the proper mechanics, https://docs.microsoft.com/en-us/nuget/consume-packa

[2021-11-23 01:15] nkolev92 commented on #11406
Thanks for trying out our new feature @cheesi!

Feed availability *does not* affect package source mapping, so whether contoso is available or not, there will be no fallback to NuGet.org.

This really depends on the source mapping configuration.
Would you be able to share the config (consider Find-And-Replace internal names you don't want to share.

Best match should be the *only* source used. If

[2021-11-23 01:17] nkolev92 commented on #11316
Hey @Luk164

Just closing this thread here.
NuGet will by design fail if any of the fallback folders or sources are unavailable.

Does removing the source fix things on your end?

[2021-11-23 01:20] Luk164 commented on #11316
@nkolev92 Yes the fix worked, but I would still like to know why I needed to fix anything in the first place. I am 100% positive that I did not create that path myself. I strongly suspect it was created during an update

[2021-11-23 01:21] nkolev92 commented on #9462
Hey @ghost1372

Install scripts are not supported in PackageReference (the package management style under .NET Core).

Refer to https://github.com/NuGet/Home/issues/5963.

[2021-11-23 01:21] #9462 closed, assigned to nobody

[2021-11-23 01:25] nkolev92 commented on #11303
@AraHaan

You shouldn't request resources with the type, but only the abstract versions and let NuGet determine the feed type based on it's own heuristics (which are pretty rudimentary admittedly, but pretty reliable).

Refer to:

https://docs.microsoft.com/en-us/nuget/reference/nuget-client-sdk#list-package-versions

Replacing nuget.org in the example with *any* source should do it.

Critical par

[2021-11-23 01:27] nkolev92 commented on #11316
It can be pretty difficult to track what happened.
NuGet itself does not really create these paths and only reacts to it.

If you can diagnose what happened, then I'd recommend filing a https://developercommunity.visualstudio.com/ issue.

[2021-11-23 01:29] nkolev92 commented on #11323
Closing this as a stale issue.

[2021-11-23 01:29] #11323 closed, assigned to nobody

[2021-11-23 01:34] nkolev92 commented on #11342
@dominoFire

We know which assembly resources are needed in the .NET SDK, it's the ones that we insert.

We can clean up the authoring of the NuGet.Localization package, https://github.com/NuGet/NuGet.Client/blob/a8b6b1fb3a1bccd207a83612cd0f5e1f4ff1d0b8/src/NuGet.Core/NuGet.Localization/NuGet.Localization.nuspec#L21.

Alternatively, the installer could probably exclude certain files if necessary?

[2021-11-23 09:10] woeterman94 commented on #11323
What more info do you need?

[2021-11-23 10:10] KalleOlaviNiemitalo opened #11408 "[Feature]: "dotnet list package" option to set an MSBuild property"
### NuGet Product(s) Involved

dotnet.exe

### The Elevator Pitch

Make `dotnet list package` accept an option, e.g. `--property:NAME=VALUE`, that lets me pass in arbitrary MSBuild global properties that can then be referenced in MSBuild `Import` elements. Properties can already be passed in as environment variables but that seems a bit deprecated according to <https://github.com/dotnet/msbuild/is

[2021-11-23 12:10] cheesi commented on #11406
If that's the case, then no, I don't see a reason for an exclude feature.
But then there are definitely some bugs.

Would you be able to share the config (consider Find-And-Replace internal names you don't want to share.

Yeah it's the config from above (just changed to fit our pattern):
[code]

I attached the log file, as it quite big: [source_mapping.log](https://github.com/NuGet/Home/files/7587

[2021-11-23 12:48] cheesi commented on #11406
We were able to figure it out. After some time, I thought, why does the log always say `feed-orga-project`?
I then took a blind shot with this config:
[code]

So I had to prefix the `packageSource` `key` with a `feed-`

And now the NuGet restore works:
![image](https://user-images.githubusercontent.com/5590254/143026493-4da42c32-c42f-4427-827e-9e138954d602.png)

But that's definitely not how it's

[2021-11-23 15:17] parth1408 commented on #10520
Microsoft.ServiceHub.Framework.ServiceActivationFailedException:
Activating the &quot;Microsoft.VisualStudio.FileSystem.LocalFileSystemProvider (1.0)&quot;
service failed. ---&gt; System.InvalidCastException: Unable to cast object of type &apos;
Microsoft.VisualStudio.PlatformUI.Packages.FileSystem.LocalFileSystemProvider&apos; to type &apos;Microsoft.VisualStudio.RpcContracts.FileSystem.IRemoteFi

[2021-11-23 16:16] zivkan commented on #10520
@parth1408 NuGet doesn't use Visual Studio's FileSystem abstraction (IRemoteFileSystemProvider, LocalFileSystemProvider). Therefore, I believe you are reporting a problem not related to NuGet.

I recommend you [report that error with Visual Studio's report a problem feature](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio?view=vs-2022).  None of types r

[2021-11-23 16:22] zivkan commented on #10520
AzDO bug 1240336 was closed in April.  Closing this issue.

[2021-11-23 16:22] #10520 closed, assigned to dtivel

[2021-11-23 19:20] nkolev92 commented on #11342
I don't have really have all the context.

Package size was probably a pretty big concern.

Localized packages are not the smoothest experience.
You can put them in a package, but those assemblies getting consumed the right way is not easy in all scenarios.

I think there's a `do customers want` it type of consideration as well.

[2021-11-23 22:18] kartheekp-ms opened #11409 "Reduce heap allocations in ResolverUtility.FindLibraryByVersionAsync"
@kartheekp-ms commented on [Tue Nov 23 2021](https://github.com/NuGet/Client.Engineering/issues/1314)

While working on https://github.com/nuget/client.engineering/issues/1057 issue, I noticed that `ResolverUtility.FindLibraryByVersionAsync` method https://github.com/NuGet/NuGet.Client/blob/a8b6b1fb3a1bccd207a83612cd0f5e1f4ff1d0b8/src/NuGet.Core/NuGet.DependencyResolver.Core/ResolverUtility.cs#L36

[2021-11-23 22:20] zivkan commented on #11400
The issue is about fallback to secondary search servers defined in the service index, not retrying the same URL.

[2021-11-23 23:10] bitbonk commented on #9014
Any update on when this (very cool) feature is going to be fully implemented?

[2021-11-24 01:26] #11407 closed, assigned to dominoFire

[2021-11-24 01:57] #11387 closed, assigned to zivkan

[2021-11-24 03:22] donnie-msft opened #11410 "[DCR]: Versions dropdown in PM UI should indicate it's being loaded"
### NuGet Product(s) Affected

Visual Studio Package Management UI

### Current Behavior

A blank dropdown is shown with no indication of loading in-progress:
![image](https://user-images.githubusercontent.com/49205731/143167967-aecb4117-f5c9-45ff-b011-41670dedf568.png)

### Desired Behavior

Show some UI element, such as a Loading spinner, to indicate this dropdown is loading.

### Additional Con

[2021-11-24 03:23] #10557 closed, assigned to donnie-msft

[2021-11-24 04:28] KirillOsenkov opened #11411 "[Feature]: Log which Restore inputs have changed"
### NuGet Product(s) Involved

NuGet.exe, MSBuild.exe, dotnet.exe

### The Elevator Pitch

When Restore inputs have changed and no-op restore is not possible, it is vital to log which input changed and how.

Right now we just print:
`The restore inputs for 'Proj1' have changed. Continuing restore.`

We need to at least print a message about which input(s) have changed, and how. This information is

[2021-11-24 04:29] KirillOsenkov commented on #11411
@jeffkl I'll owe you a bottle of something expensive, your choice

[2021-11-24 04:30] KirillOsenkov commented on #11411
or @nkolev92 or anyone else really ;)

[2021-11-24 05:18] KirillOsenkov commented on #11411
I have a situation where the restore runs, but the project.assets.json, project.nuget.cache, dgspec.json, g.props and g.targets get overwritten, but with the exact same content.

This should not be possible. If the file being written has the exact same content that we're about to write, we shouldn't be touching the file because it would invalidate incremental builds. Not sure how to debug this wit

[2021-11-24 05:26] KirillOsenkov commented on #11411
Here, on this line we must be much more verbose, and log exactly why we chose to restore:
https://github.com/NuGet/NuGet.Client/blob/27e64ba7b38abda73ac20173eb6ffaf8b1c2d3d7/src/NuGet.Core/NuGet.Commands/RestoreCommand/RestoreCommand.cs#L615

[2021-11-24 05:27] KirillOsenkov commented on #11411
Haha, by looking at the blame I happened to tag just the right people by sheer luck:
![image](https://user-images.githubusercontent.com/679326/143180067-11ef18a3-4c5a-4716-8f34-bc679737bcb8.png)

[2021-11-24 06:34] KirillOsenkov commented on #11411
Hmm, Nuget might not be at fault here - turns out we happened to be restoring the project twice, with different properties, so the first cache was different, but the second one was always overwriting it very quickly. It was flip-flopping between two states.

[2021-11-24 11:20] glatzert commented on #11406
We are seeing this too, the workaround from @cheesi helped.
I'd assume it's a bug in the tooling, that creates the temp nuget.config for the build.

I changed my packageSoruceMapping to something like this:

[code]

[2021-11-24 13:43] SergGuy commented on #11406
We also were affected by this behavior.

We created the `<packageSourceMapping>` section in the NuGet.config according to the docs, but also were faced with the message `Package source mapping matches found for package ID 'PACKAGE' are: nuget.org,feed-orga-project` during `dotnet restore` on Azure DevOps.

Adding prefix `feed-` to the packageSource key resolved the issue. Many thanks, @cheesi

[2021-11-24 14:16] pavel-agarkov commented on #8167
Can we open this issue? It is still reproducible in our setup.
Please let me know what should I provide to help investigate the problem.
Thank you.

[2021-11-24 14:16] zivkan commented on #11411
The `<projectname>.dgspec.json` file in the `obj` folder is more or less NuGet's inputs for the no-op check. If you can capture the before and after contents, you can diff them to see what has changed and therefore why NuGet did not no-op.

[2021-11-24 15:01] zivkan commented on #3324
As per the Windows team's docs on [supporting long path](https://docs.microsoft.com/en-us/windows/win32/fileio/maximum-file-path-limitation?tabs=cmd):

The docs also show the XML that needs to be in the manifest for the operating system to allow the process to use long paths. If you look at `devenv.exe` manifest (for example, open it in Visual Studio itself), you'll see that it doesn't contain the

[2021-11-24 15:28] zivkan commented on #3324
FWIW, I tried editing my machine's `devenv.exe` to add the `longPathAware` entry in the manifest. NuGet was able to install packages to paths longer than `MAX_PATH`, and create the intermediate files in the `obj` folder that has path longer than `MAX_PATH`. However, if you try to open a soluion where the full path to a csproj is longer than `MAX_PATH`, then Visual Studio crashes. There are many co

[2021-11-24 16:22] zivkan opened #11412 "[DCR]: Deprecate VS Extensibility APIs that use System.Version"
### NuGet Product(s) Affected

NuGet SDK

### Current Behavior

Some VS extensibility APIs use `System.Version` as a package identifier. This doesn't support pre-release (SemVer) formatting, hence these APIs are unusable with prerelease packages. Extension authors may be confused, particularly if they don't check `Version.TryParse`'s return value.

### Desired Behavior

Mark affected APIs with `Ob

[2021-11-24 17:52] nkolev92 commented on #11411
What @zivkan said.

Restore no-op today is just a hash comparison, so we don't really keep track of the changes at this point.

Theoretically we *could* load the old dgspec json and compare it to the current one, but Ithe perf hit would not be ideal to have by default.

The no-op time is largely string comparison / hash computation right now.

[2021-11-24 17:58] nkolev92 commented on #11406
Thanks for your comments folks.

Checking right now.

I'd be surprised if `feed` did anything, as we're only doing a string comparison of the keys.

[2021-11-24 19:08] nkolev92 opened #11413 "[Bug]: Package Source Mapping matches found should not be logged for projects"
### NuGet Product Used

dotnet.exe, MSBuild.exe, NuGet.exe

### Product Version

6.0

### Worked before?

No

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

Say you have a NuGet.Config setup as following, with source mapping enabled:

[code]

and you have a project called `Contoso.Application`, referencing `Contoso.Lib1` (project as well).

The logs would display.

[cod

[2021-11-24 19:12] nkolev92 commented on #11413
Code https://github.com/NuGet/NuGet.Client/blob/edd8d7a2e779d89e1a8386deecf5f01f5a3b5223/src/NuGet.Core/NuGet.DependencyResolver.Core/Remote/RemoteWalkContext.cs#L61 and https://github.com/NuGet/NuGet.Client/blob/edd8d7a2e779d89e1a8386deecf5f01f5a3b5223/src/NuGet.Core/NuGet.DependencyResolver.Core/ResolverUtility.cs#L50

[2021-11-24 19:15] nkolev92 commented on #11406
You are correct, there should be no lines for projects. I have created a separate issue to track *this* behavior. https://github.com/NuGet/Home/issues/11413

That's great analysis @cheesi!

How is your config generated?
as @glatzert mentioned,

we need to figure out how the nuget.config was generate and how that feed was added there.

Are you using some azure devops tasks to add sources?

@SergGuy

[2021-11-24 19:33] nkolev92 commented on #11406
Making progress, seing that there's some magic happening in some azure pipeline tasks:

https://github.com/microsoft/azure-pipelines-tasks/search?q=feed-

If anyone can let me know which tasks they're using that  Nuget related that'd be great!

[2021-11-24 19:54] nkolev92 commented on #11406
Hey all,

I have made some progress and figured out that Azure DevOps tasks rewrite the configs and add `feed-` to the nuget.config.

I have filled an issue: https://github.com/microsoft/azure-pipelines-tasks/issues/15542

I'll try to find someone from that end to confirm, but looks like most of the DotnetCoreCLiV2 tasks are affected.

[2021-11-24 19:56] nkolev92 commented on #11406
I have retitled the issue.

I'd appreciate if any of you could confirm my observations and provide info about the NuGet related tasks you have on your CI.

[2021-11-24 20:37] SergGuy commented on #11406
@nkolev92 I can confirm we are using the `DotNetCoreCLI@2` task on Azure DevOps. We are building a solution with only .NET6 projects.

We do not use any NuGet tasks during our CI. There was no need so far. `dotnet` cli worked just fine.

On my dev machine, I wasn't required to add `feed-` to the key to get packages from our private feed. All worked as it is in docs. But strangely with the `feed-`

[2021-11-24 20:57] glatzert commented on #11406
I second this.

Am 24.11.2021 21:38 schrieb SergGuy ***@***.***>:

@nkolev92<https://github.com/nkolev92> I can confirm we are using the ***@***.*** task on Azure DevOps. We are building a solution with only .NET6 projects.

We do not use any NuGet tasks during our CI. There was no need so far. dotnet cli worked just fine.

On my dev machine, I wasn't required to add feed- to the key to get packag

[2021-11-24 20:59] nkolev92 commented on #11406
Thank you for the quick replies folks!

I'll be updating this thread as we make progress with the AzureDevOps tasks, but given that it's the holidays here in the US, it'll likely take a few days.

Regarding `feed-` working locally, note that it will work if you duplicate the configuration, please refer to the Note here: https://docs.microsoft.com/en-us/nuget/consume-packages/package-source-mapping

[2021-11-24 22:23] #11409 closed, assigned to kartheekp-ms

[2021-11-24 23:56] zivkan commented on #11090
I've spent another day or two on this, and it's just not worth the effort.

Caching `IsSolutionOpen`, `SolutionDirectory` and `SolutionFile` based on events that VS provides, I just can't get it to work the same as polling DTE every time the respective methods are called. Using PerfView to capture a trace, these methods are an insignificant duration, so the cost to benefit ratio just isn't there.

[2021-11-25 06:08] MGBtrust opened #11414 "MGBTRUST NuGet"
*

[2021-11-25 06:08] #11414 closed

[2021-11-25 08:26] cheesi commented on #11406
Hey, thanks for creating all the issues and renaming the current one - definitely makes sense.

We are already using NuGetAuthenticate in our CI pipeline:
[code]

[2021-11-25 20:22] loic-sharma commented on #11400
Do y'all have telemetry on how often a customer's search request fails?

[2021-11-26 17:03] bitbonk opened #11415 "[Bug]: weird NU5128 error for a runtime-only package"
### NuGet Product Used

dotnet.exe

### Product Version

.NET SDK 3.1.415

### Worked before?

.NET SDK 3.1.116

### Impact

It's more difficult to complete my work

### Repro Steps & Context

We have a `MyProject.RuntimeOnlyDeps.nuspec` file inside a `MyProject.RuntimeOnlyDeps` folder with a `MyProject.RuntimeOnlyDeps.csproj` that targets  `netcoreapp3.1` and that is needed to deploy some assembl

[2021-11-29 10:05] Regenhardt opened #11417 "[Bug]: Different package resolved with invalid version"
### NuGet Product Used

NuGet.exe, Visual Studio Package Management UI

### Product Version

NuGet Version: 5.6.0.6591, Visual Studio 16.11.5 with NuGet Package Manager 5.11.0

### Worked before?

No

### Impact

It's more difficult to complete my work

### Repro Steps & Context

So, really weird problem here. No idea how that can be or why it happens with this specific package. It's an internal p

[2021-11-29 15:50] #11321 closed, assigned to erdembayar

[2021-11-29 16:41] nkolev92 commented on #11399
I see.
This could be somewhat challenging because an exhaustive/accurate list is impossible without a restore being run.

So I see transparency and setting better expectations for the end user as the goal here. Anything else we might be missing?

What part in particular?
Transitivity?

[2021-11-29 17:25] KSchlobohm commented on #11399
I think that removing the unnecessary direct reference could make the conversion from `packages.config` to `PackageReference` easier to navigate because `PackageReference` handles the dependencies at restore time rather than install time. `Newtonsoft.Json` is not a great example, but tying a project to a specific version via direct dependency can cause other errors such as NU1605.

[2021-11-29 17:31] nkolev92 commented on #11399
Not removing some direct references was a conscious decision, because we can't guarantee the user intention behind having that version.

It's not necessarily a clear cut behavior, but I totally understand where you're coming from.

[2021-11-29 18:50] erdembayar commented on #11355
Close for now, we'll reopen later if needed.

[2021-11-29 18:50] #11355 closed, assigned to erdembayar

[2021-11-29 18:52] jeffkl opened #11418 "Remove NUGET_FRAMEWORKS_INTERNAL compiler constant"
The compiler constant `NUGET_FRAMEWORKS_INTERNAL` was added in https://github.com/NuGet/NuGet.Client/pull/595 but no longer seems to be used.

[2021-11-29 19:03] kartheekp-ms commented on #11385
Once this issue has been fixed, we may have to update the docs to address https://github.com/NuGet/docs.microsoft.com-nuget/issues/2571

[2021-11-29 19:08] #11418 closed, assigned to jeffkl

[2021-11-29 19:38] erdembayar commented on #11415
I was not able to repro the issue, it looks we may actual repro for this.
[code]

[2021-11-29 19:54] erdembayar commented on #11417
@Regenhardt
One way to find out exactly what is pulling in that dependency (LibX 2.67) is retore with binlog then check with https://msbuildlog.com/. Please don't paste/upload your binlog here, it might contain sensitive environmental var data.
`msbuild -bl Ourproduct.csproj`  or `dotnet restore -bl`. It will create `msbuild.restore.binlog` which you can open with https://msbuildlog.com/
Please tr

[2021-11-29 21:12] erdembayar commented on #11415
@bitbonk
dotnet pack MyProject.RuntimeOnlyDeps.csproj -p:NuspecFile=MyProject.RuntimeOnlyDeps.nuspec
I added `dependencies` section into nuspec file then NU5128 warnings disappeared.

[code]
dotnet pack MyProject.RuntimeOnlyDeps.csproj -p:NuspecFile=MyProject.RuntimeOnlyDeps.nuspec
Microsoft (R) Build Engine version 17.0.0+c9eb9dd64 for .NET
Copyright (C) Microsoft Corporation. All rights reserved

[2021-11-29 21:31] zivkan commented on #11342
From @dominoFire's table, NuGet.Localization.resources.dll can be removed, since there is no assembly/code (it's not used either by the .NET SDK or by VS)

[2021-11-29 22:24] nkolev92 commented on #11406
@cheesi
Just to confirm, you're having issues even *with* NuGetAuthenticate there?

[2021-11-29 22:25] cheesi commented on #11406
Yes, I can confirm that.

[2021-11-29 22:30] magleaso commented on #11406
This won't work because the DotNetCoreCLI task handles authentication as well as re-implements dotnet client behavior. When using the _Authenticate tasks, they're intended to handle authentication and to be followed by a simple command line task to invoke the standard CLI client. Using the authenticate task and then the heavy weight DotNetCoreCLI@2 task is redundant.

[2021-11-29 22:52] cheesi commented on #11406
@magleaso
I just checked our history, the `NuGetAuthenticate` was added, as our docker pipeline was set up (where we definitely need it). I guess it was added for "just in case", as I can remember restoring private nuget feeds within the container was a little challenge.

But thanks for the feedback, I did a fast test and the restore indeed works without the `NuGetAuthenticate`. I will create a ta

[2021-11-29 22:55] magleaso commented on #11406
That's the opposite of what I'd recommend. The Authenticate task is newer and less prone to bugs. I would recommend removing the DotNetCoreCLI task and replacing it with a command line task that invokes `dotnet restore`

[2021-11-29 22:56] cheesi commented on #11406
Okay then what is the purpose of DotNetCoreCLI in general, when it is recommended to use command line tasks instead?

[2021-11-29 23:00] magleaso commented on #11406
DotNetCoreCLI is an older task that handles authentication and client behavior. It has been subsumed by the authenticate task because the authenticate task allows you to directly use the dotnet clients that everyone else on the internet is using, so you don't have to deal with situations like the one above where there is a deviation in the behavior of the DotNetCoreCLI task from the standard dotne

[2021-11-29 23:02] cheesi commented on #11406
I see.

So switching to a command line task should solve the problem with the package source mapping, as described above?

[2021-11-29 23:04] magleaso commented on #11406
Yes

[2021-11-29 23:09] cheesi commented on #11406
Thank you very much for the help, we will try this out as soon as possible.

[2021-11-30 01:55] zivkan opened #11419 "[DCR]: Obsolete VS extensibility APIs that use System.Runtime.Versioning.FrameworkName"
### NuGet Product(s) Affected

NuGet SDK

### Current Behavior

`IVsFrameworkCompatibility`, `IVsFrameworkCompatibility2` and `IVsFrameworkParser` all use `System.Runtime.Versioning.FrameworkName`, which is suitable to parse the MSBuild property `TargetFrameworkMoniker`. However, since .NET 5 introduced `net5.0-windows` as a target framework, this is now a combination of MSBuild `TargetFrameworkMo

[2021-11-30 08:05] mohammada72 commented on #6242
This problem is still exists on VS2019 and Nuget.exe 5.11.0.
Please do something.
Thanks.

[2021-11-30 10:01] summer4ever opened #11420 "[Bug]: Some packets are pushed very slow to nuget.server"
### NuGet Product Used

MSBuild.exe, NuGet.exe

### Product Version

nuget.exe 5.11.0.10, msbuild  16.11.1.47101, nuget.server 3.4.1.0

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

1. step one: create some nupkg packages using msbuild xml.  The following code is used to build the package

`<MSBuild Projects="$(BuildSolutionDir)/

[2021-11-30 13:42] AraHaan commented on #11342
Hmm I wonder why there cant be a way to have all of the resources from all of the assemblies into a single central assembly.

Like ``NuGet.Resources`` (where only nuget's packages can see the code that loads the resources as they will all be "internal") that is then used by all of them, and makes everything a lot easier to have it as well. This would then ensure that the .NET SDK, and VS would not

[2021-11-30 17:21] erdembayar commented on #11420
Thank you for filing this issue.
What was the size of the nupkg file?
It's unusual that upload taking 45 sec, but network related performance issue is very hard to diagnose, because there are many moving parts (network speed, router issue, nupkg size, firewall, virus scanner, server issue (empty space, ram, misconfig) etc...).
So, we need to try one by one to rule out most of them.
Do you have con

[2021-11-30 18:33] kartheekp-ms opened #11421 "HAA0301: Heap allocation of closure analyzer warning in restore code path"
@kartheekp-ms commented on [Wed Jul 28 2021](https://github.com/NuGet/Client.Engineering/issues/1060)

Performance analyzers reported following warning

Severity | Code | Description | File | Line | Column | Category
-- | -- | -- | -- | -- | -- | --
Warning | HAA0301 | Heap allocation   of closure Captures: framework,runtimeIdentifier,context,cancellationToken | $\src\NuGet.Core\NuGet.DependencyRe

[2021-11-30 18:34] kartheekp-ms commented on #11421
This issue is already fixed. (see linked issue for more details)

[2021-11-30 18:34] #11421 closed, assigned to kartheekp-ms

[2021-11-30 18:40] zivkan commented on #11367
Visual Studio 17.0.2 was released today, and it should no longer have a problem with NuGet.VisualStudio package version 6.0.0.

[2021-11-30 18:40] #11367 closed, assigned to zivkan

[2021-11-30 18:43] kartheekp-ms opened #11422 "Remove unnecessary calls to .ToList() while fetching installed and transitive packagereferences"
@kartheekp-ms commented on [Mon Aug 23 2021](https://github.com/NuGet/Client.Engineering/issues/1108)

https://github.com/NuGet/NuGet.Client/blob/dbd9822255d619908ea9a51e76b8139d6397909b/src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/Projects/CpsPackageReferenceProject.cs#L247-L261

[2021-11-30 18:43] kartheekp-ms commented on #11422
This issue is already fixed (see linked issue)

[2021-11-30 18:43] #11422 closed, assigned to kartheekp-ms

[2021-11-30 19:45] bitbonk commented on #11415
I don't see what I should add inside the <dependency> node. I don't habe any depedencies.

[2021-11-30 20:14] zivkan commented on #11415
NuGet treats it as a warning. If you're seeing it as an error, it means your project has opt into treating warnings as errors.  Like other warnings you can `<NoWarn>$(NoWarn);NU5128</NoWarn>` if you wish, or stop treating warnings as errors.

The reason the warning exists is because currently neither Visual Studio's package manager UI, nor nuget.org, provide you with any feedback for what target f

[2021-11-30 20:24] bitbonk commented on #11415
Thanks, that makes sense. I am pretty sure I have stumbled across the NU5128 error docs you mentioned but somehow I did not come to the right conclusion. 😊

[2021-11-30 20:24] #11415 closed, assigned to nobody

[2021-12-01 03:36] donnie-msft commented on #11308
Build did fail on a test we previously skipped, but this is not an IPC failure. It looks like a different flaky problem.
https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=5499639&view=ms.vss-test-web.build-test-results-tab&runId=29493686&resultId=100032&paneView=debug

[2021-12-01 07:21] summer4ever commented on #11420
Well, the nupkg size is 10KB

![Capture](https://user-images.githubusercontent.com/95281342/144187677-830037f2-d8c0-4e2e-aad4-120b7c0df0f7.PNG)

I'm the owner of machine at 192.168.34.200, it is our dev server. Copying manually to the destination path is istantaneous and publishing to nuget.org take less than 2 seconds (I already deleted it).

[2021-12-01 09:28] v-longmin opened #11423 "[Bug]: The “Update” button is still clickable after installing a package with latest version in PM UI"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

NuGet Client Dev\6.1.0.66

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

1. Create a new Console App (.Net Core) project.
2. Right-click the project and open Manage NuGet Packages in Solution Explorer.
3. Install a package (e.g. Newtonsoft.Json) with the

[2021-12-01 09:51] v-longmin opened #11424 "[Bug]: The “Install” button is still clickable after typing an invalid version of the package"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

NuGet Client Dev\6.1.066

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

1. Create a new Console App (.Net Core) project.
2. Right-click the project and open Manage NuGet Packages in Solution Explorer.
3. Search a package (Microsoft.NET.Test.Sdk) in PM UI

[2021-12-01 10:02] v-crchang opened #11425 "[Bug]: The status of installed package with “PackagesReference” format is incorrect in “Installed”/“Updates” Tab"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Dev\6.1.0.66

### Worked before?

Dev\6.1.0.64

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

1. Create a C# Console App (.NET Framework) project.
2. Open PM UI of the project by right-clicking the project->Manage NuGet Packages… in Solution Explorer.
3. Install a package (e.g. “Newtonsof

[2021-12-01 10:50] Rand-Random opened #11426 "[Bug]: Should "nuget update --self" update to version 6.0?"
The command "nuget update --self" only updated to the latest minor version 5.11.x.
Not sure if that behaviour is desired or not.

[2021-12-01 16:56] #11412 closed, assigned to zivkan

[2021-12-01 16:56] #11419 closed, assigned to zivkan

[2021-12-01 16:57] erdembayar commented on #11420
Did you push to your local server or just copy? You can push to shared folder on your local server.

[2021-12-01 17:01] summer4ever commented on #11420
I tried with both, copy and push.  But now, and I don't know why, everything works like a charm.  I'm investigating with my IT guys, maybe they changed something somewhere without telling me.  I'll let you know

[2021-12-01 17:14] erdembayar commented on #11420
It looks both nuget.client and nuget.server(nuget.org) are working as expected.
I strongly believe it's something to do with local server setting.

[2021-12-01 17:19] summer4ever commented on #11420
Do you means that my 192.168.34.200 server has something "wrong"?  I will try with a new IIS Server on a new vm.  Do you suggest to use local storage instead of a network folder as "packagesPath"?