[2022-02-10 01:23] nkolev92 commented on #6872
In 17.2, we're adding an API that's kind of equivalent.

You can read more about it in https://github.com/NuGet/Home/blob/dev/proposed/2021/ProjectUpdateEventsInVisualStudio.md

[2022-02-10 02:21] nkolev92 commented on #11501
take #1 https://github.com/NuGet/NuGet.Client/compare/dev-nkolev92-asyncInitOfOutputWindow?expand=1.

ideally the solution is neater than this.

[2022-02-10 02:27] nkolev92 commented on #11501
The stack is:

[code]

[2022-02-10 16:36] zivkan commented on #11577
@v-luzh I cherry-picked this fix onto the `release-5.11.x` branch: https://github.com/NuGet/NuGet.Client/pull/4376

Can you please test again? From my own testing the add and remove buttons don't clear the checkboxes, and with the arrows gone, this issue should no longer be a problem.

[2022-02-10 17:27] Forgind opened #11584 "Msbuild lock"
---
**Issue moved from dotnet/msbuild#7384**
- Please respond to @VasekLexa.

---

_From @VasekLexa on Thursday, February 10, 2022 10:56:49 AM_

### Issue Description

### Steps to Reproduce
This happens from time to time on our CI server. Msbuild process does not end, it locks some log file.
Last line in the log is:
C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\IDE\CommonExtens

[2022-02-10 17:27] Forgind commented on #11584
---
**Issue moved from dotnet/msbuild#7384**
- Please respond to @BenVillalobos.

---

_From @BenVillalobos on Thursday, February 10, 2022 5:25:33 PM_

MSBuild Team Triage: This looks like a NuGet issue. Routing over to nuget team

[2022-02-10 17:36] #11432 closed, assigned to nkolev92

[2022-02-10 17:36] hmz777 commented on #9020
I was working with [eShopOnContainers](https://github.com/dotnet-architecture/eShopOnContainers) and what solved it for me, was to add this to `NuGet.config` (5 is a random number you can experiment with more but 5 did the trick).
[code]

[2022-02-10 19:21] zivkan commented on #11579
Triage:  local file feed code is in NuGet.Protocol, which could possible affect restore. Validate if restore is affected, and if it is not, we can lower the priority.

[2022-02-10 19:24] zivkan commented on #11576
Triage: Validate if it might affect restore. If not, we can lower the priority.

[2022-02-10 21:22] erdembayar opened #11585 "Warn about package source mapping section without any pattern rules"
Recently we got feedback on how to enable `packageSourceMapping`. Currently just having it `nuget.config` doesn't actually do anything, restore happens without any pattern rules. So question is should we warn about packageSourceMapping nodes without rules.

For example:
[code]

Above scenario implicitly happen nuget.config in child folder (one for test projects) even though parent `nuget.config` h

[2022-02-10 23:56] nkolev92 commented on #11501
|Name	|Total (Allocations)	|Self (Allocations)|	Self Size (Bytes)|
|----------|---------------------|-------------------|--------------------|
| - MeasureAllocations.Program.FirstInitialize(Microsoft.VisualStudio.Threading.JoinableTaskFactory, Microsoft.VisualStudio.Threading.AsyncLazy<int>)	| 576	| 12	| 564|
| - MeasureAllocations.Program.GetValue100x(Microsoft.VisualStudio.Threading.JoinableTask

[2022-02-11 02:46] donnie-msft commented on #11127
I've blocked this on https://github.com/NuGet/Home/issues/11410
Chatting with @JonDouglas brought up the point of emphasis: we want to ensure the versions and all vulnerabilities are loaded *before* rendering this list of versions.

[2022-02-11 04:51] AbishakeD commented on #11542
Hi ,

I’m also faced this issue. Could you please update on this?

Thanks,
Abishake

[2022-02-11 04:54] drdamour commented on #1538
how about just a reload action somewhere in the gui so i don't have to close and reopen VS?

[2022-02-11 05:18] drdamour commented on #5484
is there any workaroudn to this?  how do people deal with this?  i have a dozen different libs that my apps depend on.  All the time i'm growing/evolving those libs as i add new feautres to my app...and i don't want to wait for each lib to go up to AzDO and produce a prerelease build...i just want the latest from local build so i can REPL quickly...is there any strategy for this?

[2022-02-11 10:20] lukos opened #11586 "[DCR]: Nuget updates need to be much faster"
### NuGet Product(s) Affected

Visual Studio Package Management UI

### Current Behavior

When you use the update functionality for nuget, the UI makes hundreds and hundreds of web calls to api.nuget.org which can take 10 seconds+ just to bring up the page. If you choose something to update and click install, it can take another 10 seconds+ to work out what it is going to install. Once it has inst

[2022-02-11 19:37] dominoFire commented on #10759
More thoughts:

- Number of installed Packages shown
- Number of Transitive Packages shown

[2022-02-11 19:38] WillMarcouiller commented on #7707
I have this issue and saw that @brann0n worked on a solution.  I wish to contribute fixing the issue as I'm impacted as well.  I read the contribution guidelines and found the issue is still opened and pr#3822's been closed and the bug is still there and pr's been abandonned.  I'm willing to take my chance at fixing it if anyone can guide me as to how must I follow the team guidelines.

[2022-02-11 21:21] nkolev92 opened #11589 "Add a means of handling duplicated patterns in PackageSourceMapping"
A couple of options here could be:

- The modes concept originally proposed in the initiali package namespaces design, that simply disallows duplicated patterns.
- Warning when duplicated patterns are seen.
- Warning when more specific duplicated patterns are seen, error when `*` patterns are seen, etc.

[2022-02-11 21:53] zivkan opened #11590 "[Bug]: Restore fails in VS with NullReferenceException when unloaded project uses lock file"
### NuGet Product Used

Other/NA

### Product Version

17.1

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

From internal issue: https://developercommunity.visualstudio.com/t/Restoring-nuget-packages-in-a-solution-w/1659149

Normally when you have a project reference to project that is not in the solution, and it has not yet been

[2022-02-11 23:13] donnie-msft commented on #11129
I believe this bug may be because `PackageItemViewModel.UpdatePackageStatus()` is only called with a collection of installed packages. Browse tab should also be loading this metadata for packages not yet installed, so I'm not sure how this was designed to work. Perhaps I'm missing something...
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.PackageManagement.UI/ViewModels/Pa

[2022-02-11 23:29] #4537 closed, assigned to erdembayar

[2022-02-12 18:41] joelverhagen opened #11591 "[Feature]: PackageSourceMapper, configure package ID patterns using original casing"
### NuGet Product(s) Involved

Other/NA

### The Elevator Pitch

I gave the PackageSourceMapper tool a try on NuGet/Insights and it is awesome! Just have some feedback. When it generates `<package pattern="..." />` XML nodes, would it be possible to use the original casing of package IDs? It would make it more readable and would align with what the tooling does for adding PackageReference (origina

[2022-02-12 18:56] joelverhagen opened #11592 "[Feature]: Allow PackageSourceMapper to report sources that are unused add configure the minimal set"
### NuGet Product(s) Involved

Other/NA

### The Elevator Pitch

I used the PackageSourceMapper tool on NuGet/Insights. Unknown to me, several of my feeds were not even needed anymore. It would be cool if PackageSourceMapper detected these cases and include the minimal set of `<packageSources>` entries that are needed.

I did get one hint, like this:
<pre>
Start creating recommendation nugetPackag

[2022-02-13 17:25] akash07k commented on #11482
@zivkan Thanks a lot for fixing this issue.
It's very helpful.

[2022-02-14 00:12] stemoser commented on #6579
Just another note: If the package you are testing contains assemblies that are going to be loaded by MSBuild, this environment variable may be needed to not having MSBuild locking file, thus preventing clearing the cache:

`MSBUILDDISABLENODEREUSE=1`

Take this into account if this issue will ever be addressed...

[2022-02-14 08:49] tonygiang commented on #11467
I noticed that this issue keeps getting added and removed from Sprint milestones, and currently removed. What is its status as of now? Is it planned to be fixed at all?

[2022-02-14 13:59] v-luzh commented on #11577
Hi @zivkan This bug reproes on arrows buttons on D16.11\32208.345 + NuGet Client Release-5.11.x\5.11.1.15 as below, doesn't repro on add and remove buttons.
![ItemsUnchecked](https://user-images.githubusercontent.com/20632625/153877173-56255d0a-7a10-4044-8a97-3e90bfecc345.gif)
The arrows buttons are gone on 17.2 Preview1, but they are still existing on 16.11 servicing. So we think it should be fix

[2022-02-14 14:59] zivkan commented on #11577
@v-luzh The up and down arrows should have been removed in 5.11.1.16. Can you please validate with the latest build from
release-5.11.x?

Commits: https://github.com/NuGet/NuGet.Client/commits/release-5.11.x
The one that removed up/down arrow: https://github.com/NuGet/NuGet.Client/commit/48ae5a533a6b3938818646c5ec34725fbb83ea85

[2022-02-14 15:52] martinsuchan opened #11593 "[Bug]: msbuild 17 restores package version 14.2.3.0 when version 14.2.3 is requested, worked with msbuild 16"
### NuGet Product Used

MSBuild.exe

### Product Version

msbuild 17.0.0.52104

### Worked before?

msbuild 16.11

### Impact

I'm unable to use this version

### Repro Steps & Context

I have a .NET 4.6.1 WPF project with packages.config referencing one old nuget DevExpress.Xpf.PivotGrid 14.2.3.

When I used 'nuget restore sln' with VS2019/msbuild 16 installed, the package version 14.2.3 got rest

[2022-02-14 16:01] doggy8088 commented on #9539
The `"<configuration></configuration>" > nuget.config` is not working any more. Let's leave a note here:

[code]

[2022-02-14 18:31] idg10 commented on #5553
One particular scenario that causes us to want something like this might be worth calling out as a special case: it's the fact that every single package in `Microsoft.Extensions.*` revs every single time there's an update to .NET whether anything has changed in a package or not. We have 40 odd open source libraries that we maintain, and every week or so we get a deluge of Dependabot notifications

[2022-02-14 18:58] erdembayar commented on #11513
Thank you for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2022-02-14 18:58] #11513 closed, assigned to erdembayar

[2022-02-14 19:00] nkolev92 commented on #9539
Not sure what you mean by that @doggy8088.

Re-opening this issue as it's not fixed.

[2022-02-14 19:01] #11501 closed, assigned to nkolev92

[2022-02-14 22:32] nkolev92 commented on #11567
Triage: Assigning @zivkan to start a conversation to explore the motivation better.

[2022-02-14 22:38] nkolev92 commented on #11564
Triage:
As @zivkan explained, the current behavior is by design.
We will keep monitoring the feedback, and work on some docs/blog to increase awareness of the behavior.

[2022-02-14 22:40] nkolev92 commented on #11563
Triage: @clairernovotny This issue was opened based on feedback from you, we would need a design/pm spec to move this forward.

[2022-02-14 22:49] nkolev92 commented on #11551
The arguments, --vulnerable, --outdated are filters and change the output format.

--all does not make it clear what the format of the output should be, or whether it should be an `AND` or an `OR` operation between these filters.

[2022-02-14 22:49] #11551 closed, assigned to nobody

[2022-02-14 23:00] nkolev92 commented on #11550
Triage: As long as it's clear what packages are direct vs transitive, we're in general supportive of this change.

We should do some customer development to confirm our assumptions.

[2022-02-15 00:51] nkolev92 opened #11594 "[Feature]: NuGet tooling to view package prefix reservation"
### NuGet Product(s) Involved

NuGet.exe, Visual Studio Package Management UI, Visual Studio Package Manager Console, MSBuild.exe, dotnet.exe

### The Elevator Pitch

With package source mapping, you can establish a 1-N relationship between a package identity and a source.
When using package prefix patterns, you may want to consider things like, is this prefix reserved on nuget.org, and use that a

[2022-02-15 01:12] nkolev92 opened #11595 "Can package source mapping configuration be audited for potential misconfiguration"
The current syntax is powerful, but also may allow you to get yourself in a fragile state with duplicate etc.

This is a task to validate things such as prefix reservations etc.

[2022-02-15 01:22] doggy8088 commented on #9539
@nkolev92
I expected the following command should append new package source to local `.\NuGet.config` file, but it doesn't. It added to the Global NuGet.config file.

![image](https://user-images.githubusercontent.com/88981/153974628-87c363b6-19b6-4450-a976-da88616091ff.png)

[2022-02-15 01:44] JonDouglas commented on #11594
This is a cool idea. It almost seems like a mini security feature.

[2022-02-15 02:16] #10752 closed, assigned to dominoFire

[2022-02-15 06:57] dfederm commented on #11564
So far this has broken basically every repo I've worked in since it went in. Maybe I'd just unlucky or working in "weird" repos, so I'll see if I can do a broad test pass with 17.2 against internal repos to see how impactful this breaking change is.

[2022-02-15 07:39] v-luzh commented on #11577
@zivkan Yes, this bug is fixed on D16.11\32208.345 + NuGet Client Release-5.11.x\5.11.1.17 after verifying.

[2022-02-15 11:36] martinsuchan commented on #11593
Update, the bug is actually somewhere else:
We use 2 private nuget repositories. One has package **DevExpress.Xpf.PivotGrid 14.2.3** and the second one has **DevExpress.Xpf.PivotGrid 14.2.3.0**
With msbuild 16 the correct nuget package **DevExpress.Xpf.PivotGrid 14.2.3** was resolved and downloaded, but with msbuild 17 it looks like it downloads **DevExpress.Xpf.PivotGrid 14.2.3.0** instead, think

[2022-02-15 13:20] mungojam commented on #3116
Similarly if the feed sends back `no-cache` type headers for a particular item, then these should be respected as well. My workaround has been to change the HTTP cache folder to point at the workspace for each build.

[2022-02-15 14:40] zubivan commented on #6279
Hello all, any chance a fix for this issue lands for .net 6? Migrating a big project now and just ran into it.

[2022-02-15 19:18] martinsuchan commented on #11593
Update: I discovered in nuget specification that 14.2.3.0 and 14.2.3 versions are considered identical after normalization.
And it looks like this problem happened when one of our nuget servers was temporarily down and the wrong package was downloaded into the nuget cache.

[2022-02-15 20:40] joelverhagen commented on #11594
This would require a protocol enhancement and careful consideration of how much information we want to share. It's not immediately clear to me that there should be an easily accessible list of all namespaces in existence.

The only information available today is whether a specific package ID is reserved. This may be due to a prefix reservation or due to an exact ID reservation. This aspect is opaq

[2022-02-15 21:09] nkolev92 commented on #11594
I think at this point we just want to listen/learn how people use prefix reservation client side and how they'd use it in the context of source mapping in particular.

[2022-02-15 21:42] #11272 closed, assigned to nobody

[2022-02-15 21:57] #11577 closed, assigned to zivkan

[2022-02-15 22:02] no1melman opened #11596 "[Bug]: SearchQueryService doesnt find System.CommandLine"
### NuGet Product Used

Other/NA

### Product Version

https://azuresearch-usnc.nuget.org

### Worked before?

_No response_

### Impact

I'm unable to use this version

### Repro Steps & Context

[code]

neither

[code]

-- compare to --

nuget.org and search for System.CommandLine which actually shows the package

why can't these be found

### Verbose Logs

_No response_

[2022-02-15 22:42] m0sa commented on #6764
Any ETA on this? Will shipping this include the new `--force-version-update` `dotnet add package` switch?

[2022-02-16 01:58] timheuer opened #11597 "[Feature]: Plugin model for post-package add"
### NuGet Product(s) Involved

Visual Studio Package Management UI, Visual Studio Package Manager Console, dotnet.exe

### The Elevator Pitch

NuGet allows for a package to be added to a project, but does not enable post-add steps.  This used to exist with the model of `install.ps1` but that is no longer available.  There are many scenarios where this is desired, but the current solutions (msbuild

[2022-02-16 02:03] nkolev92 opened #11598 "Remove unused code NU5049"
Discovered in https://github.com/NuGet/docs.microsoft.com-nuget/issues/2563, this is an unused log code.

[2022-02-16 02:57] erdembayar opened #11599 "[Responsiveness] Package Management UI can consume large number of threads all searching the disk (up to 316 threads), use cancellation token at subroutines"
Tracking issue for: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1424937
I added `Around The World` tag here since internal issue has one.
Currently passed cancellation token to [LocalPackageSearchResource.SearchAsync](https://github.com/NuGet/NuGet.Client/blob/ac2cb86d726e1f0089fc6f5a63357a37940ca8aa/src/NuGet.Core/NuGet.Protocol/LocalRepositories/LocalPackageSearchResource.cs#L30) is n

[2022-02-16 04:09] chris-smith-zocdoc opened #11600 "[DCR]: Unnecessary 401 Unauthorized api calls made during package restore"
### NuGet Product(s) Affected

dotnet.exe

### Current Behavior

We host an authenticated nuget feed for our organization using Artifactory. We noticed in the logs an excessive amount of 401 Unauthorized responses originating from `dotnet restore` throughout the org. It appears that every api call is being made twice, first without authentication, then again with authentication. This doubles the n

[2022-02-16 07:04] joelverhagen commented on #11596
Try passing the `semVerLevel=2.0.0` and `prerelease=true` query parameters.

The protocol docs are here:
https://docs.microsoft.com/en-us/nuget/api/search-query-service-resource#request-parameters

[2022-02-16 15:32] #11517 closed, assigned to nobody

[2022-02-16 16:25] renemadsen opened #11601 "[Bug]: error: File does not exist (true) while executing dotnet nuget push command"
### NuGet Product Used

dotnet.exe

### Product Version

dotnet Version: 6.0.200

### Worked before?

dotnet version: 6.0.102

### Impact

Breaks github build scripts, since it's erroring out, even thought there is no problem.

### Repro Steps & Context

Publish a package to nuget.org with the commad like:

`dotnet nuget push /home/runner/work/eform-sdk-dotnet/eform-sdk-dotnet/artifacts/Microting.

[2022-02-16 17:42] Piedone commented on #11601
Noticed with [Orchard Core](https://github.com/OrchardCMS/OrchardCore/issues/11196) too. It's definitely a 6.0.102 -> 6.0.200 bug.

You don't need to try to push to a remote feed, local publishing has the same error: `dotnet nuget push 'src/**/*.nupkg' -n true -s C:\local-path --skip-duplicate`

[2022-02-16 20:42] jrusbatch commented on #8493
I stumbled on this thread while trying to catch up on the latest state of this feature. I'm having trouble finding an explanation for the guidance that `RestorePackagesWithLockFile` should only be set on executable projects, and that libraries should not have a lock file. I recognize that this issue is a few years old at this point. Is that referring to antiquated docs that aren't available anymor

[2022-02-16 20:58] donnie-msft commented on #11459
@heng-liu what were the errors here? Were they similar to this?:

[2022-02-16 21:11] heng-liu commented on #11459
No, they failed the assertion.
Sorry that I didn't paste the errors messages.

[2022-02-16 22:10] nkolev92 commented on #8493
I think people are referring to https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files#make-lock-file-part-of-your-source-repository

It contains a further explanation, about why lock files might not be as helpful in the library scenarios, but they are not without merit you can still use them.

We can consider tweaking the documentation if it doesn't read super

[2022-02-16 22:12] #11598 closed, assigned to nkolev92

[2022-02-16 22:22] #11291 closed, assigned to erdembayar

[2022-02-16 22:22] #11358 closed, assigned to erdembayar

[2022-02-17 00:04] kartheekp-ms commented on #11584
Looking at https://github.com/NuGet/Home/issues/4517, I think [`GetRestoreSettingsTask` task](https://github.com/NuGet/NuGet.Client/blob/4ed05177c6222d32ad55d612d2202aa9c6a1f2a6/src/NuGet.Core/NuGet.Build.Tasks/GetRestoreSettingsTask.cs#L20) should implement `ICancelable` interface.

[2022-02-17 00:39] nkolev92 commented on #11599
https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1424937 has a duplicate already linked: https://github.com/NuGet/Home/issues/11570

Are they the same issue?

[2022-02-17 00:42] erdembayar commented on #11599
Yes, they're same. But I'm creating 2 PRs. There're 2 sub-issues need to be addressed. I large PR is hard to review.

[2022-02-17 00:51] nkolev92 commented on #11599
I see. Worth using better names instead of part 1/part 2 :)

[2022-02-17 01:31] erdembayar commented on #11599
Sure, I'll rename them when I create PR.

[2022-02-17 01:35] doggy8088 commented on #9539
@nkolev92 I thought `the hierarchy of configuration files from the current directory` means `the nearest configuration files from the current directory`. Since I already have a `NuGet.config` in the current directory, why doesn't this file been applied as the default config file?

[2022-02-17 01:42] nkolev92 commented on #9539
Because you don't have a `clear` element. All your configs are probably declared in your user wide configs, so that one is added there as well.

[2022-02-17 01:57] doggy8088 commented on #9539
The NuGet configuration will be applied multiple files. If there is no `clear` been defined in the local NuGet.config file, the configuration will inherit from global NuGet.config file first, then append local NuGet.config. If I want to add a new nuget source for my project, I expected the new source should be added to local NuGet.config file, but the global one. I thought it's a common sense.  Te

[2022-02-17 01:59] Forgind commented on #11584
Sounds like the right fix to me.

[2022-02-17 02:08] nkolev92 opened #11602 "When LocValidation fails, the loc validation logs are not uploaded"
See sample:

https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=5765193&view=logs&j=d80b2849-30d4-52dd-74cd-d6536ba98fe0&t=e1cbb385-1170-59ff-f358-
1eb26eb7a26a

[2022-02-17 02:13] nkolev92 commented on #9539
Please refer to https://docs.microsoft.com/en-us/nuget/consume-packages/configuring-nuget-behavior#how-settings-are-applied.
When the files are used, they are starting with the closest first, until you find a clear for the section. If you don't find a clear, they are all considered.

When you are *adding* a source without specifying an exact file it adds it to the *least* specific configuration,
G

[2022-02-17 02:23] kartheekp-ms commented on #11601
In https://github.com/NuGet/NuGet.Client/pull/4326 PR, we removed accepting values for `--no-symbols or --disable-buffering` options in `dotnet nuget push` command because they the values were not useful. I think it will be good to check why the command is throwing `error: File does not exist (true).` after the package has been pushed.

[2022-02-17 03:55] kartheekp-ms commented on #11600
@chris-smith-zocdoc - From my initial investigation regarding this request, there is a way to pass credentials on the first request itself without two requests (one request without credentials followed by second request with credentials).

- Is it possible to specify package source credentials to that Azure DevOps private feed in NuGet.Config? https://docs.microsoft.com/en-us/nuget/reference/nuget

[2022-02-17 04:25] kartheekp-ms commented on #11593
@martinsuchan - What happens when a nuget server that has `14.2.3` package is down when restore is executed in `VS 2019/msbuild 16` tooling is used. I guess the behavior should be the same as VS 2022/msbuild 17 tooling but could be wrong.

As per my understanding this is by design because as per [doc](https://docs.microsoft.com/en-us/nuget/concepts/package-versioning#where-nugetversion-diverges-fr

[2022-02-17 06:53] #10748 closed, assigned to jebriede

[2022-02-17 06:53] #10749 closed, assigned to jebriede

[2022-02-17 07:22] doggy8088 commented on #9539
As the document said, `NuGet's behavior is driven by the accumulated settings in one or more NuGet.Config (XML) files that can exist at project-, user-, and computer-wide levels.`. Also this, `These settings collectively apply to any NuGet operation invoked from the command line or from Visual Studio, with settings that exist "closest" to a project or the current folder taking precedence.`.

The "

[2022-02-17 19:50] nkolev92 commented on #6013
Triage: We should verify whether this is still happening.
If it is still happening, we think it should be saved.

[2022-02-17 19:58] nkolev92 commented on #7101
Triage: At this point, we are not able to repro some of these scenarios with the latest tooling, so we're closing this issue as no repro.

If you are still facing a similar issue, please upgrade to the latest tooling and create a new bug if you can still repro.

[2022-02-17 19:58] #7101 closed, assigned to nobody

[2022-02-17 22:19] nkolev92 commented on #9539
The settings closest do take precedence. But you're not applying settings.

You're adding new ones.

I don't have all the details that went into that decision making, as this has always been the behavior, https://docs.microsoft.com/en-us/nuget/reference/cli-reference/cli-ref-sources#options.

[2022-02-17 22:59] chris-smith-zocdoc commented on #11600
Thats not the behavior I'm seeing @kartheekp-ms

Please note: I'm not using `Azure DevOps private feed` I'm using [JFrog's Artifactory](https://jfrog.com/artifactory/)

Here is how my nuget.config is setup

[code]

Example logs
[code]

I verified this on OSX, but I believe this is happening on Linux also. I haven't checked windows

[code]

[2022-02-18 00:13] #11602 closed, assigned to nkolev92

[2022-02-18 04:53] lostmsu opened #11603 "[Feature]: Download packages via torrent"
### NuGet Product(s) Involved

Other/NA

### The Elevator Pitch

This is a potential solution to [NuGet.org package size limits](https://github.com/NuGet/Home/issues/890)

Instead of hosting the package itself, NuGet.org can give an option to host a torrent file and/or a magnet link. The client can then use a torrent library such as [MonoTorrent](https://github.com/alanmcgovern/monotorrent) to dow

[2022-02-18 07:41] D4N4M8 opened #11604 "[Bug]: IPackageMetadataSearch does not return the "Title" of a NuGet package's NuSpec file"
### NuGet Product Used

NuGet.exe, NuGet SDK

### Product Version

NuGet.Protocol,Nuget.exe

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

I'm in the process of transitioning from a local NuGet feed to a self-hosted NuGet server. I encountered a problem when testing the self-hosted NuGet server, which affects the NuGet packages o

[2022-02-18 09:36] v-longmin opened #11605 "[Bug]: Unexpected error “NU3034: This package is signed but not by a trusted signer” shows when verifying with Dotnet Nuget verify Command"
### NuGet Product Used

dotnet.exe

### Product Version

NuGet Client Dev\6.20.75

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

1.  Git clone https://github.com/NuGet/Entropy.git to Windows VM.
2.	Copy the “SDKPatchTool” folder from https://github.com/NuGet/Entropy.git to the desktop of Mac machine.
3.	Copy the “Nupkgs” folder of the

[2022-02-18 10:59] hotchkj opened #11606 "[Feature]: NuGet Package Signing supporting more than one timestamp server"
### NuGet Product(s) Involved

NuGet.exe

### The Elevator Pitch

Signing a NuGet package can time out when querying a specific timestamp server. Ideally the client would fall back to a list of timestamping servers rather than being dependent on the availability of a single one.

### Additional Context and Details

An example command that fails a build if not coded to be retried (and requiring som

[2022-02-18 16:34] mattyoungms commented on #5986
I had the same issue packaging a single file executable, unnecessary transitive dependencies were bloating the package size. Enabling trimming broke the exe in strange ways, so I came up with this manual hack to remove files from the package prior to packaging.

`  <Target Name="CleanupTransientDependencies" AfterTargets="PrepareForBundle">
    <Message Text="CleanupTransientDependencies..." Impor

[2022-02-18 16:51] JonDouglas commented on #10389
Hi friends,

We're getting closer to finalized PRs for both version overrides and optional transitive pinning. We'd really appreciate any last comments on the following proposal before we merge it as it has some limitations you all may be aware of for transitive pinning scenarios.

https://github.com/NuGet/Home/pull/11569

[2022-02-18 17:59] mthalman opened #11607 "[Bug]: The process cannot access the file 'NuGet.Config' because it is being used by another process."
### NuGet Product Used

dotnet.exe

### Product Version

6.0.200

### Worked before?

6.0.102

### Impact

I'm unable to use this version

### Repro Steps & Context

When attempting to run `dotnet restore` on a multi-project solution, it results in the following error:
[code]

This was encountered in the sample image tests for the [dotnet/dotnet-docker](https://github.com/dotnet/dotnet-docker) rep

[2022-02-18 18:41] batzen commented on #10389
Does that wording mean transitive pinning is off by default?
That would be very surprising as the community voted for on by default.

[2022-02-18 20:41] kartheekp-ms commented on #11605
@v-longmin - We recently added a new option [--configfile for dotnet nuget verify](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-nuget-verify#options) command. `The NuGet configuration file (nuget.config) to use. If specified, only the settings from this file will be used. If not specified, the hierarchy of configuration files from the current directory will be used. For more informati

[2022-02-18 22:59] #11570 closed, assigned to erdembayar

[2022-02-19 02:59] kartheekp-ms commented on #11586
Related - https://github.com/NuGet/Home/issues/8058

[2022-02-19 13:12] JobaDiniz commented on #8189
I'm hosting in the `github nuget package` and it doesn't show the icon in VS.

[2022-02-19 13:32] tebeco commented on #10389
it means that people that voted against as part of the community will be able to have a choice.

This is a win/win.
You want it ? it's on by default
you don't want it ? there a flag to disable it

What would be the concern that it serves more people ?

[2022-02-19 13:54] forki commented on #10389
2022 and pinning deps is still controversial in .NET. 😂

[2022-02-20 01:44] shpendpalushi commented on #10275
Any updates on this one, it is persisting on .net 6 as well

[2022-02-20 10:54] lazy8 commented on #10389
@batzen

That was also my first knee-jerk reaction and had me scratching my head a bit ... but if you read the proposal, it talks about an _opt-in to override_ the central version (via `VersionOverride`). I read that as:  Transitive pinning will actually be the default, but you can opt-in to override that at project-level if you need/want. And, in addition, you can centrally _disallow_ the use of

[2022-02-21 08:34] v-luzh commented on #11605
Hi @kartheekp-ms , thanks for your detailed info. Yes, we can see a trust signer after running the command dotnet nuget trust list on Mac/Linux. Is that because we added the certificate into trust store on Mac/Linux (as step 10 above) and it would write a trust signer into the nuget.config file?

[2022-02-21 12:46] AntumArk commented on #11417
Hello,

I think I have the same problem, which I have encountered when updating packages from prerelease to release.

Here is my project setup:

MyProject (Uses packages from private feed)                              A_B_Library solution (private feed)
  ||            ||                                                                                       Av1.2 ->Project reference to -> B1.1
Av1.

[2022-02-22 08:49] dasMulli commented on #7503
Since today (2022-02-22 around 9 CET / 8 UTC) this is happening more often on Azure DevOps pipeline agents. All our builds use `dotnet tool restore` to restore `nbgv` and use it to set the build number.

[code]

<details>
<summary>Environment</summary>

[code]

</details>

[2022-02-22 10:27] lbargaoanu opened #11609 "PackageSourceMapping public constructor"
### NuGet Product(s) Involved

NuGet SDK

### The Elevator Pitch

We want to set the package source mapping dynamically on restore, not read them from a configuration file.
### Additional Context and Details

We don't have a static pattern for the package ids and we don't have the feeds in the configuration file, but we can set those when restoring. Making the existing constructor public would wor

[2022-02-22 15:32] belav commented on #7503
We are seeing the same issue today (2022-02-22 around 1am CST). It is failing pretty consistently.

[code]

[2022-02-22 15:50] belav commented on #7503
The issue I ran into seems to be related to dotnet 6.0.200, forcing 6.0.100 like this got us past the issue
[code]

[2022-02-22 16:25] kartheekp-ms commented on #11600
https://docs.microsoft.com/en-us/dotnet/api/system.net.httpwebrequest.preauthenticate?view=net-6.0#remarks clearly explains the behavior of `PreAuthenticate` when it set to true or false.

[2022-02-22 18:37] nkolev92 commented on #11417
@AntumArk

Can you please provide a repro.
It's highly unlikely that it's an actual problem.

[2022-02-22 19:08] Kurt-von-Laven commented on #7921
Not sure where the best place to ask this question would be, but we are encountering the same error, NU1403, so I am curious what the status of the reproducible builds project is?

[2022-02-22 19:12] nkolev92 commented on #7921
@Kurt-von-Laven

Please refer to https://github.com/NuGet/Home/issues/7921#issuecomment-478152479 for addressing any NU1403 problems you may have.

[2022-02-22 19:16] AntumArk commented on #11417
Unfortunately that is a private repo.
But i did manage to solve my problem by updating package B to 1.2. I think
the problem was with azure feed having a remenant of a package B v1.2.0-rc.
I did delete it but it seemed something was still left.
That my sound weird that I have deleted one release, but I was learning at
the time

Linas Minkevicius

On Tue, 22 Feb 2022, 20:37 Nikolche Kolev, ***@***.

[2022-02-22 19:30] kartheekp-ms commented on #11605
@v-luzh - step 10 `(sudo security)` is not a nuget command and hence I don't think it modifies NuGet.Config file. Maybe you are executing another manual test with `<trustedsigner>` section configured causing this failure? In other words, what happens if we delete the config file that has `<trustedsigner>` section and then execute `dotnet nuget verify` command on the signed package? I would expect

[2022-02-22 19:48] johncrim commented on #7503
We're seeing this more frequently on Azure DevOps build agents as well, just running `dotnet tool restore` with 2 tools being restored. Build output is

[code]

So it appears whichever package is installed first is failing, and the second one is succeeding. I'll try @bergbria 's trick of calling `nuget config` first.

[2022-02-22 19:57] jeffkl commented on #7503
The creation of this file was introduced in https://github.com/NuGet/NuGet.Client/pull/3907 and the behavior was changed in https://github.com/NuGet/NuGet.Client/pull/4338 which would have been released in `6.0.200`.  @zivkan do you have any insights? Perhaps we should put a `try...catch` around the creation of the track file?

[2022-02-22 20:46] johncrim commented on #7503
This workaround seems to work: Run `dotnet nuget list source` before `dotnet tool restore`. Eg

[code]

I'm not yet 100% confident that this is reliable (I haven't analyzed the code paths thoroughly), but seems like it should be; and I have a few test runs supporting that. Since `6.0.200` this issue was occurring in most builds, and it hasn't occurred since this fix.

[2022-02-22 21:32] zivkan commented on #7503
Yes, in this other issue/PR, I recommended using `dotnet nuget list source`: https://github.com/dotnet/sdk/pull/23955#issuecomment-1040877553

The reason there is because they have tests running in parallel where each test invokes a new `dotnet build` or `dotnet restore` process. On a new machine where there is no user-profile `nuget.config` file yet, there's a timing issue when multiple processes

[2022-02-22 22:24] Kurt-von-Laven opened #11610 "[Bug]: Error: NU1403 Package content hash validation failed for NETStandard.Library.2.0.3. The package is different than the last restore."
### NuGet Product Used

MSBuild.exe

### Product Version

MSBuild 17.1.0+ae57d105c, Visual Studio 17.1.0

### Worked before?

MSBuild 17.0.6, Visual Studio 17.0.6

### Impact

I'm unable to use this version

### Repro Steps & Context

To clarify, the impact of this issue is that I can not build our UWP app on any version of any tool without removing the lock file, which is prohibitively risky sinc

[2022-02-22 22:47] msherms2 opened #11611 "[Bug]: NuGet Verify failing in windows Docker containers - Unable to disable Verify"
### NuGet Product Used

NuGet.exe

### Product Version

All nuget.exe versions (5.7 and latest), also present in dotnet restore.

### Worked before?

No verification failures

### Impact

I'm unable to use this version

### Repro Steps & Context

When we build in our azure devops pipelines using docker containers, in the last two months we have encountered intermittent verify failures that we are

[2022-02-22 23:26] johncrim commented on #7503
Thank you for the info @zivkan . I should add that this problem is now occurring very frequently with just a single shell call to `dotnet tool restore` on a single VM (without the `nuget.config` file) - it's not dependent on any test processes running in parallel on that VM. It looks like that has to do with the changes in `6.0.200`.

[2022-02-23 02:09] drewnoakes commented on #9864
Could this be introduced behind a warning wave?

[2022-02-23 02:13] nkolev92 commented on #9864
Can you elaborate what you mean by a warning wave?

[2022-02-23 02:21] kartheekp-ms commented on #11607
@mthalman - Were you able to reproduce this problem on the host machine? I am asking because of https://github.com/NuGet/Home/issues/9020#issuecomment-969522761.

I see that the [repository](https://github.com/dotnet/dotnet-docker/tree/main/samples/complexapp) mentioned in the issue description doesn't have any `NuGet.Config` file. [NuGet doc](https://docs.microsoft.com/en-us/nuget/reference/nuget

[2022-02-23 03:17] Kurt-von-Laven commented on #7921
Thank you for the quick reply, @nkolev92. I did see that comment, and tried clearing my NuGet cache to no avail, but my (admittedly limited) understanding of the other steps is that any of them would subsequently require recreating the lock file. Clearly this will work (even if none of those steps are taken and no configuration is changed), but it also removes one of the key security guarantees lo

[2022-02-23 03:23] rsking opened #11612 "[Bug]: Cannot find convention based plugins"
### NuGet Product Used

NuGet SDK

### Product Version

6.2.0, or previous

### Worked before?

not tested

### Impact

I'm unable to use this version

### Repro Steps & Context

Convention based plugin discovery is not possible

1. Copy plugin to convention based path (i.e. `$(UserProfile)\.nuget\plugins\netcore\myplugin`)
2. Do not set `NUGET_PLUGIN_PATHS`

Plugin is not found

This appears to b

[2022-02-23 03:26] rsking opened #11613 "[DCR]: Enabled plugins for other protocols"
### NuGet Product(s) Affected

NuGet SDK

### Current Behavior

Currently plugin discovery is only enabled for HTTP sources.

### Desired Behavior

Plugin should be able to support other protocols, or source types.

### Additional Context

Plugin discovery is only enabled for HTTP sources

https://github.com/NuGet/NuGet.Client/blob/2ffefa687ba980fd0a70e13615875c69bde9393c/src/NuGet.Core/NuGet.Prot

[2022-02-23 04:22] kartheekp-ms opened #11614 "[Bug]: Reduce memory allocation while detecting cycles or potential degrades in package versions during restore"
### NuGet Product Used

dotnet.exe, MSBuild.exe, NuGet.exe

### Product Version

All NuGet distribution vehicles

### Worked before?

No

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

`ClrHeapAllocationAnalyzers` reported following warnings in NuGet restore code paths.

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.DependencyResolver.Core/Remote/R

[2022-02-23 05:55] donnie-msft commented on #11611
I've seen issues in the past with Group Policy causing intermittent “untrusted” errors 1-2x daily/weekly. If you can easily check, it may be good to know whether it may potentially apply to your case.
My suggested quick steps:
1.	Start -> Edit Group Policy on an affected VM.
2.	Navigate to Computer Configuration > Windows Settings > Security Settings > Public Key Policies > Trusted Root Certificat

[2022-02-23 15:50] erdembayar opened #11615 "dotnet nuget list source --format option need to be renamed"
Follow up on [comment](https://github.com/NuGet/Home/pull/11446/files#r813013176). Considering `--format` (such as `--format json`) option expected to become a thing across more SDK commands we need to revisit `dotnet nuget list source --format`. It has following option values.

* Detailed
*  Short

So in the future we should look towards having a different way to get the detailed/short forms of `

[2022-02-23 16:52] nacitar commented on #11607
I too have ran into this bug, and it's precisely as described here.  During dotnet restore it tries to initialize the per-user config if it doesn't exist, and when running in parallel this results in multiple processes trying to WRITE to the file at once.  Multiple readers is perfectly fun, and I'm guessing the internal code wasn't expecting writers as there's no synchronization around the creatio

[2022-02-23 16:59] zivkan opened #11616 "[Bug]: Revert mitigation of missing nuget.org when other tools create nuget.config"
### NuGet Product Used

dotnet.exe, MSBuild.exe, NuGet.exe

### Product Version

dotnet 6.0.200, NuGet 6.1

### Worked before?

dotnet 6.0.100, NuGet 6.0

### Impact

It's more difficult to complete my work

### Repro Steps & Context

https://github.com/NuGet/Home/issues/11387 attempted to mitigate an issue when other tools (primarily Chocolatey and PowerShell's NuGet module) created a user-profil

[2022-02-23 17:56] msherms2 commented on #11611
@donnie-msft,

Thank you for your response. I'm unaware that policy configurations affect docker containers as they are UI-less containers. It also would mean microsoft's base images would have certification issues.

Are you saying that nuget verify is no longer opt in and there is no way to turn it off?

[2022-02-23 17:58] erdembayar commented on #11609
@lbargaoanu
Could you be able to elaborate more? We want to understand your use case. How are you going to invoke constructor?

[2022-02-23 18:05] lbargaoanu commented on #11609
When calling restore, I need to create an instance and set it in the `RestoreRequest`.

[2022-02-23 18:55] aortiz-msft commented on #8985
One more FeedbackTicket: [FeedbackTicket 1483233](https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1483233): Nuget Package Manager Hang VS for 10-30 sec and show Version combo over the desktop / never close

[2022-02-23 19:51] nkolev92 commented on #7921
You only recreate the lock file once, once you've excluded all the local packages that are basically seen as "tampered" by nuget.
It still retains the guarantee of repeatability, after all the failing is exactly that, NuGet saying the build isn't repeatable.

The tldr of this whole is that there are packages in the SDK fallback fodlers that are effectively seen as tampered because the compression

[2022-02-23 20:10] nkolev92 commented on #11610
Hey @Kurt-von-Laven,

As mentioned in the other issue, the problem here is that there's probably a package that was somehow preinstalled on your machine that doesn't match the same package that would've been installed if say you got the package from nuget.org.

So there's *actually* a discrepancy, and our first step is to understand how the discrepancy happened (usually by some preinstalled packag

[2022-02-23 20:40] drewnoakes commented on #9864
Looks like it's called a Change Wave in the docs: https://docs.microsoft.com/en-us/visualstudio/msbuild/change-waves?view=vs-2022

[2022-02-24 05:27] xoofx opened #11617 "[Feature]: Add msbuild extension point to better support auto-versioning helpers"
### NuGet Product(s) Involved

MSBuild.exe

### The Elevator Pitch

Allow NuGet to provide a msbuild public extension point for calculating proper package id/version that would allow auto-versioning helpers to better integrate with NuGet (e.g [MinVer](https://github.com/adamralph/minver)).

### Additional Context and Details

The problem is that today, most if not all auto-versioning helpers are u

[2022-02-24 08:00] flobernd commented on #8189
Same issue for me using VS 2022. Custom NuGet feed is hosted on Azure and no icon is shown. Publishing the same package on nuget.org correctly shows the icon in the VS integrated package manager.

[2022-02-24 10:05] Kurt-von-Laven commented on #11610
Thank you, @nkolev92! This has been super illuminating, and the results are as I imagine you expected. Here is the relevant excerpt from `project.assets.json`:

[code]

The only copy of these files was in `C:\\Program Files (x86)\Microsoft SDKs\UWPNuGetPackages\`. The pertinent `.nupkg.metadata` contains:

[code]

The contents of `netstandard.library.2.0.3.nupkg.sha512` are: `548M6mnBSJWxsIlkQHfbz

[2022-02-24 11:43] v-luzh commented on #11605
@kartheekp-ms Yes, you are correct. The error NU3034 gone after removing the <trustedsigner> section in nuget.config. Please give it a resolution label and closing, thanks.

[2022-02-24 15:48] donnie-msft opened #11618 "[Bug]: Private NuGet Feed errors with `dotnet new --update-check`"
### NuGet Product Used

dotnet.exe

### Product Version

6.0.101

### Worked before?

no

### Impact

_No response_

### Repro Steps & Context

Feedback ticket: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1460341

Similar to https://github.com/NuGet/Home/issues/11169...

To reproduce:
1. Clear nuget cache (dotnet nuget locals all -c) and credprovider cache ([clear this folder](https://g

[2022-02-24 16:34] thefringeninja commented on #7503
I'm experiencing the same thing on github actions at the moment.

[2022-02-24 18:13] #11616 closed, assigned to nobody

[2022-02-24 18:31] #11605 closed, assigned to nobody

[2022-02-24 19:17] ransagy commented on #8543
And here we go, a few years later :]
I'm trying to convert a project reference to a nuget reference in a project. I first removed it with `dotnet remove my.csproj reference nuget.csproj` which went fine, then `dotnet add my.csproj package my.PackageName` which failed with the original message. I didn't see any other error in the log.

[2022-02-24 19:42] nkolev92 commented on #9188
Closing per the above comment. There is nothing actionable for the nuget client at this point in time.

[2022-02-24 19:42] #9188 closed, assigned to nobody

[2022-02-24 19:52] nkolev92 commented on #9599
Closing as this is a conflicting request. Dev dependency can't be part of compilation.

[2022-02-24 19:52] #9599 closed, assigned to nobody

[2022-02-24 19:55] JonDouglas commented on #8186
That's right, until there's a https://github.com/dotnet/designs proposed and agreed upon, there's not much the NuGet team can do here but continue to facilitate the discussion & collect upvotes.

If/when a proposal does happen, please ping the NuGet team so we can help provide some perspective from the packaging perspective.

[2022-02-24 20:46] donnie-msft commented on #11611
Have you tried detailed verbosity when analyzing this?: Eg, `dotnet nuget verify -v d`

Machine state and other external factors can be in play here. Recently, we enabled a switch to retry signing. You may want to experiment with this to see if your CI can succeed with a retry policy: `NUGET_EXPERIMENTAL_CHAIN_BUILD_RETRY_POLICY`
For more information on that, see:
**Issue**: https://github.com/NuG

[2022-02-25 02:26] nkolev92 commented on #11610
Turns out the UWPNuGetPackages source is getting added in a way that it's not easy to disable right now.

It's being set through RestoreAdditionalProjectFallbackFolders, and it's being set in

or the equivalent on your machine, and it's bringing a version of the library that has incorrect metadata., which should in reality be: `st47PosZSHrjECdjeIzZQbzivYBJFv6P2nv4cj2ypdI204DO+vZ7l5raGMiX4eXMJ53RfO

[2022-02-25 03:15] Kurt-von-Laven commented on #11610
What a great find! That forced NuGet to pull down all of the UWP libraries from nuget.org. As desired, within `%USERPROFILE%\.nuget\packages`, `.nupkg.metadata` contains:

[code]

However, `netstandard.library.2.0.3.nupkg.sha512` from nuget.org contains: `548M6mnBSJWxsIlkQHfbzoYxpiYFXZZSL00p4GHYv8PkiqFBnnT68mW5mGEsA/ch9fDO9GkPgkFQpWiXZN7mAQ==`!

Evidently NuGet looks at the former, because it no l

[2022-02-25 03:28] nkolev92 commented on #11610
What does the .nupkg.metadata contain?
That's what used for lock file scenario.
It basically accounts for the difference between signed and unsigned packages.

[2022-02-25 03:35] Kurt-von-Laven commented on #11610
The exact contents of the `.nupkg.metadata` for each of the pertinent packages are listed above. To recap, after downloading all of the UWP dependencies from nuget.org `NETStandard.Library.2.0.3`'s is right, but `Microsoft.NETCore.Platforms.2.1.0`'s is wrong (at least relative to the value it was at before whatever changed).

[2022-02-25 04:04] kalirajanganeshan commented on #11542
Hi @nkolev92 / @joelverhagen / @AArnott ,

Could you please update on this still we can't get rid of this issue?

Thanks,
Kalirajan Ganesan

[2022-02-25 04:18] Kurt-von-Laven commented on #7682
I came across the same issue, @nexussays. See https://github.com/NuGet/Home/issues/11610#issuecomment-1050479332. Did you ultimately find a resolution?

[2022-02-25 05:48] omarbekov commented on #5895
Here's another way of conditionally using packages

[code]

[2022-02-25 11:06] CurryHan opened #11619 "Why this package has not been indexed yet in 2 hours ago?"
### NuGet Product Used

NuGet.exe

### Product Version

other

### Worked before?

_No response_

### Impact

_No response_

### Repro Steps & Context

![image](https://user-images.githubusercontent.com/14214176/155704759-fe6e1831-9db5-4cc2-9cf9-1d276b2a693a.png)

### Verbose Logs

_No response_

[2022-02-25 11:53] v-longmin opened #11620 "[Bug]:Version combo box is not editable in C# Console Application (.NET Framework) – PackageReference project"
### NuGet Product Used

PM UI

### Product Version

NuGet Client dev-martinrrm-fix-versions-combobox\6.2.0.452

### Worked before?

_No response_

### Impact

_No response_

### Repro Steps & Context

## Repro steps
1. Create a new C# Console Application (.net framework) project.
2. Right-click the project and select ‘Manage NuGet Packages…’ menu item in Solution Explorer.
3. Click settings button

[2022-02-25 13:21] cdavernas commented on #11619
@CurryHan Facing the exact same issue with ServerlessWorkflow.Sdk.

![image](https://user-images.githubusercontent.com/16137162/155722123-50f4662a-88f9-44eb-9409-451f3b94bfda.png)

[2022-02-25 15:25] woernsn opened #11621 "[DCR]: Align Release Label comparison to other package managers"
### NuGet Product(s) Affected

NuGet.exe

### Current Behavior

Currently, Release Labels are compared case insensitive:
https://github.com/NuGet/NuGet.Client/blob/7a5b0aafd767d105014c995378a1dbb71a5d86bd/src/NuGet.Core/NuGet.Versioning/VersionComparer.cs#L330:L331

When using for example `gitversion` to version commits and therefore NuGet packages, following scenario can appear:
* 1.0.0-alpha.1
*

[2022-02-25 17:10] zivkan commented on #7682
Try `<DisableImplicitNuGetFallbackFolder>true</DisableImplicitNuGetFallbackFolder>` in your csproj (in a `PropertyGroup`)

Also: `<fallbackPackageFolders><clear/></fallbackPackageFolders>` in your nuget.config: https://github.com/NuGet/NuGet.Client/blob/7a5b0aafd767d105014c995378a1dbb71a5d86bd/NuGet.Config#L80-L82

If you have any .NET Core 1.x or .NET Core 2.x SDKs installed, uninstall them (you

[2022-02-25 17:15] cdavernas commented on #11619
@CurryHan has been more than 5 hours now... Any idea on what's going on?

[2022-02-25 17:39] erdembayar opened #11622 "VS PMUI is ignoring cancellation exception"
Follow up on [comment](https://github.com/NuGet/NuGet.Client/pull/4471/files#r814926714). It looks like PMUI is swallowing the OperationCanceledException in PackageManagerControl.xaml.cs. Most likely we should emit fault telemetry.
To repro this, select large local package source from source selection then quickly switch between different PMUI tabs.

![image.png](https://images.zenhubusercontent.c

[2022-02-25 17:51] erdembayar commented on #11622
It's excepted, see other comments in original post.

[2022-02-25 17:51] #11622 closed, assigned to nobody

[2022-02-25 18:00] zivkan commented on #11607
This issue was/will be resolved by: https://github.com/NuGet/NuGet.Client/pull/4473

It will be available in the .NET SDK 6.0.300, VS/MSBuild 17.2, nuget.exe 6.2.0 when they're eventually released.

In order to backport the fix .NET SDK 6.0.2xx, VS 17.2, nuget.exe 6.1.x, we need enough 👍 upvotes on the first comment to justify the management.

[2022-02-25 18:02] zivkan commented on #7503
This bug has the same root cause as https://github.com/NuGet/Home/issues/11607.

Closing this one as a duplicate, despite being older, so it's easier to show management how many recent upvotes that issue has, so please add a 👍 to that issue

[2022-02-25 18:02] #7503 closed, assigned to jeffkl

[2022-02-25 18:35] zivkan commented on #11542
@kalirajanganeshan when I download syncfusion.grid.windows.19.4.0.53.nupkg from nuget.org, and run `dotnet nuget verify .\syncfusion.grid.windows.19.4.0.53.nupkg -v d`, I get the following output

<details>

<summary>dotnet nuget verify output</summary>

[code]

</details>

So, it appears that the author certificate's root certificate is:

[code]

and the repo signature's root certificate is:

[co

[2022-02-25 18:38] nkolev92 commented on #11610
@Kurt-von-Laven

You need to run /p:RestoreForceEvaluate="true" to update the lock file.

Can you try that?

[2022-02-25 19:46] nkolev92 opened #11623 "[Bug]: Automatic credential plugin discovery is broken when 64 bit msbuild.exe is used by nuget.exe"
### NuGet Product Used

NuGet.exe

### Product Version

6.1

### Worked before?

Yes, with VS 2019 msbuild

### Impact

It's more difficult to complete my work

### Repro Steps & Context

1. Configure a project with an azure artifacts feed.
2. Restore

Expected:
NuGet.exe automatically discovers the plugin shipped with msbuild.

Actual:
NuGet.exe does not automatically discover the plugin shipped

[2022-02-25 20:48] maphskiy commented on #11619
Having the same issue for 6 hours now

[2022-02-25 21:01] cdavernas commented on #11619
@maphskiy Patience I guess. It took 7h+ hours, but mine eventually did get indexed.

[2022-02-25 21:28] #9954 closed, assigned to erdembayar

[2022-02-25 21:53] Kurt-von-Laven commented on #11610
Updating the lock file of course succeeds by modifying the expected hash of `Microsoft.NETCore.Platforms.2.1.0` to `ok+RPAtESz/9MUXeIEz6Lv5XAGQsaNmEYXMsgVALj4D7kqC8gveKWXWXbufLySR2fWrwZf8smyN5RmHu0e4BHA==`. The question is why, and whether `ok+RPAtESz/9MUXeIEz6Lv5XAGQsaNmEYXMsgVALj4D7kqC8gveKWXWXbufLySR2fWrwZf8smyN5RmHu0e4BHA==` or `GmkKfoyerqmsHMn7OZj0AKpcBabD+GaafqphvX2Mw406IwiJRy1pKcKqdCfKJfYmk

[2022-02-25 22:07] Kurt-von-Laven commented on #7682
Thank you! I knew about `DisableImplicitNuGetFallbackFolder`, but not `fallbackPackageFolders`. I believe both of these are for .NET Core, but since we are making a UWP app, we instead have to create a `Directory.Build.targets` with:

[code]

The oldest version of .NET Core I have installed is 3.1. We intend to port to .NET Core though, so I'm sure this information will come in handy in the future

[2022-02-25 22:13] nkolev92 commented on #11610
It's the fallback folder that's been providing the hash incorrectly.

[2022-02-25 22:56] #11599 closed, assigned to erdembayar

[2022-02-25 23:50] Kurt-von-Laven commented on #11610
Thank you for confirming! Should I open a separate issue to get the hashes of both of these packages corrected in the fallback folder? (If so, where?)

[2022-02-25 23:56] nkolev92 commented on #11610
Can you please file an issue at developercommunity about fixing the UWPNuGetPackages fallback folder.

I'll work on finding the best owner for that.

[2022-02-26 16:02] johncrim commented on #11607
It's a little depressing that upvotes are the criteria for making a change, vs assessing the impact.

Also, I suspect that if you're just reverting the recent change, NuGet is still susceptible to this race condition (just less susceptible). This is proven both by the fact that #7503 was opened in 2018, and the [source of the race condition is clearly described in #7503](https://github.com/NuGet/H

[2022-02-27 00:17] dominoFire opened #11624 "[Feature]: Show transitive dependencies from project references in PM UI Installed Tab"
### NuGet Product(s) Involved

Visual Studio Package Management UI

### The Elevator Pitch

In PM UI, show transitive dependencies from referenced projects.

That way, users can see transitive dependencies that indirectly affect their current project.

### Additional Context and Details

Issue filed from PR comment https://github.com/NuGet/NuGet.Client/pull/4465#discussion_r809593140

[2022-02-27 00:31] dominoFire opened #11625 "[DCR]: Show transitive origins in `dotnet list package --include-transitive`"
### NuGet Product(s) Affected

dotnet.exe

### Current Behavior

#### Command

[code]

#### Output

[code]

### Desired Behavior

Add an additional column that indicates which package/project brought a given transitive package. Example:

#### Command

[code]

#### Output

[code]

### Additional Context

See proposal https://github.com/NuGet/Home/blob/dev/accepted/2022/dotnet-nuget-why-proposal.md

[2022-02-28 08:58] osesantos commented on #6764
Hi
The wiki page states that this is currently under review (https://github.com/NuGet/Home/wiki/Centrally-managing-NuGet-package-versions), however, the [MSBuildSdks](https://github.com/microsoft/MSBuildSdks) states a version 2 [here](https://github.com/microsoft/MSBuildSdks/tree/main/src/CentralPackageVersions).
Is there any ETA on this? if not, can the [CentralPackagesVersions](https://github.co

[2022-02-28 16:04] CumpsD commented on #1192
So, how do I get NuGet to pull in the highest version for trans dependencies these days?

[2022-02-28 18:40] zivkan commented on #11607
A number of factors go into the consideration, including impact. But my attempt last week to get early pre-approval got pushback 😞

Kind of. The other issue was specifically for `nugetorgadd.trk`, which was [removed a year ago](https://github.com/NuGet/NuGet.Client/pull/3907). Additionally, it had 4 upvotes, at least one of which I'm very confident was added last week (although github lacks the to

[2022-02-28 19:14] msherms2 commented on #11611
@donnie-msft This was a great help. We had as a last ditch effort attempted to call nuget restore 5 times in a row to try to get by it, but this solution is MUCH better. I absolutely did not want to disable nuget verification but if the choice was between always failing 50% of builds or that, it was an easy choice. Thankfully I don't have to now!

Are you able to update documentation on nuget.exe

[2022-02-28 20:37] dylanbobb commented on #3324
Still no news on this? We've been reducing our path names as much as possible as a work-around, but this really needs to get fixed! No reason for this to remain open since 2016

[2022-02-28 20:41] donnie-msft commented on #11611
@msherms2 Thanks for the feedback and discovering this was missing. I totally agree and I've filed your suggestion https://github.com/NuGet/docs.microsoft.com-nuget/issues/2676.

Glad you're unblocked... Happy Coding!

[2022-02-28 20:41] #11611 closed, assigned to nobody

[2022-02-28 21:18] zivkan commented on #10046
Triage: closing as per above comments.

[2022-02-28 21:18] #10046 closed, assigned to nobody

[2022-02-28 21:19] donnie-msft opened #11626 "Change the threshold for the long path warning"
### NuGet Product(s) Involved

NuGet.exe, Visual Studio Package Management UI, dotnet.exe

### The Elevator Pitch

During `pack`, if we detect that a file path is too long for Windows/Visual Studio to `Restore`, we should warn the customer that what is being packed would have that problem.

Otherwise, the path issue won't be seen until a consumer tries and fails to Restore in Visual Studio.
PM UI

[2022-02-28 21:24] zivkan commented on #10349
Triage: Closing stale issue as no repro.

[2022-02-28 21:24] #10349 closed, assigned to kartheekp-ms

[2022-02-28 21:28] zivkan commented on #10994
Triage: @kartheekp-ms we believe you're looking at related code at the moment. Is there another Home issue we can duplicate against?

[2022-02-28 21:30] #11400 closed, assigned to nobody

[2022-02-28 21:32] donnie-msft commented on #10666
Related: https://github.com/NuGet/Engineering/issues/3805

[2022-02-28 21:35] zivkan commented on #11533
Thank you reporting this issue. At this point we do not have enough information to continue investigating the issue.
Please feel free to comment or open a new issue if needed.

[2022-02-28 21:35] #11533 closed, assigned to nobody

[2022-02-28 21:42] zivkan commented on #11547
triage: @chgill-MSFT to talk to CPS team about scheduling work to provide extensibility for overlay icons

[2022-02-28 21:51] zivkan commented on #11548
Triage: certificate revocation checks are a security feature to ensure that a compromised certificate was not used to impersonate a trusted entity. Package signature verification has been disabled on Linux and Mac, which explains some of the perf differences. Given the design of signed packages and X509 certificates, we don't see what actionable work we can do.

[2022-02-28 21:51] msallin commented on #10349
Still the same issue with the newest sdk version.

[2022-02-28 21:53] zivkan commented on #11574
Thank you reporting this issue. At this point we do not have enough information to continue investigating the issue.
Please feel free to comment or open a new issue if needed.

[2022-02-28 21:53] #11574 closed, assigned to nobody

[2022-02-28 22:04] NickCraver commented on #11548
@zivkan This feature takes a restore from 16 seconds to 5+ minutes and that's not a concern at all? Forget the fact it costs me literal dollars in build minutes and that really adds up at scale, it's a security issue because _it's so bad_ my only performant option is to disable it.

There needs to be performance work invested here, or many people are going to do the same.

[2022-02-28 22:20] erdembayar commented on #7792
Related to: https://github.com/nuget/home/issues/11533

[2022-02-28 22:53] danielsada commented on #11590
Any update on this? @zivkan :)?

[2022-02-28 23:02] #11516 closed, assigned to jeffkl

[2022-02-28 23:17] erdembayar commented on #10650
Reported here too: https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1485176

[2022-02-28 23:18] erdembayar commented on #10650
@jebriede
If you need load balance thing, I can take this isssue, please let me know.

[2022-02-28 23:41] erdembayar commented on #11621
@woernsn
Does this [GitVersion](https://gitversion.net/) is similar to https://github.com/dotnet/Nerdbank.GitVersioning?

[2022-02-28 23:51] dominoFire commented on #8814
@aortiz-msft Reproduced in 17.0; seems to be a caching issue.

![image](https://user-images.githubusercontent.com/1192347/156078249-3e828888-1758-402c-a45e-80885e2d159c.png)

Just open PM UI with an installed package and let it sit for around 10 minutes.

[2022-03-01 00:13] erdembayar commented on #11618
I'm trying to understand actual scenario.
I asked questions in internal feedback ticket also pinged in teams. I'll update here if there is new update.

[2022-03-01 00:21] erdembayar commented on #11620
@v-longmin
Hi. I tried with latest `Main\32227.60 + Dev\6.2.0.85`. So far, I was not able to repro this.
Please verify again and let me know.

[2022-03-01 00:41] erdembayar commented on #11613
@rsking
Could you tell us more? What other protocols and sources would you like us to support?
What would be benefits for added protocol and sources?

[2022-03-01 00:48] rsking commented on #11613
My specific use case is for using an authenticated S3 bucket as a source. They are generally given a URL like `s3://bucketname/path`. I have written a custom provider that can take this as URL, and then get the packages from the source, but this cannot be used as a plugin, as a plugin can only be HTTP(s).

[2022-03-01 00:51] erdembayar commented on #11612
Thank you for filing this issue.
Can you help us with repro steps? Can you remove sensitive data/classes/info and share with us bare minimum project/solution for your plugin? Without it it’s hard to repro for us.
If you’re making zip or git repo please don’t exclude packages folder and bin/obj folders.

[2022-03-01 00:54] erdembayar commented on #11613
But it still using HTTP(s) protocol, right? Do you have sample project repo code help us understand more?

[2022-03-01 01:00] erdembayar commented on #11610
@Kurt-von-Laven
May I close this issue as considering it's resolved? We don't own packages mentioned here.

[2022-03-01 01:05] erdembayar commented on #11609
How are you going to call RestoreRequest's constructor? I'm trying to understand your use case.

[2022-03-01 01:12] erdembayar commented on #11606
@dtivel
If there existing issue which I can dedup?

[2022-03-01 01:27] erdembayar commented on #11601
@renemadsen
Thank you for your feedback.
There was implementation bug with `-n`. If you check [doc](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-nuget-push#:~:text=dotnet%20nuget%20push%201%20Name%202%20Synopsis%203,to%20reduce%20memory%20usage.%20...%206%20Examples.%20) options like `-n` doesn't need any parameter. So previous behavior of `-n` asking for any parameter such as  `true`

[2022-03-01 01:28] #11601 closed, assigned to nobody

[2022-03-01 01:42] erdembayar commented on #11586
Relate - https://github.com/NuGet/Client.Engineering/issues/1399

[2022-03-01 01:51] kartheekp-ms commented on #10349
@msallin - When you say newest sdk version, I imagine it is `net6.0` sdk. In this [comment](https://github.com/dotnet/sdk/issues/14547#issuecomment-732114012) you have mentioned that `The problem is "solved" by using env.NUGET_CERT_REVOCATION_MODE = 'offline'. `  We disabled package signature verification on Linux/Mac as announced in https://devblogs.microsoft.com/nuget/net-5-nuget-restore-failure

[2022-03-01 03:22] zivkan commented on #3324
@dylanbobb did you not read my comment directly above yours?  NuGet does support long paths (with nuget.exe, dotnet.exe, msbuild.exe), but Visual Studio (devenv.exe) does not.

[2022-03-01 03:26] zivkan commented on #11590
Please add a 👍 reaction to the original commit in this issue, so that this issue can bubble up [our issues sorted by 👍 ](https://github.com/NuGet/Home/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc). Also consider upvoting the developercommunity issue. This helps us prioritize based on impact.

[2022-03-01 05:13] lbargaoanu commented on #11609
The same as nuget.exe does it? :) Perhaps I'm missing your point. There is only one constructor and we need to pass all those parameters, including the source mapping. And the source mapping can only be constructed from `ISettings`. But we cannot store the mapping in a nuget configuration file, hence the need for that constructor.

[2022-03-01 06:56] woernsn commented on #11621
I didn't know `Nerdbank.GitVersioning` until now.
It seems to follow somehow the same idea. `GitVersion.net` seems to be more universal in usage to me.
It's a single `.exe` file that can be called in any git repository at any time and provides different kinds of versions (NuGet formatted, build time, commit hash, ...).

[2022-03-01 07:42] raffaeler commented on #10666
@donnie-msft the link is not accessible outside MS people (HTTP 404)

[2022-03-01 09:37] v-longmin commented on #11620
Hi @erdembayar, the issue **still reproes** on Main\32228.143 + Dev\6.2.0.86, and we created C# Console Application(.NET Framework)- PackageReference project, **not** C# Console App(.NET Core) project.

[2022-03-01 09:57] CumpsD commented on #1192
Right, no practical solution then :) I've migrated all to Paket and it's solved too ;) They allow to specify resolution strategy

[2022-03-01 13:08] TheUnstoppable commented on #11607
I am also having this issue while building our multi-project solution in GitLab CI. Building the solution in my host machine is fine, but it fails at `dotnet restore` command in CI environment.

Note that we are not using Docker to build our projects, and our projects are not designed to run in Docker.
We're using dotnet-install script to install .NET 6.0 into the environment, and this error start

[2022-03-01 13:09] tapika opened #11629 "[Bug]: NuGet pack should warn when floating versions are specified in the nuspec"
### NuGet Product Used

NuGet.exe

### Product Version

6.0

### Worked before?

Never worked, I guess

### Impact

It's more difficult to complete my work

### Repro Steps & Context

Using `nuget pack ... <csproj path> `

it's possible to build nuget package.

Next to project I'm using also `.nuspec` file to specify nuget package dependencies.

So I have following files:
1. `project.csproj`
2. `p

[2022-03-01 13:47] dtivel commented on #11606
@erdembayar, not that I'm aware of.

[2022-03-01 18:08] erdembayar opened #11631 "'dotnet nuget push' any value not immediately associated with other options automatically become part of paths"
Follow up on https://github.com/NuGet/Home/issues/11601.
If I do `dotnet nuget push *.nupkg -n az contoso -s Test` then here `az`, `contoso` become part of paths besides `*.nupkg`.
It's quite implicit and confusing for end users, end up with `error: File does not exist az`

![image.png](https://images.zenhubusercontent.com/5eb1d84a3cd56675c3efe510/cd865352-6251-4020-baad-5a34e151cb1d)

Not sure wh

[2022-03-01 18:19] erdembayar commented on #11629
@tapika
Could you fill `Subject/Topic` for your issue? it's missing now.

![image](https://user-images.githubusercontent.com/8766776/156226070-241f7d5a-1677-4e9f-affd-a3770822b328.png)

[2022-03-01 18:40] jeffkl commented on #11563
Team Review: Is this related to https://github.com/NuGet/Home/pull/10852 ?

[2022-03-01 19:36] #11565 closed, assigned to JonDouglas

[2022-03-01 19:40] erdembayar commented on #11621
Actually [Nerdbank.GitVersioning](https://www.nuget.org/packages/Nerdbank.GitVersioning/3.5.85-alpha ) is quite popular, currently 4.3 downloads.  We need to take account how other existing solutions like `Nerdbank.GitVersioning` works, this change might break them.

[2022-03-01 20:37] erdembayar commented on #11601
We called out in [Release note Known Issues](https://github.com/NuGet/docs.microsoft.com-nuget/pull/2681/files)

[2022-03-01 21:02] aortiz-msft commented on #11548
Reopening for feedback (upvotes) from the community.

[2022-03-01 21:10] AraHaan commented on #11548
I agree, when it comes to me on github actions (even though I get free minutes for open source) I expect my code to not take over 5 minutes to restore and then wait even longer for the possible chance a code change of mine might not compile. In that case I want to know the failure ASAP so it can be corrected. When it comes to CI's I could care less about security and more about things wasting my t

[2022-03-01 21:52] erdembayar commented on #11620
@v-longmin @martinrrm
I just synced with Martin, this binary not released yet to customers so it shouldn't be P1 issue.

[2022-03-01 22:45] erdembayar commented on #11629
Also please correct semver version syntax, you're missing closing tag `]` or `)`, correct syntax would be something like `<dependency id="newtonsoft.json" version="[12.0.*, 13.0.1]" />`

[2022-03-01 23:02] heng-liu opened #11634 "[Bug]: embed readme.md is added into symbols.nupkg when packing"
### NuGet Product Used

dotnet.exe

### Product Version

6.0.200

### Worked before?

_No response_

### Impact

Other

### Repro Steps & Context

1. Create a project as following:
[code]
2. Create an docs\README.md file
3. Run `dotnet pack`
4. Check the symbols.nupkg, the README.md is in the symbol package.

BTW, the README.md is not added when the symbol format is snupkg.

### Verbose Logs

_No

[2022-03-01 23:04] heng-liu commented on #11634
Thanks for @chgill-MSFT 's help on confirming that this is not the expected experience.

[2022-03-02 05:28] tapika commented on #11629
Updated ticket a bit to provide all information.

[2022-03-02 09:09] v-luzh opened #11635 "[Bug]: The deleted packages.lock.json file still shows as before in the Solution Explorer window when “RestorePackagesWithLockFile” is not enabled"
### NuGet Product Used

Other/NA

### Product Version

Release-5.11.x\5.11.1.17

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

### Details about Problem
VS Version: D16.11\32228.343
NuGet Version: Release-5.11.x\5.11.1.17
OS Version: Windows-11-Enterprise-21H2

### Repro steps
1. Create a project [e.g. Class Library (.NET Framework)]

[2022-03-02 13:11] tonyhallett opened #11636 "[Bug]: Visual Studio Nuget Package Manager UI does not open if other extension is enabled"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Visual Studio: 2022 Enterprise / Possibly Professional/Communiy - multiple versions

### Worked before?

_No response_

### Impact

I'm unable to use this version

### Repro Steps & Context

I am a contributor to a Visual Studio extension [Fine Code Coverage](https://github.com/FortuneN/FineCodeCoverage) that is buil

[2022-03-02 13:30] dtivel opened #11637 "[Bug]: updating package source URL in Tools | Options UI with illegal path character crashes Visual Studio"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Microsoft Visual Studio Enterprise 2022 (64-bit) - Int Preview Version 17.2.0 Preview 2.0 [32301.631.main]

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

1. Launch VS.
2. Navigate on the main menu to Tools | "NuGet Package Manager" | "Package Manager Set

[2022-03-02 14:50] dylanbobb commented on #3324
If the issue really isn't with nuget that's good news! This issue should be closed in that case.

[2022-03-02 17:52] vsfeedback opened #11638 "Nuget Package Manager Hang VS for 10-30 sec and show Version combo over the desktop / never close"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Nuget-Package-Manager-Hang-VS-for-10-30-/1665959)._

---
[severity:It's more difficult to complete my work] [regression]
[code]

Right click project `CSharpRepl` => `manage nuget packages`
on the top right part chagne the combo to `dotnet-tool` feed
select the nuget `Microsoft.CodeAnalys

[2022-03-02 17:53] kartheekp-ms commented on #11638
I can reproduce the responsiveness issue with VS when Custom ADO source was selected. The version dropdown turns black, and VS shows not responding while waiting to fetch data from the package source. I don't see any responsiveness issues when nuget.org is selected as package source. There is an area of improvement to show loading indicator while waiting for data from package source.

[2022-03-02 17:59] WebDancer69 commented on #11623
The buggy function is PluginDiscoveryUtility.GetInternalPluginRelativeToMSBuildDirectory() which needs to consider the extra "amd64\" in the path for 64-bit msbuild.

[2022-03-02 18:15] erdembayar commented on #11637
I tried it on same VS version, but it didn't repro. It shows expected message "The source specified is invalid. Please provide a valid source".

![image](https://user-images.githubusercontent.com/8766776/156423050-d9029f0c-130a-4d3b-9ee5-b374b20eb99e.png)

![image](https://user-images.githubusercontent.com/8766776/156422899-df17d55f-df84-4a3e-84d9-fedfcd6c9afd.png)

Can you consistently repro this

[2022-03-02 19:03] erdembayar commented on #11636
@tonyhallett
Thank you for filing this issue. But I was not able to repro this issue with latest VS 2022 Pro, not only I can open PMUI also I was able to install new package without issue.

![image](https://user-images.githubusercontent.com/8766776/156430114-d7496532-1b0f-4a5e-a835-be434c39820b.png)

Could you give us repro steps?

[2022-03-02 19:27] erdembayar commented on #11635
I didn't test with 16.11+5.11.1.17, but I did test with latest VS17.2 Int Preview and I can repro similar issue, but experience is bit different it repro's for VS17.2.
Above-described issue repro for netcore project too, but no repro `packages.config` projects.
After I delete `packages.lock.json` files from each project then restore again then same file regenerates for `netcore` but not for `packa

[2022-03-02 20:21] nkolev92 commented on #11635
@erdembayar
I think the scenario is legacy package reference.
So create a .NET Framework project, and when you install a package, select PackageReference.

[2022-03-02 20:33] tonyhallett commented on #11636
No.  Nobody has noticed anything in particular that could have been the cause.

It has happended to me in the last 20 minutes believe it or not !
I was working with a UWP project at the time and was not running any tests either.

Note that the Package Manager Console can be opened and that there is nothing reported in the Package Manager Output Window Pane.

Unfortunately game bar recording do not

[2022-03-02 20:39] tonyhallett commented on #11636
@erdembayar

If I fork the repo and build the vsix can I debug locally ?

[2022-03-02 20:53] erdembayar commented on #11635
`PackageReference` is package name?

[2022-03-02 21:01] tonyhallett commented on #11636
Nuget

[2022-03-02 21:10] erdembayar commented on #11636
Sure, you can. We have independent contributors.
https://github.com/NuGet/NuGet.Client/blob/dev/CONTRIBUTING.md
https://github.com/NuGet/NuGet.Client/blob/dev/docs/debugging.md

[2022-03-02 21:16] tonyhallett commented on #11636
Thanks for the links - the debugging link had the information for installing that I required.
I will debug the commands and hopefully find a way to get back this odd behaviour.

[2022-03-02 21:27] nkolev92 commented on #11635
PackageReference is the project restore style.

.NET Core projects are PackageReference, but CPS based PackageReference, so different project system.

[2022-03-02 23:11] devedse commented on #7512
I'm currently having the same issue. But it only happens sometimes.
Please see this build for example:
https://github.com/devedse/DeveBlockStacker/actions/runs/1925065729/attempts/1

[2022-03-02 23:50] zivkan opened #11639 "[Bug]: NU1004 in Visual Studio, but not command line (lock files in locked mode)"
### NuGet Product Used

Visual Studio Package Management UI, Visual Studio Package Manager Console

### Product Version

VS16.11

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

An internal customer reported this to me in a huge, extremely complex, closed source repo. Given the complexity, I'm not 100% sure how to reproduce it, but

[2022-03-03 00:25] martinrrm commented on #11620
@v-longmin C# Console Application (.NET Framework) creates a .config style project, I'm closing this issue and going to update the doc to be more clear

[2022-03-03 00:25] #11620 closed, assigned to martinrrm

[2022-03-03 01:02] v-luzh commented on #11635
Hi @erdembayar, It doesn't repro on 17.2 Preview 2 (Main\32228.143). The behavior on VS 17.2 is reasonable as the screenshot I uploaded in Expected section above.

[2022-03-03 02:16] erdembayar commented on #11635
I tried to repro with actual version in description. I can see `packages.lock.json` n FileExplorer, but not in VS.

![image](https://user-images.githubusercontent.com/8766776/156482321-ee9452cc-204f-4e5f-9567-9e0ac8126ccb.png)

Am I missing something?

[2022-03-03 03:14] erdembayar commented on #7792
@aortiz-msft
After debugging code now, I have some context on this. But before start implementation of fixing I try to reach out Azdo team and discuss internally.

[2022-03-03 05:29] tapika commented on #11629
My assumption was that .nuspec file allows asterisk, because if you build using .nuspec - it would contain asterisk. But apparently I was mistaken - nupkg build also saves incorrect information.

So this kind of config:
[code]

Gets saved into .nupkg as:
[code]

I think at very least nuget should report an error if nothing else.

Also this link: https://stackoverflow.com/a/43202541/2338477

Was al

[2022-03-03 09:34] dominoFire commented on #10750
Reminder: Add a counter for the number of packages in each group

From comment: https://github.com/NuGet/NuGet.Client/pull/4465#issuecomment-1054413343

[2022-03-03 10:01] dominoFire opened #11641 "Margin/Spacing reserved for message (Warning, Error) in packages list in PM UI looks unnecessary"
@dominoFire commented on [Thu Mar 03 2022](https://github.com/NuGet/Client.Engineering/issues/1461)

From comment: https://github.com/NuGet/NuGet.Client/pull/4465#issuecomment-1054413343

A spacing is noticed that takes more screen space than needed (message with yellowish background message):

![image](https://user-images.githubusercontent.com/1192347/156541275-af79ec8b-3814-44ad-8706-839c4fdf579

[2022-03-03 15:12] stwZiemer opened #11642 "[Bug]: Locked mode restore does not work as soon as there is another project in the same solution"
### NuGet Product Used

dotnet.exe

### Product Version

dotnet 6.0.200

### Worked before?

_No response_

### Impact

I'm unable to use this version

### Repro Steps & Context

1. Extract example project
[HelloWorldOfPackageLockFiles_buggy.zip](https://github.com/NuGet/Home/files/8178845/HelloWorldOfPackageLockFiles_buggy.zip)

2. Run `dotnet restore --locked-mode` inside the example project
3.

[2022-03-03 15:36] bgavrilMS commented on #6645
Folks, do you have any updates on this? There are some solutions here and there, but they mostly focus on later versions of .NET. We are an SDK (Microsoft.Identity.Client) and need support for all .NET Fx 4.6.1+ .NET Core 3.1 + and NetStandard. The NET Fx seems problematic.

[2022-03-03 16:24] donnie-msft opened #11643 "Remove unused strings from NuGet.PackageManagement.UI\Resources.resx"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

any

### Worked before?

_No response_

### Impact

Other

### Repro Steps & Context

There are several strings that I don't see referenced.
Check `NuGet.Client\src\NuGet.Clients\NuGet.PackageManagement.UI\Resources.Designer.cs`
and remove any unnecessary strings.

For examples:

- I removed `Text_LicenseAcceptance`

[2022-03-03 16:46] #11486 closed, assigned to dominoFire

[2022-03-03 17:55] erdembayar commented on #11642
It looks you missing below tag in your csproj, it signals to create lock file. For more details [check](https://devblogs.microsoft.com/nuget/enable-repeatable-package-restores-using-a-lock-file/#:~:text=To%20enable%20the%20use%20of%20lock%20file%20with,so%20that%20it%20is%20always%20available%20for%20restore.).

[code]
But `<RestoreLockedMode>true</RestoreLockedMode>` is enforcing that lock file a

[2022-03-03 19:41] stwZiemer commented on #11642
Thank you for your reply. Unfortunately, I can't seem to get it to work with floating ranges like

  <ItemGroup>
    <PackageReference Include="Newtonsoft.Json" Version="[12.*, 13.0.0)" />
  </ItemGroup>

and with a second project referring to the first one.

Could you point me to an example with a floating range and multiple projects in the solution?

________________________________
Von: Erick Y

[2022-03-03 20:01] erdembayar commented on #11642
Which one has above ref? If possible create repro sdk style projects?

[2022-03-03 20:07] stwZiemer commented on #11642
After some googling I found that the problem is fixed in https://github.com/NuGet/NuGet.Client/pull/4445.

Thank you for your time.

________________________________
Von: Erick Yondon ***@***.***>
Gesendet: Donnerstag, 3. März 2022 21:01:23
An: NuGet/Home
Cc: Weidmann Stefano; Author
Betreff: Re: [NuGet/Home] [Bug]: Locked mode restore does not work as soon as there is another project in the same

[2022-03-03 20:24] aortiz-msft commented on #11467
Hey @tonygiang, yes, we are still planning on fixing this issue. However, we are lowering the priority since there's an easy workaround for this particular symptom of the root problem. We currently don't have a good understanding of when we will be able to get to it.

[2022-03-03 20:36] erdembayar commented on #11642
Sure. May I close this issue now?

[2022-03-03 20:43] nkolev92 commented on #9765
My fix for https://github.com/NuGet/Home/issues/7245 will solve this one too

[2022-03-03 21:04] epvanhouten commented on #8287
@nkolev92 Is the current recommendation to restore with `dotnet restore --force-evaluate --runtime <RUNTIME_IDENTIFIER>`?

[2022-03-03 21:08] nkolev92 commented on #8287
@epvanhouten

We don't really have a well fleshed out recommendation at this point.
Potentially you could generate 2 lock files, and when you run publish, you can set NuGetLockFilePath to the extra lock file.

[2022-03-03 21:47] nkolev92 commented on #8985
cc @kartheekp-ms

[2022-03-03 22:34] aortiz-msft commented on #11635
@v-luzh does this issue repo on the latest version of 16.11?

[2022-03-03 23:47] nkolev92 commented on #11635
Worth calling out how the file is being deleted.

In VS? Through File Explorer?
The legacy project system doesn't support globbing, or automatic refreshing so it might be a red herring.

[2022-03-04 02:03] donnie-msft commented on #11636
Debugging is a good suggestion. Just curious, do you test/debug your VSIX in the VS Experimental Instance? If you open NuGet PMUI in that Experimental VS, does the same error occur?

Another quick thing to check:

This is the sort of error I've seen with assembly version issues/conflicts. I'd check any configs you may find here:
`C:\Users\<user>\AppData\Local\Microsoft\VisualStudio\17.0_<some goo>

[2022-03-04 02:06] erdembayar commented on #11618
Everytime, I try to repro I'm getting different kind of errors. Something is broke here.

![image](https://user-images.githubusercontent.com/8766776/156685295-4295ce85-7ca8-4a9b-9a68-d96706591956.png)

[2022-03-04 02:16] donnie-msft opened #11644 "[Bug]: Null Reference exception when loading/refresh any Tab of the PM UI"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Version 17.2.0 Preview 2.0 [32222.421.main]

### Worked before?

17.2.0 Preview 2.0

### Impact

I'm unable to use this version

### Repro Steps & Context

Using a new solution, I incidentally stumbled upon a null reference exception in PM UI. I've identified the location in the code already below.

Filed VS Feedback

[2022-03-04 08:32] v-luzh commented on #11635
Hi @aortiz-msft Yes, it repro on the latest version of 16.11 (that's D16.11\32228.343 which we filed this bug on).
Hi @nkolev92, we deleted the file on disc (in File Explorer) which you created manually in step 1 above.
Hi @erdembayar, we used C# Class Library (.NET Framework) project, not the C# Class Library (.NET Core).

[2022-03-04 09:51] HurricanKai opened #11645 "[Feature]: Allow Maintainers to specify additionally supported target frameworks"
### NuGet Product(s) Involved

NuGet.exe, dotnet.exe

### The Elevator Pitch

The list of supported frameworks becomes increasingly important, and many packages still trying to support old as well as new targets, causing the list of supported frameworks is increasingly confusing and allowing maintainers to help clear up this confusion would be much appreciated.
Many packages support "old" framewor

[2022-03-04 10:05] v-crchang opened #11646 "[Bug]: The searched package does not appear at the top of package list in “Browse” Tab"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

NuGet Client Dev\6.2.0.89

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

## Repro steps
1. Create a project (e.g. “C# Console App (.NET Core)”).
2. Open PM UI of the project by right-clicking the project->Manage NuGet Packages… in Solution Explorer.
3. S

[2022-03-04 10:06] msallin commented on #10349
A mistake on my side. All fine now. Thank you!

[2022-03-04 10:31] tonyhallett commented on #11636
@donnie-msft

Indeed.

Unfortunately I do not have the issue on my machine.  If it does I will see if it occurs in the experimental instance.

I have version 6.0.1.1 of NuGet.PackageManagement.UI.  I used Reflector to check the nuget dependencies and they all opened.  I opened NuGet.PackageManagement.UI in ILDasm and there were no errors.

6.0.1.1 is a release candidate.... I will update visual st

[2022-03-04 13:41] erdembayar commented on #11635
I used C# Class Library (.NET Framework) project in last one.

[2022-03-04 13:48] marcin-krystianc opened #11647 "[Bug]: CPVM - NuGet.exe doesn't include central transitive dependencies in the nuspec of the created package"
### NuGet Product Used

NuGet.exe

### Product Version

dev branch

### Worked before?

no

### Impact

Other

### Repro Steps & Context

- `dotnet pack` adds transitive dependencies (when [transitive dependency pinning is enabled](https://github.com/NuGet/NuGet.Client/pull/4025)) to the dependency groups in the nuspec of the created package (see https://github.com/NuGet/NuGet.Client/blob/b76bf483

[2022-03-04 14:50] epvanhouten commented on #8287
@nkolev92

Thanks for the guidance. I've added the following to my `Directory.Build.props` and seem to be getting satisfactory results when using `dotnet publish --runtime linux-x64 --no-selfcontained -p:PublishReadyToRun=true`.

[code]

Are there any risks with doing this that I am missing?

[2022-03-04 16:19] donnie-msft commented on #11646
@v-crchang it would be helpful if we could see which Package Sources are selected in both instances. Could you verify that nuget.org is enabled in the "Actual" repro?

[2022-03-04 16:21] erdembayar commented on #11647
See description **_Not providing detailed repro steps as the https://github.com/NuGet/NuGet.Client/pull/4025 has not been merged yet_**

[2022-03-04 16:29] erdembayar commented on #11644
Donnie hit this by random chance, it's hard to repro manually, and offline discuss points it existed since VS16.9.
Good thing is we have very nice long stack call tree.
@donnie-msft Can I remove `RegressionDuringThisVersion` label since it looks existing issue before https://github.com/NuGet/NuGet.Client/pull/4119?

[2022-03-04 16:41] erdembayar commented on #11635
Yes, I'm using `Library (.NET Framework) project`. But still couldn't repro, could you create gif animation please? Maybe there is something I'm missing.
![image](https://user-images.githubusercontent.com/8766776/156803246-a6beaf1f-cc8a-4ec1-a9ae-aac89eea0b51.png)

[2022-03-04 17:05] erdembayar commented on #11645
@HurricanKai
Could you please fill the top `Title`? Currently it's empty.
![image](https://user-images.githubusercontent.com/8766776/156808055-4ccd9a22-24e9-467a-95db-b193cf575aa0.png)

[2022-03-04 17:40] JonDouglas commented on #11645
@HurricanKai We'd love to learn more about your scenarios and thoughts in this space. We're actively looking into compatibility scenarios as noticed by our recent blogs and features released, but perhaps a quick call might be justified? We can put a small summary here on what we covered.

https://aka.ms/talktonuget (Office hours is fine)

If a time doesn't work out, i'll write up a detailed respon

[2022-03-04 18:15] nkolev92 commented on #11635
If this is only about the file, there's nothing NuGet can/should do about it.

I imagine the same thing could apply if the files was any random text file.

[2022-03-04 19:09] nkolev92 commented on #8287
As long as you make RuntimeIdentifier(s) defaults are not set, then I don't see too many concerns.

[2022-03-04 19:34] nkolev92 opened #11648 "Remove unneeded allocations when parsing assets file"

[2022-03-04 21:17] nkolev92 commented on #9864
Hey all,

Given that this can be a pretty impactful change, I have written up a proposal.
I would appreciate any reviews on it https://github.com/NuGet/Home/pull/11649.

The pull request for the proposal can be found at https://github.com/NuGet/NuGet.Client/pull/4484.

[2022-03-04 21:27] nkolev92 opened #11650 "NuGet.Protocol.Tests.LocalPackageSearchResourceTests.LocalPackageSearch_SearchAsync_SlowLocalRepository_WithCancellationToken_ThrowsAsync is flaky"
6/46 builds have this failure.

This was a recently added test, so don't think it's a one off.

[2022-03-04 21:31] nkolev92 opened #11651 "Disable NuGet.Protocol.Tests.LocalPackageSearchResourceTests.LocalPackageSearch_SearchAsync_SlowLocalRepository_WithCancellationToken_ThrowsAsync since it's flaky."
Details in https://github.com/NuGet/Home/issues/11650

[2022-03-04 22:55] aortiz-msft commented on #11590
This also reproduces in 16.11.

[2022-03-04 22:59] nkolev92 opened #11652 "IVsNuGetProjectUpdateEvents.StartSolutionRestore should emit file paths, not file name."

[2022-03-05 00:21] #11639 closed, assigned to zivkan

[2022-03-05 01:17] #8577 closed, assigned to kartheekp-ms

[2022-03-05 03:22] donnie-msft commented on #11636
@tonyhallett I reached out to the VS Extensibility team, and their suggestion was to get a full heap dump. They said,

I'd suggest, the next time a contributor has a repro of this problem, in VS use the Help -> Report a Problem to submit a report. Be sure to reference this issue, and the issue in your repo, so we can see the context of we have in this thread. Make sure to include a DMP in that rep

[2022-03-05 09:30] tonyhallett commented on #11636
@donnie-msft Thank you. I will inform the users of the extension.

[2022-03-05 18:59] loic-sharma commented on #11548
FYI for client team, [@bartonjs suggested](https://github.com/dotnet/runtime/issues/64689#issuecomment-1059614050) investigating this by [enabling Windows' chain-building telemetry](https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-vista/cc749296(v=ws.10)?redirectedfrom=MSDN#in-this-guide).

[2022-03-06 11:09] BhaaLseN commented on #5986
I recently ran into a similar issue (a package using an optional transitive dependency that causes my project to fail compilation due to a class/namespace conflict), and found https://github.com/NuGet/Home/issues/5986#issuecomment-732401471 as suitable workaround.

However: I had to adjust the code slightly, because the build would should "Cannot find reference 'path/to/referenced.dll'" warnings t

[2022-03-06 22:00] cutty225 commented on #11636
I am one of the users of @tonyhallett FCC extension. As per instructions, I have reproduced the issue this morning and submitted a report via Visual Studio with DMP attached: https://developercommunity.visualstudio.com/t/NuGet-Package-Manager-prevented-from-ope/1684617

[2022-03-07 03:02] v-crchang commented on #11646
@donnie-msft We have selected "NuGet.org" package source in both instances, it is enabled in the "Actual" repro. And we can find "Newtonsoft.Json" package through the "NuGet.org" package source, it's only not show at the top of the package list as above mentioned in "Actual" screenshot.

[2022-03-07 09:25] marcin-krystianc commented on #11647
HI @erdembayar, https://github.com/NuGet/NuGet.Client/pull/4025 is just implementing option to enable a feature called "transitive dependency pinning". But the feature itself was in fact implemented in the past and then was disabled with this PR: https://github.com/NuGet/NuGet.Client/pull/3719.
So it is true that the issue with nuget.exe that I'm reporting here is not yet reproducible, but it will

[2022-03-07 11:13] v-luzh commented on #11635
Hi @erdembayar , please refer to below gif animation.
![DeletedStillExist](https://user-images.githubusercontent.com/20632625/157020692-106897aa-8254-4518-91a5-b869ed16fbba.gif)

[2022-03-07 13:31] Smartisa commented on #10389
There's another question that bothers me for a long time. Is there a way to know the top-level dependencies from "packages. config"?
Thanks!

[2022-03-07 14:35] zivkan commented on #2767
Apologies to community members for linking to a private repo, but initial planning has already started here: https://github.com/NuGet/Client.Engineering/issues/1255. We will make things public as appropriate.

[2022-03-07 14:35] #2767 closed, assigned to zivkan, kartheekp-ms

[2022-03-07 17:17] erdembayar commented on #11635
2 things in question.
1. Why did you create empty `packages.lock.file` manually?
2. VS creates it for you when you open solution since it does implicit restore, right?

[2022-03-07 17:27] zivkan commented on #11635
@erdembayar https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files#enabling-the-lock-file

If there is no lock file on disk, and the project has not set the MSBuild property `RestorePackagesWithLockFile` (this test scenario, from the title of this github issue) then no, VS/NuGet will not re-create the lock file.

[2022-03-07 17:54] #11572 closed, assigned to martinrrm

[2022-03-07 19:29] nkolev92 opened #11653 "Specifying both -f ... and -r ... to dotnet build fails to restore if multiple frameworks are present in the project file"
Original bug: https://github.com/dotnet/sdk/issues/21877

Repro:

[code]

The problem is that it's trying to restore the `net6.0-maccatalyst` framework from the project file using the `ios-arm64` RuntimeIdentifier, which fails, because `ios-arm64` is not a valid RuntimeIdentifier for Mac Catalyst.

It seems that the implicit restore by "dotnet build" does not take into account the specified -f val

[2022-03-07 19:38] nkolev92 commented on #11653
The gist is that NuGet respects both TargetFramework and TargetFrameworks, but in some scenarios, people want to build only for a specific TargetFramework, and NuGet simply wouldn't even look at TargetFramework because TargetFrameworks is set.

2 options:

* NuGet respects TargetFramework over TargetFrameworks, if TargetFramework is set as a global property.
* The SDK passes TargetFramework in  a

[2022-03-07 19:39] nkolev92 commented on #11653
After talking to @dsplaisted, sounds like they want this to be fixed in the next minor release, 6.0.300.

cc @jonathanpeppers @aortiz-msft @JonDouglas

[2022-03-07 19:52] #11651 closed, assigned to nkolev92

[2022-03-07 19:53] #11652 closed, assigned to nkolev92

[2022-03-07 19:54] #7245 closed, assigned to nkolev92

[2022-03-07 19:54] #9765 closed, assigned to nkolev92

[2022-03-07 20:23] erdembayar commented on #10650
Most likely related to https://github.com/NuGet/Home/issues/11644

[2022-03-07 20:58] nkolev92 opened #11654 "Avoid calling CreateLockFileTargetLibrary twice when AssetTargetFallback is used"
See: https://github.com/NuGet/NuGet.Client/blob/52dd383ae0899680f487ff31e9dd63d0033eea32/src/NuGet.Core/NuGet.Commands/RestoreCommand/LockFileBuilder.cs#L247

[2022-03-07 21:27] jeffkl commented on #11505
@tebeco package source mapping currently only works when defined in `NuGet.config`.  The feature described in this issue is to simply require package source mapping when managing package versions centrally.

[2022-03-07 21:29] erdembayar opened #11655 "System.TypeInitializationException in NuGetConsole.Host.PowerShell.dll!NuGetConsole.Host.PowerShell.Implementation"
NuGet.Client tracking issue for https://devdiv.visualstudio.com/DevDiv/_queries/edit/1365236/?triage=true
I added Around The World tag here since internal issue has one.
It's new exception started to appeared in VS17.00

[2022-03-07 21:30] tebeco commented on #11505
yes my question still stands though.

it's really like to avoid relying on a non flexible xml and to msbuild for most of what's possible

feed list
dotnet tool
source mapping

i don't understand the need of nuget.config. We're recreating the same problem as SLN file but this time it's named nuget.config

[2022-03-07 21:38] jeffkl commented on #11505
@tebeco I would recommend you open a new feature request to allow package source mapping definitions to come from MSBuild instead of `NuGet.config`.  Keep in mind there are certain technical limitations when it comes to where configuration data is stored (example https://github.com/NuGet/Home/issues/7855).  I'm not sure if package source mapping would suffer from any of these limitations.

[2022-03-07 21:51] heng-liu commented on #5555
Hi @kartheekp-ms , here is the spec of consolidating user wide NuGet.Config files on Linux/Mac : https://github.com/NuGet/Home/pull/10364

[2022-03-07 22:20] dominoFire commented on #10039
Made some progress on this task. Branch with changes is https://github.com/nuget/nuget.client/tree/dev-dominofire-clipackage

There are commands left to be migrated to System.CommandLine:

- [ ] `dotnet nuget sign`
- [ ] `dotnet add package`
- [ ] `dotnet remove package`
- [ ] `dotnet list package`

[2022-03-07 23:14] baronfel commented on #10039
That's great news! If you need anything from S.CL please reach out!

[2022-03-07 23:59] #11648 closed, assigned to nkolev92

[2022-03-08 00:09] nkolev92 commented on #11653
In the new issues, we'll discuss it during our next triage meeting Thursday.

fyi @dsplaisted @jonathanpeppers

[2022-03-08 00:13] jebriede commented on #11641
@dominoFire please add labels to this issue. Thanks!

[2022-03-08 01:27] nkolev92 commented on #11655
@erdembayar I had the same question for one my issues, and after a brief chat with Arturo he suggested we don't duplicate the Around The World labels to make the progress easier to figure out.

[2022-03-08 01:29] jebriede commented on #11646
This is a regression introduced by this change: [NuGet.Client/src/NuGet.Clients/NuGet.PackageManagement.UI/PackageItemLoader.cs at 82dc2b64ff69ef03d9ab7b7b4b015748777e7e44 · NuGet/NuGet.Client (github.com)](https://github.com/NuGet/NuGet.Client/blame/82dc2b64ff69ef03d9ab7b7b4b015748777e7e44/src/NuGet.Clients/NuGet.PackageManagement.UI/PackageItemLoader.cs#L304)

[2022-03-08 01:50] erdembayar commented on #10045
@anangaur
Do you know contact to GPR team? I need to ask questions.

[2022-03-08 06:29] Smartisa commented on #11399
Are there any programmable interfaces to get top-level dependencies?

[2022-03-08 07:04] Smartisa opened #11657 "Are there any programmable interfaces that can get all top-level dependencies when migrating packages.config to packagereference?"
### Discussed in https://github.com/NuGet/Home/discussions/11656

<div type='discussions-op-text'>

<sup>Originally posted by **Smartisa** March  8, 2022</sup>
For example:
![image](https://user-images.githubusercontent.com/47079990/157184221-a5723f26-e0f1-406f-863e-3ba17f6261ca.png)
How can I automatically obtain top-level dependencies?</div>

[2022-03-08 07:53] Smartisa commented on #8316
The link is not available now. Can you share it again?
Thanks!

[2022-03-08 08:23] Smartisa commented on #7025
@PatoBeltran Is there an interface to get top-level dependencies?

[2022-03-08 09:18] v-luzh opened #11658 "[Bug]: Package description shows instead of top-level packages info in the tooltip of a transitive package"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Dev\6.2.0.95

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

### Details about Problem
VS Version: Main\32307.127
NuGet Version: Dev\6.2.0.95
OS Version: Windows-11-Enterprise-21H2
### Repro steps
1. Set NUGET_TRANSITIVE_DEPENDENCIES_IN_PMUI environment v

[2022-03-08 09:21] v-luzh opened #11659 "[Bug]: Duplicated installed packages show in “Installed” tab of solution-level PM UI after installing different versions of the same package into a solution after enabling transitive package"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Dev\6.2.0.95

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

### Details about Problem
VS Version: Main\32307.127
NuGet Version: Dev\6.2.0.95
OS Version: Windows-11-Enterprise-21H2

### Repro steps
1. Set NUGET_TRANSITIVE_DEPENDENCIES_IN_PMUI environment

[2022-03-08 11:30] marcin-krystianc commented on #11647
I think this issue can be closed. I've just found out, that according to documentation `nuget.exe` is not supposed to support SDK-style projects, so there is also no reason to expect that it is going to support central transitive dependencies (See https://docs.microsoft.com/en-us/nuget/create-packages/creating-a-package):

[2022-03-08 14:46] erdembayar commented on #11647
As per request above, closing this.

[2022-03-08 14:46] #11647 closed, assigned to nobody

[2022-03-08 16:59] #10327 closed, assigned to nobody

[2022-03-08 16:59] #10389 closed, assigned to jeffkl

[2022-03-08 20:48] jeffkl opened #11662 "[Bug]: Warning about ignoring VersionOverride assumes that no other central package management is in use"
### NuGet Product Used

dotnet.exe, MSBuild.exe, NuGet.exe

### Product Version

17.2 Preview 2

### Worked before?

17.2 Preview 1

### Impact

I'm unable to use this version

### Repro Steps & Context

Originally reported by @andygerlicher

1. Use `Microsoft.Build.CentralPackageVersions`
2. Specify `VersionOverride` on a `<PackageReference />`
3. Update to Visual Studio 17.2 Preview 2

Restore w

[2022-03-08 21:10] donnie-msft commented on #11636
@cutty225 Just took a look and replied. In short, the DMP is corrupted, and I could not reproduce the NuGet issue. Instead, your extension was not successfully loaded. My first guess is there's a broken MEF export in your extension. NuGet also uses an export for the Output Window in VS and implements an `ILogger` , so perhaps it's related to why NuGet is broken on your machine.

[2022-03-08 21:14] #10753 closed, assigned to martinrrm

[2022-03-08 22:34] tonyhallett commented on #11636
@donnie-msft
I had that Mef exception in the last couple of days. It did not matter what component I asked Vs for. Even ILogger with export having no imports. I cleared the Mef cache and the problem went away.

[2022-03-08 23:26] donnie-msft commented on #11636
Found this.. maybe a better approach than just deleting the folder.

`%localappdata%\microsoft\visualstudio<instanceID>\ComponentModelCache\Microsoft.VisualStudio.Default.err`
This cache is replaced with each update of the MEF cache. Because most updates of the MEF cache are incremental, the log file can be incomplete, showing only issues found during the incremental update. To ensure that the log

[2022-03-08 23:28] donnie-msft commented on #11636
Also using these MEF Analyzers may be helpful to identify code issues:
https://github.com/microsoft/vs-mef/blob/main/doc/analyzers/index.md

[2022-03-08 23:31] #11222 closed, assigned to jeffkl

[2022-03-08 23:40] tonyhallett commented on #11636
@donnie-msft Thanks

[2022-03-09 01:17] nkolev92 commented on #9864
When a NuGet item is seen as a duplicate, the first item is chosen and a warning is raised. NU1505 for PackageReference, NU1506 for PackageDownload, NU1507 for PackageVersion.
This warning supports NoWarn, TreatWarningsAsErrors, and it can be disabled altogether.

We're also supporting ContinueOnError for VS purposes.

[2022-03-09 10:00] HurricanKai commented on #11645
@JonDouglas We were supposed to talk about this yesterday (for me), unfortunately I couldn't join due to some issues with corporate security, my apologies. Is there a different way to get in touch?

[2022-03-10 00:42] nkolev92 opened #11665 "NRE when NominateProjectAsync is called during early solution initalizaiton"
Comment from https://github.com/NuGet/NuGet.Client/pull/4157#discussion_r823222111.

❗ This line is getting executed in two cases where it should not be allowed:

When OperationCanceledExecption is thrown by FromIVsSolution2
When a different exception is thrown, but the solution is not yet fully loaded
In each of these cases, AddProjectRestoreInfoSource throws ArgumentNullException for projectName

[2022-03-10 00:43] nkolev92 commented on #11665
This is an issue blocking partner integration tests, bumping pri to 1.

[2022-03-10 02:16] jebriede opened #11666 "[DCR]:"
### NuGet Product(s) Affected

Visual Studio Package Management UI

### Current Behavior

Currently, a package in the Package Manager list is a representation of a single package and its version. In the browse tab, the package will have its latest version associated with the package in the list. In the Installed tab, the version will be the version of the package that is installed. In the updates

[2022-03-10 04:53] dominoFire commented on #10759
Created asessment metrics doc: https://github.com/NuGet/Client.Engineering/pull/1489/files

[2022-03-10 05:39] Kurt-von-Laven commented on #11610
Apologies for the delay; just got back from a trip. Yes, I am closing this issue in favor of https://developercommunity.visualstudio.com/t/NETStandardLibrary203-Ships-With-Wro/1688568 and https://developercommunity.visualstudio.com/t/MicrosoftNETCorePlatforms210-Ships/1688567.

[2022-03-10 05:39] #11610 closed, assigned to nobody

[2022-03-10 11:48] v-luzh commented on #11635
Hi @erdembayar,
1. That's one test case of Repeatable Restore Test. The purpose is to verify restoring will not regenerate the deleted lock file when “RestorePackagesWithLockFile” is not enabled.
2. VS will not create it for you if you didn't set “RestorePackagesWithLockFile”.

This is not a regression since it reproes on 16.10.0 Preview 1.0 [31025.218.d16.10]. Why it is OK on VS 17.2 Preview3 lat

[2022-03-10 15:43] meronz commented on #10275
In my case this was happening due to a unclean build environment.
Create a .dockerignore file containing the following lines:
[code]
After this, the first time you build your image be sure to add the `--no-cache` option. This is only necessary the first time.

[2022-03-10 19:02] nkolev92 commented on #11635
This sounds like something we should move to project team and let them decide how to handle it.

You can probably replace packages.lock.json with *any* non compile file and it's likely to repro. It doesn't seem like it has anything to do with lock files in particular.

[2022-03-10 19:36] nkolev92 commented on #11593
Thank you reporting this issue. At this point we do not have enough information to continue investigating the issue.
Please feel free to comment or open a new issue if needed.

[2022-03-10 19:36] #11593 closed, assigned to nobody

[2022-03-10 19:38] nkolev92 commented on #11594
Triage: Hey @JonDouglas can you please create a respective issue server side?

[2022-03-10 19:52] nkolev92 commented on #11623
Workaround: Install the plugin separately. https://github.com/microsoft/artifacts-credprovider

[2022-03-10 19:59] nkolev92 commented on #11631
Team triage: Closing by design.

[2022-03-10 19:59] #11631 closed, assigned to nobody

[2022-03-10 21:50] flcdrg commented on #10650
I was the reporter for one of those developerfeedback tickets.

I am getting this error almost every time I start Visual Studio 2022 now. Frustratingly, even though I click **No** on the error dialog, it will still show up again the next time I open a specific solution.

![image](https://user-images.githubusercontent.com/384747/157760312-a6f530b0-f243-42c0-abe7-ac0f101d0b1f.png)

This is really an

[2022-03-10 22:05] erdembayar commented on #10650
Could be able to create[ separate issue](https://github.com/NuGet/Home/issues) unless it's connected to this issue? I'm not sure if it's connected to NuGet, it's too generic error.

[2022-03-10 22:25] flcdrg commented on #10650
@erdembayar The error I reported in https://developercommunity.visualstudio.com/t/The-VsPackage-package-did-not-load-cor/1669580?from=email (which was closed as a dup of this issue) has what appears to be the same stack trace error that I am still seeing at the end of the ActivityLog.xml, so pretty sure it's the same?

[code]

[2022-03-10 22:52] erdembayar commented on #10650
Can you do me favor? It looks you can repro this consistently. Please reopen your VS make sure above window pop-up then check `ActivityLog.xml` contains below item with today's date + your current time.
![image](https://user-images.githubusercontent.com/8766776/157767954-788929fe-60c7-4d2e-b8a0-1029f774b2d8.png)

[2022-03-10 23:09] flcdrg commented on #10650
Yep.. the timestamp is `2022/03/10 21:46:21.528`, which given I believe it is UTC would correspond to when that happened today

[2022-03-11 01:18] nkolev92 commented on #9864
Reviewed the proposal internally.
Goal is 17.3/6.0.400 for VS/.NET SDK respective.

[2022-03-11 03:11] v-luzh commented on #11635
Hi @nkolev92, I agree with you. Could you please help to confirm which area path should we move this bug to? I will move it later.

[2022-03-11 03:14] erdembayar commented on #10650
Could you share your latest ActivityLog.xml? No need sensitive info, only this entry.
Also, could you compile NuGet.Client on your local? If yes, then I already have fix [candidate](https://github.com/NuGet/NuGet.Client/tree/dev-eryondon-10650-CollectionWasModifiedEnumarationMayNotExecute) you can try out and check if it resolved your issue.

[2022-03-11 03:18] dotMorten opened #11667 "[Bug]: .NET Restore on MacOS prefixes filenames with foldernames instead of placing in subfolders"
### NuGet Product Used

dotnet.exe

### Product Version

6.0.200

### Worked before?

Not sure

### Impact

I'm unable to use this version

### Repro Steps & Context

From commandline on MacOS run:

[code]
Open up the nuget cache folder `~/.nuget/packages/mstestx.unittestrunner/2.0.0-preview1`
Notice that instead of files being in a folder structure, they are all in the same folder with their fold

[2022-03-11 03:48] flcdrg commented on #10650
Just this bit?

[code]

I'll take a look at NuGet.Client a bit later today

[2022-03-11 07:38] OskarKlintrot commented on #4103
And here's my approach: https://github.com/OskarKlintrot/UpdatR. I tried to make it's output pr- and ci/cd-friendly, similar to nukeeper.

[2022-03-11 10:30] opheoHeidrich opened #11668 "[Feature]: CentralPackageTransitivePinningEnabled should work with the newest Version of the SDK"
### NuGet Product(s) Involved

NuGet SDK

### The Elevator Pitch

The Microsoft.Build.CentralPackageVersions SDK has a new version with breaking changes in their syntax. There is code in NuGet to use these package-versions if the CentralPackageTransitivePinningEnabled property is true, but the processing code only works for the old syntax of the Microsoft.Build.CentralPackageVersions SDK. I would

[2022-03-11 11:02] opheoHeidrich commented on #11668
@jeffkl ping

[2022-03-11 12:53] mjolka opened #11669 "[Bug]: Very slow restore or OOM when using NoWarn"
### NuGet Product Used

dotnet.exe, NuGet.exe

### Product Version

6.1.0.106

### Worked before?

_No response_

### Impact

I'm unable to use this version

### Repro Steps & Context

### Description

A NoWarn in a package reference can add minutes to a restore, or make it fail with an `OutOfMemoryException`.

This is related to https://github.com/NuGet/Home/issues/11222 and https://github.com/Nu

[2022-03-11 13:53] enricosada commented on #9786
Something similar to set the `ContinuePackingAfterGeneratingNuspec` to true can be (after `<Import Project="..\..\.paket\Paket.Restore.targets" />`) :

[code]

[2022-03-11 15:27] Nexusmeister commented on #9250
Are there any updates on this problem?

[2022-03-11 15:54] JonDouglas commented on #11667
I took a quick look and saw some diffs in the two packages you mention. Can you confirm that the 2.0.0-preview1 package does not include anything extra such as `_rels` here as a top-level package?

![image](https://user-images.githubusercontent.com/1288848/157899684-9ad1f14f-f0c1-496a-b0f4-2f97320d3a04.png)

https://nuget.info/packages/MSTestX.UnitTestRunner/2.0.0-preview1

I took a quick glance a

[2022-03-11 15:58] dotMorten commented on #11667
I honestly have no idea what the _rels folder is or why it got there.  One difference could be that I think I sign packages differently now which includes unpacking and repacking the nuget to sign the assemblies inside as well. I can’t remember if I did it that way with 1.4.0 (although fairly certain I did)

[2022-03-11 15:59] JonDouglas commented on #11667
@dotMorten Sounds good, can you confirm for us if removal of that folder resolves the original behavior? That way we might be able to add a rule to check for it and warn/error the user in pack or push.

[2022-03-11 16:25] dotMorten commented on #11667
Sure. I’m out for the week though and didn’t bring my Mac so will have to be next week

[2022-03-11 16:27] MarkKharitonov opened #11670 "[Bug]: The NuGet restore phase is brittle and is subject to race conditions resulting sometimes in corrupted package directories"
### NuGet Product Used

MSBuild.exe

### Product Version

16.11.0.36601

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

It happens on our Azure DevOps Server 2020 (on-prem) when running different builds concurrently.
The problem is that we cannot reliably reproduce it. But it happens once every week roughly.
We send the build tele

[2022-03-11 16:34] zivkan commented on #11667
I'm not 100% sure, but I'm quite confident the issue is that the nupkg is being created with `\` path separators instead of `/` separators (possibly the other way around, I can't remember, but I think that's unlikely otherwise the bug wouldn't happen in this way).

The zip file format is very basic, and doesn't contain the concept of a folder. It even allows duplicate entries with the same filenam

[2022-03-11 16:42] jeffkl commented on #11668
`Microsoft.Build.CentralPackageVersions` is a completely different implementation of central package management.  Currently, the built-in NuGet implementation is not compatible.  In the future, we'll probably make a migration tool to move from `Microsoft.Build.CentralPackageVersions` to stock NuGet.  At the moment, there is no way for `Microsoft.Build.CentralPackageVersions` to pin transitive vers

[2022-03-11 17:19] martinrrm commented on #10756
Closing, the current implementation enables the installation of transitive dependencies as a top-level package when the Installation is made through the PM UI.

[2022-03-11 17:19] #10756 closed, assigned to martinrrm

[2022-03-11 18:17] #11662 closed, assigned to jeffkl

[2022-03-11 19:08] joshpeterson commented on #9347
At the moment we don't need a Unity, as things have changed on our side. We'll come back if we do need a TFM though. Thanks!

[2022-03-11 19:08] #9347 closed, assigned to JonDouglas

[2022-03-11 20:14] martinrrm commented on #10755
Closing, no work needed, the view is correct

[2022-03-11 20:14] #10755 closed, assigned to martinrrm

[2022-03-11 21:14] #11665 closed, assigned to nkolev92

[2022-03-11 21:17] nkolev92 commented on #11634
Does having a readme.md in a package fail pushing the snupkgs to nuget.org?

[2022-03-11 21:22] nkolev92 commented on #11635
The path should be `DevDiv\NET Tools\Project`

[2022-03-11 21:55] nkolev92 commented on #11670
Hey @MarkKharitonov

Do you redirect any of the nuget global folders and caches, such as the temp folder? https://docs.microsoft.com/en-us/nuget/consume-packages/managing-the-global-packages-and-cache-folders.

There was a recent fix for .nupkg.metadata files, but that's usually an error that printed the path in question.

The nuspec missing issues is something we've seen if multiple restores have

[2022-03-11 22:08] MarkKharitonov commented on #11670
As a matter of fact - we do. We set the TEMP/TMP folders for the build to be relative to the agent's staging directory, e.g.:
[code]
In the past (msbuild 15) we could not do it, because the C# build was creating moniker files there and clearing them meant full rebuild. But this is no longer a problem since msbuild 16 creates moniker files under the respective obj folders.

We do it because we had

[2022-03-11 23:40] nkolev92 commented on #11670
Honestly, I'm not really sure there's a cheap of doing it.

For the NuGet.Client solution for example, we wrap nearly all of our tests in a disposable object that deletes the folder it created, only way to break it would be to break the process by debugging. This is obviously a repo specific approach which is out of the question for what you're doing.

NuGet doesn't really keep many files in it's

[2022-03-11 23:59] MarkKharitonov commented on #11670
It will not be bad right away, because it takes time for the garbage to accumulate. But it does eventually and it always blows up at a bad time.
I guess I have no choice here, but use the common temp directory.

It would be fantastic if nuget could have a dedicated environment variable providing the path for its temporary files. And falling back to temp if the former is not specified.

[2022-03-12 00:39] nkolev92 commented on #11670
@MarkKharitonov

It'd be great if you can let us know if you're still facing problems after the temp directory change.
Mind creating an issue about the temp directory?

The fix would be trivial.

[2022-03-12 02:05] MarkKharitonov opened #11671 "[Feature]: Add support for a dedicated environment variable providing the NuGetScratch path."
### NuGet Product(s) Involved

MSBuild.exe

### The Elevator Pitch

It would allow us to run multiple builds on the same CI server where:

1. Each build has its own TEMP directory pointing at the build staging directory
2. All the builds would be able to share the same NuGetScratch directory.

This way all the garbage files created by the unit tests in the temp directory are automatically deleted

[2022-03-12 02:05] jebriede commented on #11417
@AntumArk is the issue now resolved? If not, could you please provide a detailed repro? Thanks!

[2022-03-12 02:06] MarkKharitonov commented on #11670
@nkolev92 here you go - https://github.com/NuGet/Home/issues/11671

I am pretty sure there will be no problems. After all, my tests (they shared the same temp directory) ran for hours with only one issue mentioned in my post. Which can be an outlier.

[2022-03-12 08:30] AntumArk commented on #11417
Yes,

I have managed to fix it by updating package to v1.3 as it did not exist
before.  I guess this works for me as, but may not work in project which is
already in production and has many clients.

On Sat, 12 Mar 2022, 04:05 Jean-Pierre Briedé, ***@***.***>
wrote:

[2022-03-14 10:05] opheoHeidrich commented on #11668
Hello @jeffkl , thank you for the fast response. I will migrate my code to use the implementation from NuGet using `PackageVersion`. I think it would be good to mention in the `Microsoft.Build.CentralPackageVersions` readme and the documentation ([#2674](https://github.com/NuGet/docs.microsoft.com-nuget/issues/2674)), that CentralPackageTransitivePinningEnabled will not be supported with the sdk-s

[2022-03-14 16:22] erdembayar commented on #10045
@anangaur
I want ask if Github Package Repository team have logging and metrics for failure/fault.

[2022-03-14 17:49] jebriede commented on #11417
Thank you reporting this issue. At this point we do not have enough information to continue investigating the issue.
Please feel free to comment or open a new issue if needed.

[2022-03-14 17:49] #11417 closed, assigned to nobody

[2022-03-14 18:00] #11646 closed, assigned to dominoFire

[2022-03-14 18:39] erdembayar opened #11672 "Re-enable F# tests"
Re-enable F# tests skipped due to https://github.com/dotnet/fsharp/issues/12835

[2022-03-14 19:49] nkolev92 commented on #11671
The fix should be trivial: https://github.com/NuGet/NuGet.Client/blob/60f920f2227d417311c71b6651822c5c40917b17/src/NuGet.Core/NuGet.Common/PathUtil/NuGetEnvironment.cs#L81

Example, the env var could be NUGET_TEMP and it can be TEMP or it can be NuGetScratch depending on prior art with other NuGet env var.

[2022-03-15 02:59] flcdrg commented on #10650
@erdembayar I pulled down the repo and switched to your branch. Just not clear what I should do then - build and install the vsix, or is more involved than that?

[2022-03-15 03:26] erdembayar commented on #10650
Yes, build the repo. Then install the Vsix into your VS, check if it resolves your issue.

[2022-03-15 07:04] flcdrg commented on #10650
I installed it, but got a similar error dialog when loading the solution.
The ActivityLog.xml contains the following (no stack trace this time)

[code]

[2022-03-15 09:37] WebDancer69 commented on #11623
Another workaround is to set NUGET_PLUGIN_PATHS:

$env:NUGET_PLUGIN_PATHS="$($env:DevEnvDir)CommonExtensions\Microsoft\NuGet\Plugins\CredentialProvider.Microsoft\CredentialProvider.Microsoft.exe"

[2022-03-15 10:32] greengumby opened #11673 "[Bug]:"
### NuGet Product Used

NuGet.exe

### Product Version

NuGet Version: 6.0.0.280

### Worked before?

_No response_

### Impact

I'm unable to use this version

### Repro Steps & Context

Running the following;

nuget pack .\project.csproj -IncludeReferencedProjects -Verbosity detailed

causes the following error

    nuget : Could not load file or assembly 'System.Memory, Version=4.0.1.1, Culture

[2022-03-15 11:52] v-luzh commented on #11635
@nkolev92 Thanks. Created a VS bug 1499811 to track this issue. I'm closing this one.

[2022-03-15 11:52] #11635 closed, assigned to nobody

[2022-03-15 15:19] erdembayar commented on #10650
This one is "Nomination error", it's quite different. It's "Project system" issue. Would you like me try to re-open your issue and ask Project system to take a look?

[2022-03-15 15:58] jmecosta opened #11674 "[Bug]: asp.net core in IIS"
### NuGet Product Used

NuGet SDK

### Product Version

6.1.0

### Worked before?

_No response_

### Impact

I'm unable to use this version

### Repro Steps & Context

create a asp.net core app and run on IIS
[code]

on a IHostedServive, use:
[code]

This will throw the following exception:

[code]

Changing the permissions of C:\Windows\system32\config\systemprofile for IIS_USRS makes the except

[2022-03-15 21:58] erdembayar commented on #7792
@aortiz-msft
Currently we have 2 similar competing `api-key` and `PAT` do very similar things, I started email thread with AzureArtifact folks about this. @joelverhagen and I had [brainstorming ](https://microsoft.sharepoint-df.com/teams/NuGet/Shared%20Documents/General/Recordings/View%20Only/API%20keys%20vs.%20Cred%20providers-20220315_140912-Meeting%20Recording.mp4?web=1) on problem area.
Probab

[2022-03-15 22:33] Xyotic commented on #9250
Also looking forward to this!

[2022-03-15 22:39] flcdrg commented on #10650
I might leave it for now - I just rebooted and haven't seen it again, so not sure if it's a one-off or not. If it does happen again I wonder if it's better to open a new issue given it probably has a different underlying cause.

[2022-03-15 22:50] erdembayar commented on #10650
You can uninstall installed custom built nuget.client with `VSIXInstaller.exe /d:NuGet.72c5d240-f742-48d4-a0f1-7016671e405b` command. Please check if problem resurfaces again.

[2022-03-15 23:42] dfederm opened #11675 "[Bug]: Static Graph restore uses Project.FromFile + Project.CreateInstance instead of ProjectInstance.FromFile directly"
### NuGet Product Used

MSBuild.exe

### Product Version

current

### Worked before?

No

### Impact

_No response_

### Repro Steps & Context

N/A

### Verbose Logs

_No response_

[2022-03-16 03:47] nadesu commented on #10045
Hey, my team supports GitHub Packages for Nuget registry. We just received a lead to this thread. Pls let us know how we can help

[2022-03-16 04:10] zivkan opened #13492 "Document nuget.config updatePackageLastAccessTime"
https://github.com/NuGet/NuGet.Client/pull/4222 added a new nuget.config setting.

The nuget.config reference page should be updated.

Have a quick check if any other pages should be updated.

[2022-03-16 09:57] moljac commented on #4681
FYI
 I have the same case building GooglePlayServices. Funny it is just one (1) project. At the beginning I thought that older (deprecated to be) Cake aliases (possibly resolving to older nuget) were the culprit, but updating did not help.

 Workaround is to run Cake `DotNetRestore` (alias for `dotnet restore`) twice. Seems to be working.

 Ping me if you need repro sample (whole GPS repo 😃 )

[2022-03-16 11:45] Rombersoft commented on #1346
I want to change repositoryPath to absolute path but it also does not work:

[code]

[2022-03-16 17:59] #11675 closed, assigned to nobody

[2022-03-16 18:00] jeffkl opened #11676 "[DCR]: NuGet-based MSBuild project SDK resolver should only load NuGet.Config once"
### NuGet Product(s) Affected

NuGet.exe, MSBuild.exe, dotnet.exe

### Current Behavior

Currently, the NuGet-based MSBuild project SDK resolver loads NuGet.Config once for every SDK resolution in a build.  However, in Visual Studio, design time builds use a different cache key so every project evaluation ends up loading NuGet.Config.  This can cause thread starvation issues if a lot of projects a

[2022-03-16 18:07] #10754 closed, assigned to martinrrm

[2022-03-16 18:26] jeffkl opened #11677 "[Bug]: Empty string for solution path cases NuGet-based MSBuild project SDK resolver to not find global.json"
### NuGet Product Used

dotnet.exe, MSBuild.exe, NuGet.exe

### Product Version

All

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

In some cases, Visual Studio evaluates projects outside of a solution file.  In this context, the solution path is an empty string rather than null.  This causes the NuGet-based MSBuild project SDK resolv

[2022-03-16 20:16] crhaglun opened #11678 "[DCR]: NuGet.Build.Tasks.Pack.targets does not pick up property updates from package-provided build file"
### NuGet Product(s) Affected

NuGet SDK

### Current Behavior

We're trying to build a package to standardize and enforce use of release notes across our team repos, including setting package version numbers based on checked-in release note files.

At the moment, setting properties like "Version" in a custom build target with "BeforeTargets=BeforeBuild" works as expected for file and assembly ver

[2022-03-16 20:25] #10650 closed, assigned to erdembayar

[2022-03-16 20:25] #11644 closed, assigned to erdembayar

[2022-03-16 20:47] erdembayar opened #11679 "Make TransitiveOriginsCache in NuGet Visual Studio projects thread safe"
Follow up on https://github.com/NuGet/NuGet.Client/pull/4498, 1 more [global cache](https://github.com/NuGet/NuGet.Client/blob/a32fb3a8834edeae79cc7d54f39d4eae5b471b3d/src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/Projects/PackageReferenceProject.cs#L39) need to be changed. Considering transitive dependencies is not enabled not an urgent issue for now. Currently it's just dictionary, prob

[2022-03-16 22:09] dfederm opened #11680 "[Bug]: Static Graph Restore failed with a NullReferenceException when a non-SDK-style project refs an SDK-style project with SetTargetFramework"
### NuGet Product Used

MSBuild.exe

### Product Version

msbuild 17

### Worked before?

No

### Impact

It's more difficult to complete my work

### Repro Steps & Context

`Dep\Dep.csproj`:

[code]

`Broken\Broken.csproj`:

[code]

Do a static graph restore on `Broken\Broken.csproj`. The output looks like:

[code]

The NRE specifically is in `MSBuildStaticGraphRestore.GetPackageSpec`. The caller

[2022-03-16 23:35] zivkan commented on #4980
Thanks to @mfkl for implementing the "core" part that will update the last access time of one file in each package on restore: https://github.com/NuGet/NuGet.Client/pull/4222

I'm guessing it's going to ship in .NET SDK 6.0.300 and VS 17.2.

Once it's shipped, and we start using it for all our solutions, then we'll be able to use tools like https://github.com/chgill-MSFT/NuGetCleaner

[2022-03-17 13:39] TiltonJH commented on #9097
I have to agree with @LeadAssimilator. As long as OPC compliance is effectively part of the nuget package specification, it should just be that, compliant and valid.

We run into an error using an official Microsoft package. It stopped us from usage of that nuget, because we are not able to push it to our NuGet.Server.

https://github.com/dotnet/runtime/issues/66584
https://github.com/NuGet/NuGetG

[2022-03-17 13:41] #11677 closed, assigned to jeffkl

[2022-03-17 13:41] #11676 closed, assigned to jeffkl

[2022-03-17 18:18] jeffkl commented on #11667
Version 2.0.0-preview1 of the package MSTextX.UnitTestRunner doesn't appear to be available anymore, perhaps it had an issue?  Have you tried different version of the package?

[2022-03-17 18:19] dotMorten commented on #11667
@jeffkl ? It is still there: https://www.nuget.org/packages/MSTestX.UnitTestRunner/2.0.0-preview1

[2022-03-17 18:20] jeffkl commented on #11666
@jebriede can you please put the correct labels on this issue?  I don't want to mislabel it.

[2022-03-17 18:21] jeffkl commented on #11668
Closing as by design.  Our documentation should clear up confusion once the feature ships.

[2022-03-17 18:21] #11668 closed, assigned to nobody

[2022-03-17 18:24] nkolev92 commented on #11542
Thank you reporting this issue. At this point we do not have enough information to continue investigating the issue.
Please feel free to comment or open a new issue if needed.

[2022-03-17 18:24] #11542 closed, assigned to nobody

[2022-03-17 18:26] jeffkl commented on #11673
@greengumby can you please attach a sample project that reproduces this error?

[2022-03-17 18:29] jeffkl commented on #11674
The code is attempting to create a default `NuGet.Config` under `%USERPROFILE% which happens to be an inaccessible path in this scenario.  Can you trying setting the `USERPROFILE` to a path that is writable?

[2022-03-17 18:32] nkolev92 commented on #11612
Thank you reporting this issue. At this point we do not have enough information to continue investigating the issue.
Please feel free to comment or open a new issue if needed.

[2022-03-17 18:32] #11612 closed, assigned to nobody

[2022-03-17 18:33] nkolev92 commented on #11634
@heng-liu Does having a readme.md in a package fail the pushing of the snupkgs to nuget.org?

[2022-03-17 18:38] nkolev92 commented on #11636
@donnie-msft Do you think there's still something to investigate on NuGet end?

[2022-03-17 18:40] nkolev92 commented on #11637
Team Triage: No repro at this point.
The type getting composed is something that is not provided by NuGet.

Maybe there's some MEF specific problems?

Feel free to reopen Damon if you disagree with this.

[2022-03-17 18:40] #11637 closed, assigned to nobody

[2022-03-17 18:44] nkolev92 commented on #11634
Reviewing this issue again, are there any side-effects from readme.md being in the symbols.nupkg?
To the best of my knowledge, there's no validation, and this does not cause any legal concern (compared to say license.md).

Isn't this just a thing? And maybe something not relevant enough to fix.

Looking for @heng-liu and @chgill-MSFT's opinions.

[2022-03-17 18:44] dotMorten commented on #11667
1.4.0 doesn’t exhibit the behavior. There really shouldn’t be much of a difference between the two except this one now includes net6 preview stuff and newer tooling. It could be the signing workflow changed since (which does unpack sign assemblies and repack nuget using power shell, but fairly certain that happened with 1.4.0 too).
Regardless the zip looks fine and unzips fine on Windows

[2022-03-17 18:47] jeffkl commented on #11667
Very interesting, are you able to recreate the package with steps I can follow to get a package that has the wrong path separators?  I want to investigate further but need to understand how the package ended up in this state.  I think once the package is created like that, NuGet doesn't know it needs to do anything different.  But if we can figure out how it ended up with the wrong directory separ

[2022-03-17 18:49] nkolev92 commented on #11642
Closing per @erdembayar's last comment as this is something that will be fixed in https://github.com/NuGet/NuGet.Client/pull/4445

Duplicate of https://github.com/NuGet/Home/issues/8465

[2022-03-17 18:49] #11642 closed, assigned to nobody

[2022-03-17 18:49] jmecosta commented on #11674
Would this be any different than making the system 32 folder writable which i did? When I did this the exception was gone but as I mention the all IIS no longer worked

I'm not so comfortable changing system parameters under IIS user because that might cause other problems that I would rather avoid

There is also the a very good reason why those folders are not writable. This is a web server and a

[2022-03-17 18:52] nkolev92 commented on #11669
We'd be happy to take a fix for this @mjolka

[2022-03-17 18:53] nkolev92 commented on #11670
Closing per the last comment. @MarkKharitonov we can reopen if necessary.

[2022-03-17 18:53] #11670 closed, assigned to nobody

[2022-03-17 19:59] dotMorten commented on #11667
Sure. Clone this branch:
https://github.com/dotMorten/MSTestX/tree/maui
Then right-click pack the `TestAppRunner` project in a release build.
Next run through the signing script. Here's the batch script used (You can likely skip the actual signing if you don't have a sign certificate - I'm guessing it's the re-packing that could potentially be the culprit, but if not place signtool.exe and nuget.e

[2022-03-17 20:01] dotMorten commented on #11667
Just realized I still have the package before signing and after signing (but prior to uploading to nuget.org):
 - [BeforeSigning.zip](https://github.com/NuGet/Home/files/8290410/BeforeSigning.zip)
 - [AfterSigning.zip](https://github.com/NuGet/Home/files/8290422/AfterSigning.zip)

The `_rels` folder is present in both.

[2022-03-17 20:02] #11674 closed, assigned to nobody

[2022-03-17 20:03] jmecosta commented on #11674
Ok thanks I can try to work around it to have a writable folder before calling the api.

Though it would be nice if we could simple disable cache since that was also possible in the nuget cli

[2022-03-17 20:12] jeffkl commented on #11667
@dotMorten yes that signing logic is most likely the problem.  You're extracting the `.nupkg`, signing files, and then compressing the files again.  NuGet pack normalizes the path separators, so it works cross-platform but I'm not sure if PowerShell's `Compress-Archive` does that.

Most signing operations will look in existing archives and sign assemblies in place without having to do this operati

[2022-03-17 20:19] #11223 closed, assigned to erdembayar

[2022-03-17 20:21] dotMorten commented on #11667
@jeffkl Yes I could sign as part of the build, but that goes against several recommendations. `nuget sign` doesn't sign stuff inside the package, and `signtool` doesn't sign nuget packages.
I'll try and use a better zip tool instead.
Thanks

[2022-03-17 20:23] jeffkl commented on #11667
@nkolev92 do you have better recommendations here?

[2022-03-17 20:37] nkolev92 commented on #11667
Nothing major.
In most of the builds in NuGet and dotnet, the process is restore -> build -> sign -> pack.

[2022-03-17 20:52] MarkKharitonov commented on #11671
@nkolev92 - does it make sense for me to try and contribute a fix?

[2022-03-17 20:54] nkolev92 commented on #11680
Note that standard restore doesn't really support SetTargetFramework either.

NuGet chooses the best framework of the available ones.

[2022-03-17 20:57] nkolev92 commented on #11671
Sure, we'd be happy to review that.

[2022-03-17 21:33] dfederm commented on #11564
I still haven't run a broad test, but I just want to note that anecdotally I'm seeing this cause failures in a whole bunch of different MSFT-internal repos I've been working on in various orgs. I'm finding myself basically unable to use my VS 17.2 instance for much of my work and having to drop down to my 17.1 instance to work around this change in behavior.

[2022-03-17 22:24] nkolev92 commented on #11564
@dfederm

What happens if you suppress NU1701 in those projects?
Are there still issues after that?

[2022-03-17 22:57] dfederm commented on #11564
I'm not sure about runtime issues. Personally, I'm not running anything as I'm mostly concerned about build. I assume though if I were to suppress these warnings, a bunch of additional outputs would now be included.

[2022-03-17 23:09] nkolev92 commented on #11564
If there are packages that are imperfectly authored, and bring in dependencies that are actually not needed, those new dependencies can be made top level and set with excludeassets=all to prevent them from appearing in the output. If these new assemblies are not relevant, them being in the output should normally not cause any problems.

The packages in question should also have their authoring fix

[2022-03-17 23:12] erdembayar commented on #11655
@aortiz-msft
I added my investigation finding into [Azdo workitem](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1365236/?triage=true). Looks like it's OOM issue, but not sure what is the root cause of OOM. Most likely nothing is actionable from NuGet.

[2022-03-18 00:58] dfederm commented on #11564
I agree that these are package authoring issue and that there are mitigations a repo owner can employ.

I think the primary problem is that upgrading from 17.1 to 17.2 will suddenly produce a lot of errors for a lot of people.

People will either:
a) upgrade, hit errors, work around or downgrade, be mad.
b) be told by others who hit (a) to not upgrade and stick on 17.1 for the foreseeable future.

[2022-03-18 01:05] erdembayar commented on #7792
@aortiz-msft @joelverhagen
Based on recent discussions with Azdo folks they don't want this, possibly we can [enhance our error model](https://github.com/NuGet/NuGetGallery/issues/5818) so that Azure Artifacts can return a rich, helpful error message for 401/403 error codes.

[2022-03-18 01:53] greengumby commented on #11673
Found the issue. Upgrading the csproj to sdk format seemed to fix it.

[2022-03-18 01:53] #11673 closed, assigned to nobody

[2022-03-18 03:36] AArnott commented on #11680
What does that mean? NuGet doesn't choose the target framework at all across a P2P that explicitly sets SetTargetFramework, I thought. We set it when NuGet isn't present to make the decision, at least. I expected (perhaps in ignorance) that the metadata would carry weight even on nuget-aware projects as well.

[2022-03-18 13:04] iconics-milan commented on #11457
Hello @heng-liu , it is disappointing to see that this was tagged as Icebox.
Are there other mechanisms implemented/planned that would help with the runtime errors, or are there other tools implemented/planned that would help detecting potential errors? Can the 'dotent audit' help for example?

[2022-03-18 17:08] donnie-msft commented on #11636
@nkolev92 We don't know either way until we receive a DMP and someone takes a look at that.

[2022-03-18 17:33] jeffkl commented on #11667
I'm going to close this issue as by design.  It is not supported to manually unzip a `.nupkg`, modify the contents, and then simply zip it again manually.  This leads to the file potentially not being in the correct layout and not guaranteed to work on other platforms.

[2022-03-18 17:33] #11667 closed, assigned to nobody

[2022-03-18 17:39] erdembayar commented on #11548
Related: https://github.com/NuGet/Home/issues/11099

[2022-03-18 18:41] MarkKharitonov commented on #11671
Here you go - https://github.com/NuGet/NuGet.Client/pull/4511

[2022-03-18 18:59] jeffkl commented on #11680
My initial investigation found some interesting results.  As David noted, removing SetTargetFramework works and migrating to SDK-style projects works.

This is because SDK-style projects are treated as having an inner and outer node:

https://github.com/dotnet/msbuild/blob/46adf8052f15b8dd618e9bd46d226267105de0c8/src/Build/Graph/ProjectInterpretation.cs#L67-L82

For SDK-style projects, the SetTarg

[2022-03-18 19:14] isaacabraham commented on #11607
I'm currently seeing this on an Azure Devops build agent on Linux when doing a dotnet restore, too.

[2022-03-18 19:39] AArnott opened #11681 "[Feature]: Allow suppressing of framework references in generated nuspec files"
### NuGet Product(s) Involved

NuGet SDK

### The Elevator Pitch

The `SuppressDependenciesWhenPacking` property already allows conveniently suppressing all package dependencies. But it still includes *framework* dependencies. There is no property to suppress framework dependencies.

I think it makes the most sense to suppress framework dependencies as well when this same property is set. But if t

[2022-03-18 19:59] dotMorten commented on #11667
Thanks Jeff. I concur this actually appears to be a powershell compress issue if anything. Sorry for not realizing that sooner. I couldn’t find where to log this instead. It doesn’t look like the powershell repo actually contains the compression stuff.

[2022-03-18 21:22] nkolev92 commented on #8278
Triage: Epic issue cleanup.

[2022-03-18 21:22] #8278 closed, assigned to xavierdecoster

[2022-03-18 21:22] nkolev92 commented on #8281
Done: https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-list-package

[2022-03-18 21:22] #8281 closed, assigned to xavierdecoster, anangaur

[2022-03-18 21:25] nkolev92 commented on #11034
I'm going through the Epics, and I noticed this is an epic with a single issue. Do we still need both issues or can we close this?

[2022-03-18 21:32] nkolev92 commented on #8040
Search isn't implemented in nuget.exe

[2022-03-18 21:34] nkolev92 commented on #8924
Just cleaning up. This is done.

[2022-03-18 21:34] #8924 closed, assigned to rrelyea

[2022-03-18 21:38] nkolev92 commented on #10221
Just cleaning up epics.
Still needed?

[2022-03-18 21:40] #9899 closed, assigned to nobody

[2022-03-18 22:14] martinrrm commented on #10074
Closing, unable to repro in latest version of Nuget, bug was fixed in Nuget v5.9.1

[2022-03-18 22:14] #10074 closed, assigned to martinrrm

[2022-03-19 00:59] dominoFire commented on #10759
Created first metric: Error Rate: https://experimentation.visualstudio.com/ExpMetrics/_git/VisualStudioInProc/pullrequest/149476

[2022-03-19 02:52] Smartisa opened #11683 "CS0006 Could not found \bin\Debug\net472\***.dll"
### Discussed in https://github.com/NuGet/Home/discussions/11682

<div type='discussions-op-text'>

<sup>Originally posted by **Smartisa** March 19, 2022</sup>
I git clone "NuGet". When I run the test file: "PackageGraphAnalysisUtilitiesTests.cs", there are many code problems in CS0006. How can I rebuild the project to eliminate such errors?
Thanks!!!!!
![image](https://user-images.githubuserconte

[2022-03-19 07:31] Monrother opened #11684 "[Bug]: It will always run NuGet restore automatically when the project is VSIX project"
### NuGet Product Used

Visual Studio Package Management UI, Visual Studio Package Manager Console

### Product Version

Visual Studio 16.11 (and 2022 as well possibly)

### Worked before?

Not sure

### Impact

It's more difficult to complete my work

### Repro Steps & Context

In a VS solution, create a VSIX project. And no matter whether the automatically restore NuGet is checked or not in Tool

[2022-03-19 16:08] erdembayar commented on #11671
@nkolev92
What is the actual use of NuGetScratch? Never encountered before.

[2022-03-21 01:49] AArnott commented on #11680
How can we accommodate both? Is there some Condition we should add to the `SetTargetFramework` metadata so that nuget restore ignores it but build uses it? Or if as it sounds, NuGet *already* ignores it during restore, why is restore failing?

[2022-03-21 06:54] glennawatson commented on #10432
This is a common problem for projects I'm involved in as well.

Seems to issue is coming from https://github.com/NuGet/NuGet.Client/blob/729776540d77de5c476e24a61ebcadc37002df21/src/NuGet.Core/NuGet.Commands/RestoreCommand/RestoreCommand.cs#L494

[2022-03-21 07:05] NamrataJha commented on #10045
Hey @anangaur @erdembayar I tried but I am unable to repro this. Can you confirm if this issue is still relevant?

[2022-03-21 07:37] lbargaoanu commented on #11609
Is there smth I can do here?

[2022-03-21 20:20] erdembayar commented on #11655
@aortiz-msft  @nkolev92
We resolved internal bug as "External". Basically. it's some OOM, but nothing is actionable from NuGet.Client at this moment.

[2022-03-21 20:20] #11655 closed, assigned to erdembayar

[2022-03-21 20:25] nkolev92 commented on #11034
Team Triage: Closing as this is not likely something we want to be doing at this point.

[2022-03-21 20:25] #11034 closed, assigned to nobody

[2022-03-21 20:30] nkolev92 commented on #10244
Team Triage: Closing for now since we're not actively deprecating NuGet.exe at this point in time.
If that changes, we'll reopen this issue.

[2022-03-21 20:30] #10244 closed, assigned to nobody

[2022-03-21 20:34] nkolev92 commented on #11597
Team Triage: Assigning to @JonDouglas

[2022-03-21 20:36] nkolev92 commented on #11603
Team Triage: This is not something we'd interesting in doing at this point.

[2022-03-21 20:36] #11603 closed, assigned to nobody

[2022-03-21 20:38] nkolev92 commented on #11606
Team Triage: Assigning to @dtivel. Is this something we'd want to consider?

[2022-03-21 20:50] nkolev92 commented on #11617
`_GetProjectVersion` is an equivalent target today

[2022-03-21 20:58] nkolev92 commented on #11621
Team Triage: Thank you so much creating this issue. This would be a breaking change that could negatively impact the community, which is why we will not consider it at this point.

[2022-03-21 20:58] #11621 closed, assigned to nobody

[2022-03-21 21:16] nkolev92 commented on #11671
I don't have a list of all scenarios, but as I mentioned in the previous issue it's used for cross process locking.
You can look up a reference for NuGetFolderPath.Temp and infer usages from there.

[2022-03-21 21:21] JonDouglas commented on #11597
I think many people would agree here with the goal. We don't have a friendly experience today. You need to know MSBuild at a certain level to be successful.

What are unknowns to me right now are:

- Can we justify these experiences even for the potential security risk it brings to the ecosystem? 2022 has brought even more malware to other ecosystems through install scripts, can we take that risk?

[2022-03-21 22:24] dsplaisted commented on #11653
@nkolev92 Any update on this?  Will this make it into 17.2?

[2022-03-22 00:53] nkolev92 commented on #11653
We didn't get to it unfortunately.

cc @aortiz-msft @JonDouglas

I think 17.2 is not likely to happen as this is something that would have ideally been scheduled at the beginning of the sprint if it were to make into 17.2.

[2022-03-22 02:46] AArnott commented on #11680
Makes sense.
Would that perchance also fix this bug?
This doesn't work: `dotnet build /r /p:TargetFramework=net472`
Note that I want the *build* of the project to only build net472. But adding the `/r` switch, which *should* restore the project before the build, also gets infected by the TargetFramework global property and (IIRC) propagates to P2Ps and infects them, leading to restore failure. Per

[2022-03-22 02:49] nkolev92 commented on #11680
@AArnott That sounds like a dup of https://github.com/NuGet/Home/issues/11653.

[2022-03-22 17:09] JonDouglas commented on #11653
@jonathanpeppers & @rolfbjarne would the options above meet your CLI requirements in https://github.com/dotnet/sdk/issues/21877#issue-1020746831?

[2022-03-22 17:27] rolfbjarne commented on #11653
I've never seen anyone do `dotnet msbuild ...`, and I think it's acceptable to require people to use `dotnet build ...` instead (at the very least until we know it's an issue in certain scenarios).

[2022-03-22 17:44] martinrrm opened #11685 "[Bug]: improve message when dotnet restore cannot find existing package while offline"
From: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1496298?src=WorkItemMention&src-action=artifact_link

[2022-03-22 17:56] MarkKharitonov opened #13567 "Document NUGET_SCRATCH environment variable"
Hi,
The variable has been introduced in this pull request - https://github.com/NuGet/NuGet.Client/pull/4511
The associated issue should describe the rationale.
Thank you.

[2022-03-22 18:06] ronenfe commented on #7509
Why do you give a warning regarding a file that is in the latest .net sdk C:\Program Files\dotnet\sdk\6.0.200\Sdks\NuGet.Build.Tasks.Pack\buildCrossTargeting

The file should have been fixed by the writers of this sdk.

[2022-03-22 18:06] heng-liu commented on #11634
Sorry but I didn't find anything in docs..
Hi @chgill-MSFT , do you have any idea if this issue is a blocker for https://github.com/NuGet/NuGet.Client/pull/4476? Thanks!

[2022-03-22 18:08] nkolev92 commented on #7509
@ronenfe

The warning is coming from that file, not for that file.

[2022-03-22 18:10] ronenfe commented on #7509
@nkolev92

I understand but wasn't Microsoft notified about it and should have fixed it by now?

[2022-03-22 18:11] nkolev92 commented on #11634
I don't think it can be a blocker for https://github.com/NuGet/NuGet.Client/pull/4476 as there's no validation on the symbols.nupkg side for what files in addition to the pdb are allowed in there.
For example, we've icon.png in there for a while and we haven't had issue. I can only imagine it's the same thing.

[2022-03-22 18:16] heng-liu commented on #11634
I see.. Thanks for the clarification! I'll merge the PR then.

[2022-03-22 19:14] jonathanpeppers commented on #11653
I agree `dotnet msbuild` isn't as important as `dotnet build`, but we should probably test what happens in an IDE? F5 in Visual Studio would run .NET framework MSBuild and probably passes in `-p:TargetFramework`.

[2022-03-22 19:25] #4497 closed, assigned to nobody

[2022-03-22 22:18] #11671 closed, assigned to nobody

[2022-03-22 22:28] nkolev92 commented on #11683
Closing the issue in favor of the discussion as this is a quesiton.

[2022-03-22 22:28] #11683 closed, assigned to nobody

[2022-03-23 01:05] erdembayar opened #11686 "nuget setapikey add deprecated symbol server in nuget.config"
Do following then
`nuget setapikey aa03d786-abcd-1001-bfdf-c4f3e8ef9bff`
See `nuget.smbsrc.net` added here, looks it's deprecated.
[code]

[2022-03-23 02:28] nkolev92 commented on #11626
I think that rule already exists: https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Packaging/Rules/PathTooLongRule.cs

[2022-03-23 02:34] #10750 closed, assigned to jebriede

[2022-03-23 05:47] Smartisa opened #11688 "How can I programmatically obtain the dependency structure in "packages. config" mode?"
### Discussed in https://github.com/NuGet/Home/discussions/11687

<div type='discussions-op-text'>

<sup>Originally posted by **Smartisa** March 23, 2022</sup>
Because the "packages. config" file contains all dependencies (direct and indirect), I  want to know the whole dependency structure in this mode. Is there a way that I can get it through programming?</div>

[2022-03-23 07:23] glopesdev commented on #11594
@joelverhagen can you elaborate on this? Is there indeed a way to check whether a specific package ID is reserved without actually trying to push a package?

In general it seems to me that a bit more transparency is required from nuget.org regarding package prefix reservation. Just recently I have been blocked from uploading a package falling under a prefix I have used in the last 10 years and whe

[2022-03-23 08:32] j0nimost commented on #3891
We really need this feature!!!!

[2022-03-23 16:38] erdembayar commented on #7792
Since `Azure artifacts` doesn't allow `dotnet nuget push` pass PAT as parameter due to security concerns, currently it have to save PAT in `nuget.config` before use. Of course, ` nuget.exe sources add` with PAT as described by others works too.
I just want mention there is yet another way doing same thing, if source was already added in `nuget.config`.
`nuget.exe setapikey YOUR_PAT -source https:/

[2022-03-23 17:28] nkolev92 commented on #4572
Not relevant.

[2022-03-23 17:28] #4572 closed, assigned to nobody

[2022-03-23 17:29] nkolev92 commented on #9076
Done. Unlisted.

[2022-03-23 17:29] #9076 closed, assigned to nobody

[2022-03-23 17:32] nkolev92 commented on #9970
Format on build is enabled in the SDK.

[2022-03-23 17:32] #9970 closed, assigned to nobody

[2022-03-23 17:35] #6843 closed, assigned to nobody

[2022-03-23 17:36] nkolev92 commented on #6847
Done.

[2022-03-23 17:36] #6847 closed, assigned to nobody

[2022-03-23 17:36] nkolev92 commented on #6886
Done.

[2022-03-23 17:36] #6886 closed, assigned to nobody

[2022-03-23 17:36] #4815 closed, assigned to nobody

[2022-03-23 17:39] kartheekp-ms commented on #7796
From the data below, something changed in the MsBuild after `15.9*` versions in the way how it handles `RestoreBuildInParallel, RestoreUseSkipNonexistentTargets, ContinueOnError ` properties.

nuget.exe   version | msbuild.exe version | error raised | Additional environment   variables | restore result
-- | -- | -- | -- | --
4.7.3 | 15.9.21.664 | MsBuild raised errors but   returned 0 exit code an

[2022-03-23 18:25] kartheekp-ms opened #11689 "[Bug]: MsBuild version is not parsed correctly when -MsBuildPath option is passed to nuget.exe restore"
### NuGet Product Used

NuGet.exe

### Product Version

nuget.exe

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

NuGet.exe version 4.8.2 and above passes `RestoreBuildInParallel="False" and RestoreUseSkipNonexistentTargets="False"` to `msbuild.exe` only when the tool set version is less than `15.5`

https://github.com/NuGet/NuGet.Clie

[2022-03-23 19:13] nkolev92 commented on #11454
Fixed in https://github.com/NuGet/NuGet.Client/pull/4488.

Not sure why it wasn't closed.

[2022-03-23 19:13] #11454 closed, assigned to nobody

[2022-03-23 19:16] nkolev92 commented on #10554
Fixed in https://github.com/NuGet/NuGet.Client/pull/4094 and https://github.com/NuGet/NuGet.Client/pull/3964.

This task is equivalent to https://github.com/NuGet/Home/issues/10553 since we kind of just have the tests :)

[2022-03-23 19:16] #10554 closed, assigned to nobody

[2022-03-23 19:19] nkolev92 commented on #10306
EE triage:
I feel tasks like this are best handled on an as needed basis.
It's difficult to make the argument for this task to ever get assigned in isolation.

[2022-03-23 19:19] #10306 closed, assigned to nobody

[2022-03-23 19:21] KirillOsenkov commented on #7012
@nkolev92 I can confirm this again became a problem. Could you please reactivate this issue?

I'm seeing a hard crash in the ResolvePackageAssets task:

[code]

Instead of crashing and printing the callstack we should emit a proper MSBuild error. Repro: manually add a non-existing fallback folder to the top of your project.assets.json:

[code]

This is where it throws:
https://github.com/NuGet/NuG

[2022-03-23 19:21] KirillOsenkov commented on #7012
The non-existing path that doesn't exist on my machine is:
`C:\\Program Files (x86)\\Microsoft Visual Studio\\Shared\\NuGetPackages`

[2022-03-23 19:22] nkolev92 commented on #9318
Just cleaning up test issues. There's been a lot of tests added since this initial implementation.

[2022-03-23 19:22] #9318 closed, assigned to cristinamanum

[2022-03-23 19:23] nkolev92 commented on #6836
This is being done now.

[2022-03-23 19:23] #6836 closed, assigned to nobody

[2022-03-23 19:23] nkolev92 commented on #7258
Unlikely to make these breaking changes at this point.
Low return of investment.

[2022-03-23 19:23] #7258 closed, assigned to nobody

[2022-03-23 19:24] nkolev92 commented on #7207
Unlikely to make these binary breaking changes at this point. We can easily reopen an issue if we decide to change this.

[2022-03-23 19:24] #7207 closed, assigned to nobody

[2022-03-23 19:29] KirillOsenkov commented on #7012
Correction, the actual task that crashes is:

![image](https://user-images.githubusercontent.com/679326/159780553-5eece41d-27c6-49bb-82a3-35390c29b804.png)

[2022-03-23 19:30] nkolev92 commented on #2387
nvm, the link is bad.

[2022-03-23 19:37] nkolev92 commented on #9025
Just cleaning up here. This will be done as part of any new feature enhacements.
Feel free to reopen if you disagree.

[2022-03-23 19:37] #9025 closed, assigned to nobody

[2022-03-23 20:43] lucapivato commented on #5910
Cannot find a way to "copy files to the project root" as it's documented in Microsoft's latest nuget docs (1/25/2021):

[https://docs.microsoft.com/en-us/nuget/create-packages/creating-a-package#including-msbuild-props-and-targets-in-a-package](https://docs.microsoft.com/en-us/nuget/create-packages/creating-a-package#including-msbuild-props-and-targets-in-a-package)

<table><tbody><tr><td>content<

[2022-03-23 21:29] joelverhagen commented on #11594
Thanks for the great feedback @glopesdev! Let's talk about two separate issues:

**First**.

For your specific prefix or package push being blocked, could you send an email to account@nuget.org about this? We work directly with package owners to give access to ID prefix reservations and evaluate a variety of factors to determine whether the reservation should be assigned. If you've received a resp

[2022-03-23 22:03] bgreman commented on #9528
Here we are nearly two years later and these docs still don't exist.  I had a heck of a time figuring out that the "FindBy" prefix needs to be dropped from the FindBy types.  I actually read it directly in the code to figure that out.

[2022-03-23 22:28] kartheekp-ms commented on #7796
We are leaning towards closing this issue because there is not much we can do on the NuGet side. As per my above comment, it looks like MsBuild version greater than 15.9 started returning a failure exit code which further results in restore failures. Related https://github.com/dotnet/msbuild/issues/2064#issuecomment-1074674458.

[2022-03-23 23:28] nkolev92 commented on #10722
Another timezone issue in https://github.com/NuGet/Home/issues/10564

Whoever fixes this can probably fix that one just as easily.

[2022-03-23 23:28] #6365 closed, assigned to nobody

[2022-03-23 23:37] nkolev92 commented on #7012
Is the ask for NuGet to fail restore when this happens?

[2022-03-23 23:47] maxkoshevoi commented on #3891
This is the most top voted issue by the factor of 2, and doesn't seem complicated to fix (just look at `IsPackable` of a referenced project, or introduce a new property for `ProjectReference`).

Could you please address this already, it's been 5 years?

[2022-03-24 00:31] KirillOsenkov commented on #7012
Two things:

1. yes, if you detect a non-existing fallback folder, you should fail restore.
2. However this bug can happen when a restore was successful, then the folder is deleted, and then we're building the project where the non-existing folder is left over in the project.assets.json. In this case (and that's what I'm mostly asking) we should log an error instead of the task throwing an excepti

[2022-03-24 01:32] glopesdev commented on #11594
@joelverhagen Thank you so much for the care and attention you put in this response, it really goes a long way. I can only imagine how many stakeholders a large scale service like nuget.org has to balance. It is easy to start feeling lost in the automation and processes, and it is somehow always refreshing to hear that humans are still listening.

I'm happy to discuss over email, but I would like

[2022-03-24 03:18] j0nimost commented on #6285
@zkat it's not in any sprints, is there a reason for this?

[2022-03-24 09:01] bitfringe commented on #3891
And still, this isn't even mentioned in #11571. "Highly requested features". Jesus christ...

[2022-03-24 09:20] AraHaan opened #11690 "[Feature]: Allow PackRef package deps to be excluded if developer wants it Removed from their programs dep chain."
### NuGet Product(s) Involved

NuGet.exe, Visual Studio Package Management UI, MSBuild.exe, dotnet.exe

### The Elevator Pitch

Currently when you reference a package you must obtain all dependencies of it, even when you do not want them referenced because that dependency happens to be in the ``Microsoft.NETCore.App`` standard ``FrameworkReference``.

As such it results in them wanting to File Pul

[2022-03-24 10:15] maxkoshevoi commented on #11571
If you [sort issues by upvotes](https://github.com/NuGet/Home/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc) - https://github.com/NuGet/Home/issues/3891 comes out on top by the factor of more than two (323 vs 149 votes on the second most voted issue). It has been opened for more than 5 years, and workaround is really flimsy.
Is there some reason of why it isn't addressed yet?

PS: My fi

[2022-03-24 12:11] snebjorn opened #11691 "[Bug]: `<GeneratePackageOnBuild>true` causes `dotnet pack` to fail when bin folder is missing"
### NuGet Product Used

dotnet.exe

### Product Version

.NET SDK (reflecting any global.json):  Version:   6.0.200  Commit:    4c30de7899  Runtime Environment:  OS Name:     Windows  OS Version:  10.0.19041  OS Platform: Windows  RID:         win10-x64  Base Path:   C:\Program Files\dotnet\sdk\6.0.200\  Host (useful for support):   Version: 6.0.2   Commit:  839cdfb0ec  .NET SDKs installed:   2.2.

[2022-03-24 12:22] brunofrancavalli commented on #6548
Some of the answer here don't apply. The title of this issue is "[...] .NET Core project [...]" people are assuming .NET Core is the same as .NET framework to build NuGet package. the .nuspec file is not even supported in .NET Core, so how am I going to add parameters to it? .NET Core NuGet package build is horrible, you have not control over it. I have been trying to add certificate files to my N

[2022-03-24 12:27] marisks commented on #6548
@brunofrancavalli We have created a workaround that might help you.
We have an MS build target file that copies the files on build:
https://github.com/Geta/geta-notfoundhandler/blob/master/src/Geta.NotFoundHandler.Optimizely/msbuild/CopyModule.targets

Then we include it in the csproj: https://github.com/Geta/geta-notfoundhandler/blob/master/src/Geta.NotFoundHandler.Optimizely/Geta.NotFoundHandler

[2022-03-24 14:02] JonDouglas commented on #3891
Hi friends,

I'd like to remind this thread that we are [still looking for help](https://github.com/NuGet/Home/issues/3891#issuecomment-828544146) in the definition of this feature request and even accept contributions. If you haven't seen the NuGet plan yet, it's been published & pinned since early February regarding the [work this year](https://github.com/NuGet/Home/issues/11571) we're actively

[2022-03-24 16:40] StormRider01 commented on #3050
Another year and change, and a new NuGet roadmap: https://github.com/NuGet/Home/issues/11571
@anangaur, @rrelyea, how about being honest and close this ticket as won't fix? Clearly someone waved the big stick around and declared SemVer as the only versioning strategy.

[2022-03-24 16:42] benvillalobos opened #11692 "Transitive reference to System.Configuration.ConfigurationManager doesn't work in net6.0 project"
---
**Issue moved from dotnet/msbuild#7486**
- Please respond to @madelson.

---

_From @madelson on Wednesday, March 23, 2022 9:42:46 PM_

**Version Used**:  VS 17.0.1

**Steps to Reproduce**:

1. In VS, create a new net6.0 class library project. Set the csproj to the following:

[code]

Upon compiling, observe the `System.Runtime.Configuration.ConfigurationManager` is pulled in transitively in p

[2022-03-24 16:42] BenVillalobos commented on #11692
---
**Issue moved from dotnet/msbuild#7486**
- Please respond to @BenVillalobos.

---

_From @BenVillalobos on Thursday, March 24, 2022 4:40:47 PM_

MSBuild Team Triage: This looks like a NuGet issue. We repro'd by:

`dotnet new console`
Bring in
[code]
Restore
Build
It repro's.
Uncomment the other packagereference and it will work.

We diff'd the before/after `projects.assets.json`, we saw weird

[2022-03-24 17:45] maxkoshevoi commented on #3891
My 2 cents for this issue:

I'm not sure that all-or-nothing approach is the best solution. I don't have a lot of examples where this issue interfered with my work (when it does it's a pain in the *** though), so don't have good arguments here, but I feel that more granular approach is better.

Per-`ProjectReference` solutions:
1. Look at `IsPackable` property of the referenced projects. If it's `

[2022-03-24 18:43] nkolev92 commented on #11624
Team Triage: Can you please drive the discussion on this.

[2022-03-24 18:46] nkolev92 commented on #11634
Team Triage; We think that there'll be no real impact from this, so we shouldn't need to prioritize it

[2022-03-24 18:47] #11636 closed, assigned to nobody

[2022-03-24 18:52] #11657 closed, assigned to nobody

[2022-03-24 19:05] nkolev92 commented on #11688
Closing as question.

[2022-03-24 19:05] #11688 closed, assigned to nobody

[2022-03-24 19:18] nkolev92 commented on #11678
This is something that's known and we've tried to document where appropriate. https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#restoring-and-building-with-one-msbuild-command

I think it's unlikely that we'd want to read version from an inner build target.

[2022-03-24 19:41] nkolev92 commented on #11609
Hey @lbargaoanu

Just trying to clarify your scenario.

You call restore programmatically yourself.
Do you have a separate tool? Or are you using it for your build?

Can you elaborate on this? In particular, not sure I understand what you mean by a static pattern for package ids.

[2022-03-24 19:48] lbargaoanu commented on #11609
Yes, we have tools like VS and nuget.exe. Used at dev time, but also at runtime.
At runtime, we call restore and we want to make sure that some packages come from a certain source. The package names and the sources are read from a central database. We get what we want by calling the constructor with reflection.
But I guess my main point is that the source mapping doesn't have to come from a nuget

[2022-03-24 23:34] quasarea commented on #3891
As I recall xunit and maybe other unit test set
`<IsPackable>False</IsPackable>` in their targets.

[2022-03-25 00:39] joelverhagen commented on #11594
Yes, I agree with your split. I also prefer to having much of this discussion in the public since others can benefit. To be clear, my team typically aligns amongst ourselves using internal communication mechanisms so we can provide a consistent and clear message externally, so you might see me or others on the NuGet team leap ahead in the conversation after we've met internally.

I have found your

[2022-03-25 01:28] AraHaan commented on #3891
I say 1 should only be used only if they are not test projects that depend on the test sdk.

[2022-03-25 05:24] saravanan-2112 opened #11693 "PRI error on building NuGet package"
### Impact

Other

### Describe the bug

Facing PRI error when building the NuGet package. It is because changes in the dependent library#1 will not be updated into library#2.

Project structure

App1

- library#1
- library#2 (using library#1)

I'm referring to the latest library package whenever I'm opening App1. Here I'm facing an error in the below scenario.

<html>
<body>

Scenario | library#1

[2022-03-25 06:54] albahari commented on #7965
Can you at least give me a clue as to where I could look in the source code, so I can start on a design and PR?

[2022-03-25 10:35] maxkoshevoi commented on #3891
Just tested to be sure. If project has  `<IsPackable>False</IsPackable>` than `pack` doesn't generate a NuGet. So if some project is being packaged as a NuGet, it must have `<IsPackable>True</IsPackable>`.
Am I missing something? Could you please provide an example scenario where 1st solution wouldn't work?

[2022-03-25 11:11] quasarea commented on #3891
I don't want my unit tests in referenced project nuget and solution 1 would do so.

[2022-03-25 12:21] maxkoshevoi commented on #3891
I'm confused..
- Are you saying, that your project that is packed into NuGet, references project with unit tests? Why? If you don't want `dll`s from unit test project to be added into NuGet just use `PrivateAssets="All"`.
- Are you saying that you don't want `dll`s from unit test project to be added into NuGet, but want unit test project to be displayed as dependency of your NuGet (even though thi

[2022-03-25 14:52] clairernovotny commented on #11594
Hi @glopesdev, thank you for that additional insight.

I agree that there's a potential issue when uploading a set of packages. I'll work with the team to see how we might be able to make improvements to the overall process.

[2022-03-25 15:19] v-luzh opened #11694 "[Bug Bash] The installed package from local path disappears in the auto-restore/NuGet restore/dotnet restore when reopening the solution"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Dev\6.2.0.127

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

### Details about Problem
VS Version: Main\32324.52
NuGet Version: Dev\6.2.0.127
OS Version: Windows-11-Enterprise-21H2
### Repro steps:
1.Only enable one package source which point to loc

[2022-03-25 17:26] #11505 closed, assigned to jeffkl

[2022-03-25 21:04] nkolev92 commented on #7965
I haven't looked at it in depth, but I imagine it has to be something on the following interface: https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Configuration/Credential/ICredentialService.cs.

[2022-03-25 21:10] nkolev92 commented on #11692
The `System.Runtime.Caching` package is authored with:

Which is why you don't get the compile assets from `System.Configuration.ConfigurationManager`.

That's normal and it's how the package author intended it.
If you want to depend on `System.Configuration.ConfigurationManager` at compile time, they want you to take a direct dependency.

tldr;
This a package authoring decision, and there's no to

[2022-03-25 21:10] #11692 closed, assigned to nobody

[2022-03-25 21:38] erdembayar commented on #10045
Related to: https://github.com/NuGet/Home/issues/9775

[2022-03-25 22:57] kartheekp-ms commented on #7796
FYI.. @marcpopMSFT this issue has 23 upvotes from the community and hence @aortiz-msft prioritized this work item for the current sprint. The fix appears to be on the MSBuild side especially https://github.com/dotnet/msbuild/issues/2064. In summary, `NuGet.exe` invokes `msbuild.exe` during `restore` to identify the `project references` for a project. As per my analysis https://github.com/NuGet/Hom

[2022-03-26 00:03] madelson commented on #11692
Interesting @nkolev92 . Thanks for the explanation!

[2022-03-26 02:19] albahari commented on #7965
Yes, that's what I would imagine, too. After changing credentials, I create a new `ICredentialService` and re-assign it to `HttpHandlerResourceV3.CredentialService`. However, the service is not called again - the username/password is being cached somewhere else and the old credentials are re-used on subsequent calls. I've looked at the NuGet source code but it's not obvious where or how it's being

[2022-03-26 03:09] albahari commented on #7965
Never mind - I've figured out what to do. You also need to re-create all the providers (`ProviderFactory.GetCoreV3()`).

[2022-03-26 03:09] #7965 closed, assigned to nobody

[2022-03-26 17:52] erdembayar commented on #11672
@aortiz-msft
In email discussion they implied that people need to report whenever see this issue, most likely there would be any permanent solution.  It's hard for us to deal 1-2 times each month.
I want to unassign and icebox this issue.

[2022-03-26 18:34] StingyJack commented on #3050
@StormRider01 - ...and the stick was so big and heavy (caber toss?) they didnt have enough strength left to increment the major version when releasing this breaking change. Or for some other reason. The irony of coercing everyone* to use a specific versioning scheme and at the same time violating the most important part of that same versioning scheme should have been enough to revert the change or

[2022-03-26 18:36] StingyJack commented on #11571
@JonDouglas  #3050

[2022-03-26 19:22] JonDouglas commented on #11571
Is there some reason of why it isn't addressed yet?

Yes. While we look through all of the top upvoted issues, not every issue is something we can make progress on for a plethora of reasons. We are providing a plan with what items we believe we can significantly make progress on this year with our teams. This doesn't mean that this specific issue will not be considered, just that we had other work

[2022-03-26 19:26] JonDouglas commented on #11571
@StingyJack Can you help elaborate on why this issue should be considered? I do not have the context nor time right now to look through this issue, but I will investigate next week. For those reading this comment, please 👍 comments that include additions/subtractions to the roadmap so we know how to better prioritize. Thanks in advance!

[2022-03-26 23:37] StingyJack commented on #11571
A 4 part version number is specified in a nuspec, but when the last part is 0, `pack` truncates that last part making it a 3 part version number. This was done solely as a convenience for nuget.org, without regard for anyone using a different package repo, and without respect for the version number specified. And the nuget team responses were really infuriating because it was clear they did not ca

[2022-03-27 00:57] dominoFire commented on #10759
Create Experimentation Entry Review Template: https://github.com/microsoft/devdiv-exp-reviews/issues/126

[2022-03-27 03:54] dominoFire commented on #10759
Added minimal telemetry to determine experiment success. https://github.com/NuGet/Client.Engineering/issues/1497

Other telemetry can de added for detailed data analysis on how customers use the feature.

[2022-03-27 23:32] zivkan commented on #3891
Since this thread is old and long, I'd like to remind everyone that [nugetizer](https://github.com/devlooped/nugetizer) already supports the feature (at least, the one in the issue title, I don't know if the conversation has changed the scope). There might be other community created packing tools as well, I'm not sure.

I know that some people don't want to use 3rd party/community tools.  But the

[2022-03-28 00:32] maxkoshevoi commented on #3891
@zivkan I would say, if it's a highly requested feature (which it is), it's worth the time to at least copy-paste the community solution into the main code base, or even better - improve on it (this is the approach most dotnet repos are taking with community toolkits where features can mature before integration).

As for NuGet, including third party tool to onto developer's PCs and intergrating it

[2022-03-28 04:23] saravanan-2112 commented on #11693
Hi @joelverhagen,

Please find the error details in the attached screenshot.

<img width="919" alt="image" src="https://user-images.githubusercontent.com/92977521/160326233-abe8dc08-5ddc-44f7-a9ec-bf3c6ff9dc1b.png">

[2022-03-28 08:59] matthewjones555 commented on #3891
Sadly, this kind of attitude is why the out of the box experience is going to forvever be left half baked.

It's ironic that this was the "new and improved" nuget integration, that we were all encouraged to migrate towards, and you've never had the will to actually make it feature complete.  Meanwhile we've been scratching around for temporary workarounds for the _**years**_ that this thread has b

[2022-03-28 09:08] emz00 opened #11695 "[Feature]: `dotnet list package --vulnerable --include-transitive` should return dependency path to vulnerable package"
### NuGet Product(s) Involved

dotnet.exe

### The Elevator Pitch

When `dotnet list package --vulnerable --include-transitive` reports packages that are indirect (transitive) dependencies it's very tedious to manually track down which direct dependency causes the vulnerable package to be included. NuGet already knows this - it just needs to show it to the user.

### Additional Context and Details

[2022-03-28 13:19] martinrrm commented on #11694
Hi @v-luzh I wasnt able to reproduce this, is it possible that you can attach a video?

[2022-03-28 13:43] AraHaan commented on #3891
I agree, if it's a pain to maintain nuget, why not just add an plugin system to nuget and call it good so then all we have to do is reference a package that implements a nuget plugin interface where nuget will check for it?

Oh wait... that would be more unmaintainable work to get that working and more complex than just doing the work (or asking someone from the community to open a pull request so

[2022-03-28 15:48] IanKemp commented on #3891
Exactly.

The fact that somebody was so fed up with the lack of this fundamental feature in NuGet that they went and implemented it themselves, should be a massive wake-up call to the NuGet team to get off their sorry a**es, not a "get out of jail free" card. Based on the commit history to this repo, the NuGet team doesn't seem to do very much work at all.

Bill Gates' Microsoft would have **fired

[2022-03-28 15:59] abelbraaksma commented on #9961
Just to note, I've tried to replicate this on Windows 10+ versions on several systems, but the issue does not occur there. So it appears to be indeed primarily a Windows 7 issue. This begs the question whether we should try to fix it or not (not sure how many people still use Windows 7 nowadays).

[2022-03-28 16:34] JonDouglas commented on #3891
Hi friends,

Please let us lay these judgements in the past and focus on the present. I understand you are all feeling disappointed and hurt. You have every right to be. But do know that teams are still made of people. People have feelings. And hurtful words can carry to many more people than you think even if you're directing your frustrations towards an entity.

Let us keep the conversation goin

[2022-03-28 16:47] StingyJack commented on #3891
@JonDouglas my comment above would be for you as well.

And I would like to add that we are people too, who get unexpectedly stuck or just plain screwed over in our daily jobs when you don't meet the expectations I explained. Asking us to forgive and forget when you have not demonstrated that you have learned the lesson is either "just illogical" or something worse.

If this is actually true, than

[2022-03-28 19:17] AraHaan commented on #3891
I agree, wether personal or professional projects from a company, we sometimes feel the blunt of the pain when the nuget team does not decide to hear what we say.

As much as I would *love* to use nugetizer there comes many risks to using it that I am not willing to pay:
- is not made by Microsoft (anyone in the community can submit a malicious change that can result in them doing stuff like remot

[2022-03-28 20:14] marcin-krystianc opened #11696 "[Bug]: Central package management breaks no-op restores"
### NuGet Product Used

dotnet.exe

### Product Version

dotnet 6.0.100

### Worked before?

dotnet 5.0.100

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

1. Checkout project that uses central package management, e.g.: [NoOpIssue.zip](https://github.com/NuGet/Home/files/8365994/NoOpIssue.zip)

2. Run `dotnet restore` twice.

3. The second restore should be no-op restor

[2022-03-28 20:36] nkolev92 commented on #10666
Team Triage: Remove the owners field from the UI.

[2022-03-28 20:40] nkolev92 commented on #11681
Team Triage: Marking as lower priority due to the low number of reports, but we're supportive of the overall change and would be happy to take a PR.

[2022-03-28 20:47] nkolev92 commented on #11684
Team Triage;
VSIX projects try to restore the same way that .NET SDK projects do, at solution load.

Disabling restore completely (both checkboxes) should not be running restore.

[2022-03-28 20:49] nkolev92 commented on #11684
VSIX projects are calling: https://github.com/NuGet/NuGet.Client/blob/a240ae5dc66e7ecbb1841e36287c84bfdee76c65/src/NuGet.Clients/NuGet.VisualStudio/SolutionRestoreManager/IVsSolutionRestoreService2.cs#L30

[2022-03-28 20:52] StormRider01 commented on #3891
@JonDouglas

I'm truly at a loss for words right now. This issue is the #1 issue by criteria in the road map. It's one of the 1st show stoppers that developers run into migrating their DotNet 4.x projects to .Net Core. This issue has been ignored and argued over for 5 years. Now you want us to forgive and forget, and create a proposal to be "Reviewed by the NuGet team & community" "in due time"???

[2022-03-28 21:25] AArnott commented on #11681
Would you take a PR that simply honors the `SuppressDependenciesWhenPacking` property, or would you want to see a new one?

[2022-03-28 21:34] bgreman commented on #7732
Can confirm that this is still an issue.  What would be ideal would be being able to specify both a -Source for the repository itself and a -Path within the repository.

This issue is doubly compounded by the fact that our Artifactory instance has client certificate authorization, and while NuGet supports this for a given PackageSource, trying to push to a specific path ignores the configured clie

[2022-03-28 21:39] Strandedpirate commented on #3891
![image](https://user-images.githubusercontent.com/1452996/160491545-a9e67238-3ea6-457d-aa07-7ad674130e15.png)

My experience - moving from .net's 4.x nuget implementation to whatever it is we have now in .net core, .net 5/6, I was immediately stopped in my tracks for days trying to package my libraries, and including the assemblies from dependent projects from my own codebase. I spent **WAY** too

[2022-03-28 22:02] nkolev92 commented on #11681
There's more than 1000 usages in GitHub repos, and that gives me a pause saying we should reuse the same property.

FrameworkReference probably has the same concern.
let's keep the separate for now.

[2022-03-28 22:58] bgreman opened #11697 "[Feature]: Ability to specify relative path on nuget push"
### NuGet Product(s) Involved

NuGet.exe

### The Elevator Pitch

I propose adding another parameter (and perhaps configuration option) to `nuget push`.  This parameter (perhaps `-DestinationRelativePath` or similar) would allow use of the `-Source` parameter to specify a configured Package Source, and then the remainder of the PUT request would be built by concatenating the package source and the

[2022-03-28 23:26] nkolev92 commented on #3022
Closing as dup of https://github.com/nuget/client.engineering/issues/214.

No need to have the external tracking issue despite it being older.

[2022-03-28 23:26] #3022 closed, assigned to nobody

[2022-03-28 23:41] nkolev92 commented on #10590
SDK based proejcts won't have this `issue` since the defaults are different.

[2022-03-28 23:56] heng-liu commented on #11691
Hi @snebjorn , thanks for taking time filing this issue!
According to the [doc](https://docs.microsoft.com/en-us/nuget/quickstart/create-and-publish-a-package-using-the-dotnet-cli#automatically-generate-package-on-build), my understanding is,
setting `GeneratePackageOnBuild` to true is to automatically run dotnet pack when you run dotnet build, but not the opposite: automatically run dotnet build

[2022-03-29 00:09] heng-liu commented on #11695
Hi @loop-evgeny , this is a duplicate of  https://github.com/NuGet/Home/issues/11625.

[2022-03-29 00:09] #11695 closed, assigned to nobody

[2022-03-29 00:16] heng-liu commented on #11697
Hi @bgreman , I think this is a duplicate of https://github.com/NuGet/Home/issues/10157. Please let me know if you disagree.
Adding any context/upvotes there is helpful: https://github.com/NuGet/Home/issues/10157

[2022-03-29 00:16] #11697 closed, assigned to nobody

[2022-03-29 03:13] ericsampson commented on #11571
The 4>3 part version normalization did/does create pain for people, such as users of TeamCity and OctopusDeploy (which is a popular combination). I experienced this myself.
Having an opt-in way to disable normalization would be very helpful.

[2022-03-29 03:15] ericsampson commented on #3891
@Strandedpirate, fwiw re this question:

If you look on nuget.org, there are plenty of Microsoft leaf dependency packages that are labeled "for use by Microsoft package X only, not for public consumption". So that's how they solved it 😅

[2022-03-29 03:17] ericsampson commented on #3891
@maxkoshevoi , would you be willing to take your initial proposal through the steps that @JonDouglas pointed to [here](https://github.com/NuGet/Home/tree/dev/meta#how-do-i-create-a-proposal)?

[2022-03-29 06:14] maxkoshevoi commented on #3891
I'm okay with creating a proposal (will do it some time this week)

[2022-03-29 07:46] loop-evgeny commented on #11625
Per 11695, it would be even better to include the full path to each package, rather than just the origin (first step in the path). This is particularly useful with `--vulnerable`. Say I reference package A, which reference B, which reference C, which is vulnerable. I'd like to see the A -> B -> C chain. Maybe I can't upgrade A, but instead of explicitly referencing C I choose to reference a newer

[2022-03-29 08:40] snebjorn commented on #11691
Hi @heng-liu, I'm sorry I didn't check the documentation. I just ran the command and observed how it worked.
Running `dotnet pack` does build the project. That might be an undocumented feature.

Your bug report form didn't have a section for a description so I didn't provide one here. However I did write one where I [first reported the issue](https://github.com/dotnet/sdk/issues/24318). Here it is

[2022-03-29 08:48] DavidKarlas opened #11698 "[Bug]: Clarify what `GetAuthenticationCredentialsRequest.IsRetry` means"
### NuGet Product Used

NuGet SDK

### Product Version

All

### Worked before?

No

### Impact

I'm unable to use this version

### Repro Steps & Context

Documentation on [GetAuthenticationCredentialsRequest.IsRetry](https://github.com/NuGet/NuGet.Client/blob/f24bad0668193ce21a1db8cabd1ce95ba509c7f0/src/NuGet.Core/NuGet.Protocol/Plugins/Messages/GetAuthenticationCredentialsRequest.cs#L21) doesn'

[2022-03-29 10:57] m0sa commented on #7855
Running into the same issue, the `RestoreConfigFile` MsBuild property / env variable is not being picked up.

[2022-03-29 18:18] bgreman commented on #11697
@heng-liu I do not think this is a duplicate, that one seems to be referring to relative paths for where the packages to be pushed are currently located when also using a wildcard pattern for which packages to push, not a relative path for the destination sub-path within the targeted remote Package Source.  The example command in #10157 doesn't even specify the `-s` or `-Source` parameter.

[2022-03-29 19:01] brunofrancavalli commented on #9368
I also have this
[code]

When I install the NuGet package in .NET Core it sets the files under that directory to "Embedded Resource" and the copyToOutput is set to "Copy if newer", but same nuspec for .NET Framework does not work.

Both are getting built from the following command

[code]

I run the command from the ```bin``` directory.

What am I doing wrong?

[2022-03-29 22:29] nkolev92 opened #11700 "ExtractPackageAsync_RepositoryPrimarySignedPackage_PackageSignedWithCertFromRepositoryAllowList_SuccessAsync is flaky"

[2022-03-29 22:33] nkolev92 opened #11701 "Disable ExtractPackageAsync_RepositoryPrimarySignedPackage_PackageSignedWithCertFromRepositoryAllowList_SuccessAsync"

[2022-03-30 08:32] JesseRoxit commented on #9020
Not sure what the exact cause is but, for me, after uninstalling Fiddler it behaves as expected again. So people who still face this issue and have Fiddler installed, you can try uninstalling it.

[2022-03-30 09:45] matthewjones555 commented on #3891
Just look at the readme for Nugetizer and you'll find your answer.

This is an indictment of the very poor state of development of the .net support for nuget.  It should be a call to arms to the development team to do better.  Not for them to shrug their shoulders and say "meh, a third party has done better, so we won't bother".

It's shockingly unprofessional, and speaks to a lack of pride in one

[2022-03-30 12:07] v-luzh commented on #11694
Hi @martinrrm, I attached the video for your investigation. It is recorded on VS Main\32329.175 + NuGet Client Dev\6.2.0.127.
![LocalPackageLost](https://user-images.githubusercontent.com/20632625/160830564-efd3790a-0b8d-4517-a69e-2644b595c692.gif)
.

[2022-03-30 13:42] v-luzh opened #11703 "[Bug]: A prompt error “cannot access disposed object” prevents solution saving after installing a package from local path"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Dev\6.2.0.132

### Worked before?

Dev\6.2.0.131

### Impact

It's more difficult to complete my work

### Repro Steps & Context

### Details about Problem
VS Version: Main\32329.175
NuGet Version: Dev\6.2.0.132
OS Version: Windows-11-Enterprise-21H2

### Repro steps:
1.Only enable one package source which point to l

[2022-03-30 16:56] nkolev92 opened #11704 "NuGet.CommandLine.Test.NuGetPushCommandTest.PushCommand_PushToServer_WhenPluginReturnsNoCredentials_FallBackToConsoleProvider is flaky"
It has about 50% failure rate.

[2022-03-30 16:57] nkolev92 opened #11705 "Disable NuGet.CommandLine.Test.NuGetPushCommandTest.PushCommand_PushToServer_WhenPluginReturnsNoCredentials_FallBackToConsoleProvider"

[2022-03-30 17:46] grendello opened #11706 "[Feature]: Add support for alternative ZIP-compatible compression schemes in nuget"
### NuGet Product(s) Involved

NuGet.exe, NuGet SDK

### The Elevator Pitch

Nugets are getting bigger and bigger, but they keep using the standard `zlib` compression of their contents.  However, the ZIP standard allows for alternative compressions (see section [4.4.3 here](https://pkware.cachefly.net/webdocs/casestudies/APPNOTE.TXT)), with libraries like [`libzip`](https://libzip.org/) (and its m

[2022-03-30 18:10] heng-liu commented on #11703
I tried the following steps but failed to repro: ( on VS 17.2 preview2.0)
1.Install VS 17.2 preview2.0
2.Download vsix from build 6.2.0.132, install it the VS installed in step1
3.Open VS (install vsix in step2), create a new Console app, targeting net6.0
4.Create a local folder with two packages
5.Change the settings to make the local folder is the only source in config file
6.Run "dotnet nuget l

[2022-03-30 18:16] nkolev92 opened #11707 "IVsNuGetProjectUpdateEvents are fired for packages.config projects"
Related to https://github.com/nuget/home/issues/6872.

Make the following API support packages.config:
https://docs.microsoft.com/en-us/nuget/visual-studio-extensibility/nuget-api-in-visual-studio#ivsnugetprojectupdateevents-interface

[2022-03-30 19:44] nkolev92 commented on #6872
Hey all,

Please refer to the https://docs.microsoft.com/en-us/nuget/visual-studio-extensibility/nuget-api-in-visual-studio#ivsnugetprojectupdateevents-interface API for project updates in PackageReference projects.

The end goal is to make this API handle packages.config projects as well. and you can track that here: https://github.com/NuGet/Home/issues/11707

I will update the documentation with

[2022-03-30 20:12] heng-liu commented on #11703
I didn't repro on with the exact same version either:
VS Version: Main\32329.175
NuGet Version: Dev\6.2.0.132
Hi @v-luzh , may I know if there is anything different in my repro compared with your repro steps?
And did you repro constantly? Or there is a chance we could not repro it every time? Thanks!

[2022-03-30 20:37] MarkIngramUK commented on #6027
A TeamCity user, checking in here. After migrating from package config to package reference, our builds started failing due to missing dependencies. Adding the `-restore` parameter to `msbuild` worked correctly locally, but on the build agent, running under the `LocalSystem` account, I started experiencing the problems above. `msbuild` was found by using `vswhere` in a PowerShell script.

Adding `

[2022-03-30 21:13] maxkoshevoi commented on #3891
Okay, so here you go everyone: https://github.com/NuGet/Home/pull/11708
Feel free to review the PR and improve wording, or even change the proposed implementation of the feature. Let's get this thing merged!

CC: @JonDouglas

[2022-03-30 21:41] nkolev92 commented on #6872
PR out for both the documentation update and the fix to enable https://docs.microsoft.com/en-us/nuget/visual-studio-extensibility/nuget-api-in-visual-studio#ivsnugetprojectupdateevents-interface for the packages.config based projects.

[2022-03-30 21:58] jimmylewis commented on #11505
I'm curious why CPVM plays into this at all.  Shouldn't this warning also be shown if not using CPVM?  How does CPVM change the threat model?

[2022-03-30 22:10] jimmylewis opened #11709 "[Bug]: new warning for package source mappings doesn't pass a value for the resource string placeholder"
### NuGet Product Used

MSBuild.exe

### Product Version

Microsoft (R) Build Engine version 17.2.0-preview-22178-03+1160f4e0e for .NET Framework

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

Updated to a VS build containing #11505.  Someone on my team started seeing this error (because we have Warnings As Errors, it broke the build)

[2022-03-30 22:18] kartheekp-ms commented on #11703
May be [activity log](https://docs.microsoft.com/en-us/visualstudio/extensibility/how-to-use-the-activity-log?view=vs-2022#to-examine-the-activity-log) has more details about the exception. Any exception logged in the output or error list window?

[2022-03-31 00:04] nkolev92 commented on #11653
Whatever we decide to do, the following target would need to be updated to respect is as well:

[code]

It's coming from `C:\Program Files\dotnet\packs\Microsoft.MacCatalyst.Sdk\15.2.302-preview.14.122\targets\Xamarin.Shared.Sdk.targets` on my end.

It would need the exact same logic that we add in NuGet/SDK.
Maybe it's best if we can have a sync with myself, @dsplaisted and whoever is the owner o

[2022-03-31 00:58] #11705 closed, assigned to nkolev92

[2022-03-31 00:58] #11701 closed, assigned to nkolev92

[2022-03-31 00:59] #11643 closed, assigned to nkolev92

[2022-03-31 00:59] #3380 closed, assigned to nkolev92

[2022-03-31 00:59] #10590 closed, assigned to nkolev92

[2022-03-31 01:00] #9864 closed, assigned to nkolev92

[2022-03-31 03:01] dominoFire commented on #11703
It seems no NuGet-related assembly is associated with the exception message is shown in Message box.