[2021-05-27 15:55] #10868 closed, assigned to nkolev92

[2021-05-27 17:38] nkolev92 commented on #10897
`TargetFramework` values are just strings to NuGet.

When you specify `net5.0-windows`, the .NET SDK attaches a version to the target platform.

So when NuGet reads the relevant properties, `TargetFrameworkMoniker` and `TargetPlatformMoniker`, it gets `.NETCoreApp,Version=v5.0` and `Windows,Version=7.0`.

For NuGet at restore/pack time, a target platform version is requires (such as 7.0), so NuGet

[2021-05-27 17:38] #10897 closed, assigned to nobody

[2021-05-27 17:43] nkolev92 opened #10898 "IVsProjectRestoreInfoSource improvements"
* Change `HasPendingNomination()` to `HasPendingNomination { get; }`
* Change `WhenNominatedAsync` to `WhenNominated` to match `Task.WhenAny`.

[2021-05-27 18:05] JonDouglas commented on #10793
Hey @BlackGad,

Firstly, thank you so much for the extremely thought out scenario & interest in contributing to NuGet! We are trying to move our proposal process to a more unified & streamlined model so we can take ample time to review as a community & team to decide whether we [can support the proposal](https://github.com/NuGet/Home/tree/dev/meta#how-does-a-proposal-review-work).

If you're willi

[2021-05-27 21:36] BlackGad commented on #10793
@JonDouglas here you are https://github.com/NuGet/Home/pull/10899 . Hope I've created it in proper manner. Let me know if something missed or described badly.

[2021-05-27 21:37] JonDouglas commented on #10793
@BlackGad Thank you kindly. I'll comment over there now!

[2021-05-28 02:59] vsfeedback opened #10901 "packages.lock.json broken with Sdk-Style C# project targeting net5.0-windows"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/packageslockjson-broken-with-Sdk-Style/1428352)._

---
When using a Sdk-Style C# project targeting net5.0-windows with package references it is not possible to lock the nuget packages via packages.lock.json.

The restore fails both in commandline and in visual studio.
"error NU1004: The

[2021-05-28 03:09] heng-liu commented on #10901
I could repro with the same repro steps above.
The packages.lock.json has the following contents:
[code]
However, the project.assets.json has the following contents:
[code]
So [**this line**](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.ProjectModel/ProjectLockFile/PackagesLockFileUtilities.cs#L141-L142) found the TFMs are different, hence the restore failed.
![image](https:

[2021-05-28 04:16] #10898 closed, assigned to nkolev92

[2021-05-28 07:27] matt-richardson commented on #10840
I also hit this yesterday running msbuild `16.9.0+57a23d249` inside of Windows 20h2 docker container, based on `mcr.microsoft.com/dotnet/framework/sdk:3.5`, which I think has sha sha256:05accdd0b5e8ea58d62a404bff6ce175294493762be674ae2d3222c40d1a2cd1 (I'd go try and find it on docker hub, but it's all hidden behind mcr.microsoft.com). Oddly, re-running worked.

[2021-05-28 07:44] ghelyar commented on #10897
Yes, I can see how the code currently works, and it makes sense that 0.0 is not compatible with 7.0.

The problem is that there isn't a consistent default platform version. [`net5.0-windows` is supposedly equivalent to `net5.0-windows7.0`](https://github.com/dotnet/sdk/issues/14553#issuecomment-730574926), but this part of the system sets it to `0.0`.

I couldn't find any official documentation th

[2021-05-28 09:06] stephen-pilli commented on #2880
worked well with new ue5 early access on linux.

[2021-05-28 14:58] Lukzy opened #10902 "The NuGet client ignores the NO_PROXY setting"
## Details about Problem

The `NO_PROXY` environment variable seems to be ignored by the NuGet client.

Looking at the source, the latest change on `WebProxy` could have caused this issue. `_bypassList` will never be set if a framework other than `NET45` is used.

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Configuration/Proxy/WebProxy.cs#L61

[code]

NuGet product used (Nu

[2021-05-28 15:12] nbarnwell commented on #6330
- It works perfectly well in CI/CD, because your install.ps1 shouldn't need to do anything at build time, and you can use msbuild targets to do that.
- Even when a dependency is not a direct one, any readme files will be opened in VS when the package is installed for the first time (in fact I suspect the behaviour mimics that of `init.ps1` in terms of when it happens). That's how you tell people t

[2021-05-28 15:37] jonathanpeppers opened #10903 "Android .NET 6 Preview 5 fallbacks not working"
## Details about Problem

NuGet product used: _dotnet.exe_

Product version: _.NET 6.0.100-preview.6.21276.2 or .NET 6.0.100-preview.5.21278.1_

Worked before? If so, with which NuGet version: _this was testing a new feature in NuGet_

## Repro steps and/or sample project

Context: https://github.com/dotnet/designs/blob/main/accepted/2021/net6.0-tfms/net6.0-tfms.md
Context: https://github.com/NuGe

[2021-05-28 16:19] cgtyoder commented on #8713
@mwpowellhtx I know it's been almost a year, but my workaround is to create a multi-targeting package with .NET 5.0 or whatever, and let VS create the NuGet package. This way you have a throwaway config in the package, but at least the .NET Framework version is working. Depending on the complexity of your code, that might require some extensive rework, but hopefully not. 🤞

[2021-05-28 16:32] jonathanpeppers commented on #10903
Actually, perhaps we _don't_ have a new enough dotnet/installer:

https://github.com/dotnet/installer/blob/3ebe0ca9715283842b003a75cf2b3603ca28d964/eng/Version.Details.xml#L124-L127

I'll try using a newer build.

[2021-05-28 17:24] heng-liu commented on #10902
Hi @erdembayar , could you help confirm if this [line ](https://github.com/NuGet/NuGet.Client/commit/9cb32bfc4774ae77c64ecc9ec309741f367bb444#diff-c1094245ca1788adc6314077db4d287f10da673b155cbcdedf681ac3a15eeaedR61) needs to be changed? Thanks!

[2021-05-28 17:35] erdembayar commented on #10902
@Lukzy @heng-liu
Sorry, this is my fault. I'll commit fix today.

[2021-05-28 17:43] heng-liu commented on #10903
I think you're right. The PR related to NuGet is inserted into dotnet release/6.0.1xx-preview5 branch not long ago.

[2021-05-28 17:52] heng-liu commented on #10903
I'll close the issue for now. Please reopen it if the new build still doesn't work. Thanks!

[2021-05-28 17:52] #10903 closed, assigned to nobody

[2021-05-28 17:53] erdembayar commented on #10902
@Lukzy
Can you give me repro steps? Fix is straight forward, but I need to add unit test so it wouldn't happen again.
What sample values can I use for `http_proxy` and `no_proxy`? Currently there is no unit test actually set value in `no_proxy`.

[2021-05-28 18:06] Lukzy commented on #10902
@erdembayar
Maybe the unit tests from the dotnet runtime can help you out.

https://github.com/dotnet/runtime/blob/main/src/libraries/System.Net.WebProxy/tests/WebProxyTest.cs

I encountered the issue when I switched from the docker image `mcr.microsoft.com/dotnet/sdk:3.1-alpine` to `mcr.microsoft.com/dotnet/sdk:5.0.300-alpine3.13`.  Had a nuget.config with two package sources
[code]
And then I se

[2021-05-28 18:45] erdembayar commented on #10902
@Lukzy @heng-liu
Thank you bug into attention. Fix it out: https://github.com/NuGet/NuGet.Client/pull/4079

[2021-05-28 18:46] heng-liu commented on #10902
Thanks for the super quick response!

[2021-05-28 22:16] #10902 closed, assigned to erdembayar

[2021-05-28 23:29] #8223 closed, assigned to donnie-msft

[2021-05-29 00:09] donnie-msft commented on #8223
I took some time today to look into this, and just merged a fix. Basically, the "delete" codepath didn't save to disk!

@kennydv  your workaround worked because the 2nd key/value caused the modified config to be written to disk ([code](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Configuration/Utility/SettingsUtility.cs#L210)). I tested your workaround and my PR didn't break

[2021-05-29 13:29] f2calv commented on #5227
Adding a custom header which matches the pushed package name+version would be great here. Currently when pushing to Github packages with `dotnet nuget push` the package name always appears as `package.nupkg` unless we use the [custom upload tool](https://github.com/jcansdale/gpr) by @jcansdale

For more info see https://github.community/t/asset-name-is-always-package-nupkg-on-github-package-regist

[2021-05-30 06:05] dotnetspark opened #10904 "NuGet package not listing dependencies"
## Details about Problem

NuGet product used is Visual Studio 2019 Enterprise edition. See below for the .csproj:

![image](https://user-images.githubusercontent.com/63487874/120093648-a69aae00-c0e9-11eb-8d79-b5ebe53769e0.png)

Above are listed the dependencies. When I run the build command, and the package is created. I open it with NuGet Package Explorer and I see the dependencies are listed.

!

[2021-05-30 15:44] mausch opened #10905 "ArgumentException with invalid command+arg"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe):

dotnet.exe

Product version:

[code]

Worked before? If so, with which NuGet version:

No idea tbh.

## Repro steps and/or sample project

[code]

[2021-05-31 10:21] Starkie commented on #10902
We just found this morning about the error when our build agents failed. Thanks for the quick fix!

When could we expect the fix to be deployed with the .NET SDK?

[2021-06-01 16:20] erdembayar commented on #10902
@Starkie
Yes, it would be deployed with the .Net SDK. I'll update here once it's in NET SDK.  Meantime please use older .Net SDK version works for you, thank you for your understanding.

[2021-06-01 16:49] gaoalexander commented on #6861
@rido-min We would be willing to submit a PR to support this option to ignore certificate chain when signing a NuGet package.  Would you be open to reviewing / accepting this PR?

[2021-06-01 16:58] anangaur commented on #6861
+ @JonDouglas @dtivel to weigh in the request.

[2021-06-01 17:41] JonDouglas commented on #6861
Hi everyone,

To help our team prioritize this issue, can those interested in the completion of this feature/contribution upvote this issue using an 👍?

https://github.com/NuGet/Home/blob/dev/CONTRIBUTING.md#before-submitting-an-issue

Additionally, if you are interested in contributing such an option to the tooling, the NuGet team reviews proposals every couple weeks or so once there has been eno

[2021-06-01 18:16] wli3 opened #10906 "dotnet pack produces a package with copyToOutput not applied"
---
**Issue moved from dotnet/sdk#17662**
- Please respond to @melanchall.

---

_From @melanchall on Monday, May 17, 2021 12:33:38 PM_

I have a small sample solution: [DualLibClassLibrary.zip](https://github.com/dotnet/sdk/files/6493577/DualLibClassLibrary.zip).

The structure of the solution:

[code]

As you can see I have following lines in csproj:

[code]

When I run `dotnet pack` I'll get a

[2021-06-01 18:16] wli3 commented on #10906
---
**Issue moved from dotnet/sdk#17662**
- Please respond to @dotnet-issue-labeler[bot].

---

_From @dotnet-issue-labeler[bot] on Monday, May 17, 2021 12:33:41 PM_

I couldn't figure out the best area label to add to this issue. If you have write-permissions please help me learn by adding exactly one area label.

[2021-06-01 18:16] wli3 commented on #10906
---
**Issue moved from dotnet/sdk#17662**
- Please respond to @melanchall.

---

_From @melanchall on Tuesday, June 1, 2021 3:26:09 PM_

@wli3 Any news?

[2021-06-01 18:55] nkolev92 opened #10907 "Support IncludeAssets, ExcludeAssets and PrivateAssets for ProjectReference at restore/build time in an equivalent fashion as PackageReference"
Related tracking: https://github.com/NuGet/Client.Engineering/issues/257

Currently these are only respected in Pack (PrivateAssets="All" is respected too).
[code]

1. There's a precedent to ExcludeAssets skipping the compatibility checks. That's what happens with packages.
1. The NuGet code ignores ExcludeAssets for ProjectReference, unclear to exact motivation.NuGet does treat ExcludeAssets equi

[2021-06-01 19:00] dominoFire commented on #10893
Does a custom .targets MSBuild could help in creating symlinks for each specific platform?

[2021-06-01 19:03] nkolev92 commented on #10907
cc @zivkan @dsplaisted @clairernovotny

[2021-06-01 19:37] dominoFire commented on #10904
Thanks for your report, @ylr-research

For projects created with `dotnet` CLI, it's preferable to pack using `dotnet pack`

`nuget.exe` works better with .NET Framework projects.

[2021-06-01 19:51] dominoFire commented on #10905
Thanks for your report, @mausch

Could you try using latest dotnet SDK (5.0.300) ? https://dotnet.microsoft.com/download/dotnet/5.0

Which OS are you using?

Are you setting `SHOW_NUGET_STACK` environment variable, as documented [here](https://docs.microsoft.com/nuget/reference/cli-reference/cli-ref-environment-variables) ?

[2021-06-01 19:57] ylr-research commented on #10904
@dominoFire thanks for the quick response. For packing I'm using the Nuget task from Azure DevOps. I just changed to DotNetCLI task. If you have any more details on how to implement this, please let me know

[2021-06-01 21:45] dsplaisted commented on #10907
One use for this would be for packaging projects such as WAP or Service Fabric projects to be able to reference projects that they are packaging without having to worry about NuGet framework compatibility.

[2021-06-01 22:23] nkolev92 commented on #9782
Per discussions with @lifengl and others, we'll likely want a new API here.

[2021-06-01 22:38] nkolev92 opened #10908 "Add a default implementation for IVsSolutionRestoreService4"
This would allow https://github.com/dotnet/project-system/pull/7199 to complete, as they'll likely acquire the service via MEF, but currently no one exposes that service.

[2021-06-01 22:45] nkolev92 commented on #10908
Real impl in https://github.com/NuGet/NuGet.Client/pull/4085

[2021-06-01 22:45] johnendev commented on #10901
This issue makes locked-mode completely unusable in when targeting `net5-win`. When can we expect this to be fixed?

[2021-06-01 23:00] lochnar187 commented on #545
So, NuGet Package Manager still isn't supported in database projects?!  This (NuGet) is a fundamental tool in VS and should be usable in EVERY Visual Studio project type!  Consistency!  Consistency!  Consistency!  It's key.

After having this reported in VS 2015 and here we are (a good six years later) in 2021 and this is still a thing?  Someone's got questionable engineering/time management skill

[2021-06-02 01:06] bruno-garcia commented on #10581
In what version of msbuild can expect this to land? Is this a .NET 6 feature?

[2021-06-02 02:24] heng-liu commented on #10901
FYI @aortiz-msft, @nkolev92

[2021-06-02 03:42] aortiz-msft commented on #10896
@jebriede - Would you please take a look?

[2021-06-02 03:43] heng-liu commented on #10581
Yes, the .NET6 preview5 (and later) should have this command.

[2021-06-02 07:24] jmezach commented on #545
@lochnar187 Please have a look at [MSBuild.Sdk.SqlProj](https://github.com/rr-wfm/MSBuild.Sdk.SqlProj) which gets you most of the way.

[2021-06-02 09:27] mausch commented on #10905
Same exception with 5.0.300 :

`docker run --rm -it mcr.microsoft.com/dotnet/sdk:5.0.300-buster-slim dotnet nuget kk ''`

I'm not setting `SHOW_NUGET_STACK` (or `NUGET_SHOW_STACK` according to the docs?)

[2021-06-02 09:57] v-longmin commented on #10901
We can repro this issue on .NET 6.0, and the packages.lock.json file is blank after restoring project.

[2021-06-02 13:31] ylr-research commented on #10904
@dominoFire it worked. Changing to DotNetCLI task was the thing. There is one thing though, it publishes to the feed my package + dependencies as separate packages. Is there any way to stop that?

[2021-06-02 17:32] dominoFire commented on #10904
@ylr-research `dotnet nuget push` publishes a given package. If you use a glob (`*`), it will publish all package files that matches the glob.

[2021-06-02 18:14] ErikEJ opened #10909 "Microsoft.Data.SqlClient should be suggested"
Package suggestions: should suggest Microsoft.Data.SqlClient instead of System.Data.SqlClient

[2021-06-02 18:45] #10908 closed, assigned to nkolev92

[2021-06-02 19:24] ylr-research commented on #10904
got it now. I was using for push the NuGet task as well instead of DotNetCoreCLI. Thanks

[2021-06-02 19:24] #10904 closed, assigned to nobody

[2021-06-02 21:02] zivkan opened #10910 "Unskip E2E tests failing on early dev17 int preview"
Several of our tests are failing from a VS API bug. AzDO bug 1334578 for details.

[2021-06-02 21:13] dominoFire commented on #7789
Fixed in NuGet/NuGet.Build.Localization#866

[2021-06-02 21:20] dominoFire commented on #7789
@kant2002 Thanks for your report. This should marked as fixed in the next major VS release. Thanks!

[2021-06-02 21:20] #7789 closed, assigned to dominoFire

[2021-06-02 22:06] ElectricErger opened #10911 "Add a package field for APIs"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): Systematic, but Visual Studio I guess

Product version: 3.4

Worked before? If so, with which NuGet version: N/A

## Repro steps and/or sample project
Allow me to paint an example of the UX of selecting a package.
1. Use your favourite tool to search NuGet's listings of packages (ex. Looking for a

[2021-06-02 22:09] ElectricErger commented on #10911
Obviously this is more high-level idea stage here, but I could imagine that the documentation field(s) would most likely be something like a reference to a folder where documents are kept (auto-generated or otherwise), which could then be tar-ed up and included as part of the NuGet package file.

I'll also say, if this functionality does exist, I couldn't find it. If it does exist, then maybe the

[2021-06-02 23:13] dotMorten commented on #5525
I have this need to, but for a version range. I'd like to be able to specify a range, like for instance `[1.0.0,1.1.0)`, as listed here: https://docs.microsoft.com/en-us/nuget/concepts/package-versioning

[2021-06-02 23:39] erdembayar commented on #10848
@aortiz-msft
Increased estimate from 1 to 2 because I didn't count create dotnet documentation part.
Doc Issue: https://github.com/dotnet/docs/issues/24502
Doc PR: https://github.com/dotnet/docs/pull/24503

[2021-06-03 00:37] chull434 commented on #10275
Think I hit the same issue here where nuget just will not download the packages from a dev ops artifact feed and throws that time out error. Running dotnet restore from a ACI self hosted dev ops agent with `mcr.microsoft.com/dotnet/sdk:3.1-focal` as the base image

[2021-06-03 00:50] ddimkovikj commented on #10577
Reproduced it as well using the command mentioned in OP.

Product version:
Visual Studio 16.9.5
NuGet Package Manager 5.9

[2021-06-03 01:59] dominoFire commented on #10909
cc @birgithi

[2021-06-03 02:15] dominoFire commented on #10911
Thanks for your taking time in filling this issue, @ElectricErger

We have README support on NuGet packages.

https://devblogs.microsoft.com/nuget/add-a-readme-to-your-nuget-package/

For now, I will close this issue since it not looks like a bug. Any thoughts, please, let us know.

[2021-06-03 02:15] #10911 closed, assigned to nobody

[2021-06-03 03:23] jonathanperis commented on #6764
This is a nicely feature. Please move foward with this idea. Will match fine with the new grouping conventions for .NET 6 (C# 10) like global usings on a unique file

[2021-06-03 04:05] reduckted commented on #10901
I've just encountered this problem. Using nuget.exe v5.10.0-preview.2, the error message says:

[2021-06-03 04:30] lochnar187 commented on #545
A step, but still of no help with a VS db project building CLRs.

[2021-06-03 06:24] guylevy commented on #6764
@rconard any update please on the release plan / date?

[2021-06-03 07:43] LowCarbonGuy commented on #10793
I'd like to tag onto this issue for a related problem.

I'd like the "dotnet publish" command to be able to include the debug symbols of the project's dependent NuGet packages, so that the .NET exception callstack would include the line number.  Here's my scenario:

1) Team A publishes a NuGet package (LibraryA) including debug symbol to a NuGet registry (it is internal to the company, but it prob

[2021-06-03 08:59] BlackGad commented on #10793
@LowCarbonGuy
1. If team A pack pdb into generic `nupkg` then 2 cases
    1. For old project structure (dependencies inside looks like below example) msbuild will automatically copy Library.pdb and Library.xml files to output folder
[code]
    2. For new project structure (dependencies inside looks like below example) satellites files will not be copied do a [issue](https://github.com/NuGet/Home/i

[2021-06-03 09:55] Vfangma opened #10912 "Pop-up the an error window: We could not refresh the credentials for the account Non-HTTPS url redirect is not supported in webview"
**Steps to reproduce:**
1. Tools-> Options-> Environment-> Accounts-> Add and reauthenticate accounts using: Embedded web browser
2. Go to File -> Account settings -> Sign in -> type account and click "Next"
3. Click the "Help&Support" at the bottom of right
4. Check

**Expected result:**
It should enter the document normally

**Actual result:**
It will pop-up the an error window
![Embedded web br

[2021-06-03 13:09] GrowSharp commented on #1021
I also don't understand why is this marked as closed. It's obviously still not a problem.
@deepakaravindr Could you please re-open this?

[2021-06-03 14:09] gaoalexander commented on #6861
@JonDouglas thank you for your response, I am working on the proposal currently.

I had another question regarding general releases on nuget.org - in the event that this PR is merged into the `dev` branch, do you have any guidance as to what to expect in terms of the change being released on nuget.org (i.e. timeline, other factors)?

[2021-06-03 14:28] JonDouglas commented on #6861
@gaoalexander The PR would likely address an optional parameter in the client tooling & plumb it to the respective OS signing tool(i.e. SignTool). The client tooling follows the [Visual Studio Release Rhythm](https://docs.microsoft.com/en-us/visualstudio/productinfo/release-rhythm) in which new features/changes are brought in regularly in future minor release versions. You can get an idea of how l

[2021-06-03 15:18] ElectricErger commented on #10911
Thanks DominoFire. Makes sense, I wasn't 100% sure how to request a feature, but I saw a feature tag here so I took a shot in the dark.

[2021-06-03 16:59] LowCarbonGuy commented on #10793
@BlackGad  Thanks for your detailed explanation! Truly appreciate it!

My scenario is 1. ii. (team A pack pdb into generic `nupkg`, team B uses new project structure) because:
- The teams use GitLab's NuGet registry, which does not yet support `snupkg`. Fortunately, the [GitLab team seems to be actively working on supporting `snupkg`](https://gitlab.com/gitlab-org/gitlab/-/issues/262081)
- Team B

[2021-06-03 17:28] ericstj commented on #10860
https://github.com/NuGet/NuGet.Client/pull/4053 provides a good start here, defining a public way to provide TFM-specific symbols from the inner build via `TfmSpecificDebugSymbolsFile`.

The pieces we still need to fully address this scenario are as follows:
- [ ] Provide a mechanism to specify symbols from outer build (like Content/None/etc, but having symbols behavior where they only appear in s

[2021-06-03 17:40] nkolev92 opened #10913 "Add support for TfmSpecificDebugSymbolsFile to provide symbols in the inner build"

[2021-06-03 17:44] nkolev92 commented on #10860
https://github.com/NuGet/Home/issues/10913 tracks the parts implemented by https://github.com/NuGet/NuGet.Client/pull/4053

[2021-06-03 18:49] aortiz-msft commented on #10909
Recommendations are based on ML. We cannot do something to address this specifically.

[2021-06-03 18:49] #10909 closed, assigned to nobody

[2021-06-03 19:12] #10893 closed, assigned to nobody

[2021-06-03 19:13] aortiz-msft commented on #10893
Closed as dupe of https://github.com/NuGet/Home/issues/10734

[2021-06-03 19:54] BlackGad commented on #10793
@LowCarbonGuy
BTW for your scenario it is possible to use lifehack

[code]

Paste this to your *.csproj file ;)

[2021-06-04 04:39] ErikEJ commented on #10909
This is not Skynet, and you are in charge. This recommendation is plain wrong, and your model needs to be fixed, IMHO.

[2021-06-04 06:21] BlackGad commented on #5926
As a temporary solution for symbols copying you can use custom MSBuild target:
[code]

In same way xml satellite files can be copied as well

[2021-06-04 11:13] RestoreMonarchy opened #10914 "Loading NuGet Package assembly"
Hello,

I'm making a project that will dynamically load assemblies from NuGet package in runtime.
I'm using NuGet.Client packages to download & install dependencies then to read the NuGet package.

I'm stuck in my `LoadLibAsync` method. I use it to load the assembly from the passed NuGetPackage as a `PackageArchiveReader reader` parameter.
It works well for most NuGet packages like `Dapper` or `EP

[2021-06-04 11:41] kelthar commented on #5525
Bump?

[2021-06-04 13:46] zivkan commented on #10264
Closing as duplicate of https://github.com/NuGet/Home/issues/6566

[2021-06-04 13:46] #10264 closed, assigned to chrisraygill

[2021-06-04 13:46] zivkan commented on #6566
Please see https://github.com/NuGet/Home/issues/10264 for some additional feedback from customers. In particular, this comment: https://github.com/NuGet/Home/issues/10264#issuecomment-800253081

[2021-06-04 13:47] zivkan commented on #10264
Oops, I forgot to mention, please 👍 that issue, since GitHub doesn't provide a way to transfer upvotes.

[2021-06-04 13:58] zivkan commented on #10463
This PR might unblock our NuGet.Build.Tasks.Pack symbols problem: https://github.com/NuGet/NuGet.Client/pull/4053

[2021-06-04 14:05] zivkan commented on #10914
We have a class, `ManagedCodeConventions` that can be used to select assets from a package. I guess our unit tests have the easiest examples of how to use this class.

The issue is for the `runtimes/` assets is that you need a runtime graph. NuGet doesn't contain this itself, the .NET SDK passes us the file path via msbuild property. Therefore, you'll need to find a solution to how you want to get

[2021-06-04 15:35] nehio opened #10915 "Azure Functions netcore3.1 adding Assemblies Nuget.Packaging not found exception"
Nuget.Protocol 4.8.0.6 | Visual Studio 2019 16.9.5 | dotnet 3.1.15

Worked before NuGet version: Nuget.Protocol 4.7.3

I don't know if this issue is related to Azure Functions or Nuget itself but i'm trying to add some assemblies to the Azure Functions DLL library (Dependent on framework netcore3.1) :

[code]
This code fails with the following error on the services.AddMvc() call when adding everyt

[2021-06-04 18:00] nkolev92 opened #10916 "[Responsiveness] Remove implicit RPC from background thread via unneeded GetServiceAsync extensions"
These IAsyncServiceProvider extension methods/overloads are unnecessarily, can increase thread-pool latency and should be deleted in lieu of the generic built-in extension methods from the SDK. Care should be taken to handle any behavior differences, such as these built-in extension methods throwing by default when the service does not exist.

Background:

These extension methods perform a cast on

[2021-06-04 19:29] nkolev92 commented on #10901
Bug likely here: https://github.com/NuGet/NuGet.Client/blob/229fe85a271e9c059d14849d6e9fcc833e61809c/src/NuGet.Core/NuGet.ProjectModel/ProjectLockFile/PackagesLockFileTarget.cs#L34, needs to be equivalent to https://github.com/NuGet/NuGet.Client/blob/229fe85a271e9c059d14849d6e9fcc833e61809c/src/NuGet.Core/NuGet.ProjectModel/LockFile/LockFileTarget.cs#L18

[2021-06-04 19:34] jebriede opened #10917 "Boxing of bool is to compute hashcode is causing excessive allocations"
The HashCodeCombiner takes an object parameter in its AddObject method and when passed a bool, it boxes it as a Boolean object to then compute the hashcode. This allocates Boolean objects that are short-lived and not necessary.

[code]

[2021-06-04 19:40] #10917 closed, assigned to jebriede

[2021-06-04 19:56] jebriede opened #10918 "Iterating over Library Dependencies is causing over-allocation of Enumerators"
The Library Dependencies list is treated as an IList so when there is a for each enumeration done to the list, it allocates an Enumerator. When done on a hot code path, this creates a significant number of allocations.

[2021-06-04 21:59] jebriede opened #10919 "Compatibility cache lookup allocates Func for each lookup"
The CompatibilityProvider uses a cache in the check if frameworks are compatible. The code that checks the cache or adds an entry causes an allocation of a func on each lookup, causing an overallocation of objects.

[code]

[2021-06-04 22:50] jebriede opened #10920 "Overallocations of WhereListIterator in DependencyWalker.CreateGraphNode"
The DependencyWalker uses a LINQ Where in the CreateGraphNode method on a hot code path and the result is a large amount of WhereListIterators being allocated.

[code]

[2021-06-04 22:59] #10913 closed, assigned to nkolev92

[2021-06-04 23:56] #10916 closed, assigned to nkolev92

[2021-06-05 02:56] jebriede opened #10921 "ContentItemCollection uses yield return which is causing over-allocation of Enumerators"
ContentItemCollection uses yield return in its FindItems code path which is causing over-allocation of Enumerators. What happens with yield return is the compiler creates a type based on the method where the yield is happening, and it derives from Enumerators and at runtime it allocates an Enumerator to handle the foreach iteration. When this is done on a hot code path, as is the case here, it all

[2021-06-05 03:46] vsfeedback opened #10922 "System.Memory referencing old version of System.Runtime.CompilerService.Unsafe"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/SystemMemory-referencing-old-version-of/1440601)._

---
[severity:It's more difficult to complete my work]
Hi!
I've got a problem with Nuget package System.Memory (v4.5.4) which is referencing an old version of System.Runtime.CompilerService.Unsafe (v4.5.3)
This is creating problems when

[2021-06-05 03:48] dominoFire commented on #10922
Redirecting to dotnet/runtime repo: https://github.com/dotnet/runtime/issues/53758

[2021-06-05 03:48] #10922 closed, assigned to nobody

[2021-06-05 04:54] dominoFire commented on #8195
Mention from https://github.com/NuGet/Home/issues/8195

[2021-06-06 12:30] RestoreMonarchy commented on #10914
@zivkan I got it working thanks to your hints!

I added `runtime.json` file, from the latest version of `Microsoft.NETCore.Platforms` package, to my project, so it appears in the root of the output directory.

This is my `LoadLibAsync` method now:
[code]
`System.Data.SqlClient` and all other dependencies are loaded without issues now and my code runs without errors

..., but I'm not sure if I load

[2021-06-07 01:28] zivkan opened #10923 "Remove MSB3277 warnings when building NuGet.Client repo"
[MSB3277](https://docs.microsoft.com/en-us/visualstudio/msbuild/errors/msb3277?view=vs-2019) is largely a warning that is resolved automatically by MSBuild's ResolveAssemblyReferences, which generates the necessary binding redirects. Therefore, it's usually inactionable and therefore doesn't provide us with value.

Therefore, I propose we NoWarn it, so it stops spamming our build output.

There is

[2021-06-07 11:53] lukepuplett commented on #1021
@GrowSharp Back in 2016 @rrelyea was suggesting a new issue and linking, so try that if it's still a problem in 2021.

[2021-06-07 12:10] ps-weber opened #10924 "Exception while restoring: "Restore metadata is mising the required target frameworks list""
## Details about Problem

NuGet product used: Visual Studio

Product version: 16.10.0

Worked before? If so, with which NuGet version: Works with `nuget.exe` 5.9.1.11

## Repro steps and/or sample project

When I restore my solution an Exception is written in the Output Window under "Package Manager".

I have a hard time pinning down which project triggers this error. Most projects mentioned in th

[2021-06-07 12:59] zivkan commented on #10914
I don't know, I'm not an expert on `AssemblyLoadContext` or `AppDomain`. Closing since this is no longer about NuGet. It seems you know enough to test for yourself, but you could also try stack overflow, or asking at dotnet/runtime.

[2021-06-07 12:59] #10914 closed, assigned to nobody

[2021-06-07 15:58] zivkan commented on #10910
Solved instead by migrating NuGet to `IVsSolutionEvents`.

[2021-06-07 15:58] #10910 closed, assigned to zivkan

[2021-06-07 15:59] #10892 closed, assigned to zivkan

[2021-06-07 16:14] erdembayar commented on #10848
@aortiz-msft
Both documentation PR and code PR are merged. I'll close it after I manually tested new changes are in effect  for coming .net sdk build.

[2021-06-07 18:23] melanchall commented on #10906
Any movement on the issue? Looks like a bug.

[2021-06-07 20:32] nkolev92 commented on #10924
Seems like a regression from https://github.com/NuGet/NuGet.Client/commit/066a00c239d2445ff29c68fbb24d995e486c188f.

cc @kartheekp-ms.

@ps-weber
Would you be willing to try out a custom build of nuget.exe that *will* tell us what project is failing so we can better investigate the bug?

[2021-06-07 20:51] erdembayar commented on #10848
After 5.0.300

[2021-06-07 21:21] nkolev92 opened #10925 "Share a framework reducer across managed code conventions"
In orchardcore clean restore, 20MB out of 9GB allocations are framework reducer.

[2021-06-07 21:38] nkolev92 commented on #10843
@jebriede I've made this an epic, can you please add the relevant issues that are being fixed under this epic?

[2021-06-07 21:50] nkolev92 opened #10926 "IsVsOfflineFeed_WhenSourceIsNotLocal_ReturnsFalse and IsVsOfflineFeed_WhenSourceIsNull_Throws are flaky"
After the release-6.0.x branch was merged back to dev, they fail with:

[code]

Sample pipelines: https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=4842667&view=ms.vss-test-web.build-test-results-tab&runId=22360816&resultId=116045&paneView=debug

https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=4844391&view=results

cc @erdembayar as you are affected.

[2021-06-07 21:55] nkolev92 opened #10927 "Disable IsVsOfflineFeed_WhenSourceIsNotLocal_ReturnsFalse and IsVsOfflineFeed_WhenSourceIsNull_Throws as they are flaky"
to be fixed in https://github.com/NuGet/Home/issues/10926

[2021-06-08 07:28] ps-weber commented on #10924
@nkolev92 Sure, I'd be happy to give it a try.

[2021-06-08 13:10] Temtaime commented on #7069
@rrelyea hi
I have a project with

and facing this issue when trying to build only for one specific framework only on release:

What can i do ?

[2021-06-08 14:58] michal-ciechan commented on #6981
Getting a 403 because

`dotnet restore` doesn't respect NO_PROXY
`nuget restore` does....

[2021-06-08 15:05] mungojam commented on #6981
some of you might be running into a different issue that is actually easy to workaround. If you have a fixed proxy address that you can point at (which you can sometimes work out from the pac script), then you can tell Nuget about it and it will happily deal with NTLM I believe. It needs to be configured in your central nuget.config under `%AppData%\NuGet` as it won't work in any local nuget.confi

[2021-06-08 15:07] michal-ciechan commented on #6981
My issue is that we need to use proxy for a single source. and not for others. we have HTTP_PROXY set so that everything picks it up correctly. We also have NO_PROXY set for various domains/ip ranges that cannot go through the proxy

[2021-06-08 17:09] #10927 closed, assigned to nobody

[2021-06-08 20:30] zkat opened #10928 "net6.0 xamarin-related precedence fixes"
context: https://github.com/dotnet/designs/pull/222

[2021-06-08 21:22] nkolev92 commented on #10924
[NuGet.zip](https://github.com/NuGet/Home/files/6619677/NuGet.zip)

Thanks!

This was built locally, you might need to unblock it. If that doesn't work, I can try to get a proper build.

Alternatively, here's the branch for the build I created: https://github.com/NuGet/NuGet.Client/tree/dev-nkolev92-addUniqueNameToException

[2021-06-08 22:28] kartheekp-ms commented on #10924
@ps-weber - In addition to what Nikolche mentioned above, please refer to https://docs.microsoft.com/en-us/visualstudio/ide/how-to-view-save-and-configure-build-log-files?view=vs-2019#to-change-the-amount-of-information-included-in-the-build-log to increase MSBuild log verbosity in Visual Studio.

![image](https://user-images.githubusercontent.com/52756182/121265108-1ab51e80-c86d-11eb-8857-c0c1e14

[2021-06-08 22:49] #10194 closed, assigned to nkolev92

[2021-06-08 22:50] nkolev92 commented on #8195
1st NuGet part merged: https://github.com/NuGet/Home/issues/10194.

cc @olgaark @wli3

[2021-06-09 00:01] nkolev92 commented on #10678
Marking as blocked on https://github.com/dotnet/project-system/pull/7199 for now.

[2021-06-09 00:21] nkolev92 commented on #9041
Down to 2 clones, impactful, but there are bigger fish to fry right now.

[2021-06-09 06:48] cmenzi opened #10929 "Question: Add dependency depending on target used dotnet-sdk"
I'm trying to create meta package for our coding guidelines where multiple other analyzers are added as dependencies.

This package also includes .props and .target files to configure the included analyzers with `GlobalAnalyzerConfigFiles`. This basically works very good.

Now, I have the issue that the package SecurityCodeScan analyzers have two releases: `SecurityCodeScan` (deprecated) and `Secu

[2021-06-09 07:34] alexrp opened #10930 "[CPVM] A way to suppress the preview message"
.NET prints a preview message when using a preview SDK. But .NET also provides the `SuppressNETCoreSdkPreviewMessage` MSBuild property to suppress it. It would be nice if NuGet had a similar toggle for the CPVM preview message as it severely clutters build output in large solutions.

[2021-06-09 15:07] Fabman08 commented on #5525
Any news?

[2021-06-09 15:33] rainersigwald opened #10931 "Restore installs unlisted packages when floating versions such as `*` are used"
---
**Issue moved from dotnet/msbuild#6233**
- Please respond to @MarkKharitonov.

---

_From @MarkKharitonov on Tuesday, March 9, 2021 3:28:08 PM_

### Issue Description
We have changed the versioning scheme of an internal NuGet package. The new scheme places the new versions below the old ones, so the latter were unlisted from the NuGet repository (we use Azure Artifacts).

The NuGet package is

[2021-06-09 15:33] rainersigwald commented on #10931
---
**Issue moved from dotnet/msbuild#6233**
- Please respond to @BenVillalobos.

---

_From @BenVillalobos on Wednesday, March 10, 2021 4:19:43 PM_

Team Triage: @nkolev92 is this a NuGet issue?

[2021-06-09 15:33] rainersigwald commented on #10931
---
**Issue moved from dotnet/msbuild#6233**
- Please respond to @nkolev92.

---

_From @nkolev92 on Wednesday, March 10, 2021 7:51:38 PM_

That's by design.
Listedness does not affect resolution, only user discoverability (searching for packages on nuget.org, PM UI).

[2021-06-09 15:33] rainersigwald commented on #10931
---
**Issue moved from dotnet/msbuild#6233**
- Please respond to @MarkKharitonov.

---

_From @MarkKharitonov on Wednesday, March 10, 2021 9:00:50 PM_

I was afraid you would say so. So **nuget.exe list** would not return delisted versions, but **msbuild /restore** would happily restore it.
Now I may understand it when the version is provided exactly. But when it is given as a range - don't you do

[2021-06-09 15:33] rainersigwald commented on #10931
---
**Issue moved from dotnet/msbuild#6233**
- Please respond to @nkolev92.

---

_From @nkolev92 on Wednesday, March 10, 2021 10:27:51 PM_

Exact version is preferred. You'd get a warning if anything else was resolved.

[2021-06-09 15:33] rainersigwald commented on #10931
---
**Issue moved from dotnet/msbuild#6233**
- Please respond to @MarkKharitonov.

---

_From @MarkKharitonov on Thursday, March 11, 2021 5:07:25 AM_

I would also prefer an exact version. But we use * versions for some of our internal NuGet packages.

So, back to my question. Given a range of versions - don't you do version discovery? And if so, shouldn't delisted versions be excluded from this d

[2021-06-09 15:33] rainersigwald commented on #10931
---
**Issue moved from dotnet/msbuild#6233**
- Please respond to @nkolev92.

---

_From @nkolev92 on Thursday, March 11, 2021 5:22:56 PM_

All available versions are considered when using floating versions.
Once a package has been installed, the notion of a package being listed is lost.

[2021-06-09 15:33] rainersigwald commented on #10931
---
**Issue moved from dotnet/msbuild#6233**
- Please respond to @MarkKharitonov.

---

_From @MarkKharitonov on Thursday, March 11, 2021 6:21:04 PM_

I am sorry. I still do not understand. We use **RestoreForce=true** during the restore. That means the version restored an hour ago may not be the version restored now, because the flag forces **discovery** of the new versions. That discovery happen

[2021-06-09 15:33] rainersigwald commented on #10931
---
**Issue moved from dotnet/msbuild#6233**
- Please respond to @nkolev92.

---

_From @nkolev92 on Thursday, March 11, 2021 6:42:59 PM_

Floating versions by design considers listed and unlisted versions.

[2021-06-09 15:33] rainersigwald commented on #10931
---
**Issue moved from dotnet/msbuild#6233**
- Please respond to @MarkKharitonov.

---

_From @MarkKharitonov on Thursday, March 11, 2021 6:49:11 PM_

Is it documented anywhere?

[2021-06-09 15:33] rainersigwald commented on #10931
---
**Issue moved from dotnet/msbuild#6233**
- Please respond to @nkolev92.

---

_From @nkolev92 on Thursday, March 11, 2021 7:10:19 PM_

Docs available here: https://docs.microsoft.com/en-us/nuget/nuget-org/policies/deleting-packages

I couldn't find the client side one, I created an issue for that to be added there as well, https://github.com/NuGet/docs.microsoft.com-nuget/issues/2349.

[2021-06-09 15:33] rainersigwald commented on #10931
---
**Issue moved from dotnet/msbuild#6233**
- Please respond to @MarkKharitonov.

---

_From @MarkKharitonov on Thursday, March 11, 2021 8:28:59 PM_

Now that I know it is by design I question - why do we need package delisting at all? Seems like actually deleting the package is the only way to affect the floating versions algorithm.

I think this design is flawed.

[2021-06-09 16:45] ps-weber commented on #10924
@kartheekp-ms Increasing the msbuild verbosity only prints the stacktrace, which I have posted above.

@nkolev92 I tried your version of `nuget.exe`, and the restore works fine. I can only reproduce the issue inside Visual Studio (Version 16.10.1).

Through some trial and error I was able to find the affected projects and create a sample project with the issue.
[vs-bug-repro.zip](https://github.co

[2021-06-09 18:01] jzabroski commented on #3891
Update: I took a look at Nugetizer yesterday and today to try to wrap my head around @kzu's proposal, since I had a real world project that could potentially use it.  Summary: I think it probably needs much better documentation, otherwise I don't see a lot of C# developers adopting it.  I sent David some feedback, and hopefully I can contribute some better docs to Nugetizer.  I do think there may

[2021-06-09 18:23] kzu commented on #3891
TBH, in the end, it's just plain MSBuild. Knowing MSBuild well is a 100% reusable ability, unlike mastering some custom format like .nuspec or whatever. In that regard, I'd say the effort to learn that part should be taken out of the equation of using NuGetizer (or any other MSBuild-based dev tooling for that matter).

My 2 cents. (before looking through the feedback)

[2021-06-09 18:40] nkolev92 opened #10932 "5.0.300 dotnet restore ignores proxy settings"
@jirikopecky commented on [Mon, 31 May 2021 14:34:05 GMT](https://github.com/dotnet/sdk/issues/17991)
Our build server is behind proxy and we use private NuGet feed. This feed have to be accessed directly, without the proxy. Feed DNS name is configured in `no_proxy` environment variable. `dotnet restore` fails with HTTP 504 Gateway Timeout.

Summaray:
- Environment: Docker (using `mcr.microsoft.co

[2021-06-09 18:40] nkolev92 commented on #10932
@dotnet-issue-labeler[bot] commented on [Mon, 31 May 2021 14:34:08 GMT](https://github.com/dotnet/sdk/issues/17991#issuecomment-851531179)
I couldn't figure out the best area label to add to this issue. If you have write-permissions please help me learn by adding exactly one area label.

[2021-06-09 18:40] nkolev92 commented on #10932
@tempel3 commented on [Tue, 01 Jun 2021 07:25:39 GMT](https://github.com/dotnet/sdk/issues/17991#issuecomment-851892321)
Hello,

i have a similar issue.

While trying to setup a proxy WITH Authentication for the docker build using the nuget.config and environmental variables. The settings are ignored or not handled correctly.

For more information regarding the test setup, please ask.

Best regard

[2021-06-09 18:40] nkolev92 commented on #10932
@protonyx commented on [Wed, 02 Jun 2021 21:07:22 GMT](https://github.com/dotnet/sdk/issues/17991#issuecomment-853383219)
I noticed this same issue with SDK v5.0.300. If I clear my proxy environment variables (`HTTP_PROXY`, `HTTPS_PROXY`, `NO_PROXY`), `dotnet restore` begins working (we also have a private feed on our intranet). It seems that the `NO_PROXY` environment variable is being ignored, e

[2021-06-09 18:40] nkolev92 commented on #10932
@michal-ciechan commented on [Wed, 09 Jun 2021 09:26:43 GMT](https://github.com/dotnet/sdk/issues/17991#issuecomment-857538659)
`5.0.301` still broken

[2021-06-09 18:40] nkolev92 commented on #10932
@sfoslund commented on [Wed, 09 Jun 2021 15:56:29 GMT](https://github.com/dotnet/sdk/issues/17991#issuecomment-857827017)
FYI @nkolev92

[2021-06-09 18:40] nkolev92 commented on #10932
@nkolev92 commented on [Wed, 09 Jun 2021 18:33:50 GMT](https://github.com/dotnet/sdk/issues/17991#issuecomment-857958916)
Dup in https://github.com/NuGet/Home/issues/10902.

cc @erdembayar who fixed it.

fyi @aortiz-msft, we might need to consider patching this.

[2021-06-09 18:40] nkolev92 commented on #10932
@nkolev92 commented on [Wed, 09 Jun 2021 18:38:49 GMT](https://github.com/dotnet/sdk/issues/17991#issuecomment-857964837)
For reference, the fix *is available* in the 5.0.400 dailies, https://github.com/dotnet/sdk/pull/18041.

[2021-06-09 18:44] erdembayar commented on #10902
Here is link for daily build if someone wants to download 5.0.400 daily build
https://github.com/dotnet/installer/blob/main/README.md#installers-and-binaries

[2021-06-09 19:00] terrajobst commented on #3891
I can relate to the frustration that MSBuild's syntax leaves a lot to be desired, but in my honest opinion I can't relate to the feeling that learning MSBuild is a complete waste of time. It's the native file format for virtually all of .NET. Sure, moving to an entirely different build system is possible but I'm not sure that makes your life easier as these file formats are already widely used and

[2021-06-09 19:15] jzabroski commented on #3891
I don't care to debate this further.  People want to click a button that says, Include Referenced Projects, and go drink a beer.  There should be no debate about that.

[2021-06-09 19:45] #10923 closed, assigned to zivkan

[2021-06-09 20:12] kzu commented on #3891
That would be `Pack=true` in nugetizer. Done 😉

[2021-06-09 20:13] kzu commented on #3891
I should extend the XAML rules stuff in VS to add that as a property in the VS properties browser for project references... 🤔

[2021-06-09 20:15] IanKemp commented on #3891
[Nate McMaster put working with MSBuild best:](https://natemcmaster.com/blog/2017/11/11/msbuild-task-with-dependencies/)

I've never understood why Microsoft felt the need to inflict Yet Another Proprietary DSL on developers, especially one that is both (a) so limited (b) so arcane. I was so disappointed when `project.json` was nuked in favour of keeping the csproj file format, and MSBuild by exte

[2021-06-09 20:15] jzabroski commented on #3891
I think I see your point.  [Did I just buy a timeshare?](https://www.youtube.com/watch?v=z3KpmWHfZ-4)

[2021-06-09 21:33] zivkan opened #10933 "Resolve all VS-Threading analyzer warnings"
Resolving some VS SDK package issues caused a bunch of new vs-threading analyzer warnings to pop up.  There are too many to tackle at the time the package was upgraded, and some of them are non-trivial to resolve, so I want to tackle them at a later time.

[2021-06-09 22:01] nkolev92 commented on #9813
Related to https://github.com/NuGet/Home/issues/9782.

The asks are very similar. The project system *wants* to know when assets file writes are happening.

[2021-06-10 02:38] nkolev92 commented on #10924
Thanks @ps-weber I can repro it.

Seems similar to https://github.com/NuGet/NuGet.Client/commit/b7f082f1fad987c12ff8b57c6e5bc4a8dad4fcdf#diff-98acbfe166ec87122befe9388b733db2fadf89dcb6051a61f09b7a4b3cd91f90.

[2021-06-10 09:49] v-luzh commented on #10896
The bug doesn't repro on Main\31409.290 since the VS Dark theme design changed back as below.
![image](https://user-images.githubusercontent.com/20632625/121503913-18d98f80-ca14-11eb-8b87-85b1e53bbedf.png)

[2021-06-10 15:16] #10553 closed, assigned to erdembayar

[2021-06-10 17:30] AnthonyLloyd opened #10934 "Nuget.org search results page and API stats are not updating for about 5 days."
This happened before and you reset something after I notified you on twitter. Tried this time but no reply.

[2021-06-10 18:43] aortiz-msft commented on #10884
Thank you for the feedback. We just want to make sure you are aware of dotnet nuget add as a natively supported cross-plat CLI.

[2021-06-10 18:47] #10875 closed, assigned to nobody

[2021-06-10 18:48] aortiz-msft commented on #10805
@v-luzh - does this work on NuGet 5.8 or earlier?

[2021-06-10 18:49] #10692 closed, assigned to nobody

[2021-06-10 20:03] rolfbjarne opened #10935 "Random error: Failed to resolve SDK 'package/version'. Package restore was successful but a package with the ID of "package" was not installed."
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): dotnet

Product version: 6.0.100-preview.6.21280.2

Worked before? Don't know, this logic that runs into this problem is fairly new for us.

## Repro steps and/or sample project

There are no repro steps, because it's random.

We see it somewhat frequently on CI, and trying again usually helps (but

[2021-06-10 20:04] dominoFire opened #10936 "Remove Obsolete public APIs"
In https://github.com/NuGet/NuGet.Client/pull/4020, we reviewed unused parameters in shipped public APIs.

The goal of this task is to remove public APIs marked as obsolete. The plan is to remove those APIs in the next minor release, saying, 6.1 or later.

[2021-06-11 08:03] paul-hammant commented on #10884
Thanks, I'll look into that.

My wider quest is for a workflow like Maven's -SNAPSHOT suffix for versions. You know, develop a lib on my dev workstation, and in a different clone/checkout try that just-built uncommitted unreleased DLL as a dep.

[2021-06-11 13:07] zivkan commented on #10884
@aortiz-msft `dotnet nuget add` is used to add package sources to config files, or https client certificate to config files. There is no direct equivalent to `nuget.exe add` (expand nupkgs to a local feed, in v3 folder layout).

push (`nuget.exe push`, or `dotnet nuget push`) can be used to add packages to a local feed. However, `nuget add` will always use the v3 folder layout, whereas push will [

[2021-06-11 17:47] heng-liu commented on #10624
Raised PR : https://github.com/dotnet/sdk/pull/18220

[2021-06-11 19:02] akoeplinger opened #10937 "Override asset selection in a package"
Continuation from the discussion in https://github.com/dotnet/designs/pull/222.

With the transition of Xamarin from Mono (== .NET Framework) to .NET Core based class libraries and TFMs we're hitting cases where a netcoreapp asset is selected instead of e.g. a netstandard one like before due to the new precedence rules.

This causes problems since some packages assumed that netcoreapp meant ".NET

[2021-06-11 19:09] zivkan commented on #10937
duplicate of https://github.com/NuGet/Home/issues/7416

I think it would be good to put your comments there to have the feature discussion in one place.

[2021-06-11 20:06] nkolev92 commented on #7931
NuGet.exe pack for project.json is something that never fully shipped. We have no means of knowing how commonly used it is, but we do have a warning for it's deprecation.

Removing this would clean-up a lot of the redundant restore APIs.

Work done in https://github.com/NuGet/NuGet.Client/compare/dev-nkolev92-removeProjectJsonPack?expand=1.

cc @zivkan

[2021-06-11 20:14] nkolev92 commented on #10752
https://github.com/NuGet/NuGet.Client/blob/7721feed7c830d5d11f6c43a2205888f36d7e4ab/src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/Projects/CpsPackageReferenceProject.cs#L45-L46 and https://github.com/NuGet/NuGet.Client/blob/7721feed7c830d5d11f6c43a2205888f36d7e4ab/src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/Projects/LegacyPackageReferenceProject.cs#L40-L41 might help.

[2021-06-11 21:07] zivkan opened #10938 "Re-enable InfiniteScrollListTests"
[InfiniteScrollList uses a Visual Studio control, LiveTextBlock](https://github.com/NuGet/NuGet.Client/blob/7721feed7c830d5d11f6c43a2205888f36d7e4ab/src/NuGet.Clients/NuGet.PackageManagement.UI/Xamls/InfiniteScrollList.xaml#L320).  Therefore, in order to be able to create an instance of the class, it needs to be possible to load all the assemblies related to LiveTextBlock.

While our unit tests ru

[2021-06-11 21:14] nkolev92 opened #10939 "Remove unnecessary CA1812 suppressions"

[2021-06-11 21:19] nkolev92 opened #10940 "Remove obsolete core APIs"
This task is meant to do a pass to remove obsolete APIs that are arguably *not* debatable.

[2021-06-11 21:57] dominoFire commented on #10751
Note: Figure out how to get a list of transitive dependencies for a given project.

[2021-06-11 21:57] erdembayar opened #10941 "Validate Package namespaces for invalid values"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe):

Product version: N/A

Worked before? If so, with which NuGet version:

## Repro steps and/or sample project

Follow up on Karteek's [comment](https://github.com/NuGet/NuGet.Client/pull/4039/files#r650161734).

`If user defines an invalid namespace such as NuGet.*Common then as per the above logic,

[2021-06-11 22:12] nkolev92 commented on #10941
Dup of https://github.com/NuGet/Home/issues/10783

[2021-06-11 22:12] #10941 closed, assigned to nobody

[2021-06-11 22:21] #10919 closed, assigned to jebriede

[2021-06-11 22:36] #10920 closed, assigned to jebriede

[2021-06-11 23:07] #10708 closed, assigned to erdembayar

[2021-06-11 23:44] #10925 closed, assigned to nkolev92

[2021-06-12 01:29] nkolev92 commented on #2345
New branch available: https://github.com/NuGet/NuGet.Client/compare/dev-fixSubmodules?expand=1

[2021-06-13 14:36] taoyouh opened #10942 "Updated local package is not consumed"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): dotnet.exe

Product version: 5.0.202

Worked before? If so, with which NuGet version: no

## Repro steps and/or sample project

1. A .NET Standard project generates a nuget package A. It packs some runtime assets like this:
[code]

2. A .NET 5 project B consumes that nuget package A using a local s

[2021-06-13 16:25] FiniteReality commented on #10571
Another issue I've discovered recently is that GeneratePathProperty for a package which uses a runtime.json isn't correctly updated to point to the path of the package specified in the runtime.json - this makes using artefacts in packages like https://www.nuget.org/packages/Microsoft.NETCore.DotNetAppHost when hosting .NET Core a lot harder.

[2021-06-13 23:38] xperiandri opened #10943 "Is it possible to create build/tool only package without NuSpec file creation right from csproj/fsproj"
NuGet product used (MSBuild.exe | dotnet.exe msbuild):
Product version: 16

I need to create a build package. It is an F# source code geenrator.
So we successfully created MSBuild task that works both for MSBuild and MSBuild Core.
Now I want it to be packaged into a NuGet package.
But can I produce the empty `lib` folder in NuGet package via `pack` command without `NuSpec` file from `fsproj` file

[2021-06-14 14:48] ViktorHofer commented on #10368
This is still causing unreasonable pain. @nkolev92 @rrelyea have you had a chance to take a look?

[2021-06-14 15:26] erdembayar commented on #10368
@ViktorHofer
We already have fix for this. https://github.com/NuGet/NuGet.Client/pull/3789
But this is hot code path so need perf analysis testing to make sure new change is doesn't add weight. Due other urgent priorities I didn't finish that part. I'll try to finish in next 2-3 week, sorry for delay.

[2021-06-14 15:33] dagood commented on #10368
I don't understand how that applies to the current issue. @erdembayar, can you give some more details?

What will the behavior be with Viktor's repro project, or my repro project?

The PR description mentions this currently:

This makes me concerned, because as a user, "Project over package" seems unrelated to this issue and would make the situation even worse than it is now. (See my comments abov

[2021-06-14 15:40] dagood commented on #10368
Oh, that PR is the same one that this issue was mistakenly closed as a duplicate of once before. https://github.com/NuGet/Home/issues/10368#issuecomment-741237658

It seems to me like the actual status is that there has been no progress towards solving this issue, and there has been progress towards a fix for a different issue that will make this issue worse. (Significantly harder to detect/diagno

[2021-06-14 15:55] ViktorHofer commented on #10368
I agree with Davis and his [comment above](https://github.com/NuGet/Home/issues/10368#issuecomment-774184099) which is a perfect summary of how I would expect NuGet to behave in a situation where a ProjectReference and a PackageReference to the same identity is present but both references being conditioned on a different TFM (inner build).

[2021-06-14 16:22] campersau commented on #10791
Maybe this is check `!PackageTypes.Contains(PackageType.SymbolsPackage)` which is already in [`ValidateLicenseFile`](
https://github.com/NuGet/NuGet.Client/blob/2136302f54479707befc9fac65af19e1772c7827/src/NuGet.Core/NuGet.Packaging/PackageCreation/Authoring/PackageBuilder.cs#L709)
and [`ValidateIconFile`](https://github.com/NuGet/NuGet.Client/blob/2136302f54479707befc9fac65af19e1772c7827/src/NuGe

[2021-06-14 16:36] erdembayar commented on #10368
@ViktorHofer
Sorry, it was different issue. As you can see you already upvoted this issue.

[2021-06-14 16:50] jzabroski commented on #3308
@rohit21agrawal This seems to describe a problem I'm running into where I have a `<Project Sdk="Microsoft.Build.NoTargets/3.0.4">` where the only MSBuild-visible contents are a `.nuspec` file.  The issue is I am manually packing stuff myself via a `.nuspec` file and copying stuff to `$(OutDir)`.

Is there anyway to "ghost-pack" some sentinel file so that MSBuild thinks its packing something that d

[2021-06-14 17:46] #10515 closed, assigned to jebriede

[2021-06-14 18:04] nkolev92 commented on #9217
@dominoFire
What's the customer impact of this issue?

[2021-06-14 18:08] avivanoff opened #13569 "The documentation for NU1105 is not up-to-date"
Documentation for NU1105 should be expanded to include the case of the referenced project not being the part of the current solution. This is the error I am getting for this scenario:

`error NU1105: Unable to find project information for 'xxx.csproj'. If you are using Visual Studio, this may be because the project is unloaded or not part of the current solution so run a restore from the command-l

[2021-06-14 19:37] #10939 closed, assigned to nkolev92

[2021-06-14 20:17] nkolev92 commented on #2345
cc @zivkan @kartheekp-ms

This is something we might want to consider in NuGet 6.0/.NET 6.0.

There's an SDK, performance and compliance aspect here as well.

[2021-06-14 20:23] nkolev92 commented on #7931
Triage: Hide behind env var in 6.0.

[2021-06-14 20:33] nkolev92 commented on #10932
Triage: Fix available in 5.0.400, at this point no plans to service down level.

[2021-06-14 20:33] #10932 closed, assigned to nobody

[2021-06-14 20:34] nkolev92 commented on #10936
Triage: @zivkan Please sync with @dominoFire for a plan of action here.

@dominoFire Keep in mind we'd only want to remove public APis in major releases.

[2021-06-14 20:43] jzabroski commented on #4289
To further improve search results, on .NET 5.0 SDK, the error message is

NuGet.Build.Tasks.Pack.targets(221,5): error : The process cannot access the file ... because it is being used by another process

[2021-06-14 20:50] forderud commented on #10902
Just stumbled across this regression after upgrading to VS2019 16.10.1 that ships with NuGet 5.10.0.  This issue is likely breaking workflows for company-internal NuGet servers behind corporate proxy servers. That's at least the case for me.

While waiting for a VS2019 update with a fix, would it be possible to ensure that the issue gets mentioned in the release notes for NuGet 5.10.0?

[2021-06-14 21:28] JonDouglas commented on #6279
Hi all,

Please continue to use the 👍 reaction on the first comment so we can get an accurate understanding of the needs for this issue. In addition, if anyone has major thoughts as to a reproduction or design for this issue, please feel free to comment here or consider writing up a [proposal for our team to review](https://github.com/NuGet/Home/tree/dev/meta#how-do-i-create-a-proposal).

I'll tak

[2021-06-15 07:18] v-luzh commented on #10896
Repro again on Main\31414.215.

[2021-06-15 09:09] wech71 commented on #3324
If it is not possible to fix it, at least a better suited message instead of just "Could not find a part of the path ..." should be provided when the path is too long. It took me several hours purging my package caches and retrying and switching package versions around until I realized that the path of one component is beyond the 260 character path limit ...

This happend to me with package "Micro

[2021-06-15 12:36] DhanvannthVP commented on #9859
symbols.nupkg has src folder. After making it as false, got only one nupkg without src folder

[2021-06-15 12:36] #9859 closed, assigned to nobody

[2021-06-15 15:33] MrChriZ commented on #6408
Same here EF 6.2 with VS16.10 Add-migration and update-database.
Based in the UK in case it matters!

[2021-06-15 17:13] JonDouglas commented on #10712
Closing this issue as we believe the mitigation has propagated through the ecosystem and no major influx of reports have occurred since recent OS releases in the spring/summer.

[2021-06-15 17:13] #10712 closed, assigned to JonDouglas

[2021-06-15 17:57] nkolev92 opened #10946 "NuGet VSIX is generated with incorrect binding redirects"
Related to https://github.com/NuGet/Client.Engineering/issues/1004.

The VSSDK has a bug where the binding redirects are generated without an upper bound, https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1342681.

That means instead of forwarding

0.0.0.0-6.0.0.100 to 6.0.0.100 it's forwarding only 0.0.0.0.

[2021-06-15 19:21] dominoFire commented on #9217
No direct UI impact. Impact was on narrator when using PM UI with local sources. It only read 'Loading' when using a local NuGet source.

I tested with latest Dev17 and the issues no longer appears in Windows Narrator.

This should be fixed with this method.

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/PackageFeeds/LoadingStatusExtensionMet

[2021-06-15 19:21] #9217 closed, assigned to nobody

[2021-06-15 20:27] nkolev92 opened #10947 "NuGet Package Manager UI delays when running init scripts"
[Responsiveness] Package Manager Console interrupting keyboard input searching for packages

https://devdiv.visualstudio.com/DevDiv/_workitems/edit/792383

[2021-06-15 20:28] nkolev92 commented on #10947
Fixed by https://github.com/NuGet/NuGet.Client/pull/4089

[2021-06-15 20:28] #10947 closed, assigned to nkolev92

[2021-06-15 20:56] #10946 closed, assigned to nkolev92

[2021-06-16 01:32] erdembayar opened #10948 "Support sourceUri passed on nuget restore/install and dotnet restore package or other equivalent commands"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe):

Product version:  N/A

Worked before? If so, with which NuGet version:

## Repro steps and/or sample project

Address Karteek's [comment](https://github.com/NuGet/NuGet.Client/pull/4039/files#r651304501) about there are chances that users might pass -source option to the restore command.
To suppor

[2021-06-16 01:48] nkolev92 commented on #10906
Hey @melanchall

There are 2 concepts for content distribution in NuGet.

One is of the mutable type, `content` folder, the other one is of the immutable type, `contentFiles`.

* The `content` folder is supported in packages.config.
* The `contentFiles` folder is supported in PackageReference.

Please refer to https://docs.microsoft.com/en-us/nuget/reference/nuspec#including-content-files and http

[2021-06-16 01:48] #10906 closed, assigned to nobody

[2021-06-16 01:49] nkolev92 commented on #10912
Hey @Vfangma,

Seems like you are dealing with a more generic VS issue.

Can you please file at https://developercommunity2.visualstudio.com/home, as we cannot really move this issue there from GitHub.

[2021-06-16 01:49] #10912 closed, assigned to nobody

[2021-06-16 01:58] nkolev92 commented on #10915
Hey @nehio,

Unfortunately I'm not sure I have enough context to offer any advice here.

I don't see anything of note that could cause this failure that changed between 4.7 and 4.8 of https://www.fuget.org/packages/NuGet.Protocol/4.8.0/lib/netstandard1.6/diff/4.7.3/.

Are you loading the assemblies directly yourself?
I'd recommend enabling fuslogvw and inspecting the logs.

[2021-06-16 01:59] #10915 closed, assigned to nobody

[2021-06-16 02:05] nkolev92 commented on #10929
Hey @cmenzi

There's no way to pivot dependencies in NuGet based on a .NET SDK version, as these concepts pre-date the notion of SDKs.

Unfortunately I'm not sure I have too many recommendations myself beyond potentially authoring 2 packages which is not ideal.

The nuspec's minClientVersion provides a way to limit which NuGet tooling versions can install a package, but this won't work with other

[2021-06-16 02:06] #10929 closed, assigned to nobody

[2021-06-16 02:06] nkolev92 commented on #10937
Closing as dup of https://github.com/NuGet/Home/issues/7416

[2021-06-16 02:06] #10937 closed, assigned to nobody

[2021-06-16 02:08] nkolev92 commented on #10942
Dup of https://github.com/NuGet/Home/issues/6579.

Please refer to https://docs.microsoft.com/en-us/nuget/concepts/package-installation-process for the current behavior.

[2021-06-16 02:08] #10942 closed, assigned to nobody

[2021-06-16 02:09] nkolev92 commented on #10943
Dup of https://github.com/NuGet/Home/issues/4254.

The NuGet pack SDK is tied to MSBuild, there's no way to invoke it without an MSBuild file.

[2021-06-16 02:09] #10943 closed, assigned to nobody

[2021-06-16 02:12] nkolev92 commented on #10931
Hey @MarkKharitonov,

As mentioned before, this was a conscious made by the NuGet team for floating versions. The concept of listed/unlisted packages is a discoverability concern.

[2021-06-16 02:13] aortiz-msft commented on #10767
Hi @drewgillies - The issue still reproduces after the fix. Would you please take a look?

[2021-06-16 02:17] nkolev92 commented on #6992
Not sure when this got fixed, but it's not a problem in the latest NuGet.

Closing now.

[code]

[2021-06-16 02:17] #6992 closed, assigned to nobody

[2021-06-16 02:24] nkolev92 commented on #10935
Hey @rolfbjarne

We have had issues like this in the past, https://github.com/NuGet/Home/issues/7817, but it seems like they were supposed to fixed.

cc @jeffkl

[2021-06-16 02:53] MarkKharitonov commented on #10931
Using a floating version with the RestoreForce flag requires you to first discover the packages matching the criteria. Why you do not consider this action as the discovery phase?
I am sorry, but I just do not understand how `nuget restore` and `msbuild restore` returning different versions on the same floating version makes sense to you guys.

[2021-06-16 12:54] zivkan commented on #10915
This is happening because of the Azure Functions SDK. See also:
https://github.com/NuGet/Home/issues/10118
https://github.com/Azure/azure-functions-host/issues/6650
https://github.com/Azure/azure-functions-host/issues/5894

[2021-06-16 13:10] zivkan commented on #6408
When running EF6 commands, did they report any errors or were they successful?

Looking at EF6's powershell code, they're using .NET's reflection to call into NuGet's internal APIs, which might messing with intended behaviour: https://github.com/dotnet/ef6/blob/9e53a82f201b4f59b2ba655a07fa8d757529a529/src/EntityFramework.NuGet/tools/EntityFramework6.psm1#L788-L806

[2021-06-16 16:41] jeffkl commented on #10935
@nkolev92 the output is very different in the success case versus the failure case.

# Failure
![image](https://user-images.githubusercontent.com/17556515/122259076-fcfc4080-ce8e-11eb-865b-8f2e48a4716e.png)

# Success
![image](https://user-images.githubusercontent.com/17556515/122259168-17ceb500-ce8f-11eb-9df1-756e3c571880.png)

It does look like the restores are all happening at the same time and

[2021-06-16 17:09] rolfbjarne commented on #10935
@jeffkl

We have some make logic here that executes 'dotnet pack' in parallel: https://github.com/xamarin/xamarin-macios/blob/0029ffa29d8396c35175befa8e414675b41774c9/dotnet/Makefile#L150.

This is executed once for every `package.csproj` in every subdirectory here: https://github.com/xamarin/xamarin-macios/tree/0029ffa29d8396c35175befa8e414675b41774c9/dotnet/package.

The reference that causes pr

[2021-06-16 17:19] nkolev92 commented on #10931
`nuget restore` and `msbuild restore` do not have a different behavior. They are running the exact same code.

[2021-06-16 18:16] madelson opened #10949 "Possible violation of "nearest wins" rule?"
## Details about Problem

NuGet product used: NuGet CLI, VS

Product version: NuGet 5.9.1.1, VS 2019 16.9.4

## Repro steps and/or sample project

https://docs.microsoft.com/en-us/nuget/concepts/dependency-resolution says that:

However, I have a solution where this rule does not seem to be being followed. I have a project with 2 dependencies:
* InternalPackage 1.0 (depends on dbup-core >= 4.1.0,

[2021-06-16 18:36] MarkKharitonov commented on #10931
Sorry, `nuget list` - the discovery command. What I should have written is that I do not understand how the discovery performed by `nuget list` should be different from that by `msbuild restore` when we are talking about a floating version.

[2021-06-16 21:21] nkolev92 commented on #10949
Hey @madelson

The documentation is misleading. We have a similar complaint here, https://github.com/NuGet/docs.microsoft.com-nuget/issues/2434, that includes some more details.

Nearest wins is written in a way that it honors a user's intention, so you'd only get a downgrade if someone explicitly downgrade  in a particular subgraph.

In this case, the 4.50 selection is what I would expect.

[2021-06-16 21:21] #10949 closed, assigned to nobody

[2021-06-16 22:37] #10918 closed, assigned to jebriede

[2021-06-16 22:45] nkolev92 opened #10950 "Increase idle timeout for 16.11 solution load"
As part of the solution load and branch swithing investigations, we're learning that the timeout of 10s is too short.

There are plans to change up the behavior in 17.0, but the proposal is to increase it to a reasonable number in 16.11 to avoid unnecessary and incorrect work on slower machines.

Related https://github.com/NuGet/Home/pull/10874, https://github.com/NuGet/Home/issues/10678.

[2021-06-17 10:08] v-luzh commented on #10805
@aortiz-msft it repro on VS D16.8\30420.98 with implicit NuGet 5.8.0.6776 as below screenshot, but the difference is it didn't show error NU1701.
![image](https://user-images.githubusercontent.com/20632625/122376712-fd7ffe80-cf96-11eb-938c-5065eed3466a.png)

[2021-06-17 10:37] madelson commented on #10949
@nkolev92 very interesting. Is it true that:

The documentation has an example under the nearest wins section that would suggest otherwise ("because Package C 2.0 is used, NuGet ignores any branches in the graph that refer to an older version of Package C").

[2021-06-17 13:39] kevinchalet commented on #6279
Waiting for .NET 7 would be terrible, IMO, given how many projects are going to be impacted (multi-targeting is a frequent scenario and analyzers are now included in many popular packages, including the .NET Platform logging extensions).

[2021-06-17 16:54] zkat commented on #10928
We don't need to do anything here :)

[2021-06-17 16:54] #10928 closed, assigned to zkat

[2021-06-17 17:23] heng-liu commented on #10624
Closed as the PR is merged.

[2021-06-17 17:23] #10624 closed, assigned to heng-liu

[2021-06-17 18:05] kzu opened #10952 "Package readme display forces new line between images/badges"
See the readme-provided badges on this package: https://www.nuget.org/packages/Devlooped.TableStorage/2.0.1.

![image](https://user-images.githubusercontent.com/169707/122449855-b8e76980-cf7c-11eb-9647-cd247082cbf3.png)

The source readme is https://github.com/devlooped/TableStorage/blob/v2.0.1/readme.md.

Notice how github.com does not add newlines even if the badges *are* defined in the readme s

[2021-06-17 18:50] vsfeedback opened #10953 "Can not load license file of nuget packages in Manage Package for Solution"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Can-not-load-license-file-of-nuget-packa/1451473)._

---
When we have 2 nuget packages with same id, different versions.
They had nuspec like this:
<package xmlns="http://schemas.microsoft.com/packaging/2013/05/nuspec.xsd">

<requireLicenseAcceptance>true</requireLicenseAcceptance>
    *

[2021-06-17 18:51] nkolev92 commented on #10953
I can repro this with the 2 packages the customer mentioned in a local source.

[2021-06-17 18:59] fackass commented on #6408
All commands are successfully executed, but the window is still changed to Error List
It also happens when publishing (instead of Output, it goes to Error List)

[2021-06-17 20:29] zivkan commented on #10864
I don't think we can accept a submission that simply changes the `G` to a `B`. The current code uses Standard International prefixes, and if we deviate from this, we probably need to localize to all of Visual Studio's supported languages.

Therefore, if we change it, we should introduce a new string resource for each suffix, handle the fact that not all languages will use single character abbrevia

[2021-06-17 21:08] Hejle opened #10954 "Unable to restore packages targetting net5.0 using dotnet"
## Details about Problem

I am unable to restore dependencies like "Microsoft.NET.Test.Sdk", "MSTest.TestAdapter", "MSTest.TestFramework", "coverlet.collector", "NUnit", "NUnit3TestAdapter", "Newtonsoft.Json". I have tried to use dotnet version 5.0.202 and 5.0.301, as well as testing on two different PC's.

It seems like I am unable to restore any dependency targeting net5.0.

I am using a mix of

[2021-06-17 21:56] aloisdg commented on #10864
As a European (and, caveat, the dude who brings the SI to [Humanizer](https://github.com/Humanizr/Humanizer/blob/7e20c402fa9f1e1bee889bec2f34703743f603c9/src/Humanizer/MetricNumeralExtensions.cs)) please keep it as it. It is clearer for the non imperial world. Use the standard :)

[2021-06-17 22:14] erdembayar commented on #10783
- wildcard at the beginning
- wildcard in the middle
- only a wild card
- multiple wildcards

[2021-06-18 08:54] melanchall commented on #10906
@nkolev92

This statement implies (in my opinion) that in .NET Core/.NET apps everything should work (since there is no packages.config there). Well, I've checked with both .NET Core 3.1 and .NET 5 and see the same situation except slightly different text of the exception:

![image](https://user-images.githubusercontent.com/26361185/122534351-1a661180-d02b-11eb-9566-3aac5eb13d22.png)

nupkg I used

[2021-06-18 09:29] v-luzh opened #10955 "[Pack] Error “MSB1001: Unknown switch” occurs when running command “dotnet pack --runtime win10-x64” following the example on the “dotnet pack” page"
## Details about Problem
VS Version: Main\31417.287
NuGet Version: Dev\6.0.0.123
OS Version: Windows-10-Enterprise-21H1
Dotnet SDK: 6.0.100-preview.5.21302.13
## Repro steps
1.	Launch VS and create a new C# Class Library (.NET 6.0).
2.	Open the Developer Command Prompt and cd to the project path.
3.	Run “dotnet pack --runtime win10-x64” following the example on the [dotnet pack](https://docs.micro

[2021-06-18 18:36] nkolev92 commented on #10954
Hey @Hejle

I attempted a repro, and it seems to work on my end.
Can you please zip up the project created with all the intermediates and attach it here?
Thanks!

[2021-06-18 18:43] #10955 closed, assigned to nobody

[2021-06-18 18:43] Hejle commented on #10954
Of course! Here it is :)

I have tried on a third computer, where it worked. I think the difference is whether I have Visual Studio installed or not, though I am obviously not sure. :)

[mytest.zip](https://github.com/NuGet/Home/files/6678773/mytest.zip)

[2021-06-18 18:51] nkolev92 commented on #10954
Hmm..seems like there's no sources whatsoever.

And you mentioned a restore doesn't succeed either?

Can you take a look at your config in `%AppData%\NuGet\NuGet.Config` and see if it has anything in it?

[2021-06-18 18:55] Hejle commented on #10954
This is the content of my NuGet.config file and the config file is the only thing in my nuget folder.
[code]

[2021-06-18 19:01] nkolev92 commented on #10954
@Hejle

Do you use chocolatey on those machines?

[2021-06-18 19:03] Hejle commented on #10954
Yes, I do

[2021-06-18 19:05] Hejle commented on #10954
And it seems like deleting the Nuget.Config and rerunning dotnet restore fixes the problem as a new config-file is generated with the following content.
[code]

[2021-06-18 19:16] Hejle commented on #10954
It looks like the issue has been fixed here: https://github.com/chocolatey/nuget-chocolatey/issues/23.

Thanks for the help!

[2021-06-18 19:16] #10954 closed, assigned to nobody

[2021-06-18 19:17] nkolev92 commented on #10954
Ah, seems like you're hitting a chocolatey issue where an empty config file is created: https://github.com/chocolatey/choco/issues/2233., https://github.com/chocolatey/nuget-chocolatey/issues/23.

[2021-06-18 19:17] nkolev92 commented on #10954
Ah, you beat me to it :D Glad we figured it out @Hejle

[2021-06-18 19:18] Hejle commented on #10954
Yep, just barely :D
Again, thanks for the help @nkolev92

[2021-06-19 00:13] #10940 closed, assigned to nkolev92

[2021-06-19 02:41] #10737 closed, assigned to erdembayar

[2021-06-19 14:14] zivkan commented on #10906
Please see our [docs on `contentFiles`](https://docs.microsoft.com/en-us/nuget/reference/nuspec#package-folder-structure). It supports adding different content depending on project's target framework and language, and therefore needs files in a specific structure which your package is not currently using.

[2021-06-19 14:31] melanchall commented on #10906
@zivkan Thanks, now it works!

[2021-06-19 17:08] bruno-garcia commented on #6279
If this is a blocker for: https://github.com/dotnet/sdk/issues/18148 I'm really afraid of this not landing on .NET 6.
Particularly when on .NET 6 some packages are dropping older targets like netstandard2.0 and net461. this impacts library authors like me in this situation: https://github.com/dotnet/runtime/issues/53454

[2021-06-19 19:31] loic-sharma opened #10956 "Add dotnet template to create a package that follows best practices"
When creating a NuGet package there are several steps you need to do to follow best practices: https://docs.microsoft.com/en-us/nuget/create-packages/package-authoring-best-practices

While this doc contains all the information you need, some folks may prefer to use a .NET template to bootstrap their project:

[code]

We could add options too:

[code]

The generated project would guide users to fo

[2021-06-19 19:34] bruno-garcia commented on #10956
An example README (referred to by the csproj) would be nice too

[2021-06-20 19:57] danieldsmith commented on #446
Just to add another real world scenario to advocate for this change:

I have a .NET Framework WinForms control library with where the design time features are split into separate .design.dll libraries.  The control libraries are automatically added as references and copied to the output folder, but the design ones need to have Copy Local set to false as they shouldn't be deployed with the actual a

[2021-06-21 19:15] davisnw commented on #10924
Started getting this error after updating to Visual Studio `16.10.2`.

Fails from within Visual Studio, succeeds from msbuild.

I haven't yet been able to isolate a minimal repo, but I had a co-worker run the same steps from `16.9.0` and he did not see the error.  This is a solution that has both `packages.config` and `<PackageReference>` projects - but even just building one of the `<PackageRefer

[2021-06-21 20:28] nkolev92 commented on #10805
Closing as dup of #2245

[2021-06-21 20:28] #10805 closed, assigned to nobody

[2021-06-21 20:31] nkolev92 commented on #10930
Hey @alexrp

At this point, we'd want to be as clear as possible that this is a feature in development.
We don't want to offer a suppress option at this point.

Thanks for trying out CPVM!

[2021-06-21 20:31] #10930 closed, assigned to nobody

[2021-06-21 20:36] nkolev92 commented on #10950
Triage: Is there a way to measure these improvements.

Solution load concepts is undergoing a re-design 17.0, so we're choosing to devote resources to that instead.

[2021-06-21 20:36] #10950 closed, assigned to nkolev92

[2021-06-21 20:39] nkolev92 commented on #10953
Triage: Can you please take a look at this for 16.11?

[2021-06-21 21:30] zivkan opened #10957 "Merge NuGet.SolutionRestoreManager.Interop into NuGet.VisualStudio"
Visual Studio 2022 (dev17)'s SDK has stopped using `EmbedInteropTypes`. [NuGet also made the same change](https://github.com/NuGet/NuGet.Client/pull/4072) in NuGet 6.0 (which targets dev17).

All the APIs in NuGet.SolutionRestoreManager.Interop will also be moved into the NuGet.VisualStudio package, and the namespace for all the APIs will be moved from `NuGet.SolutionRestoreManager` to `NuGet.Visu

[2021-06-22 01:27] nkolev92 commented on #10924
Thank you all for filing these issues!

Thanks to all your detailed feedback, I was able to easily diagnose the issue and I am working on a fix in https://github.com/NuGet/NuGet.Client/tree/dev-nkolev92-fixPRtoPClockFile.

[2021-06-22 01:32] nkolev92 opened #10958 "When a PackageReference project references a packages.config project, restore no-op fails across VS & commandline"
Discovered while investigating https://github.com/NuGet/Home/issues/10924.

Repro step:

1. Create a PR project.
2. Create a PC project.
3. Add a project reference from PR project to PC project.
4. Restore in VS and then commandline.
5. Observe restore has not no-oped.

[2021-06-22 01:33] nkolev92 commented on #10958
This bug is really a consequence of https://github.com/NuGet/Home/issues/9802, so if https://github.com/NuGet/Home/issues/9802 was to be fixed, this issue would become irrelevant.

[2021-06-22 01:42] Luiz-Monad commented on #7316
Is there a way to force include `/runtimes/{rid}/lib/{tfm}/` for nuget packages like `Microsoft.PowerShell.Commands.Management` that doesn't properly include metadata in the `ref` for all available commands, like `StartProcessCommand` ?
Is the only option for me opening an issue or just publishing my own copy to nuget with the correct `nuspec` ?

[2021-06-22 08:29] asklar opened #10959 "NuGet pack task intermittently succeeds, but no output is generated"
I'm seeing some cases where we call the nuget ADO task to pack some stuff, it succeeds, but it doesn't do anything. Then the next step in my pipeline which needs to use the nupkg, fails because it can't find it

Any idea what might be happening? there are no logs collected even though verbosityPack=detailed

![image](https://user-images.githubusercontent.com/22989529/122891275-3f8fa400-d2f9-11eb-8

[2021-06-22 09:38] v-luzh opened #10960 "[Bug Bash] Installing package which has no dependencies into iOS (Xamarin) project will trigger confused warnings"
## Details about Problem
VS Version: Main\31421.281
NuGet Version: Dev\6.0.0.124
OS Version: Windows-10-Enterprise-21H1

## Repro steps
1. Launch VS and click “Create a new project” button in the G2C dialog.
2. Search for iOS (Xamarin) template and create a project (e.g. iPad Blank).
3. Open the PM UI of the project and install package “CrossBase.CodeGeneration” (which has no dependencies).
4. Bui

[2021-06-22 16:11] zivkan commented on #10959
The NuGet team doesn't maintain the Azure Pipelines NuGet task. If you can determine the command line that was used, and we can validate it was indeed a NuGet client tool that didn't generate the output (rather than the task itself), then we can investigate.

I see you've already created an issue in https://github.com/microsoft/azure-pipelines-tasks/issues/14988

[2021-06-22 16:11] #10959 closed, assigned to nobody

[2021-06-22 17:49] Luiz-Monad commented on #6864
I have a similar problem, but my "binaries" are not native, they are indeed managed, but they come from the same `/runtime/{rid}/lib` folder.
Is there a way to force include `/runtimes/{rid}/lib/{tfm}/` for nuget packages like `Microsoft.PowerShell.Commands.Management` that doesn't properly include metadata in the ref for all available commands, like `StartProcessCommand` ?
Is the only option for

[2021-06-22 22:28] drdamour commented on #7092
one of the nice things about snapshots is that if i maven publish a project with snapshot it gets pushed to my local maven repo, and then when i refresh dependencies over in another project it'll see that local snapshot and pull it in fairly quickly.  This makes REPL on a dependency very easy...i'm wondering what the equivalent flow is for NuGet

[2021-06-22 23:03] nkolev92 commented on #10737
@erdembayar
I've just added back the total estimate of the effort to better track our progress :)

[2021-06-22 23:17] nkolev92 opened #10961 "Namespaces filtering support for the nuget.exe install command"
Part of https://github.com/nuget/home/issues/10728, related to https://github.com/nuget/home/issues/10738.

NuGet.exe install can add on a packages.config, similar to restore, or add additional packages to a packages.config.

This task is to ensure that in both those scenarios, namespaces filtering is respected.

[2021-06-22 23:18] nkolev92 opened #10962 "Add namespaces filtering support for packages.config restore in Visual Studio"

[2021-06-22 23:24] nkolev92 commented on #10960
Hey @v-luzh

There's nothing out of the ordinary here.

The warnings are coming because the package itself is referencing, but those are not framework assemblies.

[code]

[2021-06-22 23:24] #10960 closed, assigned to nobody

[2021-06-22 23:26] nkolev92 commented on #10962
Adding an apprx estimate of the amount of work that went/might go into this.

[2021-06-22 23:33] nkolev92 commented on #10730
Removing my assignment.

@JonDouglas has made good progress here and vetted initial designs.

[2021-06-22 23:44] nkolev92 commented on #10783
I think there's some *design* work leftover here.

We need to very explicit about the tooling behavior when an invalid namespace syntax has been added.

[2021-06-23 00:09] nkolev92 commented on #10962
Dup of https://github.com/NuGet/Home/issues/10823

[2021-06-23 00:09] #10962 closed, assigned to erdembayar

[2021-06-23 00:10] nkolev92 commented on #10962
Marking as duplicate and changing the estimate to 0.

[2021-06-23 00:19] nkolev92 commented on #10732
Updating the estimate per a discussion with @kartheekp-ms

[2021-06-23 02:43] clairernovotny opened #10963 "Auth issue / throttling on search?"
I see a couple of exceptions in telemetry with the following data. A copy/paste of the URL loads for me; not sure if there might be some other throttle/thing that would be returning a 307?

**Operation Name:** <undefined>

**Timestamp:** 2021-06-22T15:24:07.5360000Z

**Problem Id:** System.Net.Http.HttpRequestException

**Assembly:** NuGet.Protocol, Version=6.0.0.117, Culture=neutral, PublicKeyTok

[2021-06-23 07:42] akhromushkin commented on #5127
Seems like this issue still persists when a package contains references to another package and NuGet cache is cleared:

## Steps to reproduce
Create a folder named 'Domain'
Create a folder named 'App'

Inside of Domain, run these commands:

[code]

Then clear the cache:

`dotnet nuget locals all -c`

Inside of App, run these commands:

[code]

## Expected behavior
Reference added in the project

#

[2021-06-23 14:25] zivkan commented on #10679
I don't know the underlying cause of the concurrency issue, but our tests in `NuGet.Common.Tests` will check it, if you comment out all usage of `PerFileLock`. For slightly more details, see https://github.com/NuGet/NuGet.Client/pull/4123#pullrequestreview-690721707

[2021-06-23 16:25] zivkan commented on #10956
The NuGet team doesn't "own" the dotnet CLI's templates, even the nugetconfig template [appears to have been added without discussion/notification to us](https://github.com/dotnet/templating/commit/9f65552dea065bf486da38ec569d19e5cdc9ce33#diff-6bd932836569360572b641db949c136fa5be5afa712cccd2e5d71a7838d14130).  So, I propose that this issue belongs in dotnet/templating, where those templates live.

[2021-06-23 16:36] chgill-MSFT opened #10964 "Show option to open README locally when a link to view package README on nuget.org isn't available for installed packages"
## The Problem

Currently, Visual Studio will only surface a link to "View Readme" if the package has a README available on NuGet.org. If the package does not exist on nuget.org or the nuget.org feed is disabled, there is no easy way to access the package README.

It makes sense that it might be difficult to open the README locally if the package isn't installed yet, because you would have to inst

[2021-06-23 16:39] chgill-MSFT commented on #10964
Hey @zkat @nkolev92, I'd love to get some of your feedback on this 😊 What do you think of the idea and how difficult might this be to pull off?

CC @jebriede

[2021-06-23 16:51] zkat commented on #10964
I'm not sure this is what we want to do either, but personally, I would prefer the package be downloaded if it's not already downloaded. It seems to be like it might be very confusing to sometimes get the README link, and sometimes not. The global packages folder isn't exactly something customers have deep insight on themselves.

[2021-06-23 17:07] #10957 closed, assigned to zivkan

[2021-06-23 17:55] nkolev92 commented on #10964
I think there are 2 scenarios which we might want to consider separately.

1. *When browsing a local feed, is the readme information visible?* - This scenario is equivalent to the work that was done for embedded licenses, surfacing the license on demand, and the work done to display the embedded icons.
Adding a way to view the readmes when browsing from local feeds is a good idea imo.

1. *When br

[2021-06-23 19:02] ericstj commented on #8684
Just noticed this.  The warning shouldn't force people to use the `<references>` section if they are creating a package that has parallel ref/lib folders.   It should only tell them to do it if the ref folder has different files than lib.

[2021-06-23 19:20] Thieum commented on #9474
Here is a repro project I put together when describing the issue to @terrajobst in https://twitter.com/terrajobst/status/1376570583001931778?s=20 :

https://github.com/Thieum/PackageRefTargetsLost

[2021-06-23 19:38] akoeplinger opened #10965 "monoandroid fallback logic for net6-android not working"
dotnet version: 6.0.100-preview.5.21302.13

Example project:

[code]

This should be pulling in `lib/monoandroid10/_._` with the fallback rules, however it's pulling in `lib/netstandard2.0/System.Json.dll`

Here's what I see in project.assets.json, note how the `imports` stops at `monoandroid50` instead of going back to `monoandroid10`
[code]

/cc @zkat

[2021-06-23 19:42] akoeplinger commented on #10965
It works for `net6.0-ios`, i.e. it pulls in `ref/xamarinios10/_._` with this `imports` section:

[code]

[2021-06-23 20:53] zkat commented on #10965
this is so strange. Why wouldn't `monoandroid10` be there? I didn't mess with version stuff beyond checking the .net version itself. 🤔💭

[2021-06-23 22:17] nkolev92 opened #10966 "Setting binding redirects in a target is breaking incremental build"

[2021-06-24 01:12] #10966 closed, assigned to nkolev92

[2021-06-24 07:32] kant2002 opened #10968 "NuGet Restore fails on Raspberry PI on NativeAOT repo"
While I was waiting for ComWrappers in main repo, I decide to build [NativeAOT](https://github.com/dotnet/runtimelab/tree/feature/NativeAOT) on Raspberry hoping that I can found bug or two here.
Unfortunately I see that build stops at very beginning of the build, during "restore projects..."
[code]

After some time, memory usage on Pi eat whole 1Gb and start swapping.

Here my path trying to under

[2021-06-24 08:32] akoeplinger commented on #10965
Ah, this is because Xamarin.Android has some custom workaround code that adds these fallback items: https://github.com/xamarin/xamarin-android/blob/7e9f595f23ebd5b53385b16e3890bc90f95f6fef/src/Xamarin.Android.Build.Tasks/Microsoft.Android.Sdk/targets/Microsoft.Android.Sdk.NuGet.targets#L21-L37

If I remove that workaround then it behaves as expected, sorry for the noise!

[2021-06-24 08:32] #10965 closed, assigned to zkat

[2021-06-24 14:37] zivkan commented on #8414
Another instance: https://developercommunity.visualstudio.com/t/error-setting-up-nuget-package-manager/1457437?from=email&viewtype=all#T-ND1459974

From the ComponentModel cache error file:

[code]

We need to ensure that the settings page doesn't need to use the project system APIs, since the .NET project system might not be installed.

[2021-06-24 15:46] michal-ciechan commented on #10932
This is still broken in VS both  `16.10` and `16.11 preview 2`

[2021-06-24 16:12] zkat commented on #10965
Glad I could be of help! 😂

[2021-06-24 18:15] zkat commented on #10956
We need to be more data-driven about this, I think: We should focus on specific things we want to improve, have metrics to measure, and then decide if this is something that can work towards that.

Per Nikolche, we think this is the sort of thing @JonDouglas' nuget scorer tool can help us start measuring, so we can figure out exactly what we want to do going forward. How does that sound? In the me

[2021-06-24 18:35] nkolev92 commented on #8321
Long irrelevant :)
Closing.

[2021-06-24 18:35] #8321 closed, assigned to dominoFire

[2021-06-24 18:38] loic-sharma commented on #10956
We can do customer development here, but a common sentiment is that it is difficult to create high quality .NET packages. For example:

We have [package authoring best practices](https://docs.microsoft.com/en-us/nuget/create-packages/package-authoring-best-practices),

![image](https://user-images.githubusercontent.com/737941/123315230-58a67980-d4e0-11eb-9422-ea31c8ec4ce0.png)

[2021-06-24 19:01] jeromelaban commented on #10956
@loic-sharma when talking about reproducible, you're talking about adding a reference to https://github.com/dotnet/reproducible-builds ?

[2021-06-24 19:02] loic-sharma commented on #10956
@jeromelaban Yup. Ideally all new packages uploaded to nuget.org would be green on nuget.info's `Health` section :)

![image](https://user-images.githubusercontent.com/737941/123318467-141cdd00-d4e4-11eb-8af8-8fb5fe3b100a.png)

[2021-06-24 21:59] andersstorhaug commented on #7413
Also running into this issue. My workaround was to create a separate `NuGet.custom.config` file (named differently so it's not picked up by standard restore) and then to use `--configfile`.

Could not find any other viable workarounds.

[2021-06-25 02:03] yannduran commented on #10804
Yeah I've added a "vote" too, if by vote you mean a thumbs up. Can I suggest that you don't rely on "votes" to fix a fundamental flaw as voting suffers from a discoverability issue. I only came across this issue by accident as I was searching for the answer as to why my new VS 2022 Preview 1 install had no nuget.org package source, only a Microsoft Offline one instead.

I really don't understand w

[2021-06-25 02:27] nkolev92 opened #10969 "Stop generating raw properties for every segment"
Stop generating raw properties for every segment, set only the tfm ones.
Avoid concatenating strings with `_raw`.

[2021-06-25 05:21] Amritanshu02 commented on #10864
Hello! I would like to work on this issue , could you suggest me where to start??

[2021-06-25 07:46] richardjm opened #10970 "NuGet generating incorrect binding redirects for Net Framework 4.7.2 console app and PackageReference"
## Details about Problem

Visual Studio: 16.10.2

Product version:

Unclear if ever worked before

## Repro steps and/or sample project

 - Create a new project in Visual Studio
 - Nuget Package Manager settings in Visual Studio

![image](https://user-images.githubusercontent.com/2081919/123383127-b099ba80-d58a-11eb-949e-c33bb2e11949.png)

 - Add a C# console app targeting .Net Framework 4.7.2
 -

[2021-06-25 16:52] madelson opened #10972 "Unexpected NU1605 from transitive reference that was never selected (pruned subgraph)"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): NuGet CLI 5.9.1, VS 16.10.2

## Repro steps and/or sample project

Using the provided solution:

[ReproUnexpectedNU1605.zip](https://github.com/NuGet/Home/files/6717659/ReproUnexpectedNU1605.zip)

* Build projects ReproPackageCV1 and ReproPackageCV2 -> copy .nupkgs to local feed
* Build projects Re

[2021-06-25 19:27] erdembayar commented on #5127
@akhromushkin
It's bit different problem. If you use `-s` switch then it expect all packages dependencies exists in specified sources(here `nugets`) only.
Previously `System.Drawing.Common` was previously downloaded from nuget.org and saved into your local global cache. But it was intentionally cleared it. Since you already cleared local cache only way to obtain is non-local nuget source `nuget.or

[2021-06-25 19:46] skunjachen opened #10973 "NU3008 Package integrity errors on restore"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): Visual Studio 2019 Enterprise, dotnet.exe

Product version:  5.9.1.11

Worked before? If so, with which NuGet version: No, this is a fresh install of Visual Studio on Windows 2016 Datacenter edition

## Repro steps and/or sample project
1. Installed Visual Studio, and just created a blank  xUnit Te

[2021-06-25 21:36] nkolev92 commented on #10970
Hey @richardjm

Thanks for the detailed issue, we really appreciate you getting a repro!

In PackageReference, NuGet doesn't deal with the binding redirects, they are instead handled by other components, such as `MSBuild` or `SDK` depending on the project style.

I see that in your console app, `AutoGenerateBindingRedirects` is set to `true`, which is what I would've suggested.

Given that this is

[2021-06-26 01:32] nkolev92 commented on #10972
Thanks for the great repro!

This looks like a bug, as the error is not very helpful because the subgraph has been pruned.

I tweaked your repro a bit to allow it to be runnable with a single script, https://github.com/nkolev92/NU1605ReportedForPrunedSubgraph-10972.

[2021-06-26 05:29] #10823 closed, assigned to erdembayar

[2021-06-26 14:08] zivkan commented on #10804
@yannduran  your proposal is effectively to re-introduce the bug fixed by https://github.com/NuGet/NuGet.Client/pull/3907, which is a scenario that customers not using chocolatey were increasingly experiencing following the "dependency confusion" blog post, "3 ways to mitigate risk when using private package feeds" whitepaper, and others. Hence, it unfortunately does not cater for customers who do

[2021-06-26 14:35] yannduran commented on #10804
@zivkan that was not my intention at all. I was suggesting that Nuget should **_warn_** customers if there's no nuget.org package source once the package sources have all been evaluated. This is simply the **responsible** thing to do.

Are you saying that people are not using nuget.org and are only wanting their own package sources? If people are savvy enough to add their own package source, they

[2021-06-26 15:21] zivkan commented on #10804
Your first message doesn't mention the word "warn". In fact, it explitly said "and add it if not".

Yes, that the recommendation number 1 in the "3 ways to mitigate risk when using private package feeds" whitepaper.

Yes, the NuGet bug that was fixed was when a customer who did not use chocolatey removed the package source, and then NuGet added it back again. This was also a problem on CI machines

[2021-06-26 19:40] adamralph commented on #7411
Is there anything I (or anyone else) can do to help get this prioritised?

[2021-06-27 15:36] dkattan commented on #4837
Is there any movement on this?

In VS2019 unless I add an Assembly Reference to the .dll file in the .nuget folder, I get
[code]

[2021-06-27 15:43] dkattan commented on #6088
This is extremely frustrating. I'm trying to get copies of certain DLLs into my output folder and this thread is the only documentation I can find that indicates Update-Package -reinstall doesn't work on .net core projects. The

I got here because [this thread on StackOverflow](https://stackoverflow.com/questions/42775876/nuget-packages-are-there-but-missing-references) states that it will copy th

[2021-06-27 16:30] dkattan commented on #4837
I ended up solving this problem using the GeneratePathProperty so that I could provide the hint path with (PkgMicrosoft_WSMan_Management)

[2021-06-27 18:00] #10454 closed, assigned to nobody

[2021-06-27 18:00] #9925 closed, assigned to nobody

[2021-06-27 18:00] #9648 closed, assigned to nobody

[2021-06-27 18:00] #9624 closed, assigned to nobody

[2021-06-27 18:00] #9219 closed, assigned to nobody

[2021-06-27 18:00] #9034 closed, assigned to nobody

[2021-06-28 10:33] mungojam commented on #10901
As a workaround, try setting TargetFramework to:

`<TargetFramework>net5.0-windows7.0</TargetFramework>`

taken from https://github.com/dotnet/sdk/issues/14553 although I don't know for sure if the two issues are related

[2021-06-28 17:11] erdembayar commented on #10948
@aortiz-msft @nkolev92
It looks, I started working on this issue too early. I created new unit tests but I better to work on this after I complete https://github.com/NuGet/Home/issues/10738

[2021-06-28 17:17] erdembayar commented on #10738
@nkolev92
Can you elaborate on `Any IVs installer APIs`? What could be example of this?

[2021-06-28 17:44] zivkan commented on #10738
Our [NuGet extensibility in Visual Studio docs](https://docs.microsoft.com/en-us/nuget/visual-studio-extensibility/nuget-api-in-visual-studio) detail our `IVs*` APIs. Also see [the interface definitions](https://github.com/NuGet/NuGet.Client/tree/dev/src/NuGet.Clients/NuGet.VisualStudio/Extensibility), particularly [`IVsPackageInstaller.cs`](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet

[2021-06-28 19:11] nkolev92 commented on #10678
NuGet side has been [merged](https://devdiv.visualstudio.com/DevDiv/_git/VS/pullrequest/333334) into `main`.

[2021-06-28 19:15] #10969 closed, assigned to nkolev92

[2021-06-28 19:17] nkolev92 commented on #10843
I added the relevant issues under the epic + added a new column that links to the respective issues for the allocation hot spots noted by @davkean

If you are curious to see all issues, you'd need ZenHub right now.

[2021-06-28 19:18] akoeplinger commented on #7416
Copying from https://github.com/NuGet/Home/issues/10937 as requested:

With the transition of Xamarin from Mono (== .NET Framework) to .NET Core based class libraries and TFMs we're hitting cases where a netcoreapp asset is selected instead of e.g. a netstandard one like before due to the new precedence rules.

This causes problems since some packages assumed that netcoreapp meant ".NET on desktop

[2021-06-28 19:55] nkolev92 opened #13488 "Detailed documentation on how compatiblity works in PackageReference."
For example:

Having a list of the following files:

[code]

makes a package compatible with every framework.

[code]

[2021-06-28 20:09] zkat commented on #6279
Our understanding is that https://github.com/dotnet/sdk/issues/18148 is not strictly blocked by this issue, as it can be implemented without NuGet's help. If this is not the case, please update us (and @ us). /cc @bruno-garcia

[2021-06-28 20:21] zkat commented on #7416
@akoeplinger do you have any data on how many customers would need to use this as an escape hatch, specifically? I think we need more information on this pain point, because the potential side-effects of having something like this available might be significant on other compatibility consideration.

It's unlikely that we would be able to do anything about this for net6.0 GA, or even 6.0.200.

[2021-06-28 20:24] zkat commented on #10964
@chgill-MSFT do you mind joining us for our next triage meeting so we can talk about this?

[2021-06-28 20:26] akoeplinger commented on #7416
I don't think we have data on this specific problem since it'd only manifest itself at runtime and most users aren't running the .NET6 previews. Adding @Redth in case he has more info.

[2021-06-28 20:29] #10970 closed, assigned to nobody

[2021-06-28 20:36] zkat commented on #10973
@skunjachen did you try to follow the advice in the error message already?

[2021-06-28 21:08] nkolev92 commented on #10924
PR out: https://github.com/NuGet/NuGet.Client/pull/4127

Patch changes for 5.11 also running tests: https://github.com/NuGet/NuGet.Client/tree/dev-nkolev92-511xPRtoPCLockFile

[2021-06-28 21:12] kartheekp-ms commented on #10973
I cleared my local cache and followed the repro steps. I am unable to reproduce the issue.

[2021-06-29 08:15] emmenlau commented on #2852
@emgarten I do not understand why this issue was closed as WontFix, please reconsider. Compression takes significant time even on modern machines. You can test this very quickly yourself with `zip`, `tar` or any other tool. As an example, creating an uncompressed tar compared to `gzip`, `bzip` or `lzma` compression reduces the archive creation time to less than 30% in my tests.

For round trip dev

[2021-06-29 08:23] emmenlau commented on #2852
@Artur-A The runtime of the default zip archiver is heavily impacted by the compression level. The relevant part of this issue is that people need choice for setting this compression level to lower level, or disabled. Can you re-try with an archiver that has zero compression?

As a random example, the user here got a 30% speedup when changing zip compression from default level 6 to 1: https://supe

[2021-06-29 08:58] leejeffr commented on #3891
I am trying to accomplish the same thing. Project A is published as a package and references project B library that should not be directly exposed as a package. When I run msbuild -t:pack, the lib folder output contains project A.dll but not project b.dll.

Note: that Project A also has a package reference to log4net in addition to the project reference to project B.

All of my projects are .net f

[2021-06-29 11:45] skunjachen commented on #10973
Yes, I have performed all the steps suggested as suggested in: https://stackoverflow.com/questions/64280574/nuget-returns-package-integrity-checks-on-freshly-downloaded-packages including reinstalling visual studio. The trace attached is after all the steps.

For what its worth, I am doing this on an AWS Workspaces desktop. I suspect that there may be some interference from that system. I have had

[2021-06-29 13:24] xformerfhs commented on #9954
I can confirm that this bug is present in NuGet V5.9.1.11. If nuget.exe is "blocked" it does not find any meta data of the dll to be packed, uses 1.0.0 as the default version and throws errors regarding "authors" and "description". NuGet shows the following error message while building if it blocked (this is translated to English from the localized error message):

Could not load file or assembly

[2021-06-29 15:50] madelson opened #10974 "PackageReader.GetSupportedFrameworks() is not comprehensive"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): NuGet.Client 5.10.0

## Repro steps and/or sample project

NuGet package System.Runtime 4.3.1 clearly supports net5.0; it even lists specific dependencies for that framework and it can be installed into projects with that framework without issue. However, **calling `GetSupportedFrameworks()` on tha

[2021-06-29 16:40] mmitche opened #10975 "NuGet.Localization has no package icon"
.NET's package icon validation is picking up one NuGet package (NuGet.Localization) with a missing icon:

`##[error]'D:\workspace\_work\1\a/signed/shipping/packages\NuGet.Localization.6.0.0-preview.2.129.nupkg' has no icon defined in its nuspec`

[2021-06-29 16:41] mmitche commented on #10975
/cc @zkat

[2021-06-29 16:44] zivkan commented on #10974
It's non-intuitive, but `net50` expands to a Target Framework Identifier of `.NETCoreApp`, [as per the sepec](https://github.com/dotnet/designs/blob/main/accepted/2020/net5/net5.md), just like `netcoreapp3.1`, `netcoreapp2.1`, and so on do.  On the other hand, `net472` expands to a Target Framework Identifier of `.NETFramework`.  Since `.NETFramework` does not equal `.NETCoreApp`, these two target

[2021-06-29 16:50] zkat commented on #10975
cc @dominoFire

[2021-06-29 18:42] nkolev92 commented on #10972
The fix would be in 6.0, both NuGet 6.0 and .NET SDK 6.0.1xx

[2021-06-29 19:46] madelson commented on #10974
@zivkan I'm aware that a .NET framework package is not directly compatible with net5.0. I'm still confused about this specific case, though.

From reading your comment, it sounds like you're saying that System.Runtime 4.3.1 _does not_, in fact, support net5.0. However, you say that this package can be installed into a net5.0 project and will result in a warning NU1701.

However, looking at the pac

[2021-06-29 20:18] vivainio commented on #6764
It's already in production, but not documented as such. So it should be marked as *shipped*

[2021-06-29 20:32] zivkan commented on #10974
Oops, you're right. When I checked the package, I only looked at the `lib/*` folders, and there was no `netstandard*` there, but there is in `ref/`.

Looking at the implementation of [`GetSupportedFrameworks`](https://github.com/NuGet/NuGet.Client/blob/b102b7587f0286d83dad8ee357caded56bd0ab17/src/NuGet.Core/NuGet.Packaging/PackageReaderBase.cs#L363-L378), it also doesn't take `ref/*` into account

[2021-06-29 20:34] kartheekp-ms commented on #10973
Interesting part here is bunch of packages were installed successfully and few of them failed with NU3008 error.

[code]

In the issue description you have mentioned that `System.IO 4.3.0` package integrity check failed but the `restore log` says `PackageSignatureVerificationLog: PackageIdentity: System.IO.4.3.0 Source: https://api.nuget.org/v3/index.json PackageSignatureValidity: True` which mean

[2021-06-29 20:41] zivkan commented on #6764
Centrally managed package versions is not in production.

The prototype/preview implementation required changes to core NuGet assemblies that we could not ship out-of-band, hence the preview feature shipped in production tooling. But the feature is still preview. Unfortunately, we also had other urgent work come up, so progress on this feature was deprioritized.

Also, there was a bug where our "t

[2021-06-29 21:34] nkolev92 commented on #6088
@dkattan PackageReference works differently from packages.config.

PackageReference is .NET Core projects is integrated with the build, and the files necessary will be copied to the output window at build time.
You shouldn't need any other command.

If there are files that are not getting copied to the output, it's likely a different issue, or just how the package itself was authored.

[2021-06-29 21:36] dkattan commented on #6088
You are correct. Turns out the project I was loading had overloaded the Assembly.Load event and was doing some hacky stuff at runtime.

[2021-06-29 23:29] aaronla-ms commented on #6764
Apologies @nkolev92 , I'm not sure I got back to you on this.

It's pretty easy to repro. Set up the following dependency graph, where N/1.0 and N/2.0 are two different package versions of the same nuget package, clean your local nuget cache, and restore. You'll observe that both N/1.0 and N/2.0 are populated into the package cache, but N/1.0 doesn't appear in the lock file at all. This causes fal

[2021-06-30 00:03] #10614 closed, assigned to nkolev92

[2021-06-30 00:16] darrylmelander commented on #10932
Can anyone confirm whether the fix has made it into VS 16.10.3, which was released today?  We're holding all Visual Studio updates until this is fixed in Visual Studio itself. If this is still broken in the latest VS, is there a way to notify the VS team that this fix needs to make it into their release stream ASAP?

[2021-06-30 02:16] nkolev92 commented on #10843
With https://github.com/NuGet/NuGet.Client/commit/1a7aa2dd343562168a221b1da959f1704a784e32 now merged, it's worth reevaluating the priorities of the above.

The linked change reduces the frequency of `TokenSegment.TryMatch` calls in large solutions.
In OrchardCore, we go from 57164  to 2769 computations.

Latest tests suggest savings in GB for a completely clean restore.

[2021-06-30 02:25] davkean commented on #10843
We should pay attention to the contention of that cache to see if it shows up both in thread time and CPU (overhead of Monitor.Enter)

[2021-06-30 03:16] kartheekp-ms opened #10976 "Avoid unnecessarily resizing dictionary while calculating project closure"
Thanks to @davkean for identifying a performance improvement in NuGet.

`ToDictionary does not let you specify an underlying starting capacity. This causes it to inherit the default size and unnecessarily resize itself multiple times in a large solution. Added a version of ToDictionary that lets you specify a default.`

https://github.com/davkean/NuGet.Client/blob/e97d556a83750bb4f8017e3640bc699d0

[2021-06-30 04:08] #10975 closed, assigned to kartheekp-ms

[2021-06-30 07:09] vivainio commented on #6764
@zivkan consider releasing it without VS integration, it may be less important than you think. People use VSCode, Rider etc. People that need central package versioning were probably unable to use VS nuget support anyway (we are currently using Paket).

Hence, the "fundamentals" can be considered shipped and how VS deals with it is VS teams problem.

[2021-06-30 08:31] mtu305 commented on #10953
I see latest VS is 16.10.3. It means that we need the code fix when 16.11 is available?

[2021-06-30 09:32] v-luzh opened #10977 "[Bug Bash] The dropdown list of PM UI doesn’t distinguish the background color between selected-item and hover-on item"
## Details about Problem
VS Version: Main\10522.83
NuGet Version: Dev\6.15.0.19
OS Version: Windows-11-Enterprise-24H2

## Repro steps
1. Launch VS and create a solution [e.g. C# Console App (.NET Framework 4.8.1)].
2. Open the PM UI and PMC of the project.
3. Check the dropdown list of in PM UI.

## Expected
The dropdown list of PM UI should distinguish the background color between selected-item

[2021-06-30 09:35] v-luzh opened #10978 "[Bug Bash]The new designs of hovered-on menu between VS and NuGet are inconsistent"
## Details about Problem
VS Version: Main\31429.199
NuGet Version: Dev\6.0.0.133
OS Version: Windows-10-Enterprise-21H1

## Repro steps
1. Launch VS and create a solution [e.g. C# Console App (.NET Framework 4.8)].
2. Open the PM UI.
3. Check the new design of hovered-on menu from dropdown list of PM UI.

## Expected
The new design of hovered-on menu between VS and NuGet Client should be consisten

[2021-06-30 09:56] v-longmin opened #10979 "An error “Could not install package ‘afine 15.1.5’” occurs when installing deprecated package “afine” with Packages.config format into C# Class Library (.Net Framework) project"
## Details about Problem
VS Version: Main\31429.199
NuGet Version: Dev\6.0.0.133
OS Version: Windows-10-Enterprise-21H1
## Installations
1. Install VS Main\31429.199 from:  https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=4927364&view=ms.vss-releaseManagement-web.deployments-tab
2. Install NuGet Client Dev\6.0.0.133 from: https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=4

[2021-06-30 11:10] madelson commented on #10972
Great! Any chance of a prerelease package on NuGet.org before then?

[2021-06-30 12:59] krafs opened #10980 "Conflicting documentation on ISettings.AddOrUpdate"
`NuGet.Configuration.ISettings.AddOrUpdate` returns void, but the method xml comment states that it returns true if the operation was successful.

Either the method should be changed to return a bool, or the documentation should be changed.
https://github.com/NuGet/NuGet.Client/blob/77e1bdb266093fd1eafff90ef21ad55a2a448889/src/NuGet.Core/NuGet.Configuration/Settings/ISettings.cs#L29-L30

[2021-06-30 13:17] jzabroski commented on #3891
Nugetizer will work if you don't have customized build targets and use a lot of extra build properties - but the learning curve is somewhat high, IMHO.  Expect to spend 1-2 days wrappping your head on it - but I think it will work and solve your problem.

What I ended up doing is just creating my own package.nuspec file that was super generic and just grabs everything in the bin directory and pack

[2021-06-30 13:21] madelson commented on #10974
Thanks for the added detail @zivkan! That's an interesting nuance that `ref` does not work for packages.config.

After looking at `ManagedCodeConventions` a bit, I think that likely the best fit for what I'm trying to do is actually just:
[code]

Given that you don't see the team prioritizing making a more robust API for this, I think it would be great to just update the [doc comment](https://urld

[2021-06-30 13:27] daekblad commented on #10932
It's still broken in 16.10.3 as far as I can tell.

[2021-06-30 14:26] donnie-msft commented on #10896
@aortiz-msft just a reminder to always add product & type labels as well :)

[2021-06-30 16:55] i-am-shodan commented on #2824
Just wanted to say that this is an issue for me and your workaround does work. Thanks so much!

[2021-06-30 17:40] nkolev92 commented on #10972
The restore build tasks can't really ship as a package, but there are a few other ways to dogfood:

* NuGet.exe previews.
* dotnet.exe nightlies (dotnet.exe public previews)
* Visual Studio previews

[2021-06-30 20:23] aortiz-msft commented on #10979
@nkolev92 - Would you mind taking a look?

[2021-06-30 20:27] aortiz-msft commented on #10979
@v-longmin - Does this work on 16.11. If yes, does this work on the implicit NuGet in VS Main?

[2021-06-30 21:21] donnie-msft commented on #10082
@zkat I'm guessing adding the Release was a mistake?

[2021-06-30 22:20] nkolev92 commented on #10979
I don't believe there's a product issue here, as the failures are a consequence of package authoring.

* The package is authored in a way that it's not following any nuget conventions.

* packages.config enforces a convention where things such as meta packages need more careful crafting.
* PackageReference is more permissive for packages that *do not follow any convention*, https://github.com/NuGe

[2021-06-30 22:20] #10979 closed, assigned to nkolev92

[2021-06-30 23:53] jebriede opened #10981 "Expose package vulnerabilities information in the PMUI"

[2021-06-30 23:54] jebriede opened #10982 "Show warning icon in Installed tab if there are vulnerable packages installed"

[2021-06-30 23:56] jebriede opened #10983 "Show warning icon by package in list of packages if there is a vulnerability"

[2021-06-30 23:59] jebriede opened #10984 "Get vulnerability information from registration API in PMUI"

[2021-06-30 23:59] jebriede opened #10985 "Show package vulnerability details in the package details pane of the PMUI"

[2021-07-01 02:23] jebriede opened #10986 "Add telemetry for tracking vulnerable packages installed through PMUI"

[2021-07-01 02:30] jebriede opened #10987 "Write tech spec for vulnerabilities MVP in PMUI"

[2021-07-01 04:49] uecasm commented on #5894
FYI (thanks to @mletterle), the workaround I needed for this (Visual Studio 2017 targeting .NET 4.6.2 with WPF, trying to use PackageReference) was to add this to the top of the project file:
[code]
and also a similar one referencing the `.targets` file to the bottom of the file.  This is probably not universally robust.

[2021-07-01 18:27] nkolev92 opened #10988 "Use a pooled byte array when copying files and validating signatures"
Given that files, especially nupkgs, tend to be larger than 81kb, it's very practical to use an array pool for that.

This could save GB in allocations when dealing with a clean restore.

[2021-07-01 18:33] nkolev92 opened #10989 "Avoid Task.WhenAny allocations in dependency walker"
CreateGraphNode ends up on waiting on all dependency resolve tasks in a pretty inefficient manner, causing lots of unneeded allocations due to Task.WhenAny's defensive copying of the passed in list.

[2021-07-01 19:06] nkolev92 commented on #10876
This affects a top 10 UI delay for internal, so as such it should be something we prioritize for the next release.

[2021-07-01 19:10] vsfeedback opened #10990 "Prerelease nuget packages not showing in Nuget -> Updates"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Prerelease-nuget-packages-not-showing-in/1462264)._

---
[severity:It's more difficult to complete my work]
I am using Microsoft Visual Studio Enterprise 2019 Version 16.10.2 on Windows 10.

I notice that pre-release nuget packages show when I Browse them with the Include Prerelease chec

[2021-07-01 21:56] zkat commented on #9752
This is all done! :)

[2021-07-01 22:47] dc7497-1576912 opened #10991 "Write spec for Automatically Open readme.md Files"

[2021-07-01 23:00] #10901 closed, assigned to zivkan

[2021-07-01 23:02] nkolev92 commented on #10924
Re-opening to consider patching.
Moving to the triage.

[2021-07-01 23:18] zivkan commented on #10968
@kant2002 sorry about the slow response.

[`dotnet restore` has an option](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-restore?tabs=netcore2x#options) (see also `dotnet restore --help`) `--disable-parallel`, which will disable restore multiple projects in parallel. This will lessen memory load.

[2021-07-01 23:37] #10718 closed, assigned to zkat

[2021-07-01 23:53] zkat commented on #10889
This should be fixed now. Please feel free to ping me/reopen if it's not working due to some issue on our end!

[2021-07-01 23:53] #10889 closed, assigned to zkat

[2021-07-02 03:34] kartheekp-ms commented on #10990
I moved this issue to GitHub by mistake. I will work with the customer in VS Feedback channel.

[2021-07-02 03:34] #10990 closed, assigned to nobody

[2021-07-02 17:27] markusschaber opened #10993 "Feature Request: Provide third party / OSS bill of material and license / copyright list on build"
(I'm posting this feature request here for discussion, as [recommended on the DotNetEvolution Discord](https://discord.com/channels/732297728826277939/751137004007456849/860441358456324127).)

My feature request is some mechanism to automatically provide a third party / OSS bill of materials and license / copyright list when building a .NET application. With growing number of dependencies, it's no

[2021-07-02 17:41] zivkan commented on #6764
My point is that even the "fundamentals" is not finalized. I really hope we won't change the MSBuild item names or file names we've used so far, but it depends on further customer development and customer interviews as to why customers who we want to use this feature are not yet using/evaluating it.

When the first previews shipped, we only had feedback from two open-source library authors, who ha

[2021-07-02 18:12] robmen commented on #6764
@zivkan If you want a more complex use case, feel free to reach out to me to discuss our use of central NuGet package version management in the [WiX Toolset](https://wixtoolset.org/). Even in preview, central package version management is integral to maintaining sanity across all of our projects.

[2021-07-02 19:19] zivkan commented on #6764
At this time, our limitation in resources (people to work on it) and prioritization against other work, not a lack of desire to complete this feature.

[2021-07-02 19:20] mikamins commented on #6764
I completely agree with this sentiment. Opt-in pinning would be very useful for the Azure codebase, where we have to rely on ugly workarounds to avoid packages with known security vulnerabilities.

[2021-07-02 19:30] kartheekp-ms commented on #10993
@markusschaber - NuGet team received a proposal to list all package licenses here https://github.com/NuGet/Home/pull/10852. Can you please look at that proposal and see it covers all the scenarios listed above?

//cc @JonDouglas @chgill-MSFT

[2021-07-02 20:20] kartheekp-ms commented on #10590
I found this issue while working on a VS feedback ticket with similar error message https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1348331.

I followed the repro steps mentioned in the issue description and noticed only 1 error `NU1004` in the error list window.

![image](https://user-images.githubusercontent.com/52756182/124324579-114f6700-db38-11eb-84a9-0cc6370dee21.png)

[2021-07-02 20:25] leong-desco opened #10994 "Visual Studio NuGet Package Manager Prompting for Authentication Before Trying Credential Provider"
## Details about Problem

Visual Studio:
[code]

Visual Studio NuGet Package Manager: `5.10.0`

NuGet Command Line `5.8.0.6930`

Windows: `1909 Enterprise`

## Bug Details

My workplace provides an Artifactory NuGet feed that requires authentication. To facilitate authentication, I have been tasked with writing a cross-platform credential provider. It currently works without issue with `nuget.exe`

[2021-07-02 21:09] zivkan commented on #10974
That might be "close enough" for whatever you're trying to do, but unfortunately it's again a little more nuanced if you want to be 100% accurate. packages.config allows assemblies to be under `lib/whatever.dll`, and NuGet will assume this package is compatible with all TFMs.  PackageReference will ignore these assemblies, considering only `lib/<tfm>/*.dll`, as per [the documented compatability is

[2021-07-03 00:14] kartheekp-ms commented on #10994
@leong-desco - https://github.com/NuGet/Samples/tree/main/VsCredentialProvider repo has a sample VS Credential Provider. You should have a quick look at the sample and check if anything stands out.

[2021-07-03 05:01] leong-desco commented on #10994
@kartheekp-ms Thank you for your response.

I believe that we are talking about different kinds of credential providers. I read [the document that you are quoting](https://docs.microsoft.com/en-us/nuget/reference/extensibility/nuget-credential-providers-for-visual-studio), and it is referring to Visual Studio credential providers, but I am developing a cross-platform credential provider.

The cros

[2021-07-03 07:37] tebeco commented on #6764
OptIn / OptOut are generally a very good thing as it would allow consumer to change that behavior on demand without breaking changes from the tooling

this apply to almost all the ecosystem of the nuget tooling
lockfile / resolution / pinning / and few others

I'm not saying "just do it" because it's never "just"
I'm saying that instead of taking a position that would have to be supported for the

[2021-07-03 07:59] kant2002 commented on #10968
I run `./build.sh -restore /p:RestoreDisableParallel=true` and validate that `RestoreTaskEx` receive `DisableParallel` as `true`, and issue still persists.

[2021-07-03 08:22] swythan commented on #6764
BTW: The functionality to make the interaction between CPVM & transitive dependencies optional is waiting for a review here:
https://github.com/NuGet/NuGet.Client/pull/4025

The author of that PR @marcin-krystianc is in my company's OSS group and could probably help with feedback about how we use it in our large solutions. I'm not personally involved, but I know we've built a lot of infrastructure

[2021-07-03 09:06] kant2002 commented on #6764
Is it possible that Nuget team will create only on high-level planning of the issue, what path should be taken and delegate all implementation to the community? This still require commitment to review PR in that area, but given that this is highly anticipated feature, this can be good way to increase count of active contributors to the project.

Even if nobody steps-in, this is can highlight to th

[2021-07-03 10:14] kant2002 commented on #10968
I suspect that this is due to fact that `src/libraries` has 235 projects and it require much more memory then available. Assume at least 4Mb per project.

`./build.sh libs -rc Debug -lc Release  /p:RestoreDisableParallel=true` stuck
`./build.sh nativeaot -rc Debug -lc Release  /p:RestoreDisableParallel=true` works

[2021-07-03 11:51] vivainio commented on #6764
@zivkan Looks like you have been asking the wrong people to test the feature, and hence this is stuck in limbo.

The fundamentals I consider to be:

- The filename Directory.Packages.props
- PackageVersion tag in it
- <ManagePackageVersionsCentrally>true</ManagePackageVersionsCentrally>

Just keep that working, and announce publically that it's shipped. There is no further work to do, and you can

[2021-07-03 20:12] kartheekp-ms commented on #10994
@leong-desco - I am looking at this code path for the first time. It looks like Visual Studio account providers are tried first before trying custom plugins.

https://github.com/NuGet/NuGet.Client/blob/a5d5e3236e86f6c3c09097b723ce2b52852a1752/src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/DefaultVSCredentialServiceProvider.cs#L42-L74

Here is what I tried to mimic the failure.

- Copied [`

[2021-07-04 08:34] alex-jitbit commented on #4837
vue package has the same issue, it's an old nuget package and the package author is unreachable. What do we do now? Please add this!

[2021-07-04 10:31] alex-jitbit commented on #6548
So basically, if you want to copy files into a project's root folder, you have to:

1. pack them into "contentFiles/any/any" subfolder (telling nuget it's for "any" language and "any" framework
2. extract them using the `<contentFiles>` node

If you also want your nuget to work with older `package.config` mode - pack the file into "content" folder as before.

I've blogged all the details here: htt

[2021-07-05 05:19] markusschaber commented on #10993
Hi, @kartheekp-ms,
the proposal https://github.com/NuGet/Home/pull/10852 goes beyond my feature request in one aspect, as it allows for some blacklisting/whitelisting of allowed licenses and forcing the build when non-allowed licenses are used, and goes into details of how to actually find the valid license for a NuGet package (which seems to be more difficult than it should be).

But on the other

[2021-07-05 06:24] markphillips100 commented on #6764
Is it possible to specify a property reference for the Version property on a PackageVersion?  I'm specifically thinking of where I might want to supply a build property to conditionally change all referenced versions of a particular SDK's numerous packages, i.e. apply a condition in one place.

Directory.Build.props:

[code]

Directory.Packages.props:

[code]

[2021-07-05 06:27] martincostello commented on #6764
Yes it is. It even works with dependabot.

[2021-07-05 06:31] markphillips100 commented on #6764
Hmm I must be doing something wrong.  Getting many, many NU1604 restore errors.  Need to recheck.

[2021-07-05 06:33] martincostello commented on #6764
Here's an example of my usage, if it helps you: https://github.com/martincostello/alexa-london-travel-site/blob/4b3ec8442307e1f5f6eef0f9d910908b780916f2/Directory.Packages.props#L3-L11

[2021-07-05 07:07] markphillips100 commented on #6764
Thanks for that @martincostello .  Helped to confirm I was on the right track.

I figured out my issue albeit I'm a little confused by the outcome.  I'll explain just in case anyone else has the problem.

I have 2 folders, src and test, each having their own Directory.Build.props so they can add their specific PackageReference includes.  I have a single Directory.Packages.props file in the parent

[2021-07-05 07:10] martincostello commented on #6764
I _think_ that's because Directory.Build.props files override, rather than being additive, IIRC.

[2021-07-05 09:28] KalleOlaviNiemitalo commented on #6764
You can make the Directory.Build.props file in the inner directory import the file in the outer directory. The [\[MSBuild\]::GetPathOfFileAbove](https://docs.microsoft.com/visualstudio/msbuild/property-functions?view=vs-2019#msbuild-getpathoffileabove) property function is handy for this.

[2021-07-05 09:32] tg73 commented on #6764
My understanding (being quite experienced with customizing MSBuild) is as follows:

`Directory.Packages.props` is just another regular MSBuild targets file that gets imported (similar to C/C++ #include) at a specific point by some other targets file. In this case, it's imported by `NuGet.props`, which on my machine lives here: `C:\Program Files (x86)\Microsoft Visual Studio\2019\Professional\Commo

[2021-07-05 21:18] leong-desco commented on #10994
@kartheekp-ms I do not have access to a password-protected feed that can be accessed with the `artifacts-credprovider`, so unfortunately I cannot test that.

However, I am attaching an image showing the type of authentication dialog I am met with when attempting to authenticate with my company's protected NuGet feeds.

![image](https://user-images.githubusercontent.com/86807822/124518274-dd27b080-

[2021-07-06 03:59] huoyaoyuan commented on #7416
Requiring this to use Rx/RxUI with WinUI in 5.0. When targeting 5.0-windows, Rx will unconditionally bring WinForms, which is incompatible with WinUI/arm64.

[2021-07-06 07:01] jimmylewis commented on #6764
Just a fun observation:

This also means the properties for opting in to CPVM (i.e. `<ManagePackageVersionsCentrally>`) can be put in this file as well, instead of having to split opting into CPVM in your normal Directory.Build.props and specifying CPVM PackageVersion entries in Directory.Packages.props.

And, because it's all MSBuild, you can override the PackageVersions specified in that file as

[2021-07-06 08:31] mafshin commented on #5805
Still very slow. All tabs (Browse, Installed, Updates, Consolidate) are pretty slow with high speed connection and 40 projects solution.

VS Versions:

- 16.11.0 Preview 2.0
- 17.0.0 Preview 1.0

[2021-07-06 16:56] danielmeza commented on #6279
Good try @msfbot 😄

[2021-07-06 17:05] #10976 closed, assigned to kartheekp-ms

[2021-07-06 17:16] lewing commented on #10734
This is causing pretty severe package size bloat in some workloads where binaries must be copied to maintain the expected behavior.

[2021-07-06 17:44] dominoFire opened #10996 "Add Deprecation Links in Details page in PM UI"
Add two new deprecation links in details Page in PM UI when a package is deprecated.

- More Info Link
- Alternate package Link

[2021-07-06 17:50] heng-liu commented on #10634
Closed as duplicate of https://github.com/NuGet/Home/issues/8053

[2021-07-06 17:50] #10634 closed, assigned to nobody

[2021-07-06 17:50] erdembayar commented on #10932
Hi. I can see change is already in [16.11.0 preview 2](https://visualstudio.microsoft.com/vs/preview/). But it takes time to go in GA version. Could you be able to verify again?
I just verified by installing into clean machine and checked `Preview\....IDE\CommonExtensions\Microsoft\NuGet\NuGet.Configuration.dll` file manually.

[2021-07-06 17:52] heng-liu opened #10997 "add dotnet nuget sign command to dotnet docs"
https://github.com/dotnet/docs/issues/25049

[2021-07-06 17:54] erdembayar commented on #10902
I can see fix is already in [16.11.0 preview 2](https://visualstudio.microsoft.com/vs/preview/). But it takes time to go in GA version.

[2021-07-06 19:25] andrew-polk commented on #6941
This breaking change is not documented in the release notes.

While I somewhat understand your decision to treat packages broken by this change as containing a "bug" due to having nondeterministic contents, in our case, we were simply finding the same file twice with two different globs. Thus there was no problem with the output.
Thus this undocumented breaking change broke our build process for n

[2021-07-06 19:40] donnie-msft opened #10998 "Package List items that don't load successfully should block certain UI functionality"
In PM UI packages list, if an item is loading and enters into a cancelled or otherwise failed state, the UI should disable certain actions until it's loaded successfully.

For example, if the Latest Version query fails for an item, then the Update button should be disabled.
The architecture change is introducing tracking of background tasks and manifesting those as WPF events that can be watched a

[2021-07-06 19:42] #10155 closed, assigned to nobody

[2021-07-06 19:49] #10989 closed, assigned to nkolev92

[2021-07-06 20:30] nkolev92 commented on #8195
Status: The known necessary work by NuGet is done.

As of now, the C++ team wants to focus on C++/CLI .NET Core PackageReference support, so that's the *only* work that's been done.

[2021-07-06 20:34] #10726 closed, assigned to dominoFire

[2021-07-06 20:34] dominoFire commented on #10726
This issue was for source-build efforts. Fixed in https://github.com/NuGet/NuGet.Client/pull/4105/files

[2021-07-06 21:01] donnie-msft commented on #10124
Adding a rough estimate. Haven't dug into it yet.

[2021-07-06 21:03] nkolev92 commented on #10738
I'd expect https://github.com/NuGet/Home/issues/10961 to be largely solved by this effort as well.

[2021-07-06 21:37] leong-desco commented on #10994
We have done some research on the part of the codebase (branch `release-5.10.x`) that was linked above, [DefaultVSCredentialServiceProvider.cs#L42-L74](https://github.com/NuGet/NuGet.Client/blob/a5d5e3236e86f6c3c09097b723ce2b52852a1752/src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/DefaultVSCredentialServiceProvider.cs#L42-L74):

In fiddling around with the code I have made two discoveries

[2021-07-06 22:27] stevenbrix commented on #6764
is there a reason that the spec for this is using `<PackageVersion Include=".."/>` instead of `<PackageReference Update="../>`? Version 2 of the [CentralPackageVersions SDK](https://github.com/Microsoft/MSBuildSdks/tree/main/src/CentralPackageVersions) moved away from the former to the later

[2021-07-06 22:50] nkolev92 commented on #6764
Decoupling package versions and explicit references was necessary to satisfy features such as transitive pinning.

[2021-07-07 00:12] #10736 closed, assigned to kartheekp-ms

[2021-07-07 00:34] #6795 closed, assigned to erdembayar

[2021-07-07 02:23] nkolev92 opened #11000 "Remove RuntimeEnvironmentHelper.IsDev14"
No longer relevant.

[2021-07-07 11:09] michal-ciechan commented on #10932
Can confirm latest preview 2 works for me.

# 👍

[2021-07-07 11:10] michal-ciechan commented on #10932
Not sure why it was broken when I tested last, maybe at the time I didn't have newer version of SDK installed. (been uninstalling/reinstalling them to test various fixes/workarounds/issues around this)

[2021-07-07 15:48] Lecarvalho commented on #2880
I tried a lot of things you guys said but that just works when I restart the pc.

I don't know if it's related but I was connected to a vpn just before the error started.

Using vscode in Ubuntu with Dev Container

[2021-07-07 16:54] donnie-msft commented on #10896
I reached out to UX folks and they were are actively working on styling, and are aware of this bug.

[2021-07-07 19:29] erdembayar opened #11001 "Ensure the namespaces filtering is respected in packages.config package installation/updates PMC"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

n/a

### Worked before?

_No response_

### Impact

Other

### Repro Steps & Context

In PR, restore and package installation are equivalent.
In PC they are not.

This task covers ensuring that the namespaces are respected during package installation.

*Detailed explanation:*

* In https://github.com/NuGet/Home/issue

[2021-07-07 19:32] erdembayar opened #11002 "Ensure the namespaces filtering is respected in packages.config package installation/updates IVs installer API"
In PR, restore and package installation are equivalent.
In PC they are not.

This task covers ensuring that the namespaces are respected during package installation.

*Detailed explanation:*

* In https://github.com/NuGet/Home/issues/10823, support for namespaces filtering was added in restore.
* This issue ensures that commands run through:
    * Any IVs installer APIs.

Below is clarification fr

[2021-07-07 19:53] #11000 closed, assigned to nkolev92

[2021-07-07 23:43] zkat opened #11003 "[Epic] Resolving Package Incoherence"
* [x] #11004
* [ ] tbd

[2021-07-07 23:44] zkat opened #11004 "[Epic] Package Shading"
- [x] #11293
- [x] #11006
- [x] #11005
- [x] https://github.com/NuGet/Client.Engineering/issues/1894

[2021-07-07 23:46] zkat opened #11005 "Technical spec for package shading"

[2021-07-07 23:46] zkat opened #11006 "Prototype producer-side package shading in NuGet"

[2021-07-08 09:51] v-luzh opened #11007 "[Bug Bash] First pressing of “down” button on keyboard in the “version” drop-down box of PM UI will bring null value"
## Details about Problem
VS Version: Main\31507.353
NuGet Version: Dev\6.0.0.140
OS Version: Windows-10-Enterprise-21H1
## Repro steps
1.	Launch VS and create a solution [e.g. C# Console App (.NET Framework 4.8)].
2.	Open the solution-level/project-level PM UI.
3.	Go to “Browse” tab (or other tabs) and press tab through the PM UI.
4.	Press “down” button on keyboard when the focusing is on the “ver

[2021-07-08 14:58] aortiz-msft commented on #10901
Fix is currently targeting .NET 6 Preview 7.

[2021-07-08 15:17] george-chakhidze commented on #1671
This is still a problem; whichever `NuGet.Client` version is included in **.NET SDK 5.0.301**, it ignores `no_proxy` config setting.

[2021-07-08 15:59] #10974 closed, assigned to nobody

[2021-07-08 17:50] donnie-msft commented on #11007
Install not required. The separator is added as an item in the list, but for some reason it's only treated as an item the first time. Opening/closing the dropdown once causes the item to no longer appear when arrow keying.

[2021-07-08 17:59] nkolev92 commented on #10738
Hey @erdembayar

When breaking down tasks can you please make sure they are all added in the same epic? (You need ZH for that).

Doing that is necessary for tracking purposes. Ex, now only 10 points are shown as leftover and I don't think that's the case..

[2021-07-08 17:59] nkolev92 commented on #10738
The epic is https://github.com/NuGet/Home/issues/10728.

[2021-07-08 19:09] nkolev92 commented on #10341
CLosing given it's external

[2021-07-08 19:09] #10341 closed, assigned to nobody

[2021-07-08 20:30] jlaanstra opened #11009 "[DCR]: Support TargetFramework/TargetFrameworkIdentifier/TargetFrameworkVersion for vcxproj if PackageReference capability is set."
### NuGet Product(s) Affected

NuGet.exe, Visual Studio Package Management UI, Visual Studio Package Manager Console, MSBuild.exe, dotnet.exe

### Current Behavior

NuGet currently ignores any set TargetFramework/TargetFrameworkIdentifier/TargetFrameworkVersion etc if the project extension is vcxproj, and always returns Native, v0.0.

Teams that want to enable PackageReference support for UAP proj

[2021-07-08 23:15] #10988 closed, assigned to nkolev92

[2021-07-09 02:11] v-luzh commented on #11007
@donnie-msft, yes, there is no need to install. Updated the bug.

[2021-07-09 04:08] burtonrodman opened #11011 "[Bug]: dotnet restore --interactive from Azure Artifacts feed won't restore unless the package is already in local cache"
### NuGet Product Used

dotnet.exe, Visual Studio Package Management UI

### Product Version

dotnet 5.0.301

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

1. publish a package to an Azure Artifacts feed (include upstream)
2. set feed in nuget.config in solution root (clear all others) -- (btw, I have multiple solutions using pac

[2021-07-09 04:15] burtonrodman commented on #11011
i will post full error log the next time it happens.  this has occurred on multiple Azure DevOps tenants, multiple computers and multiple of my Microsoft personal and work/school accounts.  It is also happening for my entire work team (4 separate work/school accounts).

[2021-07-09 05:18] heng-liu commented on #10581
Doc issue:
https://github.com/NuGet/Home/issues/10997
https://github.com/dotnet/docs/issues/25049

[2021-07-09 05:23] donnie-msft opened #11012 "[Bug]: PM UI shows 0 download count when selected package is already installed"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

17.0 Preview 2 31427.69.main

### Worked before?

16.10 preview 1

### Impact

It's more difficult to complete my work

### Repro Steps & Context

1. Create any project
2. Install Newtonsoft.Json (remember version #)
3. Open PMUI for Solution
4. Select version number in the Versions dropdown.
5. Observe that the down

[2021-07-09 09:08] reduckted commented on #10901
@aortiz-msft Will this be back-ported to .NET 5?

[2021-07-09 12:41] natemcmaster opened #11013 "[Bug]: SkipDuplicates still uploads symbols package, leading to invalid symbols state on nuget.org"
### NuGet Product Used

NuGet.exe

### Product Version

5.10.0

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

## Repro
Create a simple package such as "tester.1.0.0.nupkg" along with symbols "tester.1.0.0.snupkg".

[code]
Then, make some change to source code, but rebuild as the same package version
[code]
## Expected
`nuget.eee

[2021-07-09 14:19] JakeDyme commented on #4387
I'm struggling with this for several days now and I'm about to give up on using this stack (Docker + Linux + dotnet + AzureArtifacts) thanks to Nuget alone. We have Netskope in our org which uses self-signed certs. Both `nuget` and `dotnet` refuse to accept the certs. Npm and Yarn have both succeeded at using the Azure repo thanks to the ssl overrides, but Nuget is just dead in the water. So many

[2021-07-09 18:10] #10972 closed, assigned to nkolev92

[2021-07-09 18:29] donnie-msft commented on #11013
Thank you for the detailed report! I'll reference it in https://github.com/NuGet/Home/issues/9647. Please give it an upvote and comment there if you wish!

Also notice that it mentions details regarding why this limitation exists today due to https://github.com/NuGet/NuGetGallery/issues/7681.

If you feel this is a separate issue, just write back. Thanks again :)

[2021-07-09 18:29] #11013 closed, assigned to nobody

[2021-07-09 18:30] donnie-msft commented on #9647
Another comment in support of this change https://github.com/NuGet/Home/issues/11013

[2021-07-09 19:26] natemcmaster commented on #11013
Ok, thanks @donnie-msft

[2021-07-09 19:43] nkolev92 opened #11014 "Reduce allocations in VersionFormatter"
Very inefficient, uses combo of StringBuilder + string.Format

Replace string.Format usage with StringBuilder.Append and StringBuilder.AppendFormat

[2021-07-09 19:45] #10363 closed, assigned to kartheekp-ms

[2021-07-09 20:21] nkolev92 opened #11015 "Obsolete unused types: LibraryDependencyType and related"
LibraryDependencyType  is not used in any restore code. It's a dnx remnant that's not helpful anymore.

[2021-07-09 20:50] kartheekp-ms commented on #10363
The PR associated with this issue has been merged. MSBuild static graph restore displays the following additional log messages at default verbosity i.e. `Normal` due to [Static Graph restore should respect MSBuild verbosity](https://github.com/NuGet/Home/issues/9026) issue.
- `The solution did not have any projects to restore, ensure that all projects are known to be MSBuild and that the projects

[2021-07-09 21:34] dominoFire commented on #10984
@jebriede Will I be impacted by https://github.com/NuGet/Home/issues/10865 ?

[2021-07-09 21:35] dominoFire commented on #10984
IPackageSearchMetadata has some metadata info in it. I think that would work?

https://github.com/NuGet/NuGet.Client/blob/3feb16f44495cfaca4113afea709ee57e4341314/src/NuGet.Core/NuGet.Protocol/Model/IPackageSearchMetadata.cs#L62

[2021-07-09 21:39] #11014 closed, assigned to nkolev92

[2021-07-10 13:11] #5795 closed, assigned to nobody

[2021-07-10 13:12] #5254 closed, assigned to kzu

[2021-07-10 13:12] #5794 closed, assigned to nobody

[2021-07-11 08:16] huangqinjin opened #11016 "[Bug]: `nuget.exe -ExcludeVersion` does not install newer/older package versions"
### NuGet Product Used

NuGet.exe

### Product Version

5.10.0.7240

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

1. nuget install Newtonsoft.Json -Version 12.0.3 -ExcludeVersion -PackageSaveMode nuspec
[code]
2. nuget install Newtonsoft.Json -Version 13.0.1 -ExcludeVersion -PackageSaveMode nuspec
[code]

### Verbose Logs

[code]

[2021-07-11 08:41] huangqinjin opened #11017 "[Bug]: `nuget.exe packages.config -ExcludeVersion` does not install newer package versions"
### NuGet Product Used

NuGet.exe

### Product Version

5.10.0.7240

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

packages.config:
[code]

1. nuget install packages.config -ExcludeVersion
2. (Get-FileHash Newtonsoft.Json\Newtonsoft.Json.nupkg -Algorithm SHA256).Hash
    3D21CAF909F9DB2B5D13249D6728C2506C55E72E2123FBE2AF65A056C0A0BF9D

[2021-07-11 09:02] huangqinjin opened #11018 "[Bug]: `nuget.exe install packages.config` does not honor `-PackageSaveMode nuspec`"
### NuGet Product Used

NuGet.exe

### Product Version

5.10.0.7240

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

packages.config:
[code]

1. nuget install packages.config -PackageSaveMode nuspec

What I expected:

`Newtonsoft.Json.nuspec` in folder `Newtonsoft.Json.13.0.1`.

What I got:

`Newtonsoft.Json.13.0.1.nupkg` in folder `New

[2021-07-11 12:09] Rizzen opened #11019 "[Feature]: When upgrading a package, if a transient package is also "directly" installed, upgrade it to avoid NU1605"
### NuGet Product Used

NuGet.exe, Visual Studio Package Management UI

### Product Version

VS 16.10

### Worked before?

No

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

- Сreate a test project targeting dotnet core (2 or higher)
- Add package **NExpect.Matchers.NSubstitute** at version 1.0.150 -> should pull in **NExpect** at 1.0.150 (ensure that you have a package

[2021-07-12 05:14] SimonCropp commented on #9938
@zivkan

is this documented anywhere?

[2021-07-12 14:05] zivkan commented on #9938
I couldn't find that specifically documented in a quick search, but note that when installing packages into a packages.config project, all the packages in the graph are added directly to the packages.config fie, hence all the packages are "direct". packages.config doesn't have the concept of transitive.

[2021-07-12 14:32] DJackman123 opened #11020 "[Feature]: Move public API from NuGet.CommandLine package to a consumable package"
### NuGet Product(s) Involved

NuGet.exe

### The Elevator Pitch

The NuGet.CommandLine package isn't supposed to be a public API but contains many useful classes and interfaces that really _should_ be a public API.  Please extract the public classes, interfaces, enums, etc. from NuGet.exe into a new dll in its own, consumable, package.

### Additional Context and Details

Our team is asking for s

[2021-07-12 15:04] aortiz-msft commented on #10976
@kartheekp-ms - Could you please help understand what is the improvement for OrchardCore?

[2021-07-12 15:04] aortiz-msft commented on #10976
@jebriede so that this can be tracked with the others

[2021-07-12 16:09] gromilQaaaa commented on #4837
Please fix this problem. Implicit nuget dependencies totally loose their main idea... When project depends on one package and it depends on another - this another is somehow added to the project but not processed properly

[2021-07-12 16:32] heng-liu commented on #10997
Closed as fixed.

[2021-07-12 16:32] #10997 closed, assigned to heng-liu

[2021-07-12 18:13] zivkan opened #11021 "Document which VS extensibility APIs can be called from a background thread"
We should improve docs so callers know which APIs can be called on a background thread, since general VS/VS-threading guidance is that all non-async APIs must be called on the UI thread.

This change adds XMLDoc that Intellisense will show.

Updating docs.microsoft.com is tracked by this issue: https://github.com/NuGet/docs.microsoft.com-nuget/issues/2513

[2021-07-12 18:26] nkolev92 commented on #7931
https://github.com/NuGet/NuGet.Client/compare/dev-nkolev92-removeProjectJsonPack and dev-nkolev92-obsoleteProjectJsonPack have the work.

[2021-07-12 20:18] zkat commented on #10993
@JonDouglas Can you take this into account for discussions in https://github.com/NuGet/Home/pull/10852 and see if there's ways to make these work together?

[2021-07-12 20:23] zkat commented on #10980
It's a public interface, so we can't really change it, which means this is really a docs issue. Would you mind sending us a PR to change that return value doc, since that's what's wrong? :) Feel free to ping me for a review.

[2021-07-12 20:27] zkat commented on #10968
Here's the list of officially supported development platforms for net5.0: https://github.com/dotnet/core/blob/main/release-notes/5.0/5.0-supported-os.md

Unfortunately, raspberry pi isn't an officially supported development platform. As such, I'm going to close this. Thanks for taking the time to file it and having a discussion with us!

[2021-07-12 20:27] #10968 closed, assigned to nobody

[2021-07-12 20:32] zkat commented on #10956
@JonDouglas @anangaur could we maybe make an epic that covers the original proposal for this issue, as well as more issues for the various metric improvements that @loic-sharma suggested?

[2021-07-12 20:34] zkat commented on #10931
Closing by design. Unlisted packages are not meant to be discoverable, however, we made a conscious decision to include them for floating packages to avoid breaking people who were relying on those packages already.

[2021-07-12 20:34] #10931 closed, assigned to nobody

[2021-07-12 20:39] zkat commented on #10884
This scenario as described is not supported, so I'm closing this one. If you're interested in a feature like Maven's `-SNAPSHOT`, please go ahead and file a new feature request issue for that. Thanks for your time! :)

[2021-07-12 20:39] #10884 closed, assigned to nobody

[2021-07-12 20:49] #9244 closed, assigned to rrelyea

[2021-07-12 23:43] zkat commented on #8871
Pushing this into https://github.com/NuGet/Home/issues/10846 but we'll likely get it done before then. It just won't go into net6.0 GA, most likely.

[2021-07-12 23:43] zkat commented on #10872
Pushing this into https://github.com/NuGet/Home/issues/10846 but we'll likely get it done before then. It just won't go into net6.0 GA, most likely.

[2021-07-12 23:44] zkat commented on #9783
wrapping this one up.

[2021-07-12 23:44] #9783 closed, assigned to zkat

[2021-07-13 02:23] heng-liu commented on #11020
Hi  @DJackman123 , thanks for filing this issue!
May I know if this is an ask for publishing symbols of NuGet.* packages? As I saw the examples, like `RestoreTargetGraph ` is from package NuGet.Commands and it's already a public API. `RemoteDependencyWalker` is from package NuGet.DependencyResolver.Core and it's also an public API.
If it's about publishing symbols, there is a tracking issue: https

[2021-07-13 02:45] peterhuene commented on #7860
Closing this as it's been a few years now and it's likely this is no longer relevant.

[2021-07-13 02:45] #7860 closed, assigned to nobody

[2021-07-13 10:05] markusschaber commented on #10993
See https://github.com/NuGet/Home/pull/10852#issuecomment-877942453 for an explanation of @aaronpowell why he thinks that the issues should not be merged. I tend to agree.

[2021-07-13 13:38] marcin-krystianc commented on #9532
I think it can be now closed - fixed in https://github.com/NuGet/NuGet.Client/pull/3934/files#diff-bfa969da7a62c48ed11cdb86eb6cff4b3e61c77d6dbc80759ca510d6d1fa8775

[2021-07-13 13:55] hrlourenco opened #11022 "Nuget Update jump to PreRelease without tag "-prerelease" @ Nuget CLI"
### NuGet Product Used

NuGet.exe

### Product Version

5.10.0

### Worked before?

~5.4.0~ I don't know

### Impact

I'm unable to use this version

### Repro Steps & Context

We have a feed with these version:
- A 12.1.0-alpha0010
- A 12.1.1-alpha0011
- A 12.1.2
-

1. Packages.config has at this moment A 12.1.0-alpha0010
2. nuget update without safe neighter prerelease tag   "nuget update XXX.sl

[2021-07-13 14:01] hrlourenco commented on #11022
Ignore please:
Worked before?
   5.4.0

I don't know if it worked before

[2021-07-13 14:29] DJackman123 commented on #11020
No, this is not about publishing symbols.  And you're right, some of the classes and interfaces I'm using from NuGet.CommandLine are available as public APIs from different NuGet packages.  So, let me start over.

I'm building a custom tool for my team that does some things related to NuGet.exe.  I would like to use as much of the NuGet public APIs as possible so I don't have to re-invent any code

[2021-07-13 16:19] ericstj commented on #9532
Indeed it looks like it.  TFTF!

[2021-07-13 16:19] #9532 closed, assigned to nobody

[2021-07-13 16:50] krafs commented on #10980
I figured as much, but didn't want to assume.
PR has been created.

[2021-07-13 16:53] hrlourenco opened #11023 "Nuget pack: Description is required using nuspec file"
### NuGet Product Used

NuGet.exe

### Product Version

5.10.0

### Worked before?

5.4.0

### Impact

I'm unable to use this version

### Repro Steps & Context

Hi all,

Whenever I make a nuget pack, it gives me "Description is required". I'm using nuspec files and I have AssemblyDescription into AssemblyInfo file.

This stars in this version "5.7.0". I move back to 5.4.0 where this problem does

[2021-07-13 17:17] heng-liu commented on #11011
Hi @burtonrodman, may I know if any of the following workarounds work for you?
1.Clear the http cache before build: dotnet nuget locals http-cache --clear
2.Run dotnet restore with --no-cache
If yes, then this is a duplicate of https://github.com/NuGet/Home/issues/3116
If not, could you please send the detailed error message? (--verbosity d) Thanks!

[2021-07-13 18:54] aetos382 opened #11025 "[Bug]: `$(IsPackable)` is not quoted"
### NuGet Product Used

dotnet.exe

### Product Version

5.0.302

### Worked before?

yes

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

Create a project file as shown below, and run `dotnet pack -v d` in the directory where this file is located.

[code]

This will output the following to the log.

This is because `$(IsPackable)` is not enclosed in quotation marks in t

[2021-07-13 19:08] jebriede commented on #10984
@dominoFire https://github.com/NuGet/Home/issues/10865 should not impact this work. That issue is already present and will handled separately.

[2021-07-13 20:54] erdembayar opened #11026 "Create Apex tests with multi source repositories for PMUI Package namespace filtering"
Address [comment ](https://github.com/NuGet/NuGet.Client/pull/4140#discussion_r669086301) about missing Apex test for installing packages with package namespace filter into PMUI (solution and project) with multiple source repositories.
Need to change Apex contract so we can select `All` option when we try to install in Apex test.

![image.png](https://images.zenhubusercontent.com/5eb1d84a3cd56675c

[2021-07-13 21:48] DannyMeister commented on #6941
We are another case of finding the same file a few times via wildcards in some of our large nuspecs where we've been transitioning to wildcards to make maintenance more manageable. This is a thing which can occur frequently given how VS projects copy their dependencies into each library bin that you build.  We haven't though of a good way to cope with this yet.

This change has brought down our CI

[2021-07-13 22:36] burtonrodman commented on #11011
thanks for these suggestions.  unfortunately, the issue has not reoccurred since my report.  i have asked my team to do these things if they see it again.

[2021-07-13 22:55] heng-liu commented on #11025
Hi, I'm not sure if my understanding is correct. Pls correct me is there is any misunderstanding. Thanks!
The target `GenerateNuspec` is skipped as `<IsPackable>false</IsPackable>`.
If you do not want to skip this target, you may set it as `<IsPackable>true</IsPackable>`.

So the quotation marks do not affect the correctness of the evaluation results.

You may try the following to confirm that:
1.

[2021-07-13 23:57] #10980 closed, assigned to nobody

[2021-07-14 01:02] MattGal opened #11027 "[Feature]: Make retry count and backoff behavior configurable for Nuget Clients"
### NuGet Product(s) Involved

NuGet.exe, dotnet.exe

### The Elevator Pitch

Users often do know when they use Nuget Package feeds heavily, and certain > 500 responses (such as 503) are often circuit breaker responses to excessive traffic, only made worse by even more requests.  Providing users with a way to change their retry interval, linearity of retry timing, and number of retries would let t

[2021-07-14 01:40] KirillOsenkov opened #11028 "[Bug]: KeyNotFoundException in LockFileBuilder.CreateLockFile"
### NuGet Product Used

dotnet.exe

### Product Version

5.0.301

### Worked before?

_No response_

### Impact

Other

### Repro Steps & Context

I ran dotnet restore on my solution on CI after first installing .NET 5.0.301.

I saw a NullReferenceException and a KeyNotFoundException.

[code]

[code]

### Verbose Logs

[code]

[2021-07-14 01:41] KirillOsenkov commented on #11028
We shouldn't be throwing NullReferenceException or KeyNotFoundException no matter what.

[2021-07-14 01:46] KirillOsenkov commented on #11028
I have skimmed through the source for `LockFileBuilder.CreateLockFile` and I have to be honest, that method body scares me a little bit. It's too long, it could clearly benefit from careful refactoring, cleanup etc. A lot of invariant checking needs to be added. I don't even know which one of these dictionary accesses is failing, but they all look like they aren't being nearly careful enough.

I'm

[2021-07-14 03:43] nkolev92 opened #11029 "Define a NuGet experimentation service in Visual Studio"
This will be convenient for https://github.com/NuGet/Home/issues/10678.

[2021-07-14 06:33] ErikEJ opened #11030 "[Bug]: Wrong package suggested for SqlConnection/SqlCommand"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

5.9

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

VS package suggestions: should suggest Microsoft.Data.SqlClient instead of System.Data.SqlClient

### Verbose Logs

_No response_

[2021-07-14 08:52] aetos382 commented on #11025
@heng-liu

Yes, I know that this issue will not affect the result.

The rule of writing is that when comparing variables such as `$(IsPackable)`, as a rule, they are surrounded by single quotation marks, so it should be the same here.

[2021-07-14 10:49] marcin-krystianc opened #11031 "[Regression]: Performance regression for cold restores in .NET 5.0.x"
### NuGet Product Used

dotnet.exe

### Product Version

5.x

### Worked before?

3.1.407

### Impact

Other

### Repro Steps & Context

I've noticed a NuGet performance regression between versions 3.1.x and 5.0.x of .NET SDK.
It only affects cold restores (i.e. when packages need to be downloaded from remote feed). When the restore happens for a warm cache (i.e. global packages folder already con

[2021-07-14 16:18] heng-liu commented on #11025
Hi @aetos382 , thanks for the clarification!
Would you mind raising a PR to fix that?

To summarize, the code in this [line](https://github.com/NuGet/NuGet.Client/blob/680f9bd4e97db7cd7482584276886764de69d3cb/src/NuGet.Core/NuGet.Build.Tasks.Pack/NuGet.Build.Tasks.Pack.targets#L213) should be changed from:
`Condition="$(IsPackable) == 'true'"` into `Condition="'$(IsPackable)' == 'true'"`.

Althoug

[2021-07-14 20:42] heng-liu commented on #11009
As of now, it seems we only support PackageReference for C++/CLI projects. (Refer to https://github.com/NuGet/Home/blob/dev/proposed/2021/NuGet-CPPCLI-Support.md)

[2021-07-14 21:51] dominoFire opened #11032 "[Feature]: Deep Links in NuGet PM in Visual Studio"
### NuGet Product(s) Involved

Visual Studio Package Management UI

### The Elevator Pitch

Easily add NuGet packages right from nuget.org to Visual Studio.

With just one click, that package you saw in nuget.org to your project!

### Additional Context and Details

Needs feature design and URI design.

[2021-07-14 22:24] heng-liu commented on #11019
Hi @Rizzen, I tried to repro and it did show NU1605 if I only chose one package to upgrade.
But if I checked both the two packages and click "Updates". Then both of them are updated successfully. There is no downgrade error anymore.
I think this is fixed by https://github.com/NuGet/NuGet.Client/pull/3559.
Could you try the same approach and let us know if it works for you? Thanks!

[2021-07-14 22:56] zivkan commented on #11009
C++/CLI PackageReference support is still in development, not yet available.

C++ projects don't officially support PackageReference, and we need the C++ project system team to buy-in and make some changes for it all to work end to end. There's a duplicate issue, but this comment specifically you may be interested in: https://github.com/NuGet/Home/issues/8874#issuecomment-659702172

[2021-07-14 22:57] jlaanstra commented on #11009
I'm aware of the explicitly supported scenario for C++/CLI projects. However other C++ projects can enable this themselves without official support and it would be nice if NuGet didn't get in the way.

If the project says it has the PackageReference project capability, then why would Nuget pretend it knows better and ignore the values for TargetFramework/TargetFrameworkIdentifier/TargetFrameworkVe

[2021-07-14 23:20] heng-liu commented on #11030
Hi @ErikEJ , I notice you're a contributor of the package. May I know the relationship between the two packages? Is one renamed to another one? Thanks!

[2021-07-14 23:54] zivkan commented on #11009
Because every single native C++ project falsely claims to be .NET Framework (from memory 4.0). You can get an MSBuild binlog to check, or "pre-process" the project file.

This might be due to the fact that MSBuild and the Microsoft.Common.props and targets were created for .NET, not to be a generalised build tool, and VC++ adopted MSBuild, and possibly have to pretend to be .NET Framework so Proje

[2021-07-15 00:38] jlaanstra commented on #11009
Indeed, the default is .NET Framework v4.0

I understand what you are saying here: because of the .NET Framework 4.0 defaults, NuGet has to special case for the native TFM to work as it does today.

However, https://github.com/NuGet/NuGet.Client/pull/4076/files limited the special casing of vcxproj by checking for ClrSupport=NetCore. My proposal is to also limit the special casing if the project e

[2021-07-15 00:53] zivkan commented on #11009
Do you work on the C++ UWP project system?  If so, please reach out to us internally. I'm not deeply involved with the C++/CLI work, so I'm not sure if there are additional things that need to be taken into consideration, or if your proposal is in itself, sufficient. All I know is that for C++/CLI there's a bunch of work on the C++ project system side that needs to happen, in additional to changes

[2021-07-15 02:38] heng-liu commented on #11031
Hi @marcin-krystianc , may I know if the testing is on Windows platform?
If yes, it might be related to this issue: https://github.com/NuGet/Home/issues/10251. Could you check if this [comment ](https://github.com/NuGet/Home/issues/10251#issuecomment-810985729)works for you?
.NET3.1 doesn't have package signature verification during restore, while .NET5.0 and .NET6.0 will do the signature verifica

[2021-07-15 05:18] heng-liu commented on #11028
Could you provide more info for us to better understand the scenario? Thanks!
1.Is this running dotnet restore or nuget.exe restore? (I just glanced in the repo and [it ](https://devdiv.visualstudio.com/DevDiv/_git/VSLanguageServerClient?version=GBdevelop&path=%2Ftools%2Fscripts%2FRestore-NuGetPackages.ps1)seems running nuget.exe restore? )
2.Could you provide detailed repro steps and sample proje

[2021-07-15 05:25] KirillOsenkov commented on #11028
This is dotnet restore.

I don't have the repro steps or a sample project unfortunately, but glancing at the call stack should give you a starting point to reason about the possible exceptions there.

[2021-07-15 05:29] ErikEJ commented on #11030
@heng-liu Both packages are owned by the Microsoft SQL Server team, S.D.S. is part of .NET Core/.NET Framework runtime, and will not receive any new features, M.D.S. ships out of band with .NET, and is the de-facto SqlClient for .NET, and should be used for any new development. So suggesting S.D.S. is wrong.

/cc @cheenamalhotra @vickyharp

[2021-07-15 09:36] marsop commented on #10291
I am experiencing this problem as well. Basically the `value` parameter is ignored, making it useless.

[2021-07-15 14:10] heng-liu commented on #11030
Hi @loic-sharma, do you know if it's related to the work mentioned here? https://microsoft.sharepoint.com/teams/NuGet/_layouts/OneNote.aspx?id=%2Fteams%2FNuGet%2FTeam%2FNugetServer%2FNugetServerTeamNote&wd=target%28%5BDeprecated%5D%20Specs%20%28in%20progress%5C%29.one%7C910181C5-8695-4A1C-9792-A56DBB86F1C3%2FEngineering%20Design%7CD4F8A54A-BAB4-4F07-A495-E136135CAF48%2F%29
onenote:https://microsof

[2021-07-15 16:14] heng-liu commented on #11028
Hi @KirillOsenkov , thanks for the quick response.
Actually the stack trace indicates it's running NuGet.exe restore (`NuGet.CommandLine.Command.Execute()`). So I'm confused why it's there if it's running dotnet restore.
Then I checked your repo, and found there were two restore commands: https://devdiv.visualstudio.com/DevDiv/_git/VSLanguageServerClient?version=GBdevelop&path=%2Finit.ps1
[code]
A

[2021-07-15 16:58] ronnyek commented on #4387
I've just got one question... I've got devs complaining about this... basically we have a corporate level self signed cert authroity and host our own azure devops server with its artifact feeds. User is complaining of errors with ssl trust only from the nuget CLI.

Should nuget.exe be trying to use certs that are trusted in windows cert store, or should they be somewhat disconnected, and there is

[2021-07-15 18:03] #11029 closed, assigned to nkolev92

[2021-07-15 18:16] donnie-msft commented on #10244
We had a quick discussion and think this should be part of an Epic to deprecate `nuget.exe`. Lowering priority of this specific task until that can be written up.

[2021-07-15 18:16] aortiz-msft opened #11034 "Should we move Nuget.exe usage into MsBuild.exe?"
- [ ] https://github.com/nuget/Home/issues/10244

[2021-07-15 18:25] donnie-msft commented on #10876
Changing priority per aortiz during Triage.

[2021-07-15 18:26] donnie-msft commented on #9572
Lowering to p2 based on what we've heard from customers, /cc @jebriede

[2021-07-15 18:37] zkat commented on #10924
Closing this one. @nkolev92 do you mind creating a new issue to track the backporting?

[2021-07-15 18:37] #10924 closed, assigned to nkolev92

[2021-07-15 18:44] KirillOsenkov commented on #11028
Hi @heng-liu, according to the log, the NullReferenceException happens in dotnet restore:
![image](https://user-images.githubusercontent.com/679326/125840303-5b4dd73d-8dbd-4ee9-ac45-e6dbdd8b7f22.png)

And you're right, the subsequent KeyNotFoundException happens in Nuget.exe.

I'm really doubtful we'll be able to find a solid repro, because this was flakiness on a CI agent, that didn't repro since

[2021-07-15 18:54] KirillOsenkov commented on #11028
The bad news is I just checked and there are no published artifacts from init.cmd.

The good news is I think if we run `dotnet nuget locals all --clear` followed by `init.cmd` in a loop, we are bound to catch it. Maybe install a poor network connection simulator that messes with download speed and quality.

[2021-07-15 18:56] KirillOsenkov commented on #11028
Another bug is that the NullReference exception doesn't print the entire stack trace to the Console, so we don't know where exactly it happened.

[2021-07-15 18:59] zkat commented on #10973
Thank you reporting this issue. At this point we do not have enough information to continue investigating the issue.

Please feel free to comment or open a new issue if needed.

[2021-07-15 18:59] #10973 closed, assigned to nobody

[2021-07-15 21:29] KalleOlaviNiemitalo commented on #10244
Does `-p:RestorePackagesConfig=true` support _web site_ projects? (Those can be part of a solution and have a packages.config file, but they do not have a .csproj file, unlike _web application_ projects.) If not, then nuget.exe will still have to be used for them.

[2021-07-15 23:34] #10738 closed, assigned to erdembayar

[2021-07-15 23:54] zivkan commented on #10244
@KalleOlaviNiemitalo from a quick test, nuget.exe does not restore the website project's packages.config file, when restoring the project.

My `nuget.exe restore website1.sln` output:

[code]

It didn't even find the website project's packages.config project to restore.  So, `git clean -xdf ; nuget.exe restore my.sln ; msbuild my.sln` ends up with a bunch of MSB3030 and MSB4181 warnings because th

[2021-07-16 00:00] nkolev92 commented on #10738
Putting back the original estimate of 15

[2021-07-16 00:24] nkolev92 commented on #11009
For better or worse, PackageReference support is 2 fold. Commandline and VS and we have to consider both scenarios.

In VS, I think the biggest challenge here is actually ensuring that project system that loads the project supports what NuGet would need for PackageReference.
The C++ team has been fairly consistent in their messaging that they don't want PackageReference support for vcxproj, so thi

[2021-07-16 01:14] MiYanni commented on #10830
I like this proposal. But keep in mind, other systems might rely on certain information existing there. NuGet ultimately consumes this information, but, for example, Visual Studio writes this information to the csproj. I'm working on this issue here which is directly related. https://github.com/dotnet/project-system/issues/7376

[2021-07-16 02:10] jlaanstra commented on #11009
That's a good point. I suppose you could look at the value of ProjectRestoreStyle?

Can you elaborate on what you mean by this? Isn't transitivity automatically enabled with PackageReference?

[2021-07-16 02:38] kartheekp-ms opened #11035 "[Feature]: Address all the package installation rules for package namespaces work in PackageReference and PackageDownload scenarios."
### NuGet Product(s) Involved

NuGet.exe, Visual Studio Package Management UI, Visual Studio Package Manager Console, MSBuild.exe, dotnet.exe

### The Elevator Pitch

[The package installation rules](https://github.com/NuGet/Home/blob/dev/proposed/2021/PackageNamespaces.md#package-installation-rules) in the package namespaces spec has rule: `When a package id needs to be downloaded, it is first co

[2021-07-16 02:44] kartheekp-ms opened #11036 "[Feature]: Address all the package installation rules for package namespaces work in Packages Config style projects"
### NuGet Product(s) Involved

NuGet.exe, Visual Studio Package Management UI, MSBuild.exe

### The Elevator Pitch

[The package installation rules](https://github.com/NuGet/Home/blob/dev/proposed/2021/PackageNamespaces.md#package-installation-rules) in the package namespaces spec has rule: `When a package id needs to be downloaded, it is first compared against sources with namespaces. If any matc

[2021-07-16 02:59] KirillOsenkov commented on #11028
Our Init.ps1 also has this:

[code]

We can probably decrease the timeout to 1 second to simulate whatever network fluke we've been seeing.

[2021-07-16 09:02] emmenlau commented on #2852
Could this issue please be reconsidered?

I waste 2 minutes on every build for compression, compared to the time it takes `tar` to just archive the files uncompressed. For a developer this waste of time is really really unpleasant.

[2021-07-16 10:15] marcin-krystianc commented on #11031
Yes, my testing was done on Windows. But I don't think that it has anything to do with firewall or access to the Internet in general. I've been able to reproduce in two different machines, both of them have unrestricted (and very fast) Internet access.

[2021-07-16 11:39] brunocampiol opened #11037 "[Bug]: Invalid character in the given encoding. Line 1, position 1."
### NuGet Product Used

dotnet.exe

### Product Version

.NET SDK 5.0.301, MS Build 16, Nuget 5.10.0.7240, VS2019, Net Core 3.1

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

**Whenever I open a new project visual studio says on "Package Manager" output:**

NuGet package restore failed. Please see Error List window for detailed w

[2021-07-16 14:42] HugoLemieux commented on #5553
A lock file has been introduced in order to properly do this with PackageReference.
Are there any updates on this issue?

[2021-07-16 16:04] heng-liu commented on #10625
Duplicate of https://github.com/NuGet/Home/issues/10997
The document is already finished: https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-nuget-sign

[2021-07-16 16:04] #10625 closed, assigned to nobody

[2021-07-16 16:13] brunocampiol commented on #11037
Restoring packages for C:\Gitlab\project\test\smoke\SmokeTests\SmokeTests.csproj...
System.Xml.XmlException: Invalid character in the given encoding. Line 1, position 1.
   at System.Xml.XmlTextReaderImpl.Throw(Exception e)
   at System.Xml.XmlTextReaderImpl.Throw(String res, String arg)
   at System.Xml.XmlTextReaderImpl.InvalidCharRecovery(Int32& bytesCount, Int32& charsCount)
   at System.Xml.X

[2021-07-16 16:28] kzu commented on #10830
I don't think that's related. My whole point is that if any item (whatever its type and purpose in the package metadata and/or contents) specifies `PackagePath`, just assume `Pack=true` for it, otherwise, why would I bother adding the former attribute?

[2021-07-16 16:40] heng-liu commented on #11037
Hi @brunocampiol , thanks for filing this issue!
It looks like there is some issue in a nuspec file of a certain package.
Could you help us narrow down the issue? Like, which package brings in this issue?
You may try to create a sample project, and each time adding one package and restore, until you have this issue.
It would be great if you could help us provide the repro steps. Thanks!

[2021-07-16 17:48] heng-liu commented on #11031
Could you help check if there is any difference of the dependencies when changing the .NET version? Thanks!
That is, clear the global package folder before running restore, and check the numbers and sizes of the files under global package folder after restore.
About the global package folder, pls refer to https://docs.microsoft.com/en-us/nuget/reference/nuget-config-file

[2021-07-16 18:47] #11015 closed, assigned to nkolev92

[2021-07-16 18:51] nkolev92 commented on #11009
I worded that badly.

We'd need to ensure that transitivity is done picked up correctly.

Yes, with PR you get it automatically, but project to project transitivity matters as well, as there's an msbuild/build tasks component there that needs validated.

[2021-07-16 21:46] nkolev92 commented on #10948
@erdembayar

Are you planning to validate both packages.config and PackageReference with this one?

cc @kartheekp-ms

[2021-07-16 22:05] erdembayar commented on #10948
@nkolev92
Packages.config is yes, not sure about `PackageReference`, but I'll try to validate both.

[2021-07-16 22:07] nkolev92 commented on #10948
I see `dotnet add package` is in the name, but that only handles PR.

I'll let you and @kartheekp-ms decide, but consider splitting up the work in 2 issues.

[2021-07-16 22:08] nkolev92 commented on #10948
For complete here are the scenarios of interest PC & PR.

* nuget.exe restore -source
* dotnet.exe restore -source
* RestoreSources in csproj for PackageReference
* nuget.exe install -source
* dotnet add package -source

[2021-07-16 22:44] erdembayar commented on #10948
@nkolev92
Could you be able to give more context on `RestoreSources in csproj for PackageReference`? How does it work?

[2021-07-16 22:53] kartheekp-ms opened #11038 "Add additional tests for package namespaces (PackageReference) restore"
https://github.com/NuGet/NuGet.Client/pull/4149#pullrequestreview-708764573

Similarly to packages.config, we should a bunch of other scenarios.

For example:

* Add tests for `RestoreSources` in project file.
* Add tests for dotnet add package, which calls restore itself.
* Add  tests restore `-source`.  (This comment will be addressed in https://github.com/NuGet/Home/issues/10948)

Update:

- [x

[2021-07-17 00:00] loic-sharma commented on #11030
Hello, the work to fix this is tracked by: https://github.com/dotnet/roslyn/issues/53736

[2021-07-17 01:59] EmilAlipiev commented on #8016
this doesnt work because you need to push nupkg first and snupkg after when I try with your code, it says that its duplicate although 2 different extension?

[2021-07-17 05:24] #11001 closed, assigned to erdembayar

[2021-07-18 06:03] vsfeedback opened #11039 "NuGet Package Manager extracts files with incorrect timestamp"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/NuGet-Package-Manager-extracts-files-wit/1471512)._

---
[regression] [worked-in:I'm not sure, maybe 16.7.x]
When using the built in NuGet Package Manager in Visual Studio 2019 (16.10.3) to install, update or restore packages the downloaded files seem to have an incorrect timestamp. They

[2021-07-18 06:14] heng-liu commented on #11039
I could repro by installing newtonsoft.json in different ways:
1.Clear the global package folder and install newtonsoft.json by running `Install-Package newtonsoft.json` in Package manager console.
The timestamps are:
![2](https://user-images.githubusercontent.com/45407901/126057610-a3c7f6bb-f15d-477a-a963-e7e2535595d5.png)

2.Clear the global package folder and install newtonsoft.json by running`

[2021-07-18 06:17] heng-liu commented on #11039
Found this comment: https://github.com/NuGet/Home/issues/7395#issuecomment-763852659

[2021-07-18 08:30] rstm-sf opened #11040 "[Bug]: error NU1605: Detected package downgrade with `.NETCoreApp` and `.NETFramework`"
### NuGet Product Used

dotnet.exe, MSBuild.exe

### Product Version

[code]

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

1. `dotnet new -i Avalonia.Templates`
2. `dotnet new avalonia.app -o Test`
3. Change Test.csproj
[code]
4. `dotnet restore` and see errors

**Workarounds**
1.
[code]

2.
[code]

**Additional**

It also doesn't wo

[2021-07-18 17:19] #11030 closed, assigned to nobody

[2021-07-19 02:07] loic-sharma commented on #9667
I created a hacky prototype that hooks into your build and tries to download missing symbols: https://github.com/loic-sharma/symbols

[2021-07-19 16:20] chgill-MSFT commented on #10551
@donnie-msft can I close this? Should all the remaining issues tagged specifically for VS.Oe be closed?

[2021-07-19 16:23] donnie-msft commented on #10551
@chgill-MSFT That sounds like a question for @aortiz-msft

[2021-07-19 16:40] davisnw commented on #10924
Where can we track when this has been incorporated into an official Visual Studio release?

[2021-07-19 17:04] nkolev92 commented on #10924
As of now, the fix is available in 17.0 preview 3.

[2021-07-19 17:44] jzabroski opened #11043 "The glob syntax doesn't seem to be documented anywhere."
The glob syntax doesn't seem to be documented anywhere. Would be nice to add this to the TODO list. In particular I'd love to know how to negate a match e.g. `*!(preview)*.nupkg` (find all .nupkg files without `preview` in the file name).

_Originally posted by @RehanSaeed in https://github.com/NuGet/Home/issues/3584#issuecomment-636716243_

[2021-07-19 17:48] jzabroski commented on #3584
@RehanSaeed Let me know if you ever discovered the inner secrets of how globbing works.

Running into an issue with `dotnet.exe pack` with a custom `package.nuspec` file.

One possible solution seems to be:
[code]

But that doesn't quite work for my scenario.

[2021-07-19 17:58] nkolev92 commented on #9782
Updating the estimate to represent the leftover work.

[2021-07-19 18:02] HavenDV commented on #10746
https://github.com/Fody/Equals/pull/356
A similar problem also applies to all projects from [Fody](https://github.com/Fody)

[2021-07-19 18:19] ltrzesniewski commented on #10746
To clarify: Fody weaver packages include a library which provides code that is needed to configure the desired weaving. The references to the library are then removed by Fody during its processing.

These packages can't set `developmentDependency` to true since it removes `compile` from `IncludeAssets`, and the library would become unusable.

I know it's a very specific use case, but ideally we'd

[2021-07-19 18:51] nkolev92 opened #11044 "Understand why asp.net web app transitively referencing netstandard fails, but netfx works"
The app in quesiton is https://github.com/KSchlobohm/TransitiveWebApp.

[2021-07-19 18:56] nkolev92 commented on #10948
You can do the following and it overrides the package sources specified in the nuget config.

[code]

[2021-07-19 20:15] zkat commented on #11011
Closing because it doesn't seem to repro anymore. Feel free to file a new issue if you see this again!

[2021-07-19 20:20] zkat commented on #11020
Changing these packages such that they could work as libraries would be a significant amount of work on our end, as well as a maintenance cost.

We recommend that if you want to use the logic in these files, feel free to copy the logic over (with appropriate attribution when you redistribute), but we will not be publishing this ourselves.

Thanks for your request, and best of luck with your projec

[2021-07-19 20:20] #11020 closed, assigned to nobody

[2021-07-19 20:21] davisnw commented on #10924
17.0 preview 3 looks like Visual Studio 2022.

Will this fix be backported to Visual Studio 2019 any time soon?

(I see in the discussion a link regarding backporting - however, that appears to be accessible to Microsoft employees only).

[2021-07-19 20:27] zkat commented on #11027
Adding configuration can be a fairly costly thing for customers sometimes and lead to unexpected issues as things change. As such, I'm wondering if it would work for your case if NuGet added support for the [`Retry-After HTTP Header`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Retry-After), which is designed precisely for this use-case, but that's a discussion you would need to have

[2021-07-19 20:32] MattGal commented on #11027
Thanks for the info @zkat.  I think it's well within the realm of things we can change to ask Azure DevOps Package feeds to do this, and as an interested party in the .NET engineering services team, I'd gladly handle facilitating these conversations.

Is there any hope for shorter-term relief, such as at making the retry delay greater than 200 ms?

[2021-07-19 20:38] zkat commented on #11039
@erdembayar please validate this and move it back to new issues as needed (add the NeedsTriageDiscussion label, too)

[2021-07-19 20:51] zkat commented on #11027
unfortunately, due to the stage in our net6/dev17 release cycle, we're really trying to avoid more impactful changes like this one, so unless it involves a server-requested delay change, we don't think it would be a good idea to do this as a quick patch.

That said thanks for starting this conversation with the Azure DevOps folks! I think this would be a cool feature to have and would be very help

[2021-07-19 21:05] zivkan opened #11045 "[Feature]: Include filename(s) when XML error happens reading nuspec"
### NuGet Product(s) Involved

NuGet.exe, Visual Studio Package Management UI, MSBuild.exe, dotnet.exe

### The Elevator Pitch

We've seen multiple issues similar to https://github.com/NuGet/Home/issues/11037. One of the challenges for both customers and the nuget team is that we don't know what files the errors are coming from.

Therefore, as a first step, we should improve the exception message

[2021-07-19 21:07] zivkan opened #11046 "[Feature]: report filename when nuget.config file has invalid xml"
### NuGet Product(s) Involved

NuGet.exe, Visual Studio Package Management UI, MSBuild.exe, dotnet.exe

### The Elevator Pitch

When a nuget.config file has invalid XML, the error message that customers sees is not actionable. We should report the filename, so customers know the full path of the nuget.cofig file that is invalid.

### Additional Context and Details

Please make sure that the filena

[2021-07-19 21:10] phil-hodgson commented on #11027
Do we need it to be configurable, or instead, can we just improve the baked-in retry strategy?

[2021-07-20 03:06] mingkuang-Chuyu commented on #11009
I hope to support it as soon as possible. The TFM feature is currently implemented through scripts, but it’s not very convenient to use.

As for vcpkg, it cannot solve our needs. I have also tried to use vcpkg, but it can only solve some simple problems and is not suitable for advanced users like us.

[2021-07-20 03:11] mingkuang-Chuyu commented on #11009
In fact, I think the supporting work is not complicated. I maintain a branch separately, and C++ can use all the features of PackageReference.

The biggest problem now is that certain teams are unwilling to support, even if it only requires minor changes. For them, vcpkg can solve all the problems.

I think this is ridiculous, and I feel sad for them...

[2021-07-20 10:54] v-luzh opened #11048 "[Bug Bash] Hard to see the package list text-box of “Preview Changes” dialog is focused in Dark/Blend theme"
## Details about Problem
VS Version: Main\31519.82
NuGet Version: Dev\6.0.0.155
OS Version: Windows-10-Enterprise-21H1
## Repro steps
1.	Launch VS and set the VS theme to “Dark” (or “Blend” in Blend for VS) through clicking menu “Tools->Options->Environment->Color Theme”
2.	Create a solution [e.g. ASP.NET Web Application (.NET Framework 4.8) ->Single Page Application].
3.	Open the project-level PM

[2021-07-20 10:56] v-luzh opened #11049 "[Bug Bash] The check-box “Top-Level” in “Migrate NuGet format to PackageReference” dialog is truncated by the top border"
## Details about Problem
VS Version: Main\31519.82
NuGet Version: Dev\6.0.0.155
OS Version: Windows-10-Enterprise-21H1
## Repro steps
1.	Create a C# Console Application (.NET Framework) template via VS.
2.	Open PM UI of the project by right-clicking the project->Manage NuGet Packages… in Solution Explorer.
3.	Install a package with “packages.config” format.
4.	Right-click the “References” node and

[2021-07-20 10:57] v-luzh opened #11050 "[Bug Bash] There is a typo in the readme.txt files of package “Castle.Core”"
## Details about Problem
VS Version: Main\31519.82
NuGet Version: Dev\6.0.0.155
OS Version: Windows-10-Enterprise-21H1
## Repro steps
1.Create a C# Console Application (.NET Core) template via VS.
2.Open the PM UI of the project and install the package Castle.Core (version from “3.0.0.2001” to “4.2.1” in the “version” drop-down list).
3.Observe the auto-opened readme.txt file.
## Expected
No typo

[2021-07-20 10:59] v-luzh opened #11051 "[Bug Bash][Suggestion] The “installed” package version showed a version installed into other project in solution-level PM UI"
## Details about Problem
VS Version: Main\31519.82
NuGet Version: Dev\6.0.0.155
OS Version: Windows-10-Enterprise-21H1
## Repro steps
1.Create a solution with multiple C# Console App (.NET Framework 4.8) projects in VS.
2.Right-Click the solution in the Solution Explorer and select the “Mange NuGet Packages for Solution”
3.Go to “Browse” tab and select a package (e.g. Newtonsoft.Json)
4.Check the

[2021-07-20 14:59] jzabroski opened #11052 "[Bug]: NU5050 doesn't look at source file prior to determining if target is duplicate"
### NuGet Product Used

dotnet.exe

### Product Version

dotnet.exe --version 5.0.301

### Worked before?

Anything prior to https://github.com/NuGet/NuGet.Client/pull/3923

### Impact

I'm unable to use this version

### Repro Steps & Context

@Zkat Thanks for working on this previous PR.  It saved me a bunch of time tracking down problems yesterday.  However, it took me awhile to troubleshoot ho

[2021-07-20 15:08] jzabroski commented on #11052
@kartheekp-ms This is a follow up to the code review comments I left yesterday on the original PR for Nu5050.

[2021-07-20 15:11] jzabroski commented on #11052
Note, it is also possible for a nupkg to generate that's silently corrupt by removing "all duplicates".  Trying to open the nupkg w/ PeaZip or NugetPackageExplorer.exe will fail with a fatal error.  So, there is probably another missing package validation rule here.

[2021-07-20 15:16] jzabroski opened #11053 "[Bug]: PackTask can generate an invalid nupkg that is silently corrupt until attempt to list zip contents"
### NuGet Product Used

dotnet.exe

### Product Version

5.0.302

### Worked before?

Not sure; discovered this while investigating NU5050 behaviors

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

You can trivially reproduce this by forcibly corrupting the inputs to GenerateNuspec (`@(NuGetPackInput)`), but I did observe this error in other ways.

This suggests PackTask

[2021-07-20 17:16] donnie-msft commented on #11050
Readme files are content of the NuGet packages that authors create.

In 2018, they fixed this typo in their readme: https://github.com/castleproject/Core/commit/21243431f66723a3d553717e61108b6a8c82be6d#diff-7d3c78f4e03444f21be9fd7a45350893e2bac92a0165aab1afefddb9623d1ebdR7

According to https://www.nuget.org/packages/Castle.Core/ the versions you indicate where it repro are dated before they made

[2021-07-20 17:16] #11050 closed, assigned to nobody

[2021-07-20 17:36] donnie-msft commented on #11051
I believe this is expected. The Installed version in Solution PM UI is indicating the version installed across the entire solution, or it indicates "multiple versions installed" when there are multiple versions. The reason for having checkboxes is to allow multi-selection for actions (install/uninstall/update). Selecting a row is for readability purposes, not for refreshing the state or enabling a

[2021-07-20 17:36] #11051 closed, assigned to nobody

[2021-07-20 18:15] sandaluz-aptera commented on #11011
Microsoft (R) Build Engine version 16.10.2+857e5a733 for .NET
Copyright (C) Microsoft Corporation. All rights reserved.

  Determining projects to restore...
C:\Projects\*****\management-portal-api\ManagementPortalApi\ManagementPortalApi.csproj : warning NU1603: Microsoft.AspNetCore.OData 7.5.8 depends on Newtonsoft.Json (>= 10.0.3) but Newtonsoft.Json 10.0.3 was not found. An approximate best mat

[2021-07-20 18:21] burtonrodman commented on #11011
@heng-liu  after getting this repro, using the command you provided made no difference

[2021-07-20 22:48] eriawan commented on #11025
@heng-liu

I would like to take this issue. Please assign this to me. 🙂

[2021-07-20 22:57] eriawan commented on #11025
PR submitted: https://github.com/NuGet/NuGet.Client/pull/4159

[2021-07-21 03:14] dominoFire opened #11055 "[Bug]: [Accessibility] Hard to read links in PM UI search results using Light or Dark Theme"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

16.10

### Worked before?

No

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

1. Open a console application in VS
2. Right click on project and select 'Manage NuGet packages...'
3. Look for 'jquery' in Package Manager search box.
4. Look for first search result, as shown below:

### Expect

[2021-07-21 08:38] YGeneral opened #11056 "[Bug]: Unable to get repository signature information for source https://api.nuget.org/v3-index/repository-signatures/5.0.0/index.json"
### NuGet Product Used

dotnet.exe, MSBuild.exe, NuGet.exe

### Product Version

dotnet5

### Worked before?

.net core 3.1

### Impact

I'm unable to use this version

### Repro Steps & Context

PS D:\Project\gitlab\PoJun.SingleSignOn\source> docker-compose build

### Verbose Logs

[code]

[2021-07-21 15:28] zivkan commented on #11056
@YGeneral the error message says:

It appears your docker container is having network issues.

[2021-07-21 18:42] jzabroski commented on #6431
@gh-andre Worth noting that a variation on your request was implemented here: https://github.com/NuGet/NuGet.Client/pull/2271

Further, in https://github.com/dotnet/project-system/pull/4226 it was incorporated into the Visual Studio Project Systems' Nuget Promotion system (the Visual Studio Common Project System sub-system that handles nuget restore events). https://github.com/NuGet/Home/blob/7f73

[2021-07-21 18:54] crummel opened #11059 "[ArPow] NuGet.Client should publish source-build intermediate packages"
### NuGet Product Used

dotnet.exe

### Product Version

NuGet client build process

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

NuGet.Client now produces source-build intermediate packages (after https://github.com/NuGet/NuGet.Client/pull/4105) but these aren't included in the manifest of binaries or published to BAR.  To comp