[2015-04-15 02:41] micongjie opened #434 "Saved a nuspec file with wrong reference whitelist when PackageSaveMode = nuspec"
I'm using reference whitelist in nuspec to filter out contracts assembly. The filter stops working when the NuGet.config file has PackageSaveMode = nuspec.

Repro steps:
1. Create a package with 2 assemblies in lib folder and specify reference whitelist in nuspec to filter out one assembly.
2. Create a solution file and a class library project in VS and close the solution
3. Copy the default NuGet

[2015-04-15 03:33] rkeithhill commented on #326
I'm simply running an ASP.NET MVC4 (on .NET 4.0) on Windows Server 2008 SP2 that has the NuGet.Server 2.8.3 nuget pkg installed. The NuGet server setup points to a network share where we drop NuGet pkgs.  As I said, this works fine from VS 2013 U4 but I get bupkis on VS 2015 CTP6.

[2015-04-15 04:35] nathanaeljones commented on #300
I hope this can be designed in the open.

[2015-04-15 05:04] mrahl commented on #423
Thanks for the response. I was trying to add the same unit test scenario for 3.0 but I can't get the projects in the solution to load in VS2015. I'll wait for the guide.

Is there any hope of getting someone to look att his in 2.8.5? I will myself of course, and if I can find a fix I'll contribute it.

[2015-04-15 05:54] yishaigalatzer commented on #326
Ctp6 was hmm buggy. This should work fine for rc. If not let us know. If we can get access to your packages we can also verify it for you (please reopen if you can help with the scenario or this fails in rc).

350xcf here :)

[2015-04-15 05:54] #326 closed

[2015-04-15 07:23] maartenba opened #435 "CreateWarehouseReports fails (Rate of failure exceeded Error threshold)"
From PagerDuty:

    {"component":"Nuget Work Service","ErrorMessage":"Rate of failure exceeded Error threshold for CreateWarehouseReports. Threshold count : 30%, failure in last 24 hour : 4"}

[2015-04-15 07:25] maartenba opened #436 "Error executing task CreateTrafficManagerStatusOverviewReportTask"
From PagerDuty:

    Error executing task NuGetGallery.Operations.CreateTrafficManagerStatusOverviewReportTask

    {"component":"Dashboard Ops","ErrorMessage":"Exception thrown while executing task NuGetGallery.Operations.CreateTrafficManagerStatusOverviewReportTask. Exception Message : The remote server returned an error: (500) Internal Server Error., Stack Trace : at System.Net.HttpWebRequest.G

[2015-04-15 07:26] maartenba opened #437 "Error: SQL Azure database alert activated for DBSuspendedRequests"
From PagerDuty:

    Error: SQL Azure database alert activated for DBSuspendedRequests

    {"component":"SQL Azure database","ErrorMessage":"Number of DBSuspendedRequests exceeded the Error threshold value. Threshold value 30, Current value : 36.all requests wait_type areRESOURCE_SEMAPHORE\n\n\nRESOURCE_SEMAPHORE\nRESOURCE_SEMAPHORE\nRESOURCE_SEMAPHORE\nRESOURCE_SEMAPHORE\nRESOURCE_SEMAPHORE\nRES

[2015-04-15 07:44] veleek opened #438 "nuget.exe pack -Version only overrides version element in .nuspec"
I'm producing two NuGet packages from the same project. One is a base framework, and the second is some extensions to the framework. They are not both required but the extensions version always requires the same version of the base framework.

e.g. If I'm using FrameworkExtensions 1.2, I must be using FrameworkBase 1.2.

To accomplish this, I have the following in the NuSpec for (extra stuff snipp

[2015-04-15 07:45] veleek commented on #438
This bug is just being transferred from the Codeplex issue tracker: http://nuget.codeplex.com/workitem/3242

[2015-04-15 07:49] ilmax commented on #290
@zhili1208 I'm experiencing this issue in a C# Web project (.NET 4.5

<ProjectGuid>{A4844BA5-C00B-402B-BF03-A40D7FEDC4C9}</ProjectGuid>
<ProjectTypeGuids>{349c5851-65df-11da-9384-00065b846f21};{fae04ec0-301f-11d3-bf4b-00c04f79efbc}</ProjectTypeGuids>

Interestingly enough, the path is not longer than windows limits (260) so I think the exception message is at least confusing here.

[2015-04-15 10:01] joaomoreno opened #439 "Pack command excludes all *.nuspec files"
In the [source code](http://nuget.codeplex.com/SourceControl/latest#src/CommandLine/Commands/PackCommand.cs) you can read:

[code]

The comment says `Always exclude the nuspec file` but the code is actually excluding **any** `nuspec` file. Including the ones that are in wildcarded folders.

[2015-04-15 12:28] #259 closed

[2015-04-15 12:28] csharpfritz commented on #259
Migrating to a gallery feature

[2015-04-15 13:49] maartenba commented on #102
It's in.

[2015-04-15 13:49] #102 closed

[2015-04-15 13:49] maartenba commented on #124
Unlisted packages are not included in search, but they are on the /owner endpoint. Added this to our UI capabilities.

[2015-04-15 13:49] #124 closed

[2015-04-15 13:50] maartenba commented on #121
It's in!

[2015-04-15 13:50] #121 closed

[2015-04-15 13:51] maartenba commented on #107
I believe this one's done, right?

[2015-04-15 13:51] maartenba commented on #104
Done

[2015-04-15 13:51] #104 closed

[2015-04-15 15:52] mrahl commented on #423
I discovered that the unit tests run in build.cmd so I don't need VS. But I am not able to exactly recreate the failing unit test I have for 2.8.5. Because of the check in line 75 of [PackageResolver.cs](https://github.com/NuGet/NuGet.Packaging/blob/6121ef94a01047a3cd50cdbdfdb0bc3799bc3876/src/NuGet.Resolver/PackageResolver.cs) I have to pass all of the packages (A, B, C, D) to initiate the "updat

[2015-04-15 17:31] yishaigalatzer commented on #439
@joaomoreno what are the side effects you are seeing with this? Is it blocking you in any way?

[2015-04-15 17:45] joaomoreno commented on #439
part of the files of the package I am creating are actually nuspec files,
they just go missing

On Wed, Apr 15, 2015, 19:31 Yishai Galatzer <notifications@github.com>
wrote:

[2015-04-15 18:12] maartenba commented on #432
Hi @suhasj,

Which VS version are you using? Which feeds are registered in your setup?

It would be helpful if you have some timings on how long it takes to get the search up.
Is it always slow or just this one occurence?

[2015-04-15 18:35] emgarten opened #440 "Improve PCL selection for UAP"
UAP is not compatible with all PCLs that support Win8. This should be improved and parity with v2 kept as much as possible.

[2015-04-15 18:54] suhasj commented on #432
I am using the latest internal version of VS 2015 with the vnext feed setup which is https://www.myget.org/f/aspnetvnext/api/v2. This was a consistence repro and I have been in touch with @deepakaravindr for this.

[2015-04-15 19:13] maartenba commented on #432
Any additional info would be great to have. Would you happen to be able to capture a Fiddler trace (https decrypted)?

[2015-04-15 20:10] yishaigalatzer commented on #423
Because you can't? Not sure actually @deepakaravindr can you comment?

[2015-04-15 20:55] jmusek opened #441 "NuGet cache should treat pre release version in different way than releases"
When package is "pre release" type should not be affected by cache or during Restore should be checked if package was not changed, because version can be same, but content different.

This behavior can be visible if you use Nexus server instead of NuGet galery where packages in Snapshot repositories can be overwritten with same version to minimize impact on users. Developers are not force then cha

[2015-04-15 21:00] deepakaravindr commented on #441
This does not work with nuget.org, because a package is immutable. But, we are considering floating versions feature, so, this problem should go away in the future

[2015-04-15 21:00] #441 closed

[2015-04-15 21:06] deepakaravindr commented on #426
@tgillitzer
Please provide more details
Which version of NuGet are you using? Is it VS 2015? Which reference is not getting removed? Because, uninstallation of a package does not remove framework references

[2015-04-15 21:39] deepakaravindr commented on #423
Please check out [ResolverTests.cs](https://github.com/NuGet/NuGet.Packaging/blob/master/test/NuGet.Resolver.Test/ResolverTests.cs), if you have not already. It has a few tests for Diamond Dependencies

Having said that; Unlike 2.8.5, Dependency Resolution in 3.0, happens in 2 phases; In phase 1, ResolverGather collects the necessary dependency information and in the second phase, PackageResolver

[2015-04-15 21:42] deepakaravindr commented on #381
Assigning to @danliu who is the SME on this class

[2015-04-15 21:42] emgarten commented on #433
@ChengTian

I'll update NuGet.Frameworks. dnxcore50 is compatible with portable-net45+win8, correct?

[2015-04-15 21:43] anurse commented on #433
Yes, I believe that is correct.

[2015-04-15 21:43] deepakaravindr commented on #224
Duplicate of https://github.com/NuGet/Home/issues/164

[2015-04-15 21:43] #224 closed

[2015-04-15 21:45] deepakaravindr commented on #430
Fixed with
https://github.com/NuGet/NuGet.PackageManagement/commit/3b269ec74c5aa2c046a366761603caa5054b5fb5

[2015-04-15 21:45] #430 closed

[2015-04-16 00:18] danliu commented on #422
I don't think this can be done using the current XDT library and NuGet. XDT will recognize it as a transforming phrase and try to do transformation on it.

The workaround might be having a install.ps1 file that manipulate web.config file and add the sections that is desired.

[2015-04-16 07:40] mrahl commented on #423
Thanks for the explanation @deepakaravindr. I did implement my test in ResolverTests.cs. I saw the diamond dependency tests but as far as I can understand it is an install scenario, not update. On a side note, the ResolveActionsForSimpleUpdate test seems to test like an install rather than an update (the existing project it defines is not used in the Act stage).

Anyway, I looked at how the resolv

[2015-04-16 12:20] yishaigalatzer commented on #423
Yes please, a pull request will be great

[2015-04-16 14:36] tgillitzer commented on #426
VS 2012 and VS 2013.

2012 NuGet extension version 2.8.50313.31
2013 NuGet extension version 2.7.40911.287

In my example above, the reference to Test is not being removed.

As a side note, (at least partially) confirming the file name theory, it turns out the filename of the Bitvise library I ran into this problem on must be named a certain name (FlowSshNet32.dll).  Once I named it that, the refe

[2015-04-16 16:22] SergKanz commented on #422
Yes, I already implemented powershell to do it. Any chance it will be fixed? It is an important feature to have to allow NuGet to configure different settings for different environments.

[2015-04-16 16:31] stgates opened #442 "Manage NuGet Packages dialog shows 'Authors' of package but not 'Owners'"
I have a question about why the package ‘Authors’ is listed in the data shown when looking at a package in Visual Studio through the “Manage NuGet Packages” dialog. The “Authors” is just an arbitrary string that could be filled in with anything. From trust perspective as a package consumer what I really want to know is who the ‘Owners’ or publishers of the package are.

For example if you look up

[2015-04-16 17:02] ashic commented on #439
Same here. I've got a package that creates other packages. The only workarounds I can currently use are:
* Include it with a different extension. Then use install.ps1 to rename it. (yuck).
* Include it with a different extension. In the script that generates end package, rename it. (yuck).

Would really appreciate it if arbitrary nuspec files weren't ignored, or there were some way of including th

[2015-04-16 18:31] emgarten opened #443 "Dependency gather does not return all packages"
The current dependency gather retrieves dependent packages based on the parent constraints, but limits the scope to the parent packages in that repository, for aggregate repository scenarios this can miss packages if the constraints differ.

The fix for this is to request packages by id, instead of doing a tree walk in isolation for each source repository.

[2015-04-16 18:41] emgarten opened #444 "Package dependency info should be gathered as needed instead of requesting all possible data at the start"
Package installs should use the existing installed package info first, then if a solution cannot be found it should retrieve package info for the already installed packages to see if an update will solve the problem.

Currently we find all versions of the installed packages to cover upgrade scenarios. Some scenarios still need this, but we should try to solve for the ideal solution first before do

[2015-04-16 18:53] yishaigalatzer commented on #439
Sounds like a scenario we haven't thought about. Feel fee to submit a pr. I don't see us touching this any time soon.

[2015-04-16 19:16] deepakaravindr commented on #271
Fixed with https://github.com/NuGet/NuGet.VisualStudioExtension/commit/7d4a51600d9ff96ae6b8aaf24a75fe317f6ee87d

[2015-04-16 19:16] #271 closed

[2015-04-16 19:16] deepakaravindr commented on #266
Fixed with https://github.com/NuGet/NuGet.VisualStudioExtension/commit/7ff3133f672bb16a9a271285daf2f4ae9812a0ca

[2015-04-16 19:16] #266 closed

[2015-04-16 20:21] madkat opened #445 "Xamarin.iOS10 not recognized as framework in content\ structure"
Items targeting "content\Xamarin.iOS10" are handled incorrectly. In a C# project that targets Xamarin.iOS, the files are added to the project in a folder "Xamarin.iOS10", rather than to a project root. In a C# project that does NOT target Xamarin.iOS, the files are added to the project in a folder "Xamarin.iOS10", rather than not at all.

build, lib and tools all appear to behave correctly.

NuGet

[2015-04-16 20:30] feiling opened #446 "Users should be able to specify CopyLocal property for the references"
Currently, when NuGet adds the reference to a dll in a package, it always sets the CopyLocal property of the reference to true. There are cases when users want to set CopyLocal to false for certain references. The only they can do this today is thru install.ps1.

We need to support this natively. A user should be able to specify the CopyLocal property for any references that will be added by NuGet

[2015-04-16 20:51] emgarten commented on #438
We do not support for this currently. One way to handle this is to transform your nuspec, updating the version before calling pack.

[2015-04-16 20:51] #438 closed

[2015-04-16 20:56] emgarten commented on #426
This behavior sounds like it is by design. We'll take a look at updating the documentation.

[2015-04-16 20:56] #426 closed

[2015-04-16 21:24] emgarten commented on #445
Fixed with NuGet/NuGet.Packaging@4453f7eb6da937bdad6000655c52af3084ff2fc6

[2015-04-16 21:24] #445 closed

[2015-04-16 21:26] emgarten commented on #433
closing this based on our discussion yesterday, DNX can handle this behavior.

[2015-04-16 21:26] #433 closed

[2015-04-16 21:27] emgarten commented on #357
Fixed NuGet/NuGet.VisualStudioExtension@dea22c9734e7faee69b0d0ba5c2c99d72088a333

[2015-04-16 21:27] #357 closed

[2015-04-16 21:27] madkat commented on #445
Thanks for taking care of this, @emgarten.

[2015-04-16 21:39] emgarten commented on #378
We have decided to leave dependencies installed. There is no way to know if the user installed the package or not.

NuGet/NuGet.VisualStudioExtension@7ff3133f672bb16a9a271285daf2f4ae9812a0ca

[2015-04-16 21:39] #378 closed

[2015-04-16 21:40] RanjiniM commented on #435
This worker job has been converted to an exe and move to jobs VM. The job is successfully running now without any errors.

[2015-04-16 21:40] #435 closed

[2015-04-16 21:58] #422 closed

[2015-04-16 22:02] danliu commented on #367
Fixed via https://github.com/NuGet/NuGet.VisualStudioExtension/commit/4449754b60956e3a1a5990f83cb2e30c6353671e

[2015-04-16 22:02] #367 closed

[2015-04-16 22:02] danliu commented on #366
Fixed via https://github.com/NuGet/NuGet.VisualStudioExtension/commit/aec18342f476a0364c91c4dfb9ae2bb70ba86c12

[2015-04-16 22:02] #366 closed

[2015-04-16 22:22] danliu commented on #364
Fixed via https://github.com/NuGet/NuGet.VisualStudioExtension/commit/dea9fa38ee6909f6c8bee412bc09b0e62262123a

[2015-04-16 22:22] #364 closed

[2015-04-16 22:22] danliu commented on #381
Fixed via https://github.com/NuGet/NuGet.VisualStudioExtension/commit/dea9fa38ee6909f6c8bee412bc09b0e62262123a

[2015-04-16 22:22] #381 closed

[2015-04-16 22:38] RanjiniM commented on #152
Closing the issue as we have all packages in the catalog and blobs now.

[2015-04-16 22:38] #152 closed

[2015-04-16 22:39] deepakaravindr opened #447 "NuGet.Configuration: Need to add a new section for packageSources, so that v3 package source, always overrides the v2 ones"
NuGet.Configuration: Need to add a new section for packageSources, so that v3 package source, always overrides the v2 ones. A new section "sources" will be added to nuget.config with an attribute for "protocolVersion". When this is done, if the same package source name is used under the new section, say, 'nuget.org', that wins over the v2 package source

[2015-04-16 22:40] RanjiniM commented on #80
Assigning to John as he suggested not doing this. John can add his proposal.

[2015-04-16 22:40] deepakaravindr opened #448 "PackageRestoreManager methods should take in INuGetProjectContext instead of using it from SolutionManager"
PackageRestoreManager methods should take in INuGetProjectContext instead of using it from SolutionManager

[2015-04-17 00:14] deepakaravindr commented on #427
Fixed with https://github.com/NuGet/NuGet.PackageManagement/commit/c5ad0e497164261a6a2a84a59282453cd4448585

[2015-04-17 00:14] #427 closed

[2015-04-17 00:24] emgarten commented on #431
Fixed with NuGet/NuGet.Packaging@b482b854a3b12ecc570c8eeef891f4fcdbf95f04

[2015-04-17 00:24] #431 closed

[2015-04-17 00:25] ChengTian commented on #431
:+1: Thanks

[2015-04-17 00:28] deepakaravindr opened #449 "Apply VS threading rules and replace ThreadHelper.Generic.Invoke with ThreadHelper.JoinableTaskFactory.SwitchToMainThreadAsync"
Apply VS threading rules and replace ThreadHelper.Generic.Invoke with ThreadHelper.JoinableTaskFactory.SwitchToMainThreadAsync

[2015-04-17 01:01] yishaigalatzer commented on #88
We are not supporting MsNuGet.

[2015-04-17 01:01] #88 closed

[2015-04-17 01:45] emgarten opened #450 "Remove ProjectExtensions from PowerShellCmdlets"
ProjectExtensions can be removed PowerShellCmdlets. The EnvDTEProjectUtility class can be used instead.

It looks like this code may have been copied over when PS was part of the PM repo.

[2015-04-17 02:44] diegohb opened #451 "Intended behavior for nuget.exe restore command - not restoring individual packages?"
Running nuget.exe restore against my solution file will not download and restore a single nuget package. It will only restore the entire packages folder if it is missing. So in my example below, if I delete nugetpackage1 directory and run restore, it doesn't restore it and it tells me all packages are installed. But if i delete the lib directory entirely and run restore, then it will recreate the

[2015-04-17 04:54] AArnott opened #452 "Add NuSpec tag to add Redist=false on references"
NuGet packages should be able to self-identify that the assemblies they carry should *not* be redistributed by the project/app.

Consider a NuGet package that delivers assemblies that serve as an SDK for an application or some other runtime component, where that external target already has all the assemblies it needs. In fact the NuGet package's EULA may prohibit redistributing the assemblies acqu

[2015-04-17 07:16] MarkusWild opened #453 "Nuget native library package creation - What are the current activities"
Hi,

 we are using Nuget in our Company for C# Projects on TFS and it is a great Tool for us.

 Now we are going to migrate our C++ Libraries from ClearCase to TFS and we want to use Nuget for those Projects too.

 I could use CoApp to create the Native Packages. But I am not sure if that is the actual way to do it -
cause what I read at the CoApp Thread by Garrett Serack  makes me wonder:

 You'r

[2015-04-17 14:39] onovotny opened #454 "NuGet adds "less specific" PCL to WinPhone 8.1 app"
The Newtonsoft.Json NuGet contains two PCL versions in it:
- portable-net40+sl5+wp80+win8+wpa81
- portable-net45+wp80+win8+wpa81+aspnetcore50

When adding Newtonsoft.Json to a Windows Phone 8.1 project (not SL), Nuget adds a reference to the first version (the net40 compatible one). That version has less functionality than the net45 one (and is incompat with .NET Native)

NuGet should add the high

[2015-04-17 14:40] onovotny commented on #454
cc @jamesnk

[2015-04-17 17:25] emgarten commented on #440
This has been improved with NuGet/NuGet.Packaging@207bf15b81e5ce66398aed40afd2ec26671dd0a9

I am leaving this issue open until a decision has been made on how to best determine if older generations of PCLs will work on UAP.

[2015-04-17 17:38] emgarten commented on #391
Fixed with NuGet/NuGet.VisualStudio@a559f4dba2a605e82edffa039d183ae97a4f9687

NuGet now uses IsCapabilityMatch instead of the older capability check.

[2015-04-17 17:38] #391 closed

[2015-04-17 19:54] ChrisMcKee opened #455 "[NuGet.CommandLine:#8] Trying to update packages depends on the current version of the package having been restored"
If I checkout a project and the packages folder is empty.
I then try to update the solutions nuget packages before doing anything else using the console (as the UI version is horrendously slow), using

[code]
It cycles through all of the projects
i.e.
[code]

Then ends. The only way to make it then update is to restore first, then run then update, which is a bit fucky.
If you run an upgrade you do

[2015-04-17 20:57] emgarten commented on #455
Package dependency information exists only in the packages, for this reason the packages need to be restored before performing updates. The gesture you are looking for is equivalent to installing the latest version of the original packages installed.

We have some plans to improve this, but it will not be done in NuGet 2.8.x due to the limitations there.

[2015-04-17 20:57] #455 closed

[2015-04-17 21:01] emgarten commented on #453
There are no current activities around CoApp for NuGet.

@stgates may have more information on this.

[2015-04-17 21:01] #453 closed

[2015-04-17 21:06] emgarten commented on #451
It looks like you have a custom packages folder instead of the standard Packages folder. Can you provide the rest of the details on how you have this set up?

[2015-04-17 21:11] diegohb commented on #451
I've updated the description to include the config file used at the root.

[2015-04-17 21:43] emgarten commented on #454
Fixed with NuGet/NuGet.Packaging@207bf15b81e5ce66398aed40afd2ec26671dd0a9

[2015-04-17 21:43] #454 closed

[2015-04-17 22:44] onovotny commented on #454
Thanks for the super-fast turnaround on this!

[2015-04-17 23:03] onovotny commented on #454
Question on this:

For xUnit I have a win8 ver and then a portable-win81+wpa81 ver (for universal support). For a Win 8.1 app, NuGet 2.8.x will pick the win8 ver even though there's a higher compat version.

Can this be fixed too?

[2015-04-17 23:36] emgarten commented on #454
What are framework options under the lib folder for this package?  Is this a package on nuget.org?

[2015-04-17 23:40] onovotny commented on #454
This package is part of xUnit, specifically xunit.core. (I worked with @bradwilson to figure out how to get xunit working for winrt platforms). I noticed that for Win8.1 test projects, adding xunit (hence pulling in xunit.core) made it reference the win8 version of the lib and not the higher 8.1 version that was part of the "universal" package.

You can see an example here in the integration tests

[2015-04-17 23:50] bradwilson commented on #454
It presumably prefers non-portable to portable, even though the portable version is a better match.

[2015-04-18 00:09] emgarten commented on #454
That's correct, NuGet will take the non-portable compatible option first. win81+wpa81 indicates that it is the intersection subset of the APIs for those two frameworks, which means it potentially has a smaller surface area than win8 alone.

[2015-04-18 00:18] onovotny commented on #454
I would think that it should pick the non-PCL only if the platform in the PCL is at or below in version.

If a PCL has a higher version of a platform than a non-portable, the PCL should win in that case.

[2015-04-18 22:54] davidfowl commented on #452
This doesn't seem like something that should be expressed in nuget metadata. You can't possibly know ahead of time where the application will be deployed right? I understand the scenario, but it seems a bit too specific.
I think being able to have a reference assembly in NuGet is fine. The underlying packaging mechanism (VS SDK targets) would have to know that the VS SDK assemblies isn't supposed

[2015-04-19 07:35] roryprimrose opened #456 "NuGet.exe restore does not use basic auth credentials from config"
I'm trying to set up a private NuGet feed that uses an API key for pushing packages and a simple basic auth IHttpModule to protect reads. The system fails on the build server when the build attempts to do a NuGet restore from the private feed.

The nuget.exe is invoked with the following powershell:

[code]

The referenced config file contains the following (with sensitive info removed):

[code]

[2015-04-19 13:09] NN--- opened #457 "UI for selecting older package versions"
It is possible to install older versions using command line but it is not possible in UI to view versions history and select one of them.

[2015-04-19 19:33] davidfowl commented on #457
It is in the new NuGet UI

[2015-04-20 03:36] AArnott commented on #452
The use case here isn't that the NuPkg consumer is creating an application. The nuget package is an SDK for extending an existing application. Therefore we know exactly where it will be deployed. While I have VS in mind, the idea is general to any application's SDK.

In general if we want to go very broad, NuGet would probably do well to evolve into full SDK support, including carrying assemblies

[2015-04-20 04:12] davidfowl commented on #452
Few questions:
- Is the SDK installed on the developer's box?
- The SDK needs to be installed to run anyways right? In the unit test scenario, does the NuGet package bring just the compile time reference or does it bring in more?

Without full SDK support, what is the purpose of this NuGet package? Can you give an example of something that fits into this category?

[2015-04-20 04:17] davidfowl commented on #440
Not going to lie, that logic is kinda crazy

[2015-04-20 04:19] AArnott commented on #452
The NuGet package _is_ the SDK.

No. The SDK assemblies just have to be in the bin directory of the built project for it to be enough to test with. Imagine these SDK assemblies have nothing but interop types and utilities defined. The user may have to mock up a few objects to implement the interfaces the SDK defines, but other than that they are free to unit test all they want by using the SDK ass

[2015-04-20 04:35] davidfowl commented on #452
Sounds like its enough to compile and write unit tests but not run. I would be interested to see what other software falls into this category.

Who would look at this redist property? When is it consumed?

[2015-04-20 06:23] raffaeler opened #458 "[wish] nuget proxy/cache"
[Discussed via email with Yishai Galatzer]

In order to get fast access to nuget, provide a nuget proxy/cache component:
- installed on the local machine, it would allow to access packages very fast and in absence of network
- installed on the local network, it would avoid for large teams to download several times the same packages

Main differences with the local nuget repository (like a network

[2015-04-20 08:09] forderud opened #459 "Unable to open NuGet.Packaging solution in VS2013"
I'm unable to open the NuGet.Packaging solution in VS2013.

Steps to reproduce:
* Check out *master* branch of https://github.com/NuGet/NuGet.Packaging.git
* Open Packaging.sln
Error messages:
* *This version of Visual Studio is unable to open the following projects.*, followed of a list of all projects in the solution.

I've tried to look through http://docs.nuget.org/Contribute/Setting-up-the-Nu

[2015-04-20 08:39] davidfowl commented on #459
It actually requires vs 2014 now

[2015-04-20 08:41] forderud commented on #459
Then it would be nice if you could update http://docs.nuget.org/Contribute/Setting-up-the-NuGet-Development-Environment to prevent confusion.

[2015-04-20 08:43] davidfowl commented on #459
Agreed. /cc @yishaigalatzer

[2015-04-20 08:56] ChrisMcKee commented on #455
Hi; wouldnt it make more sense to base package versions on the config rather than the contents of a folder; as far as I'm aware that's how other package managers work.

[2015-04-20 08:57] ChrisMcKee commented on #455
Will this be solved in V3?

[2015-04-20 08:58] yishaigalatzer commented on #459
Fair enough good catch.

[2015-04-20 11:01] matt-richardson opened #460 "Installing specific version of package fails if another version of dependency exists in cache"
Installing a package fails when it has a dependency on a specific version of a component, and an older version of the package exists in the nuget cache.

Steps to reproduce:
1) clear nuget cache
2) `nuget install jquery -version 1.4.1 -source http://nuget.org/api/v2`
3) `nuget install jquery.ui.combined -version 1.11.4 -source http://nuget.org/api/v2`

(the `-source` param does not make a differen

[2015-04-20 11:33] matt-richardson commented on #460
A naive fix to this is to change the method to:

[code]
but I suspect that will have ramifications.

[2015-04-20 13:18] AArnott commented on #452
That's a good point to ponder. I don't know how many apps have SDKs.

Anyone who writes .targets that package up files from a project's output directory would be a candidate for honoring the redist=false metadata by omitting that file from the package. The VSIX packaging targets might be the first. `nuget.exe pack` itself might as well, since it can take an MSBuild project file as a parameter.

[2015-04-20 14:48] chrfin opened #461 "“nuget pack PROJECT.csproj” does not work in post-build event, but does via CMD"
I am building some NuGet packages via the following Post-build event:

    CALL "$(SolutionDir).nuget\PushPackage.bat" "$(ConfigurationName)" "$(DefineConstants)" "$(SolutionDir)" "$(ProjectPath)" "$(TargetDir)" "$(TargetName)"

`PushPackage.bat` contains:

    SET ConfigurationName=%~1
    SET Constants=%~2
    SET SolutionDir=%~3
    SET ProjectPath=%~4
    SET TargetDir=%~5
    SET TargetName=%

[2015-04-20 16:55] deepakaravindr opened #462 "Package restore is more than 50% slower on nuget.org compared to api.nuget.org. Perhaps, package restore from nuget.org is hitting the DB instead of lucene?"
Package restore is more than 50% slower on nuget.org compared to api.nuget.org

With around 34 packages to restore, api.nuget.org (likely with the browser cache in place) takes around 8-9 secs, whereas, nuget.org takes more than 19 secs (This is with the legacy machine cache having the packages to be restored)

Guess is that this may be related to DownloadResourceV2 using FindPackagesById instead

[2015-04-20 17:12] emgarten commented on #440
It is, but it only does this extra tie breaking when multiple PCLs have the same number of frameworks and are equally compatible with the project. Without this it would be random which one would get selected if the package were authored this way.

[2015-04-20 19:07] deepakaravindr commented on #447
//cc @pranavkm

[2015-04-20 20:39] deepakaravindr commented on #462
Consider using the hijack to lucene so that DB is not hit

[2015-04-20 20:43] deepakaravindr commented on #461
Thanks for asking the question! StackOverflow is the correct forum for these questions

[2015-04-20 20:43] #461 closed

[2015-04-20 20:55] deepakaravindr commented on #460
//cc @pranavkm

[2015-04-20 20:56] deepakaravindr commented on #457
Fixed in RTM

[2015-04-20 20:56] #457 closed

[2015-04-20 23:34] danliu commented on #264
The old behavior was actually swallow the exception thrown by uninstall.ps1 and not fail uninstall package.

With the new code that we have, we are re-throwing the exception and rolling back the uninstall action.

So this is more of a test case issue.

[2015-04-21 00:08] deepakaravindr opened #463 "Need to make NuGet.VisualStudioExtension and NuGet.PackageManagement work with Dev10 and Dev11"
Need to make NuGet.VisualStudioExtension and NuGet.PackageManagement work with VS 2010 and VS 2012. Microsoft.VisualStudio.Threading and JoinableTaskFactory is only available since VS 2013. Several changes were made to NuGet.VisualStudioExtension to use JoinableTaskFactory. This meant support for VS 2010 and VS 2012 went away. Need to bring it back

For example, JoinableTaskFactory was introduced

[2015-04-21 07:04] #107 closed

[2015-04-21 14:52] bert2 opened #464 "NuGet.VisualStudioExtension: NuGet automatically adds "packages" to source control (TFS)"
**tl;dr:** When installing new packages, NuGet shouldn't add the content of "packages" to the pending changes by default.

**Repro steps:**
* In Visual Studio 2013, create a new solution with a class library project.
* Add the solution to TFS.
* Install some packages with NuGet.

**Expected:**
* Only the project/solution files along with the "packages.config" file should be added to source control

[2015-04-21 15:04] csharpfritz commented on #464
There is a configuration option provided in NuGet.config to disable source
control integration and it is documented here:
https://docs.nuget.org/Consume/package-restore/team-build

However, I agree that we need a more user-friendly and discoverable way to
enable this behavior

On Tue, Apr 21, 2015 at 10:52 AM, bert2 <notifications@github.com> wrote:

[2015-04-21 15:37] bert2 commented on #464
@csharpfritz after the last repro step there is no "NuGet.config" in my solution directory. And -- to be blunt -- I dont want to create one either. I want to use "Automatic Package Restore" [which is supposed to give me the following advantages](https://docs.nuget.org/Consume/Package-Restore):

However, I tried your work-around and it did prevent NuGet from adding the content of "packages" to the

[2015-04-21 16:59] deepakaravindr opened #465 "Need to make sure that references to VS dlls like Microsoft.VisualStudio.Threading, are VS version specific"
Need to make sure that references to VS dlls like Microsoft.VisualStudio.Threading, are VS version specific. Currently, There are references to Microsoft.VisualStudio.Threading.14.0.0 from PackageManagement and VisualStudioExtension, but, they are not under Version specific itemgroups. Need to make sure that it is, in order to build the NuGet extension for versions other than VS 2015

[2015-04-21 17:14] feiling commented on #238
This fix needs to happen on the server.

[2015-04-21 17:22] yishaigalatzer commented on #464
@bert2 you don't have to put this in your solution, this could be in your userprofile nuget.config

[2015-04-21 17:24] yishaigalatzer commented on #463
This work depends on making a decision if we are taking NuGet 3.0 downlevel below VS2013. It is very unlikely we do so, but keeping it here so we can retriage once we start planning 3.1.0 Beta

[2015-04-21 17:26] csharpfritz commented on #463
This is a duplicate of #201 and #200.  We may want to re-open those so that we can track the two down-level migrations as separate work items.

[2015-04-21 17:31] bert2 commented on #464
@yishaigalatzer Interesting, I did not know that. However this is not an option in my case, since it requires new developers to know about this setting and have it activated in their user-profile.

[2015-04-21 17:32] yishaigalatzer commented on #464
Then leave it in the solution. What is broken about it?

[2015-04-21 17:42] bert2 commented on #464
I consider it broken, because the standard behaviour contradicts the [NuGet documentation](https://docs.nuget.org/Consume/Package-Restore). That aside, adding binaries to source control is simply bad practice. NuGet may offer to opt-in for source-controlled libraries, but it shouldn't force the user to resort to work-arounds with outdated configuration switches (using nuget.config is the pre 2.7 w

[2015-04-21 17:53] forderud opened #466 "Unable to open NuGet.Packaging solution in VS2015"
I'm unable to open the NuGet.Packaging solution in VS2015 CTP6.

Steps to reproduce:
* Checkout *master* branch of https://github.com/NuGet/NuGet.Packaging.git
* Open Packaging.sln

Error message (same for all projects):
* *NuGet.Packaging\src\NuGet.Frameworks\NuGet.Frameworks.xproj : error  : Value cannot be null.
Parameter name: projectMoniker*

[2015-04-21 18:00] csharpfritz commented on #464
The documentation we linked, and our replies agree - its not a
user-friendly solution, it is a work-around.  NuGet.config is always where
all of your NuGet repositories are listed and is searched hierarchically.

Agreed, adding binaries to source-control for DEV branches is a bad
practice.  Adding binaries to a master or production quality branch I
consider a very good practice so that you always

[2015-04-21 18:02] bert2 commented on #464
I just realized that there already is a similar report in [the old CodePlex issue tracker](https://nuget.codeplex.com/workitem/4072) (@csharpfritz's link lead me to it) which has been updated today by @feiling. The proposed version for the fix is 3.0.

[2015-04-21 18:04] bert2 commented on #464
@csharpfritz, so we agree that NuGet shouldn't add the content of "packages" to the pending changes by default?

[2015-04-21 18:08] danliu opened #467 "Clean up the Resource string names in NuGet.VisualStudioExtension.sln"

[2015-04-21 18:39] johnataylor opened #468 "server infrastructure should incorporate bulk-rebuild optimizations"
We materialize significant quantities of metadata across blob storage and we have jobs to incrementally keep this up to date. We know from experience that significant optimizations can be applied for a bulk rebuild of a metadata set.

This is a tracking issue to formalize these optimizations into reusable jobs we can run on demand if teh occasion arises.

[2015-04-21 19:13] yishaigalatzer commented on #464
This is a debate about the default behavior. We are not changing it for now. The reason it is done this way is that we unfortunately cannot auto opt you into downloading packages.

Will consider changing this in future releases.

I do understand you dislike it, but any default we choose will break someone's flow.

[2015-04-21 19:14] yishaigalatzer commented on #463
Its a detailed work item, not a duplicate.

[2015-04-21 20:32] yishaigalatzer opened #469 "Restore on build should not run for DNX projects and projects that do not use NuGet"
CC @balachir

[2015-04-21 20:37] yishaigalatzer commented on #469
Projects that do not use NuGet should skip this whole process.
Similarly projectK that does not want to do restore through NuGet should be skipped.

[2015-04-21 20:39] yishaigalatzer commented on #466
This is a known issue, latest DNX is not compatible with CTP6. You either need to wait for RC bits to come out, or use OmniSharp and command line build.

[2015-04-21 20:39] #466 closed

[2015-04-21 20:43] yishaigalatzer opened #470 "Regression: Fail to install some packages due to file name escaping"
Here: https://github.com/NuGet/NuGet.PackageManagement/blob/master/src%2FProjectManagement%2FUtility%2FPathUtility.cs#L175

and just below.

MSBuild use to suffer the same issue.

There is a good reason to use them in filenames; to overcome file system naming limitations.

This is a regression in Nuget 3. It works fine on Nuget 2.

Bug repro: `Install-Package IronScheme`

Results in a `ArgumentNul

[2015-04-21 20:48] yishaigalatzer commented on #470
@leppie what we see is that the file is not being copied over, which is different than seeing an `ArgumentNullException` can you provide more details about what version are you using (vs, NuGet) and into what type of project you are installing it.

https://github.com/NuGet/NuGetGallery/issues/2410

[2015-04-21 20:55] yishaigalatzer opened #471 "Add support to update a subset of the packages (rather than all packages)"
Currently you can go to "Updates" on "Manage NUGet Packages" and select an individual package and click the "Update" button to update packages 1 at a time. But I have 30 packages I need to update and don't want to "Update All" packages. I would like to "multi-select" the packages I want to update and click 1 button to update them all.
Thanks

CC @johnegbert

[2015-04-21 20:55] yishaigalatzer commented on #471
https://github.com/NuGet/NuGetGallery/issues/2318

[2015-04-21 21:18] ChengTian opened #472 "Fix default NuGet config sources path on CoreCLR"
The current path we use to create default NuGet config sources is wrong.

We should use local application data folder it. @davidfowl found a good way to get the path from environment variable. See https://github.com/mono/mono/blob/master/mcs/class/corlib/System/Environment.cs#L653.

See current code: https://github.com/NuGet/NuGet.Configuration/blob/dev/src/NuGet.Configuration/PackageSource/Packag

[2015-04-21 21:35] mrchief opened #473 "VS 2015 CTP6 Unable to load NuGet extension when package source credentials specified in global config"
v2.8.5 loads fine while v3.0.60225.100 crashes.

My Global Nuget config

[code]

**Activity.Log**

[code]

[2015-04-21 22:48] danliu commented on #467
For https://github.com/NuGet/NuGet.VisualStudioExtension/blob/master/src/PackageManagement.PowerShellCmdlets/Resources.resx

[2015-04-21 23:09] anurse opened #474 "Stop rewriting 'netcore' to 'win' at 'netcore50'"
Right now, we rewrite the 'netcore' TFM to 'win'. Unfortunately, this results in weird behavior with the new .NET Core 5 wave

`netcore45` => `win8` :sparkles:
`netcore451` => `win81` :tada:
`netcore50` => `win50` :boom:

We should adjust `VersionUtility` to ensure that the rewriting does NOT happen when dealing with `netcore50` and higher. Just leave it as `netcore50`.

Chatted with @emgarten abo

[2015-04-22 00:17] danliu commented on #383
assigned at @AndriySvyryd

[2015-04-22 00:17] danliu commented on #379
assigned to @AndriySvyryd

[2015-04-22 01:04] yishaigalatzer commented on #472
We can use the environment variable `LOCALAPPDATA` and fallback if its empty to `XDG_DATA_HOME` mono style.

[2015-04-22 01:05] yishaigalatzer commented on #473
Thank you for reporting, this was already fixed for RC.

[2015-04-22 01:05] #473 closed

[2015-04-22 01:17] mrchief commented on #473
Can I get the RC build from somewhere? I spent a great deal of time fighting this and the only workaround I have right now is installing the VS 14 build (v2.8.3 I believe).

[2015-04-22 02:02] yishaigalatzer commented on #473
Should be made public soon

[2015-04-22 02:18] mrchief commented on #473
:+1:

[2015-04-22 04:42] leppie commented on #470
@yishaigalatzer: Sorry for the dupe, did not realise everything got copied over from codeplex :)

Normal C# console app.VS2015 CTP 6. Nuget 3.0.60225.100

From the PM console in VS2015 I get:

[code]

From the UI I get a dialog with (same exception):
[code]

I tracked this down to https://github.com/NuGet/NuGet.PackageManagement/blob/master/src%2FProjectManagement%2FUtility%2FMSBuildNuGetProjectSy

[2015-04-22 07:18] forderud commented on #466
I'm surprised that NuGet cannot be built with any publicly available version of Visual Studio. This makes it difficult for external parties to contribute to the open-source project.

[2015-04-22 07:31] deepakaravindr commented on #470
//cc @deepakaravindr

[2015-04-22 07:45] bert2 commented on #464
This is not only a debate about default behaviour. Its about behaviour the documentation implies, but NuGet doesn't exhibit.
In which way you prefer to fix this discrepancy -- either update the docs or change the behaviour of NuGet -- is of course up to you. But please fix it. I, and propably other new NuGet users as well, will much appreciate a less confusing user experience regarding this issue.

[2015-04-22 07:51] deepakaravindr commented on #464
This doc might throw some light: http://docs.nuget.org/consume/package-restore#omitting-packages-from-source-control

[2015-04-22 08:25] bert2 commented on #464
Actually, it reveals more odd things. If I followed the proposed ways to omit packages from source control for both Git and TFS I'd get two different results. Git would completely ignore my packages whereas TFS would not have them in the pending changes but still detect them as adds. So the user actually would have to add the ".tfignore" file as well. But why isn't it sufficient to only use ".tfig

[2015-04-22 14:55] yishaigalatzer commented on #470
Thanks, this wasn't a dup just a wrong repo. We are going to take a look. Also note that current code is all in dev (and not master) branch

[2015-04-22 14:58] yishaigalatzer commented on #466
It is built against vs 2015, and must use the SDK for build the vs extension. As for everything else it uses dnx, you can work on the daily dnx bits and use commandline/omnisharp or another text editor to build. See githib/aspnet/home on how to use nightly bits from dnx.

[2015-04-22 18:36] #303 closed

[2015-04-22 20:10] RanjiniM commented on #436
@bhuvak is looking into this one.

[2015-04-22 20:11] danliu commented on #450
Also SolutionExtension.cs and ExceptionUtility.cs which exists in PackageManagement.VisualStudio layer.

[2015-04-22 20:40] #459 closed

[2015-04-23 00:30] mj1856 opened #475 "Transient error adding package with a frameworkAssembly dependency"
VS 2013, File new project, .NET 4.5.1, Console Application.
- `Install-Package WindowsAzure.ServiceBus`  fails.
- Try again.  `Install-Package WindowsAzure.ServiceBus`  works.

I've seen this before.  It seems to come and go.  Not sure why.  Nothing changed at all between installs.  Below is the full output from package manager console:

[code]

[2015-04-23 00:32] deepakaravindr opened #476 "No project name in Message 'Attempting to gather dependencies... targeting so and so <targetframework>'"
No project name in Message 'Attempting to gather dependencies... targeting so and so <targetframework>'

Try installing any package on any project. And, note that the project name do not appear on the first message

[2015-04-23 00:44] deepakaravindr opened #477 "Tab completion on Version is very slow, even causes VS hangs against private feeds"
Tab completion on Version is very slow, even causes VS hangs against private feeds

[2015-04-23 04:00] AArnott opened #478 "Package "_Restore" button shows underscore rather than underline"
![_restore](https://cloud.githubusercontent.com/assets/3548/7290374/8dfdafc2-e932-11e4-8e08-c6847796e5e3.png)

This is on 3.0.60410.213

[2015-04-23 04:49] emgarten opened #479 "Functional tests should run against both v2 and v3"
Functional test runs should be done against both v2 and v3 to increase test coverage on NuGet.Protocol.

[2015-04-23 05:41] emgarten opened #480 "Xunit fails to install on V2"
1. Install-Package xunit -Version 2.0.0-rc4-build2924 -Pre

Xunit fails to install on V2 due to a bug in the V2 dependencyInfo gather.

Xunit packages have strict dependencies and the needed version of xunit.abstractions does not get returned.

[2015-04-23 12:42] willemduncan opened #481 "NuGet 3 does not handle errors in packages.config like 'incorrect allowedVersions', 'duplicate entries of a package' or just plain invalid xml and so on"
Using VS2015 (CTP6) and NuGet 3.0.60225.100, having a `Packages.config` with an allowed version filter crashes Nuget, which in turn kills Visual Studio.

This seems to happen when the `allowedVersions="..."` attribute contains a version number without at least one period (`.`).

- Works: `<package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />`
- Works: `<package id="Newtonsoft.Js

[2015-04-23 14:07] cgatian opened #482 "Nuget as a Protocol"
I am attempting to use nuget.core to retrieve packages from a private server and install them. These packages are considered "update packs" and will replace dlls/content within a running application. I was able to successfully create packages, serve them, and create a package retrieval application. However, I was stuck wondering if Nuget has the mechanisms to perform the proper file copies? I'm pr

[2015-04-23 14:28] bhuvak commented on #451
@diegohb, I am not able to repro this using the latest verison of nuget.exe ( 2.8.60318.667). I tried deleting both packages that are direct dependency and indirect dependency and they get restored properly.
Is it a consistent repro for you ? Can you try with the latest version of nuget.exe and see if it works ?

[2015-04-23 16:11] bhuvak commented on #456
@roryprimrose, do you have the credentials set in %AppData%NuGet config file ? Looks like that's the one being picked up while restoring during build

[2015-04-23 17:21] deepakaravindr opened #483 "[NuGet.Protocol] In V2 Dependency gather, for each package, multiple calls to V2 endpoint FindPackagesById are made where 1 would work. Currently, FindPackagesById, hits the DB, so this can be slow for package with lot of dependencies"
[This is only applicable to V2 endpoint]

[NuGet.Protocol] In V2 Dependency gather, for each package, multiple calls to V2 endpoint FindPackagesById are made where 1 would work. Currently, FindPackagesById, hits the DB, so this can be slow for package with lot of dependencies

V2 Dependency gather uses FindPackages. And, FindPackages on IPackageRepository, in NuGet.Core, actually calls into FindPa

[2015-04-23 17:31] yishaigalatzer commented on #482
You are correct, and a good sample (though not guaranteed to work forever) is: http://nuget.codeplex.com/SourceControl/latest#WebMatrixExtension/

Also note that we are enabling a new type of feed (NuGet V3) that is based completely on static files. It is a lot more efficient and the code for it is here (start from Home repo). We don't yet have a public server implementation for you to build a ser

[2015-04-23 17:31] #482 closed

[2015-04-23 17:32] johnataylor opened #484 "dnx feed dropping packages that miss-name nuspec file"
some of the nuspec files in the packages fail because they do not follow the stated convention of <package-id>.nuspec

the issue is that the client is actually more forgiving.

the dnx job should follow the implemented client behavior for these packages and look for any file that ends with nuspec in the root of the zip (and presumably if it finds more than one - use the <package-id>.nuspec convent

[2015-04-23 17:34] yishaigalatzer commented on #484
How many of these pacakges exist? Should we just stop them from being uploaded from now on?

[2015-04-23 17:43] yishaigalatzer commented on #481
Thanks for reporting this. Note that we are not looking at codeplex issues for quite some time (and it's documented everywhere at this point). For now there is no way to block opening new issues on codeplex without hiding all the old issues.

Crash is fixed for RC, but the version of just 2 without dot is not supported (nor it was in Visual Studio 2013)

[2015-04-23 18:15] cgatian commented on #482
Thank you for the information. I've been deep in Nuget source for the last couple of days.  If I have any future questions is it alright to post them here? Or is there some other medium I should use?

[2015-04-23 20:43] willemduncan commented on #481
I assumed so, which is why I duplicated the issue here (a quick search came up with Codeplex first).

Using a version limiter of `"[1.9,2)" (a common requirement for jQuery) seemed to work fine so far with multiple projects in 2013. Definitely no crashes, but maybe the actual version limiting was down to good developer instructions rather than nuget.

Also, the nuget manual suggests single digit v

[2015-04-23 21:01] johnataylor commented on #475
can we see if we get a reliable repro, we are interested in repro on 2.8.x and 3.0.0

[2015-04-23 21:57] yishaigalatzer commented on #481
It is actually reported in the package manager window (even for vs2013). Looks like this never really worked. Perhaps some versions of it do, we will verify.

Thanks for taking the time. Great bug report!

[2015-04-23 22:00] yishaigalatzer commented on #482
We typically send people over to stackoverflow, where more people will see it. Come here if its not answered within a couple of days. This is mostly for bugs and feature requests.

Thanks for being polite and asking :) and also thanks for using our bits.

[2015-04-23 22:39] yishaigalatzer commented on #205
@csharpfritz not sure why this was assigned to you

[2015-04-23 22:40] yishaigalatzer commented on #162
@feiling was is upgrade not always true?

[2015-04-23 22:44] #440 closed

[2015-04-23 22:45] roryprimrose commented on #456
No, I point nuget.exe to a config in the same folder. It is here that the credentials get picked up as seen in the log line "Using credentials from config. UserName: [Username]".

I also tried ditching my config file and using powershell to add the credential via the command line before executing the restore. Exactly the same thing happened though.

[2015-04-23 22:48] csharpfritz commented on #205
It's part of a general UI usability review

-----Original Message-----
From: "Yishai Galatzer" <notifications@github.com>
Sent: ‎4/‎23/‎2015 18:39
To: "NuGet/Home" <Home@noreply.github.com>
Cc: "Jeffrey T. Fritz" <jeffreytfritz@gmail.com>
Subject: Re: [Home] NuGet.VisualStudioExtension: Packages by version istedious (#205)

@csharpfritz not sure why this was assigned to you
—
Reply to this email d

[2015-04-23 23:35] feiling commented on #478
@AArnott, I couldn't repro the problem. The text "Restore" is displayed correctly. Also, the underline under "R" shows when I press Alt. All this is the standard behavior of WPF and we haven't done anything to change this. Could it be possible that this have something to do with the particular build of VS you're using?

[2015-04-24 00:59] AArnott commented on #478
Well aside from the fact that I'm using a prerelease of VS2015, I couldn't
say that I have anything special going on.

On Thu, Apr 23, 2015 at 4:35 PM feiling <notifications@github.com> wrote:

[2015-04-24 00:59] cgatian commented on #482
Will do.

If you don't mind one last simple request. I've been looking this over and I'm pretty confident we should use nuget.core for 60% of the leg work for building a application update framework. My boss wants to bundle zip files and have people place them in a certain folder.  I'm like, why build everything from the ground up? A LOT of thinking and structure is already there, go out and use i

[2015-04-24 01:22] yishaigalatzer commented on #482
Not sure what you are looking for exactly, but feel free to use our code, assemblies or packages. Production update is typical not done directly with nuget because of the fact that many a times deployment has more concerns than just copying files and even for that it requires dealing with locked files etc. But NuGet is definitely used as part of such systems.

[2015-04-24 02:20] deepakaravindr opened #485 "Stop button on Powershell console is not truly cancelling the operation"
Stop button on Powershell console is not truly cancelling the operation. It simply stops the pipeline that has been invoked asynchronously. Note that the CancellationToken from the CancellationTokenSource on the ConsoleDispatcher needs to be passed down to the powershell cmdlets

Repro steps
1. Create a new console application
2. On PMC, Install-Package Microsoft.AspNet.Mvc
3. After a few dependen

[2015-04-24 10:45] #123 closed

[2015-04-24 13:33] Gladskih commented on #464
In current state new automatic package restore is unusable. Technologies like NuGet is designed to simplify dependency handling, but now it leads to time wasting for googling, reading forums, mess configuring.

[2015-04-24 13:47] AArnott commented on #478
I just saw the bug elsewhere in VS (the New Project dialog). So it looks like this is a WPF/shell issue not a NuGet issue.

[2015-04-24 13:47] #478 closed

[2015-04-24 15:21] yishaigalatzer commented on #464
@gladskih please be more specific about your pain. We can't do anything with a general statement.

[2015-04-24 16:10] #407 closed

[2015-04-24 17:47] AndriySvyryd commented on #383
Problem:
   When installing a localized package to a Web Site the satellite assemblies are not copied to the Bin folder

Cause:
   The satellite assemblies are copied by the project system when the main assembly reference is added. But at the time when NuGet adds that reference the localized package hasn't been installed yet

Solution:
    All the packages should be installed first at the solution

[2015-04-24 18:40] #450 closed

[2015-04-24 18:48] danliu commented on #161
Looks like it's the package issue itself. The package needs to be updated to work on VS14.

[2015-04-24 18:48] #161 closed

[2015-04-24 19:30] johnataylor opened #486 "search can show packages that are not yet available in the dnx feed"
The search index creation should use a cursor that is dependent directly or indirectly on the dnx blob creation.

The impact is that without this the user might be able to find packages in search that don't yet exist in the dnx folder structure.

[2015-04-24 20:48] yishaigalatzer opened #487 "Enable cancelling installation of NuGet pacakges in the Visual Studio UI"
We should enable cancelling an install, and roll back properly

[2015-04-24 23:20] AndriySvyryd commented on #383
Used the workaround in the test: NuGet/NuGet.VisualStudioExtension@a3935a78f236028634e63fefddff83d86ef7fa86

[2015-04-24 23:22] AndriySvyryd commented on #379
Fixed in NuGet/NuGet.VisualStudioExtension@2dc7ffd2f619774be39ae86f421437a49949f24f

[2015-04-24 23:22] #379 closed

[2015-04-24 23:39] danliu commented on #479
We now have two machines and one will be using api.nuget.org and the other one will be using nuget.org.

[2015-04-24 23:39] #479 closed

[2015-04-25 19:26] jasonwilliams200OK commented on #334
Will it be possible to share packages over network drive?
We use global pacakges folder on our server. Every now and then (whenever someone updates a package) it start emitting those `<EnsurePackage>` tags in project file which force the solution build to download not single/missing/renewed but ALL packages locally! This is broken behavior is so many ways.
So please bring the global installation.

[2015-04-25 21:40] thorn0 commented on #354
No, it isn't fixed.
Please go and see the "reviews" and "Q and A" on the Extension Gallery: https://visualstudiogallery.msdn.microsoft.com/5d345edc-2e2d-4a9c-b73b-d53956dc458d

[2015-04-26 04:30] AArnott opened #488 "NuGet v3 fails to install StyleCop.Analyzers.1.0.0-alpha005"
I can install alpha004 into my class library just fine. But updating to alpha005, or installing it fresh, always yields this error:

At line:1 char:1
+ update-package StyleCop.Analyzers -version 1.0.0-alpha005
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (:) [Update-Package], Exception
    + FullyQualifiedErrorId : NuGetCmdletUnhandledExce

[2015-04-26 20:35] jlouros commented on #354
@thorn0 I wrote about it in my blog. What I describe in my post works perfectly. http://www.johnlouros.com/blog/how-to-fix-VS2015-CTP6-NuGet-installation-failure

[2015-04-26 20:47] csharpfritz commented on #354
This has been fixed in our recent builds of Visual Studio and will be available with the next public release.

-----Original Message-----
From: "John Louros" <notifications@github.com>
Sent: ‎4/‎26/‎2015 16:35
To: "NuGet/Home" <Home@noreply.github.com>
Subject: Re: [Home] Visual Studio 2015 CTP6: "nugetvs" installation failure(#354)

@thorn0 I wrote about it in my blog. What I describe in my post

[2015-04-27 01:19] AArnott commented on #488
Also noticed that this command tries to install alpha004 instead of alpha005

Attempting to gather dependencies information for package 'stylecop.analyzers.1.0.0-alpha004' with respect to project targeting '.NETFramework, Version=v4.5.1'

[2015-04-27 03:00] deepakaravindr opened #489 "Build warnings which should not be ignored. PowerShellAutoCompleteResourceV2 and UIMetadataResourceV2 in Protocol do not use the CancellationToken and/or do not await but use the async keyword"
Build warnings which should not  be ignored. PowerShellAutoCompleteResourceV2 and UIMetadataResourceV2 in Protocol do not use the CancellationToken and/or do not await but use the async keyword

PowerShellAutoCompleteResourceV2.IdStartsWith and PowerShellAutoCompleteResourceV2.VersionStartsWith do not use the CancellationToken or the await keyword

UIMetadataResourceV2 do not use the CancellationT

[2015-04-27 06:28] v-yanlli opened #490 "Could not add Application Insights to project when create an Azure Mobile App(Preview)"
1.Start VS.
2.New project->Web->ASP.NET Application->Check Add Application Insights->Azure Mobile App(Preview)
Result:There will be a dialog.
repro in api.nuget,org and nuget.org config.
![1](https://cloud.githubusercontent.com/assets/12131845/7342644/9e24be6c-ece9-11e4-9750-bb775c95d972.png)

[2015-04-27 06:31] v-yanlli commented on #490
VS build is D14Rel.22823.01

[2015-04-27 09:53] tom-englert opened #491 "Updating packages deletes packages.config in TFS"
When there are projects in the solution that reference only one NuGet package, after updating the packages we get trapped with the following issue: (we use local TFS workspaces)

After updating, the package.config is marked as deleted in TFS, but there is a new package.config on the disk. The root cause seems to be that during update the old package is uninstalled, and because it was the last pack

[2015-04-27 10:08] tom-englert opened #492 "Can't install a package when there are some leftovers in the packages folder"
After installing some packages I found that some projects had the wrong Target Framework set, so I have reverted all changes, including removal of all packages.config and the repository.config. Only the downloaded packages binaries are in the packages folder.
Now with the package manager there is the following problem:

Installed packages shows "No items found", which is correct since there is not

[2015-04-27 15:23] maartenba commented on #432
We have deployed a number of performance improvements to MyGet. @suhasj can you try and give us some feedback if this is actually better from your end?

[2015-04-27 16:48] suhasj commented on #432
sure. Let me give it a try and get back

[2015-04-27 18:16] xavierdecoster opened #493 "Make it easier to omit packages from TFVC"
We should review the `.nuget\nuget.config` requirement to `disableSourceControlIntegration` for TFVC. Combined with adding a .gitignore/.tfignore, this currently seems over-complicated.

[2015-04-27 18:49] danliu commented on #146
This will not be fixed as we've decided to move the cmdlets to NuGet.VisualStudioExtension.sln.

[2015-04-27 18:49] #146 closed

[2015-04-27 18:50] danliu commented on #368
Fixed via https://github.com/NuGet/NuGet.VisualStudioExtension/commit/ae0411ba4cea9c85815400e66ebc08e0d7b3db5c

[2015-04-27 18:50] #368 closed

[2015-04-27 20:51] deepakaravindr commented on #464
This is a duplicate of https://github.com/NuGet/Home/issues/493

[2015-04-27 20:51] #464 closed

[2015-04-27 20:55] yishaigalatzer commented on #491
@tom-englert are you using Visual Studio 2015 or an earlier version? We believe we fixed this for Visual studio 2015 (and don't currently plan to fix for 2013 and earlier),

[2015-04-27 21:06] johnataylor commented on #488
This appears to have hit a known issue we have for the services regarding some of the data getting out of sync. We are working on a fix. This does not appear to be a problem in the client code.

[2015-04-27 21:06] #488 closed

[2015-04-27 21:08] johnataylor commented on #205
Can you add more details. Its not clear exactly what UI / scenario you are describing.

[2015-04-27 21:40] AArnott commented on #488
Thanks, @johnataylor. Would that also explain why it takes 1-2 *minutes* to install it even when it does work?

[2015-04-28 00:10] emgarten commented on #480
Fixed NuGet/NuGet3@95e2e2669041f1695ca53188ebf919243da8a5d4

[2015-04-28 00:10] #480 closed

[2015-04-28 01:14] v-lawu opened #494 "Creat new WAP, open package.config ,show one warning."
Repro steps:
1.New Project -> C# ->Web->asp.net Web Application->Web Forms/Web API etc.
2.Open package.config ,show one warning.
3.Close package.config, there is no warning.
Also repro in Dev12.
Repro build:D14Rel 22823.01(VS+SDK), Main 22827.01,Main 22828.01,WPT 22828.00(VS+SDK+NuGet VSIX)
![capture](https://cloud.githubusercontent.com/assets/12129698/7366071/44336356-edc8-11e4-929e-db81ef90c18a.

[2015-04-28 06:43] tom-englert commented on #491
I'm using VS2013, and due to company regulations we will probably have to go with this for the next years. So fixing this only for the early adopters will leave the main stream struggling!
Maybe you can point out the commit where this fix was done for 2015, so we can do the back-port by our own?

[2015-04-28 08:47] #399 closed

[2015-04-28 08:49] maartenba commented on #119
Currently automatic - any AAD user can publish (PPR/PROD)

[2015-04-28 12:53] julbaxter opened #495 "NuGet.PackageManagement is not available at https://www.myget.org/gallery/nugetbuild"

[2015-04-28 15:48] yishaigalatzer opened #496 "Add quirking/package version to eliminate the "any" lib folder"
Strawman: We should add a new meta tag to nuspec specifying that this package has no any folder. This will work only for 2.8.6 (minclient), and after 2.8.6. is public on all platforms we should stop allowing packages without it to be uploaded to the nuget.org server.

This will eliminate the need to specify new TFMs if ever any new one shows up, because the any (any unknown folder under lib is con

[2015-04-28 18:09] yishaigalatzer commented on #491
This fix should go to 2.8.6 release (for 2013 downlevel release)

[2015-04-28 18:34] maxtoroq opened #497 "Symbol server vs. including pdb files in package"
What are the benefits of using a symbol server instead of simply including the pdb files in the nuget package?

[2015-04-28 23:03] deepakaravindr opened #498 "Fix MEF part constructors with thread affinity. Also, switch to main thread where IServiceProvider is used or casts are performed"
Fix MEF part constructors with thread affinity. Also, switch to main thread where IServiceProvider is used or casts are performed

This related to https://github.com/NuGet/Home/issues/449. This is phase-2. Related item is phase-1

[2015-04-28 23:05] deepakaravindr commented on #449
Fixed with https://github.com/NuGet/NuGet.PackageManagement/commit/88936a4ff23836a44af8de4c77c7bb817470a426 and https://github.com/NuGet/NuGet.VisualStudioExtension/commit/25b907fd3c4d69d4dc8ecdbf4160661b2d1116cf

[2015-04-28 23:05] #449 closed

[2015-04-28 23:16] danliu commented on #307
Fixed via https://github.com/NuGet/NuGet.VisualStudioExtension/commit/9981ae0deb98f0ae4fbbeea3b281e154e731b1db

[2015-04-28 23:16] #307 closed

[2015-04-29 00:56] AndriySvyryd commented on #491
I wasn't able to repro this using VS2013.4 with NuGet 2.8.60318.734
@tom-englert Are you using different versions?

[2015-04-29 01:17] v-lawu opened #499 "When create Web API, VS crashed."
Repro steps:
1.File -> New project -> Visual C# -> Web -> ASP.NET Web Application->Web API.
2.Check the box for "Application Insights"
3.Make sure to check the "Web API" +"MVC" box below for "Add folders and core references for , and click "Authentication" to "Windows"
4.Click OK.
5.Wait for a few minutes, VS crash.
Repro in: Main build "22827.01",Main 22828.01 nuget.org, WPT 22828.00  VS+SDK+NuGe

[2015-04-29 01:25] v-lawu opened #500 "After create Windows 8.1 App, add "Azure Mobile Services" , meet error."
Repro steps:
1.New Project->Visual C#->Windows->Windows 8->Hub App(Windows 8.1 Universal)/Blank App
2.Right-click on the References node and select "Add Connected Service"
3.Choose Azure Mobile Services and click Configure.
4.Create new Mobile Services and click Add.
5.Wait complete  and error dialog pop up.
Repro in :Main build 22827.01,Main 22828.01, WPT 22828.00 VS+SDK +NuGet VSIX(\\\nuget\NuGe

[2015-04-29 01:30] v-lawu opened #501 "After create Console/Azure Cloud Service project, click "Add Connected Service" and add "Azure Storage", meet error."
Repro steps:
1.File -> New project -> Visual C# -> Console Application
2.Right-click on the References node and select "Add Connected Service"
3.Choose "Azure Storage" and click configure.
4.Choose "Azure Storage" and click Configure
5.Select a storage account, and click Add
6.Wait for NuGet packages to be installed, the error dialog pop up.
Also repro in  Azure Cloud Service with ASP.NET applicat

[2015-04-29 02:56] v-lawu opened #502 "Creat Windows 8.1 Universal App/Azure Mobile Service, "Microsoft.ServiceBus" reference could not found."
Repro steps:

First scenario:
1.New Project -> C# ->Web->asp.net Web Application->Azure Mobile Service.
2.Expand References and yellow warning signs adjacent to "Microsoft.ServiceBus".
3.Right click the Microsoft.ServiceBus reference to show properties, the path is empty.

Sceond scenario:
1.New Project->Visual C#->Windows 8.1  Universal Blank App/Hub App
2.Right-click on the References node and s

[2015-04-29 12:26] tubwreck opened #503 "nuget.exe -PreRelease incompatible with -Version: Cannot pull prerelease builds of a specific version"
My package feed contains the following items:

[code]

That is, I'm currently building pre-release builds of two versions of myPackage (8.5.0 and 8.5.1).

I need a nuget.exe command line that will get the most recent prerelease of 8.5.0 (but not 8.5.1). I've tried various combinations of things, but can't figure out how to do it.

This command:

[code]

complains that there is no 8.5.0 package (tr

[2015-04-29 12:58] jochenvanwylick opened #504 "Inconsistent package location between CI server and local"
Here's the StackOverflow question I've got going for this problem: http://stackoverflow.com/questions/29939947/could-not-resolve-this-reference-nuget-on-ci-server

I'm using a NuGet package: `Fluent.Validations` ( `<package id="FluentValidation" version="5.5.0" targetFramework="net45" userInstalled="true" />` ).

`.csproj` file looks like:

    <Reference Include="FluentValidation, Version=5.5.0.0

[2015-04-29 14:28] yishaigalatzer commented on #497
The main advantage is that the package size is much smaller. So your restore/disk utilization and potentially deployment are smaller by default.

There is also an automatic matching of the pdb to your dll if you deploy an application without the pdb, where you will have to manually match them otherwise.

[2015-04-29 14:28] yishaigalatzer commented on #497
@maxtoroq probably a good idea to cross post at stackoverflow.

[2015-04-29 14:33] yishaigalatzer commented on #503
We plan to have this scenario supported in NuGet 3.0. Note that using package install from command line is probably not the right way to go (because some package include power shell scripts that are not going to run from command line).

How urgently do you need this? We can probably show you a way to figure out the version in your code/script and then call nuget install with it as a workaround?

[2015-04-29 15:46] maxtoroq commented on #497
@yishaigalatzer Did post on stackoverflow, but got no answers:
http://stackoverflow.com/questions/27988200/symbol-server-vs-including-pdb-files-in-package

[2015-04-29 16:42] yishaigalatzer commented on #497
Now you do :)

-----Original Message-----
From: "Max Toro" <notifications@github.com>
Sent: ‎4/‎29/‎2015 8:46 AM
To: "NuGet/Home" <Home@noreply.github.com>
Cc: "Yishai Galatzer" <yishai_galatzer@yahoo.com>
Subject: Re: [Home] Symbol server vs. including pdb files in package (#497)

@yishaigalatzer Did post on stackoverflow, but got no answers:
http://stackoverflow.com/questions/27988200/symbol-ser

[2015-04-29 17:40] Galan2X commented on #354
So for me, I get this error because when I updated Windows 10 10049 to 10061, it broke VS2015 CTP 6 (wouldn't launch), so I tried Repairing it and it finally fails with this error. Would John's trick work for me? Or should I uninstall and reinstall CTP 6, or wait for this new release you're talking about, Jeffrey?

[2015-04-29 20:38] deepakaravindr commented on #504
This is fixed in VS 2015 RC. Please try the latest builds

[2015-04-29 20:38] #504 closed

[2015-04-29 20:40] deepakaravindr commented on #502
@AndriySvyryd Can you please try this?

[2015-04-29 20:45] deepakaravindr commented on #501
@yishaigalatzer, We don't think this is related to NuGet and may be related to connected services

[2015-04-29 20:45] deepakaravindr commented on #501
This is a tracking bug

[2015-04-29 20:47] deepakaravindr commented on #500
@yishaigalatzer , Possible duplicate of https://github.com/NuGet/Home/issues/501

[2015-04-29 20:49] deepakaravindr commented on #499
This is a tracking bug for an external issue

[2015-04-29 20:51] deepakaravindr commented on #497
Closing this issue as stackoverflow is answered

[2015-04-29 20:51] #497 closed

[2015-04-29 20:54] deepakaravindr commented on #494
This has always been the case since there is no schema for packages.config. Closing this as Won't Fix

[2015-04-29 20:54] #494 closed

[2015-04-29 21:11] BrennanConroy opened #505 "Cross-Plat Compatibility"
Currently GetEnvironmentVariable is called in a few places with EnvironmentVariables specific to Windows, e.g. "ProgramData" and "APPDATA", we should figure out what the *nix path equivalents are and add checks for those.

Second, we need to be careful with case-sensitivity for the paths. I know in v2 we used some lower-case paths that wouldn't work cross-plat, but a quick glance at v3 I didn't fi

[2015-04-29 21:15] johnataylor commented on #486
moved issue to nuget/nugetgallery

[2015-04-29 21:15] #486 closed

[2015-04-29 21:17] #484 closed

[2015-04-29 21:22] johnataylor commented on #305
Move to gallery issues

[2015-04-29 21:22] #305 closed

[2015-04-29 21:24] #198 closed

[2015-04-29 21:25] #80 closed

[2015-04-29 21:43] feiling commented on #495
Fixed. CI build now pushes NuGet.PackageManagement and NuGet.PackageManagement.UI to myget

[2015-04-29 21:43] #495 closed

[2015-04-29 22:59] deepakaravindr commented on #499
Assigning to Dan for verification

[2015-04-29 22:59] deepakaravindr commented on #502
@danliu , assigning to Dan for verification

[2015-04-29 22:59] deepakaravindr commented on #499
@danliu

[2015-04-29 23:00] deepakaravindr commented on #501
Assigning to @danliu for verification

[2015-04-29 23:19] deepakaravindr opened #506 "Remove Marshaler class in powershell console"
This is a code refactoring bug, based on a code review comment. No repro steps available

[2015-04-29 23:25] deepakaravindr opened #507 "Regression: Functional test SinglePackageInstallIntoSingleProjectWhenSolutionPathHasComma started failing with the VS threading changes"
Regression: Functional test SinglePackageInstallIntoSingleProjectWhenSolutionPathHasComma started failing with the VS threading changes

[2015-04-30 01:09] julbaxter commented on #495
Thank you.

[2015-04-30 02:57] danliu commented on #501
assign to Deepak as he already has a fix for this issue.

[2015-04-30 03:31] yishaigalatzer commented on #505
@BrennanConroy please try to be specific when issues like this are filed (point to code samples), specify what this is blocking and when you need a fix. etc.

[2015-04-30 05:08] v-lawu commented on #499
Call Stack +Dump file link: \\\vwdbuild01\temp\V-lawu\dumpfile\499

[2015-04-30 06:32] tom-englert commented on #491
That's exactly the configuration I use. I have a local workspace and use the PM GUI, not the console.

[2015-04-30 08:27] jochenvanwylick commented on #504
@deepakaravindr Thanks! I'm using NuGet auto-restore with a bundled NuGet.exe in the .nuget folder in the solution. Should I update that nuget.exe file then? And if so, update it to 2.8.5 or the v3 beta?

[2015-04-30 08:28] deepakaravindr opened #508 "Add a functional test/automation test that creates a project and adds a connected service. This ensures that NuGet on connected services scenario works properly"
Add a functional test/automation test that creates a project and adds a connected service. This ensures that NuGet on connected services scenario works properly

Steps should be the following:

1) Create Console application
2) Add connected service
3) Add Azure Storage
4) Configure and select an account

This installs a bunch of NuGet packages using the NuGet VS extensibility API

At this point, I

[2015-04-30 13:59] tubwreck commented on #503
I'm glad to hear that this will be supported in 3.0. We are using nuget internally for distributing non-software packages, so we're not worried about embedded powershell scripts. We can script around this of course.

Thanks.

[2015-04-30 15:52] yishaigalatzer commented on #503
For this scenario you can use dnu for now. Nuget 3 will be similar. For details go to github.com/aspnet/home

[2015-04-30 17:03] danliu commented on #508
It would be hard for UI framework also for all of these steps. We have daily manual verifications on this scenario using latest builds, so automation can be P2 at this point.

[2015-04-30 17:54] danliu commented on #499
this bug is external to NuGet

[2015-04-30 17:54] #499 closed

[2015-04-30 19:36] AndriySvyryd commented on #491
Tried console and GUI. Upgrading EntityFramework 6.0.0 to 6.1.3.
packages.config is deleted, then recreated and checked out for editing.

@tom-englert Does this happen for a specific project type or package?

As a workaround can you pend packages.config before performing the upgrade?

[2015-04-30 20:52] deepakaravindr commented on #503
We would like to support something like 'nuget.exe install  <packageId> -version 8.5.1-*', where * is interpreted as the highest version (This is just the current thinking. We will concretize when we implement this feature)

[2015-04-30 20:56] #508 closed

[2015-04-30 20:57] forderud opened #509 "Add NuGet dependency to project from command line"
I am in need for a scriptable way to add NuGet package dependencies to auto-generated C++ vcxproj projects generated by a project-file generator, like CMake or QMake.

The package manager console seem to offer "Install-Package" for doing this, but I've been unable to script this function outside of visual studio.

[2015-04-30 20:59] deepakaravindr commented on #509
This relies on VS capabilities and we don't plan to bring it to the exe. Closing this as By Design

[2015-04-30 20:59] #509 closed

[2015-04-30 21:02] deepakaravindr commented on #505
This is a duplicate of #472

[2015-04-30 21:02] #505 closed

[2015-04-30 21:10] deepakaravindr opened #510 "NullReferenceException thrown in the UI when scrolling the packages list"
VS2015 RC, Nuget 3.0.0
using: https://www.nuget.org/api/v2/

Error occured:\nSystem.NullReferenceException: Object reference not set to an instance of an object.
at NuGet.PackageManagement.UI.PackageLoader.<>c__DisplayClass1a.<<SearchInstalled>b__10>d__21.MoveNext()
--- End of stack trace from previous location where exception was thrown ---
at System.Runtime.CompilerServices.TaskAwaiter.ThrowForN

[2015-04-30 21:14] deepakaravindr opened #511 "When opening solution in VS2015RC with Nuget 3.0.0 error message is shown in Pacakge Manager Console: "An item with the same key has already been added.""
When opening solution in VS2015RC with Nuget 3.0.0 error message is shown in Pacakge Manager Console:   "An item with the same key has already been added."

Because of the following. one of the project in solution had this in packages.config

[code]

how did it get there? no idea.

[2015-04-30 21:16] forderud commented on #420
I've tried to fix the issue on https://github.com/forderud/NuGet.Packaging/tree/unzip_timestamp

However, I have not been able to test the changes due to build issues with VS2015 RC. Therefore, I do not dare to send a pull request.

[2015-04-30 21:19] yishaigalatzer commented on #511
#481

[2015-04-30 21:20] yishaigalatzer commented on #481
We should also consider behavior in console, and he case where we have multiple keys like in #511

[2015-04-30 21:20] #511 closed

[2015-04-30 21:40] AndriySvyryd commented on #346
Enable-Migrations is part of the EntityFramework package starting with version 4.3
MvcScaffolding depends on EntityFramework 4.1, thus Enable-Migrations will not be available unless you update the EntityFramework package.

[2015-04-30 21:40] #346 closed

[2015-04-30 22:28] kzu opened #512 "Pass $solution as a param to init.ps1"
From the [documentation](https://docs.nuget.org/create/creating-and-publishing-a-package#automatically-running-powershell-scripts-during-package-installation-and-removal):

Would be immensely useful for init scripts to actually have *some* context of the solution it's being installed into. I propose you pass the DTE.Solution as the $solution parameter for Init.ps1.

[2015-04-30 23:17] deepakaravindr commented on #481
As discussed with @feiling , assigning this to him

[2015-05-01 00:09] deepakaravindr commented on #501
This turned out to be a hang after the VS threading changes. It has been fixed with https://github.com/NuGet/NuGet.VisualStudioExtension/commit/a4637d1f4811dfcee66f0bdcc0a3f894de33a5ae

[2015-05-01 00:09] #501 closed

[2015-05-01 00:09] deepakaravindr commented on #500
This is a duplicate of #501

[2015-05-01 00:09] #500 closed

[2015-05-01 01:04] yishaigalatzer commented on #456
@roryprimrose are you able to use the credentials from `%appdata% Nuget.config` as a workaround for now?

[2015-05-01 04:59] roryprimrose commented on #456
See previous two comments. This question has already been addressed.

[2015-05-01 06:52] yishaigalatzer commented on #456
Not really. The question was around if you can use the above suggestion as a workaround? If not we can look for another workaround until this gets fixed and a nuget.exe released

[2015-05-01 06:55] roryprimrose commented on #456
I think I have already covered that and found the same result. I tried using the command line to add the credentials as part of the build. This would put the credentials into %appdata% nuget.config. The creds were used to query the packages but not used to download them.

[2015-05-01 07:02] matt-sullivan commented on #338
Hi @deepakaravindr,

I was thinking about taking a look into this issue, but I noticed there's an outstanding issue assigned to you (#44) that says pack is not implemented at all.

This issue is impacting me on nuget 2.8, and I have briefly looked at the source for that. I haven't tried nuget 3 yet. Would I be better off trying to fix this on the 2.8 or 3 branch? Which is likely to make it into a

[2015-05-01 07:54] yishaigalatzer commented on #456
Can you verify the content of your global nuget.config. This is rather odd since this is a mainline scenario and I'm very surprised by it. We can obviously take a look first thing in the morning.

[2015-05-01 08:02] davidfowl commented on #512
Why not just use $dte.Solution? It's not like you can have more than one...

[2015-05-01 08:04] davidfowl commented on #503
omg concretize is a word :smile:

[2015-05-01 08:59] roryprimrose commented on #456
Not really. This is running in a VSO build so it would depend on that config. As you can see in the powershell though, I am getting nuget.exe to point to my specific config.

If it is any help in proving this yourself. I have a web project that has the nuget server package installed and then the following module (supports basic auth with a single config user):

[code]

[2015-05-01 14:17] yishaigalatzer commented on #456
Thanks, I was missing the part where you run in vso. That makes sense now.

[2015-05-01 16:15] #180 closed

[2015-05-01 16:47] MarkPflug opened #513 "Visual Studio and project-local nuget.config"
I have a solution that has a local nuget.config in the root which adds a custom nuget package source. There seems to be a problem with Visual Studio caching the nuget server list before the solution is opened, so the custom server in the local nuget.config is not properly getting picked up.

Repro steps:
Create a solution.
Add a nuget.config in the root solution folder, with a custom package sourc

[2015-05-01 18:31] deepakaravindr commented on #338
I would ignore issue #44 ... For more information, talk to @yishaigalatzer ... Thanks!

[2015-05-01 18:32] #44 closed

[2015-05-01 18:47] deepakaravindr opened #514 "Old package restore is not supported anymore. No need for 2 check boxes anymore"
Old package restore is not supported anymore. No need for 2 check boxes anymore

[2015-05-01 20:53] deepakaravindr commented on #376
This is a duplicate of #74

[2015-05-01 20:53] #376 closed

[2015-05-01 20:55] deepakaravindr commented on #74
Following functional tests are failing...

run-test UpdatePackagePreservesProjectConfigFile
run-test InstallPackageAddMoreEntriesToProjectConfigFile
run-test InstallPackageToWebsitePreservesProjectConfigFile
run-test InstallPackagePreservesProjectConfigFile

[2015-05-01 21:11] danliu commented on #74
one more
run-test UpdatePackagePreservesProjectConfigFile

[2015-05-01 21:14] feiling commented on #338
`nuget pack` without nuspec only handles basic scenarios. For complicated cases like this, the user needs to create the nuspec file, then they can have full control of the package creation.

[2015-05-01 21:19] johnataylor opened #515 "Package Manager window refresh causes network calls"
Whenever a window redraw is triggered on the Package Manager window in Visual Studio a series of network calls are made.

This is a problem for both V3 and V2 feeds. It's only that there are more network calls for V2 in general.

The expected behavior is that the data is cached.

[2015-05-01 21:22] feiling commented on #328
Fixed

[2015-05-01 21:22] #328 closed

[2015-05-01 21:41] johnataylor opened #516 "Package Manager should make network calls for package details in background"
The Package Manager needs to make multiple network calls to display the information required by the UI.

For V2 in a search after making the initial Search query call the subsequent FindPackageById calls should all be made in the background. (Note they are made concurrently and are reasonably fast on a good network, they are not in the background.)

This is not an issue with V3 because all the dat

[2015-05-01 22:09] johnataylor opened #517 "odata startup cost causes very slow Package Manager initialization"
Within a Visual Studio session on first opening the NuGet Package Manager the odata startup is causing an additional 5 or 6 second delay. This delay is completely independent of, and additional to, any network calls to be made.

This delay is very significant and results in a very poor user experience. However, it is only seen when you access a V2 data source.

Here is a corresponding issues in od

[2015-05-01 22:11] johnataylor commented on #512
What @davidfowl says. If you can get to it yourself just do it this way.

[2015-05-01 22:11] #512 closed

[2015-05-01 22:14] johnataylor commented on #513
@MarkPflug what vesrion of Visual Studio did you see this in?

[2015-05-01 22:22] johnataylor opened #518 "Packages that don't show if they are missing in a source"
Create an MVC project
Create a bad source and remove nuget.org

Open the package manager:

![image](https://cloud.githubusercontent.com/assets/2523898/7438235/86f60294-f015-11e4-9c0d-7885142292e9.png)

Similarly if there are no source nothing shows up

![image](https://cloud.githubusercontent.com/assets/2523898/7438252/d6873eae-f015-11e4-93a4-cb52036934ea.png)

[2015-05-01 22:25] johnataylor commented on #518
Also another callstack with nullref

![image](https://cloud.githubusercontent.com/assets/2523898/7438270/3d98bc8a-f016-11e4-8990-e87666379cc6.png)

[2015-05-01 22:35] johnataylor opened #519 "The "Installed" view in Package Manager should not show delayed scroll "Loading...""
The Package list in the Package Manager shows a delayed scroll "Loading..." indicator as a general rule. While this makes sense for an online search with potentially hundreds of result rows it makes little sense for "Installed."

A better user experience would be to lazily update the "updates available" icon from a network call completion for calls running in the background.

There should never be

[2015-05-01 23:39] MarkPflug commented on #513
2015ctp6. Latest nuget as of today.
________________________________
From: johnataylor<mailto:notifications@github.com>
Sent: ‎5/‎1/‎2015 3:14 PM
To: NuGet/Home<mailto:Home@noreply.github.com>
Cc: Mark Pflug<mailto:mark.pflug@live.com>
Subject: Re: [Home] Visual Studio and project-local nuget.config (#513)

@MarkPflug what vesrion of Visual Studio did you see this in?

---
Reply to this email dire

[2015-05-02 04:35] kzu commented on #512
Would be nice if that was documented in the context of running scripts,
just like it is for projects. Seems like it's such an obvious thing ;)

On Fri, May 1, 2015, 7:11 PM johnataylor <notifications@github.com> wrote:

[2015-05-02 05:41] AArnott opened #520 "NuGet v3 should honor developmentDependency=true in nuspec file"
When a nuspec file has this tag:

    <developmentDependency>true</developmentDependency>

Installing that package should cause a similar attribute to be added to the packages.config file. But when I run this command

to install a package with that tag, I get this in my packages.config file

    <package id="StyleCop.Analyzers" version="1.0.0-alpha005" targetFramework="net452" userInstalled="true"

[2015-05-02 05:49] yishaigalatzer commented on #520
@emgarten note this for the uap work - need to be translated (I think the feature is supported in nuget.config already)

[2015-05-02 06:49] davidfowl commented on #520
userInstalled="true"?

[2015-05-02 09:01] hikalkan commented on #338
Hi @feiling,

I don't think that is a complicated case. It's basic usage of nuget: library dependency management. nuget pack command should add dependencies upon my package.config. Managing own nuspec file is hard.

[2015-05-02 09:35] antkon opened #521 "nuget.exe Update doesn't work with wix projects"
Updating a wix project is only possible through the IDE. The command line tool won't work.
It always outputs this error message:
Unable to locate project file for 'path to packages.config'

[2015-05-02 09:39] davidfowl commented on #338
NuGet pack from a csproj will never work well when trying to recreate dependencies from a packages.config. I'd suggest that we don't bother trying to fix it. The only way to figure out the dependencies is by having them explicitly stated somewhere.

With NuGet v3 we'll split what got installed from what your application directly depends on so that this is more doable.

[2015-05-02 09:45] hikalkan commented on #338
Thanks @davidfowl
That was the problem. I directly depend on the package B. But since depdency A also depends on a lower version of B, nuget pack can not understand the fact: I need to depend on a higher version of B.

I would be happy if you fix it in this version, but it's OK.

[2015-05-02 12:53] tom-englert commented on #491
I have played around and found the following:
It's rarely reproducible with one project, but with three projects in the solution where two of them had outdated packages to update it always happened - sometimes only in one and sometimes in both projects.
I have prepared a solution on codeplex.com, if you have an account there I could add you to the team members so you can reuse this for testing.

[2015-05-02 13:38] forki commented on #310
It did repro, but the lastet nuget.org rejects such packages.

    <?xml version="1.0" encoding="utf-8" standalone="yes"?>
    <Types xmlns="http://schemas.openxmlformats.org/package/2006/content-types">
      <Default Extension="dll" ContentType="application/octet" />
      <Default Extension="pdb" ContentType="application/octet" />
      <Default Extension="xml" ContentType="application/octet" /

[2015-05-02 17:37] yishaigalatzer commented on #310
@forki did you try the visual studi rc build? It is not clear from your message. Either way I assume we can close this?

[2015-05-02 17:38] yishaigalatzer commented on #491
Please share the link to the project.

[2015-05-02 17:39] forki commented on #310
Yes this concrete issue is solved. Unfortunately I directly run into the one https://github.com/fsprojects/Paket/issues/812

[2015-05-02 17:42] yishaigalatzer commented on #338
Like David says correctly we are not going to fix this, and recommend that you use a nuspec.

Nuget v3 is not going to support this at RTM either, this is something that will be supported potentially at later releases. But when things get complex you still are responsible to provide your own nuspec. It is not that hard at the end of the day.

[2015-05-02 17:42] #338 closed

[2015-05-02 17:44] yishaigalatzer commented on #520
@davidfowl that's a half baked idea that got in, it is pretty much a useless to mimic transitive.

[2015-05-02 17:59] yishaigalatzer commented on #310
Ok I'm going to close this one. We can take a look at the other one on Monday. Please file it on the nugetgallery repo

[2015-05-02 18:00] AArnott commented on #520
I've noticed that userInstalled is always set to true even when it was brought in by another package. So ya, is that going away or should I file a bug for that too?

[2015-05-02 18:46] mkosieradzki opened #522 "Solution-level packages are no longer working in Visual Studio 2015 RC"
I have a solution level package consisting of powershell commands and some tools that I am successfully using in Visual Studio 2013. It was created with nuget 2.8.50506.491,

It does not work in VS 2015 RC. Is it as designed? Should I add new special configuration to .nuspec to allow solution-level or are the solution-level packages deprecated at all? Or maybe should I repack.

I found some inform

[2015-05-02 20:08] yishaigalatzer commented on #520
It's a fail. But we are not touching it for now. Feel free to file

[2015-05-02 20:47] AArnott opened #523 "NuGet v3 always adds userInstalled="true" attribute to packages.config"
NuGet v3 is adding `userInstalled="true"` to each `<package>` tag in packages.config regardless of whether the user explicitly installed the package or it came in via a dependency from another package.

I think we should remove that attribute and no longer add it to these packages.config files, or start setting the value meaningfully.

[2015-05-02 20:47] AArnott commented on #520
Done #523

[2015-05-02 21:51] dmccaffery commented on #522
This is also known as a tools-only packages (package that do not contain any content in the /lib or /content folders within the package). I ran into the same issue and tweeted about it: https://twitter.com/dmccaffery/status/592113002364600320 but never got a response. I hope this isn't an oversight as I rely on this quite heavily (it even sets up my solution folder structure, etc).

[2015-05-02 21:52] AndriySvyryd commented on #491
My Codeplex username is the same - AndriySvyryd

[2015-05-03 06:21] davidfowl commented on #522
@dmccaffery What do you rely on it for? Just curious...

[2015-05-03 06:22] davidfowl commented on #521
NuGet.exe update is a bit of a mess. It was only ever intended for CI scenarios when you wanted to test rolling updates against other packages.

I have no idea how NuGet interacts with WiX projects today. What are you trying to do?

[2015-05-03 07:06] bhuvak commented on #456
@roryprimrose , I did a setup locally with a nuget.server which has the basic auth module that you have shared and the issue doesn't repro with nuget.exe 2.8.6. However, when proper permissions are not set on the "packages" folder ( for the nuget.server website user account), I hit this issue. In your case does trying to download the package via browser [https://nuget.myserver.com/api/v2/package/m

[2015-05-03 07:10] roryprimrose commented on #456
Ah, interesting. I have pointed the packagesPath config to ~/App_Data/Packages to ensure that the packages are not publicly exposed.

I am surprised that this is a security issue because I expected that the server code would have read access to the packages folder on behalf of the user. What permissions are required outside of any IIS/ASP.Net defaults?

I'll so some more testing around this when I

[2015-05-03 09:04] mkosieradzki commented on #522
I can say I rely on this feature too: It's really useful to deliver tools for developers in your team or in SDK-like scenarios. It's way more handy than VSIX. Of course it can be replaced by VSIX, but nuget packages are much easier, with nice "init.ps1" semantics, they work on the build server, can be integrated into build process, and of course are much easier to version than VSIX, one they also

[2015-05-03 09:25] antkon commented on #521
Yes, for CI scenarios. I want to update a nuget packages on every build.
I have a .targets file that is imported into .wixproj. Add support of .wixproj, plz.

(see https://nuget.codeplex.com/workitem/2573)

[2015-05-03 09:44] tom-englert commented on #491
https://nugettestclient.codeplex.com, added AndriySvyryd as coordinator

[2015-05-03 10:22] urbas opened #524 "NuGet.Core package ID uses different casing to the Nuget.Core package listing"
This breaks on case-sensitive file systems.

For example, NuGet installs the package into `Nuget.Core.2.8.5/lib/...` but when resolving the path through the correct package ID `NuGet.Core`, the file is not found.

Suggested resolution:
- rename the package ID in the NuGet page listing (from `Nuget.Core` to `NuGet.Core`)
- rename the package ID in the nuspec (from `NuGet.Core` to `Nuget.Core`)

Her

[2015-05-03 10:29] roryprimrose commented on #456
Just tested this locally using IISExpress. I authenticated via the browser and the auth cookie was set (configured to use ~/App_Data/Packages as well).

I then listed packages and directly downloaded one of the packages using the browser. I got the package and my trace logs also indicated what happened.

[code]

I then created a restore scenario that used the same setup in my build process against

[2015-05-03 15:30] yishaigalatzer commented on #456
How did you get nugetm.exe to vso? Is it exactly the same binary?

[2015-05-03 23:42] dmccaffery commented on #522
I have a package that I apply to an empty solution that creates my solution structure, adds some PowerShell cmdlets to the environment and adds an MSBuild file that sets up everything used for automated builds. It does such things as adding source and test folders, adding StyleCop.Settings files to each, adding R# settings to the solution (team shared), etc.

The MSBuild downloads a copy of nuget.

[2015-05-03 23:57] dmccaffery commented on #522
As an FYI: I plan to rework a lot of the automation stuff as build steps to be executed from the new build system in TFS 2015, but it would still be nice to be able to setup the solution structure automatically with a nuget package. Also, the Build.Preview stuff is still in flux, so I cannot rely on it just yet. I used to do this in the old days with a custom project template, but that requires ma

[2015-05-04 06:02] matt-sullivan commented on #338
@yishaigalatzer,

I understand there will always be circumstances where nuget (v2) cannot infer what packages the user explicitly installed. However, isn't the @hikalkan scenario clearly a bug? (I.e. installing the package built by nuget can result in earlier versions of some dependencies being installed.)

I've made a change to test the version of the nested dependency before removing dependencie

[2015-05-04 07:37] yishaigalatzer commented on #338
If you installed both the package built with pack and the dependent packages you should get the correct versions. I didn't see that in the report. Do you have a repro for this scenario?

If this is just about packing I'm not so sure we want to go down this rabbit hole. We recommend authoring your own nuspec at that point.

The main issue with such changes is just like you suggest: What are the oth

[2015-05-04 07:45] davidfowl commented on #338
@matt-sullivan  If you can show that it only affects this very very very narrow use case and doesn't cause any regressions. It'll be an easier sell.

[2015-05-04 08:44] mrahl commented on #423
Test in PR now, sorry for the delay.

[2015-05-04 12:37] matt-sullivan commented on #338
Sorry if I wasn't clear, the issue is only during packing.

Given a project (Abp) that depends on Castle.Core 3.3.1 & Castle.LoggingFacility 3.3.0, and that Castle.LoggingFacility 3.3.0 depends on Castle.Core 3.3.0.

When you nuget pack Abp.csproj the resulting package will only depend on Castle.LoggingFacility 3.3.0. It should also depend on Castle.Core 3.3.1 to supply the reference Abp.dll was c

[2015-05-04 16:46] deepakaravindr opened #525 "Validate and remove the check made in VSMSBuildNuGetProjectSystem.AddFileCoreAsync() for existing files that are not in the project"
Tracking bug: Validate and remove the check made in VSMSBuildNuGetProjectSystem.AddFileCoreAsync() for existing files that are not in the project

[2015-05-04 17:28] deepakaravindr commented on #74
Fixed with https://github.com/NuGet/NuGet.PackageManagement/commit/ada97b47f73b1cf4da001ab0aaa567c6248d94ab and https://github.com/NuGet/NuGet.VisualStudioExtension/commit/248a7d8637a49afffce8fd4eff66396678549e06

[2015-05-04 17:28] #74 closed

[2015-05-04 20:29] deepakaravindr commented on #498
Note that this causes a hang right now when creating a new MVC WebApp or a Universal application

[2015-05-04 20:37] deepakaravindr commented on #524
We will fix it for 2.8.6

[2015-05-04 20:44] yishaigalatzer commented on #522
We deprecated solution level packages in NuGet 3.0 and we don't plan to support them going forward. I see what you are trying to do and your thoughts make sense.

The alternative beyond what you suggested is to create a powershell script you can point your users to.

[2015-05-04 20:44] #522 closed

[2015-05-04 20:56] dmccaffery commented on #522
Thanks for the update. It shouldn't be too difficult to repurpose this as its primarily PowerShell anyway. Its just not quite as convenient.

[2015-05-04 20:57] deepakaravindr opened #526 "NuGet pack - Unexpected token error with complex icon url"
Have a spec file with this url for the icon:
<iconUrl>http://download-codeplex.sec.s-msft.com/Download?ProjectName=vstnet&DownloadId=34897</iconUrl>

When trying to create a package it says:
'=' is an unexpected token. The expected token is ';'. Line 10, position 92.

Pos:92 is the second! '=' char. (after '&' ?)

Hope it helps,
Marc Jacobi

@obiwanjacobi, This is a duplicate of https://github.com

[2015-05-04 21:15] danliu commented on #279
reassign to Deepak as he's going to address this in a full story.

[2015-05-04 21:23] mkosieradzki commented on #522
Thanks a lot for clarification and a clear statement. I understand that we should use the new TFS 2015 build system features for that. Sounds reasonable.

[2015-05-04 22:46] AndriySvyryd commented on #498
This reproes for all ASP.NET 4.6 templates except the Empty one

[2015-05-04 23:19] abcdabcdabcd opened #527 "nuget has problems with pwds with special chars"
If your config uses repos with validation and you store the password in cleartext in the config file and it is has some special chars in it, VS fails to load the config file and just shows the default repos

[2015-05-05 04:07] emgarten commented on #483
DependencyInfo requests will now retrieve all versions of a package and cache the results.

Fixed with NuGet/NuGet3@fddf5dc3e3af91f3d07878d1616c40a6faa15c75

[2015-05-05 04:07] #483 closed

[2015-05-05 04:09] emgarten commented on #371
Exceptions have been added for DependencyInfo with NuGet/NuGet3@fddf5dc3e3af91f3d07878d1616c40a6faa15c75

[2015-05-05 04:10] emgarten commented on #443
Fixed with NuGet/NuGet3@fddf5dc3e3af91f3d07878d1616c40a6faa15c75
and NuGet/NuGet.Packagemanagement@b0d206ead1d48345ae3eb0cd4a171b7b85df1c1b

[2015-05-05 04:10] #443 closed

[2015-05-05 04:12] emgarten commented on #171
DependencyInfo is now gathered on a per id basis, instead of as a complete tree walk.

NuGet/NuGet3@fddf5dc3e3af91f3d07878d1616c40a6faa15c75

[2015-05-05 04:12] #171 closed

[2015-05-05 04:15] emgarten commented on #444
The gather has been optimized to retrieve only packages which are linked in some way to the target package.

NuGet/NuGet.Packagemanagement@b0d206ead1d48345ae3eb0cd4a171b7b85df1c1b

[2015-05-05 04:15] #444 closed

[2015-05-05 04:16] emgarten commented on #306
Completed for RC

[2015-05-05 04:16] #306 closed

[2015-05-05 05:24] emgarten opened #528 "GetInstalledPackages should return a distinct list of packages"
IVsPackageInstallerServices.GetInstalledPackages()

Steps:
1. Create a solution with multiple projects
2. Install EF 6.1.2 into each project
3. Call GetInstalledPackages()

Expected:
A distinct list of packages id/version

Actual:
EF appears multiple times

This behavior change causes the entity framework migration script to fail.
See https://github.com/aspnet/EntityFramework/issues/1950

[2015-05-05 13:27] tom-englert opened #529 "Interface missing in symbol package"
After adding an interface to my project, uploading symbols fails with the message:

The remote server returned an error: (506) Package submission failed: Source file d:\Develop\My Open Source\TomsToolbox\Main\TomsToolbox.Core\INotifyChanged.cs
not found in package. Source file is declared in TomsToolbox.Desktop.pdb

The project is at https://tomstoolbox.codeplex.com/SourceControl/latest (Main bran

[2015-05-05 13:28] roryprimrose commented on #456
I got it from the CommandLine NuGet package and put it in my repo. It is version 2.8.60318.667

[2015-05-05 13:44] roryprimrose commented on #456
I also tested with nuget 2.8.50926.602 and found the same. With both these versions, I consistently get the problem locally. I don't know what I missed when I tested this locally the other day.

[2015-05-05 15:22] bhuvak commented on #456
If you try downloading a package from your custom nuget server ( not locally hosted in IISExpress) via browser ( using /api/v2/<packageid>/<version> ) does it work ? If there is a permissions related issue, it should fail.
Also when you try to hit your nuget.server from nuget.exe from your local machine, can you capture the fiddler trace and share it with us ?

[2015-05-05 17:05] #264 closed

[2015-05-05 17:18] danliu opened #530 "QuickLaunch is not available, the window kept searching for a long time"
Found by automation.

![cat](https://cloud.githubusercontent.com/assets/1087852/7478503/1b16db7c-f310-11e4-923f-2be029d6a07d.jpg)

[2015-05-05 18:07] nathanaeljones commented on #300
Are there any specs/documents/drafts we can review?

[2015-05-05 18:17] RussianDragon commented on #408
Та же проблема на Windows 10, при наличии в Solution MVC Project на Fraemwork 4.5

[2015-05-05 19:31] johnataylor opened #531 "Package Manager is making extra network calls"
Package Manager is making extra network calls to retrieve package details available in search.

On the Package Manager dialog half of the details come from a single network call to the search service. And half come from a subsequent call to fetch the registration blob which also in-lines the details.

Switching between detail view causes more network calls.

Some of the details return in the searc

[2015-05-05 19:34] johnataylor opened #532 "Client should understand relative paths"
Some of the JSON results contain links. The client should understand relative paths in these links - exactly as happens in HTML pages.

This would help significantly with the ops on the server as it would allow many scenarios where interlinked static content could just be copied.

[2015-05-05 20:23] danliu commented on #157
There is no dialog anymore, instead it's an error on the error list. So we are not going to add a upgrade button, but to add the install link to the message.

[2015-05-05 21:30] danliu commented on #260
Looks like Fei already fixed this bug via https://github.com/NuGet/NuGet.VisualStudioExtension/commit/741ba2c836770dc5f89dea59e55eeb2bfe010d81, where the executionPolicy is set to ByPass for process. So the script will always run.

[2015-05-05 21:30] #260 closed

[2015-05-05 22:09] danliu commented on #363
After connecting to the database, confirmed that NuGet 3.0 is not sending user agent to the server.

[2015-05-06 00:26] AndriySvyryd commented on #491
Tried updating JetBrains.Annotations 9 times, all succeeded.

[2015-05-06 03:16] #157 closed

[2015-05-06 03:22] #272 closed

[2015-05-06 05:51] softlion opened #533 "nuget package restore triggered while building fails if package source is a secured private nuget server"
Facts:
- A project contains a missing nuget package that has been obtained from a private nuget server which requires authentication
- Build the project

The build fails to restore the nuget package and does not pop the authentication box. The user must use the restore button in the "manage nuget package" dialog instead.

This is not really an issue, as it is not expected from builds to display an

[2015-05-06 06:21] danliu opened #534 "Functional test failure InstallPackageWithUnsupportedReference"
![ref](https://cloud.githubusercontent.com/assets/1087852/7488317/5f6f48dc-f37d-11e4-9370-129efba85587.PNG)

packages with dll residing in unrecognized framework is still added as reference, where it was not in 2.* versions.

[2015-05-06 15:23] bhuvak commented on #437
fixed as part of https://github.com/NuGet/NuGetGallery/issues/2446

[2015-05-06 15:23] #437 closed

[2015-05-06 15:24] bhuvak commented on #436
Seems to be one off 500 error from Azure management APIs. Closing this one as there is nothing much to do from our side.

[2015-05-06 15:24] #436 closed

[2015-05-06 15:25] bhuvak commented on #451
Closing this one as it doesn't repro on my end. Let me know if you still hit it.

[2015-05-06 15:25] #451 closed

[2015-05-06 15:26] bhuvak opened #535 "NuGet.exe 2.8 fails to push the package, while NuGet.exe 2.7 succeeds"
Ported from https://github.com/NuGet/NuGetGallery/issues/2447

[2015-05-06 16:49] pranavkm commented on #67
This should be addressed by our use of https://github.com/NuGet/NuGet3/blob/dev/src/NuGet.Common/ConcurrencyUtilities.cs#L22

[2015-05-06 17:30] danliu opened #536 "Functional test failure UninstallPackageUseTargetFxPersistedInPackagesConfigToInvokeUninstallScript"
Looks like the old behavior is that:

If a package is installed to .net40 project and then retargeted to .net35 project, when uninstall that package, the uninstall.ps1 should be using the one from net40 folder still.

This was the design for 2.8.* versions. Now in NuGet 3.0, the uninstall.ps1 is picked from net35 folder.

[2015-05-06 17:33] #67 closed

[2015-05-06 18:11] danliu opened #537 "Functional test failures - Improve the messages of the resolver/gather"
Failed SubTreeUpdateWithConflict Expected <Updating 'C 1.0' to 'C 2.0' failed. Unable to find a version of 'G' that is compatible with 'C 2.0'.> but got <Unable to satisfy package dependency constraints.>. At update.ps1: line 336

Failed UpdateScenariosWithConstraints Missing dependency information for package: A

Failed UpdatePackageWithDependentsThatHaveNoAvailableUpdatesThrows Expected <Updatin

[2015-05-06 21:42] emgarten opened #538 "NuGet.VisualStudio.dll cannot be referenced from Dev12"
Referencing the current NuGet.VisualStudio.dll from a project in Dev12 produces compiler errors about duplicate types. From Dev14 it compiles without issues.

The older package from mid-March works fine in Dev12:
https://www.myget.org/feed/nuget-volatile/package/nuget/NuGet.VisualStudio

We should find what changed with the assembly or how it was built that causes this.

[2015-05-06 22:26] yishaigalatzer commented on #538
Are we sure this is a bug?

[2015-05-06 22:37] feiling opened #539 "StackOverflow when installing package t4mvc"
This is a bug found by a customer.

Repro steps:
- Create a Console Application. Set its target framework to 4.6.
- Create file packages.config in the project directory, with this content
[code]
- Open the project, and restore all the packages.
- Make sure source "api.nuget.org" is enabled. I found that if only "nuget.org" is enabled then there's no problem.
- Open package manager console, run `in

[2015-05-06 23:17] AndriySvyryd opened #540 "[NuGet.VisualStudioExtension] Creating projects from PMC that install packages hangs"
Uncomment Test-GetInstalledPackagesMVCTemplate in ServicesTest.ps1

Run-Test GetInstalledPackagesMVCTemplate

[2015-05-06 23:55] emgarten commented on #538
I'm not sure, it is just very strange behavior. It doesn't appear related to the NuGet APIs themselves, just with how the assembly is consumed. Other users may hit this once the RTM package for NuGet.VisualStudio.dll is pushed to nuget.org.

[2015-05-06 23:56] emgarten commented on #539
If this is due to a circular dependency then it should be fixed for RTM with:  https://github.com/NuGet/Home/issues/171

[2015-05-06 23:58] #528 closed

[2015-05-07 02:58] deepakaravindr opened #541 "Tab expansion on powershell console should cancel as the user types"
Tab expansion on powershell console should cancel as the user types

Also, add CancellationToken to NuGet.Core as needed

[2015-05-07 03:15] deepakaravindr commented on #504
@jochenvanwylick, Migrating to automatic package restore is better. Thanks!

[2015-05-07 05:32] yishaigalatzer opened #542 "NuGet 2.8.6 should only depend on .NET 4.5 and not 4.5.1"
Visual Studio 2013 requires only .NET 4.5 and not 4.5.1.
Starting from (or might be earlier) Nuget 2.8.3 we depend on 4.5.1, we should restore to 4.5 for Visual Studio Update 5

[2015-05-07 05:33] davkean commented on #542
Looking at VSIXManifest, it states the following:     ```<SupportedFrameworkRuntimeEdition MinVersion="4.0" MaxVersion="4.5" />```

[2015-05-07 07:37] karldodd opened #543 "[NuGet.VisualStudioExtension] 'All' package source is missing in VS2015 RC"
Hi,

I have multiple nuget package sources set up in my environment. In VS2015 RC's Package Manager, I failed to find the 'All' option on the UI, which used to be there in VS2013.

I also tried the command line:
[code]

In VS2013, 'All' works:

[code]

[2015-05-07 10:44] citizenmatt opened #544 "VS2015RC cannot find unlisted package"
Hi all. I'm trying to install the `JetBrains.ReSharper.SDK` package in VS2015RC, and it's failing. After some investigation, it's failing to find the unlisted `Newtonsoft35.Json` package (yes, the ReSharper SDK is using a private, unlisted copy of a json.net. I can't remember why, but I'm sorry). If I try to install directly from the console, it errors with "Package 'Newtonsoft35.Json' is not foun

[2015-05-07 11:45] karaken12 opened #545 "Support for SQL Server Database Tools projects"
(Moved from http://nuget.codeplex.com/workitem/2439)

SSDT projects can reference DacPac files, which are similar in concept to assemblies. There is a perceived need for NuGet packages that can install DacPacs into SSDT projects, so that common database code can be shared, e.g. throughout an organisation. SSDT is a core part of VS 2012, so it is likely that more people will be using these project

[2015-05-07 16:09] feiling commented on #539
This bug repros with the current dev branch.

[2015-05-07 16:21] feiling commented on #515
Fix verified.

[2015-05-07 16:21] #515 closed

[2015-05-07 17:36] #392 closed

[2015-05-07 18:16] yishaigalatzer commented on #386
Updated the instructions and included a new build script

[2015-05-07 18:16] #386 closed

[2015-05-07 18:20] yishaigalatzer commented on #300
Not yet, still working on it

[2015-05-07 18:28] danliu commented on #534
assign to Justin as he has most context.

[2015-05-07 18:39] emgarten commented on #353
We need to treat warnings as errors in the csproj based repos.

[2015-05-07 18:51] emgarten commented on #534
We support sub folders, for example lib\x86\assembly.dll needs to be added here, and x86 is not a valid framework. We should consider removing this test.

[2015-05-07 18:54] yishaigalatzer commented on #300
@nathanaeljones we are going to have project.json and a lock file as well as transitive restore supporting install.ps1 uninstall.ps1 content and targets fully in Visual Studio. The code is already public in NuGet but we are still playing around with it. It requires an msbuild task/target file that is being worked on as well (but is not public yet).

I don't understand the native picture 100% so I

[2015-05-07 21:06] deepakaravindr commented on #545
Thanks for your suggestion! At this point, we don't plan to add support for DacPac in NuGet. This is something we might consider in the future

[2015-05-07 21:07] GeertvanHorrik opened #546 "[NuGet.VisualStudioExtension] When setting filter to "Upgrade available", default action should be update instead of uninstall"
When I am filtering on packages to upgrade, I am not necessarily interested in removing them ;-)

Please change the default action from "Uninstall" to "Update" (or "Upgrade"). I know they are alphabetically sorted, but please put the default to Update.

[2015-05-07 21:11] deepakaravindr commented on #544
Please verify that unlisted packages can be restored as well as part of this fix

[2015-05-07 21:13] deepakaravindr commented on #546
Thanks for the feedback! We have fixed this issue for RTM

[2015-05-07 21:13] #546 closed

[2015-05-07 21:15] deepakaravindr commented on #543
Thanks for your feedback! We will fix it post RTM

[2015-05-07 21:18] GeertvanHorrik opened #547 "[NuGet.VisualStudioExtension] Updating a package on a solution with 26 projects takes crazy long"
Average CPU usage during update: 70 %
Memory usage: 2GB +

![image](https://cloud.githubusercontent.com/assets/1246444/7526081/14bdbbbe-f50f-11e4-82cd-8254057153a7.png)

Regular on this sln is just a few percentages and max 500 mb of memory.

Package Manager Console Host Version 3.0.0.0

Type 'get-help NuGet' to see all available NuGet commands.

[code]

At first I tried to invoke via the UI => un

[2015-05-07 21:25] deepakaravindr commented on #547
@GeertvanHorrik
We have a few quick questions

1. Did you try without Resharper installed?
2. Can you share the packages.config from the various projects?
3. List of (enabled) package sources?

[2015-05-07 21:26] GeertvanHorrik commented on #547
1) I have disabled resharper now
2) I have removed the v3 package source

Seems to be much faster now. It's still "slow", but it's the same as v2. Memory usage stays at 500 mb. More info soon.

[2015-05-07 21:30] deepakaravindr commented on #533
@softlion
Please check http://docs.nuget.org/consume/NuGet-Config-Settings for setting up the credentials in nuget.config, so that, package restore can use it and not fail. In this scenario, UI is not the option

[2015-05-07 21:30] #533 closed

[2015-05-07 21:31] nathanaeljones commented on #300
@yishaigalatzer Have you resolved the issues with the msbuild team? Last I heard they were refusing to support NuGet (or any package manager, for that matter). I think the requirement was to enable reloading of the build file once the package manager has finished its work. [Packet and NuGet both ran into the same issue, I think](https://github.com/fsprojects/Paket/issues/417#issuecomment-66473466)

[2015-05-07 21:31] GeertvanHorrik commented on #547
Without resharper, with api.nuget.org package source: very slow, CPU jumps to 40 % (minimal, 70 % most of the time), memory goes up like crazy.

Below are the details of the package source:

1) api.nuget.org => https://api.nuget.org/v3/index.json
2) nuget.org => https://www.nuget.org/api/v2/
3) myget => https://mycompany.myget.org/F/myfeed/

Machine wide:

4) Microsoft and .NET =>  https://www.nug

[2015-05-07 21:33] GeertvanHorrik commented on #547
btw. when I open package manager console:

[code]

Is the "Unable to satisfy package dependency constraints" normal?

[2015-05-07 21:36] deepakaravindr commented on #529
@tom-englert , Can you please check if the package has the INotifyChanged.cs?

[2015-05-07 21:43] deepakaravindr commented on #527
@abcdabcdabcd

Thanks for the feedback! We will fix this post RTM

As a workaround, Consider using 'nuget.exe -config'  to set encrypted password. Check out http://docs.nuget.org/consume/Command-Line-Reference

[2015-05-07 22:25] #447 closed

[2015-05-07 22:52] #536 closed

[2015-05-07 23:18] deepakaravindr opened #548 "Test Standalone UI fails to load since the VS threading changes. Likely, because, ThreadHelper.JoinableTaskContext is null outside of VS"
Test Standalone UI fails to load since the VS threading changes. Likely, because, ThreadHelper.JoinableTaskContext is null outside of VS

[2015-05-08 00:15] #350 closed

[2015-05-08 00:25] AndriySvyryd opened #549 "[V2] Revisit AggregateRepository.IgnoreFailingRepositories behavior"
Currently AggregateRepository flattens any AggregateRepository added to it and uses the same IgnoreFailingRepositories setting for all the contained repositories. However this might not always be desired, e.g. a local repository should throw, but a remote repository should not when contained in the same AggregateRepository.

[2015-05-08 02:01] yishaigalatzer commented on #300
There is no msbuild involvement. We run nuget restore before build in nuget 3. Try it out in the rc bits.

I'll read about the other issues you mentioned.

Paket is honestly a very limited view on what NuGet packages contain. And I can't speak to what its limitations are.

I'll make sure that once command line bits are available we will reach out to you with more details.

[2015-05-08 02:44] deepakaravindr commented on #477
Resolved with https://github.com/NuGet/NuGet.VisualStudioExtension/commit/434adb1adaa079d1fd31f41dea504922da39ecbd

[2015-05-08 02:44] #477 closed

[2015-05-08 02:57] deepakaravindr commented on #163
We already discussed and decided not to fix this. The functional tests have been disabled

[2015-05-08 02:57] #163 closed

[2015-05-08 04:11] #534 closed

[2015-05-08 07:37] GeertvanHorrik opened #550 "[NuGet.VisualStudioExtension] MyGet feed packages show "download stream is null""
It can see the packages in the feed, it can view the updates and gather a list, but once I click update, it says the stream is null.

[code]

[2015-05-08 07:45] GeertvanHorrik opened #551 "[Feature request] Recommended updates with checkboxes"
I have a lot of packages to manage (as does every developer), and one thing bothers me for a while now.

For some packages I want prereleases, for some I want stable versions. Make it easier:

1) For packages for which I already have a prerelease => show both stable and prerelease updates
2) For packages for which I installed stable versions => show only stable versions

This feature is called "re

[2015-05-08 16:36] #474 closed

[2015-05-08 16:37] pranavkm commented on #401
Changes to 2.8.6 address this work item

[2015-05-08 16:37] #401 closed

[2015-05-08 20:13] yishaigalatzer opened #552 "Package manager control text is not localized"
https://github.com/NuGet/NuGet.PackageManagement/blob/dev/src/PackageManagement.UI/Xamls/PackageManagerControl.xaml#L51

[2015-05-08 21:03] deepakaravindr commented on #507
Fixed with https://github.com/NuGet/NuGet.VisualStudioExtension/commit/286fa00333739e6d8dc7c86db35f54a4edeeecb4

[2015-05-08 21:03] #507 closed

[2015-05-08 21:03] feiling opened #553 "Code cleanup in DownloadResourceV2.GetDownloadUrl."
We need to clean up the code in method DownloadResourceV2.GetDownloadUrl.
There are two TODOs in this method:
- "Need to do erorr handling and stuff."
- "Not sure if there is some other standard way to get the Url from a dataservice repo. DataServicePackage has downloadurl property but not sure how to get it." before line
[code]

[2015-05-08 21:32] deepakaravindr commented on #551
Thanks for the suggestion! Sounds like a good idea. We will consider it post RTM

[2015-05-08 21:35] deepakaravindr commented on #550
We believe this behavior indicates that the package source is suffering from inconsistency. We will try and improve the error message

//cc @maartenba @xavierdecoster

[2015-05-08 21:37] deepakaravindr commented on #549
Can you provide more information? How critical do you think this is?
Also, this is only for 2.8.6, right?

[2015-05-08 21:42] AndriySvyryd commented on #549
This is something @pranavkm was concerned about. This is 2.8.6 and was probably there since AggregateRepository was introduced. It might not be actually a problem due to the way AggregateRepository is used in the code.

[2015-05-08 21:48] deepakaravindr commented on #547
in V3 we fixed a bug where we used to stop walking the sources if we found a potential match. Now we look through all of them in parallel and if you have a slow source (i'm guessing myget is the one) you are limited by the slowest source speed.

Running on V3 side by side with V2 works fine, however V2 is much slower than V3 so it's advisable to only have api.nuget.org turned on. We have just comm

[2015-05-08 21:50] deepakaravindr opened #554 "Initialization error when opening console"
Reported originally by @GeertvanHorrik #547

btw. when I open package manager console:

[code]

Is the "Unable to satisfy package dependency constraints" normal?

[2015-05-08 21:56] #150 closed

[2015-05-08 22:20] deepakaravindr commented on #548
Fixed with https://github.com/NuGet/NuGet.PackageManagement/commit/16af2849319e6a50e4ef840c3b70baf146f82756

[2015-05-08 22:20] #548 closed

[2015-05-08 22:45] #552 closed

[2015-05-08 22:57] #279 closed

[2015-05-09 00:00] johnataylor commented on #539
This code has been removed so this can't repo on the latest build.

However, this indicates a logical loop in the data we are serving from nuget.org that shouldn't be there. NuGet doesn't detect these problems on the server but it should.

Leaving this issues open for today because we need to verify a recent build and investigate the problem in the data.

[2015-05-09 00:06] AndriySvyryd commented on #460
Fixed by https://nuget.codeplex.com/SourceControl/changeset/82536eb6e7867af4c4c033c91e4729328cf48e0b

[2015-05-09 00:06] #460 closed

[2015-05-09 02:37] deepakaravindr opened #555 "ArgumentOutofRangeException got logged to ActivityLog.xml when using the powershell manager console"
ArgumentOutofRangeException got logged to ActivityLog.xml when using the powershell manager console

Repro steps:
No clear repro steps available. This issue happened randomly and following is the call stack

System.ArgumentOutOfRangeException: Specified argument was out of the range of valid values. Parameter name: span at Microsoft.VisualStudio.Text.SnapshotSpan..ctor(ITextSnapshot snapshot, Span

[2015-05-09 03:01] deepakaravindr commented on #292
I verified that the actual behavior is the expected behavior. Note that while the dll cannot be added, the package can be installed successfully. The current behavior was the behavior in Dev12 as well

[2015-05-09 03:01] #292 closed

[2015-05-09 17:13] yishaigalatzer opened #556 "Consider moving UiSearchMetaData out of the protocol Layer"

[2015-05-09 21:34] yishaigalatzer opened #557 "The server is being hit twice when the package management UI loads for the first time"
Once by the Load event and once by the packages missing event.
I'm suspecting we can get rid of the second one, but there are no comments in the code to why packages missing events is being force triggered on load.

[2015-05-09 23:59] yishaigalatzer opened #558 "Remove all NotImplementedException instances from Nuget3"
There is round about 10 of them. This is scary stuff and it should all go away before RTM

[2015-05-10 00:44] davidfowl commented on #558
Should the list of features be called out

[2015-05-10 01:16] csharpfritz commented on #558
Agreed: can we put those entries into new issues?
On May 9, 2015 8:44 PM, "David Fowler" <notifications@github.com> wrote:

[2015-05-10 02:28] dannyvv opened #559 "https://nuget.org/nuget.exe is not signed"
The nuget.exe file on nuget.org is currently not signed.

Attribute | Data
------------ | -------------
Url|https://nuget.org/nuget.exe
dd|May 9th 2015 19:22 PST
SHA256|6E0455BBAE41F117C22B080988C48240E58448D7B5583659AFBA2B7873F3DF39
FileVersion|2.8.60318.667

The result is when downloaded through browser (in my case IE11) Users get a prompt the file is not trust-worty.
The last paragraph at the b

[2015-05-10 02:39] emgarten commented on #490
The resolution error occurs when the project loads and the script executor attempts to run all init.ps1 scripts. PS is using the resolver to find the order of dependencies, but the Owin package is missing (which could be an issue with the template for this project).

The resolver checks more than is needed and is too strict on missing packages for the init.ps1 run, this ordering should be done in

[2015-05-10 03:46] yishaigalatzer commented on #558
Bah, repro steps
Open nuget3 solution
Search term new notimplementedexception
Eradicate

Call it done

[2015-05-10 05:59] mrchief opened #560 "Installing EntityFramework.BulkInsert-ef6 crashes VS 2015 RC"
Tried many times and each time it crashed VS 2015 right after "Attempting to Gather dependencies...". This happens both via the GUI and the PM Console.

The same got installed via VS 2013 's package manager without any issues.

[2015-05-10 10:58] maartenba commented on #550
@GeertvanHorrik Is this something you can consistently reproduce? If so, what is the feed URL you are using?

[2015-05-10 19:08] GeertvanHorrik commented on #550
@maartenba Seems to work now (but very, very slow). Did you change anything in MyGet? I tried it on a lot of different projects last week, then it didn't work on any. It was the Gum.Ui package on our myget feed.

Updating a package on a single project takes about 60 seconds (timed it). Especially this takes a very long time:

[code]

[2015-05-10 19:14] GeertvanHorrik commented on #547
Switched to api.nuget.org and tried to update a package (Catel.Core) on one of our projects via the console (which should only use a single package source ,right?).

This step takes a very long time (at least 20 seconds). Note that the package has no dependencies at all. And this for all projects in the solution (this time 12), so updating takes way too long and CPU usage goes up like crazy.

[cod

[2015-05-10 19:54] yishaigalatzer commented on #560
Can you please provide a callstack and even nicer a dump?
One know crash that might be related? Did you restart your computer after installing RC?

[2015-05-10 19:57] yishaigalatzer opened #561 "Optimize Figuring out if package has an update"
Right now the code relies on downloading all the package versions from the remote repository, and then checks fox Max. The call is very expensive and unnecessary according to @emgarten

After the changes I'm making this will have low impact for All and Installed filters, but is still expensive for Update available filter.

Fixing this will save multiple network calls (once per displayed package in

[2015-05-10 21:44] csharpfritz commented on #561
Can we also have a fallback scenario if the network isn't present?  I was
working on a plane with no network connection and just wanted my local
versions of packages from my .DNX folder installed.
On May 10, 2015 3:57 PM, "Yishai Galatzer" <notifications@github.com> wrote:

[2015-05-10 21:47] yishaigalatzer commented on #561
@csharpfritz please open a separate bug. The work around is to add your local folder to the feed when the network is down for now.

[2015-05-11 07:50] xavierdecoster commented on #550
@GeertvanHorrik that exception has a client-side stacktrace. Would be good if you could provide a simple repro of this. A fiddler trace showing the calls being made to the package sources would also help.

@deepakaravindr no protocol changes have been made to the MyGet endpoints lately. I see this exception is intentionally thrown in [`NuGet.PackageManagement.PackageDownloader`](https://github.com

[2015-05-11 11:58] mrward opened #562 "Unable to install Json.NET into Xamarin iOS Unified project in VS 2015 RC"
**Steps to reproduce**

With Visual Studio Community 2015 RC, NuGet Package Manager 3.0.60410.213 and Xamarin installed (Xamarin was installed through the Visual Studio installer. No need to install the Android components).
 1. In VS 2015 create a new iOS project (e.g. Templates - Visual C# - iOS - Universal - Blank App (iOS)). Do not create a template from the Classic API category since this will

[2015-05-11 13:50] pranavkm commented on #380
Isn't this covered by `IVsPackageInstaller.InstallPackage` overloads that accept a source repository:

* http://nuget.codeplex.com/SourceControl/latest#src/VisualStudio/Extensibility/IVsPackageInstaller.cs
* https://github.com/NuGet/NuGet.VisualStudioExtension/blob/dev/src/VisualStudioAPI/Extensibility/IVsPackageInstaller.cs#L32

[2015-05-11 14:20] eerhardt commented on #380
That API doesn't work for the "DNU_VS14" repository for ASP.NET 5 packages.  In the VS 2015 RC build, an exception is thrown when executing the following code:

        [Import(typeof(IVsPackageInstaller))]
        protected IVsPackageInstaller PackageInstaller { get; set; }

...
            this.PackageInstaller.InstallPackagesFromRegistryRepository("DNU_VS14", false, false, project,

[2015-05-11 17:27] feiling commented on #553
Fixed. See https://github.com/NuGet/NuGet3/commit/fc2feae85a91980133b2b1fb8c07cca8ada9d8b5

[2015-05-11 17:27] #553 closed

[2015-05-11 18:16] feiling commented on #542
Verified that current build of 2.8.6 depends on .NET 4.5.

[2015-05-11 18:16] #542 closed

[2015-05-11 18:25] feiling commented on #311
Fixed by Yishai. See https://github.com/NuGet/NuGet.PackageManagement/commit/a593235f37a7661ea4fea9d46c860ba27b389906

[2015-05-11 18:25] #311 closed

[2015-05-11 18:39] danliu opened #563 "UI Search: searching for Xamarin.OpenTok.iOS against nuget.org returns no result"
although it does exist on nuget.org as https://www.nuget.org/packages/Xamarin.OpenTok.iOS/.

searching against api.nuget.org works fine though.

[2015-05-11 18:43] deepakaravindr commented on #550
@xavierdecoster , PackageDownloader started throwing this error, when it is unable to download a package, which is expected to exist. We faced an issue in V2 nuget.org, where, the package was available on the feed, but, it was not available for download. I think MyGet, likely, had a similar issue
OR, it was just a network issue to get the package stream

[2015-05-11 19:14] deepakaravindr commented on #156
@danliu will take care of this

[2015-05-11 19:14] deepakaravindr commented on #347
@danliu will take care of this

[2015-05-11 19:29] feiling opened #564 "VS crashes when saving Package Sources options"
Repro steps:

1. Make %appdata%\NuGet\NuGet.Config read-only.
1. Open VS.
1. Open Tools -> NuGet Package Management -> PackageManager Settings -> PackageSources.
1. Make a change to sources
1. Click OK. VS will crash.

Another repro is that in step 1, create %appdata%\NuGet\NuGet.Config that is not valid XML.

[2015-05-11 19:59] deepakaravindr opened #565 "Should messages shown in Preview window, be localized?"
Should messages shown in Preview window, be localized?

Should messages like 'Install Newtonsoft.Json.5.6.2' be localized?

[2015-05-11 20:02] csharpfritz opened #566 "Add "Don't Show Preview Window" checkbox to preview window"
Several comments in Visual Studio feedback indicate that the preview window should be easier to hide.  A "Do not show this window" checkbox on the preview window that unchecks the "Show Preview Window" option would be a nice-to-have

[2015-05-11 20:44] johnataylor commented on #566
Is this per user? or per solution?

[2015-05-11 20:46] johnataylor commented on #565
Loc bugs are tracked on TFS.

[2015-05-11 20:46] #565 closed

[2015-05-11 20:49] johnataylor commented on #563
This is V2 search.

[2015-05-11 20:57] feiling commented on #559
There is a signed exe on http://nuget.codeplex.com/releases

[2015-05-11 21:03] johnataylor commented on #538
The work here is to limit this package to only interfaces and remove all implementation. This is root cause of this issue.

[2015-05-11 21:05] johnataylor commented on #362
This tracks NuGet.PackageManagement and NuGet.VisualStudio. We would also like to move SimpleSearchBox into StandaloneUI.

[2015-05-11 21:06] #78 closed

[2015-05-11 21:07] feiling commented on #560
@mrchief to help us repro the issue, could you share your packages.config file?

[2015-05-11 21:07] #27 closed

[2015-05-11 21:13] pranavkm commented on #380
Sorry I'm not super familiar with the code here, but what do you mean by

Isn't this the code you need to be calling if you don't want the regsitry key:
`PackageInstaller.InstallPackage("DNU_VS14_Path", project, "Microsoft.Framework.ConfigurationModel.Json", "1.0.0-beta4" , ignoreDependencies: false);`?

[2015-05-11 21:16] csharpfritz commented on #566
Per user...  it should persist between sessions and projects.

Jeff

On Mon, May 11, 2015 at 4:44 PM, johnataylor <notifications@github.com>
wrote:

[2015-05-11 21:23] eerhardt commented on #380
"DNU_VS14_Path" isn't going to work as that isn't a valid source.  It throws the following exception:
System.InvalidOperationException occurred
  Message=Download resource not found
  Source=NuGet.PackageManagement
  StackTrace:
       at NuGet.PackageManagement.NuGetPackageManager.<ExecuteNuGetProjectActionsAsync>d__ea.MoveNext()

[2015-05-11 21:41] deepakaravindr commented on #555
System.ArgumentOutOfRangeException: Specified argument was out of the range of valid values. Parameter name: span at Microsoft.VisualStudio.Text.SnapshotSpan..ctor(ITextSnapshot snapshot, Span span) at NuGetConsole.Implementation.Console.WpfConsoleClassifier.GetClassificationSpans(SnapshotSpan span) at Microsoft.VisualStudio.Text.Classification.Implementation.ClassifierTagger.<GetTags>d__1.MoveNex

[2015-05-11 22:24] #530 closed

[2015-05-11 23:19] pranavkm commented on #380
What happens when you pass in a real path \ name of a source?

[2015-05-11 23:20] deepakaravindr commented on #476
Fixed with https://github.com/NuGet/NuGet.PackageManagement/commit/cf3bd2b2d3aeca5b3e9ca6d90137339af01ba468

[2015-05-11 23:20] #476 closed

[2015-05-12 01:12] yishaigalatzer opened #567 "Visual Studio 2015 RC problem adding existing standard Class Library project and Nuget restore"
After I add existing Class Library project and try to build to restore packages I am getting exception : Error occured:\nSystem.IndexOutOfRangeException: Index was outside the bounds of the array.

Then I close Visual Studio 2015 RC and re-open and package restore then works correctly.

@radenkozec can you provide us more details.
packages.config?
and how exactly do you build?

[2015-05-12 01:13] yishaigalatzer opened #568 "IDE tooling suggestion: "publish" or similar should act like NuGet push"
From @mgravell

(This is a redirect from aspnet/Tooling#44, where it was originally specifically in the context of dnx projects)

Automatic artifact nupkg is great, but it would be good if we could also use the IDE to do a deploy - essentially a nuget push, but without needing any solution-level tools.

I'm imagining: right-click on a library DNX project and select "Publish"; UI appears; if the us

[2015-05-12 01:17] yishaigalatzer opened #569 "Edit New issue Opt-in NuGet support for new project types"
From @sharwell

I'm working on a Visual Studio extension that includes a new project type. A basic requirement of this extension is that it be distributed as a VSIX and not as a MSI. In order to successfully accomplish this, the project templates included in the extension install a NuGet package which adds the .targets file used to build the project.

I am now looking into migrating to using CPS i

[2015-05-12 01:18] yishaigalatzer commented on #569
Can you share a few more details about your project type?

[2015-05-12 01:28] sharwell commented on #569
It's not just one project type. This strategy should be capable of supporting any project type meeting all of the following characteristics, without involving the NuGet team or waiting for an updated release of NuGet.

1. The project is built using the version of MSBuild associated with the IDE, for at least Visual Studio 2012+.
2. When installing a NuGet package with build tools, the **.props** f

[2015-05-12 01:32] sharwell commented on #569
If the above is not possible and additional constraints are required, we just need to know what those constraints are so we can meet them and enable the functionality. :+1:

[2015-05-12 01:43] yishaigalatzer commented on #569
Is number one a pre-requirement and number 2 the ask?

[2015-05-12 02:00] mrchief commented on #560
@feiling Here you go:

[code]

@yishaigalatzer Thought as much while creating the issue but I'm not sure how to get the call stack and the dump. DO you mean VS' activity.log?

[2015-05-12 03:27] yishaigalatzer commented on #560
Activity log could help. But you can also just attach another visual studio when it crashes or just before

[2015-05-12 06:23] radenkozec commented on #567
I build using Visual Studio. I don't have packages.config from that time because I worked on the project for few days after this so it changed.
Anyway I had Class Library Framework 4.5 project, and when I add it to existing VS2015RC solution everything works great. When I try to build it in Visual Studio I am getting this exception. After I close and re-open VS I can build normally.

[2015-05-12 09:43] HansKindberg-Net opened #570 ""MSBuild-Integrated package restore" or "Automatic Package Restore""
This is more a question than an issue but I found no where else to put it. Codeplex/discussions points to GitHub so.

The following article, https://docs.nuget.org/consume/package-restore/migrating-to-automatic-package-restore, explains howto migrate MSBuild-Integrated solutions to use Automatic Package Restore.

I have used "MSBuild-Integrated package restore" for some time now. I like it. I keep

[2015-05-12 12:15] JSinghDev opened #571 "Out of memory exception while installing Umbraco"
I was installing Umbraco 7.2.4 & 7.2.5 using nuget on visual studio 2015 RC and it is giving an out of memory exception. I examined the memory usage of visual studio it kept on climbing with no progress on the installing and it was stuck at getting package dependencies.

[2015-05-12 14:30] AArnott opened #572 "NuGet v3 error message for missing packages is misleading"
Attempting to gather dependencies information for package 'System.Collections.Immutable.1.1.34-beta' with respect to project targeting '.NETFramework, Version=v4.5.1'
Attempting to resolve dependencies for package 'System.Collections.Immutable.1.1.34-beta' with DependencyBehavior 'Lowest'
update-package : Missing dependency information for package: System.Collections.Immutable
At line:1 char:1
+ u

[2015-05-12 15:04] mrchief commented on #560
It just disappears when it crashes. Heck, even "End Task" isn't this smooth. :smiling_imp:

I'll try attaching before and getting the activity log.

[2015-05-12 15:56] yishaigalatzer commented on #560
Can you tell us if you restarted your machine after installing visual studio?

[2015-05-12 16:50] pranavkm commented on #380
cc @yishaigalatzer @emgarten Spoke to @eerhardt offline and we have a better understanding of what the changes are for this. Do we need to triage this again for RTM?

[2015-05-12 18:33] WalkerCodeRanger opened #573 "Package and Version up-vote and down-vote feature"
There are now so many packages that it can be difficult to know which package to use.  The number of downloads provides some guidance for this but a better system would be if developers could upvote and downvote versions and Packages.  Or perhaps flag them in some way with helpful information (like that they are no longer maintained or out of date).

An example:
I use [Cassette](https://www.nuget.

[2015-05-12 18:42] csharpfritz commented on #573
I understand where you are trying to go with this, indicating which
packages are "good" or "up to date", but there can be a problem with your
scenario.

These packages WERE good at one point in time.  If at that time there were
a lot of votes indicating what a great package it was, you would need many
more votes later in time to indicate some community disapproval of the lack
of an update.

You ca

[2015-05-12 18:57] feiling opened #574 "Client should handle incorrect json"
This bug was found by an external user.

When parsing json response from the v3 server, the client code does not handle incorrect result. E.g. this is the code in nuget 3.0 RC that gets the RequireLicenseAcceptance property:
[code]
If the value of Properties.RequireLicenseAcceptance cannot be parsed into bool, `ToObject<bool>()` throws an exception and this crashes VS. Right now, this happens pack

[2015-05-12 18:58] davidfowl commented on #574
Try to avoid ToObject<T> for known shapes, it's hella slow :smile:

[2015-05-12 19:01] feiling opened #575 "Seems SearchLatestResource is no longer used. If so, we should remove it."
While investigating issue https://github.com/NuGet/Home/issues/574, I found that the class SearchLatestResource (which calls the method that triggers the error) is no longer used in the current dev branch code. If that's the case, then we should remove this class plus its derived classes from our code base.

[2015-05-12 19:03] AndriySvyryd commented on #540
In VS2013 this showed an error instead of deadlocking.
Moving this to backlog until we get a user report.
Proposed fix is to add a TAP InvokeAsync that doesn't block the thread and reuse the same PowerShellHost when a script execution causes another script execution indirectly.

[2015-05-12 19:58] deepakaravindr opened #576 "Unlike V3, NuGet V2 Protocol does not return comparable properties as V3, when looking at package details pane of UI."
Unlike V3, NuGet V2 Protocol does not return the 'Report Abuse Url' and more. Need to take care of other properties as well

[2015-05-12 20:00] deepakaravindr opened #577 "Version written to packages.config from V2 is the non-normalized version as it appears on the nuspec. With V3, it is always normalized version, as it returns from the server"
Version written to packages.config from V2 is the non-normalized version as it appears on the nuspec. With V3, it is always normalized version, as it returns from the server

[2015-05-12 20:33] deepakaravindr opened #578 "The mega functional test is not used at all. We should fix it, so that, unnecessary test failures are not encountered"
The mega functional test is not used at all. We should fix it unnecessary test failures are not encountered

[2015-05-12 20:46] emgarten commented on #573
This is a good problem space, and will keep this in mind as we build the next iteration of the gallery. We do not plan to build this exact feature, but we are looking for a general way to improve discoverability.

[2015-05-12 20:46] #573 closed

[2015-05-12 20:48] emgarten commented on #572
We have a fix for this in the works. i'll update this issue once the fix is checked in.

[2015-05-12 20:51] emgarten commented on #571
This looks related to https://github.com/NuGet/Home/issues/539

This is likely due to umbraco depending on unlisted packages.

[2015-05-12 20:53] emgarten commented on #570
Going forward we will recommend separating NuGet restore from msbuild. You will have a build.cmd that downloads nuget.exe restore and then calls msbuild. Solution level packages will be deprecated as well.

[2015-05-12 20:53] #570 closed

[2015-05-12 20:54] emgarten commented on #570
/cc @yishaigalatzer @deepakaravindr  so they can follow up on the discussion

[2015-05-12 20:58] emgarten commented on #569
For your scenario it seems like the right solution is to include the target and props in the template itself. We believe this should resolve your issue, if you want support for a new project system beyond this, please open another bug. Note that we likely will not be able to support for this down level versions of Visual Studio.

[2015-05-12 21:01] emgarten commented on #567
This may be related to SolutionManager not finding the new project when it enumerates the list at restore time.

[2015-05-12 21:06] emgarten commented on #549
This is by design as far as I know. A UNC share could be down, and currently v2 expects those failures to be suppressed.

[2015-05-12 21:06] #549 closed

[2015-05-12 21:29] sharwell commented on #569
@emgarten That won't work for a number of reasons. The primary two are:

1. We don't put the build tools in source control. We rely on the ability to exclude them as part of the **packages/** directory and restore them the next time the project is open.
2. We want to be able to update the build tools as we fix bugs, etc.

[2015-05-12 21:31] NickCraver opened #579 "Authorized NuGet feeds error with 401 instead of prompting"
We use an internal NuGet feed (v2) provided by TeamCity which is an authorized feed. In VS 2013 this would result in prompting for credentials (though, the checkbox to remember them never worked). In 2015 this instead errors **without** ever prompting for credentials to login. Stack below:

    Error occured:\nSystem.Net.WebException: The remote server returned an error: (401) Unauthorized.

[2015-05-12 21:40] yishaigalatzer commented on #579
@NickCraver there might be two things going on in your case:
1. This issue which was fixed after RC. https://github.com/NuGet/Home/issues/180 Workaround - plug the password into nuget.config
2. There could be on top of that an issue with TLS 1.2 if your server uses it. This is a visual studio bug (where `ServicePointerManager` is not setup to enable TLS1.2). This will be fixed for RTM. The workaro

[2015-05-12 21:47] yishaigalatzer commented on #569
@sharwell did you actually try it an it doesn't work? Folks here seems to think this just works in CPS. If it doesn't can you tell us what is not working?

We are assuming you are using the same project Guid as CPS.

[2015-05-12 22:00] rick-morrow opened #580 "Nuget.exe install not getting latest package"
We maintain multiple versions of the same package in a local nuget repository. We recently discovered that calling

nuget.exe install "packagename"

without specifying a version no longer gets the latest package. This is specific to versions with different number of digits, as it appears to get the package with the higher "string value" (i.e. it will choose packagename.1.0.9 over packagename.1.0.1

[2015-05-12 22:22] danliu commented on #576
I've fixed the report Abuse URL to unblock functional tests.

[2015-05-12 22:29] danliu commented on #576
Discussed with Deepak, the other part seems that when the feed is V2, the package details pane does not return all of the properties as of V3 feed. Need to investigate which property is missing from the protocol layer for V2.

[2015-05-12 22:38] NickCraver commented on #579
Thanks for the info @yishaigalatzer! We support TLS 1.0-1.2 on this feed so that should work on the older protocols. Putting my password anywhere in plaintext is obviously far less than desirable even for a workaround (I'm a domain admin) - so I'll ask: Is there a reason there's not a NuGet extension update available for 2015 RC users that would resolve this? I may be missing other large internal

[2015-05-12 22:54] AndriySvyryd commented on #502
The first error appears because MobileServicesApplicationv1.0\MobileServicesApplication.csproj contains a reference to "Microsoft.ServiceBus.dll" named "WindowsAzure.ServiceBus", it should be renamed to "Microsoft.ServiceBus". Same applies to MobileServicesApplication.vbproj

A similar error is also present in the code that handles "Add Connected Service" for Azure Mobile Services.

[2015-05-12 22:55] #502 closed

[2015-05-12 23:10] yishaigalatzer commented on #579
You don't have to place the password in plain text, you can place it encrypted. VS 2013 will do it for you.

When it comes to updating the extension - We plan to, but I cannot commit to a date yet. We are trying to make a rather large suite of fixes between RC and now, and we are waiting for a stable enough build with a large enough mass of changes for us to release.

I hope my suggestion above al

[2015-05-12 23:14] emgarten opened #581 "Improve 'Unable to resolve dependency' message"
Update the "Unable to resolve dependency 'PackageId'" message to be more verbose. It should specify that the package was not found in the sources and then list the sources out.

[2015-05-12 23:18] feiling commented on #566
Another question, how does user turn this back on once it's off?

[2015-05-12 23:21] yishaigalatzer commented on #496
@pranavkm please work with @davidfowl on how this looks like and get it into 2.8.6 and 3.0.

We should then block new packages of the shape being shipped in the gallery.

[2015-05-12 23:23] yishaigalatzer commented on #446
min version 2.8.6 and 3.0 support as well.

[2015-05-12 23:24] yishaigalatzer commented on #323
@guangyang I Believe this this fixed already. Please ping an reopen if necessary

[2015-05-12 23:24] #323 closed

[2015-05-12 23:25] yishaigalatzer commented on #317
moving out to beta 1. @emgarten who is waiting for this?

[2015-05-12 23:26] yishaigalatzer commented on #268
@johnataylor where are we standing on this?

[2015-05-12 23:27] yishaigalatzer commented on #204
This will get fixed with project.json support. We don't plan to add support for this for `packages.config`

[2015-05-12 23:27] #204 closed

[2015-05-12 23:30] yishaigalatzer commented on #202
Duplicate of #142

[2015-05-12 23:30] #202 closed

[2015-05-12 23:30] feiling commented on #560
This is a duplicate of https://github.com/NuGet/Home/issues/539.

[2015-05-12 23:30] #560 closed

[2015-05-12 23:40] yishaigalatzer commented on #142
This is now supposed to work from nuget powershell. Lets make sure we have a functional test for this.
If we do and it works please move this bug over to 3.1-Beta to add it to the UI.

Otherwise lets talk, we need to add the test or fix the experience

[2015-05-12 23:40] yishaigalatzer commented on #69
What is nuget 8.3 ? Do you mean 2.8.3 ?

[2015-05-12 23:47] AndriySvyryd commented on #567
I cannot repro this using VS 14.0.22823.1
This is what I did:
1. Create solution S1 with class library project P1
2. Add a package to P1
3. Close and reopen VS
4. Create solution S2 with class library project P2
5. Add existing project P1
6. Build

@radenkozec am I missing something?

[2015-05-12 23:50] yishaigalatzer commented on #579
Oh and using your admin account to restore packages is obviously bad form. Can you setup another account just for restore/install?

[2015-05-13 00:16] AndriySvyryd commented on #510
Doesn't repro in build 330. The compiler-generated class names are build-specific so it's impossible to find the source line where this exception was thrown from without the build number.

[2015-05-13 00:16] #510 closed

[2015-05-13 00:23] AndriySvyryd commented on #393
Doesn't repro in build 330

[2015-05-13 00:23] #393 closed

[2015-05-13 00:45] NickCraver commented on #579
@yishaigalatzer It's a little confusing to put in text here, but the admin account I'm passing credentials for to retrieve the packages is not an admin on the system (e.g. I am not using my Windows login credentials) - our remote developers are generally not on the domain. I appreciate the concern though, it's certainly solid advice when dealing with untrusted ps1 scripts and such :)

[2015-05-13 01:46] mrchief commented on #560
@yishaigalatzer Yes, I restarted. Do you still need dumps from me?

[2015-05-13 02:13] yishaigalatzer commented on #579
Sure. Let me know if this workaround solves the issue for you.

[2015-05-13 03:23] yishaigalatzer commented on #560
We do have a local repro. So no need for dumps.

[2015-05-13 05:18] emgarten commented on #572
Fixed NuGet/NuGet.Packagemanagement@20785be9ec6e4b521e3c945c2ae986190fb18db9

[2015-05-13 05:18] #572 closed

[2015-05-13 05:19] emgarten commented on #267
Fixed with NuGet/NuGet.VisualStudioExtension@79705888d4a18fc829dc6ad69f3a58ea1e3ec050

[2015-05-13 05:19] #267 closed

[2015-05-13 05:20] emgarten commented on #537
Fixed with NuGet/NuGet.VisualStudioExtension@79705888d4a18fc829dc6ad69f3a58ea1e3ec050

[2015-05-13 05:20] #537 closed

[2015-05-13 05:20] emgarten commented on #408
Fixed with NuGet/NuGet3@9ee4da4646ede0370bd794e5bc63e763b9422f79

The new message is: Unable to find package '{0}'. Existing packages must be restored before performing an install or update.

[2015-05-13 05:20] #408 closed

[2015-05-13 05:21] emgarten commented on #375
Fixed with NuGet/NuGet.PackageManagement@2b075cc1538ea56d82df0ac15b563a56a32e6799

[2015-05-13 05:21] #375 closed

[2015-05-13 05:26] emgarten commented on #490
Fixed with NuGet/NuGet.PackageManagement@20785be9ec6e4b521e3c945c2ae986190fb18db9

[2015-05-13 05:26] #490 closed

[2015-05-13 07:29] radenkozec commented on #567
@AndriySvyryd
Try to use these steps:
1) Create VS2015RC S1 with Classic .NET Framework 4.5 project P1
2) In same solution create vNext Class Library Project(Package) P2
Put in project.json section for
  "net451": {},
3) Click produce outputs on Build for vNext Project P2
4) Reference manually this vNext dll from P2 in Classic .NET Framework 4.5 project P1
5) Create new blank solution S2 and add b

[2015-05-13 07:50] GeertvanHorrik commented on #547
Just created a new WPF project => search for Orchestra.Shell.Ribbon.Fluent (including prerelease) => install takes crazy long, cpu goes up to 40 %, memory already at 1600 mb.

[2015-05-13 08:04] HansKindberg-Net commented on #570
Hi Emgarten

I am not with you

Going over to "Automatic Package Restore" - does it require "NuGet Package Manager" to be installed? Or will this build.cmd that downloads NuGet.exe that you mention exist when installing Visual Studio and then handle everything?

Regards Hans

[2015-05-13 11:46] GeertvanHorrik commented on #550
Just got this one on a NuGet.org feed (v2):

I was able to download Orc.Squirrel, but not Orc.Squirrel.Xaml.

[code]

[2015-05-13 15:53] yishaigalatzer commented on #570
On a build machine nuget package manager is not required to be installed. The build.cmd you have to build yourself, but its fairly straight forward.

[2015-05-13 17:04] danliu commented on #576
Compared the properties on the UI for V2 and V3 feed, they seems to be matching, since now reportAbuse URL for V2 is showing as well.

Close this bug, fixed via https://github.com/NuGet/NuGet3/commit/ecc3ed3546d644bbdff845c34fbf56b2cbf6e241

[2015-05-13 17:04] #576 closed

[2015-05-13 17:55] csharpfritz commented on #566
The user should be able to check and uncheck the standard "Show Preview
Window" option in the main dialog.

This is just a convenience checkbox on the preview window that unchecks the
preview window option on the main dialog.

Jeff

On Tue, May 12, 2015 at 7:18 PM, feiling <notifications@github.com> wrote:

[2015-05-13 20:28] AndriySvyryd commented on #225
Scripts\jquery-2.1.3.intellisense.js file is removed by uninstall.ps1 and thus the removal of the Scripts folder should be handled there as well

[2015-05-13 20:44] emgarten commented on #579
Closing this issue. Please ping @yishaigalatzer if you need further help.

[2015-05-13 20:44] #579 closed

[2015-05-13 23:09] #371 closed

[2015-05-13 23:09] #353 closed

[2015-05-13 23:20] pranavkm commented on #380
@eerhardt We discussed this yesterday and our current plan is to move away from the registry based specification for the repository to a centralized (well-known) repository location. We'll continue maintaining the APIs we have now, but don't plan on investing in them further. If the API that accepts a version range works for you, I'd recommend continue using it for the time being.

[2015-05-13 23:20] #380 closed

[2015-05-13 23:42] AndriySvyryd opened #582 "NRE during PMC init"
"key" in WpfConsoleKeyProcessor.GetTabExpansionTimeout() can be null, resulting in en exception message in the log when the PMC is opened.

[2015-05-14 00:30] emgarten opened #583 "Add functional tests for the NuGet VS API"
IVsPackageInstaller, IVsPackageInstaller2, IVsPackageInstallerServices, IVsPackageSources, and all other public apis that are part of the export types in NuGet.VisualStudio.dll should have functional tests.

[2015-05-14 00:34] AndriySvyryd opened #584 "NRE during package restore"
1. Install a package into a .NET 4.5 project
1. Close solution
1. Delete packages folder
1. Open solution
1. Restore packages
1. NullReferenceException is logged

NuGetPackageManager.GetDependencyInfoFromPackagesFolder returns a list that can contain nulls for packages that are not installed, so when it is processed in NuGetPackageManager.GetInstalledPackagesInDependencyOrder NRE is thrown from th

[2015-05-14 00:35] AndriySvyryd commented on #567
I hit #584 while following the repro steps, it might be related or hiding the issue you saw

[2015-05-14 00:35] emgarten opened #585 "Packages.config should be modified instead of rewritten each time"
packages.config is re-written each time and drops attributes that it does not understand. This could cause problems if we add attributes in the future. Instead the file should be modified and ignore what it does not understand.

[2015-05-14 00:41] JamesNK opened #586 "Possibly referencing the wrong DLL in Win10 universal apps"
See:

http://stackoverflow.com/questions/30042728/attempting-to-deserialize-an-object-using-json-net-in-windows-10-universal-app-f

and:

https://social.msdn.microsoft.com/Forums/windowsapps/en-US/2e876e7b-d538-4005-8be2-62c7d66aeae0/jsonnet-error-in-win10-universal-apps

Referenced DLL: portable-net40+sl5+wp80+win8+wpa81
Optimal DLL: portable-net45+wp80+win8+wpa81+dnxcore50

Using VS2015 RC.

[2015-05-14 01:07] deepakaravindr opened #587 "In the protocol layer, rename all PS* resources and resource provider to Powershell*"
In the protocol layer, rename all PS\* resources and resource provider to Powershell*

[2015-05-14 01:34] deepakaravindr opened #588 "In protocol layer, change JsonHelper to extension methods"

[2015-05-14 01:42] AndriySvyryd commented on #580
I'm unable to repro this using nuget.exe v2.8.6
Could you share the .nuspec files from the latest and older packages?

[2015-05-14 03:02] yishaigalatzer commented on #531
@johnataylor please make the server change, I can help with the client changes after that.

[2015-05-14 03:04] yishaigalatzer commented on #559
@dannyvv looks like we are not signing `nuget.exe` explicitly because nuget.org is not a Microsoft product. Like @feiling is suggesting we ship a Microsoft product on codeplex.

We are working through the legalities of what it means (and if at all possible) signing the nuget.exe shipping in nuget.org.

[2015-05-14 03:04] #519 closed

[2015-05-14 03:05] yishaigalatzer commented on #539
Please verify https://github.com/NuGet/Home/issues/571 when this bug is fixed.

[2015-05-14 03:07] #571 closed

[2015-05-14 03:11] yishaigalatzer commented on #544
Looks like a duplicate of https://github.com/NuGet/Home/issues/539 except in this case we don't get a stackoverflow.

[2015-05-14 03:11] #544 closed

[2015-05-14 03:15] yishaigalatzer commented on #563
@danliu who reported this? I want to understand if there is something more interesting here.

This right now gets filtered by target framework, that filter is not support by v3.

[2015-05-14 03:16] yishaigalatzer commented on #566
We should also have this in the global options. This needs to happen ASAP, or at least add the strings ASAP before we hit string lock.

[2015-05-14 03:21] emgarten opened #589 "NuGet 3.0.0 is unable to install packages with a min client version of 3.0.0"
NuGet 3.0.0 uses NuGet.Core 2.8.6 which enforces a min client version of 2.8.6 for scenarios using a local package repository.

[2015-05-14 06:00] radenkozec commented on #567
@AndriySvyryd Maybe. It is difficult to repro this because I had solution with 8 projects and after I closed and re-open VS RC everything worked, so I only got error once.

[2015-05-14 13:52] pranavkm opened #590 "NuGet.CommandLine restore fails with "Unable to find property definition for {locale}""
Calling the restore command for any project seems to be broken:
[code]

[2015-05-14 14:13] pranavkm opened #591 "NuGet.CommandLine does not fail \ print out unresolved references"
1. Create a project.json with unresolvable packages:
[code]

[2015-05-14 14:13] pranavkm commented on #591
cc @anurse

[2015-05-14 14:14] pranavkm commented on #590
cc @anurse

[2015-05-14 15:49] yishaigalatzer commented on #586
Duplicate of https://github.com/NuGet/Home/issues/454

[2015-05-14 15:49] #586 closed

[2015-05-14 15:51] rick-morrow commented on #580
Here are the contents of the files (redacted some info for confidentiality purposes).

[code]
[code]

[2015-05-14 16:46] yishaigalatzer commented on #585
We can just load it as an `XmlDoc` or `XDocument` and apply changes to that entity.

[2015-05-14 16:49] yishaigalatzer commented on #584
This is a great bug!

The fix should be that for restore we probably don't need to make the `NuGetPackageManager.GetInstalledPackagesInDependencyOrder`

For uninstall, update, and possibly install we need to detect this, and trigger a restore. If restore succeeds we proceed, if it fails we fail the operation.

If this needs a new strings they need to get in ASAP before string lock.

CC @emgarten @

[2015-05-14 16:53] yishaigalatzer commented on #529
@tom-englert we are not able to repro this and haven't heard back from you for over a week. Please get back to us with more details, so we can keep this rolling

[2015-05-14 17:51] anurse commented on #591
Yep, it's on my plan :). The RestoreCommand itself does provide a `Success = false` result and lists Unresolved dependencies. Just the command line exe that doesn't display it.

[2015-05-14 18:26] #481 closed

[2015-05-14 19:32] emgarten opened #592 "RestoreCommand throws when dependencies is empty"
The V3 RestoreCommand throws an null ref exception when the project.json dependencies node is empty.

It should also support removing the dependencies node completely.

[2015-05-14 19:33] emgarten commented on #592
@anurse

[2015-05-14 21:28] johnataylor opened #593 "listed/unlisted check is missing and also should check "Listed" not 1900"
the impact is that the user might accidentally install an unlisted version when not specifying the version

[2015-05-14 21:30] anurse commented on #592
No longer repros. I think @pranavkm fixed this with his null ref defenses earlier

[2015-05-14 21:30] #592 closed

[2015-05-14 21:31] anurse commented on #590
FYI, @yishaigalatzer This is a 3.0.0-rtm issue, not a commandline issue. The same exception would be thrown in VS.

[2015-05-14 23:20] pranavkm commented on #589
Tries this out on both 2.8.6 and v3. The client can read the metadata for packages in both the scenarios. Installation fails on `2.8.6`, but that is expected.

[2015-05-14 23:20] #589 closed

[2015-05-14 23:21] #538 closed

[2015-05-14 23:26] yishaigalatzer commented on #582
Fixed with https://github.com/NuGet/NuGet.VisualStudioExtension/commit/85c127d481054e8d5375d514ca05b8d3e20dc6f0

[2015-05-14 23:26] #582 closed

[2015-05-14 23:33] danliu opened #594 "Experience around bad resources are not consistent with http, UNC share and local disk for UI"
1. For bad http source:

Failed at private async Task<IEnumerable<UISearchMetadata>> GetSearchResultsForVisualStudioUIAsync with a WebException.

Error occured:\nSystem.Net.WebException: The remote name could not be resolved: 'packagesource'
   at System.Net.HttpWebRequest.GetResponse()
   at NuGet.RequestHelper.GetResponse()
   at NuGet.HttpClient.GetResponse()
   at NuGet.RedirectedHttpClient.Ge

[2015-05-14 23:43] feiling commented on #516
This was fixed by Yishai. Now the version lists are loaded in the background. See https://github.com/NuGet/NuGet.PackageManagement/commit/1dcd25c4a7e66aae2a8d601e017f1dd6f4be89f4

[2015-05-14 23:43] #516 closed

[2015-05-14 23:43] #590 closed

[2015-05-14 23:46] feiling commented on #203
Fixed by Yishai. Now we're doing approach number 2: the version lists are now fetched in the background.

See https://github.com/NuGet/NuGet.PackageManagement/commit/1dcd25c4a7e66aae2a8d601e017f1dd6f4be89f4

[2015-05-14 23:46] #203 closed

[2015-05-15 00:15] AndriySvyryd opened #595 "[V3] Leading zero is dropped from revision"
Install Moq 4.2.1502.0911 to a .Net 4.5 project
The package file is saved as "packages\Moq.4.2.1502.0911\Moq.4.2.1502.911.nupkg"
However when running the Init.ps1 scripts V2 dependency resolver is looking for "packages\Moq.4.2.1502.0911\Moq.4.2.1502.0911.nupkg"

Note that V2 client named the file correctly.

[2015-05-15 00:37] emgarten commented on #595
Does it make a difference if you use the v2 or v3 server?

[2015-05-15 00:39] deepakaravindr commented on #356
This does not repro now with task throttling fix https://github.com/NuGet/NuGet.PackageManagement/commit/c5ad0e497164261a6a2a84a59282453cd4448585

[2015-05-15 00:39] #356 closed

[2015-05-15 00:41] AndriySvyryd commented on #595
@emgarten No, same result

[2015-05-15 01:18] yishaigalatzer commented on #594
@danliu can you please provide repro steps?

[2015-05-15 01:19] yishaigalatzer commented on #595
@emgarten assigning to @AndriySvyryd if you have guidance please help him out

[2015-05-15 03:21] emgarten commented on #594
We should stop displaying the stack trace here and just show a generic error message. The stack isn't going to help the user.

[2015-05-15 03:41] emgarten opened #596 "NuGet UI should write stack traces to the activity log instead of displaying them on screen"
The NuGet UI displays stack traces for expected exceptions. Users will consider this a crash and miss the actual error message that helps them fix the issue. The stack traces do not help the user, for debugging purposes the user should get this from the activity log instead.

Stack traces from searching bad package sources (also expected) should be logged to the activity log instead.

Steps:
1. cr

[2015-05-15 03:46] deepakaravindr opened #597 "'Restoring packages' on build begin is slow. VS goes to 'Not Responding'"
'Restoring packages' on build begin is slow. VS goes to 'Not Responding'

1. Create a MVC Web application
2. Delete the packages folder.
3. Build solution/project

[2015-05-15 03:51] danliu commented on #594
Repro steps:
1. Add the following 3 feeds to the package sources:
1) http://packagesource
2) \\abc\defgh
3) d:\baddisk

2. start package manager UI and try to connect to each of the 3 feed one by one and watch package pane for messages

[2015-05-15 06:45] tonysneed opened #598 "NuGet.VisualStudio for VS2015?"
I have a VSIX for VS2013 that installs project templates.  These templates use a wizard for collecting some user input, and the wizard also uses the [NuGet.VisualStudio NuGet package](http://www.nuget.org/packages/NuGet.VisualStudio/) for installing NuGet packages from the VSIX, as described in this article: https://docs.nuget.org/create/packages-in-visual-studio-templates.

I've updating my VSIX

[2015-05-15 13:08] tom-englert commented on #529
Sorry, I've been away for holidays.
Here are some more details I wasn't aware myself in the first place:
- INotifyChanged is defined in the Core module. The Core symbol package is fine an contains the INotifyChanged.cs
- INotifyChanged is implemented once in the Desktop module in DependencyObjectExtensions.cs
- The error is in the **Desktop** modules symbol package. It only references the INotifyC

[2015-05-15 13:52] yishaigalatzer commented on #594
What justin said.

Also can we figure out why it takes so long to figure a unc path(probably by design, but I wanted to be sure).

[2015-05-15 14:01] patrickjamesbarry opened #599 "Nuget not sending basic auth header."
I am in VS 2015, Version 14.0.22823.1 D14REL, using nuget package manager 3.0.  During a nuget restore, it is not sending the basic auth header on all requrests. What is weird is that it DOES on some requests. Here is fiddler capture of just headers...

This nuget restore occurs when I try to add Nunit to my project.

GET http://company.artifactoryonline.com/company/api/nuget/my-nuget-virtual/Find

[2015-05-15 14:21] patrickjamesbarry commented on #599
I am using Artifactory in the cloud, and none of my local repositories I have registered with nuget (sources Add xxx with credentials are working. I captured web traffic, and once again the Auth header is missing. The interesting thing is that a 2nd attempt is sent WITH the header, and then that request fails with 406.  I am going to ask Artifactory support about this, however, why is basic auth n

[2015-05-15 14:38] yishaigalatzer commented on #529
Sounds like either a build issue or a symbol server issue (likely the first). Not sure nuget has anything to do with this.

[2015-05-15 15:10] tom-englert commented on #529
The package is generated with
- nuget pack -symbols "$(ProjectPath)" -IncludeReferencedProjects -Prop Configuration=$(ConfigurationName)
Checking the package with "Package Explorer" and the "SymbolSource.Integration.NuGet.PackageExplorer [1.3.4]" plugin shows the same error

[2015-05-15 17:44] #410 closed

[2015-05-15 17:46] tom-englert commented on #491
Since it's not the same behavior always I guess this could be a timing issue, where the local workspace might detect a delete only if there is a certain time gap between deleting the file an removing it from the solution - so your test machine is maybe either too slow or too fast.
Can you give me a hint were I can find the source code for the package manager, so I'm able to debug this?

[2015-05-15 18:32] deepakaravindr opened #600 "Package restore checkboxes in Options dialog is not hierarchical anymore"
Package restore checkboxes in Options dialog is not hierarchical anymore

Please check VS 2013, NuGet 2.8

1. Tools -> Options -> NuGet Package Manager -> General
2. Note that the checkboxes are linear. 'Automatically *' check box should be under 'Allow NuGet to download missing packages' checkbox. Because the 'Automatically *' checkbox is dependent on the other one

[2015-05-15 18:33] deepakaravindr commented on #600
/cc @zhili1208

[2015-05-15 18:38] deepakaravindr commented on #514
//cc : @feiling, @yishaigalatzer

Discussed with Fei. Looks like it is possible that, there is a legal reason, that, even though 'Package Restore Consent' is given, the users might say, don't download the packages on build. So, we need both the checkboxes. I don't know if this statement still holds true

In addition, orthogonally, Note that 'PackageRestoreConsent' is not just used by 'restore on b

[2015-05-15 18:42] deepakaravindr commented on #309
//cc @yishaigalatzer , @emgarten

I don't believe this is needed anymore, since, VS Extensibility API, uses JTF.Run and does not need synchronous API from the PackageManagement or the ProjectManagement layer

[2015-05-15 18:46] emgarten commented on #562
Fixed with NuGet/NuGet3@2ef374b9d6f5eae6e6316c6de14044e2f8c73b4b

Xamarin.iOS has been added to the optional framework list along side monoandroid and monotouch for portable profiles containing those frameworks.

[2015-05-15 18:46] #562 closed

[2015-05-15 19:00] AndriySvyryd commented on #491
The issue is most likely here - https://nuget.codeplex.com/SourceControl/latest#src/TeamFoundationServer/TfsFileSystem.cs

[2015-05-15 19:01] #514 closed

[2015-05-15 19:12] deepakaravindr opened #601 "Remove the progress dialog shown on package restore on build"
Consider removing the progress dialog shown on package restore

[2015-05-15 21:13] #396 closed

[2015-05-15 21:19] #384 closed

[2015-05-15 21:29] yishaigalatzer commented on #598
Hey @tonysneed nothing having changed, the API is still the same, and is being actively used by other wizards.

Can you give us some more details on what version of Visual Studio 2015 are you using? And can you show a code sample/simple repro?

[2015-05-15 21:30] emgarten commented on #529
@tom-englert  Can you provide a project that repros this issue?

[2015-05-15 21:48] feiling opened #602 "We need to remove unused resource strings in NuGet.VisualStudio.Implementation"
Most of the strings defined in VsResources.resx in project NuGet.VisualStudio.Implementation are not in fact used by anybody. We should remove those strings. Not to mention removing them will decrease our localization work.

[2015-05-15 21:57] zhili1208 commented on #69
this is automatically fixed when user build or update the website project. dup bug as https://github.com/NuGet/Home/issues/383

[2015-05-15 21:57] #69 closed

[2015-05-15 22:54] danliu commented on #347
Fixed via https://github.com/NuGet/NuGet.VisualStudioExtension/commit/675c5d8e28493eaa2576e9b6d609f691d346af27

[2015-05-15 22:54] #347 closed

[2015-05-15 22:54] danliu commented on #156
Fixed via https://github.com/NuGet/NuGet.VisualStudioExtension/commit/675c5d8e28493eaa2576e9b6d609f691d346af27

[2015-05-15 22:54] #156 closed

[2015-05-15 23:02] #523 closed

[2015-05-15 23:27] danliu commented on #142
We do have functional tests for updateAll on PowerShell. And they are passing. Move the bug to 3.1-beta.

function Test-UpdateAllPackagesInSolution
function Test-UpdateAllPackagesInASingleProjectWithMultipleProjects
function UpdatePackageWhenAnUnusedVersionOfPackageIsPresentInPackagesFolder

[2015-05-15 23:32] emgarten commented on #554
Fixed with NuGet/NuGet.PackageManagement@20785be9ec6e4b521e3c945c2ae986190fb18db9

[2015-05-16 03:26] tonysneed commented on #598
VsTemplateWizard seemed to work for me with VS2015 CTP6, but it's not installing the packages for me with VS2015 RC.  I'll create a small repro. Thanks!

[2015-05-16 04:40] sharwell commented on #569
@yishaigalatzer I finally had the chance to test this with the [nuproj](https://github.com/nuproj/nuproj) project system. It doesn't work because CPS does not provide a project guid. You are required to [provide your own](https://github.com/nuproj/nuproj/blob/db1a902dafd9f876a9fa2e5f272817b23df6622b/src/NuProj.ProjectSystem.12/NuProjUnconfiguredProject.cs#L15), and NuGet does not recognize it.

[2015-05-16 05:13] mluparu opened #603 "Add support for the Android Packaging project system (.androidproj) in VS 2015"
Currently, installing a nuget package inside a .androidproj via a template seems to succeed but none of the build artifacts get hooked up in the target project.

[2015-05-16 05:47] tonysneed commented on #598
Alright, I created the repro and published it to GitHub:
https://github.com/tonysneed/VsTemplateWizardRepro

I tried creating a VSIX that includes a project template for installing Json.Net, *without using a custom wizard*.  This is based on the following article: [Authoring Visual Studio Templates with NuGet Dependencies](https://docs.nuget.org/create/packages-in-visual-studio-templates)

The VSI

[2015-05-16 05:53] yishaigalatzer commented on #569
We don't support nuproj and just spoke with Andrew arnott about it. We will tackle this for update I

[2015-05-16 05:55] yishaigalatzer commented on #598
We will take a look. But this seems off. Can you try targeting dev14 only? We can take a deep look on Monday

[2015-05-16 06:00] yishaigalatzer commented on #598
By the way, since you did such an awesome job on mvc PRs, we will gladly take one here as well :)

[2015-05-16 06:08] yishaigalatzer commented on #603
We want to track here also work for nuproj and general CPS project support (if possible out of the box).

[2015-05-16 06:10] yishaigalatzer commented on #603
@jasonmalinowski can we have the new build task apply to general CPS projects (longish term, Update .I).

CC @AArnott

[2015-05-16 06:14] yishaigalatzer commented on #569
@sharwell we are tracking this work through https://github.com/NuGet/Home/issues/603. The plan is to use project capabilities and perhaps an msbuild target you need to drop in. This is not a small item and we will tackle it like I said most likely for Update I

[2015-05-16 06:15] yishaigalatzer commented on #603
CC @sharwel

[2015-05-16 06:18] yishaigalatzer commented on #529
@tom-englert we need a project to look into this. I'm not clear if INotifyChanged.cs shows up in the Desktop PDB (which will mean it is not a NuGet issue, but a compiler/build system issue) or it is not and then it might be a NuGet issue after all.

[2015-05-16 06:25] yishaigalatzer commented on #406
@deepakaravindr this should have been fixed already?

[2015-05-16 06:59] tonysneed commented on #598
Yes, I tried again after [re-targeting](https://github.com/tonysneed/VsTemplateWizardRepro/tree/target-vs14) to VS 14 only, and I still get the same behavior: no packages are installed creating a new project with the template installed by the VSIX.

@yishaigalatze, I thought I recognized you!  Happy to help here as well. :smile:

[2015-05-16 09:54] tom-englert commented on #529
The project is at https://tomstoolbox.codeplex.com/SourceControl/latest (Main branch)

[2015-05-16 10:53] tom-englert commented on #529
I could finally locate the problem. It only happens if the CodeContracts runtime rewriter (https://github.com/Microsoft/CodeContracts) is active. The rewriter adds the additional reference to the .pdb file.

[2015-05-16 12:19] julielerman opened #604 "Default Project Dropdown Empty After Adding/Saving New Solution & Project"
VS2015RC

Package Manager Console is active/open
No solution open
Create new project. (I"m targetting .net 4.6 and have tried with console and with class library)
Save project & solution.
Default Project dropdown remains empty
Get-Project myproject returns 'default project not found'
close console
open console
still empty
close solution
open solution
the project is now available in the dropdown

I

[2015-05-16 16:27] yishaigalatzer opened #605 "Hang/Fail to install issue EF 7 packages on .NET 4.6 project"
See more details here https://github.com/aspnet/EntityFramework/issues/2209

This might be EF issue with the packages, but we should definitely not be stuck for 5+ minutes try to figure out the graph.

Is this a dup of the unlisted issue?

[2015-05-16 16:27] yishaigalatzer commented on #605
CC @julielerman

[2015-05-16 16:30] julielerman commented on #605
thx

[2015-05-16 18:36] sharwell commented on #569
@yishaigalatzer The problem could be immediately resolved by making `IsSupported` simply return true.

[2015-05-16 18:40] sharwell commented on #569
As I mentioned before (in the original issue), the only other alternative for us is intentionally reusing an existing whitelisted GUID, but that will mean that users cannot have our extension installed at the same time as whatever other one we used, and that is something we really want to avoid.

[2015-05-17 00:25] yishaigalatzer commented on #569
That is not how we are going to suport nuproj or cps projects in general.

We are also not going to create instant legacy problems by doing premature things wihout thinking them through.

We are focused on bringing up nuget quality up towards RTM, this unfortunately is probably going to wait for update 1. In the off chance we finish the rtm work ahead of schedule we will take another look.

-----O

[2015-05-17 03:36] yishaigalatzer commented on #512
It is in the DTE documentation. We don't document every piece of every .NET/Visual Studio in NuGet itself.

[2015-05-17 03:41] yishaigalatzer opened #606 "Batch Push and Parallel Push"
Nuget.exe push can be made much faster if we supported batching on the server (open a connection once and push a set of packages).

Similarly it can be made faster by pushing multiple packages in parallel.

[2015-05-17 03:42] tonysneed commented on #598
Let me know if you can reproduce my repro.  Just to be sure, I think I'll create a new VM with a clean install of VS 2015 RC and see if I can repro it there.

[2015-05-17 04:09] yishaigalatzer commented on #598
Sure, trying to go through this weekend without firing up my work laptop. Lets see how long I can last :)

A clean VM sounds like a good idea.

[2015-05-17 04:23] AArnott opened #607 "Installing NuGet packages with readme.txt does not open the readme.txt"
Per [the documentation on readme.txt](http://docs.nuget.org/create/Creating-and-Publishing-a-Package#automatically-displaying-a-readme.txt-file-during-package-installation), a nupkg that carries a readme.txt in its root directory should result in that readme.txt being displayed to the user when that package is directly installed. This works in NuGet 2.8 but not in 3.0.

[2015-05-18 07:26] maartenba commented on #606
Would a multipart push be sufficient?

[2015-05-18 08:25] wkosten1982 commented on #491
Facing the same problems with the latest version of visual studio 2013 against tfs 2013. When the nuget update is performed the following happens;

Update Package A from 1.0 to 1.1

---- BEFORE UPDATE
Solution
Project 1
	-> packages.config
		- Package A = 1.0
		- Package B = 1.1
Project 2
    -> packages.config
		- Package A = 1.0

---- AFTER UPDATE
Solution
Project 1
	-> packages.config (state=ed

[2015-05-18 09:39] rekna1 opened #608 "Why is packages.config build action set to content by default ?"
This makes packages.config go with publish. Shouldn't it be better to set default build action to None?

[2015-05-18 15:07] yishaigalatzer commented on #491
These are good hints. We are trying to get a repro and fix it this week.

If you are worried about server connection,
try to create a local workspace.

[2015-05-18 15:10] yishaigalatzer commented on #606
Need measuring, the above are just suggestions. Typically batch == multipart. It might be the right approach here.

Multi connection could work faster as well, and the mihht work better in tandem.

Multi connection will work across all servers, multi part requires server change.

[2015-05-18 17:12] tom-englert commented on #491
I did some more investigation and found the following:
- I could not reproduce it on my laptop with only SSDs.
- I can reliably reproduce it on my PC where the code is checked out to a HDD.
- When debugging the source code with some breakpoints set it was never reproducible.
- Once I could reproduce it and luckily watch in solution explorer that the symbol on the packages.config changed from "chec

[2015-05-18 17:24] tom-englert commented on #491
@yishaigalatzer: This **only** happens if you use a **local** workspace!

[2015-05-18 17:38] yishaigalatzer commented on #574
https://github.com/NuGet/NuGet3/blob/d8919d66892348e04301d33ccf22f52afb22c113/src/NuGet.Protocol.Core.v3/PackageMetadataParser.cs#L25

https://github.com/NuGet/NuGet3/blob/d8919d66892348e04301d33ccf22f52afb22c113/src/NuGet.Protocol.Core.v3/PackageMetadataParser.cs#L39

[2015-05-18 17:39] yishaigalatzer commented on #574
@johnataylor the server should probably normalize this as well

[2015-05-18 18:01] wkosten1982 commented on #491
I am looking forward for a patch, this will probably be fixed in the 3.0 release only isnt?

[2015-05-18 18:33] danliu commented on #554
this issue needs more fix. Now I see a null reference exception when opening an existing solution with packages folder deleted. Will send a review.

[2015-05-18 18:44] amferguson commented on #439
I ran into this as well while trying to use Octopus Deploy with an ASP.NET 5 project. When running `dnu publish` it copies all of the various packages that the site depends on to the publish directory.

Since Octopus Deploy uses NuGet packages to bundle up and deploy the websites, it causes a problem when NuGet ignores some package directories that contain *only* .nuspec files, because loading the

[2015-05-18 18:46] emgarten opened #609 "[Cleanup - Non blocking] Create a PackageSpec writer for project.json"
A package spec writer is needed to write out project.json after making in memory changes to test installs/uninstalls.

[2015-05-18 19:13] emgarten opened #610 "Project to project closure is not used by RestoreCommand"
The project to project closure is not used by the restore command.

Steps
1. Create 3 projects
2. Link 1 -> 2 -> 3
3. Install nuget.versioning into 3

Expected
The 1 & 2 lock file should contain nuget.versioning

Actual
nuget.versioning is only in the lock file for 3

[2015-05-18 19:22] emgarten opened #611 "Newtonsoft.Json 7.0.1-beta3 does not show up as a lock file target"
1. install newtonsoft.json 7.0.1-beta3
2. build

newtonsoft.json.dll does not show up in the lock file under targets.

[2015-05-18 21:05] yishaigalatzer commented on #607
Repro steps?

[2015-05-18 21:32] yishaigalatzer commented on #569
@sharwell I'm going to take another look and see if we can come up with something stable enough for RTM. If I find a way I will re-open this bug. I can't promise this will make it down level (vs 2013 or 2012), or if it does when will that happen.

[2015-05-18 21:38] yishaigalatzer commented on #608
That's a good idea, we are going to take a look if it can be reliably changed.

[2015-05-18 21:38] yishaigalatzer commented on #608
We should also update nuget 2.X

[2015-05-18 21:48] yishaigalatzer commented on #439
@amferguson this would be a different bug, around keeping empty folders around, wouldn't you say?

[2015-05-18 21:51] yishaigalatzer commented on #491
from what @tom-englert is describing this looks like a bug in TFS local workspace implementation. So if this gets fixed by TFS, it is up to them where they want to move it to.

@wkosten1982 we are going to try and fix for both.

Aside - Personally after working on both TFS and Git implementations/integrations before I find that git works better with local workspaces, and since TFS now natively sup

[2015-05-18 21:54] amferguson commented on #439
@yishaigalatzer Yes, sort-of. In my particular case, the .nuspec files aren't important in and of themselves, but if all .nuspec files weren't being filtered out, they would be included in the .nupkg along with their folder structure.

In my case, I would be just as happy if nuget.exe still filtered the .nuspec files but kept the empty folders, but if other people have a use for those files, that

[2015-05-18 21:59] sharwell commented on #569
@yishaigalatzer Thank you. This functionality will be a big deal to a bunch of people. :+1:

[2015-05-18 22:31] yishaigalatzer commented on #605
This seems to repro also with Beta4 packages on the latest bits. But not with Beta5 (we just see the IX failing to add a reference correctly)

[2015-05-18 22:34] jasonmalinowski commented on #603
@yishaigalatzer: we eventually it will have to be, since we're hoping to get rid of csproj/msvbproj once we ship RTM. If somebody needs it earlier then I guess we'll have to do it earlier.

[2015-05-18 22:46] AArnott commented on #607
Sure: run this command in the NuGet Console window:

    Install-Package Nerdbank.GitVersioning -Pre

[2015-05-18 23:02] danliu commented on #395
After investigation, found that in the case above, when consent is not given, the checkbox for allowing automatic restore during build is also unchecked and grayed out. So it's okay to not write out messages in this case. And verified that 2.8.* is having the exact behavior.

There is no possibility of allowing package restore during build, but consent is not given. So resolve and close this bug.

[2015-05-18 23:02] #395 closed

[2015-05-18 23:03] AArnott commented on #607
This repros on VSPro_Platform 22912.00

[2015-05-18 23:46] #554 closed

[2015-05-19 00:04] danliu opened #612 "Microsoft and .NET feed cannot be unchecked/disabled"
Repro steps:
1. start package manager settings dialog
2. uncheck Microsoft and .NET feed, click OK button
3. go back to package manager settings dialog again and check

Expected: Microsoft and .net feed is unchecked

Actual: it's still checked.

While debugging, found that below is exception is thrown for Microsoft and .net feed, which will keep its state being updated correctly.

 	NuGet.Options.

[2015-05-19 00:08] danliu commented on #604
@julielerman, we could not repro the issue that you've reported using latest build. Can you please let us know the version of Visual Studio as well as NuGet you were using?

Also to confirm, the project template you were using is just plain c# class library and console application?

[2015-05-19 00:10] danliu opened #613 "Get-project returns nothing for ASP.NET 5 (projectK) projects"
Repro steps:
1. create a project (asp.net 5) class library
2. start PMC,

PM> get-project
PM>

Expected: returns the current projectK project.

[2015-05-19 00:22] yishaigalatzer commented on #607
What kind of project, what framework?

[2015-05-19 00:53] julielerman commented on #604
Thanks for looking so quickly. I'll be at my computer later tonight. For now I can tell you ita the RC that was released at build and should be whatever version I'd nuget was part of that. Yes I was using a plain c# class lib and console. No aspnet5.

I don't think I did anything out of the ordinary. I think resharper was installed. I will try to see what happens without r#.

Thanks again for look

[2015-05-19 01:11] naveensrinivasan commented on #550
I am also getting similar error
[code]

[2015-05-19 01:39] deepakaravindr opened #614 "In the UI layer, Determine if UIDispatcher.Invoke should be replaced with NuGetUIThreadHelper.SwitchToMainThreadAsync"

[2015-05-19 03:58] yishaigalatzer commented on #569
Does your project support add reference and content?

[2015-05-19 04:27] AArnott commented on #607
C# console app. .NET 4.5

[2015-05-19 06:02] tom-englert commented on #491
I've added a bug report for VS here: https://connect.microsoft.com/VisualStudio/feedback/details/1344773/tfs-local-workspace-marks-files-as-deleted
It would be a good idea if as many people as possible vote for this and mark "repros" to give it some importance.

We use TFS repositories in our company; even though technical possible git is not an option for us.

[2015-05-19 11:30] GeertvanHorrik opened #615 "[NuGet.VisualStudioExtension] Packages without references cannot be updated"
I have a VS 2015 RC solution. When searching for updates, it somehow doesn't pick up updates for Fody (a package that doesn't install any references). Installed version is 1.26.1, but according to NuGet, it should see the update 1.28.3.

[2015-05-19 11:30] GeertvanHorrik commented on #615
Calling this in the package manager console works though:

PM> Update-Package Fody

[2015-05-19 11:34] GeertvanHorrik commented on #615
What I did:

1) Open existing solution where some projects already had 1.28.3
2) Create new project
3) Install Fody (via "installed packages") into the new project
4) 1.26.1 gets installed => no way to upgrade via UI

[2015-05-19 14:52] hickford opened #616 "SSL misconfigured on nuget.org"
I found a problem with the SSL configuration for https://www.nuget.org , the Strict-Transport-Security header is invalid due to a typo

    HTTP/1.1 200 OK
    Strict-Transport-Security: maxage=31536000; includeSubDomains

It should be `max-age` with a hyphen per https://developer.mozilla.org/en-US/docs/Web/Security/HTTP_strict_transport_security#Enabling_Strict_Transport_Security

See also https:

[2015-05-19 16:31] yishaigalatzer opened #617 "Native support for CPS projects"
CPS projects have a much better way to add references (multiple, background thread, more efficient)

We should coordinate with the CPS team, and improve our code to be faster and more resilient to threading.

[2015-05-19 16:39] sharwell commented on #569
In theory yes, although we are not currently using this aspect in the NuGet packages we install automatically. If you can point me to the specific interfaces which need to be implemented for this support, I would be able to confirm it.

[2015-05-19 17:00] anurse opened #618 "Move logging strings in RestoreCommand to RESX"
I need to move the logging strings in the RestoreCommand code to RESX files.

[2015-05-19 17:20] tonysneed commented on #598
Update - I created a virgin win 8.1 VM and installed VS 2015 RC and the SDK.  And I'm seeing the same behavior.  I have a VSIX that includes the Json.Net Nuget package and a project template with the following addition:

[code]

When the VSIX is installed on VS2015 RC, new projects created from this template do not have the Json.Net package installed.  I'm not seeing this happen with either VS2013

[2015-05-19 17:39] danliu commented on #604
thanks @julielerman. Please keep us updated.

[2015-05-19 17:39] yishaigalatzer commented on #616
Thanks for a cool bug and a PR

[2015-05-19 17:46] #593 closed

[2015-05-19 17:48] johnataylor commented on #539
we now understand and prioritize listed/unlisted correctly in the resolver and include these in the v3 feed. we need to verify this particular case against the registration1 set of registration blobs (because they contain the field "listed" instead of the cryptic not-published-in-1900 logic

[2015-05-19 17:51] johnataylor commented on #531
The most significant extra network calls are now addressed. (For example with packages like FAKE and RavenDB the client was fetching ALL the metadata for ALL versions.)

Further optimizations are possible, leaving this open, possible deprioritize now.

[2015-05-19 17:52] #616 closed

[2015-05-19 17:53] johnataylor commented on #532
This is primarily about reducing the size of registration blobs rather than the interlinking. Many of the fragment URIs (for things like dependencyGroups, dependencies etc) could be reduced. But almost all of this can be done without changes to the client.

[2015-05-19 17:57] ericstj opened #619 "Nuget needs to handle .NETPortable,Version=v5.0 as core50"
We won't be burning in nuget short names to project.json and instead will have the full moniker.  For PCLs this will be .NETPortable,Version=v5.0 (without any profile).  We expect nuget/dnx to accept this and treat it in the same way it does other new TFMs, falling back to core50.  //cc @emgarten @rchande @pilchie @jasonmalinowski

[2015-05-19 18:02] #518 closed

[2015-05-19 18:31] bhuvak commented on #456
@roryprimrose, I am closing the issue as we couldn't repro it and it seems like a permission issue.

[2015-05-19 19:34] csharpfritz opened #620 "Content Packages - Friendly Error Messages"
In the ASP.NET 5 environment, NuGet does not install content packages and does not execute powershell scripts.  NuGet should display an appropriate message in the console if content is not handled and possibly emit an appropriate link to search bower.io (something like http://bower.io/search/?q=jquery) for an appropriate package.

[2015-05-19 21:46] #613 closed

[2015-05-19 21:49] danliu commented on #563
@yishaigalatzer, the manual testers found this. They were exercising the scenarios once against api.nuget.org, once against nuget.org.

[2015-05-19 22:07] yishaigalatzer commented on #620
This is an ASP.NET bug, please move over.

[2015-05-19 22:07] #620 closed

[2015-05-19 22:09] yishaigalatzer commented on #610
This is not just for commandline

[2015-05-19 22:20] roryprimrose commented on #456
Sorry, I missed your last comment. I'll try to get a fiddler trace today.

I don't think it is a permissions issue. I have a workaround where I cache the IP address of a previously successful authentication attempt. I then allow that IP to make any call within a few minutes. This workaround (bad as it is for security) works fine both locally and hosted in Azure. Without the IP cache I get the same

[2015-05-19 22:26] yishaigalatzer commented on #456
This looks a lot like a dup of https://github.com/NuGet/Home/issues/599

CC @feiling

[2015-05-19 22:35] danliu opened #621 "Rename the nuget nupkg file version generated by build from 3.0.0-beta to 3.0.0"

[2015-05-19 22:39] yishaigalatzer commented on #621
This is not a bug, its intentional. We need to change it when we branch off for RTM.