[2017-12-11 23:45] gyrolc commented on #5553
Is there a timeline for this resolution? We have the exact same business need to always get the highest available version of our internal packages within a specified range.

[2017-12-12 00:24] Wil73 commented on #5553
My biggest concern is that this will get dealt with, but the implementation will be inadequate.  I don't understand at all why this takes so long.  Just add a switch to nuget.exe to pass into the business logic.  How can this be that complicated?

I must be missing something.

[2017-12-12 00:33] silver-xu-webjet commented on #1459
Windows is pathetic in terms of pathtoolong issue and will lead more UI developers moving towards macs.

[2017-12-12 00:34] jainaashish commented on #6281
I just tried with a new website project, it worked fine for me along with installing a new package as well.

Can you also check that at your end?

[2017-12-12 02:12] emgarten commented on #6296
Thanks for the feedback and suggestion, this is currently by design, the resolver fails with a helpful message letting the user select the appropriate package.

You can find more on the resolver here: https://docs.microsoft.com/en-us/nuget/consume-packages/dependency-resolution

[2017-12-12 02:12] #6296 closed, assigned to nobody

[2017-12-12 02:17] emgarten commented on #6295
Would you explain what you mean by this? I do not see any replacements in the linked `nuspec.xsd`

Are you trying to edit a nuspec in VS and want the editor to enforce the schema? I'm not clear on what is needed here, some pointers on how to get this working would be great.

[2017-12-12 03:09] clairernovotny opened #6301 "Need consistent way of getting NuGet package cache location from MSBuild"
Currently `NUGET_PACKAGES` can be used to alter the package cache location. The issue is that anything in custom msbuild targets that need to call into packages have to check multiple possible locations since there is no consistent property defined for this purpose.

The default is `%USERPROFILE%\.nuget\packages`, and as `NUGET_PACKAGES` isn't widely used, to workaround other issues, or simply to

[2017-12-12 04:10] AArnott commented on #6301
What's wrong with projects using the `$(NugetPackageRoot)` property, defined in the nuget-generated `*.csproj.nuget.g.props` file?

[code]

[2017-12-12 04:18] clairernovotny commented on #6301
I don't recall the context, maybe it was from @davkean, but I don't think that's documented and it could be removed or redefined.

[2017-12-12 04:46] clairernovotny commented on #6301
One other thing, that variable isn't available to scripts. The VS DevCmd script that sets up the environment vars should set something as well.

[2017-12-12 05:47] jainaashish commented on #6287
Thanks, this is Project-system issue since they handles these content files. Opened a new issue in their repo - https://github.com/dotnet/project-system/issues/3042

[2017-12-12 05:47] #6287 closed, assigned to nobody

[2017-12-12 05:58] StefanBertels commented on #2867
@PeteX:
I agree, but what motivates package owners not to be ignorant?

(Package) users don't care, too. What happens if you "scare" your users with security warnings?

There is a long way to go.

[2017-12-12 06:34] emgarten commented on #6301
The property @AArnott mentioned sounds like what you are asking for. This property isn't used internally, it is there for writing custom targets or for use from a package. It is unlikely this would change.

The default package folder path is user specific, but beyond that this path can be set on a per-project basis, which means there is no right answer apart from where the project lists as the pac

[2017-12-12 06:47] rohit21agrawal opened #6302 "Functional test on windows timing out"
Functional tests are timing out since build 4710 , which was triggered as part of https://github.com/NuGet/NuGet.Client/pull/1853

@emgarten 's fix (https://github.com/NuGet/NuGet.Client/commit/b58f6be060228197e56f8325349e9123ba7d76b8) should have fixed the issue but it looks like there is something else that's causing a time out too.

[2017-12-12 07:10] AvapiDotNet commented on #6257
I have upgraded dotnet-cli and it worked. Thank you very much guys, you can close ths issue.

[2017-12-12 08:05] anangaur commented on #6257
Awesome!

[2017-12-12 08:05] #6257 closed, assigned to nobody

[2017-12-12 13:30] arivoir commented on #6296
I know it is by design, but the design is horrible and should be changed. Having to add a lot of extra packages to the project and every project which uses this project is such an inconvenient solution, and one that makes no sense as this should work fine if nuget were designed correctly.

[2017-12-12 14:06] clairernovotny commented on #6301
@emgarten if that property is going to be stable, I'm happy to use it and the script issue can be dealt with separately.

[2017-12-12 15:41] dtivel opened #6303 "Signing: does not block on weak public key length"
1.  Create a new trusted certificate that has an RSA public key length of 1024 bits using the following PowerShell script:
[code]
2.  Using the fingerprint from the previous step, execute:
[code]
Expected result:  Sign operation will fail with a message saying the public key length is unsupported.

Actual result:  Sign operation succeeds.  (Verify fails though.)

[2017-12-12 15:45] dtivel opened #6304 "Signing: verify command's CertificateFingerprint not enforced"
1. Create a certificate using the following PowerShell script:
[code]
2. Sign a package:  `NuGet.exe sign <PackageFilePath> -CertificateStoreName Root -CertificateFingerprint <Fingerprint>`
3. Verify the package:  `NuGet.exe verify -signatures <PackageFilePath> -CertificateFingerprint abc`

Expected result:  step 3 will fail with an error saying the package wasn't signed with a matching certificat

[2017-12-12 16:15] ddrogahn opened #6305 "error with two digit major version (>=10)"
NuGet product used: VS UI
NuGet version: 4.4.1.4633
VS version: 15.4.4
OS version: Win10 1709 16299.64

Repro:
1. Install a package with version > 10
eg Newtonsoft.Json 10.0.3

2. Try to install a package that requires the previous package with a version constraint
eg Microsoft.AspNet.WebApi.Client 5.2.3 constraint: Newtonsoft.Json (>= 6.0.4)

3. Dependencies do resolve if first package is manuall

[2017-12-12 20:32] emgarten commented on #6301
It is stable 🍰

[2017-12-12 20:32] #6301 closed, assigned to nobody

[2017-12-12 20:42] emgarten commented on #6305
This is typically caused by a feed that treats versions as strings. Older versions of NuGet.Server did this.

What feeds are you using? Are you able to repro this after copying the package to a local folder and using that as the source?

[2017-12-12 21:05] clairernovotny commented on #5894
Note that this appears to be affecting using MSBuild.Sdk.Extras to add WPF support since the targets aren't getting added to the tmp_proj builds.

The workaround @AArnott mentioned works here as well, but it's really nasty.

[2017-12-12 22:50] shahabhijeet commented on #1823
Please let me know if this can be prioritized sooner.
We have Azure Cognitive services nuget packages trying to depend upon release notes for their acquisition experience primarily pointing to updates to service samples.

[2017-12-12 23:04] rohit21agrawal commented on #1823
@shahabhijeet please send email to NuGet team with the business justification

[2017-12-13 00:30] jainaashish commented on #6145
I just checked it If all packages are in the global packages folder and there are zero misses, and zero floating versions then NuGet doesn't tries to go to online. It works fine.

About ignoring failed sources, then we already have a separate workitem for that - https://github.com/NuGet/Home/issues/5643

[2017-12-13 00:30] #6145 closed, assigned to jainaashish

[2017-12-13 04:49] StingyJack commented on #6295
These string replacements/formats/interpolaters/{0}/whatever on lines 2, 5, and 6.

![image](https://user-images.githubusercontent.com/15381181/33922028-e7fad836-df95-11e7-800b-4237f82c8e61.png)

Yes, consulting the website doc when there is support for this built into VS seems unnecessary. If you have an XML file open you can get the S`XML --> Schemas...` menu entry
![image](https://user-images.g

[2017-12-13 07:16] sanderaernouts commented on #6266
+1

I'm in a similar situation as @madelson, furthermore it is not possible to upgrade all projects to the new CSPROJ format yet so we have to use the old format in some places for a while  (for example in WPF projects). Access to the project should not be that hard, I'm actually using the [Microsoft.Build](https://www.nuget.org/packages/Microsoft.Build/) package myself to validate the old .csproj

[2017-12-13 08:14] v-luzh commented on #6304
It is fixed on NuGet Client Dev 4716.

[2017-12-13 10:48] FrenchMigVaz commented on #2987
Bump on this topic.
My company has an on premise Nuget source that requires the VPN connection on.

When I forget to turn it on and restore some packages, the on premise source is automatically disabled without me being notified.

Then restore always fails, and the developer has to be aware of this auto disabledPackageSources in the Nuget.config at user scope...

[2017-12-13 10:59] YodasMyDad commented on #5350
I have just had the same error after upgrading to latest version of VS2017 via the updater. Project was working fine and building with no problems even after update. However, I excluded a folder from my Core project. Went to build and got that error. I included the folder back in but the error still persists. I have even reverted the core.csproj file but cannot build the solution still!! 👎

Severi

[2017-12-13 11:03] sanderaernouts opened #6306 "NuGet gives detected package downgrade error when there are no version constraint conflicts in the dependency tree"
## Details about Problem
NuGet product used (VS UI | Package Manager Console):
NuGet version 4.4.1.4656
VS version: 15.4.5 (but issues also occurs with latest 15.5 update)
OS version: Microsoft Windows 10 Pro (10.0.16299 Build 16299)

## Detailed repro steps so we can see the same problem
1. Create a new empty solution
2. Add 3 class library projects (A, B and C)
3. Set the target framework to ```

[2017-12-13 11:27] Aurelianus commented on #5350
Take a look into csproj files if the casing of referenced projects is identical to your windows paths.
I've noticed that csproj-file paths are case-sensitive but windows file system paths are not.

[2017-12-13 11:49] YodasMyDad commented on #5350
I've copied it exactly. And even put the full path in i.e.

[code]

I get a similar error for this. Which is

This is the section in the .targets file it's referring to? Does anything look wrong with this?

[code]

Still same issue. A temporary workaround is to remove the ProjectReference and just reference the project DLL directly in the debug folder.  But like I say, this is temporary until this

[2017-12-13 11:57] Aurelianus commented on #5350
I see the casing problem.
`<ProjectReference Include="D:\Projects\MyProject\src\MyProject.Core\MyProject.Core.csproj" />
 Cannot find project info for 'D:\Projects\MyProject\Src\MyProject.Core\MyProject.Core.csproj'`

Src one time in lower case and one starting with uppercase.
Some of your csproj files still reference it with 'D:\Projects\MyProject\Src\MyProject.Core\MyProject.Core.csproj'.

[2017-12-13 12:01] YodasMyDad commented on #5350
But this is a VS issue as when you reference a project, it's done like this

[code]

So VS decides if it's Src or src ... ??

[2017-12-13 12:02] YodasMyDad commented on #5350
But this is a VS issue as when you reference a project, it's done like this

[code]

So VS decides if it's Src or src

[2017-12-13 12:04] doorman02 opened #6307 "The specified source 'MySource' is invalid"
## Details about Problem
I am trying to push packages to the VSTS package manager from the command line like this

nuget.exe push -Source "MySource" -ApiKey VSTS *.nupkg
But I am getting the following error

The specified source 'MySource' is invalid. Please provide a valid source.
Even though the source exists.

Any idea why it doesn´t recognize MySource?

I am using TFS2018.

**This worked in th

[2017-12-13 12:05] YodasMyDad commented on #5350
Actually! Yes you are right. The Web.Ui project reference in the .sln file was still referenced as Src so I changed to lowercase like all others and the file system and it's working again 👍 Thanks for your help.

[2017-12-13 13:50] dtivel opened #6308 "Signing: does not block on unsupported signature algorithms"
1.  Create a new trusted RSA-PSS certificate using the following PowerShell script:
[code]
2.  Using the fingerprint from the previous step, execute:
[code]
Expected result:  signing will fail with an error saying the signature algorithm is not supported.

Actual result:  signing succeeds.

[2017-12-13 14:32] Laibalion commented on #3171
This issue is still present in VS2017 15.5.1 (latest update)

[2017-12-13 17:23] jeffkl commented on #5919
@zhili1208 did you make any progress on this?  I'm working to get the SDK resolver in the next release

[2017-12-13 18:49] mishra14 commented on #6288
@anangaur `TreatSpecificWarningsAsErrors` is not supported. They should use `WarningsAsErrors`

[2017-12-13 19:01] davethieben commented on #5766
I'd like to add a vote for this. We are using NuGet.PackageManagement for ResolverGather and NuGetPackageManager functions to support an update API in an ASP.NET app. however, I am stuck on 3.4.4 because it did not have the conflicting IChangeToken.

I briefly browsed the code and I'm not sure why there is even this dependency in the first place? it doesn't appear there are specific needs for ICha

[2017-12-13 19:03] #6308 closed, assigned to dtivel

[2017-12-13 19:17] thomaslevesque commented on #6184
I looked at the new analyzer project templates, and they're using a simpler approach: https://gist.github.com/thomaslevesque/a49864fc64db661d627fdad7508a28e0#file-analyzer1-csproj

(relevant parts on lines 5 and 37)

[2017-12-13 19:49] livarcocc opened #6309 ""dotnet restore" doesn't restore all required dependent lib versions"
_From @davethieben on December 13, 2017 14:11_

My project is referencing a newer version of Newtownsoft.Json, and an old library that references an older Newtonsoft.Json package. in the 2.0 SDK, when I "dotnet restore", I am only getting the old version. I did not have this problem with the 1.0 SDK.

## Steps to reproduce

1. Create a new Console App (ConsoleApp1).
2. Add a Nuget package to Conso

[2017-12-13 19:49] livarcocc commented on #6309
This is by design.

In the 2.0 SDK, we started using the NuGetFallback folder as a way to improve performance and avoid hitting the network too much.

This fallback folder contains a set of packages, including newtonsoft.json 9.0.1 and when NuGet runs a dotnet restore, if it finds the package in the fallback folder, it uses it and does not copy the package to the user's cache. Which is what you ar

[2017-12-13 19:49] livarcocc commented on #6309
_From @davethieben on December 13, 2017 18:22_

that makes sense. however, then I would argue that the "--packages" cli option isn't working correctly. I am assuming that the point of that option (and what we have been using it for) is to restore *ALL* packages to the output location specified, which it does not, even given a "--force" option.

[2017-12-13 19:49] livarcocc commented on #6309
I will move this issue to NuGet as it will be easier to get an accurate explanation for their reasoning there.

[2017-12-13 19:53] #6302 closed, assigned to PatoBeltran, emgarten

[2017-12-13 20:19] emgarten opened #6310 "Add BuildInParallel to Restore targets"
Restore targets should use `BuildInParallel ` to improve performance.

[2017-12-13 20:22] emgarten opened #6311 "Restore causes extra MSBuild evaluations when child projects' TFM do not match with the parent project's"
Restore evaluates child projects using the parent project target framework.

* This causes extra evaluations when the TFM is different between the parent and child projects, decreasing perf.
* Potentially this could cause project references to be missed for single TFM child projects if the references are conditioned in a way that will change the result.

This extra iteration isn't needed:
https://

[2017-12-13 20:26] emgarten opened #6312 "Reduce TargetFramework evaluations in restore targets"
Reduce TargetFramework evaluations in restore targets

Currently restore treats TargetFrameworks and TargetFramework properties the same when iterating through them. To improve performance the targets should instead directly depend on the target needed when `TargetFramework` is used.

[2017-12-13 20:38] emgarten commented on #5919
@jeffkl when do you need this by, would you give a date? This has been on hold since it wasn't needed yet.

[2017-12-13 20:40] jeffkl commented on #5919
I'm starting on the SDK resolver in MSBuild this week.  The earlier we get this the better but realistically it could be mid January.  I need to find the release schedule to be sure.  Do you think this is a big effort for your team or have a rough ETA?

[2017-12-13 20:42] emgarten commented on #5919
@zhili1208 was working on this but is out until Jan.

//cc @rrelyea for the timeline on this

[2017-12-13 20:44] jeffkl commented on #5919
Great I'll sync up with you guys first week of January to lock down on a timeline..  Thanks!

[2017-12-13 20:46] emgarten commented on #6309
@davethieben would you explain more about your scenario? Why do you need the packages in a certain location, are you using these outside of the normal project restore/build?

The workaround for this is to disable the fallback folders so that only the packages folder is used.

[2017-12-13 20:50] emgarten commented on #2987
@Vilmir that does not sound related to the issue of the default nuget.config automatically disabling sources. There are other issues tracking that scenario.

[2017-12-13 21:13] #6303 closed, assigned to dtivel

[2017-12-13 21:21] prafullbhosale commented on #6029
@emgarten any ideas which milestone this could be included in?

[2017-12-13 21:31] natemcmaster commented on #5919
👀 I'm very interested in this API too. We implemented an MSBuild task in the aspnetcore build system that looks basically like this, but would love to see a first-class MSBuild task for it, as mentioned in https://github.com/NuGet/Home/wiki/%5BSpec%5D-Package-download-API#msbuild-task.

[2017-12-13 21:34] dtivel opened #6313 "Signing: errors reported n times for n packages during signing"
1.  Create a new untrusted certificate using the following PowerShell script:
[code]
2.  Put two unsigned .nupkg files in a directory.
3.  Open a command prompt and path into the directory in the previous step.
4.  Using the PFX file path from step 1, execute:
[code]
Expected result:  Errors which can and should be reported once will be reported once.

Actual result:  Errors are reported once per

[2017-12-13 21:39] dtivel commented on #6304
@v-luzh, this still repros for me on dev 4716 and the latest dev branch sources.

[2017-12-13 21:40] dtivel commented on #6313
CC @mishra14, @PatoBeltran

[2017-12-13 23:48] anangaur commented on #5553
@Wil73 We typically publish the spec and announce it at the [NuGet/Announcements](https://github.com/nuget/announcements) repo for review. We respond to feedback and once reviewed, we begin the implementation. So please rest assured that we will take in your feedback :) Please subscribe to [NuGet/Announcements](https://github.com/nuget/announcements) to not miss out on the notifications.

@gyrolc

[2017-12-13 23:49] ddrogahn commented on #6305
Just the default https://api.nuget.org/v3/index.json

I did later get the packages to install by first downgrading json to 9, then installing packages, and upgrading to json 10.

Today I got NuGet 4.5.0 with VStudio 15.5.1 -- and I can't reproduce it now.

It doesn't seem like just restarting fixed it.  I did have a pretty fresh instance of VS when I saw this yesterday.  And have seen this problem

[2017-12-13 23:50] #6305 closed, assigned to nobody

[2017-12-13 23:57] nkolev92 commented on #5725
Based on the current proposal for GT, it'll need to consider the new package type as well. So  tools would not get shown in the PM UI.
https://github.com/NuGet/Home/wiki/Global-Tools---NuGet-Implementation
Name still a subject to change, but want to make sure it's tracked.

[2017-12-14 00:19] nkolev92 commented on #6260
How do we handle the scenario where the global packages folder is at the root of a drive? Example F:
The tools folder cannot be at the same level as this.

@anangaur @rrelyea @emgarten @wli3

[2017-12-14 00:26] dtivel opened #6314 "Signing: functional test failures"
[This](https://github.com/NuGet/NuGet.Client/pull/1867/files) change broke 2 signing functional test failures.

[2017-12-14 00:50] #6314 closed, assigned to dtivel

[2017-12-14 02:13] emgarten commented on #6029
This isn't in the schedule yet, there are a few other high priority features still in the works.
//cc @rrelyea

[2017-12-14 02:15] emgarten commented on #6305
Thanks for reporting back, I'm not sure what would cause this. Please let me know if you get a consistent repro as I'd love to track this one down!

[2017-12-14 02:16] emgarten opened #6315 "Add msbuild tests for SkipNonexistentTargets"
Add msbuild tests for SkipNonexistentTargets

This is currently blocked due to the test machines not having 15.5

[2017-12-14 02:21] emgarten commented on #6307
@doorman02 there isn't enough information here for me to be able to determine why your private feed isn't working.

Would you try debugging nuget.exe here https://github.com/NuGet/NuGet.Client/blob/95db8c8f61bc2b1dacfb541b0d665bd3cc9211f4/src/NuGet.Clients/NuGet.CommandLine/Commands/PushCommand.cs#L54 and share why the source is failing?

[2017-12-14 02:30] emgarten commented on #6306
You are completely correct and NuGet emits NU1605 as a warning. (Warnings are >= 1500)

Your project is likely treating this warning as an error.

Add `<NoWarn>NU1605</NoWarn>` to resolve this, or remove NU1605 from WarningsAsErrors

[2017-12-14 02:54] davidfowl commented on #5553
Why not send a pull request with the change then?

[2017-12-14 03:30] wli3 commented on #6260
We do need to think more and decide where to put the logic. In the end, this should not be allowed. Also, I was about to talk about it yesterday, tools folder should be at least per user (ideally it can only be in user's folder) like `%userprofile%/.nuget`. If tools folder is shared between 2 users like , their tools will be mixed. So if the user want to use D:\sdktool, we should at least end up w

[2017-12-14 03:42] wli3 commented on #6260
I am thinking can we not allow this to be set? Or only allow setting the part after user directly.

The validation logic will be very hard. If we move most of this logic to CLI, it won't help too much. CLI will ask for a list of candidate and validate from top to bottom until finding one or throws. However, NuGet will have no idea which one CLI actually picked. And the worst part is, the user chan

[2017-12-14 03:46] nkolev92 commented on #6260
@wli3
In the end, NuGet would just be reading a predetermined config file.

We cannot control if the users change these values.

CLI figuring out the path on its own would allow you the most control.

Why do you say it won't help?
It's literally a predetermined place to install these tools.
And you just won't make it configurable.

[2017-12-14 05:01] joo92 commented on #6056
@matthidinger I have face same issue while update documentation URL in Nuspec file. I can’t able to use markdown file gitlab or public URL in Nuspec file.
Can we use only https://raw.githubusercontent.com site(GitHub URL) for set markdown file as documentation URL ? else can we use public  or GitLabURL?

Please suggest steps to use gitlab or public URL make documentation URL.

[2017-12-14 07:28] sanderaernouts commented on #6306
If that is the case then why does NuGet emit a package downgrade warning? If NewtonSoft.Json 9.01 is the lowest possible version that satisfies all constraints in the dependency tree and this version is resolved this way by NuGet. Then 8.01 -> 9.01 is not a downgrade for project B.

Adding ```<NoWarn>NU1605</NoWarn>``` makes the error go away but this is not a solution for the problem if it means

[2017-12-14 07:36] jainaashish commented on #4778
Opened corresponding bug for Project system team who handle NuGet.BuildTasks - internal bug# 539617

[2017-12-14 07:36] #4778 closed, assigned to nobody

[2017-12-14 09:13] emgarten commented on #6306
The warning is for NuGet.Packaging which may depend on APIs in 9.0.1, but it is instead going to use 8.0.1 at runtime.

[2017-12-14 09:22] sanderaernouts commented on #6306
Project B is asking for >=8.0.1 and NuGet.Packaging is asking for >=9.0.1 so 9.01 is the possible lowest version that satisfies both >=8.0.1 and >=9.0.1. Why will 8.0.1 be used at runtime then? If B was asking for [8.0.1] then I would expect an error, not a warning.

If NuGet picks 8.0.1 over 9.0.1 it makes sense that this is treated as an error. If NuGet.Packaging was compatible with 8.0.1 it wou

[2017-12-14 10:25] FrenchMigVaz commented on #2987
@emgarten haaa you are right. Good to know my scenario is tracked, it is a major pain.

[2017-12-14 15:57] davethieben commented on #6309
we are distributing our app via an internal NuGet server, and need to publish all dependent packages to the server as well. if there is a better way to do that, lmk.

re: workaround; how to disable the fallback folder?

thanks.

[2017-12-14 18:57] chris-cartwright commented on #6281
We're getting this same issue. Running `nuget restore name.sln` produces a warning for each website:
`WARNING: Project file D:\path\to\solution\directory\http://localhost/folder/site cannot be found.`

Edit: A new solution and project work properly. Looks like it has something to do with having a URL as the project name. Changing the solution file directly solved it for us.

[2017-12-14 19:47] #6061 closed, assigned to emgarten

[2017-12-14 19:47] #6310 closed, assigned to emgarten

[2017-12-14 19:47] #6311 closed, assigned to nobody

[2017-12-14 19:47] #6312 closed, assigned to emgarten

[2017-12-14 19:55] #2499 closed, assigned to nobody

[2017-12-14 19:55] #2500 closed, assigned to nobody

[2017-12-14 20:45] emgarten commented on #6309
`DisableImplicitNuGetFallbackFolder=true` in your project or pass `/p:DisableImplicitNuGetFallbackFolder=true` when restoring

[2017-12-14 21:43] Wil73 commented on #5553
That's a great idea David.  Why don't you send a pull request to implement the changes you are asking for?  I look forward to using them.  Thank you!

[2017-12-14 22:12] #6264 closed, assigned to nobody

[2017-12-14 23:48] emgarten opened #6316 "Ensure NuGetv3LocalRepository is updated after package installs"
When another process installs a package it will be detected that the install was a noop. This currently leads to restore skipping the refresh for the in memory cache NuGetv3LocalRepository.

To fix this restore should double check that the package exists in the cache, and refresh it if needed.

This is a regression from 15.5 (that was found when we attempted to binary insert NuGet into dotnet CLI

[2017-12-15 00:31] #6316 closed, assigned to emgarten

[2017-12-15 00:36] emgarten commented on #6306
@sanderaernouts you can find out more on how the resolver works here: https://docs.microsoft.com/en-us/nuget/consume-packages/dependency-resolution

[2017-12-15 00:36] #6306 closed, assigned to nobody

[2017-12-15 00:37] #6309 closed, assigned to nobody

[2017-12-15 01:34] v-luzh commented on #6304
@dtivel , you are right. The bug still repro on NuGet Client Dev 4721.

[2017-12-15 02:12] MuhammadTausif commented on #3352
Facing the same issue, 👎

[2017-12-15 02:15] clairernovotny opened #6317 "Pack Task includes private package reference incorrectly"
In my utility package, I'm trying to update the `MSBuild.Sdk.Extras` `PackageReference` to add the `PrivateAssets="all"` metadata in my targets file so that the user doesn't have to remember this.

This is an attempt at a workaround until NuGet properly excludes `developerDependency` packages by default.

My workaround works for single target packages (`TargetFramework`), but fails for multitarget

[2017-12-15 02:17] MuhammadTausif commented on #3352
I was facing the same issue,
I restart the VS, to get out of this issue.

[2017-12-15 02:28] clairernovotny commented on #6317
It appears the Restore isn't correctly populating the project.assets.json file with the correct metadata

Here's with/without the `PrivateAssets="All"` in the project file itself. In the second case, it *is* in targets that get included via a nuget package.

[project.assets.json.txt](https://github.com/NuGet/Home/files/1561387/project.assets.json.txt)
[project.assets.orig.json.txt](https://github.

[2017-12-15 02:37] clairernovotny commented on #4790
@rohit21agrawal this may be related on a similar fix. The issue is that the pack targets are reading PackageReference info from the lock file instead of as msbuild items:
https://github.com/NuGet/Home/issues/6317

[2017-12-15 02:37] clairernovotny commented on #6285
Please include this too: https://github.com/NuGet/Home/issues/6317

[2017-12-15 02:43] clairernovotny commented on #6317
Note that this can help library authors workaround https://github.com/NuGet/Home/issues/4125 by including a targets file that updates the `PackageReference` item to add `PrivateAssets="all"` to it.

[2017-12-15 03:06] v-nancyj opened #6318 "Installing a signed package with untrusted signing certificate should show error"
## Details about Problem
NuGet version : Dev-4721

VS version : D15.6 27213.01

OS version : RS3_Release 16299.15.170928-1534

## Detailed repro steps
1. Create a new test certificate:  .\CreateTestCertificate.ps1 –AddAsTrustedRootAuthority.
2. Sign a package:  NuGet.exe sign <PackageFilePath> -CertificatePath <PfxFilePath>.
3. Launch Microsoft Management Console (mmc.exe).
4. In Microsoft Managem

[2017-12-15 04:00] emgarten commented on #6317
project.assets.json looks correct to me
[code]

SuppressParent = PrivateAssets

I am not clear on what the issue is here, this package is suppose to be changing other PackageReferences and they aren't showing up correctly?

[2017-12-15 04:06] emgarten commented on #6318
@mishra14 will you dupe this out or take a look at fixing it?

[2017-12-15 04:08] emgarten commented on #6281
@chris-cartwright what version of NuGet/VS are you using?

[2017-12-15 06:13] cmreddyv opened #6319 "unable to list or publish the packages using NPE with Nuget Server version 3.0.1.0"
unable to publish/list the packages in Nuget Package Explorer for the latest version of New Nuget server version 3.0.1.0

FY!, this a plain nuget server using to host the packages, created using the approach creating a empty asp.net web application and then installed the nuget server in that solution using manage nuget package sources and then host the applciation on IIS.

We are able to list the

[2017-12-15 06:28] v-nancyj opened #6320 "[Test Failure] Building errors occur after installing package ‘Newtonsoft.Json’ on C# UWP project"
## Details about Problem
NuGet version : Dev-4728

VS version : D15.6 27214.00

OS version : Windows 10 RS3_Release 16299.15.170928-1534

## Notes:
The issue repro on D15.6 27214.00(Default NuGet Client Dev-4706)

## Detailed repro steps
1. Create a C# Blank App (Windows Universal) project.
2. Select the target and minimum platform versions as below screenshot.

![1214](https://user-images.githubu

[2017-12-15 07:11] pi3k14 commented on #5763
I can confirm the problem, when using Nuget Package Manager Console in VS 2017 15.4.4 the -Source option or full path to nuget package wasn't respected. Instead NuGet searched all my registered repos.
Upgrading to VS 2017 15.5.1, NuGet 4.5.0 fixed the problem.
My project was a net standard library.

[2017-12-15 07:32] emgarten commented on #6319
@joelverhagen any ideas why this would have changed on NuGet.Server?

NPE is using very old 2.x NuGet libraries.

[2017-12-15 07:33] emgarten commented on #6320
@v-nancyj is project.lock.json or obj\project.assets.json generated? Does closing and reopening the solution fix it?

[2017-12-15 07:46] v-nancyj commented on #6320
@emgarten There is a obj\project.assets.json file generated, it is fixed after closing and reopening the solution, but when you rebuild the solution, the issue still repro.

[2017-12-15 08:02] clairernovotny commented on #6317
I ran the restore twice, that's the correct one. The other one matches the binlog.

The issue is that a package has a targets file that updates the PackageRef Metadata to set privateassets=all. That is reflected in the build phase, but not in the generated package since the pack task creates the dependency list based off of the assets file instead of the current msbuild item state.

[2017-12-15 09:03] emgarten commented on #6317
This is by design so that the packed nupkg matches the same behavior as the project.

[2017-12-15 09:06] emgarten commented on #6320
Does obj\project.assets.json contain the expected packages? If so this seems like a UWP build issue.

[2017-12-15 09:15] v-nancyj commented on #6320
@emgarten Yes, obj\project.assets.json contain the expected packages 'Newtonsot.json'.

[2017-12-15 11:34] clairernovotny commented on #6317
My point is that with msbuild, the project itself can be dynamic. The attributes of package reference can change after restore.

[2017-12-15 11:38] davidfowl commented on #6317
@onovotny I'm pretty sure that isn't supported. Wouldn't that be the same as allowing package references to be added as a result of restore?

[2017-12-15 11:48] doorman02 commented on #6307
Hi @emgarten could you explain further, should I install the Nuget.Client in Visual Studio and run the command from there? Is there a c# code example I can use to get me up and running quickly? Thanks!

[2017-12-15 12:01] clairernovotny commented on #6317
@davidfowl It's similar, but slightly different. Adding another package means you'd need another restore-pass to download it and process the generated props/targets.

This is about updating an existing PackageRef's metadata that controls whether it should be added as dependency or not.

Honestly, the only real reason I can think of where this is useful is as a workaround to https://github.com/NuGe

[2017-12-15 12:02] clairernovotny commented on #6317
Note that if/when a `NuGetSdkResolver` comes around, NuGet *will* need another pass. It's perfectly reasonable to assume that SDK's include `PackageReferences` and other props/targets that might affect the lock file state.

[2017-12-15 12:10] clairernovotny opened #6321 "Make it easier to create tool packages that need publish"
If you're writing a tool package that has a .NET Core App tool, the build output's aren't what goes in to the `tools\netcoreapp2.0` directory. The output of the publish step is needed instead.

Please make it easier for people to "do the right thing" and have pack call `publish` on each TFM that needs it and include the correct output files in the package.

/cc @rohit21agrawal @natemcmaster

[2017-12-15 13:19] stijnherreman commented on #3999
@jainaashish What is there to investigate here? It's really simple. Currently the quickest way to navigate from Visual Studio to a package on NuGet, is to click the *Report Abuse* link (e.g. https://www.nuget.org/packages/Microsoft.Net.Compilers/2.6.1/ReportAbuse) and then remove a part of the URL in your browser (e.g. 2.6.1/ReportAbuse).
What is asked here is to add an additional link, *Package U

[2017-12-15 14:20] chris-cartwright commented on #6281
Visual Studio is version 15.5.1. NuGet on the command line is 4.3.0.4406.

We don't know when it actually broke. The packages don't get restored or updated very often in that particular solution.

What we had to change:
`Project("{E24C65DC-7377-472B-9ABA-BC803B73C61A}") = "Project.Name", "http://localhost/Project/Name", "{2BF15845-628E-47EF-92AE-837FF5BCA24C}"`
to:
`Project("{E24C65DC-7377-472B-9A

[2017-12-15 16:16] joelverhagen commented on #6319
Moving to [NuGetGallery repository](https://github.com/NuGet/NuGetGallery/issues), as this is a server-side issue.

[2017-12-15 16:17] #6319 closed, assigned to nobody

[2017-12-15 16:17] joelverhagen commented on #6319
Issue moved to [NuGet/NuGetGallery #5193](https://github.com/NuGet/NuGetGallery/issues/5193) via [**ZenHub**](https://www.zenhub.com/)

[2017-12-15 19:03] emgarten commented on #6281
NuGet 4.5.0 is the equivalent for VS 15.5, try using that and let me know if it fixes the issue.
https://dist.nuget.org/win-x86-commandline/v4.5.0/nuget.exe

4.3.0 at this point is old, and I think there were bugs fixed since then for web sites.

[2017-12-15 19:28] rohit21agrawal commented on #6321
@wli3 is working on a similar scenario... any thoughts William?

[2017-12-15 19:28] rohit21agrawal commented on #6315
sounds like the CI machines will move to 15.5 before the end of next week

[2017-12-15 20:00] emgarten commented on #6317
I understand the need for participating at a lower level like this, but I think it is a special case when the package is trying to modify how nuget itself works for the project instead of just being consumed by the project.

An SDK resolver would fix this, but in that case the user is intentionally referencing a package to modify the inputs to restore. With a normal package reference there is no w

[2017-12-15 20:05] jainaashish commented on #3999
@stijnherreman Currently NuGet client does not add any metadata to any package on it's own, it just shows whatever it receives from server and a server can be anything here be it NuGet.org or some private myget feed or vsts feed or even file share. And also, there isn't any special handling of NuGet.org feed in client.
So that's why we need further investigation here to decide if we need to change

[2017-12-15 20:08] clairernovotny commented on #6317
Understood.... I think the real thing is to fix https://github.com/NuGet/Home/issues/4125 then as that's "how nuget works," and I was trying to change that to fix that package-side instead of NuGet-side.

[2017-12-15 20:39] emgarten commented on #6317
@nkolev92 for #4125, the pack scenario is a bit different.

We plan to trim dev dependencies when restoring higher level projects that do not need them. For pack we would need to mark these somehow (basically changing the inputs after getting the output) so that pack also knows that for the consumer of the package they should be ignored.

[2017-12-15 20:42] natemcmaster commented on #6321
@onovotny when you say “tool package” are you talking about a DotNetCliToolRef or a “global” cli tool? Or something different?  I’m assuming you’re asking about the global cli tool scenario.

[2017-12-15 20:54] clairernovotny commented on #6317
I'm not sure I'm following. I don't understand why a development dependency should be marked as the nuget at all?

Or if that's the intended use of `developmentDepenency`, then we need another way, as a package, to say "we're a build time only tool, don't add me as a dependency".

[2017-12-15 20:56] clairernovotny commented on #6321
I'm talking about any package that needs an exe that could be called from a targets file. Or an MSBuild task, which also needs to be published to have all of its references in the right directory.

A "global" CLI tool fits this criteria too.

[2017-12-15 20:57] clairernovotny commented on #6321
Look how nasty it is to get an MSBuild task included in a NuGet package today:

https://github.com/paulcbetts/refit/blob/58a333f694b24eaf282f6d06c415f1b64718dbaf/Refit/Refit.csproj#L28-L50

[2017-12-15 21:42] dhmorrison commented on #1215
In my case I think it is an issue with the type of project I am working on.  I can reproduce the can't find 'Default' symptom if I try installing packages when I have a good old "LightSwitch" solution opened in VS 2015.  If I then open a .net Core solution in VS 2015, the "symptom" mysteriously vanishes, and I suppose the 'Default' is found....and Package Manager Console chugs along and installs p

[2017-12-15 21:44] natemcmaster commented on #6321
+1 for how nasty it is, but I think this is basically the same conversation we've had on https://github.com/NuGet/Home/issues/5063.

I gave up fighting MSBuild and now I almost always write the nuspec file explicitly, setting `<NuspecProperties>` to flow variables from MSBuild to the nuspec. It's a little extra glue code, but far more sane than remembering to extend targets with API like "TargetsF

[2017-12-15 22:22] emgarten opened #6322 "AssetTargetFallback support for GetReferenceNearestTargetFrameworkTask"
GetReferenceNearestTargetFrameworkTask should allow additional fallback frameworks to be passed. This would enable scenarios such as `net47 + UAP` to work.

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Build.Tasks/GetReferenceNearestTargetFrameworkTask.cs

[2017-12-15 22:24] emgarten commented on #6307
Try these instructions for cloning nuget.client: https://github.com/nuget/home/

Then open in VS 2017 and run the NuGet.Commandline project using your own parameters.

[2017-12-15 22:25] emgarten commented on #6320
@diverdan92 have you seen any UWP failures like this?

[2017-12-15 22:26] clairernovotny commented on #6321
@natemcmaster do you think having the nuspec file is easier than simply using None include's like this"

https://github.com/paulcbetts/refit/blob/58a333f694b24eaf282f6d06c415f1b64718dbaf/Refit/Refit.csproj#L28-L33

[2017-12-15 22:37] natemcmaster commented on #6321
I may be a matter of taste, but yes, I prefer nuspec to MSBuild. It may also be a matter of how many times I've been burned by the pack tasks generating a package layout I didn't expect.

[2017-12-16 05:58] #6272 closed, assigned to mishra14

[2017-12-16 09:40] rohit21agrawal opened #6323 "e2e test CreateVsPathContextWithConfiguration broken because of adding NuGetVersion.Equals check"
The following test regressed in behavior after the PR NuGet/NuGet.Client PR https://github.com/NuGet/NuGet.Client/pull/1864

CreateVsPathContextWithConfiguration

[2017-12-16 13:40] ngruson opened #6324 "Operation failed as details for project could not be loaded when adding packages to .NET Core application"
I can't seem to add NuGet packages to a newly created ASP.NET Core Web application.
Reinstalled Visual Studio just now, no difference.
The error I get is: Operation failed as details for project WebApplication2 could not be loaded.
I don't have Resharper installed.
How do I analyze and solve this?

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.e

[2017-12-16 16:53] #6294 closed, assigned to nobody

[2017-12-16 20:28] emgarten commented on #6324
Does the project restore and build successfully after creating it before adding the new package?

[2017-12-16 20:32] ngruson commented on #6324
Yes, after I perform 'dotnet restore', the solution builds succesfully. The yellow icons remain though. But no NuGet packages can be added, always the mentioned error message.

[2017-12-16 20:36] emgarten commented on #6324
Running this from the command line is a different scenario from restoring in VS and seeing errors.

If you only do a file > new project and wait (no command line operations) does it work? And does it work after closing and reopening the solution?

[2017-12-16 20:44] ngruson commented on #6324
When I build directly after I created the project, the build output is:

Error occurred while restoring NuGet packages: The operation failed as details for project WebApplication3 could not be loaded.
1>------ Build started: Project: WebApplication3, Configuration: Debug Any CPU ------
1>C:\Program Files\dotnet\sdk\2.1.2\Sdks\Microsoft.NET.Sdk\build\Microsoft.PackageDependencyResolution.targets(32

[2017-12-16 20:48] emgarten commented on #6324
You can restore from VS by right clicking on the solution and selecting Restore. It also happens automatically before build.

Check your ActivityLog.xml file for errors around NuGet. You may need to run devenv with the activitylog option from the developer command prompt to get this.

[2017-12-16 20:57] ngruson commented on #6324
I checked the activity log and there’s this entry:

<entry>
    <record>727</record>
    <time>2017/12/16 20:51:22.288</time>
    <type>Error</type>
    <source>NuGet Package Manager</source>
    <description>System.InvalidOperationException: The operation failed as details for project WebApplication3 could not be loaded.&#x000D;&#x000A;   at NuGet.PackageManagement.VisualStudio.NetCorePackageRefe

[2017-12-16 21:06] emgarten commented on #6324
Thanks, that is helpful!

[2017-12-16 21:55] KirillOsenkov commented on #5815
Hello, I'm still seeing this (or very similar) problem in VS 15.5.2.

Here's a .binlog file:
https://www.dropbox.com/s/c8ubkbyuslbpobs/NugetPackageExplorer.binlog?dl=0

@rohit21agrawal would you be able to take a look at the binlog and see why the project fails to build/restore? The error I'm getting:

[code]

[2017-12-16 23:12] emgarten opened #6325 "Push to local folder leaves nupkg locked"
Pushing a package to a local folder leaves the nupkg locked due to an undisposed PackageArchiveReader.

[2017-12-17 01:53] #6323 closed, assigned to emgarten

[2017-12-17 08:08] shravan2x commented on #6324
Encountering the same issue. Like @ngruson, it's only been happening the last day or so.

I'm still able to compile fine with existing packages though.

[2017-12-17 20:15] StingyJack commented on #6281
"4.3.0 at this point is old"

Didn't 4.0 come out in like March of this year?

[2017-12-18 01:20] joshpearce commented on #5260
I realize this issue is closed, but for those of us in a regulated environment, is there a stop-gap workflow for nuget restore with or without local cache, to at least verify a checksum for all packages, to assert they have not changed from the time they were introduced into the project? Just a blog post of someone who's using existing tools would be great.

[2017-12-18 01:45] clairernovotny commented on #5260
@joshpearce Based on the current spec and code in the NuGet client repo, it verifies the integrity of the package at package extraction time. If you want to re-verify, then you can clear the local nuget cache and it'll re-download/extract them, triggering the verification.

Would that work? As far as not changed since introduction, packages are immutable, so 1.0.4 is always 1.0.4, at least from Nu

[2017-12-18 03:27] StingyJack opened #6326 "Is there a way to direct content files to an alternate root location (or alternate individual locations) within a project on installation?"
I'd like to have some of the commonly used nuget packages like bootstrap, jquery, etc copy files to a specific subfolder within the project instead of the root of the project at `/Scripts` or `/Content`.

Another example of redirection would be by asset type: like "all package fonts go to `/fonts/packageName`" instead of some going to `/fonts` and some to `/content/fonts`, likewise for `/images` t

[2017-12-18 03:44] StingyJack opened #6327 "Package upgrade leaves a project in a broken state if the Content files build action was changed to EmbeddedResource"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI

NuGet version (x.x.x.xxx): 4.X

dotnet.exe --version (if appropriate):nope

VS version (if appropriate): 15.5.2

OS version (i.e. win10 v1607 (14393.321)): WIn 10.0.15063

Worked before? If so, with which NuGet version: dunno

## Detailed repro steps so we can see the same problem

1. Cr

[2017-12-18 10:06] DamienDoumer commented on #962
I had this issue, but When I cleared My Nuget Packages Cache, it resolved this issue. On Visualstudio, Go to Tools -> Options -> Nuget -> and clear your cache.

[2017-12-18 10:13] joshpearce commented on #5260
@onovotny, Thank you. Actually I was talking about, _in the mean time_, before the package Signing feature is rolled out. Currently, we're checking our nuget packages into source control, but with .net core, the number of packages is much larger, so I'm looking for a verification solution to use right now. That's way I was asking if some one had introduced a work-a-round to verify that packages ha

[2017-12-18 10:31] emexelem commented on #3324
I made it work for now by shortening the path of jenkins workspace, but that's just a hack to reduce the probability of the issue

Pipeline function used to set the workspace
[code]

gives this result at runtime
[code]

[2017-12-18 14:49] dgolubovic commented on #4710
This update helped me to move forward:
https://www.microsoft.com/en-us/download/details.aspx?id=50395

[2017-12-18 15:39] doorman02 commented on #6307
Hi @emgarten thanks for your quick reply. I cloned the project but when I build I get

`Error CS0234	The type or namespace name 'ProjectSystem' does not exist in the namespace 'Microsoft.VisualStudio' (are you missing an assembly reference?) `

I am using Visual Studio 2017.

[2017-12-18 16:48] joshpearce commented on #5260
@onovotny, It seems that package verification will assert, "this package, which I am about to restore, is signed by a certificate chain in your trusted root."  Is that accurate?

Getting back to what's available today, I'm actually more interested in the current state of package hashing:

I see that when I publish a project, the [app].deps.json has an sha512 for each package. Also, project.assets.

[2017-12-18 17:12] clairernovotny commented on #5260
Yes, that's correct. Plus that it's not modified. Though to be precise, "this package, which I am about to extract... "

I'm not sure, one of the other team members may know - @rohit21agrawal @Emgarten?

[2017-12-18 17:15] rohit21agrawal commented on #5260
Cc: @dtivel @mishra14 for signing related questions

[2017-12-18 17:17] anangaur commented on #5260
/cc: @rido-min

@joshpearce  I have seen Package hash to be generated at the time of adding the package to the repository/source. For example use “NuGet add” command.
And as far as I know the hash is currently not used before restore.

[2017-12-18 17:22] joshpearce commented on #5260
@anangaur, I work in medical software. We have to verify that our dependent assemblies are the same, at install time, as they were when the project was built for testing. It seems these hashes could help if there were a story/tools/documentation around their use.

With Nuget, I assume it's possible to declare a single, file-system-based, offline location to restore packages from? That would probab

[2017-12-18 17:30] anangaur commented on #5260
@joshpearce Yes that’s very much possible. Whether these packages are your company packages or public packages, you can put all these packages into a folder and then use this folder as a package source in Visual Studio or for command line builds. Let me get more helpful links for you in sometime.

[2017-12-18 17:33] anangaur commented on #5260
Use [this documentation](https://docs.microsoft.com/en-us/nuget/tools/package-manager-ui#package-sources) to add another folder based source to Visual Studio. Alternatively you can just modify NuGet.config to add the same source.
Details on adding local feed/source: https://docs.microsoft.com/en-us/nuget/hosting-packages/local-feeds

[2017-12-18 18:17] ghost opened #6328 "Access denied for restore/update packages"
I am using Windows 10 with Visual Studio 2017 Community. I am creating Xamarin project and right after that I am updating NuGet packages, but I see this error - `Access to the path c:users/username/.nuget/packages/* is denied`. The Nuget creates read-only folders with no access for all Windows users to them and after that it has no access to these folders. I am using Visual Studio as admin. If res

[2017-12-18 18:56] jefhai commented on #962
I had this same issue. I was also prevented from clearing the cache so I deleted the .nuget folder.

[2017-12-18 19:15] skofman1 opened #6329 "Add a re-list command (opposite of delete)"
@karann-msft  commented in a discussion here: https://github.com/NuGet/NuGetGallery/issues/5191
here's what happens when you try running the publish command

[code]

Not a documentation issue.

Moreover, no such command shows up in `nuget help`

[2017-12-18 19:18] #6325 closed, assigned to emgarten

[2017-12-18 19:20] emgarten commented on #6307
@doorman02 try running build.ps1 first

[2017-12-18 19:25] jainaashish commented on #6324
@ngruson so you also see something like "The nominate API is called for...." in the activityLog.xml?

[2017-12-18 19:32] emgarten commented on #6329
dotnet.exe has a publish command that copies all binaries to an output folder. That command is not related to nuget so we should avoid re-using the same command name in a different way.

[2017-12-18 19:37] emgarten commented on #6328
@vladi160 NuGet doesn't specifically set permissions on these files, it uses the defaults.

I suggest changing the permissions on your `.nuget` folder manually to ensure that you can also access these files from a non-admin process.

[2017-12-18 19:56] emgarten commented on #6327
As a rule NuGet avoids modifying content that was changed by the user. Removing these entries would break that and likely cause problems for other users if they are doing this.

When removing these files NuGet verifies that the contents of the file are the same as the original packages before deleting them.

Potentially NuGet could check if other items in the project are referencing these files to

[2017-12-18 19:59] emgarten commented on #6326
Setting a location outside of the project root for packages.config content installs isn't possible currently.

This feature has also been requested for ContentFiles with PackageReference projects.

For packages.config this would need a way to track where the base path for the package was, set in either packages.config or the project file so that an uninstall or upgrade could determine where the fi

[2017-12-18 20:03] monkey-dsc opened #6330 "VS 2017 doesn't execute install.ps1 from packages if used as PackageReference"
Hi,

maybe a duplicate Topic, I don't know... But none of the topics here solved my Issue.

I need to install a Nuget-Package, Glass.Mapper.Sc -Version 4.4.0.199, the Package has a Dependency to Glass.Mapper.Sc.Core -Version 4.4.0.199 which evaluates with install.ps1 which Sitecore Version is present in the project for backward compatibility. If a Sitecore.Kernel package is present, e.g. Sitecore.

[2017-12-18 20:06] mishra14 commented on #6328
@vladi160 Please let us know if you are still blocked.

[2017-12-18 20:16] joelmartinez opened #6331 "restore fails with "Nothing to do. This project does not specify any packages for NuGet to restore.""
## Details about Problem

I'm trying to get the absolute simplest example of a `.proj` file that restores some nuget packages going. Ideally, this would let me use `PackageReference` instead of having a separate `packages.config` file. But it doesn't seem to be working ... not sure if I'm missing something in the .proj file or what (_edit: seems like the verbose logs below might offer a clue_).

T

[2017-12-18 21:02] mishra14 commented on #6330
@monkey-dsc The help page for Glass.Mapper.Sc is http://www.glass.lu/Mapper/Sc/HowTo/1-Install

It seems that you also need to add a reference to `System.Web.Mvs.dll`. Can you please try adding reference to that before installing `Glass.Mapper.Sc`?

If you are still facing the same issue, please let us know.

[2017-12-18 21:09] mishra14 commented on #6331
@joelmartinez You need to create a project that imports the targets needed to by nuget restore.

Have you tried [dotnet cli](https://www.microsoft.com/net/download/windows)? dotnet cli has a [command ](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-new?tabs=netcore2x)that lets you create cross-platform projects.

For instance -

`dotnet new console`
`dotnet add package mdoc --version 5.

[2017-12-18 21:35] mishra14 opened #6332 "Cannot find 'vswhere' via https://api.nuget.org/v3/index.json/FindPackagesById()?id='vswhere'"
_From @NickDarvey on December 18, 2017 4:43_

# Repro
1. Install NuGet package provider
1. Verify package provider is available
1. Find package by ID `vswhere`

# Expected
Finds package [vswhere](https://www.nuget.org/packages/vswhere).

# Actual

'https://api.nuget.org/v3/index.json/FindPackagesById()?id='vswhere'&$skip=0&$top=40'.

[code]

_Copied from original issue: NuGet/NuGetGallery#5197_

[2017-12-18 21:35] mishra14 commented on #6332
@NickDarvey Are you facing the same error consistently?

I am not seeing that error. It may have been an intermittent connectivity issue on nuget gallery.

[2017-12-18 21:38] mishra14 commented on #6332
It seems that the url showing up is incorrect for V3 protocol. We need to investigate this more to understand if the `Find-Package` command needs updating.

[2017-12-18 22:03] joelmartinez commented on #6331
@mishra14 thanks for the information. I _have_ tried `dotnet cli`, but it doesn't really match my intended use case. I'm not *necessarily* trying to compile some code (yes, that's often a sub-component of what I'm automating, but not the primary case). Your example above makes the following `.csproj`

[code]

In my case, as I mentioned, I'm not (necessarily) trying to output an executable or libra

[2017-12-18 22:41] karann-msft commented on #6329
since "list" and "publish" are taken. I am thinking using nuget delete with an option to relist
`nuget delete -relist` or create a new top level command called `nuget relist`
@anangaur thoughts?

[2017-12-18 22:47] karann-msft opened #6333 "nuget CLI should print the URL to the package page"
After a package is pushed, it undergoes several async validations. The package details page is the only place where the owner can check the latest status of these validations and if package publishing succeeded. This page becomes more important as we add more validations.
Hence, after a package has been pushed using the CLI (nuget.exe or dotnet), it should also print the URL to the package details

[2017-12-18 22:50] karann-msft commented on #5725
@nkolev92 I don't think there would ever be a reason for GT packages to show up in PM UI, correct? Since they are not meant to be installed to project?

[2017-12-18 22:54] anangaur commented on #6329
`nuget delete -relist` seems to be non-intuitive. What about `nuget enlist`?

[2017-12-18 22:54] nkolev92 commented on #5725
@karann-msft Yeah, that's what I meant.
I've updated the comment to say "Name still a subject to change" cause I assume that was the confusing part?

[2017-12-18 22:55] karann-msft commented on #5299
@jainaashish yes https://github.com/NuGet/Home/wiki/Package-applicability-in-NuGet-package-manager-UI#a-more-concise-package-details-pane
Its the last image in the spec. You might have to zoom in up to 200%

![image](https://user-images.githubusercontent.com/16904420/34132277-f9febe9a-e403-11e7-9e62-3fe013d0d16f.png)

[2017-12-18 23:01] anangaur commented on #6333
I recommend addition of the following note:
[code]

[2017-12-18 23:02] mishra14 commented on #6331
`Microsoft.Common.props` contain restore targets that you want. Will that work?

[2017-12-18 23:04] karann-msft commented on #5725
@nkolev92 I will update this spec to call out that Tools packages will never be shown in the PM UI, but this should be tracked as part of the GT spec since GT packages are never applicable or compatible with any project and we should safeguard against it.

[2017-12-18 23:11] karann-msft commented on #4331
Issue moved to [NuGet/docs.microsoft.com-nuget #622](https://github.com/NuGet/docs.microsoft.com-nuget/issues/622) via [**ZenHub**](https://www.zenhub.com/)

[2017-12-18 23:11] #4331 closed, assigned to karann-msft

[2017-12-18 23:15] #5635 closed, assigned to anangaur, karann-msft

[2017-12-18 23:15] karann-msft commented on #5635
Issue moved to [NuGet/docs.microsoft.com-nuget #623](https://github.com/NuGet/docs.microsoft.com-nuget/issues/623) via [**ZenHub**](https://www.zenhub.com/)

[2017-12-18 23:15] #4551 closed, assigned to karann-msft

[2017-12-18 23:15] karann-msft commented on #4551
Issue moved to [NuGet/docs.microsoft.com-nuget #624](https://github.com/NuGet/docs.microsoft.com-nuget/issues/624) via [**ZenHub**](https://www.zenhub.com/)

[2017-12-18 23:21] karann-msft commented on #4099
Added documentation around that - https://docs.microsoft.com/en-us/nuget/reference/package-versioning#version-ranges-and-wildcards

[2017-12-18 23:21] #4099 closed, assigned to karann-msft

[2017-12-18 23:36] jainaashish commented on #3999
Update: this is now being tracked and worked upon as part of https://github.com/NuGet/Home/issues/5299

[2017-12-19 00:35] emgarten commented on #6333
Will the protocol be changed to return this information? Or is it expected that the client will hardcode this for nuget.org?

[2017-12-19 00:41] #6241 closed, assigned to emgarten

[2017-12-19 00:46] emgarten commented on #6224
I see some improvements that could be made here on the NuGet side, but the primary reason for this restore taking so long is the number of graphs required.

`400 projects x 2 frameworks x 7 RIDs = 5600 restore target graphs`

Many of these graphs would be very similar between projects, that could be re-used.

I suggest reducing the number of projects, frameworks, or RIDs if possible to help work a

[2017-12-19 00:50] anangaur commented on #6333
@emgarten not sure. But doesn't client print the messages from the service? Or is it only for errors?

[2017-12-19 00:51] emgarten commented on #6333
I'm not sure. There is a generic way to print warnings, but those are always warnings.

[2017-12-19 00:59] anangaur commented on #6333
Worth an investigation. I feel the response should be **202** as per the REST response codes guidelines which states the following:

**202 Accepted**
The request has been accepted for processing, but the processing has not been completed. The request might or might not eventually be acted upon, as it might be disallowed when processing actually takes place. There is no facility for re-sending a st

[2017-12-19 01:57] mishra14 commented on #6333
I think getting that information from the server seems like the right thing to do here.

cc @joelverhagen for server side input.

[2017-12-19 03:55] emgarten commented on #6333
It looks like `202` may work for nuget.exe 2.8.6.
https://github.com/NuGet/NuGet2/blob/c3d1027a51b31fd0c41e9abbe90810cf1c924c9f/src/Core/Server/PackageServer.cs#L243-L248

However this could impact other services that push packages to nuget.org such as myget and appeveyor which we should consider.

The safest fix would be to make a new endpoint, or to pass a parameter when pushing.

//cc @xavierde

[2017-12-19 04:48] anangaur commented on #6333
Isn’t 202 also a success and unless the clients are looking for only 200 and no other response codes, this should be okay. How do older nuget.exe fare?

[2017-12-19 04:50] anangaur commented on #6333
My bad - I didn’t see you already mentioned 2.8.6 :)

[2017-12-19 06:19] cezarypiatek commented on #4710
@dgolubovic Unfortunately this update is not intendent for Windows 10.

[code]

[2017-12-19 06:21] botio opened #6334 "Nuget Restore "the request timed out" problem"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): Nuget Client

NuGet version (x.x.x.xxx): 2.12.0.0

dotnet.exe --version (if appropriate): none

VS version (if appropriate): none

OS version (i.e. win10 v1607 (14393.321)): ubuntu 16.04 LTS

Worked before? If so, with which NuGet version: no, first time used nuget.

## Detailed repro steps so

[2017-12-19 06:30] emgarten commented on #6334
Try https://dist.nuget.org/win-x86-commandline/v4.5.0/nuget.exe

[2017-12-19 06:50] #5916 closed, assigned to jainaashish

[2017-12-19 07:02] botio commented on #6334
.... how to try "nuget.exe" in ubuntu ....??

[2017-12-19 07:05] jlovs opened #6335 "nuget install packages.config vs nuget install package"
NuGet product used NuGet.exe
NuGet version (4.5.0.4696)
OS version (Windows 10.0.14393)

I am using nuget as a standalone package manager, not using Visual Studio at all.
Each project has a .nuspec and a packages.config file.

Example:
If I have a project P with a packages.config with one dependency towards package A. Package A has a dependency to package B.
My problem is that I don't get package

[2017-12-19 07:45] botio commented on #6334
hi, thank you, and after I used that version ... the new problem is

"The HTTP request to 'GET https://api.nuget.org/v3/index.json' has timed out after 100000ms. "

do you know how to fix it ? thank you so much.

[2017-12-19 08:03] emgarten commented on #6335
`nuget install A` resolves the dependencies and downloads/extracts all resolved packages.

`nuget install packages.config` is the same as `nuget restore packages.config` and does not resolve dependencies.

[2017-12-19 08:04] emgarten commented on #6334
Check your network connection and proxy settings.

[2017-12-19 08:18] jlovs commented on #6335
@emgarten Ok, so there is no way to resolve all dependencies with a CLI command, using the contents of packages.config?

[2017-12-19 08:34] ngruson commented on #6324
@jainaashish No, I don't see that in my log file.

[2017-12-19 09:02] emgarten commented on #6335
No, a packages.config file is the output of resolving all dependencies. There isn't a way to use it as the input to resolve further.

[2017-12-19 09:05] dgolubovic commented on #4710
Hi @cezarypiatek,
Yes, I forgot to mention that I am running V2017 on Win7, but in release notes is instruction for Win10: https://docs.microsoft.com/en-gb/powershell/wmf/5.0/releasenotes

Note: If you are running Windows 10, you can get the same set of functionality available in WMF 5.0 RTM by updating to the November update of Windows 10 (Version 1511). If you have not already updated your Windo

[2017-12-19 09:07] jlovs commented on #6335
@emgarten Ok, so if I want to use NuGet CLI standalone without Visual Studio, how can I then manage this?
I want to have a file with the direct dependencies, which I thought was packages.config file?
Is there a way to generate this file using the CLI with the input of another file that only contains direct dependencies?

Or is it not possible to use the CLI standalone and get a working package man

[2017-12-19 10:10] doorman02 commented on #6307
Hi @emgarten I ran build.ps1 and when I build I get The type or namespace name 'ImageMoniker' could not be found (are you missing a using directive or an assembly reference?)	NuGet.PackageManagement.UI	C:\Users\myuser\Documents\nuget\src\NuGet.Clients\NuGet.PackageManagement.UI\Models\PackageIconMonikers.cs

[2017-12-19 10:11] doorman02 commented on #6307
It's a bit strange that the command line doesn't output more specific error message so I wouldn't need to compile the whole Nuget project :)

[2017-12-19 10:25] botio commented on #6334
sorry, i don't get it. how could I know the proxy has some issues ? and I never change the setting from default in ubuntu 16.04

[2017-12-19 11:13] dillibabun opened #6336 "System.Drawing.Common NuGet is not referring System.Runtime NuGet"
After reading the https://blogs.msdn.microsoft.com/dotnet/2017/11/16/announcing-the-windows-compatibility-pack-for-net-core/ blog, thought of creating a Image using .NETStandard2.0 using System.Drawing.Common where i have used System.Drawing.FontStyle,StringAlignment etc.. enums.

But facing following compilation errors
Error details:
1) error CS0012: The type 'Enum' is defined in an assembly that

[2017-12-19 12:17] monkey-dsc commented on #6330
Hi @mishra14 ,

I have setup a little sample project where you can see this behaviour. A reference to System.Web.Mvc is also present and you can just start adding Glass.Mapper.Sc to the project.

Regards
Dirk
[Company.Foundation.PresentationSettings.Core.zip](https://github.com/NuGet/Home/files/1571606/Company.Foundation.PresentationSettings.Core.zip)

[2017-12-19 13:20] StingyJack commented on #6326
Is there some reason you are treating functionality gaps/requests/handling differently between packages.config and packagereference?

As a user I do not expect significant functionality differences between the two as they are both responsible for remembering what nuget packages are needed for a project.

[2017-12-19 13:24] StingyJack commented on #6327
nuget should still understand that the project can only have one file of the same name in a directory, and that its performing an update not a remove + install.

What kind of target do you mean, something like a gulp job or posh script?

[2017-12-19 14:10] ghost commented on #6328
Hi, `.nuget` folder is with full permissions. This problem is not for all package folders. For the example when I test now is this folder `Error: Access to the path 'C:\Users\username\.nuget\packages\xamarin.android.support.design\25.4.0.2' is denied.`

[2017-12-19 18:36] mishra14 commented on #6332
@jainaashish did some investigation and this problem exists since atleast 15.4. Keeping at P1.

[2017-12-19 18:39] jainaashish commented on #6330
`Format project to the new csproj format as described here (Startover: Class Library)`

`install.ps1` doesn't execute with `PackageReference` format. Blogpost about PackageReference https://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html also talks about this.

There is already a tracking bug https://github.com/NuGet/Home/issues/5963 for this issue. And our preliminary thought

[2017-12-19 18:40] mishra14 commented on #6334
@botio Are you using `nuget.exe` on linux?

If so, can you try running `dotnet restore` using [dotnet cli](https://github.com/dotnet/cli)?

[2017-12-19 18:44] rido-min opened #6337 "VS does not show a NU3002 error when installing a tampered package"
With package signing, package readers will fail to install signed packages that have been modified.

As described in [NuGet-package-signing-Errors-and-Warnings](https://github.com/NuGet/Home/wiki/NuGet-package-signing-Errors-and-Warnings) this failure should generate a message in the error list with the specific NU3002 error code.

Current VS client only shows the generic error message: `Package r

[2017-12-19 18:58] jainaashish commented on #6324
Then it's more likely Project System bug since they haven't nominated this project to NuGet which is why restore failed. @Pilchie @natidea to take a further look.

[2017-12-19 19:00] Pilchie commented on #6324
Make sure to run devenv with the `/log` parameter, otherwise the activity log may not be saved if no error conditions occur.

[2017-12-19 19:10] emgarten commented on #6335
@jlovs are you consuming the packages from projects and building? Or are you *just* trying to get the packages onto disk to use in a different way?

Install/update/uninstall operations for packages.config must be done in VS. NuGet.exe install only supports downloading the package, it cannot update your project.

For full CLI support outside of VS take a look at using `PackageReference`: https://bl

[2017-12-19 19:23] #1439 closed, assigned to nobody

[2017-12-19 19:35] mishra14 commented on #6337
As discussed in email -

We seems to have regressed this since initial work done for package signing. Initially we displayed the following message - `Package integrity check failed. The package has been tampered.`

Assigning to @zhili1208 who did the initial work in this space.

[2017-12-19 19:36] emgarten commented on #6307
Not sure why you would get the ImageMoniker error, but if possible you can ignore it as nuget.commandline does not depend on NuGet.PackageManagement.UI

[2017-12-19 19:48] emgarten commented on #6327
It would be an msbuild script

[code]

Make this appears farther down in the file than the original Content item.

You can make it automatically find all files that start with JQuery

[2017-12-19 19:59] natemcmaster commented on #6298
What exactly is the concern with having multiple packageType's per package? I'm not sure I understand why this restriction is important to NuGet when last year the design was _intentional_ about supporting multiple types per package. https://github.com/NuGet/Home/wiki/Package-Type-%5BPacking%5D

For example, today, this is a totally valid package:

[code]

It is possible for a package author to co

[2017-12-19 20:13] dtivel opened #6338 "Signing: cleanup CRC-32 code"
Clean up https://github.com/NuGet/NuGet.Client/pull/1871.

[2017-12-19 20:14] emgarten commented on #6326
PackageReference has some fundamental differences from packages.config such as transitive dependencies, and resolving the complete dependency graph on each restore instead of having explicit install/uninstall actions. The two are very different, and essentially have different code bases within NuGet.

NuGet is both trying to move PackageReference forward, and make it easy to adopt by reducing the

[2017-12-19 22:09] nkolev92 commented on #1215
Can  anyone reproduce this issue on VS 2017?
I wasn't able to get a repro on it.

At this point we do not plan on releasing an update for VS2015. Please try latest [VS2017](https://www.visualstudio.com/#) and let us know if you need more help from us.

[2017-12-19 22:09] #1215 closed, assigned to zhili1208

[2017-12-19 22:12] nkolev92 commented on #1242
Thanks for reporting this issue.
At this point, we have a lot of fixed in this issue and improved our error messaging.

If you have similar problems, please file a new issue.

Thank you.

[2017-12-19 22:12] #1242 closed, assigned to nobody

[2017-12-19 22:15] nkolev92 commented on #1246
Redundant now.

[2017-12-19 22:15] #1246 closed, assigned to nobody

[2017-12-19 22:20] jainaashish commented on #45
No context here to further understand the ask.

[2017-12-19 22:20] #45 closed

[2017-12-19 22:20] emgarten commented on #2880
Closing as this looks like a local environment problem and not an actionable client issue.

[2017-12-19 22:22] emgarten commented on #2878
Batching has been explored and added where possible.

[2017-12-19 22:22] #2878 closed, assigned to nobody

[2017-12-19 22:23] nkolev92 commented on #1256
Thanks for filing this issue.

Since it's been a while since this issue has been filed, a lot of details have changed.

NuGet restore now has a no-op implementation, which means Solution Restore Command and on build restore no-ops and does not update the floating version.

On rebuild the restore reevaluates floating versions.
In addition http caching has been implemented, which also affects the re

[2017-12-19 22:23] #1256 closed, assigned to nobody

[2017-12-19 22:24] emgarten commented on #2875
The only official way to update packages for packages.config is to use visual studio. nuget.exe update is limited in what it can change without the vs project system.

For improved command line support use PackageReference instead of packages.config.

[2017-12-19 22:24] #2875 closed, assigned to nobody

[2017-12-19 22:26] iskiselev commented on #5954
Provided sample solution will not work for ASP.NET Core projects - they do not have TransformWebConfigCore and similar tasks on build, still they may have web.config file to configure IIS module behavior.
Which is worse, they also apply some web.config transforms in _TransformWebConfig target.
So, I believe original issue is not yet fully resolved.

[2017-12-19 22:26] jainaashish commented on #50
We aren't going to do it for packages.config and for PackageReference, it's not individual install.

[2017-12-19 22:26] #50 closed

[2017-12-19 22:29] nkolev92 opened #6339 "NuGet Package Visualizer"
The NuGet Package Visualizer has been removed since VS 2015.

This is a task to track the progress to bring it back and implement it for Package Reference.

[2017-12-19 22:31] nkolev92 commented on #1264
Thanks for this feedback.

At this point in time, we are not planning on servicing the VS 2015 release.

I will close this issue, and open a new one tracking the implementation for package reference based projects as well.

https://github.com/NuGet/Home/issues/6339

Similarly as this issue, that task is up for grabs as well, so we will be happy to help.

[2017-12-19 22:31] #1264 closed, assigned to nobody

[2017-12-19 22:31] jainaashish commented on #164
I couldn't find this test in latest source code. So assuming this test has already been moved.

[2017-12-19 22:31] #164 closed

[2017-12-19 22:32] emgarten commented on #2872
Thanks for the feature suggestion. At this time we have no plans to add this.

[2017-12-19 22:32] #2872 closed, assigned to nobody

[2017-12-19 22:32] nkolev92 commented on #1262
A lot of things have changed/have been improved since this issue have been created.

Closing this for now.

[2017-12-19 22:32] #1262 closed, assigned to nobody

[2017-12-19 22:33] emgarten commented on #2871
Duplicate of https://github.com/NuGet/Home/issues/2301

[2017-12-19 22:33] #2871 closed, assigned to nobody

[2017-12-19 22:37] emgarten commented on #2868
I am unable to repro this issue. Please try with the latest VS 2017 15.5 or higher.

[2017-12-19 22:37] #2868 closed, assigned to nobody

[2017-12-19 22:37] mishra14 commented on #5418
I cannot repro this with the following csproj -

[code]

@vsinghal7 please try latest VS 2017 15.5 and let us know if you are still facing this issue.

[2017-12-19 22:37] #5418 closed, assigned to nobody

[2017-12-19 22:39] emgarten commented on #2866
I am unable to repro this. Please try with VS 2017 15.5 or higher.

[2017-12-19 22:39] #2866 closed, assigned to nobody

[2017-12-19 22:39] mishra14 commented on #5432
Thanks for reporting the issue. At this point we do not plan on releasing an update for VS2015. Please try latest [VS2017](https://www.visualstudio.com/#) and let us know if you need more help from us.

[2017-12-19 22:39] #5432 closed, assigned to nobody

[2017-12-19 22:39] jainaashish commented on #300
Its been an year without any update here and not sure what was the last status since this is very long thread. So @nathanaeljones can you please check you if this still applicable for `PackageReference'? and if it does, then please open a new issue with relevant details so that we can take that forward.

[2017-12-19 22:39] #300 closed

[2017-12-19 22:41] emgarten commented on #2861
NuGet now supports several ways to set the packages folder location.

I haven't seen a lot of feedback around this the options to set the path were added. I'm going to close this issue as wont fix unless there is still a need for this.

[2017-12-19 22:41] #5433 closed, assigned to nobody

[2017-12-19 22:42] emgarten commented on #2859
This is an issue with the package.

[2017-12-19 22:42] #2859 closed, assigned to nobody

[2017-12-19 22:44] emgarten commented on #2858
Please try again with VS 2017 15.5 or higher.

[2017-12-19 22:44] #2858 closed, assigned to nobody

[2017-12-19 22:44] KRLacey commented on #2372
No fix as of NuGet 4.4.1.4656 and I wouldn't hold my breath with [MS dropping support for NuGet content files from ASP.NET 5+](https://github.com/NuGet/Home/issues/750#issuecomment-110512792). :slightly_frowning_face:

[2017-12-19 22:46] emgarten commented on #2856
Take a look at the authoring docs: https://docs.microsoft.com/en-us/nuget/create-packages/creating-a-package

[2017-12-19 22:46] #2856 closed, assigned to nobody

[2017-12-19 22:47] jainaashish commented on #304
This doesn't seem like a required feature now since symbol source allows packages to be published with missing files. So closing it for now.

[2017-12-19 22:47] #304 closed

[2017-12-19 22:49] nkolev92 commented on #1276
Duplicate of https://github.com/NuGet/Home/issues/4103

[2017-12-19 22:49] #1276 closed, assigned to nobody

[2017-12-19 22:50] emgarten commented on #2854
I am unable to repro this. Please try with VS 2017 15.5 or higher.

[2017-12-19 22:50] #2854 closed, assigned to nobody

[2017-12-19 22:51] nkolev92 commented on #2691
Duplicate of #4103

[2017-12-19 22:51] #2691 closed, assigned to nobody

[2017-12-19 22:52] MicahZoltu commented on #2861
I would still argue strongly that the current _default_ location is being a really bad citizen on Windows since the NuGet cache can grow incredibly large and should _not_ be indexed/roamed across a network.  Having options to redirect it is definitely a big improvement, and provides people who care about their OS remaining healthy an option for resolving the problem.  However, I do believe that th

[2017-12-19 22:52] #1278 closed, assigned to deepakaravindr

[2017-12-19 22:53] #1285 closed, assigned to nobody

[2017-12-19 22:54] jainaashish commented on #358
Moved to NuGet docs -https://github.com/NuGet/docs.microsoft.com-nuget/issues/625

[2017-12-19 22:54] #358 closed

[2017-12-19 22:55] emgarten commented on #2852
Currently I do not see evidence that changing the compression level would have a large enough impact on perf to justify this option. If someone can provide that please do 🌷

[2017-12-19 22:55] #2852 closed, assigned to nobody

[2017-12-19 22:55] mishra14 commented on #5446
please try using `dotnet nuget --verbosity detailed push ...`

it seems that the verbosity is a switch on `dotnet nuget`

[2017-12-19 22:56] emgarten commented on #2849
This change does not meet the bar at this time.

[2017-12-19 22:56] #2849 closed, assigned to nobody

[2017-12-19 22:57] emgarten commented on #2848
I am unable to repro this, please try with VS 2017 15.5 or higher.

[2017-12-19 22:57] #2848 closed, assigned to nobody

[2017-12-19 22:58] mishra14 commented on #5446
Keeping this open as the command seems to prefer the options in specific order, which should be fixed.

[2017-12-19 22:59] jainaashish commented on #365
We had a major refactoring in 15.3 timeframe to get rid of most of these issue. But we can't just get rid of all the public APIs which customers has already taken dependency. We're gradually making all our public apis available via IVS template wizard.

[2017-12-19 22:59] #365 closed

[2017-12-19 23:00] emgarten commented on #2847
Duplicate of https://github.com/NuGet/Home/issues/3994

[2017-12-19 23:00] #2847 closed, assigned to nobody

[2017-12-19 23:01] #2841 closed, assigned to nobody

[2017-12-19 23:01] jainaashish commented on #417
I don't think we'll ever be able to get to this because of other prioritize work. So closing it.

[2017-12-19 23:01] #417 closed

[2017-12-19 23:02] #2840 closed, assigned to nobody

[2017-12-19 23:03] #2837 closed, assigned to nobody

[2017-12-19 23:03] mishra14 commented on #5456
@jonkerr are you still facing this issue with latest VS 2017 15.5?

[2017-12-19 23:04] nkolev92 commented on #1292
@mcmellawatt

init.ps1 scripts are executed when installing a package and when launching VS.

Allowing the user to act during restore caused major performance and reproduciblity issues for consumers.
Currently there are no plans to support such a scenario.

We don't believe there are enough scenarios where a package needs to do something at restore time to allow add a feature like this.

In our ex

[2017-12-19 23:04] #1292 closed, assigned to nobody

[2017-12-19 23:04] emgarten commented on #2829
This hasn't come up again. At this point I think it has been fixed.

[2017-12-19 23:04] #2829 closed, assigned to nobody

[2017-12-19 23:05] #2827 closed, assigned to nobody

[2017-12-19 23:06] #2826 closed, assigned to nobody

[2017-12-19 23:07] #2825 closed, assigned to nobody

[2017-12-19 23:08] jainaashish commented on #434
No new update for a long time. I'm closing it for now, please re-open or log a new issue if you can still repro it with latest NuGet 4.5.0 build.

[2017-12-19 23:08] #434 closed

[2017-12-19 23:09] emgarten commented on #2822
I am unable to repro this. Try again with VS 2017 15.5 or higher.

[2017-12-19 23:09] #2822 closed, assigned to nobody

[2017-12-19 23:11] nkolev92 commented on #1286
Thanks for filing this issue.

Given the direction NuGet has gone in with Package Reference and project.json, we believe the core asks in this issue are a more granular control of versioning during restore.

Related issues here:

Please comment there with your scenarios.

https://github.com/nuget/home/issues/5602
https://github.com/nuget/home/issues/5553

[2017-12-19 23:11] #1286 closed, assigned to deepakaravindr

[2017-12-19 23:12] jainaashish commented on #442
@karann-msft can you also please take care of this as part of Package Applicability flow https://github.com/NuGet/Home/issues/5725 ?

[2017-12-19 23:12] emgarten commented on #2820
I am unable to repro this. Try again with VS 2017 15.5 or higher.

[2017-12-19 23:12] #2820 closed, assigned to nobody

[2017-12-19 23:12] mishra14 commented on #5457
@kukjevov can you try uploading the package to nuget.org and then see if this succeeds?

Also, please try the latest VS 2017 15.5 and let us know if you are still facing this issue.

[2017-12-19 23:12] #5457 closed, assigned to nobody

[2017-12-19 23:13] emgarten commented on #2819
Checks on project id should be case insensitive in 4.0.0

[2017-12-19 23:13] #2819 closed, assigned to nobody

[2017-12-19 23:13] #1310 closed, assigned to nobody

[2017-12-19 23:14] jainaashish commented on #446
There is not much attraction from community for this feature besides our focus has been on other stuffs like performance, Integration in MSBuild with PackageReference, etc... so we don't see getting to this in near future.

[2017-12-19 23:14] #446 closed

[2017-12-19 23:16] mishra14 commented on #5462
dupe of https://github.com/NuGet/Home/issues/4415

[2017-12-19 23:16] #5462 closed, assigned to nobody

[2017-12-19 23:17] #2813 closed, assigned to nobody

[2017-12-19 23:18] emgarten commented on #2810
Does this still repro?

[2017-12-19 23:18] mishra14 commented on #5467
@philippe-lavoie can you please try the latest VS 2017 15.5 and let us know if you are still facing this issue.

[2017-12-19 23:18] #5467 closed, assigned to nobody

[2017-12-19 23:21] emgarten commented on #2804
Closing due to lack of feedback for packages.config

[2017-12-19 23:21] #2804 closed, assigned to zhili1208

[2017-12-19 23:21] jainaashish commented on #452
@AArnott is this still valid with `PackageReference`? can it not be achieved via `PrivateAssets` now?

[2017-12-19 23:22] mishra14 commented on #5468
@shishirx34 is this still relevant? Please let us know if thats still the case.

[2017-12-19 23:22] #5468 closed, assigned to nobody

[2017-12-19 23:24] mishra14 commented on #5471
dupe of https://github.com/NuGet/Home/issues/5725

[2017-12-19 23:24] #5471 closed, assigned to nobody

[2017-12-19 23:24] emgarten commented on #2799
Add the credentials to your nuget.config to avoid getting prompted.

[2017-12-19 23:24] #2799 closed, assigned to nobody

[2017-12-19 23:25] emgarten commented on #2798
The date issue has been fixed.

[2017-12-19 23:25] #2798 closed, assigned to alpaix

[2017-12-19 23:25] jonkerr commented on #5456
I stopped using visual studio but thanks for checking.

Jon

--
Sent from my phone. Spelling (in)corrections courtesy of Android.

On Dec 19, 2017 3:03 PM, "Ankit Mishra" <notifications@github.com> wrote:

@jonkerr <https://github.com/jonkerr> are you still facing this issue with
latest VS 2017 15.5?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on Git

[2017-12-19 23:26] #2797 closed, assigned to nobody

[2017-12-19 23:26] jainaashish commented on #458
It has been an old and long discussion. And we don't think we'll get to this in near future since our focus has been on other items. So closing it as ByDesign

[2017-12-19 23:27] mishra14 commented on #5472
dupe of https://github.com/NuGet/Home/issues/4681

[2017-12-19 23:27] #5472 closed, assigned to nobody

[2017-12-19 23:28] #2795 closed, assigned to nobody

[2017-12-19 23:29] shishirx34 commented on #5468
I haven't had the customer report anything after the conversation above. Perhaps @malachib would be able to comment on the relevance here.

[2017-12-19 23:30] jainaashish commented on #491
We're not planning to release this fix for VS2013 which is what this issue originally was. So if anyone still facing this issue for VS2017 please log a new issue with relevant details.

[2017-12-19 23:30] #491 closed

[2017-12-19 23:30] #2789 closed, assigned to nobody

[2017-12-19 23:32] #2786 closed, assigned to rrelyea

[2017-12-19 23:33] jainaashish commented on #492
This has been fixed in Visual Studio 2017. Please try with latest VS2017 15.5.

[2017-12-19 23:33] #492 closed

[2017-12-19 23:34] mishra14 commented on #5456
closing this issue. Can be reopened if we have more repros, in the future.

[2017-12-19 23:34] #5456 closed, assigned to zhili1208

[2017-12-19 23:35] #2783 closed, assigned to zhili1208

[2017-12-19 23:35] mishra14 commented on #5479
@ReinoutW are you still facing this issue?

[2017-12-19 23:36] emgarten commented on #2780
ref counting for packages is no longer supported as of 3.0.0

[2017-12-19 23:36] #2780 closed, assigned to nobody

[2017-12-19 23:36] #5095 closed, assigned to nobody

[2017-12-19 23:36] emgarten commented on #2778
No longer needed with packageReference.

[2017-12-19 23:36] #2778 closed, assigned to nobody

[2017-12-19 23:36] #5482 closed, assigned to nobody

[2017-12-19 23:39] emgarten commented on #2777
project.json is no longer used

[2017-12-19 23:39] #2777 closed, assigned to spadapet

[2017-12-19 23:39] mishra14 commented on #5480
Thanks for reporting the issue. At this point we do not plan on releasing an update for VS2015 or older. Please try latest [VS2017](https://www.visualstudio.com/#) and let us know if you need more help from us.

[2017-12-19 23:39] #5480 closed, assigned to nobody

[2017-12-19 23:39] jainaashish commented on #493
We've been focusing on PackageReference, where there is no solution level packages folder. Also, we don't see getting to this in near future.

[2017-12-19 23:39] #493 closed

[2017-12-19 23:44] emgarten commented on #2761
CDATA is the correct way to handle this.

[2017-12-19 23:44] #2761 closed, assigned to nobody

[2017-12-19 23:44] mishra14 commented on #5481
@ja0b Can you please check if the web.config file has the keys `test1` and `test2`?

[2017-12-19 23:44] AArnott commented on #452
It's still a problem, yes. The main point is that packages should *self-identify* this rather than the user having to manually edit the PackageReference to get the expected and required behavior.

[2017-12-19 23:45] emgarten commented on #2760
Unable to repro, please try with VS 2017 15.5 or higher.

[2017-12-19 23:45] #2760 closed, assigned to nobody

[2017-12-19 23:45] AArnott commented on #452
To be clear, I don't mind if the setting is encoded in the PackageReference, if that is what your design requires, but when using the UI to install the package, the nuspec file should influence what the default setting is to be encoded.

[2017-12-19 23:46] emgarten commented on #2759
Use a local folder as a package source.

[2017-12-19 23:46] #2759 closed, assigned to nobody

[2017-12-19 23:47] mishra14 commented on #5475
@davkean I am not able to repro this locally. Please let us know if you are still facing this with latest VS 2017.

[2017-12-19 23:47] #5475 closed, assigned to nobody

[2017-12-19 23:48] emgarten commented on #2758
Packages based frameworks do not support framework assembly references.

[2017-12-19 23:48] #2758 closed, assigned to nobody

[2017-12-19 23:48] nkolev92 commented on #1299
Thanks for filing this issue.
We believe that the guidance posted [here](https://github.com/NuGet/Home/issues/6265#issuecomment-349841982) would help you author to your nuspec.
Please let us know if you're still having issues.

[2017-12-19 23:48] #1299 closed, assigned to nobody

[2017-12-19 23:51] nkolev92 commented on #1290
Thanks for filing this issue.

At this point we are not planning on fixing this, because of how dangerous something like this would be.

[2017-12-19 23:51] #1290 closed, assigned to nobody

[2017-12-19 23:51] emgarten commented on #2757
This does not look related to nuget.

[2017-12-19 23:51] #2757 closed, assigned to nobody

[2017-12-19 23:51] #1322 closed, assigned to deepakaravindr

[2017-12-19 23:55] #2756 closed, assigned to nobody

[2017-12-19 23:56] nkolev92 commented on #1314
Not reproducible anymore.

[2017-12-19 23:56] #1314 closed, assigned to nobody

[2017-12-19 23:56] #1315 closed, assigned to nobody

[2017-12-19 23:59] nkolev92 commented on #1335
Thanks for filing this issue.
We believe this issue is now redundant considering the direction where NuGet/.NET eco-system has gone with an emphasis on performance

[2017-12-19 23:59] nkolev92 commented on #1323
this is done.

[2017-12-19 23:59] #1323 closed, assigned to nobody

[2017-12-20 00:00] jainaashish commented on #496
We're not going to get to this in near future since our focus has been on other priorities like performance, full integration into MSBuild with PackageReference.

[2017-12-20 00:00] #496 closed

[2017-12-20 00:00] #2755 closed, assigned to nobody

[2017-12-20 00:02] nkolev92 commented on #1339
The direction that NuGet has pivoted in right now is that every packages need to have specific compatible assets.

Closing this issue as redundant for now.
Please re-open this issue if facing similar issues.

[2017-12-20 00:02] #1339 closed, assigned to nobody

[2017-12-20 00:02] nkolev92 commented on #1363
Redundant.

[2017-12-20 00:02] #1363 closed, assigned to nobody

[2017-12-20 00:03] #5491 closed, assigned to nobody

[2017-12-20 00:05] mishra14 commented on #5492
@dbaechtel  can you please let us know if you are still facing this issue with latest VS 2017 15.5.

[2017-12-20 00:05] #5492 closed, assigned to nobody

[2017-12-20 00:05] nkolev92 commented on #1381
Please open another bug if this is still an issue.
Thank you.

[2017-12-20 00:05] #1381 closed, assigned to nobody

[2017-12-20 00:05] Pilchie commented on #1335
Even with recent improvements in 15.6, most Roslyn devs still leave this option disabled, as it still takes 10s of seconds to restore.  Tagging @jaredpar

[2017-12-20 00:06] nkolev92 commented on #1329
Closing this until we can get a reliable repro.

[2017-12-20 00:06] #1329 closed, assigned to nobody

[2017-12-20 00:07] #5483 closed, assigned to nobody

[2017-12-20 00:10] #5519 closed, assigned to jainaashish

[2017-12-20 00:10] #1411 closed, assigned to nobody

[2017-12-20 00:12] nkolev92 commented on #1396
This has already been done partially, with env variables taking the highest preference.
Currently, there's no requests suggesting that we should fully move to env variables.

[2017-12-20 00:12] #1396 closed, assigned to nobody

[2017-12-20 00:12] mishra14 commented on #5499
I cannot repro this issue. can you please try with latest VS2017 15.5 and let us know if you are still facing this problem.

[2017-12-20 00:12] #5499 closed, assigned to nobody

[2017-12-20 00:13] nkolev92 commented on #1438
This has been done in some capacity.

[2017-12-20 00:13] #1438 closed, assigned to rrelyea

[2017-12-20 00:13] nkolev92 commented on #1404
Duplicate of https://github.com/NuGet/Home/issues/5943

[2017-12-20 00:13] #1404 closed, assigned to nobody

[2017-12-20 00:15] nkolev92 commented on #1479
This is now redudant.
We are not doing any servicing in the project.json world.

[2017-12-20 00:15] #1479 closed, assigned to nobody

[2017-12-20 00:16] nkolev92 commented on #1456
Unclear what the ask is here.

[2017-12-20 00:16] #1456 closed, assigned to nobody

[2017-12-20 00:18] nkolev92 commented on #1458
At this point we are not going to do any non-critical servicing for packages.config style projects.

[2017-12-20 00:18] #1458 closed, assigned to nobody

[2017-12-20 00:19] nkolev92 commented on #1471
Closing this as redundant in the post project.json world.

@tmat Please reopen if you still have similar issues.

[2017-12-20 00:19] #1471 closed, assigned to nobody

[2017-12-20 01:57] nguerrera opened #6340 "VS nuget restore is not respecting NoWarn on package references"
When I restore in VS, NoWarn on PackageReference has no effect.

When I restore via msbuild /t:restore, it works as expected.

This is a regression in the 15.6 dogfood build I have. It works fine on VS 15.5.1 RTM.

## Details about Problem

* **NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe)**: VS UI
* **NuGet version (x.x.x.xxx)**: 4.6.0.??? (VS About doesn't show 4t

[2017-12-20 02:23] davkean commented on #6340
@nguerrera Can you set `PROJECTSYSTEM_PROJECTOUTPUTPANEENABLED=1` before opening VS and attach the contents of the Output -> Project category after restore? This will help us figure if a project system or NuGet issue.

[2017-12-20 03:00] iskiselev commented on #5954
Suggested solution also fails when publishing to Microsoft Azure App Service. Just try to create Microsoft Azure App Service publish profile and publish it there with sample consuming project.
It fails with:
[code]

Suggested solution also prevents from applying VS standard Web.Debug.config/Web.Release.config transforms when publishing to folder selected.
It will be skipped, thanks to up-to-date c

[2017-12-20 04:03] StingyJack commented on #6326
Both are just different representations of the same intent, and both in xml (not that that matters). PRef only has transitive dependencies because it was added there. Aside from what has been added to each feature wise, is there really anything that limited the package config from doing all the same things?

I'm fine with scripting something for the near term, I just wanted to pick your brain on t

[2017-12-20 04:04] StingyJack commented on #6327
I will try that out now!

[2017-12-20 08:24] stgit123 commented on #491
I HAVE raised a new issue for later VS versions ([#4449](https://github.com/NuGet/Home/issues/4449)), which you have closed without fixing the problem either.

[2017-12-20 08:50] monkey-dsc commented on #6330
Wow hard stuff... @jainaashish that's a really really everything breaking change... 👎

[2017-12-20 08:59] v-luzh opened #6341 "[Test Failure][Signing] "Cannot prompt for input in non-interactive mode" when signing with a certificate is password protected without using CertificatePassword"
## Details about Problem
NuGet Version : Release-4.6.0-Preview2 4745
VS Version : D15.6 27218.00
OS Version : RS3_Release 16299.15.170928-1534

## Detailed repro steps so we can see the same problem
1.	Create a new package.
2.	Create a new test certificate:  .\CreateTestCertificate.ps1 -AddAsTrustedRootAuthority -Password password.
3.	Sign a package:  NuGet.exe sign “PackageFilePath” -CertificateP

[2017-12-20 09:20] huaryliu opened #6342 "dotnet nuget push *.nupkg --config-file ./config/My.Config error: Unrecognized option '--config-file'"
dotnet nuget push *.nupkg --config-file ./config/My.Config

error: Unrecognized option '--config-file'

Env:

NuGet Version: 4.3.0.4406
dotnet.exe --version (if appropriate): 2.1.2

.NET Command Line Tools (2.1.2)

Product Information:
 Version:            2.1.2
 Commit SHA-1 hash:  5695315371

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.16299
 OS Platform: Windows
 RID:

[2017-12-20 09:55] tom-englert commented on #491
@jainaashish just happened to me now in VS2017 - this has never been fixed for no version.

Seems the only strategy here is to obfuscate the problem by randomly changing issues and versions.

[2017-12-20 10:40] dillibabun commented on #6336
Can any one look into it ?

[2017-12-20 11:26] doorman02 commented on #6307
Hi @emgarten this worked and I was able to debug. The exception and innerexception give the same error message

Here is the trace
[code]
Thanks for your help!

[2017-12-20 12:39] #6338 closed, assigned to dtivel

[2017-12-20 15:01] dtivel opened #6343 "Signing: assert package signature file is a regular file"
PR https://github.com/NuGet/NuGet.Client/pull/1871 added the package signature file to a package.  This change asserts that the package signature file is a regular file and not some other file type (e.g.:  directory, symbolic link, etc.) that ZIP's external file attributes permit.

[2017-12-20 15:20] spotlesscoder commented on #5499
Seems to be fixed

[2017-12-20 17:42] jainaashish commented on #491
I was going through the comments and from there it looks like it was fixed in VS 2015 which is why I closed it, apology if that wasn't the case.

Then @stgit123 also mentioned about #4449 which gives the more appropriate reasoning of closing this issue and asking to move from packages.config to PackageReference. Since our current direction is making PackageReference more compatible for existing so

[2017-12-20 18:02] jainaashish commented on #6330
It has always been like this with transitive world, be it `project.json` or `PackageReference`. It was never a good idea to have these install.ps1 and uninstall.ps1 scripts at the first place which are even more troublesome to maintain since users do all sort of weird stuff through these scripts and they provide a loophole in the system. Besides, since most of these scripts have hard dependency on

[2017-12-20 18:08] jainaashish commented on #5954
@iskiselev Thanks for letting us know these issues. We'll analyze these issues.

[2017-12-20 18:51] jainaashish commented on #452
I understand your point and keeping it as p1 in backlog for now since we haven't had much feedback from community on this for last couple of years.

[2017-12-20 20:02] #6343 closed, assigned to dtivel

[2017-12-20 21:23] emgarten opened #6344 "Add caching in RuntimeGraph"
Add caching in RuntimeGraph for runtime expansion and finding runtime dependencies.

[2017-12-20 22:18] mishra14 commented on #6342
`dotnet nuget push` command does not support `--config-file` switch.

Please run `dotnet nuget push --help` to learn more about the switches that it supports.

e.g. -

[code]

[2017-12-20 22:18] #6342 closed, assigned to nobody

[2017-12-20 22:28] emgarten opened #6345 "Cache runtime.json files across project restores"
Restore should cache runtime.json files across project restores instead of re-parsing and loading these files for every project.

[2017-12-20 22:35] mishra14 commented on #6336
@dillibabun can you please attach your csproj file?

[2017-12-20 23:17] mishra14 commented on #6340
I found the issue. it was a change we took recently. I am working on a fix.

[2017-12-20 23:20] dtivel opened #6346 "Signing: fix Zip64 check"
The [current Zip64 check is](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Packaging/Signing/Archive/SignedPackageArchiveIOUtility.cs#L286) incomplete.

[2017-12-20 23:37] malachib commented on #5468
My workarounds are all in place, so difficult to be sure, but it _appears_ TeamCity CI + NuGet encounters 409 as expected:

a) if you attempt a push and no item is present, you get a success code and not a 409
b) if you attempt a push and item is present, you receive a 409

So, all good here!

[2017-12-20 23:41] AArnott commented on #452
Understandable. Most package authors aren't writing developmentOnly=true packages.

[2017-12-20 23:55] hiromi3 opened #6347 "AngleSharp 0.9.9 is not listed in visual studio VS2017 references"
Hello,
NuGet product used: VS UI
NuGet version (x.x.x.xxx): 4.5.0
VS version (if appropriate): VS2017 Community Ver 15.5.2
OS version (i.e. win10 v1607 (14393.321)): ver 10.0.16299 build 16299

## Detailed repro steps to reproduce the same problem
In my VS2017 ver 15.5.2 with Japanece language setting, the following procedure will reproduce the problem.
1. Create C# New Console Project with .NET F

[2017-12-21 00:24] mishra14 commented on #6347
@hiromi3 Thanks for the detailed feedback. I tried a quick repro and I am not seeing this issue.

Are you only getting this issue in Japanese language or does it happen in English as well?
Also, can you try with .NET Framework 4.6 as well?

Thanks!

[2017-12-21 00:49] DannyMeister commented on #5138
I have the additional use cases for the -Version option:
[code]
I would think probably anything supported by the Version attribute of `<PackageReference>` would probably make sense, though I'm not sure whether that currently supports my beta requirement.

[2017-12-21 00:58] #6340 closed, assigned to mishra14

[2017-12-21 01:03] hiromi3 commented on #6347
Hi,
Thank you for quick reply.
I changed the language setting to English and tested again.
For all the following .NET Framework versions
4.7
4.6
4.5
4.0
the symptom reproduced.

For example, .NET Framework 4.7 with English environment, I created a Console Application.
Then I installed AngleSharp 0.9.9 .
The following messages are shown, but AngleSharp is not listed references.
--------------------

[2017-12-21 01:05] mishra14 commented on #6327
@StingyJack Please let us know if you are still facing this issue.

[2017-12-21 02:17] #6344 closed, assigned to emgarten

[2017-12-21 02:54] huaryliu opened #6348 "Nuget push error Cannot access a disposed object. Object name: 'System.Net.Sockets.NetworkStream'"
I run this command in Ubuntu

nuget push *.nupkg [apikey] -src http://***/repository/nuget/ -configFile Nuget.config

Pushing l 1.0.0 to 'http://***/repository/nuget/'...
Using credentials from config. UserName: ***
**Cannot access a disposed object.
Object name: 'System.Net.Sockets.NetworkStream'**

Nuget.config like this
[code]

**This Commond can successful run in Windows**

I found nuget versi

[2017-12-21 04:13] hach-que commented on #6250
Are there any impacts for third-party clients that push to nuget.org? I'm having to do work now because of the breaking change around the `X-NuGet-Client-Version: 4.1.0` header, and I want to know if in the future Protobuild will suddenly be unable to push or pull to nuget.org because of package signing.

[2017-12-21 07:40] #6345 closed, assigned to emgarten

[2017-12-21 08:06] emgarten commented on #6348
https://www.nuget.org/downloads

[2017-12-21 10:30] monkey-dsc opened #6349 "How to ensure content path of a nuget package in VS 2017?"
Hi,

I have the following scenario _"NuGet-Package A"_ have a content file, e.g. a .config.

`	<ItemGroup Label="Content">
		<Content Include="App_Config\Include\Indeca.SitecoreCommon\Indeca.SitecoreCommon.EditorExtensions.DeviceDependent.config" />
	</ItemGroup>`

The package content looks okay:

![image](https://user-images.githubusercontent.com/6951458/34251495-9e58380c-e640-11e7-88ff-db243b2bb

[2017-12-21 11:09] alvillain commented on #3324
Checked as well with new nuget.exe v4.5.0, the issue is still there.

[2017-12-21 11:35] ngruson opened #6350 "Dead link on 'How to contribute' page"
On the page https://github.com/NuGet/Home/wiki/How-to-contribute, there's a dead link to 'Engineering guidelines' which points to https://github.com/contribute/coding-guidelines.
Not sure what it should be.

[2017-12-21 15:21] krshortr commented on #1215
I'm getting this error in VS 2017 when trying to install a package to an Integration Services project.   The default project dropdown in Package Manager is empty.

[2017-12-21 15:29] krshortr commented on #1215
Update to my previous post.   The package I'm trying to install contains the new SMO objects for SQL2017, which need to be applied directly to the script task that is executing them, NOT at the project level.   My apologies for the spam post!

[2017-12-21 16:43] joelmartinez commented on #6331
@mishra14 I added `<Import Project="$(MSBuildExtensionsPath)\$(MSBuildToolsVersion)\Microsoft.Common.props" />`, but unfortunately I'm still getting the same message. Perhaps I've misunderstood your suggestion ... can you expand on your answer a bit?

fwiw, I really appreciate any additional info you can help with :)

[2017-12-21 17:03] rido-min commented on #6250
@hach-que package signing is designed to be fully backwards compatible. This means that older clients can pull signed and unsigned packages. There are no new requirements for push, and NuGet.org will accept unsigned packages.

[2017-12-21 18:38] mishra14 commented on #6331
@joelmartinez I thought about your scenario a bit and realized that you just need a `packages.config` file -
[code]

Then you need to run `nuget restore packages.config -PackagesDirectory Packages`

This will download the package into `.\Packages` folder.

Let me know if this is not the right solution for you. :)

[2017-12-21 18:47] joelmartinez commented on #6331
@mishra14 ok ... I was hoping to avoid having a separate file, as I'm trying to come up with a bare minimum example to add to my documentation; the `PackageReference` looked like it would fit my scenario perfectly. But it seems like there's only shallow support for it in some scenarios. As you mentioned, having a `packages.config` file does indeed work, so I'm going to move forward with that.

*fo

[2017-12-21 19:05] joelmartinez commented on #6331
In case the additional context helps ... I'm looking to replace my use of a `Makefile` ([current here](https://github.com/joelmartinez/mdoc-docfx/blob/master/Makefile)), with using msbuild to orchestrate the running of these tools. This would make it an easier cross platform solution than relying on _make_.

[2017-12-21 19:43] mishra14 commented on #6350
@ngruson Thanks for pointing that out to us. I have fixed this.

You can check out the updated [page](https://github.com/NuGet/Home/wiki/How-to-contribute).

[2017-12-21 19:43] #6350 closed, assigned to nobody

[2017-12-21 19:51] #6346 closed, assigned to dtivel

[2017-12-21 20:02] mishra14 commented on #6341
@v-luzh Can you please give me the value for the following environment variables -

1. `NUGET_EXE_NO_PROMPT`
2. `FORCE_NUGET_EXE_INTERACTIVE`
3. `VisualStudioVersion`

You can get the values by using powershell -
[code]

[2017-12-21 20:05] mishra14 commented on #6348
@JianhuaLiu on linux you can use the [`dotnet nuget push`](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-nuget-push) command using the [dotnet  cli](https://www.microsoft.com/net/learn/get-started/linuxredhat).

Please let us know if you are still blocked with the latest release of `nuget.exe` or `dotnet`.

[2017-12-21 20:06] #6348 closed, assigned to nobody

[2017-12-21 20:09] mishra14 commented on #4062
merged: https://github.com/NuGet/docs.microsoft.com-nuget/commit/49c3f58e65d62f0386c873debd741a7b6b1d1a2c

[2017-12-21 20:09] #4062 closed, assigned to nobody

[2017-12-21 20:14] mishra14 commented on #6349
@monkey-dsc can you please give us the nuspec file for packageB (Indeca.SitecoreCommon.PresentationSettings)?

[2017-12-21 20:26] mishra14 commented on #6321
@nkolev92 Are we tracking this already?

[2017-12-21 20:35] emgarten commented on #6326
It would be a breaking change to packages.config. The two are very different and you can find more info on that in the docs.

Think of this way, PackageReference is packages.config with years of extra features. Use it! If you hit those breaking changes then you should be able to see why both still exist. A hybrid mode with transitive dependencies and just some of the features in packages.config do

[2017-12-21 20:41] nkolev92 commented on #6321
@mishra14
If I understand the scenario correctly, this isn't a really a global tools scenario only, rather a more generic one.
Thanks for pointing it out though.
//cc
@wli3

[2017-12-21 21:01] clairernovotny commented on #6321
Well, I don't know about that. I have a utility that needs the output of publish and not build. It multi-targets and thus needs publish called on both `netcoreapp1.1` and `netcoreapp2.0` and the output of that in the package. It also should not have any dependencies in that scenario as they've been included in the package.

I have to use a nuspec today for this.

[2017-12-21 21:03] rohit21agrawal commented on #6321
@onovotny can you not include Publish in the TargetsForTfmSpecificBuildOutput property and change your BuildOutputTargetFolder to tools?

This will leave the dependencies still being listed in the nuspec, which I am currently working on a plan to turn on/off - both for framework assembly references and package dependencies

[2017-12-21 21:15] clairernovotny commented on #6321
@rohit21agrawal Part of the problem is that pack calls build not publish, and there's no way to control that either. I'd like there to be an option to have pack call publish on each inner TFM instead and then use those outputs (presumably there's a publish output group?)

[2017-12-21 22:00] natemcmaster opened #6351 "PackagePath is treated as a directory, not a file path, for files with no extension [Regression]"
GenerateNuspec changed the way it handles PackagePath in a recently nightly.

## Details

NuGet product used: dotnet
NuGet version (x.x.x.xxx): ?
dotnet.exe --version: 2.2.0-preview1-007846
OS: Windows 10

Worked before? Yes, in dotnet.exe 2.2.0-preview1-007796

## Repro

1. `dotnet pack` this project
[code]

## Expected
Package layout in the 2.1.3 SDK and previous nightlies was:
[code]

## Actual

[2017-12-21 22:05] muratg commented on #6351
cc @rrelyea @emgarten

[2017-12-21 23:16] vsfeedback opened #6352 "Invalid URI: The Authority/Host could not be parsed"
I'm using NuGet within Visual Studio 2017, when i try to install a package on an Web Forms project hosted in local IIS, it is failing with the following error:

Invalid URI: The Authority/Host could not be parsed

This is package manager console details:

Attempting to gather dependency information for package 'Newtonsoft.Json.10.0.3' with respect to project 'http://iis.domain.local/', targeting '

[2017-12-21 23:18] mishra14 commented on #6351
@rohit21agrawal can you take a look to see what caused this?

[2017-12-22 01:13] huaryliu commented on #6348
@mishra14  on Linux I want to use custom config file,the command `dotnet nuget push` can not support custom config file .
the command `dotnet nuget push *.nupkg --config-file ./config/My.Config` can not run correctly
do you have other solution ?

[2017-12-22 02:11] StingyJack commented on #6326
I did, back in Jan, And all I got was a few days worth of delays for me and others. Reference hint path battles, TFS 2015 builds wouldn't compile, VS outright crashing, duplicated references in sln explorer.  It was quite the mess when it was pushed as the default setting.

_I_ rely on visual studio, I wouldnt be doing .net projects with anything else (I've tried alternatives and buggy VS 2017 is

[2017-12-22 03:03] wli3 commented on #6321
@onovotny

I have some luck call publish. Import the following at the end of the csproj

[code]

[2017-12-22 03:08] clairernovotny commented on #6321
@wli3 nice! I'll check that out closer tomorrow, but it won't matter until @rohit21agrawal's work of disabling dependencies is ready too. If that works, is that something that can be just part of the built-in targets and controlled via an option (in the spirit of making it easier all around)?

[2017-12-22 04:46] livarcocc opened #6353 "dotnet add package <Project> --source <LocalDir> fails when offline"
_From @lambdakris on December 22, 2017 2:46_

## Steps to reproduce
1. ensure newtonsoft.json is in nuget global cache
2. disconnect from internet
3. dotnet add package Newtonsoft --source "$home/.nuget/packages"

## Expected  behavior
For dotnet/nuget to skip request to nuget.org and go directly to specified source

## Actual behavior
[code]
## Environment data
`dotnet --info` output:
[code]

_Co

[2017-12-22 05:02] knocte commented on #5832
Seems like `<GeneratePackageOnBuild>true</GeneratePackageOnBuild>` doesn't work when building with VisualStudio for Mac (using 7.3, last version). Any recommendation in this case?

[2017-12-22 05:03] knocte commented on #5832
(With "doesn't work" I mean I don't see any .nupkg file in the subfolders underneath bin/Debug ...)

[2017-12-22 08:57] dillibabun commented on #6336
Hi Mishra,

Our csproj is highly confidential so modified them with dummy data.

[code]
Regards,
Dilli babu.

[2017-12-22 14:45] lukas-lansky commented on #5350
It was a casing issue for me too. This sensitivity is not usual for Windows, but I guess there were interoperability choices at play when deciding it should behave this way.

Nevertheless, would it be possible to make the error message more descriptive? The tool should definitely discern between "damaged file" and "missing file" and ideally, it should notice whether the "missing file" is actually

[2017-12-22 17:11] zipswich commented on #2913
This the .csproj file with "<SkipValidatePackageReferences>true</SkipValidatePackageReferences>" added per the tip of @RandomEngy:
[code]
It works.

[2017-12-22 17:13] StingyJack commented on #6327
That was totally easy, and worked. Thanks!

Is there a notification or diagnostic that would tell me if the nuget update is going to ignore specific user-modified files?

[2017-12-22 17:30] #6327 closed, assigned to nobody

[2017-12-22 17:41] mishra14 commented on #6348
@JianhuaLiu have you tried using the latest NuGet.exe from https://www.nuget.org/downloads?

[2017-12-22 18:22] jainaashish commented on #6352
`Failed to add reference to 'Newtonsoft.Json'.
Invalid URI: The Authority/Host could not be parsed.`

This should be moved to Project System for investigation. This error is being thrown from them while adding reference. There was a email communication as well for the same issue and there also I added project system folks to investigate.

[2017-12-22 18:46] rohit21agrawal commented on #6351
this is caused as a side-effect of fixing : https://github.com/NuGet/Home/issues/5898

I believe the fix is correct actually as it fixes a scenario that couldn't be worked around before.

The scenario you mentioned can easily be fixed by including an empty packagePath:

``` <PackagePath></PackagePath> ```

or

``` <PackagePath>/</PackagePath> ```

[2017-12-22 19:05] rohit21agrawal opened #6354 "provide a way to suppress dependencies in dotnet pack"
have an option to suppress all package references and framework assembly references in the output nupkg .

this is required for scenarios where package authors publish all their dependencies into the package itself (especially for tools package) and so do not need any dependency in the nuspec itself.

[2017-12-22 19:17] emgarten commented on #6327
There isn't a way to get notified of this unfortunately. NuGet also doesn't have a good way to look through all the referenced files from VS to check.

[2017-12-22 21:23] SergeyKanzhelev commented on #6268
@jainaashish so any recommendations how to change our project file so resulting NuGet will not be installable on `net40` projects? Now I see that `contentFiles` folder created mentioned subfolder, when `content` folder did not.

BTW, this behavior report on last versions of Visual Studio as well.

[2017-12-22 22:13] jainaashish commented on #6268
for `content` you can use tfm as a subfolder and put all the files inside that like `content/net45`

[2017-12-23 00:43] nguerrera commented on #6279
Related to this, is there a spec for how analyzer assets should be selected based on project language?

Current implementations are here:
https://github.com/NuGet/NuGet.BuildTasks/blob/1d8af3499f94a32c1d128a42faceade39c1f4337/src/Microsoft.NuGet.Build.Tasks/ResolveNuGetPackageAssets.cs#L444-L470
https://github.com/dotnet/sdk/blob/634680ab0ae045ba45977b6293b46f95a0385aac/src/Tasks/Microsoft.NET.Bui

[2017-12-23 01:59] jasonmalinowski commented on #6279
Adding @jmarolf too.

I think that was just the code trying to be tricky and deal with the "no language either" thing at the same time.

[2017-12-23 02:55] SidShetye commented on #5889
@rido-min For non-commercial projects, I can see code signing certificate costs being a hurdle. I think https://www.nuget.org/account should have a section to generate/issue X.509 code signing certificates. In other words, Microsoft should assume CA responsibilities to support it's own community.

[2017-12-23 06:59] dtivel opened #6355 "Signing: add SignedPackageArchiveIOUtility unit tests"

[2017-12-23 13:12] aelij commented on #6150
I've created my own [package](https://www.nuget.org/packages/NuGet.PackageManagement.NetStandard) (needed it for the xplat version of [RoslynPad](https://github.com/aelij/RoslynPad)). I just added a few `#if`s to remove the XDT and MEF stuff. Would it be acceptable to merge this kind of change? This could be a multi-target package that supports everything on the desktop framework.

https://github.

[2017-12-23 13:16] aelij commented on #6150
The package I published also seems to be used by Cake Build, so there's definitely a need for this.

[2017-12-23 14:58] #6355 closed, assigned to dtivel

[2017-12-23 15:27] Nefcanto commented on #4837
I have a similar problem here. I try to host my ASP.NET Core MVC applications in IIS, and the problem is that when I add a package reference to some packages, their assemblies are not copied to output directory, and also it seems that runtime is not able to find their places. So I get *can't load assembly, file not found* error.

To make things work, I need to manually go and copy files to the out

[2017-12-23 18:41] jkoritzinsky commented on #5400
@davidfowl what is the rationale behind not satisfying the dependency and resolving a downgrade in the following situation: (-> represents depends on)

I do not own packages A through D.

* My Project -> Package A -> Package D (>= 1.1.0)
* My Project -> Package B -> Package C -> Package D (>= 1.2.0)

In this case, I am not directly referencing Package D at all, and Package D @ Version 1.2.0 would

[2017-12-24 03:10] davidfowl commented on #5400
@jkoritzinsky

The graph you drew doesn't force a downgrade. That's a common misconception because of the name "nearest" wins. It's not nearest, it's really about **direct dependencies of your ancestors**.

In the graph you drew above, D 1.2.0 wins. After the "nearest wins pass", is applied, then a pass over the cousin dependencies (what you drew) is applied. In that pass, highest wins.

Here's a

[2017-12-24 03:16] jkoritzinsky commented on #5400
@davidfowl

Just to clarify: a package downgrade warning will only happen if a subtree of the package dependencies has a downgrade (so it's "nearest wins" within a line of decendants if we model the project as the root ancestor and warning if winning is a downgrade)?

[2017-12-24 03:30] davidfowl commented on #5400
@jkoritzinsky yes.

[2017-12-24 09:25] menaheme commented on #3050
I think that truncating a trailing zero (revision number) from a package`s version (i.e. 1.7.1.0 -> 1.7.1) is a mistake that causes harm.
The last digit is actual information, and code reading the version number must now assume the last zero, where it should not know anything about it.
we downgraded the client version to avoid this.

[2017-12-24 17:08] dtivel opened #6356 "Signing: poor signing/verification performance"
Signing uses a 4 byte buffer to [read and write](https://github.com/NuGet/NuGet.Client/blob/3e4b85ff065c88030ebfe790f19248cc1abd8c9f/src/NuGet.Core/NuGet.Packaging/Signing/Archive/SignedPackageArchiveIOUtility.cs#L145).

Verification uses a 4 byte buffer to [read and hash](https://github.com/NuGet/NuGet.Client/blob/3e4b85ff065c88030ebfe790f19248cc1abd8c9f/src/NuGet.Core/NuGet.Packaging/Signing/Arc

[2017-12-24 18:21] StingyJack opened #6357 ""How to build NuGet VisualStudio extension" steps do not work."
## Details about Problem
Following the steps in the readme on the [nuget home](https://github.com/NuGet/Home) page for the "How to build NuGet VisualStudio extension" doesnt work.

Following the steps gets to this. Without having to cull through the script is there a correct option to use (or no option)?

[code]

[2017-12-24 22:34] rohit21agrawal commented on #6357
@StingyJack  i will update the documentation. You can just run ``` .\build.ps1 ``` to build the extension. If you want to skip unit tests, run ``` .\build.ps1 -SkipUnitTests ```

[2017-12-25 05:21] rohit21agrawal opened #6358 "add test scenarios for netcore projects without having to build them"
see @jainaashish 's comment for context: https://github.com/NuGet/NuGet.Client/pull/1902#discussion_r158618122

[2017-12-25 06:00] huaryliu commented on #6348
On windows,i used Nuget.exe,and it is effective,but on linux,i canot use Neuget.exe.do you have other solution ?

[2017-12-25 07:54] v-luzh commented on #6341
@mishra14 We can not get the value for the above environment variables except for VisualStudioVersion on D15.6stg 27224.3000+NuGet Client Dev 4763 as below screenshot. Did we miss any additional step?
![powershell](https://user-images.githubusercontent.com/20632625/34335694-bff89c7e-e98b-11e7-898b-4a079bd0ca9f.PNG)

[2017-12-26 10:37] demiskefelegn commented on #5751
[New Text Document.txt](https://github.com/NuGet/Home/files/1587169/New.Text.Document.txt)

[2017-12-26 15:42] #6356 closed, assigned to dtivel

[2017-12-26 16:01] StingyJack commented on #6357
Thanks, I read through the script and saw that, Feel free to close this when that is updated.

[2017-12-26 17:59] dtivel opened #6359 "Push: flaky functional test (PushCommand_PushToServer_WhenPluginReturnsNoCredentials_FallBackToConsoleProvider)"
`NuGet.CommandLine.Test.NuGetPushCommandTest.PushCommand_PushToServer_WhenPluginReturnsNoCredentials_FallBackToConsoleProvider` is flaky.  It recently failed in a Mono for Mac test run.

Output:
[code]

Call stack:
[code]

This test has been a problem in the past.   See https://github.com/NuGet/NuGet.Client/pull/1734.

[2017-12-27 00:48] mwoffenden commented on #4083
Any fix for this in the works?  Would also like to use NuGet  to display powershell scripts.

[2017-12-27 03:42] ghost commented on #4940
Any update on this? Still getting the error with 4.4.1

[code]

[2017-12-27 03:59] ghost commented on #4940
Ok seems to work if we provide additonal source:

[code]

[2017-12-27 04:54] rohit21agrawal commented on #6359
tracked by internal VSTS bug 544570

[2017-12-27 04:54] #6359 closed, assigned to nobody

[2017-12-27 06:57] v-luzh opened #6360 "[Test Failure][Signing] Package signing is successful when certificate is expired"
## Details about Problem
**NuGet Version:** Dev 4764
**VS Version:** D15.6 27226.00
OS Version: RS3_Release 16299.15.170928-1534
## Detailed repro steps so we can see the same problem
1.	Create a new package.
2.	Create a new test certificate:  .\CreateTestCertificate.ps1 -AddAsTrustedRootAuthority -NotBefore "2010-01-01 00:00:00" -NotAfter "2010-01-02 00:00:00".
3.	Sign a package:  NuGet.exe sign

[2017-12-27 09:23] v-nancyj opened #6361 "[Test Failure] [Signing] No error show when installing signed package with expired signing certificate"
## Details about Problem

NuGet version : Dev-4764

VS version : D15.6 27226.00

OS version : RS3_Release 16299.15.170928-1534

## Detailed repro steps

1. Create a new test certificate:  .\CreateTestCertificate.ps1 -AddAsTrustedRootAuthority -NotAfter "<1 minute in the future from current local time>" .
2. Sign a package:  NuGet.exe sign <PackageFilePath> -CertificatePath <PfxFilePath>.
3. Wait f

[2017-12-27 09:31] v-nancyj commented on #6361
1. After the step3, verify the package use command :  NuGet.exe verify -signatures "PackageFilePath"
2. Verify the previous step failed with an error saying "Certificate chain validation failed with error: NotTimeValid."

But the actual error message is different from expected as belowscreenshot.
![111](https://user-images.githubusercontent.com/20632775/34377330-84ea7a84-eb2b-11e7-8db1-4734ce8a6cb

[2017-12-27 10:42] #4587 closed, assigned to rohit21agrawal

[2017-12-27 18:06] rohit21agrawal commented on #6357
fixed.

[2017-12-27 18:06] #6357 closed, assigned to nobody

[2017-12-27 18:35] ctaggart opened #6362 "pack skips importing props when TargetFrameworks used"
My goal was to add `.pdb` as an extension, so that if someone was using SourceLink, it would pack the .pdb files by default. It works when the project is using `TargetFramework`, but not when it uses `TargetFrameworks`. The problem is easy to reproduce and is well documented already in https://github.com/ctaggart/SourceLink/pull/291, but let me we know I need to transfer over more info to this iss

[2017-12-27 18:39] mishra14 commented on #6348
@JianhuaLiu Thanks for clarifying that.

`dotnet nuget push` supports passing of source through command line along with api keys.
Why do you need to pass a config file?

[2017-12-27 18:50] aderesh commented on #2841
Having the same issue: creating an MSBuild task which depends on Microsoft.Build package; marked `metadata->developmentDependency="true"`.  As a result, my assembly is marked with developmentDependency="true" in packages.config but Microsoft.Build and all dependencies (e.g. Microsoft.Build.Framework) are not, thus, are added as references to the project. I think this is a bug.

Expected behavior:

[2017-12-27 18:55] rohit21agrawal commented on #6362
@ctaggart the properties need to go in the outer build, so you might want to consider putting the same props files in the buildCrossTargeting folder alogn with build folder

[2017-12-27 19:36] ctaggart commented on #6362
Thank you @rohit21agrawal! It works great. It adds this which works:

[code]

[2017-12-27 19:36] #6362 closed, assigned to nobody

[2017-12-27 22:11] seangwright commented on #5350
I've run into this case sensitivity issue several times when converting full framework projects and solutions to the new csproj format supported in VS 2017. I've now gotten used to seeing the not-really-helpful errors and remembering to check the case of the paths.

[2017-12-28 01:26] #6358 closed, assigned to nobody

[2017-12-28 01:42] huaryliu commented on #6348
@mishra14
Our nexus repository Maybe  have some  problem, i will check our config.
Thanks for your help.

[2017-12-28 09:10] alexdegroot commented on #5751
Is there a way in the SDK to avoid this behavior? I'm using the SDK to install NuGet packages in a specific folder. I try to avoid the issue by installing the PlatformServices first, but that won't work. Rather I'd simply like to say to the API: Ignore the old way of resolution.

[2017-12-28 09:38] nikator commented on #6324
I think this is related to non-letter character in project path. I have the same set of environment and when I had non-letter character in my project path same error was occurring.
So I switched from C:\\@Projects\ to C:\Projects\ it is working fine now.

[2017-12-28 13:29] davidvedvick commented on #1634
I don't think this is stupid - this would be very useful in a CI environment.

[2017-12-28 14:41] dtivel opened #6363 "Signing: update NuGet error codes for package signing"
The `NuGetLogCode` codes for package signing are incomplete and only partially implemented.  Many codes lack test coverage.

[2017-12-28 14:54] dtivel opened #6364 "Signing: IsValidSigningCertificateV2(...) check removed"
https://github.com/NuGet/NuGet.Client/pull/1868 removed the [IsValidSigningCertificateV2(...)](https://github.com/NuGet/NuGet.Client/pull/1868/files#diff-ce902b6f1ff63e49285926ee427d5bf2L196).

[2017-12-28 15:21] dtivel commented on #6364
CC @PatoBeltran

[2017-12-28 16:10] dee-see commented on #1401
Same problem
VS 15.5.2
Nuget 4.5.0
TFS  15.112.26301.0

[2017-12-28 18:05] #5939 closed, assigned to jainaashish

[2017-12-28 18:20] rohit21agrawal opened #6365 "deduplicate wpf test attributes"
PR  NuGet/NuGet.Client#1902 duplicates some test attributes created in NuGet/NuGet.Client#1512

This is a tracking issue to deduplicate the attributes

[2017-12-28 18:28] dtivel opened #6366 "Signing: signing certificate validation for timestamps"
Timestamp signature verification is [incomplete](https://github.com/NuGet/NuGet.Client/blob/bf5457061e37600bc9207ba244153ab8b818f239/src/NuGet.Core/NuGet.Packaging/Signing/Verification/SignatureTrustAndValidityVerificationProvider.cs#L123).

If a timestamp signature has the `signing-certificate-v2` attribute [[RFC 5126](https://tools.ietf.org/html/rfc5126.html#section-5.7.3.2)], then all certifica

[2017-12-28 19:45] jnm2 commented on #329
Fails miserably in projects that use packages.config, though. There is still a reason to use packages.config in projects that use this SDK package, sadly, because VS2012 is the latest version of Visual Studio that doesn't crash when using the designer with controls that use the legacy security policy (see https://stackoverflow.com/questions/20978721/visual-studio-2013-crashes-with-netfx40-legacyse

[2017-12-28 20:06] mishra14 commented on #6341
@v-luzh can you please try this scenario in a powershell/cmd.exe outside of the developer command prompt?

[2017-12-28 21:13] jaredpar opened #6367 "Different restore behavior in IDE / command line for PrivateAssets"
NuGet Version Used: VS 15.5.2 && VS 15.3.5

I'm seeing a restore behavior difference for a package reference marked as `<PrivateAssets>all</PrivateAssets>` between the IDE and command line. The intent here is to keep the reference and all its assets from flowing into the projects that reference it.

In the command line scenario, driven by msbuild.exe, the scenario behaves as expected. The `Package

[2017-12-28 22:53] Stanzilla commented on #1215
I still get this error in 15.5 when trying to link a vcpkg file (https://vcpkg.readthedocs.io/en/latest/users/integration/)

[2017-12-28 23:41] jainaashish opened #6368 "Capture ActivityLogs as part of E2E test run"
We should start capturing ActivityLogs as part of E2E test run which can be used to see if there were any exceptions while analyzing test failures.

[2017-12-29 02:00] ridomin commented on #5889
@sidshetye NuGet.org will sign all (existing and new) packages with a NuGet.org certificate, you can read more about this feature [here](https://blog.nuget.org/20170914/NuGet-Package-Signing.html).

Additionally, for author signatures, the .NET foundation offers free code signing certificates.

Thanks for your feedback,
Rido

[2017-12-29 02:54] dasMulli opened #6369 "Provide MSBuild properties or items for resolved pack outputs"
When authoring custom msbuild targets that run after pack or creating custom CI scripts, it would be helpful to get the path to the resulting `.nupkg`(s) via msbuild properties or items.

Currently, this needs to be done by replicating what is currently done to construct a `NuGetPackOutput` item (which also contain `.nuspec` files and are used for incremental target config) through evaluating `$(P

[2017-12-29 03:06] v-luzh commented on #4604
@mishra14 it still repro on D15.6 27226.00 CHS (Default NuGet Client 4.6.0.4759) as below screenshot.
![gethelpnuget](https://user-images.githubusercontent.com/20632625/34428482-1234f024-ec88-11e7-98d3-85437f39ca7f.PNG)

[2017-12-29 04:54] #6368 closed, assigned to rohit21agrawal

[2017-12-29 10:38] doorman02 commented on #6307
Hi @emgarten sorry but I just realized why this didn´t work. Kind of stupid but I forgot to add the source after recreated the feed :s
nuget.exe sources Add -Name "MySource" -Source "https://mydomain/tfs/DefaultCollection/_packaging/MySource/nuget/v3/index.json"

After this command I was able to upload as usual :)

[2017-12-29 15:00] janbernloehr opened #6370 "Package Manager restore fails for new style projects if path contains &"
## Details about Problem

When trying to restore a new style csproj whose path contains an & character, visual studio displays the error `Error occurred while restoring NuGet packages: The operation failed as details for project MyLib could not be loaded.` and fails to restore any packages and fails to resolve any assembly references.

However, a restore with `nuget restore MyLib.csproj` works fin

[2017-12-29 16:05] MV10 opened #6371 "VS feature request: Sorting of dependencies"
Requesting sorting of the dependency lists shown in the Visual Studio NuGet UI.

[2017-12-29 19:09] rohit21agrawal commented on #6369
you should just be able to use the ``` NuGetPackOutput ``` item as is if you are executing a target that runs after pack. Am i missing something here?

[2017-12-29 19:12] rohit21agrawal commented on #6371
@jainaashish do you know how they are sorted currently?

[2017-12-29 19:30] jainaashish commented on #6371
they aren't sorted, we just use the default list from xml parsing and show. So most cases, they should be listed as they are mentioned in nuspec unless `System.XML` does something.

[2017-12-29 19:52] seesharper opened #6372 "Missing method exception for local repository"
I am having trouble trying to use the SDK to search for local packages.

A simple console app shows the problem

[code]

This causes the following exception.

[code]

Stack trace

[code]

The csproj file containing package references

[code]
 Am I missing any packages or did I mix up the wrong ones?

[2017-12-29 23:13] MV10 commented on #6371
From my own (limited) packaging experience, they do display in the nuspec order. By way of explanation, now that we have these new mega-huge "meta-package" things like ASP.NET Core uses, it's not much fun trying to figure out conflicts when the dependency list is in random order.

I suppose some kind of sorting at the platform level would make sense, too.

[2017-12-30 00:27] ericnewton76 commented on #738
Man this is still an issue.  Nobody has bothered to address it?

This frequently causes problems with developers not having same name as myself.  Frequently. Problem.

Why didnt nuget use C:\ProgramData\nuget\packages ??? at least that would be 90% correct, unless of course somebody installs windows on a D drive.  Ugh.

should be $(NugetPackagesDir) or similar.

```update-package -reinstall``` sti

[2017-12-30 00:37] dasMulli commented on #6369
`NuGetPackOutput` contains all nuspec and nupkg files (normal and symbol) so it doesn't really give semantic info about what's actually a package and what's an intermediate file used during `Pack`.

[code]

[code]

I was looking for something more like `@(MainAssembly)` or at least some property to not "hardcode" `$(PackageOutputAbsolutePath)$(PackageId).$(PackageVersion).nupkg` and `$(PackageOutp

[2017-12-30 00:44] rohit21agrawal commented on #6369
@dasMulli
can't your just filter it out based on extension?

[code]

We have also updated the target ```_GetOutputItemsForPack ``` so it will only output the symbols nupkg and nuspec if they are actually generated.

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Build.Tasks.Pack/NuGet.Build.Tasks.Pack.targets#L63-L86

I think there is enough extensibility there to figure out w

[2017-12-30 00:52] dasMulli commented on #6369
Sure I can do that. It just doesn't feel "right" from a separation of concerns point of view. The new target is great. maybe if there were some metadata on the generated items to distinguish symbol packages and main packages it would also be great.

[2017-12-30 00:54] rohit21agrawal commented on #6369
@dasMulli i would accept a PR for that, but i won't be able to give it enough priority compared to other work that needs to be done in the pack space.

[2017-12-30 01:03] dasMulli commented on #6369
Fully understand that, it absolutely isn't a high priority issue for me as well since hard-coding is always an option (and is what I've been using). I'll look into creating a PR next year.

[2017-12-30 01:06] rohit21agrawal commented on #6369
@dasMulli  one suggestion though if you continue to use the hardcoded property like you said above:
``` $(PackageOutputAbsolutePath)$(PackageId).$(PackageVersion).nupkg ```

If the PackageVersion is something like 1.0.0-alpha , it won't work, because the output filename of the nupkg has the version normalized (the file name would be PackageId.1.0.0.nupkg) . This scenario IS taken care of by the it

[2017-12-30 09:28] vpenades commented on #4837
I've just found this property that is working for me: `CopyLocalLockFileAssemblies`

[code]

And it seems it copies everything, including framework references: https://github.com/dotnet/sdk/issues/933

[2017-12-30 15:40] seesharper commented on #6372
Downgrading seems to work though

[code]

[2017-12-30 17:00] StingyJack commented on #738
The PackageReference panacea doesn't address this?

[2017-12-31 07:11] vdachev commented on #5241
In addition, the `UpdateCommand` does not look for a "packages.**ProjectName**.config" file in the project folder.

[2017-12-31 17:48] lynnewu commented on #1329
Apologies for missing the updates to this.  After a fresh installation of Windows 10 (Creators Update) and VS 2017 Enterprise I can no longer reproduce this problem.  thanks for checking

[2018-01-01 01:43] StingyJack commented on #545
@harikmenon - In the years since this was originally opened, the ability to run install/uninstall powershell scripts with nuget packages and "solution level" packages has been removed, and along with it, the workaround to the lack of SSDT support.

There really needs to be some correction made to the gap that was present, but is now unbridgeable without resorting to means that are counter to the s

[2018-01-01 14:20] ericnewton76 commented on #738
PackageReference didn’t work for me after clean slate convert very simple project from vs2015 to vs2017. Used vs2017 net framework class library template which still uses hintpath. Tried to start over again clean slate and use the Microsoft.Net.Sdk project type which uses packagereference but still had problems getting builds to work on appveyor with that

[2018-01-01 15:00] dasMulli commented on #738
@ericnewton76 you can select the type of reference to use for "classic" projects in the NuGet options as described in [NuGet's blog post](https://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html) (section "What about other project types that are not .NET Core?"):

![options](https://blog.nuget.org/images/2017-03-16-NuGet-now-fully-integrated-into-MSBuild/trypackageref.gif)

A c

[2018-01-01 16:34] ctaggart commented on #4142
As of [SourceLink 2.7](https://github.com/ctaggart/sourcelink), it sets that property so that pdb files are included by default. I consider this issues resolved by `AllowedOutputExtensionsInPackageBuildOutputFolder`.

[2018-01-01 19:49] #4142 closed, assigned to nobody

[2018-01-02 07:48] deadlydog opened #6373 "NuGet Restore/Update does not work when unrequired package sources are unavailable"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI

NuGet version (x.x.x.xxx): NuGet Package Manager 4.5.0

VS version (if appropriate): VS 2017 (v15.5.2)

OS version (i.e. win10 v1607 (14393.321)): Win 10 (v10.0.16299 Build 16299)

Worked before? If so, with which NuGet version: No

## Detailed repro steps so we can see the same problem

[2018-01-02 07:53] emgarten commented on #6372
@seesharper all NuGet.* packages need to be same version. Reference only NuGet.Protocol to bring in the rest of these using the correct version.

`<PackageReference Include="NuGet.Protocol" Version="4.5.0" />`

[2018-01-02 09:30] ygeelen-tb commented on #4953
@emgarten Any news on this? It's been a plague for us for years now.

As mentioned by @alpaix in https://github.com/NuGet/Home/issues/4938 :
"The bug #2151 was fixed in 3.5/3.6 internal release with NuGet/NuGet.Client#607. As confirmed by the customer this regressed again in 4.0.0-rtm-2283."

[2018-01-02 11:16] #6307 closed, assigned to nobody

[2018-01-02 15:07] qJake commented on #4459
Chiming in - I find it very odd that Visual Studio 2017, today, will build a NuGet package for me (essentially building a .nuspec file behind the scenes but presenting it in a friendly way via the project properties) but won't go the extra 5% and push that new .nupkg file off to a custom repository URL.

What's worse - it seems that the .nupkg file is built AFTER the post-build event, so any hopes

[2018-01-02 16:26] EvanMulawski commented on #6324
I can confirm what @nikator suggested. Restoring from VS was failing with this error until I removed a `$` from my working directory.

[2018-01-02 17:43] joelverhagen commented on #6329
`enlist` is a kind of a loaded and confusing term. My personal preference:

1. `nuget relist` - most clear but highly visible for a less common scenario
2. `nuget push ID VERSION -relist` - better since `push` seems like a closer match than `delete`
3. `nuget delete ID VERSION -relist` - since it's essentially the inverse of `delete` in the NuGet.org case

[2018-01-02 17:46] joelverhagen commented on #6329
I also agree `publish` is not great since that could be easily confused with `dotnet publish` as @emgarten mentioned.

[2018-01-02 18:35] anangaur commented on #6329
May be `relist` is the right option. The only problem I have with this verb is that its not related to `list` and hence can be confusing. As of now not convinced if we should overload `push` or `delete`.

[2018-01-02 19:15] nvrnight commented on #3165
None of the workarounds provided works for me. I have the same problem, except the location it is looking for ps1xml files is different. it's searching in my local solution directory for these files for some reason. This is only after I installed Powershell v5.

Error when opening Package Management Console is:
Could not find file 'C:\path\to\my\solution\GetEvent.types.ps1xml'.
Could not find file

[2018-01-02 19:43] #6363 closed, assigned to dtivel

[2018-01-02 19:46] livarcocc opened #6374 "dotnet-nuget doesn't support verbosity"
_From @kasper3 on December 29, 2017 22:10_

[code]

However,

[code]

doesn't throw but doesn't quiet the verbosity either.

This breaks what --help quotes:

[code]

### `--verbosity` is NOT a common option, only `--help` is

_Copied from original issue: dotnet/cli#8306_

[2018-01-02 19:47] livarcocc commented on #6374
It seems like we are passing down the -v q to nuget but nuget does not recognize the argument. If nuget does not recognize this argument, please, re-activate the CLI issue and we will figure out how to make it clear that not exactly all commands respect this argument.

[2018-01-02 19:50] StingyJack commented on #6373
I've logged this a few times and it gets closed with reason  "working as designed".

https://developercommunity.visualstudio.com/content/problem/69961/manage-nuget-packages-for-solution-is-not-paying-a.html

https://github.com/NuGet/docs.microsoft.com-nuget/issues/407

https://developercommunity.visualstudio.com/content/problem/118566/vs-is-failing-to-install-a-nuget-package-from-nuge.html

[2018-01-02 19:52] ghost opened #6375 "dotnet-nuget install"
[code]

results in:

[code]

works.

Please add `install` subcommand to dotnet-nuget, so we have nicer way to use this feature in non-Windows platforms.

[2018-01-02 19:53] ghost commented on #6375
@livarcocc, is this a correct repo for this request?

[2018-01-02 19:56] ghost commented on #6375
Apparently, only `push` subcommand is available
[code]

[2018-01-02 20:15] zhili1208 commented on #6373
this is by design, nuget restore hard fails when any enabled source is not available, we don't want to restore inconsistently based on which source is available. Please disable unused source before restore.

[2018-01-02 20:17] emgarten commented on #4953
I'll take a look.

[2018-01-02 20:25] zhili1208 commented on #6374
looks like NuGet.Command.Xplat don't have verbosity option, we should add it.

[2018-01-02 20:26] StingyJack commented on #6373
@zhili1208 - please explain how a restore can in any way be inconsistent in the scenario described above.

[2018-01-02 20:29] zhili1208 commented on #6375
@kasper3 could you help me understand your request? you can restore newtonsoft.json package, why you need "install" command? thanks

[2018-01-02 20:42] ghost commented on #6375
@zhili1208, `dotnet-cli` is a standalone utility on Windows and Unix platforms. Using nuget.exe on Unix currently requires Mono.

`dotnet nuget install` will open the opportunity for many non-project scenarios, where consumer wants to pull up a package and use resources within.

In essence, currently we create a `some.proj` file with `<PackageReference>` followed by `dotnet restore` to achieve the

[2018-01-02 22:36] zhili1208 commented on #6375
it's dupe of https://github.com/NuGet/Home/issues/5919

[2018-01-02 22:36] #6375 closed, assigned to nobody

[2018-01-02 22:47] ghost commented on #6375
@zhili1208, I don't understand how it's dupe of 5919? `nuget.exe install` is already a fact of life for serveral years, this request is to simply add `install` to `dotnet-nuget`.

[code]

works today, we need

[code]

similar to

[code]

with explicit source, even without requiring to have NuGet.Config.

Please reconsider this.

[2018-01-02 23:32] emgarten commented on #4953
`NuGetDefaults.config` does not support credentials. It was originally designed for enabling nuget.org by default across a machine, and it is **not** a normal NuGet.Config file.

Adding credentials to any other nuget.config file apart from nugetdefaults.config works fine for me and successfully reads the feed.

❌ This path does not support credentials:
`C:\Program Files (x86)\NuGet\NuGetDefaults.c

[2018-01-02 23:32] #4953 closed, assigned to emgarten

[2018-01-03 00:46] emgarten commented on #4938
Credential caching is still done based on the host. See: https://github.com/NuGet/NuGet.Client/blob/cbb5064e22ae0782d2fd8900e44bf0cd0409999e/src/NuGet.Clients/NuGet.Credentials/CredentialService.cs#L223

To fix this the client would need to understand the structure of the url so that other services on the same host re-use the cached credentials, but other feeds do not. For v3 index.json could poin

[2018-01-03 00:57] emgarten commented on #6224
I am also seeing a large amount of time spent due to all projects depending on a missing package version. The warning for this is currently suppressed with `NoWarn=NU1605` in all projects. I suggest fixing this and treating `NU1605` as an error for perf reasons.

[2018-01-03 01:08] anangaur commented on #6333
Just had a discussion with @rrelyea where it dawned upon us that we do not allow `push` for clients older than 4.1

So I guess it's more about third party clients. Also I think MyGet should not have any issues as they can make the change and since they are a service they do not have to deal with old behavior. The same goes with AppVeyor and Octopus Deploy.

Tagging the usual suspects :)

Paket @fo

[2018-01-03 01:14] emgarten commented on #6233
Adding a source with credentials to a nuget.config file and then calling `dotnet add` works fine for me. The package is downloaded using those credentials.

Note that the credentials must exist in nuget.config, the API key is only used for push. It is not a valid credential for downloading packages from a private feed.

All of this is working as expected on windows with dotnet CLI 2.0.5.

[2018-01-03 01:14] #6233 closed, assigned to nobody

[2018-01-03 06:45] emgarten commented on #3664
I'm not able to repro this.

I tried the following with dotnet CLI 2.0.3 on Ubuntu 16.04:
1. Created a private VSTS feed
1. added a package to the feed
1. dotnet new classlib
1. manually added a package reference to the .csproj
1. added a nuget.config file to the project folder containing the VSTS feed and the credentials in clear text
1. dotnet restore
1. package was downloaded successfully from

[2018-01-03 06:45] #3664 closed, assigned to emgarten

[2018-01-03 06:49] emgarten commented on #4049
The API key is only used for pushing packages. It is not used for authenticating to a private feed.

[2018-01-03 06:49] #4049 closed, assigned to nobody

[2018-01-03 09:34] ngruson commented on #6324
Me too, I had braces in the path of my workspace. Once I moved to another workspace without braces, this problem didn't occur.

[2018-01-03 10:15] marceloavf opened #6376 "PackageReference with Version ranges and wildcards"
Using **PackageReference** when we try to specify `Version="[1.3.2, 2)"`, it should get all the range close to version number 2, but, even if it has a `1.4.0` for example, it only get the `1.3.2`

It should get the `1.4.0`, not the `1.3.2`, right?

Only work if I say with the wildstar `1.*`

[code]
In the example above, jquery stay in `1.10.2`, doesn't try to go up.

---

NuGet product used: Visua

[2018-01-03 12:17] NicolasDorier commented on #6233
@emgarten do not close that. Lot's of people have the issue, it is not a collective hallucination and people here took lot's of time to document what is going on... here is the repro on windows.

[code]
 Try exact same step on your own private repo.
I can give you the creds to this server if you want...

Also worth noting `dotnet push` works but not `dotnet restore`.

[2018-01-03 12:18] NicolasDorier commented on #3664
@emgarten do not close that. Lot's of people have the issue, it is not a collective hallucination and people here took lot's of time to document what is going on... here is the repro on windows.

[code]
Try exact same step on your own private repo.
I can give you the creds to this server if you want...

Also worth noting `dotnet push` works but not `dotnet restore`.

[2018-01-03 13:09] drauch commented on #2389
Has this been released in the meantime?

[2018-01-03 13:49] IRooc commented on #3664
@emgarten we still have this issue just setup private nuget repository in iis with windows auth on it. Nuget works fine but dotnet restore fails! So the failing restore is done on a mac and the repo server is IIS. It is still an issue

[2018-01-03 14:27] hiromi3 commented on #6347
Hello,
Today, I installed the latest AngleSharp 0.9.9.1, I could install it successfully.
I do not know why previous 0.9.9 has a installation problem in my VS2017, anyway, the problem was solved.
If the problem happens again, I will report to you.

[2018-01-03 16:01] pcsantoro commented on #4710
I was getting similar symptoms trying to start the Nuget Package Manager Console:. Here is a link to a fix that worked for me:
https://developercommunity.visualstudio.com/content/problem/35803/help-error-the-package-manager-console-requires-po.html
I'm not a programmer, but from what I see, you have to re-direct Visual Studio to use a different version of PowerShell by modifying the devenv.exe.con

[2018-01-03 16:04] ArchieCoder opened #6377 "The Microsoft.Azure.CognitiveServices.Language nuget does not install in my main UWP app"
Hello,

I tried to install the Microsoft.Azure.CognitiveServices.Language nuget in my 1 year old UWP project. You can see the following video for the procedure: https://1drv.ms/v/s!Aj7hlcEeURZflqkGFh-OZiYCnu3A9g

The output is:

Restoring packages for E:\Kortext\UWP\samples\DLReader\DL-Reader\DLReaderRT\Kortext.Reader.Common\project.json...
Restoring packages for E:\Kortext\UWP\samples\DLReader\DL

[2018-01-03 16:18] rido-min opened #6378 "Repository Signatures"
Status: **Reviewing**

Use this issue to discuss the [Repository Signatures](https://github.com/NuGet/Home/wiki/Repository-Signatures) spec.

[2018-01-03 16:24] rido-min commented on #5889
@sidshetye NuGet.org will sign all (existing and new) packages with a NuGet.org certificate, you can read more about this feature [here](https://blog.nuget.org/20170914/NuGet-Package-Signing.html).

Additionally, for author signatures, the .NET foundation offers free code signing certificates.

Thanks for your feedback,
Rido

[2018-01-03 16:26] joelverhagen commented on #6333
For the `HTTP 202` issue, I have had the following issue tracked for ages: https://github.com/NuGet/NuGetGallery/issues/3603

Agreed that 202 is more appropriate. Easy server-side fix. We just need to be careful with the clients as you guys have been investigating. Given the 4.1 restriction that @anangaur mentioned, it seems like we should go for it as long as the community doesn't raise any red f

[2018-01-03 16:26] rido-min commented on #2577
[Repository Signatures](https://github.com/NuGet/Home/wiki/Repository-Signatures) spec has been published. Use issue #6378 to discuss.

[2018-01-03 16:51] maartenba commented on #6378
That looks like a solid spec! One remark: the matrix at the end has `Secure` as the mode for most entries, where I suspect a couple (near the end of the table) need `Strict` instead.

Also:

Any pointers as to what type of certificate would be needed?

[2018-01-03 16:53] rido-min commented on #6378
@maartenba I omitted the Strict mode intentionally. It will be covered in more detail with the Client Policies spec.

The certificate requirements will be the same as for author signatures. Code Signing, RSA 2048, SHA256 and so on.

[2018-01-03 18:12] kabua opened #6379 "Msbuild pack doesn't choose the right version for ProjectReferences"
## Details about Problem

- NuGet product used: VS2017
- NuGet version (x.x.x.xxx): Package Manager Console Host Version 4.5.0.4685
- VS version (if appropriate): 15.5.2
- OS version (i.e. win10 v1607 (14393.321)): Version	10.0.16299 Build 16299
- Worked before? If so, with which NuGet version: n/a

## Steps to Reproduce
There are two solutions files, ``NugetProjectRefTest_Core`` and ``NugetProjec

[2018-01-03 18:26] KevinMarquette commented on #3050
This version normalization is also causing issues with PowerShellGet Modules. Modules are internally versioned. So not only are the published versions getting changed when republishing, the installs are also not valid. The package version is getting used at install time and it does not match the module version at load time. This prevents it from working.

[2018-01-03 19:12] emgarten commented on #3664
@NicolasDorier from your steps I only see the API key being set. The API key is *not* used to authorize when reading a feed. It is only used for push.

Double check that your NuGet.Config file contains the username and cleartext credentials for the feed, and that the credentials are valid.

[2018-01-03 19:13] emgarten commented on #6233
@NicolasDorier I've responded on https://github.com/NuGet/Home/issues/3664

[2018-01-03 19:26] emgarten commented on #3664
@IRooc windows auth support in dotnet.exe restore is tracked here: https://github.com/NuGet/Home/issues/2393

[2018-01-03 20:00] emgarten commented on #6376
Restore takes the lowest version. Using a `*` is the correct way to float to a higher version.

You can also use an upper bound with a floating range:
`<PackageReference Include="jQuery" Version="[1.*, 2.0.0)"/>`

[2018-01-03 20:05] marceloavf commented on #6376
It'll always upgrade when a greater version in the same range appear?
In order to get consistent installs across machines, there is some way to store exactly which versions of each dependency were installed ?

[2018-01-03 20:10] emgarten commented on #6376
It will upgrade each time you run a restore with `--force` or when restore needs to re-walk the dependency graph.

Locking the version through source control is covered here: https://github.com/NuGet/Home/issues/4394

[2018-01-03 20:18] joelverhagen opened #6380 "Timestamp's SignedCMS does not contain all certificates"
https://github.com/NuGet/NuGet.Client/blob/a05632928e11d51b81d2299ba071334a16ce17a9/src/NuGet.Core/NuGet.Packaging/Signing/Timestamp/Rfc3161TimestampProvider.cs#L162-L171

This is mutating the `NativeCMS` which is a different instance than the `SignedCms`. The `SignedCms` is the one that is later encoded and put into the signature.

This results in only some of the TSA chain getting written to the

[2018-01-03 20:26] zhili1208 commented on #6377
Could you provide more details? which dll is missing for which project at runtime? And please provide the project.lock.json file for that project. Thanks

[2018-01-03 20:27] #6376 closed, assigned to nobody

[2018-01-03 20:35] zhili1208 commented on #6379
@rohit21agrawal looks like pack didn't use assembly version but used default version here

[2018-01-03 20:53] dasMulli commented on #6379
There is a `Directory.Build.props` containing conditions on `$(Configuration)`, which may be unset this early in the build depending on how the project was invoked. AFAIK the restore task doesn't use the properties of the references from the sln metaproj so the version written to `project.assets.json` is the default version. Not sure how this is handled from inside VS.

[2018-01-03 21:04] ArchieCoder commented on #6377
Here is the project.lock.json of the main app (which the Nuget is not added correctly in the References)[project.lock.json.txt](https://github.com/NuGet/Home/files/1601702/project.lock.json.txt)

At runtime, I get this error: {System.IO.FileNotFoundException: Could not load file or assembly 'http://Microsoft.Azure .CognitiveServices.Language, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf38

[2018-01-03 21:07] karann-msft commented on #6329
I agree with Joel that `enlist` would be confusing. We all seem to be leaning towards `relist`.

`relist`, typically used would mean, _listing again_. But for NuGet, `list `means _displaying a list of packages from a given source_. Hence, `relist `as a top level command doesn't intuitively lend itself to mean the opposite of delete/unlist.

However, someone who uses delete on NuGet.org knows it **

[2018-01-03 21:37] karann-msft commented on #5292
@mathisloge can you provide the repro steps for that error. What type of project were you trying to install the package to?

[2018-01-03 23:46] zhili1208 commented on #6377
From the Project.lock.json file, the dll is at Microsoft.Azure.CognitiveServices.Language\1.0.0-preview\lib\netstandard1.4\Microsoft.Azure.CognitiveServices.Language.dll @emgarten

[2018-01-03 23:59] emgarten commented on #3271
I have verified that dotnet.exe restore works with VSTS when using a PAT, provided in NuGet.Config with clear text.

If anyone is still hitting issues with VSTS feeds please open a new issue and provide full repro steps.

[2018-01-03 23:59] #3271 closed, assigned to alpaix

[2018-01-04 00:05] emgarten commented on #5398
@altinoren using Azure File Share to host packages sounds like a great idea.

The problem for both this and other network shares is, NuGet is accessing them through calls such as `File.Open` and `File.Exists`, there isn't a way to pass credentials to these calls like HTTP.

If there is a simple way to enable support for this in nuget.exe I'd be happy to investigate.

For now with Azure File Shares

[2018-01-04 00:05] #5398 closed, assigned to nobody

[2018-01-04 00:07] #3754 closed, assigned to nobody

[2018-01-04 01:27] #6313 closed, assigned to dtivel

[2018-01-04 02:43] #6347 closed, assigned to nobody

[2018-01-04 03:31] KyleInJB commented on #1823
+1 for bringing back release notes

[2018-01-04 04:52] Bunabun commented on #4190
Any news on this? Are we doomed to forever manually edit the .csproj file?

[2018-01-04 07:41] AndyTian-Devops opened #6381 "[Test Failure][zh-TW]String "Package Manager Console" doesn't localize on Package Manager Console"
**NuGet Version:** NuGet Dev 4784
**VS Version:** D15.6stg 27303.3000
**VS Language:** zh-TW
**OS Version:** Windows 10 RS3_Release

**Repro Steps:**
1. Create a C# UWP project.
2. Open Package Manager Console.
3. Observe the strings.

**Expected:**
String "Package Manager Console" should be localized.

**Actual:**
String "Package Manager Console" doesn't localize.
![zhtpackagemanagerconsole](http

[2018-01-04 07:47] AndyTian-Devops commented on #6381
However, the string is translated on following places.
![20180104](https://user-images.githubusercontent.com/12235523/34554171-77e94150-f123-11e7-9606-6a3abf2746d1.png)

[2018-01-04 10:26] nietras opened #6382 "nuget update still fails for new csproj format"
When will this be resolved? What if one needs to use the `PackageReference` and cannot use `packages.config`?

## Details about Problem
Running:
[code]
fails with
[code]

NuGet Version: 4.4.1.4656
VS version (if appropriate): 15.5.2
MSBuild version: 15.5.180.51428 for .NET Framework
OS version (i.e. win10 v1607 (14393.321)): win10

## Detailed repro steps so we can see the same problem

1. Run `nu

[2018-01-04 10:33] vdachev commented on #6166
A side effect of the difference between the behavior of the "update" and the "restore" command is that the "update" command does not process any "packages.**ProjectName**.config" files which makes it impossible to update projects in a solution.

[2018-01-04 10:37] andrewducker commented on #6166
@vdachev - check my comment from 20th November for the workaround I'm using.

[2018-01-04 10:54] vdachev commented on #6166
@andrewducker , there's a something that didn't show up in my previous comment - I meant a "packages.**ProjectName**.config" file that is discovered by the "install" and "restore" commands, as well as recognized by Visual Studio tooling.
Unfortunately, there is no way to specify which "packages.config" file to use for which project. And it happens so that in my case these should be different for e

[2018-01-04 11:04] mattwhetton commented on #5832
Just to clarify the solution to this is to use msbuild pack?

[2018-01-04 11:18] mathisloge commented on #5292
@karann-msft
I´ve just created a new Windows UWP app and installed the "Newtonsoft.Json 10.0.2".
I´m trying to reproduce these errors shortly.

[2018-01-04 12:46] NicolasDorier commented on #3664
@emgarten thanks a lot, this was the problem. I used `nuget sources add` to add the nuget source with myget credentials and it worked fine.

[2018-01-04 13:25] RamjotSingh commented on #4125
This becomes a serious problem when you are trying to generate a package and have added StyleCop to the project. Since Stylecop is not added as a developmentDependency the resulting nuget package declares it as a required dependency which should never be the case.

[2018-01-04 15:24] Taritsyn opened #6383 "Problem with the pre-release version suffix, which ends with a number greater than 9"
Having released a [package with version `3.0.0-alpha10`](https://www.nuget.org/packages/JavaScriptEngineSwitcher.V8/3.0.0-alpha10), I faced into the problem of updating projects to this version via Visual Studio UI (NuGet Package Manager for Visual Studio 2013 version 2.12.0.817 and Visual Studio 2017 version 15.5.2 with NuGet Package Manager version 4.5.0). Problem is that the pre-release version

[2018-01-04 15:36] kabua commented on #6379
I've tried using both the Version and the PackageVersion elements, neither one worked.

[2018-01-04 15:50] kabua commented on #6379
Last night while converting one of our projects from VS15 to VS17, I happened to notice that a depend nuget package was referencing a project reference dependency correctly. This morning I manually compared the working solution with one that wasn't working. I discovered that the working solution has one very minor difference. The working dependency project included a package called ``PropertyChang

[2018-01-04 16:03] AlexisColes commented on #6126
Sorry, I have been a little on the slow side seeing your response.

I am not asking nuget to do anything outside install nuget packages, I am just asking for a way to map the transforms that it does to a different filename.

We cannot use the web.config file as our source file as we want to add tokens into the web.config and transforming said web.config on build would replace the tokens with the r

[2018-01-04 16:04] kabua commented on #6379
Oh, there is one strange side effect to this. The nuget spec for A shows the debug (i.e. prerelease) version number of B regardless of which order I build things. E.g. building _Debug then Release_ or _Release and then debug_ produces the same result. Both `A.8.0.0.nuget` and `A.8.0.0-Debug.nuget` references B's `8.0.0-Debug` package.

Batch file snippet:
[code]
After thinking about this I actuall

[2018-01-04 16:09] dasMulli commented on #6379
You also need to restore for the right version. the package versions are locked during restore.

=> `msbuild /restore /t:Pack /p:Configuration=Release` (`/restore` requires 15.5+)

See https://github.com/NuGet/Home/issues/4337

In your example, I feared that the restore won't see the values of `PackageVersion` to be set, since if you don't specify `/p:Configuration=...`, it won't trigger the `'$(C

[2018-01-04 16:39] kabua commented on #6379
@dasMulli I tried your idea of adding restore first, i.e.
[code]
and
[code]

Either of them worked.

However, I just tried another idea, I realized that the dependency projects that are having issues don't include any nuget package references. So, it isn't the fact that I added `Fody` it's that I added **at least one** package  -  any package will do.

IOWs, the nuget logic only works if the depen

[2018-01-04 17:20] #6360 closed, assigned to dtivel

[2018-01-04 17:20] dtivel commented on #6360
Fixed by https://github.com/NuGet/NuGet.Client/pull/1918.

[2018-01-04 17:31] kabua commented on #6379
FYI - as a work-a-round I created an empty nuget package as a place holder, like so:
[code]
Where the `readme.txt` has the same text same as the description.

This works nicely, it doesn't add anything to the project's output etc but it does cause VS and/or nuget to work correctly.

[2018-01-04 17:35] dasMulli commented on #6379
Ah I see where this is going.

As long as there is no package reference, you'll need to set the property
[code]
in classic csproj files.

@zhili1208 @rohit21agrawal is just adding an import for the sdk target to a classic project even "supported"?

[2018-01-04 17:38] dasMulli commented on #6379
@kabua for .NET Framework packages, if you want msbuild-integrated package generation, you will have a better experience using an "sdk-based" project since it sets or defaults all the required properties. You can create a .NET Standard class library and change the `TargetFramework` property in the csproj file from `netstandard2.0` to e.g. `net461`. Depends on what you need - "logic"-libraries shou

[2018-01-04 18:06] rohit21agrawal commented on #6379
@dasMulli  i am afraid it's not. You can either be a packages.config based classic style project, or you can be PackageReference based classic style project, or you can be a NETCore SDK style project .

@kabua - @dasMulli is right, you do need RestoreProjectStyle property for what you are doing.

[2018-01-04 18:09] Eilon commented on #4190
I think with the upcoming Global Tools feature the priority of this might be a bit lower.

I think @KathleenDollard and @richlander can share more thoughts on this.

[2018-01-04 18:45] kabua commented on #6379
@dasMulli thanks, adding <RestoreProjectStyle>PackageReference</RestoreProjectStyle> worked!

I will also try changing my projects to .NET Standard (which I haven't done before so I'm not sure what I'm getting myself into). We have 12 projects that make up two frameworks that are consumed by several WPF and ASP.NET WebAPI applications. Therefore, can WPF and ASP.NET applications consume .NET Stand

[2018-01-04 19:19] dasMulli commented on #6379
Yes those projects can consume .NET Standard libraries.

If you need .NET Framework specific functionality in the library packages (e.g. WPF-specific libraries, System.Web namespace) you can still use the new project format and tooling to produce .NET Framework specific packages - there's just no template for this in visual studio, but quite a few open source projects have moved to using this.

Th

[2018-01-04 19:20] nkolev92 commented on #6122
Closing this as it will not bring us the initially expected expected benefit, due to the fact that restore evaluation is with `ExcludeRestorePackageImports=true`.

For OrchardCore:

/t:build /restore
Time Elapsed 00:00:57.75
Time Elapsed 00:00:58.31

/t:restore,build
Time Elapsed 00:00:57.81
Time Elapsed 00:00:58.82

[2018-01-04 19:20] #6122 closed, assigned to nkolev92

[2018-01-04 19:22] emgarten opened #6384 "Suppress No-Op Restore messages in Visual Studio"
When a noop restore occurs in VS it currently writes out several messages to the status bar. This causes extra noise and makes it appear as though work is happening. VS should instead suppress these messages unless a real restore is happening.

Example scenarios where noop restores happen often:
1. Changing between Debug -> Release
1. Running tests with test explorer

[2018-01-04 19:37] zhili1208 commented on #6382
Could you try donet Cli: https://github.com/dotnet/cli ? "donet add [csproj] package [packageName]", it should update the package for PackageReference.

[2018-01-04 19:42] zhili1208 commented on #6383
Please use Semver 2.0.0, like "3.0.0-alpha.10" https://semver.org/

[2018-01-04 20:00] jainaashish commented on #4125
I'll pick this up and first thing we'll make sure is if package has set `DevelopmentDependency` then respect that while installing as `PackageReference` and set `PrivateAssets` to `All`

[2018-01-04 20:05] clairernovotny commented on #4125
@jainaashish Are you talking about what the install gestures/UI does or how it generates the lock file? Ideally, I would like to see this value put into the lock file based on the nuspec metadata even if the `PackageReference` doesn't have anything. "Just" read the .nuspec from the cache directory on restore and determine if it's a development dependency on the fly?

[2018-01-04 20:23] jainaashish commented on #4125
I'm talking about the install gesture which will make it flow to lock file. Just changing lock file might not feasible since it will make it hard for users to override.

[2018-01-04 20:28] clairernovotny commented on #4125
Overriding could be still done if `PrivateAssets` is explicitly specified?

[2018-01-04 20:42] bording commented on #4125
I'm with @onovotny on this one. I'd much rather have `DevelopmentDependency` mean that the default `PrivateAssets` value be `all` instead of `none` for that package.

Then, if I have some reason to override the default, I can add `PrivateAssets` to the reference and set it to whatever value I need.

The main reason I think this is better is that if I'm adding a package reference by hand, everythin

[2018-01-04 20:43] emgarten opened #6385 "Allow nuget.exe to prompt for credentials when VisualStudioVersion is set"
This check should be removed. It blocks nuget.exe from prompting when run from the developer command prompt.

It has a comment saying to remove it soon, but it appears exist in nuget 2.8.6 also.

https://github.com/NuGet/NuGet.Client/blob/610670697aa919cc06cc83bf0098e5e795593434/src/NuGet.Clients/NuGet.CommandLine/Program.cs#L319-L320

[2018-01-04 20:54] jainaashish commented on #4125
I meant you can always change PrivateAssets value on PackageReference, but I see your point as well to not make it explicit and confuse users.

[2018-01-04 22:00] hasanOryx commented on #2880
It gave `bash: export: `:port': not a valid identifier` when I tried `export ALL_PROXY=proxy ip address :port number` a Mac, what is the `port` tobe used?

[2018-01-04 22:09] jainaashish commented on #4125
I didn't see @emgarten has already commented above [regarding this](https://github.com/NuGet/Home/issues/4125#issuecomment-289182905) It might work in most cases but if it fails then it will be really hard to figure out. So our best bet would be to make this change at install time and add metadata `PrivateAssets` to `All` on PackageReference.

[2018-01-04 22:13] AArnott commented on #4125
My concern with this plan is that I personally don't use the UI for adding package references. I add them all manually. For anyone like me, that means they won't necessarily know or think to add `PrivateAssets="all"` to the tag. But I guess I *probably* know at the time I hand add that reference that I don't mean for it to propagate, so I guess it's not the end of the world if you go with that des

[2018-01-04 22:15] emgarten commented on #2750
Credentials should be provided through NuGet.Config and encrypted. The prompt is an optional way to provide credentials if they were not set in NuGet.Config.

[2018-01-04 22:15] #2750 closed, assigned to nobody

[2018-01-04 22:16] emgarten commented on #2688
This has been fixed in `msbuild /t:Restore`, it would be great if nuget.exe supported this also.

[2018-01-04 22:24] emgarten commented on #6341
`VisualStudioVersion` might be the problem here. I came across this when testing auth and believe it is a bug, it shouldn't skip the prompt based on the variable. I've opened https://github.com/NuGet/Home/issues/6385 to fix it.

[2018-01-04 22:30] emgarten commented on #5124
This looks very painful. I believe the work around would be to disable parallel processing. The fix for this would likely need to involve allowing the credential prompt provider to suspend all logging until it completes.

[2018-01-04 22:31] emgarten commented on #4627
@nkolev92 has this been fixed in 4.5.0?

[2018-01-04 23:34] nkolev92 commented on #4627
Looking at it quickly, the restore settings bit is an issue that I bypass in no-op, but haven't considered not writing in the project.assets.json.
The difference there is that hideWarningsAndErrors is implied by the SDK in VS.

Looking at the 2nd part, I don't  think that's fixed.
Self-assigning, will investigate and try to get it in 4.6.0

[2018-01-04 23:38] KathleenDollard commented on #4190
Tools aren't really packages, they have a different purpose, so `add package` seems the wrong gesture.

We're working on a better tooling story overall, and EF is definitely in that mix. More to come soon.

[2018-01-05 00:16] #2880 closed, assigned to nobody

[2018-01-05 01:34] #6385 closed, assigned to emgarten

[2018-01-05 01:38] rohit21agrawal commented on #6339
more info about this?

[2018-01-05 02:16] #4790 closed, assigned to rohit21agrawal

[2018-01-05 02:17] #4337 closed, assigned to rohit21agrawal

[2018-01-05 04:50] StingyJack commented on #3050
@emgarten - This reads as "We broke it, but aren't willing to fix it. One of you can." Is that really what is being said?

Whomever had the burning desire to coerce a 3 part version number - when the target is microsoft assemblies, that have been 4 part for 30+ years and still are - should just put this back the way it was ASAP without imposing upon everyone to do something extra.  I say everyone

[2018-01-05 07:40] KevinMarquette commented on #3050
I think I found the bug with 4 part version numbers that have a trailing 0, but I would like someone that knows the project take a look and run the tests.

https://github.com/NuGet/NuGet.Client/blob/6e6f469828435d0a3c88aa153808ba380c6d0d71/src/NuGet.Core/NuGet.Versioning/NuGetVersion.cs#L180

        public virtual bool IsLegacyVersion
        {
            get { return Version.Revision > 0; }

[2018-01-05 07:41] raffaeler commented on #4190
@KathleenDollard are you saying that there is no solution for the current release of the product?

[2018-01-05 10:14] netandrights commented on #6370
This is also true if the path contains one of these two characters:
(
)

VS version: 15.5.2
Nuget Package Manager Version: 4.5.0.4685
OS version: win10 v1703 (15063.786)

[2018-01-05 10:40] pepone opened #6386 "IVsPackageProjectMetadata doesn't provide unique project identifier"
Hi,

The visual studio API IVsPackageProjectMetadata ProjectName does not allow to identify what project a package was installed as there can be several project with the same name in a solution.

Will be good to provide the project [UniqueName](https://docs.microsoft.com/en-us/dotnet/api/envdte.project.uniquename?view=visualstudiosdk-2017) or [FullName](https://docs.microsoft.com/en-us/dotnet/api/

[2018-01-05 14:27] RedsGT commented on #6332
Do we have a ETA for a fix on this?

[2018-01-05 15:20] lbargaoanu opened #6387 "Unhelpful exception with RestoreCommand"
While using the API for restore, I'm trying to install a package that doesn't exist. Also one of the sources doesn't exist. Restore fails with an unhelpful exception. [Details](https://gist.github.com/lbargaoanu/17344fcecda10db2b4b9aff46c27185a).
Version 4.05.0.4685.

[2018-01-05 16:01] SH2015 commented on #4234
Same issue here, please fix the bug ASAP
@zhili1208

[2018-01-05 18:31] jainaashish commented on #6386
What is your scenario to use this `IVsPackageProjectMetadata`? This isn't a public api instead a metadata type provided for NuGet batch events `BatchStart` and `BatchEnd` through `IVsPackageInstallerProjectEvents`

[2018-01-05 19:35] Red4Studios commented on #6324
Another me too,  Dropbox had added parentheses to my path \Dropbox (Business Name)\.  I created a symbolic link without them to work around this issue.

[2018-01-05 19:37] dotMorten opened #6388 "Contents and .targets in package dependencies are not included in the build process"
In a .NET Standard project I'm referencing a NuGet Package, that in turn references other nuget packages to perform bait'n'switch. For instance sub-packages for UWP, Android and iOS. These sub packages deploy various resources like native libraries, shaders etc.

Next you create your app heads for iOS, Android and UWP, and you reference your .NET Standard project. In turn the NuGet package also ge

[2018-01-05 19:38] zhili1208 commented on #6387
we should remove all those unhelpful exception, it's a dupe of https://github.com/NuGet/Home/issues/5779

[2018-01-05 19:38] #6387 closed, assigned to nobody

[2018-01-05 19:45] nkolev92 commented on #6198
Due to the way we do compat checking and performance considerations, we will be doing the follwoing:

ToolPackage cannot be found in the normal project graph (only in the special project graph).
Top level dependencies of DotnetToolReference projects HAVE to be of DotnetTool type!

So in theory a package can reference a tool project, but it will never be restoreable.
In addition, people would have

[2018-01-05 19:45] nkolev92 commented on #6199
Added RestoreRootConfigDirectory

[2018-01-05 19:46] nkolev92 commented on #6260
This is on hold right now, due to design changes.

[2018-01-05 19:49] anangaur commented on #6260
@nkolev92 shouldn't be required now. right? Are we still deliberating on the location of the extracted tools package payload?

[2018-01-05 19:52] nkolev92 commented on #6260
@anangaur
As far as I know, we moved it.

Haven't heard any official confirmation though, so I was gonna leave it open.

@wli3 Can we close this now?

[2018-01-05 19:54] lbargaoanu commented on #6387
Thanks for the info.

[2018-01-05 21:20] rido-min opened #6389 "Restore errors do not include the error code in the VS ErrorList"
NuGet restore errors are shown with an empty Code in the VS Error List.

**Repro Steps**
Create a .NETCore 1.0 Console App
PM>Install-Package Dapper -Version 1.0.0

**Expected**
See the NU1201 error code in the error list

**Observed**
Empty error code

[2018-01-05 22:17] jnm2 commented on #2762
For what it's worth, this is the second or third time I've been looking for the NuGet gitter channel and ended up here.

[2018-01-05 22:27] anangaur commented on #2762
@jnm2 I think gitter channel would be a great value add, in general. What I am not sure right now is what the expectation from such a gitter channel would be from the NuGet team?

Example, if there is a question on NuGet, should NuGet team be **obliged** to answer it or let the community take care of the conversation (Obviously the team members are free to participate at will)?

If it is the forme

[2018-01-05 22:27] rlillback opened #6390 "Installing packages fails with Powershell Exceptions & creates folder that must be deleted via save mode boot."
NuGet product used: Visual Studio UI
NuGet Package Manager - 4.5.0
dotnet.exe --version : 2.1.2
VS version: Visual Studio Professional 2017 Version 15.5.2
OS version: win10 Pro v1709 (16299.64)
Worked before? Yes  If so, with which NuGet version: Not sure, but worked with Prior Version of Visual Studio Pro 2017
Powershell Version: 5.1.16299.64, compatible with 1.0, 2.0, 3,0, 4.0...

## Detailed re

[2018-01-05 22:49] zhili1208 commented on #6390
Looks like this issue https://github.com/NuGet/Home/issues/2686, could you try the workaround: aspnet/Tooling#755 (comment)

[2018-01-05 22:51] jnm2 commented on #2762
My expectation is that it would be handled the same way that corefx, coreclr, roslyn, and others handle their channels. Not a support channel so much as a way for us to talk about things that are off-topic in, say, the corefx channel. If I don't get a response on Gitter and it's blocking me, I'll open an issue.

[2018-01-05 22:55] daveaglick commented on #2762
I don't think there _needs_ to be any level of expected participation by the NuGet team (though some participation would obviously be nice). The problem right now is that without an "official" real-time chat channel there's no where for the community to gravitate towards. Creating such a channel would help direct users to a common place.

[2018-01-05 23:12] jnm2 commented on #452
My company has a few framework-like NuGet packages. They are SDK packages containing 309 assemblies to be referenced by plugins for an enterprise financial software package. You want the assemblies to be referenced for compiling and editor tooling, but you'd never want to distribute them any more than you'd distribute .NET Framework assemblies with your app. Copying them to build output makes it i

[2018-01-05 23:24] mishra14 commented on #6384
cc : @nkolev92

[2018-01-05 23:48] bricelam commented on #6198
I'm arguing semantics here, but shouldn't this be: *Only Dependency packages are allowed*

[2018-01-06 01:58] rohit21agrawal commented on #4790
FYI this fix is going to be release in Update 6 of Visual Studio aka 15.6

[2018-01-06 01:58] rohit21agrawal commented on #4337
FYI this fix is going to be release in Update 6 of Visual Studio aka 15.6

[2018-01-06 14:46] Taritsyn commented on #6383
@zhili1208 Thanks for information! But even if use this notation (`3.0.0-alpha.10`) in Visual Studio 2017, then still version `3.0.0-alpha9` will be considered the last.

In addition, this notation is not supported in Visual Studio 2013 and 2015. In Visual Studio 2015, using this notation causes an error:

[code]

[2018-01-06 15:47] dasMulli commented on #6383
The label `alpha9` is still considered higher than `alpha`, so if you had been using SemVer 2 all along, it would choose `-alpha.10` over `-alpha.9` but not over `-alpha9`.

This is why many counter or commit count based versions that are backwards compatible use some form of padding, e.g. `-alpha-0009`, `alpha-0010` etc.

[2018-01-06 16:35] Taritsyn commented on #6383
I already understood that myself. Can you give an example of a package on www.nuget.org, that supports a new notation?

I think that for me it's too late to use this approach.

[2018-01-06 16:45] AwesomeYuer commented on #6280
@rrelyea , I have a lot of solutions depends on multiple different versions of nuget package, such as json.net 1.0～10.0, I want save them into their  solution owned directory, it's like .net solution(not net core), in .net solution situation, there is a sub directory named packages in solution directory, and every sub project will depends and reference package from here. also these packages asset

[2018-01-06 23:14] InteXX commented on #3050
Vote: leading zeros are needed here.

[2018-01-06 23:30] cgillum commented on #5350
Same issue for me after upgrading to the latest VS2017. I had to update my .sln file and all my .csproj files to fix all the casing issues. After that, these errors went away and I could build again.

[2018-01-07 00:15] AndrewBragdon opened #6391 "[NuGet Packaging] Add Visual Studio Template for NuGet package creation (it's 2018 guys)"
There is STILL no Visual Studio Template for NuGet package creation.  There is also no UX in Visual Studio for publishing a NuGet package to Nuget.org.

Everyone expects Microsoft to provide this, and it's been roughly a decade.  How long would this take?  It would probably significantly increase NuGet adoption, and also help standardize a preferred way of doing this instead of everyone inventing

[2018-01-07 04:37] emgarten commented on #6391
@AndrewBragdon have you tried `Generate NuGet package on build` in VS 2017?

https://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html

[2018-01-07 12:05] gordonAndersen opened #6392 "I suggest that you could specify a repository from where nuget.exe should update from"
I suggest that you could specify a repository from where nuget.exe should update from. E.g. nuget update -self -repository my.corperate.server
It wold then be easier for a company to control the version of the nuget.exe version and also no need to open for the firewall - when you already only use a local nuget repository.

[2018-01-07 23:43] AndrewBragdon commented on #6391
@emgarten This is only for .NET Core which doesn't help me unfortunately

[2018-01-08 00:02] dasMulli commented on #6391
@AndrewBragdon you can create a .NET Standard nuget package and edit

[code]
to e.g.
[code]

to get all the same benefits that the new .NET Standard and .NET Core projects have.

More details at https://stackoverflow.com/questions/44656655/how-do-i-create-a-nuget-package-with-visual-studio-2017/44657085#44657085

[2018-01-08 00:04] dasMulli commented on #6391
However, the underlying issue probably still is that there is no template yet for an "SDK-based" .NET Framework class library. Some features of .NET Framework class libraries still don't work well in the new project system (I remember some ppl complaining about .edmx designer and correct embedding).

[2018-01-08 01:42] jamesqo opened #6393 "[Question] How to get the metadata of every single package on NuGet.org"
Hi, I want to read the metadata of all 100k+ packages listed on NuGet.org into a giant CSV file so I can use data processing on it. What's the code for this? So far, this is what I have:

[code]

This seems to be failing at the `GetMetadataAsync` call when I pass in an empty query.

[2018-01-08 01:51] ghost opened #6394 "dotnet-nuget install (reopening #6375)"
I believe #6375 is NOT a duplicate of ##5919 as @zhili1208 mentioned.

Request is to simply add `install` to `dotnet-nuget`.

This works today:

[code]

we need `dotnet nuget install` command:

[code]

similar to:

[code]

with explicit source, even without requiring to have NuGet.Config.

[2018-01-08 03:44] joelverhagen commented on #6393
Hey @jamesqo, thanks for taking an interest in this. The code you have right now is using the `PackageMetadataResource` which is useful when you want to find in-depth information about a single package ID. That is, this works when the package ID is known in advance.

What you're asking to do is to enumerate all packages on NuGet -- to discover all package IDs (and presumably versions as well). Thi

[2018-01-08 08:39] pepone commented on #6386
Hi,

IVsPackageProjectMetadata is documented as part of the [API ](https://docs.microsoft.com/en-us/nuget/visual-studio-extensibility/nuget-api-in-visual-studio)so I assume it was part of the public API, my use case is to make some project adjustments after certain NuGet packages are install

[2018-01-08 08:56] xiaolu6t opened #6395 "net40-client install error"
I create a library project for net40-client.then I copy this assembly file to the nuget package folder "net40-client",and I use nuget command to create a nuget package file.when I install the nuget to a project,it will pop warning and errors.If I modify that nuget package folder which named "net40-client" to "net40",it's installed successful.It's that folder errors?

[2018-01-08 09:02] emgarten commented on #6394
@kasper3 can you explain how this is different from https://github.com/NuGet/Home/issues/5919?

https://github.com/NuGet/Home/issues/5919 covers adding support download packages outside of a project, the same thing `nuget.exe install` does.

[2018-01-08 09:07] #6394 closed, assigned to nobody

[2018-01-08 10:46] #6395 closed, assigned to nobody

[2018-01-08 13:43] clairernovotny commented on #4581
This also affects Xamarin projects referencing libraries that use PackageReference but where the Xamarin "head" projects do not have any PackageReferences of their own.

[2018-01-08 14:45] MeTitus commented on #5441
This is still an ongoing issue. I am running version 4.4.1 and what was working before, isn't working anymore. Files are added to the package but no references are added. I really think it is time to re-think the whole model because lately nuget.exe is all but a big mess.

[2018-01-08 15:22] nirbar opened #6396 "nuget update can't update project when there are multiple project files in a folder"
## Details about Problem

NuGet product used: NuGet.exe

NuGet version: 4.4.1.4656

OS version: Windows 7

## Detailed repro steps so we can see the same problem

1. Create a folder with two or more project files and a single packages.config
1. Execute nuget.exe update packagesconfig

- *Result*: Found multiple project files for '...\packages.config'
- *Expected*: Support command line flag to spec

[2018-01-08 16:50] Cheesebaron opened #6397 "NuGet CLI restore multiple solutions at once"
## Details about Problem

I have a build where I need to restore packages for approximately 140 solutions, with each multiple projects. I am using the NuGet CLI tool to do so.

Restoring NuGet’s when the cache is cleared takes around 18 minutes for these solutions and around 6 minutes when the cache contains all the packages.

I find that since I need to feed NuGet.exe with one solution at a time,

[2018-01-08 17:29] natemcmaster opened #6398 "Breaking public API in minor version updates of NuGet API causes runtime errors and/or compilation errors"
Between 4.5.0 and 4.6.0-rtm-4789, some public API has been removed from NuGet's assemblies. This binary incompatibility is causing failures in @aspnet's build tools and infrastructure as we try to upgrade to new versions of the .NET Core SDK.

Examples:
 - https://github.com/NuGet/NuGet.Client/commit/8bc20a92f97b5007b8cb80b2e4285da7c7a63a03 - removed `NuGet.Protocol.Core.Types.MetadataResource.Exi

[2018-01-08 17:31] JKennedy24 opened #6399 "Exclude feature doesn't work when using PackageReferences and .NetStandard"
I am trying to use the `Exclude` feature outlined here: https://docs.microsoft.com/en-us/nuget/consume-packages/dependency-resolution#excluding-references

I have a .Net standard 1.4 library and a UWP project.

I have added a nuget package to my UWP project using the `PackageReference` technique and added the `Exclude="All"` flag to my packagereference but the libraries are still included and caus

[2018-01-08 18:24] jainaashish commented on #6386
`my use case is to make some project adjustments after certain NuGet packages are install`

For this, you can use [IVsPackageInstallerServices](https://docs.microsoft.com/en-us/nuget/visual-studio-extensibility/nuget-api-in-visual-studio#ivspackageinstallerservices-interface) and it's `GetInstalledPackages` api

[2018-01-08 18:31] muratg commented on #6398
👀

[2018-01-08 18:38] pepone commented on #6386
@jainaashish providing an unique name that allow to identify the project seems useful, what is the use case of provide a non unique name?

GetInstalledPackages  doesn't help as it doesn't allow to know the projects where the package is installed, just list all the packages installed in the current solution.

What I have to do is iterate the projects in the current solution and  then use IsPackageI

[2018-01-08 19:11] nkolev92 commented on #6383
@Taritsyn
Unfortunately, at this point, there isn't much you can do other than drastically changing you prerelease versions.

Semver 2.0 is available for VS 2015, however, as we shipped a downlevel version 3.6.0, which you can find on nuget.org/downloads.
Unfortunately the warning on nuget.org is outdated, so I have filled an issue to get it updated. https://github.com/NuGet/NuGetGallery/issues/52

[2018-01-08 19:15] nkolev92 commented on #6388
Related https://github.com/NuGet/Home/issues/6091, there we want to change the default for build assets to allow them to flow transitively.

[2018-01-08 21:02] Ro3A opened #6400 "VS 2017 "Error in type" when opening nuget console"
Opened Nuget console today to run a command and got the following:

![image](https://user-images.githubusercontent.com/19931334/34692108-f25883f8-f48c-11e7-9e56-524da2e5b3d9.png)

I'm using VS 2017 on Windows 10. Have not had any issues with nuget in the past and I've been away from the computer for a couple days over the holidays and thus have not installed anything or otherwise changed my develo

[2018-01-08 22:11] dtivel opened #6401 "Signing: incorrect requirement that commitment-type-attribute have only one value"
Indirectly through use of [`AttributeUtility.ToDerSequenceReader(...)`](https://github.com/NuGet/NuGet.Client/blob/610670697aa919cc06cc83bf0098e5e795593434/src/NuGet.Core/NuGet.Packaging/Signing/AttributeUtility.cs#L276) extension method, [`AttributeUtility.IsValidCommitmentTypeIndication(...)`](https://github.com/NuGet/NuGet.Client/blob/610670697aa919cc06cc83bf0098e5e795593434/src/NuGet.Core/NuGe

[2018-01-08 22:39] rlillback commented on #6390
Hello zhili1208.  I followed the instructions listed above.  That fixed the issue.  Thanks and you can close this issue!

[2018-01-08 22:52] nkolev92 commented on #6339
I think it's pretty clear, and this is as much information as I have at this point.
Over a year back I built an initial prototype covering packages.config only, but there's plenty of design work  needed for the package reference scenario.

[2018-01-08 22:56] nkolev92 commented on #6391
As @dasMulli pointed out there are some gaps for .NET Framework and the SDK based project style.

We already have easily accessible, relevant documentation on how to create NuGet packages of all types.
https://docs.microsoft.com/en-us/nuget/create-packages/creating-a-package

[2018-01-08 23:04] nkolev92 commented on #6392
Thanks for filing this issue.
We understand you concern, but we also need to consider the fact that "update -self" should never update to a non-Microsoft NuGet release. Allowing "any" source there introduces that risk.

We will triage this appropriate and come back to this issue.

[2018-01-08 23:40] nkolev92 commented on #6396
This is not a supported scenario for NuGet 4.4.1.
Your options here are either define a project-level packages.config and manage each project's packages independently, or try some tricks where you update the packages.config for 1 project, and then just copy the updated references into the other one.

[2018-01-08 23:40] #6396 closed, assigned to nobody

[2018-01-08 23:53] nkolev92 commented on #6397
Let me start with saying that this is a very unusual scenario :)
Can you please share some more details about what you are doing.

What's your project restore style?

There are more options if you're using package reference, less so if it's packages.config.

A feature like this would require some discussion and design work, so we'll need to evaluate how much demand we'd have for something like thi

[2018-01-09 00:02] nkolev92 commented on #6398
The only APIs that we "officially" publicly support are the IVs ones.

What kind of documentation are you referring to about the above APIs?
These are more dynamic and have evolved as we see fit.

We'll discuss and get back to you on this.

[2018-01-09 00:06] nkolev92 commented on #6400
What's the command you are trying to run here?

NuGet just bootstraps powershell here, nothing fancy. Later we just add our powershell command module.

Can you please check if your powershell version has been upgraded?

For example mine is:
[code]

[2018-01-09 00:15] rohit21agrawal commented on #6399
use ExcludeAssets instead of Exclude

[2018-01-09 00:33] emgarten commented on #6391
* The UI for uploading a package to nuget.org is the nuget.org web site, I'm not sure that having this inside VS would be helpful, and it would likely have a negative impact on nuget.org and the number of accidental pushes.
* You can take look at nugetizer for help creating packages https://github.com/NuGet/NuGet.Build.Packaging   In general a project template for a nupkg doesn't make sense, the n

[2018-01-09 00:33] #6391 closed, assigned to nobody