[2017-02-22 19:31] #3558 closed, assigned to nobody

[2017-02-22 19:35] #4669 closed, assigned to nobody

[2017-02-22 19:50] anangaur opened #4677 "Command to list all the package dependencies for a project"
If I have a project with following dependencies

Project: Foo
- DepencencyPackageA
- DepencencyPackageB
- DepencencyPackageC

I should have a command like

[2017-02-22 19:57] rohit21agrawal commented on #4660
@stormleoxia you are confusing Netstandard.Library (which is a package dependency) with the target framework .NetStandard1.4

Just because the target framework is .NetStandard1.0 , doesn't mean it will need Netstandard.Library 1.0.0 . There is no correlation between target framework and netstandard.library versions like that.

It's still interesting as to why your package Lx.Performance is trying

[2017-02-22 20:00] rohit21agrawal commented on #4651
@johnkoerner please let me know if you are still having trouble with building the repository, and i can help you out with it .

[2017-02-22 20:04] mishra14 opened #4678 "TelemetryEvent crashes restore if project entry is null"
Observed locally on NuGet.Sln

Call [here](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.SolutionRestoreManager/SolutionRestoreJob.cs#L248) seems to be failing because the entries inside the primaryCache are not correctly populated.

I am investing the cache issue. But the telemetry call should not block restore.

Stack -

[code]

[2017-02-22 20:08] emgarten commented on #4463
@caleblloyd NuGet reads ``BaseIntermediateOutputPath``

[2017-02-22 21:33] #3977 closed, assigned to nobody

[2017-02-22 21:33] kzu commented on #3977
Fixed

[2017-02-22 21:57] johnkoerner commented on #4651
@rohit21agrawal I haven't gotten back to that yet, but I am sure I can figure it out. I was just logging the issue to help others in the future.

[2017-02-22 23:11] emgarten commented on #4674
Does not have a high enough hit count.

[2017-02-22 23:11] #4674 closed, assigned to nobody

[2017-02-22 23:11] emgarten commented on #4673
Does not have a high enough hit count.

[2017-02-22 23:11] #4673 closed, assigned to nobody

[2017-02-22 23:38] jainaashish opened #4679 "RestoreManagerPackage being loaded synchronously which blocked UI thread and deadlocked VS"
Internal bug: 387082

NuGet SolutionRestore Manager package with guid 2B52AC92-4551-426D-BD34-C6D7D9FDD1C5 is being loaded synchronously and blocks UI thread which caused deadlock.

0f (Inline) -------- clr!Thread::Wait+0x17 [f:\dd\ndp\clr\src\vm\threads.cpp @ 4946]
10 004fd4a8 73b1605d clr!Thread::Block(int timeOut = 0n6000, struct PendingSync * syncState = 0x004fd52c)+0x25 [f:\dd\ndp\clr\src\vm\

[2017-02-22 23:59] anangaur opened #4680 "When pushing, NuGet.exe asks for username and password on sources that require API key"
**Expected**:
1. When I do not use the API key, I should be asked the creds and the package should be uploaded.
OR
2. Errors out saying "API key" is not provided.
**Actual**: It fails. It prompts for username and password and then Its unable to authenticate using my password.

Stdout/Stderr:
---------------------

WARNING: No API Key was provided and no API Key could be found for 'https://nuget.or

[2017-02-23 00:18] davkean commented on #4463
Given where the base intermediate path is set, you can't set it without expanding SDK into explicit imports of a props and targets.

[2017-02-23 01:02] joelverhagen commented on #4680
You must use an API key to upload a package to NuGet.org with nuget.exe.

Alternatively, you can log into www.nuget.org using your username and password to log in and upload the package through the interactive flow there.

[2017-02-23 01:17] nkolev92 commented on #4680
There are some servers according to @zhili1208 that don't need an API key.
And we don't know preemptively whether you would need an ApiKey to give you a different experience. That's why you are prompted for the credentials.

[2017-02-23 01:43] caleblloyd commented on #4463
I am trying to run a Docker container that has code mounted into it while also developing on the host inside of an IDE.  The IDE keeps running Dotnet Restore and conflicting with the Docker container's Dotnet Restore.

I have to do multiple mounts to exclude the `bin` and `obj` folders if they are in the default path, so I thought maybe I'd move them using `BaseIntermediateOutputPath`.  But this c

[2017-02-23 02:07] mishra14 commented on #4657
I did some more investigation and I could not get a repro without manually adding references into the csproj file. Closing the issue.

[2017-02-23 02:07] #4657 closed, assigned to mishra14

[2017-02-23 02:52] mishra14 opened #4681 "PM UI multi targeting experience is incomplete - support for updating and uninstalling conditional package versions"
If you have a package reference in multiple conditional item groups, then PM UI does not update all occurrences of the package.

Repro Steps-
1. Start with -
[code]

2. Install NUnit v3.4.0 -

[code]

3. Update NUnit to v3.6.0 through the PM UI -

[code]

After the third step, we add an unconditional reference to NUnit v3.6.0 without removing existing conditional package references. This leads to

[2017-02-23 02:53] mishra14 commented on #4657
I was able to get repro steps. I have opened another bug with more details - https://github.com/NuGet/Home/issues/4681

[2017-02-23 02:54] gtokenThinhnguyen commented on #4668
@zhili1208 yes, I tried this on Ubuntu. It's ok I will wait for ```dotnet restore`` to read credentials or apis from NuGet.config feature then. Thanks you guys for answers.

[2017-02-23 03:02] mishra14 commented on #4681
Another similar situation is when updating a NuGet package that is not compatible with all tfms only update one packagereference or in some cases does not even update an existing reference -

If you have a package reference in multiple conditional item groups, then PM UI does not update all occurrences of the package.

Repro Steps-
1. Start with -
[code]

2. InstallNewtonsoft.Json v3.5.8-

[code]

[2017-02-23 03:55] davkean commented on #4307
Hey, coordinate with us on this: https://github.com/dotnet/roslyn-project-system/issues/1600. We're nominating too late as it is.

[2017-02-23 05:47] maartenba commented on #4680
So for a server that only works with API key, what would the flow be? Asking for username/password in those cases will just confuse users. ("I provided correct username/password three times and this did not work!")

[2017-02-23 06:40] v-nancyj opened #4682 "Support installing standalone vsix v3 NuGet into experimental instance of VS"
**NuGet Version:** NuGet 4.0.0-rtm-2316
**VS Version:** D15Rel 26222.00
**OS Version:** Windows 10 RS1_Release 14393.851.170215-1802

**Repro Steps:**
1.	Create a new C#->Blank App (Universal Windows) project.
2.	Start **‘Manage NuGet packages’** dialog by right clicking of the project node.

**Expected Result:**
The ‘Manage NuGet packages’ dialog can be opened regularly.

**Actual Result:**
The ‘

[2017-02-23 06:46] joelverhagen commented on #4680
This isn't a great experience, today, but we don't have anything built into the protocol allowing a server to say if it requires API key or if it requires some other auth mechanism.

Let's leave this issue open to track this protocol improvement. One idea: use the `WWW-Authenticate` header and enhance the client to observe this header.

[2017-02-23 08:20] davkean commented on #4463
Can you expand on the issues you have with EF and dotnet test when you change BaseIntermediateOutputPath with a bug over on http://github.com/roslyn-project-system? I'll move them to the appropriate repros if it's a bug in those tools.

[2017-02-23 09:19] emgarten commented on #4592
I was able to repro this using a solution of 127 projects that have 2 target frameworks each and project references to every possible child project.

The current targets file takes 15 minutes (similar to the original issue) to collect all restore inputs from the solution. It looks like this can be improve by finding the full set of projects first and then reading each directly instead of relying o

[2017-02-23 09:48] v-nancyj commented on #4682
The issue not repro on **Dev14 MU3.5+NuGet Client 4.0.0-rtm-2314**.

[2017-02-23 10:25] v-luzh opened #4683 "[Test Failure] Fsc.exe crash when building the F# Console App after installing the package ‘FSharp.NET.Sdk’"
**NuGet Version:** NuGet 4.0.0-RTM-2300
**VS Version:** D15Rel 26222.00
**OS Version:** Windows 10 RS1_Release 14393.851.170215-1802

**Repro Steps:**
1. Create an F# Console Application via VS.
2. Open the ‘Manage NuGet Packages…’ for the project.
3. Install package **‘FSharp.NET.Sdk’.**
4. Build the solution.

**Expected Result:**
No crash occur.

**Actual Result:**
Fsc.exe crash as below screen

[2017-02-23 13:38] caleblloyd commented on #4463
Yes, I will do that in a few days.  Thanks!

[2017-02-23 15:28] kzu commented on #4125
We're seeing this as well in .NETCore/.NETStandard projects. Adding a package reference to a development dependency does not add the `<PrivateAssets>all<PrivateAssets` metadata.

Repro:

1 - Create a .NETCore/.NETStandard project
2 - Add a package reference (via the NPM) to `NuGet.Build.Packaging` (which has developmentDependency=true)

Result: `PackageReference` does not have `PrivateAssets` meta

[2017-02-23 15:30] stormleoxia commented on #4660
@rohit21grawal you are right. I was assuming there was a mapping .NETStandard 1.0 <=> .NETStandard.Library 1.0 :) Lx.Performance doesn't depends on RC2.
In fact, I was confused also because the strange display of Unsupported in nuget package explorer.
But it seems nexus related.
Sorry for the wrong bug report :(
And thank you for the nuget link.

[2017-02-23 15:45] maxtoroq commented on #3830
Will this issue be re-opened?

[2017-02-23 17:43] mnivet opened #4684 "replacement token representing a path are not supported into the file tag"
## Details about Problem

NuGet product used: NuGet.exe

NuGet version: 3.5.0.1996

OS version: Windows7

Worked before? No

## Detailed repro steps so we can see the same problem
The documentation about replacement tokens suggest to use the $configuration$ token in the path of the file to include to avoid to be strictly bind to the Release or Debug configuration
ex: <file src="bin\$configuration$

[2017-02-23 18:06] bradwilson opened #4685 "NuGet 2.12 broken with xUnit.net 2.2"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS2013 UI

NuGet version (x.x.x.xxx): 2.12.0.817

dotnet.exe --version (if appropriate):

VS version (if appropriate): 2013 Professional w/ Update 5 and NuGet 2.12 installed

OS version (i.e. win10 v1607 (14393.321)): Windows 10 v1607

Worked before? If so, with which NuGet version: 3.5

## Det

[2017-02-23 18:19] jainaashish commented on #4307
@davkean are you targeting your issue for RTM? since this is impacting auto restore performance big time so we need to get something done for RTM.

[2017-02-23 18:39] dougbu commented on #4412
The lack of dependency information in .NET Core assemblies is a visible gap compared to .NET Framework assemblies. Using the same code to examine the dependencies when running Core or desktop applications will fail for Core and work for desktop. Attempting to avoid this gap during migration does not actually solve the problem, especially for dynamic load scenarios.

As things stand, every MVC web

[2017-02-23 19:12] joelverhagen commented on #4680
We will need to make this a non-breaking change. Also, I don't think overloading `WWW-Authenticate` is the right plan. Since the API key goes through `X-NuGet-ApiKey` rather than `Authorization`, we're not really in sync with the standard auth spec anyways. Perhaps we could introduce a new header:
`X-NuGet-AuthType: APIKEY | BASIC`

[2017-02-23 19:35] maartenba commented on #4680
What if it were part of the index.json?

[2017-02-23 19:38] rohit21agrawal commented on #4660
@stormleoxia no problem, happy to help. assuming all your questions have been answered, i am closing this issue. Please reactivate it if you still have issues.

[2017-02-23 19:38] #4660 closed, assigned to nobody

[2017-02-23 19:39] adalon commented on #4133
@bbowman could you please provide some repro steps or the context where the package is being created empty? I just tried a couple of failures but I could not get the empty .nupkg in the output.

[2017-02-23 19:42] bbowman commented on #4133
@adalon sure. My scenario is a little complicated but I'll play around with it a bit and see if I can get a minimal repro. I was expecting that all failures would produce this result but as you say that apparently isn't the case.

[2017-02-23 19:46] bbowman commented on #3575
@yishaigalatzer @emgarten @rrelyea I didn't see this hit 3.6 ... Did it make it into 4.0?

[2017-02-23 19:55] kzu commented on #4599
I assume the alternative didn't happen and we'll just have this in 15.1. No prob.

[2017-02-23 21:01] zhili1208 commented on #4668
@gtokenThinhnguyen Actually dotnet restore can read credentials, the issue is you can't add credentials by using mono, if you use "mono nuget.exe source add", it will add credetnails to .config/NuGet/NuGet.config, dotnet restore read credentials from .nuget/NuGet/NuGet.config, you can just add your credential to .nuget/NuGet/NuGet.config or use mono like this "mono nuget.exe source add [your sourc

[2017-02-23 21:03] zhili1208 commented on #4668
I think this is a dupe of https://github.com/NuGet/Home/issues/4095

[2017-02-23 21:06] nwoolls commented on #4668
@zhili1208 I do not believe so. I reproduced all of this without Mono. Mono is not involved in the issue I am seeing at all.

The only way Mono is involved is that you can use the newer `nuget` CLI from Mono to work around the issue, rather than using the `dotnet` tooling. But that requires you to use Mono for builds instead of .NET Core.

_**Edit:** see https://github.com/NuGet/Home/issues/4668#i

[2017-02-23 21:20] zhili1208 commented on #4668
@nwoolls you mentioned nuget CLI from mono can work around your issue, Did you use -configFile flag with mono? what's the path of your nuget.config which contains credential?

[2017-02-23 21:27] jeromelaban commented on #4532
I've been trying to get around this, as this completely breaks a build server scenario, making the new projet format unusable.

It seems that the code in the NuGet.PackageManager assembly, which is used by VS2017, is interacting differently with the restore process, and it's also not adding "placeholder" paths I can see when running the restore from the command line.

VS produces:

     "MyBinary/

[2017-02-23 21:28] nwoolls commented on #4668
@zhili1208 I was using the `nuget` CLI installed by Mono on OS X - I was not using `mono NuGet.exe`. Installing Mono installs a `nuget` CLI and I updated that using `nuget update -self`. Afterward I was able to use `nuget restore` with a `project.json` project. This was with config in `~/.nuget` not `~/.config`.

[code]

[2017-02-23 22:09] zhili1208 commented on #4532
I didn't find a good workaround for this,  if you remove following section from asset file:
[code]
it will work, otherwise we need a fix in NuGet.BuildTasks

[2017-02-23 22:29] nkolev92 commented on #4683
How did you managed to install NuGet Client 3.5.0-rtm-1938 over 26222.0?
You shouldn't be able to do that.
Can you please double check what NuGet version VS thinks it has.

The installer is spotty and sometimes it will give you a success message but analyzing the install log you'd see that it actually failed.

[2017-02-23 22:35] joelverhagen commented on #4680
@maartenba, this would help people pushing to `index.json` but I think many people still push to the V2 source. In fact [our docs](https://docs.microsoft.com/en-us/nuget/quickstart/create-and-publish-a-package#publish-the-package) even say to push to the V2 endpoint still:

![image](https://cloud.githubusercontent.com/assets/94054/23282286/513e1a4e-f9d5-11e6-92a5-a8d012d68c17.png)

But maybe I am

[2017-02-23 22:37] joelverhagen commented on #4680
Server side change tracked here: https://github.com/NuGet/NuGetGallery/issues/3585

[2017-02-23 22:40] anangaur opened #4686 "[Security] API keys should not be stored as plain text in nuget.config"
Today one can use setapikey command to set the API key into nuget.config as plain text. This should be allowed.

NuGet should use credential store mechanism to store the API key so that any plain text copy of API key can be avoided.

[2017-02-23 22:46] mishra14 commented on #4355
This is expected, since some of the debug logs are not localized. This is done so that we can understand customer logs better irrespective of the language of use.

For dev15 RTM, we have an exception for this.

[2017-02-23 22:46] #4355 closed, assigned to mishra14

[2017-02-24 01:03] jabrown85 commented on #4532
@jeromelaban The workaround I've got in place is not ideal but works. Project B has to revert and use the packages.config style NuGet. The build server then becomes `nuget restore` with nuget 4, `msbuild /t:Restore;Build` to get a proper build.

[2017-02-24 01:40] borrrden commented on #2989
This is still an issue in the latest Nuget.exe...is this a hard thing to fix?

[2017-02-24 02:36] jeromelaban commented on #4532
@jabrown85 Thanks for the workaround! Though I won't be able to use it in my case, since I'm using the `<TargetFrameworks>` node, and conditional package inclusion through the `<PackageReference>` node.

Even I were not to be using this, the fact that `Package.config` does not support transitive references makes it indeed not ideal :)

I'll try to write probably write a small task that sits before

[2017-02-24 02:46] jabrown85 commented on #4532
@jeromelaban can you post your msbuild task for others if you do indeed go that route? I assume it'll help out others in the same position.

[2017-02-24 02:48] jeromelaban commented on #4532
@jabrown85 will do!

[2017-02-24 04:06] jeromelaban commented on #4532
There you go: https://github.com/jeromelaban/NugetFixups

Deleting both the runtime and compile section fix the issue.

Btw, awesome work on the packing integration in the IDE! It makes this very easy to work with 👍

[2017-02-24 05:49] maartenba commented on #4686
Many People use this today as a mechanism to store API key in a config file that is used on the build server.

[2017-02-24 05:55] maartenba commented on #4680
Yeah V2... Drat :-)

Loooooong ago, when NuGet 1.4 was hip, I did a proposal around this on CodePlex, basically introducing additional headers to specify this type of metadata (e.g. which auth mechanism for which operation, what is the push endpoint, what is the symbols endpoint for this server, is SemVer 2 supported, ... - index.json for V2)

Wonder if it would make sense to have such V2 metadata

[2017-02-24 06:23] v-luzh commented on #4683
@nkolev92, Hi Nikolche, this issue is found on D15Rel 26222.00 (NuGet Client 4.0.0-RTM-2300).

D15Rel 26222.00 (NuGet Client 4.0.0-RTM-2300) is the V2 VSIX, so the uninstall script should be support on V2 right? (In the doc you provided, V3 VSIX is start from build 2302.) So I verified the scenario after uninstalling the vsix and installing the NuGet Client 3.5.0-rtm-1938\VS15 one (mentioned in No

[2017-02-24 07:34] emgarten commented on #3830
@maxtoroq can you give a detailed example of this? I am not understanding what you expect here. I would expect the package author to determine which assemblies should be added to the project and list them under references appropriately.

[2017-02-24 08:40] xavierdecoster commented on #4686
Please note:
A while ago, a new `-StorePasswordInClearText` switch was added to the `nuget.exe sources` command to explicitly allow storing the password in clear text in `nuget.config`. See this old CodePlex issue tracking it: http://nuget.codeplex.com/SourceControl/network/forks/XavierDecoster/nuget/contribution/4400

Not allowing to store the api key in that file in clear text would be very cont

[2017-02-24 11:57] per-samuelsson opened #4687 "Packaging with SemVer 2.0 version give warning - disable that?"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
NuGet version (x.x.x.xxx):
dotnet.exe --version (if appropriate):

[code]
## Detailed repro steps so we can see the same problem

1. Create simple library project with `dotnet new classlib`
2. Make it cross-targeting, e.g. `<TargetFrameworks>netstandard1.6;net46</TargetFrameworks>`
2. Pack it u

[2017-02-24 13:32] maxtoroq commented on #3830
@emgarten I've explained as best as I can in my comments, but I'll try one more time.

`<PackageReference>` is not working the same way as how NuGet have always worked in VS/MsBuild, which is how assembly references have always worked in VS/MsBuild.

Forget about NuGet for a minute. When you manually add an assembly reference in VS by selecting an assembly from your hard-drive, nothing is actually

[2017-02-24 15:48] YetaWF commented on #1428
Some of my solutions consist of a lot of projects (500+, many of which are non open source), and include a fair number of third-party components. While converting to MVC6, I experienced an odd error message:

[code]
This happened while converting our Softelvdm.Twilio package to MVC6. It's a YetaWF package that implements sending SMS (text messages) using Twilio's service. The project is aptly name

[2017-02-24 17:35] jeromelaban commented on #4532
So I've now gone farther down the line, and I'm hitting more differences between the way the CLI differs from the VS Context Menu, only when using <ProjectReference> nodes.
* For UWP heads (not libraries, afaik), the target platform generated by the CLI is confused by the Min and Target SDK versions. CLI forces the MinVersion as a runtime, while VS uses the Target version.
* for some reason on my

[2017-02-24 17:57] jainaashish commented on #4667
This is the call stack for ~500MB allocation for NuGet.DependencyResolver.GraphNode

Name                                                                                                                   	Inc %	           Inc
 Type Enumerator[NuGet.DependencyResolver.GraphNode`1[NuGet.DependencyResolver.RemoteResolveResult]]                   	  7.8	   509,059,264
+ clr!?

[2017-02-24 18:55] emgarten commented on #4687
I use ``/p:NoPackageAnalysis=true`` to disable this when creating SemVer 2.0.0 packages.

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Build.Tasks.Pack.Library/Pack.targets#L131

Hopefully we can get rid of this warning in the future, for now it is there just to let users know incase they didn't realize the it was a SemVer 2.0.0 version.

[2017-02-24 19:06] DoRonMotter commented on #4307
Not expecting a NuGet change for RTM at this point, and will solve perf issues with improved logging.  @davkean ping back if you need a follow on change from NuGet for this for RTM.

[2017-02-24 19:14] jainaashish commented on #4679
Recent test run results for this failure can be found in internal bug# 387082

[2017-02-24 19:56] rohit21agrawal commented on #4687
@emgarten @per-samuelsson small correction. use ```/p:NoPackageAnalysis=true``` . also you can just do ```dotnet pack``` instead of ```dotnet msbuild /t:pack```

[2017-02-24 21:20] alpaix opened #4688 "Package Manager header is not properly spaced"
Package Manager header controls when narrowed beyond certain point are not properly spaced:
- Title text doesn't fit. No ellipsis provided. No tooltip shown.
- Second row controls disappear.
- No minimum width is set.

![image](https://cloud.githubusercontent.com/assets/8239356/23321053/72524ef4-fa92-11e6-82cc-d6e6dfb3597b.png)

[2017-02-24 21:49] mishra14 commented on #4611
Not sure how to validate the output. But I have checked the strings in our localized resources to be changed in wsr-tc build 1803. I have also notified the translators to make the changes at their end.

@grassiricardo : If you have repro project/steps for this, that would be great!

[2017-02-24 21:50] anangaur commented on #4686
Thanks. Makes sense. May be we should 'also' allow usage of credential store mechanism for users, without taking away the present capability. That way we let users decide the security aspect of the keys.
IMO, API keys are just like passwords and should only be put in a key-vault like implementations.

[2017-02-24 21:54] #4611 closed, assigned to mishra14

[2017-02-24 22:39] #4667 closed, assigned to jainaashish

[2017-02-24 22:44] emgarten commented on #4687
@rohit21agrawal good catch, I updated the syntax :smile:

[2017-02-24 23:04] emgarten commented on #4532
@jeromelaban these are known issues. You can override the target framework property used in Visual Studio to fix this. See: https://github.com/NuGet/NuGet.BuildTasks/blob/dev/src/Microsoft.NuGet.Build.Tasks/Microsoft.NuGet.targets#L77

The TPMV issue is here: https://github.com/NuGet/Home/issues/4443

[2017-02-24 23:13] emgarten commented on #3830
@maxtoroq use ``dotnet publish``

Build only requires the APIs you directly depend on, it doesn't bring in indirect assemblies. The publish step is what copies the entire closure of dependencies to an output folder. Is that what you are looking for?

[2017-02-24 23:40] #4586 closed, assigned to alpaix

[2017-02-25 00:05] maxtoroq commented on #3830
@emgarten No. I'm not even talking about .NET Core. Create a .NET Framework Class Library project and see for yourself.

[2017-02-25 00:38] dougbu opened #4689 ".csproj file not updated in Visual Studio until user does a Save All or closes solution"
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

## Details about Problem

NuGet product used: VS UI
Nuget Package Manager 4.0.0

dotnet.exe --version: `1.0.0-rc4-004883`

VS version (if appropriate): `

[2017-02-25 02:13] emgarten commented on #3830
@maxtoroq please open a new issue and provide repro steps. What you are describing does not sound related to the issue of the references section in the nuspec, so let's move this discussion.

[2017-02-25 02:33] dougbu commented on #4689
I am sure no similar problem existed when editing project.json files in Visual Studio 2015.

At step 9, Visual Studio and the NuGet Package Manager show no indication anything at all needs to be saved.

[2017-02-25 03:05] grassiricardo commented on #4611
@mishra14 Okay, I do not understand what you would like me to reproduce

[2017-02-25 03:36] nguerrera opened #4690 "Update-Package - Error"
*Moved from https://github.com/dotnet/sdk/issues/900 on behalf of @lfscoelho*

Visual Studio 2015 Update3.

Migration` from .net core 1.0 to 1.1.

Steps to reproduce error:
1 - update global.json to 1.0.0-preview2-1-003177
2 -  project.json modified Microsoft.NETCore.App version:

      "version": "1.1.0",
      "type": "platform"
    }

3 - project.json modified netcoreapp version to 1.1:

[2017-02-25 04:04] maxtoroq opened #4691 "PackageReference and Explicit Assembly References issue"
`<PackageReference>` is not working the same way as how NuGet have always worked in VS/MsBuild, which is how assembly references have always worked in VS/MsBuild.

Forget about NuGet for a minute. When you manually add an assembly reference in VS by selecting an assembly from your hard-drive, nothing is actually copied but VS remembers the location of that assembly using `<HintPath>`. When you bui

[2017-02-25 06:11] per-samuelsson commented on #4687
@rohit21agrawal @emgarten,

Thanks, I kind of felt there where a missing piece on my part. 👍

Regarding `msbild /t:pack` vs just `pack` I just wanted to be explicit, I thought the later was just a shorthand for the former.

Again, thanks.

[2017-02-25 06:11] #4687 closed, assigned to nobody

[2017-02-25 12:35] gotoxu opened #4692 "VS2017 RC: I can not update NETStandard.Library in Nuget"
From the last update of VS2017 (VisualStudio/15.0.0-RC4+26206.0), I can't update the package NETStandard.Library in Nuget. I just create a new standard library project. See the message:

![1](https://cloud.githubusercontent.com/assets/10518551/23331101/9e6424ba-fb99-11e6-9a75-23a673cf79f5.png)

It means the new version is blocked by the project or package.config limit.

So I can only add the `<Net

[2017-02-25 16:02] dazinator opened #4693 "PackageReference - source from VSIX"
When developing a VS ProjectType (VSIX package) - the typical approach to bundle nuget packages with project templates is use this in teh vstemplate:

[code]

However, if `<PackageReference>` supported sourcing a nuget package from a vsix package, we would then be able to transition to using `<PackageReference>` in our project templates instead which seems simpler.

Are you planning to add such su

[2017-02-25 23:38] dougbu commented on #4587
For the MVC repo, would it be possible to make `NoPackageAnalysis` part of metadata for the `Projects` item group passed to the `Pack` task? Then we could turn off these warnings just for the projects that hit them.

Or will the warnings be fixed soon?

[2017-02-26 00:23] enricosada commented on #4683
@v-luzh you shouldn't install fsharp.net .sdk package . It's expected to crash

VS f# doesn't support new fsproj or sdk.

See
https://github.com/dotnet/netcorecli-fsc/wiki/.NET-Core-SDK-rc4#ide-support For how to use .net core sdk rc4 and f#

[2017-02-26 05:55] ctaggart commented on #1696
* 2017-01-27 Visual Studio 2017 [RC3](https://www.visualstudio.com/en-us/news/releasenotes/vs2017-relnotes#a-idjan27arelease-date-january-27-2017-build-26127007) shipped with [source link support](https://github.com/ctaggart/SourceLink/issues/121#issuecomment-277460615) on be default:

![image](https://cloud.githubusercontent.com/assets/80104/23337453/c95d1b9e-fbb3-11e6-92d2-dcb9bffe3b95.png)

* 2

[2017-02-26 06:33] ctaggart commented on #4142
@rohit21agrawal, yes, that plan that I hashed out with @tmat & @yishaigalatzer at the MS MVP conference in 2015-11 is finally coming together.  I added some comments in https://github.com/NuGet/Home/issues/1696#issuecomment-282535229, but to expand on that, here is what Visual Studio 2017 now offers:

![image](https://cloud.githubusercontent.com/assets/80104/23337630/001cedb6-fbba-11e6-9c44-68f4c8

[2017-02-26 07:17] mishra14 commented on #2989
@rohit21agrawal : is this fixed or in work?

[2017-02-26 07:20] mishra14 commented on #4677
@anangaur : We have a plan to add a `dotnet list package` command in dotnet cli. We have a bug tracking it at https://github.com/NuGet/Home/issues/4102

[2017-02-26 09:30] #4683 closed, assigned to nobody

[2017-02-26 17:56] ctaggart commented on #4142
I think the new `dotnet pack` option should be `--include-portable-pdbs` to clearly indicate that this is for Portable PDB files and the new source link support.

[2017-02-26 20:50] clairernovotny opened #4694 "netcore projects don't support setting as developmentDependency"
The current Pack targets don't seem to have a way to specify `developmentDependency` for the generated NuSpec. This leaves a gap when creating packages intended to be used at build-time only.

[2017-02-26 20:59] emgarten commented on #4694
Set ``PrivateAssets=all`` in the PackageReference

See also: https://github.com/NuGet/Home/issues/4125

[2017-02-26 21:24] clairernovotny commented on #4694
Not what I'm talking about -- I'm talking about creating a library/package that has developmentDependency set to true in its metadata.

That other issue is about consuming PackageRefs and turning those into dependencies or not.

[2017-02-26 21:59] emgarten commented on #4694
Oh I see, to write this into the nuspec for a new package :smile:

That doesn't exist currently since the developmentDependency flag is not supported for PackageReference yet, this would be good to fix along with #4125

//cc @rohit21agrawal

[2017-02-27 00:49] davidfowl commented on #4694
This is only useful if we do https://github.com/NuGet/Home/issues/4125 (which we should)

[2017-02-27 02:26] NickCraver commented on #2519
Throwing in that I'd like to see this for all of our libraries as well. We definitely want to render SVGs (and for the icons in Visual Studio to be HiDPI in general). Honestly I was surprised this wasn't supported already, it took me a bit to figure out why my test icons were rendering as the default.

Related: It seems like pieces of the client are HiDPI  friendly while others are not, e.g. the r

[2017-02-27 02:52] davkean opened #4695 "msbuild /t:restore minimal verbosity should be more minimal"
[code]

Expected:  One line per project being restored, similar to every other minimal output from MSBuild
Actual:

[code]

We explicitly have to switch _just_ restore to quiet to avoid the above noise. Previously our build log used to look like:

[code]

Now it looks like this:

[code]

[2017-02-27 03:24] davkean opened #4696 "msbuild /t:restore is nearly 5 times slower than nuget restore"
VS: 2617.2 D15Rel
NuGet restore: 3.6.0.1954

We switched over to using `msbuild /t:restore` instead of `nuget restore` and found that it's 5 times slower than using NuGet restore when there is nothing to restore:

Over three runs of http://github.com/dotnet/roslyn-project-system, I found the following:

NuGet restore: 3.43 seconds
MSBuild /t:restore: 16.64 seconds

This is nearly 5 times slower an

[2017-02-27 03:27] davkean commented on #4689
This issue was moved to dotnet/roslyn-project-system#1628

[2017-02-27 03:27] davkean commented on #4689
I've moved this issue over to the project-system - this is our experience/issue, this issue can be closed.

[2017-02-27 03:34] emgarten commented on #4696
@davkean thanks for the numbers. The work to optimize this is being tracked here https://github.com/NuGet/Home/issues/4592

[2017-02-27 03:34] #4696 closed, assigned to nobody

[2017-02-27 03:40] emgarten commented on #4692
@Jamesxql the package version is set in the SDK. To update this you need to update your SDK and dotnet CLI installation. The change isn't as simple as just updating the package unfortunately which is why this is now blocked in the NuGet UI.

[2017-02-27 03:40] #4692 closed, assigned to nobody

[2017-02-27 03:43] emgarten commented on #4689
Thanks @davkean

NuGet doesn't force a save here for perf reasons. With packages.config it was a much smaller file that was only used by NuGet so saving it at the end of an operation instead of letting VS save it when closing the solution made more sense. Now that PackageReferences are in the project file and no longer written directly by NuGet I think it makes more sense for the project system to

[2017-02-27 03:43] #4689 closed, assigned to nobody

[2017-02-27 03:46] emgarten commented on #4695
This could be fixed by filtering out the additional messages in the NuGet's MSBuild logger wrapper, it would be a relatively small change.

Pack would need to support this also.

[2017-02-27 04:22] emgarten commented on #4693
@dazinator what type of projects are you installing into? Does it build fine when you manually add PackageReferences to it?

There is a PR out already that attempts to solve some of this for the template wizard by reading the RestoreProjectStyle property.  https://github.com/NuGet/NuGet.Client/pull/1187

[2017-02-27 04:56] TheRealPiotrP opened #4697 "dotnet restore yield error: "Package X is not compatible with net461 (.NETFramework,Version=v4.6.1). Package X supports: net461 (.NETFramework,Version=v4.6.1)""
_From @Ashthos on February 24, 2017 10:59_

## Steps to reproduce

The error in the title is occurring for a number of packages in our solution. But **only** for our Win2016 Teamcity Build agents. Our Win2012 build agents restore the package fine. We are using/restoring packages that are deployed to our internal nexus server.

dotnet --version:
win2012 - 1.0.0-preview2-003133
win2016 - 1.0.0-previ

[2017-02-27 06:18] emgarten commented on #4697
@Ashthos can you try this with preview4 of dotnet CLI? If it still repros would you also share the file structure of the nupkg.

[2017-02-27 07:05] bradphelan commented on #1909
http://stackoverflow.com/questions/42479496/is-it-possible-to-run-nuget-update-package-in-parallel

It is taking over 15 minutes to update a single nuget package across about 20 to 30 projects in a solution.

The log is

[code]

[2017-02-27 07:18] emgarten commented on #1909
@bradphelan from your logs it looks like it takes under a second to gather dependency info which is what this issue is tracking.

The install part that is taking longer is the time it takes visual studio to update the references, running projects in parallel would likely still bottle neck on this in the same way.

You can get away from this by moving to *project.json* or *PackageReference* (VS 201

[2017-02-27 07:22] bradphelan commented on #1909
36 Seconds to update a project? Can you guess what might be going on? I can physically click through the "add references" UI faster than that.

I'll be upgrading to 2017 as soon as it goes RTM. Will this be an automatic upgrade to PackageReference or will I have to break out VIM to manually fiddle all my projects?

With regards to project.json I think that experiment is being closed down.

http://

[2017-02-27 11:25] Ashthos commented on #4697
Installed dotnet-dev-win-x64.1.0.0-rc4-004771.exe on our Win2016 build agent. Performed "dotnet migrate" then "dotnet restore" and the packages restored as expected.

Only issue for us right now is that we are still project.json based due to our dependency on vs2015, and many of our build scripts are expecting a project.json to be available :(

[2017-02-27 11:51] dazinator commented on #4693
My project is a custom project type, built using CPS,  and importing the csharp targets and capabilities, in addition to my own custom targets and capabilities in its main project file.

I noticed I got the new package reference behavior, when tinkering with certain msbuild properties set in my project file, things like target platform, that made asp.net core light up - as I believe package refere

[2017-02-27 16:18] emgarten commented on #4697
Thanks @Ashthos, sounds like this is fixed in the latest bits. Let me know if you run into this again when using PackageReferences.

[2017-02-27 16:18] #4697 closed, assigned to emgarten

[2017-02-27 17:41] AArnott opened #4698 ".NET SDK projects don't pack satellite assemblies from SatelliteDllsProjectOutputGroup"
d15rel 26224.1
dotnet --version 1.0.0

The SatelliteDllsProjectOutputGroup target produces and returns `@(SatelliteDllsProjectOutputGroupOutput)` items, which should be included in the nupkg file. For instance, when I build a netstandard library, our LSBuild (.lcl file based) build authoring produces the `*.resources.dll` satellite assemblies and adds them to this item list. But when packing, thes

[2017-02-27 17:42] AArnott commented on #4698
If there is a workaround I can apply, I'd be happy to for now. How do the packaging targets determine what to pack from the individual TargetFramework builds? I hope I can copy the satellite assembly items to whatever item list is required so that they get included there.

[2017-02-27 17:58] livarcocc opened #4699 "Add `--prerelease` option to `dotnet add package`"
From @yooakim at https://github.com/dotnet/cli/issues/5752

I'm not sure this is a bug but it would be nice if one could add NuGet packages with the `-pre` version as used by NuGet.

## Steps to reproduce

dotnet add package Swashbuckle --version pre

## Expected  behavior

[code]

## Actual behavior

[code]

[2017-02-27 18:02] jainaashish commented on #4665
As per Jetbrain testing with private bits, we discovered one more missing case, so re-opening this bug.

[2017-02-27 18:11] asleight commented on #4484
I just ran into the same issue with the BrowserLink package. My web app would build and run on my local machine, but once we deployed it to our AWS Linux server via Jenkins automation, it would fail to load a bunch of dependent packages.

Removing the reference to BrowserLink from my .csproj file and commenting out the app.UseBrowserLink() in Startup led to the app deploying properly on next attem

[2017-02-27 18:13] nkolev92 commented on #4677
@mishra14 But that's for packageref only?
I would assume if we were to do this, it'd need to be done package.config & project.json.

A feature like this would also be functionally equivalent to https://github.com/NuGet/Home/issues/1264

[2017-02-27 18:41] mellinoe opened #4700 "dotnet restore does not restore P2P references with ReferenceOutputAssembly=false"
NOTE: I originally filed this issue here: https://github.com/dotnet/cli/issues/5760.

## Steps to reproduce
1. Create two class library projects, A.csproj and B.csproj
2. Add this to A.csproj:
[code]
3. Run `dotnet restore A.csproj`, `dotnet msbuild A.csproj`

## Expected  behavior
Both A and B are restored, and both build successfully (because of the P2P reference).

## Actual behavior
Only A is

[2017-02-27 18:42] nguerrera commented on #4626
Was this ever tracked down? Another incoming report from @moozzyk: https://github.com/dotnet/sdk/issues/920

[2017-02-27 20:01] #4200 closed, assigned to nkolev92

[2017-02-27 20:19] rohit21agrawal commented on #4700
@emgarten i believe this was done intentionally?

[2017-02-27 20:20] rohit21agrawal commented on #4698
@AArnott ```(BuiltProjectOutputGroup)->FinalOutputPath``` is what is used to determine what DLLs to be picked up for each TFM.

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Build.Tasks.Pack.Library/Pack.targets#L119

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Build.Tasks.Pack.Library/Pack.targets#L165-L175

Suggested workaround would be to write a ta

[2017-02-27 20:25] rohit21agrawal commented on #4699
CC : @mishra14

[2017-02-27 20:31] emgarten commented on #4700
It looks like restore should include this in the recursive restore even though it isn't an actual dependency.

The workaround for this is to create a solution containing all projects and restore that.

[2017-02-27 20:46] mellinoe commented on #4700
What do you mean by that? It's certainly an actual dependency; the referencing project just doesn't use it as a compiler reference.

[2017-02-27 21:00] mishra14 commented on #4699
@livarcocc :

You can do `dotnet add package newtonsoft.json -v 10.0.0-*` to get the prerelease packages.

log -

[code]

This will add -

[code]

The `--pre` flag was not added because restore does not have an explicit way of request prerelease packages. Maybe @emgarten  can chime in here?

[2017-02-27 21:06] davkean opened #4701 "msbuild /t:restore ignores a package source of "nuget.org""
msbuild /t:restore is ignoring a package source of "nuget.org":

We have src\NuGet.config that looks like this:

[code]

NuGet says it used this:

[code]

And we get errors indicating that it didn't look up NuGet.org:

[code]

[2017-02-27 21:08] davkean commented on #4701
Yep, in fact if I rename the nuget.org "key" -> "notnuget.org" then restore succeeds. This is a regression from `NuGet restore`, is this by design?

[2017-02-27 21:10] AArnott commented on #4698
Thanks for the workaround. I can apply that.
FWIW though, that's conflating two output groups where they are designed to be distinct. NuGet should call into both to get all the files out. I'm not even sure the workaround will work -- because conflating the two could cause malfunctions in msbuild or project systems, including P2P references. Referencing projects expect only one DLL in the BuiltProj

[2017-02-27 21:16] rrelyea commented on #4701
have you confirmed the content of those 3 .config files -- perhaps one of them tweaks "nuget.org" packagesource.

[2017-02-27 21:17] davkean commented on #4701
The `<clear/>` is supposed to override that, regardless this file hasn't changed since we switch from `NuGet restore` -> `msbuild /t:restore` so there's a behavior change here.

[2017-02-27 21:18] davkean commented on #4701
Ah, but yes:

[code]

Let me actually confirm that this is a behavior change now...

[2017-02-27 21:31] AArnott commented on #4698
OK, so that third target doesn't set FinalOutputPath on the items. I created my own that does, so now what we have is my satellite assemblies are copied to the root of the nupkg's lib folder (so only one survives since they all have the same name). Instead, they should all be in subfolders of the various lib\\TFM folders based on their culture name.

There appears to be no way to solve this in a w

[2017-02-27 21:35] davkean commented on #4701
Yep, you are right - not a behavior change. NuGet uses the cache as a package source(!) so I'd never noticed this until I blew away the cache. I submitted a PR to our repo to prevent that: https://github.com/dotnet/roslyn-project-system/pull/1640.

[2017-02-27 21:35] #4701 closed, assigned to nobody

[2017-02-27 21:38] AArnott commented on #4698
I've contrived a workaround. I added this to my project file:

[code]

**EDIT:** I edited later to fix some over-build bugs I had in the original version.

[2017-02-27 22:10] rohit21agrawal commented on #4698
@AArnott instead of adding it to Content and providing a PackagePath, did you try adding them to ```_TargetPathsToAssemblies``` with the ```FinalOutputPath``` metadata set ?
https://github.com/NuGet/NuGet.Client/blob/02df800a3b5422f8e8e828d66417de8927757b85/src/NuGet.Core/NuGet.Build.Tasks.Pack.Library/Pack.targets#L119

On the disk, are satellite assemblies placed in TFM specific folders?

[2017-02-27 22:18] rohit21agrawal commented on #4698
This is an area i have already planned to add an extension point to, and will do that whenever we fix this bug.

[2017-02-27 22:39] AArnott commented on #4698
@rohit21agrawal: Yes, I tried adding it to `_TargetPathsToAssemblies` but that didn't work as I describe in [my earlier comment](https://github.com/NuGet/Home/issues/4698#issuecomment-282860646).

Satellite assemblies must be found in *culture*\\some.resources.dll paths under where the original assembly is found. CLR rules. So yes, they must be found under the TFM.

[2017-02-27 22:44] rohit21agrawal commented on #4698
@AArnott currently Pack figures out the TFM to put a DLL using the path of the DLL on disk. If the path doesn't contain a TFM, then it puts it in the root.

This will also change in future and I will supplement it by providing ```TargetFramework``` metadata to the ```_TargetPathsToAssemblies``` item.

[2017-02-27 22:56] AArnott commented on #4698
I see. How do you find which segment of a path is the TFM? It's there, but evidently the task wasn't finding it:

![image](https://cloud.githubusercontent.com/assets/3548/23383784/f0c41666-fcfc-11e6-98f5-ee12597a0a5d.png)

[2017-02-27 23:15] rohit21agrawal commented on #4698
it has to be directly under the TFM folder.

[2017-02-28 00:48] AArnott commented on #4698
OK, well it won't be, by design of CLR requirements. So it looks like your enhancement to the Task is required.
In the meantime, my workaround seems to work so I might use that if this bug ends up being the last adoption blocker.

[2017-02-28 00:49] ghost opened #4702 "Nuget.exe should work with csproj (PackageReference)"
**Error:**

Attempting to build package from 'MyNetStandard.csproj'.
MSBuild auto-detection: using msbuild version '15.1.548.43366' from 'C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\15.0\bin'.
Packing files from '\bin\Debug\netstandard1.4'.
**Unable to cast object of type 'System.String' to type 'NuGet.Frameworks.NuGetFramework'.**

**Nuget version:**
downloanded from [n

[2017-02-28 00:57] davkean opened #4703 "NuGet spits out large amounts of warnings/errors when you downgrade a package in a large graph"
Here's another case of too many errors/warnings for such a simple fix. I have accidentally downgraded System.Runtime.InteropServices.RuntimeInformation in one project, and get 9 errors (typically warnings but I have warnings as errors turn on):

[code]

The fix was to simply change:

[code]
to:

[code]

Can we reduce the number of warnings/errors in this case? It makes it seem a lot more complicat

[2017-02-28 01:12] natemcmaster opened #4704 "Need ability to pack files from build output folder in multi-targeting projects"
It is difficult for users to figure out how to include additional items from the build output folder in a nuget package. The right solution requires adding a target that executes at just the right time, after `_CopyFilesMarkedCopyLocal` and before `_GetPackageFiles`. This is made more difficult because `_GetPackageFiles` only executes on outer builds, not inner builds. It also requires understandi

[2017-02-28 04:03] davkean commented on #4695
The same should happen in the Output window as well - filtering seems like the wrong approach, why log them in the first place?

[2017-02-28 04:22] philipogorman opened #4705 "command line nuget restore fails with: error MSB4023: Illegal characters in path."
I get an error when trying to restore nuget package for a solution on our build server. Before a build we restore the packages with a command like this:

nuget.exe restore AutonomousApp.sln

But for this solution I get:

MSBuild auto-detection: using msbuild version '14.0' from 'C:\Program Files (x86)\MSBuild\14.0\bin'.
C:\Program Files (x86)\MSBuild\14.0\bin\Microsoft.Common.CurrentVersion.target

[2017-02-28 04:35] davkean opened #4706 "NuGet fails with "System.ArgumentException: '$(NetStandardImplicitPackageVersion)' is not a valid version string." when encountering PackageReference in legacy csproj with property as version"
26226:0.d15rel

Running into this in project system repro when we open some projects that have a PackageReference with a variable, looks like the items aren't being evaluated - not sure if this is NuGet or legacy project system's problem:

[code]

[2017-02-28 04:35] emgarten commented on #4705
@philipogorman This looks like a problem with the project file or the properties it uses, not an issue specific to restore. Does changing the properties used to build the filename solve the issue?

[2017-02-28 04:39] emgarten commented on #4706
It looks like this string is coming out of VSProject4
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/PackageManagement.VisualStudio/EnvDTEProjectAdapter.cs#L342

I would need to debug it to know for sure, is this happening all the time, or what are the repro steps?

[2017-02-28 04:42] davkean commented on #4706
Open our repro at https://github.com/dotnet/roslyn-project-system/commit/8783c37817dfbe8fa7752a013d5516994a8118e3.

We're accidentally opening the VB-based SDK projects in legacy project system - but when you bring up PackageReference in legacy, you'll probably want to at least evaluate the items.

[2017-02-28 04:44] emgarten commented on #4695
These messages make sense for other scenarios. It seems like what we need is to shift all the current messages down a level so that minimal is actually minimal.

[2017-02-28 04:45] davkean commented on #4695
Yeah I don't mean don't log them ever.

[2017-02-28 05:18] AArnott commented on #4698
There's another (potential) problem here in your nuget .targets. You are invoking MSBuild in your own project, but because you pass in more than just TargetFramework as a global property (you add BuildProjectReferences=false), this causes over-build. Right now, you appear to be getting away with it, evidently because the targets you're invoking don't have expensive side effects. But the `Satellite

[2017-02-28 06:29] bradphelan commented on #1909
For reference:

http://stackoverflow.com/a/42501700/158285

Running nuget from outside visual studio updates the my whole solution in about 10 seconds.  It seems that the nuget integration with Visual Studio itself is broken.

[2017-02-28 06:42] rohit21agrawal commented on #4702
nuget.exe doesn't work on package reference based projects.

[2017-02-28 06:52] emgarten commented on #1909
@bradphelan ``nuget.exe update`` has limitations, it only updates the base path used to reference dlls. It cannot add or remove references, or change dependency packages. If you control the packages and they will always have the same dlls then this is your best option. For most updates the visual studio update command needs to be used.

If you plan to move to VS 2017 then PackageReference should b

[2017-02-28 06:54] bradphelan commented on #1909
OK for this particular update the dll set did not change just the Base
path. I will try the new method once 2017 goes RTM

On Tue, 28 Feb 2017, 07:52 Justin Emgarten <notifications@github.com> wrote:

[2017-02-28 07:17] davkean opened #4707 "Visual Studio becomes unusable while restore is occuring and it's logging errors/warnings"
Build: 26226.0.d15prel

1. Clone http://github.com/dotnet/roslyn-project-system
2. checkout 05a8c79edcb4c6a20b4f133e4a17aee33bd39368
3. Run Build.cmd from command-prompt
4. Open ProjectSystem.sln
5. Wait for restore to finish
6. Open src\build\targets\References.targets
7. On line 87 delete the project reference to Roslyn.csproj and replace it with `<PackageReference Include="Microsoft.VisualStudi

[2017-02-28 07:21] davkean opened #4708 "Restore doesn't respect "Always show Error List if build finishes with errors""
Background restore doesn't respect this setting, I believe it should:

![image](https://cloud.githubusercontent.com/assets/1103906/23395421/998de6f6-fde2-11e6-992d-246d7294449f.png)

[2017-02-28 07:21] davkean commented on #4707
It also doesn't respect this option:
![image](https://cloud.githubusercontent.com/assets/1103906/23395414/923c7cf0-fde2-11e6-8b15-443053b12af3.png)

https://github.com/NuGet/Home/issues/4708

[2017-02-28 07:25] davkean commented on #4707
To top this off, you can't even just wait for Visual Studio to finish restoring and go and read email because it's [stops restoring when VS doesn't have focus](https://github.com/NuGet/Home/issues/4623) - so basically, your computer is unusable while it's in this state. You have to go off for a coffee while it's doing this.

[2017-02-28 07:41] davkean commented on #4707
Here's a video of how bad this experience is: https://vid.me/JNaT

Not all the errors here are because of NuGet, but the focus issues are definitely caused by restore.

[2017-02-28 07:54] attilah opened #4709 "Directory structure for sources flattened when included from parent directory and duplicate file warning received"
## Details about Problem

When packing with source code and the source files are included from a parent directory relative to the csproj, the cs files are getting flattened and packed that way into the nupkg and if you've the same filenames you get a warning about that file is not included.

dotnet version: 1.0.0
dotnet nuget version: 4.0.0.0

## Detailed repro steps so we can see the same problem

[2017-02-28 07:57] davkean commented on #4707
It also continually restores every time I load and unload a project - is that expected?

[2017-02-28 08:10] davkean commented on #4703
Here's another one where changing one version number caused all these errors to go away:

[code]

[2017-02-28 08:17] shamglam opened #4710 "Wrong Powershell version in Package Manager Console - Visual Studio 2017 RC4"
## Details about Problem

I'm trying to get up and running with EF Core on Visual Studio 2017 RC 4.

After installing Microsoft.EntityFrameworkCore.Tools and adding a very basic DBContext and a model I try to run add-migration in package manager console but I get the following error:

**The Entity Framework Core Package Manager Console Tools don't support PowerShell version 2.0. Upgrade to PowerSh

[2017-02-28 08:43] davkean commented on #4592
`nuget restore` used to be 3% of our total build, after [this change](https://github.com/dotnet/roslyn-project-system/pull/1649), `msbuild /t:restore` is now 27% of our up-to-date build run time.

[2017-02-28 08:53] emgarten opened #4711 "Tools should be restored for child projects when RestoreRecursive is set"
The current restore task only restores tools for top level projects.

When restoring with ``RestoreRecursive=true`` tools should be restored for all projects include dependencies.

https://github.com/NuGet/NuGet.Client/blob/4102576776ec65d9a5b79ed05ef7d7b5c2d0bfdc/src/NuGet.Core/NuGet.Build.Tasks/NuGet.targets#L231-L232

[2017-02-28 08:58] davidfowl commented on #3830
The logic that expands the assembly closure is in the ResolveAssemblyReference task which should still be running when you use the `<PackageReference>` feature. That in itself though has nothing to do with nuget's handling of `<reference>` in the nuspec. There should be a file called `project.assets.json` in the obj folder. Look for your package inside of there and paste the section into github. I

[2017-02-28 09:42] axelheer commented on #4150
If my description is tool long, I get build warnings, which tell me to add a (shorter) summary. But I cannot add a summary, because there seems to be no plans to support that any more.

That doesn't make any sense. Does it?

[2017-02-28 11:56] mrward opened #4712 "NuGet package dependency added in different location in project.assets.json before second restore"
## Details about Problem

NuGet version: 4.0.0.2275

VS version: Microsoft Visual Studio Enterprise 2017 RC
Version 15.0.26206.0 D15REL

## Detailed repro steps so we can see the same problem

The project.assets.json file generated when installing a NuGet package into a .NET Core project is different to the final one produced. The NuGet package is moved from a dependencies section to inside the fr

[2017-02-28 13:07] jozefizso opened #4713 "nuget.exe restore fails with Visual Studio 2015 toolset"
## Details about Problem

NuGet product used: NuGet.exe

NuGet version: 4.0.0.2275

VS version: Visual Studio 2015 Professional, Update 3

OS version (i.e. win10 v1607 (14393.321)): win10-pro v1607 (14393.693)

## Detailed repro steps so we can see the same problem

1. Clone NuGetGallery from https://github.com/NuGet/NuGetGallery
2. Checkout tag `v2017.02.24`
3. Run `.\build.cmd`
4. Build will run

[2017-02-28 15:05] maxtoroq commented on #3830
Both compile and runtime only have the assembly listed in references:

[code]

[2017-02-28 15:42] DagrCode commented on #3419
Also agree to the Telerik comment... that was messing me up. I updated the components I was using and the error seems to have gone away. I'm guessing they fixed something on their end with their VS integration pieces.

[2017-02-28 17:27] jainaashish opened #4714 "NuGet.ContentModel consumes too much memory for string operations"
internal bug# 385896

NuGet.contentmodel allocates ~500mb out of 1.3gb string allocation for a customer scenario as mentioned in the internal bug.

Some of the stack trace from PerfView:

Name                                                                                                                                                                              	Inc %	             Inc
 Type Syst

[2017-02-28 17:35] jainaashish opened #4715 "Very large retry count for GraphOperations to try resolving dependency conflicts"
There is some 1000 times retries logic in GraphOperations class to try n resolve dependency conflicts. We need to reevaluate this logic and such a high count of retries since it calls into lot of nested foreach loops so at times, it becomes really expensive and allocates bunch of memory.

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.DependencyResolver.Core/GraphModel/GraphOp

[2017-02-28 18:14] ericf01 opened #4716 "Nuget: Could not install package 'Microsoft.Extensions.Logging 1.1.0'."
## Details about Problem

NuGet product used: Package Manager Console

NuGet version (x.x.x.xxx): Package Manager Console Host Version 2.8.60610.756

OS version: win10 Pro v1607 (14393.693)):

## Detailed repro steps so we can see the same problem

1.  In Microsoft Visual Studio Express 2013, create a vbproject targeting .Net Framework 4.5.1

2.  Open Package Manager Console

3.  PM> Install-Packa

[2017-02-28 18:45] rrelyea commented on #4652
Dupe of #4532 according to @zhili1208

[2017-02-28 18:45] #4652 closed, assigned to zhili1208

[2017-02-28 18:49] rrelyea commented on #4532
Need to review with RoslynProjectSystem team, but great fix for 4.0.1

[2017-02-28 18:49] rohit21agrawal commented on #4709
About the files getting flattened, that is expected behavior.

Every source file should go into the src\<ProjectName> folder maintaining relative path to the csproj file. However, consider scenarios where a source file is included from a directory that is the parent of the grandparent of directory in which the csproj resides. Where would the source file be put in that case?

Therefore, anything wh

[2017-02-28 18:50] ericstj opened #4717 "JsonRuntimeFormat writes excessive data"
I was porting some code from an old DNX copy of the RuntimeJson format stuff to use NuGet.RuntimeModel instead and noticed a couple differences.

- NuGet writes an empty `#import` array when there aren't any imports.
- NuGet writes open ended version ranges as `[versionMin, )` instead of `versionMin`

I've worked around both of these to maintain the same file format as before but wanted to make yo

[2017-02-28 19:04] jinujoseph opened #4718 "Migrated project shows warning when packed."
**Repro Steps**

- Copy the zip file from \\mlangfs1\public\Jinuj\TestCases\MigrationIssue1\EFGetStarted.AspNetCore.NewDb.zip
- unzip and open the sln
- Accept the migration and build once done.
- Right click the project and select "Pack"

**Expected**
Packed with no error or warning

**Actual**

1>------ Build started: Project: EFGetStarted.AspNetCore.NewDb, Configuration: Debug Any CPU ------
1>

[2017-02-28 19:09] #4575 closed, assigned to zhili1208

[2017-02-28 19:11] #4479 closed, assigned to rohit21agrawal

[2017-02-28 19:18] emgarten commented on #4716
@ericf01 the package contains the netstandard1.1 target framework which requires NuGet 2.12

You can get it from here: http://dist.nuget.org/index.html

[2017-02-28 19:23] NN--- commented on #3324
@nerumo You can try to shorten path with environment variables.

[2017-02-28 20:52] attilah commented on #4709
So it is expected behavior this way, I see the reasoning behind it and yes determining what can be the root can be vary from project to project.

What I'd expect is to receive a warning in this case about the flattening, since that was not expected, because this does not happen with regular files under the same directory as the project file.

[2017-02-28 21:04] livarcocc opened #4719 "`dotnet pack --include-source` places code sub-directories in the root of the package."
From @brettfo at https://github.com/dotnet/cli/issues/5871

## Steps to reproduce
Create a package with sources that includes code in subdirectories.

[code]

Then extract the `*.symbols.nupkg` file

## Expected  behavior
I expect the following structure:

[code]

## Actual behavior
The `SomeDir` directory was placed in the root of the package:

[code]

## Environment data
`dotnet --info` output:

[2017-02-28 21:20] AArnott commented on #4698
I've pushed my workaround as a nuget package: https://www.nuget.org/packages/NuGet4698Workaround

[2017-02-28 21:54] ericf01 commented on #4716
@emgarten - Upgrading Nuget from 2.8 to v2.12 in Visual Studio 2013 solved my initial problem.

However, the "Windows x86 Commandline" section of https://dist.nuget.org/index.html jumps directly from nuget.exe (v2.8.6) to nuget.exe (v3.2.0) without offering a v2.12.  I found that nuget.exe v3.2.0 does work with VS 2013's MsBuild v12; however, the latest nuget.exe v3.5.0 apparently requires MsBuild

[2017-02-28 23:06] emgarten commented on #4716
Re-opening for the msbuild version issue. You should be able to specify the path to msbuild's bin folder with ``-MSBuildPath``.

Could you also try the 4.0.0-rc4 release of nuget.exe?

There is no 2.12 release since 4.0.0 should cover all packages.config scenarios and support backwards compat.

[2017-02-28 23:06] emgarten commented on #4716
@zhili1208 does nuget.exe auto detect msbuild12?

[2017-02-28 23:23] eerhardt commented on #4424
@rrelyea - when VS 2017 is out the door, can we get this issue triaged?  This is going to affect a lot of "2.0" scenarios, so I'd like to get it fixed early in "2.0".

[2017-02-28 23:31] zhili1208 commented on #4716
4.0.0 can auto detect msbuild12, 3.5 can't

[2017-02-28 23:43] anangaur commented on #4102
I cannot find the the spec draft here: https://github.com/NuGet/Home/wiki/Support-dotnet-ref-add%7Cupdate%7Cdelete-packageref Has the url changed?

[2017-03-01 00:00] mlacouture opened #4720 "Netcore msbuild targets: Customizing Configuration and Platform produces unexpected results"
dotnet 1.0.0.-4c4-004842

.netcore targets permits to inject customizations to the build by placing a Directory.Build.props in the project directory.  However, this targets file is imported too late, some properties that depend on Configuration and Platform have already been defined so when customizing these properties the other ones get out of sync, for instance DebugSymbols property depend on Co

[2017-03-01 00:12] mlacouture commented on #4720
adding code again as the XML was resolved in my previous post.
`
<Project InitialTargets="ValidateBeforeBuild" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <Platform>x86</Platform>
    <Configuration>Release</Configuration>
   </PropertyGroup>
  <Target Name="ValidateBeforeBuild">
    <Warning Condition="'$(Configuration)' == 'Release' AND (!$(Optimize) OR $(D

[2017-03-01 00:19] mlacouture opened #4721 "Netcore msbuild targets get OutputPath and OutDir out of sync when customized."
dotnet 1.0.0.-4c4-004842

netcore targets change the Outputpath property by appending the TargetFramework value by default.  In a build system where the Outputpath and OutDir have been customized, the effect is that these properties get out-of-sync.

To illustrate copy the following code into a Directory.Build.props file and place it in a 'dotnet new console' project folder and do 'msbuild /v:m',

[2017-03-01 00:24] eerhardt commented on #4424
For example, this is breaking the `dotnet cache` feature on non-Windows machines in 2.0 because the crossgen executable is not marked with the "x" permission.

@gkhanna79 @ramarag

[2017-03-01 00:32] emgarten commented on #4716
Thanks @zhili1208

Closing this again as fixed based on that info

[2017-03-01 00:32] #4716 closed, assigned to nobody

[2017-03-01 01:13] dsplaisted commented on #4720
I've filed https://github.com/dotnet/sdk/issues/924 for this, so feel free to close the issue here.

[2017-03-01 01:34] karajas commented on #4254
Just wanted to follow up in this thread, I too would like a way to pass in the nuspec directly with the option to pass in command line nuspec properties. Is something like this in the pipeline?
[code]
Could a default pack.targets file be imported if a nuspec file is passed on the command line? This would ensure that the right targets would be imported in the case of both csproj and nuspec files.

[2017-03-01 01:35] alpaix opened #4722 "Enable code analysis on NuGet clients solution"
Getting right set of code analysis rules will improve code quality. When automated code analysis would help a developer addressing code issues before submitting a PR. Thus it'd make code review process more efficient.

There are few prerequisites necessary to make the code analysis work end-to-end:
1. Get basic recommended rule set.
1. Enable code analysis in NuGet.Clients solution.
1. Add custom

[2017-03-01 01:55] mishra14 commented on #4102
Spec - https://github.com/NuGet/Home/wiki/Support-dotnet-add,-update,-remove-pkg

Though it is out of date a bit.

[2017-03-01 02:20] #4720 closed, assigned to nobody

[2017-03-01 02:25] mlacouture commented on #4721
looking at the desktop targets it seems Outputpath is used to feed Outdir and they don't need to be preset at once; the desktop targets will take care of this later in the msbuild targets resolution process.

[2017-03-01 02:25] #4721 closed, assigned to nobody

[2017-03-01 02:31] debonte opened #4723 "C++ projects should use package cache under %USERPROFILE%\.nuget instead of solution cache"
NuGet product used: Visual Studio UI
NuGet version (x.x.x.xxx): 4.0.0.2286
VS version (if appropriate): VS 2017

1. Create a blank C++ UWP project.
2. Add a reference to some NuGet package.
3. Examine <SolutionRoot>\packages.

**Expected:**  Directory does not exist.  User's package cache at %USERPROFILE%\.nuget\packages is used instead.

**Actual:** Referenced package is copied to <SolutionRoot>\

[2017-03-01 03:03] davkean opened #4724 "Unloading a project in the middle of large graph can lead to hundreds of errors"
Unloaded a project in the project system repo that was referenced by 16 projects, get the following:

[code]

A single warning here would suffice.

[2017-03-01 03:06] davkean commented on #4626
Just unload a project, results in this: https://github.com/NuGet/Home/issues/4724

[2017-03-01 05:22] ericf01 commented on #4716
I tested and confirmed that nuget.exe v4.0.0 auto-detects and uses MsBuild v12 whereas v3.5 does not.  This version should be marked as the "latest"

[2017-03-01 07:13] maartenba commented on #4631
Any insight on the timing? (given the milestone name and description just changed :-))

[2017-03-01 09:36] v-nancyj opened #4725 "[Test Failure] The latest version of packages show inconsistently between PMC and PM UI in ASP.NET. Core Web Application(1.0 Templates) project"
**NuGet version:** 4.0.1-beta-2323 (update: was reported as 2329 at first. confirming that this reproed with 2323.)
**VS version:** Dev15 D15Rel 26228.00
**OS version:** Windows 10 RS1_Release 14393.949.170224-1924
**Repro Steps:**
1.	Create a C#->.NET Core->ASP.NET. Core Web Application (.NET Core) -> Web Application (ASP.NET. Core **1.0 Templates**) project.
2.	Open NuGet Package Manager with pr

[2017-03-01 12:35] budajeff commented on #1855
Is this statement still true today?

"The current consensus is that these packages are invalid, and should change. The fix will go in the CLI to auto add these references."

By "packages" do you mean Microsoft.Extensions.Logging? And if so, why haven't the maintainers of that package fixed the issue yet?

[2017-03-01 18:20] natemcmaster opened #4726 "Duplicate package produced when NuspecFile and IncludeSymbols=true are set"
**Repro**
[code]
msbuild /t:Pack

**Expected**
Just one package created, MyPackage.nupkg

**Actual**
Two identical packages created:
MyPacakge.nupkg
MyPackage.symbols.nupkg

The symbols package is unnecessary as the nuspec defines which files to include.

cc @rohit21agrawal

[2017-03-01 19:04] jainaashish commented on #4418
Need to discuss and finalize behavior for PCL projects to support PackageReference with .Net core team

[2017-03-01 19:28] emgarten commented on #4443
This will be done once we determine which value to use in the TFM.

//cc  @diverdan92

[2017-03-01 19:51] nkolev92 opened #4727 "Update the VSSDK to Microsoft.VSSDK.BuildTools 15.0.26201"
To build our VSIX right now we use Microsoft.VSSDK.BuildTools 15.0.26109-RC3.

We should update to build with the latest SDK version:
https://www.nuget.org/packages/Microsoft.VSSDK.BuildTools/

From an e-mail convo:
[code]
Since it doesn't seem like it's a high priority and there are no breaking changes
@rrelyea Should we target this for 15.1 or 15.3?

[2017-03-01 19:56] AArnott opened #4728 "Nugetizer should enable "Edit this.nuproj" command in context menu instead of offer an extra .targets file"
.NET Core projects, also based on CPS, enable an "Edit this.nuproj" command on the context menu so users can edit the project xml in the editor while the project is still loaded.

After doing this, the external .targets file that is created so users can conveniently edit project xml is no longer necessary.

[2017-03-01 19:56] AArnott commented on #4728
CC: @kzu

[2017-03-01 19:58] kzu commented on #4728
/cc @adalon

[2017-03-01 20:50] #3816 closed, assigned to alpaix

[2017-03-01 20:50] #4255 closed, assigned to alpaix

[2017-03-01 20:50] #4636 closed, assigned to alpaix

[2017-03-01 20:56] karann-msft commented on #4443
alright, so the verdict is in and we are going with the current behavior. Let's repurpose this to track the work that now needs to be done to make the nuget.exe install/restore behavior to be consistent with this check i.e. check the project's TPMV.

[2017-03-01 21:00] #4372 closed, assigned to alpaix

[2017-03-01 22:04] #4241 closed, assigned to jainaashish

[2017-03-01 22:18] chwarr opened #4729 "nuget pack fails if path has double backslash"
## Details about Problem

NuGet product used: nuget.exe

NuGet version: 3.5.0.1938 and 3.4.4.1321

OS version: Windows 10 Version 1607 (OS Build 15004.1000) amd64

Worked before? If so, with which NuGet version: unknown

## Detailed repro steps: double slash in non-glob pattern

1. Unzip the [sample project][sample-proj]
1. cd into the sample project directory
1. Run `nuget pack`

### Expected res

[2017-03-01 22:29] emgarten commented on #4443
To fix this the framework helper needs to be updated: https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Commands/Utility/MSBuildProjectFrameworkUtility.cs#L15

And from VS and the command line it needs to read the TPMV instead of TPV and pass it in.

[2017-03-01 23:38] #4558 closed, assigned to jainaashish

[2017-03-01 23:41] #4592 closed, assigned to emgarten

[2017-03-01 23:41] #4711 closed, assigned to emgarten

[2017-03-01 23:47] emgarten commented on #4592
The fix for this will be in 4.1.0  (Visual Studio 15.1)

My results for this with 127 interlinked projects:
Before: 900s
After: 21s

[2017-03-01 23:51] #4207 closed, assigned to emgarten

[2017-03-01 23:58] #4411 closed, assigned to nobody

[2017-03-02 01:07] nkolev92 commented on #4528
@rrelyea  Should we merge this to 4.1?

[2017-03-02 01:26] #4454 closed, assigned to mrward, emgarten

[2017-03-02 01:27] emgarten commented on #4454
Fixed with NuGet/NuGet.Client@9bb3952a37ac26664d11079fea5d2b7b352264ed

[2017-03-02 01:34] #4574 closed, assigned to rohit21agrawal

[2017-03-02 01:54] memontic-ms opened #4730 "NuGet restore fails when two projects have the same PackageId"
## Details about Problem
NuGet restore will fail if projects do not have unique PackageId values - but only if PackageReferences are used. Identical PackageId values do not cause an issue when project.json files are used instead.

NuGet.exe version: 4.0.1.2329
VS version: 15.0.0+26228.0.d15rel
MSBuild version: 15.1.548.43366
NuGetizer 3000 for VS2017 VSIX installed

## Repro
1. Create solution wit

[2017-03-02 02:03] #4175 closed, assigned to nobody

[2017-03-02 02:05] rohit21agrawal commented on #4136
i have merged the fix for this bug into dev branch for 4.3 milestone, but reopening this under 4.1 milestone for visibility.

CC: @rrelyea @DoRonMotter

[2017-03-02 02:14] emgarten commented on #4726
@natemcmaster are you intending this flag to mean add the pdbs into the normal nupkg?

Symbol packages are typically pushed to a symbol feed and the normal nupkg does not include the symbols.

I think this is slightly more confusing now that there are flags for both symbols and source, I believe in nuget.exe before there was only one option and it included both symbols and source into the symbols

[2017-03-02 02:15] emgarten commented on #4726
Also, I wouldn't expect the non-symbols nupkg to contain pdb files. If IncludeSymbols is adding those it seems like a bug.

[2017-03-02 02:24] ghuntley opened #4731 "Deprecation and Security warnings in NuGet.exe/Visual Studio and NuGet.org"
Howdy - any plans to introduce this concept from the nodejs ecosystem into dotnet?

![image](https://cloud.githubusercontent.com/assets/127353/23490245/1377315a-ff43-11e6-8c96-74e4ca1833ac.png)

1) Provide way for package author to mark a package as deprecated.
2) Provide way for package consumer to receive this notice in Visual Studio/NuGet.exe
3) Provide way for package author to mark a package

[2017-03-02 02:35] ghuntley commented on #4175
@WonyoungChoi why did you close this off? Accident? I don't think this has been resolved.

[2017-03-02 02:44] clairernovotny commented on #4136
What's it going to take to get this into 4.1? Seems like a small fix?

[2017-03-02 03:11] natemcmaster commented on #4726
Yes, that is how we used it. Generally when we have set NuspecFile, we are doing some kind of non-standard layouts, like packages with MSBuild tasks and or multiple assemblies included.

[2017-03-02 03:31] WonyoungChoi commented on #4175
@ghuntley The related PR https://github.com/NuGet/NuGet.Client/pull/1083 has been merged into 4.1 and dev.

[2017-03-02 04:31] emgarten commented on #4726
@natemcmaster that makes sense, it seems like IncludeSymbols should be ignored with a nuspec file then. Is that what you expect, or are you relying on this partially?

[2017-03-02 04:32] rohit21agrawal commented on #4726
This is a bug alright. IncludeSymbols and IncludeSource should have no meaning when packing a nuspec

[2017-03-02 05:23] shandysawyer commented on #3131
Has anyone figured out a work around for this issue for 2012? @drieseng , you outlined some steps, but I don't have much experience with this.

[2017-03-02 09:03] ryangle opened #4732 "ApiKey as an Http header is not in the Request from Nuget-Clinet"
## Details about Problem

NuGet product used NuGet.exe and VS UI
NuGet version:v3.5.0 and v4.0.0-rc4

dotnet.exe --version (if appropriate):

VS version :vs2017-rc

## Detailed repro steps so we can see the same problem

 I set a apikey use the command ` nuget setaipke xxxx:xxxx -Source xxxxxxx`.
Then,when I restore the package from the source which can't read by anonymous，the response
is empty。
T

[2017-03-02 09:41] v-luzh opened #4733 "The ‘Installed’ drop down in solution PM UI show incorrectly with multiple projects contained"
**NuGet Version:** NuGet 4.3.0-Beta1-2335
**VS Version:** D15Rel 26228.00
**OS Version:** Windows 10 RS1_Release 14393.949.170224-1924

**Repro Steps:**
1. Create a solution with two C# Console Applications via VS.
2. Open the **‘Manage NuGet Package for Solution…’**.
3. Click ‘Browse’ tab and select package ‘Newtonsoft.Json’.
4. Check project1 in the right pane and click install button.
5. **Unch

[2017-03-02 11:01] rogercorrea commented on #3020
I never see it. Why force the upgrade to 2013 version? What the problem with the 2012 version? A old resource?

[2017-03-02 14:22] kzu commented on #4728
@davkean could you point us to the relevant Roslyn project system that exposes this command?

Thanks!

[2017-03-02 15:03] frankbuckley commented on #3975
This now works as expected (with 4.0.0.2275). Thanks!

[2017-03-02 15:03] #3975 closed, assigned to nobody

[2017-03-02 15:43] AArnott commented on #4728
I *think* it's [this](https://github.com/dotnet/roslyn-project-system/blob/5c13ac487b74c8a2ab20f85d825235cb016b0b4f/src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/Packaging/ManagedProjectSystemPackage.cs#L20-L21) but @davkean should be able to say for sure (and whether there's code to back these capabilities up).

[2017-03-02 16:56] niemyjski commented on #3020
@rogercorrea betting VS2015 will be on the chopping block next month as well.

[2017-03-02 16:57] niemyjski commented on #3131
There is no work around, you have to remove .net core support from your nuget package or have them manually install the package.

[2017-03-02 17:55] #4613 closed, assigned to jainaashish

[2017-03-02 18:08] #4599 closed, assigned to jainaashish

[2017-03-02 18:20] ericstj opened #4734 "NuGet downloads *way* too much for desktop projects"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
VS UI

NuGet version (x.x.x.xxx):
3.5.0

VS version (if appropriate):
Dev 14 update 2

OS version (i.e. win10 v1607 (14393.321)):
win10 v1607 (14393.693)

Worked before? If so, with which NuGet version:
Don't know

## Detailed repro steps so we can see the same problem

1.  Create a desktop con

[2017-03-02 19:45] mhsmith01 opened #4735 "Nuget install Packages + VS TransformXML"
Also posted discussion on stackOverflow: http://stackoverflow.com/questions/41944337/how-to-use-nuget-install-packages-vs-transformxml

The issue is when installing nuget packages, changes are made to the end file like App.config which are lost once the file is generated from its App.base.config + App.MyEnv.config.  Much of what I have researched deals with setting up the package directly with XDT

[2017-03-02 21:42] debonte opened #4736 "Need API to determine root of NuGet package that contains a specified file"
I'd like a NuGet.VisualStudio API that, given a file path, will return the path to the root directory of the NuGet package containing that file.  It should support packages.config, project.json, and PackageReference scenarios.

So, for example:

**Input:** c:\users\erikd\.nuget\packages\erikdwpfsdk\1.0.3\lib\net40\WpfSdk.dll
**Result:** c:\users\erikd\.nuget\packages\erikdwpfsdk\1.0.3

**Input:**

[2017-03-03 00:25] davkean commented on #4728
These capabilities cannot be in the targets files, they must be up-front and known before the configuration capabilities have flowed into the unconfigured project, otherwise, you will start seeing errors like this: https://github.com/dotnet/roslyn-project-system/issues/1103. This is a timing thing, so you won't see it all the time.

The reason for this is that these capabilities add COM components

[2017-03-03 00:37] joelverhagen commented on #4736
This is the working idea I have. This comment may be edited as the idea evolves.

[code]

[2017-03-03 00:43] optical commented on #2714
This is definitely an error message which could do with some improvement. It seems there are two problems with the message here.

Firstly it refers to a `value` parameter being null, which doesn't help with identifying that `version` is invalid. You basically have to resort to systematically editing/removing/replacing each element until the error goes away, which sucks.

The second is that if you

[2017-03-03 00:50] debonte commented on #4736
In my case I need to match the output values to the corresponding input value (ex. output[1] maps to input[1]).  If we think this will be common, I think the resulting collection should be a collection of KeyValuePair<string, string> or Tuple<string, string>.  Otherwise those consumers would need to do an input.Zip(output) or something along those lines.

[2017-03-03 00:54] kzu commented on #4728
Ugh, that's super ugly. Is it a CPS known bug?

[2017-03-03 01:06] joelverhagen commented on #4736
I think `KeyValuePair<string, string>` is right, where the key is the DLL (or any asset) path and the value is either the full path to the package directory or null.

If the project does not support NuGet at all, I think all of the values (of the `KeyValuePair`) should be null. Alternatively, the method could just return null.

[2017-03-03 01:44] AArnott commented on #4728
Should we reactivate this then?

[2017-03-03 01:51] pranavkm opened #4737 "PackTask complains about long descriptions without the ability to set a summary"
SDK Version 1.0.0-rc4-004913

For a project with a large description, the pack target produces a warnings:

[code]

However, there isn't a way to produce a summary to the pack task.

[2017-03-03 01:52] alpaix commented on #4736
Couple of notes:
1. API for a single asset file would be clearer and would not require extra data structure. What was the motivation behind this design?
2. I don't feel comfortable with utilizing `EnvDTE.Project` as a key. The _interop_ API should not have external dependencies. Project unique name (full path) should have been used instead.

Thoughts?

[2017-03-03 02:00] #4284 closed, assigned to alpaix

[2017-03-03 02:20] joelverhagen commented on #4736
Single asset file does not cover packages.config. We'd need some something else for that case. This API can support all project types. Also, 0pening up the entire assets file seems risky... that seems like too much information for this scenario. The assets file has also revved many time over the past couple years.

Another way to simplify is to return an `IEnumerable<KeyValuePair<string, string>>`

[2017-03-03 02:29] kzu commented on #4728
@davkean could you share pointers as to how to provide those capabilities early enough?

[2017-03-03 02:35] ctaggart commented on #4142
@onovotny The solution that we are going forward with to enable source link is to embed the portable pdb files in the .NET Core dll files. That achieves getting them in the nupkg without people having to change anything else about their build process. https://github.com/ctaggart/SourceLink#dotnet-sourcelink

[2017-03-03 02:36] emgarten commented on #4734
@ericstj is there a way to tell beyond downloading the package and checking the files?

I would expect the package to contain a dependency group for net46 that contains only the correct dependencies. This is painful for the package author, but if the server did provide this info some scenarios would end up still needing to resolve these dependencies to check this again when the package was local s

[2017-03-03 02:37] emgarten commented on #4732
@RyanHuangWork the API key is only used for the ``push`` command. It is never sent as a feed credential.

[2017-03-03 02:38] davkean commented on #4728
That exact code that Andrew points shows that, you set it on the project type. :)

This not really a CPS bug because that's how it was designed. We run into the same thing with services that need to figure out configurations. MSBuild evaluation only runs in configs, but there's a bunch of services that need to run _before_ configs are known. Capabilities in targets only take affect when a configur

[2017-03-03 02:42] davkean commented on #4728
To provide some more information, capabilities in targets automatically by their very nature become "dynamic" - that is components that apply to them must also be dynamic if they want to be auto-loaded, ie no tranditional fixed AutoLoad, instead they must implement IProjectDynamicLoadComponent.

[2017-03-03 02:50] ctaggart commented on #1696
Several of these issues are related. I have a list at https://github.com/ctaggart/SourceLink/wiki/Contributing#issues

By adding a source link in the portable pdb file and then embedding the portable pdb file in the dll by doing `<DebugType>embedded<DebugType>`, that goes in the nupkg, and we have a wonderful solution. It looks like aspnet will hopefully be the first adopters. https://github.com/a

[2017-03-03 02:53] clairernovotny commented on #4142
@ctaggart that's a really, really, really bad idea....sorry. It's bad for mobile devices where the physical image size and memory is tight. We don't want pdb's to be loaded into memory because they're embedded in the dll. This is a complete non-starter.

It's not just mobile, but other constrained devices like IoT and embedded (think Tizen).

[2017-03-03 02:58] ctaggart commented on #4142
Ugh. @tmat help

[2017-03-03 03:15] ryangle commented on #4732
@emgarten thanks for your reply.
I use the JFrog Artifactory be a nuget repository in my scenario,so I can remove the read permission of anonymous.
I didn't find a way to request packages with my credential.

[2017-03-03 06:25] emgarten commented on #4732
@RyanHuangWork use the sources command to add a username/password

https://docs.microsoft.com/en-us/nuget/tools/nuget-exe-cli-reference#sources

[2017-03-03 06:45] tmat commented on #4142
@onovotny It's not a bad idea. It might not be feasible for all libraries (e.g. as you mention those potentially deployed on small devices), but many customers are fine with 10-20% dll size increase. Note that the PDB data pages are actually not committed into memory until the PDB data is accessed.

We are currently also figuring out whether the debugger could fetch Portable PDBs from packages pub

[2017-03-03 06:47] tmat commented on #4142
In any case I'd recommend either embed PDBs into dll/exe, if size is not an issue, or include it in a separate file in the nuget package next to the dll/exe.

[2017-03-03 06:59] ryangle commented on #4732
@emgarten Thank you very much

[2017-03-03 06:59] #4732 closed, assigned to nobody

[2017-03-03 07:56] per-samuelsson opened #4738 "Inconsistent `dotnet nuget push` - or by design?"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

* NuGet CLI: 4.0.0.2275, **and**
* `dotnet nuget`, showing NuGet version 4.0.0.0

dotnet.exe --info
[code]

## Detailed repro steps so we can see the same problem
1. Having empty folder `/packages/foo`, push a package there using
    * `nuget push my.nupkg -s file:///path/to/packages/foo`.
2.

[2017-03-03 08:22] jpierson commented on #3386
Is there any clarification on how issues like this apply to the new SDK csproj project files now that _project.json_ is no longer a thing? Most of the NuGet documentation seems to still explicitly mention project.json everywhere but it's difficult to understand if the points still carry over to the new csproj format as well.

[2017-03-03 08:29] v-nancyj opened #4739 "Packages.config projects are detected as Legacy CSProj"
**NuGet Version:** NuGet 4.3.0-beta1-2346 **(Insertable)**
**VS Version:** D15Rel 26228.00
**OS Version:** Windows 10 RS2_Release 15048.0.170228-1522

**Repro Steps:**
1.	New a Visual C#->ASP.NET Web Application (.NET Framework) -> Web Forms project.
2.	Open the **‘Reference’** node under solution and build the solution after creating project successfully.

**Expected Result:**
The solution should

[2017-03-03 09:17] v-nancyj opened #4740 "[Test Failure] Package Reference executing delay in C# UWP project"
**NuGet Version:** NuGet 4.3.0-beta1-2346 **(Insertable)**
**VS Version:** D15Rel 26228.00
**OS Version:** Windows 10 RS2_Release 15048.0.170228-1522

**Repro Steps:**
1.	New a Visual C#->Windows Universal->Blank App (Universal Windows).
2.	Right-click on the project and click ‘Manage NuGet Packages…’.
3.	Go to ‘Installed’ tab and verify there is a default installed package.
4.	Clicking ‘Reference

[2017-03-03 09:46] v-nancyj opened #4741 "[Test Failure]Can not creat PCL project after installing NuGet 4.3.0-beta1-2346 (Insertable)"
**NuGet Version:** NuGet 4.3.0-beta1-2346 **(Insertable)**
**VS Version:** D15Rel 26228.00
**OS Version:** Windows 10 RS2_Release 15048.0.170228-1522

**Repro Steps:**
 New a Visual C#-> Class Library (Portable) project. (Check Targets as below screenshot)

![1](https://cloud.githubusercontent.com/assets/20632775/23546029/cf2517a0-0038-11e7-807c-19b34e8f14b9.png)

**Expected Result:**
The PCL proj

[2017-03-03 09:55] v-luzh opened #4742 "[Test Failure] No packages.config and the installed package is add into PackageReference even with ‘packages.config’ mode selected in settings"
**NuGet Version:** NuGet 4.3.0-Beta1-2346
**VS Version:** D15Rel 26228.00
**OS Version:** Windows 10 RS2_Release 15048.0.170228-1522

**Repro Steps:**
1. Check **‘Packages.config’** is selected as default package management format in NuGet Package Manager setting dialog.
2. Create a C# Console Applications via VS.
3. Open the ‘Manage NuGet Packages…’ for the project.
4. Click ‘Browse’ tab, select

[2017-03-03 10:07] v-nancyj opened #4743 "[Test Failure]The package information can’t be added in ‘project.json’ file"
**NuGet Version:** NuGet 4.3.0-beta1-2346 (Insertable)
**VS Version:** D15Rel 26228.00
**OS Version:** Windows 10 RS2_Release 15048.0.170228-1522

**Repro Steps:**
1.	New a Visual C#->Windows Universal->Blank App (Universal Windows).
2.	Right-click on the project and click ‘Manage NuGet Packages…’
3.	Install package 'Newtonsoft.Json 9.0.1'.
4.	Click ‘project.json’ node under solution to check in i

[2017-03-03 11:31] rogercorrea commented on #3020
Very stranger. The Nuget want forcing us the update the new versions? It looks a Microsoft policy. What the reason for it? What the technical argument to I update the Visual Studio version always for use the Nuget? I have a project that work and was build in 2012 version but I did try use a library that install only with the 2.12 version of Nuget. Serious that I need update the Visual Studio versi

[2017-03-03 12:43] clairernovotny commented on #4142
@tmat my concern, and why I called it out as "bad", is that the creators of the libraries are often not the end-users and are not likely going to be thinking about where their libraries may be used.

So people will think they're doing the right thing, being helpful, providing symbols, etc, but then adversely affecting their users by generating larger libraries.

That would be a much nicer idea, IM

[2017-03-03 13:38] #4728 closed, assigned to nobody

[2017-03-03 13:40] kzu commented on #4728
Gotcha @davkean. Thanks!

[2017-03-03 15:56] rymeskar opened #4744 "Nuget.exe -ExcludeVersion parameter incorrect behavior"
## Details about Problem

NuGet product used: NuGet.exe
NuGet version: 3.4.4.1321
OS version:  win10 v1607 (14393693):

1. ./nuget.exe install $nugetPackage -ExcludeVersion -Version 1.0.0.0
2. Leave the installed package in the folder
3. From the same folder ./nuget.exe install $nugetPackage -ExcludeVersion -Version 1.0.0.10
4. Nuget.exe won't download the new version and will just use the one in

[2017-03-03 16:31] ericstj commented on #4734
NuGet is downloading the package and (presumably) checking the files, but then it is still downloading things it knows it isn't going to use...  Every time it gets a package it can look at the nuspec and know deterministically the one set of dependencies it needs.  Why would it download more?

[2017-03-03 17:16] jpierson opened #4745 "Are contentFiles supported for SDK csproj based .NET Core Console Applications?"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (x.x.x.xxx): 3.4.3.855

VS version (if appropriate):

Microsoft Visual Studio Enterprise 2017 RC
Version 15.0.26206.0 D15REL
Microsoft .NET Framework
Version 4.6.01586

Installed Version: Enterprise

Architecture Diagrams and Analysis Tools   00369-50000-00000-AA907
Microsoft Arc

[2017-03-03 17:31] tmat commented on #4142
@onovotny If you find such a library that you absolutely need to be smaller you could let the producer know to change the settings and publish PDB separately. In case the author doesn't respond we can provide a tool that removes the PDB data from the dll. And you could then publish such modified library + pdb in your own feed. The dll would still link to the PDB so the debugger would be able to fi

[2017-03-03 17:57] hrkeni opened #4746 "Unable to nuget.exe delete on a prerelease build"
## Details about Problem

NuGet product used: NuGet.exe

NuGet version (x.x.x.xxx): 3.5.0.1996

dotnet.exe --version (if appropriate):

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)):

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

1. Put a prerelease version up on a nuget repo
2. Use nuget.exe delete

This command

[2017-03-03 18:14] debonte opened #4747 "IVsPathContextProvider.CreateAsync returns incorrect value if project uses packages.config"
@joelverhagen noticed this issue when we were talking yesterday.  Just wanted to make sure it was recorded.  He may want to correct my description of the problem.

IVsPathContext contains a UserPackageFolder and a collection of FallbackPackageFolders.  Neither of those are applicable to packages.config scenarios.  However if you call IVsPathContextProvider.CreateAsync on a packages.config project

[2017-03-03 18:22] #4528 closed, assigned to nkolev92

[2017-03-03 18:31] emgarten commented on #4745
@jpierson check the props file under obj, if the contentFiles are valid for the project they should be added there.

As a test try adding ``contentFiles/any/any/a.txt`` to the package and ensure that it shows up, this should always be used.

If none of that works please share the package or some repro steps on creating a similar package and project.

[2017-03-03 18:44] jpierson commented on #4745
@emgarten, ok I'll check. I tried something very similar to `contentFiles/any/any/a.txt` but I wasn't checking this props file. Looking at the props file as is with out the `any/any` structure just looks like this.

[code]

[2017-03-03 18:59] emgarten commented on #4734
For packages.config projects NuGet finds all possible versions of the package, then it finds all dependencies for the project target framework. So it is narrowing things down, but if an older or newer version is authored in a way that it looks like it could end up using more packages NuGet will get info from the feed for those also.

The requests for RID packages in your output looks suspicious, p

[2017-03-03 19:35] ericstj commented on #4734
Crypto uses direct dependencies for RID specific packages so those are expected, though I wouldn't have ever expected NuGet to download them.

Whoa, that's disturbing.  Especially since its looking at pre-release packages as well despite asking it to install stable.  Why does it do that if its only going to use the one you asked it to install?

I guess that could explain it.  I'll try using nuget.

[2017-03-03 19:39] emgarten commented on #4745
@jpierson with ``any/any`` it shows up?

[2017-03-03 19:46] emgarten commented on #4745
Can you share the package entry from project.assets.json from both the libraries section and the targets section.

[2017-03-03 19:46] #4564 closed, assigned to joelverhagen

[2017-03-03 19:48] joelverhagen commented on #4564
This fix has been checked into `release-4.1.0-rtm` as well as `dev` (for 4.3.0).

[2017-03-03 20:02] debonte commented on #4736
While we use IVsHierarchies now, we hope to move to AnyCode in the future.

Maybe I misinterpreted the question from @alpaix, but I thought he was asking why GetPackageDirectoriesAsync takes (and returns) a collection.  Why it doesn't just get you the package directory for a single file.  @joelverhagen had told me that this API would need to do a lot of expensive work (file parsing?) that could be

[2017-03-03 20:10] eerhardt commented on #4424
Shell scripts need to be marked executable as well.

/cc @livarcocc

[2017-03-03 20:23] emgarten commented on #4741
It looks like this is incorrectly treating the project as a LegacyCSProjPackageReferenceProject

[code]

[2017-03-03 20:36] jpierson commented on #4745
Ok, that seems to be the ticket. My mistake was a combination of not knowing to look at that props file along with not having my content packaged under a `lang`/`framework` hierarchy.

Thanks for your help @emgarten, I'll close this issue.

[2017-03-03 20:36] #4745 closed, assigned to nobody

[2017-03-03 20:38] joelverhagen commented on #2662
/cc @rrelyea, could someone on the client side take ownership of this? I've been speaking with @chamons and @mrward offline so I can hand off any and all information I have to whoever picks this up on client side.

[2017-03-03 20:39] emgarten commented on #4745
Glad it worked! The structure differs from the older content folder and this isn't very obvious.

[2017-03-03 20:43] emgarten commented on #4739
The template is hard coded to have references. However the template wizard added PackageReferences instead of extracting the packages to the packages folder.

[2017-03-03 20:47] emgarten opened #4748 "Project style dialog should not apply to templates"
### Problem 1

Many templates contain hard coded references and then set skip assembly references in the template. These references point to the packages.config style package folder.

If the project is generated as a PackageReference project this will be broken.

### Problem 2

Users expect that the project style setting will be applied to new projects and are confused when it doesn't work.

### S

[2017-03-03 20:49] emgarten commented on #4739
Opened https://github.com/NuGet/Home/issues/4748 for further tracking on this scenario to ensure we don't enable this on accident.

[2017-03-03 20:50] emgarten commented on #4739
It looks like Legacy CSProj is winning for packages.config project types, and that is causing all of these issues.

[2017-03-03 20:51] emgarten commented on #4740
Dupe of https://github.com/NuGet/Home/issues/4739

[2017-03-03 20:51] #4740 closed, assigned to nobody

[2017-03-03 20:51] emgarten commented on #4741
Dupe of https://github.com/NuGet/Home/issues/4739

[2017-03-03 20:51] #4741 closed, assigned to nobody

[2017-03-03 20:52] emgarten commented on #4742
Dupe of https://github.com/NuGet/Home/issues/4739

[2017-03-03 20:52] #4742 closed, assigned to nobody

[2017-03-03 20:52] emgarten commented on #4743
Dupe of https://github.com/NuGet/Home/issues/4739

project.json isn't being used due to the bug

[2017-03-03 20:52] #4743 closed, assigned to nobody

[2017-03-03 20:56] emgarten commented on #4739
@jainaashish I'm moving this issue to you since it looks rooted in Legacy CSProj, let me know if you uncover anything else. I believe this issue is causing the problems on both 4.1.0 and 4.3.0

[2017-03-03 21:19] emgarten commented on #4734
With PackageReferences the resolver doesn't go through all possible dependencies, so this will be improved once we move in the direction in the not so distant future.

The current behavior you are seeing is just for packages.config where resolution is stricter and making all http requests up front in parallel is sometimes beneficial.

[2017-03-03 21:30] alpaix commented on #4736
I'm quite convinced we should stick to a project's unique name/full file path as we did with other new APIs.

Premature optimization should never be a driving factor for public extension API. Let's figure exact scenario and design the best API for it.

My another concern for collection input was error handling, namely responding with an error result for a particular item in it.

Excellent idea! Do

[2017-03-03 23:15] debonte commented on #4736
No, not at the moment.  If you want to do some brainstorming about new APIs that might be good to add in the future, we should include LutzR.

[2017-03-03 23:26] rrelyea commented on #4371
Old title: [Watson] apphangb1: APPLICATION_HANG_BusyHang_cfffffff_Microsoft.VisualStudio.Shell.15.0.dll!Microsoft.VisualStudio.Shell.VsTaskLibraryHelper+__c__DisplayClass24_0_1+__AsVsTask_b__1_d[[System.__Canon,_mscorlib]].MoveNext

[2017-03-03 23:37] karann-msft opened #4749 "updating a nuget package for a C++ UWP app from the nuget UI causes VS to crash"
1. create a new CPP UWP app
2. add an old version of a nuget package
3. update it
4. observe crash

[2017-03-03 23:38] #4739 closed, assigned to jainaashish

[2017-03-04 00:38] jainaashish commented on #4418
So the right guidance here is to move from PCL library to .net standard library. We'll well document this and what customer is expected to do here. But there is no engineering effort required for now. So closing this bug.

[2017-03-04 00:38] #4418 closed, assigned to jainaashish

[2017-03-04 16:36] NinoFloris opened #4750 "Nuget should drop the dot in a few resources from src/NuGet.Core/NuGet.Commands/Strings.resx"
Currently a dotnet restore looks like this:

[code]

Take note of the first line not having a dot after the path name, the second line however does.

This interferes with quite a few (and recently also vscode) click to go to file tools as they cannot find the file:
[code]
They can however find
[code]

It's very minor but an easy fix

Restore completed:
https://github.com/NuGet/NuGet.Client/blob/34

[2017-03-04 17:16] heaths opened #4751 "Custom metadata from nuspec file is lost"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): nuget.exe

NuGet version (x.x.x.xxx): any (verified in 2x and 3x)

dotnet.exe --version (if appropriate): N/A

VS version (if appropriate): N/A

OS version (i.e. win10 v1607 (14393.321)): N/A

Worked before? If so, with which NuGet version: No

## Detailed repro steps so we can see the same pro

[2017-03-04 17:25] heaths commented on #4751
Sample project uploaded to https://github.com/Microsoft/vswhere/tree/choco/pkg/vswhere. You don't need to install [NuProj](https://marketplace.visualstudio.com/items?itemName=NuProjTeam.NuGetPackageProject) - just restore packages.

I could fix this by adding a property bag to `IPackageMetadata` and anything not explicitly referenced would be added to that.

If I were to fix this, would you accept

[2017-03-04 18:34] joelverhagen opened #4752 "Not all HTTP requests are logged"
Most notably, HTTP 401 challenges that end up being resolved in our authentication handler do not ever reach this log line:
https://github.com/NuGet/NuGet.Client/blob/662e5197ae5dbf7c3cb6f58359bc3a7ddb44bb01/src/NuGet.Core/NuGet.Protocol.Core.v3/HttpSource/HttpRetryHandler.cs#L70

There's another issue tracking that too many HTTP messages are logged (404 in this case, which can be confusing to the

[2017-03-05 15:43] BrainCrumbz commented on #1365
Is that nuget.exe available through some channel to be downloaded, especially for using it from a CI environment? Thanks

[2017-03-05 15:47] haf commented on #1365
Wow, amazing turn-around time there!

[2017-03-06 03:11] AArnott opened #4753 "Package restore of sln fails, but each individual project succeeds"
d15rel 26228.0

[code]

Package restore mostly succeeds, but fails with these two errors:

Yet when I do a package restore on each individual project in the solution, I get no errors:

[code]

[2017-03-06 14:40] BrainCrumbz opened #4754 "[Potential bug] Dependency in group with targetFramework alias not honored"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe

NuGet version (x.x.x.xxx):  3.5.0.1938

dotnet.exe --version (if appropriate): 1.0.0-preview2-003131

VS version (if appropriate): not related. VS Community 2015 14.0.25431.01 Update 3.

OS version (i.e. win10 v1607 (14393.321)): win10 x64 v1607

Worked before? If so, with which NuGe

[2017-03-06 15:45] AArnott opened #4755 "Pack should support incremental clean"
When I pack a project, then change its Version, then pack again, the old nupkg with the old version number should be deleted. MSBuild has built-in support for this, calling it "incremental clean". It's pretty easy to activate. Just add your .nupkg file to the MSBuild `FileWrites` item list [like NuProj does](https://github.com/nuproj/nuproj/blob/ff5c005b575e980ea90b0cab381a284d49602ac1/src/NuProj.

[2017-03-06 17:41] jinujoseph opened #4756 "Package Manager displaying error"
**Repro steps**

•	Create a .net core console project;
•	Right click the solution and add a new standard class library project;
•	Add the reference from console to standard class. Build it succeeded.
	But if close the solution and reopen it. if choosing the “Package Manager” in Output window, an error message is shown as below:
Error occurred while restoring NuGet packages: The operation failed as

[2017-03-06 18:51] zhili1208 commented on #4532
checked in fix: https://github.com/NuGet/NuGet.BuildTasks/commit/057af5b6ff9521551cf6dcee5cd737993a943472

[2017-03-06 18:51] #4532 closed, assigned to zhili1208

[2017-03-06 18:57] emgarten commented on #4756
@jinujoseph thanks for the report, this looks like a dupe of https://github.com/NuGet/Home/issues/4577 https://github.com/NuGet/Home/issues/4307

Let me know if you disagree

[2017-03-06 18:57] #4756 closed, assigned to nobody

[2017-03-06 19:49] rrelyea opened #4757 "Improve Package Ref for Legacy CSProj"
buffer task for unknown problems in this space.

[2017-03-06 20:06] #1930 closed, assigned to nobody

[2017-03-06 20:11] emgarten commented on #4491
We should really look at the user experience here before shipping 4.0.0 RTM.

[2017-03-06 20:14] rrelyea opened #4758 "VSFeedback bugs (in 15.1) + incoming"

[2017-03-06 20:24] rrelyea opened #4759 "Fix E2E tests Dev15, Dev15 Private builds"

[2017-03-06 20:28] rrelyea opened #4760 "Fix E2E tests Dev14"
Sometimes it fails after 209 passed tests.
A test is crashing VS.

[2017-03-06 21:07] rrelyea opened #4761 "Push tweaks"

[2017-03-06 22:10] ramarag opened #4762 "Provide a target to restore nuget packages without projects"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): Nuget msbuild targets

NuGet version (x.x.x.xxx):4.0.0-rtm-2323

Worked before? If so, with which NuGet version: Never

## Detailed repro steps so we can see the same problem

To restore a single nuget package from msbuild a project needs to be created.
We need a simple target to call with just

[2017-03-06 22:11] ramarag commented on #4762
cc @gkhanna79 @eerhardt

[2017-03-06 22:57] emgarten commented on #4762
@ramarag can you provide more details on your scenario?

Restore does all of the following, which outputs would you need?
1. project.assets.json
1. Packages in the user packages folder
1. targets/props files
1. Dependency packages

Restore must have target framework to walk dependencies, currently this comes from the project. Are you expecting to pass this in, or are you expecting this to download

[2017-03-07 01:40] #4665 closed, assigned to jainaashish

[2017-03-07 01:43] #4531 closed, assigned to jainaashish

[2017-03-07 01:53] #4443 closed, assigned to jainaashish

[2017-03-07 03:02] ramarag commented on #4762
Yes for all [ except may be the targets/props files- but keep it in if it is not too much trouble]
it is of course reasonable to expect the  additional info like tfm to be passed in as properties.

[2017-03-07 09:52] v-nancyj commented on #4725
The bug has been fixed, please close it, thanks!

[2017-03-07 10:49] jacek-jaskolski commented on #4699
@mishra14 I'm trying to `dotnet add package rawrabbit -v 2.0.0-*` and it gives me:

`Please specify one package reference to add.  `
`.NET Add Package reference Command `

Adding `<PackageReference Include="rawrabbit" Version="2.0.0-*">` to csproj file and restoring the packages works fine.

Using version `1.0.0-rc3-004530`

[2017-03-07 15:06] marcosbrigante commented on #2468
Trying to add something, I ended up in this thread trying to make my build machine auto restore nuget packages for a VS2015 solution. We used to depend heavily on "enable nuget package restore" and "auto download nuget.exe if missing" features, but it does not exists anymore as we can read here:

https://docs.microsoft.com/en-us/nuget/consume-packages/package-restore#migrating-to-automatic-restore

[2017-03-07 15:47] natemcmaster commented on #4737
Dup of https://github.com/NuGet/Home/issues/4587

[2017-03-07 16:51] jabrown85 commented on #4532
When is this fix just going to "work"? If nuget 4.0.1 gets released will VS 2017 pickup the updated Build.Tasks?

The VS2017 release seems to have the same issue which I guess means this fix didn't make the release.

[2017-03-07 17:06] bbowman commented on #4730
@kzu may be interested here as well. Looks like the package id prop is also used for restore which may be tricky.

[2017-03-07 17:49] mishra14 commented on #4699
@jacek-jaskolski : We initially had a problem about placing `-v` param in the command after the package name. But that was fixed a while ago here: https://github.com/dotnet/cli/commit/04a7fca9fc5512e738cd9386e129f09a2235a55f.

Please try the latest dotnet cli and it should be fine.

[2017-03-07 18:17] zhili1208 commented on #4532
@jabrown85 this fix didn't make the release, VS will not pickup the fix when nuget 4.0.1 release, but next VS will release with nuget 4.0.1, VS release will pick up this fix.

[2017-03-07 18:41] jabrown85 commented on #4532
@zhili1208 is there anyway to reference the updated Build.Tasks from a nightly build or anything (csproj change I'm guessing?)

[2017-03-07 18:54] zhili1208 commented on #4532
Since it's open source project, you can git clone the repo and build it, https://github.com/NuGet/NuGet.BuildTasks, copy&paste all dlls and overwrite all files under C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\Microsoft\NuGet\15.0

[2017-03-07 19:06] jainaashish commented on #4566
Fixed as part of https://github.com/NuGet/Home/issues/4665  and PR# https://github.com/NuGet/NuGet.Client/pull/1196

It was the same root cause since while VSSettings was being MEF constructed, it wanted to switch to UI thread to access ServiceLocator. But since UI thread was already waiting for this to be constructed so deadlocked. So we've moved switching to Main thread from all the MEF construc

[2017-03-07 19:06] #4566 closed, assigned to emgarten, jainaashish

[2017-03-07 19:12] jabrown85 commented on #4532
Thanks. I wasn't sure if there was a version that would allow me to reference it in the proj file so my team didn't have to mess with the installed files. Thanks though! This still is useful to know as a last resort.

[2017-03-07 21:40] karann-msft opened #4763 "TPMinV check should work for pj style UWP"
1. file new UWP app TPM  =  RS2, TPMinV = RS1, having project.json
2. install a nupkg targeting RS1
Expected - install succeeds
Actual - Install fails

This should work from both VS and CLI.

[2017-03-07 23:02] AArnott opened #4764 "Solution package restore in VS 2017 spews 129 errors, all inappropriate"
**Version Used**:

VS 2017 RTW (dev15rtwsvc 26228.04)

**Steps to Reproduce**:

[code]

Execute a solution wide package restore.

**Expected Behavior**:

No errors in package restore. Note that #4753 tracks a failure in package restore that occurs on the command line.

**Actual behavior**:

The Package Manager output window pane contains the following text, and there are 129 errors in the error li

[2017-03-07 23:51] sirajmansour commented on #4646
@emgarten i just verified that it is not present even 4.0.0-rc4. the nuspec in a text editor and it does not exist neither in the `<id></id>` nor in `<version></version>`. The guys at octopus has forked nuget ages ago and have had this fixed since then, i hoped 4.0.0 would have those fixes 👎 .

[2017-03-08 00:48] #4679 closed, assigned to jainaashish

[2017-03-08 01:29] karann-msft opened #4765 "TPMinV check should work for CPP UWP"
1. file new CPP UWP app TPM = RS2, TPMinV = TH2, having project.json
2. install a nupkg targeting RS1

Expected - install fails
Actual - Install succeeds

This should work from both VS and CLI.

[2017-03-08 01:44] emgarten commented on #4646
@sirajmansour can you provide some details on what was fixed? This issue is currently unclear. If the issue is the resulting file name, that is intentional. Adding metadata to all names would lead to long path issues as well as making it difficult to find nupkgs in a folder.

[2017-03-08 01:46] davkean opened #4766 "Option that causes you to get prompted on the package format is awkwardly worded"
It took me 2 or 3 times to read this option to understand what it meant:

![image](https://cloud.githubusercontent.com/assets/1103906/23686321/fe97a9cc-03fc-11e7-8b33-766bf6b8b679.png)

I propose something a little clearer such as:

`Prompt me to choose a format the first time I install a package into a project"

[2017-03-08 02:54] #4737 closed, assigned to nobody

[2017-03-08 04:35] emgarten commented on #4765
@karann-msft does this work when you update project.json to contain the correct TFM?  Is CPP + UWP + project.json an officially supported scenario?

[2017-03-08 04:54] tintoy opened #4767 "MSBuild project XML formatting is not preserved when loading / saving"
## Details about Problem

NuGet product used: `dotnet` CLI.

dotnet --info:

[code]

Worked before? If so, with which NuGet version:

As far as I know it's never worked.

## Detailed repro steps so we can see the same problem

1. `dotnet new console`
2. Reformat XML inside project file (maybe add a blank line, or put some attributes on a new line) and save it.
3. `dotnet add package Newtonsoft.Jso

[2017-03-08 06:23] GanesanRengasamy opened #4768 "Dependency packages are not resolved from secondary sources"
I faced the below problem while install the custom NuGet package with the dependency package Jquer.Validation.1.16.0 from the custom feed link in the VS2017.

**Severity	Code	Description	Project	File	Line	Suppression State
Error		Unable to find metadata of Microsoft.jQuery.Unobtrusive.Ajax.3.2.3			0**

This package installed successfully while tried from the Package manager console. I faced this p

[2017-03-08 06:32] emgarten commented on #4768
@GanesanRengasamy can you share the package source URLs you are using?

[2017-03-08 06:35] GanesanRengasamy commented on #4768
Hi @emgarten

The below feed I have used for Install the package.
http://nuget.syncfusion.com/aspnet

Thanks,
Ganesan R.

[2017-03-08 06:40] emgarten commented on #4768
@GanesanRengasamy try using ``https://api.nuget.org/v3/index.json``

[2017-03-08 06:45] CumpsD commented on #802
So it is safe to just empty out this `AppData\Local\Temp\NuGetScratch` folder?

[2017-03-08 06:47] GanesanRengasamy commented on #4768
I tried like this.

![image](https://cloud.githubusercontent.com/assets/16695209/23693151/025ad524-03f9-11e7-9076-479810fd4c65.png)

But I have the same problem. please let me know if I misunderstood anything.

Thanks,
Ganesan R.

[2017-03-08 06:48] emgarten commented on #4768
@GanesanRengasamy uncheck the box next to ASPNET, it appears that source is causing problems for you.

Also, check the box next to *Microsoft Visual Studio Offline Packages*

[2017-03-08 06:56] GanesanRengasamy commented on #4768
Like this
![image](https://cloud.githubusercontent.com/assets/16695209/23693418/6df6aea6-03fa-11e7-95c9-3e4197de8ec0.png)

[2017-03-08 07:00] emgarten commented on #4768
@GanesanRengasamy check the bottom box also under Machine-Wide

[2017-03-08 07:08] GanesanRengasamy commented on #4768
Okay. It's installed with the given source. but I have asked why we cannot installed the another source packages with the dependency Microsoft.jQuery.Unobtrusive.Ajax. For example,

I faced the problem when I tried the Syncfusion.JavaScript package from the source http://nuget.syncfusion.com/aspnet with dependency jQuery , jQuery.Validation , Microsoft.jQuery.Unobtrusive.Ajax , Microsoft.jQuery.Un

[2017-03-08 07:25] emgarten commented on #4768
@GanesanRengasamy try setting your package source to All, however dependencies should be taken from any available source so it isn't clear what you are hitting here.

[2017-03-08 07:35] GanesanRengasamy commented on #4768
Yes now issue resolved. **Is this the Known issue**. Because this issue occurred in VS2017 only. In another VS I have tried with setting the particular packages source, the package installed successfully.

Is any bug on VS2017?

[2017-03-08 07:49] emgarten commented on #4768
Currently there are no issues for this. Can you describe the steps that worked in VS 2015 and what works in VS 2017. And what doesn't work in VS 2017.

[2017-03-08 07:59] v-nancyj opened #4769 "[Test Failure] F5 gives error at runtime on MVC and Web Forms projects"
**NuGet Version:** NuGet 4.1.0-rtm-2357 **(Insertable)**
**VS Version:** d15prstg1 26307.01
**OS Version:** Windows 10 RS2_Release 15051.0.170303-1951

**Repro Steps:**
1.	Click File -> New project -> Visual C# -> Web -> ASP.NET Web Application.
2.	Click MVC template.
3.	Select deploy target to IE and build the solution, no error.
4.	Press F5.

**Expected Result:**
No error occur.

**Actual Result

[2017-03-08 08:17] borgdylan opened #4770 "Nuget.Build.Tasks.Pack crashes when used with Mono MSBuild"
## Details about Problem

NuGet product used: Nuget.Build.Tasks.Pack

NuGet version: 4.0 RTM

OS version (i.e. win10 v1607 (14393.321)): Ubuntu 16.10 for x64

Mono version: 4.9.x (master branch)

MSBuild version: 15.2 (mono variant from mono/msbuild repo, xplat-master branch)

## Detailed repro steps so we can see the same problem (needs mono MSBuild)

1. Build a project that used the "Microsoft.N

[2017-03-08 08:19] borgdylan commented on #4770
The crash involves a ```MissingMethodException``` in the ```PackageSpec``` property getter on the ```LockFile``` class within ```NuGet.ProjectModel.dll```.

[2017-03-08 08:31] emgarten commented on #4770
Use ``dotnet pack`` to pack NETCore projects

The error here looks like a mismatch nuget assemblies with msbuild.

[2017-03-08 08:35] GanesanRengasamy commented on #4768
Please find the details for what works in VS2017 and what doesn't works in VS2017

VS Version |	Working Steps |	Doesn’t work steps|
-|-|-|
VS2015 |	1.	Packages installed successfully while setting the packages source with particular source and from the package manager console	|     Nil|
VS2017 |	1.	Packages installed successfully when tried from the package manager console   2.	Packages installed

[2017-03-08 08:54] borgdylan commented on #4770
I cannot in that case as it is a a ```net46``` project. The MSBuild that comes with the CLI lacks support for non-core TFMs.

[2017-03-08 09:14] GanesanRengasamy commented on #4768
Hi @emgarten

If this is known issue Please update the details.

Thanks,
Ganesan R.

[2017-03-08 10:13] kekekeks commented on #4532
@jabrown85

You can include a patched version of `Microsoft.NuGet.Build.Tasks.dll` and `Microsoft.NuGet.targets` to your source code repository.

Somewhat like that: https://github.com/kekekeks/Perspex/commit/485fe1364eb4833edab133700d1eb0ce541af584#diff-1e14de79abf1c04cd7c5351c30ae82ffR1

[2017-03-08 17:21] livarcocc opened #4771 "dotnet add package fails when tool is installed"
## Steps to reproduce
Using a ASP.NET Core app with the following tool (haven't tested if it's this tool specific, or tools in general).

[code]

## Expected  behavior
[code]
## Actual behavior
[code]

## Environment data
`dotnet --info` output:
[code]

[2017-03-08 17:32] emgarten commented on #4770
@borgdylan can you debug and find where the mismatch of nuget assemblies is coming from? Does the msbuild you are using contain an older copy of NuGet.ProjectModel.dll than the SDK?

[2017-03-08 17:49] #2934 closed, assigned to xavierdecoster

[2017-03-08 17:54] karann-msft commented on #4765
The TPMinV check is a net new UWP scenario that should work for all UWP projects irrespective of the pc, pj or pr.

[2017-03-08 18:32] mishra14 commented on #4771
@emgarten : This looks like that restore is complaining about the tools reference. Is this a known issue?

[2017-03-08 18:58] leftler commented on #2262
This problem also happens with VS 2017 and projects referenced in the new .csproj format. Content files don't get copied.

[2017-03-08 19:10] borgdylan commented on #4770
It could be that is the case. I need to work with @radical to see where he is sourcing the dlls he installs for the restore task. The conflict is between what is deployed by the restore task support and the pack support i.e. a conflict between the ```Microsoft.NuGet.Build.Tasks``` and ```Nuget.Build.Tasks``` packages. It would have been simpler if both tasks were part of the same package.

[2017-03-08 19:12] radical commented on #4770
@borgdylan Could you please try the latest `xplat-master`? The assemblies were missing but have been added now. If it does not fix the issue, then could you please file a bug at http://bugzilla.xamarin.com with a test project?

[2017-03-08 19:13] borgdylan commented on #4770
@radical for pack support I still have to bring in the pack support which may likely conflict again.

[2017-03-08 19:19] radical commented on #4770
These are the nuget assemblies being included with the sdk with their assembly versions:

[code]

The sdk is sourced from `Microsoft.NET.Sdk 1.0.0-alpha-20170224-6` nuget package.

[2017-03-08 19:19] borgdylan commented on #4770
@radical It worked! I had tried using the tools directory from the latest Sdk that was released up on NuGet. That conflicted. Your NEW binaries did not conflict. FYI if you would like to add pack support I can tell you what I did to install the pack sdk.

[2017-03-08 19:21] borgdylan commented on #4770
With this I can remove .NET CLI from my machine and talk to msbuild directly.

[2017-03-08 19:36] #4770 closed, assigned to nobody

[2017-03-08 22:18] nrice commented on #3042
I installed .net 4.6.2 and ran into this issue.

[2017-03-08 23:01] sirajmansour commented on #4646
@emgarten my fault,i fixed my comment. markdown has hidden `<version></version>`. i know that it is a design decision to not include metadata in the package file name, but the problem is that it is **missing from the `<version></version>` in the generated .nuspec inside the package**

if you quickly checkout this [PR](https://github.com/OctopusDeploy/NuGet.Client/pull/2), all of the semver incompa

[2017-03-08 23:03] gkhanna79 opened #4772 ".net Core App 1.1 doesn't resolve external .net standard libs"
Opening on behalf of @gentlehag who posted this at https://github.com/dotnet/coreclr/issues/10037 originally:

@gentlehag shared the following data as well (at https://github.com/dotnet/coreclr/issues/10037#issuecomment-285152712):

Per @eerhardt, NuGet isn't writing the correct information into the project.assets.json file.

CC @rrelyea

[2017-03-09 00:19] jainaashish commented on #4769
Cannot repro with VS 2017 RTW + NuGet 4.1.0-rtm-2357

Can you check if it's specific to d15prstg1 branch build? and also share machine details where this bug can be repro'd

[2017-03-09 00:39] emgarten commented on #4771
@mishra14 haven't seen this before, it typically says what is invalid in the spec. There must have been an unexpected fatal error.

[2017-03-09 00:58] emgarten commented on #4768
I verified that dependencies are not found in non-selected sources in 4.0.0. This is a regression from 3.5.0.

@rrelyea we should consider this for 4.1.0

[2017-03-09 01:08] nishaatr commented on #4646
I seemed to be getting a warning when running 'nuget.exe pack' (I probably missed the warning when I initially generated the *.nupkg):

The *.nuspec is part of a test C# console project created in VS2013. Also, I don't see *.nuspec in the extracted output folder after I run 'nuget.exe install' on the generated package. Any reason for this?

I don't see much use of metadata if it does not appear in

[2017-03-09 01:10] nishaatr commented on #4646
@sirajmansour I am curios as to why you said `it is missing from the <id></id>`?

[2017-03-09 01:13] v-nancyj commented on #4769
[Repro machine:EXPRBLNVM81177](http://maddog/goto/MDGoto.Application?md://OrcasTS/Machine/1204148)
I have add your alias to the machine.

[2017-03-09 02:14] alpaix opened #4773 "Restore operation logger is not covered by any tests"
Restore operation logger is not covered by any tests. This is one of the critical NuGet components in VS extension. Consider adding set of unit-tests validating its behavior.

[2017-03-09 02:47] sirajmansour commented on #4646
@nishaatr my bad

[2017-03-09 04:16] emgarten opened #4774 "Restore clears warnings/errors from build"
Actual:
Restore clears warnings and errors in the error list logged by build and other extensions.

Expected:
Restore only clears NuGet related warnings/errors.

[2017-03-09 04:17] #4640 closed, assigned to emgarten

[2017-03-09 04:17] #4774 closed, assigned to emgarten

[2017-03-09 04:19] emgarten commented on #4774
This has been fixed as part of the move to IErrorList, the client now has better control over errors and warnings in the list.

[2017-03-09 04:57] emgarten commented on #4640
Logging and error list improvements

* Moves from the legacy TaskProvider error list to the free threaded IErrorList
* Warnings/errors are no longer logged from the UI thread
* Optimized logging to only move to the UI thread when needed, this shows a 3x perf improvement in some scenarios

[2017-03-09 05:12] memark commented on #4646
@nishaatr @sirajmansour @emgarten
I can confirm this issue still exists with command line nuget 4.0.0 RTM. Build metadata is effectively stripped away, not being present either in the `<version />` or in the filename.

If the Octopus fork has solved this, and the changes seem resonable, I would be happy to create a PR with those changes.

I would also like to add that having the metadata in the fi

[2017-03-09 05:22] emgarten commented on #4772
NuGet doesn't read ``<Reference>`` items for dlls, it just deals with projects and packages.

Trying this locally I'm able to restore this fine and the project shows up in the project.assets.json file.

It is expected that when removing the project reference and adding a direct dll reference that this would no longer show up in the assets file.

@gentlehag can you provide some clear repro steps on

[2017-03-09 05:40] emgarten commented on #4646
A PR for ``<version />`` would gladly be accepted.

Can you give some examples of why this is useful?

My concern with it is that is makes it easy to end up with multiple nupkgs in a folder that have the same identity (id + version, ignoring build metadata). Ex: ``1.0.0+a  1.0.0+b``. When the user runs an action such as ``install-package packageX 1.0.0`` they get whatever package is returned by th

[2017-03-09 06:39] nguerrera commented on #4488
Another report: dotnet/roslyn#17639

[2017-03-09 06:40] BoasE commented on #4772
I'm also not sure wether this is a nuget bug. Is Nuget handling file references?

Your project xml looks exactly like the steps i have to reproduce the bugs manually:
So for this way:
* open the Existing ConsoleApp1 form the sample repo
* remove the reference to the service .
* Also remove the service project from the solution
* re add it to the precompibled service.dll
* Compile and Run (F5)

It

[2017-03-09 09:33] WolfgangMeindl opened #4775 "NuGet can´t handle two (or more?) Visual Studio Projects (*.csproj) in same folder (with shared packages.config)"
Hi, wie use LLBLGen, which generates two projects in one folder.
NuGet can´t handle that.

NuGet product used (NuGet Package Manager in Visual Studio)

NuGet version (x.x.x.xxx): (i dont know, where can i see it? i thought it´s integrated somwhere in VS?)

VS version (Visual Studio 2012 and 2015):

OS version (Windows 8):

Worked before? no

## Detailed repro steps so we can see the same problem

[2017-03-09 10:18] prochan2 opened #4776 "Package is being installed into non-supported framework"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
NuGet Package Manager for Visual Studio 2015

NuGet version (x.x.x.xxx):
3.5.0.1484

VS version (if appropriate):
2015 Update 3

OS version (i.e. win10 v1607 (14393.321)):
win10 v1607 (14393.693)

Worked before? If so, with which NuGet version:
no, never tried before

## Detailed repro steps so

[2017-03-09 15:50] natemcmaster commented on #4337
More users hitting this: https://github.com/dotnet/cli/issues/5971

[2017-03-09 16:05] eerhardt commented on #4772
It looks like this issue can be closed. NuGet is doing the right thing in this scenario. Since it is a `<Reference>` to an assembly on disk, it is not expected that NuGet write this information into the project.assets.json file.

We do need to consider how `dotnet pack` handles this scenario for .NET Core 2.0.  The other `dotnet` commands handle this scenario in 2.0.  See https://github.com/dotnet

[2017-03-09 16:11] emgarten commented on #4772
@Gentlehag you should use the workaround of adding the dll to a nupkg for now.

[2017-03-09 16:11] #4772 closed, assigned to nobody

[2017-03-09 17:23] lassanter opened #4777 "msbuild /t:pack does not build with Entity Framework csdl/msl/ssdl model files"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
NuGet.Build.Packaging
msbuild /t:pack <csproj>

NuGet version (x.x.x.xxx): 4.0

dotnet.exe --version (if appropriate):

VS version (if appropriate): VS2017

OS version (i.e. win10 v1607 (14393.321)): win10

Worked before? If so, with which NuGet version: No

## Detailed repro steps so we can se

[2017-03-09 17:59] lassanter commented on #4777
As a workaround, I can build the nupkg with msbuild /t:pack, then clean/rebuild the project using VS internal functions, then, using NuGet Package Explorer, I can replace the bad DLL with the good one. Hooray for workarounds ;-)

[2017-03-09 18:22] rohit21agrawal commented on #3990
Spec : https://github.com/NuGet/Home/wiki/UWP-Project-Json-Upgrader

[2017-03-09 19:38] jainaashish commented on #4769
Can't access the machine. Also Did it repro with any other VS branch build?

[2017-03-09 19:42] emgarten opened #4778 "Microsoft.NuGet.targets refers to project.json for PackageReference projects"
Microsoft.NuGet.targets incorrectly refers to project.json in errors/warnings for PackageReference projects. All of these should be replaced to either say the correct file, or use a generic term for this.

[code]

[2017-03-09 20:16] cdichter commented on #491
So you've been talking about this problem for two years, and I still see it in VS 2015 update 3 (NuGet Package Manager 3.5.0).

How about a fix or a work-around?

It does appear to be improved in VS 2017 (newer version of NuGet).

[2017-03-09 20:26] #4013 closed, assigned to nobody

[2017-03-09 20:29] emgarten commented on #4542
I was able to repro this on VS 2017 RTM after a customer reported it

#### Steps
1. New NET Core console app
1. Install LLVMSharp 3.8.0

Auto restore will run infinitely. Closing and re-opening the solution leads to the same problem.

The only workaround is to turn off automatic package restore under the VS options.

[2017-03-09 21:00] emgarten commented on #4542
This should be considered for 4.1

[2017-03-09 22:51] livarcocc opened #4779 "Dependencies via project reference are not having versions updated when performing a dotnet pack"
From @KallDrexx at https://github.com/dotnet/cli/issues/5984

## Steps to reproduce
1. Go to a directory
2. `mkdir test1`
3. `mkdir test2`
4. `cd test1`
5. `dotnet new classlib`
6. Edit test1.csproj and add `<VersionPrefix>1.0.1</VersionPrefix>`
7. `dotnet restore` then `dotnet pack`
8. `cd ../test2`
9. `dotnet new classlib`
10. `vim Class1.cs`
11. Change class definition to `public class Class1 :

[2017-03-09 22:57] jainaashish commented on #4542
I don't think NuGet can do much about it, if Project is being nominated in a infinite loop then it should be fixed at project system end. Even though it's a bad behavior but still NuGet shouldn't work around this.

Also, little more details about this issue, `LLVMSharp 3.8.0` actually has some build target which tamper the project system which makes it keep nominating this again and again. Package

[2017-03-09 23:10] am11 commented on #2163
Same situation with SDK v1.0.0 and v1.0.1 .. https://travis-ci.org/am11/MaxMind-DB-Reader-dotnet/jobs/209511300#L974-L996

Based on this comment: https://github.com/dotnet/cli/issues/809#issuecomment-194407913, would it be possible to limit the max connections (or `MaxDegreeOfParallelism`) to eight?

[2017-03-09 23:31] emgarten commented on #4779
@rohit21agrawal is pack reading the dependency version from the assets file or from the project directly?

[2017-03-09 23:32] rohit21agrawal commented on #4779
From the assets file

[2017-03-09 23:37] emgarten commented on #4542
@jainaashish Agreed on the project system being smarter, but isn't there a noop mechanism in place? Why isn't it working? And should we also keep track so that we can give up even if the last restore failed but the next request has the same inputs?

[2017-03-09 23:45] nkolev92 commented on #4682
Workaround:

Rename the file in Common7\IDE\CommonExtensions\Microsoft\NuGet\NuGet.PackageManagement.PowershellCmdlets.dll temporarily while playing with the experimental instance....rename it back once you've uninstalled the experimental instance.

Clear the ComponentCache once you've renamed the dll.

[2017-03-10 00:04] natidea commented on #4542
The project system has a [noop check](https://github.com/dotnet/roslyn-project-system/blob/3f6c9b9995dde7adffa2044b6a5f97403d6852c7/src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSystem/VS/NuGet/ProjectRestoreInfoBuilder.cs#L32-L36):

[code]

However this check is failing because one of the properties we listen for is changing. I took a look under a debugger, and I see:

![image](https

[2017-03-10 00:06] natidea commented on #4542
@jainaashish what is the target in `LLVMSharp 3.8.0` that is tampering with the project system?

[2017-03-10 00:27] natidea commented on #4542
I also notice that the generated *.nuget.g.props file changes each time. Following the 'add' cycle, the following is added to props:

[code]

This entry is removed following the 'remove' cycle. A similar thing happens to the generated targets file.

[2017-03-10 00:29] emgarten commented on #4779
@kalldrexx I'm not able to repro this, can you provide further steps?

The nuspec I get is:

[code]

Is it possible you missed the ``dotnet restore`` on test2 before packing?

Also, if you are still seeing the issue please provide the project.assets.json files from test1 and test2

[2017-03-10 00:40] emgarten commented on #4542
microsoft.diasymreader.native is a dependency of netcore app. Is the project nominating with 0 package references? NuGet may be clearing out everything when it runs the restore on 0 packages, and then putting them all back again when it nominates the 2 references again.

[2017-03-10 00:46] jainaashish commented on #4776
@prochan2 this is the expected behavior. Since package `PostSharp.Patterns.Caching.Redist` has some dependencies which are compatible with `net46` so it's able to successfully install since you still can use those dependencies assemblies reference.

It will only fail when there is no compatibility project level content, or tools or dependencies.

[2017-03-10 00:50] sirajmansour commented on #4646
To me personally, version matters most. In my current case i am not too concerned about the naming. However i will give my thoughts on it.

@emgarten why would you think it is not ideal ? In my opinion it is always good to keep such decision to the user. A lot of times adding a limitation to prevent something ends up being an issue on github with enough supporting voices for a bugfix.

In a CI set

[2017-03-10 00:51] natidea commented on #4542
The first restore is the 'add' cycle. It nominates with 2 package references:
![image](https://cloud.githubusercontent.com/assets/7732033/23777267/30feb9be-04e8-11e7-90ed-58f1d244a1f3.png)
This also means the first time the props/targets are generated they contain the ImportGroup I mention above.

The second restore is the 'remove' cycle. It nominates with 0 package references. That is the problem

[2017-03-10 01:09] #4760 closed, assigned to jainaashish

[2017-03-10 01:11] emgarten commented on #4646
This is exactly the scenario I'm worried about. It is a problem and there are two ways you can find out about the problem
1. By failing fast when the nupkg already exists
1. Later after you get a build that contains older binaries due to one of the many nupkgs being selected from the folder based on which metadata comes first alphabetically

Personally I would opt for the first one. I can see your

[2017-03-10 01:49] natidea commented on #4542
I think I've found the offending target:

[code]

This target is emitting an error that is stopping the build early. (If I change to a Warning, the infinite loop goes away). I suspect this is caused by our move to using design-time builds to compute rule values. Here is my theory on what is happening:

- A design time build occurs without props/targets, rules are computed, subscriptions are fired,

[2017-03-10 02:03] GitMonkey007 opened #4780 "Nuget 4.0.0 fails looking for NuGet.resources on non-english systems"
Having installed VS2017, attempted to build a package and push to Nexus I ran into this issue when trying to package a library... Put simply, nuget is unable to locate Nuget.Resources, but works fine if you specify ForceEnglishOutput

Attempting to build package from 'Echo.csproj'.
MSBuild auto-detection: using msbuild version '15.1.548.43366' from '\Program Files (x86)\Microsoft Visual Studio\201

[2017-03-10 02:18] v-nancyj commented on #4769
@jainaashish Repro machine: [EXPRBLNVM30551](http://maddog/goto/MDGoto.Application?md://OrcasTS/Machine/707025)
This VS build is 26309.01, and the NuGet is default version 4.1.0-rtm-2353, the issue also repro on this buid

[2017-03-10 02:50] davkean commented on #4542
Nice investigation.

Yeah - failed design-time builds will trigger the data flow to fire even if the target you are calling isn't executed. We had similar issues in the language service there and there we assume no data == failed design-time builds, and we don't push the data to Roslyn.

I'm not sure if you can do it in this case, as you might not be able to tell the difference between no data and

[2017-03-10 03:39] sirajmansour commented on #4428
We are currently facing this issue, and i am guessing the only way to get around it is to make C and as packages and reference them in the nuspec of B. Which could be very annoying when a pacakge means nothing if it contains only the C.dll or D.dll, but makes sense when it has B, C and D.

[2017-03-10 05:18] GanesanRengasamy commented on #4768
@emgarten  Is this bug from nuget.org or from secondary sources?

[2017-03-10 10:42] tomkuijsten commented on #3566
It's not planned anymore, only for "future"? I guesse I'm doing something fundamentally wrong if the whole world can work around this bug and I can't. Can anyone tell me why this is not a problem for others?

[2017-03-10 12:55] atanasa opened #4781 "Add support for pre restore MSBuild target that Visual Studio triggers"
I'd like to have an MSBuild target that runs before a restore operation. Also this target should be triggered by both CLI and Visual Studio. Probably a post restore target would be good too.

I would use this to extend the restore logical operation to consume other package sources that are not supported by NuGet.

According to this documentation https://docs.microsoft.com/en-us/nuget/schema/msbuil

[2017-03-10 13:02] KallDrexx commented on #4779
I will test again in a bit but looking back at your comment and the steps I think I wrote step 17 down wrong and it was probably only a `dotnet pack` and not a restore.  A 2nd dotnet restore after changing a version number not common in my workflow after editing sub-projects in the same solution.

[2017-03-10 13:15] tomkuijsten commented on #4757
Well I have one. I created two solutions, both with one project. The first sln has a .net core project, the other a .net framework project. In the core I added a floating dependency version which works fine, but in the .net framework project I got this message while building:

I can't find any limitation in the [floating version documentation](https://docs.microsoft.com/en-us/nuget/consume-package

[2017-03-10 13:23] ygeelen-tb opened #4782 "Visual Studio 2017 (NuGet 4.0.0) vs NuGetDefaults.config"
We are using a %PROGRAMDATA%\NuGet\NuGetDefaults.config file to configure private package sources and supply Basic HTTP credentials to them as explained here: https://docs.microsoft.com/en-us/nuget/consume-packages/configuring-nuget-behavior#nuget-defaults-file

We have switched to VS2017 because of issues with NuGet.exe passing the credentials correctly (NuGet 4.0.0 in VS2017 would supposedly fix

[2017-03-10 13:42] ygeelen-tb commented on #4782
Are we obliged to use C:\Users\[username]\AppData\Roaming\NuGet\NuGet.Config instead now?

[2017-03-10 13:57] KallDrexx commented on #4779
yes I was correct, I did not run dotnet restore in step 17.  The following shell script reproduces the issue for me:

[code]

The thing is, this workflow is natural to me.  If you assume that this is a single solution with multiple projects (one being a common library and the other being an SDK/implementation library) when a code change facilitates changing something in both libraries I naturally

[2017-03-10 15:18] tomkuijsten opened #4783 "Plans to unify all package configuration types"
Is there a concrete plan to unify the different nuget configuration types?

I create a solution in VS2017 and added three projects:
 - UWP
 - .net standard
 - .net framework

I end up with three different type of NuGet configuration (packages.config, project.json and packagereference). Our repository uses all of these types and it's pretty hard to automate package upgrades if I have to support all

[2017-03-10 16:02] jeromelaban commented on #4532
I've done the update using 057af5b6ff9521551cf6dcee5cd737993a943472 (and small project.json updates to allow it to build under VS2017 without 2015 installed) and it works ! It's pretty awesome to be able to do that with such a core component of VS :) Thanks @zhili1208 !

[2017-03-10 16:28] nishaatr commented on #4646
I believe we should treat NuGet metadata in the same vein as Maven classifier http://maven.apache.org/plugins/maven-deploy-plugin/examples/deploying-with-classifiers.html.

Maven classifier allows you to deploy and address additional artifacts generated by main application i.e. single POM. By default, assuming the Maven application is a JAR, Maven will attempt to install the JAR when classifier is

[2017-03-10 16:45] emgarten commented on #4577
Moving to 4.1 based on user feedback

[2017-03-10 16:46] emgarten commented on #4768
@GanesanRengasamy the issue is with the nuget client in Visual Studio.

[2017-03-10 16:52] anangaur opened #4784 "NuGet 3.3.0 reports failure to upload the package, though the package is uploaded"
Reported on twitter, here: https://twitter.com/rappen/status/840100945983819776

![image](https://cloud.githubusercontent.com/assets/14800916/23804469/dc919162-056e-11e7-82ec-bc5cdf837875.png)

[2017-03-10 16:57] emgarten commented on #4779
With csproj there is no longer a version range associated with the reference since projects are referenced separately, you get the project you referenced and the version of it is discovered at restore time when all dependencies are walked.

This is also the reason why a restore is needed, all dependency resolution, including discovering dependency projects happens at this time.

[2017-03-10 17:13] KallDrexx commented on #4779
Sure logically that makes sense.  Pragmatically it is extremely error prone.

What if `dotnet pack` performs a restore automatically before it builds all the nuget package?  That way it is guaranteed to have the latest information when building the nuget package.

[2017-03-10 17:41] rohit21agrawal commented on #4136
checked into 4.1.0-rtm via https://github.com/NuGet/NuGet.Client/commit/0d68700e6a147cfcb737207fbab226a5b707ecd6

[2017-03-10 18:00] rrelyea commented on #4488
@jainaashish  - We've been able to re-enable RestoreProjectStyle, in 4.1 already, right?

[2017-03-10 18:12] emgarten commented on #4784
This seems like it could be a server issue, if the package was uploaded but the server didn't respond afterwards I could see this happening.

[2017-03-10 18:14] emgarten commented on #4783
The plan is to move all three types to use PackageReference.

You currently have:

 - UWP (project.json)
 - .net standard (PackageReference)
 - .net framework (packages.config)

[2017-03-10 18:27] #4136 closed, assigned to rohit21agrawal

[2017-03-10 18:43] emgarten commented on #4781
@davkean any ideas on how we could run targets from Visual Studio that are set to run before restore?

[2017-03-10 18:45] jainaashish commented on #4488
Yes, we've re-enabled RestoreProjectStyle property in 4.1

[2017-03-10 18:45] emgarten commented on #4782
Setting it per user is typically your best option.

The machine wide location has moved to ``Program Files (x86)\NuGet``

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Common/PathUtil/NuGetEnvironment.cs#L18-L34

[2017-03-10 19:22] jainaashish commented on #4769
@v-nancyj I asked if you were able to repro this issue except d15prstg1 branch? 26309.01 is also from d15prstg1 VS branch...

[2017-03-10 20:05] ygeelen-tb commented on #4782
Thanks! But the file name is still NuGetDefaults.config ?

Why would you prefer the per user option?
The thing is we are using an Active Directory Group Policy script, which copies the config file to all users in an AD group. The script needs to be aware of the user's directory name (normally the username).

By the way, do you happen to know the location of nuget.exe 4.0.0 ? Is it included in Visu

[2017-03-10 20:30] emgarten commented on #4782
NuGet.exe doesn't ship with visual studio, you can find it here: http://dist.nuget.org/

For an AD group scenario putting this under Program Files sounds like the right way to do this.

The name should be the same, let me know if it isn't working for you.

[2017-03-10 20:37] ygeelen-tb commented on #4782
Actually that's where I found the info: "NuGet 4.x is included in the Visual Studio 2017 installation. Latest NuGet releases are delivered as part of Visual Studio updates."

[2017-03-10 20:51] emgarten commented on #4782
@ygeelen-tb that doesn't refer to nuget.exe

[2017-03-10 21:24] emgarten commented on #4577
Based on https://github.com/dotnet/roslyn-project-system/issues/1725#issuecomment-285753309 it sounds like this error isn't always benign and sometimes means the project isn't actually restored until the solution is reloaded.

[2017-03-10 21:58] jainaashish commented on #4769
Ok I logged into the machine, and saw there is some issue with BindingRedirects which is why it's failing to get the right version of Newtonsoft.json

Now, I tried to repro this issue at multiple machines with same VS/ NuGet versions but couldn't do so... which makes me believe that there is something wrong with the machine itself the way VS is being installed there. Somehow It's getting newtonsof

[2017-03-10 22:56] livarcocc opened #4785 "Dotnet restore fails to use the local Nuget.Config to retrieve nuget packages from private feeds while building docker image"
## Steps to reproduce
add a Nuget.Config to your project with a private feed and run dotnet restore as part of docker build. Below is the basic Docker file that I am using.

[code]
Dotnet restore fails because it is not using the package sources from the nuget.config file inside the project. Below is the Nuget.Config file that I am using (mocking the private feed name).

[code]
## Expected  behavi

[2017-03-10 23:54] emgarten commented on #4785
@jaybee6 the allows casings of the config file are:

* NuGet.Config
* NuGet.config
* nuget.config

Nu**g**et.Config is not supported.

[2017-03-10 23:54] #4785 closed, assigned to nobody

[2017-03-11 01:12] GitMonkey007 opened #4786 "Nuget 4.0.0 - Unable to deploy and then install package"
1. I've created a simple class in an assembly that just takes and then returns a string.

`public static string EchoEcho(string s) => s;`

2. I've then followed the instructions [here](https://docs.microsoft.com/en-gb/nuget/quickstart/create-and-publish-a-package) to create a package.
3. I've then pushed the package to a private Nexus instance.
4. I've then tried to use nuget to install the packag

[2017-03-11 01:14] #4736 closed, assigned to alpaix

[2017-03-11 01:57] bricelam commented on #4190
`dotnet add package` doesn't support it correctly either.

[2017-03-11 03:59] rohit21agrawal opened #4787 "write end-to-end tests for uwp project json migrator api"
follow up for PR : https://github.com/NuGet/NuGet.Client/pull/1233

[2017-03-11 04:34] JayBee6 commented on #4785
@emgarten @livarcocc Thanks guys that fixed the issue, there are lot of misleading articles online with the incorrect case. Is there any harm in making it case insensitive?

[2017-03-11 04:38] emgarten commented on #4785
Perf is an issue, to load the settings we need to search all parent directories. In order to make this case sensitive it would need to list all of these directories instead of performing a much faster file exists check on the known names.

[2017-03-11 08:25] borgdylan commented on #4698
I have noticed the same thing, all satellite made by resgen and al are omitted even if I can see them in bin/Debug/TFM

[2017-03-11 08:31] borgdylan commented on #4698
I also confirm that @AArnott 's workaround works. All it takes is ```<PackageReference Include="NuGet4698Workaround" Version="1.0.1" PrivateAssets="All" />```.

[2017-03-11 10:24] borgdylan opened #4788 "project.assets.json not made if no packages used"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): Restore targets

NuGet version (x.x.x.xxx): 4.0.0.0 RTM

OS version (i.e. win10 v1607 (14393.321)): ubuntu 16.10 x64

MSBuild Version: 15.0 (xplat-master branch for mono fork)

## Detailed repro steps so we can see the same problem

1. run msbuild /t:Restore on a project that has no ```PackageR

[2017-03-11 10:26] borgdylan commented on #4788
As a side note, this issue becomes relevant after the compiler runs because the build targets cannot detect the RIDs I set in the project file.

[2017-03-11 14:32] rappen commented on #4784
Not really sure how to comment on that, but yes I agree it would be a server issue, as only servers were involved; VSTS performing the build and NuGet recieving the package.

[2017-03-11 17:34] emgarten commented on #4788
Try setting the property ``RestoreProjectStyle`` to ``PackageReference``.  This should be set by the SDK if you are in a NETCore SDK project.

[2017-03-11 17:43] borgdylan commented on #4788
Is it set conditionally by default? Only if I use packages?

[2017-03-11 17:48] borgdylan commented on #4788
Without it i Get ```Nothing to do. None of the projects specified contain packages to restore.```. With it set the assets file is indeed written. Thanks for the workaround. Since I am using a custom compiler, I will add it to the props file for it so it is there by default.

[2017-03-11 19:29] emgarten commented on #4788
You need one of the following to get a project.assets.json file:
* A PackageReference item
* RestoreProjectStyle=PackageReference

The NETCore SDK should set this all the time by default, you might be missing something from the SDK, but this workaround should be the same.

Without any of the above NuGet treats the project as if it is a packages.config project or a non-NuGet project.

[2017-03-11 20:04] borgdylan commented on #4788
I guess it wasn't set as I was targeting net46 i.e. Mono and did not have the netstandard1.x/netcoreapp1.x TFM present.

[2017-03-11 20:05] emgarten commented on #4788
TFM doesn't matter here, just the targets/props you reference.

[2017-03-11 20:27] giggio opened #4789 "Support package restore to work with "highest" while following constraints"
This is a feature request.

We need to be able to tell Nuget (and VS) to restore the highest available version from a package. Right now it always resolves to lowest.

For example, if my app dependes on "[1,2)", this means I depend on at least version 1, and I accept anything up to version 2. But if 1.0.0 and 1.1.0 exist, Nuget will always get 1.0.0.
There is no config at this moment that allows N

[2017-03-11 21:09] AArnott opened #4790 "Pack should re-evaluate project versions to allow git versioning"
**Repro steps**

1. Create two .netstandard libraries: A and B with a common solution directory.
1. Add the solution to git source control and commit.
1. Add reference from B to A
1. Install [Nerdbank.GitVersioning package](https://nuget.org/packages/nerdbank.gitversioning) to both
1. Add a version.json file to the solution folder with content: `{ "version": "0.1-beta" }`
1. Commit all changes to

[2017-03-11 21:19] AArnott commented on #4790
This issue was moved to AArnott/Nerdbank.GitVersioning#113

[2017-03-11 21:39] AArnott commented on #4790
This isn't something I can fix from Nerdbank.GitVersioning side because package imports are skipped when `$(ExcludeRestorePackageImports)='true'`, which is set during restore operations. And the result of the restore seems to lock in the version of the package dependency that is used later when the referencing project is built.

So I'm reactivating this issue as a DCR for how or when P2P versions

[2017-03-12 14:14] Perksey commented on #2793
Deleting `%AppData%\..\Local\Temp\NuGetScratch` and `%UserProfile%\.nuget` seems to fix this issue on windows environments.

[2017-03-12 21:48] treziac opened #4791 "[Ignore]"
Key shortcut error, don't know how to remove issue

[2017-03-12 21:49] #4791 closed, assigned to nobody

[2017-03-12 23:19] #3990 closed, assigned to rohit21agrawal

[2017-03-13 00:05] bbowman opened #4792 "Lightweight Solution Loading doesn't build .nuproj and doesn't fix nuget restore errors"
Using Visual Studio 2017 and lightweight solution loading, nuproj files appear to not be built. Additionally I still get:

Error occurred while restoring NuGet packages: The operation failed as details for project WinObjC.Frameworks.Core could not be loaded.

The project in question is build\build.sln at https://github.com/Microsoft/WinObjC/tree/packaging

[2017-03-13 00:05] bbowman commented on #4792
@kzu @rrelyea

[2017-03-13 00:37] kzu commented on #4792
@adalon too

[2017-03-13 01:28] bbowman commented on #4789
I agree. `*` is sort of close but we do a` *-*` or similar version specifier. To work around this in the authoring case, I have made a [.targets](https://github.com/Microsoft/WinObjC/blob/packaging/common/winobjc.packagereference.override.targets) to take locally built packages first. @emgarten, @rrelyea  and @yishaigalatzer were trying to get the *-* feature in for 4.0 but it didn't make it. They

[2017-03-13 01:33] bbowman opened #4793 "Visual Studio 2017 with PackageReference and C++ UWPs don't auto restore"
I only get:
[code]

even though using nuget.exe command line restore  or msbuild /t:restore works. Why are these different? I would think that VS package manager would use the msbuild target in 2017?

Note this happens with or without an obj folder in my project.

@emgarten @rrelyea
Are improvements here slated for Update 1?

[2017-03-13 05:58] v-nancyj commented on #4769
I have installed VS on a clean machine, and the issue didn't repro, it may be something wrong with the repro machine itself the way VS is being installed there, please close the bug, thanks!

[2017-03-13 06:15] nkolev92 opened #4794 "Build VSIX properly -- after loc assemblies are created."
Extensibility pointed some out potential acquisition issues due to the current way we author our VSIXs.
The primary target here is the localization move(?) to the main build process.

[2017-03-13 09:39] abbassyed1546 commented on #2366
Hi @rrelyea , @alpaix , @yishaigalatzer a and @maartenba ,

We have faced the same issue in VS 2017 Professional. As a workaround issue will get fixed while we using full feed link. Is this issue from NuGet Package Manager (NuGet client) ? When it will be resolved from NuGet package manager itself ?

[2017-03-13 10:29] DavidArno commented on #4587
Is there a work-around to this issue until support of the summary field is added to csproj? Just ignoring the warning and having a truncated summary seems more than a little messy.

[2017-03-13 11:43] Meligy commented on #2163
I'm having this (as mentioned in https://github.com/dotnet/cli/issues/6014#issuecomment-286060904), even though when I run `ulimit`, I get `unlimited`. Is that expected? (as in, is `unlimited` actually a bad value?)

Thanks.

[2017-03-13 11:59] alfonsogarciacaro opened #4795 "Directory structure for content files flattened if not adding Windows directory separator at the end of PackagePath"
Using dotnet sdk 1.0.1. Maybe related to #4709.

I want to add a directory and its subdirectories of content files to the package. I do it like this.

[code]

The problem is the directory structure of `fable-core` is flattened unless I add `\` at the end of PackagePath:

[code]

This is not very intuitive and it's different behaviour from the .nuspec file where `\` is not needed at the end. Could

[2017-03-13 12:13] henkmollema opened #4796 "NuGet pack does not skip content files from packages dependencies"
## Details about Problem
NuGet product used: NuGet.exe
NuGet version: `4.0.2283`
VS version: VS 2015
OS version: Windows 10

Worked before? If so, with which NuGet version: `3.4.4.1321`

## Repro steps
Look at the repo here: https://github.com/henkmollema/NuGetDependencyContentFiles

Basically the problem is that NuGet does not skips content files from package dependencies anymore. The behavior ch

[2017-03-13 12:15] am11 commented on #2163
@Meligy, `ulimit -n` shows the actual value. For TravisCI, we are setting it like [this](https://github.com/maxmind/MaxMind-DB-Reader-dotnet/blob/9d247d7f04a5088c3431dc0329e63665eea36a77/dev-bin/build.sh#L9-L14).

[2017-03-13 12:32] Meligy commented on #2163
Aha. Makes total sense (for the record mine shows 256 for `ulimit -n`, but probably everybody here knows that already).

Thanks a lot.

[2017-03-13 13:23] adalon commented on #4792
@bbowman could you please confirm if you're using the latest VS 2017/NuGetizer builds?

The latest NuGetizer is 0.1.227 and the link to download is: http://bit.ly/nugetizer-2017

We also switched from project.json to PackageReference. Not sure if the .NetCore tools might help to migrate out .nuproj projects. Otherwise I think you will need to do it manually.

Please let me know if this helps.

[2017-03-13 14:49] ABrehm264 commented on #3340
@maartenba, howdy, when were you planning to get this pushed into Production? I'm hoping it'll fix my problem with the legacy drop folder not really working. It works some of the time, but normally I have to spend a whole bunch of time re-dropping packages, recycling the NuGet server application pool, and hitting either the http://myNuget/nuget or http://myNuget/nuget/packages urls until some comb

[2017-03-13 16:29] eerhardt commented on #4781
MSBuild has extensibility built into it.  So you can add an MSBuild Target that runs before Restore by putting the following in your MSBuild .*proj file (or a .targets file imported by the .*proj):

[code]

outputs:

[code]

You can also use `AfterTargets` to do something after Restore.

See https://msdn.microsoft.com/en-us/library/ee216359.aspx

[2017-03-13 16:53] #4567 closed, assigned to nkolev92

[2017-03-13 17:08] atanasa commented on #4781
@eerhardt As discussed in the dotnet cli issue, this did not work with the target Restore but had to use _GenerateRestoreProjectSpec. If this got fixed in the mean time, this is good. But still the issue is that Visual Studio does not get the "Got here before Restore!".

[2017-03-13 17:13] atanasa commented on #4781
@eerhardt that still does not work for `dotnet restore` on the solution.

[2017-03-13 17:16] alpaix opened #4797 "Abnormal shutdowns caused by nugetconsole.host.powershell.dll!NuGetConsole.Host.PowerShell.Implementation.PowerShellHost.Initialize"
Internal bug 195139.

This mainly through NugetConsole.Implementation.Console.ConsoleDispatcher frame but points to synchronous initialization of PowerShell. Stacks don’t show any VS usage so this can be done asynchronously while showing progress inside NugetConsole window.

[2017-03-13 17:50] jainaashish commented on #4760
Merged to release-4.1.0-rtm branch

[2017-03-13 17:54] zhili1208 commented on #4431
Rob asked me to put it in 4.1

[2017-03-13 18:00] #4769 closed, assigned to jainaashish

[2017-03-13 18:50] jainaashish commented on #4307
one more internal vsts bug# 387758

[2017-03-13 19:17] zhili1208 commented on #4563
fix merged https://github.com/NuGet/NuGet.Client/commit/232384084b7c32eab814d7ada51bdc7db149c5fe

[2017-03-13 19:17] #4563 closed, assigned to zhili1208

[2017-03-13 19:23] jainaashish opened #4798 "VS crashes on solution close"
VS branch - VS 2017 RTW (26228.0)
NuGet version - 4.1.0.2357

Sometimes when I close solution while it might be still auto restoring, visual studio crash.

Steps:
1. Clone git repo https://github.com/dotnet/eShopOnContainers
2. Open eShopOnContainers-ServicesAndWebApps.sln
3. Close solution while auto restore is in progress or auto restore hasn't even started. It doesn't happens all the time.

Cra

[2017-03-13 19:35] mfaulkinbury commented on #4068
@rrelyea @yishaigalatzer

Please provide an update on the status of this PR.

[2017-03-13 19:52] microsmith commented on #2880
My issue was simple... my virtual machine lost internet connectivity!

[2017-03-13 19:54] zhili1208 commented on #4431
fix is merged https://github.com/NuGet/NuGet.Client/commit/5ef411e023b61b5675dc973b402f2a71b674a6a3

[2017-03-13 19:54] #4431 closed, assigned to zhili1208

[2017-03-13 20:51] rrelyea commented on #4431
Did you merge into Release-4.1.0-rtm as well? Please do.

[2017-03-13 20:56] zhili1208 commented on #4431
Yes, it's also merged to 4.1

[2017-03-13 21:47] zhili1208 opened #4799 "dotnet nuget push *.nupkg -k <key> push symbol package to package feed"
From Chris:

My initial experience was less than perfect. I have my packages building with symbols into a single folder. Pretty typically stuff IMO.  When I run:

dotnet nuget push *.nupkg -k <key>

It tried to push both the *.nupkg files and the *.symbol.nupkg files to the package feed.  This results in 409 for the *.symbol.nupkg file because they both were picked up to push to the package server

[2017-03-13 22:26] nkolev92 commented on #4682
There's a bug filled on powershell side.
https://github.com/PowerShell/PowerShell/issues/3325

[2017-03-13 22:42] alpaix opened #4800 "Auto-complete in PMC works incorrectly with object methods"
Tab-completion on object property or method replaces the entire expression instead of just property/method name.

For example, following expression
[code]

after pressing <kbd>Tab</kbd> key will be replaced with
[code]

instead of
[code]

[2017-03-14 02:17] anangaur opened #4801 "Unable to resolve '{dotnet-cli-tool} (>= 1.0.0)' for '.NETCoreApp,Version=v1.0'" on a netcoreapp1.1"
As reported on twitter:
[https://twitter.com/stevedesmond_ca/status/841020721933475840](https://twitter.com/stevedesmond_ca/status/841020721933475840)
![image](https://cloud.githubusercontent.com/assets/14800916/23883016/9270958c-0821-11e7-9475-f403b3497eeb.png)

[2017-03-14 06:28] davkean commented on #4781
Restore is not currently the correct target but we should make that work. We should mimize the target differences between command-line and VS.

[2017-03-14 07:49] Alezis commented on #4317
It looks with nuget 4.0 all issues were fixed.

throw no errors.

[2017-03-14 08:07] emgarten commented on #4801
The error message occurs when the package cannot be found on the feed. Verify that your sources are correct and that the package does exist.

The target framework of your project has no impact on the tool.

[2017-03-14 08:36] v-luzh commented on #4654
Fixed on **_VSUMain 26313.00+NuGet Client 4.3.0-Beta1-2381_** and **_D15Rel 26228.00+NuGet Client 4.1.0-RTM-2382_**.

[2017-03-14 08:36] v-luzh commented on #4315
Fixed on **_VSUMain 26313.00+NuGet Client 4.3.0-Beta1-2381_** and **_D15Rel 26228.00+NuGet Client 4.1.0-RTM-2382_**.

[2017-03-14 10:29] davkean opened #4802 "Turning on "Allow NuGet to download missing packages" doesn't cause auto-restore to kick in"
1. Uncheck "Allow NuGet to download missing packages"
2. File -> New Console App (.NET Core)
3. Check "Allow NuGet to download missing packages"

Expected: For auto-restore to kick in
Actual: Auto-restore doesn't kick in

[2017-03-14 11:08] tomkuijsten commented on #4783
Thanks for your answer. Is there any timeline on this plan?

I have to decide to wait for this to happen or create automation scripts to do the update. Would you recommend to update the packages.config to project.json? That would be one step closer to a single approach for me and a lot less custom scripting (packages.config is the hardest to script).

[2017-03-14 12:54] damianh opened #4803 "contentFiles (cs, compile) not working in NetStandard projects."
Hi, I run [LibLog](https://github.com/damianh/LibLog) - a source code logging package for library developers. I am failing to achieve NetStandard support ( https://github.com/damianh/LibLog/pull/125 )

I was unsure whether to log issue here or dotnet/sdk. I'm following https://twitter.com/davkean/status/841619178050150405 advice.

## Details about Problem

NuGet product used (NuGet.exe | VS UI | P

[2017-03-14 14:02] alpaix commented on #4654
Confirmed issue has been resolved. Most likely with NuGet/NuGet.Client@5ef411e.

[2017-03-14 14:02] #4654 closed, assigned to alpaix

[2017-03-14 16:26] rainersigwald opened #4804 "Command line builds fail when UWP project.json project references PackageReference project"
_Copied from https://github.com/Microsoft/msbuild/issues/1855, originally posted by @terrajobst._

I've two projects:

* `ClassLibrary`. A .NET Framework 4.6.1 class library (using the SDK-style project type). This library depends on JSON.NET.

* `WpfApp1`. A .NET Framework 4.6.1 WPF app (using the regular MSBuild). The app depends on  `ClassLibrary`.

Here is the issue: when I'm using `<PackagRef

[2017-03-14 16:28] rainersigwald commented on #4804
_Copied from https://github.com/Microsoft/msbuild/issues/1855#issuecomment-286474077, originally posted by @mwbowers._

I too cannot build projects with `<PackageReference>` from the command line.

I am referencing
[code]
in a class library project.

It builds correctly in the IDE and copies the referenced library to the bin; however, when I go to build from the command line, it fails with the fol

[2017-03-14 16:29] rainersigwald commented on #4804
Moving this issue here because it's in NuGet targets and looks pretty similar to https://github.com/NuGet/Home/issues/4581.

[2017-03-14 17:53] SteveDesmond-ca commented on #4801
Steps to reproduce:
- dotnet new
- update your csproj to
[code]
- dotnet restore

Expected result:
- restore succeeds

Observed result:
[code]

[2017-03-14 19:00] emgarten commented on #4801
@stevedesmond-ca thanks for the update, that error is referring to compatibility. Tools are restored under netcoreapp1.0 which is why you are seeing this. The target framework of the project is unrelated to the project's framework, tools are executed independently.

@natemcmaster what is the current guidance around creating tools for netcoreapp1.1?

[2017-03-14 19:01] SteveDesmond-ca commented on #4801
Thanks, I assumed as much -- is this documented anywhere / would you like me to?

[2017-03-14 19:06] I2obiN opened #4805 "Target is Windows 8.1 in properties"
Severity	Code	Description	Project	File	Line	Suppression State
Error		Could not install package 'MPI.NET 1.2.0'. You are trying to install this package into a project that targets 'native,Version=v0.0', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author.			0

[2017-03-14 19:09] natemcmaster commented on #4801
Duplicate of https://github.com/NuGet/Home/issues/4396. You can only use netcoreapp1.0 TFM. See also https://github.com/dotnet/cli/issues/4764 (which was closed as "by design").

cc @livarcocc @blackdwarf

[2017-03-14 19:11] rohit21agrawal opened #4806 "[D15Rel]A 'Package Installation Error' window pops up when create a C#/VB UWP project in VS/Blend"
Summary:
1. This issue only repros on D15Rel with RS2 UWP SDK installed.
2. This issue happens since build 26313.01
3. C++/JS project not repro

Steps to reproduce:
1. Launch VS or Blend
2. Create a C#/VB UWP project

Expected:
No error window pops up when creating new projects

Actual:
When create a UWP project in VS or Blend this error window pops up

![image](https://cloud.githubusercontent.com

[2017-03-14 19:25] emgarten commented on #4801
Thanks @natemcmaster

I'm going to close this out, and it looks like the doc concerns are already raised in the other issues.

[2017-03-14 19:25] #4801 closed, assigned to nobody

[2017-03-14 19:44] emgarten commented on #4805
@I2obiN it looks you are in a native C++ project and trying to install a package for net40.

[2017-03-14 19:47] emgarten commented on #4804
This is a dupe of https://github.com/NuGet/Home/issues/4532 which will be fixed in 15.1

Your best option is to stick to project.json for non-NETCore SDK projects until 15.1. Legacy CSProj + PackageReference currently has several major issues.

[2017-03-14 19:55] #4787 closed, assigned to rohit21agrawal

[2017-03-14 21:02] #4806 closed, assigned to rohit21agrawal

[2017-03-14 21:02] #4804 closed, assigned to nobody

[2017-03-14 22:23] #4519 closed, assigned to alpaix

[2017-03-15 02:10] emgarten commented on #4783
If you are fine with waiting a couple months you can switch to ``.net framework PackageReference``. Otherwise project.json is very similar but doesn't like you do things dynamically with msbuild.

[2017-03-15 02:35] roryprimrose commented on #4561
Is this related to https://github.com/GitTools/GitVersion/issues/1188 ?

[2017-03-15 04:07] SimonCropp opened #4807 "nservicebus.persistence.sql.msbuild 1.0.0-beta0006 is corrupted and should be deleted"
So i somehow managed to upload a corrupted package

So this
https://api.nuget.org/v3/catalog0/data/2017.03.15.03.58.40/nservicebus.persistence.sql.msbuild.1.0.0-beta0006.json

Has this

[code]

note the **$version$**

which when u run this

    Install-Package NServiceBus.Persistence.Sql.MsBuild -Verbose

results in this

[code]

That package is unlisted and can be permanently deleted

[2017-03-15 07:03] emgarten commented on #4807
Thanks for letting us know @SimonCropp   I've moved your issue to the gallery https://github.com/NuGet/NuGetGallery/issues/3653 for tracking

[2017-03-15 07:04] #4807 closed, assigned to nobody

[2017-03-15 11:31] maartenba opened #4808 "NuGet pack Unable to cast object of type 'System.String' to type 'NuGet.Frameworks.NuGetFramework'"
Getting an error with NuGet 4.0 pack command (nuget.exe):

[code]

Unfortunately can not provide a repro project. The project is a netstandard1.0 one.

[2017-03-15 15:42] Kralizek opened #4809 "Nuget.exe can't restore packages from new csproj format"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): nuget.exe

NuGet version (x.x.x.xxx): 4.0.0.2283

dotnet.exe --version (if appropriate): 1.0.1

OS version: Windows 10 14393.693

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

In the solution root folder
1. `dotnet restore` ✔️ solution'

[2017-03-15 16:24] rainersigwald opened #4810 "Custom globalPackagesFolder in NuGet.config is not used by msbuild"
_Migrated from original issue by @robpex at https://github.com/Microsoft/msbuild/issues/1861._

I found this question on StackOverflow which describes, more or less, the same problem I'm experiencing.

http://stackoverflow.com/questions/35307155/use-solution-relative-packages-folder-with-nuget-and-project-json

Basically, if you're using a custom globalPackagesFolder in your NuGet.config, msbuild

[2017-03-15 16:24] rainersigwald commented on #4810
Possibly related: #3876, #4341.

[2017-03-15 16:32] brianstringfellow commented on #3872
I see the same problem on NuGet Version: 3.5.0.1938 on Windows Server 2016. In my Nuget feed, `nuget list` shows the correct package versions but `nuget install` pulls an 'unlisted' version.

[2017-03-15 17:35] alpaix commented on #4797
1. Based on perf data solution load is delayed by `init.ps1` script execution in PMC

[code]

2. Second time consuming task (although not leading to shutdown)
[code]

[2017-03-15 17:40] alpaix commented on #4797
Also statistics clearly shows the biggest amount of hits was in VS 14.0.25420.1/d14rel affecting 0.81% of users. So it's obviously not a regression. Punting to a next milestone. We might want to reconsider script execution policy in future.

[2017-03-15 17:51] rrelyea opened #4811 "nuget will be stuck when calling "uninstall-package" from install.ps1 in VS2017"
Internal email says: I have a solution with various Windows services, Cloud services, libraries, etc (all C#). Our projects reference both public (nuget.org) and private (internal VSTS) packages. I am able to upgrade the nuget.org packages however when I try to update the internally hosted packages, the package is just removed and it never updated. Is this a known issue? My teammate is experiencin

[2017-03-15 17:58] rohit21agrawal opened #4812 "NuGet upgrade API MigrateProjectJsonToPackageReference hangs on failure"
Steps to reproduce:

1. Create a new UWP project targeting prior to RS2.
2. Modify the project.json to something invalid.
2. Call MigrateProjectJsonToPackageReference on its project file. Example call:
[code]
Expected: MigrateProjectJsonToPackageReference will return and Success will be set to false.
Actual: Visual Studio hangs. MigrateProjectJsonToPackageReference does not return.

[2017-03-15 18:15] rrelyea commented on #4542
@natidea  - Sounds like we can close our issue to help you guys. Let us know if you need more help.

[2017-03-15 18:15] #4542 closed, assigned to nobody

[2017-03-15 18:28] rrelyea commented on #4488
Reached out to unni to get PM owner for this issue.

[2017-03-15 18:30] rrelyea commented on #4798
does crash data support fixing in 4.1 or later?

[2017-03-15 18:50] dotMorten opened #4813 "Add per-package analytics to help library authors make platform decisions"
Feature Request:

As a library author, it can be really difficult to gain insight into how your nuget package is being used.
For instance, if I'm targeting UWP, can I drop support for the 10240 SDK? Can I drop support for .NET 4.5.2 and move to .NET 4.6.1? Or is it OK to move from .NET Standard 1.4 to 2.0? Do I really need to support Windows Phone 8.1 still? Should I spend time on testing my .NET

[2017-03-15 19:10] emgarten commented on #4803
Packages.config projects use the ``content`` folder
Project.json/PackageReference/NETCore SDK projects use the ``contentFiles`` folder

In your steps the DotNetFramework46 project ends up being a packages.config project which does not use the ``contentFiles`` folder where your pp file is.

To allow your package to work in both types of projects you should put the pp file in both places.

The reaso

[2017-03-15 19:13] bbowman commented on #4599
@rrelyea Is this going to hit in 15.1 and do we know if it will work for C++ UWP projects as well? Is there a way I can try this out sooner? Is there a CI drop of the packager manager VSIX?

[2017-03-15 19:15] jainaashish commented on #4798
It was one of the top hit for VS 2017 RC releases but got fixed in RTW and after that i don't see any watson crash data for this.

Previos internal issue# 268787 and it was fixed by VS IDE team. So I'll log a bug for this in their repo and close this as external.

[2017-03-15 19:21] jainaashish commented on #4798
Associated VS IDE bug# 395991

[2017-03-15 19:21] #4798 closed, assigned to jainaashish

[2017-03-15 19:42] emgarten commented on #4813
This looks very useful, we'll discuss it on the team and see what we can do to surface this data to package authors.

[2017-03-15 19:44] zhili1208 commented on #4811
the issue here nuget will be stuck when calling "uninstall-package" from install.ps1.

NServiceBus.Azure 7.0.0 has install.ps1 which is calling uninstall-package.

nuget is stuck when installing or updating to this package.

The workaround is remove NServiceBus.Azure 7.0.0 dependency and add NServiceBus to dependency list ,since this package is an empty package and is only used to install NService

[2017-03-15 19:44] sbomer opened #4814 "DotNetCliTool package included in publish output"
## Problem description

An indirectly-referenced DotNetCliTool package is included in the publish output.

This appears related to https://github.com/NuGet/Home/issues/4653. A fix for this would allow a single `PackageReference` to pull down tools packages without including them in the output, but I believe more work would be needed to make dotnet look for these indirectly-referenced tools when ru

[2017-03-15 19:44] rohit21agrawal opened #4815 "add complete e2e coverage for legacy package ref based projects"
some coverage has already been added as part of https://github.com/NuGet/NuGet.Client/pull/1239

but more test cases need to be added.

[2017-03-15 19:47] jariq commented on #4813
I don't say that I don't agree with OP but another currently feasible approach would be to split package with assemblies for multiple platforms into multiple packages each containing assemblies for a single platform.

Let's take my [Pkcs11Interop](https://www.nuget.org/packages/Pkcs11Interop/) package as an example:

This single package currently contains assemblies for `net20`, `net40`, `net45`,

[2017-03-15 19:53] emgarten commented on #4814
@sbomer if a tool package is added under a ``PackageReference`` it will be treated as a normal package regardless of the package type. To add it as a tool reference it with ``DotnetCliToolReference``.

[2017-03-15 19:58] emgarten commented on #4809
@Kralizek can you share a solution that repros this? I'm not sure how this could happen.

[2017-03-15 19:58] maartenba commented on #4813
NuGet 2 had X-NuGet-... headers that shipped that info. These are long gone, which is a pity.

NPM sends a boatload of this info, which is nice. It even tracks what package was dependent, so that you can also learn which packages bring along some of your own.

Example NPM request headers (bold emphasis):

GET http://registry.npmjs.org/angular HTTP/1.1
accept-encoding: gzip
**version: 4.4.0**
accep

[2017-03-15 19:59] emgarten commented on #4808
There is an issue tracking this here: https://github.com/NuGet/Home/issues/4491

nuget.exe doesn't support NETCore SDK projects currently, and the error message you get is confusing as you can see.

[2017-03-15 19:59] #4808 closed, assigned to nobody

[2017-03-15 20:00] emgarten commented on #4808
The workaround is to use ``msbuild /t:pack``

[2017-03-15 20:05] alpaix opened #4816 "[VSFeedback] Setting the build output folder of multiple projects with the same nuget reference to the same folder generates random build errors"
Internal issue 389572 (vsfeedback)

With my ~50 projects set to the same output folder and many of them with the same (nuget) references I often have to build 4-5 times to ensure everything compiled because of the many access deneied build errors, if I did a clean/rebuild before.

[2017-03-15 20:24] alpaix commented on #3324
Bug 389573:[Feedback] Nuget restore fails because path too long

[2017-03-15 20:37] alpaix opened #4817 "[VSFeedback] PostBuildEvent runs before GenerateNuspec"
Bug 389579:[Feedback] PostBuildEvent runs before GenerateNuspec

repro steps

1. create ClassLibrary (.NET Standard) project
2. configure &quot;Generate package on build&quot;
3. set Post Build Event command line.
4. build

I expect PostBuildEvent is LAST target of Build.

actualy.

 PostBuildEvent, _WalkEachTargetPerFramework, GenerateNuspec

[2017-03-15 20:45] sbomer commented on #4814
Thanks @emgarten! In that case, what's the effect of setting the packageType to `DotNetCliTool`? The docs at https://docs.microsoft.com/en-us/nuget/create-packages/creating-a-package make it sound like this can be used to prevent it from being included in the app's dependencies:

[2017-03-15 21:09] alpaix commented on #4125
Bug 389581:[Feedback] Installing NuGet package that is marked as a development dependency doesn't add the PrivateAssets="All" attribute to the PackageReference element

[2017-03-15 21:14] emgarten commented on #4814
The NuGet UI in visual studio will check the type and block the install, but if you edit your csproj manually or the package comes in transitively restore will assume it was intended as a normal dependency.

[2017-03-15 21:15] maartenba commented on #4808
Got it, thanks Justin!

[2017-03-15 21:17] #4363 closed, assigned to rohit21agrawal

[2017-03-15 22:10] alpaix commented on #4797
//cc @rrelyea @jainaashish

[2017-03-15 22:41] sbomer commented on #4814
Thanks for the explanation. Feel free to close the issue if that's the intended behavior. :)

[2017-03-15 23:21] ellismg opened #4818 "Extra directories when packing from msbuild with %(RecursiveDir)"
## Details about Problem

dotnet.exe --version (if appropriate):

[code]
## Detailed repro steps so we can see the same problem

This is reduced from a real project I am trying to convert to use the new NuGet pack stuff in the dotnet:  My project layout looks like this:

[code]

I want to put everything under the Content folder into my nupkg, mirroring the directory layout (into the tools\net46 fo

[2017-03-15 23:23] ericwj commented on #4337
Its very weird that the VersionSuffix is only respected during pack if it's on disk.

I'm imagining it'd be by design to have build and pack basically concluding the same -- even if you also specify `dotnet pack --no-build` ... as would likely be preferred on say a build server whenever the build has already ran.

Seeing e.g. aspnet/Logging using a Version.props and Common.props works as long as V

[2017-03-15 23:24] dotMorten commented on #4813
@jariq so you're saying, if I have a .NET Standard 1.0 package which will run on a gazillion combinations of project types, frameworks and platforms, I should go through the enormous hazzle of splitting it out into platform/framework specific sub-packages just to do this? And if a new .NET Standard platform comes along tomorrow, I'll have to add that too? I prefer my suggestion to that 😄

[2017-03-15 23:25] bbowman commented on #4793
From Debugging looks like .vcxproj UWP is falling down the NuGetProjectFactory path for MSBuildNuGetProjectProvider which has the following:

[code]

Which overlooks the possiblity of an .vcxproj with **PackageReference** i.e. is build integrated but with project.json. What can we do here?

[2017-03-15 23:37] bbowman commented on #4793
Other possible culprit would be if its expected to go down the CpsPackageReferenceProjectProvider path, its failing at:

[code]

Not sure what CPS is or how to add capabilities...

[2017-03-16 00:05] #4814 closed, assigned to nobody

[2017-03-16 00:23] ellismg commented on #4818
Ahh, I jumped into the PackTask a bit and I think I figured out my problem.

The issue is here: https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Build.Tasks.Pack.Library/PackTaskLogic.cs#L352-L369

NuGet is adding the recursive dir for me already.  However, this only happens if the entry in PackagePath ends with Path.DirectorySeperatorChar, which means I'll need to define a MSBu

[2017-03-16 00:35] abatishchev opened #4819 "Attribute xmlns="nuspec.xsd" in packages.config causes NullReferenceException and empty <packages />"
I faced a weird issue on machine of my teammate. By some reason one of his projects in its packages.config got the `xmlns` attribute. NuGet stopped working, now throws an exception on all attempts to install any package.

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI or Package Manager Console
NuGet version (x.x.x.xxx): 3.5.0.1996
do

[2017-03-16 00:35] rrelyea commented on #4797
let's keep investigating. as you and I discovered with a little investigation, looks like the hit rate in vs 2017 has gone way up per user session.

[2017-03-16 00:47] clairernovotny commented on #4532
I put a workaround for the project.json issue based on code @bbowman wrote on this MyGet feed `https://www.myget.org/F/msbuildsdkextras/api/v3/index.json`. Install `Microsoft.NuGet.Build.Tasks.Workaround`

[2017-03-16 00:48] alpaix commented on #4797
Current plan is to do following:
1. Request a dump file.
2. Compare changes made in `PowershellHost` b/w dev14 and dev15.
3. Try to reproduce the problem locally.

[2017-03-16 01:03] Bhavik1812 commented on #3042
Maybe this helps:

Delete the contents from the following folders:
C:\Users\{user}\AppData\Local\Microsoft\VisualStudio
C:\Users\{user}\AppData\Local\Microsoft\VSCommon
Sometimes, you need to go to:
[x64] C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE
[x86] C:\Program Files\Microsoft Visual Studio 14.0\Common7\IDE
and run Visual Studio 2015 again

This works good for me
Have a hap

[2017-03-16 01:10] szabolcsmaj commented on #4318
What other *automatic* ways would you suggest then for a dev to get the required dependencies if he/she wants to set up an environment?

Dependency management should be doable by executing a command. With NuGet, if I give my project to some other dev, I have to instruct him to "Click here, click there.." to get the application into a buildable state.

Am I missing something?

[2017-03-16 01:35] rido-min opened #4820 "Change TPMinV in UWP with PackageRefs breaks the build"
## Details about Problem

Using Dev15.1

Create UWP project targeting RS2 (PackageRef)

Retarget TPV to RS1
Retarget TPMinV to something else

After project reloads, build is failing with error:

1>C:\Program Files (x86)\Microsoft Visual Studio\Preview\Enterprise\MSBuild\Microsoft\NuGet\15.0\Microsoft.NuGet.targets(197,5): error : Your project is not referencing the "UAP,Version=v10.0.10586" frame

[2017-03-16 01:39] emgarten commented on #4820
It looks like this is coming from here:
https://github.com/NuGet/NuGet.BuildTasks/blob/dev/src/Microsoft.NuGet.Build.Tasks/Microsoft.NuGet.targets#L110

I'm not sure why this fallback would be needed, we should be able to leave it out if a target framework was passed in.

[2017-03-16 01:39] emgarten commented on #4820
We could also check if the restore style is PackageReference and just build the correct TFM.

[2017-03-16 03:44] thrashard commented on #2657
Thanks @mcliment - I was experiencing the same issue on our CI server, and your solution worked perfectly.

[2017-03-16 03:50] jainaashish commented on #4811
`NServiceBus.Azure 7.0.0 has install.ps1 which is calling uninstall-package.
nuget is stuck when installing or updating to this package.`

Reason NuGet is stuck there is, since post NuGet 4.0 version, it only allows one operation at a time and controls it via semaphore slim lock. Since install package was already started so that acquired the lock and when install.ps1 script tried to run uninstall-

[2017-03-16 04:59] dmarlow opened #4821 "msbuild /t:restore behaves differently for BuildTools MSBuild than VS Enterprise MSBuild"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (x.x.x.xxx): 4

dotnet.exe --version (if appropriate): N/A

VS version (if appropriate): 2017

OS version (i.e. win10 v1607 (14393.321)): Win 10 1607 14393.693

Worked before? If so, with which NuGet version: 2.8.x

## Detailed repro steps so we can see the same problem

1. Run `

[2017-03-16 05:51] jagrutichavan commented on #4026
I have nuget version 3.5.0 but i want to downgrade it to 3.4.0 so how to do this.or what can be done in this case

[2017-03-16 07:00] jagrutichavan opened #4822 "How to change version of nuget.exe"
I have the issue with nuget.exe version.
I am using visual studio 2013 and when I say "enable nuget package restore" then I get the nuget.exe file with version 3.5.0 but i want this file to be generated with version 3.4.4
Can anyone please help to solve this issue.Any help will be appreciated.I need solution for this urgently.

[2017-03-16 07:08] emgarten commented on #4822
Instead of using "enable nuget package restore" download nuget.exe using a script and run nuget.exe restore on your solution before the build starts.

You can find 3.4.4 here:
https://dist.nuget.org/win-x86-commandline/v3.4.4/nuget.exe

Also, is there any reason you are unable to use 3.5.0?

[2017-03-16 07:58] jariq commented on #4813
@dotMorten for me personally `nestandard*` moniker/platform still indicates only .NET Core support so I did not think about that case. You are right that once we get to the state where `netstandard*` is all you need for all the different project types then your solution will be superior to mine so I'm giving 👍 to your suggestion 😉

[2017-03-16 09:46] v-nancyj opened #4823 "[Test Failure] An extra package is added to reference after installing a package on multiple projects"
**NuGet Version:** NuGet 4.3.0-Beta1-2394 (Insertable)
**VS Version:** D15VSUML 26315.00
**OS Version:** Windows 10 RS2_Release 15058.0.170310-1436

**Repro Steps:**
1.	Check **‘Allow format selection on first package install’** format in NuGet Package Manager setting dialog and restart VS.
2.	Create a solution included two C# Class Library (.Net Framework) projects (renamed PC1 and PC2), and **ad

[2017-03-16 09:53] blackcity opened #4824 "Microsoft.Bcl.Async package cannot resolve dependencies in VS2017"
## Details about problem
NuGet package Microsoft.Bcl.Async for Net40 target cannot be resolved in a multi-target library after switching to VS2017. Worked in VS2015.

NuGet version: 4.0.0
VS version: 2017
OS version: win10 x64
Worked before? Worked in NuGet version: 3.5.0 (using VS2015)

## Detailed repro steps so we can see the same problem
Details see: https://github.com/dotnet/cli/issues/5993

[2017-03-16 10:26] Kralizek commented on #4809
Attached is a solution that I created via console. I also included the nuget.exe file I am using.

[code]

[Issue4809.zip](https://github.com/NuGet/Home/files/847389/Issue4809.zip)

[Issue4809-with-deps.zip](https://github.com/NuGet/Home/files/847403/Issue4809-with-deps.zip)

[2017-03-16 10:30] Kralizek commented on #4809
To be more precise, I also added an external dependency, still not good.

[Issue4809-with-deps.zip](https://github.com/NuGet/Home/files/847403/Issue4809-with-deps.zip)

[2017-03-16 12:15] javitosanchez opened #4825 "API for restoring/refreshing UWP packages"
I'm creating a VS extension. I'll need an API for restoring packages the first time a UWP project is created in VS2017. The same thing VS does when right click under solution node in solution explorer:

![restore](https://cloud.githubusercontent.com/assets/3597066/23995467/0389ca5c-0a4a-11e7-8dd2-d8cb0422d25e.jpg)

I cannot use the NuGet template wizard because my packages are added to project.jso

[2017-03-16 12:47] forrestab commented on #4639
Sorry, I know this is not the right place to ask this, but it is the only place I have seen it said.

@emgarten, you said,

Does this mean there is a switch to include them for dotnet core .csproj files?

[2017-03-16 14:41] citizenmatt commented on #4789
If this is about `PackageReference` always choosing lowest version, then I'm adding my +1.

My situation is that I want to have a floating version to take a dependency on a pre-release, and always pick up the latest pre-release when I restore. Using something like `108-*` will match pre-releases, but always picks the oldest/lowest version, ignoring the newer versions. There doesn't seem to be any

[2017-03-16 16:05] alpaix opened #4826 "Alter the extension API behaviour when packages.config project is not restored"
Change the way `IVsPathContextProvider` handles errors when `packages.config` based project is not restored, e.g. `packages` folder is empty or one of installed packages is missing.

[2017-03-16 16:05] alpaix commented on #4826
//cc @debonte @rrelyea

[2017-03-16 16:47] timheuer commented on #4813
Why NuGet telemetry?  Why not just binary analytics?  This would actually get you *usage* telemetry that I think matters more than just what is in the IDE usage (or at least a more realistic correlation).

[2017-03-16 17:03] damianh commented on #4803
Thanks or the response @emgarten , however I'm not grokking what I should actually do.

It is as far as I can see... if not what changes are need to https://github.com/damianh/LibLog/pull/125/files#diff-6ec70a9e9835da1a3387257b2d950192R36 to make this work?

Cheers.

[2017-03-16 17:28] bbowman commented on #4793
@emgarten and I looked into this some more and it appears vcxproj doesn't implement VSProject4 like it needs to. @olgaark do you any details?

[2017-03-16 17:35] tofutim commented on #4803
[Loqu8.LibLog.4.2.9.nupkg.zip](https://github.com/NuGet/Home/files/848556/Loqu8.LibLog.4.2.9.nupkg.zip)

Try this

[2017-03-16 17:44] damianh commented on #4803
@tofutim I'll respond on https://github.com/damianh/LibLog/pull/125

[2017-03-16 17:44] wizarrc commented on #4307
I'm not sure if this is the same root bug, but I am having an error display while loading Package Management Console (PMC) prompt `PM>` when the solution is still loading. I receive the error 'The operation failed as details for project _insert project name_ could not be loaded.' preventing the prompt from displaying. I can work around it by closing the PMC window, restart vs and load the solution

[2017-03-16 18:22] forrestab commented on #4412
Sorry if this is the wrong place for this, but I have not seen any recommendations/suggested workarounds on how to handle this problem for building nuget packages that require framework assemblies in vs2017.

So, do we continue to manually add the framework assembly references that the nuget package requires to the consuming project or build the nuget package using a nuspec file in order to make u

[2017-03-16 19:12] natemcmaster commented on #4396
Ping @rrelyea @blackdwarf  - what is the plan for .NET Core (CLI) 2.0 tools?

[code]

cc @livarcocc @piotrpMSFT

[2017-03-16 19:14] brunomlopes opened #4827 "When running "nuget install <package> -version <v> -OutputDirectory <directory> -ExcludeVersion", version of nuget package isn't verified"
We use nuget.exe install to install some nuget packages on a local folder (usually servers which are packaged as nugets). We use -OutputDirectory and -ExcludeVersion to keep the same path whenever we bump minor versions.

On nuget 3.5, this is broken because of an optimization. Nuget assumes that if the .nupkg exists on the correct path that the package version is up to date. This is not valid whe

[2017-03-16 19:26] blackdwarf commented on #4396
@natemcmaster well, honestly, the latest I know is that we will not invest that much into them in 2.0 timeframe. So, basically, what we have today is what will be there.

[2017-03-16 19:32] natemcmaster commented on #4396
This is confusing. Seems like we should align with the "2.0" wave.

.NET Core runtime = **2.0**
.NET Core CLI  = **2.0**
.NET Core CLI project tool = netcoreapp**1.0**

[2017-03-16 19:33] blackdwarf commented on #4396
@natemcmaster sorry, I'm confused. I thought you were asking about general improvements and upgrades in lieu of what we discussed a month or so back?

[2017-03-16 19:35] natemcmaster commented on #4396
Let me clarify, in .NET Core CLI 2.0, can a DotNetCliToolReference package target "netcoreapp2.0"? At the moment, NuGet will only restore a DotNetCliToolReference package if it targets netcoreapp1.0.

[2017-03-16 19:38] livarcocc commented on #4396
@natemcmaster Yes. we need to figure out a story to move these tools forward. I am trying to see if there is any drawbacks to make NuGet restore for 2.0 instead. I still don't think this is a definitive answer, as we will have to do it again on 3.0, but it may be all we can do in time for 2.0.

Basically, if we do this, it would mean that older version of the tools would not work with CLI 2.0, bec

[2017-03-16 20:26] livarcocc opened #4828 "Error when calling: dotnet pack --include-source"
## Steps to reproduce
1. Clone https://github.com/jamesnk/newtonsoft.json.bson
2. Uncomment https://github.com/JamesNK/Newtonsoft.Json.Bson/blob/6b878fb0cb8587cba6e2d04c555e0d5097d23334/Build/build.ps1#L116
3. Run `build\runbuild.cmd`

## Expected  behavior
A NuGet package with symbols and source code

## Actual behavior

[code]

## Environment data
[code]