[2017-10-17 19:56] #4963 closed, assigned to nobody

[2017-10-17 19:56] rrelyea commented on #2018
Closing this very old bug. Please file a new one if current NuGet.exe (4.4.0) from http://nuget.org/downloads has problematic behavior.

[2017-10-17 19:56] #2018 closed, assigned to nobody

[2017-10-17 19:56] jainaashish commented on #3566
@tomkuijsten you can use netcore projects and subsequently use `msbuild pack` command to pack your package the way you want to... Please find more details here - https://docs.microsoft.com/en-us/nuget/schema/msbuild-targets#pack-target

[2017-10-17 19:56] #3566 closed, assigned to rohit21agrawal

[2017-10-17 19:56] zhili1208 commented on #4106
please use msbuild /t:pack in developer CMD to Pack Project A and specify Project B major and minor version as a msbuild property from commandline

[2017-10-17 19:56] #4106 closed, assigned to nobody

[2017-10-17 19:57] nkolev92 commented on #5922
Tests are working now.
Closing this.

[2017-10-17 19:57] #5922 closed, assigned to dtivel

[2017-10-17 19:57] emgarten commented on #4961
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-10-17 19:57] #4961 closed, assigned to nobody

[2017-10-17 19:58] rrelyea commented on #2029
Closing as external. If it is determined that NuGet has a problem here, and not NuGet, please let us know.
Also, please try with our latest NuGet.exe at that time (currently 4.4.0).

[2017-10-17 19:58] #2029 closed, assigned to nobody

[2017-10-17 19:59] PatoBeltran commented on #3051
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-10-17 19:59] #3051 closed, assigned to nobody

[2017-10-17 19:59] zhili1208 commented on #4107
it's already fixed

[2017-10-17 19:59] #4107 closed, assigned to nobody

[2017-10-17 20:09] jainaashish commented on #3568
From the discussion looks like this is the desired behavior and no customer has complained about this so far. So we're gonna keep it until community feels otherwise.

[2017-10-17 20:09] #3568 closed, assigned to nobody

[2017-10-17 20:17] jariq commented on #5907
Unfortunately this does not really provide much more detail to me but I guess I'm OK with `-CryptographicServiceProvider` and `-KeyContainer` options being present if anyone find them useful.

[2017-10-17 20:25] abpiskunov opened #6047 "Restore does not print enough info in the output when fails"
## Details about Problem

VS Dev15.5 Preview 2 d15rel 27016.0

## Detailed repro steps so we can see the same problem

1. Create a new core 2.0 WebApplication wait for restore.
2. Edit project file and add following <TargetFrameworks>netcoreapp1.1;netcoreapp2.0;net45</TargetFrameworks>
3. Reload project , wait for restore.

Actual result:

Restore failed and it is expected , but why is it failed?

[2017-10-17 20:31] brianpos commented on #4989
I've tried this out with the Fhir assembly @ewoutkramer, works a treat.
Agree this should be in official docs

[2017-10-17 20:34] emgarten commented on #4959
@realvictorprm to get control over how the files are copied use a targets file in the `build/` folder of the package. You can reference the assemblies and config files from the targets file.

[2017-10-17 20:34] #4959 closed, assigned to nobody

[2017-10-17 20:36] emgarten commented on #4958
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-10-17 20:36] #4958 closed, assigned to nobody

[2017-10-17 20:37] dsagar3409 opened #6048 "Difference in Nuget Update from Nuget.exe and Nuget Package Manager Console"
A custom developed Nuget package that is used in other projects works as expected. However, we see that there is some difference in the way that the reference (in csproj file) being added to the project when you update the Nuget package through nuget command line tool (v 3.4.0) or through Nuget Package Manager Console in VS 2015.

Due to this we see frequent merges and updates by the source contro

[2017-10-17 20:41] emgarten commented on #4923
Adding a package involves adding a `PackageReference` item to the project file, most of what happens there is handled by MSBuild.

At this time there are no plans to create an API in nuget to handle all of this programmatically.

[2017-10-17 20:41] #4923 closed, assigned to nobody

[2017-10-17 20:45] emgarten commented on #4921
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-10-17 20:45] #4921 closed, assigned to nobody

[2017-10-17 20:48] emgarten commented on #4915
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

Please also try with a PackageReference project instead of a project.json based project.

[2017-10-17 20:48] #4915 closed, assigned to nobody

[2017-10-17 20:48] ericstj commented on #3541
Yes it is still valid.  It'll be less prevalent moving forward (netcoreapp2.0 and later) as we are only using runtime.json to bring in our own private runtime packages with no dependencies, but the problem still exists for UAP10.0 and NETCoreApp 1.x.

[2017-10-17 20:50] jainaashish commented on #3575
Dupe of https://github.com/NuGet/Home/issues/912

[2017-10-17 20:50] #3575 closed, assigned to nobody

[2017-10-17 20:51] #4914 closed, assigned to nobody

[2017-10-17 20:52] emgarten commented on #4907
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-10-17 20:52] #4907 closed, assigned to nobody

[2017-10-17 20:55] emgarten commented on #4685
There are no plans to release an update for VS 2013 and older at this time.

[2017-10-17 20:55] #4685 closed, assigned to nobody

[2017-10-17 20:56] dazinator commented on #4943
@emgarten adding a `PackageReference` directly to the template does work but it means if the nuget package isn't in the users nuget package directory already (Which it won't be for the first project they create on their machine) it will be downloaded from the internet (requiring web access). I want to bundle the nuget package inside my vsix and install it from there - which was previously possible

[2017-10-17 21:06] jainaashish commented on #3581
This has already been taken care of.

[2017-10-17 21:06] #3581 closed, assigned to joelverhagen

[2017-10-17 21:06] emgarten commented on #4905
This is for the most part determined by the SDK/build. To copy the complete closure users should do a publish if using the CLI.

[2017-10-17 21:06] #4905 closed, assigned to nobody

[2017-10-17 21:11] jainaashish commented on #3582
This is by design for now since we never include empty lib folder even to make it compatible with other TFMs, we always include a placeholder like _._

[2017-10-17 21:11] #3582 closed, assigned to rohit21agrawal

[2017-10-17 21:14] mhsimkin opened #6049 "Configure.PS1 fails downloading .NET CLI - Can't build"
After cloning the NuGet.Client repo and following the instructions to configure for a build.  Configure.PS1 fails when attempting to download the .NET CLI.  The output from the Powershell console is below:

`PS D:\Reference Source\Microsoft\nuget\nuget.client> .\configure.ps1
[17:10:09 +0]   Configuring NuGet.Client build environment
[17:10:09 +0]   [BEGIN] Configuring git repo
[17:10:09 +0]   [DO

[2017-10-17 21:14] emgarten commented on #4902
There is currently no plan to release an update to the 2.x libraries. Please update to the latest 4.4.0 version.

[2017-10-17 21:14] #4902 closed, assigned to nobody

[2017-10-17 21:18] emgarten commented on #4893
@jainaashish @nkolev92 is the 3.6.0 release complete?

[2017-10-17 21:19] jainaashish commented on #3589
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-10-17 21:19] #3589 closed, assigned to nobody

[2017-10-17 21:21] mhsimkin opened #6050 "Examples on how to use NuGet API?"
I'm trying to integrate the API into an internal auto application update tool.

I'm having the following issues:
1) Determine the correct combination of Nuget API packages to install?
2) Determine how to use the API? I've reviewed the articles by [Dave Glick](https://daveaglick.com/posts/exploring-the-nuget-v3-libraries-part-2). However, I'm still having issues.  For example, when I execute this l

[2017-10-17 21:21] zhili1208 commented on #4108
No response, close it

[2017-10-17 21:21] #4108 closed, assigned to nobody

[2017-10-17 21:23] emgarten commented on #4890
Docs are continually being added. Please open issues for specific things you would like to see covered here: https://github.com/NuGet/docs.microsoft.com-nuget

[2017-10-17 21:23] #4890 closed, assigned to nobody

[2017-10-17 21:25] jainaashish commented on #3591
More than a year and we didn't get much feedback on this issue, which suggests most customer were either able to move to latest nuget versions or still continued with <=3.5.0 versions. Either case it doesn't seem like a high priority item at this time so we'll close it as won'tFix. If we get more community feedback on this, then we'll re-evaluate.

[2017-10-17 21:25] #3591 closed, assigned to mishra14

[2017-10-17 21:25] emgarten commented on #4888
Please try the latest 4.4.0 version of nuget, it contains a large number of perf fixes that should help your scenario.

[2017-10-17 21:25] #4888 closed, assigned to nobody

[2017-10-17 21:26] CADbloke commented on #2468
For something that is supposed to make things easier and more straightforward, the first stage of using it is anything but. An installer would make the experience consistent, not just for people with multiple machines but for, oh I dunno, the whole world.

For an example of something that is really smooth and seamless - https://github.com/Microsoft/Git-Credential-Manager-for-Windows. Not so seamle

[2017-10-17 21:28] #4884 closed, assigned to nobody

[2017-10-17 21:29] jainaashish commented on #3596
Already fixed as confirmed by customer.

[2017-10-17 21:29] #3596 closed, assigned to nobody

[2017-10-17 21:30] zhili1208 commented on #4110
I think symbol package is only used by symbol server for debugging, adding content and tools make no sense for this scenario, close it as by design

[2017-10-17 21:30] #4110 closed, assigned to nobody

[2017-10-17 21:35] rrelyea commented on #2030
Yes, please switch to "all sources" as recommended workaround.

[2017-10-17 21:35] #2030 closed, assigned to alpaix

[2017-10-17 21:44] zhili1208 commented on #4111
this VS feedback is closed

[2017-10-17 21:44] #4111 closed, assigned to jainaashish

[2017-10-17 21:44] jainaashish commented on #3597
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. Thanks for helping us improve Visual Studio.

[2017-10-17 21:44] #3597 closed, assigned to nobody

[2017-10-17 21:47] #4875 closed, assigned to emgarten

[2017-10-17 21:48] #3052 closed, assigned to nobody

[2017-10-17 21:48] zhili1208 commented on #4115
Project.json is dead and packages.config is deprecated. Please use Package Reference for nuget.https://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html

[2017-10-17 21:48] #4115 closed, assigned to nobody

[2017-10-17 21:51] rrelyea commented on #2040
believe that our msbuild based testing of restore covers this well enough for now.

[2017-10-17 21:51] #2040 closed, assigned to nobody

[2017-10-17 21:53] jainaashish commented on #3598
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-10-17 21:53] #3598 closed, assigned to rohit21agrawal

[2017-10-17 21:59] rrelyea commented on #2050
Closing in favor of recommendation to move to project files with PackageReferences inside of them.
See https://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html

As such, references and imports don't need to be maintained in csproj, which causes problems like the above.

[2017-10-17 21:59] #2050 closed, assigned to nobody

[2017-10-17 21:59] zhili1208 commented on #4121
Please try nuget 4.3 in Visual Studio 2017, close it, if it still repro with 4.3, feel free to reopen

[2017-10-17 21:59] #4121 closed, assigned to nobody

[2017-10-17 22:00] mishra14 commented on #5044
Closing this as "Wont Fix". You can use `NuGet.exe sources` command to list all sources, including the disabled ones. In future we might add a `dotnet nuget sources` command as well.

[2017-10-17 22:00] #5044 closed, assigned to nobody

[2017-10-17 22:04] #5935 closed, assigned to nobody

[2017-10-17 22:08] emgarten commented on #4870
Please try with the latest 2.0.0 version of dotnet CLI or using VS 15.4. If this still repros let me know and provide additional steps using PackageReference instead of project.json.

[2017-10-17 22:08] #4870 closed, assigned to nobody

[2017-10-17 22:09] #3087 closed, assigned to jainaashish

[2017-10-17 22:11] mishra14 commented on #5049
This seems reasonable. We should improve the UI around this.

[2017-10-17 22:11] zhili1208 commented on #4129
Please use nuget.exe 4.3 from https://www.nuget.org/downloads, close this for now, if 4.3 still repro, feel free to reopen it

[2017-10-17 22:11] #4129 closed, assigned to nobody

[2017-10-17 22:11] PatoBeltran commented on #3089
Closing as Mono version has already been released.

[2017-10-17 22:11] #3089 closed, assigned to nobody

[2017-10-17 22:12] nkolev92 commented on #5918
Closing this in favor of https://github.com/NuGet/Home/issues/4491.

Both of the aforementioned issues are also tracked in https://github.com/NuGet/Home/issues/5877

[2017-10-17 22:12] #5918 closed, assigned to nobody

[2017-10-17 22:12] emgarten commented on #4865
@Torgrimm please try the latest version of NuGet in VS 15.4 and let us know if this issue still exists.

[2017-10-17 22:12] #4865 closed, assigned to nobody

[2017-10-17 22:12] mishra14 commented on #4866
Fixed for VSTS with https://github.com/NuGet/NuGet.Client/commit/79a745606a61368228bc7b87700aed0de0aacd14

[2017-10-17 22:12] #4866 closed, assigned to nobody

[2017-10-17 22:13] #4138 closed, assigned to nobody

[2017-10-17 22:14] jainaashish commented on #3599
@rohit21agrawal  Lets discuss plan for native projects pack.

[2017-10-17 22:15] PatoBeltran commented on #3065
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-10-17 22:15] #3065 closed, assigned to nobody

[2017-10-17 22:18] mesbahamin commented on #6024
I think this is actually a duplicate of #5849

Contributing factors to the great deal of confusion I experienced:
- The `-Source` parameter is treated inconsistently between nuget commands (mentioned in #5767). With `nuget install` I can pass it the name of one of my configured sources, but with `nuget restore` I can only pass it a URL.
- The [documentation](https://docs.microsoft.com/en-us/nuget/

[2017-10-17 22:18] #6024 closed, assigned to nobody

[2017-10-17 22:19] mesbahamin commented on #5849
Is anyone working on this at the moment? Would a PR be welcome?

[2017-10-17 22:19] #3092 closed, assigned to nobody

[2017-10-17 22:20] robertmuehsig commented on #4256
Besides the error message: Why can't NuGet itself not insert the needed DotnetCliTool reference inside the csproj?
We recently created a dotnet cli tool and I was suprised that the handling is different from a normal package.

[2017-10-17 22:20] zhili1208 commented on #4149
Please try nuget.exe 4.3 from https://www.nuget.org/downloads, close it for now, if it still repro with 4.3, feel free to reopen it

[2017-10-17 22:20] #4149 closed, assigned to nobody

[2017-10-17 22:22] rrelyea commented on #2055
This old issue has very little info in it.
I think it was a request to support something like this: https://fsprojects.github.io/Paket/reference-from-repl.html

I'd say that "dotnet add package", etc... is the direction that the dotnet CLI is going...and we should enhance that model as needed.

[2017-10-17 22:22] #2055 closed, assigned to nobody

[2017-10-17 22:23] nkolev92 commented on #5896
Thanks for creating this issue.

The NuGet client itself still respects the flag, so it might work with other package sources.
The list command favors the search endpoint over the packages endpoint if available.
NuGet.org however does not support this anymore as it goes against the intentions of the customers when they unlist this package.

Without sufficient traction our community, we have decide

[2017-10-17 22:23] #5896 closed, assigned to nobody

[2017-10-17 22:26] mwpowellhtx commented on #4149
@zhili1208 Thanks for the heads up. I haven't tried since the update, but I will keep it in mind for the next moment of opportunity.

[2017-10-17 22:28] #4154 closed, assigned to nobody

[2017-10-17 22:31] zhili1208 commented on #4159
it's fixed

[2017-10-17 22:31] #4159 closed, assigned to nobody

[2017-10-17 22:33] mesbahamin commented on #6024
I made a [PR](https://github.com/NuGet/docs.microsoft.com-nuget/pull/512) to make the docs more clear on this issue.

[2017-10-17 22:34] rrelyea commented on #2066
Until we have a customer ask in this area, we'll leave this unimplemented for Transitive PackageFormats.

[2017-10-17 22:34] #2066 closed, assigned to joelverhagen

[2017-10-17 22:35] zhili1208 commented on #4160
close it for now, if it still repro, feel free to reopen

[2017-10-17 22:35] #4160 closed, assigned to nobody

[2017-10-17 22:36] emgarten commented on #4864
These flags should not take values.

https://github.com/NuGet/NuGet.Client/blob/a7e7dbba7a19b1fb26fc0f628f0b3cffe09651b6/src/NuGet.Core/NuGet.CommandLine.XPlat/Commands/PushCommand.cs#L61

[2017-10-17 22:36] zhili1208 commented on #4164
Moving to package reference is the solution here. close it

[2017-10-17 22:36] #4164 closed, assigned to nobody

[2017-10-17 22:37] emgarten commented on #4861
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-10-17 22:37] #4861 closed, assigned to nobody

[2017-10-17 22:38] PatoBeltran commented on #3115
Closing as not enough information for the scenario.

[2017-10-17 22:38] #3115 closed, assigned to nobody

[2017-10-17 22:40] nkolev92 commented on #5561
Duplicate of https://github.com/NuGet/Home/issues/5186

[2017-10-17 22:40] #5561 closed, assigned to mishra14

[2017-10-17 22:41] emgarten commented on #4860
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-10-17 22:41] #4860 closed, assigned to nobody

[2017-10-17 22:41] mishra14 commented on #5066
This should be solved with `PackageReference` style projects that allow conditional package references. Closing after an offline discussion with @emgarten.

[2017-10-17 22:41] #5066 closed, assigned to nobody

[2017-10-17 22:42] mishra14 commented on #5065
This should be solved with PackageReference style projects that allow conditional package references. Closing after an offline discussion with @emgarten.

[2017-10-17 22:42] #5065 closed, assigned to nobody

[2017-10-17 22:42] zhili1208 commented on #4165
Please move to package reference for this

[2017-10-17 22:42] #4165 closed, assigned to nobody

[2017-10-17 22:42] #3117 closed, assigned to nobody

[2017-10-17 22:42] rrelyea commented on #2071
@ericstj  - has this been cleaned up in the corefx?
would like to close, if appropriate.

[2017-10-17 22:44] #4857 closed, assigned to nobody

[2017-10-17 22:45] zhili1208 commented on #4170
Please move to Package reference for this issue

[2017-10-17 22:45] #4170 closed, assigned to nobody

[2017-10-17 22:46] nkolev92 commented on #5883
Thanks for reporting this issue.

Since we have not received more information we are closing this issue.
Please reopen if you can still reproduce this problem.

[2017-10-17 22:46] #5883 closed, assigned to nobody

[2017-10-17 22:46] rrelyea commented on #2084
This is in our backlog. Package Compatibility Filtering (for search and update).

[2017-10-17 22:47] jainaashish commented on #3601
Seems like a good improvment for our error messages.

[2017-10-17 22:48] emgarten commented on #4852
The error message was improved in 4.4

[2017-10-17 22:48] #4852 closed, assigned to emgarten

[2017-10-17 22:50] mishra14 commented on #5048
@jainaashish @nkolev92 who are working on improving NuGet support for `PackageReference`.

[2017-10-17 22:53] nkolev92 commented on #5881
//cc
@karann-msft @anangaur

[2017-10-17 22:54] zhili1208 commented on #4182
@jainaashish PC to PR for pp

[2017-10-17 22:54] jainaashish commented on #3602
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-10-17 22:54] #3602 closed, assigned to nobody

[2017-10-17 22:55] rrelyea commented on #2088
Packages.Config and transitive systems all download things to the user package folder.
While there were thoughts that having a per-feed storage may be useful, it is nowhere near top of mind at this point. Closing.

[2017-10-17 22:55] #2088 closed, assigned to nobody

[2017-10-17 22:56] #5072 closed, assigned to nobody

[2017-10-17 22:56] PatoBeltran commented on #3132
This issue is being solved by https://github.com/NuGet/NuGet.Client/pull/1703.

[2017-10-17 22:58] rrelyea commented on #2090
will work with C++ team to drive C++ related backlog. For now, won't fix.

[2017-10-17 22:58] #2090 closed, assigned to nobody

[2017-10-17 22:59] nkolev92 commented on #5860
Thanks for reporting this issue.

As we have not received response in some time, we are closing this issue.

If you can still reproduce this with the latest version of NuGet please, please reach out to us again.

[2017-10-17 22:59] #5860 closed, assigned to nobody

[2017-10-17 23:00] rrelyea commented on #2101
Marking won't fix as this isn't anywhere near the top of our backlog.

[2017-10-17 23:00] #2101 closed, assigned to nobody

[2017-10-17 23:00] emgarten commented on #4847
Duplicate of https://github.com/NuGet/Home/issues/4860

[2017-10-17 23:00] #4847 closed, assigned to nobody

[2017-10-17 23:00] jainaashish commented on #3603
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-10-17 23:00] #3603 closed, assigned to emgarten

[2017-10-17 23:01] PatoBeltran commented on #3144
Per discussion, this seems to be fixed in 3.5. Closing issue, please feel free to reopen if this is still a problem

[2017-10-17 23:01] #3144 closed, assigned to nobody

[2017-10-17 23:02] mishra14 commented on #5073
No repro with VS 15.3.3

[2017-10-17 23:02] #5073 closed, assigned to nobody

[2017-10-17 23:02] emgarten commented on #4846
Closing based on the previous conversation, if you are still hitting this please provide additional repro steps. Thanks!

[2017-10-17 23:02] #4846 closed, assigned to nobody

[2017-10-17 23:03] jainaashish commented on #3605
This is being covered as part of adding more and more e2e tests in apex which will also cover these scenarios.

[2017-10-17 23:03] #3605 closed, assigned to nobody

[2017-10-17 23:03] #4844 closed, assigned to zhili1208

[2017-10-17 23:03] rrelyea commented on #2107
Thanks @kraigb .
/cc @alpaix who moved teams.
/cc @karann-msft as well.

[2017-10-17 23:03] #2107 closed, assigned to nobody

[2017-10-17 23:04] nkolev92 commented on #5856
This seems like a high-cost low benefit thing tbh. Worth having a triage discussion over.

[2017-10-17 23:05] rrelyea commented on #2111
yes, search needs help. have major items in backlog to improve via server and client.

[2017-10-17 23:05] #2111 closed, assigned to nobody

[2017-10-17 23:05] mishra14 commented on #5076
@joozek78 I cant repro the issue. The repo does not build -
[code]

Please reopen this issue if you are still facing the issue.

[2017-10-17 23:09] PatoBeltran commented on #3158
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-10-17 23:09] #3158 closed, assigned to nobody

[2017-10-17 23:09] mishra14 commented on #5077
@saf-itpro Thanks for reporting the issue. At this point we do not plan on releasing an update for VS2015. Please try latest [VS2017](https://www.visualstudio.com/#) and let us know if you need more help from us.

[2017-10-17 23:09] #5077 closed, assigned to nobody

[2017-10-17 23:11] emgarten commented on #4837
The targets/props for modifying build items coming from packages should be added to the samples and documented.

[2017-10-17 23:13] mishra14 commented on #5078
@gsainagendraprasad Can you please look at the solution in https://github.com/NuGet/Home/issues/5980 which should fix your issue. Please feel free to reopen this issue if you need more help.

[2017-10-17 23:13] #5078 closed, assigned to nobody

[2017-10-17 23:14] nkolev92 commented on #5849
We are not actively working on it.

@mesbahamin
A PR would be great.
This might be a good place to start.
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Build.Tasks/GetRestoreSettingsTask.cs
Feel free to ask any questions you might have.

[2017-10-17 23:15] PatoBeltran commented on #3165
Closing as https://github.com/NuGet/Home/issues/2836 provides a workaround

[2017-10-17 23:15] #3165 closed, assigned to nobody

[2017-10-17 23:15] emgarten commented on #4835
At this time we are not planning to fix this issue.

We would reconsider this if you can provide
* Scenarios where relative path next links are important
* A PR to fix this would also be considered

[2017-10-17 23:15] #4835 closed, assigned to nobody

[2017-10-17 23:16] ericstj commented on #2071
I believe NuGet actually fixed this.  Specifying versions in the app will win out over anything brought in by runtime.json because of nearest wins and how the runtime.json dependencies are stitched in: they'll always be lower than app.

You can close this.

[2017-10-17 23:16] jainaashish commented on #3608
Looks like a edge case and no customer report so far. So closing it for now.

[2017-10-17 23:16] #3608 closed, assigned to nobody

[2017-10-17 23:16] zhili1208 commented on #4204
@anangaur few customers hit this, please remove it from know issues, close it as won't fix, we should be considering a better plan for moving to next version in the future.

[2017-10-17 23:16] #4204 closed, assigned to zhili1208

[2017-10-17 23:17] rrelyea commented on #2118
Doesn't seem to be an actionable issue. Closing.

[2017-10-17 23:17] #2118 closed, assigned to nobody

[2017-10-17 23:18] mishra14 commented on #5086
dupe of https://github.com/NuGet/Home/issues/4901

[2017-10-17 23:18] #5086 closed, assigned to mishra14

[2017-10-17 23:19] emgarten commented on #4831
pack for project.json using dotnet.exe should definitely be removed if it still exists.

[2017-10-17 23:19] zhili1208 commented on #4205
@jainaashish improved PMC initialization, close it

[2017-10-17 23:19] #4205 closed, assigned to nkolev92

[2017-10-17 23:21] rrelyea commented on #2119
This is a 19 month old issue. As such, closing. xproj project.json is no longer supported.
Moved the world to PackageReference in project files...

[2017-10-17 23:21] #2119 closed, assigned to nobody

[2017-10-17 23:21] zhili1208 commented on #4211
Please try nuget 4.3 from https://www.nuget.org/downloads, close it for now, if it still repro with 4.3, feel free to reopen it

[2017-10-17 23:21] #4211 closed, assigned to nobody

[2017-10-17 23:22] #3188 closed, assigned to nobody

[2017-10-17 23:23] jainaashish commented on #3612
This is not needed now, besides we're more focused on customer specific issues.

[2017-10-17 23:23] #3612 closed, assigned to emgarten

[2017-10-17 23:23] zhili1208 commented on #4212
Thanks for reporting the issue. At this point we do not plan on releasing an update for VS2015. Please try latest [VS2017](https://www.visualstudio.com/#) and let us know if you need more help from us.

[2017-10-17 23:23] #4212 closed, assigned to nobody

[2017-10-17 23:25] jainaashish commented on #3619
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-10-17 23:25] #3619 closed, assigned to nobody

[2017-10-17 23:25] #2120 closed, assigned to nobody

[2017-10-17 23:26] #5093 closed, assigned to nobody

[2017-10-17 23:27] jainaashish commented on #3623
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-10-17 23:27] #3623 closed, assigned to nobody

[2017-10-17 23:27] nkolev92 commented on #5846
Thanks for reporting this issue.

We have decided not to fix this issue as there is an easy workaround.
[code]

[2017-10-17 23:27] #5846 closed, assigned to nobody

[2017-10-17 23:28] rrelyea commented on #2122
@diverdan92 - may be interesting for you to see this kind of issue with symbols

[2017-10-17 23:29] zhili1208 commented on #4216
@emgarten added to backlog for now

[2017-10-17 23:29] mishra14 commented on #5095
pinging @emgarten
@danwalmsley were you able to get this to work?

[2017-10-17 23:33] mishra14 commented on #5112
This issue was moved to NuGet/NuGetGallery#4859

[2017-10-17 23:33] #5112 closed, assigned to nobody

[2017-10-17 23:34] zhili1208 commented on #4227
it's fixed by #4044

[2017-10-17 23:34] #4227 closed, assigned to nobody

[2017-10-17 23:35] jainaashish commented on #3625
This is by design. Target framework in packages.config doesn't represent that project's target framework rather it just tells you that package is installed against this framework which might or might not be compatible with your project's framework. And in case, its not compatible with project, then it will generate appropriate error message.

[2017-10-17 23:35] #3625 closed, assigned to nobody

[2017-10-17 23:36] rrelyea commented on #2135
Will wait for customer impact before fixing this old issue.

[2017-10-17 23:36] #2135 closed, assigned to nobody

[2017-10-17 23:36] mishra14 commented on #5106
Closing this issue due to lack of response. Please reopen this issue if you think this needs more attention.

[2017-10-17 23:36] #5106 closed, assigned to nobody

[2017-10-17 23:37] jainaashish commented on #3626
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-10-17 23:37] #3626 closed, assigned to nobody

[2017-10-17 23:37] emgarten commented on #4830
I believe this was fixed on the project system side in the latest vs.

[2017-10-17 23:37] #4830 closed, assigned to alpaix

[2017-10-17 23:38] rrelyea commented on #5738
Dupe of https://github.com/NuGet/Home/issues/2138

[2017-10-17 23:38] #5738 closed, assigned to nobody

[2017-10-17 23:40] rrelyea commented on #2139
Closing this old bug from xproj project.json days. If this is still an important issue, please update us on the details.

[2017-10-17 23:40] #2139 closed, assigned to nobody

[2017-10-17 23:40] zhili1208 commented on #4228
Thanks for reporting the issue. At this point we do not plan on releasing an update for VS2015. Please try latest [VS2017](https://www.visualstudio.com/#) and let us know if you need more help from us.

[2017-10-17 23:40] #4228 closed, assigned to nobody

[2017-10-17 23:40] nkolev92 commented on #5324
Duplicate of https://github.com/NuGet/Home/issues/3324

[2017-10-17 23:41] mishra14 commented on #5099
@rohit21agrawal  please investigate.

[2017-10-17 23:41] rrelyea commented on #2143
CLosing due to lack of response.

[2017-10-17 23:41] #2143 closed, assigned to nobody

[2017-10-17 23:41] #5098 closed, assigned to nobody

[2017-10-17 23:41] nkolev92 commented on #5835
Duplicate of https://github.com/NuGet/Home/issues/3324

[2017-10-17 23:41] #5835 closed, assigned to nobody

[2017-10-17 23:41] emgarten commented on #4824
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-10-17 23:41] #4824 closed, assigned to nobody

[2017-10-17 23:42] nkolev92 commented on #6011
That was closed in favor of https://github.com/NuGet/Home/issues/3324

[2017-10-17 23:42] nkolev92 commented on #1685
Duplicate of https://github.com/NuGet/Home/issues/3324

[2017-10-17 23:42] #1685 closed, assigned to nobody

[2017-10-17 23:43] nkolev92 commented on #3981
Duplicate of https://github.com/NuGet/Home/issues/3324

[2017-10-17 23:43] #3981 closed, assigned to nobody

[2017-10-17 23:44] mishra14 commented on #5115
@v-atian The apex test project is a cps based project and in that , we do not need to add a cs file into the compile -> itemgroup. The cs files are picked up by default on build.

[2017-10-17 23:44] #5115 closed, assigned to nobody

[2017-10-17 23:44] nkolev92 commented on #1727
Duplicate of https://github.com/NuGet/Home/issues/3324

[2017-10-17 23:44] #1727 closed, assigned to nobody

[2017-10-17 23:45] zhili1208 commented on #4229
No actionable here, close it

[2017-10-17 23:45] #4229 closed, assigned to nobody

[2017-10-17 23:45] #4230 closed, assigned to nobody

[2017-10-17 23:46] emgarten commented on #4825
This API exists now as `IVsSolutionRestoreService2.NominateProjectAsync`

[2017-10-17 23:46] #4825 closed, assigned to nobody

[2017-10-17 23:46] jainaashish commented on #3628
@Foroughi Apology for not following up until now, but are you still facing this issue with latest dotnet? If yes please share us the updated logs and if possible repro sln.

[2017-10-17 23:48] mishra14 commented on #5089
@debonte is this still an important scenario?

[2017-10-17 23:49] zhili1208 commented on #4244
Thanks for reporting the issue. At this point we do not plan on releasing an update for VS2015. Please try latest [VS2017](https://www.visualstudio.com/#) and let us know if you need more help from us.

[2017-10-17 23:49] #4244 closed, assigned to nobody

[2017-10-17 23:49] #3628 closed, assigned to nobody

[2017-10-17 23:49] PatoBeltran commented on #3254
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-10-17 23:49] #3254 closed, assigned to nobody

[2017-10-17 23:52] zhili1208 commented on #4251
No response, close it

[2017-10-17 23:52] #4251 closed, assigned to nobody

[2017-10-17 23:53] jainaashish commented on #3630
@kzu did you find a workaround? still relevant?

[2017-10-17 23:54] nkolev92 commented on #5834
Thanks for this issue.

At this point we have decided not to fix this issue, as we are trying to fix other higher impact bugs and deliver new features.
If there are more community feedback on this, then we'll re-evaluate this.

[2017-10-17 23:54] #5834 closed, assigned to nobody

[2017-10-17 23:55] jainaashish commented on #3634
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-10-17 23:55] #3634 closed, assigned to nobody

[2017-10-17 23:55] emgarten commented on #4819
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-10-17 23:55] #4819 closed, assigned to nobody

[2017-10-17 23:55] PatoBeltran commented on #3300
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-10-17 23:55] #3300 closed, assigned to nobody

[2017-10-17 23:56] emgarten commented on #4818
Fixed with https://github.com/NuGet/NuGet.Client/pull/1263

[2017-10-17 23:56] #4818 closed, assigned to nobody

[2017-10-17 23:58] debonte commented on #5089
We worked around this by catching all exceptions thrown from TryCreateContext, so I'm not concerned about it. I mainly filed this because it could surprise other possible consumers of the API and I thought it would be a quick fix

[2017-10-17 23:58] jainaashish commented on #3636
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-10-17 23:58] #3636 closed, assigned to nobody

[2017-10-17 23:59] zhili1208 commented on #4262
Project.json is deprecated, please move to package reference

[2017-10-17 23:59] #4262 closed, assigned to nobody

[2017-10-17 23:59] PatoBeltran commented on #3313
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-10-17 23:59] #3313 closed, assigned to nobody

[2017-10-18 00:01] rrelyea commented on #2146
Sorry, missed your queries. Please reach out to me on email at rrelyea@microsoft.com.

[2017-10-18 00:01] zhili1208 commented on #4264
nuget doesn't own Xamarin studio experience, please file a bug against Xamarin team

[2017-10-18 00:01] #4264 closed, assigned to nobody

[2017-10-18 00:01] emgarten commented on #4817
Closing based on the comments here.

[2017-10-18 00:01] #4817 closed, assigned to rohit21agrawal

[2017-10-18 00:01] PatoBeltran commented on #3364
@karann-msft can this issue be closed?

[2017-10-18 00:02] jainaashish commented on #3639
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps to reproduce.

[2017-10-18 00:02] #3639 closed, assigned to nobody

[2017-10-18 00:02] nkolev92 commented on #5827
I was not able to find any duplicate issues for this.

Related to https://github.com/NuGet/Home/wiki/Package-Sources-Diagnostics

[2017-10-18 00:03] rrelyea commented on #2149
Closing this old issue, until we see significant customer impact.

[2017-10-18 00:03] #2149 closed, assigned to nobody

[2017-10-18 00:03] mishra14 commented on #5117
@chris1248 Can you please try with the latest commit on dev branch and let us know if you are still facing this problem.

[2017-10-18 00:03] #5117 closed, assigned to nobody

[2017-10-18 00:03] PatoBeltran commented on #3350
Thanks for reporting this issue. If this is still and issue with the latest NuGet version, please provide additional steps.

[2017-10-18 00:03] #3350 closed, assigned to nobody

[2017-10-18 00:04] zhili1208 commented on #4278
Thanks for reporting the issue. At this point we do not plan on releasing an update for VS2015. Please try latest [VS2017](https://www.visualstudio.com/#) and let us know if you need more help from us.

[2017-10-18 00:04] #4278 closed, assigned to nobody

[2017-10-18 00:04] #5118 closed, assigned to nobody

[2017-10-18 00:05] rrelyea commented on #2156
In VS 2017 version 15.3 and NuGet 4.3 we added support for Warnings as Errors.
Please see https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings

[2017-10-18 00:05] #2156 closed, assigned to joelverhagen

[2017-10-18 00:06] emgarten commented on #4816
This sounds like a general MSBuild problem. NuGet does not perform the actual copy of files.

[2017-10-18 00:06] #4816 closed, assigned to nobody

[2017-10-18 00:06] rrelyea commented on #2157
related to your other "*" work?

[2017-10-18 00:06] #3422 closed, assigned to alpaix

[2017-10-18 00:07] jainaashish commented on #3647
@kzu seems like you already have a workaround for this, besides this isn't the streamline scenario for NuGet. So I'm going to close it as wont fix for now. If you feel otherwise, let us know and we can re-evaluate.

[2017-10-18 00:07] #3647 closed, assigned to nobody

[2017-10-18 00:10] nkolev92 commented on #5822
Thanks for creating this issue.

This is a duplicate of https://github.com/NuGet/Home/issues/5725

Please subscribe and follow that thread.

[2017-10-18 00:10] #5822 closed, assigned to nobody

[2017-10-18 00:10] rrelyea commented on #2175
Closing this old issue. If this still repros with VS2017 version 15.4 or later, please let us know.

[2017-10-18 00:10] #2175 closed, assigned to nobody

[2017-10-18 00:11] mqudsi commented on #5822
@nkolev92 I think there's some mistake, you closed this issue as a duplicate of this same issue?

[2017-10-18 00:11] jainaashish commented on #3648
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-10-18 00:11] #3648 closed, assigned to nobody

[2017-10-18 00:12] zhili1208 commented on #4285
this is by design, user need to add source through Setting UI, otherwise need to reopen solution to make UI update

[2017-10-18 00:12] #4285 closed, assigned to nobody

[2017-10-18 00:13] jainaashish commented on #3649
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-10-18 00:13] #3649 closed, assigned to nobody

[2017-10-18 00:14] PatoBeltran commented on #3488
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-10-18 00:14] #3488 closed, assigned to nobody

[2017-10-18 00:16] nkolev92 commented on #5808
Related to https://github.com/NuGet/Home/issues/3324

[2017-10-18 00:16] PatoBeltran commented on #3487
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-10-18 00:16] #3487 closed, assigned to nobody

[2017-10-18 00:18] mishra14 opened #6051 "Localize string resources in nuget.exe"
we are currently adding new commands to nuget.exe. Currently these strings are not being localized. we should fix this before shipping.

**Epic tasks**

- https://github.com/NuGet/Client.Engineering/issues/1757
- https://github.com/NuGet/Client.Engineering/issues/1804
- https://github.com/NuGet/Client.Engineering/issues/1771
- https://github.com/NuGet/Home/issues/12066
- https://github.com/NuGet/H

[2017-10-18 00:19] jainaashish commented on #3651
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-10-18 00:19] #3651 closed, assigned to nobody

[2017-10-18 00:21] mishra14 commented on #5116
This has been fixed -

[code]

[2017-10-18 00:21] #5116 closed, assigned to nobody

[2017-10-18 00:23] rrelyea commented on #2195
Thanks for the interest.

This is not high on our backlog. Closing for now. Believe that other parts of the ecosystem would be better to consider.
Note, Nuget Pack and Nuget.org ingestion have a long way to go to start doing better package validation.
Once we start doing a respectable job there for simple package characteristics (we do not yet!!!), this kind of request might be considered.

[2017-10-18 00:23] #2195 closed, assigned to nobody

[2017-10-18 00:24] emgarten commented on #4810
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-10-18 00:24] #4810 closed, assigned to nobody

[2017-10-18 00:25] #4805 closed, assigned to nobody

[2017-10-18 00:27] jainaashish commented on #3653
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-10-18 00:27] #3653 closed, assigned to nobody

[2017-10-18 00:28] emgarten commented on #4800
Closing based on lack of customer feedback on this.

Please comment here to support fixing this so that this work can be prioritized.

[2017-10-18 00:28] #4800 closed, assigned to nobody

[2017-10-18 00:28] mishra14 commented on #5130
Thanks for reporting the issue. At this point we do not plan on releasing an update for VS2015. Please try latest [VS2017](https://www.visualstudio.com/#) and let us know if you need more help from us.

[2017-10-18 00:28] #5130 closed, assigned to nobody

[2017-10-18 00:29] jainaashish commented on #3655
@kzu still relevant? what's the expectation from NuGet here?

[2017-10-18 00:29] #3655 closed, assigned to nobody

[2017-10-18 00:33] emgarten commented on #4799
Thank you for the suggestion, we are not planning to add this feature to dotnet.exe at this time.

Users can currently workaround this by moving symbol packages out of the folder before pushing, and then pushing the symbols packages to the symbol server as needed. The NuGet protocol currently does not differentiate between symbol and non-symbol servers, they are both feeds and some feeds support b

[2017-10-18 00:33] #4799 closed, assigned to zhili1208

[2017-10-18 00:34] jainaashish commented on #3656
We don't want anyone to use install.ps1 scripts anymore so it's fine we dont have much docs around it.

[2017-10-18 00:34] #3656 closed, assigned to nobody

[2017-10-18 00:40] SurajGupta commented on #6044
These bugs were opened over a year ago and I think the issue has existed for longer than that based on some bugs I've seen in the old repo.  This seems like a pretty serious deficiency - there are categories of scenarios that just don't work without being able to retrieve all versions of a package.  I think the severity is pretty obvious - I mean there are only a handful of core features that anyo

[2017-10-18 00:42] joelverhagen commented on #6044
Escalation seems quite reasonable to me. Let's try again 😄!

@skofman1, @rrelyea - could we escalate this one? I believe this is a server-side only fix.

[2017-10-18 00:51] emgarten commented on #4796
Many packages purposely provide content to the project being packed in this way. There isn't a good way for NuGet to determine what should and what shouldn't get included.

@rohit21agrawal can you provide some help on how to turn this content off?

[2017-10-18 00:51] #4796 closed, assigned to nobody

[2017-10-18 00:54] abatishchev commented on #4819
I was able to easily reproduce this in VS 2017 15.3.5

[2017-10-18 00:56] jainaashish commented on #3659
@KFR42 @chrisnelson hey guys, is it still an issue with latest NuGet?

[2017-10-18 00:57] #5135 closed, assigned to nobody

[2017-10-18 01:05] mishra14 commented on #5151
Closing after offline discussion with @jainaashish

[2017-10-18 01:05] #5151 closed, assigned to nobody

[2017-10-18 01:08] jainaashish commented on #3667
This is a legit error since the package is not supported on the corresponding project's target framework. You can try to create a new .netstandard based pcl project in VS 2017 which targets .netstandard2.0 which is compatible with .net46 full framework which might work for you.

[2017-10-18 01:08] #3667 closed, assigned to nobody

[2017-10-18 01:09] mishra14 commented on #5147
@StingyJack The error I am seeing has more context -

`The required attribute 'id' is missing. This validation error occurred in a 'dependency' element.`

The dependency node does not have an `id`. Please let us know if you need more help.

[2017-10-18 01:09] #5147 closed, assigned to nobody

[2017-10-18 01:11] mishra14 commented on #5136
This should be improved by https://github.com/NuGet/NuGet.Client/commit/ea1d1395d0c3dd7b5e22b873cfd71bb8cfb9062a.

Closing as dupe of https://github.com/NuGet/Home/issues/4671

[2017-10-18 01:11] #5136 closed, assigned to nobody

[2017-10-18 01:14] #5139 closed, assigned to nobody

[2017-10-18 01:20] mishra14 commented on #5152
@rohit21agrawal should this be duped with #5048 ?

[2017-10-18 01:22] mishra14 commented on #5155
@vskab you can do this by generating the package and the closure in a separate directory using the `OutputDirectory` option in pack. The you can run `nuget push *.nupkg` in that directory.

[2017-10-18 01:22] #5155 closed, assigned to nobody

[2017-10-18 01:30] mishra14 commented on #5166
using NuGet Version: 4.4.0.4475, I can see that the error message has improved -
[code]

[2017-10-18 01:30] mishra14 commented on #5166
The UX can be improved further.

[2017-10-18 01:47] mishra14 commented on #5177
@timothy3001 I was able to add a reference to `System.Net.Http` by running `dotnet add package system.net.http`. Please let us know if you are still facing this issue.

[2017-10-18 01:47] #5177 closed, assigned to nobody

[2017-10-18 01:49] mishra14 commented on #5178
assigning to @PatoBeltran  who now owns accessibility tenet.

[2017-10-18 01:54] mishra14 commented on #5207
Related issue https://github.com/NuGet/Home/issues/5178

[2017-10-18 01:55] mishra14 commented on #5178
related: https://github.com/NuGet/Home/issues/5207

[2017-10-18 01:57] emgarten commented on #5166
Duplicate of https://github.com/NuGet/Home/issues/3601

[2017-10-18 01:57] #5166 closed, assigned to nobody

[2017-10-18 02:00] mishra14 commented on #487
dupe of https://github.com/NuGet/Home/issues/5218

[2017-10-18 02:00] #487 closed

[2017-10-18 02:12] emgarten commented on #4793
Support for VSProject4 is tracked internally

[2017-10-18 02:12] #4793 closed, assigned to nobody

[2017-10-18 02:16] emgarten commented on #4796
Duplicate of https://github.com/NuGet/Home/issues/3927

[2017-10-18 02:19] emgarten commented on #4469
Adding a `PackageReference` is the correct approach. Tools are independent of the project, they do not contribute assets to the project's build.

Likewise when a tool is executed it runs independent of the project's target framework and build.

[2017-10-18 02:19] #4469 closed, assigned to zhili1208

[2017-10-18 02:24] emgarten commented on #3927
Closing based on the PR feedback.

[2017-10-18 02:24] #3927 closed, assigned to rohit21agrawal

[2017-10-18 02:26] #3445 closed, assigned to zhili1208

[2017-10-18 02:28] emgarten commented on #5250
Duplicate of https://github.com/NuGet/Home/issues/4790

[2017-10-18 02:28] #5250 closed, assigned to nobody

[2017-10-18 02:30] emgarten commented on #4790
Using this issue to track all pack version/git versioning issues.

The current plan for this is to re-evaluate the project version at pack time. This will allow packages to modify the version used, and the version will not longer need to be set at restore time.

[2017-10-18 02:37] emgarten commented on #4937
Duplicate of https://github.com/NuGet/Home/issues/5553

[2017-10-18 02:40] emgarten commented on #4789
Duplicate of https://github.com/NuGet/Home/issues/5553
Duplicate of https://github.com/NuGet/Home/issues/1192

[2017-10-18 02:40] #4789 closed, assigned to nobody

[2017-10-18 02:44] emgarten commented on #4786
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-10-18 02:44] #4786 closed, assigned to nobody

[2017-10-18 02:44] emgarten commented on #4784
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-10-18 02:44] #4784 closed, assigned to nobody

[2017-10-18 02:45] #4782 closed, assigned to nobody

[2017-10-18 02:47] emgarten commented on #4779
Duplicate of https://github.com/NuGet/Home/issues/4790

[2017-10-18 02:47] #4779 closed, assigned to nobody

[2017-10-18 02:49] emgarten commented on #4778
@nkolev92 this impacts PC -> PR

[2017-10-18 02:51] emgarten commented on #4775
Use `packages.{projectname}.config`, two projects cannot share the exact same file.

[2017-10-18 02:51] #4775 closed, assigned to nobody

[2017-10-18 02:53] emgarten commented on #4766
Moving to @anangaur/@karann-msft  for the new text to use in this dialog.

[2017-10-18 02:57] emgarten commented on #4764
This should be fixed in the latest version of NuGet/VS. Please let me know if you are still hitting issues.

The details could not be loaded is a generic message for when project metadata has not been sent yet by the nomination process.

[2017-10-18 02:57] #4764 closed, assigned to nobody

[2017-10-18 03:05] emgarten commented on #4762
Duplicate of https://github.com/NuGet/Home/issues/5919

[2017-10-18 03:05] #4762 closed, assigned to nobody

[2017-10-18 03:07] emgarten commented on #4754
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-10-18 03:07] #4754 closed, assigned to nobody

[2017-10-18 03:19] emgarten commented on #4753
I'm not able to repro this in NuGet 4.4/VS 15.4 using the steps above. This is has likely been fixed.

Let me know if you are seeing this issue still.

[2017-10-18 03:19] #4753 closed, assigned to nobody

[2017-10-18 03:24] emgarten commented on #4752
This looks useful. The client should be as transparent as possible to allow others to debug issues.

[2017-10-18 03:28] emgarten commented on #4750
Thank you for the suggestion, based on the feedback received so far we do not plan to fix this issue.

[2017-10-18 03:28] #4750 closed, assigned to nobody

[2017-10-18 03:30] emgarten commented on #4748
I don't believe this is a problem currently, closing.

[2017-10-18 03:30] #4748 closed, assigned to nobody

[2017-10-18 03:32] emgarten commented on #4746
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-10-18 03:32] #4746 closed, assigned to nobody

[2017-10-18 03:35] emgarten commented on #4744
Duplicate of https://github.com/NuGet/Home/issues/3957

[2017-10-18 03:35] #4744 closed, assigned to nobody

[2017-10-18 03:40] emgarten commented on #4738
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-10-18 03:40] #4738 closed, assigned to nobody

[2017-10-18 03:42] emgarten commented on #4735
Thank you for the suggestion and scenario, there is currently no additional work planned for XDT transforms.

[2017-10-18 03:42] #4735 closed, assigned to nobody

[2017-10-18 03:44] emgarten commented on #4731
Duplicate of https://github.com/NuGet/Home/issues/2867

[2017-10-18 03:44] #4731 closed, assigned to nobody

[2017-10-18 03:44] emgarten commented on #4731
Related: https://github.com/NuGet/Home/issues/5856

[2017-10-18 03:47] emgarten commented on #4734
Closing as won't fix for packages.config, the solution to this problem is to use PackageReference.

[2017-10-18 03:47] #4734 closed, assigned to nobody

[2017-10-18 03:50] emgarten commented on #4730
Projects must have unique ids for transitive scenarios such as PackageReference. This ensures that projects and packages are treated the same, specifically that everything works the same when things are packages as they do when they are all packaged.

[2017-10-18 03:50] #4730 closed, assigned to nobody

[2017-10-18 03:54] emgarten commented on #4723
I believe this is caused by C++ using packages.config still.

Once the project system adds support for VSProject4 and PackageReference is used with UWP this will be solved.

This should all happen without changes to NuGet.

[2017-10-18 03:54] #4723 closed, assigned to nobody

[2017-10-18 03:55] emgarten commented on #4718
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-10-18 03:55] #4718 closed, assigned to nobody

[2017-10-18 03:57] emgarten commented on #4717
This has been fixed in current builds, I no longer see `#import` in project.assets.json.

[2017-10-18 03:59] emgarten commented on #4713
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-10-18 03:59] #4713 closed, assigned to nobody

[2017-10-18 04:01] emgarten commented on #4712
Fixed as part of the work for https://github.com/NuGet/Home/issues/5080

This should be in the NuGet 4.4 libraries

[2017-10-18 04:01] #4712 closed, assigned to nobody

[2017-10-18 04:03] #4709 closed, assigned to nobody

[2017-10-18 04:07] emgarten commented on #4707
There have been several optimizations that have gone in since this issue was opened that should cover this
* Logging optimizations
* Perf/Memory allocation fixes
* Noop support which should cover unload/reload

[2017-10-18 04:07] #4707 closed, assigned to nobody

[2017-10-18 04:08] emgarten commented on #4705
No response.

[2017-10-18 04:08] #4705 closed, assigned to nobody

[2017-10-18 04:09] emgarten commented on #4703
This has been improved in the latest builds.

[2017-10-18 04:09] #4703 closed, assigned to nobody

[2017-10-18 04:14] #4702 closed, assigned to nobody

[2017-10-18 05:11] hubuk commented on #4830
@emgarten Still reproducible in 15.4

[2017-10-18 05:39] emgarten commented on #4830
This issue was moved to dotnet/project-system#2901

[2017-10-18 06:28] brgrz commented on #2050
As the blog post states the references are still in ItemGroup within the csproj?

[2017-10-18 06:29] brgrz commented on #2050
Also, this requires us to switch to Nuget 4, if I understand this correctly. We are still on 2.8 due to packaging features which are missing from Nuget 3 and 4.

[2017-10-18 06:39] simonfox commented on #5552
@rrelyea @alpaix sorry to ping but wasn't sure if you will have got a notification re my comment above? Let me know if you want anymore details or if you want me to just open a new issue...

[2017-10-18 07:00] emgarten commented on #2050
@brgrz what packaging features are missing, could you elaborate?

[2017-10-18 07:02] brgrz commented on #2050
@emgarten Source code and config transformations. Do you know of an alternative method/process with NuGet 4 to achieve that same feature?

[2017-10-18 07:17] emgarten commented on #2050
Those features exist in packages.config which is also in NuGet 4.x.

Config transforms are not supported in PackageReference, but you can get similar functionality from writing custom build targets/props to modify your files as needed during build.

[2017-10-18 07:22] brgrz commented on #2050
I see but if I move my projects to NuGet 4 I don't want to use an 'obsolete' method of referencing packages.

Modifying my files during build (with build targets) is not the same as modifying the source (.pp)/config files when the package is installed in another project. I'm used to changing namespaces, wire up some stuff, etc. as a part of .pp transformation.

[2017-10-18 07:28] emgarten commented on #2050
.pp files are supported with PackageReference, there are a few scenarios where it is broken today but they will be fixed.

XDT transforms are not supported with PackageReference.

I'm not sure I follow your logic here. NuGet 2.x was obsolete years ago.

[2017-10-18 07:31] brgrz commented on #2050
Yes, I know and I want to move on but until I know most features I use with 2.8 are supported on v4 I cannot. PP transforms are crucial for me, XDT less so.

Why isn't this documented somewhere? Docs say it's not supported, so I didn't even bother to test it out.

[2017-10-18 07:32] brgrz commented on #2050
From https://docs.microsoft.com/en-us/nuget/create-packages/source-and-config-file-transformations

Note
Source and configuration file transformations are not applied when a package is installed in a project using Package References in project files.

[2017-10-18 07:39] emgarten commented on #2050
Well that is confusing, the docs are incorrect there. `.pp` files are supported and they can be put in the `contentFiles/` folder now. Example `contentFiles/cs/net46/code.cs.pp`

[2017-10-18 07:53] brgrz commented on #2050
@emgarten I understand it takes time and effort to keep the docs in sync with new features. Maybe the Nuget team can use the blog on nuget.org more often, for shorter posts regarding new features, what's coming etc. ?
I can see you already do that for bigger releases but maybe it'd be easier if there were more shorter posts discussing new functionality you just added/enabled, especially because th

[2017-10-18 07:56] pepone commented on #5066
@mishra14 how this work for C++ native projects?

[2017-10-18 07:57] henkmollema commented on #4796
@emgarten there seemed to be a way in NuGet 3.x. I wonder how such a change cannot be found in any release notes. This has major impact on our build/package pipeline and forces us to keep using NuGet 3.4.4.

[2017-10-18 08:22] aloysiustany opened #6052 "nugget servers block few geniune Public IPs"
I am from Honeywell. We are facing issues reaching https://api.nuget.org/v3/index.json. Our IT team tells that nugget servers block few Honeywell Public IPs. Please could help in whitelisting few subnets.
Please IM/email me for subnet details.
aloysius.fernandez@honeywell.com

[2017-10-18 09:01] bencyoung opened #6053 "Repository.Provider.GetCoreV2() not longer compiles with 4.4.0"
So I followed Dave Glick's examples and had a working set of client access to NuGet a few months back. I'm now revisiting it and upgraded the packages to version 4.4.0. However there isn't a newer version of NuGet.Protocol.Core.v2 and this depends on NuGet.Protocol.Core.Types which appears to have been retired now has conflicting types with some of the newer packages.

Is there any way to have

[2017-10-18 09:30] bencyoung commented on #6053
As an example of the confusion, after the upgrade even with a V3 feed I'm getting errors like:

INSTALL Packages        -       36.09 ms

Unhandled Exception: System.AggregateException: One or more errors occurred. ---> System.ArgumentOutOfRangeException: Index was out of range. Must be non-negative and less than the size of the collection.
Parameter name: index
   at System.ThrowHelper.ThrowArgum

[2017-10-18 11:35] andmos commented on #5357
We use Ansible to provision servers and need to grab some packages from our NuGet server, feeds protected with username and password. The following Ansible task should do the credentials trick:
[code]
But we run in to the same "Access is Denied" problem as described in this issue. Adding the keys in clear text is not an option, so I hope this issue goes into some backlog soon 😄

[2017-10-18 11:39] ievgennaida commented on #5996
@nkolev92
Unfortunately I don't have vs 2017 yet and I don't think that we will migrate soon.

We have Nuget\Nuget.exe added for each solution.
**Web solution:**
Version of exe file: 3.4.4.1321.
VS 2015 nuget extention 3.4.4.1321 .

**Desktop solution:**
Version of exe file (Nuget.exe): 4.3.0.4168
VS2013  nuget extention 2.12.0.817

[2017-10-18 13:22] ygeelen-tb commented on #4953
@emgarten Sure, I will do another test at home asap and keep you posted.
At the moment we configured a rule on our proxy server at work to add in the credentials in case they're misssing in the request, so I can't test it here anymore.. :-)

[2017-10-18 13:52] StingyJack commented on #5147
I dont remember that additional text as it was a few months ago now, but the message as you state is still confusing.

It should really read `A validation error occurred in a 'dependency' element, the required attribute 'id' is missing. `.

[2017-10-18 15:23] twsouthwick commented on #4285
Can this be documented? The Setting UI doesn't allow this kind of change, but it's not obvious it would require a restart since restore still works; just that UI doesn't update.

[2017-10-18 15:59] livarcocc opened #6054 "suggestion: dotnet.exe support package upgrade & version check"
_From @kjbetz on August 20, 2017 13:59_

Feature request.

Add command to upgrade packages and/or do a version check on packages used in `.csproj`

Suggest: `dotnet package upgrade` and/or `dotnet package check`

Make it interactive to be able to update `.csproj`

Idea similiar to this: https://www.npmjs.com/package/npm-check

_Copied from original issue: dotnet/cli#7483_

[2017-10-18 15:59] livarcocc commented on #6054
_From @kjbetz on October 18, 2017 12:24_

I was using yarn last night and saw that this is an included feature for them. `yarn upgrade` and `yarn upgrade-interactive`

https://yarnpkg.com/lang/en/docs/cli/upgrade/

https://yarnpkg.com/lang/en/docs/cli/upgrade-interactive/

Definitely very handy! Very much needed in my opinion for .NET Core CLI users.

[2017-10-18 15:59] livarcocc commented on #6054
_From @kjbetz on October 18, 2017 12:33_

I suggest a `dotnet package upgrade` and `dotnet package upgrade-interactive` or `dotnet package upgrade --interactive`

As well as some of the other features listed in the yarn... we used `--latest` and it was very handy as we use absolute/exact version numbers.

[2017-10-18 15:59] livarcocc commented on #6054
I believe there is an issue under nuget/home for this already. I will move this issue there and have them close this one as a dup if that's the case.

[2017-10-18 16:58] zhili1208 opened #6055 "[Doc] Need to reopen solution to update nuget UI after change NuGet.config manully or add new NuGet.config"

[2017-10-18 16:58] zhili1208 commented on #4285
Sure, I filed a bug to ask a doc change for this: https://github.com/NuGet/Home/issues/6055

[2017-10-18 17:03] giggio commented on #5553
What is the timeline to resolve this? This is very much needed. Requests for this goes back to 2015 (see #4789 and https://github.com/aspnet/dnx/issues/2657).

[2017-10-18 17:04] nkolev92 commented on #5996
We're sorry for the inconvenience this is causing you.

Unfortunately at this point we are not servicing 3.x and 2.x versions.

[2017-10-18 17:04] #5996 closed, assigned to nobody

[2017-10-18 17:13] ericstj commented on #4229
Not even going to document the breaking change?

[2017-10-18 17:15] Wil73 commented on #5553
I think they just closed it and ignored me.  And yes, MANY people have raised this as a SERIOUS flaw in the Nuget system.  It's been over five years and it still behaves the same way with no flexibility.

I have seen MANY tickets opened for this and they just close them and walk away.

[2017-10-18 17:19] nkolev92 commented on #5822
I had pasted the wrong link.
Thanks @mqudsi
The real issue is https://github.com/NuGet/Home/issues/5725

[2017-10-18 17:20] rrelyea commented on #5982
merged into dev, but issue was left open. closing. should make 4.5 given that merge date.
cc @emgarten

[2017-10-18 17:20] #5982 closed, assigned to zarenner

[2017-10-18 17:22] nkolev92 commented on #4893
Yep this is done.

[2017-10-18 17:22] #4893 closed, assigned to jainaashish

[2017-10-18 17:25] rrelyea commented on #5717
@nkolev92  - didn't happen in 4.5. Please add a priority.

[2017-10-18 17:32] rrelyea commented on #4119
Per @Emgarten, conditionals in msbuild are you best way for duality today.

[2017-10-18 17:32] #4119 closed, assigned to nobody

[2017-10-18 17:32] davidfowl commented on #5553
Closed what? The issue is still open. Like I said before, a lock file is needed before any realistic progress can be made here.

It has been raised many times but honestly when you talk through the implications, people ignore the consequences that don't affect their immediate needs. We need to think about the larger ecosystem impact when we design features like this.

As a super basic simple examp

[2017-10-18 17:34] rrelyea commented on #3659
Closing, but please let us know if it is still an issue.

[2017-10-18 17:34] #3659 closed, assigned to nobody

[2017-10-18 17:50] anangaur commented on #5553
@Wil73 We closed many related issues that were essentially the same ask in this issue. This issue is still open :)

Here is the "[Enable repeatable builds via lock file](https://github.com/NuGet/Home/wiki/Enable-repeatable-builds-for-PackageReference-based-projects)" spec.

[2017-10-18 18:02] Wil73 commented on #5553
I have yet to grasp what this has to do with adding a switch of some sort to nuget RESTORE to ensure that packages resolve by default to the HIGHEST version available?

[2017-10-18 18:06] Wil73 commented on #5553
I fail to see how on earth a lock file has any relevance at all here either.

[2017-10-18 18:10] skofman1 commented on #5711
@edouardp, regarding https://www.nuget.org/packages/Baseline, from what I see the dependency issue was in version 0.5.0.3, and doesn't appear in the latest version (1.4.0), I didn't go over all the versions in the middle. My recommendation would be to unlist all versions that have the issue, so new consumers won't be able to find them any more, and to encourage other consumers to move to the lates

[2017-10-18 18:22] anangaur commented on #5553
We already discussed this in the earlier [comments](https://github.com/NuGet/Home/issues/5553#issuecomment-314024910). We would need to handle both scenarios together.

[2017-10-18 18:23] emgarten commented on #4819
After working with @abatishchev I was able to reproduce this. However it seems like the only way to get into this situation is to manually edit the packages.config file, based on that I don't think this meets the bar.

[2017-10-18 18:51] kjbetz commented on #6054
I'm surprised this is closed... is this not a dotnet CLI request? Just as there is a `dotnet add` and `dotnet remove`

Do those call nuget under the covers?

[2017-10-18 18:53] emgarten commented on #6052
Duplicate of https://github.com/NuGet/NuGetGallery/issues/4801

@aloysiustany please do not open duplicate issues for this.

[2017-10-18 18:53] #6052 closed, assigned to nobody

[2017-10-18 18:55] livarcocc commented on #6054
@kjbetz the issue was not closed, but rather moved to a more appropriate repo. The dotnet add and dotnet remove commands, for packages, while surfaced in the CLI, are actually implemented by NuGet. We also have an ongoing conversation with NuGet about a dotnet update command. So, it makes sense to have it here.

[2017-10-18 18:57] kjbetz commented on #6054
@livarcocc Thanks Livar, I appreciate the response. I think I understand more clearly now and see that it was labeled XPLAT, which is important. Thanks!

[2017-10-18 19:01] rrelyea opened #6056 "consider how documentation.md can be specified in nuspec via URL (or embedded file??)"
NuGet.org supports a documentation markdown file to be specified by the owner of a package.
How should we support this via csproj file settings, pack, etc...

@chenriksson @anangaur

[2017-10-18 19:35] jainaashish opened #6057 "Create one mega dll for NuGet and add ngen for hot paths"

[2017-10-18 20:08] AArnott commented on #4753
Agreed. This is gone in the latest builds. Thanks.

[2017-10-18 20:09] jainaashish commented on #6053
Thank you for the feedback! We're trying to improve on our public api documentation and be consistent. There are different surface areas like in VS, we always recommend to use NuGet IVS apis to write code instead of making an hard dependency on any NuGet package for the purpose of creating a new extension. Similarly we'll have guidance and proper documentation for our public apis exposed through m

[2017-10-18 20:19] giggio commented on #5553
Just use a default that maintains the current behavior, and allow for different expressions of version ranges. Npm does this brilliantly with the `^` and `~` characters, as I pointed out on #4789.
This way people that don't want to change the current behavior just keep doing what they do, and people who do want it use the new characters.
Don't get me wrong, I love the idea of a lockfile, but these

[2017-10-18 20:23] Wil73 commented on #5553
Sorry, but that's just silly.  Every time you come up with a new version you then have to edit all the packages that use the new version to increase the darn range.

We have a * as an option right now, but that only works for direct dependencies... child dependencies still resolve to LOWEST version despite the * in the grandparent library.  Ranges will not resolve this problem; ranges will just cr

[2017-10-18 20:40] anangaur commented on #5553
@giggio Enabling option for users to choose the resolution strategy is good but aggravates the "repeatable build" scenario. Something we do not want to do. Hence we would like to solve the both together (rather 'lock file' solution followed by 'user defined resolution strategy' <- this issue)

[2017-10-18 20:49] Wil73 commented on #5553
Yes, I understand you want a build that's 100% predictable.  I do get it.  I just don't think that's as urgent as a flexible business strategy.  This problem has been in the air for years.  The workarounds are an administration nightmare.

If they can be resolved separately and quickly please explore that as an option first.

[2017-10-18 20:59] zhili1208 opened #6058 "NuGet should Avoid other VS extension call NuGet APi unless they are IvsAPIs in nuget.visualStudio"
From internal VSTS issue 484785
Issue around this:

Extension authors who depend on the NuGet APIs should never include the NuGet DLLs in their VSIX. Otherwise it might hit VS InvalidMEFCacheException because NuGet DLL version in memory doesn't match the version in MEFCache.

What we can do:
1. Provide codebase https://msdn.microsoft.com/en-us/library/microsoft.visualstudio.shell.providecodebaseat

[2017-10-18 20:59] davidfowl commented on #5553
Not 100% any percent really. If you float every dependency every time restore is run it's extremely unpredictable unless you control *all* of the feeds.

@emgarten do we support * in nuspec dependencies? I though that wasn't supported today. @Wil73 did you manually enter * in your nuspec and run nuget pack?

[2017-10-18 21:02] Wil73 commented on #5553
We use the * in our project.json files and that works fine.  BUT we have to include EVERY dependency in the entire tree to ensure we get the most recent version.  That is the most common work around people use right now.  It's ugly and a maintenance nightmare, particularly for complex dependency trees.

We do not include any version in our nuspec files.  It doesn't matter so long as the applicatio

[2017-10-18 21:08] jainaashish commented on #6050
Can you share us the full code you wrote to make sure you've added the right provider and package source? And list NuGet packages and their versions you're using to get this working.

[2017-10-18 21:08] emgarten commented on #5553
Floating versions in nuspecs are ignored.

[2017-10-18 21:13] davidfowl commented on #5553
@emgarten good 😄 .

I really honestly don't understand why people would want the latest version of every dependency without the ability to build with those resolved versions more than once. The only reason this works in packages.config worked is because it resolved dependencies once then gave you a set of fixed assemblies and dependencies that were checked into source control. Without that, I don'

[2017-10-18 21:18] mishra14 commented on #6020
This issue has been fixed in dev with commit https://github.com/NuGet/NuGet.Client/commit/358bcc31911e9d2687c91e3517585f82fa510960

[2017-10-18 21:26] Wil73 commented on #5553
Follow me on this David.. it does NOT matter.  It does not matter if you can see how this would be usable.  This is not the province of engineers to see that.  They build what business asks for, that's it.  This is a stability vs featureset throughput decision.  Businesses make these decisions, not engineers.

This is CLEARLY a business need.  I have read literally over a HUNDRED posts of people a

[2017-10-18 21:36] jainaashish commented on #6049
Created a bug for dotnet cli - https://github.com/dotnet/cli/issues/7867

[2017-10-18 21:36] #6049 closed, assigned to nobody

[2017-10-18 22:30] jainaashish commented on #6048
@dsagar3409 NuGet package manager behavior is correct in this respect. But we can't make it consistent between nuget.exe and package manager since project system isn't available while executing via nuget.exe. NuGet doesn't do much there since it only calls into project system to add these references.
So our recommendation will be to use package manager UI or package manager console in visual studi

[2017-10-18 22:30] #6048 closed, assigned to nobody

[2017-10-18 22:39] mhsimkin commented on #6050
I tried to close this earlier today.  I guess it didn't take.

I was using the 3.X packages.  When I changed to only use the 4.X packages and only use the V3 protocol, my issues were resolved.

Thanks

-marc

[2017-10-18 22:39] #6050 closed, assigned to nobody

[2017-10-18 23:51] jonasric commented on #4753
To close the loop on this one- yes it is gone. After some more investigation and experimentation, I found the issue I was experiencing was related to https://github.com/NuGet/Home/issues/2901. Namely, when some common project is referenced by multiple other projects in the dependency graph, using ProjectReference items but with different string-casing (e.g one project references 'SomeCommonProject

[2017-10-19 01:30] HoomanBahreini opened #6059 "Microsoft.Extensions.logging does not install on ASp MVC 5, .Net 4.6"
I am trying to install Microsoft.Extensions.logging Nuget on my ASP.Net MVC, .net 4.6,  project and it fails...

I have seen a quite a bit of discussion on git about this issue, but could not find any solution... or workaround. Is Microsoft.Extensions.Logging compatible with .net 4.5? Or is this a bug?

Appreciate a work around...

This is what I get what I install: Microsoft.Extensions.Dependency

[2017-10-19 01:58] emgarten commented on #6059
`Microsoft.Extensions.DependencyInjection.Abstractions` contains only `lib/netstandard2.0/`, this is compatible with net461 however you will need at least version 4.3.0 of nuget to get support for netstandard2.0.

[2017-10-19 02:11] HoomanBahreini commented on #6059
Hi, Thanks a lot... so I need to update my nuget, in order to be able to install Microsoft.Extensions.Logging?

So, Microsoft.Extensions.DependencyInjection.Abstractions is the dependant package which is causing problem....

[2017-10-19 02:14] HoomanBahreini commented on #6059
So looks like VS Studio 2015 comes with an older version of Nuget... so if I upgrade to VS 2017 which comes with Nuget 4.x, then I should be able to install it?

[2017-10-19 02:44] emgarten commented on #6059
For VS 2015 use 3.6.0 https://dist.nuget.org/visualstudio-2015-vsix/v3.6.0/NuGet.Tools.vsix

[2017-10-19 02:49] emgarten commented on #4753
@jonasric you were likely hitting https://github.com/NuGet/Home/issues/5855

[2017-10-19 02:57] HoomanBahreini commented on #6059
Thanks a lot @emgarten

[2017-10-19 03:27] bchavez commented on #5711
@skofman1 Your recommendation does not work. The affected [Baseline](https://www.nuget.org/packages/Baseline) versions have been delisted by the author in https://github.com/JasperFx/baseline/issues/14.

Specifically, the affected `Baseline` versions are:

* 0.5.0.3
* 0.5.0.4
* 0.5.0.6
* 0.5.0.7

And the problem still persists...

![cmd_714](https://user-images.githubusercontent.com/478118/3175313

[2017-10-19 03:39] #6059 closed, assigned to nobody

[2017-10-19 05:25] jainaashish commented on #6047
@emgarten @mishra14  to comment on this. But AFAIK nuget restore does generate appropriate errors for this, and logs into project.assets.json file which then Project system consumes it and output to ErrorList window. Isn't this happening?

[2017-10-19 05:29] jainaashish commented on #6046
I think we need to thoroughly design this feature and properly spec out, since who will take the responsibility to support that new Project System after it's been supported and like-wise there will be many other critical pieces.

[2017-10-19 05:37] jainaashish commented on #6045
@natemcmaster where have you added your secret feed in user-profile nuger config file? in your example, I can only see credentials being added there but not the feed itself. And then you specify this feed via RestoreSources as MSBuild property but how would NuGet relate this feed with credentials provided in NuGet.config file without the feed name?

[2017-10-19 05:44] jainaashish commented on #6044
Thanks for the feedback. But closing this issue as dupe, please follow already logged issues for this and up-vote there to increase priority. It will also help if you elaborate on your specific scenario for the need of this feature.

[2017-10-19 05:44] #6044 closed, assigned to nobody

[2017-10-19 06:46] natemcmaster commented on #6045
I didn't add the feed to the user-profile nuget config file because I don't want the feed to apply to all projects on the machine. In this example, I want the feed scoped to a specific project.

I understand why the problem is happening - NuGet doesn't have a way to figure out which credentials belong with the feed. In MSBuild, the RestoreSources property is effectively `string[]`. There is no way

[2017-10-19 07:17] AngusMcIntyre commented on #4702
Are there any plans to derive nuget package dependencies from the csproj package references?

[2017-10-19 09:51] HoomanBahreini commented on #6059
So I upgraded to visual Studio 2017... at first it failed... Then I realized that if I am using .Net Framework, It has to be .Net 4.6.1 and above... after changing my .Net Framework, finally I could install it.

[2017-10-19 11:08] JackGrinningCat commented on #2083
I came over an similar use-case.

My hope was that the rules of the referenced project for native project would be taken into account when creating the reference on it.

It seems i need to do that with a big nuspec.
But my concern I loose the easy of defining dependencies-by-use from the managed projects due to this.

[2017-10-19 13:12] abpiskunov commented on #6047
Error list is separate window. I am talking about specifically "nuget output pane feature". Why the we have output pane there if we dont implement it properly?

On Oct 18, 2017, at 10:25 PM, Ashish Jain <notifications@github.com<mailto:notifications@github.com>> wrote:

@emgarten<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Femgarten&data=02%7C01%7Canton.piskunov%40

[2017-10-19 14:57] mkstephenson commented on #912
Is there any update on this? We're in the process of migrating a bunch of projects to NuGet and this is still affecting us, over 2 years after it was first reported.

[2017-10-19 15:06] evil-shrike commented on #4901
Some more complains:
It's very unclear what is the point in marking a nuget package as cli tool if it's totally ignored on installing by nuget and dotnet-cli:
I mean that if a DotnetCliTool-package with nuspec:
[code]
installed via `dotnet add package` will get into `PackageReference` as normal nuget package. And `dotnet <tool>` will not find it.
If we have to tell dotnet explicitly that a package

[2017-10-19 15:50] giggio commented on #5553
I think you are being paternalistic. You should not decide how I build software. It is my decision, not yours.
What you are saying is "this is how I do it, and we should all do it this way". Please don't do that.
I do agree that in most projects people do not want that, as it may break things.
But in a cutting edge project maybe I want to be on the latest of everything, or latest minor, or patch.

[2017-10-19 15:51] giggio commented on #5553
Also, it would be very important to have an option to exclude prereleased versions.

[2017-10-19 15:56] Wil73 commented on #5553
I am not saying that at all.  Are you guys not reading what I write? From day 1 I have argued that Nuget should be flexible enough to support each individual business strategy.  I am most certainly not being paternalistic here.  The problem is _Nuget assumes that resolving to oldest version is best_.

This is certainly not the case.  Nor is resolving to latest version always best.  What I am and h

[2017-10-19 15:58] ericstj commented on #6038
@rrelyea this appears to be a bug in the VS.Client's restore on build.  Can you please have a look and triage appropriately?

[2017-10-19 16:13] livarcocc opened #6060 "Support for dotnet search command (equivalent to nuget.exe list, later search)"
_From @Kemyke on October 19, 2017 13:29_

## Steps to reproduce
There is no substituting functionality for 'nuget.exe list' feature. That would be great if it would be possible to use the dotnet CLI for automation on every platform. Currently the mono should be installed on Ubutnu to run nuget.exe. Is there a plan to add all the missing functionality to the dotnet CLI?

## Expected  behavior
dotne

[2017-10-19 16:57] livarcocc opened #6061 "dotnet build continues when restore fails"
_From @forki on October 19, 2017 15:43_

## Steps to reproduce

1) git clone https://github.com/forki/restorebug.git
1) cd restorebug/console
1) dotnet build

## Expected  behavior

process stops after restore error (which we set from MyTargets,targets)

## Actual behavior

![image](https://user-images.githubusercontent.com/57396/31780129-1bf6d822-b4f5-11e7-8250-7706f9c1e602.png)

the build contin

[2017-10-19 16:57] livarcocc commented on #6061
_From @forki on October 19, 2017 15:52_

This is really important for Paket since we try to let the build fail from targets file when certain conditions are not met. But instead it just continues. ¯\_(ツ)_/¯

[2017-10-19 16:57] livarcocc commented on #6061
@forki Is this just a regular restore or are you doing some form of customization? I just tried it out on a project by updating a package reference to a non-existing version and I see that the restore failure is actually stopping the build.

Also, we have this piece of code in place: https://github.com/dotnet/cli/blob/master/src/dotnet/commands/RestoringCommand.cs#L52

So, if restore fails, it sho

[2017-10-19 16:57] livarcocc commented on #6061
_From @forki on October 19, 2017 16:37_

@livarcocc did you follow the repro steps? This is calling dotnet build on a project that has targets. And the targets have an error task to explicitly stop the build

[2017-10-19 16:57] livarcocc commented on #6061
_From @forki on October 19, 2017 16:41_

But it does not. The error is only shown on command line and then build continuous

[2017-10-19 16:57] livarcocc commented on #6061
_From @forki on October 19, 2017 16:46_

So in other words: it's not the nuget task that fails, but targets along the way in "dotnet restore".

[2017-10-19 16:57] livarcocc commented on #6061
This may be a regression in 2.0.2:

[code]

Trying that locally with 2.0.2 now.

[2017-10-19 16:57] livarcocc commented on #6061
Yes, this is a regression in NuGet. So, in 2.0.2 we took in a new version of NuGet. It seems like their targets have changed and now your targets are not causing the restore operation to fail anymore.

I am going to move this issue over to NuGet/Home to have the NuGet team take a look at it.

cc @emgarten @rrelyea

[2017-10-19 16:59] matthidinger commented on #6056
I love this, and was literally just looking up the nuspec docs if such a feature existed. I was expecting something like this in my .csproj:

[code]

[2017-10-19 18:42] emgarten commented on #5658
Duplicate of https://github.com/NuGet/Home/issues/6047

The above is a more general case, so going with that one.

Let me know if these are different requests, but it seems like the root cause of both is that NuGet isn't writing errors to the output pane.

[2017-10-19 18:42] #5658 closed, assigned to nobody

[2017-10-19 18:59] forki commented on #6061
According to @livarcocc on twitter: this stops the build as expected if we use dotnet 2.0.0.

[2017-10-19 19:02] kzu commented on #3655
I think this might be on @davkean's or @AArnott since it's CPS?

[2017-10-19 19:17] kzu commented on #3647
The workaround is the ugliest ever: https://github.com/NuGet/NuGet.Build.Packaging/blob/dev/src/Build/NuGet.Build.Packaging.Tasks/NuGet.Build.Packaging.Authoring.props#L16

Here's another scenario where it would have been super useful: https://github.com/kzu/corebuild (applied the exact same rabbit at https://github.com/kzu/corebuild/blob/master/src/build/corebuild.props#L10-L11).

:(

[2017-10-19 19:26] kzu commented on #3630
Well, in the latest VS2017, a class library reports `TargetFrameworkMoniker = .NETStandard,Version=v2.0` (or `TargetFrameworkMoniker = .NETStandard,Version=v1.6`), so I  think this is no longer relevant

[2017-10-19 19:26] #3630 closed, assigned to nobody

[2017-10-19 19:34] kzu commented on #4064
More examples where this is generally useful but package authors have to manually provide this:

* https://github.com/gluck/il-repack/pull/192
* https://github.com/dotnet/symreader-converter/issues/88

I'd like at least the InstallPath to be present so that via MSBuild you can reach artifacts inside installed packages without resorting to hacks or PRs to package authors ;)

[2017-10-19 20:09] kzu commented on #3910
Yep, we have since removed it from the default template.

[2017-10-19 20:09] #3910 closed, assigned to nobody

[2017-10-19 22:31] jainaashish commented on #6061
@emgarten can you take a look at this on priority if this is indeed a regression, then we might want to consider this for 15.5.

[2017-10-19 22:52] anangaur commented on #2867
Seems like a good feature to have as NuGet.org grows and packages become obsolete. I am trying to summarize the scenarios for deprecation here. Please add to the list (and I will add to this list so that it would be easier to design a feature that solves the most of the issues):
1. I released a pre-release version of the package but I would like developers to move to stable version that I released

[2017-10-19 23:34] emgarten opened #6062 "Restore should cache file lists and sha512 contents across restores"
Restore should cache file lists and sha512 contents across all projects being restored. This will reduce the amount of disk IO happening during restore.

A large amount of the work done during a noop is reading the sha512 file for each package, currently this is not shared across projects.

[2017-10-20 00:55] #5995 closed, assigned to emgarten

[2017-10-20 00:55] #6062 closed, assigned to emgarten

[2017-10-20 05:23] emgarten commented on #6061
Removing `CollectPackageReferences` from MyTargets.targets brings back the 2.0.0 behavior.

In 2.0.2 NuGet started calling `CollectPackageReferences` from command line restores, and that moves up the time this target is called to an earlier stage where the restore is walking the project to project graph. During this stage ContinueOnError is used to ignore projects which are valid, but do not impor

[2017-10-20 07:32] MangelMaxime opened #6063 "dotnet commands interpret string content"
Hello, I am having problem swith the pack command which seems to interpret the content of a string argument.

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): dotnet.exe

NuGet version (x.x.x.xxx): NuGet Command Line 4.3.0.5

dotnet.exe --version (if appropriate): 2.0.0

OS version (i.e. win10 v1607 (14393.321)): Window 10 pro

[code]

## Det

[2017-10-20 09:29] JackGrinningCat commented on #2964
Jeah, I got a similar errors. right now. Sometimes i would like to see the dependency tree, and where it is broken.

And git-merge is a problem!
In my workflow i had to decide on such things often, and then it is not very clear which is right, which is wrong for nuget. In such cases i use often `Update-Package –reinstall` from the console to avoid such hassle.

[2017-10-20 10:50] PeteX commented on #2867
@anangaur By far the most important thing for me is '**This package has a vulnerability, so users need to upgrade to maintain their systems' security.**'

The big prize here, IMO, is being able to construct an automated system that tells you about important package upgrades you should be doing.  If you're not bothered about automating things, you don't need to build anything extra.  You can just r

[2017-10-20 14:27] AArnott commented on #3655
This doesn't sound like a CPS issue. We prevailed upon NuGet to light up based on project capabilities for CPS based projects. I outlined 3 capabilities that would light up NuGet in the past (I can't find the issue, but [these are related](https://github.com/NuGet/Home/issues?utf8=%E2%9C%93&q=is%3Aissue%20%20DeclaredSourceItems)), and at the time I suggested that a subset of these capabilities sho

[2017-10-20 14:33] ghost commented on #4615
@rrelyea is there a workitem for the partner team to support this like VS for Mac does?

[2017-10-20 16:35] Kittyfisto opened #6064 "nuget.exe update doesn't update only when -id is specified"
## Details about Problem

NuGet product used: NuGet.exe

NuGet version: 4.3.0.4406

OS version: win7 SP1

## Detailed repro steps so we can see the same problem

1. Have an artifactory instance registered as nuget package source

2. Push any package to artifactory (nuget push ...)

3. Create C# project (and solution) which references the previously package (Step 2.)

4. Push a newer package versio

[2017-10-20 17:03] zhili1208 commented on #5928
fixed in https://github.com/NuGet/NuGet.Client/commit/7fc2573b76fceb8a007a25012027c5b829c0801a

[2017-10-20 17:03] #5928 closed, assigned to zhili1208

[2017-10-20 18:42] anangaur commented on #4204
Thanks @zhili1208 This will not show up in 15.5 release notes.

[2017-10-20 18:55] kzu commented on #1850
would love to see this gain a bit more traction...

[2017-10-20 19:27] mishra14 commented on #6020
Keeping this open to track insertion into VS.

[2017-10-20 19:56] nkolev92 opened #6065 "Analyze and improve inner loop perf"
Analyze the impact nuget restore has on the inner loop performance.
- [x] [PR to Improved Package Spec Cloning #1796](https://github.com/NuGet/NuGet.Client/pull/1796)

[2017-10-20 19:57] nkolev92 opened #6066 "NetCore - support Build from source for RedHat, etc..."
Understand the patches that redhat needs to do for NuGet, what the issue is and how to make them go away.

[2017-10-20 20:01] jainaashish opened #6067 "Perf lab"
- [x] 1. signing measurements and scenarios.
- [x] 2. understand and start running Perf lab XAML infrastructure
- [x] 3. Create NuGet perf tests based on XAML infrastucture and run locally
- [ ] 4. Integrate NuGet perf tests to be run in Maddog
- [x] 5. Innerloop perf

[2017-10-20 20:01] emgarten opened #6068 "NuGet.Packaging sign and verify APIs"
Implement sign and verify APIs in NuGet.Packaging that use actual certificates and manifest files.

[2017-10-20 20:02] #5966 closed, assigned to zhili1208

[2017-10-20 20:02] PatoBeltran opened #6069 "PackageSigning - nuget.exe Verify Signatures work"
Do all the verify checks that the spec mentions and be able to fail with the specific reason it needs to.

[2017-10-20 20:02] #5962 closed, assigned to zhili1208

[2017-10-20 20:03] jainaashish opened #6070 "Long term support strategy for NuGet to support packages without providing a bad package upgrade experience for users."
Long term support strategy for NuGet to support packages without breaking

[2017-10-20 20:03] mishra14 opened #6071 "Add support for signature timestamping"

[2017-10-20 20:04] zhili1208 opened #6072 "PackageSigning - Refactor package extraction code to simplify adding package signing verification"
\

[2017-10-20 20:04] PatoBeltran opened #6073 "Use real verify API with nuget.exe verify -Signatures"
Use the work from the real API in nuget.exe current implementation instead of using fake verification.

[2017-10-20 20:05] zhili1208 opened #6074 "PackageSigning - Change TFM for NuGet client code to 4.6 to enable Crypto apis that we need"

[2017-10-20 20:05] mishra14 commented on #5907
Closing this issue as the spec is done.

[2017-10-20 20:05] #5907 closed, assigned to mishra14

[2017-10-20 20:05] zhili1208 opened #6075 "Package Signing Telemetry"

[2017-10-20 20:06] zhili1208 opened #6076 "Test NuGet Signing and Signature Verification API"

[2017-10-20 20:06] mishra14 commented on #5904
Current implementation for fake/mock signing is into the feature branch. Will get back to this after the signing APIs are ready. Updating estimate to reflect the new milestone.

[2017-10-20 20:07] zhili1208 opened #6077 "PackageSigning - verify revocation list"

[2017-10-20 22:41] kraigb opened #6078 "Clarify on nuget.org/downloads that VS 2017 doesn't include nuget.exe"
nuget.org/downloads has the following text:

However, this is not entirely accurate, as VS does not include nuget.exe specifically, which is implied by the text and its placement on the page. At least one customer was confused by this (submitted a PR to edit the installer docs on docs.microsoft.com).

I recommend the following edits:

[2017-10-20 22:59] nkolev92 commented on #2365
Closed the issue in the PR, so adding a bit more context here.

Due to performance considerations, we have decided to move the responsibility for correct authoring to the package author.

We have analyzed the number of packages, impact and we think this is a suitable course of actions.

More details and an example here:

https://github.com/NuGet/Samples/tree/master/NuGet.Samples.Interop

[2017-10-21 00:23] ridomin opened #6079 "NuGet restore failures in packaging projects (wapproj)"
VS2017 Update 4 includes a new project type to create APPX packages for Windows Desktop projects.

Calling `msbuild /t:restore` at solution level generates the error:

[code]

Reproduced in https://github.com/NuGetPackageExplorer/NuGetPackageExplorer/pull/228

[2017-10-21 00:27] ridomin opened #6080 "Cannot disable NuGet behavior in existing project"
As a workaround for #6079 we tried to disable NuGet targets in the wapproj using

[code]

However, these properties have no effect on the `msbuild /t:restore` and the build still fails

[2017-10-21 02:18] clairernovotny commented on #6079
The current master repro's this:
https://github.com/NuGetPackageExplorer/NuGetPackageExplorer/tree/cc3f0d8da723a87d50c0d049ed84188636680b5c

[2017-10-21 03:37] jainaashish commented on #6064
@Kittyfisto Please provide more details:
- Can you also repro this issue with latest nuget.exe version 4.4.0?
- Did it worked any of the previous release?
- Can you also repro this issue for any other source like default NuGet.org?

[2017-10-21 03:45] jainaashish commented on #6053
Please comment, if you've any further question.

[2017-10-21 03:45] #6053 closed, assigned to nobody

[2017-10-21 04:09] jainaashish commented on #6043
If you just want to build A and ignore B from there. Then you can set `PrivateAssets` to all which will skip generating package B.

`<ProjectReference Include="../B/B.csproj">
      <PrivateAssets>all</PrivateAssets>
    </ProjectReference>`

[2017-10-21 04:16] jainaashish commented on #6040
@tjsimmons Can you provide more details on your issue? What do you mean by "Dlls being placed in root of solution"? And provide complete repro steps as well.

[2017-10-21 04:49] jainaashish commented on #6038
@ericstj how is this even working with msbuild or dotnet? wouldn't it always create a single `project.assets.json` file?

[2017-10-21 05:18] jainaashish commented on #6037
even `project.assets.json` also has 1.0.0 version for both packageA and packageB and if i'm not wrong `pack` is picking these versions for dependencies. I think `SetVersion` is not being called with target.

@emgarten do you have any comment here?

[2017-10-21 05:33] jainaashish commented on #6036
This isn't the right way to create package which include architecture based assemblies, which is why you're facing trouble consuming it. You can contact the package author and let him know that they need to update their package in order to get this consumed correctly. There is a [NuGet doc](https://docs.microsoft.com/en-us/nuget/create-packages/supporting-multiple-target-frameworks) which explain

[2017-10-21 05:50] jainaashish commented on #6035
I don't know what NuGet can do here... install scripts is being executed with each install/update action, so there might be something going wrong with Project System.

[2017-10-21 05:55] jainaashish commented on #6034
Duplicate of https://github.com/NuGet/Home/issues/3324

[2017-10-21 05:55] #6034 closed, assigned to nobody

[2017-10-21 06:10] jainaashish commented on #6033
@patrickjamesbarry Can you also try this issue with latest NuGet.exe 4.4.0 https://dist.nuget.org/win-x86-commandline/v4.4.0/nuget.exe ?

[2017-10-21 06:57] JohanLarsson commented on #6035
What is wrong with the scripts?

[2017-10-21 11:08] thomaslevesque commented on #6043
Thanks, but it's not really what I want... Doing that wouldn't include assembly B in package A.

[2017-10-21 11:25] dasMulli commented on #6043
@thomaslevesque you may want to use a custom msbuild target to do that as I described in https://github.com/NuGet/Home/issues/3891#issuecomment-330668337

[2017-10-21 14:04] kabua commented on #3536
Thanks for the feedback, I didn't realize what 'Transitive Package Restore' did until I read it again tonight. I'm currently installing 15.4.1 to try it out!

[2017-10-21 15:34] whitneyland commented on #3324
What’s keeping this from being fixed?  Do you need technical assistance, a pull request, any other kind of help?

The link above makes it seem trivial to enable support in the most recent versions of .NET.

I’m trying to support the MS ecosystem and have to sit by and watch yarn and npm move along, I haven’t heard of this issue with those tools.

[2017-10-21 15:44] shalupov commented on #3324
@rrelyea Any updates? I mean looks like some people here will kindly implement this for you and this issue still has no traction

[2017-10-21 18:51] Structed commented on #3324
Well, at least it got the Priority-1 tag just days ago. But we all wonder how this can stay unfixed for so long.

[2017-10-21 20:23] MosheL commented on #4121
Executing nuget actions took 12.86 sec
Time Elapsed: 00:00:17.5303116
========== Finished ==========

VS 2015.3, nuge  4.3.1.4445
Thanks !

[2017-10-21 20:51] ygeelen-tb commented on #4953
@emgarten The first time I tried to access a feed I had to enter the credentials at the command line. All next attempts I didn't have to enter them ("using credentials from config" is printed at command line). But even when commenting out the config, it kept working.
Also I noticed the same authorization header is sent for all feeds, even though they have different credentials!
I doubt they are re

[2017-10-22 01:29] emgarten commented on #4953
Visual Studio 15.4 contains NuGet 4.4.0

Just to clarify, nuget.exe has never shipped as part of VS.

[2017-10-22 11:17] thomaslevesque commented on #6043
@dasMulli interesting. I'll consider it, thanks!

But the thing is, I really think the current `dotnet pack` behavior is a bug. Generating a package reference to a project that can't be packaged is clearly wrong. `PrivateAssets="all"` doesn't solve the problem, because it implies that it's a development dependency, not needed at runtime, which might not be the case.

IMO, for a project A with a re

[2017-10-22 12:30] EduardoPires commented on #5822
There are some road map to fix this problem?
Some workaround?

[2017-10-22 16:10] AArnott commented on #2365
I wonder what the perf considerations were. Can you share?

Thanks for the sample.

[2017-10-22 16:12] AArnott commented on #2365
From the sample:

This is the part that hurts the worst. It's not entirely in the package author's hands then -- middle-tier consumers have to be aware and do something special. That's unfortunate.

[2017-10-22 21:03] jainaashish commented on #6043
@dasMulli thanks for referencing this to #3891 Marking this dupe of that.
@thomaslevesque please up-vote on the original issue. It's a P0 for us and we would like to take it as soon as we can for earliest release.

[2017-10-22 21:03] #6043 closed, assigned to nobody

[2017-10-22 23:34] nkolev92 commented on #5822
@EduardoPires
This is a new feature that's on our backlog.

There are no workarounds for it currently.

[2017-10-23 01:44] cesaralc commented on #4581
Is there a fix or a workaround for this?

[2017-10-23 01:46] bradwilson opened #6081 "NuGet UI in Visual Studio should not offer to consolidate Microsoft.NETCore.App"
## Details about Problem

NuGet product used: Visual Studio UI

NuGet version (x.x.x.xxx): 4.4.0

VS version (if appropriate): 2017 15.4.1

OS version (i.e. win10 v1607 (14393.321)): Win10 v1709 (16299.19)

Worked before? If so, with which NuGet version: Unknown

## Detailed repro steps so we can see the same problem

1. Create a solution with projects using various levels of .NET Core. The screen

[2017-10-23 02:27] emgarten commented on #4581
@cesaralc

[code]

[2017-10-23 04:07] FeodorFitsner opened #6082 "Certificate error on https://nuget.smbsrc.net"
Getting an error while pushing symbols package with NuGet 4.1 command-line client on Windows:

[code]

Opening https://nuget.smbsrc.net in the browser confirms the problem with certificate.

[2017-10-23 12:44] Kittyfisto commented on #6064
@jainaashish

I've downloaded nuget 4.4.0 from https://www.nuget.org/downloads and it also refuses to update the dependencies when I specify the "Id" command-line parameter.
I've never gotten it to work, and tested it with versions 4.0.0, 4.3.0 and 4.4.0.
I'll have to setup a smaller test case to reproduce this issue with nuget.org as a package source, it'll take a few hours and I'll report back w

[2017-10-23 14:07] conniey opened #6083 "[Question] How to create separate NuGet packages for OS specific native components"
## Details about Problem

I am trying to create a NuGet package that is a [C# wrapper around ic4c](https://github.com/sillsdev/icu-dotnet/pull/37#issuecomment-338166172).  It has a set of native dlls that need to be compiled for each OS. I don't want to include it into a single NuGet package because the DLLs are 27MB for each OS.  I noticed that the .NET team has NuGet packages like:
`runtime.ubun

[2017-10-23 14:26] jp2masa commented on #6083
Maybe create a package that imports build targets, which add package references based on the RID?

[2017-10-23 15:56] ericstj commented on #6038
As I mentioned above, it's still broken when assigning a unique assets file.  It's also possible that folks are intentionally sharing the assets file (as was the case with the OP).

I think this needs to work: folks added the `$(MSBuildProjectName).project.lock.json` convention specifically to support this scenario with nuget 3.

[2017-10-23 17:07] ap0llo opened #6084 "Cannot attach debugger to Nuget Commandline when built from source"
I was trying to familiarize myself with the NuGet code base by stepping through the source code while running some basic commands in the nuget commandline with the VS Debugger attached.

However, the application cannot be debugged because after the build, VS thinks the source files are out of date and breakpoints are not hit. I tried both launching the client from VS as well as using the `--debug`

[2017-10-23 17:27] rrelyea commented on #6069
Please link to spec from this issue.

[2017-10-23 19:05] nkolev92 commented on #2365
@AArnott

We would need load the assembly to detect whether it's interop, so adding it in either restore/build it adds ms range overhead even with simple packages.
In addition, there's added complexities when dealing with multi-targeting packages, since we will need to load the same assembly name.

The build assets flowing case is something we are looking into and hope to share more info/have a di

[2017-10-23 19:07] rrelyea commented on #6032
Work here for us to (either us or the SDK team) normalize the paths to not have trailing slashes.

[2017-10-23 19:14] rrelyea commented on #6035
@JohanLarsson / @sharwell  - Does this reproduce with any other analyzers?

@jainaashish says that it also reproduced updating from a released version to another released version. He was using 15.5 preview2

[2017-10-23 19:16] #6036 closed, assigned to nobody

[2017-10-23 19:22] rrelyea commented on #6038
Although strange, we should support shared src\ directories for 2 projects.

[2017-10-23 19:28] rrelyea commented on #6046
@zhili1208 - let's discuss this please. want to understand more details about the feature need here.

[2017-10-23 19:30] rrelyea commented on #6047
Think we would either:
1) show all errors in output window.
or
2) in the "restore failed" message, point people to errors/warnings.

[2017-10-23 19:33] rrelyea commented on #6060
in talks with CLI team for proper design for dotnet.exe (may be dotnet search packages ...)

[2017-10-23 19:36] rrelyea commented on #6063
if this happens for non-nuget commands, this may be a "dotnet.exe" or "msbuild" issue.
Let's look at our handling first.

[2017-10-23 19:42] rrelyea commented on #6079
@ridomin has not been able to reproduce from scratch
@davkean - let's chat about possible solutions: 1) don't use projectrefs; 2) use a project ref, but have metadata to tell nuget to ignore it; 3) other?

[2017-10-23 19:48] soumyasdas commented on #6020
We are facing the same issue. It will be great if the fix is available as soon as possible.

[2017-10-23 20:35] JohanLarsson commented on #6035
@rrelyea I don't use nuget much so don't know much about how it works with other analyzers. It installed fine using paket if that is worth anything.

I'm not sure the issue is the prerelease, that was just my first guess.

[2017-10-23 21:33] rrelyea commented on #6084
As step 4.5, are you setting command line args in VS debug settings for NUGet.CommandLine?

[2017-10-23 21:45] mishra14 commented on #6084
@ap0llo which file are you trying to debug?

[2017-10-23 21:46] mishra14 commented on #6082
cc @skofman1

[2017-10-23 22:52] anangaur commented on #6082
@FeodorFitsner, thanks for letting us know. We have passed on this information/feedback to SymbolSource.org.

[2017-10-23 23:05] abpiskunov commented on #6047
I would vote for 1. , since it is consistent with Build output and others; and if we don't do that verbosity Detailed or Diagnostic would lose value.

[2017-10-24 02:32] AArnott commented on #2365
Why would you need to auto-detect whether it's interop? As I mentioned [here](https://github.com/NuGet/Home/issues/2365#issuecomment-209222476), the auto-detection logic that project systems already have isn't quite 100% accurate. So it's both reasonable and performant to leave it to the package author to use a link/ directory instead of ref/ or lib/ to specify assemblies that should be embedded (

[2017-10-24 03:54] jainaashish commented on #2365
@nkolev92 Did we ever discussed `/link` folder to specify embedded libraries? This seems like a reasonable solution as well.

[2017-10-24 04:51] karann-msft opened #6085 "Get-Package -updates lists packages that don't show up either under installed or updates tab"
The following packages show up when `Get-Package -updates` is run from the PMC. However, they are not listed either under installed or updates tab.

Microsoft.CodeDom.Providers.DotNetCompilerPlatform
Microsoft.Net.Compilers

![image](https://user-images.githubusercontent.com/16904420/31925196-f0bd282e-b83b-11e7-80b0-60398a32e97b.png)

Repro:
1. FIle->New->ASP.NET project
2. Open PMC and run  `Get-

[2017-10-24 04:57] ap0llo commented on #6084
@mishra14 I tried setting a breakpoint in `Program.Main()` (before the call to `MainCore`)

@rrelyea Yes, it tried, for example `install xunit`, but since I tried hitting a breakpoint in Main I don't think the command line args matter

[2017-10-24 04:59] karann-msft opened #6086 "update-package Microsoft.Net.Compilers states No package updates are available but continues to find and install an update"
[code]

Repro steps:
1. File new project ASP.NET netframework
2. from the PMC, run update-package Microsoft.Net.Compilers

[2017-10-24 05:03] karann-msft opened #6087 "Find-Package Elmah -StartWith fails when all sources are selected"
[code]

This should retrieve results from sources that do provide a search service such as NuGet.org.

[2017-10-24 05:09] nkolev92 commented on #2365
We did. We opted for the above solution because it was a minimal fix.

In addition, adding a "link" folder makes the packages incompatible with older clients which is something we wanted to avoid.

[2017-10-24 07:12] karann-msft commented on #5624
There are several things wrong with that error message.
"Visual Studio Options dialog" should be "Tools > Options window"
"Package Manager node" should be "NuGet Package Manager node"
'Allow NuGet to download missing packages during build.' should be 'Allow NuGet to download missing packages'

This has nothing to do with docs. This is about the consistency between the error message we throw and th

[2017-10-24 07:16] karann-msft commented on #6055
doc issues should always include:
•	Additional details information on the issue at hand (e.g. a doc request for some flag or option should include at least a rough description of what it does),
•	Pointers to where we can find such information, and/or
•	The name of the appropriate subject-matter experts who can provide such information.

In short, it’s very difficult to write documentation without

[2017-10-24 07:21] karann-msft commented on #2212
Assigning to @rrelyea for triage.

cc: @anangaur

[2017-10-24 07:27] karann-msft commented on #4960
Issue moved to [NuGet/docs.microsoft.com-nuget #523](https://github.com/NuGet/docs.microsoft.com-nuget/issues/523) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-24 07:27] #4960 closed, assigned to karann-msft

[2017-10-24 08:05] anangaur commented on #2212
@karann-msft,
 NuGet vsix no longer needs update separately. VS upgrade is the only way. I.e. VS 2017 onwards. So I am guessing this should be won't fix for VS 2015.

[2017-10-24 08:41] loicmorvan commented on #5805
Same issue with 100 projects in a solution, it's a nightmare!
I have to wait almost one hour to update one single package.

[2017-10-24 09:13] karann-msft opened #6088 "Update-Package -reinstall -ProjectName <project> does not work for PR"
[code]

[2017-10-24 10:43] redoz opened #6089 "Build targets not imported from packages referenced by top-level package references"
VS version: 15.4.1
OS version: Microsoft Windows [Version 10.0.16299.19]

I haven't been able to find anything online regarding this (though perhaps I'm searching for the wrong keywords), so I figured I'd create an issue here, if this is documented/expected behavior I apologize in advance.

1. Include a NuGet Package that depends on a NuGet package that contains custom build targets.
2. Build proj

[2017-10-24 12:09] dasMulli commented on #6089
Is the top-level package built from a `nuspec` file or a `ProjectReference` based solution? A project reference defaults to excluding Build, Analyzers and ContentFiles assets from referencing projects unless they also explicitly reference this package (see [docs](https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files#controlling-dependency-assets) => default va

[2017-10-24 12:36] redoz commented on #6089
You're right, setting ```PrivateAssets``` to ```none``` for the ```PackageReference``` in the top-level package fixed the problem. Thank you!

[2017-10-24 12:36] #6089 closed, assigned to nobody

[2017-10-24 12:37] milan11 commented on #4860
@emgarten Unfortunately this issue still exists in both NuGet 3.5 and NuGet 3.6.0.2511. Tested again with Visual Studio 2015. Or is there something different that could influence it (e.g. version of some other extension in Visual Studio)?

[2017-10-24 15:01] tknerr commented on #3324
NuGet developers: wouldn't simply upgrading the NuGet `supportedRuntime` to .NET 4.6.2 solve it? Or at least setting the `Switch.System.IO.UseLegacyPathHandling=false` the AppContext switch?
https://blogs.msdn.microsoft.com/dotnet/2016/08/02/announcing-net-framework-4-6-2/

@AndreyAkinshin looking for a short term workaround, I'm curious how you solved it with NuGet 2.x.  I used the nuget 2.12 bin

[2017-10-24 17:02] directhex commented on #3445
@mrward fixed in 5.0.0.36+ from tarballs, patched in mono-project.com packages for 4.6+ (but not in the tarballs)

[2017-10-24 17:59] evil-shrike opened #6090 "Build targets are not included on installing"
VS 2017 15.4.1

1. create a new VSIX project

2. install package Microsoft.VSSDK.BuildTools in it

## Problem
The package Microsoft.VSSDK.BuildTools contains `.props` and `.targets` files which are expected to be included into csprj. But they are not included.
I can see the package reference is added:

    <PackageReference Include="Microsoft.VSSDK.BuildTools">
      <Version>15.5.72</Version>

[2017-10-24 18:46] jainaashish commented on #6090
With PackageReference, these files will be included as part of `<projectName>.csproj.nuget.g.props` and `<projectName>.csproj.nuget.g.targets` inside `/obj` folder.

[2017-10-24 18:47] nkolev92 opened #6091 "Allow package authors to define build assets which work transitively (using buildTransitive assets group)"
Consider changing the default transitive flowing behavior of the build assets.
[SPEC](https://github.com/NuGet/Home/wiki/Allow-package--authors-to-define-build-assets-transitive-behavior)

Related https://github.com/NuGet/Home/issues/6388

Related to https://github.com/NuGet/Home/issues/6206, although at pack time likely

[2017-10-24 19:11] jainaashish commented on #2365
`This is the part that hurts the worst. It's not entirely in the package author's hands then -- middle-tier consumers have to be aware and do something special. That's unfortunate.`

AFAIK build artifacts not flowing transitively shouldn't impact this case, since an assembly has already been embedded in one package then it's always available for all the parent packages. It just that this assembly

[2017-10-24 19:23] evil-shrike commented on #6090
My csproj isn't in new SDK-style format but old one (VSIX template generates such one) but with PackageReference inside.

[2017-10-24 20:41] rrelyea commented on #6090
in both csproj styles, with PackageReference, the targets do not get added directly into the csproj. Instead, some common targets import obj\<projectname>.csproj.nuget.g.targets and .props into the scope of the project.

So the targets should be part of your project, via some imports that you won't directly see in your csproj.

Generally, you can type "msbuild /pp:pp.txt foo.csproj" -- to create a

[2017-10-24 20:51] rrelyea commented on #6088
@karann-msft - what is your expected behavior? (what versions of which packages should be upgraded to?)
does it work if you remove "-reinstall"
What TFM is your ClassLibrary project?
What version of VS are you using?

[2017-10-24 20:52] rrelyea commented on #6087
@karann-msft  - which sources are causing this for you? another http one? a file: one?

[2017-10-24 21:35] am11 opened #6092 "`version` command in nuget.exe for consistency with similar utilities"
Most utilities provide `--version`, `-v`, `/version` switches to display one liner version. e.g.

* msbuild /version
* git --version
* dotnet --version
* apt -v

For nuget, we have to type `nuget` or `nuget help` and scroll up in console to find version digits; [alternative  approach](https://stackoverflow.com/questions/15964935/get-nuget-exe-version-from-command-line#comment76851187_16035561) is

[2017-10-24 22:13] evil-shrike commented on #6090
Let me clarify the problem.
In a project in legacy format
[code]
a nuget package with build targets is being installed . At the this VS will ask which format for nuget references I want: old packages.json or new with ProjectReference. I chose the new one ProjectReference.
There're no imports in csporj as it's the ProjectReference format and there're no imports as it's old format built with msbuild

[2017-10-24 22:15] lzocateli commented on #3664
I'm signing up for this channel, I'm having the same problem to restore private Nuget server packages

[2017-10-24 22:36] kraigb opened #6093 "Suggested minor edits to nuget.exe CLI built-in help"
After reconciling the nuget.exe docs with the help coming out of the CLI itself, I have two suggestions for changes to the CLI:

1.	Add: in the CLI help, the expand option is described as “If provided, a package added to offline feed is also expanded.” In the docs, it reads as, “If provided, all the files in the package are added to your package source.” Given that add works only with non-HTTP sou

[2017-10-25 01:36] LTsLlama commented on #4054
Getting the same error using NuGet 4.4 on VSTS build.
Any fix or workaround for VSTS?

2017-10-25T00:51:34.3884127Z ##[section]Starting: NuGet pack
2017-10-25T00:51:34.3894133Z ==============================================================================
2017-10-25T00:51:34.3894133Z Task         : NuGet
2017-10-25T00:51:34.3894133Z Description  : Restore, pack, or push NuGet packages, or run a Nu

[2017-10-25 01:47] andreesteve commented on #4781
Does this also provide a target that VS calls before restore?
Registering my target to run before CollectPackageRefereces;_GenerateRestoreProjectSpec; works well for nuget restore and msbuild /t:restore, but VS seems not to call them, or call them after it resolves other properties, like the project version I am interested in changing.

[2017-10-25 01:53] emgarten commented on #4781
VS calls CollectPackageRefereces

[2017-10-25 07:33] UncleFirefox opened #6094 "NuGet /t:restore still does not work on Visual Studio Build Tools 15.4.1"
As suggested on PR https://github.com/NuGet/NuGet.Client/pull/1626#issuecomment-339055716 and commented in this issue https://github.com/Microsoft/msbuild/issues/1697 it looks like MSBuild still does not work with NuGet restore builtin with Build Tools...

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
`Microsoft (R) Build Engine version 15

[2017-10-25 07:52] UncleFirefox commented on #6094
You need to install the target in the Workloads, which by now is not installed by default...
![image](https://user-images.githubusercontent.com/3224718/31986820-24d4a93c-b96a-11e7-8e31-a9b5c8127337.png)

[2017-10-25 07:52] #6094 closed, assigned to nobody

[2017-10-25 10:57] phatcher opened #6095 "update-package not determining appropriate version when constraints present"
For VS2015 nuget version 3.5.0.1484, If I have a packages config as follows...

[code]

I get an error on issuing
`update-package Microsoft.Odata.Core`

[code]

However if I issue
`update-package Microsoft.Odata.Core -Version 6.18`

It correctly finds the version and installs it - surely it should walk the graph to find there's an earlier compatible version?

[2017-10-25 11:05] evil-shrike commented on #4778
Hi.
I understand that this issue is about correcting message only. But could you tell what it actually means?
I'm having this error in my solution with mixed old and new style csproj (but all of them use PackageReference for nuget ref).

[code]

(edit) here's the whole story - https://stackoverflow.com/questions/46939387

[2017-10-25 12:41] dtivel opened #6096 "Error reporting exception for cancelled package download task"
In `NuGet.PackageManagement.PackageDownloader.GetDownloadResourceResultAsync(...)`, NuGet accumulates package download tasks with any state other than `TaskStatus.RanToCompletion`.  If the package download ultimately fails, NuGet attempts to [report the exception for each task](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.PackageManagement/PackageDownloader.cs#L183).

Someti

[2017-10-25 15:23] davkean opened #6097 "Error for failing to restore packages needs cleanup"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS 15.5 Preview 2

This is an error I get when I refer to a package that doesn't exist (notice duplicated sources, trailing line and period:

[code]

I expect something like:

[code]

[2017-10-25 16:01] pbelousov commented on #4358
Hi All, are there any news or expectations on this feature?

[2017-10-25 16:50] conniey commented on #6083
@emgarten Could you point me in the right direction?

[2017-10-25 16:57] emgarten opened #6098 "Project reference in new csproj format do not obey PrivateAssets? (VS2017 15.4)"
_From @philippe-lavoie on October 19, 2017 13:46_

According to issue 2313, when adding below inside BasicModel, it should stop the reference from flowing to other projects.

[code]

However, inside my unit tests, which does a project reference to BasicModel, the project.assets file contains the following

      "BasicModule/40.0.0": {
        "type": "project",
        "framework": ".NETStandard,

[2017-10-25 16:57] emgarten commented on #6098
_From @Pilchie on October 23, 2017 23:3_

@rrelyea @emgarten - should this be on NuGet?

[2017-10-25 16:57] emgarten commented on #6098
@philippe-lavoie take a look at: https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files#controlling-dependency-assets

Based on your description you might be looking for `ReferenceOutputAssembly=false`

Here are some examples:
[code]

[2017-10-25 16:57] emgarten commented on #6098
_From @philippe-lavoie on October 25, 2017 13:42_

I have the second situation you mention and ProjectA does see the nuget reference to BasicModule. You are implying it does not see it, but it does.

To be clear, the configuration is

Unit Test -> BasicModule ->  (PrivateAssets=All) BasicModuleContract

i.e. the BasicModuleContract is linked by BasicModule as a private assets

This is bad when con

[2017-10-25 17:06] emgarten commented on #6098
@philippe-lavoie would you share the obj/project.assets.json file for ProjectC (the root project)?

[2017-10-25 17:15] jp2masa opened #6099 "Incremental Pack has wrong target output"
The paths that are added to the GenerateNuspec target output are wrong:
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Build.Tasks.Pack/Pack.targets#L172
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Build.Tasks.Pack/Pack.targets#L181

The nuspec output path is `$(NuspecOutputAbsolutePath)`:
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/Nu

[2017-10-25 17:48] evil-shrike commented on #4778
Hi.
I understand that this issue is about correcting message only. But could you tell what it actually means?
I'm having this error in my solution with mixed old and new style csproj (but all of them use PackageReference for nuget ref).

[code]

[2017-10-25 17:59] pimanac commented on #6027
I ran into a similar issue using Jenkins.  It seems to be related to how the local system account in windows server uses  `C:\Windows\system32\config\systemprofile` as the home directory.

I was able to solve it by setting the `NUGET_PACKAGES` environment variable to `C:\Windows\system32\config\systemprofile\.nuget\packages`

https://docs.microsoft.com/en-us/nuget/tools/cli-ref-environment-variabl

[2017-10-25 18:07] karann-msft commented on #6088
the expected behavior is the same as what you you would see if you ran that command for a PC based project. Uninstall and then install all packages.

[code]

Why would I remove "-reinstall" ? I WANT to reinstall. I don't want to upgrade and hence don't care if one is available. The reason I did get-package was to show that the project did have packages installed.

Its a netstandard 2.0 class libra

[2017-10-25 18:14] karann-msft commented on #6087
This happens when "All" is selected in the Package Source selector in PMC
![image](https://user-images.githubusercontent.com/16904420/32015112-f7936d2c-b974-11e7-8362-ebbf1b0b6f15.png)

This is a bug and not consistent with using Find-Package without the "-StartWith". So what sources I have don't seem to matter.

![image](https://user-images.githubusercontent.com/16904420/32015212-476c07c8-b975-11

[2017-10-25 18:31] anangaur opened #6100 "Documentation URL forwards user to incorrect location in docs. (from NuGet settings window on VS)"
https://aka.ms/troubleshoot_nuget_cache

We should link a docs issue for this if the documentation is not readily available. Also point this link to the right documentation.

![image](https://user-images.githubusercontent.com/14800916/32016124-edd875f4-b977-11e7-8bd3-7faa8015320c.png)

[2017-10-25 18:56] anangaur opened #6101 "Make symbols package (auto) push failure a warning for the `push` operation"
If the user creates a symbols package along with the NuGet package and then tries to `push` the package to NuGet.org, NuGet does the following (**non-atomic** steps):

1. Pushes the NuGet package to NuGet.org
2. Pushes the Symbols package (if present in the same folder) to SymbolSource.org (https://nuget.smbsrc.net)

If the Step 2 fails, the NuGet package is already pushed to NuGet.org but the `pu

[2017-10-25 21:03] simonfox commented on #5552
ok so the test discovery issue was unrelated. I deleted the `.vs` (containing the `.suo`) and now test discovery is working again. I still get the faults above, although they do not seem to affect usage of VS i.e. VS, including NuGet, appears to be functioning correctly.

[2017-10-25 21:11] robertmuehsig opened #6102 "NuGet Package from new .csproj - Summary/Title Tag missing"
We are using the new .csproj and the integrated NuGet package building feature and I was wondering why I can't specify "Summary" and "Title" within Visual Studio?

When I upload the produced package to nuget.org, a title and summary field is shown without any input and the summary seems kind of important, because it is related to search?!

![image](https://user-images.githubusercontent.com/756703/

[2017-10-25 21:17] robertmuehsig opened #6103 ""Import documentation" - part of the .nuspec/.csproj settings?"
Everytime I update my NuGet package via the WebUI upload I need to reenter the documenation url. I know this is a pretty new feature, but is there some kind of PackageDocumentation tag that I can use so that I don't have to reenter the GitHub URL each realease?

![image](https://user-images.githubusercontent.com/756703/32023766-9743dc7a-b9da-11e7-9306-68908dfe08f9.png)

[2017-10-25 22:42] mishra14 commented on #6080
@ridomin what is the exact failure that you see. Can you please give us the logs/error that you get?

[2017-10-25 22:47] mishra14 commented on #6088
@karann-msft after reading some docs around the reinstall flag, I feel that this behavior is correct. Since PR has packages in global packages folder there is nothing to reinstall. Why dont you try deleting one of the packages from the global packages folder and then try reinstall. It should redownload the package.

[2017-10-25 22:49] diverdan92 opened #6104 "Improve NuGet package debugging and symbols experience"
Currently the NuGet package debugging and symbols experience is not streamlined.

Some areas that need improvement are:
1. Optimize the NuGet package and symbol authoring story to encourage     ####production of symbols
2. Support for the new portable PDB format for .NET Core and .NET Standard applications
3. Better integration in Visual Studio tooling.

This issue will be used for discussion of t

[2017-10-25 23:08] karann-msft commented on #6078
https://stackoverflow.com/questions/43326748/nuget-cli-in-visual-studio-2017-how-to-run

[2017-10-25 23:39] mishra14 commented on #6087
I cannot repro this -

![image](https://user-images.githubusercontent.com/10507120/32028335-f867e29a-b9a2-11e7-96c6-85a3edbc44c9.png)

[2017-10-25 23:39] #6087 closed, assigned to nobody

[2017-10-26 00:26] KirillOsenkov commented on #4837
It would be awesome to reference a NuGet package using PackageReference and specify which files from the package should be copied to output.

My problem currently: referencing https://www.nuget.org/packages/Microsoft.DiaSymReader.Native and none of the native .dlls get copied to output.

[2017-10-26 00:37] mishra14 commented on #6084
@ap0llo I double checked and I was able to hit a breakpoint -

![image](https://user-images.githubusercontent.com/10507120/32029617-a6a381f0-b9aa-11e7-81f4-c048f158d015.png)

You do not need to pass any arguments. I think this is a machine related problem. `ILMerge` is not a problem because VS knows the correct build output directory.

My suggestions are -

1. run `git clean -xdf` in the repo then

[2017-10-26 00:41] mishra14 commented on #6085
@karann-msft what is the exact template that you are using?

[2017-10-26 01:00] natidea opened #6105 "[Regression] in 15.5p1: Portable0.0 is skipped"
_From @onovotny on October 18, 2017 23:57_

I have an SDK project that the `MSBuild.Sdk.Extras` to build a legacy PCL target. This works in 15.4 but fails in 15.5 preview 1.

In the IDE in 15.4, I see this:

![image](https://user-images.githubusercontent.com/1427284/31748017-3c8bca6e-b43e-11e7-95a1-533476d1a1bf.png)

In 15.5 p1 I see this:

![image](https://user-images.githubusercontent.com/142728

[2017-10-26 01:00] natidea commented on #6105
_From @livarcocc on October 19, 2017 19:21_

@dsplaisted and @nguerrera can one of you take a look at this?

[2017-10-26 01:00] natidea commented on #6105
_From @nguerrera on October 19, 2017 22:42_

Looking

[2017-10-26 01:00] natidea commented on #6105
_From @nguerrera on October 19, 2017 22:42_

@davkean @emgarten I believe this is either a project system or nuget issue. There are no SDK changes between 15.4 and 15.5 preview 1 and things work as before on the command line. Something is  causing the project to get evaluated without the MSBuildSdkExtras targets setting TFI and TFV, but only in the IDE. Moving to project system for next look.

[2017-10-26 01:00] natidea commented on #6105
_From @Pilchie on October 23, 2017 23:4_

Not sure what could be different here, as the error only appears on build, and *does* appear in the output. Can you take a look?

[2017-10-26 01:00] natidea commented on #6105
_From @davkean on October 23, 2017 23:6_

I would look at the configurations we fire up here - I suspect Lifeng's change to reduce evaluations might have affected this.

[2017-10-26 01:00] natidea commented on #6105
On 15.5 P2, I do see the Portable0.0 node, though it is consistently coming through as unresolved:

![image](https://user-images.githubusercontent.com/7732033/31964908-6f30716a-b8ba-11e7-8722-b5bbb746af00.png)

I also get the error above when building the project. Investigating...

[2017-10-26 01:00] natidea commented on #6105
Using the build logger, the TF in the configured project is: portable-net4+sl5+wp8+win8+wpa81

But the target framework on which things are conditioned in *.nuget.g.props and *.nuget.g.targets is: portable-net40+sl5+win8+wp8+wpa81

![image](https://user-images.githubusercontent.com/7732033/31989466-310b1b52-b927-11e7-93f3-882d50ec042e.png)

Hence the import of the targets that set TFI and TFV is f

[2017-10-26 01:00] natidea commented on #6105
_From @nguerrera on October 25, 2017 14:16_

Configured projects need to respect the spelling in TargetFrameworks. Is that not happening here?

[2017-10-26 01:00] natidea commented on #6105
_From @davkean on October 25, 2017 15:15_

@natidea Can we make sure we're pushing the right value to NuGet? And if so, this is NuGet normalizing the value it writes to props, which it shouldn't be doing @emgarten

[2017-10-26 01:00] natidea commented on #6105
_From @emgarten on October 25, 2017 17:2_

👍 on checking the nomination value. Restore shouldn't be normalizing the TFM string unless this has regressed in NuGet.

[2017-10-26 01:00] natidea commented on #6105
NuGet is being nominated with incorrect target framework. `ProjectConfigurationsService.GetKnownProjectConfigurationsAsync()` is returning ProjectConfigurations with this value:

![image](https://user-images.githubusercontent.com/7732033/32019057-c28561a6-b980-11e7-93f7-dd91f9bf5e0d.png)

[2017-10-26 01:00] natidea commented on #6105
Actually, scratch that. The value we are sending to NuGet: `portable-net4+sl5+wp8+win8+wpa81` _is_ the value in the csproj file. But the conditions in the *.nuget.g.props and *.nuget.g.targets files are different: `portable-net40+sl5+win8+wp8+wpa81`. So this could be a bug in NuGet

[2017-10-26 01:00] natidea commented on #6105
Confirmed: if I change the targetframework in the csproj file to `portable-net40+sl5+win8+wp8+wpa81` (matching the value emitted by NuGet), then everything loads and builds properly:

![image](https://user-images.githubusercontent.com/7732033/32019994-a8d8a878-b983-11e7-8305-31f96fe4bd63.png)

So NuGet must be normalizing it somehow.

[2017-10-26 11:22] bjornbergq commented on #6020
Is there any there any other workaround that does not require to change the nuget package?

Thanks!

[2017-10-26 12:34] GanesanRengasamy opened #6106 "NuGet package try to retrieve in all configured NuGet sources"
Hi all,

While installing the NuGet packages from the NuGet package manager with configured multiple NuGet package sources in VS2017, the NuGet client try to retrieve the package in all the configured NuGet sources and return the message like "Not Found".

For Example:
I have configured the below NuGet sources in my NuGet.Config,

`  <packageSources>
    <add key="nuget.org" value="https://www.nug

[2017-10-26 12:41] fredericDelaporte commented on #6082
As written [here](https://stackoverflow.com/a/46941071/1178314), it is possible to work around this certificate expiration by going through http instead...

Of course this then means the thing goes un-encrypted over the Internet, likely the API key too. (Unless some application level ciphering is done by NuGet on it.)

[2017-10-26 14:24] malylemire1 opened #6107 "Support by solution folder path configuration for PackageReference."
Support by solution folder path configuration for PackageReference.

There is currently not way to specify path per solution. This could cause a problem if nuget package version is no longer available in nuget. We used to put nuget packages in our Git repository using configuration file to prevent this kind of problems.

Use case :

- Setup a new computer without any nuget package cache.
- Pull a

[2017-10-26 15:33] evil-shrike commented on #6020
I'm not sure whether it's the same case or a different problem but I'm having KeyNotFoundException: The given key was not present in the dictionary exception all the time in VS 2017.4. It's just terrible - I can't install or uninstall any package in some projects (not all).
Here's how it looks:
[code]

[2017-10-26 16:38] mhsimkin opened #6108 "How to get package size before downloading it from a feed?"
I'm working on a internal tool to replace Click-once and a few other home grown application deployment solutions.  The goal is to use a Nuget feed to maintain the latest version of an application that needs to be deployed.

I'm using the v4.x.x version of the NuGet.* packages.

I would like to make sure there is enough disk space free to download the package from the feed.  Using the API is there

[2017-10-26 16:42] brucechase commented on #4163
I wouldn't be so fast in deleting this error.  I cannot get rid of the error from VS 15.4/C# even after following all the above steps multiple times.    I am at a loss of what to do... 3 hours into this and I cannot compile the application.  I have deleted the project.*.json files and project.json file; updated those files with the "win10" addition to "runtimes"; attempted to restore nuget; change

[2017-10-26 16:55] jainaashish commented on #4163
@brucechase Are you using `PackageReference` to manage your dependencies or project.json file? And if you were using project.json file then why will you delete that? that will cause even more troubles. Can you share your sample solution or detailed steps to repro your issue?

[2017-10-26 17:49] brucechase commented on #4163
I wasn't using project.json... until the compile error told me to to add
the "win10" to it.  Hell, after closing VS and restarting, I cannot even
open either the solution or project file.  Both lock up VS immediately
now.  Damn me for updating to VS to 15.4.  Everything was working fine
under 15.3 -- but I wanted to migrate our UWP app to .NET Standared 2.0.
Everybody here cringes at the thought o

[2017-10-26 19:07] karann-msft commented on #6078
Fixed.
@kraigb please a take a look and if it looks good, close the issue :)

[2017-10-26 19:53] daveaglick commented on #4491
I noticed this was removed from the milestone and added to the backlog. Does this mean that packing SDK projects with the NuGet CLI is deprecated and we shouldn't expect it to work anytime soon?

[2017-10-26 20:10] karann-msft commented on #6088
@mishra14
When I run that command for a PR project that has packages installed, this message "No package updates are available from the current package source for project 'ClassLibrary1'." is plain wrong. The user is running a reinstall and NOT update.

There are only two options here - fix that message to state that resinstall is not supported for PR (and the docs to call out that this only suppo

[2017-10-26 22:24] karann-msft commented on #6100
@mishra14 helped update the URL. We now need to update the doc to call out possible error scenarios and the solution. Ankit, can you please help with that, and then I can work on updating the docs.

cc: @kraigb

[2017-10-26 23:05] AArnott commented on #2365
I'm afraid that's not true. The middle-ware package will link it, and the app will reference it, and that *will* cause trouble. Referencing instead of linking can cause runtime failures for the app. And the C# compiler (if you're lucky) will emit a warning indicating that your transitive closure of references uses an inconsistent style of linking vs. referencing and warn you that you're referencin

[2017-10-26 23:13] LightBender commented on #4163
I just ran into this as well. If you have a old-style csproj that references a new style csproj (any project with transitive references) go to the obj folder for the old-style csproj, delete the project.assets.json file and rebuild. That worked for me.

[2017-10-26 23:29] mellinoe commented on #5655
I'm on 15.4 and this still happens.

[2017-10-26 23:29] #6090 closed, assigned to nobody

[2017-10-26 23:41] mishra14 commented on #6100
Possible points of failures -
[PathTooLongException](https://msdn.microsoft.com/en-us/library/system.io.pathtoolongexception(v=vs.110).aspx) - path is longer than 260 characters.
[UnauthorizedAccessException](https://msdn.microsoft.com/en-us/library/system.unauthorizedaccessexception(v=vs.110).aspx) -  user does not have permission to the path
[IOException](https://msdn.microsoft.com/en-us/library

[2017-10-26 23:47] mishra14 commented on #6095
@phatcher that is expected behavior. When you run `update-package` without a version, we only try the latest version, which in your case fails to meet the allowed version constraint.

[2017-10-26 23:47] #6095 closed, assigned to nobody

[2017-10-26 23:50] mishra14 commented on #6096
@dtivel can you please add a milestone to the issue? If it is not meant for a specific release, then use the backlog milestone and add a priority label.

[2017-10-26 23:53] karann-msft commented on #6100
@mishra14 can you share the exact error message that would be displayed in each of those scenarios.

[2017-10-26 23:59] mishra14 commented on #6097
@davkean can you please give us a screenshot of what you mean?

I see the following -

![image](https://user-images.githubusercontent.com/10507120/32082233-0ef0c820-ba6f-11e7-9938-4624482bb447.png)

[2017-10-27 00:22] mishra14 commented on #6100
IOException -
NuGet cache(s) clear failed at 10/26/2017 5:02:53 PM.
Error: The process cannot access the file 'elmah.1.2.2.nupkg' because it is being used by another process.
Please see https://aka.ms/troubleshoot_nuget_cache for more help.

UnauthorizedAccessException -
NuGet cache(s) clear failed at 10/26/2017 5:18:28 PM.
Error: Access to the path 'C:\Users\anmishr\.nuget\packages\newtonsoft.jso

[2017-10-27 00:24] mishra14 commented on #6099
@jp2masa can you please elaborate on the exact issue that you are facing?

Can you please give us a sample repro or steps to repro the issue?

[2017-10-27 00:25] mishra14 commented on #6101
@anangaur can you please assign a milestone to the issue based on the target for fixing this?

[2017-10-27 00:27] jp2masa commented on #6099
I'm not facing any issue, I was reading the targets file and the path looks wrong, so I opened a PR.

[2017-10-27 00:29] mishra14 commented on #6103
@robertmuehsig this is an issue related to nuget.org.

This issue was moved to NuGet/NuGetGallery#4920

[2017-10-27 00:29] #6103 closed, assigned to nobody

[2017-10-27 00:47] anangaur commented on #6101
Still debating if we need to do this.

[2017-10-27 00:47] brucechase commented on #4163
Yea -- I tried that.  But now I cannot even get into the the project -- it
does not appear in the solution view of VS.  VS just locks up after
selecting the solution or project files.  I even took an older version of
the project file with GIT, but VS cannot load the old project file
either... Just locks up.  Other VS projects start, no problem.  I am about
ready to remove VS and try to go back to

[2017-10-27 00:54] jainaashish commented on #4163
Is it possible for you to share your project file removing private data? And it looks like your issue is different than what this issue is about so please log a separate issue with all the details.

[2017-10-27 01:01] brucechase commented on #4163
This is a massive project.  Xamarin -- The project produces output for UWP,
iOS, Mac, Android, Silverlight, etc.

I am going to clean the project off the HD and pull from GIT once more.  I
updated Windows to Fall Creator's Edition (or whateve it is called).  I am
hoping that maybe that will help. If that all fails, I will see if I can
get permission for you on GitHub.  The MSFT's Xamarin team has

[2017-10-27 01:13] mishra14 commented on #6088
@karann-msft

You are running an `update-package` command. What do you think it does?

[2017-10-27 01:36] #5880 closed, assigned to jainaashish

[2017-10-27 01:39] jainaashish commented on #5960
We started our first communication with internal partners to make packages ecosystem compatible with `PackageReference` Will create further follow up tasks in subsequent sprints to follow on this.

[2017-10-27 01:39] #5960 closed, assigned to jainaashish

[2017-10-27 01:40] jainaashish commented on #5954
Made some progress on this to transform via targets, facing one issue with web.config file. Need to follow it with ASPNET team.

[2017-10-27 01:44] jainaashish commented on #6070
Synced with Azure team for thei LTS support, and their scenarios can be accomplished with `Tag` or `Description` fields, instead of having a separate field to Azure SDK API versions.

[2017-10-27 02:22] nkolev92 commented on #2365
Reopening based on @AArnott's feedback.
We will revisit this topic internally and discuss again.

[2017-10-27 02:24] AArnott commented on #2365
Thanks.

FWIW, we are already using the workaround. So if you add a feature that only works with future nuget clients, I think that's OK actually. We'll just keep using the workaround until the new nuget client version is the dominant version and then switch to using the feature. :)

[2017-10-27 02:25] clairernovotny commented on #6105
As a regression, how is this only in the backlog and not assigned Urgent? Not sure I understand the timeframe Backlog represents here?

[2017-10-27 05:34] robertmuehsig commented on #6102
Is this part OSS and are PRs possible/welcome?

[2017-10-27 06:15] maartenba commented on #6104
Would love to see this! Have had an offline discussion with some other folks, and came up with a dream workflow:

The main issue today is that when running “nuget.exe pack -Symbols” on a .NET Standard project, SourceLink is not enabled by default. Which makes a LOT of sense as not everyone is keen on sharing their sources. However: when people _do_ want to have sources support, it’s usually too la

[2017-10-27 07:04] GanesanRengasamy commented on #6106
Hi Team,

Any update on this?

[2017-10-27 11:41] evil-shrike commented on #4163
I'm having the same error in my solution with mixed old and new style csproj while I build it via msbuild (as building via dotnet doesn't work for VSSDK-projects). Please see details here:
https://developercommunity.visualstudio.com/content/problem/138372/vsix-cant-build-solution-with-mixed-style-csproj-p.html

UPDATE:
adding
[code]
into EVERY (old-styled) csproj helps me!

[2017-10-27 12:18] duncanp-sonar commented on #6035
This issue repros with the SonarAnalyzer.CSharp analyzer which is not marked as pre-release. It will also repro if you create a new Roslyn analyzer from scratch in VS2017 using the _Analyzer with Code Fix (NuGet + VSIX) template_.

Some further investigation:
* the same analyzer NuGet packages update correctly in VS2015.3 for .Net Framework projects.
* they update correctly for .Net Core projects

[2017-10-27 13:08] lukepuplett opened #6109 "dotnet restore running in VSTS build cannot auth against VSTS feed"
## Details about Problem

NuGet product used: dotnet.exe

NuGet version: 4.1.0.2450

dotnet.exe --version: 2.0.0

VS version:  n/a using VSTS build

OS version (i.e. win10 v1607 (14393.321)): Not sure on build server :-/

Worked before? If so, with which NuGet version: n/a

## Detailed repro steps so we can see the same problem

1. Create a NuGet library project for .NET Standard 2.0 in VS2017 int

[2017-10-27 13:10] lukepuplett commented on #6109
Interestingly, I added
[code]
To a PowerShell build task and that fails to see/use the NuGet.Config file alongside the NuGet.exe that's being run.

However, locally on my workstation when I run the exact same PS command line from the same current working directory, it does see the NuGet.Config file. That's esp. odd because its the same actual NuGet.exe executing but behaving differently.

[2017-10-27 13:23] lukepuplett commented on #6109
Managed to move the error on by adding a test NuGet.exe command line running in a PowerShell build task and specifying the location of the NuGet.Config file.

This is just an experiment to see if I can get the NuGet.exe 4.1.0.2450 command line to work.

PowerShell command task script:

[code]

Running under the VSTS build task I see this:

[code]

I don't know how the auth works for build servers

[2017-10-27 13:42] lukepuplett commented on #6109
Updated the NuGet.exe version to 4.3.0.4406 and its now worse!

[code]

Completely unable to locate the NuGet.Config file even though my sanity check PS `ls` command sees it fine.

[2017-10-27 14:56] brucechase commented on #4163
I finally have VS 2017 (15.4) running correctly with NuGet.  The problem
appears to have been VS.  It took some convoluted steps in order to
completely uninstall VS and reinstall it. Essentially, VS was not
completely uninstalling correctly.  Here is the link that helped with the
uninstall errors:

https://developercommunity.visualstudio.com/content/problem/49854/i-cant-repair-the-visual-studio-20

[2017-10-27 15:51] tokyo0709 commented on #4553
We are having the same issue with VS 2017. We have uploaded our own Nuget package and are installing it on seperate projects and when we do Update-Package it updates to the unlisted version. Related Stack question, https://stackoverflow.com/questions/46977808/updating-nuget-package-yields-unlisted-version

[2017-10-27 15:53] tokyo0709 commented on #5069
Experiencing the same issue, https://stackoverflow.com/questions/46977808/updating-nuget-package-yields-unlisted-version

[2017-10-27 17:34] davkean commented on #6097
I passed the exact text that was put in the error list - what will a screenshot help with?

[2017-10-27 18:10] jainaashish opened #6110 "UIHang - Remove query service call from MEF initialization in VSSolutionManager"
Line# https://github.com/NuGet/NuGet.Client/blob/b892fe82d3435ac5fcae0ec664efc4f40dd0bcb7/src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/IDE/VSSolutionManager.cs#L147

[2017-10-27 18:24] mishra14 commented on #6097
@davkean I cannot repro this with a non existent package ID. Can you please provide us the repro steps?

[2017-10-27 18:37] mishra14 commented on #6102
@robertmuehsig this UI page is not owned by NuGet. I will move your bug to a better repo.

[2017-10-27 18:40] mishra14 commented on #6102
This issue was moved to Microsoft/VSProjectSystem#258

[2017-10-27 18:40] #6102 closed, assigned to nobody

[2017-10-27 18:45] mishra14 commented on #6105
assigning it to @nkolev92 as he may have changed some code around - https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.ProjectModel/PackageSpecWriter.cs#L163

[2017-10-27 18:50] nkolev92 commented on #6105
@onovotny
That's just the normal process...things are firstly marked as backlog, then triaged(priority set) and routed.
We are looking into it now.

[2017-10-27 18:51] jpobst opened #6111 "NuGet install options missing from latest VS 2017 Solution UI"
When using "Manage NuGet Packages for Solution", the "Options" dropdown only contains "Show preview window".  It no longer contains the "Install and Update Options" or the "Uninstall Options".  I don't know which version of VS caused this, but I am pretty confident that the
additional options used to be available at the Solution level.

The options are still available if you do "Manage NuGet Packa

[2017-10-27 19:38] mishra14 commented on #6106
@GanesanRengasamy NuGet queries all sources for a package. This is done to reduce the total restore time. If any of the feeds responds that it contains the package then restore will use that feed. Your restore operation will not fail as long as any one of the feeds (e.g. -  nuget.org) contains the package.

[2017-10-27 19:38] #6106 closed, assigned to nobody

[2017-10-27 19:44] joelverhagen opened #6112 "Content headers are not available using HttpSource"
The content headers, such as `Content-Length` and `Content-Type` are lost because we replace the original `HttpContent` (probably `StreamContent`) with a `DownloadTimeoutStreamContent`. The headers are not copied over.

This limits extensibility.

[2017-10-27 19:46] mishra14 commented on #6109
@lukepuplett Thanks for the detailed feedback. I see 2 issues here (along with my comments)-

1. You are having trouble getting past the auth on a private VSTS feed.
Looking at your config file in the first post. I do not see any credentials. Is that expected?

2. With NuGet 4.3.0.4406 you are not able to locate the config file.
can you please give us the exact command that you ran ?
I see that th

[2017-10-27 19:51] mishra14 commented on #6107
@malylemire1 In Package reference, we do use cache(s) on the machine to reduce iterative restore time. They are not meant to be package sources. If you are concerned about the packages being unavailable then you can use the `-OutputDirectory` option while doing [NuGet restore](https://docs.microsoft.com/en-us/nuget/tools/cli-ref-restore) and pass a custom path that you can save/version control.

P

[2017-10-27 19:51] #6107 closed, assigned to nobody

[2017-10-27 19:54] mishra14 commented on #6111
@jpobst Thanks for the feedback. This is by design as in solution context, the selection of the projects can change. In project context the settings apply to exactly one project and hence it is less confusing to the users.

please let us know if this is blocking you or if you need more help from us.

--------------------------------

Update: I closed this issue hastily and it seems this was a regr

[2017-10-27 19:54] #6111 closed, assigned to nobody

[2017-10-27 20:02] evil-shrike commented on #6090
@rrelyea I understand that imports work in difference way with PackageReference, but should they work with MSBuild.exe ? I mean in case when I build csproj with msbuild (from VS2017 or BuildTools) for .net framework.

[2017-10-27 20:04] davkean commented on #6105
@nkolev92 Conditions must be performed using the user's written value.

[2017-10-27 20:10] emgarten commented on #6112
Any suggestions on where to expose this? Is there an existing part of the response it could go on or would this need something new?

[2017-10-27 20:12] joelverhagen commented on #6112
We can copy the HTTP headers over to the `DownloadTimeoutStreamContent` instead. This is available when using the `ProcessResponseAsync` method on `HttpSource`.

[2017-10-27 20:15] anangaur opened #6113 "Disable auto-push of symbols package"
### Context
If a user creates a symbols package along with their NuGet package and then tries to push the package to NuGet.org, NuGet does the following steps in sequence:
1. Pushes the NuGet package to NuGet.org
2. Pushes the Symbols package (if present in the same folder) to SymbolSource.org (https://nuget.smbsrc.net)

If Step 2 fails, the NuGet package is already pushed to NuGet.org but the pus

[2017-10-27 20:41] joelverhagen commented on #6108
Hey @mhsimkin,

The package size is not a first class property in any of the 4.x NuGet.* APIs. However, there are some strategies you can employ to fetch the package size.. Note that this value is not used by the official NuGet client so there is no assurance of this value being available on different feed types (V2 vs. V3) or server implementations (e.g. NuGet.org, MyGet, VSTS, etc).

If you are

[2017-10-27 20:50] davkean commented on #6097
The bug is right here: https://github.com/NuGet/NuGet.Client/blob/870340673ba75a95407ab55ce1f46f57fe9bf25b/src/NuGet.Core/NuGet.PackageManagement/PackageDownloader.cs#L185

[2017-10-27 21:06] mishra14 commented on #6097
@davkean thanks for pointing it out.

[2017-10-27 22:14] BrennanConroy opened #6114 "NuGet restore improperly NoOps when 2 projects are sharing obj directory"
@emgarten

1. `dotnet new console`
2. `dotnet run` (just to make sure it runs)
3. change name of csproj and downgrade the netcoreapp version to 1.0 or 1.1
4. `dotnet restore`
5. `dotnet run` (make sure it runs too)
6. rename csproj to original name
7. undo the previous downgrade
8. `dotnet restore` (does nothing)
9. `dotnet run`
10. See error:
[code]

[2017-10-27 23:13] karann-msft commented on #6088
Take a look at the switch it's being run with.
What do you think is the meaning of reinstall?

[2017-10-27 23:45] mishra14 commented on #6114
@BrennanConroy Thanks for reporting this issue. I think this is an issue with some no-op check that we have to prevent restore if no files have changed. Requesting @nkolev92 to investigate.

in the mean time please use `dotnet restore --force` to ensure that a new restore is done if you run into such an issue.

[2017-10-28 00:01] nkolev92 commented on #6114
@BrennanConroy

This scenario is equivalent to having ProjectA (NetCore20) and ProjectB (NetCore10) in the same directory.

They both create the same assets file (project.assets.json), while they each create a separate cache file that's used for no-op.

This is not exactly a supported scenario, not sure if we want to do something about it.

The workaround as @mishra14 mentioned is very simple, you

[2017-10-28 17:30] FeodorFitsner commented on #6082
Is there any update guys? I can't believe installing a new certificate could take so long. Is there any way to approach SymbolSource.org maintainers directly?

[2017-10-28 23:01] agentgates commented on #604
I've got the same problem on Visual Studio 2017 Community Edition after cloning the following project: https://github.com/OrchardCMS/OrchardCore

[2017-10-29 22:20] pavkam commented on #6082
Still errs out. Any progress?

[2017-10-30 07:01] patnolan opened #6115 "Nuget update with PackageReference package management format not working"
Hi, I'm using the PackageReference package management format available in VS2017 rather than packages.config.

The Nuget restore command works fine, however, the Nuget update seems to be searching from projects that have a packages.config even though I'm explicitly providing the .sln file

The command I'm using is

\NuGet\4.0.0\x64\nuget.exe update "Test.sln"

The output I get is

Scanning for pro

[2017-10-30 08:16] Daniel-Svensson opened #6116 "PackageReference does not work correctly with ClickOnce publishing"
I am I bit unsure about where to add this issue, so it this is the wrong place please move it to the correct repository.

## Details about Problem

I've been trying to update som of our existing projects to use the new PackageReference format to include nuget packages. One of them is a WPF application using ClickOnce.
We been able to use workarounds found to make all project compile and run with t

[2017-10-30 08:19] AndyTian-Devops commented on #6020
@mishra14 @rrelyea we verified this issue on latest 4.5.0rtm, this issue not repro.

[2017-10-30 12:15] verysimplenick commented on #5941
I confirm this. Fixed :)
Thanks @mishra14

[2017-10-30 14:54] tjsimmons commented on #6040
The steps I gave are basically it. I can, later tonight, upload a test package to NuGet if needed.

And, my work blocks uploading pictures so I'm going to try and attach from my mobile. The one that details what happens is the one showing the Solution Explorer. The three Microsoft.VisualStudio DLLs are placed in the root of the solution once the package is added.

[2017-10-30 14:56] tjsimmons commented on #6040
Okay. I added the pictures to the end; they give the workflow and detail the issue.

[2017-10-30 14:59] JohanLarsson commented on #6035
Here is a repro using https://www.nuget.org/packages/Microsoft.CodeAnalysis.Analyzers/
[ClassLibrary1.zip](https://github.com/NuGet/Home/files/1427630/ClassLibrary1.zip)

Steps to reproduce:
1) Update-Package Microsoft.CodeAnalysis.Analyzers
2) Check the project file.
The rows:
[code]
Are deleted and not replaced with rows pointing to the updated package.
`packages.config` is updated.

@rrelyea I

[2017-10-30 15:06] Gabby-Paolucci commented on #1209
Is there any word on restoring this functionality?

[2017-10-30 15:07] robbyls commented on #3987
It doesn't work for the case that dependencies are managed by packages.config file. I have a project which depends on another package, and the package has dependencies on some standard libraries such as NLog. Running "nuget restore" to either solution or project only brings the direct dependencies back.  After spending days to try and investigate, I gave up.   It is a basic feature in Maven but no

[2017-10-30 16:50] jainaashish commented on #6040
@tjsimmons please upload a test package to NuGet which depict this issue.

[2017-10-30 17:00] zhili1208 commented on #3987
@robbyls this looks like a bug, could you file a bug for this and provide more details there(repro steps, nuget versions, etc...)

[2017-10-30 17:25] anangaur opened #6117 "[Pack] Warn/Error if the URLs in the package metadata does not have 'https'"
Anything that brings in a content served on NuGet.org package page should have a 'https' URL.

Error cases:
1. IconURL

Warnings:
Any other URL like project URL, license, URL in the description, etc.

[2017-10-30 17:33] nguerrera opened #6118 "dotnet pack doesn't build when "Generate NuGet Pkg on Build""
_From @robertmuehsig on October 29, 2017 21:28_

The documentation tells me that "dotnet pack" should build the project (https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-pack?tabs=netcore2x)

Unfortunatly this behaviour is missing if I enable the "create nuget package on build":

![image](https://user-images.githubusercontent.com/756703/32148454-975bd2b0-bcf7-11e7-8b36-f08b26a20f63.png)

[2017-10-30 17:51] anangaur commented on #6118
"Generate NuGet Package on build" is a build property and `dotnet build` should create the NuGet package by calling pack target in MSBuild.

`dotnet pack` should just work with/without the  "Generate NuGet Package on build" property

[2017-10-30 17:57] anangaur commented on #6118
Tried the scenario now and it indeed is a bug.
1. Do not set  "Generate NuGet Package on build" property and `dotnet pack` works fine
2. Set the property and  `dotnet pack` **does not** work.

[2017-10-30 18:10] rrelyea commented on #6084
Closing now, as it appears to be fine. Please let us know if you still are hitting this problem.

[2017-10-30 18:10] #6084 closed, assigned to nobody

[2017-10-30 18:11] rrelyea commented on #6080
these msbuild properties are not ours. So it is understandable that it didn't stop nuget.
Let's close this issue, as fundamentally, we shouldn't ever need to do this.

[2017-10-30 18:11] #6080 closed, assigned to nobody

[2017-10-30 18:16] rrelyea commented on #6081
@bradwilson  - from the screenshot it looks like one is not allowed to change the versions, but they are allowed to see the different versions installed. Is that correct?

[2017-10-30 18:18] rrelyea commented on #6082
We have passed this info to the symbolsource folks, but haven't gotten a response.

[2017-10-30 18:20] rrelyea commented on #6083
@kzu @ericstj  - can one of you help us understand how to improve our docs for this?

[2017-10-30 18:22] #6066 closed, assigned to nkolev92

[2017-10-30 18:24] rrelyea commented on #6085
Sounds like we need to fix get-package -updates to be like our PM UI.
Perhaps we update the UI to understand transitive dependencies and how we should list installed and updated ones...but we didn't make updates to PMC.

@jainaashish

[2017-10-30 18:26] rrelyea commented on #6086
@mishra14 - please update details of VS and .NET Core that you weren't able to repro with. And find out which ones @karann-msft used too.
Likely related to #6085 -- we might have another packageref problem in PMC.

[2017-10-30 18:33] rrelyea commented on #6088
We need to determine what is the appropriate behavior for reinstall is in PR.

[2017-10-30 18:35] rrelyea commented on #6092
overtime, we believe that dotnet.exe will be replacing nuget.exe.
Given that, this is a low priority issue that will likely not get addressed.
Please give us feedback on all things dotnet.exe, so we can make sure that it meets your needs over time.

[2017-10-30 18:37] nkolev92 commented on #6105
Closed in the PR, reopening till the NuGet fix is in a VS branch.

The fix is merged in NuGet we just need to go through the process of getting it into VS.

Will notify when that's done.

[2017-10-30 18:38] rrelyea commented on #6096
@dtivel  - When you are done with this, let's discuss whether to fix in nuget.exe only, or VSIX as well. ANd which releases...

[2017-10-30 18:41] rrelyea commented on #6097
looks like a good error clean up opportunity.

[2017-10-30 18:43] #6020 closed, assigned to mishra14

[2017-10-30 18:48] mishra14 commented on #6082
Folks, please see https://github.com/NuGet/Home/issues/6101 for a potential fix to this problem.

[2017-10-30 18:52] jainaashish opened #6119 "NuGet PMC makes VS crash"
As soon as I press enter in PMC window, it crash.

VS version - 15.5 preview2

Steps:
1. Create a new asp.net core app
2. open PMC window and press enter

[2017-10-30 18:53] rrelyea commented on #6108
thanks @joelverhagen  for your answer. (although i'm a bit confused how we refer to client APIs versus v3 APIs -- probably need a better name than "v3" for server provided APIs).
Closing as question, as this seems well handled.

[2017-10-30 18:53] #6108 closed, assigned to joelverhagen

[2017-10-30 18:54] anangaur commented on #6082
@mishra14 that's not a fix to the problem but rather a way out to not **fail** CI builds on secondary push to SymbolSource.
However, the auto-push experience is **not right** especially in **failure** scenarios. There is another proposal to disintegrate the current overloaded `push` to just do an atomic operation of pushing packages to one source: https://github.com/NuGet/Home/issues/6113
If we im

[2017-10-30 18:55] jainaashish commented on #6085
@karann-msft PMC shows packages from 2 projects (webapplication1 and classLibrary1) where as PM UI is at project level. could that be the difference?

[2017-10-30 18:57] rrelyea commented on #6109
Credential Provider does not work on DotNet.exe today. This is a known backlog issue #5447

[2017-10-30 18:57] #6109 closed, assigned to nobody

[2017-10-30 19:01] rrelyea commented on #6112
Would love to know impact and importance of this issue. Can you fill in some more details?

[2017-10-30 19:06] rrelyea commented on #6114
Although the title says edge case, no-op is important enough to make this issue a p1 backlog issue.

[2017-10-30 19:08] joelverhagen commented on #6108
Yeah, naming is a bit tricky here. I personally refer to the HTTP endpoints/API surface area as the "V3 API". The client SDK is "3.x" or "3.x and newer". I don't know if this is widely accepted but it seems clear to me.

[2017-10-30 19:35] nkolev92 opened #6120 "Use CPS Async APIs to resolve references."
Consequence of internal issue 504715.

Per internal e-mail thread.
From Lifeng Lu:
[code]

This task is to address getting the references as per the following stack:

\|     nuget.packagemanagement.visualstudio.dll!NuGet.PackageManagement.VisualStudio.VsCoreProjectSystemReferenceReader+<GetProjectReferencesAsync>d__.MoveNext | 18 | 2,082
-- | -- | --
\|     +vcproject.dll!CVSReference::get_Resolve

[2017-10-30 20:55] karann-msft commented on #6085
@jainaashish no, that's not it. The packages that the PMC is reporting, do not show up in either project as updates, or even installed for that matter, when viewed using PMUI.

[2017-10-30 21:11] bradwilson commented on #6081
That's right. The Update tab does not offer updates (which is the correct
behavior).

[2017-10-30 21:29] lukepuplett commented on #6109
Hey thanks.

1. Yes I am. I don't know if it should have credentials or not. I don't know how auth really works. It runs fine for me in VS and locally using `dotnet` command line but we're running on a VSTS build server so I don't know how its designed to work.

2. The exact command was:

`.\src\NuGet.exe restore .\src\PamplemousseLib\Pamplemousse.csproj -ConfigFile .\src\NuGet.Config`

It seems t

[2017-10-30 21:30] mishra14 commented on #6020
@evil-shrike looking at the call stack, that seems to be the same issue.

This has been inserted into VS and will be available as Visual Studio 2017 15.5 Preview 3.

[2017-10-30 21:43] joelverhagen commented on #6112
Sure! The goal here is to allow custom client code (e.g. other people using the 3.x/4.x client libraries) and future official client code to better handle HTTP responses. Potential scenarios include:

1. `ETag`: great for detecting if a HTTP resource has changed.
1. `Content-Length`: determine the size of an HTTP response body before committing to download it.

When investigating https://github.co

[2017-10-30 22:29] katelmaroney opened #6121 "Builds non-deterministically failing with new version of nuget"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): nuget.exe

NuGet version (x.x.x.xxx):

dotnet.exe --version (if appropriate): net46

VS version (if appropriate): 15.4.1

OS version (i.e. win10 v1607 (14393.321)):

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

1.  Attempting to build

[2017-10-30 22:39] #6112 closed, assigned to nobody

[2017-10-30 22:43] emgarten commented on #6083
The current guidance is that packages should put all RID specific assemblies in the same package instead of splitting them up.

I don't believe there are docs on how to use runtime.json for this currently. There have been concerns raised about it being used out side of the System.* packages.

@ericstj @davidfowl should runtime.json be documented for splitting up packages?

[2017-10-31 00:08] mishra14 commented on #6086
I re-read the logs. The message is for another project in the solution - ClassLibrary1. The actual installation occurs for WebApplication1.

You can use the `ProjectName` option to filter down to one project.

Let us know if you feel this should be reopened or if you propose a UI change.

[2017-10-31 00:08] #6086 closed, assigned to nobody

[2017-10-31 00:17] emgarten opened #6122 "Restore target should return a status item"
Related to https://github.com/Microsoft/msbuild/issues/2677

The restore target should return an item containing the status of restore. Specifically this should provide a way to tell if the props/targets files changed during restore.

This could be done by checking the timestamps before and after, or by actually passing this information up from each restore.

Consider also if this should be provid

[2017-10-31 00:45] jainaashish commented on #6110
Merged with 0fbcad9aa780dd8e550d5f752eb2010bae8e64f3

[2017-10-31 00:45] #6110 closed, assigned to jainaashish

[2017-10-31 04:00] emgarten commented on #6115
NuGet.exe update does not support PackageReference.

I've opened https://github.com/NuGet/docs.microsoft.com-nuget/issues/542 to track improving the docs around this.

You can use floating versions to automatically update packages: https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files

For NETCore SDK projects you can use `dotnet add` to change the version of

[2017-10-31 04:00] #6115 closed, assigned to nobody

[2017-10-31 04:10] emgarten commented on #6116
I'm not familiar with ClickOnce. At a high level restore writes out assemblies that should be included in the build to project.assets.json. These entries are then turned into MSBuild reference items by the build SDK.

My guess is that the reference items created are not set with the metadata that ClickOnce is looking for when deciding if they should be included in the output.

I suggest looking at

[2017-10-31 04:10] #6116 closed, assigned to nobody

[2017-10-31 04:13] emgarten commented on #6119
Is this perf because the window isn't loading fast enough? This seems like a bug to me.

[2017-10-31 04:18] jainaashish commented on #6119
it's a performance bug since it was a crash and more importantly a regression so should be investigated asap.

[2017-10-31 04:19] emgarten commented on #6121
@katelmaroney can you provide some additional details on this?

The error you included indicates that the project did not have `net46` as in the `TargetFramework` or `TargetFrameworks` property. When you look at `obj\project.assets.json` what targets are listed?

Is there any indication as to what causes your build to change when this occurs?

It is likely that something else is changing how your

[2017-10-31 04:20] emgarten commented on #6119
@jainaashish thanks, setting this to pri 0.

[2017-10-31 05:08] patnolan commented on #6115
Thanks @emgarten the problem with floating versions is that when developers add a package to a project or update the version of an existing project via Visual Studio, unless they remember to open the project file in notepad and apply a floating version it won't automatically be updated during the build process. Floating versions have to be manually applied.

This is quite a risky practice even wit

[2017-10-31 05:41] emgarten commented on #6115
What is the risk here over running a command to update the version? What would go wrong that wouldn't be immediately noticed?

[2017-10-31 06:14] davidfowl commented on #6083
The caveats need to be explained, but we should document it.

@conniey The downside is that the consumer of your package has to specify which RID they want to get assets for at restore time.

[2017-10-31 06:18] patnolan commented on #6115
As we currently run a Nuget Restore step prior to our solution build step, it makes sense to also run a Nuget Update step for the solution. This would update all packages for all projects associated with the solution based on the provided Feed url.

With the Nuget Restore step if a developer adds a package to a project the build will automatically restore and handle this change. No other manual in

[2017-10-31 09:33] GanesanRengasamy commented on #6106
Hi @mishra14

Thanks for the update.

We have automated the NuGet restore process in our build server while compile our source application and we have faced some problem because of this "NotFound" message.

So, please suggest the solution/workaround for avoid the "NotFound" message in the output.

Thanks,
Ganesan R.

[2017-10-31 14:02] loekd opened #6123 "Adding <GeneratePackageOnBuild>true</GeneratePackageOnBuild> causes build errors."
## Details about Problem
Adding `<GeneratePackageOnBuild>true</GeneratePackageOnBuild>` to the csproj file causes many errors to be generated during build.

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
NuGetizer 3000

NuGet version (x.x.x.xxx):
0.2.1

dotnet.exe --version (if appropriate):
2.0.2

VS version (if appropriate):
15.4.1

OS version (i.e. win10 v1607 (1

[2017-10-31 14:19] thorgeir commented on #5921
I managed to to fix this in my project.

In my project, the nuget-project referenced a projectA that referenced projectB
I was getting duplicate errors for projectB

in projectA.csproj I added `<Private>true</Private>` in the `<ProjectReference>`  node for projectB

Hope this helps someone.

[2017-10-31 15:19] hickford commented on #4062
A kind soul had the patience to dig into the code and write up their findings. Thank you!  https://daveaglick.com/posts/exploring-the-nuget-v3-libraries-part-1

* * *

It's linked from https://docs.microsoft.com/en-gb/nuget/reference/nuget-client-sdk

[2017-10-31 15:41] tjsimmons commented on #6040
@jainaashish Package has been uploaded. https://www.nuget.org/packages/tjsimmons.github.6040/1.0.0

[2017-10-31 16:03] ohadschn opened #6124 "Update nuspec.xsd to include id regex"
The [schema](https://docs.microsoft.com/en-us/nuget/schema/nuspec#general-form-and-schema) doesn't seem to impose any restrictions on them (even though [XSD regex patterns are possible](https://msdn.microsoft.com/en-us/library/ms256481)). The [docs](https://docs.microsoft.com/en-us/nuget/schema/nuspec#general-form-and-schema) only say _"IDs may not contain spaces or characters that are not valid f

[2017-10-31 16:14] jp2masa commented on #6118
This is likely by design (https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Build.Tasks.Pack/Pack.targets#L38), probably adding Build as a target dependency causes a circular dependency (after `Build`, `Pack` is called, which would call `Build`).
Anyway, this is definitely a bug and it can probably be fixed.

[2017-10-31 16:27] kraigb commented on #4062
Work is in progress, see https://github.com/NuGet/docs.microsoft.com-nuget/pull/539.

[2017-10-31 16:42] jainaashish commented on #6040
I looked at this nupkg, since these 3 dlls are added under `content` folder inside this nupkg hence it's adding these directly under project. So if you remove the content folder then it should work fine.

[2017-10-31 16:59] emgarten commented on #6123
@kzu

[2017-10-31 17:01] emgarten commented on #6124
This issue was moved to NuGet/docs.microsoft.com-nuget#543

[2017-10-31 17:08] tjsimmons commented on #6040
Good catch. I've tried this with a nupkg without that content folder, but encountered the same thing. I now think it's a caching issue - I uploaded, to our local repo, a version with an incremented ID and it behaved as expected.

How would I modify the nuspec to exclude those files, so I don't have to manually edit the archive every time? Every method I've tried didn't work.

[2017-10-31 17:52] anangaur opened #6125 "PM UI does not refresh the sources list on re-launch of the window"
Steps:
1. Have more than 1 NuGet sources in the nuget.config file
2. Open PM UI window
3. It shows the 2 sources
4. Manually edit the nuget.config to modify the sources
  * Add one more source
  * Remove/Disable a source
  * Edit the source
5. Save the NuGet.config file
6. Close the PM UI
7. Relaunch the PM UI window

**Expected:** The changes in source should be reflected in the PM UI window.

**

[2017-10-31 17:55] ohadschn commented on #6124
@emgarten does the schema (XSD) update part also fall under doc changes?

[2017-10-31 18:18] tjsimmons commented on #6040
Nevermind - apparently, an empty `<files>` element does the trick. Thanks, @jainaashish

[2017-10-31 18:18] #6040 closed, assigned to nobody

[2017-10-31 18:47] emgarten commented on #6105
Fix is in VS 15.5

[2017-10-31 18:47] #6105 closed, assigned to nkolev92

[2017-10-31 18:48] clairernovotny commented on #6105
Thanks, looking forward to the next preview!

[2017-10-31 19:06] emgarten commented on #6125
Duplicate of https://github.com/NuGet/Home/issues/1538

The fix for this is to reload the shared nuget settings in VS. Closing and re-opening PMC has no impact on this.

[2017-10-31 19:06] #6125 closed, assigned to nobody

[2017-10-31 19:12] jainaashish commented on #6119
It came out to be the issue with an old version of Microsoft.Internal.Performance.CodeMarkers.dll being loaded. Removing that, fixes this issue. So we can close it.

[2017-10-31 19:12] #6119 closed, assigned to nobody

[2017-10-31 19:13] anangaur commented on #1538
We should fix this IMO.

[2017-10-31 19:26] emgarten commented on #6124
Saw the link the docs for the schema, didn't see it was also in the client repo. I've opened this.

Would you be willing to send a PR to update the schema and verify that it works with the change you mentioned?

[2017-11-01 10:54] AlexisColes opened #6126 "Feature Request: config file transform redirect configuration"
We have a custom configuration transform process which means that the web.config/app.config file that we use as a source is actually called web.seed.config/app.seed.config.  This allows us to use tokens in our config files that get replaced on build/deploy time depending on msbuild args.

It would be great if we could have a way of adding configuration to nuget to allow us to map transforms that t

[2017-11-01 14:23] sam-wheat opened #6127 "Can not run most recent version of nuget package"
I made an update to a nuget package I authored and pushed it to the nuget server.
I updated a project I'm working on to use the new version of the package.  However when I step through my code I see I'm still running the old version of the package. I opened windows explorer and looked at the .dlls in the package folder and confirmed they are the correct version.

How I've tried to fix this:
Ran up

[2017-11-01 20:46] xavier-rigau opened #6128 "nuget VS 2017 DLL using profile 259"
Profile 259 is listed [here ](https://portablelibraryprofiles.stephencleary.com/) says the Nuget Target is `portable-net45+win8+wpa81+wp8` but when using WireShark to see the traffic between VS2017 and our Nexus server (see attachment) it asks for` portable45-net45+win8+wp8+wpa81`

Note the extra **45** after `portable`!

[Wireshark extract](https://github.com/NuGet/Home/files/1435640/Nuget.Bug.zi

[2017-11-01 20:53] sfatz opened #6129 "Cannot package using NuGet pack, even with what appears to be a properly created packages.config"
Details about Problem:
I am unable to successfully package a file using NuGet pack for a specific project on a specific computer.  This used to work fine from my computer, but no longer does.  I can still pack some projects, just not the specific one I am working on.  I can completely delete the entire project, and pull it back down from our source control environment, and it still will not work.

[2017-11-01 20:57] xavier-rigau opened #6130 "NuGet pack should validate that dependency group TFMs do not contain duplicates"
[HP.Pdsmq.Xamarin.2015.nuspec.zip](https://github.com/NuGet/Home/files/1435654/HP.Pdsmq.Xamarin.2015.nuspec.zip)

In the nuspec the follow TFN are supposed to be the same

[code]
The package created after running **nuget pack** doesn’t have the 3rd line. If nuget.exe this it is the same TFN why doesn’t it error or warning?
[code]

[code]

[2017-11-01 21:03] dagood opened #6131 "ArgumentNullException when restoring project.json file using RestoreRunner C# API"
## Details about Problem

NuGet product used: `NuGet.Commands` package, version `4.3.0` inside a custom MSBuild custom task

Worked before in `NuGet.Commands` `4.3.0-preview2-4095`

## Detailed repro steps so we can see the same problem

Create a `RestoreArgs` for a project.json and pass it to `RestoreRunner.RunAsync` in C# (see [EncryptedConfigNuGetRestore.cs](https://github.com/dotnet/buildtools

[2017-11-01 21:18] xavier-rigau opened #6132 "nuget push alters file name and renders unusable from VS"
1.  When I try to install the package from my desktop **(local file)** it works and the dependencies displayed in VS make sense

![vs image 1](https://user-images.githubusercontent.com/11412909/32298038-5849e5b2-bf0e-11e7-93b9-c4622e8136b5.jpg)

2.  Once we push this package to our Nexus server (Nexus Repository Manager OSS 2.14.1-01) the package changes name and has a dash (‘-‘) instead of a dot

[2017-11-01 21:26] emgarten commented on #6126
@AlexisColes are you able to run these transforms as part of a pre-build MSBuild target?

[2017-11-01 21:28] emgarten commented on #6127
@sam-wheat are you overwriting the same version of the package on the server?

[2017-11-01 21:29] sam-wheat commented on #6127
No

Sent from my Windows Phone
________________________________
From: Justin Emgarten<mailto:notifications@github.com>
Sent: ‎11/‎1/‎2017 2:28 PM
To: NuGet/Home<mailto:Home@noreply.github.com>
Cc: sam-wheat<mailto:sam.wheat@outlook.com>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [NuGet/Home] Can not run most recent version of nuget package (#6127)

@sam-wheat<https://github.com/sam-w

[2017-11-01 21:31] emgarten commented on #6128
The format of a TFM is `{framework}{version}-{profile}`

For portable the version is optional and typically excluded, but it is not incorrect to have it. Nexus server should be able to handle parsing these TFMs correctly.

[2017-11-01 21:34] emgarten commented on #6132
@xavier-rigau this looks like a bug in Nexus if the response from Nexus is wrong.

Older versions of NuGet did not support pre-release labels that start with numbers. This is likely causing the issue. I would expect that Nexus would reject this package when pushed if it is not supported, but it seems this is not being validated.

[2017-11-01 21:42] emgarten commented on #6129
@sfatz has the project been restored? Does it build correctly? I would this error if pack is unable to find the dependency packages on disk.

[2017-11-01 21:47] emgarten commented on #6130
Adding a check for this to the pack analysis rules seems useful.

[2017-11-01 21:56] emgarten commented on #6131
This isn't really used in NuGet anymore, it was meant for discovering standalone project.json files from disk which isn't a supported scenario now. We are currently just using this in tests still.

We would accept a PR for this, or maybe having your own implementation is a better approach since this is effectively dead in NuGet.

[2017-11-01 21:56] #6132 closed, assigned to nobody

[2017-11-01 22:00] xavier-rigau commented on #6128
What should be the path forward @emgarten ?

[2017-11-01 22:03] xavier-rigau commented on #6132
I am not using any pre-release label. Have you examined the Wireshark traffic? Is it definitely a Nexus issue? If so how do I proceed?

[2017-11-01 22:06] dagood commented on #6131
Thanks, at this point I agree it's best for us just to use the workaround in our code. This lets us stay on the stable version of the package and avoids causing problems for others if a fix has some other effects. We also have a plan to stop using project.json for this task anyway, in the long run.

[2017-11-02 01:18] emgarten commented on #6132
I was basing this on:

It is also common that errors in the feed break the UI, since everything shown in the UI came from the feed. When using a local folder there is no feed involved and NuGet reads everything directly. So if this were a nuget issue it would likely happen for local also. The nature of the problem is that it breaks when doing something old nuget 2.x cannot handle, and that is very

[2017-11-02 01:21] emgarten commented on #6128
Where is this a problem? Is nexus having a problem with this?

[2017-11-02 01:22] emgarten commented on #6131
Thanks for raising the issue, I'm going to close this out since it seems like we are not going to take action it. Let me know if anything changes!

[2017-11-02 01:22] #6131 closed, assigned to nobody

[2017-11-02 01:23] emgarten commented on #6127
Use `nuget.exe locals -clear all` to clear your caches. Delete any local package folders, it is likely that you have an older version of the package that is getting used.

[2017-11-02 01:31] jnm2 commented on #5752
I want to be able to use `<NoWarn>` to suppress this and similar warnings:

![image](https://user-images.githubusercontent.com/8040367/32305420-dc35d812-bf4b-11e7-9536-fa4897c41e8e.png)

`<NoPackageAnalysis>true</NoPackageAnalysis>` is a bad solution because it hides any new kinds of problems that might crop up.

I wish `Pack` targets had been considered in the scope of https://github.com/NuGet/Ho

[2017-11-02 03:20] xavier-rigau commented on #6132
Thanks. The package was pushed as HP.Pdsmq.Xamarin.2015.6.0.1.26.nupkg. I don't know what, where and when it became HP.Pdsmq.Xamarin.2015-6.0.1.26.nupkg. Looks like you are stating is a Nexus bug. Where do I submit this bugs?

[2017-11-02 07:28] patnolan commented on #6115
I @emgarten I don't understand why this issue was closed when there was no solution or roadmap offered for resolution?

I'm aware of so many companies that have run into this issue in the real world. I'm wondering if the Nuget team have got there heads around it?

[2017-11-02 08:35] v-luzh commented on #4861
Still repro on D15Rel 27031.01+NuGet Client Release-4.5.0-RTM 4580. So we filed a new internal bug 518664 to track. Please have a look, thanks.

[2017-11-02 12:38] OliverRC opened #6133 "-Reinstall with a Package ID re-installs ALL packages."
## Details about Problem

NuGet product used (Package Manager Console):
NuGet version: 4.3.0.4406
Command: ```Update-Package -Id <packageName> -reinstall```
VS version: VS 2017 (15.4.1)

## Issue

It does not respect the package Id and re-installs everything.

[2017-11-02 14:18] sfatz commented on #6129
@emgarten The package does build correctly.  I have in fact verified that the *.nupkg files are on the local disk.

[2017-11-02 17:18] unniravindranathan-okta opened #6134 "Package Manager shows "ghost" update notifications"
Repro steps:
a) Clone the repo from https://aka.ms/eshopuwp/src
b) Open this solution, change configuration to x86 and do a full rebuild.
c) Open the package manager UI

Observed: Both the Browse and Installed tabs show artifacts for updates available, as in the attached screenshot.
Expected: They should not.

![nugettabs](https://user-images.githubusercontent.com/5762284/32340183-1f129204-bfb7-11

[2017-11-02 17:36] radical opened #6135 "Git tags corresponding to nuget versions for `NuGet.BuildTasks`"
I can't find any git tag corresponding to the nuget versions released for `NuGet.BuildTasks`. Is there another
way to find the commit hash used for building a particular nuget version?

[2017-11-02 17:51] emgarten commented on #6132
@xavier-rigau from searching around it looks like nexus issues are here: https://issues.sonatype.org/projects/NEXUS/issues/NEXUS-11435?filter=allopenissues

[2017-11-02 18:05] emgarten commented on #6115
`NuGet.exe update` does not support PackageReference. Use `dotnet add` to update the version from the command line, or supply the version from an MSBuild property.

For help with floating versions see https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files
Example: `<PackageReference Include="NuGet.Versioning" Version="4.*" />`

For general help on how to use Nu

[2017-11-02 18:05] gameman15 commented on #545
+1  I have a SQL server CLR project and not being able to use NuGet to manage packages for it is absurd.

[2017-11-02 18:27] emgarten commented on #6135
@radical https://github.com/nuget/nuget.buildtasks the repository, or for `nuget.build.tasks` the restore task?

Just want to clarify on these very similar names first :smile:

[2017-11-02 18:28] emgarten commented on #6133
@OliverRC does it help to add `-IgnoreDependencies`?

Are the other packages being re-installed dependencies of the package you referenced?

[2017-11-02 18:43] radical commented on #6135
Oh, I had mixed up the two. The *nuget* I was referring to was for the restore task stuff. And that changes my question a bit.

IIUC, https://github.com/dotnet/cli/blob/release/15.5/build/DependencyVersions.props#L19 is used as the version to use for the nuget - `NuGet.Build.Tasks` (for the restoretask).

Similarly:

1. Where is the `Microsoft.NuGet.Build.Tasks` assembly+targets (built from the ht

[2017-11-02 19:16] emgarten commented on #6135
Use the branch `release-4.5.0-rtm` from https://github.com/nuget/nuget.client

[2017-11-02 19:21] sam-wheat commented on #6127
@emgarten Thanks Justin.  I did seventy-one Hail Marys and reinstalled Visual Studio.  I'm not sure which one worked.

[2017-11-02 19:21] #6127 closed, assigned to nobody

[2017-11-02 19:24] radical commented on #6135
um that is for the `NuGet.Build.Tasks.RestoreTask`(etc), and I already get the version that a VS release would use from https://github.com/dotnet/cli/blob/release/15.5/build/DependencyVersions.props#L19 (using the appropriate branch for the VS release).

But I was asking about:

1. Where is the `Microsoft.NuGet.Build.Tasks` assembly+targets (built from the https://github.com/nuget/nuget.buildtasks

[2017-11-02 19:51] emgarten commented on #6135
@tmeschter would you answer @radical's question on NuGet.BuildTasks tagging?

[2017-11-02 19:55] emgarten commented on #6134
I don't see any conditions on the configuration in the csproj files. It is unclear why this is happening.

[2017-11-02 21:34] ksmithRenweb commented on #6020
@mishra14 Can we have a servicing release on 15.4 for this issue?

It is being a royal pita and nuget command line only partially works around it for me.

Thanks.

[2017-11-02 23:04] anangaur opened #6136 "Text incorrect in the "Consolidate" tab (PM UI)"
1. Create a solution with multiple projects referencing different versions of a package **but not the latest** version.
2. Go to "Manage NuGet packages for Solution.."
3. Go to consolidate tab
4. The recommended version to install for all projects is the highest version of the package that is installed in the solution across projects.

**Expected**: The text should say: "Recommended latest \<versi

[2017-11-02 23:27] AArnott commented on #6121
We are not setting `/p:TargetFramework=` at the command line. The build steps are exactly the same between the passing and failing cases.
You can see the `obj\Microsoft.ServiceHub.HostLib\project.assets.json` for [a failing case](https://devdiv.visualstudio.com/DevDiv/Connected%20Experience/_build/index?buildId=1093102&_a=summary&tab=artifacts) and yet a very similar commit [built successfully](ht

[2017-11-03 00:42] azchohfi opened #6137 "SLN file format detection is not same as msbuild's"
## Details about Problem

NuGet product used: NuGet.exe

NuGet version: 4.3.0.4406

OS version: Windows 10 v16299

Worked before? If so, with which NuGet version: No

## Detailed repro steps so we can see the same problem

1. Try to execute a nugget restore like this:
.\nuget.exe restore BarcodeScanner.sln

2. If the SLN file starts with a empty blank lines (supported in msbuild), the nuget.exe th

[2017-11-03 01:13] emgarten commented on #6137
Interesting scenario, NuGet has always used the msbuild libraries to read solution files so I am surprised that this is different.

@azchohfi any reason whitespace at the beginning of a solution file *should* be supported? How did this file get created like this?

I can understand wanting parity, but since this has never been supported could you help me understand why it should be fixed now so I c

[2017-11-03 01:16] #6128 closed, assigned to nobody

[2017-11-03 01:18] emgarten commented on #6126
All customized actions like this should be handled through msbuild or some other means. I'm not sure that nuget should handle all XML transforms for things that are not related to nuget or packages, but I do appreciate the suggestion.

Please let me know if there is a reason this needs to be done in nuget and not msbuild.

[2017-11-03 01:18] #6126 closed, assigned to nobody

[2017-11-03 03:32] #5850 closed, assigned to nobody

[2017-11-03 03:32] #5891 closed, assigned to nschwerzler

[2017-11-03 03:32] #5892 closed, assigned to nobody

[2017-11-03 03:32] #5893 closed, assigned to nobody

[2017-11-03 03:32] #5900 closed, assigned to nobody

[2017-11-03 05:04] youngerier opened #6138 "NuGet.exe pack includes assets that come from props/targets from other packages"
when i try make a nuget package   i use nuget.exe
![image](https://user-images.githubusercontent.com/10486543/32360857-c61ab8b4-c094-11e7-8cce-0f6d27b1d4fc.png)
 my project has 3 reference
![image](https://user-images.githubusercontent.com/10486543/32360875-e9f437f6-c094-11e7-86df-895e7e08d426.png)
when i run nuget  pack *.csproj
![image](https://user-images.githubusercontent.com/10486543/32360897

[2017-11-03 05:07] youngerier commented on #6138
here is nuget information
[code]

[2017-11-03 05:19] davkean opened #6139 "NuGet.ProjectModel reads column/line information producing 15 MB of unneeded garbage"
In large solutions, allocating the LineInfoAnnotation object in NewtonSoft.Json is producing about 15 MB (0.3%) of garbage:

![image](https://user-images.githubusercontent.com/1103906/32361248-92271016-c0b2-11e7-9565-a5acc0d9c51d.png)

We shouldn't need the line info for build tasks - can we have an option to turn it off or turn it off always.

[2017-11-03 05:38] emgarten commented on #6138
@youngerier would you share your .csproj file? This looks unexpected.

[2017-11-03 05:42] emgarten commented on #6139
@jainaashish @nkolev92 I think this could be turned off for everything except project.json files. Providing specific line/column information for json files makes sense for project.json were the user is editting the file directly and needs to know where to fix it.

For project.assets.json if there is a problem it is caused by an internal issue, and there isn't much the user can do about it, even wh