[2021-04-11 21:33] Abramalin commented on #10491
I found a fix, for linux kali. Might work with other distros too...

1. Go into Synaptic Package Manager (easier :) )
2. Search for certificate
3. top one is ca-certificates
4. Select it
5. Go to package -> configure
6. Trust new certificates from certificate authorities
7. Next
8. Select all certificates
9. Next.

I was able to run

./build.sh /p:CreateBootstrap=true

All packages restored.

Hope

[2021-04-12 01:43] Chewhern commented on #10763
Thanks for letting me know extra information and knowledge, all the nuget package i built before version 0.4.0(tested just now), it has been a frustrating experience for me cuz the nuget package I built failed to locate the dll.

[2021-04-12 01:48] Chewhern commented on #10763
Thanks for letting me knowing the extra information and knowledge, the nuget package i built before 0.4.0(just tested) or 0.5.0(tested yesterday on linux vps) all failed to locate the libsodium dll. It was really a frustrating experience.

[2021-04-12 01:51] KallDrexx commented on #10199
Just to piggy back on this, here is a non-web scenario where I need this functionality.

I have a C# particle engine, and a nuget package with integrations into a specific 2d game engine.  Part of this integration is a plugin for a tool that game developers using the engine has.  This tool makes it easy to add particle effects created with the particle system and hook it up to your game objects.

[2021-04-12 07:00] Nekkiton commented on #10744
@nkolev92 I see you're responsible for some NuGet restore tasks, could you look at this thread? If we can add support of RestorePackagesConfigPath property, I can prepare PR for that.

[2021-04-12 07:33] loop-evgeny commented on #4176
Thank you, I updated to VS 16.9.3 and this specific issue is indeed fixed. However, when I switch between the NuGet package manager tabs (Installed, Updates, Consolidate) it still reloads every time, even though nothing has changed. I don't understand why it even needs to load anything for each tab separately - there is *one* list of installed packages, and once that's loaded, surely it's easy to

[2021-04-12 10:00] qx-775 commented on #10491
Bit offtopic, but for Linux users with this problem:

Fixed it on `archlinux` by installing `dotnet-sdk-bin` instead of `dotnet-sdk`. dotnet-sdk does not use the latest version but the binary version does! So make sure u run the very latest version of dotnet SDK

[2021-04-12 11:20] PawcioCNCProfi opened #10764 "How to include files that are not children of "contentFiles""
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe):

Product version:

Worked before? If so, with which NuGet version:

## Repro steps and/or sample project

### Verbose Logs

[2021-04-12 11:33] PawcioCNCProfi opened #10765 "How to include files that are not part of the "contentFiles" folder?"
I'm not sure if I understand this part https://docs.microsoft.com/en-us/nuget/reference/nuspec#including-content-files correctly but nuget assumes I have folder named "contentFiles" within my project?

I only have "icon" folder directly in folder of my project.

So, if paths in `include` attribute suppose to be relative to that folder I should be able to write following?

[code]

Unfortunately thi

[2021-04-12 15:51] mattleibow opened #10766 "Improve error messaging for projects with multiple AssemblyNames"
## Details about Problem

This is directly this issue: https://github.com/NuGet/Home/issues/5226

Just opening this issue for the simple reason that this got me for a few days as I was unable to find exactly what was causing the issues.

If there is a way to have an actual error message that could effectively mean "Unable to find unique ID for project when restoring. Either use the same AssemblyNa

[2021-04-12 16:54] tannergooding commented on #10571
https://github.com/microsoft/ClangSharp/issues/229 is another example of where native package handling could be improved.

When a RID specific package contains `ubuntu.18.04-x64`, but not `linux-x64`, then the dependency is not copied because the SDK sets the RID to `linux-x64` (even when the host is actually `ubuntu.18.04-x64`). Manually coding the RID resolution rules into an app is essentially

[2021-04-12 17:53] nkolev92 commented on #10726
Can you link a general motivation for this issue?
Ideally something on source-build side?

[2021-04-12 20:10] zkat commented on #10383
@zivkan we've moved this to customer sprint, and it sounds like Arturo is gonna try and take care of it himself :)

[2021-04-12 20:12] zkat commented on #10607
@dtivel hey I just wanted to make sure--is this still relevant?

[2021-04-12 20:17] zkat commented on #10655
We suspect your configuration on Linux might be different than the one on Windows. Can you confirm which .NET runtime you have installed on each of these? (you can get this with `dotnet --info`)

[2021-04-12 20:28] zkat commented on #10693
Not a bug

[2021-04-12 20:28] #10693 closed, assigned to nobody

[2021-04-12 20:39] zkat commented on #10714
@jebriede can you please follow up with the package recommender team to see if this is even possible?

[2021-04-12 20:45] KirillOsenkov commented on #10383
I'd be happy to help or code review if needed.

[2021-04-12 20:47] zkat commented on #10733
We should probably fail here, with a useful error message. Please make sure to remove it from `dotnet nuget trust repository`, as well.

[2021-04-12 22:32] erdembayar commented on #10733
@zkat
I realized `owner` thing is not important part ` -AllowUntrustedRoot` is ignored for ServiceIndex.
By looking at [doc](https://docs.microsoft.com/en-us/nuget/reference/cli-reference/cli-ref-trusted-signers#options-for-add-based-on-a-service-index) I believe it shouldn't fail because  ` -AllowUntrustedRoot` is in there. Can you check again?

[2021-04-12 22:40] aortiz-msft commented on #10563
@sbanni Given what we know today, is this something that we need to complete or can we close?

[2021-04-12 22:42] aortiz-msft commented on #10534
@chgill-MSFT @donnie-msft - Does this still repro in 16.10?

[2021-04-12 22:44] aortiz-msft commented on #10652
@jebriede - Would you please take a look with the Package Recommender crew?

[2021-04-12 22:45] aortiz-msft commented on #10650
@jebriede - Same as other issue related to Pkg Recommender.

[2021-04-12 23:09] aortiz-msft commented on #10393
@zivkan @sbanni - Given our stance today, do we still need to do work here?

[2021-04-12 23:10] aortiz-msft commented on #10684
Closing per last comment. Thank you for your feedback!

[2021-04-12 23:10] #10684 closed, assigned to JonDouglas

[2021-04-12 23:11] aortiz-msft commented on #10695
Closing per last comment. Thank you for your feedback!

[2021-04-12 23:11] #10695 closed, assigned to JonDouglas, dtivel

[2021-04-13 00:58] nkolev92 commented on #10744
Hey @Nekkiton,

Unfortunately I don't think we should support the `RestorePackagesConfigPath` property. It is only an intermediate in the msbuild implementation.

The msbuild version of packages.config restore is supposed to be used as a way to enable the migration to `msbuild /t:restore` for customers that have a mix of projects.
Adding the support of that property would be adding a new feature t

[2021-04-13 00:58] #10744 closed, assigned to nobody

[2021-04-13 01:22] nkolev92 commented on #10665
The warning is actually getting raised for the `snupkg` rather than the nupkg.

I don't think this particular warning should be run for snupkgs.

[2021-04-13 03:05] zivkan commented on #10393
My PR comments were basically "don't write tests that use real URLs/HTTP requests".  When dotnet.myget.org was decomissioned, we had tests break (I don't know if it was these tests, or different ones), which broke our builds and our ability to merge PRs, until we fixed it. In the last 2 weeks, we've had a test that makes requests to nuget.smbsrc.net (unrelated to codespaces) occasionally timeout,

[2021-04-13 07:40] AroglDarthu commented on #6764
I'm trying to use this preview feature on one of our solutions. Do I understand correctly that is should be working with the latest bits of Visual Studio? I am using Visual Studio Professional 2019 Version 16.9.3. The about windows says it is using NuGet Package Manager 5.9.0

What I've done:
- Add a `Directory.Packages.props` file and put all used `PackageReference` lines from the project files i

[2021-04-13 08:01] batzen commented on #6764
@AroglDarthu Inside `Directory.Packages.props` you have to use `PackageVersion` instead of `PackageReference`.
Inside your projects you have to use `PackageReference` without `Version`.

[2021-04-13 08:38] AroglDarthu commented on #6764
You're a life saver. Can't believe I misread that!

[2021-04-13 09:02] gallettoNL commented on #10704
Hi Andy,
copying the original source for NuGet.Targets did the trick!

There were differences in PackagesProjectConfig Condition and in PaddedSolutionDir Condition

Thanks!

[2021-04-13 09:31] AroglDarthu commented on #6764
Is it already possible to update a package via the CLI? My efforts thus far have resulted in updates of the project file and not the `Directory.Packages.props`.

[2021-04-13 09:40] martincostello commented on #6764
CLI and Visual Studio commands to manage packages aren't yet implemented. You need to edit them manually.

[2021-04-13 13:16] ds1709 commented on #6764
I have two project in my solution. The first one depends on `GraphQL.4.2.0` and the second one depends on `Microsoft.Extensions.DependencyInjection.5.0.1`. Both packages transitively depend on `System.Runtime.CompilerServices.Unsafe`, but the first depends on version `4.7.1`, while the second depends on version `4.5.3`. `ManagePackageVersionsCentrally` enabled. In `Directory.Packages.props` I adde

[2021-04-13 13:20] martincostello commented on #6764
what I'm doing wrong, does centrally manage should work for transitive dependencies, and, if not, than why?

It doesn't work for transitive dependencies at the moment because it isn't implemented yet.

[2021-04-13 13:26] ds1709 commented on #6764
Thanks for quick response. Is there any plans to implement it, according to this issue or any other?

[2021-04-13 13:54] tebeco commented on #6764
Well at this point it's not a transitive anymore if you want to enforce the version of it.
So you could Explicitly depend on it when you want it

This is also why there's another issue open asking for a `Feature Flipping` on Transitive resolution algorithm to allow transitive to resolve the "lastest compliant" one with the dependency tree.

And yes it "could" break ... just like anything could bre

[2021-04-13 14:21] millo-k commented on #10762
Thank you for pointing this out. Your suggestion is exactly what I was looking for.

[2021-04-13 14:21] #10762 closed, assigned to nobody

[2021-04-13 15:04] watfordgnf opened #10767 "dotnet list package --vulnerable, --deprecated, --outdated does not work for transitive-only positives"
## Details about Problem

It appears that vulnerable package listing does not work, even if it shows up on the NuGet website. I used the example found in https://devblogs.microsoft.com/nuget/how-to-scan-nuget-packages-for-security-vulnerabilities/ and could not recreate the experience.

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): dotnet.exe

Product version:
[code]
W

[2021-04-13 15:37] tebeco commented on #6764
@kalleOlaviNiemitalo, I understand it might not be convenient said like this, but one of the biggest issue I see is that if a decision is taken without a feature flag to enable / disable it, you're going to hurt lots of people.

As of today the `Transittive Resolution` is a good example of the long running problem, having a flag to choose if you want to allow something else to happen would open th

[2021-04-13 15:57] dominikjeske commented on #6764
This feature is in development quite long time – now it looks like there is no work on this so the question is – Are there any plans for releasing it? Is this approved or could never leave preview stage?

[2021-04-13 16:40] JonDouglas commented on #10767
`Microsoft.Data.OData` is a transitive package in this scenario & currently will not be reported as vulnerable in the current v1 experience. This is something we are working on adding in a future iteration once we support transitive packages throughout more tools:

https://github.com/NuGet/Home/blob/dev/proposed/2020/Transitive-Dependencies.md

If it is promoted to a top-level package, it will be

[2021-04-13 16:47] watfordgnf commented on #10767
That's a bit confusing given the examples listed:
![image](https://user-images.githubusercontent.com/47254805/114590089-514c2f80-9c56-11eb-84d7-7d3323eab3b0.png)

[2021-04-13 17:35] JonDouglas commented on #10767
Sorry that is confusing. I'll defer to @drewgillies on the behavior of "transitive" packages that support old TFMs like net40 & sl4. Ideally it should work similar to the behavior as .NET Core packages (the screenshots shown w/ UmbracoForms).

[2021-04-13 17:41] #10609 closed, assigned to erdembayar

[2021-04-13 19:40] nkolev92 commented on #10745
@heng-liu
You should make sure that the issue has correct labels and releases, otherwise it won't show up in the release notes.

[2021-04-13 21:12] jyeagle commented on #4054
I am also experiencing this issue :(

[2021-04-13 21:40] #9834 closed, assigned to chrisraygill, advay26-zz

[2021-04-13 23:19] alecStewart1 commented on #10491
Still an issue for me with

[code]

This is from the Chaotic AUR.

From the `dotnet-sdk` and `dotnet-runtime` packages from the Arch community repo, same thing:

[code]

Running the solution [here](https://devblogs.microsoft.com/nuget/microsoft-author-signing-certificate-update/#client-policy):

[code]

Changes nothing.

Uninstalling both the Arch community repo, removing the `~/.nuget/` folder, a

[2021-04-13 23:50] JonDouglas commented on #10491
@alecStewart1 Please update to .NET SDK 5.0.202 as per https://github.com/NuGet/Announcements/issues/56

[2021-04-14 00:35] nkolev92 commented on #10734
Hey @DanVev,

I was able to repro the behavior on Windows, so it's consistent. As such I've retitle the issue to make it clear it's a feature ask.

While package size is a concern, we'd need to consider how older clients may work with these new packages.

[2021-04-14 00:44] nkolev92 commented on #10741
Hey @christianwinters1989

Unfortunately this is not enough information for us to be able to investigate.

You *likely* need to just upgrade the version of the tooling you are using.
NuGet.exe 5.8, dotnet SDK 5.0.100 & Visual Studio 16.8 and later have support for the new framework.

[2021-04-14 01:21] nkolev92 commented on #10746
Hey all,
you provided a lot of the context necessary in this discussion!

It's definitely a tricky situation, let me provide some information:

### DevelopmentDependency

@jnm2 You were right on point. Things work as designed, but not ideal in the context of source generators as per the current guidelines.

Development dependency as a concept in PackageReference is *mixed* with the regular project

[2021-04-14 01:35] nkolev92 commented on #10746
Another thing that I wanted to add is that development dependencies affecting runtime is not without issues.
It was added as a consideration based on how development dependencies were used in packages.config.

[2021-04-14 01:37] nkolev92 commented on #10761
@jebriede
This is a long standing issue that talks about direct vs treanstive dependencies in the PM UI - https://github.com/NuGet/Home/issues/5887.

You can consider including/using that one.

[2021-04-14 01:38] nkolev92 commented on #10764
Hey @PawcioCNCProfi

Not sure I understand your question.

Are you trying to include files in a package?
Is it a consumption time problem?

[2021-04-14 01:39] nkolev92 commented on #10764
Dup of https://github.com/NuGet/Home/issues/10765, which contains better details

[2021-04-14 01:39] #10764 closed, assigned to nobody

[2021-04-14 01:43] nkolev92 commented on #10765
@PawcioCNCProfi

There are 2 different `files`  elements.

The `contentFiles` element is metadata. It's about defining what files in the resulting package do when consumed.
The `files` element under the `contentFiles` is used for that.

The `<files>` element under `package` is the one that you can use to include files from anywhere.

[2021-04-14 01:44] #10765 closed, assigned to nobody

[2021-04-14 01:58] jnm2 commented on #10746
@nkolev92 To clarify: this is not a runtime dependency for the development dependency tool itself to load, but for its consuming project to load.

[2021-04-14 02:20] nkolev92 commented on #10746
Yep, I think similar idea applies.

If you want to depend on a certain package, you should include it explicitly.

[2021-04-14 02:22] drewgillies commented on #10767
@watfordgnf I'm able to reproduce this bug. I'm investigating now to see whether there is a workaround (and what indeed is broken).

[2021-04-14 06:05] drewgillies commented on #10767
@watfordgnf @JonDouglas this is definitely a bug, a long standing one which has historically also affected the `--deprecated` and `--outdated` reports when only transitive dependencies are "positives". Thank you for making us aware of it, @watfordgnf, and you can track the fix by following the above PR. You'll note that there's also now test coverage for these cases.

[2021-04-14 06:53] canton7 commented on #10746
To add another data point: I've got a library which generates implementations for user-defined interfaces at runtime, using S.R.E, when the user calls e.g. `RestClient.For<IUserInterface>()`. I created a source generator backend which generated these interfaces at compile-time, which are then picked up by that same call to `RestClient.For`. The generated interface implementations can only be used

[2021-04-14 09:00] Akash-Mair commented on #6754
Ran into this problem yesterday, had no idea the project name was the problem from the error message.

[2021-04-14 09:45] v-longmin opened #10768 "[Push]The package cannot be pushed to specified local source"
## Details about Problem
VS Version: Main\31213.246
NuGet Version: Dev\5.10.0.7208
OS Version: Windows-10-Enterprise-20H1.
## Installations
1. Install VS Main\31213.246 from:  https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=4650763&view=ms.vss-build-web.run-extensions-tab
2. Install NuGet Dev\5.10.0.7208 from: \\\ddfiles\Drops\NuGet\Drops\CI\NuGet.Client\dev\5.10.0.7208\artifacts\VS1

[2021-04-14 10:09] v-luzh opened #10769 "[Pack] Confused warnings show and the whole solution had been packed incorrectly when packing a package with a nuspec file"
## Details about Problem
VS Version: Main\31213.246
NuGet Version: Dev\5.10.0.7208
OS Version: Windows-10-Enterprise-20H1.
## Repro steps
1.	Create a new C# Console Application (.net Core 5.0) project via VS.
2.	Make a nuspec file as below.
[code]
3.	Open Developer Command Prompt for VS and cd to the path of the created project.
4.	Try to pack the package with the nuspec file (e.g. dotnet pack -p:

[2021-04-14 10:58] AroglDarthu commented on #6764
Is it possible (or are there any plans for) specifying the private assets metadata in the `Directory.Packages.props`?

For instance, in my test projects I have a package reference for coverlet. Would be nice not to have to duplicate the `PrivateAssets` part in each test project when it could be mentioned once in `Directory.Packages.props`.

[2021-04-14 11:42] watfordgnf commented on #10767
Thank you for figuring this out!

[2021-04-14 13:12] AArnott commented on #10746
We want the app to "just work" after installing the source generator. If I want to add functionality to my project, and I add a package to do this, if the package opts into "disappearing" itself as a dependency because downstream users do not need _it_, why should that prevent that same package from leaving behind dependencies on other packages that *are* needed by downstream users?
I think a sour

[2021-04-14 14:32] ghost1372 commented on #9462
Hi @kartheekp-ms Sorry for the delay in reply

I attached an example project. Please create a nuget package with *.nuspec file.
After creating the package, please install it on a WPF (.Net Core) project
After installation, the script must be run and the site opened
But nothing happens
[Nuget.zip](https://github.com/NuGet/Home/files/6311503/Nuget.zip)

[2021-04-14 15:35] Chewhern commented on #10763
There's something funny that I realized only now .., the test project, I put the libsodiumdll straight into the application folder, that's why it works.., when the moment I don't put the libsodiumdll into the application folder it doesn't work anymore..

The test project actually calls random function from ASodium but the platform is actually .Net Framework 4.7.2 (C# Winform), I tested the same th

[2021-04-14 16:56] #10763 closed, assigned to nobody

[2021-04-14 17:47] crilecarvey opened #10770 ""Manage NuGet packages" from Visual Studio is not functional"
That menu option or right-click from Solution Explorer does nothing. No errors, just no response.

[2021-04-14 17:50] crilecarvey commented on #10770
Installed package manager from command line: PM> Install-Package NuGet.PackageManagement -Version 5.9.0

[2021-04-14 17:50] #10770 closed, assigned to nobody

[2021-04-14 18:09] qx-775 commented on #10491
If you make sure your distribution and package manager has at least `dotnet 5.202` at the time of writing this issue is fixed. Therefore I think it's wise close this issue.

It's sad that many distribution/package managers still package  outdated dotnet sdk's. Wish the updated sdk was available by flatpak but whatever.

[2021-04-14 18:14] nkolev92 commented on #10746
I misunderstood the part that the generated code would depend on an API from a package.

I'll try to cover the multiple parts that constitute the current reasoning:

* If you can code against a package, then that is counter to the development dependency understanding. It is mostly associated with build time dependencies.
* Include/Exclude flags are applied transitively. Say you have applied exclud

[2021-04-14 18:58] AArnott commented on #10746
What does this mean? A package self-identifies as a development dependency -- it is not designated as one by the one referencing it. So how could the same package appear as one and not as one in the same dependency graph?

Sure, if you're only thinking about the content of the package itself (excluding its respective dependencies). But then, if that made sense, the dev dependency package wouldn't

[2021-04-14 19:16] nkolev92 commented on #10766
Hey @mattleibow

What was the error that you got?
We've recently changed the error handling for bad nominations, so the problems should be in the error list now.

Obviously the root cause is not obvious.

I get

Error	NU1105	Unable to read project information for 'ConsoleApp4': Sequence contains more than one element	ConsoleApp4	C:\Users\Nikolche\Source\Repos\ConsoleApp4\ConsoleApp4\ConsoleApp4.cs

[2021-04-14 19:37] mortenftb opened #10771 "Projects that use central package version management should not define the version on the PackageReference items but on the PackageVersion"
## Details about Problem

NuGet product used dotnet.exe:
executing  _dotnet add package <somepackage>_
shows the below error and does not include the package in either Directory.Packages.props file or in .csproj

error: NU1008: Projects that use central package version management should not define the version on the PackageReference items but on the PackageVersion items: HotChocolate.
error: Packa

[2021-04-14 19:43] AraHaan commented on #10746
Perhaps the way of using source generator packages should change,

Perhaps something like this could work for source generators then:

[code]

[2021-04-14 19:43] swesonga commented on #8343
@nkolev92 is this still an issue now that myget was deprecated?

[2021-04-14 19:55] chsienki commented on #10746
Tagging in @jmarolf as he's been experimenting with some potential solutions to this problem.

Unfortunately analyzers and NuGet have never played particularly well together and this has been really exacerbated with the addition of source generators. It's not really a conscious decision, but just an outcome of the two teams working at very different levels in the stack and there being impedance mi

[2021-04-14 19:56] nkolev92 commented on #8343
@swesonga

We haven't changed the dependency, so the same behavior still persists.

[2021-04-14 20:06] nkolev92 commented on #10746
I agree. There are some pending designs for analyzers that may extend to source generators.
I think using dev dependency is doing the best that was possible with the currently available features, but that's not ideal in some of these scenarios.

[2021-04-14 20:08] nkolev92 commented on #9218
Dup of https://github.com/NuGet/Home/issues/2496.

[2021-04-14 20:08] #9218 closed, assigned to nobody

[2021-04-14 20:12] nkolev92 commented on #10769
I don't think there's a bug here.
This is an expected experience.

When packing via a nuspec, there's 2 modes:

* Convention based - https://docs.microsoft.com/en-us/nuget/create-packages/creating-a-package#from-a-convention-based-working-directory- If there's no `files` element under the package, *every* file beneath the nuspec file gets included.
* Files element based - If there's a files elemen

[2021-04-14 20:12] #10769 closed, assigned to nobody

[2021-04-14 20:16] nkolev92 commented on #10768
@v-luzh

Not sure I have enough information to repro this.

Can you post the exact commands you ran and the logs for each?

What was the directory structure of the local source prior to pushing and what was the directory structure after pushing?

[2021-04-14 20:17] nkolev92 commented on #10771
hey @mortenftb,

The dotnet CLI commands are not yet implemented for CPVM, https://github.com/NuGet/Home/issues/9014.

[2021-04-14 20:17] #10771 closed, assigned to nobody

[2021-04-14 20:30] andreesteve opened #10772 "```dotnet package add``` won't use credential provider on .NET 5 on Linux"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): dotnet

Product version: 5.0.104

Worked before? If so, with which NuGet version: no

## Repro steps and/or sample project

1. Create a simple csproj
[code]
2. Add a nuget.config for the nuget feed
[code]
3. Run ```dotnet add package <omitted>```

### Verbose Logs

#### Logs showing that ```dotnet

[2021-04-15 05:03] heng-liu commented on #10745
Thanks @nkolev92 !
Sorry that I forgot about adding labels after transferring it from Client.Engineering repo..

[2021-04-15 07:43] freerider7777 commented on #8087
dotnet list package --vulnerable does not warn about netcoreapp2.2 projects not supported?
It seems some CVE are not fixed for 2.2 as they appear after end of support like https://github.com/dotnet/aspnetcore/issues/25701

[2021-04-15 08:30] v-longmin commented on #10768
We update the repro steps on the issue, and the command and the log of pushing the package to specified local source as below screenshot.
![image](https://user-images.githubusercontent.com/40230425/114838958-cf036d00-9e07-11eb-8604-c3aef78126bd.png)

[2021-04-15 08:52] v-luzh commented on #3204
Still repro on Main\31214.245 + NuGet Client Dev\5.10.0.7208. Verification: Not repro on 16.7 GA (D16.7\30330.147), but repro on 16.8 GA (D16.8\30705.32) Reactivate the bug now, thanks.

[2021-04-15 17:17] nkolev92 commented on #10704
Closing as the original problem has been addressed and there's no further action needed.

[2021-04-15 17:17] #10704 closed, assigned to nobody

[2021-04-15 17:20] nkolev92 commented on #10716
When packing an SDK project with a nuspec, properties need to be passed through a `NuspecProperties` property.

Please refer to the following doc: https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#packing-using-a-nuspec-file

[2021-04-15 17:20] #10716 closed, assigned to nobody

[2021-04-15 17:41] aortiz-msft commented on #10768
@v-longmin - Would you please use a different "NuGet Source" destination for the "source" parameter in:
'nuget push "C:\Users\v-minlon\source\repos\Package1\Package1\Package1.1.0.0.nupkg" -Source **C:\Users\v-minlon\source\repos**'.

[2021-04-15 17:55] nkolev92 commented on #10772
Hey @andreesteve,
I think our regression label is incorrect.

The issue you linked was fixed in 5.0.2xx.

Can you please try out a newer version of `dotnet`?

[2021-04-15 17:55] #10772 closed, assigned to nobody

[2021-04-15 19:14] erdembayar opened #10773 "`dotnet nuget verify` command is not recognizing --configfile ..\nuget.config"
## Details about Problem

NuGet product used (dotnet.exe):

Product version: 5.9

Worked before? If so, with which NuGet version: N/A

## Repro steps and/or sample project
Run below command, it should honor custom nuget.config file but if throws error.
`dotnet nuget verify ..\TestSigned\TestSigned.1.0.0.nupkg --configfile ..\nuget.config`

### Verbose Logs

Specify --help for a list of available o

[2021-04-15 19:26] erdembayar opened #10774 "dotnet nuget verify command is not using the nuget.config"
## Details about Problem

NuGet product used (dotnet.exe):

Product version: 5.9

Worked before? If so, with which NuGet version: n/a

## Repro steps and/or sample project

Let we have broken/missing tag in nuget.config file, then `nuget.exe` check it before doing verify but dotnet.exe start doing verify action without checking it. I believe we should check integrity of nuget.config before doing a

[2021-04-15 21:29] #5706 closed, assigned to nobody

[2021-04-15 21:38] LittleLittleCloud commented on #8343
(Pin)
Hit the same issue here

[2021-04-16 01:03] nkolev92 opened #10775 "Nuget blocks a threadpool thread in an async method making a synchronous call to the UI thread"
[code]

This code blocks a threadpool thread (bad) inside an async operation (NuGet.SolutionRestoreManager.SolutionRestoreJob+<RestoreAsync>)  calling ErrorListTableDataSource.BringToFrontIfSettingsPermit, which uses JTF.Run (also bad)

Originally filled in [1259434](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1259434)

[2021-04-16 06:28] japj commented on #7648
is this also related to https://github.com/NuGet/Home/issues/7060 ?

i.e. if there multiple build agents running restore on packages that are not yet present in the local nuget cache you might run into this issue?

Since I believe the azuredevops build agent will have its own TEMP folder, thus locking on TEMP folder might not be correct for the nuget (global) user cache folder.

[2021-04-16 06:45] Alex2357 commented on #9539
Thanks that's what I was looking, but this is very frustrating that the command is not under dotnet nuget as the very first thing I have checked `dotnet nuget --help` and nothing is in there. Any other approaches did not like as I wanted to do via `dotnet` cmd

[2021-04-16 08:01] japj commented on #7060
@nkolev92 how will the locking in the TEMP folder interact with having multiple azure-devops build agents (that have their own isolated TEMP folders).

We see some weird "concurrency" writing problems if 2 agents perform a restore related to the same package that eventually results in a next build to fail with an "Error NU5037: The package is missing the required nuspec file."

[2021-04-16 08:07] kimdungoc commented on #2880
You save my life bro.

[2021-04-16 08:39] marcin-krystianc commented on #7060
@japj According to my findings if you have agents using their own TEMP folders but the same global packages folder then the package extraction into global packages folder is not thread safe.
Also if you look at the [implementation](https://github.com/NuGet/NuGet.Client/blob/a4c9d63bf942f1df1ba9486a87bad2e4b6888488/src/NuGet.Core/NuGet.Packaging/PackageExtractor.cs#L652-L668) it becomes clear that

[2021-04-16 09:03] v-longmin commented on #10768
@aortiz-msft We switch the local source to 'C:\PushTest', the package can be pushed successfully.
![image](https://user-images.githubusercontent.com/40230425/115000787-a9dd3000-9ed5-11eb-9100-fd1cd0d6b21a.png)

[2021-04-16 19:57] JonDouglas commented on #10734
This might be dependent on https://github.com/dotnet/runtime/issues/24271

[2021-04-16 22:50] dtivel opened #10776 "NuGet.Packaging.Extraction: exceptions from resources not found"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe):  NuGet.Packaging.Extraction (see https://github.com/NuGet/NuGet.Client/pull/3554)

Product version:  latest dev

Worked before? If so, with which NuGet version:  Yes, 5.8.0-preview.3.6804

## Repro steps and/or sample project

1.  Extract, open, restore, build, and debug this solution:  [ConsoleApp

[2021-04-16 23:20] ericstj commented on #6279
What's the state of this issue?  It seems more important now that we're adding source-generators to packages which will be treated the same way.

[2021-04-16 23:44] #10342 closed, assigned to erdembayar

[2021-04-18 16:43] le-jzr commented on #6334
Same OS version, same issue. Running in VirtualBox. The file that times out can be downloaded using wget, curl or firefox on the same system, so it's not internet connection/configuration issue. Can't try `dotnet restore` because I was unable to find a version that can be installed. And before you ask, no, I can't update the OS, I need to work with two different legacy pieces of software, one is i

[2021-04-19 07:43] HafsaShaheen commented on #3112
What do you mean by repair onVS

[2021-04-19 10:18] jamalkaksouri commented on #3112
http://stackoverflow.com/questions/32344232/unable-to-install-any-package-in-visual-studio-2015

[2021-04-19 15:36] MrTrillian commented on #6279
+1, also hitting this now that I'm porting projects to SDK-style and using `<PackageReferences>`

[2021-04-19 17:04] heng-liu commented on #10620
Progress:
Investigated the places we use interactive option in .NET Framework code path:
1.[When there are multiple certificates resolved, launch UI to select ](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Commands/SignCommand/SignCommandRunner.cs#L183-L190).
2.[When certificate has a password to access it's private key, but the password is passed to the sign command, show a

[2021-04-19 17:20] heng-liu commented on #10626
Progress:
Raised a question at https://github.com/dotnet/runtime/issues/51123
Thanks for @bartonjs  and @vcsjones's reply!

There is no telemetry. And .PEM is a popular format cross platform. And there is a big chance that people would like to use either a multi-PEM (the cert.pem+key.pem concatenation) or a separate cert.pem + key.pem.
We need to consider how to accept the key.pem.
For now, we onl

[2021-04-19 18:50] donnie-msft commented on #8418
Hit this error message today, it took 4 attempts before my build succeeded:
https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=4662944&view=results

[2021-04-19 20:01] #10775 closed, assigned to nkolev92

[2021-04-19 20:12] nkolev92 commented on #10734
This is not high on our priority list right now.

If we were to ever to this, we'd need to make sure that the sym links don't point outside of the package.

[2021-04-19 20:17] nkolev92 commented on #10774
Related to #10773

[2021-04-19 20:28] kartheekp-ms commented on #10773
Duplicate of #10011

[2021-04-19 20:28] #10773 closed, assigned to kartheekp-ms

[2021-04-19 21:10] dominoFire commented on #10706
Another hit: https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=4667107&view=ms.vss-test-web.build-test-results-tab&runId=20821490&resultId=104351&paneView=debug

[2021-04-19 21:15] chrisraygill opened #10777 "Browse results with NuGet IntelliCode Suggestions load noticeable slower than those without"
Tested in Visual Studio 16.10 preview 3 - the project level PMUI that is loading the Browse tab with suggestions takes ~1-2s longer to than the solution level PMUI without suggestions.

For reference, I recorded loading time of each for a few trials:

Trial | Control (Sol PMUI) | Experiment (Proj PMUI) | Difference (Control - Experiment) | % (Difference / Control)
-- | -- | -- | -- | --
1 | 2.26 |

[2021-04-19 21:18] chrisraygill opened #10778 "IntelliCode Package Suggestions don't show the verified checkmark or download count"
Bug found in VS 16.10 preview 3.

Browse tab package suggestions don't show the verified checkmark for packages that should have it or the download count for any packages: (compare the suggestions to the regular items below it)

![image](https://user-images.githubusercontent.com/15097183/115304679-3a647c00-a133-11eb-8868-da1e43648647.png)

[2021-04-19 23:25] jebriede opened #10779 "Tools -> Options -> NuGet Package Manager string is truncated"
Related to: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1151266

Affected Branch:
Affected Build: Version 16.7.0 Preview 4.0 [30301.268.master]
Affected Product Language:

Steps to reproduce:

1. open tools->options->NuGet Package Manager
2. observe the string in the label for "Automatically check for missing packages during build in Visual

**Expected**
the string should either end wit

[2021-04-19 23:55] donnie-msft commented on #10779
Hm, I've never seen this and was unable to reproduce it on 16.10. I tried shrinking the window, increasing font size, different resolution screens, and couldn't get this behavior.
Could you please elaborate on the repro steps? I'd be surprised if it's isolated to 16.7, but let me know if so.
![image](https://user-images.githubusercontent.com/49205731/115317206-f7150800-a148-11eb-8db0-1da1f33612fc.

[2021-04-20 00:14] donnie-msft opened #10780 "`NuGetProjectManagerService` calls to get transitive packages should batch projects"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): VS

Product version: all

Worked before? If so, with which NuGet version:

## Repro steps and/or sample project

Continuation of https://github.com/NuGet/Home/issues/10740
The following methods are called repeatedly for each project, rather than batched:

[code]

Batching these may save significant

[2021-04-20 02:24] #10316 closed, assigned to kartheekp-ms

[2021-04-20 02:24] #10535 closed, assigned to kartheekp-ms

[2021-04-20 08:31] v-luzh opened #10781 "[Unstable] The package icon in the right panel(details pane) of PM UI didn’t update correctly"
## Details about Problem
VS Version: Main\31219.244
NuGet Version: Dev\5.10.0.7216
OS Version: Windows-10-Enterprise-20H1
## Repro steps and/or sample project
1. Launch VS and create a project [e.g. C# Class Library (.NET Framework 4.8)/C++ Blank App (Univeral Windows)]
2. Open the PM UI of the project/solution and select a package (e.g. EntityFramework.SqlServerCompact/Newtonsoft.Json) in “Browse

[2021-04-20 13:45] donnie-msft commented on #10781
Related: https://github.com/NuGet/Home/issues/8814

[2021-04-20 15:57] donnie-msft commented on #10719
After many successful runs, I encountered:
**      System.IndexOutOfRangeException : Index was outside the bounds of the array.**

[2021-04-20 16:09] erdembayar commented on #10719
Thank you for looking into this issue:
Did you get this call stack log from your local or CI/CD?

[2021-04-20 21:55] nkolev92 commented on #2157
This was fixed in 16.6.

[2021-04-20 21:55] #2157 closed, assigned to nobody

[2021-04-21 00:00] #10719 closed, assigned to donnie-msft

[2021-04-21 01:09] nkolev92 opened #10783 "Validate that the package source mapping syntax is correct"
Specifically, validate that the package namespace specified is `packageid` + `*` at the end.
Also validate source key, package namespace are '', null, whitespace, whitespaces etc.

[2021-04-21 01:11] matkoch opened #10784 "Add a NUKE tab for NuGet packages"
I'm following up on @JonDouglas suggesting to use the new template for my original proposal from NuGet/NuGetGallery#8511. Spec is here https://github.com/NuGet/Home/pull/10782.

<img width="876" alt="image" src="https://user-images.githubusercontent.com/5005566/115483260-bdc7bf80-a250-11eb-8385-cb6e7a52c99f.png">

Happy to answer your questions! :)

[2021-04-21 01:13] matkoch commented on #10784
@JonDouglas I hope I did follow the proposal process alright 😄

[2021-04-21 01:57] nkolev92 commented on #3963
Low priority for now.

[2021-04-21 01:57] #3963 closed, assigned to nobody

[2021-04-21 12:01] Bouke commented on #9195
While not a solution, I'm now using the workaround below. It disables lock files on all platforms except Windows (the primary development + deployment target). This doesn't block me from using other OS's, littering my workspace with changes to `packages.lock.json`:
[code]

If you want, you could also have a lock file per OS. This prevents the lock files from being changed all the time between OS's

[2021-04-21 14:56] oiBio commented on #1823
I hope this will be in Visual Studio 2022 !

[2021-04-21 14:59] JonPSmith opened #10785 "dotnet pack: Getting NU5008: Manifest file not found in one folder, but not in another folder"
I am getting different results from `dotnet pack` when in different folders - both work but one produces error messages. There must be some sort of rules that I'm not aware with and I could use some help to understand how `dotnet pack` works with solutions/projects.

### What I am trying to achieve:

I am trying to build a dotnet tool that will allow multiple projects to go into one NuGet package

[2021-04-21 15:29] donnie-msft commented on #10270
Suggestions made in https://developercommunity.visualstudio.com/t/Nuget-package-updates-are-too-hard/1403616

[2021-04-21 17:07] simonvane opened #10786 "Enable dotnet list package to enumerate all projects in a folder"
## Details about Problem
I need to provide a list of nuget packages that we use every time I release our .net core 3.1 application.

The solution is structure as follows:

-solution folder
 solution file
--src (folder)
---project1 (folder)
project1.csproj
---project2 (folder)
project2.csproj
--test (folder)
---project1.tests (folder)
project1.tests.csproj
---project2.tests (folder)
project2.tests.

[2021-04-21 17:09] JanKrivanek opened #10787 "packages.lock.json contentHash different from manually generated value"
## contentHash in packages.lock.json not reproducible via manual steps

ContentHash seems to be base64 encoded sha512 hash (at least based on the source: https://github.com/NuGet/NuGet.Client/blob/d3a633a04da7cd83900498334ec5e7650a52fa86/src/NuGet.Core/NuGet.Packaging/PackageArchiveReader.cs#L460).
We want to use this value for our SBOM files and be able to reproduce it via our logic in isolated e

[2021-04-21 17:40] zivkan commented on #10784
I know it's confusing, but NuGet/Home issues are for NuGet client issues, whereas NuGetGallery is for nuget.org issues. It's a carry over from when NuGet client was split across 10 different repos, but makes less sense now that NuGet.CLient is a monorepo again.  In any case, this issue has nothing actionable on the client team, and the server team need an issue in the gallery repo for sprint plann

[2021-04-21 17:41] #10784 closed, assigned to nobody

[2021-04-21 17:50] zivkan commented on #10786
There's already a feature request to make `dotnet list package` output "machine readable", which you can upvote (👍 ) to help it bubble higher in the list of requests when sorted by upvotes: https://github.com/NuGet/Home/issues/7752

Changing this issue to a feature request to make `dotnet list package` work on multiple projects, not just one.

[2021-04-21 18:01] erdembayar opened #10788 "Show subcommand help instead of main dotnet nuget trust command help for all cases"
## Details about Problem

NuGet product used (dotnet.exe):

Product version:

Worked before? If so, with which NuGet version: N/A

## Repro steps and/or sample project
[Printing out help doesn't help at all unless the error itself has to do with a command, argument, or option being invalid.](https://github.com/NuGet/NuGet.Client/pull/3989/files#r617113765)
Current experience show help for `dotnet

[2021-04-21 18:16] zivkan commented on #10787
The implementation of getting the content hash is here: https://github.com/NuGet/NuGet.Client/blob/1328b1db6ef99fd0f0c7cf9201e4c75a366a88dd/src/NuGet.Core/NuGet.Packaging/Signing/Archive/SignedPackageArchiveUtility.cs#L593

It is designed to not change the hash when the package is signed/resigned, because when using lock files the content hash needs to remain the same. When signing a package, the

[2021-04-21 18:16] #10787 closed, assigned to nobody

[2021-04-21 18:53] ViktorHofer opened #10789 "Allow specifying the msbuild binlog path when invoking static graph restore to avoid modifying the environment"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): dotnet.exe

Product version: 6.0.100-preview.3.21202.5

Worked before? If so, with which NuGet version:

## Repro steps and/or sample project

When using static graph restore, the environment variable `RESTORE_TASK_BINLOG_PARAMETERS` needs to be set to generate a binlog for the out-of-process evalu

[2021-04-21 21:11] heng-liu commented on #10626
Deprioritize it for now.
Save the status here: added the implementation of supporting .pem format and 1 positive test and 1 negative test(HResult not the same as expected though) in branch dev-hengliu-xplat3-dotnet-nuget-sign-checkpem.

[2021-04-21 21:14] heng-liu commented on #10620
Deprioritize it for now.
There will be no gain for the 1st scenario on Linux and Mac.
There might be no gain for the 2nd scenario on Linux and Mac.

[2021-04-21 21:52] donnie-msft opened #10790 "`PackageLoadContext.GetInstalledAndTransitivePackagesAsync` is dead code and hurting performance"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): VS

Product version: 16.9+

Worked before? If so, with which NuGet version: N/A

## Repro steps and/or sample project

The following code doesn't appear to be needed. It also hurts performance.
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.PackageManagement.UI/PackageLoadCo

[2021-04-21 22:47] jebriede commented on #10779
I was able to repro this by opening the window on a SurfaceBook 2 with 200% scale and 3240 x 2160 resolution. On a different monitor with 100% scaling and 2560 x 1440, it did not repro.

[2021-04-21 23:12] donnie-msft commented on #10779
Those are actually my default settings (200% and 2160) and it doesn't repro for me :\

[2021-04-22 00:33] donnie-msft commented on #10779
Talked offline. Found that it's a finicky repro, and you have to launch VS on a specific monitor with these settings.

[2021-04-22 00:43] jebriede commented on #10777
Repro steps:

1. Right click a project and select Manage NuGet Packages
2. Make sure it's on the Browse tab and switch to it if it's not active
3. Click the refresh button and time how long it takes to load

To compare with the load times where the package recommender is not active, do the following:

1. Right click the solution and select Manage NuGet Packages for Solution. Note, this is for the

[2021-04-22 06:37] meziantou opened #10791 "Cannot use embeded PackageReadmeFile when using snupkg for symbols"
## Details about Problem

NuGet product used: dotnet.exe

Product version: 6.0.0-preview.3.21201.4

Worked before? If so, with which NuGet version: 🤷‍♀️

## Repro steps and/or sample project

- `dotnet new classlib`
- Create a non-empty `readme.md` file
- Edit the csproj

[code]

- `dotnet pack`

[code]

# Additional information

- It can generate the package if you remove `<SymbolPackageFormat>`

[2021-04-22 08:15] v-crchang opened #10792 "Default package management format dropdown box is missing"
## Details about Problem

NuGet version: NuGet Client Dev\5.10.0.7222
VS Version: Main\31221.294
OS Version: Windows-10-Enterprise-20h2

## Repro steps

1. Create a C# Console App (.net core) project.
2. Click Tools->NuGet Package Manager->Package Manager Settings, go to General tab.
3. Observe the “Default package management format dropdown box”.

## Expected

The “Default package management form

[2021-04-22 08:18] BlackGad opened #10793 "Full development cycle with Symbols"
# Details about Problem

NuGet system implementation currently has almost all parts for full development cycle with symbols.

This is basically first stop on the long road to resolving target issue https://github.com/NuGet/Home/issues/6579.

So lets start with stages of full development cycle:
1. Create and publish - Includes build project, pack binary package, pack symbols package and publish it

[2021-04-22 08:19] BlackGad commented on #10793
@zivkan , @zkat , @nkolev92 what do you thing about this?

[2021-04-22 08:37] jakrivan commented on #10787
Thank you @zivkan for prompt and detailed reply!
Understood on the scenario and chosen implementation.
In our case we need a file hash for providing integrity check without relying on the toolset (that might be compromised in specific scenarios) - similarily as the hash in npm package-lock.json files. Seems like we'll need to generate those ourselves.

Thanks
Jan

[2021-04-22 09:34] BlackGad commented on #10791
snupkg package format strongly limited with content filter extensions (.pdb and some more)

[2021-04-22 10:37] dustpan28646 opened #10794 "Hey"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe):

Product version:

Worked before? If so, with which NuGet version:

## Repro steps and/or sample project

### Verbose Logs

[2021-04-22 11:10] tg73 commented on #6754
I have a scenario where, at the end of a build, I want to compare the compiled binaries to the last published version of the current project. So before target `CollectPackageRefrences` , I add a `PackageReference` to the last published version, with `ExcludeAssets=all` (and `GeneratePathProperty=true`, so the binaries can be found for analysis). Surely there is no way that this should be construed

[2021-04-22 13:17] JonDouglas commented on #10793
There may be some additional context into symbols here as well:

https://github.com/NuGet/docs.microsoft.com-nuget/issues/2343

[2021-04-22 13:29] donnie-msft commented on #10792
@jebriede could you please take a look at this one.

[2021-04-22 13:29] JonDouglas commented on #7752
I am working on machine readable output for another command which is related here. Although the proposal is not fully public & still in-progress, I took aspects of other ecosystem's auditing experiences into account which ended up being very close to what @drewgillies & the original spec included. You can view that here:

https://github.com/NuGet/Home/blob/dotnet-audit/proposed/2021/DotNetAudit.md

[2021-04-22 16:12] zivkan opened #10795 "Use embedded icon in NuGet SDK packages"
Migrate NuGet SDK packages from iconUrl to embedded icons

[2021-04-22 17:09] aortiz-msft commented on #10777
Would it be possible to document both of your hardware setups in the issue?

[2021-04-22 17:10] aortiz-msft commented on #10778
@chgill-MSFT - Did recommendations ever show the Verified Checkmark?

[2021-04-22 17:16] aortiz-msft commented on #10786
`dotnet list package` does work at solution level today. Therefore, closing this as a dupe of https://github.com/NuGet/Home/issues/7752

[2021-04-22 17:16] #10786 closed, assigned to nobody

[2021-04-22 17:22] aortiz-msft commented on #10785
`dotnet pack` will try to pack each project one by one, which is different from how nuget.exe works. Does that help?

[2021-04-22 17:25] aortiz-msft commented on #10788
Not a blocking issue for the new command, but something we'd like to improve shortly afterwards.

[2021-04-22 18:09] simonvane commented on #10786
Thanks @zivkan , I've upvoted that.

[2021-04-22 18:16] ericstj commented on #8087
@anangaur make sure you consider false positives in packages which might be part of the NuGet package graph, but will be removed by the SDK conflict resolution cc @dsplaisted.  This is the way we handled packages which were "absorbed" by frameworks since there is no way to express to NuGet to not download them if they are dependencies of packages.  Since these packages are dead-ended it's very lik

[2021-04-22 18:18] simonvane commented on #10786
Thanks for your comment @aortiz-msft . However, my request was not for `dotnet list package` to work at the solution level. I may not have explained it clearly.

My solution contains projects (in the `src` folder) that end up getting deployed and test projects (in the `test` folder) that don't. I need to publish a list of packages used by deployed code only.

My requirements are:
- I need to gener

[2021-04-22 18:21] anangaur commented on #8087
Adding @JonDouglas who owns this feature.

[2021-04-22 19:05] KirillOsenkov opened #10796 "ResolvePackageAssets task should log package dependency chain on each item"
The `ResolvePackageAssets` task takes in PackageReference items and produces `RuntimeCopyLocalItems`. It is not clear why a certain file ends up in RuntimeCopyLocalItems.

A new metadata should be logged on each file that shows the dependency chain from a root package to the package that caused this file inclusion.

This information is available in project.assets.json but is very hard to parse.

H

[2021-04-22 19:12] JonDouglas commented on #8087
@ericstj We'll revisit this shortly. I believe the latter option is what we're hoping to improve on in terms of in-the-box vs. out-the-box dependencies. We don't detect packages provided by framework today and will need to work with SDK team on that scenario.

[2021-04-22 20:09] donnie-msft commented on #10777
FYI, my repro looks more like chgill-MSFT's (Solution Browse tab is much faster)
Tested on **Dasv4-series VM:  4x vCPU, 16GB RAM, 8 data disks, 6400 Max IOPS, 32 GiB Temp Storage**

[2021-04-22 23:04] donnie-msft commented on #10534
Neither of us can reproduce this, so I'm closing for now.
Possibly some of rrelyea's or other's VS.OE work already fixed this.

[2021-04-22 23:04] #10534 closed, assigned to rrelyea, donnie-msft

[2021-04-22 23:58] #10725 closed, assigned to nkolev92

[2021-04-22 23:58] nkolev92 commented on #10725
Merged to feature branch.

[2021-04-23 06:45] belkiss commented on #5321
Hello!

Would be great to see this tackled, I have opened a (now closed...) bug report in VS about this: https://developercommunity.visualstudio.com/t/restoresources-or-restoreadditionalprojectsources/1404191.

Thanks!

[2021-04-23 07:50] JonPSmith commented on #10785
I don't want to use nuget.exe because anyone who uses my tool would need to install nuget.exe, while dotnet pack is already globally installed when .NET SDK is installed.

I have read and upvoted issue #4254.

[2021-04-23 08:13] v-luzh opened #10797 "[Push] Symbols.nupkg had not been pushed to the specific source using command:”dotnet nuget push “*.nupkg”” although the cmd said it was pushed"
## Details about Problem
VS Version: Main\31222.286
NuGet Version: Dev\5.10.0.7222
OS Version: Windows-10-Enterprise-20H1
## Repro steps and/or sample project
1.	Create a new C# Console Application (.net Core 5.0) project (called ConsolePackage) via VS.
2.	Pack several packages (one package is created includes the symbol package).
3.	Cd to the packed package folder (C:\Users\v-luzh\source\repos\Co

[2021-04-23 10:34] kwlin commented on #6764
@AroglDarthu  according to faq not possible (2 bad): https://github.com/NuGet/Home/wiki/Centrally-managing-NuGet-package-versions#where-are-privateassetsexcludeassetsincludeassets-defined

[2021-04-23 10:40] tebeco commented on #6764
it's not very surprising since the `PrivateAssets` is suppose to let you control à what's going to be "leaked" out and you want the granularity to be possible per package => si per project

now, as it's msbuild you could still use the standard way to do that
create a `Directory.Build.targets` at SLN level and use
`<PackageRef... Update="name here" PrivateAssets="...." />`

this is probably what yo

[2021-04-23 14:00] zivkan commented on #5321
Adding a 👍 reaction to the first comment in the issue will help this issue bubble up [all issues sorted by 👍](https://github.com/NuGet/Home/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc). See also our [submitting bugs and suggestions guide](https://github.com/NuGet/Home/wiki/Submitting-Bugs-and-Suggestions)

[2021-04-23 14:04] zivkan commented on #10785
In the meantime you can create a new project file, as demoed in the [packing using a nuspec file](https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#packing-using-a-nuspec-file) docs. See the csproj at the end of the section. Using the `<NuspecFile>` property you no longer need to pass the nuspec file on the command line, just pack the csproj.

Closing this as a duplicate of #4254

[2021-04-23 14:04] #10785 closed, assigned to nobody

[2021-04-23 17:55] #10795 closed, assigned to zivkan

[2021-04-23 18:35] donnie-msft commented on #10777
(repeating my offline comments for transparency)
I'm not convinced this is a serious problem. A solution with 170 projects had very similar behavior. It's seems to be O(1).
However, we may be able to reduce the recommender's wall-clock time with some parallelization.

[2021-04-23 19:06] BlackGad commented on #10793
Any thoughts ? I dont want to develop feature before agreement from you guys :) @zkat, @zivkan, @nkolev92

[2021-04-23 19:15] zivkan commented on #10793
I haven't had time to look in detail, but I see a slight misunderstanding of how symbols currently work.

When you push snupks to nuget.org, it unzips the pdbs and sends them to a symbol server. Then when debugging, the debugger (VS or windbg, or whatever else) talk use the symbols protocol (that existed a long time before NuGet was ever created) to download the pdbs. Debuggers in fact know nothin

[2021-04-23 20:00] #10715 closed, assigned to erdembayar

[2021-04-23 21:45] nkolev92 commented on #10731
#10736 is the only that matters.

For now, namespaces won't affect no-op, https://github.com/NuGet/NuGet.Client/compare/dev-feature-packageNamespaces...dev-nkolev92-addDataInRestoreRequest?expand=1.

[2021-04-23 21:45] #10731 closed, assigned to nkolev92

[2021-04-23 21:59] nkolev92 commented on #10736
@kartheekp-ms

There's some extremely basic work that has been started here:

https://github.com/NuGet/NuGet.Client/compare/dev-feature-packageNamespaces...dev-nkolev92-addDataInRestoreRequest?expand=1.

Note that for this particular task, what is in the current branch might be sufficient.

How I'd expect this to go:

RestoreRequest has the namespaces configuration.

From there, the configuration

[2021-04-23 22:00] nkolev92 commented on #10732
Refer to https://github.com/NuGet/Home/issues/10736#issuecomment-825946190 for a lot of details.

[2021-04-23 22:03] nkolev92 commented on #10737
As discussed in the sync.

There are multiple entry points for packages.config restore, some documented here: https://github.com/NuGet/NuGet.Client/blob/dev/docs/debugging.md

* VS - https://github.com/NuGet/NuGet.Client/blob/17bc64685d0943a8b840aa5e18059fb402a47a8c/src/NuGet.Clients/NuGet.SolutionRestoreManager/SolutionRestoreJob.cs#L215
* nuget.exe - https://github.com/NuGet/NuGet.Client/blob/17

[2021-04-24 00:51] erdembayar commented on #10788
https://github.com/NuGet/NuGet.Client/pull/3989#discussion_r619440961
Registering sub-commands improves error handling, reading values for options/arguments instead of searching strings which can be error prone if not done right, help messages

[2021-04-24 01:30] #8053 closed, assigned to erdembayar

[2021-04-24 01:31] #10647 closed, assigned to erdembayar

[2021-04-24 02:37] erdembayar commented on #10788
My branch dev-eryondon-10788

[2021-04-24 12:37] shatl commented on #7656
Artifactory requires this information. Packages are rejected because of this.

[2021-04-24 16:29] #10790 closed, assigned to donnie-msft

[2021-04-25 00:05] fnzr commented on #10695
Error persists even on 5.0.202:
[code]

When trying to build F# (truncated):

[code]

is there other steps I should be taking?

[2021-04-25 07:23] v-crchang commented on #10792
This issue is fixed on Dev\5.10.0.7228.

[2021-04-25 07:23] #10792 closed, assigned to jebriede

[2021-04-25 12:06] Mizux commented on #10695
@fnzr like previously reported this is still an open issue tracked in Archlinux...

[2021-04-25 13:31] JonDouglas commented on #10695
@fnzr Do you have `signatureValidationMode` set to `require` somewhere in a config file? That would likely explain the failure as that .NET SDK should work given signature verification is disabled for it. Try turning the mode to `accept` or removing the node so it will default back to `accept` itself.

[2021-04-25 17:18] BlackGad commented on #10793
Initial issue text was updated.

Yes it is.
v3 Nuget registry contains section

https://api.nuget.org/v3/index.json

[code]

Pushed symbols package can be directly downloaded via link

`https://www.nuget.org/api/v2/symbolpackage/<package id>/<package version>`

Same structure in MyGet and BaGet. NuGet have functionality to push snupkg but not restore.

You are right. v3 project structure requires

[2021-04-25 20:53] joelverhagen commented on #10793
For the V3 protocol support for .snupkg files I will make one clarification:

It is true there is a standard protocol for **uploading** (a.k.a. pushing) .snupkg files. The official documentation for what you describe is here: https://docs.microsoft.com/en-us/nuget/api/symbol-package-publish-resource

However, the is no official protocol for **downloading** the .snupkg. In fact, the only reason the

[2021-04-26 17:41] JonDouglas commented on #10794
Thanks for the issue! Unfortunately there's not enough information for us to assist. If you'd like to create some more details by following https://github.com/NuGet/Home/wiki/Submitting-Bugs-and-Suggestions#before-submitting-an-issue that would help us!

[2021-04-26 18:03] heng-liu commented on #10463
Currently got blocked.
As I'm not able to generate the right snupkg and nupkg packages for NuGet.Build.Tasks.Pack project.
@nkolev92 @zkat could you help advise how to generate snupkg and nupkg correctly for NuGet.Build.Tasks.Pack?
For now in dev, the symbols.nupkg contains no pdb file(seems not correct either).
After I change the format to snupkg (branch dev-hengliu-CI-enableSourceLink), the pack

[2021-04-26 18:11] sbanni commented on #10563
@aortiz-msft Given what we know today, I would think we are in a place where we can close this item and revisit if there is a problem here in the future.

[2021-04-26 18:14] #10050 closed, assigned to kartheekp-ms

[2021-04-26 20:12] aortiz-msft commented on #10143
Closing per new guidance.

[2021-04-26 20:12] #10143 closed, assigned to rrelyea

[2021-04-26 20:26] kartheekp-ms opened #10799 "NuGet.Protocol.Tests.PackageUpdateResourceTests.PackageUpdateResource_SourceAndSymbolNuGetOrgPushingAsync test is flaky"
`NuGet.Protocol.Tests.PackageUpdateResourceTests.PackageUpdateResource_SourceAndSymbolNuGetOrgPushingAsync` test has failed in three [1](https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=4687836&view=ms.vss-test-web.build-test-results-tab), [2](https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=4684690&view=ms.vss-test-web.build-test-results-tab), [3](https://devdiv.visualst

[2021-04-26 20:30] terrajobst opened #10800 "Add TFM for .NET nanoFramework"
TFM Component  | Value
---------------|------------------
Friendly name  | netnano
TFI            | .NETnanoFramework

### Goals

* NuGet needs to able to recognize the TFM for .NET nanoFramework and select assets from a NuGet package into a project that targets .NET nanoFramework.
* NuGet needs to allow creating a NuGet package that includes assets for .NET nanoFramework.
* Normal versioning rule

[2021-04-26 20:52] nkolev92 commented on #10796
This task is owned by the SDK team right now, so probably best if this issue is moved there.

Cc @kartheekp-ms who is hot seat.

[2021-04-26 21:36] JonDouglas commented on #10491
Hi everyone,

We were planning on keeping this issue open until after a major Ubuntu release happened on 4/22, and given there is no major feedback since, we are finally closing this issue!

We will continue to keep https://github.com/NuGet/Home/issues/10712 open which better describes the recent developments on Linux.

[2021-04-26 21:36] #10491 closed, assigned to JonDouglas

[2021-04-26 22:05] nkolev92 commented on #10463
The trick why things don't work is because we custom pack using: https://github.com/NuGet/NuGet.Client/blob/d2bb0de35242b04802c1a7856ebb7718f674565c/src/NuGet.Core/NuGet.Build.Tasks.Pack/NuGet.Build.Tasks.Pack.csproj#L175-L190

We also set `IncludeBuildOutput` to `false`, https://github.com/NuGet/NuGet.Client/blob/d2bb0de35242b04802c1a7856ebb7718f674565c/src/NuGet.Core/NuGet.Build.Tasks.Pack/NuGet

[2021-04-26 23:11] zivkan opened #10801 "PM UI should cancel HTTP requests when package list changes"
In the Package Manager UI, there are a number of scenarios where NuGet might start HTTP requests, but not be interested in the result before they return:

* Changing tabs
* Changing search query text before the previous result comes back

By cancelling the requests, we reduce the risk that a customer's machine is going to be busy completing unnecessary HTTP requests, which could lead to perf probl

[2021-04-27 00:38] debonte opened #10802 "PackageExpander_Recovers_WhenFileIsLocked passes even though InstallFromSourceAsync is not throwing an IOException"
The PackageExpander_Recovers_WhenFileIsLocked unit test has the following assert which is supposed to ensure that InstallFromSourceAsync throws an IOException. It is not throwing an exception, however the test still passes (no assert).

`Func<CancellationToken, Task<bool>> action = (ct) =>
{
    Assert.ThrowsAnyAsync<IOException>(async () =>
                                await PackageExtractor.I

[2021-04-27 01:48] 2kCarlos commented on #3891
Also still waiting.
This would be an important feature for me, and would really simplify my workflow.. to have this out of the box.

[2021-04-27 07:18] josesimoes commented on #10800
Hey! Anything I can help with to make this happen? 😃

[2021-04-27 07:31] quasarea commented on #3891
I have switched to packaging with https://github.com/devlooped/nugetizer. Much better experience, especially with dotnet tool that can show you how your automated package will look like.

[2021-04-27 08:07] Rand-Random opened #10803 "NuGet packages restores fail if the tag Version gets change in a pre-build process"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe):
Visual Studio
NuGet.exe
vsSolutionBuildEvent - https://marketplace.visualstudio.com/items?itemName=GitHub3F.vsSolutionBuildEvent-11615

Product version:

Latest
NuGet.exe
![image](https://user-images.githubusercontent.com/9868626/116204387-04c82000-a73d-11eb-88a4-08f87a96a552.png)
Visual Studio
![i

[2021-04-27 08:58] lokst opened #10804 "nuget restore can fail after running choco install"
## Details about Problem

(Please let me know if there is a better place where I should file this issue)

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): NuGet.exe

Product version:  5.9.1.11

Worked before? If so, with which NuGet version: 5.8.1.7021

## Repro steps and/or sample project

1. On a Windows system where there is no user-wide NuGet.config file, run `choco i

[2021-04-27 09:18] BlackGad commented on #10793
This issue was created exactly for this purpose - determine what is missing. :)

Ok lets overlook symbols restore feature separately for v2 and v3 C# projects:
## V2 project
1) As a package source sandboxed folder is used (default **packages** can be redirected via NuGet.config)
2) MSBuild reference insertion looks like
[code]
3) MSBuild main build task copies `Reference` items to output folder (s

[2021-04-27 09:40] lokst commented on #10804
Also noted that there is an issue filed in the Chocolatey repository about this behaviour of Chocolatey to create an empty user-wide NuGet.Config file (https://github.com/chocolatey/choco/issues/2233). I'm not sure where this issue should be addressed (on NuGet's end or on Chocolatey's), so I'd still like to keep this issue open for now so that NuGet maintainers can weigh in 🙂

[2021-04-27 10:25] BlackGad commented on #10793
This issue was created exactly for this purpose - determine what is missing. :)

Ok let's describe symbols restore feature separately for v2 and v3 C# projects:

## V2 project

1) Used stand-alone source folder (default **packages** can be redirected via NuGet.config). NuGet also respects local PC NuGet cache folder.
2) MSBuild reference insertion looks like
[code]
3) MSBuild main build task copie

[2021-04-27 15:46] JonDouglas opened #10805 "Installing three-letter ISO localized packages are not compatible."
## Details about Problem

When installing any package that has been localized with resource assemblies & contains a three-letter ISO name, it will fail to install.

https://docs.microsoft.com/en-us/nuget/create-packages/creating-localized-packages

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe):

16.9, dotnet SDK 5.0.202

Worked before? If so, with which NuGet version:

[2021-04-27 16:40] donnie-msft commented on #10799
Dupe of https://github.com/NuGet/Home/issues/10706

[2021-04-27 16:40] #10799 closed, assigned to nobody

[2021-04-27 16:52] kartheekp-ms commented on #10706
`NuGet.Protocol.Tests.PackageUpdateResourceTests.PackageUpdateResource_SourceAndSymbolNuGetOrgPushingAsync` test has failed in three [1](https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=4687836&view=ms.vss-test-web.build-test-results-tab), [2](https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=4684690&view=ms.vss-test-web.build-test-results-tab), [3](https://devdiv.visualst

[2021-04-27 17:07] donnie-msft commented on #10706
Took a quick look but not sure what we want to do here. If we Mock, then it no longer verifies how expected responses are handled by `Push`.
We could skip the test, skip only the "faulty" symbol source, add support for HTTP retries, ...other?

[2021-04-27 17:09] terrajobst commented on #10800
@josesimoes the spec'ed work doesn't include any work in the SDK yet; I honestly don't even know whether just adding the TFM to NuGet is sufficient in unblocking you from getting onto the SDK-style projects. One thing that would help is if you could start prototyping an SDK-based build approach and tell us what you'd need to support building for .NET nanoFramework using the .NET SDK.

[2021-04-27 17:14] kartheekp-ms commented on #10804
@lokst - I am sure you may be aware of this work around. As mentioned in the https://github.com/NuGet/Home/issues/10586#issuecomment-815347707, You can add `NuGet.Config` to your repo or pass the [configuration file to the restore command](https://docs.microsoft.com/en-us/nuget/reference/cli-reference/cli-ref-restore#options) to fix this issue. In general, it is a good practice to not to rely on t

[2021-04-27 17:46] josesimoes commented on #10800
Understood. I'll start working on that and report back.

[2021-04-27 19:54] zivkan commented on #10706
I took a quick look myself.

Firstly, I was wrong about it making real network connections. [The test uses `StaticHttpHandler.CreateSource`](https://github.com/NuGet/NuGet.Client/blob/d2bb0de35242b04802c1a7856ebb7718f674565c/test/NuGet.Core.Tests/NuGet.Protocol.Tests/Resources/PackageUpdateResourceTests.cs#L284), which [implementes a `HttpClientHandler](https://github.com/NuGet/NuGet.Client/blob/d

[2021-04-27 20:07] nkolev92 opened #10806 "Update the SPDX license list"
The client carries an embedded spdx license list.

This list should be updated in time for 5.10 release.

[2021-04-27 20:13] nkolev92 commented on #10805
I think there's a dup in https://github.com/NuGet/Home/issues/2245.

@kartheekp-ms can you please verify.

[2021-04-27 20:37] tig commented on #3116
I think I'm encountering this. It is not clear from the massive number of comments above what a good work around is.

[2021-04-27 20:39] tig commented on #3116
Yes, I was.

`dotnet nuget locals all --clear`

worked.

[2021-04-27 23:28] erdembayar commented on #8929
@v-luzh
It looks https://github.com/NuGet/Home/issues/10265 is fixed. Can you test now?

[2021-04-27 23:51] #10806 closed, assigned to nkolev92

[2021-04-28 01:10] aalali commented on #10491
The issue is still there?

#9 5.043   Determining projects to restore...
#9 5.768 /usr/share/dotnet/sdk/6.0.100-preview.3.21202.5/NuGet.targets(131,5): error : Unable to load the service index for source https://api.nuget.org/v3/index.json.
#9 5.768 /usr/share/dotnet/sdk/6.0.100-preview.3.21202.5/NuGet.targets(131,5): error :   The SSL connection could not be established, see inner exception.
#9 5

[2021-04-28 01:47] nkolev92 commented on #10678
There's a design in flight for this:
[code]

[2021-04-28 01:49] nkolev92 opened #10807 "Add a contract for identifying a restore source, to help nuget better batch restores/branch switches."
Pre-req for https://github.com/NuGet/Home/issues/10678.

Sample contract: https://github.com/NuGet/Home/issues/10678#issuecomment-828078290

cc @lifengl

[2021-04-28 01:55] #10315 closed, assigned to nkolev92

[2021-04-28 03:19] richlander commented on #10491
I think that's a different problem. That looks like an SSL problem, not code signing. Can you share the `Dockerfile` you are using?

[2021-04-28 10:13] lokst commented on #10804
@kartheekp-ms Thank you for weighing in! Yes, I'm aware of the workarounds you mentioned. As there are users who do not define their own NuGet.Config files, I wanted to file this issue to raise awareness about it with NuGet maintainers and also check if there are currently any intentions to address it from NuGet's end.

[2021-04-28 10:24] v-longmin opened #10808 "[Cross-platform Signing]All expected errors and warnings do not occur after restoring the projects"
## Details about Problem
VS Version: Main\31227.388
NuGet Version: Dev\5.10.7231
OS Version: Linux Ubuntu Server 18.04/macOS Big Sur 11.0.1
## Installations
1. Install VS Main\31227.388 from:  https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=4698193&view=ms.vss-build-web.run-extensions-tab
2. Install NuGet Dev\5.10.0.7231 from: \\\ddfiles\Drops\NuGet\Drops\CI\NuGet.Client\dev\5.10.0.7

[2021-04-28 12:02] Steinblock commented on #4254
Is there a solution for this?

I have done this to pack external dependencies (which might not necessarily have to be assemblies) into nuget packages.

I have done this for years with `nuget.exe` and the 4.x framework.

Now I need to do the same on a linux based ci server with dotnet core 3.1 (408) and I can't figure out how to do this.

[2021-04-28 12:06] marcin-krystianc commented on #10389
I've finally made the change to bring the transitive dependency feature back, go to https://github.com/NuGet/NuGet.Client/pull/4025 for more details

[2021-04-28 14:16] kjanos0502 opened #10809 "Restore dependencies for projects listed in a solution filter (.slnf) file"
NuGet product used: NuGet.exe
Product version: 5.8.1

It would be nice to be able to restore dependencies based on an .slnf file.
Based on the release notes in v5.0 support was added for solution filters, but a restore must be done for the entire solution beforehand.
https://docs.microsoft.com/en-us/nuget/release-notes/nuget-5.0-rtm

As restoring dependencies based on .csproj files is possible, it

[2021-04-28 14:28] gautelo commented on #3891
Sad day for microsoft, and all of us really, when people, like @quasarea, are moving away from your tooling because it's taking you too long to fix issues.. :(

[2021-04-28 14:45] aalali commented on #10491
@richlander thanks for the response.  My `Dockerfile` is generic enough, can't see anything special.  Here it is:

[code]
I have tested it within WSL 2 Ubuntu 20.04, same issue.  It is SSL, so probably unrelated to here and more [this](https://github.com/dotnet/dotnet-docker/issues/1031).  It is certificate chain related, so maybe I need to follow [this ](https://docs.microsoft.com/en-us/dotnet/co

[2021-04-28 15:20] JonDouglas commented on #3891
Hey everyone,

I know that this issue continues to get traction every minute we do not take action on it and I have to say upfront that I'm deeply sorry that we have not been able to give more attention to this issue. [I have tried personally in the past](https://github.com/NuGet/Home/issues/3891#issuecomment-707801913) to understand the many facets of this problem, and it's quite challenging from

[2021-04-28 16:01] donnie-msft opened #10810 "Tests using `DetailControlModel` are missing `INuGetSearchService` setup"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe):

Product version:

Worked before? If so, with which NuGet version:

## Repro steps and/or sample project

An NRE is thrown in tests which aren't mocking a `INuGetSearchService`. Doesn't break existing tests, but we should be mocking services, or changing product code to handle missing services.

Ne

[2021-04-28 16:59] dominikjeske commented on #3891
@JonDouglas Personally I think that @kzu has done great job with nugetizer and you could cooperate with him

[2021-04-28 17:23] ericsampson commented on #3891
Thanks @JonDouglas. Personally I'd say it would be more useful to have your energy focused on making the roadmap, and that the community should be able to crowdsource a proposal for this particular issue.

[2021-04-28 18:02] nkolev92 commented on #3674
Stale issue at this point. Closing as I'm pretty confident any issues would've been reported by customers/resolved already.

[2021-04-28 18:02] #3674 closed, assigned to nobody

[2021-04-28 20:02] donnie-msft opened #10811 "Indicate when Vulnerability/Deprecation information is still loading in packages list"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): VS

Product version: N/A

Worked before? If so, with which NuGet version: N/A

## Repro steps and/or sample project

Follow-up to https://github.com/NuGet/NuGet.Client/pull/4019

We are now detecting when a UI action cancels loading of Deprecation information & showing a failed state.
https://githu

[2021-04-28 20:02] donnie-msft opened #10812 "Indicate when Package Versions failed to load properly"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): VS

Product version:  N/A

Worked before? If so, with which NuGet version: N/A

## Repro steps and/or sample project

Follow-up to https://github.com/NuGet/NuGet.Client/pull/4019

We are now detecting when a UI action cancels loading of Package versions.
https://github.com/NuGet/NuGet.Client/blob/2

[2021-04-28 20:21] donnie-msft commented on #10812
May be related https://github.com/NuGet/Home/issues/10557

[2021-04-28 22:50] kartheekp-ms commented on #10674
I added a comment in VS Feedback ticket https://developercommunity.visualstudio.com/t/Manage-NuGet-packages-for-solution-extre/1371226#T-N1410192 incase if that helps other customers landing on this issue.

@NeilMacMullen - Can you please provide more details? It could be great if you can fill-up the new issue template https://github.com/NuGet/Home/issues/new so that we can reproduce the issue and

[2021-04-29 02:34] richlander commented on #10491
Can you try this sample? I did, with no issue.

https://github.com/dotnet/dotnet-docker/blob/main/samples/aspnetapp/Dockerfile.ubuntu-x64

I tried it first with 5.0 and then 6.0.

Tip. To run it on 6.0, I just changed the Dockerfile, and then launched the image like this:

[code]

[2021-04-29 03:23] AraHaan commented on #3891
I think the code to nugetizer that allows this could easily be copy pasted into nuget to provide what we need. And if not perhaps some minor fixups would need to be made.

[2021-04-29 05:08] daxian-dbw opened #10813 "'ProjectReference' not working properly in a multi-target project"
## Details about Problem

- NuGet product used (dotnet.exe):
- Product version: 6.0.100-preview.3.21202.5
- Worked before? No

### Problem

Hi all, I'm working on a test project that has multiple targets `netcoreapp3.1`, `net5.0`, and `net6.0`.
- For the targets `netcoreapp3.1` and `net5.0`, the test project needs to reference to NuGet packages `Microsoft.PowerShell.SDK` version `7.0.6` (targeting

[2021-04-29 05:10] daxian-dbw commented on #10813
The issue is transferred from https://github.com/dotnet/sdk/issues/17013, as suggested by @nkolev92.

[2021-04-29 08:42] NeilMacMullen commented on #10674
@kartheekp-ms   thanks for following up on this.

# Details about the problem

As described above, Visual Studio Nuget manager pane is unusably sluggish for any operation.  Here's a gif of me switching back and forth between Updates and Consolidate tabs.  Yes, it's in realtime and it really does take over a minute to switch back and forth a couple of times.  What's not seen in this gif is VS "gray

[2021-04-29 08:58] gonzalocasas commented on #10745
Could it be that this breaks default behavior of the [nuget github action](https://github.com/NuGet/setup-nuget)?
Starting today I get errors on github actions trying to install a package because the nuget.org default feed is not listed there anymore:
![image](https://user-images.githubusercontent.com/933277/116526243-adab8200-a8d9-11eb-834b-0bb1b6228f57.png)

(Notice that I'm not using nuget's re

[2021-04-29 16:19] zivkan opened #10814 "PM UI should cancel HTTP requests when selected package changes"
Package manager UI has two "areas". The package list on the left, and the package details on the right. When a package is select in the package list on the left, the packge details on the right changes.

When the package details page starts loading for a package, it might trigger some HTTP requests to get required information. If the select package changes before the HTTP requests complete, the HT

[2021-04-29 16:26] zivkan opened #10815 "PM UI should cancel HTTP requests when the selected package source changes"
Package Manager UI has a source selection box, where individual sources can be selected, or an "(all)" source. When the selected source changes, it causes the following information to refresh:

* If on the Browse tab, the packages in the search results list
* If on the Installed tab, the highest package version for each package is updated
* If on the Update tab, the packages with available updates

[2021-04-29 16:31] zivkan opened #10816 "PM UI should cancel pending HTTP requests when closed"
If a customer interacts with PM UI in a way that causes HTTP requests, but the customer closes the window before those requests complete, it would be nice to cancel all the pending HTTP requests to reduce resource usage.

related, but not duplicates:
* https://github.com/NuGet/Home/issues/10801
* https://github.com/NuGet/Home/issues/10814
* https://github.com/NuGet/Home/issues/10815

[2021-04-29 16:56] zivkan commented on #10804
It's unfortunate that this is having a negative impact on customers that use choco before using any official nuget client. However, the behaviour changed by design to fix [this issue](https://github.com/NuGet/NuGet.Client/pull/3907) for customers who do not use choco. This has been particularly noticeable since the "Dependency Confusion" blog post came out earlier this year and many customers want

[2021-04-29 16:58] zivkan commented on #10745
@gonzalocasas please see https://github.com/actions/virtual-environments/issues/3038 and https://github.com/NuGet/Home/issues/10586

[2021-04-29 17:07] zkat commented on #2406
Closing per https://github.com/NuGet/Home/issues/2406#issuecomment-754005681

[2021-04-29 17:07] #2406 closed, assigned to nobody

[2021-04-29 17:19] zkat commented on #10655
It's been more than 14 days without a customer response, so I'm closing this, since we can't repro it ourselves.

@24mu13 please feel free to file a new issue with repro details if you're able to.

[2021-04-29 17:19] #10655 closed, assigned to nobody

[2021-04-29 17:34] zkat commented on #10741
No response from customer for 14 days, so I'm going to close this.

[2021-04-29 17:34] #10741 closed, assigned to nobody

[2021-04-29 17:37] zkat commented on #10791
We need to look into what we do here for licenses.

[2021-04-29 17:38] #10794 closed, assigned to nobody

[2021-04-29 17:39] zkat commented on #10796
Closing as dup of https://github.com/dotnet/sdk/issues/17207

[2021-04-29 17:39] #10796 closed, assigned to nobody

[2021-04-29 17:46] zivkan commented on #4254
@Steinblock you can create a csproj with no code files, so it's fast to compile, or use the [Microsoft.Build.NoTargets SDK](https://github.com/microsoft/MSBuildSdks/tree/main/src/NoTargets). Then, set the `NuspecFile` msbuild property to the path & filename of your nuspec file. Packing that project file should work, although I've either never tested it, or it's been such a long time that I don't r

[2021-04-29 18:04] dcastenholz commented on #6408
Still a problem in Microsoft Visual Studio Enterprise 2019 Version 16.9.4 and EF 6.4.4

[2021-04-29 18:15] kartheekp-ms commented on #10674
The original issue tracked here has been fixed in the latest preview version that can be downloaded from https://visualstudio.microsoft.com/vs/preview/. Hence closing this issue.

@NeilMacMullen - Thank you for providing additional details. Yeah, I can see from your recording that the responsiveness of the UI is not great. We had an internal discussion about your issue. Can you please refer to htt

[2021-04-29 18:15] #10674 closed, assigned to nobody

[2021-04-29 18:18] #10804 closed, assigned to nobody

[2021-04-29 18:55] NeilMacMullen commented on #10674
@kartheekp-ms I have raised an issue with a diagnostic recording at https://developercommunity.visualstudio.com/t/nuget-ui-is-exceedingly-slow/1411002

[2021-04-29 20:56] aortiz-msft commented on #10563
Great, thanks!

[2021-04-29 20:56] #10563 closed, assigned to sbanni, aortiz-msft

[2021-04-29 21:14] nkolev92 commented on #10793
I just want to set expectations here that the challenges are not just technical.
We'd need to validate the experience is the needed/worth it before we go ahead with implementation.

[2021-04-29 22:28] nkolev92 commented on #7060
@marcin-krystianc

Not sure I follow your conclusion.

The locking is happening at https://github.com/NuGet/NuGet.Client/blob/a4c9d63bf942f1df1ba9486a87bad2e4b6888488/src/NuGet.Core/NuGet.Packaging/PackageExtractor.cs#L633-L634, so if the package was extracted and the nupkg file exists, https://github.com/NuGet/NuGet.Client/blob/a4c9d63bf942f1df1ba9486a87bad2e4b6888488/src/NuGet.Core/NuGet.Packagi

[2021-04-30 00:23] quasarea commented on #3891
As I recall nugetizer was created because nuget team was not interested in changes that @kzu offered to deliver.

[2021-04-30 02:20] dominoFire opened #10817 "Add flag `--exclude-projects` to `dotnet list package`"
The NuGet command to list packages in projects, `dotnet list package`, includes project references alongside packages.

This is because the restore model equally considers Package References and Project references at restore graph creation time.

Thus, if you want a list of packages referenced in the project, a new flag is introduced: `--exclude-projects`

[2021-04-30 05:12] dedale commented on #7060
@nkolev92 not sure which files this code refer to, but before we definitely fixed the problem with a custom MSBuild task using a mutex, the problem was exactly what @marcin-krystianc describes: located in the user packages cache (`%USERPROFILE%\.nuget`), occurring especially when packages were updated and the symptoms were missing files or access denied because of two NuGet restore trying to unzip

[2021-04-30 05:19] AraHaan commented on #3891
Only time and users affected by issues like this can change that.

[2021-04-30 14:27] BlackGad commented on #10793
Will describe my vision of symbols restore process for clients.

### What to add
Options that will **force** to restore snupkg as well as nupkg.
1. New `-Symbols` option to [nuget.exe restore](https://docs.microsoft.com/en-us/nuget/reference/cli-reference/cli-ref-restore) command that will force to restore all available symbols for all installed packages.
2. New `-Symbols` option to [nuget.exe ins

[2021-04-30 15:15] gc-deniszmitrichenko opened #10818 "NuGet.exe 5.9.1 throws "Object reference not set to an instance of an object." exception"
## Details about Problem

NuGet product used: NuGet.exe

Product version: 5.9.1

Worked before? If so, with which NuGet version: 5.7.1

## Repro steps and/or sample project

1. Use attached txt file's content for nuspec file (you can just rename it to System.Windows.Extensions.nuspec)

[System.Windows.Extensions.txt](https://github.com/NuGet/Home/files/6406312/System.Windows.Extensions.txt)

2. Ex

[2021-04-30 16:15] #10801 closed, assigned to zivkan

[2021-04-30 16:58] #10818 closed, assigned to nobody

[2021-04-30 17:34] nkolev92 commented on #7060
@dedale
Was the temp folder the same for the invocations?

I also looked at your gist, and I noticed:

If you execute restore on a solution, it only runs 1 task per invocation, rather than 1 per project.
It's significantly more efficient when the restore task gets to parallelize the projects and not MSBuild.

[2021-04-30 17:43] terrajobst opened #10819 "Add support for net6.0-tizen and net6.0-android"
We should add support for `net6.0-tizen` as specified [here](https://github.com/dotnet/designs/blob/main/accepted/2021/net6.0-tfms/net6.0-tfms.md#design).

/cc @zkat @nkolev92 @WonyoungChoi

[2021-04-30 18:08] dedale commented on #7060
I realize this gist is not up-to-date with the latest version of my hack.
Now we are using a class MSBuildWithMutex that inherits from default MSBuild task otherwise global properties are lost.

In our CI setup, every agent running on the same machine is using its own TEMP folder.

[2021-04-30 18:33] aalali commented on #10491
@richlander  I still have the same issue and error reported [above](https://github.com/NuGet/Home/issues/10491#issuecomment-828065623).

Clearly, it is not docker specific issue, it is a Linux distribution within WSL 2 or Docker within corporate environment security layers.

For this simple app [solveuntrustedrootapp](https://github.com/aalali/solveuntrustedrootapp) if you run the `dotnet restore`

[2021-04-30 18:38] dedale commented on #7060
I have updated my gist using a child class of MSBuild class (previous approach with a UsingTask and C# TaskFactory did not work well because global properties are lost).

[2021-04-30 22:06] heng-liu opened #10820 "Support customized packing on symbol packages"
For now, NuGet has a customized packing on project NuGet.Build.Tasks.Pack.
However, the symbol package of this project could not be customized and packed correctly.
So we skipped packing the symbol package for this project.

Backgroud: https://github.com/NuGet/Home/issues/10463#issuecomment-827174360

When this feature is implemented, we may start to pack the symbol for project NuGet.Build.Tasks.P

[2021-04-30 22:08] heng-liu commented on #10463
Thanks for both @zivkan and @nkolev92's help offline.
We agreed to skip the packing of NuGet.Build.Tasks.Pack.snupkg for now.
When https://github.com/NuGet/Home/issues/10820 is fixed, we will start packing symbol package for project NuGet.Build.Tasks.Pack.

[2021-04-30 22:20] #10779 closed, assigned to jebriede

[2021-04-30 23:00] kartheekp-ms commented on #10803
@Rand-Random - Thank you for the detailed report. I agree that the error message is not actionable.  I noticed empty strings `logged` for project names in the package manager output. For example, see below output.

[code]

Can you plese check if there are any error messages logged in the [ActivityLog.xml](https://docs.microsoft.com/en-us/visualstudio/extensibility/how-to-use-the-activity-log?view=

[2021-04-30 23:21] nkolev92 commented on #7060
If you refer to https://github.com/NuGet/Home/issues/7060#issuecomment-736151248, NuGet depends on a shared temp folder as a locking mechanism.

[2021-04-30 23:43] kartheekp-ms commented on #10808
@v-longmin - Yes, as short-term solution to https://github.com/NuGet/Announcements/issues/56, signature verification has been disabled on Linux & Mac in https://github.com/NuGet/Home/issues/10713. If users would like to Opt-in to the package signing verification on .NET 5 Linux & Mac then please add an environment variable `DOTNET_NUGET_SIGNATURE_VERIFICATION` set to `TRUE` https://github.com/NuGe

[2021-05-01 17:54] TomArrow opened #10821 "Adding package: too many simultaneous IO requests, freezes USB hard drive and fails due to IO error"
## Details about Problem

When a project is located on my USB drive (docking station with two drives), installing a new package can freeze the entirety of Visual Studio and ultimately fail due to IO error. During this time, the hard drive is also more or less frozen and incapable of normal operation (very slow reading/getting stuck/taking forever to show folder or drive contents).

NuGet product u

[2021-05-01 17:57] TomArrow commented on #10821
I want to add that this happens even when the dependencies are already added to the project beforehand. However I did not try any special switches to ignore dependencies. I did try installing both through GUI and the package manager CLI though.

[2021-05-02 22:16] emgarten commented on #9726
Adding support for a next link in v3 search results would allow static feeds to split up the search results.

Currently this isn't possible since the next link is generated client side and it uses query parameters, so there is no other option.
https://github.com/NuGet/NuGet.Client/blob/f24bad0668193ce21a1db8cabd1ce95ba509c7f0/src/NuGet.Core/NuGet.Protocol/Resources/RawSearchResourceV3.cs#L49

For

[2021-05-02 23:51] lifengl commented on #10678
After thinking about this again, I now prefer a slightly different version of it:

The difference:
 instead of each project registers itself, it can be done by providing one component for one type of project systems (depending on the implementation of the project system, one can be more efficient or easier to do that another one. Also, potentially, other features like a batch file changes might us

[2021-05-03 14:39] zivkan commented on #10678
Firstly, I think `HasPendingRestore()` should be `HasPendingNomination()`. Maybe this was a typo.

However, I think that `bool HasPendingRestore()` is possibly not needed. Perhaps there's a perf benefit if `WhenRestoreNominated()` is allowed to return null?  But given on project load I imagine you'd set the project to the "has pending restore" state, it effectively means there will never be a scen

[2021-05-03 15:55] Rand-Random commented on #10803
@kartheekp-ms
As requested here the ActivityLog.xml
[ActivityLog.zip](https://github.com/NuGet/Home/files/6415963/ActivityLog.zip)

The activity log should contain 3 rebuilds each of them fired the exceptions.

[2021-05-03 16:29] Jehoel commented on #5360
@jangix  Can you post an example input and output `.nuspec` files? I'm having trouble reproducing your steps.

[2021-05-03 16:46] jzabroski commented on #3891
@JonDouglas I'm becoming disappointed at these responses saying the community needs a proposal.  We have already put together a proposal.  Please give feedback on what you find confusing, with specific examples from this thread.  I think the "solution" is fairly straightforward: Fix the TODO in the existing code!  The rest is minor details around clean naming of the API and understanding a build s

[2021-05-03 17:33] JonDouglas commented on #3891
@jzabroski Please feel free to [create a proposal on behalf of the community](https://github.com/NuGet/Home/tree/dev/meta#how-do-i-create-a-proposal). Anyone can create a proposal to help push these issues forward. Just filling out [the template](https://raw.githubusercontent.com/NuGet/Home/dev/meta/template.md) will help others on this thread & the NuGet team understand the functional/technical e

[2021-05-03 17:42] jzabroski commented on #3891
OK, I will create a proposal that I think meets everyone's needs.

[2021-05-03 17:44] heng-liu commented on #10620
Thanks for @JonDouglas 's suggestion offline.
We'd better implement interactivity at least for the -CertificatePassword field.

[2021-05-03 18:29] #10585 closed, assigned to heng-liu

[2021-05-03 18:55] jzabroski commented on #3891
I started writing it up here: https://github.com/jzabroski/Home-1/blob/dev/proposed/2021/IncludeReferencedProjects.md

Will probably take me several days to make a comprehensive proposal. Link to file may change over time, since calling it IncludeReferencedProjects isnt really correct.

[2021-05-03 19:38] AraHaan commented on #3891
I prefer to call it ``PackProjectReferences`` or just give ``ProjectReference`` an ``Pack=true`` bool value in terms of the xml stuff that tells nuget to pack them inside as well.

[2021-05-03 20:46] heng-liu commented on #10620
Thanks for the confirmation offline! This one will be implemented later.

[2021-05-03 20:47] jmelosegui opened #10822 "nuget.exe ignores inheritance for packageSourceCredentials"
Is it possible to configure Nuget so the package sources are configured in the nuget.config file in the solution dir, while the credentials for those sources are configured in the nuget.config file located at the user level (`%appdata%\NuGet\NuGet.Config`)?

Reading [how settings are applied](https://docs.microsoft.com/en-us/nuget/consume-packages/configuring-nuget-behavior#how-settings-are-applie

[2021-05-03 20:59] erdembayar opened #10823 "Add namespaces filtering support for packages.config restore in Visual Studio"
This task covers adding support in VS and if anything else other than NuGet.exe, MSBuild.exe.
~~A lot of the code is shared, but if need be, this task may be broken into smaller tasks.~~
Continuation of https://github.com/NuGet/Home/issues/10737

[2021-05-03 22:31] nkolev92 opened #10824 "Remove redundant UI delay switches in NuGet Project initialization"
There are some redundant UI thread affinity:

For example:
* https://github.com/NuGet/NuGet.Client/blob/3b1d6b8ab827236ea92fb25fb4e6c29596cf6c47/src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/ProjectSystems/MSBuildNuGetProjectSystemFactory.cs#L34 is unnecessary because all methods using the UI thread are async themselves, so they'll switch if needed.

[2021-05-03 23:23] #10776 closed, assigned to zivkan

[2021-05-04 08:37] mc0re commented on #6862
Three years have passed, still no solution? :-(

[2021-05-04 09:09] mc0re commented on #6862
I tried the following workaround, but it didn't work - I guess I've made a mistake somewhere?..

Part 1. Rename the `.nuspec` file to `.nuspec.RENAME_ME`. The file is successfully added to the package.

Part 2. Create a "rename" action in `template.json`. This one didn't do anything.
[code]

[2021-05-04 13:28] BlackGad commented on #10793
@nkolev92 what do you think about above flow?

[2021-05-04 13:30] jzabroski commented on #3891
@AraHaan Thanks for the suggestion! Renamed it https://github.com/jzabroski/Home-1/blob/dev/proposed/2021/PackProjectReferences.md

[2021-05-04 14:28] Steinblock commented on #4254
@zivkan

Thanks. I didn't try `NoTargets` but a simple `csproj` with `<IncludeBuildOutput>false</IncludeBuildOutput>` seems to work.

I even used content files with a custom packagepath so I don't need an additional nuspec file.

This adds some seconds to my CI pipeline because of the build process but it works.

[code]

[2021-05-04 15:39] marcin-krystianc commented on #7060
I was referring to the case where there are two processes which use different TEMP folder (so [locking](https://github.com/NuGet/NuGet.Client/blob/a4c9d63bf942f1df1ba9486a87bad2e4b6888488/src/NuGet.Core/NuGet.Packaging/PackageExtractor.cs#L633-L634) will not actually work) but same global packages folder.
In such scenario:
- first process will start the extraction by creating the `*.nuspec` file -

[2021-05-04 15:59] donnie-msft opened #10826 "nuget.exe add help message URL points to Docs section that no longer exists"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): nuget.exe

Product version: NuGet Version: 5.4.0.42325

Worked before? If so, with which NuGet version:

URL isn't horrible, as it gets you into the right area, but there's a different page with the `add` command docs now. This section no longer exists on this page, and it's the wrong page.

## Rep

[2021-05-04 16:00] zivkan commented on #10793
We should make improvements to symbols and debugging experience, so don't interpret this as avoiding any change. But if you're looking for a way to do debugging with tools available today, I just remembered that [BaGet](https://github.com/loic-sharma/BaGet/) has a built-in symbol server. Use this for your company internal NuGet feed, and I believe you can get it working.

[2021-05-04 16:00] donnie-msft commented on #10826
@dominoFire for triage

[2021-05-04 16:16] donnie-msft commented on #10822
Hi there! short answer is, yes, what you described should work.
In fact, `nuget.exe sources add` behaves that way by default (see https://docs.microsoft.com/en-us/nuget/reference/cli-reference/cli-ref-sources). When I tried this on NuGet Version: 5.4.0.42325, the credentials were added to the user level config.

Looking at your sample, I see some oddities. Which version of nuget.exe are you using?

[2021-05-04 16:28] donnie-msft opened #10827 "`sources add` for first `packageSourceCredentials` has extra space before closing XML element"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): nuget.exe

Product version: NuGet Version: 5.4.0.42325

Worked before? If so, with which NuGet version:

If it's the first `packageSourceCredentials`, it appears to add an extra space before closing element.
The second source/credential added to this section does NOT have the extra space (so only r

[2021-05-04 16:47] BlackGad commented on #10793
I want to improve local PC debug experience at the end :) all things above are first steps that are missed. NuGet have artifacts split functionality but have no merge. But merge process will allow a lot of additional things for proper develop experience.

You are right, somehow with third party solutions I am able to inject in some way symbols. But I want to use NuGet. I can use local folder as a

[2021-05-04 16:50] dtivel opened #10828 "Signing: support multiple timestamps on each signature"
Enable NuGet clients to support multiple timestamps on each signature.  In the event that there is a problem with one timestamp, signature validation can fall back to another timestamp.  This will improve long-term trust viability.

Note that NuGet client already allows multiple timestamps but only recognizes the first one during signature verification [here](https://github.com/NuGet/NuGet.Client/

[2021-05-04 17:38] nkolev92 commented on #7060
Ahh, I totally misread your original statement, mb.

[2021-05-04 19:21] ericstj commented on #7344
Related to https://github.com/NuGet/Home/issues/8087 cc @JonDouglas

[2021-05-04 19:48] ericsampson commented on #3891
thanks @jzabroski. I believe that we should remove your case 2 (`PublishSingleFile`) as IMO this is an orthogonal issue that should be addressed separately.

Are you proposing a new flag, in addition to the current `IncludeReferencedProjects` ? If so, would it be a superset of that flag, or would the two flags be expected to be used together.

It might be worth calling out more complex transitive

[2021-05-04 20:07] AraHaan commented on #3891
I think the PackageReferences in the projects that are referenced there should be automatically detected by nuget somehow and then when the .NET SDK generates the nuspec I feel it should add those under the ``<dependency>`` section of the generated nuspec while the build outputs to every ProjectReference that they explicitly marked that should be packed in that package would get packed inside.

[2021-05-04 20:30] jzabroski commented on #3891
@ericsampson You're way ahead of me.  While I have thoughts I have written down in various places on GitHub (across NuGet org, Microsoft org, and DotNet org), I haven't collated all my thoughts in one place.  When I design software, I try to get it right the first time, so I sometimes include some orthogonal features, because I think it is important to explain how pairwise interactions among featu

[2021-05-04 20:35] nkolev92 commented on #10197
Retitled the issue.

fyi @panopticoncentral, this is tracking issue for the discussion we had yesterday.

[2021-05-04 23:30] lifengl commented on #10678
Thanks,

HasPendingNomination sounds better, and I agree with you that it is not essential. I also thought about removing it, but ended with keeping it due to:
 1, it was brought up in the original discussion, so maybe it is useful for certain scenarios where the caller doesn't need wait. (Like logging?)
 2, it is easier to understand than using the state of the task returned from this WhenRestore

[2021-05-05 01:00] #10824 closed, assigned to nkolev92

[2021-05-05 06:17] davkean commented on #8675
I believe this to be resolved by https://github.com/dotnet/roslyn/pull/52521.

[2021-05-05 07:39] ManticSic opened #10829 "Restoring dependencies for child project in a solution for .NetFramework in PackageReference style does not work"
## Details about Problem

Restoring passed dependencies for .Net Framework projects in PackageReference style does only work, if the inherting project has nuget dependencies declared. Else the project  is not restored.

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): all

Product version:
NuGet.exe: 5.7.0
Visual Studio: 2017, 2019
MSBuild.exe: 16.9.0
dotnet.exe: 5.0.22

[2021-05-05 15:13] kzu opened #10830 "Be smarter about PackagePath and Pack metadata values"
See the [documentation on adding package readme](https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#packagereadmefile) support, it states you need to add:

[code]

Now, the `PackagePath` metadata is a packing-specific metadata item that is not used anywhere else (AFAIK). It seems quite obvious that if I specify a `PackagePath` metadata, it's because I want the item packed. Specifying

[2021-05-05 15:34] #8775 closed, assigned to nobody

[2021-05-05 15:35] #8786 closed, assigned to nobody

[2021-05-05 15:42] donnie-msft commented on #9624
⏰ @efunkenbusch, could you please clarify this request?

[2021-05-05 15:48] donnie-msft commented on #9648
⏰ @Sumoren could you please clarify by answering the above?

[2021-05-05 15:51] #9664 closed, assigned to nobody

[2021-05-05 16:01] donnie-msft commented on #9859
⏰ @DhanvannthVP Could you let us know if the document above answered your question?

[2021-05-05 16:28] zivkan opened #10831 "e2e test script should not delete temp directory"
The e2e test script wants to clean out the temp directory for some reason, but the way it does it is that it actually deletes the temp directory itself if none of the temp files are in use or locked.

This is very bad and breaks lots of things when the temp directory no longer exists.

[2021-05-05 17:14] #9901 closed, assigned to nobody

[2021-05-05 17:18] donnie-msft commented on #9925
⏰ @kmuthukumar23 could you please help us by answering the questions above?

[2021-05-05 17:20] #10061 closed, assigned to nobody

[2021-05-05 18:12] SeanLively commented on #3891
@JonDouglas, Is the NuGet team actually interested in fixing this for the corporate developers that walk face first into this issue when they try to migrate their existing codebases to .Net Core, or is this going to get pocket-vetoed like the SemVer change?
https://github.com/NuGet/Home/issues/3050

[2021-05-05 18:57] JonDouglas commented on #3891
@SeanLively Yes. This is a huge gap in parity from the nuget.exe to dotnet CLI experience. I continue to hear about this issue from .NET developers in survey responses, interviews, and much more which is why I've been engaged here for awhile.

I sadly cannot speak on behalf of anything done in the past as I do not have context nor know of all the history. Please be mindful that the past decisions

[2021-05-05 19:00] grantborthwick opened #10832 "[Wiki] Publishing and Consuming Symbols and Source for Debugging link 404s"
The [Publishing and Consuming Symbols and Source for Debugging](https://github.com/NuGet/Home/wiki/NuGet-Package-Debugging-&-Symbols-Improvements#solution-) link on [NuGet Package Debugging & Symbols Improvements](https://github.com/NuGet/Home/wiki/NuGet-Package-Debugging-&-Symbols-Improvements) has been renamed in the target repo ([dotnet/designs](https://github.com/dotnet/designs/)). Because of

[2021-05-05 19:06] IanKemp commented on #3891
At least get your facts straight before you throw around such baseless accusations!

Microsoft is first going to get interested community members to spend time and effort putting together a thoughtful, well-fleshed-out proposal, and *then* it's going to veto said proposal for some arbitrary reason, and then it'll keep hoping that everyone watching unfixed NuGet issues will get bored and migrate to

[2021-05-05 19:45] donnie-msft commented on #10832
Thanks for that! Made the edit now :)

[2021-05-05 19:45] #10832 closed, assigned to nobody

[2021-05-05 19:57] matkoch opened #10833 "Dedicated packageType for packages with ./tools folder"
## Feature Request

A lot of packages are purely used for what they ship in the `./tools` folder (related feature here is `PackageDownload`). It would be nice to have the ability to distinguish such packages on the metadata level (`packageType`).

Related to this request is #10782.

[2021-05-05 20:08] jonathanpeppers opened #10834 "Way to specify .nupkg file name?"
## Details about Problem

It appears that NuGet creates a file name for `.nupkg` files such as:

    $(PackageId).$(PackageVersion).nupkg

Where this gets weird, is with the [.NET Workload Spec](https://github.com/dotnet/designs/pull/188/files#diff-8fcaa29d8e6f00b34b3cb1830d93f33e75f04424780a66a3c658c7021048e74fR125).

If we need to make a package with:

* `PackageId`: `Microsoft.NET.Sdk.Android.M

[2021-05-05 20:13] nkolev92 opened #10835 "Remove unnecessary ToList enumerations in restore codepaths"
There are a bunch of unnecessary ToList enumerations in the restore codepaths.

[2021-05-05 20:22] nkolev92 opened #10836 "Mark IVsPackageInstallerServices as deprecated"
Mark IVsPackageInstallerServices as deprecated and point to the NuGet.VisualStudio.Contracts assembly.

[2021-05-05 20:35] ericsampson commented on #3891
I appreciate what you're doing Jon. There's just a long history of painful experience to overcome, and so you will probably have to deal with the brunt of people dumping their historical frustrations on you :) I hope you have thick skin, it's not personal :)

What's probably more useful from people is to assume good faith and re-escalate their most important issues, like 3050 or whatever, to you.

[2021-05-05 20:39] nkolev92 commented on #10210
Fixed in 16.10 by partners, internal [issue link](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1281052)

[2021-05-05 20:39] #10210 closed, assigned to erdembayar

[2021-05-05 20:40] nkolev92 commented on #10210
Tweaked the title to make it release note happy.

[2021-05-05 20:50] jzabroski commented on #3891
As someone who manages two open source projects with over one million downloads each, and over 6 million downloads total,...

I lead with trust, and don't assume malice.  It's a lot easier to fix incompetence than it is malice.

I mainly took Jon's last reply as a sign he wasn't able to consolidate this long thread into something actionable, or hasn't had the time to do so.

@IanKemp I actually do

[2021-05-05 20:58] nkolev92 commented on #9333
Bumping the priority back to P2 due to the recent PM UI related UI delays.

[2021-05-05 21:44] nkolev92 commented on #10678
I think the registration mechanism should use the same unique id as the regular nomination, so the name isn't optional imo, but necessary.
That way NuGet can correctly handle load/unload project events, otherwise we're need to talk about a deregistration mechanism.

I agree that the task status doesn't matter to NuGet at all.

I see the need for both method for reporting purposes.

This has the po

[2021-05-05 22:13] nkolev92 commented on #10678
If we want to be pedantic, we can probably call it `WhenDesignTimeBuildCompleted()` and not really a restore nomination.

I think both me and @zivkan are suggesting that the following is enough.

[code]

[2021-05-05 22:32] nkolev92 commented on #4438
Not a priority rn

[2021-05-05 22:32] #4438 closed, assigned to nobody

[2021-05-05 23:06] wli3 opened #10837 "Be able to output result a file in json when running dotnet list package"
---
**Issue moved from dotnet/sdk#17374**
- Please respond to @bschaatsbergen.

---

_From @bschaatsbergen on Monday, May 3, 2021 6:16:32 PM_

When running `dotnet list package` it would be preferable to have a parameter to output the results to a file in order to post process the results.

I would be ok with making a pull request if others are interested in this.

[2021-05-05 23:06] wli3 commented on #10837
---
**Issue moved from dotnet/sdk#17374**
- Please respond to @dotnet-issue-labeler[bot].

---

_From @dotnet-issue-labeler[bot] on Monday, May 3, 2021 6:16:34 PM_

I couldn't figure out the best area label to add to this issue. If you have write-permissions please help me learn by adding exactly one area label.

[2021-05-05 23:06] wli3 commented on #10837
---
**Issue moved from dotnet/sdk#17374**
- Please respond to @zahycs.

---

_From @zahycs on Tuesday, May 4, 2021 8:34:29 AM_

This can be very handy, especially after introducing packages vulnerability check using  `--vulnerable` argument. it could be very useful in pipelines

[2021-05-05 23:09] bschaatsbergen commented on #10837
Thanks for moving @wli3

[2021-05-05 23:19] nkolev92 commented on #10837
Dup of https://github.com/NuGet/Home/issues/7752.

[2021-05-05 23:19] #10837 closed, assigned to nobody

[2021-05-06 00:32] nkolev92 commented on #8902
I think there's still a need for this service, but the primary problem in https://github.com/NuGet/Home/issues/8675 is that the NuGet is being loaded on the UI thread, and that's something that's been fixed.

[2021-05-06 00:33] nkolev92 commented on #8675
That makes sense, given that the UI delay is caused by assembly loading on the UI thread.

The need for an async service still exists in https://github.com/nuget/home/issues/8902, but it's not correlated to a top hitter now.

[2021-05-06 00:33] #8675 closed, assigned to nobody

[2021-05-06 01:45] Jaans commented on #7796
What a mission this issue is, and neither of the workarounds (neither setting environment variable nor having the "after.{solution}.sln.targets" works.

It still keeps failing with
[code]

[2021-05-06 09:39] chucklu opened #10838 "Can not restore the nuget packages"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): Visual Studio

Product version: 16.9.2

Worked before? If so, with which NuGet version:

## Repro steps and/or sample project

Have no idea why it did not work, it works fine and suddenly it was broken.

### Verbose Logs

[code]

[2021-05-06 09:41] chucklu commented on #10838
It's not the same as https://github.com/NuGet/Home/issues/10336, I can open the NuGet Package manager, but can not restore packages.
![image](https://user-images.githubusercontent.com/3004057/117277223-3c983b80-ae92-11eb-85af-3d409404e49c.png)

[2021-05-06 09:45] chucklu commented on #10838
By the way, this problem is not solution or project related.
All my projects or solution can not restore packages now.

[2021-05-06 09:54] chucklu commented on #10838
Interesting, I close the visual studio. Then open it again, the restore feature is back.
I can restore packages successfully now.

[2021-05-06 09:54] #10838 closed, assigned to nobody

[2021-05-06 12:05] Abishake968 opened #10845 "Issues while packing custom nuget package by using nuget exe v5.9.1"
### Describe the bug

I created lib folder structure like lib\net5.0-windows\AssemlyName.dll and nuspec file parallel to lib folder. We have multiple assemblies in lib folder so, we added "references" tag in  nuspec file then try to create a nuget package by using a command "nuget.exe pack" with nuget.exe v5.9.1. I faced below two issues.

![image](https://user-images.githubusercontent.com/3699953

[2021-05-06 12:12] jmelosegui commented on #10822
@donnie-msft, thanks for your answer.
I finally figured out that if the NuGet command includes the argument `-configFile <path to nuget.config>` then the behavior described in [how settings are applied](https://docs.microsoft.com/en-us/nuget/consume-packages/configuring-nuget-behavior#how-settings-are-applied. ) does not apply, and instead, the NuGet CLI will only consider the configuration file p

[2021-05-06 18:42] #10831 closed, assigned to zivkan

[2021-05-06 18:43] #10835 closed, assigned to nkolev92

[2021-05-06 19:01] chrisraygill opened #10839 "Simplify project file formatting for including files in NuGet packages (icon, license, README)"
We should simplify the process of including files in the nupkg to ideally a single-line experience like most other package metadata.

One of the advantages of creating SDK-style projects is the ease of interpreting and editing project files. The majority of package metadata can be specified in a single line while embedded files like icons, license files, and README files will need a line in the `<

[2021-05-06 19:02] donnie-msft commented on #10822
Glad you got it resolved!

I think that docs page could be more clear and better match what the `nuget <command> -help` shows for `-ConfigFile`.
I wrote up an issue, https://github.com/NuGet/docs.microsoft.com-nuget/issues/2419
Thanks for bringing it up!

[2021-05-06 19:02] #10822 closed, assigned to nobody

[2021-05-06 19:11] chgill-MSFT commented on #10839
Closing as dupe of https://github.com/dotnet/sdk/issues/2142

[2021-05-06 19:13] loic-sharma commented on #10839
This feature would reduce 16 lines down to 11 lines, a 30% reduction in your project file. Before: This feature would reduce 16 lines down to 11 lines, a 30% reduction in your project file. Before: This feature would reduce 16 lines down to 11 lines, a 30% reduction in your project file. Before: This feature would reduce 16 lines down to 11 lines, a 30% reduction in your project file. Before: 🤮

[

[2021-05-06 19:15] loic-sharma commented on #10839
(Reopening after offline chat with Chris)

[2021-05-06 19:18] georgepharrison opened #10840 "NuGet Restore on Windows distro"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): dotnet.exe

Product version: 5.0.202

Worked before? If so, with which NuGet version: Unknown

## Repro steps and/or sample project

We're using GitLab and our CI Pipeline was working before and just started to _randomly_ throw the NU3028 and NU3037 errors on nuget.org packages. Here is the dockerf

[2021-05-06 20:14] #6873 closed, assigned to chrisraygill

[2021-05-06 20:45] loic-sharma commented on #9344
@agr That's an excellent point. However, you can already do this attack using MSBuild in the project file. We're not making this existing attack vector better or worse.

[2021-05-06 20:46] kapoor1992 commented on #5385
Is this one still being ignored?

[2021-05-06 21:00] loic-sharma opened #10841 "Add embedded release notes"
# Background

The release notes experience is less than ideal today as the release notes are included in the project file directly. For example:

[code]

This approach has a few flaws:

* Large release notes will clutter your project file.
* The release notes is not ideal for rich experiences like links, tables, etc...

Some projects, like Akka.net, circumvent this using build magic: https://githu

[2021-05-06 21:04] #10836 closed, assigned to zivkan

[2021-05-06 21:05] anangaur commented on #10841
Or support for Changelog.md?

[2021-05-06 21:12] michael-hawker commented on #10668
Just saw the announcement about the [readme file support here](https://devblogs.microsoft.com/nuget/add-a-readme-to-your-nuget-package/). We already include [a readme in our project](https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/main/Microsoft.Toolkit.Uwp.UI.Controls/Microsoft.Toolkit.Uwp.UI.Controls.csproj#L14) as Visual Studio supports this behavior.

It would be great to have

[2021-05-06 21:19] chgill-MSFT commented on #10668
Hi @michael-hawker! Do you mean you would like NuGet.org to display the README.txt file supported by Visual Studio if it's included in the nupkg the same way it does a README.md in the new experience?

[2021-05-06 22:17] Aaronontheweb commented on #10841
So for an example of what do in our release process today:

https://github.com/akkadotnet/akka.net/blob/dev/RELEASE_NOTES.md#1419-april-28-2021

Our build script grabs the section of markdown for the matching NuGet package version and injects it into the `<PackageReleaseNotes>` field as full markdown. Just making it so that section could include markdown would be a great way of supporting this ret

[2021-05-06 22:46] nkolev92 commented on #10841
I think we can call this a dup of https://github.com/NuGet/Home/issues/1203.

[2021-05-06 23:06] loic-sharma commented on #1203
Copying the content from this issue: https://github.com/NuGet/Home/issues/10841

# Background

The release notes experience is less than ideal today as the release notes are included in the project file directly. For example:

[code]

This approach has a few flaws:

* Large release notes will clutter your project file.
* The release notes is not ideal for rich experiences like links, tables, etc..

[2021-05-06 23:11] loic-sharma commented on #10841
Closing this as a dupe

[2021-05-06 23:11] #10841 closed, assigned to nobody

[2021-05-07 01:14] matkoch commented on #6279
@JonDouglas just tagging to make sure someone notices this.

This issue in fact became more relevant with source generators.

[2021-05-07 04:09] JonDouglas commented on #1203
Awesome, can we move this into a proposal PR in home?

[2021-05-07 04:32] davkean opened #10843 "NuGet GC performance push for dev17"
I started looking into NuGet restore allocations, as they are causing large GC pause times in the wild. I'm looking at a trace of Orchard Core in https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workitems/edit/1278814.

Method|Description|Fix|Percentage % | Tracking issue|
---|---|---|---|----
~`TokenSegment.TryMatch`~|~Creates lots of `Dictionary<TKey, TValue>`~|~Can we be more efficient

[2021-05-07 05:13] davkean commented on #10843
tag @nkolev92 @jebriede

[2021-05-07 07:14] davkean opened #10844 "Don't get downgrade warnings when a minimum version is not specified"
## Details about Problem
When a version is not specified for a package reference and that version that is ultimately picked has a conflict, no error is output.

`Microsoft.Azure.Functions.Authentication.WebAssembly` has a dependency on `Microsoft.AspNetCore.Components.WebAssembly.Authentication` (3.2.1) and specifying a package reference `Microsoft.AspNetCore.Components.WebAssembly.Authentication`

[2021-05-07 07:19] michael-hawker commented on #10668
@chgill-MSFT yeah that's what I was thinking. If a package already has a readme.txt then it'd be cool to have that be provided in the Readme section on NuGet.org unless the package provider has provided these new metadata properties to specify an alternate filename.

[2021-05-07 11:04] ffMathy commented on #6873
@chgill-MSFT this is fantastic news! But I doubt it'll truly be used a lot before you start enabling it per default, if there is a `README.md` file present.

Time will tell!

[2021-05-07 12:55] StingyJack commented on #5385
If they werent willing to address this when there were more developers affected by it and when they had been offered an example of how to tactically manipulate the file, they certainly arent going to do it now.

[2021-05-07 13:28] MarkStega commented on #10791
Confirming the same issue with a Net5 project and "Microsoft (R) Build Engine version 16.10.0-preview-21175-01+afd0b6210 for .NET" as the build engine.

[2021-05-07 15:48] erdembayar commented on #10840
@Ringo-gph
It looks your docker image. Can you give us docker image OS details?

[2021-05-07 17:19] heng-liu commented on #10840
Hi @Ringo-gph , may I know more about "randomly throw the NU3028 and NU3037 errors"?
So does that mean when you run dotnet restore, it either fail on all packages (may I know how many packages should be restored?) for NU3028 and NU3037, or succeed on all packages?
Or fail on certain packages while succeed on other packages?
You may check if there is any extracted packages in the `${NUGET_PACKAGES_

[2021-05-07 17:37] nkolev92 commented on #10843
This is amazing, thanks @davkean !

Quickly running through some of the problem areas I'm familiar with:

The frequency that this API is called with should be reduced with the wider LockFileTargetLibrary caching.

RemoteResolveResult.Dependencies should be a list. This has been on the chopping block but we had refrained because of public API changes.

Raw was added for pack validation purposes. We

[2021-05-07 18:53] Ringo-gph commented on #10840
It's a windows image: mcr.microsoft.com/dotnet/framework/sdk:4.8-windowsservercore-ltsc2019

I install dotnet 5.0.202 on it in the dockerfile and confirm through the logs when doing a `dotnet --version`

@heng-liu it sometimes has failures on nuget API packages. I have to keep retrying the job until it successfully does a restore without throwing an error which I find very, very odd. I would expec

[2021-05-07 19:05] zkat commented on #10819
I'm going to use this issue as the one for adding net6.0-android, too.

[2021-05-07 19:43] erdembayar commented on #10840
@Ringo-gph
I restored your windows docker image 2 times, it didn't repro. It can always restore without issues.

![image](https://user-images.githubusercontent.com/8766776/117496557-10c99400-af2c-11eb-9eae-4fcf347e2c8b.png)

Can you go to your local global nuget cache folder find one of Microsoft package then do `nuget verify -all System.xxxx.nupkg -v d`? We need to see your root CA, something sim

[2021-05-07 19:43] chgill-MSFT commented on #10668
Thanks for the suggestion! I'm curious though, do you see a utility in continuing to use the README.txt now that README.md files are supported? Is there anything stopping you from changing the .txt extension to .md and calling it a day?

There is some difference in functionality. The README.md file won't pop up when installing the package the same way the README.txt does, but I'm not sure that's n

[2021-05-07 20:35] zkat opened #10846 "Support .NET 7.0"
Tracking epic for all our net7.0-related issues

- [ ] https://github.com/nuget/home/issues/10872
- [ ] https://github.com/NuGet/Home/issues/10430
- [ ] https://github.com/nuget/home/issues/6279
- [ ] https://github.com/nuget/home/issues/7815
- [ ] https://github.com/nuget/home/issues/9667
- [x] https://github.com/nuget/home/issues/9347
- [x] https://github.com/nuget/home/issues/5154
- [x] https:/

[2021-05-07 21:23] donnie-msft commented on #10840
Just read about a Windows Group Policy issue, where CA's are occasionally identified as untrusted 1-2 times per day or week.

May be worth quickly checking
1. Start -> Edit Group Policy
2. **Computer Configuration > Windows Settings > Security Settings > Public Key Policies > Trusted Root Certification Authorities**
3. Does **Trusted Root Certification Authorities** exist here?

See the article he

[2021-05-07 22:06] zivkan commented on #10793
I'm super busy with multiple urgent issues, so I haven't had time to look into this in detail.  My overview is that this proposal is basically going to change NuGet to download and extract snupks in the global packages folder & solution packages folder on restore, and then hope the rest of the build tools make debugging work nice.

This is "easy" enough for local package sources, since we own the

[2021-05-07 22:47] Ringo-gph commented on #10840
I will check this out on Monday when back in office and see what it says.

Thank you all for your help!

On Fri, May 7, 2021, 16:23 Donnie Goodson ***@***.***> wrote:

[2021-05-07 22:59] brphelps commented on #1851
@psmulovics @rrelyea sorry it took me forever to respond here. I'm mostly looking at:
https://github.com/AzureAD/microsoft-authentication-extensions-for-dotnet
For reasons I'm a little unclear on I'm blocked from logging into that wiki that they link there, but I remember that it talks about their fallback process in detail. Maybe you guys can access it?

[2021-05-08 00:05] psmulovics commented on #1851
We can, the problem that if the application is not interactive (eg it has not X11 access) it cannot use a keychain (it would use the one from Gnome for example which depends on X11). As a result, it falls back to unencrypted plain text. The actual code is:

storageProperties = ConfigureSecureStorage(usePlaintextFileOnLinux: true);

[2021-05-08 09:04] BruceWangNo1 commented on #8318
For those who ran into error NU1201, you might have come to the right place. This may not apply to the question asked but I ran into error NU1201 the other day and the reason for that is the nuproj configuration file for our nuget project has target configuration wrong. It should have been <TargetFrameworkVersion>v4.6.2</TargetFrameworkVersion> instead of <TargetFramework>net462</TargetFramework>

[2021-05-09 01:49] #10400 closed, assigned to erdembayar

[2021-05-09 13:16] bbodenmiller opened #10847 "nuget.exe update -self does not use NuGet.Config"
## Details about Problem

`nuget.exe update -self` does not use `NuGet.Config` and uses `nuget.org` even if removed from config file

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): `NuGet.exe`

Product version: 5.7.1

Worked before? If so, with which NuGet version: no

## Repro steps and/or sample project

1. Remove `nuget.org` from  `NuGet.Config` and add an alternativ

[2021-05-09 20:45] michael-hawker commented on #10668
@chgill-MSFT with WinUI (and since we have it as a dependency in the Windows Community Toolkit) there are specific changes for resources developers need to make to their project to use the library. Therefore, we want the file to pop-up in Visual Studio to instruct the developer to do so.

Only having it at install time or on the website wouldn't be sufficient, but having both or having more detail

[2021-05-09 21:02] kzu commented on #3891
I never asume malice either.

For those assuming Microsoft is the only one that can "fix" this: I've looked, used, and even sent few little very minor improvements. You need to realize that a `nupkg` is nothing more than a *zip* file. And NuGet provides extensive APIs for working with it, all public on nuget.org. On a substantially different scale, it's as if back in the day when Newtonsoft.Json s

[2021-05-10 07:08] matt-richardson commented on #10804
Can nuget output a warning if there are no sources defined? The behavior at present is pretty annoying.

[2021-05-10 08:42] matthewjones555 commented on #3891
Some of us would like to eliminate having a nuspec file, because it's a second source of truth, that can easily go out of sync with the project file that the package is based off.  Maintaining a list of dependencies in each nuspec file is a complete nightmare, especially for larger projects.

[2021-05-10 10:00] Nnamdi-tech commented on #7158
Wow, thanks one million times. Really solved it.

[2021-05-10 11:40] zivkan commented on #10804
@matt-richardson an issue already exists for that idea: https://github.com/NuGet/Home/issues/2472

It doesn't have a single upvote 😞

[2021-05-10 13:45] Ringo-gph commented on #10840
@erdembayar :
![image](https://user-images.githubusercontent.com/3589950/117667396-75723200-b16a-11eb-8b1a-9e656c5c9dca.png)

This is on my local machine. I'll need to remote into the gitlab runner service machine and do a docker run on the image we are using to build with and check on it as well, but I figured I'd share this one as I thought it odd.

[2021-05-10 16:01] erdembayar opened #10848 "Dotnet nuget trust command auto-completion implemenation in dotnet sdk"
## Details about Problem

NuGet product used ( dotnet.exe):

Product version:

Worked before? If so, with which NuGet version: N/A

## Repro steps and/or sample project
This issue is created to track SDK changes for `dotnet nuget trust` command. Implementation need to happen in dotnet/sdk repository. Below is issue created in their side.
https://github.com/dotnet/sdk/issues/17200

Add documentatio

[2021-05-10 18:16] MarkPflug commented on #10839
I like this idea, but what about taking it to the extreme and defaulting all the values based on naming conventions?

[code]

How often would a user be surprised by this as a default behavior? Is it likely that there would be an icon.png, README.txt or LICENSE.txt in the project root that the user *doesn't* want to be used as the package asset? I suppose this would be a breaking change to existing

[2021-05-10 20:51] zkat commented on #10073
@mingkuang-Chuyu we haven't heard back from you, so we're going to close this now. Please feel free to file a new issue if this is still a priority for you.

[2021-05-10 20:51] #10073 closed, assigned to nobody

[2021-05-10 20:56] zkat commented on #10793
@JonDouglas this looks like something we should look at from a customer development perspective, and figure out what actions to take from there. Do you mind taking a look? Andy and Nikolche can help with context/clarification. :)

[2021-05-10 21:36] JamesNK opened #10849 "PrivateAssets package reference from metapackage"
gRPC on the server requires a bunch of packages:
* Grpc.AspNetCore.Server
* Google.Protobuf
* Grpc.Tools

To make things easier for developers, there is meta-package call [Grpc.AspNetCore](https://www.nuget.org/packages/Grpc.AspNetCore) that references these so the developer only needs to bring in one package.

The issue is Grpc.Tools only needs to be referenced at development time. It is quite la

[2021-05-10 23:09] erdembayar commented on #10840
Can you retry `dotnet restore` one more time after verify complaining `packageId  +version`  exists in global cache?
If you can see them then there shouldn't be any issue, because `dotnet/nuget restore` doesn't care about signature if package is already in global cache.

[2021-05-10 23:13] zivkan commented on #10845
NuGet 4.9 doesn't know anything about net5. It might "work", but it's missing contextual information about which version of Windows, so NuGet can't do proper compatibility checks when installed in projects.

The target framework `net5.0-windows` (notice I didn't call it a TFM - target framework moniker) is valid in a csproj. When you don't specify which version of Windows, the .NET SDK provides a

[2021-05-11 00:30] wangkanai commented on #6873
@chgill-MSFT Cool! a very a long await features for me.

[2021-05-11 01:46] vsfeedback opened #10850 "Update NuGets included through Directory.Build.props"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Update-NuGets-included-through-Directory/1416451)._

---
[severity:It's more difficult to complete my work]
I have a `Directory.Build.props` file in solution folder that includes some NuGets in all of my projects. It works great, but when I'm updating said NuGets (by opening "Manage NuGe

[2021-05-11 01:57] vsfeedback opened #10851 "Nuget Package Manager Conditional multi-target issue"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Nuget-Package-Manager-Conditional-multi-/1416380)._

---
**Context**
- Given a multi-target project that conditionally adds different package versions based on the TargetFramework.
E.G.

**Problem**
- Updating the package through the manager UI results in BOTH conditional item groups rec

[2021-05-11 03:46] matt-richardson commented on #10804
Thanks for pointing that out. I've added a vote.
I would still recommend that that be considered as part of the breaking change that this introduced.
We sunk a lot of time into trying to figure this out - a warning would have immediately point us in the right direction.

[2021-05-11 06:19] BlackGad commented on #10793
@zivkan thank you! I really appreciate your effort to this despite being busy!

As an intermediate conclusion:
- New functionality must be transparent and independent from generic NuGet restoration process. So any actions must be turned on manually with appropriate commands
- Symbols cache must be stored in separated folder
- Actual merge operation must be performed only for solution packages fold

[2021-05-11 08:46] GeertvanHorrik opened #10853 "Packaging of 'net5.0-windows' broken since 5.9.1.11"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): NuGet.exe

Product version:

Worked before? If so, with which NuGet version:

Worked: 5.8.1
Not working: 5.9.1.11

## Repro steps and/or sample project

We want to package a NuGet package with only "net5.0-windows". We need this to support our Squirrel installations and updates.

Before 5.9, we cou

[2021-05-11 08:59] andzn commented on #8465
We're running into the same issue. We are using dotnet 5.0.202. Is there a workaround or something we can try in the meantime?

[2021-05-11 15:06] zivkan commented on #10793
An internal email thread made me realize that snupkgs currently do not get signed. If NuGet is going to start reading these files (currently it's write-only), then we need to consider whether we need to make snupkgs signed as well to mitigate the same risks that signed nupkgs mitigate. I really, really don't want to add scope creep, but security is security.

[2021-05-11 15:21] BlackGad commented on #10793
My short opinion: It is not theme for consideration. snupkg MUST be safe

[2021-05-11 18:46] #10484 closed, assigned to kartheekp-ms

[2021-05-11 18:47] nkolev92 opened #10854 "Hang when the PackagesMissingStatusChanged event is fired"
[PerfWatson] perfwatsonhang: nuget.packagemanagement.ui.dll!NuGet.PackageManagement.UI.PackageManagerControl.packageRestoreManager_PackagesMissingStatusChange
[1274496](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1274496)

[code]

[2021-05-11 19:23] AeydSaman opened #10855 "$profile C:\Users\<user>\Documents\WindowsPowerShell\NuGet_profile.ps1"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe):

Product version:

Worked before? If so, with which NuGet version:

## Repro steps and/or sample project

### Verbose Logs

[2021-05-11 19:23] AeydSaman commented on #10855
hack

[2021-05-11 19:23] #10855 closed, assigned to nobody

[2021-05-11 19:23] AeydSaman commented on #10855
hack

[2021-05-11 19:23] AeydSaman commented on #10855
hack

[2021-05-11 19:24] AeydSaman opened #10856 "<!-- Please read the following information before posting the issue. --> <!-- If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place. --> <!-- If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues) --> ## Details about Problem NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): Product version: Worked before? If so, with which NuGet version: ## Repro steps and/or sample project <!-- Please add as much details as possible to help us to reproduce your problem. --> ### Verbose Logs <!-- Please include verbose logs (NuGet.exe <COMMAND> -verbosity detailed | dotnet.exe <COMMAND> --verbosity diag | etc...) -->"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe):

Product version:

Worked before? If so, with which NuGet version:

## Repro steps and/or sample project

### Verbose Logs

[2021-05-11 19:24] #10856 closed, assigned to nobody

[2021-05-11 20:59] nkolev92 opened #10857 "Clarify documentation guideline - do no include empty xml docs"

[2021-05-11 21:08] donnie-msft commented on #10857
Can we make this more explicit? eg, Specify all parameters, at a minimum with their pre- & post-conditions. If nothing of note, should we write a basic descriptions like, "The packageId"?

By not listing a parameter for a method with a parameter, are we not breaking the convention?

[2021-05-11 22:09] nkolev92 commented on #10857
@donnie-msft Can we continue the discussion on the PR?

[2021-05-11 22:45] erdembayar commented on #10834
@jonathanpeppers
Thank you for filing this issue.
I tried your scenario and here is solution.
1. mkdir Microsoft.NET.Sdk.Android.Manifest-6.0.200
2. cd Microsoft.NET.Sdk.Android.Manifest-6.0.200
3. dotnet new classlib
4. msbuild -t:pack
![image](https://user-images.githubusercontent.com/8766776/117893472-56a99380-b26f-11eb-8ea4-a7d234794173.png)

5. msbuild -t:pack -p:PackageId=Microsoft.NET.Sdk.A

[2021-05-11 22:58] erdembayar commented on #10853
@GeertvanHorrik
Thank you for filing this issue.
I believe that change was part of wider `.net 5 sdk` change. If you looks at [.net 5 sdk design](https://github.com/dotnet/designs/blob/main/accepted/2020/net5/net5.md) then you'll see `net5.0-windowsX.Y` as target framework, and `X.Y` as TPV(TargetPlatformVersion).
@zkat Could be able to add more details here?

[2021-05-11 23:00] #10717 closed, assigned to zkat

[2021-05-11 23:49] erdembayar commented on #10845
Closing as duplicate of existing [VS feedback](https://developercommunity.visualstudio.com/t/Issues-while-packing-custom-nuget-packag/1415347#T-N1418620). I and zivkan already answered this question. Null exception part is recently [fixed](https://github.com/NuGet/Home/issues/10685).
If you still have question question then feel free to engage on existing VSFeedback.

[2021-05-11 23:49] #10845 closed, assigned to nobody

[2021-05-11 23:52] jonathanpeppers commented on #10717
@zkat could this get reopened until we have Android, too? Or is there another issue I could track? Thanks!

[2021-05-11 23:58] nkolev92 commented on #10793
The burden here is not technical, but UX.

We appreciate your willingness to do the work here, but I'd encourage you to wait for a confirmation from us before spending time on the implementation.

[2021-05-12 01:17] nkolev92 commented on #10678
Status update:

I'm playing with the proposed API shape in https://github.com/NuGet/NuGet.Client/compare/dev-nkolev92-solutionRestoreService4?expand=1.

I have some small changes, but nothing major.

Note that the implementation on NuGet side is *not* super critical, it's mostly for me to be able to understand the complete process.

The changes will go into 2 PRs, even if they are implement right

[2021-05-12 01:49] erdembayar commented on #10803
@Rand-Random
I don't see any actual nuget related error in your `ActivityLog.zip`. There're some MEF error not sure if they're benign or not.
But I see below error in your previous logs:

`The BaseOutputPath/OutputPath property is not set for project 'External.csproj'.  Please check to make sure that you have specified a valid combination of Configuration and Platform for this project.`

Do you ha

[2021-05-12 03:08] Rand-Random commented on #10803
@erdembayar getting 404 for the linked csproj file.

[2021-05-12 03:36] bbodenmiller commented on #10847
@erdembayar some companies have policies against downloading packages from the public internet and must download NuGet packages through an internal proxy service. In that case one normally removes `nuget.org` from `nuget.config` and adds their internal NuGet proxy service (using a different name) including any necessary authentication details. This enables commands like `nuget install <package>` t

[2021-05-12 04:14] erdembayar commented on #10803
@Rand-Random
Here it's:
[code]

[2021-05-12 05:22] heng-liu opened #10858 "Add dotnet nuget sign document link into exception message, description etc."
## Details about Problem

Background: comments from @kartheekp-ms
https://github.com/NuGet/NuGet.Client/pull/3974#discussion_r630479452
https://github.com/NuGet/NuGet.Client/pull/3974#discussion_r630399559

Tracking some follow up items from PR https://github.com/NuGet/NuGet.Client/pull/3974 when implementing dotnet nuget sign command.
Some exception messages/description need to add a link to the

[2021-05-12 10:22] v-luzh opened #10859 "[Unstable] Error occurs when updating package in PMC for the first time after setting a PackageReference version range in the nuget.config file of SDK project"
## Details about Problem
VS Version: Main\31311.340
NuGet Version: Implicit 6.0.0.15
OS Version: Windows-10-Enterprise-21H1
## Repro steps and/or sample project
1.	Launch VS and create a new .NetCore Console Application (.NET 5.0).
2.	Select context menu "Edit xxx.csproj" through right-clicking the project.
3.	Edit the csproj file as below
[code]
4. Open PMC from Tools -> Nuget Package Manager->Pa

[2021-05-12 13:23] cravecode commented on #8546
I know this is closed, but Google will lead others here with similar issues.

Azure DevOps' dotnet pack step wraps the command in a MSBuild process. This will result in the error documented in this ticket (`The target "pack" does not exist in the project.`)

In my case, I was building a Nuget package that targets multi frameworks

The solution is the step documented specifically under: [Add the Nu

[2021-05-12 14:11] zivkan commented on #8546
@cravecode please use

[code]

People using your package should not get NuGet.Build.Tasks.Pack as a dependency, especially if they're using the .NET SDK where the version of the pack tasks you're using are older than what ships in the .NET SDK itself.

[2021-05-12 16:11] erdembayar commented on #10847
@bbodenmiller
We may not change default back to `nuget.org` behavior because there could be some people who rely on this.
Please consider using `dotnet.exe` since it's almost have parity with `nuget.exe` in features and many more usages, it's the future.
Also instead of `nuget.exe update -self -Source https://internalUrl/v3/index.json` you can use cli script such as powershell which gives you more

[2021-05-12 16:19] mhutch commented on #10372
I'm running into this problem with `PdbType=embedded`. I have not set `SymbolPackageFormat`, and neither `IncludeSmbols=false` nor `NoPackageAnalysis=true` can be used to suppress it.

While my issue would be fixed by https://github.com/dotnet/msbuild/issues/2754, the symptom is the same as this one - the exact same misleading error that cannot be suppressed.

[2021-05-12 17:16] AArnott commented on #10372
_Yes_, I recently [started building `embedded` pdbs as well (only on dev boxes)](https://github.com/AArnott/Library.Template/commit/791accaddbc87f2a06675d7620c849bc0a15a605#diff-9da24614831c308827a1ae533ffea392c97638c261dd42bd0f5226baa136d16e) and it took a while to figure out why packing started failing on dev boxes so I could [fix it](https://github.com/AArnott/Library.Template/commit/98156ca3ca

[2021-05-12 17:53] ericstj opened #10860 "No public mechanism to place symbols outside of lib/ref for Pack"
## Details about Problem

In dotnet/runtime we're moving a lot of our packages from using our custom pkgproj system to using the built-in CSProj + PackTask (hooray!).   One of the challenges we faced was that it's difficult to place symbols outside the lib/ref folder.

This is necessary for supported scenarios of packaging runtime assets (`runtimes/<rid>/lib/<tfm>`) and analyzers (`analyzers/dotne

[2021-05-12 18:26] joelverhagen opened #10861 "Version range with build metadata no longer parsed"
## Details about Problem

NuGet product used: NuGet.Versioning
Product version: 5.10.0-preview.2.7185
Worked before? If so, with which NuGet version: 5.9.1

## Repro steps and/or sample project

Version: `[1.0.0+git, 1.0.0-beta.1]`

Works:
https://nugettoolsdev.azurewebsites.net/5.9.1/parse-version-range?versionRange=%5B1.0.0%2Bgit%2C+1.0.0-beta.1%5D

Does not work:
https://nugettoolsdev.azurewebs

[2021-05-12 19:00] joelverhagen commented on #10861
@nkolev92 pointed out that the range is nonsense and that's why it is throwing. In my example, the max of the range is less than the min. Closing as by design.

[2021-05-12 19:00] #10861 closed, assigned to nobody

[2021-05-12 19:32] erdembayar commented on #10859
@v-luzh
I tried on both my machine and VM so far it didn't repro.
Can you elaborate `with Implicit NuGet 6.0.0.15` part? Maybe I'm missing something here.
First I tried without any change then next I copied content of `6.0.0.15 vsix` to `C:\Program Files\Microsoft Visual Studio\2022\Preview\Common7\IDE\CommonExtensions\Microsoft\NuGet`  but still no repro.

![image](https://user-images.githubuserc

[2021-05-12 19:33] zii-dmg opened #10862 "Excessive russian localization in `dotnet nuget list source --help`"
NuGet product used: dotnet.exe
Product version: SDK 5.0.203
Command: dotnet nuget list source --help

Should not localize `--format` argument values "Detailed" / "Short" in:
https://github.com/NuGet/NuGet.Build.Localization/blob/2faef2e34504ccaf350912f0cf5ec7a16fcfa7bd/localize/RUS/15/NuGet.CommandLine.XPlat.dll.lcl#L1625

Current:
`<Val><![CDATA[Формат выходных данных команды для получения списка

[2021-05-12 20:27] radutomy commented on #10423
Pretty much the same problem as @tacitfirefox. Solution builds fine locally in Visual Studio but fails in Azure DevOps.
What's the point of a `directory.build.props` if we have to define TargetFramework in every .csproj

[2021-05-12 21:40] jonathanpeppers commented on #10834
@erdembayar in your screenshot, we want there to be a `-` between `6.0.100` and `11.0.200` *instead* of a `.`. One is coming from the `$(PackageId)` and the other is the `$(PackageVersion)`.

Also assume someone might want `foo.nupkg` for this example, can there be a completely custom file name?

[2021-05-12 21:52] erdembayar commented on #10834
@jonathanpeppers
My test shows you can name your nupkg with any arbitrary name, so make it easy instead of 2 parameters just pass 1(name+version).
`msbuild -t:pack -p:PackageId=Foo11.0.200-preview.4.245`

![image](https://user-images.githubusercontent.com/8766776/118048737-8f11a600-b331-11eb-97b1-46d2dbaaa8a7.png)

[2021-05-12 21:56] zivkan commented on #10423
My steps:

1. `mkdir dbpTest | cd`
2. `dotnet new console`
3. `cp dvpTest.csproj Directory.Build.props`
4. edit `dvpTest.csproj` to remove the `<TargetFramework>net5.0</TargetFramework>`
5. edit `Directory.Build.props` to remove the `Sdk="Microsoft.NET.Sdk"` and `<OutputType>Exe</OutputType>`
6. `dotnet build`

This worked for me.

My issue with MSBuild is that it's a programming language, even th

[2021-05-13 01:35] vsfeedback opened #10864 "NuGet packages downloaded over 1 billion times show the wrong unit"
![image](https://user-images.githubusercontent.com/8766776/118065034-1b7f9100-b351-11eb-8018-a237184857d7.png)

_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/NuGet-packages-downloaded-over-1-billion/1418778)._

---
[severity:It bothers me. A fix would be nice]
I was just about to download Newtonsoft.Json and noticed that the NuGet p

[2021-05-13 01:56] nkolev92 commented on #8620
This was something that was cleared up in the context of adding vulnerability to dotnet list package https://github.com/NuGet/Home/blob/dev/proposed/2020/PackageVulnerability/DotnetListPackageVulnerable.md

[2021-05-13 01:56] #8620 closed, assigned to xavierdecoster

[2021-05-13 01:57] nkolev92 opened #10865 "Don't hit registration to gather deprecation/vulnerability metadata when on the browse tab"
Blocked on https://github.com/NuGet/NuGetGallery/issues/7297.

A lot of the feedback centered around the PM UI has to do with how sluggish and heavy the UI looks.
Some of the problems are technical decisions in the PM UI, some are UX driven, others are a little bit of both.

Say you create a new project and you open the PM UI.
0 remote calls happen because NuGet will default to the installed tab.

[2021-05-13 02:00] nkolev92 commented on #10865
cc @donnie-msft @jebriede @aortiz-msft

[2021-05-13 02:41] v-luzh commented on #10859
Hi @erdembayar, you didn't miss anything. The part `with Implicit NuGet 6.0.0.15` means using the implicit default NuGet build in VS (no need to install NuGet any more). And no need to copy the content of 6.0.0.15 vsix and overwrite `C:\Program Files\Microsoft Visual Studio\2022\Preview\Common7\IDE\CommonExtensions\Microsoft\NuGet`. The bug is tricky since it only repro for the first time on clean

[2021-05-13 10:49] quasarea opened #10866 "Nuget sources update adds BOM to config file"
## Details about Problem

NuGet product used: NuGet.exe

Product version: 5.8.11

Worked before? Nope

## Repro steps and/or sample project

[code]

Note  - it is visible under cmd, powershell type command does not display those characters

[2021-05-13 13:42] jonathanpeppers commented on #10834
Right, but we're asking to change the name of the file independent of the `$(PackageId)` and `$(PackageVersion)`, is there a way to do that?

[2021-05-13 15:22] Ringo-gph commented on #10840
@erdembayar I have no idea what changed but none of our solutions (9 of them) are displaying this error anymore. I did recreate the docker image and the dotnet version still shows 5.0.202. I don't know what the nuget.exe version shows (as there's no command to show nuget.exe version in the console app) but maybe it changed or maybe something on the microsoft image changed? Either way, I'm okay as

[2021-05-13 15:22] #10840 closed, assigned to erdembayar

[2021-05-13 16:18] erdembayar commented on #10866
Yes, I can repro this bug. It looks some XML encoding issue.
![image](https://user-images.githubusercontent.com/8766776/118154693-36431b80-b3cc-11eb-82ef-a301ad306538.png)

[2021-05-13 16:21] erdembayar commented on #10864
@aortiz-msft  @JonDouglas @jebriede
Do we need to make this change?

[2021-05-13 16:23] JonDouglas commented on #10864
Can we tag it up for grabs or good first contribution & encourage someone to fix it? we're not in a huge rush and it's a great learning opportunity for someone's first contribution.

[2021-05-13 16:23] erdembayar commented on #10862
@dominoFire
Is it something currently you're already addressing?

[2021-05-13 16:46] donnie-msft commented on #10840
Glad you're not facing this anymore! If you see it again, please let us know. It would be great if we could figure out the root cause.

BTW, to see nuget version in CLI, just enter command `nuget` and the first line of the help text shows the version.

[2021-05-13 16:57] erdembayar commented on #10859
@aortiz-msft @v-luzh
I retried on another clean VM with exact same OS and VS version, still no repro. It looks it's flaky issue and quite challenging to repro, because creating new VM and installing VS takes time.

[2021-05-13 17:53] erdembayar commented on #10840
I can see his nuget version was 5.8.1.7021 on one of screenshots.

[2021-05-13 22:14] jimmylewis opened #10868 "LinkEmbeddableAssemblies targets in Nuget.VisualStudio and Nuget.SolutionRestoreManager.Interop packages collide, one overwrites the other"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe):
msbuild (really, any of the above)

Product version:
any recent version

Worked before? If so, with which NuGet version:
Not to my knowledge, I'm cleaning up old workarounds and ran into this.

## Repro steps and/or sample project

1. Have a project which references both the Nuget.VisualStudio and

[2021-05-13 22:56] nkolev92 commented on #8896
To understand the amount of effort required/leftover here, I cleaned up my old branch, https://github.com/NuGet/NuGet.Client/compare/dev-nkolev92-ivsinstaller.

I would argue that there's under a week of work leftover. Some of that work is design.

[2021-05-13 22:59] nkolev92 commented on #8896
Pri3 shouldn't be in backlog. This is something we want to do, so adding back pri2.

[2021-05-13 23:01] #10854 closed, assigned to nkolev92

[2021-05-14 00:01] nkolev92 commented on #10854
This has been cherry-picked into the `release-5.11.x` branch.

[2021-05-14 10:04] NeilAllen commented on #10277
Here ya go. A prime example. Package is installed. Build errors 'missing package'

![image](https://user-images.githubusercontent.com/13977890/118255366-14b56300-b4a4-11eb-97de-9303b7244b39.png)

[2021-05-14 14:29] zivkan opened #10869 "MSBuild.IntegrationTests should use system msbuild"
Currently, `test/NuGet.Core.FuncTests/Msbuild.Integration.Test` references `Microsoft.Build.Runtime`, which copies `MSBuild.exe` and all dependencies in the `bin` folder on compile. The problem is that when NuGet's product code, or the test project itself, bring in different versions of MSBuild's dependencies, `msbuild.exe` will fail will assembly load issues (thanks to .NET Framework's strong nam

[2021-05-14 14:42] MaheshBalasubramanian opened #10870 "Error XA2002 in Package Reference Xamarin.Android.Legacy.targets(5,5)"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe):

Mono Framework MDK
Runtime:
	Mono 6.12.0.125 (2020-02/8c552e98bd6) (64-bit)
	Package version: 612000125

Roslyn (Language Service)
3.9.0-6.21152.10+c10f884b30737542ddd84ca889a4aad9281ce210

NuGet
Version: 5.8.0.6860

Product version:

Worked before? If so, with which NuGet version: N/A

## Repro s

[2021-05-14 16:29] zivkan commented on #10277
@NeilAllen One of the issues with using NuGet with packages.config is that packages are restored to a `packages` directory next to your solution file, and the project (`csproj`) file is modified to use a relative path to that `packages` directory. The issue is when the solution directory structure changes and the relative path in the `csproj` to the `packages` folder is no longer correct. This app

[2021-05-14 16:54] joelverhagen commented on #10833
One thing we need to be careful about is packages that contain both `tools` and `lib`. In such cases the package author might intend to support both the `PackageReference` and `PackageDownload` scenario with the same package.

Looking at the data, about 45% of packages with non-.ps1/.psm1/_._ tools files also have lib files.
![image](https://user-images.githubusercontent.com/94054/118303260-1a0db0

[2021-05-14 16:54] joelverhagen commented on #10833
/cc @JonDouglas for this request.

[2021-05-14 18:44] lifengl commented on #10678
That sounds good, and I like passing in a CancellationToken to WhenNominated method. I do think you might need it one day. To make sure we are on the same page:
1, when the project system runs into some problems and the design time build failed -- which means it cannot nominate NuGet restore work, the task from WhenNominated will fail, and allow you to skip it.  When you are using HasPendingNomina

[2021-05-14 19:16] BlackGad commented on #10793
@nkolev92 what about UX that I described [above](https://github.com/NuGet/Home/issues/10793#issuecomment-830133361)?

[2021-05-14 21:31] anangaur commented on #1203
One of the concerns with treating release notes similar to embedded readme or similar artificats is that many a times release notes are written after the release of packages. Often edited. Have heard this multiple times and so would be great to treat it a bit differently than README.md. Most recently [this comment](https://github.com/NuGet/Home/pull/10867#issuecomment-840919076) from @NickCraver

[2021-05-14 22:46] erdembayar opened #10871 "E2E test is GetPackageForFSharpProjectReturnsCorrectPackages GetPackageForFSharpProjectReturnsCorrectPackages2 failing"
Just recently all F# tests start failing

[2021-05-14 22:53] #10747 closed, assigned to jebriede

[2021-05-14 23:08] #10819 closed, assigned to zkat

[2021-05-15 00:40] nkolev92 commented on #10678
Ah good point. I missed that.
Currently we don't account for that, and we haven't had too many issues around it.
I get your point though. This could allow us to do better. I think we can add it back then, even if NuGet ignores it in the short term.

The UI thread transition should happen infrequently, only when the project is completely new to NuGet.
I don't think it's too big of a problem if a re

[2021-05-15 13:19] NickCraver commented on #1203
Another use case to add here is as a consumer. The release notes for a particular version are great to reference, but almost always I want to see that _in the holistic list_. For example if you have 3 versions since then, that's immediately relevant and I want to see what I'm missing out on by choosing this version over the 3 after it. I may want a fix in there, or may not care...but the point is

[2021-05-15 20:50] erdembayar commented on #10829
@nkolev92
I can repro this.
Can you comment on this one? If not then please assign to me I can do digging.

[2021-05-15 22:04] #10871 closed, assigned to zivkan

[2021-05-16 15:38] dsplaisted opened #10872 "Switch batching method in order to get all build errors from multi-targeted projects"
When you try to build a project that requires a workload you don’t have, you will get an error like the following:

For multi-targeted projects, we should report all the missing workloads.  Currently, a project multi-targeting to net6.0-android and net6.0-ios will generate separate errors for each inner build:

This is probably OK, though it might be nice to combine these into a single error that

[2021-05-17 01:50] Gheims commented on #974
Get-ExecutionPolicy -list

        Scope ExecutionPolicy
        ----- ---------------
MachinePolicy      -      Undefined
UserPolicy         -         Undefined
Process            -           Undefined
CurrentUser     -          RemoteSigned
LocalMachine      -       Unrestricted

[2021-05-17 08:14] vascofernandes commented on #9417
I'm having the same issue.
Using VS 2019 package manager to update some nuget packages causes the following error:

`NU1004	The project references netproxy whose dependencies has changed. The packages lock file is inconsistent with the project dependencies so restore can't be run in locked mode. Disable the RestoreLockedMode MSBuild property or pass an explicit --force-evaluate option to run resto

[2021-05-17 12:49] zivkan commented on #10829
This is expected and an unfortunate side-effect of supporting both packages.config and PackageReference in the same project type. packages.config is not transitive, but PackageReference is, and without any packages, NuGet doesn't know what restore style the project should use.

Our docs explain the workaround: https://docs.microsoft.com/nuget/consume-packages/package-references-in-project-files#us

[2021-05-17 13:14] cravecode commented on #8546
@zivkan, thanks for the response.
I'm confused about your suggestion. What makes your suggestion different from mine? Is it the use of `PrivateAssets`?

[2021-05-17 13:52] zivkan commented on #8546
FWIW, the `IncludeAssets` in your updated sample is not necessary. All private assets are included in the current project, it just doesn't flow transitively (become a package dependency).

[2021-05-17 16:27] #10581 closed, assigned to heng-liu

[2021-05-17 19:42] lifengl commented on #10678
NuGet can use IVsSolution to initialize project details, but it is possible that RegisterRestoreInfoSourceAsync is called earlier than the solution knows the project. However, the project won't nominate NuGet restoration until it is added to the solution.  It is tricky part because the project system and the solution is mostly decoupled. When we load a solution, of course, the solution knows the p

[2021-05-17 19:45] nkolev92 opened #10873 "Add IVsProjectRestoreInfoSource and IVsSolutionRestoreService4 to coordinate bulk project changes restore"
Child of https://github.com/NuGet/Home/issues/10678

[2021-05-17 19:45] #10873 closed, assigned to nobody

[2021-05-17 20:16] nkolev92 commented on #10802
@debonte

You mention that the analyzer prompted you to fix the code, is it fixed only in the release branch and not in dev?

Is this task covering porting that fix to dev?

[2021-05-17 20:25] debonte commented on #10802
@nkolev92 In release-6.0.x the analyzer error has been fixed which means that the test would fail, so I have disabled the test. Perhaps the right solution is to file a bug on the failing test and Skip the test?

[2021-05-17 20:26] nkolev92 commented on #10805
Triage: @jebriede can you please take a look.

[2021-05-17 20:28] nkolev92 commented on #10808
@kartheekp-ms

Should this issue remain open?
I think it might be a good idea to dup this to the re-enabling of verification on linux/mac issue if it all exists.

[2021-05-17 20:32] nkolev92 commented on #10809
@kjanos0502

Thank you for creating this issue. At this point we're not sure when we will be able to get to this issue, but we'd consider a PR!

In the mean time consider using `msbuild.exe /t:restore` with a switch to opt into packages.config restore. https://docs.microsoft.com/en-us/nuget/consume-packages/package-restore#restore-using-msbuild

[2021-05-17 20:34] nkolev92 commented on #10817
cc @JonDouglas

Make sure this is approved by PM @dominoFire

[2021-05-17 20:42] nkolev92 commented on #10821
Hey @TomArrow.

We are sorry you are hitting this issue, unfortunately we are not confident there's anything NuGet could do here.

1. If you are facing UI freezes in Visual Studio, can you please file a developer community issue and record an etl trace.
1. If you are getting consistent I/O issue, there might be some issue with your usb connection.

[2021-05-17 20:42] #10821 closed, assigned to nobody

[2021-05-17 20:46] nkolev92 commented on #10829
Closing per @zivkan's comment.

[2021-05-17 20:46] #10829 closed, assigned to nobody

[2021-05-17 20:52] nkolev92 commented on #10834
@jonathanpeppers There's no way to do that today.

Only recommendation we can make with the current tooling is to rename the file after pack.

[2021-05-17 20:59] nkolev92 commented on #10849
If Grpc.Tools doesn't contain any compile/runtime assets, then it would effectively achieve this goal, wouldn't it?

[2021-05-17 21:00] TomArrow commented on #10821
Hi,

I'm pretty sure it's not a UI issue. This never happens with smaller projects with few dependencies and it happened both with the Package Manager Console and with the normal GUI. Don't want to recreate the issue because I don't think it's good for my computer. But if it occurs again with another project, how do I record this etl trace?

I have no consistent I/O issues whatsoever. Outside of N

[2021-05-17 21:28] JamesNK commented on #10849
What you said makes sense.

I just tested publishing an app that references Grpc.AspNetCore and the large native files weren't copied to the output directory.

Is that because all the content in this package is nested under build and tools?

![image](https://user-images.githubusercontent.com/303201/118558806-4471ad00-b7bb-11eb-9ddb-054254b80a6d.png)

Is using `PrivateAssets="All"` with this packag

[2021-05-17 22:01] #10869 closed, assigned to zivkan

[2021-05-17 22:53] nkolev92 commented on #10678
@lifengl

Added the API in https://github.com/NuGet/NuGet.Client/pull/4058.

I'm just defining the API right now, so that project-system can look into their implementation.

[2021-05-18 00:12] mairaw opened #10875 "Package Microsoft.Azure.Functions.Worker 1.2.0 is not compatible with net50"
---
**Issue moved from dotnet/core#6262**
- Please respond to @prateekchawla.

---

_From @prateekchawla on Thursday, May 13, 2021 6:54:41 PM_

### Description

Building a .net project on a worker node.  with .net sdk 5 installed &  Azure Functions Core Tools installed
### Configuration

**Error**
`error NU1202: Package Microsoft.Azure.Functions.Worker 1.2.0 is not compatible with net50 (.NETFrame

[2021-05-18 00:12] mairaw commented on #10875
---
**Issue moved from dotnet/core#6262**
- Please respond to @mairaw.

---

_From @mairaw on Thursday, May 13, 2021 9:47:57 PM_

@rrelyea can you help with this issue? Should we move this to NuGet?

[2021-05-18 00:12] mairaw commented on #10875
---
**Issue moved from dotnet/core#6262**
- Please respond to @GrabYourPitchforks.

---

_From @GrabYourPitchforks on Monday, May 17, 2021 10:31:23 PM_

/cc @rrelyea @nkolev92 - I agree with Maira and think this issue should be transferred to NuGet.

[2021-05-18 00:12] mairaw commented on #10875
---
**Issue moved from dotnet/core#6262**
- Please respond to @nkolev92.

---

_From @nkolev92 on Monday, May 17, 2021 11:02:20 PM_

You can move this to NuGet.

Based on the stack trace though, I'm fairly confident it's an old tooling version that's being used.

.NET 5 is only supported with NuGet.exe 5.8, VS 16.8, .NET 5.0.100 SDK and later.

[2021-05-18 02:01] nkolev92 commented on #10802
Yeah, makes sense.

I think we just need to make sure that the test skipping is linked to this issue.

[2021-05-18 02:10] nkolev92 commented on #10849
Yes, build is not transitive by default, so unless you explicitly make it flow, it won't consumers of `Grpc.AspNetCore`.

PrivateAssets is a package build time concern.
If you mark a dependency with `PrivateAssets="all"`, then it would not even be a part of Grpc.AspNetCore package.

I think in order to make Grpc.Tools available at build time for consumers of Grpc.AspNetCore, you'd need to include

[2021-05-18 02:14] JamesNK commented on #10849
I'm looking at this from the perspective of a developer's app. They need Grpc.Tools at build time but none of its content should be deployed with their app.

[2021-05-18 02:21] nkolev92 commented on #10849
I see.

Then I think the following is the right answer:

Then you are relying that your targets are well behaving and the fact that build time assets are by default not transitive.

[2021-05-18 13:12] JonDouglas commented on #10839
I believe simplifying the single line defaults should be accomplished easily today & if users want to continue to do the multi-line approach with custom paths, they can do that.

Instead of another MSBuild property, I would encourage an empowering error message if the asset is not found in either experience (default or custom paths).

In other words, if you opt into the metadata, you should be gui

[2021-05-18 16:31] hotchkj commented on #3891
Reading through this, I'm frustrated at the implication that this blocks developers because they don't want to learn a tool. I can write nuspec just fine, but that wasn't the design decision made by Microsoft.

This isn't just about 'old code'. A concrete example here would be other tooling's needs. Building a tool for Cake still expects all dependencies bundled in a single NuGet package; you have

[2021-05-18 16:38] AraHaan commented on #3891
Or even better: deprecate the nuget command line tool for nugetizer and ship that with the .NET SDK so then everyone is happy?

[2021-05-18 16:41] jzabroski commented on #3891
I hear you.  There are also tips and tricks people who live and breathe .NET know that people who just program in .NET don't know.   What I have learned throughout the years is that if you want to be at the top of your game with .NET, you really have to spend some outside hours keeping up with the thought leaders at Microsoft and reading various GitHub issues, reddit posts.  An example regarding p

[2021-05-18 16:47] AraHaan commented on #3891
They moved because they found out early on that this issue was a problem and they got tired of it never getting fixed even after 5+ years and with them thinking that Microsoft just does not care about how the .NET SDK packages nuget packages and they felt like it is a pain to add another dependency (nugetizer) to the mix among other things.

[2021-05-18 17:48] nkolev92 opened #10876 "In csproj PackageReference, GetPackageSpecs should use IVsBuildItemStorage instead of the PackageReferences API"
https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualstudio.shell.interop.ivsbuilditemstorage?view=visualstudiosdk-2019

https://github.com/NuGet/NuGet.Client/blob/9cb32bfc4774ae77c64ecc9ec309741f367bb444/src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/ProjectServices/VsManagedLanguagesProjectSystemServices.cs#L100-L134 is inefficient because it might force project-system to evaluate

[2021-05-18 17:49] nkolev92 commented on #10876
Related to https://github.com/NuGet/Home/issues/10197.

This issue might help with the UI delays in this codepath.

[2021-05-18 19:03] kartheekp-ms opened #10877 "NuGet Package Manager failed to load on experimental instance of VS"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): VS 2022

Product version:

Worked before? If so, with which NuGet version:

## Repro steps and/or sample project

- Launch experimental instance of VS on `NuGet.Sln`
- Create a new SDK-style console application
- Navigate to Tools -> NuGet Package Manager (reported an error)

![image](https://user-

[2021-05-18 19:04] kartheekp-ms commented on #10877
cc @jebriede

[2021-05-18 20:03] jzabroski commented on #3891
This is true, but it's a moot point.  What's lost is lost.  I'm not psyched about writing Python or TypeScript/JavaScript, and there's plenty of well paying .NET developer roles.  If you stay current, these things have a way of swinging back in favorable direction.  Microsoft is literally tied to .NET for forever.  I remember when Google abandoned Python for infrastructure projects, and people com

[2021-05-18 20:47] donnie-msft commented on #10877
@kartheekp-ms this is typical if your NuGet VSIX didn't install properly. Can you access other NuGet features in VS?

[2021-05-18 23:11] zivkan opened #10878 "Update SharpZipLib"
`NuGet.Indexing` uses `Lucene.Net` version 3.0.3, which has a dependency on an old version of `SharpZipLib`.

[2021-05-19 00:08] zkat commented on #10768
Closing, then.

[2021-05-19 00:08] #10768 closed, assigned to v-longmin

[2021-05-19 01:27] ghost opened #10879 "Nuget retrive package from git source code."
We like Rust lang and golang with git , their package management tools can retrive packages from plain git source code repo.

You should not have build the package and publish it into nuget.
You just reference a git repo.

for go

[code]

for Rust

[code]

We hope .net have the same ability.

Not much more required we have a central   NuGet repoistory.

[2021-05-19 03:40] donnie-msft opened #10880 "Options pane chops off "Visual Studio" and checkbox is misaligned"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe): VS

Product version: Version 17.0.0 Preview 1.0 [31317.352.main] NuGet 6.00.0.15

Worked before? If so, with which NuGet version:  Possibly the recent bug fix is not in this build? @jebriede

## Repro steps and/or sample project

1. Set screen resolution to 3240x2160
2. Open NuGet PM UI.
3. Press S

[2021-05-19 16:03] selangley-wa opened #10881 "Q: Is (or should) the NuGet.org package repository be automatically made available on fast, local storage to the Azure cloud?"
My team uses Microsoft-hosted Azure DevOps pipelines for building or .NET projects.

Azure DevOps provides a pipeline Cache task for such things as caching the NuGet packages used by your project in between runs.
https://docs.microsoft.com/en-us/azure/devops/pipelines/release/caching?view=azure-devops#netnuget

Why is this even beneficial?

Microsoft owns NuGet.  Why isn't every package on NuGet a

[2021-05-19 19:04] jjmanton opened #10882 ".nupkg.metadata locked and being used by another process"
## Details about Problem

We will occasionally see a log message when restoring a large solution (250+ projects, with many hundreds of nuget packages) where the restore fails because `.nupkg.metadata` is being used by another process. This occurs on our build server, running on Core 2019.

Currently all projects are net48, but we have recently started mixing in some netstandard libraries as well.

[2021-05-19 19:19] nkolev92 commented on #10820
https://github.com/NuGet/Home/issues/10860 has the exact same ask with more details.

That one is newer, but it's given the better description, I'm gonna close this issue in favor of that one.

[2021-05-19 19:19] #10820 closed, assigned to nobody

[2021-05-20 00:39] royben commented on #7111
@ronnyek
This is exatcly what I'm looking for.
Did you manage to resolve that issue ?
Thanks,

[2021-05-20 03:32] lorenz-haenggi-jarowa commented on #10511
thanks so much for this incredible trick - I spent hours to fix the pipeline and now finally with the "remove" or "condition" in the Directory.Build.Props it works

[2021-05-20 06:51] doniyorniyozov commented on #9020
I have the same problem. I have a ton of packages to restore. With using --disable-parallel I need to wait at least 30 - 45 mins. Is there any other solutions? Run ulimit -n 8192 doesn't f x the problem.   Sometimes it works fine even without --disable-parallel. I'm not sure why???

[2021-05-20 09:54] v-luzh opened #10883 "[Pack][Doc] The useages of option “--force” and “--no-dependencies” should be deleted from the “dotnet pack” page"
## Details about Problem
VS Version: Main\31319.342
NuGet Version: Release-6.0.x\6.0.0.46
OS Version: Windows-10-Enterprise-21H1
Dotnet SDK: 6.0.100-preview.4.21255.9
## Repro steps
1. Launch VS and create a new C# Class Library (.NET 6.0).
2. Open the Developer Command Prompt and cd to the project path.
3. Run “dotnet pack --force” or “dotnet pack --no-dependencies”.
4. Check the info on the [dot

[2021-05-20 11:48] prateekchawla commented on #10875
It built fine on other machine while we installed .Net 5.0 SDK using Jenkins plugin instead of installing it via installer(since the issue  was happening on a build machine)
Thanks!

[2021-05-20 18:15] nkolev92 commented on #10808
🔔 Putting this on top again.

[2021-05-20 18:18] nkolev92 commented on #10847
Hey @bbodenmiller

Changing `nuget.exe update -self` to read the nuget.config would be a breaking change.
Recently we added the `-source` option to `-self`. Please consider using that instead.

Related documentation issue https://github.com/NuGet/docs.microsoft.com-nuget/issues/2428.

[2021-05-20 18:18] #10847 closed, assigned to nobody

[2021-05-20 18:19] nkolev92 commented on #10849
@JamesNK

Is your question answered?

[2021-05-20 18:24] nkolev92 commented on #10850
fyi @JonDouglas - Something to be aware of.

[2021-05-20 18:26] nkolev92 commented on #10851
Triage; Closing as dupe of https://github.com/NuGet/Home/issues/4681.

The multi targeting experience is incomplete.

[2021-05-20 18:26] #10851 closed, assigned to nobody

[2021-05-20 18:29] nkolev92 commented on #10853
This is by design.
The net5.0-platform style target frameworks *must* have a target platform version.

Change here; https://github.com/NuGet/NuGet.Client/pull/3691

[2021-05-20 18:29] #10853 closed, assigned to nobody

[2021-05-20 18:31] nkolev92 commented on #10858
Changing to bug, because the change is in the product, not the documentation.

[2021-05-20 18:42] nkolev92 commented on #10865
Triage: This change is blocked on a server feature. @JonDouglas to make sure it's on the unified backlog.

[2021-05-20 19:17] paul-hammant opened #10884 "NuGet invocation ends with a non-zero return code when it should not have done"
List of nuget adds doesn't complete.

[code]

First line completes its job, second line never invokes.

Nuget is v5.9.1.11 on Mac 11.3.1

This works differently for when these three are in a .sh script with `set -e` - they all work, versus when the three are pasted into a terminal - second and third are not executed.  Is nuget sniffing the terminal via [isatty](https://pubs.opengroup.org/onlinepub

[2021-05-20 19:25] JamesNK commented on #10849
Yes. Thanks.

[2021-05-20 19:25] #10849 closed, assigned to nobody

[2021-05-20 20:01] nkolev92 commented on #10870
Moved to https://github.com/xamarin/xamarin-android/issues/5946

[2021-05-20 20:01] #10870 closed, assigned to nobody

[2021-05-21 02:50] kartheekp-ms commented on #10808
@v-longmin I am closing this issue since I answered your question. Please feel free to open a new issue if you need more information.

[2021-05-21 02:50] #10808 closed, assigned to kartheekp-ms

[2021-05-21 04:20] fackass commented on #6408
Still a problem in Microsoft Visual Studio Enterprise 2019 Version 16.9.6

Even mannually closing Error List window, it gets re opened and switched to after running AddMigration or UpdateDatabase from the PMC

[2021-05-21 05:10] paul-hammant opened #10885 "nuget add doesn't sanity-check source path"
Nuget does not warn the user they've malformed their `-source` path:

[code]

Both of these work. Only one should. ~/.nuget/packages is where the "local feed" is. The other should be vetoed as a -source path.  Perhaps a `-localfeed` or `-source *LOCAL` or `-source *LOCALFEED` or better would be clearer

For the record, my Nuget is v5.9.1.11 on Mac 11.3.1

[2021-05-21 06:25] Ma3yTa commented on #4103
[code]

[2021-05-21 15:18] BlackGad commented on #10793
@nkolev92 can you comment above question?

[2021-05-21 17:08] ghost opened #10886 "Sdk resolver does not honor --configfile; and fails silently"
Issue copied from https://github.com/dotnet/sdk/issues/17319 per request of @erdembayar

## Details about Problem

When performing `dotnet restore` using the --configfile argument, the nuget Sdk resolver does not honor the --configfile setting.

This results in two problems:

1. restore fails to restore the SDKs in question.
2. the restore exist with a success exit code, when it should not.

This

[2021-05-21 18:51] dtivel opened #10887 "Consider using async I/O in .NET 6"
Reimplemented async I/O in .NET 6 offers much improved performance benefits.  See [this](https://github.com/dotnet/core/issues/6098#issuecomment-830154834) for details.

We disabled async I/O in https://github.com/NuGet/NuGet.Client/pull/2488 based on https://github.com/dotnet/runtime/issues/27643.  .NET 6 fixes this problem.

Note that we still would need to preserve current performance on older

[2021-05-21 21:31] #10857 closed, assigned to nkolev92

[2021-05-21 21:41] nkolev92 commented on #10356
All of these calls happen on the UI thread causing UI delays when they are called *after* a package installation for PackageReference project.

The first call to GetInstalledPackagesAsync *will* read the new assets file, which means we have the UI thread blocked on I/O.

In particular `PackageLoadContext` constructor declares a task which runs in the main thread context.

In particular, https://gi

[2021-05-21 22:16] nkolev92 commented on #10793
We are not ready to make a call at this point. Sorry about that.

 Someone from the team will loop back when ready.

[2021-05-22 07:09] japj commented on #9844
I can confirm we have not seen this issue for a while now

[2021-05-22 07:09] #9844 closed, assigned to nobody

[2021-05-22 20:10] jefflomax commented on #7509
STILL broken dotnet\sdk\5.0.300-preview.21258.4\Sdks\NuGet.Build.Tasks.Pack\build NuGet.Build.Tasks.Pack.targets is the source of this bug, not our code.

This issue should not be closed.

[2021-05-23 07:15] Dreathorian commented on #10321
I'm having the same issue with the nuget package manager right now...

[2021-05-23 17:54] rseanhall commented on #10886
This seems to be a duplicate of https://github.com/NuGet/Home/issues/7855.

[2021-05-24 05:15] KirillOsenkov opened #10888 "SolutionRestoreManager doesn't support multi-targeted project with different assembly names"
Using Visual Studio 2019 16.9.5

Open this .csproj file in VS:

[code]

There will be two errors in the Error List:
[code]

The exception will be at this call stack:

[code]

This is because this line assumes both target frameworks will have the same PackageId:
https://github.com/NuGet/NuGet.Client/blob/480aebcf7e1b0b583b1934c68e55b0ed95b08dc8/src/NuGet.Clients/NuGet.SolutionRestoreManager/VsSolut

[2021-05-24 12:13] mattleibow opened #10889 ".NET 6 with Android cannot restore packages properly"
## Details about Problem

I have a NuGet package that contains things for net6.0-android, monoandroid and netstandard. However, the restore process has some weird happenings:
 - it uses the netstandard dlls
 - it uses the monoandroid targets
 - it uses the runtimes/android/native .so files

Basically it is all weird. I tried to reduce the package to just net6.0 and net6.0-android, but it still pic

[2021-05-24 12:14] mattleibow commented on #10717
I added my info to a new issue: https://github.com/NuGet/Home/issues/10889

[2021-05-24 12:50] JonDouglas commented on #10889
/cc @zkat @aortiz-msft @nkolev92

[2021-05-24 14:07] mattleibow commented on #10889
I see this was merged: https://github.com/NuGet/NuGet.Client/pull/4042

Not sure where that live now with regards to bits and bytes in the wild.

[2021-05-24 14:08] mattleibow commented on #10889
Also this is related: https://github.com/xamarin/xamarin-android/issues/5896

[2021-05-24 14:28] mattleibow commented on #10889
I managed to work around this with:

[code]

[2021-05-24 15:57] zkat commented on #10889
@mattleibow we don't have the bits from https://github.com/NuGet/NuGet.Client/pull/4042 included in 16.10. I'm curious whether that PR is gonna fix this issue altogether.

[2021-05-24 16:28] aaronla-ms commented on #10886
Wow. Very old bug. Agreed, dup of [#7855](https://github.com/NuGet/Home/issues/7855.

I guess what I'm hearing is to not hold my breath for a fix.

[2021-05-24 16:28] #10886 closed, assigned to nobody

[2021-05-24 16:29] aaronla-ms commented on #7855
Note, posted stand alone repro in item https://github.com/NuGet/Home/issues/10886

@jeffkl , any news on this?

[2021-05-24 16:33] jeffkl commented on #7855
I do not think we'll be adding support for this any time soon.  The workaround is to just check in your NuGet.config and use the same sources for all builds.  The ability to dynamically use different sources at build time is just not a very common scenario.  If you want to dynamically change sources at build time, you'll need to write a script that changes the NuGet.config before restore and build

[2021-05-24 16:35] aaronla-ms commented on #7855
I'm aware of the workaround, but it wastes developer time to have a documented feature that doesn't work.

Would _highly_ recommend updating the docs for --config-file to indicate that it doesnt' work for Sdk imports.

[2021-05-24 16:39] aaronla-ms commented on #7855
Also, consider piping the appropriate config parameters as environment variables. E.g. add NUGET_SDK_PROVIDER_CONFIG_FILE, and update dotnet.exe --config-file to configure it appropriately.

[2021-05-24 17:11] debonte opened #10890 "Test-SimpleBindingRedirectsClassLibraryReference fails against Dev17 with Exception message: Element not found. (Exception from HRESULT: 0x8002802B (TYPE_E_ELEMENTNOTFOUND))"
The TYPE_E_ELEMENTNOTFOUND happens while adding a ProjectReference from the New-WebSite project to one of the New-ClassLibrary projects. The line is:

`Add-ProjectReference` $b $e

Disabling this test for now so we can proceed with the merge of release-6.0.x into dev.

[2021-05-24 17:56] nkolev92 commented on #10868
Thanks for the detailed analysis @jimmylewis!

This would only work if you referenced an interop package that allowed the build assets of the `fix` package to flow, right?
As in, you would still need to reference a package directly to get it embedded, it wouldn't get embedded transitively by default. It only **worked** because another package brought in a closer reference to the EmbedInteropTypes

[2021-05-24 18:22] kartheekp-ms commented on #10877
@donnie-msft - I updated VS 2022 version today and here are my repro steps.

- Created a new VSIXProject (C# project)
- Opened NuGet PMUI on the solution successfully
- Launched VSIXProject or press F5
- Created an SDK-style console application (C#) in the experimental instance
- Tried to open PMUI in the experimentation instance which resulted in below exception

![image](https://user-images.gith

[2021-05-24 19:23] #10690 closed, assigned to nobody

[2021-05-24 19:35] Anipik opened #10891 "Add docs for TargetsForTfmSpecificDebugSymbolsInPackage extension point"
## Details about Problem

https://github.com/NuGet/NuGet.Client/pull/4053 added a new hook for users to add custom symbols to the packages for the inner builds

So we will need to add the documentation for it.

cc @nkolev92

[2021-05-24 19:50] nkolev92 commented on #7190
Dupe in https://github.com/NuGet/docs.microsoft.com-nuget/issues/2033

[2021-05-24 19:50] #7190 closed, assigned to nobody

[2021-05-24 19:53] nkolev92 commented on #10888
Duplicate of https://github.com/NuGet/Home/issues/7016.

The trick is that commandline restore reads the package id in the outer build, while in VS the project system only gives NuGet info from the inner build.

Technically `PackageId` has to be the same for all frameworks in the package, but this a consequence of the defaults.

[2021-05-24 19:53] #10888 closed, assigned to nobody

[2021-05-24 20:17] zkat commented on #10803
Thank you reporting this issue. At this point we do not have enough information to continue investigating the issue.

Please feel free to comment or open a new issue if needed.

[2021-05-24 20:17] #10803 closed, assigned to nobody

[2021-05-24 20:21] zkat commented on #10879
Thanks for the feature request!

After talking about it, we decided this is not something we'll be able to get to in the foreseeable future, as it presents significant challenges (due to NuGet being binary-based instead of source-based like go get and cargo).

As such, I'm going to close this issue. Have a good one!

[2021-05-24 20:21] #10879 closed, assigned to nobody

[2021-05-24 20:23] zkat commented on #10880
Not a bug anymore, we just haven't inserted into dev17 yet. I checked and confirmed the bugfix in question still hasn't made it.

[2021-05-24 20:23] #10880 closed, assigned to nobody

[2021-05-24 20:24] zkat commented on #10881
We don't own this, unfortunately. You'd have to file a feature request against AzDO itself, through Developer Community.

[2021-05-24 20:24] #10881 closed, assigned to nobody

[2021-05-24 20:30] zkat commented on #10882
We don't read this file ourselves, we only write it. If the file is being locked, it might very well be due to something in your environment like antivirus software, search indexing services, or network sync services like OneDrive.

Unless you can track down something in NuGet itself, there's too many moving parts for us to make a determination about what might be causing this.

[2021-05-24 20:32] zkat commented on #10883
Woo! Nice catch.

[2021-05-24 20:43] selangley-wa commented on #10881
OK.

I created such an request for Azure DevOps here:
https://developercommunity.visualstudio.com/t/Make-the-NuGetorg-package-repository-au/1430613

[2021-05-24 21:34] jjmanton commented on #10882
@zkat Interesting. So I checked with the build team, and we use a "clean" Server Core 2019 image. The team who builds our CI images doesn't believe there is anything that could be touching these files.

Interesting you mention write-only. So would the suggestion be that something is locking the file before NuGet writes to it? Or would NuGet write this file more than once? We are restoring to a spe

[2021-05-24 22:42] zivkan opened #10892 "Stop using EmbedInteropTypes for NuGet's VS extenbility packages/assemblies"
The VS SDK for dev17 (VS 2022) has stopped using EmbedInteropTypes. One of their primary reasons is that is makes sharing components with VS for Mac problematic. This might not really be an issue for us, since we (NuGet client team) don't work on VS for Mac in any way, so our VS APIs might not be in VS for Mac.  But it would be good to align with design choices for VS, plus some VS (on windows) in

[2021-05-24 23:26] #10878 closed, assigned to zivkan

[2021-05-25 01:55] cnmade commented on #10879
Thank you .

[2021-05-25 05:25] paul-hammant commented on #2351
See also https://github.com/NuGet/Home/issues/10618

[2021-05-25 17:53] mattleibow opened #10893 "Support for "compressed" MacCatalyst .framework references to avoid corruption"
## Details about Problem

1. Create a Mac Catalyst .framework
2. Observe that the framework exists with symbolic links.
3. Add it to a NuGet package
4. The compression of a NuGet uses a compression system that does not preserve symbolic links, causing compiler failures.

Another part of the system is that I have to build this framework on macOS, but then I have to build more things on Windows and

[2021-05-25 17:55] mattleibow commented on #10893
Linked here: https://github.com/xamarin/xamarin-macios/issues/11671

[2021-05-25 18:41] JonDouglas commented on #10893
Possible dupe of https://github.com/NuGet/Home/issues/10734

[2021-05-25 18:59] mattleibow commented on #10734
Just adding a note here that is is required for mac catalyst frameworks since they are symlinks all over the show. I do have a more specific case with that where I could zip it up and then pack the zip - and then the SDK will unzip when building the app. But, this issue is the big generic version of various tooling that will use symlinks.

The security of the fact with symlinks reaching out is a t

[2021-05-25 20:01] spouliot commented on #10893
This is not limited to [Mac] Catalyst. The same situation exists for _regular_ macOS frameworks. In fact Catalyst inherits the (old) framework format from macOS itself.

This is not (usually [0]) an issue for iOS, tvOS and watchOS since the (newer) "user framework" are using a simpler structure. It makes sense as they are always part of the app bundle, never shared across apps (so versioning conce

[2021-05-26 11:49] drewnoakes opened #10895 "Project.nuget.g.targets should not prepend to MSBuildAllProjects in MSBuild 16 or later"
Testing using VS 17 internal preview, but I suspect this goes way back.

For a new .NET 5.0 xUnit project, the following `obj\TestProject1.csproj.nuget.g.targets` file is generated:

[code]

The `MSBuildAllProjects`property does not need to be updated with `MSBuildThisFileFullPath`. There have been several changes over the last few years to stop adding projects to this, as the property can become

[2021-05-26 11:54] drewnoakes commented on #10895
Looks like it's coming from this code:

https://github.com/NuGet/NuGet.Client/blob/5c0589b7137106a7815299952d336bf5fd4a7e95/src/NuGet.Core/NuGet.Commands/RestoreCommand/Utility/BuildAssetsUtils.cs#L191-L195

Also, there are many usages of this property throughout the NuGet org's code, which could be removed.

https://github.com/search?q=org%3ANuGet+MSBuildAllProjects&type=Code

[2021-05-26 12:31] gucu112 commented on #8223
Hi. I've got the same issue with NuGet 5.9.1.11, MS Windows Server 2016 v1607 (OS build 14393.4402).

[2021-05-26 12:56] Luensche commented on #6330
Any news on alternatives? I need to add files to solution folder (like db scripts) on installing or updating packages.

[2021-05-26 14:07] nhatkhai commented on #6330
I recently found Conda package/environment manager - not idea, but workable solution as of right now. It can work with NuGet, and other package manger as a sub-level (call inside Conda pacakge).

So ideally everyone use Conda as the top-level for install package, it would cover all the DESIGNED limitation that NuGet, and other package managers got.

[2021-05-26 15:39] StephaneDelcroix commented on #9853
My use case is to provide an optimised lib for Releases, while the one used for Debug contains code instrumentation

[2021-05-26 17:51] nbarnwell commented on #6330
Personally I made do with adding some powershell functions to the `init.ps1`, and adding a readme that tells people to open the Package Manager console and invoking those functions.

[2021-05-26 18:12] cgtyoder commented on #9853
We have an in-house NuGet repository, and our in-house libraries/code have conditionally compiled code for DEBUG/etc, so making it easy to include arbitrary configurations in the package would be very helpful.

[2021-05-26 18:14] cgtyoder commented on #9853
@zkat what additional info specifically is needed for triage?

[2021-05-26 22:30] zkat commented on #9853
@cgtyoder this is already in our backlog. @JonDouglas will be taking care of hashing out the feature for us before implementation, but we have no timeline to give you on that.

[2021-05-26 22:36] DerekFoulk commented on #5963
I'm glad to see that this hasn't been closed. Not having an alternative to the install/uninstall.ps1 files has prevented us from being able to bundle config files in our packages. I'm talking about files that are "required" for our libraries to function (at least in the case of Xamarin.Forms libraries).

<details>
  <summary>Some examples of what we can't do anymore</summary>

- We cannot deploy b

[2021-05-26 22:47] #10807 closed, assigned to nkolev92

[2021-05-26 23:17] heng-liu commented on #10885
Hi @paul-hammant , thanks for taking time reporting this!
According to the [doc](https://docs.microsoft.com/en-us/nuget/reference/cli-reference/cli-ref-add), there is no checking on the folders to see if it's a "local feed" or not.
[code]
So yeah, you have to check the NuGet.Config file to check the path of a local feed and pass it to the nuget add command.

[2021-05-26 23:18] #10885 closed, assigned to nobody

[2021-05-27 03:28] nhatkhai commented on #6330
I do that too. But it won't work for:
* Automation such as CI/CD
* If your package is not a 1st level of dependency such as A use B, and B use your. Developer of A would have a hard time to realize 1 package need to manual run a script out of 100 other package they used.

[2021-05-27 06:26] v-luzh commented on #10859
It doesn't repro on VS Main\31326.288 + NuGet Client Release-6.0.x\6.0.0.66. And it can be track by #7891. Close this one now, thanks.

[2021-05-27 06:26] #10859 closed, assigned to nobody

[2021-05-27 08:47] v-luzh opened #10896 "Hard to see the background color of the number on the right of “Updates” and “Consolidate” tabs in the Dark theme"
## Details about Problem
VS Version: Main\31326.288
NuGet Version: Release-6.0.x\6.0.0.66
OS Version: Windows-10-Enterprise-21H1
## Repro steps and/or sample project
1.	Launch VS and create a solution with multiple projects.
2.	Open Tools->Options->Environment and select the “Dark” in the “Color Theme” drop-down list.
3.	Open the solution PM UI and install a package (with different versions) into

[2021-05-27 11:33] ghelyar opened #10897 "According to DefaultCompatibilityProvider, net5.0-windows packages are not compatible with net5.0-windows projects"
## Details about Problem

NuGet product used (NuGet.exe | Visual Studio | MSBuild.exe | dotnet.exe):

[NuGet.Protocol](https://www.nuget.org/packages/NuGet.Protocol) package.

Product version:

5.9.1

## Repro steps and/or sample project

Create a `net5.0-windows` project and pack it into a NuGet package, then consume it from another `net5.0-windows` project.

[The package is generated as `net5.0-

[2021-05-27 15:23] drauch commented on #6861
Unfortunately, no.

[2021-05-27 15:55] jimmylewis commented on #10868
As in, you would still need to reference a package directly to get it embedded, it wouldn't get embedded transitively by default. It only worked because another package brought in a closer reference to the EmbedInteropTypes package which ended up include the build targets.

Correct.

It looks like this issue will become a moot point after your change to remove EmbedInteropTypes is completed.  I'll