[2019-04-10 02:57] jnm2 commented on #7979
Their support team is saying that the problem is that the problem is on my (and your) side and that I just need to rekey my certificate. So... there's that. 🤦‍♂️

[2019-04-10 02:57] jnm2 commented on #7979
Their support team is maintaining in spite of all my efforts that the problem is on my (and your) side and that I just need to rekey my certificate (which works fine with any other timestamp server).
So... there's that. 🤦‍♂️

[2019-04-10 10:17] rossng commented on #6645
This is sorely needed. I'm trying to figure out how to get C++/CLI projects to work smoothly with `PackageReference` and it's a nightmare. We have some existing `nupkg`s where native assemblies are included in the `lib/native` folder. `PackageReference` doesn't pull these into the output folder, even though the [documentation](https://docs.microsoft.com/en-us/nuget/consume-packages/package-referen

[2019-04-10 10:42] Apollo3zehn commented on #6645
Just for reference, a working solution for simple multi-platform support is shown [here](https://github.com/Apollo3zehn/EtherCAT.NET/blob/1ecc3c751736e9526543b0bd8415e3c0597aed3a/src/SOEM.PInvoke/SOEM.PInvoke.csproj#L15-L28). With `<GeneratePackageOnBuild>true</GeneratePackageOnBuild>`, the native libs are included in the package that is generated each build.

The libraries are then simply invoked

[2019-04-10 10:48] vuplea commented on #6378
Not sure if the page is just historical specification, or it must match the implemented behavior, but:

The spec is outdated with regards to `Author Trust`:
[code]
As I understand the implemented feature, trusted author candidates are the configuration `trustedSigners`. Authors not in `trustedSigners` but chaining to a trusted root of the local machine are not trusted authors.

Also, some `Client

[2019-04-10 11:19] rossng commented on #6645
Do you know how this works with C++/CLI? I suppose this isn't technically a native lib question, though it's similar in the sense that you are bundling some non-C# assemblies into a package - let me know if it's better to ask elsewhere.

The reason I'm asking this is that I have some (non-shareable) packages which include both native DLLs and C++/CLI assemblies. I want to be able to use `PackageRe

[2019-04-10 12:41] Apollo3zehn commented on #6645
How are you publishing the C# project? Are you using something like `dotnet publish -Configuration=Release ...` or are you using the Visual Studio publishing button? (I experienced differences between both).

Or are you simply generating a nuget package on build (which is not 'publishing')? I am a little confused because I don't know where in a publish step a nuspec file is created. Only if you cr

[2019-04-10 12:43] rossng commented on #6645
Apologies, yes - I mean generating a NuGet package on build, and the `nuspec` inside the generated `nupkg`. I don't use `dotnet publish` at all, so I'm not familiar with it.

I'll experiment with packaging the C++/CLI and the C# wrapper separately.

[2019-04-10 13:33] DanJ210 commented on #7310
@nkolev92 I suppose it does make sense I'm just trying to make sure I understand. So if I delete all of the SDK's that I have intalled and I install dotnet core 3.0 then the implicitely referenced projects should change and show that they are dotnet core 3.0?

[2019-04-10 14:22] jveselka commented on #3608
I can confirm the issue still exists. Hit it today also from the UI.

[2019-04-10 15:40] ocean-orrick commented on #7769
@nkolev92 Sorry, been pretty busy with other things but hopefully I can find some time to put together a repro in the next few days

[2019-04-10 18:08] nkolev92 commented on #7310
Yes, it's the SDK that guides those versions. If there's a package coming from the SDK that's not autoreferenced, it might be a bug in the SDK (which might have been fixed later on)

[2019-04-10 18:20] clairernovotny commented on #7939
Note this PR shows it working: https://github.com/NuGet/NuGet.Client/pull/2545

There are a couple of comments in there w.r.t. a `ComputeSignature` overload that needs to be changed as well.

[2019-04-10 20:18] zivkan commented on #7986
@erikest Did you ever try packing the project when the `.vs` folder existed, but no process had the file locked? I'd like to understand if this is just an issue of NuGet reading files unnecessarily, or if the resulting `.nupkg` contains files that should have been ignored.

In any case, `nuget pack` is intended for projects that use `packages.config`. "Tranditional" projects that use `PackageRefer

[2019-04-10 20:42] samrueby opened #7987 "Nuget pack doesn't support blank <version> in .nuspec even though version is passed on the command line"
## Details about Problem
When running `nuget pack` with a .nuspec file that contains an empty `version` and passing -Version on the command line, nuget will fail with the error:

However, you put in a bogus version identifier in the nuspec file, the same command will run happily, with the version number passed on the command line.

NuGet product used:  NuGet.exe

NuGet version (x.x.x.xxx): 4.9.3.5

[2019-04-10 22:04] nkolev92 opened #7988 "FrameworkReference suppress dependency flow via FrameworkReference.PrivateAssets"
Follow up to https://github.com/dotnet/sdk/pull/3102.

Turns out that there is a netstandard FrameworkReference which needs to be suppressed from transitive flow.

Need to rethink https://github.com/NuGet/Home/wiki/%5BSpec%5D-FrameworkReference-in-NuGet#what-happens-in-the-future-ifwhen-frameworkreference-are-added-to-other-frameworks.

[Spec](https://github.com/NuGet/Client.Engineering/pull/95)

[2019-04-10 22:31] nguerrera commented on #7988
I think if we exclude the base framework reference, transitivity is ok. If netstandard ever gets optional framework refs, the meaning would have to be that any tfm compatible with that tfm should have the same optional framework name. But this does make it very important that we do not burn in the framework ref to NETStandard.Library, which is a subset of Microsoft.NETCore.App.

[2019-04-10 23:53] nkolev92 opened #13504 "Document the Fallback Folders"
* What are they
* How do they work
* How to use them to optimize the local build

[2019-04-11 03:26] dtivel commented on #7979
Hi, @jnm2.  This PowerShell script should provide more context:
[code]
Execute the script and you'll get output similar to the following:
[code]
Then individually execute the 3 certutil.exe commands displayed in the output.  (I would have automated this, but I ran into technical difficulties.)

The "Verify timestamp certificate results" file contains:
[code]
According to [RFC 5280](https://tools.i

[2019-04-11 06:16] Waldo000000 commented on #7842
We're hitting this, too. The workaround (i.e. adding a `NuGet Installer` step in TeamCity before the `dotnet restore`) has not seemed to help.

[2019-04-11 06:22] GanesanRengasamy opened #7989 "Microsoft.VisualStudio.SDK is not installed in Visual Studio 2017"
Hi,

I have used the lots of NuGet packages for Visual Studio extension project. Microsoft release the https://www.nuget.org/packages/Microsoft.VisualStudio.SDK/ NuGet pacakges with all the required NuGet packages for Visual Studio extension. So, I have uninstalled all the installed NuGet packages in my machine and tried to install this single package in my source. But I have faced the below issue

[2019-04-11 06:51] rido-min commented on #6378
Hi @vuplea,

Certainly the spec was written before the implementation and could be some minor differences.

Regarding Author Trust: In "accept mode" NuGet clients will install any package, and will produce a warning if signed with an untrusted cert. In require mode, the author/repo must be explicitly trusted.

The Client Validation Matrix for require mode shows how repo-signed packages with untrus

[2019-04-11 09:28] ColinM9991-zz commented on #7842
We were hit with this again yesterday despite the workaround which seems to work for me.

I had to specify `--no-restore` in the build/publish step to not restore any packages as that work had been done by the 2 restore steps.

[2019-04-11 13:20] bklooste commented on #7842
That what I did as well ( on services deploying to  Azure  SF not that it matters )

Nuget installer
(msbuild / solution build  not sure if needed  ) .
Then --no-restore on the dotnet build ..  (no restore step but dirs. need to align as nuget install places it there)

Kind of crap though because they work different , build directories , different from local etc.

.Net core 2.1 & 2.2
TC only .

[2019-04-11 14:26] karelg opened #7990 "Reproducible/Verifiable Builds"
It would be awesome, if you can check that NuGet binaries are matching its source version.
I found, that Maven has already something similar in works:
[Reproducible/Verifiable Builds](https://cwiki.apache.org/confluence/pages/viewpage.action?pageId=74682318)
Or probably a simpler solution to that problem would be, if the NuGet service has an option to build the package from source itself (from pub

[2019-04-11 16:34] zivkan commented on #7989
When on the package detail page on nuget.org, you can use the "Contact owners" link to contact the package owner. The nuget team doesn't support individual packages.

About checking package target framework monikers (TFMs), you can check the dependencies on nuget.org's package detail page. For example, expanding the dependencies section for [Microsoft.VisualStudio.CoreUtility version 16.0.467](htt

[2019-04-11 16:34] #7989 closed, assigned to nobody

[2019-04-11 17:20] zivkan commented on #7784
Unfortunately this is due to a design mismatch between the default Service Fabric project template and how NuGet works.

### tl;dr

Edit your `.sfproj`, remove the `InitialTargets` attribute from the root `Project` node, and if you want add `BeforeTargets="Build"` to the `ValidateMSBuildFiles` target.

### Detailed explanation

Since NuGet added support for `ProjectReference`, we need to do an MSB

[2019-04-11 17:20] #7784 closed, assigned to nobody

[2019-04-11 17:25] Huck commented on #7956
We have been having the same issue in Ubuntu 18.04 and 2.2 for a week now. Its a very crippling bug unless we downgrade to 105. any fix in sight?

[2019-04-11 17:38] #6498 closed, assigned to heng-liu

[2019-04-11 19:40] dominoFire opened #7991 "Add support to <icon/> in .nuspec files"
`nuget.exe` and `dotnet.exe` should be capable to recognize the `<icon/>` element in the nuspec

The main issue is: https://github.com/NuGet/Home/issues/352

[2019-04-11 19:41] nkolev92 commented on #7845
The fix in https://github.com/NuGet/NuGet.Client/commit/ea1a5fb2afe5149389bea7befb7c8a076f457274 might address this issue.

I'll update when it's made it in the CLI.

[2019-04-11 19:42] #7857 closed, assigned to nkolev92

[2019-04-11 19:42] dominoFire opened #7992 "Support for `<PackageIcon/>` in .*proj files"
`nuget.exe` and `dotnet.exe` should be able to recognize and process `<PackageIcon/>` property in new-style csproj projects.

The main issue is: https://github.com/NuGet/Home/issues/352

[2019-04-11 19:59] dominoFire opened #7993 "Pack icon file in `nuget.exe pack`"
When you do `nuget.exe pack`, the command must pack the icon if `<icon/>` property is present in nuspec.

Main issue: https://github.com/NuGet/Home/issues/352

[2019-04-11 20:21] nkolev92 commented on #7466
Do either of these actually end up installing unlisted packages?

[2019-04-11 20:49] anangaur commented on #7466
Didn’t check recently but I guess this issue was filed because back then these did :) do you see a different behavior now?

[2019-04-11 21:50] nkolev92 commented on #7466
I was looking into related code and noticed a "possible" issue with this.

Looking at the code today, I'd expect them to have a different behavior, but I could be wrong.

Either way, this needs analyzed and fixed.

[2019-04-11 21:58] #7927 closed, assigned to nkolev92

[2019-04-11 21:59] nkolev92 commented on #7668
Fixed in https://github.com/NuGet/NuGet.Client/pull/2798

[2019-04-11 21:59] #7668 closed, assigned to nkolev92, heng-liu

[2019-04-11 22:18] jnm2 commented on #7979
@dtivel That's terrific! Thanks for showing me how to do that.

[2019-04-11 22:38] dtivel commented on #7979
My pleasure.  Let me know if you still have questions.

[2019-04-11 23:56] #7976 closed, assigned to nkolev92

[2019-04-11 23:58] nkolev92 commented on #7993
nuget.exe doesn't read the csproj properties like PackageIcon.
It only handles nuspec pack for metadata such as that.

[2019-04-12 01:46] KexyBiscuit opened #7994 "What's the Lifecycle Policy of NuGet Windows x86 Commandline?"
[Search product lifecyle](https://support.microsoft.com/en-us/lifecycle/search?alpha=nuget) returns nothing about NuGet, nuget.org provides so many versions of CLI, and the recommended latest version is still v4.9.4 now, I'm wondering how are the versions supported? Is there any doc about this?

[2019-04-12 02:15] dominoFire opened #7995 "Pack icon file in `dotnet.exe pack`"
When you pack a project with `dotnet.exe pack`, the command must pack the icon file if `<PackageIcon>` property is present in the .csproj file.

Main issue: https://github.com/NuGet/Home/issues/352

[2019-04-12 08:06] v-longmin opened #7996 "NU1004 does not have a docs page"
## Details about Problem
NuGet Version: Dev\5.1.0.5954
VS Version: D16.1stg 28808.226
OS Version: 17763.RS5_Release.180914-1434.
## Detailed repro steps
1. Launch VS 2019 and create a new Class Library (.Net Framework) project.
2. Install a few ‘PackageReference’ packages into the project.
3. Set MSBuild property “RestorePackagesWithLockFile” to true in csproj file.
4. Do a restore.
5. Check it sh

[2019-04-12 10:14] vadivel1234 commented on #7268
Hi GUys,

How this issue has been marked as closed?

https://github.com/NuGet/Home/issues/7425

Still, am getting the below error in Visual Studio 2019 with NuGet Package Manager 5.0.

Update-Package -Id {PackageName} –reinstall

Error 1: Update-package : Unable to resolve dependencies. 'XXX.YY 6.3.0.2' is not compatible with 'YY.ZZ 6.4.0.5 constraint:

Error 2: Update-package : Unable to find pac

[2019-04-12 16:10] zivkan commented on #7994
@anangaur @karann-msft @rrelyea ?

[2019-04-12 17:34] dtivel opened #7997 "HTTP cache: RepositoryResources resource is not cached in a versioned way"
Although RepositorySignatures resources are [versioned](https://docs.microsoft.com/en-us/nuget/api/repository-signatures-resource#versioning), the cached content is [not versioned](https://github.com/NuGet/NuGet.Client/blob/6454ee58fdd151e0033c3f22df713abc5c1152d6/src/NuGet.Core/NuGet.Protocol/Providers/RepositorySignatureResourceProvider.cs#L65) in NuGet's HTTP cache.

This means if a 5.0 client

[2019-04-12 17:38] nkolev92 commented on #7268
@vadivel1234 The logs you are reporting does not look like it's related to this issue.

The error message there suggests that NuGet cannot resolve the graph due to bad constraints.

There's a few reasons why it could've worked once but not anymore.

* The package on the feed changed (nuget.org doesn't allow this), but other feeds might
* Manual changes were made to the packages.config / csproj fil

[2019-04-12 17:56] ctaggart commented on #7414
This continues to be problematic for those of us trying to [use NuGet lock files](https://github.emcrubicon.com/io/Conveyor/commits/lock-newer) with dotnet 2.x. I think the best solution is to:

1. delete the NuGetFallbackFolder
2. disable recreation of the NuGetFallbackFolder
3. clear out all NuGet caches
4. clear our your project
5. recreate lock files

On Windows, I did this with:
1. deleted `C

[2019-04-12 18:00] heng-liu commented on #7807
We can solve the problem in the scenario mentioned above. That is, Enable RestorePackagesWithLockFile by setting the property to true, run first restore to generate the lock file, delete the lock file, run second restore will fail the  No-op and regenerate the lockfile.

But we have another scenario: enable restore package with lock file by generating a lock file but not setting the property, then

[2019-04-12 18:05] anangaur commented on #7807
Yes this is as expected

[2019-04-12 18:36] The-Futurist commented on #7975
@nkolev92 - It's no surprise that this issue is duplicated from time to time. The original issue was opened 2 years ago and nobody has done jack!

[2019-04-12 19:06] ColinM9991-zz commented on #7842
Another scenario:

We added another build with the following steps
1. NuGet.exe Restore
2. dotnet.exe Restore
3. dotnet.exe Build

This failed on step 2, disabling step 2 and adding `--no-restore` to step 3 got us past the failing restore, but highlighted an issue where we had to specify the target platform which then succeeded the build.

Seems like `C:\Program Files\dotnet\sdk\2.2.102\NuGet.targ

[2019-04-12 20:57] dtivel commented on #7984
Dupe of https://github.com/NuGet/Client.Engineering/issues/42

[2019-04-12 20:58] dtivel commented on #7984
Oops not a dupe.

[2019-04-12 21:30] dtivel opened #7998 "Build: "Create EndToEnd Test Package" task never fails (even if it fails)"
The ["Create EndToEnd Test Package" build task](https://github.com/NuGet/NuGet.Client/blob/6454ee58fdd151e0033c3f22df713abc5c1152d6/build/vsts_build.yaml#L273) does not fail if it internally fails.

[2019-04-14 07:29] kcd83 opened #7999 "Specifying `dotnet add package --source` fails on another unreachable source"
`dotnet.exe` fails to add a package when specifying source one when source two is unavailable.

## Reproduction

1. Check sources `nuget source list`, (one is not available)

2. Use dotnet cli to add package from a source

`dotnet add package --source https://www.nuget.org/api/v2/ Figgle`

Fails, because of another source. Expected it to be ignored, only the supplied source should be used.

## Wor

[2019-04-14 16:42] zivkan opened #8000 "Improve warning message when using licenseUrl"
Some customers do not find it obvious how to act on the warning. For example this VS feedback: https://developercommunity.visualstudio.com/content/problem/504915/nuget-package-license-warning-not-resolvable.html

It's easy to understand why customers seeing the following warning message:

believe it's possible to simply rename the `licenseUrl` element to `license`. The NU5125 docs aren't particula

[2019-04-14 23:20] loic-sharma opened #8001 "Multiple warnings on push are improperly formatted"
I used dotnet.exe v2.2.202 to push a package that has no license with an API key that expires in a day. The output was:

[code]

Notice that the warning on line 3 has two messages joined by a period and a comma, but no spaces. The client should properly format warning messages returned by the server.

[2019-04-15 00:04] pvandervelde commented on #7101
@PatoBeltran Do you still need a repo for this? We run into this one on a regular basis and are unable to upgrade to 4.9.x because of this issue. We use 4.3.0 which works but would like to upgrade.

[2019-04-15 07:53] chris-hatton commented on #5805
In an age of Gigahertz-class computing; the authors of NuGet should consider the fact their software takes _several minutes_ to update a version number in a dependency tree... and do some serious soul searching.  Gradle? No problem, bam, you're done in the time it takes to download the JAR.  I really dread to think what's going on under NuGet's hood that takes so, so long...

[2019-04-15 11:08] tub5 commented on #7830
Can confirm still happening in 16.0.1. Occurs sporadically when developing in a solution of 5 or more projects. When clicking on a project affected, the csproj is no longer editable or displayed. When updating NuGet packages it will revert back to the previous values within a minute.
Modifying the csproj file externally does enable the NuGet packages to be downloaded and used most of the time. How

[2019-04-15 11:14] tub5 commented on #7830
This is occurring in the latest stable build (16.0.1) as well.

.NET Core Console/ASP.NET Core. SDK 2.2.203

This scenario occurs with any package

Sporadically. Usually after an hour or two constantly developing with the IDE

This has also been recorded [in the developer community](https://developercommunity.visualstudio.com/content/problem/447942/nuget-packages-getting-auto-removed.html)

[2019-04-15 15:44] timheuer opened #8002 "Enable NuGet sign to work with KeyVault certficates"
NuGet sign currently works against local PFX files.  Modern digital signatures can now be stored in cloud providers such as Azure KeyVault providing an HSM-backed security key.  The NuGet client should provide a mechanism to use Azure KeyVault as a direct source for signing.

e.g.,
```nuget sign -azure-keyvault http://myurlhere```

Enabling this directly in the nuget client makes it easier for Dev

[2019-04-15 16:32] Egor92 commented on #7842
I have `NuGet restore` and `dotnet publish` after it. So `dotnet publish` restored packages a second time. But restoring of `dotnet publish` leads to task canceled exception. Then I wrote parameter `--no-restore` for `dotnet publish` step in order to prevent duplicate restoring. Then deploy passed successfully.
Thanx to @ColinM9991

[2019-04-15 18:40] mletterle commented on #7575
There are cases where MSBuild properties need to be set in order to have a valid parsable project file, while the environment variable *works* having a generic way to specify multiple msbuild properties on the command line would be handy. Doing `nuget restore -Property Configuration='Release' -Property CustomImportPath='C:\SomeDir\Imports'` would be handy.

[2019-04-15 21:28] #7914 closed, assigned to nkolev92

[2019-04-15 22:29] gpresland commented on #4864
Getting this error despite documentation stating no value to be specified:

https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-nuget-push?tabs=netcore2x#options

[2019-04-15 22:34] kilasuit commented on #1630
Honestly this feels like fixing something that wasn't overly broken (though I may just be lucky and have never experienced it/a need for it)

surely this is something that should be implemented on the serverside to decide to allow/deny  either a skip/republish option and therefore should be implemented within serverside code not the client utility?? especially on the serverside you could then impl

[2019-04-15 22:52] #7909 closed, assigned to nkolev92

[2019-04-15 22:53] dtivel opened #8003 "HTTP Cache: versioned resources are not cached in a versioned way"
We have a number of V3 resources which are [versioned](https://github.com/NuGet/NuGet.Client/blob/6dbccea64523830396b5690cc97da46e94fc3b26/src/NuGet.Core/NuGet.Protocol/Constants.cs).  However, the resources aren't always cached in a versioned way.  This means that if multiple NuGet clients of varying versions run on the same machine, they may unintentionally use cached resources for a different v

[2019-04-15 23:21] karann-msft commented on #442
@forderud - I believe it is artifactory that needs to expose the owner information in the API. If you notice, when browsing a folder feed, the VS package manager UI will show the owner information from the nuspec.

![image](https://user-images.githubusercontent.com/16904420/56171635-e1d5d380-5f9a-11e9-9f87-1d7c5da67f8d.png)

[2019-04-15 23:46] nkolev92 commented on #8000
You want the warning message to contain a link to the warning docs?

I have a philosophical problem with that. We should not have hard links from the product.
If you are suggesting aka.ms link, I'd say we should limit our exposure to potential docs site change root causes.

I'd be open to enhancing the warning message without any hard links.
Improving the dosc should be a fast & easy win.

[2019-04-15 23:46] nkolev92 commented on #8000
Milestoned items don't need priority & backlog items have a priority.

[2019-04-15 23:49] zivkan commented on #8000
At the very least, the message shouldn't make it sound like it's possible to rename `licenseUrl` to `license`. It's easy to understand how some customers may have that impression, even if that's not what it actually says.

[2019-04-15 23:54] nkolev92 commented on #8000
I'd imagine it's a tiny minority that'd interpret it as such, but yeah we should do our best to improve it.

how about;

//cc @karann-msft

[2019-04-15 23:59] anangaur commented on #1630
When you are trying to push multiple package `*.nupkg` and do not want to be blocked when one of the pushes failed when the package is already present on the server, this option can come in handy. Especially for CI/CD scenarios when you are pushing intermediary bits to a private feed.

Example: You publish a bunch of packages (say 10) to a private feed that does not allow overwriting packages as p

[2019-04-16 00:11] donnie-msft commented on #1630
As I see it, the server already does implement its portion of this by returning a specific error code for a duplicate. It's up to the client to decide if it cares or not. In the case of NuGet client, it always interprets it as a fatal error. The new option would allow you to customize NuGet client to say "it's okay, keep going". The server doesn't (and shouldn't) care whether you want to send furt

[2019-04-16 00:57] nkolev92 commented on #7996
The NU1004 page does not exist.
This is a docs problem.

[2019-04-16 07:09] forderud commented on #442
Thanks a lot for the explanation @karann-msft . I now understand that this is not a Microsoft-issue, and will instead contact JFrog regarding this issue.

[2019-04-16 07:10] infin8x commented on #1630
Thanks for taking this up! @donnie-msft that's right. We wrote our own custom client for Azure Pipelines to do just that. It's great to see it being taken up as a native NuGet feature.

[2019-04-16 08:27] KoalaBear84 commented on #4901
Still no progress?

[2019-04-16 11:19] edouard-chevalier commented on #7956
This bug prevents from updating to latest dotnet sdk on ubuntu 16.04.
looking forward for a fix.

[2019-04-16 14:53] KathleenDollard commented on #4901
[`DotNetCliToolReference` is being phased out.](https://github.com/dotnet/announcements/issues/107)

Please see the explanation there.

As a result, I suggest this issue be closed. cc @rrelyea

[2019-04-16 16:49] timmkrause opened #8004 "Restore fails for "Azure Resource Group" project template and Directory.Build.props"
## Details about Problem

`nuget restore` fails for kind of "special" combination regarding "Azure Resource Group" project template (`.deployproj`) and `Directory.Build.props`.

NuGet.exe
NuGet version: 4.9.3.5777
VS version: 2019 (16.0.1)
OS version: win10

## Detailed repro steps

These are local reproduction steps, actually this happened within Azure Pipelines (hosted agents).

1. File / New /

[2019-04-16 17:09] nkolev92 opened #8005 "Add a target for returning the FrameworkReference similar to CollectPackageDownloads and CollectPackageReferences"
https://github.com/dotnet/project-system/issues/4567#issuecomment-483530998

[2019-04-16 17:12] Rick-van-Dam commented on #5805
The nuget 4.x libaries are also horrible to read. We tried to upgrade a packet manager for a game engine ([duality](https://github.com/AdamsLair/duality)) that used nuget 2.x to nuget 4.x but we ended up not doing it because getting it to work properly is almost impossible. There is also zero documentation on how to integrate it.

I don't know what they were thinking while writing nuget but the nu

[2019-04-16 17:26] zivkan commented on #8004
Closing as duplicate of #7831

[2019-04-16 17:26] #8004 closed, assigned to nobody

[2019-04-16 17:28] zivkan commented on #7831
Some properties, like `TargetFramework` are defined by the SDK after `Directory.Build.props` are imported. Here are some alternate ideas:

* Use a condition like `'$(MSBuildProjectExtension)' == '.csproj'`
* Define the `PackageReference` in `Directory.Build.targets` in order to use properties such as `TargetFramework`.
* I believe that MSBuild only imports the first `Directory.Build.Props` it find

[2019-04-16 21:10] anangaur commented on #7823
Related issue for lock files: https://github.com/NuGet/Home/issues/7840

[2019-04-16 21:29] nkolev92 commented on #4582
Look at me go, I finally caught up to this :D

I borrowed the changes that Justin made last time he attempted to fix this and I investigated "why" this is happening.

The root cause of all these problems is the fact that the related targets that depend on the `$(ProjectAssetsFile)` completely fail.

There are a lot of usages of this throughout the SDK targets. A lot of which assume a full path.

I

[2019-04-16 21:30] nkolev92 commented on #4582
The above proposed change should not affect the SDK and any other build targets.
It will just fix the above specified scenario.

[2019-04-16 21:36] loic-sharma commented on #7957
Also, I would add the package type (`DotnetTool`, `Dependency`, etc) to the registration API. This is useful if the client has a different UI based on the package's type. For example, the NuGet gallery has a different UI for installation instructions if the package is a [dependency](https://www.nuget.org/packages/NUnit/) or a [tool](https://www.nuget.org/packages/dotnet-format/). Like @anangaur me

[2019-04-16 21:40] anangaur commented on #7957
We should revisit package type when we discuss Search by TFM experience. IMO different package types shouldn't even show up on PM UI.

[2019-04-16 21:55] rrelyea commented on #8002
@timheuer - Can you point us towards how this would be done if we didn't do this work?

[2019-04-16 22:39] vsfeedback opened #8006 "NuGet automated suggestion of installing package based on "using" keyword in C#."
VSF_TYPE_MARKDOWNFor example I have &quot;using Newtonsoft.Json&quot; in my C# file header. Clicking on this when package Newtonsoft.Json is not installed should suggest installing appropriate NuGet package.

It already works when I click on a class reference in code, however the rules for it working is undocumented. I don't know how to make classes from my own NuGet packages handled like this. It

[2019-04-16 23:03] vsfeedback opened #8007 "Nuget manager display Date Published"
<p>Please add Date Published to the results view, especially when you are on the Browse tab.</p><p>This way you will easily spot old / abandoned packages. And maybe an option to 'gray out' packages older than a year or so.</p>

_This issue has been moved from https://developercommunity.visualstudio.com/content/idea/496488/nuget-manager-display-date-published.html
VSTS ticketId: 822633_
_These are

[2019-04-16 23:04] vsfeedback opened #8008 "If login is needed for nuget feed notify user of the url to access in the login prompt"
<p>When opening an existing project that needs access to controlled access nuget feeds the login dialog repeatedly appears with no information as to what needs logging into or why he login failed.</p><p>Please look at adding some way to notify the user of what nuget feed needs login credentials and/or if login credentials failed for a specific feed.</p>

_This issue has been moved from https://dev

[2019-04-16 23:27] nkolev92 commented on #7981
Duplicate of https://github.com/NuGet/Home/issues/7178.

Fixed in 5.1

[2019-04-16 23:28] #7981 closed, assigned to nobody

[2019-04-16 23:29] nkolev92 commented on #4933
Duplicate of https://github.com/NuGet/Home/issues/5725

[2019-04-16 23:29] #4933 closed, assigned to nobody

[2019-04-16 23:30] nkolev92 commented on #5629
Closing as stale.

If you are still having problems, please create a new issue.

[2019-04-16 23:30] #5629 closed, assigned to nobody

[2019-04-16 23:32] nkolev92 commented on #6543
I'd imagine this is a duplicate of https://github.com/dotnet/project-system/issues/3164.

Since this is fairly old, I'll close this.
If you are still having problems please file a new issue .

[2019-04-16 23:32] #6543 closed, assigned to nobody

[2019-04-16 23:35] nkolev92 opened #8009 "TreatWarningsAsErrors in tests"
There's been flaky test bugs that could've been caught by looking at the warnings.

We should cleanup the current warnings and enable WarningsAsErrors in the tests as well.

[2019-04-16 23:42] #6372 closed, assigned to nobody

[2019-04-16 23:43] nkolev92 commented on #6237
Fixed in 4.5, couldn't find the duplicate.

[2019-04-16 23:43] #6237 closed, assigned to nobody

[2019-04-16 23:44] #6004 closed, assigned to nobody

[2019-04-16 23:44] nkolev92 commented on #6004
Issue moved to [NuGet/NuGetGallery #7082](https://github.com/NuGet/NuGetGallery/issues/7082) via [**ZenHub**](https://www.zenhub.com/)

[2019-04-16 23:44] vsfeedback opened #8010 "line continuation in package manager console"
<p>With Core, Scaffold-DbContext lines are long. Ability to split over more than one line would be useful.</p><p>This is already available in most shells (bash, powershell etc)</p>

_This issue has been moved from https://developercommunity.visualstudio.com/content/idea/480145/line-continuation-in-package-manager-console.html
VSTS ticketId: 812475_
_These are the original issue comments:_

Jane Wu

[2019-04-17 01:25] timheuer commented on #8002
Right now options like:
https://natemcmaster.com/blog/2018/07/02/code-signing/
https://github.com/onovotny/NuGetKeyVaultSignTool

[2019-04-17 03:08] Rast1234 commented on #4413
Maybe it will help someone like me: when building my apps in Microsoft's docker container with SDK, i found out that `dotnet restore` reads these configs:

* `/nuget.config`  - yes, in the root of the filesystem! why?
* `/root/.nuget/NuGet/NuGet.Config` which is sane but is not present until you run restore the first time.

It would be much easier to just specify an **environment variable** for al

[2019-04-17 04:14] GanesanRengasamy commented on #7649
Hi @zivkan

I am trying to downgrade the sample NuGet package from latest version to lowest (Previous) version.  My sample package have the dependent NuGet packages with the same version of root NuGet package.

But my root package only downgraded to lowest version and the dependent packages are not downgraded to the lowest version. But as I have mentioned in screenshot dependent NuGet packages are

[2019-04-17 05:08] dominoFire opened #8011 "nuget.exe restore on mono/MacOS fails with custom nuget.config and `PackageSignatureValidity: False`"
## Details about Problem

NuGet product used: NuGet.exe

NuGet version: 4.9.4

dotnet.exe --version (if appropriate): 2.2.100

OS version: Mac OS X 10.14.4

Worked before? Yes, with nuget.exe 4.8.2

## Detailed repro steps so we can see the same problem

Use `./test-fail.sh` script, attached in this issue.

## Other suggested things

There are two scripts:
- `test-fail.sh`: failing test
- `test-pa

[2019-04-17 05:24] #7807 closed, assigned to heng-liu

[2019-04-17 05:34] kopfsick commented on #4488
Is this really still an issue without a solution?
I'm planning a migration to Core and Standard for a big application suite of 300+ projects, multiple web applications and desktop applications with shared code, but was planning on not migrating one of the WPF-apps.
Are there no workarounds?

Edit:
Got my prototype working with the `Legacy2CPSWorkaround` method. Is this still the preferred way to s

[2019-04-17 07:25] MERamadan commented on #6324
In my case with a new **Asp.Net Core 2.2** project with **Visual Studio 2017 (15.9.11)**. Also, I have a big solution with too many other projects.

The following steps fixed the issue for me
- from the solution explorer -> r-click the project -> unload project
-  r-click the project -> Edit
- remove the following section (if exists)

`<PropertyGroup Label="Globals">
    <SccProjectName>SAK</SccPr

[2019-04-17 07:51] kierenj opened #8012 "NuGetizer 3000 - cross-platform nuget pack CLI?"
https://docs.microsoft.com/en-us/dotnet/core/tools/custom-templates#packing-a-template-into-a-nuget-package-nupkg-file indicates:

"Currently, a custom template is packed on Windows with nuget.exe (not dotnet pack). For cross-platform packaging, consider using NuGetizer 3000."

However, the link given is https://github.com/NuGet/Home/wiki/NuGetizer-3000, which just introduces the project.  I can't

[2019-04-17 12:31] paulomorgado opened #8013 "https://github.com/NuGet/Home/wiki/Allow-package--authors-to-define-build-assets-transitive-behavior"
Shouldn't it be "And it will **be** hard for Project A to understand the root cause." ?

Throughout the text the `/build` directory is mentioned but `/buildCrossTargeting` is never mentioned.

[2019-04-17 13:54] #7997 closed, assigned to dtivel

[2019-04-17 17:01] zivkan commented on #8000
My suggestion:

I also have issues with the NU5125 docs, but I think it's easier/quicker for me to create a PR rather than explain it and wait for someone else to work on it. Basically, imagine you're a customer who saw the warning message and wants to migrate to the new, supported feature. The current docs require at least 2 more clicks to find actionable information, but there are 6 links and on

[2019-04-17 18:01] vsfeedback opened #8014 "Nuget version conflict solver"
<p>Whenever I get an error like the following:</p><pre>Found conflicts between different versions of &quot;Newtonsoft.Json&quot; that could not be resolved.  These reference conflicts are listed in the build log when log verbosity is set to detailed.</pre><p>Solving this issue is an adventure that can take hours of troubleshooting, when you have many Nuget packages loaded and each one loads others

[2019-04-17 19:07] vsfeedback opened #8015 "changing the package source in nuget pm ui should not alter the target project selection"
i wanted to downgrade a package in a single project to match other projects.

with nupmui consolodate window open, i deselected all the projects except the one i wanted to downgrade, however i couldnt pick the version i wanted because the package source was incorrect for the package.

changing the package source reloaded the window and required me to go through the reselection process again. this

[2019-04-17 19:42] nkolev92 commented on #8014
I don't think this is a NuGet thing.

This talks about conflict resolution on the assembly level, which we do not handle.
We just "select" assets. The rest is in MSBuild/SDK.

In order for us to help with, we would need to own the assembly selection process which we don't.

[2019-04-17 19:52] pablocar80 commented on #8014
NuGet could build a tree of dependencies and suggest a set of working combinations.

[2019-04-17 19:53] pablocar80 commented on #8014
In other words, Nuget won't change the compile process, only help the user select the correct versions of packages.

[2019-04-17 19:54] pablocar80 commented on #8014
And selecting package versions happens at NuGet. The MSBuild receives the versions as an input and can't do much more than throw an error.

[2019-04-17 20:39] nkolev92 commented on #8014
As I mentioned in the above comment, the conflict above is not about selecting a package version, rather it talks about assembly level conflict resolution.

NuGet already selected the best matching package version, and if not, NuGet will raise a respective warning to alert the user such as https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings/nu1605.
And the NU16xx class of warnings

[2019-04-17 20:42] pablocar80 commented on #8014
The issue I intended to report was about selecting package versions in NuGet. The error message reported can get fixed by uninstalling NuGet packages and reinstalling with different version numbers. That is a process that could be assisted instead of fully manual.

[2019-04-17 21:01] emmellee commented on #5773
Issue 7212 was closed as duplicate of this ticket.  Still wondering when  nuget will support ssl client authentication?  Thank you.

[2019-04-17 21:02] nkolev92 commented on #8014
My point still stands, NuGet does not know all other assemblies used in the compilation process.
Just because upgrading a package resolved the conflict, it doesn't mean that the problem is in the package in the first place.
You probably just resolved it by getting a package with a higher assembly version number than the current ones.

Say you have 2 version of the same package id, "Newtonsoft.Json

[2019-04-17 22:33] pablocar80 commented on #8014
That would be a good enhancement, I agree, with the error message giving you clues on how to fix it. That's a very basic fix.

A better fix would be that after I upgrade and run into the error, I could get an "unable to upgrade" message due to version conflicts and that upgrade rolls back. This way I never put the source into a broken state.

An even better fix would be that Visual Studio figures

[2019-04-17 22:54] nkolev92 commented on #8014
Note that version conflict is not an error, and not something that needs to be rolled back.
For the most part this will work without a hitch.

Combining concerns such as `Is this package compatible` and `Does installing this package cause some obscure warnings to be raised during build`, would mean that every time you install a package, the tooling would need to do a build.

This would quickly lea

[2019-04-17 23:34] #8009 closed, assigned to nkolev92

[2019-04-17 23:45] nkolev92 commented on #7341
The fix will be in
2.1.700 - preview 2
2.2.300 - preview 2
3.0.100 - preview 4

If/When you upgrade to these versions, let me know if you still see issues.

[2019-04-18 09:33] Misiu commented on #6440
@jnm2, @mgoertz-msft  could You take a look at this: https://github.com/dotnet/corefx/issues/23372#issuecomment-484481574?
How are icons read right now when controls are selected from DLL? Is there any potential risk to do that at runtime?

[2019-04-18 10:17] Pzixel opened #8016 "Snupkg(symbols packages) auto push alongside the main package"
## Details about Problem

NuGet product used: dotnet.exe

NuGet version (5.0.0):

dotnet.exe --version: 2.1.602

VS version: 16.0.1

OS version: win10 v1809 (17763.437)

## Detailed repro steps so we can see the same problem

1. Create a project with

[code]

2. cd %SolutionRoot%
3. Run `dotnet pack ProjectName --configuration=Release --include-symbols --output nupkgs`
4. Run `dotnet nuget push Pr

[2019-04-18 12:43] mmorrisuts commented on #4860
I had this problem last night in VS2017 15.9.11.
All VS2017 projects were stuck, and I was unable to browse NuGet packages through VS2017.  However, this was only occurring on my computer at the office.... but again, it was occurring for all projects on my computer.
The error message included a note about .NET 4.6.1... which is what I was generally using for my projects.  A co-worker was using .NE

[2019-04-18 12:48] mmorrisuts commented on #4860
I just had a similar problem last night in VS2017 15.9.11, and the solution in my case was to change .NET Framworks... even temporarily.

Details:
All VS2017 projects were stuck, and I was unable to browse NuGet packages through VS2017. However, this was only occurring on my computer at the office.... but again, it was occurring for all projects on my computer.
The error message included a note ab

[2019-04-18 16:26] JGCreator commented on #5979
All my projects referencing NuGet.Build.Tasks.Pack and building with `msbuild /t:Pack /p:TargetFramework=net471 /p:Authors=CI /p:PackageOutputPath="../Packages"` are working fine.

[2019-04-18 16:54] vsfeedback opened #8017 "ProjectSystem bug: Nuget Packages getting auto removed"
Update: FIXED IN VS 16.1 - SEE FEEDBACK ISSUE HERE: https://developercommunity.visualstudio.com/content/problem/443877/assembly-reference-is-removed-from-project-after-r.html

----

With the VS2019 Preview 2.2, every time I add a nuget package to my application, it stays for a bit but it seems like after I start a debug and end it, the nuget package gets removed or if it was an upgrade, it gets re

[2019-04-18 16:55] rrelyea commented on #8017
5.1 for now, but would consider 5.0.x depending on what we learn.

[2019-04-18 16:56] mgoertz-msft commented on #6440
@Misiu Sorry, this had dropped off my radar. It looks like Version is already supported for NuGet assemblies but Company name is not. This is what shows up for the [WebView](https://www.nuget.org/packages/Microsoft.Toolkit.Forms.UI.Controls.WebView) control:

![WebViewToolboxTooltip](https://user-images.githubusercontent.com/14282894/56377819-1f677600-61c0-11e9-9609-813f486fea05.png)

@Misiu Just

[2019-04-18 16:58] erikest commented on #7986
I was following the guidance for custom templates here:

https://docs.microsoft.com/en-us/dotnet/core/tools/custom-templates

which says to use `nuget pack` directly and not `dotnet pack`

At the time of the pack, I did not have the files open.  I had copied the entire directory to a new folder and eventually had to delete the .vs folders to get it to go.

Even if the db.lock file was open, I woul

[2019-04-18 16:58] binaryn3xus commented on #8017
@rrelyea You asked in the MS Community issue what project it was originally experienced with. My project was a .Net Core Console application.

[2019-04-18 17:09] GeekyMonkey commented on #8017
Mine was ASP.NET Core 2.2 web app with Angular

[2019-04-18 17:22] nkolev92 commented on #8017
This sounds like something project-system related.

@zivkan was recently dealing with a similar bug, maybe he has an idea?

//cc @davidwengier Does this sound like that bug?

[2019-04-18 17:27] zivkan commented on #8017
If the bug happens when the csproj is open in another tab, it could be a duplicate of this bug: https://developercommunity.visualstudio.com/content/problem/443877/assembly-reference-is-removed-from-project-after-r.html

[2019-04-18 18:05] nkolev92 commented on #7415
https://github.com/NuGet/docs.microsoft.com-nuget/pull/1395

[2019-04-18 18:05] #7415 closed, assigned to nobody

[2019-04-18 18:14] #7959 closed, assigned to rrelyea

[2019-04-18 18:28] SamB commented on #686
Debian calls those `Suggests` (or maybe `Recommends`?)  and `Enhances`, FWIW: https://www.debian.org/doc/debian-policy/ch-relationships.html#binary-dependencies-depends-recommends-suggests-enhances-pre-depends

[2019-04-18 18:56] #4582 closed, assigned to nkolev92

[2019-04-18 21:23] zivkan commented on #7986
Ok, I changed the title of the issue to make it clear it's about reading files in directories that are ignored, which indeed should not happen. This issue will be prioritized and scheduled per our normal process.

[2019-04-18 21:34] zivkan opened #8018 "Update docs on how to create a dotnet cli template package with dotnet pack"
The following docs page says this: https://docs.microsoft.com/en-us/dotnet/core/tools/custom-templates#packing-a-template-into-a-nuget-package-nupkg-file

We should update the docs to explain how to pack with `dotnet pack`.

[2019-04-18 21:48] anangaur commented on #7889
As discussed, I think we should give preference in the following order:
1. PackageId
2. AssemblyName
3. Project file name

I have no pref between 1 or 2, but I guess we should respect a name specifically mentioned in the csproj as either PackageId or AssemblyName.

[2019-04-18 22:14] erikest commented on #7986
Excellent, thanks! I'll try to be more explicit in my descriptions next
time :)

On Thu, Apr 18, 2019 at 2:23 PM Andy Zivkovic <notifications@github.com>
wrote:

--
-Erik

[2019-04-18 22:55] davidwengier commented on #8017
There is nothing in the issue that rules out this being a duplicate of the bug @zivkan linked to, and in particular the comment about not being able to use the "Edit .csproj" menu item points strongly to the same issue.

[2019-04-19 00:10] nkolev92 commented on #7889
What @anangaur is referring to more specifically is the following:
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Build.Tasks/NuGet.targets#L633-L637
We are not changing that order.

Basically what we are debating is given a project with a custom assembly name, does the lock file contain:
Lib1 -> Lib2 (CustomName)

[code]

or
[code]

If you look at the assets file you will see

[2019-04-19 00:18] nkolev92 opened #8019 "Packages Lock File - regenerate lock file when project graph changes"
Given
Lib1 -> Lib2 -> Lib3

Lib1
[code]

Lib2
[code]
Lib3
[code]

Generate a lock file for lib as such:

[code]

Change the graph structure to:

Lib1
[code]

Lib2
[code]

Run a restore on Lib1 again, and the lock file does not get regenerated.

//cc @anangaur

[2019-04-19 00:36] nkolev92 commented on #7930
Same thing would happen if the dependency removed was coming from MyApp.

[2019-04-19 02:48] ryno1234 commented on #5954
@jainaashish, I cannot seem to adapt this sample to work for our project. A few questions before I spend any more time debugging the issue:

* Is this meant to work when the target project is an SDK-style project using the new csproj format?
* Is the transform supposed to occur during installation of the Nuget package, during build of the consuming project or during publish of the consuming projec

[2019-04-19 05:15] mmzysk commented on #4882
How did you fix it?  What did you change it to??  I am having the same issue argh.

[2019-04-19 07:04] Misiu commented on #6440
@mgoertz-msft I've created a feature request for Company attribute: https://developercommunity.visualstudio.com/idea/539607/support-company-attribute-for-user-controls-instal.html
and for icon support: https://developercommunity.visualstudio.com/idea/539616/user-controls-installed-via-nuget-should-display-i.html

Please moderate them if needed. Hopefully, this will be added at some point, ideally

[2019-04-19 12:47] CraigSelbert commented on #7842
For those that are having this issue with TeamCity I followed @dcopestake [link ](https://youtrack.jetbrains.com/issue/TW-59793)(which was not my issue, but similar) and found [my issue](https://youtrack.jetbrains.com/issue/TW-59974) that has a NuGet Plugin that fixed my issues.

[2019-04-19 13:57] Egor92 commented on #7842
@CraigSelbert, it turned out that NuGet Plugin (dotNetPackagesSupport.zip) from [this issue](https://youtrack.jetbrains.com/issue/TW-59974) is the real solution in my case. Because I had warning

[2019-04-19 14:15] madelson opened #8020 "Provide a way to disable "nearest wins" resolution in package restore"
Our projects have complex dependency graphs and as such we frequently encounter NU1605.

What is frustrating to me is that in most cases there is an obvious resolution to this which is to use the minimum version that is fully compliant. Rather than seeing NU1605, I would like the ability to turn off the "nearest wins" resolution rule. It seems odd to me that NuGet would ever resolve dependencies i

[2019-04-19 15:58] mgoertz-msft commented on #6440
@Misiu Got them, thank you! No promises though on if or when these will be addressed but at least we have them in Visual Studio's tracking system now, which will notify you of any changes to these tickets.

[2019-04-19 20:10] #7962 closed, assigned to dtivel

[2019-04-19 20:23] #7984 closed, assigned to dtivel

[2019-04-19 20:29] nkolev92 opened #8021 "Improve IsPackableFalseError message"
//cc @natemcmaster

[2019-04-19 20:38] nkolev92 commented on #8020
Duplicate of https://github.com/NuGet/Home/issues/8020.

There's lots of reasons why NearestWins was implemented:

* You get a predictable resolution behavior, minimizing the noise you get from using multiple/different sources.
* Allows the most control to the end user. Just because a package says `3.5.0 and greater` of a dependency it doesn't mean that every potential matrix has been tested. Bugs

[2019-04-19 20:38] #8020 closed, assigned to nobody

[2019-04-19 20:51] nkolev92 commented on #7782
Will be handled on the dotnet side.

[2019-04-19 20:51] #7782 closed, assigned to nkolev92

[2019-04-19 21:49] peterhuene opened #8022 "Cross platform issue : dotnet pack fails to add item when parent folder name equals file name"
_From @spboyer on Friday, 19 April 2019 18:15:30_

## Steps to reproduce
Add a folder called `xpath.js` containing a file called `xpath.js`

i.e - `npm_modules\xpath.js\xpath.js`

run `dotnet pack -c Release`

** csproj file snippet **

[code]

## Expected  behavior

Successfully created package '/.../mypackage.nupkg'.

## Actual behavior

[code]

## Environment data

[code]

_Copied from original

[2019-04-19 21:49] peterhuene commented on #8022
_From @peterhuene on Friday, 19 April 2019 21:46:13_

The NuGet team owns the pack targets, so I'm moving the issue there.  Thanks!

[2019-04-19 22:38] nkolev92 opened #8023 "Fix the bad build integrated tests"
Related to https://github.com/NuGet/Home/issues/7970.

Fixes the broken tests

[2019-04-19 23:07] #7930 closed, assigned to nkolev92

[2019-04-19 23:41] nkolev92 commented on #7889
Discussed internally, we will preserve the assembly name/package id representation as it guarantees uniqueness in the package graph.

[2019-04-19 23:43] #7889 closed, assigned to nkolev92

[2019-04-20 00:10] nkolev92 opened #8024 "Clearly defined review process"
Discussed during our retrospective.
Clearer problem statements, internal/external review process.

//cc @NuGet/nuget-client @anangaur @rrelyea

[2019-04-20 00:17] nkolev92 opened #8025 "Test: reenable Apex tests for Dev16"
//cc @NuGet/nuget-client

[2019-04-20 00:28] #8023 closed, assigned to nkolev92

[2019-04-20 00:33] bergbria commented on #7889
@nkolev92 - Thanks for fixing this! I see this is part of the 5.1 milestone. How far away would you guess that release is? Once it is released, how long until the fix makes it into the .net sdk?

This will prevent many people in my team from migrating to .net core/standard (or even packagereferences) since we have a hard requirement for lock file usage.

[2019-04-20 00:49] nkolev92 commented on #7889
5.1 is 16.1 and matches 2.2.300, 2.1.700 of the SDK. The stable release should happen in the 2nd quarter of May.

However, this fix should make it in preview 3 of all respective products.

[2019-04-20 09:40] GitRjc opened #8026 "Install error for CoreCompat.Portable.Licensing"
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2019-04-20 14:02] #7998 closed, assigned to dtivel

[2019-04-20 19:13] plioi opened #8027 "Should SPDX license expressions such as "MIT" be considered invalid, as the resulting NuGet package would have incomplete license information?"
Documentation shows the following example for using the [new license tag](https://docs.microsoft.com/en-us/nuget/reference/nuspec#license):

[code]

It also says that the expression, MIT in this case, corresponds with the [SPDX License Identifiers](https://spdx.org/licenses/).

The [SPDX "MIT" Identifier](https://spdx.org/licenses/MIT.html#licenseText), though, corresponds with a license that has

[2019-04-20 21:16] lopezdp commented on #6665
lol.

[2019-04-20 23:19] dotMorten commented on #7961
Hard yes please. I see a big problem with a code base that compiles and runs fine on VS2019, but either fails to compile or crashes at runtime on VS2017 because this feature isn't there. For instance libraries like Microsoft-UI-Xaml, Xamarin.Forms or ArcGIS Runtime rely on build targets to execute correctly, and having transitive builds work "right" makes things much easier when working with .NET

[2019-04-21 02:48] madelson commented on #8020
@nkolev92 thanks for the information. You mention that this is a duplicate of another issue but you just link back to this issue. Can you link to the other so I can read more?

Regarding the performance point, I agree that package restore should be very fast. However, isn't this largely solved by using restore with locked mode?

[2019-04-22 01:26] nkolev92 commented on #8020
@madelson
My bad, I pasted the completely wrong thing.

https://github.com/NuGet/Home/issues/5400

Not everyone uses locked mode. It will be a while until people do if ever.
Then again, we listen to the customers & platform needs, and prioritize things accordingly.

[2019-04-22 01:33] #7261 closed, assigned to nobody

[2019-04-22 01:34] nkolev92 commented on #7526
Closing as stale.

Please open a new issue as needed.

[2019-04-22 01:34] #7526 closed, assigned to nobody

[2019-04-22 01:35] nkolev92 commented on #7893
@aeos

Are you still having issues?

[2019-04-22 01:38] nkolev92 commented on #7566
@LightVolk

Any headway on the repro?
Thanks.

[2019-04-22 01:39] nkolev92 commented on #7545
I am closing this as no repro at this point.

If you hit the issue again, please let us know and we'll investigate accordingly. Thanks

[2019-04-22 01:39] #7545 closed, assigned to nobody

[2019-04-22 01:43] nkolev92 commented on #7039
Closing this as No Repro

[2019-04-22 01:43] #7039 closed, assigned to nobody

[2019-04-22 01:44] nkolev92 commented on #7358
Closing as there's no response.

[2019-04-22 01:44] #7358 closed, assigned to nobody

[2019-04-22 01:46] nkolev92 commented on #7131
Closing this as stale, since the customer has not responded.

Please open a new issue if you are still having problems.

[2019-04-22 01:46] #7131 closed, assigned to nobody

[2019-04-22 01:54] #7361 closed, assigned to nkolev92

[2019-04-22 01:55] nkolev92 commented on #8016
NuGet has not been auto pushing symbols/snupkg packages since https://github.com/NuGet/Home/issues/6113.

Maybe it's appropriate to reevaluate that decision now.
/cc @anangaur

[2019-04-22 02:18] aeos commented on #7893
Hi

I changed direction so this is no longer an issue.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Nikolche Kolev <notifications@github.com>
Sent: Sunday, April 21, 2019 6:35:58 PM
To: NuGet/Home
Cc: Calvin Dallmore; Mention
Subject: Re: [NuGet/Home] unable to build project using msbuild pack target with NuGet.Build.Tasks.Pack (#7893)

@aeos<https://gith

[2019-04-22 07:15] Pzixel commented on #8016
Hmm, documentations says it does:

`nuget push MyPackage.nupkg`

Anyway, it didn't work even when I expliticely did `dotnet push my/path/to/MyPackage.snupkg`.

Maybe I need dotnet 2.2 to make it work. Gonna test it out.

[2019-04-22 08:30] LightVolk commented on #7566
@nkolev92 , it seems that Nuget Server (or Visual Studio) can not work with beta package without some parameters like "Prerelease" or so on.

[2019-04-22 16:16] dtivel commented on #7934
This should be fixed by:

https://github.com/nuget/home/issues/7962
https://github.com/nuget/home/issues/7984

[2019-04-22 16:16] #7934 closed, assigned to dtivel

[2019-04-22 16:16] #7963 closed, assigned to dtivel

[2019-04-22 16:21] nkolev92 commented on #7566
Not sure what you mean.

Are you saying that the client cannot see all prerelease versions or?

[2019-04-22 16:21] nkolev92 commented on #7893
Thanks for following up.

I will close this issue.

[2019-04-22 16:21] #7893 closed, assigned to nobody

[2019-04-22 16:51] dtivel commented on #7979
@jnm2, this appears to be resolved.

Updated script:  (Note that the leaf certificate has been updated.)
[code]
Output:
[code]

[2019-04-22 16:55] jnm2 commented on #7979
@dtivel Yes, they got back to me on Apr 16 (a few days after my third attempt to get the message through) and I verified that `nuget.exe sign` is working.

Thanks for your attentiveness! You've been awesome.

[2019-04-22 16:56] dtivel commented on #7979
Thanks for the thanks!

[2019-04-22 17:28] nkolev92 commented on #8016
I don't think those docs are correct.

@loic-sharma, @cristinamanum, @karann-msft

I see you've made changes to those docs. To my knowledge, NuGet never auto-pushed snupkgs.
do I have the wrong impression?

[2019-04-22 17:32] anangaur commented on #8016
My understanding is that we started to auto-push with snupkg. I will check this out in a while.

@Pzixel, did you try `dotnet ` **`nuget `** `push`?

[2019-04-22 17:46] dominoFire opened #8028 "Icon Technical Specification"
* Address all feedback and provide a more final version
* Publish the spec

[2019-04-22 17:48] nkolev92 opened #8029 "Source specific data for the Browse tab in PM UI"

[2019-04-22 17:54] Pzixel commented on #8016
@anangaur yes, that's what I did.

Here is an actual config: https://github.com/Pzixel/Solidity.Roslyn/blob/4b90ba4440be4559743260124de0bdf44c722f32/.circleci/config.yml#L24-L41

I hardcoded versions to make sure it's not because of some placeholder in the path.

[2019-04-22 18:00] dtivel commented on #7941
Dupe of https://github.com/NuGet/Home/issues/7939

[2019-04-22 18:00] #7941 closed, assigned to dtivel

[2019-04-22 18:04] dominoFire opened #8030 "Add restriction/validation on icon file size"
When we will able to pack icons inside  the .nupkg, there will be a maximum limit on icon file size. The limit is set to 1 megabyte.

[2019-04-22 18:07] dominoFire opened #8031 "Add restriction/validation on icon file format"
The icon file type in .nupkgs will be restricted to supported image types, set to PNG and JPEG formats.

[2019-04-22 18:07] dtivel opened #8032 "Test: fix failing test on macOS"
Fix failing test on macOS:

NetworkCallCount_RestoreLargePackagesConfigWithMultipleSourcesWithPartialMissingPackages

[2019-04-22 18:12] zivkan opened #8033 "Create NuGet package group for VS installer - fixing some VSIX setup problems"
NuGet has two installable packages in Visual Studio. `Microsoft.VisualStudio.NuGet.BuildTools` and `Microsoft.VisualStudio.NuGet.Core`. The `NuGet.BuildTools` pacakge is intended to be installed with the Visual Studio Build Tools SKU (no UI, used on CI build machines), while the `NuGet.Core` package is intended to be installed with the Visual Studio IDE. The `NuGet.Core` VS package contains all th

[2019-04-22 18:15] dominoFire opened #8034 "Replace Icon URL for Icon File Dialog in Project Properties (VS)"
When we opt for package icon files instead of icon URLs, we will need to update the VS Project Properties dialog to reflect this change.

[2019-04-22 18:23] anangaur commented on #8016
@Pzixel Thanks for reporting. Will take a look. I haven't been able to be on top of snupkg experiences recently - something I plan to work on, this week.

I have a feeling that in this case, the source might be incorrect. @cristinamanum, can you confirm?

`command: dotnet nuget push Solidity.Roslyn/nupkgs/Solidity.Roslyn.0.1.15.snupkg -k $NUGETAPIKEY `**`-s https://www.nuget.org`**

[2019-04-22 18:25] zivkan opened #8035 "packages.config sha enforcement - regenerate lock file when needed"
When a lock file's list of packages is different to the list of packages in the packages.config file, we need to regenerate the lock file, rather than do a sha comparison.

[2019-04-22 18:28] zivkan opened #8036 "packages.config sha enforcement - validate sha"
Check that the installed packages sha matches the lock file. fail if not the same. Make sure error messages are good in VS and nuget.exe

[2019-04-22 18:30] nkolev92 opened #8037 "PM UI - Update tab load data"
PM UI - update tab can be slow loading.
Understand why and how to track the performance.

[2019-04-22 18:31] zivkan opened #8038 "Add nuget.exe command line parameters for lock file features"
Make it work for both packages.config and PackageReference restores/lock files.

[2019-04-22 18:32] nkolev92 commented on #7845
3.0.0 preview 4, 2.1.700 and 2.2.300 P2 should hopefully be better now.

[2019-04-22 18:45] #7872 closed, assigned to dominoFire

[2019-04-22 18:50] dtivel commented on #8011
Affected tests:

* RestoreCommand_SourceLoggingFromGlobalPackageCache
* RestoreCommand_SourceLoggingFromV3FeedNoGlobalPackageCache

[2019-04-22 18:57] nkolev92 opened #8039 "Performance improvements in the PM UI"
Performance improvements in the NuGet PM UI.

Improve UI delays during search.

[2019-04-22 19:03] dominoFire opened #8040 "Implement `nuget.exe search`"
nuget.exe search command:
- [x] Implement query search
- [x] Implement take flag
- [ ] Implement skip flag
- [x] Implement prerelease flag
- [ ] Implement semver flag
- [x] Modify tests to reflect new `nuget.exe search`

NuGet Search API: https://docs.microsoft.com/en-us/nuget/api/search-query-service-resource

[2019-04-22 19:16] donnie-msft opened #8041 "Show NuGet commands in context menu"
Show `Manage NuGet Packages` as an option on
- [x] `Dependencies` node's context menu for SDK style projects https://github.com/NuGet/Home/issues/5049 (Released in 16.4 Preview 2)
- [x] `Packages` node's context menu for SDK style projects https://github.com/NuGet/Home/issues/5049 (Released in 16.4 Preview 2)
- [x] `References` node's context menu for csproj.dll based projects

(Note: 'NuGet' node

[2019-04-22 19:18] donnie-msft opened #8042 "Show NuGet commands in context menu - Implement"

[2019-04-22 19:19] dominoFire commented on #8011
Tasks

- [ ] Track last working commit with `git bisect` and looking at the builds
- [ ] Provide case with `PackageSignatureValidity: False|True`
- [ ] Debug with Mono/lldb

[2019-04-22 20:41] nkolev92 commented on #7547
Fixed in https://github.com/NuGet/NuGet.Client/pull/2769.
It was a bug in the validation logic.

[2019-04-22 20:41] #7547 closed, assigned to nobody

[2019-04-22 21:08] nkolev92 commented on #7988
I wrote up a short spec on this.

https://github.com/NuGet/Client.Engineering/pull/95

I believe we should go with both:
`PrivateAssets="all"` & new item for the base framework references to avoid worse problems in the future.

Feedback both here/on the spec PR is welcome.
We should briefly sync-up during the partners meeting.

[2019-04-22 22:54] heng-liu opened #8043 "Signing: add .NET Standard 2.1 Targeting for NuGet.Packaging, fix tests, create nupkg for pack sdk"
Add .NET Standard 2.1 TFM for NuGet.Packaging.
This is one of the breakdown tasks from https://github.com/NuGet/NuGet.Client/pull/2706

- [x] add Netstandard2.1 to nuget.packaging and all packages that depend (directly or transitively) on nuget.packaging.
- [x] change tests to "additionally" target netcoreapp3.0, so they could test netstandard2.1 assemblies
- [x] install 2 versions of NetCoreSDK i

[2019-04-22 22:59] heng-liu opened #8044 "Signing: on Linux, verify untrusted certificates give unknown revocation doesn't affect the correctness of our code."
On linux, untrusted certificates also give unknown revocation. We need to make sure this is by design and it doesn't affect the correctness of our code.

This is one of the breakdown tasks from NuGet/NuGet.Client#2706

[2019-04-22 23:12] karann-msft commented on #8027
The license expression is a mechanism for the package author to easily express the licensing terms governing a package they own when using a well-known license like MIT. It is reasonable to assume that the copyright and author are the values coming from the respective metadata fields. There is nothing stopping you from adding license text as a file in the package in addition to using license expre

[2019-04-22 23:29] nkolev92 commented on #7988
Synced up with @dsplaisted & @rrelyea
We're doing only the NuGet side change.  Will introduce a new PrivateAssets attribute instead of Pack.
It will go in 5.2 & Preview 6.

[2019-04-22 23:33] dominoFire commented on #8022
Got a repro:

[code]
It seems that the dotnet process hangs with this repro. Can you confirm from your side, @peterhuene ?

npm
[code]
dotnet --info
[code]

[2019-04-22 23:58] #8021 closed, assigned to nobody

[2019-04-23 00:16] spboyer commented on #8022
@dominoFire - run restore/build first. See if the hang is there.

[2019-04-23 00:34] dominoFire commented on #8022
My bad @spboyer , @peterhuene , it doesn't hang in restore/build, neither in pack

[2019-04-23 01:34] dominoFire commented on #8022
Here's an attempt to have the same folder structure in the project and in the build/package content:

[code]

The result is shown in the image below:

![image](https://user-images.githubusercontent.com/1192347/56545125-6a201f80-652b-11e9-8e03-d6f6ec6d67e3.png)

In the previous example, you need to change `*\**` to `**\**` to include all the files inside `folderbase` in order to have the same folde

[2019-04-23 02:02] dominoFire commented on #8026
Thank you for your time in reporting this issue, @GitRjc . We need more information to address this issue. The issue template can guide you for providing more details about the issue.

[2019-04-23 02:47] #8005 closed, assigned to nkolev92

[2019-04-23 04:53] heng-liu opened #8045 "Signing: for Linux and Mac, implement timestamp integrity verification and enable the tests"
Timestamp integrity verification is not supported in .Net standard 2.0, therefore tests were disabled for Linux and Mac.
As .Net standard 2.1 starts to support Timestamp integrity verification, we need to implement timestamp integrity verification and enable the tests for Linux and Mac.

This is one of the breakdown tasks from NuGet/NuGet.Client#2706

[2019-04-23 05:00] loic-sharma commented on #8016
@Pzixel, Thanks for reporting this! You can fix this by changing your source from `https://www.nuget.org` to `https://api.nuget.org/v3/index.json`. The issue is that you're using the old V2 service index, but the symbol upload API was added to the V3 APIs.

Here are what we can do to improve this situation:

1. We should update [this documentation](https://docs.microsoft.com/en-us/nuget/create-pac

[2019-04-23 05:03] heng-liu opened #8046 "Signing: improve document on Offline revocation not supported for Mac, test to make sure no hang on Mac in offline scenarios"
On MacOS Offline revocation is not supported (it is treated as Online)
This need to be properly documented, not sure if it might make a hang in MacOS on offline scenarios. Related: NuGet/Home#7173 (see https://github.com/dotnet/corefx/blob/master/Documentation/architecture/cross-platform-cryptography.md#x509chain)

This is one of the breakdown tasks from NuGet/NuGet.Client#2706

[2019-04-23 05:10] heng-liu opened #8047 "Signing: Fix 22 test failures on Mac OS"
There are still 22 test failures on Mac OS.
* [x] 4 of this fail because chain building for verification doesn’t call the OCSP server. It seems like OCSP is called once for signing the package, but then when trying to build the chain for the same package in verification, the OCSP server is not being hit.

* [x] This 4 tests seem to behave differently on Mojave vs Sierra. On Sierra chain building f

[2019-04-23 05:16] heng-liu opened #8048 "Signing: Manual testing for signed package verification on mono(for dotnet restore and nuget exe)"
Manual testing for dotnet restore and nuget exe on mono.
This should include restore of signed packages under VS for Mac.

[2019-04-23 08:24] Pzixel commented on #8016
That's weird

[code]

[2019-04-23 08:26] Pzixel commented on #8016
That's weird

dotnet nuget push Solidity.Roslyn.Core/nupkgs/*.nupkg -k $NUGETAPIKEY -s https://api.nuget.org/v3/index.json
info : Pushing Solidity.Roslyn.Core.0.1.17.nupkg to 'https://www.nuget.org/api/v2/package'...
info :   PUT https://www.nuget.org/api/v2/package/
info :   Created https://www.nuget.org/api/v2/package/ 659ms
info : Your package was pushed.
info : Pushing Solidity.Roslyn.Core.0.1

[2019-04-23 08:34] Lemraj commented on #7310
I had the same problem in .Net Core project. This worked fine for me:
Edit your *.csproj file and add or update the following:

![image](https://user-images.githubusercontent.com/10677560/56566841-e6f6dc00-65b3-11e9-8fb8-ce3441ad25c5.png)

`<TargetLatestRuntimePatch>True</TargetLatestRuntimePatch>`

[2019-04-23 13:57] zenakuten opened #8049 "nuget pack hangs when using \**\*.h"
Nuget.exe hangs creating a package with \\**\\*.h in <files> section

In my package.nuspec file I have

    <files>
        <file src="..\**\*.h" target="include" />
    <files>

In the folder .. there are two .h files and one subdirectory "Foo" with "Foo\Foo.h" file.

Nuget hangs indefinitely with 'attempting to build package from package.nuspec'

If I remove the <file src="..\\**\\*.h"> recursiv

[2019-04-23 15:33] DanielRBowen commented on #8017
This is frusturating. It keeps on deleteting Microsoft.AspNetCore.Authentication.JwtBearer and then I have to add the package again.

[2019-04-23 16:05] zivkan commented on #8017
@DanielRBowen Do you have the csproj open in another tab?

[2019-04-23 16:21] DanielRBowen commented on #8017
@zivkan It stopped removing the package. I think it was after I commented out the code that needed the the package but I left the using statement and then added the nuget package to the project and then built the project. I don't know if commenting out the code did the trick or it was something else entirely.

I don't know what you mean by having the csproj in another tab. I did have another insta

[2019-04-23 17:27] heng-liu opened #8050 "Signing: Enable tests that used OCSP on Linux"
On Linux, OCSP are not supported in netstandard 2.0, therefore tests that used OCSP were disabled for this platform.
Since .Net Standard 2.1 implements OCSP, we should enable all the tests used OCSP on Linux.

This is one of the breakdown tasks from NuGet/NuGet.Client#2706

[2019-04-23 17:56] #7950 closed, assigned to donnie-msft

[2019-04-23 18:06] nkolev92 commented on #7310
Closing this as not a bug.

@Lemraj You are merely targeting the latest patch for that runtime. Usually that setting is used when packaging portable apps.

You are still not "updating" the versions manually, rather than choosing one or another SDK setting.

[2019-04-23 18:06] #7310 closed, assigned to nobody

[2019-04-23 18:07] nkolev92 commented on #8049
Does it truly hang, or is it just taking too long?
How long did you let it run for?

I'd imagine this is a duplicate of https://github.com/NuGet/Home/issues/5016.

[2019-04-23 18:38] setzer17 commented on #2585
I am surprised that Nuget doesn't support sorting especially by downloads....

[2019-04-23 19:42] LightVolk commented on #7566
@nkolev92 , client can not find prerelease packages.

[2019-04-23 20:17] heng-liu opened #8051 "Signing: implement `dotnet verify` command"
Implement "dotnet verify" command according to NuGet.exe command "nuget verify".

[2019-04-23 20:26] heng-liu opened #8052 "Signing: implement dotnet sign command"
Implement "dotnet sign" command according to NuGet.exe command "nuget sign".

[2019-04-23 20:30] heng-liu opened #8053 "Signing: implement dotnet trusted-signers command"
Implement "dotnet trusted-signers" command according to NuGet.exe command "nuget trusted-signers".+
Spec is  here" https://github.com/NuGet/Home/pull/10628

[2019-04-23 20:57] nkolev92 commented on #7566
And you are saying it only happens with NuGet.Server?

From the response you posted above it looks like  NuGet.Server  doesn't seem think the package existson the feed.

Let us know if you are able to provide us a repro with a public feed such as NuGet org, or give us clear instructions of your setup.

[2019-04-23 22:29] anangaur commented on #5420
@rrelyea Can this be picked again? Its odd to see old NuGet icons when the default icon shows up when package does not have it defined.

On VS:
![image](https://user-images.githubusercontent.com/14800916/56620069-7c0dcb00-65dc-11e9-8575-f078d395d7f7.png)

On nuget.org:
![image](https://user-images.githubusercontent.com/14800916/56620090-89c35080-65dc-11e9-818a-1922cdc709b1.png)

[2019-04-23 23:01] nkolev92 commented on #7935
A bit of background:

The packages.lock.json model has 3 types of dependencies.
1. Project - project reference, both direct & transitive are written the same.
2. Direct - packages directly referenced
3. Transitive - packages pulled in transitively, either through project or package

Now a few things that cannot be understood from the lock file:
1. In the lock file there is no distinction between a

[2019-04-23 23:08] nkolev92 commented on #3540
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2019-04-23 23:08] #3540 closed, assigned to nobody

[2019-04-23 23:11] zenakuten commented on #8049
I don't believe it is a performance problem.  My directory structure is as follows

    myapp\
    myapp\foo
    myapp\nuget

In myapp there are two .h files.  Under myapp\foo\ there is one .h file.  I went to lunch and came back and it was still stuck, about 30 minutes later.   The entire package when created is less than 50k.  It includes one dll, one pdb, and the three .h files.

[2019-04-23 23:16] nkolev92 commented on #8049
Does using the newest nuget.exe change anything?
https://www.nuget.org/downloads

It'd be nice if you can provide the exact directory structure with which you are packing or a zipped up repro project, so we can validate on our end.

[2019-04-23 23:25] cilerler opened #8054 "PackageReference range with exclusive lower bound does not work if the lower bound is present on one of the sources."
📌 **_Transferred from https://github.com/aspnet/AspNetCore/issues/9680_**

### Describe the bug
PackageReference exclusive definition does not work correctly.

### To Reproduce

1. Confirm that you have **SDK 2.2.203** through `dotnet --info`
2. Create a new console project `dotnet new console`
3. Add a package with `dotnet add package Ruya.AppDomain`
4. Locate the error message `error: Unable to

[2019-04-23 23:25] nkolev92 opened #8055 "Building NuGet.Build.Tasks.Pack fails with the 3.0.0 SDK due to NETSDK1085"
The root cause is that we have set NoBuild in our pack project.

It was set here,https://github.com/NuGet/NuGet.Client/pull/1310/files,  to avoid building again when packing since we ILMerge.
The problem is that NoBuild is using in places beyond the pack targets.

Fortunately for us we can remove it because we pack with NoBuild=true, so it's technically not a breaking change.

Note that if we remo

[2019-04-23 23:48] zenakuten commented on #8049
Yep as soon as I'm back at work tomorrow I'll send it.

[2019-04-24 00:25] dominoFire opened #8056 "Set NuGet.Build.Localization branch according to NuGet.Client branch in CI build"
The NuGet.Build.Localization contains all the strings used in the NuGet.Client artifacts. Those strings are localized in multiple languages.

Currently, the branch that is always picked up in the CI to build is the `master` branch in [NuGet.Build.Localization](https://github.com/nuget/nuget.build.localization) repository. To provide better flexibility when building different releases in the NuGet

[2019-04-24 00:48] nkolev92 commented on #7801
I hit some related issues while messing with the 3.0.0 SDK.

@peterhuene

The plan is the fix the issues for 3.0 only, correct?

We're nearing escrow for 5.1, and if this is 3.0 only then there's no need to try to argue for it in 5.1 escrow

[2019-04-24 01:05] peterhuene commented on #7801
That's correct, only 3.0 and landing in P6 would be fine.

[2019-04-24 01:28] joshlangs commented on #6279
I'm just here posting my interest in seeing this bug resolved.  It's BONKERS.  (finally, a proper scenario in which to deploy that word).

The analyzers are like a virus.

Everything we do is Async.  We shouldn't be forced into adding "Async" onto every method name on 100+ projects in a solution just because we use a nuget package with threading analyzers (StreamJsonRpc in this case).

[2019-04-24 02:03] marc-wilson commented on #4808
`dotnet pack` did it for me. My problem was the AzureDevOps Task that I was using was the Nuget step. Once I switched to use the dotnet core step instead, pack worked fine.

I'm on a mac if that matters (it's a local build agent).

[2019-04-24 10:59] Lemraj commented on #7310
@nkolev92 Thanks for your comment!
I had to use this "trick", otherwise I could not upgrade to 2.2.4 version.
I have done this before with other versions and there was no issue at all. This time I have downloaden all the .net core runtime and sdk and installed it. But still I can't upgrade to the latest version 2.2.4.

Any idea why?

[2019-04-24 11:54] zenakuten commented on #8049
I was wrong.

My directory structure has a 'packages' folder of other nuget projects in the root.  The \\\*\*\\\*.h must have been trying to pull in all of those headers as well.  There are 7500+ files under that folder.  After removing the packages folder the package is created successfully using the \\\*\*\\\*.h option.

[2019-04-24 11:57] #8049 closed, assigned to nobody

[2019-04-24 14:20] oakio commented on #7412
@nkolev92 Is any official cross-platform replacement for `NuGet.PackageManagement` package?
For example, I need `InstallPackageAsync` method from this package.

[2019-04-24 14:31] marxxxx commented on #5358
This was solving the issue for me as well. Also docker login to ACR is now working.

[2019-04-24 14:59] Zzarek commented on #3324
Did this get reintroduced in 5.0.0?

[2019-04-24 15:57] dtivel opened #8057 "Plugins: exception details lost during plugin creation"
If plugin creation fails, the exception details are lost [here](https://github.com/NuGet/NuGet.Client/blob/bd0c5fb12076a7f1678d825541a978caa4ac0bc0/src/NuGet.Core/NuGet.Protocol/Plugins/PluginManager.cs#L255).

Then, a "A task was canceled." error is reported with no callstack.

[2019-04-24 17:46] nkolev92 commented on #7310
@Lemraj
You shouldn't be upgrading these manually.
You shouldn't even be thinking of these as packages you control. Those are "frameworks".
You should let the SDK make that decision for you.

The way to "upgrade" is to update the SDK you are using.

[2019-04-24 18:25] #8019 closed, assigned to nkolev92

[2019-04-24 18:39] nkolev92 commented on #8057
That's a message that surfaces to the user.
Do we want the stack trace to face the user as well?

Probably need to enhance the creation result somehow to avoid showing the stack trace to the user.

[2019-04-24 18:44] Lemraj commented on #7310
@nkolev92 That is the way I always follow, but this time it didn't work!
I know that I shouldn't do this manually, but I am looking for the right answer to my answer!

Like I said, that is why I did this manually trick!

[2019-04-24 19:00] nkolev92 commented on #7310
@Lemraj I'd reach out to the dotnet/sdk folks to understnad which version should match which package.

In .NET Core 3.0, all these packages will be removed and the user will be "unable" to make any such decisions.

[2019-04-24 19:07] Lemraj commented on #7310
@nkolev92 Thanks! I will wait for your answer.

[2019-04-24 19:11] nkolev92 commented on #7310
Didn't mean to sound like I'll ask them question directly.

Please describe your scenario and file an issue with them at https://github.com/dotnet/sdk/issues/new.

[2019-04-24 19:12] Lemraj commented on #7310
fair enough! I will do that.

[2019-04-24 19:44] loic-sharma opened #8058 "Package Manager UI loads all registration pages"
## Details about Problem

Visual Studio's 2019's Package Manager UI is very slow to load packages with many versions. This happens because Visual Studio loads the metadata for all versions of the package immediately.

## Suggestion

Ideally, Visual Studio's UI should only do up to three requests:

1. Search for packages. The packages' list of versions should be generated using the [search results'

[2019-04-24 20:03] nkolev92 commented on #8058
Basically this proposal moves the initial load from taking the perf hit to the having the switching of versions take the perf hit.

What we perceive an average user behavior on the search page, should impact the decision here.

[2019-04-24 20:09] loic-sharma commented on #8058
This is not necessarily true. There will be absolutely no difference in performance if your package has less than 128 versions. If your package has more than 128 versions, you will have better initial load like you said. If you switch versions to a version that is on the same page as the latest version, you will see no perf hit. The only time you see a perf hit is if you switch to a version that i

[2019-04-24 22:03] #8055 closed, assigned to nkolev92

[2019-04-24 23:53] #7801 closed, assigned to nkolev92

[2019-04-25 00:03] nkolev92 commented on #7801
@peterhuene The first NuGet insertion into CLI/SDK that has 5.2.0 in the version will have this change.

I'll try to remember to ping you when that happens :)
Save bet is 3 weeks down the line.

[2019-04-25 00:05] nkolev92 commented on #7935
Safe to say, this won't make it in 5.1. :)

[2019-04-25 06:16] ckuetbach commented on #5972
dotnet nuget push mypackage.nupkg -k <API-KEY> will produce the same error, but how do I specify the nuget version wrapped bei dotnet?

dotnet nuget --version
NuGet Command Line
5.0.0.6

[2019-04-25 09:11] ghost commented on #8048
Would be great if newest NuGet command would work on mac/VS for Mac ;-)

[2019-04-25 10:42] thyn commented on #6795
vs19 same issue

[2019-04-25 14:28] dannoh commented on #8017
I was having the same issue. I had the .csproj file open in a tab, closing it fixed the issue.

[2019-04-25 16:17] Lemraj commented on #7310
@nkolev92
I have noticed that this issue is only related to xunit projects.

[2019-04-25 16:33] dtivel opened #8059 "Rebrand release-5.0.x branch to 5.0.2"

[2019-04-25 16:37] dtivel opened #8060 "Cherry-pick https://github.com/NuGet/Home/issues/7997 to release-5.0.x branch"
Cherry-pick https://github.com/NuGet/Home/issues/7997 to release-5.0.x branch.

[2019-04-25 17:35] #8060 closed, assigned to dtivel

[2019-04-25 17:37] anangaur commented on #2867
We are separating out the experience for Deprecating the packages and reporting vulnerabilities. This is because as we made progress on the spec and implementation, it felt more and more like we were merging separate experiences.

- Deprecation is a package publisher oriented feature that allows package publishers to inform the consumers to take off dependency of a given package.
- For vulnerabili

[2019-04-25 18:08] zivkan commented on #7276
After investigating the same kind of issue for another customer yesterday, I can recommend something that will work. In the next few days I plan to update the docs to make it clearer as well. To work with `PackageReference`, the assemblies listed in the `reference` section of the `nuspec` needs to be duplicated in the `ref/<tfm>` directory in the package. Therefore, using the original question as

[2019-04-25 18:34] nkolev92 opened #8061 "Should common.ps1 set DOTNET_HOME"
Does it add anything?

https://github.com/NuGet/NuGet.Client/blob/18fe04c84bc110fa153cfbceda07e81fe1429132/build/common.ps1#L206-L207

The yaml script won't necessarily use it?

[2019-04-25 18:44] #8059 closed, assigned to dtivel

[2019-04-25 19:19] #8011 closed, assigned to dominoFire

[2019-04-25 21:44] ericstj commented on #6091
Curious if you considered a bit in the nuspec metadata to indicate this behavior rather than forcing folks to copy their files into different directories.  Your spec calls out that folks essentially need to duplicate the buildTransitive folder anyhow to work with old clients/packages.config.  Seems to me like its a non-goal to enable folks to have different content in build and buildTransitive but

[2019-04-25 21:50] dtivel opened #8062 "Consume NuGet /embed assets group for interop type assemblies from NuGet package"
@jainaashish did some work to support package authors to influence when assemblies have EmbedInteropTypes set to true in projects that reference their package.  See:

* Issue:  https://github.com/NuGet/Home/issues/2365
* Spec:  [Embed Interop Types with PackageReference](https://github.com/NuGet/Home/wiki/Embed-Interop-Types-with-PackageReference
* PR:  https://github.com/NuGet/NuGet.Client/pull/2

[2019-04-25 22:09] nkolev92 commented on #6091
@ericstj

We did consider the nuspec option, but it would've led to an unenvious pack experience.

Having both build/buildTransitive imported was a non-goal at that point.

[2019-04-25 22:11] ericstj commented on #6091
What does "unenvious pack experience" mean?  If you can point me to that discussion I'll read up rather than rehash stuff here.

[2019-04-25 22:23] nkolev92 commented on #6091
It would've been contentFiles like, where there is still no way to configure all the switches like language.
The precedent with duplication played a role in the decision.

Not sure if/where that write-up is.
Not sure how much @jainaashish looks at GitHub these days to help with some pointers.

[2019-04-25 23:01] nkolev92 opened #8063 "Consider splitting the Functional Tests in 2 different groups to decrease the runtime of the tests."
The functional tests currently take about ~2 hours.
When we add a 3rd framework netstandard2.1/netcoreapp3.0 to test, they will become even longer.

We should look into optimizing the tests and/or splitting them in different phases.

//cc @NuGet/nuget-client

[2019-04-26 00:53] tmat opened #8064 "Adding a reference to source package depending on another source package"
## Details about Problem

VS UI:
![image](https://user-images.githubusercontent.com/41759/56776667-7eaa2500-6782-11e9-93ed-4a4a9903767b.png)

Worked before? If so, with which NuGet version:

No.

## Detailed repro steps so we can see the same problem

1. Create a .NET Standard 2.0 class library.
2. Add a package reference via VS UI to package `Microsoft.CodeAnalysis.Debugging` `3.2.0-beta1-19225-0

[2019-04-26 05:59] jainaashish commented on #6091
We indeed discussed multiple solutions while designing this feature and one such case was to introduce a flag in nuspec. All discussed solutions might still be there in Spec PR in Engineering private repo. But as far as i remember nuspec solution was not suitable for a) if you need both transitive and non-transitive build assets in a packae (which was a real usecase for some customers) and b) woul

[2019-04-26 06:03] jainaashish commented on #8062
NuGet doesn't own this repo, instead Project system does. Last I knew Juan owned it, you can check with Rob.

[2019-04-26 06:04] LightVolk commented on #7566
@nkolev92 , if this issue come again, i reopen this issue.

[2019-04-26 06:04] #7566 closed, assigned to nobody

[2019-04-26 10:07] v-luzh opened #8065 "The link “View License” in License Acceptance window can be tabbed to at the second time"
## Details about Problem
NuGet version: NuGet Client Release-5.1.x\5.1.0.5984
VS Version: D16.1stg\28825.240
OS: Windows 10 RS4_Release 17134.1.180410-1804
## Detailed repro steps
1. Open VS (in “Dark” theme) and create a C# Console App (.NET Framework) project.
2. Open PM UI of this project.
3. Select a package in “Browse” tab  (e.g. “NUnit”) and click "Install" button.
4. Click "OK" button in th

[2019-04-26 11:42] mrward commented on #7948
This is also affecting Visual Studio for Mac 8.1 with NuGet 5.0. It looks like a regression in NuGet 4.9 and 5.0.

Looking at the code the problem seems to be that source url is used as the element name that holds the credentials inside the packageSourceCredentials element. NuGet 4.8 and earlier use the package source name. This following bit of code looks wrong to me. It passes the Source to the

[2019-04-26 12:06] springy76 opened #8066 "on netcore some old PackageReferences report NU1701 (good) and others skip all compile items silently (BAD!)"
I'm creating a project targeting `netcoreapp3.0` (preview4) using VS 16.1.0 Preview 2.0.

I'm including 2 NuGet packages which only have libs for net45. While EntityFramework reports NU1701 as expected and works so far, the other one just is listed in `Dependencies\NuGet` node without any children or warnings at all; and nothing compiles since there is no DLL reference and no namespace to use.

Th

[2019-04-26 18:10] profan commented on #8017
Also running into the very same issue, however the csproj file being open in another tab does not seem to be the issue here, as I'd first restarted VS with the csproj file still there and tried again, afterwards restarted VS and then also closed the open csproj file and tried adding the packages again and building at that point, still the packages get removed upon build.

[2019-04-27 17:01] timotei commented on #7198
@nkolev92 OK, but I am thinking of the scenario that if I want to explicitly do a rebuild ignoring case, I should be able to do it, without having to wait X minutes for the cache to expire. Maybe I am missing something?

[2019-04-28 10:12] princeo911 commented on #7938
I would also like this to be reenabled. I use BAGet as a local repository as well as a local folder, I would eventually use just BaGet but I will need some time to transition the rest of the team, allowing ordering allows me to prove BaGet works fine and we can get rid of the folders as I feel BaGet is a very good nuget server for us. I  know I can remove the main nuget feed from the list, but I I

[2019-04-28 17:36] apobekiaris opened #8067 "Cannot use cli with a forward url"
when I try to push to http://lab.nugetserver.expandframework.com I get

[code]

When I try to list
[code]

VS package manager can list fine for the same url and my nuget server works fine if I use the original address https://xpandnugetserver.azurewebsites.net/.

[2019-04-28 22:53] Bartolomeus-649 commented on #6088
@nkolev92 The world is so much more complicated than you can imagine, and on top of that we have Murphy!

It's a bold and brave statement to make, to have such confidence and be so sure of yourself, that a situation **can not** occur where you would need to reinstall the nuget packages for a project, no matter what other software is installed, what hardware that might have crashed and rendered who

[2019-04-29 15:34] nkolev92 commented on #7198
@timotei

There are multiple caching strategies in place.
The no-op cache will always have a strategy to defeat it. See, rebuild today.
The http-cache on the other hand can't be bypassed, rather just cleaned. We're talking only about a very small minority of use-cases that will work better without the http caching.

However, I'd be in favor of adding switches to do that.

//cc @anangaur fyi.

[2019-04-29 15:49] anangaur commented on #7198
Don’t we already have a —no-cache switch already?

[2019-04-29 15:52] nkolev92 commented on #7198
We do.
I should've more specific.

The VS experience needs some thought.
The equivalent is more costly there, especially since it'd be difficult to disable caching for just that operation.

[2019-04-29 16:01] timotei commented on #7198
The use case is pretty simple: say, I merged something on a dependent library, and in my main project, where I reference the package via floating reference, I want to do a rebuild *now*, taking into account the newly deployed version. How can I do that from:

1) VS
2) command line build (e.g., building on CI/CD)

[2019-04-29 17:19] dominoFire commented on #8064
Hi @tmat,

When you're using PackageReference inside the .csproj file, only the main dependency is needed. In this case, because PooledObjects is a dependency of Debugging package but, not a dependency of your .csproj project, you only need to add the PackageReference to Microsoft.CodeAnalysis.Debugging.

It appears that the UI makes some confusion by showing that it will to install two packages t

[2019-04-29 17:52] tmat commented on #8064
The Debugging package depends on files from PooledObjects package, so both must be referenced by the project that references Debugging package.

[2019-04-29 17:56] rrelyea commented on #7994
Discussed an initial proposal with NuGet Leads on Friday.

[2019-04-29 17:59] heng-liu commented on #8045
The APIs are in netcoreapp2.1 :  https://github.com/dotnet/corefx/issues/34687
But not yet in netstandard2.1 :   https://github.com/dotnet/corefx/issues/36062

[2019-04-29 18:41] jmrnilsson commented on #8017
I'm experiencing this as well. Auto-removed on build or even before that it seems. Saving "before build" didn't change this behavior.

In Visual Studio 19.0.2 and before with the following combination in the solution:
- PackageReference
- .NetStandard2.0
- .NetFramework
- .NetCore 2.1

First with a package called Optional and now with Moq. Eventually Optional got installed. But I'm clueless to as

[2019-04-29 19:19] jmrnilsson commented on #8017
If I open "Manage Nuget package" then this happens on save and appends the following to the "Package Manager"-output. *I've cleared out project names*

[code]

[2019-04-29 19:44] jmrnilsson commented on #8017
I my case it was fixed by remove all the Nuget packages in .NetFramework-project, WinForms that didn't need any.

[2019-04-29 21:41] nkolev92 opened #8068 "Upgrade the agent pools and make the scripts VS version agnostic"

[2019-04-29 21:48] nkolev92 opened #8069 "Remove VS version specific scripts"
There are 2 palces that have exact VS version reference rather than a constructed on.

https://github.com/NuGet/NuGet.Client/blob/e59333e773bbc4fed97e5534fe88e25332ca04b0/scripts/cibuild/ConfigureVstsBuild.ps1#L102
https://github.com/NuGet/NuGet.Client/blob/e59333e773bbc4fed97e5534fe88e25332ca04b0/build/vsts_build.yaml#L31

These need cleaned up, so that future pool upgrades are seemless.

[2019-04-29 21:50] nkolev92 opened #8070 "Generate the artifacts in a different folder (not the VS15 titled one and change all scripts and build definitions)"
Follow up to https://github.com/NuGet/NuGet.Client/pull/2832.

The risk with doing this immediately is that the release definitions are not versioned with the code.
This change would also affect the vendors.

[2019-04-29 22:17] mwwhited commented on #6867
How about when your contract library is served from a Nuget repository and you need a way to have a development local version.  The hoops that must be jumped though are insane when all that would be needed is for the order of the repositories listed to be honored.

[2019-04-29 22:23] kfertitta opened #8071 "Custom CPS projects require AssemblyReferences project capability in order to restore."
Our custom project systems are built on CPS and use a project SDK to import our targets.  We also import the Microsoft common targets.  Ours are not .NET project types, but full-on custom projects which produce domain-specific (non-assembly) artifacts.  While we do require support for the `ProjectReferences` capability and need to see project references in the dependencies tree in Solution Explore

[2019-04-29 22:41] bergbria commented on #7503
@PatoBeltran / @rrelyea the problem is that there is no cross-process mutex on this block of code in the `LoadUserSpecificSettings` class:

                    if (!File.Exists(trackFilePath))
                    {
                        File.Create(trackFilePath).Dispose();
                        ...
                    }

This code is not concurrency-safe.

We encountered this break on build s

[2019-04-29 23:36] #8068 closed, assigned to nkolev92

[2019-04-30 00:12] rrelyea commented on #8067
I'm not quite following your details.

When I navigate to: https://xpandnugetserver.azurewebsites.net/  -- I see:

Are you following those instructions?
What is going wrong when you do?

[2019-04-30 00:19] nkolev92 commented on #7745
Test bug as well, PR is out. https://github.com/NuGet/NuGet.Client/pull/2833

Moving to 5.2, as there's no need to merge in 5.1 because the test is already disabled there.

[2019-04-30 13:04] carlowahlstedt commented on #7839
I confirm seeing this issue on macOS.

`dotnet restore` **doesn't** restore from a privately authenticated feed
`nuget restore` **does** restore from a privately authenticated feed

I initially setup the feed in VS for Mac but don't see it in `~/.nuget/NuGet/Nuget.Config`. However, running `nuget sources` does list the privately setup feed AND running `dotnet restore` does attempt to use the feed,

[2019-04-30 13:55] M3LiNdRu commented on #6209
Any update on this? Does anyone know if Microsoft is going to release a change?

[2019-04-30 17:22] dominoFire opened #8072 "Deprecation Mechanism for nuget.exe commands"
Some `nuget.exe` commands will be deprecated. We need something to mark as deprecated and show warning messages in proper places.

## Why not `Obsolete` c# attribute ?

- You cannot provide an alternative command with the message parameter.
- The message is almost the same for deprecation commands
- You cannot inherit the `Obsolete` to make your custom deprecation attributes

## Scenarios

Suppose

[2019-04-30 17:28] #7745 closed, assigned to nkolev92

[2019-04-30 17:32] JillGoodman commented on #3324
Is this still an open issue?  I ask, because I used nuget to install microsoft reporting services and I can't 'publish' the website.

is there a succinct work-around for this? tia. jill

[2019-04-30 18:52] nkolev92 commented on #7845
Moving to 5.2, and leaving this issue open for tracking.

[2019-04-30 18:53] rrelyea commented on #5299
This made it into 5.1 right? Any reason to keep it open?

[2019-04-30 20:14] anangaur opened #8073 "Lock file is not honored in "*" scenarios"
Sample repo: https://github.com/NuGetPlay/TestLockFile

## Steps:
1. New project with `RestorePackagesWithLockFile` set
2. Take a dependency on a package with ` * `
3. Restore project
   * The lock file will be generated with the highest version (say **1.0.0**) present on the package source(s).
4. Add a newer version of the package (say **1.1.0**) to the repository (preferably local to avoid cachi

[2019-04-30 23:21] nkolev92 commented on #8073
* 6
Isn't this by design? By deleting the obj folder you are defeating the no-op cache and forcing a full restore. The full restore will look at the sources again and update the lock file to contain what was restored locally.

* 7
This needs investigated.
I fixed a couple of things in 5.1, but looking at this, I don't think this scenario is affected by those bugs.

[2019-04-30 23:25] anangaur commented on #8073
6. is not by design. One of the problem statements was to be able to restore the same version with ` * ` again and again if the lock file has it and no input package references change.

[2019-04-30 23:42] nkolev92 commented on #8073
5.1 P4 has a few more days of M2 so if you want it in 5.1, bug @rrelyea early.
If not, it likely slips to 5.2

[2019-04-30 23:57] nkolev92 commented on #8073
Actually, I know the issue with 6 lol.

And probably that's what's causing 7 too.
In our version range normalization,

"" = "(, )"
"*" = "(, )"

Pretty sure it's the same root cause as https://github.com/NuGet/Home/issues/6697.

[2019-05-01 00:55] nkolev92 opened #8074 "Enable multiple versions for a PackageDownload via Version attribute"
Right now to declare duplicates users have to do:

[code]

This adds complexity on the CPS side as item names are frequently used as a unique identifier.

The proposed change is:

[code]

As part of this task, I will also update the spec.

fyi @rrelyea @nguerrera @davkean

[2019-05-01 02:57] apobekiaris opened #8075 "Downloads count of IPackageSearchMetadata"
Hi,

I using Nuget.Protocol.Core.v3.dll in a .NET Standard lib for my powershell cmdlets like.

[code]

the method works fine and can list all metadat, however for Nuget.org the DownloadsCount is null and for my custom Nuget.Server is -1. Is there a way to make it work with Nuget.Protocol.Core.v3.dll?

[2019-05-01 03:06] #1630 closed, assigned to donnie-msft

[2019-05-01 09:14] daveylad commented on #7967
is anyone looking at this or is it dead in the water ? @nkolev92 @kzu

[2019-05-01 10:02] jmrnilsson commented on #8017
Additionally I also experienced Uninstal, of TinyIoC in this case, getting rolled back when edit is open for a project in Sln.

[2019-05-01 11:13] miloush opened #8076 "Provide a disk clean-up option"
The NuGet cache should be listed in the Disk Clean-up entries. I am reaching low disk space every now and then while NuGet cache is happily eating gigabytes of unneeded data.

As far as I can tell from [Creating a Disk Cleanup Handler](https://docs.microsoft.com/en-us/windows/desktop/lwef/disk-cleanup#example-registration-of-a-disk-cleanup-handler), a simple registry entry might do without any cod

[2019-05-01 15:20] neman commented on #5874
This is what helped me https://github.com/Microsoft/artifacts-credprovider

[2019-05-01 17:18] #5299 closed, assigned to joelverhagen

[2019-05-01 17:28] rrelyea opened #8077 "5.0.2 Shipping Process"
- [ ] modify VS insertion PRs
- [ ] create sdk insertion PRs
- [ ] shephard sdk insertion PRs
- [ ] create cli insertion PRs
- [ ] shephard cli insertion PRs

[2019-05-01 17:29] dominoFire commented on #8017
Apologies for the late response.

I was unable to get a stable reproduction of this bug in Visual Studio. The closest problem I encountered was related to a ASP.NET core App that does not update the package reference in a project reference. This problem happens in VS 16.0.1 but not in our internal preview.

Inside the NuGet Package Manager, we interact with some Project System libraries to *nomina

[2019-05-01 17:29] #8017 closed, assigned to dominoFire

[2019-05-01 17:32] nkolev92 commented on #7967
@kzu would have info on that.

I'm on the NuGet.Client team, only the issues repo is shared.

[2019-05-01 18:07] nkolev92 commented on #8074
Moving this out to 5.2 as we don't expect anyone to be using the duplicates feature in 5.1 so we don't want to risk making the changes last second.

[2019-05-01 18:43] nkolev92 commented on #8054
Thanks for creating this @cilerler.

Do you know if this is a new behavior?

I'd imagine the problem is here, https://github.com/NuGet/NuGet.Client/blob/5b975f446808a318e0696c8c23cd2dd6b9aa817b/src/NuGet.Core/NuGet.Commands/RestoreCommand/SourceRepositoryDependencyProvider.cs#L211

Related https://github.com/NuGet/NuGet.Client/pull/2578.

I would imagine 2.2.10x line does not have this bug.

[2019-05-01 18:44] nkolev92 commented on #8054
@rrelyea This looks like a regression worth investigating.

[2019-05-01 19:02] heaths opened #8078 "Props and target files in build\native are not referenced in vcxproj"
## Details about Problem

NuGet product used: nuget.exe, "msbuild /restore" (16.x)

NuGet version: 4.9.3.5777

OS version: Win10 v1809

## Detailed repro steps so we can see the same problem

1. Add reference: `<PackageReference Include="rapidjson" Version="1.0.2" IncludeAssets="all" PrivateAssets="all" />`

2. Run: `nuget restore` on solution

The generated project.assets.json has solution-level

[2019-05-01 19:03] cilerler commented on #8054
@nkolev92 as long as I know it was there forever.
Moreover, you are probably right about the code location; and, I don't see any indication of filtering the unlisted ones.

[2019-05-01 20:27] nkolev92 commented on #8054
Quick check suggests that 2.1.500 does not have this bug, so I think my "educated guess" above is correct.
This is a regression.

[2019-05-01 20:28] nkolev92 commented on #8054
Unlisted ones are handled in different ways depending on the scenario. Unlisted versions are allowed in certain cases.

[2019-05-01 20:37] cilerler commented on #8054
Great, so, should I expect a fix soon? 😄

[2019-05-01 21:34] skofman1 opened #8079 "Encourage usage of nuget.org V3 API instead of V2"
## Details about Problem

When using new client tools (NuGet.exe | VS UI | Package Manager Console | dotnet.exe) but configuring nuget.org URL to be V2 (https://nuget.org/api/v2) users don't get new features that are V3 dependent:  blue checkmark, repo signing, symbol publishing, license expressions, deprecation, etc. They also don't take advantage of better perf and reliability.

We should get pe

[2019-05-01 21:44] nkolev92 commented on #8054
@cilerler

We will triage and come back to you when we know more.

[2019-05-01 21:46] nkolev92 commented on #8054
As a workaround you can always specify
`<PackageReference Include="Ruya.Primitives" Version="[1.0.471,)" />`

It will have the same meaning.

[2019-05-01 21:48] rrelyea commented on #8078
Vcxproj files don’t support packagereference.
It may work from command line, but it doesn’t work inside of VS.
Please ask the C++ to add such support, if you miss it.

As such, you likely need to remove them from directory.build.props, or change directory hierarchy so that it doesn’t impact the .vcxprojs

[2019-05-01 22:00] rrelyea commented on #4793
Pointers to some other customer requests for PackageReference in C++ projects:

-	https://visualstudio.uservoice.com/forums/121579-visual-studio-ide/suggestions/33909292-use-packagereference-in-vcxproj
-	https://developercommunity.visualstudio.com/content/idea/351636/use-packagereference-in-vcxproj.html
-	https://developercommunity.visualstudio.com/content/problem/50373/obtaining-nuget-packages-vi

[2019-05-01 22:01] rrelyea commented on #8078
Pointers to some other customer requests for PackageReference in C++ projects:
(not sure of best one)

-	https://visualstudio.uservoice.com/forums/121579-visual-studio-ide/suggestions/33909292-use-packagereference-in-vcxproj
-	https://developercommunity.visualstudio.com/content/idea/351636/use-packagereference-in-vcxproj.html
-	https://developercommunity.visualstudio.com/content/problem/50373/obta

[2019-05-01 22:42] heaths commented on #8078
I ended up conditioning my `ItemGroup` on a property I set in .vcxproj files that need the old _packages.config_ support. Most work fine with `<PackageReference>`, fully understanding it's not supported (but works well enough for those projects). I'll add my vote. Thanks!

[2019-05-01 22:42] #8078 closed, assigned to nobody

[2019-05-01 23:19] ericstj commented on #4717
Looks like this wasn't actually fixed.

[2019-05-02 00:00] txwizard commented on #4142
Where in the .csproj file does the above go?

[2019-05-02 02:01] RockNHawk commented on #5358
If in Linux, I was able to get restore working on my Solus box by first running
`export DOTNET_SYSTEM_NET_HTTP_USESOCKETSHTTPHANDLER=0`. Once I did that, dotnet restore worked.
[code]

[2019-05-02 02:01] RockNHawk commented on #2880
If in Linux, I was able to get restore working on my Solus box by first running
`export DOTNET_SYSTEM_NET_HTTP_USESOCKETSHTTPHANDLER=0`. Once I did that, dotnet restore worked.
[code]

[2019-05-02 06:53] eltjo-k commented on #4142
Example of a complete project file:
[code]

[2019-05-02 12:07] emz00 commented on #7842
I tried the plugin attached to https://youtrack.jetbrains.com/issue/TW-59974 but still got the same error. :(

[2019-05-02 13:37] ericstj opened #8080 "Breaking change in IObjectWriter"
Members were added to a public interface in this commit: https://github.com/NuGet/NuGet.Client/commit/32d984b377fef71ea20cf47da26e678c67883879#diff-80bb91cd6c8952511294d414a7e387b4

That's a breaking change for anyone implementing that interface.  I hit it in my build task used by CoreFx to generate runtime.json: https://github.com/dotnet/arcade/pull/2664/files

Typically the way you avoid this is

[2019-05-02 14:26] Rahkola commented on #4234
I'm having the same issue when building in Azure DevOps and using GitVersion task in my build pipeline. I would assume that it's related and points out to the issue with the AssemblyInformationalVersion generated by GitVersion.

NuGet Version: 4.1.0.2450
Assembly Informational Version 12.2.2-beta.1+1.Branch.hotfix/12.2.2.Sha.15e4cc6e6d3b9da9d03449b6d62f282a502bcb73

**Edit**
Confirmed that the iss

[2019-05-02 14:28] watfordgnf commented on #7669
@dtivel I've reached out via my work account. Sorry for the delay.

[2019-05-02 15:22] StingyJack commented on #6870
I addressed this for myself by creating [this script](https://github.com/StingyJack/Vs-Utility/blob/master/Update-BindingRedirect.ps1).

It would be great if Add-BindingRedirect was present and available outside of the PM Console in VS.

[2019-05-02 15:37] relair commented on #7251
I had same issue with Selenium WebDriver 3.141.0 and oddly enough when getting it by itself via `nuget install Selenium.WebDriver -Version 3.141.0 -Source https://api.nuget.org/v3/index.json ` it works. Since it is then cached it sort of resolved the issue for now.

[2019-05-02 17:24] dtivel opened #8081 "Consider logger method which logs an exception"
See https://github.com/NuGet/NuGet.Client/pull/2838#issue-275449513 for details.

[2019-05-02 17:54] anangaur commented on #8073
Not sure. Do we even look at the lock file to do a restore when no obj folder exists? If not, that would be the main culprit.

[2019-05-02 17:57] anangaur opened #8082 "nuget.config changes should be refreshed on clicking the refresh button"
Today, if I make changes to nuget.config like adding/removing new nuget.configs in the hierarchy or make changes by directly editing the files in or out of VS or using dotnet.exe, the changes are not reflected in the effective configurations especially the sources list.

There is a refresh button today for refreshing the package list. On clicking that, the nuget configurations do not get refreshed

[2019-05-02 18:14] donnie-msft opened #8083 "SkipDuplicate warning frequency for v2 file system pushes"
## Details about Problem
I recently added the -skipduplicate option to NuGet.exe which works differently depending on v2/v3 file system pushes and server pushes. The v2 file system push is special because it already overwrites duplicates without an error, therefore if a user specifies it in that situation, I output a message that says we ignored it. Currently that repeats for every push (1, 10, or

[2019-05-02 18:25] zivkan commented on #8083
my vote is that the command errors out before attempting to push anything.

[2019-05-02 18:27] nkolev92 commented on #8073
We do.

You were right about 6. I think it's going to restore the same version again and again (haven't tested, but I'd imagine something like "1.*" would work).

A culprit is definitely the fact that `*` does not round trip.

[2019-05-02 18:33] nkolev92 commented on #8083
I don't see value in having the same exact warning appear 100 times.

It's an input warning that talks about the feed capability/type, not the package being pushed, so there's no need to warn for every single package push.

[2019-05-02 19:41] nkolev92 opened #8084 "Improve the ATF is used warning message"
The ATF warning message is pretty bad when multiple ATFs are specified.
It's not super obvious which one was picked.

At the least change the ordering.

https://github.com/dotnet/sdk/issues/2425

[code]

https://github.com/dotnet/sdk/issues/2425#issuecomment-488803184

[2019-05-02 21:14] jmrnilsson commented on #8017
I believe this to be resolved in v.19.0.3. This no longer happens for the believed reproduction I had before.

[2019-05-02 21:29] dtivel commented on #7842
Echoing [@ColinM9991's comment](https://github.com/nuget/home/issues/7842#issuecomment-478346330), NuGet should report more context when this error occurs.  With a sufficient logging verbosity level, NuGet should report exception callstacks, but I have identified several bugs which prevent callstacks from being logged in NuGet releases that you're using.

I plan on improving error reporting for Nu

[2019-05-02 21:39] donnie-msft opened #8085 "Fix build on SxS pool which doesn't support C#8 feature"
Fix build on SxS pool which doesn't support C#8 feature with named parameters earlier than the last parameter in the list.

[2019-05-02 22:30] StarkeyKy opened #8086 "PackageReferences package dependencies ignore contentFiles's copyToOutput"
Remove the content above here and fill out details below.

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
NuGet.exe -  4.9
VS UI - 15.9.11

NuGet version (x.x.x.xxx): 4.9.3.5777

VS version (if appropriate): 15.9.11

OS version (i.e. win10 v1607 (14393.321)): Win 10

Worked before? If so, with which NuGet version: No

## Detailed repro step

[2019-05-02 22:37] #8054 closed, assigned to nkolev92

[2019-05-02 23:10] #8085 closed, assigned to donnie-msft

[2019-05-02 23:15] #8029 closed, assigned to nkolev92

[2019-05-03 02:15] anangaur opened #8087 "[Epic] NuGet Package Vulnerability Auditing"
The NuGet team is following a know, prevent, fix framework to be proactive and take preventive measures to avoid security problems such as known vulnerabilities. This can be described as the following:

1. Know about the vulnerabilities in your software
2. Prevent the addition of new vulnerabilities
3. Fix or remove vulnerabilities.

The following work below represents each of these categories.

#

[2019-05-03 02:20] anangaur commented on #2867
The [spec ](https://github.com/NuGet/Home/wiki/Deprecate-packages)has been updated to reflect the `Deprecation` feature and `Vulnerability` aspect has been moved out to a separate feature: [Security] Flag vulnerable packages #8087

[2019-05-03 03:55] #8057 closed, assigned to dtivel

[2019-05-03 05:13] KuldeepVinod opened #8088 "Issue with the installation of nuget package - VS 2017 Enterprise + Asp.Net Web Application (.Net Framework) Empty Project + .Net Framework 4.7.1 + Used Package Reference for NuGet management"
NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe

NuGet version (x.x.x.xxx):  3.3.0

dotnet.exe --version (if appropriate):

VS version (if appropriate): VS 2017 Enterprose

OS version (i.e. win10 v1607 (14393.321)):  Windows 10 Enterprise

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

1. Created new

[2019-05-03 08:02] emz00 commented on #7842
Thanks @dtivel. Yes, I've only seen this happen in TeamCity. We are not using NuGet plugins.

[2019-05-03 12:28] dcumin39 commented on #4103
What is the dotnet equivalent of this:
`nuget update {mysolution}.sln -Source LocalFeed -PreRelease`

Alternatively something like this:
`nuget update *.csproj -Source LocalFeed -PreRelease`

[2019-05-03 14:36] zippy1981 opened #8089 "nuget restore /verbosity INVALID_VALUE gives a bad error"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (4.9.3):
OS version (i.e. win10 v17134):

Worked before? If so, with which NuGet version:
No

## Detailed repro steps so we can see the same problem

1. open a comman line
2. cd to someplace where `nuget restore will work` e.g a Visual Studio solution directory
3. Type `nuget res

[2019-05-03 14:36] dtivel opened #8090 "Test: flaky plugin tests"
https://github.com/NuGet/NuGet.Client/commit/06903595bc47328222a882be9346660b11a7cc00 introduced 2 bugs ([here](https://github.com/NuGet/NuGet.Client/commit/06903595bc47328222a882be9346660b11a7cc00#diff-3eddcf79cd5a584a191f9f68d2d1d61aR270) and [here](https://github.com/NuGet/NuGet.Client/commit/06903595bc47328222a882be9346660b11a7cc00#diff-3eddcf79cd5a584a191f9f68d2d1d61aR410)) which cause test f

[2019-05-03 15:21] amybingzhao opened #8091 "Nuget restore does not update packages.lock.json when uninstalling a package"
## Details about Problem

NuGet product used: NuGet.exe, VS UI
NuGet version (x.x.x.xxx): 4.9.4.5839
MSBuild version: 15.9.21.664
VS version (if appropriate): VS 2017 (Professional Edition)
OS version: windows 7

## Detailed repro steps so we can see the same problem

1. In a project using the dotnet core SDK csproj, confirm that a packages.lock.json file exists and that the csproj has <RestorePac

[2019-05-03 15:31] StarkeyKy commented on #8086
So after hours of trying to understand everything, we figured that the documentation probably needs to be updated.

The answer from https://github.com/NuGet/Home/issues/7153 is right that contentFiles are private and need to be specified in the package that consumes it. So for the example up above, we need to update the Awesome package with the include tag going from:
`<dependency id="Awesome.Asse

[2019-05-03 16:12] StarkeyKy commented on #8086
To continue the craziness, if you do the above with multiple layers of NuGet packages, you get even worse results. For example, if you have package A --> package B --> Package C with contentFiles, and tell package B to include the contentFiles. When your project makes a packageReference to package A you lose the information from package B and C and don't get your assets again. If package C had bot

[2019-05-03 17:30] #8090 closed, assigned to dtivel

[2019-05-03 17:35] dtivel opened #8092 "Restore: investigate no-op restore performance"

[2019-05-03 17:40] nkolev92 commented on #8091
Thanks for creating this issue.

This is a duplicate of https://github.com/NuGet/Home/issues/7930, which we have fixed in 5.1 release, which is matching the 16.1 release of Visual Studio.

A quick explanation about what you are seeing.

At this point, after the bug fix, it will update the lock file.

Since you are using a lock file and you have no changed anything in your project, nothing should b

[2019-05-03 17:40] #8091 closed, assigned to nobody

[2019-05-03 17:41] nkolev92 commented on #7930
Customer report https://github.com/NuGet/Home/issues/8091.

[2019-05-03 17:48] anangaur commented on #7930
This seems like a 4.9.x candidate as discussed.

[2019-05-03 19:27] wtgodbe opened #8093 "GetReferenceNearestTargetFrameworkTask should support suppression of NU1702"
## Details about Problem

https://github.com/NuGet/NuGet.Client/blob/8abf12ddde3be7bc52727f9551735fdeee7ade43/src/NuGet.Core/NuGet.Build.Tasks/GetReferenceNearestTargetFrameworkTask.cs does not read NoWarn from the project referenced (or anywhere else), so any project trying to suppress NU1702 can't do so.

NuGet product used: dotnet.exe

dotnet.exe --version (if appropriate): 3.0.100-preview4

OS

[2019-05-03 20:09] ericstj commented on #8093
This is the AssetTargetFallback warning on ProjectReferences.  It can be suppressed on PackageReference, but not on ProjectReference.  The new SDK has started emiting this warning and those who treat warning as error are encountering a build failure.

[2019-05-03 21:38] nkolev92 opened #8094 "4.9.x / Visual Studio 15.9.x servicing considerations"
A list of issues to be considered for servicing in 15.9.x

Bugs:
- [ ] https://github.com/NuGet/Home/issues/8019 - Packages Lock File - regenerate lock file when project graph changes
* Original release version: 5.1
* Other reports:
- [ ] https://github.com/NuGet/Home/issues/7930 - Lock file not updating when package references removed
* Original release version 5.1
* Other reports: https://github

[2019-05-03 21:42] nkolev92 commented on #8054
@cilerler

This will be in:
5.1 of NuGet
16.1 of Visual Studio
2.2.300/ 2.1.700/ 3.0.100-preview6 of the SDK.

[2019-05-03 21:43] nkolev92 commented on #7930
@anangaur Created https://github.com/NuGet/Home/issues/8094 with a list of servicing considerations, currently assigned to you, Rob + the authors of the fixes/features in the original milestone.

[2019-05-03 22:15] zivkan opened #8095 "Improve NuGet's Visual Studio Error List capability"
NuGet has an error list table entry class which has one field for the project file, then uses it to display both the file reporting the error/warning and also the project name.

https://github.com/NuGet/NuGet.Client/blob/6cc142020184381664b5c0b4e4298fa1d3ef2118/src/NuGet.Clients/NuGet.VisualStudio.Common/ErrorListTableEntry.cs#L96-L115

This prevents us from

1. reporting the actual file that has

[2019-05-03 23:06] dtivel opened #8096 "Test: telemetry tests are flaky"
Telemetry functional tests are flaky.  The reason is that [`ITelemetrySession.PostEvent(...)`](https://github.com/NuGet/NuGet.Client/blob/dev/test/NuGet.Core.Tests/NuGet.PackageManagement.Test/NuGetPackageManagerTests.cs#L6612) is called from multiple threads but `List<T>` is not a thread-safe collection.  This leads to test failures like:
[code]
...and:
[code]

[2019-05-03 23:13] dtivel opened #8097 "Test: NuGet.Tests.Apex.NuGetUITestCase.InstallPackageToProjectsFromUI timed out"
In build 5.2.0.7171 test `NuGet.Tests.Apex.NuGetUITestCase.InstallPackageToProjectsFromUI` timed out:
[code]

[2019-05-04 00:28] shubham90 commented on #7845
Thanks for fixing this. I will wait for dotnet docker to update their version of dotnet to 2.1.700 to verify if this is fixed. I am still not able to repro this locally.

[2019-05-04 02:06] #8096 closed, assigned to dtivel

[2019-05-04 18:14] kennedyjosh commented on #2617
This issue just occurred for me in VS2017. Workaround is to copy paste the below into the aforementioned nuget.config file:
[code]

[2019-05-04 22:30] johnknoop commented on #7341
I'm also seeing this intermittently on Azure Devops.

@nkolev92 are those version numbers of .NET Core? If so, how do I set which version to use with that precision? I'm only aware of how to choose the major and minor version, using the csproj file (`<TargetFramework>netcoreapp2.2</TargetFramework>`).

[2019-05-05 12:02] StingyJack commented on #7649
@GanesanRengasamy - what you are seeing is how NuGet always has behaved. While it does do a check to see if the package you are removing or any of its dependencies are needed by other packages, it does not remove dependencies when the only package that references those is removed (unless you check the box in the UI options).

![image](https://user-images.githubusercontent.com/15381181/57193661-982

[2019-05-05 15:45] zivkan commented on #7649
@GanesanRengasamy, @StingyJack's answer is correct, this is how packages.config has always behaved and is therefore expected behaviour. The reason is that packages.config projects don't have the concept of direct vs transient dependencies. All NuGet dependencies are listed in a flat list.

Imagine one of your dependencies has a security vulnerability, so you update it to a fixed version. But later

[2019-05-05 15:45] #7649 closed, assigned to nobody

[2019-05-05 19:45] infin8x commented on #4126
We'd love to see this feature added so we can streamline the process of setting up and using an Azure Artifacts private NuGet feed.

[2019-05-05 23:34] jcapellman commented on #4126
Agreed - if it's not on the radar, I could help out on this as well.  As my team moves more and more to cross-platform .NET Core it would be great to have it.

[2019-05-06 00:09] EmilAlipiev commented on #7542
Did you find a solution for that? i think that you should move your issue to Visual Studio github repository issues. it is not probably related to Nuget but more Visual Studio and msbuild

[2019-05-06 00:15] EmilAlipiev commented on #7542
quick solution here. just right click on your project file and edit it. there 2 versions
`    <PackageVersion>1.0.1</PackageVersion>`

and
`  <Version>1.0.1</Version>`

Looks like PackageVersion is used to generate nuget version but VS settings are updating Version tag. I have no idea what is it for. It still an issue with VS and please move it to VS issues.

[2019-05-06 02:26] randy-torres commented on #6242
Hi!
Is there any update on fixing this? This is still happening on VS2017 Enterprise.

[2019-05-06 09:07] Peter-Optiway commented on #7842
I just got this error with `Verbosity` set to `Detailed`.

*dotnet --info:*
[code]

But the log does not contain a stacktrace.

No environment variable named `NUGET_PLUGIN_PATHS` seems to exist on the agent.

The log is huge, is there some part of it you want me to post?

[2019-05-06 12:27] khellang opened #8098 "Shorten PackageReference XML for DevelopmentDependency packages"
Today, installing a package with `developmentDependency` set to `true` results in the following XML:

[code]

This is quite a lot of "stuff" and is pretty hard to write manually. This came up when adding https://github.com/NuGet/NuGetGallery/pull/7124, which will now show the XML in the NuGet gallery:

![NuGet Gallery](https://user-images.githubusercontent.com/582487/57062675-2367bd80-6cc1-11e9-95

[2019-05-06 15:31] AArnott commented on #3600
Just hit this with nuget.exe 4.9.2.5706 after adding this local package source that accidentally retained `protocolVersion="3"` from another line:
[code]

MSBuild auto-detection: using msbuild version '16.1.68.42340' from 'C:\Program Files (x86)\Microsoft Visual Studio\2019\Preview\MSBuild\Current\bin'.
Restoring packages for C:\Users\andarno\source\repos\SampleServiceHubUser\SampleServiceHubUser\

[2019-05-06 15:32] joelverhagen commented on #8081
Also consider the Microsoft.Extensions.Logging approach where there is an overload that accepts an `Exception` in addition the the existing parameters. This allows you to associate an exception instance with all of the other log metadata (most notably message) instead of having to do back to back log statements for this.

[2019-05-06 15:47] joelverhagen commented on #8067
I think the point is that if you push to a URL that redirects to something else, you get an error. If you inspect the first endpoint he mentioned, it redirects.

[code]

However, @apobekiaris, it looks like the first URL (before the redirect) returns 403 when you `PUT` to it.

[code]

[2019-05-06 15:49] joelverhagen commented on #8067
Concerning `list`, can you provide the exact command you are using? This following command worked okay for me:

[code]

[2019-05-06 16:33] dtivel opened #8099 "Plugins: connection tests are flaky"

[2019-05-06 17:20] rcholic commented on #6242
I also ran into this problem a few days back, and there's no solution yet(?) thanks

[2019-05-06 18:17] donnie-msft opened #8100 "`dotnet.exe nuget push` command now supports -skipDuplicate like nuget.exe did."
## Details about Problem
Related Issue: https://github.com/NuGet/Home/issues/1630

In the related issue, NuGet.exe push was given a new option, -SkipDuplicate. This option needs to be made available in DotNet.exe nuget push as --skip-duplicate.

NuGet product used: dotnet.exe

[2019-05-06 18:30] nkolev92 commented on #7341
@johnknoop

That's the .NET Core SDK version. It's what allows you to build the application.
The TargetFramework is about where it can run.

It's something you need to update on the specific machines (Azure Pipelines has an install task + you can use global.json to pin the SDK version).

Hope the following resources help.

https://docs.microsoft.com/en-us/dotnet/core/sdk
https://docs.microsoft.com

[2019-05-06 19:20] formiaczek commented on #6242
Hint for a workaround: This does not happen when the old version of the package(s) is restored prior to the upgrade:in such case references are correctly updated.. Seems like the bug was somwhere around code that tries to verify the old package and if not there (in packages) simply gives up, and a new (duplicate) reference is being added..

[2019-05-06 19:45] rchande opened #8101 "Package restore in VS can't restore compile content files"
Please read the following information before posting the issue.
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (x.x.x.xxx): *5.1.0*

dotnet.exe --version (if appropriate): *3.0.100-preview3-010431* or * 2.2.102*

VS version (if appropriate): 16.1.0 Preview 3
Worked before? If so, with which NuGet version: 4.6.0

## Detailed r

[2019-05-06 19:45] rchande commented on #8101
cc @colombod

[2019-05-06 20:36] #8099 closed, assigned to dtivel

[2019-05-06 21:12] mpreyskurantov commented on #7437
As a temporarily workaround, I have extracted the necessary AssemblyInfo attributes to the *.nuspec file manually and use it when building the *.nupkg:

Instead of:

`nuget pack ClassLibrary1.csproj`

Use:

`nuget pack ClassLibrary1.nuspec`

However, this requires manual synchronizing the changed AssemblyInfo attributes in the *.nuspec every time.

[2019-05-06 21:14] donnie-msft commented on #8089
dotnet.exe handles this more gracefully, but doesn't show usage info for verbosity.
[code]
Required argument missing for option: --verbosity
Usage: dotnet restore [options] <PROJECT>

[2019-05-06 21:26] dtivel opened #8102 "Test: flaky telemetry test"
`NuGet.PackageManagement.UI.Test.PackageItemLoaderTests.EmitsSearchTelemetryEvents` is flaky because `NuGet.Common.INuGetTelemetryService.EmitTelemetryEvent(…)` is called from multiple threads; however, `List<TelemetryEvent>` is not thread-safe.
[code]
Related to https://github.com/NuGet/Home/issues/8096.

[2019-05-06 21:37] dtivel commented on #7842
@Peter-Optiway, NuGet 5.1 has not been released yet, so you won't see callstack fixes yet.  I'll update this thread when it has been.

The latest release is [5.0.0](https://docs.microsoft.com/en-us/nuget/release-notes/nuget-5.0-rtm).

I don't need to see your full log.

Thanks for checking for the `NUGET_PLUGIN_PATHS` environment variable.  There are folders under `%UserProfile%/.nuget/plugins`?

[2019-05-06 21:38] #7840 closed, assigned to zivkan

[2019-05-06 22:41] #8102 closed, assigned to dtivel

[2019-05-07 05:12] #8088 closed, assigned to nobody

[2019-05-07 07:03] balab2020 opened #8103 "Nuget 4.9 floating version package does not upgrade even /p:RestoreLockedmode=false"
## Details about Problem

I have upgraded to PackageReference reference feature to all my feature project. All I wanted to do is, have lock file generated and checked in with develop, release & master branches with floating versioned package references.

Develop : will use latest version of package floating using /p:RestoreLockedmode=false;.
master & release: will use locked version of package flo

[2019-05-07 08:14] balab2020 commented on #8103
**packages.lock.json content**

[code]

**csproj content**
[code]

[2019-05-07 10:05] balab2020 commented on #8103
**Msbuild Verbose logs**

`msbuild /t:clean,restore,rebuild /p:RestoreLockedmode=true -verbosity:d`

[msbuild.log](https://github.com/NuGet/Home/files/3152014/msbuild.log)

[2019-05-07 10:13] balab2020 commented on #8103
`msbuild /t:clean,restore,rebuild /p:RestoreLockedmode=false`

[msbuild.log](https://github.com/NuGet/Home/files/3152041/msbuild.log)

[2019-05-07 10:26] turowicz commented on #7050
@nkolev92 this is not about where to put conditions in, this is about the ability to pass a configuration or any other variable to the `dotnet restore` command, as it is possible in the `dotnet build`. In my case `dotnet build -c Release` restores correctly with the `Configuration` condition, while `dotnet restore` seems to be restoring without `Configuration` condition evaluation.

[2019-05-07 12:36] balab2020 commented on #8103
Sorry for the confusion. It is working as intended. I am wrong :(, closing this.

[2019-05-07 12:36] #8103 closed, assigned to nobody

[2019-05-07 17:21] rrelyea opened #8104 "Final 5.1.0 insertion and shipping"
5.1.0.6013 Build
ReleaseId via AzDO: [322942](https://devdiv.visualstudio.com/DevDiv/_releaseProgress?_a=release-pipeline-progress&releaseId=322942)

- [x] Shepherd insertions into VS-16.1.0-preview4-- inserted via the setup/msbuild/nuget joint insertion

- [x] Shepherd insertions into SDK
https://github.com/dotnet/sdk/pull/3217  -- sdk release/2.2.3xx branch
https://github.com/dotnet/sdk/pull/321

[2019-05-07 17:24] donnie-msft opened #8105 "5.1.0 prev 3 shipping"
- [x] Ship 5.1.0 prev 3 nuget.exe
- [x] Ship packages

[2019-05-07 19:01] bichuga commented on #7868
To summarize, even with the condition "false", the package will be imported.

    <Project Sdk="Microsoft.NET.Sdk">
      <PropertyGroup>
        <OutputType>Exe</OutputType>
        <TargetFrameworks>netcoreapp3.0;netcoreapp2.2;net472</TargetFrameworks>
        <Platforms>x64;x86</Platforms>
      </PropertyGroup>
      <ItemGroup Condition="false">
          <PackageReference Include="MyPackage"

[2019-05-07 19:32] rchande commented on #8101
@donnie-msft Can you help me understand when this is going to be fixed? This is a regression from Dev15.

[2019-05-07 20:58] livarcocc opened #8106 "Add an msbuild property that indicates that PackageDownload is supported"
Property:

[code]

cc @dsplaisted @nguerrera @nkolev92

[2019-05-07 21:46] donnie-msft commented on #8101
@rchande, I tried to repro this with VS 16.1.0 Prev 3.0, NuGet 5.1.0, and had no problem getting the content files to show up in my projects.assets.json using VS Restore. Resulting JSON shown below.

Are there further details you can provide? Is there a shareable NuGet package, or can you provide a list of all the content files that were in your package? I made some assumptions based on the assets

[2019-05-07 22:04] dtivel opened #8107 "Test: there are duplicate protocol tests"
[code]

[2019-05-07 22:11] zivkan opened #8108 "Ensure all projects use the same version of Newtonsoft.Json"
Several `src\NuGet.Client` projects were getting `Newtonsoft.Json` version 10 from transitive NuGet dependencies, but the compiled assemblies are getting assembly references to it. Since we bundle `Newtonsoft.Json.dll` 9 in our VSIX, depending on what workloads and components are installed with Visual Studio, it's possible that no `Newtonsoft.Json` 10 is installed, causing assembly load failures.

[2019-05-07 23:00] rchande commented on #8101
@donnie-msft I sent you mail

[2019-05-07 23:05] zivkan opened #8109 "Remove Newtonsoft.Json reference from NuGet.PackageManagement.VisualStudio"
While testing 5.1 insertion in VS, NuGet package manager UI failed due to being unable to load Newtonsoft.Json version 10.

For now we'll remove the dependency, and try to fix the issue later with #8108

[2019-05-07 23:47] #8109 closed, assigned to zivkan

[2019-05-08 00:09] nkolev92 commented on #7050
dotnet build implicitly invokes restore.
The implicit restore is exactly the same as the dotnet restore command.

Restore does not evaluate based on the Configuration pivot.

So `dotnet restore`, `dotnet restore /p:Configuration="Release"` `dotnet build`, `dotnet build -c Release` will all run the same restore.

You can verify that by consecutively running all these commands and seeing that the ti

[2019-05-08 00:29] donnie-msft commented on #8101
@rchande Using the package you e-mailed, I am unable to reproduce the problem you're describing. I've tried both using the Package Manager UI and the Console.

If you create a brand new Net Standard project, does the problem exist there? Also, what package source are you using, and do you have multiple sources that could have a conflict with this package?

[2019-05-08 01:00] nkolev92 commented on #8108
Once the bugs we fixed for lock files make in production, we can just add lock files for our projects.

Another option is to add a post-build/post restore step that looks at all the assets file and errors the selected newtonsoft.json version is not 9.0.1.

[2019-05-08 01:03] nkolev92 opened #8110 "Add MSBuild /t:pack / restore tests."
For some scenarios (see https://github.com/NuGet/NuGet.Client/pull/2850), dotnet restore and nuget.exe restore tests are insufficient.
nuget.exe doesn't play well post-pre restore msbuild tasks.
dotnet.exe cannot build/restore every project type in the world (for obvious reasons).

An example bootstrap script I use locally.

[code]

[2019-05-08 01:32] Aaronontheweb opened #8111 ".NET Core global tool package signature failure: local file header is corrupt"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (x.x.x.xxx): 4.9.2

dotnet.exe --version (if appropriate): 2.2.103

VS version (if appropriate): 15.9.20+g88f5fadfbe

OS version (i.e. win10 v1607 (14393.321)): Win 10

Worked before? If so, with which NuGet version: Not with this project, but worked with other .NET Core global t

[2019-05-08 01:45] rrelyea commented on #8111
@heng-Liu @dtivel @rido-min

Started via twitter conversation including Oren and Rob

[2019-05-08 01:48] clairernovotny commented on #8111
Possibly relevant -- the signing code itself is executing on .NET Core (2.2 in this case). There are virtually no code changes from the `dev` branch to enable this, mainly just ensuring that the right `ifdef's` get used:

Here's the changes from `dev` that the signing code uses:
https://github.com/NuGet/NuGet.Client/pull/2545

[2019-05-08 01:58] dominoFire opened #8112 "locals command description in nuget.exe and dotnet.exe differ"
## Details about Problem

NuGet product used NuGet.exe | dotnet.exe

NuGet.exe 4.9.4.5839
dotnet.exe: .NET Core SDK (3.0.100-preview4-011223)

Worked before? Yes, at some point in 2016 (commit id: 6f3ae2d59140f5ea97eb7573535de1c286d6d336)

## Detailed repro steps so we can see the same problem

1. Run `nuget.exe`

[code]

2. Run `dotnet.exe nuget`

[code]

### Expected

Both command descriptions s

[2019-05-08 03:22] nkolev92 commented on #8098
That was discussed somewhat in the original issue, among other options :)

https://github.com/NuGet/Home/issues/4125

Development Dependency itself is flawed in the multi assets world of PackageReference.
Personally I would've rather seen a new item type for dev dependencies.

Regardless, feel free to go through the  comments there, but the gist is that having many switches that mean the same thin

[2019-05-08 09:43] kinkoazc commented on #1739
It's a pity that this option is missing. For those who really want to get results sorted by some package parameter(title, downloads, etc.) a basic query flow could be:
1. Access [https://www.nuget.org/packages](https://www.nuget.org/packages) and use your search term to get the total number of packages matching your criteria(you can use it in step 2, when querying for packages using the API).
2. G

[2019-05-08 12:51] turowicz commented on #7050
I've found a workaround with:

`RUN dotnet msbuild /t:restore /p:Configuration=Release src`

It really does evaluate the condition and references the right package. In Debug I reference a nuget package while in Release I point to a localy compiled dll.

[2019-05-08 12:52] turowicz commented on #7050
Additionaly, for people running Docker, it is very important that the `restore` is a separate command from `build`. In that scenario build is invoked with `--no-restore` flag.

[2019-05-08 16:40] #8107 closed, assigned to dtivel

[2019-05-08 19:22] dtivel opened #8113 "NuGet assembly versions should be consistent"
After adjusting the Visual Studio installation path (on the first line below) as necessary, execute the following PowerShell script:
[code]
Sample output:

Assembly | Assembly Version | File Version | Product Version
--- | --- | --- | ---
NuGet.Build.Tasks | 5.0.0.6 | 5.0.0.5917 | 5.0.0-rtm.5917+f2696527402305a7d7e51ca2aab1dc1c704d7c68
NuGet.Commands | 5.0.0.6 | 5.0.0.5917 | 5.0.0-rtm.5917+f269652

[2019-05-08 19:34] nkolev92 opened #8114 "Don't lowercase projects with custom assembly names in packages lock file"
See the broken test.
RestoreNetCore_PackagesLockFile_CustomAssemblyName_DoesNotBreakLockedMode

https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=2652493&view=ms.vss-test-web.test-result-details
Also see:
RestoreNetCore_PackagesLockFile_LowercaseProjectNameSolutionRestore

//cc @zivkan @rrelyea

[2019-05-08 21:28] dtivel commented on #6007
Instrumented assemblies are not getting loaded because Visual Studio is loading some NuGet assemblies using `Assembly.LoadFrom(...)`, which doesn't check for instrumented assemblies.  This work item is effectively blocked on internal work item 677891, which involves moving from [ProvideBindingPath](https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualstudio.shell.providebindingpathattribute

[2019-05-08 21:38] nschwerzler opened #8115 "NuGet.exe pack causing a file probe of everything in in the file src directory"
## Details about Problem
NuGet probes all files in a referenced files directory. This causes many violations in our cache-able build system.

In the nuspec we will have something

  <files>
    <file src="myDirectory$\foo.lib" target="content\$SdkLibPathDest$" />
  </files>

**Actual**: Every file in myDirectory then gets accessed.
**Expected:** Only foo.lib gets accessed.

NuGet product used: NuG

[2019-05-08 22:10] nkolev92 opened #8116 "Resizing the PMC window splitter to left makes the list a mess"
[658461](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/658461)

Repro steps:

1. Launch VS and create a C# Blank App (Universal Windows).

2. Open “Package Manager Console”.

3. Drag the PMC window splitter to right.

4. Type ‘Get-Package -Updates’ in PMC.

5. Drag the PMC window splitter to left and observe the content in PMC.

Expected:

The list should be wrapped intelligently.

 Actua

[2019-05-08 22:12] nkolev92 opened #8117 "The ‘ProjectName’ column lost in PMC after resetting window layout"
[658342](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/658342)

Repro steps:

1. Launch VS and create a C# Blank App (Universal Windows).

2. Open “Package Manager Console”.

3. Drag the PMC window splitter to right.

4. Type ‘Get-Package -Updates’ in PMC.

5. Click “window->Reset Window Layouts”.

6. Open “Package Manager Console” and type ‘Get-Package -Updates’ in PMC again.

7. Drag th

[2019-05-08 22:15] nkolev92 opened #8118 "Navigation by “Tab” doesn’t work in PMC window"
NuGet Version: NuGet Client 5.0.0.5371

VS Version: D16.0stg 27930.3001

OS Version: Windows 10 RS4_Release 17134.1.180410-1804

Installation steps:

1.     Install VS: \\cpvsbuild\drops\VS\D16.0stg\products\27930.3001\bootstrappers\Enterprise\vs_enterprise.exe

2.     Install NuGet Client: \\ddfiles\Drops\NuGet\Drops\CI\NuGet.Client\dev\5.0.0.5371\artifacts\VS15\NuGet.Tools.vsix

Repro steps:

1.

[2019-05-08 22:22] nkolev92 opened #8119 "Hard to see the cursor in PMC after changing the color theme"
https://devdiv.visualstudio.com/DevDiv/_workitems/edit/657335

NuGet Version: NuGet Client 5.0.0.5371

VS Version: D16.0stg 27930.3001

OS Version: Windows 10 RS4_Release 17134.1.180410-1804

2.     Install NuGet Client: \\ddfiles\Drops\NuGet\Drops\CI\NuGet.Client\dev\5.0.0.5371\artifacts\VS15\NuGet.Tools.vsix

Repro steps:

1. Launch VS (default color theme is "Blue") and create a C# Class Librar

[2019-05-08 22:22] nkolev92 commented on #8119
Can still repro this.

[2019-05-08 23:46] #8033 closed, assigned to zivkan

[2019-05-09 00:07] #7988 closed, assigned to nkolev92

[2019-05-09 00:08] #8106 closed, assigned to nkolev92

[2019-05-09 00:12] zivkan commented on #8115
Related to #7986

[2019-05-09 16:24] xen2 opened #8120 "Restore and HTTP timeout (probably due to TCP parallel connections being throttled)"
Please read the following information before posting the issue.

## Details about Problem

NuGet product used: NuGet client API

NuGet version (x.x.x.xxx): 5.0

OS version: win10

## Detailed repro steps so we can see the same problem

Only happen on slow connections:

1. Install Xenko Launcher (https://xenko.com/download)

2. Install latest version of Xenko
Note: Xenko is quite big, around 60 pac

[2019-05-09 22:47] lovettchris opened #8121 "When will nuget.com server support SemVer 2.0.0 ?"
I see the [nice long spec](https://github.com/NuGet/Home/wiki/SemVer2-support-for-nuget.org-%28server-side%29) but that was two years ago.  When is it going to happen?

[2019-05-10 00:28] nkolev92 commented on #8121
nuget.org supports Semver2, see the tracking issue https://github.com/NuGet/Home/issues/1359.

The feature has been live for about ~2 years now.
Clients newer than 4.3 & VS 2017 update 3 also support it.

[2019-05-10 00:28] #8121 closed, assigned to nobody

[2019-05-10 01:20] lovettchris commented on #8121
Huh, weird, I just tried to publish a package with the version "8.0.0-1" and the "nuget push" failed saying the version was invalid.

[2019-05-10 05:27] SimonCropp commented on #6570
please please please. can this be fixed?

[2019-05-10 05:29] PureKrome commented on #6570
Yeah - pretty damn annoying. 😢

[2019-05-10 08:18] Peter-Optiway commented on #7842
@dtivel how do i check `%UserProfile%/.nuget/plugins` if i add a script that does `dir %UserProfile%\.nuget\plugins` i can't run the build as it complains that there is no variable named UserProfile.

Sadly i have no access to the build image so i can't check it.

[2019-05-10 11:53] ColinM9991-zz commented on #7842
If you're using a script which is PowerShell then you can use `$env:USERPROFILE` to resolve the User Profile path.

[2019-05-10 11:57] Peter-Optiway commented on #7842
It seems i have no `%UserProfile%/.nuget/plugins` folder i get `Cannot find path 'C:\Users\Administrator\.nuget\plugins' because it does not exist.`.

[2019-05-10 12:31] Condor2708 commented on #545
+1

[2019-05-10 12:35] ColinM9991-zz commented on #7842
@Peter-Optiway

What about `C:\Windows\system32\config\systemprofile\.nuget`

This is where the user profile data goes if you're running the agent service as the default LOCAL System user.

[2019-05-10 12:40] Peter-Optiway commented on #7842
@ColinM9991 that directory does not exists.

[2019-05-10 15:16] Rzpeg commented on #5979
@rohit21agrawal I don't get why the issue has been closed. This still doesn't work. With NuGet 5. Even with NuGet.Build.Tasks.Pack. And it is very easy to reproduce:
Two .Net 4.6.1 Library Projects in 1 Solution **SomeLib.sln**: **SomeLib.Core** (**AssemblyVersion** 1.5.0) and **SomeLib.EntityFramework** (**AssemblyVersion** 2.0.0).
Both with **NuGet.Build.Tasks.Pack** 5.0.0 installed..
**SomeLib.

[2019-05-10 16:01] Rzpeg commented on #7352
@nkolev92 targets packing with msbuild incorrectly packs the versions for referenced projects.
https://github.com/NuGet/Home/issues/5979#issuecomment-491325834

[2019-05-10 17:29] nkolev92 commented on #5979
@Rzpeg

The steps you are describing are not equivalent.
-IncludeReferencedProjects is not supported for PackageReference.

Please create an issue and provide a repro zip of your scenario. (all the steps you are taking) and we can conclusively tell you the expectation.

[2019-05-10 17:55] nkolev92 commented on #4989
It's common for packages to carry more than one assembly.
What do you think the behavior is in that case?

Because of the flexibility it allows (specifically only alias one of many assemblies), I'd be more in favor of having a separate item/target than putting this on a PackageReference.

Note that a more complete solution is ensuring that the assembly is coming from the right package, like the fo

[2019-05-10 18:23] #8105 closed, assigned to donnie-msft

[2019-05-10 18:49] #5787 closed, assigned to nobody

[2019-05-10 19:02] commonsensesoftware commented on #4989
@nkolev92 fair, though I'd submit that need tends to be quite rare. It's reasonable to consider to make the feature _complete_. In that case, I would suggest something like:

[code]

This would provide a new type of metadata that could be applied to any reference, including transitive dependencies. In this example, **PackageReference** and **Reference** are mutually exclusive and indicate the sour

[2019-05-10 19:22] nkolev92 commented on #4989
@commonsensesoftware

That's similar to the thought process I had. :) I just wanted to validate it by the MSBuild/SDK/Build targets folks.

Why the need for a `Reference` though?
If you have a reference, you can already use the Aliases metadata.

[2019-05-10 20:12] commonsensesoftware commented on #4989
Ah - yes. You're correct. I guess that wouldn't be needed then. To make things completely specific to NuGet only, then something like this would make more sense:

[code]

The first form provides an alias for all libraries in the package, while the second only provides an alias for a single package.

Using the more generic name **PackageReferenceMetadata** (or something like that) could open the do

[2019-05-10 20:15] nkolev92 commented on #4989
I'm not sure how NoWarn will be affected by this, but I think that's a fair proposal.

I'll write up some things and start a discussion across the different products.

In the meantime, I'll document the example in samples repo.

[2019-05-10 20:21] commonsensesoftware commented on #4989
What I'm saying is that there is no way to specify **NoWarn** for a transitive dependency. This _could_ be potentially achieved with:

### Option 1
Use the **Update** directive for an existing `<PackageReference />` that sets **NoWarn**

[code]

### Option 2
Use `<PackageReferenceMetadata />` to set **NoWarn** and other metadata such as **Alias**

[code]

I don't want to go completely off-topic he

[2019-05-10 20:31] bording commented on #4989
Yep: https://github.com/NuGet/Home/issues/5740

[2019-05-10 21:14] nkolev92 commented on #8121
Unfortunately you are hitting https://github.com/NuGet/NuGetGallery/issues/6948.

Feel free to comment on the issue there.

[2019-05-10 22:19] lovettchris commented on #8121
Yes, I see the comment " /// which do not support a `.` in release labels, or release labels starting with numeric characters. ".  I'll try "8.0.0-a1" instead.

[2019-05-10 22:49] nkolev92 opened #8122 "Build failures in the test phases do not show up in the tests tab in AzDO"
//cc @zivkan

[2019-05-10 23:25] donnie-msft opened #8123 "CI Preview Build Number doesn't match NuGet.exe Preview number"
Build process generated a preview2 nuget.exe which was put on Nuget.org. However, I was releasing preview3. There is a variable in the build process that is not referenced anywhere else which is incrementing based on something irrelevant.

Solution
Just hard-code the preview# into the build script to match the VS Preview number.

[2019-05-10 23:37] zivkan commented on #8122
the cause is that our pipeline basically does the following steps:
1. clone & setup repo
2. restore
3. run test
4. publish test results

Since there's no explicit build, it's being built implicitly by step 3. However, since we historically have allowed builds with failed tests to be merged, we don't fail the build on failed tests, so step 3 is set to "treat errors as warnings". This, unfortunately

[2019-05-11 05:01] StingyJack commented on #545
No PackageReference only format for me thanks, with its lack of install.ps1, idiotic/purist include-on-build content assets, and no xdt transforms. This needs to work as package.config does, so I can make packages that are as useful as possible and not leave every consumer of a package with extra steps to do just to make the package work for them.

[2019-05-11 05:19] AArnott opened #8124 "NuGet restore won't remove packages from project when no PackageReference items exist"
VS version (if appropriate): 16.1 Preview 3 (28902.138.d16.1)

## Detailed repro steps so we can see the same problem

1. Create WPF application
1. Add to Source Control (git)
1. Create new branch "analyzers"
2. Install-Package Microsoft.VisualStudio.Threading.Analyzers
3. Save All
4. Commit changes in Team Explorer
5. Switch branches to `master`

**Expected**

The analyzer package is removed from

[2019-05-11 05:20] AArnott commented on #8124
I believe the reason for this is that in the change branch, the only `PackageReference` in the project was removed, so nuget incorrectly believes no package restore is required. It leaves the old `project.assets.json` file and the rest of the nuget artifacts in-place, which still reference the analyzers package.
Clearing out the obj folder removes the nuget artifacts and thus solves the problem (a

[2019-05-12 16:44] WernerMairl commented on #5358
Same symtoms here, building a AspNetCore 2.2 App with docker.

Restarting Docker (Version 2.0.0.3 (31259) helps for me (like for a few other problems with docker after machine restart - outside from aspnetcore).... => problem caused by docker not by dotnet/nuget etc!

BUT: reading this issue here was really helpful!

[2019-05-12 17:16] LK9T9-Sektor commented on #5768
15.8.6 same problem

[2019-05-13 05:19] joelverhagen opened #8125 "Install-Package in Package Manager Console does not prompt for project style"
When installing packages from the package manager console, the "Allow format selection on first package install" option is not respected. It just chooses the default.

![image](https://user-images.githubusercontent.com/94054/57597280-a24fc800-7503-11e9-8f33-348fe5f4f031.png)

## Details about Problem

NuGet product used: Package Manager Console
NuGet version: 5.0.0.5917
VS version: 16.0.3
OS versi

[2019-05-13 05:56] joelverhagen opened #8126 "How do I determine what frameworks a package supports?"
I thought I'd try to build some index of what frameworks each package on nuget.org supports.

Intellectually, it seems obvious to me that the definition of "supports" is actually a very deep question. For example, this question could be expanded by specifying:

1. Are you targeting packages.config? Are you targeting `PackageReference`?
1. What assets are you interesting in? For example, maybe want

[2019-05-13 06:10] felix-b commented on #1821
@nexussays @eserozvataf

You may want to check NuLink tool, which does exactly that:
https://github.com/nwheels-io/NuLink

[2019-05-13 16:08] DavidBarth opened #8127 "Nuget.exe actions take long to execute"
Remove the content above here and fill out details below.

## Details about Problem

NuGet product used: NuGet.exe
NuGet version 3.4.4.1321

OS version (i.e. win10 v1607 (14393.321)):

Worked before? Yes. Having issues with perfomance.

1. Execuring nuget actions took 2.5+ minutes when installing  Cake and Nunit packages on TFS Version 15.117.27414.0

2019-05-13T12:40:40.1502988Z Executing nuget a

[2019-05-13 16:19] rrelyea commented on #8127
Can you tell us more about what you were doing?
Update?
Install?
Restore?
Uninstall?

What sources were you using? nuget.org?

By the way, upgrading to NuGet 4.9.4 should have several security and perf improvements.

[2019-05-13 16:29] rrelyea commented on #8111
I'm not interested in debugging why signing code doesn't work on .net core, yet.
We have not yet built, tested or released code that is supported for that.
We are doing that work as we speak.

Perhaps Damon can take a quick look when he gets a chance.

[2019-05-13 16:34] DavidBarth commented on #8127
Thanks for the quick reply.
We are installing packages on an on premise TFS agent in via Cake script. We use local caches to retrieve packages.

We did the nuget.exe upgrade as we speak and running a build at the moment to see the outcome.

Retrieve
Add
Successful install
Nuget actions take long time

[2019-05-13 16:40] rrelyea commented on #8120
It seems like your users have been hitting this for a while. What different versions of NuGet are they hitting that with? How are you calling NuGet restore?

[2019-05-13 16:42] skofman1 commented on #8127
If you were interacting with nuget.org, you might have been effected by an Azure networking incident. This was already resolved. Are you still seeing slowness?
![image](https://user-images.githubusercontent.com/16807822/57638751-49178100-7563-11e9-8520-20de152ed490.png)

[2019-05-13 16:48] rrelyea commented on #8127
@DavidBarth - can you describe the sources you have in more detail? how many. What type? is nuget.org one of them? Are any of the sources upstreaming to nuget.org?

[2019-05-13 16:53] rrelyea commented on #8126
@nkolev92  - perhaps we schedule some time for this?
Minimally, we should chat through this.

[2019-05-13 17:23] nkolev92 commented on #8126
Yeah we should schedule some time to understand both what we want to and what we can achieve.

[2019-05-13 17:42] caseif opened #8128 ""Stage\packages" is created with backslash on Linux"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe

NuGet version (x.x.x.xxx): 4.8.2.5835

OS version (i.e. win10 v1607 (14393.321)): Linux Mint 19.1

Worked before? If so, with which NuGet version: Unknown

## Detailed repro steps so we can see the same problem

1. Run `nuget install` or `nuget restore` under a project directory

2.

[2019-05-13 22:55] debonte commented on #7804
Dupe of issue #6872?

[2019-05-13 23:50] bergbria opened #8129 "Writes to the plugins-cache directory are not concurrency-safe"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version: 4.9.4

## Detailed repro steps so we can see the same problem

1. Find a scenario that requires using the plugins-cache directory
   1. My scenario (issue is not specific to this scenario)
      1. Select an Azure DevOps feed for testing
      2. Install https://github.com/Micro

[2019-05-14 01:01] rrelyea commented on #8127
Planning to close, assuming this was caused by the networking problem on nuget.org.
Let us know if that is not the case.

[2019-05-14 07:19] DavidBarth commented on #8127
Hello,  this isn't a network related issue.. we run Cake scripts on our build servers and an in process nuget.exe is dealing with Nuget operations.
We have a prioritized list of Nuget caches with local caches first and we currently don't make calls to nuget.org. We updated nuget.exe and cake.exe  to the latest version but haven't seen any improvement.

The below log shows 2.76 minutes of Nuget act

[2019-05-14 08:23] JohanSellberg commented on #8017
I had this problem in VS2019 16.0.3 but closing the project file solved the issue.

[2019-05-14 10:29] ranjan-2209 commented on #7642
No, its not this way.

[2019-05-14 11:45] adimosh commented on #6140
Other than dotnet restore --ignore-failed-sources, does anybody know what else to do?

[2019-05-14 12:45] stgit123 opened #8130 "nuget list -allversions does not return all versions and hangs when server does not observe `$top`"
NuGet product used: NuGet.exe

NuGet version: 4 and up

Worked before? If so, with which NuGet version: 3.5

Repro steps:

(I am not able to share the details of my package and source)

1. Running in bash
2. nuget list &lt;package&gt; -source &lt;source&gt; -allversions

Expected results: All versions of &lt;package&gt;
Actual results: Only 30 versions of &lt;package&gt; starting with the earliest

[2019-05-14 14:39] zivkan commented on #8127
You have only told us the symptom, but we don't know the scenario that led to it.

If you run nuget before running your cake scripts, is the performance the same, or does the slow restore performance only happen when you run nuget as part of the cake script? I've never used cake, so I'd really appreciate if you could let us know the exact command line that cake executes, which also lets us isolate

[2019-05-14 14:55] zivkan commented on #8129
Could you explain why you're running many nuget processes in parallel?

When you restore a solution, NuGet will restore all the projects in the solution, in parallel. If you're using `nuget install` to get some packages in a directory, you can use `packages.config` to list all the packages, then restore that file, and again, nuget will restore them in parallel.

I'm not saying that the error you r

[2019-05-14 16:02] dscottie commented on #8017
I'm seeing this issue in 16.0.3.  Also happening when I attempt to consolidate packages across projects in the solution; update takes effect initially, then reverts back to previous version.

[2019-05-14 16:36] zivkan commented on #8017
The Project System team made fixes for some issues that are available in 16.1 preview 3, see the Developer Community link posted in previous comments. 16.0.3 certainly does not have these improvements. If the problem was just related to having an "uninitialised" project file open (single click a project in Solution Explorer that opens the csproj in a window that disappears when you single click a

[2019-05-14 18:06] nkolev92 commented on #8127
Another thing.
3.4.4 is an old version :)
Ideally you'd run newer versions of NuGet.exe :)

[2019-05-14 18:09] nkolev92 commented on #8129
Are all processes sharing the same temp folder?

There should be process-wide locking based on https://github.com/NuGet/NuGet.Client/blob/1bb100cd4df524de75356ccfd146041eb95c2d59/src/NuGet.Core/NuGet.Protocol/Plugins/PluginManager.cs#L199-L200.

[2019-05-14 18:44] rrelyea commented on #7908
This security fix shipped in NuGet 5.0.2
Details:
https://portal.msrc.microsoft.com/en-US/security-guidance/advisory/CVE-2019-0976

[2019-05-14 18:52] #8123 closed, assigned to donnie-msft

[2019-05-14 21:05] dyadenka commented on #6140
you can try --disable-parallel, it helped me when restoring with nuget.exe restore command (via VSTS aka Azure Devops build task).

[2019-05-14 23:34] rrelyea commented on #6965
@anangaur  - this should be closed? or is there more to do?

[2019-05-14 23:39] rrelyea commented on #6060
Shipped this in dotnet sdk 2.2.100.

[2019-05-14 23:42] rrelyea commented on #5788
SourceLink for your portable pdbs, and then pack them in a .snupkg file is the strategy now.
Shipped in VS2017 15.9 and NuGet 4.9.

[2019-05-14 23:42] #5788 closed, assigned to nobody

[2019-05-14 23:46] rrelyea commented on #4901
Absolutely. Thx.

[2019-05-14 23:46] #4901 closed, assigned to nobody

[2019-05-14 23:47] rrelyea commented on #5087
as #4901 details, dotnetclitoolreferences are being phased out.
See: dotnet tool install -g

[2019-05-14 23:47] #5087 closed, assigned to nobody

[2019-05-14 23:51] rrelyea commented on #4190
We're not planning on adding CLI support for dotnetclitoolreferences anymore.
dotnet global tools, etc... are the direction.

[2019-05-14 23:51] #4190 closed, assigned to nobody

[2019-05-14 23:54] rrelyea commented on #4102
Shipped dotnet list package support in dotnet sdk 2.2.100.

[2019-05-14 23:54] #4102 closed, assigned to nobody

[2019-05-14 23:55] rrelyea commented on #4079
@anangaur - fyi

[2019-05-14 23:57] rrelyea commented on #3950
Let's call this done. We have a nominate() API which is callable from any project system.
So .NET Core kicks off autorestore and has to pass all the project info.
Other project systems can call Nominate() if it makes sense.

[2019-05-14 23:57] #3950 closed, assigned to nobody

[2019-05-15 00:39] bergbria commented on #8129
@nkolev92, it looks like different temp directories were indeed the problem. Thanks for suggesting that; I didn't notice it in my skimming of the code.

@zivkan, I'm running many processes in parallel for a variety of reasons, probably mostly unique to the Office build system (the simplest reason is that there isn't a single solution but it rapidly grows more complex). I'd be happy to discuss the

[2019-05-15 00:40] #8129 closed, assigned to nobody

[2019-05-15 00:50] anangaur commented on #6965
This can be closed.

[2019-05-15 00:53] John0King commented on #6060
@rrelyea  I think the current `dotnet list` is not the proposal  of this issue.
this issue is about search nuget package in nuget.org , and the current command `dotent list` is about list the reference of current project.
Should this issue be reopen ?

[2019-05-15 07:12] raspy opened #8131 "Is there any option to provide password interactively?"
When setting password from command line (with 'nuget sources') it is visible on the command line and stored in history. Is there any possibility for nuget to ask for password interactively with echo disabled?

[2019-05-15 08:55] DavidBarth commented on #8127
Hello, thanks for the reply.  Cake is running before Nuget. We have configured Nuget in our Cake.config file to use in process client. We run Nuget installs on build agents working directory We source the packages locally from the build servers file system. Nuget.exe isn not downloading packages.

We have seen an improvement on  installing signed package in an offline mode running the install from

[2019-05-15 09:08] ievgennaida commented on #6686
Related pull request: https://github.com/NuGet/NuGet.Client/pull/2105

[2019-05-15 10:49] Danlewis3 commented on #545
+1

[2019-05-15 14:10] gerhardmareede opened #8132 "error NU1101: Unable to find package - Azure DevOps (Private Nuget)"
## Environment

VS version (if appropriate): 2017 or 2019

OS version : Hosted Ubuntu 1604

Environment: Azure Devops Build Pipeline

## Detailed repro steps so we can see the same problem

1. Create a new ASP.NET Core Web Application
2. Under Nuget Package Manager add a "Package Source" that point to my private source.
3. Install the nuget package from your source.
4. Add docker support to the pr

[2019-05-15 14:22] joelverhagen commented on #8130
Hey @stgit123, what package source are you using? This is a known issue on nuget.org:
https://github.com/NuGet/NuGetGallery/issues/3274

[2019-05-15 14:35] stgit123 commented on #8130
Hi @joelverhagen thanks for the reply! The package source is specific to my employer so I can't share it unfortunately. I did read the issue you have referenced but as you say it still seems to be unresolved.

Versions of nuget.exe higher than 3.5 seem to be capping results at 30 ordered them from oldest to newest which is not especially useful...

I've switched over to Nuget Package Explorer for

[2019-05-15 14:51] joelverhagen commented on #8130
Would it be possible to know which NuGet server implementation your company uses internally? For example, NuGet.Server, Artifactory, or NuGetGallery? If you can't share this information, no worries :-)

[2019-05-15 15:47] stgit123 commented on #8130
According to the higher ups, "We use an open source implementation of the nuget server protocol called sunside/simple-nuget-server"

Thanks for looking into this :)

[2019-05-15 16:17] joelverhagen commented on #8130
I'm not an expert in Docker, but it looks like `sunside/simple-nuget-server` is a Docker image hosted here:
https://hub.docker.com/r/sunside/simple-nuget-server
... which points to here...
https://github.com/sunsided/docker-nuget

This GitHub repo has a submodule pointing to this other GitHub repository which seems to be the core of the NuGet server implementation:
https://github.com/Daniel15/simp

[2019-05-15 16:58] zivkan commented on #8132
From your error log, I see:

which means that the `nuget.config` file that was copied into your docker image did not contain your private feed. When you use Azure DevOps to do a NuGet restore and tell it to use your private feed, it creates a temporary `nuget.config` file and uses that, as you can see in the other log:

At the beginning of your repro steps, you said you added your private feed as

[2019-05-15 17:16] AngleRacket commented on #7347
+1 for requesting an update on this issue.

[2019-05-15 18:45] rrelyea commented on #8017
According to this twitter thread...looks like this was fixed in 16.0.4 (shipped on 5/14/2019)

https://twitter.com/satyajitsumeru/status/1128676881706901504

[2019-05-15 19:27] nkolev92 commented on #7286
There's a related internal thread raised by @AArnott

NuGet's behavior is undefined when the project reference target framework gets changed/stripped out.

Related threads for investigation:

https://github.com/microsoft/vs-threading
https://github.com/microsoft/vs-threading/issues/483

Related issue: https://github.com/NuGet/Home/issues/8133

[2019-05-15 19:40] nkolev92 opened #8133 "Pack targets extensibility - Make the project reference driven package references possible to overwrite"
This effectively means modifying the information usually processed through the assets file.

There's a related internal thread raised by @AArnott

NuGet's behavior is undefined when the project reference target framework gets changed/stripped out.

Related threads for investigation:

https://github.com/microsoft/vs-threading
https://github.com/microsoft/vs-threading/issues/483

Other scenarios are

[2019-05-15 20:03] #7996 closed, assigned to nobody

[2019-05-15 20:03] rrelyea commented on #7996
Issue moved to [NuGet/docs.microsoft.com-nuget #1441](https://github.com/NuGet/docs.microsoft.com-nuget/issues/1441) via [**ZenHub**](https://www.zenhub.com/)

[2019-05-15 20:03] rrelyea commented on #7996
Issue moved to [NuGet/docs.microsoft.com-nuget #1440](https://github.com/NuGet/docs.microsoft.com-nuget/issues/1440) via [**ZenHub**](https://www.zenhub.com/)

[2019-05-15 22:40] zivkan opened #8134 "pack validator: references node"
If a [nuspec has a `references` node](https://docs.microsoft.com/en-us/nuget/reference/nuspec#explicit-assembly-references), we should check if the package also has the relevant assembles in the `ref/` directory to work correctly with `PackageReference`, otherwise we should display a warning as the package will only work correctly with `packages.config` projects.

[2019-05-15 23:05] dominoFire opened #8135 "EndToEnd Tests - VariablesPassedToInstallScriptsAreValidWithWebSite failing"
## Details about Problem

NuGet product used: VS UI | Package Manager Console

NuGet version (x.x.x.xxx): 5.1.x

VS version (if appropriate): 16.1.x

OS version: N/A

Worked before? Yes
https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=2648045&view=ms.vss-test-web.test-result-details&runId=5950964&resultId=100116

## Detailed repro steps so we can see the same problem
Run a build on th

[2019-05-15 23:10] zivkan commented on #7276
PR to add info to docs: NuGet/docs.microsoft.com-nuget#1443.

[2019-05-15 23:10] #7276 closed, assigned to zivkan

[2019-05-16 00:28] rrelyea commented on #5725
Note> Update by TFM has a good scenario in AzDO bug 745617 - create a netcore 2.1 project that uses this package: https://www.nuget.org/packages/Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore

You'll be suggested an update (via update tab) to 3.0.0 versions of this package, despite the fact that the TFM in the new package is only netcoreapp3.0

[2019-05-16 05:20] ranjan-2209 commented on #7358
Sorry, I am late for response. Too much workload in office

`Update-Package -Reinstall` solved the problem.

I was thinking it would have been better if it was directly without opening PMC

[2019-05-16 05:27] Varorbc opened #8136 "wrong upgrade prompt"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI

NuGet version (x.x.x.xxx): 5.0.2

dotnet.exe --version (if appropriate):

VS version (if appropriate): 16.0.4

OS version (i.e. win10 v1607 (14393.321)): win10 v1809 (17763.437)

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

1.
!

[2019-05-16 06:34] boexler commented on #7194
[code]

Got same error if I want to build my project..

---

After changing my banch name without `_`, everything works 👍

[2019-05-16 06:44] nkolev92 commented on #7194
Per my above comment, closing this as not a bug.

For future reference, feel free to look at https://nugettoolsdev.azurewebsites.net/ for the parsing of versions. It's an official tool but it does the job for most questions :)

[2019-05-16 06:44] #7194 closed, assigned to nobody

[2019-05-16 07:56] gerhardmareede commented on #8132
Thanks, I will try manually creating the nuget.config. We are using a Linux container, but I found a solution for Windows containers. If I add a Visual Studio Build task before my Docker build task (Not doing a dotnet restore as part of the docker build task), it works

`steps:
- task: VSBuild@1
  displayName: 'Build solution TestPipeline.sln'
  inputs:
    solution: TestPipeline.sln
    msbuildAr

[2019-05-16 08:36] stgit123 commented on #8130
@joelverhagen thank you so much for all the research you have done. I'll pass on the info to the boss. I'm assuming we're using this server implementation because it's running in Docker (everything here is run in Docker Linux containers) Edit: I asked and the reply was "I didnt want to run any Winblows stuff" :)

This was a slightly confusing one because if I get version 3.5 of the nuget cli exe f

[2019-05-16 09:49] byfron opened #8137 "Nuget 5.0.2 fails to find msbuild assemblies in debian stretch"
Hi,

I'm trying to package a csharp project in Linux using nuget+mono. Specifically the OS is a debian stretch: Linux dc1e45079844 4.9.0-3-amd64 SMP Debian 4.9.30-2+deb9u5 (2017-09-19) x86_64 GNU/Linux

It's been working fine with NuGet 4.6.2, but since updating to 5.0.2 when running `nuget restore project.sln` I get the following error:

MSBuild auto-detection: using msbuild version '' from '/usr

[2019-05-16 12:18] gerhardmareede commented on #8132
I have tried various ways of using a nuget.config file. I have a custom nuget step that populate the authorization credentials.

sources update -Name "ConnectFeed" -Username "vsts" -Password "$(System.AccessToken)" -StorePasswordInClearText -ConfigFile ./TestPipeline/nuget.config

Then step runs fine

[code]

But then on the `RUN dotnet restore` I still get the same error

`/usr/share/dotnet/sdk/2

[2019-05-16 13:35] zivkan commented on #8136
@Varorbc thanks for taking the time to write.

NuGet uses [semantic versioning 2.0.0](https://semver.org/) although extended to also be compatible with [`System.Version`](https://docs.microsoft.com/en-us/dotnet/api/system.version?view=netcore-2.2#remarks) for backwards compatibility with NuGet's earliest history.

Section 9 of the Semantic Versioning 2.0.0 spec defines prerelease labels and says t

[2019-05-16 13:44] #8136 closed, assigned to nobody

[2019-05-16 13:47] gerhardmareede commented on #8132
I have also tried this nuget.config file and adding a username and password to the environment variables

`<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <clear />
    <add key="Nuget" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="ConnectFeed"

[2019-05-16 14:19] zivkan commented on #8132
I'm not an expert on Azure DevOps, and I have no experience at all with docker. As a workaround I suggest building directly on the agent machine, running `dotnet publish`, then copying the binaries in the publish directory to your docker image, rather than building inside a container/image. On one hand I can understand that people try to use docker as a consistent build environment, in the same wa

[2019-05-16 14:41] rlundy commented on #6373
Proposal for how to fix this: A configuration file that I can put in my project root with a list of NuGet feeds I want to ignore for this project.

For a new project, I'd create this file and put a list of NuGet feed URLs in there that I _never_ want to use with this project.  (E.g. this is a hobby project, so I want to ignore my company's NuGet feed which is annoyingly behind a VPN)

It would mea

[2019-05-16 15:03] StingyJack commented on #6373
@rlundy - does this work to meet that need? https://docs.microsoft.com/en-us/nuget/reference/nuget-config-file#disabledpackagesources

[2019-05-16 15:09] StingyJack commented on #8113
Why wouldn't the assemblies have 5.0.0.5917 as the version? What's the difference in usage between them?

[2019-05-16 16:45] joelverhagen commented on #8130
From nuget.exe 3.5.0 to 4.0.0 we overhauled our list implementation to remove a dependency on the old NuGet 2.x codebase. During this, the behavior around this edge case changed. I call this an edge case because the server is not observing the `$skip` and `$take` (pagination) parameters provided.

The first HTTP request made by `nuget.exe list` (both 3.5.0 and 4.0.0 do this):

[code]

The client e

[2019-05-16 17:21] zivkan commented on #8132
@shubham90 does Azure DevOps have guidance on how to use private feeds from docker containers?

[2019-05-16 17:48] nkolev92 commented on #8133
A well put "suggestion" describing how to actually handle this refactoring.

A common pattern in MSBuild .targets is to split up steps across targets so that folks can intercept and tweak things with custom targets. If NuGet produced a .nuspec file in one target, and packed in a subsequent target, that would give an intermediate target that I might inject a chance to modify the .nuspec file before

[2019-05-16 17:59] dominoFire commented on #8097
Algo got UninstallPackageFromUI failing
https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=2674397&view=ms.vss-test-web.test-result-details

[2019-05-16 18:29] zivkan opened #8138 "Insertion of 5.2.0-preview2.6020"
VS:
 * [x] https://dev.azure.com/devdiv/DevDiv/_git/VS/pullrequest/181368

* .NET Core 2.1
* [x] https://github.com/dotnet/cli/pull/11365
* [x] https://github.com/dotnet/sdk/pull/3242

* .NET Core 2.2
* [x] https://github.com/dotnet/cli/pull/11364
* [x] https://github.com/dotnet/sdk/pull/3241

* .NET Core 3.0
* [x] https://github.com/dotnet/cli/pull/11366
* [x] https://github.com/dotnet/sdk/pull/3

[2019-05-16 18:51] rlundy commented on #6373
Holy moley!

I had no idea such a thing existed.

How did nobody mention it till now in a year and a half of this issue existing!?

Thanks, @StingyJack!  It looks like precisely what I'm looking for.  I'll have to give it a spin later.

[2019-05-16 19:39] rrelyea opened #8139 "Get NuGet-Client source build clean"
- [x] get prebuilt clean - https://github.com/dotnet/source-build/issues/890
(coordinate the changes for microsoft.build.sdk.resolver with Rainer and Nick from msbuild team - ask if they want you to fix and have them review, or would they prefer to own this change)

- [ ] get patch clean - https://github.com/dotnet/source-build/tree/release/3.0/patches/nuget-client

Moved "get patch clean" to #832

[2019-05-16 19:52] rrelyea opened #8140 "Support NuGet Search Tab effort"
One of our peer teams in Visual Studio is enhancing the search experience (ctrl+q) for many things. They plan to build a NuGet tab. Please help as necessary.

Minimally, we'll likely need to review their approach and provide advice.
We may need to provide new functionality...or work with them to build it.

@karann-msft has a design doc

[2019-05-16 19:54] shubham90 commented on #8132
@gerhardmaree-compeon If I understand your problem correctly, you are trying to auth to a private Azure DevOps artifact both in the nuget restore step and the docker image creation step. And it's failing to do auth on the docker step.

So, is it possible for you to pass the azure artifacts feed endpoint and the PAT as a --build-arg to the docker command? You can then use the feed endpoint and pass

[2019-05-16 20:12] rrelyea commented on #7864
adding comment to SDK issue, and closing this issue.

The problem here is that the SDK (via msbuild targets) adds some package sources for restore.
NuGet.Config clear doesn't impact msbuild set sources.
Should the SDK be setting these sources via Targets?

[2019-05-16 20:12] #7864 closed, assigned to nobody

[2019-05-16 20:15] rrelyea commented on #7830
Dupe of https://github.com/NuGet/Home/issues/8017
Believe the project system team fixed in 16.0.4 and 16.1.0-preview4?

[2019-05-16 20:15] #7830 closed, assigned to nobody

[2019-05-16 20:16] shubham90 commented on #8132
@zivkan The best solution today is to use the artifacts credential provider to do auth from docker containers. We are working to integrate the cred provider with docker images so that the experience is seamless and this extra step of adding it manually is not required.

[2019-05-16 21:58] zivkan commented on #8137
@byfron Could you let us know more about your environment and what changed?

What version of mono are you using?
Did you upgrade mono at the same time as changing versions of nuget.exe?
are you using the nuget.exe bundled with mono, or did you download from nuget.org?
Do you have a `msbuild` on your path, and if so what's its path?
Can you please try nuget.exe 4.9.4 to see if it's a regression fro

[2019-05-16 23:23] nkolev92 opened #8141 "Avoid please in error messages"
Motivation from: https://github.com/dotnet/cli/issues/11336

https://docs.microsoft.com/en-us/windows/desktop/debug/error-message-guidelines

We have ~139 please mentions in our resx files (about ~80 are not in the comment field).
All of these need reviewed and potentially fixed.

Examples

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Commands/Strings.resx#L393
https://githu

[2019-05-16 23:52] zivkan commented on #7740
Just stumbled across this issue. NuGet first selects a TFM (target framework moniker) for asset selection, before selecting assets. So, which dlls, or how many dlls exist in each `lib\*` directory is not relevant. In @sam-wheat's example, the package contains `lib\net47\` and `\lib\net472\` directories, telling NuGet that it supports both (or either, depending on how you consider it) `net47` and/o

[2019-05-17 01:24] zivkan commented on #7740
@leaderanalytics To answer your questions:

NuGet is a package manager, not an assembly manager. NuGet don't examine assemblies and what assembly references each assembly has and ensure that they will work at compile or runtime. That's the package author's responsibility. NuGet does check NuGet dependencies, which are different to assembly "dependencies".

In the original question there was no nug

[2019-05-17 01:27] leaderanalytics commented on #7740
@zivkan Please reopen until I respond.

[2019-05-17 02:17] leaderanalytics commented on #7740
@zivkan

This is not my intent at all!  My package contains exactly one set of dependencies and those dependencies should be installed for all versions of the framework greater than or equal to .net 4.7.  The preceding is my intent - If my package is incorrect please tell me how to fix it.  I am not asking nuget to manage or examine anything.  I am giving it a single, explicit list of files to ins

[2019-05-17 02:56] vatsan-madhavan commented on #5894
/cc @ryalanms

[2019-05-17 03:03] zivkan commented on #7740
If you open `MyDll.csproj` in a text editor, you'll see that it contains `<TargetFrameworkVersion>v4.7.2</TargetFrameworkVersion>`. Since you said you intend for your package to support net47 and up, it's invalid for you to pack an assembly compiled against net472 in the `lib\net47` directory, since 4.7.2 is a higher version than 4.7.

So, you need to go to project properties and change your proje

[2019-05-17 03:20] zivkan commented on #7740
I didn't look very carefully at `MyDllHost.zip` before writing my previous comment. What's happening is when you pack a project, NuGet will find the project's output assembly, determine the project's TFM, and automatically add the output assembly to the appropriate TFM folder, which is `lib\net472`, since that's what your project targets. Then, your nuspec file includes `bin\$configuration$\*.dll`

[2019-05-17 04:53] leaderanalytics commented on #7740
How does nuspec know to create net47 and net472 folders?  In my nuspec I am simply telling it to create a package that targets net47.

If that is the case nuget should generate an error when the package is created.  I am not choosing what .dlls wind up in which directories.  Nuget is doing that.

It is interesting to note that MyDll.dll winds up in the net47 directory even though MyDll.dll is inva

[2019-05-17 08:11] MatejQ commented on #6403
Same problem here. We are stuck on VS2015 because we have to support Silverlight, and in VS2017, Silverlight is no longer supported.
Nuget version is 3.5.0.1484 - the latest. Cannot upgrade package Microsoft.ApplicationInsights from version 2.8.1 to 2.9.1. Getting error:
Package 'Microsoft.ApplicationInsights 2.9.1' uses features that are not supported by the current version of NuGet. To upgrade N

[2019-05-17 08:19] gerhardmareede commented on #8132
Thanks, I tried what you suggested as follows

`CredentialProvider.VSS.exe -Uri https://company.pkgs.visualstudio.com/_packaging/ConnectFeed/nuget/v3/index.json`

Then I get the login credential that I use in the docker file (Only to test, then I will remove the hardcoding)

`FROM mcr.microsoft.com/dotnet/core/sdk:2.2-stretch AS build

RUN wget -qO- https://raw.githubusercontent.com/Microsoft/arti

[2019-05-17 08:45] MagicAndre1981 commented on #6403
@MatejQ

use [this extension](https://marketplace.visualstudio.com/items?itemName=RamiAbughazaleh.SilverlightProjectSystem) to get unofficial Silverlight support, but it has some issue from what I can read on the download page.

[2019-05-17 11:49] gerhardmareede commented on #8132
Thanks for the help I managed to get it working. I created an environment variable with the PAT. Then calling docker as follows

`docker build --build-arg TEST=$(PAT) -t testpipeline ./TestPipeline`

And then in the Dockerfile.

`
ARG TEST

ENV VSS_NUGET_EXTERNAL_FEED_ENDPOINTS {\"endpointCredentials\": [{\"endpoint\":\"https://company.pkgs.visualstudio.com/_packaging/ConnectFeed/nuget/v3/index.js

[2019-05-17 12:47] alexbk66 commented on #1215
Yeah, above worked for me, assuming step 5 is "Repeated step 2"

[2019-05-17 13:42] gerhardmareede commented on #8132
The only question I still have is it possible to set an expiry on the credentials created with CredentialProvider.VSS.exe because I do not want to generate these for every build

[2019-05-17 14:59] gerhardmareede commented on #8132
This solved it

`steps:
  - bash: echo This is a script that could use $SYSTEM_ACCESSTOKEN
    env:
      SYSTEM_ACCESSTOKEN: $(System.AccessToken)
  - powershell: Write-Host "This is a script that could use $env:SYSTEM_ACCESSTOKEN"
    env:
      SYSTEM_ACCESSTOKEN: $(System.AccessToken)`

[2019-05-17 14:59] #8132 closed, assigned to nobody

[2019-05-17 16:35] zivkan commented on #7740
The project is net472, hence the project dll in the `lib\net472` directory. The nuspec explicitly tells NuGet to copy `bin\$configuration$\*.dll` to `lib\net47`.

In order to minimise further miscommunications (my personality is that I'm a very detailed oriented person, but this can lead to information overload, particularly when I'm not clear about the context of the information I'm giving), here

[2019-05-17 16:40] zivkan commented on #7740
I forgot to mention that we're currently considering adding some additional pack validation, so thanks to your feedback, I've added checking `lib\<tfm>\*.dll` compatability as a possible addition.

[2019-05-17 17:35] johnwc commented on #7825
@zivkan There is one scenario that I am not able to do in the CSPROJ file, and that is set the dependencies of the project to not be grouped per target framework.

Explanation of what I am doing to help understand why I need this
I use VS SDK project to create chocolatey packages, which are nothing more than a Nuget package. I've added chocolatey's nuget repo in VS, and I am able to add dependenci

[2019-05-17 17:54] shubham90 commented on #8132
Great! yeah the best way to get a PAT is to use System.AccessToken as you said. Glad that it's working for you again.

[2019-05-17 18:05] leaderanalytics commented on #7740
Thanks for that answer.  That does fix the problem in this case.

To close out this issue I think you should answer my original question directly. Key words are "if a match is not found".   Adding a compatibility check is good (I suppose) but will it solve the entire problem?   As you said:

So if you do a compatibility check nuget will see that MyDll.dll is not compatible with net47 so a package

[2019-05-17 18:33] rrelyea commented on #6013
@donnie-msft and i were walking through the scenario matrix...not done yet:

**add a new class**
csproj.dll - doesn't auto save project.
sdk style - doesn't need to save project

**add ref to binary**
csproj.dll - doesn't auto save project.
sdk style - doesn't auto save project.

**installing package**
csproj.dll + PC - saves the project
csproj.dll + PR - via pmc -
csproj.dll + PR - via pmui- rest

[2019-05-19 01:04] ClaytonHughes opened #8142 "Don't warn about native DLLs outside lib"
## Details about Problem

The warning NU5100 purports to warn about Assemblies outside of the `lib` folder. However, it also warns about Native Dlls outside of the lib folder ([and, indeed, anything with the extension dll](https://github.com/NuGet/NuGet.Client/blob/3803820961f4d61c06d07b179dab1d0439ec0d91/src/NuGet.Core/NuGet.Packaging/Rules/MisplaceAssemblyOutsideLibRule.cs#L32)).

This can be ig

[2019-05-19 03:35] AArnott opened #8143 "Packages in dotnet\sdk\NuGetFallbackFolder have invalid signature"
A relapse of #7414 has occurred:

Repro steps:

[code]

Restore and build in VS.

VS version: 28916.44.d16.2

[2019-05-19 05:22] txwizard commented on #8027
I came here in the course of working out how to implement the 3-clause BSD license, SPDX licens ID **BSD-3-Clause**. Reading the problem statement of this issue caused me to wonder whether my NuGet client, version **4.9.4.5839,** would fill in the two tokens from my own package. As a test, I converted one small library that undergoes regular maintenance from license URL to an SPDX license ID.

The

[2019-05-19 23:19] txwizard commented on #5720
So if we go the advocated route of PackageRef, we sacrifice automated package reference chaining? If so, that's a load of crap!

[2019-05-19 23:25] plioi commented on #8027
@txwizard Given the response above includes the words "It is reasonable to assume... the copyright and author" without irony, we have to conclude that no lawyers were consulted at all, and that the feature is unusable by design. I recommend you just include the full license in your NuGet package, including your substituted values, and discard the feature as unsafe.

[2019-05-19 23:47] SkyZero1228 commented on #6242
is there any update on fixing this?  this is also happening on VS2019

[2019-05-20 01:51] karann-msft commented on #8027
@plioi, @txwizard - I understand the concern and I will take this as feedback for improving this feature. While we don't have a mechanism to substitute the values in the license today, as I mentioned, you can do both i.e. use a license expression and include the license text as a file. It is in the best interest of the package author to use a license expression since it allows your customers to qu

[2019-05-20 06:07] hristijankiko commented on #6140
Any progress on this issue?

[2019-05-20 08:30] stgit123 commented on #8130
@joelverhagen,

Thank you so much once again for the comprehensive explanation. I have passed this all on to the powers-that-be and they will be updating our server very soon (if they haven't done so already)

I really appreciate the time you have take to educate me/us on the issue

[2019-05-20 08:39] PinkhamSoftware commented on #6665
Currently experiencing this issue.

[2019-05-20 08:44] gitsparty commented on #4491
Scenario: Creating a nuget package from a csproj, targeting 4.6.2 with package references.

- nuget.exe pack doesn't work as dependencies are not inferred.
- After adding the nuget.build.tasks.pack nuget, fixing the csproj to import the target file, msbuild /t:pack gives the below error.
   msbuild /t:pack /p:PackageOutputPath="..\Packages" /p:TargetFramework=net462 /p:Authors="CI" /p:PackageVersi

[2019-05-20 09:17] DemianTinkiel opened #8144 "Nuget doesn't seem to download project dependencies in Linux"
NuGet product used NuGet.exe | dotnet.exe
NuGet version (x.x.x.xxx):  4.8.2.5835
dotnet.exe --version (if appropriate): 2.2.203
OS version (i.e. win10 v1607 (14393.321)): Ubuntu 18.04 LTS

## Detailed repro steps so we can see the same problem
1. Define a csproj with PackageReference (s)
2. nuget restore | dotnet restore
3. msbuild fails -  dependency missing
...

I have a project where I define a

[2019-05-20 09:22] DemianTinkiel commented on #8144
[dotnet.log](https://github.com/NuGet/Home/files/3197159/dotnet.log)
adding logs.
Also did ` dotnet restore --packages .\packages --force` to see if I could force download to a specific location but it produces nothing

[2019-05-20 14:06] rrelyea commented on #8144
Restore doesn’t run as part of msbuild unless you ask for it to be.

Can you try:
Msbuild /restore
Which will do a restore and then run build (/t:build is default), as two separate steps, which is ideal, because restore can change how build works.

[2019-05-20 14:53] olivierhelin commented on #3891
Same for me... I tried to remove nuspec when switching to new csproj but that's not possible due to missing features so I rollbacked to classic NuGet pack instead of dotnet task

[2019-05-20 17:24] karann-msft opened #8145 "Implement Nuget Package which contains UI pages"
@PrabhujiMudragalla commented on [Fri May 03 2019](https://github.com/NuGet/docs.microsoft.com-nuget/issues/1430)

Hi Team,

I am planning to create a UI Package which can be used across all my projects, it should support the following type of applications:
1. MVC Web Applications
2. MVC Web API
3. Web Forms
4. WPF Applications
5. .NET Core Web API
6. .NET Core MVC
Can you please suggest what type

[2019-05-20 17:29] TannerBragg commented on #3891
You're telling me nuget.exe pack is 100% capable of gathering up all the P2P references and bundling them into a single nupkg, but you can't get this to work in dotnet pack???

This is a disaster!  It's been over 2 years now!  Is there any serious dialogue taking place to fix this issue?  All I see is a bunch of hacked up work arounds at this point...

[2019-05-20 17:30] karann-msft commented on #8145
I would recommend taking a look at [.NET Standard](https://docs.microsoft.com/en-us/dotnet/standard/net-standard). A package targeting netstandard can be consumed across .NET implementations, using this same set of APIs.

[2019-05-20 18:07] rrelyea commented on #8145
Given that 5 of those frameworks are owned by the ASP.NET team, I would ask about 1, 2, 3, 5, and 6 to the ASP.NET team in one of their repos.
Once you have those answers, figuring out WPF fits in, will be easier.

[2019-05-20 18:07] #8145 closed, assigned to nobody

[2019-05-20 19:59] rrelyea commented on #8143
What NetCore SDKs do you have installed on that computer?

repro notes: was not able to repro on 16.2.0 P1 [28914.39.d16.2]

[2019-05-20 20:00] AArnott commented on #8143
Only a few 😛

[code]

[2019-05-20 21:42] MisinformedDNA commented on #4190
@rrelyea What does that mean? Are you going to stop using DotNetCliToolReferences altogether? Or that they won't work when installed via the CLI. Cause this bug was occurring when installed via VS.

[2019-05-20 22:30] testpbb commented on #6581
same error.

[2019-05-21 01:18] dominoFire opened #8146 "APEX tests: Tampered_InstallFromPMCForPC_FailAsync failing"
## Details about Problem

NuGet product used: VS UI | Package Manager Console

NuGet version: 5.2.*

dotnet.exe --version (if appropriate):

VS version (if appropriate): 16.2.*

OS version (i.e. win10 v1607 (14393.321)):

Worked before? No

## Detailed repro steps so we can see the same problem

Trigger a CI Build

### Verbose Logs

https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=269

[2019-05-21 01:24] #8056 closed, assigned to dominoFire

[2019-05-21 07:27] arthis commented on #7839
Issue is still here.

Nuget restore calls  $HOME/.config/NuGet/NuGet.Config
dotnet restore calls $HOME/.nuget/NuGet/NuGet.Config

I have the following NuGet.Config file :
[code]

When calling nuget restore on my csproj with dependencies in the tFS store , and with nuget version 5.2, everything is ok.
Doing the same with up to the latest preview of dotnet available at the moment  (dotnet-sdk-3.0.10

[2019-05-21 07:47] mycroes opened #8147 "Cryptic 'Key not valid for use in specified state.' message for stored API key after user password change"
After changing the (Windows) user password on our CI build server the stored API key was no longer working. The error message from NuGet.exe was `Key not valid for use in specified state.`, which doesn't point to the cause of the problem. After setting the API key using `NuGet.exe SetApiKey ...` the encrypted value has changed.

I suspect NuGet derives the encrypted API key from the user password,

[2019-05-21 09:06] DemianTinkiel commented on #8144
Hi @rrelyea thanks for the answer. I tried msbuild /restore and gives me the same behavior: restore task says ok, build fails on missing assembly for dependency

[2019-05-21 09:09] DemianTinkiel commented on #8144
Could this be something related to #7956, i.e incompatibility between mono & sdk?

[2019-05-21 10:13] dmitrykarnitski commented on #8017
Hi, it seems that the issue is reproducible with 16.0.4. A project file is not getting updated when installing a new package in the project. The error occurs after Save All or Build operation is executed. Hopefully, everything works by adding the package reference manually in csproj file.

[2019-05-21 10:44] tbolon commented on #8124
I agree with that. As a workaround, at least the "Clean" target should remove the `project.assets.json` file which is causing problems.

We have similar projects when migrating from PackageReference/packages.config with different branches: each time we need to switch between branch, we have to manually remove all obj folders for VS to work.