[2016-12-05 22:27] rrelyea commented on #4029
Finished on 12/2.

[2016-12-05 22:27] #4029 closed, assigned to rohit21agrawal

[2016-12-05 22:28] rrelyea commented on #4042
This one was fixed by Web Tools team. They included our Pack nupkg in their willow setup.

[2016-12-05 22:28] #4042 closed, assigned to rohit21agrawal

[2016-12-05 22:45] rrelyea commented on #4045
@stvndall - question for you. when you say this works on Windows, but not on Linux.
Do you mean that if you run "dotnet.exe" on windows, it works?
Or do you mean that when you run "nuget.exe" on windows, it works?
/cc: @joelverhagen

[2016-12-05 22:49] rrelyea commented on #4040
My folder is currently empty too. Yes, would love repro steps.

[2016-12-05 22:51] rrelyea commented on #4039
@moonir01 - we'd love to have more information. please answer our previous questions.

[2016-12-05 22:54] rrelyea commented on #4038
@alpaix - related to the output cleanup you've been doing?

[2016-12-05 22:56] rrelyea commented on #4037
This was fixed in RC2 by the blend team. The fix for internal bug 297804 was checked into d15rel this morning.

[2016-12-05 22:56] #4037 closed, assigned to nobody

[2016-12-05 23:02] rrelyea commented on #4035
Likely not going to address vs2015 issue. However, we should understand how this works...and ensure folks have a good experience for this kind of thing in V2017, once they have migrated.

[2016-12-05 23:36] joelverhagen commented on #4045
The fact that `FindPackagesById()` appears in the error URL indicates our code is treating the sources a V2 source (as the is a V2 endpoint). Does removing the `protocolVersion` property from your configuration fix the problem?

[2016-12-06 00:00] jainaashish opened #4061 "Add NuGet properties in target file for UWP projects"
We need to add following NuGet properties in a target file in order to support PackageReference for UWP project systems (except .net core)

[code]

As discussed offline, UAP team will be adding this property group in C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\Microsoft\VisualStudio\v15.0\AppxPackage\Microsoft.AppxPackage.Targets

[2016-12-06 00:00] rrelyea commented on #4026
This appears to be a problem with packages.config projects. If you move to Project.json (uwp-style) today, or PackageReferences in VS2017 and later, it moves to a place where you only list those 2 dependencies (WindowsAzure.Storage or Nancy.Serialization.JsonNet). At that point, you can more easily remove usage of either one.

We're going to be focusing our energy on PackageReferences, and enablin

[2016-12-06 00:10] rrelyea commented on #4012
nuget properly will import the .props file as part of the build. so yes, if you have questions about live analysis and things like that, you should ask that question elsewhere - as we are not the experts. Perhaps Roslyn?

[2016-12-06 00:10] #4012 closed, assigned to nobody

[2016-12-06 00:14] emgarten commented on #4047
@dsplaisted what scenarios are you relying on this internal property for?

The work to expose this publicly is in progress and being tracked here: https://github.com/NuGet/Home/issues/3928     ProjectJson and PackageReference are the two possible values so far.

[2016-12-06 00:25] zhili1208 commented on #4004
checked in the workaround

[2016-12-06 00:39] zhili1208 commented on #4021
https://github.com/NuGet/NuGet.Client/commit/b0691b61dd28f1fdeb8d9bddc04fca700fc04a5a

[2016-12-06 00:39] #4021 closed, assigned to zhili1208

[2016-12-06 01:18] zhili1208 commented on #4020
https://github.com/NuGet/NuGet.Client/commit/9770cc29557e5b5985c56ab055ee3ec0e99b63df

[2016-12-06 01:18] #4020 closed, assigned to zhili1208

[2016-12-06 01:32] rocifier commented on #3695
Hi after debugging this problem for a while, I couldn't manage to fix the code base.. I worked around the issue by setting the option in the VS2015 UI named "Dependency Behaviour" to "Ignore Dependencies" under "Install and Update Options". This meant the pruning code was not called and everything seems to be working fine now after making sure the known dependencies were already installed - deploy

[2016-12-06 03:13] dsplaisted commented on #4047
See #4046.  In the .NET SDK, we want the project restore type to be .NET Core, even if there aren't any `PackageReferences` in the project, so that we get the transitive package references from referenced projects.  Right now we do this [by injecting a target](https://github.com/dotnet/sdk/blob/8e5f56506c607ec6eaa40d05898b26075a9a183f/src/Tasks/Microsoft.NET.Build.Tasks/build/Microsoft.NET.Sdk.tar

[2016-12-06 05:27] emgarten commented on #4046
This sounds related to: https://github.com/NuGet/Home/issues/3504

@dsplaisted I could do that check to avoid overriding, but should this be a property such as ``ProjectRestoreType`` without the underscore? It would be awesome if the SDK could just tell NuGet which mode to use, the current flow is just because that was not available.

[2016-12-06 08:29] moonir01 commented on #4039
@rrelyea  VS version  2015 update 2 and trying all Nuget Verson OS Version :  windows 8.1
but i have install another laptop and work fine

[2016-12-06 13:08] MaximRouiller commented on #4040
5 days later. I'm at 4.57/4.61 GB size.

@rrelyea Is there anything I can do to help you gather data on this?

[2016-12-06 15:03] hickford opened #4062 "Documentation for NuGet.Client library"
Hi. Is there any documentation for the [NuGet.Client library](https://www.nuget.org/packages/NuGet.Client/ )? If so, please would you add a link from the [readme](https://github.com/NuGet/NuGet.Client/blob/dev/README.md)?

Similarly for the [NuGet.PackageManagement](https://www.nuget.org/packages/NuGet.PackageManagement) library.

* * *

http://www.writethedocs.org/guide/writing/beginners-guide-to

[2016-12-06 15:22] kzu commented on #4060
I see `$(NuGetTargetMoniker)` & friends still present under VS2017/NuGet4...

![nugetprops](https://cloud.githubusercontent.com/assets/169707/20931063/9993c0e2-bbae-11e6-9147-f45966842ba9.png)

[2016-12-06 15:23] kzu commented on #4060
I'd love to learn more about the smart-ness that you're thinking about based on that value, btw!

[2016-12-06 15:27] kzu commented on #3996
You can specify all the contentFile metadata on the items themselves. See https://github.com/NuGet/NuGet.Build.Packaging/blob/dev/src/Build/NuGet.Build.Packaging.Tasks/CreatePackage.cs#L150-L153

i.e.:
[code]

[2016-12-06 17:29] emgarten commented on #4040
@MaximRouiller can you clear the folder and then perform simple nuget actions until you see things being left behind in the folder again? Also, are you able to tell the files are?

[2016-12-06 17:47] MaximRouiller commented on #4040
**Steps taken:**

* Closed VS2015.
* Deleted all folders (SHIFT-DEL), including the "lock" folder.
* Opened Visual Studio
* Opened my client's solution
* One folder created in the NuGetScratch folder (name: 4eaab8e2-0722-4dbe-9952-45c66b15bf85)
  * Package List:
      * Auth0.Core.3.4.0
      * Auth0.ManagementApi.3.4.0
      * AutoMapper.4.2.1
      * AutoMapper.5.1.1
      * EntityFramework.6.1.

[2016-12-06 17:48] MaximRouiller commented on #4040
Awaiting further instructions. 😄

[2016-12-06 18:04] zhili1208 commented on #4011
@libaracy Could you try nuget 3.5? https://dist.nuget.org/win-x86-commandline/v3.5.0/NuGet.exe

[2016-12-06 18:04] MaximRouiller commented on #4040
Ahh and manually closing the solution does nothing. Opening the solution directly from the quick menu in Windows 10? Same result. 3rd folder now.

Unloading all projects, reloading them, recompiled solution. Still 3 folders. Nothing new.

[2016-12-06 18:05] emgarten commented on #4040
@MaximRouiller what type of project is this? XProj? CSProj + project.json, packages.config?

[2016-12-06 18:06] MaximRouiller commented on #4040
csproj. Good ol' OWIN.

First few lines of the UI csproj:

[code]

[2016-12-06 18:07] emgarten commented on #4040
csproj with packages.config?

[2016-12-06 18:09] MaximRouiller commented on #4040
This specific project doesn't no. It uses Task Runner Explorer and has `package.json` for UI stuff. Other projects (like an API)? Yes. csproj + packages.config

Here's the API csproj first few lines:

[code]

[2016-12-06 18:11] MaximRouiller commented on #4040
Also disabled most extensions. Only stuff remaining is MS extensions and ReSharper.

I now have 4 folders.

[2016-12-06 18:12] emgarten commented on #4040
Would you open the package management console and paste the four digit version number? It looks like NuGet doesn't show the 4th digit in the about info you pasted earlier.

Try disabling ReSharper also if you can. I don't have it installed and am starting to wonder if that is why I can't repro this.

[2016-12-06 18:16] MaximRouiller commented on #4040
**NuGet Version:** 3.5.0.1484
**Date Installed:** 2016-07-20

Re-enabled most extensions. Restarted Visual Studio (Yeah! 5th folder!). Suspending Resharper. Closing Visual Studio. Re-open Visual Studio. Open up the client's solution.

5 folders. Let me close everything down again and reopen.

[2016-12-06 18:18] MaximRouiller commented on #4040
* Visual Studio closed. Still 5 folders
* Visual Studio opened. Still 5 folders.
* Client solution opened. Still 5 folders.

Folder opening now is super fast.

I blame ReSharper. How do we go about this?

[2016-12-06 18:19] MaximRouiller commented on #4040
They don't seem to have the issue logged on their end.

https://youtrack.jetbrains.com/issues/RSRP?q=NuGetScratch

[2016-12-06 18:25] emgarten commented on #4040
Interesting!

You could try one more thing, get the latest 3.5.0 RTM from https://dist.nuget.org/index.html  (It looks like you have a slightly older version of the 3.5.0 beta). With ReSharper running see if it still happens, just to confirm.

ReSharper probably isn't writing to NuGetScratch on their own, they are probably calling an API that isn't normally used and NuGet is not cleaning up.

I th

[2016-12-06 18:36] MaximRouiller commented on #4040
Closing Visual Studio. Downloading latest RTM from provided URL. Running VSIX. Installing. Starting Visual Studio. Resuming ReSharper.

Installed version of NuGet: 3.5.0.1996

Restarting Visual Studio. Opening client's solution. Lock folder appearing. 6th folder (a0dbc1a0-cc98-45f3-8b47-7c630da6551f). Closing Solution. 7 folder still. Restarting Visual Studio. Opening client's solution. 7th folder

[2016-12-06 18:48] kzu commented on #3996
@rzaitov the files node in the nuspec are used to construct the nupkg, they aren't needed in the nuspec inside the nupkg because whatever is inside the nupkg, is whatever files made it in ;).

Closing this since it's neither a targets nor a VS issue.

[2016-12-06 18:48] #3996 closed, assigned to nobody

[2016-12-06 18:53] bbowman commented on #4060
@kzu @rrelyea

Yes, I didn't mean to suggest that they are now missing in 4.0 ... The real issue is that they are exposed in a .targets that is included via the special MSBuild install folder ImportAfter area. This doesn't give the project files themselves the ability to make use of the properties defined there.

The smartness I'm thinking about is mostly related to making up for shortcomings in n

[2016-12-06 18:57] emgarten commented on #4040
Thanks for the help @MaximRouiller! I think that narrows it down enough for now.

Looking through the NuGet code I don't see NuGetScratch for anything beyond the ``lock`` folder. Will do some more digging to see where this might be coming from.

[2016-12-06 19:00] MaximRouiller commented on #4040
@emgarten The `lock` folder didn't reappear until I updated the extension. If that helps.

Every time a new folder appeared, you can see that the "Last Modified" date of the lock match exactly the new GUID. Might matter. 😄

If you can keep us posted as to what was the root cause, I would appreciate. Maybe they are using an undocumented API? Who knows.

[2016-12-06 19:40] daveaglick commented on #4040
I got nerd-sniped on this issue and am trying to gather some additional info for you. I started by running procmon while loading a solution and caught ReSharper creating the files:

![2016-12-06_14h20_28](https://cloud.githubusercontent.com/assets/1020407/20940651/94c1c984-bbc1-11e6-82bd-d4655d218d27.png)
![2016-12-06_14h17_49](https://cloud.githubusercontent.com/assets/1020407/20940653/963ffe2a-b

[2016-12-06 19:44] emgarten commented on #4040
@daveaglick thanks! that helps confirm my theory a bit.

It looks like this is coming from ReSharper's use of NuGet.Core.dll. This assembly is legacy and no longer used in the NuGet extension.

When NuGet.Core.dll is used to open a nupkg it will be extracted to ``NuGetScratch/{guid}/``
https://github.com/NuGet/NuGet2/blob/e89c4b2fc6dc2fc752d2fceecd2a2175b0f4ab69/src/Core/Packages/OptimizedZipPacka

[2016-12-06 19:48] MaximRouiller commented on #4040
Nice work @daveaglick ! 👍

[2016-12-06 19:55] daveaglick commented on #4040
Pretty sure I can confirm that theory now:
![2016-12-06_14h52_29](https://cloud.githubusercontent.com/assets/1020407/20941292/c9b3d14e-bbc3-11e6-9134-3b579ccccdf2.png)

If I'm reading this dump correctly, `NuGet.PackageExtensions.GetFiles(IPackage,string)` from `NuGet.Core.dll` looks to be the guilty party.

[2016-12-06 19:59] daveaglick commented on #4040
Went ahead and opened an issue with JetBrains: https://youtrack.jetbrains.com/issue/RSRP-462102

[2016-12-06 21:20] kzu commented on #4060
That is incorrect. They absolutely do, as far as they are imported. Any property/target defined anywhere imported by the csproj can be leveraged from the project file. Here is a plain MSBuild proj file importing the NuGet targets that showcases it, without even importing the MS Common targets:

[code]

Building this project yields this output:

[code]

[2016-12-06 21:29] bbowman commented on #4060
Yes you are correct. Again sorry for not being 100% clear. What you show works because you are in a target so the full property resolution has occurred. In my example use case, I was wanting to adjust the ItemDefinitionGroup for Link to include the AdditionalLibraryDirectories of the nuget package. This is the common pattern to do directly in the project file but I do understand I could potentiall

[2016-12-06 21:49] karann-msft commented on #3598
help for pack still shows this option. Will update docs once the help has been fixed.

[2016-12-06 21:57] karann-msft commented on #694
docs updated https://github.com/NuGet/NuGetDocs/pull/694

[2016-12-06 22:02] kraigb commented on #4057
Thanks for catching that one. The correct link is http://docs.nuget.org/ndocs/schema/nuget.config-file#packagerestore-section. I just fixed it in PR701.

[2016-12-06 22:03] kraigb commented on #4024
Fixed with PR694.

https://github.com/NuGet/NuGetDocs/pull/694

[2016-12-06 22:05] kraigb commented on #1726
Fixed with NuGet/NuGetDocs#694

[2016-12-06 22:05] #1726 closed, assigned to nobody

[2016-12-06 22:05] #3366 closed, assigned to karann-msft

[2016-12-06 22:06] kraigb commented on #3586
Fixed with NuGet/NuGetDocs#694

[2016-12-06 22:06] #4024 closed, assigned to karann-msft

[2016-12-06 22:07] #3586 closed, assigned to nobody

[2016-12-06 22:07] kraigb commented on #3598
It's removed from the docs with NuGet/NuGetDocs#694; you can remove Type:Docs from this issue.

[2016-12-06 22:07] #1884 closed, assigned to karann-msft

[2016-12-06 22:12] karann-msft commented on #4057
@rrelyea this issue also has the Type:Bug label.  Should I remove that label?
The docs bug has been fixed.

[2016-12-06 22:42] emgarten commented on #3874
@joelverhagen can this be closed?

[2016-12-06 23:01] karann-msft commented on #3365
@tshadle I can't find the lines you have quoted from the docs. Can you please clarify.

[2016-12-06 23:01] #3365 closed, assigned to nobody

[2016-12-06 23:03] karann-msft commented on #3346
@sandersaares see here https://docs.nuget.org/ndocs/schema/nuspec#optional-metadata-elements

[2016-12-06 23:03] #3346 closed, assigned to karann-msft

[2016-12-07 00:14] alpaix commented on #4038
This is not the same flow I'm working on. I'll verify if my fix resolves this issue as well.

[2016-12-07 00:15] joelverhagen commented on #3874
@rrelyea, I guess it's safe to say we're not shipping this in RC right? 😄

[2016-12-07 00:16] zhili1208 commented on #4031
https://github.com/NuGet/NuGet.Client/commit/16ae864cb5a4d6e051a369d6eae682643d4088a6

[2016-12-07 00:16] #4031 closed, assigned to zhili1208

[2016-12-07 03:07] panxn commented on #4011
@zhili1208 much faster, thank you

[2016-12-07 04:21] livarcocc opened #4063 "dotnet pack should pack tools with the versions that the package was built against"
This is for a situation where I have a library (or tool) that has a * dependency, like on Microsoft.DotNet.Cli.Utils: 1.0.0-preview4-*.

Today, the nuspec for this package gets generated with 1.0.0-preview4-, which means that when the tool gets restored, we end up with the lowest version of Cli.Utils, no matter what.

Instead, when the nuspec gets generated by pack, it should set the * versions to

[2016-12-07 04:53] davidfowl commented on #4063
Yes that needs to work (pretty big regression otherwise)

[2016-12-07 07:10] sandersaares commented on #3346
Not sure why this is closed. By guidance, I obviously mean "How do I determine the proper thing to put in here?" not "What does this field mean". There does not seem to be anything like this covered in the docs.

[2016-12-07 08:29] emgarten commented on #4060
This sounds related to: https://github.com/NuGet/Home/issues/3928

The plan is to write out properties to the generated .props file for PackageReference projects to expose some of what NuGet understands about the project. Examples: restore success (true/false), nuget version used, project style.

Target frameworks and RIDs could be listed also, but this is bit more difficult to support long term a

[2016-12-07 12:31] kzu opened #4064 "Augment PackageReference with InstallPath metadata"
Some packages may need to consume tools provided by other packages. One concrete example: ilmerge (the nuget package). That package provides the ILMerge.exe tool, but no MSBuild target to expose its location for other nuget packages to consume (or the project itself).

To avoid hardcoding versions (i.e. `$(NuGetPackageRoot)ILMerge\2.14.1208\tools\ILMerge.exe`) when invoking the tool, it would be g

[2016-12-07 12:38] maartenba commented on #3968
May be related - https://github.com/NuGet/Home/issues/3874

[2016-12-07 13:40] ShadowDancer opened #4065 "Unknown parameter should be treated as error"
NuGet product used: NuGet.exe

NuGet version: 3.4.4.1321

OS version: win10 v1607

## Detailed repro steps so we can see the same problem

1. Open console

2. execute: `nuget restore dsgfasd asdf`

3. execute: `echo %errorlevel%`

Result:
[code]

Comand failed to restore, because it got unknown paremeter. It may happen if You forget to put path in quotation marks. In my opinion it should return co

[2016-12-07 15:54] tomkuijsten opened #4066 "Recommended way to update a package programmatically"
We have a big repository which create lot's of nuget packages and we want to automate the update procedure of a nuget package. If our "release build" generated a nuget package, it should update all dependant projects which target an unstable package of that same released version. There are some options here, but none of those are a complete solution:

**nuget.exe update**
- Only updates csproj and

[2016-12-07 15:59] davidfowl commented on #4066
It's pretty difficult with older nuget (the packages.config world) as you have to update both the packages.config and all of the hint paths. The newer (extremely new) project.json and PackageReference node are trivial to automate (it's basically text replacement in a file) with a script.

That said, `nuget update` should support all the supported formats eventually but for now your best bet is a c

[2016-12-07 16:10] MaximRouiller commented on #4040
Issue was updated. Basically, they need to get rid of Obsolete DLL. Bug already fixed in their preview track. New release should come mid-December.

[2016-12-07 17:50] kraigb commented on #1077
yishaigalatzer - can you or someone else confirm whether this feature was added? If so, I can update the current docs on https://docs.nuget.org/ndocs/schema/nuspec#reference-groups accordingly.

[2016-12-07 17:55] yishaigalatzer commented on #1077
I don't think it is supported the way it is described above. You can add runtime implementations per target but not a direct reference.

@karann-msft - can you validate the current state and update accordingly?

[2016-12-07 18:00] kraigb commented on #1160
csharpfritz -- did the blog and tutorial happen as you suggested? I'm not clear where it might exist in the docs, if it does. If there is material that needs to be pulled into the docs, let me know where it is.

[2016-12-07 18:50] joelverhagen commented on #3891
@rohit21agrawal, I partially got through consuming the assets file from in the pack task:
https://github.com/joelverhagen/NuGet.Client/tree/jver/3891

This also has some progress on getting the output DLLs of child projects (using `@(ReferenceCopyLocalPaths)` MSBuild items).

This branch is pretty rough so let me know if I can clarify.

[2016-12-07 18:56] rrelyea opened #4067 "Migration Throws "Object reference Exception" in NuGet.PackageManagement.VisualStudio.SolutionRestoreWorker"
Port of https://github.com/dotnet/roslyn-project-system/issues/896

**Repro Steps**
Copy the project from \scratch2\scratch\jinuj\TestSceanrio\VSMigrationDemo.zip
Unzip to your machine
open the VSMigrationDemo\VSMigrationDemo.sln file
Accept all the migration notification.
Expected
Project migrated successfully
Actual

Log says
System.AggregateException: One or more errors occurred. ---> System.Nu

[2016-12-07 18:57] rrelyea commented on #4067
Assuming RC2 for now. have question out to @Srivatsn to understand RC2 v RC3

[2016-12-07 19:10] emgarten commented on #4066
+1 on moving to project.json or PackageReference, that is your best option for automating this scenario.

If you do need to stay with packages.config you could take a look at how NuGet automates running VS/NuGet commands from an external process as a starting point for your own scripts: https://github.com/NuGet/Entropy/blob/master/NuGetFunctionalTestsLauncher/NuGetFunctionalTestsLauncher/Program.c

[2016-12-07 19:22] #3874 closed, assigned to joelverhagen

[2016-12-07 19:22] #3865 closed, assigned to joelverhagen

[2016-12-07 19:22] #3880 closed, assigned to joelverhagen

[2016-12-07 19:24] emgarten commented on #4064
This would be really handy, but today NuGet has no rules for the format of the tools folder. It is just a place that NuGet doesn't read where authors can put things that the user needs to reference themselves. So trying to read this from existing packages would be difficult I think, for example if there were multiple exes like in xunit console runner it would be unclear what properties to create.

[2016-12-07 19:35] ronnyek commented on #2971
I am seeing this too... I dont know where the 'unsupported' is coming from, but fairly certain that's the problem.

[2016-12-07 19:37] emgarten commented on #4056
With the current nupkg rules it is not possible to determine what is a framework and what isn't since the lib folder allows both sub folders with non-TFM names and sub folders that are TFMs. There is a plan to fix this here: https://github.com/NuGet/Home/issues/496

Beyond that things are a little more complicated now with netstandard. I would imagine many new TFMs would need compatibility mapping

[2016-12-07 20:18] MosheL commented on #2798
problem found: Hebrew Date on the machine. switched to Gregorian date, and installed.

![image](https://cloud.githubusercontent.com/assets/2265043/20984973/194eda5c-bccb-11e6-8804-9285df5cad83.png)

[2016-12-07 21:26] mfaulkinbury opened #4068 "Feature Request: Enhance support for Management Pack projects (mpproj)"
[System Center Visual Studio Authoring Extensions](https://www.microsoft.com/en-us/download/details.aspx?id=30169) adds support for developing Management Packs using Visual Studio.

![nuget4scom](https://cloud.githubusercontent.com/assets/9920907/12152282/5e2c829c-b479-11e5-9450-d9250d6eb7dc.PNG)

Previously, [support was added](https://github.com/NuGet/Home/issues/1888) to **enable (unlock)** NuG

[2016-12-07 21:33] alpaix commented on #4067
The root cause of the issue is incomplete initialization of NuGet components at the time of the migration as the solution is not fully loaded yet. @jainaashish's fix NuGet/NuGet.Client#1047 will resolve this as well.

[2016-12-07 21:40] tomkuijsten commented on #4066
Since .NET 4.6.1 applications are not officially supported in the project.json/packagereference approach (not even in VS 2017 RC), we can't get rid of packages.config for a while. I know packagereferences for all project types is coming to nuget, there is just no timeline on when it will be available, and I need a solution now.

Thanks for your info @davidfowl and your pointers to code @emgarten .

[2016-12-07 23:13] jainaashish commented on #4017
Corresponding vsts issue# 299133 which will be fixed by ms build team.

[2016-12-08 02:00] Loves2Code commented on #962
I'm having same problem with installation of Nuget Packages:
    Microsoft.EntityFrameworkCore.SqlServer
[EntityFrameworkCore SQL Server Install errors.txt](https://github.com/NuGet/Home/files/638236/EntityFrameworkCore.SQL.Server.Install.errors.txt)

Trying to install either from the console or from the user interface in VS 2015. Error output is attached since it is quite extensive.

[2016-12-08 02:29] emgarten commented on #4066
We get asked this question often, you aren't alone :smile:

The solution to the problem is *PackageReference* and right now the team is dedicated to bringing it to as many project types as possible so you can move off packages.config.

[2016-12-08 04:57] davidfowl commented on #4066
You aren't alone whatsoever. Today the ASP.NET team uses `project.json` and floating versions to constantly update to the latest versions of our dependencies. The .NET team have a script that bumps versions manually (they are also using project.json). It's pretty common, just a PITA with packages.config.

[2016-12-08 07:35] akrisiun opened #4069 "build-nuget.ps1, NuGet3\makefile.shade error: CS0103 name 'IsMono' does not exist in the current context"
I am trying call this repository powershell build-nuget.ps1 file. No success.
Failed with Sake.Engine.Builder.BuilderBase these fatal errors:
CS0103 name 'IsMono' does not exist in the current context
CS0246: The type or namespace name 'Exception' could not be found

My steps:
[code]

Result:
[code]
ver
Microsoft Windows [Version 10.0.14946] (win10_x64: 10 Pro insider Preview Build 14946.rs_prelea

[2016-12-08 08:05] akrisiun commented on #4069
IMHO https://github.com/NuGet/Home/blob/dev/clone-repos.ps1 should be changed
from:
`& git clone https://github.com/NuGet/NuGet3.git -b dev`
to
`& git clone https://github.com/NuGet/NuGet.Client -b dev`
(or to nuget2.git, not sure).

[2016-12-08 08:09] tomkuijsten commented on #4066
Thanks again for the clear statements, not feeling alone so much anymore 😀.

@davidfowl how does the .NET team use project.json, it's not supported for .NET classic projects right?

[2016-12-08 09:51] GanesanRengasamy commented on #3997
HI @emgarten

Thanks for your response,

I am new for Xamarin. Please tell me the steps for how to change the .NET framework APIs regarding without Windows platforms?

Thanks,
Ganesan R.

[2016-12-08 11:45] wkit23 commented on #3676
Yes, you're right. What we're doing is something as follow:

- We develop using version 1.0

- In build, we change the version to the actual version.

- Build, package, and then for the projects that requires those packages, we use Nuget Update to update them to the actual version.

But I actually wonder, why it didn't get it from local folder but instead take it from the internal feed? Any way fo

[2016-12-08 15:07] william-gross opened #4070 "NuGet.exe push from ASP.NET"
## Details about Problem

NuGet product used: NuGet.exe

NuGet version: 3.4.4

OS version: Windows 10 Pro (10.0.14393 Build 14393)

Worked before: Yes, with v2.8.6

## Detailed repro steps so we can see the same problem

I have a continuous integration workflow that includes pushing packages to a private MyGet feed, from ASP.NET running in IIS as the NETWORK SERVICE account (i.e. the IIS applicati

[2016-12-08 18:04] rrelyea commented on #4061
Internal Bug 299177 - fixed on 12/13 - asking when next integration will make it to d15prerel

[2016-12-08 19:02] rrelyea opened #4071 "Package Search should limit results to compatible packages for target project(s)"
Usability of NuGet inside of VS would be much improved if we could filter search results based on compatibility for the target project(s).

[Searched for an existing issue, but couldn't find. Will dupe others to this.]

[2016-12-08 19:02] rrelyea commented on #3570
Dupe of https://github.com/NuGet/Home/issues/4071

[2016-12-08 19:02] #3570 closed, assigned to nobody

[2016-12-08 19:51] #4011 closed, assigned to zhili1208

[2016-12-08 19:52] jainaashish opened #4072 "VS Perf regression in RC2"
Internal Bug# 297627

[2016-12-08 19:57] rrelyea commented on #3993
Talking with @rohit21agrawal -- this should target the root path "\" as per the spec which says:
" Specifying an empty package path would add the file to the root of the package."
(https://github.com/NuGet/Home/wiki/Adding-nuget-pack-as-a-msbuild-target)

[2016-12-08 20:01] zhili1208 opened #4073 "[Mono Issue] NuGet.exe pack will add duplicate files to nuget package"
Repro Step:
Unit test failed with mono on mac
https://github.com/NuGet/NuGet.Client/blob/dev/test/NuGet.Clients.Tests/NuGet.CommandLine.Test/ProjectFactoryTest.cs#L361

the issue is During packing csproj with nuspec, if there is a file exist in both, that file will be added to package twice on mono.

the bug is we check the target path to exclude duplicate.
csproj dll target path is using Pach.Com

[2016-12-08 20:13] rrelyea commented on #3894
@emgarten  - thoughts on Hari's feedback here? is that what you'd expect?

[2016-12-08 20:15] rrelyea commented on #3893
We don't plan to enable this in dotnet pack / msbuild /t:pack in 4.0 timeframe.
We'll listen to customer feedback and consider in the future.

[2016-12-08 20:17] rrelyea commented on #3878
@rohit21agrawal says "i believe this is an msbuild problem. will follow up with that team." - now tracked here: https://github.com/dotnet/sdk/issues/472

[2016-12-08 20:19] rrelyea commented on #3659
@KFR42 - Are you able to answer that question?

[2016-12-08 20:24] rrelyea commented on #3582
Not clear if this is by design or not. Please look at.

[2016-12-08 22:03] rrelyea commented on #1462
@nanderto - going through old bugs. Any update?

[2016-12-08 22:05] rrelyea commented on #1660
@ericstj - going through old issues. Still an issue?

[2016-12-08 22:09] #1712 closed, assigned to jainaashish

[2016-12-08 22:10] rrelyea commented on #1712
Doesn't appear to have enough users affected to make important enough to consider.

[2016-12-08 22:13] rrelyea commented on #1749
@ericstj  - assuming this isn't an important issue anymore. please ping if it is and we'll reopen. "NuGet should enable contract based portable profiles to install in contract based frameworks like DNXCore50"

[2016-12-08 22:13] #1749 closed, assigned to emgarten

[2016-12-08 22:15] rrelyea commented on #1800
@joshlrogers - I don't think you were listening to this issue. still an important issue for you? any repro help?

[2016-12-08 22:33] tomkuijsten commented on #4066
Just found [this blog post](https://blogs.msdn.microsoft.com/lucian/2015/08/19/using-project-json-for-other-project-types/) explaining how project.json can be used with other project types, is that how the .NET team is using project.json as well?

[2016-12-08 23:08] rrelyea commented on #1811
@davidfowl - does this request still apply?
Issue title: Add "Effective Feeds" to nuget restore summary

[2016-12-08 23:09] rrelyea commented on #1824
Community - let us know if you hit this issue. latest nuget version for VS 2015 is 3.5.0 -- available from http://nuget.org/downloads

[2016-12-08 23:09] #1824 closed, assigned to nobody

[2016-12-08 23:14] emgarten commented on #4066
NuGet has been using it with .NET classic projects for a year now.
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.VisualStudio/project.json

Roslyn is also: https://github.com/dotnet/roslyn/blob/master/src/EditorFeatures/CSharp/project.json

Take a look at this blog post for more guidance on it: https://oren.codes/2016/02/08/project-json-all-the-things/

[2016-12-08 23:15] rrelyea commented on #1831
@rchande - just sent email to follow up.

[2016-12-08 23:19] rrelyea commented on #1835
4.0 RC - VSIX no longer has dependency on NuGet.Core
4.0 RC3 - working on removing NuGet.Core completely from NuGet.exe as well.
NuGet.exe may have remove NuGet.Core from this code path prior to that 4.0rc3 release...somebody should try 3.5.

[2016-12-08 23:20] #1837 closed, assigned to nobody

[2016-12-08 23:22] rrelyea commented on #1845
Please chime in if a similar issue hits somebody.
We try to stay aware that any time we raise the TargetFramework of NuGet.exe that impacts the build server scenario.

[2016-12-08 23:22] #1845 closed, assigned to nobody

[2016-12-08 23:25] rrelyea commented on #1894
Issue still seems open in JFrog

[2016-12-08 23:25] #1894 closed, assigned to nobody

[2016-12-08 23:40] kraigb commented on #3511
FYI, docs for `dotnet restore` are part of the .NET docs rather that NuGet docs proper. I'll let the owner of that page (https://docs.microsoft.com/en-us/dotnet/articles/core/tools/dotnet-restore) know. For NuGet docs, I'll add the necessary notes for `nuget restore`.

[2016-12-08 23:47] emgarten commented on #4071
The reason why this isn't done today is that a large percent of packages on nuget.org contain assets compatible with everything.

Examples:
* tools/install.ps1
* build/a.targets
* lib/a.dll
* content/readme.txt

This could be solved by adding options to the UI to optionally filter to these states:
* All packages
* packages that have any compatible assets
* packages which contain compatible assets

[2016-12-08 23:53] natemcmaster opened #4074 "NuGet GUI support for ToHighestPatch and ToHighestMinor in update panel"
PMC `Update-Package` supports `-ToHighestMinor` and `-ToHighestPatch` flags which can help when users are trying to stay on LTS releases. Example scenario: upgrading from .NET Core 1.0.0 to 1.0.1 even though 1.1.0 has been posted.

In theory, this seems like less work than lineups ( https://github.com/NuGet/Home/issues/2572) but still helps mitigate the upgrade problem.

[2016-12-09 00:01] ericstj commented on #1660
Yes.  Though it's more of a feature.  Right now NuGet provides no way for a package to expose different API  nor dependencies based on runtime.  It's not blocking us but it is a gap that has come up quite a few times.

[2016-12-09 00:02] rohit21agrawal commented on #3881
@aateeque the BasePath is to tell nuget where to look for files listed in the nuspec file you use to create the nupkg. For a given BasePath, you can list all your files in the nuspec relative to your BasePath. Does that make sense?

[2016-12-09 00:03] natemcmaster opened #4075 "Update-Package -Safe skips patch versions"
## Details about Problem
NuGet PMC
NuGet version: 4.0.0.2098
VS version: 15.0.26008.0
OS version: win10

## Repro

1. Create this .NET Core project
[code]
2. Open PMC and execute `Update-Package -Safe Microsoft.AspNetCore.Mvc` (also happens with `Update-Package Microsoft.AspNetCore.Mvc -ToHighestPatch`)

## Expected
Updates to Microsoft.AspNetCore.Mvc 1.0.0 => 1.0.1

## Actual
Updates to Microsoft

[2016-12-09 00:08] natemcmaster commented on #4074
cc @damianedwards @shanselman

[2016-12-09 00:16] rrelyea opened #4076 "Adapt Restore for Transitive Project References change"

[2016-12-09 00:17] rrelyea opened #4077 "Adapt Pack for Transitive Project References change"

[2016-12-09 00:22] rrelyea commented on #4074
Not in plan for RTM. Would likely need nuget.exe, dotnet.exe, VS UI, etc... Worth considering this with other options.

[2016-12-09 00:30] rrelyea commented on #1979
@emgarten - please check this scenario out...as you are doing contentfiles work now.

[2016-12-09 00:31] rohit21agrawal commented on #3893
Closing as duplicate of : https://github.com/NuGet/Home/issues/3891

[2016-12-09 00:31] #3893 closed, assigned to rohit21agrawal

[2016-12-09 00:32] rohit21agrawal commented on #3891
As per @rrelyea  : https://github.com/NuGet/Home/issues/3893#issuecomment-265843267

"We don't plan to enable this in dotnet pack / msbuild /t:pack in 4.0 timeframe.
We'll listen to customer feedback and consider in the future."

[2016-12-09 00:34] rrelyea commented on #1980
@onovotny - ApplicationDefinition and Page need this in UWP and/or WPF? (don't think WPF strictly needs)

[2016-12-09 00:43] rohit21agrawal commented on #3954
@joelverhagen this is happening because your PackagePath should end with a

 otherwise it thinks its the full path, including the filename.

[2016-12-09 00:44] rohit21agrawal commented on #3914
@piotrpMSFT if @joelverhagen answer satisfies your needs, please close this bug.

[2016-12-09 00:51] clairernovotny commented on #1980
Yes, they are needed in UWP. Ditto with Xam Forms for their XAML. I don't think much has changed since I filed the issue in terms of scenarios.

[2016-12-09 00:54] rrelyea commented on #2008
We are working on PackageReference model for VS2017 and hope to migrate most Packages.Config and Project.json users there. We are unlikely to go back and address this in Packages.Config.

Good news is that PackageReference is msbuild based, so will give much increased flexibility for many scenarios.

[2016-12-09 01:33] TheRealPiotrP commented on #3914
yes, thanks!

[2016-12-09 01:33] #3914 closed, assigned to rohit21agrawal

[2016-12-09 04:16] GanesanRengasamy opened #4078 "Can we skip the NuGet installation of Windows platform in the Xamarin NuGet package"
Hi,

I have create the custom Xamarin NuGet package with don't give the support for the Windows 8, Windows 8.1, WinRT.

I am using the below lib folder structure for the package.

![image](https://cloud.githubusercontent.com/assets/16695209/21037360/3eec71a6-bdf3-11e6-9947-f2059ed485b8.png)

Then I tried to installed the package in the Xamarin project with select the Windows and Windows Phone chec

[2016-12-09 04:52] emgarten commented on #3894
yes, ``contentFiles/any/{projectTFM}`` is probably the best default

[2016-12-09 11:12] ludzzz commented on #3131
Same issue here, need to install protobuf-net.
Is there any update on this topic, or is it dead?
Thanks

[2016-12-09 12:08] am11 opened #4079 "Suggestion: Self-contained NuGet utility release"
With `dotnet` (muxer) utility, it has been made possible to implicitly consume nuget on all platforms that CoreCLR supports.

If such a bootstrapping is possible, please further consider isolating the nuget executable and pack only the essentials parts of runtime/dependencies in a separate release channel for xplat. This will help the non-dotnet consumers effectively depend on nuget utility with m

[2016-12-09 12:32] KFR42 commented on #3659
Sorry it took me a while to get back to you.

I was previously using version 3.4.4 and am now testing with version 3.5.

As far as I can tell, the replacement tokens in the nuspec files do not work in many cases in the new version.  As well as the versioning issue I mentioned above.

My project uses an assembly.info file as well as several .info files which are common to all projects and added in

[2016-12-09 14:08] kevingoos commented on #2443
I will get the following message: The V2 feed at 'http://nuget.com/api/v2/Search()?$filter=IsLatestVersion&searchTerm='AMD'&targetFramework='net452'&includePrerelease=false&$skip=0&$top=26' returned an unexpected status code '404 Not Found'.

But the actual address of my private server is: http://nuget/api/v2/ so I don't knwo why he is going to nuget.com?

[2016-12-09 18:06] zhili1208 commented on #3646
https://github.com/NuGet/NuGet.Client/commit/dda32438fabeb6a0d56eed42053cae185ec6f53c
Mac CI and Test Fix Done

[2016-12-09 18:57] SpecOps7 opened #4080 "Nuget, PowerShell V5, Visual Studio, cannot initialize problem"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): PMC

NuGet version (x.x.x.xxx): Nuget (PMC v 3.4.4.1321)

dotnet.exe --version (if appropirate):

VS version (if appropriate): Visual Studio 2015 update 3,

OS version (i.e. win10 v1607 (14393.321)): Win 7 Enterprise, (Citrix server)

Worked before? If so, with which NuGet version: Previous Ver

[2016-12-09 19:07] emgarten commented on #2443
@Ghosttje will you open a new issue for this and include your nuget.config files and repro steps? NuGet shouldn't be changing the URL in this way.

[2016-12-09 19:09] slowcelica opened #4081 "Package restore does not correctly restore packages with a version of x.0.0.0"
Remove the content above here and fill out details below.

## Details about Problem
NuGet.exe

NuGet version (3.4.4.1321):

VS version (visual studio 2015, TFS 2015):

OS version (win server 2012)):

Worked before? If so, with which NuGet version: 3.2

## Detailed repro steps so we can see the same problem

1. If building a visual studio project in TFS 2015, and you are using a nuget package whose

[2016-12-09 19:14] cortex93 opened #4082 "Nuget pack defaults to version 1.0.0 when AssemblyInformationalVersion metadata contains forward slash"
## Details about Problem
When AssemblyInformationalVersion is a SemVer2 value where BuildMetadata segment contains a forward slash, nuget pack do not resolve version from AssemblyInformationalVersion attribute and use 1.0.0 as a default version number, also skipping other version attributes with valid version.

Same behavior when resolving version of dependent projects (IncludeReferencedProjects )

[2016-12-09 19:24] rrelyea opened #4083 "Error installing package to PowerShell project with poor error"
1.  Create new PowerShell Script Project
2: Try to install NuGet package in Package Manager Console, by clicking Tools --> NuGet Package Manager --> Package Manager Console, and for example typing Install-Package Pester

Result: Error saying Project 'Default' is not found. Specifying projectname with -ProjectName does not help.

User was using VS2017 RC 1.2.

This was originally reported via vs fe

[2016-12-09 19:31] rrelyea opened #4084 "VSFeedback - support longer file names"
I keep getting "the specified path, file name, or both are too long. The fully qualified file name must be less than 260 characters, and the directory name must be less than 248 characters". This is from NuGet for a sample project from https://code.msdn.microsoft.com/How-to-access-data-from-935e360c. Please make the names shorter, or have Microsoft allow the names to be longer, or have the produce

[2016-12-09 21:34] rrelyea commented on #4084
duplicate of https://github.com/NuGet/Home/issues/3324

[2016-12-09 21:34] #4084 closed, assigned to nobody

[2016-12-09 21:35] rrelyea commented on #3324
We don't know the exact timeline when we'd be able to do this work. We know if won't fit into NuGet 4.0.0

[2016-12-09 21:37] rrelyea commented on #4080
Does the workaround here solve this for you:
https://github.com/NuGet/Home/issues/2836

[2016-12-09 21:39] rrelyea commented on #4079
Can you rephrase "If such a bootstrapping is possible, please further consider isolating the nuget executable and pack only the essentials parts of runtime/dependencies in a separate release channel for xplat. This will help the non-dotnet consumers effectively depend on nuget utility with minimal footprints."

Are you asking us to continue to invest on putting more of our support/features into do

[2016-12-09 21:45] rrelyea commented on #3802
Dave Glick has written a 3 part set of posts that provide a good starting point: http://daveaglick.com/tags/nuget

[2016-12-09 21:45] #3802 closed, assigned to nobody

[2016-12-09 21:46] rrelyea commented on #3840
@martinsuchan - ??

[2016-12-09 21:49] rrelyea commented on #3812
@sunnydaleDoby - does that address your issue?
Closing as question. Please let us know if not.

[2016-12-09 21:49] #3812 closed, assigned to nobody

[2016-12-09 21:52] manu-st commented on #3802
I did read the 3 parts article but I'm afraid it doesn't go deep enough. Isn't there some group where we can discuss the underlying API? I have many questions on the way things are done.

For example in today's API, when you install a package, it will download the package, extract it in the main .nuget/packages, and then copy all the files where you want it to be installed. Whereas I'm looking at

[2016-12-09 21:58] rrelyea commented on #3730
By design issue.
We hope to improve the experience here with some future work: https://github.com/NuGet/Home/wiki/Package-Sources-Diagnostics

[2016-12-09 21:58] #3730 closed, assigned to nobody

[2016-12-09 22:04] #3881 closed, assigned to rohit21agrawal

[2016-12-09 22:06] rohit21agrawal commented on #3937
Closing this as this definitely works with CSPROJ.

Include the readme.md as content in your csproj, and by default it will be packed into the content folder.

[2016-12-09 22:06] #3937 closed, assigned to rohit21agrawal

[2016-12-09 22:06] rohit21agrawal commented on #3938
@rrelyea should we remove this restriction?

[2016-12-09 22:14] rohit21agrawal commented on #3939
@tsvetomir @piotrpMSFT this is how you override each of the properties you are looking for:

Default Namespace: $(RootNamespace)
AssemblyName : $(AssemblyName)
NuGet PackageId  : $(PackageId)

Closing this bug , but feel free to re-open if this doesn't answer your questions.

[2016-12-09 22:14] #3939 closed, assigned to rohit21agrawal

[2016-12-09 22:36] rrelyea commented on #3938
I'd want to consult with @yishaigalatzer -- who was involved in some long discussions.

[2016-12-09 23:01] rrelyea commented on #4083
Sent email to David Wilson internally asking some questions about this.
Subject line: "4083 - VS Support for developing powershell scripts & nuget"

[2016-12-09 23:04] am11 commented on #4079
It is actually about self-contained `nuget.exe` which runs cross platform without having to install Mono or dotnet-cli.

Suppose, we wanted to pull C++ headers from VC team's nuget feed and test with LLVM toolchain; in Windows PowerShell we can do:

[code]

but for example in Debian I will need to depend on dotnet-cli (which programmatically implements NuGet .NET API) to restore this package.

[2016-12-09 23:07] rrelyea commented on #4079
Thanks for the request. Will consider feasibility/relative priority in future.

[2016-12-09 23:08] rohit21agrawal commented on #3938
@rrelyea maybe until then, we start work on an opt-out flag to unblock some of the users?

[2016-12-09 23:18] rrelyea commented on #3938
let's get one plan, and then do that. an opt-out flag may be the technique, but let's focus on other things until we can get a cohesive plan.

[2016-12-09 23:21] rrelyea commented on #4068
@yishaigalatzer and I will need to discuss post vacation.

[2016-12-09 23:21] rrelyea commented on #4056
4.0 is overloaded, moving to future-1 for discussion.

[2016-12-09 23:23] rrelyea commented on #2716
closing issue. Please chime in if anybody hits this issue with that or other versions.

[2016-12-09 23:23] #2716 closed, assigned to nobody

[2016-12-09 23:29] rrelyea commented on #3705
I'm sorry, but I don't know what "project.framework.lock.json" is. Can you describe how you build it w/o command line today...and give me exact steps so I can find it too.

[2016-12-09 23:31] rrelyea commented on #4005
Moving to future milestone, as this may not converge in 4.0

[2016-12-09 23:32] rrelyea commented on #4004
@zhili1208 has a repro. Please open Mono bug and update records (including adding a link here)

[2016-12-09 23:33] rrelyea commented on #3947
Please link to existing mono bug or new one that you create.

[2016-12-09 23:34] rrelyea commented on #3539
@zhili1208 - please investigate solution for this problem

[2016-12-09 23:36] rrelyea commented on #3459
Mono on Linux will be moving to msbuild. Xbuild, which exists today, doesn't support Pack/NuGet well.

[2016-12-09 23:36] #3459 closed, assigned to nobody

[2016-12-09 23:36] rrelyea commented on #3445
@zhili1208 - please help

[2016-12-09 23:37] #3718 closed, assigned to rohit21agrawal

[2016-12-09 23:37] rrelyea commented on #3329
Duping to https://github.com/NuGet/Home/issues/3251

[2016-12-09 23:37] #3329 closed, assigned to nobody

[2016-12-09 23:38] rrelyea commented on #3105
@zhili1208  - please help

[2016-12-09 23:39] rrelyea commented on #2907
@zhili1208  - please help

[2016-12-10 00:13] kzu commented on #4056
And that limitation @emgarten would be more than acceptable for "minimal support for custom TFMs", IMHO

[2016-12-10 00:30] rrelyea commented on #4081
believe there was a change in 3.4.0 for this - see issue: https://github.com/NuGet/Home/issues/2298

[2016-12-10 01:07] rrelyea commented on #3687
I just tested this in yesterday's VS2017 build (26009.00)
steps:
1) file new project > WPF app
2) add new project to solution > .net core > class library (net standard)
3) build
THIS FAILED...told me that net standard 1.4 (the dll) isn't compat with net 4.5.2 (WPF app).
so I changed the dll from net standard 1.4 to 1.3 -- and it worked.

So I think you will be happy.

I didn't test with the first

[2016-12-10 01:07] #3687 closed, assigned to nobody

[2016-12-10 03:20] slowcelica commented on #4081
I am currently using 3.4 of nuget.exe and that is the machine it is happening on. We recently updated to this from 3.2, to fix a different issue where packages were not found in the server.

The package in question downloads successfully and restores correctly using the 3.2 exe, but not with the 3.4 exe.

[2016-12-10 04:11] mythz commented on #1365
Just got hit with this issue, I'm trying to build a .NET Core MySql package with `nuget pack` where the only [.NET Core package of MySql.Data available](https://www.nuget.org/packages/MySql.Data/7.0.6-IR31) is a pre-release package.

Things I tried to get it to build a NuGet package with a -pre release package dependency:

[code]

What worked:

None of them. We had to change our CI build itself to

[2016-12-10 09:52] mynkow opened #4085 "Nuget.exe throws System.ArgumentException"
## Details about Problem

NuGet product used (NuGet.exe):

NuGet version (3.5.0.1938):

OS version (i.e. win10 v1607 (14393.321)):

## Detailed repro steps so we can see the same problem

1. Add two package sources like this:
[code]

2. Execute a command like this:
`NuGet.exe list Cronus -verbosity detailed`

### Verbose Logs

[code]

Full config
[code]

[2016-12-10 12:55] martinsuchan commented on #3840
@rrelyea If this is the expected behavior now, then I guess the issue can be closed as "by design".

[2016-12-10 15:36] haranblazer opened #4086 "Unable to install pagedlist in VS 2015 CE"
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2016-12-10 15:40] haranblazer opened #4087 "Unable to install pagedlist in VS 2015 CE"
Hi Team,

I am trying to install PagedList.MVC using nuget in visual studio 2015 community edition
and i get an error message that
Error downloading 'PagedList.1.17.0' from 'https://api.nuget.org/packages....

Please help what should I do

[2016-12-10 20:33] raffaeler commented on #3687
Thanks Rob, I still can't see the 26009 publicly available but what you describe would solve the issue.
The current publicly available bits are preventing me to work on any netcore project, so I reverted to VS2015 to avoid going crazy. I'll wait for the next build and retry.
Thanks again

[2016-12-10 22:06] The-Futurist opened #4088 "VS 2015 client has poor performance"
The way the VS extension is designed is leading to poor performance. For example when doing consolidation across a multi-project solution, the GUI list of packages that appears (with their respective icons) gets cleared after consolidating a single package.

If I have several packages to address then the GUI is redrawn from scratch over and over. Why is this a problem? because it also seems to go

[2016-12-10 23:46] The-Futurist opened #4089 "Slow to get dependency information on slow connection"
I'm working on a slow (DSL) connection. Every time I select a package as I proceed to consolidate packages for a large solution, I see this kind of message in the VS Output Window:

Attempting to gather dependency information for package 'Dapper.1.50.2' with respect to project...

And it stays that way for some 15 or more minutes!! (as it checks nuget.org).

Questions for ya'll

* Why isn't this d

[2016-12-11 02:17] sunnydaleDoby commented on #3812
No.  I have very little confidence in this answer.  Managed c++ code should
be able to do anything c# code can.

This did not address the issue.  I am left trying to prove a negative.

On Fri, Dec 9, 2016 at 1:49 PM, Rob Relyea <notifications@github.com> wrote:

[2016-12-11 07:59] enricosada commented on #1365
@yishaigalatzer @rrelyea any update on this? Please is possible to add a workaround to unblock us? Like:

- an env var `NUGET_SUPPRESS_ERR_1234` (temporary fix but easy without impact on anyone and no api/cli changes) until a real solution is choosen
- downgrade the error as warning.

I'll implement anyone of that and send PR if is approved. Or just tell what you want.

This issue is really annoyi

[2016-12-11 08:08] enricosada commented on #3938
some ideas:

- read an env var `NUGET_SUPPRESS_ERR_1234` so is temporary and is an opt-out flag without cli/api changes.
- downgrade error as warning

I can send a PR if you choose how you want to resolve this issue

[2016-12-11 08:21] yishaigalatzer commented on #1365
We should be able to take a pr for this. I agree we should prioritize it otherwise

[2016-12-11 10:58] #4086 closed, assigned to nobody

[2016-12-11 11:20] enricosada commented on #1365
@yishaigalatzer i'll send a PR tomorrow.
What do you prefer? Downgrade as warning or env var or something else?
Ihmo preferred is downgrade as warning

[2016-12-11 11:29] yishaigalatzer commented on #1365
Yes but with a way to clear the warning or warning as error

Sent from Nine<http://www.9folders.com/>
________________________________
From: Enrico Sada <notifications@github.com>
Sent: Dec 11, 2016 1:20 PM
To: NuGet/Home
Cc: Yishai Galatzer; Mention
Subject: Re: [NuGet/Home] NuGet pack should not fail for release packages with prerelease development dependency (#1365)

@yishaigalatzer<https://na0

[2016-12-11 16:49] lostmsu commented on #1365
I think it should be a warning.

[2016-12-11 17:42] kierenj opened #4090 "Travis CI, mono, pushing to MyGet: SendChunked should be true."
## Details about Problem

Suddenly, `SendChunked should be true.`

NuGet product used: NuGet.exe

NuGet version (x.x.x.xxx): 3.5.01938

dotnet.exe --version (if appropirate):

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)): Travis CI

Worked before? If so, with which NuGet version: Yes,3.4.4 works fine, confirmed!  This is new with 3.5.0

## Detailed repro steps so we can

[2016-12-12 06:16] gulbanana commented on #3687
it's true that this doesn't work in rc1, there is a bug in native code which prevents it.. nice to see it'll be fixed in the next version

[2016-12-12 10:48] peterlai-roboops commented on #1365
OMG, was that all that was needed to advance this? we do the work and you approve? Its fantastic that this is being advanced but  I kinda wish this was said months ago.

[2016-12-12 15:25] nanderto commented on #1462
I abandoned trying to fix this, we just manually copied the nuget packages to the directory. Going to move onto using the built in Package Management in TFS

[2016-12-12 15:25] #1462 closed, assigned to nobody

[2016-12-12 15:27] pawepaw commented on #4058
ok thanks. I believe that it was not marked as stable in https://dist.nuget.org/index.html when i created issue.

[2016-12-12 17:45] kzu commented on #4085
I can verify this too, exact same error. My config:

[code]

Command:
[code]

[2016-12-12 18:31] rliberoff opened #4091 "nuget.exe does not work with msbuild 12 as of 3.5.0 [fixed in 4.0.0]"
We are downloading the latest version of the NuGet CLI from this URL "https://dist.nuget.org/win-x86-commandline/latest/nuget.exe" which is configured in the NuGet.targets file to always download it when doing a build in TFS 2013.

When executing the "nuget.exe pack" the following error happens:

    **Failed to load msbuild Toolset
    Could not load file or assembly 'Microsoft.Build, Version=14.

[2016-12-12 19:45] rrelyea commented on #4050
@alpaix tried to repro last week with no luck. if anybody sees a repro, please let us know.

[2016-12-12 19:53] rrelyea commented on #3864
fixed in RC.

[2016-12-12 19:53] #3864 closed, assigned to nobody

[2016-12-12 21:17] rrelyea opened #4092 "[VSFeedback] Error occurred while restoring NuGet packages for website project: Value cannot be null."
[Feedback] Error occurred while restoring NuGet packages: Value cannot be null.
Internal Bug 293947

Perhaps MsBuildNuGetProject.cs ~ line 609

        public async Task<IReadOnlyList<PackageSpec>> GetPackageSpecsAsync(DependencyGraphCacheContext context)
        {
            if (context == null)
            {
                throw new ArgumentNullException(nameof(context));
            }
       

[2016-12-12 21:28] rrelyea commented on #4092
Likely repro steps (via an email thread):
1)	File New Web Site (C#, Empty)
2)	Add New Project (C#, Asp.Net Core, WebApp)

At this point,
1)	try opening a .cshtml file  lots of errors
2)	try solution level restore  following error in output window:  “Error occurred while restoring NuGet packages: Value cannot be null. Parameter name: key”

[2016-12-12 21:38] zhili1208 opened #4093 "NuGet.exe push doesn't work for vsts [turns out it does, but there are a few related issues]"
tried nuget.exe 2.12, 3.3, 3.4, 3.5, dev. got same result.

Repro step:
1. set up a vsts package feed, put PAT into nuget.config.
2. nuget.exe push [package] -source vstsfeed
On windows, got 400 bad request.
On mac, with mono, got 400 bad request.
On mac, dotnet nuget push, got 401.

[2016-12-12 22:41] kentcb opened #4094 "The given path's format is not supported with local package sources"
## Details about Problem

* NuGet via VS 2015 14.0.25431.01 U3 PMC
* Version 3.5.0.1484
* `dotnet --version` is `1.0.0-preview2-003133`
* Windows Version 10.0.14393 Build 14393

## Detailed repro steps so we can see the same problem

1. Make sure you have a local source configured in VS Package Sources. e.g. `file://:C:\Users\Me\LocalNuGet\`
2. `git clone https://github.com/kentcb/Contented.git`
3

[2016-12-12 22:46] #3993 closed, assigned to rohit21agrawal

[2016-12-12 22:51] rohit21agrawal commented on #4059
@aL3891  what version of dotnet.exe are you using?

[2016-12-12 22:54] rohit21agrawal commented on #3894
@emgarten so for a project with multiple TFM all files would go to each of those TFMs ?

[2016-12-12 22:56] infin8x commented on #4093
Note on 2, the bad request is likely due to a missing -ApiKey vsts in your push command.

[2016-12-12 22:57] rohit21agrawal commented on #3935
@piotrpMSFT @maxim-boligatov closing this, since this is a pretty easily achievable scenario with the msbuild based dotnet pack. feel free to msg me/comment here if there are any issues. The spec is available at :

https://github.com/NuGet/Home/wiki/Adding-nuget-pack-as-a-msbuild-target#including-content-in-package

[2016-12-12 22:57] #3935 closed, assigned to rohit21agrawal

[2016-12-12 23:10] joelverhagen commented on #3968
#3874 is unrelated but this definitely seems like a bug worth fixing. I can't imagine how this is desired (or understandable to the user) functionality.

[2016-12-12 23:10] rohit21agrawal commented on #3895
@harikmenon @rrelyea it's not clear at all what the problem is here.

[2016-12-13 00:05] zhili1208 commented on #4093
Yes, On windows, by providing -ApiKey vsts, push will work.
For dotnet nuget push, create a nuget.config which contains PAT in current directory, push will work.
Mono still doesn't work

[2016-12-13 00:05] zhili1208 opened #4095 "Dotnet nuget push can't find credential from global nuget.config"

[2016-12-13 00:05] zhili1208 commented on #4093
Opened related: #4095 Dotnet nuget push can't find credentail from global nuget.config

[2016-12-13 01:53] jainaashish commented on #4028
It's fixed. But DPL restore code is not yet checked in. It will be checked in as part of RC3.

[2016-12-13 07:34] maartenba commented on #3968
Well, if you have project A and project B and they require the same version number at all times (fixed dependency), this is kind of very useful :-)

[2016-12-13 08:01] AndyTian-Devops opened #4096 "[Test Failure]Can not install "Azure.Storage" and "Microsoft.WindowsAzure.ConfigurationManager" packages on UWP project"
**NuGet version**: 4.0.0.2098

**VS version** : 26009.00

**OS version** : Windows 10 RS1_Release 14393

**Repro steps:**
1. Create a C# UWP Blank App
2. Open PM UI.
3. In Browse tab, search "Azure.Storage" and "Microsoft.WindowsAzure.ConfigurationManager" package.
4. Install these two packages.

**Expected:**
Packages should be installed successfully.

**Actual:**
Install fail.
![azurestoreage](h

[2016-12-13 08:26] v-luzh opened #4097 "[Test Failure] Build restore failed after setting DPL"
**NuGet Version:** NuGet 4.0.0-xprivate-2974
**VS Version:** D15Rel 26009.00
**OS Version:** Windows 10 RS1_Release 14393.591.161206-1757

**Repro Steps:**
1.	New a Visual C#->Windows Classic Desktop->Console App (.NET Framework) template.
2.	Right-click on the project and click ‘Manage NuGet Packages…’.
3.	Install a package, save the solution.
4.	Manually delete the package from solution package

[2016-12-13 10:11] AndyTian-Devops commented on #4096
This issue a feedback from Azure and Web test team. They need to test these packages works well on UWP project, but they meet the  error when installing them.

[2016-12-13 12:17] tomkuijsten commented on #4066
Thanks for the links, really helpful. I'm convinced that moving to `project.json` would solve a lot of issues, but there are two things holding me back:
- The new `PackageReference` way is coming to all project types, if that's released soon, I'll rather wait for this official support
- I can't generate correct packages due to #3566 (which is not fixed in the latest 4.0 nuget)

What would you reco

[2016-12-13 13:49] moonir01 commented on #4039
@rrelyea problem solved im just change os Windows 8.1 32 bit  to 64 bit

[2016-12-13 13:49] #4039 closed, assigned to nobody

[2016-12-13 14:31] ghost commented on #3935
@rohit21agrawal
Thanks... I will need to investigate it and be ready for msbuild.
Only one question. How soon can we get it for using in production?

[2016-12-13 15:43] SabotageAndi commented on #2449
Any news on this issue?

[2016-12-13 15:57] rohit21agrawal commented on #3935
@maxim-boligatov
@rrelyea will be better able to comment on the timeline. If I am not wrong, the RTM for tooling is somewhere around February.

Please feel free to ask any questions if you have any issues with using the msbuild based dotnet pack.

[2016-12-13 16:02] rrelyea commented on #4097
I'm trying to stop using the term DPL, using LSL instead: "Lightweight solution load", which is what they ended up calling the feature.
Anyway, with what we shipped in RC1 and RC2, this is by design.

This will improve with the work that you guys have helped to test from @jainaashish -= but that isn't checked in yet.

[2016-12-13 16:02] #4097 closed, assigned to nobody

[2016-12-13 16:04] rrelyea commented on #4096
TODO: Contact that group.

[2016-12-13 16:08] rrelyea commented on #4091
It looks like your command line is looking for msbuild version 12, but the error complains that you are loading v14.
Did this work with a previous version of NuGet.exe? Which one?
Or have other things changed too?

[2016-12-13 16:10] rrelyea commented on #4089
Thanks for the report. We'll put this in our queue. Won't fit in 4.0, but we want to continue to chip away at scenarios like this.
@jainaashish - feel free to help answer some of these questions if you can do quickly.

[2016-12-13 16:12] rrelyea commented on #4088
Appreciate the report. Can you please give us some repro steps, so when we can look at this, we'll have the appropriate info to start with?

[2016-12-13 16:17] rrelyea commented on #2449
Sorry, none yet. It is in the future-1 milestone, which means we cannot afford to look at right now.

In general, also, we are working hard to enable a new PackageReferences model which builds on top of UWP-style project.json to solve problems such as these.

[2016-12-13 16:26] rliberoff commented on #4091
Hi Rob,

Thanks for your prompt answer.

Before NuGet CLI version 3.5.0.1938, We were using the NuGet CLI version 3.4.4.1321.

When using version 3.4.4.1321 everything works flawlessly. If We switch to version 3.5.0.1938 then the mentioned error is reported.

We though that adding the "-MsBuildVersion 12" parameter with version 3.5.0.1938 would solve the issue, but clearly that didn't worked.

We

[2016-12-13 17:50] jainaashish commented on #4003
Waiting on VS plat team to provide AnyCode APIs to get project details per TargetFramework.

[2016-12-13 17:57] nguerrera opened #4098 "Rename buildCrossTargeting/ folder to buildMultiTargeting/"
See https://github.com/dotnet/sdk/issues/486. We've decided to use MultiTargeting everywhere.

We need to figure out how to make the transition. Should we accept both for some grace period? Is it possible to find out the full set of packages on nuget.org that are affected?

@rrelyea

cc @mhutch

[2016-12-13 18:06] rrelyea commented on #4091
@zhili1208  - would be great to understand workaround...and also understand if there is a bug that we should be fixing.

[2016-12-13 18:13] zhili1208 commented on #4093
THis turns out to be working fine.
The mono problem remains and is tracked by: https://github.com/NuGet/Home/issues/3251

[2016-12-13 18:13] #4093 closed, assigned to zhili1208

[2016-12-13 18:14] jainaashish commented on #4072
Merged to Dev #467138dec16385e71eaa1263a1208cfd89803a0b

[2016-12-13 18:14] #4072 closed, assigned to jainaashish

[2016-12-13 18:16] zhili1208 commented on #3856
This is Rob on Zhi's machine -- assigning back to me for triage.

[2016-12-13 18:35] rrelyea commented on #4098
@emgarten - let's strategize on the best way
@mishra14  - can you please do a search (on packages published up to today) with any buildCrossTargeting directory in the .nupkg

[2016-12-13 18:43] aL3891 commented on #4059
[code]

[2016-12-13 18:48] jainaashish commented on #4067
Fixed with #PR https://github.com/NuGet/NuGet.Client/pull/1047

[2016-12-13 18:48] #4067 closed, assigned to jainaashish

[2016-12-13 18:49] rohit21agrawal commented on #4059
@aL3891 i tried this with the latest dotnet.exe version and latest SDK version. This doesn't repro. Could you give it a try please?

Latest NET SDK : https://dotnet.myget.org/feed/dotnet-core/package/nuget/Microsoft.NET.Sdk
Latest DOTNET.exe : https://dotnetcli.blob.core.windows.net/dotnet/Sdk/rel-1.0.0/dotnet-dev-win-x64.latest.zip

[2016-12-13 19:28] rrelyea commented on #4094
This works fine with nuget.org as the only source.
From your log, it looks like you are using 2 different myget sources.
??

[2016-12-13 19:57] #4036 closed, assigned to alpaix

[2016-12-13 20:07] #4030 closed, assigned to jainaashish

[2016-12-13 20:16] smarts opened #4099 "Dependency resolution docs should be explicit floating versions and pre-release packages"
https://docs.nuget.org/ndocs/consume-packages/dependency-resolution#dependency-resolution-in-nuget-3-x
I don't see anything there that talks about pre-release packages in the context of floating versions, and I believe the documentation should be explicit about that. (I apologize if I've missed something)
Based on the rest of the documentation, if I have version 1.9.0 and 1.10.0-beta is available,

[2016-12-13 21:19] rrelyea commented on #3399
@emgarten - did this already get fixed in 4.0?

[2016-12-13 21:21] rrelyea commented on #3909
@fubar-coder - sounds like we fixed a bug that did change the behavior. Sounds like this is the correct behavior. Can you please adapt?

[2016-12-13 21:31] fubar-coder commented on #3909
@rrelyea Yes, I'll change the libraries to the ".targets" file approach

[2016-12-13 21:37] rohit21agrawal opened #4100 "external/sdk -- dotnet pack : add language for contentFile items with BuildAction=Compile"
this is a tracking issue for : https://github.com/microsoft/msbuild/issues/2101

[2016-12-13 22:09] zhili1208 commented on #3445
looks like this is fixed in mono 4.6

[2016-12-13 22:10] zhili1208 commented on #2907
@wmeints could you try nuget 3.5? https://dist.nuget.org/win-x86-commandline/latest/nuget.exe

[2016-12-13 22:20] zhili1208 commented on #3105
@renkun-ken  Could you try nuget 3.5? https://dist.nuget.org/win-x86-commandline/latest/nuget.exe

[2016-12-13 22:47] #3922 closed, assigned to jainaashish

[2016-12-13 22:53] #3895 closed, assigned to rohit21agrawal

[2016-12-13 22:54] #3894 closed, assigned to rohit21agrawal

[2016-12-13 23:04] rrelyea commented on #3751
splitting off the removing/listing and updating parts of this work to new issues.

[2016-12-13 23:05] rrelyea opened #4101 "support for removing references into csproj from commandline(s)"
related to #3751 - the "add" work

Spec draft: https://github.com/NuGet/Home/wiki/Support-dotnet-ref-add%7Cupdate%7Cdelete-packageref

[2016-12-13 23:07] rrelyea opened #4102 "support for listing references into csproj from commandline(s)"
splitting off from #3751 - which now just covers the add side of this work

Spec draft: https://github.com/NuGet/Home/wiki/Support-dotnet-ref-add%7Cupdate%7Cdelete-packageref

[2016-12-13 23:07] rrelyea opened #4103 "support for bulk-updating references into csproj from commandline(s) - dotnet package update"
splitting off from #3751 - which now just covers the add side of this work

Initial spec: https://github.com/NuGet/Home/blob/dev/accepted/2024/package-update-command.md

Board: https://github.com/orgs/NuGet/projects/13/views/30

[2016-12-13 23:08] rrelyea commented on #4103
since add will support "update", we'll prioritize this task as the lowest of the 4:
1) add 2) remove 3) list 4) update

[2016-12-13 23:16] #3909 closed, assigned to jainaashish

[2016-12-13 23:43] kentcb commented on #4094
@rrelyea aha! OK, this is the source that was causing the issue:

![image](https://cloud.githubusercontent.com/assets/1901832/21163643/393e5874-c1e4-11e6-9423-53e314de9f72.png)

Once I disabled that, the restore worked. I will edit the repro steps accordingly. Also, it would be nice if the output included the details of the source whose path is not supported. That would have made the workaround su

[2016-12-13 23:56] rrelyea commented on #4073
discussed with @zhili1208 -- this should be addressed as part of fixing #3584

For now, when you pack on Linux on mono, if you use forward slashes it works ideally.
When you pack on Windows, if you use backward slashes, it works ideally.
Not a great situation -- and it likely impacts dotnet pack also.

[2016-12-13 23:58] rrelyea commented on #4073
@zhili1208  - as I think about this more...
How badly impacted is Pack with dotnet.exe? Could we fix this one bug and be in good xplat shape for dotnet Pack and nuget pack on mono?
If it would be smallish fix to address just pack, we should consider before 4.0 ships.
/cc: @rohit21agrawal

[2016-12-14 00:15] rrelyea commented on #4091
We did some work in NuGet 3.5.0 to deal with the major changes in VS 2017, which includes support for side by side install of VS and msbuild. No MsBuild is in the gac anymore.

Workaround - install Msbuild v14 on your machine. This will allow NuGet 3.5.0 to find msbuild v12 well.
(I think this is the right place to do that from: https://www.microsoft.com/en-us/download/details.aspx?id=48159)

Our

[2016-12-14 01:35] natemcmaster commented on #4063
Is there any way we can workaround this in RC.2 bits? If not, this will likely cause major pain while trying to upgrade aspnet to vs2017. We liberally use floating versions e.g. `1.2.0-*`, but the nuspec contains `1.2.0--` on pack.

[2016-12-14 03:57] #3968 closed, assigned to nobody

[2016-12-14 05:43] emgarten commented on #3399
@rrelyea I think so, if not I'll make sure we do along with the content files change with tests.

[2016-12-14 06:15] emgarten commented on #4066
To use PackageReference with Visual Studio you will need 2017. It will not be supported in 2015, so that may help you decide which to use.

[2016-12-14 07:17] v-luzh commented on #3686
@zhili1208, This issue is fixed on D15Rel 26009.00 and D15PreRel 26013.05.

[2016-12-14 08:43] v-luzh commented on #4028
It is fixed on D15PreRel 26013.05+NuGet Client 4.0.0-RC3-2130.

[2016-12-14 08:55] v-luzh opened #4104 "[Test Failure] Fail to update package in C# .NET Standard Class Library App with an error"
**NuGet Version:** NuGet 4.0.0-RC3-2130
**VS Version:** D15PreRel 26013.05
**OS Version:** Windows 10 RS1_Release 14393.607.161209-1855

**Repro Steps:**
1.	New a Visual C#->.NET Core->**Class Library (.NET Standard)** template.
2.	Right-click on the project and click ‘Manage NuGet Packages…’.
3.	Click ‘Updates’ tab, select a package and click update button.

**Expected Result:**
The package updat

[2016-12-14 09:36] yyjdelete opened #4105 "Condition is not considered by Update-Package with multi TargetFrameworks"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): `Package Manager Console`

NuGet version (x.x.x.xxx): `4.0.0.2098`

dotnet.exe --version (if appropirate):`1.0.0-preview4-004233`

VS version (if appropriate):`VS2017 RC.2(15.0.26009.0)`

OS version (i.e. win10 v1607 (14393.321)):`win10 v1607 (14986.1000)`

Worked before? If so, with which NuGe

[2016-12-14 09:42] aL3891 commented on #4059
I got a login prompt when I tried go to that myget, but i'm not sure what to log in as. (its odd because im pretty sure i've been able to get at those packages in the past)

Also, how do you set the sdk version now that the csproj has a sdk attribute? just add it as a regular nuget reference?

I had the strangest when i repo:d this on another machine btw, it sometimes did work, but then the projec

[2016-12-14 14:34] chrisalexander opened #4106 "Additional configuration options for specifying dependency versions when using IncludeReferencedProjects"
## Details about Problem

NuGet product used NuGet.exe

NuGet version (3.5.0.1938):

dotnet.exe --version (if appropirate): (not appropriate)

VS version (if appropriate): (not approproate)

OS version (i.e. win10 v1607 (14393.321)): Win10 v1511 10586.545

Worked before? If so, with which NuGet version: No

## Detailed repro steps so we can see the same problem

1. Create two projects, one of whic

[2016-12-14 16:05] Emyr42 opened #4107 "Project.json docs page contains link-to-self for Dependency Resolution."
https://docs.nuget.org/ndocs/schema/project.json

Section "Dependencies", last paragraph "See dependency resolution document for more details on resolution rules."

The link refers to the current page.

[2016-12-14 16:27] The-Futurist opened #4108 "Unfathomable"
Once again I find NuGet support in Visual Studio (2015) very poor, how Microsoft are adopting this as a backbone system is beyond me.

Here's a message I got when trying to update to the latest versions of some internal packages:

_Unable to find a version of 'Ncu.Common' that is compatible with 'Ncu.Common.Data 2.0.48 constraint: Ncu.Common (>= 1.1.0)', 'Ncu.Common.GradeAppeals 1.0.4.1 constraint

[2016-12-14 17:21] rohit21agrawal commented on #3953
@jgoshi @piotrpMSFT 1) & 2) seem to have been fixed in latest versions of pack and sdk. Would appreciate if you could verify it.

as for 3) and 4) seem to be expected behavior, still discussing if we need to fix them.

[2016-12-14 17:23] rohit21agrawal commented on #4052
@nickverschueren properties like $version$ need to be passed on the command line using the Properties flag if you want them to be replaced in the nuspec file.

[2016-12-14 17:56] jainaashish commented on #4089
`Why isn't this dependency information computed and saved at the time the package is published or installed?`
because package dependencies can change with newer versions so we need to compute dependencies with every new version or update.

`Why does it take 15 or more minutes to fail to get the dependency information if I have inadvertently selected the wrong nuget source?`
It basically try and ge

[2016-12-14 18:28] pvandervelde commented on #3438
@yishaigalatzer Is there any word on when there will be a stable version of the API? 3.5 has been released a while ago and the development for 4.0 has already started. Can you please release a stable (i.e non-preview) version of 3.5.0 or 3.4.4.

[2016-12-14 18:34] kraigb opened #4109 "[documentation] Add docs on finding .NET Core packages"
See https://github.com/dotnet/docs/issues/678

[2016-12-14 18:34] kraigb commented on #4109
Karan--please assign this to me and add Type:Docs

[2016-12-14 20:10] joelverhagen opened #4110 "nuget.exe package my.nuspec -symbols excludes content and tools from symbols package"
This seems weird. Shouldn't the symbols package be a superset of the original package?

Why are `tools` and `content` treated special?

https://github.com/NuGet/NuGet.Client/blob/fc119198b72255267879ec0f2c3f9748de7d357c/src/NuGet.Core/NuGet.Commands/CommandRunners/PackCommandRunner.cs#L57-L60

[2016-12-14 20:15] rohit21agrawal commented on #4059
@aL3891 you can just remove the SDK attribute, and add a package reference to the latest SDK version.

classlibrary2.dll will not end up in the nuget package - that is expected behavior. You will have a package reference to classlibrary2 in the nuspec generated in your nupkg.

[2016-12-14 20:32] NickCraver commented on #3438
Pretty sure he's on vacation at the moment, @rrelyea @emgarten  can you take a look please?

[2016-12-14 21:26] nickverschueren commented on #4052
@rohit21agrawal: I disagree: [The documentation](https://docs.nuget.org/ndocs/quickstart/create-and-publish-a-package#create-the--nuspec-package-manifest-file) states that:

This works for normal .NET and PCL-libraries, but not for NETStandard libraries. Although you are right that the version etc. _can_ be passed from the command line, that is not the specific use case.

[2016-12-14 22:19] rohit21agrawal commented on #4052
@nickverschueren my bad, i thought you were packing using the nuspec file. giving this a try on my end.

[2016-12-14 23:17] #3633 closed, assigned to alpaix

[2016-12-14 23:19] alpaix commented on #3789
Resolved with NuGet/NuGet.Client#1052.

[2016-12-14 23:19] #3789 closed, assigned to alpaix

[2016-12-14 23:19] alpaix commented on #3835
Resolved with NuGet/NuGet.Client#1052.

[2016-12-14 23:19] #3835 closed, assigned to alpaix

[2016-12-14 23:20] alpaix commented on #3884
Resolved with NuGet/NuGet.Client#1052.

[2016-12-14 23:48] emgarten commented on #3438
3.5.0 is available on nuget.org now, enjoy! 📦 📦 🎉

[2016-12-14 23:48] #3438 closed, assigned to nobody

[2016-12-14 23:50] NickCraver commented on #3438
\o/ Thanks @emgarten!

[2016-12-15 00:04] rohit21agrawal commented on #4052
@nickverschueren upon further investigation, it turns out that if building a project targeting netstandard, asssembly metadata extraction fails,  because nuget.exe tries to load system.runtime version 4.1.0 which is not present in the local path or the gac.

As a workaround , you could try gac'ing that version of system.runtime. Other alternative would be to use command line to pass the appropriat

[2016-12-15 00:08] rohit21agrawal commented on #4077
potential dupe of : https://github.com/NuGet/Home/issues/3891

moving out to future.

[2016-12-15 00:13] natemcmaster commented on #4063
Workaround for RC.2: add this to your project
[code]

[2016-12-15 00:14] rohit21agrawal commented on #3934
this seems to be the right behavior. @emgarten thoughts?

[2016-12-15 00:23] emgarten commented on #3050
I like the idea of **-verbatim** or possibly **-verbatimversion** for pack to keep nuget from trying to help out here.

Making non-normalized opt-in instead of by default makes sense for most users I think. It helps avoid duplicates having in the same folder on disk and the confusing builds that can result from that.

[2016-12-15 00:30] rrelyea opened #4111 "VSFeedback: Update of Microsoft.Owin.Security.Cookies took long time"
VS Feedback covered in internal bug 343538

[2016-12-15 00:32] rohit21agrawal commented on #3953
@jgoshi 4) is definitely the right behavior going forward. There is no change in behavior functionally, and this way we are consistent with nuget.exe pack

[2016-12-15 00:37] rohit21agrawal commented on #3891
moving to future as this is post-rtm work.

[2016-12-15 00:49] rrelyea opened #4112 "Fix grammatical mistake in restore error"
From internal bugs 296539, 343249
https://github.com/NuGet/NuGet.Client/blob/2057ef8e5d9f9219d25d0fd2e29af36755556607/src/NuGet.Clients/PackageManagement.VisualStudio/Strings.resx#L181

"DependAnt" is incorrect AFAI can tell - American English uses "dependent" and not "dependant", and latter when used, is only for a noun not an adjective.
See: http://english.stackexchange.com/questions/11310/what-

[2016-12-15 00:54] rrelyea opened #4113 "VSFeedback: Restore errors can obscure more complete error messages that build could give"
VSFeedback: https://developercommunity.visualstudio.com/content/problem/4056/build-errors-are-not-displayed-as-errors-in-case-o.html

Internal bug with data from Roslyn team: 296518

If you try to build and run a project (.NET 4.0) which references 4.5 assemblies, you get the status message "errors while building". However, the error log remains completely empty. Only if you make the warning list

[2016-12-15 01:04] rohit21agrawal commented on #3934
@piotrpMSFT  dotnet pack relies on SourceFilesProjectOutputGroup target from msbuild to provide all the source files that should be included in the nuget package. looks like the target doesn't include cs files from shared src nuget packages. this probably needs to be fixed on the msbuild side.

[2016-12-15 01:14] rohit21agrawal commented on #4054
@gulbanana our latest builds have a new command line param for the pack command :

-MSBuildPath                         Specifies the path of MSBuild to be used with this command. This command will take precedence over MSbuildVersion, nuget will always pick MSbuild from this specified path.

you can also use -MSBuildVersion 15 to make it pick the msbuild that comes with VS2017 RC
This should fix y

[2016-12-15 01:26] rohit21agrawal commented on #3692
@mhverbakel  The expected behavior is that nuget should error if any package listed in packages.config is not present in the packages cache directory. NuGet 3.5.0-rtm has this fixed and works as expected. You can give it a try at  https://dist.nuget.org/win-x86-commandline/latest/nuget.exe

[2016-12-15 01:27] #3692 closed, assigned to rohit21agrawal

[2016-12-15 01:42] rrelyea opened #4114 "VSFeedback: Restore fails for a VS 2015 project generated with CMake 3.7.1"
VSfeedback item: https://developercommunity.visualstudio.com/content/problem/7332/failed-to-resolve-all-project-references.html

Internal bug: 299366

When opening a VS2015 community solution (platform toolset = v140) , generated with CMake 3.7.1, any build operation fails with "Failed to resolve all project references. ". This does NOT happen when generating the v141 project files. Please note al

[2016-12-15 01:43] rohit21agrawal commented on #3701
closing as the behavior looks good

[2016-12-15 01:43] #3701 closed, assigned to rohit21agrawal

[2016-12-15 02:39] pvandervelde commented on #3438
Awesome! Thanks heaps guys

[2016-12-15 03:19] gulbanana commented on #4054
Great, I'll try that out

[2016-12-15 03:51] bbowman commented on #4066
@emgarten @davidfowl Any update on when this is coming to .vcxproj? As a related question, will PackageReference support the ability to use one nuget package's build injection when describing a second PackageReference? The *crazy* scenario I'm thinking about is using @kzu 's https://github.com/kzu/GitInfo/ to construct a package dependency version based on the current git tag to solve some local d

[2016-12-15 04:51] gulbanana commented on #3891
building a nupkg from multiple projects seems like a major feature to be missing :/

[2016-12-15 08:13] qbprog commented on #4114
The issue is more complex than it appeared. It may be an error of cmake instead.
See this example: if you extract to C:/Hello , you'll find the projects in C:/Hello/BuildFiles/ , just open these with VS2017 RC2 and don't upgrade.

In this project the project reference error happens also with the english language pack. Note also that I' don't have Visual C++ Cmake tools installed (only the official

[2016-12-15 09:09] gjsduarte commented on #3113
+1

[2016-12-15 09:54] nickverschueren commented on #4052
@rohit21agrawal Thanks for the hint. That seems to have solved the issue for now. Although I didn't add the System.Runtime dll to the GAC on our build server, I created a nuget.exe.config with a probing/privatePath and bindingRedirect instead.
It would be nice to have an option on the CLI to allow me to specify a location for the System.Runtime assembly so that I can have that as a parameter in my

[2016-12-15 16:25] rohit21agrawal commented on #4052
Feel free to file an issue for the same. Closing this issue for now

[2016-12-15 18:42] enricosada commented on #1365
didnt forget about it, i'll send a PR max this weekend

[2016-12-15 18:53] rohit21agrawal commented on #3891
@gulbanana thanks for the feedback. this is something that is not planned for the 4.0 RTM release, but this is something we will definitely address in a future release.

[2016-12-15 20:39] MaximRouiller commented on #4040
Running latest ReSharper update.

**Version:** 2016.3

`%userprofile%\AppData\Local\Temp\NuGetScratch` ain't growing anymore. Project loading is also faster.

Please update your ReSharper to the latest update.

[2016-12-15 20:43] MaximRouiller commented on #4040
Also... time to do one final cleanup. 😉

[2016-12-15 20:45] emgarten commented on #4098
NuGet can support both folder names for a time.

[2016-12-15 20:47] TheRealPiotrP commented on #3934
@pranavkm who opened the original issue
@nguerrera who can better comment on `SourceFilesProjectOutputGroup`

[2016-12-15 20:59] bbowman commented on #3891
@kzu 's nugetizer 3000 does this?

[2016-12-15 21:03] emgarten commented on #4108
Does version 1.2.1 of Ncu.Common exist in one of your internal sources?

This part is handled by Visual Studio. NuGet adds a reference to the project file, it sounds like other problems are preventing it from being resolved correctly here.

[2016-12-15 21:08] pranavkm commented on #3934
The original work item was filed when we were working with project.json. @natemcmaster has been switching `shared` src projects to projects with `contentFiles`. Does the problem reproduce for packages with content files?

[2016-12-15 21:11] rohit21agrawal commented on #3934
@pranavkm contentFiles is still ongoing work for restore. We checked in changes to pack to support contentFiles out of box a couple days ago, but there is still an open issue against it:
https://github.com/NuGet/Home/issues/4100

[2016-12-15 21:29] NReilingh opened #4115 "Is NuGet supported for use outside of Visual Studio?"
I'm a SQL Server DBA and find myself in need of a package management solution. I've been trying to learn as much as I can about NuGet. The introductory material I found at places like Pluralsight seemed to indicate that, while there was a GUI plugin for NuGet in Visual Studio, the command line tools could be used outside of VS. I spend most of my time in SSMS, and while I recognize that NuGet GUI

[2016-12-15 22:21] agbrown-bp commented on #4091
+1 on this exact error message. Except we aren't doing anything with TFS and we hit it for the `nuget.exe restore` command.

For us this happens on a machine with only VS2013 installed, which runs msbuild v12 from the command line via batch script for a build. Part of the batch script pulls nuget.exe from `https://dist.nuget.org/win-x86-commandline/latest/nuget.exe`. Once it started automatically

[2016-12-15 22:42] natemcmaster commented on #3953
Which versions? I can verify this is still happening in CLI 1.0.0-preview4-004233 (RC.2)

[2016-12-16 00:08] smarts commented on #4099
Would you mind providing an explanation in lieu of the updated docs for now? That way I can decide whether I want another issue for a feature request or not.

[2016-12-16 05:33] emgarten commented on #4115
@NReilingh take a look at https://github.com/NuGet/Home/issues/4066

[2016-12-16 05:55] emgarten commented on #3807
The current move fix seems to have resolved this. Adding extra locking for restore in Visual Studio would mean that restores done from the command line would not be protected, which is a problem. If there are remaining issues it should be fixed in the project system ideally.

[2016-12-16 05:57] emgarten commented on #3807
@rrelyea moving this to you for tracking

[2016-12-16 06:41] AndyTian-Devops commented on #4096
@rrelyea Could you help us close this bug? Azure and Web test team open a VSO bug 359534 to track it.

[2016-12-16 06:47] tomkuijsten commented on #4066
@bbowman that's a different question, think it's best if you create a new issue for that to keep this thread on-topic

[2016-12-16 06:56] tomkuijsten commented on #3566
Any timeline updates? Really waiting for this as it would enable me to move to project.json for all my projects.

I just tested with 4.0 rc3, but it's still using the folder name.

[2016-12-16 07:01] tomkuijsten commented on #4066
@emgarten that doesn't really help me, we have 2015 now, but tend to move to 2017 once it's released. This #3566 issue is holding me back right now.

[2016-12-16 09:00] emgarten opened #4116 "Lock file empty if restore fails"
Restore should write out as much info as possible to the lock file. Currently the result depends on if packages are in the global folder or not. The problem today has two parts:
1. If any errors occur during restore the package installation step is skipped
1. When writing the lock file only installed packages are written

This leads to:
If the global packages folder is empty and restore fails, the

[2016-12-16 10:25] agbrown-bp commented on #4091
@rliberoff Would you be happy to edit the title of this issue to the more general "_nuget.exe does not work with msbuild 12 as of 3.5.0_"? I think it better reflects the actual issue which we now know is not specific to TFS 2013.

[2016-12-16 10:29] agbrown-bp commented on #3975
related, but with different versions of msbuild and nuget: #4091

[2016-12-16 11:15] AGBrown opened #4117 "dist.nuget.org download urls are case sensitive and inconsistent across versions"
## Details about Problem

NuGet product used: NuGet.exe

NuGet version: various

## Detailed repro steps so we can see the same problem

When downloading from `https://dist.nuget.org/win-x86-commandline/<version>/NuGet.exe`, the package naming is inconsistent with regard to case, but the web server is case sensitive. It is not possible therefore to write a simple script which can take a version pa

[2016-12-16 18:35] natemcmaster commented on #3904
Instead of removing completely, could dotnet-nuget-pack pivot to only supporting nuspec files?

dotnet-pack is meant for packing MSBuild projects. If users only have a nuspec file, it seems unnecessary to require adding an MSBuild file in order to call [`PackNuspecTask`](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Build.Tasks.Pack.Library/PackNuspecTask.cs). And furthermore

[2016-12-16 19:02] emgarten commented on #4117
@AGBrown Thanks for pointing this out and the table of version casings. We'll investigate to see how this could be improved/fixed on dist.

//cc @skofman1 @joelverhagen

[2016-12-16 19:08] emgarten commented on #3904
Good point on packing nuspecs, we should support that xplat if possible. I would expect dotnet pack to be the entry point for this. What you are seeing with dotnet nuget pack is the old entry point from preview2. It isn't going to be supported going forward.

This sounds like an issue with the top level dotnet pack command, it should have the same optional parameters that can be converted into msb

[2016-12-16 19:21] natemcmaster commented on #3904
Yes, definitely in favor of dropping the 'pack project.json' piece of this. It's the packing a nuspec w/o MSBuild scenario I'm most interested in.

I'm not sure dotnet-pack is the right place for this as its [current implementation](https://github.com/dotnet/cli/blob/806d5a2589bcb6993a3c44650df0d30a613ce0e1/src/dotnet/commands/dotnet-pack/PackCommand.cs) is designed to always invoke MSBuild...henc

[2016-12-16 19:43] joelverhagen commented on #4117
dist.nuget.org is living directly on Azure blob storage which has case-sensitive URLs. Thanks for the report @AGBrown. I'm going to move this to the server-side bug tracker so the server team has better visibility.

[2016-12-16 19:43] #4117 closed, assigned to nobody

[2016-12-16 19:43] joelverhagen commented on #4117
Issue moved to [NuGet/NuGetGallery #3426](https://github.com/NuGet/NuGetGallery/issues/3426) via [**ZenHub**](https://www.zenhub.com/)

[2016-12-16 19:53] emgarten commented on #3399
Related to https://github.com/NuGet/Home/issues/4116

[2016-12-16 19:59] shubham90 opened #4118 "Nuget List with two VSTS feeds as source fails with auth error"
**NuGet product used:** Nuget.exe

**NuGet version** : 3.5.0.1938 , 4.0.0.2135

**OS version**: Win10

**Worked before? If so, with which NuGet version:** Yes, Nuget 3.3

**## Detailed repro steps so we can see the same problem**

1. We are using vsts credential provider for auth. On a command line, do a "nuget list -source foo -source bar -allversions -noninterative"
where foo and bar are differe

[2016-12-16 20:02] bbowman opened #4119 "PackageReference with Package build injection."
will PackageReference support the ability to use one nuget package's build injection when describing a second PackageReference? The crazy scenario I'm thinking about is using @kzu 's https://github.com/kzu/GitInfo/ to construct a package dependency version based on the current git tag to solve some local development / CI issues with picking up the latest package. @natemcmaster may be interested he

[2016-12-16 20:02] bbowman commented on #4066
created https://github.com/NuGet/Home/issues/4119 so separate out the other question.

[2016-12-16 20:43] emgarten commented on #4119
This is explicitly blocked at restore time to avoid requiring multiple restores. Package dependencies need to be defined in the nuspec.

See https://github.com/NuGet/Home/issues/4013 for more info

[2016-12-16 20:50] emgarten opened #4120 "Hashing support for targets/props"
Checking if targets/props files have changed is currently done with simple string comparisons. This should be done by hashing the files instead or comparing the XML if possible.

[2016-12-16 21:00] bbowman commented on #4119
@emgarten Slightly different ask here. I was hoping to do something "fancy" where the version of a package I depend on is influenced by my current branch. For instance, when building master branch to ship externally (perhaps as an app not even as a nuget package), it would be nice to switch over all my dependencies to stable ones. When building develop, though, it would be nice to depend on the la

[2016-12-16 21:11] emgarten commented on #4119
This is the same ask. If a new PackageReference appeared after restore completed you would need to restore again.

Yes, that would be a good way to do this, and at that point it is all MSBuild. Restore just evaluates the project to find all PackageReferences. You can hook this up in your project however you want, it just can't rely on things downloaded by restore since those won't be there at the

[2016-12-16 21:17] bbowman commented on #4119
@emgarten any comment on the local PackageReference idea?

[2016-12-16 21:18] emgarten commented on #4112
dupe of https://github.com/NuGet/Home/issues/4018

[2016-12-16 21:18] #4112 closed, assigned to emgarten

[2016-12-16 21:21] emgarten commented on #4119
@bbowman I'm not clear on what you are asking for there. You want a reference to a project?

[2016-12-16 21:44] bbowman commented on #4119
@emgarten @mishra14 @rrelyea  I am envisioning extending https://github.com/NuGet/Home/wiki/PackageReference-Specification as follows:

[code]

That would would help with the project/package duality. The idea being that at restore time, it would build the project at the path and use the produced package in the restore.

Alternatively, I could see:

[code]

being used in the restore target (I suppo

[2016-12-16 22:29] #4018 closed, assigned to emgarten

[2016-12-17 05:06] blackdwarf commented on #3904
@natemcmaster @emgarten why is there a difference between these two commands in terms of inputs? Sorry if this is slightly off-topic, but since we are talking about potential changes to `dotnet nuget pack` it seems like a good place/situation to ask.

When we were doing the UX labs on the MVP summit, for example, most of the people we talked to were confused with the fact that `dotnet pack` and `d

[2016-12-17 05:07] #3683 closed, assigned to emgarten

[2016-12-17 05:07] #3928 closed, assigned to emgarten

[2016-12-17 05:07] #4098 closed, assigned to emgarten

[2016-12-17 05:07] #3399 closed, assigned to emgarten

[2016-12-17 05:07] #4116 closed, assigned to emgarten

[2016-12-17 05:10] emgarten commented on #3904
There shouldn't be. The plan is to remove ``dotnet nuget pack``, it is confusing to have both. The old preview2 entry point within nuget just hasn't been deleted yet.

[2016-12-17 05:25] blackdwarf commented on #3904
@emgarten oh. OK then. 😄 That makes sense.

[2016-12-17 15:59] MosheL opened #4121 "Nuget 3.4.x failed when Windows use an Hebrew Date on Regional Settings"
I was suspect that the #2798   is on IIS, you was suspect hebrew Windows, I was tried a diffrent user account and I was foud on the end:

Hebrew Date (on Regional settings)

I was switched to Gregorian date, and then the NuGet was started working. the other user account on the same machine did not use the Hebrew Calendar.
I suspect the `"` is the problem, as the current date is י"ז כסלו תשע"ז. thi

[2016-12-17 17:25] AArnott opened #4122 "NuGet.Build.Tasks.Pack.dll shipped delay signed in VS2017 (d15rel 26014.00)"
On a machine without \\\\vspreinstall\preinstall\preinstall having run:

Create a .NET Core project.
Try to package it.
The build fails because NuGet.Build.Tasks.Pack.dll is delay or test signed:

ken=31bf3856ad364e35' or one of its dependencies. Strong name validation failed.

[code]

[2016-12-17 18:04] AArnott commented on #4122
Apparently at least one other assembly is also not fully signed: NuGet.Commands

[2016-12-17 18:33] davidfowl commented on #4119
We plan to support this via project references.

/cc @srivatsn @dsplaisted

[2016-12-17 19:34] AArnott opened #4123 "NuGet package references can't influence NuGet package build for VS2017 SDK builds"
When I have a `PackageReference` in my msbuild project that includes msbuild imports, they are imported with xml such as this:

[code]

But this means my imports are only imported on the target framework compilation builds. In particular, they are _not_ imported for the `Pack` target, which runs on the original project where `$(TargetFramework)` has been set.

This makes it impossible to set the `

[2016-12-17 20:31] SuperJMN opened #4124 "NuGet hates Git submodules that use NuGet"
OK, here's a nasty problem I'm facing, and I'm well aware that I'm not the only one (http://stackoverflow.com/questions/18609333/nuget-package-restore-with-git-submodule).

**The situation:** I'm using Git submodules to include code from third parties. My submodules are using NuGet packages themselves.

During the build, NuGet tries to restore all the packages in my solution, including the ones fr

[2016-12-17 21:49] aL3891 commented on #4059
if that is the design, there's another bug because the when I do get the error, dotnet pack is trying to add classlibrary2 to the package..

It also seems like a little odd to force each assembly to be its own package.. my base library is not useful on its own, having to publish that as a separate package feels really strange

[2016-12-17 21:55] aL3891 commented on #4059
adding the sdk nuget gave me the following when building:

[code]

my project file looks like this:

[code]

[2016-12-18 03:29] gulbanana commented on #3904
I'm currently using dotnet nuget pack as a way to get access to the non-Core packing capabilities of nuget.exe but using the *version* of nuget which comes with an sdk so that it can process p2p references *to* Core projects. Is there a better way to do this? For the foreseeable future we're going to need support for situations like this:

- Solution contains two projects
- Project 1 - .NET Standa

[2016-12-18 05:03] AArnott opened #4125 "PackageReference should support DevelopmentDependency metadata"
`msbuild /t:pack` fails when building a stable versioned package that depends on an unstable one, even though that unstable one is a DevelopmentDependency:

1. Create .NET Core console app
1. Add this package reference
[code]
1. Pack the project with `msbuild /t:pack`

Build fails with a crashed MSBuild task with this message:

 The "PackTask" task failed unexpectedly.\r [C:\Users\andre\OneDrive\D

[2016-12-18 05:11] davidfowl commented on #4125
You're aiming to have this package excluded from the output package right?

[2016-12-18 06:14] AArnott commented on #4125
Correct: no dependency, no embedding.
And thus no restriction on using unstable packages while building a stable one.

[2016-12-18 07:22] emgarten commented on #4123
@AArnott copy your targets file to ``buildCrossTargeting\NerdBank.GitVersioning.targets``

``buildCrossTargeting`` is used for the outer build.
``build`` is used for the TFM specific inner build.

I'm not sure if bringing this in through a package will work long term. NuGet evaluates the project version at restore time before packages have been downloaded. If a package changes the identity or depe

[2016-12-18 07:54] emgarten commented on #4125
PrivateAssets is the equivalent.

[code]

[2016-12-18 09:09] TheRealPiotrP opened #4126 "add `dotnet nuget <add|remove|update|disable|enable|list> source` command"
Update on 2/6/2020 from @rrelyea:
Fixed with: https://github.com/NuGet/NuGet.Client/pull/3206
Spec link: https://github.com/NuGet/Home/wiki/Add-nuget-sources-command-to-the-dotnet-CLI

-----
Original text:

Moving from https://github.com/dotnet/cli/issues/5053#issuecomment-267794961 on behalf of @meichtf, @emgarten.

----

## Steps to reproduce
try to add a username/ClearTextPassword in the dotnet

[2016-12-18 20:06] AArnott commented on #4125
Thanks @emgarten. Should that be a default then when the package's own nuspec sets DevelopmentDependency=true?

Also, I'm _guessing_ that's not quite equivalent to what we have in project.json (in an MSBuild project). I can add a package dependency to a developmentDependency package and that propagates across project references (as I usually want), yet that doesn't limit my ability to compile thos

[2016-12-18 20:08] AArnott commented on #4123
Thanks. I'll try the `buildCrossTargeting` approach.

How would the project/package Version impact package restore? Whether my project is version 2.0, 3.0, or 3.0-beta5, I would expect restore results to be equivalent. So if one of those packages, being restored, changes the version of the importing project, I fail to see the problem.

[2016-12-18 20:17] AArnott opened #4127 "Install-Package results in error dialog in VS2017 RC"
Build: d15prerel 26015.8

1. Create a new .NET Core C# console app
1. Open the project file in the editor while it's still open, using the new "Edit ConsoleApp1.csproj" command.
1. Open the NuGet PackageManager Console.
1. Execute `Install-Package Validation`  (I personally used `install-package -source C:\git\Nerdbank.GitVersioning\bin\Debug\ nerdbank.gitversioning -version 1.5.61-g1ac9af822c` bu

[2016-12-18 21:07] AArnott commented on #4123
@emgarten just to follow up, using `buildCrossTargeting` worked for me.

[Nerdbank.GitVersioning 1.5.62](https://github.com/AArnott/Nerdbank.GitVersioning/releases/tag/v1.5.62) has the fix, and a workaround till https://github.com/NuGet/NuGet.Client/issues/1064 is merged.

[2016-12-18 21:07] #4123 closed, assigned to nobody

[2016-12-19 01:52] SimonCropp opened #4128 "nuget pulls down unrelated packages"
NuGet VS extension 3.5.0.1996

VS version 2015 update 3

OS version win10

installed json .net and got the following log

[code]

package config

[code]

[2016-12-19 01:58] SimonCropp commented on #4128
the contents of https://api.nuget.org/v3/registration1-gz/nservicebus/index.json seems weird

[code]

but why is it even pulling down NSB when i am installing json .net?

[2016-12-19 09:33] gulbanana commented on #4054
I was able to access the correct version of nuget using `dotnet nuget pack` from preview4.

[2016-12-19 10:09] MohdIrfanKhan opened #4129 "Nuget 3.5 rtm restore failure in Jenkins"
Hi,

The build in Jenkins in failing due to Nuget Restore failure.  error MSB3073: The command ""D:\NuGet\v3.5.0-rtm\NuGet.exe" restore "..\Demo.sln" -MSBuildVersion 14 -NonInteractive" exited with code 1.  In solution project.json is used with wild cards to get the latest version of nuget package. Also here in project file nuget cache is implemented.

<Exec Command='"$(NuGetPath)" restore "%(Solu

[2016-12-19 12:03] rrelyea commented on #4129
related to your fix for passing in multiple params?

[2016-12-19 12:06] rrelyea commented on #4054
we've yet to public 4.0rc2 nuget.exe -- which has an additional fix that shouldn't need the msbuild path to be passed in. running "dotnet nuget pack" may be running the same code path.
@rohit21agrawal - thoughts?

[2016-12-19 12:15] rrelyea commented on #4128
Can you please take a quick look and help route or fix?

[2016-12-19 14:08] MohdIrfanKhan commented on #4129
In Jenkins Job configuration these parameters are working whereas in my powershell window i need to give the command like:
msbuild TestProject.proj /t:Compile /p:BuildInParallel=true /p:NugetCache="Cache"

But the issue resolves when not passing this parameter as it considers it as 'noCache'.
![image](https://cloud.githubusercontent.com/assets/16488496/21315583/e46e6134-c622-11e6-8578-e29ee4ceb59c

[2016-12-19 14:51] rnagpal commented on #3970
@jnm2
Hi Joseph, I'm running into the same issue. Did you finally got that working?
I used to have a .targets file under build subdir in my package, that Nuget V2 would import to my .csproj(net45) and I used to specify the unmanaged dlls as Content with CopyToOutputDirectory set to true and it used to work. In NugetV3(based on project.json) if I have the same structure, the .targets file doesn't g

[2016-12-19 15:07] rnagpal opened #4130 "Support for importing .targets file into .csproj in Nuget v3"
Hello All,

I'm migrating my package from Nuget v2(*.nuproj/*.nuspec) to Nuget v3(project.json) and one of thing that's not working in v3 is the automatic import of the .targets file I used to have it under the build dir. This targets files used to add the unmanaged dlls as Content files with CopyToOutputDirectory set to true. I need these native dlls alongside my managed dll.

This doesn't seem t

[2016-12-19 15:13] jnm2 commented on #3970
@rnagpal I have not, but if you are willing for the package to add a .targets to the referencing project file, just yesterday I ran across an example of this in http://stackoverflow.com/a/40652794 that might be applicable. I haven't tried it yet. (Or, it might have the same problem on NuGet v3?)

[2016-12-19 16:43] joelverhagen commented on #4128
@SimonCropp:
How are you performing the install in VS?
What kind of project do you have? Does it have a project.json?
Could you provide your project.json, if applicable?
The registration JSON for NServiceBus you provided looks reasonable. What about it seems weird?

My initial guess here is that you have `NServiceBus` or `NServiceBus.Persistence.Sql` as an existing dependency in your project (or d

[2016-12-19 19:45] dasMulli commented on #4103
Would it make sense to allow updating all package references? For a lot of dependencies, it is very quick to do sth like `dotnet update pkg --all` to begin with when updating a project.

[2016-12-19 21:27] chrisnelson commented on #3659
FYI, I was experiencing the same issue and I wrote up a whole post outlining my situation. Of course, I tried one more thing before posting and finally figured out my issue. I am posting in the event it might be helpful for the original poster or others.

I was using version 3.3.0 on our build server. I ran into an issue with a project referencing the latest AutoMapper package because that has tar

[2016-12-19 21:35] KFR42 commented on #3659
Alas, no. I am running it as nuget.exe. i have other renamed nuget exes in the same directorym could they be affecting it?

[2016-12-19 21:40] chrisnelson commented on #3659
Probably won't matter, but doesn't hurt to remove them or isolate the project file you are updating to have just the 3.5 exe file. Try adding the -verbosity Detailed to the call and see if there is anything interesting. With me, I had a warning, that when I drilled into, said it couldn't read the DLL's metadata so that is why the token replacement wasn't happening. Curious if you are having the sa

[2016-12-19 21:43] emgarten commented on #4130
@rnagpal dotnet preview2 does not support MSBuild. Try out the latest preivew4 for cross platform msbuild support.

[2016-12-19 21:45] emgarten commented on #4128
I believe this is a packages.config project from the log messages, but potentially the same thing could happen if packages were missing.

@SimonCropp can you share your full packages.config file?

[2016-12-19 22:02] joelverhagen commented on #4128
@emgarten, oh, I see. Thanks for catching that!

[2016-12-19 22:07] rohit21agrawal commented on #3904
@gulbanana for your Project 2, you should just use nuget.exe, which you can download from nuget.org/downloads .

[2016-12-19 22:55] clairernovotny commented on #4124
The only real solution to this is to use either `project.json` on those projects or the new `PackageReference` in VS 2017. The former will work on VS 2015 as I describe here: https://oren.codes/2016/02/08/project-json-all-the-things/

The "legacy" way that uses `packages.config` just can't handle this scenario (among many others).

[2016-12-19 23:35] SimonCropp commented on #4128
i can do one better :) here is the sln https://github.com/Particular/docs.particular.net/tree/master/samples/sql-persistence/simple/SqlPersistence_1

and i was using the nuget GUI in VS

[2016-12-19 23:36] SimonCropp commented on #4128
it is referencing a bunch of unstable that are not even listed

[2016-12-19 23:46] xwipeoutx commented on #4122
Is there a workaround for this if we've already installed it?

[2016-12-20 00:13] joelverhagen commented on #4128
Expected. Registration JSON has all versions (even unlisted).

I attempted the same on `ServerShared` after first uninstalling all but `NServiceBus` and was unable to reproduce the same problem. Same configuration (NuGet 3.5.0, d14u3, win10).

Do you have a minimal/isolated project I can perform the install on? Also, are cleaning/clearing anything between each repro? Maybe `nuget.exe locals -clear

[2016-12-20 01:01] bbowman opened #4131 "Nuget restore with VS2015 and wildcard prerelease packages"
I'm seeing a weird behavior with nuget restore in VS2015 (solution restore in IDE). I have a project.json that specifies:

  "dependencies": {
    "WinObjC.Frameworks": "0.2.160915-*",
  },

I correctly see it pulling in the latest WinObjC.Frameworks package which has in its nuspec:
<dependency id="WinObjC.Frameworks.UWP" version="0.2.160915-20161219144142.pr" />

The dependency package is also be

[2016-12-20 01:16] bbowman commented on #4131
FIgured it out. Was a cache issue due a previously restored version of the second package. Also pasting in xml and forgetting the code button on github is a real drag.

[2016-12-20 01:16] #4131 closed, assigned to nobody

[2016-12-20 02:18] AArnott commented on #4122
@xwipeoutx: one workaround is to execute this from an elevated VS Developer Prompt

[code]

the same for any other assemblies that have this problem.

But be sure to unregister them later (using `sn -Vu`) after the bug is fixed.

[2016-12-20 02:46] #4046 closed, assigned to emgarten

[2016-12-20 02:46] #4047 closed, assigned to emgarten

[2016-12-20 02:46] #3504 closed, assigned to emgarten

[2016-12-20 02:52] emgarten commented on #4046
@dsplaisted I've moved this property to ``RestoreProjectStyle``, if set NuGet will respect the existing value. It would be great if the SDK could set this so NuGet could use that instead of trying to determine the project type itself.

[code]

[2016-12-20 04:35] LarsKemmann commented on #3639
I just saw essentially the same error message in my VSTS Release (but with EF Core Tools preview3) during a `dotnet restore`.

In my case, the issue disappeared when I triggered the Release again.

[2016-12-20 09:04] KFR42 commented on #3659
This is what I get with detailed logging.  No warnings, just the validation error that it needs the authors.  I tried removing other renamed nuget.exe's from the folder and also tried removing some of the options from the pack and running it from within the project folder itself.  Same error every time.

C:\TFS\Core\vFuture\Core>nuget pack .\src\Core\Core.csproj -Symbols -IncludeReferencedProjects

[2016-12-20 10:22] gulbanana commented on #4054
I'm now using nuget.exe 4.0.0.2140 from the commandline package, but it still doesn't work.
[code]

The error about bin\Debug\The.Model\bin\Debug\ makes me wonder whether this is a problem discovering the path of The.Model, a .NET Core project. The reference to it from The.Model.Editor looks like this:
[code]

And here is The.Model.csproj itself:
[code]

[2016-12-20 10:25] gulbanana commented on #4054
If I remove -IncludeReferencedProjects, I get this error instead:
[code]

[2016-12-20 10:30] gulbanana commented on #3904
OK, I'm trying that. Unfortunately it doesn't work right now - see the comments here https://github.com/NuGet/Home/issues/4054

[2016-12-20 17:09] #3983 closed, assigned to kzu

[2016-12-20 17:35] rohit21agrawal commented on #4054
@gulbanana - you should use nuget.exe for non NetCore projects and dotnet.exe for netcore projects

[2016-12-20 17:36] rohit21agrawal commented on #3904
@gulbanana - use nuget.exe for non netcore projects and dotnet.exe for netcore projects

[2016-12-20 17:47] gulbanana commented on #4054
That is what I am doing, but nuget.exe does not work to pack a noncore project which *depends on* a core/netstandard project.

[2016-12-20 17:47] gulbanana commented on #3904
That is what I am doing, but nuget.exe does not work to pack a noncore project which *depends on* a core/netstandard project.

[2016-12-20 17:53] rohit21agrawal commented on #4054
@gulbanana - I ll look into this, I would really appreciate if you attached a small repro project that highlights the issue

[2016-12-20 18:34] jackmott commented on #1510
This problem occurs when not doing anything related to .net core.  You can't use SIMD in FSharp at all without manually hacking your fsproj file.

[2016-12-20 19:30] gulbanana commented on #4054
Ok, I will be able to supply a repro tomorrow.

[2016-12-20 21:44] dmumladze commented on #2489
Neither nuget.config nor global.json honors the relative path of packages folder. What is the current state of the issue?

[2016-12-20 21:51] yishaigalatzer commented on #2489
Packages folder can be isolated using nuget.config per solution (but not per project unless you restore each individual project with dotnet restore).

From: https://docs.nuget.org/ndocs/schema/nuget.config-file#config-section

So IMHO this is resolved already, and the issue should be closed.

@karann-msft can we please update the docs to reference packageReferences scenarios as well (instead of ju

[2016-12-20 21:51] yishaigalatzer commented on #2489
global.json will not be supported going forward

[2016-12-20 21:52] bbowman opened #4132 "Latest Nugetizer (0.1.183-dev) is incompatible with a number of frameworks"
@kzu

Package NuGet.Build.Packaging 0.1.183-dev is not compatible with uap10.0 (UAP,Version=v10.0). Package NuGet.Build.Packaging 0.1.183-dev supports: net46 (.NETFramework,Version=v4.6)
One or more packages are incompatible with UAP,Version=v10.0.

[2016-12-20 21:52] #2489 closed, assigned to nobody

[2016-12-20 21:54] bbowman commented on #4132
<dependencies>
      <group targetFramework=".NETFramework4.5">
        <dependency id="ICSharpCode.Decompiler" version="2.3.1" />
        <dependency id="ICSharpCode.NRefactory" version="5.5.1" />
        <dependency id="Mono.Cecil" version="0.9.6.1" />
        <dependency id="Mono.Options" version="4.4.0" />
        <dependency id="SlowMonkey" version="1.1.1" />
      </group>
    </dependencies

[2016-12-20 21:56] bbowman commented on #4132
Latest stable 0.1.173 does not show this behavior. I don't see any git tags to know what commit that stable release is off of to narrow down the offending commit.

[2016-12-20 22:03] dmumladze commented on #2489
I'm using
[code]

I have a solution setup at
`_C:\Projects\git\dmumladze\solution1_`

with nuget.config
[code]

and global.json
[code]

but packages are still generated under C:\Users\[username]\.nuget\packages whether I execute _nuget restore_ or _dotnet restore_

I don't have Visual Studio 201* at all.

[2016-12-20 22:04] yishaigalatzer commented on #2489
That's because you are using "repositoryPath" instead of "globalPackagesFolder"

[2016-12-20 22:11] dmumladze commented on #2489
@yishaigalatzer only `nuget restore` will honor that and not `dotnet restore`, correct?

[2016-12-20 22:12] yishaigalatzer commented on #2489
both will

EDIT - I'll find out which exact version is needed as a minimum, but I think preview2 will support it already

[2016-12-20 22:14] dmumladze commented on #2489
dotnet restore ignores it and still generates under C:\Users\user\.nuget\packages.

[2016-12-20 22:19] yishaigalatzer commented on #2489
hmmm, I'll double check. Can you validate two things for me

1. Share your nuget.config
2. nuget.exe restore behaves as expected or not?
3. The config file is at the solution level (so one folder above the project)

[2016-12-20 22:21] dmumladze commented on #2489
1. Content of nuget.config
[code]

2. Yes, `nuget restore` behaves as expected, but `dotnet restore` does not.
3. Solution folder structure
[code]

[2016-12-20 22:24] yishaigalatzer commented on #2489
That's unexpected because they share the same codebase... I'll look into it and get back to you

[2016-12-20 22:33] yishaigalatzer commented on #2489
Can you share the output from nuget.exe restore and dotnet restore (it should list config values, use verbosity flag if not enough).

[2016-12-20 22:44] bbowman opened #4133 "Nugetizer creates 0 byte packages"
@kzu

On failures, it looks like nugetizer still runs the pack process enough to output a zero kb file that makes the nuget client go a bit crazy if set as a local repo path.

[2016-12-20 22:45] yishaigalatzer commented on #2489
It does look like you are using the right version of dotnet restore, so I'd like to see the logs and we can decide if we need to further fix it, or if it was fixed in a newer version. (or you can try this -https://www.microsoft.com/net/download/core#/current )

As a workaround you should be able to set the following environment variable - NUGET_PACKAGES

[2016-12-20 23:03] dmumladze commented on #2489
I downloaded and installed latest .NET Core CLI/SDK today. See attached of dotnet/nuget restore command.

[nuget_restore.txt](https://github.com/NuGet/Home/files/664987/nuget_restore.txt)
[dotnet_restore.txt](https://github.com/NuGet/Home/files/664988/dotnet_restore.txt)

[2016-12-20 23:04] jainaashish opened #4134 "Use NuGet property RestoreProjectStyle to create specific NuGet project"
If RestoreProjectStyle property is defined, then use it to construct specific NuGet project, otherwise fallback to existing mechanism to figure out specific type.

[2016-12-20 23:06] emgarten commented on #2489
``globalPackagesFolder`` is working for me with preview2.

### dotnet --info
[code]

### NuGet.Config
[code]

###  Steps
1. Create a new folder
1. Change to folder
1. Create NuGet.Config
1. Add globalPackagesFolder path to config.
1. ``dotnet new``
1. ``dotnet restore``

### Result
All packages were restored to ``d:\tmp\testPackages``

[2016-12-20 23:12] dmumladze commented on #2489
@emgarten I have a solution structure as per below and `dotnet restore` does not honor `globalPackagesFolder ` but `nuget restore` does.

[code]

[2016-12-20 23:14] emgarten commented on #2489
@dmumladze would you share:

1. ``dotnet --info`` output
1. Contents of ``C:\Projects\Git\dmumladze\CardGames\src\lib\project.lock.json``
1. Contents of  ``C:\Projects\Git\dmumladze\CardGames\NuGet.Config``
1. Contents of ``C:\Users\dm32998\AppData\Roaming\NuGet\NuGet.Config``

From the output log it shows that the config you mention is being used.

[2016-12-20 23:18] dmumladze commented on #2489
dotnet --info
[code]

And the rest attached in the same order as requested..

[project.lock.json.txt](https://github.com/NuGet/Home/files/665005/project.lock.json.txt)
[NuGet.Config.txt](https://github.com/NuGet/Home/files/665008/NuGet.Config.txt)
[NuGet.Config.txt](https://github.com/NuGet/Home/files/665012/NuGet.Config.txt)

[2016-12-20 23:19] emgarten commented on #2489
@dmumladze are there packages under ``C:\\Projects\\Git\\dmumladze\\CardGames\\packages``?

[2016-12-20 23:20] dmumladze commented on #2489
As mentioned before, they are generated only with nuget restore, but not with dotnet restore.

[2016-12-20 23:21] emgarten commented on #2489
The project.lock.json file you have contains

[code]

Was that created by dotnet restore?

[2016-12-20 23:26] emgarten commented on #2489
I do see some difference with how dotnet restore handles relative paths, I get the equivalent of ``C:\Projects\Git\dmumladze\CardGames\src\lib\packages``  The path is taken relative to the project instead of the config.  This issue has been fixed in NuGet, and likely fixed in the nuget.exe you are using.

To work around it use an absolute path in your config file.

[2016-12-20 23:40] dmumladze commented on #2489
Yes, I'm using the latest nuget.exe v3.5.0.1938, whereas dotnet.exe is using 3.5.0.0 (from the logs it seems). I also noticed, that dotnet restore generates packages both under global and local folders.

Specifying absolute path works.

EDIT: Generating in both packages is OK. I just noticed there are also local deps in local packages folder, whereas global only contains global dependencies.

[2016-12-20 23:44] dmumladze commented on #2489
Should I open a separate issue for absolute path bug or you guys will take it from here?

[2016-12-20 23:48] emgarten commented on #2489
I think what you are seeing is dotnet not respecting the nuget.config globalPackagesFolder value.

This happens during:  ``A command is running to initially populate your local package cache, to improve restore speed and enable offline access.`` which is not part of NuGet restore.

You can avoid it by keeping the ``.dotnetSentinel`` file in your default location.

This is already a known issue I b

[2016-12-21 01:15] srivatsn opened #4135 "Pack from csproj does not include the minClientVersion attribute"
Moved from https://github.com/dotnet/sdk/issues/509 filed by @onovotny

When using the pack command to create a NuPkg from a csproj, the `MinClientVersion` attribute is not written to the generated NuSpec despite being present in the csproj.

[2016-12-21 01:16] srivatsn opened #4136 "Pack target misses .pri files for Windows targets when multitargeting"
Moved from https://github.com/dotnet/sdk/issues/508 filed by @onovotny

When using msbuild /t:pack to generate a NuPkg on a multi-targeted project that includes Windows outputs (uap10.0, win8, wpa81, etc) that also contain a `.pri` file, the generated NuSpec used to create the package does not include the `.pri` file. That will lead to errors loading resources.

To repro:
Check out this commit fro

[2016-12-21 01:31] srivatsn opened #4137 "Pack command generates incorrect dependencies"
Moved from https://github.com/dotnet/sdk/issues/484 filed by @onovotny

I have a project which cross compiles to many target frameworks, including desktop .NET 4.5.

I have the `NETStandard.Library` excluded from `net45` as many users complain when adding that dependency. When I then run `msbuild /t:pack` or `dotnet pack` (same thing), the dependencies it generates includes `netstandard1.0` (which

[2016-12-21 01:37] Eilon commented on #4032
Note to others: you have to manually install the new VSIX from here: https://dist.nuget.org/index.html

In VS2015 you won't see it listed in the Gallery / Updates.

[2016-12-21 01:47] srivatsn opened #4138 "Preprocessing of contentFiles can corrupt binary files"
Moving from https://github.com/dotnet/sdk/issues/372 filed by @nguerrera

We call `NuGet.CommonPreprocessor.Preprocess(Stream, Func<string, string>)` which returns a `String` and then we do File.WriteAllText.

I found this because @harshjain2 hit an issue with dlls in contentFiles, which is dubious, but it strikes me that we could also have other binary content such as a jpeg or whatever.

Questio

[2016-12-21 11:04] gulbanana commented on #4054
I've actually found at least three separate issues, so this is going to be spread across a couple of posts..
Here is the first repro: https://github.com/gulbanana/repro-nuget-pack-p2p

netfxlib depends on netstdlib. netstdlib packs correctly:
[code]

netfxlib pack fails to IncludeReferencedProjects:
[code]

And if -IncludeReferencedProperties is not specified, nuget 4.0 emits a different error:
[c

[2016-12-21 11:07] gulbanana commented on #4054
The `multitarget` branch demonstrates a different issue, the one I first experienced in real code: https://github.com/gulbanana/repro-nuget-pack-p2p/tree/multitarget

netstdlib2 packs correctly:
[code]

netfxlib2 fails to pack:
[code]

[2016-12-21 16:04] jcfiorenzano commented on #545
DACPAC SUPPORT!!!!! 👍

[2016-12-21 16:58] clairernovotny commented on #4125
I need this as well for `GitVersionTask` for the same reason. The GitVersionTask nuspec has `developmentDependency` set to true.

When a project references it, it should default the `<PrivateAssets>all</PrivateAssets>` metadata on that package ref...or whatever is needed to ensure it doesn't get added to the generated nuspec with `/t:pack`

[2016-12-21 17:11] davidfowl commented on #4125
@emgarten we need 2 things:
- We need a way for a package to express what assets get exported when referenced in a project .e.g If I want all projects that reference me to have effectively `<PrivateAssets>all</PrivateAssets>` by default then I should be able to express that in the nuspec.
- We should infer `developmentDependency` set to true as implicitly saying `<PrivateAssets>all</PrivateAssets>

[2016-12-21 19:47] abelncm opened #4139 "Asks for credentials when deleting a package"

[2016-12-21 20:08] Jarlotee opened #4140 "Publish NuGet.CommandLine.3.5.0.nupkg to become the latest stable release"
It looks like the website and several other places have been update to note that v3.5.0 is the latest stable release with the exception of nuget.org.

Would love to be able to `update -self` to the latest version. Any idea when the package feed will be updated?

See
https://www.nuget.org/packages/NuGet.CommandLine

and

https://dist.nuget.org/index.html

[2016-12-21 20:23] rohit21agrawal commented on #4054
@gulbanana while i can repro the cases using your branch (both master and multitarget) for nuget pack -includereferencedprojects case, the scenario for vanila nuget pack (without includereferencedprojects flag) works fine on my machine.

i'd try repairing your installation of visual studio to make sure all the DLLs are in the right place.

[2016-12-21 20:25] rohit21agrawal opened #4141 "nuget.exe pack doesn't work for legacy csproj referencing net core projects with -IncludeReferencedProjects flag"
This bug is being created out of https://github.com/NuGet/Home/issues/4054

@gulbanana was kind enough to provide repros in the issue.

[2016-12-21 20:26] #4141 closed, assigned to nobody

[2016-12-21 20:29] rohit21agrawal commented on #3953
@natemcmaster latest build from dev branch of nuget. if you are interested in trying it out , i can help you patch the DLLs correctly to give it a try.

[2016-12-21 20:45] #4139 closed, assigned to nobody

[2016-12-21 21:27] Stephen-Randall commented on #4140
http://blog.nuget.org/20161027/Announcing-NuGet-3.5-RTM.html

This is referenced as coming in a "few weeks" almost 8 weeks ago.  Can we get an updated ETA?

[2016-12-21 22:16] clairernovotny opened #4142 "msbuild /t:Pack always creates seperate symbols package"
When using the SDK builds to create a package, if you have `<IncludeSymbols>` set to `true`, then NuGet **always** creates a separate `.symbols.nupkg`. This needs to be configurable. Sometimes we want to put our symbols in the main NuPkg as it makes it far easier to have source debugging "just work" without extra symbol server configuration.

Even if the current behavior is the default, there need

[2016-12-21 22:17] clairernovotny commented on #4138
This cannot be by design. We have to be able to have images and other binary assets as content.

[2016-12-21 22:24] mishra14 commented on #3751
NuGet has been merged : https://github.com/NuGet/NuGet.Client/commit/dd0f0aa92c02bea6ea23140255d7c22d458a4011

Dotnet cli PR : https://github.com/dotnet/cli/pull/5122

[2016-12-21 23:31] rohit21agrawal commented on #3938
we decided to downgrade this error as warning. have a pr out with this change

[2016-12-22 00:34] #3904 closed, assigned to rohit21agrawal

[2016-12-22 06:23] #3976 closed, assigned to nobody

[2016-12-22 07:18] kierenj commented on #4090
Anything I can do to help / start digging?

[2016-12-22 09:03] davidfowl commented on #4056
@kzu It's not a custom TFM, you should stop thinking of it that way. It's a way to bring in targets while completely ignoring the project's TFM. You happen to be trying to invent TFMs using it, but those TFMs will never work with nuget without further changes (being able to also express a compatibility matrix).

[2016-12-22 09:04] maartenba commented on #4090
Looks like breaking client behaviour... Just tried this as well, works fine in 3.4.4

Seems to be coming from here: https://msdn.microsoft.com/en-us/library/d4cek6cc(v=vs.110).aspx or from Mono-specifics. Similar issue in Raven: https://groups.google.com/forum/#!topic/ravendb/cmG9BkrWyoM where this was the workaround on Mono: https://groups.google.com/d/msg/ravendb/cmG9BkrWyoM/tugBRl82W8kJ

[2016-12-22 12:10] TheBeardedLlama commented on #1943
I can confirm the obscure error message is still there

Fortunately, I came across within minutes of googling and didn't waste much time.

A proper error message indicating what the actual problem is, would be much appreciated.

[2016-12-22 12:13] yishaigalatzer commented on #1943
What version of nuget.exe are you using?

[2016-12-22 12:15] yishaigalatzer commented on #1943
Sorry meant version of nuget in visual studio. Current version is 3.5 available on www.nuget.Org/downloads

[2016-12-22 12:34] TheBeardedLlama commented on #1943
![image](https://cloud.githubusercontent.com/assets/1180470/21425778/01c53948-c843-11e6-9f48-9915670e04fb.png)

[2016-12-22 12:35] TheBeardedLlama commented on #1943
I'm using the latest version as you can see and the message is still there

[2016-12-22 12:50] yishaigalatzer commented on #1943
Thanks! Can you attach repro steps?

[2016-12-22 13:07] kzu commented on #4056
That is exactly the behavior for targets included without a TFM, so what's
different? Mainly, that nuget has a hardcoded list of "valid" ones?

[2016-12-22 13:59] clairernovotny opened #4143 "Source packages don't work with SDK style builds"
Using VS 2017/preview 4 tooling, a source package reference doesn't have its content files included in the build.

To repro, check out the following commit:
https://github.com/Reactive-Extensions/Rx.NET/tree/36628232c94fba50aee92787a6ed17897ebe60de

Open up Rx.NET/Source/System.Reactive.sln and try to build. The `Microsoft.Reactive.Testing` library fails to build as the xunit source reference pack

[2016-12-22 14:26] TheBeardedLlama commented on #1943
Repro steps?

package.config had two entries of the same package with different versions

restore fired as part of sln build in VS

[2016-12-22 14:35] yishaigalatzer commented on #1943
And only from powershell? (Not next to a computer, so trying to collect as much info before getting to it)

[2016-12-22 17:26] jainaashish opened #4144 "Perf VS issue 297847"
Perf: -19.4% regression on Test Case: CreateUAP_CPP_VS Scenario: 01.1.Create project
Internal issue#297847

[2016-12-22 19:15] mavasani opened #4145 "Run Pack as a post build target conditioned on "GeneratePackageOnBuild" MSBuild property"
Recently, we added a new Package property page for dotnet core projects in roslyn-project-system. This page allows you to set an MSBuild property `GeneratePackageOnBuild`, indicating that Pack target should run as a post build step. We need to update the Pack targets so that it is always run post build, conditioned on this property. See https://github.com/dotnet/sdk/issues/524#issuecomment-2684045

[2016-12-22 19:15] mavasani commented on #4145
Tagging @Srivatsn @rohit21agrawal

[2016-12-22 19:19] mavasani opened #4146 "Define a new ProjectCapability "Pack" in Pack targets for enabling Package related capabilities"
Recently, we added a new Package property page and a context menu command to execute Pack for dotnet core projects in roslyn-project-system. Both the property page and the command are conditioned on a ProjectCapability named "Pack". @Srivatsn recommended that this project capability should be defined in the Pack targets, so that only the SDK/project importing this target get these new features.

[2016-12-22 19:19] mavasani commented on #4146
Tagging @rohit21agrawal

[2016-12-22 22:19] davidfowl commented on #4056
different? Mainly, that nuget has a hardcoded list of "valid" ones?

That's correct. All the places where TFMs exist, this "custom TFM" would have to be a drop in replacement and have identical behavior. Today it *cannot* do that because of other limitations.

[2016-12-22 23:47] kzu commented on #4056
Well, I guess what I'm proposing is for nuget to begin being more open and less hardcoded. I.e., contentFiles is another area where I don't think knowing what a TFM is makes sense either

[2016-12-23 04:37] mathikp commented on #2366
When will this issue gets resolved? @rrelyea @alpaix @yishaigalatzer @maartenba

[2016-12-23 06:17] davidfowl commented on #1811
Can be closed as it was added

[2016-12-23 06:30] AndyTian-Devops opened #4147 "Uninstall package intellisense list contains the package which installed in other project"
**NuGet version:** 4.0.0.2098

**OS version:** Windows 10 RS1_Release 14393.693

**VS Version:** D15PreRel 26022.03

**Repro Steps:**
1. Create a C# Web application(MVC).
2. Add a .Net Framework Class Library(named MyClassLibrary) to the solution.
3. Right Click MyClassLibrary project and select **Manage NuGet Package...** item.
4. In the Browse tab, install a package(**e.g. NUnit, make sure this

[2016-12-23 06:57] AndyTian-Devops commented on #4147
This issue also happened on NuGet 3.4.4 1321 and NuGet 3.5.0.1938

[2016-12-23 19:28] jcjwall commented on #962
I am having the same issue with Microsoft.EntityFrameworkCore.SqlServer, with the following error log:
Restoring packages for C:\Users\JoeJo\Documents\Visual Studio 2017\Projects\Projects\OrganizeUsDataAccess\project.json...
System.Threading.Thread 4.0.0 provides a compile-time reference assembly for System.Threading.Thread on UAP,Version=v10.0, but there is no run-time assembly compatible with wi

[2016-12-24 12:34] PMExtra opened #4148 "API/services to clone NuGet.org and keep updated"
I want to make a tool to mirror the nuget.org (because access the nuget.org is too slow in China)

I already have a solution to index and dump all packages by `NuGet.Protocol.Core.V3`

But I want to find a a way to list the recently updated packages, it's useful for sync the update in the future.

Has any API can do this?

[2016-12-24 22:45] mwpowellhtx opened #4149 "Latest NuGet PACK yields PREVIOUS version AssemblyVersionAttribute values"
Please read the following information before posting the issue.

[code]

Worked before? Don't know; I assume it did, but I don't know.

I am using ``PACK`` against ``CSPROJ`` with ``$version$`` token replacement. I have versioned ``NUSPEC`` and ``AssemblyInfo`` files.

I have three ``NUSPEC`` files thus far, and **ALL THREE** are replacing ``$version$`` with the **PREVIOUS** version of ``AssemblyV

[2016-12-25 23:11] mwpowellhtx commented on #4149
I should also mention, my ``AssemblyVersionAttribute`` looks something like this:

[code]

And somehow this is being cached, including ``*`` number, and which previous version is being used instead of the current one in the output ``Details``.

[2016-12-26 18:02] Jalalx commented on #2945
I had same issue and here is my solution:

1. Disable all other network interfaces.
2. Open `%TEMP%\NugetScratch` and delete all files.
3. Delete `project.lock.json` (if exists) from your repository folder.
4. Run `dotnet restore` and it should restore them successfully.

Here is my dotnet info:
[code]

[2016-12-26 19:02] joelverhagen opened #4150 "dotnet pack does not support title in .csproj"
Using VS 2017 RC obtained from web, I am specify all of the .nuspec metadata I care about except `<title>`. Are there plans to support this in `dotnet pack` of a .csproj?

[2016-12-26 19:14] emgarten commented on #3904
@gulbanana would you open a new issue to track packing projects with non-core/netstandard mixed dependencies? This will need to work from the same command.

[2016-12-26 19:16] rohit21agrawal commented on #3904
There is already one open : https://github.com/NuGet/Home/issues/4054

[2016-12-26 19:31] emgarten commented on #4056
Would it work for you to use the ``any`` folder then? You can avoid TFMs all together by using ``contentFiles/any/any/*`` and ``build/*``

[2016-12-26 19:31] Jalalx opened #4151 "Showing percentage or progress while restoring packages."
Why there is no progress or percentage number when restoring packages? How should I know if l'm downloading a large package?
Using `restore -v information|debug|...` shows lots of info that are not helpful.

![image](https://cloud.githubusercontent.com/assets/1018975/21485844/15f6a30a-cbbf-11e6-93dc-da532b4ad46e.png)

What I'm suggesting is showing a percentage or a progress for each package while

[2016-12-26 19:37] kzu commented on #4132
That was a buggy drop. Please try again, it should be working again with latest.

[2016-12-26 19:37] #4132 closed, assigned to nobody

[2016-12-26 19:38] kzu commented on #4056
`build/*` doesn't work, which is precisely the point of the issue ;)

Agreed that using `any` would suffice for contentFiles.

[2016-12-26 19:40] kzu commented on #4064
Well, I think just including the root install path for the package is enough. The author's/consumers can figure out how to chdir into tools or whatever.

Updated the example XML to showcase that the install path should be the root. I can figure out to to under tools myself of course.

[2016-12-27 05:13] upnxt commented on #1401
@zhili1208, I have the same issue as other have stated in this thread. The steps you provided is what we have to do, or alternatively this also works:

1. update the package
2. check in the wrongfully deleted project changes
3. promote the "detected files added" changes
4. check in the promoted files

[2016-12-27 10:49] naymore commented on #3271
[code]

Misleading error message. The problem is lacking authentication.
It **DOES** work for .**NET v4.x** nuget package restores - it does **NOT** work for .**NET CORE** solutions.

I fear while fiddling around with NuGet for .NET CORE I break NuGet for .NET v4.x again. It was a mess to get that going with authentication in the first place.
At least to me NuGet is a really bad user experience. S

[2016-12-27 19:11] emgarten commented on #4148
@PMExtra sounds like a neat idea, if you come up with any general purpose tools for this please share them :smile:

You can read the list of packages on nuget.org from the v3 catalog. This blog post explains more about how the feed works: http://emgarten.com/2016/06/27/understanding-nuget-v3-feeds/

There is a helper library here: https://www.nuget.org/packages/NuGet.CatalogReader/ for reading the

[2016-12-27 19:19] emgarten commented on #4138
I would expect that ``NuGet.CommonPreprocessor.Preprocess`` is only used on ``.pp`` files, it sounds like an issue in the build task if everything is being transformed.

Having jpegs under ContentFiles is a common scenario, they should be referenced directly and not modified.

[2016-12-27 19:20] #4092 closed, assigned to zhili1208

[2016-12-27 19:33] rrelyea commented on #4143
fixed with contentFiles work?

[2016-12-27 20:09] lilith commented on #3027
Documentation would be lovely. I don't think anyone knows about this.

Github shows 1 usage: https://github.com/search?l=XML&q=nativeassets&type=Code&utf8=%E2%9C%93

https://github.com/natemcmaster/libsqlite3-package

[2016-12-27 20:30] nguerrera commented on #4138
Aha, ok. This is broken in the build task.

[2016-12-27 21:48] rrelyea opened #4152 "vsfeedback: folder appears included based on restore props/targets with many ".." folders in solution explorer"
VSfeedback developer community link: https://developercommunity.visualstudio.com/content/problem/9147/mystery-folder-appearing-in-solution-explorer.html
VSFeedback internal issue #: 730267

Using VS2017 RC I get a random folder appearing in the Solution Explorer with the name "...". This points to the following path:

"..\..\..\..\..\..\Users\christopher.haines\.nuget\packages\microsoft.diasymread

[2016-12-27 21:54] rrelyea opened #4153 "vsfeedback: UI Suggestion - consider clearing the search term when switching tabs"
internal link: https://vsfeedback/comment/729980

When switching from the Browse or Installed tab in the Nuget window to the Updates tab, the last search term is still being applied to the results and this creates and confusing UX. User sees an Updates badge, switches to the tab, but the list is empty because the last search (which was used in Browse / Installed) is still being applied.

See scree

[2016-12-27 22:00] rrelyea opened #4154 "enable restore to share obj directory between projects"
vsfeedback internal link: https://vsfeedback/comment/729721

This is an open source project at https://github.com/lextm/sharpsnmplib

1. Clone and check out master.
2. Launch SharpSnmpLib.NetStandard.sln to compile the .NET Standard 1.3 project first in Visual Studio 2017 RC.
3. Close the solution and open SharpSnmpLib.Classic.sln to compile the PCL project, and the following errors can be seen,

[2016-12-27 22:03] zhili1208 commented on #4095
the issue here is
Mono Appdata folder is /[username]/.config/
Dotnet Appdata folder is /[username]/.nuget/

so when we use mono nuget.exe to add credential, it will add them to /[username]/.config/NuGet/NuGet.Config

but dotnet push try to get credential from /[username]/.nuget/NuGet/NuGet.Config

that's why dotnet can't find credential.

Workaround is
Mono nuget.exe add credential by
Using -Confi

[2016-12-27 22:08] rrelyea opened #4155 "vsfeedback: Setting NUGET_PACKAGES to %USERPROFILE%\.something prevents VS from restoring packages"
vs2017 rc2.1 (15.0.26014.0)
https://vsfeedback/comment/726622

Once the env variable is set to a value containing a relative path, VS is unable to restore packages.

[2016-12-27 22:12] emgarten commented on #4143
Fixed with https://github.com/NuGet/Home/issues/3683

Note this hasn't been integrated into the CLI yet

[2016-12-27 22:12] #4143 closed, assigned to emgarten

[2016-12-27 22:21] emgarten commented on #4155
To support this NuGet would need to read the env var value, then parse it to find inner env vars, resolve those, and continue until everything has been resolved.

For non-Windows scenarios the ``%var%`` format would not make sense, the only way to really get this right everywhere would be to let the environment evaluate this I would think.

The alternative is for the user to resolve the env vars b

[2016-12-27 22:27] emgarten commented on #4155
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Configuration/Utility/SettingsUtility.cs#L139

[2016-12-27 22:38] rrelyea commented on #4155
Could possible use System.Environment.ExpandEnvironmentVariable(string)
Appears to not be a regression, so we'll consider in future.

[2016-12-27 22:40] #4076 closed, assigned to emgarten

[2016-12-27 23:06] emgarten commented on #4154
The build task here sees the ``project.assets.json`` file under ``obj\`` and assumes it is for the portable project also.

The best way to fix this is to not share intermediatedirectories for more than one project.
You can do this by changing ``BaseIntermediateOutputPath`` to a different folder.

[2016-12-27 23:20] rrelyea opened #4156 "vsfeedback: NuGet restore give several project reference warnings for LinqToTwitter project"
https://vsfeedback/comment/729379

Linq To Twitter (https://github.com/JoeMayo/LinqToTwitter) is an open source project and the latest version is well supported in VS 2015. I configured NuGet auto-restore and it works well in VS 2015.

I had all kinds of build problems in VS 2017 RC. When building, I expected auto-restore to kick-in and it did for only some packages. Other packages, such as ASP.NE

[2016-12-27 23:22] rrelyea commented on #4156
after auto restore, I see ~22 warnings.
then after build restore, I only see these 5:
Warning		Failed to resolve all project references. The package restore result for 'LinqToTwitter.net\LinqToTwitter.net.csproj' or a dependant project may be incomplete.			0
Warning		Failed to resolve all project references. The package restore result for 'LinqToTwitter.xamarin\LinqToTwitter.xamarin.csproj' or a d

[2016-12-28 00:36] rrelyea commented on #4152
Repro steps that lead to this:
Procedure that leads to the bug

Start new .Net Core console app target 4.5.2 (also tested 4.6.2)

Right click on project-->properties and set .NetCoreApp to 1.1 (default is 1.0)

Save properties file and close

Right click Dependencies Nuget-->Updates and install Microsoft.NETCore.App v1.1

Your C: Drive should appear in Solution epxlorer down to .nuget-->(folders)-

[2016-12-28 00:43] rrelyea commented on #4152
Appears to be an external issue. opened https://github.com/dotnet/roslyn-project-system/issues/1047

[2016-12-28 01:27] rohit21agrawal commented on #4142
@rrelyea : this seems like a feature request, do we want it for rc3 ?

To the best of my knowledge , dotnet pack never had this ability

[2016-12-28 09:20] SuperJMN commented on #4124
@onovotny Cool!! Does the new `PackageReference` work for Desktop applications (and others that use the full .NET Framework)?

Thank you so much!

[2016-12-28 11:19] josemaia opened #4157 "Landing page URLs to docs.nuget.org are broken"
Hello,

On https://github.com/NuGet/Home, the URLs labelled Consume NuGet packages and Create NuGet packages are pointing to http://docs.nuget.org/consume/ and http://docs.nuget.org/create/, respectively, and entering both URLs gives me "You do not have permission to view this directory or page."

They should probably point to https://docs.nuget.org/ndocs/consume-packages/overview-and-workflow and

[2016-12-28 14:26] clairernovotny commented on #4124
@SuperJMN I believe that's the eventual goal but you'd have to ask one of the NuGet team @emgarten @rrelyea @yishaigalatzer about what the current status is in other project types. You can always try and see if it works :)

Just manually add a `<PackageReference>` before there's any `packages.config` or `project.json` file and see what happens.

[2016-12-28 14:56] yishaigalatzer commented on #4124
Yes, oren is right. We are not planning to fix the packages.config scenario. This is one of the main reason we introduced project.json and in 2017 packagereference

[2016-12-28 14:56] #4124 closed, assigned to nobody

[2016-12-28 15:22] SuperJMN commented on #4124
Big thanks, @onovotny!

[2016-12-28 19:40] emgarten opened #4158 "ProjectAssetsFile property support"
Restore should write out the path to the assets file, this will allow the build task to use it directly instead of trying to determine the project type and path again.

``ProjectAssetsFile``

[2016-12-28 19:42] emgarten commented on #4158
//cc @jainaashish

[2016-12-28 20:29] emgarten opened #4159 "Log a warning if a project to project reference is unresolved"
The previous p2p warning has been moved to verbose since it was unable to determine if the unresolved reference was a project or not.

We should investigate this area again and try to find betters apis that can distinguish between project references and other types of unresolved references.

[2016-12-28 20:30] #3955 closed, assigned to nobody

[2016-12-28 21:02] #4158 closed, assigned to emgarten

[2016-12-28 22:35] ChrisMaddock commented on #1980
I believe we've just encountered the same issue with the NUnit Xamarin project. We wanted to use a .pp file to replace MainPage.xaml. Pretty much exactly the same use-case, it sounds like. 😄

[2016-12-28 23:13] #3851 closed, assigned to emgarten

[2016-12-28 23:25] emgarten commented on #4113
The warning here is actually not the issue, the 4.0 compatibility error looks to be the correct message.

NuGet/NuGet.Client@c29b08a049252972361e0e5f4dc159120bdd2d3d

[2016-12-28 23:25] #4113 closed, assigned to emgarten

[2016-12-28 23:25] emgarten commented on #4156
These warnings are unrelated to the project to project references.

NuGet/NuGet.Client@c29b08a049252972361e0e5f4dc159120bdd2d3d

[2016-12-28 23:25] #4156 closed, assigned to emgarten

[2016-12-29 01:55] danielmclaugh commented on #2936
This still appears to be a problem in 3.5 especially if you use filters such as below in the nuspec file.
[code]

[2016-12-29 04:06] lextm commented on #4154
@emgarten Then another observation.

If I set `<BaseIntermediateOutputPath>obj1\</BaseIntermediateOutputPath>` in a .NET standard class library project, then `dotnet restore` and `dotnet build` work flawlessly (SharpSnmpLib.NetStandard.csproj for instance).

However, if this trick is applied to a .NET Core console application (Tests.NetStandard.csproj), `dotnet build` gives a miserable error,
[cod

[2016-12-29 04:27] jainaashish commented on #4017
Merged cb9b1a1559efac311b84aacc5f605004ad9e8562

[2016-12-29 04:27] #4017 closed, assigned to jainaashish

[2016-12-29 05:03] davkean opened #4160 "NuGet randomly fails to resolve project references"
VS version (if appropriate): 26028.1.d15prerel

Running into this ~3 or 4 times a day, where F5 or build NuGet will fail to resolve project references:

[code]

The Output window shows no more information than above.

This ultimately breaks my build because certain packages are not found. Usually retrying the build or F5 will succeed. This is a recent occurrence, and have only seen this in the pas

[2016-12-29 05:50] emgarten commented on #4154
I would say so, this looks like a compile issue. Some part of the build may not be finding the updated output.

[2016-12-29 06:58] emgarten commented on #4160
These warnings are usually just noise and have been turned off in the latest build of NuGet. If you are seeing actual packages missing because a project to project reference is missing than there may be a problem with the project or the way NuGet is calling the project system.

If you look in the project.assets.json file to see what projects are considered part of the closure, are there any that a

[2016-12-29 07:00] davkean commented on #4160
When above occurs - the project fails to build due to missing APIs (in my case above resulted in the System.ValueTuple package disappearing from the graph, so tuples usage failed to build).

This is not consistent - I run into it 3 or 4 times a day.

[2016-12-29 07:02] davkean commented on #4160
ie These don't appear to be noise, because when they are output my project fails to build due to missing NuGet packages getting written to the assets file.

[2016-12-29 07:12] emgarten commented on #4160
The warnings are generated when discovering project to project references before restore happens. Specifically when ``VSLangProj80.Reference3.Resolved`` is false for any item. (not specific to project references which is why this is noisy).

Does this package come through transitively from another project?

[2016-12-29 07:14] davkean commented on #4160
Yes this package comes transitively.

[2016-12-29 07:21] emgarten commented on #4160
It could be that NuGet is hitting errors when walking the project references then. Any ideas why the project system would fail to return the complete references for Roslyn?

The code NuGet uses for project.json projects is here: https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/PackageManagement.VisualStudio/Utility/VSProjectRestoreReferenceUtility.cs#L111-L121

[2016-12-29 07:23] davkean commented on #4160
It's not Roslyn, it's the project system. That particular code looks fine (besides you assuming that all References are project references). Are you sure it's not throwing? Where is that Log in the Exception block logged to? https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/PackageManagement.VisualStudio/Utility/VSProjectRestoreReferenceUtility.cs#L88

[2016-12-29 07:27] emgarten commented on #4160
``log.LogDebug(ex.ToString());`` would go to the output window. NuGet uses the msbuild verbosity level in VS for filtering, so if you change that to diagnostic you should see the output.

[2016-12-29 18:09] Al00X opened #4161 "NuGet Error On Retrieving Package Metadata"
NuGet product used (Package Manager Console):

NuGet version: 3.0.60624.657

VS version: VS2015 , 14.0.23107.0

OS version: Windows 10 v1607

   `PM> Install-Package Microsoft.CodeAnalysis.CSharp.Scripting`
    `Attempting to gather dependencies information for package 'Microsoft.CodeAnalysis.CSharp.Scripting.1.3.2' with respect to project 'MYPROJ', targeting '.NETFramework,Version=v4.5.2'`
    `I

[2016-12-29 18:50] rrelyea commented on #4161
You said you are using NuGet 3.0?
As a first step, are you able to try NuGet 3.5 and see if the problem still occurs?
http://nuget.org/downloads

[2016-12-29 18:54] rrelyea commented on #4130
As this sounds like this is already addressed once you move to current builds of VS2017/CLI tooling for .net core, we'll close. It was by design for the xproj/project.json world of preview2...and the design has changed with the msbuild based tooling now.
Please let us know if you see a problem once you've moved to preview 4 or later.

[2016-12-29 18:54] #4130 closed, assigned to nobody

[2016-12-29 18:56] jainaashish commented on #4144
Merged #https://github.com/NuGet/NuGet.Client/pull/1060

[2016-12-29 18:56] #4144 closed, assigned to jainaashish

[2016-12-29 19:30] rrelyea commented on #3926
Let's rely on "dotnet update package" for now.

[2016-12-29 19:30] #3926 closed, assigned to emgarten

[2016-12-29 19:36] Al00X commented on #4161
@rrelyea It Works Now , Thx

[2016-12-29 19:39] rrelyea commented on #4161
great. thanks for confirming.

[2016-12-29 19:39] #4161 closed, assigned to nobody

[2016-12-29 20:51] clairernovotny opened #4162 "Packages.config should not be the default in VS 2017 "
Create a new .NET 4.5.2 console app in VS 2017. Add a NuGet package. It creates it with a `packages.config` file.

This leads people down too much pain. With PackageReference's, they must be the default so the ecosystem can move forward.

`PackageReference` must be supported **and** be the default if a package.config/project.json file doesn't already exist.

[2016-12-29 20:54] clairernovotny opened #4163 "PackageReference doesn't work on .NET 4.5.2 console app"
In VS 2017 RC2

Create a new .NET 4.5.2 console app. Manually add a `PackageReference` to the csproj and compile. You get the following error:

1>C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\Microsoft\NuGet\15.0\Microsoft.NuGet.targets(162,5): error : Your project.json doesn't have a runtimes section. You should add '"runtimes": { "win": { } }' to your project.json and th

[2016-12-29 21:53] emgarten commented on #4163
@onovotny try adding this to your project:

[code]

@jainaashish is the default added in the latest build task? Should the message be updated also to include non-project.json based projects.

[2016-12-29 21:57] rrelyea commented on #4163
Yes, the next RC update will have this, or similar, via targets files.
So perhaps you want to make your temporary workaround conditioned on RuntimeIdentifiers not being set?

[2016-12-29 21:57] #4163 closed, assigned to jainaashish

[2016-12-29 21:59] rrelyea commented on #4162
We are building UI to allow the user to choose between packages.config (which will work downlevel too) and packagereferences.
Spec is here: https://github.com/NuGet/Home/wiki/Supporting-Package-Reference-in-UWP-WPF-WinForms-and-Classic-Libraries

[2016-12-29 21:59] #4162 closed, assigned to jainaashish

[2016-12-29 22:08] rrelyea commented on #4154
@lextm - can you please file that issue with entry point with the SDK repo? http://github.com/dotnet/sdk/issues
And mention this issue, so a link is created to that issue.

[2016-12-29 22:10] #4152 closed, assigned to nobody

[2016-12-29 22:15] rrelyea commented on #4140
Done. Thx.

[2016-12-29 22:15] #4140 closed, assigned to rrelyea

[2016-12-29 22:17] jainaashish commented on #3921
Still keeping it open for another part of the problem where we need to complete this feature end to end. We just checked in the UX resources so that localization team can pick these up.

[2016-12-29 22:20] clairernovotny commented on #4163
Okay, thanks, that worked!

[2016-12-29 22:27] rrelyea commented on #4096
From that bug:
Azure.Storage does properly install. The other doesn't, by design.
This is because we can't make it work, and it's not necessary for the user either.

[2016-12-29 22:27] #4096 closed, assigned to rrelyea

[2016-12-29 22:32] rrelyea commented on #4068
@mfaulkinbury - We would be happy to take a pull request here.

[2016-12-29 22:39] rrelyea commented on #4061
integrated into d15prerel

[2016-12-29 22:39] #4061 closed, assigned to jainaashish

[2016-12-29 22:42] #4057 closed, assigned to karann-msft

[2016-12-29 22:42] #4050 closed, assigned to alpaix

[2016-12-29 23:40] #3980 closed, assigned to jainaashish

[2016-12-29 23:40] rrelyea commented on #4003
Checkin blocked on Roslyn Bug# dotnet/roslyn#15427

[2016-12-29 23:48] #4028 closed, assigned to jainaashish

[2016-12-30 00:14] #3827 closed, assigned to jainaashish

[2016-12-30 00:19] jainaashish commented on #3867
`Looks like xunit have added support for .NetCore.
xunit/xunit#938`

They haven't added the support yet since the issue is still open. Once they add the support then try.

[2016-12-30 00:19] #3867 closed, assigned to jainaashish

[2016-12-30 00:20] rrelyea commented on #4142
We'll consider this work in the future. Yes, we shouldn't take time before RTM to land this one way or the other.

[2016-12-30 00:27] rrelyea commented on #4122
@rohit21agrawal looked at RC2 (not RC2.1) and believes that those DLLs are properly signed there. He'll continue to dig into it to make sure RC3 has this addressed.

[2016-12-30 00:38] rrelyea commented on #3953
first issue and second issue in OP are fixed, awaiting next integration into CLI.
third issue is a complicated one...let's talk with joel and find the other issue tracking that.
fourth issue is by design - dotnet pack in preview2 started writing out version ranges, which we consider a bug that we've fixed.

[2016-12-30 00:39] clairernovotny commented on #4142
What needs to happen to enable this? A property and then something in the build task? If you can point me in the right direction, I might be able to do this sooner.

Sent from my Windows 10 phone

From: Rob Relyea<mailto:notifications@github.com>
Sent: Thursday, December 29, 2016 7:20 PM
To: NuGet/Home<mailto:Home@noreply.github.com>
Cc: Oren Novotny<mailto:oren@novotny.org>; Author<mailto:author@

[2016-12-30 00:44] rrelyea commented on #3934
contentFiles is the right direction here.
we will be integrating the rc3 nuget into CLI and VS very soon...and it will now support contentFiles in restore...and as Rohit mentioned, proper pack support is coming too

as such, closing this issue.

[2016-12-30 00:44] #3934 closed, assigned to rohit21agrawal

[2016-12-30 00:54] rrelyea commented on #4129
@rrelyea - who build this restore target? don't think this has anything to do with NuGet team.

[2016-12-30 01:02] rohit21agrawal commented on #4142
@onovotny as a workaround , can't you just add a custom target that runs after pack, deletes the .nupkg package and renames the .symbols.nupkg package to .nupkg ? I can help you write the target if you think this will unblock you.

[2016-12-30 01:13] clairernovotny commented on #4142
I could probably do that, but what would it take to do out the right way if I can tackle it?

Sent from my Windows 10 phone

From: Rohit Agrawal<mailto:notifications@github.com>
Sent: Thursday, December 29, 2016 8:02 PM
To: NuGet/Home<mailto:Home@noreply.github.com>
Cc: Oren Novotny<mailto:oren@novotny.org>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [NuGet/Home] msbuild /t:Pack alway

[2016-12-30 01:25] #3938 closed, assigned to rohit21agrawal

[2016-12-30 01:46] rohit21agrawal commented on #4142
we'll have to design it appropriately, but thinking off the top of my head - we would have a msbuild property like $(CreateSeparateSymbolsPackage) which would default to true in Pack.targets . We will then use this property in MSBuildProjectFactory.cs (passed to it via PackTargetArgs) and write the logic to determine the extension of the symbols package and stop it from writing out the non-symbols

[2016-12-30 01:47] #3923 closed, assigned to emgarten

[2016-12-30 01:47] #3924 closed, assigned to emgarten

[2016-12-30 01:48] emgarten commented on #4114
NuGet/NuGet.Client@c29b08a049252972361e0e5f4dc159120bdd2d3d

[2016-12-30 01:48] #4114 closed, assigned to emgarten

[2016-12-30 01:53] clairernovotny commented on #4142
I think this ties into https://github.com/NuGet/Home/issues/1696 and https://github.com/dotnet/roslyn/issues/3. By default, especially with PortablePdb's being much smaller, symbol files should not always be going to their own packages by default.

I think there's a clear difference between the flag to include symbols in the package at all, `IncludeSymbols` and whether it should be in a separate f

[2016-12-30 02:55] SimonCropp opened #4164 "Combo of csproj+project.json show no reference information"
the properties should show the same info as other (non project.json) references

![image](https://cloud.githubusercontent.com/assets/122666/21558981/4493cd52-ce97-11e6-9786-34bea79a320f.png)

[code]

[2016-12-30 03:12] davidfowl commented on #4164
This is the old project system + `project.json`. Support in the solution explorer is pretty minimal. Moving to PackageReference things will get better in vs2017

[2016-12-30 03:17] clairernovotny commented on #4164
@SimonCropp I'd recommend doing an "SDK style" build using VS 2017. Way nicer and better info is provided. I can provide some pointers if you need help.

[2016-12-30 03:37] SimonCropp commented on #4164
in this context i am distributing samples to a customer. not really an option to point them to pre-release software

[2016-12-30 03:45] davidfowl commented on #4162
Can we still make the default PackageReference? I would hope we don't ask users as the very first thing they do...

[2016-12-30 03:51] SimonCropp opened #4165 "Better handling of nuget install of netstandard when targeting full .net"
### Repo

 1. New class lib targeting .net 462
 2. `Install-Package log4net -Version 2.0.6`

### Result

The following in csproj

[code]

### Suggestion

log4net nuget has a bug where it should have an empty dependencies list for net45 to avoid the inferred/redundant dependencies. ie as it currently stands the nuget code walks up the tree looking to dependencies. since netstandard is above net45 i

[2016-12-30 03:53] clairernovotny opened #4166 "Pack target can't create contentFiles with build actions correctly"
When reviewing the spec for the Pack target
https://github.com/NuGet/Home/wiki/Adding-nuget-pack-as-a-msbuild-target

In the section where it talks about contentFiles, it says"

I'm not sure how that's going to work correctly. The content that I want to pack is not going to be of that type in the library itself. For example, in my xUnit for Devices library, I have an App.Xaml.pp that is "Content"

[2016-12-30 03:54] clairernovotny commented on #4166
Related to https://github.com/NuGet/Home/issues/1980 and https://github.com/NuGet/Home/issues/1979

[2016-12-30 03:55] clairernovotny commented on #4166
/cc @emgarten

[2016-12-30 03:58] clairernovotny commented on #4164
@SimonCropp in that case, csproj+project.json is probably the best it's going to get today until VS 2017 is released. :/

[2016-12-30 04:10] SimonCropp opened #4167 "Warn when pack for a nuspec that targets netstandard but no dependencies for net46x"
v 2.0.6 nuget of log4net has a nuspec bug in that it has a netstandard lib with dependencies. but no dependencies listed for net45. http://svn.apache.org/viewvc/logging/log4net/trunk/log4net.nuspec?view=markup

This results in highlighting another bug(?) https://github.com/NuGet/Home/issues/4165 when using the combo of csproj and project.json

So when packing should nuget warn/error about the abov

[2016-12-30 04:14] SimonCropp commented on #4167
log4net issue https://issues.apache.org/jira/browse/LOG4NET-540

[2016-12-30 04:35] karann-msft commented on #4157
@josemaia Thanks for reporting. This has been fixed.

[2016-12-30 04:36] #4157 closed, assigned to karann-msft

[2016-12-30 04:38] karann-msft commented on #3745
Docs updated. Thanks for the feedback @clavecoder.

[2016-12-30 04:38] #3745 closed, assigned to karann-msft

[2016-12-30 08:06] v-chaf opened #4168 "[Test Failure]Menu 'Restore NuGet Packages' is disabled."
**NuGet version:** 4.0.0-RC3-2157

**OS version:** Windows 10 RS1_Release 14393.693

**VS Version:** D15PreRel 26029.01

**Repro Step:**
1.	Create C# UWP project.
2.	Right click solution and select “Restore NuGet Packages”.

**Expected:**
Menu 'Restore NuGet Packages' is enabled.

**Actual:**
Menu 'Restore NuGet Packages' is disabled.

![aaa](https://cloud.githubusercontent.com/assets/24838161/215

[2016-12-30 08:32] adamralph commented on #2698
Do my comments warrant any response? I realise the issue is closed, but I challenge that closure. It seems reasonable to revisit this design as it seems to be a very bad and problematic approach.

[2016-12-30 09:07] Tasteful opened #4169 "nuget delete does not work with V2-feedsnuget"
NuGet CLI Version: 3.5.0.1996

I'm using the NuGet.Server 2.11.3 that is working with V2 feeds. When trying to delete a package with `nuget delete` command with what I think is V3 feed url.

In my local test feed I added one package
[code]

and when I tried to delete the package it looks like the following
[code]

When I check the XML for the path to the package it is showing `http://localhost:418

[2016-12-30 10:23] DixonDs opened #4170 "No way to use tokens like $author$ with project.json."
Please, correct me if I miss anything.

It is related to https://github.com/NuGet/Home/issues/2965. It is mentioned that

Which means it is a breaking change introduced in 3.5.0 since now there is no way to use $author$  and so on if project.json is used in the project. It is so because project.json doesn't support tokens and nuspec is ignored.

[2016-12-30 11:52] mausch opened #4171 "NuGet 3.5.0 not unpacking *.targets from package"
## Details about Problem

NuGet 3.5.0
Windows 10
Worked before in NuGet 3.3

## Detailed repro steps so we can see the same problem

1. Create a new project, add https://www.nuget.org/packages/Microsoft.Net.Compilers/1.3.2 with NuGet 3.3
2. Delete all files in the packages directory.
3. Restore packages with NuGet 3.5
4. Project build now fails with error:

[code]

NuGet 3.5 does not unpack any `t

[2016-12-30 13:31] azachert commented on #1094
Just tested - it is working fine with latest version (3.5.0.1996)

[2016-12-30 16:26] SuperJMN opened #4172 "nuspec file is ignored"
## Details about Problem

The existing nuspec file is ignored.

It happens with NuGet version 3.5.0.1938 - Windows 10 build 14986

## Steps to reproduce

1. In Visual Studio 2015 Update 3, create a Class Library PCL project that targets .NET Framework 4.6 and Windows Universal 10.0
2. Build it without touching anything
3. Execute `nuget spec`
4. Execute `nuget pack`

It was working in version 3.4.

[2016-12-30 18:08] rohit21agrawal commented on #4142
@yishaigalatzer, @rrelyea  I wasn't aware of the plan to include symbols by default in the nupkg . Did i miss anything?

[2016-12-30 18:26] rrelyea commented on #4168
@nkolev92 - can you please dig into this problem.

[2016-12-30 18:28] rrelyea commented on #4171
@mausch - can you please test to see if NuGet 3.4.4 works?
Are you using nuget.exe and msbuild -- or doing this all inside of VS?
Which version of VS?

[2016-12-30 18:30] jainaashish opened #4173 "NuGet manager UI not able to search packages incrementally"
I tried searching for package `QGEditors.WinForms` through NuGet manager UI, and typed `QGEditor` but it didn't show any search results for that. But when I typed `QGEditors `then it showed this package.

[2016-12-30 18:37] joelverhagen commented on #4173
Issue moved to [NuGet/NuGetGallery #3439](https://github.com/NuGet/NuGetGallery/issues/3439) via [**ZenHub**](https://www.zenhub.com/)

[2016-12-30 18:37] #4173 closed, assigned to nobody

[2016-12-30 18:47] rohit21agrawal commented on #4135
@onovotny I tried to repro this on my end but couldn't. I have attached the project i tried to repro this issue with. You can download it, get the latest CLI+SDK from https://dotnetcli.blob.core.windows.net/dotnet/Sdk/rel-1.0.0/dotnet-dev-win-x64.latest.zip , and run dotnet restore, dotnet build and dotnet pack on the project.

The nuspec file in the nupkg is the following :

[code]
[ClassLibrary1

[2016-12-30 18:58] rohit21agrawal commented on #4146
@srivatsn @mavasani can you guys point me to how a ProjectCapability is added in a target file?

[2016-12-30 18:59] joelverhagen commented on #4169
This is a NuGet.Server issue, not client (nuget.exe). Moving to the server-side repo.

[2016-12-30 18:59] joelverhagen commented on #4169
Issue moved to [NuGet/NuGetGallery #3440](https://github.com/NuGet/NuGetGallery/issues/3440) via [**ZenHub**](https://www.zenhub.com/)

[2016-12-30 18:59] #4169 closed, assigned to joelverhagen

[2016-12-30 19:12] mavasani commented on #4146
You just need to add an item group with the capability like following:

[code]

[2016-12-30 20:01] #4146 closed, assigned to rohit21agrawal

[2016-12-30 22:26] joelverhagen commented on #3610
One complication introduced by this `SemVerLevel` filtering is that the notion of "latest package" is now more complicated. Currently the `IsLatest` and `IsAbsoluteLatest` OData properties can be determined without any knowledge of the caller.

I don't know if this is important or not. It looks like currently the client code (both in "install latest" flow and in floating versions) gets the full li

[2016-12-30 22:57] SuperJMN commented on #4172
OK, I've just discovered that it's the expected behavior:
https://github.com/NuGet/Home/issues/2965

Closing!

[2016-12-30 22:57] #4172 closed, assigned to nobody

[2016-12-30 22:59] SuperJMN commented on #4170
Also, no package icon URL, tags or any other metadata. How would we add it if the nuspec files are ignored in the new version (3.5)?

[2016-12-31 00:34] nkolev92 commented on #4168
It was a bug due to a merge problem. A line was mistakenly removed during the merge.
@jainaashish has added that line back in https://github.com/NuGet/NuGet.Client/commit/5542ae5f29680714d58fc852c3762931601d1846

[2016-12-31 00:46] lilith commented on #1192
Is this the latest issue for this feature? I understand that lockfiles address the repeatable builds aspect.

[2016-12-31 00:53] lilith commented on #300
I am very glad to see [documented Runtime IDs](https://docs.microsoft.com/en-us/dotnet/articles/core/rid-catalog) have landed.

I do not see that `<group>` offers pivots by runtime ID. Is there a way to conditionally depend on a package based on runtime ID?

As discussed, it would be unexpected for the NuGet client to select a version based on what runtimes are supported by specific versions - rat

[2016-12-31 01:17] ramarag opened #4174 "Provide a mechanism to get root of the restore folder of the resolved nuget package"
I am currently using the following to get the to the root:
FallbackPackagePathResolver.PathResolver.GetVersionListPath("") ;

as in https://github.com/ramarag/sdk/commit/a3521485aa3568a7e4cd9a877438789c4eb0da64#diff-42d31913aec3dcadaa9bf9b5eafba94cR42

Is this is the right way to consume The API ?

[2016-12-31 01:17] ramarag commented on #4174
cc @emgarten

[2016-12-31 02:05] emgarten commented on #4174
``packageDir  = pkginfo.PathResolver.GetInstallPath(packageId, version);`` will give you the root of the package folder.

Example:
[code]

Paths in the lock file are relative to the install path, you should combine based on that. In your case you already have it as ``packageDir``

[2016-12-31 02:15] ramarag commented on #4174
@emgarten i need the cache Root not packagDir
In the above example it translates to the nuget cache root directory

```GetVersionListPath("")  -> C:\users\user\.nuget\packages```

[2016-12-31 02:54] lilith commented on #2867
I cannot find the duplicate. I also cannot find any issue which offers a workflow for dealing with package vulnerabilities. Or information on whether floating versions are supported in .nuspec files.

Oldest-possible + no deprecation/version flagging = scary context for security process. Hoping I'm just missing something obvious.

[2016-12-31 03:24] emgarten commented on #4174
There isn't a helper method for that currently, is this code copying all of the packages from each folder, or what will this do?

The safest way to get the root for all packages would be to:

1. Take the list of root package folders: https://github.com/ramarag/sdk/commit/a3521485aa3568a7e4cd9a877438789c4eb0da64#diff-42d31913aec3dcadaa9bf9b5eafba94cR51
1. Sort by path length desc
1. Take the first

[2016-12-31 10:21] SimonCropp commented on #2776
any eta on this one?

[2017-01-01 21:18] clairernovotny commented on #4170
I think this is all moot with the pack targets/tooling in the `Preview3` and `Preview4` CLI tools. These are all defined in the `csproj` now and packing into a NuGet package respects those. That means as a property within MSBuild, you can set it to any MSBuild variable and/or pass in additional parameters on the command line.

[2017-01-02 04:30] WonyoungChoi opened #4175 "Adding new TFM for Tizen.Net"
The first preview version of Tizen.NET was announced in November 2016.
Tizen.NET runs on the .NETCore Runtime and supports Xamarin.Forms.
However, there is difficulty in integration with Xamarin.Forms and developing 3rd party libraries,
because there is no TFM for Tizen.NET.

So, we(Samsung) want to add new TFM for Tizen.NET to NuGet.Client.

The information of the TFM to be added is as follows.

[2017-01-02 08:44] Joe4evr commented on #1365
@enricosada So where's that PR now?

[2017-01-02 11:29] angamuthu-g commented on #352
hi,
   I'm facing issue while creating windows installer. this is the issue i'm getting

  electron-windows-installer:spawn Spawning mono /var/www/html/Extraction/node_modules/electron-winstaller/vendor/nuget.exe pack /tmp/si-11702-14710-a00hji.hot6ueg66r/app.nuspec -BasePath dist/app-win32-ia32 -OutputDirectory /tmp/si-11702-14710-a00hji.hot6ueg66r -NoDefaultExcludes +3ms
No dice: Failed with exi

[2017-01-02 16:19] tomkuijsten opened #4176 "The NuGet manager in Visual Studio reloads when focus is regained"
Tested on Visual Studio 2015 (latest bits) and 2017 (latest bits) on Windows 10 (with anniversary update).

When I open the NuGet manager (for solution or project) and select the consolidate tab, it takes a very long time to load. I don't really understand why, but that's not the real question here. The problem is that it reloads everytime I switch from a code file, to the NuGet manager. Really fr

[2017-01-02 16:26] tomkuijsten opened #4177 "Why are there two different tabs for solution and projects?"
You can open the NuGet manager in two different ways, as "solution" manager and "project" manager. I don't see why it's beneficial to have both as a separate window. Why not one single window?

Answers I can think of...

_Performance_
This could be an argument, but I really hope that's not it (you should fix the performance, not split the window).

_Clarity_
The "project" view is not that much mor

[2017-01-03 03:16] v-nancyj opened #4178 "[Test Failure] The ‘Manage NuGet package’ dialog can’t be opened regularly"
**NuGet Version:** NuGet 4.0.0-RC3-2162
**VS Version:** D15PreRel 26101.01
**OS Version:** Windows 10 RS1_Release 14393.693.161220-1747

**Repro Steps:**
1.	Create a new **C#->Web->Asp.NET Web Application (.NET Framework) ->MVC** project.
2.	Start **‘Manage NuGet packages’** dialog by right clicking of the project node.

**Expected Result:**
The ‘Manage NuGet packages’ dialog can be opened regular

[2017-01-03 06:22] v-nancyj commented on #4178
The issue repro on all .NET Framework projects

[2017-01-03 08:10] v-nancyj commented on #4178
When creating a C#->Web->Asp.NET Web Application (.NET Framework) project, an error window pop up as below screenshot.
![untitled333](https://cloud.githubusercontent.com/assets/20632775/21602451/fda5dc74-d1ce-11e6-900c-69b62c49d2e6.png)

[2017-01-03 10:20] mausch commented on #4171
3.4.4 does unpack *.targets files.
This is all just using nuget.exe

[2017-01-03 11:12] joostvz commented on #3653
@rrelyea: Any news on this issue?

[2017-01-03 14:51] ales004 opened #4179 "Nuget CLI reference not synchronized with latest installer"
NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
**NuGet.exe**

NuGet version (x.x.x.xxx):
**3.5.0.1996**

## Detailed repro steps so we can see the same problem

1. Download nuget.exe from the Nuget official page (nuget.exe - latest (v3.5.0))

2. Open the command line

3. Write nuget install /?

**Problem:**
The options shown  do not correspond with the ones listed i

[2017-01-03 18:05] rrelyea commented on #4171
@rohit21agrawal  - Sounds to be a pack regression from 3.4.4 that shipped in 3.5.0.
Can you please investigate?
Still happening in 4.0 release candidates?

[2017-01-03 18:08] nkolev92 commented on #4168
Verified with:

NuGet version: 4.0.0-RC3-2162

OS version: Windows 10 RS1_Release 14393.693

VS Version: D15PreRel 26028.06

[2017-01-03 18:08] #4168 closed, assigned to jainaashish

[2017-01-03 18:08] rrelyea commented on #4177
Good food for thought.

[2017-01-03 18:20] rohit21agrawal commented on #4171
AFAIK , targets files need to be in build or buildCrossTargeting folder to be restored. In any case, this is likely a restore issue. @emgarten - comments?

[2017-01-03 18:34] rrelyea commented on #2300
@rohit21agrawal  - please analyze for 4.0 vs Future

[2017-01-03 18:36] rrelyea commented on #3272
Rohit - Can you please reenable?

[2017-01-03 18:37] rrelyea commented on #3387
@nkolev92 - With Drew's work finished to properly find msbuild.exe in VS 2017 installs, this should be fixed now. Can you please confirm?

[2017-01-03 18:39] rrelyea commented on #3506
Just pinged the people involved in turning the crank on this.

[2017-01-03 18:40] rohit21agrawal commented on #4135
@onovotny : were you able to try this at your end?

[2017-01-03 18:45] clairernovotny commented on #4135
Yes, sorry, was out last week.

Here's what I see -- the `nupkg` does have the attribute set, but the generated `NuSpec` in the `obj` directory does not....that's what threw me. I would have expected the generated `nuspec` file to have `minClientVersion` set as well.

[2017-01-03 18:45] #3837 closed, assigned to nobody

[2017-01-03 18:46] rohit21agrawal commented on #4135
aah ok, if that's the case, it's a bug too. let me investigate more.

[2017-01-03 18:46] rrelyea commented on #3854
Can you please dupe this to the work that already happened here?

[2017-01-03 19:14] rrelyea commented on #4063
@rohit21agrawal - please get your head around this. raised as a blocking issue by asp.net team. (note there is a workaround)

[2017-01-03 19:59] emgarten opened #4180 "NuGet.exe msbuildpath fails when there is a trailing slash"
Restoring with a trailing ``\`` on the msbuildpath value restore fails. When removing the trailing slash nuget.exe finds msbuild correctly.

[code]

This is using a recent build of nuget.exe 4.0.0

[2017-01-03 20:00] emgarten commented on #4180
//cc @zhili1208

[2017-01-03 20:03] srivatsn commented on #4146
@rohit21agrawal - how will the SDK pick up this package? I assume a vs insertion is needed for this to show up?

[2017-01-03 20:05] emgarten commented on #4171
@mausch can you share some repro steps? I'm not seeing this problem.

Here is what I tried:

1. Create a new console app in VS 2015
1. ``Install-Package Microsoft.Net.Compilers -Version 1.3.2``
1. Verified ``packages\Microsoft.Net.Compilers.1.3.2\tools\Microsoft.CSharp.Core.targets`` was present
1. Deleted ``packages`` folder
1. ``nuget.exe restore Solution.sln``
1. Verified ``packages\Microsoft.N

[2017-01-03 21:06] #3686 closed, assigned to zhili1208

[2017-01-03 21:10] rrelyea commented on #3445
@schiebel - the linked mono bug has been fixed in Mono 4.6. Closing this issue. Please confirm that this addresses the issue for you. Thanks.

[2017-01-03 21:14] rrelyea commented on #3105
@renkun-ken  - can you please try NuGet 3.5 as @zhili1208 asks above?
Moving to future milestone on our side.

[2017-01-03 21:16] rrelyea commented on #2907
@wmeints  - we believe this is already fixed. Have you been able to try NuGet 3.5 yet?

[2017-01-03 21:17] rrelyea commented on #3539
@mrward  - We weren't able to do this in 4.0. If still important, we'll consider in future.

[2017-01-03 21:18] rrelyea commented on #3646
This was completed in 4.0.

[2017-01-03 21:18] #3646 closed, assigned to zhili1208

[2017-01-03 21:19] rrelyea opened #4181 "Establish a Mono CI for NuGet.exe validation on Linux"
During NuGet 4.0, we made good progress on this, but weren't able to finish.
We did finish the Mac side: https://github.com/NuGet/Home/issues/3646

This is tracking the leftover work, post 4.0.

[2017-01-03 21:20] rrelyea commented on #4095
Moving to post-4.0

[2017-01-03 21:21] #3911 closed, assigned to zhili1208

[2017-01-03 22:27] #4135 closed, assigned to rohit21agrawal

[2017-01-03 23:07] jainaashish commented on #4134
Reopening this issue again since this fix has regressed VS perf because of accessing MSBuild property. We'll try to find other alternate of it without impacting perf. Reverted this code change with 1cc1f6c8312b36dfbe2460f9a88cba47fd4ee6eb

[2017-01-03 23:48] zhili1208 commented on #4180
the passing parameter is invalid, the trailing slash escaped the double quote. if user want to restore with a trailing slash, need add a space between slash and double quote.
nuget.exe restore .\ConsoleApp8.sln -msbuildpath "C:
\Program Files (x86)\VS\DogFood\d15prerel\26102.01\MSBuild\15.0\Bin\ "

then it will work well

[2017-01-03 23:49] emgarten opened #4182 "UWP build task support for .pp files"
The build task for UWP (and legacy) PackageReference projects should:
1. Continue to process ``.pp`` files and reference the output file as part of the build
1. Skip all non-pp contentFiles from ``project.assets.json``
1. Continue supporting all contentFile entries for ``project.lock.json`` (should be no change there)

NuGet restore now writes contentFile assets to the ``projectName.ext.nuget.g.pr

[2017-01-03 23:49] #4180 closed, assigned to zhili1208

[2017-01-04 00:35] nkolev92 opened #4183 "Remove V2 NuGet.Core dependency from the tests"
Currently part of test bed heavily depends on NuGet.Core V2 code.
Specifically the NuGet.Commandline.Test.

This needs to be removed and the functionality ported.

[2017-01-04 00:36] clairernovotny opened #4184 "Need a away to specify \ref (Reference Assembly) as target folder in Pack target"
When using the Pack target to create a `nupkg`, with multi-targeting, there's no way to specify that a particular output should be treated as a reference assembly (the `\ref` directory).

For example, something like this:
https://github.com/onovotny/microsoft-authentication-library-for-dotnet/blob/725b4d9702efac7522752711d153439654d4fc60/src/Microsoft.Identity.Client/Microsoft.Identity.Client.cspr

[2017-01-04 00:52] clairernovotny commented on #4137
Ping @rrelyea, can this please hit RC3? The issue is that for an empty dependency group, it's not emitting a blank in the nuspec.

[2017-01-04 01:09] jviau opened #4185 "Nuget.Client should use CPS JoinableTaskFactory when interacting with CPS to prevent deadlocks"
Currently Nuget.Client uses the Shell `JoinableTaskFactory` when interacting with CPS projects [NuGetUIThreadHelper](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/PackageManagement.UI/Utility/NuGetUIThreadHelper.cs). This is causing deadlocks due to project lock issues. The CPS JTF has knowledge of the project lock and logic to prevent these issues. You can get the CPS version o

[2017-01-04 01:19] joelverhagen opened #4186 "How can VS components detect if a NuGet restore is required"
Internal bug number 303047 (Visual Studio bug tracker).

/cc @rrelyea @lutzroeder

[2017-01-04 01:29] joelverhagen opened #4187 "NuGet.VisualStudio checked into the VS source repository"
Under the `src\ExternalAPIs\NuGet` path there are 6 different versions of the `NuGet.VisualStudio` interop assembly. We should probably have a good plan for:

1. How does a new version of the API get introduce to VS components?
1. Is this aforementioned directory the right way to delivery the interop assembly?
1. There are some really old version there (2.0). Is this okay?
1. When, how, and who sh

[2017-01-04 02:08] bbowman opened #4188 "NuGetizer regression with IncludeOutputsInPackage"
@kzu
https://github.com/NuGet/NuGet.Build.Packaging/commit/1886901a33d8815efda828caa34ce2e326afde08

poses a number of problems for .vcxproj integration that I was using as it shuts off the project reference traversal as well as turning off the output inclusion for that project. I understand that simple .proj files may not have a project configuration so these items were moved in but it seems like

[2017-01-04 02:20] renkun-ken commented on #3105
The latest binary works perfectly, thanks!

[2017-01-04 02:20] #3105 closed, assigned to zhili1208

[2017-01-04 03:15] fearthecowboy commented on #2469
I kinda needed this, so I hacked a not-completely terrible solution together for this.

I made a .proj file that gets included by the appropriate consuming projects that has an `InitialTargets` that points to a target that
- has a condition that only happens during `dotnet restore` and the tool isn't installed  `Condition="$(RestoreRecursive) AND !Exists('$(USERPROFILE)/.nuget/packages/.tools/dotn

[2017-01-04 03:17] kzu commented on #4188
Good point, we may indeed need such a property

[2017-01-04 03:38] TheRealPiotrP opened #4189 "dotnet pack --include-source issue"
Moved from https://github.com/dotnet/cli/issues/5072 on behalf of @jpiquot

-----------

Hi

When using the include source option with the dotnet pack command, an error appears.
  -> dotnet pack --include-source -c Debug -o ..\..\..\NugetPackages
If I use the same command with the include symbols, I do not have any errors :
  -> dotnet pack --include-symbols -c Debug -o ..\..\..\NugetPackages

Ver

[2017-01-04 07:22] emgarten commented on #3860
It looks like the fix for this is to add an import of NuGet.target to
``$(MSBuildExtensionsPath)\$(MSBuildToolsVersion)\Microsoft.Common.CrossTargeting.targets\ImportAfter\``

Using the custom after property doesn't work for ``msbuild.exe /t:Restore project.csproj`` since the Restore target doesn't exist yet to begin loading the Restore target for projects with cross compile enabled.

Does that so

[2017-01-04 07:46] natemcmaster opened #4190 "VS 2017: PackageType=DotnetCliTool fails to install"
## Details
VS 2017: 15.0.26014
NuGet GUI
Worked in NuGet: 3.5.0.1996 with VS 2015 u3

## Repro

1. File -> New -> Project -> .NET Core -> Console App
2. Project -> Manage NuGet packages...
3. Attempt to install a "CLI tool" package, e.g. https://www.nuget.org/packages/Microsoft.DotNet.Watcher.Tools/1.1.0-preview4-final

Fails with error:

![image](https://cloud.githubusercontent.com/assets/2696087

[2017-01-04 10:05] mrward commented on #3539
Xamarin Studio has increased the number of thread pool threads available to it which seems to prevent the hang I was seeing before. However there does seem to be a problem restoring a lot of NuGet packages with Mono 4.8 and Xamarin Studio 6.2 which uses unpatched NuGet 3.5. Some of the socket connections seem to time out which I suspect is due to Xamarin Studio running out of thread pool threads d

[2017-01-04 12:10] wmeints commented on #2907
Yup, just tested this. It's fixed by the looks of it.

[2017-01-04 12:10] #2907 closed, assigned to zhili1208

[2017-01-04 12:40] Lechus commented on #996
nuget 3.4.4

[2017-01-04 16:55] rohit21agrawal commented on #4122
i have replaced the culprit unsigned nuget package on the nuget-build (and cli-deps) feed on myget. The next nightly build should pick up the right package and have signed DLLs

[2017-01-04 17:21] muratg commented on #4190
@rrelyea, this used to work on VS2015 so looks like a regression that would impact all of the tool projects that use this flag.

@Eilon, could you add this bug to your tracking list?

[2017-01-04 17:40] rrelyea commented on #3683
Will catch next integration into CLI/VS, which we are hoping for as soon as today.

[2017-01-04 17:49] natemcmaster commented on #4190
If this is helpful, here is the code that throws the exception: https://github.com/NuGet/NuGet.Client/blob/4cccb13833ad29d6a0bcff055460d964f1b49cfe/src/NuGet.Core/NuGet.PackageManagement/InstallationCompatibility.cs#L140-L157

[2017-01-04 18:04] rohit21agrawal commented on #4063
@rrelyea  i already have a fix for this, this will be fixed in RC3.

[2017-01-04 18:41] rrelyea commented on #4190
@natemcmaster  - We punted the work to support tools installs via the UI with the idea that tools will be installed by default with new projects ... and that people can edit the csproj if an addition is needed.
Make sense?

[2017-01-04 18:45] zhili1208 commented on #4127
I tired latest vs build, can't repro this issue.
Build: d15prerel 26104.1
NuGet version : 4.0.0.2098
also tried latest nuget build: 4.0.0.2168
@AArnott Can you still repro this with latest build?

[2017-01-04 18:49] rrelyea opened #4191 "vsfeedback: nuget manager ui for solution crashes when you select all projects"
vs feedback issue: 732919 (talk to rob about how to access) == also 732432

nuget manager crashes vs2017rc1

1. open solution
2. tools -> nuget package manager -> manage nuget packages for solution...
3. select package
4. click project checkbox to select all projects
-crashes-

I'll attach a recording...

[2017-01-04 18:54] rohit21agrawal commented on #4122
verified with jacques from the WTE team that the build is picking up the signed nupkg now. tomorrow's build will not have this issue. closing this issue.

[2017-01-04 18:54] #4122 closed, assigned to rohit21agrawal

[2017-01-04 19:28] natemcmaster commented on #4190
Makes sense. Would still love to see this make it in to RTM.

But if this gets bumped, can we at least change the error? It currently says that the **project** doesn't support CLI tools, which may mislead some to believe .NET Core CLI tools don't work anymore.

[2017-01-04 20:04] zhili1208 commented on #4191
from the dump file, I get the repro, following is repro step:

1. open solution
2. install newtonsoft.json
3. disable all available package sources, and create an unavailable source like https://test.
    only enable this source.
4. open NuGet solution UI.
5. select newtonsoft.json
6. click project checkbox to select all projects.

crashes.

the issue is from here https://github.com/NuGet/NuGet.Cl

[2017-01-04 20:20] rohit21agrawal opened #4192 "add msbuild integration tests for pack"

[2017-01-04 20:24] rrelyea opened #4193 "[vsfeedback] msb4011 warnings at compile time"
internal bug: 293938
vs feedback item: 707802 - community site: https://developercommunity.visualstudio.com/content/problem/2728/msb4011-warnings-at-compile-time.html

may be a dupe of an issue on @Emgarten and/or @rohit21agrawal  - please investigate.

I open a solution and build it (it uses stylecop.analyzers from nuget) and I get loads of MSB4011 warnings:

 1>------ Build started: Project: Ent

[2017-01-04 20:26] rrelyea commented on #4193
marking hi priority since it is our top vote getter on vsfeedback that isn't fixed yet.

[2017-01-04 20:32] nkolev92 commented on #3387
Looks good.

Tested with:
NuGet version: 4.0.0-RC3-2162
OS version: Windows 10 RS1_Release 14393.693

[2017-01-04 20:32] #3387 closed, assigned to nkolev92

[2017-01-04 20:38] rrelyea commented on #4185
Please investigate this request.

[2017-01-04 21:08] rrelyea opened #4194 "MSB4057: The target "_GenerateRestoreGraphProjectEntry" does not exist in the project - fixed by skipping shared projects in solution"
Internal user hitting "Common.vcxitems : error MSB4057: The target "_GenerateRestoreGraphProjectEntry" does not exist in the project."

[2017-01-04 21:10] rrelyea opened #4195 "nuget.exe -msbuildpath c:\foo\msbuild.exe gives bad error experience"
NuGet.exe 4.0 RC2 or later.
NuGet.exe restore -MSBuildPath "C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\15.0\Bin\MSBuild.exe" foo.sln

Using Msbuild from 'C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\15.0\Bin\MSBuild.exe'.
MSBuildPath : C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\15.0\Bin\MSBuild.exe  doesn't not exist

[2017-01-04 21:12] rrelyea opened #4196 "migrate vsix from v2 vsix to v3 vsix"
Tracking via internal bug 384559

[2017-01-04 21:24] schiebel commented on #3445
Thank you for your persistence on this issue. Unfortunately, I get the same result as before. It could well be my error. The version that is installed is 4.6.2.16 and this is on RHEL7. Below is the basic output, and the verbose output is attached. Sorry...

-bash-4.2$ type mono
mono is hashed (/usr/bin/mono)
-bash-4.2$ rpm -q --whatprovides /usr/bin/mono
mono-core-4.6.2.16-0.xamarin.1.x86_64
-bash

[2017-01-04 21:55] emgarten commented on #4194
Restore should ignore shared projects during the p2p walk.

[2017-01-04 22:03] zhili1208 commented on #3445
@mrward is this fixed in 4.6.2?

[2017-01-04 22:05] rrelyea commented on #3854
Confirmed with Ashish that this was done in RC3.

[2017-01-04 22:05] #3854 closed, assigned to jainaashish

[2017-01-04 22:05] rrelyea commented on #4178
Can you please link the commit/pr to this and close?

[2017-01-04 22:14] #3836 closed, assigned to alpaix

[2017-01-04 22:17] rrelyea commented on #3804
dupe of NuGet/Home#4014.

[2017-01-04 22:22] alpaix commented on #4038
In .NET core scenario install package is followed by immediate auto-restore which cleans the output window. The ideal fix should handle such a sequence gracefully.

[2017-01-04 22:33] nkolev92 opened #4197 "Rework Self-Updater with V3 Apis"
Currently the self-updater uses NuGet.Core v2 code.
The V3 APIs provide a similar functionality so this should be reworked.

[2017-01-04 22:38] jviau commented on #4185
@aarnott can you validate if my understanding of `JoinableTaskFactory` is correct? Is it necessary for NuGet to use the CPS JTF when interacting with CPS projects?

[2017-01-04 22:49] rrelyea opened #4198 "[vsfeedback] The "Version" drop down that shows available package versions, struggles to stay in-sync with the selected nuGet package..."
VS Feedback: 714137 & https://developercommunity.visualstudio.com/content/problem/4973/the-version-drop-down-that-shows-available-package.html

The following keeps happening to me:

I have a nuGet package installed in some packages of my solution, but I want it installed on the others too.
I open the Solution Package Manager.
I go to the Installed tab.
I type in something (say "Microsoft.Bcl") sel

[2017-01-04 22:51] rrelyea opened #4199 "[vsfeedback] Nuget package manager crashes when it can't find an old nuget path configuration"
vs feedback: 716990 (including email address available internally)

Had few alternative nuget packages local paths setup, then removed these folders from my file system but they were still reference in the Nuget package manager settings -> boom.

[2017-01-04 22:53] emgarten commented on #4194
Part of this may also be due to removing the allow list of project extensions. We should consider bringing that back, or adding an exclude list instead.

[2017-01-04 23:01] mrward commented on #3445
Based on the comment from schiebel who is using Mono 4.6.2 it looks like it is not fixed. /cc @directhex

[2017-01-04 23:07] nkolev92 opened #4200 "Remove NuGet.Protocol.Core.V2 code"
Once NuGet.Exe list command is fully ported to V3, the NuGet.Core.Protocol.Core.V2 code can be safely removed.

Classes used in NuGet.Core.Protocol.V2 like ListCommandResource need to be cleanup as well

[2017-01-04 23:34] mishra14 commented on #3751
Patch merged : https://github.com/NuGet/NuGet.Client/commit/3a380d8715a2e8e6804ac8434d30473c6dd2bcbb