[2015-08-14 01:47] #1018 closed

[2015-08-14 01:49] yishaigalatzer commented on #1012
@konste I'm assuming this is fixed. If not please let us know

[2015-08-14 01:49] #1012 closed

[2015-08-14 02:26] stevenscreek opened #1177 "2.8.60717.93: documentation on what files are included in a package is not complete"
Repro steps:

*  Create a new class library project.
*  Create a new nuspec via *nuget spec*
*  Add two content items to the project, such as:

[code]
*  Build the package with nuget pack Project.csproj.  As expected, the package contains two content entries and one lib entry.
*  Modify the nuspec to include no files:

[code]

*  Build the package again.  The content entries are gone, which is exp

[2015-08-14 03:04] yishaigalatzer commented on #456
Thanks for the clarification in what is it that you are doing. The fact that you are using nuget.server publically in IIS with basic credentials was missing. I'm not sure if that was an intended scenario for it or not, going to find out. Keep in mind that it was probably never intended to do that.

For anything advanced we really recommend going with the nuget gallery rather than the nuget.server.

[2015-08-14 03:13] yishaigalatzer commented on #456
One more question. Are you restoring/installing into a project with packages.config or project.json?

-----Original Message-----
From: "Nicholas Schell" <notifications@github.com>
Sent: ‎8/‎13/‎2015 5:35 PM
To: "NuGet/Home" <Home@noreply.github.com>
Cc: "Yishai Galatzer" <yishai_galatzer@yahoo.com>
Subject: Re: [Home] NuGet.exe restore does not use basic auth credentials fromconfig (#456)

Well I'

[2015-08-14 03:33] ericstj commented on #1100
That depends on nuget' treatment of packages without compile time assets.  I'd expect compile time assets to be empty.  My impression is that this should be an install failure, if no compile asset is intentional a placeholder can be used.  To be certain I recommend you double check against other asset types (targets, native, etc)

[2015-08-14 04:08] yishaigalatzer commented on #1177
Hey @stevenscreek this is an great summary of the behavior. The best way to add this documentation is to submit a PR for the `docs.nuget.org` at https://github.com/NuGet/NuGetDocs.

And update the following document:
https://github.com/NuGet/NuGetDocs/blob/master/NuGet.Docs/Create/Creating-and-Publishing-a-Package.md

Served from:
http://docs.nuget.org/create/Creating-and-Publishing-a-Package

[2015-08-14 04:14] brendanzagaeski commented on #1152
Sounds good to me. Thanks for the follow-up!

[2015-08-14 04:22] yishaigalatzer commented on #1158
Yes this is the expected behavior. Since it doesn't know where the package is supposed to come from, it goes out (in parallel) to all feeds.

Suggestion - You want to disable the curated feeds, they are just a duplicate of the main feed and cause extra unnecessary calls.

[2015-08-14 04:23] yishaigalatzer commented on #1158
@feiling please validate also package.config scenarios against this server

[2015-08-14 05:05] yishaigalatzer commented on #1175
This is now addressed, please re-open if you can't get it.

[2015-08-14 05:05] #1175 closed

[2015-08-14 06:41] Nicholi commented on #456
Still using packages.config. I haven't migrated to all the new nuget3/vs2k15 features just yet, but slowly moving towards them. I have migrated to the new automatic package restore method.

I have a feeling also just removing the sources and re-adding them with credentials again may have fixed more things then anything else. As I'm now ok even without @stevewilliamsuk's fix.

[2015-08-14 07:24] maartenba commented on #397
This issue was moved to NuGet/NuGetGallery#2620

[2015-08-14 07:24] #397 closed

[2015-08-14 07:24] JohnsonY2013 commented on #974
Owh~, the hotfix is very helpful. It works for me.
I was stuck in this issue for a whole day.

[2015-08-14 07:25] maartenba commented on #268
This issue was moved to NuGet/NuGetGallery#2621

[2015-08-14 07:25] #268 closed

[2015-08-14 07:26] maartenba commented on #126
Deprecated.

[2015-08-14 07:26] #126 closed

[2015-08-14 07:26] maartenba commented on #112
Deprecated.

[2015-08-14 07:26] #112 closed

[2015-08-14 07:26] maartenba commented on #111
Deprecated.

[2015-08-14 07:26] #111 closed

[2015-08-14 07:26] maartenba commented on #110
Deprecated.

[2015-08-14 07:26] #110 closed

[2015-08-14 07:26] maartenba commented on #109
This issue was moved to NuGet/NuGetGallery#2622

[2015-08-14 07:26] #109 closed

[2015-08-14 07:27] maartenba commented on #106
Deprecated.

[2015-08-14 07:27] #106 closed

[2015-08-14 07:27] maartenba commented on #105
Deprecated.

[2015-08-14 07:27] #105 closed

[2015-08-14 07:27] maartenba commented on #103
Deprecated.

[2015-08-14 07:27] #103 closed

[2015-08-14 07:27] maartenba commented on #101
Deprecated.

[2015-08-14 07:27] #101 closed

[2015-08-14 07:27] maartenba commented on #468
This issue was moved to NuGet/NuGetGallery#2623

[2015-08-14 07:27] #468 closed

[2015-08-14 07:28] maartenba commented on #373
Deprecated.

[2015-08-14 07:28] #373 closed

[2015-08-14 07:28] maartenba commented on #374
Deprecated.

[2015-08-14 07:28] #374 closed

[2015-08-14 07:28] maartenba commented on #118
Deprecated.

[2015-08-14 07:28] #118 closed

[2015-08-14 07:28] maartenba commented on #119
Deprecated.

[2015-08-14 07:28] #119 closed

[2015-08-14 07:33] maartenba opened #1178 "after upgrade, cannot reach internal nuget server"
_From @RipCurrent on August 6, 2015 14:49_

hi,
can anyone give me guidance on this issue:

installed vs2015 & got latest nuget 3.1(?). Also upgraded command line to nuget v2.8.60717.93

I can reach external nuget feeds and localhost nuget feed.
I can no longer reach internal corporate nuget feeds. 404 error

I downloaded source code from codeplex and ran command line tool in debug mode.
With fidd

[2015-08-14 07:34] maartenba opened #1179 "Bring back the old NuGet Package Manager"
_From @Daniel15 on July 31, 2015 5:9_

Sorry, I know this is the wrong place for this feedback, I just wasn't sure where to submit feedback for the Visual Studio extension.
___
The NuGet Package Manager in Visual Studio 2015 is, in a word, terrible. It's full of bugs and generally performs significantly worse than the version in Visual Studio 2013. I was hoping that it would improve by the final r

[2015-08-14 07:34] maartenba commented on #1179
_From @TommasoScalici on July 31, 2015 11:20_

Following this issue.
I thought I became stupid because I'm trying out the new NuGet Package Manager and I'm not able to install packages even in new projects created from scratch.
I tried creating my own package, something very simple with a single PCL *.dll and tried installing in a UWP project: fail

At this point I stopped testing further because

[2015-08-14 07:34] maartenba commented on #1179
_From @LogikBlitz on August 5, 2015 6:18_

The new UI is very confusing and the installation of packages often silently fails.
I have often been forced to using the manager console instead to install and update packages.
Please bring back the ability to use to old UI, which had it's drawbacks but at least was very clean in its design.

[2015-08-14 07:34] maartenba commented on #1179
_From @NickCraver on August 6, 2015 3:58_

I'm not voting for yanking it (mostly because that's just not feasible at this point), but I'd like to echo the big step backwards on usability on the new UI. Every Stack Overflow developer I've talked to agrees. I agree the 2013 UI was more usable and cleaner, but that's not actionable feedback. Let me enumerate several specific issues here.

1. One big

[2015-08-14 07:34] maartenba commented on #1179
_From @Daniel15 on August 6, 2015 6:11_

Oh interesting, thought the "installed version" was not working for me because I'm messing with ASP.NET 5 and the NuGet UI didn't support it for those, or something like that. I didn't realise it was broken for other people too.

I absolutely agree with all your points @NickCraver.

[2015-08-14 07:35] maartenba opened #1180 "2013 Release: 2.8.60610.756 (NuGet check for updates broken) vsix download required?"
_From @tombrown571 on July 24, 2015 7:33_

After installing 2.8.60610.756 (on top of VS 2013 Update 5) I get an error loading package manager in NuGetVSEventsPackage

This appears to prevent NuGet from checking for updates.

Its very similar to this issue http://nuwanlanka.com/?p=85#comment-163
From this blog, the fix appears to be to re-run the vsix package from outside visual studio - only as yo

[2015-08-14 07:35] maartenba opened #1181 "VS2015 : Updating from one feed fails for packages from different feed."
_From @ralfverstappen on July 24, 2015 7:33_

We have two nuget feeds.
The default NuGet Offical feed and our own locally hosted feed for our own packages.
We package our libraries and push them to our feed.
From VS2013 we run a command in the package manager console to update packages from only our own feed by specifying the source (Update-Package -Source 'NAME OF OUR SOURCE').
This will update o

[2015-08-14 07:54] martinsuchan commented on #456
@yishaigalatzer *I'm not sure if that was an intended scenario for it or not, going to find out.*
The "nuget.server" package is intended for running as ASP.NET app on IIS. There is no other scenario where it should be used, maybe on Mono or Azure, but that's basically the same.

I've even created [simple tutorial how to deploy your NuGet Server on Azure and secure it with Basic Authentication](htt

[2015-08-14 07:56] johncmckim commented on #456
@Nicholi  if you lucky enough that re-adding it fixes it for you that's great. However, it definitely has not fixed the issue for our setup (can't tell you the number of times I tried removing and re-adding config). I have a very similar setup, Nuget.Server package and Basic Auth.

@yishaigalatzer do you have enough information based on all the examples and comments to reproduce the problem and lo

[2015-08-14 08:13] martinsuchan commented on #1158
@yishaigalatzer *Since it doesn't know where the package is supposed to come from, it goes out (in parallel) to all feeds.*
Uhm I don't agree: I've selected in VS in NuGet Package Manager my private NuGet feed and selected package from that server. At this point it has all information required to check only the specific server for the package, not all sources. Or am I missing something here?

Rega

[2015-08-14 08:18] davidfowl commented on #1158
@martinsuchan Your dependencies might come from other configured feeds. Are all of your packages on the private feed? If yes then why isn't that configured in a solution level nuget.config file?

[2015-08-14 08:29] martinsuchan commented on #1158
It has dependencies on other feeds, but that does not answer the question why it asks for LibMain using all feeds?
[code]

[2015-08-14 08:36] davidfowl commented on #1158
Sure that could be an optimization but that's not currently how it's implemented. `project.json` restore is very different from the way package install used to work.

[2015-08-14 12:33] raffaeler opened #1182 "Can't upgrade packages on a per-solution basis"
I will never want to use different version of the same package in the same solution.
For this reason, I expect nuget allows me to upgrade the packages starting from the "Manage NuGet Packages for Solution..." screen as it was possible with VS2013 client.

Currently, when I open the packages for the solution, there is no way to upgrade the packages:
![image](https://cloud.githubusercontent.com/asse

[2015-08-14 12:36] raffaeler commented on #1154
I will try to repro in a solution ad-hoc and let you know

[2015-08-14 13:24] delfuria commented on #1119
HI, when the release 3.1.2 will be available ???
I have solution with 107 projects and i cannot reach to add/update any packages !!!!!
Thanks

[2015-08-14 13:49] yishaigalatzer commented on #1181
@ralfverstappen is your expectation that this will update only the packages available on the specified source?

This seems like it was an undocumented (and perhaps unexpected behavior), will take a deeper look at this to decide what is the actual desired behavior.

Are you packages following some wildcards, so you could use piping?

[2015-08-14 13:53] yishaigalatzer commented on #1180
This got fixed here - https://github.com/NuGet/Home/issues/1105

@feiling can you provide a workaround if possible, and the link to download?

[2015-08-14 13:54] yishaigalatzer commented on #1182
Change the Action to Update

[2015-08-14 14:03] raffaeler commented on #1182
There is no 'Update' option available as you can see from this new screenshot:
![image](https://cloud.githubusercontent.com/assets/5183152/9275491/b6a95eac-429d-11e5-8ffc-895e57944290.png)

Please note that I didn't any package change from days but now one of the projects has the checkbox marked while the previous screenshot of this morning has not.

[2015-08-14 14:11] Billj111 commented on #1175
Works now. Thanks.

Sent from TypeMail

On Aug 14, 2015, 1:05 AM, at 1:05 AM, Yishai Galatzer <notifications@github.com> wrote:

[2015-08-14 14:16] yishaigalatzer commented on #1179
All - Please ensure you update to the latest version of the extension, we have fixed a large number of issues, and we are working on two upcoming releases that addresses bugs and updates the UI. The first release will update immediate blocking issues and the following one will focus on updating the UI.

Side note - We appreciate the time you have taken to provide it and the honest feedback on this

[2015-08-14 14:23] yishaigalatzer opened #1183 "Installing a package fails when one of the sources fail"
Lets verify this is not happening for none ASP.Net 5 projects (and UWP projects as well), and if it does fix it

_From @NickCraver_

I was unable to reach our internal NuGet server which breaks installs for **all** packages. Regardless of their source. I just ran a test where I started a ASP.Net MVC 5 project (testing something for David Fowler) and tried to install `Microsoft.Owin.Host.SystemWeb`

[2015-08-14 14:25] yishaigalatzer commented on #1179
@NickCraver item 2 is not handled by NuGet directly (though I opened up a bug just to verify we don't break there). This codepath is handed over to the ASPNET5 project system to deal with the installation. I opened up a bug in the aspnet repo for this.

_ASP.Net 5 issue:_
https://github.com/aspnet/Home/issues/833

_NuGet issue:_
https://github.com/NuGet/Home/issues/1183

[2015-08-14 14:29] yishaigalatzer commented on #885
_From @NickCraver on August 6, 2015 3:58_ Copied relevant items from https://github.com/NuGet/Home/issues/1179

1. Uninstalling packages is bad. 2013 wouldn't let you install things that are a dependency, but it was much more usable in this manner. What happens in 2015? Errors. Errors are the first hint that the package is used and can't be installed. Nowhere in the UI are you prevented from click

[2015-08-14 14:39] yishaigalatzer commented on #1179
Closing this issue because it is an accumulation of unrelated general feedback, and opened actionable followup items or moved the feedback to the appropriate items.

Thanks again for the sincere feedback.

[2015-08-14 14:39] #1179 closed

[2015-08-14 14:40] yishaigalatzer commented on #885
Feedback around the upgrade experience https://github.com/NuGet/Home/issues/1182

[2015-08-14 14:42] yishaigalatzer commented on #1182
@raffaeler - Thanks for the update, I want to look into it and see if this is something that can be done in the immediate milestone, or requires bigger changes than we can fit.

@feiling please take a look and lets discuss today.

[2015-08-14 15:08] yishaigalatzer commented on #1119
We plan to release in the next few weeks, contact me directly if you are willing to try private bits

[2015-08-14 15:32] delfuria commented on #1119
Thanks for the reply.
I would like to test the fix but how could i contact you ?

[2015-08-14 16:11] yishaigalatzer commented on #1158
@martinsuchan I see your point. it goes a bit beyond optimization, I assume you are expecting that package to only come from the feed you specified. I'm going to try and explain the process here, I hope it makes it clearer what is going on.

This process applies only to `transitive restore` or to projects that use project.json.

@davidfowl feel free to edit/correct

_Install process_
1. You choose

[2015-08-14 16:43] yishaigalatzer commented on #456
@johncmckim I'm missing one bit of feedback.

The report from @martinsuchan talks about `project.json` scenarios. It is understood and we are tracking a fix.

I manage to connect to the feed and download the packages through VS2015 UI (though they are not applicable to NET452 projects they download fine).

So I still don't know if there is any other scenario broken here other than the one tracked

[2015-08-14 16:46] yishaigalatzer opened #1184 "[DOCS] Need to document setting up a nuget gallery vs. nuget.server"
_from @johncmckim_ #456

As a follow up to the Nuget Gallery comment, if that's what we are supposed to be using, why is there no mention of it in the nuget documentation http://docs.nuget.org/create/hosting-your-own-nuget-feeds. I assume that many many people wanting to host their own feeds are following that guide and using the Nuget.Server package. I would be happy to use the Gallery project in

[2015-08-14 17:51] zarenner opened #1185 "List -AllVersions displays packages too many times"
AllVersions outputs the package, and then all versions of the package (for each version of a package)

Below, c:\testpak has the packages testpackage0.1.0.0, testpackage0.1.0.1, and testpackage1.1.0.0

nuget list -Source "c:\testpak" -AllVersions
testpackage0 1.0.0
testpackage0 1.0.0
testpackage0 1.0.1
testpackage0 1.0.1
testpackage0 1.0.0
testpackage0 1.0.1
testpackage1 1.0.0
testpackage1 1.0.0

[2015-08-14 18:30] zhili1208 commented on #1168
verified latest code, it's already fixed

[2015-08-14 18:30] #1168 closed

[2015-08-14 18:38] feiling commented on #1106
It turns out that this is by design: token replacement is never supported when you run `nuget pack <nuspec file>`.

We'll update our documentation to make this clear.

[2015-08-14 18:39] feiling commented on #1057
Duplicate of NuGet/Home#1165

[2015-08-14 18:39] #1057 closed

[2015-08-14 20:42] zarenner opened #1186 "NuGet restore exits with code 0 errorlevel when packages not found"
**Failing to restore a package incorrectly returns 0:**
C:\Users\zarenner>nuget restore -PackagesDirectory %temp%
Restoring NuGet package SomePackageThatDoesntExist.100.0.0.
WARNING: Unable to find version '100.0.0' of package 'SomePackageThatDoesntExist'.
Unable to find version '100.0.0' of package 'SomePackageThatDoesntExist'.

C:\Users\zarenner>echo %errorlevel%
0

**Other failures correctly re

[2015-08-14 20:55] deepakaravindr opened #1187 "Default branch on NuGet/Home repository should be dev and not master"
Default branch on NuGet/Home repository should be dev and not master

[2015-08-14 20:55] feiling commented on #776
Code fix checked into NuGet.V2.

[2015-08-14 20:56] zhili1208 commented on #1183
Checked none Asp.net5 projects and UWP projects. for none asp.net5 projects,package can be installed without any error and for UWP , package also can be installed but with warning says there is error when connect to one source.

[2015-08-14 21:14] kdelmonte opened #1188 "Nuget does not find the latest listed version of a package on VS2015"

[2015-08-14 21:22] sirkirby opened #1189 "Experiencing very slow install/update performance with hosted v2 feeds in package manager v3.1.x"
I have several feeds hosted on myget as well as my appveyor CI server. Since moving to nuget package manager v3.1.x in 2015, package installation and updates from my feeds have been dramatically slower. I've seen the issues referencing slowness related to using the public v2 feed in v3 of nuget package manager, so i'm assuming the same would apply with my private v2 feeds as well. Is the only curr

[2015-08-14 22:41] Nicholi commented on #456
No I was wrong, I started randomly getting prompted for passwords when manually installing/upgrading packages through the UI interface from the private repo. From what I've found you need to have multiple credentials entered for different paths, otherwise the client doesn't know what to do.

One for plain /nuget/ (I'm assuming this is for using the repo through the UI), one for /api/v2/ (for packa

[2015-08-14 22:49] dandriscoll opened #1190 "Files aren't added to VS if they exist before installing a package"
If you install a package and one of its files already exists on disk, NuGet does not add the file to VS. This can easily happen if you reset your source code after installing a package.

Example repro for mustache.js:
1) Install mustache.js
2) Reset all source code for your project (leaving Scripts\mustache.js on disk)
3) Reopen solution
4) Install mustache.js
5) Notice that Scripts\mustache.js is

[2015-08-14 23:06] deepakaravindr commented on #1187
@yishaigalatzer

[2015-08-14 23:28] yishaigalatzer commented on #1183
@nickcraver can you please confirm thus is the same thing you are seeing?

[2015-08-15 00:03] wanghaolu commented on #1143
@bhuvak , I'm tried it. It's also alert me unable to find pakcage.

[2015-08-15 00:51] deepakaravindr opened #1191 "Functional test failures on binding redirects"
Functional test failures on binding redirects. This seems related to https://github.com/NuGet/NuGet.VisualStudioExtension/commit/6daf84a06c53fa83110a76e127f6eef32d0a3f68

[2015-08-15 01:03] johnataylor commented on #1161
@SimonCropp : one of the reasons packages were being dropped is because the nuspec inside the nupkg was not named {id}.nuspec. We will make the processing is little more forgiving on the server and deploy that next week. We are also currently running a scan from the beginning and we will also be repairing the data - so no action is required on your part. Thanks.

[2015-08-15 01:15] yishaigalatzer commented on #1161
@SimonCropp you should really make the {id}.nuspec match the package id. And if you deployed it right now, it will get picked up immediately.

If you are ok with waiting, this will probably get fixed automatically early next week like @johnataylor says. Though eventually we might start stopping packages like this from being accepted on nuget.org

[2015-08-15 02:30] hastarin commented on #1106
Ah so the note in the documentation really does need to be made bold and update the section referring to tokens.

[2015-08-15 03:05] SimonCropp commented on #1161
try v1.0.11

[2015-08-15 08:55] martinsuchan commented on #1158
I see from your description, that the new package restore mechanism wasn't designed to handle effectively several custom feeds.
What happens for instance if I got LibMain in my private feed, but another different LibMain is also available in official NuGet feed? This is not hypothetical scenario, some teams put all packages they use in their private feeds including common packages like Json.NET, e

[2015-08-15 09:38] raffaeler commented on #458
@jshield this topic is about a serious nuget issue and I personally do not accept posting advertising on expensive products.

[2015-08-15 16:49] yishaigalatzer commented on #1161
@johnataylor I see that he uploaded a proper package, that has Fielder.Fody.nuspec at the root, but it still not showing up in the index at - `https://az320820.vo.msecnd.net/v3-flatcontainer/fielder.fody/index.json`

This is all I see (looks like 14 hours after @SimonCropp published his package)

[code]

The package is available from the V2 source `https://www.nuget.org/api/v2`

[2015-08-15 16:54] yishaigalatzer commented on #1106
@hastarin FYI (and this is not an ask to do so, just letting you know it is there for you to contribute if you'd like to) our docs our open source as well, and we gladly take contributions.

https://github.com/nuget/nugetdocs/pulls

[2015-08-15 17:14] yishaigalatzer commented on #1158
This has a similar problem with the existing mechanism, ordering doesn't solve the problem it makes it seem like it does.

The real answer here, is to namespace the in company packages (or similarly the in team packages, when multiple teams share a internal nuget server).

[2015-08-15 18:49] yishaigalatzer commented on #458
@raffaeler I think its fair to say that there is a commercial product cover this ask, and for large corps that want to block internet access from their employees that might even be a fair thing to setup. To be completely fair, the comment should include the fact that it is not _free_

@alkampfergit there is a way to set this up today with either nuget.server, nugetgallery or a host of other soluti

[2015-08-15 18:58] raffaeler commented on #458
@yishaigalatzer exactly, at least he should have specified it is not free. That is why I can only call it advertising.

[2015-08-15 23:21] yishaigalatzer commented on #1161
We are running a batch process to update all the registrations under the flatcontainer URL. We expect it to be done Sunday night or early Monday morning

[2015-08-16 00:09] SimonCropp commented on #1161
ok for now i am moving back to the v2 feed in my nuget config

[code]

[2015-08-16 00:16] SimonCropp opened #1192 "Add nuget level option for "resolve highest""
I want a way for a nuget package to say it wants the "highest version withing the dependency range"

There are many packages where this makes the most sense. for example bootstrap packages that help people get started https://www.nuget.org/packages/NServiceBus.Bootstrap.WindowsService

It really should be up the the package author how the dependency is resolved.

[2015-08-16 09:41] maartenba commented on #115
Deprecated.

[2015-08-16 09:41] #115 closed

[2015-08-16 09:41] maartenba commented on #114
Deprecated.

[2015-08-16 09:41] #114 closed

[2015-08-16 13:22] pedrolamas commented on #1161
I'm seeting the very same issue right now on [Cimbalino.Toolkit](https://www.nuget.org/packages/Cimbalino.Toolkit) package: using Fiddler, I can see Visual Studio requesting https://az320820.vo.msecnd.net/v3-flatcontainer/cimbalino.toolkit/index.json, and this reports version 2.0.0-beta1 as the latest which is wrong, as beta3 is already published and available!

[2015-08-16 19:06] emgarten commented on #1192
Packages should depend on a minimum version which is known to work. Assuming a future version will always work often leads to problems over time when the dependency is owned by a different author and it goes through breaking changes.

Project.json allows floating versions to solve the problem of always needing the highest, but only the user can set this. If each package could specify it's own floa

[2015-08-16 20:19] daveaglick opened #1193 "Can't install Microsoft.CodeAnalysis.CSharp w/ VS 2015 and NuGet 3.1.1.0 - hangs on "Attempting to gather dependencies information...""
Brand new console application. Tested it three times from scratch, same result every time. Trying to install Microsoft.CodeAnalysis.CSharp. Package Manager output shown below with install of JSON.NET first to show that this appears to be a package-specific problem. I never make it past the `Attempting to gather dependencies information for package 'Microsoft.CodeAnalysis.CSharp.1.0.0' with respect

[2015-08-16 20:22] daveaglick commented on #1193
Also appears to exhibit same behavior with the Microsoft.CodeAnalysis.Common package.

[2015-08-16 23:45] SimonCropp opened #1194 "Please delete nuget from codeplex"
search engines still resolve doco there as the top result. You are doing your consumers a disservice by leaving out of date information live.

[2015-08-17 00:04] SimonCropp commented on #1192
How would this get our of hand? isnt this very similar to a user setting `<add key="DependencyVersion" value="Highest" />`

Either way resolving to "the highest in a dependency range" is the most likely what people want.

For example I manage several fody nugets https://www.nuget.org/profiles/simoncropp. i regularly get people saying

Each time i respond with

So I would much prefer that the defau

[2015-08-17 00:19] SimonCropp commented on #1194
or better yet apply the appropriate redirects to all the urls on codeplex

[2015-08-17 01:06] SimonCropp commented on #1192
also

I think you are conflating "what a package says is its minimum" and "what is a sensible approach when first installing dependencies"

Assume a package says it is compatible with version 1.0 from 2 years ago and there is a 1.0.15 from 2 weeks ago. So there are at least 15 bug fixes in that dependencies. Why would you resolve the clearly out of date 1.0 version. Also assuming that package foll

[2015-08-17 02:44] emgarten commented on #1192
I see that many of the Fody packages do not specify a version range for the Fody dependency. This is going to cause users to get the oldest available version. You can fix this by setting the minimum version to the current release of Fody when releasing new packages.

Users typically want their packages to "just work" and for most packages happens when using the packages specified in the minimum ve

[2015-08-17 03:55] SimonCropp commented on #1192
No the nuget practice of resolving oldest causes this

Yes and this results in the un-maintainable scenario of deploying a nuget every time its dependencis deploy just to update the nuget range

This is a assumption that is plainly false since people will never get bug fixes for dependencies. It is basically a stance that ignore semver

Yes this is true but this is a problem for people managing pa

[2015-08-17 04:41] RichiCoder1 commented on #1192
I'm with @SimonCropp on this. I just recently went through the unnecessarily gargantuan task of setting up a new framework with in a few of our products at my job and ran it many cases were because of this "oldest" default, I was installing ancient versions of nuget packages, or, in cases were I might have already installed a dependency, multiple different versions of the same package. I ended up

[2015-08-17 05:33] emgarten commented on #1192
@RichiCoder1 would setting the default dependency behavior in your nuget.config have helped? Or is the global setting too broad for the packages you were installing?
https://docs.nuget.org/release-notes/nuget-2.8#dependencyversion-attribute

If a new package specified that an already installed package should be the highest version would you expect it to force an update? What if the user installed

[2015-08-17 05:40] SimonCropp commented on #1192
If that setting worked it would mitigate it. Unfortunately i have never gotten that to work
My config  `C:\Users\simon\AppData\Roaming\NuGet\NuGet.Config`

has had this  for ages

[code]

and from my nuget "dialog"

![2015-08-17 15_36_59-photos](https://cloud.githubusercontent.com/assets/122666/9298655/dfe1ee4c-44f5-11e5-9434-1cd5a06533b0.png)

so clearly this is not true

But this only fixes the

[2015-08-17 05:41] RichiCoder1 commented on #1192
It would have been a little to broad, but I'll admit I didn't even know that config setting existed. That's a little off the beaten path and out of the way of the happy path.

Hmm. That's actually a good question. If they explicitly said that they want the highest when installing a depdendent package, I would, but if it was unspecified I'd just keep the installed version as long as it fit the depe

[2015-08-17 05:43] xavierdecoster commented on #1192
Defaulting to oldest known compatible is the safest resolution a package manager can do not knowing for sure that package authors apply SemVer (which isn't exact science either, mistakes happen, assumptions are...). When such mistakes happen, all packages depending on it are affected when choosing highest version resolution, and people will blame the tool for not protecting against it (I believe t

[2015-08-17 05:44] govind-mukundan commented on #974
Well I've installed VS2015, package manager console 3.1.1.0 and Powershell 4.0. But NuGet is stuck at "Initializing Power Shell Host" for ever.

[2015-08-17 05:45] RichiCoder1 commented on #835
:+1:

[2015-08-17 05:48] RichiCoder1 commented on #1192
Which is why I would argue for allowing the author to hint a better default if they're certain that the 99% case is that it'll be better for the user, but still allow the user to override that hint should they wish.

That would be awesome, and would resolve my specific issue. Managing packages across projects, especially when updating them or installing new packages, feels very messy at the moment

[2015-08-17 05:49] SimonCropp opened #1195 "release notes and blogs do not equate to documentation"
Ok this has been going on for a long time and i think it needs to be called out as bad practice.

Too often changes occur in nuget (often breaking changes) and while it is publicized in release notes and/or blogs the documentation is updated much later or never at all

Some recent examples

So this talks about dependencyversion
https://docs.nuget.org/release-notes/nuget-2.8#dependencyversion-attri

[2015-08-17 05:55] emgarten commented on #1192
@SimonCropp good catch, that looks like a UI bug to me. Please copy that into a new issue so it can get fixed.

This would help new installs, but at some point the user needs to update their Fody package themselves. For example if they install BasicFodyAddin.Fody today, get the current highest version of Fody, but tomorrow Fody is updated they are once again missing out on bug fixes.

project.json

[2015-08-17 05:57] SimonCropp commented on #1192
I would also consider that a bug if enabled by default. It means OOTB i can get different build behavior with no code changes.

[2015-08-17 05:57] DanTup commented on #1192
This always confuses me.. People shouldn't have to narrow the range of versions they support just to avoid people getting buggy versions.

If a jQuery plugin supports "every version of jQuery ever", it would never makes sense to install and old buggy version.

It seems valid for a package to want to express a preference that is narrower than the supported version.

Dragging the minimum supported v

[2015-08-17 05:57] SimonCropp commented on #1192
I would be happy with the setting being a "soft recommendation"

[2015-08-17 05:59] SimonCropp opened #1196 "DependencyVersion Highest is broken"
Re this https://docs.nuget.org/release-notes/nuget-2.8#dependencyversion-attribute

If that setting worked it would mitigate it. Unfortunately i have never gotten that to work
My config  `C:\Users\simon\AppData\Roaming\NuGet\NuGet.Config`

has had this  for ages

[code]

and from my nuget "dialog"

![2015-08-17 15_36_59-photos](https://cloud.githubusercontent.com/assets/122666/9298655/dfe1ee4c-44f

[2015-08-17 06:03] SimonCropp commented on #1192
@emgarten

https://github.com/NuGet/Home/issues/1196

[2015-08-17 06:06] SimonCropp commented on #1192
@DanTup yeah for most of the Particular packages we have adopted a "current minor range" eg this https://www.nuget.org/packages/nservicebus.autofac is

[code]

But my issue is that clearly when someone install that package we want the newest minor of both those dependencies.

[2015-08-17 06:10] emgarten commented on #1192
Users have to opt into the floating behavior.

[2015-08-17 07:06] SimonCropp opened #1197 "Should unlisted packages being included in "lowest version" resolution"
So when i install  PropertyChanged.Fody 1.50.1 which has a non version dependency on Fody

Note i need `-source "https://www.nuget.org/api/v2"` since the indexing is currently broken in nuget v3 https://github.com/NuGet/Home/issues/1161
### Via the Console

[code]

[code]

ie the lowest including unlisted
### Via the UI

[code]

ie the lowest including listed

So which should it be?

And where is

[2015-08-17 07:07] SimonCropp commented on #1192
@emgarten can u answer this https://github.com/NuGet/Home/issues/1197

[2015-08-17 09:34] alkampfergit commented on #458
@yishaigalatzer I know, but it is a manual process. For small shop, people do not care about monitoring which packages should be available, they need a simple and easy way to have a local cache without user intervention.

For big companies I'd like something that is capable of warning you if an "approved" packages is published on main nuget server and gives you the ability to decide if that update

[2015-08-17 11:00] maartenba commented on #1184
So the idea is to document setting up NuGetGallery in docs?

[2015-08-17 11:14] ygoe opened #1198 "Installed version of a package is never displayed"
This affects all packages, installed and upgradable. I never know what is currently installed and how large the jump for an upgrade is.

![nuget-installed-version-missing](https://cloud.githubusercontent.com/assets/868315/9303795/bfd55684-44e1-11e5-9419-3e0fecce5929.png)

[2015-08-17 11:14] hmemcpy opened #1199 "How are Roslyn analyzers supported with project.json?"
The Roslyn SDK currently ships with a project template that creates a nuget package together with PowerShell installation files to add the analyzers to the solution.

With `project.json`, it is my understanding, PowerShell scripts are going away.

How will Roslyn analyzers continued to be supported in the new scenario?

(n.b. same question applies for .targets/.props)

[2015-08-17 11:48] RipCurrent commented on #1153
@emgarten @yishaigalatzer thanks for replies. After more testing etc conclude it must be some issue with proxy settings etc on my machine as downloaded older versions of nuget command line and still getting 404's from "nuget list -s TEST" where Test is corporate server.

[2015-08-17 11:48] #1153 closed

[2015-08-17 12:16] ralfverstappen commented on #1181
Yes, I would like to only update available packages and ignore others (VS2013 shows a message that there is now update available for these other packages).
We like to keep up with our own internal packages, but do not update 'external' libraries each time.

How would piping work? What will the command look like?
Do you mean wildcards if that filters all our own packages?

Our packages do not all s

[2015-08-17 12:38] theo-albers commented on #782
NuGet 2.8.5 indeed breaks previous behaviour. I registered a new bug for it, https://github.com/NuGet/NuGetGallery/issues/2625

[2015-08-17 13:36] daveaglick commented on #1193
FYI - I ran the command again this morning from a different network and it worked fine. The  funny thing is that my home network (FiOS) is much faster than the one at my office (dedicated 10 Mbps). I'll close the issue since it looks like all is well and reopen if I continue to see problems.

[2015-08-17 13:36] #1193 closed, assigned to nobody

[2015-08-17 13:55] maartenba opened #1200 "Relative path in NuGet.Config is automatically changed to absolute path on build"
_From @theo-albers on August 17, 2015 12:50_

NuGet 2.8.5 breaks previous behaviour with respect to relative path references in NuGet.Config. Before it was possible to have a relative path in NuGet.config. To proof it worked before, see http://stackoverflow.com/questions/12932906/how-do-you-set-a-relative-path-for-a-file-based-package-source-with-nuget. We utilize this feature to define a workspac

[2015-08-17 16:39] abpiskunov opened #1201 "nuget.config belonging to K solution is edited unexpectedly"
I debugged and found this thread (see picture below) updating our nuget.config that lives in solution when very first build is triggered in a fresh VS instance. Which causing file changed event coming to us from file watcher.

What is changes:

Before:

<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>

    <clear />
    <add key="api.nuget.org" value="https://api.nuget.org

[2015-08-17 16:40] abpiskunov commented on #1201
Before xml:

<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>

    <clear />
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>

[2015-08-17 16:41] abpiskunov commented on #1201
Before xml:

[code]

[2015-08-17 16:41] abpiskunov commented on #1201
After xml:

[code]

[2015-08-17 18:05] theo-albers commented on #1200
Here is a solution to reproduce the problem easily, http://1drv.ms/1E0Rw2J. Open the solution ProjectConsumingPackage.sln with older NuGet installation for VS2013, so a pre 2.8.5 version. Build will not touch the NuGet.config file in the .nuget folder.
Remove workspace and unzip again. Now upgrade to the latest NuGet-version, via Tools, Extensions and Updates inside VS2013, restart VS and open the

[2015-08-17 18:30] emgarten commented on #1198
@dg9ngf please paste the contents of your packages.config file for this project

[2015-08-17 18:37] emgarten commented on #1197
The UI results are correct here, listed versions are favored over unlisted versions. The idea of listed is specific to the source so if the package exists in a local source or another feed it will be marked as listed.

[2015-08-17 18:40] SimonCropp commented on #1197
wouldnt this result in an inconsistent build for people who have not opted into floating dependencies in project.json? ie they have not checked in project.json.lock (as recommended by nuget). so when restore happens for dependencies "what actually gets restored" will be dependent on "what is listed on a given day"?

[2015-08-17 18:47] emgarten commented on #1197
project.json does not use the listed setting when resolving dependencies. For project.json restores the packages are kept in the global packages folder which does not track listed/unlisted.

[2015-08-17 18:49] SimonCropp commented on #1197
what about when restored on a clean machine?

[2015-08-17 18:51] emgarten commented on #1197
The results will be the same. Listed/Unlisted isn't used for project.json.

[2015-08-17 18:54] emgarten commented on #1188
Would you provide some repro steps for this? What package are you seeing this issue with?

[2015-08-17 18:57] SimonCropp commented on #1197
Ok i must be missing something

You say

and project.json does not include the "version of a dependency used" since that is in the lock file.

So on a package restore will project.json "use listed+unlisted packages when resolving dependencies with no specific version" OR "only use listed packages when resolving dependencies with no specific version"

[2015-08-17 19:01] yishaigalatzer commented on #1184
Yeah, and how to set up authentication. I did make a basic change to the docs to point to the gallery wiki.

Walk through the new doc, if you think its enough close the issue, otherwise add/update

[2015-08-17 19:05] emgarten commented on #1197
Package.config: Listed is favored
Project.json: Listed/Unlisted is not used

Your original example is using packages.config where listed is taken into consideration during installs and updates. For project.json where resolution happens at build time things are more likely to change as you pointed out and the listed/unlisted flag is not used.

[2015-08-17 19:08] yishaigalatzer commented on #1181
@ralfverstappen thanks, that makes sense. I agree with your comments (and insights on using wildcards).

We probably need a flag to update (top level packages) only from your sources, but you got to keep in mind that it might triggered public sub dependencies to be updated as well.

[2015-08-17 19:11] SimonCropp commented on #1197
Ok so isnt this a bug since people will effectively be automatically getting floating dependencies while here https://github.com/NuGet/Home/issues/1192#issuecomment-131701974 you said

[2015-08-17 19:18] agocke commented on #1095
:+1: We would also like this. We're currently not running restore on Linux and Mac for Roslyn due to Mono issues, so if this were user-agnostic we could check this file in and reference it from everywhere.

[2015-08-17 19:19] johnataylor opened #1202 "v2 publish endpoint needs to be read from v3 index.json"
The v2 publish endpoint needs to be read from the v3 index.json

Otherwise users who have configured package restore from v3 will be expected to configure a different uri for publishing packages. This is confusing and unreasonable.

Instead the new nuget.exe should pick the publish endpoint from the index.json.

[2015-08-17 19:22] SimonCropp commented on #1197
also

[code]

considering Package.config and Project.json can be mixed in the same solution wont this cause some very strange dependency resolutions?

[2015-08-17 19:22] yishaigalatzer commented on #1199
As far as I recall Roslyn looks at a top level folder in the package for these scenarios, and uses an install.ps1 for others. I'll track a sample and spec.

@jmarolf owns the design for this - Can you please submit a PR to docs.nuget.org and expand here?

[2015-08-17 20:05] yishaigalatzer commented on #1198
Thanks for reporting, this was already fixed - The duplicate bug is https://github.com/NuGet/Home/issues/1061

[2015-08-17 20:05] #1198 closed, assigned to nobody

[2015-08-17 20:23] ygoe commented on #1198
When will this fix be available in a release? I couldn't figure out how releases are done here. It looks broken even from the user end with missing release tags and release notes in the gallery and all that.

[2015-08-17 20:27] mteper opened #1203 "Reduce friction for Release Notes maintenance - release notes pack support"
Too many packages do not include release notes, and I speculate that the reason lies in the friction involved in doing so, as the developer is required to actively maintain the .nuspec file. Many projects build directly from the VS project bypassing .nuspec altogether.

A few changes would improve this situation:
- add support for pulling in content from an external file
- have `nuget pack` look f

[2015-08-17 20:43] deepakaravindr commented on #953
Fixed with https://github.com/NuGet/NuGet.VisualStudioExtension/commit/217352b3770a42ec932b7bc0c9e7a60a6bc2ae9b

[2015-08-17 20:43] deepakaravindr commented on #953
Will close after updating docs.nuget.org

[2015-08-17 20:45] ralfverstappen commented on #1181
You mean a flag that can be passed with the update statement to make sure it does not fail for packages that are not available in that feed? That would be great.

Not sure whether I understand your last remark about 'trigger(ed) public sub dependencies'.
Can you explain that a little more?

[2015-08-17 21:12] mausch opened #1204 "Possible race condition when packing"
I have an assembly named DocumentConversion.dll that's referenced in 4 projects in a solution of 54 projects total.
16 of these projects are exported as NuGet packages. Since "nuget pack" is pretty slow, I'm running this concurrently (using rake's multitask, but that doesn't matter).
Every now and then, one of the "nuget pack"s fails with the output:

[code]

or:

[code]

without any stack trace.

[2015-08-17 21:35] pedrolamas commented on #1161
@yishaigalatzer can you confirm if the update process has completed? I ask this as I'm still seeing the same issues with my NuGet package as I stated previously...

[2015-08-17 21:45] yishaigalatzer commented on #1181
Imagine you update private package a that depends on a newer version of entityframework available on nuget.org. Updating that say from 5->6 might trigger more updates that are not immediately expected.

[2015-08-17 21:47] yishaigalatzer commented on #1198
The release is not out yet. It will be available here and in visual studio directly. We are still tweaking the release date but hopefully early Sep.

Releases are only drafted after the final commit is made, for now you can look at the milestone - https://github.com/NuGet/Home/milestones/3.2

[2015-08-17 21:49] emgarten commented on #1161
@PedroLamas I see all versions listed in https://az320820.vo.msecnd.net/v3-flatcontainer/cimbalino.toolkit/index.json

[2015-08-17 21:50] pedrolamas commented on #1161
@emgarten I see them too, but that is incomplete: it's missing the two most recent betas: 2.0.0-beta2 and 2.0.0-beta3

You can see them all here: https://www.nuget.org/packages/Cimbalino.Toolkit

[2015-08-17 21:51] yishaigalatzer commented on #1162
This was fixed (the gallery blocked the extension for some reason).

[2015-08-17 21:51] #1162 closed

[2015-08-17 21:55] yishaigalatzer commented on #1183
@nickcraver ping

[2015-08-17 22:03] emgarten commented on #1161
![capture](https://cloud.githubusercontent.com/assets/6381138/9317527/18eb7168-44f1-11e5-8714-36e6b07ff5d6.PNG)

[2015-08-17 22:04] yishaigalatzer commented on #1197
For project.json - unlisted cannot be accounted for, it will cause build instabilities
For packages.config - The version is determined at install, not at restore, and will let you pull in the latest etc.

Yes it might create inconsistencies, but that is not new, same as different packages.configs with a few different packages pulling different versions.

We are tracking support for unifying versio

[2015-08-17 22:04] #1197 closed, assigned to nobody

[2015-08-17 22:08] pedrolamas commented on #1161
This is what I see:

![image](https://cloud.githubusercontent.com/assets/85504/9317598/9e70f964-4534-11e5-9bd4-55ad58d23614.png)

I cleared my cached files, used different browsers and even a different machine... and nothing!

Remote connecting to my work machine in the office (so different IP and network) shows the same as above...

CDN issue maybe?

[2015-08-17 22:10] yishaigalatzer commented on #1192
Installing a minimum version that is not buggy is the only sane way to build packages. Particularly when these packages are resolved automatically. If you want to build an opinionated and not so opinionated package you can do it today by building a core package with implementation in minimal working/testing dependency and another meta package that always pulls in the latest/most tested package the

[2015-08-17 22:10] #1192 closed

[2015-08-17 22:12] johnataylor commented on #1161
and you tried curl..?

curl -k https://az320820.vo.msecnd.net/v3-flatcontainer/cimbalino.toolkit/index.json

Incidentally I'm seeing the same as Justin. This seems to be some caching - its just hard to see where - but its not obviously the CDN.

[2015-08-17 22:13] yishaigalatzer commented on #1195
@SimonCropp very fair comment.

Also note that this is an open source project and you are more than welcome to PR.

[2015-08-17 22:15] pedrolamas commented on #1161
@johnataylor I don't have linux available to do curl, but I'll try to use Fiddler and see what it returns!

I did try in to use VPN connection to Seattle and some other locations across the globe, all returned the result you see above in the picture!

[2015-08-17 22:18] pedrolamas commented on #1161
Complete Fiddler request and response:

[code]

As you can see above, I even tried adding a bunch of "no cache" headers just to make sure...

[2015-08-17 22:47] johnataylor commented on #1161
@PedroLamas we just purged both our CDN's and disabled a rewrite rule we had running in one of them. We have doubled checked and it seems we have the right Cache-Control header (we set it to no-store for the versions list)

So hopefully this fixes the problem? Please let us know. One thing we are still trying to understand is a discrepancy we had reported between http and https.

Incidentally when

[2015-08-17 22:50] pedrolamas commented on #1161
Confirmed, that did in fact fixed the problem, so thank you very much for that! :)

Guess the real question now is what was missing before, as apparently you were seeing different results compared to what I was seeing!

[2015-08-17 23:07] SimonCropp commented on #1192
@yishaigalatzer you have closed this without addressig many of the concerns people have raised

I never asked for that. I asked for "highest version within the dependency range". in most cases this would effectively be the HighestMinor. This is the most sensible default for packages that follow semver, which as i understand is something nuget is trying to adopt/push

No in the current nuget approa

[2015-08-17 23:23] pedrolamas commented on #1161
@johnataylor Scratch that, unfortunately problem still persists if I disconnect from VPN...

Without any VPN connected all I get is the wrong list _without_ the two new versions; if I connect my VPN to Prague, Czech Republic, I get the correct response back... so far this has been the only location I could find that returned the right response, all other attempts gave me the wrong response back!

[2015-08-17 23:44] wilson0x4d commented on #1181
@yishaigalatzer removed from thread -- submitted Issue #1591 for consideration instead.

Thanks.

[2015-08-17 23:45] johnataylor commented on #1161
@PedroLamas thanks for experimenting, that is very odd indeed. We are following up with our CDN providers (we are actually in the process of moving from vendor to another.)

[2015-08-17 23:55] pedrolamas commented on #1161
No problem, I'm an interested part here so I'll be glad to help anyway I can to get this sorted!

It's almost 01:00 in the UK so I'll resume testing tomorrow morning... :)

-----Original Message-----
From: "johnataylor" notifications@github.com
Sent: ‎18/‎08/‎2015 00:45
To: "NuGet/Home" Home@noreply.github.com
Cc: "Pedro Lamas" pedrolamas@gmail.com
Subject: Re: [Home] Windows Universal Library - F

[2015-08-18 00:16] gabriel-sk-dev opened #1205 "Project with TFS does not load packages in vs 2015"
1) We create a project in vs2015 with tfs and perform a checkin in solution.

2) When someone pulls the solution packages are not loaded. Even performing the build packages are not restored.

3) We try to uninstall and reinstall the packages in the project. Uninstalling went smoothly. But the re-installation does not work.
We received the following message:
"Package 'EntityFramework.6.1.3' already

[2015-08-18 00:25] yishaigalatzer opened #1206 "A way for package owners to control update notifications"
MVC, Razor and EntityFramework are coming up with a "Major Major" breaking change between 5->6, 3->4 & 6->7 respectively, where they share name but the underlying code usage model is completely different.

In this case coming up with an upgrade recommendation in the UI (Update available) will lead users to broken scenarios. Similarly Update-Package command and Update All UI gesture will break the

[2015-08-18 00:26] yishaigalatzer commented on #1206
CC @DamianEdwards @davidfowl  @lodejard

[2015-08-18 01:17] feiling commented on #1191
List of failed functional tests are:

[code]

[2015-08-18 01:29] emgarten commented on #1120
Fixed with NuGet/NuGet3@fce8585d504a1dd2907a6fd64188ae3b4c86610f

[2015-08-18 01:29] #1120 closed

[2015-08-18 01:32] yishaigalatzer commented on #1192
A package author can still ask for a range in this case that goes past HighestMinor.

That's incorrect, for both ASP.NET 5 and project.json scenarios in NuGet3 dependencies are resolved at restore time, and they are resolved as a whole. So that means this feature will make builds not repeatable. It also means that even in the install case, it makes the behavior unpredictable.

In Visual Studio 201

[2015-08-18 02:25] deepakaravindr opened #1207 "After saving a solution, 'Restore' button does not show up on Package Manager Console"
After saving a solution, 'Restore' button does not show up on Package Manager Console

Repro steps
1. Create a C# Console App. Save the solution
2. Install Newtonsoft.Json
3. Close the solution
4. Delete packages folder and the solution file
5. Open VS and open package manager console
6. Open the .csproj from Step (1).
7. Save the solution in the same directory as .csproj file

Expected:
Package r

[2015-08-18 02:38] yishaigalatzer commented on #1181
@wilson0x4d This comment makes sense but does not belong in this issue that talks about the package management console. The scope of this bug is to restore vs2013 behavior. Please open a separate issue to start a discussion.

[2015-08-18 03:20] deepakaravindr commented on #953
Created https://github.com/NuGet/NuGetDocs/pull/361 to update documentation

[2015-08-18 03:20] #953 closed

[2015-08-18 03:47] #1081 closed

[2015-08-18 05:07] abatishchev commented on #832
Very annoying error, making many people stopping from adoption of VS2015 and going back to VS2013.
I would urge to release a hotfix, please. Can you share the schedule for 3.2?

[2015-08-18 05:14] kdelmonte commented on #1188
The package is called DataFile and it is my own package. When I push a new version and wait until the site says it is available to download, the Visual Studio package manager console does not find the new version. If I install the package using the command line utility, it finds it right away.

[2015-08-18 08:02] maartenba commented on #1161
CDN switch has been done (DNS still propagating).

[2015-08-18 08:07] ralfverstappen commented on #1181
@yishaigalatzer Thanks for the explanation.

[2015-08-18 10:06] hariom4me opened #1208 "SikuliIntegrator 1.1.0 : Click action working fine but getting exceptions for Wait and DoubleClick"
Exception for SikuliAction.Wait :

Exception in thread "main" java.lang.UnsatisfiedLinkError: C:\Users\hariom\AppData\Local\Temp\tmplib\Win32Util.dll: Can't find dependent libraries
    at java.lang.ClassLoader$NativeLibrary.load(Native Method)
    at java.lang.ClassLoader.loadLibrary1(ClassLoader.java:1965)
    at java.lang.ClassLoader.loadLibrary0(ClassLoader.java:1890)
    at java.lang.ClassLoa

[2015-08-18 10:09] maartenba opened #1209 "Nuget manager console.VS 2015. Reinstalling single package forced reinstall of all packages"
_From @LogikBlitz on August 17, 2015 7:15_

Setup.
Vs 2015
Nuget: 3.1.60724.766

Scenario.
In a solution i wanted to force nuget to reinstall a single package with very few sub dependencies.
I used command:

[code]

which i have used many times before in VS 2013.
Expected behavior.
Reinstall only said package, in the specified project, and possible sub dependencies. ( i really cant remember if the

[2015-08-18 10:10] maartenba opened #1210 "Use latest version as dependency"
_From @remster85 on August 4, 2015 10:24_

Here is my setup.

I have a project that contains the wcf configuration (endpoints mostly) about a service. Let’s call it config package.

I have a service project that references the config dependency via nuget.

My problem is everytime the config is updated, I need to open the service project and manage my nuget dependency and request an update. It’s ti

[2015-08-18 10:22] maartenba commented on #1184
Looks good to me. The ecosystem page contains a few OSS entries as well where all sorts of auth are possible.

[2015-08-18 10:22] #1184 closed

[2015-08-18 11:19] CobraCalle commented on #1102
Adding hunderets of files by linking them can not be mouch more than a temp. workaround.

I would prefer a solution analog to the old packages.config files... just prefixing them with the project Name and thats it. I think the would be the most straight forward approach and should not be very complex to implement

[2015-08-18 11:36] MichelZ commented on #1066
Same here. Updated to 2015, and now we get this issue

[2015-08-18 13:36] centur opened #1211 "VS Extension: slow packages list updates\listing"
VS Extension is very chatty on the network and doesn't perform proper response caching, which results in very low overall performance when listing all packages or updates:
- For each package in the solution it'll lookup for index.json file which is a separate network call.
- The data that downloaded with each call to index.json doesn't seems to be cached on a client side, thus results in consequen

[2015-08-18 15:04] ymris commented on #894
+1

[2015-08-18 16:45] hvanbakel commented on #458
I'm testing this project, seems to be working just fine:
https://github.com/themotleyfool/Klondike

I'm using it as a local cache for internal packages. Works like a charm

[2015-08-18 17:18] yishaigalatzer commented on #1102
@cobracalle We completely agree. We plan to do the first step in an upcoming release (NuGet will restore from {projectName}.project.json to {projectName}.project.lock.json. And for the UI to edit the right file when updating packages.

This also requires a change from the project system to a. pickup the right lock file in the build b. in PCL edit the right project.json file

@pilchie 's team is tr

[2015-08-18 17:21] yishaigalatzer commented on #1066
We are running out of time for 3.2, so unfortunately this issue will not make it in.

The suggested workaround (and correct approach anyways) is not to put symbol packages on the same server.

[2015-08-18 17:23] yishaigalatzer commented on #894
We plan to fix this for 3.2, this seems to be a duplicate of another bug @feiling can you please resolve the duplication?

[2015-08-18 17:25] yishaigalatzer commented on #458
@hvanbakel coolness, I started looking into it over the weekend, but run out of free time. It is awesome that it works for you!

[2015-08-18 18:17] ymris commented on #894
nice to see that you moved it to 3.2.
Just to let you know: the issue prevents me from upgrading our 50+ projects solution to from Visual Studio 2013 to VS2015, as we have a lot of linked app.configs.

[2015-08-18 18:30] #213 closed

[2015-08-18 18:47] #1107 closed

[2015-08-18 18:50] feiling commented on #1048
Fixed

[2015-08-18 18:50] #1048 closed

[2015-08-18 19:20] stevenscreek commented on #1177
Unfortunately, I'm not going to be able to contribute it.

[2015-08-18 19:30] yishaigalatzer commented on #894
Yes, we initially those thought this is a very small scenario, apparently we where wrong. Based on the amount of feedback we moved it to 3.2

[2015-08-18 19:37] yishaigalatzer commented on #1177
No worries, this is a perfect start

[2015-08-18 19:48] yishaigalatzer commented on #1211
Moved to the gallery.

[2015-08-18 19:48] #1211 closed, assigned to nobody

[2015-08-18 19:57] yishaigalatzer commented on #1210
Unfortunately that is not supported, we should probably remove the empty dependency from the docs, as you are right it is wrong and does not work.

Automatically updating a project is something we do not support, and don't intend to. You should probably move the configuration away from a nuget package.

Down the road with project.json based projects (and you can experiment with that, though its no

[2015-08-18 19:57] #1210 closed, assigned to nobody

[2015-08-18 20:04] yishaigalatzer commented on #1209
Duplicate of #737.

Reinstall was really designed to update the whole package graph when the framework in the project has changed. So the old behavior was "somewhat" unintended and hence not tested and regressed.

We plan to bring back the behavior (as tracked by #737) to keep backwards compat.

What it really does is uninstall the package, and reinstall it with the same specific version. So you w

[2015-08-18 20:04] #1209 closed, assigned to nobody

[2015-08-18 20:07] yishaigalatzer commented on #1208
We don't provide support for individual nuget packages. You can use the following link to contact the owner  - https://www.nuget.org/packages/SikuliIntegrator/ContactOwners

[2015-08-18 20:07] #1208 closed, assigned to nobody

[2015-08-18 20:11] yishaigalatzer commented on #1205
This is a bug we fixed in 3.2, the root cause is that the .nupkg files gets checked in (wrong) and we ignore the setting to avoid source control integration (wrong).

Both these issues are fixed in 3.2

Current workaround: Delete the content of the packages folder completely.

General suggestion - Avoid checking in packages.

Closing this bug - If this doesn't resolve your issue, feel free to cont

[2015-08-18 20:11] #1205 closed, assigned to nobody

[2015-08-18 20:14] yishaigalatzer commented on #1199
@hmemcpy - here is a sample https://www.nuget.org/packages/Microsoft.NETNative.Analyzer/1.0.0

[2015-08-18 20:18] deepakaravindr opened #1212 "nuget.exe unit test failure: NuGetPackCommandTest.PackCommand _ReferencedProjectWithDifferentTarget"
...\NuGet.PackageManagement\test\NuGet.CommandLine.Test\NuGetPackCommandTest.cs(738): error : NuGet.CommandLine.Test.NuGetPackCommandTest.PackCommand
_ReferencedProjectWithDifferentTarget: Attempting to build package from 'proj1.csproj'.\r\nBuilding project 'C:\Users<username hidden>\AppData\Local\Temp\1e230a5a
-652d-4f5e-8f5d-92b9c7ccf74b\proj1\proj1.csproj' for target framework '.NETFramework,Ve

[2015-08-18 20:23] yishaigalatzer commented on #1194
@SimonCropp we discussed this in the team for quite some time, unfortunately there is rich history there that we don't want to shutdown completely.

There is no good way to lock the site down, codeplex just doesn't support it but every single page in the site including the title says that we moved and where to go.

We might eventually be able to do that in the future, or when the codeplex team ena

[2015-08-18 20:23] #1194 closed, assigned to nobody

[2015-08-18 20:31] yishaigalatzer commented on #1189
The major change in V3 that might be affecting you is that we now go to all feeds to find packages. This fixes several issues with correct package resolution when installing.

Its not about V2 being slower (it is not), its about the myget feeds being kinda slow.
Potential fixes are in myget becoming faster, or by using something like a proxy. I've heard from others about ProGet (paid) or klondike

[2015-08-18 20:31] #1189 closed

[2015-08-18 20:39] sirkirby commented on #1189
Thanks for the insight @yishaigalatzer . I'm actively working with myget on the issue as well, so I will pass this along.

[2015-08-18 20:43] yishaigalatzer commented on #1186
@zarenner what version of nuget.exe are you reporting this?

[2015-08-18 20:47] yishaigalatzer commented on #1178
Command line 2.8.6 still doesn't support the V3 API, you need to try the http://dist.nuget.org/win-x86-commandline/v3.1.0-beta/nuget.exe

I suggest you look into how your nuget.config differs from other people on your team.

[2015-08-18 20:47] #1187 closed

[2015-08-18 20:47] yishaigalatzer commented on #1187
done

[2015-08-18 21:30] LogikBlitz commented on #1209
According to the documentation you link to the required command would be:
`install-package [-Id] <string> [-IgnoreDependencies] [-Version <string>]  [-Force]`
in order to achieve the same as
`update-package <packagename> -reinstall`

Granted i have not tried the other syntax but it is longer and more complex, so i applaud the fact that you aim to maintain the old behavior.
Allthou i always found i

[2015-08-18 21:38] yishaigalatzer commented on #1212
The test fails when 3.5 is not installed on the machine. We don't have to fix it right away

CC @feiling

[2015-08-18 21:51] yishaigalatzer commented on #1188
Look like it does. 0.0.9 is the latest listed, 1.0.0 - through 1.1.3 are not

![image](https://cloud.githubusercontent.com/assets/1238711/9343749/aa66e7f4-45b8-11e5-847c-af201c999d5e.png)

[2015-08-18 21:55] yishaigalatzer commented on #1188
Please reopen if you still see this issue after your packages are listed.

[2015-08-18 21:55] #1188 closed

[2015-08-18 22:00] zarenner commented on #1186
@yishaigalatzer Repros in latest dev.

[2015-08-18 22:01] yishaigalatzer commented on #1161
@PedroLamas waiting on your feedback to see if we can close this bug.

[2015-08-18 22:05] brettjacobson commented on #1066
I think its a bit difficult to call it the "correct approach" since it worked fine for 1.5 years.  If you guys want to define it as a "breaking change, just suffer", that at least would be more palatable to me.

but then I would ask the question, why SHOULDN'T you keep symbol packages on the same internal-to-my-company's-LAN Nuget repository?  What is the rationale behind forcing us to have TWO se

[2015-08-18 22:06] yishaigalatzer commented on #1143
@wanghaolu can you try again today, and tell us what packages are failing right now?

[2015-08-18 22:12] pedrolamas commented on #1161
@yishaigalatzer no such luck yet unfortunately: this was just taken (no VPN connection active, BT Fiber UK network)...

![image](https://cloud.githubusercontent.com/assets/85504/9344165/85252348-45fe-11e5-9fae-e45186ae7146.png)

[2015-08-18 22:12] yishaigalatzer commented on #1134
@jorisdebock haven't heard back from you for about 2 weeks now. Please re-open if you have a repro.

In general at this point we would probably guide you to build for specific TFMs rather than dotnet (so build UAP10, DNX etc.)

[2015-08-18 22:12] #1134 closed

[2015-08-18 22:14] yishaigalatzer commented on #1138
@czfq2b still waiting on more information to investigate this issue

[2015-08-18 22:15] yishaigalatzer commented on #1173
Please reachout to @jasonmalinowski for more info, and schedule a design discussion before fixing this.

[2015-08-18 22:16] #1087 closed

[2015-08-18 22:19] pedrolamas commented on #1161
@yishaigalatzer same test with different VPN connections active:

Czech Republic (ip: 87.236.195.22)

![image](https://cloud.githubusercontent.com/assets/85504/9344242/1201e2d8-45ff-11e5-8967-3778c303388d.png)

Germany (ip: 195.122.150.131)

![image](https://cloud.githubusercontent.com/assets/85504/9344260/34b5d654-45ff-11e5-9363-79bdf19945c2.png)

France (ip: 178.32.219.18)

![image](https://clou

[2015-08-18 22:40] yishaigalatzer commented on #1209
:) Documented yes, intended hmmm, not so sure, after all the doc is called "The pitfalls of ..."

Either way we are looking into it, and intend to restore backcompat.

Thanks!

[2015-08-18 22:50] yishaigalatzer commented on #1066
We are not saying it is a "breaking change, just suffer" we are saying the exact opposite: "Sorry we broke it, we are going to fix it, we somehow missed this scenario".

When it comes to the correct approach comment, I'm not sure why would you put a symbol package on the NuGet server share? Typically they go to two different servers (symbol servers or nuget servers). I asked a bit around and could

[2015-08-18 23:25] batkuip commented on #1139
Having the same issue.  It's firing 50+ requests to urls like https://api.nuget.org/v3/registration1/microsoft.aspnet.identity.entityframework/index.json
each response is about ~100 Kb - so you end up downloading 5Mb every time you open the screen.

It also doesn't seem to cache the package icons - which means scrolling through the list is a very painful experience.

Actually it's even worse - whe

[2015-08-19 00:00] feiling commented on #776
Dependency updated in nuget v3 so that nuget v3 command line is also fixed.

[2015-08-19 00:00] #776 closed

[2015-08-19 00:04] Knele83 commented on #776
lbipzelccvvypsgq

[2015-08-19 00:09] SimonCropp commented on #1194
how about instead of a lock down you add a robots.txt noindex feature. that would at least fix the search engine problem

[2015-08-19 00:13] yishaigalatzer commented on #1194
Do you know if this can be done on codeplex? Couldn't find a way to control it. I did forward this thread to the codeplex team, I will do the same with this suggestion.

[2015-08-19 00:16] SimonCropp commented on #1194
no i dont believe it is possible. i was just hoping since nuget is run by MS and codeplex is run by MS.... :)

[2015-08-19 00:53] emgarten commented on #1122
NuGet/NuGet.VisualstudioExtension@b05d423cea9447801c1e6bb84fe4ba539fb3bd3d

[2015-08-19 00:53] #1122 closed

[2015-08-19 06:56] ghost commented on #1210
Remi.desreumaux@sgcib.com
On Aug 18, 2015 9:57 PM, "Yishai Galatzer" notifications@github.com wrote:

[2015-08-19 08:38] pedrolamas commented on #1161
@yishaigalatzer I just made another test this morning, getting the same wrong results in both my home network and in the office.

This is a complete `tracert az320820.vo.msecnd.net` that I just did using my home connection:

[code]

[2015-08-19 10:36] Mpdreamz commented on #1192
I could not agree more with @SimonCropp, there is nothing inherently safer about resolving to lowest then there is about resolving to highest. Not resolving to latest and greatest because it might introduce bugs ignores the fact that latest and greatest might also fix a thing or two. Making an assumption either way is bad but assuming the latest version breaks causes folks to stay on older version

[2015-08-19 11:09] shayhatsor opened #1213 "getting https://api.nuget.org/v3/index.json instead of the package"
when i try to download some packages, i get https://api.nuget.org/v3/index.json instead of the package.
some examples:
https://www.nuget.org/packages/ZooKeeperNetEx/
https://www.nuget.org/packages/ZooKeeperNet/
https://www.nuget.org/packages/Microsoft.Experimental.Azure.ZooKeeper/0.4.0-alpha

[2015-08-19 11:37] drmcclelland opened #1214 "Too many automatic redirections were attempted - NuGet Package restore failed?"
I have pulled code from GitHub (https://github.com/ilich/MvcReportViewer), which contains a C# project which I would like to reference in my application.  I've added it to my solution in VS2013, and notice this message at the top of the "Manage NuGet Packages" dialog:

![image](https://cloud.githubusercontent.com/assets/6124858/9355130/c477443a-463b-11e5-8879-a5aed84fe19f.png)

So, I happily click

[2015-08-19 12:34] pedrolamas commented on #1161
@yishaigalatzer **success:** both my home and work connections are finally showing the correct results with the new versions on them!! :smiley:

[2015-08-19 12:35] SimonCropp commented on #1161
Awesome work peoples

[2015-08-19 12:47] maartenba commented on #1161
Not closing this one yet. This only happened because of a manual CDN purge. @johnataylor @bhuvak this needs additional investigation.

[2015-08-19 12:47] maartenba commented on #1214
This has been resolved. We recommend clearing NuGet cache (%LOCALAPPDATA%\NuGet\Cache).

[2015-08-19 12:47] #1214 closed, assigned to nobody

[2015-08-19 12:47] maartenba commented on #1213
This has been resolved. We recommend clearing NuGet cache (%LOCALAPPDATA%\NuGet\Cache).

[2015-08-19 12:47] #1213 closed, assigned to nobody

[2015-08-19 12:54] maartenba opened #1215 "Project "Default" is not found"
_From @swiftie821 on August 18, 2015 15:43_

NuGet is not letting me install packages or change the current project in command line, keeps coming up with (on Get-Package -ListAvailable):

PM> Get-Package -ListAvailable
Get-Package : Project 'Default' is not found.
At line:1 char:12
- Get-Package <<<<  -ListAvailable
  - CategoryInfo          : ObjectNotFound: (Default:String) [Get-Package], ItemNo

[2015-08-19 13:06] maartenba opened #1216 "NuGet incorrectly treating authenticated V3 feed as V2"
When connecting to an authenticated V3 feed, the NuGet Visual Studio Extension prompts for credentials as expected. However on the next requests, the extension treats the feed as a V2 feed.

Steps to reproduce the issue:
- Register https://www.myget.org/F/nuget-private/api/v3/index.json as a package source
- Authenticate
- Get a 404 Not Found in the NuGet Visual Studio Extension UI

When looking a

[2015-08-19 14:23] jackywang615 commented on #1143
@yishaigalatzer , I upload the fiddler log file into http://pan.baidu.com/s/1c09B8fY, you can download it.

[2015-08-19 14:45] xavierdecoster commented on #1189
@sirkirby is having performance issues with both MyGet as well as AppVeyor in VS2015, where in VS2013 he did not have these issues. Looking at #1101 this seems "by design" for V2 feeds.

Having said that, @sirkirby can you try out MyGet's experimental V3 support? URL format would be https://www.myget.org/F/feedname/api/v3/index.json (note that for private feeds there is another open issue #1216)

[2015-08-19 16:15] sirkirby commented on #1189
@xavierdecoster will do. I'm switching mine over today in visual studio as well as a few team members running vs2015. I'll also update a few build plans on my CI server to use the new experimental v3 support as well and report back.

[2015-08-19 18:13] AlexEyler commented on #1200
We're hitting this issue as well (the Visual Studio Platform team).

[2015-08-19 18:15] #1063 closed

[2015-08-19 18:46] emgarten opened #1217 "Packages.config restore does not retry on 5xx status codes from V2 sources"
Restoring a packages.config project from V2 will fail if a 503 status code is returned by the server during a call to FindPackagesById or the package download endpoint.

NuGet.Core should retry in these scenarios.

RestoreRetry_PackagesConfigRetryOnFailingV2Source should be re-enabled after fixing this.

[2015-08-19 19:48] jmyersmsft commented on #1202
I would strongly prefer that this _not_ use the LegacyGallery entry in the index, but instead use a new entry ("LegacyPushService"?), so that implementations that are only implementing v2 push as a stop-gap until a proper v3 push is available don't have to implicitly promise that they implement a full v2 service.

[2015-08-19 19:50] deepakaravindr commented on #1202
@jmyersmsft
Yes. Push is a different endpoint and we will not use LegacyGallery entry for that

[2015-08-19 19:51] yishaigalatzer commented on #1139
Moving this to the next release, it doesn't look like we can make this change in time for locking down 3.2

[2015-08-19 19:51] #1109 closed

[2015-08-19 19:52] yishaigalatzer commented on #1109
This was already fixed

[2015-08-19 19:52] yishaigalatzer commented on #1096
We have a design for this. I will post it later today in our new wiki section

[2015-08-19 20:17] theo-albers commented on #1200
I also spotted that it trims the default packagesource as well, so:

[code]

results in:

[code]

[2015-08-19 20:22] feiling commented on #1182
@raffaeler from the screenshot, I can see you're using an older version of nuget. Please install the latest version. Then you can see action "Consolidate", which is exactly what you need.

![image](https://cloud.githubusercontent.com/assets/2679220/9367922/3e9d1d32-4675-11e5-9edf-ef159aad681d.png)

[2015-08-19 20:22] #1182 closed

[2015-08-19 20:59] jmyersmsft commented on #1202
cool, thanks :)

[2015-08-19 21:37] emgarten opened #1218 "nuget.exe restore does not work when a csproj is passed in"
nuget.exe restore project.csproj does not work correctly. The code is detecting if the argument is an msbuild file and then adding it to the list of restore inputs as a project.json file which is incorrect. There is also no check for packages.config either in this code path.

[2015-08-19 21:43] deepakaravindr opened #1219 "nuget.exe list -AllVersions does not list all the versions"
nuget.exe list -AllVersions does not list all the versions
1. Run nuget.exe list Newtonsoft.Json -Source https://www.nuget.org/api/v2 -AllVersions

Expected:
All versions of Newtonsoft.Json are listed in the result

Actual:
Only the latest version of Newtonsoft.Json is listed in the result

[2015-08-19 21:55] emgarten opened #1220 "nuget.exe restore returns an incorrect error message for unknown file inputs"
When an unknown file is passed into nuget.exe restore it is treated as a solution file and the error message is unhelpful.

Repro
1. create a new empty file: file.xaml
2. run nuget.exe restore file.xaml

Expected:
An error saying the input is invalid

Actual:
"Could not find a part of the path 'c:\mypath\file.xaml'"

[2015-08-20 00:04] #1183 closed

[2015-08-20 00:08] yishaigalatzer commented on #1183
@nickcraver we verified the assumptions above. If you see something different please re-open.

[2015-08-20 00:19] #1186 closed

[2015-08-20 09:42] furmek opened #1221 "UAP - platform specific binaries not picked up from runtimes"
My NuGet package contains .dll files that are build for specific platforms (arm, x86 and x64).
The project.lock.json file seems to be updating just fine but the project will build only in x86.
When trying to build in x64 or arm the runtimes/win10-[platform] is ignored - VS will complain about lib arhitecture:

[code]

The nupkg structure goes like this:

[code]

After installing my project.lock.js

[2015-08-20 12:17] bencyoung opened #1222 "NuGet 3.1 not reading from our internal v2 source"
I get the error below whenever it tries to restore a package

Response status code does not indicate success: 401 (Unauthorized).
 GET http://adpbuildsrv:81/nuget/Internal/FindPackagesById()?id=...
 System.Net.Http.HttpRequestException: Response status code does not indicate success: 401 (Unauthorized).

Interestingly the package manager view works fine in VS 2015, as does NuGet 2.8 in VS 2013

[2015-08-20 15:00] pavelsavara commented on #1017
This now happens with VS2015 too as it has same version of NuGet.

[2015-08-20 16:04] CobraCalle opened #1224 "Installation is rolledback instantly"
Hello,

with VS2015 I cannot update packages from our own store. The with VS2013 everything works fine. When I want to update a package it is installed and is shown in the source control explorer for a second. The it is rolled back, but I cannot see why this happens... here the output:

Attempting to gather dependencies information for package 'Diomex.Framework.Release.2.1.15229.1' with respect to

[2015-08-20 17:11] #1191 closed

[2015-08-20 18:09] themilkyninja opened #1225 "NuGet Restore race condition"
When calling NuGet Restore <solution>, I occasionally will get a message like this:

`The process cannot access the file 'foo.nupkg' because it is being used by another process.`

Adding the -DisableParallelProcessing flag seems to fix this, but it also slows the process down significantly. Is there another option? Or could Restore be made smarter to not attempt to download the same package multip

[2015-08-20 18:19] jmyersmsft commented on #456
We're seeing some strange auth issues here too. Using nuget.exe 3.1.0-beta downloaded from the link in the blog post, with an authenticated v3 source with credentials stored in nuget.config, running

[code]

gives the following behavior:
1. GET (index.json) (without credentials) -> 401 with auth challenge
2. GET (index.json) (with Basic credentials) -> 200
3. GET (SearchQueryService URL) (**withou

[2015-08-20 19:24] yishaigalatzer commented on #456
How did you get an authenticated v3 feed?

[2015-08-20 21:49] pranavkm commented on #1123
:+1:

[2015-08-20 21:52] emgarten commented on #1218
nuget.exe restore <csproj> will not search for the packages.config or project.json file in the same directory.

NuGet/NuGet.PackageManagement@de28a73b3082dfaeaadfb16916142a77ebdc2edb

[2015-08-20 21:52] #1218 closed, assigned to deepakaravindr

[2015-08-20 22:03] brettfo opened #1226 "Unable to use UI to uninstall when another dependency isn't available for a target platform."
**REPRO:**
1.  Using VS2015, create a new portable class library targeting ".NET Framework 4.6", "Windows Universal 10.0", and "ASP.NET Core 5.0".
2.  Manually edit `project.json` and add two dependencies that don't support one of the target platforms.  E.g., add a dependency to "Serilog 1.5.9" and "IxMilia.Dxf 0.2.0", neither of which support ASP.NET Core 5.0.
3.  Open "Manage NuGet Packages" UI

[2015-08-20 22:11] emgarten commented on #1226
This will be fixed in the next release. For uninstall scenarios the rollback has been removed.
NuGet/NuGet.packagemanagement@08bf877d0b32e89e0652f0cde346a942dc42cb93

[2015-08-20 22:11] #1226 closed, assigned to nobody

[2015-08-20 22:17] emgarten opened #1227 "nuget.exe should skip DNX projects"
nuget.exe will incorrectly restore project.json files from DNX projects when a solution contains .xproj files or nuget.exe restore is called directly on the project.json file.

DNX projects should be skipped when restoring a solution. In scenarios where the user runs nuget.exe restore on an .xproj or project.json file NuGet should error out and display a message letting users know that nuget.exe d

[2015-08-20 22:23] emgarten opened #1228 "Display a warning or error when a project.json file owner is ambigous"
If multiple .csproj files exist in a single folder and the folder contains a project.json file it is ambiguous which project owns the file. These projects should use ProjectName.project.json for the name, in cases where this is not done for all projects in the folder NuGet should warn or error out.

The projects in the folder could have different project references which will impact the lock file.

[2015-08-20 22:27] emgarten commented on #1226
https://github.com/NuGet/Home/issues/1128

[2015-08-20 23:13] jmyersmsft opened #1229 "nuget.exe on v3 service only uses credentials for request to index.json"
We're seeing some strange auth issues here. Using:
- nuget.exe 3.1.0-beta downloaded from the link in the blog post, or NuGet.CommandLine.3.2-beta-10868 from nugetbuild feed on myget
- an authenticated v3 source
- credentials stored in nuget.config,

running:

[code]

gives the following behavior:
1. GET (index.json) (without credentials) -> 401 with auth challenge
2. GET (index.json) (with Basic

[2015-08-20 23:28] #939 closed

[2015-08-21 00:20] #1026 closed

[2015-08-21 00:26] deepakaravindr commented on #1026
Also related to https://github.com/NuGet/NuGet3/commit/334a1cdcd269ed27412f0d70535357df570a2f72

[2015-08-21 00:27] deepakaravindr commented on #1185
Fixed with NuGet/NuGet3@334a1cd and https://github.com/NuGet/NuGet.PackageManagement/commit/7d76fca64714e02b935c76592419afbb68dd8f45

[2015-08-21 00:27] #1185 closed

[2015-08-21 00:27] deepakaravindr commented on #1002
Fixed with NuGet/NuGet3@334a1cd and NuGet/NuGet.PackageManagement@7d76fca

[2015-08-21 00:27] #1002 closed

[2015-08-21 01:04] JaCraig commented on #1008
This seems to be fixed by reinstalling VS2015. So I'm guessing it's 2015's bug... It would be nice if I could say it's the only issue that I've run into with the new version of Visual Studio but sadly the list is long thus far.

[2015-08-21 01:04] #1008 closed

[2015-08-21 01:31] emgarten commented on #1102
I have added support for projectName.project.json to nuget.exe and the Visual Studio 2015 extension.

NuGet/NuGet.Packagemanagement@de28a73b3082dfaeaadfb16916142a77ebdc2edb
NuGet/NuGet.Packagemanagement@7d76fca64714e02b935c76592419afbb68dd8f45
NuGet/NuGet.VisualStudioExtension@70850499ddaabe2c265dca50287ff2b0be715def

[2015-08-21 01:31] #1102 closed

[2015-08-21 01:45] Pilchie commented on #1102
Tagging @rchande and @jasonmalinowski too

[2015-08-21 02:00] #1202 closed, assigned to zhili1208

[2015-08-21 02:34] tomspilman commented on #1102
Fantastic @emgarten !  When can we expect this feature to get released?

[2015-08-21 03:23] yishaigalatzer commented on #1102
We are still depending on a change in the c# project system. We will update further when that happens as it related to a visual studio release and not just a nuget release.

[2015-08-21 03:27] ChengTian opened #1230 "Fix inter-process synchronization on cross-plat CoreCLR because named mutex is not supported"
Creating a named mutex throws not-implemented-exception on cross-platform CoreCLR:
https://github.com/aspnet/dnx/issues/2501

NuGet is impacted too:
Sample:
https://github.com/NuGet/NuGet3/blob/fd3dc50664b8dd32e755940f6908ac5366ce150f/src/NuGet.Configuration/Settings/Settings.cs#L931
All impacted places:
https://github.com/search?q=ExecuteSynchronized+user%3Anuget&ref=simplesearch&type=Code&utf8=%

[2015-08-21 03:32] tomspilman commented on #1102
Thanks @yishaigalatzer !

[2015-08-21 06:08] yooakim commented on #1016
I also experience that the entire IDE freezes when I try to open the Package Manager Console. I've started a brand new project and when I open the package Manager Console the IDE freezes and all I see is `Initializing PowerShell host...`

Only way to come out of this is to kill VS using TaskManager

[2015-08-21 06:24] maartenba commented on #1216
Could be related to #1229 and #456

[2015-08-21 07:37] emgarten opened #1231 "Resource string typo in restore finished message"
PackageRestoreFinishedForProject in VSExtension contains a typo.

Actual:
NuGet Package restored finished for project {0}.

Expected:
NuGet Package restore finished for project {0}.

[2015-08-21 14:35] FranckSix opened #1232 "Add the possibility to filter package where consolidation is required"
Add the possibility in the filter combobox to select all package in solution where a consolidation is required. When a package is selected chose by default the Action Consolidate.

This feature can help considerably in case when have some Assembly conflict.

[2015-08-21 18:28] emgarten commented on #1224
It looks like the error is

This could occur if the assembly reference cannot be added to the project. Since I don't see the package on nuget.org I can't try it myself, but you could verify that adding a reference to Diomex.Framework.dll works as expected outside of NuGet.

You can also try using the powershell management console to get more info on the error by running the install there:
_install

[2015-08-21 19:13] emgarten commented on #1232
Which version of NuGet and Visual Studio are you using today?

[2015-08-21 19:14] emgarten opened #1233 "Lock file design discussion - August 18th, 2015"
Discussion for https://github.com/NuGet/Home/wiki/Lock-file-design-meeting-notes---August-18,-2015

[2015-08-21 20:16] ericstj opened #1234 "Nuget.exe needs support for push -unlisted and list"
It is recommended to always push unlisted, test and list after validation.  In addition for implementation only packages that are not expected to be directly referenced it is preferred that the packages remain unlisted.

Nuget provides no mechanism to do this.  Jeff Handly blogged a powershell script to do this: http://jeffhandley.com/archive/2012/12/13/Bulk-Publishing-NuGet-Packages.aspx but I've

[2015-08-21 20:46] emgarten commented on #1169
Fixed with NuGet/NuGet.VisualStudioExtension@a423b418eb1efc6edc79a8a06e7b01252053de86

[2015-08-21 20:46] #1169 closed

[2015-08-21 21:13] feiling commented on #894
This is a duplicate of https://github.com/NuGet/Home/issues/1111. The problem is that nuget could not handle linked app.config. This was fixed.

[2015-08-21 21:13] #894 closed

[2015-08-21 22:22] yishaigalatzer commented on #1234
We plan to do much better, and build a mechanism into the server where you push into a private feed, and test against the private feed+the main feed, and then merge as a commit.

Leading to a much cleaner state of the world where you can properly test your packages first.

Moving this to vNext, but we will gladly take a PR for nuget.exe if someone would like to add it.

[2015-08-21 22:24] yishaigalatzer commented on #1232
Is this about making a package match the same version across the whole solution?

[2015-08-21 22:29] yishaigalatzer commented on #1225
Can you try the same with `nuget 3.1-beta` ? We plan to release an RC version early next week

[2015-08-21 22:31] yishaigalatzer commented on #1221
You need a ref library or anycpu (in your case you don't). I would probably use ref in your case with the x86 dll

[2015-08-21 22:35] yishaigalatzer commented on #1216
@feiling is going to look into it. If this is still not supported, I would suggest that myget drop this support until there is an actual NuGet3 support for this scenario.

[2015-08-21 22:36] yishaigalatzer commented on #1199
@hmemcpy the PR is updated, and it has all the technical details, now just cleaning up the verbiage. Let me know if you have more questions before we close this issue

[2015-08-21 22:37] yishaigalatzer commented on #1100
We need to properly error out, we a good guidance on how to fix the issue in the package.

[2015-08-21 22:41] emgarten opened #1235 "nuget.exe does not prompt for credentials under powershell"
1. Create a packages.config file with projects
2. Do not have have any credentials in nuget.config
3. _nuget.exe restore packages.config -Source https://www.myget.org/F/nuget-private-test/api/v2 -SolutionDirectory ._

Expected:
nuget.exe should prompt and wait for the credentials for be entered

Actual:
nuget.exe does not wait for input and a command line exception is thrown

Restoring NuGet packa

[2015-08-21 22:42] yishaigalatzer opened #1236 "NuGet UI design improvements"
Here are some screenshots from the wiki

https://github.com/NuGet/Home/wiki/NuGet-UI-design-meeting-notes-August-20-2015
https://github.com/NuGet/Home/wiki/NuGet-UI-design-meeting-notes-August-21,-2015

NuGet 3.1.1
![image](https://cloud.githubusercontent.com/assets/1238711/9420470/e3579c98-481a-11e5-9365-4e00bfa674e6.png)

As early as NuGet 3.3
![image](https://cloud.githubusercontent.com/assets/

[2015-08-21 23:00] emgarten commented on #1235
After looking at this further it appears that this happens in both nuget.exe 3.0.0 and 2.8.6 when running in powershell. nuget.exe seems to treat powershell environments as non-interactive?

One difference I see is that 2.8.6 prints out a warning about non-interactive mode where as 3.0.0 does not mention this.

[2015-08-22 00:11] bhuvak opened #1237 "push command doesnt work with NuGet.exe 3.2.0"
Basic push command returns 404 with nuget.exe 3.2.0 ( against V2 source).
It happens both with -source command and when the source is specified in the config.

nuget.exe push does not work when the input is **https://www.nuget.org/api/v2/Package**

[2015-08-22 00:23] #1158 closed

[2015-08-22 00:47] deepakaravindr opened #1238 "nuget.exe list command against v3 package source show friendly message"
nuget.exe list command against v3 package source show friendly message when the v3 index.json does
not have an entry for 'LegacyGallery/2.0.0'

[2015-08-22 03:42] FranckSix commented on #1232
VS 2015 with the built in nuget version. This version has alreaady the possibility to consolidate but I want a feature to spot package with version conflicts. This will permit rapidly to spot which assemblys does not match the same version across the whole solution.

[2015-08-22 15:54] WinDevInd opened #1239 "installation rolling back always with VS 2015"
Facing issue with package installation via nuget on project created with Visual Studio 2013 and running in Visual studio 2015.

It ends up with below mention error.

Resolved actions to install package 'Newtonsoft.Json.7.0.1'

For adding package 'Newtonsoft.Json.7.0.1' to project 'Analytics' that targets 'portable45-net45+win8+wp8+wpa81'.

For adding package 'Newtonsoft.Json.7.0.1' to project 'Ana

[2015-08-22 17:51] emgarten commented on #1239
From the stack trace it looks like this is failing when creating the binding redirects at the end.

You might be able to work around this by finding the unresolved C++ project reference and fixing it.

[2015-08-22 18:27] yishaigalatzer commented on #1239
@emgarten  I recall you fixing something like this in 3.2?

@WinDevInd are you able to provide a simple repro following this suggestion? We would like to be sure we fixed your exact scenario or can fix it if we didn't

[2015-08-22 20:20] WinDevInd commented on #1239
I have 2 C++ project also apart from list of projects I described above

[2015-08-22 20:28] WinDevInd commented on #1239
@emgarten Thank you so much. You pointed out exact problem.
I have 2 C++ native project Which was referenced in another Class library, and that class library was referenced in main Phone project. I tried to install package after removing the C++ project reference and it worked perfectly.
Thank you so much :)

[2015-08-22 20:42] brettjacobson commented on #1066
I'm starting to get the feeling that perhaps I have been "doing it wrong", because of a lack of sufficient documentation from Microsoft regarding hosting symbol packages for Nuget packages.
It appears that for the last 1.5 years I have not been getting the full symbol experience that I thought I was.

Is there anyone that can point out some recent, working, documentation on setting up an internal

[2015-08-22 21:59] emgarten commented on #1239
@yishaigalatzer this was fixed for project.json restores, but it looks like the calls to add binding redirects can run into the same issue. It will need to be fixed there also.

@WinDevInd glad to hear that worked. We'll get this fixed in the client.

[2015-08-22 22:06] princeo911 commented on #987
I get the same error with Visual Studio 2013 when I run add migration

Add-Migration -ConfigurationTypeName "Qrom.Security.Identity.Repository.Implementation.Configuration"  -Force -Name "Initial Create" -ConnectionProviderName "System.Data.SqlClient"
Exception calling "LoadFrom" with "1" argument(s): "Could not load file or assembly 'file:///P:\Qrom.Security\packages\EntityFramework.6.1.3\tools\E

[2015-08-22 23:14] jorisdebock commented on #1134
sorry for late response, wasnt at home last weeks. I made an example repo https://github.com/jorisdebock/PCLNugetExample

Using the nuget.exe beta 3.1.0 with the following command
`nuget.exe pack PCLNugetExample\PCLNugetExample.csproj` (just saw the command I posted before wasn't correct)

result:

[code]

@yishaigalatzer can't re-open myself

[2015-08-23 04:48] vahpetr commented on #987
cd /d %YouApp%\packages\EntityFramework.6.1.3\lib\net45

%ProgramFiles%\Microsoft SDKs\Windows\v10.0A\bin\NETFX 4.6 Tools\gacutil.exe /i EntityFramework.dll

[2015-08-23 07:01] WinDevInd commented on #1239
@emgarten Thank you :)

[2015-08-23 15:09] princeo911 commented on #987
I did lots of things and changed many things on my computer, got it working, but now when I try to update some packages that run powershell scripts, I get an a warning script which stops the update from running.
I will attach the images in the next comment. I think there is a link of these issues and Visual Studio Update 5

![razorgenerator startup](https://cloud.githubusercontent.com/assets/13858

[2015-08-23 15:42] princeo911 commented on #987
I think my issues is a seperate ticket, will delete them and create a ticket

[2015-08-23 15:48] princeo911 opened #1240 "Unable to Update Nuget packages that run powershell scripts"
When I try to update some packages that run powershell scripts, I get an a warning about running the script which stops the update from continuing. The warnings appear in the package manager console, the only way to come out of it is to terminate visual studo.
I will attach the images in the next comment. I think there is a link of these issues and Visual Studio Update 5.

[2015-08-23 15:48] princeo911 commented on #1240
![updating json](https://cloud.githubusercontent.com/assets/13858033/9428926/c60710f4-49b6-11e5-9843-1b007351b532.png)
![updating json2](https://cloud.githubusercontent.com/assets/13858033/9428929/c988d816-49b6-11e5-8be2-fc03c7f0175e.png)

[2015-08-24 03:17] eriawan commented on #1240
@princeo911
Have you tried to run Visual Studio as administrator? Please run Visual Studio as administrator.
I have used this workaround before. Please let me know if it's working or not.

[2015-08-24 03:47] yishaigalatzer commented on #1240
Are you seeing this specifically with json.NET 7.0.1 or other packages as well?

[2015-08-24 03:57] yishaigalatzer commented on #1004
@emgarten why is this issue assigned to @csharpfritz  ?

[2015-08-24 04:57] emgarten commented on #1004
@yishaigalatzer not sure.

We should verify that this is fixed as part of https://github.com/NuGet/Home/issues/980

[2015-08-24 05:02] emgarten commented on #1240
@princeo911 is P:\ mapped to a UNC shared?

[2015-08-24 05:36] iskiselev opened #1241 "install.ps1 on Nuget 3.1"
According to NuGet 3.1 release notes, it is not clear, if install.ps1/uninstall.ps1 was deprecated at all or only for projects that use project.json.
So should it be run if I install some old package to common Net 4.5 (4.6) console application?
Currently it doesn't work, that breaks expected behavior for some packages. Even worse, it doesn't warn end user, that some features was disabled and may n

[2015-08-24 07:08] princeo911 commented on #1240
@yishaigalatzer I am seeing this with any package that runs powershell script.I will create a new demo solution and see if this happens with it. I have 6 projects and they all seem to have the same problem

[2015-08-24 07:10] princeo911 commented on #1240
@emgarten  No its a partition off my SSD, I Think if there was a way for me to answer the prompts when the script is running or ability to suppress the prompts, this problem will go away.

[2015-08-24 09:19] furmek commented on #1221
I've tried adding x86 dll in a following ways:
1. `lib\MySDK.dll`
2. `lib\uap10.0\MySDK.dll`
3. `ref\MySDK.dll`
4. `ref\uap10.0\MySDK.dll`
5. `runtimes\win10-anycpu\lib\uap10.0\MySDK.dll`

None of them worked for me.
Interestingly enough, when I add `anycpu` (line 5) and build project that consumes `MySDK` with `x64` selected as a target platform, VS output suggests that `anycpu` folder was used d

[2015-08-24 10:01] mlinehan17 opened #1242 "Error message on installing package into C++ project could be more helpful"
I was authoring a package and importing it into a C++ project.

I got this error:

“Could not install package '<package name>'. You are trying to install this package into a project that targets 'native,Version=v0.0', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author.”

The issue was t

[2015-08-24 12:19] CobraCalle commented on #1224
Thank you for the info... I'll try the powershell command when we update the Diomex.Framework-Package next time. But in general some more information in the default log would make live easy.

But at the end, I don't think that the problem is related to that package, because updating the package with package manager in VS2013 work just fine. Or are there any things I have to change in my package to

[2015-08-24 12:21] thargy commented on #1016
+1 for this

[2015-08-24 14:45] liammoat commented on #1016
+1 for this

[2015-08-24 15:12] binki opened #1243 "NuGet tries to install System.Runtime-4.0.20 even though it requires .NETFramework,Version=v4.6"
When I go to install System.Runtime-4.0.20 into a fresh .net-4.5 project, I get
![2015 08 24-nuget-lets-me-try-system runtime-4 0 20](https://cloud.githubusercontent.com/assets/82626/9443737/c04e4a8e-4a50-11e5-822b-ea04b3ec8d86.png)
. Instead, it should never even display 4.0.20 as an option or never claim to have successfully resolved its dependencies. When I say to go ahead and install it, it ge

[2015-08-24 15:17] csharpfritz opened #1244 "License Acceptance Dialog - Missing keyboard accelerators"
From Visual Studio Feedback [428713]:

License acceptance dialog in NuGet doesn't support keyboard accelerators for "I Accept" and "I Reject" buttons.

[2015-08-24 15:43] ericstj commented on #1221
There isn't any point in having a lib folder if you also have a win10-anycpu/lib folder.  If that is all you need just put it in lib.

If you need architecture specific implementation you can put that in a runtimes/win10-x86/lib/uap10.0 folder.

So here are the two scenarios.
1. Any CPU dll:

[code]
1. Architecture specific dll, requires a reference assembly since the "runtime" section is not used

[2015-08-24 16:41] OsirisTerje opened #1245 "Install.ps1 doesn't run in VS2015 even if project is non-transitive"
Repro:
1. Create a standard c# classlibrary
2. Add the NUnit Test Adapter (https://www.nuget.org/packages/NUnitTestAdapter/)
3. Look at the properties for the references nunit.core, nunit.core.interfaces and nunit.util.  All of these should have CopyLocal= false
This is done in the install.ps1 script in the package.  It runs fine in VS2013 with Nuget 2.8, but not in VS2015 with Nuget 3.1.60724.766

[2015-08-24 17:07] yishaigalatzer commented on #1245
NuGet 3.1.60724.766 definitely runs install.ps1 scripts when using `packages.config`

Can you please verify the content and debug the install.ps1 script(s?) in the packages.

Things that might be the culprits:
1. Order dependency of scripts across packages.
2. Dependency on reflection or internal APIs either in Visual Studio or NuGet?
3. Depending on deprecated DTE or dlls from visual studio?

If

[2015-08-24 17:11] yishaigalatzer commented on #1241
I'll update the content shortly.

Install.ps1 is running, so my guess is that there is an issue with the scripts in nunit. I've suggested some things to verify for the nunit folks, and we can take another look once these have been done.

[2015-08-24 17:12] yishaigalatzer commented on #1241
https://github.com/NuGet/Home/issues/1245

[2015-08-24 17:13] yishaigalatzer commented on #1241
Also the text is quite clear IMHO (perhaps we should add a big bold note below)

[2015-08-24 17:17] feiling opened #1246 "Need to check our usage of HttpResponseMessage.EnsureSuccessStatusCode()"
By design, EnsureSuccessStatusCode() is called when an unrecoverable error is encountered. The exception it throws does not contain the http status code. However, in many places where it is used in our code, the top level code should in fact perform different actions based on the underlying error condition. E.g. if it's authentication failure, nuget needs to get prompt users for credentials and re

[2015-08-24 17:19] yishaigalatzer commented on #1241
Blog updated

[2015-08-24 17:19] #1241 closed, assigned to nobody

[2015-08-24 17:26] feiling opened #1247 "ResourceProvider.TryCreate() should not blindly cache negative result"
In the TryCreate() method in several ResourceProviders, when the resource cannot be created, then null value is cached. But whether null should be cached really depends on the underlying error: If it's 404, then probably it's OK to add null to the cache. But if the error is authentication failure, probably we shouldn't cache null in this case.

[2015-08-24 17:31] yishaigalatzer commented on #1246
To be a bit more blunt, we should not rely on `EnsureSuccessStatusCode` or catching the respective exception anywhere.

[2015-08-24 17:34] yishaigalatzer commented on #1236
Current UI (3.1.1)
![image](https://cloud.githubusercontent.com/assets/1238711/9447468/59d67136-4a4c-11e5-9a71-5f62c1083713.png)

Sketch from the meeting
![image](https://cloud.githubusercontent.com/assets/1238711/9447328/a956d8dc-4a4b-11e5-8c6a-4920ab6c28ee.png)

Second part of the meeting. The design does not yet address Update-All, and Update selected packages or the right side of the screen

[2015-08-24 18:34] princeo911 commented on #1240
@eriawan I always run visual studio as administrator, and I do have UAC control on so anything doing admin stuff pops up. That is not the issue here.

[2015-08-24 18:45] OsirisTerje commented on #1245
Thanks, good to hear install.ps1 is working.
It can be that we call something that is no longer present, (2 above).
This is the script:
     param($installPath, $toolsPath, $package, $project)
    $asms = $package.AssemblyReferences | %{$_.Name}
    foreach ($reference in $project.Object.References)
    {
        if ($asms -contains $reference.Name + ".dll")
        {
            if ($reference.Na

[2015-08-24 18:54] yishaigalatzer commented on #1245
Cool, that makes much more sense. I think `$package` is missing this information.

I suggest either fixing it by directly finding the specific reference in the project instead of using the assemblies in the package (so it works in all versions of NuGet). I understand this makes the script less generic, but it will make users work with any version of nuget on the box.

At the same time we will make

[2015-08-24 19:02] emgarten commented on #1224
VS2013 and VS2015 should be installing the same items from the package.

[2015-08-24 19:05] emgarten commented on #1240
There was a powershell bug in NuGet 2.8.6 which comes with Update 5. Update to the latest 2.8.7 version from the extension gallery and see if you still get this prompt.

[2015-08-24 19:47] zarenner opened #1248 "Push command doesn't resolve credentials from config"
The PushCommand method ResolveSource resolves the push source specified, but then returns the source as a string, instead of an object with the credentials.

This results in the push command failing (at least against a V3 authenticated endpoint with a v2 PackagePublish service in the service index).

@deepakaravindr

[2015-08-24 20:27] furmek commented on #1221
My dll will not compile as a `anycpu` so the scenario 1 won't work.

As for scenario 2:
that reference assembly will be used in build process so its architecture must match architecture that the project is currently being build for (eg.: `x64`)?
If so, do I have to provide a 'mock' assembly that can be used to build for all supported by me platforms:  `x86`, `x64` and `ARM`, or is there a way simi

[2015-08-24 21:02] ericstj commented on #1221
The architecture is ignored by the compiler when creating an assembly reference.  It's a load time concept.  The loader will prefer an architecture specific reference if it exists.

One trick you can use to produce an AnyCPU assembly is to use corflags to remove the architecture from your x86 assembly.  EG: `corflags /32BITREQ- MySDK.dll`.  Corflags is part of the .NET SDK and can be found in VS's

[2015-08-24 21:24] kmcginnes commented on #1236
The best UX I've seen for package management is GitHub's Atom text editor.

They have two separate views. The first one shows the installed packages.

<img width="1033" alt="screenshot 2015-08-24 15 46 53" src="https://cloud.githubusercontent.com/assets/212862/9451997/92e8caf2-4a77-11e5-854f-da15fb44fc0d.png">

Search is large and clear. It breaks up the list based on the source, in their case fro

[2015-08-24 21:43] yishaigalatzer commented on #1236
I realize I forgot to include the design discussion items

https://github.com/NuGet/Home/wiki/NuGet-UI-design-meeting-notes-August-20-2015

https://github.com/NuGet/Home/wiki/NuGet-UI-design-meeting-notes-August-21,-2015

Adding them here and on top for future readers.

[2015-08-24 21:51] agocke opened #1249 "NuGet 3.2 takes ~two seconds to verify restore and ~one minute to restore"
Note that this is just verifying that all packages have been restored completely -- it's after running a successful restore once.

Repro: run `nuget.exe restore Roslyn.sln` on the Roslyn branch at https://github.com/dotnet/roslyn/tree/CoreClr

[2015-08-24 23:09] jaredpar commented on #1249
Wanted to point out that during restore the UI in VS is hung.  So this bug effectively hangs VS for over a minute whenever we invoke a build solution or build project operation (even if they are a nop).  The only way we can move to NuGet v3 and keep VS in usable state is to completely disable package restore.

[2015-08-24 23:59] zarenner commented on #1248
Note: May be similar to the auth issues with list in #1229.

[2015-08-25 03:01] n3wt0n opened #1250 "Web.Config and App.config transformation not working on uploaded package"
Hello. I have a uploaded a package (DBTek.BugGuardian) and I'm experiencing a strange issue with config transformations in non-transient restore.

The package contains transformation files for both app and web.config files, cause it targets both platforms.

The package was build following the new folder structure guidelines.

If I pick the package from a local folder, the trasformations work fine

[2015-08-25 05:00] emgarten commented on #1243
The final compatibility check where this is failing requires downloading the nupkg and checking the contents. The resolution phase used by the preview only looks at dependency information from the feed.

[2015-08-25 06:00] emgarten commented on #1249
@jaredpar are you using the CoreClr branch also?

[2015-08-25 06:06] alecor191 opened #1251 "nuget.exe restore (v3.1) fails with "Could not find a part of the path""
Version used: http://dist.nuget.org/win-x86-commandline/v3.1.0-beta/nuget.exe
### Repro steps
- In my case I have a solution with both ASP.NET 5 (beta 6) projects and "regular" .csproj class library projects.
- run "nuget.exe restore (path_to_solution)"
### Result

NuGet shows an error in the console:
_Could not find a part of the path 'C:\test\myproject\myproject.xproj\project.json'._

As you can

[2015-08-25 06:42] emgarten commented on #1251
nuget.exe doesn't support project.json for DNX currently.

https://github.com/NuGet/Home/issues/1227

[2015-08-25 07:27] tom-englert opened #1252 "NuGet Configuration Defaults should be storable in solution directory"
Currently NuGetDefaults.config must be located under %ProgramData%\NuGet.

Documentation says "While not required, we expect many companies to use Group Policy to deploy NuGetDefaults.config files to developers' machines."
This would involve IT in development tasks and is impossible to manage in larger companies.

A better approach would be to allow the .config to be in any parent folder of the pr

[2015-08-25 14:51] daveaglick commented on #1236
+1 for adding buttons to each individual package for available actions, but why only show the buttons for the selected package? It seems like that's just adding an unnecessary click by making you select a package before clicking the install/update/etc button. If the concern is over accidentally taking some action if all the buttons are displayed, the new popup preview screen should provide the nec

[2015-08-25 15:00] phillip-haydon commented on #1236
@kmcginnes not just Atom. I love Atom's and Brackets.

![image](https://cloud.githubusercontent.com/assets/895629/9470051/b3e4a194-4b7c-11e5-903f-d5877a67300d.png)

![image](https://cloud.githubusercontent.com/assets/895629/9470089/eb47939e-4b7c-11e5-8cc1-6561fbbfb640.png)

[2015-08-25 15:02] yishaigalatzer commented on #1236
The buttons would show up all the time.

Selected packages will have another global button that applies to all of them.

To the folks that post pictures of other managers: This is a discussion about the short term suggestions for updating the UI, as presented in the wiki and not an overhaul. Please keep the discussion focused.

[2015-08-25 15:06] phillip-haydon commented on #1236
So this discussion is about bandaid solutions and not making something usable. Ok, my bad.

[2015-08-25 15:11] yishaigalatzer commented on #1236
@phillip-haydon thanks. The discussion is about pragmatic steps to come up with a short term solution. If you want to help you are more than welcome.

[2015-08-25 15:30] daveaglick commented on #1236
I obviously can't speak for the original commenters, but I would suggest that the NuGet team consider some of the praise for the UI in alternate package managers within the context of this discussion. I'm guessing it wasn't suggested that the entire NuGet UI be drastically overhauled to look just like one of these other ones, but that there are UI elements which can be adopted or conventions which

[2015-08-25 15:35] csharpfritz commented on #1236
An item that should be improved is the appearance of the current installed version number of a package.  Feedback indicates that customers find it difficult to find the currently installed version number

[2015-08-25 16:07] yishaigalatzer commented on #1236
@daveaglick @phillip-haydon yes this is the spirit.

Specifically to the comments:

That sounds great. Will incorporate it into our next iteration

The idea is that the Browse tab will show packages online, but will still mark the installed packages, so you can uninstall, or update them. Can you please clarify if you have another idea in mind for this?

Count of updates available also sounds like

[2015-08-25 16:22] czfq2b commented on #1138
8/25/2015 9:19:11 AM - Microsoft VSIX Installer
8/25/2015 9:19:11 AM - -------------------------------------------
8/25/2015 9:19:11 AM - Initializing Install...
8/25/2015 9:19:12 AM - Extension Details...
8/25/2015 9:19:12 AM - Identifier      : NuGet.0d421874-a3b2-4f67-b53a-ecfce878063b
8/25/2015 9:19:12 AM - Name            : NuGet Package Manager for Visual Studio 2015
8/25/2015 9:19:12 AM - A

[2015-08-25 16:32] kmcginnes commented on #1236
@daveaglick Thanks for your comments. I couldn't have put it better myself. My only goal was to provide inspiration for ideas that could be incorporated into the short term.

[2015-08-25 16:42] yishaigalatzer commented on #1252
nuget.config is deployable to any folder. It covers the scenarios you have in mind.

For example: You can use a clear tag to remove all sources and redefine them.
Similarly you can control enabling and disabling sources.

[2015-08-25 16:43] yishaigalatzer commented on #1227
It should probably not error out, and rather display a warning.

[2015-08-25 16:44] yishaigalatzer commented on #1251
Thanks for the report, I'm going to be closing as a duplicate. Feel free to open if you feel otherwise.

[2015-08-25 16:44] #1251 closed, assigned to nobody

[2015-08-25 16:45] yishaigalatzer commented on #1250
@zhili1208 please take a first crack at investigating this issue, so we can see if it needs to go into the 3.2 release.

[2015-08-25 16:46] csharpfritz commented on #885
From vs-feedback:  There is no indicator in the UI of whether a package supports the project type being worked on.  This results in installing a package that fails silently.

[2015-08-25 16:47] yishaigalatzer commented on #1249
@jaredpar that would be my suggestion for now (turn off package restore and use the command line). We are trying to add a restore context menu to NuGet 3.2 to give you more control on when to restore.

I would also look into the solution, it might be that restore is not fully successfully which forces the retries on every build. We should make the errors for that more visible.

I'm keeping this bu

[2015-08-25 16:49] yishaigalatzer commented on #1248
@zarenner a work around for now (if we can't fit it in to 3.2) is to publish the V2 push end point on your server directly.

[2015-08-25 16:54] yishaigalatzer commented on #1243
This is a flaw in how these packages where shipped. Minor release changes should not be breaking compatibility. We also do not want the server to keep understanding all versions of target framework logic, because it does not scale to the multitude of private servers out there (where they have to update whenever the nuget logic changes).

These packages will start following semver more strictly goi

[2015-08-25 16:55] zarenner commented on #1248
Thanks @yishaigalatzer, that's what I've been doing and it works.

[2015-08-25 16:56] #1252 closed, assigned to nobody

[2015-08-25 16:57] yishaigalatzer commented on #1242
Thanks for the suggestion. Sounds like something we could easily do (or would take a pull request for if you want to speed it up).

[2015-08-25 17:00] yishaigalatzer commented on #1237
@deepakaravindr this sounds like something that should just work. Can you verify and fix if necessary?

[2015-08-25 17:00] #1141 closed

[2015-08-25 17:02] yishaigalatzer commented on #1222
@bencyoung can you provide some more details on how you are trying to restore the package? What product are you using (VS 2015? What version of NuGet? nuget.exe ?)

[2015-08-25 17:03] yishaigalatzer commented on #1225
@themilkyninja any updates?

[2015-08-25 17:05] yishaigalatzer commented on #1178
@ripcurrent can you provide more details or update on your issue?

Can you share the url for your server, and some more details about it?

[2015-08-25 17:07] yishaigalatzer commented on #1215
This might be related to having solution level packages that are no longer supported.

@swiftie821 can you provide some more details on your solution setup (project types, packages.configs, nuget.config etc.)

[2015-08-25 17:09] yishaigalatzer commented on #1221
I'm moving this issue to the discussions milestone, as there is no bug fix to be done here.

@ericstj it would be nice to show this as one of our samples.

[2015-08-25 17:46] zhili1208 commented on #1250
@n3wt0n Can you provide the repro step? and what's the strange issue? thanks

[2015-08-25 20:22] mgolus commented on #1016
+1 for this

[2015-08-25 20:45] zarenner commented on #1248
I'd really like to get this into 3.2.  Let me know if I can help in any way.

[2015-08-25 21:01] emgarten commented on #1004
@DarryStonem are you running nuget from an account without a %userprofile%?

[2015-08-25 21:20] ericstj commented on #1221
@furmek the roslyn team is planning on adding support for reference assembly generation to the compiler.  https://github.com/dotnet/roslyn/issues/2184

[2015-08-25 21:29] yishaigalatzer commented on #1248
@feiling is supposed to check it in today. You can party on the PR and test the build once its out

[2015-08-25 21:34] feiling opened #1253 "Don't fall thru when v3 feed failed"
In ServiceIndexResourceV3Provider.TryCreate(), when there are errors connecting to a v3 feed, the method returns (false, null). This allows fall thru and cause the feed to be treated as V2. We should stop the fall thru instead.

[2015-08-25 21:41] csharpfritz opened #1254 "Lib/Net45 folder is missing after package install"
(From vs-feedback: https://vs-feedback/comment/424807)

A number of customers have reported similar issues where the Microsoft.CodeDom.Providers.DotNetCompilerPlatform package is missing the lib/net45 folder on disk.  The content is present in the nupkg on nuget.org, but is lost on disk.

[2015-08-25 21:42] yishaigalatzer commented on #1250
@zhili1208 I think the repro steps are
1. Download the package to a local folder, and set it up as package source
2. Install the package to an MVC app and a console app
3. Check the app.config / web.config

Repeat the process with the normal nuget.org

Compare app.config from step1 and step2, they should be the same.

[2015-08-25 22:19] deepakaravindr commented on #1237
Verified that nuget.exe push does not work when the input is https://www.nuget.org/api/v2/Package

PushCommandResource ends up doing a GET request because it treats the input as a package source. However, https://www.nuget.org/api/v2/Package is not a package source and only accepts PUT requests. This is the bug

[2015-08-25 22:25] MeniZalzman commented on #1092
Fixed

[2015-08-25 22:25] #1092 closed

[2015-08-25 23:31] MeniZalzman commented on #1073
Solved

[2015-08-25 23:31] #1073 closed

[2015-08-25 23:41] deepakaravindr opened #1255 "Fix docs.nuget.org for nuget.exe restore <project.json> scenarios"
Fix docs.nuget.org for nuget.exe restore <project.json> scenarios

[2015-08-25 23:58] #1216 closed, assigned to MeniZalzman

[2015-08-26 00:19] jaredpar commented on #1249
@emgarten yes

[2015-08-26 00:31] #1237 closed, assigned to emgarten

[2015-08-26 00:56] clairernovotny opened #1256 "Better handling of restore in VS with floating versions"
Right now if a solution has any projects with floating versions, the NuGet restore process happens on **every** build. This is a huge annoyance as it greatly slows down the build process.

Instead, I propose the following logic:
1.  A Rebuild should always run restore and check for new versions
2.  Build/F5/Clean-Build should not check for new versions. The thing to keep in mind is that versions d

[2015-08-26 00:56] n3wt0n commented on #1250
I didn't try with the uploaded package downloaded in the local folder (I'll do it as soon as I arrive in office), but I have the original package and with it the config files changes, while using the uploaded one they don't.

If you want I can send you the original package.

Sent from my Windows Phone

-----Original Message-----
From: "Yishai Galatzer" notifications@github.com
Sent: ‎26/‎08/‎2015

[2015-08-26 01:00] yishaigalatzer commented on #1250
:) are you sure you uploaded the same package? Can you binary compare them?

[2015-08-26 01:29] n3wt0n commented on #1250
Yes, I'm sure 😊

When I arrive in the office I will also do binary comparison.

Sent from my Windows Phone

---

From: Yishai Galatzermailto:notifications@github.com
Sent: ‎26/‎08/‎2015 09:00
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Davide Benvegnùmailto:davide.benvegnu@outlook.com
Subject: Re: [Home] Web.Config and App.config transformation not working on uploaded package (#1250)

:) are

[2015-08-26 01:42] deepakaravindr opened #1257 "To dist.nuget.org, Add index.json and index.html that is based on index.json"
To dist.nuget.org, Add index.json and index.html that is based on index.json. Currently, there is only a static index.html with artifacts for win-x86-commandline

[2015-08-26 01:51] csharpfritz commented on #1257
Can we make this a static HTML file with knockout or angular bindings to
the content of index.json?

[2015-08-26 02:01] kmcginnes commented on #1236
I've mocked up a [semi-functional version](https://github.com/kmcginnes/PoC.NuGetWpf/tree/master) of what I was thinking for the NuGet left side pane.

I think the additions that I've made would be fairly simple to add on to what already exists in NuGet 3.1. If adding the action buttons is the part holding up a release I would suggest replacing the buttons with static text fields with the same inf

[2015-08-26 03:01] themilkyninja commented on #1225
I'll try it out this week and let you know. It only happens occationally so I'll have to let it go for a while and see if it pops up.

[2015-08-26 03:22] n3wt0n commented on #1250
So, I did the binary compare between the original package version 1.1.0 and the downloaded one and… they are different!

I’m very sure I uploaded just that package, because it was the only one I generated for that version…

Now I’ve tried to upload the same package just changing the version to 1.1.1… and now it works. Also the binary comparison shows they are equals…

Do you processes someway the

[2015-08-26 03:27] yishaigalatzer commented on #1250
Only if you change the metadata. But it will only change the nuspec.

Can you compare the contents?

Sent from my Windows Phone

---

From: Davide Benvegnùmailto:notifications@github.com
Sent: ‎8/‎25/‎2015 8:22 PM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home] Web.Config and App.config transformation not working on uploaded package

[2015-08-26 04:19] binki commented on #1243
@emgarten It doesn’t even seem to be looking at information in the feed. I can see `::net46` at https://www.nuget.org/api/v2/Packages%28Id=%27System.Runtime%27,Version=%274.0.20%27%29 .

@yishaigalatzer In my case, I was trying to install a package that depends on ≥System.Runtime-4. I like to set nuget to resolve dependencies to the “highest minor”, though I really don’t know why I would want to b

[2015-08-26 04:26] yishaigalatzer commented on #1243
Fair enough, we could do better on this. The assumption is that such breaking changes are not introduced in minor versions ( because it breaks semver). System.runtime breaks this unfortunately.

But I'm a bit confused to why you even need it to begin with for a 4.6 app?

Reopening to see if we can do anything about it further. My concern is that trying to find the highest minor that satisfies all

[2015-08-26 04:57] emgarten commented on #1243
NuGet's preview window shows the result of the dependency resolution phase walks through the package dependencies and verifies that all required packages can be found and that there are no conflicts. An example of a conflict during dependency resolution would be if package A required B >= 2.0.0, but the project already had package C installed which required B < 1.5.0.

The net46 you see in the fee

[2015-08-26 05:28] binki commented on #1243
@yishaigalatzer Here I’m trying to say that if nuget package A depended on ≥System.Runtime-4 AND <System.Runtime-4.0.20 to make my .net-4.5 app happy, such a dependency would make it impossible for a .net-4.6 project to install both package A and ≥System.Runtime-4.0.20.

@emgarten I was installing System.Collections.Immutable-1.1.37 into a .net-4.5 project with dependency resolution set to Highest

[2015-08-26 06:37] SeanFeldman opened #1258 "Update-Package with -IgnoreDependencies doesn't work in a certain scenario"
According to [documentation](https://docs.nuget.org/consume/package-manager-console-powershell-reference) it should be possible to update a package to a newer version ignoring dependencies that would normally fail the update using `IgnoreDependencies` switch. This is failing in the following scenario.

Steps to reproduce:
VS2013 (Update4/Update5 and NuGet v2.8.50926.663 /  v2.8.60723.765)
1. Creat

[2015-08-26 06:42] FeodorFitsner opened #1259 "NuGet 3.1 command-line returns 0 exit code on restore errors"
When some packages cannot be restored you see "Unable to find version X of package Y" in the log, but at the same time exit code returned by nuget.exe is always `0` and you can't basically handle these errors in build script.

NuGet 2.8.5 treats errors correctly and returns exit code `1`.

[2015-08-26 06:44] emgarten commented on #1259
This looks like the same issue as: https://github.com/NuGet/Home/issues/1186

[2015-08-26 06:47] FeodorFitsner commented on #1259
Absolutely! So, it's fixed in 3.2?

[2015-08-26 06:48] emgarten commented on #1259
It's fixed, the next nuget.exe release will be coming soon. :smile:

[2015-08-26 06:48] #1259 closed, assigned to nobody

[2015-08-26 06:50] FeodorFitsner commented on #1259
Thank you! :)

[2015-08-26 08:57] xAaeEx opened #1260 "Visual Studio 2015 IVsPackageInstaller InstallPackage"
Hello,

I updated the NuGet.Core and NuGet.VisualStudio assemblies on my VS 2015 extension and I when I use the IVsPackageInstaller InstallPackage Method I get the following exception:

Implementation:

[code]

Exception:

[code]

Did I do something wrong? If this is the wrong method to install a NuGet package to a Visual Studio project, which implementation is the correct one?

Thanks

[2015-08-26 09:12] emgarten commented on #1249
After the first build I am no longer seeing the restore dialog for Roslyn.sln.

I'm not able to try nuget.exe restore Roslyn.sln due to missing packages. Which feed has Microsoft.DotNet.BuildTools 1.0.25-prerelease-00063?

[2015-08-26 09:14] emgarten commented on #1260
Use any of the other IVsPackageInstaller.InstallPackage methods.

IPackageRepository is not part of the IVs interfaces and it is easy to hit issues when the version of NuGet.Core in your extension becomes out of sync with the version of NuGet in Visual Studio.

[2015-08-26 09:46] xAaeEx commented on #1260
Now it seems to be working as expected. Thanks a lot!

[2015-08-26 09:46] #1260 closed, assigned to nobody

[2015-08-26 12:37] tom-englert commented on #1252
If that works it's fine, I will try it - but then the documentation is wrong!
@yishaigalatzer shall I create an issue to fix the documentation instead?

[2015-08-26 12:45] tom-englert commented on #1252
P.S.
https://docs.nuget.org/consume/nuget-config-file looks good, but when searching you will land here: https://docs.nuget.org/consume/nuget-config-defaults - and this does not link to the config description, so one thinks that's all you can do.

[2015-08-26 13:09] rathole commented on #982
Additional info: I can consistently reproduce this issue with VB projects, but C# and C++ projects don't seem to be affected. I have updated to scenario description above to reflect this.

[2015-08-26 13:33] maartenba opened #1261 "Escaped filename characters causing package installation failures"
_From @ProductionReady on August 26, 2015 2:45_

I am trying to install either package https://www.nuget.org/packages/Harvest.Chosen/ or https://www.nuget.org/packages/chosen/ however I am receiving errors with Visual Studio 2015. Both packages contain a file "chosen-sprite@2x.png" but when installing, the package installation errors out and says it cannot file "c:.....nuget\packages\chosen\1.2.0\

[2015-08-26 13:40] ProductionReady commented on #1261
Sorry for putting defect in the wrong project... Just adding a comment so I can get notified when the solution is fixed. Thanks!

[2015-08-26 14:48] csharpfritz opened #1262 "NuGet UI at Solution Level for large solutions is very slow"
From vs-feedback - https://vs-feedback/comment/428156

In a very large solution (155 projects), when opening the 2015 NuGet user interface for the solution it takes 5-10 minutes to load the interface and paint the list of packages.  Previous versions of the extension in earlier versions of Visual Studio would take 2-3 minutes to load the interface.

The total time for NuGet workflow in a solution

[2015-08-26 15:08] yishaigalatzer commented on #1252
Makes sense. We can either fix the docs or if you'd like to send a pr in the nugetdocs repo with your suggestion (since you found it, would be nice to give you to opportunity for the cookie points :) ).

[2015-08-26 15:22] daveaglick opened #1263 "Updating a package removes developmentDependency attribute from packages.config"
It seems to reason that if a package is a development dependency before updating, it should remain one after a package update. Steps to reproduce:
- Create a new console project
- Run `Install-Package boostrap -version 3.3.4` from the Package Manager Console
- Open `packages.config` and add `developmentDependency="true"` for both the `bootstrap` package and `jQuery` package (which is installed as

[2015-08-26 17:29] phillipc opened #1264 "Nuget Package Visualizer is missing in Visual Studio 2015 Enterprise"
The package visualizer isn't available in the nuget menu "Tools -> Library Package Manager -> Package Visualizer"

Nuget-Version: 3.1.60724.766
VS-Version: Visual Studio Enterprise 2015 - Version 14.0.23107.0

[2015-08-26 18:32] emgarten commented on #1263
This is related to https://github.com/NuGet/Home/issues/1130

[2015-08-26 18:54] deepakaravindr commented on #1164
@tillig, Thanks for the detailed repro! We believe we have fixed this issue in our ongoing release cycle, but it has not been released yet. Could you please contact me at daravind@microsoft.com regarding this?

[2015-08-26 19:00] feiling commented on #1248
With Deepaks's fixes and my fix of https://github.com/NuGet/Home/issues/1216, pushing to authenticated v3 feed is now supported.

[2015-08-26 19:00] #1248 closed, assigned to nobody

[2015-08-26 19:01] feiling commented on #1229
This is fixed by the fix of NuGet/Home#1216

[2015-08-26 19:01] #1229 closed, assigned to deepakaravindr

[2015-08-26 20:29] agocke commented on #1249
It looks like installing the latest update has helped significantly. It still seems to hang the UI for a couple seconds after I hit build (VS freezes and the OS whites-out the app as unresponsive), but it no longer seems to be doing the full restore.

[2015-08-26 20:45] emgarten commented on #1096
I've fixed this for the 3.2.0 release. Installs and updates will only use cached entries newer than the start time of the package operation. If an older entry is cached from before the package was uploaded it will be cleared out.

NuGet/NuGet.PAckageMAnagement@d1d8b391fe45c60c5e7382f8c1af82c851ba871c
NuGet/NuGet3@8d2d74fa8336529aca9a19a496bf5a28dbf5496b

[2015-08-26 20:45] #1096 closed

[2015-08-26 20:48] emgarten commented on #1239
Unresolved references will now be skipped when walking project references to find binding redirects.

NuGet/NuGet.VisualStudioExtension@98acbf4ae5856ea7fdec5078ae2cef9070a01016

[2015-08-26 20:48] #1239 closed, assigned to nobody

[2015-08-26 20:53] emgarten opened #1265 "Project.json installs are not rollback if the install fails"
Steps:
1. Create a project.json project
2. Install-package madeuppackagename234l2k34 -version 9.9.0

Expected:
The install will fail and rollback

Actual:
The install does not rollback

[2015-08-26 20:53] emgarten commented on #1265
NuGet/NuGet.PackageManagement@643913787d85d1ebb2b33cc43190a0062a2d38c6

[2015-08-26 20:53] #1265 closed, assigned to MeniZalzman

[2015-08-26 21:27] johnataylor opened #1266 "V2 feeds show all packages as unlisted"
V2 feeds show all packages as unlisted. This has implications for package resolution because the resolver favors listed packages.

[2015-08-26 21:28] emgarten commented on #1249
Given the latest feedback this is still an issue but it can be moved to 3.3

[2015-08-26 21:32] johnataylor commented on #1181
This is also a problem if you remove a feed. And also if a package you have installed happens to be removed a feed.

[2015-08-26 21:33] jorisdebock opened #1267 "unable to create a nupkg with framework .NETPortable v5.0"
@yishaigalatzer had to create a new issue since i couldnt reopen #1134 myself.

I am unable to create a nupkg with framework .NETPortable v5.0.

 I made an example repo https://github.com/jorisdebock/PCLNugetExample
This is in a PCL which targets .net framework 4.6 and windows universal 10.0

Using the nuget.exe beta 3.1.0 with the following command
`nuget.exe pack PCLNugetExample\PCLNugetExample.

[2015-08-26 21:34] johnataylor commented on #1181
#1266 is a separate issue but impacts this scenario.

[2015-08-26 21:43] Yortw commented on #1096
Excellent, thanks everyone!

[2015-08-26 21:50] emgarten commented on #986
NuGet should support round tripping projects between 2013 and 2015.

[2015-08-26 21:58] SeanFeldman commented on #1258
Have reproduced this on another machine. Is documentation wrong or this is a bug?

[2015-08-26 22:16] feiling opened #1268 "Need better error message when the feed is not available."
Repro steps:
- run `nuget list -source abc` (assuming there's no source called abc).

The output is

[code]

We get the same message if the index.json on the server does not contain the ListCommandResource. I think we should have different messages for these two scenarios.

BTW, using nuget.exe 2.8, the error message is `Invalid URI: The format of the URI could not be determined.`

[2015-08-26 22:49] nanderto opened #1269 "Unable to connect"
I have set up a private feed for nuget on our TFS server, using the nuget server, package. This has been successfully running for some time, but now I need to move it to a new server. (TFS Consolidation)

On the new server I can use the settings to point to the new server. I can get the packages to show up in the UI, and in a list if I run nuget list -source <and provide source> but when I attempt

[2015-08-26 23:37] ericstj commented on #1243
Sorry I'm coming to this discussion late.  I'll second what @yishaigalatzer said earlier: for the first release of the .NET packages we didn't follow SemVer.  We were building out packages that mapped 1:1 with the assembly versions that have shipped.  This helps folks map their libraries from older SDKs to the new nuget model.

The downside at the moment is that you cannot upgrade those System.\*

[2015-08-27 00:13] yishaigalatzer commented on #1269
It seems like you have a setup issue either in visual studio or the server.

I would start by comparing a fiddler trace between trying to connect to the old and the new server, and figure out what changed.

[2015-08-27 00:20] #1245 closed, assigned to MeniZalzman

[2015-08-27 01:22] emgarten commented on #1267
nuget.exe pack does not support project.json projects. You will need to pack using a nuspec.

[2015-08-27 01:30] yishaigalatzer commented on #1267
@emgarten is this feature tracked already?

[2015-08-27 01:35] emgarten commented on #1267
@yishaigalatzer not yet

[2015-08-27 01:44] jorisdebock commented on #1267
Even with a nuspec file added, almost same result:

[code]

What is this "profileValue" ? Is this in the nuspec file or?

@emgarten  Also i thought 3.1.0 does support project.json files, that is what the blog says at least

[2015-08-27 02:02] yishaigalatzer commented on #1267
Can you share the nuspec and the exact command you are using?

Project.json is supported for restore, we did not build support for pack yet.

[2015-08-27 02:05] deepakaravindr opened #1270 "Certain invalid package sources show error messages that are not user-friendly"
Certain invalid package sources show error messages that are not user-friendly.
Happens on the VS UI, VS Powershell console and the commandline

Repro steps
1. Configure the invalid https://nuget.org/api/blah as a package source
2. Open UI and the select the configured package source

Expected:
An error message containing the 'package source URL'

Actual:
<i>The remote server returned an error: (4

[2015-08-27 02:05] emgarten commented on #1267
I think it's complaining about this line in the csproj:

[code]

[2015-08-27 02:07] #1172 closed

[2015-08-27 02:09] yishaigalatzer commented on #1267
@emgarten are we able to improve this error message?

[2015-08-27 02:10] jorisdebock commented on #1267
@yishaigalatzer nuspec is in the repo
@emgarten ye i think so too, when using .netportable v5.0 that one is empty

[2015-08-27 07:13] princeo911 commented on #1240
Sorry I have been trying to get 2.8.7, and I cant seem to find it anywhere. Been looking in the updates folder but no luck, please help

[2015-08-27 08:33] furmek commented on #1221
@ericstj thank you, the `corflags` did help me.

I think at this point I'll describe my final solution so it can help someone else.

First, description of MySDK:
I have two projects,
one MySDKNative is written in c++/cx and can't be compiled as a `AnyCPU`,
the other project (MySDKManaged) is written in C# and provides just couple of controls that couldn't be put in c++/cx projects (reason: all pub

[2015-08-27 08:33] #1221 closed, assigned to nobody

[2015-08-27 13:30] princeo911 commented on #1240
Sorry I found the visx file in releases tab on nuget/home.
The issue has gone away. the version on my machine is 2.8.60723.765

I have manged to update some packages.

Thank you for your help.

[2015-08-27 13:30] #1240 closed, assigned to nobody

[2015-08-27 15:06] ghaefele commented on #1016
+1 for this

[2015-08-27 15:23] ericstj commented on #1221
@furmek folks can compile UAP class libraries or windows runtime components for AnyCPU.  Your solution will still work fine for those projects since they don't require implementation assets as they are not directly runnable.  If someone were to build such a component, consuming your package, they could do so, then when they referenced that component from an application it would deploy the write bi

[2015-08-27 16:49] twsouthwick opened #1271 "NuGet extension in VS cannot find dotnet PCL libraries on MyGet"
I have a few dotnet PCL libraries I push to MyGet. When I use them in a local directory, the package manager finds them and things work great. However, it cannot find them when I point it to MyGet. Is this an issue with NuGet or MyGet?

[2015-08-27 17:03] yishaigalatzer commented on #1271
If the packages work locally, it is probably an issue with myget or your setup, I would talk to @maartenba

Closing for now. If @maartenba tracks it to nuget, we can revisit.

[2015-08-27 17:03] #1271 closed, assigned to nobody

[2015-08-27 17:10] yishaigalatzer commented on #1267
@jorisdebock The suggestion is to use a fully fleshed out nuspec, and pack from the nuspec and not from the csproj.

We are working on documentation samples that should be up in a few days for these scenarios.

CC // @ericstj

[2015-08-27 17:24] #1266 closed, assigned to MeniZalzman

[2015-08-27 17:25] johnataylor commented on #1266
fix checked in

[2015-08-27 17:26] johnataylor commented on #1181
fixed checked in

[2015-08-27 17:26] #1181 closed

[2015-08-27 17:29] ericstj commented on #1267
Here's my doc in progress: https://github.com/ericstj/NuGetDocs/blob/ericstj/nuget3samples/NuGet.Docs/Create/nuget3-packages-walkthrough.md

[2015-08-27 17:44] emgarten commented on #1240
@princeo911 glad to hear it fixed your issue, thanks for the update on the issue!

[2015-08-27 17:53] maartenba commented on #1271
This may be because of [target framework filtering](http://blog.nuget.org/20141001/targetframeworkfiltering.html). Can you contact support at myget org and provide us with the package + describe the consuming project type?

[2015-08-27 17:59] o-o00o-o opened #1272 "Cannot update solution-only packages"
I have a nuget package I've built that has a few files in custom directories. This should and does behaviour as a solution-only package in that it creates a .nuget folder in the solution and maintains a packages.config in there.

I've then updated that nuget package but it seems there is no way for me to be able to update it.

Using VS "Manage Nuget Packages for Solution". It see's the new version

[2015-08-27 18:50] deepakaravindr commented on #1268
@yishaigalatzer, This is a commandline bug and should be in 3.2-commandline. Once you agree, I will mark this as a duplicate to https://github.com/NuGet/Home/issues/1238

[2015-08-27 18:52] deepakaravindr commented on #1164
It was verified that this bug has been fixed. This is related to https://github.com/NuGet/Home/issues/980

[2015-08-27 18:52] #1164 closed

[2015-08-27 18:55] tillig commented on #1164
The fix may have been related, but the symptoms reported are vastly different.

[2015-08-27 19:01] yishaigalatzer commented on #1268
Sure

[2015-08-27 19:23] deepakaravindr commented on #1268
This is a duplicate of https://github.com/NuGet/Home/issues/1238

[2015-08-27 19:23] #1268 closed, assigned to nobody

[2015-08-27 19:30] johnataylor commented on #1266
NuGet/NuGet3@c80b3f864d1a0fd354835f63df278c31d730b280

[2015-08-27 19:32] #1039 closed

[2015-08-27 19:32] johnataylor commented on #1181
NuGet/NuGet.PackageManagement@7bdc2ea399997e480f6db2a5b5f8008e813e1d28

[2015-08-27 19:40] jorisdebock commented on #1267
@yishaigalatzer  @ericstj  ok thanks, going to try it out.

[2015-08-27 19:41] sallgeud commented on #1119
What's the ETA on this release?

[2015-08-27 19:58] deepakaravindr commented on #1164
True. I have removed the Duplicate flag

[2015-08-27 20:38] emgarten opened #1273 "Symbol packages are not uploaded from NuGet3 due to source packages"
NuGet.Common is included as a source package but the extra sources are not included in the parent symbol package. This causes the symbol packages to get rejected on upload.

[13:35:02][Step 9/10] Pushing NuGet.Client 3.2.0-beta-10455 to 'https://nuget.symbolsource.org/MyGet/nugetbuild'...
[13:35:12][Step 9/10] Failed to process request. 'Package submission failed: Source file src\NuGet.Common\Conc

[2015-08-27 21:10] emgarten opened #1274 "Right click restore menu item for for solutions"
Add a menu item at the solution level to allow restoring packages for both packages.config and project.json. This should only show for solutions with NuGet packages.

[2015-08-27 21:22] deepakaravindr commented on #1238
Fixed with https://github.com/NuGet/NuGet.PackageManagement/issues/86

[2015-08-27 21:22] #1238 closed, assigned to emgarten

[2015-08-27 21:55] grokys commented on #1139
+1: this is painful - it sends a request for each installed package, taking over 30 seconds for a project with many dependencies. I would assume they could be bundled into a single request in order to speed things up.

[2015-08-27 22:59] zhili1208 commented on #1004
verified this with latest build, can't repro it

[2015-08-27 22:59] #1004 closed

[2015-08-27 23:32] emgarten opened #1275 "Add API for project.json restore"
IVsPackageRestorer only supports packages.config restores. This API should be updated, or a new API should be added to support project.json restores.

[2015-08-28 00:07] #1163 closed

[2015-08-28 00:14] ericstj opened #1276 "nuget.exe update should support project.json"
This functionality is essential to test nuget packages.
We want to have checked in test projects that depend on some minimum version of a packages.
1. We'll update just our test package to latest, simulating single update of just that package.
2. We'll update everything in the project to latest, simulating an end user full upgrade.

`*` versioning in the project.json does not achieve either of the

[2015-08-28 00:48] yishaigalatzer commented on #1276
What is \* versioning not supporting it?

`Use 2.0.* for example` ?

[2015-08-28 00:52] emgarten commented on #1272
This looks like a scenario that should work. Would you give us more information on the package (I don't see it on nuget.org) and your solution. Is the package installed into both the solution and a project?

[2015-08-28 01:05] ericstj commented on #1276
That won't pick up pre-release.

[2015-08-28 01:11] yishaigalatzer commented on #1276
Perhaps that's what we should fix?

Cc @davidfowl

I'm not really following why '*' doesn't work. What exactly is the test trying to do? \* works for the latest with prerelease.

[2015-08-28 01:41] myusrn opened #1277 "nuget versioning is three part but $version$ replacement token applies four part"
The nuget versioning story [ http://docs.nuget.org/Create/Versioning ] uses three part major.minor.patch approach and when you set nuspec <version>$version$</version> setting to leverage a .net framework project's Properties\AssemblyInfo.cs | [assembly: AssemblyVersion("1.0.0.0")] attribute setting it applies a four part major.minor.build.revision story to package output.

Shouldn't processing of

[2015-08-28 01:47] emgarten commented on #1277
Use AssemblyInformationalVersion with your semantic version.

[2015-08-28 02:13] deepakaravindr opened #1278 "Intermittent failure of NuGet Functional Test UninstallPackageRemoveImportStatement"
NuGet Functional Test UninstallPackageRemoveImportStatement fails intermittently. Filed a bug to make sure it is solid and does not fail intermittently

This test has been disabled for now

[2015-08-28 09:49] AndiRudi opened #1279 "update-package : Object reference not set to an instance of an object."
In VS2015 I issued a update-package -reinstall in the package manager console. After a long long time the following error occured:
...
Package 'Google.Apis 1.9.2' already exists in folder 'C:\repository\coursika\Stories\1972-MembershipPay\packages'
Added package 'Google.Apis 1.9.2' to 'packages.config'
update-package : Object reference not set to an instance of an object.
At line:1 char:1
- update

[2015-08-28 10:21] sbebrone opened #1280 "Uninstall-Package : '' is an unexpected token. The expected token is '>'."
Hi,

Version 3.1.60724.766 installed on Vs 2k15 Entreprise 14.0.23107.0.

I cannot remove a package (from the console or the explorer), no matter what package I try.

Here's the full sequence:

[code]

On VS 2k13, I get this extra information:
`Failed to generate binding redirects for XYZ`

And indeed, if I remove the web.config file everything is running correctly and a new one is created with co

[2015-08-28 11:41] sbebrone commented on #1280
OK, my mistake there was a XML syntax error in my web.config file. At least the error message wasn't obvious.

[2015-08-28 11:41] #1280 closed, assigned to nobody

[2015-08-28 13:18] tmorrow-hyphensolutions commented on #974
3.1.1 for VS 2015 fixed it for me.
But I had to go to GitHub and download it instead of the link in this conversation for some reason.
https://github.com/NuGet/Home/releases/

I had to run the install as admin so it would not hang;
Otherwise, NuGet is stuck at "Initializing Power Shell Host" forever.

[2015-08-28 13:55] ericstj commented on #1276
4.0.0-\* will pick up the latest pre-release constrained to 4.0.0.
4.0.\* will only pick up the latest stable constrained to 4.0.
4.\* will only pick up the latest stable constrained to 4.
4._-_ is considered invalid.

[2015-08-28 14:53] yishaigalatzer commented on #1276
You can also use just *?

[2015-08-28 15:04] myusrn commented on #1277
Thanks for pointer that addressed the issue.

I see now in http://docs.nuget.org/Create/Nuspec-Reference the $version$ info stating "The assembly version as specified in the assembly’s AssemblyVersionAttribute. If the assembly’s AssemblyInformationalVersionAttribute is specified, that one is used instead." vs the old http://blog.davidebbo.com/2011/04/easy-way-to-publish-nuget-packages-with.html ar

[2015-08-28 15:08] ericstj commented on #1276
'*' will only pick up latest stable with no constraints on 3-part version.

[2015-08-28 15:12] yishaigalatzer commented on #1276
So if w had support for

`*-beta*`
`*-*`

Etc

That will solve your problem?

[2015-08-28 15:19] ericstj commented on #1276
Yeah, here are the ones I think we'd use: '*-*', '4.*-*', '4.0.*-*'.  I can imagine other folks using a branch specifier in the pre-release string so you'd probably want to support something like '*-beta-*' where it would permit latest pre-release so long as it matched the partial release string.

[2015-08-28 18:15] #1277 closed, assigned to nobody

[2015-08-28 18:48] jorisdebock commented on #1267
@ericstj ok followed the doc and now successfully created a package

[2015-08-28 18:48] #1267 closed, assigned to nobody

[2015-08-28 18:57] zbrad commented on #917
I finally tracked down a workaround that is working for me, by testing the value of $profile in my profile.ps1, eg:
if (!$profile.Contains("NuGet_profile")) {
   # normal start
  . $PSScriptRoot\prompt.ps1
  }

[2015-08-28 19:01] yishaigalatzer commented on #917
@zbrad thanks for sharing!

[2015-08-28 20:21] yishaigalatzer commented on #1236
@kmcginnes thanks for the effort that looks cool. We where thinking about using icons rather than large buttons, but we should take a second look, this suggestion is very interesting.

[2015-08-28 21:18] emgarten commented on #1253
Fixed with https://github.com/NuGet/NuGet3/commit/11a75e076278146679ebd9cc76e8165896fcaae0

[2015-08-28 21:18] #1253 closed, assigned to emgarten

[2015-08-28 21:26] emgarten commented on #456
We believe this is fixed in the latest version of nuget.exe. We have verified the following scenarios for basic auth:
- nuget.server hosted on IIS with basic auth
- authenticated v3 feed from myget.org
- project.json scenarios and packages.config scenarios
- proxy scenarios

I'm going to close this bug for now, use the link below to verify that this fixes your scenarios:
https://www.myget.org/F/nu

[2015-08-28 21:26] #456 closed

[2015-08-28 22:01] yishaigalatzer commented on #1279
What version of NuGet are you using? Did you update to the latest available?
We are going to push a release of 3.2 in a couple of days. Would you be able to verify if it resolves your scenario?

[2015-08-28 22:20] emgarten commented on #1130
This has been fixed, updates will now persist allowedVersions

NuGet/NuGet3@0d6ed7352bc9e8f2874e7e34c7f9130f88dd9a38
NuGet/NuGet.PackageManagement@5f381df8959daebef7fcaa7dbe4179e86517558a

[2015-08-28 22:20] #1130 closed

[2015-08-28 22:21] emgarten commented on #1263
Visual Studio 2013 persisted the developmentDependency property, I've fixed NuGet 3.2.0 to persist this also.

NuGet/Nuget3@945d8b6a59f58e9c5ae42e7f88f254ad6658456c

[2015-08-28 22:21] #1263 closed, assigned to MeniZalzman

[2015-08-28 22:21] emgarten commented on #1274
NuGet/Nuget.visualstudioextension@0660cc143ac687ed2b65a9b4ac9d85b95c05c1a6

[2015-08-28 22:21] #1274 closed, assigned to MeniZalzman

[2015-08-28 22:44] deepakaravindr opened #1281 "Nuget Command does not update solution level packages"
@miguelalho

In a large solution, i have nuget restore enabled, which adds the .nuget\ folder to my solution folder. I use a couple of solution level packages that include tools used by the solution or by the build process. These packages, when added to the solution, are referenced in the .nuget\packages.config file.

I'm trying to update a specific package that is referenced in the .nuget\package

[2015-08-28 22:45] deepakaravindr commented on #1281
@hubuk referenced this issue in NuGet/Home#783 on Jun 14

NuGet.exe update command does not work for packages.config without a project file. #783

[2015-08-28 22:47] deepakaravindr opened #1282 "Running `NuGet.exe pack` in parallel causes System.ObjectDisposedException"
@zentron

Moved from https://github.com/NuGet/NuGet.CommandLine/issues/18

Running the following pack script against several different packages (note completely different source and destination)

[code]

Results in 2/3 failing with

[code]

Not sure if there is some limitation or argument not being supplied to get this process to work.

[2015-08-28 22:52] deepakaravindr commented on #1282
@zentron referenced this issue in OctopusDeploy/Issues 11 days ago
 Open
Octopack cannot run in parallel: OctoPack error OCTONUGET: Can not access a closed Stream #1684

[2015-08-28 22:54] deepakaravindr opened #1283 "Unable to download packages from NuGet official package source when use protocolVersion 2 and 3 simultaneously in nuget.config"
@StasPerekrestov

Unable to download packages from NuGet official package source

Steps to reproduce:
1. Use protocolVersion="3" for NuGet official package source in nuget.config

[code]
1. Add own repository

[code]
1. Remove packages folder
2. Clean %AppData%..\Local\NuGet\Cache

Result:
Nuget.exe doesn't download packages from the official source

This was moved from https://github.com/NuGet/Nu

[2015-08-28 22:58] deepakaravindr opened #1284 "Removing a package with lots of files takes ages"
@brgrz

We have an internal Nuget package about 3 MB in size, containing one ASP.NET MVC site area. The package holds about 600 files (mostly small, for instance CKEditor buid) in some 300 folders.

When initiating package update from within VS, NuGet starts to remove the old version and it is this step that takes "forever" (about 10-15 minutes on a modern highend machine with SSD drive).

Once th

[2015-08-28 23:00] deepakaravindr opened #1285 "Wrong markdown for usage examples"
@skazantsev

The help command generates a blockquote only for the first usage example. It looks like a bug.
The version of NuGet I use is 2.8.60717.93

_Command:_

[code]

_Output:_
....
### Examples

[code]

nuget install packages.config

nuget install ninject -o c:\foo

....

[2015-08-28 23:01] deepakaravindr opened #1286 "Support -ExcludeVersion for Restore and Update commands"
@KorsG

Hi,

Would it be possible to implement the -ExcludeVersion option for Restore and Update commands, just like the Install command ?

[2015-08-28 23:02] deepakaravindr opened #1287 "2.8.6 doesn't work on .NET 4.0"
@zapov

[2015-08-28 23:18] emgarten opened #1288 "Project.json restore removes the targets file"
1. file->new UWP class library
2. Add NuSpec.ReferenceGenerator 1.2.0 to the project.json
3. Build/rebuild.

On the second rebuild the projectName.nuget.targets file is deleted. The only way to get it back is to delete the project.lock.json file.

[2015-08-28 23:24] deepakaravindr opened #1289 "Push with a fully-qualified path on POSIX fails."
@dmccaffrey

When executing NuGet pack command using a fully-qualified path to the nupkg (such as Linux or Mac), NuGet is incorrectly assuming that the specified path is relative to the current directory.

For instance:

If pwd = /Volumes/Storage/Users/test/repos/nuget

dnx nuget.exe push "/Volumes/Storage/users/test/repos/nuget/packages/test.pkg" -Source "/Volumes/Storage/Users/test/.config/NuGet

[2015-08-28 23:26] deepakaravindr opened #1290 "nuget.exe excludes *.nuspec files and there is no way to bypass this"
@tugberkugurlu

I was trying to do ASP.NET 5 deployment with Octopus Deploy and I needed to `nuget pack` all the application stuff. This also contains the packages and their nuspec files. However, nuget.exe excludes those and there is no way to override them. There must be a good reason why this is a default behavior and I don't like to use NuGet for stuff like deploying applications but this made

[2015-08-28 23:27] deepakaravindr commented on #1290
From @ChaseFlorell

:+1:  We're in the same boat. `.nuspec` and `.nupkg` files cannot be contained in the manifest, and this is very problematic.

Nuget has definitely expanded far beyond what they thought it could do, and so some of these philosophies need to change. For us it's also Octopus Deploy related. We're trying to bundle a WPF app built using squirrel, and we can't do it out of the box.

[2015-08-28 23:28] deepakaravindr commented on #1290
From @tugberkugurlu

@ChaseFlorell thinking about this more, I really think that this isn't a NuGet problem. In NuGet's domain, it makes sense to have this restriction. However, we try to **NuGet everything possible** and that's clearly wrong. This is one of the problems arises from that and there are possibly more.

[2015-08-28 23:28] deepakaravindr commented on #1290
From @ChaseFlorell

while you're correct, Nuget is evolving and needs to be more flexible.

[2015-08-28 23:30] deepakaravindr opened #1291 "Unable to update native packages"
@iladan

Having a C++ project which is using nuget package CppNative.1.0.0.0.nupkg targeting framework "native". Packages.config looks like:

   package id="CppNative" version="1.0.0.0" targetFramework="Native"

Runing _nuget.exe update CppNative SolutionName.sln_
Result (using nuget.exe of version 2.8.5):
WARNING: Could not install package 'CppNative 2.0.0.60'. You are trying to install this pack

[2015-08-28 23:31] deepakaravindr opened #1292 "automatic package restore to run init.ps1 scripts after restoring"
@MarkusWild

Hi,

I have seen this issue already on codeplex but it seems to be lost or abandoned. Are there any activities around running init.ps1on Package restore?

Are there reasons not to do it?

Markus

This issue has been moved from https://github.com/NuGet/NuGet.CommandLine/issues/19

[2015-08-28 23:54] yishaigalatzer commented on #1256
We always had support to turn off restore on build. And we added a restore context menu in 3.2.

This suggestion needs to go through a design discussion, before we decide what to implement. My concern is that building too many options in the UI is going to drive confusion rather than goodness.

There is a related ask to make the turning off restore on build to be a solution level setting rather th

[2015-08-28 23:56] yishaigalatzer commented on #1288
CC // @onovotny

[2015-08-29 01:00] emgarten commented on #1288
NuGet/Nuget.packagemanagement@5584e2548e97d075e71049a382a80d2342b3d78d
nuget/nuget3@0b3ca109e8c5e63ac29cd8ed8b12d75199175d96

[2015-08-29 01:00] #1288 closed, assigned to MeniZalzman

[2015-08-29 03:43] ChaseFlorell commented on #1290
+1

[2015-08-29 05:06] abatishchev opened #1293 "Unable to update all packages only from given source"
Calling the following command:

[code]

Causes an error:

[code]

What is expected since this a nuget.org package, not from the private feed.

[2015-08-29 06:15] tom-englert commented on #1252
#367 :smirk:

[2015-08-30 01:15] JamesNK opened #1294 "VS restores incorrect packages when project.json in same directory as csproj"
I have this directory structure:

-/Src
--App.Net45.sln
--App.Net40.sln
--/App
---App.Net45.csproj
---App.Net40.csproj
---project.json
--/App.Tests
---App.Tests.Net45.csproj
---App.Tests.Net40.csproj
---project.json

The project.json file has a .NET Core framework designed so I can test that environment.

When I have App.Net45.sln open and I build, VS + NuGet sees project.json and restores for it.

[2015-08-30 05:06] JamesNK commented on #1294
I think there are two bugs here.

First is that DNXCore packages are being restored
The second is it happens every single time

[2015-08-30 13:47] punitganshani opened #1295 "NuGet.Core - Version 2.8.8 not available"
In the NuGet build repository, the package `NuGet.Protocol.VisualStudio` version `3.2.0` depends on `Nuget.Core` version `2.8.8` but its not available in repo

[code]

The last version of `NuGet.Core` that is available is `2.8.6`

Please help.

[2015-08-30 19:27] AndiRudi commented on #1279
I have 3.1.60724.766. I will retry with next version.

[2015-08-30 20:11] yishaigalatzer commented on #1279
I don't think we have a repro for this nullref? Would you mind sharing a full repro?

[2015-08-30 22:21] mmoore99 commented on #1016
+1 for this

[2015-08-30 22:45] mmoore99 opened #1296 "Package Manager Console freezes Visual Studio 2015"
This is a follow-up to issue #1016 (Package Manager Console freezes Visual Studio 2015 with custom profile).  In my case, any attempt to access the Package Manager Console freezes Visual Studio and requires VS to be killed by Task Manager.  In this case, there is no custom profile.

[2015-08-31 02:16] govind-mukundan commented on #974
Yeah it does work, turns out my issue was that I was using posh-git and had the following script configured:

[code]

Removing the script, solved the hang issue.

[2015-08-31 06:49] maartenba opened #1297 "Folder Name mangling"
_From @Grauenwolf on August 30, 2015 3:2_

I have a folder named "lib\portable-win81+wp81", but when I package my library the folder is renamed "lib\portable-win81%2Bwp81".

Is this normal? I ask because my Win 8.1 projects can't load the package.

_Copied from original issue: NuGet/NuGetGallery#2651_

[2015-08-31 06:51] maartenba opened #1298 "nuget package install fails on VS2015E"
_From @mprevot on August 28, 2015 14:55_

Attempting to resolve dependencies for package 'Yeppp.CLR.Bundle.1.0.1-prerelease' with DependencyBehavior 'Lowest'
Resolving actions to install package 'Yeppp.CLR.Bundle.1.0.1-prerelease'
Resolved actions to install package 'Yeppp.CLR.Bundle.1.0.1-prerelease'
Install failed. Rolling back...
Package 'Yeppp.CLR.Bundle 1.0.1-prerelease' does not exist in pro

[2015-08-31 06:54] gulbanana commented on #142
https://github.com/NuGet/Home/issues/1293 this is the exact issue i am experiencing. it's not that Update-Package can't cross _all_ sources; what it's no longer capable of doing is updating all packages from _one_ source without updating their dependencies from _other_ sources.

this is important because we have prerelease internal packages which depend on external packages. we do not want to upda

[2015-08-31 07:03] Grauenwolf commented on #1297
The root problem is that there isn't any good documentation on what the framework version strings should look like. For example, in this case the name mangling was a red herring. The string should have ended with "wpa81", not "wp81".

[2015-08-31 12:54] ulrichb opened #1299 "NuGet Pack: Invalid evaluation of the <files> entries for dependency .nuspec files"
We're using `nuget pack` to pack .csprojs with dependencies. There is one common `TemplateShared​.nuspec` (added as a project item link in all .csprojs) + we use the trick with the empty .nuspec files next to the dependency .csproj files (which is necessary that `nuget pack` accepts these projects as dependencies).

When calling `nuget pack` with `-IncludeReferencedProjects` we get the following o

[2015-08-31 14:02] johnataylor commented on #1293
#1181

[2015-08-31 14:02] #1293 closed, assigned to nobody

[2015-08-31 16:20] yishaigalatzer commented on #1298
@mprevot we need more details to look at this issue
1. What version of nuget are you using
2. Did that package worked in any other version of visual studio? What I'm asking is: Do you know if the package is valid at all for your scenario?
3. More details on what project you are installing it into, and best if possible the full repro steps.

[2015-08-31 16:22] yishaigalatzer commented on #1297
Fair enough, we are already tracking a bug to fix the docs in this area. So closing as a dup. Completely agree we should improve this as soon as possible.

#358

CC // @csharpfritz

[2015-08-31 16:22] #1297 closed, assigned to nobody

[2015-08-31 16:27] yishaigalatzer commented on #1016
This is a duplicate of #917

Here is a workaround @zbrad posted on #917

[2015-08-31 16:27] #1016 closed

[2015-08-31 16:29] yishaigalatzer commented on #1296
@mmoore99 we need more details
1. What version of the NuGet extension are you using (can you update to the latest from the gallery)?
2. If updating doesn't resolve your issue, is there a way to get more information about your setup and can you provide a dump?

[2015-08-31 16:32] yishaigalatzer commented on #1295
To unblock you - NuGet 2.8.8 is built from nuget2.

We need to push it to NuGetBuild feed as well

[2015-08-31 16:36] yishaigalatzer commented on #1294
There is no good story to mix project.json for multiple projects. We have a fix that will enable creating `{projectName}.project.json` per project so you can separate the concerns properly.

This should be released at some point in September.

Similarly restoring everytime was enhanced in the 3.2 release, and should not happen on every build (but yes on every rebuild).

[2015-08-31 16:39] yishaigalatzer commented on #1287
We need to decide if we require .NET 4.5 on the user machine to run or not.

CC @csharpfritz

[2015-08-31 16:41] yishaigalatzer commented on #1286
This doesn't make sense for the restore command (in package.config), but it could be interesting for the update command.

[2015-08-31 16:43] yishaigalatzer commented on #1285
I'm moving this out beyond 3.3, because in all honesty it is not meeting the bar as other more critical bugs. We will gladly take a pull request for this though.

[2015-08-31 16:46] themilkyninja commented on #1225
I'm not seeing the issue with the 3.1 version I downloaded. However, I wasn't able to reproduce the original error in a controlled experiment environment with 2.8.5 either, so I can't confidently say it's fixed.

[2015-08-31 16:46] yishaigalatzer commented on #1284
My guess is that these are calls to Visual Studio DTE that is making it slow.
A compounding factor would be if the files are checked in under source control, particularly TFS.

Can you confirm?

[2015-08-31 16:47] jmyersmsft opened #1300 "V3 install/restore only uses credentials for index.json"
We're still having problems with auth against v3 endpoints. Using:
- nuget.exe built from current dev branch or CI build 10477
- an authenticated v3 source containing the package 'SuperHelloLib'
- credentials stored in nuget.config,

running:

[code]

gives the following behavior:
1. GET (index.json) (without credentials) -> 401 with auth challenge
2. GET (index.json) (with Basic credentials) -> 2

[2015-08-31 16:51] yishaigalatzer commented on #1283
You need to use a newer version of nuget.exe (2.8.6 or even better 3.2).

A beta release of 3.2 is available here -  http://dist.nuget.org/win-x86-commandline/v3.1.0-beta/nuget.exe

We plan an update later this week.

[2015-08-31 16:58] yishaigalatzer commented on #1300
This should be verified both for command line, and visual studio extension

[2015-08-31 17:32] emgarten commented on #1295
NuGet.Config in the PackageManagement repo contains the source which has NuGet.Core 2.8.8
https://github.com/NuGet/NuGet.PackageManagement/blob/dev/NuGet.Config#L5

Make sure you haven't disabled this source at the machine wide level.

[2015-08-31 17:45] emgarten opened #1301 "Update-Package for project.json does not rollback changes if the install fails"
Steps:
1. Create a new UWP project
2. install-package nuget.versioning -version 1.0.5
3. update-package nuget.versioning -version 9.0.0

Expected:
The update should rollback to 1.0.7

Actual:
An error message is displayed but there is no rollback

Use the above steps but instead of #3 run:
install-package nuget.versioning -version 9.0.0
This will rollback

[2015-08-31 18:27] mprevot commented on #1298
Hey,

I'm using nuget 3.0.0, VS2015 enterprise, VS2013.5 ultimate. The problem
occured in VS2015.

In VS2013.5 same:

2015-08-31 18:21 GMT+02:00 Yishai Galatzer notifications@github.com:

[2015-08-31 18:29] mprevot commented on #1298
The nuget version in VS2013.5: 2.8.60610.756 and it fails:

PM> Install-Package Yeppp.CLR.Bundle -Pre
Install-Package : The current environment doesn't have a solution open.
At line:1 char:1
- Install-Package Yeppp.CLR.Bundle -Pre
- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  - CategoryInfo          : InvalidOperation: (:) [Install-Package],
    InvalidOperationException
  - FullyQualifiedErrorId :

[2015-08-31 18:29] mprevot commented on #1298
Sorry for the nois, the actual message:

PM> Install-Package Yeppp.CLR.Bundle -Pre
Install-Package : Unable to find package 'Yeppp.CLR.Bundle'.
At line:1 char:1
- Install-Package Yeppp.CLR.Bundle -Pre
- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  - CategoryInfo          : NotSpecified: (:) [Install-Package],
    InvalidOperationException
  - FullyQualifiedErrorId :
    NuGetCmdletUnhandledException,Nu

[2015-08-31 18:36] yishaigalatzer commented on #1298
1. Please update NuGet to 3.1.1 in Visual Studio 2015
2. Please share your nuget.config and package.config

[2015-08-31 18:52] emgarten opened #1302 "nuget.exe should show a helpful message when nuget.config is corrupt"
An invalid nuget.config will cause a generic exception and error message.

Steps
1. Create a new UWP app
2. Copy .vs\config\applicationhost.config to nuget.config or create a corrupted nuget.config file
3. From the solution folder run: _nuget.exe restore -configfile nuget.config -packagesdirectory packages_

**Expected:**
An error message referring to nuget.config

**Actual:**

[code]

[2015-08-31 19:12] csharpfritz commented on #1302
Similarly, ensure that a friendly and detailed error message is shown for corruption of
project.json files as well.

On Mon, Aug 31, 2015 at 2:52 PM, Justin Emgarten notifications@github.com
wrote:

[2015-08-31 19:12] emgarten opened #1303 "Update-Package on project.json fails"
1. Create a new UWP app
2. Open PMC
3. Update-Package

An "Sequence contains no elements" exception is thrown

[code]

[2015-08-31 19:42] #1295 closed, assigned to MeniZalzman

[2015-08-31 19:58] yishaigalatzer commented on #1292
This is not related to the command line. It is now being done for project.json scenarios.

@deepakaravindr please verify the current state.

[2015-08-31 20:00] yishaigalatzer commented on #1292
Scenario:

Open a solution with EF but no packages are restored
Open PS console - Verify no EF commands are available
Restore
Should EF commands be available? This bug suggests that they should.

[2015-08-31 20:04] yishaigalatzer commented on #1290
@tugberkugurlu you know the drill, this is something we can consider supporting, but it will be pretty low on our list of must haves given the current requirements and long list of work towards 3.2 and 3.3.

Hence we will gladly take a well thought out PR with tests and whathave you.

I'm moving this to the discussion milestone. Lets plan it out and once a PR is made we can take it. Otherwise we c

[2015-08-31 20:10] yishaigalatzer commented on #1281
@miguelalho @bhuvak

Sorry for the trouble, we moved the bits around a bit (and we plan some more moves in the next months to consolidate repos)

The nuget command line is built from https://github.com/nuget/nuget.packagemanagement

[2015-08-31 20:13] yishaigalatzer commented on #787
Note - NuGet command line is building from https://github.com/nuget/nuget.packagemanagement

[2015-08-31 20:39] ericstj opened #1304 "Unable to find a version of package "System.Globalization' that is compatible with version constraint [4.0.0, )"
I have a simple package that takes a dependency on a few framework packages.

I reference it and another package (one that is included by default in ASP.NET v5 projects) and nuget fails to restore the project.  The error message doesn't make any sense because it is inconsistent with what is on the feed (System.Globalization does indeed exist with version 4.0.0).

To repro use the following project

[2015-08-31 21:01] tugberkugurlu commented on #1290
@yishaigalatzer thanks for the response. Yes, it makes sense but I am now more thinking like https://github.com/NuGet/Home/issues/1290#issuecomment-135912775.

Before going and lifting this restriction, that would be good to know the reason why it is there at the first place. My concern is that this might make sense for NuGet but doesn't make sense for others which use NuGet outside of its use cas

[2015-08-31 21:19] ChaseFlorell commented on #1290
I have two different use-cases where this restriction gets in the way.

I too use Octopus Deploy for my delivery, and because Octopus is built on nuget for it's artifacts, it needs to be able to bundle nuspec manifests.
1. I maintain a nuget package that I push to nuget.org. I want to be able to deliver that nuget package via Octopus, and therefore the app.nupkg needs to be an artifact inside the

[2015-08-31 21:26] JamesNK commented on #1294
So csproj projects will look for {projectName}.project.json **instead of** project.json?

What happens if I still have a project.json in the directory? (for dnx) Will it now be ignored or will I need to create a {projectName}.project.json to get NuGet to use that instead?

[2015-08-31 22:17] JamesNK commented on #1294
A user has also reported this error caused by the csproj project using project.json - https://github.com/JamesNK/Newtonsoft.Json/issues/639

[2015-08-31 22:56] yishaigalatzer commented on #1294
I don't think you will be able to mix dnx and csproj and packages.config together but you can do two of the three.

Cc @davidfowl

[2015-08-31 23:32] ericstj commented on #1304
I found that when I use the latest pre-release nuget.exe that I extracted from http://www.myget.org/F/nugetbuild/api/v2/package/NuGet.CommandLine/3.2-beta-10482 I get more information:

[code]

Can you explain why nuget thinks System.Globalization (≥ 4.0.10-beta-23109) and System.Globalization (≥ 4.0.0) are a conflict?

Seems to me nuget should choose 4.0.10-beta-23109 and it'd satisfy both constr

[2015-08-31 23:35] JamesNK commented on #1294
I'm happy with ditching packages.config and moving to {projectName}.project.json, I just need a way for the csproj to stop picking up project.json in VS and creating problems like the ones above.

Do you understand what I'm getting at?

[2015-08-31 23:36] yishaigalatzer commented on #1290
@tugberkugurlu I think this was done because it is just an old piece of code and it is an easy assumption to assume there will be only one nuspec file, and it is not the one in the project, since nuget will modify it. The easiest thing was to remove all of them no matter where they are and insert a new one.

The complication arises from the fact that nuget clients do not strictly enforce the name

[2015-08-31 23:41] JamesNK commented on #1294
-/Src
--App.Net45.sln
--App.Net40.sln
--/App
---App.Net45.csproj
---App.Net45.project.json
---App.Net40.csproj
---App.Net40.project.json
---project.json
--/App.Tests
---App.Tests.Net45.csproj
---App.Tests.Net45.project.json
---App.Tests.Net40.csproj
---App.Tests.Net40.project.json
---project.json

So with this file structure, when App.Net45.sln is open, will VS completely ignore the two project.js

[2015-08-31 23:52] yishaigalatzer commented on #1294
yes it should do that, I didn't see the final piece of code from @pilchie that makes msbuild pick up the right things. We can probably put privates in your hands to verify it before we ship.

[2015-09-01 00:16] JamesNK commented on #1294
Ok!

You can also test yourself by cloning Newtonsoft.Json, adding a Newtonsoft.Json.project.json and Newtonsoft.Json.Tests.project.json and seeing what happens when you build Newtonsoft.Json.sln and use the NuGet UI inside VS2015.

[2015-09-01 00:47] mmoore99 commented on #1296
Upon further review I have determined that my issue is, in fact, a
duplicate of issue #917.  My issue can be closed.

On Mon, Aug 31, 2015 at 9:29 AM, Yishai Galatzer notifications@github.com
wrote:

[2015-09-01 00:50] #1296 closed, assigned to nobody

[2015-09-01 02:59] #1300 closed, assigned to zhili1208

[2015-09-01 06:30] mprevot commented on #1298
The update was done.

nuget.config:

<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json"
protocolVersion="3" />
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
  </packageS

[2015-09-01 07:57] theo-albers commented on #1200
Just found a workaround for the problem: as long as we remove the default V2 package source, the NuGet config logic won't migrate the NuGet.config file. So the remedy for us is to use the following file:

[code]

instead of:

[code]

[2015-09-01 10:45] ToineSeiter commented on #604
Hello, I've the same issue but I can't fill the dropdown by closing/reopening the solution.

[2015-09-01 12:10] ilya-git commented on #980
Will we still need a solution folder with Nuget.Config in the new 3.2 release as a fix for this issue? Or will it be possible to set on a generic config level like that (not in the solution NuGet.Config):

[code]

That would be quite a useful option not to do this in each solution seems probably most don't need it in source control anyway...

[2015-09-01 12:29] StasPerekrestov commented on #1283
Thank you!

[2015-09-01 14:21] tengl commented on #980
I would like that too.

[2015-09-01 14:26] RichardJFoster opened #1305 "VS2015 NuGet UI shows "Upgrade available" packages even when not applicable to current solution."
This problem is somewhat self-inflicted due to some legacy choices associated with version control repositories and solution structure... however the result is still potentially undesirable due to the confusion it may cause.

In the scenario where there are multiple solutions in a single folder structure, the NuGet UI may erroneously indicate that there are updates available for a package within a

[2015-09-01 15:42] mplessis commented on #607
I use client NuGet v3.1.6 in my VS2015 and this issue is still present. That this issue is resolved in another version of V3.1.x please or only from a v3.2?

[2015-09-01 15:45] csharpfritz opened #1306 "MsBuild does not perform automatic package restore like Visual Studio"
From vs-feedback (433686)

The MsBuild command-line tool does not pick up the targets file and restore missing packages like the default behavior in Visual Studio.

[2015-09-01 15:56] #1306 closed, assigned to nobody

[2015-09-01 15:56] yishaigalatzer commented on #1306
That's by design

[2015-09-01 15:56] yishaigalatzer commented on #1306
The user is responsible to run nuget restore ahead of msbuild

[2015-09-01 15:57] yishaigalatzer commented on #607
This does work with the 3.1.x releases, but only for packages.config scenarios. If you are developing a UWP app, it doesn't yet work.

[2015-09-01 15:59] yishaigalatzer opened #1307 "README.txt does not open for project.json scenarios"
Although #607 covered opening readme.txt, it only works for packages.config scenarios and not for project.json scenarios.

Need to fix, and also work with DNX folks to fix it in their system

CC @davidfowl

[2015-09-01 16:14] zidad commented on #832
Same problem here... I have to switch to VS2013 just to update nuget packages

[2015-09-01 16:31] yishaigalatzer commented on #1305
That sounds odd, since the code doesn't have any knowledge about solution 2. Can you try deleting solution 2 completely, and see if you still get an update available notification?

I'm suspecting that this might be an unrelated issue to the one described here. Of course if I'm wrong would you be able to share your solution or a small repro?

[2015-09-01 18:48] deepakaravindr opened #1308 "In UI for solution, projects checkbox goes from checked to partial selection state automatically"
In UI for solution, projects checkbox goes from checked to partial selection state automatically

Repro steps:
1. Create a solution with 2 console applications
2. Install Newtonsoft.Json to the first console app
3. Open Manage NuGet Packages for solution with nuget.org as the package source and note that EntityFramework is selected by default.
   ![image](https://cloud.githubusercontent.com/assets

[2015-09-01 18:48] MeniZalzman opened #1309 "NuGet visual studio not showing logs when the Build output windows is not opened"
When packages are restored and the build Output windows is not initiated, we are not showing any action logs.

[2015-09-01 18:49] deepakaravindr commented on #1154
Thanks, @raffaeler! Filed https://github.com/NuGet/Home/issues/1308 to track the issue with the black square

[2015-09-01 20:06] deepakaravindr commented on #1125
Did the following for verification
1. Created a project and installed Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0 on it.
2. Closed PMC if it was open and closed VS
3. Re-opened VS and opened the solution created in Step-1
4. Deleted files Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll and the xml from <ProjectRoot>\bin if present. Note that init.ps1 from the package in questio

[2015-09-01 21:24] MeniZalzman opened #1310 "When package failed to install we are getting an exception thrown to the Power Shell console instead of getting an error msg what meant wrong"
'''
PM>  Install-package madeuppackagename234l2k34 -version 9.9.0
Restoring packages for 'App1'.
Restoring packages for c:\users\meniz\documents\visual studio 2015\Projects\App1\App1\project.json...
  NotFound https://az320820.vo.msecnd.net/v3-flatcontainer/madeuppackagename234l2k34/index.json 346ms
Install-package : Unable to resolve madeuppackagename234l2k34 (≥ 9.9.0) for UAP,Version=v10.0.
At l

[2015-09-01 21:29] emgarten commented on #1303
NuGet/NuGet.PackageManagement@007a4689e70f861a80d10bdf79213d6f9589139d

[2015-09-01 21:29] #1303 closed, assigned to johnataylor

[2015-09-01 21:36] MeniZalzman commented on #1052
This is fixing UnitTest

[2015-09-01 21:43] deepakaravindr commented on #1128
Gives the expected result. NuGet.Versioning gets uninstalled

[2015-09-01 21:49] #1041 closed

[2015-09-01 21:55] emgarten opened #1311 "nuget.exe packages config restore throws a commandlineexception on unresolved packages"
Steps
- Create a packages config file with a missing package:

[code]
- _nuget.exe restore packages.config -packagesdirectory packages_

![image](https://cloud.githubusercontent.com/assets/6381138/9618146/5418d770-50b9-11e5-81f2-5eeac6bd5510.png)

The warning and 1st error are expected. The final error is not expected.

[2015-09-01 22:23] rowanmiller commented on #1304
FYI this also affects installing the Entity Framework 7 Beta 7 packages on a UWP project (installs successfully on Full .NET and ASP.NET 5 projects).

[2015-09-01 22:42] MeniZalzman commented on #1106
We still need to update the documentation on this command

[2015-09-01 23:19] feiling commented on #1004
Verified fixed. Here are the steps to repro:
- Use dev12, create a project, check it into TFS.
- Install a package. Then "Enable NuGet Package Restore" on the solution. Note that this feature is only available in old versions of NuGet.
- Check it changes.
- Exit dev12
- Now open the solution in Dev14. Install a package. Without the fix you'll get error messages like "There is no working folder map

[2015-09-01 23:21] RanjiniM commented on #1191
All functional tests passed on the latest build (1084). Hence moving it to done.

[2015-09-01 23:21] RanjiniM commented on #1183
Verified that this is working now

[2015-09-01 23:22] RanjiniM commented on #1182
Verified that Consolidate is working now

[2015-09-01 23:22] RanjiniM commented on #1181
Verified as working

[2015-09-01 23:23] RanjiniM commented on #1172
Verified as working

[2015-09-01 23:23] RanjiniM commented on #1162
Not an issue anymore

[2015-09-01 23:24] RanjiniM commented on #1158
The source is reachable but building takes forever and doesn't finish. Assigning to Fei to take a look

[2015-09-01 23:24] RanjiniM commented on #1163
Verified

[2015-09-01 23:53] MeniZalzman commented on #787
We fixed this issues please make sure you are using the Dev branch in the Home repo and make sure to pull to get the update build script

[2015-09-01 23:53] #787 closed

[2015-09-02 00:05] abatishchev commented on #1305
Doesn't it show an available update because nuget doesn't scan packages.config but packages folder instead.
For instance, you have a package of version A in packages folder but don't have it installed in any project. Once version A+1 is available it will be shown. But no projects can update it since don't have it installed.

[2015-09-02 00:14] abatishchev opened #1312 "Update-Package A installs missing dependency C for package B"
I have a project with package A (my own) and another B (WebApiContrib). The later has a dumb dependency (C) on TaskHelpers.Sources which I don't need.

When I run `Update-Pacakge A -Source MyGet` not only A is updated but also C is installed. Every time.

Log:

[code]

So after each update I have to run `Uninstall-Package TaskHelpers.Sources -Force`.

[2015-09-02 00:27] emgarten commented on #1312
Try _Update-Package Ab -Source MyGet -IgnoreDependencies_

[2015-09-02 00:28] abatishchev commented on #1312
But A has no dependencies. Or it has and I need to update it. Why C, a dependency of B, is installed as well?

[2015-09-02 00:39] deepakaravindr opened #1313 "nuget.exe restore on a csproj with packages.config should not be supported or supported properly"
nuget.exe restore on a csproj with packages.config should not be supported or supported properly

Repro steps
1. Create a C# console application and install Newtonsoft.Json
2. Delete the packages folder
3. At solution folder, nuget.exe restore <projectName><projectName>.csproj -SolutionDirectory .

Expected:
An error is shown saying packages.config or solution file needed
OR
Packages get restored

[2015-09-02 01:06] emgarten opened #1314 "nuget.exe sources Add will always add nuget.org"
Steps
Start with an empty nuget.config (having other sources has no impact)

[code]

_nuget.exe Sources Add -Name testFeed -Source https://testfeed -UserName user -Password pass -Config nuget.config_

Expected:
Only the given source should be added

Actual:

[code]

Nuget.org is also added

[2015-09-02 01:15] emgarten opened #1315 "nuget.exe adding a source with -Config does not update the file unless a username and password is used"
Steps
Create a new nuget.config with no sources"

[code]

_nuget.exe Sources Add -Name testFeed3 -Source https://testfeed3 -Config nuget.config_

Expected:
The feed will be added to the file

Actual:
The feed is not added

It will work if the password is given _nuget.exe Sources Add -Name testFeed3 -Source https://testfeed3 -Config nuget.config -Username user -Password pass_

Without -Config it se

[2015-09-02 01:34] emgarten commented on #1312
NuGet finds the full closure of dependencies and installs/updates the project to that state. Removing C puts the project in a bad state since B depends on it. Are you able to leave C installed and just remove the references to C from your csproj file to keep it out of the build?

[2015-09-02 01:38] deepakaravindr commented on #1096
Verified that the behavior is as desired. For Install-Package and Update-Package from powershell console, the cache is busted. Whereas with restore, we use the cache

[2015-09-02 01:46] deepakaravindr commented on #1041
We will use the same casing for nuget.exe both the exe and NuGet.CommandLine package. It will be simply nuget.exe

[2015-09-02 03:01] emgarten opened #1316 "UWP restore throws when the solution contains a shared project"
Shared projects contain items with the name <Shared>, this throws when passed into Path.GetFileName(). NuGet should validate these project items before trying to find the file name.

Steps
1. Create a UWP project
2. Create a hub app with a shared project
3. Reference the hub app from the UWP project
4. Restore

[2015-09-02 03:17] emgarten commented on #1316
This was throwing during a Path.GetFileName in IsProjectConfig. I've added additional validation when checking project.json paths.

https://github.com/NuGet/NuGet.VisualStudioExtension/commit/4d36149b104ff46bdd8af9b9c09212ccda42571c
https://github.com/NuGet/NuGet.PackageManagement/commit/f947ef8094b697da3ff207eebc99ec1d4b986298

[2015-09-02 03:17] #1316 closed, assigned to nobody

[2015-09-02 03:19] yishaigalatzer commented on #1305
@abatishchev that's not the case.

@RichardJFoster I've tried to reproduce this issue, and I don't seem to get it, unless you have the project but its unloaded. Is this the case you are hitting? If no can you please post a repro?

[2015-09-02 04:57] abatishchev commented on #1312
I wish NuGet v3 (like v2 did, I believe) would update only what it was told to update and don't care about the reset of project.

The behavior you've described I would expect from `Update-Package`, that's true.

[2015-09-02 05:00] abatishchev commented on #1312
Interestingly, running `Update-Package A -IgnoreDependencies` produces the following log:

[code]

i.e. by some reason tries to re (?) install (?) WebApiContrib.

[2015-09-02 05:38] emgarten commented on #1312
I wouldn't expect WebApiContrib to get reinstalled there, that look could be a bug.

[2015-09-02 07:01] raffaeler commented on #1182
@feiling @RanjiniM The version of the screenshot and that I am still using is 3.1.60724.766.
I regularly receive extension updates, but this is the latest proposed by VS2015.
What should I do? Should I upgrade the extension manually? How?

[2015-09-02 12:49] RichardJFoster commented on #1305
Hmmm.... I may have jumped the gun with my initial problem description. While the problem I describe is definitely occurring with current code (which I do not have permission, nor am I likely to get permission to share) I am not able to reproduce in a "fresh" folder using the mechanism I described. I shall continue investigating. It may also be associated with the fact that there are a also a coup

[2015-09-02 13:55] xavierdecoster commented on #639
Successful downloads are reported in the CDN raw logs and tracked by another GitHub issue (https://github.com/NuGet/NuGetGallery/issues/2416).
Assigning this issue to @csharpfritz who can update/reassign based on the LCA-status/requirements for tracking failed installs.

[2015-09-02 14:14] stunney commented on #787
Has the documentation been updated on the Home web page?  I still cannot build from a fresh command line sync right now.

[2015-09-02 14:35] yishaigalatzer opened #1317 "nuget.exe does not have a default feed"
On a machine without a default nuget.config, nuget install does not work without specifying a source

[2015-09-02 14:43] csharpfritz commented on #1062
@csharpfritz - Needs doc

[2015-09-02 15:12] csharpfritz commented on #639
What information do we want to collect from a failed install in addition to the standard HTTP headers that are sent?

[2015-09-02 15:18] yishaigalatzer commented on #639
The idea is to send back an extra call if installed has failed. Some sort of a full post describing the project tfms and other dependencies

Sent from my Windows Phone

---

From: Jeffrey T. Fritzmailto:notifications@github.com
Sent: ‎9/‎2/‎2015 8:12 AM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home] Need to integrate calls to Metri

[2015-09-02 15:24] csharpfritz commented on #639
Agreed - lets get some scope around the specific items we want to send on
this follow-up "troubleshooting" post so that we can discuss any privacy
concerns.  We may need to add an 'opt-in' option to facilitate this type of
troubleshooting.

Are we considering sending back: packages.config/project.json, project type
guid, and nuget.config?

[2015-09-02 15:27] yishaigalatzer commented on #639
Yeah. This is low pri vnext kind of thing right now. Lets move it out and get into it again after u2

[2015-09-02 15:30] csharpfritz commented on #639
Yes, lets push install failure reporting out as it will require client
updates to support it.

[2015-09-02 15:52] AArnott opened #1318 "Update-Package pkgid (without specifying version) fails when package source uses "dnu packages add" layout"
Software:
NuGet Package Manager for Visual Studio version: 3.1.60717.741
Visual Studio 14.0.23231.00 Update 1 CTP (lab/vsuvscore)

Repro steps:

[code]

Then open the Package Manager console and enter this command:

[code]

The output is:

[code]

But if you change the package source from: `\\cpvsbuild\drops\vsideproj\Packages` to `\\cpvsbuild\drops\vsideproj\Packages.old`, it works. The differenc

[2015-09-02 16:51] RanjiniM commented on #857
This was a non-issue

[2015-09-02 16:51] RanjiniM commented on #925
Verified

[2015-09-02 16:51] RanjiniM commented on #926
Verified

[2015-09-02 17:21] RanjiniM commented on #1164
Verified in 3.2

[2015-09-02 17:47] MikeEsteves opened #1319 ".nupkg of the v3.x nuget.exe"
Team City builds are failing because ''System.Net.Http 4.0.0' package requires NuGet client version '3.0''. Team City uses the command line version of nuget which it fetches from https://www.nuget.org/packages/NuGet.CommandLine (as far as I can tell)

Is v3 going to be published to nuget.org? Or is there a .nupkg of the nuget.exe which I can upload to Team City? (It allows you to upload a nuget ve

[2015-09-02 18:19] deepakaravindr commented on #1317
Same issue happens with restore too. However, running 'nuget.exe help' or 'nuget.exe sources' creates the default nuget.config

[2015-09-02 18:51] yishaigalatzer commented on #1317
Can you compare the behavior to nuget.exe 2.8.6?

From: Deepak Aravindakshan [mailto:notifications@github.com]
Sent: Wednesday, September 2, 2015 11:20 AM
To: NuGet/Home Home@noreply.github.com
Cc: Yishai Galatzer yigalatz@microsoft.com
Subject: Re: [Home] nuget.exe does not have a default feed (#1317)

Same issue happens with restore too. However, running 'nuget.exe sources' creates the default n

[2015-09-02 18:56] deepakaravindr commented on #1317
This is a regression in comparison to NuGet.2.8.6

[2015-09-02 19:06] emgarten opened #1320 "Csproj to Xproj references design meeting discussion"

[2015-09-02 19:42] deepakaravindr opened #1321 "nuget.exe: Code to construct SourceRepositoryProvider object is repeated several times"
nuget.exe: Code to construct SourceRepositoryProvider object is repeated several times. This should be fixed to avoid bugs

[2015-09-02 19:43] deepakaravindr opened #1322 "nuget.exe: There are basic tests for nuget.exe update. Need more"
nuget.exe: Need tests for nuget.exe update. There are none. Looks like they are not ported over

[2015-09-02 19:51] deepakaravindr opened #1323 "NuGet.PackageManagement.dll should not use NuGet.Core and NuGet.Protocol.Core.v2"
NuGet.PackageManagement.dll should not depend on NuGet.Core and NuGet.Protocol.Core.v2.

Currently, NuGet.PackageManagement.dll references NuGet.Protocol.Core.v2 package.

https://github.com/NuGet/NuGet.PackageManagement/blob/dev/src/PackageManagement/project.json#L4

Also,
https://github.com/NuGet/NuGet.PackageManagement/blob/dev/src/PackageManagement/Utility/UriHelper.cs uses PackageSourceProvid

[2015-09-02 20:10] #1317 closed, assigned to deepakaravindr

[2015-09-02 21:06] feiling opened #1324 "nuget command line should display http requests it's making to v3 feed when Verbosity is set to detailed"
When nuget talks to a v2 feed, it displays http requests when Verbosity is set to true. But it does not show the requests when it connects to a v3 feed.

[2015-09-02 22:46] MeniZalzman commented on #787
Thanks for the feedback, can you sync again and run the build script with the following:
.\Home\build-nuget.ps1 -CleanCache
The clean cache will make sure all the cache packages get deleted

[2015-09-02 23:04] deepakaravindr commented on #980
@ilya-git and @tengl,

You can add the setting not just to the solution level nuget.config, but also to your nuget.config at %appdata%\nuget. That works too! Just that it will get applied to every solution that you open on that machine. Remember to add the following section as a child to < configuration > section. And, note that the setting should always be under the < solution > section for it to

[2015-09-03 01:03] frankradocaj commented on #1236
My main issue with the Nuget UI is the loading/refreshing locks up the screen, (and occasionally I get the "App not responding" message). Can the loading be done in a non-UI thread?

[2015-09-03 01:53] yishaigalatzer commented on #1236
It is mostly done on a background thread, would help if you can open a separate issue and provide more details of your setup (package sources, project type, packages installed) and location.

Also did you give 3.2 RC a try?

[2015-09-03 06:25] maartenba opened #1325 "the package does not contain any assembly references or content files that are compatible with that framework"
_From @NVentimiglia on September 2, 2015 22:35_

I am trying to install a nuget package and failing. Both the nuget package and the importing project are of the same type (PCL target 259). When I try to import the project, I get this error.

Could not install package 'WebSocket.Portable.Core 1.2.2'. You are trying to install this package into a project that targets '.NETPortable,Version=v4.0,Profi

[2015-09-03 07:16] ilya-git commented on #980
I will try that, thank you. Will that work only in nuget 3.2? (I assume it's broken in 3.1?)

[2015-09-03 08:31] JamesNK opened #1326 "NuGet 3.2-RC - Incorrect error message when no framework defined"
I got the error message below when I tried to modify a project's packages with a file named Newtonsoft.Json.Tests.Net20.project.json instead of project.json:

[code]

The error message should say `Newtonsoft.Json.Tests.Net20.project.json` instead of `project.json`. Should check any other error messages to replace project.json with the correct file name.