[2018-02-27 22:42] rrelyea commented on #6617
@mhosman - which type of app were you trying to upgrade?? When I try this with a asp.net core 2.0 app, it starts with:
`    <PackageReference Include="Microsoft.AspNetCore.All" Version="2.0.0" />`

However, if I create a new Asp.net core 2.1 app, it has the following package in it:
`    <PackageReference Include="Microsoft.AspNetCore.App" Version="2.1.0-preview1-final" />`

updating the Microsoft.

[2018-02-27 23:29] nkolev92 commented on #6615
Can we get some more details here?

What are the sources?
What's the package etc?
On which source is the package expected to be?

[2018-02-27 23:33] anangaur commented on #6615
Added you to the conversation.

[2018-02-27 23:34] #6589 closed, assigned to dtivel

[2018-02-27 23:44] rrelyea commented on #6617
From asp.net team...need to change targetframework from netcoreapp2.0 to netcoreapp2.1 if you want to use 2.1 packages.

NuGet has a backlog task to improve search and update to only show compatible packages...this experience will improve then.

[2018-02-27 23:44] #6617 closed, assigned to nobody

[2018-02-27 23:49] PatoBeltran opened #6619 "Signing: Add support for repository sign"
Add code to enable repository signatures and repository primary signatures to the signing API and expose a command line tool to repository sign a package.

[2018-02-28 00:19] nkolev92 commented on #6609
Thanks for creating this issue.
Credentials providers are currently unsupported in MSBuild, but this is on our short term roadmap.
[Issue here.](https://github.com/NuGet/Home/issues/6486)

Currently the only alternative is storing your credentials in the NuGet.Config.

[2018-02-28 00:19] #6609 closed, assigned to nobody

[2018-02-28 01:38] vsfeedback opened #6620 "Cannot clear NuGet cache without shutting everything down"
NuGet package management is a pain in the butt and oftentimes, I need to clear the cache while troubleshooting but visual studio is preventing it from working.

If I go to Tools&gt;Options&gt;NuGet&gt;Clear Cache, it will fail because visual studio has open handles to those packages. The only way I can clear it is to shut down all instances of visual studio which is problematic when I'm working wi

[2018-02-28 01:39] nkolev92 commented on #6620
This happens because project system has a file handle to the analyzers.
We need to investigate if this is a regressed behavior and how to proceed here.
It's not directly an issue caused by NuGet, but we're the owners of the experience.

[2018-02-28 01:47] Tadimsky commented on #6609
Thanks @nkolev92 - so should we just use `nuget.exe` from the command line instead of msbuild until this work is done?

[2018-02-28 02:27] nkolev92 commented on #6186
I don't think we end up adding RestoreOutputPath to VS, because that's not really the intent of this, but I want to keep this open to track the changes that @jeffkl is recommending.
/cc @dsplaisted

[2018-02-28 02:30] nkolev92 commented on #6609
@Tadimsky
Yep, that's the recommended approach for building with VSTS feeds right now.

By the above, I meant the only alternative for msbuild :)
I tunnel visioned myself into it :)

[2018-02-28 02:33] nkolev92 commented on #4463
Some related work:
https://github.com/NuGet/NuGet.Client/pull/2056

[2018-02-28 02:37] nkolev92 commented on #6618
I don't think NuGet ever had a version command?
[code]
and
[code]
should do the trick.

The stacktrace being logged on normal weirdness started in 4.3.

[2018-02-28 02:44] nkolev92 commented on #6612
Thanks for creating this issue.

While Visual Studio for Mac does provide a NuGet functionality, that's not directly managed by the NuGet team, so I'd recommend creating a bug there for these types of issues.

This specific scenario though, is a NuGet core libraries specific thing.
The update command currently does not take "compatibility' into account when calling update.

We have a tracking [iss

[2018-02-28 02:44] #6612 closed, assigned to nobody

[2018-02-28 02:47] nkolev92 opened #6621 "NuGet cross-plat authentication design"
A branch of https://github.com/NuGet/Home/issues/6410.

[2018-02-28 02:50] nkolev92 commented on #6476
Thanks for filing this issue.
Unfortunately we haven't received enough details to further analyze this issue.

[2018-02-28 02:50] #6476 closed, assigned to nobody

[2018-02-28 02:52] nkolev92 commented on #6580
On a second look, this is a duplicate of https://github.com/NuGet/Home/issues/912

[2018-02-28 02:52] #6580 closed, assigned to nobody

[2018-02-28 02:53] nkolev92 commented on #6480
Closing this as question.

[2018-02-28 02:53] #6480 closed, assigned to nobody

[2018-02-28 03:48] SMITHsharon commented on #4308
all of this ^^^
Exact same error message.
Walked through MikeInSwitzerland's fix, but on the "Restore NuGet Packages" part, getting error message, "Error occurred while restoring Nuget packages: Access to path 'C\Users ... \microsoft.codeanalysis.workspaces.common\2.6.1' is denied."

[2018-02-28 06:57] nkolev92 opened #6623 "Consider removing the extensibility that allows other package managers to be shown as compatible"
Create any PR/PJ based project and open the PM UI and see that there's a
[code]
when we list those packages.

This is achieved with an extensibility point that allows other "alternative" managers to talk to NuGet and advertise if they're the preferred option for those packages.
Code [here.](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.PackageManagement.UI/Models/Alternati

[2018-02-28 07:32] nkolev92 commented on #4125
I'm glad the MsBuildSDK got brought up here, because I personally believe that's the correct approach for pure build time dependencies.
One advantage of MSBuildSDKs is that they allow the author to participate in restore itself, unlike the build folder in regular dependency nupkgs.

It seems very dirty to allow package authors loose control over the transitivity flow of their own package.
It's jus

[2018-02-28 07:45] xen2 opened #6624 "Extra files (i.e. build targets) and ProjectReference"
I have a .nupkg that has a `build\LibraryA.targets` file. This works fine when used as a nuget package.
I did it by adding this to the `LibraryA.csproj`:
[code]

This works fine when used as a NuGet package.
However, I also use this project as a `ProjectReference` from `LibraryB`. I assumed the `ProjectReference`/`PackageReference` duality would make it work, but it doesn't seem to pick up the tar

[2018-02-28 09:03] conficient commented on #4491
So.. it's Feb 2018 and this issue has been open for over a year and still no fix? .NET core and .NET standard are second-class citizens it seems.

[2018-02-28 10:19] henkmollema commented on #3580
Woops

[2018-02-28 10:42] uchytma commented on #3324
Are you fucking kidding me? Still not fixed?

[2018-02-28 12:17] mgj commented on #6468
Im still seeing this in VS Pro 15.5.7

Previously a random sequence of dark arts (removing nuget cache, bin, obj and packages folders, running as administrator) has worked for me, but this no longer seems to be enough - Im still seeing the issue when updating Xamarin.Forms

[2018-02-28 13:57] erikaspl commented on #5350
removing project from the solution and adding it back resolved this issue for me

[2018-02-28 17:20] joelverhagen opened #6625 "PackageReference projects cannot find SemVer 2.0.0 packages"
It looks there are two `FindPackagesById` code paths:

Incorrect:
https://github.com/NuGet/NuGet.Client/blob/9f5c5b0a93eff691e3300605418b620f6c7991fc/src/NuGet.Core/NuGet.Protocol/RemoteRepositories/RemoteV2FindPackageByIdResource.cs#L345

Correct:
https://github.com/NuGet/NuGet.Client/blob/9f5c5b0a93eff691e3300605418b620f6c7991fc/src/NuGet.Core/NuGet.Protocol/LegacyFeed/V2FeedQueryBuilder.cs#L36

[2018-02-28 17:22] joelverhagen commented on #6625
This was discovered via a customer report on NuGet.Server: https://github.com/NuGet/NuGetGallery/issues/5528

They found it using latest .NET CLI.

[2018-02-28 17:55] bjthomson opened #6626 "Failed to initialize the powershell host"
Not sure if this is related to https://github.com/NuGet/Home/issues/974
NuGet product used  VS UI | Package Manager Console:

C:\Program Files\PackageManagement\ProviderAssemblies\nuget\2.8.5.208

Visual Studio 15.5.7 (But problem started a month ago, before last two updates)

Machine spec:
Win10 Pro 1709 build 16299.248
64Bit
Machine is not on a domain

Worked before? If so, with which NuGet vers

[2018-02-28 18:23] nkolev92 commented on #6615
Likely fixed by https://github.com/NuGet/NuGet.Client/pull/2054.

Leaving open until P7 gets released.

[2018-02-28 19:59] dtivel commented on #6616
The issue has nothing to do with revocation.

The issue is that the sign command's certificate finding utility ignores untrusted certificates [here](https://github.com/NuGet/NuGet.Client/blob/74393a4d8e949cb81dc7f5a42703c1e451f5c403/src/NuGet.Core/NuGet.Commands/SignCommand/CertificateProvider.cs#L142) and [here](https://github.com/NuGet/NuGet.Client/blob/74393a4d8e949cb81dc7f5a42703c1e451f5c403/s

[2018-02-28 20:28] cwrea commented on #6468
I am able to update packages one-by-one, ignoring dependencies as @Bloodday suggested, but the problem still occurs: `"This collection is read-only"`. **And yet**, right after the problem occurring for each single package update, I can click "Update" again for the same package, and *then* it succeeds. It's tedious, but I got my packages updated, one by one, each failing, and each then succeeding o

[2018-02-28 20:28] gwalschl commented on #912
Any movement towards a solution on this issue?

[2018-02-28 21:42] siebigteroth commented on #6468
@cwrea Thanks. That did the trick for me! :-)

For installing Xamarin.Firebase.Messaging (60.1142.0), I had to install the dependencies first:
- Xamarin.GooglePlayServices.Basement (= 60.1142.0)
- Xamarin.Firebase.Common (= 60.1142.0)
- Xamarin.Firebase.Iid (= 60.1142.0)

After that, the first try of clicking "Install" for the Xamarin.Firebase.Messaging package failed with "This collection is read

[2018-02-28 22:16] cgountanis commented on #4190
Still having this issue with the latest SDK.

Error when adding the tools via NUGET as well. Right now we have to add that line manually to do migrations etc...

`<DotNetCliToolReference Include="Microsoft.EntityFrameworkCore.Tools.DotNet" Version="2.0.1" />`

How are people using EF in CORE without this working?

[2018-02-28 23:04] MisinformedDNA commented on #4190
Because we are doing it manually as well. It's annoying, but it shouldn't block you.

[2018-03-01 02:43] GKBelmonte commented on #6614
bump?

[2018-03-01 05:41] nkolev92 commented on #6610
/cc
@PatoBeltran @dtivel @zhili1208

[2018-03-01 05:56] nkolev92 commented on #6604
What are you trying to build here?
Only the core NuGet libraries are cross-plat. The whole NuGet product is not cross-plat.
So the prerequisites are correct.

While some components are cross-plat, developing for NuGet cross-plat is not a common scenario.

If you look into the build.ps1 that builds our libraries, you will see that in the end it just calls msbuild on the build proj.
So as long you h

[2018-03-01 06:51] atsushieno commented on #6604
I am trying to build the console client.

At least there is something that is built within this repository for Linux, otherwise the git history for `build.sh` doesn't make sense: https://github.com/NuGet/NuGet.Client/commits/dev/build.sh

That is "true", but we are not trying to build "dotnet" xplat libraries. NuGet is not only about dotnet (core). We restore NuGet packages for Xamarin.Android SDK

[2018-03-01 07:24] rohit21agrawal commented on #4491
@conficient it's not that .NET Core and .NET Standard are second-class citizens, they have first class support for packing through dotnet.exe, msbuild and VS.

[2018-03-01 09:08] v-luzh opened #6627 "[Test Failure][Signing] Package was changed when timestamp signing certificate does not satisfy certificate requirements"
## Details about Problem
NuGet Version: Dev 4969
VS Version: D15.7 27427.00
OS Version: RS3_Release 16299.15.170928-1534
Note: It doesn’t repro on D15.6 27427.00 + NuGet Client Release-4.6.0-RTM 4964.

## Detailed repro steps so we can see the same problem
1.	Create a new package.
2.	Create a new test certificate:  .\CreateTestCertificate.ps1 –AddAsTrustedRootAuthority.
3.	Sign the package:  NuGet

[2018-03-01 10:49] pauldiston opened #6628 "Version number not getting picked up from AssemblyInfo.cs for Android project"
NuGet product used: NuGet.exe

NuGet version: 4.5.1 and 4.6.0

Worked before? If so, with which NuGet version: 2.8.2

1. Use NuGet pack against an Android project
2. Version number of output nupkg is 1.0.0 however the version number in the AssemblyInfo.cs is 1.1.0.0
3. The same command against an iOS project does output the correct version number for the nupkg
4. I have tried on both 4.5.1 and 4.6

[2018-03-01 11:08] pauldiston commented on #6628
I have found the following thread which resolves the issue :-
[https://forums.xamarin.com/discussion/48765/how-do-i-automatically-version-xamarin-android-library-projects](url)
I had to copy the appropriate version of Mono.Android.dll to the \bin\Debug folder so that the AssemblyInfo.cs could be read successfully.

[2018-03-01 11:08] #6628 closed, assigned to nobody

[2018-03-01 15:57] nwoolls commented on #6625
Just tried this with 2.1 preview 1 and still see the issue there FYI.

[2018-03-01 16:15] rrelyea commented on #6625
Yes, we plan to fix this for vs2017 15.7/netcore 2.1.
If @joelverhagen cannot afford to do it this week or next week, we'll try to do it in our third week (bug fixing/stabilization) of this sprint.

[2018-03-01 16:17] rrelyea commented on #6627
@PatoBeltran - is this related to the fixes you were working on yesterday?
/cc @dtivel

[2018-03-01 16:17] #6616 closed, assigned to dtivel

[2018-03-01 16:31] rido-min commented on #6498
Main pages created in https://github.com/NuGet/docs.microsoft.com-nuget/commit/43179234b0544b5c68fc026ef2e45e79a33427b6

CLI referece and Errors/Warnings assigned to @dtivel

[2018-03-01 16:49] joelverhagen commented on #6625
@rrelyea, PR is out. Minimal fix. We should do some refactoring in this area to reduce the chance of this kind of thing happening again... there are basically two implementations of calling `FindPackagesById()`. I made them share the URL building part.

[2018-03-01 17:08] rido-min commented on #6426
We are simplifying the different modes, instead of 3: Dev, Secure, Strict we will reduce it to two: Dev and Strict.

Thinking on the names, I'm proposing to use:

**AcceptSignedPackages**. This mode will allow unsigned packages, if any signature is found it will try to verify. If the verification does not succeed it will install as unsigned unless there is a critical event like content tampered or

[2018-03-01 17:41] KathleenDollard opened #6629 "Provide cross platform API for downloading"
NuGet.exe (Core)

`dotnet install tool` is using a temp project to download packages from NuGet because there isn't a .NET Core client that can do this.

We have found it difficult to hide this detail (hack) within the user experience (see https://github.com/dotnet/cli/issues/8707 for example).

It would be great to remove the temporary project in the near-ish future (sometime after 2.1.300) and e

[2018-03-01 17:48] KathleenDollard opened #6630 "Alternate language for NU1212"
And example of the current text for error NU1212:

[code]

This text appears when a user incorrectly attempts to install an old style tool with the new experience. This is likely to occur and the message is not helpful.

Can we adjust this language to something like:

[code]

@natemcmaster for opinion on this text

[2018-03-01 18:02] natemcmaster commented on #6630
I think you could drop the part of the error that says "For example, this package can't be used with "dotnet install tool -g".

[2018-03-01 18:37] KathleenDollard commented on #6630
OK, I'm good with dropping that clause as @natemcmaster suggests. It does feel a bit funny, I was just going for clarity in the context we'll use it.

[2018-03-01 19:01] #6559 closed, assigned to nkolev92

[2018-03-01 19:10] nkolev92 commented on #6604
That script is used for testing .NET Core libraries only.
NuGet.exe was never built cross-plat.

Can you please clarify why are you trying to build nuget.exe cross-plat?
What benefit would you get from it?

[2018-03-01 19:21] nkolev92 commented on #6630
The message is such, because it's used for both the case when a tool package is added to a regular package reference project, and the case when a non-tool package is attempted to be restored as a tool.

I'll look into how I can change it.

[2018-03-01 19:28] nkolev92 commented on #6629
Duplicate of https://github.com/NuGet/Home/issues/5919.
It got de-prioritized at some point.

Compatibility checking would be a challenge here.
Not going to be straightforward to make the proj go away.

Now that I understand the background better, I'll look into https://github.com/NuGet/Home/issues/6630  to clean it up.

[2018-03-01 19:28] #6629 closed, assigned to nobody

[2018-03-01 19:54] wli3 commented on #5919
To support dotnetTool, this API should be able to

1. filter TFM, RID for tool package type
2. allow Microsoft.NETCore.Platforms to be added
3. additional feed etc.
...
...

There has been a lot of work done for restore target. I feel the requirement moved further than a cross plat `nuget.exe install` to an msbuild restore target or equivalent API that don't need a temp project.

@nkolev92 @Kathle

[2018-03-01 20:01] wli3 commented on #5919
If restore target eventually call a c# API. Edit + Expose such API maybe better. So CLI can have a proper exception object and don't need to deal with text stream. @peterhuene  @livarcocc

[2018-03-01 20:27] nkolev92 commented on #5919
@wli3 As I mentioned in the other issue, I'm not sure this is the appropriate direction for the dotnet tools.

I'm not a fan of expanding the scope of a "download API", to fit reqs that specifically require restore. (compat checking, runtime graph eval)
This API is not supposed to replace restore.

The C# API thing is a also a tricky one, because that'd effectively introduce a new public surface a

[2018-03-01 20:52] anangaur opened #6631 "NuGet package manager should display 'Owner' field for NuGet.org packages"
Author being a free text field is often misused and causes confusion to the developers consuming packages. The proposal is to show the owner information in PM UI when the information is available from the feed/repository like NuGet.org.

[2018-03-01 21:08] #6627 closed, assigned to nobody

[2018-03-01 21:17] rohit21agrawal opened #6632 "add the complete validation set in pc -> pr migrator"
this will piggyback on work done in https://github.com/NuGet/NuGet.Client/pull/2063 and https://github.com/NuGet/NuGet.Client/pull/2013 to throw the appropriate warning to the consumer of the package.

[2018-03-01 21:22] livarcocc opened #6633 "Create packages with multiple RuntimeIdentifiers cross-platform build"
_From @xen2 on March 1, 2018 2:9_

Using `<TargetFrameworks>` results in multiple builds and is properly supported by NuGet pack (`lib/<tfm>`) and Visual Studio.

However, `<RuntimeIdentifiers>` doesn't seem to have much impact except for package consumption.
I was expecting to also be able to create such NuGet packages, with `runtimes/<runtime>/lib/<tfm>` folders.

For the use case, I would like

[2018-03-01 21:22] livarcocc commented on #6633
pack is actually maintained by NuGet. I will move this to nuget/home to see if we can get a better answer regarding when this can be supported.

[2018-03-01 21:45] mhutch opened #6634 "NuGet 4.6 fails when verifying signed packages on Mono"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet 4.6 preview 3.
Mono 5.10 / macOS

Repro and output:

[code]

This also affects restoring msbuild packages, as the MSBuild NuGet restore targets used in Mono 5.10 use NuGet 4.6:

Project:

[code]

Restore output:

[code]

[2018-03-01 23:53] clairernovotny commented on #6631
Better yet, it should be showing the CN off of a signed package if signed. I'd even say instead of the owner as a more authoritative verification. That also works regardless of package source.

The GUI's and NuGet.org should have it.

[2018-03-02 00:02] anangaur commented on #6631
@onovotny Makes sense. We have been discussing this since signing was incubated. But it also adds to the confusion as to what is shown. I was thinking to have an account setting to have a **Display name** that can be a CN from the registered certificates.
/cc: @rido-min who is really passionate about this change. :)

[2018-03-02 00:08] rido-min commented on #6631
With repository signatures we could show the owners included in the signature metadata.

[2018-03-02 00:12] clairernovotny commented on #6631
Is there a value in owners, even in signature metadata? I would think there is value in showing a CA-vetted identity prominently.

[2018-03-02 00:22] rido-min commented on #6631
We'd need to revisit the decision to have different UI for signed vs. unsinged packages.

[2018-03-02 00:25] define-private-public commented on #6613
Okay, I've figured out how to make this issue a bit better, if I set `Copy Local` to `true`, then this mitigates the issue.  Is there some way that I can have this automatically happen for my users of `SharpCamera`?

[2018-03-02 00:35] rohit21agrawal opened #6635 "restrict availability of migrator to only supported projects"
We know for sure that certain projects won't work (like any web project, c++ etc). the migrate option should not be shown for these kind of projects.

[2018-03-02 00:59] clairernovotny commented on #6631
@rido-min you know where I stand on that and always happy to participate in any conversation around that topic :)

[2018-03-02 01:06] anangaur commented on #6631
The topic beaten to death but i see no harm in showing that a package has been signed by an entity in the details page on the PM UI. This is package property - needs to show up somewhere?

[2018-03-02 01:10] clairernovotny commented on #6631
@anangaur I would expect the following behavior --

CN show up in the search results to help differentiate a bogus package from a real one. In that context, the package isn't downloaded, so I'd expect the search result endpoint to provide that extracted information. It could then download the public cert "just in time" upon request to show in the UI (on click).

Showing it in the details portion i

[2018-03-02 01:18] rido-min commented on #6631
that's the issue, since being signed does not mean being "safe". We got feedback from everyone that we should not made any UI distinction on signed vs. unsigned.

[2018-03-02 01:20] anangaur commented on #6631
I see where the discussion is going.. again.. :) - that's why I mentioned:

[2018-03-02 06:37] myclau commented on #3891
if the project reference are more than 2 levels , it is really mess that need to know what dll need to be included and add it to each level .csproj manually . really hope it have a solution soon.

[2018-03-02 06:48] maartenba commented on #6486
Just an FYI: this already works cross-platform with JetBrains Rider's last preview version - www.jetbrains.com/rider/eap and with the existing plugin model, so wondering what work is left to do here other than hooking up a different executable to prompt for credentials?

[2018-03-02 06:50] Troncek commented on #3891
If you do dotnet publish on a project, it will include all the reference dlls in the publish folder. You can then package these into a nuget package manually somehow.

But it's not ideal.

[2018-03-02 09:15] clairernovotny commented on #6631
Let's talk next week. Code signing is not about safe, and but it is about identity and establishing trust.

Sent from a mobile device, please excuse brevity and typos
________________________________
From: Anand Gaurav <notifications@github.com>
Sent: Thursday, March 1, 2018 8:20:57 PM
To: NuGet/Home
Cc: Oren Novotny; Mention
Subject: Re: [NuGet/Home] NuGet package manager should display 'Owner' f

[2018-03-02 15:20] mihail-shishkov commented on #5805
I have a private nuget server setup just for our company. We have a small number (~20) of internal nuget packages with common functionality that are shared across multiple projects. Sometimes we may change/update a nuget package 10 times for a single day. Pushing the nuget to the server takes 2 3 seconds. Then updating a solution with (~30) projects takes a lot of time and gets frustrating.

[2018-03-02 15:34] cezarypiatek commented on #5805
I observed that the issue disappeared with new csproj format. I made a simple test: I created a empty library in old csproj format and installing single package took few minutes. The same test but with new csproj project - the package was installed immediately.

[2018-03-02 16:44] bricelam commented on #4190
Here are the docs on [how to install the EF Core tools](https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/dotnet#installing-the-tools). (manually)

[2018-03-02 17:27] livarcocc opened #6636 "dotnet pack with nuspec file does not set PackageVersion from csproj"
_From @maciejjarzynski on March 2, 2018 9:49_

## Steps to reproduce
When running `dotnet pack` on the project which also has `.nuspec` file specified, and the version is being set only in `.csproj` `PackageVersion` setting, while in `nuspec` it is a variable `$version$`, it fails to create package.

Csproj:
[code]

Nuspec:
[code]
Command to run:
`dotnet pack`

## Expected  behavior
Creating packa

[2018-03-02 17:27] livarcocc commented on #6636
@rohit21agrawal If this is something that the SDK should be setting but it is not, then please, comment and re-activate the original issue.

[2018-03-02 19:15] nkolev92 commented on #6633
@rohit21agrawal Thoughts?

[2018-03-02 19:24] rohit21agrawal commented on #6633
would definitely love to design this scenario. so far there hasn't been much need for this, but looks like that's changed now. Let's schedule some time to discuss and design this.

[2018-03-02 19:32] nkolev92 commented on #6614
This is a known design flaw of packages.config, and unfortunately there's not much you can do.

For that reason, we've spent the last few years developing [PackageReference](https://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html)

Consider trying that out and give us any feedback.
More docs [here](https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-p

[2018-03-02 19:32] #6614 closed, assigned to nobody

[2018-03-02 19:36] GKBelmonte commented on #6614
It appears to me that this is package authoring problem, not a restore problem. The package author should be able to declare what dependencies are private or not (since he knows) and the package consumer able to override these.
I understand PackageReference can be used to pretend all dependencies are private, but that depends on the package itself and how it was authored not how it is consumed.

[2018-03-02 19:38] nkolev92 commented on #6626
This is a known powershell issue, duplicate of https://github.com/NuGet/Home/issues/6584.

Workarounds/solutions discussed here:
https://stackoverflow.com/questions/12638289/embedding-powershell-v2-0-in-net-app-on-windows-8-rtm

Related:
https://docs.microsoft.com/en-us/nuget/release-notes/known-issues#opening-package-manager-console-fails-with-objectsecurity-exception

[2018-03-02 19:38] #6626 closed, assigned to nobody

[2018-03-02 19:48] nkolev92 commented on #6614
I don't think I follow here.

What's the difference between a public and a private dependency?

NuGet doesn't really have that concept once the nupkg is built.
Once the nupkg is built, only the concept of dependencies is relevant.

[2018-03-02 20:40] nkolev92 commented on #6611
You should never need to do -Reinstall in PackageReference.
That concept is rendered moot, because package elements are not part of the project file.
The restore/install actions are equivalent in package reference.

In Package Reference this has not implemented because it's not relevant.

Duplicate of https://github.com/NuGet/Home/issues/6088.

Note, that I was not able to repro this in packages.c

[2018-03-02 20:40] #6611 closed, assigned to nobody

[2018-03-02 20:45] diegoleao commented on #6468
The only thing that worked for me was to create a new project and add each dependency with NuGet, noticing what went wrong each time, and solving it before moving on. I then had a working csproject with no files, so I added them from the old project, until it worked.

Was stuck for a full day, so this was the only option for me.

[2018-03-02 20:48] nkolev92 commented on #6088
There was another customer report here.

The "reinstall" flag is only there because of all the issues people ran into when running installs.
Scripts execution/dll analysis, binding redirects application, could all lead to a broken state.

In Package Reference that's not the case.
The *need* for this feature is simply not there.
The concept of reinstall is not there, because the installs and restor

[2018-03-02 20:57] rmsutton commented on #5800
Seems like the fix was put in but I am not seeing the changes in 0.2.2. When is this being pushed?

[2018-03-02 21:07] EricDahlvang commented on #3320
+1

I installed NuGet version 4.5.1 and this issue is still occurring.  Error Condition lines are not removed from .csproj under EnsureNuGetPackageBuildImports for previous .props package references.  Currently, the only solution I've found is to manually remove these lines.  Is there any way to to have NuGet.exe removing the old package reference lines from the .csproj file while updating package

[2018-03-02 21:10] bchavez commented on #6088
For what it's worth I'm with totally with @karann-msft on this one.

Make it explicit that `-Reinstall` doesn't work for a PR project and have the user do something else or make it work like it did before. IE: in a PR project, `-Reinstall` would blow out all the `obj\*g.props/targets` and `obj\project.*.json` and rewire the package references from the global packages folder and download them if th

[2018-03-02 21:36] anangaur commented on #6486
That’s good to know. Just curious: are you using a cross plat (.NET Core) credential provider or different versions for different platforms?
This workitem is to make the current (VSTS) credential provider work for all the platforms with VS, dotnet.exe and msbuild.exe. In addition, we would also be exploring ways to make the plugin model with NuGet better.
We plan to publish the spec soon.

[2018-03-02 21:42] dtivel opened #6637 "Signing: verify command usage examples incorrect"
`NuGet.exe verify` output includes:

[code]

* `-Signer` option should be `-CertificateFingerprint`
* Fingerprint examples are not SHA-256 hashes.
* Incorrect spacing in a few places

[2018-03-02 21:51] GKBelmonte commented on #6614
Hi,
I added reference to an explanation in my original post ([private vs public](https://answers.unrealengine.com/questions/225405/public-and-private-dependency-modules.html)).

In a nutshell, public dependencies are exposed through public API, private dependencies are not.

e.g.:

As a Package author, I know (or should know) which of my dependencies are public (exposed to my clients) and which ar

[2018-03-02 22:22] nkolev92 commented on #6088
@bchavez The not updating a version number if -Reinstall is passed is a hole because the -Reinstall flag is completely ignored.

As I mentioned in my previous comment.
What you're articulating is literally just a restore.
Restore will blow out the assets file if it needs changed.

The zipping up a project, and extracting in a different directory scenario, whenever you run restore again, that'll up

[2018-03-02 22:22] allenbrooks55 commented on #6129
I'm having the same issue as @henderjj except I'm using VS2017 15.5.7. The repo syncs with the repo in VSTS successfully, but in my NuGet Pack build step, I continually get an error that it can't find the project's dll and to make sure the project has been built.

[2018-03-02 22:27] anangaur commented on #6088
I need an option to re-download the package into Global packages directory. I am just thinking may be `-Reinstall` does that?

[2018-03-02 22:40] nkolev92 commented on #6088
I think the question there is "why" do you need to do that.

I'd say we want to design for thescenario (local package dev testing would is restricted on the "refreshing" of global packages folder, even there though we'd look for a way to not re-download everything).

The Update-Package -reinstall is very much a "this project" command.
It was a big hammer to hide all the flaws with the design, not

[2018-03-02 23:01] nkolev92 commented on #6614
NuGet does not have a concept of public/private dependencies.

When you have a project, you can decide whether the dependencies of your project are build time or runtime by playing with the metadata of the package declaration.

developmentDependency=true in packages.config
PrivateAssets=All, ExcludeAssets=runtime in Package Reference.

If you're using a library, there's no way to prevent the consu

[2018-03-03 00:02] nkolev92 commented on #6613
Hey @define-private-public thanks for creatring this issue.

I was unable to reproduce this. Can you please provide a full repro?
Both packages and an example csproj would be great.

Thanks.

[2018-03-03 00:03] AArnott opened #6638 "Cannot sign a nupkg because the Pack target leaves the file locked"
I'm trying to sign a nupkg and it fails to modify the file because the file is evidently open somewhere with a write lock. I verified this by writing an MSBuild Task that runs after the Pack target and tries to _move_ the nupkg file, and the build fails with this output:

[code]

Does the NuGet pack task not close file handles appropriately?

[Build log](https://devdiv-test.visualstudio.com/DevDiv

[2018-03-03 00:13] AArnott commented on #6638
BTW, this may be a non-deterministic problem. I just had a successful build after two failures.
If the Pack task is leaking file handles though, it makes sense that a non-deterministically scheduled finalizer would close the handle. So the bug may be to close your FileStream before returning from your MSBuild Task.Execute method.

[2018-03-03 00:22] AArnott commented on #6638
The next attempt failed so we have 3 out of 4 builds failed with this.

[2018-03-03 00:26] nkolev92 commented on #6638
I thought there'll be an extra microbuild task to sign with?

//cc
@dtivel @PatoBeltran @rohit21agrawal

[2018-03-03 00:27] AArnott commented on #6638
There is. I'm writing it. And can't publish it because it leads to build failures due to this locking issue.

[2018-03-03 00:28] #6585 closed, assigned to nobody

[2018-03-03 00:28] AArnott commented on #6638
BTW this doesn't repro for me locally. So I wonder if this may have already been fixed in 15.6? The cloud build machines that repro the lock issue are running 15.5.

[2018-03-03 00:38] nkolev92 commented on #6638
I think you might be hitting https://github.com/NuGet/Home/issues/6165 fixed by https://github.com/NuGet/NuGet.Client/pull/1808.

[2018-03-03 00:45] nkolev92 commented on #6597
Can you provide a full package + project repro here?

What kind of project are you trying to install your package into?

NuGet does not do the copying of these files, it's up to the build targets to do it.
For ex. UWP has some issues where contentFiles are both copied flat and non-flattened.

[2018-03-03 00:45] AArnott commented on #6638
Thanks, @nkolev92. That seems very likely. What version of .... something... do I have to update the build agents to in order to get this fix?

[2018-03-03 00:48] nkolev92 commented on #6638
15.6 has this fix.

Yeah, updating the build agents would be the best option.

Would that work?

[2018-03-03 00:48] AArnott commented on #6638
MicroBuild agents usually don't update till at least a week after RTW for a given release. Is there a nuget package carrying an SDK that we can reference in the interim, perhaps?

[2018-03-03 00:52] rohit21agrawal commented on #6638
I believe NuGet.org has a vesion of NuGet.Build.Tasks.Pack (the latest one) which carries this fix .

[2018-03-03 00:55] nkolev92 commented on #6638
I recently published the matching version of the pack targets that go into the CLI.

https://www.nuget.org/packages/NuGet.Build.Tasks.Pack/4.6.0-rtm-4825

[2018-03-03 01:25] AArnott commented on #6638
Sweet. @nkolev92  Is it as simple as referencing that package, or do I have to set any special property to activate the Tasks defined within that package?

[2018-03-03 01:27] nkolev92 commented on #6638
Just referencing the package should do the trick.

[2018-03-03 01:29] AArnott commented on #6638
Awesome. Thanks.

[2018-03-03 01:46] nkolev92 commented on #6624
This doesn't look like it's supported.

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Commands/RestoreCommand/Utility/LockFileUtils.cs#L518-L534

It'd be very hard for restore to know if a build target is going to be part of a potential package.

Don't really have any ideas/pointers here.
//cc
@rohit21agrawal @zhili1208 for ideas.

[2018-03-03 01:48] nkolev92 commented on #6638
Closing this as duplicate of #6165

[2018-03-03 01:48] #6638 closed, assigned to nobody

[2018-03-03 01:49] GKBelmonte commented on #6614
Hey,

Thanks for getting back to me.

I understand that if my project A requires a package B, I can say whether my package B is a build-time or run-time dependency, so that if its build-time, it's excluded from the output.

The problem is that the concept of public v. private is missing, so if I have a reference on a package A that depends (at runtime) on package B, not only do I get package B (as

[2018-03-03 01:53] xen2 commented on #6633
Thanks for considering it!

I have a bunch of other issues/use cases I would need solved before we could switch our custom build system to vanilla NuGet.
I will open a meta issue regrouping them.

[2018-03-03 02:41] rrelyea commented on #6638
Great stuff. Thanks Andrew and Nikolche.

[2018-03-03 06:14] nkolev92 commented on #6614
I get your example.
As far as I'm aware, it's just not possible to do in .NET.

It's definitely not something that NuGet standalone can provide.

[2018-03-03 07:01] sharwell commented on #6104
@diverdan92 I like the idea in theory, but I wouldn't want to publish two packages with different names. With the work to improve symbol navigation and debugging experiences, non-optimized binaries will be as important to this feature as PDBs, sources, and "snupkg".

[2018-03-03 13:15] StingyJack commented on #6438
@PatoBeltran - The thing I'm talking about is a default task from TFS 2015.

And I dont need more information about this warning on screen, I need the warning to not display at all.

[2018-03-03 13:47] StingyJack commented on #6579
HintPath's get broken by trying to use this unless you can get everyone to use the same local folder path,

The way I figured out to get around this OP issue in development was to use a powershell script to build the package I'm testing. It takes the current [epoch](https://msdn.microsoft.com/en-us/library/system.datetimeoffset.tounixtimeseconds(v=vs.110).aspx), splits it in about half, and suppli

[2018-03-03 14:14] jnm2 commented on #6104
Non-optimized binaries- hmm. But then there's the danger that the debug binaries have different behavior, so stepping into source of such a library would make a new kind of heisenbug possible.

[2018-03-03 17:30] dotMorten commented on #5715
I think some of this is not just compiler but also nuget. For instance if the indirectly referenced package has a .targets file that xcopy deploys native binaries, that target file isn't run, and thus you get a runtime error because the p/invoke call fails with MethodNotFoundException (typical usecase is sub-pacakages for each platform that contain the native libs, so for instance a desktop dev do

[2018-03-03 19:59] GKBelmonte commented on #6614
Hello,

If you are in the old project format, .NET Framework (old .csproj) and earlier, you have to add the reference to a transitive public reference manually.

This means the default (and only) behaviour for .NET framework is to treat all dependencies as private (no transitive dependency).
If this happens for NuGet, it's because the dependencies are treated as public by default and NuGet manuall

[2018-03-03 22:19] mungojam commented on #6104
@jnm2 occasionally that could cause a problem but the vast majority of our cases we are either debugging in order to:

a. Better understand the behaviour of a package we are using
b. Diagnose a regular bug that's present in release or debug mode

In both these cases, it's far better to be able to debug through non-optimised code, same way as code maps in JS allow people to debug through non-minifi

[2018-03-03 22:23] mungojam commented on #5715
Yeah, I think it's nuget too now. Or improved VS tooling in my case could help. Your issue sounds a bit different to mine, and I think I have seen yours targeted in another issue where they concluded that the default behaviour should be different but it was too late to change it now.

[2018-03-03 22:37] jnm2 commented on #6104
I think with JS code maps, it's still the minified code which is executed and the debugger positions are merely mapped to the original source. Looking it up seems to confirm this? In any case, I'd want the *option* to step through the release binary and source. Imagine stepping through this code:

[code]

I don't want to be forced to step into every `#if DEBUG` section and prevented from stepping

[2018-03-03 22:59] dazinator commented on #5132
It seems I have logged a similar issue here: https://github.com/Microsoft/msbuild/issues/3044

What is the outcome of this?

[2018-03-04 11:45] mungojam commented on #6104
Yeah, I guess with JS the difference is that presumably there is no optimisation going on in the minification so both our desires are satisfied by it's behaviour.

You're right, I'd want an easy way to switch between the behaviours which is another argument for something built in.

It could be achieved manually by having a third build configuration that had debug flag set at top level but pulled i

[2018-03-04 16:22] define-private-public commented on #6613
Hi,

I can't seem to repro the issue. I may have bumped something or had a snag somewhere else.  I'm sorry for not double checking this in a clean solution.

[2018-03-04 16:22] #6613 closed, assigned to nobody

[2018-03-04 18:05] jdnichollsc commented on #6138
Same issue here:
[code]

Let me know what you think guys, thanks in advance!

[2018-03-04 20:28] NasAmin commented on #5602
This would be a great feature for nuget to support CI/CD workflows. Is there any ETA on when this feature will be available?

[2018-03-04 22:00] gregmac commented on #4628
There's a related issue on the gallery project about [license policy](https://github.com/NuGet/NuGetGallery/issues/2688) (which maybe should be here, or partly merged with this issue).

The main part of it is to be clear about commercially-licensed packages, and ensure there's a clear license link defined -- or simply ban them altogether from nuget.org.

The other part about requiring a project li

[2018-03-05 01:58] iiq374 commented on #5895
The Choose/When workaround works, though I wonder if this is going to be the official way to do it, or will there be an update to simply utilize the Condition attribute on the element itself?

It's strange that Choose/When w/ Condition works but just a Condition on ItemGroup or PackageReference does not work.

[2018-03-05 06:13] nkolev92 commented on #6579
My comment about the usage of the global packages folder is meant for Package Reference.

The global package folder is the de facto installation directory for PR, while in Packages.Config it's merely used as another source.
The packages.config packages folder works differently as it's only used by the current project.

packages.config is fundamentally broken for the above scenario because of hint

[2018-03-05 06:14] nkolev92 commented on #6613
@define-private-public
No worries, happy it's working fine for you now.

Thanks for getting back to us.

[2018-03-05 06:31] nkolev92 commented on #6614
PrivateAssets is used for dependency flow.

If you have a package that's marked with private assets it merely prevents it from flowing to parent project or getting packed.

For example, I'm developing
[code]
and the dependencies for the project are:
[code]

then when you pack that package, in the dependencies section you will only see package A. as per https://github.com/NuGet/Home/issues/5455.

S

[2018-03-05 11:58] xen2 opened #6639 "NuGetPackageManager: PathResolver is stuck with v2 folder structure"
Using `NuGetPackageManager` with `GlobalPackagesFolder`, packages installs but it seems to do so in the wrong folder.

It internally uses`PackagePathResolver` which is using V2 format, so it sometimes extract packages in the wrong folder.
I say sometimes, because if package is downloaded or from a local source, the result is different.

Shouldn't `NuGetPackageManager` use a customizable `PackagePa

[2018-03-05 12:41] xen2 commented on #6639
It also doesn't extract the `nupkg.sha512` and `nuspec` file.

I am wondering if I shouldn't use `GlobalPackagesFolderUtility` instead, but it won't handle dependencies & such automatically like `NuGetPackageManager` does.

[2018-03-05 12:46] xen2 commented on #6639
Closing issue for now, investigating NuGet little bit more...

[2018-03-05 12:46] #6639 closed, assigned to nobody

[2018-03-05 13:50] StingyJack commented on #6579
The content in packages.config cannot really be materially different from package ref.  How its implemented in VS/Nuget is what is creating the incorrect hint paths, etc.  Why you bothered with that file and created additional work instead of just addressing the hint pathing is still a mystery to me, but it seems no amount or delivery manner for feedback makes a lick of difference. Nevertheless, h

[2018-03-05 14:01] StingyJack commented on #6570
@PureKrome - I'm pretty sure they hate dealing with me at this point, and just auto-close my issues. Its not like I want to sit around all day doing testing for them, these things come up and block my work until I can get around them. And there are a [lot of them](https://github.com/StingyJack/DevCommIssueScraper/raw/master/doc/issue_list_example.png?raw=true).

[2018-03-05 14:06] StingyJack commented on #6553
@rhyous - I've had to use powershell scripts to handle bulk changes to project files. Have you tried this route?

[2018-03-05 14:08] bjthomson commented on #6626
Yes, I got here (nuGet) by following the links in those posts. I tried all of the suggestions, without success.
The first link concerns Windows 8 and VS2015
Fair enough this is a duplicate, its still a bug.

[2018-03-05 14:20] rhyous commented on #6553
Actually, yes. Not powershell, but I wrote a quick exe in C# that uses Regex to just replace the version numbers in all csproj and package.config files. I need to update it to do web.configs as well as they sometimes have versions too. Then there are other packages that create their own files that are problematic.

[2018-03-05 19:29] #6637 closed, assigned to dtivel

[2018-03-05 19:36] nkolev92 commented on #6579
The hint paths are a bad design, it's as simple as that. Creates a lot of management overhead and it's very error prone. That's why package.config is not a priority for the future.

That's what this issue is for.
Improving that workflow.

That's exactly how Package Reference works. You can call it default if you will.
There's always one global packages folder, that's a common thing among package m

[2018-03-05 19:58] thejeff77 commented on #5720
As you can see in the original post, nuget is creating the package from the csproj file which is the recommended approach for this version of nuget, and isn't related to project.json or packages.config per the reason you closed this post.

Can you relate the reason for the original post to the reason you decided to close this defect?

"Attempting to build package from 'FileSystemSDK.csproj'."

[2018-03-05 21:12] rido-min commented on #6499
Changes ready in PR https://github.com/NuGet/docs.microsoft.com-nuget/pull/725/

[2018-03-05 21:35] blimkemann commented on #5805
@cezarypiatek I agree with that. But for old csproj files it is a total nightmare. Figures that Microsoft wants to force us all to use the shiny new stuff by not supporting what we've used for years and (at least a one time) was stable.

[2018-03-05 22:42] TFTomSun opened #6640 "Reference latest version of nuget package using PackageReference msbuild tag"
NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (x.x.x.xxx):
 4.5.0.4685

dotnet.exe --version (if appropriate):

VS version (if appropriate):
15.5.7

OS version (i.e. win10 v1607 (14393.321)):
Windows 10.0.16299 Build 16299

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

I would like to automat

[2018-03-06 00:03] fcavaco commented on #4901
@dasMulli , fine went through that and I am using 2.1.300-preview1-* SDK, nevertheless, it still does not add the tool in the project file as DotNetCliToolReference. talking about dotnet-watch for example. while creating a solution using shell script this forces me to manually edit the csproj file to add that reference still. as someone said before , if the package type is marked as a tool, that s

[2018-03-06 00:55] cclauson opened #6641 "Can NuGet.exe take a RestoreGraphProjectInput list of projects like the MSBuild restore task?"
The MSBuild restore task allows a semicolon separated list of projects to restore to be passed to it (RestoreGraphProjectInput), is there any syntax for passing this to NuGet.exe from the command line?  If not, can I request this feature?

[2018-03-06 02:23] #3308 closed, assigned to rohit21agrawal

[2018-03-06 03:09] yanckst commented on #6578
Hi,

I don't know what kind of NuGet project you're using :

- `PackagesConfigNuGetProject`

- `FolderNuGetProject`

- `MSBuildNuGetProject`

If you're using a `MSBuildNuGetProject`, when you download a package, it adds automatically the appropriate lib file depending your target framework. It will choose the nearest target framework. For using a `MSBuildNuGetProject`, you must implement a lot of

[2018-03-06 07:11] nkolev92 opened #6642 "NuGet credential plugin V2"
[Spec](https://github.com/NuGet/Home/wiki/NuGet-cross-plat-authentication-plugin
)

Parent feature issue: https://github.com/NuGet/Home/issues/6486

- [x] Refactoring of Credential Service/Auth code to prepare for the new plugin architecture.

- [x] https://github.com/NuGet/Home/issues/6699 Enhance the IPC plugin protocol to add auth operation and auth message capabilities.
Related https://github.

[2018-03-06 12:58] rahulkulkarni40 commented on #6266
Hello @emgarten ,
 I have created an MSI file with nuget live graph . Does that MSI works on Windos 7 OS and does live chart created Works on Windows 7 OS please help me out

[2018-03-06 13:55] a-vishar commented on #5881
Am I correct in my understanding here that my options for CI in VSTS to another VSTS authenticated feed:

1. Store User/Password in NuGet.config/VSTS
2. Store PAT in NuGet.Config/VSTS

Hosted build agents don't have PAT which means that the only option for those using hosted agents would be to store and manage their User/Password in either the config file or in VSTS?

Is there a task we can track

[2018-03-06 14:16] GKBelmonte commented on #6614
Hello,
I both understand how PrivateAssets work (that's the point of my example!) and that NuGet doesn't support it for it's dependencies.

My point is that it **should**, since currently this **breaks encapsulation**.

A package author should be able to declare a dependency as **private** or not (just like we can declare a PackageReference or a ProjectReference we can say that they're private).

[2018-03-06 15:51] maartenba commented on #6486
FYI here's the announcement post we did: https://blog.jetbrains.com/dotnet/2018/03/06/credential-providers-private-nuget-feeds-rider-2018-1-eap/

We've plugged into the existing mechanism and are using a cross-platform JVM-based browser window + OAuth flow. Simple interface similar to what NuGet currently has:

[code]

(PS: in building 33 today in case you want to learn more)

[2018-03-06 16:35] vicp-iq commented on #2987
bump.  I'm also experiencing this issue.  My scenario is that I I have a pool of build agents, and I regularly swap new agents into and out of the pool, and I create new agents programatically all the time.  It used to be fine for me to just plop a config file into "C:\Program Files (x86)\NuGet\Config" when the new agent is getting initialized, but now I need to wait for the user account used by t

[2018-03-06 18:07] rido-min opened #6643 "nuget.exe verify -signature is slow"
Validating 48 signed packages, using the same author and timestamp CA certificates took more than 5 minutes.

We expect the OCSP responses are cached at the process level, so the verification should be as fast as calculating the hash and comparing with the signature digest.

[2018-03-06 18:24] qJake commented on #4459
If you're like me and tried this, and it pushed multiple packages, it's because Visual Studio doesn't always clean out old *.nupkg files from the bin folder, and the target above pulls all packages from the build output.

To remedy this, you can use this target: (Release mode only)

[code]

Note that:

* You must define `$(NuGetSourceRelease)` yourself, or replace it with your repo URL (and update

[2018-03-06 19:55] jainaashish commented on #6614
Although `PrivateAssets` isn't supported on dependencies in nuspec file but nuspec file has `include` and `exclude` flags which works similar to `PrivateAssets` and even their values are set as per different flags defined on package reference in project file.

like in your case:

[code]
This will be converted to below code in nuspec file:

[code]

So here exclude=all on MyPrivateDependency means,

[2018-03-07 00:55] dtivel commented on #6634
I get the same error on Windows using the latest NuGet 4.6 client.  Here's output with `-Verbosity Detailed` added:

[code]

[2018-03-07 00:58] nkolev92 opened #6644 "Enhancements for NuGet assets location overriding via BaseIntermediateOutputPath and MsBuildExtensionsPath"
- [ ] We will consider a warning if  `MSBuildProjectsExtensionsPath` and `BaseIntermediateOutputPath` are not equivalent. Consider non-NuGet restore scenarios (meaning only do it in PR potentially)

- [ ] Consider an error if someone is building with RestoreOutputPath set (or using RestoreOutputPath in a restore for build). Consider how dotnet self-contained publish scenarios might affect this.

-

[2018-03-07 10:41] michaeluskov commented on #3078
If you can't find `nuget.exe` location, use this `dotnet` command:

`dotnet nuget locals clear all`

[2018-03-07 12:28] fab421 commented on #6468
- I got the same issue with VS 15.6.0, NuGet 6.4.0, and I am now unable to build my Xamarin solution.
Sorry but my solution include 118 NuGet packages, and it is a little too much to install them one by one. Is there really no other way to solve this ?
-----
Edit : If this could help Xamarin users...

Although the new packages still do not install, I finally could rebuild my solution after some ma

[2018-03-07 18:07] dtivel commented on #6634
Reopening to track 4.6.x fix.  The fix has already been checked into the dev branch (4.7).

[2018-03-07 18:08] yatli opened #6645 "csproj: document how to properly pack platform-specific native assemblies"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): dotnet.exe

dotnet.exe --version (if appropriate): 2.1.4

OS version (i.e. win10 v1607 (14393.321)): win10 v1709 (16299.248)

## Description

We've got rid and tfm specific native assemblies in a package but until very recently I haven't find enough documentation about how to pack them and let

[2018-03-07 18:31] StingyJack commented on #6579
Hint paths are part of the project system and not of nuget or packages.config.  The PackageRef implementation could have used them too, and  instead of fixing the packageCfg implementation to not use them, you all decided to do what is generally the most expensive and disruptive choice in software -
 a total rewrite.

Npm _can_ use a global folder, but I'm not required to do so.  I'm pretty sure B

[2018-03-07 18:32] dangershony commented on #6437
FYI I had to go to `\AppData\Roaming\NuGet\nuget.config` and delete the previous key for the new key to take effect

[2018-03-07 19:17] nkolev92 commented on #6579
Hint paths are hard coded values.
Fixing it is nearly impossible. Only the VS project systems knows how to do these problem, so NuGet will never have a consistent experience when working from commandline.
There's lots of other flaws with the whole approach, merge conflicts etc.
Not to mention that moving projects from 1 location to another is impossible.
The whole concept is fundamentally flawed.

[2018-03-07 19:46] medianick commented on #2987
Same issue here. We're expanding our Jenkins build infrastructure to incorporate dynamically provisioned Azure VMs, and the process of provisioning these from a sysprepped base image causes our list of intentionally chosen/enabled NuGet sources to get disabled, and builds fail.

Unless there's something that can be done to NuGet configuration _prior_ to the sysprep operation that would survive thr

[2018-03-07 20:10] dtivel opened #6646 "Signing: enable removal of repository signature/countersignature"

[2018-03-07 20:35] rrelyea commented on #5880
@SabotageAndi  - this is fixed in NuGet 4.6, which ships with Visual Studio 15.6 -- which is available as of this week.

[2018-03-07 20:40] diverdan92 commented on #6104
@mungojam - these are great points. I think there are optimizations we could do around debug binaries in NuGet packages as well. While absolutely related to this issue and spec, it's a slightly different topic when considering solutions. We still have goals regarding performance of NuGet as a platform, and so we would be hesitant to include both debug and release binaries in the same .nupkg - some

[2018-03-07 20:43] livarcocc opened #6647 "[Linux] Permission errors when multiple users use dotnet"
_From @sdmaclea on March 7, 2018 19:13_

## Steps to reproduce

It is unclear exactly how this occurred.
It definitely involved running `dotnet` from multiple user accounts (personal + jenkins) on the same machine.  The second users call to `dotnet restore` produced the output below.
Presumably all users are sharing the same path to `/tmp/NuGet*'

I vaguely remember reporting this issue a year ago

[2018-03-07 20:43] livarcocc commented on #6647
_From @sdmaclea on March 7, 2018 19:15_

@janvorli @jkotas Do you remember me discussing this with either of you in the past?

[2018-03-07 20:43] livarcocc commented on #6647
_From @janvorli on March 7, 2018 19:25_

@sdmaclea I don't remember discussing this with you, but there is already an issue tracking this problem:
https://github.com/dotnet/coreclr/issues/12393

[2018-03-07 20:43] livarcocc commented on #6647
_From @janvorli on March 7, 2018 19:30_

It seems it was supposed to be fixed in nuget about a year ago. I wonder if it is possible that we still use an old nuget.exe without the fix:
https://github.com/NuGet/Home/issues/2793
cc: @weshaggard

[2018-03-07 20:43] livarcocc commented on #6647
_From @sdmaclea on March 7, 2018 19:33_

I did see the coreclr nuget config was using v2 instead of version 3
` <add key="nuget.org" value="https://www.nuget.org/api/v2/" />`

[2018-03-07 20:43] livarcocc commented on #6647
I am going to move this issue to nuget/home. They will know the particulars of the issue there better.

[2018-03-07 20:43] rrelyea commented on #6174
covered by #1837

[2018-03-07 21:01] mungojam commented on #6104
@diverdan92 thanks Dan, those ideas do sound like they would answer it nicely. I agree that the debug binaries shouldn't end up in the main nupkg, though for our internal packages we wouldn't mind that.

Having a new flag would help with @jnm2's point because you could then easily have a Debug project config that actually pulled in release packages and a FullDebug one that pulled in debug packages

[2018-03-07 21:16] #6634 closed, assigned to dtivel

[2018-03-07 23:33] jackbond opened #6648 "Absolutely need example of how to include native libraries"
Prior to VS 2017, you'd create a nuspec file with something like this...

`<file src="sample1.dll" target="runtimes\win7-x64\native"/>
<file src="sample2.dll" target="runtimes\win7-x64\native"/>
<file src="mynuget.targets" target="build"/>`

Is it possible to do this using the "Generate NuGet package on build" option in 2017? I've looked all around, but haven't found a concrete example of how to d

[2018-03-07 23:50] karann-msft commented on #6509
@StingyJack reach out to me on karann [at] microsoft [dot] com and I can share it with you.

[2018-03-08 00:41] anangaur commented on #4216
Dupe of https://github.com/NuGet/Home/issues/4113

[2018-03-08 00:41] #4216 closed, assigned to nobody

[2018-03-08 01:57] karann-msft commented on #4301
@onovotny the first line does say that PR is not compatible with VS 2015. Would rather see that info in-line with the options?

[2018-03-08 03:45] mfeingol commented on #6468
I'm seeing similar issues installing recent Xamarin Android support updates. I have 26.1.0.1 and 27.0.2 just won't install.

[code]

I've tried the following workaround with no success:
- Clean project, delete bin/obj
- Delete nuget cache
- Re-run VS as administrator

[2018-03-08 06:56] v-luzh commented on #6634
Fixed on D15.7 27507.00 + NuGet Client **Dev 4995**

[2018-03-08 07:27] nkolev92 commented on #6640
The way NuGet floating versions are implemented, * will resolve to the latest stable version.

I assume in your scenario you're asking for the latest prerelease?

If that's the case, then this is a duplicate of https://github.com/NuGet/Home/issues/912

[2018-03-08 11:19] wvdvegt commented on #6468
Same here.

[edit] Solved by running as admin, disabling a local nuget source, ignore dependencies and install them one by (often twice in a row), clearing the obj folder between installs.
[edit] With some packages I would see a license agreement the 2nd time i clicked install (and then it would install.

Ignoring dependencies and click install twice for each package seemed to be the winner.

[2018-03-08 14:25] ElanHasson commented on #6578
Thanks I'll take a look.

[2018-03-08 14:33] jesusom opened #6649 "Problems to ignore SSL errors on .net core 1.1 on windows"
hi, all

i have a problem to ignore SSL certificate validation.

Mi code is the next:
using (var httpClientHandler = new HttpClientHandler())
                        {
                            httpClientHandler.ServerCertificateCustomValidationCallback = (message, cert, chain, errors) => { return true; };
                            using (var client = new HttpClient(httpClientHandler))

[2018-03-08 14:33] archit1jindal opened #6650 "Getting below warning message. Due to this my project is not able to restore in visual studio code."
E:\DemoProject>dotnet restore
C:\Program Files\dotnet\sdk\2.1.4\NuGet.targets(103,5): warning : Unable to find a project to restore! [E:\DemoProject\DemoProject.sln]

System information.---------:
DemoProject>dotnet --info output
.NET Command Line Tools (2.1.4)

Product Information:
 Version:            2.1.4
 Commit SHA-1 hash:  5e8add2190

Runtime Environment:
 OS Name:     Windows
 OS Version:

[2018-03-08 14:35] StingyJack commented on #6579
PackageCfg works just fine from the command line, be that devenv.exe or MSBuild.exe or nuget.exe. so that statement is just not correct.  Nuget is the package manager for visual studio projects, so I dont think it matters how well it works outside the project system. Other uses for the nupkg use it differently anyway. (This argument slightly reminded me of the bad old days when there was only clas

[2018-03-08 14:38] #6649 closed, assigned to nobody

[2018-03-08 14:39] jesusom commented on #6649
I was wrong about the place

[2018-03-08 14:40] StingyJack commented on #6509
@karann-msft - Thanks, but i'm not looking to continue being an unwitting beta tester for MSFT again this year. Last year was quite enough. This tool should have been ready along with PackageRef, or at the very least when you all announced that you were no longer going to support packageCfg.

[2018-03-08 16:04] veikkoeeva commented on #6648
Duplicate of https://github.com/NuGet/Home/issues/6645.

I'm too trying the same at https://stackoverflow.com/questions/49162127/how-to-include-native-assets-in-nuget-on-multiple-platforms-only-64-bit. Still wondering why my native libraries don't show when package being restored, maybe need a custom `.target`.

[2018-03-08 17:46] TFTomSun commented on #6640
Well, then there must be a bug. When I use the wildcard in the version attribute and try to reference the Selenium.WebDriver package it falls back to version 2.2.0 (the oldest package version), the latest stable version is 3.10.0. Any ideas why this happens?

Here's my csproj:
[code]

[2018-03-08 18:30] livarcocc opened #6651 "dotnet restore on 2.1 preview1 throws error instead of warning when project files are "missing""
_From @christiansparre on March 8, 2018 17:22_

I was playing around with 2.1 preview 1 and trying to get a simple ASP.NET Core 2.1 preview1 app up and running on docker using the VS docker tools. But my `docker-compose build` failed because `dotnet restore` on 2.1 throws error `MSB3202: The project file "/src/SomeApp.SomeLib/SomeApp.SomeLib.csproj" was not found.`

But it is not isolated to docke

[2018-03-08 18:30] livarcocc commented on #6651
I am not sure if this has changed from warning to error. Moving it to NuGet for them to confirm.

[2018-03-08 19:19] activa commented on #6468
After spending four hours trying to make this work, I finally managed to get the nuget packages to update. The trick was to run VS2017 as Administrator by right-clicking the shortcut and selecting "Run as Administrator". I also had to update the packages one by one and select "Ignore Dependencies".

[2018-03-08 19:20] mfeingol commented on #6468
@wvdvegt: thanks for that. I was able to install the recalcitrant 18 packages as you mention: installing them one by one from the package manager with `-ignoredependencies` and running each command twice.

MSFT, you may want to make this a bit easier for us.

[2018-03-08 19:20] medianick commented on #2987
Follow-up to the above comment: I added NuGet.CommandLine 4.5.1 (current version) to the base image (via Chocolatey) and am doing this as my agent initialization:

[code]

Nevertheless, the output I get when the agent is connected, and the above two commands are run, looks like this:

[code]

I'm really sure what's going on with these disabled package sources, or how to get around it in this dynam

[2018-03-08 19:34] #6646 closed, assigned to dtivel

[2018-03-08 19:39] akoeplinger commented on #6604
FWIW I was able to build nuget.exe on OSX with Mono 5.10 by just doing the following:

[code]

It only failed to ILMerge nuget.exe with all the assemblies at the end but I didn't care about that.

[2018-03-08 19:44] akoeplinger opened #6652 "nuget.exe verify -Signatures p/invokes into Windows APIs when verifying timestamp signature hash"
I'm currently working on fixing issues found when running `nuget.exe verify -Signatures` under Mono on OSX/Linux.

I noticed that in [VerificationUtility.cs#L111](https://github.com/NuGet/NuGet.Client/blob/625af6d87951a1f0c68e6e3c4ac440a627e7503b/src/NuGet.Core/NuGet.Packaging/Signing/Utility/VerificationUtility.cs#L111) when getting the signature hash you're calling [PrimarySignature.cs#L106-L109

[2018-03-08 19:53] activa commented on #6468
Interestingly, opening the same solution in VS for Mac and updating all the nuget packages works just fine (and a LOT faster)

[2018-03-08 19:55] nkolev92 commented on #6579
That's not correct.

Package Reference is transitive, readable, provides a consistent experience from commandline and VS.
Packages.config has install scripts which only execute in VS, writes to your csproj which is only done correctly in VS. It has the concept of an install/uninstall action, which on it's own can get out of hand, if you modify file/content that was added by the install action.

It

[2018-03-08 20:02] nkolev92 commented on #6652
//cc @dtivel @PatoBeltran

[2018-03-08 20:09] veikkoeeva commented on #6645
Also relevant is https://github.com/NuGet/Home/issues/3931 and https://github.com/NuGet/Home/issues/4837#issuecomment-339513579.

[2018-03-08 20:14] dtivel commented on #6652
Cross platform support is scheduled later.  (See the Roadmap section [here](https://blog.nuget.org/20170914/NuGet-Package-Signing.html).)

For now, NuGet should not attempt signed package verification in this scenario.

[2018-03-08 20:14] dtivel commented on #6652
CC @rido-min, @rrelyea

[2018-03-08 20:24] natemcmaster opened #6653 "Unresolveable warnings about packing source files with same name"
### Details about Problem
NuGet product used: dotnet CLI
dotnet.exe --version (if appropriate): 2.1.300-preview2-008251
Worked before? Not sure

### Repro
1. Clone this repo: https://github.com/aspnet/Diagnostics/tree/4a098af457b16537408d5f90d3019f73fa595dfa
2. Run `build.cmd /t:package`

### Result

Pack issues warning because we have `IncludeSource=true` and there are several files with the same

[2018-03-08 21:31] livarcocc opened #6654 "Add verbosity to the AddPackageReferenceCommand"
This is a blocker to fixing https://github.com/dotnet/cli/issues/8092.

When adding a package through the CLI, we want to be able to control the restore verbosity.

[2018-03-08 22:06] dtivel commented on #6589
Continued in https://github.com/NuGet/Home/issues/6646.

[2018-03-08 22:12] veikkoeeva commented on #6648
@jackbond This seems to work for me https://stackoverflow.com/questions/49162127/how-to-include-native-assets-in-nuget-on-multiple-platforms-only-64-bit . Not the cleares exposition, but hopefully enough.

[2018-03-08 22:15] DarkChaos commented on #3664
@emgarten Hi, I am trying to build a netcoreapp2.0 in a Docker Container on Windows 10, VS 2017 and Docker CE (17.09.0-ce-win33). I have also the same issue:

To build the Container and Solution i use the following dockerfile:
[code]

For the domain/aspnetcore-build:2.0 container i am using the following dockerfile to ensure the correct root certificate and the nuget.config:
[code]

The nuget.conf

[2018-03-08 22:15] veikkoeeva commented on #3931
@greghroberts If I understand your problem correctly, https://stackoverflow.com/questions/49162127/how-to-include-native-assets-in-nuget-on-multiple-platforms-only-64-bit should help doing this. I used this arrangement to package a native 64 bit executable along with a .NET Standard 2.0 library and restore it as a `PackageReference` in another .NET Standard 2.0 project so that it's being copied to

[2018-03-08 23:43] anangaur commented on #912
This is my proposal for the requirements listed earlier. Open to comments/scrutiny:

- I would like to use floating versions that only resolves to stable versions of the package (Current behavior):
[code]

- I would like to use floating version that can resolve to the latest version even if the latest happens to be a pre-release version:
[code]
So in the above case, if the version available are 1.

[2018-03-08 23:48] anangaur commented on #912
@forki what's the behavior for paket for the **open** issue above?

[2018-03-09 00:20] PatoBeltran commented on #6645
@karann-msft can you please take a look at this issue?

[2018-03-09 00:25] PatoBeltran commented on #6647
@zhili1208 do you have any context on this issue?

[2018-03-09 00:29] PatoBeltran commented on #6645
@nkolev92 maybe you can provide more context on how this can be solved

[2018-03-09 00:34] PatoBeltran commented on #6648
I will close this issue in favor of #6645, let's continue the conversation there.

[2018-03-09 00:34] #6648 closed

[2018-03-09 00:40] zhili1208 commented on #6647
No idea about this permission issue, Could you repro this?

[2018-03-09 00:44] PatoBeltran commented on #6650
Hey @archit1jindal, can you give me more info about your project. what is your document structure, in which directory are you running dotnet restore? You can also pass the root path of the project to restore. You can see more about this command at https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-restore?tabs=netcore2x

[2018-03-09 01:22] jainaashish commented on #3664
@DarkChaos can you try passing `configFile` parameter with absolute path to your nuget.config with restore command and see if that works? Also, set `verbosity` to detailed and share the full logs.

[2018-03-09 01:29] PatoBeltran commented on #6647
@sdmaclea I'm looking at this, can you help me out providing an easy way to repro this issue? I want to see what is making `FindPackagesByIdAsync` fail. It might be a bug that we are not using the fix that was done in https://github.com/NuGet/NuGet.Client/pull/1035 for some cache used in this method.

[2018-03-09 01:52] jainaashish commented on #6647
We need to create shared directory for `'/tmp/NuGet/TempCache` folder which is not happening right now. I'll raise a PR to fix this.

[2018-03-09 02:46] GKBelmonte commented on #6614
Hello,

Sorry for the delay, I was under the weather.

I thought `exclude='all'` was the [default value](https://docs.microsoft.com/en-us/nuget/reference/nuspec#dependencies), but I went ahead and tried it anyway.
I found out that `exclude="All"` doesn't work because the private dependency dll is not copied to the output directory, but  `exclude="compile"` does.

e.g.: Consumer -> DirectDependency

[2018-03-09 03:07] rohit21agrawal commented on #6635
this is done

[2018-03-09 03:07] #6635 closed, assigned to rohit21agrawal

[2018-03-09 06:46] archit1jindal commented on #6650
Sure @PatoBeltran, Please find attached screen shot for better understanding.
I'm trying to execute unit test cases in UnitTest.cs.

![untitled](https://user-images.githubusercontent.com/37182627/37194320-a602071e-2393-11e8-8fef-95aae7bc8ed9.png)

[2018-03-09 07:00] forki commented on #912
Rc is newer than beta is newer than alpha. Good thing is alphabetical order works here

[2018-03-09 07:37] veikkoeeva commented on #6645
@PatoBeltran To me the greatest problem was the information that is scattered. I also came quickly around the documentation @yatli refers to, but it didn't spark the lightbulb immediately. Partially because I didn't first understand there's a difference with the new reference method and how it's done before that and that one really needs a `.target` file. It might be useful to point out these dist

[2018-03-09 11:45] gwalschl commented on #912
The suggested package resolution logic looks good.  Lots of flexibility the way it's laid out.

[2018-03-09 12:34] yatli commented on #6645
@PatoBeltran just like @veikkoeeva mentioned, the information is too fragmented and it is very hard to pull the pieces together. You see, even though I have looked directly at the source code and completely understand how to proceed, I tried to *reverse engineer a valid search query for the answer that I already know, and I failed*.

[2018-03-09 15:21] jainaashish commented on #6614
`Also, FYI I tested and discovered that PrivateAssets doesn't work for some reason for .NET standard. The private dependency does get copied to the output directory, but at runtime it fails to find it., giving a FileNotFound with the dll info.`

Can you provide more details here or a sample repro case to depict what you're really seeing?

And I agree doc should be updated to reflect the meaning of

[2018-03-09 16:18] let-thomas opened #6655 "credentials not used"
Hi,
we are willing to use artifactory as nuget storage. We do have there private repo which requires login (certificate chain ends with self signed cert).
Nuget.exe is not able to download/install package. Neither restore.
nuget install <packagename>
Output:
Feeds used:
  https://servername.com/artifactory/api/nuget/tsupocnuget
  C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\

Installing pac

[2018-03-09 17:27] StingyJack commented on #6579
Concept and Implementation are different things. You are describing the implementation. The concept of both is to distribute packaged software components for use in visual studio projects.

The choice of an entirely new implementation (with all new bugs being created in both implementations) over correcting the issues with the existing one seems both dumb and extremely costly.

I'd rather have 15

[2018-03-09 18:27] Glober777 opened #6656 "NuGet.Server Package Source filtered by tags"
Hi,

I'm hosting NuGet.Server in my network for managing PowerShell script\module based packages. All works relatively well, with the exception of the fact that both Find-Module and Find-Script return the same set of packages. Looking at how things are configured by default for PowerShell Gallery, I see that it references a slightly different source URL that returns a list of packages filtered by

[2018-03-09 18:34] rrelyea commented on #912
We care about this. And hope to get to it soon.

[2018-03-09 18:47] anangaur commented on #912
There were some disagreements on whether there should be new attribute to specify the ability to float to pre-release versions. So just thinking aloud here, will the following be an acceptable choice? @jainaashish @nkolev92 @rrelyea

- I would like to use floating versions that only resolves to stable versions of the package (Current behavior):
[code]
**Remains same**

- I would like to use floati

[2018-03-09 19:21] nkolev92 commented on #912
I don't see the reason for introducing a new attribute.
That makes things more complicated and adds implementation difficulty.

I don't believe there's an ease of use argument here with the prerelease attribute.

Version ranges already include prerelease packages.
[code]
can already resolve to a prerelease package.
Adding that new metadata would conflict with that.

Additionally, I don't see the p

[2018-03-09 19:48] jainaashish commented on #912
why do you need alternate approach?

`<PackageReference Include=“MyPackage” Vesrion=“2.*|”/>`

I like the additional parameter idea, that seems right which could work across old vs new clients. So we should stick to that.

[2018-03-09 20:04] nkolev92 commented on #912
@jainaashish
How would the additional parameter work in old clients?

The correct behavior here would be to break in old clients, because old clients obviously can't support it.

You add additional metadata, it resolves differently on 4.6 vs 4.7 and that's bad.

[2018-03-09 20:58] jainaashish commented on #912
'The correct behavior here would be to break in old clients`
correct behavior is not to break old clients, instead old clients should just ignore this flag and continue to behave as they are doing now. But new clients should use this flag and change behavior accordingly.

[2018-03-09 21:26] JVimes opened #6657 "VS UI and PMC take 30min to see new package (nuget.exe sees it right away)"
## Details about Problem

I published a new version of a package to a private ProGet server. Nuget.exe sees the new version right away, but VS UI and Package Manager Console take 30 minutes or so to see the new version. The whole situation worked fine until recently.

Here's output showing the difference right after publishing (note the version number difference):

	PSPM> Find-Package Company.Reso

[2018-03-09 21:26] JVimes commented on #6657
Do the VS clients use a different server API than nuget.exe?

[2018-03-09 22:05] natemcmaster opened #6658 "NU1103 error message lists oldest versions, not newest versions"
Follow-up to in-person meeting about https://github.com/dotnet/cli/issues/8485

The error message when restoring using wildcards shows the oldest version of the package, not the newest.

**Repro**
[code]
`dotnet restore`

We have two versions of dotnet-watch on nuget.org right now, 2.1.0-preview1-final, and 0.0.1-alpha.

0.0.1-alpha was a placeholder to squat on the package name, and is unlisted o

[2018-03-09 22:06] nkolev92 commented on #912
If the old clients ignore the behavior, then you have a different experience across versions.
This is bad, and will break CIs.
Lock file TBD ofc.

We'd need to analyze how old versions work with each proposal before we agree on anything.

[2018-03-09 22:13] #6530 closed, assigned to rohit21agrawal, jainaashish

[2018-03-09 22:18] jainaashish commented on #912
I leave it upto others to decide here. I've just given my opinion.

[2018-03-09 22:19] jainaashish commented on #6657
was it working with previous versions like 15.5 or 15.4?

[2018-03-09 22:29] nkolev92 commented on #6658
This is definitely a bug.
I managed to reproduce it.
It's not a regression.

The related code is [here.](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Commands/RestoreCommand/Diagnostics/UnresolvedMessages.cs#L153)

It doesn't consider floating versions.

The fix should be minor, but need to do a further analysis to confirm that.

/cc @rrelyea
I assume we want this fixed soon

[2018-03-09 22:32] livarcocc commented on #6658
I vote for .300 version of the CLI.

[2018-03-09 22:50] PatoBeltran commented on #6656
This seem to be a issue more appropriate for the Nuget.Server team. I will redirect it to them and close this.

[2018-03-09 22:50] PatoBeltran commented on #6656
Issue moved to [NuGet/NuGetGallery #5591](https://github.com/NuGet/NuGetGallery/issues/5591) via [**ZenHub**](https://www.zenhub.com/)

[2018-03-09 22:50] #6656 closed, assigned to nobody

[2018-03-09 22:55] PatoBeltran commented on #6653
@rohit21agrawal can you take a look into this?

[2018-03-09 23:02] rohit21agrawal commented on #6653
@natemcmaster If you are looking at hiding these warnings, then these warnings are now suppressible with latest version of pack using ```SuppressWarnings``` property in csproj file.

I am not sure what Pack can do here to be smarter about this , I am open to suggestions.

[2018-03-09 23:05] natemcmaster commented on #6653
How hard would it be to support setting some kind of metadata value like `PackagePath` on compile items?

Also, it looks like `TargetPath` varies between the two items. I'm not sure how that is getting set and if it's guaranteed to be unique.

[2018-03-09 23:08] natemcmaster commented on #6653
Re: SuppressWarnings.

Interesting, I didn't see that in https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Build.Tasks.Pack/NuGet.Build.Tasks.Pack.targets. Is that defined somewhere else? `SuppressWarnings` sounds a little generic, so I'd want to make sure first that this property won't suppress warnings in other targets such as the compiler or restore.

[2018-03-09 23:16] rohit21agrawal commented on #6653
EDIT: I meant NoWarn when I said SuppressWarnings. This property takes a semi-colon separated list of error codes and works for all warnings thrown by msbuild , which now includes Pack. Pack warnings will have a unique warning code that you can use to suppress them.

Pack now also respects WarningsAsErrors and TreatWarningsAsErrors

This work was done as part of : https://github.com/NuGet/NuGet.Cl

[2018-03-09 23:18] anangaur opened #6659 "Enable support for 'content' folder with PackageReference"
With `PackageReference`, we started supported content files from `contentFiles` folder than the existing `content` folder that was supported with `packages.config`.

It is getting real difficult for users to be able to influence the package authors to update the existing packages to use `contentFiles` in addition to `content` folder to support both PackageReference and `packages.config`.

Instead

[2018-03-09 23:25] rohit21agrawal commented on #6653
Depends what is the scenario for including the source in the package? The Pack target tries to preserve the relative directory structure of the source file and uses that to construct the target path in the package. We can support PackagePath on Compile ItemGroup types, but I can't promise a timeline for this.

[2018-03-09 23:36] natemcmaster commented on #6653
It's only a problem for the .symbols.nupkg file. We set `<IncludeSource>true</IncludeSource>`.

Interesting. We have TreatWarningsAsErrors set to true, but this is still only a warning. Should it be raised to an error?

Also, there is no warning code associated with this, so I'm not sure what to add to `<NoWarn>`.
[code]

[2018-03-09 23:37] rohit21agrawal commented on #6653
It looks like you this fix hasn’t yet been merged to dotnet cli and sdk

[2018-03-09 23:52] PatoBeltran commented on #6641
Hey @cclauson thanks for taking the time to open this issue. NuGet.exe supports solutions to restore multiple projects. You can just pass the solution path to the restore command and it will restore all projects there. If you want more customization that is available in MSBuild there is a way to pass MSBuild arguments to nuget.exe with the `NUGET_RESTORE_MSBUILD_ARGS` environment variable. You can

[2018-03-09 23:55] ddobrev commented on #6468
The same error happens with the recently released Xamarin.Android 27.0.2. When is this going to be fixed?

[2018-03-10 00:35] natemcmaster commented on #6653
So, I researched a little what is going on under the hood. I recommend you use `TargetPath`. It's less likely you'll have a conflict when using this value, and it will also be automatically set to `Link`, which is a well-known convention used when pulling in files from directories not under the project root.

By the way, you may be able to use `TargetPath` and skip your implementation of path norm

[2018-03-10 02:13] #6647 closed, assigned to jainaashish

[2018-03-10 02:26] AArnott commented on #4125
@nkolev92 For NPM, devDependencies being a consumer decision makes sense because the build happens in the same language as the product being built. So legitimately the same package could serve either purpose.
But in MSBuild/.NET, a package _either_ delivers runtime components or build components (or sometimes both), but the package author is very clearly aware in every case I know of which use cas

[2018-03-10 05:17] nexussays commented on #4125
I lost the thread of the conversation with the MSBuildSDK tangent, but I wasn't clear on the proposed solution when manually adding `PackageReference`. From what I understood there was the idea of implicitly setting `PrivateAssets` and `IncludeAssets` if they aren't set in the `csproj` and `developmentDependency` is true in the nuspec. If that is correct, then I disagree with that approach; every

[2018-03-10 05:38] forki commented on #912
@nkolev92 I think there was analysis done 2 years ago already ;-)

Regarding different resolutions in different versions. That's very common and already the case. That's why people pin their package manager versions. You can try to minimize these cases, but there is no way around it.

[2018-03-10 05:41] jainaashish commented on #4125
That's not correct, when you manually add a `PackageReference` then we don't do anything implicitly and treat it as a normal package dependency. Same is also being updated at the spec - https://github.com/NuGet/Home/wiki/DevelopmentDependency-support-for-PackageReference

[PR ](https://github.com/NuGet/NuGet.Client/pull/1930) is already out which should be merged soon so you should be able to see

[2018-03-11 12:23] DarkChaos commented on #3664
To test the possibility to log in to the Tfs I have tried the following from the build container:
[code]
the Result looks good:
[code]

@jainaashish I executed the dotnet restore command with your requested options, this is the Result:
[dockerdotnetrestore.log](https://github.com/NuGet/Home/files/1800303/dockerdotnetrestore.log)

I hope it helps to figure out the problem

[2018-03-11 13:58] archit1jindal opened #6660 "Not able to add selenium class in Unit Test case in VS Code"
Hi,
I;m not able to add selenium classes in my unit test class. While reference has been added for selenium in csProj file.
Please find attached screen shot for more clarification.
Any help will be appreciated. Thanks in advance.
![issue](https://user-images.githubusercontent.com/37182627/37254342-519fb880-2562-11e8-93b5-8ea9d39fb9a5.png)
![csprojrefrence](https://user-images.githubusercontent.com

[2018-03-11 17:25] KathleenDollard commented on #6658
I agree with @livarcocc on this.

[2018-03-11 22:41] AndrewTriesToCode opened #6661 "Content group items from Nuget not included in publish output"
Files designate as Content in a Nuget package are not being copied to the publish output folder. They are only coping to publish output if the `CopyToOutput` attribute is set on the contentFiles/file entry. Per its [definition](https://docs.microsoft.com/en-us/nuget/reference/nuspec#including-content-files) `CopyToOutput` should only toggle output to the build folder.

**Environment**

* using dot

[2018-03-11 23:35] JVimes commented on #6657
@jainaashish I just verified, yes. I downgraded to VS 15.5.7, and the problem went away. I re-upgraded to latest, and the problem appeared again.

[2018-03-12 03:05] jeromelaban opened #6662 "Multi-targeted project fails to restore with a conditional NoWarn property group"
Using VS2017 15.6.0, and [the attached solution](https://github.com/NuGet/Home/files/1801280/20180311-nuget-nowarn-restore-failure.zip):

- Run git clean -fdx on the zipped repo (no restored graph must be present)
- Open VS2017 for the solution
- Notice the background restore does not start
- Try building, the error `Error occurred while restoring NuGet packages: The operation failed as details fo

[2018-03-12 04:49] jainaashish opened #6663 "Add more data for pr migrator tool success/ failure analysis"

[2018-03-12 05:45] skolod commented on #1512
I cannot update from Nant build script NuGet package that is referenced directly from CsProj via ProjectReference element, while I can do it from VS, because VS launches NuGet Package Manager before MsBuild. I choosed PackageReference format because it allow to write a floating version of package (1.8.0-beta*). I think it is not right that I cannot reproduce VS build process in command line.
The p

[2018-03-12 06:46] paradisehuman commented on #6468
@ddobrev Same problem.

[2018-03-12 09:27] skolod commented on #6266
I cannot update from Nant build script NuGet package that is referenced directly from CsProj via ProjectReference element, while I can do it from VS, because VS launches NuGet Package Manager before MsBuild. I choosed PackageReference format because it allows me to write a floating version of package (1.8.0-beta*). I think it is not right that I cannot reproduce VS build process in command line.
I

[2018-03-12 13:22] arunjvs commented on #3664
Folks, using API key as the `ClearTextPassword` for `packageSourceCredentials` instead of `apikeys` worked for me for restore (with VSTS). Set the `Username` to the user who owns the API key.

[2018-03-12 16:06] AdamJamesNaylor commented on #3891
Also adding my +1. This is blocking a fairly simple project for me. I just need a `.nuget` package containing everything required to run the project.

[2018-03-12 19:11] nkolev92 commented on #4125
@AArnott
Packages can still be both today. There's nothing enforcing that today. It won't work because of the tangential problem because of how build assets transitive flow is handled today, but it's still possible.

But as you point out, in our case they are different.
There's no point in fragmenting this experience among PR/MsBuildSDKs.
The MSBuildSDKs is the correct approach, because itself par

[2018-03-12 19:41] nefibarragan commented on #6468
@ddobrev the same for me in vs2017 15.6.1 and this is not the first time I've had this problem :S

[2018-03-12 23:06] nkolev92 commented on #6659
Authors will be more open to making changes to expand their user-base if they see willingness from the consumers to use their packages with PR.

It's not a difficult change to make from their side. We're the ones that need to make the contentFiles experience more seamless (for ex. jquery with contentFiles, a user would want to be able to open those read-only content files in VS, that's not possibl

[2018-03-12 23:26] nkolev92 commented on #6640
@TFTomSun

I just attempted your repo and it resolves to 3.11.0 for me.

My csproj
[code]

Snippet from my assets file:
[code]

What's the version of NuGet that you're using?
I used 4.6/15.6 Visual Studio in this case.

I'm not aware of any bugs regarding the above in area.

What are your sources?

Can you please post the full log here.

[2018-03-12 23:32] jainaashish commented on #6657
I couldn't repro it with 15.6.1 release. Can you capture the fiddler trace when you see this issue and send it to us? Publish a new package, and wait once package is validated and indexed on NuGet.org then refresh on PM UI. When you refresh, you will see a http call to https://api-v2v3search-0.nuget.org/ host in your fiddler.

[2018-03-13 00:33] #6632 closed, assigned to rohit21agrawal

[2018-03-13 00:42] alpaix opened #6664 "Pack should emit warning when a targets file is included in build/buildCrossTargeting folder with a name different than package id."
### Details about Problem
VS 15.7.0 Preview 1.0
NuGet.exe version: 4.5.1.4879

### Detailed repro steps so we can see the same problem

1. Create a package using `nuget.exe pack <packageName>.nuspec` containing an arbitrary `.targets` file.
2. Try to install the package into a .NET Core 2.0 project
3. Inspect the contents of `project.assets.json` file

### Result

The target file from the package

[2018-03-13 00:42] rohit21agrawal commented on #6660
@archit1jindal did you run restore on your project file before trying to reference types from the assembly?

[2018-03-13 00:44] rohit21agrawal commented on #6664
@alpaix you know the code, send a PR ;) (JK)

[2018-03-13 00:44] rohit21agrawal commented on #6664
the targets files are referenced in the .g.props or .g.targets file inside the obj folder, did you take a look there?

[2018-03-13 00:46] rohit21agrawal commented on #6661
@achandlerwhite the documentation is from way back when .NET Core was not even a thing, so the publish target didn't exist.

This is the right behavior, we will update the docs.

[2018-03-13 00:46] #6661 closed, assigned to nobody

[2018-03-13 00:47] alpaix commented on #6664
Target file was not referenced until I renamed it after the package name. I presume there's no workaround for that limitation?

[2018-03-13 00:48] rohit21agrawal commented on #6664
no. that is by design.
It's a good idea to add the warning to the pack validation.

[2018-03-13 00:52] rohit21agrawal commented on #6664
is there a specific scenario where you wouldn't want the target file to be named after the package id?

[2018-03-13 01:00] alpaix commented on #6664
We were trying to package interop assemblies with a boilerplate targets file setting `EmbedInteropTypes` property to true. So we spent some time trying to understand why it didn't work.

[2018-03-13 01:02] rohit21agrawal commented on #6664
@nkolev92 can you provide Alex with the recommended way of including interop assemblies? I know we have a GitHub sample somewhere

[2018-03-13 01:03] rohit21agrawal commented on #6664
oh, here it is : https://github.com/NuGet/Samples/tree/master/NuGet.Samples.Interop
CC: @alpaix

[2018-03-13 01:06] alpaix commented on #6664
Cool! Thanks! I think I've got one of this sample project variations.

[2018-03-13 01:16] rohit21agrawal commented on #6650
can you just try and run dotnet restore DemoProject.sln from the terminal?

[2018-03-13 01:20] livarcocc opened #6665 "dotnet restore no longer works for VS solutions that contain a mix of SDK and non-SDK projects"
_From @DaveSlinn on March 12, 2018 23:46_

Original issue was #7294 but prior to sdk version 2.1.100 that came out last week the VS 2017 15.6, dotnet restore would only display errors for projects it didn't understand.  Now it quits altogether and as such, has broken our automated builds.

I ask again - why can't it just ignore non-SDK projects it finds in the VS .sln files?

Here is an image of t

[2018-03-13 01:20] livarcocc commented on #6665
I am moving this to NuGet for them to take a look first.

As for why we can't ignore projects we don't know... It is because we don't know which projects we actually don't know about. For instance, natively, the CLI does not support UAP projects, however, with the addition of a PackageReference, everything works.

We don't whitelist supported projects because there is no way for that list to be au

[2018-03-13 01:21] livarcocc commented on #6665
Is this a change in NuGet behavior, where the error code is now being returned as non-zero?

[2018-03-13 01:48] karann-msft opened #6666 "Migrator dogfooding issues"
1. typo in gold bar **[FIXED]**
   ![image](https://user-images.githubusercontent.com/16904420/37317668-706fd7ce-2623-11e8-8c8a-48a7ebef617a.png)

2. gold bar should have an info icon **[CUT]**
   ![image](https://user-images.githubusercontent.com/16904420/37318257-bee6f7d6-2626-11e8-9f8a-4f2b4d5dd533.png)

3. gold bar should have a close "X" at the end **[FIXED]**
   ![image](https://user-images.

[2018-03-13 10:27] DevMatthias opened #6667 "Restore for cross target projects is incomplete"
I have updated Visual Studio from 15.5.3 to 15.6.0 (same for 15.6.1) and NuGet restore for cross target frameworks stopped working. The project.assets.json contains only one framework in the targets section.

[code]
The project content above restores only the the .NETStandard framework. A build fails with the following message.

`error : Assets file '...project.assets.json' doesn't have a target f

[2018-03-13 12:33] GanesanRengasamy opened #6668 "How to add the particular framework version assemblies while installing the NuGet package in another framework version project"
Hi All,

I have tried to install the MVC4 NuGet package with the some dependent NuGet packages which is in below structure in the 4.6 framework application.

Dependent package Structure is,

![image](https://user-images.githubusercontent.com/16695209/37341195-8dededcc-26e6-11e8-99b4-6a5443cbc205.png)
![image](https://user-images.githubusercontent.com/16695209/37341577-e688c3e8-26e7-11e8-9276-7f505

[2018-03-13 15:22] lbujara opened #6669 "MsBuild restore does not use packageSourceCredentials when specifing custom config"
In our project we have a Nuget.config in the projectfolder consisting of local artifactory package sources together with the credentials needed for those.

While restoring with "dotnet restore --configfile xxx" works (if we leave out Xamarin.iOS projects), using "msbuid /t:restore /p:RestoreConfigFile=xxx" gives us "401 Unauthorized" error message for the packages which are only accessible via val

[2018-03-13 15:39] atsushieno commented on #6604
`nuget` console tool is used to build monodevelop. So far nuget v2 is buggy and cannot manipulate packages on case-sensitive filesystems.

[2018-03-13 15:42] lbujara commented on #6669
problem was on our side when setting username and password in config

[2018-03-13 15:42] #6669 closed, assigned to nobody

[2018-03-13 15:44] atsushieno commented on #6604
I got this build failure on my same machine instead: https://gist.github.com/atsushieno/7c117aa0f1dd4819f2c02c600baec90d

[2018-03-13 17:33] keithrob commented on #5773
@rrelyea  or nuget team,
Please reach out to me or someone on the VSTS Packaging team so that we can update the credential providers to support mutual SSL auth when you start working on this.

[2018-03-13 17:40] AArnott opened #6670 ""nuget.exe restore" fails because it can't find Newtonsoft.Json"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): nuget.exe

NuGet version (x.x.x.xxx):  4.6.0.4971

This used to work. Not sure what happened here.

## Detailed repro steps so we can see the same problem

I just ran "nuget restore src" under my [VSSDKTestFx repo](https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_git/VSSDKTestFx).

[co

[2018-03-13 18:13] kzu opened #6671 "Provide $(PackageTargetPath) and GetPackageTargetPath targets"
Hi there!

So, NuGetizer has followed the standard targets (where `$(TargetPath)` points to the output being generated) and provides `$(PackageTargetPath)` (as well as a `GetPackageTargetPath` target, mirroring the common targets too). Currently, the SDK Pack targets don't have a mechanism for determining what the output of `Pack` is/would be. You basically have to use `$(PackageOutputPath)\$(Pack

[2018-03-13 18:23] dasMulli commented on #6671
Do I understand correctly that `PackageTargetPath` will then point to the nupkg? in this case `PackageOutputPath` can still point to the directory being used, since this is what the CLI sets and I am using in CI build scripts. (and been instructing ppl to do in samples [and a blog post](https://dasmulli.blog/2018/01/23/exploring-global-net-core-tools/)). My plea is that no breaking change to the p

[2018-03-13 18:24] dasMulli commented on #6671
oh, @kzu your change to the issue probably already addresses my feedback 😂

[2018-03-13 18:29] kzu commented on #6671
he, sorry, I submitted the issue too quickly :)

[2018-03-13 18:31] kzu commented on #6671
It seems like my workaround wouldn't work because of https://github.com/NuGet/Home/issues/6369#issuecomment-354518983 though, so I think this is still valuable

[2018-03-13 18:56] livarcocc opened #6672 "Packing a NuSpec file"
_From @jaredpar on March 13, 2018 2:47_

I'm converting a part of our build which depended on using `nuget pack` on a nuspec file directly to use `dotnet pack`. I've read a number of threads on this, including #2170, and none seem to fit the scenario I have here.

The nupkg I'm trying to build is for the Roslyn compiler tools. This is a collection of projects which are built separately. There is n

[2018-03-13 18:56] livarcocc commented on #6672
_From @jaredpar on March 13, 2018 3:6_

Offline another user pointed out I can avoid the build by specifying `--no-build`. That gets me a step closer but now I hit the following:

/Users/jaredpar/code/roslyn/Binaries/Tools/dotnet/sdk/2.2.0-preview1-007622/Sdks/NuGet.Build.Tasks.Pack/build/NuGet.Build.Tasks.Pack.targets(204,5): error : Value cannot be null or an empty string. [/Users/jaredpar/code/

[2018-03-13 18:56] livarcocc commented on #6672
_From @dasMulli on March 13, 2018 3:26_

I've had success using

[code]
(equivalent of `--no-build`)

Note that instead of a .nuspec, you could also use `<None>` / `<Content>`msbuild  items to specify the items to pack, giving more control over the properties that flow into the nupkg form the csproj file instead of needing to define additional `<NuspecProperties>` (msbuild property). Example: http

[2018-03-13 18:56] livarcocc commented on #6672
_From @jaredpar on March 13, 2018 3:30_

Turns out the previous error was thrown by the NuGet task. The stack is truncated by default (why?). Can enable it by defining `%NUGET_SHOW_STACK%`

[code]

Looks like I don't have the version of the package specified. Probably could use a better error message here.

[2018-03-13 18:56] livarcocc commented on #6672
_From @jaredpar on March 13, 2018 3:55_

@dasMulli I've tried both of the no build approaches and I still end up with errors like this:

error : The file 'E:\code\roslyn\Binaries\Debug\Dlls\Bootstrap\Bootstrap.dll' to be packed was not found on disk. [E:\code\roslyn\src\NuGet\Bootstrap.csproj]

Understood. Have a [PR out](https://github.com/dotnet/roslyn/pull/25388) to move us to 2.1.300.

[2018-03-13 18:56] livarcocc commented on #6672
_From @jaredpar on March 13, 2018 5:4_

Eventually got this file working

https://github.com/dotnet/roslyn/pull/25440/files#diff-2516ac947c1fcde05dc55e774d5b343b

Can't find a way to avoid building this project though. The pack operation seems to require the DLL being on disk before it will proceed.

[2018-03-13 18:57] livarcocc commented on #6672
_From @dasMulli on March 13, 2018 5:57_

[code]

could help here, it avoids the msbuild calls to the various output groups

[2018-03-13 18:57] livarcocc commented on #6672
_From @tannergooding on March 13, 2018 14:42_

Yes. If you are just creating a wrapper project that is only used to pack a nuspec, you should specify: IncludeBuildOutput=false.

[2018-03-13 18:57] livarcocc commented on #6672
_From @tannergooding on March 13, 2018 14:42_

Additional info about the Metadata properties available can be seen here: https://docs.microsoft.com/en-us/dotnet/core/tools/csproj#nuget-metadata-properties

[2018-03-13 18:57] livarcocc commented on #6672
This has come up before: supporting nuspec directly without a csproj file. I suggest filling an issue on nuget/home for that.

[2018-03-13 18:57] livarcocc commented on #6672
Moving this issue to NuGet.

The ask is to have support for packing based on a nuspec file independent of a msbuild project file.

[2018-03-13 19:05] rohit21agrawal commented on #6672
closing as duplicate of : https://github.com/NuGet/Home/issues/4254

[2018-03-13 19:05] #6672 closed, assigned to nobody

[2018-03-13 19:07] rohit21agrawal commented on #6666
About the backup folder, the addition of guid prefix has been done to avoid accidentally deleting user data as Backup is a very generic folder name. I don't think creating multiple backup folders should be too big of an issue.

[2018-03-13 19:07] tannergooding commented on #4254
FYI. @jaredpar

[2018-03-13 19:08] #6663 closed, assigned to jainaashish

[2018-03-13 19:11] rohit21agrawal commented on #6670
@AArnott have you tried this with NuGet.exe 4.5?  Just want to make sure this is a regression on our end or not.

[2018-03-13 19:16] rohit21agrawal commented on #6671
@kzu would gladly accept a PR.

[2018-03-13 19:23] jaredpar commented on #4254
As someone who just ran into this, have to say this is a major pain point in taking our repository cross platform. We have ~30 packages that are all driven by using `nuget pack nuspec`. Moving to `dotnet pack` is a non-trivial operation and when complete will be demonstrably slower than the old infrastructure.

In particular it's non-trivial because there is no comprehensive documentation availabl

[2018-03-13 19:25] rohit21agrawal commented on #4254
@jaredpar the documentation is here: https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#packing-using-a-nuspec

Can i ask what were the issues you encountered when trying to pack using csproj + nuspec? You mentioned you actually were happy with the ability of being able to pass the nuspec file as a property through csproj.

[2018-03-13 19:29] natemcmaster commented on #4254
The point of this bug is that we often want to pack WITHOUT a .csproj file. Creating a dummy .csproj just so we can invoke pack seems like an additional hoop we shouldn't need to jump through.

By the way, in aspnet we decided to workaround this by creating an xplat tool to pack a nuspec directly. https://github.com/aspnet/BuildTools/blob/dev/modules/KoreBuild.Tasks/PackNuSpec.cs

[2018-03-13 19:33] rohit21agrawal commented on #4254
@natemcmaster yes I do understand what the point of the bug is , I am just trying to understand what difficulties @jaredpar faced in particular

[2018-03-13 19:33] jaredpar commented on #4254
@rohit21agrawal

That documentation is incomplete. Areas it does not cover:

1. How do I avoid doing a build every time I pack? Or avoid builds at all. Can't see any good justification for having a new DLL in my output just so I can zip up my NuPkg.
1. How should I handle the case where my NuSpec file has no relation to any single project in my tree? Think of tools which can't be expressed as a cs

[2018-03-13 19:38] AArnott commented on #6670
This fails on 4.1 and 4.5.1 of nuget.exe as well. So I wonder if it's a machine configuration vulnerability of nuget.exe. I vaguely recall that (at least past versions of) nuget.exe is sensitive to GAC'd copies of some assemblies.

[2018-03-13 19:40] dasMulli commented on #4254
This has come up before on the SDK repo not only for packing a NuSpec, but for creating "meta-packages" that don't have build output but only package references.

Since MSBuild 15.6 introduced a NuGet SDK resolver and https://github.com/Microsoft/MSBuildSdks contain SDKs for projects without assemblies (`NoTargets` and `Traversal`), they could maybe be extended with NuGet support so that project-f

[2018-03-13 19:42] rohit21agrawal commented on #4254
@jaredpar for now I have updated the docs to suggest a way of not building when using a nuspec to pack. ( https://github.com/NuGet/docs.microsoft.com-nuget/pull/755 ) and your question in 3) about what kind of project file and TF to use in the dummy csproj.

[2018-03-13 19:50] jaredpar commented on #4254
@rohit21agrawal commented on your updated docs. They are incorrect. There is no way I can find to avoid at least restoring the project.

Here are the files I'm using for context:

example.csproj
[code]

example.nuspec
[code]

The command lines I've tried:

[code]

This is basically where I spent hours of my life last night. The docs are incomplete and there is no comprehensive sample that gives yo

[2018-03-13 19:52] rohit21agrawal commented on #4254
you are right, I'll send out an update in a bit. Turns out you do need to restore atleast once, and if you don't want to build at all, you also need to pass ``` /p:IncludeBuildOutput=false ```

[2018-03-13 19:59] AArnott commented on #6670
BTW this isn't just the VSSDKTestFx repo. It's failing everywhere on this machine, which further makes me think it's nuget.exe vulnerability to some machine configuration.

[2018-03-13 20:02] rohit21agrawal commented on #6670
Looking at the call stack, this is owned by VSTS.

Cc: @jeffkl @zachrunner

[2018-03-13 20:04] AArnott commented on #6670
When I copy newtonsoft.json.dll,8.0.3 to the directory that contains nuget.exe and CredentialProvider.VSS.exe, it works.
I was using 0.25.0 of CredentialProvider.VSS.exe. When I copied 0.34.0 down of that .exe, and deleted the .config file I had next to it, it started working again.

[2018-03-13 20:04] AArnott commented on #6670
The CredentialProvider.VSS.exe.config file was a workaround for the newtonsoft.json.dll bug I remember hitting before. So with the newer version perhaps the workaround is no longer needed. Since I'm on the latest version of the tool now and it works, I'll close the issue.

[2018-03-13 20:04] #6670 closed, assigned to nobody

[2018-03-13 20:15] dtivel commented on #6643
Reopening to track the [4.6.x fix](https://github.com/NuGet/NuGet.Client/pull/2088).

[2018-03-13 20:38] #6652 closed, assigned to dtivel

[2018-03-13 20:44] #6643 closed, assigned to dtivel

[2018-03-13 21:20] GKBelmonte commented on #6614
Sorry, I wasn't super clear.
PrivateAssets for ProjectReference did not work, the runtime-dependency (non-transitive reference) gets copied (as expected), but at runtime it isn't found.
This is dotnet's problem, not your fault. I'd give you more info, but my VS is broken since I updated it in the weekend.
(I updated it in fact to check if it was just a bug that was fixed).

Not NuGet end, I think

[2018-03-13 21:30] justcla opened #6673 "Warn users of likely breaking changes when updating to new major versions"
Recently we’ve had lots of users complaining that their projects broke when they updated their Bootstrap NuGet package from v3 to v4.

The root problem is that there are breaking changes between the major versions of Bootstrap. However, there was no way for a user to know that when updating via the NuGet manager.

Ultimately, a user should be careful when updating NuGet packages, as any change in

[2018-03-13 23:46] JVimes commented on #6657
I'm using [ProGet](https://inedo.com/proget/download) (freemium NuGet server). Nothing was shown in Fiddler when I clicked the refresh button. The Browse tab got a response showing the new package version, `16.0.1`, while the UI still shows the old version `16.0.0`. VS 15.6.2 just rolled out to me, same behavior.

Here's the HTTP transaction:

[code]

[2018-03-14 00:01] conioh opened #6674 "NuGet won't install on VS 2015 Integrated Shell"
## Details about Problem

NuGet product used: NuGet Package Manager for Visual Studio 2015

NuGet version: 3.4.4.1321

VS version: 2015 Integrated Shell

OS version: Windows 10 x64 v1709 (16299.192)

Worked before? If so, with which NuGet version: Worked way back. Don't remember version

## Detailed repro steps so we can see the same problem

1. Get a machine (or a VM) without Visual Studio.

1. I

[2018-03-14 00:30] DHowett-MSFT commented on #5929
One of our consumers over at [WinObjC](https://github.com/Microsoft/WinObjC) is hitting this during a `nuget.exe restore` on **VS 15.6**.

I can reproduce it with the following configuration:
* `Dll1` (C++ Universal Windows DLL)
  * Depends: `Lib1`
  * `project.json` specifies `uap10`
* `Lib1` (C++ Universal Windows Lib)
  * Depends: `RuntimeComponent1`
  * `project.json` specifies `uap10`
* `Runt

[2018-03-14 03:11] kzu commented on #6671
perfect. will do. thanks!

[2018-03-14 03:45] jaredpar commented on #4254
@rohit21agrawal thanks for updating the docs.

Overall though this still seems like a less than ideal situation. Have to add and restore a project that has zero functioning code just to continue using our nuspec files cross platform or adopt the CLI.

[2018-03-14 04:05] karann-msft commented on #6666
Rename the folder to "migration backup" or something more exotic if that's your concern. At the very least, remember the folder you created since you know that there would be no user data in that and use that for subsequent migrations.
In my opinion, change the folder name and call it good unless we are using this as a workaround for some other issue.

[2018-03-14 10:52] ektrah commented on #6645
`runtimes/{rid}/native` *does* work with .NET Framework &mdash; under very narrow, undocumented conditions. It's a mystery.

Any kind of official information on this would be highly welcome.

[2018-03-14 11:23] logichaos opened #6675 "content files are not being included in old format project"
NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet Version: 4.3.0.4406

VS version (if appropriate): 2017

OS version: Version 10.0.14393

I am trying to create a nuget  package that will add content to a project. I have followed many online tutorials on how to do it, and ended up with the following:

folder layout>

->NugetPackage.nuspec
->TestData\\
-->some fil

[2018-03-14 11:32] daerhiel commented on #6651
I have fixed that by changing Docker file from
[code]

to
[code]

[2018-03-14 12:01] christiansparre commented on #6651
Yeah I thought that too, but then you are faced with the following when using the Docker Tools for VS stuff.

`/src/docker-compose.dcproj : error MSB4236: The SDK 'Microsoft.Docker.Sdk' specified could not be found.
ERROR: Service 'someapp' failed to build: The command '/bin/sh -c dotnet restore SomeApp.sln -nowarn:msb3202,nu1503' returned a non-zero code: 1`

You could then try to exclude the `do

[2018-03-14 12:44] martore commented on #6651
[code]

**Dockerfile**
[code]

**Output [docker-compose up]**

[2018-03-14 14:53] fourpastmidnight commented on #5838
Just posted on the feed back site on ticket 488078 that this has happened yet again upgrading from 15.6.0 to 15.6.2.

[2018-03-14 15:03] gerektoolhy commented on #6335
this is confusing:
[code]

What was the reasoning to make `install` behave differently depending on the argument passed?  I would expect `install` to behave same way - either resolve all packages, or not, but not both.

[2018-03-14 15:24] christiansparre commented on #6651
As @martore shows above it is not only an issue on 2.1 preview 1. The just released 2.1.101 sdk seems to be breaking the builds :(

[2018-03-14 15:40] MaximRouiller commented on #5934
Any updates on the status of those features?

[2018-03-14 16:00] mattleibow opened #6676 "What is the best way to pack an assembly as a reference assembly?"
I am building a multi-targeting project which has (for this example) 4 platforms:
 - netstandard1.0
 - uwp
 - ios
 - android

The current `/t:Pack` operation is fine and works well. However, I am wanting to make the netstandard library a reference library and not include it in the app build output. The reason for this is that I would like to make the package "extendable" to other developers. I wil

[2018-03-14 16:24] m-j opened #6677 "Nuget using Mono fails to accept self-signed certificate"
Please read the following information before posting the issue.

## Details about Problem

NuGet product used: NuGet.exe

NuGet version (x.x.x.xxx):  4.5.1.4879

Mono version: Mono JIT compiler version 5.0.0

OS version (i.e. win10 v1607 (14393.321)): Ubuntu 16.04 64-bit

## Detailed repro steps so we can see the same problem

1. Create ssl certificate using openssl use it to encrypt https traffic

[2018-03-14 18:48] emmellee commented on #5773
This support for mutual SSL authentication is sorely needed by the DoD community.

[2018-03-14 20:40] jbo1984 commented on #5773
This support for mutual SSL authentication is needed by the DoD community.

[2018-03-14 20:50] aschoenborn commented on #5773
My team could really use this feature

[2018-03-14 21:03] bjorkstromm commented on #6150
👍 About to bump @aelij's package to 4.6.0 (currently at 4.3.0)

Yep! There's definitely a need for this. I'd think @daveaglick also would be interested in this for Wyam.

[2018-03-14 21:52] #6619 closed, assigned to PatoBeltran

[2018-03-14 22:22] sean-gilliam commented on #5773
This feature would go a long way in helping our team resolve an issue we're having with using nuget in several of our projects.

[2018-03-14 22:56] jainaashish commented on #6657
if this is your public feed then can you give me a repro? And are you saying Browse tab shows new version but install/update tab doesn't?

[2018-03-14 23:25] ericstj opened #6678 "NuGet is munging URL sources when passed in from the commandline"
## Details about Problem

When passing in an HTTP URL source preceded by a local source NuGet is munging the URL.

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
dotnet.exe

NuGet version (x.x.x.xxx):
4.7.0.4927

dotnet.exe --version (if appropriate):
2.1.300-preview2-008349

OS version (i.e. win10 v1607 (14393.321)):
win10 v1709 16299.248

Worked before? If so, wit

[2018-03-15 00:09] emmellee commented on #4387
@zhili1208,  @joelverhagen, @rrelyea, could I persuade you and your nuget team members to take a renewed interest in support for ssl certificates?  My organization wishes to create nuget packages for release to our internal feed provided by our TFS Server.  The DoD relies heavily on the use of smartcards and CA certs and, like any DoD webserver, our TFS Server requires mutual ssl authentication.

[2018-03-15 03:47] Jericho opened #6679 "How to get the list of owners of a given package on nuget.org"
How can I get the list of owners of a given package hosted in nuget.org? What I'm looking for is the information circled in red in this screenshot:

![sshot-14](https://user-images.githubusercontent.com/112710/37443249-5c16cc6e-27e1-11e8-8111-888309c05edc.png)

When I query nuget with the following code, the `Owners` property is always null. So I'm wondering if there is an alternative?
[code]

[2018-03-15 07:32] nkolev92 commented on #6665
Looking at [this](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Build.Tasks/NuGet.targets#L239-L261) here, the difference between the 2 paths is that we don't do continue on error in the RestoreUseSkipNonexistentTargets= 'true' case.

Now I'd assume that's because SkipNonexistentTargets="true" should handle it.

It seems like we're missing a SkipNonexistentProjects in there (

[2018-03-15 07:44] nkolev92 commented on #6665
Some more investigation:

[code]
Fails if I'm calling a different top level target from the failing one.

Works just fine if I call the failing target directly.
[code]

Basically the issue comes down to the fact that SkipNonExistentTargets ends up erroring when all imports cannot be resolved.

Is this the expected behavior?
@jeffkl @andygerlicher?
Anything we can do to mediate this?

[2018-03-15 08:10] nkolev92 commented on #6651
The issue arises due to the fact that not all targets can be loaded during the CLI restore, and that breaks an MSBuild optimization that's supposed to help us detect projects that are restore incompatible.

As a temporary workaround you can try running restore with

[2018-03-15 09:19] oalukin opened #6680 "NuGet.exe damages project files during update command"
NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe

NuGet version (x.x.x.xxx): 4.5.1.4879

OS version (i.e. win10 v1607 (14393.321)): win7 SP2, win10 v1709

Worked before? If so, with which NuGet version: bug exists in 3.5.0.1996, was not able to test on earlier versions

NuGet.exe update command breaks project files in the following cases:
- Package has conte

[2018-03-15 10:55] m-j commented on #6677
Update: I have tried doing the same with proper certificate from ssl.com. Results are the same: `tlstest.exe` works fine but `nuget install` fails. Is nuget not using monos certificate store?

[2018-03-15 12:14] peterwake commented on #3324
I agree .. this is ridiculous. I shouldn't have to be thinking about this kind of thing.

[2018-03-15 13:06] karthikanandan opened #6681 "“500 internal server” problem instead of return the “No Packages found” message in NuGet server hosted application."
Hi Team,

We are configured our own NuGet feed using NuGet Server.
We have hosted nearly 20 sub-applications in our server. each application is induvial NuGet feed.

**Issue**:
While installing the package it returns 500 internal servers” problem instead of return the “No Packages found” message in NuGet server-hosted application.

**Issue reproduce case**:

We have configured multiple feeds below

[2018-03-15 14:19] GuyWhoKnowsTheGuy opened #6682 "[Area:NuGetizer] Microsoft.NuGet.targets requires reference to .NET Framework 4.0"
Please read the following information before posting the issue.

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
Visual Studio 2017 Build Tools (15.6.82.30579)
Jenkins 2.89.4

NuGet version (x.x.x.xxx):
4.5.1.4879 (used to restore in build process)

dotnet.exe --version (if appropriate):
N/A

VS version (if appropriate):
N/A

OS version (i.e

[2018-03-15 14:30] christiansparre commented on #6651
Thanks @nkolev92, it works! I can get on with trying out 2.1 :)

[2018-03-15 15:34] JohnGalt1717 commented on #4459
As this is, I don't think it really works.

The version needs to be automatically incremented after every successful push otherwise this just blocks on a 409 error.

Anyone have any ideas on how to update the version properly?

[2018-03-15 15:37] kelvinvm commented on #4459
I'm using an Visual Studio extension called
[Automatic Versions 1](https://marketplace.visualstudio.com/items?itemName=PrecisionInfinity.AutomaticVersions)

[2018-03-15 16:10] JVimes commented on #6657
@jainaashish It's my company's private repo, unfortunately. It might be faster for you to install ProGet locally ([download](https://inedo.com/proget/download)), but I'll try to set up up a public repository somewhere if your time is limited.

As for the browse tab, it shows the old version. Everywhere in Visual Studio shows the old version (UI, PowerShell). Only nuget.exe shows the new version.

[2018-03-15 16:36] qJake commented on #4459
@JohnGalt1717 One way you could structure it is to have a separate project configuration called "NuGet" or "Deploy" or something to that effect, and only deploy if the configuration is set to that.

That way you don't inadvertently build in Release mode and have the package push before you're ready, and you can prepare the version numbers ahead of time.

Some of our builds also auto-increment the

[2018-03-15 17:00] lakario commented on #6651
Throwing in a me too on this issue as we ran into a hard stop with it last night after pulling the updated 2.0 tag for aspnetcore-build. The above switch from @nkolev92 added to the `dotnet restore` command in the generated Dockerfile fixes the issue.

Additionally, the latest version of Visual Studio 17 (15.6.x) changed the ASP.NET Core 2 Dockerfile template to be defined with `dotnet restore -no

[2018-03-15 18:13] JeremyOne commented on #6459
I came across this same issue when I attempted to put nuget.exe in `%WINDIR%\System32` to make it accessible in `%PATH%` and all terminals. I solved the issue by moving nuget.exe to another PATH location:
`%USERPROFILE%\AppData\Local\Microsoft\WindowsApps`

[2018-03-15 18:20] emmellee commented on #5773
Besides offering a mechanism for an application such as TFS/VSTS to "pass" client certificates to nuget for use during ssl client authentication, could you also ensure the nuget client can utilize an ssl client certificate  from a smartcard device?  VS 2015 appears to do this well.

[2018-03-15 19:17] nkolev92 commented on #6665
We need to do further investigation to understand all the impact here.

We can potentailly revert to not using SkipNonexistentTargets, but we need to do some quick performance analysis, with and without the optimization.

/cc
@rrelyea
@mikeharder

[2018-03-15 19:20] nkolev92 commented on #6651
We're actively working with the ASP.NET docker folks to get a fix soon.

@natemcmaster

Can you please follow up here when that's ready?

[2018-03-15 19:33] jainaashish opened #6683 "Make all telemetry events key names constants instead of using field names"
Currently across telemetry events, all the key names are using `nameof` operator to rely on field names which can change the schema if we ever refactor any of these fields. So convert them to dedicated constants.

eg:
in src/NuGet.Core/NuGet.Packaging/Telemetry/PackageExtractionTelemetryEvent.cs
AddPiiData(nameof(PackageId), packageId.Id.ToLowerInvariant());

[2018-03-15 19:35] natemcmaster commented on #6651
See https://github.com/aspnet/aspnet-docker/pull/389. Once this is merged, it typically takes about an hour for these changes to make it up to Docker Hub.

[2018-03-15 20:32] PatoBeltran opened #6684 "Add tests for nuget mssign"
There are no end to end scenarios covered for the `sign` and `reposign` command in the mssign exe.

[2018-03-15 20:37] mikeharder commented on #6665
@nkolev92: I should be able to run build perf tests pretty quickly, just let me know what you want me to measure.

[2018-03-15 21:39] nkolev92 commented on #6665
@mikeharder Sounds great.

The idea here is that the "quick" fix for CLI would be not use the SkipNonexistentTargets optimization, and use the old ContinueOnError approach of discovering compatible projects.
That one is more fault tolerant, which is appropriate only for the CLI scenario.

The ask here is:

- Restore with RestoreUseSkipNonexistentTargets="true", which is the default currently,
and

[2018-03-15 21:49] whitneyland commented on #3324
Here’s a summary and a few reasons I believe it’s not being handled correctly.  Hope it can help as a quick catch up for anyone interested.  @Emgarten @karann-msft

https://medium.com/@whitneyland/is-microsoft-managing-oss-initiatives-well-the-case-of-issue-3324-b83247b40dbc

[2018-03-15 21:49] rrelyea commented on #4695
Bumping priority to 0 as per Tomas Matousek request.
He says: The workaround for it is adding extra complexity in our infrastructure.

[2018-03-15 21:52] tmat commented on #4695
We are launching a new instance of msbuild via `Exec` task:
https://github.com/dotnet/roslyn-tools/blob/master/sdks/RepoToolset/tools/Build.proj#L147-L159
The workaround is not quite correct as it is not escaping arguments, so it doesn't work in presence of spaces in paths etc.

[2018-03-15 22:02] johnegbert commented on #6657
Have same issue here. Just seem like a caching issue. Please expire cache when refresh button is pressed.

[2018-03-15 22:06] DarkChaos commented on #3664
I tried @arunjv's recommended way, but this doesn't work for TFS2018.
Tomorrow I'll try it against VSTS.

[2018-03-15 22:15] rainersigwald commented on #4695
@tmat Talk to me before you change that multi-process thing. It's secretly saving you from some bugs.

[2018-03-15 23:11] richardgavel commented on #2852
We have a content-only NuGet package which contains 2 ZIPs totalling 750 MB that gets created as part of our CI pipeline. Considering the frequency of change of the mainline branch, a 40 sec difference does matter. I don't necessary need command line setting of the specific compression level. You could just say, use NoCompression on a file-by-file basis depending on the extension.

[2018-03-15 23:40] tmat commented on #4695
@rainersigwald Interesting. What are those bugs?

[2018-03-15 23:44] tmat commented on #4695
We don't always do it so either we are hitting the bugs and we haven't somehow noticed or we are lucky and not hitting them

[2018-03-16 00:31] jainaashish commented on #6657
@JVimes that's ok I could repro it locally for install/update tabs. But browse tab always got the latest package version. So can you again try with browse tab? And with browse tab only, you can update existing package version, it shows a up arrow right there on the package which will allow you to update that package. You can use this workaround for now.

[2018-03-16 01:55] JVimes commented on #6657
@jainaashish Thanks for looking into it. I definitely do not see the new version on the Browse tab (screenshot below). Race condition, maybe? 🤔 My workaround is `Install-Package` passing the new version via `-Version` arg (even though `Find-Package` doesn't show it).
![image](https://user-images.githubusercontent.com/6148201/37499595-2d970738-288a-11e8-9683-0a43984abf62.png)

[2018-03-16 02:50] crystalcodesoftware commented on #2351
Um, here's some feedback to support this: please?

The issue description and prescribed solution are pretty straightforward, but if an example is needed:
[code]
Instead of:
[code]

[2018-03-16 03:12] anangaur commented on #3324
Had a conversation with @AndreyAkinshin during MVP summit and as discussed, we have started a cross team discussion around how to solve this issue. It seems this might not be just a NuGet issue but may have its tentacles spread across other tooling. Will update the thread on the progress made soon.

[2018-03-16 04:01] GanesanRengasamy commented on #6668
Hi All,

Please update me Is there any suggestion regarding this?

Thanks,
Ganesan R.

[2018-03-16 06:57] v-luzh commented on #6286
It had been fixed on D15.7 27515.00+NuGet Client Dev 5023.

[2018-03-16 09:29] arunjvs commented on #3664
Please note that API keys mean different things based on your server. For VSTS, a `Personal Access Token (PAT)` with read access to nuget endpoints is what I meant.

[2018-03-16 09:31] chester89 commented on #6027
well, I still have the error after setting the env.variable. may be you have other suggestions @pimanac?

[2018-03-16 09:44] AndreyAkinshin commented on #3324
@anangaur, I still think (as I suggested two years ago) that the best possible workaround is the `IFileSystem` interface (which is existed in NuGet 2.x). We can create "smart" implementation of such interface that solves the "260 characters" limitation with the help of the `\\?\` prefix. We use this approach in R#/Rider for years, everything works fine. Also, this approach is already implemented i

[2018-03-16 12:06] CoskunSunali commented on #5446
@mishra14 It seems that I have never replied to your comments, which was unintentional.

It has been a long time since I created the issue and found some workarounds which I currently cannot remember.

So issue is closed on my end but I am glad it helped you figure out something else that you need to fix (order of parameters).

Thank you for your assistance and replies.

[2018-03-16 12:21] goldmont opened #6685 "Cannot build NuGet package: "GetPackageTargetPath does not exist in the project" error."
NuGet version: 4.3.0.4406
Visual Studio for Mac version: 7.4 (build 1033)
OS version: macOS 10.13.3

Hi, I'm trying to build my private NuGet package but everytime I build my cross-platform Xamarin library using Visual Studio, the **_"GetPackageTargetPath does not exist in the project."_** error occurs. I made a tiny sample project containing just the Nugetizer. Just try to build.

[code]

Sample

[2018-03-16 13:06] ievgennaida opened #6686 "Nuget skips update of csproj file when assembly is ended with ".resource""
Hi.
I do an update of the package mylib.Resources and package.config is updated but .csproj does not.

 mylib was updated from 4.0.30.0  to 4.0.33.0

Visual studio 2017.
Package Manager Console Host Version 4.5.0.4685
(also was tested with latest nuget.exe)

Nothing is updated for a csproj file:

One project in the solution has next line (also not updated):

[code]

But packages.config is updated:

[2018-03-16 16:19] whitneyland commented on #3324
@anangaur appeciate the response, but it’s just not apparent how this requires a complicated solution, cross microsoft product code changes, or detenticlization.

Here’s a challenge for you: Let @AndreyAkinshin and I come on campus for a week. If he’s game, I bet with just two people combining ideas we have a solution implemented within a week.

I’m not talking about some proof of concept hack, l

[2018-03-16 16:44] peterwake commented on #3324
It will amuse you to know I solved my problem by creating a user account with two characters and installing my repo in c:. Old school fix!

[2018-03-16 17:20] kzu commented on #6058
You could also extend the VSIX supresssion list from your own nuget.visualstudio package-provided targets instead and keep control of what gets excluded.

It might also be a good idea to providing binding redirects, so that those extensions keep working as the main extension revs its version.

[2018-03-16 17:32] rohit21agrawal opened #6687 "fix apex build error"
apex tests have a build break as a result of : https://github.com/NuGet/NuGet.Client/commit/748ceea1e4980aa4c8d40c04b71aaff380a11631

[2018-03-16 17:33] rohit21agrawal commented on #6679
@joelverhagen does the v3 feed not send the owners metadata?

[2018-03-16 17:36] kzu opened #6688 "IVsPackageRestorer does not restore"
In Xamarin, our project flavors use code like the following to trigger a restore as soon as a template is unfolded, since proper dependencies are required in order for designers, previewers and intellisense to work properly from the get go:

[code]

If the project has a package reference like the following:

[code]

The previous code will *not* cause the package to be restored.

You can test this

[2018-03-16 17:39] rohit21agrawal commented on #6676
@mattleibow i don't have an out of the box solution for you, but i can recommend a workaround.

1) build before you pack so it has build outputs for all 4 frameworks you are targeting.
2) when you pack using ```msbuild /t:pack``` , pass an additional property which indicates that this is packing. For ex ``` msbuild /t:pack /p:RandomProperty=true```
3) In your project file, condition your TargetFra

[2018-03-16 17:43] rohit21agrawal commented on #6676
However, this is a valid scenario and good feedback which makes me thing we should have out of the box support for something like this.

We currently have a property called ``` BuildOutputTargetFolder ``` , which can be changed to set build output to something other than ```lib```. However, that is an all or nothing switch, and based on this feedback, we should make this conditional on target fram

[2018-03-16 17:44] rohit21agrawal opened #6689 "Make BuildOutputTargetFolder target framework specific for pack targets"
We currently have a property called BuildOutputTargetFolder , which can be changed to set build output to something other than lib. However, that is an all or nothing switch, and based on this feedback, we should make this conditional on target framework.

So you could have something like :
[code]

[2018-03-16 17:45] rohit21agrawal commented on #6689
This is from the feedback from the bug : https://github.com/NuGet/Home/issues/6676

[2018-03-16 17:46] rohit21agrawal commented on #6676
i have filed an issue to track this feedback. Closing this issue as question

https://github.com/NuGet/Home/issues/6689

[2018-03-16 17:46] #6676 closed, assigned to nobody

[2018-03-16 17:50] rohit21agrawal commented on #6668
@GanesanRengasamy NuGet always picks the most compatible target framework group from the package, which in your case is net45.

If you want to make your project use assets from net40, change your project target framework, to something less than net45, or remove the net45 folder from the package

[2018-03-16 17:50] #6668 closed, assigned to nobody

[2018-03-16 18:10] rohit21agrawal commented on #6686
@ievgennaida are you using nuget.exe to update ? If so, nuget.exe update doesn't update project files, only doing so from VS can update project files in packages.config
If not, is there a repro project you can share with us?

[2018-03-16 18:14] rohit21agrawal commented on #6675
can you attach a repro project for old style csproj (PackageReference based) which does not work for you?

[2018-03-16 18:19] rohit21agrawal commented on #6659
what are we going to do about packages which have both then?

[2018-03-16 18:50] anangaur commented on #6659
As I mentioned this would be **fallback** i.e. only if the `contentfiles` folder is not present.

[2018-03-16 18:52] rohit21agrawal commented on #6659
supporting content folders in PackageReference is basically killing the contentFiles folder. Do we really want to go down that route?

[2018-03-16 18:56] anangaur commented on #6659
**Note:** This option is not the default option and will not be the default option. So recommendation for package authors is still to use the `contentFiles` folder.

This option is for users who are stuck with a package that does not have the `contentFiles` folder, they can make the `content` folder work.

[2018-03-16 19:04] mattjohnsonpint commented on #4581
This issue seems to be tracked in dotnet/standard#481

[2018-03-16 20:13] zhili1208 commented on #6524
CommandLine is done in https://github.com/NuGet/NuGet.Client/commit/4af25d047d1b63a54608498b5dc5e5e254c73c20

[2018-03-16 20:19] ievgennaida commented on #6686
Unfortunately we have huge projects  and I have constantly some problems with an csproj update.

I will try to build and debug nuget console locally first. In case of failure I will create small copy of the project and see if it will still occurs.

[2018-03-16 20:30] veikkoeeva commented on #6645
Cross-referencing https://github.com/NuGet/Home/issues/5910. Basically the same issue.

[2018-03-16 20:55] StingyJack commented on #6659
Is that "don't misuse content ", or is that "xdt transforms will not have an equivalent in package ref"?

[2018-03-16 21:06] StingyJack commented on #6507
How does this have anything to do with Packages.Config?

[2018-03-16 22:15] nkolev92 commented on #6659
@StingyJack
It's more of the don't misuse content.

xdt transforms work differently in PR as shown in this example.
https://github.com/NuGet/Samples/tree/master/XDTransformExample/

[2018-03-16 23:09] wbrianwhite commented on #3324
I just lost 5 hours trying to rework a chocolatey package to deal with this.  If this limit is going to exist, it's unconscionable to have folder names like Microsoft.VisualStudio.TestTools.CUIT.Framework.Resources%2Cversion%3D15.6.27323.2%2Clanguage%3Den-US\ in microsoft delivered choco packages / nuget packages.  Don't torture me for no reason

[2018-03-16 23:15] wbrianwhite commented on #3324
https://blogs.msdn.microsoft.com/bclteam/2007/03/26/long-paths-in-net-part-2-of-3-long-path-workarounds-kim-hamilton/ Here is some guidance from Microsoft from 11 years ago about how to work around this when you find it.  Nuget/chocolatey team, why can't you use the unicode prefix on file names?

[2018-03-17 00:04] nkolev92 opened #6690 "Inconsistency in ProjectStyle detection among VS and the targets"
In VS,
a project is legacyPR if the project style is set to PackageReference OR has PackageReferences.

In the targets, we immediately bail if RestoreProjectStyle is set.

This could lead to a funny experience with project like the below.

[NuGetRepro.zip](https://github.com/NuGet/Home/files/1821070/NuGetRepro.zip)

The issue is  that package references conditions are not evaluated unless they are

[2018-03-17 01:26] StingyJack commented on #6659
I use xdt for config transforms for at least one package, and that example doesnt look much different than I already have (its +targets, but -uninstall). Are the [docs](https://docs.microsoft.com/en-us/nuget/create-packages/source-and-config-file-transformations) pages incorrect then about config files?

[2018-03-17 01:27] lifengl opened #6691 "NuGet build task passes strong type as parameter to msbuild logger"
Repro:
Turn on design time build log, and open Roslyn.sln in visual studio.
You will see lots of failure messages like:

16:45:04.035 Verbose] - BuildManager - C:\Program Files (x86)\Microsoft Visual Studio\Preview\Enterprise\MSBuild\15.0\Bin\Microsoft.Common.CurrentVersion.targets(1603,5): error MSB4018: The "GetReferenceNearestTargetFrameworkTask" task failed unexpectedly.

System.TypeLoadExcept

[2018-03-17 02:14] jarrettv commented on #3664
I'm also having this issue on windows 10 (non container) and in a docker container using a jfrog artifactory.
** Version **
2.1.300-preview1-008174

This is preventing me from moving forward with a bitbucket pipeline. Also, dotnet nuget push and nuget restore works perfectly fine.

[2018-03-17 12:48] elmandodge commented on #6255
![error](https://user-images.githubusercontent.com/36224688/37555569-11c731fe-29f2-11e8-9434-694ac25429b7.JPG)

the same issue has happened with me in VS2017 Enterprise ..
Any clue to what has to be done ?

ps : i'm not planning on reinstalling as i have many plugins installed already .. i hope there is an easier fix

thank you in advance
Elman

[2018-03-18 04:01] jainaashish commented on #6255
This error is thrown when
- Solution is not open or
- Solution is not unsaved or
- NuGet doesn't support any project in that solution.

So provide mire details:
- Does this solution ever showed NuGet Manager UI in any other version of VS?
- Try with any other solution (or just create a c# class library) and see if that also throws or works?

[2018-03-18 04:58] loic-sharma opened #6692 "Improve error messages on malformed service indexes"
If the service index is missing a link to the registration service, NuGet will spit out the following error message on the dotnet CLI:

[code]

This error message is generated by an exception thrown by [`RegistrationResourceV3`](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Protocol/Resources/RegistrationResourceV3.cs#L34)'s constructor if the [RegistrationResourceV3Provider]

[2018-03-18 21:46] Athari opened #6693 "Referencing multiple package versions within one project with extern aliases"
I need to reference multiple versions of the same package within one project and use extern aliases to use them in code.

Reason: I'm building a package which I want to support multiple versions of a dependency. Having just one package simplifies usage and versioning of the package, but complicates code and uh... project architecture in my solution. More background and reasoning can be found in St

[2018-03-19 00:26] riverar opened #6694 "Adding ImageSharp (.NET Standard 1.1+) results in mind-boggling install experience"
# General
When adding ImageSharp to a .NET Framework 4.7.2 project, I'm confronted by a number of monstrous looking dialogs that give the impression I'm importing the entire .NET Core framework plus the packing peanuts it came in.

I [spoke with the vendor briefly](https://gitter.im/ImageSharp/General?at=5aaef27e458cbde5574cb535) and it wasn't clear who's at fault here. The project appears to corr

[2018-03-19 06:18] karthikanandan commented on #6681
Hi Team,

Any update on this?

Thanks,

[2018-03-19 11:33] logichaos commented on #6675
Sorry for the delayed answer, I didn't have access to the work pc on the weekend.

I have attached a project that references the testpackage. The output says that the installation is done, but there is no change in project structure (no content added).

Cheers and thanks for the interest in helping me out :-)

[OldProjectFormatWithPackageReference.zip](https://github.com/NuGet/Home/files/1824759/O

[2018-03-19 12:01] evil-shrike opened #6695 "contentFiles feature is broken"
Let's take the official sample "ContentFilesExample" from https://github.com/NuGet/Samples/tree/master/ContentFilesExample and build a package with contentFiles.
Then create a new project with `dotnet new console` and add the package via `dotnet add package ContentFilesExample --source path/to/ContentFilesExample/authoring `

**Expected result**:
Files from `contentFiles` folder are added into the

[2018-03-19 13:56] ievgennaida opened #6696 "Files are not added to a csproj if they are already exists in a directory."
I use TFS and visual studio 2017.
Package Manager Console Host Version 4.5.0.4685

I have two files distributed with my package: Properties\A.snk and Properties\Template.txt.
And there is no way to add those with nuget if they were excluded from csproj file.
 (csproj was not properly merged or files with such name already exists. )

Nuget never checks the csproj reference before they will be skipp

[2018-03-19 14:02] ievgennaida commented on #6696
`<Project ToolsVersion="4.0" DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">`

[2018-03-19 16:32] livarcocc opened #6697 "Wrong package dependency version If package dependency version is set to '*'"
_From @atanasa on March 19, 2018 15:28_

If package dependency version is set to '*', the version in the package spec is set to the version of the package instead of the dependency

**Steps to reproduce:**

1. Build the following project:

[code]

Where "EntityFramework" can be any other package (probably that is not part of the standard library).

2. run `dotnet build`

**Expected output:**
A pac

[2018-03-19 16:32] livarcocc commented on #6697
_From @atanasa on March 19, 2018 15:33_

This used to work in an earlier version of the SDK.

[2018-03-19 16:32] livarcocc commented on #6697
Moving this to NuGet for them to have a first look there. NuGet folks, if this is the SDK setting something wrong, just re-activate the original issue.

[2018-03-19 17:17] skolima opened #6698 "No dependencies generated for "classic" csproj using PackageReference syntax"
## Details about Problem

NuGet product used (NuGet.exe)

NuGet version (4.6.0.4971)

OS version (i.e. win10 v1709 (16299.309)):

Worked before? If so, with which NuGet version:
This doesn't depend on NuGet version, but on .csproj style used.

Projects using "classic" Visual Studio .csproj and packages.config file have a default dependencies information generated when packing, based on packages.co

[2018-03-19 18:27] nkolev92 opened #6699 "Enhance the IPC plugin protocol to add auth operation and auth message capabilities"
Cleanup the messages for the auth operation.
General protocol cleanup.

[2018-03-19 18:28] mishra14 opened #6700 "Integrate Verification API with Zhi's PR on RepoSign"
PR: https://github.com/NuGet/NuGet.Client/pull/2096

cc: @zhili1208

[2018-03-19 18:28] zhili1208 opened #6701 "Address the plugin lifetime management"

[2018-03-19 18:29] rohit21agrawal opened #6702 "Cross-plat plugin trust validation for nuget plugins"
Related to : https://github.com/nuget/home/issues/6642

Authenticode is not xplat, we need a way to verify trust between nuget and the plugins on in .netcore on linux/mac.

[2018-03-19 18:30] rohit21agrawal opened #6703 "Enable product construction to re-use already built artifacts"

[2018-03-19 18:30] nkolev92 opened #6704 "Discovery of plugins"
Discovery of plugins...how do we discover the plugin in MsBuild/nuget.exe

[2018-03-19 18:31] mishra14 opened #6705 "Add support for trusted signers in VS UI"
Spec task: https://github.com/NuGet/Home/issues/6524

[2018-03-19 18:33] nkolev92 opened #6706 "Protocol Cleanup - timeouts, plugin ordering, instantiation xplat"
- [x] timeouts
- [x] plugin ordering - outcome none in the convention based plugins. It's irrelevant. For ordering users should use env variables.
-  [x] cross plat instantiation.

[2018-03-19 18:36] rohit21agrawal opened #6707 "Remove gold bar for packages.config to packageref migrator until we determine the correct promotion strategy"

[2018-03-19 19:22] clittell commented on #6306
From the link:

You're getting 8.01.  Dependency resolution is breadth first, so the first one encountered wins.

[2018-03-19 22:04] andrescolodrero commented on #545
Some news coming from this?
We have a couple of DataWarehouse projects, when databases are changing very often.

I ended adding nuspec files (to pack a dacpac into our internal artifactory system) in each sqlproj, so the build process will create the nuget and send it to artifactory.

The project that needs external reference will have also a package.config file, that contains a definition or the

[2018-03-19 22:09] Sebastian1989101 commented on #6468
Same issue here with the latest Visual Studio 2017 update (15.6.3). It's really frustrating that such an expensive software has such a critical bug for so long. It's impossible to update NuGet packages through the UI at the moment you have to modify the *.csproj and *.packages file manually (at least for Xamarin.Forms (Android) projects.

[2018-03-19 22:26] khellang commented on #5877
I can't see this mentioned anywhere, but I assume this would work just as well from the CLI, right? Remember, not everyone uses Visual Studio these days 😉

[2018-03-19 22:33] nkolev92 commented on #5877
@khellang
packages.config installation/uninstallation works correctly only in Visual Studio.

Unfortunately the migration will only work in VS due to that limitation.

[2018-03-19 22:54] zhili1208 opened #6708 "VS2017 Hangs when updating NuGet packages"
from VSFeedback https://developercommunity.visualstudio.com/content/problem/216287/vs2017-hangs-when-updating-nuget-packages.html

[2018-03-19 23:13] #6687 closed, assigned to PatoBeltran

[2018-03-19 23:16] #6657 closed, assigned to jainaashish

[2018-03-20 00:06] rrelyea commented on #3324
Our ultimate shared goal is that the scenario works well end-to-end, and for that to happen, various VS components as well as other components integral to our ecosystem, will need to be adjusted to support long-paths. The situation is complicated by the fact that we need this to work in a reasonable way on Windows 7 as well. This topic is important all-up for VS, and we will track its status via t

[2018-03-20 00:54] davidnmbond opened #6709 "Feature Request: Publish to nuget directly from Visual Studio: Project | right-click | Publish"
Publishing to nuget should be available from the Project's right-click menu as the default action when clicking "Publish".

[2018-03-20 02:07] activa commented on #6468
This needs to be fixed ASAP. Not a word from Microsoft either, which is worrying.

[2018-03-20 03:01] IanMercer commented on #5877
Do we _really_ need a backup? In 2018? For source code? It's just one more annoying directory to delete before commit.

[2018-03-20 03:03] clairernovotny commented on #5877
@IanMercer you would be surprised...

[2018-03-20 04:08] NagarajMasub commented on #6681
@joelverhagen we are also facing the same issue, can you please update on this?
waiting for your reply...

[2018-03-20 08:01] khellang commented on #5877
@IanMercer I think a lot of people (most?) already have backup folders ignored. It's even [part of GitHub's .gitignore template for Visual Studio](https://github.com/github/gitignore/blob/master/VisualStudio.gitignore#L237) 😄

[2018-03-20 12:34] tobese commented on #6593
Is there any suggested workaround for this?
Thx
Tommy

[2018-03-20 14:01] fabich opened #6710 "project.assets.json doesn't have a target for .NETCoreApp,Version=v2.0"
## Details about Problem

NuGet version (x.x.x.xxx): 4.6.1.5019

dotnet.exe --version (if appropriate): 2.1.102

VS version (if appropriate):  15.6.3

OS version (i.e. win10 v1607 (14393.321)): Windows 10 Build 10.0.16299.309

Worked before? If so, with which NuGet version: Issue after upgrading to VS 15.6.3

## Detailed repro steps so we can see the same problem

1. Debug application -> all good

[2018-03-20 14:53] Peter-B- commented on #3050
In out team, we use VS2015 and VS2017 in parallel for various reasons. All of them are updated to the latest version of nuget available using the visual studio installer (Nuget 3.4 on 2015 and 4.6 on 2017).

We run into issues with broken builds because of x.y.z.0 nuget packages that get lost due to different paths in the packages folder. We didn't find a schema for predicting or fixing the issue.

[2018-03-20 15:33] Zorzin commented on #6710
I have the same problem when publishing to Azure. Building works perfectly fine. Everything was working fine, one deploy went ok until I made small changes (only in .cs files) and now get this error. New project with same files not working, previous version of app from git also don't work, but previously do. Removing bin, obj folders, clean, restore - I tried everything and still nothing.

My cspr

[2018-03-20 15:59] tmat opened #6711 "Update instructions for building and testing repos"
https://github.com/NuGet/NuGet.Client/blob/dev/README.md is missing test infrastructure requirement of .NET Core 1.0.5 being installed in the machine.

[2018-03-20 16:18] pici-masp commented on #6468
Same problem here.

[2018-03-20 17:06] jainaashish commented on #6468
This is under investigation, and the thread will be updated as soon as we've more information.

For now, please follow some of the workarounds already mentioned in this thread.

[2018-03-20 17:44] StingyJack commented on #3050
@peter-B- one of the suggestions in this thread was to have a script or utility correct the version number on the built package, before publishing it.

This is probably going to be the only way as the nuget team is clearly not interested in fixing the defect that was introduced.

[2018-03-20 17:51] zhili1208 commented on #6708
use vsfeedback to track, close this

[2018-03-20 17:51] #6708 closed, assigned to nobody

[2018-03-20 17:54] zhili1208 commented on #6709
this is a dupe of https://github.com/NuGet/Home/issues/4459

[2018-03-20 17:54] #6709 closed, assigned to nobody

[2018-03-20 18:11] livarcocc commented on #6710
@fabich does this fail for you if you run `dotnet build` or `dotnet publish` on your project from the command line?

@nguerrera

[2018-03-20 18:12] anangaur commented on #5602
@forki @isaacabraham Wanted to bring the conversation here :) The current proposal is having the lock file at project level with the intention to lock the transitive dependencies per project. However, I have heard the problems it could have at runtime and I am contemplating to bring it at solution level.

Currently NuGet restore does a project level restore - may be that has to change if we want t

[2018-03-20 18:18] livarcocc commented on #6710
@fabich how were you debugging the project you shared above? It is not an application. It does not have the OutputType property set to exe on it.

[2018-03-20 18:35] tstephansen commented on #5805
I know the people working on this are doing their best. I also agree that updating NuGet packages is extremely slow for me as well. I have a 34 project solution and it takes over an hour to update the packages. I'm would honestly be much happier just having some sort of progress bar telling me how long it will be until the process is complete.

[2018-03-20 18:39] davidnmbond commented on #4459
Publishing to nuget (with an easy way of configuring nuget.org credentials) should be available from the Project's right-click menu as the default action when clicking "Publish".

[2018-03-20 19:14] isaacabraham commented on #5602
@anangaur hi :-)

OK. I'll try to (briefly) outline some of the reasons that come to mind why I think locking dependencies at either project or solution level will be a mistake. I'm sure @forki will have his own thoughts as well.

1. If you lock at project level, at runtime, you'll be in the same precarious position you are now vis-a-vis dependency management i.e. you won't be able to guarantee th

[2018-03-20 19:15] Jericho commented on #6679
@joelverhagen can you help me figure out why the `Owners` property is always `null` and/or suggest an alternative to get the owners of a given package hosted on nuget.org?

[2018-03-20 19:24] ap0llo commented on #5602
I agree with @isaacabraham. I know of code bases for a single application split into multiple solutions with some of these solutions even overlapping, so locking dependencies neither at project level nor at solution level works in such scenarios.
Having a lock file at repository level (or a arbitrary file system subtree) sounds sensible to me

[2018-03-20 19:25] InteXX commented on #3050
@emgarten

Would you comment on @StingyJack's  assessment of your position:

"This reads as 'We broke it, but aren't willing to fix it. One of you can.' Is that really what is being said?"

[2018-03-20 19:38] wweeder commented on #4937
Any progress on this? package management is about automation... needing to manually write versions for every single dependency is a bit ridiculous.

[2018-03-20 19:39] sliepie commented on #5877
Is this gonna work for Asp.Net Website (WSP) projects? These projects have no csproj file and currently they have support for NuGet using a packages.config file.
If packages.config files are deprecated/removed in the feature, WSP projects have no story for using NuGet?

[2018-03-20 19:45] #6586 closed, assigned to nobody

[2018-03-20 19:48] fabich commented on #6710
No, I only receive an error when pressing F5 in VS or when running unit tests.
After running `dotnet build` I can run the application or unit tests again without any issues.
Until I do any changes (like deleting an empty folder) and the app won't debug again ...

This project is part of a Console Application.
But I most of the time test it with a unit test / integration test project in the same so

[2018-03-20 19:52] jainaashish commented on #6710
@fabich can you please set this `PROJECTSYSTEM_PROJECTOUTPUTPANEENABLED=1` in developer command prompt and start devenv from there? Then repro your issue, it will print out all the nomination details passed from Project system to NuGet in output window which will help narrow it down.

[2018-03-20 19:53] jainaashish commented on #6710
we are specifically looking for `TargetFramework` property value being passed

[2018-03-20 20:05] joelverhagen commented on #6679
Hey @Jericho, today there is no official way on NuGet.org to fetch the current list of owners on a package. This is a known shortcoming of our API and (in my own personal opinion) should be improved in the future. I will move this issue to the NuGetGallery repository to track this feature request.

[2018-03-20 20:05] #6679 closed, assigned to nobody

[2018-03-20 20:05] joelverhagen commented on #6679
Issue moved to [NuGet/NuGetGallery #5647](https://github.com/NuGet/NuGetGallery/issues/5647) via [**ZenHub**](https://www.zenhub.com/)

[2018-03-20 20:26] fabich commented on #6710
@jainaashish is this what you are looking for?
https://gist.github.com/fabich/ef49fb11e90b18b2e1e3492df9e07379

[2018-03-20 20:30] anangaur commented on #5602
@isaacabraham Thanks for the detailed reply. I am fully in agreement in what you mentioned above. This is something required as part of the following:

https://github.com/NuGet/Home/wiki/Manage-allowed-packages-for-a-solution-%28or-globally%29

This issue is primarily to lock down the transitive dependencies (at install time) so that restores are repeatable across space and time. I do see both of

[2018-03-20 20:46] joelverhagen opened #6712 "[Simple bug] Invalid signature file format message is not specific"
Suppose the signature file is compressed. The code is very nearly producing the error message:

[code]

However, only this error is showing:

[code]

`AssertValue` is being called like `errorMessagePrefix` is a string format. But it isn't.

[2018-03-20 20:59] isaacabraham commented on #5602
@anangaur Hi. Sorry - but no, that's not my recommendation really. My comment just above states:

So I hope I'm clear here - working at either projects or solutions will **not**, in my opinion, provide a satisfactory solution that is either simple to understand, consistent and repeatable.

Again, though, I'll repeat: That's my opinion. It's entirely up to you how you proceed.

[2018-03-20 21:04] anangaur commented on #5602
Sure. Thanks for the explanation. Will keep your recommendation in mind while I iterate over it. I will update the thread as we make progress. Appreciate your input here.

[2018-03-20 21:31] jainaashish commented on #6710
Thanks for sharing that! This looks right.

Can you share a sample repro solution to further analyze this issue?

[2018-03-20 21:32] jainaashish commented on #6710
And btw what is the failing project name in that log file you shared? and do you see `BEGIN Nominate Restore for <project name>` in that log?

[2018-03-20 22:08] rohit21agrawal commented on #5877
@JarnoNijboer currently, the migrator will not be enabled for website projects. But that does not mean that packages.config is going to be deprecated, it will continue to be supported until there is a clear path forward to move to PackageReference

[2018-03-20 22:15] rohit21agrawal commented on #6691
the issue has been discussed on an email thread, this was not the root cause of the issue

[2018-03-20 22:15] #6691 closed, assigned to nobody

[2018-03-20 22:53] rohit21agrawal opened #6713 "pack is adding metadata part of semver2 version to the produced package filename"
the metadata should not be part of the filename

[2018-03-20 22:54] #6713 closed, assigned to nobody

[2018-03-20 23:16] dtivel opened #6714 "PM UI: hang installing System.Diagnostics.Debug"
Microsoft Visual Studio Enterprise 2017 Int Preview (2)
Version 15.7.0 Preview 2.0 [27517.0.d15.7]
VisualStudio.15.IntPreview/15.7.0-pre.2.0+27517.0.d15.7
Microsoft .NET Framework
Version 4.7.02556
Package Manager Console Host Version 4.6.0.4964

I have a memory dump.

[2018-03-21 00:17] #6711 closed, assigned to nobody

[2018-03-21 00:20] rohit21agrawal commented on #6698
@skolima this scenario is not fully supported yet, but for now you can add a PackageReference to NuGet.Build.Tasks.Pack , version 4.6.1 available on NuGet.org, and then run msbuild /t:pack on your project to pack.

[2018-03-21 01:28] rohit21agrawal commented on #6695
@evil-shrike the content from contentFiles folder is not meant to be copied to the project directory, instead, at build time it is copied to the output directory (usually ``` bin\$(Configuration) ```

[2018-03-21 04:54] emgarten commented on #3050
Normalization is by design. Versions *must* be treated as Semantic Versions, not as strings.

External tools that read nuspec versions as strings should be fixed, or scripts should be added to work around this.

Most users in this thread are having problems due to powershell get unnecessarily extracting and re-packing packages just to copy them from one feed to another. This is an issue with power

[2018-03-21 05:43] KevinMarquette commented on #3050
@emgarten I guess the problem that I am having a hard time understanding is that we have legacy support for a string like `1.2.3.4` but not for `1.2.3.0`. Why is it decided that one is to be changed, but we will preserve the other?

Why the 4th non-zero requirement? NuGet also allowed that 4th digit to be zero at the start. There is a strong request here to restore support for all 4 part version n

[2018-03-21 06:43] forki commented on #5602
my recommendation:

* Start with cleaning up terminology. Define "restore", "install", "update" for yourself and try to use the terms consistently. Define what you think a "lock file" is.
* Don't separate features that clearly belong together like locking and the question on what level to lock.
* Look at other package managers like bundler, cargo, ... - not just npm or yarn.
* Start to look at pak

[2018-03-21 07:26] InteXX commented on #3050
@emgarten

_"Normalization is by design. Versions..."_

Is this your comment on @StingyJack's assessment?

[2018-03-21 07:42] Zorzin commented on #6710
I fixed my problem with publishing to Azure by removing "C:\Program Files\dotnet\sdk\2.1.102" folder and having only "2.1.101". Solution provided from [StackOverflow](https://stackoverflow.com/questions/49397793/error-publishing-net-core-2-0-web-applicaiton-to-azure-app-service)

[2018-03-21 07:58] Peter-B- commented on #3050
@emgarten I am not talking about some custom script going crazy. I am talking about plain Visual Studio Nuget install and restore. Let me elaborate the situation I faced yesterday:

- I used the VS2017 Nuget UI to update a package from 9.4.326.0 to 9.5.429.0. Within the packages .nuspec nothing changed except the version string.
- The new package got downloaded into `packages\name.9.5.429.0\`. Eve

[2018-03-21 08:18] fabich commented on #6710
@Zorzin it looks like this solved my problem as well, thanks!

It's not always the same. Sometimes it's BI, sometimes CMN, sometimes others.
Yes, they are all in that log.

[2018-03-21 08:38] benjamin-devuyst commented on #5316
I had similar problem, and this works for me :
1. add a nuget.config in solution folder (this is where nuget.exe is invoked),
2. add following repositoryPath in it :
  <config>
    <add key="repositoryPath" value=".\packages" />
  </config>

this is strange, but it give nuget.exe a 'base path' to it self...

[2018-03-21 08:43] cartbramer opened #6715 "NuGet pack CPU spinning when creating a meta-package"
Created a simple .nuspec file:

[code]

Ran the following command:

[code]

Command doesn't finish. The NuGet Command Line process is 'calculating' at 33% all the time.

Turns out that if I add a "files" section, it does finish successfully (even when no "file" tags are present within). Although this is a simple workaround, I believe that this case should be handled more gracefully.

[2018-03-21 08:50] dasMulli commented on #6710
@fabich do you have ReSharper installed? A lot of ppl seem to be hitting an issue with conflicting NuGet assemblies in VS and ReSharper.

[2018-03-21 08:51] fabich commented on #6710
@dasMulli yes I have

[2018-03-21 08:52] dasMulli commented on #6710
See https://github.com/dotnet/sdk/issues/2068#issuecomment-374868287

[2018-03-21 10:38] rodrigogq opened #6716 "Suggestion - Git repository on RestoreSources information"
When configuring Nuget packages restore on MSBuild in the new **`PackageReference`** format, allow to use a personal git repository containing all the packages as if it was a Windows Shared folder.

This would simplify a lot several Continuous Integration / Testing / Deployment and DevOps operations.

It also would be cool to be able to set different branches for different build targets (e.g.: poi

[2018-03-21 13:13] qJake commented on #4459
Hey @davidnmbond, if I'm going to publish a code library to NuGet using your instructions, would you mind pointing out the "Publish..." menu item on my project's right-click menu?

![Project menu](https://i.imgur.com/LnWRYvX.png)

Could we have this issue re-opened please? That's not really a solution that works for all project types.

[2018-03-21 16:43] ericstj commented on #6678
@rrelyea can you triage this?  Appears to be a regression when passing in -s on the commandline to `dotnet restore`.  Regression happened between 1.x and 2.x.

[2018-03-21 16:44] davidnmbond commented on #4459
On a .NET Standard 2.0 class library, it's right there under "Pack":

![image](https://user-images.githubusercontent.com/7120378/37723813-2f6f9a2e-2d27-11e8-9175-37ee1ecfb898.png)

[2018-03-21 16:54] qJake commented on #4459
@davidnmbond I think this feature request is to build in something to the VS tooling that would work for *all* library types, not just the new .NET Core/Standard libraries. (And this is especially true, if, as you demonstrated, there is already a solution for .NET Standard project types.)

Perhaps the title should be clarified to say "Enable push from VS for .NET Framework projects"?

[2018-03-21 17:35] joelverhagen opened #6717 "nuget.exe verify on repo signed package has a typo"
[code]

Note that the `Verifying signature with author certificate:` is not correct. This is a **repository** certificate right? Not an **author** certificate?

/cc @PatoBeltran @mishra14 @zhili1208

[2018-03-21 17:44] anangaur opened #6718 "NuGet PM UI improvements"
From twitter:
https://twitter.com/robertmclaws/status/976237953944088576
![image](https://user-images.githubusercontent.com/14800916/37726702-35c36312-2cf3-11e8-8212-a61ec1b47e6c.png)

This issue is to discuss the concerns further.

[2018-03-21 18:04] joelverhagen opened #6719 "Author and repository signed packages can contain duplicate certificates"
Imagine I have two code signing certificates that share part of their chain. When I author sign then repo sign, the shared part of the chain is duplicated in the `SignedCms.Certificates` collection.

![image](https://user-images.githubusercontent.com/94054/37728507-a957526c-2cf7-11e8-8328-789556a4ea36.png)

[2018-03-21 18:48] nkolev92 commented on #6718
There's lots of related bugs that this can be duped against.
Like https://github.com/NuGet/Home/issues/1236.
We should either dupe out the ones that have the same ask, or create an epic containing all of the UI related ideas.

[2018-03-21 18:50] anangaur commented on #6718
@nkolev92 May be. But I need to understand the exact issues and enhancements first. Let it be open for a while to have this discussion and then we can find the right home for the required improvements.

[2018-03-21 21:07] nkolev92 opened #6720 "Control assets flow for transitive packages"
As a package consumer, I want to be able to control the assets flow for transitive packages.

Example:
Example
Project -> A.nupkg -> B.nupkg.

Sometimes, I don't want to be able to access Bs APIs in my project, because I don't want to effectively take a compile dependency on a package that I didn't explicitly add as one.
Additionally, when I upgrade A.nupkg, it's possible that B.nupkg is not a dep

[2018-03-21 22:57] gynet commented on #3891
Nuget team, this is a must-have, please

[2018-03-22 00:06] mishra14 opened #6721 "Installing package causing error about unable to find EOCDR"
On another topic, I seem to have gotten my test solution in a state where the nuget UI is broken. Is this related to this issue in anyway?

![issue](https://user-images.githubusercontent.com/10507120/37743963-f39f2b38-2d29-11e8-94c4-3382282764d1.png)

How to repro the above:
1.	Get this solution: \\fsu\shares\MsEng\MSBuild\micodoba\investigations\ReadonlyCollection\App27-broken.zip
2.	Right click

[2018-03-22 00:50] aaronmorgan commented on #6650
@rohit21agrawal That's what I'm doing and getting the same error.

`dotnet restore --no-cache .\WebService.sln
C:\Program Files\dotnet\sdk\2.1.101\NuGet.targets(104,5): warning : Unable to find a project to restore! [C:\WebService\WebService.sln]`

[2018-03-22 01:09] natemcmaster opened #6722 "Allow empty replacement tokens in NuspecProperties"
## Details about Problem
When using `<NuspecProperties>` and `<NuspecFile>` in .csproj, I cannot use empty replacement tokens. This is important sometimes because metadata may not always be available, or I may want it empty.

## Detailed repro steps so we can see the same problem

1. Create a project
[code]
1. Create a nuspec like this:
[code]
2. `dotnet pack`

## Expected

Empty values in NuspecP

[2018-03-22 01:22] rohit21agrawal commented on #6722
@natemcmaster if you packed the nuspec directly using nuget.exe , and didn't pass in the replacement token, what would you get?

[2018-03-22 01:45] rohit21agrawal commented on #6720
what would you expect your project output to be when you pack it?  would it list the resolved version of B and say Exclude="compile, runtime" ?

[2018-03-22 01:46] rohit21agrawal commented on #6718
i dislike the fact that new bugs are opened even though there are existing ones around. We spend a few hours every sprint trying to clean up this mess, and this is just increasing work for us.

CC: @rrelyea

[2018-03-22 01:48] natemcmaster commented on #6722
I don't have nuget.exe cuz I'm on macOS, but using nuget 4.3.0 from Mono I get this
[code]
In all cases, `nuget pack` doesn't complain. It just leaves `$commithash$` empty.

[2018-03-22 01:52] rohit21agrawal commented on #6715
@cartbramer this is likely dependent on where the nuspec file is present on disk. When the ``` <files> ``` tag is not present, it uses directory based convention, and it sounds like it's trying to pack A LOT OF FILES from the directory.

[2018-03-22 01:56] anangaur commented on #6718
Please ignore all issues assigned to me if you want to clean up. I want to have a different discussion here and not about the process. :)

[2018-03-22 02:25] sfatz commented on #6129
I found the issue that I was running into.  I needed to revert to an older version of NuGet command line.  When I did that, everything started working again.

[2018-03-22 03:34] jasel-lewis commented on #6408
Updated to VS 15.6.3 and this is still an issue for me.  Very annoying.  "Error List..." window reflects no errors, only warnings.

[2018-03-22 04:36] nkolev92 commented on #6720
@rohit21agrawal
Yes, ideally.
Do you see any flaws with that?

My biggest concern here, is that I'm not sure what the language to express this intent in, would be,
and how to handle situations where B, is at the same distance from the project in 2 different direct packages.

Example:
Project -> A -> B
Project -> D -> B.

[2018-03-22 04:49] rohit21agrawal commented on #6720
if A has a runtime dependency on B, the consumer of Package X (produced as a result of packing the project) would be broken because he won't get compile/runtime assets from B even though A explicitly expressed B as it's dependency.

[2018-03-22 04:54] nkolev92 commented on #6720
B would be packed with exclude compile, not exclude runtime though?

Let's sync up offline.

[2018-03-22 05:44] rohit21agrawal commented on #6722
interesting. should be a pretty simple fix, i will take a look tomorrow.

[2018-03-22 11:04] hickford commented on #4062
@mishra14 I would like authoritative documentation for the NuGet Client SDK beyond a link to Glick's blog. As the page says...

Please reopen this issue.

[2018-03-22 11:58] RudeySH commented on #5519
@mishra14 Why was this closed? I'm also having issues with NuGet update performance, similar to what is described here and in #4534.

[2018-03-22 12:07] cltshivash opened #6723 "Test Failures due to auto redirection for nuget packages in VS"
## Details about Problem

NuGet product used : VS 15.6.2 update

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)): N/A

## Detailed repro steps so we can see the same problem

Users authoring test projects are running into issues with with the auto redirection being added without the right assemblies being present in the output location. More details below.

**Repro** (https

[2018-03-22 12:24] fubar-coder opened #6724 "Disable LegacyVersionRule when MinClientVersion is high enough"
## Details about Problem

When I create a `*.nupkg` with `dotnet pack`, then I get a warning from `LegacyVersionRule`. Currently, there is no way to disable this warning.

dotnet.exe --info:
[code]

## Detailed repro steps so we can see the same problem

1. `dotnet new classlib`
2. Set `VersionPrefix` in `*.csproj` to `0.1.0`
3. Run `dotnet pack <yourproject>.csproj --version-suffix "alpha.1"`

##

[2018-03-22 12:53] evil-shrike commented on #6695
Source:
Given a package - Package.1.0.0.nupkg, with contentFile in nuspec:
[code]
files inside nupkg:
\contentFiles\any\any\Reports\test.xsd

Destination:
Givien a project with installed that nuget package (as `dotnet add package Package --source ..`):
[code]
Now build it via `dotnet build`.
Go to Output bin\Debug\netcoreapp2.0 - nothing.
dst.dll
dst.pdb
dst.deps.json
dst.runtimeconfig.json
dst.ru

[2018-03-22 14:30] GuyWhoKnowsTheGuy commented on #6682
Anyone using Nugetizer 3000 with Jenkins?  Any help is appreciated.

[2018-03-22 16:11] alicint commented on #6468
Same problem here

[2018-03-22 16:16] geneh opened #6725 "Package metadata API returns an empty string instead of an object in repository value"
## Details about Problem

Projects that contain repository field in nuspec have incorrect value in https://api.nuget.org/v3/catalog0/data/ API: `"repository": ""`.

Example 1:
https://api.nuget.org/v3-flatcontainer/castle.core/4.2.1/castle.core.nuspec contains
`<repository type="git" url="https://github.com/castleproject/Core"/>`
but https://api.nuget.org/v3/catalog0/data/2017.10.10.15.15.58/castl

[2018-03-22 17:01] krakorj commented on #6140
Any solution for this topic?

[2018-03-22 17:02] jainaashish commented on #5519
@RudeySH because the issue has been moved to another team - https://github.com/dotnet/project-system/issues/2630 and they are working on it.

[2018-03-22 18:09] joelverhagen commented on #6681
As a side note, you don't need to use this private build any more. This fix is merged into NuGet.Server 3.1.0.

Could you provide a Fiddler trace of the VS2013, VS2015, and VS2017 repro? If one client version is working and one client version is broken, the HTTP requests and responses should be enough to diagnose the issue.

As mentioned on that issue, could you provide a capture produced by PerfV

[2018-03-22 18:26] rohit21agrawal commented on #6724
@fubar-coder actually we have recently added a way to disable each warning for pack (or even elevate them to errors). This feature will be available in dotnet sdk 2.1.200 and VS 15.7

[2018-03-22 18:46] nkolev92 commented on #6720
Synced up offline.

This shouldn't impact pack, in my opinion.
The project will not be referencing B nupkg directly anyways.

The primary feature here is to allow package consumers to more granular control over what flows in their project.
Ofc, if someone does exclude=runtime, it then gets tricky.
A project might not built or run correctly, but it's package might.

[2018-03-22 18:48] kraigb commented on #4062
I've transferred the issue to the NuGet docs issues backlog so this present issue can remain closed.

[2018-03-22 21:55] mishra14 commented on #6712
@joelverhagen the actual problem is unclear, can you please elaborate?

[2018-03-22 22:09] zhili1208 commented on #6725
Moved to NuGetGallery

[2018-03-22 22:09] #6725 closed, assigned to nobody

[2018-03-22 22:17] joelverhagen commented on #6712
Here's the source:

https://github.com/NuGet/NuGet.Client/blob/0f6d609e9767dc58c519914e255993642ef48228/src/NuGet.Core/NuGet.Packaging/Signing/Archive/SignedPackageArchiveIOUtility.cs#L417-L419

[2018-03-22 22:22] jainaashish commented on #6468
reopening this bug since earlier solution wasn't the ideal fix and introduce some other issue.

[2018-03-22 23:12] rohit21agrawal opened #6726 "PackagePath is constructed incorrectly if TfmSpecificPackageFile is used with globbing paths"
This is due to msbuild bug : https://github.com/Microsoft/msbuild/issues/3121

[code]
Expected:
The final target path for ext.cs.txt in your package should be ``` net46content\<expanded ** >\ext.cs.txt ```

Actual:
The final target path ext.cs.txt is ``` net46content\ext.cs.txt ```

[2018-03-23 00:30] rohit21agrawal commented on #3891
One workaround that would work with ```dotnet.exe pack or msbuild /t:pack``` if you are packing a project with project references and want to include references as DLLs instead of dependencies in output nuspec is shown by the below example:
[code]

Documentation for these extension points in the pack target can be found here: https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#advance

[2018-03-23 00:31] rohit21agrawal commented on #4491
@awesley  One workaround that would work with ```dotnet.exe pack or msbuild /t:pack``` if you are packing a project with project references and want to include references as DLLs instead of dependencies in output nuspec:
[code]

Documentation for these extension points in the pack target can be found here: https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#advanced-extension-points-t

[2018-03-23 00:43] cltshivash commented on #6723
Any update on this ? This is currently causing one of the top issues users of the test framework are running into.

[2018-03-23 01:41] sandeepnaikinfotrack opened #6727 "Parent dependencies not upgraded to the child dependency mentioned by -Version Flag"
I have a solution A.B, consisting of multiple projects P1, P2...
Nuget exe version - 4.6.0.4971
I have Dependency1 that needs to be upgraded to a particular version (not the latest stable version).
Dependency1 depends on Dependency2

When I try nuget update A.B.sln -ID Dependency1 -Version 3.0.3 -FileConflictAction Ignore

This updates Dependency1 to 3.0.3. However, it updates Dependency2 to a hig

[2018-03-23 02:36] neo0000 opened #6728 "Unable to load service index for api.nuget.org/v3/index.json"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (x.x.x.xxx): 4.5.0.4685

dotnet.exe --version (if appropriate):

VS version (if appropriate): VS2017 version 15.5.6

OS version (i.e. win10 v1607 (14393.321)): win10 v1709

Worked before? If so, with which NuGet version: Worked before with same version: 4.5.0.4685

## Detailed re

[2018-03-23 06:41] sherry-ummen opened #6729 "Question and help needed. What is best workflow when developing and consuming the nuget packages in the development environment!!"
I would like to know the best workflow when developing and referencing the nuget package in the development environment.

The scenario is that, we have a library which we want to move it to be a nuget package and then reference it in multiple .net solutions and projects. Currently the workflow I am thining is
* Develop/modify the module
* Package it and increment the version of the nuget
* Publish

[2018-03-23 08:48] gps035 commented on #6140
@krakorj I've had success listing the sources explicitly, not an ideal solution, but a workaround until the bug is fixed. `dotnet restore -s http://nuget.company-name.co.uk/nuget -s https://api.nuget.org/v3/index.json`

[2018-03-23 10:18] solekspen opened #6730 "Nuget.exe verify, limitation for packages around 100MB and more"
NuGet.exe version (4.6.0.4825)

Issue: If *.nuget packege around 100mb and more It can't be verified after signing.

nuget verify -signatures '*******.nupkg' -verbosity detailed
Signature Hash Algorithm: SHA256
**NU3008: The package integrity check failed.**
Signature type: Author
Verifying signature with author certificate:
Subject Name: CN=localhost
SHA1 hash: E36126C2829F97D0B22D6A90DFDFE9DE7CB

[2018-03-23 14:01] prassanna-ravishankar opened #6731 "Support nuget for c++ with CMake projects"
## Details about Problem

NuGet product used : Package Manager Console  on VS2017

NuGet version (x.x.x.xxx): 4.6.0

dotnet.exe --version (if appropriate):  -

VS version (if appropriate): 2017 (professional + community)

OS version (i.e. win10 v1607 (14393.321)): win10 v1709

Worked before? If so, with which NuGet version: No

## Detailed repro steps so we can see the same problem

1. Open/create

[2018-03-23 14:49] EmilAlipiev commented on #6468
this is sooooooooooooooooooooo annoying. I am wasting whole day to update support libraries and at the end i end up reverting all to previous version. somebody said that it works on MAC. because it is not VS2017 on mac. It is Xamarin Stuidio copy rebranded as VS2017 Mac and it has a better nuget update mechanism. Please do some afford on this instead of playing around button style and reverting th

[2018-03-23 15:50] eroller commented on #6013
I can confirm the original bug report (project files are not saved after nuget update) and also the UI glitch for Consolidate tab. Please fix these.

[2018-03-23 16:18] psmulovics commented on #1851
any news on this item?

[2018-03-23 17:10] dzmitry-lahoda commented on #5076
I get this for the first time
[code]

When I put url into Firefox it  then download packages without issues.

I have next file at `C:\Users\dzmitry\.nuget\packages\System.Threading\4.0.11\ai1gz14z.fl1`. Delete it.
[ai1gz14z.zip](https://github.com/NuGet/Home/files/1843058/ai1gz14z.zip). And got replaced with same under different name.
[yrwsclv3.zip](https://github.com/NuGet/Home/files/1843068/yrws

[2018-03-23 17:14] rohit21agrawal commented on #6730
@dtivel can you take a look?

[2018-03-23 17:23] dzmitry-lahoda commented on #5076
https://stackoverflow.com/questions/32493537/end-of-central-directory-record-could-not-be-found-nuget-in-vs-community-201

@mishra14 you should reopen the issue. something wrong with cache or error reporting - e.g. report broken cache or locked cache. not what I see now in error message - please improve error message.

Nuget should directly report broken zip archives upon download and upload. I gu

[2018-03-23 18:59] nguerrera opened #6732 "LockFile reading has questionable error handling"
See this [comment](https://github.com/dotnet/sdk/blob/6a260a0e24ac29a5c9e96208eea35a1ee67d244e/src/Tasks/Microsoft.NET.Build.Tasks/LockFileCache.cs#L59-L71) going in to SDK:

[code]
I had to read the source code to figure this out:

[LockFileUtilities.cs](https://github.com/NuGet/NuGet.Client/blob/1f323c6644e982868a512b1715d34de1c0987c2c/src/NuGet.Core/NuGet.ProjectModel/LockFile/LockFileUtilities

[2018-03-23 19:03] nguerrera commented on #6732
cc @rrelyea

[2018-03-23 19:05] zhili1208 commented on #6723
@cltshivash Does this work before? Which VS version it works on? We haven't changed code related to this for a long time. I suspect something changed in VS.

[2018-03-23 19:40] nkolev92 commented on #6729
Unfortunately, there's no smart way to do this in packages.config.

If you were to move to PackageReference, you have multiple options though.
One approach would be to use [floating ](https://docs.microsoft.com/en-us/nuget/consume-packages/dependency-resolution)versions for packages you are confident you always want to use the latest version of.

The [limitation ](https://github.com/NuGet/Home/iss

[2018-03-23 22:04] #6726 closed, assigned to rohit21agrawal

[2018-03-23 22:36] #6729 closed, assigned to nobody

[2018-03-23 22:36] lifengl opened #6733 "NuGet runs into dead lock in .Net Core project system (new regression)."
Reported by Resharper: https://youtrack.jetbrains.com/issue/RSRP-468710

The repro can be found in the Resharper link.  The regression was introduced by https://github.com/NuGet/NuGet.Client/commit/e2fb49fed454bcdd48c53efcb40ba26a50be761e

The bug is in https://github.com/NuGet/NuGet.Client/blame/e2fb49fed454bcdd48c53efcb40ba26a50be761e/src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/Servic

[2018-03-23 22:40] zhili1208 commented on #6728
Moved to NuGetGallery

[2018-03-23 22:40] #6728 closed, assigned to nobody

[2018-03-23 23:05] AndreyAkinshin commented on #6710
The problem is fixed in ReSharper 2017.3.5, everything works with all combinations of Visual Studio and .NET Core SDK.
You can find more technical details in the official blog post: https://blog.jetbrains.com/dotnet/2018/03/23/build-failures-visual-studio-15-6-3-resharper-ultimate-2017-3-5-rescue/

[2018-03-23 23:08] nguerrera commented on #6710
Thanks! We also released VS 15.6.4 with a different version of nuget in sdk that manages to get around the issue.

[2018-03-23 23:12] AndreyAkinshin commented on #6710
@nguerrera, it's great that VS 15.6.4 is released, but it doesn't solve the problem in general case. E.g., if you use a specific version of .NET Core SDK (e.g., via global.json), you still have this problem.

[2018-03-23 23:23] nguerrera commented on #6710
Yes. Absolutely right. I just wanted to add a related note.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Andrey Akinshin <notifications@github.com>
Sent: Friday, March 23, 2018 4:13:00 PM
To: NuGet/Home
Cc: Nick Guerrera; Mention
Subject: Re: [NuGet/Home] project.assets.json doesn't have a target for .NETCoreApp,Version=v2.0 (#6710)

@nguerrera</nguerrera>, it

[2018-03-23 23:26] commonsensesoftware commented on #5755
@rohit21agrawal it would nice if the authors of the XAML targets make this easier out-of-the-box since it's so common, but the issue is fully mitigated by the use of **TargetsForTfmSpecificContentInPackage**. Thanks.

[2018-03-23 23:51] clairernovotny commented on #5755
Can you please re-open this? This really should be handled by the default pack targets. I have the solution in the Extras:

https://github.com/onovotny/MSBuildSdkExtras/blob/fa415e0af7e7897b5b5bbb60e02e6a13621e8775/MSBuild.Sdk.Extras/build/Platform.targets#L36-L47

If it's a matter of submitting that as a PR here, I'm happy to.

[2018-03-23 23:53] commonsensesoftware commented on #5755
Done. Hopefully this will get some attention - soon.

[2018-03-23 23:54] rohit21agrawal commented on #5755
@onovotny I will accept a PR

[2018-03-24 00:04] clairernovotny commented on #5755
@rohit21agrawal can you please take a look at those lines in the extras and let me know if a) it looks like the right thing, and b) where in the nuget targets it should go?

[2018-03-24 00:38] rohit21agrawal commented on #5755
the lines in extras look good, but you don't need TargetsForTfmSpecificContent since you will be writing this directly into Pack.

This is the target that would need to depend an additional target "_GetXamlLibraryLayoutFiles" conditioned on the property "PrepareLibraryLayout" , and return an ItemGroup which will get added to BuildOutputInPackage . Should be pretty straight forward.

https://github

[2018-03-24 12:51] StingyJack commented on #6659
Why should we (users or authors) have to influence change anything?
What is the value this change gives us?

An explanation of how the change makes work easier or how it translates into more output or output of a higher quality is needed, not just a mouthful of buzzwords. In this scope, the value reads as only "conformance to a new spec", but that holds no value and thus _only coerces us into more

[2018-03-24 13:17] StingyJack commented on #3050
@emgarten  - @KevinMarquette is an undeniable powershell powerhouse, but is the only one here who mentioned powershell.  I know that [reading can be hard or tedious sometimes](https://github.com/NuGet/Home/issues/6534#issuecomment-363422986), but there are 12+ other people in this thread. _Most_ of us are reacting to having someone else's versioning scheme forced upon us without notice, and withou

[2018-03-24 13:20] chris1248 commented on #3050
We removed using Semver as well here at work. Too much complication for too little gain.

Sent from my iPhone

On Mar 24, 2018, at 7:17 AM, Andrew Stanton <notifications@github.com<mailto:notifications@github.com>> wrote:

Most users in this thread are having problems due to powershell get unnecessarily extracting and re-packing packages just to copy them from one feed to another. This is an issue

[2018-03-24 18:22] ebicoglu commented on #6468
I lost 2 days working on this issue!

Finally I **successfully installed the latest Xamarin.Forms** v2.5.0.280555
Open **Package Manager Console** window.
And run the below commands (the order is important) .

[code]
(I am using Visual Studio Enterprise v15.6.4. NuGet Package Manager v4.6.0)

PS: Sometimes some packages didn't install. But when I insist on and run the same command again they someh

[2018-03-24 19:58] mistachkin commented on #3050
Speaking for myself and for the System.Data.SQLite project, which has approximately 8 million downloads on NuGet.org, we will **never** use any newer version (of NuGet) that forces all versions to be "normalized", as forcing SemVer upon our users would be too much of a breaking change.

[2018-03-25 00:33] trondhindenes commented on #2987
We ended up spending _tons_ of time creating custom psexec scripts to run nuget configration commands as the "build user" in our environment during the deployment phase. This should be totally unnecessary. It's really worrying that there doesn't seem to be any activity on this issue.

[2018-03-25 04:18] AArnott opened #6734 "NuGet.exe restore does not import Directory.Build.Targets/Props"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): nuget.exe

NuGet version (x.x.x.xxx): 4.6.1

MSBuild version (if appropriate): v15.7.108.30652

Worked before? If so, with which NuGet version: Never tried.

## Detailed repro steps so we can see the same problem

[code]

**Expected**

The build succeeds

**Actual**

The build fails because new

[2018-03-25 05:43] AArnott commented on #6734
I've confirmed the problem comes from the fact that my `Directory.Build.targets` file isn't even imported during the `nuget restore` command. I confirmed this by introducing xml syntax errors, and nuget restore didn't report this, but failed in the same way. Since this .targets file is responsible for defining the package versions, all the other failures make sense.

So the question is: why does `

[2018-03-25 07:05] anangaur commented on #6659
Am I missing something? I think whatever you state above is the reason why this issue exists - to improve the existing behavior to start supporting the **content** folders.

Today PackageReference does not support **content** folders and I would not like to change an existing default behavior as existing builds may start showing different behavior with this change. Instead the proposal is to enabl

[2018-03-25 08:14] LeoJHarris commented on #6468
Really hope this gets sorted sooner then later...

[2018-03-25 12:10] scharada commented on #6468
same problem here. partially solved by updating one package (Xamarin.Android.Support.Core.UI) to 27.0.2 which is something i usually never do for all Xamarin.Android.* packages.
it updated all related packages but when i tried updating Com.Airbnb.Xamarin.Forms.Lottie to the latest version which requires all xamarin.Android.* to be >= 26.0.1 , it fails again ....
this is a mess.

there is a common

[2018-03-25 16:27] dora-gt opened #6735 "install fails with exception"
Hi,

I'm trying to compile my project but nuget install fails.
Do you have any idea? (Is it related to endianness? PPC64 is big-endian)

- NuGet version: 4.5.1.4879
- OS version: CentOS Linux release 7.4.1708 (AltArch) / PPC64
- mono version:
[code]
- Worked before? : no

[code]

[2018-03-26 06:51] davkean opened #6736 "Creating unit test project using .NET Framework template will open older project model with packages.config"
_From @eriawan on March 26, 2018 6:48_

Hi guys,

Now that most of us use VS 2017 15.5.x or later, the project creation (including .NET Core and .NET Framework new project creation) should by default choose `PackageReference` model.

Machine configurations: (I have 2 machines)

- OS: Windows 10 Pro, build 16299.15
- VS used: VS 2017 Enterprise 15.5.5, VS 2017 Enterprise 15.6.4
- No VS 2017 preview

[2018-03-26 07:20] henning-krause commented on #4360
I'm facing the same issue using a SDK-Based csproj-file (<Project Sdk="Microsoft.NET.Sdk">). I've tried removing the IsTools property and adding BuildOutputTargetFolder=Tools property.

This indeed puts the EXE file in the `tools\<targetframework>` folder. But the dependencies are still missing, thus my tools nuget package won't work.

[2018-03-26 09:00] solekspen commented on #6730
New NuGet Version: 4.6.1.5019
Resolved this issue

Thanks!

[2018-03-26 09:00] #6730 closed, assigned to nobody

[2018-03-26 09:26] dzmitry-lahoda commented on #5076
@anangaur (I hope you are right person or know right person to address issue), given my comments seems there is corruption of zip packages stored on nuget. May you help with reopening of this story to check why this happens? I guess nupkg zip are stored on Azure, means there is some corruption may happen from time time on Azure storage.

[2018-03-26 09:37] shaulbehr opened #6737 "Since upgrading to .NET Core, NuGet failing to download packages"
We're in the middle of migrating our project from .NET Framework 4.7.1 to .NET Core 2.1.
In the local dev environment, all seems to work ok.
But on our build bot, NuGet is failing to restore all our packages. Sample build log attached.
[plan-52986133-JOB1-12.log](https://github.com/NuGet/Home/files/1847189/plan-52986133-JOB1-12.log)

Command line:

Error message:

The package on which it fails is

[2018-03-26 10:44] benjpierce opened #6738 "Two private feeds from same VSTS account causing 401 on dotnet new"
I have two private NuGet feeds set up with the same VSTS account.

When both feeds are added to my NuGet sources and I attempt to install a template by running `dotnet new --install` (from either nuget.org feed or one of my two private feeds) I get a 401 response error.

If just one of the two sources is added, the template install works as expected.

Does anyone know a rectification for this erro

[2018-03-26 10:45] ashishnegi opened #6739 "Nupkg structure for multi OS platform and multi framework (45 - 471) support + net standard"
I have a c# library. It has some different apis in netstandard than net47.

I want to generate a nupkg which should be usable from both .net specific framework and .net coreclr projects. So, if someone creates a fullframework net46/net47 project Or coreclr project targeting netcoreapp2.0 or net47, it should pick up dll based on its version. Also, for .net standard, since it targets multiple platfo

[2018-03-26 12:23] StingyJack commented on #6659
...just a few months of conversation and complaints I've been having with 3-4 of your coworkers. From my perspective as someone who uses nuget packages and authors private use packages for my coworkers to use, the change from package.config to package ref is an entirely negative value change.  I'm not getting less day to day work, but I am going to have to spend the better part of 4 weeks (making

[2018-03-26 12:35] gamidon commented on #6468
I Had the problem did 3-4 hours of things listed in the post and got my project working again.  Now its back and I have spent hours trying to get it working again.  We NEED an answer to this from Xamarin and need it fast.  Firebase messaging and Xamarin Maps seems to be mutually exclusive.  Please help!!!

[2018-03-26 12:36] StingyJack commented on #6696
Are you using this for private packages?

[2018-03-26 12:38] StingyJack commented on #6695
Content files are apparently not supported in package ref https://github.com/NuGet/Home/issues/6659

EDIT: @jainaashish - I dont want to add another comment and muddy up the chain, so I'm editing this one. You are probably correct, and I can unintentionally be quite thick at times, but expecting someone to discern a clear intent and difference between "content files" and "contentfiles" that isnt a