[2016-06-07 23:19] #2805 closed, assigned to zhili1208

[2016-06-07 23:34] joelverhagen commented on #2910
This fix has been committed to `dev` and `3.5.0-beta2` so far. I am working on porting the change to `3.4.5`.

[2016-06-07 23:38] rrelyea opened #2922 "Adapt to VS "15" setup changes"
Likely means:
- move away from msi as VSIX install technique towards a pure VSIX
- handle licensing files as necessary within VSIX capabilities.

This is for the VS "15" vsix. The VS 2015 vsix will remain integrated via msi/vsix.

Deadline: 7/1/2016

[2016-06-08 00:02] yishaigalatzer opened #2923 "Write serviceable attribute to the Assets file"
We now have a serviceable metadata level on the package. We need to write that to the lock file at restore time.

[2016-06-08 00:02] yishaigalatzer commented on #2556
We decided to close this issue, we now have package level serviceable attribute and we need to write that one out. https://github.com/NuGet/Home/issues/2923 supersedes this issue

[2016-06-08 00:02] #2556 closed, assigned to nobody

[2016-06-08 00:18] emgarten commented on #2913
@RandomEngy this is another issue with the BCL package.

[2016-06-08 00:21] rrelyea commented on #635
talked with @yishaigalatzer - believes we should address in future release. so 2.13 it is.

[2016-06-08 00:21] rbravo opened #2924 "NuGet Command Line - Could not find file (but file exists)"
I'm using nuget command line for updating my packages hosted on our private NuGet Server. These packages have Content files inside, so I chose to update packages using the Command Line tool instead of the Visual Studio extension because on VS it takes too long to update content files packages (I think it's because VS has the Solution View, and it tries to refresh it every time, so when I'm using n

[2016-06-08 00:31] joelverhagen commented on #2910
This change has now been ported to all destination branches:
`dev`: https://github.com/NuGet/NuGet.Client/commit/1ddcb743dbc15af115fc14ee452a6f61e17a85ee
`3.5.0-beta2`: https://github.com/NuGet/NuGet.Client/commit/efb2590f24981729df0746aff860283614c04483
`3.4.5`: https://github.com/NuGet/NuGet.Client/commit/b0ef84ea6db49636e69c8f00fc843c7b4abbe0ca

[2016-06-08 00:31] #2910 closed, assigned to joelverhagen

[2016-06-08 00:36] joelverhagen commented on #2908
After some thought and creating the two related bugs mentioned above, it seems to me that from a NuGet standpoint everything happened properly. I am going to close this as external. If anyone disagrees with this, please feel free to reply to this issue.

[2016-06-08 00:36] #2908 closed, assigned to joelverhagen

[2016-06-08 03:04] JackUkleja commented on #1521
Hi @alpaix. Is solution/tooling level packaging still on track for 3.5 release? Cheers

[2016-06-08 04:06] seangwright commented on #2441
We have solved this issue (with non-.net Core projects) on our team by having everyone on the team set their `~\AppData\Roaming\NuGet\NuGet.Config` to have this same `<config>` block with a defined `repositoryPath` value.

[code]

It doesn't matter what the path is as long as it is defined. Then all of our projects are cloned from Git to a directory with the same relative path to the `repositoryPa

[2016-06-08 05:10] Kanimozhi12 commented on #2520
Hi,

Still am getting the same error message! Is there any updates? Will it be fixed ?

[2016-06-08 05:15] sravan1022 commented on #2868
@joperezr I tried exactly the same way you said. Didn't work. May be the error lies in some other place. Anyway thanks for the help.

[2016-06-08 07:04] hach-que opened #2925 "NuGet's detection of missing packages on project load slows down project loading"
We're profiling Visual Studio to find out why it's running slow for us, and we noticed this when it's loading all the projects:

![image](https://cloud.githubusercontent.com/assets/504826/15885484/d769542e-2d9a-11e6-990d-faf50f742f45.png)

It looks like every time a project loads (which happens quite frequently when the solution is being loaded), it recursively scans through all the files in packa

[2016-06-08 10:13] SimonCropp commented on #2243
any update on this?

[2016-06-08 11:33] sutarmin opened #2926 "PackageManagerConsole cannot see some packages that nuget.exe or VS can - teamcity server"
I use VS 2015 update 2 with NuGet Package Manager 3.4.4. Also I have own Nuget server on Teamcity 9.1.7. I request avaliable packages through Package Manager Console (from VS) with command `Get-Package -ListAvailable`. There I see that some packages are missing.
At the same time:
1. When I'm requesting package list from command line with `nuget list` I see these packages.
2. When I'm installing on

[2016-06-08 11:36] devlead commented on #2243
Last info I've seen is a comment on this [blog post](http://blog.nuget.org/20160519/Consolidated-REST-API-deployed.html#comment-2683993262) which stated

[2016-06-08 14:14] niemyjski commented on #2455
@TripleEmcoder it seems to be down again :(. @nuget team it would be great to throw some resources at @TripleEmcoder  and maybe join services... there is no way to not generate symbols with `dotnet pack` and with that said ci servers like appveyor automatically push all nuget packages (including symbols) his way... Also, you guys also push to him by default..

[2016-06-08 14:20] daveaglick commented on #2243
FWIW, I've got a blog series looking at the v3 APIs, though it's all based on spelunking through the code so I may have gotten some aspects wrong:
- Part 1 (Intro): http://daveaglick.com/posts/exploring-the-nuget-v3-libraries-part-1
- Part 2 (Search): http://daveaglick.com/posts/exploring-the-nuget-v3-libraries-part-2
- Part 3 (Install): Should be coming this week or next

[2016-06-08 14:27] rrelyea commented on #2917
This hasn't been approved yet, email discussion to follow...collecting data for that email.

[2016-06-08 14:30] devlead commented on #2243
@daveaglick nice will definitely check those out :+1:

[2016-06-08 14:35] rrelyea commented on #2926
Is this a regression with 3.4.4 of package manager? Which version worked differently?
Which version of NuGet.exe are you using?
Do you see the same behavior with NuGet.exe v3.4.4 (see http://dist.nuget.org/index.html)

[2016-06-08 14:37] rrelyea commented on #2925
Thanks for the profiling. We hope to investigate soon.

[2016-06-08 14:39] rrelyea commented on #2924
Thanks for the report.

What version of NuGet.exe are you using?
V3.4.4 is the latest, please try with that. (Download available from http://dist.nuget.org/index.html)

Are you using integrated source control in VS? What type of source control?
What version of VS?

[2016-06-08 14:42] rrelyea commented on #2921
Thanks for the report. This sounds similar to the problem we had with .nuproj -- which we fixed late in the game, but didn't have time to solve generically.
Putting in 3.4.5 now...we'll discuss if it can catch that release.
@emgarten

[2016-06-08 14:52] sutarmin commented on #2926
@rrelyea,  I'm already using v3.4.4 of NuGet.exe. And I didn't try to reproduce it with other versions of extention or NuGet.exe. I'll try if it needed.

[2016-06-08 15:08] TripleEmcoder commented on #2455
@niemyjski I do deserve you jumping into conclusions... But the server seems healthy.

I suspect this error is coming from your submission?

`08/06/2016, 16:02:23 - EXCEPTION
'Exceptionless' already has a dependency defined for 'Microsoft.CSharp'.
Exception type: System.InvalidOperationExceptionFailed method: NuGet.Manifest.ValidateDependencySetsProblem Id: System.InvalidOperationException at NuGe

[2016-06-08 15:13] niemyjski commented on #2455
Your status page is also throwing an error :(, here is a link to all the artifacts: https://ci.appveyor.com/project/Exceptionless/exceptionless-net/build/artifacts

[code]

https://www.symbolsource.org/Public/Status (takes a really long time to come up and then has):
![screen shot 2016-06-08 at 10 13 14 am](https://cloud.githubusercontent.com/assets/1020579/15899529/a1f3f88c-2d61-11e6-8d3f-688fa17

[2016-06-08 15:43] joelverhagen commented on #2520
Thanks for providing this information. It looks like the latest Fiddler trace sent to us has a bunch of HTTP 502 errors:

[code]

This looks like there was a connectivity issue to the source since Fiddler is reporting that 40.121.87.161 (which is what nuget.syncfusion.com is resolving to) is not responding. Additional, this seems to be an issue unrelated to the HTTP 403 originally reported.

As a

[2016-06-08 15:45] #2386 closed, assigned to drewgillies

[2016-06-08 15:45] yishaigalatzer commented on #2455
Can you guys take the discussion off the nuget client issue? :)

Get Outlook for Androidhttps://aka.ms/ghei36

On Wed, Jun 8, 2016 at 8:13 AM -0700, "Blake Niemyjski" <notifications@github.com<mailto:notifications@github.com>> wrote:

Your status page is also throwing an error :(, here is a link to all the artifacts: https://ci.appveyor.com/project/Exceptionless/exceptionless-net/build/artifactsht

[2016-06-08 16:23] yishaigalatzer opened #2927 "Enable Vs-Feedback to gather nuget information about a project."
Add support for vs-feedback, so when a user files a NuGet issue, we can tell if his project has nuget.config and is it packages.config, project.json.

Please expand to capture any extra data we need to be able to take action without having to ask basic questions

[2016-06-08 19:45] gpcottle opened #2928 "dotnet restore times out in ifs build (moved from dotnet/cli)"
Hi

I am having trouble trying to get a build to work in a locally hosted Team Foundation Server 2015 on Windows SBS2011/2008R2. I hope I have put this issue in the right place.

The project itself is small, being just the default items created when Visual Studio creates an empty Core Web Application. I can do a manual deploy to my IIS and get it to display - nothing more than "Hello World" at the

[2016-06-08 19:45] rrelyea opened #2929 "Upgrade NuGet in 3.5.0-beta2 and dev branches to use latest corefx builds"
Per my email details.

[2016-06-08 20:34] jascam opened #2930 "Crashes in CredentialProvider GetProvider can crash the IDE"
We found out in Issue 2419 that the call to GetProvider() is done during the NuGet startup in the IDE and if this method fails it will crash the IDE.  Since this method is caching the credential provider from a MEF load that is somewhat risky.

[2016-06-08 20:46] rrelyea commented on #2929
Updated versions appear good. As long as tests pass, Zhi will integrate into "release-3.5.0-beta2" branch very soon.

[2016-06-08 21:23] zhili1208 commented on #2929
Checked in the change to "release-3.5.0-beta2", waiting for CI

[2016-06-08 21:32] giggio opened #2931 "re-Publish Nuget.CommandLine 3.4.4 to Nuget.org"
Right now the latest version available on Nuget for the package `Nuget.CommandLine` is `3.4.3`, while `3.4.4` [is already released](https://dist.nuget.org/index.html).
For some reason a `3.4.4-rtm-final` version was [published](https://www.nuget.org/packages/NuGet.CommandLine/3.4.4-rtm-final), but that version makes it a pre-release.

[2016-06-08 21:43] #2898 closed, assigned to drewgillies

[2016-06-08 21:47] joelverhagen opened #2932 "3.5.0-beta2: Package Manager Console Get-Package fails if .NET Core project is open (which blocks EF's enable-migrations)"
Using the RC2 preview1 tooling, .NET CLI and NuGet 3.5.0-beta.
## Steps:
1. Create a new .NET Core project (I chose a Console App) in VS.
2. Open the Package Manager Console.
3. Type `Get-Package`
## Expected:

A successful report about the packages installed.
## Actual:

[code]

[2016-06-08 21:49] joelverhagen commented on #2932
/cc @abpiskunov

[2016-06-08 22:02] #2913 closed, assigned to nobody

[2016-06-08 22:06] dmccaffery commented on #2372
This is effecting me as well -- nuget pack against a proj should do as the documentation says in that it should ignore content IF a <files> section exists in the nuspec.

[2016-06-08 22:08] zhili1208 commented on #2929
all packages are ready, working on pushing them to myget

[2016-06-08 22:10] RandomEngy commented on #2913
Thanks. Contacted the owners of Microsoft.Bcl.Build about this.

[2016-06-08 22:21] rrelyea commented on #2372
Please analyze current behavior and the info in this issue, and determine proper change (fix and/or docs, etc..)

[2016-06-08 22:40] jasonmalinowski commented on #2615
Given the csproj/xproj convergence plan, this bug will not be fixed.

[2016-06-08 22:40] #2615 closed, assigned to jasonmalinowski

[2016-06-08 22:44] zhili1208 commented on #2929
Pushed all packages to MyGet, sent a PR to update Cli version https://github.com/dotnet/cli/pull/3441

[2016-06-08 23:25] #2846 closed, assigned to zhili1208

[2016-06-08 23:26] #2845 closed, assigned to zhili1208

[2016-06-08 23:53] joelverhagen commented on #2932
The problem here is that our `Get-Package` code needs a path to the package to determine the license URL. .NET Core projects do not have an API right now to get the path to a package dependency .nupkg on disk so our code fails.

A couple options:
1. Do not show license URL on .NET Core (or deprecated DNX projects, which are in the same boat) projects.
2. Work to improve the .NET Core project API s

[2016-06-09 00:15] joelverhagen commented on #2932
Talked to @rrelyea, decided to take two separate fixes:
1. Make our code more resilient so that if a package .nupkg is not found, then don't show the license URL field (should be in for `3.5.0-beta2` and maybe `3.4.5`).
2. Enhance the `INuGetPackageManager` API to expose this path.

[2016-06-09 00:25] joelverhagen opened #2933 "3.4.5: Package Manager Console Get-Package fails if .NET Core project is open (which blocks EF's enable-migrations)"
This issue is tracking the port of http://github.com/NuGet/Home/issues/2932 to the `3.4.5` branch.

[2016-06-09 00:51] joelverhagen commented on #2932
Taking the two aforementioned changes at the same time.

Here is issue tracking this fix in `3.4.5`: https://github.com/NuGet/Home/issues/2933

[2016-06-09 07:49] maartenba opened #2934 "Print NuGet-Warning header contents to console in NuGet.exe"
When returned on an operation, print NuGet-Warning header contents to console in NuGet.exe.
This should be done for all commands (especially push/delete, but ideally all commands)

The header returned will be `NuGet-Warning`

[2016-06-09 08:09] Meenakshise commented on #842
Is this resolved ? I am also getting a same error as mentioned below. Can someone help me

install-package ReportGenerator
install-package : An error occurred while retrieving package metadata for 'ReportGenerator' from source 'Microsoft and .NET'.
At line:1 char:1
- install-package ReportGenerator
- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  - CategoryInfo          : NotSpecified: (:) [Install-Package], E

[2016-06-09 10:19] mallikharjunaa commented on #2848
Hello Hariksrihna,

kindly share update on this problem.

[2016-06-09 10:43] agraignc commented on #2544
Hello,

The Nuget 3.5 Beta has been released last month but I don't see anything related to the xproj. Can you tell me more about it to do this "snapshot" feature ? thx

[2016-06-09 12:30] TimBarham commented on #2376
Should be fixed by fix for #338.

[2016-06-09 12:30] #2376 closed, assigned to TimBarham

[2016-06-09 12:32] TimBarham commented on #2779
Partially fixed in dev. Remaining piece is the CommitHash meta data, which I have a possible fix for but need to verify non-Windows scenarios. Will look at that tomorrow.

[2016-06-09 13:54] chrischu commented on #2376
Wait a second, Issue #338 states that it should be fixed by fixes for THIS issue...

That seems like a bit of an infinite "wontfix" loop :(.

[2016-06-09 14:15] toddm commented on #2376
This was actually fixed by https://github.com/NuGet/Home/issues/759

[2016-06-09 14:22] harikmenon opened #2935 "NuGet Upgrader: From packages.config to project.json"
Spec available here: https://github.com/NuGet/Home/wiki/NuGet-Upgrader:-Helping-to-move-to-NuGet-3.0.

[2016-06-09 14:22] yishaigalatzer commented on #842
Looks like you are using the filtered source which have this package (as expected), look at your source configuration (gear button on the top right of the ui) and make sure https://API.nuget.org/v3/index.json exists and is enabled. You can also disable the redundant source on the bottom (Microsoft and .Net)

[2016-06-09 14:29] chrischu commented on #2376
Ok cool! Looking forward to the next release then!

[2016-06-09 15:29] holytshirt opened #2936 "Files without an extension, not appearing in nupkg using nuget 3.4.3 and above"
If I create a new .nuspec like this:

[code]

and  do `nuget pack test.nuspec` with nuget verion 3.3.0 and below there are no problems.

![nuget package pack 3 3 0](https://cloud.githubusercontent.com/assets/90132/15935002/a94a9f80-2e5d-11e6-9c36-56cf2aebc586.PNG)

If I  do `nuget pack test.nuspec` with nuget version 3.4.3 - v3.5.0-beta the VERSION file does not appear in the package metadata.

![

[2016-06-09 16:01] rrelyea commented on #2929
Needed some other CLI changes, so went in with @eerhardt's change:
- Commit: https://github.com/dotnet/cli/commit/66f1a07c08f4c85a3fb48a01793dfd030bada4d6
- PR: https://github.com/dotnet/cli/pull/3455

[2016-06-09 16:01] #2929 closed, assigned to zhili1208

[2016-06-09 16:05] rrelyea commented on #2936
Please investigate

[2016-06-09 16:09] rrelyea commented on #2926
Just trying to help understand what happened here. Did nuget.exe break this? Is something wrong with your server / network? other? If you could point to older versions that this worked with, it will help us understand what the cause might be.

[2016-06-09 16:20] holytshirt opened #2937 "A file with a nuspec with a File Target of . , not appearing in nupkg using nuget 3.4.3 and above"
Think I found another bug, with file element target attribute.
If I have a .nuspec file this

[code]

and do `nuget pack test.nuspec` with nuget verion 3.3.0 and below there are no problems.
![nuget package pack 3 3 0](https://cloud.githubusercontent.com/assets/90132/15937015/3027ecae-2e65-11e6-8c9d-5c10f10ffa92.PNG)

If I do `nuget pack test.nuspec` with nuget version 3.4.3 - v3.5.0-beta the vers

[2016-06-09 16:34] rrelyea opened #2938 "(CLI dev branch remaining only) Tweak serviceable support in nuspec to not require a new xmlns uri for dotnet pack --serviceable"
To increase NuGet ecosystem happiness, we're tweaking our behavior here.
This will make old NuGet clients deal with these packages in much better ways.

[2016-06-09 17:08] dmantovani73 commented on #2880
Today I'm experimenting the same problem (in the past few days everything worked fine). If I run Fiddler I don't see any HTTP call but I got the error. What can I do?

Thanks

[2016-06-09 17:44] Oracularman commented on #1138
Link provided by janmchan commented on Oct 26, 2015 worked.

[2016-06-09 17:46] zhili1208 commented on #1215
@sanjeets @prakhar241 @hesantan Do you have any repro steps which I can try?  what's your solution structure? are there any packages already installed in any projects? If you could provide a repro app, it will be very helpful, thanks

[2016-06-09 17:47] yishaigalatzer commented on #1138
We identified this as a bug or issue in the core visual studio extensibility. It is not a nuget specific issue, the team is working on getting repros and improve. It is generally tied to things like anti virus or encryption services.

[2016-06-09 18:00] sebastienros opened #2939 "Case sensitivity issue"
Repro from customer https://github.com/andyalm/netcoreapp-netstandard-issue

If `NETStandard` is wrongly cased, restore fine, but there error on build:

[code]

[2016-06-09 18:04] emgarten commented on #2939
This looks related to https://github.com/NuGet/Home/issues/2901

[2016-06-09 18:43] daz10000 opened #2940 "nuget setApiKey doesn't appear to be setting api key"
I use nuget periodically to push packages and I recently installed on a new machine with latest version of nuget, and I've lost a few hours to a series of bugs.   See the session below, but TL;DR - setApiKey doesn't appear to actually save a usable apiKey on my machine, and it wasn't till I explicity supplied apikey on command line that nuget would do anything.

--- current version of nuget
$ nuge

[2016-06-09 18:44] sebastienros commented on #2939
Right

[2016-06-09 18:44] #2939 closed, assigned to nobody

[2016-06-09 18:48] jainaashish commented on #2903
Merged only to dev a1b540bca7cc5ba78bd3c768396d468a31d080a0 as of now. reopening the issue for 3.4.5

[2016-06-09 18:51] daz10000 opened #2941 "nuget push to an incorrect URL on nuget.org silent fails and claims to succeed"
*\* aside **
I have to say that the docs for -Source for the push case are awful.   I recently ran into the now required -Source argument for push.  The command line docs say this:

nuget push <package path> [API key] [options](i.e. no mention of -Source required)
-Source cryptically says  "Specifies the server URL. Starting with NuGet 3.4.2".  Is that nuget.org? the package path, the api path?

[2016-06-09 19:03] billwert opened #2942 "CoreCLR restore needs to ignore feeds with encryption"
When a user adds a Nuget feed so they can push to it, VSTS will instruct them to run a command like this:
nuget sources add -name "TestFeedForBug" -source https://thiswouldbemyfeed -username "username" -password "anencryptedpassword"

This adds the feed to the global nuget.config, along with key information in the <packageSourceCredentials> tag.

When that is present, restoring running on CoreCLR

[2016-06-09 19:11] joelverhagen commented on #2932
Repro steps for EntityFramework `Enable-Migrations`.
1. Create a new .NET Core project (I chose a console app).
2. Update the project.json to target `net45` and depend on EntityFramework 6.1.3 (project.json below)
3. Save the project.json and wait for a restore. Build the project to ensure everything builds just fine.
4. Open the Package Manager Console and run `Enable-Migrations`.

[code]

[2016-06-09 20:10] rohit21agrawal opened #2943 "Tweak serviceable support in nuspec to not require a new xmlns uri"
This is for the NuGet side of things.

[2016-06-09 20:11] #2943 closed, assigned to rohit21agrawal

[2016-06-09 20:29] skofman1 opened #2944 "Unable to install package with stable version but prerelease dependencies"
Repro steps:
1. Create a package with prerelease dependencies using **project.json and dotnet pack**
2. Place the package in a folder and configure VS to use this folder as a local repository
3. Create a project with **packages.config**. Using package manager console/UI add the package to the project.

Error (for example):
`Unable to find a version of 'NuGet.Protocol.Core.v3' that is compatible wi

[2016-06-09 21:03] #2936 closed, assigned to nobody

[2016-06-09 21:44] rrelyea commented on #1891
Our solution is to use project.json and rotate build numbers with *.
We do not want to enable building a new package with the same identity as a previous package.

[2016-06-09 21:44] #1891 closed, assigned to nobody

[2016-06-09 21:46] rrelyea commented on #1888
from the commit, looks like this is addressed in 3.4.3 or 3.4.4

[2016-06-09 21:46] #1888 closed, assigned to nobody

[2016-06-09 21:48] toddm commented on #2936
This was pushed to Dev.  Need to decide if it should go to 3.4.5 or 3.5.0-beta2.

[2016-06-09 21:49] apxltd commented on #2909
Some of enterprise customers have a custom SSO integration with ProGet, and it’s always been a pain for them, because it’s not possible to integrate Windows Integrated Authentication.

We like the idea of the new Credential Providers to help solve some of the authentication pains. However... because it doesn't work in NuGet VSIX, it's not really useful to our customers.

The people who _would_ use

[2016-06-09 21:49] #1870 closed, assigned to nobody

[2016-06-09 21:51] yishaigalatzer commented on #2942
What we are going to do short term-

Change the error message to say:

Password decryption is not supported on this platform (windows/dotnetcore). The following feed uses an encrypted password: 'https://msasg.pkgs.visualstudio.com/DefaultCollection/_packaging/PrototypeDotNetCoreSupport/nuget/v3/index.json'. You can use a clear text password as a workaround, or pass it on the commandline

[2016-06-09 21:58] yishaigalatzer commented on #2909
@apapadimoulis this is not pointless for VSTS there is a lot more complex handshake going on than something you just script. This is not only for pushing but also for consuming packages.

Going forward in dev15 we do have support (currently internal) for an external provider, we haven't yet spent time on making it a publiclly supported API, but it is something we would like to get to. I believe th

[2016-06-09 22:06] apxltd commented on #2909
Oh sorry I meant pointless for ProGet usage... when this supporting only the competing Microsoft produc/service doesn't really benefit them (or us) much :)

Of course, for VSO/VSTS, I do know there's a lot of weirdness with access tokens and stuff, so it's a must-have for that... but it would be nice to have this extensible credential system work outside of only Microsoft products. Or at least upd

[2016-06-09 22:06] holytshirt commented on #2936
Awesome thanks all!

[2016-06-09 22:07] Konard commented on #2928
I have the same issue. How did you get the logs file?

[2016-06-09 22:12] yishaigalatzer commented on #2909
Thanks @apapadimoulis

We will update the docs. I also misspoke on the API, we only support a single credential provider in VS, we do need to make a small change (and lots of validation and sample work) to make an `[ImportMany]` instead of `[Import]`

[2016-06-09 22:14] apxltd commented on #2909
Cool, a doc update / clarification would be appreciated!  Basically just to say, VSIX only supports VSTS/VSO.

https://docs.nuget.org/consume/credential-providers

Basically our customers find that link and say, "why aren't you doing this in ProGet"

[2016-06-09 22:15] rrelyea commented on #1320
Was implemented in NuGet 3.5.0 or ASPNET core rc2.
We'll be moving it all towards msbuild.

[2016-06-09 22:15] #1320 closed, assigned to nobody

[2016-06-09 22:23] yishaigalatzer commented on #2909
Sure thing made the change.

Just small FYI for future reference, you are free to suggest edits to the docs there is a link at the bottom of each document that will take you to github, make a change and submit a PR right from there.

![image](https://cloud.githubusercontent.com/assets/1238711/15948418/890e2258-2e55-11e6-98f5-458b60587172.png)

[2016-06-09 22:25] konard opened #2945 "Cannot complete dotnet restore because some requests timed out after 100000ms"
Trying to make a simple hello world application using instructions from https://www.microsoft.com/net/core#windows

We tried `dotnet restore`, but it is timeouts too much.

When we tried `dotnet restore --disable-parallel` it became better, but still it is not possible to download all packages.

The main problem we suspect is a slow and unstable internet connection (4G). Is it possible to increase

[2016-06-09 22:27] rrelyea commented on #1233
Closing.

[2016-06-09 22:27] #1233 closed, assigned to nobody

[2016-06-09 22:29] yishaigalatzer commented on #2942
This issue will only cover the story for the error message. #1851 tracks the full support

[2016-06-09 23:17] richlander commented on #2942
Please use proper brand strings:
- Windows
- .NET Core

[2016-06-09 23:23] jasonmalinowski commented on #2001
@onovotny, was there a particular reason you wrote your nuspec as you did instead of

[code]

We do set TargetPath in this case for what you were expecting. For `Content` types specifically I'm not sure if there's other side effects you need from that type or if this is sufficient. When we designed this feature we intended `copyToOutput="true"` to be the case when you do need to control the output

[2016-06-10 00:34] alpaix commented on #2930
Fixed in https://github.com/NuGet/NuGet.Client/pull/658.

[2016-06-10 00:34] #2930 closed, assigned to nobody

[2016-06-10 00:49] yume-chan opened #2946 "NuGet failed to build due to hardcoded ILMerge path"
I have a nuget config to install all packages to my HDD so it won't eat up my small SSD, but NuGet had hardcoded the path to ILMerge so it failed to build with this error:

[code]

[2016-06-10 01:24] dotMorten commented on #2001
That does it for me. Thanks!

[2016-06-10 01:30] rrelyea commented on #1675
appears closable

[2016-06-10 01:30] #1675 closed, assigned to nobody

[2016-06-10 01:41] rrelyea commented on #1824
@jmezach - would love to know if this still repros with 3.4.4 and VS Update 2.

[2016-06-10 01:50] rrelyea commented on #1831
@rchande - can you share bug status and number, please?

[2016-06-10 01:55] clairernovotny commented on #2001
There may also be an issue with Android resources not generating correctly when used as contentFiles.

To repro, create a package with the following
https://gist.github.com/onovotny/5d007fd323a8393412b9#file-gistfile1-txt-L23
https://gist.github.com/onovotny/5d007fd323a8393412b9#file-gistfile1-txt-L17

then create an android project that uses project.json instead of packages.config. Now add that p

[2016-06-10 02:29] kkostrzewa opened #2947 "Double dot in file src in .nuspec doesn't work"
nuget.exe 3.4.3.855

When I create a .nuspec file with file entries with src composed of .. paths, the files will not embed into the generated .nupkg, but will not report as errors.

The attached
[nuget_bug_relpath.zip](https://github.com/NuGet/Home/files/308213/nuget_bug_relpath.zip)

demonstrates the problem.

nuget pack -verbosity detailed
will not display any errors, but it will not embed the

[2016-06-10 04:43] maartenba commented on #2934
Spec: https://github.com/NuGet/Home/wiki/%5BSpec%5D-Server-side-warnings-for-NuGet-client

[2016-06-10 06:36] TimBarham commented on #2376
Oops, sorry for the confusion!

[2016-06-10 07:54] ericstj opened #2948 "Establish consistent detail in issues/pr/commits"
In general I have a hard time following NuGet issues/PR/commits.  The descriptions are one line and usually just say what is being done which is not helpful since I can see the same from the commit.  The purpose of the issue, commit description, pr is to give more detail.   Often times I'm looking to find a specific commit that regressed me, I find it and its a tiny description that doesn't indica

[2016-06-10 08:18] yishaigalatzer commented on #2948
Sure :)

[2016-06-10 10:41] jmezach opened #2949 "nuget pack fails when MSBuild version resolved to MSBuild 3.5"
I have a solution which used to compile just fine, but after installing Visual Studio 2015 Update 3 RC it fails with the following output:

[code]

I'm using the following command:

[code]

Note that the csproj I'm trying to build is a Portable Class Library project. I'm using the latest version of the NuGet.exe command line tool: NuGet Version: 3.4.4.1321

[2016-06-10 10:57] holytshirt commented on #2937
It is there a build of the latest dev branch which I could test this bug with? The nightly build from here https://dist.nuget.org/index.html  does not seem to be the dev branch build.

[2016-06-10 12:55] rrelyea commented on #2949
Thanks very much for the report.

Does this fail to build inside of VS as well?
Or just when you build using the nuget pack command?
Which NuGet and VS did this last work for you?
Can you share a zip of a similar project so we have a good repro project? (if it can be public, paste the zip into a comment -- otherwise, share it with our team only at support@nuget.org)

[2016-06-10 12:57] rrelyea commented on #2948
Great feedback. Yes, we are actively working on improving this.
Love it!

[2016-06-10 12:58] rrelyea commented on #2947
Can you please try nuget.exe v3.4.4 (http://dist.nuget.org/index.html) - do you still see the problem?

[2016-06-10 13:02] rrelyea commented on #2944
sounds like a bug in dotnet pack. I think we shouldn't let you build a "final" version of a package if it has prerelease dependencies.

[2016-06-10 13:25] harikmenon commented on #293
Closing this issue out as a duplicate https://github.com/NuGet/Home/issues?q=is%3Aissue+is%3Aopen+telemetry+label%3AType%3AFeature

[2016-06-10 13:25] #293 closed

[2016-06-10 13:35] harikmenon commented on #2738
This issue was moved to NuGet/Engineering#55

[2016-06-10 13:35] #2738 closed, assigned to nobody

[2016-06-10 13:35] harikmenon commented on #2569
This issue was moved to NuGet/Engineering#56

[2016-06-10 13:35] #2569 closed, assigned to harikmenon

[2016-06-10 13:36] harikmenon commented on #2568
This issue was moved to NuGet/Engineering#57

[2016-06-10 13:36] #2568 closed, assigned to harikmenon

[2016-06-10 13:36] harikmenon commented on #2893
This issue was moved to NuGet/Engineering#58

[2016-06-10 13:36] #2893 closed, assigned to harikmenon

[2016-06-10 14:01] jmezach commented on #2949
Project builds fine inside Visual Studio, except for the creation of the NuGet package. I'm using the [CreateNewNuGetPackageFromProjectAfterEachBuild](https://www.nuget.org/packages/CreateNewNuGetPackageFromProjectAfterEachBuild/) package to make that happen.

The version of that package (1.8.5) I was using included NuGet.exe 2.8.50506.49 which failed with a different error message:

[code]

Stran

[2016-06-10 14:09] ericstj commented on #2948
Here's the guidance we have for corefx, in case that helps: https://github.com/dotnet/coreclr/blob/master/Documentation/project-docs/contributing.md#commit-messages

[2016-06-10 15:07] kkostrzewa commented on #2947
nuget.exe v3.4.4.1321 still shows the problem

[2016-06-10 15:15] joelverhagen commented on #2945
There is currently not an option to increase the timeout duration. Could you provide a log file for both `dotnet restore` and for `dotnet restore --disable-parallel`?

Have you tried a different version of Windows or a the same steps on a different network?

Also, this issue reminds me of https://github.com/dotnet/cli/issues/1732. There are a couple suggestions for different scenarios and network

[2016-06-10 15:43] ericstj opened #2950 "Add opt-in support for mutable packages based on content rather than identity"
No matter how you look at versioning, if you want to control the version you ship **and** test it you'll have to produce packages more than once during an escrow push.

Essentially the story goes:
- I'm done and ready to ship, let's mark packages stable
- Update upstack components to use stable packages
- Retest final bits and evaluate if any issues should reset

If you find any issues you want to

[2016-06-10 15:47] toddm commented on #2947
It works for me in Dev and the latest 3.5.0-beta2 build but not in 3.4.5.

[2016-06-10 17:05] rrelyea commented on #2938
please keep this open until you get it into the "dev" cli branch.

[2016-06-10 17:05] drewgillies opened #2951 "Add capability for local VSIX builds to work with with VS projects"
Local VSIX builds when installed to VS give assembly load errors when creating projects, because NuGet.VisualStudio.Interop is not strong named in local builds, and the VS templates require strong naming. The workaround is to replaced all references to "NuGet.VisualStudio.Interop Version=etc..." With "NuGet.VisualStudio.Interop" in all .template files (in archives) in the product directory and loc

[2016-06-10 17:08] rrelyea opened #2952 "Mark our nupkgs as serviceable"
On core escrow shiproom call today, they brought up the issue that we probably need to mark our packages as serviceable too.

[2016-06-10 17:37] rrelyea commented on #2947
after we finish b2 validation, please port to 3.4.5

[2016-06-10 17:48] alpaix commented on #1521
@JackUkleja We're working on a schedule for 3.5 release. Will update the thread when we get right estimates.

[2016-06-10 17:59] joelverhagen commented on #2932
Fixed with https://github.com/NuGet/NuGet.Client/pull/667 (commit https://github.com/NuGet/NuGet.Client/commit/f1eb5c2a813254e8f14634afa43fcda10b90dee5).

[2016-06-10 17:59] #2932 closed, assigned to joelverhagen

[2016-06-10 18:00] joelverhagen commented on #2933
Fixed with https://github.com/NuGet/NuGet.Client/pull/667 (commit https://github.com/NuGet/NuGet.Client/commit/c217cb05dbac99395aabea98f1efeb17a6a33a8b).

[2016-06-10 18:00] #2933 closed, assigned to joelverhagen

[2016-06-10 18:01] joelverhagen commented on #2932
Note that the `Enable-Migrations` scenario is still broken due to an issue in Visual Studio (internal Microsoft Visual Studio bug ID 229849).

[2016-06-10 18:06] TheRealPiotrP commented on #2899
@rrelyea @emgarten I still don't see an API in the design which CLI can call to obtain the resolved path for an asset. As discussed offline, we'd strongly prefer not to duplicate the fallback logic in CLI as this introduces additional fragility in our integration. Can you share an ETA for the integration API?

[2016-06-10 18:07] jainaashish opened #2953 "Update packages almost freezes visual studio ui with resharper installed"
When you do update packages from ui or pm console with resharper installed, it almost freezes the ui to do anything till update command is running. Also with resharper, it almost takes double of the time to complete such actions, creating more performance overhead.

Solution configuration:
6 projects, each project with 35-40 packages. Ran update command from Package Management UI for 33 packages a

[2016-06-10 18:18] rrelyea commented on #2942
please keep up until you port this change into b2.

[2016-06-10 18:21] alpaix commented on #2942
Please correct the message before merging. Interactive password is not supported on .NET Core. Encrypted passwords are not supported on all platforms not just Windows.

[2016-06-10 18:28] alpaix commented on #2942
I'd suggest this message format instead

[2016-06-10 18:34] zhili1208 commented on #2942
Correct the message and checked into dev and 3.5.0-beta2

[2016-06-10 18:34] #2942 closed, assigned to zhili1208

[2016-06-10 18:48] #1291 closed, assigned to jainaashish

[2016-06-10 20:52] hvanbakel opened #2954 "Specific response from nuget server causes VS to hang"
Today I found an issue where I’m able to make VS hang, which has to do with a ‘nuget mirror’ that we have for our local nuget server. We do this because our nuget server is on the other side of the country and this decreases latency (it also reduces the load significantly on the company wide nuget server).

VS 2015 has diminished the need for this already significantly by reducing the number of ca

[2016-06-10 21:01] barbarosalp opened #2955 "Unable to resolve "CoreClassLibrary" The folder 'D:\xxx\netstandard1.5' contains an invalid version."
I created a .net core class library and a .net core web application from Visual Studio using default project templates. And I created a nuget package for this class library then I copied it to my local nuget folder.

When I try to add this nuget reference to my web application I am getting a reference error and the output is like this:

**Package Manager Output**

[code]

Here is my environment in

[2016-06-10 21:05] barbarosalp commented on #2955
@pranavkm

[2016-06-10 21:08] pranavkm commented on #2955
For the folder structure you have to work, the sha file has to sit next to the nupkg. Instead of manually creating the directory, use `nuget.exe add <nupkg> -Source D:\Projects\MyNuget` once you have deleted things under that directory. Try restoring after.

[2016-06-10 21:21] barbarosalp commented on #2955
@pranavkm Ok, I ve run it and it is working now.
Thank you so much!

![image](https://cloud.githubusercontent.com/assets/1897167/15978832/48c0d028-2f69-11e6-9e4a-74494ae116cc.png)

[2016-06-10 21:22] hvanbakel opened #2956 "Performance: Package Manager Console init.ps1 load time"
In VS2015, when you work on a project with a lot of nuget references, switching to the package manager console is blocking Visual Studio. While it blocks, the entire packages folder is being scanned which (depending on the number of packages) can take a while.

Could this be made non-blocking or done in the background when the solution opens?

[2016-06-10 21:38] barbarosalp commented on #2955
I realized that I've tried this yesterday at work but when I did that Solid.Common.Log was removed from Manage Packages for Solution Window, even if I refreshed the feed a couple of times.

This time, same thing happened but I didn't give up.
I opened up Nuget Package Manager > Source settings and clicked Update for my local feed then refreshed the feed... and again this package didn't appear ther

[2016-06-10 22:15] rrelyea opened #2957 "Update CoreCLR/CoreFX that NuGet uses to rc3-24210-10"

[2016-06-11 00:07] joelverhagen opened #2958 "Consider collapsing absolute path log message when using relative push source"
NuGet.config:

[code]

Commands:

[code]

Output:

[code]

This is ugly, probably should say `'D:\trash\2016-06-10\foo'`

Related https://github.com/NuGet/Home/issues/1746.

[2016-06-11 01:35] emgarten commented on #2782
NuGet/NuGet.Client@aed1d51b4c1190544d9f95bde48b089740309203

[2016-06-11 01:35] #2782 closed, assigned to emgarten

[2016-06-11 07:33] #2955 closed, assigned to nobody

[2016-06-12 04:03] jasonmalinowski commented on #2001
Fair enough. I've made NuGet/NuGet.BuildTasks#15 to specify the TargetPath. We'll give that some testing this upcoming week to make sure this doesn't regress anything else.

[2016-06-12 12:04] konard commented on #2945
Log for `dotnet restore --disable-parallel`:

[code]

![_1gcpvmmdda](https://cloud.githubusercontent.com/assets/1431904/15991052/dbbce58c-30af-11e6-9104-676a4bd67016.jpg)

.NET Core was installed using https://go.microsoft.com/fwlink/?LinkID=798398 (https://download.microsoft.com/download/4/6/1/46116DFF-29F9-4FF8-94BF-F9BE05BE263B/packages/DotNetCore.1.0.0.RC2-SDK.Preview1-x64.exe)

And this is a

[2016-06-12 20:04] victorhurdugaci opened #2959 "Fallbacksource seems to be a source, not a fallback source"
Here's what I have. (1) a project created by VS with RC2 tool and (2) a folder (`D:\home\testrestore\final`) with all the nupkgs that the app requires (you can get them from `\\aspnetci`).

Then I try the following (each time I clear all the caches before running):
1. `dotnet restore --source https://api.nuget.org/v3/index.json`
2. `dotnet restore --source D:\home\testrestore\final`
3. `dotnet res

[2016-06-12 22:45] agc93 commented on #2243
@devlead That's the reply to my comment! I've emailed them asking for anything they have, even referencing this issue, just waiting for a response now..

[2016-06-13 01:26] noahfalk opened #2960 "dotnet restore fails with 'Value cannot be null'"
Repro:

[code]

Expected behavior:
Either give a nice error message or calculate settings without falling back to $HOME\.nuget\NuGet.Config

Actual behavior:

[code]

For background this isn't a hypothetical machine configuration. I have confirmed in the dotnet organization's CI pool of OSX machines at least one of them is missing the HOME environment variable, and evidence suggests that many of t

[2016-06-13 01:47] ssanp opened #2961 "dotnet restore timeout"
Hi,
I just installed rc2 for my visual studio 2015 on my windows 7 laptop, i keep getting timeout issues with multiple projects, the projects work fine on other machine except my local laptop, i am not sure what the issue is, below are the time out messages

`An error was encountered when fetching 'GET https://api.nuget.org/v3-flatcontainer/autofac/index.json'. The request will now be retried.
An

[2016-06-13 06:36] noahfalk commented on #2960
I noticed some additional behavior that made me suspect the bug is in dotnet itself (dotnet build also fails the same way). Feel free to resolve this as external if you believe its solely a dotnet issue.

[2016-06-13 07:48] JakeGinnivan commented on #2945
It appears the timeout is not per HTTP request/package, it is for everything. Each http request is either taking longer to complete or the timer is not per http request.

[2016-06-13 09:30] v-lawu opened #2962 "Uninstalling NuGet.Server gives error message in output about Routes.cs"
NuGet version:
dev:3.5.0.1479; release-3.4.4:3.4.4.1321; release-3.4.5:3.4.5.1450; release-3.5.0-beta2:3.5.0.1480

Repro steps:
1.Create MVC or Empty web application.
2.Open NuGet UI and navigate to Browse tab
3.Install "NuGet.Server" package
4.Navigate to Installed tab, uninstall "NuGet.Server" package.

The same results as iPhone->Blank App, uninstall "BugSense.Xamarin.iOS" package.

Expected: S

[2016-06-13 10:25] bednart commented on #2876
Anyone please? :)

[2016-06-13 10:42] Tasteful opened #2963 "How to force installing a specific version of package with lowest package dependency?"
I have a package that is in version `4.8.4-pre-160613084504` and then I also have a package with a later major version `5.0.0-p160501003701`. When I install the package in `Manage Packages for Solution` window and specific find the package with version `4.8.4-pre-160613084504` and select `Dependency behaivoir: Lowest` the package that will be installed is a combination of the above versions.

The

[2016-06-13 10:48] Tasteful commented on #2963
Hm, something in my build process have failure, missing packages and thats the reason that it's using the higher version instead.

[2016-06-13 10:48] #2963 closed, assigned to nobody

[2016-06-13 12:20] rrelyea commented on #2876
Can you please try NuGet 3.4.4, which is released now: http://dist.nuget.org/index.html

[2016-06-13 12:35] adamhathcock commented on #2776
confirming again that `nuget.exe update` doesn't work on xproj

Is there a way to update nuget packages in project.json without using visual studio?

[2016-06-13 12:42] maartenba commented on #2962
Not familiar with the BugSense.Xamarin.iOS package

[2016-06-13 13:01] rrelyea commented on #2962
I think that you should just read that as...
expected behavior: no error on uninstall.

[2016-06-13 14:25] maartenba commented on #2481
Relates to https://github.com/NuGet/Home/issues/2962 - seems to also happen for e.g. "BugSense.Xamarin.iOS"

[2016-06-13 15:19] joelverhagen commented on #2945
Is this a full log? Are all of the requests failing like this? Or do requests at the beginning of execution work just fine and, only after a while, do requests start timing out?  One issue is it seems that the `--disable-parallel` switch still allows multiple concurrent HTTP requests. I will investigate whether this is intended.

[2016-06-13 15:50] TimLovellSmith opened #2964 "Error messages for version compatibility during Upgrade-Package are unhelpful"
Here is an error I encountered. It isn't nearly as helpful as I would like it to be. I'm trying to update FakeItEasy and I can't because...

'Unable to resolve dependencies. 'xunit.assert 2.1.0-beta3-build3029' is not compatible with 'xunit 2.0.0 constraint'

What does that have to do with anything? What I can see is that NuGet thinks this information is highly important for some reason. But what

[2016-06-13 16:57] bednart commented on #2876
Thanks for reply ;) Result is same with NuGet 3.4.4 as with NuGet 3.4.3 :(

[2016-06-13 17:39] emgarten commented on #2959
NuGet doesn't really support `fallbacksource` it just adds as a normal source. I believe this was done initially to support the DNU fallbacksource parameter. In DNU I understood this parameter to be used only if no sources were specified in nuget.config. At this point I think it should be removed to avoid confusion.

Non-http repositories are always checked first, so there may be an issue here if

[2016-06-13 18:02] emgarten commented on #2960
This error is likely thrown from `Path.Combine()`, NuGet should check for this scenario and throw a helpful error message.

[2016-06-13 18:04] emgarten commented on #2960
@noahfalk if you are unable to set home and need another way to around this you may set the `NUGET_PACKAGES` environment variable to provide the package folder path.

[2016-06-13 18:07] wbradney opened #2965 "Nuget pack .csproj ignores .nuspec file"
This is with v3.5.0.1365. I'm pretty sure the old behaviour was to use the .nuspec file with the same name as the project file (ie nuget pack blah.csproj would also include directives from blah.nuspec).

Am I missing something?

[2016-06-13 18:14] emgarten commented on #2964
NuGet verifies that all packages are valid during dependency resolution.

This is from the nuspec of the xunit 2.0.0 package. It requires _exactly_ version 2.0.0 of xunit.assert, which conflicts with your currently installed version of 2.1.0-beta3-build3029.

This impacts your upgrade because potentially the correct xunit packages could conflict with the new packages. In general the full closure o

[2016-06-13 18:42] BrianVallelunga commented on #2865
@jainaashish If I understand you correctly, then it is literally impossible to build a combined project.json + csproj solution right now with msbuild and that's as designed? If you read the linked issues, you'll see people are trying to build simple sites that reference a csproj project on a build server and the build is breaking, while working in VS.

[2016-06-13 18:51] emgarten commented on #2956
How long does it take for your solution? How many of the packages have _init.ps1_ files under _tools_?

[2016-06-13 18:52] hvanbakel commented on #2956
I'm not talking about reinstalling, only a very small percentage will be outdated and need to be restored. A very small percentage will have scripts in their package, this is just to bring parts of the system together in a main solution.

[2016-06-13 19:00] TimLovellSmith commented on #2964
@emgarten Thanks, but I didn't really file the issue because I wanted someone to explain the error message to me. I filed the issue because I want the error message to be clearer, so that it does not need so much explaining. Could I improve the issue to make it easier to review/address?

PS - I feel a big part of what makes this error message hard to work with is the fact it seems to be complainin

[2016-06-13 19:01] wbradney opened #2966 "project.json: nuget does not include native libs in build"
This is with 3.5.0.1365
The repro is attached. The example has a "wrapper" package for SQLite (which requires interop assemblies in the native bin folders). When a project.json-equipped project references the wrapper package, the native binaries are not copied. A packages.config-equipped project works fine.
[NugetSqliteRef.zip](https://github.com/NuGet/Home/files/312526/NugetSqliteRef.zip)

[2016-06-13 19:35] rrelyea commented on #2952
Please link to PR/Commit. Fixed Friday, right?

[2016-06-13 19:36] rrelyea commented on #2957
Finished Friday night.

[2016-06-13 19:36] #2957 closed, assigned to zhili1208

[2016-06-13 19:52] joelverhagen commented on #2734
Some scenarios to consider:
1. What happens if a feed (local v2? local v3? remote v2? remote v3?) has an invalid portable framework in an older version of the package? can the user still use the UI to upgrade out of the bad version?
2. If there is no fixed version of the package, what else can the user do? Is the only option contacting the package owner about fixing the package in a newer version?

[2016-06-13 19:58] rrelyea commented on #2899
We are waiting for go/no-go on this based on a new MVC runtime change that would be necessary. our work is checked into the dev branch.

[2016-06-13 20:05] rrelyea opened #2967 "Move NuGet to depend on v1.0 of CoreFX/CoreCLR/etc..."

[2016-06-13 20:07] #2952 closed, assigned to rohit21agrawal

[2016-06-13 20:25] hesantan commented on #1215
@zhili1208 I don't really have a reliable repro, but I think my setup or some other setting might have been might be part of the problem.

Ss I have VS 2013 Professional and I have been using it with NuGet for a while with no problem.
I installed VS 2015 Professional not so long ago and I stalled all of the extensions I need along with NuGet.

I have a website set up with a local Nuget Server. I h

[2016-06-13 20:27] toddm commented on #2938
It's in preview2 which will flow to rel/1.0.0 so this is now done.

[2016-06-13 20:27] #2938 closed, assigned to toddm

[2016-06-13 20:55] zhili1208 commented on #1215
@hesantan we had issues with web site project in nuget 3.4.X, but we fixed it later, so please update VS and nuget to latest, it might fix this

[2016-06-13 21:00] konard commented on #2945
![3wwntz0umnu](https://cloud.githubusercontent.com/assets/1431904/16022859/ac75c334-31c2-11e6-8037-4ddd774cef05.jpg)

Some files was downloaded ok. This was a part of log of last rerun of restore (so it contains only those files that was non downloaded ok). We will try to run restore again. And I`ll provide a full log in txt file.

[2016-06-13 21:32] noahfalk commented on #2960
Thanks, the NUGET_PACKAGES is exactly the solution I found when poking around : ) Do you know if that env var is officially supported or am I just taking a gamble when I use that?

[2016-06-13 21:44] skofman1 opened #2968 "Error shown when running NuGet.exe help -Markdown -All"
Error:
The resource type 'NuGet.CommandLine.NuGetCommand' does not have an accessible static property named 'RestoreCommandUsageExamples'.

[2016-06-13 23:13] emgarten commented on #2960
I would consider it officially supported, let me know if you find any scenarios where it doesn't work.

[2016-06-13 23:16] emgarten commented on #2964
@TimLovellSmith can you share how were able to get an invalid combination of xunit packages installed to start with? Did you use NuGet Visual Studio extension, or was this done with other manual changes?

[2016-06-13 23:25] emgarten commented on #2956
_Init.ps1_ scripts for each package in the solution are executed when the package manager console is opened, this loads up any powershell helper modules needed by the packages.

The core actions that NuGet performs when opening the window are minimal, but potentially the packages you are using could have very slow init.ps1 scripts. It is also possible that your own powershell settings are slowing

[2016-06-13 23:27] noahfalk commented on #2960
Will do. At this point I can report no issues - it is working just how I hoped it would. Thanks!

[2016-06-13 23:50] emgarten commented on #2964
There are error message improvements going into the next release of NuGet. For example starting out with an invalid packages.config as was the case here, an error will be displayed. See: https://github.com/NuGet/Home/issues/1373

[2016-06-14 00:05] rrelyea commented on #2967
Please add PR/Commit to issue, then close.

[2016-06-14 00:10] emgarten commented on #2966
Your nuspec is excluding build assets from the SQLite package, is this where you are expecting the native binaries to come from?

[code]

Try changing this to:

[code]

[2016-06-14 00:42] emgarten commented on #2968
I've checked in a fix for this to unblock tests
NuGet/NuGet.Client@1cd6850fc8cb773b268c59ddc84762c8abe0a7f9

[2016-06-14 00:42] #2968 closed, assigned to nobody

[2016-06-14 01:54] wbradney commented on #2966
You're talking about the .nuspec that ends up in the .nupkg file, right?
That actually explains why it doesn't copy the build files, but my wrapper project doesn't have a .nuspec file to control this. I guess that means the bug is in nuget pack?

[2016-06-14 01:59] ravensorb opened #2969 "Issue determining installed target compatibility when a file with a target of "content" is included in files section"
I believe I have discovered an issue with how nuget determines if a package is compatible with a particular solution.  It appears that if a file with a target of "content" is included in the files section, the package will install in ALL projects regardless of actual target framework

Example

[code]

The above nuspec file will generate a package that will install in any project regardless of targ

[2016-06-14 03:54] TimBarham opened #2970 "Package Manager does not update when install packages using Package Manager Console"
1. Create a new Windows Console Application (specifically Windows, not .NET Core, so we get a `packages.config` project which more easily repo's the second part of this, but the first part will repro with a `project.json` project).
2. Open the _Package Manager_ for the project (it should default to the _Installed_ tab).
3. Open the _Package Manager Console_.
4. Enter `install-package microsoft.net

[2016-06-14 04:00] TimBarham commented on #2970
(I noticed this when validating the `3.5.0-beta2` vsix, but it also repro's with `3.4.4`)

[2016-06-14 08:00] robertmuehsig commented on #2703
Any hints? Maybe from @rrelyea or @maartenba ?

[2016-06-14 08:02] maartenba commented on #2703
On adding the sources, that is correct. Not sure on first question.

[2016-06-14 08:30] mathikp opened #2971 "Package listing fails from private feed"
We are maintaining a private NuGet feed with packages for MVC projects. Its working fine till now. But if we add some ASP.NET Core packages (ASP.NET 5-MVC 6) in the same feed, none of the packages are not listing in the NuGet Package Manager. The existing MVC packages are also not listing. An error is showing. This issue comes in all Visual Studio versions (2012, 2013, 2015). The following errors

[2016-06-14 10:55] adamhathcock opened #2972 "VS2015: NuGet Package targeting .NET 451 and .NET Standard 1.3 always puts netstandard packages with a csproj project."
This has been an issue ever since trying to use a csproj project with NuGet and nuget packages created from xproj projects.  Has this supposed to have been fixed?

Here's a snippet of my xproj's project.json:

[code]

I create a csproj targetting 4.5.2 and it errors trying to pull in System.Diagnostics.StackTrace since it's not supported on NET452.  However, it shouldn't be trying to do that at al

[2016-06-14 12:38] devlead commented on #2243
@agc93 ok cool :+1: Please ping back if you get any solid info,

[2016-06-14 13:08] rrelyea commented on #2972
Please include a zip file with the full repro and repro steps? We get a ton of issues reported and appreciate issues which are easy to repro.

[2016-06-14 14:32] agraignc opened #2973 "Not possible to target two different framework for the same package"
Hello,

I'm working on a project developed in .Net45, I have to do the exactly same project but in .Net35, it's a requirement. So I was thinking to not duplicate my project but just do multi targeting.

Anyway I have 1 project with the same references but different target framework, but the file packages.config doesn't seem to allow that. This is what I tried and had the error "Duplicate package":

[2016-06-14 14:52] #2973 closed, assigned to nobody

[2016-06-14 14:53] agraignc commented on #2973
sorry it's possible, the solution :
`<?xml version="1.0" encoding="utf-8"?> <packages> <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net45,net35" /> </packages>`

[2016-06-14 15:30] adamhathcock commented on #2972
Sorry, this appears to be an issue with Artifactory.  Not NuGet.

[2016-06-14 15:30] #2972 closed, assigned to nobody

[2016-06-14 16:11] emgarten commented on #2969
A target framework sub folder can be used with content, example:

`<file src="..\..\docs\XLabs.Forms.Readme.md" target="content\monoandroid\XLabs.Forms.Readme.md" />`

[2016-06-14 16:39] TimLovellSmith commented on #2964
This does seem like a possible dupe of #1373.

@emgarten I don't think it's that useful to speculate how I got into this state with invalid combination. Invalid combinations should just be assumed to be something that happens. E.g. this probably happened months ago and could easily have been user error when doing a git merge or selective git resetting lines/files or something of that nature.

[2016-06-14 16:48] robertwharvey opened #2974 "Is NuGet vulnerable to this typosquatting attack?"
A [recently-published article](http://incolumitas.com/2016/06/08/typosquatting-package-managers/) demonstrates a way to make "typo-squatting" attacks on popular programming package managers. It singles out Python's pip, Ruby's gem and Node's npm systems, and shows that they have two things in common:
1. Packages can be submitted and accepted automatically, with no manual review or human oversight

[2016-06-14 17:09] vcsjones commented on #2974
Yes.

The "old" project model allows running PowerShell scripts, so yes I would say this is also an issue for NuGet. Even the new ones are vulnerable in that as soon as they "run" their project importing the package, the assembly can just do something malicious.

I've seen a few organizations adopt the practice of banning the Microsoft NuGet repository, and set up a local server with vetted packag

[2016-06-14 17:11] jmyersmsft opened #2975 "API Key in config does not correctly transfer from v3 to v2 for push"
It appears that when you try to push a package using the v3 protocol, an API key set for that URL isn't used. Instead, it looks for an API key for the v2 URL from the PackagePublish resource in index.json.

NuGet Version: 3.4.4.1321

[code]

[code]

[code]

[2016-06-14 17:16] harikmenon commented on #2974
In the new model except for init scripts, we dont actually allow execution of any code. Of course the assembly can do anything it needs to within the context of the sandbox (or not) its executing under. We do however do virus scanning regularly of uploaded packages and packages in the repository.

For the signing issue, the primary use could be that I allow only packages with a vetted list of cert

[2016-06-14 17:34] zhili1208 commented on #2967
https://github.com/NuGet/NuGet.Client/pull/677

[2016-06-14 17:34] zhili1208 commented on #2967
https://github.com/NuGet/NuGet.Client/commit/1dea7f4b23264e36a0473cf0a5be8461e558fc88

[2016-06-14 17:34] #2967 closed, assigned to zhili1208

[2016-06-14 18:01] zhili1208 commented on #2940
nuget.exe saved ApiKey in nuget.config but it's not used by push command. this is dup bug. https://github.com/NuGet/Home/issues/2627

[2016-06-14 18:01] #2940 closed, assigned to zhili1208

[2016-06-14 18:31] konard commented on #2945
The log is truncated by cmd, so only the end of log is available:
[dotnet restore log.txt](https://github.com/NuGet/Home/files/314673/dotnet.restore.log.txt)

There are videos of the process:
https://www.youtube.com/watch?v=y64jBe8ecMU
https://www.youtube.com/watch?v=XZlrqeAQ5sg
https://www.youtube.com/watch?v=v4nOgwQdegQ

[2016-06-14 18:41] daz10000 commented on #2940
Thanks! - yes I can confirm that it did save the key, so it's the push command that's buggy.  Good luck wiping it out,

[2016-06-14 19:03] zhili1208 commented on #2627
the issue here is
nuget.exe setApiKey [mykey]
the default apikey config is key ="https://www.nuget.org", value =[mykey]
nuget.exe delete mytestpackagex 2.0.2
nuget try to find value of key "https://www.nuget.org/api/v2/package" in nuget.config, it return null.

[2016-06-14 19:08] zhili1208 commented on #2975
I think this is same issue as https://github.com/NuGet/Home/issues/2627

[2016-06-14 19:08] #2975 closed, assigned to nobody

[2016-06-14 20:12] jmyersmsft commented on #2627
Whether or not this is the same root cause as #2975 , that bug is not just a problem of inconsistent defaults, and it's not just a problem for nuget.org.

[2016-06-14 20:24] #2719 closed, assigned to rohit21agrawal

[2016-06-14 20:27] zhili1208 commented on #2627
@jmyersmsft yes, this is not a problem for nuget.org, it's for all sources

[2016-06-14 20:42] toddm opened #2976 "Update with project.json in VS does not restore the package"
Repro steps:
Create .NET Core Class Library project in VS
Open NuGet 3.5beta2 package manager
Install CsvHelper 2.14.3 package
Go to Installed tab, and hit Update to update to 2.15.0

Output says it was installed but it does not do a restore on the package.  The project.json file gets updated but the references in the solution explorer show the old version and refreshing the package manager window

[2016-06-14 20:52] ravensorb commented on #2969
Cool, thats great to know (might be worth updating the documentation to indicate that).  The downside is, a separate line is needed for every platform just for a readme file -- seems like a lot of extra work just to fix an issue with the target platform supported detection?

[2016-06-14 21:29] mlorbetske opened #2977 "dotnet restore with --ignore-failed-sources fails when DNS for the remote host cannot be resolved"
# Steps to reproduce

On Ubuntu 16.04, disable networking
`dotnet restore --ignore-failed-sources`
## Expected  behavior

Restore completes with warnings
## Actual behavior

log   : Restoring packages for {location}...
error: Unable to load the service index for source https://api.nuget.org/v3/index.json
error:    An error occurred while sending the request.
error:    Couldn't resolve host name
##

[2016-06-14 21:56] rrelyea commented on #2627
Zhi found several dupes. Putting in beta3 for analysis.

[2016-06-14 23:19] rrelyea commented on #2976
beta2?

[2016-06-14 23:19] emgarten commented on #2976
This would be handled by the web tools, normally a restore is done when the project.json file is saved.

[2016-06-15 02:08] #2961 closed, assigned to nobody

[2016-06-15 05:28] ghost commented on #2473
:+1: on having one command line interface with just self-update option tapped into VS update notification center. Easy to maintain and less confusing when two different set of commands available doing the same thing: `nuget install <package>` (shell) <-> `install-package <package>` (visual-studio package-manager-console).

[2016-06-15 05:51] agc93 commented on #2243
I got a reply back from the team basically outlining that they don't have much information and actually indicating that Dave's blog posts are their best source currently!

Full response below:

[2016-06-15 13:12] RomainHautefeuille commented on #2972
I just encountered the issue, also using Artifactory.
When bypassing it (setup a local package repository for instance) the issue is gone.

[2016-06-15 13:39] adamhathcock commented on #2972
Yeah.  I used a local file system source to validate what I should be seeing.

[2016-06-15 15:47] GeorgeVovos opened #2978 "Can't install any NuGet Package if at least one Source is not available"
Initially posted here:
http://stackoverflow.com/questions/37830799/cant-install-any-nuget-package-if-at-least-one-source-is-not-available

I've added a custom NuGet package source.
If that source if not available I cannot install any package (for example EntityFramework)

I'm using:
**VS2015 Enterprize Update 2 with NuGet 3.4.4.13.21**
It seems to be working fine with
**VS2013 Premium Update 5 wit

[2016-06-15 16:46] joelverhagen commented on #2945
Does executing `nuget.exe restore project.json` also hang? Try using this version of NuGet.exe:
https://dist.nuget.org/win-x86-commandline/v3.5.0-beta/NuGet.exe

[2016-06-15 19:04] vsriram11 opened #2979 "NuGet Package Manager GUI Install Button"
In the Package Manager GUI in Visual Studio, getting to the install button is a real pain point. It's located at the bottom of the right pane, which means expanding the window (there is no right scrollbar), and then scrolling down the right pane. I'd like to have the install button be easy to see from the getgo.
![nugegui](https://cloud.githubusercontent.com/assets/3003836/16093575/4105f742-32f1-1

[2016-06-15 20:37] joelverhagen opened #2982 "Install-Package tab completion does not work on All source"
## Steps:
1. Open Visual Studio.
2. Open the Package Manager Console.
3. Make sure you have more than one source and that the "All" source is selected in the Package Manager Console.
4. Type `Install-Package sql` then press Tab on your keyboard.
## Expected:

There should be autocomplete suggestions from all sources.
## Actual:

Either no suggestion comes up, or a suggestion list which is files in

[2016-06-15 21:30] rrelyea commented on #2976
Tracking...but will be closed as external...

[2016-06-15 21:38] joelverhagen opened #2983 "Create a NuGet.Core 2.12 final nupkg and depend on it in V3"
Right now we are depending on `2.12.0-rtm-*`:
https://github.com/NuGet/NuGet.Client/blob/1dea7f4b23264e36a0473cf0a5be8461e558fc88/src/NuGet.Core/NuGet.Protocol.Core.v2/project.json#L39

Also, packages meeting this spec are only on nuget-volatile feed and should be on NuGet.org.

[2016-06-15 21:38] joelverhagen commented on #2983
/cc @rrelyea

[2016-06-15 21:39] ohadschn opened #2984 "Misleading dependency resolution error message"
Earlier today I published a NuGet package to an internal network-share based source. This package had a dependency on the public [Microsoft.AspNet.WebApi.Client](https://www.nuget.org/packages/microsoft.aspnet.webapi.client/). I issued the following command to install it (NuGet.exe 3.4.4): `nuget install "My.Package" -Source \\my-server\NuGet`

I was then met with the following error:
`Unable to r

[2016-06-15 22:30] rrelyea opened #2985 "signed vsix of 3.5.0-beta2 last worked on 6/8"

[2016-06-15 22:45] emgarten commented on #2831
NuGet/NuGet.Client@b5972d87fe8044843e4d4beb41d66807332ef226

[2016-06-15 22:45] #2831 closed, assigned to emgarten

[2016-06-15 22:48] emgarten commented on #2807
Local folders will now check for .symbols.nupkg in file names and exclude those packages.

NuGet/NuGet.Client@cea464c27a439406c669643e4a6901b56a67a337

[2016-06-15 22:48] #2807 closed, assigned to emgarten

[2016-06-15 22:50] emgarten commented on #2296
This is now provided by `NuGetPathContext`

NuGet/NuGet.Client@b5972d87fe8044843e4d4beb41d66807332ef226

[2016-06-15 22:50] #2296 closed, assigned to emgarten

[2016-06-15 22:53] #1699 closed, assigned to emgarten

[2016-06-15 22:55] emgarten commented on #2899
NuGet/NuGet.Client@b5972d87fe8044843e4d4beb41d66807332ef226

[2016-06-15 22:55] #2899 closed, assigned to emgarten

[2016-06-15 22:58] emgarten commented on #2403
The `NuGetPathContext` API handles this now.

NuGet/NuGet.Client@b5972d87fe8044843e4d4beb41d66807332ef226

[2016-06-15 22:58] #2403 closed, assigned to emgarten

[2016-06-15 22:59] emgarten opened #2986 "Revert dev changes in beta3"
Should these changes go into beta3? They are currently in the dev branch.
1. lowercase paths in package folders
2. fallback package folders

[2016-06-15 23:05] emgarten commented on #2136
This will be needed for servers such as pro get.

[2016-06-15 23:05] #2136 closed, assigned to emgarten

[2016-06-15 23:20] emgarten commented on #1749
@ericstj is there still work needed for this?

[2016-06-16 00:07] rrelyea commented on #2766
We need this to be done on the project level, but not the solution level. Solutions are ok to call restore on, and not have any usages of NuGet.

If you restore|update a project, w/o p.j or p.c - we error then.
if you restore|update a solution w/o p.j or p.c, we shouldn't error or warn.

[2016-06-16 00:08] rrelyea commented on #2766
Customer feedback:
It has a major regression: it blows up on solutions that don’t use NuGet, when it used to no-op.

e.g. clone https://github.com/KuduApps/SimpleWebApplication and run nuget restore.

Beta 1 (and earlier):
MSBuild auto-detection: using msbuild version '14.0' from 'C:\Program Files (x86)\MSBuild\14.0\bin'.

Beta 2:
MSBuild auto-detection: using msbuild version '14.0' from 'C:\Progr

[2016-06-16 00:11] rrelyea commented on #2766
Please add several tests...
solution with no projects
solution with 1 project, w/ no nuget
solution with 2 project, 1 w/ no nuget, other with p.j
solution with 2 project, 1 w/ no nuget, other with p.c

[2016-06-16 07:33] mlidbom commented on #2776
Most bugs seem to be assigned a milestone pretty quickly and are then taken care of. But this one has been around for more than a month now with no apparent action. This is a pretty nasty bug/problem. It is the reason that we cannot migrate to using project.json. And we really need the benefits to merging etc that that would give us.

It would be greatly appreciated if fixing this could at least b

[2016-06-16 08:43] #2978 closed, assigned to nobody

[2016-06-16 08:43] GeorgeVovos commented on #2978
This is by design. Since we support searching across multiple sources for the packages that you need, we need to be able to reach all sources and get the package results before restoring these packages, to be deterministic and consistent in the way we do restore.

However, we understand that some users go into offline/online modes and we are investing in building a feature set that will enable you

[2016-06-16 09:04] raffaeler commented on #2393
Any workaround?
Looks like nuget never liked proxies, but this issue is blocking

[2016-06-16 09:36] RomainHautefeuille commented on #2972
created an issue https://www.jfrog.com/jira/browse/RTFACT-10581

[2016-06-16 10:13] adamhathcock commented on #2972
Thanks!  My company also contacted them about this issue but yours is better.

[2016-06-16 11:14] mmajcica opened #2987 "Configuration override and defaults problem"
Given the following scenario:

In the %ProgramData%\NuGet\Config\NuGet.config file, I will add the following:

`<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="E:\packages" />
  </config>
  <packageSources>
    <add key="Nexus NuGet Proxy" value="http://blabl/service/local/nuget/feed/" />
  </packageSources>
  <disabledPackageSources>
    <add

[2016-06-16 16:59] emgarten commented on #2393
The best workaround is to use NuGet.exe 3.5.0-beta from http://dist.nuget.org/index.html

_dotnet restore_ is a subset of the restore command in NuGet.exe

[2016-06-16 17:12] joelverhagen commented on #2985
Fixed with @drewgil's help. Build drop location sent to internal alias.

[2016-06-16 17:13] #2985 closed, assigned to alpaix

[2016-06-16 17:26] tebeco commented on #2393
I could make 3.5.0beta works behind a proxy with ntlm auth

dotnet restore still fail

Vs2015 use cache inside program files

I have to manually run nuget.exe

So VsCode won't work because it use a separate nuget client

[2016-06-16 17:49] raffaeler commented on #2393
I need making dotnet work to avoid a continuous mess in VS2015.
From this perspective, the best workaround I found is installing cntlm proxy which works also with nuget 3.4 (the default for the current tools).

I am quite surprised the proxy problem is back since I raised this problem more than 2 years ago with the old nuget.exe.

[2016-06-16 20:31] barrytang opened #2988 "Nuget private server source not working"
I added in my Nuget source a private server with this command.
 nuget.exe sources add -Name NameOfTheSource -Source https://nuget.domain.com -UserName email@domain.com -Password ******\*

It is working with "Normal" application, unfortunaltly not with dotnet core. It is impossible to do a Nuget restore if you do not remove it.

[2016-06-16 20:31] barrytang commented on #2988
Open on behalf of @Lenny32.

[2016-06-16 20:45] tebeco commented on #2393
The pb is for nuget xplat is it the exact same codebase ?

[2016-06-16 21:27] IntelOrca commented on #2793
As a work around, you can either set your environment variable `TMPDIR` beforehand to something the user will have permissions to... or you can set the permissions of `/tmp/NuGetScratch/` and `/tmp/NuGetScratch/lock` to `o+rwx`.

[2016-06-16 21:28] hvanbakel commented on #2956
So here's an example of the problem I'm seeing. I've attached a solution that has a small number of packages. To reproduce, open the solution in 2015 and restore all packages.

Then in 2015 switch between some window and the package manager console. What will happen in 2015 is that it will go through the packages folder in order to find out if it has everything it needs. However, say you have a pa

[2016-06-16 22:48] emgarten commented on #2956
The logs and repro solution are very helpful, thank you! Which version of NuGet do you have installed in VS 2015?

[2016-06-16 22:53] hvanbakel commented on #2956
I have 3.4.0.798 installed.

[2016-06-16 22:57] rrelyea commented on #2776
considering how csproj + p.j (in a UWP project) could work is great.
Making xproj work here is not something we are going to invest in, as xproj->csproj move will take major investment, and we need to focus on future.

[2016-06-16 23:41] rrelyea commented on #2976
Just checked. This appears to be on track to be fixed, on the aspnet tooling side, for Preview2 release.

[2016-06-16 23:49] emgarten commented on #2956
It looks like this can be improved, the root issue here is that NuGet is searching for each package within each sub folders. VS 2013 did this also in most scenarios, however it looks like it was optimized in the Powershell launch/init.ps1 scenario and VS 2015 is missing that.

How many packages does your solution contain and how long does it take Powershell to load?

In your VS 2015 log it shows 2

[2016-06-16 23:55] rrelyea commented on #2988
@Lenny32
when you say it is impossible to do a nuget restore if you don't remove it, do you mean when you run "dotnet restore" it errors? or do you mean nuget restore fails?
dotnet restore has a known limitiation that it won't work with encrypted passwords in the nuget.config file, which is the default in the sources add scenario you list. One option: choose to: -StorePasswordInClearText

[2016-06-16 23:58] rrelyea commented on #2766
meant to make b2, not b3

[2016-06-17 00:32] TimBarham commented on #2766
Fix is in 3.5 beta2 and dev.

[2016-06-17 00:32] #2766 closed, assigned to TimBarham

[2016-06-17 00:37] hvanbakel commented on #2956
300+ packages with a lot of dependencies between the packages.
Switching to the console takes 14 seconds in which it completely freezes.

[2016-06-17 00:40] davidebbo commented on #2766
Is it on https://dist.nuget.org/win-x86-commandline/v3.5.0-beta2/NuGet.exe?

[2016-06-17 00:41] davidebbo commented on #2766
Build on there is `3.5.0.1484`, which is the same as before the fix, so I'm guessing not. @rrelyea, let me know when it gets there and I'll test with it.

[2016-06-17 00:45] rrelyea commented on #2766
Will do. ETA tomorrow morning.

[2016-06-17 00:47] borrrden opened #2989 "Nuspec file src attribute is platform specific?"
I sunk some time into wondering why Nuget.exe pack was not actually including the files I told it to.  It seems that on Unix platforms, the path needs to have forward slashes, while on Windows it needs to have backward slashes.  If the incorrect one is used then the files are silently skipped **and the command still succeeds without a warning or anything**.

Example:
On windows:
<file target="lib/

[2016-06-17 08:01] TimBarham opened #2990 "Uninstalling package from packages.config project doesn't always remove from packages folder"
Normally when you uninstall a package from a project that uses `packages.config`, and no other project in the solution uses that package, the package's folder is removed from the packages folder.

However, If the only other projects that use the package are `project.json` projects, the package's folder should be deleted, but it isn't.

Repro steps:
1. Create a new Windows Command Line project in V

[2016-06-17 10:45] mlidbom commented on #2776
@rrelyea
I'm not really clear on how to interpret your last comment. Are you saying that we should not expect a combination of .csproj and project.json to ever be fully supported? If so I would consider that very unfortunate. The advantages to moving dependencies out of the csproj files are huge and we really need them for our current solutions. Migrating entirely to some future project format is

[2016-06-17 12:18] Lenny32 commented on #2988
@rrelyea
I didn't try with the parameter "StorePasswordInClearText" before (I just did).
It is still not working. I still get the same error. In the end I get package restore failed.
I tried in Visual Studio and with the command line "dotnet restore"

`info :   CACHE https://www.nuget.org/api/v2/FindPackagesById()?id='Microsoft.NETCore.DotNetHostResolver'
info :   CACHE https://api.nuget.org/v3-fl

[2016-06-17 12:38] maartenba opened #2991 "Some files not found in NuGet2 project"
_From @cnsharp on June 17, 2016 12:14_

The following files are not found after git clone,could you help me ?
NuGet.Frameworks/_.cs
NuGet.Frameworks/_.resx
NuGet.Shared/*cs

_Copied from original issue: NuGet/NuGetGallery#3085_

[2016-06-17 13:20] mrward opened #2992 "NuGet on Mono workarounds"
Xamarin Studio 6.1 now ships with NuGet 3.4.3 and is using a custom build of the NuGet binaries in order to workaround the following two Mono problems:
1. [InvalidOperationException when running NuGet](https://bugzilla.xamarin.com/show_bug.cgi?id=37970)
   1. [NuGet 3 patch](https://github.com/mrward/NuGet.Client/commit/f2362284774db37f3b868a6c704aec21c391056c)
2. [WebException.Response is null wh

[2016-06-17 14:19] rrelyea opened #2993 "[1] Enable Solution level restore in msbuild"
It is critical that Restore operates on a solution, not a project for:
- correctness (only by understand all the project to project references in a solution, and the set of nuget packages that the projects all use, are we able to get the right answers for version conflict resolution)
- performance (restore used to take 90 seconds for Roslyn before we did solution level restore, now it takes 10 - w

[2016-06-17 14:21] rrelyea opened #2994 "[0] NuGet Restore Task & Targets"
In the move from xproj/project.json to msbuild, we need to ensure Restore is well integrated into the build process.

how we are able to integrate it best will depend on the results of #2993

[2016-06-17 14:22] rrelyea opened #2995 "[0] NuGet Package Task & Targets"
As part of the move from Project.Json/xproj to csproj, we need to enable msbuild to be able to generate .nupkgs as part of its build output, in an integrated way.

[2016-06-17 15:52] roji commented on #2945
+1

I'm on an odd/crappy Internet connection which for some reason reacts badly to many concurrent connections. `--disable-parallel` doesn't seem to actually disable parallel HTTP connections, unfortunately.

Trying the v3.5.0-beta doesn't seem to change anything for me.

It's also unfortunate that the timeout value itself can't be adjusted.

[2016-06-17 17:12] rohit21agrawal commented on #2776
@mlidbom I think what he meant is that we would work to support csproj + project.json . However, we will not invest in making this work for xproj + project.json, unless it's a very trivial fix.

Rob - correct me if I understood something wrong.

[2016-06-17 18:02] zhili1208 commented on #2987
that's because all NuGet.Config files in %ProgramData%\NuGet\Config\ are machine wide config, If %AppData%\NuGet\NuGet.config is not present, NuGet will do some initialization which add nuget.org and disable remote machine wide source for performance. So in your case, if you don't want nuget.org source, just keep %AppData%\NuGet\NuGet.config and disable nuget.org there. then there is no initializa

[2016-06-17 19:45] joshgerdes opened #2996 "NuGet restore via Mono on Mac responses with 'Data unprotecting failed'"
When running the nugget restore command via Mono on mac I receive a todo message. Can anybody shed any light on this?
###### Here's the output from running `mono --runtime=v4.0 ./nuget.exe restore`:

###### Environment info:
- Mac OS X 10.11.5 (15F34)
- NuGet Version 3.4.4.1321
- Mono JIT compiler version 4.2.3 (Stable 4.2.3.4/832de4b Wed Mar 30 13:57:48 PDT 2016)

[2016-06-17 20:44] joshgerdes commented on #2996
Retesting with newer beta version of NuGet (I had accidentally copied an older version).

I'm now using NuGet Version: 3.5.0.1284 but I am receiving the following error:

Any thoughts?

[2016-06-17 20:53] nbenninghoff commented on #491
This just happened to me in VS2015 update2
Package Manager Console Host Version 3.4.4.1321

[2016-06-17 21:17] harikmenon opened #2997 "NuGet versioning for UWP and Extension SDK Support"
Need to support UAPxxx version of SDK version
Support Extentsion SDK upgrade to NuGet

[2016-06-17 21:31] konard commented on #2945
+1

[2016-06-17 22:55] weshaggard opened #2998 "Add netcoreapp11 and netstandard17 support"
cc @ericstj

In preparation for vNext we need to add netcoreapp11 and netstandard17 TFM support to nuget client

netcoreapp11 should map to netstandard17

we should also remap net463 to netstandard17 instead of its current netstandard16

[2016-06-17 23:00] joelverhagen commented on #2945
I've improved `-DisableParallel` on NuGet.exe and checked the change into our `dev` branch. The `-DisableParallel` (and `--disable-parallel` on `dotnet restore`) switch only impacts specific parts of the restore process. I have extended this to include HTTP concurrency during restore.

Could you give this prerelease build a try and see if it solves your problem?
[NuGet-dev-1506.zip](https://github

[2016-06-17 23:32] wbradney commented on #2965
Looking at the Nuget.Core code (PackCommandRunner), it seems that you can build a package from one of (exclusively) the project.json file, the proj file, or the .nuspec file. Is this a regression? I'm pretty sure that in prior versions specifying the proj file would also include the .nuspec directives if present. Is there a new way to include additional supplemental files in a .nupkg?

[2016-06-17 23:43] wbradney commented on #2965
Could be the same problem as issue 2726? There's a repro over there.

[2016-06-18 00:17] joelverhagen opened #2999 "Get-Package with relative source never returns results"
Works fine in `3.5.0-beta2`. Presumably this problem is only in `dev`.
# Steps
1. Create a csproj with packages.config
2. Install some packages.
3. Open PMC.
4. Type `Get-Package -ListAvailable -Source packages`.
5. Press enter.
# Expected

The packages you installed should appear.
# Actual

`No packages found in the current package source.`

There is an error calling `Uri.IsFile` on a relative UR

[2016-06-18 00:17] joelverhagen commented on #2999
/cc @emgarten

[2016-06-18 01:43] clairernovotny opened #3000 "NuGet doesn't install dependencies for default group"
With a PCL 259 project, installing a package that has both some dependencies in groups with target frameworks and some with a default, NuGet does not apply the default group.

This is with NuGet 3.5.0.1502 and VS 2015 Update 3 RC.
Note: this also repro's with 3.4.4.1321 (latest on the VS Gallery).

Repro is here:
https://github.com/Reactive-Extensions/Rx.NET/tree/integration-tests/Rx.NET/Integrati

[2016-06-18 08:28] mrward commented on #2996
Do you have any encrypted passwords in your NuGet.Config?

The data unprotecting failed sounds like a bug in Mono. The bug was that if you stored an encrypted password in the NuGet.Config file, then upgraded Mono, then NuGet would fail to decrypt that password.

https://bugzilla.xamarin.com/show_bug.cgi?id=31199

This bug has been fixed however sometimes it seems to re-appear when new versions of

[2016-06-18 23:13] emgarten commented on #3000
This appears to be a MyGet issue. Copying System.Reactive to a local folder and installing from there works correctly for me.

In the NuGet package manager UI the group without a target framework attribute should display as _Any_, but instead it shows up as _Unsupported_. This is coming from the MyGet feed and is causing that group to be ignored.

Snippet from https://www.myget.org/F/rxnet/api/v3/

[2016-06-19 15:17] mmajcica commented on #2987
Seems a bit counter-intuitive. Think about the case of settings a build server. If you want to push some machine wide settings, you will need to know about the user that is going to be used to run the agent, and only once it logged in, you will be able to change those settings. If later the user on which the agent runs changes, you will need to maintain this user specific file.

[2016-06-19 20:22] MosheL commented on #2798
update: upgraded to  3.4.4. from 3/6,   works on ConsoleApp, crashed on one of my  IIS projects. on other one the same problem.

[2016-06-19 21:14] mlidbom commented on #2776
@rohit21agrawal
Ahem. I seem to have some egg on my face. Without any real thought I assumed that xproj was just a way to say (vb/cs)proj. The comments @rrelyea made makes perfect sense now that I realize that is not so. Mea culpa.

[2016-06-20 01:26] sergeyzwezdin opened #3001 "Nuget restore failed for solutions which contans .xproj"
I've created new solution and added there a few .NET projects. It works ok.
But if I try to add ASP.NET Core project in the same solution, Nuget fails during restore command:

[code]

It seems something broken in latest version.

**UPD:**
- nuget.exe - latest (v3.4.4) - **does not work**
- nuget.exe (v3.5.0-beta) - **works ok**

[2016-06-20 03:51] Myster opened #3002 "VS console Get-Package -filter json only finds items starting with json, not containing json"
I have tried
`Get-Package -filter json`
But this shows `No packages installed.` I want to find packages containing "json" not starting with "json".

The GUI package manager search works how I want, but not the console?
Stack overflow question asking the same thing: http://stackoverflow.com/questions/37800430/how-do-i-find-an-installed-nuget-package-at-the-console

[2016-06-20 07:31] maartenba commented on #3000
@emgarten We are using NuGet.\* 3.5.0-beta2-1437. Looks like there is an inconsistency in there.

When parsing the metadata using `ManifestReader`, we actually get back `Unsupported`:

![1](https://cloud.githubusercontent.com/assets/485230/16184834/b2060a50-36bf-11e6-98ea-08600f787767.png)

When using `PackageArchiveReader`'s `GetPackageDependencies()`, we get back `Any`:

![2](https://cloud.githu

[2016-06-20 11:34] DaRosenberg opened #3003 "File inclusion ignores files with paretheses in file names"
Using the "nuget.exe pack" command, if I have the following two files in the package source folder:
1. MyFolder\SomeFile.xml
2. MyFolder\SomeFile (Other).xml

And use the following inclusion element:

[code]

Then file 1 will be included in the resulting package, but **file 2 will not**.

If I rename file 2 to remove the paretheses, it is included.

It's worth mentioning that we only started seein

[2016-06-20 11:58] clairernovotny commented on #3000
@xavierdecoster Just re-checked my repro and it seems resolved now, thanks! Happy to move the feed over to https://dotnet.myget.org, just curious though what the advantages are? Can the feed be moved or do I need to create a new one there? Let's connect offline to get this done.

[2016-06-20 12:41] dazinator opened #3004 "Can't resolve NuGet v3 packages"
I am attempting to consume the NuGet v3 beta nuget packages. I was using these successfully in my asp.net rc1 application (dnx based). I have updated my project to RC2 and `dotnet cli` and now it complains about not being able to resolve specific packages.

![image](https://cloud.githubusercontent.com/assets/3176632/16194440/8357381e-36ec-11e6-8360-fc6dc3b24753.png)

Any ideas what's wrong? The pa

[2016-06-20 13:32] dazinator commented on #3004
Here is `dotnet` restore output

[code]

[2016-06-20 15:11] dazinator commented on #3004
The only way i was able to resolve this was to download the NuGet package to a local folder, then configure a repository from the local folder. I was then able to add the NuGet package no problem. For some reason, resolving from NuGet.org doesn;t work for me, I made sure to clear all cache / http cache and still no joy.

[2016-06-20 15:22] joelverhagen commented on #2999
This is effecting E2E tests.

[2016-06-20 15:23] klaykuban commented on #2880
I finally ran Fiddler and saw the same. No HTTP but have the error

[2016-06-20 15:45] joshgerdes commented on #2996
@mrward Yes, the password is encrypted. Taking your advice, I upgraded to the latest mono and did some more testing.

Using:
Mono JIT compiler version 4.4.0 (tarball Wed Jun 15 18:28:03 BST 2016)

I was able to add the source with an encrypted password running the following command:
`nuget.exe sources add -Source <sourceurl> -Name <key> -UserName<username> -Password <secret>`

And the `nuget.exe r

[2016-06-20 15:57] mrward commented on #2996
Using nuget.exe sources would add a new encrypted password to your machine's NuGet.Config file in ~/.config/NuGet/NuGet.Config.

How is the encrypted password set in your project's NuGet.Config file?

The error suggests that Mono cannot decrypt the password. So my guess is that either it was encrypted using an older version of Mono or it was encrypted on another machine. Either of these could caus

[2016-06-20 16:02] dmantovani73 commented on #2880
Finally I found the issue, at least in my case: if no Windows HTTP proxy is specified, NuGet uses (if present) the HTTP Proxy specified in the environment variable http_proxy.

[2016-06-20 16:48] emgarten commented on #3004
It looks like the package is missing from flatcontainer on nuget.org.

3.5.0 shows up here: https://www.nuget.org/packages/NuGet.PackageManagement/3.5.0-beta-final
But not here: https://api.nuget.org/v3-flatcontainer/nuget.packagemanagement/index.json

//cc @maartenba @xavierdecoster

[2016-06-20 16:49] emgarten commented on #3001
3.4.4 does not support the `platform` keyword. It was added in 3.5.0-beta

[2016-06-20 16:52] emgarten commented on #3000
@maartenba I suggest using `NuspecReader`. `ManifestReader` was porter over just for the pack command and is only used there, it looks like some work still needs to happen there along with comments on why it still exists in the new library.

[2016-06-20 16:57] maartenba commented on #3000
Thanks @emgarten!

[2016-06-20 17:12] maartenba commented on #3004
Should be in there now, can you try once more?

[2016-06-20 18:13] blackbaud-joshgerdes commented on #2996
@mrward Yes, it does look like the encrypted password was invalid.  Using the one generated from the sources add command and written to ~/.config/NuGet/NuGet.Config did the trick.  I am now able do restores successfully.

Thanks for your help.

[2016-06-20 18:14] joshgerdes commented on #2996
@mrward Yes, it does look like the encrypted password was invalid. Using the one generated from the sources add command and written to ~/.config/NuGet/NuGet.Config did the trick. I am now able do restores successfully.

Thanks for your help!

[2016-06-20 18:14] #2996 closed, assigned to nobody

[2016-06-20 18:25] dipsindol commented on #1104
I was able to successfully add an empty folder using one piece of documentation on nuget

![image](https://cloud.githubusercontent.com/assets/975248/16205679/b785e710-36d9-11e6-8b22-c623ef9bd603.png)

Now, the problem is upon install the empty folders are not being added to the project on which I am installing this package.   Any one has thoughts on how I can instruct the Nuget to not ignore empty

[2016-06-20 19:20] johnegbert commented on #2584
I need the ability to uninstall multiple packages at the same time (if that is what this issue is). Done similarly to the "Update" package tab where multiple package can be selected and then uninstalled.

[2016-06-20 19:24] johnegbert opened #3005 "Add option to "Remove dependencies" to only remove dependencies not being used by other packages"
Right now when I check "Remove dependencies" and click "Uninstall" it gives me an error that there is another package (that I am not uninstalling) that is also using one of the same dependencies, So it gives me an error and does not remove the dependencies. I believe the functionality should be that it should still remove the dependencies it can when uninstalling the package.

[2016-06-20 19:38] emgarten commented on #2379
NuGet/NuGet.Client@097349c2fd29cca768049451dd50b4d71f26cfb6

[2016-06-20 19:38] #2379 closed, assigned to emgarten

[2016-06-20 20:32] toddm commented on #3003
I just tried it with the latest 3.5.0 in Dev. The file was included but it was in the nupkg as SomeFile%20%28Other%29.xml so the encoding/decoding of the name isn't working right.  I'll look into it.

[2016-06-20 21:28] kingerja opened #3006 "Nuget pack gives "Value cannot be null.""
I am using:
NuGet.exe  (3.5.0.1499)
https://dist.nuget.org/win-x86-commandline/v3.5.0-beta2/NuGet.exe

When I run the following command
nuget.exe pack "CodeSigner.Shell.csproj" -p "ModulePath=tools\Modules;Configuration=Debug;Platform=x86;packageversion=2.1.782.1;versionmajor=2;versionminor=1;versionbuildnumber=782;versionbuildrevision=1" -o "%enlistment_root%\Bin\x86\Debug\Product\CodeSigner\Code

[2016-06-20 21:59] kingerja commented on #3006
Here is a stripped down repro.
pushd \\joshking-main\dump\nugetissue\3006
nugetv3\nuget.exe pack packfail.csproj

Note if you try with a previous version of nuget this operation works.  The msbuild of that csproj does complete successfully.

[2016-06-20 22:05] pranavkm commented on #2178
@maartenba - I've been using the `/search/query` API and it's been working well so far. However I ran into an anomaly today: https://www.nuget.org/packages/runtime.fedora.23-x64.Microsoft.NETCore.DotNetHostPolicy lists the owners as `dotnetframework`. However querying the API says:

[code]

Note the empty `owners` array. Any idea what might cause this discrepancy?

[2016-06-20 22:23] toddm commented on #3006
It seems to be caused by a call to GetSolutionDir() returning null.  This is probably because there is no sln file.  It should be fairly easy to fix it - just working out the best way.

[2016-06-20 23:11] spadapet commented on #2821
These should pass now. The Linux virtual machine needed to have more CPUs given to it (needs more than 1).

[2016-06-20 23:11] #2821 closed, assigned to spadapet

[2016-06-21 00:01] #3001 closed, assigned to nobody

[2016-06-21 00:04] yishaigalatzer commented on #2998
Wouldn't remapping net463 will be a breaking change. Why is that ok?

[2016-06-21 00:05] weshaggard commented on #2998
net463 has not yet shipped so it is currently in a floating state until that happens.

[2016-06-21 00:07] yishaigalatzer commented on #2992
Can we accelerate the mono fixes instead of integrating ugly hacks into the NuGet codebase (that then never go away?).

I don't quite understand the release cadence for mono, so I'll start a thread to figure this out.

[2016-06-21 00:15] yishaigalatzer commented on #2998
This still means requiring a min version of NuGet and reshipping of 2.12.

@rrelyea can we pull this into 3.5RTM?

[2016-06-21 05:48] maartenba commented on #2178
May be temporal, owner info is not always in there immediately.

[2016-06-21 07:18] mechaman opened #3007 "Xamarin NuGet : Attempting to resolve dependency"
I try to add FSLab as a package, but get a bunch of attempts to resolve the dependency... which doesn't happen. Is there a fix for this?

[code]

[2016-06-21 13:28] AndriySvyryd opened #3008 "Updating a tools package moves it to dependencies"
Add this to project.json:

[code]

Update `Microsoft.AspNetCore.Razor.Tools` through NPM or PMC.

Resulting project.json:

[code]

Using VS 2015 U3 25420 with NuGet 3.5.0 beta2 1484

[2016-06-21 13:52] #2999 closed, assigned to joelverhagen

[2016-06-21 15:58] weshaggard commented on #2998
As you know this is always a problem and I would much prefer a solution that didn't require nuget client changes. Have there been any further thoughts on how we can feed this configuration into the client as opposed to hard-coding it in there?

[2016-06-21 16:10] yishaigalatzer commented on #2998
We haven't made progress in this area, and it is below the watermark compared to things we have to deliver to dev15. Regardless the issue of flipping the mapping is something that should be changed very carefully.

A very simple approach would be to make the framework mapping owned by your team, and we can take dependency on it, but it still doesn't solve in place updates without shipping a new ve

[2016-06-21 16:49] rrelyea opened #3009 "Empty folders in NuGet package meaning"
Per email, please investigate.

[2016-06-21 16:51] #2891 closed, assigned to jainaashish

[2016-06-21 17:43] AndriySvyryd opened #3010 "NuGet 3.5.0 beta2 can't parse Microsoft.CodeAnalysis.Common 1.3.0"
- Create .NET Core library project
- Update NETStandard.Library to 1.6.0
- Open NuGet Package Manager Installed tab

[code]

Using VS 2015 U3 25420 with NuGet 3.5.0 beta2 1484

[2016-06-21 18:22] toddm commented on #3006
Merged into 3.5.0-beta2 as well.

[2016-06-21 18:22] #3006 closed, assigned to toddm

[2016-06-21 18:33] rohit21agrawal commented on #3010
@AndriySvyryd this was a known issue and packages were published to myget with <serviceable> element and an updated xml namespace the day the feature was added. It was later decided that the namespace wouldn't be updated in the packages nuspec file. Not sure how you are running into those packages ,you might need to download the latest version of the packages?

CC : @rrelyea

[2016-06-21 18:35] #2956 closed, assigned to emgarten

[2016-06-21 18:43] emgarten commented on #2956
I've added a fix to both improve the folder search, and also limit the number of times a package is read to just once per target framework/id/version. Most of the time here was coming from reading packages per project in order to sort them by dependency order.

I tested a solution with 10 projects and the same 500 packages in each packages.config.
Previous: 132 seconds
Now: 10 seconds

[2016-06-21 18:44] AndriySvyryd commented on #3010
I am getting this from https://dotnet.myget.org/F/aspnet1/api/v3/index.json
This is the feed we are using for RTM verification

[2016-06-21 18:51] AndriySvyryd commented on #3010
@muratg @Eilon We might need to update the feed / build

[2016-06-21 19:06] rrelyea commented on #3009
Would love to understand if this is a DCR, or if we regressed behavior.

[2016-06-21 19:11] AndriySvyryd commented on #3010
Cleaning the caches again resolved the issue

[2016-06-21 19:14] #1816 closed, assigned to jainaashish

[2016-06-21 19:20] jainaashish commented on #2903
Since now there is no 3.4.5 so closing this issue

[2016-06-21 19:20] #2903 closed, assigned to jainaashish

[2016-06-21 19:23] #2566 closed, assigned to jainaashish

[2016-06-21 19:36] emgarten commented on #2988
@Lenny32 what type of server is `nuget.company.com` here?

[2016-06-21 19:40] toddm commented on #3003
I spent more time on this.  Using the latest NuGet.exe from our Dev branch, and the soon to be released 3.5.0-beta2 is the same, the file does get included properly.  If you open the nupkg file with 7zip or something similar, the file name looks encoded badly, but when you actually install the package it decodes the name and ends up correct.  So I don't see any fix needed for 3.5.0.  There aren't

[2016-06-21 19:40] #3003 closed, assigned to nobody

[2016-06-21 19:41] #2851 closed, assigned to toddm

[2016-06-21 19:51] jasonmalinowski commented on #2001
And just an update for @onovotny, @dotMorten and others, due to a few last minute adventures we weren't able to get this into Update 3, but we'll hopefully get it into a future Visual Studio "15" Preview. I'll also look into getting you test bits so you can verify the proposed fix does actually fix everything you expect it to.

[2016-06-21 20:11] emgarten opened #3011 "Investigate removing support for writing v1 lock files"
Lock files are automatically downgraded to v1 if they do not contain any project to project references that require v2. This was initially done because the build task in VS 2015 Update 1 did not support v2 when v2 was added in Update 2. Now that Update 3 is shipping we should consider removing the downgrade feature so that lock files are consistent with dotnet restore.

[2016-06-21 21:11] AndriySvyryd commented on #3010
Now I get this with `Microsoft.CodeAnalysis.Common` and `Microsoft.CodeAnalysis.CSharp` 1.3.0

[2016-06-21 21:17] masaeedu commented on #1200
@yishaigalatzer Where is this bug tracked?

[2016-06-21 21:31] zhili1208 commented on #1200
Here is the bug link https://github.com/NuGet/Home/issues/1017

[2016-06-21 21:36] Eilon commented on #3010
Do we suspect the problem is with the package itself, the feed, or NuGet's UI?

[2016-06-21 21:40] emgarten commented on #2817
Thanks for the repro @wbradney   I was able to track this down the cause, you can get a nightly build with the fix from: https://dist.nuget.org/index.html

[2016-06-21 21:40] emgarten commented on #2817
NuGet/NuGet.Client@4d5c9a5feb4e6903474a9a737aa61ceab9248b89

[2016-06-21 21:40] #2817 closed, assigned to emgarten

[2016-06-21 21:43] spadapet commented on #3009
@rrelyea @yishaigalatzer

See my email reply, this looked like a DCR. I repro in VS2013.

[2016-06-21 21:43] AndriySvyryd commented on #3010
From @rohit21agrawal response it sounds like a package issue. Don't know whether it has been found/fixed for these particular packages though.

[2016-06-21 21:44] rohit21agrawal commented on #3010
@Eilon package itself. One way to verify is to check the xml namespace in the nuspec file of the package. I suspect it will be something ending with 2016/06 .

[2016-06-21 21:45] AndriySvyryd commented on #3010
Yep `<package xmlns="http://schemas.microsoft.com/packaging/2016/06/nuspec.xsd">`

[2016-06-21 21:47] hvanbakel commented on #2956
Thanks Justin, that sounds like a major improvement. I'll test it as soon
as it gets wrapped in a version of niet client.
On Jun 21, 2016 20:43, "Justin Emgarten" notifications@github.com wrote:

[2016-06-21 21:59] Eilon commented on #3010
Ok. Do we suspect it's in the original package, or does uploading it to the feed mess something up?

[2016-06-21 22:01] Eilon commented on #3010
@AndriySvyryd I sent you contact info for the Roslyn folks.

cc @jaredpar @MattGertz here as well.

[2016-06-21 22:10] jaredpar commented on #3010
Why are we just seeing this error now?  Shouldn't the validation pass have caught this?

[2016-06-21 22:12] rrelyea commented on #3010
@AndriySvyryd - I think that there is a dotnet myget feed that replaced the aspnet myget feed. Are you using the right feed for verification?

[2016-06-21 22:14] AndriySvyryd commented on #3010
I am doing manual validation. The error only shows up when using the NuGet GUI. restoring / building the project works fine

[2016-06-21 22:14] MattGertz commented on #3010
RIght, it should be dotnet.myget.org IIRC.  Can you verify that's what you are using?

[2016-06-21 22:18] AndriySvyryd commented on #3010
@rrelyea @MattGertz I am using https://dotnet.myget.org/F/aspnet1/api/v3/index.json as per latest instructions

[2016-06-21 22:19] MattGertz commented on #3010
Well, hmm.  @jaredpar, we'd better take a look.

[2016-06-21 22:28] AndriySvyryd commented on #3010
Also it's not limited to the packages mentioned above. All Roslyn packages on that feed have this issue.

[2016-06-21 22:28] kzu commented on #2851
Do the issues get assigned a milestone so we can track when it ships? (I'm eager to drop my custom build ;))

[2016-06-21 22:31] rrelyea commented on #2851
Yes, if this just got merged today, should make 3.5 rtm, per current plans.

[2016-06-21 22:31] jaredpar commented on #3010
I was able to install these packages on my machine no issue.  I'm using VS 2015 Update 2.  Is this a bug introduced in Update 3 possibly?

[2016-06-21 22:32] spadapet commented on #3009
This issue comes from the latest comment in https://github.com/NuGet/Home/issues/1104
That screenshot of the docs in the other issue seems to come from the 2.2 release notes:
https://docs.nuget.org/release-notes/nuget-2.2

@harikm86 are there any docs that still incorrectly suggest that empty content directories work? If so the doc should be fixed

[2016-06-21 22:35] rrelyea opened #3012 "Confirm that nobody is publishing .nupkg with "bad xmlns uri" for nuspec"
Please confirm that none of the nupkgs microsoft is publishing mistakenly used the 1st toolset to add serviceable to their nuspec. Check all packages in the verification feed.

[2016-06-21 22:36] rohit21agrawal commented on #3010
@AndriySvyryd could you clear all your caches and try once?

Clearing NuGet HTTP cache: C:\Users<username>\AppData\Local\NuGet\v3-cache
Clearing NuGet cache: C:\Users<username>\AppData\Local\NuGet\Cache
Clearing NuGet global packages cache: C:\Users<username>.nuget\packages\

[2016-06-21 22:37] AndriySvyryd commented on #3010
@rohit21agrawal  I did it 3 times already, doesn't help

[2016-06-21 22:37] rrelyea commented on #3010
@rohit21agrawal is going to go walk all the .nupkgs in the verification feed to see who has the "bad xmlns uri" that our first "pack w/ serviceable" created. #3012

[2016-06-21 22:39] MattGertz commented on #3010
Related to that, adding @cston to verify the version of NuGet used.

[2016-06-21 22:41] cston commented on #3010
We used `NuGet Version: 3.5.0.1437` to create the `Microsoft.CodeAnalysis.*` packages.

[2016-06-21 22:41] jaredpar commented on #3010
Where would this namespace be coming from?  I did a spot check of our nuspec files and they all have 2011 versions

[code]

Here is the nuspec for [Microsoft.CodeAnalysis.Common](https://github.com/dotnet/roslyn/blob/stabilization/src/NuGet/Microsoft.CodeAnalysis.Common.nuspec) which is currently the title of the bug.

[2016-06-21 22:43] cston commented on #3010
@jaredpar The `xmlns` may be generated by `nuget.exe pack`.

[2016-06-21 22:43] rohit21agrawal commented on #3010
@jaredpar is this nuspec from the copy of the package uploaded on the server?

[2016-06-21 22:43] cston commented on #3010
The packages on the server have `<package xmlns="http://schemas.microsoft.com/packaging/2016/06/nuspec.xsd">`.

[2016-06-21 22:44] jaredpar commented on #3010
@rohit21agrawal yes

@cston so NuGet.exe overwrote the namespace we added in our nuspec?  I just double checked and we don't have that entry in our nuspec file.

[2016-06-21 22:45] rohit21agrawal commented on #3010
@cston that nuget version does add the new xmlns to the nuspec. We fixed it immediately after, you should use 3.5.0-beta2-1484 to pack

[2016-06-21 23:14] jainaashish opened #3013 "Nuget update should provide informative message when a higher version is restricted by allowedVersions constraint"
Issue:
I've a package with 1.0 and 2.0 versions where 1.0 is already installed and 2.0 is restricted by allowedVersions range define in package.config (allowedVersions="[1.0, 2.0)" ) now execute below command from PMC:

`update-package -Id AashishTestPackage -Source https://api.nuget.org/v3/index.json -ProjectName ConsoleApplication1`

Expected:

It should have throw error something "unable to res

[2016-06-21 23:21] zhili1208 opened #3014 "Creating PCL (net46 and windows 10) project get NullRef exception."
NuGet version dev branch 3.5.0-1507
Repro steps:
 Create PCL project (net46 and windows 10)

Expect: project is created successfully and restored well.

Actual: Got NullRef Exception and restore failed.

There are two issues here,
1. V2LocalFindPackageByIdProvider does not accept local sources with FeedType.UnzippedFileSystem.
2. PCL project is trying to install Microsoft.NETCore 5.0.0 for .net fr

[2016-06-22 00:03] spadapet commented on #2626
This is working with the latest code (someone must've fixed it for a different bug).
nuget.exe delete and push will ask for credentials unless -NonInteractive is used.

[2016-06-22 00:03] #2626 closed, assigned to spadapet

[2016-06-22 08:33] johnbraden opened #3015 "Monikers for old/new project types"
When you are a library author for ASP.NET web applications you need a way to know if a package is installed in a traditional ASP.NET project (using System.Web.dll) or in a new project (with dependency Microsoft.AspNetCore). Assume our code looks like this:

<pre>
#if net451
    // This code fails in traditional projects (System.Web.dll)
    Microsoft.AspNetCore.Http.HttpContext context = this.Http

[2016-06-22 13:46] mrward commented on #2992
The InvalidOperationException bug has been fixed in Mono 4.5.2.360 (master/d1d72cd Mon Jun 20 09:32:05 EDT 2016).

[2016-06-22 14:38] klaykuban commented on #2880
Were you able to fix the issue?

[2016-06-22 14:41] dmantovani73 commented on #2880
Yes, removing the env var http_proxy fixed the issue (in my case).

[2016-06-22 14:42] klaykuban commented on #2880
Sorry i'm not too familiar with how to do that. How can i remove that env var?

[2016-06-22 14:50] dmantovani73 commented on #2880
Open "System Properties" > Advanced > Environment Variables. Find the http_proxy var (in System variables), select and delete it.

[2016-06-22 15:13] klaykuban commented on #2880
Incredible. It worked! Thanks big time. I've been stuck at this point for well over a month

[2016-06-22 15:23] dazinator opened #3016 "beta-final packages, Incorrect dependency on 'NuGet.Core`"
Tried to use NuGet client, latest beta packages. Got following exception when application starting:

This is seemingly because `NuGet.Protocol.Core.v2 3.5.0-beta-final` expects NuGet.Core >= 2.11.1

But other packages are looking for `2.10.1`.

The solution was to add `NuGet.Core` version `2.10.1` to project.json for force it to that version.

No idea if this will yield other exceptions at runtime

[2016-06-22 16:03] emgarten commented on #3013
I believe this behavior is by design and was fixed not too long ago.

[2016-06-22 16:42] rrelyea commented on #3016
please investigate beta-final packages and beta2 packages from internal release share.
is there something we need to fix for beta2?
We have one issue that is known... https://github.com/NuGet/Home/issues/2983

[2016-06-22 16:44] rrelyea commented on #3015
Joel - can you please help?

[2016-06-22 16:47] rrelyea commented on #3012
Rohit confirmed that there were 8 nupkgs with the "bad" xmlns uri. We are fixing those packages for Roslyn, etc...

[2016-06-22 16:47] #3012 closed, assigned to rohit21agrawal

[2016-06-22 16:49] SarathVakacharla commented on #2521
I have this problem with 2.9 Version of Nuget with VS 2013

---

Microsoft Visual Studio Ultimate 2013
Version 12.0.31101.00 Update 4
Microsoft .NET Framework
Version 4.6.01038
Installed Version: Ultimate
NuGet Package Manager   2.9.0.780

---

Will there be a fix made for VS 2013?

[2016-06-22 16:50] rrelyea commented on #3010
This is tracked by a Roslyn issue and being handled offline. Closing our issue.

[2016-06-22 16:50] #3010 closed, assigned to rohit21agrawal

[2016-06-22 16:55] maartenba commented on #3004
Package is in there now.

[2016-06-22 16:55] #3004 closed, assigned to maartenba

[2016-06-22 16:56] rohit21agrawal commented on #3012
just for context, here is the list of those packages :

Microsoft.CodeAnalysis.Common.nuspec
Microsoft.CodeAnalysis.CSharp.nuspec
Microsoft.CodeAnalysis.Compilers.nuspec
Microsoft.CodeAnalysis.VisualBasic.nuspec
Microsoft.CodeAnalysis.CSharp.Workspaces.nuspec
Microsoft.CodeAnalysis.Workspaces.Common.nuspec
Microsoft.CodeAnalysis.VisualBasic.Workspaces.nuspec
Microsoft.DiaSymReader.nuspec

[2016-06-22 16:56] rrelyea opened #3017 "Ensure all issues fixed in 3.5beta2 have milestone set to 3.5 Beta2"
Please walk through the fix validation table in onenote, and ensure that all issues that correspond with commits in 3.5 beta2 branch, have their milestone set appropriately.
This is primarily to enable us to adequately share information with NuGet users/partners via the closed issue query in milestone 3.5 beta2

[2016-06-22 16:57] rrelyea commented on #3017
@harikm86  - this will help you and our users understand fixes in this release

[2016-06-22 16:57] joelverhagen opened #3018 "Should VS UI be able to install unlisted packages?"
Currently, the `Install-Package` command allows you to install a version of a package that is unlisted if you specify the version explicitly.

[code]

This install experience in not available in the UI.

So, the question is, should we allow this? Today we also support restoring unlisted versions, but that should definitely still be allowed.

/cc @jainaashish

[2016-06-22 17:07] jainaashish commented on #3013
Not really this behavior is because of the fix of 1816, which is to prune disallowed versions first and then pick the highest. If you've multiple versions n some of your highest versions are disallowed then you can still get a version to update which should happen. Then another case, is you only have 2 versions where 1.0 is already installed and 2.0 is disallowed then you should throw error to com

[2016-06-22 17:12] manojsagoi commented on #1341
Hi ,
i want my packages dll to be download here
C:\TFS\XGS-SDI\XOS\Integrations\Development\XisImprovement\XsmController\XsmDll\dlls

but even after using <add key="repositoryPath" value="..\..\..\packages" />

its downling 2 level back ,
C:\TFS\XGS-SDI\XOS\Integrations\Development\XisImprovement\XsmController\
please suggest some input on this.

[2016-06-22 17:13] manojsagoi commented on #1341
Hi ,
i want my packages dll to be download here
C:\TFS\XGS-SDI\XOS\Integrations\Development\XisImprovement\XsmController\XsmDll\dlls
but even after using <add key="repositoryPath" value="..\..\..\packages" />
its downloding 2 level back ,
C:\TFS\XGS-SDI\XOS\Integrations\Development\XisImprovement\XsmController\
please suggest some input on this.

[2016-06-22 17:14] rrelyea opened #3019 "Define 2.12 validation pass requirements"
Please define our validation pass asap, and review with me.
We'll kick off the pass asap.

[2016-06-22 17:14] manojsagoi commented on #1341
Hi ,
i want my packages dll to be download here
C:\TFS\XGS-SDI\XOS\Integrations\Development\XisImprovement\XsmController\XsmDll\dlls
but even after using
add key="repositoryPath" value="......\packages" in nuget.config
its downloading 2 level back ,in this location
C:\TFS\XGS-SDI\XOS\Integrations\Development\XisImprovement\XsmController\
please suggest some input on this.

[2016-06-22 17:30] emgarten commented on #2920
`dotnet restore` does not support msbuild since there is no cross platform msbuild support yet. If you are running on windows you may use NuGet.exe to restore your solution. NuGet.exe is a superset of dotnet restore with msbuild support.

[2016-06-22 17:40] zhili1208 commented on #1341
Where's your nuget.config? repositoryPath is relative to nuget.config

[2016-06-22 17:42] joelverhagen commented on #3015
Hey @johnbraden, this is an issue bigger than TFMs actually. Please take a look at this open issue on the ASP.NET GitHub:
https://github.com/aspnet/Home/issues/1349

It seems like the best recommendation currently is to release two packages, one for System.Web.dll based projects and other for AspNetCore.

[2016-06-22 17:46] manojsagoi commented on #1341
C:\TFS\XGS-SDI\XOS\Integrations\Development\XisImprovement\XsmController.nuget\nuget.config
is it fine ?

[2016-06-22 17:51] rrelyea opened #3020 "confirm that 2.12 will only install on vs2012/vs2013"
Please ensure that 2.12's vsixmanifest properly lists which versions it should install on: Vs2012 and VS2013.

[2016-06-22 18:16] emgarten commented on #3013
This will be problematic for users who set allowedVersions to restrict the package to the highest version of a certain set. For example if a user wants to stay on version 3.4.x of the NuGet packages today they could add [3.4.0, 3.5.0) to avoid the 3.5.x packages.

In the scenario the above the user is aware that there are higher versions, they added allowedVersions to avoid them. Taking the advanc

[2016-06-22 18:27] joelverhagen opened #3021 "Lay initial groundwork for recognizing package type in the .nuspec"
Initial work done during the `3.5.0-beta2` release for this issue:
https://github.com/NuGet/Home/issues/2476

This work enables reading package type from a nuspec but does not actually exercise the code during the install flow.

[2016-06-22 18:28] joelverhagen commented on #3021
PRs:
https://github.com/NuGet/NuGet.Client/pull/566
https://github.com/NuGet/NuGet.Client/pull/591
https://github.com/NuGet/NuGet.Client/pull/603

[2016-06-22 18:28] #3021 closed, assigned to joelverhagen

[2016-06-22 18:30] jainaashish commented on #3016
@dazinator what are other packages which depends on 2.10.1? I tried to reproduce this but it successfully got Nuget.Core 2.11.1 package and worked fine. I'm also wondering how your specified project.json is working since it needs 2.11.1 where as you've specifically called for 2.10.1?

[2016-06-22 18:31] zhili1208 commented on #1341
So the nuget.config is at C:\TFS\XGS-SDI\XOS\Integrations\Development\XisImprovement\XsmController.nuget\

And you want your packages to be download here:
C:\TFS\XGS-SDI\XOS\Integrations\Development\XisImprovement\XsmController\XsmDll\dlls

then the repositoryPath value should be "..\XsmController\XsmDll\dlls"

[2016-06-22 18:34] zhili1208 commented on #3017
Done, only issue 2396 and 2779 are partially fixed in beta2. asked @TimBarham to create issues in beta2 for tracking

[2016-06-22 18:39] joelverhagen opened #3022 "Refactor test framework to not depend on external packages"
We have many tests depending on `Newtonsoft.Json`, `owin`, `dotNetRDF`, etc. This can lead to situations where package owners publish a new version of a package (or unlist a version) and our tests unexpectedly break.

New tests should depend on local packages or packages maintained by us. Old tests should be refactors to remove this external dependency.

[2016-06-22 18:40] manojsagoi commented on #1341
ahhh tried your suggestion but don't know why its taking this path
'C:\TFS\XGS-SDI\XOS\Integrations\Development\XisImprovement\XsmController\packages'

instead of
C:\TFS\XGS-SDI\XOS\Integrations\Development\XisImprovement\XsmController\XsmDll\dlls

[2016-06-22 18:44] zhili1208 commented on #1341
Did you reopen the solution after change?

[2016-06-22 18:46] dazinator commented on #3016
@jainaashish

When I specify `NuGet.Core` 2.11.1 - My project.json all looks fine, but get this exception on application startup:

So something is still expecting `2.10.1`. My guess is one of the NuGet libraries in the Beta packages was compiled against that version explicitly?

Here is a `Find in Files` on my solution for `NuGet.Core` which shows all the project.lock.json files all showing `NuGet

[2016-06-22 18:57] dazinator commented on #3016
Digging further, it looks like there is a binding redirect occurring:

[code]

Building my RC2 application does indeed produce a config file `Gluon.WebApplication.exe.config` and inside is a binding redirect like this:

[code]

I have no idea where that comes from though. This is an ASP.NET RC2 web application, so I have an `appSettings.json` file, not any config files. Yet this is automatically p

[2016-06-22 19:03] #1740 closed, assigned to rrelyea

[2016-06-22 19:03] #2124 closed, assigned to rrelyea

[2016-06-22 19:05] dazinator commented on #3016
Oh my god.. Deleting that file `Gluon.WebApplication.exe.Config` and rebuilding has produced a new one, without the binding redirect line in for `NuGet.Core.` and subsequently things work.

 This must be some issue where doing `dotnet build` does not clear / reproduce / update that file, leaving invalid binding redirects in it.

[2016-06-22 19:08] bricelam opened #3023 "Init.ps1 isn't executed for .NET Core tools packages"
The `Microsoft.EntityFrameworkCore.Tools` package has an `tools/init.ps1` file. On .NET Core projects, this is typically added to the `project.json` under the `tools` section.

[code]

However, `init.ps1` is not executed for packages under this node, so when you try to run the `Add-Migration` command, you get the usual PowerShell error:

# Workaround

To workaround this issue, users also need to a

[2016-06-22 19:12] manojsagoi commented on #1341
yeahh i guess you solved my issue :) thanks a lot ..
but one thing i am seeing its creating one more folder by name  XsmController  , let me check it

[2016-06-22 19:16] dazinator commented on #3016
Am closing this in favour of the underlying issue which I have raised here: https://github.com/dotnet/cli/issues/3674

[2016-06-22 19:16] #3016 closed, assigned to jainaashish

[2016-06-22 19:23] emgarten commented on #3022
Related to https://github.com/NuGet/Home/issues/745

[2016-06-22 19:37] sylvainlavoie opened #3024 "Nuget.exe cannot update package for wixproj"
NuGet Version: 3.4.4.1321

When I try to use nuget.exe to update my nuget packages used in a .wixproj I got an error and the packages are not updated.
When I do the update in Visual Studio it work fine. Both in Nuget Package Manager console or Nuget Package Manager UI.

nuget.exe Update SI.Installer.sln -verbosity detailed -NonInteractive -Safe -Prerelease -RepositoryPath .\packages
Scanning for p

[2016-06-22 19:37] emgarten commented on #3018
This is by design, unlisted just means that the package is hidden from search and the gallery. There are still many reasons why users would install unlisted packages, such as EntityFramework version 7.0.x.  (The highest shown in the gallery is 6.1.3)

For a time it was not possible to install unlisted packages in 3.0.0 RC and it was a problem: https://github.com/NuGet/Home/issues/544

[2016-06-22 19:50] johnbraden commented on #3015
Thank you for this https://github.com/aspnet/Home/issues/1349 link. I searched but didn't found it.It's good to see that the ASP.NET team discusses the issue. In our case an additional moniker would be sufficient and a second package maybe confuses users. But we have to wait for recommendations. Btw., last week I posted this to the CLI team, but they did not understand the problem.

[2016-06-22 20:11] rrelyea opened #3025 "Update docs for "added update command line argument -Version""
Blair Davies did this commit: https://github.com/NuGet/NuGet.Client/commit/214cfb083b6bb9b28d023298a0212f768de35cbf

During validation you believed that it needed a docs update. Since he is not on our team, please update the docs, ideally in time for Monday's release.

[2016-06-22 20:13] rrelyea opened #3026 "Update docs for "Add pack options package type to project.json""
You're b2 commit requires some docs, I believe.
https://github.com/NuGet/NuGet.Client/commit/22e34bed6732f1d43800d1006b2d3c9ac1630555
Ideally, we can do it by release time (Monday)...
#3021

[2016-06-22 20:17] rrelyea opened #3027 "Update docs for "Adding nativeassets support""
#2782 requires docs updates.

Ideally, we finish by release time (Monday).

[2016-06-22 20:39] wbradney commented on #2817
Thanks. The nightly seems old - is it building correctly?

[2016-06-22 21:00] emgarten commented on #2817
@wbradney looks like it is not updating on there, the build should be at least 1500.

[2016-06-22 21:20] jainaashish commented on #2983
As discussed offline with Rob and Joel, for now we'll depend on `2.12.0-rtm-815` which is what there in Nuget nupkg as of now and publish the same version to Nuget.org

[2016-06-22 22:19] mesheets commented on #2987
@mmajcica - I agree; we are dealing with the exact same issue.

@zhili1208 - The machine configuration was created and exists for a reason.  Automatically creating and/or making changes to the user configuration in such a case is unacceptable: in our case, this auto-generated user configuration file is actually breaking the configuration specified by the machine configuration.

In addition to the

[2016-06-22 22:42] bricelam commented on #3023
This issue might be more general. Closing VS and re-opening the solution after applying the workaround also didn't execute `init.ps1`.

[2016-06-22 22:44] natemcmaster commented on #3023
@bricelam possible related to https://github.com/NuGet/Home/issues/1292?

[2016-06-22 22:47] #3025 closed, assigned to jainaashish

[2016-06-22 23:25] bricelam commented on #3023
Wait... it just worked without it under the `dependencies` section. Apparently, it's just very flaky.

[2016-06-22 23:37] bricelam commented on #3023
Environment info:

| &nbsp; | Version |
| --: | --- |
| **Windows** | 10586.420 |
| **VS** | 14.0.25420.01 Update 3 |
| **NuGet** | 3.5.0.1484 |
| **.NET Core Tools** | 14.1.20621.0 |

[2016-06-22 23:40] rrelyea commented on #3023
seen the related repro (add-migrations not a known command) on 3 update 3 machines. van's, chris' and brice's. van/chris' machines had 3.4.4 installed. So if this was caused by NuGet, was broken by 3.4.4 or before.

[2016-06-22 23:57] AndriySvyryd opened #3028 "Portable Class Library packages can't be updated"
Using VS 2015 U3 25420 with NuGet 3.5.0 beta2 1484 and https://dotnet.myget.org/F/aspnet1/api/v3/index.json
- Create Class Library (Portable) targeting .NET Framework 4.6 and ASP.NET Core 1.0
- Update Microsoft.NETCore 5.0.0 to 5.0.1

[code]

[2016-06-23 00:06] AndriySvyryd commented on #3028
This prevents any ASP.NET Core packages to be installed.

[code]

[2016-06-23 00:36] emgarten opened #3029 "OptimizedZipPackage cache leaves empty folders"
NuGet.Core creates a new guid folder under NuGetScratch for each session of Visual Studio or nuget.exe when local packages are used. Upon closing the sub folders are cleaned up, but not the root. Each session appears to add a new empty guid folder.

Steps
1. Open `%temp%/NuGetScratch` in file explorer
2. Create a new project in Visual Studio 2013
3. Install-package nuget.versioning
4. Observe that

[2016-06-23 01:07] rrelyea commented on #3023
@joelverhagen investigated and also talked with @emgarten

Currently, they think:
- init.ps1 will only be run on dependencies, not tools.
- Tools was designed for dotnet.exe extensibility, not PMC.

[2016-06-23 01:44] emgarten commented on #3013
Here is the behavior in 2.8.6

[code]

**Add constraint**

[code]

**Update**

[code]

**Update again**

[code]

It has extra info about why it didn't update, but it doesn't consider it an error. Maybe go with that behavior?

[2016-06-23 03:56] KirillOsenkov opened #3030 "Incorrect string: A stable release of a package should not have on a prerelease dependency."
A stable release of a package should not have on a prerelease dependency.

Is a noun missing?

https://github.com/NuGet/NuGet.Client/blob/d74b04c1bdd3a6bb14b0ba6edd319e9c839c6eae/src/NuGet.Core/NuGet.Packaging/PackageCreation/Resources/NuGetResources.resx#L160

[2016-06-23 04:17] harikmenon commented on #3009
Other than this http://docs.nuget.org/Create/Nuspec-Reference, I was not able to find any reference so i believe we are good. the reference here did not pertain to the problem at hand.

[2016-06-23 04:22] yishaigalatzer commented on #3009
Let's add a clarifying comment on the 2.2 release notes

[2016-06-23 04:29] harikmenon commented on #3009
Will work with Peter on the text tomorrow.

[2016-06-23 05:33] rohit21agrawal commented on #3020
Verified. Separate VSIX's for 2012 and 2013, and they only install on their respective versions.

[2016-06-23 05:33] #3020 closed, assigned to rohit21agrawal

[2016-06-23 07:04] Lenny32 commented on #2988
We just build up the server with a Nuget package we found on Scott Hanselman blog.

[2016-06-23 07:12] kingerja commented on #2560
This is fixed in 3.4.5.53683

[2016-06-23 07:12] #2560 closed, assigned to nobody

[2016-06-23 11:34] manojsagoi commented on #1341
Hi one more question .
when i am executing install-package XSMDB -version 5.21.35 my all dlls getting downloaded to
C:\TFS\XGS-SDI\XOS\Integrations\Development\XisImprovement\XsmController\XsmDll\dlls

that's fine .

but i am getting more folders which are getting downloaded .
C:\TFS\XGS-SDI\XOS\Integrations\Development\XisImprovement\XsmController\XsmDll\dlls\XSMDB.5.21.39.0\lib\net40

i don't wa

[2016-06-23 11:56] apawsey opened #3031 ".targets/.props files from build folder are not imported into .xproj projects"
I have created set of custom MSBuild tasks (actually to do with managing a local nuget based development workflow), but although my nuget package appears to have everything in the correct places, nothing is imported into my .xproj.

In a normal .csproj file, the targets imports fine.

[2016-06-23 13:06] niemyjski commented on #2390
Is there a way to specify minClientVersion in project.json? I'm not finding it and we want to set it to 2.12 so it works on VS2012/VS2013

[2016-06-23 13:10] niemyjski commented on #2672
Has anyone been able to get this to work?

[2016-06-23 13:26] lszomoru commented on #2887
Any updates on this? Thanks!

[2016-06-23 14:04] amedee commented on #1946
I can confirm that this also occurs with:
- NuGet 3.4.4.1321
- Mono JIT compiler version 4.2.1 (Debian 4.2.1.102+dfsg2-7ubuntu4)

Will now attempt to write a nuspec file from scratch. Unfortunately there's no fancy NuGet Package Explorer for me. :(

[2016-06-23 15:26] #2625 closed, assigned to spadapet

[2016-06-23 15:43] spadapet opened #3032 "Can't push a test package to internal NuGet.Server or Klondike"
This functional test is failing for NuGet.Server and Klondike:
- NuGet.XPlat.FuncTest.XPlatPushTests.PushToServerSucceeds

Here's the package that the test is trying to push to the server (remove the .zip extension).
- [XPlatPushTests.PushToServerSucceeds.1.0.0.nupkg.zip](https://github.com/NuGet/Home/files/330322/XPlatPushTests.PushToServerSucceeds.1.0.0.nupkg.zip)

The push fails with 500 Intern

[2016-06-23 15:44] spadapet commented on #3032
Found while adding a new functional test. Here's the PR: https://github.com/NuGet/NuGet.Client/pull/706

[2016-06-23 15:46] alpaix commented on #2887
//cc @rrelyea @yishaigalatzer @emgarten for triage

[2016-06-23 16:24] joelverhagen commented on #3015
Alright, glad this explanation makes sense. If you have additional questions related to this particular scenario, feel free to respond to that issue with your own details. In the mean time, I will close this issue as a duplicate of the ASP.NET issue.

[2016-06-23 16:24] #3015 closed, assigned to joelverhagen

[2016-06-23 16:27] joelverhagen commented on #2945
Hey @Konard, have you had a chance to try this newer nuget.exe that supports disabling parallel HTTP? If this resolves the problem, I would still like to keep this issue open to track potential improvements in these two areas:
1. Configuring HTTP timeout value
2. Setting arbitrary levels of HTTP parallelism (maybe 1 is too slow, 16 is too much for your connection, but 4 is the "sweet spot").

[2016-06-23 16:52] emgarten commented on #2988
@Lenny32 it looks like there may be an issue with your server if you are getting 404 responses as your log indicates. Double check that your source url is correct, your server may not be at the domain root.

[2016-06-23 16:55] emgarten commented on #3031
Targets and props files are not added for xproj since xproj is design to work cross platform where msbuild doesn't exist currently. You will need to use csproj + project.json or reference the targets directly from your xproj.

[2016-06-23 16:56] yishaigalatzer commented on #2833
This looks a lot like this fix in mono - https://bugzilla.xamarin.com/show_bug.cgi?id=41775

[2016-06-23 17:00] yishaigalatzer commented on #2992
Thanks @mrward , we are waiting on the decision on the http client issue from your side, and than we can proceed from here. I'm pulling this into the 3.5 release so it doesn't easily fall off the radar

[2016-06-23 17:05] yishaigalatzer commented on #2708
This does seem to be in mono proper
CC @mrward

[2016-06-23 17:31] rmarinho commented on #1286
this feature will be interesting.. we need to have more options to work in CI without messing with csproj

[2016-06-23 17:35] yishaigalatzer commented on #1286
@rmharinho take a look at this blog https://oren.codes/2016/02/08/project-json-all-the-things/

[2016-06-23 18:24] rohit21agrawal commented on #3019
@rrelyea  Can close now?

[2016-06-23 18:27] jainaashish opened #3033 "update-package isn't working without -Version attribute with Nuget 2.12.0"
update-package command on PMC results in no updates without specifying -Version attribute whereas it's able to update with -Version and specifying a specific version.

Environment - nuget 2.12 with vs 2013 update 5.

[2016-06-23 18:50] rohit21agrawal commented on #3033
Seems to have worked for me :

PM> Update-Package newtonsoft.json
Updating 'Newtonsoft.Json' from version '8.0.1' to '8.0.3' in project 'WpfApplication1'.
Removing 'Newtonsoft.Json 8.0.1' from WpfApplication1.
Successfully removed 'Newtonsoft.Json 8.0.1' from WpfApplication1.
Adding 'Newtonsoft.Json 8.0.3' to WpfApplication1.
Installing 'Newtonsoft.Json 8.0.3'.
Successfully installed 'Newtonsoft.J

[2016-06-23 19:24] AndriySvyryd opened #3034 "Referencing Portable Class Library from Universal Windows App produces restore errors"
Using VS 2015 U3 25420 with NuGet 3.5.0 beta2 1484
1. Create a Class Library (Portable)
2. Change target to netstandard1.0
3. Create a Blank App (Universal Windows)
4. Add a reference to the Class Library
5. Build

Build succeeds, but the following is shown in the output window:

[code]

[2016-06-23 19:49] jainaashish commented on #3033
there seemed to be some intermittent issue while accessing nuget v2 feed at that moment which is why it didn't updated. Now everything seems to be working fine. Closing this as non-repro

[2016-06-23 19:49] #3033 closed, assigned to rohit21agrawal

[2016-06-23 19:58] ryanewtaylor opened #3035 "No Items Found in a local feed when using NuGet Package Manager in Visual Studio 2012"
I have created a local feed with the following

[code]

I then added the feed via the NuGet Package Manager in Visual Studio 2012.
1. Tools > NuGet Packager Manager > NuGet Package Manager Settings > Package Sources
2. Add: Name: My Feed Source: \\my\feed\location
3. Click Update to save the changes

But, when I try to use that feed to locate my packages no packages are listed. I receive the same

[2016-06-23 20:08] zhili1208 commented on #2987
@mesheets @mmajcica I think you need to use NuGetDefault.Config, it will work for your case.https://docs.nuget.org/consume/nuget-config-defaults

[2016-06-23 20:08] ericstj commented on #3028
/cc @weshaggard @Pilchie

With the advent of 'netstandard' CoreFx packages no longer support the old 'dotnet' moniker.  If you want to update to the latest packages you need to use 'netstandard' rather than 'dotnet'.

[2016-06-23 20:14] zhili1208 commented on #1341
So you mean you just want to download the nupkg but don't want to expand the package, is that right?
what's your issue with the folder? because you don't want the folder be added to TFS or something else?

[2016-06-23 20:25] ericstj commented on #3028
I think your test case should be updated to convert to NETStandard before doing the update.  Can you try this?

[2016-06-23 20:31] migueldeicaza commented on #2907
This looks like NuGet.exe that you are trying to use was built with a different version of the APIs that are present in Mono.   You likely need to build `nuget.exe` on your machine, and not use a binary.

Could you point me to the binary for `nuget.exe` that you got and where you got it from?

[2016-06-23 20:33] migueldeicaza commented on #2860
Named mutexes in Mono are process-local, they are not global like they are on Windows, so on the Mono case, it should use the same setup.

In the past, many years ago, mono supported global mutexes across a processes in the user namespace, but that support was very brittle and we removed the code some 4-5 years ago.

[2016-06-23 20:34] AndriySvyryd commented on #3028
@ericstj NETStandard works fine, but the template defaults are basically unusable

[2016-06-23 20:52] jainaashish commented on #3013
yeah additional info or warning seems right. But I'm just wondering why there isn't any issue logged so far on 3.3 or 3.4 or 3.5... until now it was throwing error in this case.

[2016-06-23 20:57] #2902 closed, assigned to rohit21agrawal

[2016-06-23 21:07] ericstj commented on #3028
Yeah, I think we need to de-emphasize/deprecate the 'dotnet' mode of the templates @Pilchie.

[2016-06-23 21:31] rrelyea commented on #3017
@TimBarham - please let us know when that is done, with pointers to those issues.

[2016-06-23 21:34] alpaix commented on #2844
related to #1851

[2016-06-23 21:37] rrelyea commented on #2983
Connected with corefx team so that people building via source to match what we ship in beta2, this change is important.

[2016-06-23 21:37] #2983 closed, assigned to jainaashish

[2016-06-23 21:38] rrelyea commented on #3023
No NuGet change necessary for b2 here. Design discussion to come post beta2 to understand right way for EF to do thia.

[2016-06-23 21:41] rrelyea commented on #2976
Believe it is shipping in preview2 wave of aspnet tooling.
@spadapet  - can you please verify with the latest webtools?

[2016-06-23 22:10] joelverhagen commented on #3026
Talked to @rrelyea offline. These docs will coincide with general package type documentation, for 3.5 RTM.

[2016-06-23 22:10] yishaigalatzer commented on #1946
we tried to make it work with xbuild, but there are too many missing capabilities.

Discussed today with the mono team (@mrward). And we believe that this is not expected to work until mono ports to use the OSS version of msbuild.

Still haven't decided if we are going to try and work around the xbuild issues short term, but given other things we are working on at the moment, it seems a bit unlike

[2016-06-23 22:16] apawsey commented on #3031
Kinda get your point...but... xproj isn't really cross platform as it was always designed for msbuild (it's an msbuild file after all), and it's not created by the cross platform dotnet cli, but by the very not-cross-platform visual studio.  So I'm not really sure how nuget not following the same behaviour it does for every other msbuild project file is the correct behaviour?

I do understand that

[2016-06-23 22:35] rowanmiller commented on #3023
Agreed on the `tools` section part being post-beta2. Do we understand what was happening when init.ps1 wasn't getting run when the package was listing in `dependencies`?

[2016-06-23 22:48] joelverhagen commented on #3023
@rowanmiller, I was unable to reproduce this issue. Scenarios attempted:
1. `.Tools` in `"tools"` but not `"dependencies"`. PMC command never resolved.
2. `.Tools` in `"tools"` and in `"dependencies"`. PMC always resolved.
3. _#_1 and _#_2 with both opened and closed on VS startup.

One "gotcha" is that if, at any point during a PMC lifetime, you have `.Tools` in the "dependency" node, the PMC com

[2016-06-23 23:11] emgarten opened #3036 "Assembly conflict on Visual Studio 2013 for a package using netstandard"
Converting newtonsoft.json 9.0.1 to a pure netstandard1.0 package does not work in Visual Studio 2013.

**Steps**
1. Use Visual Studio 2013
2. Take newtonsoft.json 9.0.1 and remove all lib folders except netstandard1.0. Remove all non-netstandard dependencies also.
3. Add the package to a local folder feed
4. Create a C# .NET 4.6.1 console app
5. install-package newtonsoft.json -source yourlocalfe

[2016-06-23 23:14] rowanmiller commented on #3023
@joelverhagen ok sounds good. We saw it on one machine, but maybe it was just a one-off issue.

[2016-06-23 23:21] tkrick opened #3037 "-ApiKey on delete command line is not read/sent in 3.5.0-beta"
version that reproes: 3.5.0.1284
version that does not: 3.4.3.855

WARNING: No API Key was provided and no API Key could be found for 'https://tktest1.me.tfsallin.net:30443/DefaultCollect
ion/_packaging/05ae42ac-b8c5-4d6e-9f9c-8f261a2a9f2e/nuget/v2/'. To save an API Key for a source use the 'setApiKey' comm
and.
CloudBuild 1.0.15 will be deleted from the 'https://tktest1.me.tfsallin.net:30443/Defa

[2016-06-23 23:45] harikmenon commented on #3009
@karann-msft : please work with Rob and Peter to update the 2.2 release notes. This will probably be your first commit to NuGet, so congrats in advance :)

[2016-06-23 23:46] emgarten commented on #3031
@apawsey take a look at https://oren.codes/2016/02/08/project-json-all-the-things/

[2016-06-24 00:01] rrelyea commented on #3036
Working with @ericstj offline.

[2016-06-24 00:04] rohit21agrawal commented on #3029
This will be a continuation of the work done in https://github.com/NuGet/NuGet2/pull/33

[2016-06-24 00:11] spadapet commented on #2976
@harikmenon - When I run through these repro steps, the restore happens and project.json and references are updated. But the package manager UI doesn't show the updated installed version right away (it updates after switching away from the tab)
Should this be a "known issue" added to the docs?

[2016-06-24 00:18] harikmenon commented on #2976
I don't think this meets the bar for a known issue IMO.

[2016-06-24 00:43] emgarten commented on #3036
@ericstj suggested adding `<ImplicitlyExpandDesignTimeFacades>false</ImplicitlyExpandDesignTimeFacades>` to work around this problem in Visual Studio 2013, which solves the problem for me.

[2016-06-24 00:43] #3036 closed, assigned to nobody

[2016-06-24 01:10] naamunds opened #3038 "Restore fails for project in root of file system"
**Repro steps:**
1. Install the 1.0.0-preview2-003121 build of the [.NET CLI](https://github.com/dotnet/cli).
2. From the root of the file system ("C:\" on Windows or "/" on Unix), run `dotnet new`.
3. Run `dotnet restore`.

**Results:**

The restore fails, typically with an "access denied" error.  The specifics of the error vary based on the OS.

On Windows 10 and Windows Server Core, the error i

[2016-06-24 01:26] manojsagoi commented on #1341
I want to download DLLs only without there default folder structure. I don't want to check-in folders in TFS.

[2016-06-24 01:36] yishaigalatzer commented on #1341
That's not supported and not a recommended practice.

[2016-06-24 01:43] manojsagoi commented on #1341
Oops than can someone help me on this:
1: I want to automate the nuget configuration process in vs2015.
2: in my project we are using only 24 DLLs but install nuget downloading all 60 DLLs , how to filter only 24 DLLs

[2016-06-24 01:51] yishaigalatzer commented on #1341
Feel free to email support@nuget.org with a concrete example and we can try to help

[2016-06-24 04:58] emgarten commented on #3038
This is a good test :smile:

`dotnet restore` with no additional parameters will search your current working directory and all sub folders for project.json files. Failing with these errors when a sub folder cannot be listed seems like the correct behavior to me, ignoring a potential project folder would be a problem.

[2016-06-24 05:46] kimbirkelund opened #3039 "Option to include prerelease packages for those that are already in prerelease version"
When updating a package in the VS Package Manager UI there is an option to "Include Prerelease" packages.

An option to only include prerelease packages for those that are currently installed in a prerelease version would be nice.

[2016-06-24 07:04] Lenny32 commented on #2988
It is working on "Normal" projects like a Console App.
I can see, get the packages I have available from this source.

I just retried (at least for the 10th time) and it is not working.
The server is using Basic Authentication.

If you need me to share my screen, I would be glad to help you like that.

[2016-06-24 10:07] rmarinho commented on #1286
How will that help me? I m not even using project.json.

[2016-06-24 11:46] dillipdora1985 opened #3040 "Restoring Nuget packages hangs"
I had a recent change of my user name in my system, after this I'm not able to build my visual studio (VS 2015 updated 2) projects that has some nuget packages and dll(s) as dependencies.

I tried below options but didnt help:
1. Copying the .nuget from old C:\users\old_user.nuget to C:\users\new_user.nuget did not helped me.
2. Click on visual studio nuget restore button.
3. In msdos, executed nu

[2016-06-24 12:20] konard commented on #2945
Yes, the `nuget.exe restore -DisableParallel` successfully downloaded all packages.

[nuget.exe.txt](https://github.com/NuGet/Home/files/331721/nuget.exe.txt)

Videos:
https://youtu.be/CfZ5QVNAFsg
https://youtu.be/HWXR6vvtJGg

[2016-06-24 12:50] driscollwebdev commented on #2372
Bumping this issue, as I am affected by it as well. Current behavior is inconsistent with [documentation](http://docs.nuget.org/create/nuspec-reference#specifying-files-to-include-in-the-package)

[2016-06-24 13:16] driscollwebdev commented on #2714
@qwertie AssemblyInfo token replacement only works if you are calling nuget.exe pack and specifying your .csproj/.vbproj file to be packed. This behavior is documented [here](https://docs.nuget.org/create/creating-and-publishing-a-package):

[2016-06-24 13:55] yishaigalatzer commented on #1286
If you move to use project.json these issues go away.

[2016-06-24 14:54] rmarinho commented on #1286
Yeah but project.json is going to die so.... and i m running xplat sln with Xamarin and UWP and all that stuff.. Xamarin.Forms

[2016-06-24 14:56] rmarinho commented on #1286
I hacked around i manually set the references to the folder of the nuget without version, then i can install a version with  -ExcludeVersion on the folder and it will just work without messing with csproj's ..

Our use case is running in teamcity, generate new Nuget's and install them in a sample project to run unit tests and uitest.

[2016-06-24 14:58] yishaigalatzer commented on #1286
It is not going to die as a package source (the uwp model, not the aspnet core model). There is a change but will be in how it's formatted rather than how it works. So the pattern is right.

I don't know about when xamarin studio will support it, that's something valid to follow up on.

[2016-06-24 15:04] spadapet commented on #2976
Sounds good to me, you can re-close this

[2016-06-24 15:04] #2976 closed, assigned to harikmenon

[2016-06-24 15:06] yishaigalatzer commented on #1286
Missed your last comment. I'd be happy to get on a call with you and help out for your exact scenario. Email me at support@nuget.org

[2016-06-24 15:45] spadapet opened #3041 "Package manager UI: Doesn't display new version after updating a package"
This repro is the same as: https://github.com/NuGet/Home/issues/2976
Similar to: https://github.com/NuGet/Home/issues/2828

But now with the latest dotnet tooling, the package restore does happen after updating a package version. So there is no broken functionality. It's just the package manager UI that doesn't update the display of what version is installed.

Repro steps:
- Create .NET Core Class

[2016-06-24 15:47] spadapet commented on #2348
I added new switches for the push command: -SymbolsSource and -SymbolsApiKey

[2016-06-24 15:49] harikmenon commented on #2348
Can you open a PR on the docs with the change, we will merge it in when appropriate

[2016-06-24 16:07] BigDaddyD opened #3042 "Operation failed Expected 1 export(s) with contract name "NuGet.Configuration.ISettings" but found 0 after applying applicable constraints"
I've tried reinstalling and repairing visual studio 2015 but nothing has alleviated this error message that prevents me from interacting with the Nuget Package Manager in any way. Any attempt to interact with Nuget through the VS UI results in the error message below.

![image](https://cloud.githubusercontent.com/assets/5808850/16343147/87434638-3a03-11e6-821f-bcc18ef9b0ab.png)

I attempted to do

[2016-06-24 16:13] toddm opened #3043 "Packing project.json produces incorrect excludes in nuspec"
Packing dotnet packages showed that the excludes that get set in the nupsec on runtime dependencies cause problems in the project.lock.json file when used.

Using dotnet pack didn't put any excludes on the dependencies. While that probably isn't the best solution either, the current ones cause differences in the build so there's something wrong.

An investigation is needed to determine what the ex

[2016-06-24 16:31] rrelyea opened #3044 "Solve JetBrains performance scenario for NuGet Update"
Per email thread with JetBrains...let's ensure that they understand when to do less work.
In other cases (XAML Language Service), using batchstart and end worked.
Do we need new events to solve this?
If so, what should they be?
Should they only solve Update?
Or is install, restore, etc... too?
If all, should they use one generic event NuGetOperationStarting, NuGetOperationComplete, or events for e

[2016-06-24 16:43] rrelyea commented on #3042
Please give details of versions of VS and NuGet.
Happening to more than one machine?

[2016-06-24 16:47] emgarten commented on #2988
What version of NuGet.exe are you using? Please provide the exact repro steps you used to get the errors above.

It sounds like you are hitting issues with .NET Core projects with project.json, but packages.config projects are working correctly? Is that the case?

[2016-06-24 16:52] rrelyea commented on #3040
Are you using NuGet.exe v3.4.4 (http://dist.nuget.org/index.html) - the latest shipping bits?
Can you please give us steps to help reproduce the problem on our end?

[2016-06-24 16:52] rrelyea commented on #3040
What version of Nuget are you using in VS?

[2016-06-24 16:52] rohit21agrawal opened #3045 "update dotnet cli installed by build script to preview2-003121, which is the official preview2 build."

[2016-06-24 16:53] rohit21agrawal commented on #3045
update build.ps1 , build.sh , runFuncTests.sh

[2016-06-24 16:54] emgarten commented on #3042
Here are some general steps that may help.
1. From tools > extensions and updates > Installed, uninstall NuGet Package Manager
2. Close all instances of visual studio
3. Delete _%localappdata%\Microsoft\VisualStudio\14.0_
4. Download NuGet 3.4.4 VSIX for 2015 from https://dist.nuget.org/index.html
5. Double click the VSIX you downloaded to install it
6. Run the Visual Studio developer command prom

[2016-06-24 17:25] BigDaddyD commented on #3042
@rrelyea The version of Visual Studio is 2015 and NuGet I'm assuming 3.4 but I'm not sure. it is the default version that comes with the 2015 VS install. My machine is the only one of the machines our dev team is using that is experiencing this problem

[2016-06-24 17:26] BigDaddyD commented on #3042
@emgarten Are you saying delete ALL files under %localappdata%\Microsoft\VisualStudio\14.0?
I've found some other posts that sya to delete everything under %localappdata%\Microsoft\VisualStudio\14.0\ComponentModelCache
Will this break my install?
When I look at tools > extensions and updates > Installed I dont see Nuget listed
![image](https://cloud.githubusercontent.com/assets/5808850/16345401/b4

[2016-06-24 17:36] BigDaddyD commented on #3042
I managed to find a very wonky solution that managed to fix the problem for now. However, you should address this issue to find a permanent long-term solution.

Link to solution i used: http://nuget.codeplex.com/workitem/3031

[2016-06-24 17:46] spadapet commented on #2348
NuGetDocs PR: https://github.com/NuGet/NuGetDocs/pull/480
Fix that up as necessary, I don't know all the places the docs need to be updated

[2016-06-24 17:51] emgarten commented on #3042
Deleting everything in that folder is fine, _%localappdata%\Microsoft\VisualStudio\14.0\ComponentModelCache_ is the critical part to delete. Visual Studio caches all of the extensions it knows about into this folder. This often gets out of date and Visual Studio doesn't update it properly, which is what you are most likely hitting here.

The NuGet team has been working with the Visual Studio platf

[2016-06-24 18:40] frankabbruzzese commented on #2262
I understand the problem created by "mutable files" in the new Nuget framework. However, "mutable files" are needed for scaffolding. Now asp.net core projects are very modular and use typical Javascript  package managers to handle client side stuffs. All good things, but configuring complex projects with tools provided by the community, through different sources may become a very costly operation

[2016-06-24 18:47] rohit21agrawal commented on #3045
Todd's pull request covers this change :

https://github.com/NuGet/NuGet.Client/pull/713

[2016-06-24 18:55] yishaigalatzer commented on #2262
There is work being done for scaffolding by the asp.net tooling team. I'll loop them in here (can't find the github ID at the moment for sayed hashimi

[2016-06-24 19:13] #3045 closed, assigned to rohit21agrawal

[2016-06-24 19:13] joelverhagen opened #3046 ""Blocked by package.config" in project.json (UWP, a.k.a build integrated) project"
## Steps
1. Install recent `dev` build of the VSIX. I used build `3.5.0-rc-1545`.
2. Create a new .csproj (I created a simple Console Application).
3. Add a project.json to the .csproj ([steps](https://github.com/NuGet/Home/wiki/Converting-a-csproj-from-package.config-to-project.json#making-the-change)). Make sure the framework in `"frameworks"` matches the project. My project.json is below.
4. Re

[2016-06-24 19:13] joelverhagen commented on #3046
/cc @jainaashish

[2016-06-24 19:47] mhutch commented on #2993
This should be possible with MSBuild - see http://sedodream.com/2010/10/22/MSBuildExtendingTheSolutionBuild.aspx

[2016-06-24 19:50] harikmenon commented on #2993
Thanks!!!! We were literally in a meeting discussing this when we saw your comment come in :)

[2016-06-24 19:50] frankabbruzzese commented on #2262
Great, it would be nice to know more about that, such as timing, and the basic ideas this tool is based on, so I may coordinate my schedule and architecture with the job being done by the team on the subject.

[2016-06-24 21:11] joelverhagen commented on #2734
Tested some different cases in current `dev`.
- Works
  - Browsing V2 remote
  - Browsing V3 remote
  - Browsing V2 local
  - Browsing V3 local
  - Installing, updating, and uninstalling a "good" version of a package that has a "bad" version.
  - Restoring a "bad" version
- Broken
  - If the user already has a version with `net-cf` installed, they cannot uninstall or update.

[2016-06-24 21:12] joelverhagen commented on #2734
Uninstall has this stack trace when failing:

[code]

[2016-06-24 21:24] alpaix opened #3047 "NuGet Package Manager extension for VS2012, 2010 has wrong identifier"
The right identifier for the NuGet package manager VS2012 when installed from the gallery is:

[code]

While the newest v2.12 built in CI has different identifier:

[code]

This caused both of the versions being loaded at the same time:

![image](https://cloud.githubusercontent.com/assets/8239356/16350999/44f7de92-3a17-11e6-9403-58078715af3a.png)

[2016-06-24 21:43] rohit21agrawal commented on #3041
@spadapet What version of dotnet tooling are you using with this? I have an older version which still repros the bugs you linked to.

[2016-06-24 21:43] #3019 closed, assigned to rohit21agrawal

[2016-06-24 21:46] naamunds commented on #3038
Thanks for the explanation.  I thought that `dotnet restore` would just restore the first project that it finds, but I see now that it actually restores all projects in every sub-directory, meaning that if you run it from the root, it would search the entire file system.

Running `dotnet restore .\project.json` from the root works, so I'm closing this issue.

[2016-06-24 21:46] #3038 closed, assigned to nobody

[2016-06-24 23:33] spadapet commented on #2430
That link was from Chris Ross (chrross). The suggestion is to implement a custom authentication manager to provide credentials so that the HTTP request doesn't fail. Then we don't need to try again with credentials.

[2016-06-24 23:34] spadapet commented on #2606
Just need to make sure that the separator isn't allowed to have focus or be selected.

[2016-06-24 23:39] spadapet commented on #2723
I implemented this in branch origin/spadapet/PushSourceRelative.
What isn't done is:
- Write tests
- Deal with the two tests that I had to disable. They push to "-Source invalid" which used to be invalid, but now the code is treating that like a relative path. Maybe relative paths should only be used if the path actually exists. That could be done pretty easily in the new code that resolves the re

[2016-06-25 00:12] emgarten opened #3048 "Visual Studio 2012 does not add the library strong name"
Adding the System.Runtime.Serialization.Primitives in VS 2012 results in a new reference, however the reference points to the facade assembly instead of the package dll. This appears to be due to the strong name and version not being added to the reference.

Steps
1. Visual Studio 2012, New C# Console App, .NET 4.6.1
2. Install-package System.Runtime.Serialization.Primitives -Version 4.1.1
3. Look

[2016-06-25 01:51] rhyous commented on #2262
I dropped any attempt to use project.json because it just is a major step backwards when it comes to including source code in the NuGet package content.

As a former FreeBSD guy, I applaud the open source efforts. However, it is a poor decision IMHO to drop support for something that will work for 90% of users who write C# in Visual Studio on Windows just because 10% of users (or is it less?) migh

[2016-06-25 01:57] yishaigalatzer commented on #2262
You can absolutely support adding source code through project.json references and this change has nothing you do with open source vs. not open source.

The big difference is project.json is that it doesn't alter your project and hence allows for revving dependencies on a ci where you never want to re-checkin your code or see diffs or for that matter even have visual studio installed.

This mode al

[2016-06-25 03:43] rhyous commented on #2262
@yishaigalatzer: "You can absolutely support adding source code through project.json references and this change has nothing you do with open source vs. not open source."

Is that universally true? Or only true for Universal Apps? (ha, ha, see what I did there?)

Anyway, remember, I tried and failed. Remember, I worked with you and your the one who told me that it currently only works for Universal

[2016-06-25 03:55] yishaigalatzer commented on #2262
1. We are adding an auto conversion tool in the next release, so it is not a show stopper.
2. It will work for every project type
3. There is a huge difference between updating a project file or project.json and you can use a \* notation to float forward.

At the end of the day is your choice, just note that packages.config is the past and we are going to invest most of our efforts in the new mode

[2016-06-25 04:35] qwertie opened #3049 "nuget pack + $description$: `AssemblyDescription` cannot have a less-than sign"
My `AssemblyDescription` refers to a data type `DList<T>` that my assembly contains. This doesn't work and produces a somewhat confusing error message.

[code]

[2016-06-25 04:36] qwertie commented on #2714
@driscollwebdev Thanks! ... although this leaves me puzzled about how to get "token replacement" in case I want my package to have multiple versions of the same assembly - e.g. .NET 3.5 and .NET 4.5.

Targeting my csproj does basically work after dealing with #3049, although the output is kind of strange...

[code]

A valid-looking nupkg **is** produced, but the final line is printed in red text.

[2016-06-27 11:25] timotei opened #3050 "NuGet pack ignores nuspec versions [unwanted version normalization?]"
Hello,

It seems latest NuGet pack **ignores** the version set in the nuspec (or via the `-Version` override flag) and the dependencies' versions, by normalising them, even if nobody asked for it :(

It seems this was "fixed" for this https://github.com/NuGet/Home/issues/2039, but to me this seems a super counter-intuitive change, that breaks (at least for us) the daily workflows.

For the meantim

[2016-06-27 14:26] darrencauthon commented on #2833
It looks like the fix for this may have been applied to mono 11 days ago.

https://github.com/mono/mono/commit/dfb71501df717bfa587e4458b61cd50b0a85efa2

I'll verify that it fixes this issue, then close the ticket accordingly.  Thanks!

[2016-06-27 14:35] Lenny32 commented on #2988
The error is only on .Net core yes, and the packages.config are working.
Server Nuget version => v2.10.0.0
Nuget.exe => NuGet Version: 3.4.3.855

I just did `nuget update -self` now I have the latest version => 3.4.4.1321 and it is working now.
even with an encrypted password.

But it seem that I cannot use the custom packages anymore.

I tried to `nuget install MyPackageName` and it messed up my

[2016-06-27 14:43] timdooling opened #3051 "Nuget not syncing packages when using app.config file instead of web.config"
I have an application library and I use NuGet restore to restore packages when the repository is cloned.  While NuGet restores the packages, it does not sync the references in the class library with the packages in the solution.  I can deal with the problem by deleting all of the references with the yellow triangles and adding them by browsing to each package in order, but I am wondering if there

[2016-06-27 14:55] #2348 closed, assigned to spadapet

[2016-06-27 15:32] akoeplinger commented on #2029
I ran into this internally in Xamarin too, so I filed a bug: https://bugzilla.xamarin.com/show_bug.cgi?id=42193

[2016-06-27 17:20] rohit21agrawal commented on #3047
Fixed.

[2016-06-27 17:20] #3047 closed, assigned to rohit21agrawal

[2016-06-27 17:40] emgarten commented on #3050
@timotei would you share more about your scenarios here? Are you expecting the version string to be an exact match as part of other scripts or tools?

[2016-06-27 17:46] emgarten commented on #3051
It sounds like your packages folder moves in relation to your project or config files.

To fix project references try reinstalling the package through nuget: https://docs.nuget.org/consume/reinstalling-packages

To better control your packages folder location you may want to set the _repositoryPath_ in your NuGet.Config file. http://docs.nuget.org/consume/nuget-config-file

[2016-06-27 17:58] emgarten commented on #2988
`nuget install` doesn't modify packages.config or your project. It just downloads and extracts the nupkg to a folder, there haven't been any changes in that area.

If you are trying to add a package to a project.json .NET Core project you can update your project.json file, then run `nuget restore`. Note also that for .NET Core you need 3.5.0-beta which is available on https://dist.nuget.org/index.

[2016-06-27 18:04] abatishchev commented on #2748
Is it something you could address in the mid-future, please?

[2016-06-27 18:15] timdooling commented on #3051
Not the issue.  The package folder is in the right place, and the pointers in the repositories.config file are directed to it.  As you know, the packages folder is located inside the solution folder.

As to your links, nothing involved in any of those links is relevant.

Also, the packages are present and loaded including the .dll.  When I manually load them as references, it works just fine.

The

[2016-06-27 18:17] timotei commented on #3050
Well, we have _a ton_ of internal libraries that are used throughout the end products (private NuGet repo based on Artifactory). Some scripts/tools generate them directly via the nuget pack, others are using some more legacy build systems and we managed to make some bridge between them (not possible/feasible to migrate them to the newer NuGet-based process).

The issue comes from the fact that new

[2016-06-27 18:55] emgarten commented on #3050
I'd like to understand how this is working, are your scripts resolving nuget dependencies without nuget? Does IKVM consume nupkgs directly? Which parts of your build process read the nupkgs without nuget?

[2016-06-27 19:02] emgarten commented on #3051
Restore only downloads packages to disk and extracts them, it does not modify any project files.

How does app.config vs web.config cause your references to become out of sync?

[2016-06-27 19:18] timdooling commented on #3051
Well, genius, that is the point of the issue post.  I was really looking for an answer to that last question not someone to re-ask it.

[2016-06-27 19:20] emgarten commented on #3051
Some repro steps would be helpful :smile:

Individual packages may modify your app.config or web.config, but NuGet does not. Packages are tracked in the packages.config file.

[2016-06-27 19:25] timdooling commented on #3051
Using nuget package console or the manage interface does not solve the inherent problem.

That gets it to work.  When the repository is uploaded and then downloaded by a different user, the connections from the packages to the references are lost.  This only occurs when using an app.config file.  This behavior is not observed with a web.config file.

The app.config file is what is created when you

[2016-06-27 19:32] timotei commented on #3050
Yeah, up until NuGet 3.4, we had in place a simple mechanism which would translate 1-to-1 from Gradle dependencies, to NuGet packages (which are basically IKVM-compiled assemblies - Java to .NET). We were able to create the `packages.config` file with the mapped dependencies + versions, then do a `nuget restore`, use the restored deps in a custom processing step which does the final .NET compilati

[2016-06-27 20:00] emgarten commented on #3050
This has been fixed in 3.5.0, you can find it here: https://dist.nuget.org/win-x86-commandline/v3.5.0-beta2/NuGet.exe

With normalization there is only one possible string, making this deterministic now. Paths can be determined upfront without opening every nupkg to check if it is the expected version.

Here is how it works:
1. Versions have three parts to match SemVer
2. If the version contains a

[2016-06-27 20:05] gzak opened #3052 "No "free" transitive packages"
Not sure which repo to put this under, but here goes:

Suppose package X has a dependency on package Y, and I add a dependency just on package X in my application. Package Y will automatically be downloaded and added to my application, but I never had to declare it in my project.json file. This means I'll have access to classes in Y "for free".

This seems convenient, but it can become problematic

[2016-06-27 20:24] timotei commented on #3050
Hmm, yeah, but AFAICT, the 3 or 4 digits folder name will depend whether the NuGet package was generated with NuGet <3.4 or NuGet 3.4+, no?

About the normalization part, isn't possible to make nuget pack **not** normalize the version if explicitly not wanting? Or is the whole 3.4+ Normalized Versions Saga about normalizing the behavior (pun intended) of all NuGet behavior so it uses normalized ve

[2016-06-27 20:34] skofman1 opened #3053 "When installed VS 2015 update 3 on a VS that uses NuGet version 3.5.0 error occurs"
Repro:
1. On VS 2015 update 2, installe NuGet vsix version 3.5.0
2. Update to VS 2015 upgrade 3
3. Open VS

The error:

CreateInstance failed for package [NuGetPackage]Source: 'mscorlib' Description: Could not load file or assembly 'NuGet.Tools, Version=3.5.0.1284, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified. System.IO.Fil

[2016-06-27 20:42] emgarten commented on #3050
Normalizing solves many issues within NuGet. I think your scenario is valid, but less common than the problems normalizing fixes. You can work around this problem by finding the normalized version from the package after packing and using that for your mappings instead of the -Version input. You could also modify the nuspec in the package after pack to un-normalize it.

[2016-06-27 20:47] rrelyea commented on #3052
When you upgrade from v1 of X to v2 of X, does the NuGet VS UI tell you of the dependency changes? If so, can you paste in bitmap? If not, good to consider for future.

[2016-06-27 20:49] timotei commented on #3050
Does this mean that a PR that enables the NuGet Pack to generate the NuGet package "as is" from the NuSpec (without normalizing versions) would not be accepted into the client?

IIRC, there was once a warning when doing a pack for 4 digits (that the version doesn't satisfy SemVer 2?), but that warning does not show up now, and instead it directly normalizes the version (not sure why normalize it o

[2016-06-27 20:50] rrelyea commented on #3051
@timdooling - we're happy to engage with you and work on solutions.
Please maintain respect for our team as we work through the issue.

[2016-06-27 20:52] rrelyea commented on #3051
@timdooling - please give us repro steps, and we'll investigate options.

[2016-06-27 20:58] timdooling commented on #3051
You download the repository, rebuild the solution  (which reloads the packages listed in the packages.config file), check the references and all the references that use the  packages have yellow triangles on them.
What else do need for repro steps?

[2016-06-27 21:01] rrelyea commented on #3050
@timotei - yes, 3.4.\* does this behavior during pack. Earlier versions didn't.
We'd prefer to not add more command line options to not normalize.
Is it possible for you to adapt your mapping file to understand ".0" as the 4th version number will be dropped? We'd prefer to keep everybody normalizing.

[2016-06-27 21:04] rrelyea commented on #3049
Dupe of #2651, which is fixed in 3.5.0-beta and -beta2.

[2016-06-27 21:04] #3049 closed, assigned to nobody

[2016-06-27 21:07] rrelyea commented on #3048
We could explore options on how to have strong name written:
1) send different data to DTE (right now we send path to DLL)
2) modify the msbuild xml via the msbuild project object to have strong name
3) other?

[2016-06-27 21:10] rrelyea commented on #3046
Project.json use of "6.0.4" is interpreted as [6.04,)
We should not be saying that a downgrade is blocked in these scenarios.

[2016-06-27 21:12] rrelyea commented on #3043
@emgarten said one possibility is to: not output "excludes" in the output .nuspec

[2016-06-27 21:17] rrelyea commented on #3042
Glad that the double install fixed this for you. We have no other customer reports of this issue, we'll pay attention to any future reports and investigate if this impacts more people.
If you hit again, please let us know how you did it.

[2016-06-27 21:17] #3042 closed, assigned to nobody

[2016-06-27 21:19] rrelyea commented on #3039
Can you give us more background why you want this?

[2016-06-27 21:22] rrelyea commented on #3035
NuGet init creates the folders in an optimized way, that works from NuGet 2.12 on VS2013 and NuGet 3.x on VS2015.
Your current version of NuGet on VS2012 only looks at the root folder for packages.

[2016-06-27 21:22] #3035 closed, assigned to nobody

[2016-06-27 21:26] timdooling commented on #3051
Actually, the problem turns out to be the presence of the app.config file.  It is not used by a class library.

I am not sure how it got in there in the first place, but I can only assume since it was done months ago that I started the library out as a desktop app or something else instead of a class library.

Nuget restore was looking at it, and then confused as to what to do with it in the conte

[2016-06-27 21:35] rrelyea commented on #3034
Package author should change assets to remove these error conditions.
Template problem.

[2016-06-27 21:40] timdooling commented on #3051
I removed the app.config file entirely after determining that it was not used by a class library.  I rebuilt the class library after deleting all the packages in the packages folder, and it worked fine.

Then I updated the remote repository, and setup a new repository set for the library and an application that uses it.  When rebuilding the library, one of the modules loaded, but the rest of the p

[2016-06-27 22:20] gzak commented on #3052
The NuGet VS UI does tell you of the dependency changes:

[code]

[2016-06-27 22:57] rrelyea commented on #3051
"you download the repository" - I don't know which repository you are referring to.
Can you please give us repro steps, perhaps starting with File/New Project in VS.
Give us concrete details (step by step) on how to get into the state needed in order to see the same problems.

[2016-06-28 00:22] rrelyea commented on #3024
Can you please try nuget.exe v3.5.0-beta2 (just released today) -- from http://nuget.org/downloads
Does it show the same problem?

[2016-06-28 00:31] rrelyea commented on #2924
@rbravo - ping. please respond with details.
(also, please try 3.5.0-Beta2 of NuGet.exe -- which just shipped today)
Closing until we get a response with more data.

[2016-06-28 00:31] #2924 closed, assigned to nobody

[2016-06-28 00:44] rrelyea commented on #3014
Closing, since Zhi is out. Assuming this commit should address.

[2016-06-28 00:44] #3014 closed, assigned to zhili1208

[2016-06-28 00:45] timdooling commented on #3051
The process I used:
1. upload a repository to bitbucket through VS 2013 interface.
2.  Change settings on VS Git Settings to relocate the default repository to another location.
3.  Clone the library class solution to the new repository location.
4.  Perform a rebuild solution.

I am using NuGet 2.8+, so package restore should be automatic without using any of the VS legacy settings that force pac

[2016-06-28 01:00] rrelyea commented on #2991
@cnsharp - can you give more details here?
When I compare nuget2\src\core\nuget.frameworks and nuget2\src\core\nuget.shared -- the contents cloned locally look identical to the server copy.

[2016-06-28 01:59] cnsharp commented on #2991
@rrelyea
In my local copy,they are links from some other directory,but I cann't find the location.
Then I opened Core.csproj in text mode and found them.
`<Compile Include="..\..\NuGet.Client\src\NuGet.Core\NuGet.Shared\HashCodeCombiner.cs">
      <Link>NuGet.Shared\HashCodeCombiner.cs</Link>
    </Compile>
    <Compile Include="..\..\NuGet.Client\src\NuGet.Core\NuGet.Shared\SharedExtensions.cs">

[2016-06-28 03:43] davidfowl commented on #3052
You can control this on a per dependency basis when authors your package. We can't break transitive compilation references as it would be a huge breaking change.

[2016-06-28 06:41] gzak commented on #3052
@davidfowl mind clarifying how to do this? Link to docs would be sufficient. Thanks!

[2016-06-28 06:52] kimbirkelund commented on #3039
There might be a lot of package that have new prerelease versions. But at that moment I'm only interested in updating the packages I've already updated.

[2016-06-28 07:31] frankabbruzzese commented on #2262
@rhyous , @yishaigalatzer ,
In my opinion Nuget changes were a "must". Just a matter of time. The wave of changes triggered by .Net Core was just a good occasion to do it. <= 3 versions mixed two purposes with conflictiong needs, namely:
1. Adding new functionalities, and tracking/updating their versions.
2. Performing scaffolding

Now scaffoldin for its very nature is not reversible (since develo

[2016-06-28 07:32] MistyKuu opened #3054 "Updating dependencies through visual studio removes additional attributes"
I have visual studio 2015 with nuget package manager console 3.4.2. I want to create a nuget package from my project but exclude dependencies. So foreach dependency in project.json I include "type" "build" like this:

  "Microsoft.Office.Interop.Excel": {
      "version": "11.0.0",
      "type": "build"
    }

Whenever I do an update through visual studio nuget UI it's changed to:
 "Microsoft.Offi

[2016-06-28 10:36] PhotoAtomic commented on #2949
just installed visual studio 2015 update 3 on a build machine which build fine with the previous Update2 ,and I've start receiving the exact same error (i'm reached this page by googling)

Microsoft.AppXPackage.Targets (283): A numeric comparison was attempted on "10.0.11000.0" that evaluates to "10.0.11000.0" instead of a number, in condition "'$(TargetPlatformVersion)' >= '10.0.11000.0'"

the pr

[2016-06-28 11:21] rsudev commented on #1027
@yishaigalatzer Just a question: Where can I find the 'official' support statement? I searched nuget.org and the FAQ still refers to http://blog.nuget.org/20130426/native-support.html WRT to C++ support.

[2016-06-28 11:45] Lenny32 commented on #2988
With the beta version it is working but we are loosing the possibility to encrypt the password. Otherwise it is working well.

[2016-06-28 12:53] roalz commented on #2368
I wish I could just "close by design" my bugs in the face of my customers...
Wouldn't it be ok to replace relative paths with a macro/variable (i.e. NugetPackagesDir), and maybe set it the same as $(SolutionDir) by default?

[2016-06-28 16:21] MichaelSteinecke commented on #1056
@zhili1208 @yishaigalatzer
I've tested NuGet VS AddIn 3.4.4 now (and the one shipped with VS2015 SP2). It seems for me as the bug is still present. Is the fix not merged with the trunk, currently? Or is there a new issue resulting in the same behavior?

[2016-06-28 16:31] cdmihai opened #3055 "Nuget Debug verbosity should say where a package came from"
For debug purposes, it would be really useful if `restore -v Debug` said where a package came from.

Useful information for a package that would be nice to have:
- whether it came from a local cache or server and the actual package path in either case
- the address of the feed it used for that package
- which Nuget.configs it took into consideration

[2016-06-28 16:35] harikmenon commented on #1027
Our official [docs ](https://docs.nuget.org/consume/support-for-native-projects) which is essentially derived from the blog you referenced documents defines this,  We support the folder convention as defined in the blog post and the ability to invoke package manager UI on C++ projects. CoApp is a community project and not something that is actively supported by us.

[2016-06-28 16:38] yishaigalatzer commented on #3052
@davidfowl I think @gzak is referring to the packages.config scenario.

This is the intended design, it allows for a package author to create what we call a meta-package that brings in multiple dependencies with one reference.

The downside @gzak describes is real, but it is also rare. The design favors the common scenario over the rare one, and dropping the transitive nature of NuGet will cause m

[2016-06-28 16:42] yishaigalatzer commented on #3054
This is a bug.

Note to team: I'm not sure if we should spend time fixing it, given that we are planning to move away from project.json and into the msbuild file directly.

[2016-06-28 16:47] yishaigalatzer commented on #3051
@timdooling please provide a small repro project that illustrates your issue. NuGet does absolutely nothing with web.config or app.config during restore, and without a repro project we can't quite follow through the issue.

[2016-06-28 16:48] sigalsax opened #3056 "Restore Package Problem"
I am trying to build my solution. Upon building, I get a message that reads “this project references NuGet packages that are missing…” see picture below.

![72d70f2b567e493c83779c518e81e045](https://cloud.githubusercontent.com/assets/19418506/16424541/9795bbd2-3d2e-11e6-9ee3-7723f42b7778.png)

[2016-06-28 16:54] drewgillies commented on #2369
Closing, as this change now flows through to Dev15 consumables (VSIXes, signed VSIXes, packaging etc).

[2016-06-28 16:54] #2369 closed, assigned to drewgillies

[2016-06-28 16:54] drewgillies commented on #2392
Closing, as this change now flows through to Dev15 consumables (VSIXes, signed VSIXes, packaging etc).

[2016-06-28 16:54] #2392 closed, assigned to drewgillies

[2016-06-28 16:55] harikmenon commented on #3056
Please give us detailed repro steps and small repro project for us to reproduce this.

[2016-06-28 16:55] drewgillies commented on #2922
Complete.

[2016-06-28 16:55] #2922 closed, assigned to drewgillies

[2016-06-28 17:01] sigalsax commented on #3056
1. file --> open --> project/solutions
   window pops up already in folder "caffe-windows"
2. click "windows" folder --> windows folder opens and click Caffe with
   Visual Studios purple icon
3. Caffe file opens --> look at under solution explorer toolbar on the
   ride-hand side
4. right click on solution 'caffe' (1 project)
5. rebuild solution (second option)
6. upon rebuilding, the error messa

[2016-06-28 17:10] jainaashish commented on #3044
We looked through vs code as well as confirmed with them, there isn't seems to be a way to get VS batch start/ end state or events. So we will need to define our own events for batchStart and batchEnd which should work for a collective install/ uninstall packages irrespective of update, install, or restore operations.

[2016-06-28 17:18] MistyKuu commented on #3054
They are going away from project.json but still they plan to use project.json in another file like nuget.json for nuget packages and this functionality is must have in this case.

[2016-06-28 17:20] yishaigalatzer commented on #3054
Clarification : There is no "they" in this discussion. This is all done by the NuGet team.

The plan currently is not to go to a nuget.json, but go straight to msbuild. Of course plans are subject to change, and if we stay with project.json, this issue will get addressed.

[2016-06-28 17:24] MistyKuu commented on #3054
Sorry, I wasn't aware. So you are planning to move back to msbuild + packages.config?

[2016-06-28 17:35] yishaigalatzer commented on #3054
We plan to move the package references into msbuild directly. The mode of operation will be the same as project.json, but the items will be written into the csproj file directly.

e.g.

`<PackageReference id="foo" version="bar> />`

[2016-06-28 17:36] MistyKuu commented on #3054
Thanks for clarification mate :)

[2016-06-28 17:36] #3054 closed, assigned to nobody

[2016-06-28 17:37] timdooling commented on #3051
It does nothing with the web.config file or the app.config files.  I agree with you on that.  Both files are inappropriate for inclusion in a class library project and neither one is created by the Visual Studio template for such a project.

I did not indicate that Nuget was doing anything with the web.config file, and in fact, the file I use has nothing in it.  It merely exists in the project.

N

[2016-06-28 17:43] yishaigalatzer commented on #3051
@timdooling The best way to move this forward is to create a small project that shows the issue you are referring to. Upload it to bitbucket or github, and we can look at it from there.

The term "web-related" doesn't ring any bell, and is not a NuGet concept, so I really am having trouble understanding your issue.

[2016-06-28 17:46] yishaigalatzer commented on #3056
@sigalsax can you provide a small repro project? If anything in your project is proprietary please remove it.

[2016-06-28 17:48] sigalsax commented on #3056
it is just the caffe file.

Thanks,
Sigal

On Tue, Jun 28, 2016 at 1:47 PM, Yishai Galatzer notifications@github.com
wrote:

##

Best,
Sigal Sax

﻿
Microsoft Visual Studio Solution File, Format Version 12.00

# Visual Studio 2013

VisualStudioVersion = 12.0.40629.0
MinimumVisualStudioVersion = 10.0.40219.1
Project("{8BC9CEB8-8B4A-11D0-8D11-00A0C91BC942}") = "libcaffe", "libcaffe\libcaffe.vcxproj",

[2016-06-28 17:57] timdooling commented on #3051
web-related packages are:

Antlr3.Runtime, Kendo.Mvc, Microsoft.AspNet.Core, RazorEngine, Postal, Microsoft.Web.Infrastructure, Newtonsoft.Json, System.Net.Http, System.Net.Http.Formatting, WebGrease, System.Web.Razor, System.Web.Helpers, etc.

Nuget does seem to load the packages as listed in the packages.config file.  That list is:

[code]

However, the packages do not seem to be linked to the r

[2016-06-28 18:04] harikmenon commented on #2689
Quick update. We believe this is a VS IDE issue since it affects, NuGet and other extensions like Team Explorer. We are working with on identifying a repro.

 If you have active repro/machine configuration that we can take look at that would be awesome. We are unable to get an internal repro at this time.

[2016-06-28 18:35] drewgillies opened #3057 "Light up E2E tests for Dev15"

[2016-06-28 18:50] timdooling commented on #3056
You need to start with right-click on the solution and "Enable Nuget Restore".  Your solution lacks that, and if you are using a Nuget version prior to 2.7 that is going to be required.

That should help.

Otherwise, check if the packages are in the packages folder.  If they are, manually link to the lib portion of the respective package.

[2016-06-28 18:54] vancem opened #3058 "Nuget Hard Fails when package feed directory does not exist."
Currently if a add a directory as Nuget packageSource that does not exist, it hard fails with the exception

[code]

This should be a warning instead, allowing the package to be found if it can be in other package sources.

The current behavior interferes with the following (very reasonable) scenario.

We have builds that create nuget packages, and to allow these nuget packages to be used by other

[2016-06-28 19:33] hesantan commented on #1215
@zhili1208 My issues have been fixed. Thank you!

[2016-06-28 19:34] emgarten commented on #3058
`--ignore-failed-sources` gives the behavior you are suggesting.

Depending on a local folder that isn't created until later in the build is a very common scenario, NuGet's build does this also, however it's risky to ignore bad sources so the default behavior is to fail.

**Example:**
A project depends on packageA which has a dependency on packageB >= 2.0.0
Feed1 contains packageB 3.0.0
Feed2 cont

[2016-06-28 19:53] vancem commented on #3058
While the --ignore-failed-sources is an interesting option, I don't think it captures the proper tradeoff between determinism and failure robustness.    I don't know what the guidance would be for its use (when is it 'safe' to use given your concern?).

I do note that you can clearly distinguish between a clean 'directory not found' and any other error.   I agree that ignoring errors that may be t

[2016-06-28 21:07] #3046 closed, assigned to jainaashish

[2016-06-28 21:11] rrelyea commented on #3058
Vance-
You could consider doing a few "mkdirs" in your build script, which is what we do in the NuGet build script. We'll consider this feedback for the future.
Thx, Rob

[2016-06-28 21:11] timotei commented on #3050
Well, in the end we managed to get a post-NuGet pack step that denormalizes the version, to keep the previous behavior. So far it seems to work.

But this is not a very satisfactory solution :( I'd rather have NuGet not change things I specifically set in the nuspec.

[2016-06-28 21:19] rrelyea commented on #3056
@sigalsax - we would like to know how anybody in the world could reproduce this problem. start with file/new project.
File/open project assumes we have access to your project.

[2016-06-28 21:40] 304NotModified opened #3059 "One NuGet package for both ASP.NET Core & ASP.NET 4.5"
Is it possible to create 1 Nuget package which supports ASP.NET Core & ASP.NET 4.5?

If users uses NETSTANDARD, we know it's .NET Core and with NET40 we know it's ASP.NET 4.5

But how about NET451? It could be Core or non-Core.

[2016-06-28 22:00] emgarten commented on #3059
`net*` is non-core.
`netstandard*` and `netcoreapp*` are core.

[2016-06-28 22:07] sigalsax commented on #3056
Is there any way we can talk on the phone.

Best,
Sigal

‫ב-28 ביוני 2016, בשעה 17:19, ‏‏Rob Relyea ‏<notifications@github.com> כתב/ה:‬

[2016-06-28 22:20] dcby commented on #2793
Same issue on centos. I believe all *nix systems are affected. Did not check on windows yet. Any reason to not use user specific directory (i.e. inside `~/.nuget`)?

[2016-06-28 22:23] 304NotModified commented on #3059
But you can run asp.net core on the full framework?

https://docs.asp.net/en/latest/intro.html

[2016-06-28 22:44] vancem commented on #3058
Indeed, I can work around it.   It seems like it will be a recurring problem however.

[2016-06-28 22:59] joelverhagen commented on #2998
@yishaigalatzer, by this you mean having the corefx packages stamped with min client version matching the release this change coincides with, correct? As it looks today, that would be min client version of 2.13 as 2.12 has already shipped without this change.

[2016-06-29 00:16] CheloXL opened #3060 "nuget pack of xproj is defaulting to invalid target path"
Using nuget.exe 3.5 beta 2.
On a simple .NETCore I run nuget spec, build the project, nuget pack, and I get
`Attempting to build package from 'Disposable.xproj'.
MSBuild auto-detection: using msbuild version '14.0' from 'C:\Program Files (x86)\MSBuild\14.0\bin'.
Unable to find '.\bin\Disposable\bin\Debug\'. Make sure the project has been built.`

The path where the binaries are is 'bin\Release\net

[2016-06-29 00:23] gopokyo-colinn commented on #3028
Hi everyone.  Been wrestling with trying to build a library of common classes for use in a UWP project and a .Net Core (ASP).

I can't seem to figure this out on my own.  I can get my portable library to compile using dotnet - but I can see and classes in the .Net Core web app.

If I switch to netstandard I can reference the library in UWP.

Is there a solution to my problem, or should I just reso

[2016-06-29 02:47] v-sojian opened #3061 "Error when "Install-Package jquery.validation" on dev15"
Nuget: 3.5.0.1544 on dev15
Repro Steps:
1.  Click File -> Visual C# ->Office/SharePoint ->SharePoint Add-in ->click ok
2.  Enter the SharePoint site and select Provider and click next. Then select SharePoint Online click finish.
3.  Start Package Manager Console and type " install-package jquery.validation" then meet the error, as the picture  shows.
![3](https://cloud.githubusercontent.com/assets

[2016-06-29 03:28] davidfowl commented on #3052
Ah with `packages.config` there's no real way around this...

[2016-06-29 03:54] iskiselev commented on #1320
With NuGet 3.5.0 from  .NET Core for Visual Studio, I'm still unable to build csproj that reference xproj. It is able to add project reference now, it even show correct dll pah in properties, but it doesn't pass this dll to c# compiler in csproj build.

[2016-06-29 06:22] Kanimozhi12 opened #3062 "How to install NuGet programmatically to a website project?"
HI,

I need to install NuGet Programmatically to my ASPNET WEbsite project. I  canot use the following code since Website project doesn't have project file.

`installer.InstallPackage(nugetLocation, project, packagename, id, false);`

How to install NuGet by code on Website project?

Is there any ways to achieve the below command line by means of code

nuget install packages.config

[2016-06-29 06:39] qbikez commented on #2403
Why the requirement that `globalPackagesFolder` should be relative to the solution directory? This seems counter-intuitive to me and differs from `repositoryPath` behavior. When running `restore` from commandline, the global packages folder will be different depending on current working directory.

[2016-06-29 07:48] ravedata commented on #1883
Install-Package : Could not install package 'Microsoft.Spatial 6.15.0'. You are trying to install this package into a project that targ
ets '.NETFramework,Version=v4.5', but the package does not contain any assembly references that are compatible with that framework. For
 more information, contact the package author.
At line:1 char:16

getting this error while installing Microsoft.Odata.Client. I

[2016-06-29 07:55] ravedata opened #3063 "Package Installation failure : Microsoft.Odata.Spatial"
Hi,

While installing Microsoft.Odata.Client and consequently their dependencies, I got below error.

Install-Package : Could not install package 'Microsoft.Spatial 6.15.0'. You are trying to install this package into a project that targ
ets '.NETFramework,Version=v4.5', but the package does not contain any assembly references that are compatible with that framework. For
more information, contact

[2016-06-29 08:17] edvowles commented on #2836
Any luck with this? I'm also having this problem.

This fix doesn't seem to work for me: http://stackoverflow.com/questions/12638289/embedding-powershell-v2-0-in-net-app-on-windows-8-rtm

[2016-06-29 10:58] xied75 commented on #1523
Is this related to the fact that currently the nuget.exe doesn't install any content or modify files to a VS project? If not anyone can show me which issue is the correct one? Thanks a lot.

BTW, should NuGet repos in whole have a Gitter room?

[2016-06-29 15:16] sigalsax commented on #3056
I have not tried anything but the caffe project. The caffe project is a download from online.
Can you maybe give me a file to download and I'll try to see if the problem continues?

Best,
Sigal

‫ב-28 ביוני 2016, בשעה 17:19, ‏‏Rob Relyea ‏<notifications@github.com> כתב/ה:‬

[2016-06-29 15:22] ghost commented on #2630
I'm having this issue suddenly as well with CompareNETObjects version 3.05.0.0 ... any workaround for the time being?

[2016-06-29 15:23] yishaigalatzer commented on #3056
Send us a link to the project and the steps you took to open it

Cheers,
Yishai

On Wed, Jun 29, 2016 at 8:17 AM -0700, "sigalsax" <notifications@github.com<mailto:notifications@github.com>> wrote:

I have not tried anything but the caffe project. The caffe project is a download from online.
Can you maybe give me a file to download and I'll try to see if the problem continues?

Best,
Sigal

??-28

[2016-06-29 15:28] magmax commented on #2630
Look for the 3.5.0.0 directory in the cache and rename it to 3.05.0.0. It will start to work suddenly.

[2016-06-29 15:33] ghost commented on #2630
Thanks that worked!

[2016-06-29 15:33] sigalsax commented on #3056
1. file --> open --> project/solutions
   window pops up already in folder "caffe-windows"
2. click "windows" folder --> windows folder opens and click Caffe with
   Visual Studios purple icon
3. Caffe file opens --> look at under solution explorer toolbar on the
   ride-hand side
4. right click on solution 'caffe' (1 project)
5. rebuild solution (second option)

On Wed, Jun 29, 2016 at 11:23 AM,

[2016-06-29 15:47] timdooling commented on #3051
The steps to create and replicate the problem are:
1.  Create a new visual studio class library project with the git repository option selected.  You may have to use the "Enable package restore" and check the boxes in the Options section.
2.  Add postal.mvc5 to it as well as web api 2.x..  Also, add DocumentFormat.OpenXml to the project.
3.  Make sure references to the binary objects in the packag

[2016-06-29 15:48] Becklighter commented on #2926
I am having the exact same problem. The version of NuGet Package Manager I have is 3.4.3, in VS 2015.
I also have NuGet Package Manager 2.8.50926.663 for VS 2013 and it can view all of the packages.

My version of Nuget.exe is 2.8.60717.93

Update:
I just updated my Nuget.exe to version 3.4.4.1321, and I get the same result.
VS 2013 with Package Manager 2.8.50926.663 works.
VS 2015 with Package Ma

[2016-06-29 15:55] yishaigalatzer commented on #3051
Step 3 doesn't make any sense. Why would you do that?

Cheers,
Yishai

On Wed, Jun 29, 2016 at 8:47 AM -0700, "timdooling" <notifications@github.com<mailto:notifications@github.com>> wrote:

The steps to create and replicate the problem are:
1.  Create a new visual studio class library project with the git repository option selected. You may have to use the "Enable package restore" and check the b

[2016-06-29 16:06] harikmenon commented on #1523
We have an open issue on enabling Gitter https://github.com/NuGet/Home/issues/2762. We are holding off on creating a room for a while given the challenges we mentioned in the issue, we are still open to starting in a gitter room down the line.

In the project.json world, NuGet does not add content or modify files in a VS project. NuGet 3.+ working on packages.config projects still can modify and a

[2016-06-29 16:18] timdooling commented on #3051
To replicate the problem.  Actually, if you use package manager dialogue or the package manager console to add the .ddl's, it is probably done automatically.

The point is, references to the packages must be in the references section for the failure mode to be observed.

If you would feel better, change #3 to "Make sure references to the binary objects in the packages are in the references section

[2016-06-29 16:20] xied75 commented on #1523
@harikmenon Thanks for the reply. I'll wait patiently then.

Regarding contents, I'm a bit confused. I just did a test with these:
Visual Studio Community 2015 Update 3,
Create an empty ASP.NET project, (by default targets 4.6.1, with packages.config, not using project.json)

Go to cmd and run (NuGet Version: 3.4.4.1321): nuget install nuget.server
this should fetch in other dependencies and add c

[2016-06-29 16:23] harikmenon commented on #1523
You need to use the Package manager console or the VS UI to modify project files and such.  nuget.exe is not meant to be used in that since. From our FAQ

https://docs.nuget.org/consume/nuget-faq

"Keep in mind that the focus of NuGet is to let you modify your projects and add references to Visual Studio projects. The command line tool, NuGet.exe, will download and unpack packages, but it won't au