[2020-10-15 14:23] #9161 closed, assigned to dominoFire

[2020-10-15 14:58] Redth opened #10127 "Improve multitargeted project support for managing NuGet packages"
As Xamarin joins .NET 6, one of the efforts we are focusing on is a single project experience which leans heavily on multitargeting support in SDK style projects.  One of the scenarios we have been looking at is the NuGet package management experience for these projects.  There is opportunity to improve the experience, especially with the visual package manager in the IDE's.

Today in the Xamarin

[2020-10-15 15:28] rrelyea commented on #10116
Added in 5.9/16.9 a few changes as part of the async image loading..

1) handle many exception types during Decoding... (just realized the method name was bad..)
PackageItemListViewModel.cs::584
        private static bool IsHandleableBitmapEncodingException(Exception ex)
        {
            return ex is ArgumentException ||
                ex is COMException ||
                ex is FileFormatE

[2020-10-15 15:28] #10116 closed, assigned to zivkan

[2020-10-15 15:57] donnie-msft opened #10128 "`Unable to resolve dependencies` now shows full stack track in Error List & Output Window"
Updating the same set of packages in PMUI, I see a difference in behavior in the output window. Did we intentionally append the stack trace to the output window?
/cc @srdjanjovcic & @erdembayar who I believe may have worked in this space.

### VS 16.7.5

### VS 16.9.0 Preview 1
![image](https://user-images.githubusercontent.com/49205731/96209978-eb991800-0f3e-11eb-8b33-2e2d466cf71d.png)
![image](h

[2020-10-15 16:21] donnie-msft commented on #9882
I believe this is a dupe of https://developercommunity.visualstudio.com/content/problem/1116050/manage-nuget-packages-for-solution-object-referenc.html

I'm pretty sure I broke this here https://github.com/NuGet/NuGet.Client/commit/218880ef0274a8de5223509eddb9c4dcc4948690#diff-80991ce1edef4f242608751b70dd2d48dad8e24a28dbefd2b68a3a7784a12f21R1486

I can't repro right now, either from scratch or fro

[2020-10-15 17:00] cristinamanum commented on #9508
After performance improvements the performance improved from 65% to 28%.
|  Run Id | Is CPVM  | Seconds   |  Percent Degradation |
|---|---|---|---|---|
| 5.8.0.6864 | Yes | 73.404 | **65.9** |
| 5.8.0.6864  | No | 44.225 |  |
| 5.9.0.6886  | Yes | 55.950 | **28.8**  |
| 5.9.0.6886  | No | 43.429  |   |

Issue https://github.com/NuGet/Home/issues/10077 tracks more possible improvements.

[2020-10-15 17:00] #9508 closed, assigned to cristinamanum

[2020-10-15 17:34] dominoFire commented on #10120
I think so. I created/transferred the issue to https://github.com/dotnet/project-system/issues/6686

[2020-10-15 17:34] #10120 closed, assigned to dominoFire

[2020-10-15 17:45] erikpaulmiller commented on #7296
I have the latest version and this is happening for me running nuget pack in ubuntu.  Can we reopen?

[2020-10-15 17:49] aortiz-msft commented on #7296
@erikpaulmiller Thank you for reporting back. Would you please add the following information which is currently missing in the template:

NuGet version (x.x.x.xxx):
OS version: Ubuntu x.x.x.x

[2020-10-15 17:59] Redth opened #10129 "Improve packaging of misc assets and additional MSBuild logic"
Since the inception of the NuGet package format, packages have become useful vehicles for delivering more asset types and content than the original spec must have intended.  As the boundaries of what the package format is capable of are tested, it would be helpful to have additional documentation around best practices for unforeseen scenarios in practice today, as well as additional capabilities t

[2020-10-15 18:08] erikpaulmiller commented on #7296
@aortiz-msft
NuGet Version: 2.8.7.0

Distributor ID: Ubuntu
Description:    Ubuntu 20.04 LTS
Release:        20.04
Codename:       focal

[2020-10-15 18:11] donnie-msft commented on #9882
Found a fairly consistent way to get a repro... go to Updates Tab, click Refresh, quickly press `Select all packages` and `Update`.

[2020-10-15 18:28] rconard commented on #10126
@marcin-krystianc, thank you for sharing your feedback on CPVM's restore and pack.

Your issue is closely related to #10115. Could you take a look at that issue?

We would appreciate your giving feedback on that issue. If you are okay, I will merge these issues.

[2020-10-15 18:37] donnie-msft commented on #9882
Related: https://github.com/NuGet/Home/issues/9804

[2020-10-15 19:00] donnie-msft commented on #10124
Putting this back on our side.
 Roslyn's [PackageInstallerServiceFactory.ShowManagePackagesDialog](https://github.com/dotnet/roslyn/blob/9f82a08241f46854e2a1ccb0c3f40195a2c7a70b/src/VisualStudio/Core/Def/Packaging/PackageInstallerServiceFactory.cs#L659) calls [IVsSearchProvider.CreateSearch](https://github.com/dotnet/roslyn/blob/9f82a08241f46854e2a1ccb0c3f40195a2c7a70b/src/VisualStudio/Core/Def/Pa

[2020-10-15 21:38] donnie-msft commented on #9639
Let's refactor all our converters to utilize the VS PlatformUI converter instead:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualstudio.platformui.booleantocustomvisibilityconverter?view=visualstudiosdk-2019

[2020-10-15 21:39] Ian1971 commented on #9882
I have one additional private nuget package source

[2020-10-15 21:45] nkolev92 commented on #6891
Duplicate of https://github.com/NuGet/Home/issues/1234.

[2020-10-15 21:45] #6891 closed, assigned to nobody

[2020-10-15 22:01] donnie-msft opened #10130 "Replace URL hyperlinks with HyperlinkButton controls"
Throughout PMUI, we should be using the built-in [HyperlinkButton ](https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualstudio.platformui.hyperlinkbutton?view=visualstudiosdk-2019) for any hyperlink which opens a URL.

Note: Any hyperlinks that don't actually open a URL should not be HyperlinkButtons. It's fine if they "look" like hyperlinks via a Style.

Example hyperlink to refactor:
htt

[2020-10-15 22:03] #10034 closed, assigned to dtivel

[2020-10-15 22:32] dominoFire commented on #4604
Root cause: localized files are not copied correctly.

[2020-10-16 00:21] aortiz-msft commented on #9908
Added to our playbook for Release Notes creation.

[2020-10-16 00:21] #9908 closed, assigned to aortiz-msft

[2020-10-16 00:25] cristinamanum opened #10132 "[CPVM] Disable pinning of the central transitive dependencies"
## Details about Problem

Per request  from internal and external customers, disable the enforcing/pinning of package versions for transitive dependencies defined in the CentralManagement file.

[2020-10-16 00:30] cristinamanum opened #10133 "[CPVM] Transitive dependency pinning"
## Details about Problem

Determine if transitive pinning is a desired scenario for central package version management.

[2020-10-16 00:30] aortiz-msft commented on #7994
@JonDouglas - Could you please help with this one?

[2020-10-16 00:31] cristinamanum commented on #10133
Related with https://github.com/NuGet/Home/issues/10115

[2020-10-16 01:30] JonDouglas commented on #7994
@KexyBiscuit You can find information about NuGet's servicing here:

https://docs.microsoft.com/en-us/visualstudio/releases/2019/servicing#components-not-covered-by-visual-studio-servicing

In other words, the supported version is the latest version that is currently available [here.](https://www.nuget.org/downloads)

If you use NuGet through the .NET CLI, you would instead follow this support pol

[2020-10-16 01:30] #7994 closed, assigned to JonDouglas

[2020-10-16 02:54] xuhongxu96 opened #10134 "nuget restore packages.config won't end and blocks the Azure Pipeline for more than 1hr"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): `NuGet.exe`

NuGet version (x.x.x.xxx): `5.7.0 x64 (https://dist.nuget.org/win-x86-commandline/v5.7.0/nuget.exe)`

dotnet.exe --version (if appropriate): `dotnet sdk 3.1.402`

VS version (if appropriate): `2019`

OS version (i.e. win10 v1607 (14393.321)): `Windows Server 2019 10.0.17763 Datacen

[2020-10-16 03:36] donnie-msft commented on #10128
@dtivel any thoughts off-hand if this may be resolved by https://github.com/NuGet/NuGet.Client/pull/3711 ?

[2020-10-16 03:41] dtivel commented on #10128
@donnie-msft, yes, this issue is resolved by that fix.

[2020-10-16 03:45] donnie-msft commented on #10128
Closing as Fixed by https://github.com/NuGet/NuGet.Client/pull/3711

[2020-10-16 03:45] #10128 closed, assigned to nobody

[2020-10-16 06:40] marcin-krystianc commented on #10115
I also think that it is better to make the "No Transitive Pinning" behaviour to be the default one. It is exactly as @kevinchalet said, the default behaviour should be consistent with how `PackageReference` has worked for years. The idea for implementing the the opt-in for "Transitive Pinning" with a property like `<EnableTransitivePinning>true</EnableTransitivePinning>` also sounds good to me.

[2020-10-16 08:14] marcin-krystianc commented on #10126
@rconard  I see how these two issues are related but I think it is better to keep them separate.
My concern in this issue is only about how the version downgrade errors are being reported when the "transitive pinning" behaviour is enabled (regardless of whether it is the default or opt-in behaviour).

As I said in the previous comment, there are two problems with these error messages:
- It is goin

[2020-10-16 13:51] ite-klass commented on #10119
I understand and was able to work around the original issue now. Although my project is not buildable with the workaround I can work without the workaround for now (and ignore the produced obj folders). (I will try to fix that some time in the future, and also try to convert them to sdk projects.)

So the original issue reported here is resolved. From my side this ticket can be closed as such.

[2020-10-16 13:52] kartheekp-ms commented on #10006
I have noticed below entry from the `ActivityLog` in this [vsfeedback](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1230750) ticket.
[code]

[2020-10-16 16:35] jonathanpeppers commented on #10127
One comment, is that in multi-targeted .NET 6 projects, pure MSBuild might look like:

[code]
This will likely cause problems in the IDE, I'll test this when we get there.

If the IDE was to add a dropdown or checkbox for the platform of each NuGet pacakge, it might be easier for some new item metadata to be created:

[code]

I don't work on the IDE, though; someone else might know better.

I don'

[2020-10-16 16:39] jonathanpeppers commented on #10129
For the moment, we are relying on all `Foo.aar` files to reside next to `Foo.dll`. So that would be whichever directory the .NET assembly is in:

Here is a spec for this: https://github.com/xamarin/xamarin-android/blob/c81435813751eb9b77f11620513fd4d048b8e209/Documentation/proposals/OneDotNetEmbeddedResources.md

[2020-10-16 16:44] cristinamanum commented on #10077
Investigations attached.
[Docs.zip](https://github.com/NuGet/Home/files/5393098/Docs.zip)

This issue is linked with https://github.com/NuGet/Home/issues/10133.

[2020-10-16 16:44] #10077 closed, assigned to cristinamanum

[2020-10-16 17:19] nkolev92 commented on #10119
Thanks for following up.

[2020-10-16 17:19] #10119 closed, assigned to nobody

[2020-10-16 17:31] ardalis commented on #5764
Still running into this with .NET RC2:

error NU1603: Microsoft.VisualStudio.Web.CodeGeneration.Templating 5.0.0-rc.2.20473.1 depends on Microsoft.AspNetCore.Razor.Language (>= 5.0.0-rc.2.20466.1) but Microsoft.AspNetCore.Razor.Language 5.0.0-rc.2.20466.1 was not found. An approximate best match of Microsoft.AspNetCore.Razor.Language 5.0.0-rc.2.20475.17 was resolved.

 error NU1603: Microsoft.Visu

[2020-10-16 17:41] kartheekp-ms commented on #10134
@xuhongxu96 - Sorry that you are experiencing random failures on CI during `nuget restore`. Can you please try to reproduce this issue locally?

[2020-10-16 17:52] anangaur commented on #5764
/cc: @JonDouglas

[2020-10-16 18:50] zcsizmadia opened #10138 "Unsupported floating NuGet version: 1.0.0+*"
### For issues regarding the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), file a bug on [NuGet Home](https://github.com/nuget/home/issues).

### Describe the bug
Based on SemVer 2.0.0 (semver.org), \<major\> "." \<minor\> "." \<patch\> "+" \<build\> is a valid version string. When I try to use wildchar on the build number with <PackageReference> e.g. `1.0.0+

[2020-10-16 19:25] mattleibow commented on #5788
I think 4K packages disagree with this: https://github.com/search?q=AllowedOutputExtensionsInPackageBuildOutputFolder&type=code

Also, how is this to work from a CLI perspective? Will the app know how to download symbols? Maybe I am building a MSBuild task?

[2020-10-16 19:29] kartheekp-ms commented on #10134
How about restoring packages using [`NuGet restore task`](https://docs.microsoft.com/en-us/azure/devops/pipelines/packages/nuget-restore?view=azure-devops) in Azure DevOps?

[2020-10-16 20:02] erdembayar commented on #10091
@nkolev92 I did debugging and discovered one no-Op check condition was preventing re-run `init.ps1`.

[2020-10-16 20:24] nkolev92 commented on #10091
You should leave a code pointer to make it easier for the implementer if this becomes a high priority.

I imagine you can repro the above by just downgrading to 6.1, is that correct?
We might need to retitle the issue.

[2020-10-16 20:33] #10097 closed, assigned to zkat

[2020-10-16 22:42] vatsan-madhavan opened #10135 "Generating MSBuild Binary log from nuget restore command"
How can I generate MSBuild Binary log from nuget client commands like restore ?

`nuget restore` resolves into something like `msbuild.exe "%temp%\NuGetScratch\ro0d0kct.z0t.nugetinputs.targets" /t:GenerateRestoreGraphFile /nologo /nr:false /v:q /p:NuGetRestoreTargets="%temp%\NuGetScratch\w3s4ivaf.f43.nugetrestore.targets" /p:RestoreUseCustomAfterTargets="True" /p:RestoreTaskAssemblyFile="<path to

[2020-10-16 23:12] nkolev92 commented on #10135
Hey @vatsan-madhavan,
NuGet.exe restore just uses MSBuild to read the projects, the restore is actually run in the NuGet.exe process.

Either way, yo get a binlog from that msbuild part, you can use an env var:

See details here: https://docs.microsoft.com/en-us/nuget/reference/cli-reference/cli-ref-environment-variables:

`NUGET_RESTORE_MSBUILD_ARGS` is the thing you are looking for.

[2020-10-16 23:46] vatsan-madhavan commented on #10135
Thanks!

Can NuGet itself generate its own logs that are compatible with msbuild binary log format? Or is that not possible?

[2020-10-17 01:11] erdembayar commented on #9955
@nkolev92  and I discussed then decided to close this one. Because some cases it makes bit worse and improvement was very negligible.
https://github.com/NuGet/NuGet.Client/pull/3646#issuecomment-710716627
https://github.com/NuGet/NuGet.Client/pull/3646#issuecomment-710687751

[2020-10-17 01:11] #9955 closed, assigned to erdembayar

[2020-10-17 01:13] davkean commented on #10006
You can see that PostOnFailure blindly logs all exceptions to both telemetry and ActivityLog: http://index/?query=RefreshInstalledAndUpdatesTabs&rightProject=NuGet.VisualStudio.Common&file=Telemetry%5CJoinableTaskExtensions.cs&line=16.

You need to handle OperationCanceledException, but it shouldn't probably be reported to telemetry or ActivityLog.

[2020-10-17 13:52] zivkan commented on #10006
Looking at our fault telemetry, 90% of all reported faults are `TaskCanceledException`, and an additional 8% are `OperationCancelledException`.

I'm not convinced that we can safely ignore all of these exceptions. Since `HttpClient` request timeouts throw these exceptions, and NuGet does a lot of HTTP. I think there's probably code paths where NuGet is in some error state where we should be showin

[2020-10-17 13:56] zivkan commented on #10135
@vatsan-madhavan if you use msbuild restore instead of nuget.exe restore, `msbuild -t:restore -bl`, that's another way to you can get a binlog. In fact, if you don't have any projects packages.config, I'd highly recommend this instead of nuget.exe.

However, just like nuget.exe restore, the msbuild execution is just to collect project information. All the restore logic (calculating dependency grap

[2020-10-17 13:58] ModernRonin commented on #9786
I can confirm this goes away with net5-rc2.

[2020-10-17 17:39] Rick-Anderson opened #10136 "New feature: floating versions (wildcarding) with PMC installing NuGet packages"
We’d like to use CLI style wildcards in Program Manager Console (PMC) to install NuGet packages.

For the CLI, we use the following to get the latest version:

dotnet add package Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore -v 5.0.0-*

For VS, the PMC is the preferred mechanism, but it doesn’t accept CLI style wild-cards

PM> Install-Package Microsoft.AspNetCore.Diagnostics.EntityFramework

[2020-10-17 21:37] davkean commented on #10006
What are you going to do differently based on the fact that your web requests are timing out? If nothing, then there's no point reporting it. We report faults to telemetry with the intention of fixing them if they are reported.

[2020-10-18 01:45] glopesdev opened #10137 "Include search term ranking in IPackageSearchMetadata"
Aggregation of results across multiple package sources in the client side relies on correct ranking of packages by relevance to the specified search term.

Including the package ranking in the search metadata response would make it much easier to implement query aggregators and drastically reduce the complexity on the client side.

Currently clients are left to replicate the same search tokenizati

[2020-10-18 03:25] AArnott commented on #10115
I think transitive pinning would make the most sense for the reason given in the description. But I have no objection to it being an optional behavior. My preference would be to make transitive pinning be on by default.

[2020-10-18 07:21] LazZiya commented on #6579
@Denis535 I like the idea, but after saving the .csproj file I see many repeated errors in Package Manager output window, even if the pacakge is created successfuly.

[code]

Those errors are not showing with standard naming like:
[code]

[2020-10-18 08:16] mfkl commented on #4980
Thanks for your message.

I hear you. Did another test with Xamarin.Forms.

[code]

Running the perf test with
[code]

Built NuGet with
[code]

My branch: https://github.com/mfkl/NuGet.Client/tree/cache-expiration (rebased on current `dev` as of this writing).

Running from admin PS shell (non-admin seemed to fail to access some dotnet runtime resources, might have been skewing the results) and Re

[2020-10-18 13:41] hoborm commented on #8127
Hi,
I've experienced similar symptoms as mentioned in the original issue.
Let me link you my comment on azure-pipelines-agent. https://github.com/microsoft/azure-pipelines-agent/issues/2356#issuecomment-703588586

The common factor in our problem was always that NuGet.exe was run from a host process which was a service. I think it should be case easy enough to replicate. (crossing out cake and TFS

[2020-10-18 18:16] batilak commented on #9320
What do you mean by recreated pipeline, can you please elaborate, I am facing same issue.

I moved from pkg.config ro pkg reference and now I have Newtonsoft.json downloaed in global space but build fails with missing assembly.

[2020-10-18 18:22] NPadrutt commented on #9320
I recreated the teamcity pipeline which had the problem.

[2020-10-19 00:38] kartheekp-ms commented on #8693
@RajuVCh - Can you please provide feedback to above comments?

[2020-10-19 00:47] kartheekp-ms commented on #8700
@mdzeko - Did you get a chance to check if your scenario worked if the PAT is configured in the local config? Please let us know your feedback.

[2020-10-19 02:02] xuhongxu96 commented on #10134
It hasn't failed locally yet.
Local build is much less frequent than CI and CI doesn't have nuget cache. I think it's really hard to repro locally. But I will keep trying.

I'm also trying built-in task and I need some days to watch its behavior. Will give feedbacks later. Thanks for advice!

[2020-10-19 04:18] kartheekp-ms commented on #8775
@jogibear9988 - Please address above comment and explain the scenarios that are not working for you.

[2020-10-19 04:22] kartheekp-ms commented on #8786
@PvdWaltDevRoc - Please provide feedback to [above comment](https://github.com/NuGet/Home/issues/8786#issuecomment-632462320)

[2020-10-19 04:26] StingyJack commented on #6579
Making a package every time you build the project is a waste of time for non-trivial packages. You also lose the ability to update the nuspec and try rebuilding the package without having to wait for the whole project to rebuild. Having the things separate means at most an `Alt+Tab, Up-Arrow, Enter` when you need to build, then pack. Not having them together means waiting for things that take long

[2020-10-19 04:27] kartheekp-ms commented on #8957
@PawcioCNCProfi - Are you still blocked on any of these questions?

[2020-10-19 04:52] kartheekp-ms commented on #9222
@KeltarHelviett - Please let us know your feedback regarding [above suggestion](https://github.com/NuGet/Home/issues/9222#issuecomment-653131633) to consider using `dotnet.exe`

[2020-10-19 04:56] kartheekp-ms commented on #9462
@ghost1372 - Please provide us repro steps and a sample project (if possible) so that we can understand the issue better and prioritize accordingly.

[2020-10-19 05:40] kzu commented on #9384
This is currently the behavior on .NET5 RC2 and it's quite puzzling.

Why would this be an error? I'd love to learn more about the reasoning behind this design.

Thanks!

[2020-10-19 06:05] nkolev92 commented on #10121
I think this is a very valid concern, it's unfortunate that our public API affects our performance considerations.
However, given that this is mentioning a `potential` problem where inaction leads to no problems, I'm not sure I see much value in keeping this open.

What do you think?

[2020-10-19 06:07] nkolev92 commented on #9986
Lowering the estimate again.

[2020-10-19 06:09] nkolev92 commented on #8738
Unassigning myself.

Given that this has the potential to cause deadlocks in certain cases, I don't think this is necessarily a slam dunk change in every situation.

[2020-10-19 07:31] helviett commented on #9222
We're using Xamarin.Mac 2.0.

[2020-10-19 08:34] fubar-coder commented on #4989
Yes

[2020-10-19 09:03] davkean commented on #4989
No, this cannot be used to alias different versions of the same package that has the same identifier. This is entirely used to alias assemblies within a package.

[2020-10-19 09:19] tmds opened #10139 "NuGet.Client build.sh is broken"
`./build.sh` fails when trying to install .NET Core 1.1:
[code]

[2020-10-19 15:17] dtivel opened #10140 "VS OE: near-duplicate Error List entries"
In VS OE scenarios only, near-duplicate Error List entries may display with only file paths differing.  This is not a regression from https://github.com/NuGet/NuGet.Client/commit/1f51ec51421a255c7fb83f362ee23839c0a5f631.

In general (VS OE and non-VS OE) and for a single [`ITableDataSink`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualstudio.shell.tablemanager.itabledatasink?view=vis

[2020-10-19 17:01] cristinamanum commented on #9384
Hello @kzu, there were two reasons for which we choose to implement this behavior:
1.	The version defined at the central versions will be used for direct resolution and transitive resolution. The floating version resolution is the highest on the server in the rest of the cases is the min version in the specified range. A floating version for direct package dependency in a project P1, may lead to w

[2020-10-19 17:19] #9234 closed, assigned to nugetlurker

[2020-10-19 17:25] dtivel opened #10141 "VS OE: cache IServiceBroker instance on client"
The VS OE work has established a pattern whereby obtaining an `IServiceBroker` instance occurs in every method scope where NuGet VS OE service calls are made ([example](https://github.com/NuGet/NuGet.Client/blob/d6dc0502b45cee9857187f26f3b05860e13256d4/src/NuGet.Clients/NuGet.VisualStudio.Internal.Contracts/ProjectContextInfo.cs#L63)).  In basic PM UI scenarios where these service methods are call

[2020-10-19 17:33] #10083 closed, assigned to donnie-msft

[2020-10-19 17:46] rconard commented on #9384
@kzu & @batzen,

Just to make sure that we are using the same terminology -

## Floating Versions:
[code]

## [Version Ranges](https://docs.microsoft.com/en-us/nuget/concepts/package-versioning#version-ranges):
[code]

Are you referring to both "Floating Versions" and "Version Ranges" or just to "Floating Versions" with the `*` notation?

[2020-10-19 17:50] erdembayar opened #10142 "Implementation - Add new telemetries to track events related to PMC and Powershell usage."
Child of https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1167790.

Recently decided not to act on decrease PMC usage issue. We suspect it's highly unlikely problem to happen.
This one is for actual implementation for adding telemetry to Nuget.Client according to spec from [Issue#10069](https://github.com/NuGet/Home/issues/10069).

[2020-10-19 17:51] rrelyea opened #10143 "Package Manager Output window steals focus from build output"
From: https://devdiv.visualstudio.com/DevDiv/_queries/edit/1216649

1. Create new codespace
2. Target https://github.com/dotnet-architecture/eShopOnWeb
2.5 -- open the solution
3. F5 Run app to see things run for the first time
4. Wait

Result
Build starts
long period of nothing showing up in output window and then package manager window switches the output page from build to package manager

Expe

[2020-10-19 17:56] rrelyea opened #10144 "[Nexus] Packages.Config projects don't work in Codespaces yet (C++ and more) - investigate"
From: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1192931

From C++ team: Currently and for 16.9 both CMake and vcxproj for console/library applications are supported in Windows Codespaces

[2020-10-19 18:00] donnie-msft opened #10145 "Details Pane needs to reselect appropriate package"
The right-side Details pane traditionally preserved the selected package, if shown in the newly selected Tab (otherwise, it was cleared).

Some customers prefer tab-specific selection, and others prefer it to persist across all tabs.....

I will timebox this work such that, at a minimum, the behavior doesn't change significantly.
If time permits, and data and PM team supports it, I'll work in tab-

[2020-10-19 18:04] srdjanjovcic opened #10146 "Prepare demo of NuGet RPS tests and obtained results"

[2020-10-19 18:08] donnie-msft opened #10147 "Refresh button should work in new tabbing paradigm"
Make sure that the Refresh button works correctly now that it's using a backing data collection to bind to the packages list.
~See https://github.com/NuGet/Home/issues/10155 for whether refresh should apply globally.~

Goals are:

1. Ensure the UI cannot enter an invalid state while a refresh is in-progress (eg, quickly switching tabs)
OR,  Allow the collection to continue loading when moving to a

[2020-10-19 18:29] donnie-msft opened #10148 "Store the search terms on each tab independently & Installed data is searched in UI"
Each tab technically has it's own "job to be done" from the user perspective, and the search terms should remain specific to each tab. The refactoring into 2 lists means I either need to apply search terms across lists, or we change behavior to independent tab-search terms.

Example: Searching "Newtonsoft" on Browse only affects Browse packages.
Then switching to Updates, the search term is cleare

[2020-10-19 18:37] donnie-msft opened #10149 "Browse Tab search terms can be filtered in UI prior to querying sources"
A continuation of https://github.com/nuget/home/issues/10148

Browse Tab often has results already loaded for terms that are searched. These should be shown first, then sources can be queried to append further packages to the list.

1. Filter immediately what is already here (the recommended packages and/or nuget.org default packages)
2. Always start a new query with the search term to append even

[2020-10-19 18:45] donnie-msft opened #10150 "Loading Status Indicator refactoring for new tab lists paradigm"
The Loading Status indicator was tied directly to the InfiniteScrollList ~, which now has 2 ListBoxes to improve perf.~

~I need to create 2 independent indicators to go along with that. I'm refactoring this code a bit to pull it away from the InfiniteScrollList, and reduce the dependency there.~

Treat the indicator as a Control, rather than a list item.

[2020-10-19 18:50] rrelyea commented on #10008
Moving to @sbanni as he is working on an event based approach to address.

[2020-10-19 18:54] dtivel commented on #10140
Possibly addressed by https://github.com/NuGet/Home/issues/10088

[2020-10-19 19:17] nkolev92 commented on #4715
Given that it's difficult to estimate the impact of this potential problem & we haven't heard about a lot of problems where the resolver has failed, I think we're better off focusing on well understood scenarios.

Closing this.

[2020-10-19 19:17] #4715 closed, assigned to nobody

[2020-10-19 19:54] rrelyea opened #10151 "INuGetPackageFileService - Fetch Images and embedded licenses for Codespaces-connected and standalone"
When running against a codespace, need to remote images from:
1) embedded images in packages
2) local feeds
3) http feeds that the client cannot get to (???)

also do this PR feedback from search support work:
![image](https://user-images.githubusercontent.com/8865080/102534171-32001580-405b-11eb-8759-56af7c129cc2.png)

update: 1/15/2021 - did that PR feedback with latest commit.

[2020-10-19 20:07] zivkan opened #10152 "Port Package Source Telemetry to ETW instead of .NET events"
Following our internal discussion about using ETW & design patterns for  NuGet product monitoring vs telemetry, this task should:

1. Complete investigations on how to use the appropriate APIs effectively
2. Change our Package Source Diagnostics from using .NET events to use ETW instead, and change the VS telemetry to listen to those ETW events instead of the .NET events
3. Show an example of capt

[2020-10-19 20:17] donnie-msft opened #10153 "Triage PM UI issues for Quality Month"
Come up with a plan for Quality Month

[2020-10-19 20:25] nkolev92 commented on #10153
you might want this in client.engineering :)

[2020-10-19 20:30] donnie-msft opened #10154 "Spec for PMUI Tab-Switch Refactoring"
@donnie-msft commented on [Wed Oct 14 2020](https://github.com/NuGet/Client.Engineering/pull/588)

---

@donnie-msft commented on [Thu Oct 15 2020](https://github.com/NuGet/Client.Engineering/pull/588#issuecomment-709643096)

This spec has no effect on the existing behavior of automatically loading whichever tab is open when the window is first opened.

We always load the tab header counts, and pe

[2020-10-19 20:40] mdzeko commented on #8700
Sorry for the delay in the answer but I've since worked on quite a few other projects. I did, however, check the local nuget.config file and found that it had no PAT in it. It appears we had to make a workaround.
If my memory serves me well, we did it by injecting credentials during build pipeline. One thing is sure, PAT in local nuget.config did not do it for us.

[2020-10-19 20:41] mdzeko commented on #8700
the delay in the answer but I've since worked on quite a few other projects. I did, however, check the local nuget.config file and found that it had no PAT in it. It appears we had to make a workaround.
If my memory serves me well, we did it by injecting credentials during build pipeline. One thing is sure, PAT in local nuget.config did not do it for us.

[2020-10-19 21:03] donnie-msft opened #10155 "Should Refresh button apply to all tabs?"
My concern was, if I click Refresh, do I expect the entire UI to have fresh data no matter which tab I look at?

Related work: https://github.com/NuGet/Home/issues/10147

[2020-10-19 21:07] nkolev92 commented on #2245
I'm not sure the design is clear cut here. Adding more labels to indicate the status and moving back to `New Issues` for retriaging.

[2020-10-19 21:11] nkolev92 commented on #5885
Related to #2245

[2020-10-19 21:18] aortiz-msft commented on #8738
@nkolev92  - What are the next steps for this one? Should we close?

[2020-10-19 21:20] nkolev92 commented on #8738
I think we should close it.
There were a few people involved in a discussion on the PR so I didn't want to unilaterally close it.

[2020-10-19 21:30] heng-liu commented on #9763
I could repro by running the same tests for 100 times.
After investigation, I found all the second chain build succeed, but first chain build failed at 5% of the time, even if wait for 10s before first chain build. And all the 100 times of the tests are building the same certificates chain.
Raised an issue in https://github.com/dotnet/runtime/issues/43608

[2020-10-19 21:31] heng-liu commented on #9771
I could repro by running the same tests for 100 times.
After investigation, I found all the second chain build succeed, but first chain build failed at 5% of the time, even if wait for 10s before first chain build. And all the 100 times of the tests are building the same certificates chain.
Raised an issue in https://github.com/dotnet/runtime/issues/43608

[2020-10-19 22:13] timheuer opened #10157 "Cannot use relative URLs in dotnet push"
## Details about Problem
I’m trying to use `dotnet nuget push` with *.nupkg and 1) the docs are wrong (I submitted a bug) 2) the source parameter seems to require a fully-qualified source and cannot use relative roots?

I’m doing this in CI and am trying to basically use “.” As the source directory but looks like the CLI treats this as too literally and doesn’t like that.

From conversation it app

[2020-10-19 22:14] timheuer opened #10158 "Pushing multiple packages in CI is causing a file lock, failing 2nd push"
## Details about Problem
When using CI (GitHub Actions and `dotnet nuget push` with *.nupkg, the files are found and a first package is pushed, but then the second fails.

Example: https://github.com/timheuer/strava-net/runs/1243834288#step:7:19

[code]

[2020-10-19 22:47] kartheekp-ms commented on #8738
I am okay to close this issue.

[2020-10-19 23:55] #8738 closed, assigned to erdembayar

[2020-10-20 00:14] #9971 closed, assigned to kartheekp-ms

[2020-10-20 00:19] zarenner opened #10159 "[Feature]: Add ability to designate a package reference as used by every project in the repo"
We're looking at migrating from https://github.com/microsoft/MSBuildSdks/tree/master/src/CentralPackageVersions to the built-in central package versioning feature, and (unless I missed it) I didn't see an equivalent of `GlobalPackageReference`.

I'm guessing that for all of our (many) build/analyzer packages, we can do the equivalent and manually add both `PackageVersion` and `PackageReference` (w

[2020-10-20 00:31] vatsan-madhavan commented on #10135
Thanks, I just want to consolidate/compress logs- binary logs are small and more efficient. Looks like it's not possible.

[2020-10-20 00:31] #10135 closed, assigned to nobody

[2020-10-20 06:24] batzen commented on #9384
I was referring to floating versions and haven't tested version ranges as i rarely use them.
I get that it might cause issues as described above and it would totally fine if this was a warning. But making it an error totally prevents floating versions.
I, for example, use floating versions to get the highest minor, patch or pre-release version automatically and don't know of other ways to achieve

[2020-10-20 07:04] juanan opened #10160 "Avoid cache with local sources"
Hi,

We have nuget packages from 2 sources: nuget.org and local machine. I have noticed that the command "nuget restore '*.sln' Nocache" continues getting packages from my local source, is it a bug?Its like the parameter "NoCache" doesnt apply for local sources.

I have to run before "nuget locals all -clear" to make it work.

I am running Nuget 5.7.0.

Many thanks.

[2020-10-20 07:32] tmds commented on #8952
hi @heng-liu, I came across this issue when looking at making some patches for source-build. Is there some progress on updating the SDK to one that uses the `net5.0` tfm instead of `netcoreapp5.0`?

When the SDK gets updated, can the [`NETCoreTargetFramework`](https://github.com/NuGet/NuGet.Client/blob/c5f496dae608298cb9d57768444717613400d3dc/build/common.project.props#L16) also be changed to `net

[2020-10-20 10:06] ComanderKai77 opened #10161 "Using NuGet offline | Disable certificate check"
I'm using NuGet on a Windows maschine without internet connection and a local repository manager (Nexus).
The problem is that NuGet tries to verify the certificates even if the repository is trusted.

For example I want to download Newtensoft.Json from my repository server.
The download is fast but after the download NuGet tries to verify the certificat / signing and contacts digicert.com in this

[2020-10-20 10:47] Denis535 commented on #6579
@LazZiya
Here is my example: [NuGetLibrary.zip](https://github.com/NuGet/Home/files/5408122/NuGetLibrary.zip). Everything works.

[2020-10-20 10:51] Denis535 commented on #6579
@StingyJack
I came to the conclusion that the .nuspec file should be generated by dotnet.exe. Otherwise, it only leads to problems.

[2020-10-20 12:50] LazZiya commented on #6579
@Denis535 many thanks for the package, it helped me and I created another version formatting, sharing it below for those who may want a short and readable version:
[code]

The output package name is something like:
[code]

It requires more processing, but it looks nice :)

[2020-10-20 12:55] StingyJack commented on #6579
@Denis535 what's the dotnet command for creating the nuspec file that you can edit/tweak and then later feed into the pack command?

[2020-10-20 14:07] joacar commented on #6579
@StingyJack `dotnet pack` doesn't support `nuspec` files, you'll have to use `nuget` for that. As for generating `nuspec` you can use `nuget spec <project>` as described [here](https://docs.microsoft.com/en-us/nuget/create-packages/creating-a-package#create-the-nuspec-file). Unfortunately it doesn't evaluate MSBuild properties. So if you use $(AssemblyName) the nuspec creation will fail.

[2020-10-20 15:11] ncook-hxgn opened #10162 "NU5129 is not so clever to detect a file renamed by the nuspec"
This warning confused me because it is straight up gaslighting me.

`WARNING: NU5129: - At least one .props file was found in 'build/native/include/', but 'build/native/BCGControlBarPro-Win32.props' was not.`

Except, it was:
![image](https://user-images.githubusercontent.com/36889813/96605612-51debb80-12ee-11eb-9897-26d32c745cc2.png)

[code]
Could you please either get nuget.exe to acknowledge my

[2020-10-20 15:39] ncook-hxgn commented on #7621
I'm seeing this with NuGet version 5.7.0.6726, with Visual Studio 16.7.3 installed alongside 16.3.4.

![image](https://user-images.githubusercontent.com/36889813/96609634-a2f0ae80-12f2-11eb-81af-2128032891b8.png)

We are calling MSBuild from the 16.3 installation, and it's Executing nuget restore xyz.sln. We log this. Looking at the log yields:
![image](https://user-images.githubusercontent.com/36

[2020-10-20 15:46] ncook-hxgn commented on #7621
@nkolev92 said

I think my preferred solution to this would be
- nuget.exe autodetects as it does now by default
- a commandline flag that indicates the MSBuild version should be taken from the environment if available , else autodetect

?

[2020-10-20 18:32] kzu commented on #9384
I too use floating versions for local development so I can constantly dogfood locally the packages produced by my main branch, and in CI I switch to fixed versions.

There aren't any real workarounds for this, since even if I produce a fixed version (say MyPackage-main.tip), the nuget cache would assume it never changes and would never actually get a new version.

Since most folks already use Warn

[2020-10-20 19:18] zivkan commented on #10063
Which of these is better from a a customer perspective:

[code]
If NuGet automatically creates this property, we need to be careful to not use a name that other people already use. This means not only avoiding what the .NET SDK uses, but also what customers are unlikely to use if they have customized their builds. Hence why the example property name above is long. If we accidentally use a property

[2020-10-20 20:35] nkolev92 commented on #10063
The one challenge that I see here with whatever solution we decide to go with is the scope.

In particular, NuGet does have to special certain TFM scenarios(old uap primarily), but the SDK doesn't have the same.
The intrinsics are currently on the msbuild level not the SDK level, but they only truly work with SDK based projects.

Token replacement is another option.  :)

[2020-10-20 21:01] cristinamanum commented on #10132
The linked PR was merged. Close the issue.

[2020-10-20 21:01] #10132 closed, assigned to cristinamanum

[2020-10-20 22:24] nkolev92 commented on #6579
@joacar
You can nuspecs with dotnet pack as well, the difference is that you still need a project file.

https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#packing-using-a-nuspec

If you getting any of these scenarios do let us know by creating an issue. `dotnet pack` as a project file pack should be consistent, so if something is off we'd love to hear about it.

[2020-10-21 08:35] v-crchang opened #10163 "Unexpected error occurs when trying to install a package having invalid client policies in PM UI"
## Details about Problem
NuGet version: NuGet Client Release-5.8.x\5.8.0.6914
VS Version: D16.8\30620.203
OS Version: Windows-10-Enterprise-RS5
## Detailed repro steps
1. Create a clean machine OS: Windows-10-Enterprise-RS5.
2. Create a new test certificate   `.\CreateTestCertificate.ps1 –AddAsTrustedRootAuthority`
3. Sign a package:  `NuGet.exe sign <PackageFilePath> -CertificatePath <PfxFilePath

[2020-10-21 08:54] MattiasEppler commented on #6213
[code]

PackageFlatten works only if the consuming project is a .net Framework Project. If you use the new core format csproject Fille (sdk) the files are not flatten in the output directory.

[2020-10-21 10:43] joacar commented on #6579
@nkolev92 Perhaps that was just when doing it from Pipelines. The documentation says either csproj or nuspec which I can see how that doesn't work if you need the csproj file.

| | |
|--|--|
| searchPatternPackPath to csproj or nuspec file(s) to pack | Pattern to search for csproj or nuspec files to pack. You can separate multiple patterns with a semicolon, and you can make a pattern negative by p

[2020-10-21 16:30] IanKemp commented on #7189
Not only has there been no fix for this issue in **almost two years**, we haven't even been provided an explanation as to why this happens. Par for the course for the NuGet team, though.

[2020-10-21 16:48] IanKemp opened #10164 "NuGet from within VS fails to update a package if one or more package sources are unavailable"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI

NuGet version (x.x.x.xxx): 5.7.0

VS version (if appropriate): VS 2019 Enterprise 16.7.6

OS version (i.e. win10 v1607 (14393.321)): Windows 10 version 2004

## Detailed repro steps so we can see the same problem

Have a package from NuGet.org installed in a `PackageReference`-style .NET

[2020-10-21 17:56] dominoFire opened #10165 "Prepare Slides for Sln Load Meeting"
- Data investigations

[2020-10-21 18:02] donnie-msft commented on #10137
/cc: @joelverhagen @zivkan

[2020-10-21 18:15] joelverhagen commented on #10137
This is theoretically something nuget.org could do. A score can be returned by the REST API of Azure Search (the implementation detail of nuget.org) and could be exposed to the customer. However it's very hard to reason about scores from one query to the next. For example scores can vary from query to query due to the distributed nature of Azure Search nodes or very drastically from one search tex

[2020-10-21 19:07] erdembayar opened #10166 "Improve install new package performance for large solutions"
## Details about Problem

We made quite progress on performance improvement for [update/downgrade](https://github.com/NuGet/Home/issues/6010), [uninstall actions](https://github.com/NuGet/Home/issues/9956) for existing package in large solution.
But I see installing new package into OrchardCore (158 projects) taking almost [10 minutes](https://gist.github.com/erdembayar/acb49524d3378c9ba7ddf7638c2

[2020-10-21 20:50] nkolev92 commented on #10166
@erdembayar Is this the first installation of that package? Did the download happen?

Installing a package to 158 projects involves writing to 158 project systems and those project systems might be synchronizing together for whatever reason.

I'm not denying that 10 mins is too long, but rather that I'm not sure it's specific enough right now.

[2020-10-21 22:07] SimonCropp commented on #5112
this go moved to the gallery repo , when i was experiencing it in VS

[2020-10-21 22:08] #9441 closed, assigned to zkat

[2020-10-21 22:09] SimonCropp commented on #7978
this is still occurring in the latest VS preview

[2020-10-21 22:17] dtivel opened #10167 "VS OE: handle service version unavailable gracefully (and maybe try downgrading?)"
Use `ServiceBrokerExtensions.ReportMissingServiceAsync(...)` to report when a requested service version is unavailable.

This is important to do early so that in the future when service versions are removed, older clients with this feature can know that functionality is reduced.

[2020-10-21 22:18] SimonCropp commented on #7978
to repro: open the nuget tab, switch to a code file, and switch back to the nuget tab

[2020-10-21 22:19] dtivel opened #10168 "VS OE: handle service unavailability changes and exceptions more centrally with better reporting"
Perhaps have a wrapper for each service and handle possible issues (like `ObjectDisposedException`) more gracefully.

[2020-10-21 22:27] aortiz-msft commented on #7978
@SimonCropp - That is being tracked by https://github.com/NuGet/Home/issues/4176

[2020-10-21 22:34] rrelyea commented on #9352
dupe of #10168

[2020-10-21 22:34] #9352 closed, assigned to nobody

[2020-10-21 22:38] rrelyea commented on #9609
we only have one client per codespace. if we added liveshare, we would have to consider. closing for now.

[2020-10-21 22:38] #9609 closed, assigned to rrelyea

[2020-10-21 22:39] #9550 closed, assigned to sbanni

[2020-10-21 22:39] rrelyea commented on #9550
Shipped in 16.8/5.8

[2020-10-21 22:49] aortiz-msft commented on #10163
Dupe of https://github.com/NuGet/Home/issues/10034

[2020-10-22 00:19] zivkan opened #10169 "Fix sfproj support"
Service Fabric projects (sfproj) use CPS, but do not advertise the `PackageReferences` capability.

https://github.com/NuGet/NuGet.Client/pull/3644 changed our `CPSPackageReferenceProject` detection, and accidentally opted all CPS projects into CPSPackageReferenceProject support.

[2020-10-22 01:27] nkolev92 opened #10170 "Restore in VS: For CPS based PackageReference projects investigate improving the up to date check by utilizing the fact that the project cache + settings might not have changed since last restore"
Related to https://github.com/NuGet/Home/blob/dev/designs/VisualStudio-PartialRestoreOptimization.md, https://github.com/NuGet/Home/issues/9513.

In here we skip if the effective package spec + outputs are up to date and same as last time.

A further optimization would be to *avoid* creating an effective dg spec (which combines the setting + package spec) if the settings are the project system cac

[2020-10-22 01:39] nkolev92 commented on #10170
The 2 steps that we'd improve would be:

https://github.com/NuGet/NuGet.Client/blob/25ffb078df99a8d4b4c5026e9148edcd9e5f352b/src/NuGet.Clients/NuGet.SolutionRestoreManager/SolutionRestoreJob.cs#L374-L382

and part of

https://github.com/NuGet/NuGet.Client/blob/25ffb078df99a8d4b4c5026e9148edcd9e5f352b/src/NuGet.Clients/NuGet.SolutionRestoreManager/SolutionRestoreJob.cs#L384-L403

In our lab, for Or

[2020-10-22 01:49] donnie-msft commented on #10139
@tmds do you have `zlib` installed on your machine as mentioned in the error?

[2020-10-22 02:04] donnie-msft commented on #10138
Hi! Which NuGet tool are you using, and what version is it? Ideally, edit your post using the format of our Issue template https://github.com/NuGet/Home/issues/new

[2020-10-22 02:06] nkolev92 commented on #10161
Hey @ComanderKai77

Are you getting a NU3028 at all?

https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings/nu3028 contains information for how to handle scenarios where the machine has no access to the verification servers, but normally I would've expect for you to get a warning rather than a time out.

[2020-10-22 02:57] tig opened #10171 "Can't install a pre-release package using Install-Package"
This package: https://www.nuget.org/packages/Terminal.Gui/1.0.0-pre.5

`Find-Package` shows the pre-release versions if I use `-AllowPrereleaseVersions`.

[code]

However, `Install-Package` fails:

[code]

There is no `-AllowPrereleaseVersions` flag for `Install-Packages` when a `-Name` is provided!

[2020-10-22 03:19] tig commented on #10171
I found where this should go: https://github.com/PowerShell/PowerShellGetv2/issues/628

[2020-10-22 03:19] #10171 closed, assigned to nobody

[2020-10-22 05:26] MattiasEppler opened #10172 "flatten for content files not working"
Referring to the closed issue

https://github.com/NuGet/Home/issues/6213

[code]
PackageFlatten works only if the consuming project is a .net Framework Project. If you use the new core format csproject Fille (sdk) the files are not flatten in the output directory.

[2020-10-22 06:20] tmds commented on #10139
It's a warning that may be ignored, see https://github.com/dotnet/install-scripts/issues/6.

This is the error:

[code]

[2020-10-22 06:55] marcin-krystianc opened #10173 "Build of NuGet libraries is broken when assembly signing is disabled"
## Details about Problem
Normally NuGet assemblies are delay signed during the build processes, but there is a way to disable the signing step by setting the `SkipSigning` property: https://github.com/NuGet/NuGet.Client/blob/e88a5a03a1b26099f8be225d3ee3a897b2edb1d0/build/common.targets#L37-L39 .

Unfortunately when I use that property to disable assembly signing, then the solution doesn't not buil

[2020-10-22 08:01] ComanderKai77 commented on #10161
Thank you @nkolev92.
I was getting a NU3034
`WARNUNG: NU3034: Package 'Newtonsoft.Json 12.0.3' from source 'C:\Users\werum\.nuget\packages\': This package is signed but not by a trusted signer.`
but setting `NUGET_CERT_REVOCATION_MODE ` fixed it.

[2020-10-22 08:04] #10161 closed, assigned to nobody

[2020-10-22 09:42] kaceper11 commented on #2880
Worked for me

[2020-10-22 10:45] kobelobster opened #10174 "Adding two trusted-signer of the same domain fails for one index"
dotnet version: 3.1
nuget version: 5.7.0.6726

We have a custom NuGet feed hosted on Nexus SonaType. It's set up that we have one feed for our own repositories and one "feed" which acts as a proxy to NuGet. Now, we want to use this feed in Docker as well to automatically run tests, build the image etc.

Since we have our own certificate and our services are behind a proxy, I am doing this in the `

[2020-10-22 12:46] dtivel opened #10175 "VS OE: lots of duplicated code in formatters"
The [formatters](https://github.com/NuGet/NuGet.Client/tree/c43105246cf6fe6191a542fa3cbe222d183393d1/src/NuGet.Clients/NuGet.VisualStudio.Internal.Contracts/Formatters) have a lot of duplicated code.

[2020-10-22 13:40] jcansdale commented on #8580
Hi @jwillmer,

You should find the following works fine now:

[code]

Support for the `dotnet nuget push --api-key` option has now been added to GitHub Packages. For some reason this works consistently, but using basic auth (password in `nuget.config` file) fails randomly!

[2020-10-22 13:44] jcansdale commented on #9493
Hi @fabich,

You should find the following will publish consistently:

[code]

Support for the `dotnet nuget push --api-key` option has now been added to GitHub Packages. For some reason this works consistently, but using basic auth (password in `nuget.config` file) fails randomly!

[2020-10-22 13:51] jcansdale commented on #9775
Hi @RehanSaeed,

You should find the following works fine now!

[code]

For some reason basic auth (password in the `nuget.config` file) still doesn't work consistently. We've added a warning to encourage users to use `--api-key` whenever basic auth is used.

It's a mystery why `--api-key` works but basic auth fails. They both appear to use chunked encoding. However, if I tweak the NuGet source to

[2020-10-22 14:43] kmadof commented on #7605
I have the same issue on Azure Pipelines. `dotnet restore` works well with configuration in `nuegt.config` file where I have defined sources. However, for `dotnet list package --outdated` or `dotnet list package --deprecated` i have `401`.

As a workaround I did this:
[code]

So removing `nuget.config` and adding sources explicitly works. But why `dotnet restore` works and `dotnet list` not?

[2020-10-22 15:06] timheuer opened #10176 "Different tabs open by default when in Codespaces"
## Details about Problem
When connected to Codesapces, the NuGet Package Manager is different in what it offers than when in local.  When choosing Manage Nuget Packages in Codespaces it opens up to the default Installed tab even when an Update is available.  In local it opens to the Update tab if an update is available

![image](https://user-images.githubusercontent.com/4821/96891403-7d23f080-143d

[2020-10-22 15:07] ogxd commented on #6795
It is still an issue today

[2020-10-22 15:08] JonDouglas commented on #10176
/cc @rrelyea @dtivel & @chgill-MSFT

[2020-10-22 16:31] rrelyea commented on #7605
@sebandraos, @kmadof , @Gabriel-Lacatus - thanks for your reports. Will reopen to get more eyes on it.

[2020-10-22 16:39] #10175 closed, assigned to dtivel

[2020-10-22 16:43] sbanni commented on #10176
This is not Codespaces specific as I have also observed this on16.7 and the difference is the tab that is chosen. When I switched to the 'Update' tab first I noticed it selected 'Latest stable' if I selected 'Installed' tab first it would default to the current version installed.

[2020-10-22 17:09] donnie-msft commented on #10139
It looks like this script has been a bit neglected. That version of dotnet core is no longer supported.
In the meantime,
- Our CI pipeline runs `scripts/funcTests/runFuncTests.sh` - give that a shot
- If you're trying to run dotnet tests, you can `dotnet build` and run tests adhoc on Linux

[2020-10-22 17:22] nkolev92 commented on #9325
@rrelyea Does this need triaged? Was it moved to new issues on purpose?

[2020-10-22 17:34] nkolev92 commented on #10106
@donnie-msft

Can we maybe narrow the scope here to specific areas?
In particular maybe this issue can track the stack you posted.

[2020-10-22 17:37] donnie-msft commented on #10106
@nkolev92 Of course. When the work is picked up, it can be broken into subtasks. Making this an epic should solve the concern.

[2020-10-22 17:50] joelverhagen opened #10177 "netcoreapp5.0-windows does not round trip and does not parse platform information"
## Details about Problem

NuGet product used: NuGet.Frameworks library
NuGet version: 5.8.0-preview.3.6823
Worked before? Yes, 5.7.0

## Detailed repro steps so we can see the same problem

1. Parse `netcoreapp5.0-windows`
2. Execute `ToString()` or get the short folder name.

### Expected

For 5.8.0-preview.3.6823, I would expect this to parse as "net5.0-windows" with a recognized platform.

###

[2020-10-22 18:06] ericsampson opened #10178 "Add support for authenticated feeds as MSBuild properties (and pass throughs from upstream tooling)"
Currently there are MSBuild properties for [`RestoreSources` and `RestoreAdditionalProjectSources`](https://github.com/NuGet/Home/wiki/%5BSpec%5D-NuGet-settings-in-MSBuild) which are used by the `restore` target.

However, these do not support authenticated feeds, which has become painful due to the increased use of same (Azure Artifacts, GitHub Packages, etc).

Feature request would include:
1. N

[2020-10-22 18:17] donnie-msft commented on #9901
@DrStrangepork apologies that this didn't get answered sooner.
You can't point the xmlns to github. It has to point to a specific URI (identifier - which are not published files).
Our code checks for one of 6 known schemas: (see code [here](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Packaging/PackageCreation/Authoring/ManifestSchemaUtility.cs#L50) and [here](https://github

[2020-10-22 18:22] NickCraver commented on #10178
I think the restore with a given prop works, but agree it doesn't work for `n`, it'd need to somehow be associated with a feed, like say we could do `<RestoreAdditionalPackageSources>` with a key/credentials section or....I'm not sure really, but the interface needs to be `n`, and associated to the feed somehow.

You could in theory use any non-allowed URL characters as a delimiter, but that feels

[2020-10-22 18:26] donnie-msft commented on #10157
I believe this is a duplicate of the following. Please let me know if you disagree.
Adding any context/upvotes there is helpful: https://github.com/NuGet/Home/issues/4393

[2020-10-22 18:28] donnie-msft commented on #10158
@timheuer Thanks for reporting. Please fill out the Issue template here: https://github.com/NuGet/Home/issues/new
This helps in understanding your product versions and scenario.

[2020-10-22 18:29] gitfool commented on #9775
@jcansdale is the change to support api key documented somewhere?

[2020-10-22 18:33] donnie-msft commented on #10159
/cc @cristinamanum

[2020-10-22 18:36] ericsampson commented on #10178
It looks like `RestoreSources` is documented[https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#restore-properties] to currently accept a semi-colon delimited list, FWIW. Given that it supports N sources, I'm not sure what the distinction is between it and `RestoreAdditionalProjectSources` then. meh.

For our use case, I'd definitely prefer to have the source and token in two separat

[2020-10-22 18:39] donnie-msft commented on #10160
See: https://docs.microsoft.com/en-us/nuget/consume-packages/package-restore#package-restore-overview

[2020-10-22 18:39] #10160 closed, assigned to nobody

[2020-10-22 18:42] zivkan commented on #10137
I love the idea of anything that can make `NuGet.Indexing` redundant and let us get rid of our Lucene.NET dependence. 👍

Another issue is what to do when aggregating HTTP and local source search results. This would imply that NuGet Client needs to generate a ranking for local package search results, so that the search aggregation can use only this new ranking.  I have no idea whatsoever how NuGet.

[2020-10-22 18:49] donnie-msft commented on #10162
Looks like some validation problem, perhaps in [UpholdBuildConventionRule.cs](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Packaging/Rules/UpholdBuildConventionRule.cs#L58) ?
@ncook-hxgn Which version of nuget.exe are you using? Ideally, fill out our Issue Template: https://github.com/NuGet/Home/issues/new
/cc @zkat

[2020-10-22 18:55] ericsampson commented on #10178
@NickCraver does this proposal look familiar? :)
https://github.com/NuGet/Home/issues/6045#issuecomment-337814965

[2020-10-22 19:00] donnie-msft commented on #10164
I've also found this unintuitive. You need to understand 2 things:

1. **How restore works**. Restore always visits *all enabled* sources to see whether the given packages exists or not. This affects the Restore Graph. See: https://docs.microsoft.com/en-us/nuget/consume-packages/package-restore#package-restore-overview

2. **How VS UI works with package sources**. I assume you used the Package Man

[2020-10-22 19:00] #10164 closed, assigned to nobody

[2020-10-22 20:13] timheuer commented on #10157
@donnie-msft I think you duped the wrong one here.  #4393  is not the same issue here IMO.  This is about relative paths.

[2020-10-22 20:14] timheuer commented on #10158
This looks like #4393 that I think we should bump up.  The dotnet stack here being used is .NET 3.1.402 SDK

[2020-10-22 20:35] donnie-msft commented on #10157
@timheuer please fill out our issue template so we have full version info and exact repro steps (especially would want to see the full command/options you're using)

/cc @zkat

[2020-10-22 20:36] donnie-msft commented on #10158
Closing as duplicate per comment: https://github.com/NuGet/Home/issues/4393

[2020-10-22 20:36] #10158 closed, assigned to nobody

[2020-10-22 20:53] timheuer commented on #10157
added simple repro steps

[2020-10-22 20:57] #10141 closed, assigned to dtivel

[2020-10-22 20:58] donnie-msft commented on #10172
Thanks for reporting. Please fill out the Issue template here: https://github.com/NuGet/Home/issues/new
This helps in understanding your product versions and scenario.

Documentation still suggests it should be working: https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#including-content-in-a-package
/cc @zkat

[2020-10-22 20:59] timheuer commented on #10176
FWIW I'm only seeing this in Codespaces...

[2020-10-22 21:36] sbanni commented on #10176
From my 16.7 build

![Latest](https://user-images.githubusercontent.com/1885888/96932545-e6265b00-1473-11eb-8355-509ee6deaab8.gif)

[2020-10-22 23:05] timheuer commented on #10176
Actually edited this bug realizing what was actually happening -- the **tab** opened by default are different in codepsaces than in local

[2020-10-23 00:45] #10169 closed, assigned to zivkan

[2020-10-23 02:02] xuhongxu96 commented on #10134
To try `NuGet restore task`, I have to split the pwsh commands into different CI steps and only replace the `nuget restore` step.
However, after I splitting them, the issue hasn't repro in Azure Pipelines yet. I'll continue watching it for some days.
If it cannot repro within a month, I'll close the issue.

Anyway, it's so strange that it happened really frequently before...

[2020-10-23 03:11] aortiz-msft commented on #10159
Also adding @zivkan

[2020-10-23 05:00] tmds commented on #10139
Thanks for the pointers.

A maintained `build.sh` script is a welcome message for external contributors.

[2020-10-23 07:22] MattiasEppler commented on #10172
## Details about Problem

NuGet product used: Visual Studio UI

NuGet version 5.7.0.6726

VS version: 2019

OS version: Windows 10 Pro 1903 / 18362.30

Visual Studio Repros added

[NugetPackeSample.zip](https://github.com/NuGet/Home/files/5427860/NugetPackeSample.zip)
[Consuming.zip](https://github.com/NuGet/Home/files/5427859/Consuming.zip)

NugetPackageSample -> VS Solution to create a Nuget Pac

[2020-10-23 09:10] jerrylindstrom opened #10180 "im a noob at this, but i cant get this command line to work."
Yea so i have a problem with this command. i had to this for school and the teacher said that we should follow the tutorials but i dont understand what i should do now since the tutorial doesnt explain it. im using visual studio 2019.

if you need any more info i can send a picture

Very helpful if you can zip a project and paste into this issue!

![nimetön](https://user-images.githubusercontent.c

[2020-10-23 09:29] batilak commented on #9178
I still see this happening for iOS Class Library type projects with VS2019 16.7.6

[2020-10-23 09:34] kmadof commented on #7605
I found another workaround which is:

[code]

What is strange here, is if I run this without `nuget help` I will get timeout on fetching credentials from provider on the first run of `dotnet list package` but on succeeding all is fine.

[2020-10-23 15:52] erikpaulmiller commented on #7296
@aortiz-msft Any update?

[2020-10-23 15:53] erikpaulmiller commented on #7296
@aortiz-msft It works when I run the nuget.exe on a windows machine

[2020-10-23 15:56] zivkan commented on #10159
@zarenner I believe you're correct. I'm not aware of any equivalent feature. I agree that a `PackageReference` in `Directory.Packages.props` is a good alternative. You'll need to add the `PrivateAssets` and `IncludeAssets` yourself in this case.

@rconard I don't know if you've seen this feature before, but it sounds interesting. [There are a few public repos on github using it](https://github.com

[2020-10-23 16:11] rconard commented on #10159
@zarenner, thank you for raising this!

This is not currently in the design doc, but this feature is still very young.

If you could please give us some additional context on how you're using `GlobalPackageReference` and what you did prior to MSBuild SDK, that would be helpful.

We would also like to hear from more users of MSBuild SDK about how you're using `GlobalPackageReference`.

[2020-10-23 16:20] #9956 closed, assigned to erdembayar

[2020-10-23 16:50] zivkan commented on #7296
@erikpaulmiller
1. NuGet 2.8.7 is a very, very old version. Please download a newer version from nuget.org/downloads. The nuget apt package was not created by us, so we don't maintain it. Please contact your distro provider to update it to a later version if you'd like to use it. Alternatively, I think if you [add mono's repository to your apt configuration](https://www.mono-project.com/download/s

[2020-10-23 17:23] zarenner commented on #10159
@rconard we have ~20 `GlobalPackageReferences`, the vast majority of which are code analyzers which we want to run against all projects.

We also have a few packages which use props/targets imports from the `build` folder to do things like enforce code structure, or provide some tools via nuget package and define their location as a property.

We introduced `Microsoft.Build.CentralPackageVersions`

[2020-10-23 17:27] erikpaulmiller commented on #7296
@zivkan I have not found a way for using dotnet pack to actually package multiple dlls like nuget can using a nuspec file.

[2020-10-23 17:51] #10173 closed, assigned to nobody

[2020-10-23 17:55] aortiz-msft commented on #10159
Thanks for the information @zakramer. I just want to make sure that you are aware Central Package Version Management is still in preview, but we are happy to help with other questions you may have along the way.

[2020-10-23 18:11] NunoOlliveira opened #10181 "Referenced dependencies not being copied to bin folder"
Microsoft Visual Studio Professional 2019
Version 16.7.6
Windows 10 X64
It is working using package.config management.

Hello everyone.

For testing I have created 3 supper usefull C# projects targetting .Net Framework 4.8.
ClassLibrary2.dll
ClassLibrary1.dll (References ClassLibrary2 instantiated in the constructor)
WindowsFormsApp.exe
Created a Nuget package, added the dll files on the lib\net48

[2020-10-23 19:08] rrelyea opened #10182 "Remote locals clear all button"

[2020-10-23 19:13] #9763 closed, assigned to heng-liu

[2020-10-23 19:19] zivkan commented on #7296
That's a feature request not yet implemented: https://github.com/NuGet/Home/issues/3891

In the thread there are multiple alternatives suggested by various people. For example: https://github.com/NuGet/Home/issues/3891#issuecomment-330668337, or https://github.com/NuGet/Home/issues/3891#issuecomment-330508584 or https://github.com/NuGet/Home/issues/3891#issuecomment-330668337

In general, adding a

[2020-10-23 21:07] jimmylewis opened #10183 "ManagePackageVersionsCentrally default behavior is opposite the spec"
## Details about Problem

After creating a Directory.Packages.props file, projects were not opted-in to ManagePackageVersionsCentrally by default.  The [spec](https://github.com/NuGet/Home/wiki/Centrally-managing-NuGet-package-versions) currently reads:

Adding <ManagePackageVersionsCentrally>true</ManagePackageVersionsCentrally> to the project file addresses the issue, so this is low-priority (th

[2020-10-23 21:14] nkolev92 commented on #6579
Maybe the simpler way to think about is that through dotnet.exe you always call `pack` on the csproj.

Then the project file itself can use the conventions for csproj packing for PackageReference projects, or itself it can point a nuspec file like in the docs I linked.

[2020-10-23 22:38] donnie-msft commented on #10180
Does that nupkg file exist in the directory you're in?

[2020-10-23 22:50] donnie-msft commented on #10181
How exactly did you pack your project? Did you follow the explicit assembly reference guidance here? https://docs.microsoft.com/en-us/nuget/reference/nuspec#explicit-assembly-references

Thanks for reporting. Please fill out the Issue template here: https://github.com/NuGet/Home/issues/new
This helps in understanding your product versions and scenario.

[2020-10-23 22:52] donnie-msft commented on #10183
/cc @cristinamanum

[2020-10-23 23:25] heng-liu commented on #10174
Hi, since you're using dotnet 3.1 which doesn't have package signing/verification, I guess you don't need package signature verification during restore. (package signing/verification is also not supported on Mono)
If so, there is no need to add trust-signers. Trust-signers are for [configuring trusted package repositories](https://devblogs.microsoft.com/nuget/lock-down-your-dependencies-using-conf

[2020-10-24 02:26] nkolev92 commented on #10178
hey all,

Thanks for the discussion.

We have a duplicate ask in https://github.com/NuGet/Home/issues/6045.

[2020-10-24 02:26] #10178 closed, assigned to nobody

[2020-10-24 02:48] ericsampson commented on #6045
@nkolev92 since you closed #10178, I'd like to bring the following requests from it here, as this feature is focused on MSBuild only:

Support should be added to the upstream tooling to pass the credentials into MSBuild something like:
- dotnet msbuild -restore --property:NEWPROP=TOKEN --property:RestoreSources=blah
- dotnet restore --api-key TOKEN1 --source blah1 --api-key TOKEN2 --source blah2
-

[2020-10-24 17:06] NunoOlliveira commented on #10181
Hello, and thank you for the reply.
Yes (I think so), and it does work correctlly using the package.config management.
Here is the nuspec file example:
[Testing.Dependency.1.0.0.nuspec.zip](https://github.com/NuGet/Home/files/5433328/Testing.Dependency.1.0.0.nuspec.zip)
ClassLibrary1 is added correctly to the project and **I don't want** ClassLibrary2 to be directlly available to the exe project.

[2020-10-24 22:57] jerrylindstrom commented on #10180
The problem is that i have no idea. I dont think ive created a file with
that extension. But i dont know how to make one either :/

On Sat, 24 Oct 2020, 1.38 donnie-msft, <notifications@github.com> wrote:

[2020-10-25 00:37] SH2015 commented on #3324
Still having this issue, any update when this will be resolved ?

[2020-10-25 16:00] arnotes commented on #4699
still not working as of dotnet 3.1.4
Your.Package 0.41.7-pre.1 was not found

[2020-10-25 18:27] GiampaoloGabba commented on #5979
any hope this will ever be fixed? sigh...

[2020-10-26 05:54] drewgillies opened #10184 "Show transitive dependencies in PMUI for PackageReference projects"
Design spec: https://github.com/NuGet/Home/blob/dev/proposed/2020/Transitive-Dependencies.md

This epic covers the PMUI portion of the transitive dependencies spec

[2020-10-26 07:37] kobelobster commented on #10174
Hi @heng-liu,

thanks for your answer. I removed the `trusted-signers` now and after a few adjustments and caveats it seems to work.

The main problem seems to be that I used both `mono /usr/local/bin/nuget.exe` and `dotnet nuget`. I had to do this, since setting the proxy does only work on `nuget.exe` but not on `dotnet nuget` so far.

However, I found this issue https://github.com/NuGet/Home/iss

[2020-10-26 08:39] MattiasEppler commented on #10172
Triage:NeedsRepro can be removed. Repro is already been added.

[2020-10-26 09:42] marcin-krystianc commented on #10030
I've spent some time looking at this issue trying to understand what is the root cause for the observed slowdown.
My analysis shows that with a certain topology of the solution the computational complexity of the restore algorithm grows exponentially with the number of projects.
It turns out that only a few dozen projects with the right topology of references is enough to make the restore operatio

[2020-10-26 09:51] v-luzh commented on #9487
After investigating it, we found this issue is caused by bug 9311. VS crashed when trying installing a package with invalid embedded icon format. And when VS restarting, we didn't choose to recover the solution (clicked "Do Not Recover" button in below screenshot), and then it made the info in "Preview Changes" window incorrect.
![image](https://user-images.githubusercontent.com/20632625/97157916-

[2020-10-26 09:51] #9487 closed, assigned to nobody

[2020-10-26 10:09] AndreyAkinshin commented on #3324
After my last [twitter complaint](https://twitter.com/andrey_akinshin/status/1297919615738286081) about this issue, we [arranged](https://twitter.com/andrey_akinshin/status/1297958332557402114) a call on August 26 (two months ago) with the NuGet team. I explained all the problems related to the long path limitations and suggested several ways to workaround them. If I remember correctly, we agreed

[2020-10-26 10:52] sintecnos-lucabiffi commented on #10180
@jerrylindstrom try to follow some tutorials on how to create a nuget package and how to push it. You'll need nuget spec + nuget pack before the push. Or simply get an existing nuget package somewhere else so you can try to push it.
Your push is probably failing because you didn't create or provide a _.nupkg_ to push.

[2020-10-26 11:19] m8ram opened #10185 "Incorrect Configuration file mentioned in dotnet-nuget-push man page"
## Details about Problem

I'm trying to configure the dotnet command line for use in our CI server (jenkins) on a RHEL8 build slave.
The man page says: `NuGet’s default configuration is obtained by loading %AppData%.config  (Windows)  or  $HOME/.local/share  (Linux/macOS),`

However the NuGet configuration file used is in `~/.nuget/NuGet/NuGet.Config`.

Please update the man pages to point to the

[2020-10-26 11:24] bksmart opened #10186 "InstallPackageAsync not installing the packages"
await CapNuGetPackageManager.InstallPackageAsync (CapNuGetPackageManager.PackagesFolderNuGetProject , identity , resolutionContext , projectContext , CapNugetFeed , Array.Empty<SourceRepository>(), CancellationToken.None);
This does not install the nuget project in the target project which I am calling from another windows form setting the path in FolderNuGetProject. It does download the nuget pac

[2020-10-26 11:26] bksmart commented on #10186
using NuGet.Common;
using NuGet.Configuration;
using NuGet.PackageManagement;
using NuGet.Packaging;
using NuGet.Packaging.Core;
using NuGet.Packaging.Signing;
using NuGet.ProjectManagement;
using NuGet.Protocol;
using NuGet.Protocol.Core.Types;
using NuGet.Resolver;
using NuGet.Versioning;
using System;
using System.Collections.Generic;
using System.IO;
using System.Linq;
using System.Threading;

[2020-10-26 11:39] bksmart commented on #10186
@zivkan please get this resolved as we want to achieve the installation of the nugets from the private nuget server setup from a tool to a target project where calling the InstallPackageAsync is not installing the package , nor it executes the transform files.

It downloads the packages and puts into the target packages folder but not performing the installs

[2020-10-26 11:51] jerrylindstrom commented on #10180
Oh yea thats true, ill have to look into it. Thank you for the help :)

On Mon, 26 Oct 2020, 12.53 sintecnos-lucabiffi, <notifications@github.com>
wrote:

[2020-10-26 12:04] bksmart commented on #10186
@csharpfritz  @AArnott @zkat  @joelverhagen  seeking for your help on this

[2020-10-26 15:09] AArnott commented on #10186
@bksmart Please do not mention a list of folks just to get attention to your github issue (particularly after just 4 hours). You may mention one or two people perhaps if you know they are particularly relevant to the issue.
I for one do not work on the nuget feature. Please start by trusting the nuget team's triage of new issues and wait to see what happens. It can take several days sometimes for

[2020-10-26 15:11] JonDouglas commented on #3324
The challenge today with providing long path support to NuGet via a `IFileSystem` interface or leveraging a custom implementation from another provider would be that we aren’t confident this would fix the issue outside of the NuGet layer and you may still fail at the MSBuild/another tooling level instead. Although MSBuild has done work to support this in 16.0, there is no guarantee your whole stac

[2020-10-26 16:45] #9771 closed, assigned to heng-liu

[2020-10-26 17:35] nkolev92 commented on #4699
@arnotes

The fix for this bug has not been released yet.

3.1.400 matches 5.7 of NuGet, but this was fixed in 5.0.100 of the SDK, matching 5.8 of NuGet and 16.8 of Visual Studio.

[2020-10-26 17:58] aortiz-msft commented on #10180
@jerrylindstrom - Here's a good place to start: https://docs.microsoft.com/en-us/nuget/create-packages/creating-a-package-dotnet-cli.

Would love feedback on how easy the onboarding docs are.

[2020-10-26 17:58] #10180 closed, assigned to nobody

[2020-10-26 18:13] donnie-msft commented on #7466
@nkolev92 I was just testing nuget.exe and already found this to be the case.
Considering you closed a PR for dotnet.exe, can this Issue be closed?

[2020-10-26 18:13] zivkan commented on #10186
@bksmart As Andrew requested, please don't mass spam people with mentions. Most of the people you mentioned don't work on the NuGet team and therefore are very unlikely to know about this topic, which frankly nobody outside the NuGet team are likely to know. It's extremely specific and deep, and something very few people attempt.

A few comments:

1. You're reporting that `CapNuGetPackageManager.I

[2020-10-26 18:24] m8ram commented on #8223
This is still a problem in NuGet Version: 5.7.0.6726

[2020-10-26 18:36] nkolev92 commented on #6045
Thanks for pasting that @ericsampson

All feedback from the linked issues will be considered when looking into this issue! :)

A quick clarification:
`--api-key` are never used by restore. `--api-key` only applies to push.

[2020-10-26 18:38] nkolev92 commented on #10075
@kartheekp-ms Can we just disable this test and reword the issue in a way that calls out the actual bug?
My gut feeling is that while we have an actual, the impact of this one is infrequent enough to warrant adding additional synchronization.

DotnetCLIToolReference packages almost never have a missing version.

[2020-10-26 19:04] heng-liu commented on #10174
Yes, the NuGet.Config file has different paths on Linux/Mac for different commands(using mono or dotnet) https://github.com/NuGet/docs.microsoft.com-nuget/issues/1878#issuecomment-585443310

For now, manually editing the NuGet.Config would be a workaround.
We have a tracking issue https://github.com/NuGet/Home/issues/10059 for adding missing commands/arguments for dotnet.
Pls vote for it if you'd

[2020-10-26 19:09] StingyJack commented on #6579
@nkolev92 - i have used `nuget pack` task following the VSBuild/MSBuild task for the nuspec files in the branch for a few years.  `dotnet` was not working to handle mixed project types (solutions with netfx legacy projects+package.config, netfx sdk projects + package.config, netcore with packageref, etc) at the time but that's probably been fixed. Since `dotnet` is just a wrapper for common calls

[2020-10-26 19:13] heng-liu commented on #10174
Close it as a duplicate of https://github.com/NuGet/Home/issues/4413

[2020-10-26 19:13] #10174 closed, assigned to nobody

[2020-10-26 19:43] AArnott opened #10187 "NU5100 misfires when packing embeddable interop assemblies"
Per [Embed Interop Types with PackageReference](https://github.com/NuGet/Home/wiki/Embed-Interop-Types-with-PackageReference) and #2365, the recommended pattern for packages that carry embeddable interop assemblies is to construct the package in *both* `lib\` and `embed\` folders.

But doing this produces build warnings:

D:\VS\src\Tools\dotnet\sdk\3.1.200\Sdks\NuGet.Build.Tasks.Pack\buildCrossTar

[2020-10-26 20:03] AArnott opened #10188 "PackageReference to embeddable interop package *references* the assembly instead of *linking* it"
Per [Embed Interop Types with PackageReference](https://github.com/NuGet/Home/wiki/Embed-Interop-Types-with-PackageReference) and #2365, the recommended pattern for packages that carry embeddable interop assemblies is to construct the package in *both* `lib\` and `embed\` folders.

## Details about Problem

dotnet.exe --version (if appropriate): 5.0.100-rc.2.20479.15

## Detailed repro steps so we

[2020-10-26 20:35] nkolev92 commented on #10030
cc @JonDouglas

[2020-10-26 20:38] nkolev92 commented on #10113
@zkat added it to the weekly meeting agenda with MSBuild, SDK & partners.
We're supposed to discuss this today (10/26/20)

[2020-10-26 20:40] #10121 closed, assigned to nobody

[2020-10-26 20:43] nkolev92 commented on #10125
@heng-liu Can you please validate that this is indeed a regression.

If yes, would you please address as part of a quality week.

[2020-10-26 20:52] nkolev92 commented on #10127
Hey @Redth and @jonathanpeppers

Thanks for creating this issue. This is a dup of https://github.com/NuGet/Home/issues/4681.

[2020-10-26 20:52] #10127 closed, assigned to nobody

[2020-10-26 20:59] nkolev92 commented on #10129
Triage:
@JonDouglas Can you please follow up to understand the priority of this ask.

[2020-10-26 21:09] Redth commented on #4681
@JonDouglas just wanted to bring your attention to this one as the issue we created was closed and linked here. Want to make sure this doesn’t get lost for net6.

[2020-10-26 21:26] nkolev92 commented on #4681
Matching the labels to the closed issue by adding the partner tag.

[2020-10-26 22:06] JonDouglas commented on #10030
@marcin-krystianc I was looking into this as well and it seems to really come down to 1.x packages instead of using 2.x packages like netstandard2.0+.

For example, using your scenarios, you will witness this terrible performance straight from loading VS:

https://gist.github.com/JonDouglas/ca808e03fc6a40ca1b7a17d5886c4c57

[code]

However, if you then try the latest version of log4net referenced

[2020-10-26 22:21] rrelyea commented on #10030
.NET Core 1.x and 2.x have a large package graph due to the approach that we (Microsoft) used.
.NET Core 3.0 and later, started not using the package graph to deal with the base runtime components...and got a large perf win.
Hopefully our learned lessons work well for you.

[2020-10-26 22:39] ericsampson commented on #6045
@nkolev92 right, but that's talking about requested future functionality.

[2020-10-26 22:43] nkolev92 commented on #6579
This is the issue: https://github.com/NuGet/Home/issues/4491.

In general, `dotnet pack` & `msbuild /t:pack` are equivalent and they should be used for PackageReference.
nuget.exe is to be used with older style scenarios where the projects are packages.config and scenarios where *only* a nuspec is used for packing.

[2020-10-26 22:46] nkolev92 commented on #10188
Hey @AArnott,

Unfortunately the consumption side of PackageReference + embed is not implemented in either SDK or legacy build targets.

Related issue:
* https://github.com/dotnet/sdk/issues/2732
* https://github.com/dotnet/NuGet.BuildTasks/issues/69

cc @aortiz-msft @JonDouglas

This was a feature completed in early 2019, https://github.com/NuGet/Home/issues/2365 in NuGet 5.0, but while the NuGet

[2020-10-26 22:56] nkolev92 commented on #6045
Hey @ericsampson, I just wanted to clarify that api keys is not something we want to support with restore at all at this point.

Restore works well with basic, negotiate, ntlm etc.
Api Keys are just a header that's used for push scenarios only.

Given that any potential changes like that required both client + server changes, preserving the status quo as far as auth mechanisms go is the approach I

[2020-10-26 23:17] ericsampson commented on #6045
@nkolev92 ok I understand, I think I misunderstood what was going on behind the scenes.

So then it would look potentially like this?
`dotnet restore --source https://mycustomsource.com/nuget --username JohnDoe --password YouDontKnowIt`
where `username` is unused by Azure Artifacts / GitHub Packages, and the "password" would be the PAT

And so there'd need to be two new MSBuild properties as well,

[2020-10-27 00:17] zivkan commented on #4980
@mfkl sorry I took so long to reply. Thanks for the results!  that's a 3.5% perf reduction, but it's once per 24 hours.

Could you try one more time, this remove remove the change to the perf script that sets the last write time stamp to 2 days ago. This lets us compare "inner-build no-op".

With this info, I'll take it to the team's perf champ to see if I can convince him this is a good feature t

[2020-10-27 00:48] SimonCropp opened #10189 "Should nuget DoubleWaitForExit?"
So this issue https://github.com/dotnet/runtime/issues/27128 results in "Intermittent: Empty Process stdout" when using WaitForExit in combination with data received events. Looking through the nuget client codebase it would seem this is a likely occurrence. Also given nugets requirement to target msbuild classic (net472) it is unlikle to be (in the short term) resolved by a future fix in the fram

[2020-10-27 01:20] zivkan opened #10190 "Don't run E2E tests when VSIX install fails"
A recent improvement to the CI yaml had the unfortunate consequence of running E2E tests, even when the VSIX install fails.

[2020-10-27 01:22] aortiz-msft commented on #5979
@GiampaoloGabba - Is there a reason why you can't use dotnet.exe pack?

cc: @JonDouglas

[2020-10-27 01:34] dominoFire commented on #10038
By reviewing SolutionUpToDateChecker code, it only works if the project is PackageReference or ProjectJson, see:

https://github.com/NuGet/NuGet.Client/blob/1dd5351295a5a0d092abcd2bd82ccbd730682dbe/src/NuGet.Clients/NuGet.SolutionRestoreManager/SolutionUpToDateChecker.cs#L105

For the other hand, when the original dependency graph is calculated, it includes projects and DotNetCliToolReferences as

[2020-10-27 01:35] edufur commented on #5979
Is there a reason they choose not to solve the issue?

-Eric

On Mon, Oct 26, 2020, 6:23 PM Arturo Ortiz <notifications@github.com> wrote:

[2020-10-27 01:43] dominoFire commented on #10038
Note: The checker only returns projects, not DotNetCliToolRestore packages/projects.

[2020-10-27 02:36] zivkan commented on #10183
@jimmylewis the spec you linked to has a big banner at the top saying "status: reviewing". Additionally, it links to https://github.com/NuGet/Home/issues/6764 which has the Epic label, and the issue is still open.  That is to say, CPVM is a preview feature. That is how CPVM will work when we deem it ready for GA. For now, it's preview, and therefore require customers who are willing to test previe

[2020-10-27 02:36] #10183 closed, assigned to nobody

[2020-10-27 03:59] AArnott commented on #10188
Thanks. Would that be someone on the nuget team that should drive this? It seems like a significant amount of work has already been done on the nuget team, but if it isn't seen through to completion, I'm afraid the spec and closed issue make it look like it should work when it doesn't.

I can perhaps help ping folks to look at those issues, but I certainly have no expertise with the nuget targets/

[2020-10-27 05:48] bksmart commented on #10186
Thanks for the response @zivkan. I will take care on not mentioning people and I apologize for that. Ok let me explain you my goals and scope of the implementation I want to achieve.

1. I have my features specific NuGet packages created with transform files attached to it which adds the entries in config files which work perfectly when adding the packages from the package manager IDE.

2. I have

[2020-10-27 07:38] v-luzh commented on #9933
Closing or not closing the solution/VS in step 2 will both run into this issue on D16.8\30623.59 + NuGet Client Release-5.8.x\5.8.0.6930.

[2020-10-27 10:04] Cellivar opened #10191 "VS Auto-Restore does not run CollectPackageReferences for non-SDK project files"
## Details about Problem

NuGet product used: VS UI

VS version (if appropriate): 16.7.6

OS version Win10 10.0.19041

dotnet --version: 3.1.403

## Detailed repro steps so we can see the same problem

1. Clone/download this repo: https://github.com/Cellivar/test-nuget-restore-problem
2. Open the Solution
3. Right-click the solution -> Restore NuGet Packages

There is no new folder in the project

[2020-10-27 15:29] jwillmer commented on #8580
@jcansdale I referenced your solution on [stackoverflow: How to push nuget package in GitHub actions](https://stackoverflow.com/questions/57889719/how-to-push-nuget-package-in-github-actions/58025355#58025355)

[2020-10-27 16:49] kartheekp-ms commented on #10075
AFAIK, `RestoreNetCore_MultipleProjects_SameToolDifferentVersionsAsync` is not a flaky test there is a race condition which I explained in [this comment](https://github.com/NuGet/NuGet.Client/pull/3704#discussion_r499262473).

[2020-10-27 16:51] kartheekp-ms opened #10192 "skip RestoreNetCore_MultipleProjects_SameToolDifferentVersionsAsync test"
skip `RestoreNetCore_MultipleProjects_SameToolDifferentVersionsAsync` test as per [this comment](https://github.com/NuGet/Home/issues/10075#issuecomment-716746748)

[2020-10-27 17:21] rrelyea commented on #10191
CollectPackageReferences is an extensibility point that I believe we are trying to wean people from, for perf reasons: see https://github.com/NuGet/docs.microsoft.com-nuget/issues/1941

We are working on a central version feature in nuget that may help your scenario?
https://github.com/NuGet/Home/wiki/Centrally-managing-NuGet-package-versions

[2020-10-27 17:26] dtivel opened #10193 "VS 2019: unable to install signed packages behind firewall"
A customer is unable to install signed packages in VS 2019 due to the network restrictions preventing X.509 chain building/revocation checking that is part of signed package validation.

I created this issue on behalf of the customer.

[2020-10-27 17:37] JonDouglas commented on #10184
Related: https://github.com/NuGet/Home/pull/10179

[2020-10-27 17:56] aortiz-msft commented on #9933
@v-luzh is this also true for 16.9?

[2020-10-27 18:01] kartheekp-ms commented on #10192
linked the PR to the original issue. Hence closing this one.

[2020-10-27 18:01] #10192 closed, assigned to kartheekp-ms

[2020-10-27 18:31] rrelyea commented on #10185
I'm trying to repro this problem.
I tried:
1) installing Ubuntu 20.04.1 LTS into WSL (on windows)
2) installed dotnet 3.1.xxx sdk via these instructions: https://docs.microsoft.com/en-us/dotnet/core/install/linux-ubuntu
3) type in man dotnet-nuget-push
Expected: see the message you are complaining about
Actual: No manual entry for dotnet-nuget-push

a) how do i get man pages setup for dotnet-nuget

[2020-10-27 18:32] Cellivar commented on #10191
I definitely understand the performance side of things, restore is noticeably affected.

What we're trying to accomplish includes an aspect of what the central package file attempts to accomplish. We have a 'default version' that we want projects in the same repo to use. This is built as a static list of `<PackageReference Update="Pkg.Id".../>` elements in a targets file. This aspect of the non-SD

[2020-10-27 18:52] nkolev92 opened #10194 "NuGet effective target framework inference support for C++/CLI projects"
This is a task that's supposed to help the C++ & project-system partners to fully implement https://github.com/NuGet/Home/issues/8195.

C++ projects have a complex framework approach.

Per @olgaark:

TargetFramework*/TargetPlatform* properties for C++/CLI are pretty much the same as for c#, so they should be used in nuget instead of just checking for .vcxproj extension. Also, C++/CLI can use/refer

[2020-10-27 19:16] zivkan commented on #10186
@bksmart As mentioned in [this doc](https://github.com/NuGet/NuGet.Client/blob/dev/docs/nuget-sdk.md) (which maybe I should link to from our docs.microsoft.com page on the NuGet SDK), the NuGet's team's primary concern is the tooling experience. This is how the vast, vast majority of our customers interact with NuGet. The SDK for other people to add NuGet functionality into their own apps, is basi

[2020-10-27 19:20] nkolev92 commented on #9803
I have updated the issue body calling out the way to test for the equivalence of these 2 experiences.

If you see a problem, do let us know by filling an issue.

[2020-10-27 19:25] nkolev92 commented on #10075
Thanks for taking care of this @kartheekp-ms!

I have retitled the issue and prioritized the issue based on it's impact.

[2020-10-27 20:18] jonathanpeppers opened #10195 "Multitargeted iOS/Android - Duplicate frameworks found: 'net5.0, net5.0'"
## Details about Problem

A multi-targed iOS/Android project:

[code]

`dotnet build` fails with:

[code]

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): dotnet

NuGet version (x.x.x.xxx): .NET 5.0.100-rtm.20509.5

dotnet.exe --version (if appropriate): 5.0.100-rtm.20509.5

OS version (i.e. win10 v1607 (14393.321)): macOS 10.15.7 (macOS-latest image on Azure DevOps)

[2020-10-27 23:55] rrelyea commented on #10195
@zkat @aortiz-msft - i repro with `dotnet build` on an RC2 build which includes 5.8.0.6860.
i also repro using 'msbuild restore' using 16.8.0-preview-20513-... which includes 5.8.0.6896
filer found it in an rtm build of dotnet.

my steps... dotnet new classlib
   replace targetframework with:
`<TargetFrameworks>net5.0-android;net5.0-ios</TargetFrameworks>`

//cc: @zivkan @nkolev92

known issue?

[2020-10-28 00:04] nkolev92 commented on #10195
Can we get a bin log from restore?

The SDK is supposed to translate the targetframework into different properties, TargetFrameworkMoniker and TargetPlatformMoniker.

On another note, the ios/android target platforms aren't supported with GA, so maybe that's what you are hitting.

[2020-10-28 01:19] dsplaisted commented on #10195
Looking at the binlogs, it looks like the Azure DevOps build is not importing the iOS and Android workloads.  Probably in this case the restore error is pre-empting the error you would get telling you that the workloads need to be installed.

So I suspect that the workloads aren't being installed, or are not being installed correctly, in Azure DevOps.

[2020-10-28 01:27] nkolev92 commented on #10195
I missed the fact that there was already a binlog.

Gonna look at it quickly.

[2020-10-28 01:30] nkolev92 commented on #10195
@dsplaisted

If you look at the failing log and search TargetFrameworkInformation, you'd see the props NuGet reads.

The TargetPlatformIdentifier is set, but not the moniker.
![Uploading stuff.png…]()

[2020-10-28 01:34] dsplaisted commented on #10195
Looks like the issue causing the restore failure is because the SDK doesn't set the TargetPlatformMoniker if the TargetPlatformVersion isn't set:

https://github.com/dotnet/sdk/blob/8514b0cea454c4db082fedc11d349612fed40183/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.targets#L1038

We probably need to set the TargetPlatformMoniker in this case, so that restore will succeed and we

[2020-10-28 02:10] jonathanpeppers commented on #10195
Ok, I think the workloads are probably installed to a different folder than the dotnet being used during the build. 🤦

I’ll look into this tomorrow, I think the only issue here is the error message needs to say X and Y workloads are not installed.

[2020-10-28 02:39] nkolev92 commented on #10188
Yes, I think so. The feature is NuGet driven, even if we don't own the codepaths in question.

I agree, that's very unfortunate.

I'll bring this up at our next triage meeting and add the outcome here.

[2020-10-28 04:13] donnie-msft commented on #8223
/cc @dominoFire

[2020-10-28 04:27] zivkan commented on #6398
The APIs listed in this issue were broken such a long time ago, that there's no benefit to bringing them back, so I'm closing this issue.

For what it's worth, we're now using Roslyn's PublicApiAnalyzers, and I try to catch changes to public APIs and I've significantly raised awareness of breaking API changes within the team, so this should be much less likely.

[2020-10-28 04:27] #6398 closed, assigned to nobody

[2020-10-28 10:31] marcin-krystianc commented on #10030
Thanks for looking at this. I wasn't even aware that there are newer versions of `log4net` which don't have this problem with a large dependency graph anymore.
I would like to emphasize though that I don't think that this is a problem with `log4net` or any other particular NuGet package.
As it has been shown in my previous comment, the main problem is that the restore algorithm suffers from expone

[2020-10-28 14:09] jonathanpeppers commented on #10195
https://github.com/xamarin/net6-samples/pull/39 works now, we can close this.

The problem was we were installing .NET 5 to `~/.dotnet/`, which was the default location on Azure DevOps. The workload installers expect `/usr/local/share/dotnet/` right now.

[2020-10-28 14:09] #10195 closed, assigned to zkat

[2020-10-28 15:41] jcansdale commented on #8580
@jwillmer,

Thanks for the heads up!

BTW, your example workflow can now look like this (no need for `source-url` in `setup-dotnet`):

[code]

[2020-10-28 16:23] kartheekp-ms commented on #10189
I agree noticed a problem when tests were executed in parallel. Found the dotnet/runtime issue linked above extremely helpful. Created a [PR](https://github.com/NuGet/NuGet.Client/pull/3732) to add double wait in test code.

[2020-10-28 18:01] rrelyea commented on #10189
I've asked on the runtime issue if doing the workaround is recommended. We should consider waiting for official response. (if the impact for our customers and us is large, workarounds until real fixes come are ok most of the time)

[2020-10-28 18:18] nkolev92 commented on #10030
We don't mean to suggest that it's only 1 package that has this problem. The bad perf is a function of the project refs + the depth of the log4net graph.
We know of the problems our complex package graphs caused in the 1.x, 2.x .NET Core days, which is why we've gone away from that.

We're aware of the worst time complexity, we're merely trying to understand the scenarios where this happens so we

[2020-10-28 19:14] rrelyea commented on #10191
@nkolev92  - CollectPackageReferences in VS for non-sdk projects? thoughts?

[2020-10-28 20:05] nkolev92 commented on #10191
It is unlikely to get solved.
The csproj.dll project system doesn't run targets right now. It doesn't even evaluate conditions.

See relevant issue: https://github.com/dotnet/project-system/issues/4175.

I think this is a won't fix at this point.

[2020-10-28 21:14] Cellivar commented on #10191
I was afraid that might be the result.

The only reason we have non-SDK projects at this point in time is the remaining ASP.NET projects in our codebase. Some are relatively small and will likely be converted in the near future to ASP.NET Core. Other represent a significant fraction of our total LoC and will not be converted for the foreseeable future. I see that [davkean commented on the long sta

[2020-10-28 21:25] nkolev92 commented on #10191
Personally, I'm not aware whether there's a mega document summarizing the differences and caveats, but the folks over at the project-system repo understand that better, so I'd defer to them about any such doc.

As far as NuGet is concerned, CollectPackageReferences is not even something that's currently documented.
The target existence does deviate from the goal to keep restore info evaluation bas

[2020-10-28 22:54] erdembayar commented on #10166
@nkolev92
I don't think download happen. Because it's same version I installed so many times, so it should be already cached on my local.
But 'upgrade/downgrade' technically does almost same thing, still under 1 min.  I believe it could be done similar time frame.

[2020-10-28 22:55] graphicsxp commented on #3891
Is this happening ? When can we expect the -IncludeReferencedProjects feature to be released ? With my team, we are currently considering going back to using nuget.exe + nuspec files as we have come across this issue with dotnet pack and this is causing us a real headache.

[2020-10-28 23:01] nkolev92 commented on #10166
The upgrade/download scenarios call different project system APIs from the install scenarios.
One edits metadata, the other one adds an item.

Are those measurements consistent?

[2020-10-28 23:08] graphicsxp commented on #3891
This will add the referenced projects dlls to the generated package.
But if the referenced projects also have dependencies on other nuget packages, those won't be added to the current package, will they?

[2020-10-28 23:12] graphicsxp commented on #3891
I think it's pretty clear what people need 😏.  It's no longer time for questions, the requirement is in the title of the feature and it should have been implemented a long time ago already. Can you make this happen please?

[2020-10-28 23:44] donnie-msft opened #10196 "UpdateDetailPaneAsync should do work on background thread"
[PackageManagerControl.UpdateDetailPaneAsync()](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.PackageManagement.UI/Xamls/PackageManagerControl.xaml.cs#L1052) is doing a lot of work on the Main thread.

This is causing perceivable slowness when operating the PMUI. For example, clicking Refresh triggers this event multiple times.
(Further refactoring could be done to minimiz

[2020-10-29 00:31] erdembayar opened #10197 "Investigate caching of GetPackageSpecs for Legacy package reference projects"
**Edit by @nkolev92**

Currently GetPackageSpecs for legacy PackageReference projects is UI thread bound.

* Causes UI delays
* Makes no-op for legacy PackageReference considerably slower than no-op for CPS projects.

Internal [UI delay](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1259546)

<hr/>

This is continuation of [Issue#9200](https://github.com/NuGet/Home/issues/9200)  which imp

[2020-10-29 00:35] nkolev92 commented on #10197
Assigning Pri2 for now.
I need to do some quick data exploration to determine whether a different priority is warranted.

cc @dominoFire

[2020-10-29 00:43] erdembayar commented on #9200
@nkolev92  @aortiz-msft
We're closing this issue. For netcore projects it was already just few milliseconds already and not much improvement room, actually adding locks for sake of concurrency safety was detrimental. But for `LegacyPackageReference` type projects effort resulted in not consistent improvement. See more details from [here](https://github.com/NuGet/NuGet.Client/pull/3605#discussion_r

[2020-10-29 00:43] #9200 closed, assigned to erdembayar

[2020-10-29 05:40] kobelobster commented on #10174
@heng-liu The question, however, would be, why does it not work when using `mono -configfile {configfile from dotnet command}` in combination with `dotnet nuget` commands? I posted the NuGet.config that resulted from the combination of the commands and the file had all necessary settings but still failed until I used `mono` for every command.

[2020-10-29 05:58] v-luzh commented on #4604
The bug is fixed on NuGet dev-dominofire-pmc-help-fix\5.9.0.13547. Close this issue now, thanks.

[2020-10-29 05:58] #4604 closed, assigned to dominoFire

[2020-10-29 06:12] mfkl commented on #9968
Somewhat related: Running the perf script in a non elevated PS prompt sometimes gives
[code]

[2020-10-29 07:22] mfkl commented on #4980
Ok, numbers with `dev` + https://github.com/mfkl/NuGet.Client/commit/bbb3980fa8212485c5752b2c975c85614fe13844 (no script changes). As I previously noted, running it multiple times shows quite some variations FYI.

[code]

Great, thanks.

[2020-10-29 09:23] matthewjones555 commented on #3891
Thank you, it's wonderful to see this issue if finally being taken seriously.

I'd like to easily create a nuget package that includes dependencies from projects that I don't wish to expose as their own individual packages.

So:

Package1.nupkg

Contains all binaries from:

Project1.csproj
Project2.csproj
Project3.csproj

Makes it a lot easier to create packages that have a mixture of private depe

[2020-10-29 12:16] rolfbjarne opened #10198 "Output is wrapped at 80 characters on macOS when redirected"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (5.6.0.6489):

VS version (if appropriate):

macOS 10.15.7

[code]

Worked before? If so, with which NuGet version: Don't know

## Detailed repro steps so we can see the same problem

Good output:

[code]

Bad output:

[code]

It doesn't turn out that bad for `nuget help`, but fo

[2020-10-29 13:57] TaiNguyen2406 commented on #6743
Is there any new solutions for this case?
Do I still need to use Msbuild target?

[2020-10-29 14:06] TaiNguyen2406 opened #10199 "Copying content files into the specific folder."
The problem is I need a way to copy content files into the specific folder of the project that is installing my NuGet package.

I can get a reference to it to show up in Visual Studio
![image](https://user-images.githubusercontent.com/23568713/97584215-60ce1800-1a2a-11eb-9839-42e6aeee51e7.png)
But what I need is real files, not a referral link.
something like this
![image](https://user-images.gith

[2020-10-29 16:21] #9953 closed, assigned to srdjanjovcic

[2020-10-29 16:25] dsplaisted commented on #10195
I've sent a PR to the SDK which should fix the error message here: https://github.com/dotnet/sdk/pull/14374

[2020-10-29 16:44] ps-weber commented on #6764
When `packages.lock.json` came out in 2018, a central lock file was suggested:
https://devblogs.microsoft.com/nuget/enable-repeatable-package-restores-using-a-lock-file/#solution-or-repo-lock-file

However, I no longer see this concept mentioned in the spec. Is this still planned?

[2020-10-29 16:48] tebeco commented on #6764
hello @ps-weber

This is unrelated to this issue.
Your question is about lockfile while this issue is about "Centrally Managing Package"

[2020-10-29 17:27] nkolev92 commented on #10081
Adding a couple of tags so we see it during perf sync-ups :)

You don't have to attend them, it's for my own awareness.

[2020-10-29 17:38] nkolev92 opened #10200 "[NuGet UI] Search dropdown does not show recent queries in NuGet Packages Manager window"
Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):  VS UI

NuGet version (x.x.x.xxx): 4.x, 5.x

Worked before? If so, with which NuGet version: No

## Detailed repro steps so we can see the same problem

1. Open any solution in VS Int Preview

2. Open in menu Tools -> NuGet Package Manager -> Manage Nuget Packages for Solution

3. Input search que

[2020-10-29 17:39] zkat opened #10201 "[NuGet UI] Search dropdown does not show recent queries in NuGet Packages Manager window"
Affected Branch: [27721.0.d15.8]
Affected Build: 15.8.0 Preview 2.0
Affected Product Language:

## Steps to reproduce:

1. Open any solution in VS Int Preview

2. Open in menu Tools -> NuGet Package Manager -> Manage Nuget Packages for Solution

3. Input search query to Search field

4. Click on Refresh button/any package/empty space to hide Search dropdown by losing focus from Search

5. Clear Se

[2020-10-29 17:40] nkolev92 commented on #10200
cc @donnie-msft

[2020-10-29 17:41] zkat commented on #10201
duplicate

[2020-10-29 17:41] #10201 closed, assigned to nobody

[2020-10-29 17:44] zkat opened #10202 "Grid columns for selecting project skipped with Tab but not with Shift-Tab"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): PMUI

NuGet version (x.x.x.xxx):

dotnet.exe --version (if appropriate):

VS version (if appropriate):  16.4

OS version (i.e. win10 v1607 (14393.321)):

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

This is a problem for both NVDA and

[2020-10-29 17:45] zivkan commented on #4980
Interesting, the restore time when it did not need to modify last modified times are about the same as when it does update the last write time. This doesn't line up with my microbenchmarks where checking the last write time, without updating it, was only very slightly slower than `File.Exists`, while updating the last write time was much slower (in percentage terms).

All your tests with the modif

[2020-10-29 17:45] nkolev92 opened #10203 "Allocation Spike/GC Pause: NuGet.ContentModel.Infrastructure.PatternExpression+TokenSegment.TryMatch"
In Visual Studio it was detected as a common allocation spike.

Relevant [info](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/958532).

[2020-10-29 17:46] nkolev92 commented on #10203
Dup of https://github.com/NuGet/Home/issues/8428....created by mistake

[2020-10-29 17:46] #10203 closed, assigned to nobody

[2020-10-29 17:48] ps-weber commented on #6764
@tebeco Thanks for the quick answer, it seems I misunderstood the article. I think the author suggests the `Directory.Packages.props` itself could function as a "central lock file". If I understand the spec correctly, this is not the case.

I also came across an (outdated?) article, which links to this issue and suggests a central `package.lock.json`: https://github.com/NuGet/Home/wiki/Centrally-m

[2020-10-29 17:49] nkolev92 opened #10204 "Allocation Spike/ GC Pause: NuGet.Client.ManagedCodeConventions.TargetFrameworkName_NearestCompareTest"
Identified as an allocation problem in [AzDO](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1064825)

[2020-10-29 17:53] tebeco commented on #6764
No worries

Regarding this thread, as @nkolev92 said few message earlier it's being reworked ;)

that's why this page shows it as "reviewing"
https://github.com/NuGet/Home/wiki/Centrally-managing-NuGet-package-versions

[2020-10-29 18:59] rrelyea commented on #10088
Moving out of 16.9. We'll maintain and improve 16.8 solution for now. Unsure when we'll move to better overall solution. Current blocked by VS SDK bug.

[2020-10-29 19:18] donnie-msft opened #10205 "Infer push endpoint by PackageType instead of extension"
Using the file extension to determine whether symbols are being pushed is not reliable.

## Repro:
Pack a `.snupkg` then change the file extension to `.symbols.nupkg`.
Push the `.symbols.nupkg`.

## Expected:
On `push`
1. `-SymbolSource` is required parameter since this is a Symbol push.
2. Error that the symbols.nupkg is invalid (PackageType differs from extension).

## Actual:

  PUT https://dev

[2020-10-29 19:30] donnie-msft opened #10206 "Pushing a folder\ with symbols pushes to the PackagePublish instead of SymbolPackagePublish"
Running this command, a snupkg is being pushed to the package endpoint, rather than the symbols endpoint.
`dotnet nuget push "repro\" --source "nugettest" --skip-duplicate`

Pushing to a specific set of files `repro\*.nupkg` or `repro\*.snupkg` does find the appropriate symbols endpoint as it applies. (except for this bug

@JonDouglas - should we officially support folder pushes? Our docs actually

[2020-10-29 22:28] rrelyea commented on #10034
fix shipped in 5.8

[2020-10-29 23:42] nkolev92 commented on #9968
Ah, interesting.

I've never run into that for our test repros.
The fallback folder is not used in 3.x and later, so maybe that's why.

[2020-10-30 01:09] aortiz-msft commented on #10163
@v-longmin  - Please attach solution with repro.

[2020-10-30 05:43] xuhongxu96 commented on #10134
I couldn't repro after splitting the steps. Let's close the issue.

[2020-10-30 05:43] #10134 closed, assigned to nobody

[2020-10-30 09:54] v-crchang commented on #10163
@aortiz-msft We think there is no need to attach the solution with repro since we found the issue is fixed on Main\30629.155+NuGet Client Dev\5.9.0.6947. Close this bug now, thanks.

[2020-10-30 09:54] #10163 closed, assigned to v-longmin

[2020-10-30 11:48] PawcioCNCProfi commented on #8957
I posted previous reply as an alternative solution. So original questions are no longer relevant for me.

[2020-10-30 14:00] v-luzh opened #10207 "[Suggestion] VS should not show redundant warning “Package ‘xxxxx’ does not exist in folder xxx\xxx”"
## Details about Problem
NuGet version: NuGet Client Dev\5.9.0.6947
VS Version: Main\30629.155
OS: Windows-10-Enterprise-19h2
## Detailed repro steps
1. Launch VS and click “Create a new project” button in the G2C dialog.
2. Create a project such as ASP.NET Web Site (Razor v3) and open the project PM UI.
3. Go to the “Browse” tab and install a package “Castle.Core”.
4. Uninstall the package “Castl

[2020-10-30 14:49] dtivel opened #10208 "Test: TestPackageManager_UpgradePackageFor_TopParentProject_Success is flaky"
TestPackageManager_UpgradePackageFor_TopParentProject_Success is flaky.

In dev it has failed 3/15 runs (20%).

In private branches it has failed 11/40 runs (27.5%).

[code]

[2020-10-30 15:35] dtivel commented on #10163
Those error messages were not duplicates; they differed in package source, so I think this is not a dupe of NuGet/Home#10034.  I suspect that the difference between expected and actual result was in the sets of active package sources in PM UI.

[2020-10-30 15:49] dtivel commented on #10193
On the same machine, installing signed packages succeeded with VS 2017 but failed with VS 2019.

Microsoft Visual Studio Enterprise 2019
Version 16.6.2
VisualStudio.16.Release/16.6.2+30204.135
NuGet Package Manager   5.6.0

Microsoft Visual Studio Enterprise 2017
Version 15.9.7
VisualStudio.15.Release/15.9.7+28307.423
NuGet-Paket-Manager   4.6.0

On VS 2019, the customer tried setting [`NUGET_CERT

[2020-10-30 15:49] #10193 closed, assigned to dtivel

[2020-10-30 16:16] zivkan commented on #9968
@mfkl that's not a bug in the perf script, it's a bug in your branch where you change the `.nupkg.metadata` file last write time. Your branch doesn't account for the difference between global packages folder and fallback folder. This is something that would need to be fixed before we can merge, assuming we get the perf impact to an acceptable level.

[2020-10-30 16:28] dtivel opened #10209 "VS: logging should indicate target project in start of package operation"
Installing a package to a solution (like NuGet.Client) yields output similar to the following partial output in the Package Manager output window pane:
[code]
While the end of installation indicates the target project:
[code]
...the start of installation does not.

This log line:
[code]
...would be improved if it mentioned the target project (or assets file):
[code]
While I write this, I also noti

[2020-10-30 18:17] nkolev92 commented on #8957
Thanks for following up.

Closing.

[2020-10-30 18:17] #8957 closed, assigned to nobody

[2020-10-30 18:50] dtivel opened #10210 "PM UI: Improve package installation performance on the solution level"
In VS 2019 16.7.6 it took ~17.5 minutes to install [System.Ben 1.0.1](https://www.nuget.org/packages/System.Ben/1.0.1) to all 82 projects in the NuGet.Client solution.
[code]
In VS 2019 16.9 P2 it took ~27 minutes to install.
[code]
Not only is 17 minutes too long to begin with, but the 10- minute regression is even worse.

I haven't investigated yet, so it's unclear exactly when the regression oc

[2020-10-30 19:19] nkolev92 opened #10211 "Add metadata to restore tests, make them go through the no-op codepath"
While I investigating https://github.com/NuGet/Home/issues/10068, I hit an known problem of the no-op codepath not being exercised in a good amount of unit test.

The reason is that the packagespec is not created with the same amount of details prod package spec would be.
In prod scenarios, all restores go through the restorerunner which calls https://github.com/NuGet/NuGet.Client/blob/c3219e49852

[2020-10-30 19:22] nkolev92 opened #10212 "A lot of the restore coverage relies on project.json instead of PackageReference tests"
These 2 are largely equivalent in the core restore part, but there are some slight differences.
We should move these tests to PR.

Related: https://github.com/NuGet/Home/issues/10211

[2020-10-30 19:37] gitfool commented on #9775
FWIW, it finally got a mention in the [GitHub Changelog](https://github.blog/changelog/2020-10-29-nuget-supports-api-key-option/) but the docs for [Configuring dotnet CLI for use with GitHub Packages](https://docs.github.com/en/free-pro-team@latest/packages/using-github-packages-with-your-projects-ecosystem/configuring-dotnet-cli-for-use-with-github-packages) still don't mention it. 🤔

[2020-10-30 20:27] #10112 closed, assigned to dtivel

[2020-10-30 20:36] dtivel commented on #9919
I created a simple Visual Studio extension that loads the "main" NuGet package when a command is invoked and installed this extension to both 16.7.6 and 16.9 Preview 2.

In 16.7.6 the following assemblies were loaded on NuGet package load (in order):

- NuGet.Tools.dll
- NuGet.VisualStudio.Common.dll
- NuGet.PackageManagement.UI.dll
- NuGet.PackageManagement.dll
- NuGet.Configuration.dll
- NuGet.V

[2020-10-30 21:11] aortiz-msft opened #10213 "Validate Search branch before merging into Dev"

[2020-10-30 21:58] aortiz-msft commented on #10174
@kobelobster - Would you please create a new issue for your last question? It seems quite different from the original problem tracked by this issue: "Adding two trusted-signer of the same domain fails for one index"

[2020-10-30 21:58] CaspianTern commented on #7688
Thank very much for this answer!!!!!!!! U saved my night! <3

[2020-10-30 22:02] rrelyea commented on #10199
Believe this is a duplicate of: https://github.com/NuGet/Home/issues/8779

[2020-10-30 22:11] aortiz-msft commented on #10210
cc @nkolev92

[2020-10-30 23:24] augustoproiete opened #10214 "Ability to restrict nuget package to specific feed"
(_or one possible way NuGet could improve the `dotnet restore` story around failed sources_)

I understand that the current behavior is by design (#7035, #7015, #6373) and I'm proposing improvements to it.

---

Today all of our builds were broken because of

1.) `dotnet restore` requires that every single package source to be accessible

**and**

2.) [MyGet had an outage](https://user-images.gith

[2020-10-31 00:01] nkolev92 commented on #10214
Hey @augustoproiete,

Thanks for filling this issue. Dup of https://github.com/NuGet/Home/issues/6867.

[2020-10-31 00:01] #10214 closed, assigned to nobody

[2020-10-31 11:46] TFTomSun opened #10215 "Visual Studio does not have a gesture to reevaluate lock file."
Normally, Visual Studio restores the latest package version on rebuild when you use a non-prerelease floating version ('&ast;'). I expect the same behavior with the floating prerelease version '&ast;-&ast;'.

I have created demo repository with 3 projects:
https://github.com/AppGates/AppGates.Build.Versioning

It uses Nerdbank.Versioning. The ExternalLibrary is referenced as a PackageReference in

[2020-10-31 12:43] TaiNguyen2406 commented on #10199
No, I don't think it is similar to #8779

It is more similar to #6743 and I used this workaround using MSBuild and it worked but I wonder why doesn't Nuget support or any official document for this case?

[2020-10-31 21:07] kzu commented on #3891
FWIW, I think this is a side-effect of a (very) bad default value for IsPackable in SDK Pack. It assumes anything you don't *opt out* of packing, is actually a package. And therefore everything ends up creating packages, everything ends up being dependencies instead of embedded assets, etc.

I'd change this to the way it works in NuGetizer: if you provide a PackageId, you're opting in to IsPackabl

[2020-11-02 11:24] gouhan commented on #8169
I also has this problem when i used jenkins automaticly build c# project with command "dotnet restore".
the server is windows 2008R2.
but it works well as in my own develop computer.
the error shows  details below:
![image](https://user-images.githubusercontent.com/8605053/97862853-02ae7700-1d41-11eb-9030-bb2fe24f7d71.png)

[2020-11-02 18:29] dominoFire opened #10216 "Prioritize area backlogs for Customer month"
Ownership areas

- PMC
- NuGet CLI
- Telemetry
- World Readiness

[2020-11-02 18:36] nkolev92 commented on #9810
S179...blocking issue not fixed yet.

[2020-11-02 19:35] nkolev92 commented on #10210
Started a thread in the triage channel, as I think the `Regression` label suggests high priority, so I want to make sure someone gets to look into this sooner rather than later.

[2020-11-02 19:41] timheuer commented on #9007
Will this also not just be about smart context menus, but the visual indicator in solution explorer as well?

[2020-11-02 19:43] nkolev92 commented on #10210
Ideas for the initial investigation before digging deeper:

* Does this negate the wins from https://github.com/NuGet/NuGet.Client/commit/53a7cf2b5b600cf46bc49285e1ae6f4cf887346b.
* Is there a regression with single project installations?

[2020-11-02 19:44] donnie-msft opened #10217 "``nuget.exe push *.nupkg`` doesn't push more than one file"
The nuget.exe counterpart to https://github.com/NuGet/Home/issues/4393 where the `dotnet.exe` experience was fixed, but we didn't want to break nuget.exe outside of a major release.

https://github.com/NuGet/NuGet.Client/pull/3739#issuecomment-720481177

[2020-11-02 19:46] anangaur commented on #9007
@nkolev92, not sure if you wanted to include the visual indicators too as part of smart context menus (I assumed so because of the VS Mac analogy). If not, we should create another issue to track the visual indicators. /cc: @JonDouglas

[2020-11-02 20:17] nkolev92 commented on #9007
I think my idea was to cover the indicators too.

The engineering work for determining whether it's applicable and showing the indicator is equivalent.

[2020-11-02 21:27] heng-liu commented on #10125
I could repro on VS16.6, 16.7, 16.8 preview3 and 16.9 int preview2.
So this should not be a regression from previous RTM.

[code]

[code]

[2020-11-02 21:37] zkat commented on #10113
Closing per https://github.com/NuGet/Home/issues/10113#issuecomment-704603125

[2020-11-02 21:37] #10113 closed, assigned to zkat

[2020-11-02 21:39] zkat commented on #10133
@rconard can you paste your summary on this and close this?

[2020-11-02 21:42] nkolev92 commented on #10125
removing the high priority status.

@heng-liu Should we move this to `New Issues` to get it retriaged?

[2020-11-02 21:42] zkat commented on #10138
We don't intend to do this, because it goes against the SemVer standard (because build metadata is not a discriminator of package versions).

[2020-11-02 21:42] #10138 closed, assigned to nobody

[2020-11-02 21:53] zkat commented on #10157
I'm going to follow up with Tim and open new issues for some weird docs issues in `dotnet nuget push --help`

[2020-11-02 22:08] aortiz-msft commented on #10190
Anything left to do here @zivkan ?

[2020-11-02 22:08] dsplaisted opened #10218 "Empty frameworkReferences groups should be generated when packing multitargeted projects"
Pack the following project:

[code]

**Expected**: NuGet package has an empty `net5.0` group under frameworkReferences.
**Actual**: No `net5.0` frameworkReferences group:

[code]

This means that if a project that targets `net5.0` references this NuGet package, it will resolve the netcoreapp3.1 frameworkReferences group, which will add a reference to the WindowsDesktop shared framework, which will

[2020-11-02 22:10] zivkan commented on #10190
I don't know why merging the PR didn't close the issue automatically :(

[2020-11-02 22:10] #10190 closed, assigned to nobody

[2020-11-02 22:11] rconard commented on #10133
https://github.com/NuGet/Home/issues/10115

[2020-11-02 22:11] #10133 closed, assigned to rconard

[2020-11-02 22:16] nkolev92 commented on #10218
@aortiz-msft @zkat

This is an old bug that's affecting the SDK.

The solution to add a group for every known framework if *any* framework reference exists.

[2020-11-02 23:10] donnie-msft opened #10219 "VS UI Error Handling"
Epic tracking refactoring in various areas where NuGet doesn't handle errors, and results in commonly confusing scenarios (eg, VS closing, cryptic error messages, user unaware of an error, excessive telemetry).

[2020-11-02 23:16] donnie-msft commented on #10202
@zkat where was this issue reported from so I can see the full context?

[2020-11-02 23:18] donnie-msft commented on #7853
@anangaur for the 4 remaining tasks, I've added issues I believe are relevant. Do you happen to know the source of the tasks you listed here? Some of them are contradictory to recent reports.

[2020-11-02 23:56] donnie-msft opened #10220 "VS UI Package Sources"
Epic tracking Package Source management within VS.

[2020-11-03 00:00] stevenbrix commented on #6764
Will this be the default behavior for VS/Nuget management of packages? It would be really nice if this was done automagically for you when using VS to manage nuget packages

[2020-11-03 00:02] donnie-msft commented on #10176
I caused this regression in 16.7 and it's on my plate.
Duplicate: https://github.com/NuGet/Home/issues/9887

[2020-11-03 00:02] #10176 closed, assigned to sbanni, rrelyea, dtivel

[2020-11-03 00:09] donnie-msft opened #10221 "VS SDK Improvements"
Epic tracking improvements to SDK and APIs for VS in general, or the PMUI specifically.
Both internal and external customers are in scope.

[2020-11-03 00:18] nkolev92 commented on #8398
@donnie-msft's doing his UI triaging so he pointed out this issue.

This is really a question for the project-system team.

The way NuGet writes the packages lock file is by writing to a temp file in the same dir and then renaming.

The project-system seems to detect this file and but then when it gets removed it retains the ref?
Unsure, moving it to their repo, so they can determine if this is a

[2020-11-03 00:22] heng-liu commented on #10125
The complete contents is:
[code]

[2020-11-03 00:39] #8398 closed, assigned to nobody

[2020-11-03 00:59] tebeco commented on #6764
I'll let Nuget team answer correctly there. But here is what you can already observe today :
* As of today nothing will change for existing SDK => meaning `3.1.x` will need an explicit props to activate it (and the support is limited to few feature IIRC)
* For newer SDK (probably starting 5.0, not sure at all) this will be activated when the file is detected as "existing"
* For VS, if you use `Vis

[2020-11-03 01:09] donnie-msft commented on #10105
Our removal of Bower is coverred in #6623

[2020-11-03 01:17] donnie-msft commented on #10105
Dupe of https://github.com/dotnet/aspnetcore/issues/27480

[2020-11-03 01:17] #10105 closed, assigned to nobody

[2020-11-03 01:35] v-luzh commented on #9933
@aortiz-msft , Yes, it still repro on VS Main\30701.15 (that is 16.9 Preview2 now) + NuGet Client Dev\5.9.0.6951 following the steps.

[2020-11-03 01:46] nkolev92 commented on #9933
I want to come back to my point in an above comment:

It's possible that the project-system is flaky detecting those files there.

@v-luzh said:

I think my question was about the packages.lock.json.

My expectation is that NuGet is doing the expected thing, and the only contentious point here is the project-system detecting the files.

My proposal is to close this issue/move it to project-system

[2020-11-03 04:35] donnie-msft commented on #2660
In 16.8, spacebar does indeed work on the Select All checkbox.
Reframing this Issue to the secondary request to support ways to select Projects that have the selected project installed.

[2020-11-03 04:45] donnie-msft commented on #7882
This isn't really a highlight, but the Selected Package styling is showing while the Update is in progress.

[2020-11-03 04:50] donnie-msft commented on #10200
No repro on Version 16.9.0 Preview 2.0 [30701.28.main]
![image](https://user-images.githubusercontent.com/49205731/97950839-2f28ba00-1d66-11eb-85c7-75a2825d3daa.png)

[2020-11-03 04:55] donnie-msft commented on #10200
Closing as I can't repro. @nkolev92  if you have a repro, please reopen

[2020-11-03 04:55] #10200 closed, assigned to nobody

[2020-11-03 05:02] donnie-msft opened #10222 "VS UI Settings Improvements"
Epic tracking improvements to VS Settings as they apply to VS UI.

[2020-11-03 05:18] donnie-msft commented on #2660
Since this issue was more focused around something that is already shipped, I'm going to close the 2nd request as a duplicate.
Dupe of https://github.com/NuGet/Home/issues/9081

[2020-11-03 05:18] #2660 closed, assigned to nobody

[2020-11-03 05:18] donnie-msft commented on #9081
From https://github.com/NuGet/Home/issues/2660:

[2020-11-03 05:27] donnie-msft commented on #9081
From https://github.com/NuGet/Home/issues/7960

[2020-11-03 05:27] donnie-msft commented on #7960
Dupe of https://github.com/NuGet/Home/issues/9081

[2020-11-03 05:27] #7960 closed, assigned to nobody

[2020-11-03 05:49] donnie-msft commented on #5847
Tested Narrator in Version 16.9.0 Preview 2.0 [30701.28.main] and changing tabs does read the search term on the new tab.
Closing due to no repro.
Also, I will be changing this behavior so that Browse search term is independent of Installed/Updates/Consolidate search terms: https://github.com/NuGet/Home/issues/10148

[2020-11-03 05:49] #5847 closed, assigned to nobody

[2020-11-03 05:55] donnie-msft commented on #2873
I'm assuming this is referring to the Projects list with checkboxes over in the Details pane on the right.
Dupe of https://github.com/NuGet/Home/issues/9081

[2020-11-03 05:55] #2873 closed, assigned to nobody

[2020-11-03 05:55] donnie-msft commented on #9081
From https://github.com/NuGet/Home/issues/2873

[2020-11-03 06:04] donnie-msft opened #10223 "VS UI PM Filtering Improvements"
Epic tracking improvements to PM UI filtering options.

[2020-11-03 06:14] donnie-msft commented on #5394
@JonDouglas I recently had a chat with you regarding some rearranging these controls to make more sense.
Did you create any tracking issues, or should I do that?

[2020-11-03 08:50] roji commented on #6764
I gave this a try, and it's working well using dotnet SDK 5.0.0-rc2. However, when running `dotnet msbuild` (as opposed to `dotnet build`) it doesn't get picked up, and I'm getting "X does not contain an inclusive lower bound ...".

Am I doing something wrong, or is this an issue that needs to be raised with MSBuild or something?

[2020-11-03 08:53] tebeco commented on #6764
The error message `X does not contain an inclusive lower bound ...` means that the attempted `PackageReference` did not found any associated version.
So there's either
* A typo in package name
* A typo in package version name
* A file not "seen/detected" (file are can sensitive on non-windows OS)
* Might need to explciitly enable that feature for now with a props
* Are you using Cross targettings

[2020-11-03 09:39] jozefizso opened #10224 "NU1403: Package content hash validation failed for System.Diagnostics.Debug.4.3.0"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI

NuGet version: 5.7.0.6726

VS version (if appropriate): 2019 16.7.7

OS version (i.e. win10 v1607 (14393.321)): Windows 10 2004

Worked before? If so, with which NuGet version: Yes, 5.7.0.6726

## Detailed repro steps so we can see the same problem

1. We removed reference to Serilog.Sin

[2020-11-03 10:08] roji commented on #6764
@tebeco please read my above message carefully - things work just fine when doing `dotnet build` (implying that there's no typo), but fail when doing `dotnet msbuild`.

[2020-11-03 10:55] tebeco commented on #6764
You are right, I should have be more precise,
* This is working fine for me with `dotnet build` and there's no repro provided to compare

The error you have is still the same, and still means that it coul
as it's working for me here, so I could only try to guess without a repository to test against this is why i was asking about edge case.

[2020-11-03 11:43] sjmorgan81 opened #10225 "Update-Package -Reinstall rewrites config files spuriously"
When doing `Update-Package -Reinstall -ProjectName ...` using the Package Manager Console, it will rewrite the .csproj, packages.config and (in the case of an ASP.NET Web Forms project) web.config. Some examples from the last time I ran it:

 - It changed the `targetFramework` for every line of the packages.config
 - ![image](https://user-images.githubusercontent.com/38432155/97977800-a42adc80-1dc

[2020-11-03 13:21] roji commented on #6764
@tebeco apologies, after looking more closely, `dotnet msbuild` does seem to work from the command-line for my case; this seems to be more of an IDE-related issue (I'm using Rider). I'll investigate further.

[2020-11-03 13:22] tebeco commented on #6764
arg, this is not going to be fun ^^

[2020-11-03 14:54] zivkan commented on #6764
It wasn't originally the plan to, but depending on feedback, it could change. Of course, that'd raise a whole bunch of questions about how to make it default without risking breaking projects/solutions. But that's all part of the product development process. But since the feature is still in early preview, I think it's much too early to work out "on by default" problems.

On the topic of being in

[2020-11-03 14:57] zivkan opened #10226 "[CPVM] preview warning should be shown on dotnet cli"
It appears that the [message that was added to warn that CPVM is a preview feature](https://github.com/NuGet/NuGet.Client/pull/3376) is not being displayed on the dotnet cli.

[2020-11-03 15:05] tebeco commented on #6764
Well this is a general issue that can be observed from years now. If the craftmanship does not comes from Microsoft it is not going to be an adopted standard.
So this would definitly be a good thing in the long run that "clean architecture" is being promoted by Nuget Team and Vs Teams:

* Lockfile have a very low adoption rate, and as of today is the best way to "avoid risking project/solution"
*

[2020-11-03 15:53] stevenbrix commented on #6764
💯. I can't stress how much MS needs to have conviction in the tech we build and guide users down the right path.

This one seems fairly easy to make the default. Does this feature support more than one Directory.Packages.props (like Directory.Build.props)? If so, VS could detect which projects all have the same packages versions and the next time you update packages in VS, drop the files on disk w

[2020-11-03 17:04] StingyJack commented on #5847
NICE!

[2020-11-03 17:41] dtivel opened #10227 "Error List: spec migratation from ITableManager API's to new Nexus service"
In order to fix https://github.com/NuGet/Home/issues/10140, NuGet needs to migrate from older ITableManager API's to a newer Nexus-ready service.

This is a prerequisite for https://github.com/NuGet/Home/issues/10140.

[2020-11-03 17:47] donnie-msft commented on #7853
Checked with anangaur and the context on these issues is lost. I've linked issues I think are relevant.
Closing as duplicate

[2020-11-03 17:47] #7853 closed, assigned to rrelyea

[2020-11-03 17:56] donnie-msft opened #10228 "VS UI Usability Enhancements"
Epic tracking enhancements to PM UI in terms of its usability.

[2020-11-03 18:08] donnie-msft commented on #9262
@nkolev92 did you try the `Home` key? I'm not clear on the problem or suggestion.

[2020-11-03 18:20] nkolev92 commented on #10200
@donnie-msft Did you see the azure devops issue I linked?
I moved it from there, I have not attempted to repro it myself.

[2020-11-03 18:25] donnie-msft commented on #10200
@nkolev92 Yes I did, it has the exact same repro steps.

[2020-11-03 18:25] nkolev92 commented on #8398
Moved to [CPS](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1241836) after that,

[2020-11-03 18:31] nkolev92 commented on #9262
Home key leads you to the top, not what you need.

I think this is fixed (or maybe never was a problem, not sure, this was from an old accessibility pass.).

The gesture is the following:

* You can use the arrows to navigate.
* When on a specific source, use `Tab`, that should take you to the editable area.

[2020-11-03 18:32] nkolev92 commented on #10200
If you read the issue and it's comments, then I have no additional information that I can add.

[2020-11-03 18:51] donnie-msft opened #10229 "VS UI Usability Bugs"
Epic tracking bug fixes to PM UI related to its usability.

[2020-11-03 18:52] donnie-msft opened #10230 "VS UI Screen-Reader Improvements"
Epic tracking fixes & enhancements to PM UI and how it works with screen-readers (eg, NVDA, Narrator).

[2020-11-03 18:54] donnie-msft opened #10231 "VS UI Keyboard Navigation Improvements"
Epic tracking fixes & enhancements to PM UI and how it works with keyboard navigation (eg, shortcut keys, tabbing).

[2020-11-03 18:56] sbanni opened #10232 "Not caching installed package metadata in codespaces"
We did work to cache the latest version of a package in the PM UI but if the package is already installed and you select the installed tab the PM UI will want to show you the installed version of the latest, which we will have to gather instead of using a fast cached item.

[2020-11-03 19:11] donnie-msft commented on #7957
@chgill-MSFT I made this an Epic since it's pretty broad. I know there's ongoing work to spec out Readme's. Can you please link those here (directly or to the Epic) so I can understand the full scope? Thank you!

[2020-11-03 19:32] donnie-msft opened #10233 "VS UI Functionality Enhancements"
Epic tracking enhancements to PM UI in terms of new functionality or improvements to existing functionality.

[2020-11-03 21:00] mrtristan commented on #9882
@donnie-msft i hit this pretty regularly. you mention speed being a factor. are you saying that if i give it more time before i change tabs it shouldn't happen?

[2020-11-03 21:02] dtivel commented on #9919
Need to consider NGen-ing NuGet.VisualStudio.Contracts.dll and NuGet.VisualStudio.Internal.Contracts.dll, since JIT-ted methods was also a regressed RPS scenario.

[2020-11-03 21:31] donnie-msft commented on #9882
@mrtristan Yes, as a workaround until the bug is fixed, you'd need to wait until the Latest Version is determined for all packages in the list, which are checked against all package sources (as shown in your Dropdown in the upper right).

The `null` is because the latest hadn't been determined yet for at least 1 package selected for update.
So, either wait longer or reduce the selected package sou

[2020-11-03 21:42] mrtristan commented on #9882
sure. as an fyi (in case it's relevant) my flow involves (all clicking as quickly as possible)
- right click solutions manager
- go to updates tab
- search for the set of of packages i'm looking to update (all have same prefix, about 10 of them)
- hit select all
- hit update up top

all of the visible search results had resolved already i thought (which is how they got in the list in the beginning

[2020-11-03 21:46] aortiz-msft commented on #7778
@zkat - https://github.com/NuGet/Home/issues/4491, which points to this issue, has 47 upvotes. Might want to consider for Sprint 179.

[2020-11-03 21:51] donnie-msft opened #10234 "Tabbing through PMUI in the reverse should mirror forward direction"
Once you Shift+Tab to the TabControl, you can no longer Shift+Tab to return to the previously focused control.
Tab allows you to cycle through controls indefinitely.
/cc: @dominoFire  @rrelyea

**Bug: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1241745**

Environment Details:​
Microsoft Visual Studio Enterprise 2019 Preview
Version 16.8 Preview 6.0
OS Details:
Windows 10 Enterprise
Vers

[2020-11-03 22:10] heng-liu commented on #10125
Checked with C++ team offline, get the following reply:

So I closed it as it's not a bug.
If anyone found the current position of props in .vcxproj file breaks any user scenario, pls reopen it or raise a new issue. Thanks.

[2020-11-03 22:10] #10125 closed, assigned to heng-liu

[2020-11-03 22:19] donnie-msft commented on #7151
I had already found this pixel and believe it may already be fixed, but going to link to my Epic to repro later and verify.

[2020-11-03 23:04] mrtristan commented on #4176
@donnie-msft not sure if related, let me know if i should open a new issue. tried searching which brought me here.

I find that package updates basically pause if focus is not kept with VS. from a workflow perspective i will usually hit update and then go do something else while i wait. for a while now i've found that as soon as i alt-tab away everything pauses. when i alt-tab back and click in th

[2020-11-03 23:42] donnie-msft commented on #4176
@mrtristan please report a separate issue for that one... that's interesting and we definitely need to investigate there.

[2020-11-04 07:58] #10146 closed, assigned to srdjanjovcic

[2020-11-04 08:08] v-luzh commented on #8963
Same issue happen when focusing on the "Package sources"/"Version"/"Dependency behavior"/"File conflict action" drop-down box in PM UI as below screenshot.
![image](https://user-images.githubusercontent.com/20632625/98085207-f6005f00-1eb7-11eb-81f6-76797d6ab940.png)

[2020-11-04 13:27] zivkan commented on #9919
@dtivel don't those assemblies get JITed automatically since the first time the assemblies were inserted into VS?  Our VS package loads them every time our package is loaded, hence the first OptProf training after insertion should provide ngen data, right?

[2020-11-04 17:45] #9091 closed, assigned to kartheekp-ms

[2020-11-04 19:02] #4393 closed, assigned to donnie-msft

[2020-11-04 19:54] kzu commented on #6277
Hey @iskiselev could you try the latest nugetizer and see if it works for you? I'm using it in two quite complicated packaging scenarios (https://github.com/kzu/avatar and https://github.com/moq/moq) and it's working just fine with multitargeting from a packaging project (I'm using .msbuildproj as the packaging project now, since it has built-in support in VS).

[2020-11-04 20:20] kzu commented on #6270
cloned, updated to nugetizer with:

[code]

and removed all MSBuild customizations in the project. Updated that PR at https://github.com/migueldeicaza/TldExtract/pull/1.

and got:

![image](https://user-images.githubusercontent.com/169707/98163464-a1fa7800-1ec1-11eb-82d3-7d725a0983a9.png)

[2020-11-04 22:02] dtivel commented on #9919
@zivkan,

Since those 2 new contracts assemblies have been added, they have always been JIT-ted on a machine, never NGen-ed.  OptProf will not provide training data for these assemblies because we have not configured OptProf to profile the assemblies.

During OptProf's profiling phase, tests are run and training data are collected for assemblies.  NuGet provides input (via [build/OptProfV2.props](

[2020-11-04 22:34] #9301 closed, assigned to nkolev92

[2020-11-04 22:36] zivkan commented on #9919
Thanks @dtivel, that was very interesting.

For what it's worth, Roslyn calls `NuGet.VisualStudio.Contracts`'s `INuGetProjectService.GetInstalledPackagesAsync` on every project load. Hence, I think that ngening that assembly has potential to improve solution load perf. Their first insertion after starting to use this API, they had to request an exception because it wasn't getting ngend and their R

[2020-11-05 01:13] donnie-msft commented on #9262
No repro Version 16.8.0 Preview 6.0

[2020-11-05 01:13] #9262 closed, assigned to nobody

[2020-11-05 02:37] hallipr commented on #9879
It's my understanding that there has never been an intention to reproduce dependency contents in a consumer package.

Direct dependencies, through the defaults IncludeAssets="All", ExcludeAssets="None", PrivateAssets="Content,Build,Analyzers", get all of the benefits / use all of the assets of the package they depend on.  Transitive packages, deep dependencies, don't include Content, Build, or Ana

[2020-11-05 02:51] zivkan commented on #10186
Please reply if my previous comment didn't answer your questions, but as stated, I believe this is "by design". NuGet's SDK doesn't provide classes to modify csproj files.

[2020-11-05 02:51] #10186 closed, assigned to nobody

[2020-11-05 14:34] dominoFire opened #10235 "Icon file validation by analyzing file content"
When working with embedded icon, at pack time, validate that icon file is, in fact, an image.

To doing so, NuGet should verify if those files complies with supported image formats: PNG and JPEG.

We cannot rely on WPF at pack time because NuGet is intended to work cross-platform and currently , WPF only works with Windows.

A possible solution would be to check magic numbers in file headers.

[2020-11-05 16:07] DavidReynolds1976 commented on #3324
I've resorted to manually editing the packages.config and copying the relevant folder from another location into the packages folder (for .NET framework projects, I haven't had an issue with .NET Standard yet.)

[2020-11-05 16:29] MV10 commented on #3891
Wow, a mere 48 hours before this thread enters its fifth year...

[2020-11-05 16:33] voroninp commented on #3891
.NET 5, 5th year... Coincidence? I don't think so =D

[2020-11-05 18:14] zkat commented on #10177
Note to self: this might be working by now, so just need to take a look with the latest and greatest.

[2020-11-05 18:20] zkat commented on #10181
@v-luzh hey, do you mind seeing if you can repro this issue?

[2020-11-05 18:23] zkat commented on #10181
@v-luzh do you mind taking a look at this and seeing if you can repro it?

This is potentially a duplicate of https://github.com/NuGet/Home/issues/4488

[2020-11-05 18:36] #10198 closed, assigned to nobody

[2020-11-05 20:01] donnie-msft commented on #9851
Still repro's in 16.8.0 Preview 6.
My guess is it's reading the item and then the name (or some other property).
I thought we had a known issue somewhere, but I can't find it. Maybe something like https://github.com/microsoft/fluentui/issues/7052

[2020-11-05 20:15] nkolev92 commented on #10075
Clearing out the metadata.
This is a restore problem that I don't think needs fixing because of the extremely low impact.
I don't expect non special tool scenarios to hit this.

[2020-11-05 20:45] zivkan commented on #10075
It was causing a large number of test failures and was very annoying 😛

[2020-11-06 00:06] rogerdc commented on #7347
I am seeing this when I attempt to migrate my .NET Framework (4.8) package to use PackageReference instead of packages.config.

When I try to migrate, here is the output:

[code]
Visual Studio Info:
[code]

Are there any updates? Does anyone have any suggestions on what I can do to get my solution migrated?

[2020-11-06 00:55] nkolev92 commented on #9686
Hey all,

I appreciate the time taking to file this issue.
Performance of restore in Visual Studio (and especially unnecessary restores) has been a recent focus of ours and we've done 3-4 large changes in this space that we hope will *improve* this behavior.

We still have lots of room for improvements, but given that we don't have a clear repro here, I'm going to close this issue.

I'd be happy t

[2020-11-06 00:55] #9686 closed, assigned to nobody

[2020-11-06 06:29] nkolev92 commented on #9173
In later investigations, Cristina confirmed that latest dev is working correctly.

[2020-11-06 06:29] #9173 closed, assigned to nobody

[2020-11-06 06:35] nkolev92 commented on #8905
I imagine this has either been completed or has long lost the context.

Feel free to re-open if I'm wrong.

[2020-11-06 06:35] #8905 closed, assigned to dtivel

[2020-11-06 06:56] nkolev92 commented on #8101
Given that we haven't received a response, closing this as no repro.

Happy to reconsider/triage a new issue as necessary.

[2020-11-06 06:56] #8101 closed, assigned to nobody

[2020-11-06 06:59] deokershesh opened #10236 "NuGet external dependencies"
I have One NuGet Package, which will work only when some other piece of Software is downloaded (may be from Github) and extracted. Hence, how do I tell NuGet during installation that, it needs to go to Github link, download the file, extract the same?

In short, is there anyway, I could tell NuGet to take action outside NuGet.org link? If so, how could I achieve the same?

In case of Python, we ca

[2020-11-06 07:18] nkolev92 commented on #9019
Closing as not a bug.

[2020-11-06 07:18] #9019 closed, assigned to nobody

[2020-11-06 08:06] mfkl commented on #4980
Running these benchmarks on both `dev` and my branch produced quite some different results on many successive runs. My opinion is that if you are going to be looking at fractions of seconds diffs, then the current perf script (e.g. starting an exe manually) won't provide reliable perf results.

Yes, I'll try to put that together and let you know.

[2020-11-06 08:31] kobelobster commented on #10174
@aortiz-msft I created a new issue https://github.com/dotnet/runtime/issues/44346
Think it fits there more than it does here, right?

[2020-11-06 09:04] rajendar123 opened #10237 "Central version from Directory.Packages.props"
Hi Everyone,

We are looking for centrally managing NuGet package versions for .Net 4.8 projects at repo level. We just went went through the [article](https://github.com/NuGet/Home/wiki/Centrally-managing-NuGet-package-versions). Is this functionality valid only for .Net core projects? Is there any way achieve it .Net 4.8 projects also.

Regards,
Rajendar.

[2020-11-06 14:09] zivkan commented on #4980
Perhaps running the script more times, or changing the script to execute more runs, will increase our confidence. This is exactly what BenchmarkDotNet does when it detects what it's running has high standard deviation. Low standard deviation benchmarks run 15 times, high standard deviation benchmarks get up to 100 runs.

The randomness/variability of starting an exe is the same between the dev and

[2020-11-06 21:29] nkolev92 opened #10238 "Introduce an insertion gate for the RPS tests"
Over the last few months, we've made a lot of progress creating the RPS lab and adding lots of tests and dashboards to track that performance: https://github.com/NuGet/Client.Engineering/blob/main/docs/Performance-RPS-Tests.md.

Our focus for the RPS tests have been establish metrics for `restore time`, `restore count` & eventually `solution load time`.

We should investigate a way of introducing

[2020-11-06 21:37] erdembayar commented on #10166
@nkolev92
Yes, it's consistently slow.

[2020-11-06 21:54] erdembayar commented on #10091
Removing "Perf" label since it's not really stressing performance, it's just bug.
Maybe we can move to "Ice box" because no one is complaining, now I understand powershell more than before. It's already not perfect thing, actually it's best to restart VS this situation because we already import different .psm1 files which is polluting powershell, same time we can't un-import/remove what is already

[2020-11-06 22:42] nkolev92 commented on #9782
We have some experimentation we need to do...assigning to this sprint with 10pts.

[2020-11-07 00:08] erdembayar commented on #10210
@dtivel
Hi. I can see 84 projects in Nuget.Client, so which 2 projects you're skipping when you do installation?

[2020-11-07 00:11] nkolev92 commented on #8071
Maybe fixed by https://github.com/NuGet/NuGet.Client/pull/3726 and https://github.com/NuGet/NuGet.Client/pull/3644.

[2020-11-07 00:21] nkolev92 commented on #10029
@jozefizso

Can you try clearing your global packages folder and regenerating your packages.lock.json file locally?

[2020-11-07 00:37] nkolev92 commented on #5037
At this point `DotNetCliToolReferences` are not the recommended approach.

Closing as no longer relevant.

[2020-11-07 00:37] #5037 closed, assigned to nobody

[2020-11-07 00:40] nkolev92 commented on #5261
My guess is dup of https://github.com/NuGet/Home/issues/9864, but we can take a look at customer sprint.

[2020-11-07 00:52] nkolev92 commented on #4478
No customer engagement for this.

Closing as not relevant :)

[2020-11-07 00:52] #4478 closed, assigned to nobody

[2020-11-07 00:53] nkolev92 commented on #4451
Fixed through https://github.com/NuGet/Home/blob/dev/designs/VisualStudio-PartialRestoreOptimization.md

[2020-11-07 00:53] #4451 closed, assigned to nobody

[2020-11-07 00:54] nkolev92 commented on #4456
Closing as low relevance at this point.

[2020-11-07 00:54] #4456 closed, assigned to nobody

[2020-11-07 00:55] nkolev92 commented on #6032
Dupping to https://github.com/NuGet/Home/issues/7968.

I understand that it's newer, but it contains more relevant links.

[2020-11-07 00:55] #6032 closed, assigned to nobody

[2020-11-07 01:29] nkolev92 commented on #5500
Related: https://github.com/NuGet/Home/issues/5500

[2020-11-07 01:45] nkolev92 commented on #6379
Sounds like the original problem has been long solved.

@red8888 You can refer to https://docs.microsoft.com/en-us/nuget/create-packages/creating-a-package-dotnet-cli for that

[2020-11-07 01:45] #6379 closed, assigned to nobody

[2020-11-07 01:51] nkolev92 commented on #6121
Hey all,

While this is definitely an unfortunate problem it's been a long time since this was investigated and with the build logs gone, likely hard to recreate.

If this is still something you might be hitting/still relevant, let me know and I'd be happy to re-open.

[2020-11-07 01:51] #6121 closed, assigned to nobody

[2020-11-07 02:06] nkolev92 commented on #7220
The scenario above fails because the SDK automatically adds a runtime identifier when multitargeting.

Not sure if that's on purpose.

As far as NuGet is concerned here, the NU1605 is validly raised because there's a conflict because log4net has taken dependencies on so many framework packages.
That has since been addressed (new versions of log4net), but unfortunately there's nothing else NuGet ca

[2020-11-07 02:06] #7220 closed, assigned to nobody

[2020-11-07 02:09] nkolev92 commented on #10091
I'm not `restart` VS should ever be a guidance that's consider `ok` unless in really exceptional circumstasnces, but I agree with your assessment about the priority. Not high priority at this point.

[2020-11-07 02:21] nkolev92 commented on #7622
Hey all,

This has been `fixed`.
Well sort of :)

We fixed the queueing on solution through: https://github.com/NuGet/Home/issues/9822, https://github.com/NuGet/Home/issues/9984, https://github.com/NuGet/Home/issues/9982. |

NuGet queues the nomination requests until everything NuGet needs is ready.

Through https://github.com/NuGet/Home/issues/9513 & https://github.com/NuGet/Home/issues/9903, NuG

[2020-11-07 02:21] #7622 closed, assigned to nobody

[2020-11-07 04:32] erdembayar commented on #10210
I just tested this on my desktop with VS 2019 Int Preview, Version 16.9.0 Preview(30701.28.main).
Time Elapsed: 00:02:25.0625671
========== Finished ==========
What kind hardware did you use? I just want to make sure we're measuring on comparable hardware.

[2020-11-07 14:37] zivkan commented on #10237
@rajendar123 It should work yes, however there are a few things to note.

The feature is still in development, and is of preview quality, with some features not yet implemented. Restore will work in VS, but there is no tooling (in VS or command line) to add packages, change versions, and so on. Package management in VS will write changes to the project file that will cause restore failures when CP

[2020-11-07 17:21] MarkKharitonov commented on #5764
@aolszowka - this is precisely our problem. @davidfowl - how would you suggest to resolve it? **Microsoft.ReportingServices.ReportViewerControl.WebForms** depends on **Microsoft.SqlServer.Types** like this:
[code]
The closest version of **Microsoft.SqlServer.Types** on Nuget is 14.0.314.76.

@davidfowl - what is the expectation here? Moreover, what were the expectation of the authors of **Microsof

[2020-11-07 17:43] MarkKharitonov commented on #5764
@aolszowka - this is precisely our problem. **Microsoft.ReportingServices.ReportViewerControl.WebForms** depends on **Microsoft.SqlServer.Types** like this:
[code]
The closest version of **Microsoft.SqlServer.Types** on Nuget is 14.0.314.76.

@davidfowl - please advise.

[2020-11-07 18:27] MarkKharitonov commented on #5764
https://stackoverflow.com/questions/64731043/how-to-install-microsoft-reportingservices-reportviewercontrol-webforms-nuget-pa

[2020-11-07 19:43] joelverhagen opened #10239 "dotnet pack does not include Compile Update Pack="true" when multi-targeting"
## Details about Problem

NuGet product used: dotnet.exe
NuGet version (x.x.x.xxx): 5.8.0.6860
dotnet.exe --version: 5.0.100-rc.2.20479.15
OS version: Windows 10
Worked before? Not that I can tell, I tried 1.1.14, 2.1.811, 3.1.302, 3.1.403, 5.0.100-rc.2.20479.15

## Detailed repro steps so we can see the same problem

1. `dotnet new classlib`
1. Attempt to pack one of the source files (`<Compile>`

[2020-11-09 04:47] gkalnytskyi opened #10241 "Can nuget restore download packages from private repository using only API Key?"
## Details about Problem
Can `nuget restore` (`dotnet restore`, `msbuild -t:Restore <path to project>`) use API key for the private repository to get packages from it, or Username / Password are required?

Every Nuget documentation page that mentioned API keys is for uploading the package to Nuget repository (which works fine for me), and none of them tells you if you can use API key when restorin

[2020-11-09 08:05] kobelobster opened #10242 "Please delete"
DEL

[2020-11-09 08:08] #10242 closed, assigned to nobody

[2020-11-09 08:09] kobelobster opened #10243 "mono nuget.exe not able to build solution with multiple projects"
I am using `mono nuget.exe`, because I'm behind a proxy, and the `dotnet` command doesn't seem to work with a proxy: See this issue: https://github.com/dotnet/sdk/issues/14456

Anyway, for easier access, I'm copy/pasting my information from the other ticket in here

### Description

Okay, this will be a loooooooooooong description, because this is such a special use case (it seems)

I currently am

[2020-11-09 15:16] zivkan commented on #9611
Roughly related to this issue, it would be good if we considered a way to ship experimental, opt-in NuGet features, that we'd like to ship out-of-band.

For VS UI features, we should ship a custom vsix with the experimental UI experience. This issue is specially about VS, so command line is out of scope, but for some background information, experimental command line tooling can be shipped as a dot

[2020-11-09 17:40] #10111 closed, assigned to zivkan

[2020-11-09 18:13] aolszowka commented on #7297
We encountered this today as well, it appears to still be failing in Visual Studio 2019 16.7.7

[2020-11-09 18:28] #9406 closed, assigned to nkolev92

[2020-11-09 18:34] nkolev92 commented on #10210
@erdembayar

Have you considered focusing on the relative performance differences?

In particular, use 1 machine, but run both 16.7.6 and latest 16.9.

[2020-11-09 18:44] nkolev92 commented on #10241
Hey @gkalnytskyi

This is a dup of https://github.com/NuGet/Home/issues/4049.

The api key was added for pushing for sources that did not provide their own authentication.

username/password is the recommended (and implemented in the clients :) ) way for authenticated feeds.
Additionally https://docs.microsoft.com/en-us/nuget/consume-packages/consuming-packages-authenticated-feeds and https://docs

[2020-11-09 18:44] #10241 closed, assigned to nobody

[2020-11-09 18:45] nkolev92 commented on #10241
Note that I've created https://github.com/NuGet/docs.microsoft.com-nuget/issues/2205 to add this to our docs.

[2020-11-09 19:32] rrelyea commented on #9935
analysis so far:
solution close causes our toolwindow onclose method to be called, but we hit an exception in remoting code while saving settings.
also, we need to handle project/removed and project/unloaded cases -- events we've never handled before.

[2020-11-09 19:35] #10008 closed, assigned to sbanni

[2020-11-09 19:39] nkolev92 commented on #3784
@erdembayar If you end up having more bandwith this sprint, please pick up this task.

Remember to consider an incremental approach.

[2020-11-09 20:14] lifengl commented on #8398
It is a known issue that NET Core project's globbing pattern can pick up random file on the disk. CPS watches the directory, and drive reevaluation when things are changed. However, when a temporary file appears/disappears quickly, it is filtered out & CPS didn't see them in the later logic. A problem is that is CPS doesn't know the exactly disk state used by msbuild evaluation, so there is always

[2020-11-09 20:49] rrelyea commented on #9935
merged into dev-rrelyea-closepmui the work to date: https://github.com/NuGet/NuGet.Client/commit/57ef4ba3c49943e4cf1758ea431ccff939db3890
1) why is the exception happening? workaround for now?
2) i've started wiring to listen to beforeprojectunloaded event which is available from ivssolutionevents3, if i recall. this part of the work isn't compiling.
3) once 2 is done, listen to project removed an

[2020-11-09 21:37] gkalnytskyi commented on #10241
Thank you, @nkolev92 !

[2020-11-09 21:51] dtivel commented on #10210
@erdembayar, I used Standard_D4s_v3.  I would not focus on using the identical configuration yet if you can reproduce relative differences easily, as @nkolev92 suggested.

When I opened this issue, 16.7.6 couldn't open dev, release-5.8.x, or release-5.7.x completely.  I think there's a deeper problem here with our branching:  we don't ensure that a release branch is rebuildable in the future by pi

[2020-11-09 22:30] zivkan opened #10244 "Add warning to nuget.exe restore suggesting to use msbuild restore instead"
## Background

Solutions which only use PackageReference never needed to use nuget.exe restore. Solutions that had at least 1 packages.config project HAD to use nuget.exe, until we added `-p:RestorePackagesConfig=true` some time ago.

Since NuGet 5.8 had to introduce a change to the assets file for .NET 5, this has exposed a problem where customers use an old version of nuget.exe to restore their

[2020-11-10 00:55] zkat commented on #10177
update: This is, in fact, still broken. I've added some failing tests over at https://github.com/NuGet/NuGet.Client/pull/3756/commits/2dcd56e952a5b3e2991e178173267ff72d8c387b and will work no a fix.

[2020-11-10 10:00] AnastasiaKubova opened #10245 "The cake script is failed with NuGet.Protocol 5.8.0"
## Details about Problem

NuGet product used (NuGet.exe):

NuGet - latest version

## Detailed repro steps so we can see the same problem

After the release of the latest version of `NuGet.Protocol` our cake scripts began to crash with the following error:

[code]

We used this dependency as follows:
`#addin nuget:?package=NuGet.Protocol&loaddependencies=true`

To avoid this we had to explicitly s

[2020-11-10 11:01] paulwoodland commented on #10245
I'm having a similar problem, the issue seems to be that the "Nuget.Packging" package for 5.8 hasn't been released, it is still only 5.7 available, or the previews of 5.8.

[2020-11-10 12:04] 0xced opened #10246 "NuGet.Packaging 5.8.0 is not published on nuget.org"
It seems there was a publishing issue because all NuGet.* **5.8.0** packages (e.g. [NuGet.Common](https://www.nuget.org/packages/NuGet.Common/), [NuGet.Protocol](https://www.nuget.org/packages/NuGet.Protocol/), etc.) have been published 15 hours ago on nuget.org except for [NuGet.Packaging](https://www.nuget.org/packages/NuGet.Packaging/) whose latest published version is **5.8.0-preview.3.6823**.

[2020-11-10 13:06] Drake53 opened #10247 "PackageReference no longer works after uploading to NuGet"
## Details about Problem

When I create a new package, I always add it to a local folder package source first.
To upload it to NuGet I normally upload it through the website, but since recently I have doing it using dotnet.exe nuget push:
[code]

I recently found out that for some reason, when my package is restored from my local folder package source, everything works correctly, but when it's res

[2020-11-10 13:34] zivkan commented on #10245
Although this issue was created first, I'm closing it as a duplicate of #10246 as it has a more precise title.

[2020-11-10 13:34] #10245 closed, assigned to nobody

[2020-11-10 15:08] zivkan opened #10248 "Create guidelines on changing brokered services"
Update the [NuGet SDK docs](https://github.com/NuGet/NuGet.Client/blob/dev/docs/nuget-sdk.md), or create new docs so:

1. People (both in the NuGet Client team and other contributors) creating pull requests have a guide for how they can "correctly" modify either of our 2 Contracts assemblies
2. NuGet Client team members reviewing pull requests know what they should look for and can provide meaning

[2020-11-10 17:16] heng-liu opened #10249 "When packing the nupkg had an error, the exit code is still 0 because of symbols packages"
Found this issue when checking https://github.com/NuGet/Client.Engineering/issues/547

The exitcode is 0 when IncludeSymbols=true, even if the pack on the nupkg failed.
1. If we run command:
`msbuild /t:pack .\src\NuGet.Clients\NuGet.VisualStudio.Contracts\NuGet.VisualStudio.Contracts.csproj -p:IncludeSymbols=true`

The output is:
[code]
The exitcode is 0.

2.If we run command:
`msbuild /t:pack .\

[2020-11-10 19:11] madelson opened #10250 "Provide a means of specifying that a package is incompatible with another package"
It would be helpful to be able to specify in the package metadata that a particular package is incompatible with another package or with a range of versions of another package.

Here is the use-case we have:
* We have a widely-used internal package "Monolith" which has many dependencies. We want to break up this package into smaller, more granular packages with minimal impact on existing consumers

[2020-11-10 19:45] Drake53 commented on #10247
I am no longer able to reproduce this issue after updating visual studio to 16.8.0

[2020-11-10 19:45] #10247 closed, assigned to nobody

[2020-11-10 20:25] erdembayar commented on #10210
I tested with OrchardCore(158 projects) solution. There are consistent almost `2 minutes` of regression on both OrchardCore and Nuget.Client, but it's not bad as `27 minutes`. I'll try other small., medium size solutions.

VS Release 16.7.7
1. Successfully installed '_ 1.0.0' to OrchardCore.Docs
Executing nuget actions took 1.34 sec
Time Elapsed: 00:07:25.6118670

2. Successfully installed 'System

[2020-11-10 21:32] zivkan commented on #10246
For transparency here's the story:

* A while ago msbuild pack had an issue where warnings treated as errors would not cause msbuild to report an error via process exit code, so build scripts wouldn't know there was an error. The nupkg was saved to disk, despite the error: https://github.com/NuGet/Home/issues/7404
* This was fixed. The nupkg is deleted on error, but the fix itself appears to have

[2020-11-10 21:32] #10246 closed, assigned to zivkan

[2020-11-10 21:44] dominoFire commented on #9781
Issue moved to [NuGet/Client.Engineering #631](https://github.com/NuGet/Client.Engineering/issues/631) via [**ZenHub**](https://www.zenhub.com/)

[2020-11-10 23:00] marcpopMSFT opened #10251 "dotnet restore taking up to 12GB in docker container"
---
**Issue moved from dotnet/sdk#14389**
- Please respond to @adam8797.

---

_From @adam8797 on Friday, October 30, 2020 2:21:38 PM_

Hello all,

I've been working to try to determine why my `dotnet restore` is taking so long in my build system (GitLab CI)

This project is using .net 5 rc2 currently.

I'm restoring three projects, and on developer machines it only ever takes around 30 seconds or

[2020-11-10 23:00] marcpopMSFT commented on #10251
---
**Issue moved from dotnet/sdk#14389**
- Please respond to @marcpopMSFT.

---

_From @marcpopMSFT on Friday, November 6, 2020 10:03:11 PM_

@nkolev92 @zkat any ideas on this one?  Should I move it to the NuGet repo?

[2020-11-10 23:00] marcpopMSFT commented on #10251
---
**Issue moved from dotnet/sdk#14389**
- Please respond to @nkolev92.

---

_From @nkolev92 on Saturday, November 7, 2020 2:12:58 AM_

Yep, let's move to NuGet.

@adam8797 It'd be helpful if you can create a repro sln.
What kind of machines does the build system have? Any special setups we should be aware of?

Things that could affect the memory usage are the number of projects, packages, sourc

[2020-11-10 23:00] marcpopMSFT commented on #10251
---
**Issue moved from dotnet/sdk#14389**
- Please respond to @adam8797.

---

_From @adam8797 on Saturday, November 7, 2020 2:43:18 AM_

@nkolev92 I'm not entirely sure, the images are running in our Kubernetes cluster. I can try to find details if you need specifics. We're using the .net 5 sdk docker image to do the building. We're behind a corporate proxy, but we configure the container with ou

[2020-11-10 23:03] #6134 closed, assigned to nobody

[2020-11-10 23:20] erdembayar commented on #10210
I just followed @dtivel 's regression reproduce guide.
But was unable to reproduce it on my local, they were almost identical. Repository used for this test was : NugetClient "release-5.6.x" branch
I shared my logs to Damon on Teams and I am re-assigning bug to him. He'll update the repro steps.

VS Release 16.7.7 (VSTelemetryMonitor was open that could be contributed to 1 min slower result here.)

[2020-11-11 00:39] sbanni opened #10252 "UnitTest failures in VS.Oe feature branch for search functionality"
Run these 2 at the same time and the first fails consistently:

NuGet.PackageManagement.VisualStudio.Test.NuGetPackageSearchServiceTests.GetPackageVersionsAsync_WhenPackageVersionsExist_ReturnsPackageVersions
NuGet.PackageManagement.VisualStudio.Test.NuGetPackageSearchServiceTests.GetAllPackagesAsync_WithValidArguments_ReturnsMatchingPackages

[2020-11-11 00:41] #10211 closed, assigned to nkolev92

[2020-11-11 00:53] tmm360 opened #10253 "Warning NU5118 packaging RCL with static contents and multi-target frameworks netcoreapp3.1;net5.0"
## Details about Problem

Trying to package a Razor Class Library that contains static contents, and that multi-targets the frameworks `netcoreapp3.1` and `net5.0`, I receive several NU5118 warnings. I'm using `dotnet pack` command from stable .NET 5 SDK. Building works without warnings, packaging no.

dotnet.exe --version: 5.0.100
VS version: 16.8.0

## Detailed repro steps so we can see the same

[2020-11-11 00:53] heng-liu commented on #7466
Unlisted package still got installed when running NuGet.exe install <packageID>.
Checked with @nkolev92 , fixing NuGet.exe is enough as dotnet.exe has been fixed.
He also provided following useful info:
Product change should be made at: https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.CommandLine/Commands/InstallCommand.cs#L289
Tests  need to be added.
https://github.com/NuGe

[2020-11-11 00:58] JonDouglas commented on #10244
👍 to this suggestion.

My primary question would be about version compatibility. Do we expect MSBuild & NuGet to be an exact version match for maximum compatibility? Is NuGet backwards compatible enough with earlier versions of MSBuild? Should we only omit info / warning message if MSBuild is higher than NuGet?

We should explore the potential paths here and what we want users to be doing. I think

[2020-11-11 01:20] heng-liu opened #10254 "E2E test GetPackageUpdatesAfterSwitchToSourceThatDoesNotContainInstalledPackageId is flaky"
End to end Test GetPackageUpdatesAfterSwitchToSourceThatDoesNotContainInstalledPackageId failed constantly.

The test assumes there is no Antlr package on source https://pkgs.dev.azure.com/dnceng/public/_packaging/nuget-build/nuget/v3/index.json.
But there is one since last Sunday:
https://dev.azure.com/dnceng/public/_packaging?_a=package&feed=nuget-build&package=Antlr&version=3.1.3.42154&protocol

[2020-11-11 03:05] nkolev92 commented on #5639
This does not repro with 16.8 anymore.
The project system does not nominate if an assets file is deleted right now.

[2020-11-11 03:05] #5639 closed, assigned to nobody

[2020-11-11 03:19] nkolev92 commented on #7736
I think those 2 invocations should be running the exact same code.

@pepone is this something you can still repro?
Can you provide a project>

[2020-11-11 03:26] nkolev92 commented on #6520
Probably related to https://github.com/NuGet/Home/issues/9417 and/or https://github.com/NuGet/Home/issues/9864

[2020-11-11 05:24] davkean commented on #9977
@donnie-msft We plan on deleting this type in 16.9. All monikers are now in KnownMonikers. Please either replace all usage, or copy the type itself into the NuGet tree.

[2020-11-11 05:39] fsdrw08 commented on #4387
my current company also had a MITM security gate (bluecoat), same issue,
when run dotnet restore, error pops up,
The remote certificate is invalid according to the validation procedure.

Please provide a dotnet cli option to disable or bypass ssl validation... thanks

[2020-11-11 06:39] docustream-github commented on #1474
Death by will-not-fix.

[2020-11-11 09:48] MagicAndre1981 commented on #6566
@donnie-msft when will this be fixed? In 16.9? Why don't we get any response from you @nkolev92 @anangaur?

I opened my solution and now get tons of .net 5 updates when I want to do updates from .net core 3.1.9 to 3.1.10

![image](https://user-images.githubusercontent.com/8274816/98796027-35283600-240b-11eb-8a78-8bfdbfb48534.png)

I now used my filemanager to search for 3.1.9 to list all csprojs a

[2020-11-11 10:44] pepone commented on #7736
@nkolev92 I cannot longer reproduce

[2020-11-11 17:05] rainersigwald opened #10255 "The project dependencies in project.assets.json are named in an inconsistent manner"
---
**Issue moved from dotnet/msbuild#5860**
- Please respond to @MarkKharitonov.

---

_From @MarkKharitonov on Thursday, November 5, 2020 6:11:33 PM_

### Issue Description
We are talking about .Net Framework projects using **ProjectReference**.

Some project entries in project.assets.json are named after the project name and some are named after the respective assembly name. The logic behind se

[2020-11-11 18:23] cristinamanum commented on #10067
Put this item on hold (Backlog) until the CPVM work will be picked up again.
Pull request: https://github.com/NuGet/NuGet.Client/pull/3687

[2020-11-11 19:14] #10252 closed, assigned to sbanni

[2020-11-11 19:17] rrelyea commented on #9250
putting on my plate right now...as I am doing work in this area.

[2020-11-11 20:16] nkolev92 commented on #7736
Thanks, closing this for now.

[2020-11-11 20:16] #7736 closed, assigned to nobody

[2020-11-11 20:50] cristinamanum opened #10256 "[Performance]: Improve Commit Async for CPVM enabled projects"
# NuGet CPVM DgSpec and NuGet.exe

## Summary
NuGet restore under CPVM showed a degradation in performance up to 65.9% (data obtained using CloudBuild branch).
After a set of performance improvements the regression decreased to 28.8.
Data as in the below table

| Run Id | Is CPVM  | Seconds  |  Percent Degradation |
|----------|-------------|-------------|------|
| 5.8.0.6864 | Yes | 73.404 | **65

[2020-11-11 23:49] nkolev92 commented on #10251
@adam8797 Any change you can provide with a repro?
We want to understand whether the scaling is intentional or something that we can consider addressing.

[2020-11-11 23:50] adam8797 commented on #10251
I'll see what I can do, but the project was honestly nothing special. I'll also try with the latest image now that .net 5 is fully out. Will update tomorrow.

[2020-11-11 23:57] #10177 closed, assigned to zkat

[2020-11-12 00:07] fabio-muramatsu opened #10257 "packages.config package.lock.json uses an incorrect target framework"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): nuget.exe

NuGet version (x.x.x.xxx): 5.8.0.6930

OS version (i.e. win10 v1607 (14393.321)): Windows 10 v20H2

Worked before? If so, with which NuGet version: Yes, in version 5.5.1.6542

## Detailed repro steps so we can see the same problem

1. Create an empty console application targetting .N

[2020-11-12 00:45] nkolev92 commented on #10251
Thank you for working with us!

[2020-11-12 01:00] nkolev92 commented on #10257
@fabio-muramatsu

Are you using a legacy project or an SDK based one?

[2020-11-12 01:04] nkolev92 commented on #10257
Synced-up offline.

The project is `legacy`.

@dominoFire Can you take a quick look and verify this issue?
This sounds like a potential regression.

[2020-11-12 01:09] zkat commented on #5926
@nkolev92 https://github.com/dotnet/sdk/issues/1458#issuecomment-708662232 Looks like we've gotten our request for increased priority. Do you think we'll be able to do this before 6.0?

[2020-11-12 01:11] nkolev92 commented on #5926
It's a high on the customer sprint task list as of now :)

[2020-11-12 01:13] nkolev92 commented on #5926
I think that this issue is already on the planning backlog as well as a partner ask.

[2020-11-12 03:25] dominoFire commented on #10257
In my local devbox, I have the same result with both nuget.exe versions. Note that I'm using MSBuild 16.8 to run both versions.

Sample line

[code]

Output:

[code]

Use repro.ps1 to run the sample project.

[ConsoleApp2.zip](https://github.com/NuGet/Home/files/5528063/ConsoleApp2.zip)

@fabio-muramatsu  Could you please provide a sample repro case?

[2020-11-12 03:54] dominoFire commented on #10257
Confirmed offline with @fabio-muramatsu . I can repro by using a Console App with packages installed using packages.config

[2020-11-12 03:56] nkolev92 opened #10259 "Warn when restore and build tooling have mismatching versions"

[2020-11-12 05:09] dominoFire commented on #10257
Also happens when restoring with MSBuild 16.7:

[code]

Thus, the bug might be on nuget.exe 5.8

[2020-11-12 06:08] chucklu commented on #9706
@nkolev92  Any update?

[2020-11-12 09:13] djwia commented on #9882
This is happening on VS 16.8.0 after it was updated. It didn't happen before. 16.8.0 is the .NET 5 update and the NuGet is waiting to update 19 v3 packages to v5 in .NET Core.

[2020-11-12 18:01] olivegamestudio commented on #9882
Ditto @djwia - only started happening in 16.8 of VS. Selecting all of the packages causes the issue as above. Selecting one at a time is a workaround.

[2020-11-12 18:09] zkat commented on #9497
We probably will not be addressing this because we're unlikely to patch older clients for any reason other than very severe issues.

[2020-11-12 18:09] #9497 closed, assigned to nobody

[2020-11-12 18:11] zkat commented on #10050
@kartheekp-ms hey, why was this moved back to New Issues?

[2020-11-12 18:12] #10191 closed, assigned to nobody

[2020-11-12 18:14] kartheekp-ms commented on #10050
@zkat - Looks like it was by mistake. Thanks for moving this to backlog again.

[2020-11-12 18:15] zkat commented on #10199
@TaiNguyen2406 can you expand a bit more on the scenario you're trying to solve here? Why do you need to copy, specifically? As much detail as you can share is more than welcome.

[2020-11-12 18:18] zkat commented on #10205
@joelverhagen @loic-sharma @donnie-msft Can you tell us more about this scenario and what prompted it? What does the service return? At first glance, this seems like a server-side issue to me?

[2020-11-12 18:28] zkat commented on #10224
Note: This error code really needs documentation.

[2020-11-12 18:30] #10224 closed, assigned to nobody

[2020-11-12 18:36] zkat commented on #10257
@dominoFire could you also try this with nuget.exe 5.7?

[2020-11-12 18:53] donnie-msft commented on #9882
@djwia & @olivegamestudio if you encounter that again, could you please post the stack trace as was done in this Issue description? Curious if it's the same root cause.

[2020-11-12 18:54] rrelyea commented on #9882
not sure if same NRE, but customer saw this in 16.8 doing update all packages: https://twitter.com/FransBouma/status/1326852242830487552?s=09

[2020-11-12 18:57] joelverhagen commented on #10205
I don't know the full thing that prompted this, but my understanding was that Donnie was doing some testing of push and encountered a situation where client pushes a package with package type `SymbolsPackage` (clearly a symbols package, irrespective of file name) to the package publish endpoint. The server rejected this because, per protocol symbols, packages must be pushed to the dedicated symbol

[2020-11-12 19:10] dominoFire commented on #10257
@zkat This issue does not happen in nuget.exe 5.7

[2020-11-12 19:14] loic-sharma opened #10260 "Deprecate "authors" nuspec field and show validated owners instead"
See: https://twitter.com/buhakmeh/status/1326929138079371265

The [`authors`](https://docs.microsoft.com/en-us/nuget/reference/nuspec#authors) field doesn't reflect the latest nuget.org owners, and is also susceptible to impersonation. We should consider the following:

1. Display the NuGet server's owners information wherever possible
1. Hide NuGet packages' `authors`

Some open questions:

* How

[2020-11-12 19:22] khalidabuhakmeh commented on #10260
This information should come from the Search API and yes users should see it in any UI.

**The bigger problem is whether ownership will be tracked absolutely or temporally? Should NuGet track ownership at the per published package level, or should it recognize ownership as a concept that transcends time and versions?**

I would argue that ownership is absolute and likely needs to be reflected that

[2020-11-12 19:32] olivegamestudio commented on #9882
Yes the callstack is the same. I checked that before posting.

I did notice that after a couple of single installs, the select all starts to work.

[2020-11-12 19:43] loic-sharma commented on #10260
FYI, you can't use the search protocol to lookup a specific package's metadata (you can do this on nuget.org using its search syntax, but that's not part of the protocol. It won't work on all NuGet servers). This may or may not be an issue depending on which experiences we need to display ownership information.

[2020-11-12 19:53] khalidabuhakmeh commented on #10260
From my perspective, when ownership is transferred to another individual or entity, that means the new owner owns the history of that package as well.

In your example. If `Newtonsoft` transferred `Newtonsoft.Json` to `Microsoft`, then I would expect any and all versions of `Newtonsoft.Json` should reflect `Microsoft` as the owner.

Knowing that `Newtonsoft` owned the package historically would ac

[2020-11-12 19:57] joelverhagen commented on #10260
`owners` **in the .nuspec** is completely confusing and is essentially unused by nuget.org. It's considered deprecated.

Historically the `authors` field is a distinct concept from `owners`. Consider the analogy of a book publisher vs. a book author. In package world, the owner is the publisher and the author is... the author. Sometimes this is the same thing (the person writing the package is the

[2020-11-12 20:04] khalidabuhakmeh commented on #10260
@joelverhagen the issue I'm running into now is that authors are fuzzy and change over time, so there is no way to concretely track a package by "author" over time. It might still be a relevant data point, but since it's a free-form field it makes it equivalent to a description field.

`owners` would be tied to the auth system of NuGet itself. More importantly, an `owner` is an `owner`, detached f

[2020-11-12 20:04] khalidabuhakmeh commented on #10260
@joelverhagen the issue I'm running into now is that authors are fuzzy and change over time, so there is no way to concretely track a package by "author" over time. It might still be a relevant data point, but since it's a free-form field it makes it equivalent to a description field.

`owners` would be tied to the auth system of NuGet itself. More importantly, an `owner` is an `owner`, detached f

[2020-11-12 21:15] aortiz-msft commented on #10257
@nkolev92 - Would you please investigate based on @dominoFire's results?

[2020-11-12 21:24] loic-sharma commented on #10260
I agree we should still have a "pretty name" for the package's author. Our options are:

1. Live with inconsistencies between the server owners and the .nuspec authors. Improve UX to clarify distinction
2. Hide server's owner information, display NuGet package's author information everywhere
3. Display server's owners information instead. Introduce a concept of a "pretty name" on the server side

[2020-11-12 21:42] adam8797 commented on #10251
I didn't get to do a File/New Project test today, but I did perform a lot of tests with the project I had. I've outlined more about the project structure (its very simple) and the results from today's tests. I think the memory thing may have been a red herring, as I observed the project building in .net core 3.1 take up almost 10 GB of virtual memory, but it still did the restore in a fraction of

[2020-11-12 21:44] alfredo-pozo opened #10261 "Non-Sdk solution not restoring all nuget packages on VS 2019 IDE"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI

NuGet version (x.x.x.xxx): 5.7.0.6726

dotnet.exe --version (if appropriate):

VS version (if appropriate): 16.8.1

OS version (i.e. win10 v1607 (14393.321)): Microsoft Windows [Version 10.0.19041.572]

Worked before? If so, with which NuGet version: No

## Detailed repro steps so we can

[2020-11-12 22:31] joelverhagen commented on #9726
Note that there is an existing existing tracking the alternate API for "search" on a static feed. It is here: https://github.com/NuGet/NuGetGallery/issues/3878.

One potential workaround for users that want to avoid the deprecated type would be to use the `ServiceIndexResourceV3` to determine the search base URL and perform the HTTP query yourself (e.g. with `HttpSource`, which can help with auth

[2020-11-12 23:30] nkolev92 commented on #9706
Hey @chucklu, it's not something we are immediately going to be working on.

[2020-11-13 00:17] erdembayar commented on #7001
I'm interested this one as my first 'nuget pack' challenge during "Customer sprint".

[2020-11-13 00:44] nkolev92 commented on #10069
In review.

[2020-11-13 01:57] nkolev92 commented on #10215
I think this is working `as designed` right now, but this is *not* ideally and something we'd like to fix.

The reason why it's not getting refreshed is because you have a lock file.

VS rebuild is *not* equivalent to the gesture to regenerate the lock file.

Related to https://github.com/NuGet/Home/issues/6987.

Retitling the issue to indicate the lack of a gesture to reevaluate the lock file.

M

[2020-11-13 02:10] nkolev92 commented on #6907
Step 3 creates an assets file, which is the tell for this is PR, but then when the retargeting happens, there are no PackageReference and not RestoreProjectStyle so it just breaks.

I'd say we should add a `RestoreProjectStyle` property to legacy projects when installing the first PackageReference.

Low priority given the lack of additional input.

[2020-11-13 03:29] TaiNguyen2406 commented on #10199
My package contains some js and CSS files and when installed, I want to copy these files to the modules/_proteced folder. I created a routing to these files so I need it in here physically not a reference link

[2020-11-13 07:44] drauch opened #10262 "Security: Should random code execution in target files be at least something you warn about?"
Remove the content above here and fill out details below.

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI

NuGet version (x.x.x.xxx): current

dotnet.exe --version (if appropriate): doesn't matter

VS version (if appropriate): doesn't matter

OS version (i.e. win10 v1607 (14393.321)): doesn't matter

Worked before? If so, with which N

[2020-11-13 10:54] TFTomSun commented on #10215
I found a workaround. A bit hacky, but works.

[code]

[2020-11-13 14:42] v-luzh opened #10263 "[Bug Bash]Error “failed to add reference to 'Microsoft.Owin.Security.Cookies'” occurred after updating all the packages in ASP.NET Web Application (.NET Framework)-Single Page Application"
## Details about Problem
NuGet version: NuGet Client Dev\5.9.0.6966
VS Version: Master\30712.41
OS: Windows-10-Enterprise-19H2
## Detailed repro steps
1. Create an ASP.NET Web Application-Web Forms (.NET Framework 4.8), **(wait for the number on the right of the “Updates” tab coming out) go to “Updates” tab, check “Select all packages” check-box and click “Update” button**.
2.  **(Don’t close the

[2020-11-13 14:43] moonboy13 commented on #5995
Hey guys, after the latest release of visual studio this week for .NET Core 5.0 this issue is coming back up. The remediation steps given here and in the linked posts are allowing us to keep limping along, but it is pretty arduous to have to continuously delete the obj folder and rebuild.

We are running on a Windows 7 professional instance due to a legacy component of our build, if that has any b

[2020-11-13 14:46] IanKemp opened #10264 "Feature request: persistently specify allowed version ranges for package references"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI

NuGet version (x.x.x.xxx): 5.8.0

dotnet.exe --version (if appropriate): N/A

VS version (if appropriate): VS 2019 Enterprise 16.8.1

OS version (i.e. win10 v1607 (14393.321)): Windows 10 Pro version 2004 (OS build 19041.630)

Worked before? If so, with which NuGet version: N/A

## Detai

[2020-11-13 14:46] v-luzh opened #10265 "[Bug Bash][Unstable] Error “could not load file or assembly 'Microsoft.CodeDom.Providers.DotNetCompilerPlatform” occurred after updating all the packages in ASP.NET Web Forms Site"
## Details about Problem
NuGet version: NuGet Client Dev\5.9.0.6966
VS Version: Master\30712.41
OS: Windows-10-Enterprise-19H2
## Detailed repro steps
1. Open any solution via VS, (**don’t close the solution/VS-it is easy to repro the bug**) click File->New->Project and click the template “ASP.NET Web Forms Site”.
2. Type the project name and click the “Create” button.
3. Open project PM UI, go to

[2020-11-13 14:50] v-luzh opened #10266 "[Bug Bash] Duplicate lines show in Output->Package Manager window after installing a package"
## Details about Problem
NuGet version: NuGet Client Dev\5.9.0.6966
VS Version: Master\30712.41
OS: Windows-10-Enterprise-19H2
## Detailed repro steps so we can see the same problem
1. Open VS and click File->New->Project and search the template “ASP.NET Empty Web Site”.
2. Type the project name and click the “Create” button.
3. Open project PM UI, go to “Browse” tab and install a package (e.g. Ne

[2020-11-13 17:17] dieterv opened #10267 "Missing Nuget.Commandline 5.8.0 package"
## Details about Problem

It looks like all NuGet related packages have had a 5.8.0 release on nuget.org except NuGet.CommandLine which is still on 5.7.0.
This makes our CI builds fail when using .Net SDK 5.0.100 and the Cake build system. Cake references the NuGet.CommandLine package to ensure a nuget.exe file is available. NuGet versions < 5.8 seem to generate assets files without the TargetFram

[2020-11-13 17:38] dtivel commented on #9919
I profiled Microsoft Visual Studio Enterprise 2019 Int Preview (Version 16.9.0 Preview 2.0 [30712.215.main]), which contains NuGet version 5.9.0-preview.1.6955+fa9fbcb87b8ce717d7f78d494cd16cf174be48e9.fa9fbcb87b8ce717d7f78d494cd16cf174be48e9.  This version contains NuGet/NuGet.Client#3751.  PerfView reported the following JIT statistics for NuGet assemblies after a package load (per earlier repro

[2020-11-13 18:12] cristinamanum commented on #9464
Added customer repo and comments for the requested feature.
[cpvmtest.zip](https://github.com/NuGet/Home/files/5538579/cpvmtest.zip)

    _...his is exactly the scenario I expect to work. StreamJsonRpc includes Newtonsoft.Json as a dependency, so by "fixing" a version of StreamJsonRpc it should implicitly "fix" all packages included in its transitive closure as well.
    This is so important for t

[2020-11-13 19:54] kartheekp-ms commented on #8418
This bug is not actionable now because of bug in Windows.

[2020-11-13 19:54] #8418 closed, assigned to nobody

[2020-11-13 20:21] nkolev92 commented on #10257
Quick investigation:

I can confirm the problem. nuget.exe 5.7 works differently from nuget.exe 5.8.

I found a few other issues on the way.

Here are the 3 issues I am aware of:

* nuget.exe restore modifies the lock file. This is normal in PackageReference but should *never* happen in packages.config. Only install/uninstall/update should modify the lock file afaik. Furthermore restore modifies t

[2020-11-13 20:40] markoueis commented on #9954
Upgraded from 5.5 to 5.8 and now have this issue when doing nuget pack

[2020-11-13 21:57] dtivel commented on #6905
Although a lot of investment (e.g.:  https://github.com/NuGet/NuGet.Client/pull/1987 and https://github.com/NuGet/NuGet.Client/pull/2031) has been put into test infrastructure for testing package signing/validation scenarios, I think this issue is for adding test infrastructure support for testing the client's behavior around [this](https://docs.microsoft.com/en-us/nuget/api/repository-signatures-

[2020-11-14 01:06] nkolev92 opened #10268 "msbuild /t:restore /p:RestorePackagesConfig doesn't consider the lock file"
Self explanatory and related to https://github.com/NuGet/Home/issues/10257.

[2020-11-14 01:07] nkolev92 commented on #10257
PR out in https://github.com/NuGet/NuGet.Client/pull/3763.

Revisiting the above 2 issues(3rd one is the customer report):

* nuget.exe restore modifies the lock file. - Turns out this is by design, although if you ask me a bad one, but it is what it is :) https://github.com/NuGet/Home/wiki/Packages.config-SHA-Validation#generating-the-lock-file

* msbuild.exe restore /p:RestorePackagesConfig=true

[2020-11-14 02:36] donnie-msft opened #10269 "Prototype a Sorting mechanism & prepare for User Study"
Time-boxed effort to create prototype(s) for sorting various PM UI views. The Epic serves as a guide for customer input.
Prepare these prototype(s) for the next User Study to solicit feedback.

[2020-11-14 02:39] donnie-msft opened #10270 "Prototype a Filtering mechanism & prepare for User Study"
Time-boxed effort to create prototype(s) for filtering packages in various PM UI views. The Epic serves as a guide for customer input.
Prepare these prototype(s) for the next User Study to solicit feedback.

- https://github.com/NuGet/Home/issues/5393

-  https://twitter.com/realDotNetDave/status/1130543286022656001

[2020-11-14 02:45] donnie-msft opened #10271 "Refactor VS Options / Settings Dialog in WPF"
Time-boxed effort to investigate and create prototype(s) for changes to the VS Settings dialog. The Epic serves as a guide for customer input.

- Users are commonly confused by the package source dialog (especially https://github.com/nuget/home/issues/8315)
- How difficult to add a default package source? https://github.com/nuget/home/issues/7483
- Can we use WPF rather than WinForms?
- Consider t

[2020-11-14 02:59] donnie-msft opened #10272 "VS UI Functionality Bugs"
Epic tracking bug fixes to PM UI related to existing functionality.

[2020-11-14 03:06] donnie-msft opened #10273 "Prototype Restore & Package Source Error Handling & prepare for User Study"
Time-boxed effort to create prototype(s) for how the PM UI handles errors with Package Sources. The Epic serves as a guide for customer input.
Prepare these prototype(s) for the next User Study to solicit feedback.

Consider:

- How to show a failing feed but keep the UI functional: https://github.com/nuget/home/issues/9218

- How to avoid infinite Authentication popups: https://github.com/nuget/h

[2020-11-14 03:18] donnie-msft opened #10274 "Prototype UI Enhancements & prepare for User Study"
Time-boxed effort to create prototype(s) for enhancements to various PM UI functions. The Epic serves as a guide for customer input.
Prepare these prototype(s) for the next User Study to solicit feedback.

Some ideas:
- Scope any remaining work for Version Range support https://github.com/nuget/home/issues/6566

- Adding metadata https://github.com/NuGet/Home/issues/7957 & https://github.com/NuGet

[2020-11-14 03:49] #8693 closed, assigned to nobody

[2020-11-14 04:20] donnie-msft commented on #10101
Related: https://github.com/NuGet/Home/issues/5028
@nkolev92  Let me know if you want to work together on researching improvements here (https://github.com/nuget/home/issues/10273)

[2020-11-14 05:04] dtivel commented on #9935
There are multiple bugs here:
1.  One bug fixed on the VS side.  With the fix clients should receive the document close event when the associated project closes.
2.  It's unclear how to associate the PM UI document window with a project.
3.  When PM UI is closed manually, an exception prevents the window from actually closing.

[2020-11-14 08:46] mfkl commented on #4980
I have ran the script dozen of times on either branches and get wildly different results. If my CPU is already at 20% usage from other apps just before running the script, perf numbers go x2 easily.

Right, I've made a bad hack to fix this temporarily https://github.com/mfkl/NuGet.Client/commit/5d2c27abe0a51c784216fec03ab77568ac85e1e2. This change won't fix the result deviations though, only using

[2020-11-15 08:36] John0King commented on #6060
today, on Devbog https://devblogs.microsoft.com/nuget/getting-started-with-nuget-5-8/  ,  it saids that now nuget.exe support  `nuget search` ,  but no `dotnet nuget search`

[2020-11-15 12:02] xsoheilalizadeh opened #10275 "NuGet failed to restore packages inside docker"
_Forwarded form https://github.com/dotnet/dotnet-docker/issues/1670_

I had a problem when building a sample dotnet app
When I run `dotnet restore` in docker image
I get following errors:

[code]

## Dockerfile

[code]

## File *.csproj

[code]

## Output of docker version
[code]
## Output of docker info

[code]
\cc @JonDouglas

[2020-11-15 12:35] abuzaforfagun commented on #10275
Facing the same issue with .NET 5

[2020-11-15 14:33] dtivel opened #10276 "PackageSource: returns possibly incorrect hash code"
`NuGet.Configuration.PackageSource` [computes its hash code in its constructor](https://github.com/NuGet/NuGet.Client/blob/788bc01a1b063a37841cdd6d035feb320e90e475/src/NuGet.Core/NuGet.Configuration/PackageSource/PackageSource.cs#L128) based on `name` and `source` values.  However, [the `Source` property is read-write](https://github.com/NuGet/NuGet.Client/blob/788bc01a1b063a37841cdd6d035feb320e90

[2020-11-15 22:19] fourpastmidnight commented on #8985
This is happening for me on Visual Studio 16.9 Preview 1 (haven't tried the new 16.8 release yet--but this wasn't happening for me on the preview releases of 16.8).

[2020-11-16 09:55] NeilAllen opened #10277 "NuGetMissingPackages - OK, what are those packages?"
Is it so difficult - auto Restore invariably knackers my projects.

How do I find out which packages are missing?

nuget has never made my dev easier - always there's more to do because of it!

[2020-11-16 12:38] Duracell1989 commented on #10267
The same is needed when working with Nuke combined with .NET SDK 5.0.100

[2020-11-16 13:33] abuzaforfagun commented on #10275
Adding --disable-parallel fixed my issue but it takes a long time to restore.

[2020-11-16 13:55] slang25 opened #10278 ".NET 5 change in behavior around transitive packages"
Hello NuGet team 👋

We spotted a change in behavior between `netcoreapp3.1` and `net5.0` when restoring a package as a transitive dependency, and it having msbuild imports.

https://github.com/shouldly/shouldly/issues/717

We have fixed it, and tbh it looks like it should never have worked 😄  I was wondering if this change in behavior is excepted and as a result of something?