[2017-11-22 08:59] paulbatum commented on #5740
I do not feel strongly either way, though I have a slight preference for
the nowarn to not apply for the b->c case.
On Tue, Nov 21, 2017 at 11:13 PM Anand Gaurav <notifications@github.com>
wrote:

[2017-11-22 09:04] dasMulli commented on #6209
The idea is that you change for instance `Fulma.fsproj` to
[code]

and `Fulma.Extensions.fsproj` to
[code]

this will allow you to build from any command on any project safely by calling `dotnet pack /p:FulmaVersion=1.2.3 /p:FulmaExtensionsVersion=4.5.6` (you could run this even on a solution file). You could even set those two properties as environment variables in the build script and the projec

[2017-11-22 09:19] dasMulli commented on #6209
Btw I was about to suggest adding `UndefineProperties="Version"` to the `ProjectReference` item which is honoured by msbuild but it seems like NuGet doesn't respect this metadata during its walk - is this intentional? ( @emgarten @rohit21agrawal maybe? )

EDIT: changed to `UndefineProperties` instead of `GlobalPropertiesToRemove` since I got the wrong metadata. same effect though, the actual build

[2017-11-22 09:19] MangelMaxime commented on #6209
@dasMulli Thanks for the clarification.

[2017-11-22 12:09] grisharav commented on #5888
Any update on this issue? The scenario happens from TotalCommander as well and the issue is reproduced

[2017-11-22 13:33] derwasp commented on #4668
@emgarten do you have a case for the issue with windows auth? Because it looks like we have the same problem as @nwoolls . We are using ProGet and windows auth to allow for permission distribution among developers.

[2017-11-22 13:36] derwasp commented on #4668
Workaround for windows boxes for windows auth when the machine is not in the domain:
In your buildscripts add this:
`cmdkey /add:address-of-the-nuget-server.under.win.auth /user:{domain}\username /pass:{password}`

[2017-11-22 15:33] shytikov opened #6215 "Make an option to fail nuget pack if project has pre-release dependencies"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (4.4.1.4656):

Worked before? If so, with which NuGet version: 3.5.0.1996

## Detailed repro steps so we can see the same problem

Issue introduced by https://github.com/NuGet/NuGet.Client/pull/1073 and https://github.com/NuGet/Home/issues/1365

Basically after these fixes old be

[2017-11-22 15:49] shytikov commented on #1365
Ok, wait, someone uses this functionality on production and actually expects things to fail in case if pre-release dependencies exists.

I believe that behavior should be configurable. Now what is done is just breaking behavior with no workaround. How we supposed verify that package is allowed to be called stable?

[2017-11-22 16:14] jhermsen opened #6216 "Question: Complete example project of Visual Studio 2017 csproj nuget package including build"
Going a bit crazy with all the searches on google so I’m finally posting here sorry.

I’m looking for an example visual studio 2017 project for building a nuget package.
This package should include a .targets file in a way that it is installed by the package and imported/made available in the installing project.
Meaning I can use the build targets from my nuget package.

What I found was that in n

[2017-11-22 17:54] jainaashish commented on #6216
`What I found was that in nuget 2.x it would use a build folder and import tag in the csproj, but now it should work differently and I can’t find how.`

Even with nuget 3.x targets should still be inside build folder, just that instead of being directly included in csproj, they are imported as part of `{projectName}.projectFileExtension.nuget.g.targets` file. Look at below resources, they should g

[2017-11-22 17:56] bording commented on #5740
@anangaur I would want to see separate warnings for PackageA and PackageB. The reason is that while they both depend on PackageC, they could both use different APIs from PackageC. That would mean that using PackageA with the compat shim could be fine, but PackageB could fail.

If I don't get a warning about PackageB because PackageC is also referenced by PackageA, then I don't get any warning that

[2017-11-22 18:09] #6182 closed, assigned to PatoBeltran

[2017-11-22 18:11] PatoBeltran commented on #6181
Work left for this task:
- Finish up tests for verify command
- PR/CR

[2017-11-22 19:14] Kittyfisto commented on #6064
Just in case other's stumble upon the same problem: -Prerelease indeed solved my problem. Guess I didn't properly read the manual, my bad. Thanks a bunch!

[2017-11-22 19:53] rennerg commented on #4837
Any ETA on this? My company is very interested in moving to VS2017 to get the benefits of PackageReference but this is a deal breaker.

[2017-11-22 21:08] emgarten commented on #4837
@pm64 this issue is for copying referenced assemblies to the output folder. You are describing copying content files to the project itself, which is a different issue.

[2017-11-22 21:18] diverdan92 commented on #6201
@ali-hk - if you clean and rebuild the project, what is the behavior you see? When you encounter this failure, can you save obj\project.assets.json file and share the contents?

[2017-11-22 22:16] tmat commented on #6104
@maartenba We are working on making it super easy to enable source link in builds for both public and private repos, as well as embed sources to PDBs that not tracked by a source control server (e.g. sources generated during the build). Our goal is to reduce the number of packages that were not built with source link or embedded sources. That said, we understand that there will be cases where it w

[2017-11-22 23:18] PatoBeltran opened #6217 "Pack should have a collector logger and throw proper error and warning codes"
Pack should follow the behavior of restore and have a collector logger that takes all the warnings and errors and process them correctly.

This way we can then allow pack to use properties such as WarningsAsErrors and NoWarn.

[2017-11-22 23:24] PatoBeltran commented on #6215
Hey @shytikov thanks for submitting the issue! The intended behavior of this feature is to let package authors package their projects when they added release versions based on the assumption that package authors do this on purpose. This issue was fixed last year as it impacted a lot of customers.

I agree with you that our `pack` command is needs an option to be able to treat warnings as errors. W

[2017-11-22 23:24] #6215 closed, assigned to nobody

[2017-11-22 23:44] mishra14 commented on #6177
This is no longer relevant because of the decision of having an extension for PRSS as part of https://github.com/NuGet/Home/issues/6168.

[2017-11-22 23:44] #6177 closed, assigned to mishra14

[2017-11-23 00:13] PatoBeltran commented on #6213
@rohit21agrawal can you please take a look into this?

[2017-11-23 00:19] rohit21agrawal commented on #6213
sounds like pack is doing the right thing (@liushuanggang can you paste the nuspec file generated in the nupkg here to verify?) ...this will be a restore bug (for triaging purposes)

[2017-11-23 00:19] PatoBeltran commented on #6214
Hey @cclauson thanks for submitting your issue. I'm trying to understand why you are seeing these errors.

Did you download the code from the client repository (https://github.com/NuGet/NuGet.Client)? We don't have a `master` branch, we have the latest development in the `dev` branch. Did you try using that one to build?

Building the repository should be as easy as running the `configure.ps1` scr

[2017-11-23 01:54] youngerier commented on #6138
@rohit21agrawal
I have tried run msbuild with  /bl and /v:diag this process without  a warning
[code]
![image](https://user-images.githubusercontent.com/10486543/33156221-8775085a-d032-11e7-80db-bf486135faf4.png)
and then I  use
[code]
 add  developmentDependency=true property
![image](https://user-images.githubusercontent.com/10486543/33156250-d7a053fc-d032-11e7-8c89-9b232ff90b0b.png)
the .nupkg

[2017-11-23 06:16] GanesanRengasamy commented on #6208
Hi @joelverhagen

Thanks for the response.

I have another question regarding this.

Is there possible to upload the updated NuGet package (v1.2) which is already uploaded by the another user with the same NuGet package id but the version is v1.1?

**For Example :** I need to upload the latest/updated package with the **id - "MySamplepackage** and **version - 1.2** under my nuget.org account. But

[2017-11-23 06:22] Silic0nS0ldier commented on #5350
Just encountered the same error code (and message). As expected, having the project in question opened within the current solution did the trick.

Curiously, attempting to build the project again (with the dependency unloaded, of course) after the error resulted in 'success', wherein it compiles, and the application only hits an error when it attempts to use the inaccessible project's code. Switch

[2017-11-23 06:43] jhermsen commented on #6216
Oke thanks got it working now.
One more thing, I used the following is .csproj to include build files is this the recommended way?
[code]

[2017-11-23 08:48] Abbas1546 opened #6218 "Issue in Publish NuGet packages by CLI"
I got the below error messages while trying to publish my NuGet packages in Staging NuGet server by CLI.

**Commands**:

The API Key '<MY_API_KEY>' was saved for 'https://staging.nuget.org/api/v2/'.

**Error Message:**
Pushing MySample.15.4.0.17.nupkg to 'https://staging.nuget.org/api/v2/'...
PUT https://staging.nuget.org/api/v2/
**InternalServerError https://staging.nuget.org/api/v2/ 4429ms**
PUT

[2017-11-23 11:12] callmeocean commented on #1401
Guys, any updates on this one?

I'm having the same issue and it makes content nuget packages useless.

[2017-11-23 13:56] Jjagg opened #6219 "nuget install package from local source requires lowercased package id"
## Details about Problem

I'm using NuGet CLI version: 4.4.1.4655
Running Arch Linux with kernel 4.14-2

I created a local source and added a package to it. When listing packages the ID is correct, but to install the package I have to lowercase the package ID. The lowercase id corresponds to the path to the package in the local source. From my understanding nuget package id's should be case insens

[2017-11-24 02:49] FizzBuzz791 opened #6220 "Web.Config Runtime/AssemblyBinding section broken on install/update"
## Details about Problem
We have a (self-managed) nuget project that has the following section in its `Web.config`;

[code]

Which is all auto-generated, nothing we've added in.

When we package it up and install it into another project, the target project's `Web.config` runtime section gets a bit jumbled and the bindings don't work properly (in this instance, it complains about the Newtonsoft.Jso

[2017-11-24 11:25] evil-shrike commented on #2887
The problem is that also that .NET SDK doesn't contain nuget.exe. So after I've installed the SDK I can't install any package from my internal feed.

[2017-11-24 12:30] OsirisTerje commented on #3767
Got the same now,  also see this:
"Error: Assets file 'myproject\obj\project.assets.json' not found. Run a NuGet package restore to generate this file.",  This happens even after having done a restore.
Happens in C:\Program Files\dotnet\sdk\2.0.2\Sdks\Microsoft.NET.Sdk\build\Microsoft.PackageDependencyResolution.targets	323

Restoring reports all is fine:
Restoring NuGet packages...
All packages a

[2017-11-24 14:56] evil-shrike opened #6221 "Cannot restore packages on Linux from repository with auth"
dotnet 2.0.3 on Linux Ubuntu 14.04

I want to install a package from my internal nuget repository (Artifactory).
The repository works fine. I can install the package on Windows machines.
The repository requires authentication. As nuget on Linux still (how long folks?) doesn't support encrypted passwords I specify credentials in clear text in nuget.config. I did it inside a local `NuGet.Config` (be

[2017-11-24 15:28] mattwhetton commented on #4953
Has this been resolved?

[2017-11-24 15:29] ygeelen-tb commented on #4953
No, still not.

[2017-11-24 20:05] clairernovotny opened #6222 "PackageManagement UI depends on VS, hindering component reuse"
The current PackageManagement UI has dependencies on Visual Studio. This makes it nearly impossible to reuse the WPF controls in other apps that may want to interact with NuGet in a consistent way. For example, NuGet Package Explorer needs a "Package Chooser" dialog. This should be an ideal reusable widget where the output is the selected package. Possibly downloaded and referenced from the local

[2017-11-24 20:33] kellcomnet2 commented on #329
I have this need as well with another plugin architecture, the code has to use the existing copy of the dll on the end pc but to develop against it I import the reference then set copy local to false.

[2017-11-24 20:35] jnm2 commented on #329
I ran into this too. Right now I'm dealing with it by including this .targets:

[code]

[2017-11-24 20:57] davidraleigh commented on #3251
@emysa341 I got tired of nuget push not working, so I wrote a small python script using requests in order to push my package:

[code]

To use this you'll need `requests` installed (http://docs.python-requests.org/en/master/user/install/#install).

[code]

[2017-11-24 21:58] Legends opened #6223 "Cannot install entityframework nuget package"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet Version: 3.4.4.1321

dotnet.exe --version : 2.0.3

VS version (if appropriate): VS2017 v15.4.4

OS version : Win10 v1703 (OS Build 15063.726)

## Detailed repro steps so we can see the same problem

I have deleted all Entityframework references and dependencies

 1. from the project refe

[2017-11-25 12:32] ilexp commented on #6161
Thanks for the explanation so far! Continuing to look into this.

Are there plans for future versions of NuGet to go back towards a more "frontend agnostic package management library" approach? In my understanding, the core of NuGet is all about communicating with a server, resolving dependencies, downloading and extracting files - so why should it be built with a certain UI or project type in min

[2017-11-26 00:11] ghost commented on #6180
If someone is good with Go and C# / F# / VB, can probably convert

https://github.com/package-url/packageurl-go/blob/cf7b6f5/packageurl.go and
https://github.com/package-url/packageurl-go/blob/cf7b6f5/packageurl_test.go

@pombredanne, can there be `packageurl-dotnet` repo under package-url org? Or perhaps it is a right fit for https://github.com/dotnet/corefxlab repo as extension to System.Uri nam

[2017-11-26 08:28] pombredanne commented on #6180
@kasper3 I created a https://github.com/package-url/packageurl-dotnet alright :)

[2017-11-26 18:01] StingyJack commented on #3978
I would think using powershell to add references to a proj file would look more like this or by using the [CodeAnalysis Workspace/Project stuff](http://www.coderesx.com/roslyn/html/F806EF6A.htm)

[code]

[2017-11-26 18:35] william-gross commented on #4070
@zhili1208 This issue is not fixed; I just reproduced it again with nuget.exe 4.4.1. The error output is exactly the same. Please reopen.

[2017-11-27 01:24] anangaur commented on #6180
@pombredanne I have not looked thoroughly into the spec or its rationale but I can answer the question @   https://github.com/package-url/purl-spec/pull/1/files#diff-88b99bb28683bd5b7e3a204826ead112R597

NuGet does not prescribe any format except for the allowed package ID texts so I don't think the first part can be read as namespace even if many packages do follow that nomenclature.

[2017-11-27 03:54] cclauson commented on #6214
I git cloned this URL:
https://github.com/NuGet/NuGet.Client.git
I seem to be on the dev branch (sorry, it seems I misstated this in my original post).

Since posting this, I have gotten it to build, but I had to change the source code to do it.  Specifically, I had to change "using Microsoft.AspNet.FileProviders" to "Microsoft.Extensions.FileProviders" on a few files, manually get this source cod

[2017-11-27 03:57] cclauson commented on #6214
More specifically, if you look at NuGet.Commands.csproj, you will find the following line:

    <Compile Include="..\..\..\submodules\FileSystem\src\Microsoft.Extensions.FileSystemGlobbing\**\*.cs;..\..\..\submodules\FileSystem\src\Microsoft.AspNet.FileProviders.Abstractions\**\*.cs;..\..\..\submodules\FileSystem\src\Microsoft.AspNet.FileProviders.Sources\**\*.cs;..\..\..\submodules\Common\src\Mic

[2017-11-27 05:08] cclauson opened #6224 "NuGet restore extremely slow in large solution targeting UAP 10.0"
Hi,

NuGet restore is incredibly slow for me.  I am working on a solution with 600+ projects, when restore is run without a preexisting src.bld directory, the process takes about 10 minutes.  Restore is being done for .NET Framework 4.6 and UAP 10.0.

I've pulled the nuget source code and run the restore process from Visual Studio to try to get an idea of what is taking so long.  There seem to be

[2017-11-27 08:00] pombredanne commented on #6180
@anangaur Much honored by your feedback: this is highly valuable and authoritative input!
I am updating the spec accordingly then.

FWIW, the skinny rationale is:

Some tools, DB and APIs deal with many package types: NuGet, NPMs, RubyGems, Debian, etc.: these can be meta-catalogs, software inventory tools, analytics, alerting and workflows, and several other use cases.

These tools can exchange d

[2017-11-27 08:44] emgarten commented on #6224
A couple of questions on your environment:
* What version of NuGet are you using?
* How are you running restore?
* Do all of the projects restore in a single operation or are you calling restore multiple times?
* Are downloads happening during the 10 minute restore?

How long does it take when using nuget.exe 4.4.1?
https://dist.nuget.org/win-x86-commandline/latest/nuget.exe

There have been a lot

[2017-11-27 11:13] dhvik opened #6225 "nuget pack url encodes filenames with @ or whitespace (%40 and %20)"
## Details about Problem

NuGet product used: NuGet.exe

NuGet version: 4.4.1.4656

dotnet.exe: 2.0.3

OS version (i.e. win10 v1607 (14393.321)): win 8.1 (6.3.9600)

## Detailed repro steps so we can see the same problem

1. Create an empty text file and include whitespace and @ in name.
` test whitespace and@.txt`
2. Create a minimal nuspec file and include the file using a file element
[code]
3.

[2017-11-27 17:28] myermian opened #6226 "Support additional PackageReference conditions such as $(Configuration)."
## Details about Problem
* Microsft Visual Studio Enterprise 2017 (Version 15.4.1)
* NuGet Package Manager 4.4.0
* Microsoft Windows 10 Enterprise

## Detailed repro steps so we can see the same problem
1. Create a new project (any will do, used console application as an example)
2. Add a package using the PackageReference format.
3. Modify the csproj and add a condition to only include the packag

[2017-11-27 18:00] karelz commented on #6180
@kasper3 from a brief scan of this issue, I don't see any reason for extending `System.Uri` or using corefxlab repo. Packaging is higher-level than CoreFX IMO.

[2017-11-27 18:07] PatoBeltran commented on #6214
It is good to see that you found a workaround this issue. Yeah, we have those repos managed as submodules in our code. I will investigate this issue to see why you were seeing this problem and we weren't. Thanks for taking the time to open this issue and investigate!

I will close this as it has been resolved and a workaround has been provided. Please feel free to reopen it if you feel like it has

[2017-11-27 18:07] #6214 closed, assigned to nobody

[2017-11-27 18:20] #6167 closed, assigned to zhili1208

[2017-11-27 18:21] jainaashish commented on #5488
We've the initial code ready but needs to work with PM to finalize the spec.

[2017-11-27 18:22] #6169 closed, assigned to zhili1208

[2017-11-27 18:22] #6077 closed, assigned to zhili1208

[2017-11-27 18:22] #6076 closed, assigned to zhili1208

[2017-11-27 18:24] zhili1208 opened #6227 "PackageSigning - Ensure all signing techniques have same behavior"

[2017-11-27 18:24] jainaashish commented on #6067
I was able to run a initial NuGet specific perf test on a local box but it's still not able to measure performance which might needs specific ETW events instead of just telemetry events. So still needs to look into that and work with VS telemetry team.

[2017-11-27 18:25] zhili1208 commented on #6168
Key Isolation part is done, but need to make native sign as same as managed sign #6227

[2017-11-27 18:25] rohit21agrawal commented on #5488
@tomkuijsten no, our tool (which is work in progress) isn't currently intending to convert to the new csproj format.

[2017-11-27 18:31] rohit21agrawal commented on #6225
dupe of https://github.com/NuGet/Home/issues/5956

[2017-11-27 18:31] #6225 closed, assigned to nobody

[2017-11-27 19:11] clairernovotny opened #6228 "$version$ token's cause Manifest.ReadFrom to throw"
If you have a NuSpec that uses tokens in any version field, the Manifest / version parsing logic will throw.

This is because `NuGetVersion` does not understand the tokens.

This also affects other places `NuGetVersion` is used, like in Dependency version ranges.
`NuGetVersion` needs to support the tokens.

[2017-11-27 19:50] StingyJack commented on #6216
"the classic project format which has limited support for wildcards and globbing."

...was something said to me recently during an exchange with msft on a support issue. Im still waiting for details on the specific limitations.

[2017-11-27 19:53] StingyJack commented on #6187
It leaves them around even when packages are removed. It's another _thing to manage_.

[2017-11-27 20:06] rohit21agrawal commented on #6216
@jhermsen yes that's the correct approach :)

Closing this for now as a question, but please feel free to ask more questions and we will be happy to help.

[2017-11-27 20:06] #6216 closed, assigned to nobody

[2017-11-27 20:09] #6099 closed, assigned to nobody

[2017-11-27 21:10] daveaglick commented on #4810
I am able to reproduce this. Here is my `NuGet.Config` file, placed alongside my .sln:

[code]

I've tried lots of different variations for the value of `globalPackagesFolder` including absolute paths. MSBuild appears to ignore all of them. The solution contains two SDK-style projects. One targets .Net Standard 1.5 and the other .NET Core 2.0.

NuGet Version: 4.3.0.4406
Visual Studio 15.4.4

[2017-11-27 21:14] cclauson commented on #6224
Thanks for your response on this!

My nuget.exe version is 4.4.1.4656.  The restore I've been trying is "nuget restore .\MySln.sln" (we're actually using restore from MSBuild on each project individually elsewhere in our workflow, but I've been testing this since it seems to be the same slow perf).  I do not believe it's downloading anything, and checked this by running the restore with my network

[2017-11-27 21:19] evil-shrike commented on #6221
On another machine in WSL I've created a global NuGet config in `~/.config/NuGet/NuGet.Config` with the same configuration. Then run `dotnet add package`
It fails with 404:
[code]

While if I open the url in browser it'll ask for credentials (basic auth). If I already authenticated then the url returns xml feed.
But nuget client shows me Forbidden (404. Why not Unauthorize (401)? In any case nuget

[2017-11-27 21:19] evil-shrike commented on #6221
It seems that I'm having the same issue as #3664

[2017-11-27 21:20] evil-shrike commented on #3664
Any update?

[2017-11-27 21:24] cclauson commented on #6224
Actually I'm looking at your change from Nov 10, I don't seem to have this, I can check to see if that improves things.

[2017-11-27 21:48] anangaur commented on #4254
We should allow `dotnet pack` with nuspec files. Currently this is a major dissatisfaction for pack on Linux and non Windows platforms.
I think the following option would be better:
[code]

[2017-11-27 22:10] emgarten commented on #4810
@daveaglick is the value of `packageFolders` correct in `obj\project.assets.json`?

[2017-11-27 22:25] daveaglick commented on #4810
Nope - here's what I've got after closing VS, deleting the obj folder, reopening VS, and rebuilding:

[code]

("E:\\NuGet" is my global default, so that's not unexpected if the local config isn't working)

[2017-11-27 22:29] cclauson commented on #6224
In the logs I see your change to caching from November 10 and I have this in the enlistment that I'm running.  If I undestand correctly, this seems to create a potential for reducing work in ProjectRestoreCommand.InstallPackagesAsync() in the case where packagesToInstall.Count > 0.  However, in my case packagesToInstall.Count is always zero and this code never executes, so probably this change doe

[2017-11-27 22:35] emgarten commented on #6224
That's right, dev branch will have the latest.

That's a good test. Restore should have failed if it needed to go online unless you specified to ignore failed sources.

Restoring the solution should be much faster than restoring each project individually in separate restores due to how msbuild info and package info is cached between restores when running in the same process.

Try the following:
1.

[2017-11-27 22:37] emgarten commented on #6224
This will always be zero if everything is in the global packages folder already, so you are right, this perf fix which is in NuGet 4.5.0 (not yet released) doesn't benefit your scenario.

[2017-11-27 22:49] emgarten commented on #4810
Where did you define this? Your user wide nuget.config?

[2017-11-27 22:56] rohit21agrawal commented on #4254
you need a project that would import the targets that define the pack task. it's not as straightforward.

[2017-11-27 23:05] daveaglick commented on #4810
Well this is odd - I can't find it anywhere. I *thought* it was defined in "%APPDATA%\NuGet\NuGet.Config" which contains the rest of my settings, but it's not in there. I also checked all the other possible config locations according to https://docs.microsoft.com/en-us/nuget/consume-packages/configuring-nuget-behavior#config-file-locations-and-uses and can't find a config file that adjusts the def

[2017-11-27 23:11] jainaashish commented on #4810
Can you also check if the environment variable `NUGET_PACKAGES` is set? this is another way to set the global packages folder.

[2017-11-27 23:36] natemcmaster commented on #4254
This still requires an MSBuild project, right? What I'm asking for is the ability to pack a nuspec **without** any MSBuild project file at all. Conceptually, this as a new dotnet gesture:

[code]

As an implementation detail, you could put this in `dotnet-pack`, or `dotnet-nuget`, but that piece is less important to me than the ability to pack without a \*.csproj file.

[2017-11-28 00:02] cclauson commented on #6224
Both of these took the same amount of time, 11 minutes

[2017-11-28 00:14] anangaur commented on #4254
@rohit21agrawal I did not fully get what you meant here. Why shouldn't it just do what `nuget pack` does? Assuming everything is in place including the nuspec file.

@natemcmaster Agree.

For end user its confusing if there are two implementations of pack available under 2 different options. i.e. there shouldn't be `dotnet pack` as well as `dotnet nuget pack` both having different behavior.

[2017-11-28 00:20] emgarten commented on #6226
Duplicate of https://github.com/NuGet/Home/issues/5895

[2017-11-28 00:23] emgarten commented on #6224
How long does it take to run:
`msbuild /t:GenerateRestoreGraphFile /p:RestoreGraphOutputPath=c:\tmp\graph.dg MySln.sln`

[2017-11-28 00:25] emgarten commented on #6224
Also, what kind of projects are these? NETCore SDK style projects using the new minimal format, or are these classic csproj files with PackageReferences?

If possible it would be helpful if you could share the .dg file you generate.

[2017-11-28 00:33] cclauson commented on #6224
They use "PackageReference"

[2017-11-28 00:36] natemcmaster commented on #4254
I know `nuget.exe pack` combines packing csproj and nuspec into one command. I don't know what kind of feedback you've had on this. My uninformed point-of-view is that having two modes of dotnet-pack can be just as confusing. There are command line options on dotnet-pack today that wouldn't apply if you were calling `dotnet pack MyPackage.nuspec`. For example, `dotnet pack MyPackage.nuspec --no-re

[2017-11-28 00:38] emgarten commented on #6224
Do they contain `<Project Sdk="Microsoft.NET.Sdk">`?

[2017-11-28 00:39] anangaur commented on #4254
I think we are on the same page. May be my wordings were ambiguous. I am against having another command `dotnet nuget pack`. I would rather have `dotnet pack --nuspec-file mypackage.nuspec` or just `dotnet pack mypackage.nuspec`.

[2017-11-28 00:42] cclauson commented on #6224
They do not appear to.  Do you think adding this might help?

[2017-11-28 00:45] emgarten commented on #6224
No, that just tells me which type of project it is.

How long does the GenerateRestoreGraphFile target take on the solution?

[2017-11-28 00:49] cclauson commented on #6224
It took a few seconds.

[2017-11-28 00:50] cclauson commented on #6224
More specifically, about 35 seconds

[2017-11-28 00:57] natemcmaster commented on #4254
Thanks for clarifying. Yes, something like `dotnet pack --nuspec-file mypackage.nuspec` is the ask here.

I was just trying to point out that there may be a problem with command-line options that only apply to csproj or nuspec packing, but not both.

[2017-11-28 01:00] emgarten commented on #6224
35 seconds for 600 projects seems reasonable or fast. A large solution with 155 projects I profiled recently took 22 seconds to create the dg file, and then 6 seconds to run the actual restore.

Is there anything unique about your solution or the packages referenced? For example:
* Are the projects heavily interlinked? A -> B -> C -> D where you have project A referencing B, C, and D directly?
* H

[2017-11-28 01:12] emgarten commented on #6228
The tokens should be replaced at write time and pack should handle this. At any time after pack it is invalid to have a non-version in a nuspec version field.

What is the scenario where you are hitting this?

[2017-11-28 01:14] tmat opened #6229 "Enable NuGet Pack to be deterministic"
**Background**
Some environments require build to be deterministic, meaning that each tool involved in the build process must produce exactly the same output given the same inputs. Furthermore the build should not depend on the ambient state of the environment such as the current time, a global random number generator state, the machine name the build is running on, the root directory the reposito

[2017-11-28 01:18] cclauson commented on #6224
A leaf node with 6 package references took about 2 seconds.  Overall the solution seems to use something like 80 packages.

[2017-11-28 01:22] emgarten commented on #6224
That sounds fairly simple, maybe something in the graph walk isn't scaling properly. Any chance you could share the .dg file and the project.assets.json files from restore?

//fyi for perf/graph caching @davidfowl

[2017-11-28 01:25] tmat commented on #6229
FYI @jaredpar @jinujoseph

[2017-11-28 01:26] cclauson commented on #6224
I'd love to show it to you.  Let me look into this and see if I can get this to you.  Thanks so much for your help!

[2017-11-28 01:33] clairernovotny commented on #6228
The scenario is using the Manifest types to read/write the nuspec for NuGet Package Explorer. We are not actively packing then, it's an edit operation.

[2017-11-28 01:48] clairernovotny opened #6230 "Regression: Pack targets failing - trying to add pdb for embedded type"
I’m seeing a regression that’s causing Ix.NET to fail with 2.0.3 and higher. I don’t know when the break was introduced. Nothing in Ix has changed related to this:
https://github.com/Reactive-Extensions/Rx.NET/tree/develop/Ix.NET/Source

Getting errors like this:
"C:\dev\RxNET\Ix.NET\Source\System.Interactive\System.Interactive.csproj" (pack target) (1) ->
(GenerateNuspec target) ->
  C:\Program F

[2017-11-28 01:49] emgarten commented on #6228
@rohit21agrawal how does pack handle this?

[2017-11-28 01:53] rohit21agrawal commented on #6228
@onovotny can you paste a working example here?

[2017-11-28 01:55] clairernovotny commented on #6228
What do you mean by a working example?

Pack handles it by replacing the values with the `propertyProvider` func Preprocessor before the Manifest is deserialized.

[2017-11-28 01:56] clairernovotny commented on #6228
The repro is easy though, put `$version$` into the `<version>` element of a nuspec (or in a dependency version attribute), and then try to open with the latest NuGet Package Explorer. The version in master now uses NuGet.Packaging instead of custom deserialization, that's why we hit this.

You can either build it locally if you want to debug and use NuGet.Packaging as a source reference or as a bi

[2017-11-28 01:58] rohit21agrawal commented on #6228
yeah I just saw that.

I am not sure what the right behavior should be right now. Based on the scenarios for which this was designed, it has the correct behavior.

If you still want the tokens, can't you use a simple XmlReader?

[2017-11-28 01:59] liushuanggang commented on #6213
@rohit21agrawal,  Sorry later reply. I have pasted my nuspec file below. And I have provided my test sample with one driver:

[https://1drv.ms/f/s!Ai1sp_yvodHfgQirLftPPOso7tV1](https://1drv.ms/f/s!Ai1sp_yvodHfgQirLftPPOso7tV1)

[code]

[2017-11-28 01:59] clairernovotny commented on #6228
We don't want to do custom xml parsing. That lead to all kinds of nasty parsing issues. The solution is pretty easy, extend NuGetVersion to understand the tokens similar to what we did when we were custom:

https://github.com/NuGetPackageExplorer/NuGetPackageExplorer/blob/v3.25/Types/Packages/TemplatebleSemanticVersion.cs

It just needs to round-trip for serialization and be displayable in some fo

[2017-11-28 02:00] emgarten commented on #6230
@rohit21agrawal can you take a look?

[2017-11-28 02:01] anangaur commented on #4254
We also need token replacement functionality in dotnet that exists today with nuget.exe.  Typically I would want to use the version information from the assembly metadata to use as the package version (is this broken? https://github.com/NuGet/Home/issues/5807)

[2017-11-28 02:05] rohit21agrawal commented on #6230
I will have to blame msbuild for this because if _GetDebugSymbolsWithTfm target (that resides in NuGet.Build.Tasks.Pack.targets) depends on DebugSymbolsProjectOutputGroup . The target outputs for DebugSymbolsProjectOutputGroup should have been an empty list for DebugType = embedded but instead it points to a non-existent pdb file on disk.

[2017-11-28 02:06] rohit21agrawal commented on #6230
This issue was moved to Microsoft/msbuild#2754

[2017-11-28 02:06] #6230 closed, assigned to nobody

[2017-11-28 02:07] emgarten commented on #6229
What time should be used? For example when pack creates a new nupkg with a new nuspec, are you saying that shouldn't use the current time? Would a time need to be passed into pack from the user? How does the compiler solve this?

[2017-11-28 02:18] rohit21agrawal commented on #6228
can you help me understand why does nuget package explorer (which opens up a nupkg) would ever encounter a situation of reading a nuspec file with a token in it?

or are you just using the package explorer to open a nuspec file?

[2017-11-28 02:20] clairernovotny commented on #6228
Because people have nupsecs that have tokens in them (checked into version control, etc), and they want to use the tool to edit the nuspec metadata. They are not creating a package that way. Think about it like a nuspec editor.

This was actually one of the most requested features in the CodePlex site before it moved to GitHub.

NuGet Package Explorer supports opening up and editing Nuspecs direct

[2017-11-28 02:49] #6226 closed, assigned to nobody

[2017-11-28 02:50] tmat commented on #6229
@emgarten I'm not sure what the right answer is for nuget.

Re Roslyn: We decided to update the PE format specification to a) allow the time-stamp to be an arbitrary number b) add a record to debug directory that indicates the time-stamp is not actually time, so that new tools can handle the value accordingly. We hash the content of the PE file using SHA1. That gives us 20 bytes of deterministic h

[2017-11-28 02:50] rohit21agrawal commented on #6226
@myermian do the workaround suggested in #5895 work for you?

[2017-11-28 02:52] rohit21agrawal commented on #6218
@joelverhagen any idea what might be going on here?

[2017-11-28 02:55] tmat commented on #6229
Re passing time stamp into pack task -- possible but it's just shifting the burden to the user, it doesn't really solve anything. I do not like doing that since most users do not want to spend time reading specifications and wondering what might break if they pass in whatever value they think makes sense.

[2017-11-28 03:00] rohit21agrawal commented on #6160
closing because of lack of response. please feel free to reactive if using the above version still repros the issue.

[2017-11-28 03:00] #6160 closed, assigned to nobody

[2017-11-28 03:07] clairernovotny commented on #6228
If we can come up with what the updated API shape should look like, I can make the changes if that'll help get it done sooner.

[2017-11-28 03:10] rohit21agrawal commented on #6228
@rrelyea where would you put this in terms of priority? we will have to allocate time accordingly

[2017-11-28 04:21] anangaur commented on #6180
@pombredanne NuGet does suggest some best practices but does not enforce any way. If you look at our documentation [here](https://docs.microsoft.com/en-us/nuget/create-packages/creating-a-package#choosing-a-unique-package-identifier-and-setting-the-version-number), it recommends the usage of namespaces similar to namespaces in .NET but as I mentioned it’s more of a recommendation.

[2017-11-28 04:37] anangaur commented on #6218
This should be temporary and we have already fixed the issue. @Abbas1546 can you check if this works for you now?

[2017-11-28 04:37] anangaur commented on #6218
/cc: @skofman1 , @chenriksson

[2017-11-28 05:02] jaredpar commented on #6229
I'm optimistic that 0 can be used for the timestamp here. Roslyn had to abandon it due to some internal legacy tools which were looking at timestamps specifically to make sure they weren't 0. I doubt NuPkg will have that problem.

[2017-11-28 06:32] rohit21agrawal commented on #6229
what's the scenario you are trying to solve that you need this from nuget pack? @jaredpar @tmat

[2017-11-28 07:21] jaredpar commented on #6229
@rohit21agrawal deterministic, reproducible builds. This is the ability to take a given source tree and build it consistently from machine to machine. More detailed info available here: https://reproducible-builds.org/

This is a practice that is becoming standard, and soon to be required, in most Linux distros. Hence it will apply to our source build efforts at some point in the future.

In addit

[2017-11-28 08:20] cschyma commented on #5157
Does not occure anymore with .Net Core 2.0.0 SDK

`FROM microsoft/dotnet:2.0.0-sdk`

[2017-11-28 08:35] nkolev92 opened #6231 "Clean up Package Spec redudant APIs"
The PackageSpec model currently has a bunch of redundant APIs.

Among those IncludeExcludeFiles, PackOptions, PackInclude etc.

These need to be removed if they are not used anymore.

Likewise a similar analysis needs to be done on rest of the package spec.

Related discussion [here](https://github.com/NuGet/NuGet.Client/pull/1796#pullrequestreview-79419923)

//cc
@emgarten @rohit21agrawal

[2017-11-28 08:35] OsirisTerje commented on #2762
Where is this issue now?  Still no gitter, nor slack?  Anything else?

[2017-11-28 08:36] OsirisTerje commented on #2762
(It says I unassigned @harikmenon , but nope, I didnt)

[2017-11-28 08:56] biourja-ajain commented on #6195
Hello

I am unable to use *Manage Nuget packages * and use the browse opton to
download from website. i am getting this error

" *An error occurred while sending the request.*
*  Unable to connect to the remote server*
*  A connection attempt failed because the connected party did not properly
respond after a period of time, or established connection failed because
connected host has failed to res

[2017-11-28 11:45] enricosada commented on #6229
@jaredpar for reproducible builds you need also the exact list of packages to restore.
maybe ref https://github.com/NuGet/Home/issues/5602 if you want to 👍

 the deterministic build is a step after.

A common strategy in package managers (ruby bundler, js npm5/yarn, etc) is having a real lock file https://fsprojects.github.io/Paket/lock-file.html to write down the list of packages used at compile

[2017-11-28 13:42] ghost commented on #4860
Have you tried to put virtual repo over remote repo and install packages from virtual?

[2017-11-28 16:09] thebothead commented on #982
I am having a similar issue, if not the same, with csharp in VS2015.

I am importing a props file (the imports are added correctly on package install).  However, when building am not seeing the correct results.  The props file I have points to a code analysis rule set file with style cop settings, and only after the project is reloaded are the rules actually applied correctly.  Before reloading th

[2017-11-28 16:55] jaredpar commented on #6229
@enricosada agree. To have a reproducible build all aspects of the build must be deterministic. For this particular issue though we're focusing on the details of the `pack` command though. That is independent from `restore`

[2017-11-28 17:06] evil-shrike opened #6232 "dotnet add package --source uses the default sources as well"
In my global NuGet.Config (in user's profile) I have several sources configured.

Then in a project I'm adding a new package:
[code]
This package exists in several sources from the global NuGet.Config.
NuGet uses them all, finds a most recent version and adds PackageReference.
Problem is that it totally ignores my argument `--source` where I ask to use a particular source instead of all sources fr

[2017-11-28 17:54] emgarten commented on #982
@thebothead there have been a lot of fixes around props/targets file reloading in VS 2017. I suggest updating to the latest version and trying your scenario there.

[2017-11-28 17:54] #982 closed

[2017-11-28 17:55] emgarten commented on #4860
This sounds like a problem with the feed. This repository tracks issues for the client side of nuget.

[2017-11-28 18:14] nkolev92 commented on #5452
This was fixed in https://github.com/NuGet/NuGet.Client/pull/1659

[2017-11-28 18:16] #5452 closed, assigned to nkolev92

[2017-11-28 18:17] nkolev92 commented on #5443
This is just a bad design, and we will not invest much time here.

Closing as won't fix.

[2017-11-28 18:18] #5443 closed, assigned to nkolev92

[2017-11-28 18:36] jnm2 commented on #3509
I've gotten so close to having an okay workaround!

 - Choose a target framework and copy the lib DLL to `/tools/design`
 - Copy any dependency assemblies it needs to the same nupkg directory so that it can be loaded at design time
 - Add [this file](https://gist.github.com/jnm2/fa77bfe42187c4e3ee9c558f35c00711#file-install-toolboxitems-init-ps1-L69) as `/tools/Init.ps1`

Result (only tested with

[2017-11-28 18:42] thebothead commented on #982
@emgarten thanks, confirmed this is fixed in VS2017.

[2017-11-28 18:42] livarcocc opened #6233 "dotnet add package/restore can't be used on private repository on Windows"
_From @NicolasDorier on November 28, 2017 13:48_

## Steps to reproduce

1. Create a feed on myget
2. 'nuget.exe setapikey <API_KEY> -Source https://www.myget.org/F/YOUR_FEED/api/v3/index.json'
3. Add https://www.myget.org/F/YOUR_FEED/api/v3/index.json to nuget config (either local or user scope)
4. Push Foo package using `dotnet nuget push  --source "https://www.myget.org/F/YOUR_FEED/api/v3/index

[2017-11-28 18:42] livarcocc commented on #6233
_From @enricosada on November 28, 2017 15:36_

doesnt work passing `--source` to `dotnet add`?

[2017-11-28 18:42] livarcocc commented on #6233
_From @NicolasDorier on November 28, 2017 15:38_

nop, same result. I added the fact I also added the repo to the nuget sources.
dotnet is attempting to use the right repository in both case, it just does not attach the credentials.

[2017-11-28 19:02] daveaglick commented on #4810
@jainaashish I does look like I have that set:

![2017-11-28_13h55_29](https://user-images.githubusercontent.com/1020407/33338444-1e2e283e-d444-11e7-9fb3-6547bc24cc78.png)

Must have picked it up along the way and not remembered.

So I think there are a few questions/problems here:
* Should the `NUGET_PACKAGES` environment variable (and other environment variables) take precedence over any of the

[2017-11-28 19:21] PatoBeltran commented on #6211
We should not assume anything about the archive. Code should be general enough to handle this.

[2017-11-28 19:21] #6211 closed, assigned to PatoBeltran, mishra14

[2017-11-28 19:26] ghost commented on #4860
Ok. Sorry

[2017-11-28 19:32] rrelyea commented on #2762
Looping in @anangaur -- and marking as needs triage.

[2017-11-28 19:56] rohit21agrawal commented on #6232
@mishra14 can you take a look?

[2017-11-28 19:57] TiltonJH commented on #5896
I have a similar problem.

`nuget list -IncludeDelisted` does not seem to work anywhere (v.4.4.1.4656).  I have tried it with NuGet.Server 2.11.3 and 3.0.0. As well as -allversion and/or -prerelease.

Looking at `/nuget/Packages()` show the delisted packages.

So `-IncludeDelisted` is generally not supported? So why does this switch exist at all?

Related NuGet.Server Issue [https://github.com/NuG

[2017-11-28 20:00] TiltonJH opened #6234 "list -IncludeDelisted does not seem to work"
`nuget list -IncludeDelisted` does not seem to work anywhere (v.4.4.1.4656). I have tried it with NuGet.Server 2.11.3 and 3.0.0. As well as `-allversion` and/or `-prerelease`.

Looking at `/nuget/Packages()` shows the delisted packages.

So `-IncludeDelisted` is generally not supported? So why does this switch exist at all?

Related closed issue #5896
Related NuGet.Server Issue [https://github.com

[2017-11-28 20:03] rohit21agrawal commented on #6234
@nkolev92 do you have any context on this?

[2017-11-28 20:13] cclauson commented on #6224
File sent over email.

[2017-11-28 20:15] nkolev92 commented on #6234
It favors the search endpoint, which doesn't work with unlisted packages.

[2017-11-28 20:36] mishra14 commented on #6232
@evil-shrike can you please share thedotnet version?

I do not see this problem in dotnet 2.1.1

[code]

[2017-11-28 20:50] evil-shrike commented on #6232
@mishra14
[code]

[2017-11-28 20:59] rohit21agrawal commented on #6234
is there an existing bug to associate with this?

[2017-11-28 21:04] nkolev92 commented on #5653
@alx9r
You need to use the -Prerelease with list.

In the VS screenshot, the include prerelease is checked, calling list with prerelease  is the equivalent.

[2017-11-28 21:04] #5653 closed, assigned to nobody

[2017-11-28 21:08] nkolev92 commented on #6234
It's the already linked closed one.
//cc
@joelverhagen

EDIT:
Clicked Close instead of comment on this issue by accident.

[2017-11-28 21:09] emgarten commented on #982
Glad it is fixed for you @thebothead, thanks for checking! 🍰

[2017-11-28 21:12] emgarten commented on #4810
👍 on docs

Env var wins over nuget.config files. These are typically used by a CI to override things without modifying files, it should probably keep this precedence.

https://github.com/NuGet/NuGet.Client/blob/2c4e39c5c5cd52c7a2739fdcfd6bd2b212212cd1/src/NuGet.Core/NuGet.Configuration/Utility/SettingsUtility.cs#L132-L161

[2017-11-28 21:19] daveaglick commented on #4810
That makes perfect sense, agree it should stay. So just needs to be well documented.

[2017-11-28 21:45] alx9r commented on #5653
@nkolev92 Thank you!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-11-28 22:47] emgarten commented on #4810
I've opened a doc bug to track this here: https://github.com/NuGet/docs.microsoft.com-nuget/issues/578

[2017-11-28 22:53] rohit21agrawal commented on #6213
seems like the ```<Link> ``` metadata for the contentFile written out in the .g.props file (inside the obj folder) has the wrong value and does not respect the flatten property.

[2017-11-28 23:06] mishra14 commented on #6232
@evil-shrike it seems that the issue you may be facing has been fixed with version 2.1.1. But I dont think that is released yet. I will try to see if I can repro with 2.0,3 and coinfirm that this is fixed.

[2017-11-28 23:13] mishra14 commented on #6233
According to https://github.com/NuGet/Home/issues/1851, this should be fine on windows. Needs investigation

[2017-11-28 23:15] mishra14 commented on #3201
Reprioritizing based on chat with @rrelyea

[2017-11-28 23:46] mishra14 commented on #6232
@evil-shrike I cannot repro it on 2.0.3 either -

[code]

Can you share the logs?

[2017-11-28 23:51] evil-shrike commented on #6232
@mishra14 In your logs I can see nuget accesses two repos (nuget.sitefinity.com/nuget and https://dotnetmyget.blob.core.windows.net).
Do you have others in your global nuget.config?

here's my log:
[code]

[2017-11-28 23:59] sandyarmstrong commented on #5956
Any update on this? I haven't been able to determine a workaround. Even if I use explicit paths (instead of globs) in `src` and `target`, my spaces still get escaped.

I'm using NuGet 4.4.1.4656 on Mono 5.4.1.7, macOS 10.13.1.

[2017-11-29 00:19] rohit21agrawal commented on #5956
we are investigating this issue as we speak, will post details when we have an update.

[2017-11-29 00:23] sandyarmstrong commented on #5956
It looks like this behavior may be intentional. Although my file names are URI-escaped when I manually unzip, actually installing the package reverses the process.

[2017-11-29 00:47] #5970 closed, assigned to mishra14

[2017-11-29 02:17] NicolasDorier commented on #6233
I am trying to make a better repro

[2017-11-29 02:32] NicolasDorier commented on #6233
Here is full repro:

[code]

Tried to use v3 as well as v2 nuget feed. No success. `dotnet restore` has the same issue.
Note that nuget push works fine.

Using Visual Studio, it can restore the package successfully..

[2017-11-29 02:51] NicolasDorier commented on #6233
Tried with both v2 and v3 nuget.

[code]

No success either.

[2017-11-29 02:57] NicolasDorier commented on #6233
The only workaround at the moment is either to use Visual Studio, or in CI environment to use the "pre-authenticated V3 URL" which include your API_KEY. In the later case, we just can't use that inside the nuget.config as it would leak the key in the repo. :/

[2017-11-29 12:46] ohadschn opened #6235 "PackageIdentity.ToString throws NullReferenceException if version is null"
The case of a `null` version is clearly supported, specifically see the [HasVersion](https://github.com/NuGetArchive/NuGet.Packaging/blob/b0a0bead29c480186142a42daa8478f7b4a778f0/src/NuGet.Packaging.Core.Types/PackageIdentity.cs#L62) property.

However, [`NuGet.Packaging.Core.ToString`](https://github.com/NuGetArchive/NuGet.Packaging/blob/b0a0bead29c480186142a42daa8478f7b4a778f0/src/NuGet.Packagin

[2017-11-29 12:55] mdczaplicki opened #6236 "Unable to load the service index for source"
## Details about Problem

I cannot browse/install/update any package in VS 2017. I have tried updateing VS 2017 to the newest version, but it doesn't work.
I have completely reinstalled VS 2017 - didn't help.

NuGet product used:  VS UI

NuGet version (x.x.x.xxx): 3.4.4.1321

dotnet.exe --version (if appropriate): 2.0.3

VS version (if appropriate): 2017

OS version (i.e. win10 v1607 (14393.321)):

[2017-11-29 13:11] mdczaplicki commented on #6236
It started working just like that. Didn't do anything.

[2017-11-29 14:00] erik-am commented on #4790
This issue is biting my team as well... I hope a fix will make it in a next version of NuGet

[2017-11-29 15:09] Tchami opened #6237 "Package manager UI: Missing install/update/uinstall options"
In the "Manage Packages for Solution" dialog, the "Install and Update Options" as well as "Uninstall Options" are missing from the Options, when you try to install/update/consolidate a package. All options are available if you manage packages for a single project using the package manager ui.

I'm guessing this is by design(?), but in some situations e.g. when working with multiple projects where

[2017-11-29 15:47] jasmeet321 commented on #5461
I have one class library project as my repository layer that in .netcore 2,0 framework and i am consuming this dll in Azure function project and its giving issue below

Severity	Code	Description	Project	File	Line	Suppression State
Error	NU1201	Project Gamification.Services is not compatible with net461 (.NETFramework,Version=v4.6.1). Project Gamification.Services supports: netcoreapp2.0 (.NETCoreA

[2017-11-29 16:34] TiltonJH commented on #6234
@nkolev92 What do you mean by

Please elaborate?

I thought:

- `nuget list -source XYZ` lists all the highest packages from XYZ
- `nuget list -source XYZ -AllVersions` lists all packages from XYZ
- `nuget list -source XYZ -AllVersions -Prerelease` lists all packages including prereleases from XYZ
- `nuget list -source XYZ -AllVersions -Prerelease -IncludeDelisted` lists all packages including pre

[2017-11-29 17:25] nkolev92 commented on #6234
Sources can have 2 different endpoints to search for packages,
/nuget/Packages()  and /nuget/Search().
Packages is the old, primitive and a poorly performing protocol.
List looks if the server has the Search endpoint and uses that.
The search endpoint implementation however, by default excludes the unlisted packages, because the exact reason why someone would unlist a package would be to make in u

[2017-11-29 17:28] sandyarmstrong commented on #6159
I'm seeing this behavior with VSMac as well. I have a simple nuspec that has only `contentFiles`, and `buildAction="None"`. The files are all in `contentFiles\any\any\**`.

The `*.csproj.nuget.g.props` file has `<NuGetItemType>Compile</NuGetItemType>` for all files, so my build also fails with `CS2015`, as these are not source code files.

I'm installing into a default Mono console project that I

[2017-11-29 17:28] sandyarmstrong commented on #6159
https://github.com/NuGet/Home/issues/5024 seems related.

[2017-11-29 17:50] sandyarmstrong commented on #6159
Okay, I'm starting to understand this a _little_ better.

I was trying to use both the local layout of having my files in `contentFiles\any\any` _and_ the `contentFiles` element in my metadata. It appears that when doing the former, the latter is totally ignored. So all my files were packed, but with the default `buildAction` (`Compile`).

But I cannot figure out how to properly use `contentFiles`

[2017-11-29 18:25] ali-hk commented on #6201
@diverdan92, cleaning and rebuilding results in the following build failure:

1>C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\15.0\Bin\Microsoft.Common.CurrentVersion.targets(1988,5): warning MSB3277: Found conflicts between different versions of the same dependent assembly that could not be resolved.  These reference conflicts are listed in the build log when log verbosit

[2017-11-29 18:46] clairernovotny commented on #6228
Ping @rrelyea ? I'm happy to do the implementation since I otherwise need nasty hacks to support this in NPE.

Here's an initial idea for extending `NuGetVersion`:

[code]

Parse would try to parse the version as it does today, and if it fails checks for the token marker. It'll store the value and use `0.0.0.0` as the version itself. Relevant formatters/ToString would return the token if present.

[2017-11-29 18:56] jainaashish commented on #6237
This has been in latest NuGet with VS 15.5 which is currently in preview but soon be rtm.

[2017-11-29 19:29] jainaashish commented on #5954
Sample PR is merged to show how can we transform xml files with msbuild targets which will allow it to work with `PackageReference`

[2017-11-29 19:31] emgarten commented on #6122
The restore target should return an item or a property that indicates if props/targets files changed on disk.

https://github.com/NuGet/NuGet.Client/blob/2cd603d1b54f9ccb92429102576f7edc1b48cbec/src/NuGet.Core/NuGet.Build.Tasks/NuGet.targets#L92

Example:
[code]

This property should be set based on the auto generated props/targets changing. An easy check to start with is to see if restore was a n

[2017-11-29 20:01] mhsimkin opened #6238 "API Question: How can custom HTTP headers be added to request?"
Version Nuget.* 4.x.x

I'm building a automated application update process that will rely on using a Nuget feed.  Our internal Nuget Server (ProGet) supports several custom HTTP Headers.  These headers can be used to send the username, date, application, etc.

How can I add these headers to at least the DownloadResource::GetResourceAsync() call?

Thanks

-marc

[2017-11-29 20:08] rrelyea commented on #6236
We were going to ask which OS & OS Version, and which .net framework version was installed while you were having this problem.
However, since it appears fixed, perhaps it doesn't need investigation?

[2017-11-29 20:08] #6236 closed, assigned to nobody

[2017-11-29 20:20] rrelyea commented on #5895
@kulov - what kind of project were you needing to choose/when to make it work inside of VS?

- what version of VS are you seeing the problem in?
- project type: normal csproj or netcore SDK based csproj?
- other characteristics?

[2017-11-29 20:24] rrelyea commented on #5894
met with WPF team engineer yesterday to discuss fixing PresentationBuildTasks.dll -- based on my PR http://github.com/nuget/nuget.client/pull/1786 -- will update when I understand timeframe of fix into WPF. We'll then do the fix in microsoft.common.* in msbuild.

[2017-11-29 20:30] 304NotModified commented on #6228
Another option would be to subtype the `NuGetVersion`, e.g.

[code]

[2017-11-29 20:45] kulov commented on #5895
It is Visual Studio 2017, v15.4.4
normal csproj

no other specifics other that I want to load one specific dll on one configuration and load 5 other dlls if the configuration differs from the first.

[2017-11-29 22:54] rohit21agrawal commented on #6219
@Jjagg are you using mono to run nuget on linux?

[2017-11-29 22:59] mishra14 opened #6239 "Add additional tests around Timestamp verification involving a mock TSA"
Original task - https://github.com/NuGet/Home/issues/6176

We should spend some time trying to get a mock TSA that can return invalid responses to test the error cases in the timestamp verifier.

[2017-11-29 23:00] mishra14 commented on #6176
closing in the favor of #6239

[2017-11-29 23:16] #6176 closed, assigned to mishra14

[2017-11-29 23:18] emgarten commented on #6145
Steps
1. Open NuGet solution
1. Restore
1. Disconnect network
1. Restore (should pass)

Try also using -Force or removing the obj folders to ensure it still does not go online.

[2017-11-29 23:19] emgarten commented on #6145
We could improve this overall by ignoring source failures until we are sure the package doesn't exist.

[2017-11-29 23:19] PatoBeltran commented on #3072
Closing as stack overflow referenced has an answer to the problem

[2017-11-29 23:19] #3072 closed, assigned to nobody

[2017-11-29 23:24] rrelyea commented on #2222
won't be going back to do this, so closing.

[2017-11-29 23:24] #2222 closed, assigned to alpaix

[2017-11-29 23:24] mishra14 commented on #5907
Folks couple of updates to the spec -

1. I have removed `CryptographicServiceProvider` and `KeyContainer` parameters from the sign command as this was decided to be no longer relevant.
2. Cleaned the `Details about options` section about private key to reflect this.

[2017-11-29 23:25] rrelyea commented on #2223
wont' be getting to this backlog item, so closing.

[2017-11-29 23:25] #2223 closed, assigned to alpaix

[2017-11-29 23:26] emgarten commented on #6140
@erikaspl does this repro for you with VS 15.4?

[2017-11-29 23:26] PatoBeltran commented on #3076
Thanks for reporting this issue. At this time we suggest moving from packages.config to PackageReference with VS 2017 to resolve your issue. You can find out more about this here: https://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html

[2017-11-29 23:26] #3076 closed, assigned to nobody

[2017-11-29 23:28] rrelyea commented on #2224
if this is still an issue with the latest NuGet.exe (4.4.1) and or VS 2017 (15.4) -- and it is majorly impacting you, please give us updated data.

[2017-11-29 23:28] #2224 closed, assigned to nobody

[2017-11-29 23:28] emgarten commented on #6135
🔔 @tmeschter any updates?

[2017-11-29 23:29] PatoBeltran commented on #3097
We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps. 

[2017-11-29 23:29] #3097 closed, assigned to nobody

[2017-11-29 23:30] rrelyea commented on #2227
closing. If we have customer reports of this issue, we'll consider.

[2017-11-29 23:30] #2227 closed, assigned to nobody

[2017-11-29 23:31] jainaashish commented on #3929
Some of this is dupe of https://github.com/NuGet/Home/issues/5447 since there is still no credential provier support for dotnet.exe and for other part, you need to make sure you've the right sources set in nuget.config file.

[2017-11-29 23:31] #3929 closed, assigned to nobody

[2017-11-29 23:32] PatoBeltran commented on #3064
At this time we suggest moving from packages.config to PackageReference with VS 2017 to resolve your issue. You can find out more about this here: https://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html

[2017-11-29 23:32] #3064 closed, assigned to nobody

[2017-11-29 23:33] emgarten commented on #6124
@ohadschn take a look at NuGet.Packaging and the authoring validation there.

[2017-11-29 23:33] mishra14 commented on #5298
@agocke This should be fixed as @emgarten  mentioned. can you please try and let us know if you are still facing an issue.

[2017-11-29 23:33] #5298 closed, assigned to nobody

[2017-11-29 23:36] mishra14 commented on #5297
@sstevenkang looking at dotnet/cli#7686, you are facing this problem because you have 2 different csproj files in the same folder, which is unsupported.
But you can workaround this by adding a `--Force` to the restore calls which will result in  rewriting of the assets file each time.

[2017-11-29 23:38] mishra14 commented on #5299
@karann-msft is this covered in your spec for package compatibility?

[2017-11-29 23:38] jainaashish commented on #3950
Need to discuss with @Pilchie and the team to take this further and decide what should be the right approach here? We did some similar stuff for UWP where we provided a nominate api which just take a project name and run the restore whenever they need to... we can have the similar strategy for csproj.dll as well.

[2017-11-29 23:39] jainaashish commented on #3951
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-11-29 23:39] #3951 closed, assigned to nobody

[2017-11-29 23:40] PatoBeltran commented on #3075
At this time we suggest moving from packages.config/project.json to PackageReference with VS 2017 to resolve your issue. You can find out more about this here: https://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html

[2017-11-29 23:40] #3075 closed, assigned to rohit21agrawal

[2017-11-29 23:40] rrelyea commented on #2234
Closing this. The best move is to move away from Packages.Config.
In 2015, the advice was to move to project.json.
Since then, in concert with NetCore SDK based projects, we've enabled PackageReference in csproj. Ideally, moving in that direction will never modify the project file as part of install or restore.

[2017-11-29 23:40] #2234 closed, assigned to nobody

[2017-11-29 23:41] #3121 closed, assigned to nobody

[2017-11-29 23:42] jainaashish commented on #3952
We'll take care of this as part of clean-up drive for end to end as well as func tests

[2017-11-29 23:42] #3952 closed, assigned to nobody

[2017-11-29 23:42] mishra14 commented on #5302
Due to dotnet cli's move towards global tools in cli 2.1.0, it seems unlikely that we are not going to get to this.

@johnkors please let us know if you are still blocked by this.

[2017-11-29 23:43] nkolev92 commented on #6045
I thought there was another issue where this was discussed, but a big thing to consider here is the fact that we don't support any of these properties in the UI yet.

I'd like us to figure out that out before we continue adding new features.

[2017-11-29 23:44] rrelyea commented on #2245
@mishra14  -- you said you knew a dupe?

[2017-11-29 23:44] jainaashish commented on #3956
@kzu please take care of this, if this isn't an issue anymore then please close this.

[2017-11-29 23:45] mishra14 commented on #4920
dupe of #6051

[2017-11-29 23:46] rrelyea commented on #2246
In PackageReference, guard rails is off by default.
In Project.json, guard rails exists.
We're won't fixing for this, unless it rears its ugly head in an important scenario later.

[2017-11-29 23:46] #2246 closed, assigned to nobody

[2017-11-29 23:46] jainaashish commented on #3958
Please move to latest Visual Studio 2017 which uses `PackageReference` which has fixed this issue. There won't be any development for project.json

[2017-11-29 23:46] #3958 closed, assigned to nobody

[2017-11-29 23:47] rrelyea commented on #2247
In PackageReference, guard rails is off by default.
In Project.json, guard rails exists.
We're won't fixing for this, unless it rears its ugly head in an important scenario later.

[2017-11-29 23:47] #2247 closed, assigned to nobody

[2017-11-29 23:47] mishra14 commented on #4603
dupe of https://github.com/NuGet/Home/issues/4499

[2017-11-29 23:47] #4603 closed, assigned to nobody

[2017-11-29 23:47] #2997 closed, assigned to nobody

[2017-11-29 23:47] mishra14 commented on #4604
@v-luzh can you please re-test this in latest 15.6?

[2017-11-29 23:48] jainaashish commented on #3960
Please use latest Visual Studio 2017 which uses `PackageReference` which works across VS, dotnet.exe, or msbuild

[2017-11-29 23:48] #3960 closed, assigned to nobody

[2017-11-29 23:49] PatoBeltran commented on #3112
We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps. 

[2017-11-29 23:49] #3112 closed, assigned to nobody

[2017-11-29 23:49] rrelyea commented on #2248
old bug. won't fixing.

[2017-11-29 23:49] #2248 closed, assigned to deepakaravindr

[2017-11-29 23:49] nkolev92 commented on #1000
Redundant.

[2017-11-29 23:49] #1000 closed

[2017-11-29 23:50] mishra14 commented on #5382
@nguerrera this has been fixed. Holler if you have problems.

[2017-11-29 23:50] #5382 closed, assigned to nobody

[2017-11-29 23:50] emgarten commented on #2989
Closing due to lack of response. Please try this in the latest 4.4.1 version of nuget.exe.

[2017-11-29 23:50] #2989 closed, assigned to nobody

[2017-11-29 23:51] rrelyea commented on #2251
we'll consider dealing with if we get more feedback on this.

[2017-11-29 23:51] #2251 closed, assigned to rohit21agrawal

[2017-11-29 23:51] jainaashish commented on #3962
Please go to https://www.nuget.org/downloads and pick the right link to download latest stable releases.

[2017-11-29 23:51] #3962 closed, assigned to nobody

[2017-11-29 23:52] #3079 closed, assigned to nobody

[2017-11-29 23:52] nkolev92 commented on #1022
Redundant now.
NuGet.Version has a method to parse the version out of a string.

[2017-11-29 23:52] #1022 closed

[2017-11-29 23:52] emgarten commented on #2988
Closing since it sounds like this was fixed.

[2017-11-29 23:52] #2988 closed, assigned to nobody

[2017-11-29 23:52] mishra14 commented on #1281
Thanks for reporting the issue. At this point we do not plan on releasing an update for VS2015. Please try latest [VS2017](https://www.visualstudio.com/#) and let us know if you need more help from us.

[2017-11-29 23:52] #1281 closed, assigned to nobody

[2017-11-29 23:54] PatoBeltran commented on #3090
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, currently the only supported way to update packages in packages.config is through VS. If there are more community feedback on this, then we'll re-evaluate this.

[2017-11-29 23:54] #3090 closed, assigned to nobody

[2017-11-29 23:55] mishra14 commented on #5312
Closing as this is not a NuGet task.

[2017-11-29 23:55] #5312 closed, assigned to nobody

[2017-11-29 23:55] nkolev92 commented on #1023
Redundant now.
Lots has changed since then.

Please reopen if you have similar asks.

[2017-11-29 23:55] #1023 closed

[2017-11-29 23:55] rrelyea commented on #2252
we've gone through many JoinableTaskFactory related fixes throughout our codebase. closing as won't fix.

[2017-11-29 23:55] #2252 closed, assigned to alpaix

[2017-11-29 23:56] emgarten commented on #2990
Thanks for reporting this issue. At this time we suggest moving from packages.config to PackageReference with VS 2017 to resolve your issue. You can find out more about this here: https://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html

[2017-11-29 23:56] #2990 closed, assigned to nobody

[2017-11-29 23:57] natemcmaster commented on #6045
I think that UI thread was https://github.com/NuGet/Home/issues/5321

[2017-11-29 23:57] mishra14 commented on #5315
@Alxandr please let us know if you are still facing this issue.

[2017-11-29 23:57] #5315 closed, assigned to nobody

[2017-11-29 23:57] davkean commented on #5312
@mishra14 Help me understand your conclusion here.

[2017-11-29 23:59] jainaashish commented on #3965
Check with latest build and let us know the current behavior

[2017-11-29 23:59] #3965 closed, assigned to nobody

[2017-11-29 23:59] mdczaplicki commented on #6236
Windows 7 Enterprise, build like above.
In this solution&project it was .NET 4.6.1.
I can share more information if you need.

[2017-11-29 23:59] nkolev92 commented on #1030
No repro.
Watson would've shown it.

[2017-11-29 23:59] #1030 closed

[2017-11-29 23:59] mishra14 commented on #5316
@rohit21agrawal can you take a peek to prioritize this issue?

[2017-11-29 23:59] emgarten commented on #2987
Does this repro in nuget.exe 4.4.1?

[2017-11-30 00:00] PatoBeltran commented on #3122
Thanks for reporting the issue. At this point we do not plan on releasing an update for nuget.exe 3.x, please update to use nuget.exe 4.x and let us know if you need more help from us.

[2017-11-30 00:00] #3122 closed, assigned to nobody

[2017-11-30 00:01] jainaashish commented on #3966
Please check it with latest visual studio 2017 release since we have fixed bunch of hangs/ crash in this area. And if you still can repro it, then please log a new issue with crash dump.

[2017-11-30 00:01] #3966 closed, assigned to nobody

[2017-11-30 00:02] nkolev92 commented on #1045
Redundant now.
We will not do this, as we want to eventually kill the install command.

[2017-11-30 00:02] emgarten commented on #2984
@ohadschn does this repro in nuget.exe 4.4.1?

[2017-11-30 00:02] rrelyea commented on #2259
Consider if scenarios come up calling for this config setting.

[2017-11-30 00:02] #2259 closed, assigned to nobody

[2017-11-30 00:02] PatoBeltran commented on #3104
Closing as this issue got no response for a year. If you are still able to reproduce this with the latest NuGet version, please provide additional steps. 

[2017-11-30 00:02] #3104 closed, assigned to nobody

[2017-11-30 00:02] mishra14 commented on #5317
@GanesanRengasamy Can you please give us
1. Logs from the output window
2. Detailed repro steps that we can follow to repro this issue.

[2017-11-30 00:03] rrelyea commented on #2260
yes, msbuild should be good. closing.

[2017-11-30 00:03] #2260 closed, assigned to nobody

[2017-11-30 00:05] jainaashish commented on #3970
MSbuild target is the right approach to achieve this since NuGet now has first class support for msbuild tasks and targets.

[2017-11-30 00:05] #3970 closed, assigned to nobody

[2017-11-30 00:05] emgarten commented on #2979
This is fixed in the latest version as far as I know.

[2017-11-30 00:05] #2979 closed, assigned to nobody

[2017-11-30 00:05] mishra14 commented on #5318
Closing as dupe of https://github.com/NuGet/Home/issues/2243.

Please comment there if you have specific requests.

[2017-11-30 00:05] #5318 closed, assigned to nobody

[2017-11-30 00:07] rrelyea commented on #2268
As we've not heard any customer or partner requests for this, in the past 18 months. Killing it.

[2017-11-30 00:07] #2268 closed, assigned to nobody

[2017-11-30 00:07] nkolev92 commented on #1114
Dup of https://github.com/NuGet/Home/issues/1820

[2017-11-30 00:07] #1114 closed

[2017-11-30 00:07] emgarten commented on #2977
Does this repro in the latest version of dotnet restore?

[2017-11-30 00:07] #2974 closed, assigned to nobody

[2017-11-30 00:09] nkolev92 commented on #1093
No work has been done on solution level packages and they are redundant with package reference.

[2017-11-30 00:09] #1093 closed

[2017-11-30 00:09] mishra14 commented on #5322
@emgarten  who has a fix in private branch.

[2017-11-30 00:10] mishra14 commented on #5326
Support for `NoWarn` was added in 15.4. Please let us know if you are still facing this issue.

[2017-11-30 00:10] #5326 closed, assigned to nobody

[2017-11-30 00:11] #3100 closed, assigned to nobody

[2017-11-30 00:12] emgarten commented on #2971
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-11-30 00:12] #2971 closed, assigned to nobody

[2017-11-30 00:12] rrelyea commented on #3972
You can set $(RestoreSources) to replace the nuget.config provided sources via msbuild project or props files. Given that, you can use msbuild conditions to do what was originally desired in this issue.
Closing. Let us know if something key is still missing.

[2017-11-30 00:12] #3972 closed, assigned to nobody

[2017-11-30 00:12] mishra14 commented on #5333
Closing as #4512  is marked as external.

[2017-11-30 00:12] #5333 closed, assigned to nobody

[2017-11-30 00:13] jainaashish commented on #3973
Fixed with latest visual studio 2017 release.

[2017-11-30 00:13] #3973 closed, assigned to nobody

[2017-11-30 00:13] #2969 closed, assigned to nobody

[2017-11-30 00:15] natemcmaster commented on #3972
Thanks @rrelyea. Yes, we've moved to MsBuild properties and conditions to solve this issue....for the most part. There is one limitation that we have to workaround: MSBuild properties can't configure feeds that require credentials. The discussion about this one is here: https://github.com/NuGet/Home/issues/6045

[2017-11-30 00:15] mishra14 commented on #5322
closing in favor of #2269

[2017-11-30 00:15] #5322 closed, assigned to emgarten

[2017-11-30 00:16] jainaashish commented on #3978
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-11-30 00:16] #3978 closed, assigned to nobody

[2017-11-30 00:16] emgarten commented on #2966
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-11-30 00:16] #2966 closed, assigned to nobody

[2017-11-30 00:16] mishra14 commented on #5334
@lordofscripts please let us know if you are still facing this issue latest [VS2017](https://www.visualstudio.com/#).

[2017-11-30 00:16] #5334 closed, assigned to nobody

[2017-11-30 00:17] #1045 closed

[2017-11-30 00:17] nkolev92 commented on #1001
We're not considering doing any new work for list currently.

[2017-11-30 00:17] #1001 closed

[2017-11-30 00:18] rrelyea commented on #2277
closing this issue, as our backlog is too large...and it hasn't come up in the last 18months.

[2017-11-30 00:18] #2277 closed, assigned to nobody

[2017-11-30 00:18] emgarten commented on #2964
Thanks for reporting this issue. At this time we suggest moving from packages.config to PackageReference with VS 2017 to resolve your issue. You can find out more about this here: https://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html

[2017-11-30 00:18] #2964 closed, assigned to nobody

[2017-11-30 00:19] jainaashish commented on #3949
Works with latest dotnet.

[2017-11-30 00:19] #3949 closed, assigned to nobody

[2017-11-30 00:19] #2962 closed, assigned to nobody

[2017-11-30 00:19] nkolev92 commented on #1137
At this point we are not doing any work to support VS 2015.
This issue does not reproduce in VS 2017.

[2017-11-30 00:19] #1137 closed

[2017-11-30 00:20] PatoBeltran commented on #3120
Closing this issue. The latest nuget can be build on linux by running the ./build.sh script. You'll need to have dotnet installed.

[2017-11-30 00:20] #3120 closed, assigned to nobody

[2017-11-30 00:21] rrelyea commented on #2286
nice to do, but not very imminent. So closing.

[2017-11-30 00:21] #2286 closed, assigned to nobody

[2017-11-30 00:21] jainaashish commented on #3988
This doesn't apply anymore so closing it.

[2017-11-30 00:21] #3988 closed, assigned to nobody

[2017-11-30 00:21] emgarten commented on #2960
Duplicate of https://github.com/NuGet/Home/issues/4671

[2017-11-30 00:21] #2960 closed, assigned to nobody

[2017-11-30 00:22] mishra14 commented on #5338
@derigel23 @AndreyAkinshin please let us know if you are still facing this issue with 4.6.0-preview1 packages on myget.

[2017-11-30 00:22] #5338 closed, assigned to nobody

[2017-11-30 00:22] jainaashish commented on #3989
This doesn't apply anymore so closing it.

[2017-11-30 00:22] #3989 closed, assigned to nobody

[2017-11-30 00:23] #5339 closed, assigned to nobody

[2017-11-30 00:23] PatoBeltran commented on #3129
Closing as https://github.com/dotnet/cli/issues/3862 appears to be complete. Please reopen if needed

[2017-11-30 00:23] #3129 closed, assigned to nobody

[2017-11-30 00:24] #2959 closed, assigned to nobody

[2017-11-30 00:24] rrelyea commented on #2287
@jainaashish just did work like this..enabling httpcache for packages.config codepaths (UI & Gather) with v2 or v3 feeds.

[2017-11-30 00:24] #2287 closed, assigned to nobody

[2017-11-30 00:24] nkolev92 commented on #1121
This is an unsupported scenario at this point.
Closing the old bug...if we get enough feedback, we can open a new bug and triage again.

[2017-11-30 00:24] #1121 closed

[2017-11-30 00:24] tmeschter commented on #6135
@radical @emgarten There's no good way to do that right now. We don't actually build Microsoft.NuGet.Build.Tasks.dll from the NuGet.BuildTasks repo. Instead, it gets mirrored into the VS repo and built from there using a different build process (which affects versioning, etc.).

The right long-term fix is to update the NuGet.BuildTasks repo to produce the proper binaries, and then insert those bin

[2017-11-30 00:25] emgarten commented on #2958
This should be fixed in the latest version.

[2017-11-30 00:25] #2958 closed, assigned to nobody

[2017-11-30 00:25] mishra14 commented on #5344
@kentatcap Can you please retry with latest dotnet sdk version 2.0.3 or 2.1.1 and let us know if you are still facing this issue.

[2017-11-30 00:25] #5344 closed, assigned to nobody

[2017-11-30 00:25] jainaashish commented on #3991
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-11-30 00:25] #3991 closed, assigned to nobody

[2017-11-30 00:26] emgarten commented on #2954
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-11-30 00:26] #2954 closed, assigned to nobody

[2017-11-30 00:26] rrelyea commented on #2291
this sounds similar to the global tools work, working with "post-publish"

[2017-11-30 00:26] PatoBeltran commented on #3113
At this time we suggest moving from packages.config to PackageReference with VS 2017 to resolve this issue. You can find out more about this here: https://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html

[2017-11-30 00:26] #3113 closed, assigned to nobody

[2017-11-30 00:27] #3132 closed, assigned to nobody

[2017-11-30 00:27] StingyJack commented on #3978
@jainaashish how does this receive a milestone number as well as a "closed by design"?

[2017-11-30 00:27] #2953 closed, assigned to nobody

[2017-11-30 00:27] nkolev92 commented on #1149
Thank for creating this.
At this point we have other priorities, and we are not going to do any work in this direction.

NuGet Package References are integrated with MSBuild now, so it's super easy to do this with a props import

[2017-11-30 00:27] #1149 closed

[2017-11-30 00:28] #2951 closed, assigned to nobody

[2017-11-30 00:29] #5351 closed, assigned to nobody

[2017-11-30 00:29] jainaashish commented on #3992
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-11-30 00:29] #3992 closed, assigned to nobody

[2017-11-30 00:29] nkolev92 commented on #1155
With package reference, this has been changed to where the user does not see the transitive dependencies anymore.

[2017-11-30 00:29] #1155 closed

[2017-11-30 00:31] rrelyea commented on #2306
project.json in net core doesn't matter any more. closing.

[2017-11-30 00:31] #2306 closed, assigned to nobody

[2017-11-30 00:32] nkolev92 commented on #1160
Closing this as redundant.

[2017-11-30 00:32] #1160 closed

[2017-11-30 00:33] emgarten commented on #2949
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-11-30 00:33] #2949 closed, assigned to nobody

[2017-11-30 00:33] PatoBeltran commented on #3131
At this point we do not plan on releasing an update for VS2015 or earlier. Please try latest [VS2017](https://www.visualstudio.com/#) and let us know if you need more help from us.

[2017-11-30 00:33] #3131 closed, assigned to nobody

[2017-11-30 00:33] rrelyea commented on #2308
closing this one...in favor of the similar #4980

[2017-11-30 00:33] #2308 closed, assigned to nobody

[2017-11-30 00:34] jainaashish commented on #3994
Talked to @rohit21agrawal there is a way to override this with nuget.exe as of today.

[2017-11-30 00:34] nkolev92 commented on #1165
Duplicate of https://github.com/NuGet/Home/issues/1165

[2017-11-30 00:34] #1165 closed

[2017-11-30 00:34] jainaashish commented on #3995
This isn't a NuGet issue rather package issue with it's tool script. It's working with latest version of the package with latest NuGet

[2017-11-30 00:34] #3995 closed, assigned to nobody

[2017-11-30 00:34] StingyJack commented on #3978
Closing something while simultaneously saying it's a potential consideration is contradictory

[2017-11-30 00:36] rrelyea commented on #2310
This issue appears to be from before the move from Project.json to msbuild PackageReference. If something is still painful, please open a new issue with details.

[2017-11-30 00:36] #2310 closed, assigned to nobody

[2017-11-30 00:37] mishra14 commented on #5358
Closing since most folks are unblocked.

@AliMd  if you are still facing this issue then please give us a fiddler trace for investigation.

[2017-11-30 00:37] nkolev92 commented on #1173
There hasn't been any traction here in a while. No customer reports?
Closing this for now. We can open a new issue if we consider it important.

[2017-11-30 00:37] #1173 closed

[2017-11-30 00:37] emgarten commented on #2948
Fully agree with this, I'm going to close this out because it doesn't need a tracking issue. We'll work to ensure that git commit messages are improved during the PR process going forward.

[2017-11-30 00:37] #2948 closed, assigned to rrelyea

[2017-11-30 00:38] #2946 closed, assigned to nobody

[2017-11-30 00:39] mishra14 commented on #5364
Closing as we no longer plan on releasing for dev14.

[2017-11-30 00:39] #5364 closed, assigned to rrelyea

[2017-11-30 00:39] emgarten commented on #2945
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-11-30 00:39] #2945 closed, assigned to nobody

[2017-11-30 00:39] PatoBeltran commented on #3130
Closing as this is solved in the latest dotnet cli

[2017-11-30 00:39] #3130 closed, assigned to nobody

[2017-11-30 00:40] jainaashish commented on #3997
Closing this since Justin already responded for the original error message, If this are more open questions, then file another bug or contact at nuget client team dl.

[2017-11-30 00:40] #3997 closed, assigned to nobody

[2017-11-30 00:41] mishra14 commented on #5369
Closing as PrivateAssets do not have any meaning for assemblies. It is a package level concept.

[2017-11-30 00:41] #5369 closed, assigned to nobody

[2017-11-30 00:41] emgarten commented on #2944
This is fixed for PackageReference. We should determine if we want to fix this for packages.config, or leave it as is.

[2017-11-30 00:42] mishra14 commented on #5373
@anangaur can you please add this to the common issue.

[2017-11-30 00:42] PatoBeltran commented on #3155
We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps. 

[2017-11-30 00:42] #3155 closed, assigned to nobody

[2017-11-30 00:42] nkolev92 commented on #1190
Thank you filing this issue.
At this point we are prioritizing other issues, so we will not be addressing this.

[2017-11-30 00:42] #1190 closed

[2017-11-30 00:43] rrelyea commented on #2316
This is not in our short term backlog. If folks here think that we should strongly consider this in the future, given the debate that was had last year... please chime in with your current thoughts. closing for now.

[2017-11-30 00:43] emgarten commented on #2941
Does this still reproduce in the latest version of nuget?

[2017-11-30 00:43] jainaashish commented on #3999
Thank you very much for your feedback. We appreciate you for letting us know about the problem you encountered, but we haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-11-30 00:43] #3999 closed, assigned to nobody

[2017-11-30 00:44] mishra14 commented on #5375
Closing as there has been no customer traction on this.

[2017-11-30 00:44] PatoBeltran commented on #3153
We haven’t been able to fully investigate your problem as our focus has been on other problem reports. If there are more community feedback on this, then we'll re-evaluate this.

[2017-11-30 00:44] #3153 closed, assigned to nobody

[2017-11-30 00:44] #2935 closed, assigned to harikmenon

[2017-11-30 00:45] emgarten commented on #2928
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-11-30 00:45] #2928 closed, assigned to nobody

[2017-11-30 00:45] mishra14 commented on #5384
Thanks for reporting the issue. At this point we do not plan on releasing an update for VS2015. Please try latest [VS2017](https://www.visualstudio.com/#) and let us know if you need more help from us.

[2017-11-30 00:45] #5384 closed, assigned to nobody

[2017-11-30 00:45] emgarten commented on #2927
fixed

[2017-11-30 00:45] #2927 closed, assigned to nobody

[2017-11-30 00:47] rrelyea commented on #2318
nice to have...but will live without for now.

[2017-11-30 00:47] #2318 closed, assigned to nobody

[2017-11-30 00:47] mishra14 commented on #5379
Closing in favor of an [internal issue](https://microsoft.visualstudio.com/OS/_workitems?id=13740952&fullScreen=false&_a=edit) on UWP team.

[2017-11-30 00:47] #5379 closed, assigned to zhili1208

[2017-11-30 00:47] PatoBeltran commented on #3172
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2017-11-30 00:47] emgarten commented on #2926
Closing due to lack of feedback in this area.

[2017-11-30 00:47] #2926 closed, assigned to nobody

[2017-11-30 00:47] #3172 closed, assigned to nobody

[2017-11-30 00:49] emgarten commented on #2923
We should consider doing this in the near future.

[2017-11-30 00:49] mishra14 commented on #5389
@leaderanalytics Please let us know if you are still blocked.

[2017-11-30 00:49] #5389 closed, assigned to nobody

[2017-11-30 00:49] emgarten commented on #2921
This should be fixed in the latest version of nuget.

[2017-11-30 00:49] #2921 closed, assigned to nobody

[2017-11-30 00:50] emgarten commented on #2919
dnxcore50 is deprecated.

[2017-11-30 00:50] #2919 closed, assigned to nobody

[2017-11-30 00:50] nkolev92 commented on #1207
Redundant.

[2017-11-30 00:50] #1207 closed, assigned to nobody

[2017-11-30 00:50] PatoBeltran commented on #3171
Thanks for reporting the issue. At this point we do not plan on releasing an update for VS2015. Please try latest [VS2017](https://www.visualstudio.com/#) and let us know if you need more help from us.

[2017-11-30 00:50] #3171 closed, assigned to nobody

[2017-11-30 00:51] #2918 closed, assigned to nobody

[2017-11-30 00:52] jainaashish commented on #3509
Done in Visual Studio 2017 15.2

[2017-11-30 00:52] #3509 closed, assigned to nobody

[2017-11-30 00:52] emgarten commented on #2915
Duplicate of https://github.com/NuGet/Home/issues/2246

[2017-11-30 00:52] #2915 closed, assigned to nobody

[2017-11-30 00:53] #3248 closed, assigned to nobody

[2017-11-30 00:55] emgarten commented on #2912
@NTaylorMullen is this still needed?

[2017-11-30 00:56] PatoBeltran commented on #3244
Closing as PR and bug pointed in this issue are closed.

[2017-11-30 00:56] #3244 closed, assigned to nobody

[2017-11-30 00:57] #2905 closed, assigned to nobody

[2017-11-30 00:58] mishra14 commented on #5399
dupe of #2393

[2017-11-30 00:58] #5399 closed, assigned to nobody

[2017-11-30 00:58] nkolev92 commented on #1236
A bunch of things have changed in this area, but there's plenty of still relevant feedback in the thread.
So keeping it open.

[2017-11-30 00:58] rrelyea commented on #2329
looks worth some investigation.

[2017-11-30 00:58] mishra14 commented on #5402
@nkolev92 can you please dupe this out.

[2017-11-30 01:00] emgarten commented on #2895
ContentFiles now use `<Link>` in nuget 4.0.0.

[2017-11-30 01:00] #2895 closed, assigned to nobody

[2017-11-30 01:00] PatoBeltran commented on #3202
Closing issue as it does not repro in current latest version

[2017-11-30 01:00] #3202 closed, assigned to nobody

[2017-11-30 01:02] emgarten commented on #2896
Haven't seen a lot of feedback on fixing this for v2 feeds. I am going to close this until there is a need for this.

[2017-11-30 01:02] #2896 closed, assigned to nobody

[2017-11-30 01:02] mishra14 commented on #5297
duping this in the favor of https://github.com/NuGet/Home/issues/5421

[2017-11-30 01:02] #5297 closed, assigned to nobody

[2017-11-30 01:03] PatoBeltran commented on #3213
PMC is now also tested with Apex, will close this issue.

[2017-11-30 01:03] #3213 closed, assigned to nobody

[2017-11-30 01:04] PatoBeltran commented on #3219
At this time we suggest moving from packages.config to PackageReference with VS 2017 to resolve your issue. You can find out more about this here: https://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html

[2017-11-30 01:04] NTaylorMullen commented on #2912
This was ages ago and now our RazorTooling packages are obsolete. Given that there hasn't been any other needed discussion on this I'd recommend closing.

[2017-11-30 01:05] mishra14 commented on #5406
@ttvrdon can you please retry with [latest NuGet.exe](https://dist.nuget.org/win-x86-commandline/v4.4.1/nuget.exe) and let us know if you are still running into this issue?

[2017-11-30 01:05] emgarten commented on #2897
We are not planning to implement this feature at the current time.

[2017-11-30 01:05] #2897 closed, assigned to nobody

[2017-11-30 01:05] joelverhagen commented on #3219
@PatoBeltran, isn't `init.ps1` supported in PackageReference?

[2017-11-30 01:05] mishra14 commented on #5406
tagging @rohit21agrawal  for visibility.

[2017-11-30 01:05] PatoBeltran commented on #3223
Thanks for reporting this issue. Sorry for the late response! At this time we suggest moving from packages.config to PackageReference with VS 2017 to resolve your issue. You can find out more about this here: https://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html

[2017-11-30 01:05] #3223 closed, assigned to nobody

[2017-11-30 01:07] PatoBeltran commented on #3219
@joelverhagen you are correct, my bad. I will reopen this issue as it was closed by mistake.

[2017-11-30 01:10] #2886 closed, assigned to nobody

[2017-11-30 01:11] #2889 closed, assigned to nobody

[2017-11-30 01:12] nkolev92 commented on #5402
Dup of https://github.com/NuGet/Home/issues/6060

[2017-11-30 01:12] #5402 closed, assigned to nobody

[2017-11-30 01:25] #2912 closed, assigned to nobody

[2017-11-30 02:58] CZEMacLeod commented on #4859
@emgarten You say

However, that ticket is now over 2 years old and as far as I can see it has had absolutely 0 work done, other than all the duplicate or related issues being closed and redirected to this issue.
It would also be really good to be able to specify/override the resolution policy per package reference  (e.g. from a metadata value) and/or project as well as to actually obey the config

[2017-11-30 03:19] anangaur commented on #6145
@emgarten, we should do the same for floating versions. May be issue warnings in this case?

[2017-11-30 03:20] CZEMacLeod commented on #912
@emgarten Since you say that changing this parsing is a breaking change (I assume you mean at the client side) perhaps we could introduce something similar to the way that nuget packages have a min required client but for projects? (similar to the minClientVersion in nuspec)
Then you could have a BeforeRestore target that checked for $(NuGetClientVersion) (or similar) and throws an error if it is

[2017-11-30 03:52] nkolev92 commented on #6195
@scottbommarito He's having trouble accessing nuget.org.
Can you please route to the on-call person ?

@biourja-ajain Are you using a vpn?
Can you access api.nuget.org/v3/index.json in your browser?

[2017-11-30 04:25] emgarten commented on #912
@CZEMacLeod that could work, currently the version of NuGet isn't a property in MSBuild, but potentially a task could find the assemblies and check them.

[2017-11-30 04:44] emgarten commented on #6145
I'm not sure that it is safe to ignore failed sources when floating, but it could work as a warning with the option to make it an error.

[2017-11-30 05:02] jainaashish commented on #3507
Dupe of https://github.com/NuGet/Home/issues/4125

[2017-11-30 05:02] #3507 closed, assigned to rrelyea

[2017-11-30 05:29] anangaur commented on #6145
Yep. In addition, we could put the ignore failing sources under an option. Like we do for NuGet command line.

[2017-11-30 05:40] anangaur commented on #912
Why can’t we have something like the following:
[code]

[2017-11-30 06:48] nkolev92 commented on #6161
I think I worded that badly.

NuGetPackageManager is used from the CLI as well. It's just there's a lot of parameters that overlap in meaning.
Some are used in packages.config, some are used in package reference, some are used in both.
What I was trying to communicate is that they are just more complex. The mutable objects are ones being passed down to the methods containing the core logic normall

[2017-11-30 06:59] johnkors commented on #5302
Do you have proposal for how to work with configuration APIs in the context of a CLI tool then? At the moment it's broken, and I ended up hardcoding constants instead.

[2017-11-30 08:25] CZEMacLeod commented on #912
@anangaur I suggested that (although at the time it was in json rather than msbuild) over a year ago!

[2017-11-30 08:29] forki commented on #912
People may want to restrict versions to specific prerelease channels like `rc`. See https://fsprojects.github.io/Paket/nuget-dependencies.html#Prereleases for how Paket solves that

[2017-11-30 08:32] emgarten commented on #912
@anangaur we had VersionRange.IncludePreRelease in 3.0.0 which is similar to what you are proposing. We eventually removed it due to the very high number of bugs it caused. Version ranges work best as strings that can be round tripped, having a string + extra metadata that cannot be part of the string is painful.

[2017-11-30 09:31] TiltonJH commented on #6234
So the old `/nuget/Packages()` can show delisted packages, but has bad performance?
And `/nuget/Search()` doesn't have an implementation that supports showing desisted packages, which is by design.
Correct?

So `-IncludeDelisted` is a left over option of the past? Why is it still here?

How do I switch `nuget list` to `/nuget/Packages()` so that I can see delisted packages of my own not local nuge

[2017-11-30 12:21] evil-shrike commented on #6233
@NicolasDorier it works for me on Windows, our repository has auth (it's an Artifactory server).
You just need to use normal usernames and passwords, not apikeys I guess.
Nuget will ignore `--source` argument (see https://github.com/NuGet/Home/issues/6232) but if there's a source in nuget.config which returns your package nuget/dotnet should install it.
And it doesn't work on Linux for me (see htt

[2017-11-30 13:41] NicolasDorier commented on #6233
@evil-shrike have you entered any different command line than I did above ? `--source` taken into account or not, the right repo is chosen. Just credentials are completely ignored.

[2017-11-30 13:43] NicolasDorier commented on #6233
I have no username password, myget securing with apikey.

[2017-11-30 13:53] evil-shrike commented on #6233
@NicolasDorier did you specify credentials in global NuGet.Config (in users' profile)? If not then it's cause I guess, as I remember nuget ignore credentials in local configs.

[2017-11-30 14:10] Jjagg commented on #6219
@rohit21agrawal Yes, I am using mono.

[2017-11-30 16:13] myermian commented on #6226
The Choose/When workaround actually works. I'm curious why that works and just using a standard condition does not work, strange.

[2017-11-30 16:14] myermian commented on #5895
The Choose/When workaround works, though I wonder if this is going to be the official way to do it, or will there be an update to simply utilize the Condition attribute on the element itself?

It's strange that Choose/When w/ Condition works but just a Condition on ItemGroup or PackageReference does not work.

[2017-11-30 17:06] brunobertechini commented on #5881
Just my 5 cents. The dotnet task build for VSTS should have an option to store user/pass encrypted or use the build account to authenticate.

From MS Docs about nuget+vsts feeds:

I believe its a huge security risk put your PAT into nuget.config (into source control)

[2017-11-30 17:53] enricosada commented on #6233
@NicolasDorier  can you try this? i use `-s` and `-k` to upload nupkg to myget

[code]

you can probably also use an env var instead of `-k`, but `-k` should work.

as a note, mix `nuget.exe` and `dotnet nuget` is wrong ihmo, is not the same tool

[2017-11-30 18:05] jainaashish commented on #912
I think we can go ahead with `1.0.*-*` which is only supported with newer clients. With older clients, it will still treat it as `1.0.*` which should be fine. thoughts?

[2017-11-30 18:18] forki commented on #912
Older clients will probably choke on that.

[2017-11-30 18:24] jainaashish commented on #3978
@StingyJack we put milestone just to keep track of things when they are closed. There is no potential consideration as of now.

[2017-11-30 18:35] anangaur commented on #912
@jainaashish

To me `1.0.*-*` means any package with pre-release version and starts with 1.0. This will exclude the stable versions of the package. Unless we want to go away from general regex concept.

I thought the problem statement was to be able to define a floating version that includes pre-release versions (by not excluding the stable versions).

[2017-11-30 18:49] anangaur commented on #912
To reiterate the requirements the way I understood:

As Noel, a user who uses NuGet packages,
* I would like to use floating versions that only resolves to stable versions of the package (**Current behavior**)
* I would like to use floating version that can resolve to the latest version even if the latest happens to be a pre-release version.
  * [@anangaur] I should be able to use both the braces/

[2017-11-30 18:53] jaredpar opened #6240 "Nuget exits with 0 when it fails"
Repro steps:

- Open up a project file and insert an MSBuild syntax error. Say missing a `)` in a conditional
- Run `nuget restore` on that project

NuGet will completely fail to restore here, as it should the project file is broken. Yet it will exit with a status of 0. This makes it impossible to detect the failure in automation.

Note: `msbuild /t:restore` will fail with a non-zero code for the

[2017-11-30 19:01] anangaur commented on #6104
I would say we should opt in to publish the symbols and by default only the .nupkg is pushed not the .symbols.nupkg.

We are already taking the change to not auto-push package. (See https://github.com/NuGet/Home/issues/6113). Lets not randomize :)

[2017-11-30 19:50] rohit21agrawal commented on #6235
@emgarten any thoughts on what the correct behavior here should be?

[2017-11-30 20:20] jariq commented on #6005
How will verification procedure acquire list of trusted roots?

[2017-11-30 20:25] StingyJack commented on #3978
You may think this is nitpicking, but the canned responses like the ones given on the devcommunity site are frustrating, ambiguous, and convey nothing meaningful.

There is no consideration as of now, but the potential does exist. If the potential exists then closing the issue removes the idea from view, just to improve open/closed stats.

[2017-11-30 21:25] rohit21agrawal commented on #6184
i disagree that pack should honor this property. This will lead to cases where DLLs are put right under lib folder and we don't want to encourage such packages.

Pack can only honor a property like this when restore knows how to make sense of these files without them being in the TFM folder - in those cases, users can manually set package paths.

[2017-11-30 21:28] #6157 closed, assigned to nobody

[2017-11-30 21:30] #5899 closed, assigned to nobody

[2017-11-30 21:30] #2561 closed, assigned to harikmenon

[2017-11-30 21:31] #2465 closed, assigned to harikmenon

[2017-11-30 21:31] #2562 closed, assigned to harikmenon

[2017-11-30 21:32] #2565 closed, assigned to harikmenon

[2017-11-30 21:35] mishra14 commented on #5904
Last piece checked in with https://github.com/NuGet/NuGet.Client/commit/065262c8c5cd927b5bbad89f4e14e258920832c9

[2017-11-30 21:35] #5904 closed, assigned to mishra14

[2017-11-30 21:38] mishra14 commented on #5957
@AArnott are you still facing this issue with latest VS preview build?

[2017-11-30 21:42] AArnott commented on #5957
@mishra14 Yes, it still repros with the latest int.preview build:

[code]

[2017-11-30 21:42] andymac4182 commented on #3113
@PatoBeltran as per the issue I linked this isn't solved in PackageReference either.

[2017-11-30 21:46] PatoBeltran commented on #3113
@andymac4182 Yes, that issue should now track this bug. Sorry if I was not clear enough, we are trying to not have duplicate issues, and because we are moving to PackageReference, we should use that other issue for this specific issue.

[2017-11-30 22:05] emgarten commented on #912
It needs to be possible to express a version range as a string. It makes it easy to display, understand it as a user, and the current code base treats these as strings everywhere.

I agree with @jainaashish, `1.*-*` is the clearest representation of this. Excluding stable versions and forcing prerelease would be a very unusual scenario, I think this notation is pretty clear in that it allows prere

[2017-11-30 22:07] emgarten commented on #912
Older clients will fail on `1.0.*-*` but the alternative is that they parse `1.0.*` and then fail to read the include prerelease bool, which will make them silently fail to resolve the package. In my opinion this is worse than failing fast when they can't understand the range.

[2017-11-30 22:11] emgarten commented on #6235
I agree, it should be fixed and just display the Id.

I believe we reluctantly had to add support for null versions with identity, originally it wasn't supported but there are scenarios where it is needed. ToString likely wasn't cleaned up after that change was made originally.

[2017-11-30 22:12] emgarten commented on #6235
Would love a PR for this if someone has time 🍰

[2017-11-30 22:24] emgarten commented on #6192
Please let us know if you can repro this again.

[2017-11-30 22:24] #6192 closed, assigned to nobody

[2017-11-30 22:25] forki commented on #912
"It needs to be possible to express a version range as a string"

That is an arbitrary requirement.

Am 30.11.2017 23:07 schrieb "Justin Emgarten" <notifications@github.com>:

[2017-11-30 22:26] emgarten commented on #6184
Closing based on @rohit21agrawal's answer. This seems like the expected behavior.

[2017-11-30 22:26] #6184 closed, assigned to nobody

[2017-11-30 22:34] anangaur commented on #912
@emgarten , @jainaashish Correct me if I am wrong here:
Doesn't regex **1.*-\*** mean a string that starts with **1.** followed by any string and then a **-** and then followed by any string. So it would mean **only** prerelease versions. I am treating * to mean one or more occurrence of any character.  (Most regex parsers treat * as one or more occurrence of the preceding character which definite

[2017-11-30 22:36] emgarten commented on #6061
Add support for skipping non-existent targets this sprint.

[2017-11-30 22:37] emgarten commented on #6057
Duplicate of https://github.com/NuGet/Home/issues/6007

[2017-11-30 22:37] #6057 closed, assigned to nobody

[2017-11-30 22:42] emgarten commented on #5925
Not needed

[2017-11-30 22:42] #5925 closed, assigned to nobody

[2017-11-30 23:29] emgarten opened #6241 "Investigate restore performance improvements"
* Profile restore to find further performance improvements
* Investigate download performance

[2017-12-01 00:01] emgarten commented on #912
I think it is important to look at these strings as Semantic Versions which have meaning, not as opaque strings. Treating them as regular strings and applying a regex misses a lot of that meaning, and the reasons why we treat stable and prerelease differently, and the intent of the package authors when they versioned things in this way.

We can think of a floating range as two parts:
1. A range th

[2017-12-01 00:09] #5888 closed, assigned to zhili1208

[2017-12-01 01:37] NicolasDorier commented on #6233
@evil-shrike yes, as you can see I ran `nuget setapikey` which does that. Tried both on local nuget config and global one, encrypted and unencrypted.

@enricosada nuget push always works fine. What does not is `dotnet add package` and `dotnet restore` if the dependency manually added.

[2017-12-01 03:00] rdreher commented on #2577
I'm relatively new to NuGet and it's concept of signing, but I wondering if the design proposed by The Update Framework (TUF) [https://github.com/theupdateframework/tuf] was taken into consideration.
Both Python and Ruby package managers implement TUF for content verification. The same approach is used by Docker for content trust on images.

[2017-12-01 04:01] emgarten commented on #6240
Duplicate of https://github.com/NuGet/Home/issues/6061

[2017-12-01 04:01] #6240 closed, assigned to nobody

[2017-12-01 09:37] matkoch commented on #5063
@onovotny I'm trying to do something similar. Could you please explain how you ended up with `build\MSBuild<TargetFramework>` being the destination folder? Is this documented somewhere? Unfortunately, the way you've created the package didn't work for me at first try. Have to check later :/

[2017-12-01 11:28] blairconrad commented on #6184
Visual Studio knows how to use Roslyn Analyzers when the files don't live in the TFM folder, and requires it when the project importing the analyzer is a classic csproj style.

Just to make sure I understand, the official position is that if we're producing a Roslyn analyzer package that is intended to be used from classic csproj projects (as well as the new SDK-style projects), we should revert t

[2017-12-01 13:23] mnivet commented on #4684
@emgarten I've just try to run the sample provided at the end of my original post with nuget.exe version 4.4.1.4656, and the result is still the same. nothing has changed.

[2017-12-01 15:22] holytshirt commented on #6187
When some packages are remove, the redirects are not removed and you have
to manually remove them. In large solutions with many projects it is a pain.

On 15 Nov 2017 16:31, "Nikolche Kolev" <notifications@github.com> wrote:

[2017-12-01 15:35] clairernovotny commented on #5063
There is nothing special about the directory name or location; it comes from detecting core msbuild vs full here:

https://github.com/paulcbetts/refit/blob/master/Refit/targets/refit.targets#L12-L13

We also needed a custom msbuild task base type (`ContextAwareTask`) to handle assembly loading in the correct directory:
https://github.com/paulcbetts/refit/tree/master/InterfaceStubGenerator.BuildTas

[2017-12-01 15:35] clairernovotny commented on #5063
The point of all of this though is that's far too complicated and painful to create MSBuild tasks that work on both Full and Core MSBuild.

[2017-12-01 16:27] rido-min commented on #2577
@rdreher  yes, we considered TUF. This approach is focused mainly on verifying package integrity on different mirrors but do not address how to perform offline verification.

[2017-12-01 16:39] matkoch commented on #5063
@onovotny Thanks for the explanation. It seems that my target file is not getting included. Are there any obstacles you know about that? First tried with `build\net45` and `build\netstandard1.4` (as in refit), then with just `build\` ... but still nothing. For now I'm not using any task assembly; just a `<Error Text="..." />`.

[2017-12-01 16:40] clairernovotny commented on #5063
Your props/targets file has to match the package id for it to be automatically included. For Refit, that'd be `Refit.targets`. Do yours match?

[2017-12-01 16:41] jnm2 commented on #5063
Docs: https://docs.microsoft.com/en-us/nuget/create-packages/creating-a-package#including-msbuild-props-and-targets-in-a-package

[2017-12-01 16:41] matkoch commented on #5063
🤦‍♂️

Thanks to both of you, @onovotny and @jnm2 .

[2017-12-01 16:42] jnm2 commented on #5063
I remember tripping over the same magic early this year when I wrote my first MSBuild target and tried to package it.

[2017-12-01 16:44] matkoch commented on #5063
This should be part of NuGet package analysis actually. /cc @emgarten

[2017-12-01 17:11] CZEMacLeod commented on #912
@emgarten My use case would certainly be for something like 1.0.*-* as above - as you describe it.

Moreover - I think it would be likely that I might need any stable or non-stable patch package but to constrain it to be above a certain release.
e.g. I need any 1.0 release (or pre-release) after `1.0.4-rc1` and be happy (and want to get) `1.0.4-rc2`,
`1.0.4`, `1.0.5-beta1` or `1.0.5` etc.
Could th

[2017-12-01 17:35] ievgennaida opened #6242 "VS 2017. References are not updated properly for a csproj files."
Nuget.exe that added to a solution folder: 4.3.0.4168
Version from the visual studio information window: NuGet Package Manager   4.4.0
Package Manager Console Host Version 4.4.1.4633

.NetFramework project.

We have a solution with  100+csproj projects.
When we do an update 2-3 random projects are not updated properly:

`    <Reference Include="A.Contracts, Version=2.4.211.0, Culture=neutral, Publ

[2017-12-01 17:57] evil-shrike opened #6243 "dotnet restore: support setting credentials for sources via CLI"
Let's suppose we want to use Docker for building an app as described in https://docs.microsoft.com/en-us/dotnet/core/docker/building-net-docker-images

`Dockerfile`:
[code]

But if an application uses packages from non default NuGet feeds that require authentication then this won't work - it'll fail on `dotnet restore`.
So we need to push nuget configuration into Docker image in some way.
It's  ki

[2017-12-01 18:04] rohit21agrawal commented on #6184
No. Dotnet pack can still do what you want to do. I will post a solution for you in a couple of hours

[2017-12-01 18:37] emgarten commented on #5817
This issue was moved to dotnet/cli#8149

[2017-12-01 18:37] #5817 closed, assigned to nobody

[2017-12-01 18:44] emgarten commented on #6243
This is similar to https://github.com/NuGet/Home/issues/6045 which would allow setting passwords for sources in msbuild

[2017-12-01 18:51] PatoBeltran commented on #6005
@jariq .NET's SignedCms object does the validation that the certificate chains up to a trusted root, therefore the verification procedure just needs to delegate that check to the certificate chain building engine in .NET

[2017-12-01 19:08] evil-shrike commented on #6243
@emgarten I think every command that supports the `--source` option should support user/password as well. It'd make using nuget much easier. Config files are nice but I think it shouldn't be the only option to control behavior.

[2017-12-01 19:22] rohit21agrawal commented on #6184
extension point has been provided for files that need to go in the nupkg outside of lib folder but are still target framework dependent in context of build. A user can write their own custom target and specify it as the value of the property ```$(TargetsForTfmSpecificContentInPackage)```. The target should write out any files that need to be included in the nupkg into the ItemGroup ```TfmSpecificP

[2017-12-01 19:35] rohit21agrawal commented on #6242
@ievgennaida thanks for reporting this. we'll look into this very soon. Please tell us the version of Visual Studio by going to Help -> About Microsoft Visual Studio.

And also , mention your correct NuGet version by looking at the version displayed when you open Package Manager Console (Tools -> NuGet Package Manager -> Package Manager Console )

[2017-12-01 20:07] ievgennaida commented on #6242
Package Manager Console Host Version 4.4.1.4633

[2017-12-01 21:24] ohadschn commented on #2984
That environment is long gone, but running a similar command didn't result in this error now, so let's just assume it has been fixed :)

[2017-12-01 21:24] #2984 closed, assigned to nobody

[2017-12-01 21:45] gauthamgowrishankar-okta-zz opened #6244 "s"
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2017-12-02 02:49] rohit21agrawal commented on #6244
closing due to lack of info

[2017-12-02 02:49] #6244 closed, assigned to nobody

[2017-12-02 02:52] rohit21agrawal commented on #6238
where is the DownloadResource::GetResourceAsync method defined?

[2017-12-02 02:56] mhsimkin commented on #6238
src/NuGet.Core/NuGet.Protocol/Resources/DownloadResource.cs.  I need a way to get to the underlying HTTPClient object that is wrapped by the [HttpSource](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Protocol/HttpSource/HttpSource.cs) object.

[2017-12-02 03:13] mhsimkin opened #6245 "Enhancement Suggestion: Write Hints as $(SolutionDir)."
All versions of Visual Studio.
All versions of Nuget.

When adding a reference to the package dlls to the csproj file, the hint path is typically written as
`..\..\packages\*`

I suggest that the hint path be written as
`$(SolutionDir)\packages\*`

This change will make locating the packages folder independent of a specific relative path and depth.

[2017-12-02 15:23] StingyJack commented on #352
The solution should really have nothing to do with the nuget gallery specifically.  I cant put icons on stuff in my local repo without throwing an image on a webserver somewhere on the LAN,

[2017-12-03 01:57] kkm000 commented on #4587
The current solution is to disable package analysis. Do not shorten the description only for the sake of shortening it! Add this property to the project:

[code]

[2017-12-03 02:02] kkm000 commented on #4587
@rohit21agrawal, @natemcmaster: I suggest this issue be given more priority. the problem is a warning is generated during build, as of VS15.4.5 RTM:
[code]
Many links from this issue point to the developers trying to shorten the description of the package in their commits, and this is not a good thing (arguably it might be, but no shorter than necessary :)).

The workaround is of course to disable

[2017-12-03 10:31] alex-piccione opened #6246 "pack returns "WARNING: Author was not specified. Using '[user_name].""
nuget.exe version 4.4.1.4656

Nuget.exe command:
nuget pack "..\my.library.csproj" -verbosity detailed -Properties Configuration=Debug;Author="My name";Authors="My name" -Suffix %suffix% -IncludeReferencedProjects

Nuspec file:

[code]

AssemblyInfo.cs file contains:
[assembly: AssemblyCompany("My author")]

**If I use Configuration=Release; the warning is not shown.**
(nuget pack "..\my.library.c

[2017-12-04 07:22] joelverhagen opened #6247 "VersionRange.TryParse should not throw when provided with null"
[code]

**Expected:** The method should return `false` and set the `out` parameter to `null`.
**Actual:**
[code]

[2017-12-04 07:34] v-luzh commented on #3965
@jainaashish, it also repro on D15Rel 27130.00 (NuGet Client 4.5.0.4685). You can install/update/uninstall package during debugging now. It is just a suggestion bug, no bad effect until now.

[2017-12-04 09:25] andymac4182 commented on #3113
No worries @PatoBeltran

[2017-12-04 09:28] evil-shrike opened #6248 "Running `dotnet restore --verbosity` (verbosity w/o value) throws an exception"
Running `dotnet restore --verbosity` crashes with `ArgumentOutOfRangeException`.
Yes, `--verbosity` should have a value, but nuget should not throw.
I'd expect something like 'verbosity value missing (q,m,d)' message.

[code]

[2017-12-04 10:30] evil-shrike commented on #6221
Hi,
any reaction?

Currently I can't build any .NET app on Linux because of dotnet-cli/nuget on Linux ignores auth info in `~/.config/NuGet/NuGet.Config`.

Is there ANY workaround?

[2017-12-04 10:32] evil-shrike commented on #6243
@emgarten meanwhile could suggest any workaround for restoring packages on Linux?
Please see #6221

[2017-12-04 11:35] mrward commented on #6221
Did you try adding the credentials to `~/.nuget/NuGet/NuGet.Config`? The dotnet cli does not use ~/.config/NuGet/NuGet.Config as far as I am aware on Linux nor on Mac.

[2017-12-04 11:38] evil-shrike commented on #6221
@mrward

yes, sure, please see the 2nd comment in this topic

I'm not sure that I understand you. If dotnet cli doesn't use `~/.config/NuGet/NuGet.Config` what's the point in adding credentials into it?

[2017-12-04 13:06] mrward commented on #6221
In the comments and bug report it seems that you are adding the credentials to ~/.config/NuGet/NuGet.Config and not ~/.nuget/NuGet/NuGet.Config. The dotnet cli does not use ~/.config/NuGet/NuGet.Config, as far as I am aware, so any credentials added to ~/.config/NuGet/NuGet.Config will not be used.

[2017-12-04 13:32] evil-shrike commented on #6221
@mrward Ah, I missed the difference. Yes, you're right, I've been using `~/.config/..`. I took it from http://lastexitcode.com/projects/NuGet/FileLocations/ as unfortunately it's not documented in the [docs](https://docs.microsoft.com/en-us/nuget/consume-packages/configuring-nuget-behavior).

So I've change to `~/.nuget/NuGet/NuGet.Config` but I can't see any difference (getting same 403 errors).

[2017-12-04 14:37] dipree commented on #5286
@mishra14 were you able to discover the actual issue that's causing it to happen?

[2017-12-04 14:45] evil-shrike commented on #6221
I've resolved my issue.

There were several problems on my side which at different times took place.

1. I was using `~/.config/NuGet/NuGet.Config` instead of `~/.nuget/NuGet/NuGet.Config`
2. I was using `PasswordClearText` key instead of `ClearTextPassword` in `NuGet.Config`
3. I was using incorrect command in Dockerfile:
[code]
it just doesn't work. Instead we should use a path without `~/`:
[co

[2017-12-04 14:45] #6221 closed, assigned to nobody

[2017-12-04 16:24] gps035 commented on #6140
I'm experiencing this on our build server with visual studio build tools 2017 version 15.4.5 installed.
dotnet --version returns 2.0.
However, I can only reproduce this when running as `nt authority\system`. Running the commands through cmd on an administrator account seems to work as expected.

[2017-12-04 17:06] dtivel opened #6249 "CMS content incorrect"
`SignatureManifest` both reads and writes invalid content.

[2017-12-04 18:23] rido-min opened #6250 "Package Signatures Technical Details"
Status: **InReview**

This issue should be used to discuss the spec [Package Signatures Technical Details](https://github.com/NuGet/Home/wiki/Package-Signatures-Technical-Details)

Discussion should happen on this issue. Please link other issues with similar asks to this one

[2017-12-04 18:44] joelverhagen commented on #6208
Hey @GanesanRengasamy, unless you are a co-owner of the package, you are not allowed to push new versions. The existing package owner can add you as a co-owner.

[2017-12-04 18:45] joelverhagen commented on #6208
If you have further questions about NuGet.org, please feel free to contact support@nuget.org.

[2017-12-04 18:45] #6208 closed, assigned to joelverhagen

[2017-12-04 19:00] #6173 closed, assigned to emgarten

[2017-12-04 19:00] #6171 closed, assigned to emgarten

[2017-12-04 19:01] jainaashish commented on #6067
I'm able to run a initial NuGet perf test locally and measure performance with telemetry events.

Next ask is to run this test in maddog environment which also requires our nuget specific vs branch to be building.

[2017-12-04 19:02] jainaashish opened #6251 "NuGet Client HotSeat 128.1"

[2017-12-04 19:04] ilexp commented on #6161
I'll look into it, but since I do have a custom way to manage installed packages and do not use `packages.config`, I might have to roll out a custom project type. Does it make sense to derive from `PackagesFolderNuGetProject` if I just want the "put packages into a folder" behavior and manage the list of installed packages myself?

In the [linked code piece](https://gist.github.com/ilexp/1abf3803b

[2017-12-04 19:07] nkolev92 opened #6252 "Improve NoOp restore perf by optimizing dependency graph spec creation"
Large part of no-op for large solutions is spent in the MSBuild evaluation and dg spec creation.
We need investigate where the time is spent, look for low-hanging fruit/algorithm changes as needed.

[2017-12-04 19:26] thomaslevesque commented on #6184
Thanks @rohit21agrawal, I'll give it a try.

[2017-12-04 19:41] jainaashish commented on #6248
It's inside dotnet cli and not NuGet. moving there - https://github.com/dotnet/cli/issues/8160

[2017-12-04 19:42] #6248 closed, assigned to nobody

[2017-12-04 19:43] emgarten commented on #6140
@gps035 that sounds like a configuration problem, the nuget.config in `%APPDATA%` is user specific, so if you change users you may not be picking up the feeds you are expecting. Try running `nuget.exe sources` to see what feeds are found.

[2017-12-04 19:45] emgarten commented on #6243
Does nuget.config with a clear text password work for you?

[2017-12-04 20:04] nkolev92 opened #6253 "Tools restore work - Provide an API for the global tools path (UPM?)"

[2017-12-04 20:08] tomkuijsten commented on #5488
Thanks for the clear statement!

[2017-12-04 20:09] jainaashish commented on #6247
I understand the consistency but is there any other failure or something because of this gap? Will help us understand the priority.

[2017-12-04 20:31] joelverhagen commented on #6247
I am building some custom tools around NuGet and ran into this issue when parsing .nuspecs on my own.

`XElement.Attribute` returns null when an attribute does not exist, i.e. if the `version` attribute on a dependency is not found. I ran into this because I was passing this `XAttribute?.Value` to the parse method.

Easy to work around but feels clunky for a Try method.

[2017-12-04 20:38] ap0llo commented on #6084
Sorry, I didn't have time to check earlier, but I could no reproduce anymore the issue after updating to Visual Studio 15.5 and debugging works as expected.
Thanks for your help!

[2017-12-04 20:43] rido-min commented on #6005
nuget verify signature should show a similar output as signtool.exe. In detailed mode it shows the certificate chain, the signed hash and the timestamp value.

eg:
[code]

[2017-12-04 21:48] dtivel opened #6254 "SubjectKeyIdentifier won't work consistently cross-platform"
When creating `CmsSigner(...)` only pass `SubjectIdentifierType.SubjectKeyIdentifier` if the signing certificate has the `id-ce-subjectKeyIdentifier` extension.  Otherwise, use `SubjectIdentifierType.IssuerAndSerialNumber`.

[2017-12-04 22:32] #6006 closed, assigned to PatoBeltran

[2017-12-04 22:32] #6181 closed, assigned to PatoBeltran

[2017-12-04 22:32] #6073 closed, assigned to PatoBeltran

[2017-12-04 22:33] #6069 closed, assigned to PatoBeltran

[2017-12-04 22:33] #6212 closed, assigned to PatoBeltran, mishra14

[2017-12-04 22:59] kabua commented on #4119
To support Package/Project duality, I would propose something like the following:

[code]

[2017-12-04 23:43] jainaashish commented on #6246
@rohit21agrawal  any quick thought?

[2017-12-04 23:47] jainaashish commented on #6245
We're moving from `packages.config` world to `PackageReference` which has better performance, supports transitive dependencies, and other stuff which also get rid of this since it doesn't add separate assembly references. Since our focus is on PackageReference for now, we won't be able to get to this hence I'm closing it as wont' fix. If community feels otherwise, then we can reevaluate it.

[2017-12-04 23:47] #6245 closed, assigned to nobody

[2017-12-04 23:55] gps035 commented on #6140
Thanks @emgarten. I've added a couple of lines to my build script to see if I can highlight the problem, but I can't see what is going wrong.

[code]
The second source is present as I expected, but the next step, `dotnet build -c Release` errors with ` Unable to find package x. No packages exist with this id in source(s): nuget.org` and the other source is not mentioned.

[2017-12-05 00:01] jainaashish commented on #6243
closing as duplicate of #6221 once we decide on the right strategy to provide credentials for dotnet commands, then it will cover this scenario as well.

[2017-12-05 00:01] #6243 closed, assigned to nobody

[2017-12-05 00:25] michael-hawker commented on #4488
Is this the same issue I'm seeing with Windows Runtime Components as well?  Trying to reference Json.NET in a Windows Runtime Component used by a JavaScript based UWP project is throwing this error:

[code]

If I copy the dll into the AppX output though it works fine.

[JSJSONTest.zip](https://github.com/NuGet/Home/files/1529242/JSJSONTest.zip)

[2017-12-05 02:07] fabriciomurta commented on #2504
NuGet Version: 4.4.1.4656

If you do `nuget.exe push` the commandline says:

[code]

Later on, gives the example:

[code]

Several of those which wouldn't work because there's no "defaulting" of the `-src` parameter.

Offending code in the repo:
[NuGet.Commandline/NuGetCommand.resx:321 at dev branch head at the time of the writing](https://github.com/NuGet/NuGet.Client/blob/f61b406593f3b2a75558acb

[2017-12-05 04:02] emgarten commented on #6140
@gps035 thanks for the extra info, that is helpful! Does the `obj\project.assets.json` file contain `http://nuget.company-name.co.uk/nuget` in the list of sources?

[2017-12-05 04:44] skofman1 opened #6255 "Issue of managing NuGet package"
@Samuel98005 commented on [Mon Dec 04 2017](https://github.com/NuGet/NuGetGallery/issues/5117)

Hi,

I have an issue of managing NuGet package. Basically I tried to resolve this issue with a new Visual Studio installation after uninstalling the existing one. This happens in both Visual Studio 2015 Professional and Enterprise edition in Windows Server 2012.

The error message I have encountered: "S

[2017-12-05 06:18] rohit21agrawal commented on #6246
@alex75it any chance you can attach a repro project?

[2017-12-05 06:19] rohit21agrawal commented on #6238
this might be one place to add it: https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Protocol/UserAgent.cs#L43

@zhili1208 will be better able to help on this.

[2017-12-05 06:50] #6235 closed, assigned to nobody

[2017-12-05 06:50] emgarten commented on #6235
Thanks for the fix @ohadschn!

[2017-12-05 07:54] NicolasDorier commented on #6233
Please any idea ? This basically make `dotnet nuget` useless for private repositories... this should be well supported.

It is like you invented a car with state of the art engine, but somehow the ignition key is missing and nobody care. :(

[2017-12-05 09:06] Roemer commented on #3324
It seems that Nuget 4.1.0 is the latest version that works (at least in my case). Is this correct?

[2017-12-05 09:36] gps035 commented on #6140
No, the only source listed is https://api.nuget.org/v3/index.json

[2017-12-05 10:29] leak commented on #4856
What is the state of this issue?
MySql.Data is shipping tons of content files that are polluting my solution explorer in VS 2017. I cannot remove or edit those file and folder links in any way without getting tons of errors.

[2017-12-05 11:15] blairconrad commented on #6184
Indeed thanks, @rohit21agrawal. I'd've responded earlier, but hadn't yet had a chance to try it out. @thomaslevesque was able to apply the technique to our project: FakeItEasy/FakeItEasy#1274.

[2017-12-05 12:17] evil-shrike commented on #6243
@emgarten Yes, nuget.config with a clear text password works. thanks.
@jainaashish Honestly I don't think it's a duplicate. Yes, I was a bit of panic about impossibility to restore packages on Linux. But specifying credentials via command line is very useful regardless the fact that specifying via config also works. In the first comment I described my use case. Currently I have to keep a special N

[2017-12-05 12:20] enricosada commented on #6233
@NicolasDorier why dont you just add a `nuget.config` and add set your feed there?

so `dotnet add` will search that, no need for `--source` etc.

[code]

and modify it to add your feed:
- remove the `<clear />`
- add the `<add key="something" value="path/to/feed" />`

[2017-12-05 12:52] jaknor opened #6256 "regression from 4.3 - nuget install w/ excludeversion flag fails in many cases"
## Description
Hi, we have started receiving errors when trying to install a nuget package in some of our build scripts.

Our build scripts downloads the latest version of nuget.exe from https://dist.nuget.org/win-x86-commandline/latest/nuget.exe. It uses that to install and restore packages in our solutions. When nuget 4.4.1 was released we started getting errors when building some of the solutio

[2017-12-05 14:42] AvapiDotNet commented on #2504
Hello guys,

I don't know if I am posting in the right place but I am using .**NET Core** on a **Linux Box (Ubuntu)** on AWS and I am trying to push a nuget package on nuget.org.

At the moment I am using this command:
**dotnet nuget push <package_name>.nupkg -k <api_key> -s https://www.nuget.org/api/v2/package**
but I got this error:

info : Pushing package_name.nupkg to 'https://www.nuget.org/ap

[2017-12-05 14:45] AvapiDotNet opened #6257 "dotnet nuget push may not push packages properly from Linux env"
Hello guys,

I don't know if I am posting in the right place but I am using .NET Core on a Linux Box (Ubuntu) on AWS and I am trying to push a nuget package on nuget.org.

At the moment I am using this command:
dotnet nuget push <package_name>.nupkg -k <api_key> -s https://www.nuget.org/api/v2/package
but I got this error:

info : Pushing package_name.nupkg to 'https://www.nuget.org/api/v2/package

[2017-12-05 15:59] dtivel opened #6258 "Timestamping broken by NuGet/NuGet.Client#1823"
Timestamping was broken by the removal of [this statement](https://github.com/NuGet/NuGet.Client/pull/1823/files#diff-9de9a2555ba61a56b5d822d0d90bf765L147) in NuGet/NuGet.Client#1823.

[2017-12-05 16:48] emexelem commented on #3324
I just gave it a try with nuget 4.1.0 and 4.4.1 on a Windows Server 2016 with the long path support enabled (updated in the GPO).
Both are failing with the same error:
[code]

I tried to shorten the path of jenkins pipelines' workspace by using wks(path) command but that's not enough. We have long paths in our nuget packages due to data serialized by Unicorn, and this issue is a real blocker for u

[2017-12-05 17:35] mhsimkin commented on #6238
I can't add headers using the UserAgent. All I can do is change to User Agent string. :o(

[2017-12-05 18:02] jainaashish commented on #6257
In order to push to NuGet.org, all users must have NuGet 4.1 or later client code, as the error message states. Using dotnet.exe means that you'd need to update to dotnet.exe 2.0 or later, we believe.

Please update your dotnet cli to latest version and then try again.

[2017-12-05 18:10] jainaashish commented on #6243
@evil-shrike Sorry I meant to close it as dupe of #6045 which is an uber issue to design a better solution to provide these cred via cli or msbuild properties, etc...

[2017-12-05 18:42] iskiselev opened #6259 "Exception on package restore during build (project.json/vcxproj)"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI
NuGet version (x.x.x.xxx): 4.5.0
VS version (if appropriate): 15.5.0
OS version (i.e. win10 v1607 (14393.321)): win 10 v 1709 (16299.64)
Worked before? If so, with which NuGet version: No

## Detailed repro steps so we can see the same problem
When non-standart platform is used in vcxproj

[2017-12-05 19:02] #6249 closed, assigned to dtivel

[2017-12-05 19:02] #6258 closed, assigned to dtivel

[2017-12-05 19:33] wli3 opened #6260 "API to get global tools path"
Tools CLI ask

1. Need to be in user directory
Or at least an option to say “only user directory”. Current all global tool is user level, since we don’t want to require user to run with sudo. While today’s NuGet cache could be user level or machine level.

2. All the “format”
This is due to weird behavior when using profile.d and paths.d adding to PATH. For mac, if we want to add user directory us

[2017-12-05 19:42] forderud opened #6261 "Limit maximum package cache size"
My organization is a heavy user of NuGet for distributing pre-built C++ & .NET libraries. This works very well, but we sometime struggle with the package cache growing to unreasonable sizes (>100GB) over time. This is causing problems for CI nodes and laptop users with limited disk sizes.

More specifically, we're observing that the `C:\Users\user\.nuget\packages\` folder contains both the nupkg a

[2017-12-05 20:01] nkolev92 commented on #6253
Duplicate of https://github.com/NuGet/Home/issues/6260

[2017-12-05 20:01] #6253 closed, assigned to nkolev92

[2017-12-05 20:03] nkolev92 commented on #6260
Dup of https://github.com/NuGet/Home/issues/6253.

Deduping that in favor of this one, so it's easier to track for you.

[2017-12-05 20:38] jainaashish commented on #6261
The reason this folder has both nupkg ans unzipped version because this is also used as global packages folder so that there are no more duplicate copies of the same package across multiple solutions. But I do realize this could be an issue with machines with limited disk space. And we already have tracking issue to come up with better plan to age out packages or specific versions.

Although for y

[2017-12-05 20:38] #6261 closed, assigned to nobody

[2017-12-05 20:46] mhsimkin commented on #6238
This [issue](https://github.com/NuGet/Home/issues/5095) lead me to a solution.

I need to implement my own HttpHandlerResourceProvider.  I can then hook up handler derived from DelegatingHandler.  In the SendAsync method, I can add the custom http headers.

[2017-12-05 20:46] #6238 closed, assigned to nobody

[2017-12-05 20:51] forderud commented on #6261
We're already dealing with the problem by manually purging the nuget cache, so I'm not asking for a "quick fix". What I'm requesting are some changes to prevent the cache from growing "too large" in the first place.

[2017-12-05 20:57] emgarten commented on #6255
@samuel98005

Did this solve your problem?

[2017-12-05 20:59] jainaashish commented on #6259
I looked in to your sample solution and found that you're using both `project.json` file and `PackageReference` in `.vcxproj` which is not supported. So you should manage all your NuGet dependencies through project.json file.

With only project.json file, I was able to restore via msbuild or VS.

[2017-12-05 21:04] dtivel opened #6262 "HashAlgorithm hard-coded to default"
Due to a logic bug, the default hash algorithm is always SHA-2-256.

[2017-12-05 21:16] dtivel opened #6263 "mssign command doesn't produce same logging as sign command"
The sign command prints out some info like the following:

[code]

The msssign command only prints:

    Package(s) signed successfully.

[2017-12-05 22:07] dtivel commented on #6262
Dupe of #1845.

[2017-12-05 22:07] #6262 closed, assigned to dtivel

[2017-12-05 22:31] jainaashish commented on #6256
Thanks @jaknor for detailed explanation and repro solution. There was an issue https://github.com/NuGet/Home/issues/2405 which was fixed in 4.4 to get the right behavior for `excludeVersion` flag. You might be hitting this if you already have multiple versions of the same package in packages folder.

Also looking at your repro solution, i can see there is a potential regression with 4.4 or 4.5 whi

[2017-12-05 22:36] emgarten commented on #4856
@leak use @tmat's example to remove the links.

[2017-12-05 23:10] Samuel98005 commented on #6255
Please find below what I actually tried out before escalate this issue to NuGet support.

-	Saving the solution (even when there is no need to save the solution since there is no change).
-	Reopen Visual Studio.
-	Restart the machine.
-	Remove the existing VS, and fresh VS installation.

However it repros same for all.

Kind regards,
Samuel

[2017-12-06 00:15] rohit21agrawal commented on #5988
as per discussion with the team, we are going to document the fact that "X-NuGet-Client-Version" is a reserved header for official NuGet clients by Microsoft. All other clients should use the "X-NuGet-Protocol-Version" header with a min value of 4.1.0 to be able to push to NuGet.org . In addition, we should also ask them to start setting the user-agent string for telemetry purposes.

We should als

[2017-12-06 00:15] #5988 closed, assigned to rohit21agrawal

[2017-12-06 00:19] anangaur commented on #5988
We have already documented 3rd party clients to use the "X-NuGet-Protocol-Version" header. As stated in the meeting it would really be weird for third party clients using the NuGet.Command package and start sending the "X-NuGet-Client-Version"

[2017-12-06 00:31] jainaashish commented on #6255
@Samuel98005 did you try this with VS 2017? if yes, then please tell us your complete repro steps so that we can repro it locally and investigate the issue.

If, you haven't tried with VS 2017 then please try with that and let us know how it goes.

[2017-12-06 00:57] Samuel98005 commented on #6255
Recently the plugin I need to use in my project is only compatible with VS 2013 and 2015 (not support VS 2017) because of this there is no point of trying VS 2017. Thank you!

[2017-12-06 01:06] wli3 commented on #6197
We decide off line. The folder structure should be

`tools/{TFM}/{RID}/mytool.dll`

For portable, it should be
`tools/{TFM}/any/mytool.dll`

https://github.com/dotnet/cli/issues/8133

[2017-12-06 02:01] rohit21agrawal opened #6264 "enable yaml builds for nuget.client"
this allows us to check in our build definition into source control and take advantage of having it under source control.

[2017-12-06 02:12] NicolasDorier commented on #6233
@enricosada because I did and it does not work, neither `dotnet restore` nor `dotnet add package`.

Only `dotnet push` works fine.

[2017-12-06 02:13] NicolasDorier commented on #6233
[code]

I am open to any alternative solution... I just want to access a private repository for adding package to my project. I don't even care about my credential being encrypted.

Please try my repro above, you can see for yourself.

[2017-12-06 02:36] rohit21agrawal commented on #6264
waiting for support for multi-configuration builds and task conditionals (bug filed for task conditionals)

[2017-12-06 03:44] natemcmaster commented on #2469
Closing. My request isn't relevant anymore now that MSBuild has replaced project.json.

[2017-12-06 03:44] #2469 closed, assigned to nobody

[2017-12-06 03:48] natemcmaster commented on #3274
Nothing actionable here for NuGet anymore.

[2017-12-06 03:48] #3274 closed, assigned to nobody

[2017-12-06 04:46] jainaashish commented on #6255
We can't do much about VS 2015 or 2013 since there isn't any active development there. If you can repro your issue with VS 2017 then we can further look into the issue, otherwise I'm afraid I need to close it as is.

[2017-12-06 04:46] #6255 closed, assigned to nobody

[2017-12-06 05:42] jainaashish commented on #4485
this failure isnt there in recent visual studio releases so closing it for now.

[2017-12-06 05:42] #4485 closed, assigned to zhili1208

[2017-12-06 07:19] qianghuang1 opened #6265 "File Tag in nuspec file bring content files into packages."
## Details about Problem

NuGet product used : NuGet.exe

NuGet version:4.1.0.2450

VS version (if appropriate): 2015 enterprise updates 3

## Detailed repro steps so we can see the same problem
The structure of build results under `bin\Release` folder
[code]
Originally, i just want `aaa.dll` into my nuget packages, so the `.nuspec` file is like following:
[code]
Only `aaa.dll` is included. (The c

[2017-12-06 07:58] bjorncoltof commented on #5350
I get this error message after upgrading to 15.5 on a project that is very much loaded into the solution, waiting doesn't help, clearing Nuget cache and throwing out NuGet config neither. Any other hints how to solve this? Like 15.3 and 15.4 before it the glorious 15.5 has yet again broken our build

[2017-12-06 08:01] davkean commented on #5350
@bjorncoltof After you see the error, what effect does it have on the project? Does it no longer restore?

[2017-12-06 08:05] bjorncoltof commented on #5350
The restore in VS fails and then the build fails with:
[code]

The restore does not give a hint on what could be wrong...

[2017-12-06 08:09] davkean commented on #5350
Has "D:\GitHub\nfield-source\DotNetProg\NipoSoftware.Utilities.Azure\NipoSoftware.Utilities.Azure.csproj" been added to the solution?

[2017-12-06 08:13] bjorncoltof commented on #5350
yup, that's in the solution (was there from the start)

[2017-12-06 08:15] davkean commented on #5350
@emgarten This is a case of where the project ~isn't~ is in the solution - what would be the cause of this? Would a lack of nomination from our side prevent this?

[2017-12-06 09:06] leak commented on #4856
I did and changed it to "Content", but it does not get rid of folders for me.

[2017-12-06 09:37] Aurelianus commented on #5350
Same error since vs 15.5. @MohsenBzm solution worked for me.

[2017-12-06 09:54] GiuseppePiscopo commented on #2469
@natemcmaster is there a similar request for MSBuild-based projects, or such feature is already available in that scenario? Thanks

[2017-12-06 09:59] emgarten commented on #5350
//cc @jainaashish who is investigating this

[2017-12-06 10:03] bjorncoltof commented on #5350
I'm trying to build up our solution from the inside out to see if one speific project causes this, running into [this](https://developercommunity.visualstudio.com/content/problem/130561/155-nuget-restore-fails-for-some-projects.html) often too

[2017-12-06 11:32] jaknor commented on #6256
Hi @jainaashish thanks for your reply.

This part of our build script was developed a few years ago and the person who wrote them is no longer around so I can't say for sure why he set it up this way.

It looks like we are trying to ensure we are using the latest version of the stylecop.msbuild package while at the same time being able to reference the path of the package in some of our configurat

[2017-12-06 13:44] #6254 closed, assigned to dtivel

[2017-12-06 14:29] eriove commented on #5350
Deleting the .vs folder and restarting Visual Studio helped for me

[2017-12-06 15:36] rianjs commented on #4163
I don't know why this was closed. It's still a problem.

[2017-12-06 16:10] #6247 closed, assigned to joelverhagen

[2017-12-06 16:18] madelson opened #6266 "All NuGet Package Manager Console operations should work from the command line"
We use NuGet heavily to manage both internal and external dependencies for our .NET framework apps. We are continually frustrated by the lack of automation support for NuGet operations, primarily because many core operations (e. g. Update-Package) are not available outside of visual studio.

Some of these operations are provided by the NuGet CLI, but they do not actually do the same thing as the V

[2017-12-06 16:19] maxtoroq commented on #3978
Worked around this issue using a ResolveEventHandler, inspired by [this gist](https://gist.github.com/JamesRandall/444f3365751edb130bef197f2222cfa5).

It would be great if `nuget.exe` supported this scenario. You can install (download) packages, but no way to use (load) them from PowerShell.

[2017-12-06 17:47] natemcmaster commented on #2469
There isn't such a request. I closed because in MSBuild we now use the `Exec` task to to invoke console tools as project references. Example: https://github.com/aspnet/KestrelHttpServer/blob/c83f606b220714fa7b1b6a6a91b16d78cee6005f/build/repo.targets#L2-L4 I don't think there is anything actionable here for NuGet.

[2017-12-06 17:51] fubar-coder commented on #4184
It would be nice when `\ref` would be used as target directory when `ProduceReferenceAssembly` is set to `true` for a given TFM.

[2017-12-06 18:18] ytwytw commented on #1883
C:\git\internal>NuGet.exe restore .\MainTrunk\xxx.sln
MSBuild auto-detection: using msbuild version '15.4.8.50001' from 'C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\15.0\bin'.
Restoring NuGet package Microsoft.NETCore.Platforms.2.0.0.
Errors in packages.config projects
    Unable to find version '2.0.0' of package 'Microsoft.NETCore.Platforms'.

So still no solution or f

[2017-12-06 18:21] jainaashish commented on #5350
There could be multiple root-cause for this error, some of these are already mentioned here like:
- project is unloaded or outside of current solution
- project is not nominated to NuGet from project system
- incomplete or corrupt restore metadata send in nomination from project system
- project unique name case sensitive (recently saw an issue)
- there could be few more cases

overall, this error

[2017-12-06 19:50] jainaashish commented on #6266
Most of the NuGet operations need to access project system in order to update projects metadata or properties like for an update operation, it needs to remove the existing reference and add a new reference for the updated version. Similarly there are other caveat like adding content files into project or running ps1 scripts which in most cases also requires dte instance. Because of these constrain

[2017-12-06 19:59] jainaashish commented on #6265
It seems you're doing the right thing. Can you also try with `exclude` if that solves it? try something:
<file src="bin\Release\xxx.dll" target="lib\net451" exclude="**\*.cshtml" />

@rohit21agrawal do you see anything wrong with this?

[2017-12-06 20:18] johnnyasantoss commented on #4837
Almost every old wrapper Nuget package has some file inside of it and it is really hard for them to update this packages. In my company we're stuck in this migration because we have an old depency that have a native dll inside of the `libs` folder, I've tried a lot of things but didn't get any success.
When will Nuget have the ability to let me chose which file should be copied to the output folde

[2017-12-06 20:25] bjorncoltof commented on #5350
I'll check the casing tomorrow. In the meantime I recreated the solution to figure out what project causes this. In the end the new solution did not have the problem. The big difference I saw was that the old one had multiple configurations in the sln file and the new one only had debug & release.

I remember reading a post by @davkean that the way msbuild detect configurations was changed, but sa

[2017-12-06 20:50] #6174 closed, assigned to emgarten

[2017-12-06 20:50] #6172 closed, assigned to emgarten

[2017-12-06 20:51] #5965 closed, assigned to emgarten

[2017-12-06 20:51] #5967 closed, assigned to emgarten

[2017-12-06 20:52] emgarten commented on #5853
Moving to pri 0 based on the discussion yesterday. We still need a name for this.

//cc @rrelyea

[2017-12-06 20:53] emgarten commented on #5249
This issue was moved to NuGet/docs.microsoft.com-nuget#592

[2017-12-06 20:53] #5249 closed, assigned to karann-msft

[2017-12-06 21:26] mvput commented on #5445
Currently running into this issue. We are using pre-release packages during development. So project B has a dependency to project A with a floating version: 1.0.0-*. When there is a new version of A on the feed, Visual Studio doesn't always download the latest package. We are using `dotnet restore --no-cache` to resolve this issue.

Perhaps a solution is to create an option to ignore the cache lik

[2017-12-06 21:41] emgarten commented on #5445
An option in VS would be useful to explicitly force a restore, this could match the `--no-cache` and `--force` behavior in `dotnet.exe`.

Floating versions are useful for keeping packages in sync when you are working across different solutions and repositories. If external projects are updated they get put on a feed, and automatically pulled in.

Unless you just went and made a change that you nee

[2017-12-06 21:42] anangaur commented on #5853
@emgarten Can you list all the strings we currently use and the clients that send them? Something like:

| Client | Current UserAgent str | Proposed UserAgent str |
|:----|:---|:---|
| nuget.exe | ? | @anangaur - tbd|

[2017-12-06 21:49] karann-msft commented on #4766
Thanks for the feedback @davkean. I am closing the issue at the moment since we haven't heard this feedback more widely. We can revisit this decision in the future.

[2017-12-06 21:49] #4766 closed, assigned to karann-msft

[2017-12-06 21:49] mvput commented on #5445
Yes that can be dangerous, what you want to achieve is while using floating versions you can update packages with the latest version but retain the floating version.

Another option might be to use the package manager to update packages, but to retain the floating version in the csproj file. An update now would change the csproj file to the exact version.

[2017-12-06 21:56] karann-msft commented on #1836
@emgarten give me the link to the schema for package.config. I'll link to it from docs.

I know the nuspec schema is here https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Packaging/compiler/resources/nuspec.xsd

[2017-12-06 22:18] nkolev92 commented on #5445
@mvput
I just updated the issue for future reference, but in VS there's already a way to "force" restore. If you do a rebuild with restore on build enabled, it will update the floating versions.
There's no "--no-cache" option however, so it might take a while if the source of the updated version is across http.

[2017-12-06 22:21] karann-msft commented on #6009
assigning back to @nkolev92 for more information.

[2017-12-06 22:44] nkolev92 commented on #6009
Hey @karann-msft
I have updated the issue with some braiin dump and suggestions.
Let me know if you need more clarification/have questions/wanna chat through this.

[2017-12-06 23:05] karann-msft commented on #6009
Thanks @nkolev92

[2017-12-06 23:06] karann-msft commented on #6009
Issue moved to [NuGet/docs.microsoft.com-nuget #593](https://github.com/NuGet/docs.microsoft.com-nuget/issues/593) via [**ZenHub**](https://www.zenhub.com/)

[2017-12-06 23:06] #6009 closed, assigned to nkolev92, karann-msft

[2017-12-06 23:49] am11 commented on #1836
@karann-msft, I found couple of results elsewhere on GitHub:

https://github.com/search?q=extension%3Axsd+targetFramework+allowedVersions&type=Code
https://github.com/search?q=filename%3Apackages.xsd+targetFramework+allowedVersions&type=Code

not sure which one is most complete.

[2017-12-07 01:00] emgarten commented on #5853
You can see them on https://www.nuget.org/stats/packages/Newtonsoft.Json?groupby=ClientName&groupby=ClientVersion

Look for all 4.4 versions

[2017-12-07 01:04] emgarten commented on #1836
@karann-msft I don't think there is an xsd in the nuget or nuget2 codebase, I'm not finding it anyways.

One would need to be created. I'm not sure further work like this for packages.config would be useful however, users should move to PackageReference.

[2017-12-07 01:06] anangaur commented on #5853
Is **NuGet MSBuild Task** not coming from VS? Is it from `msbuild.exe /t:restore` commandline?

[2017-12-07 01:12] anangaur commented on #5853
If it is about what VS should send, then I think the string should have:
* A customer identifiable string to mean VS
* Version number should be able to identify the VS/NuGet version including previews

So what about:
user-agent: **NuGet VS VSIX/4.3.1**

I am not sure why V3 is important in the existing UserAgent string especially when the version is present in the user agent?

[2017-12-07 01:18] rohit21agrawal commented on #6265
what exact command are you using to pack?

[2017-12-07 01:29] emgarten commented on #5853
MSBuild Task (core and desktop) only come from command line, not from VS or nuget.exe.

V3 isn't important, that string is the default set by the library and should be overridden by the actual app using it.

I like `NuGet VS VSIX`, I believe the version number is auto appended to everything as part of the formatting, and nuget.org understands that format also.

[2017-12-07 02:02] qianghuang1 commented on #6265
Hi, @jainaashish, I tried exclude, not working.
Hi, @rohit21agrawal i just use `nuget.exe pack --version MYVERSION`

[2017-12-07 02:03] rohit21agrawal commented on #6265
is there a csproj in the directory where you are running nuget.exe pack?

[2017-12-07 02:05] qianghuang1 commented on #6265
Yep, and its `.nuspec` file

[2017-12-07 02:08] rohit21agrawal commented on #6265
any chance you can attach a repro project here so we can investigate? Also, suggest downloading latest nuget.exe from https://dist.nuget.org/win-x86-commandline/v4.5.0/nuget.exe

[2017-12-07 02:10] qianghuang1 commented on #6265
Sure, i will post it here when project gets pushed

[2017-12-07 02:24] rohit21agrawal commented on #6265
@Tony-HQ here is what i found (but for the life of me i can't find the documentation):

If you are packing your csproj with a .nuspec next to it, then the content files from your project will be added if one of the condition is met:

1) There is no nuspec file
2) There is a nuspec file but no files node.
3) There is a nuspec file with non-empty files node.

The only way to prevent content files fr

[2017-12-07 02:31] qianghuang1 commented on #6265
Yep, got it. I will pass the nuspec file instead of using both (default). Thank you so much!

[2017-12-07 02:31] #6265 closed, assigned to rohit21agrawal

[2017-12-07 03:18] mishra14 commented on #6227
Merged as part of https://github.com/NuGet/NuGet.Client/commit/51bf722c4a09b543eca90a2e5857b1af0239d47b

[2017-12-07 03:18] #6227 closed, assigned to zhili1208

[2017-12-07 04:49] mishra14 commented on #6233
This may be a dupe of https://github.com/NuGet/Home/issues/3664.
@emgarten is going to investigate that issue.

[2017-12-07 05:56] livarcocc opened #6267 "`dotnet pack` product broken .nupkg with the latest daily build(2.2.0-preview1)"
_From @yyjdelete on December 7, 2017 1:34_

Test with dotnet sdk `2.2.0-preview1-007736`/7622/7460, Windows 10 x64(17064).
And `2.1.1` in VS15.5preview5 works well.

# Step:
1. Install the latest daily build of sdk
2. `dotnet new classlib`
3. `dotnet pack`
4. Open the output .nupkg with `NuGet Package Explorer` or some zip manager( and try unpack it), and get an error.
5. Found the `.nuspec` file

[2017-12-07 05:57] livarcocc commented on #6267
@rohit21agrawal can you take a first look? If this turns out to be a CLI/SDK issue, please tell us and re-activate the original issue.

[2017-12-07 05:57] GanesanRengasamy commented on #5317
Hi @mishra14

**_Logs from the output window,_**

Attempting to gather dependency information for package 'Xamarin.SfDataGrid.15.4.0.17' with respect to project 'App2.Android', targeting 'MonoAndroid,Version=v7.1'
Gathering dependency information took 8,63 sec
Attempting to resolve dependencies for package 'Xamarin.SfDataGrid.15.4.0.17' with DependencyBehavior 'Lowest'
Resolving dependency informa

[2017-12-07 06:58] wli3 commented on #6197
FYI to unify the term "metadata xml" should be called "settings xml" file

[2017-12-07 08:04] SergeyKanzhelev opened #6268 "New Pack can build packages with dependencygroups, which don't work well in NuGet 2.12 (vs 2013)"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

VS 2013 Update 5, Package Manager 2.12.0.817
![image](https://user-images.githubusercontent.com/9950081/33704449-5b5e0e24-dae1-11e7-965b-c8342ecc68d1.png)

NuGet version (x.x.x.xxx): whatever NuGet Package Manager uses?

VS version (if appropriate): VS 2013 Update 5

OS version (i.e. win10 v16

[2017-12-07 08:05] rohit21agrawal commented on #6267
What’s CRC?

[2017-12-07 08:12] yyjdelete commented on #6267
The zipEntry's crc32 of `.nuspec` in `.nupkg`

[nupkgs.zip](https://github.com/NuGet/Home/files/1538272/nupkgs.zip)

[2017-12-07 08:25] hchengmx commented on #6268
Windows Version:10.0.14393.

[2017-12-07 08:29] Hubert-Cheng commented on #6268
Windows Version [10.0.14393]

[2017-12-07 10:10] henderjj commented on #6129
I have the same issue using VS2017 (15.4.5) to create the packages.config file and the VSTS NuGet Pack build task to build the NuGet package.

[2017-12-07 10:22] Aman3030 opened #6269 "Nuget packages are not installed in the path specified in nuget.config file"
Description:
When creating a solution I want all my nuget packages installed in a specific location so I created a solution-wide nuget.config file -> [nuget.zip](https://github.com/NuGet/Home/files/1538652/nuget.zip) and did a dotnet add package "bla bla bla", It went ahead and installed all of the packages in the user.nuget\packages.

Steps to reproduce :
1. Create a new project -> dotnet new cla

[2017-12-07 12:46] StefanBertels commented on #2867
I miss "deprecated" flag, too. Maybe this issue isn't already implemented because we make scope too large?
"vulnerable" might be technically similar (flag), but this flag is not that easy.

"deprecated" is quite simple: If something is deprecated without follow-up this means "no longer maintained / think about removing it". With a follow-up this means "please upgrade by switching to package xyz".

[2017-12-07 16:01] rido-min commented on #6205
Closing as  a dup of #6250

[2017-12-07 16:01] #6205 closed, assigned to nobody

[2017-12-07 16:10] madelson commented on #6266
Thanks @jainaashish for the detailed response.

I guess I'd like to push back on the claim that the NuGet operations cannot be done without the full VS environment. It seems to me that there are fixed steps involved:
* Unzipping the package
* Editing csproj to add/remove references to DLLs and content files
* Copying content files into the appropriate directory
* Running transforms for template fi

[2017-12-07 16:47] SergeyKanzhelev commented on #6268
Small update here. It seems that the problem is the target framework of the project. Somehow NuGet allows to install the package that only has something for 4.5+ on project that targets FW 4.0. There is no complains or errors. It simply do not set any references.

Is it expected behavior? Can we somehow block installation on FW 4.0 that is not supported?

[2017-12-07 18:25] anangaur commented on #2867
Today one can de-list the package and such a package has the following information:
![image](https://user-images.githubusercontent.com/14800916/33731324-9813f5b2-db37-11e7-91d6-859194c66625.png)

Summarizing the missing pieces:
1. Ability to label an unlisted package with special tag/reason with separate meanings:
  * `Deprecated`: When a version of the package is deprecated by the author and the

[2017-12-07 18:40] anangaur opened #6270 "msbuild /t:pack packs unnecessary files"
From mail conversation:
I made myself a NetStandsrd 2 library.   3k with of code.  When I create a NuGet with /t:pack it includes 122 additional assemblies.   Some 300k for a 3k library.

Repro is here:
https://github.com/migueldeicaza/TldExtract

Use msbuild /t:pack on the csproj

[2017-12-07 19:26] KellyR-STCU commented on #4142
What is the currently best solution for this? 2.0.3

[2017-12-07 19:27] rohit21agrawal commented on #4142
@KellyR-STCU
use : ``` <AllowedOutputExtensionsInPackageBuildOutputFolder>$(AllowedOutputExtensionsInPackageBuildOutputFolder);.pdb</AllowedOutputExtensionsInPackageBuildOutputFolder>```

[2017-12-07 19:28] rohit21agrawal commented on #6267
@yyjdelete while i can repro on the nupkg you provided, i can't repro it locally using the build and steps you mentioned.

was the nupkg you produced encrypted? @PatoBeltran has some thoughts about encryption and how it relates to crc32

[2017-12-07 19:40] kzu commented on #6123
Fixed on https://github.com/NuGet/NuGet.Build.Packaging/pull/151

[2017-12-07 19:40] #6123 closed, assigned to kzu

[2017-12-07 19:42] kzu commented on #5921
If the files truly point to identical files, we are smarter at de-duplicating now.

Fixed via https://github.com/NuGet/NuGet.Build.Packaging/pull/151

[2017-12-07 19:42] #5921 closed, assigned to kzu

[2017-12-07 19:43] bording commented on #5556
This is something that I would like to see happen as well. Currently, PackageReferences support the full NuGet interval notation, but ProjectReferences don't.

Because of this, the only way to have packages with the intended version range is to fall back to specifying a manually created nuspec, negating most of the benefits of the new project-based packaging.

[2017-12-07 19:44] rohit21agrawal commented on #5556
@emgarten do you think restore can start putting these ranges into the assets file?

[2017-12-07 19:45] kzu commented on #1850
@emgarten r u saying the problem as reported is only about packages.config-based custom CPS projects?

There should be guidance on how to create a custom CPS-based project system that supports PackageReferences out of the box (and it should be easy ;))

[2017-12-07 19:52] bording commented on #5556
@rohit21agrawal If https://github.com/NuGet/Home/issues/4790#issuecomment-337442404 is considered, would it still make sense to be looking to add these to the assets file?

This issue and #4790 are big pain points for me!

[2017-12-07 20:00] PeteX commented on #2867
@StefanBertels I would settle for a vulnerable flag that is yes or no, and set by the package owner.  Our approach is that we update any vulnerable package, rather than trying to determine whether the vulnerability applies to us.  It generally ends up being quicker, and it reduces the likelihood of making errors which allow vulnerable code to stay in production.

For people who don't do that, a vu

[2017-12-07 20:06] rohit21agrawal commented on #4790
UPDATE : i will begin working on this in a week's time.

[2017-12-07 20:07] rohit21agrawal commented on #5556
aah yes, i forgot about #4790 . let me tackle that first, we'll design this when we are done with that (or while doing that if it makes more sense).

[2017-12-07 20:36] dtivel opened #6271 "Signing: code signing and timestamping EKU's should not be asserted outside of ApplicationPolicy"
The [spec](https://github.com/NuGet/Home/wiki/Package-Signatures-Technical-Details#-certificate-minimum-requirements) incorrectly said that certificates must have specific EKU's.  I corrected the spec.  Clients instead should assert that a certificate is valid for those EKU's.

[2017-12-07 20:38] joelverhagen commented on #6271
The custom validation:
https://github.com/NuGet/NuGet.Client/blob/216a50311e3b77eb7d665b69a6ea9a890a492090/src/NuGet.Core/NuGet.Commands/SignCommand/SignCommandRunner.cs#L110-L120

The validation that depends on the platform (correct):
https://github.com/NuGet/NuGet.Client/blob/216a50311e3b77eb7d665b69a6ea9a890a492090/src/NuGet.Core/NuGet.Packaging/Signing/SigningUtility.cs#L154-L162

[2017-12-07 20:44] jainaashish commented on #6269
`repositoryPath` is only applicable for `packages.config` based projects, but since you're using net core project which uses `PackageReference` to manage NuGet dependencies so it's still installing in default user profile location. You should instead use `globalPackagesFolder` property to set a different packages folder for `PackageReference` based projects.

You can find more details in your docu

[2017-12-07 20:44] #6269 closed, assigned to nobody

[2017-12-07 20:45] rohit21agrawal commented on #5956
@sandyarmstrong would you be willing to test out this fix on macOS and mono please? would love validation on cross-plat

[2017-12-07 20:50] jainaashish commented on #6268
@SergeyKanzhelev New package format type is not supported with Visual Studio 2013 and NuGet 2.12. It's only supported with Visual Studio 2017 and NuGet 4.x So please upgrade your Visual Studio to take advantage of the new format type.

[2017-12-07 21:12] sandyarmstrong commented on #5956
@rohit21agrawal if the build for that PR generates a nuget.exe I can download, I'll happily test it.

[2017-12-07 21:20] mishra14 opened #6272 "Package signatures can be invalid for certain packages packed with a different ZIP spec"
Discovered this bug when signing [NuGet.Server](https://www.nuget.org/packages/NuGet.Server/) package.

Steps -
1. Sign nuget server package
2. verify the package - Integrity check fails

It seems that if we sign a package with `ZipArchive.CreateEntry`, it modifies the central directory headers for other files in the package. This modification can cause changes to  -

        version made by

[2017-12-07 21:20] mishra14 commented on #6272
cc: @dtivel @rrelyea

[2017-12-07 21:26] PatoBeltran opened #6273 "Integrity Validation tests"
Integrity validation should be tested and should consider scenarios where the signature file entry and central directory record are shuffled in different positions of each list.

[2017-12-07 21:29] PatoBeltran opened #6274 "Make sure verify and sign commands do the same verification and output the same messages"
A package that has been created by NuGet sign should be verifiable by NuGet verify -Signatures right after creation. Both commands should perform the same validations.

In case of a failure (either error or warning) the messages shown by both should be consistent.

[2017-12-07 21:30] PatoBeltran opened #6275 "Package signing scenarios should be covered by end to end tests"
We need to add end to end test support for package signing.

[2017-12-07 21:30] PatoBeltran opened #6276 "Support for verifying repository signatures"
Implementation of verify support for repository signatures.

[2017-12-07 21:47] SergeyKanzhelev commented on #6268
@jainaashish so you are saying that we SHOULD NOT build our packages using new approach if we have customers consuming them from VS 2013? Is it also by design?

[2017-12-07 21:56] SergeyKanzhelev commented on #6268
CC: @Dmitry-Matveev

[2017-12-07 22:10] rohit21agrawal commented on #5956
[NuGet.zip](https://github.com/NuGet/Home/files/1540786/NuGet.zip)

@sandyarmstrong attached nuget.exe with the fix. waiting for your validation before merging

[2017-12-07 22:44] jainaashish commented on #6268
ohh sorry, if it's only about consuming that package, then it should have shown those dependencies. But I'm afraid if we can do anything for VS 2013. So I'll suggest that you can try packing your project with an explicit `.nuspec` file where you can include these dependencies without target framework group.

About the target framework, then the reason it allows to install this package on either ne

[2017-12-07 22:45] jainaashish commented on #6268
Reopened for now for tracking purpose.

[2017-12-07 22:46] kraigb commented on #2321
The docs are incorrect as the FileConflictAction is not supported in the CLI at present (and hasn't since at least 2.8.6, which is the oldest download available). The arg doesn't appear with `nuget help install` either. https://github.com/NuGet/docs.microsoft.com-nuget/pull/598 for the docs has the edit (among other things).

[2017-12-07 22:48] SergeyKanzhelev commented on #6268
It should be fine for me if it doesn't show dependencies. As long as installation blocked...

@jainaashish can I target content files to `net45` only? How to do it using csproj file approach?
Is it because of `content` folder or `contentFiles` folder?

[2017-12-07 23:03] #6267 closed, assigned to rohit21agrawal

[2017-12-07 23:12] jainaashish commented on #6268
Its because of `content` you can have something like `any/net45/xyz.xdt` in content folder similar to `contentFiles`

[2017-12-07 23:14] jainaashish commented on #6268
Although I'm not sure if `any/net45` will work similarly there or not so let me just check.

[2017-12-07 23:30] iskiselev opened #6277 "[NuGetizer]Doesn't work with multitargeting projects"
I'm trying to add reference to multi-targeting (netstandart2.0,net40) project to my nuproj. As soon as I do it, my attempt to build nuproj fails with: C:\projects\Nugetizer.Expirement\ClassLibrarySdkMulti\ClassLibrarySdkMulti.csproj : error MSB4057: The target "GetTargetPath" does not exist in the project.

Nugetizer was installed yesterday from http://bit.ly/nugetizer-2017, NuGet.Build.Packaging

[2017-12-07 23:36] nkolev92 commented on #6210
Discussed offline, this is nice to have, but not a priority or a requirement for global tools.

[2017-12-07 23:38] nkolev92 commented on #6200
Added the spec.

[2017-12-08 00:29] nguerrera opened #6278 "project.assets.json should indicate "analyzer" assets like "compile" and "runtime""

[2017-12-08 00:29] nguerrera opened #6279 "project.assets.json should indicate "analyzer" assets like "compile" and "runtime""
project.assets.json doesn't actually indicate which analyzer references a project should use.

Unlike "compile" and "runtime", the SDK is just pattern matching on all files in the package to find analyzers: https://github.com/dotnet/sdk/blob/634680ab0ae045ba45977b6293b46f95a0385aac/src/Tasks/Microsoft.NET.Build.Tasks/ResolvePackageDependencies.cs#L251

"analyzer" assets should work like "compile"

[2017-12-08 00:30] nguerrera commented on #6278
Duplicate of #6279

[2017-12-08 00:30] #6278 closed, assigned to nobody

[2017-12-08 00:43] shahabhijeet commented on #5873
@rohit21agrawal what happens to a project that is multi-targeting?
Please correct me if I am understanding this wrong.....
Does that mean depending upon the tooling that is being used, we need to maintain multiple schema?
Meaning for dotnet pack have 1 kind of schema and for nuget pack have a different?

[2017-12-08 00:46] rohit21agrawal commented on #5873
the schema in the nuspec is the same regardless of what you use.

PackageReleaseNotes is a property that is only specified in the csproj in a NETCore SDK style project (which can only be packed via dotnet.exe or msbuild /t:pack) - this translates PackageReleaseNotes to ReleaseNotes in the output nuspec.

If you are packing using a nuspec, then ReleaseNotes is the way to go regardless of what tool

[2017-12-08 00:58] shahabhijeet commented on #5873
@rohit21agrawal
So let me make sure I understand this, regardless of the target framework, as long as I am using msbuild /t:Pack or dotnet pack, I should be using PackageReleaseNotes in my csproj

[2017-12-08 00:59] rohit21agrawal commented on #5873
yes

[2017-12-08 01:43] yyjdelete commented on #6267
@rohit21agrawal
It's not encrypted.

Just product with the Daily Build(`2.2.0 preview`) can be found at there, tested with both windows and linux x64. And all `stable` versions works well.
https://github.com/dotnet/cli/blob/master/README.md#installers-and-binaries
https://dotnetcli.blob.core.windows.net/dotnet/Sdk/master/dotnet-sdk-latest-win-x64.exe

---
`dotnet mubuild /t:pack` also get the same

[2017-12-08 01:56] #5956 closed, assigned to rohit21agrawal

[2017-12-08 01:58] iskiselev commented on #6259
Sorry for not fully correct example. I've just updated it - please check it from original repo. Looks like adding to solution any `PackageReference `based project is trigger for a problem.
So, I've removed `PackageReference` from `.vcxproj` - it now use only `project.json`, but I've added SDK-based netstandard2.0 library, and problem is reproducible again.

[2017-12-08 02:03] rohit21agrawal commented on #6277
@kzu

[2017-12-08 03:53] sandyarmstrong commented on #5956
@rohit21agrawal sorry it took me awhile to get around to testing.

I can confirm that the file names look correct if I manually unzip now. They also continue to look correct if I extract via package installation.

There is a separate issue, and again this may be intentional: executable files are not marked executable if I manually unzip, but do retain the executable bit when extracted via package

[2017-12-08 05:48] CyberQin commented on #4488
Desktop project still having this problem in VS15.5

[2017-12-08 09:01] iskiselev commented on #6259
BTW, I found that only "Any CPU" platform for `.vcxproj` results in issue. I've started using "All CPU" platform for `.vcxproj` and it solved problem for me - but still there is some bug in Nuget/Visual Studio.

[2017-12-08 09:50] yyjdelete commented on #6267
@rohit21agrawal @livarcocc
Seems something is wrong with `netcoreapp2.1(preview)`, the below code works well with `netcoreapp2.0` but product broken zipfile with `netcoreapp2.1`.
Any idea where to post this issue?

<details>

[code]
</details>

[2017-12-08 10:16] AwesomeYuer opened #6280 ".NET Core Console App Project (.csproj) folder level Nuget.Config can't be used as current project's owned 3rd party's nuget packages source folder in Visual Studio 2017 v15.5.0"
I want make .NET Core App solution use it's child folder level nuget packages folder, but I can't do it. in VS2017 (v15.5)

1. run Visual Studio 2017 v15.5.0
2. create new Console App(.NET Core)
3. add new item: nuget.config for current project
4. edit the nuget.config as below:

`<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https:

[2017-12-08 11:06] GerjanOnline opened #6281 "VS Nuget does not work anymore on WebSite projects"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
VS UI

NuGet version (x.x.x.xxx):
4.5.0

VS version (if appropriate):
15.5

OS version (i.e. win10 v1607 (14393.321)):
Win7

Worked before? If so, with which NuGet version:
Yes, the problem now occurs after a clean install of VS. I have a fresh install now. With my older/bloated install it work

[2017-12-08 12:24] JarnoNijboer commented on #6281
Did you try turning it off and on again?

[2017-12-08 14:54] emexelem commented on #3324
Same issue during nuget pack on another project
[code]

[2017-12-08 15:29] StingyJack commented on #6117
Please remember this is for Nuget.org. I do not need a warning every time i build or push a package intended for a local repo.

[2017-12-08 15:35] StingyJack commented on #6281
Does it work if you create a new WebSite project?

[2017-12-08 15:39] markusschaber commented on #5887
Apart from the security issues example discussed above, we have a different use case:

We need this transitive dependency list for license compliance. If we don't know all the indirect dependencies, we don't know which licenses we have to obey (and which packages we should avoid because one of their transitive dependencies comes with a license which is not acceptable in the current project).

Thus

[2017-12-08 15:53] StingyJack opened #6282 "VS crashing or hanging while installing or updating packages should not leave projects in very broken state"
## Details about Problem

NuGet product used:  VS UI, probably affects others

NuGet version (x.x.x.xxx): All of them

VS version (if appropriate): 2017, but all of them

OS version (i.e. win10 v1607 (14393.321)): doesnt matter

Worked before? If so, with which NuGet version: no

## Detailed repro steps so we can see the same problem

1. Have solution with many projects, > 100
2. update packages t

[2017-12-08 16:00] rido-min commented on #2577
Package signing update: The [Package Signing Technical Details spec](https://github.com/NuGet/Home/wiki/Package-Signatures-Technical-Details) has been published. First NuGet.exe previews with sign and verification support are available [here](https://dotnet.myget.org/feed/nuget-build/package/nuget/NuGet.CommandLine).

[2017-12-08 16:20] clairernovotny commented on #2577
@rido-min so if we use those signing previews, can we submit packages with them? 😈

[2017-12-08 16:24] rido-min commented on #2577
@onovotny NuGet.org is not accepting signed packages (yet). If you submit a signed package you will see a validation failure. We will announce when NuGet.org starts accepting signed packages.

[2017-12-08 17:17] StingyJack opened #6283 "T4/TT file in a nuget package seems to be executed early"
NuGet product used: VS UI

NuGet version (x.x.x.xxx): whatever is in VS 2017

OS version (i.e. win10 v1607 (14393.321)): doesnt matter

Worked before? If so, with which NuGet version:
no idea

--------

I have a nuget package that includes a reference dll as well as a TT file and a .config file used by the TT. When I install the package, the I get an error about the config file not being found.

W

[2017-12-08 17:30] StingyJack opened #6284 "Make it easier to remove packages that are unused by projects."
Package A1 references dependencies D1, D2, and D3.

When A1 is installed, D1, D2, and D3 are also installed.

- When A1 is removed, the D packages remain.
- If upgrading to A1 v2.0 and it no longer requires D3, D3 remains referenced in the project

This leads to a bunch of orphaned dependency packages cluttering up the project, that require special tooling (R# - remove unused references) to determ

[2017-12-08 18:02] rohit21agrawal commented on #6267
@livarcocc I have re-opened the original sdk issue as this is definitely not a NuGet big.

@yyjdelete sorry for the inconvenience and really appreciate you taking out the time to send feedback, Livar’s team will investigate this as soon as they can

[2017-12-08 18:46] rohit21agrawal opened #6285 "bucket for major pack related issues"
The listed issues are important customer asks and each of them have been receiving considerable feedback , we should definitely look into getting them fixed as soon as we can as this will also help us in asking the ecosystem to move the PackageReference from packages.config

[2017-12-08 19:16] jainaashish opened #6286 "[Feedback] [Test Failure] “Successfully installed...” line lost in PMC when installing ‘Microsoft.EntityFrameworkCore.Tools’ package"
Repro steps:
1. Create an ASP .NET Core Web Application (.NET Core 2.0) through "New->Project->Visual C#->.NET Core".
2. Wait for the project restore completely.
3. Open PMC through "Tools->NuGet Package Manager->Package Manager Console".
4. Type “Install-Package Microsoft.EntityFrameworkCore.Tools” and hit Enter.

Expected Result:
Correct install log show in Package Manager Console.

Actual Resul

[2017-12-08 19:20] brazilbean commented on #5159
I get this problem intermittently. I'm still trying to figure out why.

[2017-12-08 19:21] brazilbean commented on #5159
I am building on Linux. My build scripts have worked fine in the past, but now have stopped working.

[2017-12-08 19:30] brazilbean commented on #5159
It may have something to do with stale files in the project obj/ directory. Once I force deleted the obj/ directory and rebuilt from scratch, the problem went away. (However, deleting the lock file, as the error recommends, did not resolve the problem).

[2017-12-08 19:32] anangaur commented on #6056
@matthidinger So should it keep changing based on the content that changes on the github URL?

IMO this should be a way to get the contents and the snapshot of the content is stored at NuGet gallery.

Also both relative path vs. public https based URL should be acceptable.
[code]
OR
[code]

[2017-12-08 21:43] davidmatson opened #6287 "contentFiles any doesn't work with PackageReference-style projects"
## Details about Problem

Using VS UI/nuget.exe pack

NuGet version in VS: 4.5.0

VS version: 15.5.0

OS version: win10 v1709 (16299.98)

## Detailed repro steps so we can see the same problem

1. See the repro below. Basically try using contentFiles to control attributes like copyToOutput and have the target folder use "any" rather than a specific value
2. Pack the nuspec and install the nupkg in

[2017-12-08 22:01] bronumski commented on #3378
This is causing me problems now. I have added another package to an existing solution. Because the new project is dotnet core I have had to upgrade my embedded version of nuget to handle restores. The new version handles restore for both project types but I now cannot pack because the packages folder is below the root. I am not trying to use nuget to pack the new dotnet core project but pack the p

[2017-12-08 22:02] JamieKeeling commented on #4254
This is certainly something I would love to see happen.

I am leveraging the new templating functionality in the .NET CLI and I would like to make use of Nuget as a distribution vector instead of raw files.

The [documentation](https://docs.microsoft.com/en-us/dotnet/core/tutorials/create-custom-template#use-nuget-distribution) states that you only need a .nuspec file and to then invoke `nuget pac

[2017-12-08 22:26] #6271 closed, assigned to dtivel

[2017-12-08 23:04] rohit21agrawal commented on #4254
@JamiKeeling The documentation is indeed incorrect . Thanks for reporting that, I already have sent a PR to fix it.

We have taken your feedback into consideration, will keep you updated on progress

[2017-12-08 23:18] jainaashish commented on #6284
There is a check box on VS UI to remove dependencies when you try to uninstall a package. Similar option is there while you uninstall from PMC `RemoveDependencies` is that what you're looking for or something else?

[2017-12-08 23:35] jainaashish commented on #6287
Can you also confirm if these other files which are not copied into output folder are even linked to project when you create a netcore project? or alternatively you can look into `*.nuget.g.props` file under `/obj` folder if these files are listed there?

[2017-12-08 23:50] jainaashish commented on #6283
Are you using `packages.config` or `PackageReference` format to manage NuGet dependencies? And do you have any sample repro which depict this issue?

[2017-12-08 23:55] jainaashish commented on #6282
This is a great feedback, we need to more resilient to these hangs or crash. Although NuGet already tries to not leave project in bad state if install/ update explicitly fail (without a hang or crash), and rollback to previous state. We'll evaluate how can we make this experience better and not leave solution in bad state at any point in time.

[2017-12-09 00:03] anangaur opened #6288 "Different properties in VS/dotnet.exe to treat warnings as errors"
### Steps
1. Get the latest .NET SDK and VS
2. Run the following: (from https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-csharp-module)
[code]

The project seems to set the property `TreatWarningsAsErrors`. The project was created as part of `dotnet new aziotedgemodule -n FilterModule` sets this property and `dotnet.exe` restore seems to be honoring this property.

VS on the other hand use

[2017-12-09 00:14] jainaashish commented on #6280
Please tell us which documentation did you follow to create your solution like this? This is not a right way to achieve what you're trying to achieve.

`<add key="Project" value="..\NuGetPackages" />` means you added a new NuGet source to get packages. It doesn't mean that it will restore packages in this folder. In order to set that you need to use `globalPackagesFolder`  property. Please go thro

[2017-12-09 00:49] StingyJack commented on #6284
the checkbox returning to the ui is nice.  if it defaulted to checked that would be better. some way to have the nuget ui remove unused packages later, should the checkbox not have been checked, would be best

[2017-12-09 00:53] StingyJack commented on #6283
i wont touch packagereferences. they cost me  several days when they were the default, and left me with broken proj files.

[2017-12-09 00:59] StingyJack commented on #6283
is nuget going to trigger ivssinglefilegenerator before the entire package is installed?

[2017-12-09 01:21] jainaashish commented on #6284
I see your point, but the reason is not checked by default is, since all the dependencies are also explicitly installed into project and customer might be referencing those explicitly. And if we remove those by default, then it will break their scenario, which is why users have choice to remove all the dependencies if they want to.

It's a good suggestion to remove unused packages, but a hard prob

[2017-12-09 01:33] jainaashish commented on #6283
NuGet doesn't trigger it, rather project system triggers it as part of design time build and it should happens after the package is installed. That's why I asked if you've any sample repro so that I can see what's going wrong in your case.

[2017-12-09 02:01] jainaashish opened #6289 "Start collecting NuGet specific diagnostic information with VS feedback tickets"
As the bug title says, we really need to start collecting NuGet specific diagnostic information (be it parsed dg file, activity log, restore logs, etc...) as part of VS feedback ticket when somebody is trying to create a NuGet issue.

[2017-12-09 02:50] jainaashish commented on #6145
one more vs feedback - https://developercommunity.visualstudio.com/content/problem/157492/packages-from-nugetorg-cant-install-if-a-secondary.html

[2017-12-09 02:56] AwesomeYuer commented on #6280
thanks your feedback in time.
I want make my solution use offline packages folder, like '.NET framework'  solution's  packages folder if the packages have been downloaded from internet for the first reference in some projects in the solution.
just I have add nuget.config/packages.config
 for my .NET Core App project, the content as below:
`<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <

[2017-12-09 03:41] mishra14 commented on #6288
NuGet respects `WarningsAsErrors` and `TreatWarningsAsErrors` property in both VS and dotnet.

To clarify -
`TreatWarningsAsErrors` accepts `true` or `false` values only and applies to all NU codes. e.g. - `<TreatWarningsAsErrors>true</TreatWarningsAsErrors>`

`WarningsAsErrors` accepts comma or semi-colon separated NU codes to convert individual codes into errors. e.g. - `<WarningsAsErrors>NU1609

[2017-12-09 06:08] jagowm commented on #2880
I have the same issue:
unable to load the service index for source https://api.nuget.org/v3/index.json fot timeout
Please help me out

[2017-12-09 06:18] kkm000 opened #6290 "Allow metadata/reference be specified to be used by the Pack target"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): `dotnet\sdk\2.0.3\Sdks\NuGet.Build.Tasks.Pack\build\NuGet.Build.Tasks.Pack.targets` and NuGet.Build.Tasks.Pack.
VS version 15.4.5,  MSBuild 15, full framework.

---

[Explicit assembly references](https://docs.microsoft.com/en-us/nuget/schema/nuspec#specifying-explicit-assembly-references) are

[2017-12-09 06:51] anangaur commented on #6288
@mishra14 What is the difference between `WarningsAsErrors  `and `TreatSpecificWarningsAsErrors`?

I can repro this with 15.4.1. Need to check with the latest.

[2017-12-09 08:55] jainaashish opened #6291 "[Feedback] [Test Failure] Error message shows in PMC after updating package ‘Microsoft.NET.Test.Sdk’"
Repro steps:
1. Create a C# .NET Core -> Unit Test Project (.NET Core).
2. Open the ‘Manage NuGet Packages…’ for the project.
3. Go to the ‘Installed’ tab and we found the package ‘Microsoft.NET.Test.Sdk’ is installed with latest version.
4. Open ‘Package Manager Console’.
5. Type in command ‘Update-Package Microsoft.NET.Test.Sdk’.

Expected:
Correct message should show in PMC as below screenshot.

[2017-12-09 09:19] jainaashish opened #6292 "[Feedback] [Test Failure] The package has been updated to all projects while attempting to update the specific package into only one project in PMC"
Repro steps:
1. Create a solution with two C# Console App (.NET Framework) projects (named ‘Console1/Console2’) in VS.
2. Select ‘Packages.config’ as default package management format in Package Management Settings window.
3. Open PMC, select ‘Console1’ in ‘Default project’ and type ‘Install-Package Newtonsoft.Json –version 10.0.1’.
4. Select ‘Console2’ in ‘Default project’ and type ‘Install-Packa

[2017-12-09 16:47] dtivel opened #6293 "Plugins: possible ArgumentNullException in OnTimer(...)"
In `AutomaticProgressReporter` a race condition exists between semaphore disposal and a timer firing.

[code]

See [this](https://social.msdn.microsoft.com/Forums/vstudio/en-US/c3f9286c-e666-435b-aec2-b5b1501d2554/argumentnullexception-from-blockingcollectiontrytake?forum=parallelextensions) for an example of how `SemaphoreSlim.Wait(...)` can throw an `ArgumentNullException`.

This was caught by a

[2017-12-09 16:51] clairernovotny opened #6294 "Signing API doesn't expose timestamps easily"
Looking at the Signing API's, the Signature read from `PackageArchiveReader.GetSignaturesAsync` doesn't expose the Timestamp. It's currently very difficult to get that data and the API's that NuGet has to read it are all internal.

Can a nullable Timestamp field be added to `Signature` that returns the timestamp, if it exists? Would make reading/displaying that far easier than dealing with the raw

[2017-12-09 20:29] StingyJack commented on #6284
If its the VS nuget UI, can you tap into "Find all References" or just scan for the namespaces in the dependency being used in the project?  It could even be a background or build server operation to identify them. Maybe I just want unused code identification to be more aggressive /shrug

I do end up with extra libraries and every one of them is more deployment footprint and surface area for  pote

[2017-12-09 20:31] StingyJack opened #6295 "Please provide a usable nuspec schema file"
(transferred from [docs](https://github.com/NuGet/docs.microsoft.com-nuget/issues/580) )
The one linked on the nuspec schema description page has a bunch of string replacements, and doesn't import into VS properly. Please link to a version of this that can be imported right into VS (surprised its not present already).

[Here is the doc page](https://docs.microsoft.com/en-us/nuget/schema/nuspec#gen

[2017-12-09 20:33] StingyJack commented on #6283
I'll try to post it when I get back into the office on Monday. Its an intermittent thing though, i think. It wasnt until I started adding the config transforms that the package started behaving like that.

[2017-12-11 00:25] alexzaytsev-newsroomly commented on #3664
Not sure if this is related, but i am facing this issue on Windows with .net 2.0 specifically when i restore the packages for `sln`, e.g. `dotnet restore Bla.sln --configfile NuGet.config --verbosity Detailed` gives me the 401s in the `RestoreTask` in `NuGet.targets`.

[2017-12-11 10:26] tmds commented on #5862
I think source-build is responsible for updating the runtime.json so it includes the target rid (and possible parents).
If the rid isn't in the corefx runtime.json, other dotnet sdks won't be able to target it, but it should be fully functional on its own.

I know source-build has had a task for updating the runtime.json file, but I'm not sure what the current behavior is. When trying to build 2.0

[2017-12-11 17:29] arivoir opened #6296 "Nuget packages version conflict"
I have a project, which references the nuget package Xamarin.Forms(2.5.0.121934), and also references another project, which references the package Xamarin.Android.Support.v4(26.1.0.1)

I'm having this conflict

NU1107: Version conflict detected for Xamarin.Android.Support.Compat. Reference the package directly from the project to resolve this issue.
 ProjectX -> ProjectY -> Xamarin.Android.Suppor

[2017-12-11 18:41] #6273 closed, assigned to PatoBeltran

[2017-12-11 19:12] rohit21agrawal opened #6297 "write correct TFM format in output nuspec in the generated nupkg"
currently, we write TFMs like ``` <group targetFramework=".NETStandard2.0" /> ``` , when instead we should be writing something like ``` <group targetFramework="netstandard20" /> ```

While this will have no functional impact, some users have expressed that this causes confusion.

[2017-12-11 19:23] mishra14 commented on #5159
Can you please run `dotnet --info` and give us the output?

[2017-12-11 19:27] nkolev92 commented on #6260
Clarified with Rob, here the ask is actually to just return the GlobalPackageFolder location specified in the "Machine-Wide" config.

I'm not sure any of the points listed in the original issue are a concern.

Will clarify offline if we want to have this as an MSBuild target, or just use the already existing APIs.

[2017-12-11 19:45] jainaashish commented on #6251
Done! Sent the hotseat wrapup to the team.

[2017-12-11 19:45] #6251 closed, assigned to jainaashish

[2017-12-11 19:52] emgarten commented on #6279
Analyzers were added without work being done on the NuGet side originally. We should add it to project.assets.json so that the SDK can switch over to using that instead of reading packages directly to find the analyzers folder.

[2017-12-11 20:00] davidmatson commented on #6287
Yes, they are linked to the project. However, somewhat oddly, Test.cs (which is copied to output) is not shown in Solution Explorer.

Here's what the props file says:
[code]

And here are a couple of snippits from project.assets.json:
[code]

[code]

For reference, here's the nuspec (also inside repro.zip):
[code]

[2017-12-11 20:25] #6293 closed, assigned to dtivel

[2017-12-11 20:31] wli3 commented on #6260
We need talk more about this problem. We need an API similar to https://github.com/dotnet/cli/blob/55f62d9d646b558d53c56e226a9ddc3dc003a23b/src/Microsoft.DotNet.Configurer/CliFolderPathCalculator.cs#L44

And as the issue stated, it cannot simply return the full path.

[2017-12-11 20:37] nkolev92 opened #6298 "Should we be enforcing 1 package type per package"
Motivated by https://github.com/NuGet/Home/wiki/Global-Tools---NuGet-Implementation/

@rrelyea  thinks that we should have already been enforcing 1 package type per package, but currently that's allowed by both specification and the implementation of Pack.

Update:

Pack doesn't validate.
Install through PM UI validates.
Adding in the package reference manually and restoring doesn't validate.

Thi

[2017-12-11 20:43] rrelyea commented on #6266
Thanks for the feedback.
We will put this in our backlog. As we continue to invest in better CLI commands, it will help us understand customer needs.

[2017-12-11 20:48] nkolev92 commented on #6260
@wli3
There's already APIs that allow you to do what you're asking for above and I'm not aware of any issues like the ones you listed under 2.

Can you please try the following
[code]

[2017-12-11 20:53] rrelyea commented on #6280
Your nuget.config has told NuGet that there are two places to try to fetch packages from.
With a .netcore SDK based project, we do not support a Solution level folder to keep packages in.
Instead, we "restore" packages into the global packages folder, which defaults to, "users\<yourname>\.nuget\packages".

Each solution doesn't need its own copy...we have a shared folder for all solutions on your

[2017-12-11 20:59] dtivel opened #6299 "Functional package signing test failing"
Change from https://github.com/NuGet/NuGet.Client/pull/1858.
[code]

[2017-12-11 21:02] rrelyea commented on #6284
Thanks for the feedback. Yes, it would be nice if we can make it easier to understand which packages are actively being used by a project.
Putting into backlog.

[2017-12-11 21:15] #6299 closed, assigned to dtivel

[2017-12-11 22:09] bronumski opened #6300 "Pack is looking for nupkg in wrong location"
Possibly related to:
https://github.com/NuGet/Home/issues/5316
https://github.com/NuGet/Home/issues/3198
https://github.com/NuGet/Home/issues/3378

## Details about Problem
Had an existing project that packs up several packages via Fake and NuGet 2.8.
https://github.com/bronumski/HealthNet/tree/release/1.1.0.50

Project structure:
[code]
This had been working fine however I am attempting to add a

[2017-12-11 22:10] anangaur commented on #6257
https://github.com/NuGet/NuGetGallery/issues/5065 has the details.

[2017-12-11 23:01] #6120 closed, assigned to jainaashish

[2017-12-11 23:03] jainaashish commented on #6120
With the second PR# it now resolves only project references which should improve this experience. We'll still keep an eye on this failure in future releases.