[2016-11-03 08:53] AndyTian-Devops opened #3867 "[Test failure]Can not install package "XUnit" to Unit Test Project(.Net Core)"
**NuGet version:** 4.0.0.2044

**VS version:** Dev15 D15Rel 25902.00

**OS version**: Windows 10 RS1_Release 14393.332

Repro Steps:
1. Create a C# Unit Test Project(.Net Core) application.
2. Right click Dependencies node and select Manage NuGet Packages...
3. In PM UI page, select Brower tab, select "xunit" package and make sure the vesion is 2.1.0
4. Click Install button

**Expected:**
 Package

[2016-11-03 08:53] AndyTian-Devops commented on #3867
Looks like xunit have added support for .NetCore.
https://github.com/xunit/xunit/issues/938

[2016-11-03 09:17] rrelyea commented on #3866
Please refill an issue with info. This appears empty...

[2016-11-03 09:17] #3866 closed, assigned to nobody

[2016-11-03 10:09] golayp commented on #3866
sorry it's an error.

[2016-11-03 10:44] MartinSGill commented on #3858
@yishaigalatzer Non-Detailed is nicer: "Unable to find package 'Semver2.test'". A hint "(a pre-release package was found, use -prerelease to install it)" might be nice though.

@emgarten I also have problems when using -pre (my bad for missing that initially)

Not sure if this is a Nexus bug or a NuGet bug though.

The link `https://*******.com/service/local/repositories/releases_dotnet/content/Se

[2016-11-03 11:16] dougbw commented on #3050
We are having issues as a result of this too - We use a build counter version number throughout our build, deploy, and test pipelines and having a mismatch causes failures when using the package version in a file system path.

Example scenario:
- TeamCity build is version 1.0.100.0
- Nuget pack creates version 1.0.100
- Deploy application
- Deploy the post-deploy tests to a test server, the packag

[2016-11-03 15:29] ejizba commented on #3832
"CPS nominate that project to NuGet and pass along project restore data"

"you will also need to make sure that the new package is provided with template packages cache"

[2016-11-03 15:29] Halofreak1990 commented on #1348
What about changing HintPath to be based off $(PackagesDir) ?

[2016-11-03 17:04] emgarten commented on #3858
@MartinSGill can you manually download the nupkg from the url using the browser?
`https://*******.com/service/local/repositories/releases_dotnet/content/Semver2.test/1.2.3-prerelease.1.2.3+SHA-ABCDEF-20161111-slave1/Semver2.test-1.2.3-prerelease.1.2.3+SHA-ABCDEF-20161111-slave1.nupkg`

I'm wondering if Nexus has an issue with the url since it contains an unescaped `+`. It is a known issue that Sem

[2016-11-03 17:05] #3821 closed, assigned to emgarten

[2016-11-03 17:17] #3814 closed, assigned to mishra14

[2016-11-03 17:17] #3780 closed, assigned to alpaix

[2016-11-03 17:17] #3853 closed, assigned to emgarten

[2016-11-03 17:26] rrelyea opened #3868 "Set up CI to run x86"

[2016-11-03 17:45] joelverhagen commented on #3865
`dotnet --info`

[code]

[2016-11-03 18:44] joelverhagen commented on #3618
To be consistent with other restore switches, I am going to make call the MSBuild property `$(RestoreLegacyPackagesDirectory)`.

[2016-11-03 18:45] rrelyea opened #3869 "insert latest nuget into cli/sdk"

[2016-11-03 19:03] alpaix opened #3870 "Better error handling for the nomination API"
.NET Core .csproj file may contain various types of syntax and logical errors detectable by NuGet especially when a file was edited manually. In this case the nomination API will fail creating the project restore info and as a result triggering a restore operation.

Among properties where error values are possible:
`PrivateAssets`, `IncludeAssets`, `ExcludeAssets`, `Version`, some others.

### Pro

[2016-11-03 19:03] joelverhagen opened #3871 "nuget.exe restore a ASP.NET Core template fails with unsupported imports"
## Steps

1. `git clone https://github.com/watashiSHUN/aspnetcoreTEST.git`
1. `cd aspnetcoreTEST\src\AspNetCoreNewToolingRC`
1. `nuget.exe restore AspNetCoreNewToolingRC.csproj`

## Expected

Restore should succeed.

## Actual

[code]

## Environment

`nuget.exe`
[code]

`dotnet restore` works, but seems to need another source.
[code]
`dotnet --info`
[code]
VS version reported to have created the

[2016-11-03 19:16] emgarten commented on #3871
Dupe of https://github.com/NuGet/Home/issues/3819

[2016-11-03 19:17] emgarten commented on #3871
The additional whitespace around imports is not currently supported:
https://github.com/watashiSHUN/aspnetcoreTEST/blob/master/src/AspNetCoreNewToolingRC/AspNetCoreNewToolingRC.csproj#L11-L13

MSBuild does not automatically trim this

[2016-11-03 19:47] joelverhagen commented on #3871
The source needed to get the restore working is:
https://www.myget.org/F/azure-appservice/api/v2

Closing because it's a duplicate.

[2016-11-03 19:47] #3871 closed, assigned to nobody

[2016-11-03 20:02] jainaashish commented on #3832
`"you will also need to make sure that the new package is provided with template packages cache"

Can you expand on this? I'm not sure I understand what to do here.`

Leave it for now, just try adding that package reference directly into template csproj, instead of calling into installpackage api. and see if it works for you.

[2016-11-03 20:17] rocifier commented on #3695
Hi, is anyone else able to reproduce this? I am still having issues on a weekly basis with all kinds of projects and packages. Should I try to build nuget from source and install it into visual studio 2015? What's the easiest way to upgrade my nuget package manager? According to VS2015 I have version 3.4.4.1321 and no updates are available. I have tried reinstalling that version using Extensions.

[2016-11-03 20:24] rrelyea commented on #3832
Eric is running with a workaround. Ok for RC.

[2016-11-03 20:26] rrelyea commented on #3867
@jainaashish - not sure if this should work, given the state of that package.

[2016-11-03 21:43] jainaashish commented on #3867
@v-atian why is it a test failure? when did it work?

Xunit depends on xunit.assert which still doesn't support .netcoreapp which is why it failed.

`

.`

We can log an issue for xunit for this.

[2016-11-03 21:47] scurker opened #3872 "NuGet cli lists/returns unlisted packages"
I accidentally published a newer version of a package, and marked it as "unlisted" in the NuGet gallery in order to publish the correct version. NuGet [correctly lists](https://www.nuget.org/packages/PassSharp/) the package version as v1.0.0.

However when installing the package through the Nuget command line tool, the unlisted version is installed.

Running `nuget install PassSharp` returns versi

[2016-11-03 21:49] jainaashish commented on #3867
External Issue# https://github.com/xunit/xunit/issues/1016

[2016-11-03 21:52] jainaashish commented on #3867
@v-atian
From Xunit team:

Getting started instructions are here: https://xunit.github.io/docs/getting-started-dotnet-core.html

[2016-11-03 22:14] zhili1208 commented on #3865
Looks like it's not our issue.
the issue only happens when project A reference project B.

Msbuild will pass two paths to nuget pack task in TargetPathsToAssemblies like following:
C:\Users\[username]\Documents\test\testproj5\obj\Debug\netstandard1.4\testprojA.dll
C:\Users\[username]\Documents\test\testproj5\obj\Debug\testprojA.dll

the first one is right one, the second one doesn't exist, that's

[2016-11-03 22:20] roberthusak commented on #1900
Hi, do you know the reason of this decision? It actually causes trouble on case sensitive file systems (or at least on Linux under Mono), because `dotnet restore` can't recognize a package added this way and installs it again. Thanks.

[2016-11-03 22:22] joelverhagen commented on #3618
/cc @alpaix @jainaashish @emgarten, can haz review? 🐱

[2016-11-03 22:33] rrelyea opened #3873 "Create UWP app create project & rebuild total elapsed time regressions"
Internal bugs:
create project - 286587 - 24% regression
rebuild - 286956 - 6% regression

[2016-11-03 23:05] joelverhagen opened #3874 "dotnet pack always seems to set ProjectReference version to 1.0.0"
## Steps

1. `dotnet new` to .csproj (projectA and projectB)
1. Set `<Version>2.0.0</Version>` in projectB
1. Add a `<ProjectReference>` between the (projectA -> projectB)
1. Restore both.
1. Build both.
1. `dotnet pack` projectA
1. Look at the output .nuspec.

## Expected

The version of the projectB dependency should be 2.0.0.

## Actual

The version of the projectB dependency seems to be a defa

[2016-11-03 23:08] joelverhagen commented on #3874
/cc @rrelyea not sure if this is RC or RC2.

[2016-11-04 00:13] rrelyea commented on #3845
Ready for shiproom yet? If not, eta? Please drive it home.

[2016-11-04 00:15] rrelyea commented on #3618
Need PR to integrate into CLI by 9pm tonight please.
Also need SDK synchronized to same bits.
please coordinate with livar and peter. will loop you into thread.

[2016-11-04 00:36] rrelyea commented on #3874
RC2 and release note.

[2016-11-04 00:50] jainaashish commented on #3864
Tried 10-12 times with .net core console app, class library, or web app but not able to repro with latest dev build (2046).

[2016-11-04 00:52] emgarten commented on #3874
This is likely related to: https://github.com/NuGet/Home/issues/3748

[2016-11-04 01:28] #3618 closed, assigned to joelverhagen

[2016-11-04 08:58] nguerrera commented on #3865
See https://github.com/dotnet/sdk/issues/356#issuecomment-258374983. The issue is in the way the msbuild calls in the pack targets are batched and not a problem in the SDK targets.

[2016-11-04 09:24] nguerrera commented on #3865
When I remove all of the seemingly unnecessary usage of %(_MSBuildProjectReferenceExistent) in the local copy of the pack targets in my package cache, then the pack succeeds in this case.

[2016-11-04 10:57] MartinSGill commented on #3858
@emgarten

Yes, I can download from that URL manually, i.e. directly in Chrome and I get the package.

That's not the URL in the XML though... that URL is:

[code]

That URL doesn't work. And I don't know enough about the API to tell if the actual package URL should be retrieved using a redirect (in Nexus) or if the client is supposed to calculate the URL from that link.

[2016-11-04 10:57] MartinSGill commented on #3858
@emgarten

Yes, I can download from that URL manually, i.e. directly in Chrome and I get the package.

That's not the URL in the XML though... that URL is:
[code]

That URL doesn't work. And I don't know enough about the API to tell if the actual package URL should be retrieved using a redirect (in Nexus) or if the client is supposed to calculate the URL from that link.

[2016-11-04 14:01] msackton opened #3875 "dotnet restore and nuget restore generate different project.json.lock files"
## Environment ##
NuGet Version: 3.4.4.1321
dotnet Version: 1.0.0-preview2-003121

## Problem ##
I have a NETStandard library that uses Xamarin and System.Diagnostics.Tools and System.Resources.ResourceManager. When I do a dotnet restore on the project.json, it includes compile references to those libraries in the project.json.lock (from the NETStandard 1.6 package) and the project compiles.

When

[2016-11-04 14:33] radekpribyl opened #3876 "Nuget.config - relative paths not working with dotnet restore"
Moving from dotnet core project - https://github.com/dotnet/core/issues/291

Hi all,
Our intention is have a shared folder where all nuget packages are restored to. The folder should be referenced relatively as each developer may sync the code from source control into a different folder. We followed instructions available at https://docs.nuget.org/ndocs/schema/nuget.config-file.md
Let's say we hav

[2016-11-04 14:52] rainersigwald commented on #3865
I agree that that usage seems unnecessary--it's creating multiple invocations of the same project for combinations of TargetFrameworks (desired) + various project-reference properties (not needed since they don't apply to the project being built.

[2016-11-04 15:52] joelverhagen commented on #3869
Finished with https://github.com/dotnet/cli/pull/4614 and https://github.com/dotnet/sdk/pull/359.

[2016-11-04 15:52] #3869 closed, assigned to rrelyea

[2016-11-04 16:07] joelverhagen commented on #3664
@Kemyke, without some repro environment that I can access or network logs (complete HTTP sessions) I can't make a good assessment of what is going on here.

[2016-11-04 16:20] karann-msft commented on #3822
Fixed!

[2016-11-04 16:20] #3822 closed, assigned to karann-msft

[2016-11-04 16:21] karann-msft commented on #3594
Fixed

[2016-11-04 16:21] #3594 closed, assigned to karann-msft

[2016-11-04 16:44] rrelyea commented on #3874
Please confirm if nuget pack has the same problem, and if there is a workaround.

[2016-11-04 16:45] karann-msft commented on #3287
Updated the link. Thanks for PR @droyad

[2016-11-04 16:45] #3287 closed, assigned to karann-msft

[2016-11-04 16:47] karann-msft commented on #3358
docs updated. latest doc here - [NuGet Package Restore](https://docs.nuget.org/ndocs/consume-packages/package-restore)

[2016-11-04 16:47] #3358 closed, assigned to karann-msft

[2016-11-04 16:56] #3357 closed, assigned to karann-msft

[2016-11-04 16:57] karann-msft commented on #3384
@SimonCropp  appreciate the feedback. We are moving to docs.microsoft.com very soon. Hence, closing the issue.

[2016-11-04 16:57] #3384 closed, assigned to karann-msft

[2016-11-04 17:03] rrelyea opened #3877 "Stop "fail to restore" occurances with CPS/NuGet conflicts"
Short of the CPS project lock fix covered by #3807

This is representing a fix we tried last night and had very good results with testing.
We are just reversing the order of these 2 actions:

**Current order**
1) save project.assets.json
2) save .g.targets and .g.props

**New order**
1) save .g.targets and .g.props
2) save project.assets.json

[2016-11-04 17:42] blackdwarf opened #3878 "external/sdk - MSBuild-based dotnet pack does not pack console app's runtimeconfig.json"
Using the 1.0.0-preview3-004040 version of the CLI, if I have an application (targeting `netcoreapp1.0`) and I run `dotnet pack`, the runtimeconfig.json will not get packed with the app's DLL.

This is a regression from Preview 2 tooling which packed this file by default (it makes sense, since you have to have it to run the application).

/cc @rohit21agrawal @joelverhagen

[2016-11-04 18:07] joelverhagen commented on #3874
## Workaround

Put this in the reference projects:

[code]

[2016-11-04 18:14] rrelyea commented on #3877
From: Sri
Sent: Thursday, November 3, 2016 11:18 PM
Subject: RE: Auto Restore broken -- fix to test is coming
I’ve also verified that the race seems to be gone with these privates. Additionally, the blocking bug below that unit test discovery is broken appears to be because of this issue. In a newly created project I was able to repro the issue but not if I opened and closed the project. With thes

[2016-11-04 18:37] skofman1 opened #3879 "hosted nuget.server tips 502 (not found)"
@ColinZeb wrote:
#Custom Nuget.Server by hostself.
hostname:https://nuget.jingshonline.com/nuget
I'm using chinese language with vs 2015 up3.
error:
严重性	代码	说明	项目	文件	行	禁止显示状态
错误	响应状态代码不指示成功: 502 (Not Found)。	0
![image](https://cloud.githubusercontent.com/assets/16807822/20017927/017dd2e6-a283-11e6-840a-99da24629cd6.png)

NOTE: on other solution it's works fine

[2016-11-04 18:44] magol commented on #3594
https://github.com/NuGet/NuGetDocs/commit/4df939db55d9450963842d31be6bca5122be0df8

[2016-11-04 18:48] yishaigalatzer commented on #3594
Thanks @magol

[2016-11-04 18:53] emgarten commented on #3858
The feed is allowed to put the nupkg at any url, NuGet just follows the link provided. There is no url construction happening in the client.

So far this seems like an issue with Nexus, can you open a bug with them with what you are seeing? I'd be happy to help also to get Nexus and NuGet working together for SemVer 2.0.0.

[2016-11-04 19:15] zhili1208 commented on #3876
the location of packages folder should be relative to nuget.config. we fixed this before, Can you try latest CLI to see if it works? https://github.com/dotnet/cli
Thanks

[2016-11-04 19:21] emgarten commented on #3695
@rocifier would you try the latest 3.5.0 version of nuget here: https://dist.nuget.org/visualstudio-2015-vsix/latest/NuGet.Tools.vsix

[2016-11-04 19:28] rrelyea opened #3880 "dotnet pack is packing from obj not bin"
Found by cli team.

[2016-11-04 19:38] msackton commented on #3875
After some further research, it is clear that the reason this doesn't work is because we need to be using NuGet 3.5 on the command line to support a NETStandard target.

All working now with NuGet 3.5.

[2016-11-04 19:38] #3875 closed, assigned to nobody

[2016-11-04 21:13] aateeque opened #3881 "Nuget pack does can't find build output in BasePath"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): Nuget.exe

NuGet version (x.x.x.xxx): 3.4.4-rtm

OS version (i.e. win10 v1607 (14393.321)): win7

Worked before? If so, with which NuGet version: Don't know

## Detailed repro steps so we can see the same problem

1. Build a console application (`.\src\Project\Project.csproj`) to a directory ot

[2016-11-04 21:40] #3845 closed, assigned to alpaix

[2016-11-04 21:59] emgarten commented on #3881
@aateeque can you try the latest version of nuget.exe here: https://dist.nuget.org/win-x86-commandline/v3.5.0/NuGet.exe

[2016-11-04 22:09] magol commented on #3594
What a shame that there is no better option for C ++ :-(

Great that you removed the outdated information about CoApp. :-)
But now, the information about C++ is even more thinner. The information assumes that you are already well familiar with how NuGet works. If you do not have deep knowledge of how it works, it is almost impossible to create a NuGet package for C++ based on that information.

I

[2016-11-04 22:32] aateeque commented on #3881
@emgarten just tried with 3.5.0.1938 and see the same error. The `BasePath` is to tell nuget where to look for build output, right?

[2016-11-05 17:30] #3877 closed, assigned to emgarten

[2016-11-05 17:30] rrelyea commented on #3845
In NuGet 4.0.0.2050 build, which is in VS 25904.02 build.

[2016-11-05 17:30] rrelyea commented on #3877
In NuGet 4.0.0.2050 build, which is in VS 25904.02 build.

[2016-11-07 00:10] maliming commented on #3879
+1s

[2016-11-07 00:22] rocifier commented on #3695
Hi, I tried that and it was the same. I now tried building the client from source and attaching the debugger. The error occurs on line 107 of PrunePackageTree in dev branch ("installed.add"):

[code]

It's trying to add another instance of the same package to the dictionary. I will try to debug more later, but my initial thoughts are that this logic isn't 100% correct. However, skimming through th

[2016-11-07 01:02] bbowman commented on #3599
@rohit21agrawal I know there is some cross targeting work going on. Any thoughts here on how it could relate?

[2016-11-07 01:34] emgarten commented on #3695
@rocifier does a packages.config file contain the same id more than once? Are you able to update each project individually?

[2016-11-07 01:39] rocifier commented on #3695
No they don't. I've checked at least 10 times all the package.config files in the solution. I can add the package to any one project, but when I try to add it to 2 projects either 1 after another, or both at the same time (after removing the package from all projects), I get this error.

[2016-11-07 01:44] isaacmcn commented on #3168
Hi, we are experiencing this issue as well. Any word on when a fix is likely?

[2016-11-07 07:33] v-nancyj opened #3882 "[Test Failure] The latest version of packages installed by default in PCL template show inconsistently between PMC and PM UI"
**NuGet version:** 4.0.0.2050
**VS version:** Dev15 D15Rel 25904.02
**OS version:** Windows 10 RS1_Release 14393.332

**Repro Steps:**
1. Create a Class Library (Portable) project, select 'Targets' as below screenshot.
![channge](https://user-images.githubusercontent.com/20632775/42991202-6fb8093c-8bf4-11e8-8e7e-fd84e95960fe.png)

2. Open NuGet Package Manager with project node and select Installe

[2016-11-07 07:49] AndyTian-Devops commented on #3867
@jainaashish Thanks for your information about xUnit and file the external issue. I read the instructions and found there are 3 project templates at that time. And looks like there is a product change that add new .NetCore application**(Unit Test Project(.Net Core))** into Dev15 D15Rel now.
![1106](https://cloud.githubusercontent.com/assets/12235523/20049834/a08d3d7a-a500-11e6-8ca4-6830f7b40a6f.pn

[2016-11-07 09:20] aateeque commented on #3881
@emgarten any idea about this one? Am I using `BasePath` correctly?

[2016-11-07 14:53] AlesDo commented on #3248
After installing the latest v3.5.0 release of the tools the issue does not happen anymore.

[2016-11-07 16:41] dvalentine314 commented on #3121
I don't understand what it is in detail, but it's related to NuGet package management. Here's a quick explanation. [https://github.com/aspnet/Home/wiki/Lock-file](https://github.com/aspnet/Home/wiki/Lock-file)

[2016-11-07 17:50] rrelyea opened #3883 "Deadlock in Microsoft.VisualStudio.ProjectSystem.VS.NuGet.NuGetRestorer"
Internal bug 288838

[2016-11-07 17:59] jinujoseph commented on #3633
I still don't see any output in the output window.
The only information i have about restoring is in the info bar below.

![image](https://cloud.githubusercontent.com/assets/12449387/20069281/cd812556-a4d0-11e6-9daa-5efca3fbaec8.png)

which is lost once restoration completes , is that expected ? I would have expected the output window to display the packages restored.

[2016-11-07 18:02] zhili1208 commented on #3868
Done

[2016-11-07 18:16] emgarten commented on #3881
I think BasePath is related to the Files element in the nuspec, not the project.

`The base path of the files defined in the nuspec file.`

[2016-11-07 18:23] jinujoseph opened #3884 "Restore logs are lost and not persisted in the output window"
build: d15rel/25904.2
cli: 1.0.0-preview3-004056

Create any Console application (.Net Core ) , this will kick in Auto restore which will display the restore information at the information bar , which disappears once completed.

![image](https://cloud.githubusercontent.com/assets/12449387/20070143/2a6a3ee4-a4d4-11e6-9453-dfb329e3cff4.png)

I don't see any log in the VS output window.

[2016-11-07 18:37] jainaashish opened #3885 "Test Discovery is not working with DPL mode"
Internal issue# 287536

Test explorer calls into Nuget template api IVsPackageInstallerServices.GetInstalledPackages while solution is still being loaded with DPL. Hence NuGet doesn't have any context of projects under this solution and returns nothing from this api call.

[2016-11-07 18:46] drewgillies opened #3886 "Add project reference metadata to package spec in legacy csproj package reference projects"
This metadata is currently not being read from the csproj and presented to the nuget project system in the package spec.

[2016-11-07 18:52] emgarten commented on #2260
This should be possible now just by using MSBuild, right?

[2016-11-07 18:55] mishra14 commented on #2140
Yet to have a design discussion for https://github.com/NuGet/Home/issues/3591. The result will impact this as well.

[2016-11-07 19:29] #3844 closed, assigned to jainaashish

[2016-11-07 19:34] duaneking commented on #2617
Just got hit by this in the newest version, fix this please!

[2016-11-07 19:36] rrelyea commented on #2617
"newest version"?
think we fixed this problem in 3.5.0 for vs2015, which is posted at http://nuget.org/downloads

[2016-11-07 19:39] duaneking commented on #2617
I'm using Visual Studio 2015 Enterprise Edition, using the newest version of the app plugin based on the output from the extension and update manager, and this issue still exists as of the version 3.4.4.1321 that the manager says is installed.

[2016-11-07 19:40] rrelyea commented on #2617
Yes, 3.5.0 is not an auto-update. Please update to 3.5.0 via the URL I gave you above. It should fix your issue.

[2016-11-07 19:45] duaneking commented on #2617
Given that some corporate IT environments do not allow anything short of an auto update, may I ask when this will be made one?

[2016-11-07 19:54] joelverhagen commented on #3747
Fixed in RC, actually.

[2016-11-07 19:54] #3747 closed, assigned to joelverhagen

[2016-11-07 19:55] drewgillies commented on #3272
Blocked by VS15 E2E breaks, currently being attended to by @mishra14 .

[2016-11-07 19:58] bbowman commented on #520
@kzu Just for my understanding here, there is nothing "wrong" with having a developmentDependency tacked on to the produced package except that its extra baggage right? I assume that it would be mostly harmless unless a brought in dev dep conflicted with a build environment for some reason?

[2016-11-07 20:02] joelverhagen opened #3887 "Determine requirements and design for version suffix parameter (restore, build, pack)"
The `--version-suffix` parameter available to `dotnet build` and `dotnet pack` in preview 2 tooling in addition to snapshot versions in project JSON `"version": "2.0.0-beta-*"` provided a reasonably simple way of releasing both release (e.g. 2.0.0-beta, 3.0.0) and CI packages (e.g. 2.0.0-beta-1343, 3.0.0-rtm-1343).

This logic also worked pretty well with project dependencies when packing so that

[2016-11-07 20:03] joelverhagen commented on #3838
Design task is tracked here: https://github.com/NuGet/Home/issues/3887. For now, please work around the issue by providing MSBuild properties from the command line, `/p:FOO=BAR` style.

[2016-11-07 20:03] #3838 closed, assigned to joelverhagen

[2016-11-07 20:12] joelverhagen commented on #3880
This has only been checked into dev (4.0.0-rc2). This should be closed when we cherry-pick to 4.0.0-rc branch.

[2016-11-07 20:12] joelverhagen commented on #3874
This has only been checked into dev (4.0.0-rc2). This should be closed when we cherry-pick to 4.0.0-rc branch.

[2016-11-07 20:14] rrelyea commented on #2617
We are being conservative and making sure we give this some time in the market place before turning on auto-update...just to make sure we get some extra validation time.
This is primarily because updates to NuGet without corresponding test runs on VS 2015 as part of major updates have extra risk.
We'd love your feedback on the policy.

We do believe this is a very good update and would love to hea

[2016-11-07 20:20] joelverhagen commented on #3887
Here are some thoughts I had on package versions, information about what tooling supports what, and NuGet's own build process:
https://gist.github.com/joelverhagen/c87933d306a8744934ebd3953258de39

[2016-11-07 20:29] #3828 closed, assigned to jainaashish

[2016-11-07 20:36] #3748 closed, assigned to emgarten

[2016-11-07 20:37] mishra14 commented on #1657
Could not repro.
VS: d15rel/15.0.25906.0

[2016-11-07 20:37] #1657 closed, assigned to mishra14

[2016-11-07 20:49] mishra14 opened #3888 "Dev15 E2E machine unable to locate Fsharp.Targets"
Actual Path: `C:\Program Files (x86)\Microsoft Visual Studio 15.0\MSBuild\Microsoft\VisualStudio\v15.0\FSharp\Microsoft.FSharp.Targets`

Expected Path: `C:\Program Files (x86)\Microsoft Visual Studio 15.0\MSBuild\FSharp\1.0\Microsoft.FSharp.Targets`

Machines affected: nugetfunctest07 and nugetfunctest18

VS: d15Rel/25902.0

For now I have copied the target fi.les to the expected path. But we shou

[2016-11-07 21:34] rrelyea opened #3889 "UI on first NuGet interaction to choose PackageReference or PackagesConfig"

[2016-11-07 21:52] duaneking commented on #2617
My friendly advice:  Just add more unit testing and TDD based code coverage for the UI, possibly use BDD for NuGet since its so critical to so many developers and companies.

[2016-11-07 22:02] yishaigalatzer commented on #2617
You would think we know that already :).

This is not a nuget team call, but an all up visual studio platform decision. Nothing else is allowed to auto update at this point.

You can opt in to auto updates by using our beta channel (see the blog).

[2016-11-07 22:39] kzu commented on #520
@bbowman think about something like GitInfo/GitVersion: why would you want that to propagate? The fact that you are using it for versioning your assemblies shouldn't dictate what your package consumers use for versioning theirs

[2016-11-07 23:52] alpaix opened #3890 "Isolate VSSDK version in NuGet.Clients solution build"
### Details about Problem

As VSSDK recently introduced breaking changes in VSIX manifest format the NuGet.Clients solution stopped building in VS15 RC.

### Proposed Solution

Consider isolate the build by switching to VSSDK official package `Microsoft.VSSDK.BuildTools`.

[2016-11-08 01:29] akoeplinger commented on #3763
https://bugzilla.xamarin.com/show_bug.cgi?id=44109 is fixed now and will be released in Mono 4.8.

I tried connecting to an authenticated NuGet feed and supplying user/pass from the command line. It fails on Mono 4.6 and works on Mono 4.8 with the above fix, so I think this can be closed.

[2016-11-08 01:55] rrelyea commented on #3880
?

[2016-11-08 01:57] joelverhagen commented on #3880
Weird. Pushing to a fork should not cause this...

[2016-11-08 01:58] drewgil commented on #3880
What the actual? How does my pushing a commit to a fork have any impact on this issue (that I've never looked at)? GitHub fail?

[2016-11-08 02:03] joelverhagen opened #3891 "Feature : Allow project reference DLLs to be added to the parent nupkg for pack target like IncludeReferencedProjects in nuget.exe"
## Steps

1. `dotnet new --type lib` two .csproj class libraries: projectA and projectB.
1. Change `<TargetFramework>` to `<TargetFrameworks>` if you don't have https://github.com/NuGet/Home/issues/3865.
1. Make projectA have a `ProjectReference` to projectB.
1. Add `<Type>project</Type>` to the `<ProjectReference>`.
1. `dotnet pack` projectA
1. Open the resulting .nupkg's lib folder

## Expected

[2016-11-08 02:06] rrelyea commented on #3891
Please check spec on wiki for planned behavior

[2016-11-08 02:06] joelverhagen commented on #3880
Hmmm come to think of it how would GitHub know the affinity between NuGet/Home and NuGet/NuGet.Client repositories? How would it know there is any different relationship with drewgil/NuGet.Client. I think this is not a bug.

[2016-11-08 02:11] drewgillies commented on #3880
Something is amiss. According to this I pushed a commit to my fork of another repo, a commit of code that I didn't write, and it somehow associated a close event with a bug to which I'm not assigned.

[2016-11-08 02:15] joelverhagen commented on #3891
Spec: https://github.com/NuGet/Home/wiki/Adding-nuget-pack-as-a-msbuild-target

This doesn't work:

[code]

The output .nuspec still has projectB as a package reference and only one file: projectA.dll under lib.

[2016-11-08 03:49] zhili1208 commented on #3868
since some tests are need to be fixed on x86 machine, reopen this for tracking those work

[2016-11-08 04:16] skofman1 opened #3892 "Client "spams" autocomplete endpoint of search service"
The "autocomplete" endpoint of the search service gets many illegal requests. Examples:
[code]
Up until now, the search service used to fail on those requests and return a 500, since they contain unescaped invalid characters (such as \, -, }) but this was fixed here: https://github.com/NuGet/NuGetGallery/issues/3330

However, the client shouldn't send autocomplete requests that contain characters

[2016-11-08 04:21] harikmenon opened #3893 "With proj A depending on proj B - want to pack A with a.dll and b.dll"
## Details about Problem

NuGet Pack Task

NuGet version 4.0

VS version (if appropriate): VS 15

## Detailed repro steps so we can see the same problem

1. Create a .Net Class Library (A)

2. Add another .Net Core Class Library (B)

3. Reference B from A

4. Set type in ProjectReference to Project

5. Pack A

Expected
Binaries from B are copied to lib/tfm

Actual
Still treats it as a PackageRefer

[2016-11-08 04:23] harikmenon opened #3894 "Default Copy of ContentFiles are incorrect for MsBuild /t:pack"
## Details about Problem

NuGet Pack Task

NuGet version (x.x.x.xxx): 4.0

VS version (if appropriate): VS 15

## Detailed repro steps so we can see the same problem

1. Create a .Net Core class library

2. Add a text file

3. Pack the project

Expected
ContentFile is packed to contentFiles/any/netstandard1.4

Actual
Copied to ContentFiles root

[2016-11-08 04:25] harikmenon opened #3895 "Cannot change Content type when packing using NuGet Pack Task"
## Details about Problem

NuGet Pack Task

VS version (if appropriate): VS 15

## Detailed repro steps so we can see the same problem

1. Create a NET Core class library

2. Add a Text File

3. Pack

Expected
Content is added a Content to the NuSpec and restored as such

Actual
Content is always set as Compile

[2016-11-08 06:28] emgarten commented on #3892
This sounds like a good idea for both the v2 and v3 autocomplete providers.

The VS 2015 project.json editor is part of the web project system, not the NuGet VSIX. The server may need to handle this efficiently since there may not be a way to fix this down level.

Escaping is already handled in the client:
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Protocol.Core.v3/Resourc

[2016-11-08 06:44] emgarten commented on #3891
This is a non-trivial feature that hasn't been implemented for RC yet.

Supporting this will require potentially walking the entire project closure to determine all projects that need to be merged into the package, or reading the assets file and matching the project closure with both the project reference flags and the pack flags found in the project (since it can be set either way).

This is also

[2016-11-08 11:39] herecydev opened #3896 "Relisting on NuGet.Server"
I can issue a `nuget delete ...` to unlist a package on `Nuget.Server` (providing that the option is set in the config). How do I go about "relisting" that package, a simple `nuget push` get's a 500 response because the package already exists. Is there an API that this functionality is available from?

## Details about Problem

NuGet Version: 3.5.0.1938
NuGet.Server: 2.11.2

[2016-11-08 13:21] Hoplo commented on #1401
Hi @rohit21agrawal & @zhili1208 ,

Is there any update on this issue?

Cheers,
Adrian

[2016-11-08 13:43] BenKmann commented on #329
In the current Release Notes ( https://docs.nuget.org/ndocs/release-notes/nuget-3.5-RTM ) you mark this Ticket as a new Feature.
But it seems to be, that this isn't the case.

I really would like this as a Feature. It is a useful Feature for every AddIn Developer, who wants to use (Internal) Nuget-Packages which are not allowed to be copied to the output Folder, because Frameworks like Microsoft M

[2016-11-08 15:13] blackdwarf opened #3897 "Restore task fails in an multi user scenario"
## Steps to reproduce

* Have an Ubuntu OS (tried on 16.04)
* Create two users
* Log in as one and drop a new project and restore
* Log out and then log in as the other user
* Try to do the same thing

## Expected result

Restore succeeds and all is well.

## Actual result

The task fails with the following trace:

[code]

The version of the CLI being used is `1.0.0-preview4-004056`.

/cc @yishaig

[2016-11-08 16:25] tbolon commented on #3631
You are right, it is certainly solved in nuget 3.5

[2016-11-08 16:25] #3631 closed, assigned to nobody

[2016-11-08 16:34] joelverhagen commented on #3897
We need the lock files to be placed in a user scoped directory or a directory that all users have write access to.

[2016-11-08 17:08] joelverhagen commented on #3897
@blackdwarf, what are the two usernames (and home directories, if not default) in question here? Are you running into this problem or has this been encountered "in the wild"? Is either command running under `sudo`? Could you provide the `ls -l PATH` of the lock file and the NuGet.config file in question?

[2016-11-08 17:28] joelverhagen commented on #3897
## Workaround

[code]

[2016-11-08 17:49] tbolon opened #3898 "bad project.lock.json generated by nuget restore (works with dotnet restore)"
## Environment

NuGet product used: nuget.exe & dotnet.exe

NuGet Version: 3.5.0.1938

dotnet.exe --version: 1.0.0-preview2-003131

OS version: 10.0.14393

## Repro steps

1. Create an empty project folder with a simple project.json with a reference to latest xUnit:

[code]

2. Create a single c# class file to generate a library:

[code]

3. restore using `dotnet restore`: success
4. build using `

[2016-11-08 18:26] emgarten opened #3899 "Trim whitespace from CPS project properties"
Properties in MSBuild project files may contain additional whitespace. This space is generally ignored in MSBuild and the project system should handle this also.

This issue tracks the CPS project system work for the original issue:
https://github.com/NuGet/Home/issues/3819

This works:
`<RuntimeIdentifiers>win10-x64; osx-10.11-x64</RuntimeIdentifiers>`

This won't:
[code]

[2016-11-08 18:58] jainaashish commented on #3827
Discussed with @yishaigalatzer, We don't want to change existing behavior for now so to update a prerelease version, you will need to pass -IncludePrerelease flag. We can look to add an config item or powershell option to allow updating prerelease versions even without this flag, if we see lot of people are complaining about this.

[2016-11-08 19:07] rrelyea commented on #3633
Ashish- where did we end up with in RC with this?

[2016-11-08 19:10] jinujoseph commented on #3633
I filed a new bug for this https://github.com/NuGet/Home/issues/3884

[2016-11-08 19:13] emgarten opened #3900 "Trim whitespace from project properties in LegacyCSProj"
Properties in MSBuild project files may contain additional whitespace. This space is generally ignored in MSBuild and the project system should handle this also.

This issue tracks the Legacy CSProj project system work for the original issue:
https://github.com/NuGet/Home/issues/3819

[2016-11-08 19:14] emgarten commented on #3827
It would be nice to improve the error message for this scenario, it's very easy to forget this flag.

[2016-11-08 19:20] emgarten opened #3901 "Correctly communicate PackageSpec.Version for any project dependencies (PackageRef xplat)"
The CPS project system should set the PackageSpec version for a project based on:

1. ``PackageVersion`` if it exists
1. ``Version`` if it exists
1. ``1.0.0`` otherwise

This matches the pack and NuGet.targets behavior for determining a package version.

The version string must be valid, otherwise this should fail with a helpful error.

Original issue:
https://github.com/NuGet/Home/issues/3748

[2016-11-08 19:20] emgarten opened #3902 "Correctly communicate PackageSpec.Version for any project dependencies (PackageRef)"
The legacy CSProj project system should set the PackageSpec version for a project based on:

1. ``PackageVersion`` if it exists
1. ``Version`` if it exists
1. ``1.0.0`` otherwise

This matches the pack and NuGet.targets behavior for determining a package version.

The version string must be valid, otherwise this should fail with a helpful error.

Original issue:
https://github.com/NuGet/Home/issue

[2016-11-08 19:35] emgarten commented on #3031
Closing this issue since xproj is going away. With CSProj + PackageReferences targets/props will be generated.

[2016-11-08 19:35] #3031 closed, assigned to nobody

[2016-11-08 19:40] jainaashish commented on #3827
@emgarten yes, we still need to avoid throwing this error message and say no udpates available or something.

[2016-11-08 19:45] emgarten opened #3903 "Remove XProj restore"
The legacy xproj ``dotnet nuget restore`` should be removed along with all resolver code that could potentially cause issues if it were used and projects were resolved through sibling directories or global.json.

XPlat entry point:
https://github.com/NuGet/NuGet.Client/blob/6f3ae2d59140f5ea97eb7573535de1c286d6d336/src/NuGet.Core/NuGet.CommandLine.XPlat/Program.cs#L78

[2016-11-08 19:47] emgarten opened #3904 "Remove XProj pack from XPlat"
``dotnet nuget pack`` contains a legacy implementation of pack for xproj. This should be removed to avoid confusion with ``dotnet pack`` which is actually ``msbuild /t:Pack``

https://github.com/NuGet/NuGet.Client/blob/6f3ae2d59140f5ea97eb7573535de1c286d6d336/src/NuGet.Core/NuGet.CommandLine.XPlat/Program.cs#L76

[2016-11-08 20:09] emgarten opened #3905 "Add UserAgent string for Restore task in MSBuild"
XPlat previously had a unique user agent string and did additional environment settings. The MSBuild restore task should support this also.

https://github.com/NuGet/NuGet.Client/blob/6f3ae2d59140f5ea97eb7573535de1c286d6d336/src/NuGet.Core/NuGet.CommandLine.XPlat/Program.cs#L67-L72

[2016-11-08 20:24] joelverhagen commented on #3865
This has only been checked into dev (4.0.0-rc2). This should be closed when we cherry-pick to 4.0.0-rc branch.

[2016-11-08 20:35] alpaix commented on #3883
CI build #2065, NuGet version 4.0.0-rc-2065.
Corresponding wsr-tc build #1555.

[2016-11-08 20:35] #3883 closed, assigned to alpaix

[2016-11-08 20:58] #3861 closed, assigned to jainaashish

[2016-11-08 22:06] zhili1208 commented on #1401
@Hoplo the fix is not into 3.5, let me put it into our next milestone

[2016-11-08 22:19] #3689 closed, assigned to zhili1208

[2016-11-09 00:03] joelverhagen opened #3906 "Inspect PackTask for issues with trailing or leading whitespace"
Follow-up to https://github.com/NuGet/Home/issues/3819.

[2016-11-09 00:57] #3640 closed, assigned to alpaix

[2016-11-09 00:58] NickCraver commented on #3438
+1 on not having suffixes in the future for any finals. Honestly, just from a historical standpoint `-final` in particular is asking for karma to strike :) I think we should _fully_ embrace semver. If 3.4.4 has a break, then that's 3.4.5. The "second release" semantics for fixes really need to be left behind across the board.

[2016-11-09 06:37] joelverhagen commented on #3672
Hey @chlowell, the fix I am considering here is:
1. Reduce retry count for this sort of failure from 9 attempts to 3 attempts.
2. Reduce redundant logging.

Does that seems reasonable?

[2016-11-09 10:04] JasonHewison opened #3907 ""Access denied" to rtf files caused by silent package install errors when Kaspersky antivirus is enabled"
## Details about Problem

This issue is affecting multiple developers in the office when we try to create a new ASP.NET Dot Net Core sample project.

Disabling antivirus resolves the issue, but doesn't explain why extraction of the package fails silently or why when installing the affected packages directly fixes the problem for each individual package (with antivirus still enabled).

NuGet produc

[2016-11-09 10:21] vasiliy-popov-db opened #3908 "package update in 3.x is extremely slow in comparison to 2.x"
A month ago my team started using Visual Studio 2015 (Enterprise) instead of Visual Studio 2012.
_Note_. All the described actions below are full reproducible on any workstation in my team.

Usually we use Package Manager Console to update our projects.
In VS 2015 Package Manager Console Host Version is 3.4.4.1321

For comparison I tried to use Package Manager Console Host Version 3.5.0.1996 from

[2016-11-09 14:29] fubar-coder opened #3909 "nuget 3.5 update regression for references in vcxproj - we fixed bug, behavior changed for better, package adapted"
# Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe

NuGet version (x.x.x.xxx): 3.5.0.1938

OS version (i.e. win10 v1607 (14393.321)): win10 v1607 14393.351

Worked before? If so, with which NuGet version: 3.4.3.855

# Detailed repro steps so we can see the same problem

1. Add a reference (using VS2015) to FubarCoder.RestSharp.Portable

[2016-11-09 16:10] 304NotModified commented on #1203
In the recent updates (NLog, yeah we're listed https://github.com/NuGet/Home/issues/1734) we do add the changelog, but we found out it's pretty useless as the Visual Studio client isn't even showing the changelog...

edit: I see that's https://github.com/NuGet/Home/issues/1823

[2016-11-09 16:15] 304NotModified commented on #1823
+1 for bringing back the release notes. I was surprised that it was suddenly removed.

[2016-11-09 16:44] yishaigalatzer commented on #3438
@NickCraver this was a mistaken case of pushing the wrong packages. The -final is used in semver 1.0.0 to denote the released version of a CI prerelease milestone (hmmm that sounds confusing....)

So:
1.0.0-beta####

then
1.0.0-beta-final

then 1.0.0-rc####

and so on.

When we push a release, it should just be 1.0.0 like you are suggesting above

[2016-11-09 19:08] bbowman opened #3910 "Nugetizer should use a different name for its .targets file"
@kzu The nugetizer project helpfully creates and imports a .targets file when creating a new package project to allow for customizations in the packaging process. By default this file is called ProjectName.targets where ProjectName is also the default name of the package being produced. Unfortunately, this conflicts with the .props and .targets name that nuget looks for when building a native pack

[2016-11-09 19:13] zhili1208 commented on #3868
Done with https://github.com/NuGet/NuGet.Client/commit/71442f983eb81575090f2dc1331a206fd2ac3a40

[2016-11-09 19:13] #3868 closed, assigned to zhili1208

[2016-11-09 19:47] yishaigalatzer commented on #3892
Please file a bug against the webtools team CC @toddgrun

[2016-11-09 19:51] yishaigalatzer commented on #3896
CC @skofman1 (and should move to the gallery repo)

Please provide an answer if it's supported and make sure it is documented. Otherwise please close and open a feature request on NuGet.Server in the galleryrepo

[2016-11-09 20:00] yishaigalatzer commented on #3898
CC @joelverhagen

[2016-11-09 20:03] tbolon commented on #3898
Do not hesitate to ask if you want help. It seems nuget now lowercase all dependencies in `project.lock.json`, certainly for xplat. Certainly the culprit of the problem, perhaps with the http requests and case sensitivity.

[2016-11-09 20:04] yishaigalatzer commented on #3898
This is an intentional direction we want to take, so package id case changes (that are out there quite a lot) are dealt with on Linux.

I \* think \* that Preview2 did not implement that support yet. Joel will know more, and he is looking into it and will get back to you

[2016-11-09 20:07] emgarten commented on #3892
For reference the package id validation code is here:
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Packaging/PackageCreation/Utility/PackageIdValidator.cs#L14-L16

[2016-11-09 20:07] tbolon commented on #3898
For context, I encountered this problem when using continuous deployment on azure app services (kudu). By default it uses `nuget restore` against the .sln file, then uses msbuild (dotnet build) against the .sln.

I will try to ping @davidebbo to see if he has already seen this issue.

[2016-11-09 20:08] yishaigalatzer commented on #3908
Can you please try using 3.5-RTM as well? If you still see a major difference in your scenario, please help us with a repro, and we will love to push for further improvements in this area.

[2016-11-09 20:11] yishaigalatzer commented on #3898
yes, we have seen a similar issue on kudu, but it was resolved by updating one of the packages (the core issue there was in dotnet build not handling case sensitivity correctly, and they couldn't ship a fix)

CC @piotrpMSFT

[2016-11-09 20:16] yishaigalatzer commented on #3909
Thanks for the report, we are going to take a look and try to reproduce. Will loop back once we make a decision.

[2016-11-09 20:35] rainersigwald commented on #3851
@emgarten Yes. This is to work around a limitation of MSBuild: incremental builds consider only the inputs and outputs defined _in the current build_. That means that if something causes an item to **no longer** be defined, we might miss the need for a rebuild--_current_ inputs are newer than current outputs, but really there's one less input which means we need to rebuild. The core tasks can add

[2016-11-09 20:45] #3819 closed, assigned to emgarten

[2016-11-09 21:28] #3890 closed, assigned to alpaix

[2016-11-09 22:06] rrelyea opened #3911 "VS '15' - no projects supported by NuGet in the solution"
MVP report in email.

[2016-11-09 22:13] joelverhagen commented on #3898
@tbolon, if you change your project.json to have `xunit` instead of `xUnit`, does it work? There is a problem in preview 2 `dotnet build` where mismatched package ID casing yields this same build error.

[2016-11-09 22:17] joelverhagen commented on #3898
Also note that the package author's intent for ID casing here is `xunit`. This is apparent in the .nuspec. Open the .nuspec from here and look for the `<id>` tag.

[code]

[2016-11-09 22:24] #3759 closed, assigned to joelverhagen

[2016-11-09 22:36] #3672 closed, assigned to joelverhagen

[2016-11-09 22:36] joelverhagen commented on #3672
Spoke offline. I also made it clearer which package ID was not found.

[2016-11-09 22:42] jainaashish commented on #3633
We don't log auto restore messages to build output window since previous messages were from DotNet. NuGet only logs restore success or failure or noop message in build output window. We just changed to activate this window even without building the solution.

[2016-11-09 22:54] The-Futurist opened #3912 "I'm using Packages.Config and feel that it is a MESS and has several major issues."
This entire system needs redesigning, I've submitted a few issues recently and they're unresponded to.  The entire system is fragile, surely someone needs to see the elephant in the room - the design is fundamentally flawed.

[2016-11-09 22:56] rrelyea commented on #3912
Do you mean the issues you filed in Feb? Perhaps you can link to which issues are affecting you.
Sorry if we haven't been as responsive as you have hoped, we are working hard to become more responsive to the issues.

[2016-11-10 00:30] rrelyea commented on #3785
@alpaix  - while you consolidiate the logging behavior...

[2016-11-10 01:12] rrelyea commented on #3832
brainstorming with Ashish:
1) create queue, drain queue on nominate
2) have cps provide a nominatenow() api
3) don't support rollback (don't do preview install), do install, tell cps via unconfigured project to add ref.

our guess is number 2, let's meet with Roslyn-project-system folks to discuss options.

[2016-11-10 02:43] TheRealPiotrP opened #3913 "Failure during dotnet restore isn't obvious enough, leading to usability issues"
Moving https://github.com/dotnet/cli/issues/1994 for @damianedwards

I just tested this in latest CLI bits and noticed that there is still not a prominent FAIL message at the end of an unsuccessful restore. The assets file also still gets generated despite a failed restore.

-----

If failures occur during `dotnet restore`, a lock file is still produced and the last messages printed to the console

[2016-11-10 05:47] TheRealPiotrP opened #3914 "Missing migrations for pack-related properties"
I was going through project.json [docs](https://docs.microsoft.com/en-us/dotnet/articles/core/tools/project-json) and found a few properties that we are not yet migrating, according to tests. Amongst these are:

- {root}.authors
- {root}.shared
- {root}.sharedExclude
- {root}.sharedFiles

From design notes for migration I see these are all associated with the `pack` verb. Are we intentionally skip

[2016-11-10 07:49] tbolon commented on #3898
You are right, that was the root cause. Even the [xunit documentation](https://xunit.github.io/docs/getting-started-dotnet-core.html#add-xunit-ref) is correct.

The problem was certainly due to the fact that intellisense in VS expose versions when you type "xUnit" as a package name in project.json, and everythings works fine on VS (I suppose they use dotnet restore).

![intellisense](https://cloud

[2016-11-10 08:21] TheRealPiotrP opened #3915 ""packages" property in global.json not respected by 1.0.0-preview1-002702 tooling"
Moving from https://github.com/dotnet/cli/issues/3288 on behalf of @dneimke.

-----

## Steps to reproduce

Add the following configuration to global.json

`{
  "projects": [ "src", "test" ],
  "packages": "dotnet_packages",
  "sdk": {
    "version": "1.0.0-preview1-002702"
  }
}`

Restore packages
## Expected  behavior

Packages should restore to the specified path (dotnet_packages) in the root f

[2016-11-10 09:33] v-luzh commented on #3841
No error occur when installing the newtonsoft.json 9.0.1 to .NetCore Web Application on D15Rel 25909.00 (Nuget 4.0.0-RC-2065), but there is something wrong after installing as below screenshot.
![3841related](https://cloud.githubusercontent.com/assets/20632625/20171438/9777d066-a76b-11e6-9712-b7cecc18482b.png)

[2016-11-10 10:51] vasiliy-popov-db commented on #3908
I used 3.5.0.1996 (https://dist.nuget.org/visualstudio-2015-vsix/latest/NuGet.Tools.vsix)
So it was latest version.

Also tried to use command-line tool to update a single package (in fact, it has latest version already)

3.5.0

Attempting to gather dependency information for multiple packages with respect to project 'c:\Projects\myproject\myproject.csproj', targeting '.NETFramework,Version=v4.0'

[2016-11-10 12:12] ogrim commented on #802
Chiming in to say I have the same issue. Just had to purge 18 GB. I leave VS open on the same solution as long as possible (until it crashes), sometimes for weeks on end. Often I have two instances open for different solutions as well.

Microsoft Visual Studio Professional 2015
Version 14.0.25431.01 Update 3

NuGet Version: 3.4.4.1321

[2016-11-10 13:26] blackdwarf opened #3916 "dotnet pack produces a zip with no read-permissions on its file contents"
Move of dotnet/cli#2175.

--------------------------------

## Steps to reproduce

`dotnet new` then `dotnet restore` then `dotnet build` then `dotnet pack`

Go into the `bin/Debug` directory and `unzip Project.1.0.0.nupkg`

Try to view the contents of the nuspec: `more Project.nuspec`
## Expected  behavior

It should show me the contents of the file
## Actual behavior

It says `Project.nuspec: Pe

[2016-11-10 13:45] hamed-mahdizadeh commented on #604
I had the same issue and I Solved my problem by changing order of External web tools location and restarting the VS 2015

my nuget version: 3.3.0.167
vs version 2015 update 1

![image](https://cloud.githubusercontent.com/assets/10191772/20178907/8e9c6658-a768-11e6-9fd4-ea85bef7dbe6.png)

[2016-11-10 14:51] haf commented on #1365
@yishaigalatzer Can we override it yet? This is _real_ pain for me when I have a single target in Logary that depends on a pre-release package but the suite of targets as such isn't a pre-release. (Also, the idea that you can't transitively depend on pre-release packages and be non-prerelease is wrong)

[2016-11-10 16:34] The-Futurist commented on #3912
I posted some issues out of frustration more recently (3811 and 3648). I guess I'm just at the stage where NuGet's numerous handicaps cannot be overlooked much longer. At a fundamental level the architecture is flawed, it is easy for the various data structures (files/folders) upon which NuGet relies to become mutually inconsistent and this then leads to bewildering problems that require trawling

[2016-11-10 16:47] rrelyea commented on #3811
NuGet packages.config style does have this problem.
Project.Json, as used in UWP apps today, and possible for many project types to migrate to -- doesn't have this problem. It generates the references on the fly, during build.

We are focusing in our NuGet 4.0 release, in conjunction with the next VS release, on evolving our Project.Json benefits to a unified model for .net core and existing proje

[2016-11-10 16:48] rrelyea commented on #3912
Yes, we are working on fresh approaches compared to the packages.config technique. Replied a bit to #3811 with some details of our direction.

[2016-11-10 16:51] joelverhagen commented on #3898
Due the bug in `dotnet build`, users of `project.json` **and** preview 2 tooling should use the package author's intended package ID casing. Moving forward, however, users of UWP project.json and package references in .csproj (preview 3 / RTM tooling) should consider package IDs case insensitive.

[2016-11-10 16:52] rrelyea commented on #3911
This appears to have been an issue with deferred project load turned on that is addressed in build: 4.0.0.2068

[2016-11-10 16:53] joelverhagen commented on #3914
`{root}.authors` maps to the `<Authors>` MSBuild property. I will investigate the other three as I am not familiar with them.

[2016-11-10 16:58] joelverhagen commented on #3898
Yes, this makes sense since our autocomplete HTTP endpoint which provides this version list is case insensitive. I agree that it would be a better user experience for the editor to fix up IDs with the incorrect casing. However, given that this is preview 2 tooling and preview 3 is moving away from project.json, my guess is that this will not be fixed.

[2016-11-10 17:15] yishaigalatzer commented on #3908
Thanks, so now we need more details about your project and packages perhaps if possible a repro.

You can use support@nuget.org to communicate if the data is proprietary.

[2016-11-10 17:28] livarcocc opened #3917 "Perf: CLI extremely high memory usage and CPU load during restore all packages for corefx"
## Steps to reproduce
 * Clone `corefx` repo and follow instructions to build. E.g. commit 4e961640ab618297326575bb70722760115e61d0
 * Run `build.cmd` in git powershell window on Windows 10.
 * Wait until all packages are restored.

## Expected  behavior
 * Restore should be fast, very little cpu usage and low memory usage.

## Actual behavior
 * Memory usage and CPU is extremely high for a long t

[2016-11-10 17:31] nietras commented on #3917
Thanks for moving it.

[2016-11-10 18:09] jainaashish commented on #3885
Fixed with https://github.com/NuGet/NuGet.Client/pull/1006 and Verified

[2016-11-10 18:09] #3885 closed, assigned to jainaashish

[2016-11-10 19:56] tbolon commented on #3898
yes, it makes sense.

the other difficulty is the fact that there are actually 2 implementations of nuget restore: one from dotnet, and the other from nuget itself. I have heard that in the end, dotnet restore will make use of nuget restore on background. I hope it will make the behavior more consistent.

you can close this issue.

[2016-11-10 19:59] mishra14 opened #3918 "CLI support for Refs"
Using this issue to track RC2 task for adding CLI support for refs

CLI support for Refs
Dotnet.exe/nuget.exe support for addref/removeref/updateref
RC.2	Feature
csproj only
msbuild apis or cps apis or xml?

[2016-11-10 20:08] yishaigalatzer commented on #3898
NuGet.exe and dotnet restore are using the same code for the scenario they both support. However they ship on different cadence, you could see variations in behavior in-between particularly at preview releases were the compat bar is pretty low on version to version changes

[2016-11-10 20:17] mishra14 commented on #3592
Further

[2016-11-10 20:18] mishra14 opened #3919 "Fix dotnet/nuget.exe locals doc/help message"
-	dotnet nuget locals doc doesn’t list all the options (or at least doesn’t match what the man pages list). It’s missing –help and --force-english-output.
-	dotnet nuget locals arguments show [-clear | -list]. Shouldn’t that be [--clear | --list]?

[2016-11-10 20:34] joelverhagen opened #3920 "Support XAML team needs for Visual Studio "15""
The current thought is that XAML team will need an API to determine whether a package is in the closure of a NETCoreApp metapackage. Likely an `IVS*` API.

/cc @lutzroeder

[2016-11-10 20:42] omajid commented on #3229
This problem still exists with the latest 1.0.0-preview2-1 builds I have.

[2016-11-10 21:02] rickwebiii commented on #2750
Ping

[2016-11-10 21:26] joelverhagen commented on #3891
Plan of action:
1. [x] Build out some automated tests for pack task to cover basic scenarios and detect regression.
2. [x] Add the original `PackageSpec` to the lock/assets file.
3. [ ] Add any missing properties to the assets file pack needs (e.g. path to child project output assemblies).
4. [ ] Update restore (no, not pack) to collapse project references when `<TreatAsPackageReference>` is true.

[2016-11-10 21:39] drewgillies opened #3921 "Add UI for packaging mode"
UI needs to be added to allow user to choose between packages.config/project.json and package references.
Spec here: https://github.com/NuGet/Home/wiki/Supporting-Package-Reference-in-UWP-WPF-WinForms-and-Classic-Libraries

[2016-11-10 21:44] drewgillies opened #3922 "Communicate project reference metadata to NuGet project system"
Project reference metadata in csproj files for legacy csproj package reference system needs to be read and exposed via package spec to NuGet project system.
Spec here: https://github.com/NuGet/Home/wiki/PackageReference-Specification

[2016-11-10 21:49] drewgillies commented on #3889
Dupe of https://github.com/NuGet/Home/issues/3921. Closing.

[2016-11-10 21:49] #3889 closed, assigned to nobody

[2016-11-10 21:52] drewgillies commented on #3886
Dupe of https://github.com/NuGet/Home/issues/3922. Closing.

[2016-11-10 21:52] #3886 closed, assigned to drewgillies

[2016-11-10 21:57] fatso83 commented on #2750
It's open source. Try to look at the source and make a PR. Has far better chances of doing anything than pinging some GH issue.

[2016-11-11 01:49] emgarten commented on #3914
ContentFiles is the replacement for shared files.

[2016-11-11 01:55] emgarten commented on #3917
Where version of NuGet is this using?

[2016-11-11 03:17] emgarten opened #3923 "UWP TargetPlatformVersion support"
Add support for reading the min UWP target framework version from Legacy CSProj projects.

This is needed both for command line restore with MSBuild and the Legacy CSProj project system in the VSIX.

[2016-11-11 03:21] emgarten opened #3924 "Legacy PackageReference command line restore support"
Add support for reading the target framework from Legacy PackageReference projects in NuGet.targets during restore. These projects should be able to restore from the command line in the same way that NETCore projects restore.

This should add command line support for UWP min version also if it is not completed in: https://github.com/NuGet/Home/issues/3923

[2016-11-11 03:22] BillHiebert opened #3925 "Null reference exception appears in output window creating asp.net core web application"
1. Run Visual Studio 2017 RC
2. Create ASP.NET core web application
3. The Build output window contains the following:

Error occurred while restoring NuGet packages: Object reference not set to an instance of an object.

Here's the callstack
`> NuGet.PackageManagement.VisualStudio.dll!NuGet.PackageManagement.VisualStudio.SolutionRestoreJob.EmitRestoreTelemetryEvent.AnonymousMethod__21_0(NuGet.Pro

[2016-11-11 03:23] emgarten opened #3926 "Legacy PackageReference support updating package versions from the command line"
Support updating the version of a package from the command line in the same way that nuget.exe update works for packages.config.

Install/Remove are not part of this.

[2016-11-11 03:39] emgarten opened #3927 "Pack should exclude items from targets/props files coming from packages"
Pack should exclude content items and other items declared in props/targets coming from dependency packages.

Currently this can be done by setting ``ExcludeRestorePackageImports=true``

### Steps

1. Install a package that contains a targets/props file with content items
1. Pack the project

### Expected

Content items from the package will not be included

### Actual

Content items from the pack

[2016-11-11 03:45] emgarten opened #3928 "Write NuGet tool version and restore type to generated props"
It is difficult to author packages that work across both packages.config and PackageReference projects. To help make this easier NuGet could write out a few extra pieces of metadata to the generated msbuild props file.

This could include

* The project type as NuGet sees it, example: PackageReference, UWP project.json,  this would allow build targets/props in a package to know that this is not a

[2016-11-11 10:01] TheRealPiotrP opened #3929 "error: Unable to load the service index for source https://MyAccount.pkgs.visualstudio.com/DefaultCollection/_apis/packaging/MyProject/nuget/index.json."
Moving https://github.com/dotnet/cli/issues/4624 on behalf of @kievic

----

## Steps to reproduce

1. Open Visual Studio 2015
2. Go to Tools > Options ....
3. Navigate to NuGet Package Manager > Package Sources
4. Click + button (add package source)
5. Write a name in the Name field
6. Set the Source field to a NuGet source that requires Azure Active Directory authentication, such as, `https://co

[2016-11-11 11:05] nietras commented on #3917
This is the properties of the `NuGet.Client.dll` found in `Tools` under the `corefx` repo after running `build.cmd`, so 3.6.0-rc-1987.

![image](https://cloud.githubusercontent.com/assets/10798831/20213078/fd034122-a806-11e6-9fbc-22722f8a96eb.png)

[2016-11-11 12:49] vasiliy-popov-db commented on #3908
After some investigations I found that the update works much faster if I just copy all nuget packages from our nuget server into a local folder. But it is not an enterprise solution to me.

Can't share my project but I've tried to create a small example of my thoughts.
Here is in attached file you will find Integration solution which can be used for comparison.

There are a few libraries in "Libra

[2016-11-11 15:16] yishaigalatzer commented on #3908
First - thanks a lot! This is a great effort. A few more things before jumping on the retry
1. Is your local server a folder ? Are you familiar with using nuget.exe init command?
2. We have a newer version with more update improvements in the pipe 4.0-rc, it is currently only available on myget https://dotnet.myget.org/feed/nuget-build/package/nuget/NuGet.CommandLine

[2016-11-11 15:17] Shatterator opened #3930 "Broken Link on Website"
Hi, there is a broken Link on the Website https://docs.nuget.org/ndocs/consume-packages/package-restore
When clicking on "Package restore with TFBuild" I get a 404-Page.

THX

[2016-11-11 15:30] vasiliy-popov-db commented on #3908
![hotspots](https://cloud.githubusercontent.com/assets/23354894/20220057/1c502d16-a83d-11e6-9106-00a5ecf8e6df.png)
![mainthread](https://cloud.githubusercontent.com/assets/23354894/20220059/1c85447e-a83d-11e6-824d-4e99f360a753.png)
![thread 28](https://cloud.githubusercontent.com/assets/23354894/20220058/1c7e98d6-a83d-11e6-9231-d445aaaa47cc.png)
1. We use nuget server which is located in a differe

[2016-11-11 17:29] greghroberts opened #3931 "Support or Documentation of Creating of Packages with Native Applications - PhantomJS"
## Details about Problem
This is either a documentation problem,  a potential clarification, or possibly a feature request.
My scenario is that I want to create a package for a native binary executable, like phantomjs, not a library.  I want that binary to be put in the output folder on build or a known path that is appropriate for the user's current OS and can be programmed against easily.

Using

[2016-11-11 17:36] joelverhagen commented on #3645
/cc @nkolev92, this is the issue tracking your work to port `nuget.exe list` logic out of NuGet.Core.dll into NuGet.Client repository.

[2016-11-11 17:40] vasiliy-popov-db commented on #3908
New fact:
I tried to create two different local folders
1. FullClone of our Nuget Server - 40000 .nupkg files
2. SmallClone - just 1000 versions of MyLibrary.dll

It seems nuget.exe tries to read info for all packages from the source and it takes ~1 second for each 1000 .nupkg files

[2016-11-11 18:13] yishaigalatzer commented on #3908
Yup, here are two related blogs that can help you understand and optimize

http://blog.nuget.org/20160113/Accelerate-your-NuGet.Server.html

http://blog.nuget.org/20150922/Accelerate-Package-Source.html

[2016-11-11 18:14] harikmenon commented on #3930
@karann-msft - Can you take care of this?

[2016-11-11 20:13] rrelyea commented on #3928
$(NuGetProjectStyle) wiith the possible values:
PackagesConfig
ProjectJson
PackageReference

[2016-11-11 20:18] rrelyea commented on #3923
@harikmenon said:
I have speced the behavior out here:
https://github.com/NuGet/Home/wiki/Converting-Extension-SDKs-into-NuGet-Packages
We should not worry about Min version and only worry about TargetPlatformVersion. For Min, we will document a workaround either using _._ semantics or custom tasks.

[2016-11-11 20:22] rrelyea commented on #3749
Legacy CSPRoj is covered by #3924
The rest is already done in RC.

Resolving dupe.

[2016-11-11 20:22] #3749 closed, assigned to emgarten

[2016-11-11 22:05] emgarten commented on #3917
3.6.0-rc-1987 should have the latest perf fixes. I'm not sure why it says 2016-09-11 there, that build was created on 2016-10-17

[2016-11-11 22:19] karann-msft opened #3932 "dotnet nuget delete --help not updated"
-	dotnet nuget delete --help usage info says nuget delete only instead of dotnet nuget delete (same for other commands)
-	Not all options present for dotnet nuget delete --help (e.g. --verbosity, --configfiledot)
-	What are the parameters for the --verbosity option?

[2016-11-11 22:53] #3898 closed, assigned to nobody

[2016-11-11 23:41] rrelyea commented on #3909
@jainaashish Can u please try to repro and understand this issue?

[2016-11-11 23:52] mishra14 opened #3933 "Fix CI to allow debug builds"
This came up while working on https://github.com/NuGet/Home/issues/3847

This needed 3 hacks to make it work:

1. Forcing build configuration to be debug at all times in the [build script](https://github.com/NuGet/NuGet.Client/blob/dev/build.ps1#L84)
`$configuration='Debug'`

2. Forcing test configuration to be debug at all times in the [test script](https://github.com/NuGet/NuGet.Client/blob/dev/

[2016-11-12 01:38] TheRealPiotrP opened #3934 "dotnet pack should include files from shared src projects in symbol packages"
Moved from https://github.com/dotnet/cli/issues/4094 on behalf of @pranavkm.

----

## Steps to reproduce
- Create a ClassLibrary project
- Add a reference to a shared src project. For instance https://dotnet.myget.org/feed/aspnetcore-master/package/nuget/Microsoft.Extensions.ActivatorUtilities.Sources.
- Run dotnet pack
## Expected  behavior

The symbol package contains shared cs files from the s

[2016-11-12 03:56] TheRealPiotrP commented on #3914
how about shared and shared exclude? Ideally, can you show a PJ example and how you want it to look in csproj, exercising all three properties?

[2016-11-12 03:58] TheRealPiotrP opened #3935 "No way to include text files in package using dotnet pack command"
Moved from https://github.com/dotnet/cli/issues/4073 on behalf of @maxim-boligatov. Comments are quite relevant so inlined.

-----

## Steps to reproduce

put the following text in project.json:

"buildOptions": {
      "copyToOutput": [ "MyOwnTextFile.config" ]
   },

run dotnet pack
## Expected  behavior

nupkg contains "MyOwnTextFile.config" file
## Actual behavior

nupkg does not contain "MyOw

[2016-11-12 07:23] TheRealPiotrP opened #3936 "dotnet pack with --version-suffix option replaces dependency *'s"
Moved from https://github.com/dotnet/cli/issues/4030 on behalf of @deathrowe.

This bug is a bit nuanced. Apparently PJ pack injected a provided --version-suffix both for P2P's and for external packages. Opening here to make sure we don't have the same behavior in preview3+. Thanks, @piloi, for pointing out the nuance.

----

## Steps to reproduce

`dotnet pack  --version-suffix 15`
`"version": "2

[2016-11-12 08:20] TheRealPiotrP opened #3937 "dotnet pack doesn't include files"
Moved from https://github.com/dotnet/cli/issues/4021 on behalf of @MCKRUZ.

## Steps to reproduce

Create a .net solution that has a readme.md file at the base, then create a project.json file like so

[code]
## Expected  behavior

Readme.md will be inside the installed project
## Actual behavior

readme.md is NOT inside the installed project
## Environment data

`dotnet --info` output:

.NET Comm

[2016-11-12 11:16] TheRealPiotrP opened #3938 "Throw error when trying to create a non prerelease package with prerelease dependencies"
Moved from https://github.com/dotnet/cli/issues/3844 on behalf of @niemyjski.

----

You can have a package (1.0.0) that depends on any prerelease package and it will create the
package but you are unable to install it unless you specify a -pre flag.... This is a bug that just bit us.

[2016-11-12 20:31] TheRealPiotrP opened #3939 "Add ability to specify NuGet package ID other than the project name"
Moved from https://github.com/dotnet/cli/issues/3782 on behalf of @tsvetomir.

I believe this capability exists in `dotnet pack` with `csproj` but couldn't find a doc that specifies the property to set.

------

Currently the `name` setting is used as:
- Default namespace. [Not overridable](https://github.com/dotnet/cli/blob/rel/1.0.0/src/dotnet/commands/dotnet-compile/CompilerUtil.cs#L146).
- NuG

[2016-11-12 22:29] bbowman opened #3940 "Nugetizer with PackagePath with a space should recreate space inside of package"
@kzu right now the resulting path ends up with an escaped space instead of recreating the space.

[2016-11-12 23:59] kzu commented on #3940
Does that cause a problem at installation time? Do you get the same effect
if packing with nuget.exe a nuspec with files containing the same path
spaces?

My guess is that the answers are no and yes.

On Sat, Nov 12, 2016, 4:29 PM bbowman notifications@github.com wrote:

##

/kzu from mobile

[2016-11-13 03:31] bbowman commented on #3940
Yes because of what was assumed in a custom .props and .targets so obviously my mistake on that (and easy enough to work around). Haven't verified against straight .nuspec behavior. I'll get back to you on that. Pretty low pri issue since the workaround is straight forward but thought it was an interesting case.

[2016-11-13 05:44] ctaggart commented on #1696
I wasn't the first one to bring this up at the Microsoft MVP conference this last week. It feels like a good time to revisit this. I really love the new cleaner dotnet cli tooling. Amazing job with the much simpler msbuild project files!

## Big Picture = Open Source to Everyone

Adding the portable pdb files to the nupkg will allow Visual Studio, Visual Studio Code, and other debuggers access to

[2016-11-13 05:53] yishaigalatzer commented on #1696
Including pdbs is going to be supported by default in the new pack target.

@tmat has plans with his team to up the debugging support (and can perhaps talk to that).

So from the nuget side we are on trajectory to resolve this, hopefully soon.

[2016-11-13 12:14] kzu commented on #3940
Since we invoke the nuget packaging APIs to do this, it sounds like this would be more of a nuget packaging bug, which is why I wanted to confirm the nuspec behavior.

Thanks!

[2016-11-13 12:38] EugeneChua91 commented on #1707
till of today, there isn't any solution / fix on this yet? i understand this issue is been exist for more than half a year to be exact, perhaps there're other solutions / workarounds that anyone would like to share / recommend? in dire need for a solution here =(

[2016-11-13 13:05] TimHaydnJones commented on #1707
EugeneChua91

Take a look at this
https://blog.xamarin.com/net-standard-library-support-for-xamarin/

I managed to get SSH.NET to install OK by including a Portable Class Library in my Xamarin Android Project. It seems to act as a conduit to installing the Nuget package properly.

[2016-11-13 13:13] EugeneChua91 commented on #1707
TimHaydnJones,

Thanks for fast response, but i'm actually referring to "microsoft.aspnet.webapi.client", which i actually installed that NuGet without any issue, but the moment i ran the code (using PostAsJsonAsync), i got "System.Web Exeption", which i supposed is due to WepAPI Client 2.2's issue. Sigh =(

[2016-11-13 15:43] yishaigalatzer commented on #1707
On individual package support you should reach out to the respective owners (link is on the package page in nuget.org)

[2016-11-14 03:28] bbowman commented on #3940
Matches .nuspec behavior. @yishaigalatzer @rrelyea how should I repath the issue?

[2016-11-14 03:31] yishaigalatzer commented on #3940
This is the right path, we just need to retag it.

Can you provide a specific repro, and what breaks?

[2016-11-14 06:40] EugeneChua91 commented on #1707
yisha,

Thanks for that, I already left a message to the owner on such issue already.

[2016-11-14 10:01] v-luzh opened #3941 "[Test Failure] switching between 2 packages, the version in right pane doesn't change"
**Repro Steps:**
1.	New an F# Console Application template.
2.	Open ‘Manage NuGet Packages…’ and click ‘Browse’ tab.
3.	Search package ‘FSharp’ in the filter.
4.	Click package **‘FSharp.Compiler.Tools’**, you can see the latest version is 4.0.1.20.
5.	Click package **‘FSharp.Core’** and then click package **‘FSharp.Compiler.Tools’** again.

**Expected Result:**
The latest version show correctly (4

[2016-11-14 10:52] joelharkes commented on #1870
Im missing the `NuGet.PackageManagement` package for NET standard library.

![image](https://cloud.githubusercontent.com/assets/2960938/20262037/bfcba48c-aa60-11e6-9fcf-9b7a010daf05.png)

![image](https://cloud.githubusercontent.com/assets/2960938/20262047/d724daea-aa60-11e6-9e59-aa44aa21c4a2.png)

could you please  build one?

[2016-11-14 10:59] nietras commented on #3917
I don't know either, you should be able to reproduce this quite easily with the steps I have given, though. Otherwise, let me know how I can help. If time I could try profiling NuGet while this happens e.g. with perfview, xperf or similar.

[2016-11-14 11:34] jorgebay commented on #686
Trying to bring back the discussion from OP @csharpfritz, it would be nice to have a way to declare optional dependencies, limiting optional dependency version ranges. There are many use cases that justify having optional dependencies.

Its present in other build and package managers like maven and npm. Would it be possible to bump the priority on this one?

[2016-11-14 15:44] yishaigalatzer commented on #1870
Will push libraries soon. You can find b in the nuget build feed on myget

[2016-11-14 17:42] jainaashish commented on #3909
I can repro this issue locally, investigating root cause.

[2016-11-14 18:40] mishra14 commented on #3918
Dupe of #3751

[2016-11-14 18:40] #3918 closed, assigned to mishra14

[2016-11-14 18:47] pvandervelde commented on #2243
Any progress on this one. The API is not very well documented and using it involves lots of guessing with regards to how to do things.

[2016-11-14 18:53] jainaashish commented on #3909
So problem here is that package `FubarCoder.RestSharp.Portable.Core` doesn't have any assembly to reference for native target framework (check packages folder `packages\FubarCoder.RestSharp.Portable.Core.3.1.2\lib\native`) So NuGet doesn't add/ remove reference for this package. It's rather being done by package install.ps1 and uninstall.ps1 scripts under `packages\FubarCoder.RestSharp.Portable.Co

[2016-11-14 19:58] bbowman commented on #3940
Well I'm confused now. The behavior is that in the package it is escaped but it appears that restore/escape handles this fine. The error I was seeing before doesn't seem to be repro'ing so closing. I assume I must have had a version mismatch or something.

[2016-11-14 19:58] #3940 closed, assigned to nobody

[2016-11-14 21:08] emgarten opened #3942 "Discover msbuild project files from a folder in nuget.exe restore"
nuget.exe only discovers solution files and packages.config files from a folder. ``dotnet restore`` is able to discover both solution files and project files from a folder.

We should consider supporting project file discovery from folders.

### Steps

1. Create a .NETCore project
1. cd to the project folder
1. Run ``nuget.exe restore``

### Expected
The csproj should be restored

### Actual
nuget

[2016-11-14 21:16] emgarten opened #3943 "Investigate result of XProj to CSProj migration for nuget.exe"
### Scenario

1. Migrate a large XProj solution to CSProj PackageReference.
1. *build.ps1* and *build.sh* scripts that were previously working by running ``nuget.exe restore <root dir>`` now no longer work since recursive *project.json* search has been removed.

### Expectation

NuGet should provide guidance on the best way to migrate scripts that were relying on recursive directory and direct pro

[2016-11-14 21:21] bbowman opened #3944 "Nuget restore when building a single project restores for all projects in in the solution"
Ideally it would only restore for this project and any dependent projects.

[2016-11-14 21:38] emgarten opened #3945 "Investigate direct project.json restore scenarios"
### Scenario
1. Create a UWP project with project.json
2. ``nuget.exe restore project.json``

### 3.5.0 Behavior
Restoring a project.json file directly works in 3.5.0 because this was treated as an XProj project.json.

### 4.0.0 Behavior
Restoring a project.json file directly will fail with a helpful error message telling the user to restore the solution or project file since XProj is no longer su

[2016-11-14 21:58] emgarten commented on #3939
@tsvetomir project.json no longer exists for .NETCore projects. In the new csproj use the `<PackageId>` property to change the package name.

https://github.com/NuGet/Home/wiki/Adding-nuget-pack-as-a-msbuild-target

[2016-11-14 23:20] mishra14 opened #3946 "Automate the process of adding the license and copyright text to any new files in the repo"
Triggered by @emgarten's comment on a PR: https://github.com/NuGet/NuGet.Client/pull/1022

[2016-11-14 23:49] mishra14 commented on #3919
dotnet nuget locals --help should state dotnet in the usage example that is displayed.

[2016-11-15 01:07] #3905 closed, assigned to nobody

[2016-11-15 02:05] zhili1208 opened #3947 "[Mono issue] can't connect to server with tls 1.0, tls 1.1, tls 1.2"
Looks like mono Httpclient only support tls 1.1 and 1.2 on IOS
https://developer.xamarin.com/guides/cross-platform/transport-layer-security/

But tls 1.0 still doesn't work for nuget.

Repro step:
1. ServicePointManager.SecurityProtocol =SecurityProtocolType.Tls;
2. Create a HttpClient, connect to https://www.ssllabs.com:10301/

Expected:

Get status code: 200

actual:
Got status code: 400

[2016-11-15 06:45] joelharkes commented on #1870
Which feed URL is this? `aspnetcore-ci-dev`?

(Got that from here: https://github.com/aspnet/Home/wiki/NuGet-feeds )

[2016-11-15 07:45] tomkuijsten commented on #3830
Anyone?

[2016-11-15 09:09] v-luzh opened #3948 "[Test Failure] PMC get different results between ‘update-package [PackageID]’ and ‘update-package’ for prerelease package"
**Repro Steps:**
1.	New a Visual C#->iOS->iPhone->Blank App template.
2.	Open ‘Manage NuGet Packages…’ and click ‘Browse’ tab.
3.	Search ‘CrossBase.Platform.IOS’ in the filter and check ‘Include prerelease’.
4.	Install ‘CrossBase.Platform.IOS 0.0.2-test1’.
5.	Open PMC, type ‘update-package CrossBase.Platform.IOS’ and press enter, PMC said no package updates are available.
6.	Type ‘update-package’

[2016-11-15 09:33] vasiliy-popov-db commented on #3908
Thanks for the links, I can optimize local or shared folder with them but I used them just for investigation.
In real life http version is used on 2-year old web server which can't be easily upgraded in a big company.
So the main concern is about performance regression in 3.x version in comparison to 2.x

Also tried to add local cache into package source. And I am wondered why the client connects

[2016-11-15 12:15] johannes-schmitt commented on #1401
I'm facing the same issue while updating a NuGet package that contains source code transformations.
The transformed source code will be in the subfolder _cs\any\some_other_subfolder_

In this update scenario it first deletes the directory _cs\any\some_other_subfolder_ from the old package (this leads to a pending delete on TFS) and then it tries to install the (newer) package into the same folder

[2016-11-15 12:21] rrelyea commented on #3944
Can you please describe which version of VS/NuGet and what type of project you are seeing this with?

[2016-11-15 12:49] kendoka commented on #1870
@yishaigalatzer could you be more specific on myget url? Any idea aprox when official release could be made?

[2016-11-15 15:24] enricosada opened #3949 "dotnet restore doesnt support anymore the `-f` argument"
The sdk `preview2` support `-f` in `dotnet restore` command. The `preview3` does not.

That was really useful for:

- local workflow, instead of define a feed, just point to a directory with new package version
- build script, easy to script for test packages, etc

What's the replacement, if avaiable?

## Details about Problem

NuGet product used:
`dotnet.exe` ( `dotnet restore`)

dotnet.exe --ver

[2016-11-15 16:02] lukefan6 commented on #1966
I found it confusing, too.

Since .nuget folder and its content are generated by visual studio template, I think there are lots of people, including @TiltonJH and me, would assume my solution nuget config went there and should be recognized by nuget command.

Hope it could be fixed, cheers.

[2016-11-15 18:14] bbowman commented on #3944
Sorry about that.

I'm using VS2015, Nuget Package Manager version 3.5.0.1996, and a .vcxproj with a project.json.

The behavior I am seeing is that on a right click rebuild for that project, it is restoring for projects that aren't dependencies of the rebuilt project as well. Its not a huge deal and I'm guessing that the move to msbuild references will make the restore happen how I suggest natura

[2016-11-15 19:27] alpaix opened #3950 "Auto-Restore in legacy CSProj"
Implement auto-restore on project open and project reference change events.

[2016-11-15 19:29] alpaix opened #3951 "Auto-Restore for packages.config"
Implement auto-restore on project open.

[2016-11-15 19:42] #3903 closed, assigned to emgarten

[2016-11-15 19:46] emgarten opened #3952 "Move third party server tests to a new entry point"
Third party restore tests were relying on the xplat restore entry point which no longer exists now that dotnet restore calls MSBuild.

These tests should be migrated to use a different entry point: https://github.com/NuGet/NuGet.Client/blob/dev/test/NuGet.Core.FuncTests/NuGet.XPlat.FuncTest/XPlatRestoreTests.cs#L14

[2016-11-15 19:53] TheRealPiotrP commented on #3914
👀

[2016-11-15 20:08] jgoshi opened #3953 "dotnet pack - ProjectReference loses version information"
dotnet --info
.NET Command Line Tools (1.0.0-preview4-004094)

Product Information:
 Version:            1.0.0-preview4-004094
 Commit SHA-1 hash:  fc4eb2108c

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.14393
 OS Platform: Windows
 RID:         win10-x64

Repro steps:
1. Using the attached PackTestPJ project
2. dotnet.exe restore
3. cd TestApp
4. dotnet.exe pack --version-suffix

[2016-11-15 20:09] jgoshi commented on #3953
Related to
https://github.com/dotnet/cli/issues/4725

[2016-11-15 20:10] jgoshi commented on #3953
[PackTestMsbuild.zip](https://github.com/NuGet/Home/files/593000/PackTestMsbuild.zip)
[PackTestPJ.zip](https://github.com/NuGet/Home/files/593001/PackTestPJ.zip)

[2016-11-15 20:19] TheRealPiotrP commented on #3953
Quick feedback here will be appreciated. If we need to do something in migration we need to know :)

[2016-11-15 20:38] rrelyea commented on #3953
rc2 has this fixed (the part about all proj refs end up as 1.0.0). we need to integrate into CLI this week.
@joelverhagen - anything else here we need to deal with?

[2016-11-15 20:49] mishra14 commented on #3751
Spec draft: https://github.com/NuGet/Home/wiki/Support-dotnet-ref-add%7Cupdate%7Cdelete-packageref

[2016-11-15 20:53] joelverhagen opened #3954 "dotnet pack fails to add content files included with a pattern"
## Steps

1. `dotnet new` a .csproj
1. Add another .cs file to your project.
1. Add ```<Content Include="**\*.cs><PackagePath>contentFiles\any\any</PackagePath></Content>```
1. Pack

## Expected

All of the matches .cs files should be packed.

## Actual

Only the first is packed:

[code]

[2016-11-15 22:01] emgarten opened #3955 "Improve unresolved reference warning"
When resolving project references through DTE NuGet writes out a warning when the reference is unresolved since it may be a project reference and this could impact the restore result.

In 3.5.0 these were written out while walking the root project and traversing through child projects.

In 4.0.0 these are written out while generating the package spec for a project individually. This is more effici

[2016-11-15 22:25] joelverhagen commented on #3914
Did some digging through preview2 CLI code and it looks like `shared`, `sharedExclude`, and `sharedFiles` all work hand-in-hand. `shared` is an include globbing pattern. `sharedExclude` is an exclude globbing pattern. `sharedFiles` is an explicit list of file paths (no patterns).

This is what the input JSON and migrated XML would look like:

[code]

[code]

Note that we have a bug right now in th

[2016-11-16 00:13] karann-msft commented on #3567
This has been fixed  https://github.com/NuGet/NuGetDocs/pull/683/commits/f84f7d3d3fc42013a263112bd9a278fbdbd26ac8

[2016-11-16 00:13] #3567 closed, assigned to zhili1208, karann-msft

[2016-11-16 03:32] TheRealPiotrP commented on #3229
@rrelyea do we have an idea of when this might get fixed? We're seeing a stream of issues that root cause here in CLI repo.

[2016-11-16 03:43] Funbit commented on #802
Same issue here. Deleted 18GB of NuGetScratch files. I'm using a single VS solution with ~80 NuGet packages (updated only once a year or so).

Microsoft Visual Studio Professional 2015
Version 14.0.25431.01 Update 3
NuGet Version: 3.4.4.1321

[2016-11-16 03:54] jasonmalinowski commented on #3402
@tmeschter Any chance this a bug that was caused by that filter to package references with a space in the lock file?

[2016-11-16 05:22] bbowman opened #3956 "Nugetizer doesn't detect package is installed for win32 .vcxproj"
@kzu Please see attached zip of project that has a packaging project and a ConsoleApp using a packages.config to depend on Nuget Packaging. The _NoIsPackableProject is still getting tripped even though it explicitly imports the .props and .targets so it should have them. Is there something weird with reading project metadata for older .vcxproj types?
[ConsoleApplication8.zip](https://github.com/Nu

[2016-11-16 08:27] pvandervelde commented on #3438
So this issue was opened 2 months ago and there's still no stable 3.50 release. 2 months is not shortly. It would be very nice if you could either release the 3.5.0 packages as the final packages (no pre-release) or release a 3.4.4 stable package so that we don't have to fall back to using a package that is nearly 7 months old.

[2016-11-16 15:12] nuke440 opened #3957 "Installing new version of package from CLI with -ExcludeVersion should remove files from previously installed version"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
NuGet.exe

NuGet version (x.x.x.xxx):
3.3.0

OS version (i.e. win10 v1607 (14393.321)):
Windows - Any

Description:
I would expect that when installing a new version of a package using -ExcludeVersion should also clean up files leftover from the previous version.

## Detailed repro steps so we

[2016-11-16 16:01] tmds commented on #2793
On linux, Path.GetTempPath returns "/tmp" while on Windows it returns a user specific folder "C:\Users\tmds\AppData\Local\Temp".

From the corefx code it seems like the value returned by Path.GetTempPath can be controlled by setting the TMPDIR environment variable. Setting this variable to a user specific folder can serve as a workaround.

According to the documentation Path.GetTempPath should ret

[2016-11-16 16:19] omajid commented on #3229
See also https://github.com/NuGet/Home/issues/2793. The root cause maybe related to https://github.com/dotnet/corefx/issues/13710.

[2016-11-16 16:34] enricosada commented on #1365
Seems i got lots of good company there (hi @haf).

I have the same problem, and is really annoying.
It's just about `dotnet pack`, not resolution on restore.

Make it a warning if you really want, but not an error, you cannot know why i am using a prerelease deps.
Or add an argument to override or make it a warning (noisy but still).

[2016-11-16 16:41] tmeschter commented on #3402
@jasonmalinowski Entirely possible. I can well imagine that the item in the `projectFileDependencyGroup` wouldn't have a version in this case, and thus would have been filtered out. If I have time today I'll try this out and verify if this is fixed or not in Dev15.

See. https://github.com/NuGet/NuGet.BuildTasks/pull/23 for more information.

[2016-11-16 16:47] #3906 closed, assigned to joelverhagen

[2016-11-16 17:25] joelverhagen commented on #3441
This doesn't seem to be a client issue at all. This does not repro against servers that properly support all version (e.g. MyGet).

[2016-11-16 18:01] dhcarmona opened #3958 "Can't install native package with project.json"
## Details about Problem
Visual Studio 2015 update 3
NuGet v. 3.4.4

Building a native unmanaged C++ project, I'm trying to consume Crypto++ via[ the available NuGet package](https://www.nuget.org/packages/cryptopp/). I added the dependency in project.json, but nuget restore fails with the following:

Errors in c:\dev\win\win\apps\project\project.json
    Package cryptopp 5.6.3.4 is not compatible

[2016-11-16 18:02] IntelOrca commented on #2793
Would it be possible to enhance NuGet to work with any number of concurrent package restores even for the same user?

[2016-11-16 21:53] natemcmaster opened #3959 "Glob results differ when using forward vs back slashes"
Globbing patterns in nuspec using forward slashes do not match files. The same pattern with backslashes works.

## Details
Using NuGet.exe 3.5.0.1938 on Windows 10

## Repro

1. Create folder layout
[code]
1. Use this nuspec
[code]
2. `nuget.exe pack TestPackage.nuspec`

## Expected result
NuGet package contains:
[code]

## Actual result
The globbing pattern for `folder/*.txt` does not match files

[2016-11-16 21:55] rrelyea commented on #3941
Yes, repros on 3.5.0 rtm. Not sure why this happens for those specific packages.

[2016-11-16 22:03] joelverhagen commented on #3718
Spoke to @natemcmaster offline.

This is by design ([spec](https://github.com/NuGet/Home/wiki/Adding-nuget-pack-as-a-msbuild-target#including-content-in-package)):

However, some people may want to only think about PackageReference/project.json consumers. We should consider an opt-out flag like:

[code]

@yishaigalatzer, thoughts?

[2016-11-16 22:06] yishaigalatzer commented on #3718
Sounds ok to me

From: Joel Verhagen [mailto:notifications@github.com]
Sent: Wednesday, November 16, 2016 2:03 PM
To: NuGet/Home Home@noreply.github.com
Cc: Yishai Galatzer yigalatz@microsoft.com; Mention mention@noreply.github.com
Subject: Re: [NuGet/Home] Pack task puts content files in both 'content/' and 'contentFiles/' (#3718)

Spoke to @natemcmasterhttps://na01.safelinks.protection.outlook.c

[2016-11-16 22:20] rrelyea commented on #3944
Yes, you are correct. This is an optimization that would be good for us to consider.

[2016-11-16 22:29] rrelyea commented on #3948
Duplicate of #3827

[2016-11-16 22:29] #3948 closed, assigned to nobody

[2016-11-16 22:40] adamralph commented on #352
The image in package details on nuget.org is 128x128, not 100x100.

![image](https://cloud.githubusercontent.com/assets/677704/20368367/fc7cb73c-ac53-11e6-8e3a-6e375ca954b7.png)

Although, in order to have that showing with full fidelity on a high DPI display, you need a larger image. E.g. I run my display scaled at 200%. Notice the difference between a 128x128 image and a 256x256 image, even thou

[2016-11-16 23:21] bbowman opened #3960 "Nuget solution restore has different behavior in UI vs commandline for .vcxproj with project.json"
Using command line client version 3.5.0.1938 and package manager version 3.5.0.1996, I see that with the UI, a .vcxproj with a project.json file produces:

Package restore completed successfully for 'hmapmaker'.
Writing lock file to disk. Path: Y:\Arcadia\WinObjC\WinObjC.Build\vsimporter\hmapmaker\project.lock.json
Generating MSBuild file hmapmaker.nuget.targets.
Generating MSBuild file hmapmaker.

[2016-11-16 23:24] bbowman opened #3961 "Nuget restore in 4.0.0.2087 fails when 3.5.x succeeded"
I have a project.json with .nuproj file that lists the following:

{
  "dependencies": {
    "GitInfo": "1.1.32",
    "NuGet.Build.Packaging": "0.1.163-pr61"
  },
  "frameworks": {
    "NuGet,Version=v1.0": {
      "imports": [
        "dotnet",
        "netstandard1.0",
        "netstandard1.1",
        "netstandard1.2",
        "netstandard1.3",
        "netstandard1.4",
        "netstandard1.5"

[2016-11-16 23:29] SimonCropp commented on #352
+1 for svg as the default

[2016-11-17 00:01] zhili1208 commented on #1401
@johannes-schmitt  Can you share your TFS server Version? thanks

[2016-11-17 00:15] ctaggart opened #3962 "http://nuget.org/nuget.exe is version 2.8.6"
Why is http://nuget.org/nuget.exe still at version 2.8.6?

This leads to this issue:
[code]

Naturally, I just changed my build script to do:
[code]

I noticed the documentation says:

https://docs.nuget.org/ndocs/guides/install-nuget#nuget-cli

Because there are a few breaking changes introduced in NuGet 3.2, https://nuget.org/nuget.exe points to the latest stable NuGet 2.x release to prevent CI

[2016-11-17 00:54] alpaix opened #3963 "Update NuGet options to configure the auto-restore behavior."
According to the [NRM spec](https://github.com/NuGet/Home/wiki/NuGet-Restore-Manager) restore behavior may be configured to run in 3 distinct modes:

- Automatic restore
- On-Build only
- Manual only

Update the NuGet options page with the new options.

[2016-11-17 02:08] mishra14 commented on #3847
Merged: https://github.com/NuGet/NuGet.Client/commit/2057ef8e5d9f9219d25d0fd2e29af36755556607

[2016-11-17 02:08] #3847 closed, assigned to mishra14

[2016-11-17 06:21] ig-sinicyn opened #3964 "Feature request: Non-transitive package dependencies?"
VS2015 upd3, nuget 3.5 (latest one), .net4.6 framework project.

**Use case:**
I have a `package X` depending on third-party `package Y`. By default (Visual Studio 2015 Upd3 + nuget 3.5) any project referencing to `package X` will be updated with reference to `package Y` too. The issue is, customers of `X` do not need reference to `Y` at all, as API of `package Y` is not and should not be exposed

[2016-11-17 06:50] v-luzh commented on #3941
Just repro after switching from package ‘FSharp.Core’. Doesn't repro after switching from other packages.

[2016-11-17 08:21] johannes-schmitt commented on #1401
@zhili1208 , I updated my previous comment accordingly

[2016-11-17 09:14] v-luzh opened #3965 "[Test Failure] Package install/update/uninstall should be disabled during debugging the project"
**Repro Steps:**
1.	New a C# Blank Application (Universal Windows) template.
2.	Open ‘Manage NuGet Packages for Solution’ and PMC.
3.	Select ‘Debug x86’ in project config.
4.	Set a breakpoint and press F5.
5.	Try to install/update/uninstall a package (such as newtonsoft.json) through PM UI or PMC.

**Expected Result:**
Package installing/updating/uninstalling should be disabled during debugging th

[2016-11-17 09:18] TheRealPiotrP opened #3966 "Update all packages on webapi project crashes vs2017"
Moving https://github.com/dotnet/cli/issues/4749 on behalf of @bartmax

-------

## Steps to reproduce
Open existing solution with api, web, core project
Using the ui, manage packages for solution, updates, select all, update.

## Expected  behavior
restore all packages.

## Actual behavior
Update all solution packages to 1.1 via nuget package restore hangs and crashes vs2017
Update all api packag

[2016-11-17 09:22] rrelyea commented on #3965
Please describe the bad effect of the current behavior. When somebody adds a new package reference during debugging, does debugging work badly? Does the package get added badly?

[2016-11-17 09:50] v-luzh commented on #3965
@rrelyea, we worried about there would be some conflicts when updating a package during debugging, which would made the code can't be used anymore. For example, graphics debugging features are all disabled during F5 in VS. So base on that we suggest to make our feature disabled during F5 to avoid some conflicts.

[2016-11-17 14:19] dhcarmona commented on #3958
I just tried this with a more recent build:
4.0.0-rc2-2086

No luck, it shows the same issue.

[2016-11-17 18:45] pvandervelde commented on #3438
@yishaigalatzer Any idea when 3.5.0 will be properly released? We need to build NuGet packages based on the NuGet API packages but the last stable one is 3.4.3 which has known issues. And NuGet won't let us reference pre-release packages in a normal NuGet package.

[2016-11-17 18:47] yishaigalatzer commented on #3438
Rob is working on it right now, he should be able to provide the eta

Sent from Ninehttp://www.9folders.com/

---

From: Petrik van der Velde notifications@github.com
Sent: Nov 17, 2016 10:45 AM
To: NuGet/Home
Cc: Yishai Galatzer; Mention
Subject: Re: [NuGet/Home] `Nuget.Packaging` does not have stable 3.4.4 package version (#3438)

@yishaigalatzerhttps://na01.safelinks.protection.outlook.com/?url

[2016-11-17 20:18] bbowman commented on #3963
@alpaix I'm a little concerned about the table in "Future VS '15' Restore Behavior". For automatic restore, you mention that on build restore is assumed not needed which is insufficient for wildcard cases as newer packages may have become available since the last edit / open. This is an important scenario for my team's inner loop of trying out package changes.

[2016-11-17 20:38] #3572 closed, assigned to mishra14

[2016-11-18 07:04] Pandurangv commented on #1946
https://visualstudiogallery.msdn.microsoft.com/4913e7d5-96c9-4dde-a1a1-69820d615936/view/Discussions/2

Try this

[2016-11-18 07:05] Pandurangv commented on #1946
this link shows data providers registered with visual studio in registry

http://blog.nwoolls.com/2012/07/25/registering-missing-data-providers-with-visual-studio-2012/

best luck

[2016-11-18 10:54] davidfowl commented on #3964
This is supported in `project.json` which is becoming the new package reference node in csproj. Packages can also express this today with include/exclude flags on dependency nodes. This wiki article describes those features https://github.com/NuGet/Home/wiki/%5BSpec%5D-Managing-dependency-package-assets.

The reason it's so granular is because you want transitivity for runtime, but not compilation

[2016-11-18 10:56] davidfowl opened #3967 "NuGet should persist the errors that happened as part of restore into the assets file"
To make this easier https://github.com/dotnet/roslyn-project-system/issues/774, nuget should expose diagnostics in the assets file that would be used in the IDE to show dependency problems in various areas of the project.

[2016-11-18 11:13] tmds commented on #3229
@rrelyea could it be a fix to move the lock folder from NuGetFolderPath.Temp to NuGetFolderPath.NuGetHome. This would move it from /tmp/NuGetScratch/lock to ~/.nuget/lock?

[2016-11-18 11:54] tmds commented on #2793
@IntelOrca NuGet allows concurrent restores for the same and different users. "lock" is a folder and in it are files which represent a lock on a file in the filesystem.

[2016-11-18 11:55] ig-sinicyn commented on #3964
@davidfowl Great news to hear!

The https://github.com/NuGet/Home/wiki/%5BSpec%5D-Managing-dependency-package-assets
states that the following is supported:

[code]

but [official docs](https://docs.nuget.org/ndocs/schema/nuspec#dependencies) has no mention of `include` / `exclude` and do not clarify meaning of include flags. Is it supported by current VS nuget package manager?

If yes: what flag

[2016-11-18 12:09] maartenba opened #3968 "$version$ is not $version$ when using nuget.exe pack *.csproj"
## Details about Problem

NuGet product used: NuGet.exe
NuGet version: 3.4.4, 3.5, 4.0 RC

Worked before? If so, with which NuGet version: 2.8.6 for sure, haven't tried 3.2/3.3.

## Expected output

A NuGet package with a version number `1.0.0-ci-12345` -and- a dependency on `Logging.Contracts` with version `1.0.0-ci-12345`.

## Actual output

A NuGet package with a version number `1.0.0-ci-12345`

[2016-11-18 13:41] fubar-coder commented on #2449
This problem still exists in NuGet 3.5.0!

EDIT: This is an extremely annoying bug, because this affects all packages supporting C++/CLI.

[2016-11-18 13:53] ghost opened #3969 "Mono 4.8 fix - NuGet not sending proxy credentials"
## Details about Problem

NuGet product used: nuget.exe

NuGet version: 3.4.4.1321

OS version: macOS Sierra 10.12.1

Worked before? If so, with which NuGet version: No

## Detailed repro steps so we can see the same problem

1. set up a http proxy which requires authentication
I'm using fiddler on my windows notebook for debugging purposes

2. configure NuGet to use the set up proxy
I used `mono

[2016-11-18 14:54] jnm2 opened #3970 "Including an unmanaged DLL in build output"
I need to create a nuspec to package a net452 managed DLL and an unmanaged DLL, both of which we build, to be consumed by other net452+ csprojs, all of which use NuGet v3's project.json.

The hard part is getting the unmanaged DLL into the build output beside the managed DLL. I've been all over the docs which say nothing (!) on this subject.

On the internet, people don't have good answers. Tactic

[2016-11-18 15:09] RicMoreira33 opened #3971 "Can't install packages > Error: ConnectFailure (The requested address is not valid in this context)"
I'm having an issue with trying to install NuGet packages. I am using Xamarin Studio for Mac to create some Android/iOS apps but investigated further and the problem is probably related to either NuGet or to Mono (I couldn't figure it out yet).

I'm leaving some details, hoping they'll be helpful.

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.e

[2016-11-18 15:19] ArtourK commented on #1739
Hi, is there a way to know how the search works? For example if can find my package with name ModuleFramework.Client with just search for Module while ModuleFramework.Server i have to search for  ModuleFramework.S.

[2016-11-18 15:32] lhrolim commented on #2372
I also have the same issue. Any chance of fixing it?

[2016-11-18 18:26] zhili1208 commented on #3971
this is a TCP error, normally happens during socket binding IPEndPoint, so if your IP address or port number is invalid, you will get this error. Can you check your local IP? is there any special setting?

[2016-11-18 18:27] zhili1208 commented on #3969
@moseral can you share your nuget.config file and mono version? thanks

[2016-11-18 18:33] RicMoreira33 commented on #3971
My configuration is pretty standard. I'm behind my ISP's router but other than that I don't have think anything is blocking the connection. I can 'curl api.nuget.org/v3/index.json' and get the proper response.

This is my network interface:

[code]

[2016-11-18 18:55] zhili1208 commented on #3971
Can you try to curl 'https://www.nuget.org/api/v2/package/Newtonsoft.Json/9.0.1'? from your log, looks like you can connect to v2 server and get package metadata, but it failed when it tried to download the package. The issue is can't connect to v3

[2016-11-18 18:59] RicMoreira33 commented on #3971
[code]

And then...
[code]

By the way, the v3 doesn't seem to like when I try to get the metadata either, only the v2 works. I can curl the v3 though, but nuget complains about it.

[2016-11-18 19:17] zhili1208 commented on #3971
Can you try to test mono httpclient API on your machine?

var client = new HttpClient();
var result = client.GetAsync("https://api.nuget.org/v3/index.json").Result;

Does this work?

[2016-11-18 19:41] RicMoreira33 commented on #3971
[code]

### Then

`mcs httptest.cs /r:System.Net.Http.dll`

### And finally

[code]

[2016-11-18 19:44] zhili1208 commented on #3971
thank you, looks like it's mono API issue, added mono people, @mrward @mhutch

[2016-11-18 20:34] natemcmaster opened #3972 "More flexible ways to conditionally set nuget settings (like sources)"
**Feature suggestion:**
Make it easier to vary NuGet feeds by build/test environments.

**Scenario:**
Build agents use different feeds than local dev builds. To enable this, our build systems [rewrite NuGet.config files](https://github.com/aspnet/KoreBuild/blob/83ffefaa819b20677d26d59e550a6113a2c5262a/build/shade/_use-volatile-feed.shade) to ensure the build gets the right package feeds.

Using en

[2016-11-18 20:49] bbowman commented on #3851
+1

I'm seeing issues where rebuilds always are occuring after a restore even if the restore doesn't pull down a new package (rewrites the generated .props / .targets to the same content as before). This issue in general needs investigated further to make sure that incremental build scenarios work across the board.

[2016-11-18 21:16] sbrl commented on #1946
Ummm I don't understand those links, @Pandurangv. I can't see how they're related to my nuget packaging error, but I'm probably just misunderstanding something.

[2016-11-18 21:18] bbowman commented on #3972
My team is in a similar situation but my plan is to have the build agent look at the same feeds as a local dev. Why do you need / want the dev experience to be different from the build agent there? Seems like a place to encourage differences from local and build agent state making harder to track down issues?

[2016-11-18 21:24] yishaigalatzer commented on #1946
CC @kzu @mrward @mhutch on timing

[2016-11-18 21:32] alpaix opened #3973 "Build errors and VS crash with .NET Core template"
1. Installed VS2017 with a quite lean combination of components (web, .NET Core, classic desktop...)
2. Did a File/New project => ASP.NET Core Web Application (.NET Framework) with Target Framework 4.6.2
3. Built solution => resulting in multiple compiler errors complaining about namespaces not being found
4. Realized that several NuGet packages are outdated and not using 1.1
5. Used the Package M

[2016-11-18 22:40] natemcmaster commented on #3972
We want the local dev experience to work for those inside and outside of microsoft and to be relatively stable. So our NuGet.config files point to public feeds that only have good builds of packages. Our CI agents, on the other hand, consume feeds that are internal-only or have untested, pre-release packages.

[2016-11-18 22:44] bbowman commented on #3972
My point is that a dev on your project is also probably interested in the pre-release packages (and probably producing them locally and well as triggering CI builds that produce them). The consumers of your package probably only care about the stable ones but that seem different than what a contributor (internal or external) may want?

[2016-11-18 22:49] natemcmaster commented on #3972
Good point. Yes, this happens, and when it does the dev has to modify their NuGet.config to pull the right feeds, make sure not to accidentally commit the NuGet.config change to source (this has never happened, of course :trollface: ), and, when done, clear all nuget caches to get back to stable-only packages.

[2016-11-18 23:02] bbowman commented on #3972
We are still devising a system for our team to help prevent these situations but it goes as follows. We are envisioning 3 "tiers" of package sources that will always be set up in a nuget.config.
1. nuget.org - this location _only_ includes stable packages, ready to be consumed by external consumers.
   example: FooPackage.1.0.0.nupkg
2. CI build server - this location includes prerelease packages

[2016-11-18 23:21] natemcmaster commented on #3972
We have the concept of 'tiers' too. See https://github.com/aspnet/Home/wiki/NuGet-feeds.

Most common pitfall, the dash star. "1.0.1-*" is seems nice at first because you don't have to change your project for every nightly build, but give it time and dash star will hurt at some point. On [numerous](https://github.com/aspnet/DotNetTools/issues/193) [occasions](https://github.com/aspnet/Scaffolding/

[2016-11-18 23:22] emgarten commented on #3972
@natemcmaster would it work for you to define the feeds and global packages folder in MSBuild by setting this in your project, or including a target that sets this and has conditions? From your example it looks like you are asking for nuget.config to support MSBuild conditionals.

[2016-11-18 23:25] emgarten opened #3974 "VS IDE support for Fallback Package Folders"
For designer and other IDE components to support fallback package folders such locations need to be exposed via an IDE mechanism. For example designer has special logic to not copy folders installed via NuGet packages that will break when Fallback Packages get added.

Internal bug number: 293065

[2016-11-18 23:38] natemcmaster commented on #3972
That was just one idea. I actually like the NuGet.${env}.config idea much better.

I haven't tried it yet, but I see that NuGet 4 supports a RestoreSources property in MSBuild. How will this interact with NuGet.config?

That said, we frequently use and will continue to need NuGet clients that are not part of MSBuild but would still benefit from NuGet.${env}.config. FWIW before asking, I gave consi

[2016-11-19 00:15] emgarten commented on #3972
Can you give some examples of this? It sounds like there may be other problems here.

restore should be the only component reading the package sources, and the output packages folder used for downloaded packages is written to the project.lock.json/project.assets.json file. Build should be reading the packages folder from the assets file. Is something else reading the sources?

[2016-11-19 05:17] mhutch commented on #3971
cc @marek-safar

[2016-11-19 09:38] frankbuckley opened #3975 "NuGet CLI does not work with MSBuild 15.0 on Windows"
## Details about Problem

Nuget.exe does not work with **only** Visual Studio 2017 RC installed.

NuGet product used = NuGet.exe
NuGet Version: 4.0.0.2089
VS version: 2017 RC
OS version: Windows 10.0.14393

## Detailed repro steps so we can see the same problem

1. Install Visual Studio 2017 RC on a system without an installation of previous version of Visual Studio or MSBuild.

2. Run Nuget.exe r

[2016-11-19 16:53] dasMulli opened #3976 "Feature request: xplat command line: command to update package references"
Moving this out of a discussion about a dotnet cli verb to add `PackageReference` and `ProejctReference` elements to `csproj` files (https://github.com/dotnet/cli/issues/4521#issuecomment-257114890) as suggested by @piotrpMSFT.

I think it would be great to have a xplat command-line experience for checking for updates and performing updates for `PackageReference` elements similar to the VSIX and P

[2016-11-20 21:35] kzu opened #3977 "Create NuGet Package is available for unloaded projects"
Unload a project, right-click, select "Create NuGet Package...". An error is shown, because the project is unloaded.

[2016-11-21 03:56] maxtoroq opened #3978 "A command for adding reference"
`nuget.exe install` downloads packages and their dependencies, but there's no command for adding a reference the same way it works for Visual Studio, e.g. after downloading the package then I need to figure out what are the assemblies I need to copy, and the assemblies of the depending packages, etc. Using PowerShell, it looks like this:

[code]

[2016-11-21 06:00] v-nancyj opened #3979 "[Test Failure] The NuGet client can’t be uninstalled by command"
**NuGet Version:** 4.0.0-RC2-2079(Installed by default)
**VS Version:** D15PreRel 25919.01
**OS Version:** Windows 10 RS1_Release 14393.570.16118-1731

**Repro Steps:**
Below error occur when uninstalling NuGet client by command ‘**Vsixinstaller /u:NuGet.72c5d240-f742-48d4-a0f1-7016671e405b**’ in Developer Command Prompt for VS as admin.
![untitledvvvv](https://cloud.githubusercontent.com/assets/2

[2016-11-21 08:33] ghost commented on #3969
@zhili1208 sure, there is not much to see since it's a fresh Xamarin installation, but here you go. [~/.config/NuGet/NuGet.Config](https://github.com/NuGet/Home/files/602999/NuGet.Config.txt)

[code]

I tried it with the version that was installed by Xamarin (2.12.0.0) as well as the lastest nuget.exe (3.4.4.1321). The problem exists with both versions...

[2016-11-21 08:42] v-luzh opened #3980 "[Test Failure] Reloading projects with multiple packages.config failed"
**NuGet Version:** NuGet 4.0.0-xprivate-2849
**VS Version:** D15PreRel 25917.00
**OS Version:** Windows 10 RS1_Release 14393.479.161110-2025

**Repro Steps:**
1.	Open VS in DPL mode.
2.	Create multiple packages.config projects with dependency like PC1 -> PC2.
3.	Open ‘Manage NuGet Packages…’ of each projects and install/update some packages.
4.	Save the solution and restart visual studio.
5.	Build

[2016-11-21 09:13] nerumo opened #3981 "nuget restore exceeding MAXPATH"
I use Jenkins as build server and I want to use the multi branch pipeline. This enforces Jenkins to create a unique folder name that has a random component. The finally generated path gets quite long. If I then start a package restore, the restore fails because of the MAXPATH limitation.
Since .Net 4.6.2 it's possible to use long paths, but nuget is actively preventing it. Two things that should b

[2016-11-21 11:39] alpaix opened #3982 "Hitting hang opening project against d15prerel.25916.01"
As reported by @ToddGrun.

I’m hitting this during automation opening a solution. The hang appears related to nuget’s use of MEF (specifically, the VSSolutionManager constructor attempting to get to the UI thread while holding onto a MEF lock).

[2016-11-21 13:29] rzaitov opened #3983 "Report an error if Nuget.Build.Packaging is added not to lib project"
**NuGetizer**
We discussed this issue on Slack. I report it here for tracking purpose.

When I first played with Nugetizer with XS on my mac I was trying to add Nuget.Build.Packaging into nuget project itself (this is completely wrong). XS/VS/MSBuild should stop the build process (report an error during a build instead of warning)

XS info: https://gist.github.com/rzaitov/59f82e315ab52f572fde10fd3

[2016-11-21 13:40] vip32 commented on #1909
"Attempting to gather dependency information for multiple packages with respect to project" is still slow for nugets with lots of versions (around 1.000, due to CI). using nuget 3.5

[2016-11-21 14:23] yishaigalatzer commented on #1909
On our backlog to improve, are suggestion is to apply a retention policy and leave 10s of versions behind

"Attempting to gather dependency information for multiple packages with respect to project" is still slow for nugets with lots of versions (around 1.000, due to CI)

##

You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHubhttps://na01.safelinks.pr

[2016-11-21 16:58] momchilstefanov opened #3984 "Project folder Nuget.Config is not used during package restore in VS2017 RC"
VS version: d15.rel/15.0.25914.0

Repro steps:

1. In Visual Studio create Console .NET Core application
2. In the project folder add NuGet.Config with content

[code]
3. Unload the project file and define package reference to a NuGet package from the repository:
[code]
4. Reload the project.

**Expected behavior:**
NuGet Config files used list include the NuGet.Config from the project folder and

[2016-11-21 17:31] joelverhagen opened #3985 "VS hang when opening project against d15prerel.25916.01"
From @ToddGrun:

I’m hitting this during automation opening a solution. The hang appears related to nuget’s use of MEF (specifically, the VSSolutionManager constructor attempting to get to the UI thread while holding onto a MEF lock).

/cc @alpaix

[2016-11-21 17:32] joelverhagen commented on #3985
LOL Alex and I basically did the exact same thing.

Closed as dupe of https://github.com/NuGet/Home/issues/3982.

[2016-11-21 17:32] #3985 closed, assigned to nobody

[2016-11-21 17:38] natemcmaster commented on #3972
Here is one scenario: I work on tools such as "dotnet watch" and others. True end-to-end validation requires build+packing the dotnet-watch project, and then dotnet-restore its output into a new test project. This new test project needs to include the same package feeds used to build dotnet-watch. To ensure tests get the right packages, the build of dotnet-watch and tests (which shell execute a `d

[2016-11-21 17:47] joelverhagen opened #3986 "Remove "tools" from package spec"
This what how .xproj has tool references. In the .csproj world, it is `<DotnetCliToolReference>`.

It no longer needs to be on the `PackageSpec` model.

[2016-11-21 18:02] zhili1208 commented on #3969
@marek-safar https://bugzilla.xamarin.com/show_bug.cgi?id=19594 is this issue fixed? looks like nuget work around won't work with 4.6 any more.

Here is nuget work around:

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Protocol.Core.v3/HttpSource/ProxyAuthenticationHandler.cs#L103-L114

[2016-11-21 18:32] joelverhagen commented on #3968
For step 5 in the repro, are you packing the .csproj or the .nuspec? Either way, I am seeing consistent behavior across the different versions.

nuget.exe version | pack .csproj | pack .nuspec
--------------------|--------------|----------------
2.8.6                      | 2.0.0.0         | 1.0.0-ci-12345
3.2.0                      | 2.0.0.0         | 1.0.0-ci-12345
3.3.0                      | 2

[2016-11-21 18:46] ghost commented on #3969
@marek-safar I noticed this line [ProxyAuthenticationHandler.cs:127](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Protocol.Core.v3/HttpSource/ProxyAuthenticationHandler.cs#L127)
My mac's system language is set to German. Is it possible that the exception message is localized and therefore causing that line to return false?

[2016-11-21 19:28] maartenba commented on #3968
Packing the .csproj. The version is correct for the package itself, but the version in dependencies is set to the assembly version instead of the command-line parameter. Try the PR's unit test with and without the fix :)

[2016-11-21 20:00] marek-safar commented on #3969
@zhili1208 The issue is fixed but you need Mono 4.8 or newer.
@moseral That should not matter Mono exception messages are not localized.

[2016-11-21 20:08] zhili1208 commented on #3975
Please use -MsbuildPath, for example
C:\a\w\1\s>tools\nuget\NuGet.exe restore -MsbuildPath "C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\15.0\Bin"

[2016-11-21 20:19] zhili1208 opened #3987 "[documentation] restore -recursive doesn't work for package.config project"

[2016-11-21 20:50] rrelyea opened #3988 "Lightweight Solution support for Manage NuGet Packages for Solution UI"
From VSFeedback issue https://developercommunity.visualstudio.com/content/problem/2591/manage-packages-for-solution-opens-very-slow-due-t.html:

The behavior you are seeing is because of our Lightweight Solution Load behavior in VS 2017 RC.
Today, when you have that enabled, all the projects are not loaded initially.
When you choose solution restore, we will need to load all projects and then rest

[2016-11-21 20:51] #3000 closed, assigned to nobody

[2016-11-21 21:00] rrelyea opened #3989 "Lightweight Solution support for Package Manager Console"
From VSFeedback item: [](https://developercommunity.visualstudio.com/content/problem/3185/package-manager-console-opens-all-projects-in-ligh.html)
VS 2017 RC's package manager console will currently cause all projects in a solution to load.

Because scripts (init.ps1) require projects to be loaded, and scripts need to execute in dependency order, this is not a simple task.

[2016-11-21 21:05] rrelyea opened #3990 "API to enable VS to request upgrade from UWP style Project.Json"

[2016-11-21 21:21] ZlobnyiSerg commented on #3988
I think the problem is not in the requirement to load all projects. The problem is that projects are loaded very slow when lightweight solution load enabled: much more slower in comparison to solution loading times with lightweight load disabled. I think this feature can be splitted to two: one is to improve project loading time in lightweight mode (VS2017 issue?), and the second you've described

[2016-11-21 21:34] zhili1208 opened #3991 "Nuget.exe config command doesn't have any log message"
this is not an regression, repros on 2.8, 3.5, 4.0-rc

repro step:
Nuget.exe config -Set HTTP_PROXY=http://127.0.0.1 -Set HTTP_PROXY.USER=domain\user
Nuget.exe config -Set HTTP_PROXY=http://127.0.0.1 -Set HTTP_PROXY.USER=domain\user -verbosity detailed

Expected:
some log message like "nuget config set successfully for nuget.config[config path]"

Actual:
there is no message.

[2016-11-21 22:03] zhili1208 opened #3992 "NuGet delete against v3 endpoint doesn't work"
It's not an regression, repros on 3.5, 4.0-rc, latest dev

repro step:
nuget delete testpacakge 1.0.0 -apikey [apikey] -source https://www.nuget.org/api/v3

DELETE https://www.nuget.org/api/v3/ZHI-TEST-PACK/2.0.0
NotFound https://www.nuget.org/api/v3/ZHI-TEST-PACK/2.0.0 428ms

from our document, v3 is supported for delete.
http://docs.nuget.org/ndocs/tools/nuget.exe-cli-reference#delete

[2016-11-21 23:20] zhili1208 commented on #3969
@moseral Could you try nuget with mono 4.8 on your machine? thanks

[2016-11-21 23:31] ericstj commented on #3576
Can we get an ETA on this?  @yishaigalatzer @rrelyea

[2016-11-21 23:33] yishaigalatzer commented on #3576
This was planned to start after rtm of vs 2017, so not on a schedule yet

[2016-11-21 23:41] ericstj commented on #3576
We're shipping on the same timeline per https://blogs.msdn.microsoft.com/dotnet/2016/09/26/introducing-net-standard/ so I believe we'll need this in place for Dev15.

[2016-11-21 23:44] yishaigalatzer commented on #3576
That's news to us. Let's talk offline

[2016-11-21 23:52] #3986 closed, assigned to nobody

[2016-11-21 23:56] joelverhagen opened #3993 "dotnet pack fails when PackagePath is empty"
[code]
[code]

/cc @livarcocc

[2016-11-21 23:58] joelverhagen opened #3994 "dotnet pack fails to pack files starting with a dot by default"
The file ends up not being packed at all.

[code]

Tried on OS X but should check Windows and Linux.

/cc @livarcocc

[2016-11-21 23:59] Spongman commented on #3142
any plans to actually release this fix?

[2016-11-22 00:02] yishaigalatzer commented on #3992
Did it work in 3.4.4 ?

[2016-11-22 00:09] yishaigalatzer commented on #3994
This is a default behavior of nuget.exe pack (files with . are never included in the package)

[2016-11-22 00:11] joelverhagen commented on #3994
With the explicit `<Pack>true</Pack>` signal, does this behavior still make sense?

[2016-11-22 00:14] yishaigalatzer commented on #3994
Just explaining the underlying implementation, check at what nuspec is generated and test against the default `nuget.exe pack generated.nuspec`

[2016-11-22 00:17] zhili1208 commented on #3992
No, it didn't work in 3.4.4, same error messgae

[2016-11-22 07:41] emgarten commented on #3142
@Spongman it has been fixed in 3.5.0.

[2016-11-22 08:21] ghost commented on #3969
@zhili1208 I installed mono 4.8 Alpha (4.8.0.344) on my machine and now it's working.
Thanks for your help.

[2016-11-22 08:21] #3969 closed, assigned to zhili1208

[2016-11-22 09:08] v-luzh opened #3995 "[Test Failure] Error occur when installing jQuery 3.0.0 into JavaScript UWP template"
**NuGet Version:** NuGet 4.0.0-RC2-2079
**VS Version:** D15PreRel 25921.01
**OS Version:** Windows 10 RS1_Release 14393.570.161118-1731

**Repro Steps:**
1.	New a JavaScript Blank Application (Universal Windows) template.
2.	Open ‘Package Manager Console’.
3.	Type command ‘install-package jQuery –version 3.0.0’ and press enter, or install it by PM UI.

**Expected Result:**
No error occur.

**Actua

[2016-11-22 11:03] maartenba commented on #3968
Or if you prefer a repro using the command-line, see attached (check build.bat / run build.bat and check the resulting .nupkg files)

Seems this has been faulty for quite a while.

[ClassLibrary1.zip](https://github.com/NuGet/Home/files/606141/ClassLibrary1.zip)

[2016-11-22 15:11] rzaitov opened #3996 "contentFiles feature issue"
[Nugetizer]

https://github.com/rzaitov/selfContained/tree/master/Nugetizer3000/SingleLibrary

I want to use `contenFiles` feature. In other words I want to create a package with some content files (for example some txt or json file with settings or cs file with code) which should be included into consuming project.

The [NuGetizer-Core-Features](https://github.com/NuGet/Home/wiki/NuGetizer-Core-F

[2016-11-22 15:28] mrward commented on #3996
If the .nupkg looks OK and works in Visual Studio then the problem is more likely to be with Xamarin Studio.

[2016-11-22 16:54] skofman1 opened #3997 "Restrict adding assemblies in the Windows application while install the custom Xamarin NuGet package"
@GanesanRengasamy wrote:
I have created the custom Xamarin forms NuGet package with the below format.

![old lib folder of the package](https://cloud.githubusercontent.com/assets/16695209/20512579/3be2ff5c-b0a6-11e6-8eaf-251043b9d1f0.png)

The packages are installed and assemblies are added successfully for this package.

Then I have changed the lib folder format since I don't need the Windows and

[2016-11-22 16:55] skofman1 opened #3998 "Package updated with different versions"
@jansater wrote:
Noticed a strange thing while updating my projects this morning. I have a package that belongs to several projects in my solution and while I was updating to the latest version (its my own package) I published an even newer version. The result was that the package manager in VS actually installed the older version on half my projects and the newer version on the rest. This could l

[2016-11-22 17:55] Spongman commented on #3142
`nuget.exe update -self` still installs v3.4.4

[2016-11-22 17:55] mrward commented on #3996
OK so this is not a Xamarin Studio problem.

First, contentFiles are only supported with projects that use a project.json file. To support projects that use a packages.config file then the files would need to be added to a Content folder inside the .nupkg.

If you have a project.json file then both Xamarin Studio and Visual Studio will add the contentFiles into the project.lock.json file.

[code]

[2016-11-22 18:54] jainaashish commented on #3711
PR blocked by Roslyn bug# https://github.com/dotnet/roslyn/issues/15427

[2016-11-22 18:54] karann-msft commented on #3987
Please provide more details and link to the doc if it is a docs issue.

[2016-11-22 18:55] jainaashish commented on #3980
Roslyn Bug# https://github.com/dotnet/roslyn/issues/15427

[2016-11-22 19:36] zhili1208 commented on #3987
we introduced a -recursive switch for restore in https://github.com/NuGet/Home/issues/2533,
it can restore dependent project recursively.
but this switch only works for UWP project.json and dotnet core. doesn't work for packages.config project

[2016-11-22 19:59] jonwchu opened #3999 "VS Client should have a like to NuGet Gallery for a package entry"
[Moving from NuGetGallery Issue 3333](https://github.com/NuGet/NuGetGallery/issues/3333)

Since there are deep links for package operations in the client to the NuGet Gallery (e.g. Report Abuse), there should also be a link to the package page itself on the website. That way a user can easily switch context between the VS Client and the website.

[2016-11-22 20:09] rzaitov commented on #3996
@mrward, thank for clarifying this. Since Mono has troubles with project.json then this could be used only on Windows (VS or XS).

I tried to build a package (JustSingleLibrary) and then consume it in PCL (PCL support project.json) on Windows via VS. When I install the package `mySettings.txt` and `Inportant.cs` are not added to the project. This contradicts with our spec:

When I create a package

[2016-11-22 20:33] #3982 closed, assigned to alpaix

[2016-11-22 21:07] mishra14 opened #4000 "Fix help usage for dotnet cli"
We should fix the usage is dotnet sub commands -

1.
[code]

2.
[code]

3.
[code]

4.
[code]

[2016-11-22 21:08] mishra14 commented on #4000
I am working to fix case 3 here - https://github.com/NuGet/NuGet.Client/pull/1027

We should fix the other cases as well.

[2016-11-22 21:17] #3998 closed, assigned to nobody

[2016-11-22 21:18] yishaigalatzer commented on #3998
This is not a visual studio issue. There is an eventual consistency problem, that if you are trying to update the first operations might have got the older versions and the other got the newer. This makes sense, and I don't know what or if we should do something about it.

Oh and FYI 3.5 is out already, you can download from https://www.nuget.org/downloads

[2016-11-22 21:20] yishaigalatzer commented on #3997
CC @emgarten

[2016-11-22 21:20] mishra14 commented on #4000
Opened another bug for cases 2 and 4 : https://github.com/dotnet/cli/issues/4813

[2016-11-22 21:22] yishaigalatzer commented on #3996
The files are added but are not visible in the tree. This is being addressed in visual studio 2017. You should be able to see them in the compilation results (note they are not designed to be editable, that will come at a later release)

[2016-11-22 22:43] mrward commented on #3996
The .nuspec file may or may not have contentFiles information in the .nuspec. It depends on whether you need to specify things like the buildAction. For None items then no information in the .nuspec looks OK to me. To specify the buildAction it looks like you would need to add a PackageFile item and add the extra metadata there.

[2016-11-22 22:57] emgarten commented on #3997
The folder needs to represent the target framework the assembly was built under so that NuGet can correctly determine compatibility. There should only be one assembly here that is portable and works across all of these frameworks, not individual assemblies for each one.

In your example it looks like the framework was originally PCL Profile259 (net45+win8+wpa81+wp8). When installing into PCL Profi

[2016-11-22 23:04] karann-msft commented on #3987
@emgarten can you please open a PR with the necessary doc updates for this. Thanks.

[2016-11-22 23:12] jainaashish opened #4001 "Support NuGet manage UI when DPL enabled"
Currently when we click for NuGet manager ui at solution level under DPL, we first load all the projects and then show manager ui with all the projects and their packages.

[2016-11-22 23:16] jainaashish opened #4002 "Support NuGet PMC when DPL enabled"
Currently when we open for NuGet Package Management Console with DPL enabled, we first load all the projects and then load console so that we can execute all the init.ps1 scripts across packages.

But we need to come up with a way to support DPL without loading into the projects.

[2016-11-22 23:17] jainaashish opened #4003 "Support restore for PackageReference projects (normal and xplat) and Lightweight Solution Load"

[2016-11-23 00:01] zhili1208 commented on #3762
@mrward any updates on this issue, I just tried 4.8, 4.8 throws this error at the second request and 4.4 throws at the third request.

[2016-11-23 00:09] emgarten commented on #3639
I'm not sure what would be holding this file open. This should be improved in the current preview3 bits, and will be improved further when these files are put in the obj folder: https://github.com/NuGet/Home/issues/3673

[2016-11-23 00:15] mishra14 commented on #3506
It seems that vendors had not localized the new strings. Jacques Eloff is trying to get that started.

[2016-11-23 00:18] zhili1208 opened #4004 "[Mono issue] process errorDataReceived event is still triggered after call process.CancelErrorRead"
This issue only happens on mono 4.8
Repro step:

1. start a process to write any output, redirect standard output and error output by using OutputDataReceived Event and ErrorDataReceived event.
process.OutputDataReceived += (object o, DataReceivedEventArgs e) => { outBuffer.AppendLine(e.Data); };
            process.ErrorDataReceived += (object o, DataReceivedEventArgs e) =>
            {

[2016-11-23 00:18] zhili1208 commented on #4004
@mrward

[2016-11-23 00:21] emgarten commented on #1359
NuGet.Core 2.14.0-rtm-832 is now available on nuget.org with support for SemVer 2.0.0. Using this with NuGet.Server will give support for private feeds that support SemVer 2.0.0.

[2016-11-23 00:32] zhili1208 opened #4005 "[Mono issue] long password will get 400 bad request error"
Repro Step:
1. send a put request to nuget server without any credential
2. got 401, add credentials like NetworkCredential("test", new string(‘a’,10000));
3. resend the request, got 400 bad request Invalid request line (parts).

if set the password to short one, like new string('a', 20), it works well.

Looks like it's following error message:
https://github.com/mono/mono/blob/master/mcs/class/Sy

[2016-11-23 00:32] zhili1208 commented on #4005
@mrward

[2016-11-23 05:21] MisterGoodcat commented on #3973
I have the Windows Error Reporting file for this, if it helps.

[2016-11-23 09:13] v-nancyj opened #4006 "[Test Failure] VS hang when restoring NuGet package"
**NuGet Version:** 4.0.0-RC2-2092
**VS Version:** Dev14 25431.01 Update3
**OS Version:** Windows 10 TH2_Release 10586.503.160709-1837

**Repro Steps:**
1.	Create a new F# Console Application
2.	Selecting ‘**Restore NuGet Package’** by right click Solution

**Expected Result:**
NuGet package restore successful and VS doesn’t hang.

**Actual Result:**
VS hang as below screenshot.
![untitled11111](ht

[2016-11-23 09:36] mrward commented on #3762
@zhili1208 - Using your test program I get the same ReceiveFailure error with Mono 4.8.0.344. We should open a bug on [bugzilla](https://bugzilla.xamarin.com) so one of the Mono team can look into fixing this.

[2016-11-23 09:47] Hoplo commented on #1401
@zhili1208 do you have a rough ETA for the next milestone? If its awhile off is there any chance of it being included in a 3.5 patch?

This is a major headache for my development team as we have multiple updates of large NuGet packages multiple times in a day and at the moment the dev's need to manually re-add large numbers of files to TFS after each update causing them to waste a lot of time.

Th

[2016-11-23 09:58] mrward commented on #4005
Would you be able to create a small program that reproduces this and open a bug on [bugzilla](https://bugzilla.xamarin.com)? Thanks.

[2016-11-23 10:00] mrward commented on #4004
Is it possible to get the full code that reproduces this and open a bug on [bugzilla](https://bugzilla.xamarin.com)? Thanks.

[2016-11-23 10:13] mrward commented on #3762
Opened [bugzilla bug 47700](https://bugzilla.xamarin.com/show_bug.cgi?id=47700) for this problem.

[2016-11-23 10:54] tomkuijsten opened #4007 "Will project.json ever be officially supported for non-core projects?"
I used this blog post to use the project.json project format for a .net 4.6.1 console app:

https://blogs.msdn.microsoft.com/lucian/2015/08/19/using-project-json-for-other-project-types

Will this be an officially supported scenario in the future?

[2016-11-23 10:57] davidfowl commented on #4007
- https://blogs.msdn.microsoft.com/dotnet/2016/05/23/changes-to-project-json/
- https://blogs.msdn.microsoft.com/dotnet/2016/10/19/net-core-tooling-in-visual-studio-15/
- https://blogs.msdn.microsoft.com/dotnet/2016/11/16/announcing-net-core-tools-msbuild-alpha/
- http://blog.nuget.org/20161121/introducing-nuget4.0.html

[2016-11-23 12:18] tomkuijsten commented on #4007
Thanks, I've already read most posts in the past. Anyhow, I've read them again and actually did find an answer in the last blog post (in the "What's next" paragraph):

_"enabling PackageReference support for all project types"_

[2016-11-23 18:03] zhili1208 commented on #4005
I don't have a small reproduces for this issue now because my small repro always hit https://github.com/NuGet/Home/issues/3762 for some reason, but nuget unit test doesn't hit issue 3762

[2016-11-23 18:10] zhili1208 commented on #1401
@Hoplo I will try to land this as soon as possible, it will be in 4.0,  can you share more detail about your scenario? what's your package structure and how you update it? I can try to find a workaround for you.

[2016-11-23 18:44] robertmuehsig commented on #3999
PR welcome for this issue? I would like to get a small insight into the NuGet VS Client :)

[2016-11-23 18:47] rrelyea opened #4008 "VS Hangs when you Create new Core Console App, Close Solution, Open Solution and Close Solution"
Ported from dotnet/roslyn-project-system#777.

Repro:
VS Build D15PreRel 15.0.25918.0

1. Create a new Core Console App
2. Close Solution(not VS)
3. Open the previously created solution
4. Close Solution

VS Hangs with a message saying Unloading the project and after a while crashes.

[2016-11-23 19:04] zhili1208 commented on #3765
https://github.com/NuGet/NuGet.Client/commit/d34c9e0d8a47f63fb2a9ec53e21f53563e85c569

[2016-11-23 19:04] #3765 closed, assigned to zhili1208

[2016-11-23 19:08] rrelyea commented on #4007
Yes, PackageReference for all project types is our main direction.
We'll continue to support Packages.Config and UWP-Style project.json, but our goal is to help people migrate to PackageReference and keep the majority of our investment there.
We will fix some issues in Package.Config/UWP-Style Project.Json -- but very minimal. The bulk of our investment, including fixes and features will be in Pac

[2016-11-23 19:08] #4007 closed, assigned to nobody

[2016-11-23 19:10] rrelyea commented on #4006
Based on data in bug, this broke with build 2092, which was the build associated with the fix for https://github.com/NuGet/Home/issues/3982

[2016-11-23 19:15] zhili1208 opened #4009 "nuget.exe 4.0-rc pack and update doesn't work on dev15 by passing msbuildPath"
nuget.exe can't find Microsoft.build.framework.dll on dev15 during loading Microsoft.build.dll

[2016-11-23 19:20] zhili1208 commented on #3766
https://github.com/NuGet/NuGet.Client/commit/34f5670deeaee379dd86fa6413c7d5a620e863b0

[2016-11-23 19:20] #3766 closed, assigned to zhili1208

[2016-11-23 19:20] rrelyea commented on #4009
Please port necessary part of @drewgillies other work to fix this, and check into dev and release-4.0-rc. This should be your P0 please.

[2016-11-23 19:41] alpaix commented on #4008
NuGet/NuGet.Client#1034 resolved the issue. Will validate the fix.

[2016-11-23 20:06] rrelyea commented on #2865
This is being fixed by the move of .NET Core projects to use project files, instead of Project.Json.
The first release of that support is in VS 2017 RC, which is now publicly available.
Closing. Please let us know if you see any issues with the support we are shipping in VS 2017 RC.

[2016-11-23 20:06] #2865 closed, assigned to rrelyea

[2016-11-23 20:25] alpaix commented on #4006
Resolved by NuGet/NuGet.Client#1034. Verified with 4.0.0-rc2-2094.

[2016-11-23 20:25] #4006 closed, assigned to alpaix

[2016-11-23 20:30] jainaashish commented on #3803
Validated and closing this issue since external issue is also closed.

[2016-11-23 20:30] #3803 closed, assigned to jainaashish

[2016-11-23 20:31] jainaashish commented on #3829
Validated and closing since external issue is also closed.

[2016-11-23 20:31] #3829 closed, assigned to jainaashish

[2016-11-24 02:27] sonnypdx commented on #3634
It would be great if this is offered as another tab (similar to Browse, Installed, Updates, & Consolidate) in the NuGet Package Manager for Solution.  For each project, it would show the list of references and for each reference show possible NuGet Package matches.

[2016-11-24 02:43] laurencee commented on #1499
I just ran into this same issue and my solution is the same as mentioned, I am also just copying the dll to where i need it instead of having it referenced.

Wasted a bunch of time figuring out what was going on with this...

[2016-11-24 09:45] larbimeriem opened #4010 "Error in Nuget restore command - nuget 2.8.6"
Hi
i have an error and i dont understand why because everything is correct i think, i am trying to restore package for a .net Project to do a build in Bamboo atlassian so i downloaded nugetto do that and we already use it in Stash (every project has Packages.config with the referenced Package) so i tried to nuget in CMD console but i faced an error: details below:

NuGet Version: 2.8.60717.93
OS v

[2016-11-24 11:02] RicMoreira33 commented on #3971
Just FYI, on another laptop (same model) but with the older OSX El Capitan instead of Sierra, and installing everything the same way, it works properly.

[2016-11-24 17:24] jkonecki commented on #2834
May I suggest `content` folder is excluded from warnings as well?

[2016-11-24 18:40] pvandervelde commented on #3438
@yishaigalatzer Any news?

[2016-11-25 07:02] gaganpa2020 commented on #1499
What is the workaround for same issue?

[2016-11-25 07:10] yishaigalatzer commented on #1499
Rename the assembly or put it in a target file as a reference

Sent from Nine<http://www.9folders.com/>
________________________________
From: luckgagan <notifications@github.com>
Sent: Nov 24, 2016 11:02 PM
To: NuGet/Home
Cc: Yishai Galatzer; State change
Subject: Re: [NuGet/Home] NuGet Package Manager in VS 2015 not adding reference to assemblies whose name ends in .Resources (#1499)

What is th

[2016-11-25 10:52] #3984 closed, assigned to nobody

[2016-11-25 11:22] panxn opened #4011 "NuGet.exe 3.3 pack performance on OSX (mono) [fixed with 3.5]"
NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
NuGet.exe
NuGet version (x.x.x.xxx):
3.3
dotnet.exe --version (if appropirate):
4.0
VS version (if appropriate):
No
OS version (i.e. win10 v1607 (14393.321)):
OSX 10.11.2
Worked before? If so, with which NuGet version:
No
## Detailed repro steps so we can see the same problem

1. we are using nuget on OSX via mono 4.6

[2016-11-25 11:39] bkoelman opened #4012 ".props file is not added during install in .NET Core project in VS 2017 RC"
## Details about Problem
During package install, the .props file is not added to the project file of a .NET Core project in VS 2017 RC. This works for non-Core projects in VS 2017 RC.

## Detailed repro steps so we can see the same problem
1. Install VS 2017 RC with Web/Cloud workload
2. Create a new Core Web Application (MVC)
3. From the package manager console: `Install-Package CSharpGuidelinesA

[2016-11-25 12:15] bkoelman commented on #4012
I have found [instructions for NuGet 4](http://docs.nuget.org/ndocs/schema/msbuild-targets).

The file "e:\Bart\Documents\Visual Studio 2017\Projects\CoreWebApplication1\src\CoreWebApplication1\obj\CoreWebApplication1.csproj.nuget.g.props" contains a reference to `CSharpGuidelinesAnalyzer.props` file:
[code]

It turns out that all diagnostics *do* run after building the solution. It's just that th

[2016-11-25 15:18] marek-safar commented on #3971
I could not reproduce the issue with Mono 4.8 on El Capitan or Sierra. Looks like you have some specific settings on that machine

[2016-11-25 15:22] RicMoreira33 commented on #3971
@marek-safar isn't that still an alpha release of mono? I will test it in any case, but I was using the latest stable.

[2016-11-25 15:49] RicMoreira33 commented on #3971
○ → mono -V
Mono JIT compiler version 4.8.0 (mono-4.8.0-branch/f5fbc32 Mon Nov 14 14:10:00 EST 2016)
Copyright (C) 2002-2014 Novell, Inc, Xamarin Inc and Contributors. www.mono-project.com
	TLS:           normal
	SIGSEGV:       altstack
	Notification:  kqueue
	Architecture:  x86
	Disabled:      none
	Misc:          softdebug
	LLVM:          yes(3.6.0svn-mono-master/8b1520c)
	GC:            sgen

S

[2016-11-25 15:51] marek-safar commented on #3971
I am not really sure but I'd try at least different DNS server

[2016-11-25 21:46] jairbubbles commented on #1696
@yishaigalatzer  Is there a way to test this ? Will it be available into command line too ?

[2016-11-25 23:00] augustoproiete commented on #2834
@jkonecki Interesting. Could you give an example of a scenario where you have an assembly inside the `content` folder?

Assuming your scenario makes sense, I'm wondering if it still makes sense to add exceptions, or if we shouldn't just remove the validation rule altogether.

[2016-11-25 23:12] jkonecki commented on #2834
I'm using NuGet to package applications that will be deployed with Yams.

According to docs from NuGet.org:

That's why I place all assemblies in `content` folder. They could be placed in the root of the package as well, with the same warning.

With NuGet being used as a format for application packaging (OctoPack) I think the warning is a bit misleading and not very useful.

[2016-11-26 13:13] aL3891 opened #4013 "ExcludeRestorePackageImports in nuget.g.targets"
Hello!
i'd like to run a target in my nuget package during restore but it seems like the ExcludeRestorePackageImports parameter is set to true so my target doesn't run. That condition comes from here as far as I understand:

https://github.com/NuGet/NuGet.Client/blob/27645cbb0be2c84dd047c8287338920bd273688f/src/NuGet.Core/NuGet.Commands/RestoreCommand/Utility/BuildAssetsUtils.cs#L164

What is the

[2016-11-26 13:24] aL3891 commented on #3927
I open an issue for this, #4013 but I figured i'd add a note here as well, is it really necessary to also set this to true when doing a restore as well? doing that blocks a really interesting scenario for me :)

[2016-11-27 15:08] JohnGalt1717 commented on #1094
This still isn't fixed. Fully patched VS.net 2015 Update 3 with latest Nuget and the following line:

<package id="jQuery" version="2.2.4" allowedVersions="(, 3.0.0)" targetFramework="net461" />

Still gets version 3 even though that clearly states get everything up to 3.0.0 and stop.

[2016-11-27 16:16] yishaigalatzer commented on #1094
Do you have 3.5 installed?

[2016-11-27 22:25] jsgoupil commented on #2865
@rrelyea Trying this VS2017, after a conversion of a xproj to a csproj, there is no packages.config files.
Doing a normal nuget restore on a solution will not restore the dependencies.

You can repro this by creating a new ASP.net Framework web app. Then run what Azure would run:

    :: 1. Restore NuGet packages
    IF /I "WebApplication2.sln" NEQ "" (
      call :ExecuteCmd nuget restore     "%D

[2016-11-28 08:04] emgarten commented on #4013
Package references from packages are the reason targets are excluded. Would you share your scenario and what you are attempting do with dependencies beyond the current target framework selection done today?

Restore would need to loop indefinitely and re-evaluate all of the MSBuild targets and projects each time to check for new dependencies. It would lead to a much slower restore and right now is

[2016-11-28 18:24] jainaashish commented on #3485
Related external issue https://github.com/madskristensen/BundlerMinifier/issues/205

[2016-11-28 19:35] blackdwarf commented on #2865
@jsgoupil if you modify what Azure runs to run `dotnet restore` instead, does it work?

[2016-11-28 19:38] rrelyea commented on #4008
Appears fixed according to partners.

[2016-11-28 19:38] #4008 closed, assigned to alpaix

[2016-11-28 19:41] rrelyea opened #4014 "Adequate UI Feedback during AutoRestore"
Design and discussion necessary.

[2016-11-28 20:13] drewgillies opened #4015 "Install doesn't work for PackageRefernces with dependencies (package spec problem)"
Repro Steps:
1.	New a C# Console App (.Net Framwork).
2.	Add the following properties to the property group at the top of the csproj file:
`<RuntimeIdentifiers Condition="'$(RuntimeIdentifiers)'==''">win</RuntimeIdentifiers>`
3.	Add the following reference to the csproj file, before the final targets import line starting with
[code]
From Rob: (by the way, version as attribute on the packagereferen

[2016-11-28 20:14] drewgillies commented on #4015
Raised by Andy T in legacy csproj scenario testing. I'm not convinced this is a regression as I've seen the blank Install tab in UWP/console on occasion before (but haven't deduced repro steps). But this is a solid repro.

[2016-11-28 20:15] drewgillies opened #4016 "Enable PCM workflows in package reference scenarios"
Repro Steps:
1.	New a C# Console App (.Net Framwork).
2.	Add the following properties to the property group at the top of the csproj file:
`       <RuntimeIdentifiers Condition="'$(RuntimeIdentifiers)'==''">win</RuntimeIdentifiers>`
3.	Add the following reference to the csproj file, before the final targets import line starting with

[code]

4.	Reload the project in VS and run solution restore.
5.

[2016-11-28 20:15] sryabkov commented on #545
@harikmenon Do you have any updates on this feature?

Our scenario: we want to add a database reference to the SSDT database project A using a dacpac file created based on SSDT database project B (A -> B, A depends on B). We want the dacpac file for project B to come from a NuGet package.

So, similarly to C# projects, one should be able to create a database reference that points to a dacpac file

[2016-11-28 20:18] drewgillies opened #4017 "Package still displays in reference node after deleting <ItemGroup> node from csproj file"
Repro Steps:
1.	New a C# Console App (.Net Framwork).
2.	Add the following reference to the csproj file, before the final targets import line.
[code]

3.	Reload the project in VS and run solution restore, observe the reference node.
4.	Delete the above reference from the csproj file.
[code]
5.	Reload the project in VS and run solution restore, observe the reference node again.

Expected:
‘Newtonso

[2016-11-28 20:18] drewgillies commented on #4017
An edge case as it pertains to manually removing references, but important as it exposes an invalidation hole in restore status.

[2016-11-28 20:19] emgarten opened #4018 "Typo on failed to resolve all project references"
Internal issue: 296539

```Failed to resolve all project references. The package restore result for 'HostObjectSlot\HostObjectSlot.csproj' or a dependant project may be incomplete.```

"DependAnt" is incorrect AFAI can tell - American English uses "dependent" and not "dependant", and latter when used, is only for a noun not an adjective.
See: http://english.stackexchange.com/questions/11310/what-i

[2016-11-28 20:28] aL3891 commented on #4013
Basically I've got a package that will allow people to use a project.json file if they want to, or specify references in other ways.

My project is open source, i'd love feedback if you think there is a better way to do this :)
https://github.com/aL3891/CustomPackageReferences

I think it would be fine to just evaluate the targets once (and run restore multiple times in the rare case it was needed

[2016-11-28 20:30] emgarten opened #4019 "Settings does not search all NuGet.Config casings on OSX with case sensitive fs on"
OSX supports case sensitive file systems, the check in NuGet for the config file casing is skipped by OSX which can cause problems if the config file uses an alternative casing.

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Configuration/Settings/Settings.cs#L30

[2016-11-28 20:37] aL3891 commented on #4013
I reviewed the original issue and agree it can seem a little odd that you have to restore twice, but on the other had I think there is a lot of value in enabling different ways to define packages, it's at the very least something that people is very passionate about :)

I personally actually don't mind msbuild, especially the new version, but some people do and why close the door on having this ki

[2016-11-28 22:31] zhili1208 opened #4020 "Workaround Mono behavior - PackageArchiveReader will throw ArchiveException on mono when package is invalid, nuget doesn't handle it"
tracking mono issue

[2016-11-28 22:34] emgarten commented on #4013
I really like your idea of being able to specify references in other formats in CustomPackageReferences. My suggestion is to create a tool that generates a targets file containing the PackageReferences, and run it before NuGet restore.

Projects can import the targets generated by your tool. Note that this wouldn't work well with the VS UI or other NuGet tools that aren't expecting this, but it co

[2016-11-28 22:38] karann-msft commented on #3930
@Shatterator thanks for reporting. This has been fixed.

[2016-11-28 22:38] #3930 closed, assigned to karann-msft

[2016-11-28 22:40] zhili1208 opened #4021 "Workaround mono behavior - nuget.exe restore on mono still use xbuild to get ProjectFile name, should use msbuild if msbuild exist"

[2016-11-28 22:43] natemcmaster commented on #942
+1 can confirm that NuGet 3.4.4 in VS 2015 u3 is ignoring the 'minClientVersion' nuspec setting on UWP projects.

[2016-11-28 22:45] karann-msft commented on #3451
This has been documented for PackageReference https://docs.nuget.org/ndocs/consume-packages/package-references-in-project-files#controlling-dependency-assets

[2016-11-28 22:45] #3451 closed, assigned to karann-msft

[2016-11-28 22:47] zhili1208 commented on #3812
why you want to install this package to C++ project? this package is not supported for c++.

[2016-11-28 23:12] aL3891 commented on #4013
Interesting, could that still be delivered as a nuget package? Also, how would I hook that targets file in, should the tool put it in the main proj file? Ideally i'd want this process to be automatic but I suppose the flow could be

dotnet restore
dotnet importcustomPackageReferences
dotnet restore
dotnet run

 or is there a better way? i'm still getting to know the new msbuild so i'm sorry if thi

[2016-11-29 00:00] emgarten commented on #4013
With nuget.exe you could use install to extract the package to a folder and reference the tool from there. There isn't an equivalent command in dotnet for that yet.

I hadn't thought of trying to make a tool package for this, is that your intention with ``dotnet importcustomPackageReferences``?

Right now there isn't a way to restore only tools, so you would need to follow the order you described.

[2016-11-29 00:06] mishra14 opened #4024 "NuGet docs for contribution guidelines contain dead link (404)"
Parent link - https://docs.nuget.org/ndocs/policies/governance#contributors

Within the link above the following links result in a 404

Contribution instructions for NuGet Client and NuGet Gallery
Contribution instructions for NuGet Docs.

[2016-11-29 00:15] aL3891 commented on #4013
Right, I was under the impression that "installing" packages was a concept that was going away? Perhaps its just not supported yet

Yes, when you said "tool" my mind jumped to a tool package :) After your post I also got to thinking about a "custom tool" tool but as I understand it, that's a visual studio only thing.. it would be a nice thing to have though

Aha that's very interesting! so if I ju

[2016-11-29 00:27] jsgoupil commented on #2865
@blackdwarf

I spent so much time on this... just added 2 more hours and I didn't succeed much. dotnet restore works but it doesn't create the /packages like VS2017 does IF you have a Class Library. (Is it needed though?)

My project GUID is 7B770C35-F561-4221-8A08-E6646CB96DCE. I have noticed that the new Class Library in 2017 have 4DAECC67-F322-4E30-8B4A-A7F6D588ABD5.

There are too many variabl

[2016-11-29 00:51] #3919 closed, assigned to mishra14

[2016-11-29 00:51] mishra14 commented on #3919
Merged: https://github.com/NuGet/NuGet.Client/commit/ad03140776c4f16a715e3817b174a7ba9a3a1e53

[2016-11-29 01:01] emgarten commented on #4013
I just mean get the binary on the machine any way you can.

As a tool package this would need to be installed into each project. NuGet.exe on the other hand is typically downloaded before restore and then it runs over the entire solution.

A tool package would run cross platform, to run cross platform outside of a project you may need to restore a fake project referencing your tool to get everythi

[2016-11-29 01:04] sunnydaleDoby commented on #3812
I disagree.

It's part of the .net framework which should work for managed c++ code.
All .net code interacts across the many languages, including managed c++.
There is nothing on the Microsoft website that says it's not for c++.

I am trying to install this into a managed code project --even though the
error message says native code.

Clearly there is an error.

Tom

On Mon, Nov 28, 2016 at 2:47 P

[2016-11-29 01:06] sunnydaleDoby commented on #3812
In fact, Microsoft gives ++ examples on their website:

https://msdn.microsoft.com/en-us/library/dn858385(v=vs.111).aspx

Tom

On Mon, Nov 28, 2016 at 5:04 PM, Thomas Dobroth <dobroth@gmail.com> wrote:

[2016-11-29 01:21] zhili1208 commented on #3812
Yes, this DLL should work with managed C++, but NuGet is not support managed C++ scenario now. So you can't install the package, you need to download this package and add reference manually.

[2016-11-29 02:19] jenndluna opened #4025 "Nuget package restore failing for new project"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (x.x.x.xxx): 3.4.4.1321

VS version: VS 2015

OS version (Win 10 Pro):

## Detailed repro steps

1. Create new web application
2. Open nuget package manager
3. Add EntityFramework version 6.1.3
4. Yellow error bar shows at the top: Message: "An error occurred while trying to rest

[2016-11-29 02:20] emgarten commented on #4025
@jenndluna what type of web application is this? Does it use xproj or csproj?

[2016-11-29 02:22] sunnydaleDoby commented on #3812
How does one download the package, disassemble it and install manually?
The download is a NuGet package that I cannot disassemble.

Tom

On Mon, Nov 28, 2016 at 5:21 PM, Zhi Li <notifications@github.com> wrote:

[2016-11-29 02:31] jenndluna commented on #4025
it is csproj, I created an empty  project

[2016-11-29 04:46] emgarten commented on #4025
Try NuGet 3.5.0 from: https://dist.nuget.org/index.html

You can also try clearing your caches using ``nuget.exe locals -clear all``

The error you are seeing typically occurs from an incomplete nupkg download. NuGet will retry the download several times, but if you are having some serious network issues or have a local source with invalid nupkgs it could still happen.

[2016-11-29 05:23] ericstj commented on #3812
Even if you could install it (you can't, that's a NuGet bug with how it represents C++ UWP projects) how do you intend to use a managed DLL in a native C++ project?  This isn't a winmd.  There is no "managed C++" UWP project.

[2016-11-29 06:00] sunnydaleDoby commented on #3812
Again,
Again,

It's a managed project that I'm trying to install it.

No different than Win2D that installs fine.

The error message gives bad information that is misleading you.

Tom

On Mon, Nov 28, 2016 at 9:23 PM, Eric StJohn <notifications@github.com>
wrote:

[2016-11-29 08:49] SupporterMan opened #4026 "uninstall-package w/ -RemoveDependencies will fail if multiple packages share a common dependency"
## Details about Problem

According to the [document for Uninstall NuGet packages](https://docs.nuget.org/ndocs/tools/powershell-reference#uninstall-package), the "-RemoveDependencies" parameter could "_Uninstalls the package and its unused dependencies. That is, if any dependency has another package that depends on it, it is skipped."_.

But if there are two packages that both depend on a same de

[2016-11-29 08:53] maartenba commented on #3968
Any news on this? Have a customer who is blocked by this...

[2016-11-29 08:56] aL3891 commented on #4013
Right, ideally i'd like the process to be a little more automatic, I think it would be fine to add a reference to each project, my main problem right now is the bootstrapping of the target into the project, but a package tool might just be the way to go ´InitializeProjectJson´ or something like that. it could then add a target.

I know you said you didn't want to go into specifics, but regarding g

[2016-11-29 09:24] RaphVDM opened #4027 "dotnet restore error"
Hi,
Here is my problem, I just created a new empty .net core web project. As soon as I try to restore the packages I get this error

`C:\Program Files\dotnet\dotnet.exe restore "c:\WebApplication1\.vs\restore.dg"`
`log  : Restoring packages for c:\WebApplication1\src\WebApplication1\project.json...`
`error: Error reading JToken from JsonReader. Path '', line 1, position 1454.`

## Environment data

[2016-11-29 10:45] v-luzh opened #4028 "[Test Failure] Failed to restore mixed solution with PC and PJ projects after deleting a package manually"
**Repro Steps:**
1. Open visual studio in DPL mode.
2. Create a solution with multiple projects mixed with PC and PJ projects (dependency: **PC1->PJ2->PC3**).
3. Install packages. (PC1 install Newtonsoft.Json 8.0.2, PJ2 install jQuery 3.1.0 and PC3 install log4Net 2.0.5)
4. Save solution and close it.
5. Manually delete a package. (I deleted jQuery 3.1.0 from packages folder.)
6. Open the solution

[2016-11-29 12:10] enricosada commented on #3938
@piotrpMSFT you cannot neither `dotnet pack` a not prerelease (like `1.0.0`) with deps prerelease (like `0.3-preview2`), ref https://github.com/NuGet/Home/issues/1365
That's a behavior change respect preview2 and is painful ( f# fsharp.core IS prerelease, but lots of others packages too)

[2016-11-29 13:45] rrelyea commented on #4028
this sounds like an issue with DPL minbar that was implemented in RC1.
Likely, this is fixed with your newer work??

[2016-11-29 13:55] rrelyea commented on #4027
Please see the workaround here: https://github.com/dotnet/cli/issues/4248

[2016-11-29 13:55] #4027 closed, assigned to nobody

[2016-11-29 13:57] rrelyea commented on #4025
Please let us know if that doesn't solve it for you. Closing for now.

[2016-11-29 13:57] #4025 closed, assigned to nobody

[2016-11-29 13:58] rrelyea commented on #4026
@SupporterMan - it would help us prioritize, if you could help tell us if this had worked in earlier versions?

[2016-11-29 14:16] RaphVDM commented on #4027
Before asking for help I've already tried the work aroud that you suggest but it didn't work and gave me the same error :(

[2016-11-29 14:57] niemyjski commented on #3938
Yes, it's really painful and caused us and our end users much pain. I hope this gets resolved sooner and later just for the sake of the community.

[2016-11-29 14:58] niemyjski commented on #3131
This has been months since this was updated. Please release a 2012 nuget client that supports packages that contain .net standard. This is insane you are sitting on this this long when customers and end users now cannot use packages like JSON.NET

[2016-11-29 16:56] tmeschter commented on #4017
After removing all the `PackageReference` items from the project, reloading, and restoring, is there still a project.assets.json file in the intermediates directory? If so, does it contain references to NewtonSoft.Json?

I suspect what is happening is that https://github.com/NuGet/NuGet.BuildTasks is picking up a stale project.assets.json file. If that is the case, I suggest that restore actively

[2016-11-29 17:06] rrelyea commented on #4010
Could you please try NuGet.exe v3.5.0 and tell us if the behavior or message changes?
http://nuget.org/downloads

[2016-11-29 17:45] jainaashish commented on #4016
Merged to Dev 17fe755c4d8bc3f50fe1de53b26bae0976db10a7 Waiting for RC2 decision

[2016-11-29 17:46] jainaashish commented on #4015
Merged to Dev #17fe755c4d8bc3f50fe1de53b26bae0976db10a7 Waiting for RC2 decision

[2016-11-29 18:08] rrelyea opened #4029 "Integrate 4.0.0.2067 into CLI and SDK repos to ship with RC2"
use the packages that are branded 4.0.0-rc2
we've already published one set of those. need to replace those.

[2016-11-29 18:08] jainaashish opened #4030 "Add NuGet properties in target file for non-UWP projects"
We need to add following NuGet properties in a target file in order to support PackageReference for non-UWP based project systems (except .net core)

  `  <RuntimeIdentifiers Condition="'$(RuntimeIdentifiers)'==''"> win</RuntimeIdentifiers>`

[2016-11-29 18:17] sryabkov commented on #545
It looks like there is a similar, possibly duplicate request for the same issue: #637

[2016-11-29 18:33] troshko111 commented on #4026
@rrelyea
I found a [http://www.marcusoft.net/2011/02/nuget-uninstall-remove-dependencies.html](blog post) where some guy left a comment suggesting that did not work back 10 months ago.

My guess would be that hasn't been working for quite some time. Uninstalling packages is like super core feature of a package manager, I would probably suggest this is a P0 issue. Uninstalling anything is quite som

[2016-11-29 18:46] zhili1208 commented on #3812
you can change the nupkg file to zip file and unzip it

[2016-11-29 19:06] zhili1208 commented on #3763
verified the fix in mono 4.8

[2016-11-29 19:06] #3763 closed, assigned to zhili1208

[2016-11-29 19:31] zhili1208 commented on #3458
fixed in https://github.com/NuGet/NuGet.Client/commit/9032d4b744d36c6b1235d4380525e2f62c9ab36f

[2016-11-29 19:31] #3458 closed, assigned to nobody

[2016-11-29 20:06] zhili1208 opened #4031 "[Mono Issue] Fix many NuGet.CommandLine Tests to work well on Mono"
This issue is for tracking all nuget.exe test fix on mono

[2016-11-29 20:08] zhili1208 commented on #4031
Restore and pack fix https://github.com/NuGet/NuGet.Client/commit/e149cd6383177da2788af9b82546d0255b9288bd

[2016-11-29 20:22] emgarten commented on #4013
NuGet restore has this flow today:
1. Gather all package reference information from MSBuild
1. Gather all project to project reference information from MSBuild
1. Exit MSBuild (New targets cannot be dynamically added in and reevaluated to add new references)
1. Walk project dependencies and pick the best match for each
1. Download packages
1. Write out restore information

For large projects evalu

[2016-11-29 23:26] RussKie commented on #3541
I'm having similar issues https://github.com/dotnet/corefx/issues/14110

[2016-11-29 23:50] ericstj commented on #3812
It's not misleading me.  That is indeed how **NuGet** classifies all C++ projects and is why I said `that's a NuGet bug with how it represents C++ UWP projects`

I worked with Win2D to make that package work with native C++ projects.  The reason it works in the C++ project is that it contains build/native/*.targets which is applicable in the C++ project.

Win2D has a WinMD which is consumable by t

[2016-11-30 00:43] HakanL opened #4032 "Upgrading Microsoft.NETCore.App from 1.0.1 to 1.1.0 removes type: platform"
Incorrectly opened the ticket here: https://github.com/dotnet/cli/issues/4869

## Steps to reproduce

Visual Studio 2015 Update 3, all latest .NET Core tools/extensions installed (including .NET Core 1.1 SDK).

**Note that this may not be related to the Microsoft.NETCore.App package, but may be a universal problem.**

Creating a new .NET Core Command line project adds this dependency to the projec

[2016-11-30 00:43] HakanL commented on #4032
This is in the Visual Studio NuGet UI, not sure if it happens elsewhere.

[2016-11-30 00:56] drewgillies opened #4033 "MSBuild discovery dev tests failing"
NuGet.CommandLine.Test.MsBuildUtilityTest.TestVersionMatch(toolsets: [MsBuildToolset { InstallDate = 2016-09-15T00:00:00.0000000, ParsedVersion = 15.1.137.25382, Path = "c:\vs\25557.00", Version = "15.1.137.25382" }, MsBuildToolset { InstallDate = 2016-09-16T00:00:00.0000000, ParsedVersion = 15.1.137.25382, Path = "c:\vs\25557.02", Version = "15.1.137.25382" }, MsBuildToolset { InstallDate = 2016-

[2016-11-30 00:56] sunnydaleDoby commented on #3812
So I cannot get the hardware accelerated vector math that is available in
c# and VB?

On Tue, Nov 29, 2016 at 3:50 PM, Eric StJohn <notifications@github.com>
wrote:

[2016-11-30 00:57] drewgillies commented on #4033
Even though these passed on private CI branches, they're failing on dev CI. Investigating.

[2016-11-30 01:19] ericstj commented on #3812
I'm no expert here but here is my understanding: System.Numerics.Vectors was needed to teach the .NET JIT that you wanted to use SIMD instructions by introducing types that would work with those instructions.  Some native types already exist in Windows.winmd that were equivalent and those types were made equivalent through *projection*, but you can use the native types just fine.  My understanding

[2016-11-30 01:25] mellinoe commented on #3812
Yeah, there should be some separate types for C++ that you can use which leverage some SIMD intrinsics. https://github.com/Microsoft/Win2D/blob/master/numerics/Cpp/WindowsNumerics.h. I'm also not an expert on this part, but you should be able to use those types if you just include that header. It should already be in your project if you've installed the Win2D nuget package.

[2016-11-30 01:58] SupporterMan commented on #4026
@rrelyea I have tested in nuget 3.0 and nuget 3.4.4, the same result. It seems that it doesn't work from previous version of NuGet.

[2016-11-30 02:54] RussKie opened #4034 ".net core behavior in vs2017? - VS2015 package restore does not update instead downgrades"
Copied from https://github.com/dotnet/corefx/issues/14110

I have an existing .NETCore app 1.0.0 which I am trying to update to 1.1.0.

I have:
* downloaded the latest .NET Core 1.1 SDK from https://go.microsoft.com/fwlink/?LinkID=835014
* tweaked the global.json to point to this version,
* tweaked project.json to point to Microsoft.NETCore.App 1.1.0 and netcoreapp1.1

[code]

At this stage VS tel

[2016-11-30 02:54] RussKie opened #4035 "Updating a package for .net core project appears to not work, as the UI doesn't get the CPS update from the nominate."
Copied from https://github.com/dotnet/corefx/issues/14110
Relates to https://github.com/NuGet/Home/issues/4034

I have an existing .NETCore app 1.0.0 which I am trying to update to 1.1.0.

If I try to upgrade manually:

![image](https://cloud.githubusercontent.com/assets/4403806/20735537/cd78ab02-b6f4-11e6-9a2f-72517310f8d1.png)

The update log:

[code]

But as soon as the update finishes, the upd

[2016-11-30 06:41] davkean opened #4036 "New background restore writes milliseconds to status bar when it takes seconds to restore"
Can we use a more appropriate duration - measuring something in ms when it takes seconds just looks silly:

![image](https://cloud.githubusercontent.com/assets/1103906/20742379/d11df65c-b723-11e6-974f-1450db89ed38.png)

[2016-11-30 06:45] shawnhar commented on #3812
@sunnydaleDoby you are confusing managed projects with Windows Runtime projects.  These have some similarities, but are fundamentally quite different things.

Managed C++, aka C++/CLI (https://en.wikipedia.org/wiki/C%2B%2B/CLI) compiles into .NET IL.  The resulting assemblies look just like any other .NET assembly, and can fully interop with any other .NET language - but this technology is not sup

[2016-11-30 07:30] v-luzh opened #4037 "[Test Failure] Error ‘Object reference not set to an instance of an object’ occur when trying to open PMC and PM UI on VS Blend"
**Repro Steps:**
1. Open Microsoft Blend for VS.
2. Create C# UWP template.
3. Try to open PMC and PM UI (both project level and solution level).

**Expected Result:**
PMC and PM UI opened successfully and no error show.

**Actual Result:**
Error ‘Object reference not set to an instance of an object’ occur as below screenshot.
![blenderror](https://cloud.githubusercontent.com/assets/20632625/20743

[2016-11-30 08:54] aL3891 commented on #4013
Interesting, thanks for the in depth answer!

I agree that doing this in a single restore pass would potentially get very difficult and slow, but if we accept that, are the problems you mention (debugging aside, I agree there) resolved by pregenerating the targets file?

As I see it in both cases you'd initially have to restore twice,
in the first case the flow would then be

[code]

If instead yo

[2016-11-30 09:46] v-nancyj opened #4038 "[Test Failure]The information of output flashed and disappear when Install/Uninstall/Update package by UI on Web Application (.NET Core)"
**NuGet Version:** NuGet 4.0.0-rc2-2102
**VS Version:** D15Rel 25928.00
**OS Version:** Windows 10 RS1_Release 14393.571.161121-1745

**Repro Steps:**
1.	Create a new C#->Web->**Asp.NET Web Application (.NET Core) ->Web Application** project.
2.	Start Manage NuGet package dialog by right clicking of the project node.
3.	Install package ‘Newtonsoft.Json’ –version 9.0.1 shown on the Browser tab.

**

[2016-11-30 14:20] wkit23 commented on #3676
I also faced a similar issue with the source sequence. I have a local repository and an internal feed to host my own packages. When building, projects will be packaged and dump to the local repository so that sub sequence reference will refer to the local repository. When I finished build, the packages from the local repository will be uploaded to the internal feed.

Now, my problem is, I set the

[2016-11-30 15:01] yishaigalatzer commented on #3676
Are you versioning the packages on your builds or keeping the same version? If it's the latter that could be the cause of the issue

[2016-11-30 17:11] raguayo-springcm commented on #2866
This is happening to me as well.  Just as @kquinbar stated earlier, at a solution level the packages are not listing, on a project level the packages are listing.

I'm using Visual Studio Professional 2015 Version 14.0.25431.01 Update 3

NuGet Package Manager Version 3.3.0.167 produces:
/nuget/DevLib/Search()?$filter=IsLatestVersion&$orderby=DownloadCount desc,Id&searchTerm=''**&targetFramework='n

[2016-11-30 17:30] yishaigalatzer commented on #4036
The code should use the same pattern we use everywhere else - milliseconds if smaller than a second, seconds:milliseconds up to 60 seconds, minutes:seconds, (hours:minutes ???)

@alpaix @rrelyea

[2016-11-30 17:32] yishaigalatzer commented on #4034
Because you specified top level  "System.Security.Cryptography.Algorithms": "4.2.0", this the nearest wins rule https://docs.nuget.org/ndocs/consume-packages/dependency-resolution

[2016-11-30 18:04] emgarten commented on #3786
Related: https://github.com/NuGet/Home/issues/4036

[2016-11-30 18:08] emgarten commented on #4032
@HakanL Try 3.5.0 from https://dist.nuget.org/index.html

[2016-11-30 18:21] HakanL commented on #4032
I'm doing this from inside Visual Studio, and the NuGet extension is updated to version 3.5.0.1484.

[2016-11-30 18:38] moonir01 opened #4039 "Could not find the Microsoft.AspNet.Loader.IIS.Interop Nuget package in your users package folder.This NuGet package required to run ASP.Net 5 Web application"
i am trying many time nuget install error message are :

**Could not find the Microsoft.AspNet.Loader.IIS.Interop Nuget package in your users package folder.This NuGet package required to run ASP.Net 5 Web application**

But i have install the package using command :line using this command Install-Package Microsoft.AspNet.Loader.IIS -Pre [](http://prnt.sc/ddqigm) http://prnt.sc/ddqigm

install mes

[2016-11-30 18:54] scottbommarito opened #4040 "Temp/NuGetScratch approached 40GB"
My `Temp/NuGetScratch` folder was using about 40GB of my drive until I deleted it when I ran out of disk space this morning. I am under the impression that the folder is used by the client as a temporary storage for packages while performing operations. The folder should not be using anywhere near as much space and should clean itself regularly.

[2016-11-30 19:15] emgarten commented on #4040
@scottbommarito what was in the folder? Do you have any repro steps that show it leaving things behind?

[2016-11-30 19:16] emgarten commented on #4032
@HakanL that is 3.5.0-beta2, you can get the 3.5.0 RTM version from dist.

[2016-11-30 19:20] daveaglick commented on #4040
FWIW, I've also seen `%localappdata%\Temp\NuGetScratch` get really big. Mine is currently at about 3 GB.

[2016-11-30 19:27] rrelyea opened #4041 "adapt to shortcut path in vsix break"
per email. sounds like it is broken in d15prerel recent builds.
Likely affects "msbuild /t:restore" from dev command line.
Anything else?

[2016-11-30 19:32] rrelyea commented on #4015
Let's do this in RC3. So go ahead and close.

[2016-11-30 19:32] rrelyea opened #4042 "Adapt to willow install change for pack"

[2016-11-30 19:37] dcomartin commented on #4040
![image](https://cloud.githubusercontent.com/assets/1577098/20768059/7e2e938e-b70a-11e6-98ab-3b40ff1c04be.png)

[2016-11-30 19:40] rrelyea opened #4043 "Blend problems with NuGet"
2-3 internal bugs in Blend scenarios with current RC2 builds.
1) Test File/New (restore is broken)
2) Test Manage Packages on Project (null ref?)
3) Delete lock file manually, then do a build restore. (this may have been broken in RC also)

[2016-11-30 20:04] emgarten commented on #4040
Any repro steps? My scratch folder is empty, but I know from the code that it would be easy to miss the clean up step. However that is scenario specific.

[2016-11-30 21:58] kraigb commented on #4024
Thanks for catching these. I'll be fixing them shortly.

[2016-11-30 22:01] HakanL commented on #4032
Ah, got it. I can confirm that this works in 3.5.0 RTM. So we can close this. Thanks for your help!

[2016-11-30 22:06] #4032 closed, assigned to nobody

[2016-11-30 23:27] rrelyea commented on #4041
Need to confirm that it actually is broken for our scenario. See further email I sent to jinu.

[2016-12-01 00:15] RussKie commented on #4034
I am still unconvinced this is correct.

The project.lock.json has the following in it:

[code]

Also [Microsoft.IdentityModel.Tokens v5.1.0](https://www.nuget.org/packages/Microsoft.IdentityModel.Tokens/5.1.0) clearly states it requires System.Security.Cryptography.Algorithms (>= 4.3.0)

[2016-12-01 00:18] rrelyea commented on #4039
What version of VS?
What version of Nuget?
Did it work before? With what versions?

[2016-12-01 00:20] emgarten opened #4044 "AutoReferenced PackageReference support to block version changes in UI for "sdk installed" packages"
PackageReferences can be added to projects by external targets, these may need special steps to update beyond just changing the PackageReference. To prevent the NuGet UI and command line tools from naively changing these there should be an additional attribute that allows locking down a reference to make it read only.

### Proposal
Add a ``ReadOnly`` attribute to PackageReference items that preven

[2016-12-01 00:34] emgarten commented on #4044
This could be done by adding the ``AllowedRange`` property used in *packages.config* to *PackageReference*.

Further scenarios to consider
* External targets file that is shared between multiple projects that contains a PackageReference
* Shared framework scenarios, NuGet will report that an update is available, however the user doesn't have the shared framework installed yet.

[2016-12-01 00:35] rrelyea commented on #4041
me: we do the shortcut path in v2 vsix. so perhaps you guys are impacted because you have a v3 vsix
Roslyn team member: that's correct

[2016-12-01 00:35] #4041 closed, assigned to emgarten

[2016-12-01 01:45] davidfowl commented on #4044
This makes me cringe a little bit (actually a lot). Is this just optional metadata that should never really appear in my project file? Is this about hiding things from the ui?

[2016-12-01 02:17] rrelyea commented on #4043
never mind... fix is on blend side...adding NuGet.SolutionRestoreManager to its pkgdef whitelist.

[2016-12-01 02:17] #4043 closed, assigned to alpaix

[2016-12-01 02:21] rrelyea commented on #2121
will be fixed by blend team RC2 fix for Bug 297804:NuGet badly broken in blend since NuGet.SolutionRestoreManager (a new pkgdef in RC1), cannot be loaded

[2016-12-01 02:21] #2121 closed, assigned to mishra14

[2016-12-01 03:08] TheRealPiotrP opened #4045 "Linux cannot restore against protocol 2 nuget api"
Moving https://github.com/dotnet/cli/issues/4860 on behalf of @stvndall.

----

## Steps to reproduce
~/.nuget/NuGet/NuGet.Config, add an api using v2 of the nuget server. IE Klondike.
```<add key="raphael" value="http://raphael:6400/api/odata" protocolVersion="2"/>```

## Expected  behavior
Be able to search on the v2 api, and find it a package is on the server. Return package if found. Move on i

[2016-12-01 03:37] kzu commented on #3983
XS issues should not be logged here. This repo is for the open source parts of NuGetizer, which are the targets and the VS integration only.

[2016-12-01 04:19] emgarten commented on #4044
This would be optional metadata to hide the package from the available updates in the UI and from update all. The flag would not affect the resolver.

[2016-12-01 05:25] jmelosegui commented on #3815
@drewgillies could you share those steps??

[2016-12-01 06:16] ghost commented on #3131
Still can't install on Visual Studio 2012! It kinda breaks the idea of nuget being the preferred deployment model for VS...

[2016-12-01 07:58] dsplaisted opened #4046 "Provide a way to set the project restore type"
`NuGet.targets` [sets the `_ProjectRestoreType` property](https://github.com/NuGet/NuGet.Client/blob/e77e9f03232c06c044834f1b540ef6de85d98a38/src/NuGet.Core/NuGet.Build.Tasks/NuGet.targets#L254-L264) based on whether there is a `project.json` file in the project, whether the project has a `PackageReference`, and whether the project has a `TargetFramework` or `TargetFrameworks` property.

Projects

[2016-12-01 08:06] dsplaisted opened #4047 "Rename values of _ProjectRestoreType property"
`NuGet.targets` sets the value of the `_ProjectRestoreType` property [based on how package references are expressed](https://github.com/NuGet/NuGet.Client/blob/e77e9f03232c06c044834f1b540ef6de85d98a38/src/NuGet.Core/NuGet.Build.Tasks/NuGet.targets#L254-L264).  However, the values of the property currently refer to what the project is targeting, which may not correspond to how package references ar

[2016-12-01 09:17] mrward commented on #3983
Isn't this a build target problem and not a Xamarin Studio problem though? Whether the build shows a warning or an error is due to the build target.

Currently the build targets report a warning if the NuGet packaging project references another project that does not have the NuGet.Build.Packaging NuGet package installed. This is what the original problem was. I thought the idea was to change it fr

[2016-12-01 10:34] rzaitov commented on #3983
Yea. Exactly!

[2016-12-01 10:49] JanReimerD commented on #3052
Hi,

I want to pick this up since we've been thinking about packaging sceanrios a lot. In my eyes what NuGet needs is the feature to allow "Runtime Dependencies". What's been stated here is correct: One needs to be able to state "My package needs package xyz at version a.b.c.". Even if xyz is not used in the API but as technology for the implementation this dependency is required because the corre

[2016-12-01 11:18] ig-sinicyn commented on #3964
**UPD**: Looks like duplicate to #3052

I'm still interested in getting an answer though : )

[2016-12-01 13:43] jzeferino opened #4048 "System.InvalidOperationException: Cannot create a package that has no dependencies nor content."
## Details about Problem

NuGet Version: 3.4.4.1321
Mono version 4.6.2
OSX 10.11.6

## Detailed repro steps so we can see the same problem

1. .nuspec

[code]

### Verbose Logs

[code]

## NOTE:

works with -NoDefaultExcludes.

[2016-12-01 15:33] McMlok opened #4049 "Is posible to use ApiKey when restore nugets"
Hello,

we have our internal Nuget repository (Nexus 3) secured with ApiKey. I try to set ApiKey to nuget.config with command nugget setapikey for our repo URL. But when I try to restore packages from this repo I was prompted for username/password. When I try to push new package to repo it use apikey and it works. Is possible to configure nuget to use apikey for restore package?

I know I can use

[2016-12-01 15:54] kzu commented on #3983
He, good point :). I think I accidentally closed the wrong thing

[2016-12-01 16:04] MaximRouiller commented on #4040
My `%localappdata%\Temp\NuGetScratch` is sitting at 4.45 GB

Last modification today.
![image](https://cloud.githubusercontent.com/assets/209384/20801079/b62a83aa-b7b5-11e6-935d-69258f6ba809.png)

Each folder is between 130MB and 250MB.

[2016-12-01 16:18] MaximRouiller commented on #4040
I'm ready to help you debug. Not running NuGet from the command line. Only from VS2015.

Here's a dump of **About Visual Studio**:

[code]

[2016-12-01 16:22] MaximRouiller commented on #4040
68 packages in the latest folder. They correspond to the list of packages found in the `Manage Packages for Solution` for the current project I'm working on.

[2016-12-01 18:30] jinujoseph opened #4050 "P2P solution build caused a VS hang"
**Build** : d15prerel/15.0.25929.3
**Repro** : Was testing this scenario
[https://github.com/dotnet/roslyn-project-system/issues/848](https://github.com/dotnet/roslyn-project-system/issues/848 )

At some point when I build the solution I got a hang.

dmp file : \\mlangfs1\public\Jinuj\dmp\P2P.dmp

Lifeng Lu has looked at the dmp and thinks
It's a deadlock inside SolutionRestoreWorker.Restore
This

[2016-12-01 19:36] kraigb commented on #3366
@karann-msft -- we can close this issue; $references$ (not functional) is removed from the docs so the issue is no longer relevant.

[2016-12-01 20:53] billboyletrintech commented on #1806
This became an issue for us while trying to use nuget for the deploy step in a CI environment where we would want nuget cli to grab the highest version of all dependencies.  I added the switch for the install command, hope thats ok.

[2016-12-01 22:34] kraigb commented on #1884
http://docs.nuget.org/ndocs/tools/package-manager-ui has screenshots that are current for VS 2015 as well as VS 2017 RC.

[2016-12-02 01:01] JonDouglas opened #4051 "Provide an empowering error message for incompatible packages. Also include a warning to the user that the package will not install if frameworks mismatch."
## Details about Problem

There is an inconsistency I've noticed when helping mostly Xamarin customers with NuGet. The problem is pretty much the following:

Users who do not understand how NuGet targets work are prevented by the NuGet Package Manager to a decent resolution.

Because of this, users have to go out and find a resolution instead of having the NuGet Package Manager give a more empower

[2016-12-02 11:47] NathanGloyn commented on #1094
I have this problem as well. AFAIK I have latest Nuget installed (3.5.0.1484), but with the following packages entry I see upgrades offered both at a project and solution level:
`  <package id="IdentityModel" version="1.13.1" targetFramework="net452" allowedVersions="(,2.0)" />`

[2016-12-02 15:41] nickverschueren opened #4052 "Tokens are not being replaced when pacakging NETStandard libraries"
## Details about Problem
NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe
NuGet version (x.x.x.xxx): 3.5.0.1938
dotnet.exe --version (if appropirate):
VS version (if appropriate):
OS version (i.e. win10 v1607 (14393.321)): win2012r2 v9600
Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem
1. Create a NETSt

[2016-12-02 19:14] kraigb commented on #3609
I'm checking all the redirects; this one will be fixed along with a number of others in an upcoming PR.

[2016-12-03 08:59] mafshin opened #4053 "Shared Nuget Folder, Packages Are Removed"
I have a central `Nuget `folder which is shared among multiple solutions.
In each solution there is virtual `Nuget `folder with the `Nuget.config` item (located in shared folder) inside that.

Whenever I remove a package from one of the solutions the output is as below:
[code]

**Question**
How can I configure the `Nuget ` not to remove the files from a shared `Nuget `folder after uninstalling ?

[2016-12-04 11:30] gulbanana opened #4054 "nuget.exe pack doesn't work for legacy csproj referencing net core projects with -IncludeReferencedProjects flag"
## Details about Problem

NuGet product used: nuget.exe

NuGet version: 3.5.0.1938

dotnet.exe --version: 1.0.0-preview3-004056

VS version: VS2017 RC

OS version: Windows 10

## Detailed repro steps so we can see the same problem

The idea is to build two nukpgs, one depending on the other.

1. Create a .NET Core csproj using new features such as &lt;Compile Update=""/&gt;

2. Create a non-.NET C

[2016-12-04 12:18] SergioLuis commented on #3971
I suffered this same issue with Mono 4.6.2 and macOS 10.11, and @marek-safar response guided me in the right direction.

[code]

Turns out, my /etc/hosts file was heavily modified (by me, anyway, with an automatic tool), in order to block some content at DNS level. Cleaning my /etc/hosts file, and flushing my DNS cache, solved the issue. Now, I can use NuGet again both from terminal and from Xamar

[2016-12-04 12:23] RicMoreira33 commented on #3971
Wow! Thanks @SergioLuis

I had been changing DNS servers and other stuff and never occurred to me that I had modified my /etc/hosts too (for ad blocking purposes).

Now it all works. Looking back now it was a stupid issue to open a thread to begin with :) but maybe it will help more people.

Thank you guys!

[2016-12-04 13:41] dazinator opened #4055 "Restore, http cache and failed packages"
Originally raised under dotnetcli but moved here as per this [comment]( https://github.com/dotnet/cli/issues/4905#issuecomment-264695540)

## Steps to reproduce
update project.json and change a dependency to a new version that doesn't yet exist on nuget.org.
do a `dotnet restore`
The restore will fail correctly
now publish that version of the package to nuget.org
do a `dotnet restore`
The restore

[2016-12-04 21:24] kzu opened #4056 "Restore fails with custom framework names"
When the `TargetFramework` of a project is unknown to NuGet, restore fails with `Invalid restore input. Invalid target framework 'unsupported'`.

NuGet should have sensible default behavior for both restore and install even for cases of unknown frameworks. This has caused a lot of problems in the past for Xamarin, and it's practically unfeasible to have NuGet know ahead of time every custom target

[2016-12-04 21:25] kzu commented on #4056
Another recent manifestation of this issue is at https://github.com/NuGet/Home/issues/3961, but the underlying issue is not directly related to NuGetizer.

[2016-12-05 00:00] davidfowl commented on #4056
What would nuget do with an unknown framework? Can you provide some concrete suggestions for the "sensible default behavior"

[2016-12-05 00:04] kzu commented on #4056
Generate the props/targets imports for build targets provided without a TFM
or with a matching one, for a start ;).

That would already be immensely useful, since the custom targets could then
do whatever is applicable to that custom framework (I.e. add references,
contents, embedded resources, etc.).

[2016-12-05 00:09] davidfowl commented on #4056
so you mean so string matching in the case where the framework is unknown? What does that package contain? Is it using nuget for anything other than build props/targets?

[2016-12-05 00:33] kzu commented on #4056
There is already a convention to turn TFMs to [identifier][major][minor],
so yes.

Build targets usually don't contain the TFM anyway.

The targets are almost everything in a custom framework (I.e. think
Xamarin, the whole iOS implementation could probably be turned into a
nuget. API binding assembly, build/compile/link targets, everything).
Revving XI or XA  typically involves just shipping new t

[2016-12-05 03:09] davidfowl commented on #4056
How would compatibility between frameworks work? Sadly I don't know is what you want scales very well past this simple scenario. What you describe is using one particular feature of nuget (ability to import build targets and props). It wouldn't work for anything else...

[2016-12-05 03:10] AndyTian-Devops opened #4057 "Fail to open link "NuGet config file overview"."
In [NuGet Package Restore Page](https://docs.nuget.org/ndocs/consume-packages/package-restore), i'd like to open link "NuGet config file overview" in **Enabling and Disabling package restore** section.
![20161205](https://cloud.githubusercontent.com/assets/12235523/20872603/d3ff109e-bada-11e6-8810-b5dd3be8e147.png)

**Actual:**
![201612051](https://cloud.githubusercontent.com/assets/12235523/20872

[2016-12-05 13:04] myklik commented on #2880
For me, was proxy enable.when disable proxy problem solved.

[2016-12-05 13:27] kzu commented on #4056
Well, maybe that's a good starting point, and as people need more features beyond importing targets, then we can think about it?

[2016-12-05 16:21] Hoplo commented on #1401
@zhili1208 Sorry was away last week and didn't get a chance to reply.

We have several custom packages that are causing this issue at the moment. One is used in class library projects and is very simplistic. The others are used in web application projects and contain lots of files.

The simple one has 3 sub-folders in the contents folder of the package each of which has a single file in them (In t

[2016-12-05 17:16] skofman1 opened #4058 "Update package - version switch available only from 3.5"
@pawepaw wrote:
Hello,

I just found misleading that you added version parameter to update command but it's available only in 3.5 package which is RC now. In stable 3.4.4 release it's not included. Also if you can probably it'd be better to change it to "specifies target version of the package" because from what is written now you can understand that it'll only update packages that have some speci

[2016-12-05 17:53] #4015 closed, assigned to jainaashish

[2016-12-05 17:53] #4016 closed, assigned to jainaashish

[2016-12-05 18:34] zhili1208 commented on #1401
@Hoplo  Can you try to do following steps for update?
1. uninstall the previous package.
2. checked in all delete changes to TFS.
3. install the new version package.
4. checked in all add changes to TFS.

[2016-12-05 19:56] jainaashish commented on #1094
Can you try with latest NuGet from https://dist.nuget.org/index.html which is 3.5.0.1996 I see it working. If you still see issue, then pls share your sample solution.

[2016-12-05 20:52] #3971 closed, assigned to zhili1208

[2016-12-05 21:36] rrelyea commented on #4058
3.5 is a stable release. you can download it from http://nuget.org/downloads

[2016-12-05 21:36] #4058 closed, assigned to nobody

[2016-12-05 21:58] aL3891 opened #4059 "Dotnet pack project with project reference - FileNotFoundException"
Repro:
in Vs2017 RC (1.0.0-alpha-20161104-2 .net core sdk),
Create a .net standard class library, A
Create another .net standard class library, B
Add project reference to B from A
dotnet restore, build and pack project A

Expected:
a nupkg

Actual:
pack fails with a file not found exception, an incorrect output file somehow gets added as an input.
(also pack target gets imported twice)
[code]

[2016-12-05 21:58] rrelyea commented on #4050
We will likely target RC3, unless this is more common than it seems from this first report.

[2016-12-05 22:05] aL3891 commented on #4059
Running with `/consoleloggerparameters:verbosity=diag`

[code]

[2016-12-05 22:16] zhili1208 commented on #4009
https://github.com/NuGet/NuGet.Client/commit/a197992bde5121575cf0cb5527b6399d41b66032

[2016-12-05 22:16] #4009 closed, assigned to zhili1208

[2016-12-05 22:22] bbowman opened #4060 "Microsoft.Nuget.Props should contain useful nuget properties."
In Nuget 3.5x Microsoft.Nuget.Targets contains some useful properties like $(NuGetRuntimeIdentifier) and $(NuGetTargetMoniker) that could be useful for package authors to better hook into package creation and consumption.

The current use case I see for this is an in build detection of how to add items to a package. For instance, it looks like @kzu uses $(TargetFrameworkMoniker) etc. but this may