[2018-08-02 07:46] v-longmin opened #7167 "[Accessibility][RUS] The title of dialog ‘Migrate NuGet to PackageReference - ProjectName’ was truncated"
## Details about Problem
NuGet version: NuGet Client release-4.8.0-RTM-4.8.0.5362
VS Version: D15.9stg 27931.3000
OS Version: Build 17134.rs4_release.180410-1804
## Detailed repro steps
1. Select RUS through ‘Tools -> Options -> International Settings’
2. Launch VS and click menu Tools->NuGet Package Manager->Package Manager Settings.
3. Check ‘Allow format selection on first package install’ form

[2018-08-02 08:21] adamralph commented on #352
@karann-msft why not bake in the default icon at packaging time? Effectively, when creating the package, the presence of `icon.{known extension}` in the project root would result in the same packaging action as would the presence of `<PackageIcon source="icon.png", target=""/>`.

[2018-08-02 09:08] markusschaber commented on #352
@adamralph As far as I can see, this is not backwards compatible (there might be projects which happen to have an `icon.png` in the root directory for other reasons - I'm not sure whether it's a good idea to start exposing this image silently.

Citing ["The Zen of Python"](https://www.python.org/dev/peps/pep-0020/):

[2018-08-02 09:15] adamralph commented on #352
@markusschaber

I was waiting for someone to play this card. 😉

I agree that it is not backwards compatible, but I expect the number of affected packages to be vanishingly small, and it would only cause a minor, cosmetic, problem. The cost of fixing those packages will be much less than the cost of having to boilerplate `<PackageIcon source="icon.png", target=""/>` across almost very package in th

[2018-08-02 15:53] ghost commented on #7165
The main difference I see is that if I specify the package version and the package type (DotnetTool) in the csproj, using the properties available there, the dotnet pack tool generates a package that contains the lib folder only (so the compiled binaries).

But If I add just the NuspecFile property and specify a nuspec file, then it just copies my entire project (including excluded content files).

[2018-08-02 16:21] JimHume commented on #5273
I've spent nearly a day trying to figure out what argument is invalid.
The pack command works perfectly when run manually, but as part of a build process it fails with "invalid arguments."

This message doesn't provide me with enough information, and running the command with "-Verbosity detailed" doesn't improve the error message either.

[2018-08-02 17:26] karann-msft commented on #352
@adamralph the potential perf impact I cited was for clients to have to cycle through to look for multiple files with different extensions when for example browsing packages from a folder based

[2018-08-02 17:35] tebeco commented on #6978
hi again
i just tested this morning with 2.1.401-xxxxx (the “final preview”)

this photo is the result of my attempt

![4026d4b8-740a-4b8d-a2ba-606e7365cf9a](https://user-images.githubusercontent.com/2266487/43600377-f7fb6854-9679-11e8-9383-f82da118e6a3.jpeg)

after few investigation and playing around with fiddler, a colleague of mine pointed out that :
* our proxy is NTLM (header in the 407)
* t

[2018-08-02 17:37] infin8x commented on #6873
Yep, that totally makes sense, thanks. My point remains though, it'd be great if the help text were:
`
<documentation src=""/>`

Many people will have README.md files in the root of their repo already, and this small change would make it clear that it's easy to make that README part of the NuGet package just by updating the <documentation> tag.

[2018-08-02 18:25] ronnyek commented on #7111
Sounds good. I'll try this out... If nothing else, I'll provide a reproduction project.

[2018-08-02 18:36] ronnyek commented on #7111
Comparing to: https://github.com/nkolev92/NuGet.Tools/blob/50a517e69f812e5b328102a56127fc3d24221e7e/LimitingTransitiveAPIflow/LeafLibrary/ConsumerWithSupressedTransitiveAPI/ConsumerWithSupressedTransitiveAPI.csproj

Is this like saying applications that consume my caching wrapper would have to explicitly go set PrivateAssets="all" ExcludeAssets="compile" in the csproj file?

When I set those insid

[2018-08-02 18:39] nkolev92 commented on #7111
Shouldn't be necessary.

That specific ask there was how to limit intellisense pollution for transitive libraries and the only way to get that to work is to bring it up top level.
I have created an issue for that specific ask
https://github.com/NuGet/Home/issues/6720

Yours is a bit different.

[2018-08-02 19:38] kzu commented on #6872
This is preventing Xamarin from providing tooling around some common user mistakes around packages.

Could this be prioritized higher @rrelyea?

Related work items: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/656082, https://devdiv.visualstudio.com/DevDiv/_workitems/edit/638278

Thanks!

[2018-08-02 19:50] ohadschn commented on #352
@karann-msft just to nit pick, "cycle through" implies sequentiality, where I don't see any reason for the client not to try all 3 (or whatever number of possible fallbacks) files in parallel...

[2018-08-02 20:09] adamralph commented on #352
@karann-msft the location of the icon inside the package can still be baked into the package metadata. My suggestion doesn't change that. What I am saying is that when _creating_ the package, the presence of `icon.{known extension}` in the project folder has the same effect as `<PackageIcon source="icon.{known extension}", target=""/>` in the csproj file.

[2018-08-02 21:30] shamelo opened #7168 "Docs on creating a Native TFM package"
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2018-08-02 22:27] #7166 closed, assigned to nobody

[2018-08-03 01:16] v-luzh commented on #7152
@mishra14 Thanks for your tracking. Just want to confirm with you that why there was no need to install the similar vsix with other languages?

[2018-08-03 02:16] StingyJack commented on #7157
@BilgehanYildiz  - if you diff or checksum the css in the project with the one in the original package, are they the same?

If anyone made a modification to the file (reformatted, added a style, etc), nuget wont update it.

You can get around this with an `init.ps1` or `install.ps1` script (the install.ps1 does not work for newer versions of nuget), or by including a script in the package that can

[2018-08-03 06:05] BilgehanYildiz commented on #7157
They are not same ,there are different css .We added some style or etc.

I am not clearly understand we include some script to our nuget package but how can we run it automatically?

In newer version of nuget,is there any feature about this case,not only to update dll ,content also?

[2018-08-03 06:30] jainaashish commented on #7157
@BilgehanYildiz did your MYWork.css (1.0.0) still the same file which came from MyWork 1.0.0 package or did you modify this file after installing MyWork 1.0.0?

NuGet always updates content files like it updates dll, only exception is when the file has been modified after installation. Then NuGet leaves it as is. You don't need to go for scripts route, I'd highly discourage it.

Try this:
1. Creat

[2018-08-03 12:17] BilgehanYildiz commented on #7157
Hi ,We dont manuelly upgrade css file but for some design reason we exclude css file from our csproj but not change it.That time it is not upgraded but if it is include csproj that time no upgrade problem.Our problem is somefiles in nuget package but not included our csproj,that time not upgrade these files.

[2018-08-03 13:19] dtretyakov commented on #6486
@nkolev92, after adding logging in [our credentials plugin](https://github.com/JetBrains/teamcity-nuget-support/tree/master/nuget-extensions/nuget-plugin) I've faced deadlock problems when I'm using `Connection.SendAsync` method which was in your example:
https://github.com/nkolev92/NuGet.Tools/blob/master/NuGet.CredentialProvider/CredentialProvider.Console/PluginLoggingHandler.cs#L15

During the

[2018-08-03 13:52] begrs commented on #6187
We have the same issue in our large solution system. Here is our process in probably more detail than necessary, but its otherwise hard to get a picture why we run into this issue frequently.

We use an internal nuget package repository and have built our Process like this: **A** -> **B** -> **C**,**D** where **C** and **D** are Web Projects(front-end) which are not nuget packages themselves. (Not

[2018-08-03 14:44] medianick commented on #5138
Here's my workaround:

`nuget list SomePackage -AllVersions | findstr /E " 1.2.3"`

This will set ERRORLEVEL to 0 if SomePackage 1.2.3 exists in the source, but 1 if it is not. The combination of the `/E` switch (match end of line only) and the space before the version causes an exact match of the full version number rather than erroneously matching a substring of it.

[2018-08-03 17:07] OpusKrokus opened #7169 "Allow package manager GUI to download and apply packages it thinks are up to date."
## Details about Problem
There have been several times I have have downloaded projects from GitHub and other places where NuGet thinks everything is installed, but it is not.  By that, I mean the DLLs referenced by the project are missing.  I can uninstall and then reinstall the package (per the current documentation), but it would be nice if there were an option in the GUI for forcing a reinstall

[2018-08-03 17:18] nguerrera commented on #6279
See also https://github.com/dotnet/sdk/issues/968#issuecomment-410319090 that notes that PrivateAssets="all" can prevent analyzers from flowing, if you can afford to prevent all other package assets from flowing.

[2018-08-03 17:33] jainaashish commented on #7157
ahh then this is by design. NuGet will only update those files which were included in project. If you already excluded them, then you need to handle the update scenario as well.

You can have MSBuild targets to manage the update of these files.

[2018-08-03 17:33] #7157 closed, assigned to nobody

[2018-08-03 18:06] jainaashish commented on #7168
There are bunch of different documents on NuGet.org about creating different kind of packages like:
https://docs.microsoft.com/en-us/nuget/create-packages/overview-and-workflow
https://docs.microsoft.com/en-us/nuget/quickstart/create-and-publish-a-package-using-the-dotnet-cli
https://docs.microsoft.com/en-us/nuget/quickstart/create-and-publish-a-package-using-visual-studio-net-framework
etc...

Do

[2018-08-03 18:18] mungojam commented on #6873
@alexmullans I guess for most packages, they will want different things in their main Readme.md at the repo root than they want in their documentation. The repo root one usually has a focus on how to build and contribute to the package rather than how to use it (though I wish that both were easily accessible)

[2018-08-03 18:43] jainaashish commented on #7169
Whenever you download projects from GitHub or any other place, and does a NuGet restore it will get the missing references on the disk unless the project itself was messed around. This is the core issue in your case so when you come across this, please log an issue with all the relevant details to investigate.

About reinstallation option in GUI, then we haven't seen this request from lot of custo

[2018-08-03 19:05] jainaashish commented on #7160
On a second thought, NuGet UI can do a better job showing list of frameworks even though there is no dependency similar to NuGet.org behavior.... That will be really useful for the consumer to figure out the supported framework until we have the search by tfm or package applicability features in place.

![image](https://user-images.githubusercontent.com/18219758/43661009-82b99bbe-9715-11e8-8988-86

[2018-08-03 19:09] shamelo commented on #7168
None of this documentation helps as I am specifically trying to package a dll (that is unmanaged code). When I follow the documentation, I get the following error:

Install-Package : Failed to add reference to 'AppDynamics.Profiler_x64'.
  Please make sure that the file is accessible, and that it is a valid assembly or COM component.

Here is my nuspec file:
`<?xml version="1.0"?>
<package >
  <me

[2018-08-03 19:20] infin8x commented on #6873
That's totally fair. I'm coming from an npm background, where the README.md is just included by convention in the package (so a lot of popular projects seem to cover both the "use" and the "build and contribute" content in the README). Some examples: [express](https://github.com/expressjs/express), [lodash](https://github.com/lodash/lodash). I'd also aruge that the CONTRIBUTING.md is the right con

[2018-08-03 21:28] chuanboz commented on #1792
Any update for this? I see it labled with Priority 1 but has a conflict milestones as Backlog.

[2018-08-03 21:45] jainaashish commented on #6486
I'm not sure about the wrong scenario here, but can give some thoughts on `ConfigureAwait(false)` whether it makes sense for this current case, is up to you to decide.

In my discussion with CPS/ extensibility team, `ConfigureAwait(false)` should not be used with `JTF` aware code since this option will always return on threadpool thread and will never return to the original `SynchronizationContext

[2018-08-03 22:00] nkolev92 commented on #6486
@dtretyakov

You are right the correct approach is to use SendRequestAndReceiveResponseAsync for logging.

I think Aashish, provided enough context about the ConfigureAwait usages.

I assume the deadlock is on the plugin side?

[2018-08-04 05:21] xsoheilalizadeh commented on #7159
Hey @jainaashish, Sorry about this I think they are a common issue and please close this issue.
Good luck;

[2018-08-04 07:45] pascalberger commented on #7008
@PatoBeltran Any news here? Was the dump file helpful?

As more and more packages are signed this will start to become a bigger issue for us, meaning we will have build times increased by 4 minutes (or multiple times 4 minutes) or cannot update to newer version of specific libraries and tools.

Is there any chance to get some kind of flag to skip verification in a hotfix of nuget.exe so that we ca

[2018-08-04 12:49] mcpine9 commented on #6894
I am unable to get this working. I am having the same issue as [#6404](https://github.com/NuGet/Home/issues/6404). As the title states, "ContentFiles, buildAction and copyToOutput wont work." This goes for a class library as well. Here is my .nuspec file:
[code]
When I create the package the items in **contentFiles** do not apply "buildAction = None" nor "copyToOutput = true". Build action is set

[2018-08-04 12:51] 304NotModified commented on #6894
we having also problems: see https://github.com/NLog/NLog/issues/2823

[2018-08-04 22:43] Cloudmersive commented on #3891
When is this going to get fixed??  This is such a mess

[2018-08-05 19:07] mi-hol opened #7170 "'nuget update -self' only updates to version 4.6.2 on WSL - Ubuntu 18.04.1 and fails permanently afterwards"
sudo nuget update -self
Checking for updates from https://www.nuget.org/api/v2/.
Currently running NuGet.exe 2.8.7.
Updating NuGet.exe to 4.6.2.
Update successful.

but then every following nuget command fails;
[code]

OS version:
Windows; Microsoft Windows 10.0.17134
WSL: Linux W10D-RS4 4.4.0-17134-Microsoft #112-Microsoft Thu Jun 07 22:57:00 PST 2018 x86_64 x86_64 x86_64 GNU/Linux
mono --version

[2018-08-05 21:13] mi-hol commented on #7170
could be related to https://github.com/dotnet/corefx/issues/31449

[2018-08-06 07:26] ygoe opened #7171 "Installing NuGet package that is marked as a development dependency doesn't add the PrivateAssets="All" attribute to the PackageReference element"
Here's the details. Unfortunately you seem to have deleted the referenced issue. And Microsoft won't let me comment on their side.

https://developercommunity.visualstudio.com/content/problem/23158/installing-nuget-package-that-is-marked-as-a-devel.html

[2018-08-06 08:06] dtretyakov commented on #6486
@nkolev92, yes plugin, [has dependency](https://github.com/JetBrains/teamcity-nuget-support/blob/master/nuget-extensions/nuget-plugin/nuget-plugin.csproj#L12) on `NuGet.Protocol` library and experience deadlocks after sending log message via `SendRequestAndReceiveResponseAsync` method.

@jainaashish, from my point of view it's fine to have in the `NuGet.Protocol` library code `ConfigureAwait(false

[2018-08-06 09:52] SE250880 opened #7172 "Including PCL iOS resources in a nuget packages"
I´m using Xamarin Forms and created a PCL project 1 with special ios images (custom renderer buttons with icons). Now I would like to create a nuget package from this project to embedd it into another PCL project 2.
My nuget defines:
  iOS reference assemblies
 file src="APP.Standard\APP.Standard.iOS\bin\iPhone\Release\APP.Standard.iOS.exe" target="lib\Xamarin.iOS10"

Everything works fine if I in

[2018-08-06 13:59] MV10 commented on #5484
I request a "do not cache" setting at the individual package reference level.

I often work on several related libraries at once, all packaged to a local folder during development. The problem described by the OP applies here. Additionally, there is no point in copying these to a cache, they're already on the local drive.

I work on at least one large open source project that does deploy `prerelea

[2018-08-06 17:14] jainaashish commented on #6486
@AArnott also recently added a topic on this `ConfigureAwait(false)` in his `Cookbook for Visual Studio` You might wana take a look [here](https://github.com/Microsoft/vs-threading/blob/master/doc/cookbook_vs.md#should-i-await-a-task-with-configureawaitfalse)

Since this library isn't app independent (also being consumed inside VS), I don't think `ConfigureAwait(false)` will be the right thing to

[2018-08-06 17:16] karthikanandan commented on #6681
Hi @joelverhagen

We have face this **500 internal server error** problem again in Visual Studio 2017 version 15.7.3 and above. Same packages installed properly in below versions.
15.3
15.4.3.
15.5.
15.6.1

**Machine Details**:
Windows 10 OS
VS2017 Professional - 15.7.3
NuGet Package Manager – 4.4.0
NuGet.Server - 3.1.2

**Workaround not work for this version**:
Changing the NuGet Package options

[2018-08-06 17:52] PatoBeltran opened #7173 "Add option to override default of online revocation check"
Currently, in the verification code for signed packages we check for revocation online always, if the machine is not online we still try to make the verification online and give a warning if it was not possible.

We should add a flag (probably to nuget.config and CLI commands) that lets the users specify the revocation verification mode, either online or offline.

cc. @dtivel

[2018-08-06 17:53] PatoBeltran commented on #7008
@pascalberger I'm sorry I just recently have time to look at this issue. I cannot download the dump, it seems to be unavailable, can you provide it again?

@gep13 technically speaking, the .NET API we use to build the chain should know if it wasn't possible to build the chain because the machine was offline and will only produce a warning, but you are correct, we should add an option to override t

[2018-08-06 17:57] jainaashish commented on #6894
@mcpine9 `ContentFiles` only applicable when installed into a project using `PackageReference`... so if you're trying to install it with `packages.config` then it won't work. You'd need to explicitly set those properties either through MSBuild targets (highly recommended) or powershell scripts like install.ps1...

[2018-08-06 17:59] #7159 closed, assigned to nobody

[2018-08-06 18:00] pascalberger commented on #7008
@PatoBeltran Uploaded again: https://wetransfer.com/downloads/404b44ac2b0b2ae78cd6e01533ff906020180806175922/f9cd2dc21aa8d864cd6526061c8cc0d320180806175922/f89c91

[2018-08-06 18:35] cltshivash commented on #5877
@jainaashish Any update on the packagereference support being available for Web projects (ASP.NET full framework) ? We have an issue that is dependent on this support being available. (https://github.com/Microsoft/testfx/issues/241)

[2018-08-06 18:55] PatoBeltran commented on #7008
Hey @pascalberger the dump was not really helpful in giving me the information I needed to understand what was going on. Can you help me out giving me an ETL trace?

Here are some instructions on how to do it:
1. Download and extract PerfView.exe  Download [here](https://www.microsoft.com/en-us/download/details.aspx?id=28567).
2. Run `PerfView.exe collect /zip:true /nogui /threadtime:true /AcceptE

[2018-08-06 19:22] jainaashish commented on #5877
We're talking to AS.NET full framework team to be able to support `PackageReference` for this but there are some core issues with existing ASP.NET specific packages to be able to work well with `PackageReference` like `Content` folders, `install.ps1/ uninstall.ps`, `XDT transform`, etc... which is why we have not been able to make much progress.

We're evaluating multiple options at this time, one

[2018-08-06 20:43] dtivel opened #7174 "Signing: incorrect URL check"
NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):  All

NuGet version (x.x.x.xxx):  4.8

Worked before? If so, with which NuGet version:  4.7.  [This commit](https://github.com/NuGet/NuGet.Client/commit/c4c7d2d3dd75604be94161a19c3c4e31dd4fb7d3) is the root cause.

[This](https://github.com/NuGet/NuGet.Client/commit/c4c7d2d3dd75604be94161a19c3c4e31dd4fb7d3#diff-34ecb638

[2018-08-06 21:18] dtretyakov commented on #6486
@jainaashish, as I said `Task.Run()` with a `Connection.SendRequestAndReceiveResponseAsync` call  without changes in `NuGet.Protocol` library does not prevent deadlock. Only after adding `ConfigureAwait(false)` I was able to make logging working and that is the problem.

[2018-08-06 23:25] nkolev92 commented on #6662
Duplicate of https://github.com/NuGet/Home/issues/5712.

//cc @mishra14 @zhili1208

[2018-08-06 23:25] #6662 closed, assigned to nobody

[2018-08-06 23:54] nkolev92 opened #7175 "Update dependencies to work in VS2019 and to fix all package graph warnings"
For instance, its failing with interop type error on Agent: DDMBLDW133 -  https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=1923907&_a=summary&view=logs
Same issue on another Agent: DDMBLDW133 - https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=1923848&_a=summary&view=logs

[code]

Comment from Andrew
[code]

[2018-08-07 01:10] mistachkin commented on #3050
There is now a custom build of NuGet that addresses the issue under discussion, signed with my [EV Code Signing](https://en.wikipedia.org/wiki/Code_signing) certificate, available [here](https://urn.to/r/nuget-3050-fixed).  It is a "Debug" build because I was unable to figure out the necessary steps to make the "Release" build work.  The PDB file is included.

[2018-08-07 01:37] #7174 closed, assigned to PatoBeltran

[2018-08-07 02:53] karann-msft commented on #352
@adamralph I now see what you mean. What's your typical package creation workflow? Do you run pack on a folder, nuspec, or a csproj?

[2018-08-07 02:58] karann-msft commented on #6873
Thanks for the feedback @alexmullans. We'll clarify that in the docs. Note that this text will get generated only when you run nuget spec.

[2018-08-07 05:20] AArnott commented on #6486
If the library applies to several apps, not all of which follow JTF threading rules, `.ConfigureAwait(false)` is probably the right way to go. But if it's to solve deadlocks, you may want to find where the threading rules are not being observed anyway to reduce risk that the deadlocks may reappear later/elsewhere.

[2018-08-07 06:46] markusschaber commented on #352
@karann-msft about the perf impact with "cycle through": As the client knows which file types it supports, it can filter by known extensions and choose the first hit, just while parsing the list of icon pathes, long before hitting the network. Also, it's usually only a handful of icons (I don't see any need to add more than 2 - a bitmap and a vector one). So the performance impact is not that seri

[2018-08-07 07:09] v-luzh commented on #6318
@mishra14, we can see the warning NU3018 show in Error List window even without running "nuget.exe locals -clear all" with .NET Core project on D16.0stg 28002.3001 + NuGet Client dev\5.0.0.5381. But it still repro on packages.config project.

[2018-08-07 08:36] v-longmin commented on #6381
@mishra14 The issue has fixed on D16.0stg 28002.3001 + NuGet Client Dev\5.0.0.5381.

[2018-08-07 08:56] v-luzh opened #7176 "[Test Failure] PackageReference Migrator menu was enabled incorrectly to all projects include C++ and .NET Core"
## Details about Problem
NuGet version: NuGet Client Dev 5.0.0.5381
VS Version: D16.0stg 28002.3001
OS Version: Windows 10 RS4_Release 17134.1.180410-1804
## Detailed repro steps
1. Create a C++ UWP template via VS.
2. Open PM UI of the project by right-clicking the project->Manage NuGet Packages… in Solution Explorer.
3. Install a package (e.g. “SampleCPlusPlusDevicePackage”) with “Packages.confi

[2018-08-07 10:55] TiltonJH opened #7177 "Contradicting error/warning messages in nuget pack"
## Details about Problem

NuGet.exe

NuGet version 4.6.2.5055, 4.7.0.5148 and 4.8.0.5278

## Description

I run a powershell script on TFS build to pack my nuget packages like this:
`& $nugetExe pack $fullName -BasePath $outputDirectory -OutputDirectory $outputDirectory -IncludeReferencedProjects -Verbosity detailed;`

`$fullName` specifies my .csproj file.
(FYI: I only want to pack .csproj-files

[2018-08-07 11:19] adamralph commented on #352
@karann-msft I use both nuspec and csproj for creating packages.

[2018-08-07 12:09] StingyJack commented on #352
These all sound great, but can we get  `<iconUrl>file://content/images/nugetIcon.png</iconUrl>`  to work first? That I think is the minimum for me.

[2018-08-07 12:15] adamralph commented on #352
@StingyJack you'd have less to do if `icon.png` in the root of your project were used automatically.

[2018-08-07 12:18] StingyJack commented on #352
True, but someone would have to program that extra bit of automagic instead of just using the existing setting and uri. Either would be less than figuring out all the scaling and image format support. None of these are as important as the other open issues I have.

[2018-08-07 12:20] StingyJack commented on #7168
If you extract the nupkg that you create, does it have all the files you expected to see?

[2018-08-07 12:53] mikeclayton opened #7178 "nuget.exe returns exit code zero for invalid arguments"
NuGet product used: nuget.exe

NuGet version (x.x.x.xxx): 4.7.0.5148

OS version (i.e. win10 v1607 (14393.321)):

[code]

## Detailed repro steps so we can see the same problem

Calling nuget.exe with invalid command line arguments shows the help text for the command, but terminates with a zero exit code which makes it difficult to catch errors when calling nuget.exe from a script.

For example, w

[2018-08-07 14:52] drypa commented on #1365
stylecop analyzer should not go to *.nupkg
for me helps in .csproj file set for stylecop:
`<PackageReference Include="StyleCop.Analyzers" Version="1.1.0-beta008">
      <ExcludeAssets>all</ExcludeAssets>
    </PackageReference>`

[2018-08-07 17:09] hickford commented on #7130
Motivation: this bug affected my application which calls PackageResolver.Resolve. I worked around it by special casing.

[2018-08-07 17:40] eschneider999 opened #7179 "Restore not working in Visual Studio"
## Details about Problem
Nuget package manager 4.6.0
Visual Studio 15.7.6

Restore says it completed
All packages are already installed and there is nothing to restore.
Time Elapsed: 00:00:00.5365078
========== Finished ==========

Yet I still get a build error:
Severity	Code	Description	Project	File	Line	Suppression State
Error		This project references NuGet package(s) that are missing on this co

[2018-08-07 17:42] StingyJack opened #7180 "Nuget package update reformats config files poorly or creates unwanted config files"
The [VS Feedback item](https://developercommunity.visualstudio.com/content/problem/182303/nuget-package-update-reformats-config-files-poorly.html) has the original unredacted attachment illustrating the problem.

![image](https://user-images.githubusercontent.com/15381181/43792564-1316de9a-9a47-11e8-8a2f-087223997ff4.png)
In this redacted example, you can see its removed the line breaks as well as

[2018-08-07 18:50] eschneider999 commented on #7179
I figured out what was wrong.

I made a copy of the project in a different folder. The visual studio project file had all the wrong paths even after restoring nuget packages.

So the packages were there but the project file was bad.

Should't nuget update the project file with the new path?

[2018-08-07 18:56] mishra14 commented on #7171
@ygoe The referenced issue is still available [here](https://github.com/NuGet/Home/issues/4125).

Further, if you see [this](https://github.com/NuGet/NuGet.Client/pull/2182) PR, you will notice that this has been fixed in VS 15.8 release. Have you tried a 15.8 preview?

[2018-08-07 20:27] StingyJack opened #7181 "Is there a way to manage allowedVersions across all projects in a solution?"
I want to limit a set of packages to stay below a specific version number for every project in a solution. Is there a way to do that (EDIT: without having to manage this at each individual projects)?

[2018-08-07 20:29] agr commented on #4628
I am reading the spec, and the impression I am getting that using SPDX expression and using custom license packaged with a file are mutually exclusive options. Is it expected that users wouldn't be able to do something like "GPL-3.0-only OR MySuperCustomLicense"? Does anyone want to do that?

[2018-08-07 23:30] mishra14 commented on #7176
@v-luzh This is the new expected behavior. @jainaashish fixed this as part of https://github.com/NuGet/NuGet.Client/pull/2361.

Please update the tests as the option will be available for all project types, but on clicking it a dialog will be generated for unsupported project types.

[2018-08-07 23:30] #7176 closed, assigned to nobody

[2018-08-08 07:55] philippdolder opened #7182 "Update-Package -Id <package> -Reinstall also reinstalls other packages"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
Package Manager Console
NuGet version (x.x.x.xxx):

dotnet.exe --version (if appropriate):

VS version (if appropriate):
2017 (15.7.4)
OS version (i.e. win10 v1607 (14393.321)):
Win 10
Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

1. ex

[2018-08-08 08:49] ferarias commented on #3530
This issue is still active. This is a friendly "bump"

[2018-08-08 09:10] xavierlaffargue commented on #1827
Same issue for me, thanks zorgoz it's work !

[2018-08-08 09:20] pascalberger commented on #7116
@jainaashish Thanks for fixing this. Do you plan to also publish a version of `nuget.commandline` 4.7 without metadata to nuget.org or will this only be fixed with the next release?

[2018-08-08 10:56] StingyJack commented on #7179
It will only do that if you either remove then re-add the package, or use `Update-Package` with `-reinstall`. Nuget is actually not as tightly integrated with the project system as the impression it gives.

If you use a nuget.config in the same directory as the sln file, and it has relative pathing to the package folder, you can copy that solution to wherever.

[2018-08-08 11:35] StingyJack commented on #7139
If this is used to configure the restore operation, why would this be a "lock" file and not a "config" file?  "Lock" is not going to make as much sense to users.

That perception part is worded/reads poorly. The lock/config file is something that users need to see and be able to modify and checkin if repeatable restore are needed. Why not just add an <ItemGroup> in the project file for this instea

[2018-08-08 11:48] PrashanthKarnam commented on #3342
Hi

I am using Visual Studio 2017 version and i do not see the transitive dependency for build.targets being resolved.

Can you please tell me if the fix has any particular update to be considered to make it work ?

@jainaashish @emgarten

Repro Steps :

    Create a .Net Core Console Application targeting x64 architecture.

    Add the nuget package : https://www.nuget.org/packages/IBM.EntityFram

[2018-08-08 12:30] adrian-moll commented on #7008
Hi @PatoBeltran ,
We have the same Issue on our buildserver (Windows Server 2016, no internet access).
Nuget restore is taking about 4 minutes (packages are stored on an in-house ProGet server).
The problem seems to be that on nuget verify the revocation server is not accessible.
(tested with  nuget.exe V4.6.2.5055 and V4.7.0.5148: same issue for both)

Is there any possibility to disable the sign

[2018-08-08 13:04] pjshah70 opened #7183 "Unable to locate the 'nuget' [b3be7473-68ea-4a81-bfc7-9530baaa19ad] area"
Our VSTS build was successfully executing and nothing changed in the code, but suddenly, build started failing with following error saying 'Nuget' is not available in you area. Not sure what it means and how to resolve it.

2018-08-07T19:35:56.5091729Z ##[section]Starting: SMS - Restore NuGet Packages
2018-08-07T19:35:56.5097852Z ====================================================================

[2018-08-08 13:20] ygoe commented on #7171
No, I'll wait for the release. Do I have to mark the tool package in some way?

[2018-08-08 14:28] tawani commented on #5768
Happening for me too with Visual Studio 15.7.6

[2018-08-08 15:23] eschneider999 commented on #7179
is there any plans to fix these issues?

If I do a restore, why doesn't it just remove the existing paths, that doesn't make sense.

[2018-08-08 17:20] jainaashish commented on #7116
Yes, we're working towards that and will be done in next couple of days.

[2018-08-08 17:21] jainaashish commented on #1827
@mishra14 can you please look into this and reopen if this still repros.

[2018-08-08 17:21] jainaashish commented on #1827
oops didn't mean to open it right away....

[2018-08-08 18:21] karann-msft commented on #4628
@agr That's right and by design. "GPL-3.0-only OR MySuperCustomLicense" is by definition a custom license and you should just put that into your license file and point to it.

[2018-08-08 18:46] ghost commented on #7165
I finally opted by defining a task and executing dotnet pack providing command line arguments as described at https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-pack?tabs=netcore2x, but yet I find the metadata property Owners (used by Nuget and supported in the nuspec file) is not documented at https://docs.microsoft.com/en-us/dotnet/core/tools/csproj#nuget-metadata-properties.

[2018-08-08 19:05] mishra14 commented on #7182
This has been fixed as part of https://github.com/NuGet/NuGet.Client/pull/2294

Can you please try with latest Visual Studio 15.8 preview?

[2018-08-08 19:15] mishra14 commented on #7181
@jainaashish and @anangaur Have been discussing something related. Guys do you have any docs for @StingyJack ?

[2018-08-08 20:29] 4creators commented on #7181
It is two step process: (i) abstract versions as global properties in msbuild, (ii) declare versions capped to highest one you want to use. Warning: this will not prevent NuGet from restoring whatever it wants from dependency graph.

(i) use `Directory.Build.props` in the root of your solution and declared dependencies version in form of properties in that file instead of doing it in every project

[2018-08-08 20:45] Paqi opened #7184 "Nuget CLI Delete command does not ignore trailing zeros in version numbers"
## Details about Problem

NuGet product used (NuGet.exe):

NuGet version (4.7.0.5148):

## Detailed repro steps so we can see the same problem

1. Add [zlib.net 1.0.3](https://www.nuget.org/packages/zlib.net/1.0.3) to a nuget feed

2. Run the nuget CLI [list command ](https://docs.microsoft.com/en-us/nuget/tools/cli-ref-list) against that feed, and note that the package is listed as `zlib.net 1.0.

[2018-08-08 21:07] anangaur commented on #7181
We are looking at ways to improve the central package version management for NuGet but this is still in incubation phase and not committed yet. You can find more details on the issue: https://github.com/NuGet/Home/issues/6764

[2018-08-08 21:49] PatoBeltran opened #7185 "If package is repository signed by a source and downloaded from it, nuget should validate that the service index announces a repository signatures resource."
When a repository-signed package is downloaded from a source that supports repository signatures (i.e. the package was repository signed by the source it was downloaded from), the package extraction should validate three things:

- The repository must have a `repository signatures` resource announced in their service index
- This resource is served over HTTPS
- The package downloaded was repositor

[2018-08-08 22:38] StingyJack commented on #7181
@4creators  - thanks but we are not able to move to package reference until at least [the first three of these](https://docs.microsoft.com/en-us/nuget/reference/migrate-packages-config-to-package-reference#package-compatibility-issues) are resolved, as well as the warning you noted. Most of the software I write/maintain is for the heavily regulated pharmaceutical packaging industry.  I can't be fo

[2018-08-08 22:57] mishra14 commented on #7171
You need to add the following to your nuspec file -

`<developmentDependency>true</developmentDependency>`

You can read more about it [here](https://docs.microsoft.com/en-us/nuget/reference/nuspec#developmentdependency).

[2018-08-08 23:10] nkolev92 commented on #5286
Fixed in https://github.com/NuGet/NuGet.Client/pull/2297.
That allows the credentials to be called out as basic explicitly avoiding this pitfall.
Follow up issue for docs - https://github.com/NuGet/docs.microsoft.com-nuget/issues/1007

[2018-08-08 23:10] #5286 closed, assigned to nkolev92

[2018-08-08 23:17] StingyJack commented on #7179
Since you have mentioned "paths wrong in the csproj", you probably have a package.config file and not package reference in the csproj. This means that the answer to your question is "No" if you intend to continue using packages.config, as there will be no more development on this style of nuget package management ([source](https://docs.microsoft.com/en-us/nuget/reference/migrate-packages-config-to

[2018-08-08 23:57] mishra14 opened #7186 "NuGet clients should warn if nuget.org is used as an HTTP source"
Discussion started during discussing this PR - https://github.com/NuGet/NuGet.Client/pull/2379.

Currently nuget client does not warn users that use http instead of https. Adding a warning may help in moving people to https.

[2018-08-08 23:57] mishra14 commented on #7186
cc: @PatoBeltran @dtivel

[2018-08-09 01:02] eschneider999 commented on #7179
What nuget config are you talking about? do you mean the packages.config? That only has lib names, version and framework. No paths.

I would use the package ref but I keep finding issues with it, and they don't seem to get addressed. Also some published packages are known to not work with that new process. When you have a large solution, that's a big if. Maybe you could have an indicator that the

[2018-08-09 01:11] eschneider999 opened #7187 "Installing package into VB project does not work properly"
Visual Studio Pro 15.7.6
Nuget Package Manager 4.6.0

Added a package but the reference is not show.

Worked before? not for me

## Detailed repro steps so we can see the same problem

1. Create new .net framework 4.6.1 class lib VB project. (maybe it works in c#, but doubt it)

2. Add my package: Symbiotic_Micro_ORM_Net_Standard_x64 2.1.5

No reference is shown, and cant be used. I either have to

[2018-08-09 03:07] StingyJack commented on #7179
Here is a screenshot of how I have one of our medium sized solutions setup with a nuget.config file.
![image](https://user-images.githubusercontent.com/15381181/43874572-84a9a7e0-9b5a-11e8-8c03-fa26e7866566.png)

I dont think you need to make it part of the solution, it just has to be in the same directory with the solution. VS reads that config file and uses that `repositoryPath` to put the packa

[2018-08-09 03:52] eschneider999 commented on #7179
Thanks for the feedback. Do you have any links handy for the nuget.config?
Also if I use this nuget.config does that dictate which way to use nuget packages? ref vs config?

[2018-08-09 04:51] #7172 closed, assigned to nobody

[2018-08-09 06:44] MagicAndre1981 commented on #6403
@Monte-Christo it looks like Microsoft no longer cares about VS2015 users.

[2018-08-09 07:01] Dabbel commented on #6970
Still no new news? In my opinion this is a crtitical bug and ne response for nearly 2 month

[2018-08-09 08:06] StefanoVuerich opened #7188 "Extremely slow Pack with version >= 4.1"
I'm reporting an extremely slow pack using Nuget >= 4.1 on VSTS.

Using version >= 4.1 the pack takes about 7 minutes using 50% CPU.
With 3.5 only 1.5 minute.

Here is the problematic file entry(removing that one speed up the pack process).

`<file src="..\ThePathIUse\net461\win7-x64\publish\**\*.*" target="" exclude="**\*.exe"/>`

And here is the stack i collect using ProcessHacker

0, ntoskrnl.e

[2018-08-09 09:29] markusschaber commented on #4628
Hmm - one Point is that "GPL-3.0-only" is a valid alternative choice of "GPL-3.0-only OR MySuperCustomLicense", so someone redistributing it can always choose the "GPL-3.0-only" variant. I think it could be discussed with the SPDX guys whether they want to add some way to express this to their SPDX expression definition.

[2018-08-09 09:52] andrewducker commented on #4537
Just encountered this myself.  How can I tell what all the packages available are, when the List command only returns the latest versions?

[2018-08-09 11:02] karthikanandan commented on #6681
I am trying to install NuGet packages to Windows Forms App (.Net Framework) application in Microsoft Visual Studio Professional 2017, Version 15.7.3. It’s return 500 internal server error. I am using our own private NuGet feed. Cleared Nuget cache before install.

I have install that package using same feed URL to ASP.NET Web Application (.Net Framework) application or other applications. It’s ins

[2018-08-09 12:29] markusschaber commented on #4628
I got some feedback from the SPDX guys: ("CustomAlternateLicensing" is a placeholder for whatever you choose as the name for the proprietary license).

So, "GPL-3.0-only OR LicenseRef-MySuperCustomLicense" is valid SPDX expression, and it makes sense to include the full license terms in a license file within the NuGet package.

Thus, I think it's a valid use case to include both an SPDX expression

[2018-08-09 13:44] dtretyakov commented on #6486
@nkolev92, @jainaashish is is true that If `NuGet.Protocol` library is intended to use by NuGet plugins authors or should we write our own implementations of the [NuGet Protocol](https://github.com/NuGet/Home/wiki/NuGet-Package-Download-Plugin)?

[2018-08-09 15:08] TFTomSun commented on #6045
I face the same issue and would like to see a pure MSBuild non interactive solution for that, too. The build shouldn't depend on a specific build environment. The proposed solution with username and password and getting the password from an environment variable is the way to go from my point of view, because that is supported by all CI/CD tools.

[2018-08-09 16:07] mi-hol commented on #7170
Seems caused by a bug in WSL that is already fixed in W10 insider preview Microsoft/WSL#3286

with workaround in mono/mono#9891 mono installed.

After mono installed correcty the bug is gone :)

[code]

[2018-08-09 16:07] #7170 closed, assigned to nobody

[2018-08-09 16:40] iotalambda opened #7189 "The 'Source' parameter is not respected for the transitive package management based project(s)"
## Details about Problem

NuGet product used: Package Manager Console

NuGet Package Manager Host version:  4.7.0.5212

dotnet.exe --version: 2.1.302

VS version: 15.7.5

OS version: Microsoft Windows [Version 10.0.14393]

## Detailed repro steps so we can see the same problem

``PM> Install-Package AutoMapper.Collection.EntityFrameworkCore -Version 0.1.0-ci-00003 -Source https://www.myget.org/F/a

[2018-08-09 17:12] jainaashish commented on #6486
Yes it's intended to be used by NuGet plugins authors...

As Andrew suggested we can proceed with adding `ConfigureAwait(false)` for Plugin library and discussed with @dtivel as well.

[2018-08-09 20:10] #6771 closed, assigned to zhili1208

[2018-08-09 20:13] zhili1208 opened #7190 "doc change for maxHttpRequest config"
need to update the NuGet.Config doc for maxHttpRequest

[2018-08-09 22:02] livarcocc opened #7191 "Exclude default assemblies from nuget package"
_From @matkoch on August 8, 2018 17:31_

Is it somehow possible to exclude the default assemblies, e.g. `<lib>/<framework>/SampleApp.dll`, from the final nuget package?

_Copied from original issue: dotnet/cli#9806_

[2018-08-09 22:23] mishra14 commented on #7191
@matkoch you can use the `-Exclude` option in the pack command - `nuget pack -Exclude lib/**/SampleApp.dll`.

You can read more about the options [here](https://docs.microsoft.com/en-us/nuget/tools/cli-ref-pack#options).

[2018-08-09 22:24] matkoch commented on #7191
I would prefer a way to do this in the csproj file.

[2018-08-09 22:29] mishra14 commented on #7191
@matkoch - I See. Will setting `IncludeBuildOutput` to false resolve your issue?

Reference - [IncludeBuildOutput](https://docs.microsoft.com/en-us/dotnet/core/tools/csproj#includebuildoutput)

[2018-08-09 22:37] mishra14 commented on #7183
@pjshah70 This seems like a VSTS issue. Can you contact the microbuild/vsts build team?

[2018-08-09 23:34] PatoBeltran commented on #7008
Hey @adrian-moll, thanks for taking the time to get the ETL trace. I tried analyzing it but the data says that the whole operation for the command took around `93.0 milliseconds`. I was not able to find any data showing the 4-minute delay you mention. Could it be that you sent the wrong ETL trace? or that when you captured this it didn't repro?

As one step of the verification, we invoke dotnet AP

[2018-08-10 00:44] shamelo commented on #7168
I do see the files that I expect to see. When I install it, that's when I
see the error:

Install-Package : Failed to add reference to 'mydll.Profiler_x64'.
Please make sure that the file is accessible, and that it is a valid assembly or COM component.

I am using Visual Studio 2017 (Enterprise). Also, I have used the previous links as a guide to building the package. Those don't seem to help.

Th

[2018-08-10 01:01] rohit21agrawal commented on #5752
this has been fixed already

[2018-08-10 01:01] #5752 closed, assigned to rohit21agrawal

[2018-08-10 01:04] jherby2k opened #7192 "API can deadlock when called from synchronous code. Should be using ConfigureAwait(false)."
## Details about Problem

The nuget v3 API uses async/await extensively, but doesn't seem to use ConfigureAwait(false) internally. This means synchronous APIs have to go out of their way to avoid deadlocks by calling your code on the threadpool, like this:

[code]

It would be super cool if you could add some .ConfigureAwait(false) calls wherever await is used. I don't believe there are any drawba

[2018-08-10 12:22] chilakamarthi opened #7193 "Update-Package modifies PackageReference version"
HI,

My VS version is 2017. I see there is PackageReference in this version of VS.

Here is the issue I observed.

I created sample UWPEmpty project.

1. Added my nuget package UWPClass with version 1.1.2345.2346.
    Observed my project file got new entry as below
           <PackageReference Include="UWPClass" Version="1.1.2345.2346" />.
2. To control updates, I updated Version no to Version="(1

[2018-08-10 14:22] matkoch commented on #7191
Disabling would work. However, there is also `BuildOutputTargetFolder`, but that will again have a `net461` sub-folder. Is there any way to disable this behavior as well? Otherwise, I would just set the other property to false, and add the packages via `Pack=true`.

[2018-08-10 14:39] karann-msft commented on #352
@markusshaber we'd rather not make package consumers take any perf hit if possible. On the authoring side, you used to specify a url before (and had to find a place to host the image), now it's a file path to an image within the package.

@adamralph would you expect only a specific file name and extension to get picked up from that known location? So only if the image is named icon.png and is plac

[2018-08-10 15:11] karann-msft commented on #4628
@markusshaber good feedback. Know of any real world packages that need to be able to do this?

[2018-08-10 15:33] SQLEmil commented on #3324
Hi @rrelyea! Sorry to steal your thunder, I was just so excited when I saw it. Finally had a chance to come back around to test it, and it works great! Turned up an issue with the Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.4.0 package, but it's nothing to do with the CLI. (It installs an unexpected folder structure that does not contain its own nupkg file, but it just threw a w

[2018-08-10 16:45] ilyakharlamov opened #7194 "'11.2.0.3.0' is not a valid version string, Parameter name: value"
## Environment

NuGet product used: reproducible in both nuget.exe and dotnet.exe

NuGet version :  4.7.0.5148

dotnet.exe --version : 2.1.302

OS version: Mac OS X High Sierra 10.13.6 (17G65)

Mono: 5.12.0.226

## Steps

1. Mac OS X, make sure mono is installed (for example, brew install mono; brew install nuget )

2. clone the https://github.com/fsprojects/ProjectScaffold/  - (this is the defaul

[2018-08-10 16:50] eschneider999 commented on #7187
have you confirmed it works in a c# project?

[2018-08-10 16:59] eschneider999 commented on #7187
![nugetissue_noref_cs](https://user-images.githubusercontent.com/17154320/43970847-889840a6-9c94-11e8-945f-8204160202f6.jpg)

Same thing happens in C#
In c# if I open/close the project it still is not in the references.
If I hit refresh on the references node, it then shows.

[2018-08-10 18:02] dpavsrtrl commented on #2585
When are you going to add support for sorting by number of downloads in descending order?

[2018-08-10 18:14] dallasclement commented on #6403
I'm dead in the water too.  I'm stuck with VS 2015 for a project.  I need to install Microsoft.EntityFrameworkCore.Tools and am unable to do so because of this version mismatch.

Install-Package : The 'Microsoft.EntityFrameworkCore.Abstractions 2.1.1' package requires NuGet client version '3.6.0' or above, but the current NuGet version is '3.6.0-rtm-2511'.

Microsoft, please help!!!

[2018-08-10 18:53] jzabroski commented on #6324
@emgarten

THANK YOU SO MUCH!

[2018-08-10 18:59] dallasclement opened #7195 "Can't install packages in VS 2015 with nuget version 3.6.0"
## Details about Problem

I am unable to install the Microsoft.EntityFrameworkCore.Tools package in VS 2015.  The latest nuget version 3.6.0 for VS 2015 prevents this package from being installed due to a version mismatch.

**The 'Microsoft.EntityFrameworkCore.Abstractions 2.1.1' package requires NuGet client version '3.6.0' or above, but the current NuGet version is '3.6.0-rtm-2511'**

See detail

[2018-08-10 21:07] mishra14 commented on #7191
@rohit21agrawal Do you have an alternative for @matkoch ?

[2018-08-10 21:13] rohit21agrawal commented on #7191
@matkoch no. there is no way to disable creation of tfm folder if you want nuget to include output assemblies in the package by default. Can you give more details about what kind of package you are trying to build and for what scenario ?

[2018-08-10 21:21] mishra14 commented on #7193
@chilakamarthi `Update-Package` command is meant to update the package version so that your project can use a higher/latest version.

Update package [documentation](https://docs.microsoft.com/en-us/nuget/tools/ps-ref-update-package) states -

Can you please elaborate on what are you trying to do? Why do you need to run Update-Package ?

If you just want to download a version then right click on th

[2018-08-10 21:51] tiago-quintanilha commented on #6403
Same problem here. I'm stuck with VS 2015, and can't install netstandard2.0 packages. I need to develop new libraries and dotnet core API's, but I must keep compatibility with legacy systems. Using netstandard would be the best solution, but this 3.6.0 version mismatch is a real problem.

[2018-08-10 22:58] #2714 closed, assigned to rohit21agrawal

[2018-08-11 11:30] adamralph commented on #352
@karann-msft yes, I would expect only `icon.png` at the root of the project/folder to be used by default. I guess you could also support `icon.jpg` or other extensions, but PNG will probaby take care of 99% of cases.

[2018-08-11 12:10] jcapellman commented on #4126
Wondering the status of this as well - hitting this on the non-Windows platforms right now where NuGet.exe doesn't exist.

[2018-08-11 12:51] jhgoodwin commented on #4126
For those stuck and needing a workaround for docker, like I did, this is what I did for now:
1) Created docker-compose.ci.build.yml
[code]
2) Create a nuget.ci.config
[code]
3) Create build.sh
[code]

The idea is that you would set the environment variables, then invoke the docker compose to make the build happen inside the docker container, mapping the source folder into the container. As a quick

[2018-08-13 06:20] pascalberger opened #7196 "Release Notes for NuGet 4.7.1"
[NuGet.Commandline](https://www.nuget.org/packages/NuGet.CommandLine/) was released for version 4.7.1. But nuget.org still shows 4.7.0 as latest version and there are also no [release notes](https://docs.microsoft.com/en-us/nuget/release-notes/nuget-4.7-rtm) available. What has changed in 4.7.1? Was the release only be done for #7116 or does it contain any actual fixes?

[2018-08-13 08:26] markusschaber commented on #4628
@karann-msft While there's plenty of software using dual-license models (e. G. MongoDB), I don't have any examples of existing NuGet packages ready.

But maybe @agr has some, as he brought up the topic?

[2018-08-13 09:58] BalassaMarton commented on #3738
Any chance you reopen this issue? My experience is that we use the same common packages for a lot of projects, and it would be nice to just go through a shorter list on a separate tab, check some packages and click install once.

[2018-08-13 14:16] pascalberger commented on #7008
@PatoBeltran Here's my ETL trace:

### Command

[code]

### Output

[code]

### Trace

[WeTransfer](https://wetransfer.com/downloads/00bb95e34e8665cadaf7fdad4092068320180813141352/e80b1bc51442fc651119bc4f6293d50620180813141352/f5b668)

[2018-08-13 14:28] pascalberger commented on #7008
@PatoBeltran I also tried the same `nuget install` command with a ProGet v2 (Quirks Mode) Feed, ProGet v3 Feed and installing a package from the local file system. All three took the same amount of time (4 min)

[2018-08-13 14:59] pascalberger commented on #7008
Btw. same behavior for author and repository signed packages. And also with nuget.exe 4.7.1

@PatoBeltran Would you be interested in making a phone call where I can show you the bahvior on our system? I fear if you further rollout the signing stuff with repository signing of all packages without having this issue fixed that our build time will explode from minutes to hours.

[2018-08-13 15:20] pascalberger commented on #7008
@PatoBeltran [Here](https://wetransfer.com/downloads/9a76e5a6b68913796d6eee48cc55e92e20180813151649/73c91d0b4c1a20a754e45c8d927b896d20180813151649/674e67 ) is also a Fiddler trace for installing a author signed package from a local file system feed.

In the trace you can see how the requests to digicert.com are made, and after each request it waits 15s before it starts the next one, which leads to

[2018-08-13 15:25] philippdolder commented on #7182
Sorry for the duplicate report, I didn't find it using the search function 🤔

Works as expected with the latest VS preview

[2018-08-13 15:25] #7182 closed, assigned to nobody

[2018-08-13 15:45] dtretyakov commented on #6486
@nkolev92, another error was received while running NuGet restore on mono:

[code]

OS: Ubuntu 16.04
Mono: 5.12.0.301

Under Verbosity logging NuGet.exe writes only "wintrust.dll" as a error message. Under which mono and os versions did you verified work of the commit https://github.com/NuGet/NuGet.Client/commit/318ddad6da227ef8357160dfe6f0727798371891?

[2018-08-13 15:50] dtretyakov commented on #6486
@nkolev92, it looks on mono could be used the [AuthenticodeDeformatter](https://github.com/mono/mono/blob/master/mcs/class/Mono.Security/Mono.Security.Authenticode/AuthenticodeDeformatter.cs) for signature verification.

[2018-08-13 15:55] pascalberger commented on #7008
On another note: My tests were with Windows Server 2012r2 in a fully offline environment. Meaning Windows installation happened offline and machine never had internet access. Windows Updates were installed from a local WSUS server, but no certificate cache or similar. Just pure Windows Server 2012r2.

[2018-08-13 16:00] clairernovotny commented on #7008
Thread: https://twitter.com/onovotny/status/1029031004994985986

[2018-08-13 16:20] vcsjones commented on #7008
Based on a discussion it, unfortunately, sounds like "everything is working as intended" for now. Nuget.Client explicitly does online revocation checking:

https://github.com/NuGet/NuGet.Client/blob/75dbda58560c7db281816015ad19a6bffdcc0f79/src/NuGet.Core/NuGet.Packaging/Signing/Utility/CertificateChainUtility.cs#L171

So it tries to validate the the certificate chain is not revoked, which appears

[2018-08-13 16:33] pascalberger commented on #7008
@vcsjones This means, that nuget no longer can be used inside networks without internet access? Which is quite a huge restriction, considering that soon all packages will be signed. And which actually forces us to either open our network to the internet (or stay on old package versions as long as they are not repo signed). Both decisions from a security and auditing point of view lead to quite som

[2018-08-13 16:51] vcsjones commented on #7008
Well... it works... for some definition of "works", but is a terrible experience. You could talk to your network team about getting outbound access to CRL/OCSP servers. Since package authors get to choose their CA, you would have to allow access for any CRL/OCSP that the package signer users, not just digicert. e.g. if a package author signs with Comodo, you'd need to whitelist comodo's CRL/OCSP s

[2018-08-13 16:59] pascalberger commented on #7008
+1 for this. Opening the network in some situations is just not an option due to govermental, legal or any other regulations.

[2018-08-13 17:20] anangaur commented on #7008
/cc: @rido-min, @karann-msft

[2018-08-13 17:20] nkolev92 commented on #6486
@dtretyakov
Mono on linux currently does not work (and it won't work in 4.8).
Thanks for the pointer. I'll look into it.

[2018-08-13 17:54] natemcmaster commented on #4695
Has there been any progress on this? This creates serious bloat in our build logs. For example, https://dotnet.visualstudio.com/public/_build/results?buildId=12613&_a=summary&view=logs. NuGet restore accounts for 374 of 590 logged lines (63.3%).

[2018-08-13 18:01] dtretyakov commented on #6486
@nkolev92, so as I understand in the mentioned change you've tried to disable plugins usage under any mono runtime? Or they work fine on mono in macos? If not maybe you could write meaningful message that plugin would not work under mono istead of this runtime exception?

Do you have a feature freeze time in NuGet 4.8?

[2018-08-13 18:30] gep13 commented on #7008
Based on a discussion it, unfortunately, sounds like "everything is working as intended" for now. Nuget.Client explicitly does online revocation checking:

Based on this, can we get some clarity on what is meant by this:

offline scenarios are definitely something we are planning to support and we are actively working on them as well.

Is there an issue that we can track where this is being worked

[2018-08-13 18:35] anangaur commented on #7008
We are looking to fix this soon - mostly 4.8.1 (as bits for 4.8.0 is almost locked).

[2018-08-13 18:37] gep13 commented on #7008
@anangaur can you provide any details on what you mean by...

We are looking to fix this soon - mostly 4.8.1 (as bits for 4.8.0 is almost locked).

What is the fix?  A flag to turn off checking?  Or something else?

[2018-08-13 18:40] pascalberger commented on #7008
@anangaur Can you please wait with further rolling out repository signing (for old packages) on nuget.org until this fix has been released, to avoid fully breaking enterprise environments?

[2018-08-13 19:18] StefDotmailer commented on #4989
I'm getting the same issue with `FSharpx.Extras` and `FSharp.Control.AsyncSeq` both declaring `FSharp.Control.AsyncSeq`. Unfortunately in F# there is no such thing as `extern alias`. Would it be possible to implement an alias for NuGet packages directly referencing the package without the need of `extern alias`? An alias to redirect to types into a specific package, making them available only thor

[2018-08-13 19:19] UnoSD commented on #4989
I'm getting the same issue with `FSharpx.Extras` and `FSharp.Control.AsyncSeq` both declaring `FSharp.Control.AsyncSeq`. Unfortunately in F# there is no such thing as `extern alias`. Would it be possible to implement an alias for NuGet packages directly referencing the package without the need of `extern alias`? An alias to redirect to types into a specific package, making them available only thor

[2018-08-13 20:13] anangaur commented on #7008
@gep13 We are planning to provide a flag for offline-only revocation checks.

@pascalberger, we are not signing the old packages yet. Only new packages are being repo-signed. We will start repo-signing old packages once we roll out the above mentioned option.

[2018-08-13 20:35] AArnott opened #7197 "Reimplement NuGetLockService in terms of ReentrantSemaphore"
In 15.8, the vs-threading library added the `ReentrantSemaphore` class, which embodies many of the complexities of [NuGetLockService](https://github.com/NuGet/NuGet.Client/blob/0644af7ad8c5bc0354759d9a9eb4165f6341e0e4/src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/Services/NuGetLockService.cs), fixes some deadlock bugs that are lurking there, and avoids the `O(n^3)` scheduling algorithm pr

[2018-08-13 20:38] zhili1208 commented on #7195
Thanks for reporting the issue. At this point we do not plan on releasing an update for VS2015. Please try latest [VS2017](https://www.visualstudio.com/#) and let us know if you need more help from us.

[2018-08-13 20:38] #7195 closed, assigned to nobody

[2018-08-13 20:44] gep13 commented on #7008
@anangaur thank you very much for confirming.  This will certainly help in a number of scenarios.

[2018-08-13 20:49] AArnott commented on #7197
CC: @lifengl

[2018-08-13 21:02] mpetito opened #7198 "Floating package references don't get updated because of the no-op and http caches"
## Details about Problem

I have a .NET Core project which references nuget packages published on a private feed in Visual Studio Team Services.  These references use floating versions, such as:

[code]

During the first restore operation using `dotnet restore`, the latest patch version is retrieved from the nuget feed as expected.  However, if a new patch version is published, subsequent restores

[2018-08-13 22:11] bording commented on #6930
@nkolev92 Were you ever able to take a look at the trace?

[2018-08-13 22:18] bording commented on #7154
@jainaashish Unless I'm misunderstanding you, you seem to be suggesting I do the exact thing I'm trying to avoid, and opened this issue about!

For the package in question, none of the dependencies have any framework requirements, so the fact that the package gets built with the dependency groups is an artificial limitation.

The dependency groups are actively causing me problems, because if someo

[2018-08-13 22:27] zhili1208 commented on #7198
current expire time for http-cache is 30 mins.  we can consider either short this time or create a feature like no-cache flag

[2018-08-13 22:39] kshanafelt commented on #7101
@PatoBeltran I also could not repro this issue using @hamfar steps.  But I was getting the same error.

I can repro them the following way:
1. nuget pack something no currently in your source path.
    1. I created a file called `Test.Nuget.Install.nuspec`:
[code]
   1. Just so my temp file would have content, I added an empty folder called `stuff`, with and empty txt file called `empty.txt`.
  1.

[2018-08-13 22:48] mpetito commented on #7198
@zhili1208 I'm not seeing new packages restored after 30 minutes, so either the 30 minute expiration is not operating as expected or is unrelated to this issue.

In a recent case of this happening, I had a build server fail to restore a newer version that was published 4 days earlier.

I've also just reproduced this in a project where I ran `dotnet restore --no-cache` at 5PM ET while documenting t

[2018-08-13 22:58] rohit21agrawal commented on #7154
@bording unfortunately there is no way to do this, and while I agree that this maybe a problem for some of the packages, i am not sure the right solution here is to avoid grouping dependencies into framework.

what if you targeted the lowest possible framework so it becomes compatible with most of them?

[2018-08-13 23:05] rohit21agrawal commented on #7188
dupe of https://github.com/NuGet/Home/issues/5016

[2018-08-13 23:05] #7188 closed, assigned to nobody

[2018-08-13 23:19] zhili1208 commented on #7198
@mpetito Could you check the Fiddler log, when you repro the issue, does nuget send http request to VSTS? also does VSTS return correct version information? I saw a very similar issue which is related to VSTS months ago. So please check this first

[2018-08-13 23:27] mpetito commented on #7198
@zhili1208 In Fiddler, when running `dotnet restore` (without the --no-cache flag) I am only seeing a POST request to `https://dc.services.visualstudio.com/v2/track`.  I am not seeing any other HTTP requests from nuget.  I believe this POST request is related to Application Insights for the dotnet cli.

I do see the expected HTTP requests to the feed if I run `dotnet restore --no-cache`.

[2018-08-13 23:36] bording commented on #7154
In general, grouping dependencies is definitely the right thing to do, it's just this sort of build tools/dev dependency style of package where it would be nice to turn the grouping off.

That might at least address the difficulty of needing to keep the TFMs I'm targeting updated.

[2018-08-13 23:39] rohit21agrawal commented on #7154
I will let this issue remain open, but i can't promise by when this would get resolved. (I would gladly accept a PR for this though). The solution I would come up with would probably involve introducing a property like "GroupDependenciesByFrameworkInPackage" , which defaults to true but can be set to false, and that would cause dotnet pack to output all dependencies in the package independent of T

[2018-08-13 23:45] bording commented on #7154
Sounds good. I might try and work on a PR for this.

[2018-08-14 00:11] jainaashish commented on #7154
`I will let this issue remain open, but i can't promise by when this would get resolved. (I would gladly accept a PR for this though). The solution I would come up with would probably involve introducing a property like "GroupDependenciesByFrameworkInPackage" , which defaults to true but can be set to false, and that would cause dotnet pack to output all dependencies in the package independent of

[2018-08-14 00:14] rohit21agrawal commented on #7154
@jainaashish the point here is that we don't decide on behalf of authors what is the right way to author a package, at least not force it on them - which is why we have the all powerful nuspec in the first place. What we do for ```dotnet pack``` is pick the right defaults for the author, but that doesn't mean we don't give them the flexibility to create packages for corner cases that we didn't thi

[2018-08-14 00:20] nkolev92 opened #7199 "Remove project.json support"
Self descriptive.
I propose we remove project.json support in 5.0 and dev16.

The only project.json native customer was UWP and they have since moved on to PackageReference.

Now might be a perfect time to remove PJ and cleanup the APIs that are brought along with that.

[2347704](https://dev.azure.com/devdiv/DevDiv/_workitems/edit/2347704)

[2018-08-14 00:54] mishra14 commented on #7197
cc: @jainaashish

[2018-08-14 03:49] liushuanggang commented on #5979
@rohit21agrawal, Thank you for the workaround:

It works for me. But after pack my package, I found the dependency `NuGet.Build.Tasks.Pack` was also included in the the package as a dependency. What I want to know is that **must I include the `NuGet.Build.Tasks.Pack` dependency in my package? Is there any way to exclude it except move it manually?** Thanks.

[2018-08-14 07:18] ap0llo opened #7200 "nuget sources add should not delete credentials from NuGet.config"
## Details about Problem

NuGet product used: NuGet.exe

NuGet version: 4.7.1.5393

## Detailed repro steps so we can see the same problem

### Background

We run an internal NuGet server that requires authentication.
To configure the feed to use, we place a `nuget.config` file in the source code repository, but configure the credentials for the feed in the user's local `NuGet.Config`

### Repro s

[2018-08-14 07:34] dtretyakov commented on #6486
@nkolev92 , @jainaashish another thought about change https://github.com/NuGet/NuGet.Client/commit/318ddad6da227ef8357160dfe6f0727798371891#diff-e24eb77aabfdbad8c040b73608ca477b: it could be a breaking from the Plugins v1 perspective. They could start failing in NuGet 4.8+ on Mono runtime.

[2018-08-14 08:14] karann-msft commented on #4628
@markusshaber something tells me he doesn't either :)

[2018-08-14 09:32] markusschaber commented on #4628
@karann-msft it would be easy to query for existing NuGet packages if they only had a valid SPDX expression describing their license information in their metadata... :-)

[2018-08-14 09:54] JimBobSquarePants commented on #4628
We intent to use dual licensing at https://github.com/SixLabors/ImageSharp.

ServiceStack libraries are covered essentially a dual license but the Nuget packages point to a single license page.

[2018-08-14 10:19] dtretyakov commented on #6486
@nkolev92, another significant problem is that NuGet authentication plugin is not used in `dotnet nuget push` / `dotnet nuget delete` commands:

[code]

.NET CLI: 2.1.401-preview-009229

With NuGet 4.8.0 it works fine. Do you plan to address in the scope of .NET CLI 2.1.4xx?

[2018-08-14 12:45] matkoch commented on #7191
It's alright then, thank you. From my side, this can be closed.

[2018-08-14 12:48] matkoch opened #7201 "Setting IsPackable to false disables compilation?"
After setting `IsPackable` to `false`, there is no output in `bin`. Is this really expected?

[2018-08-14 12:51] Lnk2past commented on #6431
I would like to second this feature being added. (I am also working in the native space and have a similar situation)

[2018-08-14 14:50] rainersigwald opened #7202 "[Mono] Error parsing solution file ... invalid image with Mono 5.14.0.177, msbuild 15.0 in Travis CI"
_From @denfromufa on August 14, 2018 3:47_

This is from gitter chat in Mono: https://gitter.im/mono/mono

**Any idea why we are getting "invalid image" error from VS solution file under certain conditions? Seems to be working under .NET Core and .NET Framework, but not Mono.**

https://travis-ci.org/pythonnet/pythonnet/jobs/415741698#L1874

[code]

Katelyn Gadd @kg 22:36
invalid image parsing sln

[2018-08-14 14:51] rainersigwald commented on #7202
That error is actually thrown from NuGet here: https://github.com/NuGet/NuGet.Client/blob/203c517a85791243f53ea08d404ee5b8fae36e35/src/NuGet.Clients/NuGet.CommandLine/MsBuildUtility.cs#L378-L414

I'll move this to the NuGet repo. When we collect more information about what's actually going wrong, we may need to reactivate this bug and fix the underlying MSBuild problem, but the diagnosability prob

[2018-08-14 14:58] Gardens18 opened #7203 "Install-Package ExcelDataReader does not install excel.dll"
Install-Package ExcelDataReader does not install excel.dll

[2018-08-14 15:03] mpetito commented on #7198
As more evidence that caching is not working as expected, the next day (16 hours later), `dotnet restore` still does not see the updated packages.

If I download the latest nuget.exe cli (4.7.1) and run `.\nuget.exe list -Source vsts-source` the output shows the updated version.  If I run `.\nuget.exe restore MyProject.csproj` it looks like it invokes msbuild and it still does **not** see the upda

[2018-08-14 18:12] rohit21agrawal commented on #5979
you can set PrivateAssets=all on the PackageReference, and that will prevent it from being included as a dependency

[2018-08-14 18:26] rohit21agrawal commented on #7201
no, repro project?

[2018-08-14 18:28] #7191 closed, assigned to nobody

[2018-08-14 19:34] livarcocc opened #7204 "dotnet restore fails with dotnet 2.1.302"
_From @myermian on August 14, 2018 19:7_

## Steps to reproduce
Run dotnet restore on a solution or csproj, utilizing a nuget.config and TFS package management.

## Expected  behavior
The tool restores all of the NuGet packages without any issue.

## Actual behavior
An error occurs:

C:\Program Files\dotnet\sdk\2.1.302\NuGet.targets(114,5): error : Failed to retrieve information about '{package}'

[2018-08-14 19:53] anangaur commented on #5762
Some functionality of `outdated` have been incorporated in the `dotnet list` command as speced here: https://github.com/NuGet/Home/wiki/dotnet-list-package

[2018-08-14 20:13] nkolev92 commented on #6486
@dtretyakov
4.8/2.1.400/15.8 are locked and they are shipping very soon.
There will be no more changes there.

Regarding the mono change, it's not breaking the V1 plugins since the V1 plugins used the fallback signature verifier (always failed validation), which means it's not any worse than before.
The behavior is inconsistent across different installations and versions of mono (versions and OSs)

[2018-08-14 20:13] mpetito commented on #7198
@zhili1208 Is this an issue I should raise with the dotnet cli team? It seems like this issue is miscategorized as the expected behavior for the http cache is not working when nuget is invoked via msbuild.

[2018-08-14 21:04] rrelyea commented on #6318
closing, as this is fixed in 5.0 / VS 16.0 code base now.

[2018-08-14 21:04] #6318 closed, assigned to mishra14

[2018-08-14 21:10] zhili1208 commented on #7198
thanks, it looks like a nuget bug, I will mark it as bug

[2018-08-14 21:27] zhili1208 commented on #7200
I can repro this, it's because we rewrite the whole nuget.config when we modify the file, in this scenario, nuget added feed2 to nuget.config, but can't find feed1, then the feed1 credential is removed. we should consider this scenario.

[2018-08-14 21:36] zhili1208 commented on #7203
could you provide more information? VS version? NuGet Version? project type? thanks

[2018-08-14 21:45] zhili1208 commented on #7204
@myermian could you try "dotnet restore --verbosity diag"? and share the log

[2018-08-14 22:17] mishra14 commented on #7203
closing as dupe of https://github.com/ExcelDataReader/ExcelDataReader/issues/342

@Gardens18 This is an issue that you need to take up with the package owners.

[2018-08-14 22:17] #7203 closed, assigned to nobody

[2018-08-15 00:24] samhouts opened #7205 "TargetFramework with specified UAP version doesn't respect TPV/TPMV"
## Details about Problem

NuGet product used (Package Manager Console):

I don't expect to be able to install version 6.0.1 or greater of `Microsoft.NETCore.UniversalWindowsPlatform` into a UWP project with TPV/TPMV 10.0.14393.0....

[code]

… because it is set to a target of 15138 ...
![image](https://user-images.githubusercontent.com/7827070/44124414-01399f32-9fe2-11e8-86f7-6dcc721e5c51.png)

….

[2018-08-15 00:33] SQLEmil commented on #3324
**RESOLVED** - This is the error you'll get if Win32 Long Paths isn't enabled on the machine running nuget.exe.

@rrelyea - I spoke too soon. Just ran into another problem that seems almost certainly long-path related. The issue I found with the TelemetryChannel package mentioned in my last comment is actually related to this, as well.

Using:
NuGet Version: 4.8.0.5278
Windows Server 2016 Standard

[2018-08-15 05:44] nkolev92 commented on #7198
Do we have a repro here @zhili1208, @mpetito?

list and restore use different endpoints, so it's not a perfect analogy to compare those 2.

Does restore work on any other machine consistently?
If the problem was as simple to reproduce as discussed here, I would have expected to see more issues filed about it.

[2018-08-15 11:51] chileshemartin commented on #7136
Performing a repair with visual studio installer fixed it for me.

[2018-08-15 11:58] mpetito commented on #7198
@nkolev92 I've reproduced / witnessed this behavior on four workstations and a build server now. Each have installed latest versions of .net sdk and Visual Studio. However, each are also building the same projects, so it could be something wrong with the project setup.

I've thought about how best to provide a working repro but it's a little tricky because:

 - I'm using a private feed in vsts (no

[2018-08-15 12:41] #4167 closed, assigned to nobody

[2018-08-15 15:29] myermian commented on #7204
Log attached...
[BuildLog.txt](https://github.com/NuGet/Home/files/2290320/BuildLog.txt)

[2018-08-15 17:13] karann-msft commented on #4628
@markusschaber I didn't necessarily mean to limit you to nuget packages only :) (but nuget like ecosystems). In any case, we'll consider it for v2.

@JimBobSquarePants dual licenses are very much supported in the design. What are the two licenses you intend to use for Imagesharp?

[2018-08-15 17:20] karann-msft commented on #352
Thanks for the feedback @adamralph, updated the spec.

[2018-08-15 17:41] adamralph commented on #352
Thanks @karann-msft. The spec looks good.

[2018-08-15 17:58] nkolev92 commented on #7198
Thanks @mpetito
We really do appreciate it.
If we can reproduce this on a simple project it will go long way toward helping us analyze this.

[2018-08-15 19:06] chrishiestand opened #7206 "nuget can't list packages in Artifactory source/repo from linux - timeout"
## Details about Problem

The big goal is to be able to `dotnet restore` using nuget packabges from a private artifactory repository, all inside a linux container. However I cannot get packages or list repository contents from the linux container using dotnet or nuget.

NuGet product used: nuget.exe
NuGet version: 4.7.1.5393
dotnet.exe --version: 2.1.302
VS version: n/a
OS version: Linux 4.9.93-li

[2018-08-15 21:40] mishra14 commented on #6318
The Restore scenario for packages config, has been fixed in https://github.com/NuGet/NuGet.Client/pull/2388

[2018-08-15 22:32] zhili1208 commented on #7204
try to understand this is source related or machine related?  could you repro this with other source on this machine? or repro on anther machine with this source?

[2018-08-15 22:36] jainaashish opened #7207 "NuGet client code needs some refactoring"
Multiple places in current NuGet code needs refactoring to better align with their meaning. Currently they are poorly named or explained or designed. This is the uber issue to keep track of such instances and look for the opportunity to improve those in future releases.

- [ ] [LockFile](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.ProjectModel/LockFile/LockFile.cs) which ha

[2018-08-15 22:41] zhili1208 commented on #7205
@diverdan92 does this look like a bug?

[2018-08-15 22:46] #4538 closed, assigned to zhili1208

[2018-08-15 22:46] zhili1208 commented on #7206
this looks like the issue https://github.com/NuGet/Home/issues/4538, it should be fixed in NuGet 5.0 by https://github.com/NuGet/NuGet.Client/pull/2382

[2018-08-15 22:49] zhili1208 commented on #7206
Could you try to restore with -DisableParallelProcessing?

[2018-08-15 22:55] samhouts commented on #7205
Also, aside from the `targetFramework` not working how I expect, shouldn't Xamarin.Forms 3.0+ fail to install in a UWP project < 16299 anyway, since it fails to install the NETStandard2.0 dependency?

[2018-08-15 23:12] anangaur commented on #5602
Change in spec:

The option `UpdateLockFileOnRestore`/`--update-lockfile` has changed to `RestoreLockedMode`/`--locked-mode`. It is set to `false` by default.

[2018-08-15 23:20] chrishiestand commented on #7206
@zhili1208 thanks for the reply. That doesn't seem to help:

[code]

@zhili1208, I think it may be lack of TLS 1.2 support. Follow up comment shortly.

[2018-08-15 23:21] chrishiestand commented on #7206
Could the problem be that nuget does not support TLS 1.2? Hosted Artifactory requires TLS 1.2 as seen at <https://www.ssllabs.com/ssltest/analyze.html?d=myorg.jfrog.io&s=34.233.72.116&hideResults=on>. Related is this old nuget issue: https://github.com/NuGet/Home/issues/3947

I found that using the mono TLS certificate manager would also hang:

[code]

So I tried this TlsTest tool: https://github.

[2018-08-15 23:22] chrishiestand commented on #7206
Side note: the tlstest tool that ships with mono doesn't currently support TLS 1.2: https://raw.githubusercontent.com/mono/mono/master/mcs/class/Mono.Security/Test/tools/tlstest/tlstest.cs

[2018-08-15 23:40] jainaashish commented on #6949
PR# https://github.com/NuGet/NuGet.Client/pull/2271 has been merged to dev. Once approved, will also merge into 15.9.

[2018-08-16 00:17] diverdan92 commented on #7205
@samhouts  - if you look at Microsoft.netcore.universalwindowsplatform.6.1.7, you'll see it leverages platform multi-targeting:
![image](https://user-images.githubusercontent.com/6608201/44179956-b7034a80-a0ae-11e8-8fa6-77237a47c97d.png)

There is both a netcore50 folder (an artifact of naming before the .NET Core naming was finalized), as well as a uap10.0.15138.0 folder. When your TPMinV < 10.0.

[2018-08-16 03:13] lzocateli commented on #7032
I'm having the same problem, I use VSTS agent onpremises

PS D: \ UserApps \ AgentVSTS \ _work \ 2 \ s> dotnet --info
.NET Core SDK (reflecting any global.json):
 Version: 2.1.300
 Commit: adab45b

Runtime Environment:
 OS Name: Windows
 OS Version: 6.1.7601
 OS Platform: Windows
 RID: win7-x64
 Base Path: C: \ Program Files \ dotnet \ sdk \ 2.1.300 \

Host (useful for support):
  Version: 2.1.2

[2018-08-16 03:55] lzocateli commented on #7204
I'm having the same problem, I use VSTS agent onpremises

PS D: \ UserApps \ AgentVSTS \ _work \ 2 \ s> dotnet --info
.NET Core SDK (reflecting any global.json):
Version: 2.1.300
Commit: adab45b

Runtime Environment:
OS Name: Windows
OS Version: 6.1.7601
OS Platform: Windows
RID: win7-x64
Base Path: C: \ Program Files \ dotnet \ sdk \ 2.1.300 \

Host (useful for support):
Version: 2.1.2
Commit: 81

[2018-08-16 08:28] gimlichael commented on #3324
How can I resolve this issue? I am, by corporate policy, restricted to Windows 8.1. My project needs to have Microsoft.ApplicationInsights.AzureWebSites installed, but it keeps throwing:

[code]

I have the solution in a short folder .. C:\Source .. however, I am unable to proceed and need guidance. #6892

[2018-08-16 08:43] adrian-moll commented on #7008
We are looking forward to be able to disable the revocation checks on nuget restore.

In the meantime our solution is to redirect the revocation-server calls to localhost. This way the revocation checks will fail much faster.

You can catch the list of servers nuget verify tries to reach with Fiddler and make an entry in your host file for each of them (maybe you need to clear your local dns cache

[2018-08-16 11:04] chilakamarthi commented on #7193
Sorry for delay in response.

This will update all the packages. What I am looking for is,

- All our custom packages, I would like to use latest.
- When it comes to other packages (for example Newtonsoft.JSon), I would like to use same version as unless we know new version of this component is compatible for our requirement I will not change this.

[2018-08-16 11:08] chilakamarthi commented on #7193
Oh that makes life easy. I am new to nuget packaging and using nuget. This solves my requirement.

Thank you

[2018-08-16 11:08] #7193 closed, assigned to nobody

[2018-08-16 12:20] serialskiller commented on #5016
still not working

[2018-08-16 13:23] serialskiller commented on #5016
version 3.5:
nuget.exe  pack example.nuspec # <file src with 80+ folders and ~600 files  8 sec to pack
in process monitor io starts straight away
nuget 7.1:
~ 2 minutes to pack, eating up one cpu core and io happens at the end.
adding a basepath param helps a bit, removing exclude as well. Didn't have a look at the code, but maybe the globbing used is not very efficient? The current version can't

[2018-08-16 13:32] myermian commented on #7204
@zhili1208 : This issue happens on not only the build agent, but also any of our team members computers. This also affects solutions which are setup to use dotnet core 2.0 (not just dotnet core 2.1 projects). If I uninstall the DotNet Core 2.1 SDK (reverting back to DotNet Core 2.0 SDK), the dotnet core 2.0 projects work just fine.

[2018-08-16 13:37] Thieum commented on #5877
@jainaashish Will you consider updating Microsoft.CodeAnalysis.Analyzers and Microsoft.CodeDom.Providers.DotNetCompilerPlatform to be compatible with PackageReference? Most of the popular libraries provide .net standard versions, but those dlls are from Microsoft, and they are the one providing warnings in most of our asp.net project, when we manually convert them to PackageReference.

[2018-08-16 16:54] jainaashish opened #7208 "Ignore Analyzers packages warnings from PR migration tool"
Most analyzer packages even though these are compatible with `PackageReference`, still have `install.ps1` and `uninstall.ps1` scripts in order to also work with `packages.config` so these packages are fully compatible with both the world. So we should skip raising warnings for these packages in our PC -> PR migration tool.

[2018-08-16 16:55] jainaashish commented on #5877
You can ignore warnings for `Microsoft.CodeAnalysis.Analyzers` package since it works fine for both `PackageReference`. We can improve our tool to ignore warnings for `analyzers` packages... tracking issue# https://github.com/NuGet/Home/issues/7208

For `Microsoft.CodeDom.Providers.DotNetCompilerPlatform` We'll talk to the corresponding owners to update their package to be compatible with `Package

[2018-08-16 17:24] StingyJack commented on #352
@karann-msft - spec still only talks about Nuget.org and folder based repos, and even has provisions for nuget.org webmasters to block some images.

Am i reading that support for icons in private nuget repositories based on NuGet.Server is not happening and that this could break them or the packages therein (like the unwanted version normalization)?   Or is it not included because private repo's t

[2018-08-16 17:58] zhili1208 commented on #7204
@myermian It looks like the framework issue. Could you try to set env variable "DOTNET_SYSTEM_NET_HTTP_USESOCKETSHTTPHANDLER" to 0? does that solve the issue? +@nkolev92

[2018-08-16 17:59] zhili1208 commented on #7206
thanks for your information, then it looks like a mono issue. @mrward any ideas?

[2018-08-16 18:23] mrward commented on #7206
Not sure this is a Mono problem. It looks as though the same `Unable to load the service index for source` error occurs with dotnet restore which will not be using Mono.

[2018-08-16 18:37] chrishiestand commented on #7206
@mrward The `dotnet restore` command returns with 500 immediately, whereas the `nuget` and mono commands hang until they timeout in 100s. They could be separate issues.

[2018-08-16 21:15] mpetito commented on #7198
@nkolev92 @zhili1208  I've put together a sample repository at https://github.com/mpetito/RestoreTest which reproduces this issue.  Instructions are included there, and note the api key included is only valid for the package `mpetito.nuget.test` for 1 year.

I was successful in reproducing the issue using new projects for both the nuget package and the referencing project **publishing to nuget.org

[2018-08-16 23:32] mishra14 commented on #6498
Documentation for pack has been completed with - https://github.com/NuGet/docs.microsoft.com-nuget/pull/1014

Updating the bug title to reflect that.

[2018-08-17 00:41] zarenner opened #7209 "`dotnet restore` fails on authenticated source when user-level config also has source"
dotnet restore doesn't send any credentials if a user-level nuget.config has the same source as a project-level config, and the credentials are specified in the project-level config but not in the user-level config. NuGet.exe does not appear to have this bug.

Apologies if this is a dupe, but there are so many nuget/dotnet auth issues to look through, and it wasn't obvious if there was an exact ma

[2018-08-17 00:57] nkolev92 commented on #7198
@mpetito
Is it possible that you are hitting https://github.com/NuGet/Home/issues/5445 ?

30 mins after the initial restore and after the package has been published on nuget.org, does running `dotnet restore --force` download the latest version?

[2018-08-17 02:01] nkolev92 commented on #7209
@zarenner Probably a duplicate of this.

https://github.com/NuGet/Home/issues/3580

You mentioned that it works with nuget.exe but not with dotnet.exe?

Those specific code paths should be united normally.

//cc @PatoBeltran
This might be related to how the configs are merged, but I have not investigated.

//cc @rrelyea for visibility.

[2018-08-17 02:25] nkolev92 commented on #7206
Could this be related to the max http requests work you did Zhi?
https://github.com/NuGet/Home/issues/4538

@chrishiestand Can you please try using --disable-parallel with dotnet?

[2018-08-17 02:38] mpetito commented on #7198
@nkolev92 `dotnet restore --force` does appear to download and install the latest version after the http-cache 30 min expiry.

If I understand correctly then, the workarounds are:
 - In Visual Studio, use rebuild with restore and hope the http-cache has expired.
 - Using CLI, use --no-cache (since it doesn't seem --force is any faster but still uses http-cache).

I get why this behavior makes sens

[2018-08-17 05:07] josteink commented on #2834
Seconding packing for Octopus Deploy. This warning is really annoying and is causing lots of warnings in my build.

It would be nice if NuGet offered a way to silence this warning when the user knows what he is doing.

[2018-08-17 05:35] livarcocc opened #7210 "VSTS build agent dotnet restore not using configfile argument correctly"
_From @tommorganshaw on June 29, 2018 16:39_

## Steps to reproduce
VSTS build agent running on an on-premise server behind a corporate firewall and proxy server, so the NuGet config needs define the proxy settings.

The build definition uses the .Net Core template. The dotnet restore step uses the default settings, except for defining "Feeds in my NuGet config" which points to NuGet.config that i

[2018-08-17 05:42] chrishiestand commented on #7206
@nkolev92 Thanks for taking a look, unfortunately that's what @zhili1208 thought too but it doesn't seem to help: https://github.com/NuGet/Home/issues/7206#issuecomment-413369901 .

[2018-08-17 06:33] nkolev92 commented on #7206
oh I missed that part.
I scrolled too far down past the stack trace :)

[2018-08-17 08:43] bruno-garcia opened #7211 "Author package signing Certificate with DigiCert"
On the [Microsoft docs](https://docs.microsoft.com/en-us/nuget/reference/signed-packages-reference#get-a-code-signing-certificate) on how to get a code sign certificate, one of the suggested services is **DigiCert**.

When attempting to acquire the cert, while holding the [minimum requirements spec](https://github.com/NuGet/Home/wiki/Package-Signatures-Technical-Details#-certificate-minimum-requir

[2018-08-17 10:30] shoret01 opened #7212 "Nuget cli authorization certificate"
I have a private artifactory repo that requires authorization certificate (it a company policy thing)

My question is there any way I can setup Nuget cli to use a certificate, at the moment I get the error

[code]

Which I expect because I’m not sending the certificate.

Is there a way to do it like curl?

[code]

[2018-08-17 16:16] petsuter commented on #2834
Glancing at the source suggests this is [still broken in the NuGet V2 repo](https://github.com/NuGet/NuGet2/blob/e89c4b2fc6dc2fc752d2fceecd2a2175b0f4ab69/src/Core/Analysis/Rules/MisplacedAssemblyRule.cs) but [fixed in the NuGet 4.0+ repo](https://github.com/NuGet/NuGet.Client/blame/4846a5759b32df7d3a30c2a8e084ef61827af3db/src/NuGet.Core/NuGet.Packaging/Rules/MisplaceAssemblyOutsideLibRule.cs#L60)

[2018-08-17 18:02] tmat opened #7213 "Enable generating exact versions in nuspec dependencies"
**Scenario**

Packages generated for multiple projects that are tightly coupled due to usage of InternalsVisibleTo need to use exact versions (e.g. `[1.0.0]`) when they refer to each other in their NuSpec dependency specification rather than right-open version range (e.g. `[1.0.0)`). Currently packages generated via Pack task only allow the latter.

**Proposal**
1. Allow `ProjectVersion` metadata

[2018-08-17 18:03] tmat commented on #7213
/cc @nguerrera @jaredpar

[2018-08-17 22:55] mishra14 commented on #6498
~27 of the signing codes have also been documented as part of - https://github.com/NuGet/docs.microsoft.com-nuget/pull/1019

the remaining ones are -
[code]

[2018-08-18 09:56] aidapsibr commented on #7207
I also would like to recommend facades. The code is incredibly hard to reason about and harder still to use all the constituent parts correctly to end up in "default" behavior. If this is not in line with the spirit of the issue feel free to thumbs down. 😅

[2018-08-20 11:15] hilvarenbeek commented on #7097
Possibly related to MSBuild issue as described here: https://stackoverflow.com/questions/50638711/msbuild-is-replacing-newtonsoft-json-dll-with-an-older-version

[2018-08-20 12:20] GanesanRengasamy opened #7214 "Can use/ship nuget.exe along with my custom setups(exe)"
Hi,

I have used the nuget.exe in my custom setup (like create the MVC samples along with my assemblies) for this I have used the nuget.exe to install the microsoft NuGet packages for the MVC sample while creating the application by my exe. For this I need to ship nuget.exe along with my project.

Can i use this along with my exe?
Is this legal or not?
If not means, how can I use this along with m

[2018-08-20 13:05] gregbair commented on #7198
My team has also run into this exact scenario. We've had to update our build scripts to use `--no-cache` as well.

Even after the 30 minutes has expired, new versions are not pulled.

[2018-08-20 13:19] lbargaoanu opened #7215 "NuGet.ProjectModel 4.8.0 doesn't exist"
Trying to install NuGet.Commands 4.8.0.
Unable to resolve dependencies. 'NuGet.ProjectModel 4.8.0-preview4.5321' is not compatible with 'NuGet.Commands 4.8.0 constraint: NuGet.ProjectModel (>= 4.8.0)'.

[2018-08-20 14:38] 304NotModified commented on #4942
Same issue. Please fix this. We (NLog) got multiple complaints because it's broken...

also please **stop** making breaking changes in non-major versions.

[2018-08-20 17:43] jainaashish opened #7216 "Operated failed. No projects supported by NuGet in the solution throws for a upgraded NetCore project"
From https://developercommunity.visualstudio.com/content/problem/139176/operated-failed-no-projects-supported-by-nuget-in.html?childToView=315343#comment-315343

For a working example of this error, open Lynda.com, go to the Course named Learning Entity Framework Core. The instructor provides sample code written as a console app for .net core 1.0

On first opening the first solution, it asks if yo

[2018-08-20 18:08] nkolev92 commented on #7198
@mpetito
Yes, that summarizes the current behavior.
//cc @anangaur @rrelyea

@anangaur has been looking into improving this behavior. It's likely that soon enough we have an explicit option to force the reevaluation, rather than relying on rebuild.

Can you clarify what you mean by `--force` not being any faster? If the http cache is older than 30 minutes, force **will** hit the sources again.

Bo

[2018-08-20 18:33] ydogus commented on #912
Sorry guys for bumping but I can't sleep evenings when this issue is not on the first page.

[2018-08-20 18:58] mpetito commented on #7198
@nkolev92 in my informal testing comparing the timing output between --no-cache and --force, without waiting for the 30 min http-cache expiry, I found the timings to be nearly identical (within tens of milliseconds). In both cases the restore time was about 2.3s for the project I tested.

This could have been due to my connection speed, and other restore work significantly outweighing the extra ne

[2018-08-20 18:59] PatoBeltran commented on #7008
hey @pascalberger, @gep13, @adrian-moll I have a PR with a fix for this, would any of you have time Today to help me out test the private bits to make sure this approach fixes correctly the issues you are seeing? Let me know how I can send you a build of nuget.exe to test! Thanks!

[2018-08-20 19:00] nkolev92 commented on #7198
Ah, that's what you meant :)
Thanks for clarifying it @mpetito

Yeah, it's influenced by the connection speed and the fact that most of the packages don't need updated, so there's likely only a few package downloads happening.

[2018-08-20 19:00] pascalberger commented on #7008
@PatoBeltran I can do some tests

[2018-08-20 19:18] PatoBeltran commented on #7008
@pascalberger awesome! thanks so much.

[Here](https://1drv.ms/u/s!AtiS9JA_ww1igzXzOG9YNEar8IE6) you will find a private build of nuget.exe with those changes, with this build you should be able to set `revocationMode` in your config file and the 4 minute hang in verify and restore should be gone. You will notice that the warnings in verify will still be there, but the calls in the fiddler trace w

[2018-08-20 20:09] pascalberger commented on #7008
@PatoBeltran `revocationMode=offline` fixes the timeout issue. Thanks for your work!

[2018-08-20 20:36] PatoBeltran commented on #7008
Awesome to hear that! Thanks for the confirmation, I will work to get this changes merged and published as soon as possible.

[2018-08-20 20:59] livarcocc opened #7217 "Ability to search package with dotnet cli"
_From @John0King on August 18, 2018 3:10_

Current there are `dotnet add package <package name>`, but there no ability to search the package name .

some ideas:
[code]

or add thos command to `dotnet nuget`

----------------------------------------------

and [another proposal](https://github.com/dotnet/cli/issues/9860#issue-351786550) is to  add a `<PackageFileReference Include="../../privatepack

[2018-08-20 23:23] rohit21agrawal commented on #7215
these packages have been pushed. sorry for the inconvenience.

[2018-08-20 23:23] #7215 closed, assigned to rohit21agrawal

[2018-08-20 23:59] samhouts commented on #7205
Oh, we're definitely using multitargeting. So, I presume that my package is restoring from the `netstandard1.0` folder, then. That's aggravating. :/

![image](https://user-images.githubusercontent.com/7827070/44372773-628b1100-a49a-11e8-8d2e-d828cece0ec1.png)

[2018-08-21 00:26] samhouts commented on #7205
Yep, verified that it works when I removed the netstandard1.0 target. Not really what I want, but not a bug either. Thanks!

[2018-08-21 00:26] #7205 closed, assigned to nobody

[2018-08-21 00:31] diverdan92 commented on #7205
Do you have any suggestions for how this could be better for your use case?

[2018-08-21 00:38] samhouts commented on #7205
If I try to install this same package into a MonoAndroid80 project, it fails, even though that project supports netstandard. I expected the UAP10.0.16299.0 targetFramework to work the same way.

[2018-08-21 00:42] diverdan92 commented on #7205
I see. So you're saying that if the library has any UAP TFM, it should always take precedent (and effectively ignore) differing TFMs (in this case, netstandard)?

[2018-08-21 00:56] GanesanRengasamy commented on #7214
Hi,

Could you please provide the solution regarding this?

Thanks,
Ganesan R.

[2018-08-21 01:32] samhouts commented on #7205
Yep! Most specific matching target wins.

[2018-08-21 10:36] ddspectron opened #7218 "-AllVersions does not return full list of available package versions from UNC Source"
## Details about Problem
NuGet.exe v4.7.0, v4.7.1 and v4.8.0  all exhibit this bug.

I have seen this on Window 7 Professional.

Worked before? If so, with which NuGet version:
NuGet v3.4.4 is okay, slower, but does return the full list of versions.

## Detailed repro steps so we can see the same problem
1.  Have a local folder of packages of the same name with different versions

2.  Run nuget.ex

[2018-08-21 11:07] lbargaoanu commented on #7215
Thanks.

[2018-08-21 12:37] DiggaTheWolf opened #7219 "[Area:NuGetizer] NuGetizer3000-VS2017.0.2.6.vsix Installation Failure"
I have Visual Studio 2017 Enterprise 15.8 installed on Windows 10 x64 and I cannot get the NuGetizer3000-VS2017.0.2.6.vsix to install successfully.

Please see the attached log file.

[VSIXInstaller_0d60e2aa-933e-424f-b455-d7bb70d22d77.log](https://github.com/NuGet/Home/files/2306248/VSIXInstaller_0d60e2aa-933e-424f-b455-d7bb70d22d77.log)

[2018-08-21 12:40] addabis opened #7220 "Multitarget restore (net471;netcoreapp2.0) fails due to netstandard1.3 transitive reference"
Take the following project file and restore it (using `dotnet restore` , `msbuild /t:Restore` or `NuGet.exe restore`):

[code]

The client reports attempt to downgrade multiple system packages, for example:

[code]

All of the following needs to hold:

1. Multitarget .NET Framework (any) and .NET Core 2.0. Passes if targeted separately or with a different second framework (i.e. net45+net471 or net

[2018-08-21 14:51] valeriob commented on #6783
Given a nuget.config with some source disabled
`<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="RavenDb" value="https://www.myget.org/F/ravendb/api/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <add key="RavenDb" value="true" />
  </disabledPackageSources>
</configuration>`

i'm trying to enable a specific source on a solution in a sub

[2018-08-21 16:36] iannazzi opened #7221 "nuget is not packaging .pdf files and some others."
Place a .pdf file in `content` folder or `contentFiles` folder, pack it up, consume it, and no .pdf file shows up. .zip files are also missing. In the .nuspec file I have specifically asked for the file. I have also not specifically asked for the files, does not seem to matter. I have also renamed the .pdf file, removed the3 extension, and it still will not pack.

[code]
Additionally I am expectin

[2018-08-21 18:16] nkolev92 commented on #6930
@bording
Yes I have. Unfortunately I don't have a timeline to give you right now.

[2018-08-21 18:22] bording commented on #6930
Yes I have. Unfortunately I don't have a timeline to give you right now.

Did the trace actually highlight what the problem is? While having a timeline for when a fix might be made would be nice, at this point I'm more curious about the cause.

[2018-08-21 18:23] rohit21agrawal commented on #7219
CC: @kzu

[2018-08-21 18:25] rohit21agrawal commented on #7221
contentFiles is just a pointer to file inside the package. To actually include the file, you also need to add:
[code]
Note the files element outside of metadata.

[2018-08-21 18:28] nkolev92 commented on #6930
The cause was the suspected one. We're trying to process too many content files.
It's hard to diagnose what's causing the variance between the different runs, so can't give you more details there without further investigation.

[2018-08-21 18:34] rohit21agrawal commented on #7220
@addabis you will have to contact the package author directly to fix this issue. log4net's nuspec file lists the following:
[code]

They need to minimize the dependency closure that they have listed for the netstandard1.3 framework so it is consistent with versions across transitive dependencies.

[2018-08-21 18:41] rohit21agrawal commented on #7214
you can find the license for using nuget.exe here at : https://raw.githubusercontent.com/NuGet/NuGet.Client/dev/LICENSE.txt

[2018-08-21 18:41] #7214 closed, assigned to nobody

[2018-08-21 18:43] nkolev92 commented on #7218
Dup of https://github.com/NuGet/Home/issues/4537

[2018-08-21 18:43] #7218 closed, assigned to nobody

[2018-08-21 18:44] rohit21agrawal commented on #7212
@nkolev92 is this something that will be supported as a result of your recent work?

[2018-08-21 18:44] rohit21agrawal commented on #7211
@PatoBeltran & @dtivel  can you help @bruno-garcia ?

[2018-08-21 19:03] nkolev92 commented on #7212
No, this seems to be about client certs which are still unsupported.
Looks like a duplicate of https://github.com/NuGet/Home/issues/5773

[2018-08-21 19:05] dtivel commented on #7211
@bruno-garcia, I'd choose Other.

[2018-08-21 19:43] bruno-garcia commented on #7211
That's what I'd choose too.
Anyway, we'll give it a shot, thanks!

[2018-08-21 19:43] #7211 closed, assigned to nobody

[2018-08-21 21:06] binki commented on #4781
@emgarten @andreesteve s/CollectPackageRefereces/CollectPackageReferences/ ?

[2018-08-22 03:44] nkolev92 opened #7222 "Skip authenticode verification for plugins while executing on Mono"
Currently the Mono authenticode verification does not work.
4.8.0 NuGet.exe shipped with that problem.

The issue here was that some of the APIs weren’t available on Mono. I reworked it with the mono recommended APIs, and the authentication verification works.
Now it works, but it’s not successful. The reason for that is that the Microsoft Root CA is not trusted by default on Linux and Mac.

The o

[2018-08-22 05:18] nkolev92 opened #7223 "Support executing plugins with invariant culture (as happens in docker)"
Create a basic repro image such as https://github.com/nkolev92/docker-images/blob/4501913d62526441e8bca40b9d01ba96821082aa/dotnetapp/Dockerfile.
When a restore is run with the plugin configured, the plugin exits after the handshake.

The reason why the plugin is terminated is a client side exception caused by https://github.com/NuGet/NuGet.Client/blob/62916a48fe61fc7d94c2f436c7d4569878705dd4/src/N

[2018-08-22 05:23] karann-msft opened #7224 "Please provide expected exit codes for the commands"
@mwpowellhtx commented on [Sun Aug 19 2018](https://github.com/NuGet/docs.microsoft.com-nuget/issues/1025)

I am performing some integration testing for one of my projects and invoke *NuGet* via .NET ``Process``. It would be helpful to determine what the exit code is in order to verify that the CLI actually ran properly. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2018-08-22 05:25] karann-msft opened #7225 "Nuget keep asking for proxy credentials when running install package command line"
@jhenyffer commented on [Thu Aug 16 2018](https://github.com/NuGet/docs.microsoft.com-nuget/issues/1018)

Hello, is there a way to run nuget.exe install command with the credentials setted in the command?
What I need is to install the packages without having to provide the credentials manually.

I have already tryied to set the credentials in Nuget.config, it worksed for some time, but all of a su

[2018-08-22 05:34] nkolev92 commented on #7223
There are a couple of ways we can approach this.

Whatever approach we make, ideally we would be backward compatible and not break old plugins and old scenarios.

1. Because NuGet and the plugin don't really do anything fancy with localization other than the language displayed and the invariant culture default will be English, we can specify EN-us if the culture is invariant.
The advantage of this

[2018-08-22 06:16] karann-msft opened #7226 "Clarify that props and targets assets will not be imported through transitive dependencies"
@geeeyetee commented on [Tue Jul 31 2018](https://github.com/NuGet/docs.microsoft.com-nuget/issues/997)

The phrase "_as can projects that consume AppLogger_" in the following sentence is incomplete and may mislead some developers.

The sentence is in the section "_Controlling dependency assets_" on the "_Package references (PackageReference) in project files_" page. The following references detai

[2018-08-22 06:35] karann-msft opened #7227 "Pack command does nothing"
@irongut commented on [Sun Jul 22 2018](https://github.com/NuGet/docs.microsoft.com-nuget/issues/987)

The Pack command does nothing except tell me my build is up to date. Only if I Clean the solution first will the Pack command actually create a Nuget package. Since any library will have been built at least once during testing this is very annoying behaviour and the workaround is not obvious for

[2018-08-22 07:39] dbeuchler opened #7228 "Broken Push: Error 400 (There must be exactly one package.)"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe
NuGet version (x.x.x.xxx): 4.7.1, 4.8.1
dotnet.exe --version (if appropriate):
VS version (if appropriate):
OS version (i.e. win10 v1607 (14393.321)): win10
Worked before? If so, with which NuGet version: 3.4.4

I am trying to push packages (with NuGet 4.7.1) to ProGet (5.1.5) with th

[2018-08-22 07:54] shoret01 commented on #7212
ok thanks @rohit21agrawal  and @nkolev92 for getting back to me.  I look forward to when this is implemented.

[2018-08-22 08:00] addabis commented on #7220
@rohit21agrawal It's true that this is the only of our dependencies that causes this, but the problem I'm reporting is the inconsistency in behavior.

When restore is done for `net471` only (or multiple versions of .NET Framework), the package has no dependencies and restore passes. When restore is done for `netcoreapp2.0`, dependencies for `netstandard1.3` are taken without any downgrade report.

[2018-08-22 08:07] ThomasN-Saab opened #7229 "Feature request: -OutputDirectory option for the nuget spec command."
NuGet product used: nuget.exe
NuGet version (x.x.x.xxx): 4.6.2.5055 (Is what I'm currently using, but this feature isn't listed in the documentation so I assume no version has had it.)

Background: I wrote an issue on the documentation where I asked if it was possible to designate an output path for the `nuget spec` command and I was told that there wasn't (https://github.com/NuGet/docs.microsoft.

[2018-08-22 08:11] SGStino commented on #6902
I've just managed to test this again on a new environment and now I get a different authentication exception, not sure if it's related or not:

[code]

[2018-08-22 08:19] SGStino commented on #6902
I've just managed to test this again on a new environment and now I get a different authentication exception, not sure if it's related or not:

[code]

[2018-08-22 08:20] SGStino commented on #6902
I've just managed to test this again on a new environment and now I get a different authentication exception, not sure if it's related or not:

[code]

[2018-08-22 08:34] ThomasN-Saab opened #7230 "Feature request: Specifying a .csproj file for nuget spec command"
NuGet product used: nuget.exe
NuGet version (x.x.x.xxx): 4.6.2.5055 (Is what I'm currently using, but this feature isn't listed in the documentation so I assume no version has had it.)

Background: The documentation says that if you run `nuget spec` in a folder where there is a `.csproj` file it will automatically create a `.nuspec` file for it. However, it doesn't say if there's a way to specify

[2018-08-22 09:47] valeriob opened #7231 "msbuild restore problem on feed with apiKey"
Hi,
we have nuget.config with 3 feed
1) nuget.org
2) ravendb ci
3) a private one protected with apiKey
using msbuild target restore version 15.8 installed via visual studio tools in a build machine.

As you can see from the error

The private source is missing, the funny thing is, the package is installed a few moment after it

Here the log of the restore of that project

[10:51:05][RestoreTask] R

[2018-08-22 10:29] ddspectron commented on #4537
Thank you @nkolev92.

Is there any information on when this will be fixed?  It has been open since 8 Feb 2017!

@rrelyea, are you able to help at all with this?

[2018-08-22 12:19] mwpowellhtx commented on #7224
@karann-msft Thanks for addressing this.

[2018-08-22 13:33] iannazzi commented on #7221
@rohit21agrawal  that is not what I am experiencing....

From my experience <files> will put the files within the package folder. I want the files to show up within the consumer directory. I am successfully using <files> + a hard coded path to the package to access static content, when the package version changes I need to update the path. No biggie. Placing files within content folder or contentF

[2018-08-22 16:23] tmat commented on #7213
@rohit21agrawal Does the proposed design seem reasonable? If so, I'd send a PR for at least the part [1]. This affects Roslyn build, so I'd like to get it done soon.

[2018-08-22 16:42] livarcocc opened #7232 "`dotnet pack` should preserve dependency version range in the created nupkg. (even if floating version is used)"
_From @Kieranties on August 22, 2018 9:39_

## Steps to reproduce
Create a project and add a reference to a nuget package, floating on the patch, but within a range.
e.g. `<PackageReference Include="microsoft.aspnetcore.app" Version="[2.1.*, 2.3.0)" />`

## Expected  behavior
When running `dotnet pack` the latest patch version is restored and the range is honored in the nuspec.
E.g. if the latest

[2018-08-22 16:55] goldsam commented on #6373
How about adding an argument or switch to override the default behavior? This seriously kills productivity.  I think there is a pretty clear community sentiment that the current behavior is unhelpful at best. To be honest, its downright scary that a single point of failure was intentionally introduced by design into mission critical tooling.

[2018-08-22 16:59] nkolev92 commented on #6902
@SGStino
That could be this one:
https://github.com/dotnet/corefx/issues/27872

Can try you setting DOTNET_SYSTEM_NET_HTTP_USESOCKETSHTTPHANDLER=0 and retrying again.

[2018-08-22 21:50] jainaashish commented on #6928
dotnet add package actually does a restore but doesn't commit the restore artifacts so the right fix is to commit those artifacts.

[2018-08-22 22:08] anangaur commented on #6928
👍🏽

[2018-08-22 22:48] rohit21agrawal commented on #7227
repro project?

[2018-08-22 22:51] rohit21agrawal commented on #7227
was there a nupkg lying around in your bin folder? if it was, then it seems expected that it will no-op if nothing has changed.

[2018-08-22 22:53] rohit21agrawal commented on #7225
@nkolev92 can you help @jhenyffer ?

[2018-08-22 23:13] rohit21agrawal commented on #7226
@karann-msft what is the issue here? the customer hasn't replied to @nkolev92 reply. i am going to close this issue for now, you can reactivate it on the docs side.

[2018-08-22 23:13] #7226 closed, assigned to nobody

[2018-08-22 23:26] nkolev92 commented on #7226
This is a docs discussion **still** anyways.
If anything there's docs improvement work that needs to be done.
Shouldn't the issue stay there?

[2018-08-22 23:30] nkolev92 commented on #7231
Is it possible that you have a config or using the RestoreSources property in the other project where it fails?

The package seems to be getting installed for a different project.

Can you provide a repro of the project/sln structure?

Also, when you say api key, do you mean a password token that's found in the nuget.config as Credentials?

[2018-08-22 23:37] nkolev92 opened #7233 ""dotnet nuget push" codepath should support the new credential provider"
Add credential providers support to the dotnet nuget push command.

[2018-08-23 03:18] ghost opened #7234 "Add pack extension point for including debug symbols"
`TargetsForTfmSpecificBuildOutput` can't be used to add supplementary .pdb files to only the "symbols.nupkg" file.

Please add an extension point like `TargetsForTfmSpecificDebugSymbolsOutput`.

[2018-08-23 07:44] valeriob commented on #7231
Hi @nkolev92 i'm on a solution where all projects are on the new SDK <Project Sdk="Microsoft.NET.Sdk">.
I'm sorry can you clarify a bit? i do not know what RestoreSources is, the restore story is quite complicated to my knowledge.
There are :
- nuget /restore
- msbuild /t:restore
- msbuild /restore
can you explain the difference and when to use what ?
Anyway they problem arises with the msbuild /t

[2018-08-23 07:57] rgueldenpfennig commented on #3042
The following error message occurred in my Package Manager Console (Visual Studio 2017 Professional 15.8.0):
`Expected 1 export(s) with contract name "NuGet.PackageManagement.VisualStudio.IScriptExecutor" but found 0 after applying applicable constraints.`

Deleting the `ComponentModelCache` folder as @emgarten recommended worked fine! :)

[2018-08-23 08:29] wstaelens commented on #6284
I have a project and after refactoring the project. It contains a lot of packages that I don't know if they are still used or not. Can't see it anywhere.

[2018-08-23 11:30] StingyJack commented on #6284
@wstaelens  - R# has this covered by ["Remove unused references" and an "Optimize References"](https://www.jetbrains.com/help/resharper/Navigation_and_Search__Finding_Usages__Optimizing_References.html). The only catch is that I have to run it externally to a nuget package removal, as nuget does not take care of this itself.

@rrelyea - That title changed the topic from something specific to somet

[2018-08-23 11:53] wstaelens commented on #6284
@StingyJack not an R# user.
I just want to have an overview of nuget packages not being used…

[2018-08-23 12:32] StingyJack commented on #6282
@emgarten - the problem is not package.config vs packagereference

If I have a set of packages like this.
- Package L4  (declares dependency on L3, L2P1, L2P2, L1P1, L1P2)
- Package L3 (declares dependency on L2P1, L2P2, L1P1, L1P2)
- Package L2P1 (declares dependency on L1P1, L1P2)
- Package L2P2 (declares dependency on L1P1, L1P2)
- Package L1P1 (declares no dependency on these other packages, b

[2018-08-23 12:42] ThomasN-Saab opened #7235 "Feature Request: Property based conditions on file inclusion and dependencies in .nuspec files."
NuGet product used: nuget.exe
NuGet version (x.x.x.xxx): 4.6.2.5055 (Is what I'm currently using, but this feature isn't listed in the documentation so I assume no version has had it.)

Motivation: Many project can be built with different options and will often output different files and have different dependencies. Being able to mirror those options in a `.nuspec` file would sometimes be preferab

[2018-08-23 12:45] StingyJack commented on #6284
@wstaelens - a [caveman approach](https://stackoverflow.com/a/48700299/16391) then perhaps? XD

There are a few other vs extensions that will visualize (and can remove) unused refs, but R# is about as close as you can get to viewing them as NuGet packages.  Enterprise VS doesn't even have a tool for this.

[2018-08-23 13:02] wstaelens commented on #6284
Why does it need to be a commercial extension just for something basic.
With this roslyn and core sh*t the only thing it does is loading and loading packages. Spent my day with fixing package conflicts and fixing references. Removing and reinstalling package by package. Very productive Microsoft....

[2018-08-23 13:37] rraallvv commented on #6284
Even Android Studio has it :smirk:

[2018-08-23 14:53] den-run-ai commented on #7202
@rainersigwald @zhili1208 I tried to reproduce this issue locally in Virtualbox with no luck, hence opened a question on stackoverflow:

https://stackoverflow.com/questions/51988395/build-failures-with-mono-5-14-0-177-msbuild-15-0-nuget-4-7-1-on-travis-ci-not

[2018-08-23 14:53] den-run-ai commented on #7202
I may try to run this through travis ci docker image

[2018-08-23 18:34] rohit21agrawal commented on #7234
the .pdb files are only added to the symbols.nupkg file. you can include pdb files using ``` TargetsForTfmSpecificBuildOutput ``` and they will only be included as part of symbols.nupkg.

If you are seeing some other behavior, please share a repro project.

[2018-08-23 18:38] rohit21agrawal commented on #7221
can you share a repro project and attach it as a zip?

[2018-08-23 18:40] nkolev92 commented on #7231
RestoreSources is an msbuild property you can use to specify the project sources.
If you're not aware of it, you're likely not using it :)

That's our old nuget.exe, supports packages.config and PackageReference( both SDK based and non-SDK based projects support that).

Package Reference restore (SDK and non-SDK based) integration of NuGet into MSBuild.
This is a target equivalent to dotnet restor

[2018-08-23 18:44] anangaur commented on #5076
- https://stackoverflow.com/questions/32493537/end-of-central-directory-record-could-not-be-found-nuget-in-vs-community-201
- https://stackoverflow.com/questions/20960403/c-sharp-end-of-central-directory-record-could-not-be-found
- https://twitter.com/MrClyfar/status/652041212405391360

[2018-08-23 18:46] ghost commented on #7234
`TargetsForTfmSpecificBuildOutput` populates into
[code]

Unless I'm misunderstanding `PackTask`, pdb files must be populated into
[code]

[2018-08-23 18:47] rohit21agrawal commented on #7234
symbols.nupkg have have both BuildOutputInPackage AND TargetPathsToSymbols added to it.

[2018-08-23 18:48] ghost commented on #7234
Yes, but `TargetsForTfmSpecificBuildOutput` does not populate `TargetPathsToSymbols`.

[2018-08-23 18:48] rohit21agrawal commented on #7213
this is also very closely related to : https://github.com/NuGet/Home/issues/5556

@tmat  from your suggestion, i am not sure what it would look like from an end user point of view. Are you suggesting ,that we solve this by adding ExactVersion=true metadata on a projectReference?

[2018-08-23 18:48] rohit21agrawal commented on #7213
CC: @bording

[2018-08-23 18:49] rohit21agrawal commented on #7234
have you tried this out with an example yet?

[2018-08-23 18:51] ghost commented on #7234
Yes, although I don't have the example anymore to share.  The .pdb files populated by `TargetsForTfmSpecificBuildOutput` were filtered out because `BuildOutputInPackage` is filtered according to `AllowedOutputExtensionsInPackageBuildOutputFolder`.

[2018-08-23 18:52] rohit21agrawal commented on #7234
AllowedOutputExtensionsInPackageBuildOutputFolder filters files for the main nupkg, not the symbols.nupkg. For symbols.nupkg, AllowedOutputExtensionsInSymbolsPackageBuildOutputFolder  is what filters files, and that includes .pdb extension

[2018-08-23 19:07] bording commented on #7213
It would be great if this also solved #5556.

[2018-08-23 19:36] prmces commented on #4942
We have in our company a scenario where we need to copy a json file to the root folder with some default configuration for our library. I

I can create the package with the file contents, libraries and stuff... but when installing the nuget package they never get copied to the root folder.

Im using .net standard 2.0 class library

[2018-08-23 19:46] tmat commented on #7213
Yes.

#5556 is similar, but it would not quite address the above problem. We don't want to specify a version number, just the fact that the range should be closed. Ideally we would design metadata that allow us to address both features with minimal amount of clutter.

[2018-08-23 19:48] tmat commented on #7213
Taking it one step further - if the .NET SDK defined an item group that allows to declare InternalsVisibleTo (for example [like so](https://github.com/dotnet/roslyn/blob/master/src/Compilers/Core/Portable/Microsoft.CodeAnalysis.csproj#L51)) I could imagine a target that sets teh `ExactVersion=true` based on presence of InternalsVisibleTo. We can experiment with that separately once we have the Exa

[2018-08-23 19:55] tmat commented on #7213
One idea how to implement both #5556 and this feature using one attribute:

[code]

In this syntax, `*` represents the actual version of the referenced project.

[2018-08-23 20:26] ghost commented on #7234
https://github.com/NuGet/NuGet.Client/blob/25225bb1b55bc17e52cb6fa02335d559c12ccd18/src/NuGet.Core/NuGet.Commands/MSBuildProjectFactory.cs#L122-L124

For the main .nupkg,
`TargetPathsToAssemblies` is filtered by `AllowedOutputExtensionsInPackageBuildOutputFolder` and
`TargetPathsToSymbols` is filtered by `AllowedOutputExtensionsInPackageBuildOutputFolder`.

For symbols.nupkg,
`TargetPathsToAssembl

[2018-08-23 22:22] #6878 closed, assigned to rohit21agrawal

[2018-08-24 06:16] sanderaernouts opened #7236 "NuGet.exe commands are very slow when using CredentialProvider.VSS.exe"
## TL;DR;
We recently moved from a self-hosted NuGet server on-premise to VSTS package management. We now see a significant increase in the amount of time it takes to run commands through `nuget.exe`. This seems related to the `CredentialProvider.VSS.exe` not (correctly) caching the token that is generated to access the feeds. We use nuget.exe to download for example test data from our feeds so th

[2018-08-24 10:41] taori opened #7237 "Changes to nuget.config in directory of .sln should invalidate the cache"
I suppose the correct repo for this issue would be https://github.com/NuGet/NuGet.Services.Platform, but it does not allow issues.

I changed the nuget.config (placed besides a solutions .sln-file) contents to update the location of a local repo. This config change apparently did not invalidate the cache, since i had to restart Visual Studio for packages to load from the correct source.

NuGet pro

[2018-08-24 11:28] svc-mercury opened #7238 "Nuget mirror command"
## Details about Problem
NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): nuget.exe
NuGet version (x.x.x.xxx): 2.8.60717.93
OS version (i.e. win10 v1607 (14393.321)): OS Name	Microsoft Windows 10 Enterprise

We are hosting an old internal NuGet server v3.9999.9999 which was recompiled after local changes by someone who has left, Server works fine, however, I am trying

[2018-08-24 11:53] valeriob commented on #7231
Wow thanks @nkolev92 ! this is very helpfull !
Right now i'm doing exactly what you said i should not msbuild /t:restore;clean;build 😄
I'll remove it and try again

[2018-08-24 13:44] cafiorin commented on #6593
This is a pretty weird mistake, but what worked for me was:
1st Solution:
1 - Change your project to "10.0.16299"
2 - Make a clean / nuget restore / rebuild
3 - Return project to the "10.0.14393"
4 - Make a clean / nuget restore / rebuild

Do not ask me why, but it worked :)

2nd Solution:
If you use Tortoise, try making a CLEANUP in your project

[2018-08-24 13:51] jmoleary commented on #5768
This somehow got automatically for me when I went to 15.8

[2018-08-24 14:03] AndreyAkinshin commented on #6410
Any updates?

[2018-08-24 14:11] AndreyAkinshin commented on #6486
@nkolev92 is it possible to use credential providers with `MSBuild /t:Restore` for MSBuild 15.8?

[2018-08-24 16:02] infin8x commented on #6486
~~No, Credential Provider support is rolling out as part of the 15.9 previews.~~

Per @nkolev92 below, this should be possible with 15.8.

[2018-08-24 16:54] jainaashish commented on #6928
Merged for 15.9 into release-4.9.0-preview2 branch with commit# cbdd386e3b9c3053e57385efc73d0facd9df4600

[2018-08-24 16:54] #6928 closed, assigned to jainaashish

[2018-08-24 17:37] irongut commented on #7227
I don't have a nupkg in my bin folders when Pack isn't working just dll, pdb & xml files.

Steps to reproduce:
1. Clean project.
2. Build project.
3. Pack project.

Only a 'build up to date' message is shown after step 3 and there is no nupkg in the bin folder. Workaround is Clean then Pack. This is still happening with VS v15.8.1.

[2018-08-24 18:07] nkolev92 commented on #6486
Small correction.
15.8 assemblies and it's equivalent ship vehicles do have support for the credential providers.

As part of the 15.9 previews, we have VSTS support within Visual Studio.
//cc @rrelyea

[2018-08-24 18:10] livarcocc opened #7239 "Error extracting foundation-sites 6.4.3 package due to zip file conflicts."
_From @Miclebrick on June 29, 2018 21:6_

## Steps to reproduce
dotnet new razor
dotnet add package foundation-sites

## Expected  behavior
installs  package

## Actual behavior
miclebrick@micles-workshop:~/Web/starlegacy.net$ dotnet add package foundation-sites
  Writing /tmp/tmp74iiKh.tmp
info : Adding PackageReference for package 'foundation-sites' into project '/home/miclebrick/Web/starlegacy.

[2018-08-24 18:10] livarcocc commented on #7239
_From @peterhuene on July 3, 2018 3:2_

Hi @Miclebrick.  Thanks for reporting this to us!

Are you having this issue only with this particular package?  Could you check to see if `~/.nuget` or ` '~/.nuget/packages` has some weird permissions, such as having `root` as the owner rather than `miclebrick`?

[2018-08-24 18:10] livarcocc commented on #7239
_From @Miclebrick on July 4, 2018 11:47_

Huh, it seems to. But I tried it with a new folder and it still didn't work. I'll try fixing the permissions and then doing it.

[2018-08-24 18:10] livarcocc commented on #7239
_From @Miclebrick on July 4, 2018 11:51_

[code]
Using chown didn't work. The permissions for the folder it can't access seem fine https://i.snag.gy/b69nBt.jpg

[2018-08-24 18:10] livarcocc commented on #7239
_From @Miclebrick on July 4, 2018 11:59_

I tried it with nhibernate, and it worked fine, so it only happens with this package

[2018-08-24 18:10] livarcocc commented on #7239
_From @Miclebrick on July 4, 2018 12:16_

I ended up using bootstrap anyway, so I don't really need help with this anymore, but I will leave the issue open in case someone else has the issue... unless nobody else can reproduce it and it's just on my end

[2018-08-24 18:10] livarcocc commented on #7239
_From @ChrisK91 on August 24, 2018 15:56_

I'm experiencing the exact same issue on Windows, running Visual Studio 2017. Might be something funky with the package, as other packages install fine:

[code]

[2018-08-24 20:07] #7233 closed, assigned to nkolev92

[2018-08-24 20:11] nkolev92 commented on #7223
We opted for the first approach.

[2018-08-24 21:09] nkolev92 commented on #7233
Merged to 4.9....should be available in P2.
https://github.com/NuGet/NuGet.Client/commit/26844932e82e5c4e671e93e1a6c932853439c11d

[2018-08-24 23:36] #7223 closed, assigned to nkolev92

[2018-08-25 15:39] mbedded commented on #1630
Hello together,

i would love to see such a flag as well. Currently i had have the issue that the NuGet-Plugin for Jenkins marks a build as "failed" if a duplicated push causes an error (406 as you said above).

Just as an info: I created a small console-project (.NET) which verifies if a package is existing before a push will be done. https://github.com/mbedded/NugetWrapper
If a package is not ex

[2018-08-25 20:53] bruno-garcia opened #7240 "Cancelled task throws"
I'm using the NuGet client v 5.1:

[code]
When gracefully stopping my service (which trigger the cancellation token) I encounter errors:

[code]

The error is thrown from [here](https://github.com/NuGet/NuGet.Client/blob/3803820961f4d61c06d07b179dab1d0439ec0d91/src/NuGet.Core/NuGet.Protocol/Resources/RawSearchResourceV3.cs#L113).

More specifically, because [here](https://github.com/NuGet/NuGet.Cl

[2018-08-26 05:44] flcdrg opened #7241 "Migrate to PackageReference forgets to add PackageReferences!"
Trying to use the Migrate packages.config to PackageReference tool in Visual Studio 15.8 against the `chocolatey` project under the src directory from https://github.com/chocolatey/choco

The tool removes packages.config, reports a successful migration, but the chocolatey.csproj does not contain any PackageReference elements.

Confusingly, the Solution Explorer does show new package nodes under th

[2018-08-26 05:49] flcdrg commented on #7241
Same problem using 15.9.0 Preview 1

[2018-08-26 06:03] flcdrg commented on #7241
Uploaded logs and recording via Report a Problem to https://developercommunity.visualstudio.com/content/problem/321125/migrate-packagesconfig-to-packagereference-doesnt.html

[2018-08-27 10:32] unickq commented on #4837
Any ideas how to work with **tools** dir inside of PackageReference?

Tried to use `<CopyLocalLockFileAssemblies>true</CopyLocalLockFileAssemblies>` for NET461 - no luck

[2018-08-27 17:12] jeffkl commented on #6949
@jainaashish how do we get approval for 15.9?  We need to get this in ASAP but haven't figured out how you want to go about it.

[2018-08-27 17:28] jainaashish commented on #6949
@jeffkl I'm not sure what is the whole process to get this approve for 15.9...  may be @DoRonMotter can help here?

[2018-08-27 18:08] oskarm93 commented on #7236
I have exactly the same exception when trying to generate tokens!
A portion of our restores fails with this error:
[code]

Raised it previously on Developer Community to no avail:
https://developercommunity.visualstudio.com/content/problem/310187/sporadic-nuget-restore-failures-from-vsts-feed.html

Using the same version of NuGet and VSS Cred Provider from VSTS feed tab, but on Windows Server 2016

[2018-08-27 18:37] StephenCleary opened #7242 "Clearing global-packages cache causes restore to fail for missing packages with misleading errors"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe

NuGet version (x.x.x.xxx): 4.7.1.5393

dotnet.exe --version (if appropriate):

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)): win10 current

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

1. Create a

[2018-08-28 03:06] nishant-newton commented on #4488
Any update on this?

[2018-08-28 03:11] v-luzh opened #7243 "[Test Failure] The ‘custom.lock.json’ file is empty after installing PR packages while ‘NuGetLockFilePath’ set to ‘custom.lock.json’ file path"
## Details about Problem
NuGet version: NuGet Client dev-asja-projectLockFile\5.0.0.289
VS Version: D15.8stg 28020.3001
OS Version: Windows 10 RS4_Release 17134.1.180410-1804
## Detailed repro steps
1. Create a C# Class Library (.NET Framework 4.6.1) via VS.
2. Create a blank ‘custom.lock.json’ file at project directory (alongside *.csproj file).
3. Set MSBuild property “NuGetLockFilePath” to rela

[2018-08-28 04:29] jainaashish commented on #4488
@anangaur do you have any update for this issue? Would love to get this in your planning...

[2018-08-28 07:19] jairbubbles commented on #7041
I've been experiencing the same kind of issues.

In VS (testing with 15.8) the behavior is correct if you remove the package reference through UI, it will generate an empty `project.assets.json` and it will break the build as expected.

But as described in this issue if you remove the reference and build using `msbuild.exe /restore` it will still compile as `project.assets.json` is not being modif

[2018-08-28 07:34] jairbubbles commented on #7041
## Sample project 2

[NoPackageReferences.zip](https://github.com/NuGet/Home/files/2326967/NoPackageReferences.zip)

There are two projects in this solution with that structure:
`NoPackageReferences.csproj` => `LibWithPackageReference.csproj` => `Newtonsoft.json`

In `NoPackageReferences` we try to access `Newtonsoft.json` but we end up with:
[code]
If you add a package reference to another packag

[2018-08-28 07:51] DiggaTheWolf commented on #7219
Do you have any update when this will be worked on? I need to get this installed into VS 15.8.n

[2018-08-28 07:57] jairbubbles commented on #7041
Please note that adding those lines to `NoPackageReferences.csproj` will fix the issue:
[code]

[2018-08-28 08:24] svc-mercury commented on #7238
Can anyone help?

[2018-08-28 10:41] winseros opened #7244 "NuGet.exe CryptographicException when pushing as a Local System account"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe

NuGet version (x.x.x.xxx): 4.7.1

OS version (i.e. win10 v1607 (14393.321)): Windows Server 2016 v1607 14393.2312

## Detailed repro steps so we can see the same problem

1. Running NuGet.exe `push` command from the Local System account on CI server
`nuget push my-package.0.0.1.nupkg

[2018-08-28 12:55] rpajak-solarwinds commented on #7142
any update? should I report it to msbuild team?

[2018-08-28 14:06] anangaur opened #7245 "Errors due to missing/failing sources are inconsistently shown in solution explorer vs the error list"
From email:

There is a more widespread issue here of NuGet warnings never showing up in the error list. We see this in every project we maintain.
•	Can't connect to NuGet feed? No error from that, but hundreds of errors from missing types
•	Can't find the right package version? No errors from the restore, just missing types or methods
It's extremely frustrating to kick off a build that needs a ne

[2018-08-28 17:05] ca333 commented on #7194
+1

[2018-08-28 17:21] gthvidsten opened #7246 "Packing from Visual Studio does not include files defined in <files>"
I'm using the latest Visual Studio (15.8.1) and I'm looking into the "Pack" feature to automatically create NuGet packages.

I've created them manually earlier and I had a .nuspec file ready which includes some additional files in the `<files>` element. However, these files are not included in the package when I use the "Pack" feature.

I found #3678, which is a bit unclear, but I've interpreted t

[2018-08-28 18:02] kaunglvlv commented on #1329
I had the same issue on VS Pro 2017 v15.8.1.  Mine was worse because the editor won't even accept the enter key.  I never noticed it because I use VIM extension.

Solved it by resetting the keyboard in options.

[code]

[2018-08-28 19:52] nkolev92 commented on #7217
Duplicate of https://github.com/NuGet/Home/issues/6060

[2018-08-28 19:52] #7217 closed, assigned to nobody

[2018-08-28 19:59] nkolev92 commented on #7198
Related
https://developercommunity.visualstudio.com/content/problem/320953/nuget-restore-doesnt-get-latest-wildcard-version-a.html
and
https://github.com/NuGet/Home/issues/6987

[2018-08-28 20:06] #7234 closed, assigned to rohit21agrawal

[2018-08-28 21:32] #7173 closed, assigned to nobody

[2018-08-28 21:51] nkolev92 commented on #7245
This is reproable.
Auto-restore does not seem to propagate this error.

Rebuild sometimes succeeds as well despite not being able to access the source.

If you do a 2nd restore though after the auto restore, the error does show up in the window.

Still need to confirm if this is a regression.

[2018-08-28 22:06] nkolev92 commented on #7235
Most of what you're articulating can already be achieved with csproj pack.

The 2nd example is something that should be determined by the build rather than the user manually. If a library builds with libcurl as a dependency, then it should be in the package generated later on by that project.

// cc @rohit21agrawal thoughts?

[2018-08-28 22:19] nkolev92 commented on #7236
The VSS Credential provider is not managed by the NuGet itself. It's on the provider to do caching when appropriate.

Part of the difference you are seeing between having a PAT in the config and an exe could be the process startup cost.
It's likely that it adds at least 1s to the total.

Do you get prompted by the credential provider too often? Or is it just the work in the background?

//cc @keit

[2018-08-28 22:21] nkolev92 commented on #7237
Duplicate of https://github.com/NuGet/Home/issues/1538

[2018-08-28 22:21] #7237 closed, assigned to nobody

[2018-08-28 22:24] nkolev92 commented on #7238
The NuGet mirror command is not support in 3+ versions NuGet and we currently have no plans to support down level versions.

Please try using the latest 2.x NuGet version.

https://github.com/NuGet/Home/issues/2709

[2018-08-28 22:24] #7238 closed, assigned to nobody

[2018-08-28 22:31] nkolev92 commented on #7239
This is only a problem with 6.4.3 version of this package.

I have tried to repro it 6.4.1 and 6.4.0 versions and there are no issues there.

[2018-08-28 22:36] taori commented on #1538
I sure hope priority 1 makes this happen seeing how this issue is rather old considering how relevant it is

[2018-08-28 22:42] rohit21agrawal commented on #7246
To pack additional files which are not framework specific, refer to : https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#including-content-in-a-package

For framework specific files, refer to: https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#advanced-extension-points-to-create-customized-package

[2018-08-28 22:42] nkolev92 commented on #7239
The root cause of this is that in the content folder in the package there's both a folder and a file with the Scripts name.
Then NuGet has trouble extracting this.

Namely:

![foundation-sites-6 4 3](https://user-images.githubusercontent.com/2878341/44754912-c89a1880-aad8-11e8-8dd1-8338227f60a6.png)

I'd suggest you reach out to the package authors and ask them to fix their package.

https://www.n

[2018-08-28 22:57] rohit21agrawal commented on #7241
Could it be that you haven't saved your project and are looking at the csproj file using a different editor?
i just tried the migration, and upon unloading the project and viewing the csproj file from VS, i did see the following entries in the project file:

[code]

[2018-08-28 23:03] nkolev92 commented on #7240
Just adding the relevant metadata to this issue @bruno-garcia.

We really appreciate you following up with a PR.

[2018-08-28 23:16] nkolev92 commented on #7243
//cc @jainaashish

[2018-08-28 23:38] nkolev92 commented on #7244
The root cause here is that there's an encrypted password in the nuget.config.

The encryption context is user, so you need to user the same user that encrypted the credentials.

https://github.com/NuGet/NuGet.Client/blob/2bc22f9a5efe44940b3381add2bfe2a4563314ee/src/NuGet.Core/NuGet.Configuration/Utility/EncryptionUtility.cs#L36

Since you're using an API key, the correct thing would be to make su

[2018-08-28 23:42] nkolev92 commented on #6841
This seems like a dup to https://developercommunity.visualstudio.com/content/problem/231598/nuget-type-e-libnotregistered.html.

//cc @tmeschter Can you please confirm?

Should this be moved to project-system side according to your comment on the [following](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/588126)

[2018-08-28 23:42] flcdrg commented on #7241
No, definitely saved the project. I'll try on a different computer to see if I get the same result or not.

[2018-08-28 23:44] nkolev92 commented on #7073
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2018-08-28 23:44] #7073 closed, assigned to nobody

[2018-08-28 23:50] nkolev92 commented on #7074
@Korporal Have you gotten a chance to answer @mishra14's question?

[2018-08-28 23:52] nkolev92 commented on #7227
@irongut
Can you give a repro project?

I tried your recommended steps on a basic class lib and was not able to reproduce it.

[2018-08-28 23:53] nkolev92 commented on #7171
@ygoe
Have your problem been resolved?

[2018-08-28 23:54] nkolev92 commented on #7140
@jhenyffer Can you please provide the logs/repro project?

[2018-08-28 23:55] nkolev92 commented on #7110
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2018-08-28 23:55] #7110 closed, assigned to nobody

[2018-08-29 00:05] nkolev92 commented on #7095
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2018-08-29 00:05] #7095 closed, assigned to nobody

[2018-08-29 00:19] nkolev92 commented on #7142
This issue was moved to Microsoft/msbuild#3667

[2018-08-29 00:19] #7142 closed, assigned to nobody

[2018-08-29 03:32] karann-msft commented on #7226
@nkolev92 I disagree. It is not a docs issues. The discussion went in the direction of getting a repro, etc. and docs repo is not the place for that. Once you determine what needs changing and what should be updated in the docs, feel free to open a PR on the docs repo.

[2018-08-29 05:02] VicPlanning commented on #5768
Getting this error with VS 15.8.1

[2018-08-29 05:45] jainaashish commented on #7243
@v-luzh thanks for reporting this. This was reproducible with relative path which I'll fix with the original PR. But it was working fine with absolute path. So try again with absolution path, and remove double quotes while setting that path.

[2018-08-29 06:08] sathyab18 opened #7247 "Unable to resolve 'System.Net.Http (>= 4.3.1)' for '.NETFramework,Version=v4.6.1'"
I got this below error when i run applcation in vs2017

Error	NU1100	Unable to resolve 'System.Net.Http (>= 4.3.1)' for '.NETFramework,Version=v4.6.1'.
Error	NU1100	Unable to resolve 'Microsoft.ApplicationInsights.PerfCounterCollector (>= 2.4.1)' for '.NETFramework,Version=v4.6.1'.
Error	NU1100	Unable to resolve 'Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel (>= 2.4.0)' for '.NETFra

[2018-08-29 06:23] ThomasN-Saab commented on #7235
I don't think a NuGet package should have to include the libraries it is dependent on when those libraries can be in their own NuGet package. In fact, I think the documentation states that anything that is useful on its own should have its own package, and libcurl has its own package.

Also, in this case I'm not using csproj pack because the project doesn't have a csproj. There are plenty of open

[2018-08-29 06:52] oysteinjaren commented on #5385
I agree. This messes up the change log unless you take the time to go through the config diff and reset all the formatting changes, which has to be done carefully so you don't accidentally reset some of the actual config changes.

[2018-08-29 07:00] pascalberger commented on #7173
@PatoBeltran Thanks for fixing this! What's the expected version for this to ship?

[2018-08-29 08:47] johncmolyneux commented on #738
I'm facing this problem as well and finding no working solution.  I can't believe this simple issue has been around for over 3 years and hasn't been fixed.

[2018-08-29 08:59] svc-mercury commented on #7238
I am aware 'mirror' command is not supported anymore (as indicated before "....the 'mirror' command has been deprecated after 3.2+..."); hence, this query. I am currently using 2.8.60717.93. What version 2.x are you suggesting and from where I can download this?

Simply resolving this ticket does not help me. I have raised this query to get help and asking me to simply use 2.x is not adding any va

[2018-08-29 12:52] formiaczek commented on #5996
NuGet version 4.6.2.5055 still has this.

This problem is described well here, too:

https://stackoverflow.com/questions/45088790/why-are-c-sharp-references-added-differently-between-nuget-and-visual-studio

And this is exactly what I can see / reproduce every time.

[2018-08-29 12:54] formiaczek commented on #6242
NuGet version 4.6.2.5055 still has this.

This problem is described well here, too:

https://stackoverflow.com/questions/45088790/why-are-c-sharp-references-added-differently-between-nuget-and-visual-studio

And this is exactly what I can see / reproduce every time.

[2018-08-29 13:49] sanderaernouts commented on #7236
We do not get prompted often but it does retrieve a new token every time so the provider seems to add more like 10s instead of 1s to every call.

[2018-08-29 13:49] luizluan commented on #6841
Same problem here, Visual Studio 15.7

I fixed

If you have Office Uninstall Office and install again. Or do the following if you use outlook remove the default settings (control panel / mail), modify office by removing outlook and add the outlook again then open it.

Repair Visual Studio or modify to use Microsoft Visual Studio Office Tools

Nuget Package works

[2018-08-29 16:02] jotaylo commented on #7236
It looks like the thread on the developer community didn't get assigned to the correct team. I've assigned it now, and we'll follow up over there.

[2018-08-29 17:21] dtivel opened #7248 "Signing: signing should fail if a package has too many package entries (>65534)"
If a package has >= 65534 package entries, package signing should fail.  This is because the addition of a signature file would necessitate Zip64.

[2018-08-29 17:43] NickCraver commented on #7245
For those trying to repro in other ways, here was my super quick demo showing most of the issues at once:

![nugeterrors](https://user-images.githubusercontent.com/454813/44805143-6d782c80-ab91-11e8-8410-810d35d15647.png)

[2018-08-29 17:53] joelverhagen opened #7249 "NuGet.Build.Tasks.Pack should be a development dependency"
This package can be manually consumed by a legacy .csproj with package reference to enable `msbuild /t:pack`. This is a workaround for https://github.com/NuGet/Home/issues/5979.

We should set `<developmentDependency>true</developmentDependency>` on the output nupkg.

/cc @rohit21agrawal @chenriksson

[2018-08-29 17:58] rohit21agrawal commented on #7249
it would have been easier to send a PR than to file an issue :P

[2018-08-29 18:09] gthvidsten commented on #7246
Do you know of any way to do this automatically or through the GUI, without having to edit the .csproj file?

[2018-08-29 18:10] rohit21agrawal commented on #7246
no. that's not possible as of now.

[2018-08-29 18:16] nkolev92 commented on #7238
My bad, I missed that you are already using the latest 2.x version.
Related https://github.com/NuGet/Home/issues/3430.

@svc-mercury
Unfortunately there's not much you can do here and the error are self descriptive.
A package with the repository metadata in the nuspec does not work.
Removing repository metadata might fix it.

NuGet 2.8 does not really support netstandard so you might be getting th

[2018-08-29 19:01] nkolev92 commented on #7236
Closing this as a duplicate of the developer community issue  https://developercommunity.visualstudio.com/content/problem/310187/sporadic-nuget-restore-failures-from-vsts-feed.html per @jotaylo 's comment.

[2018-08-29 19:01] #7236 closed, assigned to nobody

[2018-08-29 19:05] #7232 closed, assigned to nobody

[2018-08-29 19:09] winseros commented on #7244
Yep, you're right. The user `Local System` used `NuGet.config` copied from another user. But I'd expect a bit more explaining error message in this case.

[2018-08-29 19:18] nkolev92 commented on #7244
This is an error message thrown by the crypto API, it'd be very difficult for the client to detect what's going on here.

[2018-08-29 19:24] winseros commented on #7244
Ok, anyway it is good the reason is clear and you pointed me a way to make everything work.
Thank you!

[2018-08-29 19:24] #7244 closed, assigned to nobody

[2018-08-29 19:26] Toemsel commented on #4488
Same issue. Update?

[2018-08-29 19:47] tmeschter commented on #6841
@nkolev92 @abpiskunov @sagoo33 I'm only aware of this error occurring on systems where certain builds of 15.8 Preview were installed side-by-side with 15.7 (or Preview builds of 15.7 installed SxS with 15.6, etc.).

_Most_ VS components are local to the installation directory, allowing you to have different builds of VS in different directories without any conflicts. However, there are still a few

[2018-08-29 19:52] nkolev92 commented on #6841
Thanks for the explanation @tmeschter

Has anyone hit this issue without a side-by-side installation of Visual Studio?

[2018-08-29 20:01] jotaylo commented on #7236
@sanderaernouts requesting a new token on every invocation to nuget.exe is expected, however we suspect that there has recently been a server-side change that's degrading the performance. We'll see if we can add some sort of optimization here.
 In the meantime, you may find the [Vss NuGet AuthHelper](https://www.nuget.org/packages/Microsoft.VisualStudio.Services.NuGet.AuthHelper/) useful. It lets

[2018-08-29 21:06] mishra14 commented on #5385
cc @PatoBeltran who is working on xml changes.

[2018-08-29 21:15] iskiselev opened #7250 "Nugetizer: PackageTypes metadata"
Nugetizer do not support PackageTypes metadata generation for nuspec files. It even defines appropriate metadata in NuGet.Build.Packaging.targets, but don't use it in CreatePackage task.

[2018-08-29 22:51] #7240 closed, assigned to nobody

[2018-08-30 00:35] #7249 closed, assigned to rohit21agrawal

[2018-08-30 03:10] flcdrg commented on #7241
Ok.. so on different computer it worked as expected (same results as you).

I re-ran it on my initial computer and also managed to get it to work. Once thing I noticed though is that while the migration was taking place, Visual Studio popped up a dialog saying the project had been modified on disk and did I want to reload it. This time I said "No" (pretty sure previously I'd been saying "Yes").

[2018-08-30 03:59] rohit21agrawal commented on #7241
Did it say project or file? I imagine this could happen if you have the csproj or packages.config file open in VS editor.

Anyway, if this is not an issue for you anymore, feel free to close the issue!

[2018-08-30 04:08] flcdrg commented on #7241
It says 'The project 'chocolatey' has been modified outside the environment

Neither the csproj nor packages.config are open in VS (or anything else).

Possibly related, but not sure if you noticed during the migration it throws up an init.ps1 script into Notepad - maybe that's messing with the project when the package is uninstalled as part of the migration.

[2018-08-30 04:49] EamonHetherton commented on #2824
I have encountered this too. Given the age of the bug I'm not holding my breath for a fix.

My workaround at the moment is to force my dependent projects to build as Release in their csproj file as so far I only ever pack release builds.

[2018-08-30 10:12] nishaatr commented on #7238
Thank you nkolev92.

Was Nuget.exe 2.12 ever released and where can I download it from?

Want to try it if possible before I think of upgrading our NuGet server.

[2018-08-30 10:40] GKlush opened #7251 "NU3008: The package integrity check failed when installing System.Management.Automation 6.0.4."
## Details about Problem
NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): dotnet.exe
NuGet version (x.x.x.xxx): 4.5.1.4879
dotnet.exe --version (if appropriate): 2.1.302
OS version (i.e. win10 v1607 (14393.321)): win 10 v1607 (14393.0)
Worked before? If so, with which NuGet version: 4.5.1.4879

## Detailed repro steps so we can see the same problem
1. Build project.
2

[2018-08-30 11:40] Styxxy opened #7252 "Manage nuget packages solution level : update packages should not trigger selection "packages.config" or "packagereference" dialog"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): **VS UI**
NuGet version (x.x.x.xxx): the one provided with VS
VS version (if appropriate): **15.7.5**
OS version (i.e. win10 v1607 (14393.321)): **Windows 7**

Worked before? If so, with which NuGet version: **no**

## Detailed repro steps so we can see the same problem

1. Having a solution wi

[2018-08-30 11:52] Styxxy opened #7253 "Manage nuget packages solution level : dark theme VS update packages causes strange UI colours"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): **VS UI**
NuGet version (x.x.x.xxx): the one provided with VS
VS version (if appropriate): **15.7.5**
OS version (i.e. win10 v1607 (14393.321)): **Windows 7**

Worked before? If so, with which NuGet version: **no**

## Detailed repro steps so we can see the same problem

0. Having Visual Studio

[2018-08-30 12:13] xen2 commented on #890
@zhili1208  @rrelyea Definitive close or this might be reevaluted later?
Comparing 7z to zip, I am sure having packages twice smaller (and even more with duplicate files w/ ref assemblies) would benefit a lot of people due to faster download/deployment.

[2018-08-30 18:28] wli3 commented on #6949
There should be a block on normal project PackageReference a `PackageType=DotnetTool`? So how could user use it in their csproj? Or all these internal package don't have the PackageType

[2018-08-30 20:45] karann-msft commented on #6518
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.CommandLine/NuGet.CommandLine.nuspec#L13
it should be .NET Foundation
not .NET Foundations
there is an extra "s"

it's my bad since I put the errant "s" in my comment above. :(

[2018-08-30 21:57] PatoBeltran commented on #7247
Hey, @sathyab18 thanks for opening this issue. Can you give me a little more information on how you got this error? It would be ideal if you could provide me with a project that has this issue so I can reproduce it and investigate the cause.

Thanks!

[2018-08-30 22:00] PatoBeltran commented on #7149
Closing this since it doesn't seem to be a nuget issue.

[2018-08-30 22:00] #7149 closed, assigned to nobody

[2018-08-30 22:00] jainaashish commented on #7212
closed as dupe of https://github.com/NuGet/Home/issues/5773

[2018-08-30 22:00] #7212 closed, assigned to nobody

[2018-08-30 22:01] nkolev92 commented on #7235
@ThomasN-Saab
You can always consider using an SDK based csproj just for packing which would allow you to use conditions.
Every file would be content.

For reference:

https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets
https://github.com/NuGet/NuGet.Client/blob/86f9c3f42db599ac051aa7e95fb4d2257e2df92c/src/NuGet.Core/NuGet.Build.Tasks.Pack/NuGet.Build.Tasks.Pack.targets

[2018-08-30 22:03] PatoBeltran commented on #7173
@pascalberger we are planning to ship this in nuget.exe 4.8.1 which should be out by early next week. Just a heads up, the approach from the testing private bit I sent you changed, the final approach uses an environment variable instead of adding the setting to nuget.config. Once the documentation for this feature is live I can point you to it, also feel free to see the code in the PR linked here.

[2018-08-30 22:04] PatoBeltran commented on #7008
Closing this since it was fixed by https://github.com/NuGet/Home/issues/7173, this code should ship in the next release.

[2018-08-30 22:04] #7008 closed, assigned to PatoBeltran

[2018-08-30 22:09] #6960 closed, assigned to jainaashish

[2018-08-30 22:10] #6955 closed, assigned to jainaashish

[2018-08-30 22:11] #6962 closed, assigned to zhili1208

[2018-08-30 22:12] PatoBeltran commented on #6958
@rrelyea can we get approval for this?

[2018-08-30 22:20] PatoBeltran commented on #6958
This was merged into the `release-4.9.0-preview3` branch.

[2018-08-30 22:20] #6958 closed, assigned to jainaashish

[2018-08-30 22:22] rrelyea commented on #7165
dotnet pack will set author and owner in the nuspec spec to the author value.

[2018-08-30 22:30] rohit21agrawal commented on #7196
it was only done for fixing #7116 . there are no other changes in it .

[2018-08-30 22:30] #7196 closed, assigned to nobody

[2018-08-30 22:33] nkolev92 commented on #7228
@dbeuchler There has been no changes that I'm aware of that could break this.
We have not seen this problem on other feeds.

Just confirm what you are articulating.
A nuget.exe 4+ push on Windows with a proget installation running on Windows fails consistently?

[2018-08-30 22:35] rohit21agrawal commented on #7096
closing issue since we haven't heard back from @kitdelosreyes since a few weeks. please re-activate if this is still an issue.

[2018-08-30 22:35] #7096 closed, assigned to nobody

[2018-08-30 22:36] rohit21agrawal commented on #7093
closing issue due to lack of response. please reactivate if this is still an issue.

[2018-08-30 22:36] #7093 closed, assigned to nobody

[2018-08-30 22:37] nkolev92 commented on #7127
@Rod-in-NM

Are you able to reproduce this consistently?
Anything you can point us to, to help us investigate?

[2018-08-30 22:38] rohit21agrawal commented on #7084
thanks @gfraiteur . we are closing this issue on our side.

[2018-08-30 22:39] PatoBeltran commented on #6758
Closing as a duplicate of https://github.com/NuGet/Home/issues/6403

[2018-08-30 22:39] #6758 closed, assigned to nobody

[2018-08-30 22:42] nkolev92 commented on #7128
Thanks for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2018-08-30 22:42] #7128 closed, assigned to nobody

[2018-08-30 22:45] jainaashish commented on #7206
So here are two parts of this issue:
1. nuget.exe with mono - Mono doesn't support tls12 and request timeouts after 100s. Dupe of https://github.com/NuGet/Home/issues/3947

2. dotnet.exe - request failed with 500 Internal server error.  @chrishiestand  can you tell us couple of things:
a. Is this specific to artifactory source or can you repro it with any other feed as well?
b. Can you connect to

[2018-08-30 22:45] PatoBeltran commented on #6752
Will close this since we don't have a way to repro it. Please feel free to reopen this issue if it is still problematic and there is a way we can work on it.

[2018-08-30 22:45] #6752 closed, assigned to nobody

[2018-08-30 22:49] rrelyea commented on #7167
NuGet.Client\src\NuGet.Clients\NuGet.PackageManagement.UI\Actions\UIActionEngine.cs line 154 has:

            using (var progressDialogSession = await context.StartModalProgressDialogAsync(windowTitle, progressDialogData, uiService))

The VS dialog doesn't properly scale when we pass in this windowTitle.

[2018-08-30 22:54] rohit21agrawal commented on #6996
thanks, we realize this is an issue and apologize for the inconvenience. We do not have a concrete solution to this yet, but are in the process of coming up with a plan to standardize our public API surface.

[2018-08-30 22:54] #6996 closed, assigned to nobody

[2018-08-30 22:55] jainaashish commented on #7116
Done

[2018-08-30 22:55] #7116 closed, assigned to jainaashish

[2018-08-30 22:55] PatoBeltran commented on #6952
Hey @karthikanandan, so sorry that we missed this issue. Is this still a problem? If so, would it be possible for you to provide a repro project or some repro steps so I can investigate on this issue? Thanks! And again, sorry that it took us so long to respond.

[2018-08-30 22:59] nkolev92 commented on #7138
You can do restore independently for different projects.
NuGet cannot really suggest that unfortunately.
What we can do is make the assets file better to work with shareable intermediates Please follow this issue for that https://github.com/NuGet/Home/issues/4463.

[2018-08-30 22:59] #7138 closed, assigned to nobody

[2018-08-30 23:05] rrelyea commented on #7167
Runs into same problem with English -- if you have a very long project name.

[2018-08-30 23:10] nkolev92 commented on #7131
Thanks for the write-up @StingyJack

Basically run pack with the same argument that you build with.

@sourceskyboxer

Does @StingyJack's explanation address your problems? :)

[2018-08-30 23:12] nkolev92 commented on #7039
@jpsalada Can you please answer @jainaashish's question?

[2018-08-30 23:13] PatoBeltran commented on #7251
Hey @GKlush, thanks for opening this issue! This failure might actually be a good thing!

Since 4.6.2 nuget does integrity and trust validation on signed packages.

This error means that you downloaded a package, and while doing the validation before extracting, the contents of the package seemed different from the ones the signature announced. This could be because someone tampered with the packa

[2018-08-30 23:14] jainaashish commented on #7111
@ronnyek you should set `developmentDependency` to `true` on your wrapper library so that when your library is installed, it will automatically set `PrivateAssets` and `excludeAssets` on the package reference.

More details in https://docs.microsoft.com/en-us/nuget/reference/nuspec

[2018-08-30 23:15] #7111 closed, assigned to nobody

[2018-08-30 23:19] jainaashish commented on #7109
Sorry, We don't have enough bandwidth to get to this feature ask at this point in time and neither this aligns with our current strategy.

[2018-08-30 23:19] #7109 closed, assigned to nobody

[2018-08-30 23:20] PatoBeltran commented on #7253
@Styxxy this was fixed in https://github.com/NuGet/NuGet.Client/pull/2267 and was shipped in 4.8.0!

[2018-08-30 23:20] #7253 closed, assigned to nobody

[2018-08-30 23:20] jainaashish commented on #7108
Sprint task completed

[2018-08-30 23:20] #7108 closed, assigned to nobody

[2018-08-30 23:21] rohit21agrawal commented on #6986
@kardinal3000 do you have a repro project we can look at ?

[2018-08-30 23:23] nkolev92 commented on #7030
Gather dependency information is driven by the speed of the sources in your sources list.
If you increase the verbosity of the logs in Visual Studio, you will get more information about what nuGet is doing.

Same with the install tab, it's driven by the speed of the sources. NuGet does not really have that much context. It could be because of a slow sources, your internet connection etc.

The meta

[2018-08-30 23:26] rrelyea commented on #7179
thanks @StingyJack for the help.

@eschneider999  - our docs for nuget.config.
https://docs.microsoft.com/en-us/nuget/reference/nuget-config-file

nuget.config works regardless of whether you use v1 style (packages.config) or v4 style (packagereferences)

[2018-08-30 23:29] nkolev92 commented on #7030
I think the only actionable that I can take out here is that you'd like the packages to be ordered alphabetically.

[2018-08-30 23:29] abpiskunov commented on #6841
I did not see this in other version of VS. I had 15.8, 15.9 and 16 on different machines side by side. Was it only for 15.7 and 15.8? Is shared component removed now? I had an impression that with willow priority is very high to get all VS instances to be independent.

[2018-08-31 00:14] #7155 closed, assigned to rohit21agrawal

[2018-08-31 01:19] AdrianSanguineti commented on #7204
I too am experiencing the exact same error message with my private hosted TFS agents and nuget. I have set the "DOTNET_SYSTEM_NET_HTTP_USESOCKETSHTTPHANDLER" environment variable to 0 and restarted my agents. The error now appears to have gone away (for now at least).

[2018-08-31 02:35] v-luzh commented on #7243
@jainaashish , Yes, you are right. The absolute path (without quotes) works. Updated the repro steps.

[2018-08-31 03:12] sathyab18 commented on #7247
Hey,
Actually i tried to study about rent a cab app.
https://www.c-sharpcorner.com/article/angular-demo-application-with-asp-net-core-mvc-rent-a-car/

So i installed vs studio 2017 community version. and tried to open this solution and i got this error.
![screen](https://user-images.githubusercontent.com/7556078/44890795-a6cbac00-acf9-11e8-812a-f100fffdac0a.png)

Thanks!

[2018-08-31 05:32] nkolev92 commented on #7238
Unfortunately no, 2.12 of NuGet.exe was not released.

[2018-08-31 06:40] maartenba commented on #5286
Is this in 4.8 or will it be in 4.9?

[2018-08-31 06:52] Styxxy commented on #7253
@PatoBeltran So in which VS version is this shipped, 17.8?

[2018-08-31 07:24] sanderaernouts commented on #7236
@jotaylo thanks for sharing the AuthHelper. I will certainly have a look at that. Regarding the tokens, I see the token generated by the Credential Provider has an expiration time that is valid for about 4 hours after it was generated. Can't this token be cached/stored securely and be reused until it expires?

We use a very similar approach in one of our applications which stores a generated JWT t

[2018-08-31 07:40] ThomasN-Saab commented on #7235
I had not considered using a csproj file just for the packing... I shall explore this option. Thank you.

I still think that having this functionality directly in the NuSpec is relevant, so thank you for adding this feature request to the backlog.

[2018-08-31 08:42] ghost commented on #7131
Thanks for replying! I am sorry I am very busy to develop my C# applications. My god I am always busy. I am sorry for late answer! I am here now. Yes @StingyJack thanks I will care your solution.

Thanks!

[2018-08-31 09:28] tomkerkhove opened #7254 "Feature Request - Provide capability to generate dependency graph"
With the new `csproj` format it no longer lists dependencies for packages that are being referenced with `PackageReference`.

This is great for the developer but in certain scenarios you'd like to have a full dependency graph of your project(s) in order to automate processes such as security scanning.

Currently `obj/project.assets.json` does generate this but this requires you to do a full build

[2018-08-31 09:39] maartenba commented on #7254
May want to check:
* https://www.jerriepelser.com/blog/analyze-dotnet-project-dependencies-part-1/
* Or more visual: https://github.com/mholo65/depends (example: https://twitter.com/mholo65/status/1014128499987288069)

[2018-08-31 09:55] tomkerkhove commented on #7254
So there is no way to achieve this without building?

[2018-08-31 10:28] NasAmin commented on #5602
Hi
Is there any ETA on this. Wasn't this originally planned for Spring 2018?
I'd appreciate if some information can be provided about the estimate completion time for this.

regards,

Nas

[2018-08-31 10:30] NasAmin commented on #5602
Also, what impact will this have on Semantic Versioning and GitFlow?

[2018-08-31 10:38] GKlush commented on #7251
Tank you. You are right. Excuse my please. The command "dotnet restore" works very well. I get error when i execute command "nuget restore" and then i get empty folder ".nuget\packages\system.management.automation".
Below there are logs of command: nuget.exe verify -signatures .nuget\packages\system.management.automation\6.0.4\system.management.automation.6.0.4.nupkg

Verifying System.Management.A

[2018-08-31 11:29] drieseng opened #7255 "ContentFiles: Embedded resources are always flattened"
When a NuGet package is created with content files in a nested directory structure, the (manifest) resource names of the embedded resources that are created for these files do not contain the relative directory path (with slashes converted to dots).

### Steps to reproduce:

1. Create a **NuGet** package with the following content:

[code]

2.  In the **.nuspec** for this package, add the followin

[2018-08-31 12:20] sehe commented on #7008
@adrian-moll wouldn't it be better to black-hole instead of causing (hopefully) failing traffic to loopback?

[code]

[2018-08-31 13:07] nishaatr commented on #7238
Thanks nkolev92.

[2018-08-31 13:29] HavartiCheese opened #7256 "Dependency Tree NU1605 - Packing with floating versions generates an incorrect version"
## Details about Problem

NuGet product used (VS UI / .net core CLI ):

NuGet version (4.7.0.5):

dotnet.exe --version (2.1.302):

VS version (2017):

OS version (Win7 x64 SP1):

## Detailed repro steps so we can see the same problem

-For .net core 2.1
1. Produce a project (Project B), with no dependencies, pack and publish this with version 1.0.5

2. Produce a Project (Project A) that references

[2018-08-31 13:54] Rod-in-NM commented on #7127
No @nkolev92, I'm not able to reliably reproduce this problem, sorry.

[2018-08-31 13:59] venmaram commented on #6581
same error. can anyone help on this issue? Thanks

[2018-08-31 14:46] ab3llo commented on #7256
The **nearest wins** see the documentation here - https://docs.microsoft.com/en-us/nuget/consume-packages/dependency-resolution

[2018-08-31 16:36] nkolev92 commented on #7127
Thanks for getting back @Rod-in-NM.
If you do notice a pattern, please let us know what you've done.
Unfortunately these issues are difficult to fix without a scenario.

[2018-08-31 17:13] #7248 closed, assigned to dtivel

[2018-08-31 17:26] ygoe commented on #7171
Well, I have no nuspec file. Just a .csproj file. Can I just put everything in there?

[2018-08-31 17:31] nkolev92 commented on #7171
@ygoe
Yes you can set the metadata,
`<DevelopmentDependency>true</DevelopmentDependency>`

[2018-08-31 18:24] chrishiestand commented on #7206
@jainaashish That is a good breakdown. At the time of issue creation I wasn't sure to what degree mono and dotnet were separate.

I finally figured out the problem when I learned that you can view the request logs from the artifactory side. Artifactory was showing 401 errors, even though the dotnet restore client was showing 500 errors. Learning it was an auth issue led me to to figure out how to

[2018-08-31 18:26] chrishiestand commented on #7206
So in summary the 2 bugs are:

1. nuget.exe with mono - Mono doesn't support tls12 and request timeouts after 100s. Dupe of #3947
2. `dotnet restore` does not pass through server error of 401 and instead shows 500

I'm fine with closing this issue now, or whatever you all would like to do.

[2018-08-31 18:31] rohit21agrawal opened #7257 "validate packing snupkgs on DebugType=portable"
the new format of symbol packages (snupkgs) allow any kind of pdbs to be packed right now. while this is a limitation when we are packing using nuspec, packing via csproj (for both nuget.exe and dotnet.exe) should validate whether ``` DebugType=portable``` is set.

[2018-08-31 18:32] jainaashish opened #7258 "Normalize RestoreResult properties"
Currently there are multiple properties in [`RestoreResult`](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Commands/RestoreCommand/RestoreResult.cs) to identify existing assets file vs new assets file along which are used to identify when we need to write the assets file on disk. This has often resulted into more trouble since assets file schema keeps growing and there're alw

[2018-08-31 18:48] ygoe commented on #7171
Yes, that helps. My NuGet package is now automatically installed as private and will not show up as a dependency in a third project. Thank you!

[2018-08-31 19:22] mwpowellhtx opened #7259 "Bad recursive directories in MSBuild Custom Task package"
The output package just looks wrong. Have a look at the ``tasks/`` folder and tell me what you think? I have also attached the project file. Some names have been changed to protect the identity of my project, but that's about it. Otherwise the output folder structure is *"intact"* as it were with the output at the present time.

[MyCustomTask.csproj.zip](https://github.com/NuGet/Home/files/2341304

[2018-08-31 20:57] mwpowellhtx commented on #7259
I think I figured it out, looking into the ``<Target Name="PackTaskDependencies" AfterTargets="Build" BeforeTargets="GenerateNuspec" />`` in my project file.

[2018-08-31 20:57] #7259 closed, assigned to nobody

[2018-08-31 21:06] nkolev92 commented on #7171
Sounds good.

Thanks for following up.

Closing this now.

[2018-08-31 21:06] #7171 closed, assigned to nobody

[2018-08-31 21:25] nkolev92 commented on #7210
@tommorganshaw

I was not able to reproduce this locally.
Did you attempt/were you able to reproduce it locally?

I think this is likely not a dotnet.exe/NuGet problem but either a problem with the build definition or a problem with the build task you're using.
In that case, it'd probably be more suitable to reach out to the VSTS team by filing an issue on development community.

[2018-08-31 21:28] nkolev92 commented on #5286
@maartenba
We are not doing too many new features in 4.9.

With the new credential provider available as solution, this particular problem has lower priority.
This change will be in 5.0.

[2018-08-31 21:51] nkolev92 commented on #7225
We're already having a discussion in https://github.com/NuGet/docs.microsoft.com-nuget/issues/947#issuecomment-417798213.

[2018-08-31 23:46] nkolev92 commented on #7245
I was able to repro this on the latest D15.7, so it doesn't look like a regression from that specific release.

[2018-09-01 00:30] PatoBeltran commented on #7173
@pascalberger nuget.exe 4.8.1 has just shipped with this fix. You can download it at https://www.nuget.org/downloads

[2018-09-01 00:31] PatoBeltran commented on #7008
nuget.exe 4.8.1 has just shipped with the fix for this issue. You can download it at https://www.nuget.org/downloads

[2018-09-01 00:54] vsfeedback opened #7260 "Nuget package summary not supported in VS UI"
The summary field defined in the nuspec specification here: https://docs.microsoft.com/en-us/nuget/reference/nuspec#general-form-and-schema is not available in the Visual Studio UI.

Continuation of https://developercommunity.visualstudio.com/content/problem/175015/nuget-package-summary-not-supported-in-vs-ui.html?childToView=320389#comment-320389 per request of MS Staff.

_This issue has been mov

[2018-09-01 00:56] nkolev92 commented on #7260
@rohit21agrawal @rrelyea
This is regarding display the summary metadata in VS.

However in the pack targets, we don't support the summary metadata per https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#pack-target?

Are we deprecating this?

[2018-09-01 04:47] thinkOfaNumber commented on #7216
This error seems to go away after I close and reopen VS2017 before selecting "Manage NuGet Packeges for Solution" again.

[2018-09-01 05:20] StingyJack commented on #7108
@jainaashish - whats this kind of issue for? There is no attached commit or other work visible and no summary to it.

[2018-09-01 06:17] maartenba commented on #5286
Thanks!

[2018-09-01 06:53] pascalberger commented on #7173
@PatoBeltran Thanks! Do you plan to also update [NuGet.CommandLine package](https://www.nuget.org/packages/NuGet.CommandLine/) to this version?

[2018-09-01 10:20] drieseng commented on #7255
Suppose we have version **1.1.0** of a **OurCompany.Resources** NuGet package that contains a "any\any\images\logo.png" content file.

We reference this NuGet package in a **ConsoleApp1** project which has **C:\Temp\ConsoleApp1** as project directry, and build this project.

## Current behavior

The **ResolveNuGetPackageAssets** task creates the following item for the **logo.png** content file:

[

[2018-09-01 15:38] nkolev92 commented on #7256
This seems like a problem in pack.
I have inversed the names from the example A is B and B is A, but this is what I have.

The nuspec is the following.
[code]

However the csproj is the following:

![untitled](https://user-images.githubusercontent.com/2878341/44947478-5bc99b80-adc2-11e8-8db1-ac7d487e300d.png)

[2018-09-01 19:16] pascalberger commented on #7173
And are there any release notes available somehwere?

[2018-09-02 22:39] niwrA commented on #4879
So considering how long this has been open, does this mean we should just use nuget to publish instead of dotnet?

[2018-09-03 04:26] StingyJack commented on #7252
Would you expect this set of steps to not make any changes to teh ClassLibrary project? (no adding of app.config, reformatting files, changing the proj file, etc?)

[2018-09-03 04:45] StingyJack commented on #7180
The general trashing of formatting is the result of using XmlDocument or XDocument. Other than parsing the file as text I dont think there is a way to preserve all existing formatting in a config file. I would consider that a defect in either those two classes, or in the decision to use XML files for .net configuration.  FWIW, the ability to add comments to XML makes it better than JSON for this p

[2018-09-03 05:32] vmelamed opened #7261 "Uploading symbols always fails"
## Details about Problem
The small script below always fails at the last command:

[code]
nuget push is trying to push the symbols package to nuget.org instead of smbsrc.net:

Tried with just nuget push and all sorts of options but to no avail. Either I do not understand something and am doing it wrong, or there must be something broken, or the documentation is not up to date.

### NuGet product u

[2018-09-03 06:20] pascalberger opened #7262 "Properly release 4.8.1"
You've recently release 4.8.1 which contains an important fix for running in offline environments. Unfortunately [NuGet.Commandline](https://www.nuget.org/packages/NuGet.CommandLine/) package is not updated and still at 4.7.1  (while [NuGet.CommandLine.XPlat](https://www.nuget.org/packages/NuGet.CommandLine.XPlat/) is at 4.8) and there are no release notes available [here](https://docs.microsoft.c

[2018-09-03 06:52] Styxxy commented on #7252
@StingyJack Why would you need to make changes to a project that doesn't have: 1) any nuget packages, 2) is not being targeted, and 3) in a package **update** process (not install), thus only projects are being targeted that have already package(s) installed.

[2018-09-03 07:34] gep13 commented on #7008
@PatoBeltran can you point at where the documentation for enabling an offline build is?  Thanks

[2018-09-03 07:41] pascalberger commented on #7008
@PatoBeltran @gep13 I've also created another issue for this: https://github.com/NuGet/Home/issues/7262

[2018-09-03 09:26] irongut commented on #7227
I get the same results on 2 machines using: https://github.com/irongut/TabView

[2018-09-03 12:04] moh-hassan opened #7263 "Why nuget install many dll dependenices in FFW 4.6.1 for the the package CommandLineParser, while only one package is installed in FFW 4.6 and 4.5"
**## Details about Problem**

NuGet product used (NuGet.exe | VS UI :   VS UI
NuGet version (4.3.0.4406)
VS version (if appropriate):VS 2017 update3
OS version (i.e. win10 v1607 (14393.321)): windows7 sp1

**## Detailed repro steps so we can see the same problem:**
Create console project FFW 4.6 in vs 2017 update 3
Run the command: Install-Package CommandLineParser

UnInstall-Package CommandLinePa

[2018-09-03 12:34] PJChamley opened #7264 "Nuget.exe 4.8.1 now reporting project.assets.json not found. Run a NuGet package restore"
We have multiple VSTS Builds that are failing with build 4.8.1 (works fine with 4.7.1)

We had Multiple Builds working Friday 31st August 2018.
This morning (Monday 3rd September 2018) we started seeing Builds fail with the following error.
	project.assets.json not found. Run a NuGet package restore

I manually triggered build of code that worked Friday and got the same error.
I noticed that the N

[2018-09-03 16:58] vmelamed opened #7265 "nuget push -noSymbols doesn't work"
## Details about Problem

### NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

`nuget.exe` and `dotnet.exe`

### NuGet version (x.x.x.xxx):

`NuGet Version: 4.7.1.5393`

### dotnet.exe --version (if appropriate):

[code]

### OS version (i.e. win10 v1607 (14393.321)):

[code]

### Worked before? If so, with which NuGet version:

Don't know.

## Detailed repro steps s

[2018-09-03 20:28] mwpowellhtx opened #7266 "Some packages still landing in my User packages"
I rerouted my user packages to another location in my computer. However, some are still landing there. I wonder if there is another ``NuGet.Config`` that is being used? Or otherwise ignored?

For instance,

[code]

Specifically, the packages still landing there are:

[code]

Any of the others, some 287 or so folders, including a ``.tools`` folder, I copied to the rerouted location.

[2018-09-03 20:51] StingyJack commented on #7252
I'm asking because nuget has always done those things, which are mostly unexpected and unwanted to me as well.

[2018-09-03 20:52] tzographos commented on #7194
`System.ArgumentException: '1.3.4-20180903_3-build53' is not a valid version string.
Parameter name: value
   at NuGet.Versioning.NuGetVersion.Parse(String value)
   at Microsoft.NET.Build.Tasks.DependencyContextBuilder.CreateRuntimeLibrary(String type, String name, String version, String hash, IReadOnlyList`1 runtimeAssemblyGroups, IReadOnlyList`1 nativeLibraryGroups, IEnumerable`1 resourceAssemb

[2018-09-03 21:31] Styxxy commented on #7252
@StingyJack
Yes indeed, for that I made this issue. It is quite unlogical and also adds much more (unneeded) dialogues to click through. Especially if you have to do this in many solution files :-) .

Sorry for my little bit too to the point answer earlier, I didn't have much time and wanted to add a response. I didn't mean to be as direct as it is written.

[2018-09-04 00:47] anangaur commented on #7262
Thanks for the issue @pascalberger. Definitely something we could have done better. I guess the hurry to unblock developers due to #7008 caused us to release 4.8.1 exe before we could prepare a synchronized release. I will look into this and get the other pieces together asap.

[2018-09-04 00:48] anangaur commented on #7262
/cc: @rrelyea @karann-msft

[2018-09-04 03:56] niraj-bpsoftware commented on #6581
same error

[2018-09-04 04:08] tomkerkhove commented on #7254
Looks like it, so I'm closing this one then.

[2018-09-04 04:08] #7254 closed, assigned to nobody

[2018-09-04 05:45] karann-msft commented on #7008
@gep13 https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings/nu3028#revocation-check-mode

[2018-09-04 05:58] devlead commented on #7008
@karann-msft it say's NuGet 4.6.0+ in the article but didn't this fix ship with 4.8.1? So maybe make it more clear that which version env var works in?

[2018-09-04 06:10] niraj-bpsoftware commented on #6140
Facing the same issue as @krakorj , trying to run dotnet restore on project having multiple public nuget packages and one private. It's only picking up private nuget.

[2018-09-04 06:44] pascalberger commented on #7262
@anangaur Thanks for taking care of this.

As being the reported of #7008 I would have prefered if you would have taken your time and release it properly, in which case I might be able to use it by now, what is not possible currently due to the missing pieces. If you want to unblock people quickly why not release a pre-release version (For this case I already had a testversion)?

What's getting bo

[2018-09-04 07:57] branislavsimo opened #7267 "Search provides irrelevant results"
Searching for a package in VS UI (15.8.2) provides irrelevant results.

# Example:
### Searched keywords
"microsoft logging console"

### Result
Package Microsoft.Extensions.Logging.Console is not even listed.
When "microsoft" is removed, it gets listed on 8th place. It seems trying to be more specific actually hurts the search.

### Screenshot
![image](https://user-images.githubusercontent.com/13

[2018-09-04 09:09] dtretyakov commented on #6486
List of current problems:
- [ ] Lack of ConfigureAwait(false) in `NuGet.Protocol` library [causes deadlocks while sending log messages](https://github.com/NuGet/Home/issues/6486#issuecomment-410250447)
- [ ] Credentials plugin [does not work under Mono](https://github.com/NuGet/Home/issues/6486#issuecomment-412564339)
- [x] `dotnet nuget push` [does not use credentials plugin](https://github.com/N

[2018-09-04 09:16] jokokko opened #7268 "PMC: Update-Package reinstall fails ("Unable to find package") on delisted packages."
Using NuGet Package Manager 4.6.0, VS 15.8.2, `Update-Package -Reinstall` fails for a package that installs & uninstalls & installs fine.

Repro:

1. Legacy csproj, target .NET 4.6.2
2. `Install-Package ReactiveUI -Version 6.5.0`
3. `Update-Package -Reinstall`

Outcome
[code]

Used package source https://api.nuget.org/v3/index.json. NuGet package cache, HTTP cache cleared. All queries made during

[2018-09-04 10:08] ManniManfred opened #7269 "Restore a project with platform x64"
NuGet Version: 4.8.1.5435
msbuild version '15.8.168.64424'

Hi,
when i restore the following project MyProject.csproj
[code]
with the command ``nuget restore MyProject.csproj`` it creates a ".NETFramework,Version=v4.6/win7-x86" target in the project.assets.json. I would expect an entry for ".NETFramework,Version=v4.6/win7-x64".

[2018-09-04 12:18] HavartiCheese commented on #7256
@nkolev92

Thank you for your response.

If NuGet does not support this form of versioning between dependency graphs, is my only solution to use a hard-coded version number?

Also, is there any plan to take this on and rectify this bug with pack?

[2018-09-04 14:08] anangaur commented on #7262
No. Publish it for 4.8.1

State that VS shipped with 4.8 but will soon have a servicing release. When the servicing release happens update the release notes accordingly

-AG.

________________________________
From: Pascal Berger <notifications@github.com>
Sent: Monday, September 3, 2018 11:44 PM
To: NuGet/Home
Cc: Anand Gaurav; Mention
Subject: Re: [NuGet/Home] Properly release 4.8.1 (#7262)

@ana

[2018-09-04 14:52] anangaur commented on #7008
@devlead The issue itself may manifest from 4.6 (clients that support signing). The proposed solution - ‘offline revocation check’ exists in 4.8.1. Just submitted an edit to the docs to state this. Will be live soon.

[2018-09-04 15:54] sheitmann commented on #1823
+1

[2018-09-04 17:01] nkolev92 commented on #7256
@HavartiCheese
You can certainly use an exact version to work around this issue in the mean time.

At this point I can't give you a timeline.
It shouldn't be a super involved fix, we'd be happy to take a PR if this is impacting you heavily.

[2018-09-04 17:18] Pilchie opened #7270 "Build should warn if packages.config present but ignored"
_From @leotsarev on August 22, 2018 17:33_

When .csproj contains PackageReference and packages.config, packages.config will be silently ignored.
Note that PackageReference could come, for example, from some *.props with misspelled condition, and it will be hard to understand why most suddenly project doesn't restore anything.

Proposed solution: when packages.config exists on disk, but will be ig

[2018-09-04 17:18] Pilchie commented on #7270
_From @jmarolf on August 22, 2018 21:51_

@Pilchie this bug should be moved to whomever owns the MSBuild nuget restore task now (I don't think its https://github.com/NuGet/NuGet.BuildTasks anymore)

[2018-09-04 17:18] Pilchie commented on #7270
For projects using the old syntax, it's still that.  For SDK-style projects, that would be in https://github.com/dotnet/sdk I believe.

[2018-09-04 17:18] Pilchie commented on #7270
Actually tagging @rrelyea - it might make more sense for this to come directly from NuGet during the restore...

[2018-09-04 18:39] kzu commented on #6556
@emgarten can you verify that this proposed fix is indeed what's expected by nuget? https://github.com/NuGet/NuGet.Build.Packaging/pull/164

I don't think it is correct, since packages like https://www.nuget.org/packages/xunit.assert.source use the *exact* same mechanism, its nuspec contains:

[code]

and it works just fine. I've found *many* packages in my cache with that `contentFiles` folder pr

[2018-09-04 18:50] azeno commented on #6556
Well buildAction="Compile" is the default so the issue is not evident. Check any other package where the buildAction is set to something different than Compile, install in VS and the custom buildAction will not be taken into account.

[2018-09-04 19:40] mwpowellhtx opened #7271 "Coordinating VS2017 Nuget packaging with SlowCheetah transformation"
Hello,

I'm trying to coordinate the content of my Nuget packaging with the transformation of a SlowCheetah output. I have some targets which use one path in ``Debug`` configuration, and which use another path in ``Release`` that I want to capture during the build process.

I can capture the ``Debug`` mode fine, no problem. I don't care as much about the packaging then, but it would be nice if the

[2018-09-04 19:52] rido-min commented on #7241
I've experienced the same behavior, I can follow up offline with a repro.

/cc @anangaur @karann-msft

[2018-09-04 20:19] karann-msft opened #7272 "dotnet nuget push *.nupkg --config-file switch appears to be missing. nuget.exe push has it."
on dotnet docs - https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-nuget-push?tabs=netcore21

customer reported the following issue - https://github.com/dotnet/docs/issues/6729

[2018-09-04 20:22] karann-msft commented on #7272
tagging the op - @ianwalkeruk

[2018-09-04 21:06] mairaw commented on #7272
Once this is fixed, please let us know, so we can add the example back to the docs.

[2018-09-04 21:27] emgarten commented on #6556
//cc @nkolev92 @jainaashish for contentFiles

[2018-09-04 22:16] vbfox commented on #4628
@karann-msft One thing I noticed in the specification is that supported formats are "md, txt" but lot of repository have license files without extensions (It's still pure text) it would be nice for this case to be handled.

For example https://github.com/zeromq/clrzmq/blob/master/LICENSE

[2018-09-04 22:44] karann-msft commented on #4628
@vbfox how about, if the extension is missing, we'll default to "txt" and treat a file without extension as a txt file?

[2018-09-05 00:30] dabutvin commented on #4628
Is the guidance to package the License file in the root of the package? Where will nuget.org look?

Unpacking a nupkg, I am curious about the expected placement of LICENSE.

[code]

Thanks

[2018-09-05 00:38] niraj-bpsoftware commented on #3664
Hi @arunjvs ,
I am still getting same issue after puting API key as ClearTextPassword. dotnet build/restore picks up only private nuget source.
My Nuget.Config:
`<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json"/>
    <add key="BPNuget" value="http://myprivatenugetserver/nuget/" />
  </packageSources>
  <p

[2018-09-05 00:56] niraj-bpsoftware commented on #6221
Hi @evil-shrike ,
I am facing similar issue when trying to run dotnet restore in docker image. dotnet restore picks up private nuget source only and not the public one (nuget.org). Could you please help?
My Nuget.Config:
`<?xml version="1.0" encoding="utf-8"?> <configuration> <packageSources> <add key="nuget.org" value="https://api.nuget.org/v3/index.json"/> <add key="BPNuget" value="http://mypriv

[2018-09-05 01:10] kenrachynski opened #7273 "Unable to generate nuspec file from multi-target csproj"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): whatever version is called by msbuild.exe

NuGet version (x.x.x.xxx): 4.7.1.5393 is installed.

dotnet.exe --version (if appropriate):

VS version (if appropriate):
Microsoft (R) Build Engine version 15.8.168+ga8fba1ebd7 for .NET Framework
Copyright (C) Microsoft Corporation. All rights reserve

[2018-09-05 04:41] web5d opened #7274 "The port number is being ignored when downloading package from private nuget server"
Just making sure that somebody takes a look at the following issue, first seen at Stack Overflow, as I just hit it today myself as well (same issue, different server port):

https://stackoverflow.com/questions/50392599/the-port-number-is-being-ignored-when-downloading-package-from-private-nuget-ser

Original Post from StackOverflow user follows:

I'm hosting a private Nuget server built with Nuget

[2018-09-05 06:38] markusschaber commented on #4628
@vbfox I'm not a fan of license files without extension - it's hard to open file without extension on some platforms / environments, as the program associations are strictly bound to file extensions on those systems. So I'm in favour of discouraging extensionless LICENSE, README etc. files, and support @karann-msft with his suggestion of converting extensionless files to .txt files.

[2018-09-05 07:12] vbfox commented on #4628
@karann-msft Yes I think they should be supported in the source nuspec as they are so common on repositories, but adding the extension in the nupkg would be perfect as it clarify how NuGet servers & clients should treat them

[2018-09-05 08:31] pamidur commented on #7084
I have similar but slightly different case.

I have an only package which contains _lib/dll_ with attributes and _build/targets_. These attributes are removed after compilation by included _build/targets_. So no runtime dependencies are produced. That's why I always used developmentDependency=true. This makes those attributes accessible for user, but after compilation there are no traces left. Wel

[2018-09-05 09:02] pamidur commented on #7084
@gfraiteur , idk if it is still relevant for you, but I found a workaround - so basically if your *.targets is included into a project, you may adjust PackageReference options from there. So I added this to my targets file while developmentDependency still on:

[code]

works like a charm so far

[2018-09-05 09:30] gfraiteur commented on #7084
Thanks. Yes, we knew that, and forgot to write it in the blog post.

[2018-09-05 10:36] devlead commented on #7008
@anangaur excellent, that will save people time debugging, if they're trying with an older version 👍

[2018-09-05 11:19] SimonSDA opened #9144 "NU1101: Extremely difficult to fix. need more details in message."
This error has caused me the greatest amount of pain as Visual Studio is really bad at dealing with NuGet PackageReference for non - .net.core projects. I mean REALLY BAD. Here is an example (for an asp.net webservice):

NU1101	Unable to find package Gladstone.ClubCentric.HeadOffice.BackEnd.DataAccess.SDABankOfIrelandEFTCommon. No packages exist with this id in source(s): ClubCentric, Microsoft, M

[2018-09-05 13:57] davebat commented on #5768
Getting this with 15.8.2 as well

[2018-09-05 15:38] ossentoo commented on #6989
As this is the first item that comes up when searching for solutions to this issue (which I have found when running dotnet builds on private agents) I'll add my work around.

I found this simplest work around in VSTS for a build is to add a variable to the build definition:

**DOTNET_CLI_HOME = /tmp**

for example.

The build then succeeds.

[2018-09-05 17:07] rrelyea commented on #6486
I'm planning on closing this issue, to properly reflect that it has shipped in this 4.8 milestone.

@nkolev92 - can you please create/move remaining issues to 4.9 and 5.0 as appropriate.

[2018-09-05 17:07] #6486 closed, assigned to nkolev92

[2018-09-05 17:21] jeffkl opened #7275 "SDK resolver logs messages at the wrong verbosity"
Device flow information is logged with low verbosity and does not show up in the console using minimal verbosity.

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): MSBuild.exe

NuGet version 4.9.0.2:

dotnet.exe --version (if appropriate):

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)):

Worked before? If so, with wh

[2018-09-05 17:31] rohit21agrawal commented on #7273
can  you attach a repro project? also make sure there is an assets file as a result of restore in the obj directory

[2018-09-05 18:10] mwpowellhtx commented on #7271
I got it [more or less sorted out](http://github.com/Microsoft/slow-cheetah/issues/154), I think; at least verifying the output and the package content seems to agree. The issue was a confusion between what was considered packagable "content" and the ouptut from SC. This can be captured as a separate task concern; possibly SC could capture this, but this is something for further discussion among t

[2018-09-05 18:10] #7271 closed, assigned to nobody

[2018-09-05 18:27] PatoBeltran commented on #7261
Hey @vmelamed, thanks for opening the issue... this seems to be a bug... I was trying to repro it with the project you provided but I was not able to build it correctly (the build cmd failed because it couldn't find `vm.Aspects.Diagnostics.ObjectTextDumper with version (>= 2.0.3)`), could you provide me with a set of instructions on how to build it to properly generate the nupkg and symbols.nupkg