[2015-11-13 18:30] zarenner opened #1732 "VS2013 2.9RC: Clearing search box causes "Retrieving information" forever"
Build 2.9.0.780

Repro steps:
1. Open the package manager
2. In the "search online" box, enter a search term and hit enter.  The search results show up.
3. Clear the "search online" box, and hit enter.
4. The HTTP request to Search() completes successfully, but the spinner is stuck on "Retrieving information" forever.
5. Hitting cancel causes results to show up, but only the first page.

[2015-11-13 20:11] yishaigalatzer commented on #1731
#1527

[2015-11-13 20:14] yishaigalatzer commented on #1730
We are deprecating nuget.core and do not plan to fix any bugs in it.

You should use - https://www.nuget.org/api/v2/ as your feed.

[2015-11-13 20:14] #1730 closed, assigned to nobody

[2015-11-13 20:16] yishaigalatzer commented on #1728
We plan to get rid of the mutex in the next release anyways because it does not work on coreCLR. So i'm closing as duplicate (although it is not really one) to https://github.com/NuGet/Home/issues/1230, because resolving 1230 will resolve it.

[2015-11-13 20:16] #1728 closed, assigned to nobody

[2015-11-13 20:17] daveaglick commented on #1730
What does this mean? `NuGet.Core` is a library whereas the URL you provided is an endpoint. Does this mean that there are no other public programmatic APIs for accessing the NuGet feed and it needs to be consumed over the wire, or should we be be using a different library that isn't `NuGet.Core`?

[2015-11-13 20:33] yishaigalatzer commented on #1730
Yes, we are creating a new API for nuget as a set of packages (starting with nuget.packagemanagement package). nuget.core does not support V3 feeds for example, and none of the new project.json scenarios.

Our plans are to completely remove dependency on nuget.core by one of the next few releases. We already shed most of it in 3.3.

I'm also suggesting that you should probably be able to use nuget

[2015-11-13 20:37] daveaglick commented on #1730
That makes sense, thanks. I'm currently using NuGet.Core and was worried there would be no v3 replacement. Looking forward to the new API.

[2015-11-13 21:51] dagood opened #1733 "Locked lock files are not rewritten when out of date"
When a locked `project.lock.json` is out of date (e.g. after changing a dependency in `project.json`), nuget restore says:

The correct packages are restored, but no change is made to the lock file.

@ericstj tracked this down to the `RestoreResult` constructor not saving the value of `relockFile` into its `RelockFile` property: https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.C

[2015-11-13 23:12] emgarten commented on #1723
Right now nuget.exe and dnu are not expected to be interchangeable, and neither are the lock files they create. Rewriting the file is expected here.

As @yishaigalatzer mentioned they **will** merge soon and this problem will finally be solved :smile:

[2015-11-13 23:16] ericstj commented on #1723
Ok, but you have been flowing most of the code from DNX.  My impression was that DNX would eventually move to using shared nuget libraries.  Do you need to flow this change from DNX > NuGet or is it not required?

[2015-11-13 23:22] emgarten commented on #1723
It will get brought over in the merge. We had been flowing bug fixes but not all features between the two. I think the confusion here is that NuGet and DNU had differences between their Version 1 formats. If that wasn't the case then it would be just porting this change to NuGet to get Version 2 support.

[2015-11-13 23:37] yishaigalatzer commented on #1412
Spent some time with @kotpal and it turns out he was used the internal broken server here, which led to this known problem.

Push a [PR](https://github.com/NuGet/NuGet.Client/pull/113) to provide a good error message in this case - Target release 3.4

[2015-11-15 02:42] NickCraver opened #1734 "Make Release Notes field more usable"
In short: I propose making the Release Notes field markdown, or at the very least have nuget.org atuomatically convert URLs into hyperlinks in the field. Right now the breakdown of the top 50 packages on nuget.org is:
- **33** have no release notes
- **12** have only a link (or a link + a few words)
- **5** have release notes in some form

It's tedious to maintain both a changelog in a repo as wel

[2015-11-15 08:19] mgravell commented on #1734
Note the issues of _text_ release notes is further complicated by the fact that it needs to be written in xml (*.nuspec) or json (project.json - in which case it also bloats the project file). As a fifth suggested fix:

5: make "nuget pack" and the dnx (project.json) tools allow a release `releaseNotesPath` field (separate to `releaseNotes`) which is a relative path (from the `*.nuspec` or `projec

[2015-11-15 08:23] mgravell commented on #1734
As a side note: consumers do actually care about release notes. The _moment_ I failed to update them (because I was experimenting with the new dnx build tooling, at a time when release-notes weren't supported), I got called on it: https://github.com/StackExchange/dapper-dot-net/issues/348

[2015-11-16 01:55] csharpfritz commented on #1734
I like this discussion, and believe that we need to revisit how release notes are surfaced to the package consumer.  The idea of a releasenotes.md file in the package has been raised before, and I think we need to be careful about how to introduce this feature without breaking older clients.

[2015-11-16 02:05] freakyjoe commented on #764
Bump!
+1 for none-admin installs. Perhaps it is common for full time devs to have admin-rights on their systems. I work in a controlled office environment and do development every now and then.

Our systems are managed by an external service provider and having them involved every time I need to upgrade (which has to happen every time I use VS, because I use it seldomly) is at least annoying and e

[2015-11-16 08:31] Kamarey opened #1735 "Error updating package for project file via CMD (nuget.exe)"
I'm trying to update a package via nuget.exe in CMD from our company's local package repository:

nuget.exe update C:\ProjectPath\Project.vbproj -Source MySourceName -Id PackageId

I get this error:

"The project file could not be loaded. Access to the path 'C:\ProjectPath' is denied.  C:\ProjectPath"
- File .vbproj and related packages.config are NOT readonly.
- I run CMD as administrator so perm

[2015-11-16 09:30] paiden commented on #1735
Same issue here. My nuget version also is 3.2.0.10516.

My command is
`NuGet.exe update Folder\ProjFolder\Proj.csproj -configFile .nuget\NuGet.config -id PackageId -RepositoryPath packages`

As soon as I switch back to nuget version 2.8.50506.491 the build works as expected.

[2015-11-16 09:59] xavierdecoster commented on #1722
@deepakaravindr do you have an exact repro? There are many ways to simulate this, so I want to verify the exact same situation you encountered when logging the error.

Note that we compromised on detailed error messages in order to avoid custom recursive code, and instead leverage the .NET API `Directory.Delete(..., recursive: true)`.
The error message thrown by this API when a file handle is lock

[2015-11-16 15:35] bounav commented on #1298
Similar issue here with Visual Studio 2015 Enterprise RTM.

In an existing solution (i.e. created before VS 2015 was released) we can't install any new packages, we get the following error:

[code]

Note: it doesn't matter which package id you try to install or if `-pre` is present or not.

When I try in Visual Studio 2013 (which I ketp in a different VM) no problem. The package installs.

I'm run

[2015-11-16 17:20] maksim-dell commented on #1286
@yishaigalatzer, would you mind elucidating why? How can I perform something like this:

[code]

and get my packages restored without version?

[2015-11-16 17:22] yishaigalatzer commented on #1286
I see what you mean now, you want to be able to "download" packages defined in packages.config without a version, so commands and paths just work without knowing the package version?

[2015-11-16 17:29] yishaigalatzer commented on #1298
@bounav are you able to share a sample project that demonstrates this issue?

[2015-11-16 17:50] maksim-dell commented on #1286
Exactly, let us suppose that my package.config looks like

[code]

and the directory structure is similar to

[code]

and I want to have paths like ...ConsoleApplication1\packages\Newtonsoft.Json\lib instead of ConsoleApplication1\packages\Newtonsoft.Json.7.0.1.

Nor do I want to write a huge nuget.targets file for msbuild with overridings of RestoreCommand variable.

[2015-11-16 18:00] yishaigalatzer commented on #1286
When we do support it you will not be able to
1. Use restore in visual studio
2. Have multiple package versions in a solution

[2015-11-16 18:06] maksim-dell commented on #1286
that's not a big deal for my project, this would not happen, "I'm feeling lucky":). The cruel problem that I have is that I have to commit and merge huge distracting csproj diffs in git instead of making a single change in packages.config.

looks ok to me as well

[2015-11-16 18:28] deepakaravindr commented on #1722
@xavierdecoster @yishaigalatzer

No, I don't. Yishai and I were debugging an issue with package extraction on my machine. And, we encountered this error. So, we filed the bug to track the issue.

[2015-11-16 18:35] deepakaravindr opened #1736 "nuget.exe: Fix the strings for add and init commands once the docs PR is signed-off"
nuget.exe: Fix the strings for add and init commands once the docs PR is signed-off

https://github.com/NuGet/NuGetDocs/pull/387

[2015-11-16 19:06] csharpfritz commented on #1736
Docs PR: NuGet/NuGetDocs#387

[2015-11-16 19:16] emgarten commented on #1721
This has been fixed. For some large UWP solutions include/exclude flags were taking 90% of the time. After the fix it is < 0.2% of the time.

NuGet/NuGet.Client@823cb9369e837e99cd7ff59bf6cdf4697a465fd1

[2015-11-16 19:16] #1721 closed, assigned to nobody

[2015-11-16 19:37] #1717 closed, assigned to xavierdecoster

[2015-11-16 20:16] yishaigalatzer commented on #1286
You can start looking at using project.json (if your project is not asp.net 4), it resolves the issues you describe above (see how nuget.client repo is built for reference)

[2015-11-16 20:35] jamiekt commented on #1521
I'd like to add my two-penneth
We distribute our build framework (which is PowerShell scripts, including [psake](https://github.com/psake/psake])) using nuget. We also package our application code using nuget. Our application code is not .net, it doesn't even get developed in Visual Studio, but we still use nuget because we like it as a mechanism of packaging and distributing a bunch of files as a

[2015-11-16 20:38] jamiekt commented on #637
Hi, What is a "CPS based project"?

[2015-11-16 20:44] shawnallen85 commented on #637
I'm assuming Common Project System.

[2015-11-16 20:45] jamiekt commented on #637
Got it, thanks Shawn

[2015-11-16 21:27] yishaigalatzer commented on #1736
@deepakaravindr details or a PR should be attached to this bug

[2015-11-16 21:33] yishaigalatzer commented on #1735
Just verified this works with NuGet 3.3, would you mind verifying it in your projects?

You can find it in: http://myget.org/gallery/nugetbuild

Download the nuget.commandline package, extract it (you can rename to .zip), and try nuget.exe from there.

Please let me know if this still repros.

[2015-11-16 21:36] yishaigalatzer commented on #1195
@csharpfritz ping, this is stuck in the 3.2 release and still haven't been addressed

[2015-11-16 21:37] yishaigalatzer commented on #1203
@NickCraver has provided more insights and some good ideas. These should be addressed when we handle this suggestion. https://github.com/NuGet/Home/issues/1734

[2015-11-16 21:38] yishaigalatzer commented on #1734
This is a duplicate of https://github.com/NuGet/Home/issues/1203, added notes to the other issue, to make sure we handle both of them as one.

[2015-11-16 21:38] #1734 closed, assigned to nobody

[2015-11-16 21:39] yishaigalatzer commented on #1733
locked lock files have been deprecated, they no longer exist.

[2015-11-16 21:39] #1733 closed, assigned to nobody

[2015-11-16 21:40] yishaigalatzer commented on #1732
We no longer maintain fix level of issues in older versions of the client

[2015-11-16 21:40] #1732 closed, assigned to nobody

[2015-11-16 21:54] yishaigalatzer commented on #1232
Done! Thanks for the feedback.

![image](https://cloud.githubusercontent.com/assets/1238711/11195932/9c0a6152-8c69-11e5-89a7-4a5d098a138c.png)

[2015-11-16 21:54] #1232 closed, assigned to feiling

[2015-11-16 21:59] yishaigalatzer commented on #1140
This is doable now from solution level package management (3.3)

Note we plan to keep enhancing the usability of that dialog, but it is now easily doable.

[2015-11-16 21:59] #1140 closed

[2015-11-16 22:01] yishaigalatzer commented on #1084
This is now supported by default.

[2015-11-16 22:01] #1084 closed

[2015-11-16 22:03] deepakaravindr commented on #1736
@yishaigalatzer

Done. Do you have any comments on this PR? https://github.com/NuGet/NuGetDocs/pull/387

[2015-11-16 22:05] yishaigalatzer commented on #1627
Also cover the scenario spelled out in https://github.com/NuGet/Home/issues/1627 (recommend moving from V2 to V3). https://github.com/NuGet/Home/issues/1627

[2015-11-16 22:05] #1101 closed

[2015-11-16 22:26] feiling commented on #1235
This no longer repros. This user is prompted to input user name and password.

[2015-11-16 22:26] #1235 closed, assigned to feiling

[2015-11-16 22:29] yishaigalatzer commented on #1173
@davidfowl this needs a design, do you have any thoughts on the matter?

[2015-11-16 22:42] yishaigalatzer commented on #1056
@Torgrimm @zhili1208 can you update on progress here?

[2015-11-16 22:44] feiling commented on #1247
This has been fixed. Most resource providers do not cache the result at all. Only two providers use cache. For ServiceIndexResourceV3Provider, null is cached, but with an expiration time. For PackageRepositoryResourceV2Provider, null is not cached.

[2015-11-16 22:44] #1247 closed, assigned to feiling

[2015-11-16 23:07] paulvanbrenk commented on #1084
@yishaigalatzer what exactly is supported?

[2015-11-16 23:08] yishaigalatzer commented on #978
Discussing with @davidfowl, we think the dotnetstandard will allow for building such packages. But DNX is not planning to allow for these platforms to match

[2015-11-16 23:08] #978 closed

[2015-11-16 23:11] yishaigalatzer commented on #1084
dlls are automatically copied to output (if you specify a runtime of type win on windows).

You can also have full control for copying stuff to output in project.json scenarios through the new content feature, this feature is getting documented right now, but the gist of the feature is in the wiki https://github.com/NuGet/Home/wiki/%5BSpec%5D-Content-v2-for-project.json and https://github.com/NuGe

[2015-11-16 23:15] ashmind commented on #1734
To add to @mgravell's suggestion, the way I would love to see it would be:

[code]

so basically a section getting cut out of md file.

I would also like to see the same for description, as project.json is not very convenient for description editing.

[2015-11-16 23:59] dagood opened #1737 "MsBuildUtility does not account for unparseable toolset versions"
When trying to perform a restore command inside a build process, I get the following error and stack trace:

[code]

In the same context, the MSBuild toolsets are:

[code]

I believe this happens because `dogfood` isn't a version, yet `MsBuildUtility` treats it like one here: [MsBuildUtility.cs:232](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.CommandLine/MsBuildUtility.c

[2015-11-17 00:02] yishaigalatzer commented on #1009
@MeniZalzman was this fixed?

[2015-11-17 00:04] #1736 closed, assigned to deepakaravindr

[2015-11-17 00:10] dagood commented on #1737
I didn't see issue #1681 in my earlier searches, but it's another symptom of the same assumption.

[2015-11-17 00:14] deepakaravindr opened #1738 "nuget.exe add and init commands ignore invalid packages on the destination. Should it overwrite?"
nuget.exe add and init commands ignore corrupt packages. Should it overwrite? It is nice that there is no automatic overwrite happening. But, at least it would be nice to be able to force an overwrite

Repro steps:
1. Run nuget.exe add c:\packages\A.1.0.0.nupkg -Source c:\of-4
2. Addition will succeed. Delete the hash file for package A from c:\of-4\a\1.0.0
3. Run nuget.exe add c:\packages\A.1.0.0

[2015-11-17 00:59] MeniZalzman commented on #1009
the build/revision version component is now the only thing that change in local build or CI build

[2015-11-17 00:59] #1009 closed

[2015-11-17 01:08] RanjiniM commented on #1473
This is a regression from 2.8.6. We will fix it in 3.3 commandline

[2015-11-17 01:08] yishaigalatzer commented on #1286
also @maksim-dell one thing I just realized you can use install and restore interchangeably, so the main ask here is to support update on command line (and perhaps in vs?)

[2015-11-17 01:16] yishaigalatzer commented on #766
@mikeholcomb was this issue resolved for you?

[2015-11-17 01:40] JamesNK commented on #1084
What is this supported by default in? A new NuGet version? VS2015 Update 1?

[2015-11-17 01:46] Pilchie commented on #1084
Vs2015 Update 1.

[2015-11-17 02:15] clairernovotny commented on #1084
:sparkles: thanks, this should let xUnit work for `project.json` projects

[2015-11-17 06:40] Kamarey commented on #1735
Yep, looks it works. When the 3.3 will be released? Is it safe to use this version if I don't use new features?

[2015-11-17 12:08] jkarsrud commented on #1572
I'm experiencing installation failures too. Packages install correctly according to the console, but then I get the rollback message and the installation fails with a NullReferenceException.

I tried checking for more errors using `$error` in the console, which gave me a more specific error;

[code]

Looking at the source of `nuget.psm1`, it does call `Get-RemotePackageId` in a try/catch, but it s

[2015-11-17 17:52] AngryMikey commented on #766
I no longer have a repro.  I went ahead and created a .nuspec file.

[2015-11-17 18:35] zhili1208 commented on #1572
@jkarsrud Can you provide your Nuget verison , VS version and repro steps? the installation failure is for one specified package or for all packages? thanks

[2015-11-17 18:41] jasonmalinowski commented on #1084
Yep, xUnit was our primary motivator here for the change. And to clarify for everyone, we didn't get the changes into Update 1 RC, so you'll have to wait a bit longer.

[2015-11-17 19:31] xavierdecoster commented on #1648
I'm only seeing very few places in the nuget.exe code base where we check the verbosity flag before logging warnings.

@davkean Do you have any specific examples of warning/error messages you no longer see when running nuget with `-verbosity quiet`? It might help me trace the code path that could be affected.

The nuget.exe console writes warnings to `stdout` and errors to `stderr`. I'd assume it

[2015-11-17 20:10] emgarten commented on #1711
NuGet/NuGet.Client@7459cfd9ea1c76cd07e46ff72879fdd82013c8be

[2015-11-17 20:10] #1711 closed, assigned to emgarten

[2015-11-17 20:11] CoolDadTx opened #1739 "Allow control of Sorting in Package Manager UI Installed/Updates/Consolidate tabs"
In the VS Package Manager there is no sorting being applied that I can tell. This make it really hard for even simple projects when the # of packages gets larger than a single screen.  It gets worse as you combine multiple package sources.  When trying to find a package (installed, updateable, etc) you end up having to search for it rather than quickly scanning down the list of packages.

[2015-11-17 20:45] yishaigalatzer commented on #1735
@Kamarey thanks for verifying!

It is going to be released in a few weeks. It is pretty stable, we are making a few perf/reliability fixes and error scenarios improvements before shipping. It is definitely better/more stable than 3.2.1-RC

[2015-11-17 20:45] #1735 closed, assigned to nobody

[2015-11-17 21:15] jwidmer opened #1740 "Nuget Package Manager - Unable to view currently installed version description"
In the Nuget Package Manager, when looking at the Installed tab the description is always linked to the version drop down and so you cannot get the latest version info to show up in the description panel.  This is also an issue when on the Browse tab and you have that package installed.  Not a problem if you do not have the package installed.

![image](https://cloud.githubusercontent.com/assets/15

[2015-11-17 21:23] yishaigalatzer commented on #1740
@feiling we need to discuss a design that will enable it.

Putting this tentatively in 3.4, to see if we can come up with something.

Practically speaking the description rarely every changes from version to version, but when we add releases notes here, it will become a more prominent issue

[2015-11-17 21:34] yishaigalatzer commented on #885
@csharpfritz this is now a long list of small bugs, the main issue described in the issue was resolved. Can you please summarize the other features elsewhere and close this bug as completed

[2015-11-17 21:37] yishaigalatzer commented on #1738
The current behavior is not bad, but a Force switch will be nice. We should always warn about overwritten corrupt packages.

Also validate that exit code here is not zero

[2015-11-17 21:47] yishaigalatzer commented on #1739
@CoolDadTx can you provide more details on your ask?

Version of NuGet you are using, what kind of sorting are you looking for?

We have heard about sort by download count, and sort alphabetically (although these pretty much require server support for online data, and we don't control all the servers which makes it rather hard to roll out).

We can also just support sorting for local packages (ins

[2015-11-17 21:50] yishaigalatzer commented on #1681
The reason this is moved to a much higher priority is that even when using -msbuildversion the operation still fails. We should fix this right away.

[2015-11-17 22:13] CoolDadTx commented on #1739
In Visual Studio's Package Manager where I view installed packages, browse available packages and update/consolidate packages.  There is no sorting and it really needs something.  Currently it just pulls things down in a random order.  Some sorting options (alphabetical would be at the top of the list) would be great. With even 10 or 20 packages it becomes hard to find them quickly without searchi

[2015-11-17 22:18] yishaigalatzer commented on #1739
Thanks!

[2015-11-17 22:59] yishaigalatzer commented on #1503
We believe this is fixed now, Justin will verify and close

[2015-11-17 23:03] yishaigalatzer commented on #1406
@emgarten please orchestrate a design review for this ask, so we can end up with a clear behavior document, and tests etc.

[2015-11-17 23:08] yishaigalatzer commented on #1394
To clarify: The idea is to be able to create a complete separation between two different restores.

The end goal is to be able to run a build machine (or unit tests, or local builds) that each use its own set of sources where package ids might collide, but without cross restore effects that happen today.

CC // @zjrunner

[2015-11-17 23:15] yishaigalatzer commented on #1204
Looks like a dup of #1282 we are going to look at both these reports this week.

[2015-11-17 23:15] #1204 closed, assigned to nobody

[2015-11-17 23:16] #1059 closed

[2015-11-17 23:16] yishaigalatzer commented on #1059
This bug has no details on what is missing. We know of xbuild not working on mono, but that is it

[2015-11-17 23:17] yishaigalatzer commented on #1045
Agreed that we want a nice error message sending you to call restore

[2015-11-17 23:18] yishaigalatzer commented on #1033
We are not making more changes to nuget 2.x exe

[2015-11-17 23:18] #1033 closed

[2015-11-17 23:19] yishaigalatzer commented on #995
We should ignore the switch from VS all over, and also remove the unnecessary warning

[2015-11-17 23:19] #964 closed

[2015-11-17 23:20] yishaigalatzer commented on #928
We should support this both on nuget xplat and nuget,exe. This feature still needs design

[2015-11-17 23:22] yishaigalatzer commented on #834
This looks like a duplicate of an issue we have for throwing proper exception when configuration is corrupt. The error should throw the file name that is introducing the problem.

[2015-11-17 23:23] yishaigalatzer commented on #1302
The message should show what file is introducing the bad xml.

Duplicate bug: #834

[2015-11-17 23:23] #834 closed

[2015-11-17 23:25] yishaigalatzer commented on #1104
the work here is to clearly define how to pack an empty directory (including doc PR and/or bug fix if necessary)

[2015-11-18 01:12] kingerja opened #1741 "allow nuget validation rules to be disabled (-disablerules)"
old pull request
https://nuget.codeplex.com/SourceControl/network/forks/vdbg/rules/contribution/7654

stripped thread for context.

From: Yishai
Sent: Tuesday, November 17, 2015 3:41 PM
Subject: RE: issues with nuget 3.2.0

File a bug for now on https://github.com/nuget/home/issues and we can take it from there

From: Josh
Sent: Tuesday, November 17, 2015 3:47 PM
Subject: RE: issues with nuget 3.2

[2015-11-18 02:29] Hawkeyes0 commented on #1413
The new version of Sqlite is OK now...

Anyelse, Thx for reply.

[2015-11-18 02:30] yishaigalatzer commented on #1413
Thank you. Closing unless we can get a repro.

[2015-11-18 02:30] #1413 closed, assigned to nobody

[2015-11-18 07:34] NikGovorov commented on #1521
Please return the feature, we use it in similar to @jamiekt's  scenario.

[2015-11-18 10:26] damianh commented on #1521
Fwiw, I just manually add packages.config beside the sln and edit it by
hand. Packages are restored via build script. The solutiom packages, and
versions thereof, dont change often so its not that painful.
On 18 Nov 2015 9:34 am, "Nikita Govorov" notifications@github.com wrote:

[2015-11-18 15:24] PhilPJL opened #1742 "Odd behaviour with DataTables.AspNet"
I've raised this problem with DataTables.AspNet but their opinion is it's a Nuget issue.

See attached screenshot.  In VS2015, Filter='upgrade available',  Include prelease = false.
DataTables.AspNet is used by 1 project.
The pre release version of DataTables shows up as applicable to all projects in the solution.

This doesn't happen in VS2013 with Nuget 2.

![capture](https://cloud.githubusercon

[2015-11-18 17:18] johnataylor commented on #1670
This is a known issue and we will fix this in 3.4. In the meantime the work around is to enable/disable sources. This is inconvenient but should work.

[2015-11-18 22:28] #1412 closed, assigned to yishaigalatzer

[2015-11-18 22:30] yishaigalatzer commented on #1742
Thanks for your feedback!

We have changed the UI in 3.3. So it should be a bit more easy to understand, but in general this UI says that you can install that package into all these other projects in one go.

I realize the way it shows up right now is confusing which is why we redid the UI to make it clearer.

We plan to release in a few weeks, and feel free to update to 3.3, and provide more feed

[2015-11-18 22:30] #1742 closed, assigned to nobody

[2015-11-18 22:33] yishaigalatzer commented on #1741
We would love to reconsider this suggestion, it will need to be rebuilt against nuget.client repo (against the new command line project, and perhaps the xplat one as well).

It will also require a doc PR to nugetdocs repo

[2015-11-18 22:34] yishaigalatzer commented on #1737
We are going to check in a fix shortly, you should be able to pick it up from myget

[2015-11-18 22:34] #1737 closed, assigned to nobody

[2015-11-18 22:48] yishaigalatzer commented on #989
@MattGal we made huge strides in logging errors for this scenario. There is nothing specific in this bug to address, We intend to keep investing in logging, so please bring more specific concerns, and we will address them individually.

[2015-11-18 22:50] yishaigalatzer commented on #1139
@feiling please make sure that installed packages can show up right away and network calls required to just fill in extra data (like upgrade available). We can also push for a single API like @grokys suggests, we should probably set up a design discussion with @joyhui and @johnataylor for what an improved API for speeding up the UI looks like.

[2015-11-18 23:04] #998 closed

[2015-11-18 23:14] yishaigalatzer commented on #987
Verified this still repros in 3.3 and RTM version of visual studio. However talking to @bricelam from the EF team, this was fixed in Update I. The root cause is not in the NuGet codebase, so closing as external

[2015-11-18 23:14] #987 closed

[2015-11-18 23:26] raffaeler commented on #1139
Can you confirm that in VS2015 there is still the chance for nuget not to ask the proxy user/pwd?
I cannot repro this but today VS2015 hanged while retrieving the list of icons of the installed packages.
After more than 5 minutes of waiting, I had to end task and restart vs...

[2015-11-18 23:43] xgalaxy commented on #1696
Just wanted to throw my 2cents in on this subject.

I work in an office with a bunch of Java developers and I am constantly envious of the *-sources.jar tooling that is available to them. This approach is so much better than symbol servers. It is kind of absurd that a viable parallel doesn't exist in .NET land.

I recently came across a project called [GitLink](https://github.com/GitTools/GitLink)

[2015-11-18 23:47] yishaigalatzer commented on #1139
We are tracking the issue with image icons separately, but this is a great insight. I didn't think that was the case @zhili1208 I think we can get more traction now. Thanks @raffaeler !

[2015-11-19 00:15] ctaggart commented on #1696
@xgalaxy GitLink is a tool to do source indexing. The pdb parsing code was derived from my project, [SourceLink](http://ctaggart.github.io/SourceLink/). It is most often used with Git, but doesn't require it. There are Subversion and TFS examples too.

[2015-11-19 01:09] yishaigalatzer commented on #973
Verified we already do the right thing

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Protocol.Core.v3/RemoteRepositories/HttpSource.cs#L216-L217

But this was good because the string for `nuget` was incorrectly capitalized

[2015-11-19 01:11] #973 closed

[2015-11-19 01:14] yishaigalatzer commented on #935
This is now fixed in NuGet 3.3

`
PM> update-package
Attempting to gather dependencies information for multiple packages with respect to project 'ConsoleApplication25', targeting '.NETFramework,Version=v4.5.2'
update-package : The remote server returned an error: (404) Not Found.
At line:1 char:1
- update-package
- ~~~~~~~~~~~~~~
  - CategoryInfo          : NotSpecified: (:) [Update-Package], Exce

[2015-11-19 01:14] #935 closed

[2015-11-19 01:30] yishaigalatzer commented on #943
@zhili1208 please verify if this is fixed in 3.3 or not.

[2015-11-19 01:37] yishaigalatzer commented on #989
I'm taking my statement back, this still produces a pretty bad error message. We should make it better.

[2015-11-19 08:32] PhilPJL commented on #1742
@yishaigalatzer I think one of us is missing something.

1) 'include preprelease' = false, but a pre-release item is appearing
2) datatables.aspnet is used/referenced by 1 project not 100 so it should only offer to update 1 project

This is what happens for other packages.

[2015-11-19 12:15] adamralph commented on #1521
@damianh top pro-tip.

[2015-11-19 12:18] martincostello commented on #1521
People often just open the solution in Visual Studio and try to build it though, which then fails, causing lots of "why doesn't this build straight from source" questions when they don't know/think to do it via the command-line.

[2015-11-19 14:39] kevinkuszyk opened #1743 "nuget.exe pack doesn't allow a pre-release tag which begins with numbers"
I was expecting the following command to work:

[code]

But it doesn't.  This is the output using the latest (v3.2.0) `nuget.exe`:

[code]

From readying the semver specs, I think this should be allowed.  From semver v1:

And semver v2:

[2015-11-19 17:21] RehanSaeed commented on #1486
I'm using the latest version of `nuget.exe` from https://dist.nuget.org/win-x86-commandline/latest/nuget.exe and am getting the following error complaining about the version number when using the `nuget publish` command:

`nuget.exe` does not like the dash in the version number. There is a related issue on the ASP.NET 5 DNX GitHub repository [here](https://github.com/aspnet/dnx/issues/3174). I'm p

[2015-11-19 17:28] AArnott commented on #1486
@RehanSaeed Although semver allows for the prerelease identifier to start with a digit, I suspect nuget's implementation does not. I suspect `1.0.0-a1` would work.

[2015-11-19 17:29] yishaigalatzer commented on #1742
Like I said we addressed your concerns in 3.3. Shoot me an email if you want to preview.

Y I g a l a t z @msft.com

[2015-11-19 18:02] AArnott opened #1744 ""dnu restore" does not honor locked property in project.lock.json"
I have a set of DNX projects where I've checked in project.lock.json files with the locked property set to `true`. But `dnu restore` rewrites them anyway.

`dnu restore -?` documentation still documents the locked property as if it's still supported:

The locked property is still [documented as supported online](http://docs.nuget.org/consume/projectjson-format) as well.

If the locked property is

[2015-11-19 18:34] zhili1208 commented on #943
verified it's fixed in 3.3, if it still repro on your machine, feel free to reopen it.

[2015-11-19 18:34] #943 closed

[2015-11-19 18:37] yishaigalatzer commented on #1744
dnu is not tracked here, you might want to file a DNX issue (though I won't expect anything to happen there as we are going to start merging the two shortly)

[2015-11-19 18:45] xgalaxy commented on #1696
@ctaggart Yes. I understand. My larger point is that it is a shame that getting libraries off of NuGet makes it impossible for me to source step debug into those libraries unless those library authors happened to submit packages to a publicly accessable symbol server or used not well known tools such as SourceLink or GitLink. Java has a much better solution to this with their *-sources.jar tooling

[2015-11-19 18:49] #1744 closed, assigned to yishaigalatzer

[2015-11-19 18:49] yishaigalatzer commented on #1744
Fixed

[2015-11-19 19:16] yishaigalatzer commented on #715
We don't even want to always extract all the files, in the case of caching flags are asking for it, to save on disk space for large packages

[2015-11-19 19:16] #715 closed

[2015-11-19 19:16] yishaigalatzer commented on #1043
Dup of #77

[2015-11-19 19:16] #1043 closed

[2015-11-19 19:24] #1715 closed, assigned to nobody

[2015-11-19 19:25] feiling commented on #1681
Fixed. See https://github.com/NuGet/NuGet.Client/commit/908fb249cbced8526902b9c93d28f564f3b2e1d8

[2015-11-19 19:25] #1681 closed, assigned to feiling

[2015-11-19 19:31] japplequ opened #1745 "Extract to wrong folder - other version"
We are experiencing strange behavior in a very large C# solution.  Our solution contains multiple versions of NuGet packages such as Thinktecture and NewtonSoft.Json.

Either MSBuild or NuGet are the most likely causes of the issues after weeks of research.  What happens is that say a Thinktecture version 3.5.0.0 package finds its way into the Thinktecture 3.6.0.0 folder, under the net45 folder.

[2015-11-19 20:41] dead-claudia commented on #300
NPM mostly delegates the step to node-gyp, which then handles OS dependencies and compiles the code itself using the system's compiler, unless a `"preinstall"` is specified in `"scripts"`, which can itself call this. Frequently, packages override this to first check for an OS-specific precompiled binary and download it if it exists. The PhantomJS runtime and node-fibers do this.

PyPI requires eve

[2015-11-19 21:01] emgarten commented on #1503
This is fixed in 3.3.0, I double checked that the example in this bug no longer repros the issue.

NuGet/NuGet.Client@42cbee2a8aca0f448d09734a753245a60dedaa2f

[2015-11-19 21:01] #1503 closed, assigned to emgarten

[2015-11-19 21:32] RanjiniM commented on #1553
Fixed

[2015-11-19 21:32] #1553 closed, assigned to RanjiniM

[2015-11-19 21:57] ericstj commented on #1503
Cool, thanks!

[2015-11-19 23:06] mconnew commented on #1660
WCF has a need for this as I need to add a dependency to WinHttpHandler for Windows only.

[2015-11-20 00:08] yishaigalatzer commented on #1660
@mconnew are you sure https://docs.nuget.org/create/uwp-create doesn't give you enough tools already?

[2015-11-20 00:15] ericstj commented on #1660
I'm already packaging up Matt's stuff with runtime specific packages, but its an example of a set of libraries that don't belong in the ".NET Standard" but need to have platform specific implementations.  I think WCF benefit from this feature rather than putting the platform-specific implementation information in the framework's lineup (runtime.json).

[2015-11-20 01:22] ghost commented on #300
@impinball, like @nathanaeljones noted:

Here is a shining example: https://github.com/nodejs/node-gyp/issues/629 with a [glimpse of hope](https://github.com/nodejs/node-gyp/issues/629#issuecomment-153196245) (in the form of Build Tools 2015 without VS).

In npm's case, it is assumed that all Unix-like operating system are packed with C/C++ compilers, while on Windows only MSBuild is supported by

[2015-11-20 07:34] dead-claudia commented on #300
@jasonwilliams200OK Sorry to burst your bubble, but [I don't think that idea on npm is getting very many places, as great as it sounds...](https://github.com/nodejs/node-gyp/issues/629#issuecomment-157580743)

[2015-11-20 07:37] dead-claudia commented on #300
Although I could see the benefits of .NET Core's approach.

[2015-11-20 07:37] ghost commented on #300
@impinball, i think you totally missed the point... but this is more or less what i am trying to say..

[2015-11-20 07:40] dead-claudia commented on #300
I'm not immediately invested in this, but this is the one thing that's stopping me from learning the platform where I use Linux (and there's a lot of .NET jobs where I live).

[2015-11-20 08:19] LaylaLiu commented on #1563
OData Nuget package installation on a portable library has the same issue.

[2015-11-20 08:24] yishaigalatzer commented on #1563
@Laylaliu the issue here is not in nuget in .net setup from updating vs2015 to rc, is this your case?

Can you be more specific about your scenario?

[2015-11-20 08:40] LaylaLiu commented on #1563
@yishaigalatzer, you are right. I think a new profile should be added instead of change this old one. But i also have a quesiton. This profile also contains Xamarin.iOS.xml framework file, but the installation doesn't require this framework?

The error is like this.
Could not install package 'System.Spatial 5.7.0'. You are trying to install this package into a project that targets 'portable-net45+

[2015-11-20 09:04] LarterStyles opened #1746 "Relative file path for "DefaultPushSource""
As far as I can tell, the "DefaultPushSource" configuration key doesn't allow you to specify a relative file path.

This works:

[code]

This doesn't:

[code]

This causes issues when executing builds + generating packages from a build server which may not even have a C:\

[2015-11-20 12:51] ghost opened #1747 "Introduce open API for nuget.exe extensions"

[2015-11-20 12:53] ghost opened #1748 "Introduce nuget.exe maintenance expiration agreement"

[2015-11-20 15:00] ericstj commented on #1563
I believe this was already fixed just didn't make it into the public build.  @nguerrera if you install a later build of 2015 Update 1 it should be resolved.

[2015-11-20 15:26] ericstj opened #1749 "NuGet should enable contract based portable profiles to install in contract based frameworks like DNXCore50"
Currently there is an inconsistency between DNX and NuGet in this regard, DNX allows the installation of portable-(>=net45)+(>=win8) when targeting DNXCore50 or dotnet*.  See related issue: https://github.com/dotnet/corefx/issues/4448

I agree that this is a hack, because it is hard to know what the package author meant when they wrote portable-net45+win8.  If that package meant `windows` and actu

[2015-11-20 16:01] #1563 closed, assigned to nobody

[2015-11-20 16:10] RanjiniM commented on #1044
Fixed.

[2015-11-20 16:10] #1044 closed

[2015-11-20 16:12] wpostma commented on #1543
So for example, I can not build monodevelop on linux right now, with nuget 3.2?

[2015-11-20 16:14] RehanSaeed commented on #1486
Thanks @AArnott! I believe you are correct.

[2015-11-20 16:19] yishaigalatzer commented on #1543
You can restore project by project but not a solution

[2015-11-20 16:28] akoeplinger commented on #1517
Looks like it comes from here: https://github.com/NuGet/NuGet.Client/blob/c20345326cf66a4c6d2791a180426ce459427771/src/NuGet.Core/NuGet.Configuration/Utility/SettingsUtility.cs#L14

@yishaigalatzer would be great to get this into 3.3 since it looks like a simple fix. I can also send a PR if you want.

[2015-11-20 16:29] yishaigalatzer commented on #1517
Go ahead and send a pr

[2015-11-20 17:38] akoeplinger commented on #1517
https://github.com/NuGet/NuGet.Client/pull/123

[2015-11-20 17:56] erickbp opened #1750 "NuGet has not been working all day from VS 2015"
It happens with any package I try. See image
![image](https://cloud.githubusercontent.com/assets/10678433/11307420/097c8174-8f86-11e5-848e-d03c8aca7b35.png)

[2015-11-20 19:26] RanjiniM commented on #1150
Fixed

[2015-11-20 19:26] #1150 closed

[2015-11-20 19:27] RanjiniM commented on #1220
Fixed

[2015-11-20 19:27] #1220 closed, assigned to RanjiniM

[2015-11-20 19:46] emgarten opened #1751 "Add support for include/exclude with nuget.exe pack"
nuget.exe pack needs support for copying over include/exclude when it is specified on dependency nodes.

[2015-11-20 20:05] Pilchie commented on #1749
Tagging @davidfowl too

[2015-11-20 20:54] kkm000 opened #1752 "Command line backslash \ and double quote interaction"
It looks like the path separator `\` character quotes the double quote `"` character in the command line and needs to be doubled before the quote, but not when seen by itself. Not sure if it's by design, but leads to a surprising error and a weird workaround:

[code]

In my case the part represented as `bin\` here came from an MSBuild variable, so doubling the backslash at the end is not trivial.

[2015-11-20 21:02] #1517 closed, assigned to nobody

[2015-11-20 21:10] yishaigalatzer commented on #1752
You might just want to trim the trailing slashes for now?

[2015-11-20 21:11] yishaigalatzer commented on #1752
Marking to be fixed post Update II, but will gladly take a PR with tests if someone wants to jump on this

[2015-11-20 21:12] yishaigalatzer commented on #1750
@joyhui can you do a first pass investigation?

[2015-11-20 21:14] yishaigalatzer commented on #1749
Looks reasonable to me. Lets discuss the design with @davidfowl

[2015-11-20 21:16] yishaigalatzer commented on #1748
I don't understand what this means. When you open bugs, please explain the scenario and the intent.

[2015-11-20 21:16] #1748 closed, assigned to nobody

[2015-11-20 21:16] yishaigalatzer commented on #1747
Again similar to the other bug you opened, there is no useful information here.

[2015-11-20 21:16] #1747 closed, assigned to nobody

[2015-11-20 21:17] yishaigalatzer commented on #1746
You can always define the settings on the build server proper, so that should give you a workaround. Or better yet push explicitly to a known folder in the command itself

[2015-11-20 21:20] yishaigalatzer commented on #1745
@japplequ can you provide more details, what version of nuget.exe are you using? What kind of project is this etc.?

[2015-11-20 21:22] japplequ commented on #1745
This is nuget 2.8.6.  It is a gigantic visual studio solution with web projects, mvc, and some windows services.  It has everything.

[2015-11-20 21:22] yishaigalatzer commented on #1743
Sounds like something we might fix, after cleaning several higher priority issues. If you think this is something you need earlier, we will gladly take a pull request.

[2015-11-20 21:25] yishaigalatzer commented on #1745
Thanks. Would you mind updating to NuGet 3.2.1-rc from dist.nuget.org or better yes nuget 3.3 from nugetbuild feed on myget?

(After the update) Can you reproduce this by just running nuget.exe restore on your packages.config and finding the wrong dll in the wrong folder

[2015-11-20 21:28] japplequ commented on #1745
It is so hard to reproduce, as I've spent weeks on it.  If I had some insight into how this might be happening, if at all, something specific in my older version, that would be a comfort to know it wasn't all in vain!  I would love to update but want to get to the root of this before I ask the release manager to do this.  If I am the first to bring something like this up, then it is likely not a N

[2015-11-20 21:32] erickbp commented on #1750
sure, let me know what I need to do.

[2015-11-20 21:39] yishaigalatzer commented on #1745
Suggestion on trying to repro

Run a loop a round nuget.exe restore your solution
// Run some code to verify that something leaked (in your case it was always thinkechture I guess
// Break if it happens
Cleanup

[2015-11-20 21:40] japplequ commented on #1745
Ok, I will do that probably Monday.  Thanks for the idea.

[2015-11-20 21:40] joyhui commented on #1750
I tried in VS2015 for both
v3: https://api.nuget.org/v3/index.json
v2: https://www.nuget.org/api/v2

They are all working:
![capture](https://cloud.githubusercontent.com/assets/4565352/11312621/35c67b62-8f8c-11e5-863b-682dc8f2b9a4.png)

There may be network issue in your side. Can you put fiddler to confirm the http request?

[2015-11-20 21:46] erickbp commented on #1750
@joyhui I have just tried with Fiddler running. I didn't get any response from http://api.nuget.org:443
[2_Request.txt](https://github.com/NuGet/Home/files/40573/2_Request.txt)
[2_Response.txt](https://github.com/NuGet/Home/files/40574/2_Response.txt)

[2015-11-20 21:47] kkm000 commented on #1752
@yishaigalatzer:

Thanks, I have a workaround already, the dot at the end.Trimming/doubling backslashes is not easy in an msbuild script.

[2015-11-20 21:50] erickbp commented on #1750
@joyhui  Here is another interesting thing. I'm not experimenting any internet issue and yet ping to api.nuget.org is that bad ( see image )

![image](https://cloud.githubusercontent.com/assets/10678433/11312849/cb455e96-8fa6-11e5-9ddc-650b5a7ad53e.png)

[2015-11-20 21:56] joyhui commented on #1750
Our CDN services may be experiencing problem. let me check and get back to you.

[2015-11-20 21:58] kkm000 opened #1753 "-Tool packaging rules not propagated to referenced packages"
I have a solution with 2 C# DLL projects, one referencing the other (say `Tasks.csproj` references `Base.csproj`). The `Base` project does not have a nuspec file, and `Tasks` does. When I package the `Tasks` package with `nuget pack -Tool -IncludeReferencedProjects Tasks.csproj`, the `Tasks.dll` ends up, as expected, in the package's `tools/` folder. But its dependency `Base.dll` is packaged as a

[2015-11-20 22:23] yishaigalatzer commented on #1750
Try to ping `api.nuget.org/v3/index.json`

[2015-11-20 22:33] erickbp commented on #1750
![image](https://cloud.githubusercontent.com/assets/10678433/11313677/c2d27f54-8fac-11e5-93e2-68255736fb25.png)

[2015-11-20 22:34] erickbp commented on #1750
here is ping api.nuget.org
![image](https://cloud.githubusercontent.com/assets/10678433/11313701/ed6dabda-8fac-11e5-9b75-b81b581a2bed.png)

[2015-11-20 22:41] yishaigalatzer commented on #1750
curl https://api.nuget.org/v3/index.json

[2015-11-20 22:53] erickbp commented on #1750
![image](https://cloud.githubusercontent.com/assets/10678433/11314011/9dc20484-8faf-11e5-9277-d8211400ae3f.png)

[2015-11-20 22:55] erickbp commented on #1750
![image](https://cloud.githubusercontent.com/assets/10678433/11314033/d4fbd1f0-8faf-11e5-9f97-e8a4899f7497.png)

[2015-11-20 22:56] joyhui commented on #1750
http://api.nuget.org/v3/index.json , not API in between.

[2015-11-20 23:01] mmclin commented on #420
I am also interested in a fix for this issue. We use Nuget for managing releases of libraries that are distributed to customers, and the incorrect timestamps have caused us some troubles.

[2015-11-20 23:02] wilson0x4d commented on #1181
@ralfverstappen possibly related, where Milestone is "Client-vNext": https://github.com/NuGet/Home/issues/1591

[2015-11-20 23:11] joyhui commented on #1750
Here is more you have to in order to identify problem: (sorry)
1. http://winmtr.net/how-to/
   Use MTR tool to api.nuget.org, wait for sent >=100, copy text to clipboard
   ![capture](https://cloud.githubusercontent.com/assets/4565352/11314269/dc10d560-8f98-11e5-9729-cf7cea0f18a4.png)
2. Please let me know your geographical area.. where are you.

Thanks,

[2015-11-20 23:13] erickbp commented on #1750
http://api.nuget.org/v3/index.json works fine

![image](https://cloud.githubusercontent.com/assets/10678433/11314309/648467f4-8fb2-11e5-88bc-7b227320471a.png)

[2015-11-20 23:15] yishaigalatzer commented on #1750
Can you share your nuget sources? They show up in the UI and in nuget.config

[2015-11-20 23:16] erickbp commented on #1750
@joyhui  I'm in West Palm Beach, FL, USA

|------------------------------------------------------------------------------------------|
|                                      WinMTR statistics                                   |
|                       Host              -   %  | Sent | Recv | Best | Avrg | Wrst | Last |
|------------------------------------------------|------|------|------|------|-

[2015-11-20 23:18] erickbp commented on #1750
@yishaigalatzer This keeps saying "loading" and I get nothing
![image](https://cloud.githubusercontent.com/assets/10678433/11314382/151bf0fa-8fb3-11e5-8a71-1eae6691f9f6.png)

[2015-11-20 23:19] RanjiniM commented on #1067
Fixed

[2015-11-20 23:19] RanjiniM commented on #1489
Fixed

[2015-11-20 23:20] yishaigalatzer commented on #1750
Click the gear icon on the top right

[2015-11-20 23:21] erickbp commented on #1750
@yishaigalatzer
![image](https://cloud.githubusercontent.com/assets/10678433/11314429/7baa5d34-8fb3-11e5-9a19-c596cfde8ffc.png)

[2015-11-20 23:25] joyhui commented on #1750
Can you use fiddler to check the requests?
http://www.telerik.com/download/fiddler

It will help us to know which request really block you. Here is the example requests when I execute the same command:
![capture](https://cloud.githubusercontent.com/assets/4565352/11314500/e6e21da8-8f9a-11e5-8b3f-951ec67c302f.png)

[2015-11-20 23:31] joyhui commented on #1750
Can I know your public IP?

[2015-11-20 23:32] erickbp commented on #1750
@joyhui we can do share screen/remote control if you want.
![image](https://cloud.githubusercontent.com/assets/10678433/11314596/034f1b20-8fb5-11e5-953f-d4812b56872c.png)

[2015-11-20 23:34] erickbp commented on #1750
2601:587:101:c0fa::7c9c

[2015-11-20 23:38] joyhui commented on #1750
Can you try again for install package? The MTR result seems clean, no packet lost.

[2015-11-20 23:43] erickbp commented on #1750
I tried to install a package from VS and it is still not working.
![image](https://cloud.githubusercontent.com/assets/10678433/11314747/80a7a852-8fb6-11e5-89c9-e83d06db554c.png)

![image](https://cloud.githubusercontent.com/assets/10678433/11314737/67339ff2-8fb6-11e5-982b-10a8cea03a58.png)

[2015-11-20 23:45] joyhui commented on #1750
Can you clean up local cache manually if it exists and try again?

Nuget HTTP cache: C:\Users\hujiang\AppData\Local\NuGet\v3-cache
NuGet cache: C:\Users\hujiang\AppData\Local\NuGet\Cache
NuGet global packages cache: C:\Users\hujiang.nuget\packages\

How can we share screen/remote control? Skype?

[2015-11-20 23:56] joyhui commented on #1750
In fiddler, please decrypt HTTPs traffic:
Tools > Fiddler Options > HTTPS > Decrypt HTTPS traffic option.

Do you get same result with and without running Fiddler?

[2015-11-21 00:01] erickbp commented on #1750
I had it configured to decrypt HTTPS.
It seems to be working now, very slow though but working. Thank you

[2015-11-21 00:01] joyhui commented on #1750
Try to download this file.. this is the first step of resolving dependency.
https://api.nuget.org/v3/registration1/microsoft.owin.security.openidconnect/index.json

[2015-11-21 00:03] erickbp commented on #1750
that file downloads fine, less than a sec. what do I do with it?
I tried Update-Package and I got this:
![image](https://cloud.githubusercontent.com/assets/10678433/11314990/55a85b9e-8fb9-11e5-98fb-6c0b16f0247d.png)

[2015-11-21 00:11] joyhui commented on #1750
I tried in my machine too.. it is working. Hum...

![capture](https://cloud.githubusercontent.com/assets/4565352/11315023/af0f7d98-8fa0-11e5-8532-608d22e4dfdc.png)

Are you behind a company proxy server?

[2015-11-21 00:12] erickbp commented on #1750
no, I'm at home, Comcast, 90Mbs

[2015-11-21 00:16] joyhui commented on #1750
This is the list of files downloaded when execute: Update-Package:

# Result  Protocol    Host    URL Body    Caching Content-Type    Process Comments    Custom

18  200 HTTPS   api.nuget.org   /v3/registration1/microsoft.owin.security/index.json    38,419  no-store    application/json    devenv:5144
19  200 HTTPS   api.nuget.org   /v3/registration1/owin/index.json   9,625   no-store    applicatio

[2015-11-21 00:19] erickbp commented on #1750
![image](https://cloud.githubusercontent.com/assets/10678433/11315161/988033cc-8fbb-11e5-80b8-6939701a5183.png)

[2015-11-21 00:21] erickbp commented on #1750
I can see the upgrade available but I cannot use the command to upgrade
![image](https://cloud.githubusercontent.com/assets/10678433/11315178/dd061a34-8fbb-11e5-8af0-45839633aa71.png)

[2015-11-21 00:23] joyhui commented on #1750
The fiddler shows all download succeeded. Nice.

Can you click "Upgrade" button to upgrade? Please monitor fiddler to find the requests.

[2015-11-21 00:35] erickbp commented on #1750
I tired 3 times. it didn't work. Second time almost works but it failed. see the error in VS and Fiddler
![image](https://cloud.githubusercontent.com/assets/10678433/11315308/c92ea16e-8fbd-11e5-94c3-1cb7612a953a.png)

[2015-11-21 01:03] joyhui commented on #1750
In fiddler, can you add Overall_Elapsed column?
Right click on column head -> Customize Columns ... -> In popup dialog, choose "Session Timers" in collection, "Overall_Elapsed" in Timer Name.

Then make those these call, and check the overall elapsed time. I suspect the latency may cause timeout in nuGet client.
https://api.nuget.org/v3/registration1/microsoft.owin.security/index.json
https://api.

[2015-11-21 01:09] joyhui commented on #1750
It may be a nuget client bug. Can you have your email?

[2015-11-21 01:16] erickbp commented on #1750
three links came fine but it still doesn't work in VS 2015
![image](https://cloud.githubusercontent.com/assets/10678433/11315642/845bd97a-8fc3-11e5-8060-ad23032f3d2e.png)

[2015-11-21 01:16] emgarten commented on #1751
nuget/nuget.client@3f009661481384c5afaeadc23beceed309bc5ad4

[2015-11-21 01:16] #1751 closed, assigned to emgarten

[2015-11-21 01:16] emgarten commented on #1083
nuget/nuget.client@3f009661481384c5afaeadc23beceed309bc5ad4

[2015-11-21 01:16] #1083 closed

[2015-11-21 01:18] erickbp commented on #1750
my GitHub username at gmail.com

[2015-11-21 01:19] joyhui commented on #1750
Most probably it is a client bug. Check your email box.. and give a try.

[2015-11-21 01:26] erickbp commented on #1750
I tried 2 times, second one worked. Thank you so much!

[2015-11-21 01:27] joyhui commented on #1750
Glad to help you solve the problem.

[2015-11-21 01:31] #1750 closed, assigned to nobody

[2015-11-21 06:21] yishaigalatzer commented on #1753
These are all pretty unexplored territories, I suspect you are right at least for your scenario and the current answer for these cases is to use a nuspec to pack rather than relying on this -Tool + .csproj packing.

Will gladly take a pull request for a fix.

[2015-11-21 06:23] yishaigalatzer commented on #1752
I'm actually suspecting the bug is not in nuget.exe, but an expected behavior of the command line. I'll build a test app to verify

[2015-11-21 06:31] yishaigalatzer commented on #1752
Appears to be this way:

When I run the following code:

[code]

With: `-pack "hello\"`

I get

[code]

and with `-pack "hello."

I get

[code]

Which I guess explains the issue, I wouldn't want to hack auto trimming of `"` from msbuild, and looks like your workaround makes sense (unfortunately)

[2015-11-21 06:32] #1752 closed, assigned to nobody

[2015-11-21 06:33] yishaigalatzer commented on #1601
Fixed by @pranavkm in 3.3 command line

[2015-11-21 06:33] #1601 closed, assigned to yishaigalatzer

[2015-11-21 06:37] yishaigalatzer commented on #904
@bricelam I think NuGet now provides full support for laying out whatever you'd like on disk, and there is no further NuGet work here.

If someone disagrees feel free to re-open

[2015-11-21 06:37] #904 closed

[2015-11-21 06:39] yishaigalatzer commented on #866
There is no data to substantiate this claim, being that this is not a few months old bug. I'm going to close it, and we can address perf items as we work on improving speed for restore

[2015-11-21 06:39] #866 closed

[2015-11-21 06:44] yishaigalatzer commented on #206
Done

[2015-11-21 06:44] #206 closed

[2015-11-21 06:45] #463 closed

[2015-11-22 00:13] jmelosegui opened #1754 "A task was canceled."
I am getting this error when ever I try to install a package from https://api.nuget.org/v3/index.json

[code]

[2015-11-22 07:14] gamicklisafisher commented on #651
"Long Path Tool" did the trick.

[2015-11-23 13:41] jkarsrud commented on #1572
@zhili1208 I mentioned some of them above, but I'll be happy to list them again;
- Nuget 3.0.0 and Nuget 3.2.6
- VS 2015 Pro

The problem exists when installing all packages. I did do a complete reinstall of my machine recently, and noticed that I only ran into the problem after an E-Commerce platform called uCommerce into an Umbraco project. The steps to reproduce this failure are the following:

[2015-11-23 15:03] jamiekt commented on #1521
This issue is a blocker for me and unfortunately i cannot wait until the planned changes are complete. Over in [#522 Solution-level packages are no longer working in Visual Studio 2015 RC](https://github.com/NuGet/Home/issues/522) @yishaigalatzer said
_"The idea is that you put it in some common project"_
Fair enough. Can anyone suggest what a "common project" might look like? Remember that I don'

[2015-11-23 15:09] martincostello commented on #1521
As an example, in one of my repos I have [this file](https://github.com/martincostello/sqllocaldb/blob/master/src/SqlLocalDb.Common.targets) which an MSBuild targets file that defines some properties I use in all the `.csproj` files in the solution.

I then import this into each `.csproj` file with a single MSBuild `<Import>`, such as [this one](https://github.com/martincostello/sqllocaldb/blob/ma

[2015-11-23 15:14] jamiekt commented on #1521
Thanks @martincostello , its a nice idea and I _could_ do that but my ultimate aim here is to enable updating of packages from the command-line, that means I don't even want to open Visual Studio. Also there is no notion of compiling my solution (or any projects therein) anyway.

[2015-11-23 15:36] yishaigalatzer commented on #1572
@jkarsrud could you share the solution at the level in which it is broken? The repro steps are too long and it will save lots of time and potential blunders to start from that

[2015-11-23 17:00] kstrauss commented on #766
this still seems to be an issue.

However, I believe changing the default nuget.targets for the properties passed to the nuget pack command. Added the OutputPath property. So my specific fix for me was something like:

[code]

Seems to fix the problem for me

Credit to: http://nuget.codeplex.com/workitem/3645

[2015-11-23 17:21] yishaigalatzer commented on #1754
What version of nuget are you using? What version of visual studio? What else is installed in your project? Did this work for you in the past and stopped working?

[2015-11-23 17:40] yishaigalatzer commented on #912
I looked at how NPM does it, and it looks like it will not allow pre-releases with such a specifier.

We need to work on how we extend our syntax to support ranges (do we go with something similar to npm? Do we also allow `1.*-*`? Do we allow for version ranges ala packages.config/nuspec?

[2015-11-23 17:52] pranavkm commented on #912
AFAIK it stops when it sees the `*`. @emgarten would know this better.

[2015-11-23 17:53] yishaigalatzer commented on #912
Yes it does, my comment was a question about what we should do in the future :)

[2015-11-23 17:57] yishaigalatzer commented on #995
We should remove the switch for consent from nuget.exe, and ignore this setting completely

[2015-11-23 18:01] feiling commented on #1690
Fixed by https://github.com/NuGet/NuGet.Client/pull/107

[2015-11-23 18:01] #1690 closed, assigned to feiling

[2015-11-23 18:14] yishaigalatzer commented on #1727
We are running out of time to fit this into 3.3, moving to 3.4

[2015-11-23 18:19] yishaigalatzer commented on #1501
@zlrenner it seems fine that the client tries to do both, the server just should avoid reading the body, isn't that what is going on?

[2015-11-23 18:27] yishaigalatzer commented on #1249
We are done with perf improvements for nuget.exe for 3.3, we will consider more perf work post 3.3, this bug should be closed based on the improvments we made so far

[2015-11-23 18:27] #1249 closed, assigned to emgarten

[2015-11-23 18:42] yishaigalatzer commented on #885
The UI update for 3.3 is now done. We addressed most of the ideas mentioned here, and as we will start working on further update we will create a separate issue covering them.

@csharpfritz will add links to other issues already tracking sorting and other suggestions here.

[2015-11-23 18:42] #885 closed

[2015-11-23 18:43] zarenner commented on #1501
@yishaigalatzer The server cannot avoid reading the body, my understanding and testing shows that it must finish reading the body (even if it plans to discard it) because of HTTP message framing.  Note that if the server forcibly closes the socket, the client throws, so that's not an option.

The two options I'm aware of are:
1. Add support to the client (and server) for Expect: 100-continue, so t

[2015-11-23 18:46] luisrudge commented on #1448
I'm still seeing this issue on appveyor when I add a private feed from myget.

[code]

[2015-11-23 18:47] kkm000 commented on #1752
@yishaigalatzer: I am sorry, maybe I should not even persist on this question, but the argumentation seems a bit odd to me. If you said "this does not work, and we are to fix it," I'd understand that. If you said "It works the way we designed it to work," I would understand that too. But the argument "It works the way some library we are using to parse command line works, therefore this is it" see

[2015-11-23 18:52] yishaigalatzer commented on #1752
I'm saying that it is expected. That's not how all .net programs work, it is how windows command line work.

[2015-11-23 18:55] yishaigalatzer commented on #1752
I'm saying this is how windows command line work, not a command line parser in .NET. http://blogs.msdn.com/b/oldnewthing/archive/2010/09/17/10063629.aspx

[2015-11-23 19:00] damianh commented on #1521
In my world all that still works. Solution packages tend to be other things
such as xunit commandline runner, ilmerge etc that are not used directly by
projects.

I always have a 'how to build' in the readme.md in the repo too.
On 19 Nov 2015 1:18 pm, "Martin Costello" notifications@github.com wrote:

[2015-11-23 19:08] yishaigalatzer commented on #888
Verified this still repros in 3.3

[2015-11-23 19:39] joyhui commented on #1754
Here is the request list when I execute the same command. It is working will in my computer.
Install-Package Microsoft.AspNet.Mvc

HTTPS://api.nuget.org/v3/index.json
HTTPS://api.nuget.org/v3/registration1/microsoft.aspnet.mvc/index.json
HTTPS://api.nuget.org/v3/registration1/microsoft.aspnet.webpages/index.json
HTTPS://api.nuget.org/v3/registration1/microsoft.aspnet.razor/index.json
HTTPS://api.n

[2015-11-23 19:39] yishaigalatzer commented on #1501
@zarenner agreed that we can't resolve it with a server only change.

We should carefully evaluate the suggestions 1/2, and see if there are other options.

Can you explain:

[2015-11-23 19:55] zarenner commented on #1501
2 is only a solution to the problem where authentication isn't tried until 401 response, and thus the package is sent twice.  It is not a solution to the inefficiency ("problem" might be a bit debatable here) where a client sends invalid headers, e.g. invalid credentials or apikey, and the whole body is sent even though the server knew it was bad as soon as it inspected the headers.

[2015-11-23 20:05] yishaigalatzer commented on #1501
Ah, it can still abort it and we can still handle it

[2015-11-23 20:13] zarenner commented on #1501
My concern with aborting/forcibly closing the connection is that it's a hack, especially since the server can't actually return an error response to the client.  From the client's perspective, the server just died.

I believe that Expect: 100-Continue is the correct solution, as it was designed for exactly this.  What I don't completely know, however, is what happens when the server doesn't suppor

[2015-11-23 20:24] feiling commented on #1608
Fixed checked in.

[2015-11-23 20:24] #1608 closed, assigned to nobody

[2015-11-23 22:24] johnataylor commented on #1495
This looks good to me. My test scenario is: a simple Console application with a single old package and a missing Packages folder.

With 2.8.6 I get:

Unable to locate the packages folder. Try specifying it using the repositoryPath switch.

With 3.1.0 and 3.2.0 I get:

MSBuild auto-detection: using msbuild version '14.0' from 'C:\Program Files (x86)\MSBuild\14.0\bin'.
The project file could not be

[2015-11-23 22:26] johnataylor commented on #1495
Stepping through this code, the exception is thrown from here:

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.CommandLine/Commands/UpdateCommand.cs#L351

[2015-11-23 22:26] #1495 closed, assigned to johnataylor

[2015-11-23 22:55] yishaigalatzer commented on #883
@GeertvanHorrik we made a bunch of improvements in this area, but I don't want to close this issue without your feedback. Please grab Update I/Nuget 3.3 when it goes out and let us know if it improved enough to make you happy?

We plan to do more perf improvements in 3.4.

You do want to use V3 feeds from myget to get better performance

[2015-11-23 22:55] #1374 closed, assigned to deepakaravindr

[2015-11-23 23:05] yishaigalatzer commented on #878
So one quick update - without whatif it currently updates and fails (correctly), we need to see if we can do something better about update-package scenario

![image](https://cloud.githubusercontent.com/assets/1238711/11352827/9364fc26-91f3-11e5-925f-f821b45b0bf8.png)

[2015-11-23 23:12] deepakaravindr commented on #1648
By default, all the info messages are shown along with errors and warnings. Because, default Verbosity is normal. However, when '-Verbosity Quiet' is used, no messages are shown. This is the bug.

Sample snapshot is shared below based on the 'init' command.

![image](https://cloud.githubusercontent.com/assets/2380340/11352940/5727c008-91f4-11e5-9f89-415c16cca243.png)

After a fix, it will look lik

[2015-11-23 23:23] emgarten opened #1755 "Replace JaneDoe with testAuthor in the tests"
JaneDoe should be replaced with testAuthor in all unit tests.

[2015-11-23 23:24] emgarten commented on #1755
NuGet/NuGet2@eb8caaef4b2a97c526d4db83676c2760cf0ddbe2

[2015-11-23 23:24] #1755 closed, assigned to emgarten

[2015-11-24 00:10] yishaigalatzer commented on #849
@ericstj how critical do you think this thing is? I can see that a vendor shipping a newer version of a package being able to update the runtime dependency to empty or not shipping a new version.

Wondering if we should abandon this until we hit a real user scenario?

[2015-11-24 00:12] emgarten commented on #1282
@zentron @mausch @joel74 @BertusGreeff  I'm not able to repro this issue. I've tried the repro script in this bug and also bumped it up to packing 10 packages at the same time. This along with increasing the size of the packages and using older versions of NuGet.exe such as 2.8.6 had no effect. The packages were created in parallel without errors each time.

Would you be able to provide more detai

[2015-11-24 00:27] yishaigalatzer commented on #848
@danliu is this a regression from 2.8.6?

[2015-11-24 00:47] mausch commented on #1282
I've seen it happen both on my desktop (.NET 4.5.2, Windows 8.1, Core i7, SSD, more than enough memory) and our build machine (EC2 t2.medium, .NET 4.5.2, Windows 8)

[2015-11-24 00:49] emgarten commented on #1282
@mausch how consistently does it happen for you?

[2015-11-24 00:53] mausch commented on #1282
I've disabled parallel packing several months ago... IIRC it was happening in around 20% of our builds. Not a good time right now to mess with our builds to try to reproduce it again but I'll try to create a smaller repro...

[2015-11-24 00:54] emgarten commented on #1448
@luisrudge what version of nuget.exe?

[2015-11-24 00:56] #1648 closed, assigned to deepakaravindr

[2015-11-24 01:11] luisrudge commented on #1448
3.20. I had to point the feed to v3 to make it work:

[code]

[2015-11-24 01:56] emgarten commented on #1448
This is fixed in 3.2.1-rc
https://dist.nuget.org/index.html

[2015-11-24 01:58] luisrudge commented on #1448
Ah, ok. Thanks!

[2015-11-24 04:56] yishaigalatzer commented on #833
@johnataylor verified today that this is fixed in the next version of the search service. @joelverhagen is going to build a functional test to verify it.

[2015-11-24 05:01] yishaigalatzer commented on #826
Also consider this ask (seems duplicate) https://github.com/NuGet/Home/issues/807

[2015-11-24 05:04] yishaigalatzer commented on #807
Closing this as for inside VS we are going to provide a public API through IVSxxx interfaces https://github.com/NuGet/Home/issues/826

[2015-11-24 05:04] #807 closed

[2015-11-24 05:06] yishaigalatzer commented on #824
This is a cleanup task, moving out after Update II

[2015-11-24 05:07] yishaigalatzer commented on #823
Will deal with this as a cleanup task

[2015-11-24 05:08] yishaigalatzer commented on #821
@feiling  was this done in 3.3?

[2015-11-24 05:09] yishaigalatzer commented on #820
@joyhui this looks like a server issue, can someone take a look?

[2015-11-24 05:15] yishaigalatzer commented on #803
This needs to be measured, there is no guarantee that this will actually improve the scenario. However it is currently very slow.

[2015-11-24 05:22] yishaigalatzer commented on #791
I believe we covered this by include/exclude feature.

@emgarten can you document this?

[2015-11-24 05:23] yishaigalatzer commented on #786
I think we got enough colors back for warnings and errors. This currently seems lower priority compared to the other work scheduled for 3.4/3.5 - Moving to vnext

[2015-11-24 05:33] yishaigalatzer commented on #782
Verified this works in nuget.exe 3.3.

Also note we implemented a new feature in nuget 3.3 (nuget init, nuget add) that lets you create a much more efficient local package source, as described in this blog - http://blog.nuget.org/20150922/Accelerate-Package-Source.html

[2015-11-24 05:33] #782 closed

[2015-11-24 05:34] yishaigalatzer commented on #781
low hanging fruit

[2015-11-24 05:35] yishaigalatzer commented on #779
Done - outside the scope of nuget

[2015-11-24 05:35] #779 closed

[2015-11-24 05:39] yishaigalatzer commented on #304
@tom-englert the PR proved a lot bigger than we thought, it doesn't actually work in the ilmerged nuget, and we have to restort to "trickery" to make it happen. @MeniZalzman has been spending a few days on this, and we didn't manage to get it working yet.

I'm unfortunately moving this to 3.4.

The good news is that the new symbol source now allows for packages to be pushed with missing files, so

[2015-11-24 05:45] yishaigalatzer commented on #764
This change is quite large, and requires discussion with vs folks. It mostly means moving nuget from a machine wide install to a user based install, which breaks other scenarios as nuget is now a very fundamental part of almost all vs templates and scenarios, so updating nuget is similar to vs updates.

We see the pain this causes to you guys, but the side effects are significant enough that this

[2015-11-24 05:52] yishaigalatzer commented on #744
Coming back around to this, #787 is now resolved.

[2015-11-24 05:53] yishaigalatzer commented on #742
We reviewed this with the security team, and believe this should not be fixed

[2015-11-24 05:53] #742 closed

[2015-11-24 05:55] yishaigalatzer commented on #734
@feiling the intent here is to cache the default search result for ~40 minutes (to disk) so initial opening of the dialog is fast on every instance of visual studio

[2015-11-24 05:57] yishaigalatzer commented on #551
@GeertvanHorrik in 3.3, we introduced a large chunk of this feature. Would you mind (after getting Update I), to get back to this issue and provide your feedback?

[2015-11-24 06:01] yishaigalatzer commented on #543
we intend to bring this feature back in 3.4, we did not manage to finish it for 3.3

[2015-11-24 06:02] yishaigalatzer commented on #729
see https://github.com/nuget/home, we currently don't support developing nuget on linux. We plan to make nuget compile and build for coreCLR (where it will work on linux), but until that happens there is no docs issue.

nuget.core has indeed moved to github (nuget2 repo), but we plan to completely deprecate it in 3.4

[2015-11-24 06:02] #729 closed

[2015-11-24 06:05] yishaigalatzer commented on #652
We believe this was fixed by #555 please let us know if this still repeats after installing nuget 3.3

[2015-11-24 06:05] #652 closed

[2015-11-24 06:06] yishaigalatzer commented on #642
@stefann42 please try nuget command line 3.3 for this scenario. - Available on myget.org/nugetbuild (or in a few days publicly of dist.nuget.org)

[2015-11-24 06:54] SharpNoiZy opened #1756 "How to create own Nuget v3 feed?"
Hi, maybe I'm stupid, blind or both :)
But how do I create my own NuGet feed with v3 like I done it for v2.
Install Nuget.Server into Webproject and it was done.
But this server is nuget v2.

Kind regards

[2015-11-24 08:01] theo-albers commented on #782
Hey Yishai, is there more information of the new NuGet 3.3 init and add commands? The blog didn't reveal that part.

[2015-11-24 08:13] theo-albers opened #1757 "Implicit assembly references through package depedencies"
It's pretty painful how a C# project handles assembly references: each and every assembly needs to be referenced in the project References section before it will be recognized. The NuGet package provides dependency information, but still this information is copied into the C# project file for every dependency. This makes upgrading packages more painful, since an upgrade means an implicit uninstall

[2015-11-24 09:25] chrisalexander commented on #708
Hello, is there any update on the VSO implementation? Thanks

[2015-11-24 10:09] MtMovo commented on #1675
Thanks @daveaglick.
Will investigate more and if nothing comes up use Your approach.

[2015-11-24 12:31] GeertvanHorrik commented on #551
Great to hear progress. Is there a prerelease version available so I can already test it?

[2015-11-24 12:36] GeertvanHorrik commented on #883
Already on v3 feed, but definitely looking forward to the performance improvements of nuget. Will try to get a beta somewhere.

[2015-11-24 12:46] jackywang615 commented on #1754
I have the same problem when I install/restore package from nuget.org.
This problem is began on last friday.
When I use commandline to install or restore package. most packages will display "Unable to find version **\* of package ****\*  "

![1](https://cloud.githubusercontent.com/assets/9586655/11367580/8fc9a0f6-92ef-11e5-928a-5846a93516ca.JPG)

![default](https://cloud.githubusercontent.com/asse

[2015-11-24 14:54] yishaigalatzer commented on #551
No but shoot me an email y i g a l a t z @ msft

[2015-11-24 14:56] yishaigalatzer commented on #708
The vso bits are in and will go live in update 1

[2015-11-24 14:57] yishaigalatzer commented on #782
They are in pr on the nugetdocs repo. Will go live soonish

[2015-11-24 16:20] yishaigalatzer opened #1758 "Update intellisense for json editor - for include/exclude feature"
We introduced include/exclude feature but didn't update the editor schema to support it.

This can be done out of band, because the file is on line

[2015-11-24 16:20] yishaigalatzer commented on #1758
@emgarten please work with @danliu today or tomorrow on grabbing the how-to details

[2015-11-24 16:30] feiling commented on #848
Here's the problem: the resource string in Chinese is "正在尝试解析程序包“{0}”的依赖项，DependencyBehavior 为“{1}”". Note that the comma in the string is the Unicode Character 'FULLWIDTH COMMA' (U+FF0C), not the normal comma (U+002C). If you copy and paste the string into another editor you can see that there is no problem with the string. It's a pure display problem: for some reason, the output window can't dis

[2015-11-24 17:42] ericstj commented on #849
It's actually essential for the generations plan to work.  We're going to have cases were Desktop needs to claim a new generation in order to expose the latest STDLIB API, but this may require dropping support for some non-STDLIB package (eg: System.XML).  See https://gist.github.com/ericstj/e250c76b23622f486f1e.

[2015-11-24 17:59] feiling commented on #1543
Fixed. Tested with Mono 4.0.5.1 on Ubuntu 14.04.

[2015-11-24 17:59] #1543 closed, assigned to feiling

[2015-11-24 18:26] joyhui commented on #820
I did a quick stress test on current api-v3search-1, and didn't find problem. It may be the known application pool recycle issue, or VM restart issue. Communicated with Dan, she didn't find this issue again these days. Let's reopen this issue if it can be repro.

[2015-11-24 18:26] #820 closed

[2015-11-24 18:37] maartenba opened #1759 "V3+V2 restore fails when server responds to FindPackagesById() with 204-No content"
_From @jesperll on November 24, 2015 13:51_

I have a Visual Studio 2015 windows 10 app project with references to packages from both nuget.org(V3) and a local TeamCity server(V2).
During package restore TeamServer is queried for all packages and responds 204 No content to the ones it doesn't know. This causes restore to fail.

_Copied from original issue: NuGet/NuGetGallery#2784_

[2015-11-24 19:19] emgarten commented on #1759
@jesperll would you provide the nuget restore output with the errors?

Also, what version of teamcity server is it?

[2015-11-24 19:31] emgarten commented on #1756
There's no NuGet.Server v3 yet. To help with this would you tell me what your scenarios are? Will you have a v3 authenticated feed, and would you prefer that it be static content, how would you ideally want to host the v3 feed?

[2015-11-24 19:40] emgarten commented on #1757
The points you've outline are a great summary of how packages.config can be painful. In Visual Studio 2015 the new UWP projects use project.json instead of packages.config, it contains only the top level dependencies. We're taking a look at moving everything towards project.json to make NuGet easier to use.

[2015-11-24 19:57] theo-albers commented on #1757
The vague part for me today is that it seems like the new project layout is tied to ASP.NET 6, which is still in RC. It would be a step forward if one could use the new C# project structure for assembly projects.
Keep up the good work, since the current assembly references are a pain.

[2015-11-24 20:09] jesperll commented on #1759
It writes "Root element is missing" a bunch of times in the Visual Studio output pane and then just stops.

TeamCity 9.1.4 (latest version)
There's a corresponding issue at TeamCity's issue tracker : https://youtrack.jetbrains.com/issue/TW-39211
The real question is whether 204 is an allowable response but since it works with nuget 2.x I think it should work for v3 as well.

I had a go at looking

[2015-11-24 20:21] SharpNoiZy commented on #1756
We have currently an private v2 feed only for our company.
I want to upgrade this to v3, to share also corefx nuget packages.

So, I need something running on one company reachable server, nothing local on my PC.

[2015-11-24 20:41] wolfpackt99 commented on #1670
wouldn't the work-around not work if you disable the main nuget feed.  Is it needed to be on for dependent assemblies?

[2015-11-24 20:47] wolfpackt99 opened #1760 "Update all packages to specific Version from Specific Source"
Need to be able to do the following from SOMEWHERE in the UI or other.
Package-Manager-Console
update-package -Version x.x.x.x -Source my-package-source -ProjectName Some.sln

This makes me have to put an Id in currently (single package). I want to update all packages from this source to this version - where installed. Would like to do this with solution closed to speed the process. Not Sure if .s

[2015-11-24 21:10] wolfpackt99 opened #1761 "Filter for Installed shows all packages and not just from selected packages source."
I want to choose Source and Installed and see just those installed from a particular source. Currently if i set source.  It shows packages from that source. Then set filter, it will show all installed packages and not just those installed from selected source.

Gui: v3.2.60914.10516

[2015-11-24 21:19] RanjiniM commented on #1473
Fixed in 3.3 commandline

[2015-11-24 21:19] #1473 closed, assigned to RanjiniM

[2015-11-24 21:24] emgarten commented on #1104
NuGet/NuGet2@23a4429a399183a9dbc5623000098cafbc34d080

Only known folders are allowed to add `_._` at pack time. The fix I've made adds support for the new v3 folders to this list: ref, runtimes, native, contentFiles.

From trying out some of these scenarios I found that just having an empty folder is enough. The folder does not need to have a `_._` file, nuget.exe will add this on it's own. In so

[2015-11-24 21:24] #1104 closed

[2015-11-24 21:27] yishaigalatzer opened #1762 "Installed packages are missing information based on source selected"
We should include the description for the package in the installed and update available (because it is already available on disk if the package has been restored).

![image](https://cloud.githubusercontent.com/assets/1238711/11381105/ffd4c916-92ae-11e5-81f7-d84f79cdc4e0.png)

[2015-11-24 21:30] yishaigalatzer commented on #1761
Package source is not going to be a filter, in the new UI we moved it away to signify that it is not a filter. I think that it will cause a disjointed experience where installed packages dissapear and the common user have no idea why they don't show up. Perhaps we should include some indication for available on the feed and a way to sort by availability.

So to summarize the source is used to cont

[2015-11-24 21:34] yishaigalatzer commented on #1760
This just doesn't work, the project system is the thing that makes the changes to the project, nuget just calls into it. You will have to move to project.json based project, where at some point we will be able to support it.

[2015-11-24 21:39] yishaigalatzer commented on #1759
Looks like the TeamCity server is completely breaking the http protocol and we have supported it in the past unfortunately.

I'm not convinced that we want to bring these hacks back, but will have a discussion with the team on this and reply here.

Note that this bug has been now opened for a full year on the teamcity server. @maartenba do you know who to reach to over there?

[2015-11-24 21:47] yishaigalatzer commented on #764
Thanks everyone for the feedback, we "met" today over email with the visual studio extensions team, and we are cooking a feature together that might enable this scenario in the next visual studio update.

I'll circle back when I have more insight into it.

[2015-11-24 22:01] feiling commented on #848
Further investigation: the problem is the FULL WIDTH COMMA character is not in (latin) fonts. That's why the question mark is shown. However, if you select a chinese font, e.g. NSimSun, then the display will be correct, e.g.

![untitled](https://cloud.githubusercontent.com/assets/2679220/11381908/c46825b2-92b3-11e5-9a8e-ab919ce1d7d5.png)

Again, the fix is to avoid using such characters.

[2015-11-24 22:03] yishaigalatzer opened #1763 "Port fixes from DNX for httpsource.cs"
https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Dnx.Tooling/Restore/NuGet/HttpSource.cs

Things I noticed so far
1. http_proxy environment variable - This is tracked by a separate bug https://github.com/NuGet/Home/issues/1671, and the change should be made across the board
2. Consider supporting 204 - Where we check for not found - https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Dnx.Tool

[2015-11-24 22:17] joyhui commented on #1754
@wanghaolu can you try to request the following URL using IE/Chrome/Fiddler directly?
HTTPS://api.nuget.org/v3/registration1/microsoft.aspnet.razor/index.json
HTTPS://api.nuget.org/packages/microsoft.aspnet.razor.3.2.3.nupkg

@jmelosegui , @wanghaolu , can you share your email? We can send latest NuGet client (They will be release very soon) to you, which may fix the connection problem.

[2015-11-24 22:50] wanghaolu commented on #1754
@joyhui I can access. my email is: jackyhaolu@163.com

[2015-11-24 23:00] yishaigalatzer commented on #1760
You can probably achieve this today by writing a powershell script, starting by using the following cmdlet

`get-package -updates -source yoursourcename`

Will enumerate all the packages from the source you specified that have updates and from there you can change them to the right version.

@deepakaravindr might be able to help some more on this

[2015-11-24 23:02] joyhui commented on #1754
@wanghaolu @jmelosegui

Can you also try this:
1. MTR log
    http://winmtr.net/how-to/
    Use MTR tool to api.nuget.org, wait for sent >=100, copy text to clipboard
![capture](https://cloud.githubusercontent.com/assets/4565352/11383299/1dcfb522-92bc-11e5-96a9-cf820e4b2666.png)
1. Please let me know your geographical area.. where are you, if 1# report lots of missing package.

[2015-11-24 23:50] deepakaravindr commented on #1760
@wolfpackt99,

Adding on @yishaigalatzer said, you can use `Get-Package -Updates -Source yoursource' to get the list of the updates available from the specified source on the packages installed on your project. And, do more using pipelining in powershell

For example, if you installed WindowsAzureStorage -Version 4.3.0 on a C# console net45 application,
and run the command with http://www.nuget.or

[2015-11-24 23:51] pspill opened #1764 "If user cancels login to Visual Studio Online, no message is shown in status and infinite progress continues"
This issue is in Visual Studio Update 1.

When you cancel the login to VSO, the throbber does not stop.

Repro steps:
1. Visual Studio Update 1
2. File \ Accounts \ remove all accounts (so you will be forced to log in)
3. Open or create a project with a Visual Studio Online package source
4. Tools \ NuGet Package Manager \ Manage NuGet Packages for Solution...
5. When browsing to a VSO source, the

[2015-11-24 23:56] RanjiniM opened #1765 "nuget push repeatedly prompts for credentials when no apikey is provided"
On a quick search looks like a similar bug was fixed for bad apikey (https://github.com/NuGet/NuGetGallery/issues/1684) but no apikey has the same issue

[2015-11-25 00:50] deepakaravindr opened #1766 "[REGRESSION] nuget.exe sources enable is broken. Cannot enable a disabled package source"
[REGRESSION] nuget.exe sources enable is broken. Cannot enable a disabled package source

Repro steps:
1. Disable a package source using nuget.exe sources disable -name <packageSource>
2. Enable the disable package source using nuget.exe sources enable -name <packageSource>

Expected:
The package source gets enabled. [This is the actual behavior too in nuget.exe 3.2]

Actual:
The package source do

[2015-11-25 01:58] yishaigalatzer commented on #1756
We do need to update the server, but you don't actually need a V3 server for that. @joyhui we need to update the nuget.server package.

Lets move the bug over to the nugetgallery.

[ ] we want to make sure that all the new packages are supported (DNXCORE50, generations, etc.)
[ ] use the new folder structure supported by nuget.exe init command

[2015-11-25 02:02] yishaigalatzer commented on #1757
This is mostly supported for everything but the asp.net 4 projects (there is no asp.net 6 yet, you probably mean MVC6/ASPNET5).

Take a look at the [nuget.client](https://github.com/NuGet/NuGet.Client/tree/dev/src/NuGet.Clients/NuGet.CommandLine) repo where we use this structure already. Although it is officially supported only for UWP and portable class libraries, you can opt into using it for cl

[2015-11-25 02:02] #1757 closed, assigned to nobody

[2015-11-25 02:05] yishaigalatzer commented on #759
@MichaelKetting we are still happy to take a PR if you are interested

[2015-11-25 02:09] #727 closed

[2015-11-25 02:10] yishaigalatzer commented on #727
We are planning to deprecate nuget.core, and there is a clear fix here. So we are calling it by design for now (one can argue this is a won't fix).

It is a side effect of using oData directly, and we don't plan to support that going forward.

[2015-11-25 02:12] yishaigalatzer commented on #726
We fixed the bulk of these suggestions.

The remaining item here it to address remove dependency order. We haven't heard any other specific feedback on this, and it is quite hard to reproduce.

Lets try to install/uninstall EF7 in a net45 project to see if this reproduces

[2015-11-25 02:17] yishaigalatzer commented on #717
This doesn't repro in 3.3, we are not sure how it got fixed.

[2015-11-25 02:17] #717 closed

[2015-11-25 02:20] yishaigalatzer commented on #690
We are going to wait for user feedback on this before prioritizing it into a release

[2015-11-25 02:25] yishaigalatzer opened #1767 "Editing project.json to change a target framework doesn't affect"
Suggestion: editing a project.json should affect
1. Build no-op
2. Current target framework

[2015-11-25 02:29] yishaigalatzer commented on #672
We decided that since PMC is global, this behavior makes at least some sense :) We are not going to try and fix it, because we are concerned with the location where that information will be saved into and potential bug tail/side effects

[2015-11-25 02:29] #672 closed

[2015-11-25 02:32] yishaigalatzer commented on #669
This is already covered in the work items for @feiling for 3.4

[2015-11-25 02:32] #669 closed

[2015-11-25 02:33] #1432 closed, assigned to feiling

[2015-11-25 02:33] #1433 closed, assigned to feiling

[2015-11-25 02:33] #1434 closed, assigned to feiling

[2015-11-25 02:33] #1435 closed, assigned to feiling

[2015-11-25 02:33] #1436 closed, assigned to feiling

[2015-11-25 02:33] #1437 closed, assigned to feiling

[2015-11-25 02:34] yishaigalatzer commented on #1494
Include support for toggling include pre-releasing

[2015-11-25 02:34] yishaigalatzer commented on #669
https://github.com/NuGet/Home/issues/1494

[2015-11-25 02:36] yishaigalatzer commented on #623
This depends on design discussions with Navit's team

[2015-11-25 02:38] yishaigalatzer commented on #632
Given that we are deprecating nuget.core, I don't see a reason to take this bug anymore

[2015-11-25 02:38] #632 closed

[2015-11-25 02:40] yishaigalatzer commented on #606
@johnataylor this is a bug to cover the client work for the staging feature

[2015-11-25 02:41] #588 closed

[2015-11-25 02:41] yishaigalatzer commented on #588
Probably a good idea, we will refactor as we go through the code

[2015-11-25 02:43] yishaigalatzer commented on #603
@mluparu given that we are in update I now, is this still needed?

[2015-11-25 05:37] joyhui commented on #1754
Based on MTR log from @wanghaolu, here is our investigation result:

The problem it's not related the China Firewall. The customer's Internet Service Provider (Chinanet) is experiencing network issues. Their router on 202.97.60.5 is showing 98% packet loss. We suggest having the customer open a ticket with Chinanet and provide them with the MTR.

[2015-11-25 05:48] mhutch commented on #1638
FWIW, I ran into this on Win10 x64. Googling the error message indicated that when it came up in another context, it could fixed by repairing .NET 3.5, so I went to Windows Optional Features and removed .NET 3.5 entirely. That fixed it in this case too. No idea why though!

[2015-11-25 07:17] MichaelKetting commented on #759
@yishaigalatzer Thanks for the poke :) Work kind of spiked right after my fateful post. I should never talk about actual timetables... There is a holiday coming up in two weeks, here's hoping to that.

[2015-11-25 07:36] jesperll commented on #1759
If it helps, I think the TeamCity bug is assigned to https://twitter.com/lodkin

[2015-11-25 07:43] maartenba commented on #1759
Best to check with @ekoshkin

[2015-11-25 08:54] kevinkuszyk commented on #1743
Thanks @yishaigalatzer.  Can you re-open the issue?  I will take a look at it when I get some time.

[2015-11-25 09:40] kevinkuszyk opened #1768 "Tests fail with PathTooLongException on fresh clone"
I wanted to try fixing #1743, but when I run the `build.ps1` script from [26a401e](https://github.com/NuGet/NuGet.Client/tree/26a401e8042baefbfb31a61585899350f0fe40a5) I get the following error:

[code]

[2015-11-25 11:05] ralfverstappen commented on #1181
Mmm, just noticed something I never realized (and by coincedence never happened before):
when updating with a specified source in VS2013 it is still possible that 'external' packages are updated.
This happens when the nuget cache contains a newer version for an external package. This package is also updated in the projects.
This makes our strategy for updating local packages with the package manag

[2015-11-25 14:14] pete1208 commented on #1638
I tried that uninstalling 3.5, with no luck. I am using using a VM Workstation guest OS Win10 x86.   By adding the config lines above it works, if I remove them it fails.  There are no error messages when opening the console now too

[2015-11-25 14:35] csharpfritz commented on #885
Installed Filter performance and Network connectivity tracked  on #1139

[2015-11-25 14:37] csharpfritz opened #1769 "Feature: User Interface - Package Description text should be selectable"
Developers would like to be able to select and copy text from the package description in the Visual Studio 2015 User Interface

[2015-11-25 14:37] csharpfritz commented on #885
Package Description Selection tracked on #1769

[2015-11-25 14:39] csharpfritz opened #1770 "Feature: Aggregate "All Package Sources" source needed"
Tracking work to re-introduce the 'All Package Sources' aggregate feed in the Visual Studio 2015 user interface

[2015-11-25 14:40] yishaigalatzer commented on #1743
Sorry closed by accident

[2015-11-25 14:40] csharpfritz commented on #885
Sort is tracked on #1739

[2015-11-25 14:41] csharpfritz commented on #885
"All Package Sources" is tracked on #1770

[2015-11-25 14:47] csharpfritz opened #1771 "Feature: Better management of multiple configuration files"
The current user interface has no indication of which nuget.config settings come from that are applied to a project, nor is there control over which settings are persisted to which nuget.config file.

Idea: indicators of where the nuget.config file is located that settings are applied from
Idea: Control over which nuget.config file settings are persisted to

[2015-11-25 14:47] csharpfritz commented on #885
NuGet.config file settings management is tracked in #1771

[2015-11-25 14:49] csharpfritz opened #1772 "Feature: Clickable URL to NuGet.org package details page"
For packages that are displayed from NuGet.org or some other repository that provides package details pages, show that URL as a clickable link in the package details

[2015-11-25 14:49] csharpfritz commented on #885
CLickable package details page link is tracked with #1772

[2015-11-25 14:50] csharpfritz opened #1773 "Feature: Simplify Repository Sources UI"
The Update -> OK steps to manage a repository location in the NuGet sources UI is confusing to some.  It could be simplified to a single "OK" button

[2015-11-25 14:51] csharpfritz commented on #885
Repository sources "Update -> OK" Workflow tracked by #1773

[2015-11-25 14:53] yishaigalatzer commented on #1771
Duo

[2015-11-25 14:53] #1771 closed, assigned to nobody

[2015-11-25 14:53] yishaigalatzer commented on #1771
Meant dup

[2015-11-25 14:55] yishaigalatzer commented on #1770
Dup

[2015-11-25 14:55] #1770 closed, assigned to nobody

[2015-11-25 14:58] yishaigalatzer commented on #1638
@pete1208 any chance we can get access to a machine with this failure?

[2015-11-25 15:58] mnivet commented on #1521
@martincostello this is  good idea, we can even imagine create a nuget package that add all the stuff to our projects to run restore of the solution level packages. However we will still be unable to use the UI to list or update our solution level packages.

As lot of others, I can says that we use this really often in my company, and we were glad to see it back.

[2015-11-25 17:40] csharpfritz commented on #972
Added section to v3.3 docs indicating how to compile a package as part of a build

[2015-11-25 17:40] #972 closed

[2015-11-25 18:00] yishaigalatzer commented on #624
@haf sorry, but this was not a high priority item, given all the other work that was going on. I hope we can get it when we start "really" supporting pack on linux/mac in the next release

[2015-11-25 18:01] yishaigalatzer commented on #617
Putting it on 3.5, but I'm not sure if this should make it to VS Update III or wait for the next release of visual studio

[2015-11-25 18:01] haf commented on #624
I think it's absolutely absurd you don't fix this faster and for me that has bought you a lot of badwill. Maybe you don't care, what do I know. Or maybe you have a PM from hell who won't let you work on what matters for the community, what do I know.

[2015-11-25 18:28] yishaigalatzer commented on #624
Sorry you feel this way, we do have to prioritize our work and the last 6-8 months where spent on stabilizing nuget 3, which affected a much larger set of customers than folks packing on Linux/Mac. This is not caring or ignoring what matters, but a simple case of there are much bigger burning items to deal with.

Going forward: Unfortunately NuGet on mono was never fully supported, and we plan to

[2015-11-25 18:35] haf commented on #624
Yes, but you could at least reply to the bug report.

You could have moved the bug report when you moved the first time.

You could have triaged the bug right when you got it.

For no apparent reason, since NuGet 3 doesn't seem to have _anything at all_ that brings package management up a notch on the .Net platform.

You don't have a larger set of _active_, _caring_ customers who have [61 nugets p

[2015-11-25 18:45] yishaigalatzer commented on #601
We don't have a solution for this, because VS doesn't let us run a blocking operation (that is required because build will fail otherwise), and without a dialog things just seem to hang.

[2015-11-25 18:45] #601 closed

[2015-11-25 18:49] #1766 closed, assigned to deepakaravindr

[2015-11-25 18:53] yishaigalatzer commented on #600
The UI looks clear enough to me

![image](https://cloud.githubusercontent.com/assets/1238711/11406555/c0e88bb6-9362-11e5-885e-9481cfd1e3d0.png)

[2015-11-25 18:53] #600 closed

[2015-11-25 18:56] zhili1208 commented on #726
did install/uninstall EF7 in a net45 project against 3.3, it didn't repro

[2015-11-25 18:56] #726 closed

[2015-11-25 18:58] yishaigalatzer commented on #577
This was already fixed

[2015-11-25 18:58] #577 closed

[2015-11-25 19:00] zhili1208 commented on #703
it still repro in 3.3

[2015-11-25 19:01] yishaigalatzer commented on #567
As we lock down 3.3, we are not able to repro this. So we are guessing this was fixed in one of the numerous commits since this bug was tried out for the last time.

@radenkozec if you still see a similar issue, please open another issue (I hope that's unnecsssary)

[2015-11-25 19:01] #567 closed

[2015-11-25 19:02] yishaigalatzer commented on #561
@feiling please consider this a part of optimizing update tab (but also look at update-package command). If this is already covered, please resolve/close

[2015-11-25 19:03] emgarten opened #1774 "Update nuget.exe help for high level command descriptions"
The high level help for nuget.exe contains grammatical errors and typos. It also calls out the machine wide nuget.config in many of the descriptions as the only config source which is likely not the case for many scenarios.

Steps
1. nuget.exe   (no parameters)
2. read the help

Issues
1.  Add and Init provide an https url to the docs, but the url at the bottom is http. It should be consistent.
2.

[2015-11-25 19:04] yishaigalatzer commented on #557
@feiling is already tracking this as part of his work to optimize the server performance for version 3.4

[2015-11-25 19:04] #557 closed

[2015-11-25 19:04] yishaigalatzer commented on #541
Good minor optimization

[2015-11-25 19:08] zhili1208 commented on #685
it doesn't repro in 3.3

[2015-11-25 19:08] #685 closed

[2015-11-25 19:08] yishaigalatzer commented on #527
@abcdabcdabcd thinking some more about this issue, my guess is that the special chars break XML, so not much we can do other than XML encoding it and supporting a command to add it.

Was that the intent?

[2015-11-25 19:16] yishaigalatzer commented on #503
@tubwreck currently you can write a project.json file and restore it with nuget.exe restore project.json. The format 8.5.1-\* will get you the latest pre-release of 8.5.1.

This restore puts packages in a global folder. You can control the folder location with an environment variable NUGET_PACKAGES.

As for the original suggestion, I'm lowering the priority, and will gladly take a pull request for

[2015-11-25 19:23] yishaigalatzer commented on #492
This still repros in 3.3, I don't know that we can clean this completely (imagine one content of the file is missing), but at least we can make the installed list and the indication on browse the same.

You can drop to PS and reinstall the package, or clean out the folder, but I'm sure you already knew that.

[2015-11-25 19:26] yishaigalatzer commented on #487
Moving out, as this didn't get much user attention. We should get to it and clean it up at some point. This is mosty for packages.config scenario

[2015-11-25 19:31] yishaigalatzer commented on #471
This is available in NuGet 3.3

![image](https://cloud.githubusercontent.com/assets/1238711/11407505/1cdbda9a-9368-11e5-8080-287b426a31bd.png)

[2015-11-25 19:31] #471 closed

[2015-11-25 19:35] dai-le opened #1775 "Visual Studio Nuget Package Manager Reset local Nuget.config files"
Every time I make an addition or deletion to my package source in the visual studio nuget package manager console, my local nuget.config file in the .nuget directory gets reset and I lose all the package sources that was added to this local file.

Nuget Package Manager version 2.8.60723.765 for Visual Studio 2013

[2015-11-25 19:39] emgarten opened #1776 "nuget.exe updating a single package produces messages saying that multiple packages are being resolved"
The package management messages say that multiple packages are being resolved, however only newtonsoft.json is being updated. This may be a general problem where PM is unable to know what will happen in the gather. It could be better to just provide a more generic message here.

[code]

[2015-11-25 19:40] yishaigalatzer commented on #452
I think in this case there could be a simpler solution, like including these references in a targets file, and add extra properties to them, then have the SDK project auto exclude them.

The point here, is that since there is no built in packaging API in visual studio, and the VSIX packaging is unique, it should probably handle it.

I'm also thinking that a nuget package doesn't necessarily have t

[2015-11-25 19:42] emgarten opened #1777 "PackageManagement gather typo"
In the package management gather message `dependencies` should be `dependency`.

`Attempting to gather dependencies information for multiple packages with respect to project`

[2015-11-25 19:46] csharpfritz commented on #1160
Introduction blog post and new tutorial section with 5 minute videos in similar structure as https://docs.npmjs.com/getting-started/what-is-npm coming soon

[2015-11-25 19:53] dai-le commented on #1775
It's actually replacing my local package sources with

  < activePackageSource >
    < add key="All" value="(Aggregate source)" />
  < /activePackageSource >

[2015-11-25 20:04] yishaigalatzer commented on #446
CC @davidfowl

Moving out from the current releases for now, until we get a strong need for this feature

[2015-11-25 20:07] yishaigalatzer commented on #465
@deepakaravindr please asses how necessary is this change for support versions newer than visual studio 2015

[2015-11-25 20:09] emgarten opened #1778 "nuget.exe update drops the assembly strong name and Private attribute."
nuget.exe update drops the assembly strong name and `<Private>` attribute.

This is **not** a regression from 2.8.6.

Steps
1. Create a new C# console app
2. Install-Package newtonsoft.json -version 6.0.4
3. Save and close the solution
4. nuget.3.3.0.exe update .\packages.config -Safe

From VS:

[code]

From nuget.exe:

[code]

[2015-11-25 20:14] yishaigalatzer commented on #1710
related to solution level packages, we should enable installing these packages into a project.

[2015-11-25 20:14] emgarten opened #1779 "Add a version parameter to nuget.exe update"
nuget.exe update allows several ways to constrain the package version, but does not allow the user to just specify the version.

Update allows
- Id
- Safe
- Prerelease

It should also allow `-Version` when `-Id` is provided

[2015-11-25 20:15] yishaigalatzer commented on #496
Work begun here but never completed:

https://github.com/Haacked/NuGet/commit/c06b0d3cb3a95822555e65b915d7e50029712493

This will need to ship downlevel

[2015-11-25 20:18] yishaigalatzer commented on #442
That's a good point (and I believe we want to show both) because although Authors is an open field many times it shows the right information, for example when someone repackages a product. A good example is jQuery.

Suggestion (needs followup design)

We show keep showing authors on the list (because owners are not always available, and for internal servers the owners are always irrelevant). But w

[2015-11-25 20:19] yishaigalatzer commented on #425
@joyhui please drive this.

[2015-11-25 20:20] deepakaravindr commented on #29
This bug was simply to ensure that we added functional tests for nuget.exe, since, there were none when this bug was created. There is nothing to be verified here

[2015-11-25 20:22] yishaigalatzer commented on #420
We haven't gotten around to fixing this, we hope this can happen on the next release.

@forderud we have simplified the build process significantly, and is should be a lot easier now, if you would like to give it another go. All the code is now in [Nuget Client](https://github.com/NuGet/nuget.client) [Directions](https://github.com/NuGet/home#how-to-build-nuget-visualstudio-extension).

[2015-11-25 20:27] yishaigalatzer commented on #417
This sounds like a potential optimization for diskspace but perhaps (didn't check) also for update when the project is on another drive than the recycle bin.

Given that we haven't gotten around to it, I'm marking it as Up For Grabs, without a strong justification I don't see it making into the next release.

[2015-11-25 20:38] csharpfritz commented on #1177
Added to docs for v3.3

[2015-11-25 20:38] #1177 closed

[2015-11-25 20:43] csharpfritz commented on #1195
Updated in v3.3 docs

[2015-11-25 20:43] #1195 closed, assigned to csharpfritz

[2015-11-25 21:14] SimonCropp commented on #1195
@csharpfritz thanks

[2015-11-25 21:16] SimonCropp commented on #1195
I notice u olny linked one commit. Can u please also link the other commits that fix the several other examples i mentioned

[2015-11-25 21:31] csharpfritz commented on #1195
The other item about DependencyVersion was addressed in commit
NuGet/NuGetDocs#372

Jeff

On Wed, Nov 25, 2015 at 4:16 PM, Simon Cropp notifications@github.com
wrote:

[2015-11-25 22:14] #1255 closed, assigned to csharpfritz

[2015-11-25 22:16] csharpfritz commented on #720
Holding for support of .NET Platform Standard so this isn't written and rewritten very quickly

[2015-11-25 22:17] csharpfritz commented on #358
Holding for a proper reference to .NET Platform Standard

[2015-11-25 22:35] yishaigalatzer commented on #352
We should specify the size in the icon name instead

icon32x32.png
icon50x50.png
icon100x100.png

We need to discuss if we require all of them, can they be updated later etc.

[2015-11-25 22:36] yishaigalatzer commented on #348
We haven't made much progress on this unfortunately. We plan to refactor pack to stop using OPC, and hopefully that should also resolve this issue.

[2015-11-25 22:38] yishaigalatzer commented on #1759
Having discussed this with the team, we are not inclined to take a fix for this. Although it is not too complicated, it is going to persist a bad legacy.

[2015-11-25 22:39] yishaigalatzer commented on #1759
@ekoshkin any chance this is getting resolved any time soon?

[2015-11-25 22:42] yishaigalatzer commented on #317
I didn't hear any ask for this, will address when customer asks come in

[2015-11-25 22:42] #317 closed

[2015-11-25 22:43] deepakaravindr commented on #760
Just verified that I could do the following
1) nuget list -Source < myLocalPackageSource > as stated in the bug
2) nuget install <packageWithNupkgAsExtension> -Source < myLocalPackageSource >

It works fine

[2015-11-25 22:45] yishaigalatzer commented on #283
moved to gallery https://github.com/NuGet/NuGetGallery/issues/2789

CC @joyhui @johnataylor

[2015-11-25 22:45] #283 closed

[2015-11-25 22:46] yishaigalatzer commented on #315
Done.

We can update all for multiple packages.

[2015-11-25 22:46] #315 closed

[2015-11-25 22:48] yishaigalatzer commented on #205
We now have support for that in solution level package manager and a consolidate tab.

We will take further feedback for the UI after the release.

[2015-11-25 22:48] #205 closed

[2015-11-25 22:48] yishaigalatzer commented on #94
Fixed to be a proper checkbox

[2015-11-25 22:48] #94 closed

[2015-11-25 22:51] RanjiniM opened #1780 "nuget push repeatedly prompts for credentials when no apikey is provided"
On a quick search looks like a similar bug was fixed for bad apikey (https://github.com/NuGet/NuGetGallery/issues/1684) but no apikey has the same issue

[2015-11-25 22:52] yishaigalatzer commented on #1775
We are planning to fix this in NuGet 3.4 - https://github.com/NuGet/Home/issues/1114

[2015-11-25 22:52] #1775 closed, assigned to nobody

[2015-11-25 22:54] RanjiniM opened #1781 "-solutiondirectory flag has no effect in nuget restore command"
[Not a regression. Same behavior in 2.8.6]
1. Place nuget.exe, for example, in C:\Temp
2. Run nuget restore from C:\Temp on solution file say in C:\Users\Test by using solutiondirectory flag like below
   nuget restore -solutiondirectory c:\users\test
3. restore fails with the following message
   This folder contains no solution files, nor packages.config files.

Expected:
restore can find the .s

[2015-11-25 22:56] feiling commented on #1543
Verified with nuget.exe 3.3.0.208, Mono 4.0.5.1, Ubuntu 14.04.

[2015-11-25 23:15] RanjiniM commented on #1489
This didn't go into 3.3.Commandline. Will check in the fix for 3.4

[2015-11-25 23:16] RanjiniM commented on #1067
The fix didn't go into 3.3.Commandline. Will check in the fix in 3.4

[2015-11-25 23:25] RanjiniM commented on #1751
Verified

[2015-11-25 23:25] yishaigalatzer commented on #141
This works now

[2015-11-25 23:25] #141 closed

[2015-11-25 23:26] xperiandri commented on #315
Cool! Which build to try?

[2015-11-25 23:27] RanjiniM commented on #1736
Verified the strings

[2015-11-25 23:30] johnataylor opened #1782 "nuget pack -Verbose flag should not appear as an option in help"
Help reports -Verbose as an option. However, if you use this flag it reports as deprecated.

[2015-11-25 23:35] emgarten opened #1783 "nuget.exe update -self -Source https://feed"
nuget.exe update -Self is hardcoded to use nuget.org v2
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.CommandLine/Common/SelfUpdater.cs#L44

This command should be improved so that v3 sources can be used. It should also be possible to update from a local v3 server or pre-release feed such as the nuget-build feed.

[2015-11-25 23:35] yishaigalatzer commented on #315
3.3, it will go out shortly.

Shoot me an email if you want an early peek. y i g a l a t z @ msft

[2015-11-25 23:38] johnataylor opened #1784 "nuget pack -NoPackageAnalysis appears to perform analysis"
Specifying a completely invalid version field, for example, "lala" is illegal, however, even if you specify -NoPackageAnalysis this blunder is still picked up on. This is unexpected behavior.

Conversely, if you specify a 4 digit version (i.e. one that is not correctly Semantic Version) then that is allowed through even if you don't specify -NoPackageAnalysis

[2015-11-25 23:38] deepakaravindr commented on #1044
I have verified that this bug has been fixed correctly.

[2015-11-25 23:39] deepakaravindr commented on #1033
We are making changes to nuget 2.x exe. So, there is nothing to verify here

[2015-11-25 23:44] deepakaravindr commented on #998
I have verified that this bug has been fixed by using `nuget.exe sources add -Name blahSource -Source c:\packages -ConfigFile NuGet.config`

[2015-11-25 23:53] yishaigalatzer commented on #329
@eerhardt have been trying to understand the core reason to prevent copy local to false (at the package level), and I don't see a really good one.

Can you share your scenario, so we can look again at prioritizing this item.

CC @davidfowl

[2015-11-26 00:09] deepakaravindr commented on #900
I have verified that this scenario works as desired, by creating a net45 C# application named 'A - A', installing WindowsAzure.Storage.4.3.0 on the created project, deleting the packages folder and calling 'nuget.exe restore on the solution file' using nuget.exe version 3.3

[2015-11-26 00:13] feiling commented on #1516
verified with nuget.exe 3.3.0.208

[2015-11-26 00:18] RanjiniM commented on #1780
Dupe of https://github.com/NuGet/Home/issues/1765

[2015-11-26 00:18] #1780 closed, assigned to nobody

[2015-11-26 00:21] feiling commented on #1468
verified with nuget.exe 3.3.0.208

[2015-11-26 00:23] feiling commented on #1469
verified that this is fixed in NuGet.PackageManagement 3.3.0

[2015-11-26 00:28] feiling commented on #1472
verified with nuget.exe 3.3.0.208

[2015-11-26 00:31] feiling commented on #1473
verified with nuget.exe 3.3.0.208

[2015-11-26 00:31] deepakaravindr commented on #525
@yishaigalatzer,

I just investigated the issue and I believe that a check to ignore the addition of a file that does not exist in the project is a valid one, since, it is possible for a user to add files under the project folder that is not really part of the project. (Exceptions being packages._.config, app._.config, web.*.config).

So, I think this bug is a Won't Fix. Closing the bug

[2015-11-26 00:32] feiling commented on #1487
verified with nuget.exe 3.3.0.208

[2015-11-26 00:35] feiling commented on #1495
Verified with nuget.exe 3.3.0.208 that the correct error message is shown.

[2015-11-26 00:40] #525 closed

[2015-11-26 00:41] feiling commented on #1496
with nuget.exe 3.3.0.208, no messages are displayed. My opinion is that we don't need to display anything if there is no packages.config/project.json etc. Move it to 3.4

[2015-11-26 00:45] feiling commented on #1497
verified with nuget.exe 3.3.0.208

[2015-11-26 00:53] feiling commented on #1503
verified with nuget.exe 3.3.0.208

[2015-11-26 01:15] yishaigalatzer opened #1785 "NuGet restore runs msbuild and times out on machines with pegged CPU"
This issue is tracking bumping up the timeout from 1 minutes to 5 minutes (not yet configurable). Will follow up with configurable timeout, and msbuild diagnostics support

[2015-11-26 01:20] pranavkm commented on #1785
Addressed as part of https://github.com/NuGet/NuGet.Client/pull/140 \ https://github.com/NuGet/NuGet.Client/commit/377b0298f2aa76e7cd30cedf932962b2231d5316

[2015-11-26 01:20] #1785 closed, assigned to pranavkm

[2015-11-26 01:21] yishaigalatzer opened #1786 "Add diagnostics to nuget restore failures when msbuild fails to resolve P2P"
Related to:
https://github.com/NuGet/Home/issues/1785

On roslyn builds (pegged CPU machines) we see the following

16:06:52 Restoring: Toolsets (this may take some time)
16:07:10 Restoring: Roslyn.sln (this may take some time)

#1785 address the first error, this issue should help in diagnosing the calls to msbuild resolving P2P

[2015-11-26 08:00] xavierdecoster opened #1787 "Report Abuse URL is hardcoded to nuget.org"
See `ReportAbuseResourceV3` class:

[code]

[2015-11-26 11:46] chrisalexander commented on #708
@yishaigalatzer Thanks, it twigged that this would be turning up reasonably soon when I found the ms.feed plugin for VSO / VSTS. Cheers!

[2015-11-26 14:39] Lette commented on #1743
I got the same issue, I think. In my `AssemblyInfo.cs`, I have `AssemblyInformationalVersion("1.2.3-beta.1")`. `nuget pack project.csproj` silently fails and picks up the `AssemblyVersion` instead. If I explicitly use `-version 1.2.3-beta.1`, `nuget pack` fails with `'1.2.3-beta.1' is not a valid version string.`

Using `1.2.3-beta` in the attribute or on the `-version` parameter works.

I'm prett

[2015-11-26 14:49] yishaigalatzer commented on #1743
@lette This new report seems unrelated. Note we only support semver1 at the moment so you need to use 1.0-beta0001 or something like that.

We of course will gladly take a fix for the item above.

[2015-11-26 15:24] Lette commented on #1743
All right. So, we need SemVer 2 support. Do you know of any specific difficulties regarding this? If all that needs to be done is parsing/validation of the version string, then I guess it's pretty straightforward..?

[2015-11-26 15:33] yishaigalatzer commented on #1743
It's a lot more complex, and we decided to put support for semver2 in the upcoming release on hold for now. We will get back to it at some point

[2015-11-26 15:43] Lette commented on #1743
OK, but correcting the OPs problem with semver 1 is still doable, right?

[2015-11-26 15:59] yishaigalatzer commented on #1743
What does op mean?

[2015-11-26 16:29] csharpfritz commented on #1743
Original poster - person who first started this thread

Sent from my iPhone

[2015-11-26 16:52] Lette commented on #1743
For future googlers: SemVer 2 is discussed in #1359.

[2015-11-26 16:57] NameOfTheDragon commented on #1710
This is actually something of a showstopper. I think you should make it higher priority. I already have two affected packages and it also affects Microsoft.CodeContracts.
As a workaround I found I could just put a dummy file in the content/net folder. Of course the file then gets added to my projects, but at least the package then installs.

[2015-11-26 17:06] yishaigalatzer commented on #1710
@nameofthedragon this is as high pri as it gets. 3.3 is done, so pri 1 in 3.4 is it.

When it comes to your package you might be able to get away with an empty folder for a dependency (_._) not sure though

[2015-11-26 17:07] yishaigalatzer commented on #1743
Thanks Jeff, yes we would like to get it fixed

[2015-11-26 23:41] sylveon commented on #627
I need this!!! I can't start my project without the files from the sqlite-net nuget package, and I do not want to copy those files manually... Is there any way I can use the old system except using an old project? Ex: Editing something in the solution / project file

[2015-11-26 23:49] yishaigalatzer commented on #627
We are shipping the solution content based packages next week

[2015-11-26 23:55] sylveon commented on #627
@yishaigalatzer: What will happen with projects that installed content-based packages already but that NuGet didn't supported at this time? Will the content be added to the project, or it will be something more like @johncrim's proposal.

[2015-11-27 00:27] yishaigalatzer commented on #627
It's a completely new model that packages have to opt into, so its orthogonal. The behavior is explained in our wiki and will go live on docs.nuget.org next week

[2015-11-27 00:45] ljw1004 commented on #627
Is it possible for a single package to work both under packages.config and also under the new behavior?

[2015-11-27 00:55] sylveon commented on #627
@ljw1004 The latest nuget version supports two styles for backward compatibility. So I expect that it will still have backward compatibility, and just treat them the same as if they where installed using the new style, thus copying files as expected.

[2015-11-27 00:55] yishaigalatzer commented on #627
Yes, it needs to author both folders. We plan to add a linking feature to help control the size of the packages

[2015-11-27 06:53] sriniketana opened #1788 "nuget restore always restores for ARM not x86,x64"
I have a nupkg with the following structure

[code]

When I add this nupkg to a UWP project, only ARM build succeeds, x86 and x64 builds fail with the error

Upon looking around, I notice that the project.lock.json has the following structure

[code]

Although there are other targets for x86, ARM and x64, the generic target always points to win10-arm.  After changing it manually, nuget restore aga

[2015-11-27 08:34] petermorlion opened #1789 "“The file nuget.config was not found” dialog"
I often get this warning when opening a Solution in Visual Studio:

![Nuget.config not found dialog](http://i.stack.imgur.com/yzqOd.png)

I get this several times, but when I just click through the dialogs, everything opens fine and builds fine, even on other developer's PC's.

Our nuget.config file actually does exist, but is not in the solution's directory. It is actually up some directories, be

[2015-11-27 11:59] ghost commented on #1759
@yishaigalatzer I'll do my best to fix [this particular issue](https://youtrack.jetbrains.com/issue/TW-39211) in scope of next TeamCity bugfix update.
As for TeamCity NuGet support in general - we are thinking about dropping internal feed functionality since its very time consuming task to provide consistent production ready high performance feed and its out of scope of CI tool development.

[2015-11-27 15:55] sylveon commented on #627
Will nuget accept old unupdated packages with content or it is mandatory to use the new model for content to copy?

[2015-11-27 17:44] yishaigalatzer commented on #627
Old packages will work in packages.config scenario only.

[2015-11-27 20:51] sylveon commented on #627
How can I use this scenario on an Universal Windows app then?

[2015-11-27 21:15] yishaigalatzer commented on #627
The package needs to support shared content model. If all you are looking is to use SQL lite grab the SQL lite uwp package

Sent from my Windows Phone

---

From: Charles Milettemailto:notifications@github.com
Sent: ‎11/‎27/‎2015 12:51 PM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home] A possible way forward for Content in Transitiv

[2015-11-28 13:51] mrlund commented on #1638
If it helps, I just had the same issue, running 2015 Update 1 RC on Win10 x64, with an MVC project opened in a new instance after another instance open with a Cordova project. I closed both of them down, and reopened just the MVC project, and the console was working again.

[2015-11-28 23:52] kuncevic commented on #1015
Having similar issue on Windows.

[code]

@emgarten Just tried to run `.nuget\NuGet.exe install KoreBuild -ExcludeVersion -Source https://www.myget.org/F/aspnetvnext/api/v2 -Out packages`
but getting error `Unable to find package 'KoreBuild'.`
So looks like the `KoreBuild` is not there

UPDATE:
Just added `https://www.myget.org/F/aspnetvnext/api/v2` in to vs2015 nuget sources then run `build initi

[2015-11-29 02:29] yishaigalatzer commented on #1015
Thanks for the update @riapp

[2015-11-29 02:33] yishaigalatzer commented on #1638
The problem is that we cannot get a local repro. Is it possible to get access to a machine this happens on?

[2015-11-29 19:25] jozefizso commented on #1286
Nuget 2.8 supported -ExcludeVersion when installing packages from package.config file. The documentation does not indicate that -ExcludeVersion is not longer supported in Nuget 3.2 when installing from package.config file.

These commands behave correctly and install the package without using version number:

[code]

This no longer works as expected without any warning:

[code]

`packages.config`

[2015-11-29 19:43] yishaigalatzer commented on #1286
That's a bug,  not intentional

[2015-11-30 01:28] logankp commented on #694
I've started looking into this one, I can send a PR whenever.

[2015-11-30 10:39] Jonne opened #1790 "Nuget does not build"
When I follow the https://docs.nuget.org/contribute/Setting-up-the-NuGet-Development-Environment
guide, I get the following error when I build it:

[code]

Its using 4.0.0-beta-23109. I haven't done anything with dnx before, so I might be doing something wrong? Any help is appreciated

[2015-11-30 15:09] eerhardt commented on #329
At the time, I was building a VS extension point.  In order for VS extensions to consume our APIs, we need to ship them a “Contracts” assembly that they will reference.  We will ship this Contracts assembly as a NuGet package.  Using the VSIX packaging technology, whenever you have a CopyLocal=true reference, that reference will automatically be included in the output VSIX.

Since our Contracts as

[2015-11-30 16:15] csharpfritz commented on #1699
NuGet spec reference was updated with an entry for contentFiles

[2015-11-30 19:35] feiling opened #1791 "One parameter is missing for format string FailToWritePackagesConfig"
In file PackagesConfigWriter.cs, there is code snippet

[code]

The problem is that format string FailToWritePackagesConfig requires two parameters, but there is only one provided. This should be fixed.

[2015-11-30 20:09] yishaigalatzer commented on #1790
I have seen this issue on my machine as well before. You want to make sure you have Beta7 (for the next few days at least) of DNX installed, and you want visual studio not to have the core project open (because it might run a different version of DNX that will interfere with restore).

[2015-11-30 20:10] yishaigalatzer commented on #1789
What version of NuGet and Visual Studio are you using?

[2015-11-30 20:12] yishaigalatzer commented on #1788
Would you mind updating to Visual Studio Update I and NuGet 3.3, and tell us if this still repros for you?

They both should be out (and if not available where you are, they should be shortly)

[2015-11-30 20:36] yishaigalatzer commented on #694
https://github.com/NuGet/NuGet.Client/pull/144/files

[2015-11-30 23:53] sylveon commented on #627
V 3.3 is released but this issue isn't closed? 0_o

[2015-11-30 23:54] #627 closed

[2015-11-30 23:55] yishaigalatzer commented on #627
Closed now - Content model is supported and documented. We will track separately work for scaffolded content https://github.com/NuGet/Home/issues/1792

[2015-11-30 23:58] yishaigalatzer opened #1792 "Scaffolded content"
We want to support adding file to a project (with the intent of them being modifiable by the user).

This is the second part to the content in transitive restore discussion started here -
https://github.com/NuGet/Home/issues/627 and https://github.com/NuGet/Home/wiki/%5BSpec%5D-Content-v2-for-project.json

The goal is to enable authoring packages that allow for modifying the project in the followi

[2015-12-01 00:09] vvavrychuk opened #1793 "-Source has no effect"
I have rebuilt a NuGet package `MathNet.Numerics` with some temporary local modifications for debug purposes. I would like to temporary install it in my project to check something.

[code]

Problem is that the above command does not installs `MathNet.Numerics.3.9.0.nupkg` from my specified folder. I see this by files sizes.

[2015-12-01 03:00] mrchief commented on #1631
@yishaigalatzer  I'm having the same issue with v3.3.0

[code]

[2015-12-01 04:32] yishaigalatzer commented on #1631
@mrchief would you mind sharing a repro?

@feiling

[2015-12-01 06:39] FabienDehopre opened #1794 "AssemblyInformationalVersion not taken into account"
I tried what is explained here https://docs.nuget.org/create/versioning#user-content-creating-prerelease-packages but the nuget program still use the AssemblyVersionAttribute instead of the AssemblyInformationalVersionAttribute to version my nuget package.

[2015-12-01 07:17] ChristopherHaws opened #1795 "Version Token in NuSpec file not being replaced properly when using version flag with csproj"
When using the `-Version` flag, `nuget pack` fails to set `$version$` properly in all locations other than the `<version>` element when running against a csproj file.

For example, if I had the following nuspec

[code]

If I execute the following command

[code]

The output would be a nuget package called `Test.1.0.0-beta1.nupkg` which is correct, however the nuspec file that gets generated and pl

[2015-12-01 07:37] kimbirkelund opened #1796 "Installing package fail saying the package does not contain any assembly references for 4.5.2"
Repro:
- Create new project
- Try to install Newtonsoft.Json.7.0.1 using package mananger console

Log:

[code]

[2015-12-01 07:38] kimbirkelund opened #1797 "Packages no longer sorted by name Package Manager 3.3"

[2015-12-01 07:41] kimbirkelund commented on #1796
I tried deleting my ~.nuget which I had initialized from the nuget cache (AppData\Local\nuget\Cache) using the nuget init command. And now I can install packages.

[2015-12-01 07:59] petermorlion commented on #1789
Hi yishaigalatzer, I'm using:
- Visual Studio Premium 2013, Version 12.0.31101.00 Update 4
- NuGet Package Manager 2.8.50926.663

[2015-12-01 08:06] yishaigalatzer commented on #1789
I have a few suggestions
1. If possible move to 2015 NuGet 3.X, where we actively develop and bug fix every item. This seems like a lower priority thing, we can probably find a workaround for.
2. Try creating an empty nuget.config at the solution level (each solution), it will perhaps make nuget just keep working.
3. Sharing the repository between multiple solution is fraught with trouble, and not

[2015-12-01 08:31] kimbirkelund opened #1798 "nuget.exe updating package installs it in other projects"
Repro solution available here: https://onedrive.live.com/redir?resid=4C2997B2E5861492!415578&authkey=!ALqDgQAd9Q10uNM&ithint=file%2czip

The linked solution contains two console projects:
- ConsoleProject1 references Newtonsoft.Json
- ConsoleProject2 references EntityFramework (the specific package doesn't appear to matter)

When running the update command:

[code]

The Newtonsoft.Json package is

[2015-12-01 10:38] yishaigalatzer commented on #1798
1. What version of nuget.exe are you using?
2. It is expected that nuget.exe cannot run powershell scripts, they can only run within the context of visual studio

[2015-12-01 10:39] yishaigalatzer commented on #1797
Can you provide details? What command are you running, what are you comparing this to?

[2015-12-01 10:41] yishaigalatzer commented on #1796
That's expected, nuget init cannot be used to create a packages folder or cache, it can be used to create a source folder. Basically you created a corrupted packages folder :(

[2015-12-01 10:41] #1796 closed, assigned to nobody

[2015-12-01 10:42] yishaigalatzer commented on #1794
What version of nuget.exe are you using?

[2015-12-01 10:44] yishaigalatzer commented on #1793
It is probably picking it up from the cache. This is an expected behavior (nuget assumes Id and version translates to the same package)

You can try using nuget.exe 3.3 and use the nuget.exe locals -Clear command.

You can get 3.3 from - http://dist.nuget.org/index.html

[2015-12-01 10:51] kimbirkelund commented on #1797
My bad, it's the Package Manager dialog, not the console.

And it appears I was totally wrong; they were sorted in the 3.2 version either.

[2015-12-01 10:51] #1797 closed, assigned to nobody

[2015-12-01 10:54] kimbirkelund commented on #1796
Fair enough.

[2015-12-01 10:55] yishaigalatzer commented on #1797
Yup, they are supposed to show up by search relevancy as determined by the server, we are tracking an ask to add sorting capabilities

[2015-12-01 10:56] yishaigalatzer commented on #1795
Can you share what version of nuget.exe are you using?

[2015-12-01 10:58] kimbirkelund commented on #1798
1. 3.3, but I've observed the issue with earlier 3.x versions as well.
2. I'm aware; I just found it interesting that this bug resulted in more correct install behavior (in my opinion) than the install command.

[2015-12-01 11:05] yishaigalatzer commented on #1798
Install command is a misnomer, really think about it as restore. We consider removing it, and use restore instead. But for two reasons we didn't.
1. Backwards compatibility
2. Install allows restoring the latest version of a package

[2015-12-01 11:07] kimbirkelund commented on #1798
I'm aware of the reasoning - doesn't mean I have to agree :) That's a different discussion though.

[2015-12-01 12:22] csharpfritz commented on #1795
According to the docs, the -Version switch overrides the package version
number and is not a replacement for the $version$ token.

http://docs.nuget.org/Consume/Command-Line-Reference#pack-command

http://docs.nuget.org/Create/NuSpec-Reference#replacement-tokens

The $version$ token is always a replacement from the assembly version that
was built.  In specifying the -Version switch, you are overri

[2015-12-01 12:50] wolfpackt99 commented on #1760
hey guys thanks for the updates. I just got VS2015 Update 1 and now the UI
has some upgraded features.  You guys answered in regards to the Package
Manager Console, but does anyone have a solution for the command line. This
has always been faster. allowing to do so with solution closed.

-Trent

On Tue, Nov 24, 2015 at 6:50 PM, Deepak Aravindakshan <
notifications@github.com> wrote:

[2015-12-01 13:47] raulramaya opened #1799 "Updating solution removes references"
Initial State:

1 solution containing 2 projects.
Both projects have package.config containing 5 references
3 of the references have updated nuget packages
2 of the references have no updated nuget packages
Using file based nuget feed
Using version 2.8.5 of nuget

Steps:

Ran restore and verified all packages existed in packages folder and were set to version specified in package.config
Ran update

[2015-12-01 14:51] martinsuchan commented on #456
I can confirm this is no longer happening with NuGet 3.3.0.

[2015-12-01 15:28] mrchief commented on #1631
Not sure how to go about it - its a private project for a client. Let me see if I can upload a redacted version.

 Do you think just the solution file will be good enough or do you need the whole setup?

[2015-12-01 15:41] maartenba opened #1800 "Leading 0 in Package Revision Number Fails to Restore in VSTS"
_From @joshlrogers on December 1, 2015 15:27_

Starting today (12/1/2015) we are unable to restore packages during a build in VSTS that have a leading 0 in the revision number of the version.  Currently our private Nuget Packages are packaged and deployed in VSTS and have versions like 1.0.151201.01.  Starting today, we're assuming due to the recent release of the VS Update 1, it is stripping off

[2015-12-01 15:47] paulhickman-a365 commented on #1138
yishaigalatzer: is there any public bug tracker where we can track the VSIX issue?

[2015-12-01 17:19] mhutch opened #1801 "MSBuild targets not available on GitHub"
The MSBuild targets for NuGet 3 (Microsoft.NuGet.ImportAfter.targets, etc) are not available in any of the OSS repositories.

[2015-12-01 17:28] FabienDehopre commented on #1794
I'm using the version 3.3.0.212

[2015-12-01 17:35] FabienDehopre commented on #1794
My bad... I was using an unsupported build number with dot notation.
So I suppose that nuget switch back to using the AssemblyVersionAttribute instead of AssemblyInfermationalVersionAttribute.
Nevertheless, I think this should not be silent and at least a warning should be emitted.

[2015-12-01 17:38] ChristopherHaws commented on #1795
@yishaigalatzer I am using version 3.3.0.212
@csharpfritz Those two links seem contradictory to me. I am able to get all other tokens to replace properly from other locations in the file. The behaviour seems inconsistent if that is the case though. If you were to tell nuget to pack the nuspec file instead of the csproj file, it does in fact replace the version properly. It is only when running wit

[2015-12-01 17:38] yishaigalatzer commented on #456
@martinsuchan thanks for getting back to us! Much appreciated

[2015-12-01 17:41] yishaigalatzer commented on #1138
http://connect.microsoft.com/

[2015-12-01 17:43] vvavrychuk commented on #1793
Suggested command cleared cached packages but still it did not help me.

[2015-12-01 17:46] yishaigalatzer commented on #1794
Openning as up for grabs, seems like a reasonable fix to take, just at a low priority.

If someone is interested in working on this issue, I would wait until we pull pack out of nuget.core

[2015-12-01 17:48] yishaigalatzer opened #1802 "Pre check packages In consolidate tab"
Suggestion from: http://disq.us/url?impression=ab704478-9852-11e5-abb0-002590852c3c&forum=1264790&thread=4364094769&url=http%3A%2F%2Fblog.nuget.org%2F20151118%2Fnuget-3.3.html%23comment-2387383209%3A24BUmuoFJDG19i3iaGmuVOLp1Q8&variant=active&experiment=digests&behavior=click&post=2387383209&type=notification.post.moderator&event=email

When selecting a package in the consolidate tab, pre check all

[2015-12-01 17:58] yishaigalatzer commented on #1631
@mrchief if that repros the problem, go ahead and share it

[2015-12-01 18:01] yishaigalatzer commented on #1795
I can see how we will be ok with taking a change here. This is not going to fit in one of the immediate releases, so I'm marking us up for grabs and moving to vNext

if someone is interested in taking a stab at a fix, I would wait for the dependency on nuget.core to drop from nuget.exe first to simplify the build process.

[2015-12-01 18:05] fuxuepeng commented on #1638
I was just able to fix this by removing the Nuget extension (via extensions and updates), rebooting, reinstalling it, then rebooting.

[2015-12-01 18:13] csharpfritz commented on #1795
The docs dictate that the -Version switch replaces the contents of the <version></version> element, not the $version$ token.

The $version$ token is substituted based on the value found in the csproj file you are packing with.

[2015-12-01 18:28] yishaigalatzer commented on #1638
@fuxuepeng we have seen some issues with the MEF catalog in Visual Studio not refreshing properly, and a reinstall or a call to devenv /setup resolves it.

now that Update I is out, I recommend to whoever is experiencing this to try again with a fresh install.

[2015-12-01 18:29] yishaigalatzer commented on #1795
I'm suggesting that we can change the docs, or add a token replacement flag to the command itself.

[2015-12-01 18:29] feiling commented on #1631
The problem doesn't seem to have anything to do with the particular sln file. @mrchief Can you run msbuild to get the msbuild version number you're using?

[2015-12-01 18:32] csharpfritz commented on #1795
I like the idea of providing a token-replacement feature from the command-line

[2015-12-01 18:33] zhili1208 commented on #865
"does not allow specifying a relative path" repro with 3.3, 2.10, the problem is from PathValidator.IsValidSource() in nuget.core.

"relative paths get overwritten" is fixed in https://github.com/NuGet/NuGet.Client/commit/71801c84fbd2fbf85dff5f2ab9db5380cc815a4d

[2015-12-01 18:38] zhili1208 commented on #527
@abcdabcdabcd  can you share those special chars? thanks

[2015-12-01 18:46] vvavrychuk commented on #1793
I did some play and found what worked for me
1. Remove the package from `SolutionFolder\packages`.
2. Run `cd Sinc.Rest.Owin && nuget restore Sinc.Rest.Owin.csproj -SolutionDirectory .. -Source C:\kom\oss\mathnet-numerics\out\packages\NuGet`

During use of the `nuget.exe` I did not found
1. If `nuget install` can install package into a specific `csproj` like `Install-Package` does.
2. If there is

[2015-12-01 18:53] yishaigalatzer commented on #1793
No it cannot, and would not be able to do it reliably outside of visual studio.

Same answer as the first, if it can't install, it can't upgrade. Update does try to do some of the work, but again it is not 100% reliable (for example adding references behaves differently, and it doesn't run install/uninstall scripts).

I believe we can close this issue now?

[2015-12-01 19:05] vvavrychuk commented on #1793
Not yet since visual studio extension is not working as expected as I described originally even after cache clear. Maybe there is some conflict between "Package source" specified in combo box GUI of "Package Management Console" and `-Source` parameter.

[2015-12-01 19:32] yishaigalatzer commented on #1793
Sorry I think I confused you, the idea of update-package -reinstall is not to allow redownloading of the same package id, it is design to reinstall the package in the project, when for example the .net framework has changed.

So if you did
1. Change the package version and update-package -reinstall it, it will work
2. Uninstall the package, then install it from the source it will work.

So unfortu

[2015-12-01 19:39] zhili1208 commented on #631
I don't think this is related to nuget, for get-project, nuget just get the EnvDte.project from DTE and pass it to powershell command, the project type should be defined in DNX part.

[2015-12-01 19:42] johnataylor commented on #1798
This definitely repros and is a pretty obvious bug. In fact you could even pick a package that isn't installed in any of your projects and it will get installed in everyone of your projects if you specify it in the update command.

But this only appears to happen when you specify the -id explicitly on the command line. If you were to do a "update" without the -id flag it appears to do the right th

[2015-12-01 19:54] yishaigalatzer commented on #1795
I guess I wasn't the first to think about it. It is already supported :)

see: http://docs.nuget.org/Consume/Command-Line-Reference#pack-command

e.g. nuget pack foo.csproj -Build -Symbols -Properties Configuration=Release

[2015-12-01 20:17] TwelveBaud commented on #980
@Liero: That behavior is expected. NuGet isn't adding the files to TFS at all, which is why they're not showing up in Included Files or Excluded Files and won't be checked in. Instead. Visual Studio itself is letting you know "hey, there are files here..." Add a `.tfignore` or `.gitignore` file if you want them to disappear from Candidate Changes too; there are options on the right-click menu to d

[2015-12-01 20:44] johnataylor commented on #1798
The problem is the code in UpdateCommand.cs just loops over all the projects attempting to explicitly update the package specified in each one. See UpdatePackageAsync around l.255.

Also note this code should NOT really be a loop anyhow. Refer to #1803

[2015-12-01 21:18] ChristopherHaws commented on #1795
I suppose that I can do the following and use %PackageVersion% in the nuspec file:

[code]

It is still weird that the behaviour is inconsistent between csproj and nuspec. I think that if anything, the documentation should be changed so that it is known that $version$ will only be replaced with the passed version parameter when packing a nuspec file.

[2015-12-01 21:30] yishaigalatzer commented on #1795
I think that is because in the csproj case it has a data source for the version, and in the nuspec is doesn't and it then replaces the version tag completely (so if you had a `<version>$version$-beta1</version>` still the whole version tag will get replaced.

I agree that the inconsistency is evil, and it should be fixed. I'm happy you have a workaround for now, and we can re-open this to track fi

[2015-12-01 21:40] wilson0x4d commented on #1699
The nuspec samples in the nuspec reference do not provide a working sample of "contentFiles" section. The v3.3 nuget.exe complains that this section is invalid. Where can we see a full nuspec sample showing a valid contentFiles section?

[2015-12-01 21:44] johnataylor opened #1803 "nuget.exe update does not update the project as a list"
The code in UpdateCommand.UpdatePackageAsync appears to apply a set of package updates one at a time rather than as a group. The resolver is capable of handling a group update. In fact the group update might give a different and better result than sequentially applying ids to the project.

[2015-12-02 00:14] vvavrychuk commented on #1793
Sorry for being annoying, but I would like to clean up one thing.

If I remove the package from `packages` folder and do

[code]

extension will do

[code]

but not from the source I specified.

[2015-12-02 00:19] yishaigalatzer commented on #1793
Not annoying at all, you are again not doing the right thing.

Update-Package for this scenario will just not work, you need to either uninstall the package then install it from the source you specified, or change the version and install it.

Here is what is happening for you:
1. You removed the package from the packages folder
2. In order for update to work, it needs to actually read the content

[2015-12-02 03:04] mrchief commented on #1631
I'm not using the command line tool rather `Microsoft.Build.dll` and related assemblies to fire off the build. The DLL version is 14.0.22310.1

[2015-12-02 06:23] vvavrychuk commented on #1793
Thanks for help!

[2015-12-02 06:23] #1793 closed, assigned to nobody

[2015-12-02 09:00] fubar-coder opened #1804 "Update link for VSIX"
![nuget-extension-info](https://cloud.githubusercontent.com/assets/4739844/11526553/8148cbc8-98db-11e5-8056-a09f847ea3e0.png)

[2015-12-02 11:22] tomkerkhove opened #1805 "Package source is neglected when installing package?"
Hi,

I'm currently using a local NuGet repo internally that we only use. This week I've updated to the latest version and saw that I have strange behavior when installing a package.

Although I've selected my own package source it still tries to connect to the default NuGet one.
However, because I'm not connected to the internet it fails.
![Nuget Package Console](https://cloud.githubusercontent.co

[2015-12-02 14:08] JeremyBP commented on #1638
@yishaigalatzer Still the same error: "The type initializer for 'System.Management.Automation.Runspaces.InitialSessionState' threw an exception" when opening the console after a project loaded.

No exception on an empty VS session, the console opened just fine, but if I then open a project, VS goes stucked and I have to restart it.

All above solutions tried with no luck.

Env: Win 10 x64 up to da

[2015-12-02 14:30] pete1208 commented on #1638
@yishaigalatzer - I could let you have access to this machine via join.me

[2015-12-02 16:41] feiling commented on #1631
This is an older version of msbuild (probably Microsoft Build Tools 2015 RC). Could you update it? We verified that nuget.exe works correctly with msbuild 14.0.24720.0.

[2015-12-02 16:57] csharpfritz opened #1806 "Feature: Add dependencyVersion switch to command-line"
The dependencyVersion switch is available in NuGet.config, the Visual Studio UI, and Powershell experiences but is not available on the command-line for the install, update, or restore commands.

[2015-12-02 17:34] bilal-fazlani commented on #1475
[code]

[2015-12-02 17:36] johnataylor commented on #1803
Hint on testing: specify multiple -Id on the command line and you will see the list in populated in UpdateCommand.UpdatePackageAsync

[2015-12-02 17:51] yishaigalatzer commented on #1638
@JeremyBP one thing that would be interesting to see is if you have any init.ps1 scripts in your installed nuget packages that are misbehaving. As an experiment can you scan your packages folder for such files and temporarily delete them? (You can always recover by wiping out the packages folder and restoring again).

@pete1208 I'm sick today, but I asked @feiling to work with you. Please email me

[2015-12-02 17:54] yishaigalatzer commented on #1475
@bilal-fazlani this is a closed bug, and your comment is a bit out of context. Would you mind expanding a bit? What version of nuget are you using, where exactly do you see this?

[2015-12-02 19:14] mschaad opened #1807 "when using UNC share package source, client cannot find package in folders that indicate package version revision is 0"
# Description

When using the new nuget 3 file share-based package source directory layout, the client cannot find/use packages stored in directories that indicate a package revision number of 0.

e.g. if you have a package named like so: `$myPackageSource\Foo\1.0.2.0\Foo.1.0.2.0.nupkg` then the nuget client will not be able to find it or install it for you.
# Repro
## Setup
- Create an solution i

[2015-12-02 19:43] emgarten commented on #1699
@wilson0x4d I'm not able to repro this on nuget.exe 3.3, the contentFiles shows up in the packaged nuspec.

[code]

[2015-12-02 20:48] emgarten commented on #791
Adding a reference in project.json to C.Unofficial.package with `exclude="all"` should fix this.

[2015-12-02 20:49] feiling commented on #1638
@pete1208 please send email to me (feiling at microsoft.com) so that we can figure out how/when I can get access to your machine.

[2015-12-02 20:51] yishaigalatzer commented on #791
That's a doc issue. Just add it to the documents and close this bug

[2015-12-02 21:01] emgarten commented on #1807
The versions used **must** be normalized according to [SemVer](http://semver.org). NuGet.exe can handle this for you with the _add_ and _init_ commands added in 3.3.0.

When using normalized versions NuGet is able to predict the exact path of the nupkg. Without this NuGet has to list the files on the share to find the package which takes much longer.

[2015-12-02 21:12] emgarten commented on #1800
What version does the nuspec contain?

[2015-12-02 21:26] emgarten commented on #1788
This should be fixed in 3.3.0.

[2015-12-02 22:43] yishaigalatzer commented on #1807
I agree with Justin looks like the cmdlet is buggy, and you can use nuget.exe init or nuget.exe add instead. I'll chat with @aarnott about it, to see if we want to remove it from the blog or he can update the cmdlet

[2015-12-02 22:46] yishaigalatzer commented on #1805
Can you share what version of NuGet you are using? I'm guessing it is connecting to the sources to find dependencies. And in that case you should disable the source. The flag just points to where to get the top level dependency from.

We did fix a few bugs in this area, so you might want to update to 3.3 first (Can't tell if you did or didn't from the screenshots)

[2015-12-02 22:55] jaredpar commented on #1629
Wanted to get this conversation moving again.  This issue is blocking us from moving significant portions of our infrastructure to CoreCLR:  Here is the basic problem we have where ReferenceOutputAssembly comes into play.
1. There are tools in our repo that transform XML to source code as a part of our MSBuild process.
2. These tools exist as source in our repo and hence must themselves be built a

[2015-12-02 23:01] yishaigalatzer commented on #1629
We now have a way to cut the reference graph, @emgarten will provide more info here. This feature should be done at some point, but given that there is a way to do it, I don't see a good reason to cram it into 3.4 (if it can't you are still block we will reconsider moving it back to 3.4)

[2015-12-02 23:08] yishaigalatzer commented on #1804
@csharpfritz can you track where this is coming from? I don't see this link in the English version at all, and we don't have any links to codeplex in the code as far as I can tell.

[2015-12-02 23:25] csharpfritz commented on #1804
I think this comes from the information submitted to the Visual Studio
extensions gallery.  I'll check into it when I get back to my office.

Jeff

On Wed, Dec 2, 2015 at 6:08 PM, Yishai Galatzer notifications@github.com
wrote:

[2015-12-02 23:53] jasonmalinowski commented on #1629
@jaredpar: good point on `ReferenceOutputAssembly` being something that should probably be special. @yishaigalatzer, is that a separate fix we should take? It would require a (fairly trivial) targets change on my side, and a probably equally small change on the NuGet extension side.

[2015-12-03 00:16] yishaigalatzer commented on #1629
I'm looking at the nuget code right now, it should change in two places. One in

So walking the P2P through DTE skips these hooks.

So we get the same experience in the commandline.

Why do you need a change in your task?

[2015-12-03 00:29] jasonmalinowski commented on #1629
The task won't change. The target you call to get the graph closure for command line would change, unless you've already moved away from that.

[2015-12-03 00:39] yishaigalatzer commented on #1629
I believe we have our own at this point, but I'm not sure if it calls yours the targets are here

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.CommandLine/GetProjectsReferencingProjectJsonFiles.targets
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.CommandLine/GetProjectsReferencingProjectJsonFilesEntryPoint.targets

[2015-12-03 00:49] jasonmalinowski commented on #1629
I guess you're no longer calling mine then? I was unaware that work happened.

[2015-12-03 03:24] mrchief commented on #1631
Using latest DLLs and targets works! :+1:

[2015-12-03 03:32] yishaigalatzer commented on #1631
Thanks!

[2015-12-03 03:32] #1631 closed, assigned to nobody

[2015-12-03 04:35] AArnott commented on #1807
For the immediate timeframe I've added a comment on my gist to suggest using nuget.exe 3.3 instead of the script. But I think we should update the blog to refer to nuget v3.3 instead of the PS script.

[2015-12-03 05:38] sriniketana commented on #1788
Tried with Visual Studio 2015 Update 1 and NuGet 3.3.0. The behaviour is now different.
The generic target doesn't have the DLL listed anymore. The ARM, x86 and x64 targets have the DLL listed under `compile` and `runtime`

[code]

However, in the project, I am not able to import any packages from MyDLL.dll.
The VS project does not pick up anything under the win10-arm, win10-x86, win10-x64 targets

[2015-12-03 06:05] yishaigalatzer commented on #1788
Can you share the full structure of your package?

[2015-12-03 08:00] tomkerkhove commented on #1805
I'm currently using version 3.3 but when I specify another feed it shouldn't go to the other one, right?
Doesn't really make sense to me to be honest...

[2015-12-03 08:19] yishaigalatzer commented on #1805
The flag is a bit confusing but there is a good reason for this. Most of the time you want to update a package and it pulls newer dependencies that many a times are not on the same source.

[2015-12-03 08:27] tomkerkhove commented on #1805
I might not be following but what's the point of the `Package Source` then?

![screenshot_1](https://cloud.githubusercontent.com/assets/4345663/11555372/13103c98-99a0-11e5-8df3-3316cb598870.png)

[2015-12-03 08:43] yishaigalatzer commented on #1805
The point is that it picks the source where the primary packages you work with are being restored from. Dependencies can come from other places.

I agree it is not super clear, but considering the alternative, where it will truly restrict the operations to this one source most actions where dependencies exist will fail. The classic example is company private packages (that are typically also get u

[2015-12-03 09:23] samneirinck commented on #1805
Would it be possible to check the dependencies _first_ on the selected package source, before looking for it on the other package sources?

I think that would prevent the problem.

[2015-12-03 11:09] wgtmpeters opened #1808 "Manager not preselecting packages"
This is about the manage solution UI.
Screenshot added in comment below.

Using the new VSIX 3.3.0 version i am having a hard time managing my packages.
In earlier version (believe i used 3.2.0 before) it would preselect packages when i for example select the Update action and a version.
This worked for all actions and versions. In the new manager
it seems to not do any of these preselections.
It

[2015-12-03 13:06] pete1208 commented on #1638
I’m on eastern time.     Best times are 10am-3pm

Peter Herschel Sr

Gemino Healthcare Finance

1 International Plaza Ste 220

Philadelphila, PA 19113

610-870-5406

From: feiling [mailto:notifications@github.com]
Sent: Wednesday, December 2, 2015 3:50 PM
To: NuGet/Home <Home@noreply.github.com>
Cc: pete1208 <peter.herschel@gemino.com>
Subject: Re: [Home] VS2015 Nuget Console not loading (#1638)

[2015-12-03 13:40] niklaslundberg opened #1809 "Protocol documentation for NuGet v3 is missing"
I cannot find any documentation anywhere for the NuGet v3 protocol. I want to learn about endpoints that are known by both the server and the client, their purpose, their paths, HTTP methods, HTTP headers, query string parameters and so on. I can read the source code of course but then it's an implementation rather than a specification.

[2015-12-03 14:13] csharpfritz commented on #1808
Can you share a screenshot of your NuGet UI so that we can see what you are looking at?  Its not clear to me what problems you are having

[2015-12-03 14:40] wgtmpeters commented on #1808
![vsix_solution_manage](https://cloud.githubusercontent.com/assets/5174293/11563443/35ead8d4-99d4-11e5-8143-769cdc0c5a0d.png)

[2015-12-03 17:35] yishaigalatzer commented on #1805
The problem is pretty complex in this case, since a dependency may exist on another source as well and we will move the problem from an error you can easily fix (and we are tracking a better experience to tell you to shutdown unreachable sources) to inconsistent behavior.

The problem space here is deceptively complex unfortunately

[2015-12-03 18:37] csharpfritz commented on #1804
This looks like it comes from the MoreInfo element in the
source.extension.vsixmanifest file.  Is there an entry being added during
the translation process?

Jeff

On Wed, Dec 2, 2015 at 6:25 PM, Jeffrey T. Fritz jeffreytfritz@gmail.com
wrote:

[2015-12-03 18:52] jaredpar commented on #1629
@emgarten can you please provide this information?

[2015-12-03 20:05] mschaad commented on #1807
Perhaps it's better for most folks if you recommend they use the nuget v3.3
method instead, but the PS script is still useful for TFS builds, so don't
take it down!  (Or is there an easy way to invoke _nuget add_ from a TFS
Build task that I'm missing?)

As for myself, I just modified the script to normalize the directory and
file names when copying them to the PackageSource directory, and that
so

[2015-12-03 20:21] yishaigalatzer commented on #1807
You can definitely run nuget.exe as part of your msbuild task (even on VSO), they are going to update to 3.3 hopefully soon.

[2015-12-03 20:21] yishaigalatzer commented on #1807
And you can always submit a pull request to our documentation, it is in the nugetdocs repo

[2015-12-03 20:25] mschaad commented on #1807
Justin,
  Thanks for responding so quickly!  It's really helpful to know that nuget
expects strict adherence to SemVer.  I think it would have been helpful to
point out that fact on the blog
http://blog.nuget.org/20150922/Accelerate-Package-Source.html and in the
documentation too.
  As for the performance issue: if one doesn't supply a version number
(which is my typical use case), nuget _still *

[2015-12-03 20:30] yishaigalatzer commented on #1807
I just updated the blog. Note that you can't mix the folder types, it is either the structured one with versions or the flat one. Don't try to mix them, there is no reason to do it.

The version on the name is not guaranteed to be the right one, so we have to look inside the nuspec.

[2015-12-03 20:36] mschaad commented on #1807
I discovered the hard way that you can't mix-and-match.  I was trying to
give the new convention a spin with a single package without migrating the
whole repository and disrupting my whole team.

Once I realized that trying to mix conventions actually disabled the new
convention, I put my test package in its own repo and now it works fine.

But I had to discover that through trial and error (and p

[2015-12-03 22:05] pawchen opened #1810 "Network request failure failed restore when all packages were present"
From [roslyn/#7176](https://github.com/dotnet/roslyn/pull/7176#issuecomment-161506061), when I tried to build roslyn locally and I was sure all packages were present(did it once before). So I cut the network(metered), walked away and did something else, only to find build failed because nuget failed to talk to network when I was back.

cc @jasonmalinowski

[2015-12-03 22:38] emgarten commented on #1629
@jaredpar take a look at: https://github.com/NuGet/Home/wiki/%5BSpec%5D-Managing-dependency-package-assets

For your scenario you can add the non-referenced child projects to the dependencies section and specify `"exclude": "all"`

The child projects will still be included as dependencies and may change the package closure if the dependencies are nearer in the graph. This can be fixed by overridin

[2015-12-03 23:25] RanjiniM commented on #1067
Checked into dev branch (c65b1501f3a8aff024618cc9f46ad2c151bbd9b8)

[2015-12-03 23:25] #1067 closed

[2015-12-03 23:25] RanjiniM commented on #1489
Checked into dev branch (c65b1501f3a8aff024618cc9f46ad2c151bbd9b8)

[2015-12-03 23:25] #1489 closed, assigned to RanjiniM

[2015-12-04 00:51] jaredpar commented on #1629
@emgarten thanks.  Will try that out.

[2015-12-04 06:41] davidfowl opened #1811 "Add "Effective Feeds" to nuget restore summary"
Effective feeds would show feeds that packages came from during the restore.

[2015-12-04 09:20] GeertvanHorrik commented on #883
Already works much better, thanks!

[2015-12-04 09:20] #883 closed

[2015-12-04 09:21] GeertvanHorrik commented on #551
This is awesome, thanks! Works like a charm, updating all our apps in consolidation week (about 20 packages for 7 apps) can be done under 45 minutes now!

[2015-12-04 09:21] #551 closed

[2015-12-04 16:30] RehanSaeed commented on #1412
I'm getting the "An entry with the same key already exists." error while trying to install my package from a Nexus package server. Passing -DependencyVersion Ignore gives me the error "Unable to find version '1.0.1' of package 'MyPackage'".

The package is build using a .xproj project with the following project.json:

[code]

[2015-12-04 16:35] SergeyKanzhelev commented on #1412
I'd suggest to download it from the ms-nuget manually to some folder like "c:\temp" and try to pass `-Source c:\temp` to the `Install-Package`

[2015-12-04 16:37] RehanSaeed commented on #1412
I just tried installing from a local folder as you suggested and it works. Does this mean that it's definitely a Sonatype Nexus package manager problem?

[2015-12-04 16:43] SergeyKanzhelev commented on #1412
I'd let @yishaigalatzer comment on this. You are saying you using this: https://github.com/sonatype/nexus-presentations? Maybe I should mention @mosabua than...

[2015-12-04 16:45] RehanSaeed commented on #1412
Yes, that's correct. Ok, I've now just fired up a new NuGet Server by following [these](https://docs.nuget.org/create/hosting-your-own-nuget-feeds) instructions and can confirm that everything is now working. We'll ditch Nexus if they can't fix the issue.

[2015-12-04 16:57] yishaigalatzer commented on #1412
I would guess two things
1. This is probably a nexus server issue
2. The xproj project is not using the actual nuget code (you can file a bug in the github.com/aspnet/dnx repo. Try installing the package in another project with nuget 3.3 and you will get a clear error message

[2015-12-04 23:15] johnegbert opened #1812 "Add ability to "-Reinstall" a package from the NuGet Package Manage UI"
There are times when a projects references get messed up and are pointing to a dll in the bin instead of the same dll under the /packages/... folder. Or for other reasons the project/packages/file get into a dirty state and the easiest way to fix it is ReInstalling the package

Update-Package PackageName -Reinstall

Can you please add a way to select one or more installed nuget packages and "-Rein

[2015-12-05 05:36] bchavez commented on #1327
The struggle is real. I have the same problem here: https://github.com/Microsoft/msbuild/issues/394

I do not want any kind of **package.json** running or looked at when I have a classic **.csproj** open. @JamesNK is absolutely right here. It's just **_common sense**_ not to enable this **project.json** stuff slapjacked on top of classic projects.

[2015-12-05 18:31] Aaronontheweb opened #1813 "NuGet 3.3.exe returns non-zero exit code on successful publish"
All of our build systems that depend on FAKE have now begun experiencing an error during NuGet push attempts as a result of changes made to NuGet.exe itself.

Sample logs:

[code]

Corresponding code

[code]

Issue appears to be that NuGet.exe no longer returns a 0 exit code upon successful publish. What was the reasoning behind this?

[2015-12-06 16:27] mostergaard commented on #1354
This issue seems to have resurfaced with the latest VS and NuGet. I'm running VS 14.0.24720 and NuGet package manager extension version 3.3.0.167.

[2015-12-07 01:55] yishaigalatzer commented on #1354
Thanks @mostergaard will take a look

[2015-12-07 09:38] jozefizso opened #1814 "MSBuild outputs unnecesary message about BeforeGenerateProjectPriFile tagert"
After upgrading to Visual Studio 2015 Update 1, out build servers started to output this message during builds of our solutions. We have C# and C++ projects in our solutions.

[code]

This message appears in the output several times. We use automatic package restore and does not reference `Microsoft.NuGet.targets` directly.
We build solution with the `msbuild.exe Solution.sln /t:Build` command and

[2015-12-07 10:24] mostergaard commented on #1354
Maybe I should write this in a different issue, but I see now that the old bug, that seems to keep re-appearing once in a while, with projects with only one NuGet package, has come back. The problem is with projects that only have ONE NuGet package on it. If you then update this, the packages.config file get's marked for deletion by the TFVC integration eventhough the file is still on disk.

We us

[2015-12-07 15:59] JeremyBP commented on #1638
@yishaigalatzer any progress about it?

[2015-12-07 16:15] yishaigalatzer commented on #1638
I guess not for the last few days, since we where all on vacation on Friday. We will sync again today

[2015-12-07 17:48] forki commented on #1813
you could use older version of nuget.exe or paket to push (and still build package with nuget.exe 3.3).

[2015-12-07 17:52] Aaronontheweb commented on #1813
Yeah, we have plenty of ways to work around this issue - right now we're just downgrading the version of NuGet.exe being used back to 2.\* (whatever the highest minor version number was.)

But I'd really like an explanation from the NuGet.exe team - having to revert back to an older build across 12+ OSS projects is not cool.

[2015-12-07 17:54] csharpfritz commented on #358
In progress and based on contents of files:
- https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Frameworks/FrameworkConstants.cs
- https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Frameworks/DefaultFrameworkMappings.cs

[2015-12-07 18:29] zhili1208 commented on #1354
verified this with 3.3. it repros with powershell and UI

[2015-12-07 18:47] JeremyBP commented on #1638
ok
For info this message appears for me when trying to install Json.Net or SQLitePCL on a Xamarin.Android project, more exactly when executing the bundled install.ps1 script.
Workaround was to add each manually, but it's a workaround.
Also, changing PowerShell policies did not change anything.

[2015-12-07 20:05] feiling commented on #1638
@pete1208

The most probable cause seems to that the powershell dlls (System.Management.Automation) that get loaded do not work with nuget.

Since we couldn't repro the problem, I created a simple extension that will list all loaded assemblies in VS:

[GetLoadedAssemblies.zip](https://github.com/NuGet/Home/files/54492/GetLoadedAssemblies.zip)

Download the file, change the extension to vsix and in

[2015-12-07 22:16] yishaigalatzer commented on #1813
@Aaronontheweb this looks like an unexpected regression. NuGet 3.X has been out for a while, and we didn't push it to nuget.org in an attempt to catch exactly this kind of errors. This should definitely be fixed as soon as possible.

[2015-12-07 22:16] zhili1208 commented on #1354
Looks like this issue is always there, we never really fixed it.  we tested it by checking pending changes, but if you don't check in the project, everything looks right in pending changes.

[2015-12-07 22:19] yishaigalatzer commented on #1812
The concern I have with this is that moving it to the UI makes it too visible and it is not a very common operation. Hence my knee jerk reaction to this ask, is to not add it, and let the power shell console be the way to keep doing it (you can also uninstall and then reinstall the package from the UI, which is very similar).

But before making any determination, I'd like to hear some more of why

[2015-12-07 22:24] yishaigalatzer commented on #1810
Even if you have all the packages, there are scenarios where we still need to talk to the network. You really want to override the pacakge sources in this scenario and go straight to a local feed instead (use the nuget init command to set an efficient one up).

As this seems like a relatively low priority fix, we could look at improving this scenario, but it will be a pretty big help if you can sh

[2015-12-07 22:25] yishaigalatzer commented on #1805
I believe this can be now closed. Please let me know if there is anything else we want to follow up on?

[2015-12-07 22:25] #1805 closed, assigned to nobody

[2015-12-07 22:38] yishaigalatzer commented on #1808
We got similar feedback offline - Adding some of my thoughts below (and customer images)

We already planned to limit the size of the list instead, so the location is always the same. We can take a look at your suggestion as well, when we prototype the next iteration and see which one works better (and consistent with the rest of the UI).

Yes

We can take a look at the font size, the current size

[2015-12-07 22:40] yishaigalatzer commented on #1809
Moved to the gallery repo https://github.com/NuGet/NuGetGallery/issues/2801

[2015-12-07 22:40] #1809 closed, assigned to nobody

[2015-12-07 22:42] yishaigalatzer commented on #1814
@jozefizso looking into it. Thanks for bringing it up

[2015-12-07 22:50] 3F commented on #1521
omg, I don't understand NuGet projects at all o_o
and now I see new incredible things...

libraries of course, but how about additional tools for services of build processes, debugging etc. for all projects or for each...
it's important feature for providing all this above via common solution like nuget. Flexible and powerful distribution of any tools or libraries - isn't it so ?
However, ~"only l

[2015-12-07 22:58] jasonmalinowski commented on #1810
Which scenarios are those? We aren't doing floating versions in Roslyn, so that's not @diryboy's problem.

[2015-12-07 23:03] yishaigalatzer commented on #1810
One thing I can think of is if a package dependency available is not an exact match

Example:

Graph:
PackageA -> PackageB 1.0

Feed:
PackageA 1.0
packageB 1.1

Restore will find 1.1, but will keep looking for 1.0 on subsequent restores.

[2015-12-07 23:23] pawchen commented on #1810
This is the hash I was building atop https://github.com/dotnet/roslyn/commit/4f165b43f7c43287aa1a2ab69132d1f97d965552
1. Download the zip drop from https://dotnetci.blob.core.windows.net/roslyn/nuget.35.zip and extracted to %userprofile%
2. Run `nuget restore Roslyn.sln`
3. Cut network
4. Run `cibuild /restore`

[2015-12-07 23:28] yishaigalatzer commented on #1810
I don't understand step 2 + step 4. If you already run restore in step 2, why do you run it again in step 4?

[2015-12-07 23:39] pawchen commented on #1810
This is an existing script provided in the repo, lazy to write another then mask local changes in git when commit, at the time I used it, I did not expect it to use network again.

[2015-12-08 00:06] twsouthwick commented on #1587
Any update on this? I'm encountering this as well.

[2015-12-08 00:07] yishaigalatzer commented on #1587
We have no update, are you using NuGet 3.3 + Visual Studio Update I ?

[2015-12-08 00:07] twsouthwick commented on #1587
Yes

[2015-12-08 00:15] emgarten commented on #1813
I'm seeing nuget.exe push return exit code 0 for both pushing packages and symbol packages when I try.

Tracing through your script and output here is what I think I see:
1. nupkg is pushed to nuget.org successfully
2. the symbol package is pushed to nuget.smbsrc.net
3. there is no success message from nuget.exe for the symbol package, and there is no error message of _Error during NuGet symbol pu

[2015-12-08 00:47] jasonmalinowski commented on #1587
Oops, sorry I didn't see this bug earlier. Yes, this is my bug. Can somebody assign it to me?

As a workaround, add `<IncludeFrameworkReferencesFromNuGet>false</IncludeFrameworkReferencesFromNuGet>` to your project file. When you add the package you might have to manually add other framework references, but that should work around the issue.

[2015-12-08 00:50] yishaigalatzer commented on #1587
I don't know how to assign it, other than opening another bug in your area.

[2015-12-08 00:54] agocke commented on #1629
Hey @emgarten, there were a couple suggestions here, but I tried to implement them and didn't get very far. An example of the problem we're running into is here: https://github.com/agocke/roslyn/tree/TestNuGetCut

When I make the commit to add the System.Runtime reference to the CSharpSyntaxGenerator, it starts flowing up through the CSharpCodeAnalysis assembly.

I explored setting `exclude: all`

[2015-12-08 01:03] Aaronontheweb commented on #1813
Good catch on the process timeout - but that doesn't appear to be occurring here. NuGet.exe is exiting on its own without being forcibly killed by our build system (see below.)

Should be noted that each independent upload _gets its own timeout_ - that 60.0 second value isn't shared between uploading the normal package and the symbol package.

All of our push operations are running inside Azure (S

[2015-12-08 01:07] Aaronontheweb commented on #1813
Here's a MyGet readout for this project: http://petabridge-ci.cloudapp.net/viewLog.html?buildId=3219&buildTypeId=NBench_NightlyBuilds&tab=buildLog#_focus=38&state=38&guest=1

Versus the NuGet readout, which appears to be working today: http://petabridge-ci.cloudapp.net/viewLog.html?buildId=3363&buildTypeId=NBench_ReleaseBuilds&tab=buildLog#_state=38&focus=2023&guest=1

BTW - correction: symbol and

[2015-12-08 01:08] Aaronontheweb commented on #1813
So is it possible that the issue here is that smbsrc.net was failing without returning an error code? FAKE wasn't killing the process, but we weren't pushing the symbol package either.

[2015-12-08 01:08] yishaigalatzer commented on #1813
From reading the script, looks like the process pushes the package to symbol server, but never throws out any error just silently exists. The script then starts another round of pushing (which it shouldn't because the first operation succeeded).

What happened to the message after the first push to symbol server?

[2015-12-08 01:14] Aaronontheweb commented on #1813
@yishaigalatzer here's the full build log from where the error occurred

http://petabridge-ci.cloudapp.net/viewLog.html?buildId=3182&buildTypeId=NBench_ReleaseBuilds&tab=buildLog#_focus=2028&guest=1

Looks like we're not getting anything back from the symbol server and there's a silent failure. FAKE doesn't log any error messages by default if the `ExecProcess` call doesn't end with a non-zero err

[2015-12-08 01:15] Aaronontheweb commented on #1813
Should be noted, if you take a look at the artifacts, these are not particularly large packages. Largest symbol package is about ~140kb.

http://petabridge-ci.cloudapp.net/viewLog.html?buildId=3182&buildTypeId=NBench_ReleaseBuilds&tab=artifacts&guest=1

We had consistent issues with this between last Thursday, 12/3, and Saturday, 12/5 - do you have any logs indicating that there were intermittent

[2015-12-08 01:26] yishaigalatzer commented on #1813
I can't get to it for some reason.

The sounds right, the issue is that instead of just retrying pushing the symbol package, the script tries to push to nuget.org again. It could be interesting to try and fix this part (not to fail silently, we need to find a repro to figure out exactly how it failed)

We do not own symbol source, but @xavierdecoster might know how to find out

[2015-12-08 01:32] Aaronontheweb commented on #1813
Uploaded the log as an attachment

[NBench_Release_Builds_10.txt](https://github.com/NuGet/Home/files/54815/NBench_Release_Builds_10.txt)

[2015-12-08 01:39] jasonmalinowski commented on #1814
This is just our build conditions mentioning something that's not always there. I admit this is annoying, but it's at least harmless.

[2015-12-08 01:42] yishaigalatzer commented on #1813
@Aaronontheweb thanks. I'm heading out for the night, I (or Justin) will pick it up again in the morning. In the meantime I would modify the script to run each command on its own (if you agree with my suggestion of course)

[2015-12-08 02:09] Aaronontheweb commented on #1813
@yishaigalatzer I just added NBench to the guest account for our TeamCity server, so all of those links should be viewable now.

That's a good suggestion - we'll see about doing that.

[2015-12-08 02:41] kfehribach commented on #708
I've installed Update 1 (14.0.24720.00) and I'm still seeing this issue. (Specifically, trying to access an Azure AD secured nuget feed from Visual Studio)

[2015-12-08 02:50] yishaigalatzer commented on #708
This is only supporting visual studio plugin at this point and not generic aad secured feed

[2015-12-08 02:58] kfehribach commented on #708
Can you clarify what you mean by that? I'm confused by which plugin you are speaking of and which feed that it would support. Just trying to understand what the valid use cases are.

[2015-12-08 03:01] yishaigalatzer commented on #708
Visual studio online introduced authenticated nuget feeds. These are now supported through a plugin model in visual studio 2015+nuget3. There is also a plugin model for the command line

[2015-12-08 05:53] sriniketana commented on #1788
Well, here is the full .nuspec file for a sample DLL created using NuGet 3.3 and tested on VS 2015 Udpate 1 and NuGet 3.3

[code]

Note that this package works fine on VS 2015 (without Update 1).

[2015-12-08 06:09] Eilon opened #1815 "C++ project getting 'Solution is not saved. Please save your solution before managing NuGet package'"
I'm getting an error in the Error List in VS: `Solution is not saved. Please save your solution before managing NuGet package`.

My project is a VCXPROJ (C++) and I opened the project directly, and not via the solution (that is, there's no solution file at all).

I'm using the latest public NuGet in VS2015: 3.3.0.167 (I was previously using 3.2.x and had the same error).

I can share a repro proje

[2015-12-08 08:27] xavierdecoster commented on #1813
@Aaronontheweb any reason you are pushing the regular nupkg to symbolsource instead of the symbols nupkg? It looks like you have it in your [build artifacts](http://petabridge-ci.cloudapp.net/viewLog.html?buildId=3182&buildTypeId=NBench_ReleaseBuilds&tab=artifacts) (`NBench.0.1.0.symbols.nupkg`), but the build log indicates you are [pushing `NBench.0.1.0.nupkg`](http://petabridge-ci.cloudapp.net/v

[2015-12-08 14:30] pete1208 commented on #1638
When I edit the config it (and things work) get the assembly:

System.Management.Automation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, location C:\WINDOWS\assembly\GAC_MSIL\System.Management.Automation\1.0.0.0__31bf3856ad364e35\System.Management.Automation.dll

When I don't edit the config:

System.Management.Automation, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31b

[2015-12-08 17:00] Aaronontheweb commented on #1813
@xavierdecoster

The normal package is going to NuGet.org, and the Symbols package is going to SymbolSource:

[code]

[2015-12-08 17:06] feiling commented on #1638
Could you zip the file C:\WINDOWS\Microsoft.Net\assembly\GAC_MSIL\System.Management.Automation\v4.0_3.0.0.0__31bf3856ad364e35\System.Management.Automation.dll and upload it here? If you can't, then pls right click on the dll to get its file version. For reference, the versions on some of my machines are 10.0.10565.0, 10.0.10240.16384.

Also, pls upload the solution/project that repros the problem.

[2015-12-08 18:22] yishaigalatzer commented on #1813
@Aaronontheweb do you still believe the original issue opened here is valid? Or should we just try and repro the silent (no error message, but correct exit code) for failing to push a symbol package?

[2015-12-08 18:40] twsouthwick commented on #1587
Thanks @jasonmalinowski. That work around worked for me. Thanks for looking into it.

[2015-12-08 18:51] Zardozz commented on #1412
You are probably seeing https://issues.sonatype.org/browse/NEXUS-6158
They current only support v1 spec for locally hosted Repos

[2015-12-08 19:07] feiling commented on #1638
@pete1208 Question about the file 'not working default config.txt': Did you create the file after you opened PowerShell console or after you opened the solution?

[2015-12-08 19:08] emgarten commented on #1788
The lock file and package structure look correct for a runtime package. Runtime specific assemblies should not show up under the generic target graph.

To fix the problem you are seeing now I believe you need to add a `ref` or `lib` item for the generic graph. This assembly will be used at design time, and then at compile time the actual runtime assembly will be used instead.

The nuget uwp docs p

[2015-12-08 19:18] Eilon commented on #1815
@yishaigalatzer I internally sent you the repro project.

[2015-12-08 19:33] pete1208 commented on #1638
Version Info: [about.txt](https://github.com/NuGet/Home/files/55962/about.txt)
'Not working default config' -- I opened the powershell window before any project was open.  If a project is open, the system crashes.

The other additional requested uploads are here:
[System_mgt_auto.zip](https://github.com/NuGet/Home/files/55946/System_mgt_auto.zip)
[TestAppA.zip](https://github.com/NuGet/Home/files/

[2015-12-08 20:10] yishaigalatzer commented on #1638
@pete1208 one thing we forgot to ask is, can you please remove the spell checker and sql prompt and see if the problem goes away?

Can you poing to the links of these specific extensions in the extension gallery?

[2015-12-08 21:16] dls314 commented on #1523
I'm also curious about any plans to add back support for not-immutable content (I can't seem to find a good issue discussing it). My broken example is the NLog.Config package.

[2015-12-08 21:24] emgarten commented on #1629
@agocke it looks like you'll need to add the extra project with suppressParent here.

[2015-12-08 21:28] yishaigalatzer commented on #1523
We are actively looking into it. We don't have anything that gels enough just yet. We will post ideas once we have then. There is an issue but I can't find I from my phone at the moment

[2015-12-08 22:30] feiling commented on #1638
@pete1208 I remember that the project can be opened successfully. The VS only crashes when you try to open PowerShell Console after that. Right? What we need is the list of loaded assemblies after the project is opened, but before you try to open PowerShell Console.

[2015-12-08 23:05] Aaronontheweb commented on #1813
@yishaigalatzer it looks to me like a silent error as a result of an intermittent error when pushing a symbol package. You can close this issue.

[2015-12-09 11:26] paiden opened #1816 "NuGet 3.3.0 update fails with 'An additional constraint ... defined in packages.config prevents this operation.'"
I tried to switch from NuGet 2.8.60717.93 to 3.3.0.212.

As soon as I do this my build starts to fail with the following error message:
`Attempting to gather dependencies information for multiple packages with respect to project 'ProjectName'. Unable to resolve 'PackageName'. An additional constraint '(≥ 5.4.0 && < 5.4.5)' defined in packages.config prevents this operation.`

The command that caus

[2015-12-09 11:59] Liero opened #1817 "Nuget OutputDirectory trailing slash"
If I pass path in brackets with training slash to -OutputDirectory switch of nuget pack command, following swtiches are ignored.

For example this command works:

[code]

but this command throws: The replacement token 'OutDir' has no value. (.nuspec uses $OutDir$ replacement token)

[code]

difference is in -OutputDirectory:

 "C:\Builds\1\PROJECT\RollingBuild\src\Dev\bin\Packages\" - error
 "C:\B

[2015-12-09 12:39] Liero opened #1818 "Support space in paths"
Please, make sure this test case works:

[code]

package.nuspec:

[code]

I'm aware of two issues when paths contains space:
1. -OutputDirectory cannot end with `\`. This makes it difficult to use with msbuild, where path variables usually ends with `\`.

   e.g this works: `-OutputDirectory "C:\My Projects\Output"` but this doesn't  `-OutputDirectory "C:\My Projects\Output\"`
2. if there is just

[2015-12-09 12:42] pete1208 commented on #1638
With VS default config, no spell check or sql prompt.
Spell Check: https://visualstudiogallery.msdn.microsoft.com/a23de100-31a1-405c-b4b7-d6be40c3dfff?SRC=VSIDE
Sql Prompt: http://www.red-gate.com/products/sql-development/sql-prompt/

Here is what is loaded with default and project is open (giving the The type initializer for 'System.Management.Automation.Runspaces.InitialSessionState' threw an ex

[2015-12-09 16:46] vrsanthosh83 opened #1819 "Error installing packages with NuGet 2.8 for VS 2013"
Getting below are error

---

12/9/2015 11:23:33 AM - Microsoft VSIX Installer
12/9/2015 11:23:33 AM - -------------------------------------------
12/9/2015 11:23:33 AM - Initializing Install...
12/9/2015 11:23:33 AM - Extension Details...
12/9/2015 11:23:33 AM -     Identifier      : NuGet.67e54e40-0ae3-42c5-a949-fddf5739e6a5
12/9/2015 11:23:33 AM -     Name            : NuGet Package Manager for

[2015-12-09 17:30] mocsharp commented on #708
I have a private NuGet feed hosted on Azure WebSites which requires user to login using their Windows Azure AD account.  With VS 2015 Update 1, the dialog it opens when I switch to my NuGet feed is still a standard authentication dialog.  It would be great if it support IdP (OAuth) types of dialogs.

[2015-12-09 19:06] feiling commented on #694
PR merged.

[2015-12-09 19:33] emgarten commented on #1816
What version of the package is installed and what versions are available on the feed?
Does the feed show up in the list when running _nuget.exe sources_ ?

[2015-12-09 21:52] zhili1208 opened #1820 "NuGet.config settings UI to represent hierarchy of config files -- Design Discussion"
https://github.com/NuGet/Home/wiki/Ideas-about-NuGet-Hierarchical-Setting

[2015-12-09 22:37] jouni-kantola opened #1821 "Feature Request: NuGet link"
Currently it's time consuming to work with NuGet packages in development state. To make it easier to develop and consume NuGet packages in an early state, it would be good to have something similiar to bower/npm link. This would save developers from the need of publishing unstable packages before using them. For this scenario, a workflow with npm is much smoother. You just reference a local folder

[2015-12-09 22:42] jouni-kantola opened #1822 "Feature Request: Package source git"
To ease the process of publishing new packages, it would be good to be able to reference git repos as source for NuGet packages. With npm you can target a published tag/version (https://docs.npmjs.com/files/package.json#git-urls-as-dependencies). This could then also be used to in a CI process to build referenced packages.

[2015-12-09 23:20] Myster commented on #1611
There is a comment on an SO answer that says this is fixed in nuget 2.9.
Is that true?
If true, should this be marked as fixed in that version rather than won't fix?
(SO answer: http://stackoverflow.com/a/33226602/74449 )

[2015-12-09 23:40] Myster commented on #1611
I don't think the suggested work-around will work.
On a build agent without .net 4.5 installed I have this error:

[code]

When I tell TeamCity to use 2.8.1 I get this error:

[code]

[2015-12-10 05:26] paiden commented on #1816
The installed version is 5.4.3.26485 (which is the highest available version within the constraint)
This is an internal package on a internal feed and there are about 25 package versions that satisfy the constraint.

When I run `nuget sources -configFile '.nuget\NuGet.config'` the feed shows up and is enabled.

[2015-12-10 06:45] emgarten commented on #1816
Sounds like a bug. With 2.8.6 the same command results in no operations being performed, correct?

[2015-12-10 09:16] TonioOoOo opened #1823 "Release Notes in the Package Manager UI"
Hello,

With 2013 :
1. We have access to **Nuget Gallery via a link** on ID property ;
2. You can **read the release notes** instead of the description (useful especially on the update screen)

![2013nuget](https://cloud.githubusercontent.com/assets/9881996/11711129/8f045c88-9f24-11e5-8c39-32ba1829ab18.PNG)

Same screen in 2015 :
![2015nuget](https://cloud.githubusercontent.com/assets/9881996/1171

[2015-12-10 13:22] jmezach opened #1824 "Visual Studio hangs when opening a solution"
We just ran into an issue that occurs when we open a solution in Visual Studio that contains NuGet packages that have PowerShell scripts. If one of the Init scripts writes something to the Package Manager Console (for instance a warning about unapproved verbs), Visual Studio will hang when the solution is being opened.

We can consistently reproduce the issue with a particular solution, although o

[2015-12-10 16:44] ericstj commented on #1660
Ping.  Where is this at on the priority list?  Would you like to get together and work on a spec?

[2015-12-10 17:06] yishaigalatzer commented on #1660
Lets talk today. Right now I don't see it happening in Dec, but we can talk further

Sent from my Windows Phone

---

From: Eric StJohnmailto:notifications@github.com
Sent: ‎12/‎10/‎2015 8:44 AM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home] Nuget needs to support dependencies specific to target runtime (#1660)

Ping. Where is this

[2015-12-10 17:21] zman13 commented on #1638
Having a similar problem. Since the RC update if I have the Package Manager Console tab open when  I load VS 2013 (or 2015) it seems to initialize fine, but Visual Studio will crash whenever I try to publish our project which has not changed lately. However, if I don't have the Package Manager Console up initially and publish before opening the PMC tab it will publish the project properly but when

[2015-12-10 17:25] yishaigalatzer commented on #1638
@zman13 we are not aware on impacts on 2013 or an update that introduced it. Can you provide more details?

What do you mean by publishing? Can you share specifically what is going on?

[2015-12-10 17:35] yishaigalatzer commented on #1824
Can you share what version of visual studio this happens in, and a sample where the hang occurs?

In general the nature of these scripts is that they can hang visual studio or even crash it, because they run in the context of the host application. I'm not sure what going on here, so please treat it as a general statement, we would appreciate a repro solution first is possible

[2015-12-10 17:35] zman13 commented on #1638
sure, I meant publishing the project.  (right clicking on the project and using the publish function in VS). When I choose this option (and I have opened VS with the PMC tab opened) the publish dialog will not come up instead visual studio will crash with a dialog that says:
 Microsoft Visual Studio 2013 has stopped working A problem caused the program to stop working correctly. Windows will close

[2015-12-10 17:38] yishaigalatzer commented on #1822
We currently are in the camp of packages are immutable and should work in environments where there is no internet access (ala behind firewall, closed networks). So we are unlikely to take this in.

I'm moving this item to the discussions milestone rather than immediately closing to facilitate some more discussion on it.

CC @davidfowl

[2015-12-10 17:39] yishaigalatzer commented on #1821
NuGet already supports using a local package folder, you do not need to publish them anywhere, just add a second source pointing to the package folder.

[2015-12-10 17:44] yishaigalatzer commented on #1818
Thanks this is good feedback, a great sample and sound analysis.

Since I don't see us jumping on this right away (given the current open items), I'm moving this to the next milestone (which I expect to be sometime mid next year).

We would love to take a pull request if this is a blocking issue for you (or anyone else) to accelerate fixing this issue.

[2015-12-10 17:46] yishaigalatzer commented on #1819
Looks like you are trying to install nuget for SSMS and not visual studio 2013, I don't believe we support this scenario

[2015-12-10 17:46] csharpfritz commented on #1822
Lets make sure we understand the request is to support git endpoints, and those could be hosted on other providers besides Github, bitbucket, and VSTS.

I don't see much difference between a Git endpoint and a network folder endpoint.

[2015-12-10 17:56] feiling commented on #1638
@pete1208 We just couldn't figure out what might be the cause. We'll need access to your machine to debug the problem. Please make a copy of the VM and send it to us at

Microsoft Corporation
yigalatz 44/3S
1 Microsoft Way
Redmond, WA 98052

[2015-12-10 18:04] yishaigalatzer commented on #1817
This is a duplicate of https://github.com/NuGet/Home/issues/1752

The issue here is nothing to do with NuGet, it is how windows console works. The last \" is being removed by windows passing the argument into the console app itself.

We could look into completely dropping out of using Main(args) pattern and parsing the commandline directly ourselves, that seems more and more like an appealing idea

[2015-12-10 18:08] jouni-kantola commented on #1821
Either of these two I'd like to be able to do (if it's possbile today, that's great):
1. Define a dependency like this in packages.config:
   `<package id="MyPackage" targetFramework="net46" src="<path-to-project-folder>" />`
2. Run something like `nuget link` in the package folder which creates a locally accessible project. In the consuming project folder, I'd then run `nuget link <package ID>` t

[2015-12-10 18:19] jouni-kantola commented on #1822
As @csharpfritz already commented, git can be hosted within local networks. Though, in my opinion, the package should be possible to access from any URL/endpoint.

A concrete example of what is requested is to push a tag, and reference it in packages.config like this:
`<package id="MyPackage" targetFramework="net46" src="git+ssh://url.git#v0.0.1" />`

[2015-12-10 18:23] jouni-kantola commented on #1822
Also, since we'd be refering a git tag/release, I'd say that supports the path of immutable packages.

[2015-12-10 18:39] yishaigalatzer commented on #1821
You can't do either of these. But you can add a folder to a local nuget.config with that package. That achieves exactly the same result.

[2015-12-10 18:41] yishaigalatzer commented on #1822
It's not exactly immutable, but this is different than what I envisioned you initially asked.

A user can make that choice (rather then what I thought is a package author sharing packages on nuget.org)

[2015-12-10 18:42] csharpfritz commented on #1822
What Yishai is highlighting is that you can 'bait-and-switch' with a "git
push --force"

Other tools solve this by storing a hash of what was originally fetched to
ensure it isn't changed in a restore.  Its a solvable problem...

Jeff

On Thu, Dec 10, 2015 at 1:23 PM, Jouni Kantola notifications@github.com
wrote:

[2015-12-10 18:51] yishaigalatzer commented on #1816
Are you able to provide a small repro project for this issue?

[2015-12-10 18:57] yishaigalatzer commented on #1822
This seems like a feature that can work reasonably well for project.json scenarios (where installing a package doesn't modify the project), with packages.config it could work as well, but will require interesting thought around updates and package versioning.

This also seems closely coupled to your other idea of providing a link to a file path #1821, with similar pros/cons (other than of course s

[2015-12-10 19:14] pete1208 commented on #1638
Will send with info needed to log in, etc...

[2015-12-10 19:16] yishaigalatzer commented on #1822
So some more thinking in this area - The issue with specifying a direct source for a package does work, but is going to be a bit of an oddball. The two scenarios that I see not quite working
1. Dependencies - If you specify the package directly, it works if the package has no dependencies or the dependencies exist elsewhere. For packages.config that might be ok, because you add them all at once (b

[2015-12-10 19:18] jouni-kantola commented on #1822
I guess it more or less sums up to being alternate and individual package sources.

A common workflow when building private npm modules is to first create a symlink to a package folder, which is then used as reference. Once the tag is pushed (a released version), the package is instead referenced by an URL to that specific tag.

[2015-12-10 19:18] yishaigalatzer commented on #1138
I'm keeping this issue open until Visual Studio extensibility team resolves it, but there is not much to do in NuGet proper. Parking in the vNext milestone, until it gets resolved