[2016-07-20 15:53] yishaigalatzer commented on #2476
Let's publish now, as we don't need his code, this a guidance to package authors

---

From: Harikrishna Menon notifications@github.com
Sent: Wednesday, July 20, 2016 6:47:37 PM
To: NuGet/Home
Cc: Yishai Galatzer; Mention
Subject: Re: [NuGet/Home] Design and implement a notion of package type to support tool packages (#2476)

Joel has written this doc and i will publish it when we go live. Current

[2016-07-20 15:57] MistyKuu commented on #3145
@BladeWise
Ok it does work. Try this:

[code]

It doesn't seem to work with wildcards if not in a root directory

[2016-07-20 16:04] alpaix commented on #1947
Updated milestone due to validation requirements.
@emgarten Does it make sense to split the issue to two, one per version?
-or- we could start an epic :smiley_cat:

[2016-07-20 16:18] saf-itpro opened #3176 "External: Project "Default" is not found error when copying VS2105 ASP.NET Core project from windows 8.1 to Windows 7"
On my windows 8.1 with VS2015 I created [this ASP.NET tutorial project ](https://docs.efproject.net/en/latest/platforms/aspnetcore/new-db.html) that ran fine. But when I copied the project directory to windows 7, deleted the Migration folder and ran the following command, I get the `Project "Default" is not found` error:
`PM> Add-Migration MyFirstMigration -context BloggingContext`

**Note**: I've

[2016-07-20 16:22] rrelyea opened #3177 "Remove NuGet core dependencies - List Command"
Remove the legacy v2 nuget.core.dll dependency from the Visual Studio extension and nuget.exe.
- List Command

Splitting off some of the work originally defined here: https://github.com/NuGet/Home/issues/1947

[2016-07-20 16:22] rrelyea commented on #1947
Yes, let's split into granular issues. I'm doing now.

[2016-07-20 16:23] rrelyea opened #3178 "Remove NuGet core dependencies - NuGet Credentials"
Remove the legacy v2 nuget.core.dll dependency from the Visual Studio extension and nuget.exe.
•NuGet Credentials

Splitting off some of the work originally defined here: #1947

[2016-07-20 16:24] #1947 closed, assigned to emgarten

[2016-07-20 16:41] alpaix commented on #2878
Updating milestone for validation purposes.

[2016-07-20 16:46] #3026 closed, assigned to harikmenon

[2016-07-20 17:01] joelverhagen commented on #2476
Published:
http://docs.nuget.org/create/package-types

[2016-07-20 17:05] #3160 closed, assigned to rohit21agrawal

[2016-07-20 17:39] mishra14 commented on #1674
Original issue commits  : https://github.com/NuGet/NuGet.Client/commit/0f83bee32276eced264446f1923c064634d5a1e7 https://github.com/NuGet/NuGet.Client/commit/779f2bbc81fb7344c9e988317eb61dd4aa0bd9c8

Improved Case 2 error message commit : https://github.com/NuGet/NuGet.Client/commit/370687d961c0eba63acc8e480e476230b7877ce3

End to End test cases  commit :  https://github.com/NuGet/NuGet.Client/comm

[2016-07-20 17:39] #1674 closed, assigned to mishra14

[2016-07-20 18:48] pspill opened #3179 "Credentials not retrieved from nuget.config when v3 endpoint redirects to v2"
In NuGet 3.3, if you set a VSTS v3 package source with credentials in nuget.config, it will work for all commands even if some commands redirect to a v2 endpoint.

In NuGet 3.4.4 / NuGet 3.5.0-beta2, if you set a VSTS v3 package source with credentials in nuget.config, then restore install push all work, but list prompts for credentials.

Example:

nuget list -verbosity detailed -source https://my

[2016-07-20 18:49] gravidThoughts commented on #738
@centur @jmdjr @Ashtonian  @yishaigalatzer

[NuGetReferenceHintPathRewrite](https://github.com/jstangroome/NuGetReferenceHintPathRewrite)

Works great for me.

[2016-07-20 19:15] #3161 closed, assigned to rohit21agrawal

[2016-07-20 19:15] rohit21agrawal commented on #3161
@rrelyea dotnet pack doesn't seem to add "repository" to nuspec, so I have left it out.

[2016-07-20 19:45] raffaeler commented on #3157
Thank you @harikmenon
The article talks about the PCLs. Are there any differences when packaging for .NET Core?
I would love to create:
- a reference assembly dll defining the api surface
- a platform neutral implementation (IL only)
- a number of platform specific native dlls targeting each supported runtime (Win7x64, etc.)
  The main problem is the creation of one (or more) nuget packages with t

[2016-07-20 20:27] harikmenon commented on #3157
No not really, you are essentially targeting Net Standard instead of portable profile at this point. Bait and switch is what I believe you are looking for here. Your reference assembly is the bait and platform assemblies are pulled in based on your target runtime.

[2016-07-20 20:54] radical commented on #3085
@ethomson Mono has added a shell script called `msbuild` which executes the open sourced `msbuild` and _not_ `xbuild.exe`. It runs that from `/Library/Frameworks/Mono.framework/Versions/4.4.1/lib/mono/msbuild/14.1/bin/MSBuild.exe` .

[2016-07-20 21:10] tetj commented on #1138
just got this issue while updating nuget in vs2013

[2016-07-20 21:12] rohit21agrawal opened #3180 "nuget pack csproj (with project.json) crashes if there are no packOptions and owner in json file"
Repro:

1) create a uwp class library
2) remove any packOptions and owners tag from the json file.
3) do nuget pack *.csproj

throws argumentnullexception saying source cannot be null

This is caused due to the latest check-in of the feature : https://github.com/NuGet/NuGet.Client/pull/770

[2016-07-20 21:44] ethomson commented on #3085
@radical That does not help me, though, unless I can inform nuget of this location.

[2016-07-20 21:49] alpaix commented on #3179
I managed to get a repro with my dev feed.
In this particular VSTS scenario the v3 feed advertises a v2 list endpoint

[code]

nuget.exe delegates v2 search to NuGet.Core v2 API while passing "LegacyGallery/2.0.0" endpoint. The latter calls a `CredentialService` back to retrieve user credentials on 401. Obviously settings provider won't match the v2 list endpoint back to v3 source url therefore it

[2016-07-20 22:09] radical commented on #3085
Maybe [this commit](https://github.com/NuGet/NuGet.Client/commit/f2f89d45fb2f330a20cd79c2d7654f0cc50f7e4a) broke it? It changes the logic to look for `msbuild.exe` specifically now. On Mono, it can should try to use `xbuild`, that will be available in `$PATH`. Or if they wanted to use the _preview_ msbuild on Mono, then look for `msbuild` in `$PATH`.

[2016-07-20 23:27] the-real-coder opened #3181 "Upgrade of NuGet Vsix fails "Process cannot access the file because it is being used by another process""
I have been facing issues with my Nuget Package manager on Visual Studio 2015 Enterprise Edition with Update 3.

Couple of days back I tried upgrading the nuget package manager from 3.4.3.855 to 3.4.4.1321 the update failed with error message - **The process cannot access the file because it is being used by another process**. Since then I have tried numerous workarounds, repaired Visual Studio an

[2016-07-20 23:34] #3180 closed, assigned to rohit21agrawal

[2016-07-21 00:16] eerhardt commented on #3102
@rrelyea @emgarten - any idea on when this might be fixed?  This is blocking our ability to ship the .NET Core .props/.targets files in a NuGet package, since it won't be loaded on non-Windows platforms.

[2016-07-21 00:24] rrelyea commented on #3181
Dupe of https://github.com/NuGet/Home/issues/1138

"We identified this as a bug or issue in the core visual studio extensibility. It is not a nuget specific issue, the team is working on getting repros and improve. It is generally tied to things like anti virus or encryption services."

[2016-07-21 00:24] #3181 closed, assigned to nobody

[2016-07-21 00:30] rrelyea commented on #3176
Please start with this issue in the EF repo. Nothing from the context you have provide makes this sound like a NuGet issue:
https://github.com/aspnet/EntityFramework

[2016-07-21 00:30] #3176 closed, assigned to nobody

[2016-07-21 00:33] rrelyea commented on #3170
Fixed itself with no NuGet changes.

[2016-07-21 00:33] #3170 closed, assigned to drewgillies

[2016-07-21 00:35] rrelyea opened #3182 "ASPNET legacy projects in VS15 - packages are not expanded after template completes?"
Tracked by 242518 & 242789 in TFS.

[If we need a fix in Preview4, we'll need to check into dev, create a branch off of last commit in 1592, and cherry-pick that fix there.]

[2016-07-21 01:03] rrelyea opened #3183 "Create release-3.5.0-vs15p4 branch"

[2016-07-21 01:29] #3183 closed, assigned to rrelyea

[2016-07-21 10:30] BladeWise commented on #3145
@MistyKuu You are right, the fun part is that this works

[code]

I created a specific issue (#3184) regarding this.

[2016-07-21 10:36] BladeWise opened #3184 "NugetPack .csproj + project.json: simple mappings not working"
As was discussed in [this comment](https://github.com/NuGet/Home/issues/3145#issuecomment-233994663), defining a project.json with this simple mapping

[code]

does not work, since it does not create the mylib folder, and no dll file is included.
To achieve the expected behavior a small trick can be used:

[code]

[2016-07-21 11:05] #3062 closed, assigned to nobody

[2016-07-21 12:09] MistyKuu commented on #3184
@BladeWise one of the stars has been eaten by editor, please edit your post

[2016-07-21 12:38] BladeWise commented on #3184
@MistyKuu Done.

[2016-07-21 17:10] drewgillies opened #3185 "Fix publishing of VS15 symbols for CI builds"

[2016-07-21 17:12] rrelyea commented on #3182
until we have verified the fix on vs15 as well, reopening.

[2016-07-21 17:14] rrelyea commented on #3185
VS15 vsix is one of the problems. Let's discuss all the problems, and then decide which to fix when.

[2016-07-21 17:19] rrelyea opened #3186 "GB18030 investigation"

[2016-07-21 17:21] saf-itpro commented on #3176
@rrelyea Rob, Per your suggestion, I've moved the issue to the link you provided. Moreover, the issue does not occur after I migrated Windows 7 to windows 10 as I pointed out in the my post there.

[2016-07-21 17:54] jainaashish opened #3187 "Get-Package returns wrong result after uninstalling some packages"
After uninstalling some packages, Get-Package command on PMC still returns some uninstalled package's details.
## Steps
1. Create a csproj with packages.config
2. Install some packages.
3. Run `Get-Package -ListAvailable -Source packages` on PMC, it will show correct list of installed packages.
4. Uninstall few packages.
5. Again run Get-Package cmd on PMC. It will still show uninstalled package.

[2016-07-21 18:08] stunney opened #3188 "NuGet.exe no longer checks Current User/Trusted People certificate store. Checks Machine/Trusted People store. Breaking change."
Steps to reproduce

Run your own private NuGet repository only accessible via HTTPS. Use a self signed certificate or a certificate signed by a CA that isn't currently trusted by the client.

Add a package to your project from nuget. org. Ensure that package also exists now in your private repo.

Now ensure that a NuGet.config file is present that only allows communication to this private repo and

[2016-07-21 18:14] blowdart commented on #3188
What happens if you browse to the https endpoint in IE? Do you get a cert error then?

[2016-07-21 18:52] ps2goat commented on #1104
I thought the clarification needed meant the flag needed to be changed from `-ExcludeEmptyDirectories` to `-IncludeEmptyDirectories`.  Was the ability to have empty directories removed completely?

[2016-07-21 19:14] jainaashish opened #3189 "Update tab UI load performance issue"
Tracking issue for update tab ui load performance issue since many customers complains about it. One of such incident - https://twitter.com/DevATMic/status/748899489151217664

[2016-07-21 20:13] stunney commented on #3188
IE (11.0.9600.18321) - 11.0.31 (KB3154070) shows that the certificate could not be found and asks if I'd like to add it.

Strange that IE adds a trusted certificate to the Local Machine certificate store.  What if I were running as an regular user and not as local admin?

This is a security issue for NuGet, regardless of what IE does.  It can check the Machine cert stores first but it should also

[2016-07-21 20:22] blowdart commented on #3188
It's not a nuget issue. It's a Windows issue. nuget uses Windows for its HTTPS transport, it doesn't do it itself. So if Windows says the certificate isn't trusted there's nothing nuget can do.

I'm surprised it worked before. The trusted people store isn't the right place for the cert, it should be in the Trusted Root CA store.

If you add it to the Root CA for the user account does that fix the

[2016-07-21 20:23] lachlann562 commented on #3086
unfortunately i haven't been able to install the update as we have citrix and it appears the update is incompatible. Still working with IT to find a solution.

[2016-07-21 20:45] dagood opened #3190 "On Fedora 23 (Docker), dotnet restore fails with timeouts for dotnet/core-setup"
When running `build.sh` for core-setup in a Fedora 23 container, it fails during restore with timeouts like these:

[code]

I've set up a [somewhat minimal repro Dockerfile](https://gist.github.com/dagood/747523959acb89a67f15eaba14d86378). This is based on what happens when you call `build.sh` in core-setup. I first repro'd the issue by rerunning `build.sh` on a core-setup Linux build machine runn

[2016-07-21 21:05] drewgillies commented on #3182
Have checked in a fix from @emgarten (https://github.com/NuGet/NuGet.Client/commit/2eb229bcd9b0aeb7e25a84ced1686cf26269c8d3) to the VS build, awaiting integration tests. Will consider fixed until we hear otherwise.

[2016-07-21 21:05] #3182 closed, assigned to emgarten, drewgillies

[2016-07-21 21:18] #3108 closed, assigned to rohit21agrawal

[2016-07-21 21:22] dagood commented on #3190
Looks similar to https://github.com/NuGet/Home/issues/2945 to me, any ideas @joelverhagen?

[2016-07-22 14:12] TimHaydnJones commented on #1707
I have the same issue with Renci SSH.NET and have reported it on https://sshnet.codeplex.com (waiting to hear back)
Any suggestions from this side?

For adding package 'SSH.NET.2013.4.7' to project 'TaskyAndroid' that targets 'monoandroid6'.
Install failed. Rolling back...
Package 'SSH.NET 2013.4.7' does not exist in project 'TaskyAndroid'
Package 'SSH.NET 2013.4.7' does not exist in folder 'C:\Us

[2016-07-22 15:10] alpaix opened #3191 "Display common options in default CLI help output"
As reported by @jochenwezel in NuGet/NuGet.Client#451:
Make default options, like `-ForceEnglishOutput` and `-UTF8`, appear at the output of "NuGet help" to make this option known to the users.

[2016-07-22 15:13] alpaix commented on #2352
Re-opening due to a bug reported by a customer in NuGet/NuGet.Client#451

[2016-07-22 16:10] pspill commented on #3179
It is a significant issue, since it blocks users who configure a VSTS v3 url in nuget.config using a stored access token or username and password for authentication.  Using the credential provider executable works, but users aren't obligated to use the credential provider.

Do you know why this worked in v3.3 and what caused the change?

[2016-07-22 16:23] dagood commented on #3190
Using `NuGet.CommandLine.XPlat` `3.5.0-rc1-1639` with `--disable-parallel` works. It looks like the network really was just timing out enough times to fail, and reducing HTTP concurrency to 1 (the CLI's older NuGet dependency doesn't/can't do this) makes each individual request go fast enough.

I may have figured out how `OK {url}` can take 78s but `Failed to download` says a timeout happened at 6

[2016-07-22 16:23] #3190 closed, assigned to nobody

[2016-07-22 16:28] jainaashish opened #3192 "Update packages on UWP projects takes too long"
As reported by a customer, updates packages on UWP (csproj + project.json) takes 7-8 mins for 3 packages updates across 20 projects.

I've got the customer setup to repro it in-house

[2016-07-22 16:30] joelverhagen commented on #3190
Yes, this was going to be my first suggestion. We have seen various platforms have issues with high HTTP parallelism. We plan to in the future allow an arbitrary level of HTTP parallelism.

This is a correct assessment. We wait 100 seconds for HTTP headers to come back ([source](https://github.com/NuGet/NuGet.Client/blob/a8931a32cae4a5f410130d9f358b79220e38178b/src/NuGet.Core/NuGet.Protocol.Core.v

[2016-07-22 16:39] maartenba opened #3193 "ManifestReader round-tripping (read/write) fails when NuSpec contains an unsupported framework"
ManifestReader round-tripping (read/write) fails when NuSpec contains an unsupported framework.

Reason is this check for `.IsUnsupported`:
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Packaging/PackageCreation/Authoring/ManifestReader.cs#L264

Can this check be moved out of the ManifestReader so that it reads any manifest (even with an unsupported framework)?

[2016-07-22 17:41] NTaylorMullen commented on #2469
Any update on this guy? I'm in the midst of building Razor tooling functional tests and I have to jump through a few hoops to work around this issue.

[2016-07-22 18:48] joelverhagen commented on #3191
Additionally, we should consider supporting `nuget.exe -ForceEnglishOutput` since `nuget.exe` (no argument) displays usage.

[2016-07-22 19:48] stunney commented on #3188
My specific example is a lonely self-signed certificate, no authority backing it.  If an intermediate or root CA were involved in the evaluation I would agree with you 100% or Intermediate Certificate Authorities, Third-Party Root Certificate Authorities.  As for self-signed certs it really should be searching Personal, Trusted People/Publishers, Enterprise Trust.

There has to be a code change as

[2016-07-22 19:58] joelverhagen commented on #3062
Hey @Kanimozhi12, I took a look at the project you sent and had to make some modifications so it could work in my own dev environment (namely porting it to be a Visual Studio 2015 extension). Ideally these changes did not effect the results.

I was able to indeed verify the DTE `Project` object could not be casted to a `VSProject`. However, I was able to install packages using the IVS API:

[code]

[2016-07-22 20:43] blowdart commented on #3188
That's not how self signed certs have worked though. They're their own CA, To allow IE to trust them I've always put them into the My Trusted CA store.

For example, from 2008 - https://blogs.technet.microsoft.com/sbs/2008/05/08/installing-a-self-signed-certificate-as-a-trusted-root-ca-in-windows-vista/

2012 - https://blogs.adobe.com/livecycle/2012/04/rights-management-how-to-get-windows-7-to-tru

[2016-07-22 20:52] rrelyea opened #3194 "update-package of ASP.NET web app generates warning related to file: source"
VS2015.U3 & .NET Core Tools for VS (preview 2) & NuGet: 3.5.0.1646
1) File New project>ASP.NET Web Application>WebForms (w/ Web Forms, WebAPI checked), individual user accounts, do not host in cloud.
2) builds successfully.
3) Launch PMC
4) ensure Package Source is "All"
5) I have nuget.org (v3) and Microsoft Visual Studio Offline Packages enabled
6) type "update-package" in console

Get the follo

[2016-07-22 21:00] facundomedica opened #3195 "Project works locally but not when download from Nuget"
I'm trying to make my own Nuget Package (a fork of https://github.com/TareqAteik/ExtendedListView). When I import the project it works perfectly, but when I add it through the Package Manager it throws a 'System.NullReferenceException' the DLL and the ListView (which referenced from this library) doesn't scroll.

Is there any common problem that I'm not aware of? (I've tried uploading it in Debug

[2016-07-22 21:01] rrelyea commented on #3195
Please give us VS and NuGet version numbers. Also, precise repro steps.

[2016-07-22 21:08] facundomedica commented on #3195
@rrelyea sorry but the issue, like always as soon I ask, I see the problem. Bad configuration of Nuget. I'll keep reading. (Sorry again!)

[2016-07-22 21:08] #3195 closed, assigned to nobody

[2016-07-22 22:27] #2885 closed, assigned to joelverhagen

[2016-07-22 22:28] joelverhagen commented on #2885
Fixed with https://github.com/NuGet/NuGet.Client/pull/779.

[2016-07-22 22:28] joelverhagen commented on #3148
Fixed with https://github.com/NuGet/NuGet.Client/pull/779.

[2016-07-22 22:37] emgarten opened #3196 "Generate msbuild targets for projects with multiple frameworks that have no conflicts"
NuGet should generate MSBuild props and targets for projects with multiple frameworks if there are no actual target conflicts.

Example:
A project contains frameworks net45, net40
A dependency package has targets in build/net40

Here both frameworks will use the same target and there is no actual conflict.

In a scenario where different targets are selected the usual failure should occur.

[2016-07-22 22:39] Murarka commented on #1215
Hello,
Am facing this issue with VS 2015 while trying to use create SSIS package to load data to Azure Blob storage. First I get the below error:
[Azure Blob Upload Task] Error: Upload task has stopped with exception: Could not load file or assembly 'Microsoft.Data.Services.Client, Version=5.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' or one of its dependencies. The system cannot find

[2016-07-22 22:48] joelverhagen opened #3197 "Add API to NuGet.Core.dll (NuGet 2.x) to read package types"
It's supported in the V3 APIs.

[2016-07-22 22:54] kingerja opened #3198 "Nuget pack from csproj gives Unable to find 'CmdLine.1.0.7.509.nupkg'."
This only fails in my lab TFS builds.  It works fine locally.  I am currently working on creating a repro to see if I can isolate it further.

I am using the latest dev build: NuGet.exe 3.5.0.1646

see attached zip file to look at the csproj/nuspec/packages.config.  (Note that is not a contained repro so you will not be able to build it.  I will update this issue when I get an isolated repro.)

[c

[2016-07-22 22:59] #3011 closed, assigned to nobody

[2016-07-22 22:59] #3194 closed, assigned to emgarten

[2016-07-22 23:14] emgarten opened #3199 "Avoid modifying .nuget.targets and .nuget.props files when there are no changes"
MSBuildRestoreResult writes out .nuget.targets and .nuget.props files regardless of if there are changes or not. This changes the last modified date which will cause both Visual Studio and builds to reload the file and update.

The new targets and props files should be compared to the existing files before writing them out. The lock file does this already.

[2016-07-22 23:14] mishra14 opened #3200 "Nutget.server crashes when package id is from GB18030 char-set"
Repro -

Start a nuget.server. Add a package with id from GB18030 char-set (e.g. - 㐀㒣㕴㕵㙉㙊䵯䵰䶴䶵).

The server throws unhandled exception soon after or on adding a new package.

The cause could be due to the move away from nuget core(?)

[2016-07-22 23:29] #3102 closed, assigned to nobody

[2016-07-22 23:29] #3196 closed, assigned to nobody

[2016-07-22 23:56] mishra14 opened #3201 "Add test coverage to ensure that nuget pack/ui/server support GB18030 character-set"
We should add test coverage to ensure that the support for GB18030 char-set does not fall below current support level.

[2016-07-23 08:49] manu-st commented on #2485
I had this problem for a while but reported in the wrong forum (see https://github.com/dotnet/cli/issues/822). It has been blocking for me and anyone who might have tried to do cross compilation for arm on Linux.

Any hope to have this fix soon?

Thanks,
Manu

[2016-07-23 12:20] GeertvanHorrik opened #3202 "Package restore fails to restore when 0-byte .tmp files exist"
A few days ago, I updated to 3.5-beta2 in order to be able to restore my asp.net core packages from MyGet. However, it broke all other apps on the build agents (cannot find package in 'local cache directory').

Reverted back to 3.2 (or whatever version is currently available via _nuget update -self_), but I still have lots of issues because I cleared the cache hoping to solve some issues with the

[2016-07-24 05:49] tahmidmozaffar commented on #3089
Any update for this issue? Is it released?

[2016-07-24 12:34] Ackara opened #3203 "nuget pack forcefully adds .tt files to content folder no matter what"
If my project contains a .tt (T4 Template) file, and run the **nuget pack** command. All of the .tt files will be added to the package's content folder, regardless if you try to exclude the .tt files in the .nuspec.

Right now all of my .tt files are being forcefully packaged and breaking some of my builds please fix this.

I have attached a sample project so that you guys can see for yourself. Ru

[2016-07-24 16:47] ghost commented on #3131
@rrelyea, there are some old milestones that need to be closed https://github.com/NuGet/Home/milestones. Such as 2.12, which is 100% done but still opened.

[2016-07-24 17:30] mrward commented on #3089
@receme - Looking at the commits the fix should be in Mono 4.4.2.4 which is currently available from Xamarin's beta channel.

[2016-07-24 22:32] Eilon commented on #2345
If we change it in the official package, the next official build won't be until a few months from now. Will you use nightly builds or wait for 1.1.0 RTM?

[2016-07-25 06:41] maartenba commented on #3200
This issue was moved to NuGet/NuGetGallery#3159

[2016-07-25 06:41] #3200 closed, assigned to nobody

[2016-07-25 08:38] jochenwezel commented on #3191
![image](https://cloud.githubusercontent.com/assets/3033827/17094960/8679e6b4-5252-11e6-806a-bfb52b44924c.png)

Here also the German translation:
-ForceEnglishOutput    Erzwingt die Anwendung (für Ausgabemeldungen) in eine gleich bleibende, auf Englisch basierende Kultur.

BTW: missing translations of lines:
-NoSymbols    Wenn ein Symbol Paket existiert, wird es nicht auf einen Symbol Server übert

[2016-07-25 09:23] ryangribble commented on #1359
Is this still the tracking issue for semver 2.0 support or is there a newer or more updated issue?  Even just the client side support for use with private package repositories would be good

[2016-07-25 09:31] v-nancyj opened #3204 "Solution Package Manager UI version combo-box gets clipped in default layout of VS"
**Repro Steps:**
1. Create a new C# ConsoleApplication.
2. Right-click the solution and select “Manage NuGet Packages for Solution…”.
3. Click “Browse” tab and click anyone package.
4. Look at the version combo-box on the right pane.

**Expected Result:**
The drop-down button (on the right of the version combo-box) show correctly.

**Actual Result:**
The drop-down button get clipped as below scree

[2016-07-25 09:42] v-nancyj opened #3205 "[Test Failure] When Package Manager UI width is small, unable to resize left/right splitter"
**Repro Steps:**
1. Create a new C# ConsoleApplication.
2. Right-click the solution and select “Manage NuGet Packages for Solution…”.
3. Click “Browse” tab.
4. Resize left/right splitter.

**Expected Result:**
The splitter can be resized left/right correctly.

**Actual Result:**
The splitter cannot be resized left/right as below screenshot.
![splittercan tbemovedindefaultlayout](https://cloud.gith

[2016-07-25 09:53] v-luzh opened #3206 "[Test Failure] ‘Update-package’ command can’t update two packages ‘AspNet.ScriptManager.jQuery’ and ‘jQuery’ to the newest version"
**Repro Steps:**
1.  New project -> Visual C# -> Web -> ASP.NET Web Application, then uncheck the box for "Application Insights".
2.  Click Web Forms template and check “Web Forms” and “Web API”.
3.  Change Authentication to “No Authentication” and click OK button.
4.  Open “Package Manager Console” and type "update-package".
5.  Open “Manage NuGet Packages for Solution…”and click “Update” tab.

*

[2016-07-25 11:42] dmitriyse opened #3207 "<ForceLegacyNuGet> option for csproj + project.json case for MONO compatibility."
I am working with cross plafrom library, that targets  Win, CoreCLR, Mono.
(https://github.com/dmitriyse/ClrCoder)

I want to develop only in windows/VS2015 but compile in any platforms.

TROUBLE: when project.json present in a project folder, NuGet Visual Studio Extension works with it, even if it does not used in build of .csproj file.
1) I am using ClrCoder.csproj and ClrCoder.xproj in one fold

[2016-07-25 11:53] dmitriyse commented on #3207
Currently i use
HideProject.Jsons.ps1

[code]

And before commit:
RestoreProject.Jsons.ps1

[code]

It's a significantly easier than complie latest mono from sources on different platforms. But this solution makes our team feel like we are monkeys.

[2016-07-25 12:06] GeertvanHorrik opened #3208 "[3.5-beta2] Package restore fails to restore "legacy" packages"
This feature works great in previous versions of NuGet. Suddenly it stopped working in 3.5-beta2:

So I need 3.5-beta2 to support .net core projects, and I need an older version to support non-.net core projects.

![image](https://cloud.githubusercontent.com/assets/1246444/17100770/ec5537d6-5270-11e6-8251-960b5e4d1bfd.png)

[2016-07-25 13:01] dls314 commented on #1359
Because of issues using the dotnet cli's dotnet pack, and advice from that project, I tried moving to using nuget pack using the 3.5.0-rc1-1644 nuget client and found that versioning is differently enforced across versions of the tooling.

The differences are all around the ecosystem as well -- dotnet pack supported semver 2 strings provided they were short enough; myget doesn't seem to care (even

[2016-07-25 13:55] harikmenon commented on #3208
@rrelyea might be a RTM blocker for 3.5

[2016-07-25 15:04] eerhardt commented on #3102
@emgarten - can you let me know of a NuGet build number and feed that I can use to try this out?

[2016-07-25 15:11] rrelyea opened #3209 "Lowercase IDs & packages.config scenarios"
Let's evaluate our options to fix TFS 243045 [Willow / Web Workload] Web Site Project does not compile/run.

[2016-07-25 15:18] rrelyea commented on #3203
Can you please try this out with 3.5.0-beta2 or 3.5.0-rc (daily build) from http://nuget.org/downloads.
Still an issue?

[2016-07-25 15:20] rrelyea commented on #3208
Please give us detailed repro steps. (would be great to be minimal size, if possible).

[2016-07-25 16:26] rrelyea opened #3210 "Get nuget.tools.vsix working with newer .NET Core Tools"
Work with Anton/team to get .NET Core Tools and NuGet Package Manager running together.

[2016-07-25 16:29] wegged commented on #545
I dont know if there is a way to upvote this but this is something we are sorely missing as well.  This is a real necessity for CI especially if you dont want to commit dacpacs into GIT/Source control.

[2016-07-25 17:11] Ackara commented on #3203
Yes, the same issue occur when using v 3.5.0. However it works as expected with version v 3.4.3.

[2016-07-25 17:36] emgarten commented on #2345
We need a stable version, but NuGet can work around this as needed until 1.1.0 is out.

[2016-07-25 17:41] emgarten commented on #3202
The v2 machine cache (`%localappdata%\nuget\cache`) should no longer be used as of 3.4.0, it looks like some old code may be getting used here if removing the tmp file resolves the problem.

[2016-07-25 17:46] GeertvanHorrik commented on #3202
It is very reproducible. I had 8 packages with 0 byte tmp files. All builds that use these packages failed until I deleted them.

[2016-07-25 18:00] GeertvanHorrik commented on #3208
1. Clone this public repo: github.com/gittools/GitLink/
2. Replace tools/NuGet/NuGet.exe with beta 2
3. In the nuget (the one above) directory of the repository, execute:

[code]

Output (even without "NoCache"):

[code]

[2016-07-25 18:01] GeertvanHorrik commented on #3208
Additional testing: without specifying the config, it works (but I have been using this packages.config for years).

[2016-07-25 18:10] emgarten commented on #3102
@eerhardt `3.5.0-rc1-1653` contains the change

Set the environment variable `NUGET_XPROJ_WRITE_TARGETS` to `true` to enable it.

[2016-07-25 19:34] kpranavk commented on #3085
What's the latest on this thread. I am hitting the exact same error. If that commit broke it, what is the suggestion you are making? Is msbuild or xbuild the right thing to use. I am on Xamarin.iOS

[2016-07-25 19:45] rrelyea commented on #3185
Let's keep this open until we've verified and inserted into preview4.

[2016-07-25 19:52] rrelyea commented on #3208
which setting in the config file is causing this issue?

[2016-07-25 20:10] GeertvanHorrik commented on #3208
As it is open source, the setting is located here: https://github.com/GitTools/GitLink/blob/develop/src/nuget.config

[code]

If I run NuGet.exe without any config (but for the sln), it still recognizes this config file and then it does work (and correctly uses the ../lib folder).

I think the (machine / user) configs don't merge when explicitly specified?

[2016-07-25 20:44] rrelyea commented on #3208
@mishra14 - can you please determine when this changed behavior? broken since 3.4.4, or before?

[2016-07-25 20:53] rrelyea commented on #3207
Can you explain more deeply why you need a packages.config and a project.json in the same project?

[2016-07-25 20:58] rrelyea commented on #3203
Duplicate of #3149

[2016-07-25 21:00] rrelyea commented on #3202
Can you please try the latest daily build of NuGet.exe? We've removed old code that handled this, so it may very well be working in 3.5 (post beta2)
http://nuget.org/downloads

[2016-07-25 21:06] rrelyea commented on #3198
Any progress on a narrowed repro?
Did this work with 3.5.0-beta2?

[2016-07-25 21:07] GeertvanHorrik commented on #3208
Latest nightly build (rc1?) seems to work fine for both cases.

[2016-07-25 21:07] GeertvanHorrik commented on #3202
This RC 1 does fix #3208 as well, so I'll check this one as well.

[2016-07-25 21:09] rrelyea commented on #3197
NuGet.Server should support PackageType feature in nuspec.
In order to do this, they are moving to v3 apis...timeframe???
If too long, we could consider doing this work in v2 apis?

@maartenba

[2016-07-25 21:13] GeertvanHorrik commented on #3202
Yep, can restore with 0byte packages now. It doesn't restore into this directory any longer though, so I guess %LocalAppData%\NuGet\Cache can be deleted entirely?

[2016-07-25 21:14] rrelyea commented on #3193
@maartenba  - Timeframe needed?

[2016-07-25 21:15] eerhardt commented on #2695
@rrelyea @emgarten - I just ran into this issue trying to write some MSBuild .targets files for the conversion from project.json to .csproj.

Any chance this bug can get fixed?  The new .net core MSBuild targets and tasks shouldn't be dependent on project.json, so we are trying to read all necessary info from the project.lock.json file to use in our MSBuild logic.

[2016-07-25 21:17] rrelyea commented on #3184
NuGet pack will probably not work with project.json mappings ever. As we'll be moving to csproj away from xproj.

[2016-07-25 21:17] #3184 closed, assigned to nobody

[2016-07-25 21:20] rrelyea commented on #3173
As we mentioned in #3184, NuGet pack will not be adapted to work with Project.Json mappings. But we will be solving the scenario in our move to msbuild.

[2016-07-25 21:20] #3173 closed, assigned to nobody

[2016-07-25 21:33] Wylice commented on #708
There hasn't been any updates on this in over 8 months.  Is there any solution yet for accessing a private NuGet feed behind Azure AD?

[2016-07-25 21:48] #3209 closed, assigned to joelverhagen

[2016-07-25 21:48] joelverhagen commented on #3209
Fixed with https://github.com/NuGet/NuGet.Client/pull/786.

[2016-07-25 22:08] emgarten commented on #2695
`type` in project.lock.json corresponds to the `target` property from project.json currently.

Adding a new property to carry along some of the original project.json flags could make sense, but it sounds like build and platform would work very differently.

`Build` would need to be applied only to libraries which are not referenced by non-build dependencies.

`Platform` on the other hand would eit

[2016-07-25 22:12] emgarten commented on #3202
Thanks for verifying! Yes, you can remove `%LocalAppData%\NuGet\Cache`. 3.5.0 uses the global packages folder to store packages.

[2016-07-25 23:10] joelverhagen opened #3211 "[dev test failure] PMC commands fail if -Source is not specified and "All" not selected"
`dev` is affected. Upcoming `3.5.0.1592-rc1-dev` release is not affected.
## Steps
1. Open Visual Studio.
2. Create a new project (I created a classic .csproj console app).
3. Open PMC.
4. In the PMC source dropdown, select any source but "All" the has `Newtonsoft.Json`, like NuGet.org.
5. Execute `Install-Package Newtonsoft.Json -Version 9.0.1`.
## Expected

The package should install.
## Actual

[2016-07-25 23:11] joelverhagen commented on #3211
Note that this is causing a bunch of E2E tests to fail. I have a fix about to go into PR.

[2016-07-25 23:44] MarkOsborneMS opened #3212 "Nuget command line no longer accepts file URI format"
Existing tools (such as CoreXT) pass file based feeds to nuget in URI format.
e.g.
`nuget restore -Source file://server/share -OutputDirectory packages packages.config`

This used to work, however with nuget 3.5 (verified with build 3.5.0.1655) this now returns an error:
`file://server/share: Failed to retrieve information from remote source 'file://server/share'.
      URI formats are not support

[2016-07-25 23:46] #3203 closed, assigned to nobody

[2016-07-26 00:04] BladeWise commented on #3184
It does work, at least partially.
The fact is, if NetStandard projects can only use project.json, and support is only partial, how are we supposed to produce NetStandard packages before such functionalites are migrated to csproj? What is the 'proper' walkthrough? Avoid .csproj + project.json?

Not really happy about a won't fix...

[2016-07-26 00:06] #3174 closed, assigned to nobody

[2016-07-26 00:08] BladeWise commented on #3174
Given some comments from @rrelyea in #3173 and #3184, I suppose I can close this and just disregard everything about csproj + project.json.

[2016-07-26 00:12] joelverhagen opened #3213 "Enable Xunit tests that run the PMC"
Right now our only test coverage for PMC commands (e.g. `Install-Package`) are the E2E tests. This is a slow feedback mechanism.

Not sure about the feasibility of this, but it is worth investigating.

[2016-07-26 00:40] #3211 closed, assigned to joelverhagen

[2016-07-26 00:41] mishra14 commented on #3186
Updated the assigned task with drafted report and demo video.

Artifacts -
[Report](https://microsoft.sharepoint.com/teams/DD_Tenets/World%20Ready/_layouts/15/guestaccess.aspx?guestaccesstoken=1Q%2fRRT2Tx13XztxQw91CWj5%2f6VZj4fhkQIxTcK9aOq0%3d&docid=2_00e88f7bad8604d208924bc3282670b72&rev=1)
[Video](https://microsoft.sharepoint.com/teams/DD_Tenets/World%20Ready/_layouts/15/guestaccess.aspx?guestac

[2016-07-26 01:03] mishra14 commented on #3208
@rrelyea

I repro'd the error on my machine. I tried a few of the exe's available on [nuget.org](https://dist.nuget.org/index.html).

Results -
nuget.exe (v3.5.0-beta2) - Error
nuget.exe (v3.4.4) - Error
nuget.exe (v3.4.3) - Error
nuget.exe (v3.3.0) - Works
nuget.exe (v3.2.0) - Works
nuget.exe (v2.8.6) - Works

Error for reference -

[code]

[2016-07-26 04:59] dmitriyse commented on #3207
In short words i want to use the same codebase in the legacy toolset and in the modern toolset at the same time. Motivation is simple - I share folder with code between Linux and Windows machine. Use Mono to debug codebase on linux (and MONO CURRENTLY LUCK OF GOOD DNX SUPPORT thus i require legacy toolset) and under Windows with modern toolset.

I have two solutions ClrCoder.sln and ClrCoder.CoreC

[2016-07-26 06:39] maartenba commented on #3197
It's quite an undertaking. @qianjun22 can prioritize.

[2016-07-26 06:42] maartenba commented on #3193
Your call :-) Would be useful to have (e.g. for package edits in gallery). Since it's only that one specific line being in our way, I'm not sure how much work it would be to move that check out so roundtripping works?

[2016-07-26 07:06] MistyKuu commented on #3184
@BladeWise, @rrelyea  agreed 100%. This is a basic functionality. I was recommended to use csproj + project.json as migration to new csproj should be easier. Now I am struggling with current configuration. Adding files into nuget packages is implemented the only logic that needs to be fixed is to properly map it into directory structure so I suspect it doesn't involve much work on your side.

[2016-07-26 10:30] lindexi opened #3214 "The Command line say Unknow option "-version""
I find the https://docs.nuget.org/consume/command-line-reference ,when I use command line update my project to specific version.And the command line say Unknow option "-version".

[code]

And the install version is 1.0.0.6.

The doc had say I can use version but I cant use in command line.

[2016-07-26 10:58] MistyKuu commented on #3184
@rrelyea I don't understand a decision to drop support for nuspec in csproj + project.json files in 3.5 RTM. The problem with dependencies has been fixed but because of that we get a huge cut in functionalities. Nuspec provided a lot more possibilities than project.json

[2016-07-26 11:20] petterek opened #3215 "Fail to install package in VS 2015 update 3"
Microsoft Visual Studio Enterprise 2015
Version 14.0.25424.00 Update 3
Microsoft .NET Framework
Version 4.6.01038

Installed Version: Enterprise

NuGet Package Manager   3.5.0
NuGet Package Manager in Visual Studio. For more information about NuGet, visit http://docs.nuget.org/.

Attempting to gather dependency information for package 'NUnit.3.4.1' with respect to project 'MultikeyTree.Test', targ

[2016-07-26 13:11] dmitriyse commented on #3207
I managed to build Nuget.Client  3.5.0-Beta2 with this dirty hack:

[code]

And this elso

[code]

And problem was solved.

Dirty build attached as immediate solution.

Please consider to implement this improvement gracefully.

[NuGet.Tools.zip](https://github.com/NuGet/Home/files/385741/NuGet.Tools.zip)

[2016-07-26 17:03] Eilon commented on #2345
Ok. We will try to get this updated for 1.1.0, barring any issues we run into.

[2016-07-26 17:14] alpaix opened #3216 "Package Manager UI won't update after PMC command"
**Problem**
Opened the Package Manager 3.5.0 in VS "15" Preview 4 on Installed page. In my web project I installed jQuery.1.12.0. At the same time I opened PMC console and ran `Update-Package -Id jQuery`. After command completed UI didn't refresh automatically. Only after pressing the refresh button the list was updated.
![image](https://cloud.githubusercontent.com/assets/8239356/17147899/9deada0c

[2016-07-26 17:15] joelverhagen opened #3217 "[dev test issue] 4 End to End tests broken in dev"
These are broken in the `dev` branch but not in the `release-3.5.0-rc` branch. The seem to be two underlying problems:
1. Relative path source a `-Source` parameter no longer works.
2. Error message for `d:blah` source rejection has changed (it now has fewer details).

[code]

[2016-07-26 17:39] vphad opened #3218 "NuGet package install and assembly version in csproj files"
Hi Team,
 We are using NuGet in our projects, we are facing issues with the csproj references of the NuGet packages.

**Scenario 1**
When we are installing few packages to the solution on Dev system with below details,
- Windows 7, x64 bit
- Visual Studio 2012
- NuGet 2.8
- PTC Integrity for version control

It adds the specific version to the csproj files. as given below, (csproj snippet),

`<Ref

[2016-07-26 18:12] joelverhagen opened #3219 "Document how init.ps1 scripts should find paths to other extracted packages"
Today we have no guidance of how `init.ps1` scripts should find other packages.

Suppose a package (`packageA`) has a dependency (`packageB`) as well as an `init.ps1`. Additionally, suppose that `init.ps1` needs to execute an assembly found in that dependency. When `packageA` is pulled into a packages.config project, the following structure is laid down on disk.

[code]

A naive implementation of

[2016-07-26 18:15] #3128 closed, assigned to rohit21agrawal

[2016-07-26 18:18] rohit21agrawal commented on #3184
@MistyKuu you can still author a nuspec file in your project directory and pack using nuget pack *.nuspec ...maybe that will unblock some of your scenarios?

[2016-07-26 18:21] alpaix commented on #1094
Fixed in NuGet/NuGet.Client#501.

[2016-07-26 18:21] #1094 closed

[2016-07-26 18:52] oliver-feng commented on #708
Checkout how NuGet runs VSTS credential provider if you want to implement
you own credential provider. We have decided to use VSTS packaging feature
and not create our own.

On Mon, Jul 25, 2016 at 2:33 PM, Wylice <notifications@github.com> wrote:

[2016-07-26 19:36] oliver-feng commented on #708
Checkout how NuGet runs VSTS credential provider if you want to implement you own credential provider. We have decided to use VSTS packaging feature and not create our own.

"NuGet.Client-release-3.4.3\src\NuGet.Clients\NuGet.CommandLine\ExtensionLocator.cs"(48,36):        public IEnumerable<string> FindCredentialProviders()
"NuGet.Client-release-3.4.3\src\NuGet.Clients\NuGet.Credentials\PluginCre

[2016-07-26 19:36] #708 closed

[2016-07-26 20:57] mishra14 commented on #3208
@rrelyea

I repro'd the error on my machine. I tried a few of the exe's available on [nuget.org](https://dist.nuget.org/index.html).

Results -

<table >
  <tr>
    <th>Build</th>
    <th>Restore with Config file specified</th>
    <th>Restore without Config file specified</th>
  </tr>
  <tr>
    <td>nuget.exe (v3.5.0-rc1)</td>
    <td>Errors. As expected (details below).</td>
    <td>Works fine.<

[2016-07-26 21:15] vphad opened #3220 "NuGet restore throws Warning Project file cannot be found"
Hi Folks,
When running the NuGet restore, we are seeing below warning,

E:\xdp\data\RMI\1243096\Xoods\MFMS>nuget restore  -verbosity detailed
Restoring NuGet packages for solution E:\xdp\data\RMI\1243096\Xoods\MFMS\MFMS.sln.
**_WARNING: Project file E:\xdp\data\RMI\1243096\Xoods\MFMS\http://localhost:51509 cannot be found.
WARNING: Project file E:\xdp\data\RMI\1243096\Xoods\MFMS\http://localhost:5

[2016-07-26 21:20] ericstj commented on #3167
/cc @rrelyea @emgarten

We need cycle-breaking support in NuGet.  Today it bails on a cycle.  We need to either support handling a cycle and not fail _or_ add a new concept for a type of dependency that will not be considered a cycle.  Previously we've discussed this type of dependency as a "conditional dependency" or a "lifting dependency".  I had hacked up something like this before in runtime.j

[2016-07-26 21:33] alpaix commented on #3185
Spotted minor flaws in build pipeline:
1. NuGet.Core.pdb is copied from a wrong "default" location of 2.11 instead of 2.13.824
2. Assemblies in *.symbols.nupkg are unsigned
3. nuget.exe doesn't have corresponding pdb

1 & 2 fixed manually. 3 is not relevant to VS15 scenario.

[2016-07-26 22:13] kzu commented on #1359
Sooo, we could build packages with semver 2.0 version numbers in v3.3 but that got broken in v3.4? See [AppVeyor](http://help.appveyor.com/discussions/problems/4608-new-error-versions-using-semver-200-are-not-supported) issue which is exactly the same I'm facing.

:disappointed:

[2016-07-26 22:49] kingerja commented on #3198
I just tried it on 3.5.0-beta2 (3.5.0.1520) and it also contains this failure.
However 3.4.4 does not contain this issue.

I have attempted many repro's out side of our TFS lab env and have been unsuccessful.  In my lab it is a consistent repro.  However just running it on the build agent as the same command doesn't appear to repro it which leads me to suspect it is something to do with running un

[2016-07-26 23:16] mishra14 opened #3221 "Improve docs for nuget.exe restore -ConfigFile"
We should improve the doc for `nuget.exe restore -ConfigFile` at [nuget.org](https://docs.nuget.org/consume/nuget-config-file#nuget-config-extensibility-point).

The behavior for nuget.exe, when a config file is specified using the `-ConfigFile`, is not very clear.

We should also clarify the behavior for different versions of nuget.exe separately.

Originated from - https://github.com/NuGet/Home/

[2016-07-26 23:51] mishra14 opened #3222 "Certain GB18030 characters not supported in nupkg/nuspec id and VS class namsespace"
While working on https://github.com/NuGet/Home/issues/3186 I realized that certain characters that fall under GB18030 are not supported as id field within the nuspec file. They work fine inside other metadata like description etc.

The same behavior is observed with a C# namespace in VS.

Likely cause might be that we use the same logic/rules as VS namespace. Investigation needed.

Characters in q

[2016-07-27 00:34] rohit21agrawal commented on #3184
@BladeWise @MistyKuu just found out that you need to use this json to get your scenarios to work as expected on Windows :

[code]

Note the difference in the directory separator character.

Would you be able to try the same technique on #3173 and let us know if that solves it as well?

[2016-07-27 04:17] emgarten commented on #1359
nuget.exe pack has SemVer 2.0.0 blocked until it is supported everywhere for NuGet. At this point the 3.5.0 client is very close to having full support. For servers, including nuget.org there are still open issues.

[2016-07-27 06:44] GeertvanHorrik commented on #3208
@mishra14 Thanks for the detailed report Ankit. I will remove the explicit config specifications from all builds (we had to add that for 2.8.6 as you mentioned) to make this work everywhere.

[2016-07-27 07:10] MistyKuu commented on #3184
@rohit21agrawal it works - good work! But it looks like it doesn't work for #3173

[2016-07-27 07:12] rohit21agrawal commented on #3184
#3173 wirks with includeFiles from what i remember of my testing

[2016-07-27 07:17] MistyKuu opened #3223 "Project.json + csproj with 3.5-rc"
Hey. Since I am not sure if it's a bug or not I will ask a few questions and if it's a bug I will create a separate issue. It's for csproj +project.json project. Version of nuget is 3.5-rc (basically the one that is going to be released in 1 August . https://github.com/NuGet/Home/files/369726/NuGet.zip)
1. Is it possible to replicate <developmentDependency> attribute in project.json?
2. Is it poss

[2016-07-27 07:24] petterek commented on #3215
I had to "repair" VS.
I belive it had something to do with vslanproj140.olb somehow missing.

[2016-07-27 07:24] #3215 closed, assigned to nobody

[2016-07-27 09:03] TheRealPiotrP opened #3224 "dotnet restore fails to access nuget.config when run concurrently"
## Ported issue from https://github.com/dotnet/cli/issues/3868 from @noahfalk
## Steps to reproduce

Run dotnet restore on multiple projects concurrently. This may take a fair amount of stress and appears to be a race condition. My scenario invokes dotnet restore on roughly ~100 separate projects and probably achieves about 8 concurrent executions. Occasionally a few projects fail.
## Expected  be

[2016-07-27 09:45] dmitriyse commented on #2951
You can do this right now:
1) extract public key from any signed nuget assembly

[code]

2) pass this file to build script

[code]

3) allow .NetFramework to use delay-signed nuget libraries - create and apply AllowNuGetDelaySigned.reg

[code]

This helps, I checked.

Please consider to add some build instruction and mention about signing importancy.
After that issue can be closed.

[2016-07-27 10:14] BladeWise commented on #3184
@rohit21agrawal Yes, it seems that current RC works using double backslashes, provided that includeFiles is used. It seems that includeFiles replaces *\* usage (I still preferred the old syntax, tho :)).

The only notable issue I have found with this version is that using this kind of mapping

[code]

`nuget pack` complains about

[code]

[2016-07-27 10:18] Evangelink opened #3225 "Should I include .pri, .xbf and .xr.xml files?"
Hi guys,

I am not sure if this is the correct place to post this question so please feel free to move it (or ask me to create it somewhere else).

I am building an internal, cross-platform, nuget package and I am facing some issues on files I should or should not include. I haven't found any good tutorial or doc on this so here I am with my question.
So I have multiple projects, MyProject (a PCL

[2016-07-27 10:19] dmitriyse commented on #1294
Possible solution for this problem https://github.com/NuGet/Home/issues/3207

[2016-07-27 15:56] rrelyea commented on #3221
Let's fix docs sooner than later. After we finish validation, please work with @harikmenon to address.

[2016-07-27 15:58] rrelyea commented on #3220
Did this work in the past? With what versions of VS/NuGet?
What can you tell about those two website projects?
Can you replicate the problem on a newly created project and share the steps to reproduce?

[2016-07-27 17:06] joelverhagen opened #3226 "Port DNX E2E tests to .NET Core projects"
Currently the following 12 tests depend on DNX tooling:
1. `GetProjectForDNXClassLibrary`
2. `InstallPackageThrowsIfThereIsNoCompatibleContentFiles`
3. `ProjectKInstallMultiplePackages`
4. `ProjectKInstallNonExistentPackage`
5. `ProjectKInstallPackage`
6. `ProjectKPackageActionsWhatIf`
7. `ProjectKUninstallNonExistentPackage`
8. `ProjectKUninstallPackage`
9. `ProjectKUpdateAllPackages`
10. `Projec

[2016-07-27 17:09] rrelyea commented on #2345
Should be ready for us to fix in 3.6beta.

[2016-07-27 17:33] blackdwarf opened #3227 "dotnet restore doesn't show errors for some unsupported target runtimes"
Cross-post from dotnet/cli#3664
## Steps to reproduce

project.json:

[code]

`dotnet restore`
## Expected  behavior

[code]

The error _is_ displayed for some RIDs, such as `unix`
## Actual behavior

[code]
## Environment data

`dotnet --info` output:

[code]

/cc @AndriySvyryd

[2016-07-27 18:15] alpaix opened #3228 "Package Manager update fails with allowedVersions filter"
**Problem**
I have a solution with two projects. WebApplication1 project has a dependency of jQuery.1.12.3 with `allowedVersions` filter set to `[1.0,2.0)`. I opened a `Manage packages for solution...` dialog and switched to the Updates tab. I selected jQuery list entry and clicked the Update button. The update operation failed with following error:

![image](https://cloud.githubusercontent.com/as

[2016-07-27 18:55] harikmenon commented on #3225
I believe pri files are required if you have resources (like res*) in your Window UWP projects. Otherwise lookup will fail.

E.g of projects that package pri files
https://github.com/Microsoft/XamlBehaviors
https://github.com/Microsoft/Win2D

[2016-07-27 19:14] blackdwarf opened #3229 "dotnet restore: temporary directory is expected to be user specific"
Cross-post from dotnet/cli#1748
## Steps to reproduce

In Ubuntu 14.04 or CentOS 7.2, run dotnet restore with the user1, then run dotnet restore with the user2 failed.

$ dotnet restore -v verbose

error: Access to the path '/tmp/NuGetScratch/lock' is denied.
trace: System.AggregateException: One or more errors occurred. (Access to the path '/tmp/NuGetScratch/lock' is denied.) ---> System.Unauthor

[2016-07-27 19:15] blackdwarf commented on #3229
From @mmalolepszy:

[2016-07-27 19:16] blackdwarf commented on #3229
From victory2009:

[2016-07-27 19:23] mishra14 commented on #3208
@GeertvanHorrik : I have updated the table for v2.8.6 - In that version, specifying the config file works fine.

Also, if this fixes the issue, let us know. We can then close the bug.

[2016-07-27 19:39] GeertvanHorrik commented on #3208
Let's assume this breaking change is caused by (v3.4.3). I will update my usages so this one can be closed.

Thanks for all the help.

[2016-07-27 19:39] #3208 closed, assigned to mishra14

[2016-07-27 20:25] #3217 closed, assigned to joelverhagen

[2016-07-27 21:38] jdom commented on #2469
I'm also interested about this, since we'd like to use it in Orleans https://github.com/dotnet/orleans/issues/368

[2016-07-27 21:38] jmyersmsft opened #3231 "Install/restore of a particular package fails with "Package contains multiple nuspec files.""
Steps to repro:
1. Use 3.5.0-rc build 1657. 3.5.0-beta2 does not have the bug.
2. `nuget locals -Clear All`
3. `nuget install Microsoft.TeamFoundationServer.Client -Version 14.83.0` (specifically this version of this package)

This also occurs at least when restoring a packages.config with this specific package version. I manually downloaded the package and it only appears to have one nuspec. Stra

[2016-07-27 21:40] bfjelds opened #3232 "C++ Background App cannot successfully use a C# component"
IoT Background Application is a standalone BackgroundTask (no exe) ... a C++ Background Application cannot use a C# component because the .Net framework does not get included (i.e. Microsoft.CSharp.dll, etc).

Microsoft.NuGet.targets seems to exclude the possibility ... but changing the definition of CopyNuGetImplementations to this solves the problem (note the managed case is already handled, thi

[2016-07-27 23:15] eerhardt commented on #2923
:+1: on this.  I need this information in order to generate the .deps.json file correctly.

For now, I'm doing the same logic that the CLI does today - assumes all "package" dependencies are serviceable. See https://github.com/dotnet/cli/issues/2569

[2016-07-28 00:29] mishra14 commented on #3222
Did some investigation into this. 3 out of the 4 cases were not being accepted because they contained symbols. The following are accepted -

Four byte: Uighur - بتجدرشعەﭖﭙﯓﯿﺉﺒﻺ
Four byte: Mongolian - ᠠᡷᢀᡨᡩᡪ
Four byte: Tibetan - ༀཇཉཪཱྋ

The [CJK Unified Ideographs Extension B](http://jrgraphix.net/r/Unicode/20000-2A6DF) is not being accepted as a package id or C# namespace. Its possible that these

[2016-07-28 02:07] eerhardt opened #3233 "NuGet.ProjectModel should depend on Newtonsoft v9.0.1"
NuGet.ProjectModel.nuspec looks like this:

[code]

Notice that it is targeting netstandard1.3 and is depending on Newtonsoft.Json v6.0.4.  This is an issue because Newtonsoft.Json v6.0.4 does not support netstandard1.3.  Thus, anyone who wants to reference NuGet.ProjectModel needs to add `imports` into their project.json.

NuGet needs to move up to the new Newtonsoft.Json that supports netstandar

[2016-07-28 02:24] johnkoerner opened #3234 "Aggregate Exception Thrown and Package Not Installed When One Package Source Is Not Available"
I have an environment where I have multiple package sources configured within Visual Studio.  Some of the package sources are only available when connected to my corporate VPN. If I am not connected to the VPN and attempt to add a package from the Nuget v2 gallery, I get the following error on install:

[code]

As a consumer of Nuget, it is unclear to me why that package source needs to be availab

[2016-07-28 05:36] neethasp commented on #3145
None of the foll. worked: -
(1)
  "mappings": {
        "mylib": {
          "include": [
            "bin/Debug/*.dll"
        ]
     }
  }

(2)
{
    "mappings": {
        "dest/path": "./src/path"
    }
}

(3)
{
    "mappings": {
        "dest/path":{
            "include":"./src/path"
        }
    }
}

[2016-07-28 05:54] emgarten opened #3235 "Website projects hosted in IIS should not cause restore to fail"
Between 3.3.0 and 3.4.0 NuGet started checking the full path of solution file entries, for websites with http URIs this fails.

Repro solution file:

[code]

Results from each version of NuGet
**2.8.6** Warning displayed, no failure

[code]

**3.3.0** No warning, no failure

[code]

**3.5.0** failure

[code]

[2016-07-28 06:01] rohit21agrawal commented on #3145
@neethasp  try using "\" instead of "/" and using includeFiles instead of include wherever you can.

[2016-07-28 06:19] WilliamBerryiii opened #3236 "`Manage Nuget Packages for Solution` not showing packages installed per project"
I have a solution with several projects and when viewing the Nuget packages at the solution level, the Versions/Project pane for a package does not show the boxes checked, though the package is installed.

![image](https://cloud.githubusercontent.com/assets/4399970/17201798/c3d6473c-5446-11e6-8031-cebe0215418a.png)

The solution is composed of the following projects:
- AspNetCore x-plat MVC applic

[2016-07-28 06:21] dhvik opened #3237 "Visual studio extension does not handle disable/enable packages correctly for local nuget.config"
I have a global nuget.config that disables a package source (`c:\users\myuser\AppData\Roaming\nuget\nuget.config`)

[code]

Then i have a local nuget.config in my solution folder that also has the same package source defined

[code]

This will display the package source as not selected
![image](https://cloud.githubusercontent.com/assets/872128/17202506/e8cb409e-5499-11e6-8456-164c718058bd.png)
If

[2016-07-28 07:20] Evangelink commented on #3225
Thanks for the confirmation.

I still have a few things that I don't understand. When I do include the .pri file into the nuget, the installation of the nuget is successful however, when trying to compile the project where the nuget is installed, I end up with some errors saying they can't find payload files: *.xr.xml, *.xbf and for 2 projects  that are using SQLite I also have a payload error say

[2016-07-28 07:28] aidanmorgan opened #3238 "Package throws System.ArgumentNullException: Path cannot be null."
Running a nuget pack for a Web API .csproj file on 3.5.0.1520 generates the exception below (first encountered on VSTS build agent, then reproduced locally).

Same .csproj with nuget 3.4.4.1321 does not throw this exception.

I need a workaround as the VSTS hosted agent is interfering with my build pipeline.
#

Exception:

`System.ArgumentNullException: Path cannot be null.
Parameter name: path

[2016-07-28 08:57] v-luzh opened #3239 "[Test Failure] System.IO.FileLoadException throw when doing F5 after update-package for ASP.NET Web (Web Forms) Application"
**Description:**
We got the System.IO.FileLoadException: Could not load file or assembly 'Newtonsoft.Json’, or one of its dependencies… when F5 after done ‘update-package’ in PMC with ASP.NET Web (Web Forms) Application.

**Repro Steps:**
1.  New project -> Visual C# -> Web -> ASP.NET Web Application, then uncheck the box for "Application Insights".
2.  Click Web Forms template and check “Web Form

[2016-07-28 09:54] MistyKuu commented on #2776
@rohit21agrawal any workaround for that? How can I update it from outside of VS?

[2016-07-28 15:43] pdwetz opened #3240 "VS2015 Unable to resolve dependency"
While updating NancyFx to its latest build (on its [Myget feed](https://www.myget.org/F/nancyfx/api/v3/index.json)), Nuget threw an error while updating: Unable to resolve dependency 'Microsoft.Extensions.DependencyModel'. This happened for two separate projects, both .NET 4.6.1 and using IIS Express locally.

However, I discovered that the error only occurred when using the "left" update button (

[2016-07-28 16:24] rrelyea opened #3241 "[Willow Web Workload] Creating Razor v3 WSP hangs"
Tracking TFS Bug: 245277:[Willow Web Workload] Creating Razor v3 WSP hangs

Likely want fix in dev and release-3.5.0-rc branches.

[2016-07-28 16:25] harikmenon commented on #3225
xr.xml is used for .NET Native, do we you have anything specific you have declared there? .xbf is for Xaml files, do you have Xaml control in your nuget that you are trying to pack. I would recommend that you dont include sqlite assemblies as libraries in your lib, instead add a dependency to your nuget package. If you can share you nuget package, and source I can take a look at it.

[2016-07-28 16:28] rrelyea opened #3242 "iOS app build failed"
Mirror of TFS 245365 - iOS app build failed
May not be NuGet issue, please investigate and route to appropriate team.

[2016-07-28 16:56] rohit21agrawal commented on #3238
Duplicate of #3160
This has been fixed in the latest builds from the dev branch. You can verify by downloading the nightly build from nuget.org/downloads.

[2016-07-28 17:52] joelverhagen commented on #3241
Repro steps:
1. VS15 Willow install, build 15.0.25527.0
2. NuGet 3.5.0.1657
3. File > New Website
4. ASP.NET Web Site (Razor v3)

The template wizard hangs when installing `Microsoft.Net.Compilers` (version `1.0.0`) to the website.

[2016-07-28 18:12] rohit21agrawal commented on #2776
@MistyKuu you could use floating versions in project.json (https://docs.nuget.org/consume/projectjson-dependency#floating-versions ). Every time you restore, all packages will be updated to their latest versions.

Alternatively, you can use our BuildIntegratedProjectUtility class (https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.ProjectManagement/Utility/BuildIntegratedProjectUt

[2016-07-28 18:37] balneaves commented on #2708
So this seems resolved in Mono 4.4.1

Although (on centos at least) there is a missing library bug which I had to fix with
`sudo ln -s /usr/lib64/libMonoPosixHelper.so /usr/lib/libMonoPosixHelper.so`

[2016-07-28 18:41] joelverhagen commented on #3241
More details.
- We have only been able to repro it on one VM and only on one user under that VM (@joeloff). A different user on the same VM did not repro.
- The VM was Windows 10 Enterprise (build 10240), 32-bit OS. 2 cores with 4 GB RAM.

The project creation seemed to hang in NuGet code while adding binding redirects.

The issue was fixed on @joeloff's profile by clearing the MEF cache ([instruc

[2016-07-28 18:41] #3241 closed, assigned to joelverhagen

[2016-07-28 18:58] rrelyea commented on #2878
We removed the changed because it regressed File>New Project>UWP (Blank App)
TFS Bug 225323 Original perf problem
TFS Bug 241263 Perf Regression

Reactivating. We should consider what the best fix is, if any.

[2016-07-28 19:49] MistyKuu commented on #2776
@rohit21agrawal floating versions are bugged https://github.com/NuGet/Home/issues/3067.
I will try the second solution, thanks

[2016-07-28 22:51] rrelyea commented on #3239
Please investigate fix. I reproed on 15.0.25527.0 BCB2

[2016-07-28 22:51] rrelyea commented on #3239
Also, I didn't test dev14 and the vsix14 from dev branch.

[2016-07-28 22:58] #3233 closed, assigned to nobody

[2016-07-28 23:00] #3242 closed, assigned to alpaix

[2016-07-28 23:00] emgarten commented on #3233
@eerhardt This will be in build 1667

[2016-07-28 23:03] rrelyea commented on #3237
[updating]
This is by design today.
Our dialog doesn't yet support hierarchical config settings well.
We plan to address that in the future: https://github.com/NuGet/Home/issues/1820

[2016-07-28 23:06] aidanmorgan commented on #3238
This was reproduced with the latest nightly available for download.

[2016-07-28 23:07] rohit21agrawal commented on #3238
@aidanmorgan please provide a repro project, and we'll investigate.
I tried a simple web api project - it repros with 3.5.0-beta2, but it doesn't repro with the latest nightly build,

[2016-07-28 23:14] rrelyea commented on #3240
@pdwetz - can you please try a recent nightly build of our VSIX: https://www.myget.org/F/nuget-vsix/vsix/NuGet.0d421874-a3b2-4f67-b53a-ecfce878063b-3.5.0.1666.vsix
And let us know if it still has that problem.

[2016-07-28 23:20] #3237 closed, assigned to nobody

[2016-07-28 23:21] rrelyea commented on #3236
@WilliamBerryiii - can you please try a recent nightly build of our VSIX: https://www.myget.org/F/nuget-vsix/vsix/NuGet.0d421874-a3b2-4f67-b53a-ecfce878063b-3.5.0.1666.vsix
 And let us know if it still has that problem.

[2016-07-28 23:21] jainaashish commented on #3239
It's reproducible on dev14 as well with latest dev build.

[2016-07-28 23:24] rrelyea commented on #3231
@jmyersmsft  - Can you please try a "dev branch", not "release-3.5.0-rc" build? http://nuget.org/downloads will have it at the bottom of page. let us know what build you try. thx.

[2016-07-28 23:26] rrelyea commented on #3234
We check all packages sources for dependencies. If the package source is down, we need to error.
Note that we don't love the user experience here, and have begun investing in a feature to improve the user experience: https://github.com/NuGet/Home/issues/1627

[2016-07-28 23:26] #3234 closed, assigned to nobody

[2016-07-28 23:31] emgarten opened #3243 "Remove unused writeLockFile field \ property"
`TryRestore` uses the parameter writeLockFile however this is not used.

[2016-07-28 23:32] emgarten commented on #3243
nuget/nuget.client@0ffb39a096255a288b9c3c12643efb4b7e081071

[2016-07-28 23:32] #3243 closed, assigned to nobody

[2016-07-28 23:41] joelverhagen opened #3244 "Inconsistent -NoCache behavior"
Tested on `dev`, https://github.com/NuGet/NuGet.Client/commit/5932bf66f9845337db711e62d2779761962bde94.

When a package is available in the global packages folder but is not available on a source, `-NoCache` should mean the restore/install fails with a "package not available on the source" error.

For future reference, when restoring packages.config, the destination is the output directory. When r

[2016-07-29 00:43] zarenner opened #3245 ""The parameter is incorrect" error is confusing when accidentally specifying Password instead of ClearTextPassword"
We had a user enter a password under the "Password" key rather than "ClearTextPassword" in their nuget.config. As far as I've found, all versions of nuget will emit the text "The parameter is incorrect." without any additional useful information.

e.g.
"WARNING: Unable to find version '1.0.0' of package 'testpackage'.
  https://zlrenner.pkgs.visualstudio.com/_packaging/feed1/nuget/v3/index.json: U

[2016-07-29 06:01] khorvat opened #3246 "How to use the version of installed NuGet package when defining dependency in NuSpec"
How to specify the version range of dependency to use the version of installed NuGet package ?

I have described this issue in more detail on the Stackoverflow:
http://stackoverflow.com/q/38606969/467991

[2016-07-29 07:45] AndyTian-Devops opened #3247 "[Test failure]Errors occur when updating PCL project package"
**Repro Steps:**
1. Create a C# Class Library (Portable) project.
2. In the "**Add Portable Class Library**" dialog, check ".**Net Framework 4.6**", "**Windows Universal 10.0**" and "**ASP.NET Core 1.0**"
3. Start Power shell console (Tools -> NuGet Package Manager -> Package Manager Console), type "update-package".

**Exepected Result:**
There is no error occur when updating NuGet package.

**Act

[2016-07-29 08:19] EgorBo commented on #2785
Does the latest stable nuget 3.4.4 contain this fix? Because it doesn't work for me. It keeps saying me "has timed out after 100000ms." (for -Timeout 2147483). It used to work in nuget 2.x for the same package on the same network

[2016-07-29 10:17] AlesDo opened #3248 "VS2015 Comunity NuGet PackageManager fails"
NuGet Package manager does not work and the exception in the attached picture is shown. Tried to uninstall reinstall and it still does not work.
![nugeterror](https://cloud.githubusercontent.com/assets/13190278/17245338/b5ade428-558e-11e6-8d14-aa8538395dac.png)

[2016-07-29 10:53] rrelyea commented on #3248
Version of nuget? Which version of vs2015? Update 3?

[2016-07-29 12:40] AlesDo commented on #3248
VS2015 update 3. See image for the detailed version.
NuGet Package Manager version 3.5.0.1484
![vsversion](https://cloud.githubusercontent.com/assets/13190278/17248354/a950431a-55a2-11e6-9bba-4ab78e696692.png)

[2016-07-29 13:00] Evangelink commented on #3225
Thanks for your feedback. I actually had a look at the meaning of the different files before asking, my problem is more with having payload errors on the project using the nuget package. So I was wondering if it was an error on the files I was including on my nuget. I can understand I haven't really stated a clear problem so as requested I have set-up a little repro case, that you can found here:

[2016-07-29 14:13] adamhathcock commented on #2776
There doesn't seem to be way to get an instance of `BuildIntegratedNuGetProject` outside of Visual Studio.

[2016-07-29 14:46] vphad commented on #3218
Can someone please look into this ? It's affecting our builds.

[2016-07-29 15:01] issafram opened #3249 "VS2015 - Adding Files With TFS Is Done 1 File At A Time"
I have recently switched over to VS2015 from VS2013.

I install a package that I use quite often which has a couple thousand JS/CSS files.  Nothing crazy, just normal Content / Script files.

After hitting Install-Package _BigContentPackage_, it seems the high level process to loop through all the files in the package, add each file to the project, and then add that file to the source control prov

[2016-07-29 16:28] joelverhagen opened #3250 ".NET Core and UWP project.json projects do not sent TFM in search HTTP request"
### Steps to reproduce
1. Open Fiddler
2. Create a new Class Library (portable) project.
3. Add a `"net45": {}` entry to the project.json of the PCL.
4. Add a .NET Core Class Library to the solution.
5. Manage NuGet Packages for Solution...
6. Search for something on a V2 source.
### Expected

The request should have all TFMs in the `targetFramework` query parameter:
### Actual

Only `dotnet` is s

[2016-07-29 16:40] patrickjamesbarry opened #3251 "Nuget on Mac, Push is broken"
Publishing nuget packages from windows works. **Mac is failing**
We are publishing the same nuget package in both.
You can see what version of nuget we are using in the user agent below.
The mac says it succeeds, but it is not in the repo.
It looks like it is not sending the payload on the mac.

Debug: nuget push dotnet-build-connector.1.0.0-32.nupkg -Verbosity detailed -s Artifactory -NonInteract

[2016-07-29 16:40] jmyersmsft commented on #3231
@rrelyea same behavior with 3.5.0-rc1-1667 which is the build currently available from the nightly builds link

[2016-07-29 17:29] rrelyea commented on #3249
What version of VS 2015 are you using? What version of NuGet?
Are you seeing a regression from perf in VS2013 for the same scenario? How long did it take in VS2013 and how long in VS2015? What version of NuGet were you using in 2013?

[2016-07-29 17:32] emgarten commented on #3251
Does it work if you set your api key or pass it on the command line?

The fact that it says it completed but didn't actually push the package looks like a bug.

[2016-07-29 17:34] patrickjamesbarry commented on #3251
You can ignore the warning. I get that on windows as well and it still works. I agree, i believe this to be a bug.
**Successfully published NuPkg to: null.null.nupkg**

[2016-07-29 17:34] emgarten commented on #3248
@AlesDo can you give some repro steps? How are you starting NuGet before getting this error?

[2016-07-29 17:49] emgarten commented on #3251
@patrickjamesbarry would you try with the latest nightly build of nuget.exe from: https://www.myget.org/F/nugetbuild/api/v2/package/NuGet.CommandLine

[2016-07-29 17:50] patrickjamesbarry commented on #3251
sure, what do I need to do to install it?

[2016-07-29 17:53] emgarten commented on #3246
try adding `allowedVersions` for the dependency entry in your packages.config file

[2016-07-29 17:55] emgarten commented on #3251
extract nuget.exe from the tools folder in the nupkg, you can rename the nupkg to .zip

[2016-07-29 17:57] issafram commented on #3249
**VS 2015 Enterprise** - Version 14.0.25424.00 Update 3
**NuGet for VS2015** - 3.4.4.1321
**NuGet for VS2013** - 2.12.0.817

In VS2013, it took maybe 15-20 minutes for the entire package install.
In VS2015, I abort the install after over an hour.  I check the Scripts folder and only about 150 or so files have been copied over.

I see the file appearing in Windows Explorer, then Visual Studio pops

[2016-07-29 18:16] rohit21agrawal commented on #2776
@adamhathcock @MistyKuu I am sorry..I gave out the wrong approach (i was thinking of something else). This is what you are looking for : https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.ProjectManagement/Utility/JsonConfigUtility.cs

[2016-07-29 18:18] joelverhagen commented on #2785
Nope, 3.4.4 does not have this fix. Switch to version 3.5.0-beta2 of nuget.exe and the fix should be present:
https://dist.nuget.org/win-x86-commandline/v3.5.0-beta2/NuGet.exe

[2016-07-29 18:19] EgorBo commented on #2785
@joelverhagen thank you! 3.5.0-beta2 works for my case.

[2016-07-29 18:51] patrickjamesbarry commented on #3251
exe files do not run on mac...
Looks like the nuget I have is coming from mono.

which nuget

/usr/local/bin/nuget

Commands: ls -al /usr/local/bin | grep nuget

lrwxr-xr-x    1 root           admin                        49 Mar 21 13:16
nuget -> /Library/Frameworks/Mono.framework/Commands/nuget

On Fri, Jul 29, 2016 at 1:55 PM, Justin Emgarten notifications@github.com
wrote:

[2016-07-29 19:40] #3185 closed, assigned to alpaix

[2016-07-29 20:09] AlesDo commented on #3248
This error happens every time that the package manager starts. If you build a solution that checks for NuGet packages. Or even if you go to the Tools menu and try to open the NuGet package manager.
I suspect something had to happen on this specific PC that this happens because it worked before. The thing is that even if I uninstalled VS2015 and reinstalled it did not fix the issue. Is there any co

[2016-07-29 20:13] jmyersmsft commented on #3231
I believe I've found the issue.

Microsoft.TeamFoundationServer.Client 14.83.0 does only contain one nuspec. However, it is named Microsoft.TeamFoundation.Client.nuspec (note the lack of the word Server). When the package is unpacked, Microsoft.TeamFoundation.Client.nuspec ends up on disk in the global packages folder, but so does a copy of it named microsoft.teamfoundationserver.client.nuspec, so

[2016-07-29 20:27] dfev77 commented on #1739
Search for "mock", none of the established mocking libraries show at the top (moq, rhino mocks, etc.)

[2016-07-29 20:33] glennblock opened #3252 "[scriptcs] Error using NuGet.Core to install latest Newtonsoft.Json package"
scriptcs is generating an error when using `scriptcs install` to install the latest `Newtonsoft.Json' package.

[code]

scriptcs depends on NuGet.Core (currently using version 2.8.6). I've debugged the issue and the exception is being thrown from NuGet.Core. You can see the full stack trace [here](https://github.com/scriptcs/scriptcs/issues/1171)

I tried updating scriptcs to the latest Nuget.Core

[2016-07-29 20:44] harikmenon commented on #3252
I believe this is due to the older NuGet not understanding NET Standard 1.6 that is defined in the latest NewtonSoft.Json package. You would need to use the latest nuget.core to support this. @emgarten @joelverhagen

[2016-07-29 20:55] glennblock commented on #3252
I tried upgrading but got the other error I described saying that I need Nuget client 12

[2016-07-29 21:00] harikmenon commented on #3252
NetStandard 1.6 is available only in 2.12 I belive @emgarten @joelverhagen can comment.

[2016-07-29 21:00] emgarten commented on #3231
@jmyersmsft I think you are right, it looks like NuGet should remove the old nuspec file after modifying it for the v3 folder format.

[2016-07-29 21:04] harikmenon opened #3253 "Automatically Displaying a Readme.txt File During Package Installation broken?"
_From @AnderssonPeter on July 29, 2016 8:51_

On the following page https://docs.nuget.org/create/creating-and-publishing-a-package#automatically-displaying-a-readme.txt-file-during-package-installation
It says the following

[code]

I have added a Readme.txt to one of my packages but it isn't displayed when i install the package is this functionally still there or am i doing any thing wrong?

The

[2016-07-29 21:05] glennblock commented on #3252
Where do I get 2.12? It is not in the main feed?
On Fri, Jul 29, 2016 at 2:00 PM Harikrishna Menon notifications@github.com
wrote:

[2016-07-29 21:05] glennblock commented on #3252
Thank you for the quick response btw!
On Fri, Jul 29, 2016 at 2:04 PM Glenn Block glenn.block@gmail.com wrote:

[2016-07-29 21:06] joelverhagen commented on #3252
Newtonsoft.Json 9.0.1 has a dependency on the Microsoft.CSharp 4.0.1 package when targeting `netstandard1.0`. That package has a min client version of 2.12. This seems like the most likely explanation.

@rrelyea is working on publishing a 2.12 version of the NuGet.Core package that is not prerelease. Once that is up on NuGet.org, give it a try.

[2016-07-29 21:20] joelverhagen commented on #3252
Version 2.12 of NuGet.Core is available on NuGet.org:
https://www.nuget.org/packages/NuGet.Core/2.12.0

Let me know if you run into other issues.

[2016-07-29 21:40] glennblock commented on #3252
Excellent, thank you! I will let you know if that fixes it.
On Fri, Jul 29, 2016 at 2:20 PM Joel Verhagen notifications@github.com
wrote:

[2016-07-29 21:45] daniefer commented on #333
This still fails for me when running from command line and using the `-IncludePrerelease` option. I am hosting an internal NuGet server which has a pre-release patch version of `2016.4.9-alpha` available. My current package version is `2016.4.8` and I have a constraint set to `[2016.4,2016.5)`. Shouldn't the pre-release be used when the `-IncludePrerelease` option is specified?

I haven't tried th

[2016-07-29 22:01] rrelyea commented on #3247
Please do similar things for PMC scenario that were done for PM UI.
https://github.com/NuGet/Home/issues/3137

[2016-07-29 22:30] rrelyea commented on #1739
looked at this..."mocking" finds moq nicely. just not "mock"

[2016-07-29 22:34] emgarten commented on #3251
@patrickjamesbarry typically `mono nuget.exe` will work

[2016-07-29 23:13] #3231 closed, assigned to emgarten

[2016-07-29 23:41] emgarten commented on #3231
This will be fixed in build 1679 and up

[2016-07-30 02:09] solvingj commented on #1739
+1 for the feature to sort

[2016-07-30 07:01] SharpNoiZy opened #3254 "Unable to write any unit test because of Nuget"
Hi,

I tried to start a new project with Core RTM and want to write some unit tests for this project.
Which seems an easy task cost me hours now.

The issue is, I can not use xUnit nor Nunit and the error is always the same!
![projectjson](https://cloud.githubusercontent.com/assets/124893/17268737/1d534f6e-5634-11e6-9e74-1c88cc0ca325.png)

The fact that it is the same with both projects leads me t

[2016-07-30 08:32] BrennanConroy commented on #2345
This is done on our side

[2016-07-30 20:34] cynicbox opened #3255 "Installing of any package stucks on 'installing' message"
Visual Studio 2015 Update 3
NuGet 3.4.4

Log example:

Attempting to gather dependency information for package 'NLog.4.3.6' with respect to project 'htmlparser', targeting '.NETFramework,Version=v4.5.2'
Attempting to resolve dependencies for package 'NLog.4.3.6' with DependencyBehavior 'Lowest'
Resolving actions to install package 'NLog.4.3.6'
Resolved actions to install package 'NLog.4.3.6'
  GET

[2016-07-31 06:49] glennblock commented on #3252
Just tested, looks like that fixed it. Thanks!

[2016-07-31 06:49] #3252 closed, assigned to nobody

[2016-07-31 21:36] xperiandri commented on #2368
I tried to use `project.json` within portable library but got error:
`error : Your project is not referencing the ".NETPortable,Version=v4.5,Profile=Profile75" framework. Add a reference to ".NETPortable,Version=v4.5,Profile=Profile75" in the "frameworks" section of your project.json, and then re-run NuGet restore.`
Although I do

[2016-07-31 23:29] xperiandri commented on #2368
Is it possible to build a NuGet package from `csproj` with `project.json`?

[2016-08-01 02:54] pawelpabich commented on #2690
Hey, just wanted to let you know that I hit this problem today on a 3 week old laptop. Something is still not right.

[2016-08-01 04:50] gordonwatts opened #3256 "Can't install native package into two or more win32 projects in same solution"
This might be a duplicate of #1298, but I'm not 100% sure, so I thought I'd start here.

If you have two win32 projects in your solution, and you add try to add a package to both of them, nuget fails. If you add it to either one, you are fine - it is the act of adding the second one that fails. This might be a regression, in the sense it worked in 3.4.4 and does not in 3.5.
## To reproduce:
1. In

[2016-08-01 07:29] arnovannijnatten opened #3257 "NuGet pack on csproj ignores empty files element in nuspec file"
Since NuGet client 3.4.4 the behavior of the pack command has changed and is not in line with the documentation anymore.

Before 3.4.4 it was possible to only include the output assembly and ignore content files in the nupkg by adding an empty files element in the nuspec file. From the docs (https://docs.nuget.org/Create/Creating-and-Publishing-a-Package#creating-a-package):

See attached solution

[2016-08-01 08:17] AnderssonPeter commented on #3253
Its a asp.net core project if that matters?

[2016-08-01 08:53] neethasp commented on #3145
Dear Rohit,

Thank you.. I shall try this option.

Similarly how can the content of a nuget package be extracted into a local
folder using the project.json? i.e.,
how can the foll. content of .csproj file be replaced with in
project.json?: -
<ItemGroup>
    <None Include="..\packages\Mine\My.dll">
      <Link>MyFolder\My.dll</Link>
      <CopyToOutputDirectory>PreserveNewest</CopyToOutputDirectory

[2016-08-01 13:02] mrward opened #3258 "Unable to install System.Runtime.InteropServices.RuntimeInformation 4.0.0 into PCL project targeting Profile 111"
This was originally logged on [Xamarin's bug tracking system](https://bugzilla.xamarin.com/show_bug.cgi?id=42941)
# Steps to reproduce
1. Create a PCL project that targets Profile 111
2. Install System.Runtime.InteropServices.RuntimeInformation 4.0.0
   https://www.nuget.org/packages/System.Runtime.InteropServices.RuntimeInformation/
# Expected result

Package installs since it has an assembly tha

[2016-08-01 16:32] WilliamBerryiii commented on #3236
@rrelyea sorry for the delay in testing this ... things are looking interesting:

I ran the installer for the vsix you provided above and restarted Visual Studio.  I then promptly ran `nuget help` in the package manager console to get the version information which yielded: `NuGet Version: 3.4.4.1321`.  Realizing that nuget seemingly failed to update I ran `nuget update -self` which showed the outd

[2016-08-01 17:07] colelloa opened #3259 "Get list of all packages using v3 API"
Hey,

I am a software engineer for the open-source specialist company Black Duck Software (https://www.blackducksoftware.com/) and while we currently track NuGet, we are working on upgrading our software so that it uses v3 of the Nuget API.

As I'm sure you know, there is not much documentation available for it. I have reverse engineered most of the API calls that I need, but I cannot figure out h

[2016-08-01 17:14] emgarten commented on #3259
The list of all packages on nuget.org can be found in the feed catalog: https://api.nuget.org/v3/catalog0/index.json

There will be a nuget package with an API to help read this in the not so distant future but it is not available yet.

For more information on reading v3 feeds and the catalog take a look at: https://emgarten.com/2016/06/27/understanding-nuget-v3-feeds/

[2016-08-01 17:15] colelloa commented on #3259
Awesome - this was exactly what I was looking for. Thank you so much!

[2016-08-01 17:31] emgarten commented on #3258
NuGet does not use the `ref` or `runtimes` folders for packages.config projects, those projects can only consume non-runtime specific assets from NuGet.

[2016-08-01 17:34] emgarten commented on #3254
Check your package sources and verify that you have https://api.nuget.org/v3/index.json enabled. From the error message displayed it looks as if Visual Studio is unable to find the package online.

[2016-08-01 17:37] emgarten commented on #3253
That explains it, NuGet will open readme.txt for packages.config and UWP project.json projects. ASP.NET Core projects are handled differently and do not yet have support for readme.txt

[2016-08-01 18:11] patrickjamesbarry commented on #3251
Ahh, I didn't know you could run nuget like that.   Looks like the problem
is still a problem.   It is not sending the package.

[2016-08-01 18:18] rohit21agrawal commented on #3238
@aidanmorgan any update on this?

[2016-08-01 18:26] joelverhagen opened #3260 "-Force is documented on Install-Package but is not supported"
The [NuGet PMC documentation](https://docs.nuget.org/consume/package-manager-console-powershell-reference), the `Install-Package` command apparently should have (or once had) a `-Force` option. But it actually doesn't.

[code]

Actions:
1. Either the docs should be updated to remove this option or the option should be implemented.
2. We should more clearly document what `-Force` does on each comma

[2016-08-01 18:32] joelverhagen opened #3261 "Test interactive scenarios in PMC"
Right now, we do not have tests covering the interactive prompts. These prompts are implemented using `Host.UI.PromptForChoice` in the cmdlet. Unfortunately, this API is [not easily testable](http://stackoverflow.com/a/21357835).

We should figure out a way to test these things. Instances of this include:
- resolving file conflicts (e.g. during package update)
- warning about deprecated frameworks

[2016-08-01 19:03] rrelyea commented on #3261
If automation isn't reasonable, we can have this added to the manual test run that we have done daily. If we write the test "script", we can have this done.

[2016-08-01 20:00] emgarten commented on #3251
@patrickjamesbarry thanks for checking! Looks like this will may need a fix on the NuGet side.

[2016-08-01 20:12] colelloa commented on #3259
Another followup question about the URL:

Why use catalog0 in https://api.nuget.org/v3/catalog0/index.json ? Will this ever become catalog1, catalog2 etc. as the catalogue becomes full? Is there a way to predict this behavior as scale increases?

[2016-08-01 20:34] patrickjamesbarry commented on #3251
Does that mean I need to log another ticket elsewhere?

On Mon, Aug 1, 2016 at 4:00 PM, Justin Emgarten notifications@github.com
wrote:

[2016-08-01 20:51] brthor commented on #2695
@emgarten Perhaps both properties could be applied to the top level node only and the logic to determine which parts of the subgraph rooted at that top level node (for either type build or platform) falls under that top level label can still be captured outside of the lock file.

For example in CLI today we do a graph walk to determine the type build exclusion list. I think the graph walk would st

[2016-08-01 21:30] #3247 closed, assigned to joelverhagen

[2016-08-01 22:14] drewgillies opened #3262 "-SkipVS14 flag ignored in build script"

[2016-08-01 22:48] tsublette opened #3263 "Project based dependencies are being ignored in the project.json file"
I have a fairly simple project that I am porting to .net Core. The following is my project.json file

[code]

I have 2 project based dependencies _3DSIM.SupportOptimization.Core and _3DSIM.Utility.Core. When I call `nuget pack project.json -Prop Configuration=Debug` I expect the lib folder to contain all 3 dlls. It only contains the single dll from the main project and not utility or supportOptimi

[2016-08-01 22:49] tsublette commented on #3263
forgot to add that I downloaded the beta version of nuget -> 3.5.0.1520

[2016-08-01 23:17] emgarten commented on #3263
Try the latest nightly build from https://dist.nuget.org/index.html

[2016-08-02 00:01] maartenba commented on #3259
Always check api.nuget.org/v3/index.json for the latest link (type is always "Catalog")

[2016-08-02 05:22] emgarten commented on #3251
Nope, this is the right place :smile:

[2016-08-02 06:20] AnderssonPeter commented on #3253
Ok that makes more sense do you know if there is any plans or workarounds? like using a installation powershell script or some thing like that?

[2016-08-02 08:27] AndyTian-Devops opened #3264 "[Test failure]Unable to resolve dependencies. 'bootstrap 3.3.7' is not compatible with 'AspNet.ScriptManager.bootstrap 3.3.6 constraint: bootstrap (>= 3.3.6 && < 3.3.7)'."
**Repro Steps:**
1. Create a C# ASP.NET Web Application.
2. In the "New ASP.NET Web Application" dialog, select "**Web Forms**" template amd check "Web API".
3. Uncheck "Host in the cloud" and click OK.
4. After project create successfully, right click References node and select Manage NuGet Packages...
5. In Updates tab, select "**bootstrap**" package and click update.
6. Observe the update resul

[2016-08-02 08:35] v-luzh opened #3265 "[Test Failure] Package ‘EntityFramework’ can’t be installed into UWP template"
**Description:**
Error: ‘Package restore failed’ and warning ’Could not find rule set file’ show in error list when trying to install Package ‘EntityFramework’ into an UWP template.

**Repro Steps:**
1. New project -> Other Languages ->Visual C# ->Windows ->Universal ->Blank App (Universal Windows).
2. Right-click on the project and click ‘Manage NuGet Packages…’.
3. Open ‘Browse’ tab and try to i

[2016-08-02 09:00] v-luzh opened #3266 "The status of refresh button in ‘Manage NuGet Packages’ window is incorrect after pressing"
**Repro Steps:**
1. New project -> Other Languages ->Visual C# ->Windows ->Universal ->Blank App (Universal Windows).
2. Right-click on the project and click ‘Manage NuGet Packages…’.
3. Open ‘Browse’ tab and press refresh button.
4. Don't hover on the refresh button.

**Expected Result:**
The status of refresh button should be back to the status before pressing (not pressed down).

**Actual Resul

[2016-08-02 09:07] v-nancyj opened #3267 "[Test Failure] Menu items “Package Manager Console” and “Manager NuGet Package for Solution” are disabled after installing Dev14 VSIX 1704"
**Repro Steps:**
1. Create a new C#->SharePointApp project.
2. Select “Tools”-> “NuGet Packages Manager”.

**Expected Result:**
Menu items “Package Manager Console” and “Manager NuGet Package for Solution” are available.

**Actual Result:**
Menu items “Package Manager Console” and “Manager NuGet Package for Solution” are disabled as below screenshot.
![untitled882](https://cloud.githubusercontent.

[2016-08-02 13:34] colelloa commented on #3259
Got it - thanks again!

[2016-08-02 13:38] shuklavijay commented on #974
Try updating the nuget package.

[2016-08-02 13:46] shuklavijay commented on #974
I was experiencing the same issue. Below is how I resolved it.

Open Visual Studio > Tools > Extensions and Update > Updates -

In my case it was asking to update "Nuget Package Manager for Visual Studio 2013".

After update and restart, the issue got resolved.

[2016-08-02 14:41] adamhathcock commented on #2776
Thanks again for the pointer, @rohit21agrawal

The link above http://blog.nuget.org/20130520/Play-with-packages.html is for the old api.  Is there a good example of something just taking a Nuget Feed URL and package info then returning if there's a new package or even just any data about a package from a feed?

I tried inspecting the RestoreCommand area but there's a lot going on.

[2016-08-02 15:54] rrelyea commented on #3239
Keeping open until we get a decision about whether to cherry-pick into release-3.5.0-rc branch and insert into VS.

[2016-08-02 16:05] joelverhagen commented on #2352
Closed because additional work is tracked here https://github.com/NuGet/Home/issues/3191.

[2016-08-02 16:05] #2352 closed, assigned to joelverhagen

[2016-08-02 16:27] rrelyea commented on #3239
@drewgil - please validate this fix before 11 (checked into Dev already) - will be discussing with VS client dev mgrs at 11 -- for escrow consideration

[2016-08-02 17:10] drewgillies commented on #3239
Validated. dev build 3.5.0.1706 in VS 14.0.25421.03 Update 3 does not repro.

[2016-08-02 17:13] JonDouglas opened #3268 "Add Profile151 to the _profilesWithOptionalFrameworks"
It looks like there are some optional profiles potentially missing that support `monotouch1+monoandroid1` and `xamarin.ios1`

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Frameworks/DefaultPortableFrameworkMappings.cs#L110-L113

**Given a use-case:**
Attempting to add the following package to a blank Xamarin.iOS project:

https://www.nuget.org/packages/velox.core/

This pack

[2016-08-02 17:26] mrward commented on #3268
Looking at the PCL profiles that currently ship with Mono 4.4.2 we should also look to add the following profiles to the list that are marked as compatible with the Xamarin frameworks:
- 44
- 240

The full list of PCL profile from my Mono 4.4.2 install are:

5, 6, 14, 19, 24, 37, 42, 47, 92, 102, 136, 147, 158, 225, 240, 255, 328, 336, 344
7, 49, 78, 111, 259
44, 151

/cc @mhutch

[2016-08-02 18:33] drewgillies commented on #3071
Just ran tests on this version of Windows and we got this fix for free from elsewhere. Closing issue.

[2016-08-02 18:33] #3071 closed, assigned to drewgillies

[2016-08-02 19:11] rrelyea commented on #3186
If we need to track more work in future milestones, please open a new issue.

[2016-08-02 19:11] #3186 closed, assigned to mishra14

[2016-08-02 19:12] rrelyea commented on #1970
Not sure the right milestone for you guys to schedule this in.

[2016-08-02 19:13] rrelyea commented on #1859
Unsure of when this should be scheduled for.

[2016-08-02 21:44] mrward commented on #3258
OK that means it is not something for NuGet to fix. I have looked at a few .NET Core NuGet packages and they all seem to have a lib\netstandard or a lib\portable folder so it may just be this one has not been updated.

I will close this issue and open one I guess on the dotnet/corefx GitHub repository and see if they plan to modify the NuGet package so it can be used by projects with a packages.co

[2016-08-02 21:44] #3258 closed, assigned to nobody

[2016-08-02 21:47] #333 closed

[2016-08-02 23:01] shishirx34 opened #3269 "VS2015 Nuget package manager - errors on missing LicenseUrl, IconUrl, ProjectUrl"
VS 2015 Nuget package manager is validating non-required arguments. Copied from: https://github.com/NuGet/NuGetGallery/issues/3177 where @emgarten has validated this to be an issue with client.

Steps:
- I uploaded a package with following metadata to DEV

[code]
- Install the above Package after indexing from VS 2015 Nuget Package manager to my solution.
- Go to `Installed` tab for the Nuget Pack

[2016-08-02 23:11] rrelyea commented on #3267
@v-nancyj - are you saying this works with the preview dev branch build (1698), but breaks with 1704?

[2016-08-02 23:16] rrelyea commented on #3265
@v-luzh - couple of questions, since I don't find the report above totally without question. I'd like you to explain where it works, and where it doesn't.
Are you saying that this works with Dev14 U3 (which comes with NuGet 3.4.4) but it breaks as soon as you upgrade to 3.5.0.1704

[2016-08-03 00:45] jainaashish opened #3270 "Update packages failed at solution level with multiple UWP projects"
Since we remove auto fallback of v2 lock file to v1, it creates nuget actions for all the project libraries including project references as well which fails at later stage to get package metadata.

This only happens with update packages at solution level with all UWP projects.

[2016-08-03 01:01] v-luzh commented on #3265
**Note:**
1.It is found on Dev15 Preview4 25601.01.
2.It repro on Dev14 U3 (25420.01.00)+VSIX 3.5.0.1704.
3.It doesn't repro on Dev14 U3 only.

[2016-08-03 01:10] v-luzh commented on #3266
**Note:**
1.It is found on Dev15 Preview4 25601.01.
2.It repro on Dev14 U3 (25420.01.00)+VSIX 3.5.0.1704.
3.It repro on NuGet 3.4.4.

[2016-08-03 01:20] v-nancyj commented on #3267
@rrelyea -Yes,This works with the preview dev branch  build 1698,but breaks with build 1704.

[2016-08-03 02:49] emgarten commented on #3270
This can happen for any restore from the UI, it is not specific to solution level operations. The UI fails when checking if a project requires license acceptance.

[2016-08-03 05:03] tsublette commented on #3263
I get the same result with build 3.6.0.1726

[2016-08-03 06:03] janpieterz opened #3271 "Dotnet restore with VSTS feed fails"
Dupe of https://github.com/dotnet/cli/issues/3977
## Steps to reproduce
- Have at least two projects (one classic .net, one .net core)
- Let both depend on a package on a private VSTS package feed
- Use VSTS build to restore using nuget
- Use VSTS to launch dotnet command line (dotnet restore --verbosity Information --configfile NuGet.config )
## Expected  behavior

Both restores (classic and dotn

[2016-08-03 08:28] mrward commented on #3258
Looks like this problem has already been reported on dotnet/corefx:

https://github.com/dotnet/corefx/issues/10445

[2016-08-03 08:53] v-nancyj commented on #3265
Same error occurs when trying to install package 'NewtonSoft.json version 9.0.1' into a C#->Class Library (Portable) template on Dev14 U3 (25420.01.00)+VSIX 3.5.0.1726.
![untitled83](https://cloud.githubusercontent.com/assets/20632775/17359740/8e7b2806-599a-11e6-9971-03df494421b4.png)

[2016-08-03 09:25] egurb commented on #974
@csharpfritz thanks for the fix link!

[2016-08-03 11:16] ghost commented on #2696
Hi Stefan
Any chance you have a '.' in your key?
Try replace them with a '/' when performing the lookup.
This solved the problem for me...
Freddy

[2016-08-03 13:45] patrickjamesbarry commented on #3251
This seems like a pretty big problem. Can this be labeled a bug and put on
the roadmap or something.  Like to see some priority on it.

pb

On Tue, Aug 2, 2016 at 1:22 AM, Justin Emgarten notifications@github.com
wrote:

[2016-08-03 15:42] mhutch commented on #3268
Yes, the Xamarin frameworks should be compatible with all of those.

[2016-08-03 16:19] jainaashish commented on #3270
Surprisingly it doesn't repro at project level.

[2016-08-03 17:07] jainaashish commented on #3239
Merged to 3.5.0-rc

[2016-08-03 17:07] #3239 closed, assigned to jainaashish

[2016-08-03 17:15] Hoplo commented on #545
I'm very keen on being able to ad NuGet packages to .sqlproj projects. We generate internal NuGet packages for a product that get installed into different solutions. One package (just been created) holds a set of SQL files and the generated assembly from the product database project. This is mainly to help make DB packaging deployments a lot smoother and less error prone.

So for CI/CR/DevOps proc

[2016-08-03 18:07] drewgillies opened #3272 "Re-enable PackFromProjectWithDevelopmentDependencySet for VS15"
Disabled here: https://github.com/NuGet/NuGet.Client/pull/810

[2016-08-03 18:08] drewgillies commented on #3272
Disabled due to MSBuild break in VS15 preview 3.

[2016-08-03 19:39] drewgillies commented on #3272
Guidance at this point is to wait until preview 4 and re-evaluate MSBuild behavior.

[2016-08-03 20:18] harikmenon opened #3273 "Improve error message on push when package id's conflict"
1) Create a new package with Id MyTestPackage
2) nuget push with source as nuget.org

Expected
Package is not pushed and error shows that there is a ID mismatch

Actual
Asks for credentials

[2016-08-03 20:40] natemcmaster opened #3274 "Installing EF Core 1.0 into ASP.NET 4 app produces incorrect binding redirect version"
EF Core 1.0 uses System.Collections.Immuable/1.2.0. When installed into a nuget2 project (packages.config), the wrong binding redirect version is created.
## Repro

File -> New Project... -> ASP.NET 4 WebAPI
Install-Package Microsoft.EntityFrameworkCore -Version 1.0.0
## Expected result

web.config should contain

[code]
## Actual result

web.config contains

[code]
## Setup info

VS 2015 Update 3

[2016-08-03 21:49] ghost commented on #1298
Hello, was this resolved? I am running into the same issue. I created a PCL to run in .NETCore and .NetFramework 4.5.1. I am trying to install package RabbitMQ.Client.4.0.0-rc-1.

Resolving actions to install package 'RabbitMQ.Client.4.0.0-rc-1'
Resolved actions to install package 'RabbitMQ.Client.4.0.0-rc-1'
Install failed. Rolling back...
Package 'RabbitMQ.Client.4.0.0-rc-1' does not exist in pr

[2016-08-03 23:24] #3212 closed, assigned to emgarten

[2016-08-03 23:53] rrelyea commented on #3212
please check into dev and cherry pick to release-3.5.0-rtm

[2016-08-04 07:25] lszomoru commented on #2887
Apologies for the nudge but any update on this? Thanks!

[2016-08-04 08:49] Erwinsyah69 opened #3275 "load failed .project requires user input"

[2016-08-04 09:45] tuzand opened #3276 "NuGet doesn't add some references to the project file"
I'm using the most recent version of Nuget (3.4.4) with VS 2015. I would like to reinstall the packages from packages.config in order to add the references to the vcxproj file.
After finishing the command Update-Package -Reinstall, the following two packages are missing from the vcxproj file, and must be manually added:
- hdf5-v120-complete
- boost_python2.7-vc120

The issue is the same with the m

[2016-08-04 10:33] mprevot commented on #1298
I didn't had news about this, wether it was resolved or not.
I guess you'll be able to know why it fails with a more verbose log.

2016-08-03 23:49 GMT+02:00 luisbecerril notifications@github.com:

[2016-08-04 12:40] saurabha5 commented on #644
Updating Nuget Package extension from "Tools -> Extensions and Updates" worked

[2016-08-04 15:28] rovinbhandari commented on #2936
@toddm, did this fix eventually make it to 3.5.0-beta2?
The bug regresses if, let's say, `target="lib\net40\"` is specified for a file without an extension. I'm running [3.5.0-beta2](https://dist.nuget.org/win-x86-commandline/v3.5.0-beta2/NuGet.exe).

Additionally, if for a file without a version, the specified target doesn't have a trailing backslash (i.e., `target="lib\net40"` is specified), nug

[2016-08-04 15:34] patrickjamesbarry opened #3277 "Force Highest version to be used, does not work"
According to docs, I should be able to specify a version range and in the nuget.config file, use this attribute:

This is not working. An older version of the dependency is still getting used.  Working on a nuspec file to define the nuget dependency version range.

[2016-08-04 16:29] emgarten commented on #3277
Would you share some repro steps?

[2016-08-04 16:30] emgarten commented on #3276
Are the references added during Install-Package? Which references are missing after reinstall from the packages you mentioned?

[2016-08-04 16:39] emgarten commented on #2887
@lszomoru is there a specific scenario you have where entering the credentials in manually is needed instead of using a config file?

[2016-08-04 16:50] rrelyea commented on #3270
Update 1 of VS 2015 had a bug in the build tasks.
Justin had removed the workaround for that.
Let's add the workaround back in for release-3.5.0-rtm branch, and leave the workaround removed for 3.6.

[2016-08-04 16:53] patrickjamesbarry commented on #3277
Add this to nuget.config file:

[code]

Create a new c# project and create a new a nuspec for it.

[code]

Upload 2 nuget packages to your nuget feed, named 'my-lib' . One with version 15.2.1.36 and one with 15.2.1.37. After that package is in your nuget feed, perform a 'nuget restore' on your new project and observe you always get the older version of the dependency.

`nuget restore -ConfigFile C

[2016-08-04 16:55] emgarten commented on #3277
What type of project are you restoring? packages.config or project.json?

[2016-08-04 16:59] patrickjamesbarry commented on #3277
Project.json

Same behaviour observed usign 'dotnet restore'

On Thu, Aug 4, 2016 at 12:55 PM, Justin Emgarten notifications@github.com
wrote:

[2016-08-04 17:03] emgarten commented on #3277
DependencyBehavior isn't supported for project.json yet, there is an issue tracking it here: https://github.com/NuGet/Home/issues/3159

You can float to the highest version by adding the package as a dependency in your project.json file and using `*`. Example: `"my-lib": "15.2.1.*"`

[2016-08-04 17:21] patrickjamesbarry commented on #3277
Just to clarify:

I have a project My-Proj, that is a project.json c#, Net451 project.
It depends on older nuget packages that have nuspec in them.
These older nuspec projects are the ones I am having problems with.

So MyProj depends on MyDependency1: version 1.0.0.\*  (THIS WORKS)
MyDependency depends on MyDependency2 (with version range)  This does not
work. Brings in old builds.

Make sense?

[2016-08-04 17:28] rrelyea commented on #3267
@joelverhagen - this sounds like the dev14/dev15 clean happened on build 1704. did that break the dev14 vsix for this scenario?

[2016-08-04 17:29] czb182 commented on #545
This would be useful for myself as well.  My use case is to share dacpac dependencies for composite ssdt projects.  We have a main sql server project which generates a dacpac and this dacpac will be referenced by many other sql server projects that each own a part of the larger database.  Right now I would have to use git submodules to load in main sql server project into each repo or copy dacpac

[2016-08-04 17:38] rrelyea commented on #3265
@alpaix - need to consider for Dev15 preview 4. Sounds like serious regression.

[2016-08-04 18:02] emgarten commented on #3277
MyProj needs to also depend on MyDependency2 to specify the floating behavior

[2016-08-04 18:13] patrickjamesbarry commented on #3277
So in order to get this to work I need to not count on transitive
dependency resolution?  Meaning:

MyProj --> Dependency1 --> Dependency2  --> Dependency3

needs to be:
MyProj -- >Dependency1
            -- >Dependency2
           -- >Dependency3

?

On Thu, Aug 4, 2016 at 2:02 PM, Justin Emgarten notifications@github.com
wrote:

[2016-08-04 18:24] emgarten commented on #3277
That's correct, everything you want to float needs to be top level. This will be fixed with https://github.com/NuGet/Home/issues/3159

[2016-08-04 18:32] joelverhagen commented on #3267
Attempts:
- VS: VS14, VS15
- Builds: 1698, 1704, 1721 (`release-3.5.0-rc` latest), 1731 (`dev` latest),
- Website type: Web forms, MVC
- Manage packages on: solution, add-on project, web project

Could not reproduce this. Could you provide us with a VM that can reproduce this issue?

Thanks!

[2016-08-04 18:36] alpaix commented on #3265
`EntityFramework` only targets `net40` and `net45`. Neither of them is compatible with UWP's `uap10`.
That's the reason package install fails.

You can clearly see this in output window:

<pre>
Restoring packages for 'App3'.
Restoring packages for c:\users\alpanov\documents\visual studio 15\Projects\App3\App3\project.json...
Package EntityFramework 6.1.3 is not compatible with uap10.0 (UAP,Version

[2016-08-04 18:37] emgarten commented on #3270
Reverted changes for 3.5.0 in build 1734

[2016-08-04 18:37] #3270 closed, assigned to emgarten

[2016-08-04 18:42] emgarten commented on #3027
Here is a description of this new path:

NuGet 3.5.0 support an additional native assembly folder: `runtimes/{rid}/nativeassets/{tfm}/{any}` this path adds the option to pivot on both the runtime and target framework for native assemblies. This works in the same way as the managed assembly folder `runtimes/{rid}/lib/{tfm}/{any}`. For native assemblies that apply to all target frameworks the existi

[2016-08-04 18:42] emgarten commented on #3027
@harikmenon can you add this into the new docs that cover package assets and paths?

[2016-08-04 18:45] #1509 closed, assigned to emgarten

[2016-08-04 18:47] natemcmaster opened #3278 "Restore ignores reference assembly from some transitive dependencies"
## Repro

Restore this:

[code]

Example of a transitive dependency:
Package structure of System.Runtime.Loader/4.0.0

[code]
## Expected output

System.Runtime.Loader is a dependency of Microsoft.NETCore.App so it should be included in lock file and its reference assembly made available in the "compile" section of the lock file.

[code]
## Actual output

The reference assembly is left out and pla

[2016-08-04 20:07] alpaix commented on #3265
We just verified that Dev14 U3 (with NuGet 3.4.4) installed EF 6.1.3 incorrectly - it should be failing. So that was a 3.4.4 bug.

@v-luzh @v-nancyj Please remove this test from the test script.
We'll reconsider adding it back when EFCore starts supporting UWP projects.

[2016-08-04 20:07] #3265 closed, assigned to alpaix

[2016-08-04 20:16] harikmenon commented on #3027
We dont have exising docs that do this :)

[2016-08-04 20:16] harikmenon commented on #3027
@karann-msft : can you work with @emgarten to figure this out?

[2016-08-04 23:06] emgarten commented on #3278
Microsoft.NETCore.App.nuspec excludes compile for this package:
`<dependency id="System.Runtime.Loader" version="4.0.0" exclude="Compile" />`

Adding it as a top level dependency as your workaround states will include compile again and override this.

[2016-08-05 00:07] natemcmaster commented on #3278
Aha, makes sense. Thanks @emgarten. I missed that key piece of Microsoft.NETCore.App.nuspec.

[2016-08-05 00:07] #3278 closed, assigned to nobody

[2016-08-05 02:11] emgarten commented on #2994
Restore target spec https://github.com/NuGet/Home/wiki/%5BSpec%5D-MSBuild-restore-target

[2016-08-05 08:55] v-nancyj opened #3279 "[Test Failure] The package “EntityFramework” can’t be installed into Runtime Component (Windows 8.1) project"
**Repro Steps:**
1. Create a new project C#-> Windows 8->Windows Runtime Component (Windows 8.1).
2. Right-click the project node and click "Manage NuGet Packages…" menu to start package manager.
3. Install package “EntityFramework”, and verify it can be installed.

**Expected Result:**
The package “EntityFramework” can be installed correctly.

**Actual Result:**
The package “EntityFramework” can’

[2016-08-05 09:01] tuzand commented on #3276
Thank you for your answer.
No Install-Package also doesn't help.
I tried to install first "gflags" package, it was added to the project file without any problem.
After that I tried "hdf5-v120-complete" and it won't be added to the project file.
I am generating the VS project with cmake, so I must always add a following line manualy to the "ExtensionTargets ImportGroup" in the vcxproj file in order

[2016-08-05 09:07] Spiralis commented on #1359
I am glad to hear that this is close to becoming a reality (at least for the client). I guess my brief moment of bliss is a bit "downed" by the fact that we run a private NuGet server, and I understand it so that the server needs updating too to make this work as I am hoping for... :disappointed: But, very happy about this making real progress. Keep up the good work. Change is good :smirk:

[2016-08-05 09:34] v-luzh commented on #3206
It also repro with package **'Microsoft.Net.Compilers'** after **_include prerelease_** on NuGet 3.6.0.1738. The 'Update-Package' command can't update this package to the newest version on the same project.(Repro on VS2015Update3 w/ NuGet 3.4.4)

[2016-08-05 09:39] mrward opened #3280 "Unable to install Microsoft.Net.Http into an iOS or Android project"
This was originally reported on [Xamarin's bug tracker](https://bugzilla.xamarin.com/show_bug.cgi?id=43070)

With NuGet 2.12 or higher it is not possible to install Microsoft.Net.Http into an iOS or Android project. It fails when trying to install Microsoft.Bcl.Build 1.0.14.

[code]
- Xamarin Studio 6.0.1 (NuGet 2.8.7) - OK
- Xamarin Studio 6.0.2 (NuGet 2.12) - Fails.
- Visual Studio 2013 (NuGet 2

[2016-08-05 15:00] drewgillies commented on #3081
dev/release branch and private dev branch E2E tests both operational. Task complete.

[2016-08-05 15:00] #3081 closed, assigned to drewgillies

[2016-08-05 15:58] alpaix commented on #3210
Tested the CPS vsix with latest NuGet 3.5.0-rc-1697 in VS15 Preview **3**. Spotted no issues.
Resolving...

[2016-08-05 15:58] #3210 closed, assigned to alpaix

[2016-08-05 16:36] fcallejon commented on #2657
Hi I'm having the same issue.
Invoke-WebRequest hangs (despite I set TimeoutSec), but after ~5 mins it returns.

If i run "nuget restore", either including disable parallel or not, I can get the nugets. But `dotnet restore` doesn't work.

`dotnet --version`: 1.0.0-preview3-003223
`dotnet --info`:

[Here is the log](http://pastebin.com/raw/WpV3kZJ5)

[2016-08-05 16:38] lszomoru commented on #2887
At the moment I am working on a .NET Core project in which I am trying to use multiple private packages that are being stored in VSTS. If my understanding is correct, the only way to get "dotnet restore" to work is to create a personal access token and store this personal access token as clear text in the nuget.config file. I think that the end goal should be to get "dotnet restore" to work the sa

[2016-08-05 17:10] GabrielFerrarini commented on #3271
I'm having the same issue.

Running

[code]

produced the logs below:

[code]

This is my Nuget.config file

[code]

Pernal Access Token generated using the instructions at https://www.visualstudio.com/en-us/docs/setup-admin/team-services/use-personal-access-tokens-to-authenticate

Following steps described at https://www.visualstudio.com/en-us/docs/package/get-started/nuget/auth#net-core

I also

[2016-08-05 17:16] emgarten commented on #3276
From the import you shared it looks like the package is authored incorrectly. The target file name must match the package id.

In your case it looks like the package id is: hdf5-v120-complete  however the targets name is hdf5-v120

[2016-08-05 17:21] GabrielFerrarini commented on #3271
I just realized I was making a silly mistake by using <VSTS> as my root key for my credentials. Using the exact same steps as above but changing my Nuget.config file to the below allowed the dotnet restore to run and get my packages from the private feed:

[code]

[2016-08-05 17:38] janpieterz commented on #3271
There is a difference in that you are using the username and password/token approach @GabrielFerrarini.
I am using the approach where the build identity has access to the package feed, so in that case you can just leave the credentials out of the nuget.config and let it run (well, at least that's how the normal nuget restore works).

[2016-08-05 17:38] janpieterz commented on #3271
I also don't get the exception with the wincred stuff, mine just blanks out after the error

[2016-08-05 17:42] GabrielFerrarini commented on #3271
@janpieterz I wasn't getting the exception until I put the "--verbosity" flag. It was just the same error that you're getting. I'm also hoping that the dotnet restore feature will run without providing credentials, but this is how I have to go in the meantime :).

[2016-08-05 17:50] janpieterz commented on #3271
You're right! Thought I tried it with Debug but did Information -.-'. Mine now also returns the SetWinHttpCredential.

I'll have to change the config for now to allow this to work, thanks for the push in the right direction.

Let's hope we can get rid of that when this bug is solved :)

[2016-08-05 17:51] emgarten commented on #3279
That framework assembly may not exist for win8, this looks like a package issue.

[2016-08-05 17:58] emgarten commented on #3280
This does look like a package issue. NuGet adds the additional xamarin compatibility mappings for known frameworks such as 78, it doesn't try to extend this to profile variations that could also be compatible.

[2016-08-05 18:05] rrelyea commented on #2469
@piotrpMSFT after talking with @natemcmaster yesterday, we think this should be tracked as a CLI issue.
Make sense?

1) provide docs on best practices today to do development of a tool and debug, etc...
  (nate passes 3 params into dotnet.exe to run after building his tool, but skipping the need to pack, and restore the target prop)
2) consider doing better than what is possible today.

[2016-08-05 18:15] natemcmaster commented on #3274
More information: this is conflated with dotnet/roslyn#12255. Although it is correct that 1.1.36.0 is the version of System.Collections.Immutable that actually ends up in the output folder, Microsoft.EntityFrameworkCore depends on 1.2.0.0.

In this kind of scenario, should the binding redirect that NuGet generates pointing back to old versions?
`<bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVer

[2016-08-05 18:20] Wua4 opened #3281 "Nuget isn't working for me on VS."
When opening the package manager in VS2015;

I can't install packages like this.

[2016-08-05 19:35] TheRealPiotrP commented on #2469
@brthor as well

This issue has been bouncing around for a while and it doesn't cleanly land in CLI or NuGet.

The NuGet ask here is that we need to enable restore to find P2P references for tools. Today, it is only able to restore tools if there is a nupkg available. Certainly there are many workarounds available to us but none of them are acceptable, at least of those which I've been exposed to.

[2016-08-05 20:00] GabrielFerrarini commented on #3271
@jainaashish In order to not push access token into the repository I did the following (Inspired by this: https://codingcase.com/2016/07/27/vsts-build-setup-custom-nuget-feeds-with-authentication/)

Two powershell steps:

Remove Nuget Source (Continue on error true)

[code]

Add Nuget Source

[code]

I lack powershell skills though so I added the "remove" step before the add "step" in order to avo

[2016-08-05 20:14] tsublette commented on #3263
Bump - any update on this?

Thanks!

[2016-08-05 21:33] emgarten commented on #3281
try adding the v3 source: https://api.nuget.org/v3/index.json

[2016-08-05 21:34] rrelyea commented on #2514
we reverted the earlier batch fix for project.json. reopening.

[2016-08-05 22:55] deadlydog commented on #1827
Just a note that I have finally got around to retesting this and also cannot reproduce it, so I believe the problem is fixed. Thanks!

[2016-08-06 11:41] mrward commented on #3280
Thanks. Since this is not a NuGet problem and is fixed in the latest version of Microsoft.Bcl.Build I am going to close this issue.

[2016-08-06 11:41] #3280 closed, assigned to nobody

[2016-08-06 15:58] tuzand commented on #3276
Thank you for the suggestion, but in the downloaded "hdf5-v120-complete" package folder there is really a target file with a name of "hdf5-v120.targets", and my project can be compiled if I add that import line.
The problem is that this line must be added manually, after installing hdf5-v120-complete.
The problem persists also if I install this package without packages.config but with the NuGet-Pa

[2016-08-06 18:25] cynicbox commented on #3255
Nothing wrong with NuGet. It's my network issues.

[2016-08-06 18:25] #3255 closed, assigned to nobody

[2016-08-06 18:58] emgarten commented on #3276
That is a bug in the package, those names need to match. NuGet will only add imports to targets with the exact same name as the package. See: http://docs.nuget.org/Create/Creating-and-Publishing-a-Package#import-msbuild-targets-and-props-files-into-project

[2016-08-07 09:08] acrolink opened #3282 "[Linux] How to make xbuild *.csproj download the needed packages specified in packages.config file automatically?"
I have noticed that running `xbuild *.csproj` searches the the parent folder for the needed Nuget packages inside `../packages` folder. Running `xbuild *.csproj` returns errors if the packages are not on that location. I have currently solved this issue by running `mono ~/.nuget/NuGet.exe install -OutputDirectory ../packages` first. My question how to automate this action? How to make xbuild downl

[2016-08-07 18:56] emgarten commented on #3282
@acrolink take a look at https://github.com/kzu/NuGet.Restore

[2016-08-07 18:58] acrolink commented on #3282
Thanks @emgarten

[2016-08-08 02:46] v-nancyj commented on #3267
@joelverhagen -This bug can't repro on the last build 1731 ( dev latest) during my investigation, please help to close the bug. Thanks!

[2016-08-08 10:08] Evangelink commented on #3225
@harikmenon sorry to bother, any up on this "issue"?

[2016-08-08 15:11] CoskunSunali opened #3283 "Exception thrown when trying to manage NuGet packages on a project"
I started having the following error displayed whenever I click on "Manage NuGet Packages..." option on Visual Studio solutions and projects. It used to work and I don't remember installing or updating anything so that it could get broken all of a sudden.

I cleared the component cache, etc but no luck so far.

What might have gone wrong?

![nuget](https://cloud.githubusercontent.com/assets/650938

[2016-08-08 15:25] CoskunSunali commented on #3283
Restarting my computer seems to have fixed the issue...

Keeping the issue open since you may want to see that this error has been thrown. If it is no importance, please feel free to close the issue.

[2016-08-08 15:27] harikmenon commented on #3225
Here is a link to the doc that we have written that shows the exact steps to get a package to build for UWP. Do note that this is for native, so you can skip the native lib sections.

http://nugetdocsbeta.azurewebsites.net/ndocs/guides/build-for-uwp

[2016-08-08 15:55] billyzkid commented on #1221
It doesn't seem possible at the moment to create a single nuget package that works across all UAP application languages (C#, VB, C++, JS) containing a WinRT component with x86, x64, and ARM binaries.

The problem is caused by C# and VB using project.json while C++ and JS use packages.config. There seems to be no way (in a single package) to add build file(s) targeting the C++ and JS specifically (

[2016-08-08 16:02] xied75 commented on #1883
guys it might be crystal clear to you what's going on, for lots of other people who is never an expert of NuGet to understand all these black magic, anyone bother to explain a bit more? (or one must be expert of NuGet to survive as a .NET dev?) Yes you may argue it is because the expanded surface .NET is supporting, while it is true I was still wondering does a Java dev also need to go through sim

[2016-08-08 20:54] rrelyea commented on #3283
Odd error. Have not seen. Putting into textual form, so that future searches will work:
"The invocation of the constructor on type 'NuGet.PackageManagement.UI.InfiniteScrollList' that matches the specified binding constraints threw an exception."

Resolving not repro.

[2016-08-08 20:54] #3283 closed, assigned to nobody

[2016-08-08 20:57] #3282 closed, assigned to nobody

[2016-08-08 20:59] rrelyea commented on #3281
Like duplicate of #2880 .
please confirm or deny.

[2016-08-08 20:59] #3281 closed, assigned to nobody

[2016-08-08 21:06] rrelyea commented on #3279
Transferred the problem with the package to the EF team repo. (see link above)

[2016-08-08 21:06] #3279 closed, assigned to nobody

[2016-08-08 21:08] #3277 closed, assigned to nobody

[2016-08-08 21:10] #3276 closed, assigned to nobody

[2016-08-08 21:11] rrelyea commented on #3275
Please file complete description of problems. This appears to be spam?

[2016-08-08 21:11] #3275 closed, assigned to nobody

[2016-08-08 21:21] rrelyea commented on #3274
NuGet should investigate, but won't likely get to for a while.
1) would setting specific version to true be best?

[2016-08-08 21:37] ratishphilip commented on #1112
@maartenba @yishaigalatzer
Is this issue back again.
I uploaded my Nuget package [CompositionProToolkit](https://www.nuget.org/packages/CompositionProToolkit/) 3 hours ago but still it is showing "**This package has not been indexed yet**" message.
Earlier it used to take not more than 10-15 mins for the package to be available.

[2016-08-08 23:23] BobFrankston commented on #1215
I'm having the same problems with my TypeScript apps but nuget seems to be fine for C#. How can I figure out what is happening? Did the Admin uninstall/install and renamed the NUGet app directory. Think I"m running the latest everything.

[2016-08-08 23:26] yishaigalatzer commented on #1112
Thanks, we did have a period today where we had a delay. The issue was fixed, and things should be back to normal.

You can always check status at https://status.nuget.org/

Here is the graph from the time of the event:

![image](https://cloud.githubusercontent.com/assets/1238711/17499786/9048777c-5d84-11e6-9e4f-17fac9e8cbfa.png)

[2016-08-08 23:42] ratishphilip commented on #1112
@yishaigalatzer Thank you very much.

[2016-08-09 00:32] colelloa commented on #3259
Is there a way to find license information with the API? I've noticed that there is very little metadata information in the catalog0, registration0, and v2v3search links, yet license information is often available on pages such as https://www.nuget.org/packages/NLog/2.0.1.2

[2016-08-09 00:58] emgarten commented on #3259
The licenseUrl is available in the catalog. The license name comes from Sonatype and isn't on the v3 feed as far as I know.

[2016-08-09 02:59] mdkf opened #3284 "Nuget add does not support wildcard"
nuget.exe add *.nupkg -Source D:\Test -NonInteractive returns:
Illegal characters in path.

[2016-08-09 08:47] v-luzh opened #3285 "Install/Update/Uninstall in PM UI should be disabled during installing/Updating/Uninstalling a package in PMC"
**Repro Steps:**
1.  New project -> Visual C# -> Web -> ASP.NET Web Application, then uncheck the box for "Application Insights".
2.  Click Web Forms template and check “Web Forms” and “Web API”.
3.  Change Authentication to “No Authentication” and click OK button.
4.  Open ‘Manage NuGet Package for Solution…’.
5.  Open “Package Manager Console” and type "update-package" (or install).
6.  Try to d

[2016-08-09 08:51] maartenba commented on #3259
The license URL is also in:
- Search
- Registration blobs

The friendly license name is used only on the gallery (and also only available there, no plans to add it to the API)

[2016-08-09 09:05] v-luzh opened #3286 "The vertical scrollbar is truncated in the default layout of Package Manager UI Window"
**Repro Steps:**
1.  New project -> Visual C# -> Web -> ASP.NET Web Application, then uncheck the box for "Application Insights".
2.  Click Web Forms template and check “Web Forms” and “Web API”.
3.  Change Authentication to “No Authentication” and click OK button.
4.  Open ‘Manage NuGet Package for Solution…’.
5.  Click “Browse” tab and click a package.

**Expected Result:**
The vertical scrollba

[2016-08-09 10:28] droyad opened #3287 "Point people to v3 packages in docs"
The `Nuget.Core` nuget package can't be used by netcoreapp and ASP.NET Core projects as it only targets `4.0-client`.

Happy to at least spike this out if it fits into plans for the product, I couldn't find any issues discussing it.

Until xproj/csproj references work, I think a side-by-side project approach would be the best approach.

[2016-08-09 12:38] Heinzelemente commented on #1298
I have the same issue. I am using my own package which I created and successfully installed initially.
No I triedto update it and uninstalled it , because the version is the same and install it again.
I receive this error and I am not able to install it again:

[code]

I can share my .nuspec and .nupak if necessary.

[2016-08-09 12:46] wbradney commented on #2817
Is this fix going to be available in a 3.5.x version?

[2016-08-09 12:52] Heinzelemente commented on #1298
An update is working fine. e.g. from 0.0.1 to 0.0.2, but uninstall and install is destroys the project.
I am glad TFS is in place.

[2016-08-09 13:57] Wua4 commented on #3281
I don't believe it's a duplicate. The  error is different. Also there is no http_proxy variable on my machine.

[2016-08-09 13:58] Wua4 commented on #3281
V3 source is the same

[nuget V3] Unable to load the service index for source https://api.nuget.org/v3/index.json.
  An error occurred while sending the request.
  The remote server returned an error: (400) Bad Request.

[2016-08-09 14:17] Wua4 commented on #3281
Figure it out on my own. Deleted the %AppData%\NuGet\nuget.config and restarted VS2015

[2016-08-09 17:51] alpaix opened #3288 "Merge net core tools "restore process" into nuget.tools.vsix"
Restore happens on open project and changes to .csproj/project.json (for current or dependent projects)
Note -- need to solve the upgrade scenario .. Don't loose state from the package. Find UWP bug.

[2016-08-09 17:52] joelverhagen commented on #2806
Closing. Offline discussion decided this is "pain with no gain".

[2016-08-09 17:52] #2806 closed, assigned to nobody

[2016-08-09 18:03] mishra14 opened #3289 "Adding clear cache button to VS package manager settings"
Using this issue to track and get UI feedback for the clear cache button to be added into VS package manager settings page.

[2016-08-09 18:35] mishra14 commented on #3289
![2016-08-09 6](https://cloud.githubusercontent.com/assets/10507120/17528699/4b0ebe04-5e25-11e6-8af0-feb8e1ff674e.png)

@harikmenon @yishaigalatzer @rrelyea : Let me know if this looks fine.

Thanks

[2016-08-09 18:41] emgarten commented on #2817
@wbradney yes, this will be in 3.5.0-rc1. It looks like this was added to the wrong milestone, I'll fix it.

[2016-08-09 18:42] emgarten commented on #3281
@alexzxz very strange, your nuget.config may have contained proxy settings that were causing your requests to fail.

[2016-08-09 20:00] hesantan commented on #1215
I had this issue again.

This is my repo:
1. Clean installation of VS 2015 on a new machine.
2. Installed NuGet extension through website instead of extension manager.
3. Opened website project that uses private NuGet server.
4. Added private NuGet source.
5. Updated source packages
6. Attempted to update sources through UI and it says the configuration is invalid
7. Attempted to update sources th

[2016-08-09 20:48] emgarten commented on #3287
netstandard is supported in the latest packages, checkout http://daveaglick.com/posts/exploring-the-nuget-v3-libraries-part-1

Source code is here: https://github.com/NuGet/nuget.client/

[2016-08-09 20:52] #2065 closed, assigned to alpaix

[2016-08-09 21:06] #3267 closed, assigned to joelverhagen

[2016-08-09 21:49] alpaix opened #3290 "Implement per-source packages cache"
**Customer Scenario**
A user has two sources with actual packages to restore:
- sourceA\xyz.1.0.0.nupkg with (xyz.dll, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null)
- sourceB\xyz.1.0.0.nupkg with (xyz.dll, Version=1.0.0.0, Culture=neutral, PublicKeyToken=123456)

**Expectation**
`nuget restore -source sourceA` and `nuget restore -source sourceB` would restore correct package from relevant

[2016-08-09 21:57] droyad commented on #3287
@emgarten Ah that explains it. I've put up a few PRs explaining this as I spent a couple of hours trying to find a later version.

Perhaps updating the Nuget.org description for `Nuget.Core` to something like the following will help in the future:

[2016-08-09 22:05] alpaix opened #3291 "Add end-to-end tests for xplat cli"
Follow up on NuGet/NuGet.Client#813.

Password encryption support for .NET Core, e.g. in `dotnet restore`, assumes package source credentials to be added first by running nuget.exe:
[code]

As of today NuGet client does not possesses infrastructure to run tests spanning multiple clients. One of alternatives would be establish PS-based CLI test suite similar to existing EndToEnd category.

[2016-08-10 05:49] SupporterMan opened #3292 "Add NuGet Package update indicators in Solution Explorer"
Now we need to open the NuGet Package Manager to check whether there has any package updates for the installed packages. Is it possible to let the updates notification added into the Visual Studio Notifications windows, which is more easily be found?

[2016-08-10 12:26] Evangelink commented on #3225
Thanks for the update and for the guide.

I am updating the nuspec files now and will get back to you as soon as I have finished. On the website guide, you recommend to add the files into a `runtimes` folder and I have seen on some of the nugets we are using that people have put their content into a `sdk` folder. Could you tell me the difference? Is runtime only for UWP projects?

[2016-08-10 14:27] ratishphilip opened #3293 "Creating NuGet package for Templated Control (using Generic.xaml)"
Hi,
@emgarten @yishaigalatzer @Pilchie @jasonmalinowski  @ericstj

This is an extension of discussion we had in the issue #1834

I have a control library which contains a TemplatedControl named **VisualControl**. Within the library there is a **Themes** folder which contains the **Generic.xaml** file. This file contains the default template for **VisualControl**.

Now I am creating a NuGet package

[2016-08-10 15:31] contento commented on #766
I wonder if it is possible to up the priority of this bug. I have tried so many workarounds (@kstrauss) in TFS to no avail. I know that we are going to find ways "to deal with" but, IMHO, this is supposed to be a simple build task with no hacks or long Google/Stackoverflow searches. Not sure, if it's because not that many developers use TFS (?).

[2016-08-10 18:20] harikmenon commented on #3225
runtime is for platform specific binaries. Native project are compiled down into the assemblies compatible on the target OS. Runtime folders is used to put platform specific binaries.

[2016-08-10 19:04] MarkOsborneMS opened #3294 "Add source to detailed logging (consider for 3.5)"
Microsoft's internal CoreXT tool has been running with a fork of nuget that adds additional logging indicating the source when a package is download from a remote source. e.g.:
`Added package 'Newtonsoft.Json.9.0.1' to folder 'E:\repos\mytest\packages' from source 'https://api.nuget.org/v3/index.json'`

Adding this functionality to nuget would allow CoreXT to get back onto the mainline nuget rathe

[2016-08-10 19:26] rohit21agrawal opened #3295 "Have better UI to unlist all package versions at once"
There should be a way to unlist all packages/package versions instead of having to go separately on each version and un-listing.

[2016-08-10 19:43] emgarten opened #3296 "Add build assets to the TFM compatibility check and assets file"
The guardrails compatibility check for target frameworks is built for xproj/project.json and ignores build assets.

With the move to MSBuild NuGet should include build assets during the compat check, and it should also write these items to the lock file to make it clear that they are assets selected from the package.

[2016-08-10 20:03] emgarten commented on #3152
This should go into 3.5.0-rtm also //cc @rrelyea

[2016-08-10 21:03] carisoftware commented on #3264
this happening to me too.

[2016-08-10 21:49] joelverhagen commented on #3294
Merged into `dev` with https://github.com/NuGet/NuGet.Client/commit/b335ef98b50bffe1d5e07a987e881d4dd9994f2f. @rrelyea, we spoke offline about this potentially going into 3.5.

[2016-08-10 22:38] rohit21agrawal commented on #3238
closing due to lack of response. please feel free to reactivate if this issue still repros.

[2016-08-10 22:38] #3238 closed, assigned to rohit21agrawal

[2016-08-10 23:02] kingerja opened #3297 "nuget restore/install from unc share behaves differently from nuget install from nuget feed."
Using nuget 3.5.0.1737

set tempinstall=D:_t\tmpout
rd /s/q "%tempinstall%"
md "%tempinstall%"
nuget locals -clear all
nuget install Microsoft.ProjectCop -NonInteractive -source "https://msdata.pkgs.visualstudio.com/DefaultCollection/_packaging/SQL_Toolset/nuget/v3/index.json" -OutputDirectory "%tempinstall%" -PackageSaveMode nupkg;nuspec
dir C:\Users\%username%.nuget\packages
dir C:\Users\%userna

[2016-08-10 23:27] zhili1208 commented on #1215
this issue is related to creating nugetProject type, it can be DTEProjectCache Initialization failed or passed wrong project name. Since I can't repro this, it's hard to see what's the real issue here. I think we should improve logging here first, the error message "configuration is invalid" is incorrect, we should provide project name, all projects in cache when default project is null. Then we c

[2016-08-10 23:29] yishaigalatzer commented on #1215
I believe Justin was hitting this locally as well. Can you please follow up with him?

[2016-08-10 23:32] jainaashish opened #3298 "update package failed to update binding redirects on a web application project"
Repro steps:
1. Create a new asp.net web application project
2. build and run, it will run successfully.
3. open PM UI and update newtonsoft.json package to latest
4. Now build and run, it will show below error. And the root cause is after updating newtonsoft.json package, it doesn't update it's binding redirects in web.config.

Error:
Could not load file or assembly 'Newtonsoft.Json, Version=6.0.

[2016-08-10 23:32] zhili1208 opened #3299 "Improve logging when Default project Initialization fails"
This is related to https://github.com/NuGet/Home/issues/1215
When Default Project returns null, We have no idea what happens and error message "configuration is invalid" is incorrect. Need to improve logging for this case, When default project return null, we should provide all projects in DTEProjectCache, projectSafeName for default project.

[2016-08-10 23:51] jainaashish commented on #3206
This is the right behavior since AspNet.ScriptManager.bootstrap 3.3.6 package doesn't allow bootstrap 3.3.7 which is why it restrict updating these packages.

[2016-08-11 00:00] karann-msft commented on #3296
[Issue restoring MSBuild only NuGet package.pdf](https://github.com/NuGet/Home/files/412340/Issue.restoring.MSBuild.only.NuGet.package.pdf)

[2016-08-11 00:10] ratishphilip commented on #3293
Found out the solution myself.
- The **Generic.xbf** file should be placed in the **Themes** folder along with **Generic.xaml**.
- The **TestVisualControl.xr.xml** file should be placed in a folder named **TestVisualControl**. This folder should be placed inside **uap10.0** folder of each platform.
- The **TestVisualControl.pri** should be placed inside the **uap10.0** folder of each platform.

He

[2016-08-11 00:14] #3293 closed, assigned to nobody

[2016-08-11 09:19] f0rt commented on #2186
I'm not sure if this is already resolved but I'm still getting the warnings on version 3.4.4.1321. I'm using "*" for package versions and I get these warnings.

[2016-08-11 11:47] kinju4374 commented on #2913
I am also facing same issue. Can you please suggest how to exclude it? I am not aware how to do it. Also, if I update to Visual Studio Update 3, will it resolve this issue?

[2016-08-11 13:17] harikmenon commented on #3293
Thanks @ratishphilip . We have been working on building a guide for this in NuGet docs. A sneak preview of this is available here. One thing to note is that you dont the xbf since the compilation of the host app will generate and override that for you.

http://nugetdocsbeta.azurewebsites.net/ndocs/guides/create-uwp-packages

[2016-08-11 14:02] rrelyea commented on #3297
Please investigate/analyze.

[2016-08-11 14:13] ratishphilip commented on #3293
@harikmenon
Thank you very much for the info.

[2016-08-11 14:41] RandomEngy commented on #2913
You can apparently suppress the error by adding `<SkipValidatePackageReferences>true</SkipValidatePackageReferences>` to the at the top of your csproj/vbproj

[2016-08-11 15:14] rrelyea commented on #3179
Discuss and consider for 3.5rtm in the coming next week or two. or determine other work necessary to fix list and assign to 3.6.

[2016-08-11 16:02] alpaix commented on #2393
Original dotnet/cli#1679 issue was caused by a bug in CoreFx (null pointer exception in `System.Net.Http`) of earlier versions. NuGet supports windows auth out of the box.

As we recently refactored our authentication stack I went ahead and validated reported scenario via _NuGet.Server v2.11.2.0_ configured with NTLM auth module on IIS Express. No issues spotted in:
- NuGet 3.5.0-rtm-1724
- .NET C

[2016-08-11 16:04] derekgreer opened #3300 "Package manager Console displays: Signature specified is zero-sized."
I've got a fresh install of Visual Studio 2015 update 3 and am getting the following message in the Package Manager Console:

Signature specified is zero-sized. (Exception from HRESULT: 0x80131237)

I've tried reinstalling the Nuget Package Manager extension, but the problem remains.

[2016-08-11 16:05] alpaix commented on #2393
@raffaeler @tebeco Could you please confirm the issue has been resolved in your scenarios?

[2016-08-11 16:17] raffaeler commented on #2393
Unfortunately / luckily I can't because they finally put nuget in the proxy exception list

[2016-08-11 16:28] tebeco commented on #2393
@alpaix what have been resolved ?
and using what version of what ;)

I still have issue but it's really weird

On corporate network on .NetCore app

Nuget Path is in PATH var and it's CLI 3.5 beta2

nuget VSIX is 3.5 Beta2

I have to run manually

Every time I create a new project using for example NUnitit fails to restore pacakges
Unless I use nuget CLI :

And it will restore packages from intern

[2016-08-11 16:51] alpaix commented on #2393
@tebeco Few questions to you to clarify your complains:
- Do you know what server you use for package feed, e.g. NuGet.Server, Klondike, Visual Studio TFS?
- Is your desktop behind corporate proxy?
- Does `dotnet restore` work?
- What exact VS version do you use, 2015 what update?
- What type of project do you create in VS when it fails restoring?
- Do you see any output messages in output window?

[2016-08-11 17:00] rrelyea opened #3301 "Update CPM opt-in documentation"
https://learn.microsoft.com/en-us/nuget/consume-packages/central-package-management#enabling-central-package-management needs to say that ManagePackageVersionsCentrally is not needed with 6.10 and all the equivalent versions if DBP exists.

Work was done in https://github.com/NuGet/Home/issues/11834.

cc @jeffkl

[2016-08-11 17:01] eerhardt commented on #3136
With the implementation of the new `ResolveLockFileReferences` target in https://github.com/dotnet/sdk/blob/master/src/Tasks/Microsoft.DotNet.Core.Build.Tasks/Microsoft.PackageDependencyResolution.targets, this issue can now be closed.  We will not be using the `ResolveNuGetPackageAssets` target in .NET Core.  `ResolveLockFileReferences` handles RIDs correctly.

[2016-08-11 17:01] #3136 closed, assigned to nobody

[2016-08-11 17:39] yishaigalatzer commented on #3136
How do this ship to customers?

[2016-08-11 17:42] eerhardt commented on #3136
The .NET Core SDK ships in a NuGet package that contains the MSBuild tasks and targets necessary to build .NET Core projects.  You can see the package here:  https://dotnet.myget.org/feed/dotnet-core/package/nuget/Microsoft.DotNet.Core.Sdk

[2016-08-11 17:46] yishaigalatzer commented on #3136
My question was around how this ships for the non core scenario

[2016-08-11 17:48] eerhardt commented on #3136
I can't help you there.  Maybe @davkean and @natidea have an idea and can answer.

[2016-08-11 17:52] emgarten commented on #2186
@f0rt reference your projects using target instead of version. Take a look at the nuget repo for an example: https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.CommandLine.XPlat/project.json#L29-L31

[2016-08-11 18:02] tebeco commented on #2393
- NuGet org api v3
- Ntlm proxy with ssl rewriting
- not in vs/vscode/console unless package are in ProgramFiles cache
- latest stable version of any tools / update / kb (vs2015.3 vscode dotnet is the preview from .net core 1.0 rtm)
- .net core project only (any kind) lib/console/mvc. The boilerplate work thx to ProgramFiles cache but package like xUnit / NSubstitute will fail to restore unless I

[2016-08-11 18:07] zhili1208 commented on #3297
I can repro this issue, restore/install from local path or UNC share does not add packages to .nuget cache, I think this is because .nuget cache is used by v3 only before, when we merged v3 and v2, only restoring/installing from http source share the .nuget cache code path, local path/UNC share used another code path, that's why packages are not added to .nuget/packages folder

[2016-08-11 18:16] colelloa commented on #3259
Okay thanks, that'll work. Another question - where does normalized versioning get put into place here? For example, when I query an index page such as https://api.nuget.org/v3/registration1/sleet/index.json#page/0.1.0-alpha-01/0.1.0-alpha-01
and get a response with one to many fields in the 'items', will the 'version' field in each item's 'catalogEntry' be normalized or original? Is the normalize

[2016-08-11 18:28] emgarten commented on #3259
The `#` symbol in the URI means that it's referring to part of the same page. So what you are probably seeing is the entire index come back. Instead you need to resolve that link by finding `"@id": "https://api.nuget.org/v3/registration1/sleet/0.1.0-alpha-01.json"` and just parsing that json object.

Normalizing the version refers to how you construct version string in the URI, for example `0.1.0-

[2016-08-11 19:08] #3206 closed, assigned to jainaashish

[2016-08-11 19:18] jainaashish opened #3302 "Update package shows unnecessary warning about existing packages.config"
Repro Steps:
1. New project -> Visual C# -> Web -> ASP.NET Web Application, then uncheck the box for "Application Insights".
2. Click Web Forms template and check “Web Forms” and “Web API”.
3. Change Authentication to “No Authentication” and click OK button.
4. Open PM UI -> Update tab and select "bootstrap" packages to update.
5. It will fail with valid reason but will also show a warning about e

[2016-08-11 19:38] colelloa commented on #3259
I see now, thanks again. I noticed something in v2v3 search - both https://www.nuget.org/packages/bingmapappsdk and https://api.nuget.org/v3/registration0/bingmapappsdk/index.json are valid URIs, but https://api-v2v3search-0.nuget.org/query?q=bingmapappsdk returns nothing. Is this because every version of the package has been unlisted?

[2016-08-11 21:21] joelverhagen opened #3303 "xproj project.json update from Installed tab loses state"
@balachir

[2016-08-11 21:31] zhili1208 commented on #3301
finished validation, didn’t find any issue.

Validate steps:
1.  Added all packages to net45 project in VS, all works well.
2.  Added all packages which support netstandard to .net core netstandard 1.5 class library, all works well.
3.  Added NuGet.CommandLine.Xplat to .net core netcoreapp 1.0 console app, it works well.

[2016-08-11 23:33] emgarten commented on #3259
Yes, unlisting a package removes it from search

[2016-08-11 23:59] #3302 closed, assigned to jainaashish

[2016-08-12 00:11] harikmenon opened #3304 "Support Extension SDK's as NuGet packages"
Issue to track supporting extension SDK as nuget packages. What new features do we need. Top of my hat, we need to support the following

1) Register shared frameworks (Appx's) on install or provide this in lock.json for the build/deploy pipeline to pick up
2) Designer metadata

[2016-08-12 01:08] yozepi commented on #1264
I really, really miss this feature!

[2016-08-12 01:09] drewgillies opened #3305 "Extend NuGet build system to support VS15 Preview 4"

[2016-08-12 01:10] drewgillies opened #3306 "Create E2E agents for VS15 Preview 4"

[2016-08-12 01:11] harikmenon opened #3307 "Add a Add NuGet Package command to Add Reference Add-> in VS"
Currently, people get always confused when clicking on Manage NuGet Packages takes them to the Installed Tab.

For an explicit Add/install action, lets create a NuGet Package command in Project->Add-> Menu item. Folks who need to add a package reference can go here. It feels like a much more seamless experience.

[2016-08-12 04:37] kinju4374 commented on #2913
ok thanks. Do I need to add this above <Project> tag or inside it?

[2016-08-12 04:43] RandomEngy commented on #2913
Put it in the first PropertyGroup

[2016-08-12 04:44] kinju4374 commented on #2913
ok but there are total 7 PropertyGroup.Do I need to add in that also? Also, I have one Common project which includes all classes and two background task. Should I add same in that also?

[2016-08-12 05:26] smezger commented on #2393
@alpaix Thanks for solving this issue!
It's working now on my side behind the proxy with auth!
As you said, I've used:
-     NuGet 3.5.0-rtm-1724
-     .NET CLI 1.0.0-preview2-003121

[2016-08-12 06:01] tebeco commented on #2393
Out of curiosity, where does NuGet 3.5.0-rtm-1724 comes from ?
I only find beta2

[2016-08-12 06:31] smezger commented on #2393
You can download it here:
https://dist.nuget.org/win-x86-commandline/v3.5.0-rc1/NuGet.exe
However I’ve figured out that it is actually a newer build 1737 and not 1724.

[2016-08-12 06:39] gep13 opened #3308 "Warn when Pack command excludes a file that starts with ."
I recently ran into an issue where executing a `nuget pack` wasn't working, resulting in the following error:

![image](https://cloud.githubusercontent.com/assets/1271146/17614510/df5766d4-605e-11e6-890e-a66a3ae50efa.png)

After doing some digging, it turned out that this was due to the fact that I was using `.build` within the paths of the files that I was trying to include.  When I changed this

[2016-08-12 06:40] gep13 commented on #3308
The original problem and solution to this is captured here: http://stackoverflow.com/questions/38911494/why-does-nugetpack-respond-with-cannot-create-a-package-that-has-no-dependencie

[2016-08-12 08:14] v-luzh opened #3309 "[Test Failure] PMC update information is incorrect after executing command ‘update-package <packageID>’"
**Repro Steps:**
1.  Create a C# UAP - Blank App (Universal Windows) template.
2.  Open ‘Manage NuGet Package for Solution…’ and ‘Package Manager Console’.
3.  Open ‘Browse’ tab and install Newtonsoft.Json 6.0.1 by install button on PM UI.
4.  Type ‘Get-Package -Updates’ in PMC.
5.  Type ‘Update-Package Newtonsoft.Json’ in PMC.

**Expected Result:**
The update information in PMC should be ‘Success

[2016-08-12 08:19] v-luzh opened #3310 "[Test Failure] Build error occur after installing package ‘Mvvmlight’ to VB Silverlight Application"
**Repro Steps:**
1.  Create a VB Silverlight Application through 'New Project->Templates->Visual Basic'.
2.  Right-click the project ‘SilverlightApplication3’ and open ‘Manage NuGet Package…’.
3.  Build the project, no error.
4.  Type ‘Mvvmlight’ in the search box of ‘Browse’ tab.
5.  Install the ‘Mvvmlight 5.3.0’ package to the porject by clicking install button.
6.  Build the project again.

**E

[2016-08-12 13:33] dls314 commented on #1862
If I'm attempting to use NuGet to deliver .cs files to both project.json/.xproj style projects and packages.config/.csproj style projects, two questions.

Can I use the content and contentFiles mechanisms in the same package to deliver the same *.cs files?

Would it be better to just use separate packages?

[2016-08-12 13:49] MarkusWild opened #3311 "VS Nuget Client 3.3 resolves Dependencies - VS Nuget Client 3.4.4 does not"
We are using ProGet 4.0.9 and have Problems in Package resolving with VS 2015 while updating packages.

With VS 2013 the packages are updated without any Problems.

The VS 2015 Error List Shows following error:
Error       Unable to resolve dependencies. 'FLS.Bootstrapper 0.1.2634.1-alpha' is not compatible with 'HomagGroup.FLS.Infrastructure.Web 0.1.2634.1-alpha constraint: FLS.Bootstrapper (>= 0

[2016-08-12 15:48] yishaigalatzer commented on #1862
You can use both mechanisms in the same package

On Aug 12, 2016 6:33 AM, Dave Smith notifications@github.com wrote:

If I'm attempting to use NuGet to deliver .cs files to both project.json/.xproj style projects and packages.config/*.csproj style projects, two questions.

Can I use the content and contentFiles mechanisms in the same package to deliver the same *.cs files?

Would it be better to j

[2016-08-12 16:14] alpaix commented on #2393
@tebeco @smezger We've just released 3.5 RC (see [the release notes](http://blog.nuget.org/20160811/Announcing-NuGet-3.5-RC.html)).

[2016-08-12 17:44] alpaix commented on #2393
@tebeco Can you share the output from:

[code]

[2016-08-12 17:45] rrelyea opened #3312 "PowerShell5 breaks EntityFramework install?"
Please investigate this issue that came via internal email.

[2016-08-12 21:36] rrelyea commented on #3311
What version of VS are you using?
What version of NuGet are you using?
Please give us repro steps on how to reproduce in vs2015 with exact steps, starting from file new project?

Update: Actually, after I submitted this comment, I noticed the version details in the title. So you are saying VS2013 with NuGet v2.x works. VS2015 with NuGet v3.3 works. But VS2015 with NuGet v3.4.4 does not work?
[also

[2016-08-12 21:41] rrelyea commented on #3310
@v-luzh - are these part of automated or manual tests? Is this a package problem (did a previous version of Mvvmlight work fine, but the latest versions done)?

[2016-08-12 21:43] rrelyea commented on #3309
@v-luzh - can you please help me understand if we need to fix in 3.5rtm or 3.6beta1? Does the latest build from release-3.5.0-rtm branch show this same regression from 3.4.4?

[2016-08-12 21:47] rrelyea commented on #3309
Putting into 3.5rtm now. We'll want to fix then or 3.6, depending on the answer from @v-luzh

[2016-08-12 21:49] rrelyea commented on #3308
@rohit21agrawal - when we get to 3.6b2 issues, can you do an analysis of the info here and discuss the best strategy.

[2016-08-12 22:08] jikkujj opened #3313 "Cryptic error when doing update package"
When i run the command

[code]

I get the error

[code]

What does "packages" mean?

[2016-08-12 22:46] rrelyea commented on #3313
What version of VS/NuGet are you using?
Are you using private package names? or can you share exact repro steps so we can duplicate the same problem?

[2016-08-13 00:24] jasonmalinowski commented on #3232
NuGet/NuGet.BuildTasks#17 has been merged.

[2016-08-13 00:24] #3232 closed, assigned to jasonmalinowski

[2016-08-13 00:33] divega commented on #3312
@zhili1208 @rrelyea can you share more information about this?

[2016-08-13 02:36] jikkujj commented on #3313
I am using visual studio 2015 update 3 and nuget package manager 3.4.4 in a windows 7 OS.

I am using private package names. I was trying to do update-package

I just wanted some hint as to what might be the issue on my side

[2016-08-13 18:23] soroshsabz commented on #604
I had the same issue, and resolved it with close and reopen visual studio.

My visual studio is 2015 update 3
My nuget version is 3.5.0.1484

[2016-08-15 06:07] MarkusWild commented on #3311
Using 3.5rc1 has no positive effect. I also compiled the 3.6.0 Sources and installed the VSIX - also no effect. The Client can still not resolve the packages.

What other Input do you Need to resolve this issue?

[2016-08-15 06:30] MarkusWild commented on #3311
Perhaps this issue is correlated to the issue 2298:

https://github.com/NuGet/Home/issues/2298

We have Packages with 4 Digits Versions that ending with Zero.

The actual Packages.config is here:

[packages.zip](https://github.com/NuGet/Home/files/417596/packages.zip)

The old packages have the form:
  package id="FLS.Bootstrapper" version="0.1.2614.0-alpha" targetFramework="net45"
The updatable p

[2016-08-15 15:36] ericstj commented on #1221
I believe you can create targets/props in the root build folder and then just condition the content of them to only apply for UWP apps.

[2016-08-15 16:09] zhili1208 commented on #3312
@divega this issue only repro on customer's win7 machine, doesn't repro on customer's win10. Also I didn't get an repro on my win7 box. The problem is that the ps1 files literally does not exist when PowerShell tries to run it.  It is created and the contents written to it just milliseconds later.

[2016-08-15 16:23] divega commented on #3312
Thanks @zhili1208. Do you mean the ps1 file from the package hasn't been written to disk?

cc @bricelam and @natemcmaster for insights or in case they have seen anything like this.

[2016-08-15 16:37] natemcmaster commented on #3312
EF Core commands has [two different ps1 files,](https://github.com/aspnet/EntityFramework/tree/1.0.0/src/Microsoft.EntityFrameworkCore.Tools/tools) tools/init.ps1 and tools/install.ps1. Does NuGet ensure extraction from nupkg is complete before executing init.ps1 and/or install.ps1?

[2016-08-15 17:29] zhili1208 commented on #3312
@natemcmaster Yes, I think nuget ensure the extraction complete, I will ask customer to verify this again, will provide more info later.

[2016-08-15 17:30] jlanng opened #3314 "False (or misleading) error message"
I need to reinstall my packages because some of their dependencies have changed.  I'm calling the command

`update-package -reinstall`

but I'm getting the confusing error below.  It says the constraint isn't matched, but you can clearly see that it is.  I have tried 3.4.4 and 3.5 RC.

[code]

[2016-08-15 17:47] emgarten commented on #3314
Are all dependency constraints resolved in packages.config before the update takes place? Or is the project already in a broken state? In 3.5 RC do you see any additional warnings during this operation?

[2016-08-15 18:00] emgarten commented on #3311
There are some known issues around error messages being incorrect when the project is already in a broken state before the update/install. It looks like the client detected that this is the case and displayed a warning.

It may help to first find what package is missing or has invalid dependency constraints in the current packages.config file before trying to update.

You can also try:
1. Copy the

[2016-08-15 18:02] jlanng commented on #3314
Thanks for your reply Justin.

Here's the yellow text from 3.5 RC.  TBH, I don't see any conflicts and all these packages are available. Could it be something to do with my dependencies being pre-release?

`One or more unresolved package dependency constraints detected in the existing packages.config file. All dependency constraints must be resolved to add or update packages. If these packages are

[2016-08-15 18:07] emgarten commented on #3314
I see packages that require `MyCorp.Host (>= 5.0.0.17)` however it looks like `MyCorp.Host 5.0.0.17-pilot` is installed, which is a pre-release version that does not meet the constraints.

[2016-08-15 18:17] jlanng commented on #3314
OK, got it.  It's down to the way we're producing our builds. Thanks for the swift response, much appreciated.  Those extra messages in 3.5 are a lifesaver!

[2016-08-15 18:17] #3314 closed, assigned to nobody

[2016-08-15 18:49] #2736 closed, assigned to jainaashish

[2016-08-15 20:31] emgarten commented on #3313
@jikkujj would you try this again using the latest 3.5.0-rc version from https://dist.nuget.org/index.html

If you still get the error try changing the msbuild verbosity in visual studio to diagnostic under _options > projects and solutions > Build and Run > MSBuild project build output verbosity_, this will increase the powershell logging.

[2016-08-15 20:42] #3303 closed, assigned to joelverhagen

[2016-08-15 20:57] AndreyAkinshin opened #3315 "Troubles with nuget.exe 3.4.4.1321"
I'm trying to download all the NuGet.\* packages via command line. When I try to run

[code]

it hangs without any useful messages. I have successfully installed almost all the packages except: `NuGet.Commands`, `NuGet.DependencyResolver`, `NuGet.PackageManagement`, `NuGet.ProjectManagement`, `NuGet.ProjectModel`. What I'm doing wrong?

[2016-08-15 21:17] emgarten commented on #3315
nuget.exe install is an old command that does not support target frameworks, it isn't going to work for these packages. Typically the framework comes from the project, but in the case of nuget.exe install there is no project.

I suggest creating a project.json file that references the top level packages you need and using nuget.exe restore download and resolve the dependencies if you are trying to

[2016-08-15 21:28] AndreyAkinshin commented on #3315
Hmm... Is there another way to download these libraries? And why I can install `NuGet.Client`? What the difference between `NuGet.Client` and `NuGet.Commands`?

[2016-08-15 21:44] emgarten commented on #3315
The easiest way might be this
1. Create a new class library in visual studio targeting .NET 4.5 or higher
2. From the NuGet UI or powershell console install NuGet.Commands
3. Copy out the packages.config file

The packages.config file will contain the complete closure of packages you need, you can then run `nuget.exe install packages.config -OutputDirectory packages -Source https://api.nuget.org/v

[2016-08-15 21:52] AndreyAkinshin commented on #3315
You did not answer my last question: what the difference between `NuGet.Client` and `NuGet.Commands` with respect to the `install` command? Why I can install `NuGet.Client` and can't install `NuGet.Commands`? In fact, I want to download all the `NuGet.*` packages.
Will you support a way to download any nuget packages from the command line without `packages.config` or `project.json` in the future?

[2016-08-15 22:56] mishra14 opened #3316 "Running dotnet nuget locals --clear global-packages on linux, causes dotnet cache priming failure in subsequent runs"
Creating an issue to track the behavior on linux.

Repro [Once, dotnet nuget locals command is lit up] -
1. Run `dotnet nuget locals --clear global-packages`
2. Run `dotnet nuget locals --list all`
3. Observe that dotnet is not able to prime the nuget cache.

[2016-08-15 22:58] zhili1208 commented on #3312
@divega @natemcmaster the customer found the root problem, when they removed a policy that prevented powershell scripts from running, they still had an __PSLockDownPolicy environment variable set to 4, which after removal, appears to have corrected the issue.

[2016-08-15 22:58] #3312 closed, assigned to zhili1208

[2016-08-15 22:59] mishra14 commented on #3316
The behavior is not observed on Mac or Windows. The dotnet cli team has mentioned that it could be due to case sensitivity on linux.
They have a fix on feature/msbuild branch, which will be merged into rel/1.0.0 within a week.

Needs more investigation once the feature/msbuild is merged into rel.

[2016-08-15 23:39] emgarten commented on #3315
NuGet.Client has less dependencies, but both packages would depend on NETStandard.Library which would bring in the most packages.

My guess is that the install here isn't hung, it's just taking a while. You can increase verbosity with `-Verbosity Detailed`, this may give more details no the current http requests.

The latest 3.5.0-rc version of nuget.exe has some performance fixes around resolving

[2016-08-15 23:44] divega commented on #3312
Glad to hear. Thanks!

[2016-08-16 00:04] AndreyAkinshin commented on #3315
3.5.0-rc works fine for me, thanks!

I want to have the NuGet.\* libraries in my project, but for some reason I want to have a single NuGet dependency instead of a set of 20+ dependencies. So, I have a script that download all the packages from nuget.org, build a new package (which contains all the dll files) and deploy it on a local NuGet server.

[2016-08-16 00:10] emgarten commented on #3315
Interesting :smile:  the nuget.\* packages are built for project.json scenarios, there you can just specify the top level dependency to bring everything in. I can see how it would be tedious to install 20+ packages with packages.config.

[2016-08-16 00:28] v-luzh commented on #3309
@rrelyea, this bug repro on 3.5 RTM as below screenshot. It didn't repro on 3.4.4. So we think it should be fixed in 3.5 RTM.
![verified](https://cloud.githubusercontent.com/assets/20632625/17684036/b65cbdd6-638a-11e6-8b37-f705f0c4d99d.png)

[2016-08-16 00:59] v-luzh commented on #3310
@rrelyea, this issue found from automation testing, but it also repro on manual during my investigation. It also repro on 3.5 RTM. It happen on VB Sliverlight, but it **doesn't repro** on **C# Sliverlight Application**. So we don't think that is a package problem.

[2016-08-16 01:30] AndreyAkinshin opened #3317 "A question about project.json specification and NuGet dependencies"
If I add a dependency from one CoreCLR project to another, VS creates lines like

[code]

Also, I can add a dependency manually with

[code]

If we [open](https://github.com/NuGet/NuGet.Client/blob/c79e1a06adfe06f9f3d12ac0d34e8e16ff5c1783/src/NuGet.Core/NuGet.ProjectManagement/Utility/JsonConfigUtility.cs#L38) JsonConfigUtility.cs from the latest changeset, we have found the following code:

[code

[2016-08-16 01:51] #3315 closed, assigned to nobody

[2016-08-16 03:08] AndyTian-Devops opened #3318 "[Test Failure]WPF XAML designer process crash when updating Newtonsoft.Json to latest version 9.0.1"
**Repro Steps:**
1. Create a C# WPF project.
2. Right click "References" node and select "Manage NuGet Packages...".
3. In "Browse" tab, select "Newtonsoft.Json" package and install Newtonsoft.Json 6.0.1 by install button.
4. Open Package Manager Console, type "Get-Package -Updates".
5. After the previous command finished, type "Update-Package Newtonsoft.Json".
6. Wait for command "Update-package

[2016-08-16 03:43] taimur38 opened #3319 "Unable to install SpeechRecognition from Nuget"
Cross-Linking from here: https://github.com/Microsoft/Cognitive-Speech-STT-Windows/issues/10

Have tried clearing all packages, uninstalling and reinstall nuget, restarting VS, running VS as administrator. Not sure if it's just a NuGet error, since I can, for example, install the Newtonsoft.Json package fine.

Anything I can do? using VS2015, Windows10, with NuGet 3.4.4

[code]

[2016-08-16 03:46] taimur38 commented on #3319
nuget.config:

[code]

[2016-08-16 06:05] maartenba opened #3320 "EnsureNuGetPackageBuildImports Target Always Causes Errors"
_From @MelbourneDeveloper on August 16, 2016 1:8_

There are many project types created by Visual Studio that add a "EnsureNuGetPackageBuildImports" target element to csproj files. In this case the element is defined in a Xamarin Forms project. It was newly minted in the last week or so from a standard VS template. The target looks something like this in the csproj file:

[code]

The element is us

[2016-08-16 07:02] MelbourneDeveloper opened #3321 "NuGet Packager"
I'm having a lot of difficulties with the NuGet packager. I get a lot of errors like "object reference not set to an instance of an objects" etc. But, my main issue is that it's not always entirely clear how to include the types of libraries I want to include.

For example, I want to include libraries that are compiled for .NET Standard 1.6, but there doesn't seem to be an option for this. It only

[2016-08-16 07:51] StexGhost commented on #2696
@freddyisag whoops, didn't see your answer till now. As shown in the example above, the key is "Language", so no '.'. We are talking about resx resources being accessed. So they are being looked up via {ResourceClass}.{Key} and not GetString("Key"). Furthermore when you look at the output:

The resource is being found but just the default language.

@jasonmalinowski Any update on this? This contin

[2016-08-16 08:33] MarkusWild commented on #3311
@emgarten thanks for the hints.

I copied all the new packages to a local Folder. Update works for the packages if they reside in one local Feed!

But there is not only an Update in this Szenario. There is also a Depending Package, that requires an Installation of new Packages:

![updatewithinstall](https://cloud.githubusercontent.com/assets/11989851/17692643/2555a6b6-639b-11e6-8a70-06ae21a6aa47.p

[2016-08-16 09:40] v-luzh opened #3322 "[Test Failure] Three packages can’t be updated in Azure Mobile Service template"
**Repro Steps:**
1.  Click File -> New project -> Visual C# -> Web -> ASP.NET Web Application, then check the box for "Application Insights".
2.  Click 'Web Forms' template and click ‘Azure Mobile Service’.
3.  Open ‘Manage NuGet Packages for Solution…’ and click ‘Update’ tab.
4.  Update package ‘Autofac’ to the newest version.
5.  Try to update packages ‘WindowAzure.MobileServices.Backend’, ‘Wind

[2016-08-16 09:52] tim-cools commented on #2320
:+1: This would makes things more clear as **mono** misses some important security features.

[2016-08-16 10:51] asjafjell opened #3323 "Restricting package dependencies in .nuspec (ex. '< 0.7' not working)"
I have two c# libraries:
- _main-library_
- _dependency-library_ (released in version 0.6 and 0.7)

The _main-library_ has the following defined in .nuspec:

[code]

According to documentation for [Nuget Versioning ](https://docs.nuget.org/create/versioning) this should restrict the _dependency-library_ to version 0.6. Inspecting the Nuget.org listing gives the following:

[code]

Exactly as expec

[2016-08-16 13:48] yishaigalatzer commented on #3085
Can you try passing -msbuildversion flag (that avoids the detection phase)

[2016-08-16 14:43] AndreyAkinshin opened #3324 "NuGet and long file name support"
I often have the following exception during restore on Windows:

[code]

In the NuGet 2.x API, there is a nice interface `IFileSystem`. So, I could implement own file system which supports long paths. In the NuGet 3.x API, `IFileSystem` is legacy; the core logic works with the file system directly via `System.IO` (see [an example](https://github.com/NuGet/NuGet.Client/blob/3.5.0-rc1-final/src/NuGe

[2016-08-16 15:21] pjcollins commented on #3085
When running with mono, `4` appears to be the only recognized msbuild version. This failure still manifests in the same way mentioned above when also passing `-msbuildversion 4`.

[2016-08-16 15:21] bricelam commented on #3312
Can NuGet warn during package install if that's set?

[2016-08-16 16:12] zhili1208 commented on #3312
@bricelam Yes, I think Nuget did some policy check even change policy for customer before, I will check that, if there is no that check, will file an bug for that.

[2016-08-16 16:20] ericstj commented on #2696
@Stefan-deHoDev you can look at your output directory of your application to see if the localized resource DLLs are copied to the resource specific sub-folder of your application?

/cc @sedarg in case this happens to be a problem with UWP resource transformation to PRI.

[2016-08-16 16:28] niemyjski commented on #3020
When will 2.12 come out with  VS2012???????????????????????? It's been months....

[2016-08-16 16:37] jainaashish commented on #3189
Dup of #1493

[2016-08-16 16:37] #3189 closed, assigned to jainaashish

[2016-08-16 16:38] wbradney commented on #2965
Any update on the ETA for this fix? RC1 doesn't seem to resolve it.

[2016-08-16 16:50] StexGhost commented on #2696
@ericstj
Using the example I provided above:
The "bin\x86\Debug" folder includes the "de" folder with the LocalizationTest.resources.dll from the nuget package
I'm not sure about the intended result of the obj output but  "obj\x86\Debug\LocalizationTest" includes only an "en" folder with "LocalizationTest.Resources.Strings.resw"

When comparing this to a winrt Windows 8.1 project, the obj output "

[2016-08-16 16:55] rohit21agrawal commented on #2965
@wbradney what scenario are you trying to use here? If you have a csproj + project.json, then we will ignore the nuspec. that is by design.

[2016-08-16 17:10] wbradney commented on #2820
Posting the repro now because with RC1 (3.5.0.1737) this solution doesn't build at all. It complains about not being able to resolve _either_ of the floating version references. Did something change between 3.5.0.1520 and 3.5.0.1737 related to floating versions?

[NugetConflictWarning.zip](https://github.com/NuGet/Home/files/420848/NugetConflictWarning.zip)

[2016-08-16 17:18] SNajm commented on #3020
I am unable to add Exceptionless to a project because the Nuget isn't updated for VS2012

when will this be fixed ?

[2016-08-16 17:18] wbradney commented on #2965
Ok, I wasn't aware of that. So what's the new way to specify the stuff that used to be in the nuspec file (ie additional `<files>`, `<iconUrl>`)?

[2016-08-16 17:51] emgarten commented on #3311
@MarkusWild thanks for narrowing the issue down. This is from the UI when updating a single package? Does it make a difference if you use the package management console?

//cc @jainaashish

[2016-08-16 18:01] wbradney commented on #2965
OK, so I found the new documentation [here ](https://docs.microsoft.com/en-us/dotnet/articles/core/tools/project-json)and it seems like these options now belong in the project.json file, which makes perfect sense. However I'm struggling to find the right incantations needed.

For example, where I used to have something like this in the nuspec:

[code]

This in the project.json doesn't seem to do i

[2016-08-16 18:05] rohit21agrawal commented on #2965
can you try and change include to includeFiles ?

[2016-08-16 18:08] rohit21agrawal commented on #2965
@wbradney Also use a backslash instead of a forward slash on a windows system.

[2016-08-16 18:10] SedarG commented on #2696
This is a bug in MSBuild targets. GenerateResource task expects all satellite assemblies to have a metadata named OriginalItemSpec with a value matching the name of the assembly that the satellite assembly is supposed to be bound to. NuGet targets (namely ResolveNuGetPackageAssets) doesn't annotate the resource assemblies with this metadata. Hence GenerateResource task doesn't take those into acco

[2016-08-16 18:13] emgarten commented on #3323
What type of project are you installing this package into? Is it packages.config or project.json based?

[2016-08-16 18:14] wbradney commented on #2965
"includeFiles" didn't seem to change anything. Still no "build" folder in my package.

Double backslashes instead of single forward slashes didn't seem to change anything, either.
Single backslashes get me this:

[code]

[2016-08-16 18:15] rohit21agrawal commented on #2965
can you attach your repro project here?

[2016-08-16 18:16] wbradney commented on #2965
Sure
[NugetBuildRefs.zip](https://github.com/NuGet/Home/files/420992/NugetBuildRefs.zip)

[2016-08-16 18:19] emgarten commented on #3321
Can you provide some repro steps for scenarios where you are getting `object reference not set to an instance of an objects`?

[2016-08-16 18:20] wbradney commented on #2965
I noticed as soon as I posted that the "files" section should be under
"packOptions". D'Oh!

[2016-08-16 18:21] rohit21agrawal commented on #2965
haha..glad it fixed the problem! please close the issue if you are satisfied with the resolution :)

[2016-08-16 18:22] wbradney commented on #2965
Thanks for the help

[2016-08-16 18:22] #2965 closed, assigned to nobody

[2016-08-16 18:23] wbradney commented on #2726
Options that used to be specified by a .nuspec file now should be placed in the project.json file instead.

[2016-08-16 18:23] #2726 closed, assigned to nobody

[2016-08-16 18:28] yishaigalatzer commented on #3085
@pjcollins thanks. We will take a look and find a way around this,

@ethomson any reason you are not using `dotnet restore`?

[2016-08-16 18:33] rohit21agrawal commented on #3145
@neethasp try something like this :

[code]

[2016-08-16 18:43] asjafjell commented on #3323
The packages are installed into a .NET library, packages.config based, @emgarten.

[2016-08-16 18:51] emgarten commented on #3323
Does updating the dependency to 0.7 succeed?

[2016-08-16 18:51] wbradney commented on #2965
@rohit21agrawal : is there a way to use MSBuild properties in the project.json eg. $(Configuration) in the project.json file?

$id$ seems to work for the project name, but $configuration$ produces an error at pack time.

[2016-08-16 18:54] jainaashish opened #3325 "Abort 'update-package' command from PMC leaves existing packages into corrupted state"
One of resharper's customer complained that if you update NuGet packages from Package Manager Console and abort process ReSharper may think that NuGet operations are still active.

It creates 2 major issues:
1. It doesn't raise right no of nuget events which cause other 3rd party tools to think that nuget operations are still running.
2. It leaves existing packages in corrupted state since there i

[2016-08-16 19:02] wbradney commented on #2965
Actually, $id$ doesn't work either

[2016-08-16 19:03] rohit21agrawal commented on #2965
no they don't . very soon we are going to be moving all of project.json to csproj in order to enable these scenarios.

[2016-08-16 19:03] wbradney commented on #2965
Ok, I figured that would be the case. Thanks

[2016-08-16 19:12] zhili1208 opened #3326 "Warn when Powershell language mode is not full language"
https://github.com/NuGet/Home/issues/3312

In bug 3312, Since we don't have clear warning message for powershell language mode, we wasted a lot of time to investigate that issue.

In our current code, we only check execution policy, but language mode also will impact script running.
ConstrainedLanguage
Exposes a subset of the PowerShell language that limits itself to core PowerShell types, does no

[2016-08-16 19:19] jainaashish commented on #3322
This is the right behavior and shows correct error. And the reason it was working with nuget 3.4.4, is because it was downgrading Autofac to 3.5.2 and resolving these conflicts... which was wrong.

![image](https://cloud.githubusercontent.com/assets/18219758/17712605/9c0c1a96-63ab-11e6-8a86-6fc1874647a3.png)

[2016-08-16 21:15] MelbourneDeveloper commented on #3321
No. That's why I need to download the code so I can catch the exception. But anyway, the repo is here apparently:

https://github.com/NuGet/NuGet.Client

[2016-08-16 21:37] emgarten commented on #3321
What steps did you perform to get the error?

[2016-08-16 22:07] jainaashish commented on #3311
yeah it seems this issue will only be UI since we only pass active source in there where PMC uses all enabled sources to resolve dependency.

@MarkusWild You can also try selecting 'All' sources in UI and check. It should work in that case.

[2016-08-16 23:09] DougWest opened #3327 "Unhandled Exception: nuget.exe 3.4.4.1321 on Windows"
I have Powershell 2.0 and VS 2010 Professional (Version: 10.0,.30319) both installed on Windows (XP) Embedded POSReady 2009 Version 2.0 Service Pack 3 with .NET 2.0 SP2, 3 SP2, 3.5 SP1, & 4.
Running nuget.exe 3.4.4.1321 I get:
Unhandled Exception: System.NotSupportedException: The requested security protocol is not supported. at System.Net.ServicePointManager.set_SecurityProtocol(SecurityProtocolT

[2016-08-16 23:21] MelbourneDeveloper commented on #3321
I already said, I have no idea. That's why I went hunting for the repo which you ignored.

_But as I also said,
my main issue is that it's not always entirely clear how to include the types of libraries I want to include._

_For example, I want to include libraries that are compiled for .NET Standard 1.6, but there doesn't seem to be an option for this. It only goes up for 1.4_

_I want to include

[2016-08-16 23:51] rrelyea commented on #3321
Yes, that is where our code is...let us know what you learn.

The following wasn't clear:
Are you complaining about "nuget pack" or something else?
If so, what version of "nuget.exe" are you running?
If you are talking about doing things in VS causing problems, what version of VS are you using...and what version of the NuGet VS extension are you using?

[2016-08-16 23:59] MelbourneDeveloper commented on #3321
I'm talking about the "NuGet Package Explorer". I thought that other referred to it as "NuGet Packager" as well, but perhaps not.

Specifically, this what I am talking about:
![library types](https://cloud.githubusercontent.com/assets/16697547/17719855/f8bea744-6460-11e6-93b0-ed6b88552828.png)

The questions are:
- How do I attach a library for .NET Standard 1.5, or 1.6?
- How do I include a libra

[2016-08-17 00:00] MelbourneDeveloper commented on #3321
As a general question, why does the tool force you to specify a version for .NET Standard?

[2016-08-17 00:03] rrelyea commented on #3327
What is the command you are running with NuGet.exe?
Is there a small project you could attach that reproduces the problem, so we can investigate the problem?

[2016-08-17 00:10] rrelyea commented on #3321
This tool is not owned by our team/company. I think they live here: https://github.com/NuGetPackageExplorer/NuGetPackageExplorer
Please open an issue in their repo.

[2016-08-17 00:10] #3321 closed, assigned to nobody

[2016-08-17 00:12] rrelyea commented on #3319
What type of project are you trying to install this package into?

[2016-08-17 00:15] rrelyea commented on #3326
Sounds good.
Please address this in dev branch

[2016-08-17 00:36] v-luzh commented on #3322
@jainaashish, got it, thanks for your description.

[2016-08-17 00:44] rrelyea commented on #3318
Dev14 U3 + 3.5 rtm 1737 (the RC1 public build) didn't repro.
Do you repro with that build? if so, what steps are missing from the list above?

[2016-08-17 00:50] zhili1208 commented on #3319
From your log, I guess it's win8.1 project, looks like adding reference failed, I think becasue SpeechClient.dll is for .netframework, win8.1 targets .netcore, you can try this.
add reference "speechClient.dll" manually, you will get "the project targets '.NETCore' while the file reference targets '.NETFramework'", I got this error message on my machine.

[2016-08-17 02:23] taimur38 commented on #3319
@zhili1208 I get that exact message, good find. Is there no way around that? I don't typically work in the .NET world, so not sure if that's a dumb question.

It's frustrating because earlier I had to target windows 8.1 to get the kinect library to work, and now that's precluding me using speech to text. If there's no way around that, then the only way to get speech to text working with a kinect a

[2016-08-17 05:47] AndyTian-Devops commented on #3318
@rrelyea I can repro this issue on Dev14 U3 + 3.5 rtm 1737. no steps missing in the list above. i will send the repro machine to you in another thread.

[2016-08-17 07:58] MarkusWild commented on #3311
@jainaashish: Updateing the packages with "All" sources in the UI works.

But from my Point of view the beahviour of the UI is irritating. It would be better, if the UI searches all Configured "Active Sources" while trying to resolve the packages.

IMHO, the Selection in the UI should just be a filter for the Package Selection and the Configuration is the one and only  place that is responsible fo

[2016-08-17 09:17] maartenba commented on #3069
Closing for now.

[2016-08-17 09:17] #3069 closed, assigned to maartenba

[2016-08-17 09:38] asjafjell commented on #3323
The info panel for the package within Visual Studio shows the limitation correctly, stating it has to be  `<0.7`, but the update succeeds without hesitation.

[2016-08-17 11:43] MscrmTools opened #3328 "Nuget.Core : How to use v2/v3 api ?"
Hi,

I'm using Nuget.Core with repository https://packages.nuget.org/api/v2 to get packages but I just noticed that download count seemed not to be updated anymore.

My guess is I have to use v2/v3 or v3 endpoint but I don't know how to use it with Nuget.Core

Any help?

[2016-08-17 14:15] sdebruyn opened #3329 "NuGet push fails with mono"
I tried NuGet v2.2.12 (shipped with Mono/Xamarin), NuGet v3.4.4 and NuGet v3.5.0-rc1 and they all failed to push a package on my Mac to our Visual Studio Online account.
This happens on all the Macs at our company and on every network we tested.

The VSS Credential Provider is unusable on OS X because WPF is not available on a Mac.
So we tried using usernames in the form of _Samuel.Debruyn_ with p

[2016-08-17 14:37] mrward commented on #3329
I had a look at this on the Xamarin side today. It seems to be OK for me on the Mac using VSTS and I used nuget 2.12 that ships with Mono 4.4.2.

I used a personal access token (PAT) created following the instructions on the [VSTS site](https://www.visualstudio.com/en-us/docs/package/get-started/nuget/auth#personal-access-tokens). I can see NuGet packages in Xamarin Studio from the VSTS source aft

[2016-08-17 14:55] sdebruyn commented on #3329
Hi @mrward, yes I can see the packages in XS. I retried your approach step by step and I still get the following output:

[code]

Command to add source:

[code]

I verified in XS if I could browse through the list of available packages and that worked fine.

My config file:

[code]

[2016-08-17 15:06] sdebruyn commented on #3329
Looks a lot like https://github.com/NuGet/Home/issues/3251

[2016-08-17 16:15] jainaashish commented on #3311
I agree with you, the correct behavior here is to have target packages only from selected sources (active sources) where as dependencies should be resolved across all enabled sources. And that's what happens in case of Package Management Console. So we should have similar behavior in UI as well.

Also I agree with misleading error message here. I'll re-open this issue and get these things fixed.

[2016-08-17 16:42] #3322 closed, assigned to jainaashish

[2016-08-17 17:05] ericstj opened #3330 "NuGet restore from the commandline is significantly slower than VS"
It looks like NuGet commandline restore (and DotNET CLI) don't have a fast path to check if restore is actually needed.

VS does this using https://github.com/NuGet/NuGet.Client/blob/bc1f2415971455ac6e9c7da839913c75e369adae/src/NuGet.Core/NuGet.PackageManagement/BuildIntegration/BuildIntegratedRestoreUtility.cs#L276.

For our repo this means restore is about 12-times slower for some of our project

[2016-08-17 17:13] rrelyea commented on #3330
The work for fast no-op optimization with nuget.exe is already under way.
@jainaashish please dupe to existing issue.

[2016-08-17 17:43] emgarten commented on #3330
@ericstj try the latest nightly build of 3.6.0 from here: https://www.myget.org/F/nugetbuild/api/v2/package/NuGet.CommandLine

There have been some major perf fixes since the last release, it won't be as fast as a noop but it should help cut down your restore time until noop support is added.

[2016-08-17 17:47] zhili1208 commented on #3251
@patrickjamesbarry I tried to push package on Mac to nuget.org, it works well. Also, looks like you are using different version on Mac and windows, On Mac is 3.4.4.1321 and windows is 3.4.3.855, and from your log, on Mac the content is 228 but on windows is 8142, looks like on mac it doesn't send the payload.
1. what's your mono version? Can you try to push package to nuget.org?(if nuget can't sen

[2016-08-17 18:00] MosheL commented on #2798
update: installed 3.5.0-rc1, VS crashed.

[2016-08-17 18:04] MosheL commented on #2798
@alpaix
I was found it after all: the solution folder need to be the website folder.  on my config the project was in MyDocs but the website was in IIS  `inetpub` folder.

I can attach a debugger to VS ?

[2016-08-17 18:35] DougWest commented on #3327
I run nuget bare, which should result in version and use information. Or I've run nuget with various commands and I still get the same Unhandled Exception. No project in play.

[2016-08-17 18:48] alpaix commented on #3289
@harikmenon Do you think we need to emit telemetry events on errors here as well?

[2016-08-17 19:18] jainaashish commented on #3330
dup of #3087

[2016-08-17 19:18] #3330 closed, assigned to jainaashish

[2016-08-17 19:54] harikmenon commented on #3289
Yes, we should. We should create an Event Called NuGet Commands or something similar to track this.

[2016-08-17 19:54] harikmenon commented on #3289
Is there a spec for this?

[2016-08-17 20:14] ericstj commented on #3087
Can you please share the changes you've made for 3.5.0-rtm?

[2016-08-17 21:05] ericstj commented on #3087
So I did some prototyping around this to improve our own builds.  At first I just copied the code that is used by the VS extension and gated our restore on that.  I saw some considerable improvements, but it was still expensive, even after parallelizing it. We went from 5 minutes down to about 30s, but that 30s was still too much for finding out that nothing needed to be done.

I found that the mo

[2016-08-17 21:14] joelverhagen opened #3331 ""path" properties in the lock file library do not always reflect latest restore"
## Steps
1. `dotnet new`
2. `dotnet restore`
3. `dotnet restore --legacy-packages-directory`
4. Open the `project.lock.json` file.
5. Search for `"Microsoft.NETCore.App/` under the `"libraries"` node.
6. Look at the `"path"` property.
## Expected

The path should be `Microsoft.NETCore.App/1.0.0`.
## Actual

The path is `microsoft.netcore.app/1.0.0`.

[2016-08-17 21:28] mishra14 commented on #3289
@harikmenon  :
[Spec for button](https://github.com/NuGet/Home/wiki/Add-Clear-Cache-button-to-VS-Package-Manager-options)
[Spec for related work on dotnet nuget locals](https://github.com/NuGet/Home/wiki/Support-locals-command-in-dotnet-cli)

[2016-08-17 22:54] ericlaw1979 commented on #890
To be clear here, you can significantly improve compression while still using ZIP and remaining compatible with all legacy Zip (DEFLATE) clients. You can use e.g. Zopfli on the DEFLATE streams or even just use 7Zip to generate the ZIP, set to maximum compression.

[2016-08-17 22:57] #3331 closed, assigned to joelverhagen

[2016-08-17 23:42] ericstj commented on #890
I guess that depends on your definition of significant.  I only saw gains under 5% by tweaking DEFLATE.  A couple problems are that the window size is too for deflate small and zip isn't cross-file.  The only ways I saw significant gains were using cross-file compression with a significantly large compression window.

[2016-08-18 00:04] #3325 closed, assigned to jainaashish

[2016-08-18 00:07] #3311 closed, assigned to jainaashish

[2016-08-18 01:59] MelbourneDeveloper commented on #3320
Has anyone looked in to this?

I just got the issue today. I created a sample SignalR project. I then moved it to another folder and immediately the compilation error comes up. So, I went in and deleted the text from the csproj and the problem was fixed.

This is such a major headache for so many people. Do you have any idea how many new programmers follow a "how to" guide, finish the process of c

[2016-08-18 09:13] v-nancyj opened #3332 "[Test Failure] The “Newtonsoft.Json” icon is hard to see when the color theme of VS is dark"
**Repro Steps:**
1. Set the color theme of VS to “dark”.
2. Create anyone project.
3. Right-click the project node and select “Manage NuGet Packages…”.
4. Click “Browse” tab and click package “Newtonsoft.Json”.

**Expected Result:**
The “Newtonsoft.Json” icon can be seen clearly.

**Actual Result:**
The “Newtonsoft.Json” icon is hard to see as below screenshot.

![capture818](https://cloud.githubu

[2016-08-18 13:37] patrickjamesbarry commented on #3251
I don't think it is an Artifactory issue. As you can see from my network
monitoring, the package is not getting sent in the payload.  Are you using
the same version of nuget?  If this was an Artifactory issue, why would the
windows version work?  When you push to nuget.org, are those repositories
protected with credentials?  Artifactory is, so maybe that is the
difference?

On Wed, Aug 17, 2016 at

[2016-08-18 13:39] MosheL commented on #2798
Update again: Reinstall entire Visual Studio u3.  still not working,

[2016-08-18 16:02] harikmenon commented on #3289
One change we should do is get rid of the confirmation box. If it succeeds, we should just add a text and icon below the button stating the success/failure of the operation. Modal dialog on top of modal dialog is not a good design IMO.

Something like.

Success: NuGet caches cleared successfully at {DateTime}

Failure:   Unable to clear NuGet cache at {DateTime}. + Any workarounds that might fix t

[2016-08-18 16:16] zhili1208 commented on #3251
Sorry for my previous message, I edited my reply, I suspect it's client issue too, so I need to know your mono version first, and also you are using different nuget version on windows and mac, Can you try same version on both, then provide the log. thank you.

[2016-08-18 16:30] patrickjamesbarry commented on #3251
Mono JIT compiler version 4.4.1 (Nightly 4.4.1.0/4747417 Tue Jul  5
17:44:19 BST 2016)
Copyright (C) 2002-2014 Novell, Inc, Xamarin Inc and Contributors.
www.mono-project.com
TLS:           normal
SIGSEGV:       altstack
Notification:  kqueue
Architecture:  amd64
Disabled:      none
Misc:          softdebug
LLVM:          supported, not enabled.
GC:            sgen

_Mac nuget: NuGet Version: 3.4.

[2016-08-18 17:46] zhili1208 commented on #3251
@patrickjamesbarry I set up a artifactory online server and tried to push package, it works well with mono 4.4.2, Can you update your mono version to latest? it might fix your issue. Thanks

[2016-08-18 17:51] mishra14 opened #3333 "Add VS quick launch command for nuget locals"
Based on the conversation with @harikmenon and @rrelyea.

Ask : Add a quick launch nuget locals command which will be linked to the VS->Tools->Nuget Package Manager->Clear All NuGet Cache(s)

[2016-08-18 17:53] mishra14 commented on #3289
Based on offline discussion, i will remove dialog and add messages under the button and a webpage link to better handle errors. Updating the spec for this.

[2016-08-18 17:54] DougWest commented on #3327
BTW, by 'bare', I mean from a command prompt and cwd is the folder containing the nuget.exe. This is as vanilla as it gets for running nuget.exe. The environment is old and odd, but if you can tell me what settings/dependencies could be missing, I can get this functional.

[2016-08-18 17:57] mishra14 opened #3334 "Add Telemetry to Nuget locals command errors"
Based on an ask from @harikmenon  at https://github.com/NuGet/Home/issues/3289.

We should add telemetry to the failures in nuget locals.

[2016-08-18 18:14] #3334 closed, assigned to mishra14

[2016-08-18 18:34] patrickjamesbarry commented on #3251
After I updated, I have same issue.

test-project: mono -V
Mono JIT compiler version 4.4.2 (Stable 4.4.2.11/f72fe45 Thu Aug 11
06:03:25 BST 2016)
Copyright (C) 2002-2014 Novell, Inc, Xamarin Inc and Contributors.
www.mono-project.com
TLS:           normal
SIGSEGV:       altstack
Notification:  kqueue
Architecture:  amd64
Disabled:      none
Misc:          softdebug
LLVM:          supported, not en

[2016-08-18 19:28] jainaashish commented on #3264
This is not an issue rather it shows correct error since AspNet.ScriptManager.bootstrap 3.3.6 doesn't allow bootstrap 3.3.7 so it's not able to update. AspNet.ScriptManager.bootstrap has to push a new version something 3.3.7 which allows bootstrap 3.3.7 or else you can remove AspNet.ScriptManager.bootstrap and then install or update bootstrap 3.3.7

[2016-08-18 19:39] jainaashish commented on #3125
Select all sources from PackageManagement UI like below and then try the same scenario.

![image](https://cloud.githubusercontent.com/assets/18219758/17788071/bcce361a-6540-11e6-9de7-ac35f651250e.png)

[2016-08-18 19:53] karann-msft opened #3335 "Enable NuGet Account Deletion workflow"
[link to the spec](https://github.com/NuGet/Home/wiki/NuGet-Account-Deletion-Workflow)

[2016-08-18 19:59] rrelyea commented on #3297
Talked with Zhi about his investigation:
- Sounds like before 3.5, sources from UNC file paths would cache packages locally.
- In 3.5 rc1, we no longer cache locally.

This could be a perf issue.

Let's confirm the Packages.config and Project.json behavior.

[2016-08-18 20:09] rrelyea commented on #3326
Let's not target 3.5-rtm, as time is short. Just 3.6 b1.

[2016-08-18 20:21] rrelyea commented on #3240
@joelverhagen did fix in 3.6b1 to make (for .net core projects) the right update button do an uninstall and an install, like the checkbox/button code path did. We should verify if we can repro.

[2016-08-18 20:22] harikmenon commented on #3333
Clear All NuGet Caches might be a better term here since we have multiple caches.

[2016-08-18 20:22] rrelyea commented on #3221
Status of this doc update?

[2016-08-18 20:32] harikmenon commented on #3221
adding @karann-msft . Karan can you work with Ankit to get this into our new docs?

[2016-08-18 20:45] rrelyea commented on #3251
@patrickjamesbarry  - @zhili1208 has a new theory. Perhaps you have some anti-virus that is preventing the sending of a zip file across the network?
Do you have some software (anti-virus or the like) running on all of your machines that you could temporarily disable?

[2016-08-18 20:52] #3335 closed, assigned to karann-msft

[2016-08-18 20:52] yishaigalatzer commented on #3335
This belongs in the gallery repo

[2016-08-18 20:55] yishaigalatzer opened #3336 "NuGet Install flags/behaviors"
NuGet install today will produce random results when a package has multiple TFMs. The behavior is random, and with the advent of netstandard this becomes much more of a standard practice for package authors.
### Suggestion
1. Warn when there are multiple TFMs anywhere in the package graph
2. Allow for passing a -tfm and -rid flags to the package
3. Allow for -ignoreDepenencies flag, to allow downl