[2019-09-25 11:10] Falconne commented on #8622
@alphaleonis Hmm, possibly, though that's not what I'm getting. On my dev and build machines I can consistently reproduce it after 5.0.2 but 5.0.2 is fine. My build machines automatically fetch an updated `nuget.exe` at staggered intervals and they all failed after 5.0.2. Since I've locked them down to that version it's been ok.

But yeah, it may be a coincidence that it appears consistent for me.

[2019-09-25 11:13] Talento90 commented on #8580
When I execute the following command: ```nuget push "ProjectFolder\nupkgs\MyPackage.1.0.0.nupkg" -Source "GitHub"```

I get this error:
```WARNING: No API Key was provided and no API Key could be found for 'https://nuget.pkg.github.com/Company'. To save an API Key for a source use the 'setApiKey' command.```

Can anyone explain why? Since it's related with @jwillmer problem.

[2019-09-25 11:20] jwillmer commented on #8580
Please read the thread and you will find your answer.

[2019-09-25 11:27] alphaleonis commented on #8622
It's strange... `nuget.exe list sdaf` only lists one package. But most other searches I try seems to return pretty much all packages from nuget.org. Not sure what's going on, but something isn't working the way it should. And this is when I use version 4.9.4.5839 of nuget.exe.

Accessing the API URL displayed when running in verbose mode also seems to return pretty much all packages, so my bet wou

[2019-09-25 13:35] RehanSaeed commented on #352
Is it possible to refer to an image in a directory outside the project? It would be very useful to do so if you have multiple NuGet packages in a solution:

[code]

[code]

However, all I've tried so far produces errors.

[2019-09-25 14:25] anangaur commented on #352
I think this was supported. @karann-msft would know better.

[2019-09-25 15:56] rrelyea commented on #352
Glad you found the right way.

The package path put the image in the root of the package.
The package icon needs to refer to the matching location.

Please take a look at the docs and suggest any improvements that would help with this case.

[2019-09-25 16:23] jvs1 commented on #8497
@donnie-msft Any updates on the progress of this issue? Are you able to reproduce it?

[2019-09-25 17:12] nkolev92 commented on #7724
The decision about the version of packages that gets downloaded is made by the SDK. So I can't make any comments on that unfortunately.

However, as of right now, the versions that the specific build of the SDK will request are

[2019-09-25 18:12] StephenBonikowsky opened #8627 "Possible bug in validation rule implementation of NU5129"
In WCF repo after [updating our dependency](https://github.com/dotnet/wcf/pull/3920) to Arcade one of our packages began producing this validation error...

`".dotnet\sdk\3.0.100-preview9-014004\Sdks\NuGet.Build.Tasks.Pack\build\NuGet.Build.Tasks.Pack.targets(198,5): error NU5129: - At least one .props file was found in 'build/', but 'build/dotnet-svcutil.xmlserializer.props/dotnet-svcutil.xmlseri

[2019-09-25 18:25] anangaur commented on #3292
@jepl4052 Since we are talking about VS here, we have the [updates tab on NuGet Package Manager](https://docs.microsoft.com/en-us/nuget/consume-packages/install-use-packages-visual-studio#update-a-package) that has a notification notion to let users know if updates are available.
![image](https://user-images.githubusercontent.com/14800916/65628734-e27d8780-df86-11e9-8724-facf87a2feb3.png)

I think

[2019-09-25 21:18] nkolev92 opened #8628 "Tooling to figure out what sources a package is available on"
As a package consumer I want to know which packages are present on which feed.

Restore itself does some extra logging to communicate where a package is downloaded from but that's not the ask here.
We shouldn't need to download the packages to determine this.

A use case raised in the thread is, consolidating sources (it's super difficult to figure out what sources are not needed anymore, it's ver

[2019-09-25 21:24] KirillOsenkov commented on #8628
From my observations:
`nuget list MyPackageId -Source mysource` works fine, but you need to know the source (or loop over them manually)
`nuget list MyPackageId -ConfigFile nuget.config` prints all packages, even those that don't match
`nuget list packageid:MyPackageId -ConfigFile nuget.config` prints No packages found

[2019-09-25 21:25] KirillOsenkov commented on #8628
See related: https://github.com/NuGet/Home/issues/8529

[2019-09-25 21:25] KirillOsenkov commented on #8628
See related: https://github.com/NuGet/Home/issues/7577

[2019-09-25 21:26] KirillOsenkov commented on #8628
See related: https://github.com/NuGet/Home/issues/7691

[2019-09-25 21:27] nkolev92 commented on #3055
Some ideas about this in: https://github.com/NuGet/Home/issues/7577

[2019-09-25 21:28] nkolev92 commented on #7577
Duplicate of https://github.com/NuGet/Home/issues/3055.

I've also added a comment in that issue to indicate that the asks are not completely equivalent.

[2019-09-25 21:28] #7577 closed, assigned to nobody

[2019-09-25 22:11] jonnyyu commented on #420
Yes, the timestamp  preserving behavior causes incremental build issues when I need revert to an older package.
Should be an option to set like in P4 git etc.

[2019-09-25 23:46] heng-liu opened #8629 "Signing Validation will now properly reject signatures with timestamps which have 2 values under the same OID"
As the API AddUnsignedAttribute on netcore3.0 will do merge by the Oid(https://github.com/dotnet/corefx/issues/25449), so the unsignedAttribute will have different formats for net472(NativeCms does it in a P/Invoking way) and netcore3.0 (use API AddUnsignedAttribute from Pkcs package), if we timestamp multiple times for both primary signature and counter signature.

For net472:
[code]
For netcore3

[2019-09-25 23:48] dominoFire opened #8630 "Migrate .nuget\packages.config file in NuGet.Client to PackageDownload"
## Details about Problem

- NuGet product used: NuGet.exe
- NuGet version (x.x.x.xxx): 5.1.*
- `dotnet.exe --version`: 2.1.70*, 2.2.30*

Worked before? No

## Detailed repro steps so we can see the same problem

1. Build NuGet.Client from this [git ref](https://github.com/NuGet/NuGet.Client/commit/dc72141d53cdec46b13c5a4a08ffdd5cefe7a3a1)

## Other suggested things

Currently, NuGet.Client project

[2019-09-26 00:04] heng-liu commented on #8629
@dtivel Can you help review the thoughts? Thanks!

[2019-09-26 03:58] karann-msft opened #8631 ".NET Core Global Tool support"
@kbilsted commented on [Fri Sep 20 2019](https://github.com/NuGet/docs.microsoft.com-nuget/issues/1690)

When targeting multiple frameworks, nuget no longer displays ` This package contains a .NET Core Global Tool you can call from the shell/command line.` and you cannot install your tool through the command line.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2019-09-26 04:00] #8439 closed, assigned to zivkan

[2019-09-26 07:54] lengyeljanos commented on #3788
really, we still can't use the floating version number along with visual studio?

[2019-09-26 08:02] pmiossec commented on #3788
I'm pretty sure that will be fixed soon, they put the 'priority:1' label...  😀😭

[2019-09-26 08:06] sebastianslutzky opened #8632 "Build error due to incompatible fx"
Hello,
I am getting the following compile error running . .\build.ps1 -skipunittest -f

E:\github\NuGet.Client\src\NuGet.Clients\NuGet.PackageManagement.VisualStudio\NuGet.PackageManagement.VisualStudio.csproj  : error NU1201: Project NuGet.Indexing is not compatible with net461 (.NETFramework,Version=v4.6.1). Project NuGet.Index ing supports: net472 (.NETFramework,Version=v4.7.2) [E:\github\NuGet

[2019-09-26 08:45] miniGweek commented on #7131
This is GOLDEN !!
just an edit :
the command should look like
`nuget.exe pack D:\a\1\s\yourproject.csproj -NonInteractive -OutputDirectory D:\a\1\s\output\ -Properties "Configuration=release;Platform=**AnyCPU**" -version 1.0.22 -Verbosity Detailed`

[2019-09-26 09:31] TFTomSun opened #8633 "Reference latest version of a prelease tag or metadata pattern"
Is there any possibility to reference the latest version with a specific prerelease or metadata tag?

I tried:

[code]

Any other option? I need to categorize the packages based on branch names. I want to be able to get the latest version for one specific branch.

[2019-09-26 10:20] jairbubbles commented on #8622
I can confirm this too.

The other side effects is that my job became a lot slower :

![image](https://user-images.githubusercontent.com/15875066/65680728-d3b2d580-e057-11e9-9c34-2b80aeffbf4b.png)

[2019-09-26 10:31] jairbubbles commented on #8622
`nuget list sdaf -source https://api.nuget.org/v3/index.json`  => `sdaf 11.0.0`

`nuget list sdaf -source https://api.nuget.org/v3/index.json`  => many many packages

(nuget 4.8.1.5435)

[2019-09-26 11:33] kbilsted commented on #8631
You can test the behaviour by adding net452 to the `TargetFrameworks` of https://github.com/kbilsted/WhitespaceWarrior/blob/master/WhiteSpaceWarrior/WhiteSpaceWarrior.csproj

[2019-09-26 12:56] jjanuszkiewicz opened #8634 "nuget.exe restore fails when MSBuildPath ends with a slash"
This is similar to #4180, but the workaround proposed there (putting a space at the end of the path) doesn't work.

    nuget restore My.sln -MSBuildPath "C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\15.0\Bin\"
    Using Msbuild from 'C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\15.0\Bin"'.
    MSBuildPath : C:\Program Files (x86)\Microsoft Visua

[2019-09-26 13:16] StingyJack commented on #7131
@nkolev92 - QQ related to this - why does the docs page for the pack cli list many of these args as optional?   Pack doesnt seem to work for any scenario I've ever given it without having the Config, Platform, and OutputDir

[2019-09-26 16:39] zkat commented on #8619
This was actually completed on Monday

[2019-09-26 16:39] #8619 closed, assigned to zkat

[2019-09-26 16:48] nkolev92 commented on #7131
@StingyJack

I don't really have concrete context on that unfortunately.

In general though it's probably worth calling out the pack needs to be run with the same props as build.

[2019-09-26 18:32] StingyJack commented on #3050
@rrelyea - "put it back the way it was" should cover the necessary work for all of those affected instead of just for one group of your choosing.  Then you can add your nuget.org specific restrictions

[2019-09-26 18:34] InteXX commented on #3050
@rrelyea

@StingyJack is correct.

[2019-09-26 23:48] nkolev92 commented on #8631
@kbilsted

Can you please clarify where you see that message?

I'm not aware of the NuGet Client emitting any such message.

[2019-09-27 04:09] Tenseiga commented on #7341
Why was the issue closed. Pls reopen it. This issue is faced constantly in our ado.

[2019-09-27 08:46] miaoyukai opened #8635 "The NuGet package didn't resolve"
![image](https://user-images.githubusercontent.com/38027640/65755707-36829a80-e146-11e9-9b40-4c7a561c0a16.png)
I created a grpc project on vs that was not available.

[2019-09-27 11:39] mparent commented on #8622
I also noticed this problem. This issue seems to be specifically related to nuget.org. Our office's repo in artifactory doesn't seem to be affected.

[2019-09-27 13:22] ChrisMcKee commented on #7001
Is there a work around for this that doesn involve having to manually hack file meta data?

[2019-09-27 16:07] zkat opened #8636 "msbuild restore for packages.config"
msbuild is currently unable (or rather, unwilling) to restore projects using pckages.config.

Spec: [Backporting PC to msbuild restore](https://github.com/NuGet/Home/wiki/Backporting-PC-to-msbuild--restore)

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): msbuild.exe

NuGet version (x.x.x.xxx): any

## Detailed repro steps so we can see the

[2019-09-27 16:10] amatiasq commented on #6876
No update?

I've added my feed to nuget and works in a macOS and a Windows machine but not on the Linux build server.

[code]

But when I try to fetch

[code]

While if I run this in macOS or Windows it works and returns packages. On windows it asks for credentials every time though.

[2019-09-27 16:35] zkat commented on #8636
I don't know why I made this when https://github.com/NuGet/Home/issues/8506 exists. I'm way out of it today.

[2019-09-27 16:35] #8636 closed, assigned to nobody

[2019-09-27 17:14] bergbria commented on #7724
@nkolev92 - is this likely to change in the future?

[2019-09-27 18:10] dagood opened #8637 "PackTask quietly doesn't include files with nuspec extension in nupkg"
## Details about Problem

NuGet product used:

[code]

NuGet version: `5.3.0-rtm.6251+b75150f2f4127a77a166c9552845e86fb24a3282.b75150f2f4127a77a166c9552845e86fb24a3282`

Worked before: Unknown.

## Detailed repro steps

1. Extract minimal repro project based on `dotnet new classlib`:
[PackNuspecContent.zip](https://github.com/NuGet/Home/files/3664004/PackNuspecContent.zip).

1. `dotnet pack`

1. O

[2019-09-27 19:09] danquirk commented on #7669
Thanks, emailed you the details

[2019-09-27 20:00] daniel-white opened #8638 "Argument exception thrown with .net core 3.0 sdk"
Please read the following information before posting the issue.

## Before posting the issue...

Remove the content above here and fill out details below.

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): dotnetcli

NuGet version (x.x.x.xxx): whatever .net is using.

dotnet.exe --version (if appropriate): 3.0.100

VS version (if appropriate):

[2019-09-27 20:20] daniel-white commented on #8638
Using `/Library/Frameworks/Mono.framework/Versions/6.4.0/lib/mono/msbuild/15.0/bin` with `nuget restore` works, but i prefer the .net cli method

[2019-09-27 20:25] daniel-white commented on #8638
It appears I was missing a root props file. perhaps this error needs caught before hand with a better exception.

[2019-09-27 20:33] krwq commented on #8629
@heng-liu I believe `1` should be done regardless if `2` is done or not since the spec doesn't define what should exactly happen and both formats are allowed. Not sure what's the difference between `1` and `3`.

For `2` adding counter signatures (which is also an unsigned attribute) was and is still producing format 1 on both full framework and .NET Core (.NET Core for compat) while adding unsigne

[2019-09-27 21:06] bergbria commented on #7724
@nkolev92 - actually, it looks like it's not possible to work around this by adding the runtime packages as PackageReferences. Doing so results in errors like `The package Microsoft.NETCore.App.Runtime.win-x64 3.0.0 has a package type DotnetPlatform that is incompatible with this project`

Is there any other workaround to get these packages in the lock files? Any ETA for the fix?

[2019-09-27 22:39] rrelyea commented on #8638
Can u give more details on what property (or props) was missing?

How can we best repro this problem?

[2019-09-27 23:06] bergbria opened #8639 "LockFile validation fails for projects with <RuntimeIdentifiers> set in SDK 3.0.100"
## Details about Problem

NuGet product used: dotnet.exe

dotnet.exe --version: 3.0.100

Worked before?: Yes, with sdk version 2.2.402

## Automated Repro
1. Download [netSdk3_rid_lockFile_repro.zip](https://github.com/NuGet/Home/files/3664781/netSdk3_rid_lockFile_repro.zip)
2. Extract
3. Run repro.bat

## Manual repro steps

1. Create a .csproj resembling this:
[code]
2. `dotnet restore --use-loc

[2019-09-27 23:27] anangaur commented on #8639
@nkolev92, Is this because of the framework libraries not getting folded into the SDK?

[2019-09-27 23:40] bergbria commented on #8639
@anangaur / @nkolev92 this is related to #7724 / #8442 and possibly has the same root cause. I don't know enough about the implementation to say.

Either way, it's frustrating that this blocks using even newer SDK versions, not just .Net Core 3.

[2019-09-28 19:36] kbilsted commented on #8631
"This package contains a .NET Core Global Tool you can call from the shell/command line." is displayed here https://www.nuget.org/packages/WhiteSpaceWarrior/

But more importantly, the easy installation in the console (`dotnet tool install ...`) is not working when you multitarget.

[2019-09-29 09:10] v-luzh commented on #8597
@zkat , we will reactivate this bug since we think this is still a problem after discussing. The key is it only repro on all the Web Site templates, don't repro on other templates. That means, for the Web Site projects it goes to solution folder when clicking the "Open Containing Folder" on the project level PM UI, but for other projects it goes to the project folder (that's correct) when clicking

[2019-09-29 09:24] v-luzh opened #8640 "[Bug Bash][Test Failure] The empty/malformed lock file should not be updated when running ‘dotnet restore --use-lock-file --locked-mode’"
## Details about Problem
NuGet version: NuGet Client Dev\5.4.0.6261
VS Version: Master\29327.122
OS: Windows-10-Enterprise-19H1-04-05-2019
## Detailed repro steps
1.	Create a .NET Core Console App project.
2.	Create an empty or invalid packages.lock.json file next to the .csproj file.
3.	Run dotnet restore --use-lock-file --locked-mode.
## Expected
Verify the process should fail with an error sayi

[2019-09-29 09:34] v-longmin commented on #8597
Hi @zkat , Please help us reactivate this bug since we think this is still a problem after discussing. The key is it only repro on all the Web Site templates, don't repro on other templates. That means, for the Web Site projects it goes to solution folder when clicking the "Open Containing Folder" on the project level PM UI, but for other projects it goes to the project folder (that's correct) whe

[2019-09-29 11:23] yatli commented on #6645
I thought I have graduated from this issue...
However, to publish (for example, a self-contained application) is different from to build a nuget package.
When I use `dotnet publish --self-contained`, the `<Content><PackagePath>...</PackagePath></Content>` property is ignored and it won't be copied over.
The workaround is to make a separate project to hold the native binaries and then reference the

[2019-09-29 18:39] Piccolo66 opened #8641 "SubZero"
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2019-09-29 18:52] ChrisMcKee commented on #7001
https://github.com/dotnet/core/issues/3388

[2019-09-29 23:28] danielcrenna opened #8642 "Xamarin projects in Visual Studio do not use .targets in NuGet package references"
Please read the following information before posting the issue.

## Details about Problem

NuGet product used: VS2019 UI

## Detailed repro steps so we can see the same problem

1. Create a new Xamarin.iOS or Xamarin.tvOS application from the template.

2. Reference a NuGet package that uses a custom .targets file located in `\build`

It appears Xamarin projects in Visual Studio ignore the `.targe

[2019-09-30 09:56] DavidStrickland0 commented on #5720
Still waiting on this one. @rohit21agrawal you closed this as works as expected saying
"i strongly urge you to make a move to PackageReference based csproj files".
Of course thats exactly what the OP said he was doing
Execute "nuget pack .\SDKs\FileSystem\FileSystemSDK\FileSystemSDK.csproj -IncludeReferencedProjects"

[2019-09-30 10:02] DavidStrickland0 commented on #5720
Looks like there are multiple reports. Guess this should have been closed as duplicate versus Works as expected.
Duplicate of #

[2019-09-30 15:02] DavidStrickland0 opened #8643 ""Nuget pack" ignores dependencies from packages.config"
* There is a Visual Studio project (.csproj) without related solution (.sln) yet

If there isn't a packages folder in the "top-level" folder of the .csproj file folder, "Nuget pack" does not recognize the dependencies defined in the package.config next to a .csproj file.

To overcome this issue, you can place an empty solution (.sln) and a nuget.config (containing the path of the packages folder)

[2019-09-30 15:09] #8643 closed, assigned to nobody

[2019-09-30 16:29] Thieum commented on #8554
@nkolev92 any plan on reverting this error to a warning in a future version? It's not a quick fix to provide an image instead of an url for an existing package.

[2019-09-30 17:13] nkolev92 commented on #8554
@Thieum

It's not an error.

It's still a warning just the number for the warning is not in the range warnings usually are.

If it's an error in your case, you likely have TreatWarningsAsErrors set somewhere.

[2019-09-30 17:15] nkolev92 commented on #7001
@ChrisMcKee

The issue dotnet/core#3388 is referring to is https://github.com/NuGet/Home/issues/8599.

This is a bug in the same problem space.

[2019-09-30 17:18] nkolev92 commented on #8631
Ah, your point was about nuget.org. I will move this issue there.

Can you clarify this?
When you multi target the package?

That's supported and at tool install time, the best matching assets are selected.

[2019-09-30 17:22] nkolev92 commented on #7724
@anangaur, @rrelyea can comment on that.

[2019-09-30 17:25] Thieum commented on #8554
@nkolev92 makes sense, thanks!

[2019-09-30 17:38] 3F opened #8644 "Unnecessary NU1202. PackageReference versus Reference"
Hi,

Can someone clarify NU1202 restriction? I still don't understand, Why this https://github.com/dotnet/standard/blob/master/docs/versions.md#net-standard-versions is not possible for nuget project?

Just for the cases like this https://github.com/3F/MvsSln/pull/21 and other?

Why/ if **I can** like this:

[code]

But **not** like this:

[code]

this:
[code]

but not just this:
[code]

Thanks,

[2019-09-30 17:42] kbilsted commented on #8631
Not sure where it belongs. It also ruins the installer through the `dotnet`

[2019-09-30 18:08] carpnick opened #8645 "Lock File not properly generated - framework ordering should not impact the restore with lockedmode"
## Details about Problem

**NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):**
VS UI, MSBuild CLI, Nuget.exe

**NuGet version (x.x.x.xxx):**
- nuget version  5.3.0.6260
- MSBuild  version - 16.3.0+0f4c62fea for .NET Framework
   - Nuget CommonExtension installed version - Nuget.Commands.dll - 5.3.0.6251

**VS version (if appropriate):**
 [Information](https://gist.git

[2019-09-30 18:16] carpnick commented on #8645
This was very helpful in debugging down to where the issue was: https://github.com/NuGet/Home/issues/8493#issuecomment-526375416

Thanks @nkolev92

[2019-09-30 18:24] carpnick commented on #8645
Potential fix.  Replace [these 2 lines](https://github.com/NuGet/NuGet.Client/blob/5.3.0.6251/src/NuGet.Core/NuGet.ProjectModel/ProjectLockFile/PackagesLockFileUtilities.cs#L105-L106) with the following:

[code]

[2019-09-30 18:52] nkolev92 commented on #7669
@NuGet/nuget-client everyone should have the details from @danquirk

[2019-09-30 19:03] donnie-msft commented on #8641
@Piccolo66, looks like you didn't include details in your issue. Please update.

[2019-09-30 19:07] nkolev92 commented on #8617
@donnie-msft
As hot seat, can you please look into this?

[2019-09-30 19:22] nkolev92 commented on #8637
There was an old nuget.exe issue a while ago, https://github.com/NuGet/Home/issues/1290.

Back then we closed it's rather dangerous to change right now.
I'm inclined to say the same thing here, but we'll discuss it internally before I close this.

[2019-09-30 19:44] dagood commented on #8637
Thanks! Did some searching but didn't think to look so far back, wow. I agree with this from that thread:

Adding `.txt` to the file name and reversing it when the SDK runs was an easy workaround in my case (and allowing `.nuspec` doesn't really matter to me at this point), but the behavior was really confusing.

[2019-09-30 19:46] carpnick commented on #8645
Looks like a sort is happening on the writer side - https://github.com/NuGet/NuGet.Client/blob/5.3.0.6251/src/NuGet.Core/NuGet.Packaging/RuntimeModel/JsonRuntimeFormat.cs#L77

[2019-09-30 19:50] jirikopecky opened #8646 "Restoring packages with GitHub Package Repository configured generates warnings"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe, dotnet restore and Visual Studio

NuGet version (x.x.x.xxx): 5.3.0.6260

dotnet.exe --version (if appropriate): 3.0.100

VS version (if appropriate): 16.3.1

OS version (i.e. win10 v1607 (14393.321)): Win10 v1903 (18362.356) and Linux Docker container (sdk:3.0-alpine)

Worked before?

[2019-09-30 20:37] nkolev92 commented on #8645
I think the root cause is:

https://github.com/NuGet/NuGet.Client/commit/ee368364795a580a09e3fc8542fff7930485e606

fyi @cristinamanum

I think there's a compare utility that accounts for the order.
https://github.com/NuGet/NuGet.Client/blob/dev/build/Shared/EqualityUtility.cs#L23
I'd use that.

@carpnick since you've already done all the work, do you want to open a PR for this?

You can add a test

[2019-09-30 20:54] nkolev92 commented on #8637
Yeah, looking at those comments, I think a warning is a good idea.
I'll add a logging tag to the issue.

[2019-09-30 21:05] nkolev92 commented on #8645
Addressing the other suggested things:

MSBuild has a property to force reevaluate. dotnet restore is just a wrapper for dotnet msbuild /t:restore
Unfortunately the docs are lacking
https://github.com/NuGet/Home/wiki/Enable-repeatable-package-restore-using-lock-file#restore-command-line-options.

Created a docs issue for that: https://github.com/NuGet/docs.microsoft.com-nuget/issues/1717

Are you

[2019-09-30 21:12] kbilsted commented on #8631
The v1.0.0 of the tool is build using multitarget both .net core and .net framework. when I install it now i get

	PS C:\> dotnet tool install  --version 1.0.0 --tool-path c:\temp  whitespacewarrior
	error NU1212: Invalid project-package combination for WhiteSpaceWarrior 1.0.0. DotnetToolReference project style can only contain references of the DotnetTool type
	The tool package could not be resto

[2019-09-30 21:19] carpnick commented on #8645
Yes @nkolev92  which is why I am so confused.

I was testing with 16.3.0+0f4c62fea of MSBuild which has the DLL in the CommonExtensions folder with a version of 5.3.0.6251....

However, when I test the same exact solution with nuget.exe  which is version 5.3.0.6260, it is working...  I know not the exact same build but close.

Nuget.exe output:
[code]

MSBUILD:
[code]

[2019-09-30 21:23] carpnick commented on #8645
I will look at doing a PR to handle the use case, but I figured I would mention the ordering being different in MSBuild vs Nuget.exe in case there is some oddness on the DepGraph load side.

[2019-09-30 21:45] xuzhg opened #8647 "Certificate error on https://nuget.smbsrc.net"
It's failed to upload the symbols to the symbols sever, the error message:

![image](https://user-images.githubusercontent.com/9426627/65919348-e4818500-e390-11e9-87df-4ac052329dcc.png)

I tried the nuget.exe 5.2.0 version. It's same error message.

How can we upload the symbols server again?

[2019-09-30 23:57] nkolev92 commented on #8645
That's a good point.
Task restore(msbuild, dotnet) generates the Dep graphs in memory and uses the same. NuGet.exe relies on the graph generated by the invocation of an msbuild task, and that'll have things sorted.

[2019-10-01 00:03] nkolev92 commented on #8631
@kbilsted
1.0.0 seems to be built incorrectly.
NuGet and dotnet rely on a package type to understand which packages are tools.

If you look at the 1.0.1 nuspec it has:

[code]
and if you look at the nuget.org page it has the instruction to install via dotnet tool.
https://www.nuget.org/packages/WhiteSpaceWarrior/1.0.1

On the other hand the 1.0.0 nuspec doesn't have the package type metadata, so i

[2019-10-01 00:12] nkolev92 commented on #8639
I think this is a duplicate of https://github.com/NuGet/Home/issues/8645.

The above example will work if the runtime identifiers are sorted.

For example it doesn't repro for me if I do the following:

[code]

Can you please confirm @bergbria

[2019-10-01 00:13] nkolev92 commented on #8639
I guess the other way around since this issue is older.

[2019-10-01 06:54] nkolev92 opened #8648 "Plugin: A task was canceled - don't let cancellations affect plugin instantiation"
The scenario is NuGet restore with one or more protected feeds (in every report we've been dealing with Azure Devops feeds, but that's because majority of the reports are internal).
 
The manifestation of this is restore failing with "A task was canceled" exception.
This is something that happens with the latest NuGet (5.2, 5.3 were both tested) and the latest version of the artifacts-credprovider

[2019-10-01 06:57] nkolev92 commented on #8648
fyi @rrelyea

[2019-10-01 07:12] abhisheka1993 opened #8649 "Imports Newtonsoft.Json in VS 2010"
I want to imports Newtonsoft.Json in vs 2010 for converting the xml string into json but I am not able to add it with version 2.12+
anyone knows how to fix this

[2019-10-01 12:13] JaimeStill opened #8650 "Provide Detailed Missing Dependency Messages"
## Details about Problem

When a `dotnet build` fails in an offline environment, it does not provide adequate context regarding the package that was missing and the source it was missing from.

**`dotnet build` Error**
[code]

Likewise, if a warning is encountered when running `dotnet restore` in an offline environment, the warning does not specify the source the missing dependency is missing from

[2019-10-01 15:04] jc1001 opened #8651 "NuGet cli install with -DependencyVersion Lowest parameter not working as expected"
## Details about Problem

NuGet product used: NuGet.exe
NuGet version: 5.2.0
OS version: Windows 10, Version 1903
Worked before? Not as far as I can tell

## Detailed repro steps so we can see the same problem

I have a NuGet package with 2 dependencies:
[code]
Both of these are valid dependencies that have higher versions available.

When I install my package (using the NuGet cli tool) , I use th

[2019-10-01 17:29] donnie-msft commented on #8649
Which command are you executing and what error message are you seeing? Also, I'm not clear if you're using NuGet.exe or VS2010, as those are separate products.

[2019-10-01 19:31] nguerrera opened #8652 "Race condition in nuget msbuild sdk resolver can cause intermittent failures"
See repro steps in https://github.com/dotnet/arcade/issues/2377

With a clear global packages folder + pristine working directory +  a large solution importing msbuild sdks via nuget, there can be failures to resolve the NuGEt msbuild SDKs when opening the solution. Attaching a debugger shows this exception as a possible root cause:

[code]

[2019-10-01 20:51] zivkan opened #8653 "Improve ConcurrencyUtilities (reduce CPU usage)"
`ConcurrencyUtilities.ExecuteWithFileLockedAsync` is used for locking both between processes and within a single process. It works by looping trying to exclusively open a file and sleeping just 10ms when an exception is caught.

On a solution with a large number of projects that use the same package, this can cause a lot of wasted CPU cycles because each project will spinlock until the file can be

[2019-10-01 21:47] #8648 closed, assigned to nkolev92

[2019-10-01 22:45] JaimeStill opened #8654 "Allow SDK-style Package Installs"
## Details about Problem

Most of the work I do with .Net Core is in an offline environment. Currently, if I want to update the global nuget cache on my offline environment, I have to update dependencies with the `dotnet` CLI as follows:

[code]

This is because of:

![image](https://user-images.githubusercontent.com/14102723/65997274-0f3e0d00-e467-11e9-9f01-e67543bfd106.png)

Where I work, I have

[2019-10-01 23:32] nkolev92 commented on #7029
Duplicate of https://github.com/NuGet/Home/issues/2747

[2019-10-01 23:32] #7029 closed, assigned to nobody

[2019-10-01 23:33] nkolev92 commented on #6166
Duplicate of https://github.com/NuGet/Home/issues/2747 & #5241

[2019-10-01 23:33] #6166 closed, assigned to nobody

[2019-10-02 00:41] johnhamm commented on #5979
This needs to be reopened as the issue still persists.

[2019-10-02 01:12] nkolev92 commented on #5979
@johnhamm

It's duped to https://github.com/NuGet/Home/issues/4491

[2019-10-02 01:27] donnie-msft commented on #8497
@jsv1, yes, I have repro'd your issue in VS 2017 and VS 2019, and using NuGet.exe 5.2.0 back to 4.9.4.

However, the scenario is better handled by VS because it has access to install.ps1, uninstall.ps1 and xdt:Transform. We recommend using the VS UI for updates. Can you explain the scenario where you're needing NuGet.exe for package updates?

[2019-10-02 05:23] donnie-msft commented on #8647
@xuzhg thanks for letting us know, moving to NuGet Gallery

[2019-10-02 05:24] #8647 closed, assigned to nobody

[2019-10-02 05:24] donnie-msft commented on #8647
Issue moved to [NuGet/NuGetGallery #7598](https://github.com/NuGet/NuGetGallery/issues/7598) via [**ZenHub**](https://www.zenhub.com/)

[2019-10-02 08:12] weitzhandler commented on #6082
Same problem here.

[2019-10-02 08:44] jvs1 commented on #8497
I'm investigating if we could use NuGet package repositories and nuget.exe to distribute our build deliverables to upstream build dependencies. At first sight it seemed a simple use case but there were quite some things which were not supported out-of-the-box, like like distributing release and debug binaries for different platforms. Storing and using PDB files for debugging purposes is just anoth

[2019-10-02 10:32] maxinfet opened #8655 "Question: What is a Nuget Integrated Project?"
I just have a question about what kind of project does INuGetIntegratedProject map to? Is this a project that uses package.config or is this a project that uses package references?

[2019-10-02 15:21] rrelyea commented on #8635
I just created a new gRPC project with VS 16.3.x.
It brought in 2.23.1 by default...which took a while to download all the packages it brought it.
Then i upgraded to 2.23.2 via the Package Manager UI.
It also upgraded fine, and was able to remove the warning from the solution explorer and intellisense worked.

If this behavior continues, or many other people see it, please give more details about

[2019-10-02 15:21] #8635 closed, assigned to nobody

[2019-10-02 15:25] rrelyea commented on #8634
this workaround should work:
[code]
(this should be able to find msbuild on the path)

[2019-10-02 15:29] rrelyea commented on #8627
Thanks for filing the bug...
(would be great if the WCF repo didn't need to download its own 3.0.100 if I already have it...I'm at a coffee shop downloading via my cell connection.)

[2019-10-02 15:38] rrelyea commented on #8633
Likely this could be enabled when we support "*-*" (two wildcards). @nkolev92 - can you please confirm and dupe if true.

[2019-10-02 15:57] fiofarinasso commented on #5052
Im having the same problem on Windows 10, could you find the solution?

[2019-10-02 15:57] rrelyea commented on #8627
yes, was able to repro. unsure why our validation rule is looking for build/projectname.targets/projectname.targets -- clearly a problem.
Haven't seen that elsewhere, so it may be something we fix...or tell you how to stop doing weird things. ???

[2019-10-02 16:01] rrelyea commented on #5052
If nuget.org is not accessible from your machine, please follow instructions currently located here: https://docs.microsoft.com/en-us/nuget/nuget-org/nuget-org-faq#nugetorg-not-accessible

[2019-10-02 16:05] StephenBonikowsky commented on #8627
Yes, that project does some less than normal things which are necessary and not the easiest to explain.

However, as it relates to adding a props file and a targets file to the package, we are placing them in the correct location following the correct naming convention. We would prefer not to suppress NU5129.

[2019-10-02 16:10] #8638 closed, assigned to nobody

[2019-10-02 17:33] fredericDelaporte commented on #6082
In other words, the certificate has expired again. That is the third time it expires without being renewed on time. Isn't this slightly deceptive?

[2019-10-02 18:04] anangaur commented on #6082
Checkout NuGet symbol server: https://blog.nuget.org/20181116/Improved-debugging-experience-with-the-NuGet-org-symbol-server-and-snupkg.html

[2019-10-02 18:08] FeodorFitsner commented on #6082
...and if you are deploying from AppVeyor `.snupkg` publishing was implemented in AppVeyor long time ago.

[2019-10-02 18:12] kbilsted commented on #8631
Yes my bad, if I change the csproj to
`<targetframeworks>netcoreapp2.1;net452;net472</targetframeworks>` I get the error

    Severity	Code	Description	Project	File	Line	Suppression State
    Error	NETSDK1054	only supports .NET Core.	WhiteSpaceWarrior	C:\Program Files\dotnet\sdk\3.0.100\Sdks\Microsoft.NET.Sdk\targets\Microsoft.NET.PackTool.targets	77

[2019-10-02 18:36] rrelyea commented on #8624
Creating a bunch of packages that have the same identity (id and version) but different content, is a troublesome practice.

We'd think that publishing these packages as different versions is the right thing to do.
The challenge is the updates. One idea is to automate a change to the packages.config files and csproj files and merge that change. Then your engineers would be able to work at any part

[2019-10-02 18:38] rrelyea commented on #8622
@joelverhagen / @karann-msft  - can you take a quick look at this. Known issue? Plan?

[2019-10-02 18:40] rrelyea commented on #8652
@jeffkl - can you please direct as appropriate.

[2019-10-02 18:43] mika76 commented on #8543
I'm getting the same issue on a new console app trying to add MediatR package...

[code]

Could it be because my folder is called mediatr as well? (cycle detected?)

[2019-10-02 18:43] rrelyea commented on #8654
We don't plan to move dotnet add package to nuget.exe.
Longer term, we'll likely finish moving all valuable commands from nuget.exe to dotnet.exe, and we'll retire nuget.exe. Sorry.

[2019-10-02 18:43] #8654 closed, assigned to nobody

[2019-10-02 18:50] generik0 opened #8656 "dotnet test, azure devops. Not working on with csproj and devops artifacts"
Hi
I have seen other issues (closed) regarding this matter. However, none of them address azure develops (cload) and build agent.

The basic issue =

When trying to run a dotnet test on a csproj, with personal nugets on devops artifacts, even though the source is added to the build agent, the nuget fail for dotnet test.

This is even is there are adde previous tasks:
- dotnet restore (with nuget.c

[2019-10-02 18:54] generik0 commented on #8656
I found what i needed was "dotnet test --no-build" the "--no-restore" is not good enough as the build will trigger the restore. But the "dotnet test --no-build" does the job ;-)

[2019-10-02 18:54] #8656 closed, assigned to nobody

[2019-10-02 18:57] derekwheeler-tylertech commented on #7967
Is this still in limbo? Microsoft has started to let support for VS 2017 fall behind. (Specifically it no longer supports doing remote xamarin builds to a Mac that runs XCode 11). So we're forced to use VS 2019. And now we can't produce our nugets so we're basically dead. So anyway this could be bumped up priority would be appreciated. Thanks!

[2019-10-02 19:15] joelverhagen commented on #8622
**tl;dr:** if you want to find a single package on nuget.org using `nuget.exe list` then you can use `nuget.exe list packageid:{your package ID} -source https://api.nuget.org/v3/index.json`. This essentially issues a search where the package ID must exactly match something.

### Request for people in this thread

Could you respond back to this issue and tell us what purpose you are using `nuget.ex

[2019-10-02 19:25] jeffkl commented on #8652
It looks like the API is attempting to use the locking mechanism which is failing.  I wouldn't say that's specific to the SDK resolver but more of a problem with the locking mechanism right?

[2019-10-02 19:55] heng-liu commented on #8629
@krwq Thanks for your comments!

[2019-10-02 20:20] nguerrera commented on #8652
Maybe that is expected? Is it relying on "file in use" errors as a locking mechanism? Is that first chance exception a red herring?

The fact remains that the resolver randomly fails under the conditions described.

[2019-10-02 20:51] nkolev92 commented on #8625
While running a specific repros, I'm seeing signals that it might.

[2019-10-02 20:59] TheCakeIsNaOH opened #8657 "Nuget push ssl certificate error when running on mono"
## Details about Problem

NuGet product used: Nuget.exe on mono docker image
NuGet version: 5.2.0.6090
Mono version: 6.4.0.198
OS version: mono:6.4.0198 docker image running on Debian 10 host

### What is happening-
When trying to push a nupkg to chocolatey.org I am getting an SSL certificate error; CERTIFICATE_VERIFY_FAILED

Nuget on windows works.

### What I expect to happen-
Nuget on mono succ

[2019-10-02 21:19] jeffkl commented on #8652
Yes actually I think that's the mechanism, if the file's in use its like a system-wide mutex.  Are there other exceptions?  I've seen where the resolver bubbles up an AggregateException but have never gotten my hands on a DMP to tell me what the inner exception is.

[2019-10-02 21:21] rrelyea commented on #8652
@zivkan is examining potential fixes to remove exceptions from that locking scenario. Testing and debating fix.

[2019-10-02 21:23] nguerrera commented on #8652
I can try to produce a .dmp when things settle down on 3.1 preview 1 and 3.0.1 servicing. The repro steps in https://github.com/dotnet/arcade/issues/2377 combined with `dotnet nuget locals all --clear` and `git clean` made the repro relatively reliable for me. I should have saved a dmp then...

[2019-10-02 21:27] zivkan commented on #8652
It does look like how NuGet does system wide mutex, as @jeffkl said. And yes, it's a first chance exception, [caught in a loop](https://github.com/NuGet/NuGet.Client/blob/caac28293a4032de8629b39597a179df988a612a/src/NuGet.Core/NuGet.Common/ConcurrencyUtilities.cs#L80-L86).

I have a PR out NuGet/NuGet.Client#3076 which will stop using file-locking for tasks/threads within the same process, but it

[2019-10-02 21:38] jeffkl commented on #8652
@nguerrera just to be sure we're talking about the same thing:

I have hit an issue in Azure DevOps hosted builds where the very first restore/build fails because the NuGetSdkResolver throws an AggregateException so a project SDK like `Microsoft.Build.CentralPackageVersions` can't be found.  If I run two builds on the same machine, the second one would succeed, so it looks like something to do wit

[2019-10-02 22:41] nkolev92 commented on #8625
The root cause is https://github.com/Microsoft/msbuild/issues/3362.

[2019-10-03 02:02] proudmonkey opened #8658 "Nuget Download Count for Template Type Not Updating when Installing via .NET CLI"
Hi,

I apologize if this has been asked before. I tried to look for an existing issue related to this here but I can't seem to find any. I've also searched the web but to no avail.

I have uploaded a new Nuget Template package 4 days ago, and when I install it via .NET CLI, the downloads isn't counting even if the template was successfully installed. I've tried it may times and tried using differe

[2019-10-03 02:44] JaimeStill commented on #8654
The dotnet CLI team says this [is a NuGet issue](https://github.com/dotnet/cli/issues/12764#issuecomment-537685513):

[2019-10-03 03:33] rrelyea commented on #8654
This is not a normal request. Why cannot you have netcore sdk on your machine????

[2019-10-03 03:49] JaimeStill commented on #8654
I'm a government contractor who builds apps on a disconnected, classified network. I have administrative privileges to the classified network for the sake of conducting app development. However, the unclassified network is restrictively locked down, and getting resources installed that require administrative privileges is a bureaucratic effort to say the least. My best alternative, currently, is t

[2019-10-03 04:41] nguerrera commented on #8652
Sounds similar, don’t recall AggregateException but this was in IDE which may have buried it. I can repro “clean machine” by cleaning git repo and global packages folder. This came up a long time ago and only got around to filing now based on discussion on linked arcade issue

[2019-10-03 05:55] abhisheka1993 commented on #8649
I am using vs2010 in that I want to add the reference of Newtonsoft.json but it's unable to add

[2019-10-03 06:46] olivier-spinelli commented on #8601
Yes, having a real date is somewhat useful, and yes the commit date is the best candidate (when a VCS is used), otherwise the date can be derived from... whatever you can imagine.

Honnestly a simple **PackageDate[Time]Utc** or a more general **BuildDate[Time]Utc** property that could be initialized with UtcNow seems perfect to me...

...or did I miss something huge?

[2019-10-03 07:38] daveylad commented on #7967
I'd say the lack of a single response on this thread from @kzu speaks volumes in itself.

[2019-10-03 11:53] jjanuszkiewicz commented on #8634
@rrelyea thanks for the tip, but this is not what I need, as this is still using MSBuild auto-detection (meaning it may use a different version if it is available in PATH as well). I want to force it to use specifically the given version, which as I understand the `MSBuildPath` argument is meant for.

[2019-10-03 14:00] Caldas commented on #6437
This is a mess, any plan for a real solution?

[2019-10-03 14:13] jeffkl commented on #8652
Here's an example of what I keep seeing:

https://jeffkl.visualstudio.com/Public/_build/results?buildId=477

I ended up adding a second build to my pipeline as a retry and the second build always succeeds.  But the first one fails because the NuGetSDKResolver hits an exception and doesn't resolve the MSBuild project SDK:

[code]

If I use `dotnet build` on the same repo, it works just fine.  I hav

[2019-10-03 14:52] rrelyea commented on #8654
Perhaps something like this would work for you today:

Nuget.exe locals clear all
File new project.
Choose right TargetFramework in csproj.
Hand add 1 or more package referenceS to that csproj.
Run nuget.exe restore in csproj.
Voila - copy all the downloaded packages from global package folder.

If that works, would be easy to make a command line tool that did those steps for you.

Sound good?

[2019-10-03 17:04] tmat commented on #8601
I don't see why there is a need for a timestamp on the items zipped in the NuGet package. Why wouldn't the version stored in these files be sufficient/better.
NuGet packages already have commit SHA metadata from VCS, so it is easy to find out what source snapshot were they built from.

[2019-10-03 17:08] donnie-msft commented on #8649
Can you copy/paste the error message, or take a screenshot of the error? Are you using the Install tab in "Manage NuGet Packages" or Package Manager Console?

[2019-10-03 17:23] bergbria commented on #7505
@PatoBeltran / @nkolev92 - any updates here? This recently caused breaks for my team when trying to update from nuget 4.6 to 5.3.

[2019-10-03 17:43] nkolev92 commented on #8601
@olivier-spinelli Using UTC now would break determinism.

I agree.

The problem is not every package does that. Even then, depending on the timestamp is a bad idea.

[2019-10-03 17:55] tmat commented on #8601
Agreed. Just saying we already have a mechanism that associates package with the source snapshot.

[2019-10-03 19:22] nkolev92 commented on #8633
I think prerelease metadata should not be part of version matching by design, because it violates https://semver.org/#spec-item-11.

As far prerelease tags #912 is an equivalent ask.

Currently there are no options.

[2019-10-03 19:22] #8633 closed, assigned to nkolev92

[2019-10-03 19:25] nkolev92 commented on #8632
@sebastianslutzky

What's the commit sha of the repo?
We made that change ~1 year ago.
And it was done in one commit, all projects were moved at the same time.
https://github.com/NuGet/NuGet.Client/commit/48179681099a91a61ad398628756f23075e9b6b1

[2019-10-03 19:28] nkolev92 commented on #8631
@kbilsted

Are all your concerns addressed here?

Feel free to close if so, happy to help more if needed.

[2019-10-03 20:45] fredericDelaporte commented on #6082
@anangaur, @FeodorFitsner , the new symbol system is very likely to be well known by most people here, and that is not the subject.

Letting a certificate expiring without renewing it is no way of obsoleting a feature previous version.
Beside, there is also legacy versions of software which may need some new release, notably for fixing security issues, while the code base of those legacy versions

[2019-10-03 21:01] nkolev92 commented on #8658
Thanks for the filing the issue.

This is better suited for the NuGetGallery as that's where nuget.org issues are handled.

Duplicate of https://github.com/NuGet/NuGetGallery/issues/7592

[2019-10-03 21:01] #8658 closed, assigned to nobody

[2019-10-03 21:14] FeodorFitsner commented on #6082
@fredericDelaporte I agree. I'm not sure I understand who is standing behind that web site, who is responsible for its maintenance?

[2019-10-03 21:44] nkolev92 commented on #8595
I changed it.
We'll know if there are any other problems when we do the next insertion :D

[2019-10-03 21:44] #8595 closed, assigned to nkolev92

[2019-10-04 00:03] #8034 closed, assigned to dominoFire

[2019-10-04 00:48] nkolev92 opened #8659 "Package Analysis Warnings: Packages' assembly level dependencies should match the declared dependencies"
Today it's possible that a package unwittingly takes an API dependency on transitive package and doesn't account for that when expressing it's dependencies.

https://github.com/dotnet/core/issues/2571 is such an example.

@ericstj commented

@nkolev92 commented

[2019-10-04 00:50] nkolev92 commented on #8659
We also need to consider that some library authors avoid declaring all their dependencies in all the projects (especially services), and rely on transitivity to get needed assembly.

We could argue this is not the best practice, but I'd imagine it's super common.

[2019-10-04 04:02] nguerrera commented on #8652
Friends don't let friends `catch (Exception ex) { Log(ex.Message); }`

[2019-10-04 05:35] MarioZ opened #8660 "Issue with replacing deprecated '<iconUrl>' with '<icon>'"
# Details about Problem

I'm trying to make the replacement that was suggested when I recently uploaded ".nupkg".
I've added the new `icon` element to my ".nuspec" file, but when trying to PACK it using "nuget.exe - recommended latest v5.2.0" I get the following error:

# Detailed repro steps so we can see the same problem

1. Create "sample.nuspec" with 'icon' element:

[code]
2. Download [nuget.

[2019-10-04 07:48] MarioZ commented on #8660
Also a side question if I may ask, what will happen with an older package releases that had `iconUrl`, will they continue to use that URL?
Basically what I'm asking is, do we now need to maintain both URL and the content file?

I can understand that for `licenseUrl` that was unavoidable, but in this case I believe you could handle the fallback of missing `iconUrl`.
Would you be open to that, help

[2019-10-04 09:00] olivier-spinelli commented on #8601
You got me wrong: I absolutely don't care of all these date/time. My goal is only to achieve "Deterministic Packages".

My "proposal" is only because there are dates at some places (and that purely removing them seems unrealistic).

I'm just saying: let's define ONE MSBuild date property, let's it empty by default (following the MSBuild empty property pattern for (re)definition), at the very last

[2019-10-04 12:11] tugrulelmas commented on #8624
Hi @rrelyea, I want to try PackageReference with wildcard versions for at least class library projects. As far as I can see, wildcard rule installs latest nuget packages but it doesn't check during every build if there is a new version and I can not force Visual Studio to install the latest one. Visual Studio probably uses a cache to install packages and that's why installs the latest one after a

[2019-10-04 12:55] JaimeStill commented on #8654
`nuget.exe` version: **5.3.0**

Gave this a shot, and it doesn't work. Here are the details:

Created a project using `dotnet new classlib -f netcoreapp3.0`.

Here is the `.csproj`:

[code]

And the attempt to restore via `nuget.exe` after wiping the local cache:

![failed-restore](https://user-images.githubusercontent.com/14102723/66209099-ac29c180-e684-11e9-84e4-6495e04baa95.png)

Looks like eve

[2019-10-04 13:50] campersau opened #8661 "HttpRequestMessage gets reused multiple times which is not supported with the SocketHttpHandler"
The [`SocketHttpHandler` does not support reusing HttpRequestMessages multiple times](https://github.com/dotnet/corefx/issues/25163). This can lead to issues with authentification if the user provides the wrong credentials the first time, because the `Authorization` header gets [added](https://github.com/dotnet/corefx/blob/eff9fbf446468ca411bf5e0475916f316eea7223/src/System.Net.Http/src/System/Net

[2019-10-04 14:58] catharsis99 commented on #1215
I still have this problem.
I use Visual Studio Community 2015.
I managed to install NuGet package manager. I created one new project.
Type of the project is Report Server Project (Business Intelligence).
When I open project, and click on Manage NuGet Packages error message is shown "Operation failed. The project "Test project" is unsupported."

I wanted to install QR Coder library https://www.nuge

[2019-10-04 15:15] infin8x opened #8662 "support for envvars in NuGet.config - improve docs for xplat behavior"
## Details about Problem

NuGet product used: dotnet on Mac

dotnet.exe --version (if appropriate): 2.2.104

OS version (i.e. win10 v1607 (14393.321)): macOS Mojave 10.14.6

Worked before? If so, with which NuGet version: [Was No, @rrelyea added comment with link to docs. Perhaps this is a dotnet.exe bug only?]

## Detailed repro steps so we can see the same problem

1. Set up NuGet.configs and ad

[2019-10-04 15:15] infin8x commented on #8662
@anangaur sorry for the long delay, but here's the issue I promised to file.

[2019-10-04 16:59] rrelyea commented on #8661
@zivkan - related to some of the issues you are seeing?

[2019-10-04 17:16] zivkan commented on #8661
no. SocketHttpHandler is the new HttpClient code in .NET Core 2.1. I've been testing exclusively on .NET Framework, which uses the WinHttpHandler.

[2019-10-04 18:04] JohanOtto commented on #6795
Hey so I got this issue when doing some coding and adding a reference to a project that was already in the project as a nuget package. I removed the nuget package - added a project reference but the dotnet restore command failed. A work-around was to change the version number of the referenced project.

[2019-10-04 18:26] rrelyea commented on #8650
The restore errors out because not all sources are available.
Feeds need to be disabled if they are not available if you don't want to error out.

About the warning...
We don't care where the package comes from...if we cannot find it, that means it is in none of the sources.

dotnet restore defaults to verbosity of minimal. If you switch to verbosity normal, it will list all the sources. `dotnet r

[2019-10-04 18:35] rrelyea commented on #8660
You need NuGet 5.3 to support Package Icons. We typically wait to make sure nobody finds a critical problem in it before we bless it (which turns on a few autoupdate mechanisms)

Over time, we'll stop using the iconurl.
Nuget.org will copy most of those icons to its own storage, so that even new clients will work with old packages.

It is possible for you to include both for now...it will make the

[2019-10-04 19:02] JaimeStill commented on #8650
The `--verbosity normal` flag would be adequate for the build error.

With regards to the restore warning, I still think it would be very beneficial to know the source of where the approximate best match was found. In the example / issue documented above, I was completely unaware that a `NuGetFallbackFolder` was used as a source for pre-built packages. Particularly when this directory is not liste

[2019-10-04 21:19] rrelyea commented on #8662
Looks like I evolved the title badly. We do support envvars in nuget.config, and it should work on mac/linux too.
https://docs.microsoft.com/en-us/nuget/reference/nuget-config-file#using-environment-variables

[2019-10-04 21:34] rrelyea commented on #8662
This works fine with dotnet.exe 3.0 on windows:
[code]

[2019-10-04 21:39] nkolev92 commented on #7328
fwiw just using "[*, ) should be enough and is arguably more accurate as `*` and `[*, )` should be equivalent.

[2019-10-04 22:01] rrelyea commented on #8662
@infin8x - can you try %NUGET_AUTH_TOKEN% instead of $NUGET_AUTH_TOKEN.
I think we call [ExpandEnvironmentVariables](https://docs.microsoft.com/en-us/dotnet/api/system.environment.expandenvironmentvariables?view=netcore-3.0), which doesn't document different character behavior on different platforms. Also, trying netcore 3.0 might be best...so we can test our latest behavior.

[2019-10-04 23:45] kartheekp-ms commented on #8596
This issue is linked to ADO - 959454. The call stack for this issue has common ancestor methods when compared to UI delays reported in #8514. The fix applied for the related issue should fix this issue too.

[2019-10-04 23:45] #8596 closed, assigned to kartheekp-ms

[2019-10-05 01:31] donnie-msft commented on #8655
INuGetIntegratedProject is the way NuGet represents a project in VS, for interacting with project systems. It does not represent package.config projects; only PackageReference or project.json projects.

[2019-10-05 01:32] #8655 closed, assigned to nobody

[2019-10-05 01:49] #8641 closed, assigned to nobody

[2019-10-05 02:08] donnie-msft commented on #8640
I couldn't repro on:

- VS 16.4.0 Preview 2.0 [29403.147.master]
- dotnet 3.1.100-preview1-014394

//cc @nkolev92 anything jump out to you ?

[2019-10-05 02:46] donnie-msft commented on #8644
Where did your PackageReferences come from (generated or manual) ?
Pinging @nkolev92 , as I'm not the expert here.

FYI, here's what I tried without any issue:

Firstly, Microsoft.Build 15.9.20 depends on NETStandard 2.0.

And I had no issue adding this to my csproj:
[code]
Which generated this project.assets.json as expected:
[code]

[2019-10-05 06:38] MarioZ commented on #8660
I thought that might be the case, which is why I emphasized that I was using "recommended latest v5.2.0".
I think it's good that you removed the warning.
Also, I think that upload on "nuget.org" should really be in sync with the recommended "NuGet.exe".

Anyway, it's great that you're planning on storing locally the `iconurl` images sometime in the future.
Will we be notified when this happens or

[2019-10-05 08:22] TFTomSun opened #8663 "Restore Nuget package in a publish way"
from https://github.com/microsoft/msbuild/issues/4771

Is there any possibility to simply restore a package and all of its dependencies and put them together in one output like a publish build would do it?

My current workaround is to create a temporary project with a package reference to the given package and then perform a build on that temporary project.

Unfortunately I need to know the Target

[2019-10-05 10:07] 3F commented on #8644
@donnie-msft Thank you for reply!

The problem exactly with **other** versions. As it was shown in my *samples above*.

* 15.9.20 - when netstandard1.1. This was just for NU1202 problem.
* 16.3.0 - when netstandard2.0.

I need to provide **netstandard1.1** target platform if we will talk about more specific problem.

Today I still can't through `PackageReference` at all. Only for old `Reference` t

[2019-10-05 10:44] 3F commented on #8644
Here is a complete example for your convenience.

Through `PackageReference` - **FAILED** :

[code]

[code]

Through `Reference` - **Build succeeded**:

[code]

[code]

[2019-10-05 13:29] #8629 closed, assigned to heng-liu

[2019-10-05 17:42] korneliuscode commented on #6324
I had the same issue, when the version in the csproj file was malformed.

[2019-10-06 00:58] TheCakeIsNaOH commented on #8657
Solved, push.chocolatey.org is not sending the intermediate certificate. Issue opened here-
https://github.com/chocolatey/chocolatey.org/issues/584

Fixed in the meantime by manually downloading and importing the intermediate certificate.

[2019-10-06 00:58] #8657 closed, assigned to nobody

[2019-10-06 02:46] cilerler commented on #8580
@rrelyea, It should work in non-windows builds.  Would you please change this as a bug and not a question?  Thanks in advance.

[2019-10-06 17:07] rekire commented on #8657
This is likely triggered by a bad SSL configuration see also https://github.com/chocolatey/chocolatey.org/issues/584. However in that case there could be a more helpful error message.

[2019-10-07 04:06] ackava opened #8664 "Certificate Expired on nuget.smbsrc.net"
It seems Lets Encrypt certificate is expired since Sep 28, 2019 and it is giving errors while trying to upload symbols through AppVeyor.

[2019-10-07 11:17] KarthickR5 opened #8665 "How to install Main NuGet and dependent NuGet with same FrameWork version."
When i install custom nuget package **packages.aspnet.mvc5** in aspnet application with targetFramework 4.6 , The Main package(packages.aspnet.mvc5) dll referred 4.5 Framework. But the dependency of main package **compression.base**(Independent Nuget) dll referred from 4.6 targetframework instead of 4.5 Framework. Due to his bindig redirect entry added in webconfig file. Example,
[code]

How to re

[2019-10-07 13:01] andrewducker opened #8666 "VS2010 plugin doesn't remember passwords"
## Details about Problem
NuGet version (x.x.x.xxx): 4.3.0.4406

VS version (if appropriate): 2010

OS version (i.e. win10 v1607 (14393.321)): 7

## Detailed repro steps so we can see the same problem

1. Open a VS2010 solution with a bunch of dependencies coming from a local NuGet repository.  Open "Manage NuGet packages for Solution".

2. See the "Some NuGet packages are missing from this solutio

[2019-10-07 16:26] sarthak199526 commented on #6855
I am having the same problem On latest Visual studio mac latest version

[2019-10-07 18:00] infin8x commented on #8662
No dice, that also fails, even after I install netcore 3.0.

Simplest repro of this:
1. Clone the repo I referenced above, on a Mac.
2. Make `.nuget\nuget\nuget.config` like the example below.
3. Add your token as an envvar.
4. Run `dotnet restore`.

[code]

[2019-10-07 18:00] infin8x commented on #8662
But, I agree that this works on Windows, I think this is a Mac(/Linux)-only issue.

[2019-10-07 18:08] nkolev92 commented on #8644
The package Microsoft.Build, [15.9.20](https://www.nuget.org/packages/Microsoft.Build/15.9.20) supports the following platofrms:

netcoreapp21
netstandard20
net46

Your project is netstandard11.

None of the package frameworks are compatible with netstandard11, so that's why the PackageReference install fails.

See https://nugettoolsdev.azurewebsites.net/5.3.0/framework-compatibility?project=netst

[2019-10-07 18:27] nkolev92 commented on #8640
I can repro this with a malformed lock file.

I don't think that was ever the requirement. I'm referring to the language of incorrect vs inconsistent.
The requirement is for NuGet for the operation to fail and that does happen.
The 1004 was what implemented as a response to #8160.

I think there's a valid argument that the message could be better though.

This is a good point.
In locked mode, we s

[2019-10-07 18:45] nkolev92 commented on #8644
It's pure luck if it does work.
You likely have a runtime that's net46 or higher.

Then you should not take dependencies to assemblies that require higher versions of the framework.
You *will* run into runtime problems at some point.

That's up to the publisher of the Microsoft.Build package. They only work against the specified framework, it's on them to decide which frameworks their libraries ne

[2019-10-07 20:18] 3F commented on #8644
net472 -to-> netstandard2.0 ? okay

Yes, of course +lot of other pkgs. Btw, just remembered this: https://github.com/microsoft/msbuild/issues/3581

Yeah, thanks again for my additional hours with an urgent fixes in our internal projects like for this and more: https://github.com/NuGet/Home/issues/1521

This is other story. I'm talking about **[this](https://github.com/dotnet/standard/blob/master/d

[2019-10-07 20:36] kartheekp-ms commented on #8663
@TFTomSun - Refer to [this](https://docs.microsoft.com/en-us/nuget/consume-packages/install-use-packages-nuget-cli#install-a-package) article to install a package and its dependencies to a output
folder. Refer to [this](https://docs.microsoft.com/en-us/nuget/consume-packages/install-use-packages-nuget-cli#install-a-package) to know more about nuget feature availability across various tools and ope

[2019-10-07 20:45] 3F commented on #8644
An addition to related issue about *partial compatibility* of the dependencies that I also already mentioned here:

https://github.com/dependabot/feedback/issues/259#issuecomment-508242665

Because if you really know what are you doing, you can even reduce some required references from you assembly while the dependent library will still reference even missing modules like dlls.

For projects sach

[2019-10-07 20:52] kartheekp-ms commented on #8664
Duplicate of #8647

[2019-10-07 20:52] #8664 closed, assigned to nobody

[2019-10-07 21:26] livarcocc opened #8667 "dotnet restore fails on Ubuntu 16.04"
_From @luhis on Friday, October 4, 2019 3:31:13 PM_

I have updated my site to dotnet core 3.0, but it fails to restore the packages.  Dotnet restore just hangs.  Reverting back to my old core 2.2 version worked.  I tried using a brand new Ubuntu Server 16.04 image and it restored just fine.  It looks like a similar issue to this https://github.com/dotnet/cli/issues/11560 however setting MSBUILDDI

[2019-10-07 21:36] nkolev92 commented on #8644
That's ok, but you don't seem to be doing this. Your example has netstandard as the pivot and
netstandard1.1 to net46 is not ok.

Can you be more specific what about the layers you have issues with?
NuGet implements that specific table in its framework compatibility checks.

Reference has been around for a very long time, way before NuGet was ever a thing.
Ignoring NU1202 is not the right approach

[2019-10-07 21:39] 3F commented on #8644
[above](https://github.com/NuGet/Home/issues/8644#issuecomment-539143946)
[code]

`Microsoft.Build 16.3.0 is not compatible with netstandard2.0`

-> `NU1202:   - net472`

[2019-10-07 21:47] rrelyea commented on #8666
I would hope that this would have improved...but I'm unable to test. I think that it is more appropriate for you to ask this question of the Nexus community.

Perhaps: https://support.sonatype.com/hc/en-us/requests/new

[2019-10-07 21:51] nkolev92 commented on #8644
It seems like I missed it, sorry about that.

Now the package supports:

net472 and netcoreapp2.1

Both of those implement netstandard2.0, but they both have a wider set of APIs available as you said yourself.

netstandard2.0 is not compatible with net472 and netcoreapp2.1.
The reverse is true, but not in that direction.
https://nugettoolsdev.azurewebsites.net/5.3.0/framework-compatibility?project

[2019-10-07 21:51] dasMulli commented on #8644
There seems to be confusion around the "X to Y" reference.

.NET 4.7.2 projects "can use" netstandard2.0 assemblies.
However, it is not the other way around.

Same for .NET Core 2.1. Both .NET Core 2.1 and .NET 4.7.2 contain more APIs than defined in .NET Standard 2.0, so a .NET Standard 2.0 project cannot use a .NET 4.7.2 or .NET Core 2.1 project/library.

Microsoft.Build was explicitly moved to

[2019-10-07 21:54] rrelyea commented on #8661
@zivkan  - assigning this issue to you, as it appears to affect GPR scenarios. See https://github.com/dotnet/corefx/issues/25163#issuecomment-538009706
FYI: @anangaur

[2019-10-07 23:05] 3F commented on #8644
Sounds like something secret o_0

I don't see problems say for netfx -> netstandard-> netfx ...

Because in general, netstandard it's **just** ~API. Layer between specific impl.

Yes, of course, because netstd2 fully covers 472

I already mentioned the *possible ways* above. But if you need again my full example, I'll try tomorrow.
just /2 AM on my watch

[2019-10-07 23:32] nkolev92 commented on #8644
I think the focus should be on:

What you've shown us are sort of "hacks" where we cannot guarantee no runtime problems.

When restoring netstandard => netfx, NuGet cannot know that it will later be referenced again by netfx, and it might just end up working by accident.

What if NuGet allows netstandard => netfx reference where later that package gets referenced by netcoreapp? Then the runtime wo

[2019-10-08 00:18] donnie-msft commented on #8644
Perhaps some confusion here is from the fact that References have no validation applied to them. They sometimes accidentally work, even if they aren't explicitly compatible. You may or may not have a runtime error (you are lucky in that you're not having a runtime error).

PackageReference are always validated for TFM compatibility. Thus, you're seeing the error only when using references this way

[2019-10-08 00:25] rrelyea commented on #8651
The .nuspec file inside of YamlDotNet.Signed lists:
[code]
NuGet Install tries to download all dependencies. Therefore YamlDotNet is one of the packages downloaded.

[2019-10-08 00:49] louistio commented on #3830
I believe this issue needs more attention as it is still present and **breaking** for nuget packages that use `<references>`. These packages **can't be safely used** by both `packages.config` and `PackageReference` projects.

I am providing all code necessary to reproduce this issue in the hope that maintainers can address it.
[NuspecReferencesIssue.zip](https://github.com/NuGet/Home/files/3700151

[2019-10-08 00:50] louistio commented on #7652
I believe this issue is a duplicate of https://github.com/NuGet/Home/issues/3830

[2019-10-08 07:58] jc1001 commented on #8651
Thank you for the reply.  You are correct in that the latest version of YamlDotNet.Signed (v6.0.0) does have a dependency on YamlDotNet 6.0.0.

In my test package above, I am however installing YamlDotNet.Signed 5.1.0 which does not have any dependencies.

[code]
Since I am using the NuGet cli with the -DependencyVersion Lowest parameter (see original issue above), I would expect:
a) that the outp

[2019-10-08 10:41] andrewducker commented on #8666
I don't believe it's a Nexus issue - otherwise "nuget restore" wouldn't work.

I strongly suspect that it was fixed by this pull request:
https://github.com/NuGet/NuGet.Client/pull/1513

But that this wouldn't apply to a VS2010 plugin, as they weren't being produced by then.

Would anyone on the NuGet team be able to confirm this?

[2019-10-08 10:47] koliyo commented on #1851
Please make this a priority, if Microsoft is serious about true cross-platform .NET application development.

We need both MacOS and Linux support!

[2019-10-08 11:21] TFTomSun commented on #8663
I try to pack test projects and run the tests using dotnet vstest against their binaries. I could publish the test projects but and then pack the output, but that would mean that the packages always become very big, because of redundant dependencies. So what I would like to do is pack the test in a normal way, then later restore and publish it. To do that I currently new MSBuild. So what I do is c

[2019-10-08 11:48] dennisvanderpool commented on #6978
This worked for me, thanks.

[2019-10-08 16:42] asherber opened #8668 "Determine if nuget source name is case-sensitive and ensure disable and other uses works properly given that"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): nuget.exe

NuGet version (x.x.x.xxx): 5.2.0.6090

dotnet.exe --version (if appropriate):

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)):  win10 v1709 (16299.1268)

Worked before? If so, with which NuGet version: Don't know

## Detailed repro steps so we can see the sam

[2019-10-08 17:37] cristinamanum commented on #8257
Keep this open until new meeting with Project System

[2019-10-08 17:42] cristinamanum opened #8669 "[Centrally managing NuGet packages and versions] Dev design document for the Restore command"
Dev design document for the dotnet commands

https://github.com/NuGet/Client.Engineering/pull/112

[2019-10-08 17:42] nkolev92 commented on #8644
AssetTargetFallback is the solution for not 100% compatible framework.
It's something that can be provided by the user or otherwise.

Note that it's not recommended to stray away from the NuGet/SDK imposed restrictions, because if you end up shipping a package that bypasses NuGet/SDK restrictions it might not work for your customers and the tooling would not be able to tell that.

In the .NET Core

[2019-10-08 17:45] cristinamanum opened #8670 "[Centrally managing NuGet packages and versions] Evaluate design options for supporting pinning of transitive dependencies in CPVM"
Evaluate design options for supporting pin of transitive dependencies in CPVM

[2019-10-08 18:03] tugrulelmas commented on #7198
Any update on this?

As @mpetito has suggested before, making a feed non-cacheable would make more sense for floating package references because, in my opinion, this feature is mostly used for packages which get lots of update in a day and is published to a different feed. In that scenario, I shouldn't wait for 30 minutes to download latest version of package.

@nkolev92 is there an equivalent of

[2019-10-08 18:43] nkolev92 commented on #7198
@tugrulelmas

NuGet.exe has a `-Force` switch.
MSBuild /t:restore will read the `/p:RestoreForce="true"`
dotnet.exe restore is msbuild restore under the hood.

[2019-10-08 19:20] rrelyea commented on #8622
Awesome. Thanks Joel.
All- let us know if you have any concerns. Closing.

[2019-10-08 19:20] #8622 closed, assigned to joelverhagen

[2019-10-08 19:29] tugrulelmas commented on #7198
Then, can we say following documents are outdated?
https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#restore-target
https://docs.microsoft.com/en-us/nuget/reference/cli-reference/cli-ref-restore

[2019-10-08 19:30] nkolev92 commented on #7198
Seems like they are.
I will update them.

[2019-10-08 19:45] 3F commented on #8644
Thanks for clarifying my question! I understood NuGet team with this issue, and partially(yet) I support it.

We will :) It was planned anyway.

[2019-10-08 19:45] #8644 closed, assigned to nobody

[2019-10-08 20:02] rrelyea commented on #8666
Sorry. We aren't able to verify.
Even before that commit, we worked just fine for many cached credentials with many nuget servers in VIsual Studio.

It would be probably be best for you to try VS2017 or VS2019 in your environment, following any special instructions that your nuget server vendor provides.

[2019-10-08 20:22] rrelyea commented on #8642
I was able to get both working fine with VS 16.3.

Repro steps:
1) file new project > iOS App (Xamarin)
2) created an sdk style project to build a package to use:
    dotnet new classlib -o buildtargets
    add buildtargets.targets to root of project with the following content:
[code]
    modify csproj to be:

[code]

build the package via dotnet pack
add the package to the ios project (first crea

[2019-10-08 20:31] donnie-msft commented on #8617
Updated expired credential.
Re-labelled the linked issue, and it properly triggered a CI Build.

[2019-10-08 20:31] #8617 closed, assigned to donnie-msft

[2019-10-08 20:35] rrelyea commented on #8624
@tugrulelmas  -
In order to ensure you are getting the latest package when you a floatversion (with "*" somewhere in version) -- you need to force the restore to run:
- dotnet.exe restore --force
- nuget.exe restore -force
- in VS - build/rebuild all (will do a force under the covers)
- delete assets file from obj\ directory....then restore
- etc...

Yes, we don't handle floating versions in VS ui

[2019-10-08 21:40] mthalman commented on #6045
Is this issue taking into account the requirements of https://github.com/NuGet/Home/issues/6243?  That issue was closed as dupe in favor of this one so I want to make sure this "uber" issue is accounting for it in the design.

There needs to be a solution that can:
* Work in automated, non-interactive scenarios
* Not require artifact credential provider (i.e. can target custom NuGet feeds with pla

[2019-10-08 22:33] richlander commented on #6045
@mthalman -- with your requirements, is it OK if your nuget.config with your password is part of the build context and becomes part of an intermediate layer?

[2019-10-08 22:40] bergbria commented on #7505
Standalone repro here: [nuget_unsafeEntry_repro.zip](https://github.com/NuGet/Home/files/3704802/nuget_unsafeEntry_repro.zip). Just download, extract, and run repro.bat.

Notes from my investigation:
* Facts:
    * When Path.GetFullPath sees a ~ in a file name, it decides the path might contain a short name
    * It calls TryExpandShortFileName to sort this out
        * This calls GetLongPathName

[2019-10-08 22:50] dominoFire opened #8671 "Support for OptProfV2 CI runs in Escrow mode"
In https://github.com/NuGet/Home/issues/8578 , we disabled OptProfV2 related CI tasks to unblock the NuGet 5.3 release on VS. Now, we want to re-enable them to provide training data for 16.4 release, even when escrow mode is on course.

[2019-10-09 00:32] mthalman commented on #6045
@richlander - For the context of others, when you say "build context" you're referring to a Docker build.  I would prefer that credentials not be required to be within the nuget.config at all whether it be inside of a Docker build or outside of it.  Suggestions like those given in https://github.com/NuGet/Home/issues/6243 are appealing because the creds do not need to be stored on disk and can be

[2019-10-09 00:36] #8615 closed, assigned to nobody

[2019-10-09 00:50] richlander commented on #6045
I like the first option the best because it is the simplest and has a close analogue with a related docker run use case (build source by volume mounting in an SDK container). I also think this model is harder to do the wrong thing. Anything that uses files as the currency is more subject to accidents (like commiting secrets to git).

[2019-10-09 02:45] kartheekp-ms opened #8672 "Bless nuget.exe 5.3.0"
The checklist is as following:
- [x] Change the link https://dist.nuget.org/win-x86-commandline/latest/nuget.exe to point to 5.3.0
- [x] Merge PR [149](https://github.com/NuGet/NuGet.Services.Index/pull/149) to master branch
- [x] Push necessary changes nuget.org

[2019-10-09 02:47] ajweitz commented on #5016
Will it be fixed in the next release?
Nuget 3.5 lacks some features thus making nuget almost unusable in some scenarios.

[2019-10-09 06:56] kartheekp-ms commented on #8663
Unfortunately NuGet by design has no functionality similar to MSBuild publish. The work-around you are following right now seems correct. see [link](https://docs.microsoft.com/en-us/nuget/concepts/dependency-resolution) to know more about how NuGet resolves package dependencies.

[2019-10-09 06:56] #8663 closed, assigned to nobody

[2019-10-09 08:45] tugrulelmas commented on #8624
Thanks for letting me know `force` switch. This feature is missing in documents. See https://github.com/NuGet/docs.microsoft.com-nuget/issues/1729#issue-504282171 for the detail. It would also perfect if I can make a feed non-cacheable from `NuGet.config`. I'll follow this suggestion from https://github.com/NuGet/Home/issues/7198#issue-350193041

[2019-10-09 09:33] MisterY commented on #2880
@microsmith, thank you for the hint! In my case it was the firewall!

[2019-10-09 11:22] #8649 closed, assigned to nobody

[2019-10-09 16:52] cristinamanum commented on #8564
Completed initial evaluation of the APIs used to execute add commands. Remove command will be done following the same patterns.

[2019-10-09 17:52] #8672 closed, assigned to kartheekp-ms

[2019-10-09 17:56] nkolev92 commented on #8625
The risk here is what if we miss the message with the magic code and the link to do device flow.
We need to consider what missing this message means.

The problem in the specific scenario is that logging to NuGet's output failed, so swallowing this would mean it would never be surfaced to the user in any way.

Ideally MSBuild's issue is fixed and we don't see this manifest ever again.

[2019-10-09 18:13] donnie-msft opened #8673 "NuGet Output Window for VS Online Environments"
Refactor NuGet Client code that interacts with VS Output Window. There's a new mechanism that abstracts this functionality to support Live Share and cloud-hosted development environments.

[2019-10-09 18:24] donnie-msft opened #8674 "Test and Fix Auto-Restore (SDK) for VS in Live Share & cloud environments"
Verify that Auto-Restore and Solution Build Restore work trigger a Restore, and verify it's consistent with how VS works outside of VS/Cloud environments.

[2019-10-09 18:38] kartheekp-ms opened #8675 "UI delay while initializing NuGet.Configuration.ISettings type"
Linked to ADO Bugs [959453](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/959453/)

[2019-10-09 23:59] zkat opened #8676 "Backporting P.C: Get the code working in usual scenarios"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): msbuild

This is a tracking issue associated with #8506, dedicated to getting the code working in usual scenarios.

[2019-10-10 00:03] zkat opened #8677 "Backporting P.C: E2E tests"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): msbuild

This is a tracking issue associated with #8506 for tracking progress on writing end to end tests.

[2019-10-10 00:05] zkat opened #8678 "Backporting P.C: Refactor into shared code"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): msbuild

This is a tracking issue associated with #8506 for tracking progress on refactoring all the common code between RestoreTask and RestoreCommand into shared libraries.

[2019-10-10 01:03] kartheekp-ms commented on #8668
Noticed that this issue was fixed in nuget.exe 4.8.2 version and broken in later releases.

[2019-10-10 01:24] kartheekp-ms commented on #8667
@luhis Provide us additional output by executing `dotnet build -v:diag` command on the Linux machine where dotnet restore hangs. This issue appears to be similar to dotnet/cli#11560 but would like to review diagnostics to understand the issue better.

[2019-10-10 01:57] andresff commented on #4882
Check if you have an environment variable called Platform:
In a cmd session run `set | findstr "Platform"`

If you found it, try to delete it or run visual studio setting the environment variable Platform to empty.

[2019-10-10 06:50] luhis commented on #8667
Attached is the result of just attempting to build the CodeGolf.Domain project.  It still hangs, but the logs look successful to me.

[luhis.txt](https://github.com/NuGet/Home/files/3710841/luhis.txt)

[2019-10-10 10:07] KarthickR5 opened #8679 "Stop displaying version duplicates in allowed and blocked versions list in PMUI"
In VS Manage Nuget Packages window, When choose nuget from browse and see the listed versions, the message showing like   **Blocked by package.config** after under this message all the version again listed. This is for all packages in nuget.org.

Can anyone tell me the reason why shown that message like that?
![image](https://user-images.githubusercontent.com/56252418/66559927-e8bd5780-eb73-11e9-8

[2019-10-10 17:37] ghost opened #8680 "Nuget Restore/Install of packages.config from local feed with non-normalized versions fails to locate nupkg"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): Nuget.exe

NuGet version (x.x.x.xxx): 5.2.0.6090 (reproduces back to at least 3.6)

dotnet.exe --version (if appropriate): N/A

VS version (if appropriate): N/A

OS version (i.e. win10 v1607 (14393.321)): Server 2016 v1607 (14393.3181). This is not specific to a particular version of Windows.

[2019-10-10 17:44] anangaur commented on #8680
Related normalization issue to not normalize at pack time: https://github.com/NuGet/Home/issues/3050

[2019-10-10 17:52] vsfeedback opened #8681 "Analyze unused NugetPackages"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/749927/analyze-unused-nugetpackages.html)._

---
Would be awesome if VS 2019 had a feature to go through and analyze unused nuget package references. Please disregard if this is something that is already in the works. As a developer, this feature would make maintenance a lot e

[2019-10-10 17:54] anangaur commented on #8681
From https://developercommunity.visualstudio.com/content/idea/749754/nuget-utilization-tool.html:

During development I have found that I load numerous NuGet packages, some of which may not end up being actually utilized. It would be nice to have a tool to be able to identify them and then uninstall them to reduce the number of final application/library components and the application/library size.

[2019-10-10 18:04] nkolev92 commented on #8681
NuGet does not really know whether assemblies were used or not, only the compiler knows that, so it's a wide reaching feature.

I love the idea, NuGet just can't do this alone.

[2019-10-10 18:09] vsfeedback opened #8682 "Allow option to sort default projects in package manager console by alphabetical order"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/759757/allow-option-to-sort-default-projects-in-package-m.html)._

---
<p>With a large solution containing many projects, and solution folders which contain projects as well, the Default Projects combobox in the Package Manager Console is difficult to navigate for finding the

[2019-10-10 18:21] vsfeedback opened #8683 "Nuget - Show the actual assembly version"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/768974/nuget-show-the-actual-assembly-version.html)._

---
Just spent a pretty big chunk of time trying to solve an issue where Swashbuckle is dependent on a specific version of System.ComponentModel.Annotations - 4.2.0.0.

Have eventually, after much trial and error, discover

[2019-10-10 18:33] jgrandydev commented on #7427
I'm experiencing similar behavior as @Flavien

In my case it's `NuGet Version: 5.0.2.5988` and `Microsoft.NETCore.App.2.2.0` and our feed is on a network share.

Clearing all caches including the global packages cache and the fallback folder doesn't help.

[2019-10-10 18:41] nkolev92 commented on #8681
oslyn would be the partner for something like this :)

[2019-10-10 19:29] alaskanrogue commented on #8681
When I suggested the concept might be applied to references to other libraries from SDK's and other sources, I was not suggest the NuGet tool do it but a different tool, or perhaps incorporating the process into the code analysis and clean up tool..

[2019-10-10 20:22] anangaur commented on #8681
@alaskanrogue Thanks for the suggestion. I feel this will be an helpful feature. We would love to get more customers chime in on this ask.

In the meantime, I will try to find if there were similar asks on other repos/areas of VS.

@nkolev92 can you tag folks from partner teams here (that you know)

[2019-10-10 20:27] zivkan opened #8684 "NU5131 issues"
NU5131 was added to try to encourage packages that [select which assemblies are used by projects](https://docs.microsoft.com/en-us/nuget/create-packages/select-assemblies-referenced-by-projects) to work with both `packages.config` and `PackageReference`.

We are currently aware of two issues:

## Packages build from MSBuild (no nuspec)

A project that puts a file in `ref/<tfm>/` will trigger the w

[2019-10-10 21:09] zivkan commented on #3830
@louistio Thank you for taking the time to create the zip with the sample and writing such a good comment. I really appreciate it.

I confirm that there's a bug and this feature cannot work in it's current implementation for all scenarios. During asset selection, the PackageReference flow has a [`ApplyReferencesFilter` method](https://github.com/NuGet/NuGet.Client/blob/840b09a4cecda6ae8fd1c0796787

[2019-10-10 21:29] nkolev92 commented on #8681
Maybe @tmat @jinujoseph @sharwell can help.

[2019-10-10 21:35] sharwell commented on #8681
I know it's been discussed in the past, but it's not easy considering the compiler operates on assemblies while NuGet operates on packages.

[2019-10-10 23:22] kartheekp-ms commented on #8667
@luhis - Thanks for sending us the logs. We are working on our end to reproduce this issue and in the mean time can you please provide us the logs by disabling [`MSBUILDDISABLENODEREUSE`](https://github.com/Microsoft/msbuild/blob/master/documentation/wiki/MSBuild-Tips-&-Tricks.md#environment-variables) environment variable. We would like to compare both logs and plan the next steps.

[2019-10-10 23:39] nguerrera commented on #8571
Seeing this again. Here's one https://dev.azure.com/dnceng/public/_build/results?buildId=384679&view=logs&j=fd8df696-9db3-57b4-fb8e-b67f5ba463c3

@MattGal This is using machine provisioned via

[code]

Do you know what `ulimit -n` is for those? Can it be increased?

[2019-10-10 23:40] alaskanrogue commented on #8681
Given a NuGet is a package of assemblies providing an API, there isn't really any difference. Just that the tool needs to add their APIs in addition to the direct reference APIs to create the checklist  to be subsequently checked off during the analysis. It really shouldn't need to use full compilation to perform the analysis, just the code review.

[2019-10-10 23:41] MattGal commented on #8571
@nguerrera taking a look now, but if we're talking about docker images the question is more for the docker image not the build agent.

[2019-10-10 23:42] nguerrera commented on #8571
This is just running our tests on the build agent where it hit.

[2019-10-10 23:52] MattGal commented on #8571
Indeed, I see that (and building inside a docker container might be an eventual good idea).  Was this recently changed over due to the lowered disk size on hosted ubuntu?

Ulimit on these machines is:
[code]
and I'm guessing the 1024 is your problem.

[2019-10-10 23:55] nguerrera commented on #8571
Yes. Happy to change again if there's a better config.

[2019-10-11 00:04] MattGal commented on #8571
I'll make an issue to move this to 8192 or something.  For the time being, I believe if you literally can just call `ulimit -n 8192` before starting the test process you should succeed (assuming you only need 8K files open at once)

[2019-10-11 00:06] kartheekp-ms commented on #8683
I have manually traversed the dependency graph of [Swashbuckle](https://www.nuget.org/packages/Swashbuckle/) 5.6.0 version and didn't find dependency on System.ComponentModel.Annotations package version 4.4.1. Let us know more about your ask so that we can improve the experience in the VS. For e.g.
- [Packages.Config or PackageReference style project](https://docs.microsoft.com/en-us/nuget/consume

[2019-10-11 01:02] terrajobst commented on #8683
This is by-design because in the past assembly versions were important to get the correct compatibility relationships with Portable Class Libraries (PCLs) and .NET Standard 1.x. Moving forward this is likely a less important issue.

However, in principle NuGet (in UI or otherwise) shouldn't make an assumption that package version, assembly version, and file version are the same thing. They can be,

[2019-10-11 04:06] tmat commented on #8681
See https://github.com/dotnet/roslyn/issues/6763

[2019-10-11 06:07] kartheekp-ms commented on #8660
NuGet.exe 5.3.0 version is now promoted as recommended latest version and can be downloaded from [here](https://dist.nuget.org/win-x86-commandline/latest/nuget.exe). Refer [release notes](https://docs.microsoft.com/en-us/nuget/release-notes/) to learn more about new features and bug fixes for every release.

[2019-10-11 06:07] #8660 closed, assigned to nobody

[2019-10-11 10:38] v-luzh opened #8685 "[Bug Bash][Test Failure][Accessibility]No dashed-line box show for the check-box “Top-Level” in “Migrate NuGet format to PackageReference” dialog when navigating by Tab"
## Details about Problem
NuGet version: NuGet Client Dev\5.4.0.6265
VS Version: Master\29410.161
OS: Windows-10-Enterprise-19H2(18363.418)
## Detailed repro steps
1. Create a C# Console Application (.NET Framework) template via VS.
2. Open PM UI of the project by right-clicking the project->Manage NuGet Packages… in Solution Explorer.
3. Install a package with “packages.config” format.
4. Right-cl

[2019-10-11 10:44] andrewducker commented on #8666
I've downloaded VS2019, and it works fine in that.  I'll work on getting us upgraded.  Thanks!

[2019-10-11 10:44] #8666 closed, assigned to nobody

[2019-10-11 13:31] andrew-z opened #8686 "Add a machine-readable NuGet CLI list command output"
Are there any plans for NuGet.exe "list" command to have a way of outputting list of packages + versions in a machine readable format? A lot of people (including myself) have scripts depend on it, it's awkward to parse and it feels very fragile since it can change anytime.

Moreover, recently I found that changing the verbosity level (I wanted to debug things) totally changes the way packages are

[2019-10-11 14:06] xavierdecoster commented on #8686
Duplicate of https://github.com/NuGet/Home/issues/7752?

[2019-10-11 14:36] lanfeust69 opened #8687 "No fallback to full framework TFM dll when other assets are in a package"
NuGet.exe, version 5.2.0

## Detailed repro steps

1. Create a .Net Core 3 application

2. Add a PackageReference to a nuget package with content similar to
`build/MyPackage.targets`
`lib/net40/MyPackage.dll`

3. Execute `nuget restore`

We would expect a `NU1701` warning, and a `project.assets.json` containing
[code]
but instead, there is no warning, and the json is missing the `compile` and `run

[2019-10-11 16:32] dtivel commented on #8666
NuGet/NuGet.Client#1513 was one half of the fix.  The other half of the fix was in Visual Studio 2017 itself.  It makes sense that the problem is resolved by moving from VS 2010 to VS 2019.

[2019-10-11 16:53] rainersigwald opened #8688 "Restore Task cannot be safely run twice in one process (when Credential providers are used)"
## Details about Problem

This is the root cause of microsoft/msbuild#4792 and the related .NET Core servicing build failures.

NuGet product used: .NET Core SDK 3.0.100-preview6 in Arcade

NuGet version: 5.2.0.6020

OS version (i.e. win10 v1607 (14393.321)): Windows

Worked before? If so, with which NuGet version: no

## Detailed repro steps so we can see the same problem
I experienced this on a

[2019-10-11 17:10] nkolev92 commented on #8681
@anangaur
Do you want to keep this open on our end for tracking or dup it in favor of that?

[2019-10-11 17:14] anangaur commented on #8681
Let’s keep it at our end too. May be put an appropriate tag.

[2019-10-11 17:17] nkolev92 commented on #8686
Unfortunately nuget.exe list is not equivalent to dotnet list package.

This is referring to a command we want to rename to search.

//cc @dominoFire @anangaur

[2019-10-11 17:25] anangaur commented on #3116
@nkolev92 whats the best solution here? IMO, not caching 404s seems like the right option. Shouldn’t have adverse side effects. If a package is not found, build breaks and hence not something folks run repeatedly unless they fix the availability of package or change the dependency graph to an available version.

Or we could expire 404 cache in a min or some small time period.

I would still vote f

[2019-10-11 18:35] nkolev92 commented on #3116
I guess the misconception is that we cache 404s.
We **do not** do that.
We cache the versions list, which is not a 404 if the package exists on said server.

We could consider retrying if we get a cache response that doesn't contain the requested version, as suggested by @ericstj , but that could an effect on performance, which we should consider.
Of course that'd be driven by the distribution of

[2019-10-11 18:56] NinoFloris commented on #3116
You could do a version list retry if the requested version is higher than any in the cached list, right?

[2019-10-11 19:00] nkolev92 commented on #3116
@NinoFloris

Yeah the special refresh logic could be, the requested version is higher than the one in the cached list, or it could be that the version is missing altogether like the OP suggested.

[2019-10-11 19:11] kartheekp-ms commented on #8665
I agree with the comments provided for the same question in asp.net forum [here](https://forums.asp.net/t/2160523.aspx?How+to+install+Main+NuGet+and+dependent+NuGet+with+same+FrameWork+version+).

[2019-10-11 22:00] dotMorten commented on #8319
I recently logged an issue about this elsewhere, and was told this was by-design, and you need to specify the build action in the nuspec. I do find it weird that the default action isn't 'content' considering it's in the `contentFiles` folder, but 🤷‍♂

[2019-10-13 11:13] adamralph commented on #8459
@nkolev92 OK, thanks. Then I guess this proposal isn't feasible.

[2019-10-13 11:13] #8459 closed, assigned to nobody

[2019-10-13 13:13] luhis commented on #8667
@kartheekp-ms the previous log had MSBUILDDISABLENODEREUSE disabled, here are the logs with it enabled:
[luhis (1).txt](https://github.com/NuGet/Home/files/3721762/luhis.1.txt)

[2019-10-13 13:18] kevin0x90 commented on #3786
Seems to be already fixed as all places in the code base use the DateTimeUtility .ToReadableTimeFormat

[2019-10-13 16:31] fluffynuts commented on #352
After seeing this, I really wanted to package an icon in my `NExpect` package(s). However, `nuget pack` is bailing out with the error:
[code]

My `Package.nuspec` contains the following:
[code]

what am I doing wrong?

[2019-10-13 16:44] devlead commented on #352
@fluffynuts you need NuGet.exe version 5.3, guess it's not blessed yet,  as it's not available on nuget ( https://www.nuget.org/packages/NuGet.CommandLine/ ).

But you can download it from https://www.nuget.org/downloads

[2019-10-13 17:08] fluffynuts commented on #352
Ah, thanks -- I did a `nuget update -self` and got `5.2.something`; I'll try with 5.3, but I'll only really be able to switch over when 5.3 is blessed as build & release are automated, including `nuget update -self` to ensure latest tooling at release.

[2019-10-13 17:10] rrelyea commented on #352
Looks like our blessing we did of 5.3 missed a step. We’ll fix on Monday.

[2019-10-13 17:36] adamralph commented on #352
@fluffynuts are you unable to use `dotnet pack`? The latest SDK contains the new icon bits.

[2019-10-13 17:36] StingyJack commented on #352
@rrelyea - can you also please publish working nuspec.xsd's?

It would be nice to get some schema based intellisense in VS for nuspec files.

[2019-10-13 18:14] fluffynuts commented on #352
@adamralph whilst I'm in the process of converting to modern projects (`Project Sdk` projects rather than ones mentioning toolsversion) where possible, I still have a bunch of legacy projects and afaik, `dotnet <anything>` isn't going to work on them?
Anyways:
1. I can wait until Monday (:
2. I've updated the very project I've just been working in -- had to work around multi-targeting (using Mono

[2019-10-14 08:53] codermrrob opened #8689 "Fails to install any package"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (x.x.x.xxx): 5.3.0.6251

dotnet.exe --version (if appropriate): .NET Core SDK (3.0.100)

VS version (if appropriate): 16.3.4

OS version (i.e. win10 v1607 (14393.321)): win 10 1903 build 18362.418

Worked before? If so, with which NuGet version:
Same version worked before. Just s

[2019-10-14 14:22] xen2 commented on #7351
Noticed a bunch of regression and need some help:
1. Our game engine (Xenko), add extra runtimes (https://github.com/xenko3d/xenko/blob/master/sources/engine/Xenko/runtime.json)
2. Since updating to VS 2019 16.3+ (with .NET Core 3), we had to add `<RuntimeIdentifierGraphPath></RuntimeIdentifierGraphPath>` to one of our target file for this to keep working.
3. Since even more recently (16.3.4?) we

[2019-10-14 14:45] carpnick opened #8690 "Developer: Make it easier to work on integration tests within visual studio for Nuget.Client"
Development Issue:
While working on https://github.com/NuGet/NuGet.Client/pull/3075, specifically adding a test to Dotnet.Integration.Test.DotnetRestoreTests, I was struggling to understand why debug builds were not working.  Currently the code depends on nuget packages (within artifacts/nupkgs) folder to be updated .  When you are trying to work on an integration test, VS doesnt by default run th

[2019-10-14 17:33] DanteGagne opened #8691 "Error List pops up after use of package manager, even without messages and with option to show on build disabled"
I did a simple repro…

1.	New WPF project
2.	Close Error List
3.	Uncheck “Always show Error List if build finishes with errors” under Projects and Solutions > General
4.	Manage NuGet Packages
5.	Switch to Browse
6.	Select a package and hit Install (I did it with Newtonsoft.Json)
7.	Accept any interim dialogs

Expected: Error List is still closed
Current: Error List comes up with no messages in it.

[2019-10-14 17:38] dquist commented on #8131
I think the short answer to this would be 'no'.

Boggles my mind that there's no way to interactively provide the password. This is like command-line authentication 101. Encrypting the password is pointless if it gets entered in plain text and logged in the terminal history.

[2019-10-14 17:45] dquist commented on #1851
Another serious shortcoming here is that, even on Windows, there's no way to securely enter the password. It can only be provided as plain text through the `-Password` option, in which case it will likely be logged to the shell history.

Come on, this is like CLI authentication 101. There needs to be a way to enter secrets interactively.

See https://github.com/NuGet/Home/issues/8131

[2019-10-14 18:27] jeffkl commented on #8382
For hosted builds and to maximize isolation, I would recommend not using node reuse.  The feature was designed to decrease start up times for local builds.  However, MSBuild is NGen'd as part of Visual Studio installs and is very fast to start.  Node re-use can cause multiple invocations to share state and reliability is preferred over start up time in a hosted build.

Adding `-NodeReuse:false` to

[2019-10-14 18:32] kartheekp-ms commented on #8667
I am unable to reproduce this issue on new Linux VM (Ubuntu 16.04) as mentioned by @luhis in initial comments.Restore completed successfully for all the `.csproj` files in the CodeGolf repo.

Executed `dotnet build -v:diag` without setting `MSBUILDDISABLENODEREUSE`  environment variable on the CodeGolf repo. Noticed from the attached log file that restore completed successfully for all the `.cspro

[2019-10-14 18:33] donnie-msft commented on #8382
Thanks, @jeffkl  -- closing this since it sounds like it's safe to leave the EnvVar set in our builds. No need to revert.

[2019-10-14 18:33] #8382 closed, assigned to nobody

[2019-10-14 19:19] AArnott opened #8692 "restore fails when nuget.dgspec.json is "used by another process""
I'm trying to renovate my PInvoke repo to use the latest .NET tooling, and in the process I've seen a high failure rate during package restore. For example in [this build](https://dev.azure.com/andrewarnott/OSS/_build/results?buildId=1855&view=logs&j=2d2b3007-3c5c-5840-9bb0-2b1ea49925f3&t=abae1f68-3c73-5bff-491f-f2b908580ce6&l=82):

I've seen this error 2-3 times out of just half a dozen builds in

[2019-10-14 19:28] RajuVCh opened #8693 "internal 3rd party nuget packages management using packagereferances?"
Hi Team,

Kindly share any information on managing internal 3rdpary nuget packages. we are in the process migrating from packages.config. migration tools working for public nuget packages and for internal pacakges it nighter show log nor error. migrationbackup folder has packages.config file and .csproj file but not upgradelog.

VS Version 2017.

Thanks.

[2019-10-14 20:15] raspy commented on #8131
But my point was to make NuGet ask for password, not to provide it on the command line. It will not get stored in terminal history this way.
Note that if you call i.e. _curl -uraspy_ it does not contain a password, but curl will ask interactively for password before issuing actual request. That was my point to do the same with nuget.

[2019-10-14 20:29] dquist commented on #8131
I'm agreeing with you! We need a way to enter the password so that it won't be stored in the terminal history.

[2019-10-14 21:51] SotoiGhost opened #8694 "Adding a NuGet package to Visual Studio does not add .targets and .props files of package dependencies"
## Details about Problem

It seems that **.targets** and **.props** files of dependencies packages are not being added correctly to the **project.assets.json** file or to **Foo.csproj.nuget.g.props** and **Foo.csproj.nuget.g.targets** files. These files are added until you explicitly add the NuGet package to the project.

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe

[2019-10-14 22:51] rrelyea commented on #8688
Setting to 5.3 milestone for now...as we may need to service? Fix is out to partner team for testing.

[2019-10-14 23:43] rrelyea commented on #8662
Looks like %foo% works fine on dotnet.exe 3.0 on linux (ubuntu 18.4)
I tested, with success, against a private azure artifacts feed (devdiv/vs)
Then I tested against a GPR feed ... w/o success.

My guess is that this is GPR implementation related.

[2019-10-15 01:13] nkolev92 commented on #7351
Not sure if this is enabled in 2.x, @nguerrera, @dsplaisted will know.

Can you clarify what you are seeing when it fails?

The assets file will have all the info about what "nuget" thinks exists, and it should be on a per framework basis.

[2019-10-15 02:19] donnie-msft opened #8695 "Stand-up PackageSources and enable tests that depend on them"
#8539  Details about Problem
The XPlatPushTests are disabled ([example](https://github.com/NuGet/NuGet.Client/blob/dev/test/NuGet.Core.FuncTests/NuGet.XPlat.FuncTest/XPlatPushTests.cs#L17)) because we do not currently have any test servers setup to do automated testing for HTTP responses. Ideally, we would setup something (perhaps even a BaGet server) that we can maintain and rely on for CI to aut

[2019-10-15 04:24] mevans-fraedom commented on #6330
Two years on.
Is there an update?

[2019-10-15 04:45] nkolev92 commented on #8047
The 4 tests that behave differently on mojave are:

Verify_WhenChainBuildingFails_Throws
GetCertificateChain_WithUntrustedSelfIssuedCertificate_ReturnsChain
Verify_WithUntrustedSelfSignedCertificate_Succeeds
GetCertificateChain_WithUntrustedRoot_Throws

These will be disabled in https://github.com/NuGet/NuGet.Client/pull/3003 and need to be re-enabled later when fixing this particular issue.

@hen

[2019-10-15 07:43] xen2 commented on #7351
Never mind, I think it might have been due to something else.
We had a circular runtime identifier references between our runtime identifier (on purpose so that `win` includes `win-d3d11` by default).
I suppose this PR changed the default (undefined) order of runtime inclusion, which we shouldn't have relied on in the first place.
We will do things differently.

[2019-10-15 07:44] lostmsu commented on #8623
I am about to package a set of very large native libraries my .NET Standard DLL wraps. Each platform-specific lib is >200MB, so I'd like to know if it is possible to ship them in separate NuGet packages somehow (sounds like that's what NativeCompiler is doing).

So I need guidance on how to achieve that.

[2019-10-15 09:00] djee-ms commented on #8623
We currently ship 10 GB (unpacked) of NuGet packages for https://github.com/microsoft/MixedReality-WebRTC. This is more or less working, but we don't use any multi-framework feature from NuGet; instead it's mostly manual setup via `.props` and `.targets` files. And because of that users have to download _all_ architectures even if they don't use them, since NuGet has no knowledge about the archite

[2019-10-15 11:04] nietras commented on #4699
@svick do you know of any possibility of querying for the latest pre-release version via some command e.g. `nuget.exe` or something? And then add the package using the `-v` option.

@mishra14 no answer was ever given for

should it not be simple to support something like:
[code]
which simply takes the latest release incl. pre-releases? Without any version stuff. Most of us simply want the latest v

[2019-10-15 13:50] ChristopherTheunissen opened #8696 "nuget.exe spec Generates a copyright Tag with Hard-Coded Text of Copyright yyyy Instead of $copyright$"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe

NuGet version (x.x.x.xxx): 5.3.0.6260

dotnet.exe --version (if appropriate):

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)): Version	10.0.17134 Build 17134
Worked before? If so, with
 which NuGet version:

## Detailed repro steps so we can see the same prob

[2019-10-15 14:38] blackchoey opened #8697 "Access to dgspec.json is denied when building docker image"
## Details about Problem
On Azure Pipelines hosted windows-2019 agent, building a newly created solution in docker will result in `Access to the path 'C:\app\obj\testmodule.csproj.nuget.dgspec.json' is denied.` error. This may be a regression of issue https://github.com/NuGet/Home/issues/7836

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): dotnet.exe

NuGet version

[2019-10-15 15:28] SamMackrill opened #8698 "Add an IsRooted check for the plugin env vars such as NUGET_PLUGIN_PATHS"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe

NuGet version (x.x.x.xxx): 5.2.0.6090

dotnet.exe --version (if appropriate):

VS version (if appropriate): N/A

OS version (i.e. win10 v1607 (14393.321)): win10

Worked before? If so, with which NuGet version: Unknown

## Detailed repro steps so we can see the same problem

Using NU

[2019-10-15 16:30] heng-liu commented on #8047
@nkolev92 this one is enough. Thanks!

[2019-10-15 17:36] Auranis commented on #5773
This would be a great feature for my team as well. We are required to use client certificate auth for our systems, which currently precludes us from using NuGet package hosting.

[2019-10-15 18:36] ShaneCourtrille commented on #6330
@mevans-fraedom Based on https://github.com/NuGet/Home/issues/5877 and https://github.com/NuGet/Home/issues/4942 it looks like this has been left behind.. maybe .NET 5 will resolve it?

[2019-10-15 19:19] nkolev92 commented on #8698
Relative paths are not allowed in the environment variable overrides.

The specs at: https://github.com/NuGet/Home/wiki/NuGet-Package-Download-Plugin#plugin-discovery and https://github.com/NuGet/Home/wiki/NuGet-cross-plat-authentication-plugin#plugin-installation-and-discovery call that out, but the official docs don't seem to.

https://docs.microsoft.com/en-us/nuget/reference/extensibility/nuget

[2019-10-15 19:22] AmadeusW opened #8699 "Microsoft.NuGet.targets error: Microsoft.VisualStudio.ComponentModelHost 15.8.525 could not be found"
## Details about Problem

NuGet product used VS UI

NuGet version (x.x.x.xxx): 5.3.0

VS version (if appropriate): 16.3.3

OS version (i.e. win10 v1607 (14393.321)):

Worked before? If so, with which NuGet version: previous VS version

## Detailed repro steps so we can see the same problem

1. Clear the nuget cache
2. Attempt to restore packages for solution
3. See problem
[code]
The project I'm w

[2019-10-15 19:26] svick commented on #4699
@nietras I don't know about anything like that. I do think it would be nice if there was a command-line tool for accessing the NuGet API.

[2019-10-15 21:15] karann-msft opened #8700 "Restore not pulling from source declared in global NuGet.config when the same exists in solution-based nuget.config"
@mdzeko commented on [Thu Oct 10 2019](https://github.com/NuGet/docs.microsoft.com-nuget/issues/1731)

I have the same package source (URL) defined in both global `%%apdata%%\NuGet\NuGet.config`, and in local solution-based `nuget.config`. Sources are listed under different names.

This is neccessary because the source requires authentication, so for our build server to be able to do restore, it n

[2019-10-15 21:24] karann-msft opened #8701 "Equivalent of Nuget install -Prerelease"
@jawn commented on [Thu Oct 03 2019](https://github.com/NuGet/docs.microsoft.com-nuget/issues/1721)

Is there a way to install the latest prerelease version of a package, without using the explicit version number?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d00296b-ac62-3d6c-beea-b2042b63dc5b
* Version Independent

[2019-10-15 21:49] sbkrishnan2506 commented on #6855
I am having the same problem On latest Visual studio mac latest version

[2019-10-15 22:34] nkolev92 opened #8702 "InternalsVisibleTo declaration inconsistency"
See https://github.com/NuGet/NuGet.Client/pull/3082#discussion_r335145959.

In some projects we define them in the csproj, in others we define them in the assembly info.

[2019-10-15 23:48] donnie-msft commented on #8702
Also are we exposing the correct assemblies? Too many or too few?

[2019-10-15 23:51] nkolev92 commented on #8702
In general, we **do not** use internals visible to among libraries, but solely in the library <-> test relationship.

It does feel like we need some of these document in some guidance though :)

[2019-10-16 00:01] mhutch commented on #8580
I'm also seeing this using `mono nuget.exe` to publish to GPR on the Ubuntu image.

[2019-10-16 00:23] anangaur commented on #8580
Did you check my comment above https://github.com/NuGet/Home/issues/8580#issuecomment-531997703? Does it work?

[2019-10-16 00:24] nkolev92 commented on #7467
Closing this as stale.
We've heard no feedback on this otherwise.
There already exists a way to close this.

[2019-10-16 00:24] #7467 closed, assigned to nkolev92

[2019-10-16 03:27] kartheekp-ms commented on #8679
The fix should be available in VS 16.4 Preview 3 on 11/6/2019

[2019-10-16 03:27] #8679 closed, assigned to kartheekp-ms

[2019-10-16 05:16] #8688 closed, assigned to nkolev92

[2019-10-16 06:42] mikehachen commented on #8679
Is there a workaround for VS 2019 16.3.5?

[2019-10-16 10:22] RafaelSilva30 commented on #7216
Can confirm

[2019-10-16 10:50] marza91 commented on #8580
Managed to get this working for linux by creating a nuget.config "template" in my repo like this one: https://gist.github.com/marza91/06dd1a8af3abd85dd0c1972f22bbfc2d

I added this file (replace "ourcompany" with your user/org) to the base of the repo as ".nuget.config", and then simply did the following:

[code]

The sed command simply copies the file to "nuget.config" and replaces "GITHUB_TOKEN"

[2019-10-16 16:21] megakid opened #8703 "5.3.0 regression - Index was outside the bounds of the array with basic nuspec file (NU5129)"
Can anyone explain the following - I'm pretty sure something isn't right but can't figure out what.

We had a build failure on our CI server today caused by the release of `NuGet.CommandLine 5.3.0` - we have now pinned our build to `5.2.0` to work around the issue.

Here's our `.nuspec` file:

[code]

Comparing the two versions, side-by-side:

[code]

[2019-10-16 18:31] karann-msft opened #8704 "No way to set destination of inherited content files. Puts them in root."
@Magn3s1um commented on [Thu Aug 08 2019](https://github.com/NuGet/docs.microsoft.com-nuget/issues/1608)

I have 3 packages, let call them A, B and C.

Their dependencies are as follows:

C references B, and B references A.

A has the following content:

[code]

Inside of B, when referencing this project, the files show up correct in the Startup folder.

Now when packing B though, these content fi

[2019-10-16 18:36] karann-msft opened #8705 "nuget update with mono"
@nelfer commented on [Wed Jun 12 2019](https://github.com/NuGet/docs.microsoft.com-nuget/issues/1472)

Hi,
I noticed the note about `nuget update` doesn't work under `mono` . Is there any updates on this? or any work around? I have a linux machine where I was doing a script to mass update projects (over 100) and saw that it didn't work.

The projects are .Net 4.7 by the way.

Thanks!

---
#### Doc

[2019-10-16 18:40] karann-msft opened #8706 "Programmatically analyze the dependencies"
@fleed commented on [Fri May 31 2019](https://github.com/NuGet/docs.microsoft.com-nuget/issues/1459)

Is there a library to analyze the csproj structure and programmatically detect the package references?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff707668-94d6-25a5-9139-b18cc1b6b446
* Version Independent ID: 49484

[2019-10-16 18:46] karann-msft opened #8707 "Can't see the result in the VS Experimental Instance"
@leithmc commented on [Tue Jan 22 2019](https://github.com/NuGet/docs.microsoft.com-nuget/issues/1276)

I'm trying to add a NuGet package to a project template VSIX so the NuGet installs automatically when someone creates a project from the template. I've followed the steps in this doc, but whenever I hit F5 to test the vsix in the experimental instance it deletes the Packages folder that has my .

[2019-10-16 18:47] #5762 closed, assigned to anangaur

[2019-10-16 19:00] nkolev92 commented on #8532
Closing this per the above comment.

[2019-10-16 19:00] #8532 closed, assigned to nobody

[2019-10-16 19:05] mhutch commented on #8580
@anangaur I was doing pretty much the exact same thing but running nuget.exe on Mono, because the host is Ubuntu - https://github.com/mono/t4/commit/863011b731d9743033d6b371eb1c2719fe93293b

[2019-10-16 19:45] ilatypov opened #8708 "a nuget.config from an upper directory affected the build"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): nuget.exe

NuGet version (x.x.x.xxx): 4.x

dotnet.exe --version (if appropriate):

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)):

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

1. I had an older nuget.config in

[2019-10-16 20:24] andre-f-paggi commented on #3324
Nothing yet?

[2019-10-16 22:38] #8645 closed, assigned to nobody

[2019-10-16 22:39] nkolev92 commented on #8639
Fixed by https://github.com/NuGet/NuGet.Client/pull/3075

[2019-10-16 22:39] #8639 closed, assigned to nobody

[2019-10-16 23:30] vsfeedback opened #8709 "Show version of nuget package ref in properties window"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/idea/772962/show-version-of-nuget-package-ref-in-properties-wi.html)._

---
It would be handy to be able to see the version of Nuget package ref in the property window instead of having to pull up the manage nuget packages window

---
### Original Comments

#### Visual Studio Feedback Syst

[2019-10-16 23:33] emgarten commented on #8680
NuGet hierarchical feeds (v3 folder format) require nupkg file names to be normalized. This has always been the design since it was introduced in NuGet 3.0.0 and then back ported to 2.x.

Nupkgs with non-normalized file names can still be used from a local folder, you just can't mix the hierarchical feed format (feeds with .sha512 files) with packages in the older local package folder format.

[Nu

[2019-10-16 23:50] vsfeedback opened #8710 "NuGet package manager search box doesn't show previous items until something is typed in"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/748330/nuget-package-manager-search-box-doesnt-show-previ.html)._

---
NuGet package manager search box doesn't show previous items until something is typed in. For instance, if I previously searched for `EntityFramework`, then next time I want to add it, I press drop down

[2019-10-16 23:51] vsfeedback opened #8711 "Make nuget work if one of the sources is not accessable"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/762595/make-nuget-work-if-one-of-the-sources-is-not-acces.html)._

---
We host our own private nuget services, that some devs use via a vpn.

Allot of the time they are not on the vpn. When they are not on the vpn it is not possible to intsall *any* nuget packages from *any* s

[2019-10-17 00:18] cjmld5 opened #8712 "When can we view the source code through F12 when editing, not just when debugging?"
When can we view the source code through F12 when editing, not just when debugging? Instead of viewing the method declaration or the source code only by downloading symbols when debugging.

Similar to itellij idea, you can download and view the source code automatically when editing

[2019-10-17 00:35] #8100 closed, assigned to donnie-msft

[2019-10-17 00:38] donnie-msft commented on #8100
@adamralph - should be in NET Core 3.1 SDK

[2019-10-17 06:27] gkalnytskyi opened #8713 "NuGet.exe pack issues a warning (NU5128) when packing a project file"
## Details about Problem

NuGet issues a warning NU5128 when csproj is specified as a target and nuspec with the same file name exists in the same directory as csproj file, and has the dependency group specified.

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe

NuGet version (x.x.x.xxx): 5.3.0.6260

dotnet.exe --version (if appropriate): 3.0.100

VS versio

[2019-10-17 08:18] frankhaugen commented on #4071
@ssteiner I've been following the Nuget development process, and it's almost abandonware. With few major changes to the clients. I concidered writing my own, but the data served up by the APIs don't have the information.

So someone in the community should take responsibility to make a custom nuget client extension and CLI so we could get this. because I can still add web nugets to my C# classlibs

[2019-10-17 08:45] xavierdecoster opened #8714 "Spec dotnet list package --vulnerable"

[2019-10-17 08:45] xavierdecoster opened #8715 "Implement dotnet list package --vulnerable"
[Spec](https://github.com/NuGet/Home/wiki/dotnet-list-package---vulnerable)

Depends on issue for command forwarding from dotnet CLI: https://github.com/dotnet/sdk/issues/3809

[2019-10-17 08:45] xavierdecoster opened #8716 "Client support for Package Vulnerability Audit (PVA)"
This issue tracks the client-side work for **phase 1** of feature [[Security] Flag vulnerable packages #8087](https://github.com/NuGet/Home/issues/8087).

[2019-10-17 09:13] StephaneGraziano opened #8768 "PackageReference bug with Deployment Projects (MSI packager)"
0.Config :  VS 2017 V15.9.17 - MS Visual Studio Installer Projects 0.9.3

1. Be sure you use **ProjectReference** with Nuget instead of packages.json (Tools->Options)
2. Create a WPF project .net 4.6.1 and add **System.Runtime.CompilerServices.Unsafe** 4.6.0 via nuget
3. Create Setup project (Visual Studio Installer)
4. Add the WPF Output
5. Compile the setup project and install it
6. Open the Sys

[2019-10-17 09:35] aureole82 opened #8717 "Package Manager Console: Don't truncate output"
Visual Studio Package Manager:
`PM> Get-Package`

[code]

The problem: **What's `Microsoft.Extensions.Configurati...` or `Microsoft.Extensions.DependencyI...`?**
(_You cannot differentiate between `Microsoft.Extensions.DependencyInjection` or `Microsoft.Extensions.DependencyInjection.Abstractions`._)

You might offer a switch to stop abbreviations.

[2019-10-17 10:21] deylin opened #8718 "Code files (.pp) in ContentFiles folder not added to consuming PackageReference project"
I have create a multitarget nuget package which includes some code files (.pp) that need to be transformed and added to the consuming project. This works for projects using the 'packages.config' but not for projects using PackageReference.
I can see the transormed files somewhere hidden in '..\obj\Debug\net48\Nuget\CE11B4.....\...'. And they are actually somehow referenced in the project because I

[2019-10-17 11:22] DevEddy commented on #8569
Any news on this? I also have this bug when just building the project.

`
/usr/local/share/dotnet/sdk/3.0.100/Sdks/NuGet.Build.Tasks.Pack/build/NuGet.Build.Tasks.Pack.targets(5,5): Error: The icon file 'http://microsoft.com/foo.jpg' does not exist in the package. (HomematicIp)`

Eddy

[2019-10-17 14:24] ashu12318 commented on #6328
I am also facing the same issue... in VS2015

[2019-10-17 15:09] johanskoldekrans commented on #7216
Same problem with VS 2019 Preview (16.4.0 Preview 2.0). Works after restart.

[2019-10-17 16:39] zivkan commented on #8687
If the targets file is moved to `build/net40/MyPackage.targets`, it will work as expected.

We have a different, but related pack warning, [NU5127](https://docs.microsoft.com/en-gb/nuget/reference/errors-and-warnings/nu5127), which is when a package contains a `build/<tfm>/<package_id>.[props.target]` file, but no `lib/` or `ref`/` folder, informing the package author that their package will be tr

[2019-10-17 20:11] zivkan commented on #8707
@leithmc Sorry about the delay responding to this. If it's not too late, can you provide some more details?

In particular, you wrote:

Do you mean your packages folder in your extension installation directory gets deleted?  Or you have a template that creates a packages folder in the new project/item output location, copies a nupkg there, and that gets deleted?

[2019-10-17 20:15] zivkan commented on #8691
Closing as duplicate of #8190.

[2019-10-17 20:16] zivkan commented on #8190
#8691 is a duplicate, but adds that if the error list is closed before restore, it will be displayed, even when there are no errors.

[2019-10-17 20:16] #8691 closed, assigned to nobody

[2019-10-17 21:01] Jericho opened #8719 "Deprecation information omitted from search result"
I am using the `Nuget.Protocol 5.3.0+b75150f2f4127a77a166c9552845e86fb24a3282` nuget package in my C# console app to fetch information about various packages that interest me. I am noticing that I can get deprecation information about a given package if the metadata was obtained by invoking `PackageMetadataResource.GetMetadataAsync`. However, the deprecation information for the same pakage is null

[2019-10-17 21:08] zivkan commented on #8693
Could you check [Visual Studio's activity log](https://docs.microsoft.com/en-us/visualstudio/ide/reference/log-devenv-exe?view=vs-2019), to see if any errors were reported there?

How is the private package source secured? Is it a Azure DevOps Artifacts feed? Is it another authenticated feed that needs a username and password in `nuget.config`? Is it an unauthenticated feed that is only available

[2019-10-17 21:21] nkolev92 commented on #7604
Closing in favor of https://github.com/NuGet/Home/issues/8506

[2019-10-17 21:21] #7604 closed, assigned to nkolev92

[2019-10-17 21:27] nkolev92 commented on #8506
Dup of https://github.com/NuGet/Home/issues/6410 maybe.

I think that's the original ask and we should probably dup this one out for that one, or least make sure they're both closed when this is fixed.

[2019-10-17 21:33] zivkan commented on #8719
@Jericho nuget.org doesn't provide deprecation information in their search results (you can check Fiddler, or open the search URL in your browser).

This appears to be the server team's issue to track the feature: https://github.com/NuGet/NuGetGallery/issues/7297

[2019-10-17 21:48] krwq commented on #4699
Joining the request: It would make it much easier for [us](https://github.com/dotnet/iot) to write dogfooding instructions for us as well if we had this switch. Currently we need to ask people to install specific version which for private feeds is essentially asking people to install nuget package explorer or use VS directly. We've already had several people creating issues because we do not have

[2019-10-17 21:49] nkolev92 opened #8720 "Release notes for 5.3.1 when published"
fyi @karann-msft @rrelyea

[2019-10-17 22:26] zivkan commented on #8706
@fleed NuGet client's packages get published to nuget.org, so [you can use it as an SDK](https://docs.microsoft.com/en-us/nuget/reference/nuget-client-sdk), however we don't have docs so you can use some blog posts as a starting point and otherwise read/debug our code.

If you want to support packages.config projects, you can simply read the packages.config file with any XML API, it's much simpler

[2019-10-17 22:26] #8706 closed, assigned to nobody

[2019-10-18 00:54] kartheekp-ms commented on #8665
By design, binding redirects command is run automatically when installing a package. For e.g. in your case consider main dll has a reference to 1.0 version of `compression.base` assembly and `compression.base` dependent package has 1.1 version of the same assembly in its `lib` folder. When the main package is consumed  NuGet will traverse through all the assemblies and their referred assemblies of

[2019-10-18 00:54] #8665 closed, assigned to kartheekp-ms

[2019-10-18 03:27] leithmc commented on #8707
Hmm. I don't remember the details. I eventually got it working with some help from the VSIX devs.

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: Andy Zivkovic <notifications@github.com>
Sent: Thursday, October 17, 2019 1:11 PM
To: NuGet/Home <Home@noreply.github.com>
Cc: Leith McCombs <leithmc@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [Nu

[2019-10-18 08:24] lanfeust69 commented on #8687
@zivkan : indeed, I came across this while exploring a migration to .Net Core 3, with legacy packages that hopefully would run as we want, but no obvious way to have an official new version of the package.

This is as you said a trade-off to be considered, I have no strong opinion on the subject : the only thing is that, in my opinion, current restore doesn't follow a path of "least surprising beh

[2019-10-18 09:12] Code-ScottLe commented on #4234
is this bug gaining any traction? 2-year delay doesn't seem great to me.

[2019-10-18 11:50] ModernRonin opened #8721 "Add release notes to NuGet.Protocol SDK"
I'm using the latest nuget client libs to get info about packages from a private package feed.

I can't seem to find any way to get the release notes, though.
I'm using this:

```var metadata = await _packageStream.FindPackageAsync(RootNamespace, _configuration.NugetFeedUrl);```

But neither metadata nor the versions I can get with
```var versions = await metadata.GetVersionsAsync();```

have any

[2019-10-18 13:57] tdctaz commented on #3891
The fact that this has not been fixed for almost 3 years is unbelievable

[2019-10-18 16:22] Jericho commented on #8719
Thank you for the information. I’ll monitor the status of the issue you linked. In the mean time, I guess my only alternative is to loop through the 400 or so packages and fetch the metadata for each one and hope that I don’t trigger the abuse detection.

[2019-10-18 16:49] matkoch commented on #5069
[5.3.0](https://www.nuget.org/packages/NuGet.CommandLine/) is still downloading unlisted versions?

@jainaashish please reopen

[2019-10-18 16:52] matkoch commented on #5069
@emgarten ^^^^

[2019-10-18 17:35] nkolev92 commented on #5069
@matkoch If you think there's a regression please open a new issue since this is not actively monitored.

[2019-10-18 17:45] zivkan commented on #8721
@ModernRonin I changed the issue title when I thought that the NuGet server API contained the information and just needed client SDK changes, however, looking at [the docs for the NuGet server API for metadata resources](https://docs.microsoft.com/en-gb/nuget/api/registration-base-url-resource#catalog-entry), I don't see release notes listed. It's also not in [the search results](https://docs.micr

[2019-10-18 20:48] zivkan commented on #8718
No, for PackageReference projects, NuGet will never copy a file into the consuming project and allow the developer to edit the file.

My best suggestion would be to [create an item template](https://docs.microsoft.com/en-us/dotnet/core/tutorials/cli-templates-create-item-template). I believe that from Visual Studio 16.3 dotnet CLI templates are visible in VS, so it will work for your users whether

[2019-10-18 21:49] zivkan opened #8722 "Change version to 5.4 preview 3"

[2019-10-19 00:04] matkoch commented on #5069
@nkolev92 there already is another one at https://github.com/NuGet/Home/issues/7466

I just can't understand how this is not addressed for such a long time? Sorry, but I'm really disappointed.

[2019-10-19 00:05] matkoch commented on #7466
Confirming this behavior for 5.3.0.

[2019-10-19 01:59] karann-msft commented on #7466
@matkoch can you help us understand your scenario and how this bug is causing an issue? I am asking so that I can help identify a workaround while we schedule a fix.

[2019-10-19 03:14] #8722 closed, assigned to zivkan

[2019-10-19 05:21] nkolev92 commented on #7466
Here's a helpful resource about what having an unlisted package currently means.

https://docs.microsoft.com/en-us/nuget/nuget-org/policies/deleting-packages

Focus on the following paragraphs from the linked page.

*Unlisted packages don't appear on nuget.org or in the Visual Studio UI, and do not appear in search results. Unlisted packages, however, can still be downloaded and installed by using

[2019-10-19 09:38] dluciano commented on #5127
Similar issue here. Any update about this?

[2019-10-19 10:27] matkoch commented on #7466
[code]

[2019-10-19 10:29] matkoch commented on #7466
[code]

1.0.0 is [unlisted](https://www.nuget.org/packages/Nuke.Docker/1.0.0). The latest listed package is [0.4.0](https://www.nuget.org/packages/Nuke.Docker/0.4.0).

[2019-10-19 12:22] Konard commented on #8580
I have the same issue here: https://github.com/linksplatform/Interfaces/commit/ccdd15f114e77246cfc9e26c98eb7fdd8bd21a58/checks?check_suite_id=272173602

[2019-10-19 15:58] DanielRuf commented on #7239
See https://github.com/foundation/foundation-sites/issues/11438#issuecomment-544164438

`zipinfo` does not show these files (anymore).

[2019-10-19 19:05] livarcocc opened #8723 "Using ValueTuple with PackageReference on Azure Cloud Services"
_From @jnyrup on Friday, July 27, 2018 7:34:42 AM_

This is the same problem as described in this closed/abandoned [issue](https://github.com/Azure/azure-sdk-for-net/issues/3699). That got closed as being reported the wrong place, that's why I'm trying here.
Please let me know if this is also not the right repo.

I'm trying to convert my C# projects from old to new csproj style, but this breaks my

[2019-10-19 19:05] livarcocc commented on #8723
_From @zhaomuzhi on Saturday, March 16, 2019 11:05:04 PM_

I got exactly the same issue, but on some other packages like System.Buffers. The dlls under ref folder was copied, instead of lib folder. Is there any workaround except reverting back to Reference? @jnyrup how did you get around it?

[2019-10-19 19:05] livarcocc commented on #8723
_From @jnyrup on Sunday, March 17, 2019 2:49:02 PM_

@zhaomuzhi I got around the problem in my toy project by re-targeting the projects to .net 4.7.2.
probably related to https://twitter.com/terrajobst/status/1031999730320986112?lang=en

To get that to run in the Cloud Services you either need to:
Update to [Guest OS Family 6](https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-gu

[2019-10-19 19:05] livarcocc commented on #8723
_From @livarcocc on Tuesday, March 19, 2019 6:56:36 PM_

Well, this seems to be behaving as expected actually. Besides that, this does not seem to be an MSBuild issue either.

4.6.2 does not contain the assembly, therefore it needs to be acquired through nuget and distributed with the app. If you want to avoid that, you need to target a TFM where it is supported, net4.7.2, for instance. The system

[2019-10-19 19:05] livarcocc commented on #8723
_From @jnyrup on Tuesday, March 19, 2019 9:31:30 PM_

@livarcocc I've update the issue description to hopefully be more clear.
Short story, I *am* consuming `System.ValueTuple` as a nuget package from my 4.6.1 project and it works when using `packages.config`.
The problem happens when switching from `packages.config` to `<PackageReference>` as that causes another dll to be copied to the `obj` fold

[2019-10-19 19:05] livarcocc commented on #8723
_From @dejanberic on Friday, October 18, 2019 1:55:38 PM_

I got the same issue, so I upgraded all projects to target 4.7.2.
After upgrading I ran Update-Package -reinstall in Package Manager Console to reinstall all nuget packages in my solution to target 4.7.2.
On Cloud Services I switched to osfamily = "6".
I am still using Azure Authoring Tools 2.9

[2019-10-19 19:05] livarcocc commented on #8723
_From @livarcocc on Saturday, October 19, 2019 6:51:51 PM_

This seems like something that NuGet should/could take a look on. I am going to move this issue to NuGet.

[2019-10-19 19:58] faridhuseynov commented on #3042
Dear all,
Any guide for Visual Studio 2019? Was using without an issue for the long time, however this error just came up

[2019-10-19 22:07] zooba opened #8724 "Cannot find version of nuget.exe pack that supports <icon>"
## Details about Problem

NuGet product used: NuGet.exe

NuGet version: 5.3.0.6260

OS version (i.e. win10 v1607 (14393.321)): Win 10 19H1

Worked before? If so, with which NuGet version: No

## Detailed repro steps so we can see the same problem

1. Follow the instructions on nuget.org to replace `iconUrl` element with `icon` element

2. `nuget.exe pack <my nuspec>`

3. Either of these outputs, d

[2019-10-20 07:18] bergbria commented on #8639
@nkolev92 - sorry for not responding. Sorting the RIDs did resolve the issue in my repros, so the fix should resolve it. Thanks!

[2019-10-20 09:21] mheptinstall commented on #545
Is this a NuGet or SSDT/Visual Studio issue? I have suggested this feature as I couldn't find an existing one:

https://developercommunity.visualstudio.com/idea/785063/nuget-database-references-in-ssdt-database-project.html

[2019-10-20 11:23] wangzq opened #8725 "`nuget list` with package id returns every package"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (x.x.x.xxx): 5.2.0.6090

## Detailed repro steps so we can see the same problem

[code]
This lists every package and takes quite a while to finish.

[2019-10-20 16:56] livarcocc opened #8726 "dotnet restore parallel adaptive"
_From @devel0 on Saturday, October 19, 2019 7:24:12 PM_

## Description

restoring in tethering mode using phone line may cause failure due to timeout issue; a workaround is to use `--disable-parallel` but I think that a better approach should to use a sort of *adaptive parallel mode* so that restore will start in parallel and auto disable until all packages in queue where timeout occurred downloa

[2019-10-20 23:41] maxtoroq commented on #3830
@louistio @zivkan FYI, the OP's example and mine also do not use ref targets.

[2019-10-21 07:09] codermrrob commented on #8689
I realize that the issue doesn't happen with background worker projects because the new template for this installs nuget packages as part of the initial setup.

[2019-10-21 07:12] joslat commented on #3891
yeah... just hit the wall with this one... What is the best "workaround"?

[2019-10-21 07:20] joslat commented on #3891
Tried the upper workaround, if it worked, it does not work anymore.
Talking about:
  <Target Name="CopyProjectReferencesToPackage" DependsOnTargets="ResolveReferences">
    <ItemGroup>
      <BuildOutputInPackage Include="@(ReferenceCopyLocalPaths-&gt;WithMetadataValue('ReferenceSourceTarget', 'ProjectReference'))" />
    </ItemGroup>
  </Target>

[2019-10-21 08:03] xavierpena commented on #3891
@joslat It is **not a simple workaround**, but I have been using it successfully for months already and it works flawlessly:

https://github.com/NuGet/Home/issues/3891#issuecomment-472978574

All the other "simple" workarounds failed for my use case, that is: I needed the "depth" of the dependency packaging to be bigger than 1:

`Project1 <- Project2 <- ... <- ProjectN` (`Project1` being the top p

[2019-10-21 08:04] matthewjones555 commented on #3891
@joslat, I went with the simple approach of exposing all my libraries as nuget packages.  It sucks, but they're only internal packages, so it could be worse.

I decided to go for that approach, because it's very simple, and there's less that can go wrong.

[2019-10-21 09:24] sebastianslutzky commented on #1482
I know this ticket is closed, but the current recommendation doesn't address this problem. Is this problem (i.e. resource.dll files not added to the project on nuget install) an ongoing issue?

[2019-10-21 10:02] joslat commented on #3891
I believe @matthewjones555 is the only solution that might work… that said I ended up adding Project references to the solution as it is only a single Project, so this works.
Tried to:
- solve this in the project file, did not work.
- create a custom nuspec and create the package, dlls were included in nuget package but could not add a reference to it or it could not resolve the references...  fou

[2019-10-21 12:12] mikkeljohnsen commented on #8580
When will this be fixed ?

[2019-10-21 13:19] ModernRonin commented on #8721
Thank you for the detailed investigation and explanation!

[2019-10-21 14:59] anangaur commented on #8580
@mikkeljohnsen What are you blocked on? Restoring packages or publishing packages?

Did you check the current workarounds? https://github.com/NuGet/Home/issues/8580#issuecomment-542643681

[2019-10-21 15:28] #8721 closed, assigned to nobody

[2019-10-21 17:12] zivkan commented on #8689
@codermrrob thanks for providing the activity log, that would have been the first thing I was going to suggest to check.

A little background info: for SDK style projects, NuGet gets information about target frameworks and package references from the project system a mechanism called project nomination. When it gets a nomination, it adds the project to an in-memory cache. When Nuget is instructed

[2019-10-21 17:56] rrelyea commented on #8662
@infin8x - see my last comment. can you send me your github email too?

[2019-10-21 18:36] heng-liu commented on #8725
Hi, thanks for reporting this issue.
Can you try " nuget list packageid:Microsoft.Build -source https://api.nuget.org/v3/index.json" ?
You may refer to [this comment](https://github.com/NuGet/Home/issues/8622#issuecomment-537639085) for more details.

[2019-10-21 18:42] heng-liu commented on #8725
Closed as a duplicate of https://github.com/NuGet/Home/issues/8622

[2019-10-21 18:42] #8725 closed, assigned to nobody

[2019-10-21 19:24] Konard commented on #8580
@marza91

[2019-10-21 21:06] kartheekp-ms commented on #8665
@KarthickR5 - Refer to this [doc](https://docs.microsoft.com/en-us/nuget/reference/nuget-config-file#bindingredirects-section) to learn more about how to skip adding binding redirects when a package is installed

[2019-10-21 21:59] nkolev92 commented on #8719
You should be fine there, as long as you are using the metadata resource :)

[2019-10-21 22:24] heng-liu commented on #8724
Hi, can you try to use http://schemas.microsoft.com/packaging/2013/05/nuspec.xsd instead?
Pls let us know if you still encounter this issue. Thanks!

[2019-10-21 23:13] mhutch commented on #8580
@Konard TBH though I was annoyed by this initially, after I set up a matrix build I'm fine with having it in a later job, because that way the package only gets uploaded if all the matrix builds pass

[2019-10-22 05:12] nkolev92 opened #8727 "NuGet doesn't understand the log level in the restore task -- which in heavy auth scenarios leads to NuGet unnecessarily receiving log tasks from the plugin"
In 2 min restore this ends up ~575 out of 577 tasks on NuGet side.
This was for a restore with a normal verbosity.

@rainersigwald Is this even possible?
I haven't found a way to get the current verbosity either through MSBuild evaluation or the TaskLoggingHelper API.

[2019-10-22 06:09] mikkeljohnsen commented on #8580
@anangaur I'm not familiar with that. But I assume it is something that is done on GitHub after you push you code to the branche "release".

I do not build my NuGet packages with dotnet/msbuild. I have +200 projects in my solution and using MSBuild is simple a pain, not to mention using NuGet for all +200 projects. It is simple to slow.

I use Makefiles to build my project and also create NuGet pa

[2019-10-22 07:08] codermrrob commented on #8689
Here's the Project Output.

This was taken from a new project, empty, except for scaffolding from the ConsoleApp template.

As before attempting to install-package fails, but it seems a bit of a red-herring in my previous description. Changing the Package Source is not required.

The 2nd Project Output below (project2.output.txt) is from a 2nd clean ConsoleApp that I created then installed autofac

[2019-10-22 07:17] SuNNjek commented on #8696
Hello, I would like to fix this issue if it is still up for grabs.
I'm assuming this applies to the Nuget.Client repo?

[2019-10-22 07:17] nkolev92 opened #8728 "In large solutions, during one restore operation the same config file is parsed multiple times"
This affects all clients.

It is done to populate the sources with creds.

Specifically the code is: https://github.com/NuGet/NuGet.Client/blob/c1f6915918b82c096bbd666bd9c18528f1f70630/src/NuGet.Core/NuGet.Commands/RestoreCommand/RequestFactory/DependencyGraphSpecRequestProvider.cs#L130

[2019-10-22 07:36] mikkeljohnsen commented on #8580
So now "dotnet nuget push *.pkpkg -s GitHub", works sometimes. I have uploaded 2 packages out of 20. So just have to run the command a 100 times, then maybe all packages will be successfully uploaded :)

[2019-10-22 08:47] hvinett opened #8729 "Nuget not taking proxy authentication other than from global nuget config file"
## Details about Problem

NuGet product used : Nuget.exe

NuGet version : 5.3.0.6260

OS version : version 1903 (OS Build 18362.418)

Worked before?: Never

## Detailed repro steps so we can see the same problem

1. With following commands we are able to add proxy authentication details to nuget config file
[code]

2. If this proxy config is added to global config file, nuget.exe reads this and is

[2019-10-22 09:10] RajuVCh commented on #8693
Thanks for reply!

i don't see any related info in visual studio activity log. (i can share if needed)

We use Jfrog artifactory which needs authentication the details for authentication and packages source provided in nuget.config file in project.

i don't see upgrade log after migration when references section has internal dependency package dll's...and the same is available for public packages

[2019-10-22 09:23] HealthyJR commented on #8724
Same problem here.
http://schemas.microsoft.com/packaging/2013/05/nuspec.xsd
still raising the problem.

[2019-10-22 10:36] jc1001 commented on #8651
Hi @rrelyea,
Can you please look at this again if possible?  The answer that you gave me, although correct, was for a different version of the NuGet package than the one that I was trying to install.  I did confirm that the original problem (as desribed above) is still present in the latest version of NuGet.exe (version 5.3).

[2019-10-22 10:56] danielcaceresm opened #8730 "NuGet plugin credential providers window is still visible"
After [NuGet.Client#2976](https://github.com/NuGet/NuGet.Client/pull/2976) the credential providers windows is still visible.

In our solution we have a custom implementation of the PluginFactory class just to prevent the CredentialProvider.Microsoft.exe window being displayed and the only solution we have found that works is to add "CreateNoWindow = true" to the startInfo of the process.
Would it

[2019-10-22 11:27] ganesanviji opened #8731 "How to get the version list and latest version of NuGet package in VSCode"
Hi

Currently I am working on the Visual Studio Code extension support. In my case I need to install my latest NuGet packages from online to the VSCode Blazor projects. Could you please suggest me how can I get the all published NuGet packages based on the NuGet name and latest NuGet version of the package using typescript since I need the logic for the Visual Studio Code. I can't use the C# Visua

[2019-10-22 12:24] StephanBis commented on #6140
Is there any progress on this...? This issue has been open for so long already.

[2019-10-22 14:54] rainersigwald commented on #8625
I suspect the proximate cause of this was #8688. With that fixed, I'd lean toward leaving logging failures as failures.

[2019-10-22 15:00] rainersigwald commented on #8727
The MSBuild logging model is "client code always logs; the logging infrastructure then discards or actually logs as appropriate", so the log level is intentionally hidden.

Internally we have a couple of "should we even generate these log messages?" environment variables but they're for specific messages and I wouldn't recommend using them.

[2019-10-22 15:53] heng-liu commented on #8724
I can repro for `http://schemas.microsoft.com/packaging/2016/06/nuspec.xsd`
But I packed succesfully for `http://schemas.microsoft.com/packaging/2013/05/nuspec.xsd`
Can you pls provide detailed repro steps? Thanks.

[2019-10-22 17:08] anangaur commented on #8580
@mikkeljohnsen intermittent failures are hard to fix. Can you paste the error messages you have been getting?

[2019-10-22 17:11] hilari0n commented on #8223
Any updates? 5.3.0 is still affected.

[2019-10-22 17:58] #8625 closed, assigned to nkolev92

[2019-10-22 18:06] nkolev92 commented on #8727
:(

I understand that, but it creates unnecessary stress in the plugin/nuget communication.
The client should be able to handle the load regardless though.

[2019-10-22 18:30] kartheekp-ms commented on #8667
@luhis - Please send us the memory dump for the hanging dotnet process so that @rainersigwald and team can help us investigate this issue further. See [doc](https://github.com/Microsoft/ProcDump-for-Linux) to lean more about creating core dumps in Linux.

[2019-10-22 18:44] nkolev92 commented on #8729
Duplicate of https://github.com/NuGet/Home/issues/747.

[2019-10-22 18:44] #8729 closed, assigned to nobody

[2019-10-22 18:49] nkolev92 opened #8732 "Disposing of a plugin can sometimes throw and fail the whole operation."
Specifically, follow the stack trace:

https://github.com/NuGet/NuGet.Client/blob/c1f6915918b82c096bbd666bd9c18528f1f70630/src/NuGet.Core/NuGet.Protocol/Plugins/Plugin.cs#L148
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Protocol/Plugins/Connection.cs#L128
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Protocol/Plugins/Sender.cs#L55

Dispose calls close

[2019-10-22 20:36] luhis commented on #8667
@kartheekp-ms  Memory dump attached.
[dump.zip](https://github.com/NuGet/Home/files/3758431/dump.zip)

[2019-10-22 21:40] heng-liu commented on #8731
Hi, may I know if your need is to install lastest packages for your project? Do .NET CLI commands work for you?

[2019-10-22 22:25] jwillmer commented on #8580
I tried @marza91 script but I get
[code]
I think the warning can be ignored since we provide user/pw in the NuGet file.
But I don't know if this error is because I already have the current version of the NuGet package deployed or if it is something else. In my version is used `-SkipDuplicate` to ignore published duplicates but this is not possible with `dotnet nuget`

[2019-10-22 23:01] amis92 commented on #8692
I've been hit by this as well on cloud builds intermittently. I've found another issue about that as well: https://github.com/dotnet/corefx/issues/39153

I've been using MsbuildSdks in global.json as well.

[2019-10-22 23:28] zivkan opened #8733 "protocol diagnostics: http instrumentation"

[2019-10-22 23:33] heng-liu commented on #8731
Or, if you're looking for SearchQueryService from NuGet, you may have a look at this document: https://docs.microsoft.com/en-us/nuget/api/search-query-service-resource

[2019-10-23 03:37] Allann opened #8780 "How to include additional files in lib"
I have a .Net Core project that contains additional project referenced dlls and these are not added to the nuget package.
[code]
The question then is how can I add these dependent dlls into the the package?

1. I tried the `ProjectGroup.IncludeBuiltProjectOutputGroup` but mustn't be using the correct value if that is the solution.
1. I tried adding a nuspec file but that did not help, i assume sin

[2019-10-23 04:05] ganesanviji commented on #8731
Hi @heng-liu

I am using the below C# code in my Visual Studio extension project to install the latest NuGet packages in my project at runtime. I have planned to provide the extension to create the project with our components in Visual Studio Code like Visual Studio. So, I have tried the below code in the Visual Studio code and I can't since I need the typescript code to achieve this.

IPackageRep

[2019-10-23 05:23] nkolev92 commented on #8675
If you are gonna create these, can you please do one of the following 2:
- Link the bugs (rather than just the bug number)
- Add descriptions of the bugs.

It has a few too many levels of indirection this way :)

[2019-10-23 06:50] nkolev92 commented on #8731
@ganesanviji

There is no 1st party typescript equivalent for the C# libraries that are built in NuGet.Client.

There might be some 3rd party alternatives, but personally I am not aware of them.
You can consider implement your own alternatives if based on the resource linked by @heng-liu and the C# implementation in https://github.com/NuGet/NuGet.Client/tree/dev/src/NuGet.Core/NuGet.Protocol/Resou

[2019-10-23 07:15] Daniel15 opened #8734 "Installing `Reinforced.Typings` prompts to install system packages, can't seem to stop it"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
Visual Studio UI

NuGet version (x.x.x.xxx):
N/A

dotnet.exe --version (if appropriate):
3.0.100

VS version (if appropriate):
16.3.0

OS version (i.e. win10 v1607 (14393.321)):
Windows 10 v1903 (build 18362.10024)

Worked before? If so, with which NuGet version:
N/A

## Detailed repro steps so

[2019-10-23 07:17] tmds commented on #5862
@ericstj , all, do you have some thoughts on the suggestions from my previous comment?

[2019-10-23 07:36] mikkeljohnsen commented on #8580
@anangaur

As you can see the first package is already uploaded and it reports correctly that there is a conflict.

[code]
But pushing new packages almost always fails.

[code]

[2019-10-23 07:44] BlackGad commented on #5773
Did not expect that such feature still not exist. Today faced with same issue. Hope NuGet team will implement so desirable functionality soon.

[2019-10-23 11:35] ganesanviji commented on #8731
Hi @nkolev92

Could you please suggest me which is that the 3rd party alternatives and teh resource linked by @heng-liu  is using for get the version details for nuget.exe. But I don't need the nuget.exe version. I need the version list of my NuGet packages which is published in nuget.org server.

Thanks,
Ganesan R.

[2019-10-23 11:56] nviktor commented on #8713
The same thing.
Noticed, that even if dependency group specified with targetPlatform, created .nupkg does not contains that groupping (tried 5.2, 5.3 versions). Also tried to pack with .nuspec target - did not observe that problem.

I suppose in version 5.2 warning was disabled.

[2019-10-23 16:23] jeffkl opened #8735 "DefaultFrameworkNameProvider is not thread-safe"
## Details about Problem

The `DefaultFrameworkNameProvider` is not thread safe so if you're creating `NuGetFramework` objects in multiple threads, its instantiation can happen multiple times.  The class should use `Lazy<T>` instead of simple `null` checks.

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): All

NuGet version (x.x.x.xxx): Any

dotnet.exe --version (if

[2019-10-23 17:00] ericstj commented on #5862
@tmds I don't disagree.  We try to represent the basic concepts of the RID graph with the code-generation steps we did in CoreFx around it.  I don't think this issue is yet at the "suggest a workable implementation phase", it's at the "acknowledge the problem and agree to fix it phase".  We need @rrelyea to agree to invest in the NuGet side and @jeffschwMSFT to agree to do the same on the host sid

[2019-10-23 17:24] nkolev92 commented on #8731
@ganesanviji

I was referring to the following: https://github.com/NuGet/Home/issues/8731#issuecomment-545199643

I'm not aware of any 3rd party alternatives.

[2019-10-23 17:58] kartheekp-ms opened #8736 "UI delay when installing a package to ASP.NET website"
Linked to ADO Bug [959481](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/959481)

[2019-10-23 18:05] kartheekp-ms commented on #8675
Added hyperlinks to ADO bugs. Created separate issue #8675 to track the fix for ADO Bugs 959481.

[2019-10-23 18:20] jeffkl opened #8737 "Restore requests should be created in parallel"
## Details about Problem

When restoring a large number of projects, the [DependencyGraphSpecRequestProvider](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Commands/RestoreCommand/RequestFactory/DependencyGraphSpecRequestProvider.cs) [creates requests](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Commands/RestoreCommand/RequestFactory/DependencyGraphSpe

[2019-10-23 19:00] nkolev92 commented on #6697
Suggested workaround is:

`[*, )`.

The change is scheduled for 5.5.

[2019-10-23 19:02] tebeco commented on #6697
YEAAAAHHHHHHHHHHHHHHHHHH

[2019-10-23 19:04] rrelyea commented on #7254
by the way...`dotnet list package` is a tool to list the top level package references, and can include transitive. Even that requires that you restore the project.

[2019-10-23 19:41] kartheekp-ms opened #8738 "Use LazyIntializer API to initialize a target type in a multi threaded environment"
## Details about Problem
In the current [implementation](https://github.com/NuGet/NuGet.Client/blob/c1f6915918b82c096bbd666bd9c18528f1f70630/src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/IDE/ExtensibleSourceRepositoryProvider.cs#L54) object is always locked even-though target type is already initialized.  Learnt from this [doc](https://github.com/microsoft/referencesource/blob/17b97365645

[2019-10-23 19:52] kartheekp-ms commented on #8736
Reference to old project system API in client [code](https://github.com/NuGet/NuGet.Client/blob/c1f6915918b82c096bbd666bd9c18528f1f70630/src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/ProjectSystems/WebSiteProjectSystem.cs#L43) seems to causing this UI delay. Working with Web Tools Engineering Team offline to learn if there is any better way of retrieving Assembly References and adding ref

[2019-10-23 19:53] anangaur commented on #8580
@mikkeljohnsen Are you using the right PAT while adding the GPR source? With nuget.exe you can run:

[code]
And for dotnet, see https://github.com/NuGet/Home/issues/8580#issuecomment-542643681

[2019-10-23 19:59] bgrainger opened #8739 "nuget.exe uses wrong Windows version number in User-Agent header"
## Details about Problem

NuGet product used: NuGet.exe
NuGet version: 5.3.0
OS version: Windows 10 1903 (10.0.18362.356)

## Detailed repro steps so we can see the same problem

Run `nuget push SomePackage.nupkg -Source nuget.org`

The `User-Agent` HTTP header is `user-agent: NuGet Command Line/5.3.0 (Microsoft Windows NT 6.2.9200.0)`.

The Windows version is wrong.

This is almost certainly caus

[2019-10-23 20:09] kartheekp-ms opened #8740 "Use LazyIntializer API to initialize PackageSourceProvider type instead of custom locking code"
## Details about Problem
In the current [implementation](https://github.com/NuGet/NuGet.Client/blob/c1f6915918b82c096bbd666bd9c18528f1f70630/src/NuGet.Clients/NuGet.PackageManagement.VisualStudio/IDE/ExtensibleSourceRepositoryProvider.cs#L54) object is always locked even-though target type is already initialized.  Learnt from this [doc](https://github.com/microsoft/referencesource/blob/17b97365645

[2019-10-23 20:18] kartheekp-ms commented on #8738
One instance of this issue is fixed in #8740 and PR /NuGet/NuGet.Client/pull/3091

[2019-10-23 21:43] #8740 closed, assigned to kartheekp-ms

[2019-10-23 21:48] heng-liu commented on #8731
Here're some 3rd party APIs you may have a look at.
Do note that they are not official NuGet APIs.
 https://github.com/loic-sharma/BaGet/blob/master/src/BaGet.UI/src/SearchResults.tsx#L29
 https://github.com/loic-sharma/BaGet/blob/master/src/BaGet.UI/src/SearchResults.tsx#L219

[2019-10-23 22:35] #8727 closed, assigned to nkolev92

[2019-10-23 22:43] bergbria commented on #7505
@rrelyea / @nkolev92 - any ETA here? This is blocking my team from updating.

[2019-10-23 22:52] rrelyea commented on #7505
Gonna have @kartheekp-ms  take a look after a thing or two on his plate. Appreciate you digging into the cause as deep as you did.

[2019-10-23 23:08] kartheekp-ms commented on #8667
@luhis - Thanks for sending us the requested info. I have deleted the dump file as I am unsure if it contains sensitive information (e.g.:  PII, secrets).

[2019-10-24 00:42] TangMonk opened #8741 "Custom conditional `dotnet add package`"
for instance:

[code]

[code]

This will avoid binary size when publish project and will avoid environment condition in Startup.cs

[2019-10-24 04:16] #8732 closed, assigned to nkolev92

[2019-10-24 06:14] mikkeljohnsen commented on #8580
@anangaur Yes I do. I have managed to upload 2 packages.

It is a TOKEN you have to use, and it has all the possible security rights set.

[2019-10-24 06:35] christianbumann commented on #8713
We have the same issue in our projects. It would be really nice to fix this issue.

[2019-10-24 08:52] voroninp opened #8742 "Dotnet pack does not respect floating version."
## Details about Problem
I use `nuget pack` and we decided to try floating versions. Alas, it does not work as we expected.

NuGetVersion: NuGet Command Line `5.3.0.4`
dotnet version: `3.0.100`
VS version: 2019 `16.3.6`
OS version: Win10 Pro v1903 (18362.418) (Under parallesl)

## Detailed repro steps so we can see the same problem

1. I have a package with version set to `5.0`

2. This package re

[2019-10-24 13:30] Himura2la commented on #1550
For dotnet core, use `dotnet nuget locals  --clear global-packages`

[2019-10-24 14:49] mrward opened #8743 "IncludeInPackage does not copy references from NuGet package depdendencies"
Originally posted here: https://developercommunity.visualstudio.com/content/problem/785069/cannot-include-dependent-packages-when-building-a.html

## Details about Problem

[2019-10-24 15:19] jeffkl opened #8744 "DependencyGraphSpec should have option to not clone PackageSpec items"
## Details about Problem

When profiling ways to make NuGet no-op restore faster, I noticed that the full `DependencyGraphSpec` is being rebuilt for each project with its closure.  In the process, the full `PackageSpec` object is being cloned.  This makes sense for some scenarios but in no-op restore it adds unnecessary allocations and slows things down.

NuGet product used (NuGet.exe | VS UI | Pa

[2019-10-24 18:53] horcu commented on #3324
I installed nuget.exe to a custom location then added it to my PATH (env. variable). I then restored
 my packages outside of VS. I launched, in admin mode,  a cmd/powershell window > cd to the root of the application and run nuget.exe restore there. This is the only thing that worked for me!

[2019-10-24 19:15] cristinamanum commented on #8670
For the Packages.props
1. The <PackageReference Update="" .. /> does not work for transitive pining
1. Introducing a new metadata for <PackageReference Include=""  GlobalReference="true".. /> can be used.
1. New MsBuild item type works as well.

On the API side
1. The restore graph nodes can be hijacked with the global package versions.
2. Adding central defined packages as direct dependencies cou

[2019-10-24 19:15] #8670 closed, assigned to cristinamanum

[2019-10-24 19:25] nexussays commented on #7682
I'm also consistently seeing this with a UWP library and Microsoft.NETCore.Platforms. When I do `nuget locals all -clear` and then regenerate `package.lock.json` I get this hash:
[code]
If I were to re-run the build and regenerate the lock files again I would get this hash:
[code]
The upshot is that every time I add/remove/update packages this value will be set to the incorrect one,causing the CI

[2019-10-24 19:27] HolisticDeveloper commented on #5725
This would be quite useful, especially with the recent release of .NET Core 3.0 packages. The PM UI offers to upgrade the EntityFrameworkCore packages, but they are only compatible with .NET Standard 2.1 while my projects still target .NET Core 2.2.

Additionally, after reviewing the user experience spec, I would offer a couple of additional suggestions for the Updates scenario.

### 1 - Icon for

[2019-10-24 19:31] bpaczkowski opened #8745 "Force no cache for single package source in nuget.config"
We're using package version wildcards for some of our internal libraries to make it easier to update them, but as it stands now, they wont get updated to the newest version (matching the wildcard) without the use of the no-cache operator, which also applies it to nuget.org package source. Ideally it would be if no-cache was applied to all wildcarded packages, but if I could apply it to a single pa

[2019-10-24 19:59] anangaur commented on #5725
Great feedback @HolisticDeveloper 👍  As we iterate on the spec and finalize it, these will definitely come in handy.

[2019-10-24 21:08] alexbass112 opened #8746 "If nuget installation is terminated unexpectedly, retrying does nothing"
## Details about Problem

NuGet product used: NuGet.exe

NuGet version (x.x.x.xxx): 5.3.0.6260

OS version: Windows Server 2019, but likely not OS version dependent.

Worked before? If so, with which NuGet version: No

## Detailed repro steps so we can see the same problem

1. Start installing a nuget package to a destination:
nuget.exe install SomePackage -Source C:\SourceFolder -OutputDirectory

[2019-10-24 21:37] nkolev92 commented on #7682
@nexussays
Try using the latest version of the client first.

Look at sources and track down where that package could be coming from. Your assets file with contain sources, fallback folders and related (I can help if you can't find them)

Keep in mind a few things.

Fallback folders are preferred over sources. Local sources are preferred over http.

Do you clean the global packages folder or somet

[2019-10-24 22:05] keef-cognitiv commented on #6140
Same issue here, *exactly* as described a year and a half ago by @dyadenka. However, that's only on the first run. Then running again it runs with no issues. Which is a fine enough work around but every CI script anywhere that does a .NET build has to have this extra hack that dotnet restores, sleeps, and does it again.

Repro steps:
1) setup a private nuget repo in nuget.config
2) dotnet restore

[2019-10-24 22:53] nexussays commented on #7682
@nkolev92 Thanks for the suggestions!

Using nuget.exe 5.2.0.6090 in dev environment and on the CI server.

It's a transitive dependency from UWP/UAP. I'm targeting 10.0.18362.0

So if there's no way to prevent the cache from altering the checksum how can I disable the use of caches other than `<DisableImplicitNuGetFallbackFolder>true</DisableImplicitNuGetFallbackFolder>`?

[2019-10-24 22:57] nexussays commented on #7682
@nkolev92

When I clear nuget caches the hash is `GmkKfoyerqmsHMn7OZj0AKpcBabD+GaafqphvX2Mw406IwiJRy1pKcKqdCfKJfYmkRyJ6+e+RaUylgdJoDa1jQ==` when NuGet is (I presume) pulling it from one its gazillion different caches, the hash is `ok+RPAtESz/9MUXeIEz6Lv5XAGQsaNmEYXMsgVALj4D7kqC8gveKWXWXbufLySR2fWrwZf8smyN5RmHu0e4BHA==` which will either cause the build to fail locally or to have this incorrect has

[2019-10-24 23:00] nkolev92 commented on #7682
NuGet has an http-cache that lasts 30 mins, however I've rarely seen that as a problem. Once something is in the global packages folder, that's the final and permanent install location, no changes are ever made here.

DisableImplicitNuGetFallbackFolder might not apply to UWP projects because that's a .NET Core SDK switch, not a NuGet one.
Fallback folders can be added to your project through confi

[2019-10-25 06:26] wpanduka opened #8781 "retryingFindpackagesbyIdAsynccore issue in visual studio 2019"
I am working fine with one windows 10 machinewith grial UI kit for xamarin by using visual studio 2019, but one windows 10 machine making poblems with the retryingFindpackagesbyIdAsynccore and trying to download nuget packages but it fails to restore packages, wich leads to so many build errors, it also says in the out put that issue with "Severity	Code	Description	Project	File	Line	Suppression St

[2019-10-25 06:29] nkolev92 opened #8747 "Plugin: Logging time accuracy is off on linux/Mac"
We use DateTime + Stopwatch but the ticks in both models are different.

See:

https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.stopwatch.elapsedticks
https://docs.microsoft.com/en-us/dotnet/api/system.datetime.ticks

[2019-10-25 08:01] kerryjiang commented on #6104
Does it work in Visual Studio Code?

[2019-10-25 08:16] chilakamarthi commented on #6104
It works finally..

On Oct 25, 2019 1:31 PM, Kerry Jiang <notifications@github.com> wrote:

Does it work in Visual Studio Code?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/NuGet/Home/issues/6104?email_source=notifications&email_token=AGVIXYRMY2FQ3KM5LSOXBB3QQKRW3A5CNFSM4EA3DIV2YY3PNVWWK3TUL52HS4DFVREXG43VMVBW63LNMVXHJKTDN

[2019-10-25 10:27] erikpowa commented on #1192
This is **ridiculous**.
The amount of time wasted to realize that NuGet pulls the wrong version of the package...
Why do I have to explicitly define packagereference with specific version... what's the point of NuGet then?

NuGet dev response: "It's by design"
of course it is
It's a feature, not a bug ( ͡° ͜ʖ ͡°)

[2019-10-25 10:45] SimonCropp commented on #1192
@erikpowa yeah i fought the good fight and lost.

[2019-10-25 13:39] emmellee commented on #5773
@nkolev92 @keithrob @rrelyea
I had almost given up hope this issue would be worked, but recent comments show others are as hopeful as I that it soon will be.  Can you give us some confirmation that this issue will be worked and solved soon?  Even after all this time, down alternative paths, our projects would still greatly benefit by using nuget in our ssl environment.

[2019-10-25 14:01] SotoiGhost commented on #8694
Any progress on this?

[2019-10-25 15:06] Aleksey7151 commented on #8694
I'm facing with the same issue right now. Does anybody have any updates?

[2019-10-25 15:42] StefH commented on #8148
@knocte Any news, or is it still required to use the exact filename?

[2019-10-25 16:00] StefH commented on #8148
Could this help? (https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-nuget-push)

[code]

[2019-10-25 16:34] SeanFeldman commented on #6434
When a range is defined as [ X.0.0, Y.0.0 **)**, the expectation is **not** to include anything from Y.* version. That would include pre-releases as well. The way it functions right now it utterly confusing and broken.

[2019-10-25 17:20] kartheekp-ms commented on #8736
Blocked by ADO Bug [959481](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/959481)

[2019-10-25 20:27] kartheekp-ms commented on #8675
Noticed from the call stack (in debug mode) that ~500 milliseconds is spent executing MEF code. Working with VS MEF team offline.

[2019-10-25 21:40] donnie-msft opened #8748 "Output Window should clearly indicate the package/version that just installed"
## Details about Problem
I installed a package with PM UI and was reviewing the Output window. To my surprise, at no point does it specifically call out what is being installed. It shows all the HTTP requests/responses, dependencies that get installed, and feeds used.

However, never says something conclusive, such as:

So, the output loses context very easily, and therefore it's pretty useless un

[2019-10-26 01:34] nkolev92 opened #8749 "NuGet should handle duplicate nomination data better."
Currently, the package spec would get generated and then we'd throw during the restore operation itself, with a cryptic error:
[code]

Blocked on https://github.com/NuGet/Home/issues/7717

[2019-10-26 01:35] nkolev92 commented on #3870
Closing as duplicate of https://github.com/NuGet/Home/issues/7717.

This is technically the older one, but the newer has more engagement (albeit all internal).

[2019-10-26 01:35] #3870 closed, assigned to nobody

[2019-10-26 11:16] nefcanto commented on #8621
I have the same issue here:

![image](https://user-images.githubusercontent.com/12782347/67618656-038ffd00-f7ff-11e9-9889-8a9e6d381517.png)

As you can see, it's driving me crazy. Any update I make to the `.csproj` file, I get no results. I can't build. Also `dotnet restore` command does nothing at all.

I've removed `.vs` folder (after closing all VS instances). No results.
I've removed all `bin`

[2019-10-26 11:23] nefcanto commented on #8621
The exact same `.csproj` works on another solution. It's exactly the same. Only the name is different. We have a microservice platform and accounts, configurations, taxonomy, ticketing, sales, and other microservices have the same project structure in the layer of CodeGenerator, and the other one works, this one is stuck.

[2019-10-26 15:20] 0xced commented on #6188
Has something changed now that NuGet packages are at version 5.3?

[2019-10-26 22:36] BlackGad commented on #5773
Hope that pull request somehow speedup feature implementation.

[2019-10-27 03:28] sean-gilliam commented on #5773
Awesome work @BlackGad! Hopefully they'll take a look at this and merge it in quickly =)

[2019-10-27 03:32] kerryjiang commented on #6104
Is there any document about how to debug into snupkg with VisualStudioCode?

I cannot debug into it.

[2019-10-27 23:54] StingyJack commented on #6330
@jainaashish - did you all inspect the current uses of the ps1 files at the time the feature was dropped?

If you did, were there any general categories? That would probably be the best source for public packages, at least better than waiting for people to comment on this thread.

Also, do you recall what percentage of packages used the feature? (Counting it now would produce skewed results unless

[2019-10-28 04:33] heng-liu commented on #8731
Closed as: Question

[2019-10-28 04:33] #8731 closed, assigned to nobody

[2019-10-28 06:30] szwo-sm commented on #8713
I've recently encountered this issue, and setting up the dependency group (as per warning message) didn't help - like for other people in this thread.

I would be nice to have some fix for this.

[2019-10-28 08:21] B3RR10 opened #8750 "nuget.exe password is shown in clear text when authenticating in terminal"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe
NuGet version (x.x.x.xxx): 5.3.0.6160

When pushing a package from the NuGet Gallery to the company's Artifactory NuGet repository through the terminal, I'm asked to authenticate.

The password field, which comes after entering the username, shows the password in clear text while I'm

[2019-10-28 09:11] aliostad commented on #8148
@StefH no, I had tried it. No help despite it really should

[2019-10-28 09:14] aliostad commented on #8148
Having the same issue

[2019-10-28 10:08] #8714 closed, assigned to xavierdecoster

[2019-10-28 13:33] luhis commented on #8667
Over the weekend I formatted the VPS server, Core 3.0 still hangs on restoring packages, so it looks like there's some incompatibility between core 3.0 and the Ubuntu image.  I will try to get more information from my hosting provider.

[2019-10-28 14:35] emmellee commented on #5773
Thank you @BlackGad.  It would be wonderful to be able to use the certificate store.

[2019-10-28 16:10] cristinamanum opened #8751 "[CPVM] Dev design document for the dotnet commands"
Spec
https://github.com/NuGet/Home/wiki/Centrally-managing-NuGet-package-versions

[2019-10-28 16:12] cristinamanum opened #8752 "[Centrally managing NuGet packages and versions] Implement the CPS IVS interfaces."

[2019-10-28 16:19] #8255 closed, assigned to cristinamanum

[2019-10-28 17:05] zivkan opened #8753 "Set final 5.4 branding"
NuGet 5.4 was inserted into .NET Core last week, we need to increment the version in case of another insertion.

[2019-10-28 17:06] zivkan opened #8754 "Increment version to 5.5"

[2019-10-28 17:25] rrelyea commented on #8662
work remaining here is to make sure we improve our docs.

[2019-10-28 17:27] xavierdecoster opened #8755 "Display vulnerability info for PackageReference type projects on Installed tab of PMUI"
Display vulnerability information in the package graph on `Installed tab of Package Manager Dialog (PMUI).

Spec: https://github.com/NuGet/Home/wiki/Flag-vulnerable-packages

[2019-10-28 17:29] xavierdecoster opened #8756 "Show vulnerabilities in transitive packages for PackageReference type projects in PMUI"
A developer should be able to see a package vulnerability indicator for any known vulnerability in a transitive package in their dependency graph. 95% of vulnerable dependencies are transitive ones and we should bring awareness to this to help the ecosystem shift left.

![image](https://user-images.githubusercontent.com/1288848/227604740-62e1751a-4776-4965-94ed-b8922ac82776.png)

[2019-10-28 17:49] nkolev92 commented on #8742
Duplicate of https://github.com/NuGet/Home/issues/6697.

At restore time, NuGet will select the latest version on the feeds.
At pack it will just use whatever was selected at restore time. Pack doesn't go online.

Note that this bug will be fixed in 5.5

[2019-10-28 17:51] zivkan opened #8757 "Protocol diagnostics aggregation"
Aggregate protocol diagnostics per restore/search, per source.

information such as:
* number of requests
* minimum request duration
* mean request duration
* max request duration
* source type (http vs local, v2 vs v3)

[2019-10-28 17:57] zivkan opened #8758 "Protocol diagnostics: instrument local feeds"

[2019-10-28 18:01] p-kaczynski opened #8759 "Include transitive PackageReference dependencies from ProjectReference"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
dotnet.exe

dotnet.exe --version (if appropriate):
3.0.100

OS version (i.e. win10 v1607 (14393.321)):
Microsoft Windows [Version 10.0.18362.418]

## Detailed repro steps so we can see the same problem

1. Create a solution with two projects called e.g. `Test.Lib` and `Test.Package`. Use the `M

[2019-10-28 18:15] zivkan opened #8760 "Protocol diagnostics: logging"
Consider allowing customers to be able to write detailed protocol diagnostics to a file, so they can investigate themselves.

[2019-10-28 18:43] infin8x commented on #8662
Sorry for the delay here, I think someone from the GPR team is digging in more to what's going on here. But, glad to know the envvar works. Looking forward to the docs improvement.

[2019-10-28 19:23] #8747 closed, assigned to nkolev92

[2019-10-28 20:16] heng-liu commented on #8745
Similar to https://github.com/NuGet/Home/issues/3116

[2019-10-28 21:05] nkolev92 commented on #8730
Can you clarify what you mean by this specifically?

Are you using the nuget libraries, or the nuget client? Where do you need it to be configurable from?
Are you using .NET Core or .NET framework?

[2019-10-28 23:29] dominoFire commented on #8759
It seems that this issue is a duplicate of https://github.com/nuget/home/issues/3891

If that's the case, a possible workaround is documented here: https://github.com/nuget/home/issues/3891#issuecomment-377319939

Let us know if those issue helps.

[2019-10-28 23:31] #8759 closed, assigned to nobody

[2019-10-28 23:37] dominoFire commented on #8750
@B3RR10 Can you provide some details, i.e., the prompt messages from `nuget.exe` and from the server ?

[2019-10-29 01:54] dominoFire commented on #8741
You can achieve a similar effect using the Condition attribute for [MSBuild ItemGroup](https://docs.microsoft.com/en-us/visualstudio/msbuild/itemgroup-element-msbuild?view=vs-2019) elements. For example:

[code]
When you add packages via `dotnet.exe`, for example:

[code]

It will add the package to the ItemGroup conditioned for the 'Development' ItemGroup, since it is the default value for the En

[2019-10-29 07:14] Dids commented on #8580
So does this only work reliably on Windows, while macOS and linux would only works intermittently?

I've yet to see pushing work at all on macOS. Not locally and not on a CI/GitHub Actions.

[2019-10-29 07:14] luhis commented on #8667
I had another think last night, and i found this issue https://github.com/dotnet/coreclr/issues/26873

It could be that it's related to the VPS (also OpenVZ), more than Ubuntu, that would explain why it still fails after formatting the machine

[2019-10-29 10:12] p-kaczynski commented on #8759
Hi @dominoFire

I have seen it and used it to solve another problem (How to get the Test.Lib.dll into the Test.Package.nupkg).

This is however about including an entry in the generated nuspec's `<dependencies>` for the `<ProjectReference>`'s dependencies.

I can think of a workaround, where I create the `<ItemGroup>` with dependencies and include it in both `Test.Lib` and `Test.Package`, therefor

[2019-10-29 12:41] tmds commented on #5862
This is how it manifests for us:

- New version of Fedora don't work because they don't map to the appropriate parent rids. To avoid this, we try to patch the runtime.json up-front for versions that don't exist yet (but are expected in the near future).
- Since for Fedora rids don't map to their previous version, it's not possible to express 'fedora.30' and higher.
- Patching runtime.json is a man

[2019-10-29 12:52] Desarc commented on #8446
We're experiencing something similar to this, but it seems to depend on which artifact repository we use. We have two different on-premise repositories set up:

- Artifactory 6.13.1
- Proget 4.7.11

When testing this, I was using NuGet Version: 5.3.1.6268, with the following command:

[code]

With the Proget repository we see the expected output (single package version), but with Artifactory, it l

[2019-10-29 13:09] dtivel opened #8762 "Test: improve signing certificate V1/V2 testing"

[2019-10-29 13:46] AndreyAkinshin opened #8763 "VisualStudio can't browse nightly .NET Core NuGet feed while it works perfectly in Rider"
## Detailed repro steps so we can see the same problem

1. Create a new console application.
2. Add a NuGet.Config file with the following content:
[code]
3. Open it in Visual Studio and try to search for some NuGet packages.

Usually, I have one of the three following outcomes:
a) VS shows the loading icon forever (I waited for several hours without any updates)
b) VS crashes and restarts itself

[2019-10-29 14:25] dtivel commented on #8397
Failed again in build 5.4.0.8989.

[2019-10-29 14:33] B3RR10 commented on #8750
Sure thing.

[code]

[2019-10-29 14:51] zivkan opened #8764 "Fix xplat build/func test scripts"
The URL for dotnet-install.sh is now returning an HTTP redirect, which `curl` doesn't follow by default

[2019-10-29 16:30] zivkan opened #8765 "Test: RestoreCommand_LockedLockFileWithOutOfDateProjectAsync is flakey"
[code]

[2019-10-29 16:31] zivkan opened #8766 "Test: RestoreCommand_UnmatchedRefAndLibAssembliesAsync is flakey"
[code]

[2019-10-29 17:05] #8735 closed, assigned to jeffkl

[2019-10-29 18:26] pascalberger commented on #8087
Are there plans to support writing the output of `dotnet list --vulnerable` into a machine readable file? This would allow to use this command in scenarios like during a CI build, to block introducing packages with known vulnerabilities.

[2019-10-29 18:32] pascalberger commented on #8087
Why are only .NET Core customers the target audience for this? Are there any technical restrictions why it does not work for .NET Framework projects? Will it be only `PackageReference` or also `packages.config` projects?

[2019-10-29 18:34] anangaur commented on #8087
Great questions @pascalberger. We should be making this info available to nuget.exe or msbuild.exe or both. We did discuss this but looks like we failed to mention it in the spec. /cc: @xavierdecoster

[2019-10-29 18:45] nkolev92 commented on #8766
I saw these 2 on my builds as well, [link](https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=3189462&view=ms.vss-test-web.test-result-details).

I'd imagine it's a microbuild issue, I've seen similar internal threads about it.

[2019-10-29 18:51] donnie-msft opened #8767 "PMUI Ctrl+C fails to copy in 16.?.x but worked in 15.x.x"
Ctrl+C has been broken in certain scenarios in the PMUI.

The **Project** "Manage NuGet Packages" PMUI does not copy any text when using the Ctrl+C keystroke after selecting data from the description (date, package name, dependency name, version, etc). Right-click Copy does work.

**Solution** "Manage NuGet Packages" PMUI works correctly and copies with Ctrl+C.

VS2017 15.9.17 confirmed that it do

[2019-10-29 19:33] traderhut commented on #5146
I'm confused, if the command line build doesn't work like the UI, isn't this an **All hands on deck, Urgent FIX THIS NOW!!!, Production support issue?**

How the crud are we going to get a continuous build system to work (I've been fighting with this most of the day, nuget restore doesn't work, msbuild /t:restore doesn't work, msbuild /t:build didn't work, dotnet restore didn't work, I'm running 4

[2019-10-29 20:04] donnie-msft commented on #8767
Related to previous work maybe?
https://github.com/NuGet/Home/issues/8324

[2019-10-29 20:33] bricelam commented on #6673
Another very related issue: If there are two versions of a dependency in the graph that span major versions, NuGet should also generate a big fat warning.

* Project
  * DependencyA
    * TransitiveDependency v1.0.0
  * DependencyB
    * TransitiveDependency v2.0.0

[2019-10-29 21:11] hrumhurum commented on #5146
Hello @traderhut ,

There is an easy workaround. Just use MSBuild.exe to build your solution with the parameters like that:

`"C:\Program Files (x86)\Microsoft Visual Studio\2019\Professional\MSBuild\Current\Bin\msbuild.exe" YourSolution.sln /t:Clean,restore,Build /p:configuration="Release" /p:platform="Any CPU" /p:VisualStudioVersion="16.0" /nologo /nr:false /m`

MSBuild 16.0 came a loooong way s

[2019-10-29 21:20] nkolev92 commented on #5146
Small improvement.

`/t:Clean,Restore,Build` is not a good idea due to an MSBuild thing about evaluation.

See: https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#restoring-and-building-with-one-msbuild-command

Running `/t:Build /restore` should be enough.

Note that the recommendation to use MSBuild instead of devenv.exe has been there since at least Visual Studio 2015.

https://do

[2019-10-29 22:02] zivkan commented on #8763
Duplicate of #8478

[2019-10-29 22:02] #8763 closed, assigned to nobody

[2019-10-29 22:22] #7275 closed, assigned to nobody

[2019-10-29 22:32] jeffkl commented on #4463
I'd like to revive this bug and work on a fix.

There is no way to guarantee that restore will result in a successful build unless the `MSBuildProjectExtensionsPath` is unique for each project.  If you try to use a rooted path like `obj\$(MSBuildProjectName)` you could still have two projects in the tree with the same name.  So renaming `project.assets.json` wouldn't help us there.

The only way t

[2019-10-29 23:28] donnie-msft commented on #8767
Inconsistent repro. New projects seem resilient to the bug.

NuGet.Client code - certain projects have this bug. Seems to be NuGet.Clients/ projects that are Class Libraries. ConsoleApps don't have this behavior?
Definitely: **NuGet.Console** and **NuGet.SolutionRestoreManager**

[2019-10-30 01:32] #8754 closed, assigned to zivkan

[2019-10-30 02:06] joaorosado commented on #8093
Is there any workaround for this?

[2019-10-30 04:24] #8744 closed, assigned to jeffkl

[2019-10-30 07:59] #8753 closed, assigned to zivkan

[2019-10-30 09:00] v-luzh opened #8769 "Suggest giving a description what to copy for the “Copy” button in the Preview Changes dialog"
## Details about Problem
NuGet version: NuGet Client Dev\5.5.0.6284
VS Version: Master\29429.48
OS: Windows-10-Enterprise-19H1-04-05-2019
## Detailed repro steps
1. Create a template via VS.
2. Open PM UI of the project by right-clicking the project->Manage NuGet Packages… in Solution Explorer.
3. Search a package in Browse tab and try to install it.
## Expected
There should be a description what

[2019-10-30 09:02] aliostad commented on #8148
@StefH huh, I found the -n needs a value i.e. `-n true` which is just bad and lazy but once doing that it works.

[2019-10-30 09:04] v-luzh opened #8770 "[Suggestion][Test Failure] Suggest making the deprecated icon beside the Installed tab able to be navigated by Tab"
## Details about Problem
NuGet version: NuGet Client Dev\5.5.0.6284
VS Version: Master\29429.48
OS: Windows-10-Enterprise-19H1-04-05-2019
## Detailed repro steps
1. Create a C# Console App (.NET Core) via VS.
2. Open PM UI of the project by right-clicking the project->Manage NuGet Packages… in Solution Explorer.
3. Add a deprecated package source: https://apidev.nugettest.org/v3-index/index.json i

[2019-10-30 12:44] HermannGruber opened #8771 "NuGet package restore takes more than 1 hour (azure devops hosted build related?)"
## Details about Problem

NuGet product used NuGet.exe

NuGet version (x.x.x.xxx): 4.1.0.2450

Worked before? If so, with which NuGet version: This is a build task that runs in a hosted Azure Devops Server Build. I did not regularly look at that pipeline, but it was a matter of seconds or minutes at most one year ago. I am not responsible for installing packages on the build server, so I canot giv

[2019-10-30 13:24] krafs opened #8772 "Embedded Icon won't show in Visual Studio (16.3)"
## Details about Problem

NuGet product used: NuGet.exe

NuGet version: 5.3.1.6268

VS version: 16.3.6

OS version: win10 v1903 (18362.449)

Worked before?: Don't know. First time making NuGet-package.

## Detailed repro steps so we can see the same problem

1. Run `nuget spec`

2. Add `<icon>icon.png</icon>` to the metadata tag in the nuspec.

3. Add icon.png to the working folder. (icon taken fr

[2019-10-30 13:32] mjcheetham commented on #8692
I am also seeing this problem. Using Azure Pipelines builds and MSBuild SDKs specified in a global.json file.

[2019-10-30 13:49] #8737 closed, assigned to jeffkl

[2019-10-30 14:23] SwooshyCueb commented on #4463
With this solution, could two project files exist in the same directory if they set `MSBuildProjectExtensionsPath` to different locations?

[2019-10-30 15:12] Arun-ANIT opened #8773 ""The underlying connection was closed: An unexpected error occurred on a send" when using nuget CLI"
NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): Nuget.exe CLI

NuGet version (x.x.x.xxx): 2.2.0

Worked before? If so, with which NuGet version: 2.2.0

We use nuget.exe with teamcity to download and add packages to our .NET builds. We are facing an issue with this since yesterday. We are getting the below error.

C:\TeamCity\buildAgent\tools\NuGet.CommandLine.2.2.0.n

[2019-10-30 15:29] nguerrera commented on #4463
I think a best effort should be made for the case of two projects in the same folder with default output paths. For agest, this simple case worked because everything put the project name in obj files, until assets. So I think it is good to have the error as you suggest, but I still see value in being unique to project name to avoid the error in the trivial case of two projects with template defaul

[2019-10-30 15:30] kartheekp-ms commented on #7505
@bergbria - I am able to reproduce this issue. Appreciate your help regarding [this](https://github.com/NuGet/Home/issues/7505#issuecomment-539733721) comment. We are working on possible solutions such as adding pack validation rule etc., Please help us understand why package contains filename with `~` char even though it has special meaning while resolving paths. As per our understanding files wi

[2019-10-30 15:59] zkat commented on #8087
My main concern with this spec as-is is that it focuses so much on the informational aspect. When designing `npm audit`, our hypothesis was that it was much more important to make sure customers had specific actions they could do right away. Being informational tends to risk something becoming just plain noise that they'll tune out, and it doesn't result in people driving towards a more secure eco

[2019-10-30 16:21] bergbria commented on #7505
@kartheekp-ms - I have no idea why the package contains a ~ file (though I suspect it's accidental / unintentional). Regardless, ~ is a valid path character and as such should be supported in an ideal world.

The simplest fix would seem to be to use a case-insensitive comparison if on a case-insensitive file system.

[2019-10-30 16:55] HermannGruber commented on #8771
The following issue seems to be related: https://developercommunity.visualstudio.com/content/problem/340584/azure-devops-hosted-agent-nuget-restore-sits-for-1.html

[2019-10-30 17:53] jeffkl opened #8774 "Project assets file should not be read during no-op restore"
## Details about Problem
When restoring large trees, no-op reads the assets file to determine:
* Path to each package to check existence of
* Path to the project to ensure the assets file is for that project
* Replay warnings

However, the assets files in large trees can be very big and there are lots of them.  Profiling no-op restore shows that reading the entire assets file adds about 15% overhe

[2019-10-30 17:54] anangaur commented on #8087
@zkat This is definitely on the cards as part of Stage 2 where we plan to implement an `audit` or equivalent command. Thanks for bringing this up! I have added a line in the spec to indicate we do want to have a way to `fix` as well.

[2019-10-30 18:32] ericstj commented on #8093
I believe you can pass `/warnAsMessage:NU1702` to whatever invokes MSBuild for you.  We did that here: https://github.com/dotnet/standard/pull/1173/files#diff-02389dfac0a172ab80211625efc34318R2

[2019-10-30 18:56] jogibear9988 opened #8775 "Support Nuget without .csproj or .sln (as a module managemenet)"
I'd like to use nuget as a Manager for Extension DLL's for my C# Software.
(Like iobroker uses npm for it's modules)

But this is not possible at the moment, cause I can't use nuget only for downloading and installing to a local path

[2019-10-30 19:50] joaorosado commented on #8093
Thanks, that worked.

Following that, was also able to use `<MSBuildWarningsAsMessages>NU1702</MSBuildWarningsAsMessages>`
as workaround to avoid only having to change 1 project, instead of all the potential build commands.

[2019-10-30 21:30] #8671 closed, assigned to dominoFire

[2019-10-30 21:35] aliostad commented on #8148
@donnie-msft Thanks yes, I did find that. As for this issue, I think using `-n true` works hence there is a **real workaround**.

[2019-10-31 04:12] chilakamarthi commented on #6104
Pre requisites:
Visual Studio 2017 Version: 15.9.0 or later
Nuget Version: 4.9.3 or later

1.	Edit project file in notepad and either update or add below tags in "Debug|AnyCPU" and "Debug|[Specific Platform]"
`<DebugSymbols>true</DebugSymbols>
<EmbedAllSources>true</EmbedAllSources>
<DebugType>portable</DebugType>`
2.	Compile the code
3.	Create nuspec file with all required files like dlls and pdb

[2019-10-31 06:34] Roemer opened #8776 "Interop Assembly in NuGet for Standard and Framework with EmbedInteropTypes = false"
Hi all

I am trying to create a NuGet package with just an interop assembly inside.
This package will be used in .NET Standard, Core and Framework projects.
The package should make sure that `EmbedInteropTypes` is in all cases set to `false`.
I'm having a hard time achieving this. I tried to do it like the sample `https://github.com/NuGet/Samples/tree/master/NuGet.Samples.Interop` and just adjusti

[2019-10-31 19:52] rrelyea commented on #8642
@danielcrenna  - please chime in if this is still a problem for you.

[2019-10-31 19:52] #8642 closed, assigned to nobody

[2019-10-31 19:54] rrelyea commented on #8552
@dtivel - moving to backlog. i'm not aware that we did work here yet, so I'm assuming we still need to do. more details in bug would be great.

[2019-10-31 20:26] rrelyea commented on #8620
Can you folks conclude?

[2019-10-31 20:39] donnie-msft opened #8778 "--skip-duplicate support for dotnet nuget push"
As part of the work for adding option --skip-duplicate to `dotnet nuget push` (https://github.com/NuGet/Home/issues/8100), the dotnet parser also needs to be updated in order to support <tab> auto-completion and telemetry.

[2019-10-31 20:58] rrelyea commented on #8543
@ransagy - i'm not able to repro the main issue...

the following steps work fine with dotnet core sdk: 3.0.100:

[code]

so I think we should close this issue. Please confirm.

[2019-10-31 21:19] dtivel commented on #8552
@rrelyea, this is what @zivkan  is currently working on via #8592.  Closing this.

[2019-10-31 21:19] #8552 closed, assigned to nobody

[2019-10-31 21:53] karann-msft opened #8779 "ContentFiles have confusing VS Solution Explorer experience"
@marqdouj commented on [Mon Oct 21 2019](https://github.com/NuGet/docs.microsoft.com-nuget/issues/1748)

If I am reading this page correctly, using TargetsForTfmSpecificContentInPackage in the *.csproj file is how I can create a nuget package that will add the content files to a *.csproj when it references that package?

I has created a .NET Standard 2.0 library project and was able to get the con

[2019-10-31 22:01] bmajik opened #8782 "vs/nuget/nugetaction telemetry doesn't adequately capture cancellation"
## Details about Problem

NuGet product used VS UI

NuGet version (x.x.x.xxx):

VS version (if appropriate): 16.4.0 preview 3.0

OS version (i.e. win10 v1607 (14393.321)): win10 1909 build 18363.418

Worked before? If so, with which NuGet version: No

## Detailed repro steps so we can see the same problem

1. Launch VS.  Open C# console app.  Manage nuget packages for project.  Use fiddler or anot

[2019-10-31 22:08] bmajik opened #8783 "vs/nuget/nugetaction doesn't log the packages added, removed, or updated"
## Details about Problem

NuGet product used: VS UI

NuGet version (x.x.x.xxx):

VS version (if appropriate): 16.4.0 preview 3.0
OS version (i.e. win10 v1607 (14393.321)): win10 1909 build 18363.418
Worked before? If so, with which NuGet version: No

## Detailed repro steps so we can see the same problem

1. Launch VS. Open C# console app. Manage nuget packages for project. Use fiddler or another