[2016-01-12 17:04] victorhurdugaci commented on #1925
cc @emgarten

[2016-01-12 17:45] last-Programmer opened #1926 "Local Packages having remote dependencies - Unable to resolve dependencies"
When we have a local package depending on remote dependencies and upgrading the local package gives error unable to resolve dependencies for remote packages.

[2016-01-12 18:06] maartenba commented on #1924
@jechtom Try our latest bits - http://blog.nuget.org/20160113/Accelerate-your-NuGet.Server.html

[2016-01-12 19:13] emgarten commented on #1925
I'll get this fixed today

[2016-01-12 19:25] yishaigalatzer commented on #1772
Duplicate of https://github.com/NuGet/Home/issues/1823

[2016-01-12 19:25] #1772 closed, assigned to nobody

[2016-01-12 20:25] emgarten commented on #1925
I'm not able to repro this using the latest build. Restoring without passing in a directory restores all project.json files in the directory.

[2016-01-12 21:07] emgarten opened #1927 "Targets files written for xproj projects"
NuGet restore should not write out targets and props file for xproj projects.

[2016-01-12 23:19] MarkOsborneMS opened #1928 "PackageSaveMode parameter ignored on nuget restore"
e.g running the following command:
    nuget.exe restore packages.config -PackagesDirectory "E:\TestCache" -Source "https://api.nuget.org/v3/index.json" -PackageSaveMode nuspec
Yields the following files:
    E:\TestCache\NuGet.Core.2.10.1\lib\net40-Client\NuGet.Core.dll
    E:\TestCache\NuGet.Core.2.10.1\NuGet.Core.2.10.1.nupkg

Note the nupkg file rather than the requested nuspec file.

Confirme

[2016-01-12 23:20] ratishphilip commented on #1834
@ericstj  Thank you very much.

[2016-01-13 00:42] yishaigalatzer commented on #77
From @MarkOsborneMS -

e.g running the following command:
 nuget.exe restore packages.config -PackagesDirectory "E:\TestCache" -Source "https://api.nuget.org/v3/index.json" -PackageSaveMode nuspec
 Yields the following files:
 E:\TestCache\NuGet.Core.2.10.1\lib\net40-Client\NuGet.Core.dll
 E:\TestCache\NuGet.Core.2.10.1\NuGet.Core.2.10.1.nupkg

Note the nupkg file rather than the requested nuspec

[2016-01-13 00:43] #1928 closed, assigned to nobody

[2016-01-13 00:58] MarkOsborneMS commented on #1928
Duplicate of #77

[2016-01-13 01:08] amccool commented on #1264
+1

[2016-01-13 01:30] yishaigalatzer commented on #1264
We where just discussing this. This seems like something that should be a straighforward port from NuGet2, we just don't seem to free up enough to get to this, so I'm marking as up for grabs for now.

[2016-01-13 02:21] jontyt commented on #1638
For anybody wanting an easy get around the nuget console issue -

"The type initializer for 'System.Management.Automation.Runspaces.InitialSessionState' threw an exception."

Simply reinstalling nuget from Visual studio fixed this issue for me.

[2016-01-13 12:29] StefanoGermani commented on #1894
Thanks for the help! I'll raise it with the JFrog support too.

[2016-01-13 16:02] Alovchin91 opened #1929 "NuGet 3 seems to reference the project itself"
I'm building the NuGet packages for my company's private NuGet feed. I then use these NuGet packages in projects on the same computer. In this case, I get the CS0436 warning when I rebuild the NuGet package. I also get unwanted .targets file execution from this NuGet package.

Let's say I have a project called MyLib. I have a .nuspec defining this project, and I have a .targets file that xcopies t

[2016-01-13 16:49] wolfpackt99 commented on #1760
any update about the command line and supporting the -Version Tag.

[2016-01-13 17:12] erlis commented on #1015
Ok, I know the bug was closed. I've found this because in my quest to find how to build my Asp.Net 5 project I get to know about Sake & KoreBuild. On the few examples I've found they are using NuGet to restore the KoreBuild package, but now KoreBuild is not a package anymore O_o. Here you are saying `NuGet no longer uses KoreBuild` and my question is: What are you using then? It looks like I shoul

[2016-01-13 17:26] yishaigalatzer commented on #1015
ASP.NET still uses it I believe. https://github.com/aspnet

For us we use msbuild and a simple powershell script to coordinate our builds, it is a matter of taste of course. The reason we moved away from kore build and sake was that they are developed by the asp.net team for their use, particularly korebuild. It was not properly documented, and many things we needed (like signing for example) wher

[2016-01-13 17:30] alainbryden commented on #1448
Still seeing this issue in 3.3.0:

[code]

[2016-01-13 18:14] marisks commented on #1909
It is really slow for me too. I have NuGet 3.3.0. And I am using different package sources:
- http://nuget.episerver.com/feed/packages.svc/
- internal company's NuGet source
- local folder

Is there a way do debug/trace what's happening?

[2016-01-13 18:18] yishaigalatzer commented on #1760
This is targeted at vNext which means it was triaged to be lower priority than about 200 other items we are trying to accomplish for 3.4 and the version immediately after that.

Like with anything else, we can take PR if you want to accelerate it

[2016-01-13 18:32] OliverRC commented on #1909
I am using NuGet 3.3.0.
I do have 2 sources, nuget.org and an internally hosted Nuget feed. No fileshare.

We've always had 2 sources and prior to VS2015 and NuGet 3 it has been quick.
As @marisks has stated, is there any way of seeing what it's actually trying to do?

[2016-01-13 19:02] emgarten opened #1930 "Add a test new for TryCreate_CachesResultsForFortyMinutes"
The TryCreate_CachesResultsForFortyMinutes is currently disabled in protocol v3 tests with a note that it should be re-written.

[2016-01-13 19:15] yishaigalatzer commented on #1909
There are two changes in NuGet 3.X compared to 2.X (for various scenarios, not just updates)
1. We access all sources, where before we might have just accessed the first one, so a second source being slow can cause things to go slower, but will be a more correct answer.
2. We collect all version information so we can run update in one step. If you have many many versions of available of a particul

[2016-01-13 19:16] yishaigalatzer commented on #1909
CC @johnataylor who is going to work on improving this in 3.4

[2016-01-13 19:53] marisks commented on #1909
I understood why it was slow for me. My "internal company's NuGet source" is available only in the company's network (or when using VPN). But I was updating packages from home and was not connected through VPN.

The only question is why NuGet is so slow in this case. Failure response is sent within 10-15 seconds, but NuGet is gathering dependency information for 15-20 minutes.

[2016-01-13 19:57] yishaigalatzer commented on #1909
Because it is making multiple request, and doesn’t recognize this feed is down. We plan to add a feature for detecting this and warning you in one of the future releases.

[2016-01-13 20:36] deansher commented on #1870
I am interested in building a NuGet Gallery client that reads metadata on the entire set of public NuGet packages and provides an alternative public search engine for it. My goal is to use reference-graph analysis akin to page-rank to make it easier to find the "best" open-source package for particular functionality.

My understanding so far (including from reading this thread) is that I should re

[2016-01-13 20:50] OliverRC commented on #1909
Does it enumerate all sources for each dependency?

I have read this, it doesn't however explain the level of "slowness".
1. Prior, we used the All aggregate source which to my understanding would have done something similar.
2. Both sources are quick from my machine in NuGet 2 so this does not explain the minutes it takes to "resolve dependencies"
3. Specifying -Source should at least help the in

[2016-01-13 20:54] yishaigalatzer commented on #1909
1. Yes it does enumerate each source for each dependencies, and all versions, nuget 2 just picked the latest hoping it is going to work, and sometimes getting into long loops of retrying. NuGet 3 tries to collect the metadata upfront, so I would guess in your case the packages you are consuming have many many versions?
2. Specifying -source - Are you running powershell or nuget.exe please clarify

[2016-01-13 21:12] daveaglick commented on #1870
@deansher There were some great tips on how to do this sort of thing from @maartenba here: https://github.com/NuGet/NuGetGallery/issues/2810#issuecomment-164673241

[2016-01-13 22:54] yishaigalatzer commented on #1929
Please share some more information, what version of visual studio and nuget are you using, what project type are you building, can you share a repro?

I believe we do have such a known issue, but to look into your issue I suggest you look into your projects or share them, because you have to reference the nuget package in the project for this to kick in.

This can also be an issue with your target

[2016-01-13 22:54] yishaigalatzer commented on #1929
CC @emgarten

[2016-01-13 22:55] yishaigalatzer commented on #1926
You need to provide more details, this definitely works in all the scenarios we are aware of.
1. Version of NuGet you are using
2. Sources configuration
3. Dependnecies
4. The exact way you run the command

[2016-01-13 22:56] #1924 closed, assigned to nobody

[2016-01-13 22:56] yishaigalatzer commented on #1924
Please update to the latest version

[2016-01-13 22:57] yishaigalatzer commented on #1925
@victorhurdugaci what is the status of this? Can it be closed?

[2016-01-13 23:38] deansher commented on #1870
Bingo -- thank you, @daveaglick . That's exactly what I needed.

[2016-01-14 01:56] yishaigalatzer opened #1931 "The call to MetadataResource.Exists is too expensive"
The call in the V3 resource - https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Protocol.Core.v3/MetadataResourceV3.cs#L72

Although rarely used is loading all the registrations instead of simply making a head request to the registration index.json

[2016-01-14 02:28] joelverhagen commented on #1691
Complete with NuGet/NuGet.Client#189.

[2016-01-14 02:28] #1691 closed, assigned to joelverhagen

[2016-01-14 07:05] aersam commented on #545
one should be able to nuget everything :blush:

[2016-01-14 07:23] Alovchin91 commented on #1929
@yishaigalatzer Visual Studio 2015 Update 1, Nuget Package Manager 3.3.0.167. The project type is Universal Class Library (DLL, .NETCore5). I'll try to make a repro as soon as possible.

[2016-01-14 07:29] OliverRC commented on #1909
I admit I probably don't 100% grasp the full complexity of the problem but from the outside this seems like an odd way of doing things.

In a package I clearly state which version my dependencies should be, why then would you need to enumerate ALL versions? Sure, semantic versioning can be tricky with ranges at all that but at a minimum we hint at the version required that still means only a subse

[2016-01-14 10:03] TehWardy opened #1932 "The type initializer for 'System.Management.Automation.Runspaces.InitialSessionState' threw an exception."
I get this error intermittently when doing the following ...
1. Open VS
2. Load solution (any)
3. Open Package Manager Console

I can repeat the process with the same solution and it work fine after this error has occurred.
When this error is shown it fails to initialise the powershell console within VS and the window is unusable.

I believe I am using the latest version of VS 2015 fully patched /

[2016-01-14 16:09] yishaigalatzer commented on #1909
We completely agree and plan to improve on this on the next release.

In the meantime I have a few suggestions
1. For your ci feed have a policy that maintains a few last versions (say one week) and pin critical versions
2. Consider moving to the project.json model, which is how we believe CI updates should work (auto update on restore)

Regardless we are on the same page and plan to improve this.

[2016-01-14 17:25] #420 closed

[2016-01-14 18:13] emgarten opened #1933 "Add feeds used and configs used to xplat restore"
xplat restore should display the feeds and nuget.config files used to match DNU

[2016-01-14 18:20] analogrelay commented on #1588
I've updated some of these, based on my info. Are any of the others done yet @emgarten @pranavkm @davidfowl @yishaigalatzer ?

[2016-01-14 18:46] krismy93 opened #1934 "RepositoryPath not working"
Specifying repositoryPath in NuGet.config does not change the packages directory.
Packages still go to: C:\Windows\SysWOW64\config\systemprofile.nuget\packages

`
<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="D:\NuGetPackages" />
  </config>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />

[2016-01-14 19:31] jascam commented on #1902
PR ready for review https://github.com/NuGet/NuGet.Client/pull/196

[2016-01-14 20:34] 304NotModified commented on #1792
We really like to see this feature for NLog.

[2016-01-14 20:46] forderud commented on #420
Fix now verified with VS2015. Thank you very much for all your help @alpaix.

[2016-01-14 21:55] joelverhagen opened #1935 "Make list of package-based frameworks configured"
Right now is it hard coded into `NuGetFramework.IsPackageBased`. This should at the very least live in `DefaultFrameworkMappings` in `NuGet.Frameworks`.

[2016-01-14 23:09] cesarblum commented on #1588
Not having this at the moment prevents a proper migration of the Kestrel build to dotnet (see https://github.com/aspnet/KestrelHttpServer/blob/b4b5f07a080162ac905c944fe06346bd72342537/src/Microsoft.AspNet.Server.Kestrel/project.json#L59).

For I've put those scripts in `precompile`, but that's not ideal.

[2016-01-15 01:06] jmelosegui opened #1936 "Fail to add xunit.runner.msbuild nuget package if project.json is used"
Having the following solution

![image](https://cloud.githubusercontent.com/assets/450246/12333093/32314824-bac0-11e5-8a15-e819bab66a2f.png)

and the following project.json configuration:

[code]

When restoring nuget packages I get this error:

[code]

As soon as I replace the `project.json` file by `packages.config` with the following configuration

[code]

Restoring nuget packages runs without

[2016-01-15 02:19] emgarten opened #1937 "nuget.exe support for MSBuild 15"
nuget.exe restore fails when using msbuild 15

[code]

It looks like the solution parsing code should allow >= 14 to use the same parsing code, instead of limiting it to only 14.

[2016-01-15 07:09] emgarten commented on #1934
Set the environment variable **NUGET_PACKAGES** to your global folder path. Both NuGet and MSBuild will use this.

_repositoryPath_ is only for packages.config. There is a _globalPackagesFolder_ setting for the project.json packages folder but MSBuild does not yet read it.

[2016-01-15 07:11] emgarten commented on #1932
This looks like a dupe of https://github.com/NuGet/Home/issues/1638

[2016-01-15 07:16] emgarten commented on #1923
Are you able to get the full stack trace for this from your Visual Studio ActivityLog.xml log file?

What steps did you use to install nuget from the command prompt?

[2016-01-15 07:24] emgarten commented on #1936
Try:

[code]

Frameworks use short names.

[2016-01-15 10:04] TehWardy commented on #1932
I think you're right looking at what others are saying is happening, i've had pretty much the same behaviour.
Apologies I couldn't find #1638 when I was logging this.

[2016-01-15 10:04] #1932 closed, assigned to nobody

[2016-01-15 10:37] DannyvanderKraan opened #1938 "SemVer-compatible build number with dot notation"
Although it is documentated very well that the dot notation for prereleases is not allowed (http://docs.nuget.org/create/versioning paragraph "Really brief introduction to SemVer") I would still humbly and kindly like to try to get this 'issue' on the backlog.

I personally find it strange that visual studio 2015 adheres to semver and therefor this is the notation for prereleases: [assembly: Assem

[2016-01-15 16:06] krismy93 commented on #1934
Thank you that fixed my issue!

[2016-01-15 16:06] #1934 closed, assigned to nobody

[2016-01-15 18:41] rchande commented on #1831
@yishaigalatzer @jasonmalinowski I have a DevDiv internal bug assigned to me about this.

[2016-01-15 19:18] emgarten opened #1939 "Restore does not resolve projects in sibling directories for xproj"
NuGet does not resolve projects in sibling directories without global.json for xproj projects. To match DNU it should find these projects by default.

[2016-01-15 19:24] Alovchin91 commented on #1929
@yishaigalatzer @emgarten Here is the test project: https://github.com/Alovchin91/nuget-issue-test-project
Building the project in Release configuration will trigger the .targets file that will create a .nupkg file. I'm taking the .symbols.nupkg file usually, but I believe there will be no difference without symbols.
Create a new Blank Universal App project. Install the package into this project.

[2016-01-15 19:27] yishaigalatzer commented on #1929
I don't follow, you are not supposed to install these to a project or place them on your feed. These are meant to be sent to the symbol server

[2016-01-15 19:28] Alovchin91 commented on #1929
@yishaigalatzer No problem, I believe there is no actual difference between the two for this issue.

[2016-01-15 19:31] yishaigalatzer commented on #1929
I would tend to agree. Briefly looking into your project, this looks like something @emgarten is working on fixing right at this moment. @emgarten can you please verify this project as well with your fixes (and if we need to make changes to the project.json in his project lets do that as well)

[2016-01-15 19:35] Alovchin91 commented on #1929
@yishaigalatzer Just checked with the non-symbols package, on an almost clean VS install (other than the one I use daily), and the problem reproduced.

[code]

[2016-01-15 20:44] emgarten commented on #1929
I'm not clear on the scenario. Adding a custom build target to reference a dll somewhere on disk causes the dll from a non-referenced nuget package to be loaded?

Does project.lock.json list the incorrect reference you are seeing?

[2016-01-15 20:47] krismy93 opened #1940 "Cache Directory created in different directory"
When running a nuget restore. Our NuGet cache is auto created at `C:\Windows\SysWOW64\config\systemprofile\AppData\Local\Temp\NuGetTempCache`

When we run `nuget locals all -clear` it removes the NuGet Cache at: `C:\Windows\system32\config\systemprofile\AppData\Local\NuGet\Cache`

Since these two directories do not match up and the NuGetTempCache directory continues to get very large.

Is there a

[2016-01-15 21:06] Alovchin91 commented on #1929
@emgarten If you mean the custom build target in a NuGet package that I meant in the initial post, forget it - the bug is reproducible without it. Just take the test project, build it in Release mode, reference the produced .nupkg in some other Universal project (so that it is put into local user cache), and then try to rebuild the test project. You will get the error.

The project.lock.json does

[2016-01-15 21:13] forderud commented on #1671
Any progress on fixing this issue?

[2016-01-15 21:18] yishaigalatzer commented on #1671
no, it looks more and more like this might be bumped to the next version

[2016-01-15 21:18] emgarten commented on #1929
Rebuilding MyLib (the project) fails due to having another MyLib in the packages folder?

[2016-01-15 21:46] Alovchin91 commented on #1929
@emgarten Yes. Could you please just run the test project?

[2016-01-16 00:48] analogrelay opened #1941 "RID inferral + guardrails = some sadness"
Because we infer `[osname]-x86` and `[osname]-x64` as RIDs, we will often attempt to restore `dnxcore50/osx.10.10-x86` (for example). This fails guardrails because it is not supported (there are no 32-bit packages for OSX). We need to change this behavior to only infer the `-x64` RID (at least for now).

I've worked around this in `dotnet-restore` for now.

[2016-01-16 04:06] emgarten commented on #1940
How are you setting that location? Is clear not using NUGET_PACKAGES?

[2016-01-16 04:07] emgarten commented on #1938
This is related to https://github.com/NuGet/Home/issues/1359

[2016-01-16 15:06] jmelosegui commented on #1936
@emgarten thanks for your answer. I changed the `project.json` (according to your suggestion) and still getting the exact same error though.

[2016-01-17 19:11] maitre-matt opened #1942 "Feature request: automate signing of assemblies in NuGet packages lacking strong names"
Installing NuGet packages into projects using strong-name signing is like playing Russian roulette: there is a good chance it won't build because assemblies are not signed. It would be great if NuGet automated signing assemblies, either at packaging time or at installation time using tools along the line of
https://github.com/brutaldev/StrongNameSigner

[2016-01-17 22:56] sampalmer opened #1943 "Can't update or install package: An item with the same key has already been added"
See details and workaround in [the StackOverflow post](http://stackoverflow.com/q/34844765/238753).

[2016-01-17 23:14] csharpfritz commented on #1943
We should present an appropriate error message if there are duplicate entries in packages.config or project.json

[2016-01-18 00:40] emgarten commented on #1890
Merged with NuGet/NuGet.Client@6f8f8e783fc2f314c5b27498225d9e4db006c0da

[2016-01-18 00:40] #1890 closed, assigned to emgarten

[2016-01-18 00:44] emgarten commented on #1911
NuGet/NuGet.Client@1cd4679aeaad43a2fe2edb023f0be22e2ee36984

[2016-01-18 00:44] #1911 closed, assigned to emgarten

[2016-01-18 00:50] emgarten commented on #1055
NuGet/NuGet.Client@1cd4679aeaad43a2fe2edb023f0be22e2ee36984

[2016-01-18 00:51] #1055 closed

[2016-01-18 08:09] haf commented on #624
Ping

[2016-01-18 08:32] teian commented on #1921
I get the exact same error! This happens only in v3.3.0, 3.2.1.10581 is fine!

[2016-01-18 09:47] JLR-UK commented on #1923
Unfortunately, as this was holding back my work I've re-installed everything from the OS up.  Sorry I can't provide any further info/logs.

[2016-01-18 09:47] #1923 closed, assigned to nobody

[2016-01-18 10:49] mihailik commented on #764
A routine package upgrade (that ended with no warnings) broke the project:

`The 'System.Resources.ResourceManager 4.0.0' package requires NuGet client version '3.0' or above, but the current NuGet version is '2.8.***.***'.` - (specific build blanked for security)

If those shiny new features in NuGet 3.1, 3.5 or whatever 5.0 lead to **standard BCL packages** being unusable in the ordinary VS2013,

[2016-01-18 16:39] hugoqribeiro opened #1944 "NuGet.VisualStudio.IVsPackageInstaller.InstallPackage raising NullReferenceException"
The following code is raising NullReferenceException when the value of version is null and InvalidOperationException when the value of version is exactly the same as the latest version of the package being installed.

[code]

This does not make any sense because installing the same package in Package Manager Console works just fine. It seams like a bug in the NuGet.VisualStudio.\* code base.

Any

[2016-01-18 17:04] yishaigalatzer commented on #624
We are starting a rewrite of pack shortly. It is going to be natively supported in Linux and mac through coreclr, which is why we are not touching the old code base yet. @emgarten please take this issue into account on both NuGet.exe and xplat nuget.exe.

Timeline wise, we planned to start this week but the work on xplat restore did not conclude yet.

As FYI - we did fix the extraction part that w

[2016-01-18 18:21] yishaigalatzer commented on #764
@mihailik we don't own the decision of package owners to pick what new features the want to use and what limitations they want to place on their packages.

Specifically the BCL packages are not needed for anything in 2013, because everything should be available in the GAC.

It would be helpful if you share what new package brought that dependency, you can probably contact the package owner and fig

[2016-01-18 19:23] yishaigalatzer commented on #1944
This seems like a bug, nothing should throw a `NullReferenceException`, `ArgumentNullException` yes

Can you please share more information? What version of NuGt are you using? What version of Visual Studio?

[2016-01-18 19:24] yishaigalatzer commented on #1943
I believe we fixed this in 3.4

[2016-01-18 19:26] yishaigalatzer commented on #1942
NuGet is not going to get in the middle of this process. Strong name signing is a package owner concern. NuGet is not in a position or desire to alter package content.

The decision on utilizing strong name signing comes from the .net team, their repo is at https://github.com/dotnet/corefx.

[2016-01-18 19:26] #1942 closed, assigned to nobody

[2016-01-18 19:33] yishaigalatzer commented on #1940
@krismy93 thanks for the feedback. Looks like there are two issues here:
1. You are running nuget with a system account, which leads to your cache folder being created in the systems folder. I would make sure you run under a proper user profile, and then the cache location will be created and something like `c:\users{username}\appdata\local
2. You can just clear you %temp% folder regularly, the fi

[2016-01-18 19:35] juliank opened #1945 "NuGet.exe doesn't include ApiKey header in all messages in a push command"
We're trying to push packages from our build server to a NuGet server that is located behind a different corporate firewall. This firewall normally requires two-factor authentication, but for our build server we've set up a rule to allow traffic from that specific IP if the http header `x-nuget-apikey` is present. This doesn't seem to work as intented, and from the firewall's logs it appears that

[2016-01-18 19:36] yishaigalatzer commented on #1938
Hey @DannyvanderKraan unfortunately fixing this seemingly minor issue, is a pretty large breaking change to all previous clients, because they first look at version and id before proceeding with any operation. Hence I don't see us taking this one small fix on it's own.

Visual Studio doesn't strictly adhere or follow semver, the assembly informational version is just an opaque string. So I see whe

[2016-01-18 19:36] #1938 closed, assigned to nobody

[2016-01-18 19:37] yishaigalatzer commented on #1938
Marking as duplicate because resolving #1359 should resolve this issue as well.

[2016-01-18 19:38] yishaigalatzer commented on #1925
@victorhurdugaci I'm closing this, please re-open if you have a repro

[2016-01-18 19:38] #1925 closed, assigned to nobody

[2016-01-18 19:41] yishaigalatzer commented on #1922
Hey and thanks for reporting this issue.

The question is if you can compile your assemblies using msbuild from commandline. NuGet really just tries to run msbuild for you. msbuild 4 just loads the older compiler and the exception makes sense. I'm not sure why msbuild 14 fails for you, can you confirm it builds fine from command line?

[2016-01-18 19:43] yishaigalatzer commented on #1921
Can you please share a full repro?

[2016-01-18 19:45] yishaigalatzer commented on #1920
@krwq please share a clear example of what commands work and what commands do not work for you.

Priority wise this seems low, but we will gladly take a pull request

[2016-01-18 19:46] yishaigalatzer commented on #1921
As we plan to rewrite this part of the pack code, assigning this to @emgarten. A repro will help us build a test making sure this gets resolved for your particular scenario.

[2016-01-18 20:53] teian commented on #1921
I would like to help out with a repo since it's internal code from the company I can't promise anytrhing since I have to get approval frist. I will test new versions against this bug though and report back.

[2016-01-18 21:23] yishaigalatzer commented on #1921
@Tak0r the problem is that we don't have a repro for this issue, and we have extensive tests for packing. So it will be a pretty wild goose chase if we can't find a sample that fails.

Are you able to perhaps distill a small example that does not include any proprietary code from your company?

[2016-01-18 21:24] teian commented on #1921
I will try to do so tomorrow if I find the time for it.

[2016-01-18 21:25] yishaigalatzer commented on #1921
Thanks!

[2016-01-18 21:41] hugoqribeiro commented on #1944
I'm using Visual Studio 2015 and the version of the NuGet extension is 3.3.0.167.
This exact piece of code worked just fine with Visual Studio 2013.
The bug started when we converted our extension, that uses this code, from VS 2013 to VS 2015.

[2016-01-18 22:23] yishaigalatzer commented on #1944
And can you tell us what are you exactly trying to achieve/do?

[2016-01-18 22:36] mihailik commented on #764
It was either Immutable Collections, or Compilers - both from Microsoft. I bet a good pint of cider 'the owners' will send me back towards NuGet with a fresh batch of cryptic lingo supposed to enlighten me on my journey :-)

The whole idea of splitting BCL into tiny crumbles delivered as independent packages -- surely it was invented in collaboration with NuGet, rather than as wild hack down at Ro

[2016-01-18 22:43] hugoqribeiro commented on #1944
Our Visual Studio extension includes a multi-project template used to create custom solutions.

That template includes a wizard that performs a set of custom actions.

One of those actions will restore packages defined in packages.config files created by the template . In the end it also installs a set of other packages (not referenced in the packages.config) because these packages need to install

[2016-01-18 23:01] yishaigalatzer commented on #1944
Thanks I can take a look but in general this is something we highly advertise against. Picking up latest version of a package leads to inconsistent and buggy experiences for templates.

Related: You mentioned that specifying the specific version leads to failures as well. I'm suspecting that something else is going on either with your sequence of operations or the specific packages being installed

[2016-01-18 23:05] yishaigalatzer commented on #764
Yes they are built by Microsoft, but the nuget team does not control them. I agree with your assessment and I'll communicate it further.

[2016-01-19 02:00] phrohdoh opened #1946 "NuGet pack fails with 'The method or operation is not implemented.'"
NuGet Version: 3.3.0.212
Latest from [the downloads page](https://dist.nuget.org/index.html) is [3.3.0](https://dist.nuget.org/win-x86-commandline/latest/nuget.exe).

OS X 10.11.2
Mono 4.2.1

[code]

Per [creating and publishing](http://docs.nuget.org/create/Creating-and-Publishing-a-Package):
`You need to run 'nuget pack' on the project file, not the nuspec itself. But the nuspec will in fact get

[2016-01-19 02:26] emgarten commented on #1946
@Phrohdoh would you re-run pack with `-verbosity detailed` and paste the output? It should include the stack trace which will help narrow down here this is coming from.

[2016-01-19 02:30] phrohdoh commented on #1946
Sure!

[code]

ref https://github.com/NuGet/Home/issues/1874#issuecomment-167430812

[2016-01-19 03:23] emgarten commented on #1946
That looks like a different exception. It could be nuget.exe going down a different path with the verbosity change, but just to be sure would you double check your files path and make sure it's not creating an empty package like it says there.

[2016-01-19 04:03] emgarten opened #1947 "Remove nuget.core v2 dependency"
Remove the legacy v2 nuget.core.dll dependency from the Visual Studio extension and nuget.exe.
- [x] Port and update pack
- [x] Unzipped repository support
- [x] OData feed reader for v2 sources
- [x] Flat folder repository support
- [x] Version folder repository support
- [x] List command  (Now covered by #3177)
- [ ] NuGet.Credentials (Now covered by #3178)

[2016-01-19 06:12] davidfowl commented on #1942
This is something that should be done at build tie if anything, not package install time. There's actually an msbuild task called StrongNamer that does what you want

[2016-01-19 08:25] Luzenna commented on #1921
@yishaigalatzer I have uploaded a repo with a project failing to pack.

I was in the same boat as @Tak0r with proprietary code, however I made a stripped down version with all code removed and just a dummy class file added. It still does not pack. I have uploaded that stripped down version to this public repo: https://github.com/Luzenna/nugetbug

Please let me know if you require any more informat

[2016-01-19 09:55] xavierdecoster commented on #1940
When running `nuget.exe locals all -clear`, we are clearing the global packages folder using `SettingsUtility.GetGlobalPackagesFolder(ISettings)` ([here](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.CommandLine/Commands/LocalsCommand.cs#L145)), which also checks for the `NUGET_PACKAGES` environment variable ([here](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.

[2016-01-19 11:02] desuma09 commented on #1138
Change permissons on the root of the folder to give everyone full control. This sorted it for me. Then you can change back after install if you want. Thanks

[2016-01-19 12:33] DannyvanderKraan commented on #1938
Ok, thank you for responding and clarifying. Good luck with resolving #1359 and other issues.

[2016-01-19 12:37] hugoqribeiro commented on #1944
It is very difficult to share our extension project because that extension has numerous other features and relies on a set of libraries that would make it very difficult for you to debug it. I will try to reproduce the error in a smaller and simpler VS extension with a simple template. I believe that scenario will have the same problem.

Further testing makes me believe that the error is really in

[2016-01-19 13:42] hugoqribeiro commented on #1944
OK, I've managed to reproduce the error in the attached simpler extension.

Please look into the class ModuleSolutionWizard in MyVsix.Wizards.

This extension will install under the name "Sample Vsix". The project template is created under "Templates | Visual C# | ELEVATIONXXX" and the name is "PRIMAVERA Elevation Module".

[MyVsix.zip](https://github.com/NuGet/Home/files/95937/MyVsix.zip)

[2016-01-19 16:00] krismy93 commented on #1940
@xavierdecoster @yishaigalatzer I do not seem to have a `NuGetCachePath` environment variable defined.

I tried to set the environment variable to `NuGetCachePath` but it seems to still be creating the cache directory at `%localappdata%\Temp\NuGetCache`. The only difference is that when i set the environment variable, the `nuget.exe locals all -clear` recognized that I had changed the cache direct

[2016-01-19 16:31] yishaigalatzer commented on #1940
I think we are looking at a completely different folder than the cache.  To verify can you grab 3.4 bits from nugetbuild feed on myget

What are we changing in 3.4:

Unify ask temp folder usage to a sub folder named nugetscratch.
Adding that folder to the clear command.

Step 1 done
Step 2 in progress

---

From: Krismy Alfaromailto:notifications@github.com
Sent: ‎1/‎19/‎2016 8:01 AM
To: NuGet/Hom

[2016-01-19 16:45] yishaigalatzer commented on #1921
Can you add a readme with exact repro steps?

Sent from my Windows Phone

---

From: Luzennamailto:notifications@github.com
Sent: ‎1/‎19/‎2016 12:26 AM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home] Nuget Pack throws System.Xml.XmlException: Unrecognized root element in Core Properties part. Line 2, position 2. (#1921)

I was in th

[2016-01-19 17:16] yishaigalatzer commented on #1946
The second run was on the .nuspec and not the project. Can you please run the exact same command as the first one with verbosity turned on?

[2016-01-19 17:19] phrohdoh commented on #1946
Oh wow that's an embarrassing mistake.
I'll run this again over lunch and see what happens.

[2016-01-19 17:20] yishaigalatzer commented on #1945
I don't think we should send the API key on any get request. I suggest you find a different way to configure your firewall to allow for all these requests to go through.

[2016-01-19 17:22] yishaigalatzer opened #1948 "Http Error handling - Deal with name resolution failures"
RetryHandler today will retry any error, we shouldn't retry a set of errors and report good error to the users when that happens:

I was trying to implement name resolution failures using:

[code]

But this doesn't seem to work on CoreCLR as the inner exception has changed. We need to get a solid solution for both coreclr and desktop here

[2016-01-19 17:22] yishaigalatzer opened #1949 "Http Error handling - Deal with name resolution failures"
RetryHandler today will retry any error, we shouldn't retry a set of errors and report good error to the users when that happens:

I was trying to implement name resolution failures using:

[code]

But this doesn't seem to work on CoreCLR as the inner exception has changed. We need to get a solid solution for both coreclr and desktop here

[2016-01-19 17:23] juliank commented on #1945
But what is the reason behind the GET request in the first place (if my understanding of the message flow is correct)? When you issue a nuget push, shouldn't it be sufficient with the one PUT request?

[2016-01-19 17:24] yishaigalatzer commented on #1949
Current behavior provides a good error message for V2, but a pretty obscure one for V3.

![image](https://cloud.githubusercontent.com/assets/1238711/12426411/63055c02-be8e-11e5-8f35-8dad82934b51.png)

[2016-01-19 17:26] yishaigalatzer commented on #1945
This is a fair question, I didn't dig into this. But given that this has been the behavior for quite a few years now, I'm not inclined to jump on this right away and try to fix it, because I'm not sure about all the side effects.

[2016-01-19 17:38] yishaigalatzer opened #1950 "Exists call on Metadataresource extremely innefficient"
The call to Exists is potentially extremely inefficient because it tries to load all the metadata (all versions for example) instead of just making something like a head request against the resource.

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Protocol.Core.v3/MetadataResourceV3.cs#L72

[2016-01-19 17:56] yishaigalatzer opened #1951 "Remove Logger.Instance"
Logger.Instance static should be removed from the codebase, it leads to scenarios where logging doesn't work or potentially crosses the paths.

[2016-01-19 18:09] mfaulkinbury commented on #1888
@yishaigalatzer Above, you mention that, "...once a PR is ready we can move it to a milestone."

I've submitted a PR.  Can you provide guidance on what I can do to move this forward?

Best,
Mike

[2016-01-19 18:11] yishaigalatzer commented on #1888
@mfaulkinbury sorry about not being super responsive. We are under pretty heavy load at the moment. We could take this for 3.4 if this is all the change required, and you can verify it in your scenarios (pending PR review)

[2016-01-19 18:19] krwq commented on #1920
[code]

[2016-01-19 18:19] xavierdecoster commented on #1951
The static `Logger.Instance` got recently introduced as part of the _least impacting_ change to add http request logging, see https://github.com/NuGet/NuGet.Client/pull/138

Removing the static means traversing many layers of code, passing along an ILogger to have the it available in the protocol's resource classes, which is _very intrusive_. What scenarios are not working?

[2016-01-19 18:27] phrohdoh commented on #1946
Here is the correct output.

[code]

I get the same output if I omit the `-IncludeReferencedProjects` flag.

[2016-01-19 18:43] mfaulkinbury commented on #1888
@yishaigalatzer  Getting it into 3.4 would be great.  Thanks!

[2016-01-19 18:59] pakrym opened #1952 "XPlat client not respecting disabled source"
`.\.nuget\nuget.exe sources`

[code]

`NuGet.CommandLine.XPlat.exe restore` still tries to sent request to http://localhost:8326/nuget  and fails.

[2016-01-19 19:06] yishaigalatzer commented on #1946
OK, I see. msbuild is not supported on mono, you are supposed to use xbuild instead. I need to find out why xbuild is not kicking in for you

[2016-01-19 19:08] yishaigalatzer commented on #1920
I'm assuming this is not a blocker for you, we are not planning to fix this with any urgency

[2016-01-19 19:08] yishaigalatzer commented on #1951
Yes, that's what needs to happen.
1. We don't want static variables floating around
2. This does not work in visual studio, and blocks the ability to set a logger for testing purposes

[2016-01-19 19:21] zhili1208 opened #1953 "Skip ReadLineAysnc in SynchronizationTest on Mac due to https://github.com/dotnet/corefx/issues/5436"
just track this and enable it back when coreclr is fixed
https://github.com/NuGet/NuGet.Client/commit/6a3b304a4783ce42db5c7507a38c1e1803bc3a7f

[2016-01-19 19:59] joelverhagen commented on #1692
Closed per NuGet/NuGet.Client#197.

[2016-01-19 19:59] #1692 closed, assigned to joelverhagen

[2016-01-19 20:50] emgarten opened #1954 "Add rid parameter for nuget.exe"
Add a parameter to pass runtimes into nuget.exe to match xplat.

Rid inference is no longer needed with: https://github.com/NuGet/Home/issues/2114

[2016-01-19 21:29] victorhurdugaci opened #1955 "nuget restore with invalid feed throws exception"
Run dotnet restore with an incorrect feed. Like:

[code]

Expected: friendly error message
Actual:

[code]

[2016-01-19 21:54] joelverhagen opened #1956 "Add "netstandardapp" moniker"
Requirements while talking to @emgarten
- `netstandard` is a subset of `netstandardapp`, the versions numbers always match
- should have extra tests validated it can install `dotnet` and can't install `net45`
- `net45` cannot install `netstandardapp` or vice versa
- `netstandard` cannot install `netstandardapp`
- `dotnet` cannot install `netstandardapp`
- `netstandardapp` can install `netstandard`

[2016-01-19 22:29] #1815 closed, assigned to zhili1208

[2016-01-19 22:57] csharpfritz commented on #1946
NuGet has not previously supported packing from a csproj outside of Windows.  We are currently focused on delivering pack functionality using nuspec with the CoreCLR on Mac.  Csproj file support currently requires MSBuild, which is not present on Mac

[2016-01-19 22:58] analogrelay opened #1957 "NuGet packages contain other libraries"
Most of the NuGet packages seem to have other libraries in them. For example, `NuGet.Frameworks` has `NuGet.ContentModel.dll`, etc. in it, as well as having a dependency on the package `NuGet.ContentModel`

[2016-01-19 22:59] ellismg opened #1958 "How do I do Machine Wide configuration on XPlat?"
Enterprise Linux distros would like to be able to provide machine wide configuration for the feeds that nuget uses during package restore (to ensure that only sources the distro controls are used, so they can provide proper support).  Furthermore, it should be possible to disallow using other feeds during restore unless the end user goes out of their way so it is clear they are in an unsupported c

[2016-01-19 22:59] #1945 closed, assigned to nobody

[2016-01-19 23:07] #1354 closed, assigned to zhili1208

[2016-01-19 23:07] phrohdoh commented on #1946
Okay, should I open a separate issue for the [failure of `nuget pack myspec.nuspec`](https://github.com/NuGet/Home/issues/1946#issuecomment-172714244) which is also caused by the xbuild issue?

If I could get a bit of help I'd be willing to put some hours into solving this but currently I am dead in the water waiting for a fix.

[2016-01-19 23:09] yishaigalatzer commented on #1946
I believe the error there is correct, and you need to fully fill in the nuspec by adding files entries

[2016-01-19 23:10] phrohdoh commented on #1946
It does have a `<files>` entry:

[code]

[2016-01-19 23:12] csharpfritz commented on #1943
This appears to be partially fixed in 3.4    There are now warning messages that there are duplicate entries, but the package manager console hangs when opening for the first time after this state is present:

<img width="229" alt="duplicatepackages" src="https://cloud.githubusercontent.com/assets/78577/12434925/d213e3fe-bebe-11e5-8345-ff3be87f6f67.png">

Work-around:  clean up the packages.config

[2016-01-19 23:20] analogrelay commented on #1941
It should be as simple as removing this line: https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Commands/Utility/RequestRuntimeUtility.cs#L48

That would cause applications running on Mono, on a 32-bit platform, using a NuGet package which includes native components to have to manually specify that RID when restoring, but I think that's OK

[2016-01-19 23:23] yishaigalatzer commented on #1946
missed it before. Can you try something very basic to verify there is no mistake in your setup? We did verify this basic scenario on mono, so I'm suspecting something else might be going on (perhaps files do not exist on disk when you run nuget.exe pack?)

[2016-01-19 23:34] yishaigalatzer commented on #1936
@jmelosegui I assume you are using a csproj file and not an asp.net5 class library. Right?

[2016-01-19 23:40] jmelosegui commented on #1936
Correct. I am using a csproj as you can see from the project icon in the image.

[2016-01-19 23:42] yishaigalatzer commented on #1936
We think there is a bug in the package, and that packages.config is being a bit too forgiving here. We are verifying a package fix as we speak and will circle back when we know more.

[2016-01-19 23:43] jmelosegui commented on #1936
Thanks!!!!!

[2016-01-19 23:45] emgarten commented on #1941
@anurse do we want to remove it always, or just for osx?

[2016-01-19 23:48] #1940 closed, assigned to yishaigalatzer

[2016-01-19 23:48] analogrelay commented on #1941
Just for non-windows. Since the primary use case for RIDs is CoreCLR and there is no 32-bit CoreCLR on non-Windows OSes

[2016-01-19 23:49] yishaigalatzer commented on #1940
@krismy93 can you pick up nuget 3.4 from the myget nugetbuild feed, and confirm your scenario is now handled?

[2016-01-20 02:42] yishaigalatzer commented on #1958
1. This is a duplicate of https://github.com/NuGet/Home/issues/1899
2. Blocking users from picking nuget sources is something we don't want to support, for the same reason we don't want to support it on windows. I would love to hear direct customer feedback on why this is necessary before even considering such as feature.

[2016-01-20 02:42] #1958 closed, assigned to nobody

[2016-01-20 02:47] ellismg commented on #1899
For Red Hat specifically, their "software collections" feature uses a different system layout (basically they have some intermediate folders under /opt).  Do you imagine that the location of this machine wide configuration would itself be configurable?  If so, is that a build time thing or could it be controlled via environment variables?

[2016-01-20 02:52] yishaigalatzer commented on #1899
@ellismg can you share specific details about where would you place the nuget.config files on redhat, and then we can see how to control it (environment variables seem right)

[2016-01-20 02:56] ellismg commented on #1899
@yishaigalatzer I can dig into it as I read more of their packaging guidelines.  My high level understanding is that they provide a tool to select what version of a "software collection" you are using and then do stuff behind the scenes (setting environment vars) to make sure things run on the selected version.  It sounded like something like RVM or how DNVM used to work (by putting stuff on the P

[2016-01-20 03:39] emgarten commented on #1937
nuget/nuget.client@12c6114edab1209e94b4007094c18b631ff4c850

[2016-01-20 03:39] #1937 closed, assigned to deepakaravindr

[2016-01-20 03:54] kentcooper commented on #1572
@pgorbas That is an issue in SideWaffle. Once the latest build of SideWaffle is released this issue should be fixed.

[2016-01-20 08:11] Luzenna commented on #1921
@yishaigalatzer
Build the only project in the solution, then try to pack it using nuget command line v.3.3.0.

[2016-01-20 10:03] rovinbhandari commented on #1448
I hit this issue very recently with trying to install/restore nuget packages created internally in my company; the source was specified correctly and the package existed there but a similar error was thrown. Leaving this comment here for other people who might have similar issues.

#### With NuGet.exe version 2.8.60717.93

[code]

#### With NuGet.exe version 3.3.0.212

[code]

The problem wasn't t

[2016-01-20 16:11] yishaigalatzer commented on #1921
For the sake of completeness can you type the exact command you are using?

Sent from my Windows Phone

---

From: Luzennamailto:notifications@github.com
Sent: ‎1/‎20/‎2016 12:11 AM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home] Nuget Pack throws System.Xml.XmlException: Unrecognized root element in Core Properties part. Line 2, po

[2016-01-20 16:14] Luzenna commented on #1921
Well, I did write it in my initial post eight days ago, but here it is again:

[code]

[2016-01-20 17:08] yishaigalatzer commented on #1921
Sorry missed that. Thanks for clarifying

[2016-01-20 17:39] yishaigalatzer commented on #1921
OK, Got a repro and looking into it. Note that you accidentally left a link to your appveyor ci feed that of course I cannot connect to. Fortunately taking it off makes the repro work. Can you please take it out for the sake of the developer who is going to try and fix it

[2016-01-20 18:55] BrennanConroy opened #1959 "Restore NullRefs on TryResolveConflicts"
When restoring https://github.com/aspnet/Razor/tree/dev/test/Microsoft.AspNet.Razor.Runtime.Test
The below exception is thrown

[code]

[2016-01-20 18:56] BrennanConroy opened #1960 "Restore has duplicate key when creating lock file"
When restoring https://github.com/aspnet/EntityFramework/tree/dev/src/EntityFramework.Commands
You get the below exception

[code]

[2016-01-20 18:58] emgarten opened #1961 "Add support for dnx type property for dependencies"
DNX projects currently use type: build in dependencies. NuGet supports this through the suppressParent flag, this should be set when the type flag is used.

[2016-01-20 19:00] johnataylor commented on #1948
This is a duplicate of #1949

[2016-01-20 19:00] #1948 closed, assigned to johnataylor

[2016-01-20 19:05] mfaulkinbury commented on #1888
@yishaigalatzer

I see that the PR has been reviewed and is marked "ship it", but shows as OPEN rather than PROPOSED in the Pulse view.

Is there an action that I've failed to take, or will you guys move it through the process from here?

Thanks!

[2016-01-20 19:06] yishaigalatzer commented on #1888
We will take it from here. I have no idea what it takes to change it to Proposed, we just merge and close :)

[2016-01-20 19:07] yishaigalatzer commented on #1888
I am waiting for your feedback on actually having tested this change

[2016-01-20 19:15] mfaulkinbury commented on #1888
@yishaigalatzer   yes, I have been using the new version for about a week and it does what I need it to do (to start).

I'd be happy to provide more formal test support, but I'd need a little guidance as to where and what is needed.

[2016-01-20 19:26] natemcmaster commented on #1960
+1 this is completely blocking Entity Framework.

https://ci.appveyor.com/project/aspnetci/entityframework/build/1.0.760#L161

[2016-01-20 19:35] analogrelay opened #1962 "Add support for an array in `imports`"
The `imports` syntax in project.json should support an array so that we can have multiple items. For example:

[code]

Also, currently `imports` must be a portable profile (i.e. `portable-...`). This restriction should be loosened. At a minimum, `dotnet` and `netstandard` (i.e. the new portable TFMs) should be allowed as well. Personally, I think allowing any framework to appear in this list is re

[2016-01-20 19:37] analogrelay opened #1963 "Break compatibility between netstandard and dotnet"
We should break compatibility between `netstandard` and `dotnet`. `dotnet` is going to be phased out, so let's not perpetuate the legacy :). Until packages update, `netstandard`-based projects can always use `imports` to add support (made easier after #1962 as well).

Similarly, `netstandardapp` will support `netstandard` (as before) and will therefore also lose access to `dotnet`. Mappings of v2

[2016-01-20 19:39] Luzenna commented on #1921
@yishaigalatzer Sorry 'bout that. Should be OK now.

[2016-01-20 19:47] #1957 closed, assigned to alpaix

[2016-01-20 20:41] johnataylor commented on #916
This appears to be fixed in the latest release. Update-Package now just reports that the project is up to date rather than an error. This looks like correct behavior to me.

[2016-01-20 20:41] #916 closed

[2016-01-20 20:44] joelverhagen commented on #1944
I've looked into this and there are a couple issues here.

First, the NuGet code in 3.x (VS 2015) does not have support for the `"All"` source (of type `string`) that you are using. This functionality _did_ exist in NuGet 2.x (VS 2013), which explains why your code used to work.

If you really need to rely on the user's configured sources (which can be brittle depending on the user's configuration

[2016-01-20 21:02] yishaigalatzer commented on #1921
Thanks!

Looking into it, it seems to be related to a change we indeed made between 3.2.1 and 3.3 (CC @xavierdecoster)

The root cause of the problem is that the package https://www.nuget.org/packages/structuremap/3.1.6.186 is not a compliant OPC package, and hence the OPC package APIs are throwing an exception when trying to traverse the files in it. So this is in a gray area of unintentional bre

[2016-01-20 23:03] johnataylor commented on #1798
This was fixed with checkin on dec.1 should be in next release.

[2016-01-20 23:03] #1798 closed, assigned to johnataylor

[2016-01-20 23:09] scottAnselmo commented on #1739
For what it's worth I'm commenting here to also lend comment weight to the request to add a sort by alphabetical feature on installed packages. Running VS2015 Enterprise Update 1 w/ NuGet Package Manager for Visual Studio 2015 3.3.0.167

[2016-01-20 23:37] yishaigalatzer commented on #1798
You can find nuget.commandline package containing nuget.exe 3.4 in this gallery on myget http://myget.org/gallery/nugetbuild

[2016-01-20 23:44] yishaigalatzer commented on #1962
should this support an Array or a single property? (I'd say yes)

[2016-01-21 00:08] analogrelay commented on #1962
Yes, both is best. In general with array properties we allow a string as a short-hand for an array with one element.

[2016-01-21 00:17] analogrelay opened #1964 "JSON error with lock file"
Restoring this project file: https://github.com/dotnet/cli/blob/master/src/dotnet-restore/project.json causes an exception message:

[code]

(There are also restore errors but they are unrelated, I think)

This seems to be caused by the fact that we simply concat the dependencies that come from runtime.json to the dependencies specified in the nuspec, meaning duplicates can occur. I have a fix and

[2016-01-21 00:43] johnataylor commented on #1803
This bug is actually a little worse than it at first appears. Executing this command with multiple -Id flags can alter the project into an illegal state: not just a non-optimal state as we had previously predicated.

This happens if the highest versions of every package specified are not actually mutually compatible.

[2016-01-21 00:44] jasonmalinowski commented on #1801
The code is now available [on GitHub](https://github.com/NuGet/NuGet.BuildTasks).

[2016-01-21 00:45] #1801 closed, assigned to jasonmalinowski

[2016-01-21 00:46] jasonmalinowski commented on #1825
The code's available now, so the mapping is defined [here in the build task](https://github.com/NuGet/NuGet.BuildTasks/blob/6d5532276ed05781421e33572bc7602d4c7b7f2d/src/Microsoft.NuGet.Build.Tasks/ResolveNuGetPackageAssets.cs#L524).

[2016-01-21 01:21] h2rashee opened #1965 "GetInstalledPackages() doesn't support C++"
IVsPackageInstallerServices throws an ArgumentException when GetInstalledPackages() is called on C++ projects.

[2016-01-21 03:09] emgarten commented on #1964
NuGet/NuGet.Client@36e3183f676ce46dbaa7ba3b4c7cde69f6ae210d

[2016-01-21 03:09] #1964 closed, assigned to nobody

[2016-01-21 03:16] emgarten commented on #1965
what version of nuget?
what version of Visual Studio?

[2016-01-21 07:16] emgarten commented on #1919
It was decided that NuGet should not hardcode these runtime mappings. Projects encountering this issue should use the Microsoft.NETCore.Platforms package.

[2016-01-21 07:16] #1919 closed, assigned to emgarten

[2016-01-21 07:26] emgarten commented on #936
Projects and packages are generally treated as the same thing. The identity consists of the id and version.

The root level project is special cased and not written into the lock file, so potentially this issue could be fixed, however if that project is then referenced by another project there will be two items in the lock file target graph with the same name (a project and package), and that is n

[2016-01-21 07:54] emgarten commented on #1391
I believe this has been solved and nuget will continue mapping dotnet/netstandard to the highest versions of xamarin frameworks.

[2016-01-21 09:55] hugoqribeiro commented on #1944
Thank you! This solved the problem.

[2016-01-21 09:55] #1944 closed, assigned to joelverhagen

[2016-01-21 10:24] TiltonJH opened #1966 ""Nuget pack" does not find ".nuget\nuget.config""
"Nuget pack" ignores dependencies from packages.config because it does not find the `.nuget\nuget.config`

(The issue which is also somewhat explained here [http://nuget.codeplex.com/workitem/3097](http://nuget.codeplex.com/workitem/3097) in the comments section still exists in nuget 3.3.0.212)

**Steps to reproduce:**
My solution layout looks like the below:

[code]

Content of the `nuget.config`

[2016-01-21 11:00] jc1001 commented on #1922
Thank you for getting back to me.  I ran the following command on the attached solution (from first post):

[code]

It compiled successfully.  I've attached the command output.  If there are any other variations of MSBuild that you would like me to run (or anything else that I can try), please let me know.

[MSBuildSuccess.txt](https://github.com/NuGet/Home/files/99031/MSBuildSuccess.txt)

[2016-01-21 13:54] jechtom commented on #1924
Great work guys!

[2016-01-21 14:10] maartenba commented on #1924
Thanks @jechtom !

[2016-01-21 15:41] jmecosta opened #1967 "CopyLocal set twice when using install.ps1"
Hi guys,

hope you can help with this, vs 2015 update 1. package manager 3.3.0.167. powershell 5.0

we have a instal.ps1 where we do this:

[code]

For some reason, in this visual studio version i get duplicated entries in project file like this

[code]

I have vs 2013 and 2.8.60723 and this does not happen. i would be ok with this however some users using vs 2013 and 2.8.60723 still get the dupli

[2016-01-21 18:27] arturl commented on #1965
VS 2015 Update 1. NuGet.VisualStudio version 2.8.6

[2016-01-21 19:01] ktsjackson opened #1968 "This project references NuGet package(s) that are missing on this computer. Enable NuGet Package Restore to download them"
VS 2013 using MsBuild definition with TFS 2013.

I have gone through that old thread (http://nuget.codeplex.com/workitem/1879) and have been trying to resolve this issue. From the steps below, when I get to "right-click a project in the solution and "Manage nuget packages". Then you will finally get a bar across the top of this UI with a message" There is never a crossbar. A new window opens for x

[2016-01-21 19:05] phrohdoh commented on #1946
[code]

[code]

[code]

[2016-01-21 19:31] joelverhagen commented on #1963
Closed with NuGet/NuGet.Client#209.

[2016-01-21 19:31] #1963 closed, assigned to joelverhagen

[2016-01-21 19:34] joelverhagen commented on #1956
Closed with NuGet/NuGet.Client#206 and NuGet/NuGet.Client#209, following @ericstj's doc.

[2016-01-21 19:34] #1956 closed, assigned to joelverhagen

[2016-01-21 19:43] emgarten commented on #1941
nuget/nuget.client@ac28dabff6e514e3ac094c289718b9252521f045

[2016-01-21 19:43] #1941 closed, assigned to emgarten

[2016-01-21 19:46] yishaigalatzer commented on #1638
@pete1208 the fix was released as part of https://support.microsoft.com/en-us/kb/3124263, could you install it and verify the problem is fixed for you?

[2016-01-21 20:15] ericstj commented on #1962
Additionally it looks like the imports is [limited](https://github.com/NuGet/NuGet.Client/blob/823cb9369e837e99cd7ff59bf6cdf4697a465fd1/src/NuGet.Core/NuGet.ProjectModel/JsonPackageSpecReader.cs#L383) to just "PCL" frameworks.  That should be opened up to more frameworks.

[2016-01-21 20:29] emgarten opened #1969 "Re-visit the IPackageSourceProvider.LoadPackageSources method"
IPackageSourceProvider.LoadPackageSources returns disabled sources. To keep users from accidently using these disabled sources the method could take a bool.

[2016-01-21 21:37] rchande opened #1970 "Build task needs a way to specify ".NETStandard.*""
The PCL targets currently hardcode ".NETPlatform, Version=v5.0" for their NuGetTargetMoniker. This needs to change in order to support ".NETStandard", but currently portable needs to include the specific netstandard version in the project file so the targets can pick it up. To avoid this (and enable users to retarget by only editing their project.json), the build task should have a way to indicate

[2016-01-21 21:38] rchande commented on #1970
cc @jasonmalinowski

[2016-01-21 21:40] analogrelay commented on #1962
Ah, good point. I'll update the issue to clarify.

[2016-01-21 22:12] analogrelay opened #1971 "Convert NuGet.* libraries to use netstandard instead of dnxcore50"
The NuGet.\* libraries should use a `netstandard` TFM instead of `dnxcore50` since they are portable libraries.

[2016-01-21 22:33] emgarten opened #1972 "nuget.exe should only load MSBuild when needed"
Today nuget.exe loads msbuild at the start even if the user is restoring a project.json or packages.config file. These operations do not use MSBuild and block xplat scenarios.

[2016-01-21 22:36] analogrelay opened #1973 "Clean up NuGet3 XPlat Restore console output"
There are a few small tidy-up changes that should be made to the XPlat restore:
- [x] Don't return negative exit codes, they are bad on Unix (POSIX exit codes are expected unsigned integers between 0 and 255)
- [x] Catch exceptions at the Program.Main so they don't crash the process :)
- [x] Move most `info` spew down to `trace` level, so a "quieter" `info` level can be used as the default trace
-

[2016-01-21 22:47] #1899 closed, assigned to zhili1208

[2016-01-21 23:43] deadlydog commented on #1827
Hi guys, so I was seeing this problem again and brought up fiddler.  The new update that I just published showed up right away, but when trying to update I got the error.  After bringing up Fiddler and hitting the Update button again, VS was not making a connection attempt at all to NuGet; it would just report the error. I flipped my package source to my work's internal repo and saw it make connec

[2016-01-21 23:44] deadlydog commented on #1827
Um, not sure how I unassigned @feiling from this ticket when I added my comment, but I'm not able to reassign him...

[2016-01-21 23:53] yishaigalatzer commented on #1827
No problems, @feiling left so it is just a github quirk. We now understand this issue, and it makes total sense, caching is expected. We should move this issue out as a lower priority item and deal with busting caches in this case.

[2016-01-22 00:02] emgarten commented on #1955
tracked in https://github.com/NuGet/Home/issues/1973

[2016-01-22 00:02] #1955 closed, assigned to emgarten

[2016-01-22 00:04] emgarten commented on #1933
We should also display a restore summary

[2016-01-22 00:04] emgarten commented on #1933
this goes into commandline.xplat

[2016-01-22 00:52] johnataylor commented on #832
I just created a project and added a local package with a version number higher than what I'd previously uploaded to nuget.org.

Now running Update-Package says there are no updates available from nuget.org which is the correct response. So I'm closing this issue.

[2016-01-22 00:52] #832 closed

[2016-01-22 01:22] johnataylor commented on #1490
A clear message is now given on the command line in the most recent builds.

[2016-01-22 01:22] #1490 closed, assigned to johnataylor

[2016-01-22 01:41] johnataylor opened #1974 "version list is not populated when the installed package version not available from source"
The version list is not populated when the installed package version is not available from the particular source.

Scenario:
Local Source: A.1.0.0, A.2.0.0, A 3.0.0. A 4.0.0.
nuget.org/api/v2: A.1.0.0, A.2.0.0, A 3.0.0

Installed: A 4.0.0.

select source nuget.org/api/v2

Select the Installed tab.

Expected: version list shows A.1.0.0, A.2.0.0, A 3.0.0
Actual: version list is empty.

Examining the

[2016-01-22 06:00] emgarten commented on #1952
NuGet/NuGet.Client@b2817b42a847317cc273a316945d66867423bcd2

[2016-01-22 06:00] #1952 closed, assigned to emgarten

[2016-01-22 07:46] emgarten commented on #1914
Assembly name could be used for this.

[2016-01-22 08:38] paiden commented on #1816
I finally found the time to investigate the issue. It seems the problematic code is in NuGetPackageManager.cs around line 709.

[code]

The line

[code]

removes the valid packages from the list. Only a newer package that doesn't satisfy the constraint in my case 6.X.X.X is left and therefore causes the error.

So it seems 'PruneByUpdateConstraints' returns packages that don't satisfy the constrai

[2016-01-22 12:08] rmarinho opened #1975 "How to avoid having win81 references and .targets pulled to UAP on Nuget Client"
I m having troubles with this "feature", can i avoid it?

https://github.com/NuGet/NuGet.Client/blob/59b1a03d557f4f89a48ddd401704a6c60ed99dc8/src/NuGet.Core/NuGet.Frameworks/DefaultFrameworkMappings.cs#L299

IF i have specific assemblies and for example .targets and .props in \build\win81\x86 folder .. When i install the package on a Universal Windows project it references the stuff in win81, for

[2016-01-22 13:39] pete1208 commented on #1638
Yes I am working without errors

[2016-01-22 13:40] nkosi23 commented on #1638
Same here, this has been fixed

[2016-01-22 16:35] yishaigalatzer commented on #1638
Thanks for validating the fix. This bug was a mystery for a while. Huge thanks to @pete1208 for the help mailing/nailing down a repro

[2016-01-22 16:35] #1638 closed, assigned to nobody

[2016-01-22 17:32] emgarten opened #1976 "Investigate impact of .exe files in lib"
Determine how many packages include .exe files in the lib folder to see if it will impact UAP.

see: https://github.com/NuGet/NuGet.Client/pull/220

[2016-01-22 17:35] analogrelay commented on #1976
For the record, NuGet 2 actually already considered `.exe` as a valid reference when in `lib`. So this is really just bringing NuGet 3 in line with existing NuGet 2 behavior /cc @yishaigalatzer

https://github.com/NuGet/NuGet2/blob/2.11/src/Core/Packages/Constants.cs#L75

https://github.com/NuGet/NuGet2/blob/2.11/src/Core/Packages/LocalPackage.cs#L251

[2016-01-22 17:38] emgarten commented on #1975
Targets can be excluded on a per package basis. See: https://github.com/NuGet/Home/wiki/%5BSpec%5D-Managing-dependency-package-assets

It would look similar to this:

[code]

Note: this feature is only available in NuGet 3.3.0 (Visual Studio 2015 Update 1)

[2016-01-22 17:40] emgarten commented on #1976
NuGet 3 supports it also for packages.config scenarios. It's just project.json where .exe was excluded.

[2016-01-22 17:44] analogrelay commented on #1976
Sounds like this was a bug that needed fixing anyway then :)

[2016-01-22 18:44] johnataylor commented on #1903
regarding the problem @carolynvs reports.

I just installed: id="openstack.net" version="1.5.0.2" and then ran Update-Package from the NuGet Console. I'm not seeing a downgrade happen, so if you could send me more details of teh exact scenario that would be great. For example the packages.config would be a good start.

This is what I saw before and after executing Update-Package.

BEFORE

id="Flur

[2016-01-22 18:49] carolynvs commented on #1903
@johnataylor If you look at the screenshots in the original post, you'll see that I used the GUI, not the console and it only happens when updating multiple packages (openstack.net's 4 dependencies).

Here are the steps to reproduce:
1. Make a new console app.
2. Install-Package openstack.net -Version 1.5.0.2
3. From the NuGet GUI, notice that 4 packages have updates. Check select all and then cli

[2016-01-22 19:05] BrennanConroy commented on #1959
Just tried with build 517 and it looks to be fixed

[2016-01-22 19:05] BrennanConroy commented on #1960
Just tried with build 517 and it looks to be fixed

[2016-01-23 05:34] analogrelay opened #1977 "v3 Restore on Mac creating lots of NuGet.Configs"
Every time I run `dotnet restore`, I get a `Library/Application Support/NuGet/NuGet` folder created under the project directory for each project in the restore. This is obviously not ideal :). It should probably live somewhere under `~/`

/cc @yishaigalatzer @emgarten @davidfowl

[2016-01-23 07:20] yishaigalatzer commented on #1977
@zhili

[2016-01-23 09:00] davidfowl commented on #1973
Adding to this, only showing NotFound in the http request output is totally useless. It should match DNU with GET, and CACHE and the response times for each request. All of the important information is currently missing from the restore output.

[2016-01-23 15:37] clairernovotny opened #1978 "contentFiles BuildActionList missing Android and iOS for whitelist"
Android projects need special Build actions that are not on the whitelist:

https://github.com/NuGet/NuGet.Client/blob/3f009661481384c5afaeadc23beceed309bc5ad4/src/NuGet.Core/NuGet.Commands/ContentFiles/ContentFileUtils.cs#L56-L69

At a minimum they need:
- `AndroidAsset`
- `AndroidResource`

iOS apps also need:
- `BundleResource`

The fact that contentFiles uses a whitelist approach means that An

[2016-01-23 16:41] clairernovotny opened #1979 "Need way to specify item metadata on contentFiles"
Right now for contentFiles you can specify a buildAction and copyToOutput. Some content types require additional metadata to be set on the items.

For example, Page and ApplicationDefinition XAML items need the `Generator` metadata set to `MSBuild:Compile`. Xamarin Form's XAML pages need to be set as `EmbeddedResource` with their `Generator` set to `MSBuild:UpdateDesignTimeXaml`.

Many content typ

[2016-01-23 16:43] clairernovotny commented on #1978
Would be great to get this into 3.4 as this change alone should be very minor and fits the x-plat theme.

[2016-01-23 20:05] clairernovotny opened #1980 "App.xaml as contentFiles doesn't work"
I am trying to provide an App.xaml as a contentFile. When trying this though, despite the pp renames appearing to work, I get the following error:

[code]

This might be related to #1979 as this could be caused by a missing `<Generator>MSBuild:Compile</Generator>` on the `ApplicationDefinition` Item.

When I look at the `obj\debug\nuget\...\xunit.runner.devices\2.0.0-rc2-build0003\` dir, I do see

[2016-01-23 20:47] analogrelay commented on #1977
Brain dump ahead :)

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Common/NuGetEnvironment.cs#L71 needs some review.

### What they mean
- `ProgramFiles`/`ProgramFiles(x86)` - The location programs are installed to
- `UserProfile` - The root of the user's profile directory
- `CommonApplicationData` - **Machine-global** application data (`C:\ProgramData` on Windows). This is a

[2016-01-23 20:47] analogrelay commented on #1973
Ah, that makes sense... I was thinking "Wow... if it didn't find anything, how is the restore working?"

[2016-01-23 22:55] yishaigalatzer commented on #1977
I believe this is duplicating what glen already spec'd and zhi implemented (which is what I suspect introduced this bug). Can we go back to the original bug and did the requirements?

[2016-01-23 23:00] yishaigalatzer commented on #1977
Also the "paths" class exists in nuget.common package

[2016-01-23 23:37] emanov commented on #1542
You could use
npe.codeplex.com
to create nugget package with GUI

[2016-01-23 23:38] analogrelay commented on #1977
Cool, I was just noticing this in the late rush to get NuGet integrated and wanted to capture it somewhere. Feel free to dup this over some other bug if you've got one. The P0 change needed (preferably early next week) is to stop spewing the NuGet.Config files everywhere (specifically https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Common/NuGetEnvironment.cs#L99 needs to ensure

[2016-01-23 23:42] yishaigalatzer commented on #1977
Yup. I believe that's the bug introduced here. We just need to agree on the locations. I hear redhat might have them not 100% the same

[2016-01-24 00:01] analogrelay commented on #1977
Using `/etc` for machine-wide and `~/.nuget` for user-wide should be pretty standard across all non-Mac Unixes. Redhat might have other places you _could_ put the files, but I'd err on the side of the [FHS](https://en.wikipedia.org/wiki/Filesystem_Hierarchy_Standard) over individual distro patterns

[2016-01-24 00:47] emgarten opened #1981 "Global packages folder path is incorrect on kudu"
NuGetEnvironment uses _Environment.SpecialFolder.UserProfile_ which does not have a value on Kudu Consoles. This was previously fixed in SettingsUtility.

This fix (no longer exists):
https://github.com/NuGet/NuGet.Client/commit/381b6128d74cd51df82544b936533331452123a1#diff-f83497230965c941a0bf5e2d2ed13deeR151

Should be applied here:
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/N

[2016-01-24 00:49] emgarten commented on #1981
//cc @glennc who reported the issue

[2016-01-24 06:29] #1709 closed, assigned to nobody

[2016-01-24 14:29] tihomir-kit opened #1982 "Are breaking changes allowed in prerelease package versions?"
If you version your NuGet as a prerelease version (for example 0.9.9-alpha), are you then allowed to make breaking changes to the public API without having to bump up the Major version number?

According to the [documentation](https://docs.nuget.org/create/versioning), the Major version number is for breaking changes, but there is no info about how the prerelease behaves. I guess it's just a seman

[2016-01-24 14:31] sliekens opened #1983 "nuspec version range should override -IncludeReferencedProjects version"
The `ÌncludeReferencedProjects` option ignores version range restrictions in nuspec files.

I have a solution that contains two projects that need to be packaged: a master project and a referenced slave project.

![solution explorer](http://i.imgur.com/6nri2Xs.png)

The master project has a nuspec file that configures a dependency with a version restriction on the slave project.

<pre>
&lt;package

[2016-01-24 19:42] davidfowl commented on #1979
I don't see the benefit of supporting msbuild item metadata like this. Why not just use a .props file? The value of the `contentFiles` section is that other project systems (like the CLI) can consume things like this. If we support putting all of the msbuild metadata in there, it might as well be a props files.

[2016-01-24 19:45] borgdylan opened #1984 "Exception when running on mono"
Using the NuGet 3.4 beta packages on mono yields the exception:

[code]

Such exception hinders the real NuGet client from being used when implementing the dotnet-restore command of the dotnet cli.

[2016-01-24 20:05] emgarten commented on #1984
@borgdylan would provide some repro steps?

[2016-01-24 20:18] borgdylan commented on #1984
I ran a simple restore from a project.json. In packages with more than one target framework I also get key duplication errors. Is Nuget really meant to replace DNX's package restore?

[2016-01-24 20:20] emgarten commented on #1984
What build are you using? Can you share the project.json file?

[2016-01-24 20:23] borgdylan commented on #1984
I am using `3.4.0.517`.
This:

[code]

leads to the exception. Other project,json files yield to nuget hanging. It seems to try fetching a package ad infinitum even if there is no hope.

[2016-01-24 20:37] clairernovotny commented on #1979
One of the main reasons is that NuGet 3.x took away the ability to have content files in a nuget package. This broke many existing scenarios for package authors. `contentFiles` was supposed to restore that but it still leaves things broken, like the inability to put XAML content in a package and have it work correctly.

[2016-01-24 20:53] emgarten commented on #1984
How are you executing the restore? Is the restore running on mono, or it is just restoring for mono/net451?

Also what OS are you running on?

[2016-01-24 21:31] #1960 closed, assigned to emgarten

[2016-01-24 21:33] davidfowl commented on #1979
It's not a direct replacement for content. Why not use msbuild props?

[2016-01-24 21:33] phrohdoh commented on #1946
Relevant MSDN articles:

https://msdn.microsoft.com/en-us/library/microsoft.build.evaluation.project.aspx
https://msdn.microsoft.com/en-us/library/microsoft.build.evaluation.project.reevaluateifnecessary.aspx

[2016-01-24 21:34] clairernovotny commented on #1979
A props file alone isn't enough. We need the pp translation to have namespaces correct, something that a props file cannot do. I also need to ensure that they don't accidently change the source file as it'd be shared amongst all packages in the new nuget model. the contentFiles approach does this by applying the transform and putting a copy in the obj\NuGet dir.

[2016-01-24 21:42] phrohdoh commented on #1946
I did some poking around (with this diff) and got some verbose output, but it may not be of any help.

[code]

[code]

If I keep the `ReevaluateIfNecessary()` I always get:

[code]

[2016-01-24 21:47] clairernovotny commented on #1978
PR for this here: https://github.com/NuGet/NuGet.Client/pull/225

[2016-01-25 06:19] borgdylan commented on #1984
I am running restore on mono for Linux x86

[2016-01-25 06:36] davidfowl commented on #1977
This issue is pretty bad and needs to be fixed ASAP.

[2016-01-25 07:16] emgarten commented on #1984
Would you give me the exact steps you are using to run this and the command on mono?

[2016-01-25 07:48] emgarten commented on #1959
I am no longer able to repro the crash with the latest bits.

[2016-01-25 07:49] borgdylan commented on #1984
`mono NuGet.exe restore project.json`

[2016-01-25 07:50] emgarten commented on #1939
NuGet/NuGet.Client@f5a4c758a7d0fe28ef576236f4de36c342e6603b

[2016-01-25 07:50] #1939 closed, assigned to emgarten

[2016-01-25 07:53] emgarten commented on #1915
NuGet/NuGet.Client@f5a4c758a7d0fe28ef576236f4de36c342e6603b

Dependencies may now include a target property of package, project, or externalProject.

[2016-01-25 07:53] #1915 closed, assigned to emgarten

[2016-01-25 07:54] emgarten commented on #1927
NuGet/NuGet.Client@f5a4c758a7d0fe28ef576236f4de36c342e6603b

[2016-01-25 07:54] #1927 closed, assigned to emgarten

[2016-01-25 07:55] emgarten commented on #1700
NuGet/NuGet.Client@f5a4c758a7d0fe28ef576236f4de36c342e6603b

[2016-01-25 07:55] #1700 closed, assigned to emgarten

[2016-01-25 07:56] emgarten commented on #1701
NuGet/NuGet.Client@f5a4c758a7d0fe28ef576236f4de36c342e6603b

[2016-01-25 07:56] #1701 closed, assigned to emgarten

[2016-01-25 07:56] emgarten commented on #1917
NuGet/NuGet.Client@f5a4c758a7d0fe28ef576236f4de36c342e6603b

[2016-01-25 07:56] #1917 closed, assigned to emgarten

[2016-01-25 07:56] emgarten commented on #1918
NuGet/NuGet.Client@f5a4c758a7d0fe28ef576236f4de36c342e6603b

[2016-01-25 07:56] #1918 closed, assigned to emgarten

[2016-01-25 08:03] emgarten commented on #1929
NuGet/NuGet.Client@f5a4c758a7d0fe28ef576236f4de36c342e6603b

[2016-01-25 08:03] #1929 closed, assigned to emgarten

[2016-01-25 12:49] brgrz opened #1985 "NuGet pack doesn't work without specifying nuspec or project file"
Nuget pack used to work in 2.5 and 2.8 but after upgrading nuget.exe to 3.3 it now outputs this:

MSBuild auto-detection: using msbuild version '14.0' from 'C:\Program Files (x86)\MSBuild\14.0\bin'.
Please specify a nuspec or project file to use.

It should pick up the nuspec in the current directory. This change wasn't documented in release notes here https://docs.nuget.org/release-notes/nuget-3.

[2016-01-25 12:56] brgrz opened #1986 "The replacement token 'id' has no value"
Using the following nuspec

`<?xml version="1.0"?>
<package >
  <metadata>
    <id>$id$</id>
    <version>$version$</version>
    <title>$title$</title>
    <authors>$author$</authors>
    <owners>$author$</owners>
    <licenseUrl>http://localhost</licenseUrl>
    <projectUrl>http://localhost</projectUrl>
    <iconUrl>http://localhost</iconUrl>
    <requireLicenseAcceptance>false</requireLicenseAc

[2016-01-25 15:50] brgrz opened #1987 "VS 2015 Consolidate feature at solution level UX"
When using solution level consolidate feature in Visual Studio 2015 Update 1 the behaviour is as follows:
- if we have multiple packages to consolidate, select one then select the checkboxes for the desired projects for which to consolidate on the right side of the window,
- hit Install and it will update the packages across projects,
- then switch to another package within the list and the previo

[2016-01-25 16:00] csharpfritz commented on #1987
What makes a project "totally irrelevant"?  That's a very opinionated
statement.

I could see a discussion around clearing or marking all checkboxes when
selecting new packages.  However, in this case it allows you to bring a new
project in a solution up to pace with the correct version of packages that
are already in use in other projects.

Is that the best use of this functionality?  Perhaps not

[2016-01-25 16:59] csharpfritz commented on #1986
What was the full syntax of the pack command that you were issuing?

[2016-01-25 18:34] xavierdecoster commented on #1951
@yishaigalatzer there's no single ILogger interface that works for both Visual Studio, commandline and PowerShell console host, making it impossible (in its current state) to require a logger instance in the protocol's resources that works for all. I think we need to unify/consolidate the different loggers first before we can force the requirement in the down-level APIs.

Currently, there's at lea

[2016-01-25 18:40] yishaigalatzer commented on #1987
I believe we fixed this one already in 3.4. Assigning to @RanjiniM to validate

[2016-01-25 18:41] yishaigalatzer commented on #1987
BTW the original design was to keep the projects list checked so when you switch between projects (assuming say you removed one project, we don't auto select it for you again, we realized a bit late that it is not the super common path)

[2016-01-25 21:18] ericstj commented on #1418
Over the past week a lot of folks have moved from using DNX to NuGet in the dotnet CLI and this issue has come up a lot.  @yishaigalatzer can you please prioritize a fix?

[2016-01-25 21:59] emgarten commented on #1975
@rmarinho did this solve your issue?

[2016-01-25 22:01] emgarten commented on #1973
NuGet/NuGet.Client@6fbfa2294cf277abfa0f2b659956ec6f6119da2f

[2016-01-25 22:51] rmarinho commented on #1975
hey @emgarten i worked around the issue by making sure (add an extra condition) that the contents of my .props and .targets file only executed when in the proper platform win81 .. something like this:
 `('$(TargetPlatformIdentifier)' == 'Windows')`

[code]

[2016-01-25 23:56] #1977 closed, assigned to zhili1208

[2016-01-26 01:09] emgarten commented on #1723
NuGet now writes v2 lock files

[2016-01-26 01:09] #1723 closed, assigned to emgarten

[2016-01-26 01:10] yishaigalatzer commented on #1984
Can you share your project,json?

Also nuget.exe restore for dnx style project is NOT something we are testing or targeting like I mentioned in our other discussion. This would be something you either run from the .net CLI or from windows (at this point at least),

[2016-01-26 01:10] emgarten commented on #1749
@ericstj how does this fit with netstandard?

[2016-01-26 01:12] yishaigalatzer commented on #1985
@csharpfritz would you mind documenting this for now. This seems like a good catch, but a low pri. We'd take a fix if someone wants to contribute one

[2016-01-26 01:13] yishaigalatzer commented on #1983
Good catch, I don't see us jumping on this right away, so moving to vNext and marking as up for grabs

[2016-01-26 01:15] pspill commented on #1406
On machines with small c: drives, the global-packages folder can become an issue.  We are currently seeing build machines with small c: drives and large d: drives running out of space over the course of a month.

[2016-01-26 01:18] yishaigalatzer commented on #1982
This seems like a good question for somewhere like stackoverflow. The discussion is of course theoretical, but in general you should be able to break between pre-releases to your hearts content. Pre-releases are all about: I haven't made up my mind 100% and I'm not ready to commit to anything.

Now at the same time, this is where you carefully choose Alfa, Beta, RC, etc tags to indicate the maturi

[2016-01-26 01:18] #1982 closed, assigned to nobody

[2016-01-26 01:22] yishaigalatzer commented on #1980
Did you define the build action as `ApplicationDefinition` ? It's hard to tell from the report (I'm assuming you did).

Assuming the root cause is the build task - Assigning to CC @jasonmalinowski

Aside - It is kinda weird to include an app.xaml as part of contentfiles given that it is current immutable.

[2016-01-26 01:25] yishaigalatzer commented on #1979
Sounds like something we can discuss a design for. `ContentFiles` is not intended to solve every single scenario, but we could look at what extra feature we want to light up.

The key here is that contentfiles is not a way to define msbuild properties, but a generic way to define build actions so things can compile in different build systems.

In general this is something I think the build task ca

[2016-01-26 01:30] #1230 closed, assigned to yishaigalatzer

[2016-01-26 01:30] clairernovotny commented on #1980
Yes, I did.

I have a reason for including it -- it's for the xUnit device runner where it's provided:

https://github.com/xunit/devices.xunit/tree/master/src/xunit.runner.uwp/NuGet

The idea is that user creates new app, adds xunit device runner, deleted existing app.xaml and is all ready to go.

If they need additional customization, it's enabled with a partial method in a partial class.

[2016-01-26 01:32] yishaigalatzer commented on #1978
Does the xamarin project system support project.json ?

[2016-01-26 01:34] yishaigalatzer commented on #1406
@pspill you can configure the global packages folder using NUGET_PACKAGES environment variable. We also support the nuget locals -clear command to automatically do periodic maintenance

[2016-01-26 01:37] clairernovotny commented on #1978
It does in VS. I successfully use MonoAndroid,v6.0 and MonoTouch,v1.0 and  Xamarin.iOS,v1.0 here:

https://github.com/xunit/devices.xunit/tree/master/src

Look at the Xamarin projects, they're all project.json based.

Xamarin Studio does not support it yet but I know they're working on it now that the targets/tasks are public.

[2016-01-26 02:14] yishaigalatzer commented on #1978
I think this requires a bit more thought. At this point we are allowing arbitrary actions and we need to figure out how we communicate to the users what is being picked up what is not and how to suppress warnings

[2016-01-26 02:17] clairernovotny commented on #1978
What is this whitelist for then? I just stumbled across it and thought that the Xamarin stuff could be added. I haven't tried it, but you're saying that I can already do this?

[2016-01-26 02:17] jasonmalinowski commented on #1980
@onovotny, can you provide a full build log of the project with /v:diag passed to MSBuild?

[2016-01-26 02:20] yishaigalatzer commented on #1978
No I'm not saying that. I'm saying that if your add more stuff to the list it becomes arbitrary and hence it needs more thought.

When it comes to submitting a pull request, we really expect you to test the scenario end to end and cover it with a functional test if possible.

[2016-01-26 02:25] clairernovotny commented on #1978
How should this be tested? It's not exactly easy to build this stuff locally :) This is basic use of buildAction, nothing fancy. These item types do not even require metadata (unlike Page and ApplicationDefinition, which are causing issues in the other thread).

The Xamarin targets simply need these resource types this way to "do their thing."

What is the reasoning for putting a whitelist to begi

[2016-01-26 02:35] yishaigalatzer commented on #1978
First: It is extremely easy to build locally. Type build.ps1 - done.

Test - f5

Second - the white list was put for things we tested or things we thought make sense. Looking at it or seems too open. I'm concerned with package owners and users producing/consuming packages that don't work without any warnings or way to diagnose. Project.json is supporting a narrow set of targets at the moment and e

[2016-01-26 06:12] emgarten commented on #966
I'm no longer able to repro this bug using the current dev branch build. The lock file generated for App7 is the same with and without a reference to `"Microsoft.NETCore": "5.0.0"`

[2016-01-26 07:10] emgarten opened #1988 "Basic auth support for core clr"
Add basic authentication support for core clr.

related: https://github.com/NuGet/Home/issues/1858

[2016-01-26 07:20] emgarten opened #1989 "Pack command for xplat"
Port the existing pack command along with the DNU code for creating OPC files to nuget xplat.

[2016-01-26 07:20] emgarten opened #1990 "List command for xplat"
Add support for the nuget.exe list command in xplat

[2016-01-26 07:21] emgarten opened #1991 "Clear command for xplat"
Add support for the current nuget.exe clear command in xplat.

[2016-01-26 07:21] emgarten opened #1992 "Push command for xplat"
Add support for the current nuget.exe push command in xplat.

[2016-01-26 07:23] emgarten opened #1993 "ProjectModel support for reading and writing lock file and project.json files"
Add full support for the ProjectModel apis in NuGet. Currently the libraries from DNU are being used by DNX for this.

[2016-01-26 07:51] emgarten opened #1994 "Add support for parallel restore in xplat"
nuget.exe runs multiple project.json restores in parallel. Support for this should be added to the xplat command line to improve restore times on large repos.

[2016-01-26 07:53] emgarten opened #1995 "Lock mutex clean up"
The current file based locking mechanism leaves behind temp files on disk. They should be cleaned up after in a way that does not affect perf.

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Common/ConcurrencyUtilities.cs#L34

[2016-01-26 08:02] borgdylan commented on #1984
My project.json has been been shared above. Also, the .NET CLI has switched to shelling to NuGet for restore. If NuGet is not ready for DNX style restore, then the .NET CLI should revert back to shelling to DNX for restore. My issues arise because of their change since teh "NuGet.CommandLine.XPlat" package exhibits the same exceptions when used with more than one target framework which is common f

[2016-01-26 09:20] tihomir-kit commented on #1982
I know it's for stackoverflow, sorry. But I asked there and didn't receive an answer.. Thanks.

[2016-01-26 09:56] brgrz commented on #1987
Yeah I agree it is more common consolidating the existing projects rather than bringing new ones up to date with packages. As I described it is all the way most software works when switching between unrelated options which packages on the left side in that dialog often are.

[2016-01-26 10:33] brgrz commented on #1985
How's this low priority? Pack is core feature. I tried to run it with specifying the .nuspec file and it resulted in https://github.com/NuGet/Home/issues/1986

I did no code changes whatsoever just upgraded nuget.exe from 2.8.6 to 3.3.0.212

[2016-01-26 10:36] brgrz commented on #1986
`nuget pack mypackage.nuspec -Prop Configuration=Release -Symbols -outputdirectory "..\..\nuget"`

it results in:

MSBuild auto-detection: using msbuild version '14.0' from 'C:\Program Files (x86)\MSBuild\14.0\bin'.
Attempting to build package from 'mypackage.nuspec'.
The replacement token 'id' has no value.

Works fine if I use nuget.exe 2.8.6 for packing.

[2016-01-26 10:39] brgrz commented on #1986
As a workaround, I now have the new nuget.exe in path and the old one in a separate folder elsewhere but I'm now required to update the calls to nuget.exe with the path to the old one across multiple projects (I have this in Post Build steps).

[2016-01-26 14:40] yishaigalatzer commented on #1985
Low priority because you can specify it, and you will be unblocked.

[2016-01-26 14:45] yishaigalatzer commented on #1984
The cli is a place where we are integrating nuget and will keep improving it. However it is not planned to support mono at the moment with the cli

[2016-01-26 15:01] McMlok opened #1996 "Strange error description when updating package"
Hello,

My situation: Project with two nugget. NugetA and NugetB. NugetA have dependency to NugetB. In my project is installed version 1 of these nugets. But on nugget server are version 2. But when I try to update with option Dependency behavior set to Ignore Dependencies I get error with only text "available" but when I set dependency to Highest update succeeded. Problem is only in text of error

[2016-01-26 15:01] ericstj commented on #1749
It fits with NETStandard just fine.  Gaurdrails are still an option for NETStandard projects.  It's less mainstream though.  The plan for NETStandard is the default behavior will be for the compat check to only look at the NETStandard graph (RID-less graph) for its compat check.  If that fails then a library author can add gaurdrails to constrain to specific platforms.

[2016-01-26 15:16] RichardSilveira commented on #1448
To solve this issue, use the command "dotnet restore" from CMD using DOTNet CLI.
download in http://dotnet.github.io/getting-started/
From visual studio does not work =\

[2016-01-26 16:08] borgdylan commented on #1984
The packages do have dnx451 binaries and I think they should support mono since coreclr does not do normal x86 at the moment. That is why I ported the cli to run on mono.

[2016-01-26 17:05] yishaigalatzer commented on #1984
If only mono was working the same as desktop life would be beautiful. I'm open to taking pull requests on nuget for this if you want to support it, but I have no developers available to invest in this at the moment

[2016-01-26 18:06] joelverhagen commented on #1973
Addressed the third item about too much default noise (see https://github.com/NuGet/NuGet.Client/pull/229). In particular:

[2016-01-26 18:31] borgdylan commented on #1984
If the source can be built no problem under mono I could see what causes the issues for teh xplat cli dll and fix it.

[2016-01-26 18:35] borgdylan commented on #1984
The first thing I would do is to add net451 as a target to NuGet.CommandLine.XPlat, to make building the .NET cli for mono easier (targets net451). See https://github.com/borgdylan/dotnet-cli for the code that I had working.

[2016-01-26 19:49] pranavkm commented on #77
Merged in https://github.com/NuGet/NuGet.Client/commit/960426fa423e9ba09d24758d109ae21bc9d2c168

[2016-01-26 19:49] #77 closed

[2016-01-26 19:55] emgarten commented on #1418
nuget/nuget.client@cc6ddc6928a59fd1ee9bd8c5870600706efa035d

Packages rejected during resolution were being merged in as part of the runtime.json walk. This fix checks the node disposition and skips over the rejected nodes.

[2016-01-26 19:55] #1418 closed, assigned to emgarten

[2016-01-26 21:01] yishaigalatzer commented on #1996
Can you please share more specific details on what packages, your nuget.config and the exact command you are running.

Also are you running on nuget 3.3?

[2016-01-26 21:03] yishaigalatzer commented on #1986
You can also provide the Property for the id in the command. Where did it come from in 2.8.6?

[2016-01-26 21:22] emgarten commented on #1984
@borgdylan what code are you executing here? NuGet.exe or NuGet.CommandLine.XPlat?

[2016-01-26 22:22] urbas opened #1997 ""nuget pack" ignores files in dot-prefixed directories when listed in nuspec"
Version of NuGet affected: `3.3.0.212`

Here's what goes wrong:

[code]

`Foo.nuspec` content:

[code]

Explanation: the `.Foo/Foo.dll` file is ignored and nuget thinks the package is empty.

Expected result: a valid nupkg should have been created with `Foo.dll` being in the package.

[2016-01-26 22:28] natemcmaster commented on #1959
I am still seeing this issue on Linux when attempting to restore on EntityFramework on "src/Microsoft.EntityFrameworkCore.Sqlite"

dotnet cli  1.0.1.001022

[2016-01-26 22:46] forderud opened #1998 "PackageManagement.UI.Test fail on computers with ',' as decimal separator"
NuGet does not seem to deal gracefully with differences in locale settings. The PackageManagement.UI.Test fail on my computer with Norwegian locale (',' used as decimal separator).

Setup:
- Windows 10 x64.
- Building NuGet.Client "dev" branch from GIT commit 960426fa423e9ba09d24758d109ae21bc9d2c168 (latest as of 2016-01-16).

Output when running build.ps1:

[code]

[2016-01-26 22:51] brgrz commented on #1986
From the assembly I guess. It's in the docs, you know? The token replacements in nuspec..

[2016-01-27 00:36] dbeukers opened #1999 "NuGet packages not updated during scripted build"
I am working on a VisualStudio 2013 project that uses several NuGet packages. If I check out this project and build from the GUI, the packages are restored. If I try to script the build (same command line, but adding a "/build Release" argument), the restore does not happen. Is this a problem with the NuGet extension, VisualStudio itself, or what?

[2016-01-27 01:09] clairernovotny commented on #1978
I can buy the argument that this needs to be thought through on a general level, but at the very least three specific item types I mentioned initially fit the theme and original intent. They enable resources that are part of a NuPkg to be used in an immutable read-only fashion by the system.

It's just that Android and iOS require something other than `EmbeddedResource` to work.

Without these, it

[2016-01-27 01:25] yishaigalatzer commented on #1978
In general Xamarin projects are not tested, nor supported by anyone, and taking in things that make it look like it is, is really concerning to me. I see your point though, so I'd like to think more about the design.

But first I would start with testing it, then we can talk further.

[2016-01-27 03:27] chucklu commented on #1815
I encounter this problem in C# project
I tried to use NuGet,using NuGet Package Explorer
then I get this file .nupkg

but now, I do not want to use NuGet,
and I have deleted the .nupkg file
when I try to build the project

I get this wrong info "Solution is not saved. Please save your solution before managing NuGet package."
actually,I think this project have nothing to do with NuGet

[2016-01-27 03:32] grahamtodd commented on #1291
Do we have any idea when this might be addressed?  I was in the midst of trying to migrate our c++ projects across to TeamCity and publishing/consuming nuget packages, and this issue kind of fundamentally breaks things.

[2016-01-27 03:41] yishaigalatzer commented on #1291
Unfortunately not :( we are locked into many other items. Would gladly take a pr for this

[2016-01-27 03:43] yishaigalatzer commented on #1815
Don't forget to delete the packages.config and remove the references

Sent from my Windows Phone

---

From: Chuck Lumailto:notifications@github.com
Sent: ‎1/‎26/‎2016 7:27 PM
To: NuGet/Homemailto:Home@noreply.github.com
Cc: Yishai Galatzermailto:yigalatz@microsoft.com
Subject: Re: [Home] C++ project getting 'Solution is not saved. Please save your solution before managing NuGet package' (#1815)

[2016-01-27 04:05] phrohdoh commented on #1946
I think I've found part of the reason that files are not found even though the `<files>` entry does exist.

Do note that this is calling `pack` on the `nuspec` instead of the `csproj`.

[code]

The interesting bits are:

[code]

This is searching in `~/projects/openra/mods/common` for `^/mods/common/*.dll$` which of course won't exist.

I'm not sure how to modify this line into what I am after:
`R

[2016-01-27 05:05] danroth27 opened #2000 "Improve error message when incorrect feed URL used in NuGet.Config"
If you try a restore with a bad feed URL the `dotnet restore` command tells you there was a 404, but it doesn't tell you which URL the request was made to.

NuGet.Config:

[code]

project.json:

[code]

Output:

[code]

[2016-01-27 05:09] chucklu commented on #1815
@yishaigalatzer there is no packages.config under my project
I have a class library,I try to publish this dll to local
and I can not make it,so I do not want to use NuGet

Is there something to do to remove the warning info

[2016-01-27 05:15] yishaigalatzer commented on #1815
Can you try closing the solution and verifying you are on nuget 3.3 and that there is no packages.config and your solution is saved?

[2016-01-27 05:25] chucklu commented on #1815
I uninstalled the NuGet,then the warning disappeared

what's  the difference between NuGet Package Explorer and NuGet in VS2015(Extension and Updates)

[2016-01-27 05:34] chucklu commented on #1815
try to reinstall the NuGet in VS2015，Under Tools-->Extension and Updates
rebuild the project again,
I still get the same warning info

why?I just want to build my own project,

[2016-01-27 05:38] yishaigalatzer commented on #1815
Can you share the file list under your solution?

[2016-01-27 05:47] chucklu commented on #1815
$ ls -al
total 13
drwxr-xr-x   13 Administ Administ     4096 Jan 27 11:04 .
drwxr-xr-x   17 Administ Administ     4096 Jan 27 10:32 ..
-rw-r--r--    1 Administ Administ       36 Jan 26 16:03 .gitignore
drwxr-xr-x    3 Administ Administ        0 Jan 27 10:33 .vs
-rw-r--r--    1 Administ Administ     2454 Jan 26 16:54 ExceptionLog.cs
-rw-r--r--    1 Administ Administ     3121 Jan 26 16:54 FileLog.cs

[2016-01-27 05:55] yishaigalatzer commented on #1815
That doesn't look like windows, c++ or a solution level file list can you elaborate?

[2016-01-27 06:12] chucklu commented on #1815
it's C# project，there is no solution
just a single project

[2016-01-27 06:14] yishaigalatzer commented on #1815
I believe this bug was fixed in the next release. For now save a solution file to work around the issue

[2016-01-27 06:15] chucklu commented on #1815
ok,thank you

[2016-01-27 06:21] borgdylan commented on #1984
I executed Nuget.exe. However for project.json stuff it would suffice to get either one working.

[2016-01-27 06:25] yishaigalatzer commented on #1984
Dylan will really help nail down the exact scenarios your are tackling.

When you say the cli this means a completely different code base. When your use nuget.exe you need to specify what version, and what build.

Can you help us by rewinding and missing our all the exact details?

[2016-01-27 06:29] borgdylan commented on #1984
I was using Nuget.exe 3.4.0.517.

[2016-01-27 06:31] yishaigalatzer commented on #1984
And did you get the exception from the cli or nuget.exe ?

[2016-01-27 06:32] borgdylan commented on #1984
Both

[2016-01-27 07:54] McMlok commented on #1996
OK,

I'm using VS 2015 Update 1, Nuget Manager 3.3.0.167.

It don't depend on specified nugget because I try Microsoft.Data.OData 5.7.0 from nugget.org and our Nuget from our shared folder.

Package manager output
Attempting to gather dependencies information for multiple packages with respect to project 'MyProjectX', targeting '.NETFramework,Version=v4.5'
Attempting to resolve dependencies for mu

[2016-01-27 13:08] phrohdoh commented on #1946
After a bit more investigation I've discovered that `searchPath` is causing the issue noted above because it starts with `/` which is my `Path.DirectorySeparatorChar` meaning `Path.Combine` simply returns `searchPath` without doing any actual concatenation.

I have a (heavily butchered) git state for `NuGet/NuGet2` that I can push if anyone thinks I am down the right path for submitting a fix.

[2016-01-27 14:24] yishaigalatzer commented on #1946
Cool, push a pr mark it for feedback only in the comments and add a failing test

[2016-01-27 14:27] yishaigalatzer commented on #1996
Can you share your initial dependencies or your packages.config so we can try to reproduce

[2016-01-27 15:24] clairernovotny opened #2001 "TargetPath not set correctly for contentFiles"
When trying to use contentFiles with UWP project, the files were not copied to the expected subdirectory.

Here's the nuspec:
https://gist.github.com/onovotny/5d007fd323a8393412b9

I expected Doc2.txt to be in the `AppX\Resources\Doc2.txt` directory. Instead, it was in `AppX\Doc2.txt`

Looking at a diagnostic build, it seems like the TargetPath metadata was not set correctly:

[code]

[2016-01-27 15:50] clairernovotny commented on #1978
I tested this as you can see here:
https://gist.github.com/onovotny/5d007fd323a8393412b9

It worked _prima facie_, but it uncovered another issue in that additional changes are required in the Android tasks for determining the correct output directory. That said, not blocking it is a necessary first step before the other build tasks can be fixed.

As far as NuGet should be concerned, it did add ad

[2016-01-27 18:23] borgdylan commented on #1984
If I am not mistaken the CLI detects mono and force one http request at any given time. I do not observe this in practice when I run with -p 1 and -v Debug.

[2016-01-27 18:47] epicbugs opened #2002 "A way to have automatic notifications of package updates"
As a member of a team that develops some tools using Nuget packages from Microsoft, I have a requirement to not only keep the installed packages on bleeding edge but also to have some advance notice to new releases (by being aware of release candidates as they roll out). Unfortunately the only way to accomplish that in Visual Studio is to manually open Package Manager every once and a while. Not o

[2016-01-27 18:58] borgdylan commented on #1984
After hacking around with mono i.e. setting an env var that DNX used to set I arrive at an exception rather than a hang.

[code]

[2016-01-27 19:17] borgdylan commented on #1984
@yishaigalatzer I tried to build parts of teh nuget clients repo but I failed since the preprocess fails to build with "Microsoft.CodeAnalysis" not being available in the compile module source file.

[2016-01-27 19:58] EgorBo opened #2003 "Nuget doesn't remove <Import/> from previous version when updating"
Hello,
Visual Studio 2015 Community Update 1
Nuget 3.3.0

Steps:
1) Clone repository https://github.com/xamarin/urho-samples for commit 2e89a2e
2) Open SamplyGame\SamplyGame.sln
2) Open Manage Packages for Solution. "Installed" tab and select "UrhoSharp"
3) Choose 1.0.307 in "Version" combobox and hit "Install".

Log says it removes previous version (1.0.267) but when you open any csproj (e.g. Sam

[2016-01-27 20:24] emgarten commented on #1984
NuGet cannot be built with the CLI yet, only DNX.

What env var is that?

[2016-01-27 20:45] zhili1208 opened #2004 "dotnet-restore Too many open files on Mac"
went through all stream in NuGet, Did not find any leak, set the concurrency request number to 64, but it still doesn't work. need to look into this issue deeply.

[2016-01-27 20:51] moozzyk commented on #2004
Repro steps:
1. Clone the https://github.com/aspnet/SignalR-SqlServer
2. Switch to pawelka/dotnet branch
3. Run ./build.sh

[code]

[2016-01-27 21:02] #2003 closed, assigned to nobody

[2016-01-27 22:20] joelverhagen commented on #1981
Fixed with https://github.com/NuGet/NuGet.Client/issues/232.

[2016-01-27 22:20] #1981 closed, assigned to joelverhagen

[2016-01-27 22:39] grahamtodd commented on #1291
Pardon my ignorance.  What is a pr?

[2016-01-27 22:40] yishaigalatzer commented on #1291
Pull request.

[2016-01-28 08:31] borgdylan commented on #1984
I set `MONO_THREADS_PER_CPU` to `50`. In my case I also passed -p1 to the CLI.  I think the exception is being caused by a stale NuGet cache. This can also happen on Windows machines with prior NuGet versions. Later I will try clearing the and see if the issue persists. I'd rather not have to change the code since I cannot get it to build.

[2016-01-28 08:33] sandersaares opened #2005 "NuGet.Server crashing with null reference exception on startup"
I tried setting up an install of the NuGet.Server package but after initially working, I find that after a few days it started crashing on every request. Unknown what the cause of this might be but below is the exception that I see in the logs (slightly censored).

Using NuGet.Server 2.10.0-master-0002. Hosting as an Azure Web App.

I have verified that the packages directory exists and contains d

[2016-01-28 10:06] maartenba commented on #2005
@sandersaares Can you try uninstalling NuGet.Server 2.10.0-master-0002 and then install the following package and see if this resolves the issue?

`Install-Package NuGet.Server -Version 2.10.0-dev-0003 -Source https://www.myget.org/F/nugetbuild/api/v2`

[2016-01-28 11:16] sandersaares commented on #2005
Alright, will give it a shot. It took some days for the error to occur, so I'll report back next week.

[2016-01-28 11:17] maartenba commented on #2005
Thanks @sandersaares !

[2016-01-28 12:53] Heinzelemente opened #2006 "NuGet Package Manager is very slow offline"
Hello Nuget Team,
I am working ALWAYS offline and the NuGet-Paket-Manager is so slow with Visual Studio 2015 V14.0.23107.0.
It takes 10 - 20 seconds everytime I click on a package (offline folder).
How can I find out what the problem is? It is unusable.
Best regard,
Alex

[2016-01-28 16:18] McMlok commented on #1996
I did sample [project](https://github.com/McMlok/NugetManagerUpdateTest)

[2016-01-28 17:01] yishaigalatzer commented on #2006
Hey Alex,

There could be a few underlying issues, its hard to tell from your report.
1. We are tracking an issue where when you are truly offline, the image links in the icons might be hitting the network and blocking. (You can validate that by using fiddler)
2. If your offline folder is relatively large you might want to consider following the guidance on one of the two blogs we shared (one for

[2016-01-28 17:08] yishaigalatzer commented on #2002
This does belong in the gallery. We are planning to support notifications long term (through a push notification).

To give you a way to get all versions of a package (or latest) you can use this sample (from the V3 API, you get by installing nuget.protocol.v3 package)

[code]

[2016-01-28 17:08] #2002 closed, assigned to nobody

[2016-01-28 17:52] muratg commented on #2004
I hit this with basic HelloWeb sample on OS X 10.10.5

[2016-01-28 18:15] analogrelay opened #2007 "Don't allow floating versions to consider the shared packages location"
Right now, if I remember correctly, NuGet3 restore uses the shared packages location (`~/.nuget/packages`) as a feed. This is good for perf, but bad behavior in general because it means you have a package source that is variable based on other projects. There is a long-standing issue with `*` where if another project restores a higher version from a **different** feed to the packages location, you

[2016-01-28 18:16] analogrelay commented on #2007
Side note: This would mean `*` would actually behave the way users expect it to behave...

[2016-01-28 19:07] johnataylor commented on #1996
This looks like more than just a bug in the message text.

When I try this from the UI - selecting a specific package and then IgnoreDependencies from the drop down it does the update but when I use the PowerShell prompt it gives the error "available."

The behavior is inconsistent. However, if we do decide to keep the existing command prompt behavior we should at least improve this error message.

[2016-01-28 21:13] raulramaya opened #2008 "Specifying Configuration (Debug/Release) not possible with Nuget Update"
Applies to version 2.8.5

When Nuget Update is run, it will place the updated reference outside of any configuration block which means that all configurations will take the update by default.

Example:

Before running Nuget Update`

[code]

After running Nuget Update

[code]

The result, in example above, is both the `ProjRef`and `Release` configs pick up the reference placed by Nuget Update.

I w

[2016-01-28 21:13] #1799 closed, assigned to nobody

[2016-01-28 21:49] emgarten commented on #1998
NuGet/NuGet.Client@43e97af05d2a77aa018425ab26a8b86a2b1e90d4

[2016-01-28 21:49] #1998 closed, assigned to nobody

[2016-01-28 21:49] forderud commented on #1998
Fixed by PR #243.

[2016-01-28 21:57] jasonmalinowski opened #2009 "Build task should copy PDBs from both packages and xproj projects"
The build task, when computing assets, should include PDBs along with the implementations. This is necessary for a few scenarios:
1. .NET Native, where you want the PDBs so you can debug the resulting ahead-of-time compiled application.
2. csproj -> xproj, where you would expect the PDB to get copied along like a regular csproj -> csproj reference would do.

(This is a copy of an internal bug orig

[2016-01-28 22:34] yishaigalatzer commented on #2008
Consider moving your projects to a project.json model, where nuget.exe update might no longer be required for CI scenarios.

This is however good feedback, and we should find the time too look into it. I'm opening this up for folks that might want to submit a pull request.

[2016-01-28 22:35] yishaigalatzer commented on #2006
CC @zhili1208

[2016-01-28 22:37] yishaigalatzer commented on #868
@zhili1208 the fix here, is to not save settings back to disk if the values of a file is exactly the same.

[2016-01-28 22:39] yishaigalatzer commented on #1773
Duplicate of #1114

[2016-01-28 22:39] #1773 closed, assigned to zhili1208

[2016-01-28 22:39] konste commented on #868
Phew! Finally!

[2016-01-28 22:42] yishaigalatzer commented on #1916
CC @davidfowl, lets discuss the design here today and make a call.

[2016-01-28 22:42] yishaigalatzer commented on #1916
e.g. Should we have a --offline mode?

[2016-01-28 22:44] #1572 closed, assigned to zhili1208

[2016-01-29 00:12] vtbassmatt opened #2010 "When authentication fails, it's difficult to diagnose and fix"
When using NuGet against Team Services-hosted private feeds, if the identity is valid but not authorized to use the feed (either to restore or push), the client reports "unable to prompt for input". It would help with troubleshooting if the client reported that the action was denied, or even surfaced the HTTP status code, in addition to the "unable to prompt" message.

[2016-01-29 00:15] csharpfritz commented on #1916
I think there is enough customer feedback for NuGet to indicate that we
should not fail when a package source is unreachable, and we should report
it in the output as a warning.

I like the idea of a command-line switch or configuration option that
indicates that NuGet should fail if it cannot reach a package source, the
opposite of an --offline switch.

[2016-01-29 00:23] yishaigalatzer commented on #1916
@csharpfritz in project.json restore, the results would vary based on feeds availability so although I get the feedback, the default should guarantee that the results are accurate.

There is an existing flag on DNU called ignorefailedsources, it is a bit different than -offline and we should probably go with that

[2016-01-29 00:31] csharpfritz commented on #1916
Agreed that results delivered could vary based on feed availability, but we
currently have no mechanism that records which feed a package is delivered
by.  It would be great to be able to say, "Package A was not updated
because Source Z was inaccessible" because just reporting "Package A was
restored" when it was updated from Source Y would be a bad thing.

This would be a behavior change for NuGe

[2016-01-29 01:18] emgarten opened #2011 "Support relative global folder paths in xplat"
Xplat does not find the effective folder path in the same way that nuget.exe finds it for the global packages folder.

This should be fixed when nuget.exe restore and xplat restore are combined.

[2016-01-29 01:32] davidfowl commented on #2007
This change was only in dnu and never ported to nuget, proof:
- https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.DependencyResolver.Core/Remote/RemoteDependencyWalker.cs#L456
-  https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Dnx.Tooling/Restore/RestoreOperations.cs#L201

[2016-01-29 01:32] #2007 closed, assigned to nobody

[2016-01-29 02:14] emgarten commented on #1959
NuGet/NuGet.Client@aae23452ba3689bb453a9f95926d765c5aa8bfe4

I've checked in a fix for this. System.Linq 4.0.0 was conflicting with the framework reference to System.Linq 4.0.0. The fix adds additional type checking for this scenario.

[2016-01-29 02:14] #1959 closed, assigned to emgarten

[2016-01-29 02:56] johnkoerner opened #2012 "Provide a Better Error Message When Unable to Write to Nuget.Config"
When using a version control system that makes files readonly, if you modify the nuget settings in the Visual Studio options dialog with the file marked readonly, you receive the following error:

![image](https://cloud.githubusercontent.com/assets/3915000/12665879/2a2aa95a-c609-11e5-814a-2f92da68783c.png)

This error message does not indicate the path of the Nuget.Config file that causing the exc

[2016-01-29 12:48] Heinzelemente commented on #2006
Hey Yishai,

My offline folder is very very small (only 5 – 10 packages), so I assume that the issue is more related to option one.
The vm is definitely offline. I can try to monitor the network traffic with wireshark, but I do not know where to look at.

I will install the VS 2015 Update 1 in advanced.

Best regards,
Alex

[2016-01-29 15:13] christopheblin opened #2013 "nuget.exe update -Id not working when project has not restored packages ?"
Try to do the following in a not compiled solution, replacing xxx with one of your packages :

[code]

You will always have the result :

[code]

Obviously, I use that command with a package that is specified in my packages.config.

I look at the source code and find a strange thing in UpdateCommand.cs

[code]

The problem here is that the packages variable does not contain "xxx" (whereas my packa

[2016-01-29 15:22] christopheblin opened #2014 "nuget.exe update -source path_to_harddrive does not work ?"
Try to do the following after you build your project (cf #2013 otherwise) :

[code]

Ensure that your xxx package needs an update and that your local hard drive contains it.

For me, the example is

packages.config

[code]

c:\mynuget contains Framework.Database.1.4.0.0.nupkg

The result is that no update is done.

I look at the source code and trace it down to ProjectManager.cs

[code]

The probl

[2016-01-29 15:31] christopheblin commented on #2014
Please note that this is true for nuget 2.8.6 but not for 3.3.0

[2016-01-29 15:31] christopheblin commented on #2013
Please note that this is true for nuget 2.8.6 but not for 3.3.0

[2016-01-29 15:37] petr-k opened #2015 "Packages built with Linux dnu pack cause problems"
When I build and publish a package via `dnu pack` on Linux (.NET Core RC1), some NuGet clients have problems reading it. I believe it has something to do with the zip format.

I even got errors about invalid archive structure in VS2015 with the latest NuGet (3.3.0), which seem to be somewhat random and I cannot reproduce them at the moment.

It this addressed in NuGet or the new dotnet CLI? I beli

[2016-01-29 15:47] csharpfritz commented on #2015
Yes, these two utilities are not currently compatible across Linux/Windows
boundaries.  dnu packages should be compatible with dnu only at this point.

This is exactly what the team is working on right now:  unifying dnu and
NuGet as part of the dotnet CLI so that every package is accessible
everywhere.

Jeff

On Fri, Jan 29, 2016 at 10:37 AM, Petr Krebs notifications@github.com
wrote:

[2016-01-29 16:06] petr-k commented on #2015
Many thanks for the quick explanation!

[2016-01-29 16:29] andyfenna commented on #637
when will this feature be picked up?

[2016-01-29 16:49] yishaigalatzer commented on #637
No plans at the moment

[2016-01-29 17:05] johnataylor opened #2016 "nuget client doesn't understand gzip content-encoding"
The nuget client doesn't understand gzip content-encoding. For example, placing gzip content in storage, setting the headers all correctly and the the UI will not show details. (Of course the UI should never have been fetching this blob in the first place but it does and that's where we are at.)

Experimenting with this in a console app suggests the client code needs to set the AutomaticDecompress

[2016-01-29 17:22] pakrym opened #2017 "XPlat client timeout behavior inconsistent"
Sometimes nuget restore tries to retry after timeout, other times it throws and aborts. Also it's hard for user to interpret `A task was canceled.` as timeout.

Both outputs of `dotnet restore` are on same repo (`dotnet\cli\src\dotnet-pack`) with interval of 1 minute.

[code]

[code]

[2016-01-29 20:03] emgarten commented on #2016
WebRequestHandler (the custom handler) takes this flag also.

Should it be: `DecompressionMethods.GZip | DecompressionMethods.Deflate` or just Gzip?

[2016-01-29 20:31] vtbassmatt commented on #2010
We were not passing -NonInteractive in the build task, and since the build machine has no stdin, NuGet was crashing. We've addressed that, but the auth failure is still not diagnosable. Updating the title and initial report to reflect the actual issue.

[2016-01-29 20:41] wolfpackt99 opened #2018 "nuget.commandline 3.3.0 -Source not adhering to source"
I upgrade to nuget.commandline from chocolately.  When i ran nuget update <SLN> -Source MySourceName it started updated ALL packages from all sources in my solution.  When i downgraded back to 2.8.6 it only updated packages from specified source.

[2016-01-29 20:44] emgarten commented on #2016
It looks like NuGet.Core was supporting this also. Is it still turned on for the OData feed?

https://github.com/NuGet/NuGet2/blob/2.11/src/Core/Http/HttpClient.cs#L133

[2016-01-29 22:01] johnataylor commented on #2016
and we should add deflate (though this is probably not much used!)

handler.AutomaticDecompression = DecompressionMethods.GZip | DecompressionMethods.Deflate;

[2016-01-29 22:40] phrohdoh opened #2019 "NuGet 2.11 fails to rename files when packing"
OS X 10.11.2
NuGet 2.11

From my understanding of [the NuSpec ref](http://docs.nuget.org/Create/NuSpec-Reference) this should rename `NuspecUpdater.exe` to `NuspecUpdater.dll` when it is packaged.

[code]

[code]

Expected result:
`lib\net40\NuspecUpdater.dll` packed in a nupkg

Actual result:
`lib\net40\NuspecUpdater.dll\NuspecUpdater.exe` packed in a nupkg

[2016-01-29 23:48] #2019 closed, assigned to nobody

[2016-01-29 23:48] yishaigalatzer commented on #2019
We are not going to do any more work on the 2.11 branch, and I don't see why you would want to change.exe to .dll.

Either way that doesn't sounds like something we ever supported

[2016-01-29 23:51] yishaigalatzer commented on #2018
@johnataylor I believe this is a duplicate. Can you take a look?.

[2016-01-29 23:52] yishaigalatzer commented on #2017
We also want to address other errors and retry scenarios. Lets start by coming up with a retry behavior expectation table, review then implement the fix

[2016-01-29 23:56] yishaigalatzer commented on #2010
This seems like a VSO authentication related issue, @pspill built the original feature. CC-ing him

[2016-01-29 23:58] yishaigalatzer commented on #2014
@christopheblin I don't follow your second comment. On what version do you experience the issue 3.3 or 2.8.6?

[2016-01-30 00:00] yishaigalatzer commented on #2013
The issue here is that we don't want to update packages when the original package is not on disk, because update uses data from the old package (in vs it runs the uninstall script, and it may remove content files, check if they where modified etc.).

So the behavior is expected, but the error is misleading.

[2016-01-30 00:01] yishaigalatzer commented on #2013
In general consider moving your projects to the project.json model where you have a much nicer model of updating packages (by just changing project.json file or using the \* notation). The nuget.client repo is a good example for this pattern

[2016-01-30 00:02] yishaigalatzer commented on #2012
@zhili1208 this is part of the things you are working on now. Can you take it as part of your changes?

[2016-01-30 00:55] emgarten commented on #2016
NuGet/NuGet.Client@7f6f9861660fe4a99c8c3589aee9c7b3963fb629

[2016-01-30 00:55] #2016 closed, assigned to emgarten

[2016-01-30 09:42] borgdylan commented on #1984
I have cleared the cache, but still the exception persists. NuGet seems to be merging in runtimes from the same package for three times:

[code]

I do not think that is OK.

[2016-01-30 13:31] borgdylan commented on #1984
Good News: Using `NuGet.CommandLine.XPlat` build `566` I managed to overcome the duplicate key bug. Using it with my Mono fork of the the .NET CLI yields a fully functional .NET build toolchain for 32-bit Ubuntu. I have found a separate issue in NuGet.exe for which I will open a separate issue.

[2016-01-30 13:31] #1984 closed, assigned to nobody

[2016-01-30 13:33] borgdylan commented on #1984
Also for the record the winning command line is `mono NuGet.CommandLine.XPlat.dll --disable-parallel` while setting `MONO_THREADS_PER_CPU` to `50`

[2016-01-30 16:57] christopheblin commented on #2014
I experience  it under 2.8.6

[2016-01-30 17:00] christopheblin commented on #2013
Thx for answering . I will look at json model when I am sure that our tfs build server correctly handle that.

[2016-01-30 21:42] yishaigalatzer commented on #2014
I see, we no longer support 2.8.x if 3.3 works for you please close the issue.

[2016-01-30 21:50] emgarten commented on #1984
@borgdylan glad to hear you got it working. There were a lot of fixes that went into 566.

FYI `--disable-parallel` should be on by default for mono:
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.CommandLine.XPlat/Program.cs#L135

But adding the flag doesn't hurt of course.

Are you still able to get the UTC time exception? I'd like to fix that also.

[2016-01-31 02:16] borgdylan commented on #1984
That is due to bad packages made by Nuget.exe. the xmlns URL overriden in the nuspec should mention   2012/06 not 2011/08.

[2016-01-31 02:41] clairernovotny commented on #2009
Not sure if this is the correct/best approach, but this did the trick for csproj/UWP:
https://github.com/xunit/devices.xunit/blob/36f9c4eea05fbcb611f36289c0430999c503445f/test/test.xunit.runner.uwp/test.xunit.runner.uwp.csproj#L192-L200

Question is where that belongs in the nuget targets.

[2016-01-31 03:10] borgdylan commented on #1973
Also, would it be possible to exit cleanly (no negative exit code) if no runtime bits were found for the current runtime id? Such errors are thrown out on mono/x86 due to no coreclr support. These errors however are beningn since the lock file is still made correctly.

[2016-01-31 03:13] borgdylan commented on #1971
Please also leave support for the desktop framework. Those bits allow me to build the mono version of the dotnet cli for Ubuntu x86.

[2016-01-31 10:11] borgdylan opened #2020 "NuGet.exe overrides "xmlns" in nuspec incorrectly"
Using NuGet.exe `3.4.0` as well as prior versions, I can observe that the XML namespace referenced in the root element of the nuspec file gets overriden incorrecly in the produced package.

DNX as well as the dotnet CLI i.e. `dnu pack` and `dotnet pack` set the XML namespace correctly.

I define incorrect as "makes the NuGet XPlat CLI crash while restoring with a strange UTC related exception".

T

[2016-01-31 10:12] borgdylan commented on #2020
@emgarten This bug describes that other issue and how to fix it.

[2016-01-31 10:26] borgdylan commented on #1984
I opened a specific bug here: https://github.com/NuGet/Home/issues/2020

[2016-01-31 11:55] julielerman commented on #2004
@muratg the temp work around helps (for now) .. ulimit -n 512 (found here: https://github.com/dotnet/cli/issues/809)

[2016-01-31 14:02] petr-k commented on #2015
Just to be absolutely certain - does that mean that Windows NuGet 2.8 clients will be able to read packages produced by the new dotnet CLI?

[2016-01-31 16:06] csharpfritz commented on #2015
That's our goal: maintain that compatibility

Jeff

On Sun, Jan 31, 2016 at 9:02 AM, Petr Krebs notifications@github.com
wrote:

[2016-01-31 16:48] davidfowl commented on #2015
Did you pack using mono or the new cli?

[2016-01-31 16:59] petr-k commented on #2015
I used `dnu pack` in the official `microsoft/aspnet:1.0.0-rc1-update1` docker image, so I guess that means mono..

[2016-02-01 02:38] yishaigalatzer opened #2021 "Create a command similar to nuget.exe mirror for V3 feeds based on the catalog"

[2016-02-01 08:36] christopheblin commented on #2014
OK, I close the issue and I'll try to update our build server to newest nuget version

[2016-02-01 08:36] #2014 closed, assigned to nobody

[2016-02-01 10:43] hakito commented on #1827
I think the problem is, that the nuget client caches http request for a package for 30 minutes:

https://github.com/NuGet/NuGet.Client/blob/5902aadde9f8a43b96c166b793101c23d6646dcf/src/NuGet.Core/NuGet.Protocol.Core.v3/RemoteRepositories/RemoteV2FindPackageByIdResource.cs#L134

We have the same problem with internal nuget packages for continuous integration builds. It would be great to disable thi

[2016-02-01 15:31] jspaetzel opened #2022 "Noninteractive Basic Authentication Restore"
I'm attempting to use nuget with a private nuget repository setup with ProGet using basic authentication to access packages. Interactive basic authentication works fine, im only having trouble with doing this non-interactively with my ci or directly via the command line.

I saw several other issues related to this but did not see one that is currently open. I've tried this on nuget.exe versions 3.

[2016-02-01 16:28] NickCraver opened #2023 "Search: Prefer exact name matches"
I was quite surprised when adding a reference to [Jil](https://www.nuget.org/packages/Jil/) (our JSON (de)serializer) just now. Despite having an exact name match and orders of magnitude more downloads, it was ranked below 5 other packages in "relevance" in both the Visual Studio UI and [on the website](https://www.nuget.org/packages?q=Jil):
![2016-02-01 11_17_10-stackexchange geo - microsoft visu

[2016-02-01 16:45] analogrelay commented on #1971
`netstandard` does support desktop framework and Mono/Xamarin explicitly, it's the modern replacement for portable. Having said that, if necessary, we can cross-compile. Desktop support is definitely not going away.

[2016-02-01 16:47] analogrelay commented on #1973
We've had a lot of discussions about that (/cc @ericstj @davidfowl). In general, we'd rather fix the issues that cause these runtime compatibility check failures. We removed the automatic inference of x86 runtimes because of the CoreCLR issues, as a temporary change, but there does need to be a way to restore it for Mono targets, since they do fully support x86.

[2016-02-01 16:54] borgdylan commented on #1971
The current dotnet5.6 supports .net core only. Will that include desktop in the future?

[2016-02-01 16:56] borgdylan commented on #1973
Indeed with a host of other cpu architectures. I think that for mono errors like that can be ignored.

[2016-02-01 17:01] analogrelay commented on #1971
You are correct about `dotnet5.6`/`netstandard1.5`. NuGet should try to avoid that if possible and use an earlier version that does support Desktop. I don't know the specific plans, but in general Desktop will continue to catch up (at it's usual, somewhat slower, pace ;)). It's up to Mono to figure out which versions they want to target. Last I heard, they just wanted us to map them to the highest

[2016-02-01 17:04] herecydev commented on #2023
:+1: Looks like having the tag `Jil` increased the relevance. Downloads feel like the most important criteria to me, at least should be used as a tie breaker within multiple results with the same name.

[2016-02-01 17:13] borgdylan commented on #1971
This tip should be given to the corefxlab people since other projects like the dotnet cli use their stuff.

[2016-02-01 17:21] Heinzelemente commented on #2006
Hey,
I now updated the VS, but the problem is still pending.
Meanwhile I could find out that everytime I paste in a new nuget package. The NuGet Package Manager is in "Loading...." for 30 seconds.
If I click on one entry. It hangs for 30 - 40 seconds.
That is very annoying.
Any ideas?

Best regards

[2016-02-01 17:48] keichinger commented on #2023
@herecydev how can there be multiple results with the same name? NuGet package names are meant to be unique, aren't they?

[2016-02-01 17:48] NickCraver commented on #2023
Yep, they're unique - the URLs wouldn't work otherwise :) That's why an exact match should be up top, IMO. It's the canonical.

[2016-02-01 18:06] zhili1208 commented on #2006
@Heinzelemente  can you share your network traffic log with wireshark and what are those packages in your folder? thanks

[2016-02-01 18:31] yishaigalatzer commented on #2015
@petr-k can you please share your package and project?

[2016-02-01 18:33] yishaigalatzer commented on #2023
This bug belongs in the nugetgallery. However we already have an improvement in flight - http://nuget-prod-0-v2v3search.azurewebsites.net/query?q=jil

This new search server is in the process of being deployed to production.

[2016-02-01 18:33] #2023 closed, assigned to nobody

[2016-02-01 18:33] yishaigalatzer commented on #2023
CC @johnataylor @maartenba @joyhui @joelverhagen

[2016-02-01 18:36] borgdylan commented on #2004
Even on mono, I have to limit the number of threads per CPU or else the memory balloons up very quickly and uses up all 4GB of virtual memory my PC gives to each process. Does nuget keep files open for no reason?

[2016-02-01 18:36] yishaigalatzer commented on #2022
Are you sure you are using the same user name on your CI machine?

[2016-02-01 18:38] borgdylan commented on #1989
Please make sure the cross platform way for ZIP file internal paths i.e. with `/` instead of `\` that works only on Windows. Therefore `/` needs to be explicitly set instead of using `Path.DirectorySeparatorChar`.

[2016-02-01 18:41] pspill commented on #2010
I'll take a look.

[2016-02-01 18:43] herecydev commented on #2023
@cH40z-Lord Sorry I meant where the package name contains the same search term, in this case `Jil`

[2016-02-01 18:45] jamesqo opened #2024 "(Question) Is it possible to specify the license/project URL without creating a .nuspec file?"
Hi! Sorry to trouble you guys, but SO's not helping (and you guys are probably experts anyway :wink:)

I'm wondering if it's possible (during `nuget pack`) to specify the project/license URL without creating a .nuspec file. I know you can specify the author in `AssemblyInfo` via `AssemblyCompany`, and the description via `AssemblyDescription`. How do I do the other things specific to NuGet, like t

[2016-02-01 19:05] yishaigalatzer commented on #2024
No there isn't a way as far as we know with the current pack system.

With project.json based project (.NET CLI) that would be a possibility, but you wouldn't have a csproj file at that point.

[2016-02-01 19:05] #2024 closed, assigned to nobody

[2016-02-01 19:10] glennc opened #2025 "Don't disable all machine wide feeds"
Today there is a feature that will disable machine wide feeds on Windows. The main driver for this, as I understand it, is that the remote feed that we used this feature for up-to-now was slowing things down too much.

However, we now want to use a pre-installed machine wide feed to help speed up developer package restore and support offline scenarios. To achieve this we would need the local feeds

[2016-02-01 19:12] muratg commented on #2004
@julielerman Yup, thanks! I've been using the workaround.

[2016-02-01 19:14] petr-k commented on #2015
https://github.com/avast/sms-connector-client

If you check out `.travis.yml` and follow the link to Travis, you can see how the package is being built and published.

[2016-02-01 19:17] yishaigalatzer commented on #2023
@herecydev yes, that's what we have done.

[2016-02-01 19:23] emgarten commented on #2020
nuget falls back to the oldest xsd that can be used for the nuspec. Where is this actually failing? I wouldn't expect the date field from the url to actually be used as a date.

[2016-02-01 19:29] borgdylan commented on #2020
It fails while uncompressing the package leaving just a nuspec file and an oddly named (with a short guid) nupkg file in the installation directory (the one under .nuget/packages in the user profile). The xsd is being overridden on pack but causes bugs on restore i.e. its not immediately obvious that it will cause bugs.

[2016-02-01 19:56] borgdylan commented on #2020
Either way, there is an incompatibility bug between the nuget CLI and NuGet.exe when run on mono with the nuget CLI not supporting the fallback XSD.

[2016-02-01 20:58] #1962 closed, assigned to zhili1208

[2016-02-01 21:21] xavierdecoster commented on #1951
Fixed with https://github.com/NuGet/NuGet.Client/commit/e146e57c29a464032ddb3a9404428633d16531a0

[2016-02-01 21:21] #1951 closed, assigned to xavierdecoster

[2016-02-01 21:27] jspaetzel commented on #2022
@yishaigalatzer I've tried using a different one that's specifically for that machine and also the same user. Either set works fine when I put them in interactively in the command line or from visual studio

[2016-02-01 21:53] jasonmalinowski commented on #2009
@onovotny, I think we need it in the build task since there's multiple places that would otherwise need to duplicate that code. But thank you for the pointer, we'll make sure whoever fixes this syncs xunit and removes that to see if everything still works.

[2016-02-01 22:07] czfq2b commented on #1138
Changing permissions didn't work for me.

[2016-02-01 22:11] clairernovotny commented on #2009
Yeah, figured that it belonged deeper than that but wanted to provide something that seemed to work.

[2016-02-01 23:38] The-Futurist opened #2026 "Version number confusion"
If I go to the VS Help, About dialog and look at the Nuget package manager I see 3.3.0 - 3 digits.
If I go to the visual studio gallery and look at the package manager for VS 2015 I see 3.3.0.167

Please show the full version number in the Help, About, it is very confusing as I have no way of knowing EXACTLY which version/build is installed when trying to fathom problems,
Thanks

[2016-02-01 23:47] The-Futurist opened #2027 "Unhelpful error message"
I'm in VS2015 "Manage Packages for solution" (v 3.3.0).
I can see several projects refer to Some.Component most of them v 1.1, two of them v 1.0.
I select (check) the one's using v 1.0 and then click the Install button at the bottom of the list Window.
I expect (perhaps wrongly) to see those projects update so they too are now using v 1.1
Instead it fails with:

An error occurred while retrieving

[2016-02-02 00:45] emgarten opened #2028 "Add useragent to the ILogger context"
Today the UserAgent for http calls is set on a static property. With recent changes in the protocol an ILogger is now passed everywhere that http calls are made, this could allow the UserAgent string to be passed along with the logger.

The logger today should know the context, for example PS, nuget.exe, and the VSIX each provide different loggers and also have different user agents.

[2016-02-02 04:21] JamesNK commented on #2023
When searching for json, should the top result be the package with the id JSON?

http://nuget-prod-0-v2v3search.azurewebsites.net/query?q=json

[2016-02-02 06:44] emgarten commented on #1858
@davidsh nuget uses `HttpClient`

[2016-02-02 07:36] scovetta opened #2029 "NuGet.exe on Mono/Linux - Standard Output Problems"
When I run NuGet.exe on Linux (via Mono), though I see "console" output, I am unable to pipe it to a file. When I try, I get an endless stream of ([12 spaces][0x0A]) sequences.

[code]

Now piping to a file:

[code]

I am running NuGet version 3.3.0.212 via Mono 4.2.2 on Ubuntu 15.10.

[code]

I also tried running mono directly instead of the nuget script (`mono /usr/lib/nuget/NuGet.exe`), with th

[2016-02-02 08:41] obeleh commented on #1215
I have the same with a fresh install of vs 2015 professional

[code]

I'm currently trying to get my python project to work in visual studio.

[2016-02-02 10:20] brgrz opened #2030 "Managa Packages for Solution UX in VS 2015"
When managing packages for solution the behaviour under Updates and Consolidate is on the left side show all packages possible to update/consolidate. On the right hand where there's a Source dropdown you might have selected nuget.org (while having more sources configured).

The Updates and Consolidate would show all packages able to update/consolidate regardless of the right hand side source dropd

[2016-02-02 10:21] brgrz commented on #2030
Ok, after further inspection I can report the issue is limited to Consolidate feature only.

[2016-02-02 11:34] NickCraver commented on #2023
@JamesNK yep, I think it should - and JSON.Net should definitely be 2nd because of name and downloads. Since installing "json" form the console will get you _that_ package, it should match up as the first result as well.

I believe this should be the case even if the package had 12 downloads. If a user is searching for a specific package regardless of something larger having millions more download

[2016-02-02 13:38] mathikp commented on #1158
Hi, I have faced the below issue while install my UWP package from my own private feed.

PM> Install-Package <package Name>
Restoring packages for 'App4'.
Restoring packages for c:\users\mathi\documents\visual studio 2015\Projects\App4\App4\project.json...
Warning: FindPackagesById: <package Name>
  Response status code does not indicate success: 404 (Not Found).
Warning: FindPackagesById: <packag

[2016-02-02 15:14] sitapsr opened #2031 "Hello,"
TrackerIdentityContext followed the instructions from the website, but did not create tables auditlog and auditlogdetails, So I manually added the tables and it still did not log to the tables.
Any help is appreciated

[2016-02-02 15:20] The-Futurist commented on #2027
Perhaps package manager settings could have a new option "Verbose messages" added or something...

[2016-02-02 15:31] The-Futurist opened #2032 "Package manager checkbox not working with Dark VS theme"
The package manager has a "Show preview window" checkbox documented here:

http://docs.nuget.org/consume/package-manager-ui#install-options

However when I click this it remains unchecked (no check mark appears) a similar problem exists with the "Remove dependencies" and "Force uninstall..." checkboxes.

This seems to be specific to the "Dark" theme, checkboxes appear fine with other themes.

[2016-02-02 15:37] makhdumi commented on #491
+1

I can consistently reproduce this issue using the nuget executable:
`nuget.exe update MySolution.sln -Source https://my-nuget-repo.com/nuget`

Running the above will update the .csproj but delete the packages.config for all projects with only one package.

[2016-02-02 18:06] joelverhagen commented on #1973
Finished item 4 in the checklist with https://github.com/NuGet/NuGet.Client/pull/246. Since this is the last open item, I will close this issue.

[2016-02-02 18:06] #1973 closed, assigned to joelverhagen

[2016-02-02 18:06] joelverhagen commented on #1933
Closed with https://github.com/NuGet/NuGet.Client/pull/246.

[2016-02-02 18:06] #1933 closed, assigned to joelverhagen

[2016-02-02 18:20] analogrelay opened #2033 "NuGet3 should support -ConfigFile"
Ported from aspnet/dnx#1693

[2016-02-02 18:21] yishaigalatzer commented on #2023
In general the thought is that if you are in the top 3, call it good. However it is debatable if the id="json" package should win or be second. IMHO it should be second, because it is probably not as relevant, and 2nd is good enough. We will take a look

[2016-02-02 19:06] yishaigalatzer commented on #1158
Hard to tell from this question, why won't you update to 3.3?

[2016-02-02 19:09] yishaigalatzer commented on #491
@makhdumi please update your executable to 3.3

[2016-02-02 19:21] joelverhagen commented on #1826
Closed with https://github.com/NuGet/NuGet.Client/pull/221.

[2016-02-02 19:21] #1826 closed, assigned to joelverhagen

[2016-02-02 20:14] JamesNK commented on #2023
@NickCraver In this case (JSON) the user probably isn't searching for a specific package, they're searching for a technology.

[2016-02-02 20:36] zjrunner opened #2034 "Install blocks if a single source fails authorization"
This may be multiple related but distinct bugs:
- I expect 'nuget install' to not be blocked if one of many sources fails authorization
- I expect an authz failure to not be retried

In the below example, the first two sources in my list have the package.  The third one does not and I have no permissions to this specific feed.  I _do_ have credentials returned by the CredentialProvider.VSS.exe tha

[2016-02-02 20:37] emgarten opened #2035 "Add protocol logging output to higher layers"
The recent changes to httpsource have added support for passing an ILogger to protocol layer operations.

To make this info visible to the user the Visual Studio API, Visual Studio UI, Visual Studio on build restore UI, Powershell Console, and nuget.exe should pass in loggers to connect up with the lower layers.

This work also involves verifying that the messages displayed from the protocol make

[2016-02-02 20:49] emgarten opened #2036 "NuGet.exe console logging abstraction"
NuGet.exe currently logs directly to the console. Instead it should hold an ILogger abstraction that passes messages through to the console.

This would allow better unit and functional testing, and get the command line tests closer to being able to run in parallel.

[2016-02-02 20:52] emgarten opened #2037 "Replace INuGetProjectContext logging with ILogger"
NuGet contains two logging abstractions: ILogger and INuGetProjectContext. These should be consolidated.

Potentially ways to fix this:
- INuGetProjectContext could extend ILogger
- INuGetProjectContext could add an ILogger property.

[2016-02-02 21:05] NickCraver commented on #2023
@JamesNK agreed _on this case_, but this has to be an automated decision overall and I don't see how to really handle that case better for all searches. IMO, JSON.Net showing up very readily as spot 2 is acceptable.

[2016-02-02 22:30] xavierdecoster opened #2038 "Make nuget client smarter about which package source to hit first for a given package"
As the NuGet client knows where a package is installed from, it may consider storing/caching that information somewhere on the client so that it knows which package source to hit first when trying to update/restore that package in a later request.

Currently, the client seems to be reaching out to all package sources configured (N), which generates N-1 requests that will result in a 404 for just a

[2016-02-02 23:14] kingerja opened #2039 "Nuget 3.3 inconsistent in version numbers."
Example given a nuget package of:
Microsoft.StashClient.DPG 1601.04.0942
Nuget list will return 1601.04.0942
Nuget pack will create a package of 1601.04.0942
Nuget install will create a folder of 1601.04.0942
Nuget install will output that it actually installed 1601.4.942

[2016-02-02 23:25] eerhardt opened #2040 "Add positive tests for CommandLine XPlat"
Currently the CommandLine.XPlat unit tests don't actually do a restore to test the code.  Instead, the tests only do a few negative tests, and make sure the exit code is 0 for --help and empty args.

When NuGet moves to dotnet cli, we should be able to write real tests for CommandLine.XPlat restore.

See https://github.com/NuGet/NuGet.Client/pull/252/files#r51634203

[2016-02-02 23:30] emgarten opened #2041 "Localize strings in NuGet.Core.sln"
Strings in the code ported from DNU in NuGet.Core.sln need to be localized.

[2016-02-02 23:32] Myster commented on #1845
.net 4.0 is installed.

I had tried it with 2.8.5, here's the error for that version. (just the same)

[code]

We are planning to work around this by upgrading some servers, but I Imagine there may be a dwindling number of other affected users also :-)

[2016-02-02 23:47] The-Futurist opened #2042 "High Priority: NuGet.Server"
I want to submit an issue pertaining to NuGet.Server, that repo has no issue list so I'm posting the issue here.

The issue may be the same as this one:

https://github.com/NuGet/Home/issues/1066

That issue is listed as Open with no information about a fix or workaround.

Basically we cannot install certain packages and we're trying to work and deliver a system in a dynamic, rapidly evolving deve

[2016-02-02 23:54] twsouthwick opened #2043 "NullReference when trying to download a package with NuGet.Client"
I'm using NuGet.Client libraries 3.3 to get the latest version of a library and download it. I'm using the following code:

[code]

I keep getting a NullReferenceException on the line that calls `finder.GetNupkgStreamAsync` with the following stack trace:

[code]

[2016-02-02 23:55] emgarten opened #2044 "httpclient UserAgent does not set an OS version for xplat"
XPlat and other DNXCore50 libraries skip setting the OS as part of the user agent string. For xplat scenarios this info would be helpful.

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Protocol.Core.Types/UserAgent.cs#L141-L150

[2016-02-02 23:57] emgarten commented on #2043
Take a look at: http://pastebin.com/ZhKe7Rdi

[2016-02-03 00:04] twsouthwick commented on #2043
Thanks! That got it working :)

Are there plans to throw an ArgumentNullException at these points instead of NullReferenceException? That way, a useful message could be shared. For this in particular, couldn't the context and logger be set to these defaults automatically?

[2016-02-03 00:17] eerhardt opened #2045 "Invalid URI error when downloading nuget.packaging.core"
Using the V3 apis, I'm downloading the latest nuget packages from https://www.myget.org/F/nugetbuild/api/v3/index.json, and I've hit an exception when trying to download the `nuget.packaging.core` package:

[code]

It appears the 'iconUrl' of this package is set to: `/Content/images/packageDefaultIcon_nuget.png`, and passing that string into `new Uri(str)` is throwing an exception, which goes unha

[2016-02-03 00:18] eerhardt commented on #2045
cc @yishaigalatzer @emgarten

[2016-02-03 00:32] emgarten commented on #2043
I believe @yishaigalatzer fixed this for 3.4

[2016-02-03 00:34] emgarten commented on #2045
Interesting! I'm not sure that the SearchLatestResource is used anywhere in NuGet, but it is handy for v2 parity scenarios.

Looks like the nuspec for the nuget packages should be fixed also.

[2016-02-03 00:46] eerhardt commented on #2045
We are using this code in a tool that grabs all the packages from a certain set of feeds, and then mirrors those packages in our own feed.  We are using SearchLatestResource to read all the latest versions of the packages in the feed.  Is there any other way to get all the packages in a feed?

[2016-02-03 01:10] zjrunner commented on #2034
(verified that restore does not have the blocking issue - whether or not it retries authz failures is less important to me currently since I don't depend on the failing feed in question)

[2016-02-03 01:26] emgarten commented on #2045
You can use https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Protocol.Core.Types/Resources/MetadataResource.cs#L54

And then the DownloadResource to get it.

[2016-02-03 02:09] eerhardt commented on #2045
Thanks for the pointer to MetadataResource - but the issue is: I don't know ALL of the package ids in the feed. That's why I was using the Search with an empty string.

Is there a way to get all the package ids in the feed?

[2016-02-03 02:30] yishaigalatzer commented on #2039
Microsoft.StashClient.DPG 1601.04.0942

[2016-02-03 02:33] yishaigalatzer commented on #2045
You can use the catalog, but it depends on what server you are working on. Not sure if myget supports it. @xavierdecoster might know.

@emgarten if we don't use this resource, we should remove it. Building an API for mirroring is on our todo list, this shouldn't be it.

[2016-02-03 05:22] maartenba commented on #2042
@Korporal What is the error you are seeing?

[2016-02-03 05:43] yishaigalatzer commented on #2042
The workaround is quite clear, don't include symbol packages in the same folder. That was never a scenario for nuget.server, it might have worked but accident.

[2016-02-03 05:48] yishaigalatzer commented on #2034
This is a feature your team developed. I assumed you plan to submit a PR?

I'm OK with fixing the second item (be able to ignore authz issue and not retry them), we need to discuss separately should an operation succeed if over feed fails, this is not something that should work generally and it can lead to incorrect results when restoring for project.json

[2016-02-03 05:49] yishaigalatzer commented on #2032
Thanks fort reporting this issue will take a look

[2016-02-03 05:51] #2031 closed, assigned to nobody

[2016-02-03 05:52] yishaigalatzer commented on #2031
We don't support individual packages here

[2016-02-03 05:55] yishaigalatzer commented on #2029
Sounds like a bug in mono. I would report it there. In general our mono support is very limited, but we will be willing to take a pull request to fix this

[2016-02-03 05:55] yishaigalatzer commented on #2029
Sounds like a bug in mono. I would report it there. In general our mono support is very limited, but we will be willing to take a pull request to fix this

[2016-02-03 05:58] yishaigalatzer commented on #2022
Can you share your nuget.config and can you try placing it at the root of your solution?

[2016-02-03 06:27] zjrunner commented on #2034
That would be the nice thing to do if it is from this team's code, but it probably won't land immediately from this side.  I thought it might be outside this team's code because authn is happening just fine, getting back a PAT, it is getting back to the nuget process as a cred, which is sent to the server.  At this point I thought it would fall within the standard authz flow nuget had previously f

[2016-02-03 09:36] xavierdecoster commented on #2045
@eerhardt running that snippet of code against https://api.nuget.org/api/v3/index.json throws a 404, indicating this is not a supported resource in NuGet v3. If support for this resource is going to be removed in the NuGet client bits, chances are support for this resource type will be removed from MyGet as well.

A fix for the icon url issue you are seeing is going to be deployed to MyGet later t

[2016-02-03 11:31] santee commented on #1894
@StefanoGermani @yishaigalatzer
Did you guys get any answer from JFrog? Have the same issue.

[2016-02-03 13:58] ch-hristov opened #2046 "VS2013 crashes when opening Package Sources options"
Probably related in some way to #564 . I had VS 2015 community, had modified the%appdata%\NuGet\NuGet.Config file then I removed VS 2015 Community and installed VS 2013 Community.I clicked Tools -> Options -> Nuget Package manager -> Package sources this is followed by a crash. Happens every time. Then I removed Community and installed VS2013 Ultimate. Still crashing.

[2016-02-03 14:04] csharpfritz commented on #2046
What is in your nuget.config file?  It sounds like it could be malformed

[2016-02-03 14:12] ch-hristov commented on #2046
I copied some text from an email and pasted it in the config file. It is probably the formatting that affects the text so it made it the file invalid for VS to read. In any case, there should be a mechanism that notifies the user for an invalid .config.

[2016-02-03 14:29] seesharper commented on #2004
Confirms that ulimit -n 512 works as a workaround

[2016-02-03 15:37] The-Futurist commented on #2042
@yishaigalatzer @maartenba

First how do I know for sure that the error I see "Install-Package : There are multiple root elements. Line 43, position 2" is definitely due to the symbol package problem?

Where exactly is the documentation that describes what we can or cannot do with symbol packages?

If users are assuming something that's not actually supported then any restrictions should really be

[2016-02-03 16:03] yishaigalatzer commented on #2042
It is not crystal clear, but why won't you start by removing the symbol packages? These where never supported on a nuget server and are intended for symbol servers.

If it doesn't work for you, we can help investigate further

[2016-02-03 18:17] The-Futurist commented on #2042
@yishaigalatzer - OK I'll investigate but I'm new to NuGet servers, never set one up or anything and I'm just trying to understand the error message I see in Visual Studio. If this capability isn't supported then at least improve the error message we see, surely this would improve things?

Thanks

[2016-02-03 18:20] yishaigalatzer commented on #2042
Yes, we completely agree. We are making an effort on improving error messages in general, I can't guarantee this will be happening right away, but this is something we definitely want to attack.

One of the hard thing about improving error messages is the ability to get a good repro, and understand the source of the error. Many of these kind of errors come from exception being thrown by .NET or lo

[2016-02-03 22:01] jspaetzel commented on #2022
@yishaigalatzer Just tried it at the root of my solution, no change. Here is essentially my current nuget.config though with credentials stripped of course.

[code]

[2016-02-03 22:06] jspaetzel commented on #2022
I've tried these locations so far with that config file,
- project\NuGet.config
- project.nuget\NuGet.config
- C:\Users\User\AppData\Roaming\NuGet\NuGet.config
- C:\ProgramData\NuGet\NuGet.config

[2016-02-04 00:11] jasonmalinowski commented on #1825
@drieseng: let us know if you need anything else here; the code is now open so you can see how the mapping is done.

[2016-02-04 00:11] #1825 closed, assigned to jasonmalinowski

[2016-02-04 00:14] jasonmalinowski commented on #1587
Yep, this is a dupe of #1880.

[2016-02-04 00:14] #1587 closed, assigned to jasonmalinowski

[2016-02-04 01:16] emgarten opened #2047 "HttpSource should require a user agent"
Currently UserAgent.UserAgentString can be empty. SetUserAgent should throw if the string is null or empty.

All unit tests will need to be updated to support this.

[2016-02-04 01:57] yishaigalatzer commented on #2046
Hey @interdrift thanks a lot for reporting this issue. In general this is a class of bugs we are investing in fixing for visual studio 2015, however don't plan on further fixing bugs at this level for 2013.

If you have a file that works on 2015 and not on the latest version of NuGet on 2013, we will be interested in fixing it, I'm assuming it is not the case and closing this issue.

If I got it w

[2016-02-04 01:57] #2046 closed, assigned to nobody

[2016-02-04 01:59] yishaigalatzer commented on #2045
We are going to get rid of this resource in the code since it is dead code

[2016-02-04 02:17] emgarten opened #2048 "Shared projects should be ignored by restore"
Shared projects should not be walked or written to the lock file.

[2016-02-04 02:38] yishaigalatzer commented on #2043
Yup. Thanks for the report, closing it

[2016-02-04 02:38] #2043 closed, assigned to nobody

[2016-02-04 02:39] yishaigalatzer commented on #2043
https://github.com/NuGet/NuGet.Client/commit/db49e0b84d096d4807c4a065f1f832be75672546

[2016-02-04 02:49] yishaigalatzer commented on #1653
Clarification: This issue tracks the ask from nuget.exe to support this. NuGet.xplat.commandline already supports traversing a root folder

[2016-02-04 06:58] drieseng commented on #1825
I would've expected at least feedback on PR #437.
But I still have hope that one will be accepted :p

[2016-02-04 08:39] vunvulear commented on #1416
One vote from me also!

[2016-02-04 10:02] brgrz opened #2049 "NuGet package manager Visual Studio 2015 tooling"
If we create a folder with packages (.nupkg files) and create a new source for it in VS and that folder contains other folders named similarly as NuGet packages, the VS tooling fails to load packages from that folder for Install/Update/Consolidate actions.

For instance, this folder structure

[code]

results in NuGet for Visual Studio tooling to not be able to find any packages. In fact, it produ

[2016-02-04 10:42] xavierdecoster commented on #2045
@eerhardt the icon url fix has been deployed yesterday, the same code should now no longer throw.

[2016-02-04 10:45] brgrz opened #2050 "Uninstall packages tries to install old version first"
Uninstalling packages with -force still tries to install (or at least find, don't know) the old version first, which makes a little or no sense at all.

uninstall-package : Some NuGet packages are missing from the solution. The packages need to be restored in order to build the dependency graph. Restore the packages before performing any operations.

[2016-02-04 13:49] mak1453 opened #2051 "Invalid URI: The format of the URI could not be determined."
Hi,

I am using CoApp Developer Tools to package C++ libraries. Power Shell 3 is already installed on the system. When I run :
**_Write-NuGetPackage .\cpptest.autopkg_
**
The error I am getting : **_Invalid URI: The format of the URI could not be determined._**

Can some one please help me with this? I have been trying tackle down this problem but no luck so far. I tried it with different versions

[2016-02-04 16:28] CraigSelbert opened #2052 "Save solution after package upgrade"
After upgrading various packages it would be of great if the solution could be saved. Multiple times I have upgraded packages, committed them to source control only to find out that I did not save the solution not persisting the changes to the solution.

[2016-02-04 17:50] jasonmalinowski commented on #1825
@drieseng: I believe that was the wrong number?

[2016-02-04 18:17] yishaigalatzer opened #2053 "Config entries being forced add into nuget.config"
NuGet 3.4

Add the following file under the solution

[code]

Open the solution in visual studio (or reload)

Result: New file include nuget.org as a source
Expected: No new source added

[2016-02-04 18:33] drieseng commented on #1825
It's the right number, but GitHub links it to an issue instead of a PR.
This is the PR (also see above):
https://github.com/NuGet/NuGetDocs/pull/437

[2016-02-04 19:13] yishaigalatzer commented on #1825
thanks! merged the PR

[2016-02-04 20:38] emgarten commented on #2048
NuGet/NuGet.Client@11e5ba35c1880f18099ce22f7ef0c2b2b65cab0b

[2016-02-04 20:44] emgarten commented on #2050
Uninstall needs the contents of the package to uninstall to find the assembly references, content files, XML transforms, and uninstall.ps1 files contained in the package.

Skipping these steps is equivalent to removing the entry from packages.config without cleaning up the project.

[2016-02-04 20:46] emgarten commented on #2052
This is a general Visual Studio problem. NuGet does not force Visual Studio to write all changes to disk after every operation for performance reasons.

[2016-02-04 20:49] emgarten commented on #2051
@mak1453 CoApp is a package and not part of NuGet itself. You may contact the owner of the CoApp package using nuget.org to ask for support.

[2016-02-04 20:49] #2051 closed, assigned to nobody

[2016-02-04 20:51] emgarten commented on #2045
@xavierdecoster I was wondering where that URL was coming from!

I've removed the SearchLatestResource from NuGet.Protocol to avoid any confusion on this in the future.

[2016-02-04 20:51] #2045 closed, assigned to emgarten

[2016-02-04 20:52] emgarten commented on #1988
NuGet/NuGet.Client@11e5ba35c1880f18099ce22f7ef0c2b2b65cab0b

[2016-02-04 20:55] brgrz commented on #2050
Makes sense but it seems it tries to find the package on the feed instead of on the disk? The old package (the one we're trying to remove) was installed to /packages folder and everything needed was added to the referencing .csproj so all the information needed is there. Yet the tooling wants to find it on the feed (which for us is a problem since we regulary clean/delete old .nupkgs).

[2016-02-04 21:00] emgarten commented on #1763
@joelverhagen @yishaigalatzer what work needs to happen here still?

[2016-02-04 21:01] emgarten commented on #1851
Is this needed for xplat?

[2016-02-04 21:02] CraigSelbert commented on #2052
Makes sense, I just thought I would see what you guys would say. Thanks for a quick response.

[2016-02-04 21:06] yishaigalatzer commented on #1851
Yes but not for rc, and debatable for rtm

[2016-02-04 21:21] xavierdecoster commented on #2045
:+1:

[2016-02-04 21:26] emgarten commented on #2050
That sounds like a bug if it was already restored and in the packages folder.

[2016-02-04 21:26] emgarten commented on #2050
Which version of NuGet are you using?

[2016-02-04 21:52] LtKlaus opened #2054 "nuget install command not using packages already in Cache folder"
I ran the following command to get MyPackage from our NuGet server

[code]

This downloaded the package %LocalAppData%\NuGet\Cache and then extracted it to my Packages folder in my project folder.

I then run the same command again and it starts downloading the package from our server again. In my Cache folder I can see MyPackage.1.2.3.nupkg that it downloaded the first time and MyPackage.1.2.3.nu

[2016-02-04 21:56] #2033 closed, assigned to nobody

[2016-02-04 22:21] csharpfritz opened #2055 "Feature Discussion: Add --interactive flag to command-line"
As suggested in tweet, https://twitter.com/jeremydmiller/status/695362614742790144

Lets investigate adding --interactive capabilities to the NuGet CLI.

This issue is for discussion and leading to design publication on Wiki

[2016-02-04 22:23] yishaigalatzer commented on #2015
We are replacing dnu pack with nuget pack, and we will validate this as part of our change

[2016-02-04 22:26] yishaigalatzer commented on #1997
This is by design, it is clearly documented as well. https://docs.nuget.org/create/creating-and-publishing-a-package#from-a-project

[2016-02-04 22:26] #1997 closed, assigned to nobody

[2016-02-04 22:28] yishaigalatzer commented on #1972
This is important for xplat builds used by the dotnet team and others, because it slows things down a lot because it needs to find, load and jit msbuild.

[2016-02-04 22:29] yishaigalatzer commented on #1966
Yes, that is by design, the rule is look up from the folder you run in, and not look down. the .nuget\nuget.config does not conform to that rule.

[2016-02-04 22:32] yishaigalatzer commented on #1926
Closing because there is no feedback here. I hope you managed to resolve the issue

[2016-02-04 22:32] #1926 closed, assigned to nobody

[2016-02-04 22:33] emgarten commented on #1950
Dupe of https://github.com/NuGet/Home/issues/1931

[2016-02-04 22:33] #1950 closed, assigned to nobody

[2016-02-04 22:35] yishaigalatzer commented on #1914
This doesn't block xplat, but it blocks vs scenarios after we implement p2p required for xplat

[2016-02-04 22:41] dagood opened #2056 "In xplat nuget restore, basic auth from NuGet.Config not used when source specified by argument"
When I specify a username/password in a nuget.config like this:

[code]

Then try to use the source in a restore command:

`NuGet.CommandLine.XPlat.exe restore` with the NuGet.Config around (or specified with `--configfile`) succeeds.

`NuGet.CommandLine.XPlat.exe restore -s A` fails to resolve packages, and it looks like no http requests are made.

`NuGet.CommandLine.XPlat.exe restore -s https://

[2016-02-04 23:15] yishaigalatzer commented on #2056
@dagood is this blocking the xplat RC release?

IMHO this is a low pri bug, but I'd like to hear more

[2016-02-04 23:18] joelverhagen opened #2057 "Have a more consistent approach for handling HTTP failures"
The failures that should be investigated are:
1. Errors while fetching response
   - [x] Timeout (#2017)
   - [x] DNS failure (https://github.com/NuGet/NuGet.Client/pull/277)
   - [x] Could not connect (e.g. closed port) (https://github.com/NuGet/NuGet.Client/pull/271)
   - [x] Non-success status code
     - [x] 500+ (#2017)
     - [x] 400-499 (#2017)
   - [x] Protocol problem (TCP) (https://githu

[2016-02-04 23:19] #2004 closed, assigned to zhili1208

[2016-02-04 23:20] yishaigalatzer commented on #2004
@zhili1208 checked in a fix and verified it

[2016-02-04 23:21] #1994 closed, assigned to nobody

[2016-02-04 23:22] #1988 closed, assigned to emgarten

[2016-02-04 23:27] yishaigalatzer commented on #1912
Needs verification and discussion with @davidfowl about the use of the global packages folder as a feed

[2016-02-04 23:30] yishaigalatzer commented on #1749
@ericstj and @davidfowl, can we drop this issue? I'm not sure how much we can about dnxcore50 anymore, I don't want to create legacy for TFMs we only had in pre-release products

[2016-02-04 23:31] yishaigalatzer commented on #1725
@rchande as far as I know you guys don't need it, so I'm closing as won't fix for now

CC @Pilchie

[2016-02-04 23:31] #1725 closed, assigned to joelverhagen

[2016-02-04 23:32] yishaigalatzer commented on #1053
@alpaix is this already fixed?

@yugangw-msft can you please touch base with @deepakaravindr & @alpaix to decide what needs to be done about this, and does it apply to your new code

[2016-02-04 23:33] yishaigalatzer commented on #966
@ericstj ping, can we close this issue or can you still reproduce it?

[2016-02-04 23:36] yishaigalatzer commented on #472
We think this is fixed already, please verify and close

[2016-02-05 00:13] alpaix commented on #1053
Not aware of this one as it's not been in my queue.

[2016-02-05 00:37] clairernovotny commented on #1696
Ping? Any movement here on this issue?

[2016-02-05 00:48] terrajobst commented on #1696
For context, see [this update in the roslyn repo](https://github.com/dotnet/roslyn/issues/3#issuecomment-180123687).

[2016-02-05 00:52] ericstj commented on #609
:+1: Would be nice.  I need to do this a lot when writing tools to transform our project.json's.
/cc @dagood

[2016-02-05 01:01] emgarten opened #2058 "HttpSource needs to update HttpClient after a credential change"
Modifying credentials after requests have already been made leads to the error:
`This instance has already started one or more requests. Properties can only be modified before sending the first request`

Reported by @yugangw-msft as part of push

[2016-02-05 01:18] yishaigalatzer commented on #1696
There is no progress on this issue as indicated by the milestone (vNext, as in not now). We think we have a completely different idea for supporting the .NET native tool chain (by making it pull from symbol servers).

Bloating the packages IMHO is not a good idea, and I like @onovotny 's idea, as it lines up with where we want to go. The key issue now is resourcing and prioritizing this work. As c

[2016-02-05 02:22] emgarten opened #2059 "Improve project.json file discovery for the VSIX"
The NuGet VSIX currently discovers project.json files by checking for them on disk. If they are not referenced by the project they are still used.

During the P2P walk DTE is used to discover project.json files to improve performance.

When a project has a project.json file on disk but no reference to it a cached version of the project containing no project.json file will be used for restore. This

[2016-02-05 04:05] yugangw-msft commented on #1053
I pushed the change to [PR 253](https://github.com/NuGet/NuGet.Client/pull/253)

[2016-02-05 11:59] 304NotModified opened #2060 "Don't get <contentfiles> working"
We like to make the [NLog.Config](https://www.nuget.org/packages/NLog.Config/) / [NLog.Schema](https://www.nuget.org/packages/NLog.Schema/) packages available for ASP.NET5 projects. We like to add a file to the root of the website, e.g. nlog.config.

But we don't get it working. The nlog.config is added to the bin folder, .e.g. C:\Users....dnx\runtimes\dnx-clr-win-x86.1.0.0-rc1-update1\bin

We tri

[2016-02-05 12:43] mak1453 commented on #2051
@emgarten , thank you for the recommendation. I have already contacted them as well. I just thought that someone could have done some work with CoApp here in this group and tried my luck.

[2016-02-05 13:31] williambernardet opened #2061 "Possibility to exclude transitive dependency"
In our project we need to replace a package fetched transitively by a package having a different name but providing same functionality. Like in Maven would it be possible to have something like this under project.json:
{
  "dependencies": {
    "packageA": {
      "version": "1.0.0",
      "include": "runtime",
      **"excludeDependency": ["packageB"]**
    }
    "packageBOverride": {
      "vers

[2016-02-05 13:48] boernie opened #2062 "Install package fails due to wrong resolving of dependency versions"
Hi there,

when trying to install my own package in a new project/solution, NuGet always tries to install (some of) its dependencies using the current last stable version - despite the fact, that I have listed all dependencies in the package's nuspec with "absolute versions" - they are defined with `version = "[X.X]"`. Also, the package includes all recursive dependencies with the matching version

[2016-02-05 15:19] AArnott opened #2063 "PCLCrypto cannot install into xproj targeting Profile328, although it seems it should"
Copied from AArnott/PCLCrypto#64

**Repro steps**

[code]

`dnu restore` at command line doesn't complain, but msbuild does:

In VS we see the same error in the error list and References folder.

Yet this version of PCLCrypto targets profile328 and has worked in the past. Why is it broken now?

[2016-02-05 16:32] TiltonJH commented on #1966
Well, either you are right and it is by design, which means the documentation is wrong. Or it is the other way around.
[Documentation: NuGet config extensibility point](https://docs.nuget.org/Consume/NuGet-Config-File#nuget-config-extensibility-point).

[2016-02-05 20:03] yugangw-msft opened #2064 "Nuget Push: before push the package, do not send out initial get request"
The "get" made by the command was to find the ultimate endpoint from the response, because for a while nuget server has a redirect fwlink configured, but it was removed later on. Based on the fact, new cmdlet doesn't need to do it any more.

[2016-02-05 20:03] yugangw-msft commented on #2064
won't fix per discussion

[2016-02-05 20:03] #2064 closed, assigned to nobody

[2016-02-05 20:11] alpaix opened #2065 "Add a xUnit trait(s) to indicate platform specific unit-tests"
Introduce a platform xUnit trait to indicate platform specific tests like this

[code]

Having the trait one can invoke xunit runner with `-ExcludeTraits "Platform=WindowsOnly"`

Opened as a follow up on:
https://github.com/NuGet/Home/issues/1053
https://github.com/NuGet/NuGet.Client/pull/253

[2016-02-05 20:15] emgarten commented on #2065
There is a similar attribute in the nuget.exe tests:
https://github.com/NuGet/NuGet.Client/blob/dev/test/NuGet.Clients.Tests/NuGet.CommandLine.Test/LocalResourceUtilsTest.cs#L63-L73

[2016-02-05 20:24] emgarten commented on #2060
Paths under `<contentFiles>` should not include `contentFiles`, everything is required to be under that folder so it is added for you. You can also use a wildcard to simplify this.

`<contentFiles>` is applied to the `contentFiles` folder when the package is consumed. In `<files>` which is used at creation time the config is only being copied to the `content` folder.

[code]

[2016-02-05 20:26] emgarten commented on #2060
Note also that contentFiles is only for immutable content. The user will not be able to modify this file and it will be copied to the output folder each time, potentially overwriting user changes.

[2016-02-05 20:27] yugangw-msft commented on #2065
I can do either way, @alpaix @emgarten , how about you 2 discussed and let me know the log term suggestion I should adopt. The attribute, in a nushell, is a if logic still, and it is different from the Trait

[2016-02-05 20:32] #1893 closed, assigned to nobody

[2016-02-05 20:33] emgarten commented on #2063
Has your environment changed from having Xamarin installed to not having Xamarin, or the reverse?

[2016-02-05 20:36] emgarten commented on #2061
Does it work to reference packageB with exclude: all? It would still bring in the package, but it would remove all assembly references from it.

[2016-02-05 21:03] joelverhagen opened #2066 "IVsPackageRestorer API does not support UWP projects"
Reported by @drewgil.

For UWP projects, calling `IVsPackageRestorer.RestorePackages` does nothing. This seems to be due to an explicit skip in our code.
https://github.com/NuGet/NuGet.Client/blob/3a9e61a52f0e9bc47380031bcddc0a73ff3883ea/src/NuGet.Core/NuGet.PackageManagement/IDE/PackageRestoreManager.cs#L156-L160

This should be provided to give a consistent experience across project types.

[2016-02-05 21:56] scottdorman commented on #2063
No, as far as I know nothing has changed in the environment except upgrading from VS 2015 to VS2015 Update 1. This PCL works properly when it's added to the original .csproj, just not when it's added to project.json.

Just in case, here is the information from the About dialog:

[code]

[2016-02-05 22:25] joelverhagen commented on #2017
Closed with https://github.com/NuGet/NuGet.Client/pull/254.

[2016-02-05 22:26] #2017 closed, assigned to joelverhagen

[2016-02-05 22:27] joelverhagen commented on #1391
Emailed @ericstj about this who got confirmation from Xamarin on this (mapping highest .NETStandard to Xamarin platforms). Closed.

[2016-02-05 22:27] #1391 closed, assigned to joelverhagen

[2016-02-05 22:34] emgarten commented on #2062
Would you provide a project and the packages needed to repro this?

[2016-02-05 22:36] #2060 closed, assigned to nobody

[2016-02-05 22:37] emgarten commented on #2060
We're tracking mutable content for project.json separately.

[2016-02-05 22:37] emgarten commented on #2061
https://github.com/NuGet/Home/wiki/%5BSpec%5D-Managing-dependency-package-assets

[2016-02-05 22:38] emgarten commented on #2061
Closing this issue for now, but we can continue the discussion in here until work items come up.

[2016-02-05 22:38] #2061 closed, assigned to nobody

[2016-02-05 22:40] emgarten commented on #2063
Does this work with nuget.exe 3.3.0? DNU does not support msbuild projects.

[2016-02-05 22:54] 304NotModified commented on #1979
+1

[2016-02-05 23:10] yishaigalatzer commented on #1979
@304notmodified for now you can use msbuild props for this, its a little more painful butbitb fully addresses the scenario

[2016-02-06 00:27] scottdorman commented on #2063
To be clear, this package installs properly in a csproj based project but fails to install when that same project (on the same machine) is "upgraded" to be an xproj/project.json based project. Nothing else has changed except for the project file(s).

[2016-02-06 15:50] AArnott opened #2067 "Disabling package restore on build in VS not honored"
Machine configuration:
- Visual Studio 2015 Update 2 CTP 1
- NuGet Package Manager 3.4.0

As shown in screenshot below, I try to disable package restore, and click OK. No error is shown. But build still executes a package restore. When I go back to this dialog, I see the checkbox is checked again. In fact if I clear the checkbox, click OK, and then immediately reopen the dialog, the checkbox is ch

[2016-02-06 19:37] emgarten commented on #2067
Do you have this setting enabled in the solution level NuGet.Config or a NuGet.Config in any parent directories?

I hit a similar issue yesterday where the setting was being modified by Visual Studio in the machine wide config, but another config was overriding it. That behavior is expected as far as I know, and the plan is to improve the settings UI to allow more control over hierarchical configs

[2016-02-06 19:44] emgarten commented on #2063
A project.json file used with a csproj is a subset of a project.json file used with an xproj, since csproj contains project references and other metadata while xproj is just a wrapper containing no additional information (with the exception of xproj -> csproj references). You may need to do more than just change the project file.

The current release version of NuGet.exe does not support XProj, bu

[2016-02-06 21:45] dougbu commented on #1588
Something has recently regressed w.r.t. `--quiet` support. With the current .NET CLI, our builds look like:

[code]

Not positive this is NuGet-specific since other `dotnet` commands look rather messy e.g.

[code]

(At least the `dotnet restore` output was colourized correctly.)

[2016-02-06 21:46] AArnott commented on #2067
Yes, I have a nuget.config file with this content:

[code]

Is the `<add key="enabled" value="True" />` tag what's giving me grief? I can just remove that. It's been there since back when NuGet 1.0 was a new thing. :)

[2016-02-06 21:49] #2067 closed, assigned to nobody

[2016-02-06 22:48] dougbu commented on #1588
FYI I filed dotnet/cli#1274 about the other `dotnet` command output.

[2016-02-07 01:04] dougbu opened #2068 "`dotnet restore` ignores `locked: true` in `project.lock.json` files"
Though `dnu restore --lock` remains an important part of many developers' workflow, `dotnet restore` unconditionally floats the package versions. This results in a number of problems:
- Offline builds using the current aspnet tooling are impossible.
- Builds are significantly slower, even when all packages are already the latest.
- .NET CLI packages are often inconsistent with the source developer

[2016-02-07 01:58] dougbu opened #2069 "Regression (expansion) in `dotnet restore --quiet` output"
Something has recently regressed w.r.t. `--quiet` support. With the current .NET CLI, our builds look like:

[code]

[2016-02-07 02:09] dougbu opened #2070 "`dotnet restore` does not choose feeds as `dnu restore` did"
Despite #1588, `dnu restore` and `dotnet restore` don't even use the same feeds. For example, in the same project directory:

[code]

versus

[code]

The additional https://www.myget.org/F/aspnetcidev/api/v3/index.json feed should have been overridden. Effectively `dotnet restore` has ignore the fact `AspNetVNext` is disabled in C:\Users\dougbu\AppData\Roaming\NuGet\nuget.config

Of course the `dn

[2016-02-07 02:10] dougbu commented on #1588
Decided the `dotnet restore` regression described above is a separate issue. Filed #2069.

[2016-02-07 02:15] yishaigalatzer commented on #2069
@dougbu can you share the before compared to the after and what is the expected output?

[2016-02-07 03:31] dougbu commented on #2069
I don't have the before picture because I closed that PowerShell window, sorry. For comparison, `dnu restore --quiet` outputs:

[code]

`dnu restore` outputs:

[code]

And `dotnet restore --quiet` or `dotnet restore` outputs 3 screenfuls of information:

[code]

[2016-02-07 03:44] dougbu commented on #2068
Of course it would be even better if `dotnet restore` supported `dnu restore`'s `--lock` and `--unlock` options.

[2016-02-07 03:53] dougbu commented on #2069
Even `dotnet restore --verbosity error` isn't as quiet and doesn't contain as much useful data as `dnu restore --quiet`. Can't turn off the list of feeds, which changes very rarely. And neither `--verbosity warning` nor `--verbosity error` provide information about the current project(s) during a recursive `restore`.

Regardless, `dotnet restore --quiet` shouldn't act identically to `... --verbosi

[2016-02-07 12:35] forki opened #2071 ""dotnet restore" is using versions that were not specified in project.json"
I have the following project.json:

[code]

when I run "dotnet restore" I get:

![image](https://cloud.githubusercontent.com/assets/57396/12872226/564c30b2-cd9d-11e5-8c1b-13cc75bf176d.png)

Why is it not using the versions that I have specified?

[2016-02-07 12:40] sliekens commented on #1983
I edited my post to make the important bits stand out more. If nobody wants to grab this then I'll have a go at it when time permits it.

[2016-02-07 12:51] forki commented on #2071
Ok I tried `[4.0.0]` and get

![image](https://cloud.githubusercontent.com/assets/57396/12872371/f42a89f6-cda1-11e5-9602-c8107305ac7e.png)

[2016-02-07 14:16] davidfowl commented on #2071
Using `[4.0.0]` shouldn't float, however, the naked `4.0.0` is a minimum (just like it is with packages in general)

/cc @emgarten

[2016-02-07 16:23] jackmott opened #2072 "System.numerics.vectors does not install properly in F# projects"
Using nuget to install System.numerics.vector in Visual Studio 2015 Update 1 does not work. Specifically the following lines are missing from the project file:

[code]

This installs properly with Paket suggesting it is a nuget bug rather than a visual F# bug.
Some other discussion on this issue:
https://github.com/dotnet/corefx/issues/3103

[2016-02-07 16:38] jackmott commented on #2072
Looks like this issue has been reported before and Nuget thinks it is visual studio's fault, and vice versa. Hopefully a solution can be arrived at one way or another.: https://github.com/Microsoft/visualfsharp/issues/939

[2016-02-07 17:37] forki commented on #1510
Could you please consider to fix it in NuGet?
The F# project system should really not be changed because of the package manager (only if there is no other way).

https://github.com/Microsoft/visualfsharp/issues/939 shows it's an issue that is coming back again.

[2016-02-07 17:47] borgdylan commented on #2068
:+1: I agree that being able to lock the project file is very important short of messing with NuGet.config to prevent updates.

[2016-02-07 17:49] yishaigalatzer commented on #1510
The problem is that the thing that is non standard here is the project system rather than nuget, which is why we are suggesting fixing it there rather than having an explicit condition in nuget to work around the f# difference.

I'm glad to continue the discussion of if you can come up with a good pull request.

Adding @pilchie for further discussion

[2016-02-07 18:25] forki commented on #1510
and then

I give up ;-)

[2016-02-07 18:40] yishaigalatzer commented on #1510
Mmm :( you are right

[2016-02-07 19:33] isaacabraham commented on #2071
@davidfowl should it get RC versions as well by default? Also - and I'm a bit out of date with project.json / restore behaviour here so apologies - I thought the default behaviour was lowest first rather than highest?

[2016-02-07 19:46] forki commented on #2071
Tbh I don't want to question syntax here. I will take whatever works, but I really hope there is a way to make nuget restore the version I specified.

[2016-02-07 20:09] davidfowl commented on #2071
It is lowest. I actually don't know what's happening to your packages. Maybe a simple repro with a single package would be better? You might even be asking for packages that don't exist on any feed (those packages on myget get cleaned up pretty often).

[2016-02-07 20:14] forki commented on #2071
It's there. I manually downloaded it.
On Feb 7, 2016 21:09, "David Fowler" notifications@github.com wrote:

[2016-02-07 20:14] forki commented on #2071
And if it's not there I think nuget should throw and error and never come
up with something else.
On Feb 7, 2016 21:14, "Steffen Forkmann" sforkmann@gmail.com wrote:

[2016-02-07 20:38] maciejw commented on #928
do you have in mind also `nuget pack project.csproj` a csproj that uses project.json to reference other packages? in 3.3 `nuget pack project.csproj` will not add dependecies defined in project.json

[2016-02-07 20:42] yishaigalatzer commented on #928
Yes, we want to support this scenario as well

[2016-02-07 20:57] emgarten commented on #2071
It looks like the version is being bumped up in the runtime graph. Here is what I see in the lock file:

| Target | Package |
| --- | --- |
| DNXCore,Version=v5.0 | System.Resources.ResourceManager/4.0.0 |
| DNXCore,Version=v5.0/win7-x64 | System.Resources.ResourceManager/4.0.1-rc3-23805 |
| DNXCore,Version=v5.0/win7-x86 | System.Resources.ResourceManager/4.0.1-rc3-23805 |

[2016-02-07 21:00] isaacabraham commented on #2071
@emgarten sorry. what is the "runtime graph"?

[2016-02-07 21:02] dersteve opened #2073 "Restore command doesn't know $(SolutionDir) when importing .prop file in project file"
When the **UWP project** imports a .props file via
`<Import Project="$(SolutionDir)\Project.Universal.props" />`
the nuget restore command fails, which runs before the build on my TFS Build Server (TFS 2015) because it tries to find this .props file on the root of the drive, which tells me that it doesn't set the $(SolutionDir) directory.

Nuget.exe 3.3 used on TFS Build Controller
XAML Build Defi

[2016-02-07 21:35] dsyme commented on #2072
It would be hugely helpful if the Nuget team could identify the failing VS project system calls they are making, i.e. what functionality they exercise for a VS project.  Once that is identified we can determine whether the fix is best made in Nuget (which is most likely) or in the project system implementation.

[2016-02-07 21:58] davidfowl commented on #2071
Looks correct then.

@isaacabraham @forki There's tons of vodoo going on that's way too hard to explain over this github issue.

[2016-02-07 21:58] davidfowl commented on #2071
Lets just say that the BCL packages aren't like any other packages that exist today on NuGet.org.

[2016-02-07 22:08] forki commented on #2071
Overriding users explicit settings? Is that a good idea?

[2016-02-07 22:30] isaacabraham commented on #2071
@davidfowl ok :-) Is there anywhere I can read up on this voodoo? When I see things like this with special cases for BCL packages and the like, it'd be good to understand why that's necessary.

[2016-02-07 23:05] emgarten commented on #2072
This looks similar to: https://github.com/NuGet/Home/issues/1510

Which contains more info on the APIs used.

[2016-02-07 23:12] dsyme commented on #1510
@yishaigalatzer Thanks for reopening

[2016-02-07 23:42] yishaigalatzer commented on #2072
This is indeed a duplicate of #1510. IMHO addreference should just do the right thing (as detailed in 1510). I'd like to avoid nuget being the shim to fix project system issues unless absolutely necessary.

[2016-02-07 23:42] #2072 closed, assigned to nobody

[2016-02-07 23:49] yishaigalatzer commented on #2073
I *\* think *\* this should work. Assigning to @jasonmalinowski to comment further.

[2016-02-07 23:54] yishaigalatzer commented on #2070
The behavior looks correct, you are actually not disabling the feed in your local nuget.config. If you disagree and have a repro please stop by @zhili1208 desk's on Monday

[2016-02-07 23:54] #2068 closed, assigned to nobody

[2016-02-07 23:55] yishaigalatzer commented on #2068
This feature was removed by design of @lodejard and @davidfowl long time ago

[2016-02-07 23:58] yishaigalatzer commented on #2071
Packages may bring in dependencies through the runtime graph, which is a way to bring in native dependencies for your runtime environment. Sometimes these dependencies are not just implementation details of the package but extra dependencies. In this case the extra dependency is bumping up the top level dependency.

This is something we are trying to figure out how to avoid, and we are in a discus

[2016-02-07 23:59] yishaigalatzer commented on #2069
@joelverhagen please take a quick look, if this is a low hanging fruit we might take it for 3.4 release. Otherwise it will go on the backlog to be prioritized with everything else open.

[2016-02-08 00:00] yishaigalatzer commented on #2052
We could consider this as an option. I to have been burned by this, we could potentially do the save all only after all the operations have been completed.

[2016-02-08 00:04] forki commented on #2071
I guess my point is: the tool should never override the user. I mean it can
suggest other options or fail when things are unsound, but never override
the users decision.
On Feb 8, 2016 00:58, "Yishai Galatzer" notifications@github.com wrote:

[2016-02-08 00:19] lodejard commented on #2068
Indeed - at the time there was a spec of a different "lock" and "unlock" that doesn't have all the problems that lock: true causes. But that takes time...

[2016-02-08 00:20] CraigSelbert commented on #2052
@yishaigalatzer That would work for my scenario's, I guess it does matter if the command was executed by command line vs UI, not sure how the UI actually knows when it is completed but I do know the UI does a auto refresh when it is complete.

[2016-02-08 00:51] davidfowl commented on #2071
It doesn't like I said, it's a topic for a blog post or documentation or white paper. It's a whole feature within itself designed for shipping something like the bcl as nuget packages. The packages are not special cased but are using a new mechanic invented for nuget packages to bring in runtime dependencies.

[2016-02-08 06:58] maartenba opened #2074 "Encoding problems"
_From @xperiandri on February 5, 2016 22:51_

[code]

Compare
`C:\Users\�Ԧኽ\AppData\Roaming\NuGet\nuget.config`
`C:\Users\Андрій\.dnx\runtimes\dnx-clr-win-x86.1.0.0-rc1-update1`

_Copied from original issue: NuGet/NuGetGallery#2876_

[2016-02-08 07:57] forki commented on #2071
@emgarten

I just looked into the project.json.lock and saw all relevant packages define:

[code]

So it seems there is nothing that would make the resolution unsound if NuGet would pick 4.0.0.
And I define it as direct dependency with specific version requirement in project.json.

So yes the "version is being bumped up in the runtime graph", but why?

[2016-02-08 10:45] boernie commented on #2062
Hi "Emgarten",

while trying to provide you with a project and packages, I found that the problem must be related to my package and dependency design - and not in how NuGet is performing its package resolution.

I cannot provide you with the real packages, since they are part of my company's production code - and with "artificial" packages and projects the problems do not occur.

So, I would like

[2016-02-08 10:45] #2062 closed, assigned to nobody

[2016-02-08 12:53] isaacabraham commented on #1510
So is the solution to fix the C# project system to do the right thing then? What about .vbproj?

[2016-02-08 13:18] dsyme commented on #1510
@isaacabraham Our understanding is that the F# project system is doing something different to C# and nuget has exposed this. @yishaigalatzer will add details about what they found on https://github.com/Microsoft/visualfsharp/issues/939 - the screenshot above shows some details but they are still fuzzy.

In this case I believe we would adjust the F# project system to do the same thing as C#, that's

[2016-02-08 13:21] isaacabraham commented on #1510
The reason I mentioned that was based on Yishai's comment about a hack in Nuget to "work around" the C# project system. Or did I misread, and it's an issue with the project system across all three languages.

[2016-02-08 13:34] forki commented on #1510
@dsyme yes adjusting the F# project system to make it behave more like C# is a good idea. But from users perspective: fixing it first in nuget would help users to actually work with it as expected (also with older and unpatched project system). Nuget has much shorter release cycle, so users would benefit greatly from a workaround here.

(the fix in F# project system is still a good thing)

[2016-02-08 13:36] dsyme commented on #1510
Given there are workarounds I believe the fix will be on the F# side, rather than getting into a cat-and-mouse game of mutual fixes.

[2016-02-08 14:16] wldevries opened #2075 "<contentFiles> doesn't work for standard .csproj project"
I'm struggling getting contentFiles to work in a standard csproj project. The file below generates a nupkg that contains all the files in /contentFiles that it should. However when I consume the nuget package in a standard csproj project nothing is copied to the output folder. I checked the .csproj file expecting a postbuild task, but nothing was added.

The [example project](https://github.com/Nu

[2016-02-08 14:18] wldevries commented on #2075
Okay sorry, I read over the part where it mentions that this feature is project.json only. A shame..

[2016-02-08 14:20] wldevries commented on #2075
I didn't read over it, it isn't mentioned in the [official documentation](https://docs.nuget.org/create/nuspec-reference#contentfiles-with-visual-studio-2015-update-1-and-later). I read it in a [blog post](http://blog.nuget.org/20160126/nuget-contentFiles-demystified.html).

[2016-02-08 14:29] csharpfritz commented on #2075
Added reference to project.json only in the docs.

[2016-02-08 14:29] #2075 closed, assigned to nobody

[2016-02-08 14:54] roy-t commented on #2075
Can we make this bug into a feature request? Or is there already a feature request for supporting contentFiles in csproj?

[2016-02-08 15:57] yishaigalatzer commented on #2052
This will only be relevant for the UI. The command line only works on files on disk.

[2016-02-08 16:36] nodakai opened #2076 ""-Verbosity detailed" should display HTTP(S) requests on console to help troubleshooting"
My NuGet is experiencing a network problem probably due to a corporate firewall and I'm struggling to diagnose what exactly has gone wrong because it says nothing other than

[code]

NuGet should support displaying raw HTTP(S) requests/responses like "curl -v" and "-Verbosity detailed" should turn it on.

[2016-02-08 16:51] yishaigalatzer commented on #1510
@isaacabraham to explain my comment: NuGet added a hack to fix a c# project system bug, f# has the same bug and also a slightly different behavior.

My recollection about the c# project system is tha the owners of the c# project system have a much higher spread and hence a much higher potential impact of things breaking down if it got fixed. Since it will probably go to CPS at some point, that wou

[2016-02-08 16:56] AArnott opened #2077 "Uninstall of NuGet VS extension fails"
VS 2015 14.0.25005.0 Update 2 CTP
NuGet Package Manager for VS: 3.4.0.531

In the dialog shown below, I click Uninstall on the NuGet Package Manager for Visual Studio. I am presented with a UAC dialog and approve. Then the gray UAC screen lingers for perhaps 20 seconds, and I am returned to the dialog below with no apparent removal having occurred. No errors are shown.

![image](https://cloud.gith

[2016-02-08 17:23] joelverhagen commented on #2069
We need to decide on the desired functionality here. The previous ask was to a) have HTTP statuses (e.g. those `GET` and `NotFound` lines) show by default but b) have a way to silence these while still leave the `Installing {package ID} {version}...` message. This was implemented with a `--verbosity minimal`.

To summarize, it seems some problems with the current implementation (@dougbu, please ad

[2016-02-08 17:29] jasonmalinowski commented on #2073
How did the SolutionDir reference get into the project in the first place?

[2016-02-08 17:30] jasonmalinowski commented on #2073
(@yishaigalatzer: the build task has nothing to do with this; it never does anything with SolutionDir. This would be a core client restore bug for purposes of setting the area for this bug.)