[2017-08-30 00:57] abpiskunov commented on #5820
hm , but you do have full path to csproj file don't you? it is specified in the ProjectReference. Could you do something with that without DTE?

[2017-08-30 00:58] emgarten commented on #5818
@divega no, unfortunately there isn't a way to define multiple ranges of allowed clients. Example: >= 3.6.0 && < 4.0.0   or  >= 4.3.0

We have been investigating how to improve this, and if we could allow for these ranges or add a capability check to the nuget client, but it doesn't exist currently.

[2017-08-30 01:01] emgarten commented on #5820
Not that I know of. NuGet currently doesn't have a way to work with msbuild directly from VS, the project system handles this and for classic projects NuGet works by using an interface to read PackageReferences, and IVSHierarchy/DTE to read properties needed for restore.

[2017-08-30 03:11] emgarten commented on #5820
The project system handles reading project files, which is the missing piece here, I think this issue is best tracked here: https://github.com/dotnet/project-system/issues/2759

[2017-08-30 09:57] Ic3fr0g commented on #5705
Try `sudo chown -R (username-here) /usr/local/share/man/man5`.

[2017-08-30 11:10] williamb1024 opened #5821 "Nugetizer 3000 - TargetPathWithPlatformMoniker item not defined correctly."
The ordering of GetTargetPathWithPlatformMoniker, UpdateTargetPath and GetTargetPath targets is ambiguous.

Currently, GetTargetPathWithPlatformMoniker and UpdateTargetPath reference GetTargetPath in their respective BeforeTargets attribute. Leaving MSBuild free to determine the order in which GetTargetPathWithPlatformMoniker runs in regard to UpdateTargetPath.

As GetTargetPathWithPlatformMoniker

[2017-08-30 13:11] atanasa commented on #5062
What if I want to set this property in an MSBuild Target rather than pass it from outside of MSBuild? Thus the build from the command line would match the behavior of the one in VS.
I think ideally you should define a target that is responsible for setting the package version and use that when the version is needed. I think currently there is a private target that can be used to achieve this when

[2017-08-30 13:17] atanasa commented on #5062
Also having this be read on Restore prevents any integration with targets that are part of packages, as those are not imported yet into the csproj. That is, this information does not seem to belong in the Restore phase.

[2017-08-30 14:36] AndreyAkinshin commented on #4190
@mbrookson, I patched NuGet in Rider and fix the problem. Rider 2017.2 EAP 1 will support the installation of such packages (will be available soon).

[2017-08-30 15:09] mqudsi opened #5822 "Visual Studio should not show updates that have unmet framework dependencies"
_Running Visual Studio 2017 15.3.0 Preview 7.1_

Currently, Visual Studio's nuget integration shows an available update for packages that have updates available that cannot be installed on any of the current configurations.

For example, a dependency on `Microsoft.AspNetCore.Cryptography.KeyDerivation` version 1.1.2 will trigger the "update available" UI because `Microsoft.AspNetCore.Cryptography.

[2017-08-30 15:14] mqudsi opened #5823 "Visual Studio package manager does not handle `ItemGroup Condition` very well"
_Running Visual Studio 2017.3 Preview 7.1_

Visual Studio's package manager has a hard time dealing with conditional dependencies. I'm not sure this is always reproducible as I believe some internal state values also come into play, but with a `.csproj` for a multi-targeted project similar to what follows:

[code]

Attempting to uninstall a conditional dependency such as `System.Security.Cryptogra

[2017-08-30 17:00] #5821 closed, assigned to nobody

[2017-08-30 17:04] rrelyea commented on #5815
from @rohit21agrawal:

[code]

Given that info, we still need to determine the right fix, and what changed (if anything) since 15.2.

[2017-08-30 17:58] rrelyea commented on #5815
This was a fallout of the work we did to make UAP TFMs have "real versions".
This included work in VS to get TPMV from the project file, and add it to the framework in project.json.

We are investigating these possible fixes:
1. In VS for C++ projects, turn off the updating of the UAP version in project.json
1. Change the target logic that @rohit21agrawal  mentioned so that it supports native code

[2017-08-30 19:41] emgarten commented on #5823
This issue is tracked here along with a possible workaround: https://github.com/dotnet/project-system/issues/1542

[2017-08-30 20:09] rrelyea commented on #5822
Very important issue, we agree. In our backlog. Changing the title to reflect what we call it.

[2017-08-30 20:21] rrelyea commented on #5823
Keeping open, but tracking as external issue. Thanks @emgarten

[2017-08-30 21:14] mqudsi commented on #5822
Thanks.

[2017-08-30 21:32] rrelyea commented on #5815
Fixed in VS 2017 version 15.3.3 (released on 8/29/2017).

[2017-08-30 21:33] rrelyea commented on #5815
my mistake...reopening..(confused the other issue with this one).

We are preparing a fix for this. After that, we'll work with VS Shiproom to deliver asap.
Workaround: restore from command line (msbuild /t:restore) instead of inside VS.

[2017-08-30 21:34] rrelyea commented on #5806
Fixed in VS 2017 version 15.3.3 (released yesterday).

[2017-08-30 21:34] #5806 closed, assigned to nobody

[2017-08-30 21:46] emgarten opened #5824 "Move error codes with warning numbers to error range"
NU1607 and NU1606 are errors but they are in the warning code range. They should be moved to the error range.

[2017-08-30 22:08] mamaso opened #5825 "Correctly create 'copyToOutput' .nuspec from .csproj"
I'm trying to use the new .csproj format to generate a .nuspec which copies files to output directory for dependent projects, something like.:
[code]

However, I can't seem to get a .csproj which does this correctly. The following .csproj does not generate any <contentFiles> element in the .nuspec.
[code]

In contrast, using Content generates contentFiles, but does not copyToOutput in dependent pr

[2017-08-30 22:12] dasMulli commented on #5825
https://github.com/NuGet/NuGet.Client/pull/1450 introduced specifying metadata `PackageCopyToOutput="true"` on content elements.

[2017-08-30 22:54] mamaso commented on #5825
thanks @dasMulli!

[2017-08-30 22:54] #5825 closed, assigned to nobody

[2017-08-30 22:54] #5814 closed, assigned to emgarten

[2017-08-30 23:31] #5815 closed, assigned to nobody

[2017-08-31 00:10] #4967 closed, assigned to emgarten

[2017-08-31 03:45] nguerrera opened #5826 "Ability to dogfood nupkg via PackageReference"
_From @am11 on August 22, 2017 17:51_

In addition to #1151 (swapping package reference with sources when available available), would be cool if we can also easily dogfood our `.nupkg` produced by `dotnet pack` which can be used in the integration / packaging tests, for instance.

[code]

Here `PackageReference` task will first figure out if `Include` value is a local path then don't hit the serve

[2017-08-31 03:46] nguerrera opened #5827 "Offline restore experience is not good"
_From @bruce31 on August 23, 2017 18:22_

It took nearly 4 minutes to decide it could not proceed!
This was with WiFi on but on public transport so a weird pseudo connection state.
With WiFi off it took just over a second to give the same error.
Shouldn't it fail over to the cache in this circumstance?
Why does it not show the nuget config files and sources that it used?
Is there a recommended way

[2017-08-31 04:03] nguerrera opened #5828 "dotnet restore hangs indefinitely, spinning CPU"
_From @kierenj on August 4, 2017 6:23_

Hi - this just started today.  Let me know what further info I can give to diagnose.

`dotnet restore -v diag` gives the following, no error messages:

https://gist.github.com/kierenj/4b4c3c0faf36716ef7971b37824bb776

I then have 4 `dotnet` processes running, each taking 12% CPU, and no network activity that I can see.

`dotnet --version` : `2.0.0-preview2-0

[2017-08-31 04:03] nguerrera commented on #5828
_From @kierenj on August 8, 2017 7:28_

My project is stalled until I can work out what to try next here - is there anything I can do to diagnose/debug?  It's a complete hang, repeatable and consistent.  Maybe there are some debug symbols around so I can attach/break and try to share a stack trace?

[2017-08-31 04:03] nguerrera commented on #5828
_From @kierenj on August 8, 2017 7:41_

I just stumbled across https://github.com/dotnet/sdk/issues/1434.  I do indeed have a nested `node_modules` hiding away.

The issue was closed, which is good, but I'd like to see if this is expected.. I used `<SetLinkMetadataAutomatically>false</SetLinkMetadataAutomatically>`, however it still takes a fairly long time (22 seconds) before the restore actually

[2017-08-31 04:03] nguerrera commented on #5828
_From @dasMulli on August 8, 2017 7:43_

are you using any myget feeds? I've seen similar behaviour when using some myget feeds with a lot of prerelease versions (dotnet-core) from a location with a bad connection to myget.. but that only was for the first restore using that feed.

[2017-08-31 04:03] nguerrera commented on #5828
_From @kierenj on August 8, 2017 8:46_

I am - 2 or 3 in fact.  I did remedy this completely by moving my client code to a different folder structure.  Do you mean that it might be a combination of the two things - a big subfolder structure, plus some myget feeds?

[2017-08-31 04:03] nguerrera commented on #5828
_From @dasMulli on August 8, 2017 9:30_

Maybe - however you can do `dotnet restore /clp:PerformanceSummary` to get a time summary of the tasks and targets. if none show high numbers, you can assume it's the directory scanning..

[2017-08-31 04:03] nguerrera commented on #5828
_From @kierenj on August 10, 2017 6:46_

With the metadata project property set to false, here's the output:

[code]

I don't know if that gives new information or not - let me know if there's anything else I can provide that's helpful

[2017-08-31 04:11] nguerrera opened #5829 "Duplicate NU1701 warnings when multi-targetting to netcoreapp2.0 and net461"
_From @anangaur on August 4, 2017 18:24_

1. Create a new NetCore 2.0 Console App
2. Multi-target to netcoreapp2.0;net461:
`   <TargetFrameworks>netcoreapp2.0;net461</TargetFrameworks>`
3. Add a NuGet reference to a net 461 compat package like RestSharp
**Expected**: One NU1701 warning for .NET Core 2.0 target platform
**Actual**: Two warnings but both for the same .NET Core 2.0 target platform:
!

[2017-08-31 04:33] dasMulli commented on #5828
After having investigated on https://github.com/Microsoft/msbuild/issues/2453 and a similar issue exists at https://github.com/dotnet/cli/issues/7525, @kierenj can you check If the solution of these helps?:

[code]

[2017-08-31 04:37] nguerrera commented on #4463
Possible issues in SDK too: dotnet/sdk#1438

[2017-08-31 06:25] alexdrl opened #5830 "Feature Request: Project wildcard in CLI Pack command."
Is there any chance to get project wildcard like in 'nuget push' command, but in the 'nuget pack' command?. We updated to TFS 2017 Update 2, and Nuget Packager Build Task got deprecated, so we need to use the CLI. Using the CLI we discovered that with the pack action, we need to specifiy one project.

We also discovered that 'dotnet pack' already supports it, but dotnet CLI does not work with pre-

[2017-08-31 07:19] sbespalov opened #5831 "`nuget push` sends empty package content in case of Basic Authentication used on server"
## Details about Problem
Hi guys, sorry for bothering you again, but I have tried nuget.exe v3 client, as you suggested in my previous issue [here](https://github.com/NuGet/Home/issues/5811). And now I have problem pushing packages into my server. The thing is that my server uses Basic Authentication for PUT requests and it worked fine with v2 client, but v3 client always sends empty content with

[2017-08-31 09:12] davidfowl commented on #5804
Where? Wherever it is today is invisible

[2017-08-31 10:19] ghost commented on #5720
I'm currently experiencing the same problem with a _regular_ NET.4.5.2 project. So it appears this problem is **NOT** NETCore related. Any progress on this issue would be much appreciated.

[2017-08-31 13:52] PhilipDaniels commented on #5738
I believe you are experiencing exactly the issue I logged in Feb 2016 in issue #2138 It was noted as a Priority 1 bug but has not been actioned :-(

[2017-08-31 14:59] mm6502 opened #5832 "nuget pack looks for files at wrong place for multitarget csproj"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (4.1.0.2450):

dotnet.exe --version (if appropriate): n/a

VS version (if appropriate): 15.3.3 (2017 Enterprise)

OS version (i.e. win10 v1607 (14393.321)): win10 x64 v1703 (15063.483)

Worked before? If so, with which NuGet version: unknown

## Detailed repro steps so we can see

[2017-08-31 15:29] hoagsie opened #5833 "nuget spec doesn't detect csproj dependencies"
When I run `nuget spec` on a directory containing a csproj, I don't get any dependencies generated in the nuspec for either project or package references regardless of whether they are in a packages.config or a package reference.

I'm using 4.3.0 of the CLI.

[2017-08-31 16:25] chiefengineer opened #5834 "Visual Studio 15.3.3 displaying incorrect version on "Installed" tab"
## Details about Problem
Visual Studio NuGet package manager UI is showing an incorrect package version for installed packages.

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
VS UI

NuGet version (x.x.x.xxx):
- not sure how to tell this, it's what comes with VS 2017 15.3.3 (latest version). The nuget.exe program has independently been upgraded to version 4.1.0.2450

[2017-08-31 16:37] chiefengineer opened #5835 "Visual Studio 2017 failing to install nuget package in .NET 4.7 project (path too long)"
The following is a copy of StackOverflow issue:
https://stackoverflow.com/questions/45972266/solved-visual-studio-2017-failing-to-install-nuget-package-in-net-4-7-project/45975065#45975065

I'm getting the following error when attempting to install a nuget package into a standard .NET framework 4.7 project:

"The specified path, file name, or both are too long. The fully qualified file name must b

[2017-08-31 16:59] niqhtei commented on #3891
+1. Can't stress enough how much this is needed for my project.

[2017-08-31 17:22] rohit21agrawal commented on #5720
@basbossinkdivverence could you please attach a repro project for us to investigate?

[2017-08-31 17:24] CraigN commented on #3891
+1

[2017-08-31 17:31] jainaashish commented on #4307
Bringing this into 4.4 we have to get the right design in place to fix it once and for all. It impacts other scenarios as well like Test Explorer not able to discover tests on solution load since project is being nominated late.

[2017-08-31 18:13] emgarten commented on #5828
@kierenj how long does it take if you run `msbuild /t:clean` on the same solution?

[2017-08-31 18:43] rohit21agrawal commented on #5832
@mm6502 nuget.exe doesn't have support to pack NETCore projects yet.

if you are setting GeneratePackageOnBuild to true , then you don't need to call the pack target separately.

[2017-08-31 18:43] rohit21agrawal commented on #5829
@mishra14  would you take a look here? pretty easily repro-able

[2017-08-31 18:45] rohit21agrawal commented on #5834
@PatoBeltran would you take a look at this as you are already working on something related?

[2017-08-31 18:47] mishra14 commented on #5829
This seems like an issue in the sdk target that reads the warnings from assets file because the nuget generated assets file contains only 1 warning -

![capture](https://user-images.githubusercontent.com/10507120/29939860-392a29e6-8e42-11e7-9a76-915076d557be.PNG)

[2017-08-31 18:48] rohit21agrawal commented on #5833
@hoagsie nuget spec only look at metadata (either from assembly or csproj) and isn't supposed to fill up dependencies ( project refs or package refs) . What is the scenario you are trying to do exactly?

[2017-08-31 18:49] chiefengineer commented on #5834
uh, sorry, but take a look at what, exactly? All I see is the request to
"take a look..."

"Bang the Button - It Just Works!"

On Thu, Aug 31, 2017 at 11:45 AM, Rohit Agrawal <notifications@github.com>
wrote:

[2017-08-31 18:49] rohit21agrawal commented on #5831
@zhili1208 can you take a peek at this?

[2017-08-31 18:50] mm6502 commented on #5832
@rohit21agrawal It is not a NETCore project. It is a netstandard project. (At least by the VS project template description.)

That may be true. But it seems like a bug to me, anyway. Still, I would prefer the nuget way, since I have to call it anyway to restore packages before build; and want to build a Symbols package. (I do not know how to do it with msbuild.)

[2017-08-31 18:50] rohit21agrawal commented on #5830
@alexdrl could you please elaborate on your scenario with an example ? i am not sure i understand completely what you are trying.

[2017-08-31 18:50] mishra14 commented on #5829
I have commented on the sdk issue to re open it.

[2017-08-31 18:51] rohit21agrawal commented on #5827
@emgarten i know there is a tracking issue for this..can you de-dup this one?

[2017-08-31 18:54] rohit21agrawal commented on #5832
to restore you can do ``` msbuild /t:restore ``` , and to create symbols package you can do ``` msbuild /t:pack /p:IncludeSymbols=true ```  .

[2017-08-31 18:56] rohit21agrawal commented on #5832
@mm6502 let me know if that worked for you and i will close this issue.

[2017-08-31 18:58] mm6502 commented on #5832
Thanks. That should solve my problem. Unfortunately, earliest I can try on monday.

[2017-08-31 18:58] hoagsie commented on #5833
I have a project with 5 nuget packages that I want to pack. When I used `nuget spec project.csproj`, none of those packages were added to the nuspec as dependencies. From the description of the spec command [here](https://docs.microsoft.com/en-us/nuget/create-packages/creating-a-package#from-a-visual-studio-project), I would expect it to do that. I had to do this part myself.

[2017-08-31 19:00] rohit21agrawal commented on #5833
oh i see. my bad. would you be able to attach a repro project for us to investigate?

[2017-08-31 19:01] rohit21agrawal commented on #5832
sure, no worries. also, please note that whenever GeneratePackageOnBuild is set to true, you shouldn't call the pack task directly as it skips building to avoid a circular dependency between targets.

[2017-08-31 19:02] nguerrera commented on #5829
Reopened sdk issue

[2017-08-31 19:02] mishra14 commented on #5829
Thanks @nguerrera. I am closing this issue.

[2017-08-31 19:02] #5829 closed, assigned to nobody

[2017-08-31 19:10] alexdrl commented on #5830
@rohit21agrawal what we want to do is something like 'nuget.exe pack **\*.csproj'

[2017-08-31 19:12] rohit21agrawal commented on #5830
oh, i see what you are saying. nuget.exe doesn't support it out of the box, but you can easily leverage the power of msbuild to enable a scenario like that. let me know if  you need help writing a target to do the same.

[2017-08-31 19:22] alexdrl commented on #5830
@rohit21agrawal the problem is that we don't have the 'Pack' target in the .Net Desktop packages so the build fails. I know it's a complex scenario, but I expect pack to work like push.

[2017-08-31 20:12] zhili1208 commented on #5831
This was a bug in mono, they fixed it, I'm not sure which version contains the fix, Could you try latest mono?

[2017-08-31 20:35] JonDouglas commented on #5463
This bug is really hard to workaround in most cases. I would think that any package that has a dependency of `>=` should be fine if previous nugets match the dependency. Instead because of this bug, you have to uninstall dependencies and ensure they are installed via the parent package first. `packages.config` works as a general workaround, but for those already committed to `<PackageReference>`,

[2017-08-31 20:41] davidfowl commented on #5463
There shouldn't be a conflict if there's no upper bound. I believe there was a bug with printing out the upper bound in the error message that was recently fixed.

Can you look at the project.assets.json in the obj folder

[2017-08-31 21:00] hoagsie commented on #5833
[NuspecSample.zip](https://github.com/NuGet/Home/files/1268500/NuspecSample.zip)

The nuspec in there was generated with a `nuget spec` using the 4.3 CLI. However, as you can see in the following, I do, in fact, have some nuget references.

![nuspec references](https://user-images.githubusercontent.com/20057078/29945210-4792f6ee-8e6e-11e7-83dd-f8f745652130.PNG)

Updated with new zip. Old one had a

[2017-08-31 21:26] rohit21agrawal opened #5836 "pack does nothing if you delete the previous output from disk"
[ClassLibrary46.zip](https://github.com/NuGet/Home/files/1268533/ClassLibrary46.zip)

Right click on the project in solution explorer, and click "Pack" - the nuget package is produced in the output folder (I.e bin/debug). Now open windows explorer and delete the nuget package file. Right click on the project in solution explorer and click "pack" again. Nothing happens. No errors or warnings. No nu

[2017-08-31 21:36] mishra14 opened #5837 "passing multiple sources does not work for Install-Package command in PMC"
## Details about Problem

I am not able to pass multiple sources for `Install-Package` command. The help test does not provide the correct information.

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): PMC

NuGet version (x.x.x.xxx): 4.4.0.4434

VS version (if appropriate): 15.4 Preview 2 | d15rel/26828.0

## Detailed repro steps so we can see the same problem

1. Fil

[2017-08-31 21:38] mishra14 commented on #5489
@larssb : It seems that we have a bug there. I have logged it at https://github.com/NuGet/Home/issues/5837.

In the meantine, i would suggest, adding the sources to the config file or through the UI. You can use this [doc](https://docs.microsoft.com/en-us/nuget/create-packages/source-and-config-file-transformations) if you need.

Please let me know if you need any more help!

[2017-08-31 22:07] mishra14 commented on #5767
@psandhu79 I think the issue is that restore expects a complete source path.

So you will have to execute -
[code]

or if you have already added the source to a config file, then just execute -

[code]

Please let us know if you need more help!

[2017-08-31 22:42] aphel commented on #3591
Just ran into a bit of an issue with this. We've got a few different versions of nuget used on our build agents (yeah, I know...). Some of them (the repo-specific ones) populate packages-cache whereas the system-wide version is up-to-date, thus it won't clear the packages-cache location (we want to do this on a weekly basis).
It appears to me that keeping the support of clearing the packages-cache

[2017-08-31 23:20] divega commented on #5818
@emgarten thanks. In that case I would still like to propose the error is improved.

What we are seeing right now is customers complaining to package authors that their libraries targeting .NET Standard 2.0 are not supported in .NET Framework 4.6.1 and up, when the reality is that they are.

[2017-08-31 23:38] rrelyea commented on #5818
@divega - are your packages that are targeting NetStandard 2.0 using MinClientVersion of 3.6? If not, please do that, as the best way to help get old nuget clients to update.

@divega - how would you suggest we improve the error?

@karann-msft - can we please work on a doc issue to make sure that our docs provide guidance for NetStandard 2.0-only package publishers use MinClientVersion=3.6.0?

[2017-09-01 00:40] rrelyea commented on #5180
Completed in VS 2017 version 15.4 preview 2.

[2017-09-01 04:15] divega commented on #5818
@rrelyea

I have created https://github.com/aspnet/EntityFrameworkCore/issues/9668 for this.

It depends on whether it would make sense for NuGet client to handle .NET Standard versions that it doesn't know about in a special way. E.g. if NuGet client encounters the condition under which it now returns this error, but it finds that the package targets any version of .NET Standard that it doesn't k

[2017-09-01 05:26] JonDouglas commented on #5463
Here's a quick example in `Xamarin.Android`:

Project A(`PackageReference`):

- `Install-Package Xamarin.Android.Support.v7.RecyclerView -Version 25.4.0.2` (Success)
- `Install-Package Xamarin.GooglePlayServices.Maps -Version 42.1021.1` (Failure)

**Xamarin.GooglePlayServices.Maps Package Manager Output:**
[code]

**project.assets.json**:
[code]

Project B(`packages.config`)

- `Install-Package Xa

[2017-09-01 07:22] psandhu79 commented on #5767
Hi @mishra14
I can confirm this works
nuget.exe restore Extensions\Solution\src\Solution.sln

However i wanted to be able to limit the feed used to just PetrelLibraries

If i use the following

nuget.exe restore Extensions\Solution\src\Solution.sln -Source https://my.visualstudio.com/_packaging/PetrelLibraries/nuget/v3/index.json
 it does not use the PAT token in the config file.

Whats strange is

[2017-09-01 08:07] ghost commented on #5720
An example reproduction can be found [here](https://github.com/basbossinkdivverence/nuget-5720-repro).

[2017-09-01 08:08] sbespalov commented on #5831
@zhili1208 it works with `Mono JIT compiler version 5.2.0.215 (tarball Mon Aug 14 15:46:23 UTC 2017)`
many thanks, guys

[2017-09-01 09:54] sbespalov commented on #5831
I have problems with `delete` now. It's again working with v2 client and don't working with v3.
I have console log below:
[code]

When it saying `Using credentials from config. UserName: admin` there is no `Authorization: Basic <hash>` header within subsequent `DELETE` request.

@zhili1208 Can you please help with this too?

[2017-09-01 12:20] dweggemans commented on #4286
I have the same problem on my ci build based on image microsoft/aspnetcore-build:1.0-2.0-jessie. Workaround of privileged: true is not working. Any other workarounds?

Edit: it was a problem on our end. In our Cake build script we used `NuGetPush` instead of `DotNetCoreNuGetPush`.

[2017-09-01 13:47] valeriob commented on #5461
Hi,
what's the story about this scenario, is it going to be supported ?
Thanks

[2017-09-01 17:04] hoagsie commented on #5833
A small update. I just converted a project from using package references in the csproj to the traditional packages.config and reran `nuget spec -force` and dependencies still didn't get generated in the resulting nuspec. This aspect of `spec` seems completely busted.

To give some context as to why this is important to me at the moment, I'm having some issues with binding redirects in some in-hous

[2017-09-01 17:05] zhili1208 commented on #5831
Could you share the full client and server http request log for delete?

[2017-09-01 17:06] mishra14 commented on #5689
Merged: https://github.com/NuGet/NuGet.Client/commit/4be29f39b0d9bb897f914e9607f14c31569239ed

[2017-09-01 17:07] #5689 closed, assigned to mishra14

[2017-09-01 17:07] mishra14 commented on #5693
Merged: https://github.com/NuGet/NuGet.Client/commit/4be29f39b0d9bb897f914e9607f14c31569239ed

[2017-09-01 17:07] #5693 closed, assigned to mishra14

[2017-09-01 17:07] mishra14 commented on #5501
Merged: https://github.com/NuGet/NuGet.Client/commit/4be29f39b0d9bb897f914e9607f14c31569239ed

[2017-09-01 17:07] #5501 closed, assigned to mishra14

[2017-09-01 17:09] mishra14 commented on #5792
I think Zhi found a way to test this by reading the assets file and getting the logs section from the json object.

[2017-09-01 17:09] #5792 closed, assigned to mishra14

[2017-09-01 17:11] mishra14 commented on #3591
@aphel Thanks for the feedback. Is it possible for you to use an older version of `NuGet.exe` to clear the packages-cache? Especially considering that you have different versions already.

[2017-09-01 18:14] rohit21agrawal opened #5838 "When Updating Visual Studio, custom Nuget Feeds are lost"
From feedback ticket 488078:
Recently, I updated from Visual Studio 15.2.x to v15.3.1. Upon starting Visual Studio, I went to update my extensions and noticed that my custom NuGet feeds were no longer available. I went into Visual Studio Tools|Options, and indeed, my custom feed definitions were gone. So I rentered them. Just this morning, I updated to v15.3.3 and once again, upon opening Visual S

[2017-09-01 19:18] cdibbs opened #5839 "Copy concrete files"
With the latest NuGet 4.3, I have not been able to get CI-related files copied as concrete files to a .NET Core project folder. I've gotten as far as virtual links to the files within the nupkg via the contentFiles metadata tag. Is it still possible to create real files without an init.ps1 in NuGet?

I've been scouring the issues here trying to determine whether this is possible, but have been una

[2017-09-01 22:53] emgarten commented on #5839
You can run these actions from a .targets file in the build folder of a package.

Currently content in the project folder is not supported since the set of package versions/files copied is not tracked, which means when the version changes NuGet is unable to uninstall the old files.

[2017-09-01 22:58] rohit21agrawal commented on #5839
@cdibbs contentFiles has a copyToOutput attribute that you can set to true to control this behavior, does that not meet your needs? or perhaps i am misunderstanding your scenario here? could you elaborate with an example?

[2017-09-02 00:54] #5810 closed, assigned to rohit21agrawal

[2017-09-02 05:54] blitzxion opened #5840 "nuget restore fails when VS Test Agent is installed with a SxS SKU"
## Details about Problem

NuGet product used:
**nuget.exe**

NuGet version (x.x.x.xxx):
**4.3.0.4406**

dotnet.exe --version (if appropriate):
**2.0.0**

VS version (if appropriate):
**VS Test Agent 2017 15.3.3**
**VS Build Tools 2017 15.3.3**

OS version (i.e. win10 v1607 (14393.321)):
**Windows Server 2016 v1607 (14393.1593)**

Worked before? If so, with which NuGet version:
**4.3.0.4406**

## D

[2017-09-02 10:17] bdominguez opened #5841 "Unable to load DLL 'e_sqlite3' on EF Core 2.0"
Referenced from EF Core repo:

aspnet/EntityFrameworkCore#9505

@bricelam said that it looks like an issue with transitive packages in project references in NuGet.

[2017-09-02 13:11] clairernovotny commented on #5463
@emgarten @rrelyea @rohit21agrawal any ideas? Would seem to be good to get a fix in for 4.4.

[2017-09-02 14:03] bricelam commented on #5841
Something about the project structure is preventing the native assets from making it into the output directory. Adding a more direct reference to the package makes it work.

[2017-09-02 14:20] jogerh commented on #3958
Is there any documentation on how to use project.json with native nuget packages in a native project?

[2017-09-02 21:08] jdluzen commented on #5350
Same here. Just upgraded to Core 2.0, but projects are all still 1.1. Building has no errors, but I receive this message when trying to debug an ASP.NET Core 1.1 app in VS Code on Win10. I can ignore, and it will start up normally. All my projects are in the solution.

[2017-09-02 23:49] gforceg commented on #5265
@dalestone, do you have tests? Are they working?
This was our work around until I noticed that nuget doesn't seem to care about DotNetCliToolReference tags in my project's solution. So 'dotnet xunit' fails because the command cannot be found.

[2017-09-04 01:00] davkean opened #5842 "Adding additional nuget sources through the property RestoreAdditionalProjectSources in a target are not picked up by Restore in Visual Studio"
_From @atanasa on September 1, 2017 11:9_

I am using a target to register additional nuget package source like this:
[code]

When I run Restore from the command line, it works. When I do a Restore in Visual Studio it does not work. The sources listed in the log of the operation in Visual Studio does not include the additional source.

Is there any particular reason why the project system calls in

[2017-09-04 01:00] davkean commented on #5842
Restore in VS is much harder than via the command-line, as you need to play nicely with UI and unsaved projects, hence why we don't "restore" via MSBuild.

This looks like a NuGet bug, this should be a dependency of CollectPackageReferences.

[2017-09-04 01:01] davkean commented on #4967
@emgarten What release will this be in - so that we can remove our version?

[2017-09-04 02:55] sbespalov commented on #5831
client console log:
[code]

server request/response log:
[code]

The second request should contains `Authorization: Basic <hash>` header, but there is no such.

[2017-09-04 08:45] atanasa opened #5843 "RestoreConfigFile property in project is not used by VS restore"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI

NuGet version (x.x.x.xxx): 4.3.1

dotnet.exe --version (if appropriate):

VS version (if appropriate): 15.3.3

OS version (i.e. win10 v1607 (14393.321)): win10 v1703 15063.483

Worked before? If so, with which NuGet version: probably not

## Detailed repro steps so we can see the same pr

[2017-09-04 11:04] mm6502 commented on #5832
@rohit21agrawal  restore and pack works with compiled content.

Off topic:
Now only to figure out how to handle framework specific content (t4 templates)...

[2017-09-04 13:49] wburchard commented on #5812
I've encountered precisely the same problem.

[2017-09-04 14:17] AArnott commented on #4764
The errors from package restore seem to be significantly reduced (with VS 15.3 and tip of my master branch). Now the only error (displayed) is this one:

I don't know what (if anything) is special about this `Magnification.Tests` project.

[2017-09-04 18:51] divega commented on #5818
@rrelyea we discussed [add MinClientVersion 3.6 to our packages](https://github.com/aspnet/EntityFrameworkCore/issues/9668) as a partial mitigation for this issue. Before we do it, we need to know for certain that no version of NuGet 2.x will ever add support for .NET Standard 2.0. Is that guaranteed?

[2017-09-04 23:07] dend commented on #4512
Encountering the same issue with another package with **NuGet 4.3.0.4406**:

[code]

@rrelyea @emgarten - any thoughts on what might be the reason behind this?

![image](https://user-images.githubusercontent.com/1389609/30039802-0d380910-918b-11e7-861c-91077af7b720.png)

[2017-09-05 00:07] dend commented on #5333
This no longer repros for the `Microsoft.Azure.Graphs` package, however #4512 is a good demonstration of the original issue with a different package. @rrelyea

[2017-09-05 02:01] sbespalov commented on #5831
@zhili1208 can you please have a look?

[2017-09-05 04:56] emgarten commented on #4967
@davkean VS 15.4, NuGet 4.4.0

[2017-09-05 06:40] unniravindranathan-okta opened #5844 "Inconsistent text between VS ouptut and Tools -> Option"
Customer Repro:
1. Install VS217 Community.
2. Create any project that has a NuGet reference (UWP, .NET Standard, etc.)
3. Once your shared library is referenced by each project, right-click
the UWP project, and select "Build"

RESULT: Output window has following text:
Restoring NuGet packages...
To prevent NuGet from restoring packages during build, open the Visual
Studio Options dialog, click on

[2017-09-05 10:52] prorok-kane commented on #3218
Any updates about this issue?

[2017-09-05 15:15] joelverhagen commented on #5330
Some other thoughts discussed offline:

1. Client should somehow output the `X-NuGet-Session` header on a higher-than-default verbosity level. This will allow customers to boost the verbosity and then send client logs to server administrators allows easy correlation.
1. Client can implement this first, and servers can catch up at their own rate.

[2017-09-05 15:22] joelverhagen commented on #5330
I propose the capitalization: `X-NuGet-Session`

This aligns with API key:
https://github.com/NuGet/NuGet.Client/blob/53abd678a121e2a14e8883fe11e6d23d1058725b/src/NuGet.Core/NuGet.Protocol/Resources/PackageUpdateResource.cs#L28

... and client version...
https://github.com/NuGet/NuGet.Client/blob/4eed67e7e159796ae486d2cca406b283e23b6ac8/src/NuGet.Core/NuGet.Protocol/UserAgent.cs#L44

[2017-09-05 15:28] Petermarcu opened #5845 ".NET Standard compatible packages should be shown on NuGet.org"
Copied from here: https://github.com/dotnet/standard/issues/477
from @olegburov

I just saw the .NET Standard Deep Dive
video with @richlander and @terrajobst, and I think it would be handy if all ~70% of NuGet packages that are API compatible with .NET Standard 2.0, were market on http://nuget.org.

For instance, if I navigate to the https://www.nuget.org/packages/NQuery/ page, I want to see the

[2017-09-05 15:53] thashepherd commented on #1823
Fantastic to see this prioritized! My chief interest is in regards to https://github.com/OctopusDeploy/Issues/issues/2834; it would be very useful for release note metadata to be accessible to Octopus. The idea is for some extra context to be displayed when selecting package versions from this screen:

![image](https://user-images.githubusercontent.com/711467/30070207-b619b3f8-9230-11e7-9e3c-febbb

[2017-09-05 16:12] cdibbs commented on #5839
@emgarten and @rohit21agrawal - Thanks for your quick replies! Without altering our existing CI/NuGet processes, I would need the nupkg to install files that will be visible to processes outside Visual Studio (and MSBuild) prior to building the project. Both `copyToOutput` and .targets files only create real files in the filesystem after the project is built.

However, I sympathize with the desire

[2017-09-05 16:12] #5839 closed, assigned to nobody

[2017-09-05 16:52] evil-shrike opened #5846 "Feature request: Support more filters for src attribute in <file> element (nuspec)"
In nuspec `<files>` / `<file>` element has `src` attribute where two kinds of wildcards are supported: `*` and `**`:

Reference: https://docs.microsoft.com/en-us/nuget/schema/nuspec#including-assembly-files

# Problem
For target `lib` actually we need limited set of files to include - *.dll, *.pdb, *xml.
But using wildcard `*` and `**` like:
[code]
can easily include other files like `*.deps.json`

[2017-09-05 16:59] zhili1208 commented on #5831
Yes, it should contains authorization header in second request. Could you try nuget.exe 4.3 from https://www.nuget.org/downloads?

[2017-09-05 17:10] rohit21agrawal commented on #5812
@sandersaares @wburchard i am not able to repro this problem at my end using the steps you described. can either of you attach a repro project?

Thanks.

[2017-09-05 17:12] rohit21agrawal commented on #5819
@ericstj @natidea  this is probably something NuGet.BuildTasks does rather than what NuGet does
@emgarten thoughts?

[2017-09-05 17:13] nkolev92 commented on #5738
@PatoBeltran Is this related to any of your UI work?

[2017-09-05 17:22] PatoBeltran commented on #5834
@chiefengineer Thank you for your feedback and repro steps, we are aware and looking for the best way to resolve the inconsistencies in our UI. We will update you when we have a proposal for a fix.

[2017-09-05 17:26] ericstj commented on #5819
@jaredpar I believe this is actually caused by this: https://github.com/dotnet/sdk/issues/1510

[2017-09-05 17:45] #5819 closed, assigned to nobody

[2017-09-05 18:15] nkolev92 commented on #5778
First part has been fixed in https://github.com/NuGet/NuGet.Client/pull/1664

[2017-09-05 18:32] nkolev92 opened #5847 "[Accessibility][VS Feedback]: NuGet UI not Screen Reader Compliant"
Comment from a user on FEEDBACKTICKET 452431, unrelated to this.

[code]

Basically the user is suggesting that changing the package source in the dropdown menu should reset the search term.

This falls under the accesibility tenet.
//cc
@rrelyea

[2017-09-05 18:33] emgarten commented on #5843
The goal of this property is to allow passing a config file from the command line when calling msbuild. Example `msbuild /t:Restore /p:RestoreConfigFile=path\to\nuget.config`   It works from the command line since project properties and global properties both show up when the property is read during restore.

During VS restore this property is intentionally ignored. The settings in VS are based on

[2017-09-05 18:41] mishra14 commented on #5767
@psandhu79 I will look more into why restore does not take a source but install does.

In the mean time, you can do the following -

1. Create a new config file.
2. Add PetrelLibraries as a source into the config file with the PAT access token.
3. Pass the config file to restore - `nuget restore my.sln -ConfigFile "path_to_new_config_file"`

[2017-09-05 18:52] StingyJack commented on #5847
To be clear I dont want it to remove the search criteria when changing subfilter elements like package source. That makes it _less_ accessible because it _adds_ work regardless of sightedness.

I'm disputing the response of "working as designed" because its both not working as _expected_ and its not working consistently per https://developercommunity.visualstudio.com/content/problem/56255/extensio

[2017-09-05 19:06] emgarten commented on #5846
You can control which files are included/excluded by packing with msbuild.

See: https://docs.microsoft.com/en-us/nuget/schema/msbuild-targets#pack-target

[2017-09-05 19:31] nkolev92 opened #5848 "Inconsistency between Install Scenarios in package reference and packages.config cases clarifications"
We need to clarify the different behavior between install in package reference (both netcore and legacy) cases and packages.config.

In the packages.config case installing with a primary source selected means that the primary source has to contain the requested package and the dependencies can come from any other of the not-selected, but enabled sources.

In package reference case, all sources are

[2017-09-05 19:41] mishra14 opened #5849 "restore does not support passing sources by name from the config file"
## Details about Problem

NuGet product used : nuget.exe/maybe dotnet

NuGet version (x.x.x.xxx): 4.3.0

Worked before? If so, with which NuGet version: 3.4.4

## Detailed repro steps so we can see the same problem

1. `dotnet new console`

2. create a new config file and add a new source to it with name `source_name`

3. `nuget restore -Source source_name`

## Expected
Restore should read the sou

[2017-09-05 19:42] emgarten commented on #5845
This issue was moved to NuGet/NuGetGallery#4615

[2017-09-05 19:42] #5845 closed, assigned to nobody

[2017-09-05 19:43] mishra14 commented on #5767
@psandhu79 Thanks for all the details. I believe this is a bug and I have opened up a new issue at https://github.com/NuGet/Home/issues/5849

I will close this issue. Please follow that issue if you need to track it or request any help!

[2017-09-05 19:43] #5767 closed, assigned to nobody

[2017-09-05 19:45] #3676 closed, assigned to nobody

[2017-09-05 20:24] nschwerzler opened #5850 "Feature Request: NuGet.exe pack should drop resolved nuspec to support network share hosted Package Source"
## Details about Problem

Feature request (not a bug).

NuGet product used NuGet.exe

NuGet version: 4.3.0.3

dotnet.exe --version (if appropriate):

VS version (if appropriate): Visual Studio 2017

OS version (i.e. win10 v1607 (14393.321)): Windows 10

Worked before? If so, with which NuGet version: Not applicable, New feature request

## Detailed repro steps so we can see the same problem

**Bac

[2017-09-05 20:31] rrelyea commented on #5811
If the URI of the source ends with ".json" the code base currently treats the source as a v3 source.

[2017-09-05 20:31] #5811 closed, assigned to nobody

[2017-09-05 20:35] rrelyea commented on #5816
Resolving this as a dupe of #4125, which is now in the backlog as P1 issue. Thanks for the report.

[2017-09-05 20:35] #5816 closed, assigned to nobody

[2017-09-05 20:43] rrelyea commented on #5818
@divega - We are not planning on shipping another update to 2.12. It was determined out of scope in discussions with NetStandard and NuGet folks at the beginning of the NS2 effort.

[2017-09-05 20:43] rrelyea commented on #5818
Right now, we don't plan to update the message. But we will listen to feedback over the next several months.

[2017-09-05 20:43] #5818 closed, assigned to nobody

[2017-09-05 20:47] #5823 closed, assigned to nobody

[2017-09-05 20:54] rrelyea commented on #5826
@am11 `<RestoreAdditionalProjectSources>$(SolutionDir)/bin/$(Configuration)/</RestoreAdditionalProjectSources>`
should provide the same capability for you today. We don't plan on doing the DCR you are asking for, so please try.

[2017-09-05 20:54] #5826 closed, assigned to nobody

[2017-09-05 20:57] rrelyea commented on #5828
@kierenj - moving to released 2.0 dotnet sdk, should solve this. Please let us know if does not.

[2017-09-05 20:57] #5828 closed, assigned to nobody

[2017-09-05 20:59] rrelyea commented on #5830
Sorry, this doesn't rank high enough in our backlog to keep it open. Thanks for your suggestion though. We'll keep our ears open for similar feedback.

[2017-09-05 20:59] #5830 closed, assigned to nobody

[2017-09-05 21:01] rrelyea commented on #5832
Glad to hear this has been addressed. Thanks.

[2017-09-05 21:01] #5832 closed, assigned to nobody

[2017-09-05 21:05] rrelyea commented on #5833
We recommend you look at Packages.config file or for PackageReference (look at Project.assets.json file) to understand dependencies.

[2017-09-05 21:05] #5833 closed, assigned to nobody

[2017-09-05 21:27] nkolev92 opened #5851 "PMC install -source inconsistency"
Currently installing a package through PMC by using the -source option works differently in Package Reference vs Packages.config case.
Now there are some expected inconsistencies, but the issue here is that in the packages reference case, it says it cannot find the package in the source (while obviously present. Packages.config works fine however.

1. Create a packages.config project
2. Run a comm

[2017-09-05 21:32] nkolev92 commented on #5851
Analyzed further, dup of https://github.com/NuGet/Home/issues/5848

[2017-09-05 21:32] #5851 closed, assigned to nkolev92

[2017-09-05 21:42] jainaashish commented on #5797
@StingyJack this isn't a bug rather feature request.

[2017-09-05 21:56] emgarten commented on #5850
Just to clarify and provide some background on this, this can be done today by calling pack and then `nuget.exe add`.  The request here is to do all of these actions at once to improve performance, correct?

[2017-09-05 22:03] nkolev92 commented on #5763
I've tested this with 4.0.0 and the behavior has not changed, so it's not a new regression.

The behavior is the same among package reference (both legacy and netcore) and project.json projects.

[2017-09-05 22:19] nkolev92 commented on #5738
@husainaloos Are you able to reproduce this consistently?

I played around a little bit and did not have any luck.

[2017-09-05 22:24] am11 commented on #5826
@rrelyea, thanks for sharing the solution, I will give it a try.
Perhaps a rookie question, but what does DCR stand for? :)

[2017-09-05 23:04] emgarten commented on #5843
After some further discussion on this, the current approach is that settings in the project file override nuget.config settings. For this reason setting the path to nuget.config in the project file is not a supported.

Having nuget.config as a project property would make it difficult to understand which setting is going to be used if the project contains conflicting values with nuget.config and al

[2017-09-05 23:04] #5843 closed, assigned to nobody

[2017-09-05 23:12] emgarten commented on #5842
`CollectPackageReferences` is a supported extension point that should work here.

NuGet receives these property values from the project system, if this isn't working in VS is sounds like this isn't being picked up there.

This should be tracked here: https://github.com/dotnet/project-system/issues/2780

[2017-09-05 23:13] #5842 closed, assigned to nobody

[2017-09-05 23:49] emgarten commented on #5841
Build targets and props files from packages do not flow transitively to parent projects. As @bricelam mentioned here and the original issue, adding a direct reference to the package is the correct way to bring these targets in.

`PrivateAssets=None` will also help flow these targets up to the next level.

[2017-09-05 23:49] #5841 closed, assigned to nobody

[2017-09-06 00:13] emgarten commented on #5463
I think @davidfowl is correct here, these packages actually depend on exact versions, the error message incorrectly shows `>= 25.1.0` instead of `= 25.1.0`. Which is super confusing, I'll take a look at fixing this.

VS 15.3 added *Reference the package directly from the project to resolve this issue.* to the conflict message to help users fix the issue.

[code]

Some background on why packages.co

[2017-09-06 00:49] emgarten commented on #5840
This looks like a bug in the way nuget discovers msbuild.

[2017-09-06 02:09] sbespalov commented on #5831
The result is the same with `v4.3`

[2017-09-06 02:11] casfnq commented on #5461
@anurse  you might think it's rare, but we have a 700 project solution, and converting over existing libraries to .netstandard, so I have 45 errors of NU1201, so not so rare for me.  As others move to the new format or create .netstandard projects then this will increase.  @rrelyea if it is by design, what is the workaround?

[2017-09-06 04:47] emgarten opened #5852 "Dependency paths display incorrect version ranges"
Dependency paths for downgrade and version conflict messages with PackageReference projects display the incorrect version range for a dependency.

#### Expected:
The version range used in the nuspec

#### Actual:

The range *>= {resolved version}* is used

A new format that includes both the resolved version and the range might make these messages more useful. Alternatively the resolved version co

[2017-09-06 05:11] emgarten opened #5853 "Visual Studio uses the default client name for the UserAgent string"
Visual Studio uses the default user agent string of `NuGet Client V3`. It should instead use a meaningful name so that it is clear which client was used on nuget.org stats. It would also help avoid conflicts with 3rd party tools consuming the nuget libraries directly which could also lead to downloads under this name.

[code]

Based on https://www.nuget.org/stats/packages/Newtonsoft.Json?groupby=C

[2017-09-06 05:12] emgarten commented on #5853
@anangaur do you have a suggestion for a useful name here?

[2017-09-06 07:47] jairbubbles commented on #4947
I've tried again with `nuget.exe` 4.3.0 and it's now working properly.

[2017-09-06 07:47] #4947 closed, assigned to nobody

[2017-09-06 14:45] bmmathe commented on #4809
This started happening to me when I installed the .Net Core 2.0 sdk and upgraded VS to 15.3.  My current solution I'm trying to build targets .Net Core 1.1.  The nuget restore command is not installing my nuget references from my projects with PackageReference(s) in them.  However I can build the solution in Visual Studio with no issues.  When I restore using VS I do see the obj/projects.assets.js

[2017-09-06 17:22] zhili1208 commented on #5831
Push and delete share same http code,  If push works, then delete should work in the same way, did you specify --runtime=v4.0 for push? Please try "mono nuget.exe delete " without runtime version.

[2017-09-06 18:58] xavier-rigau commented on #5730
What version of Nuget has this fix?

[2017-09-06 19:05] nkolev92 commented on #5730
@xavier-rigau NuGet.exe version 4.3.0
https://dist.nuget.org/win-x86-commandline/v4.3.0/nuget.exe

[2017-09-06 19:13] AmadeusW commented on #4579
I'm running into the same issue
`Unable to resolve '....csproj' for '.NETFramework,Version=v4.6'.`
and I would like to know what's the root cause. Please at least make the error message more descriptive

[code]
[detailed msbuild log](https://github.com/NuGet/Home/files/1282377/logs_972739.zip)

[2017-09-06 19:53] mlorbetske commented on #5456
@nguerrera the original issue mentioned was that NuGet in the CLI wasn't allowing the init scripts to run. +@bricelam for the specific init.ps1 in question

[2017-09-06 21:12] bricelam commented on #5456
*@jonkerr said:*

Does executing the following help?

[code]

[2017-09-06 21:16] mishra14 opened #5854 "Change the add package command in xplat exe to take multiple values for source and framework params"

[2017-09-06 21:37] db-007 commented on #1550
Seeing same issue when I tried installing Xamarin.FFImageLoading.Forms v 2.2.10 package from Package Manager in VS2015
"An error occurred while reading file 'C:\source\SolutionName\ProjectName\ProjectName\packages.config': '.', hexadecimal value 0x00, is an invalid character. Line 1, position 1."

[2017-09-06 21:51] Seeker1437 commented on #1550
See #3078 maybe?

[2017-09-06 22:53] rohit21agrawal commented on #4337
@natemcmaster @onovotny @NickCraver others - if anyone wants to try out private bits to validate this fix, please let me know.

[2017-09-06 22:58] clairernovotny commented on #4337
I am interested, but what does the fix do, how does it work? Looking at the PR, adding VersionSuffix alone doesn't seem like it'd fix it. I don't set/directly use VersionSuffix at all, I use Version/PackageVersion and that's calculated on build. It needs to be calculated/used on pack. It's not a matter of using a different variable.

[2017-09-06 23:05] rohit21agrawal commented on #4337
these test cases should explain the behavior: https://github.com/NuGet/NuGet.Client/pull/1688/files#diff-0a8ea4346824f4b1f738f32446ce80caR412

but if not, let me know and i'll explain the behavior.

[2017-09-06 23:06] emgarten opened #5855 "Different project path casings can cause restore to lose PackageReferences"
Different project path casings can cause restore to lose PackageReferences

Paths are treated as case sensitive to work cross platform, however MSBuild can return different casings for the same project file path when evaluating `MSBuildThisFileFullPath`. To workaround this restore should ignore casings on case-insensitive file systems.

Steps
1. Create a project ab.csproj
1. Create a solution refe

[2017-09-06 23:10] clairernovotny commented on #4337
As mentioned in the PR thread, this does not solve the issue. Pack *cannot* read from the assets file since the assets file is written on restore. This behavior is forcing an extra restore if the version is calculated during a build step.

The pack targets need to do the same calculation on p2p refs.

[2017-09-06 23:36] anangaur opened #5856 "Ability to expire a pre-release package"
Many times authors release beta packages for testing waters but they do not want users to continue working with these packages.

There should be a mechanism to put an expiry date on the beta packages after which NuGet restores should start warning users.

[2017-09-07 00:16] mishra14 commented on #5854
Merged: https://github.com/NuGet/NuGet.Client/commit/8b182c8b26d585102494a2c59148b271505b3c05

[2017-09-07 00:16] #5854 closed, assigned to mishra14

[2017-09-07 02:22] #2358 closed, assigned to emgarten

[2017-09-07 02:43] sbespalov commented on #5831
done, result the same

here is the console logs for push/delete using different client versions:

[code]

[2017-09-07 02:45] sbespalov commented on #5831
so as you can see I have following:
- success `push` with v3.4.4
- failed `delete` with v3.4.4
- success `delete` with v2.8.6

also, `delete` result is the same using v3.5.0

[2017-09-07 03:17] emgarten commented on #4809
This issue should be resolved in nuget.exe 4.3.0
https://www.nuget.org/downloads

If anyone is still hitting this with the latest bits please open a new issue with details repro steps.

[2017-09-07 03:17] #4809 closed, assigned to nobody

[2017-09-07 04:04] emgarten opened #5857 "Update NU log code docs"
The NU log code doc should be updated for 4.4

* NU1607 has moved to NU1107
* NU1606 has moved to NU1108
* NU1608 has been added

https://github.com/NuGet/Home/wiki/Restore-errors-and-warnings/_compare/a2fe6b4f2f97ef5929b17a3c7dbddc44449114b3...ecc7b4cd554f633c5f9c288e9ff594b7eb78ea37

[2017-09-07 04:11] emgarten opened #5858 "Docs for Install command DependencyVersion and Framework flags"
`nuget.exe install` added the following options which should be documented.

* DependencyVersion https://github.com/NuGet/NuGet.Client/blob/53ad3962093b16795402fb8b364795c2b3d31d0c/src/NuGet.Clients/NuGet.CommandLine/Commands/InstallCommand.cs#L40
* Framework https://github.com/NuGet/NuGet.Client/blob/53ad3962093b16795402fb8b364795c2b3d31d0c/src/NuGet.Clients/NuGet.CommandLine/Commands/InstallComm

[2017-09-07 06:35] xavierdecoster commented on #5856
Could this be part of the Package Deprecation spec? We have an issue tracking that feature: https://github.com/NuGet/Home/issues/2867

[2017-09-07 07:05] maartenba opened #5859 "NuGet push should reject uploading files that are not NuGet packages"
NuGet push should reject uploading files that are not NuGet packages

From a VSTS build log:
[code]

Ideally, NuGet.exe would show a warning when attempting to upload a file that is (at least) not a ZIP file.

[2017-09-07 07:23] tomkuijsten commented on #5488
@gmajian that script is very limited, eg doesn't work for packages where it's version number are different then the containing assembly version numbers.

[2017-09-07 07:27] ghost opened #5860 "Multiframework Nuget package installation failed for.Netcore Applictaion"
Please help me on this.

[2017-09-07 07:29] tomkuijsten commented on #5488
@Kassoul this tool has the same problem as the script, a lot of references aren't removed.

[2017-09-07 07:31] tomkuijsten commented on #5488
@rrelyea do you want to convert to the new csproj format  as well?

[2017-09-07 08:14] brgrz commented on #1792
It's unclear from the docs and the two GitHub issues whether packaging content is still supported or not.

This page says it is not (or is vague about it)
https://docs.microsoft.com/en-us/nuget/create-packages/project-json-impact

Having hard time understanding what it means "copy them into the right spot" - are we supposed to manually extract and copy content files?

Also, another page at docs sa

[2017-09-07 08:49] emgarten commented on #5860
@AnithaL try restoring using the latest nuget.exe 4.3.0 from here: https://dist.nuget.org/win-x86-commandline/v4.3.0/nuget.exe

If that doesn't work please share the project and list of files in `SPGMI.RdKafka`

[2017-09-07 08:56] emgarten opened #5861 "Downgrade warning message lists the min range version instead of the version actually used"
The downgrade message reads as the version downgraded to and the lower bound of the range it violates.

`Detected package downgrade: NuGet.Versioning from 4.0.0 to 3.5.0.`

In the above example 3.5.0 is the min version on the package that was resolved. This may not be the actual version used.

If the project references NuGet.Versioning with `3.5.*` then `3.5.0` will be displayed, however `3.5.9` m

[2017-09-07 16:48] ericstj opened #5862 "[RFC] Runtime Identifiers are not scalable"
I'm opening this issue here rather than https://github.com/dotnet/core-setup (host, platform abstractions), https://github.com/dotnet/corefx (RID-graph), or  https://github.com/dotnet/sdk (runtime deps generation).  The issue impacts all of these, including NuGet which was the source of the RID behavior as an opaque string.

The problems are as follows:
1. Existing supported OS releases a new vers

[2017-09-07 16:49] evil-shrike opened #5863 "VS Package Manager: incorrectly handles an invalid source in nuget.config while installing a package from other sources"
VS 2017.3

I have a bunch of nuget sources, both in global and local (inside .nuget\NuGet.Config in a project) configs.
Inside .nuget\NuGet.Config  I have a local repo which targets not existing folder

	<packageSources>
		<add key="local" value="..\..\Release"/>
	</packageSources>

If in VS I search for a package then I'll get an error - it's expected:
![image](https://user-images.githubuserconte

[2017-09-07 17:02] zhili1208 commented on #5831
delete\push might use different code in v3.4.4. Could you use v4.3 and share the log for push and delete?

also please specify "-verbosity detailed", thanks

[2017-09-07 18:18] zhili1208 commented on #5777
it's risky to change PC and PJ behavior and LSL did right thing to throw error, close it as won't fix

[2017-09-07 18:18] #5777 closed, assigned to zhili1208

[2017-09-07 18:28] adayIvey commented on #4797
i did file a report but have heard nothing since

[2017-09-07 18:46] anangaur commented on #5856
https://github.com/NuGet/Home/issues/2867 looks similar. However, https://github.com/NuGet/Home/issues/2867 lets you deprecate a package at any point in time. This proposal is to have a time-bomb attached with the nupkg so that even the cached version would have the expiry and NuGet CLIs can warn once it expires.

[2017-09-07 18:49] anangaur commented on #5857
Moved to https://github.com/NuGet/docs.microsoft.com-nuget/issues/447

[2017-09-07 18:50] anangaur commented on #5858
Moved to https://github.com/NuGet/docs.microsoft.com-nuget/issues/448

[2017-09-07 18:52] maartenba commented on #5856
Who knows, maybe I want to auto-update my v2 version when I publish v3 next Tuesday. (Or: perhaps they are indeed the same feature, with an enhanced scope in the current issue?)

[2017-09-07 19:04] nkolev92 commented on #5863
@evil-shrike What's your project restore style?
PackageReference or packages.config?

[2017-09-07 19:05] anangaur commented on #4797
@aday12345 Do you have the link to that feedback issue? cc: @rrelyea

[2017-09-07 19:11] evil-shrike commented on #5863
PackageReference

[2017-09-07 19:26] adayIvey commented on #4797
https://developercommunity.visualstudio.com/content/problem/65484/visual-studio-2017-becomes-unresposive-when-execut.html

[2017-09-07 20:58] zhili1208 commented on #4091
Fixed in https://github.com/NuGet/NuGet.Client/commit/e7bf7fee7df70faa5885097634ff134df7837a15

[2017-09-07 20:58] #4091 closed, assigned to zhili1208

[2017-09-07 22:25] #5855 closed, assigned to emgarten

[2017-09-07 22:32] emgarten commented on #5863
Dupe of https://github.com/NuGet/Home/issues/5643

VS does not have an option to ignore bad sources like the command line does.

[2017-09-07 22:32] #5863 closed, assigned to nobody

[2017-09-07 22:36] emgarten commented on #5643
Related: https://github.com/NuGet/Home/issues/3058

[2017-09-07 22:44] #5861 closed, assigned to emgarten

[2017-09-07 22:44] #5824 closed, assigned to emgarten

[2017-09-07 22:44] #5852 closed, assigned to emgarten

[2017-09-07 22:45] emgarten commented on #5824
https://github.com/NuGet/NuGet.Client/commit/4ec552eab857a15bd01cdfa4a5a1c5a6421907f1

[2017-09-07 22:45] emgarten commented on #5852
https://github.com/NuGet/NuGet.Client/commit/4ec552eab857a15bd01cdfa4a5a1c5a6421907f1

[2017-09-07 22:45] emgarten commented on #5861
https://github.com/NuGet/NuGet.Client/commit/4ec552eab857a15bd01cdfa4a5a1c5a6421907f1

[2017-09-07 22:46] evil-shrike commented on #5863
Actually I don't need an option to ignore a source. When I choose a source I expect that it is only the source to search and install packages from. Why are other sources looked in at all?

[2017-09-07 23:05] emgarten commented on #5863
With PackageReference installing a package adds a reference to it, then it runs Restore which essentially installs all of the packages again, everything is resolved which is why if a source is missing this can cause restore to pick a different version of the package when looking for a *best* match.

[2017-09-07 23:26] mishra14 commented on #5712
Looked more into this -

The core issue is that in multi-targeting projects, the project system adds a condition on the first tfm of the project. I have filed an issue with them - https://github.com/dotnet/project-system/issues/2804

I will wait for their response/traction.

[2017-09-07 23:31] nkolev92 commented on #5840
The root cause of the issue is that we don't deal well with SKUs that don't come with MsBuild such as VS Test Agent.
15.1 is where this issue was introduced, as that's when the concept of SxS SKUs was added.

I'll rename the issue to reflect the findings.

[2017-09-07 23:39] mishra14 commented on #5769
@xlegalles @Sumo-MBryant I am closing this bug as there is no new issue here.

I have another related issue at - https://github.com/NuGet/Home/issues/5712.

Please let me know if you feel this issue needs more attention.

[2017-09-07 23:39] #5769 closed, assigned to nobody

[2017-09-08 00:25] nkolev92 commented on #5840
@blitzxion I have addressed this issue in the linked PR.
It will come in the next release, 4.4.

We can provide you a build so you can validate it on your side as well.

[2017-09-08 01:17] blitzxion commented on #5840
@nkolev92 Awesome! At your leisure, I would like to get that build you spoke of and test it out.

[2017-09-08 03:23] sbespalov commented on #5831
Seems that `PUSH` is not working now for v4.3 using latest `mono` version (it was worked with previous mono version I have), but it's still working for v3.4.4

Client console log:
[code]

Server request/response log:
[code]

[2017-09-08 09:00] #5840 closed, assigned to nkolev92

[2017-09-08 09:11] anaselhajjaji opened #5864 "TrustFailure (CertificateUnknown) Error"
After upgrading to Mono JIT compiler version 5.2.0.215, I can't restore packages because of certificate problem. Do you have a solution to trust the in-house certificates? it was working before upgrading Mono version.

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (4.0.0.2283)

Mono JIT compiler version 5.2.0.215

OS version

[2017-09-08 10:01] xlegalles commented on #5769
Well, if you think both bugs are linked, I'm ok. But it is still really annoying to have so many warnings.

[2017-09-08 14:49] eatdrinksleepcode commented on #4537
So at this point we are at (at least) _two years_ with this essential command line functionality being completely broken...

[2017-09-08 16:55] zhili1208 commented on #5831
looks like a mono issue, @garuma Could you take a quick look?thx

[2017-09-08 17:00] jainaashish opened #5865 "Use IPackageReferencesService to get package references from net core project system"
Original issue was: test were not being discovered in Test window on solution load for net core projects. And that's because Test window team called into NuGet IVS api to retrieve package references for the project, even before project was nominated to NuGet so NuGet didn't had any information.

The current proposal from SDK team is to use [IPackageReferencesService](http://index/?query=IPackageRe

[2017-09-08 18:00] rrelyea commented on #4851
@karann-msft - could you please work this into our doc plan?

[2017-09-08 18:14] nschwerzler commented on #5850
"The request here is to do all of these actions at once to improve performance, correct?"
Yes, we have a large volumn of nuget packages and need pack command to do everything to prepare the files for the share feed.

[2017-09-08 19:44] mishra14 commented on #5769
@xlegalles I agree. Ideally you should address and resolve the warnings. But sometimes it is not possible. Hence for restore you should be able to `NoWarn` them. If that is not working for you then let me know and I will work with you to understand/fix the problem there.

We do not have the support for `NoWarn` for the other commands yet. If you feel that is something you need then please let us k

[2017-09-08 20:38] husainaloos commented on #5738
@nkolev92 Yes. I am able to reproduce this consistently. What is the other package repository host do you use to test this?

[2017-09-09 04:03] deepumi opened #5866 "Generate NuGet package on publish mode does not generate multiple target framework"
**VS version** = Microsoft Visual Studio Community 2017 Version 15.3.2
**OS** = Windows 10
**Project type** = .NET Standard 2.0

I have created a .NET Standard 2.0 project which target multiple .net frameworks like netstandard2.0, net461 & net47 and the package works fine in debug mode and I am able to see multiple target framework does generate on package explorer like below.  However, when I pub

[2017-09-09 05:29] emgarten commented on #5864
Dupe of https://github.com/NuGet/Home/issues/4387

[2017-09-09 05:29] #5864 closed, assigned to nobody

[2017-09-09 05:36] emgarten commented on #5866
@deepumi how are you changing between debug and release mode? Are you able to create a release package when building from the command line using msbuild directly?

[2017-09-09 13:06] deepumi commented on #5866
@emgarten I m publishing package via VS publish option.

![image](https://user-images.githubusercontent.com/554039/30240413-195100c4-953e-11e7-825c-9b85a55a244d.png)

[2017-09-09 18:47] emgarten commented on #5866
Try building normally under release. From your screen shot it looks like Publish is only publishing for a single target framework which is why the package contains only netstandard2.0.

[2017-09-09 19:41] develax commented on #2721
@emgarten, @drewnoakes how to change dependency in Core 2.0?   The only place I can find is \obj\project.assets.json but "obj" folder is not a permanent part of the project.

[2017-09-09 19:46] emgarten commented on #2721
This has been fixed with the work around  warnings and errors. The message should now describe that the package version was not found and that an approximate best match was used.

[2017-09-09 19:46] #2721 closed, assigned to emgarten

[2017-09-09 20:00] develax commented on #2721
@emgarten, you're right:

but is there a way to hide this warning as unimportant?

[2017-09-09 20:30] emgarten commented on #2721
@DevelAx you can suppress warnings with `<NoWarn>NU1603</NoWarn>` in your project file.

[2017-09-10 12:08] mbrookson commented on #4190
Using Rider 2017.2 EAP I am still getting issues with this. Trying to install gives me an error in the Nuget log. `Package Microsoft.EntityFrameworkCore.Tools.DotNet 2.0.0 is not compatible with netstandard2.0 (.NETStandard,Version=v2.0). Package Microsoft.EntityFrameworkCore.Tools.DotNet 2.0.0 supports: netcoreapp2.0 (.NETCoreApp,Version=v2.0)`.

Trying to install it in a .NETStandard 2.0 project

[2017-09-10 13:08] deepumi commented on #5866
@emgarten Debug and Release always works, I only noticed publish does not work.

Is in't that a glitch or is the default behavior?

[2017-09-10 18:10] emgarten commented on #5866
I would say this is expected. When using `GeneratePackageOnBuild` pack will add what was built to the nupkg. When running publish it only builds a subset of the project, there is no way for pack to get the rest.

If this were improved I would say that pack should skip generating the nupkg all together here, but I'm not sure if it is possible to detect this from within the pack target.

[2017-09-11 04:08] livarcocc opened #5867 "dotnet add package fails even when an unreachable source is disabled in Nuget.config"
_From @kcwms on August 22, 2017 0:18_

The "Unreachable" source is valid when connected to my corporate network. In the 1.* version of the tool I'm certain that I would simply disable the **mycorporatenuget** source and the dotnet add package command worked as expected ... or maybe I just imaged that.

## Work Around ##
manually edit %appdata%\NuGet\Nuget.Config and remove or comment out the line

[2017-09-11 04:08] livarcocc commented on #5867
_From @akanieski on September 10, 2017 23:56_

Ah. This is a problem for me as well.. some of my sources are behind a VPN for some of my projects.. but it breaks dotnet add while working on other non VPN'd projects.. .. even after you disable a source.

[2017-09-11 06:17] zivkan opened #5868 "automatic nuget restore in visual studio for custom project system"
Visual Studio will automatically restore nuget packages on solution load for .NET SDK projects, or on build for "classic" csproj projects. However, I can't get Visual Studio to restore nuget packages at all for my custom project system. However, it works when I use `msbuild /t:restore` from the command prompt.

How can I get Visual Studio to restore the nuget package?

see also Microsoft/VSProject

[2017-09-11 06:45] AnithaL commented on #5860
Still I was not able to install Nuget package of Netstandarad1.6 version to .neycore1.0 application.

Can we install nuget pacakage of Netstandard1.6 to Netstandard1.0?project please help.

[2017-09-11 08:33] AndreyAkinshin commented on #4190
@mbrookson, Rider prints a correct message: `Microsoft.EntityFrameworkCore.Tools.DotNet` is not compatible with `netstandard2.0`, it supports only `netcoreapp2.0` (you can check https://www.nuget.org/packages/Microsoft.EntityFrameworkCore.Tools.DotNet, the `Dependencies` section).
If you create a `netcoreapp2.0` project in Rider 2017.2 EAP 1, you should be able to install `Microsoft.EntityFramewor

[2017-09-11 10:29] petrciml opened #5869 "NuGet.exe update -self ignores custom package source"
Hi, I have **build server in DMZ without internet access**. NuGet installed on this server using **only my own package source**; package source https://www.nuget.org/api/v2/ **is disabled**.
I need to update NuGet.exe using command "**nuget update -self**"
(current version of nuget.exe is 2.8)
In package store is placed nupkg: **nuget.commandline.4.1.0.nupkg**
When I try run command "nuget update

[2017-09-11 12:07] raffaeler commented on #4190
I may have misunderstood but repro-ing the problem is extremely easy.
I created a simple dotnet CLI extension and published in my local repo.
When I try to install it via VS2017, I obtain the following error:
[code]
I specified these tags in the nuspec:
[code]
They did work in VS2015 and does not work anymore in VS2017.
Is there a workaround for making it work from the VS2017 UI?
Modifying the csp

[2017-09-11 12:41] maarten-kieft commented on #1359
What is the status?

[2017-09-11 12:46] jairbubbles opened #5870 "Dupe: casing problems of ProjectReference can cause nuget.exe restore to fail. Fixed in 4.4."
## Details about Problem

*I'm using nuget.exe version 4.3 with Visual Studio Version 15.3.3 on Win10 64bit v1607*

## Detailed repro steps so we can see the same problem

1. Unzip this file: [NuGetRestoreBug.zip](https://github.com/NuGet/Home/files/1293701/NuGetRestoreBug.zip). (It contains nuget.exe v4.3)

2. Run `restore_VS2017.bat` which calls `nuget.exe restore`on a VS2017 solution

3. Open `

[2017-09-11 12:51] xavierdecoster commented on #1359
This went live. See the blog post for details and a link to relevant docs: https://blog.nuget.org/20170815/Whats-nu-in-NuGet-with-VS2017-15-3.html#support-for-semantic-versioning-200

[2017-09-11 12:51] #1359 closed, assigned to xavierdecoster

[2017-09-11 14:56] plainionist opened #5871 "VS 15.3 installs NetStandard dependencies for .Net framework project"
## Details about Problem

NuGet product used: Package Manager Console
NuGet version:  4.3.1.4445
VS version (if appropriate): 15.3.x
OS version: windows 7
Worked before? If so, with which NuGet version: unknown. At least worked with VS 15.2 and most probably the nuget version shipped with it

## Detailed repro steps so we can see the same problem

1. Create a new F# console application for .net fw

[2017-09-11 15:21] anaselhajjaji commented on #4387
In my side, I forked the nuget and modified the source code to accept all the certificates (it's for internal use in company).
https://github.com/anaselhajjaji/nuget/tree/db4c607f1b326074da583e9a13bae47932d963f4/nuget-binary

[2017-09-11 17:20] emgarten commented on #5860
`netcoreapp1.0` supports `netstandard1.6`

@AnithaL try deleting your obj folder, specially project.assets.json and running restore again.

[2017-09-11 17:25] emgarten commented on #5869
Dupe of https://github.com/NuGet/Home/issues/1783

[2017-09-11 17:33] emgarten commented on #5871
NuGet selects the nearest compatible dependency group. For net46 the nearest group in suave is netstandard1.6. Ideally Suave should contain a group without the netstandard dependencies that specifically targets .NETFramework to avoid unneeded dependencies.

[code]

[2017-09-11 18:12] PeteX commented on #2867
If this feature gets implemented, please can we also have a flag saying, 'This package has a vulnerability.'

Our deployed applications have to be reviewed periodically to make sure they are still secure.  Part of this process involves checking dependencies to make sure none of them have released security patches.  At the moment it's almost impossible to distinguish between feature releases, relea

[2017-09-11 18:42] plainionist commented on #5871
That sounds reasonable. Anyhow it worked with VS 15.2 - maybe in that version the group without explicitly mentioned targetFramework was selected?
How is this group handled now?
(just would like all the details so that I can address the topic at suave more easily)
thx!

[2017-09-11 19:15] #5802 closed, assigned to nkolev92

[2017-09-11 19:48] emgarten opened #5872 "Support floating versions with IVsPackageInstallerServices.GetInstalledPackages"
IVsPackageInstallerServices.GetInstalledPackages currently uses the minimum bound of the version range for the package.

This should instead use the actual version in project.assets.json

There are several issues blocking this today
* Performance of loading up the assets file to get this info. Caching may be needed.
* When the API is called before auto restore has happened. Example: Test explorer

[2017-09-11 19:55] emgarten commented on #5871
The way NuGet selects the group hasn't changed. I believe there was a change to the compatibility rules to allow net461 to consume additional netstandard frameworks. This might be what you are seeing, which is really confusing and unfortunate!

[2017-09-11 21:09] scottbommarito opened #5873 "How to format Package Release notes"
@shahabhijeet commented on [Mon Sep 11 2017](https://github.com/NuGet/NuGetGallery/issues/4642)

I want to point out three issues:
1) What xml property to use in the .csproj in order for the Release notes to be visible on nuget.org package page, currently there are two properties < ReleaseNotes > and < PackageReleaseNotes >
2) Currently even if I use <![CDATA[ to format my release notes, they end

[2017-09-11 21:30] rohit21agrawal commented on #5873
also related to : https://github.com/NuGet/Home/issues/1823

[2017-09-11 21:30] livarcocc opened #5874 "`dotnet restore` fails with auth'd (VSTS) package source"
_From @Mardoxx on September 11, 2017 15:17_

## Steps to reproduce
1. Create new project and target netstandard (e.g. netcoreapp2.0, netstandard2.0)
2. Nuget.Config with custom package source e.g.
[code]
3. dotnet restore
4. Restore fails

## Expected  behavior
:)

## Actual behavior
:(

[code]

Restore packages works fine in VS2017.

Completely buggers up any `dotnet ef` commands too as these rel

[2017-09-11 21:30] livarcocc commented on #5874
_From @Mardoxx on September 11, 2017 17:45_

I think this is because I'm using a VSTS feed..

[2017-09-11 21:30] livarcocc commented on #5874
_From @Mardoxx on September 11, 2017 17:47_

Similar to https://github.com/dotnet/cli/issues/3977

[2017-09-11 21:30] livarcocc commented on #5874
_From @Mardoxx on September 11, 2017 17:52_

See also: https://www.visualstudio.com/en-us/docs/package/nuget/dotnet-exe

[2017-09-11 21:31] livarcocc opened #5875 ".NET Core 1.1: dotnet.exe pack generates symbols nuget package, regardless of --include-symbols"
_From @EtharAlali on September 11, 2017 14:57_

## Steps to reproduce
TeamCity dotNet build
1. CLI dotnet pack [csproj file] --include-source /p:Version=1.0.0.61
2. Do not include symbols  (no --include-symbols)
3. Build it

## Expected  behavior
No symbols.nupkg created

## Actual behavior
Definitely creates .symbols.nupkg
[code]

Version running:

## Environment data
`dotnet --info` output:

[co

[2017-09-11 21:37] mbrookson commented on #4190
@AndreyAkinshin I understand that now, but do you know then how I can have my DbContext and migrations in my netstandard2.0 project with all my entities and domain services? I have API controllers in a netcoreapp2.0 which calls the services in the netstandard2.0 project.
This is how my current .NET Framework applications are architected and thought I would be able to replicate this with .NET Core.

[2017-09-11 21:39] scottbommarito opened #5876 "build failed Nuget.resources not found."
@oliviergauthier commented on [Sat Sep 09 2017](https://github.com/NuGet/NuGetGallery/issues/4637)

I can't build NugetGallery. It throw the next exception :
 Impossible de charger le fichier ou l'assembly 'file:///C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\MSBuild\15.0\bin\fr\NuGet.resources.dll'

it's seems related to this issue : https://github.com/NuGet/Home/issues/4780
I

[2017-09-11 21:49] nkolev92 commented on #5506
I think this is redundant right now.

[2017-09-11 21:49] #5506 closed, assigned to nobody

[2017-09-11 21:50] nkolev92 opened #5877 "packages.config (PC) to PackageReference (PR) Migration"
Status: **In Progress**

Issue to track new feature work around enabling packages.config (PC) to PackageReference (PR) upgrader workflow.

Here is the [link to the spec](https://github.com/NuGet/Home/wiki/packages.config-%28PC%29-to-PackageReference-%28PR%29-Migrator).

Feel free to comment below with your feedback.

**Related issues**

https://github.com/NuGet/Home/issues/12388

Overall Issue Des

[2017-09-11 22:21] zhili1208 opened #5878 "[VS Feedback] NuGet Manage Solution should prefer installed version"
VSFeedback Item 491734

User ask for using used version as perfered version

When managing NuGet packages by solution, the already installed package version should be prefered.
This was done in earlier versions but was changed in the past.
If I follow the current process I run immediately into "Consolidate" issue.
At least, there should be an option to decide whether prefer newest version or used

[2017-09-11 22:42] kzu commented on #4142
Because I thought it was more intuitive to enable it by default only for debug builds? I guess I should probably check for `DebugType` instead? Or maybe not even that and just rely on the `DebugSymbolsProjectOutputGroupOutput` having something (or not)?

[2017-09-11 22:45] kzu commented on #4142
Makes sense to completely remove that from the condition. PR sent: https://github.com/NuGet/NuGet.Build.Packaging/pull/147

[2017-09-11 23:21] #5869 closed, assigned to nobody

[2017-09-11 23:30] zhili1208 commented on #5870
I tried restore_VS2017_bat, but didn't repro it.

[code]

Could you share the nuget.exe ouput with specifying -verbosity detailed?

[2017-09-11 23:34] zhili1208 commented on #5868
Project system need to call nuget nominate API for auto restore. @davkean does this sample call nominate API?

[2017-09-11 23:47] zhili1208 commented on #5874
@Mardoxx this is because you are using VSTS feed, nuget was trying to connect this feed but didn't have Personal Access Token

[2017-09-11 23:48] zhili1208 commented on #5875
@rohit21agrawal Could you take a look?

[2017-09-11 23:50] rohit21agrawal commented on #5875
This is by design. Source only has meaning if it has pdb files along with it. The symbols nupkg will contain both symbols and sources in this case

[2017-09-12 00:01] nkolev92 commented on #5414
Will be done as part of https://github.com/NuGet/Home/issues/5877

[2017-09-12 00:05] zhili1208 commented on #5876
script in NuGetGallery always pull nuget.exe 4.0.0.2775, this is need to be fix in build script of NuGetGallery. Moved back to NuGetGallery

[2017-09-12 00:05] #5876 closed, assigned to nobody

[2017-09-12 00:13] davkean commented on #5868
There's lots of pieces to make this work; dependency node, NuGet nominator, assets file watcher. We're pulling these pieces out in a reusable fashion for other project types to use, @natidea can talk about the details.

[2017-09-12 00:14] zhili1208 commented on #5867
this is already fixed by https://github.com/NuGet/NuGet.Client/commit/915c31ab32e74dfa88000e749fe354da087eb7d2

the fix will be in CLI 2.0.1

[2017-09-12 00:14] #5867 closed, assigned to nobody

[2017-09-12 00:27] nkolev92 opened #5879 "Add support for solution level PC -> PR migration"
Implement the solution level project walking strategy for the PC -> PR migration.

Example, for a project graph like the following:

A -> B -> C
        B -> D -> E
F

Migrate firstly the leaf projects, because the result of their restore will impact the referencing projects too.

So restore, C, E, F first. Then restore D, B and lastly A.

[2017-09-12 00:35] rohit21agrawal commented on #5866
you could work around it by removing GeneratePackageOnBuild from your csproj, and packing your project  using dotnet.exe after you have published all target frameworks.

[2017-09-12 01:57] EtharAlali commented on #5875
You can have source that has no PDB, especially if using dynamic languages, JS or embedded HTML only. Some NuGet packages are used to deploy source only (there is no requirement to have symbols with the source as the PDB is naturally built into, and from, the project that installed package of sources is housed in). One hypothetical situation is deploying packages containing, say, sources used as s

[2017-09-12 03:13] #5866 closed, assigned to nobody

[2017-09-12 03:44] rohit21agrawal commented on #5875
Sure, also i would recommend you to try .NETCore 2.0 as that has the latest changes and fixes.

IncludeSources = includeSources + includeSymbols
IncludeSymbols = only symbols

[2017-09-12 04:24] plainionist commented on #5871
ok. I opened an issue at suave here: https://github.com/SuaveIO/suave/issues/650.

thx for the fast feedback and all the details - I think this issue can be closed

[2017-09-12 04:24] #5871 closed, assigned to nobody

[2017-09-12 05:45] jairbubbles commented on #5870
Thx for looking into it!

That's weird, I can reproduce it on my home pc too.
- Are you using the good nuget.exe ? (ie the one from the zip). To be sure I'm now using powershell command: `./nuget.exe restore projects/win64/maxhammer.vs2017.sln -verbosity detailed`
- Please note that there are two projects starting with Anvil and it works correctly for the other one (`Anvil.System`)
- This bug is v

[2017-09-12 07:33] Mardoxx commented on #5874
Will it always need PAT?

On 12 Sep 2017 12:47 am, "Zhi Li" <notifications@github.com> wrote:

[2017-09-12 08:37] SabotageAndi opened #5880 "Fix 4.3 regression - Placeholders $product$ and $AssemblyGuid$ not replaced in contentfile through transformation"
## Details about Problem
I have a contentfile (.pp-file) with placeholders $product$ and $AssemblyGuid$. In VS 2015 and I think also before VS 2017 15.3.3 these are replaced with values during adding the package to the project.
When I add the package in the latest VS 2017 version, these placeholder are replaced with nothing.

Line of pp- file: `Settings projectName="$product$" projectId="{$Assembl

[2017-09-12 09:11] AndreyAkinshin commented on #4190
@mbrookson Sorry, I don't know how to help you, you can't  use the `Microsoft.EntityFrameworkCore.Tools.DotNet` package in a `netstandard2.0` project (as a PackageReference).

[2017-09-12 16:25] bricelam commented on #4190
@mbrookson @AndreyAkinshin You definitely can. See [the workaround above](https://github.com/NuGet/Home/issues/4190#issuecomment-312593802).

[2017-09-12 16:45] Eilon commented on #4190
@bricelam indeed, correct me if I'm wrong: the target framework moniker (TFM) of the *project* is completely independent of the TFM of **tool** references, right? (But you do have to manually do it, because VS doesn't have a built-in way of doing this.)

[2017-09-12 17:56] xavier-rigau commented on #5730
I don't know if it is exactly the same issue but I got redirected here. 4.3.0 still has this problem:

https://forums.xamarin.com/discussion/comment/295279

[2017-09-12 17:58] zhili1208 commented on #5874
Yes, nuget gather dependency information from all enabled source,  if the source is enabled, nuget will try to connect it. The workaround is disable VSTS feed or specify "--ignore-failed-sources"

[2017-09-12 18:02] zhili1208 commented on #5870
Thanks for clarifying. I was looking at wrong project, I can repro with AnvilControls. @emgarten Could you take a quick look?

[2017-09-12 18:16] nkolev92 commented on #5730
@xavier-rigau It doesn't look like the same issue to me.

If your problem persists can you please create a  <a href="https://github.com/NuGet/Home/issues/new">new bug</a> and add the repro steps and details there.

- Version used.
- Did it ever work before (do earlier nuget.exe releases have this problem) ?
- Logs from update on the solution/project.
- Can you provide a repro solution?

Thanks!

[2017-09-12 18:54] emgarten commented on #5870
This looks similar to https://github.com/NuGet/Home/issues/5855

The workaround is to ensure that all references to the project have the same casing, including the solution.

[2017-09-12 19:07] jairbubbles commented on #5870
It's very unlikely as we use a tool to generate our projects.

[2017-09-12 19:21] zivkan commented on #5868
Thanks for the info. For a while I've been considering restarting my project system using .NET's project system as a starting point, rather than the sample in the VSProjectSystem repo.  Is everything needed to get nuget restore to work in the dotnet/project-system repro, or does the .NET project system have some special integration, for example with the sdk? If it's all in the project system, is c

[2017-09-12 19:21] jairbubbles commented on #5870
@emgarten Indeed you were right!

One .vcxproj references our project and he's missing some uppercase caracters:
[code]
When replaced by
[code]

The restore works correctly :smile:

I think I had a hard time reproducing in a simple repro case as I was editing with Visual Studio and I guess it was automatically fixing the case when the .vcxproj was saved.

[2017-09-12 19:26] emgarten commented on #5870
Glad you got it working! This has been fixed for the next release.

[2017-09-12 19:28] jairbubbles commented on #5870
Will you make it available before next VS release on https://www.nuget.org/downloads ?

[2017-09-12 19:29] emgarten commented on #5870
@jairbubbles for which component?

[2017-09-12 19:31] jairbubbles commented on #5870
I'm not sure of what you're asking. Just nuget.exe ?

[2017-09-12 19:36] emgarten commented on #5870
//cc @rrelyea for nuget.exe 4.4 preview plan

[2017-09-12 19:44] emgarten commented on #5880
What type of project are you using? Is it a NETCore SDK project?

[2017-09-12 19:50] Mardoxx commented on #5874
How does VS2017 restore packages without need for PAT? Must use a different
auth mechanism - why can't nuget do this?

Sorry - not too clued up on internals!

On 12 Sep 2017 6:59 pm, "Zhi Li" <notifications@github.com> wrote:

[2017-09-12 19:58] renattomachado commented on #4234
The same issue!
When that will fixed?

[2017-09-12 20:06] SabotageAndi commented on #5880
It is a classic class library project in the old csproj format.

[2017-09-12 20:10] mbrookson commented on #4190
@bricelam @Eilon This is good news. So in which project do I actually need to install the `Microsoft.EntityFrameworkCore.Tools` and `Microsoft.EntityFrameworkCore.Tools.DotNet` Nuget packages then? Are they still installed in the netcoreapp2.0 web project but then I can run ef commands in the netstandard projects after manually adding that .csproj change [mentioned above](https://github.com/NuGet/

[2017-09-12 21:00] cezarypiatek commented on #5805
We've got 58 projects in our solution and update of even a  single package is a total nightmare. Nuget UI is sooo slow that we are unable to use it. Updating from console takes over 10 minutes for single package. I am wasting an hour everyday trying to update two packages. It's totally unacceptable.

[2017-09-12 21:12] emgarten commented on #5880
Here are the supported values for pp files: https://github.com/NuGet/NuGet.BuildTasks/blob/18aedb7eb0fc26012246af61e4df7cda4ab10026/src/Microsoft.NuGet.Build.Tasks/Microsoft.NuGet.targets#L140-L156

It doesn't look like AssemblyGuid is allowed.

[2017-09-12 21:18] Eilon commented on #4190
You still install them in the project (into the same CSPROJ file), but as *tools* references, not *package* references. They are represented as different XML elements inside the CSPROJ.

[2017-09-12 21:31] zhili1208 commented on #5874
it's actually the same, nuget sends two http requests to two sources(VSTS and NuGet.org here) for fetching the package information at the same time. If the VSTS return first, then you will get the 401 error because it can't find PAT, and if nuget.org return first and it find the package in this feed, then it will just use this one then ignore the VSTS one.

[2017-09-12 21:39] zhili1208 commented on #5880
I tried this package in VS 2015 with classic library and package.config, it's working, but on VS 2017, it doesn't work in same way. I think this is a regression.

[2017-09-12 22:27] Mardoxx commented on #5874
Are you certain? I have my two feeds set up, the default nuget one and my
private VSTS one - the latter with packages that do not exist on nuget.org
- and it restores my packages just fine, never had to generate a PAT until
I started playing with the `dotnet` command.

VS2017 restores all my packages - from both sources - without theneed of a PAT.

On 12 Sep 2017 10:31 pm, "Zhi Li" <notifications@

[2017-09-12 22:33] lilith commented on #5127
I can repro this with the 2.0 sdk. Sad panda here.

[2017-09-12 22:35] lilith commented on #5127
https://stackoverflow.com/questions/43400069/dotnet-add-package-with-local-package-file

[2017-09-12 22:39] zhili1208 commented on #5874
I think that's because those packages are in your local cache, Could you try to delete the package folder at [username]\\.nuget\packages and restore again ?

[2017-09-12 22:43] Mardoxx commented on #5874
The only way they could be in my local cache is if I had them installed
from my feed.... which is a VSTS feed!

Very strange.

Does VS2017 request a PAT for the feed under the current logged in VS user
and some how intercept and append it to the requests?

On 12 Sep 2017 11:39 pm, "Zhi Li" <notifications@github.com> wrote:

I think that's because those packages are in your local cache, Could you
t

[2017-09-12 23:07] rrelyea opened #5881 "Documentation recommendations for setting up sources (w/ or w/o auth) for projects that run on CI"
Private NuGet feed:
Don’t you just put a nuget.config file in the project/solution? I see a bunch of questions on authenticating private nuget feeds. I’m assuming we could use buildargs to pass in.
https://www.google.com/search?q=private+nuget+server+authentication&rlz=1C1CHZL_enUS744US744&oq=private+nuget+feed
http://blog.fermium.io/nuget-server-with-basic-authentication/
https://blog.myget.org/p

[2017-09-12 23:19] zhili1208 commented on #5874
nuget indeed reads credential from VS and try that credential with private feed, it might works with VSTS.

[2017-09-13 03:36] joelverhagen opened #5882 "Minimum dependencies to removed packages and minimum pre-release packages."
@Thorium commented on [Tue Sep 12 2017](https://github.com/NuGet/NuGetGallery/issues/4663)

I don't know which Nuget-repository is correct for this bug, but at least this one has the issues tab.

I own a package called [Owin.Comperession](https://www.nuget.org/packages/Owin.Compression/). It has a following dependency:
`Owin (>= 1.0.0-prerelease && <= 1.0.0)`

And everything worked fine and everyo

[2017-09-13 04:48] jgoelten commented on #2747
I am facing the same issue with NuGet 4.3.0. I've seen posts where this was mentioned as expected behaviour which makes not much sense to me. The first parameter targets a config/solution. On nuget reference an explicite *.sln ref. is given in the sample (see [nuget update examples)](https://docs.microsoft.com/en-us/nuget/tools/nuget-exe-cli-reference#update)

[2017-09-13 05:06] xavier-rigau commented on #5213
I believe is the same as [https://forums.xamarin.com/discussion/101603/issues-producing-a-nuget-package-that-targets-uwp](url)

[2017-09-13 10:32] davidwengier commented on #4706
Thanks. I'll keep plugging away too. I think the submodules might be somehow incorrect actually.

In https://github.com/ashmind/ILSpy github is showing "cecil @ 53df0bc", however I have cecil at the latest commit 3bd25b. Looks like there are some breaking changing in that (eg the Name property on VariableDefinition is gone) so I'll start with trying to pin those submodules matching what is shown i

[2017-09-13 13:23] atanasa commented on #4781
@emgarten all targets that consume PackageReference items should call into this CollectPackageRefereces target, including the Publish build targets.
I've hit the case where target _ComputeExcludeFromPublishPackageReference would be build but the CollectPackageRefereces target is not called thus it does not consider all references. I've worked around this by running the "collect" target before the

[2017-09-13 14:35] edjacob25 commented on #3891
+1

[2017-09-13 16:05] gebai opened #5883 "How to resolve "Could not create SSL/TLS secure channel." error when using NuGet Installer step in TeamCity"
[REmoved all original text as it was just the default template with no other data] -@rrelyea

[2017-09-13 16:20] emgarten commented on #4781
For NuGet command line restore CollectPackageReferences is the only method used to get PackageReference items. Fixed with: https://github.com/NuGet/NuGet.Client/pull/1615

@atanasa I'm not familiar with `_ComputeExcludeFromPublishPackageReference` would you log an issue on the repository where that target lives?

[2017-09-13 16:20] #4781 closed, assigned to emgarten

[2017-09-13 16:20] emgarten commented on #4781
The NuGet restore changes will be part of 15.4 if it still makes it in. Otherwise 15.5.

[2017-09-13 16:45] evil-shrike commented on #5619
I have similar concerns as @bording and @NickCraver already clearly explained. But let me describe my use-case.

On my local machine I have two projects both are libraries with different release cycles (e.g. LibA and LibB). LibB depends on LibA and consumes nuget-packages from it. It depends on some version of LibA in csproj:

    <PackageReference Include="LibA" Version="3.0.0" />

Both libs are

[2017-09-13 16:57] emgarten commented on #5619
@evil-shrike use `globalPackagesFolder` see: https://docs.microsoft.com/en-us/nuget/schema/nuget-config-file

Packages.config uses a different folder format than PackageReference which is why the same property cannot be applied for both project types. The new equivalent is `globalPackagesFolder`

[2017-09-13 17:06] zhili1208 commented on #5882
@mishra14 @emgarten

[2017-09-13 17:12] #5395 closed, assigned to karann-msft

[2017-09-13 17:12] karann-msft commented on #5395
Issue moved to [NuGet/docs.microsoft.com-nuget #455](https://github.com/NuGet/docs.microsoft.com-nuget/issues/455) via [**ZenHub**](https://www.zenhub.com/)

[2017-09-13 17:19] zhili1208 commented on #5883
Could you provide more information about your issue? NuGet team doesn't own nuget installer in teamcity, but if you have any issue related to nuget.exe, we can take a look.

Please provide the version of nuget.exe and the repro steps for issue

[2017-09-13 17:58] bronumski opened #5884 ""Unable to gather dependency information for multiple packages" when updating a project with at least one package where none of the packages exists on the target source"
## Details about Problem
Nuget update exists with an exit code of 1 and a message of "Unable to gather dependency information for multiple packages" when updating a project that has at least one nuget package and none of the nuget packages exist on the source.

We have a solution which is built on TeamCity this solution has multiple internal dependencies that live as nuget artifacts on TeamCity. N

[2017-09-13 18:02] #5764 closed, assigned to nobody

[2017-09-13 18:06] emgarten commented on #5882
Dupe of https://github.com/NuGet/Home/issues/5764

Please see the above issue for a full description of what NU1603 means.

**tl;dr:** NU1603 as a warning means that your packages could change if a lower version that matches the min version of the range shows up later in a source.

[2017-09-13 18:06] #5882 closed, assigned to nobody

[2017-09-13 18:11] forki commented on #5882
Please reopen. There where errors reported

[2017-09-13 18:22] zhili1208 commented on #5884
Could you try to specify nuget.org as your source  like following?
[code]

[2017-09-13 18:43] bronumski commented on #5884
@zhili1208 - If I include both of the sources that is going to work as it will find the other package on the official feed.

To be clear I do not want to do an update against the official feed because I am only interested in updating internal packages and not external 3rd party packages. This was working as of 2.12.0 but we now need to move to a newer version of nuget. If the packages.config is em

[2017-09-13 18:47] xenry commented on #3891
+1

[2017-09-13 19:44] rohit21agrawal commented on #3936
we don't do this in dotnet.exe pack right now.

[2017-09-13 19:44] #3936 closed, assigned to nobody

[2017-09-13 19:55] emgarten commented on #5882
@forki @Thorium would you point me to the error or some repro steps?

I tried using https://github.com/jomonson/OwinCompressionDependencyIssue with both 1.0.16 and 1.0.15, on my machine using the latest NuGet I only get an NU1603 warning.

Most of the discussion here is around the NU1603 warning and how dependency ranges work, I think this is covered in https://github.com/NuGet/Home/issues/5764

T

[2017-09-13 20:04] den-run-ai commented on #4163
@markusgud deleting project.assets.json worked great! In my case I had both solutions open with different msbuild systems. Using one solution at a time fixes the issues.

[2017-09-13 20:12] natidea commented on #5868
@zivkan it may be easier to use a bare bones Project System like the examples in VSProjectSystem because the .NET project system probably does a lot more that what you need. However if you want to get nominate/restore working, you can do so on an instance of VS that has the .NET project system installed by leveraging **Capabilities** to MEF import our assemblies.

I've been experimenting with this

[2017-09-13 20:28] mungojam commented on #5715
Moved to https://github.com/dotnet/roslyn/issues/22095 as I think it should be fixed at compiler level

[2017-09-13 20:54] ghost commented on #737
Having this issues in VS 2017 - it seems its not fixed or someone reintroduced the bug

[2017-09-13 21:21] mishra14 opened #5885 "Allow packages to support different locales for their nuspec information"
stems from an internal issue: 454720

Currently there is no way for package authors to provide sattelite nuspec files.

Adding this feature would allow the PM UI to display localized package descriptions, which would be helpful for non-english users.

[2017-09-13 21:22] mishra14 commented on #5885
tasks related to localization of packages:
https://github.com/NuGet/Home/issues/5186
https://github.com/NuGet/Home/issues/5561

[2017-09-13 23:07] nkolev92 opened #5886 "Move the MSBuild detecting logic to a library different than NuGet.Commandline"
The MSBuild Toolset detection logic currently resides in NuGet.Commandline.
We'd like to use this code in different scenarios, like tests etc and make it accessible to anyone.

//cc
@emgarten @zhili1208

[2017-09-13 23:10] #5419 closed, assigned to nkolev92

[2017-09-13 23:10] #5444 closed, assigned to nkolev92

[2017-09-13 23:24] #5721 closed, assigned to nkolev92

[2017-09-14 01:21] timcomport commented on #4943
I'm also seeing this issue on Visual Studio 15.3.4.

As shown in the first screenshot the error is _"The operation failed as details for the project \<ProjectName\> could not be loaded."_

The project is working when the template uses the old csproj format but failing as above with the new "sdk" csproj format.

[2017-09-14 07:36] GeorgeTsaplin commented on #4234
+1
pack failed with "Authors is required" if assembly has:
`[assembly: AssemblyInformationalVersion("1.0.1-beta Branch:master Commit(SHA1):0917d95390880b1be64dd26fddc5be4dcc19605e")]`

For example if change to `[assembly: AssemblyInformationalVersion("1.0.1-beta.0917d95390880b1be64dd26fddc5be4dcc19605e")]` then pack works fine.

According to this https://blog.nuget.org/20140924/supporting-semver-2

[2017-09-14 08:16] xlegalles commented on #5764
@davidfowl Sorry, I did not see your question: well, we are migrating a big project to .NET Core and we have to manage quite a number of 3pp dependencies. Not all of them are already migrated but they are still compatible and everything work well. So this is the first cause of warnings: using .NET FW libraries from .NET Core.
Then, time to time we look after all of them and update versions which w

[2017-09-14 09:03] GeorgeTsaplin commented on #4234
Futher investigation shows that NuGet pack works fine according [SemVer 2.0.0 specification](http://semver.org/).
Error cause found by @thoemmi known as **Build metadata** and must has [such format](http://semver.org/#spec-item-10).

[2017-09-14 09:53] akamyshanov opened #5887 "PackRef does not show transitive dependencies - install tab & update tab behavior?"
When using "legacy"-style `.csproj` project files we have a separate `packages.config` file where all dependencies are listed, including transitive ones. This allows a use case when one installs a package with dependencies and then decides which transitive dependencies can be manually updated. So, the benefits are:

- Dependencies are easily identifiable due to presence of a flat list
- Fine-grain

[2017-09-14 10:43] davidfowl commented on #5887
I'm curious, why do you need this? Once you update the transitive dependency do you expect it to be hoisted into your project? Packages can remove dependencies in future versions so why does it matter that the dependency in transitive in the first place?

Why not just add the ones you care about explicitly updating manually to your project?

[2017-09-14 11:59] akamyshanov commented on #5887
@davidfowl
Thank you for the answer.

* Bug/security fixes in the dependencies
* performance improvements
* other reasons

When I explicitly update the dependency, I would like this fact to be somehow respected by NuGet and build tools, yes.

Sorry, I do not fully understand your question. If I haven't updated a transitive dependency, it would be removed as it is now. If I have updated it, it shou

[2017-09-14 13:05] gebai commented on #5883
Hi Zhi,

Thanks for the response!

This has been an issue across all our TeamCity projects. JebBrains (The TeamCity vendor) suggest us to consult NuGet team regarding this problem.

Our TeamCity is behind a proxy. When we use NuGet Installer build step, only NuGet.exe v3.3.0 works. All other versions, v3.4.3, v3.5.0, and v4.1.0 will throw "Could not create SSL/TLS secure channel." error.

We tried

[2017-09-14 15:15] davidfowl commented on #5887
performance improvements
other reasons

Security fixes is a fair concern but honestly this is a rabbit hole, if you have a deep dependency chain and your other dependencies don't update, it's on you to directly reference and update those dependencies transitively. If those transitive dependencies are removed in a future version and you're still using it directly nothing is going to tell you to rem

[2017-09-14 15:40] jonkerr commented on #5456
Applied to all.  Didn't help.

On Wed, Sep 6, 2017 at 2:53 PM, Brice Lambson <notifications@github.com>
wrote:

[2017-09-14 16:06] forbjok opened #5888 "VS NuGet writes absolute paths into project files under specific circumstances"
## Details about Problem

Under very specific circumstances, Visual Studio's built-in NuGet client will write absolute paths into the project file in various places, such as target import paths and reference HintPaths.

I've narrowed down the exact criteria to reproduce this issue: Run Visual Studio on the solution with the current working directory set to the solution directory **with a lowercase

[2017-09-14 16:59] rido-min opened #5889 "Author Package Signing"
Status: **Reviewed**

Spec for this feature is available here: https://github.com/NuGet/Home/wiki/Author-Package-Signing

Discussion should happen on this issue. Please link other issues with similar asks to this one

[2017-09-14 17:01] ghost opened #5890 "Nuget package added but not used TFS"
Hi guys! I have some problem with my packages which i add in runtime with this code:
``  <Target Name="BeforeResolveReferences"
<Exec Command="&quot;\\out-oracle\nuget\nuget&quot; update $(MSBuildProjectDirectory)\packages.config -id Sbt.CMS -FileConflictAction overwrite -Source \\out-oracle\nuget -Version 1.0.$(BUILD_BUILDID); &quot;\\out-oracle\nuget\nuget&quot; update $(MSBuildProjectDirectory)

[2017-09-14 17:10] zhili1208 commented on #5883
Could you provide the http log? It might not related to proxy authorization. From the error message "Could not create SSL/TLS secure channel", it looks like a secure protocol issue, it can be server provide one version of secure protocol and client needs another version. Or certificate issue. Need full log to understand what's going on.

[2017-09-14 17:16] akamyshanov commented on #5887
Correct, I just want a human-friendly way to find and perform these updates as it has been with `packages.config`.

Yes, correct.

I mean performance improvements in the updates. But it doesn't really matter, what matters is that reasons may be different.

NuGet working with `packages.config`? :) (yes, I know that it just adds all dependencies as top-level ones)

Fair enough.

Sure, that was my id

[2017-09-14 18:00] dend commented on #4512
@rrelyea @emgarten bringing this to your attention again, as it still repros.

[2017-09-14 18:07] maartenba commented on #5725
With the spec now announced: see previous comment :-)

[2017-09-14 18:08] maartenba commented on #5725
(or: what is the Server-Side spec for this?)

[2017-09-14 18:09] zhili1208 commented on #5890
Could you do not use BeforeResolveReferences and try to use nuget.exe update in a script and run the script before build solution? Does that work? Looks like msbuild didn't get reference correctly here. Or Please share a small repro solution, I can take a look.

[2017-09-14 18:14] ghost commented on #5890
@zhili1208 thanks for response. Update and restore before build works, but it restores packages which added to package.config before build process started. New versions of some packages generates in previous steps in anouther solutions  and added to this solution in runtume  with this version 1.0.$(BUILD_BUILDID)" which I don't know before build started
Initial version of package looks like
<packa

[2017-09-14 18:41] ghost commented on #5890
@zhili1208 We have a 4 solution(~ 6-7 projects in every), three of which have projects that used in main  solution. Maybe more better way is combine all projects in one new solution which used only for build in TFS? With this approach need for use packages will disappear.

[2017-09-14 19:00] zhili1208 commented on #5890
Yes, One approach is use one solution for all projects, Or you can migrate from package,config to packageReference (https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files) which have floating version support (https://docs.microsoft.com/en-us/nuget/consume-packages/dependency-resolution#floating-versions), you can specify floating version for your package, resto

[2017-09-14 19:40] karann-msft commented on #5725
@maartenba this spec is focused on the end-user experience. Once we are close to finalizing that, we'll start a discussion around the implementation details.

[2017-09-14 19:56] xavier-rigau commented on #5213
The suggested workaround didn't work for me. VS 2017 15.3.4 with Nuget 4.3.1

This is the error I was getting

Manually editing the csproj file and changing TargetPlatformMinVersion to the following:

[code]
Gives me this error which doesn’t make any sense.

Then I decided to try **change the package to UAP10.0.10240**:

And got this error:

[2017-09-14 20:43] rrelyea commented on #5870
This will be fixed in NuGet 4.4.0 preview 3 and later.
It which will ship in NuGet.exe once preview3 ships. That will be at nearly the same time as Visual Studio 15.4 preview 3 shipping. Preview 2 shipped on 9/11. Preview 3 will likely ship later in September or early October. (watch for preview 3 here: https://www.visualstudio.com/en-us/news/releasenotes/vs2017-Preview-relnotes)

[2017-09-14 20:43] #5870 closed, assigned to nobody

[2017-09-14 20:45] nschwerzler opened #5891 "Feature Request: Add response file support to NuGet.exe"
## Details about Problem
Feature request (not a bug).

NuGet product used: NuGet.exe

NuGet version: 4.3.0.3

VS version: Visual Studio 2017

OS version: Windows 10

Worked before? If so, with which NuGet version: Not applicable, New feature request

## Detailed repro steps so we can see the same problem
Feature Request: Add response file support to NuGet.exe. Response files are text files that co

[2017-09-14 20:46] rrelyea commented on #5868
Thanks @natidea for the details and progress here!
We'll close this nuget issue out. Let us know if/how we can help.

[2017-09-14 20:46] #5868 closed, assigned to nobody

[2017-09-14 20:52] rrelyea commented on #5891
Love the idea. Would like us to also work with DotNet CLI team here.
Likely should add to NuGet.exe and then to DotNet.exe code base (GitHub.com/dotnet/cli) as well.
Please submit PR for the NuGet.exe side. I'll open an issue with CLI team, and include you there. We'll discuss that with them as well.

[2017-09-14 20:56] nschwerzler opened #5892 "NuGet.exe pack file access is causing warnings in some build tools"
## Details about Problem

NuGet product used: NuGet.exe

NuGet version: 4.3.0.3

VS version: Visual Studio 2017

OS version: Windows 10

Worked before? If so, with which NuGet version: No

## Detailed repro steps so we can see the same problem

1. NuGet.Config file is getting accesses when doing NuGet.exe pack. This violates rules in some build tools.

C:\Users\\[user]\AppData\Roaming\NuGet\NuGet.

[2017-09-14 20:59] jackbond commented on #5887
I'm in the process of updating our projects to the new project format, and found this issue by searching around a bit because I'm facing the same issue. Having read through the existing responses, I must say I'm both confused and a little stunned. Perhaps someone can clarify this scenario a bit.

In one of our projects we're using Autofac and Autofac.Owin. Now in the "old" packages.config world, t

[2017-09-14 21:09] natidea commented on #5868
@zivkan please follow up on https://github.com/dotnet/project-system/issues/2491 if you have any more questions. Thanks!

[2017-09-14 21:15] emgarten commented on #5892
This is a problem all over for NuGet. I think the client should ignore config files it can't read and warn on a verbose level about it.

[2017-09-14 21:34] jackbond commented on #5887
Having reread the comments here, it seems like the concept of references may need to be extended a bit. Right now you can have a top level dependency or a transitive one, but there is clearly a need for something in between. Here's the primary use case,

Package A v4 depends on Package B v2.
Package B updates to v2.1 with critical security fixes

The current solution is to make Package B top level

[2017-09-14 21:38] emgarten commented on #4512
@dend the issue you are hitting doesn't look intermittent to me. A dependency package appears to have an invalid nuspec which causes the v3 feed for nuget.org to be invalid for that package. The result is that zero versions of that package are found by the client.

https://api.nuget.org/v3/registration3-gz-semver2/microsoft.visualstudio.services.gallery.webapi/index.json contains a version range `

[2017-09-14 23:17] clairernovotny commented on #5889
Related discussion leading up to the proposal above: https://github.com/NuGet/Home/issues/1882

[2017-09-14 23:21] emgarten commented on #5460
I've moved this to the backlog for consideration. I think #5154 is a good approach to fix this. Alternatively NuGet.Frameworks could add an alias for the unity profile so that it can be written as `net35-unity`.

[2017-09-15 00:08] IlyaBiryukov commented on #2365
It would be great to have it in <PackageReference> metadata. E.g.
[code]

[2017-09-15 03:11] nschwerzler opened #5893 "Feature Request: Need the ability for NuGet.exe pack to create a nupkg without the version in the package name"
## Details about Problem
Feature request (not a bug).

NuGet product used: NuGet.exe

NuGet version: 4.3.0.3

VS version: Visual Studio 2017

OS version: Windows 10

Worked before? If so, with which NuGet version: Not applicable, New feature request

## Detailed repro steps so we can see the same problem

Need the ability for NuGet.exe pack to create a nupkg without the version in the package name

[2017-09-15 05:05] AArnott opened #5894 "PackageReference broken in WPF projects due to tmp_proj not importing Package-supplied build authoring"
I don't know how I lost track of it when [reporting it here](https://github.com/NuGet/Home/issues/4652#issuecomment-280930062), but `PackageReference` is broken for WPF projects.

WPF has an inner build via a generated `randomname.tmp_proj` project file, where it compiles the source code among other things, I think as part of compiling the BAML. The problem is this random name that is assigned to

[2017-09-15 05:52] AArnott commented on #5894
I'm hobbling along with this workaround for now:

At the top of my project file:

[code]

and this at the bottom of my project file:

[code]

Note this is *not* equivalent to the originally designed behavior because the imports aren't in the same spot during msbuild evaluation as if the bug didn't exist, and it's quite tedious to hand-add this to each affected file and customize the `OriginalProje

[2017-09-15 06:22] maartenba commented on #5889
And the technical spec if anyone is interested: https://github.com/NuGet/Home/wiki/Package-Signatures-Technical-Details

(not much to see there so far)

[2017-09-15 06:24] maartenba commented on #5307
Given all the activity and announcements being made, I was wondering about this one here:

Having looked into previous commits, it seems only part of the V3 feed protocol, and involves a boolean `"verified": true` in search results. Are there any other server-side things that need implementing?

[2017-09-15 06:31] maartenba commented on #5725
Thanks! Looking forward to seeing the technical spec later on.

[2017-09-15 06:46] mjamro commented on #2834
@caioproiete For example when you want to add some sort of an external tool (.exe + dlls) to the package, which will later be used by calling the exe file, not by referencing it. You do not need to reference the dlls in your project in that case.

[2017-09-15 07:16] hawston opened #5895 "Nuget conditioning on $(Configuration) is not working"
< PackageReference Include="Newtonsoft.json" Version="9.0.1" Condition="'$(Configuration)' == 'Debug'" / >

I am trying to keep one nuget package in my project for debug configuration, but it is still there even for release.

[2017-09-15 09:30] van800 opened #5896 "nuget.exe list PackageName -IncludeDelisted doesn't show unlisted package"
nuget list JetBrainsRiderProtocol -IncludeDelisted -PreRelease -verbosity detailed
GET https://www.nuget.org/api/v2/Search()?$filter=IsAbsoluteLatestVersion&$orderby=Id&$skip=0&$top=30&searchTerm='JetBrainsRiderProtocol'&targetFramework=''&includePrerelease=true
No packages found.
NuGet Version: 3.4.3.855

https://www.nuget.org/api/v2/Packages?$filter=Id%20eq%20%27JetBrainsRiderProtocol%27
Success

[2017-09-15 09:33] m3dbedb commented on #1215
Same happens to me after deleting "applications insigth for VS2015". Installing AI for VS 2015 fixed the issue.

[2017-09-15 09:49] davidfowl commented on #5887
Ideally, you'd want the things that depend on the thing with the security update to update as well right? That way you don't end up copying lots of leaf nodes to each project. Neither approach scales IMO, either way you'll end up with top level dependencies.

Lets take the scenario you mentioned, you start with this project:

Autofac.Owin 4.0.0 -> Autofac 4.0.0 -> System.Magic 1.0.0

[code]

Time

[2017-09-15 10:52] evil-shrike commented on #5619
@emgarten Thank you, using `globalPackagesFolder` helps a lot. But I have to remove packages in that folder to get fresh versions. It'd nice to avoid it - if I tell "no cache please" and "force" (`--no-cache -f`) then just override packages from a source into `globalPackagesFolder`.

[2017-09-15 12:11] cervengoc commented on #5174
+1 Could anyone please give some feedback on this?

[2017-09-15 13:32] clairernovotny commented on #5307
This should not be a protocol level feature. That could lead to conflicts across different feed sources. That would also then not work off-line, if a user wanted to see if it was a verified prefix from a particular feed source.

[2017-09-15 13:54] maartenba commented on #5307
[edited] will await reply from NuGet folks as I really just want a server-side spec.

[2017-09-15 13:55] clairernovotny commented on #5307
I'm saying it should be part of the package signing feature, metadata per feed source tucked in the package. Can discuss offline.

[2017-09-15 13:56] maartenba commented on #5307
Not that discussion again :-D

[2017-09-15 14:16] mohakbarokar opened #5897 "[VS2017 || Nugetizer3000] Getting error "Could not find file 'C:\Users\User\Desktop\QualityAssurance-master\QualityAssurance-master\Manual\Nugetizer3000\AddPlatformImplementation\Library.NuGet\bin\Debug\Readme.txt" on creating nuget package"
## Details about Problem

NuGet product used : VS UI

NuGet version (x.x.x.xxx): Nuget Package Manager 4.4.0 || NuGet.Build.Packaging to latest (v0.2.0)

VS version (if appropriate): Microsoft Visual Studio Enterprise 2017 d15rel
Version 15.4.0 Preview 3.0 [26914.1.d15rel]

OS version (i.e. win10 v1607 (14393.321)): Win10

## Detailed repro steps so we can see the same problem

1. Open Attached "A

[2017-09-15 14:48] StephenCleary commented on #2577
Feature request: a GitHub-specific Certificate Authority.

As long as Authenticode certificates cost money, they will not be adopted by most open-source projects. I recommend developing a free public service that:
1) Has a root signing certificate recognized as an acceptable authority by Nuget.org.
2) Automatically grants private signing certificates to users based on their GitHub authorization.

[2017-09-15 14:49] AArnott commented on #2365
@IlyaBiryukov since packages can contain several assemblies, and those assemblies may be a mix of those that should be linked vs. those that should be referenced, how would you resolve that in your proposal?

Jared and I discuss this option above of letting the consumer influence the linking of assemblies, which you can review. My argument is an assembly can and should be linked if and only if its

[2017-09-15 14:49] clairernovotny commented on #2577
@StephenCleary I proposed that already, it's against CA/B forum and Windows Root Authority rules. You have to validate legal entities, individuals/organizations only.

[2017-09-15 14:49] StephenCleary commented on #2577
But Nuget.org's verification != Windows Root Authority

[2017-09-15 14:50] clairernovotny commented on #2577
It chains up to the same thing and the trust comes from there.

[2017-09-15 14:50] maartenba commented on #2577
Afraid this may actually be the case now NuGet.org is in effect Microsoft -> https://blog.nuget.org/20170907/Changes-to-NuGet-dot-org-service-management-and-performance-improvements-in-China.html

Think many end users/enterprises will expect Windows Root Authority for all things Microsoft (and .NET).

[2017-09-15 14:50] AArnott commented on #5877
You might want to add https://github.com/NuGet/Home/issues/5894 to your list of issues to be fixed. Since NuGet contains WPF assets, this could bite you.

[2017-09-15 14:52] StephenCleary commented on #2577
In that case, package signing is dead in the water. It'll never be widely adopted.

[2017-09-15 14:53] clairernovotny commented on #2577
The majority of packages don't have to be signed. This lets projects/organizations that want that extra level of identity do so.

[2017-09-15 14:58] StephenCleary commented on #2577
Yes. And library authors will be constantly pestered about it.

Microsoft will start warning consumers about unsigned packages by default, creating a division between those who have corporate sponsorship and those who write libraries out of love.

I see this as a net negative for the .NET community and innovation as a whole, but perhaps it is not.

[2017-09-15 15:00] pedrolamas commented on #2577
I'm frankly with @StephenCleary on this one... if this is to fix an issue, it needs to be broadly used, not something to be used just by the ones willing to pay for it.

[2017-09-15 15:02] clairernovotny commented on #2577
Here's a question -- why is NuGet any different than what people do today? How many people/orgs Authenticode sign their files? Corporations usually do. Some OSS. Most don't. Why would it be different for NuGet? Why would people suddenly start caring there when they clearly didn't care before?

[2017-09-15 15:03] pedrolamas commented on #2577
I guess that question should be put to NuGet and Microsoft, not the open-source community who are only interested in sharing code (packages) with others!

[2017-09-15 15:04] clairernovotny commented on #2577
How is this a NuGet/Microsoft question? In that respect, they are following what people are already doing today in this area. Those that care, sign their files, most don't. NuGet is just choosing to provide a mechanism to enable this.

[2017-09-15 15:09] pedrolamas commented on #2577
My point is I'm not sure the community actually asked for this! Seems to me - and as you correctly pointed out - this is mostly a feature requested by corporations (to only use signed packages), but in the end will be available publicly and does help to avoid fake packages being submitted to NuGet, so I do see advantages for wider adoption.

What I don't like is the fact that as is stands, it requ

[2017-09-15 15:11] jozefizso commented on #2577
@PedroLamas count me in as community member who wants packages to be signed.

[2017-09-15 15:12] maartenba commented on #2577
I think the big issue is in creating "classes" of OSS:

![](https://github.com/NuGet/Home/wiki/Author-Signatures-media/packages-with-visual-indicators.png)

Many would not go with NUnit if they see this. And if I authenticode-sign `Newtonsoft.Jsno` I'd be happy with a green "TAKE ME, TAKE ME!" mark next to it.

All else about signing is awesome. Those who need it can go all-in and reject/approve c

[2017-09-15 15:13] clairernovotny commented on #2577
The UI isn't the only thing.... corporations may prohibit unsigned packages too, so there is reason for those projects to get signed.

[2017-09-15 15:15] tomkerkhove commented on #2577
I'm with @maartenba on this one - Let people sign them, but don't discriminate people that don't.

@onovotny It's a reason but you can't expect them to do that.

[2017-09-15 15:17] clairernovotny commented on #2577
An unsigned package can put anything in the package authors section they wanted. I could create a package and list "Microsoft Corporation" as the author and upload it unsigned. The dialog above would show that.

How would someone tell the difference from the package Microsoft created where the package author information came from the certificate instead?

[2017-09-15 15:18] maartenba commented on #2577
By only allowing the Microsoft cert chain?

[2017-09-15 15:19] clairernovotny commented on #2577
That's drastic. Most people will not be doing only whitelisted certificates (though some corps may). When you're looking at the UI, how do you know which author field value is more trusted and accurate?

[2017-09-15 15:21] tomkerkhove commented on #2577
Signing a package doesn't avoid your scenario as well to be honest? Or am I missing something?
Verified != Signed.

[2017-09-15 15:23] clairernovotny commented on #2577
In a signed package, the UI will use the information in the certificate subject as the author for display instead of the metadata in the package. Verification is for package ID's, signing is for identity of the author.

[2017-09-15 15:25] StephenCleary commented on #2577
Signing does identify authorship. It definitely adds value.

I'd just like to see "authorship" also include "this GitHub user", not just "some person who convinced a CA that they are who they say they are". But it's Nuget.org's call whether to allow that or not.

[2017-09-15 15:26] clairernovotny commented on #2577
It's really not NuGet's call, it's CA/B forum and the Microsoft Root Authority programs call. I did suggest this back in Feb and @blowdart shot it down hard.

[2017-09-15 15:29] StephenCleary commented on #2577
Well, I *would* expect that to be a fight. Simply put, CAs have a ton of clout, even though they have tons of problems (constantly issuing certs without sufficient validation, disproportionate price for service).

Until Let's Encrypt came along and shook it all up. I'm just still wishing we can do the same for code signing.

[2017-09-15 15:31] clairernovotny commented on #2577
@StephenCleary I agree 💯%, and I tried to figure out a way to do this this past winter. Would love it if something like this was possible.

[2017-09-15 16:21] StephenCleary commented on #2577
I don't know how Let's Encrypt got past the CA guardians into the root list, but I suspect they've learned from that and will fight to the death to prevent free code-signing certificates.

That said, we could start our own SimpleCA project using scalable tech (Auth0, Key Vault, Blobs/Tables, and Functions should do it). And then once we have a proven, open-source solution, we might be able to talk

[2017-09-15 16:43] nkolev92 commented on #5877
Done.
Thanks @AArnott.

[2017-09-15 17:11] blowdart commented on #2577
Even if nuget suddenly had a CA (which would involve me being hit by a bus first) it would not issue code signing certs, it would issue package signing certs, because there's no way in heck we'd want to grant the ability to get a pass from smartscreen simply because you created a nuget.org account.

[2017-09-15 17:16] StephenCleary commented on #2577
That's not what I'm suggesting **at all**.

What I'm suggesting is that Nuget.org allows package signing using certificates issued by our custom GitHub-CA in addition to regular CAs.

Nuget.org would not manage the custom GitHub-CA. There are people in the community who could do that. It would be best to keep Nuget separate from the CA even if you were willing to do it.

The certificates issued by

[2017-09-15 17:19] clairernovotny commented on #2577
@StephenCleary the problem there is if they have the right EKU on the cert, not 5 minutes after such a thing existed, would there be a guide and people telling people how to put that "GitHub-CA" root CA cert into their machine's trusted root store, and then smart screen would be impacted.

[2017-09-15 17:19] StephenCleary commented on #2577
Ah. Yes, that would be a problem. Not unlike Fiddler. The root cert could have a similar DO_NOT_TRUST disclaimer. :)

[2017-09-15 17:34] ektrah commented on #2577
How important is it that this uses X.509 certificates? It's pretty simple to tack a digital signature onto a .nupkg file. That could be verified on every package restore. The interesting question is where the public key comes from for verification.

[2017-09-15 18:08] zivkan commented on #5868
Sorry I couldn't reply earlier. Nat, thanks for the detailed info. I really appreciate all the effort. I can't expect users of my project system to install a custom .NET project system, and I don't know what side-effects there will be if I claim the c#, VB or F# capability. So for now, I think I'll investigate using packages.config, or maybe programatically running msbuild /t:restore on project lo

[2017-09-15 18:33] jackbond commented on #5887
@davidfowl

Let me preface all this by saying you've obviously got way more experience with this, and have put in a lot more time thinking about it. My observations are from someone who hasn't needed to, but always had the nice option of right-clicking a solution, selecting "Manage Nuget Packages for Solution", and viewing the Updates tab, and having a pretty good idea of what's changed in the las

[2017-09-15 18:42] emgarten commented on #5895
`TargetFramework` is the only support condition allowed for `PackageReference` items.

To work with other conditions you will need to handle them yourself by passing the extra property values to restore, and ensuring that restore is done appropriately before each build.

[2017-09-15 18:42] #5895 closed, assigned to nobody

[2017-09-15 18:47] jp2masa opened #5898 "Subdirectories are ignored when including files without extension"
(I'll try to fix this and I know where the problem is, but if this behaviour is expected and this isn't a bug, please point me in the right direction. The behaviour is expressed in this statement: https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Build.Tasks.Pack/PackTaskLogic.cs#L426)

If I add this to my project file:
[code]
And I have for example these files:
- tools\\folder1\

[2017-09-15 18:52] zhili1208 commented on #5898
@rohit21agrawal

[2017-09-15 19:01] jp2masa commented on #5898
I was trying to fix this now and this is what I can think of:
Code:
[code]
A condition can be added to check if the file extension isn't `String.Empty`, but that would remove the option of specifying a target path for files without extension (which already happens anyway, because it copies the file to a folder instead of copying it with the target path file name). So `&& Path.GetExtension(fileName

[2017-09-15 19:03] rohit21agrawal commented on #5898
@jp2masa you are on the right track, i will look forward to a PR from you

[2017-09-15 19:13] ektrah commented on #2577
How important is it that this uses X.509 certificates? I mean, what do you *really* need to know?

* That the package was signed by "CN=Scott Hanselman, O=Microsoft Corporation, L=Redmond, S=Washington, C=US",
* that the package was signed by GitHub user "shanselman",
* that the package was signed by NuGet.org user "shanselman",
* that the package was signed with the key listed in the package's Gi

[2017-09-15 19:26] clairernovotny commented on #2577
@ektrah The first one is the only one that many large organizations care about. It's really the only independently trustable thing we have today.

Key pinning needs to take renewal into account as certificates expire.

[2017-09-15 20:00] mavnn commented on #2577
@onovotny I dispute the fact that the first one is the only one large organizations care about. For example, many large organization trust Debian packages based on PGP/GPG signing.

This is a solved problem in many open source communities: as an open source contributor I cannot see anyway of tying this into the CA system which will not result in a "two class" trust system that excludes the vast ma

[2017-09-15 20:24] Lakritzator commented on #2577
This discussion is very interesting, and although I currently don't have an good ideas to solve it I just wanted to add some information.

Currently an Open-Source Code Signing Certificate costs 28€ per year (last year it was ~17€):
https://en.sklep.certum.pl/data-safety/code-signing-certificates/open-source-code-signing-929.html
From my point of view, this is an acceptable price especially as it'

[2017-09-15 20:28] clairernovotny commented on #2577
@Lakritzator For the specific issue of CI builds, I have a code signing service that you can deploy for that: https://github.com/onovotny/SignService. It supports certificates in Azure Key Vault's HSM, and that's a FIPS compliant device suitable for EV code signing certificates (I have mine in there).

[2017-09-15 20:38] Lakritzator commented on #2577
@onovotny Yes, you are right, I almost forgot 👍  I will really need to put some time in that as it looks very promising! But I didn't get my certificate renewed yet, as Certum still forces you to have one in the activation / renew process.. and the one I bought wasn't supported 😢

P.S.
Cake support, or maybe an example, will save me some time 😈

[2017-09-15 20:39] AlexEyler opened #5899 "NuGet packages referenced via PackageReference don't include DLLs in VSIX"
## Summary

When building a VSIX that references NuGet packages, users used to be able to easily include the assembly included in the NuGet packages by setting <CopyLocal> to true on the reference. The VSSDK build tasks search through the @(ReferencePath) item for any reference that has CopyLocal set to true and then includes
 those references in the VSIX.

PackageReferences don't give the option

[2017-09-15 20:45] clairernovotny commented on #2577
@Lakritzator Cake itself is using it:
https://github.com/cake-build/cake/blob/develop/build.cake#L304-L351

I'm not sure if it's possible for Certum to issue a certificate to Key Vault. You have two options for that:

For a non EV cert, without an HSM requirement, if you can get a PFX you can import it into Key Vault. For an EV cert, or ones that will only be issued to an HSM, you can generate the

[2017-09-15 20:51] StephenCleary commented on #2577
@Lakritzator I'm just using GitHub as an example for what I call the GitHub-CA. It would be a general-purpose OSS-CA that could support multiple forms of authentication. I just mentioned GitHub because I've done GH authentication before and they're one of the most popular OSS sources. So they'd probably be the first credentials supported; but yes, it is intended to be a general-purpose OSS-CA.

[2017-09-15 20:51] asbjornu commented on #2577
@StephenCleary:

That's exactly what Keybase does. Keybase **is** the "GitHub-specific Certificate Authority" you ask for. I've attempted to explain what it is and would provide NuGet with in this thread, specifically this comment: https://github.com/NuGet/Home/issues/2577#issuecomment-323184243

Please read what I've written, but more importantly; try the service out. Everything behind the scenes

[2017-09-15 20:58] pedrolamas commented on #2577
@asbjornu I use Keybase, seems to me it does a pretty good job!

Plus, its free for everyone and supports GnuPG, which is available cross-platform **today** and not just on "stage 3" as per [this post](https://blog.nuget.org/20170914/NuGet-Package-Signing.html)...

[2017-09-15 21:00] ektrah commented on #2577
I think it should be possible to link NuGet packages to GitHub accounts (or BitBucket, Gitlab, ...) without needing to get a third party involved. I've put a *very* rough proposal [here](https://gist.github.com/ektrah/4893051dc7fb30ac205b2af1dbf40f50).

[2017-09-15 21:21] asbjornu commented on #2577
@ektrah: Keybase already does this. Please have a look at [my profile](https://keybase.io/asbjornu). The GitHub icon there points to [this gist](https://gist.github.com/asbjornu/5a5abf707b703ac1b29f), which proves to Keybase that I'm the owner of the GitHub account. That verification method can be repeated on every online system in existence to increase the authority of a user and confidence to co

[2017-09-15 21:28] ektrah commented on #2577
I just wanted to point out that it could be done without Keybase if desired, not that Keybase is a bad idea. What would be needed to get Keybase support into NuGet?

Interesting problem: How do we prevent someone from revoking/expiring their key and [break the Internet](https://arstechnica.com/information-technology/2016/03/rage-quit-coder-unpublished-17-lines-of-javascript-and-broke-the-internet/

[2017-09-15 21:30] clairernovotny commented on #2577
That's what time stamping is for. Revocations are for a certain time and after. Code signed before the revocation are usually considered valid.*

*There are exceptions to this.

[2017-09-15 21:33] ektrah commented on #2577
But where do get the certificate from if the package owner decides to rage quit?

[2017-09-15 21:37] clairernovotny commented on #2577
Huh? How would that matter? You wouldn't have access to upload the NuGet package or commit to the repo either? You'd probably fork and rename...?

[2017-09-15 21:46] ektrah commented on #2577
I was just thinking how a disgruntled package owner could prevent anyone from using their package even with time stamping. The solution is, of course, to include the certificate in the NuGet package. But I don't want to diverge the thread. So back to topic:

How could we get something simple to work and what kind of assurance is needed from a signed package?

[2017-09-15 22:33] rohit21agrawal commented on #5899
I talked to alex offline about this, and it seems that the VS SDK needs to also start looking at ReferenceCopyLocalPaths item groups (which is also the item group that the target _CopyFilesMarkedCopyLocal used to copy these references the output directory) . The items won't have CopyLocal set to true (for some reason I can't understand) but as the name suggests , anything in ReferenceCopyLocalPath

[2017-09-15 22:44] rohit21agrawal commented on #5899
Tracking bug for DevDiv internal bug #453911
update (via rob): ( currently milestone = 15.6)

[2017-09-15 23:18] rohit21agrawal commented on #5875
@EtharAlali were you able to verify this?

[2017-09-15 23:59] jp2masa commented on #5898
Unfortunately I won't be able to open a PR today, because I can't debug tests in VS, but I'll repair VS now and open a PR probably tomorrow.

[2017-09-16 00:44] nschwerzler opened #5900 "Feature request: Improve NuGet pack error messages"
## Details about Problem
Feature request (not a bug).

NuGet product used: NuGet.exe

NuGet version: 4.3.0.3

VS version: Visual Studio 2017

OS version: Windows 10

Worked before? If so, with which NuGet version: Not applicable, New feature request

## Detailed repro steps so we can see the same problem

Would like errors to look like a standard compiler error to make parsing in wrapper tools eas

[2017-09-16 00:54] dazinator commented on #4943
I also raised this issue on the vsproject system repo as I was not sure who it sits with: https://github.com/Microsoft/VSProjectSystem/issues/221

[2017-09-16 19:18] ektrah commented on #2577
What about something like this?

*Extended validation (EV):*
![ev](https://user-images.githubusercontent.com/4752078/30515204-f3ce2138-9b23-11e7-99ad-d67cd669b4d4.png)

*Account validated (AV):*
![av](https://user-images.githubusercontent.com/4752078/30515209-fde5e08e-9b23-11e7-877a-a784ad234e51.png)

*Trust on first use:*
![ss](https://user-images.githubusercontent.com/4752078/30515211-03c73bb0-9

[2017-09-16 21:45] jariq commented on #2577
I am very happy that package signing is finally getting some attention and so far everything looks good to me except the [UI presented in the wiki](https://github.com/NuGet/Home/wiki/Author-Package-Signing). I agree with @maartenba that current UI draft is creating the feeling there are "classes" of packages:

---

![image](https://user-images.githubusercontent.com/1163818/30515923-84e5a8fa-9b31-1

[2017-09-17 13:04] c0shea commented on #2577
I might be remembering wrong but I thought the blue checkmark icon currently represents that the package is installed.

I do agree that having icons like that would divide the community. I'm not a fan.

[2017-09-17 13:38] StephenCleary commented on #2577
I have a question re the package signing proposal that I couldn't find an answer to in the Wiki:

Does this affect backwards compatibility at all? I.e., will the client tooling ever assume that since 1.1.0 is signed, that 1.1.1 must be signed as well? I'm thinking of a scenario where an OSS project loses corporate funding and thus its certificate, so 1.1.1 would be unsigned.

Also, we'll need to k

[2017-09-17 13:55] StephenCleary commented on #2577
I also have a **strong** recommendation: let's *not* use the "signed"/"signing" terminology for package signing. E.g., use "package verification" or something like that exclusively.

I think a *lot* of people will confuse this will strong-name signing (just look at how much strong-name signing is confused with Authenticode signing today - and the only reason that isn't a *huge* problem is because

[2017-09-17 16:24] ektrah commented on #2577
So the user experience would be like the "Verified account" badge on [Twitter](https://support.twitter.com/articles/119135)/[Facebook](https://www.facebook.com/help/196050490547892)/etc.?

![verified-account](https://user-images.githubusercontent.com/4752078/30522696-a56b9a5a-9bd4-11e7-947b-856f2881e8b1.png)

I would assume that I'd get a warning if I have added a package by verified author X and

[2017-09-17 18:53] dazinator opened #5901 "Feature Suggestion - Capabilities"
I will outline the scenario and suggestion..

## The Problem

I would like to maintain a single nuget package that can be installed into asp.net core projects consuming:-
-  `asp.net core 1`
- `asp.net core 1.1`
- `asp.net core 2.0`

I am mentioning asp.net core as a concrete example, but this suggested feature, generalises.

I say "consuming" rather than `targeting`, because these **are not** TFM

[2017-09-17 19:16] Lakritzator commented on #2577
Is the signing certificate linked to an individual, or is it also possible to get a certificate (or whatever) for a team? Can I as an individual get multiple certificates, for different projects I work on?

[2017-09-17 19:52] ektrah commented on #2577
For EV, I guess you could have as many certificates as you can buy. It depends on the CA if the certificate would be for an individual, a team, or an organization.

For AV, I see no reason why it shouldn't be possible to get multiple certificates that are all linked to the same (GitHub/Keybase/...) account.

[2017-09-17 21:01] jp2masa commented on #5220
I'm working on a project system based on CPS, and I'd like to distribute the build system as an Sdk (ideally a package Sdk). I can't use PackageReference because MSBuild seems to expect for at least one import for props and one for targets. Is this planned for the next VS/MSBuild/NuGet release? Also, is it possible to implement a custom Sdk resolver in my project system, without installing it to t

[2017-09-17 22:34] ivanmartinvalle commented on #5127
This happened to me, and at least in my case the error was a red herring. I was not explicitly setting the version.

[code]

[2017-09-17 22:49] jeffkl commented on #5220
I am working with the NuGet team to add this in the next release of MSBuild.

https://github.com/jeffkl/NuGetSdkResolver

[2017-09-18 00:23] BobbyCannon commented on #2365
I just realized that the new PackageReference won't let me "EmbedInteropTypes" == false for certain assembly references... so I have to roll back a really long conversion from packages.config to PackageReference, 14 projects, wish I would have known this earlier today.

Anyway, what does this mean for projects like my open source project that requires "EmbeddedInteroptTypes" reference option? I gu

[2017-09-18 01:31] AArnott commented on #2365
@BobbyCannon I suspect you meant that it won't let you `EmbedInteropTypes=true`, since false is the default.
And you can workaround this limitation on an individual basis by adding an msbuild .targets file to your package that you publish, [like I did](https://github.com/NuGet/Home/issues/2365#issuecomment-200092160).

[2017-09-18 02:37] natemcmaster commented on #5220
I hit the same limitation too.
https://github.com/Microsoft/msbuild/issues/2278 So far I haven't seen a response to this from the MSBuild team.

[2017-09-18 10:16] mavnn commented on #2577
So, I've been thinking thoughts about this all weekend (thanks guys!), and I'll try and condense them here.

From the OSS side:

* most OSS projects are not organizations in the formal sense of the word; they have no legal existence, no shared budget, possibly not even a website
* many OSS authors do not particularly trust the CA system
* there are many OSS projects which could not acquire a CA si

[2017-09-18 10:33] mavnn commented on #2577
Also: good point from @StephenCleary - signing is already a very overloaded term in the .net build space. I don't know what a better name is, but his concerns are very valid.

[2017-09-18 11:02] BobbyCannon commented on #2365
@AArnott Actually my issue is I need to set it to false for Interop.UIAutomationClient. I'm still not sure I understand. I'll look more into msbuild .targets file, you have any good sources of information on them. Specifically on how to setup a nuget package with one?

[2017-09-18 14:13] wozzo opened #5902 "Packaged NuSpec file truncating version when version parameter passed to CLI"
## Details about Problem

NuGet product used: NuGet.exe

NuGet version (x.x.x.xxx): 4.1.0.2450

## Detailed repro steps so we can see the same problem

1. Create a nuspec file which contains a version including build metadata (after + symbol), e.g. `19.0.0-cathy+1709061515.ref610cb`

2. Run the cli passing in the version there
[code]

3. Check the nuspec version in the package and the version will

[2017-09-18 15:09] echarrod commented on #3060
I have the same issue now - "Unable to find 'bin\Release\{Project}\bin\Release\'." or "Unable to find 'bin\Debug\{Project}\bin\Debug\'." for either configuration.

My output is  'bin\Release\netstandard1.6'., the same as the original poster, but I am unable to create a project.json file as you suggested, as I'm using VS2017, do you know of another workaround?

[2017-09-18 15:44] hisuwh commented on #1908
I'm getting this issue also

[2017-09-18 18:25] emgarten commented on #1908
@sharifmamun @hisuwh the problem here was that the package was authored incorrectly. Please read the current docs on contentFiles and double check that your packages are authored correctly.

There are currently no known bugs or issues with this setting for contentFiles, if you encounter one please open a new issue so that it can be investigated.

[2017-09-18 18:31] #5508 closed, assigned to jainaashish

[2017-09-18 20:34] rrelyea opened #5903 "NuGet support for source build of NetCore"
NetCore needs to be built from source for a few different reasons.
NuGet has a few issues that were raised during the NetCore 2.0.0 timeframe.

NetCore team is trying to ensure that whatever work is necessary to be source buildable doesn't wait for 2.1, but instead is done soon, and a branch exists with the appropriate fixes, and that branch would also need to be binary inserted into upstream comp

[2017-09-18 20:55] BobbyCannon commented on #2365
@AArnott, thanks for your help. I think I figured out this part... now to figure out why my other assembly is not being copied to the bin/debug folder... I don't understand because it should be. Works with packages.config? so...

[2017-09-18 21:47] nkolev92 commented on #5902
@wozzo
Semver2 support was added to NuGet in 4.3.

Can you please test with https://dist.nuget.org/win-x86-commandline/v4.3.0/nuget.exe ?

[2017-09-18 22:11] rido-min commented on #2577
@maartenba, @StephenCleary and @PedroLamas:
NuGet.org will not require signed packages, and by default NuGet client will not warn or block users when installing unsigned packages from NuGet.org.

We have prioritized X.509 certificates over other PKI systems because it's widely used across platforms, and has excellent support in Windows and .NET.  We are evaluating other PKI approaches (like PGP),

[2017-09-18 22:28] anangaur commented on #2577
@Lakritzator The term **team** can be interpreted in multiple ways:

If you are talking about a **team** in a company, then companies can get a certificate and that can be used.

If **team** means a group of NuGet.org users co-owning a package, then either of the co-owners' certificate can be used.

However, I am not sure if a group of people identifying as an entity (team) without being a public

[2017-09-18 22:35] nkolev92 commented on #4071
This is an old duplicate issue.
https://github.com/NuGet/Home/issues/318

I will close out the other one in favor of this.

[2017-09-18 22:35] clairernovotny commented on #2577
@vcsjones just posted a blog explaining his analysis on why x509 currently works better than PGP for the stated goals of NuGet: https://vcsjones.com/2017/09/18/nuget-package-signing/

[2017-09-18 22:35] nkolev92 commented on #318
Dup of https://github.com/NuGet/Home/issues/4071
Closing this one.

[2017-09-18 22:35] #318 closed

[2017-09-18 22:37] rido-min commented on #2577
@mavnn, @StephenCleary about the feature name.

I agree package singing can be confusing as signing itself is an overloaded word. However there some historical context where everyone refers to this feature as *Package Signing* and I continued with the same name.

This feature is about protecting the package as a whole, without setting any requirements on its content, for example strong named assem

[2017-09-18 22:46] rido-min commented on #2577
@StephenCleary about updating

Client policies comes into play in Stage 3. Even at that point, the default behavior will not block the unsigned package version as stated in the above scenario. Only in the *Secure Mode* the client will always require signed packages.

[2017-09-18 22:50] nkolev92 commented on #5901
**Q1**

NuGet does not have any context to understand that this is an ASP.NET project.
The only thing it's concerned with is the target framework.

I'm not sure what you're suggesting scales well though, as we're only talking about 1 package here.
Any thoughts @emgarten

**Q2**
We have story about listing/displaying only compatible packages here:
https://github.com/NuGet/Home/issues/4071
Upvote an

[2017-09-18 23:03] asbjornu commented on #2577
@onovotny:

Much of @vcjones' premise for debunking GPG/PGP is that the tooling is bad. As he doesn't mention Keybase, I assume he's never tried it. Keybase's tooling is good. With Microsoft's support, the tooling could become awesome.

I also find it a bit ironic to bash GPG/PGP tooling on Windows when the X.509 tooling Windows has is `makecert.exe`. Windows might have good tooling, but not for t

[2017-09-18 23:08] emgarten commented on #5901
@dazinator any reason you can't use?

[code]

NuGet uses the nearest compatible group, and ignores all other groups.

[2017-09-18 23:11] vcsjones commented on #2577
I have. I do not agree. Tooling aside I don't think PGP is well understood by organizations, which frankly in my mind is the primary audience for *consuming* signed packages.

Windows has `certreq` for enterprise enrollments or self-signed certificates, or PowerShell `New-SelfSignedCertificate`. But sure. I'll assume since you did not mention them that you have tried them.

Which is my point, and

[2017-09-18 23:39] AArnott commented on #2365
The CopyLocal behavior of your assembly is a different question from whether the assembly is linked or referenced. You should look for or file a separate issue to track that.

[2017-09-18 23:41] dazinator commented on #5901
@emgarten - those groups target tfm's - but aspnetcore1.0 isnt a tfm (each version of aspnetcore can run on potentially multiple tfm's).
So targetimg a tfm is not enough to target a particular aspnet core version. For example netcoreapp2.0 can can run netcoreapp1.1 packages, so a netcoreapp20 project can be running aspnet core 1.1 not 2. Or a net46 tfm can be running aspnet core 1.0 or 1.1 etc

[2017-09-19 00:07] emgarten commented on #5901
@dazinator there would be an ordering problem here first off. When walking this package restore would need to know the capabilities from all packages, and that wouldn't be known until the end. Each time a package changed and the capabilities changed everything depending on them would need to be re-walked, which ends up being a very time consuming and difficult issue. The project framework used to

[2017-09-19 00:13] dazinator commented on #5901
@nkolev92 - the search results / compatibility feature you linked - thank you, but its decribing compat based on TFM (nuget already has that nailed for the large part). This request is describing  compat via new concept to further restrict results after TFM is applied

[2017-09-19 00:29] nkolev92 commented on #5901
@dazinator
Yeah that's clear.
That issue is about "listing" package based on compatibility, whatever that might be.
Currently NuGet does not do **any** project compatibility checks when presenting package search results.

[2017-09-19 00:31] dazinator commented on #5901
@emgarten - ouch yes I can see that would be nasty. Well thanks for considering it and I appreciate your response. An example is that, in asp.net core 1, the way you set up logging and DI is different than asp.net core 2. My library wants to support both asp.net core 1 and 2. But it relies on a dependency (nuget package) to set up the logging. Because of precisely this issue, if my package is inst

[2017-09-19 00:39] emgarten commented on #5901
That does sound painful!  At one point *aspnetcore* was a TFM which enabled this, but it was later simplified to use just *netcoreapp*. I would think to some extent that TFM would still be useful, you could check later in a props/targets file if the package was installed where it couldn't work and then fail.

[2017-09-19 00:40] dazinator commented on #5901
Ha.. ok yes that definately gets my vote then.. i thought it atleast filtered some results based on tfm's in the solution.

[2017-09-19 00:45] dazinator commented on #5901
Ok thanks, well I'll close this for now, but keep me informed if you come up with any bright ideas around this in the future! :-)

[2017-09-19 00:45] #5901 closed, assigned to nobody

[2017-09-19 07:45] wozzo commented on #5902
Thanks. It works in 4.3

[2017-09-19 07:45] #5902 closed, assigned to nobody

[2017-09-19 09:25] UncleFirefox commented on #3891
+1 @zvirja do you have the workaround somewhere I can have a look at?

[2017-09-19 10:12] asbjornu commented on #2577
That's a valid concern, but you even propose a very sensible solution to that problem:

A generic solution that ties into an account with the origin server of the package is very sensible and does not exclude private NuGet servers, MyGet, or similar as you state:

It just requires the solution to be generic; to connect the origin server and accounts within it. Is that a problem? If it is, I don't

[2017-09-19 11:19] zvirja commented on #3891
@UncleFirefox ATM no, as I no longer need this feature. However, you can use smth like:
[code]

If you target multiple frameworks, I'd look to smth like below (stolen from [here](https://github.com/ctaggart/SourceLink/blob/61d17e2/README.md#known-issues)):
[code]

Hope that helps 😉

[2017-09-19 12:35] willdaviesdevelops commented on #1448
Using Jenkins on Windows.
Fixed with more elevated perms for the Jenkins service account.

[2017-09-19 13:29] SabotageAndi commented on #5880
@emgarten In your linked Microsoft.NuGet.targets file only 5 tokens are specified.
But the documentation (https://docs.microsoft.com/en-us/nuget/create-packages/source-and-config-file-transformations) says, there are more available:

Is this really the code for replacing the tokens?
Additionally I am a little bit irritated, that this code is in a MSBuild target file and not in the C# code.

[2017-09-19 16:16] malachib commented on #5468
I am hitting something nearly identical to this, except utilizing the internal TeamCity CI server.  Any progress on the issue?

EDIT: In my case, was solved by this URL https://confluence.jetbrains.com/display/TCD10/NuGet+Publish

[2017-09-19 18:33] emgarten commented on #5880
@SabotageAndi that target is used for PackageReference/project.json, I was incorrect on pointing you towards that file. packages.config handles pp files differently and supports a wider range of properties.

[2017-09-19 18:53] eerhardt commented on #5862
What's the plan with this issue?  Is this something that can be addressed in the .NET Core 2.1 time frame?

[2017-09-19 20:24] MisinformedDNA commented on #5461
- Created a new .NET Core 2.0 class library
- Created a new Azure Function in .NET 4.6.1 (Functions don't yet support .NET Core)
- Make the Azure Function reference the class library (Note: No Nuget)

EXPECTED: Successfully added reference since they are both support .NET Standard 2.0
ACTUAL: Error NU1201 (same as OP)

Since they both support .NET Standard, there has to be a way to reference each

[2017-09-19 20:46] dasMulli commented on #3891
Setting the `PackagePath` can even be omitted when using `$(TargetsForTfmSpecificBuildOutput)`:

[code]

[2017-09-19 22:53] jhudsoncedaron commented on #5490
Bug does not reproduce on .NET Core 2.0 release version; we haven't fully verified the VS restore can't corrupt these projects yet though

[2017-09-19 22:54] #5490 closed, assigned to nobody

[2017-09-19 22:57] mishra14 opened #5904 "PackageSigning - "nuget.exe sign" - Allow package authors to sign packages"
Goal: As part of the larger package signing task, we need to add support to allow package authors to sign their packages before publishing.

Spec: In review - https://github.com/nuget/home/issues/5907

[2017-09-19 22:59] mishra14 opened #5905 "sign"

[2017-09-19 23:00] mishra14 commented on #5905
opened by mistake. closing.

[2017-09-19 23:00] #5905 closed, assigned to nobody

[2017-09-19 23:00] mishra14 opened #5906 "[Epic]: Package Signing Support in NuGet client(s) in Wave 1"
Goal: This task is to track multiple tasks involved in adding support for package signing.

[2017-09-19 23:03] mishra14 opened #5907 "[Spec]: Add support to allow package authors to sign packages"
Goal: Tracking the spec for https://github.com/NuGet/Home/issues/5904

[2017-09-20 02:15] AlexEyler opened #5908 "PackageReference PrivateAssets are added to @(ReferenceCopyLocalPaths)"
Please read the following information before posting the issue.

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): **msbuild**

## Detailed repro steps so we can see the same problem

1. Create a new .NET Framework project (ex: CSharp class library)
2. Add a PackageReference to the project
3. Set the PackageReference to include `PrivateAssets=

[2017-09-20 11:09] ghuntley commented on #5463
Confirming still reproducible with Visual Studio for Mac `Version 7.2 Preview (7.2 build 583)` when installing `reactiveui.8.0.0-alpha0089`  into File -> New Android Project.

[code]

Being tracked over at https://github.com/reactiveui/ReactiveUI/issues/1460

[2017-09-20 11:19] ghuntley commented on #5463
Same problem when installing into iOS projects -> https://github.com/reactiveui/ReactiveUI/issues/1485

[code]

[2017-09-20 14:34] livarcocc opened #5909 "Restore fails if feed is protected by user name and password"
_From @jmecosta on September 20, 2017 5:44_

# Cannot restore when a feed is protected

we have many feeds, some of them are protected. in non dotnet core applications, we can proceed if permissions are not set for the feed since it try to restores from the next configure feed. Now it just fails,

D:\prod\proto\diffplex>dotnet restore
  Restoring packages for D:\prod\proto\diffplex\WebDiffer\WebDi

[2017-09-20 16:36] pavele opened #5910 "How to include file in the root of a project?"
## Details about Problem
NuGet product used: Package Manager Console and VS UI
NuGet version (x.x.x.xxx): 3.+
dotnet.exe --version (if appropriate): 2.0
VS version (if appropriate): 2017, 15.3.4
OS version (i.e. win10 v1607 (14393.321)): Windows 10

I'm unable to create a nuget package that simply adds a file in the root of the project. I've tried everything - nuspec with content, contentFiles, ms

[2017-09-20 17:26] nkolev92 opened #5911 "Tool restore cross-client no-op"
Cross-client tool restore no-op has some inconsistencies that need cleared up.
Internal issue 497392
[code]

[2017-09-20 17:38] nkolev92 commented on #5908
@rohit21agrawal you had some context here?

[2017-09-20 17:39] qmfrederik commented on #4259
@emgarten @rrelyea I can reproduce this behavior on VS2017 Preview. Looking at the NuGet package structure, the assemblies are located in `lib\{TFM}\AnyCPU\`, for example `lib\net20\AnyCPU\Vlc.DotNet.Forms.dll`. Did anything change in recent NuGet versions which would now cause it to reject files in the `AnyCPU` subfolder?

The error message is also extremely confusing.

[2017-09-20 18:04] #5903 closed, assigned to zhili1208

[2017-09-20 18:05] zhili1208 commented on #5774
fixed in https://github.com/NuGet/NuGet.Client/commit/3e5a0f4ed1e98244f8dd7204e8468460116ff559

[2017-09-20 18:05] #5774 closed, assigned to nobody

[2017-09-20 18:05] zhili1208 commented on #5776
Fixed in https://github.com/NuGet/NuGet.Client/commit/3e5a0f4ed1e98244f8dd7204e8468460116ff559

[2017-09-20 18:05] #5776 closed, assigned to nobody

[2017-09-20 18:12] emgarten commented on #5463
I believe the original issue here is fixed so I am closing this out, error messages now display the correct version range information.
https://github.com/NuGet/Home/issues/5852

For anyone else getting resolution conflicts, these are caused by dependency constraints in packages. To resolve these reference the package you want to use top level.

If you believe you are incorrectly getting errors tha

[2017-09-20 18:12] #5463 closed, assigned to nobody

[2017-09-20 18:15] emgarten commented on #4259
@qmfrederik there haven't been any changes in this area. Do you have a repro you can share?

[2017-09-20 18:28] rohit21agrawal commented on #3891
@dasMulli 's approach is the recommended one when it comes to adding files that need to go into lib folder.

[2017-09-20 18:42] nkolev92 commented on #5909
@jmecosta
There are multiple reasons your scenario does not work.

1) Dotnet.exe restore does not have CredentialProvider support for package protected feeds.
The only way dotnet.exe could authenticate right now is using nuget.config and clear text passwords.

2) There is a different between how packages.config and package reference(net core) based projects treat unreachable sources.

Due to the f

[2017-09-20 18:56] rohit21agrawal commented on #5910
@pavele by the root of the project, you mean the root of the nupkg?

[2017-09-20 19:12] nkolev92 commented on #5910
There are multiple ways you can achieve this.

First of all though, we'd strongly discourage shipping things like a linter through a package.
While it is possible, you shouldn't normally need to "dump" files in the project's root directory.

I would suggest you do this by including a target file that would do the copying for you.

More info here:
https://docs.microsoft.com/en-us/nuget/create-packa

[2017-09-20 19:19] dasMulli commented on #5910
You may want to consider [shipping a template as a NuGet package](https://docs.microsoft.com/en-us/dotnet/core/tutorials/create-custom-template) instead of trying to make a NuGet package add files to a project.

[code]

[2017-09-20 19:23] jmecosta commented on #5909
@nkolev92 thanks for the clarification. but this means that we have always to use the --ignore-failed-sources for everything since it should be fairly common scenario that multiple feeds to be available to a project or projects (we use 5 different feeds, according to the internal provider). i notice also that if package is not found in feed it also fails. So basically the nominal behaviour of nuge

[2017-09-20 19:40] rohit21agrawal commented on #5908
@AlexEyler  you can achieve desired behavior by ``` ExcludeAssets="runtime" ```

[2017-09-20 19:40] #5908 closed, assigned to nobody

[2017-09-20 19:41] qmfrederik commented on #4259
@emgarten This should do the trick:

project.cspoj:

[code]

And then:

[code]

This gives me:

[code]

[2017-09-20 19:47] nkolev92 commented on #5909
@jmecosta Not sure what you mean by
[code]
NuGet does support multiple feeds per project, there are no restrictions there. You just need these feeds to be available otherwise you risk into 2 different restores resulting in 2 different behaviors.

The ordering of sources in the config file does not impact which source is being used.
NuGet will pick the most responsive one, the one from which it can

[2017-09-20 19:54] cesarsouza commented on #4319
Any updates about this issue? It would come really in hand for Unity developers right now.

[2017-09-20 21:54] anangaur opened #5912 "Fn+F1 does not take to the right help page for PM UI and Console"
Steps:

1. Go to VS PM UI:
![image](https://user-images.githubusercontent.com/14800916/30669774-62c70684-9e14-11e7-98ce-8be7452653f9.png)

2. Click Fn+F1

**Expected**: This should take to the page: [NuGet Package Manager UI](https://docs.microsoft.com/en-us/nuget/tools/package-manager-ui)

**Actual**: This takes to completely unrelated page:  https://msdn.microsoft.com/query/dev15.query?appId=Dev

[2017-09-20 21:58] tylerohlsen commented on #5460
Because this flow was so interruptive to our developers, we have since given up on attempting to target the Unity profile.  As a workaround, we now target .Net 3.5 Full.  This allows us to function without error with NuGet.  Though, this is not an ideal workaround.  We now run the risk of potentially getting runtime errors because we can no longer catch unsupported framework errors at compile time

[2017-09-20 22:02] tylerohlsen commented on #4319
As a workaround, I have moved our team's projects to target .Net 3.5 Full instead of a Unity specific profile.  But we run the risk of runtime errors due to no longer catching unsupported framework apis.  That's the tradeoff.

To mitigate that issue, I may create a Roslyn analyzer to find those unsupported framework apis at compile time.  Which basically reproduces the Unity framework profile.  Bu

[2017-09-20 22:02] tylerohlsen commented on #4319
Also see issue #5460

[2017-09-20 22:44] emgarten commented on #5311
For reference the original issue behind this change is here: https://github.com/NuGet/Home/issues/2087

[2017-09-20 22:44] #5311 closed, assigned to nobody

[2017-09-20 23:01] emgarten commented on #5460
@tylerohlsen thanks for the update. We're looking into giving unity first class support in nuget to improve this.

[2017-09-21 00:36] sstevenkang commented on #5297
I have this issue open that's related.  https://github.com/dotnet/cli/issues/7686

Before 2.0, doing a `dotnet restore` would overwrite existing `project.assets.json`.  In 2.0, you need to pass in `-f` to force rewriting of the file.

In our case, we also need to have the file placed under a directory with target framework.  I think it should follow how other generated files are placed: `/obj/<con

[2017-09-21 02:13] eroller commented on #4034
I've upgraded to 15.3.5 and am not getting any errors or warnings for unmet package dependency (see attached screenshot from visual studio). Note that this isn't a package downgrade since the Illumina.Common dependency is (= 4.5.0.298) rather than (>= 4.5.0.298) so everything happens to run fine, but it is still an unmet dependency that I would like to know about through a warning or error during

[2017-09-21 03:23] emgarten commented on #5350
This error can also happen in Visual Studio when the project is not in the solution as @ManfredLange mentions. See also: https://github.com/dotnet/project-system/issues/2812

[2017-09-21 03:28] emgarten commented on #4034
@eroller this is covered by https://github.com/NuGet/Home/issues/2358 which has been added in VS 15.4. You can set NU1608 as an error to fail when a package is higher than the upper bounds.

[2017-09-21 06:33] forki opened #5913 "Is there a way to mute NU1603?"
On Windows (I haven't tested this on macOS or Linux)

1. Install [.NET Core 2.0.2](https://dotnetcli.blob.core.windows.net/dotnet/Sdk/release/2.0.2/dotnet-sdk-latest-win-x64.exe)

2. Clone [fable-suave-scaffold](https://github.com/fable-compiler/fable-suave-scaffold)

3. Instal Node LTS and Yarn latest

4. Run `build.cmd`

### Expected behaviour

No NU1603 since paket controls the dependencies

##

[2017-09-21 06:47] lukas-ais commented on #5878
Hi @zhili1208, why added "Feature" label? For me it is more a bug.
I think, this was working as described in VS2015.
But the behavior has changed in VS2017.

[2017-09-21 06:51] emgarten commented on #5913
`<NoWarn>$(NoWarn);NU1603</NoWarn>` will turn off the warning

https://blog.nuget.org/20170815/Whats-nu-in-NuGet-with-VS2017-15-3.html
https://github.com/NuGet/Home/wiki/Improved-NuGet-warnings

[2017-09-21 07:01] maartenba commented on #5788
IMHO a behaviour that "almost always works best", or a command-line switch of course :)

[2017-09-21 07:13] forki commented on #5913
is that something we can set in nuget.config? Or ar least when we add PackageReferences in memory?

[2017-09-21 07:18] emgarten commented on #5913
NoWarn is only read from the project file currently.

https://github.com/NuGet/NuGet.Client/blob/012941024a48a22bdcaf9fa3171276e7c075630e/src/NuGet.Core/NuGet.Build.Tasks/NuGet.targets#L599

[2017-09-21 07:19] forki commented on #5913
ok but setting it in Paket.Restore.targets should work as well, right?

[2017-09-21 07:21] emgarten commented on #5913
Should work if you can set it before it is read. Let me know if it doesn't and we can find a different way.

[2017-09-21 07:23] forki commented on #5913
![image](https://user-images.githubusercontent.com/57396/30683631-7f82019e-9eae-11e7-8915-5bb045a4400c.png)

urgs. now other tools (in this case F# compiler) complain about that

/cc @dsyme @kevinransom @cartermp

[2017-09-21 07:32] emgarten commented on #5913
Gah! Seems like we should test these on all project types going forward.

The design for this was to use the exact same fields as the compiler so that users could add these through the project properties window.

[2017-09-21 07:38] forki commented on #5913
ok reverting that for now. We need another solution. If people are using warnaserror in F# then things will crash.

[2017-09-21 07:44] emgarten commented on #5913
Alternatively you could set HideWarningsAndErrors to true and then replay them after restore from project.assets.json with filtering. It would be much more work than just setting nowarn however.

[2017-09-21 07:45] forki commented on #5913
O_o

[2017-09-21 07:45] pavele commented on #5910
Thanks everyone for the prompt replies.

@rohit21agrawal I'm looking for approach to put files in the .net core project

@nkolev92 I'd be very happy to see if there is a different, better approach instead of dumping linter files. The current state with linters, stylecop, etc in my view is complete mess. StyleCop analyzers use 2 different types of config - rulesets and the stylecop.json. The linter

[2017-09-21 07:54] dasMulli commented on #5910
I understand the difficulty, but I was referring to item templates, not project templates. so you'd just `rm .eslintrc; dotnet new my company-eslint`. Maybe the templating engine needs a recreation option for item templates 🤔
It is just a suggestion, might not be useful in all scenarios but since there's a good templating engine now, I try to make use of it.

[2017-09-21 07:56] forki commented on #5913
sorry, what I meant is: NuGet's current approach is not working with F# and that has nothing to do with paket. If you set the NoWarn in the project then the compiler will scream at you.

[2017-09-21 09:35] henning-krause commented on #3664
Any ideas when this will be fixed? Hitting the same issue with my on-prem TFS and a Linux agent...

[2017-09-21 12:58] pfaucon opened #5914 "Nuget on OS X works only with linux path slashes (/) not the default windows (\)"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
NuGet.exe on mac OS X, called from the terminal

NuGet version (x.x.x.xxx):
2.12.0.0

OS version (i.e. win10 v1607 (14393.321)):
OS X Sierra 10.12.6

Worked before? If so, with which NuGet version:
Not sure

## Detailed repro steps so we can see the same problem

1. create basic nuspec file:

[

[2017-09-21 14:27] henning-krause commented on #3664
I investigated a little more and put fiddler between the linux box and our TFS Server. I also captured an strace log to ensure that the correct nuget.config is read.

I have a similar nuget.conf as @piotrpMSFT and tried it both, with a PAT and username / password.

In the strace log I see that the correct nuget.config file is accessed. And indeed, if I switch the clearTextPassword to password, the

[2017-09-21 15:26] clairernovotny opened #5915 "NuGet restore fails with .NET452 -> UAP ref (valid for UWP designer)"
@dotMorten has been trying to implement designers for the UWP Toolkit controls. The pattern here is that the designer project is .NET Framework project that references a UWP control library project. This seems to fail with PackageReference:

`https://github.com/Microsoft/UWPCommunityToolkit/commits/dotMorten/DesignAssembly`

This was from the above branch calling `msbuild /t:restore` on the design

[2017-09-21 17:19] zhili1208 commented on #5878
@lukas-ais I checked VS2015, looks like same behavior , Could you share which version of nuget was working as described in VS2015?

[2017-09-21 17:54] rrelyea commented on #5915
@rohit21agrawal is doing some initial investigation here.

[2017-09-21 18:32] rohit21agrawal commented on #5915
@dotMorten @onovotny  the issue here is that NuGet has never checked for Project Reference compatibility in the packages.config world but it does so in the PackageReference world - which is what you are seeing. a net452 -> uap10.0 reference is incompatible.

Even with the packages.config workaround, are you able to build your project? I would be surprised if you are able to.

[2017-09-21 18:51] clairernovotny commented on #5915
@rohit21agrawal Yes, this is how the UWP design-time assemblies are built.

[2017-09-21 19:15] rohit21agrawal commented on #5915
not sure what NuGet can do here. if we stop looking at compat between project references, apart from violating package-project duality , we will also not be able to flow dependencies transitively since we won't know what's compatible with what.

[2017-09-21 19:15] rohit21agrawal commented on #5915
let me discuss more in detail with @emgarten and @rrelyea and give an update.

[2017-09-21 19:22] emgarten commented on #5914
2.12.0.0

Use the latest 4.3.0 nuget.exe from: https://www.nuget.org/downloads

2.x did not officially support cross platform scenarios, and 2.12 nuget.exe is not an official release as far as I know.

[2017-09-21 20:04] lifengl opened #5916 "NuGet client inside VS (StartBackgroundJobRunnerAsync) uses a long running loop inside a thread pool thread."
## Details about Problem

VS 15.5 update

## Detailed repro steps so we can see the same problem

1. Open any .Net Core solution, use windbg or other debugger to check threads.

2. One thread pool threads is under:
0e 45dee27c 71f53c73 mscorlib_ni!System.Threading.Monitor.Wait(System.Object, Int32, Boolean)+0x17 [f:\dd\ndp\clr\src\BCL\system\threading\monitor.cs @ 203]
0f 45dee294 71f53bae mscorli

[2017-09-21 21:16] rrelyea commented on #5865
Missed 4.4. Setting to backlog now.

[2017-09-21 21:17] rrelyea commented on #5872
@emgarten  - can you put the customer impact here? Including details on how we learned about this, and why it would be important? This will help us prioritize.

[2017-09-21 21:28] rrelyea commented on #5873
Part 1: @rohit21agrawal - can you help clarify that part. should VS dialog be changed or help text explain to users differences?  please analyze.

Part 2:
    that package had the following entry in nuspec:
    <releaseNotes>1) Added ability to honor Retry-After during LRO operation
        2) Added support for LRO PATCH operation that returns 201 for polling
        3) Multiple bug fixes for LRO

[2017-09-21 21:30] emgarten commented on #5872
Test explorer does not recognize test projects that reference unit test packages with floating versions. An internal team ran into this issue.

[2017-09-21 21:31] rohit21agrawal commented on #5873
@shahabhijeet - if you are using dotnet.exe to pack a NETCore project, then you want to use ``` PackageReleaseNotes ``` .

[2017-09-21 21:38] rrelyea commented on #5874
@Mardoxx  - so to sum up, this sounds like the following:
1) if you are running on a CI with an authenticated feed, you need to configure that CI (via nuget.config or alternate ways) to have authentication information.
2) sometimes developers using VS will have authentication set up properly to work in VS, but that is via local state (passwords saved to windows password cache, etc...).

We underst

[2017-09-21 21:38] #5874 closed, assigned to nobody

[2017-09-21 21:40] rrelyea commented on #5875
closing now, but would love response from @EtharAlali

[2017-09-21 21:40] #5875 closed, assigned to nobody

[2017-09-21 21:50] karann-msft opened #5917 "Package Immutability"
Status: **Implemented**

Spec for this feature is available here: https://github.com/NuGet/Home/wiki/Package-Immutability

Discussion should happen on this issue. Please link other issues with similar asks to this one

[2017-09-21 21:51] rrelyea commented on #5883
@gebai - Fiddler is one tool to get an http log. Are you still having a problem here? Please work with @zhili1208

[2017-09-21 21:59] rrelyea commented on #2572
@anangaur  - can you please link to your current spec or future spec location in this issue when you are ready to share and get feedback?

[2017-09-21 22:00] rrelyea commented on #5884
If I understand what @zhili1208 just told me about this issue, it sounds like you have a set of internal packages and external packages. You'd like to lock down version of the external packages, and no be presented updates for those packages.
This general area is a type of scenario we understand and are trying to design for with some work for repeatable builds (lineups).
Pay attention to the lineu

[2017-09-21 22:00] #5884 closed, assigned to nobody

[2017-09-21 22:03] dotMorten commented on #5915
How about being able to define an explicit opt-out in the package reference?

[2017-09-21 22:04] mishra14 commented on #5896
@nkolev92 can you please take a look?

[2017-09-21 22:06] rrelyea commented on #5887
Interesting customer feedback from people who have migrated from Packages.Config to PackageReference. @rohit21agrawal, @nkolev92, @jainaashish  - please add this user experience different to our PC->PR list of issues, so we can consider as a whole.

[2017-09-21 22:11] rrelyea commented on #5888
@zhili1208  says this appears to have worked in 15.0. Broke sometime since then.
Small fix. Please address for 15.5, since we missed 15.4.

[2017-09-21 22:15] rrelyea commented on #5890
@Sm1le291  - closing, but would love to have you confirm that the suggest from @zhili1208 has helped.

[2017-09-21 22:15] #5890 closed, assigned to nobody

[2017-09-21 22:18] anangaur opened #5918 "NuGet.exe pack should pack all kinds of projects including .NET Core projects and be consistent with msbuild /t:pack"
Related issue: https://github.com/NuGet/Home/issues/4054 , https://github.com/NuGet/Home/issues/4491

Today NuGet.exe pack does not work on PackageReference projects. This has users confused as many users have been using nuget.exe to pack for packages.config and project.json based projects.

The following should just work:

`nuget.exe pack <project>.csproj`
`nuget.exe pack <name>.nuspec`

[2017-09-21 22:20] rohit21agrawal commented on #5915
could you elaborate more? are you talking about opting-out of compatibility check for P2P references?

[2017-09-21 22:24] anangaur commented on #2572
Future spec with some draft content can be found here:

| Spec wiki| Discussion issue|
| :------------- |:-------------|
| [Enable repeatable builds via lock file](https://github.com/NuGet/Home/wiki/Enable-repeatable-builds-for-PackageReference-based-projects) | https://github.com/NuGet/Home/issues/5602|

[2017-09-21 22:26] dotMorten commented on #5915
Yeah something along the lines of this:
[code]

...or a platform override:

[code]

[2017-09-21 22:42] emgarten commented on #4259
@qmfrederik thanks so much for helping track this down! I believe this is what causes *most* of the issues where a package is reported as incompatible, but then the same framework is shown as compatible.

The package in the original issue doesn't have the same problem as VLC, but from the initial report it sounds like that scenario doesn't repro consistently. That part may be improved with other c

[2017-09-21 22:58] emgarten commented on #5915
I suggest adding a `ValidateFrameworkCompatibility` property to disable TFM checks for everything. This would match the `ValidateRuntimeIdentifierCompatibility` property that exists today for RID checks.

[code]

Having this option on a per item basis requires a resolving conflicting settings across the dependency graph. For example if a package has compat turned off it makes sense that the transi

[2017-09-21 23:12] zhili1208 opened #5919 "NuGet Package Download API"
Initial Spec: https://github.com/NuGet/Home/wiki/%5BSpec%5D-Package-download-API

[2017-09-21 23:14] zhili1208 commented on #5919
@jeffkl -jeff, I wrote a initial spec for this API, Please provide feedback.

[2017-09-22 00:09] clairernovotny commented on #5915
I'll absolutely admit this is an edge-case and could/should require some kind of property to override default settings and enable this.

[2017-09-22 00:20] dotMorten commented on #5915
I worked around it by using a good old assembly reference instead of a project reference. Not pretty but it unblocks us

[2017-09-22 00:30] rrelyea commented on #5915
I like the `<Reference />` solution.

Given that this is a very rare scenario, I'd prefer to minimize investment in this area. When @rohit21agrawal, @emgarten and I are all in the same place at the same time, we'll discuss the options a bit...

[2017-09-22 00:34] anangaur opened #5920 "NuGet.exe pack should error when URLs in the nuspec contains non HTTPS based links"
It should error for icon URL. For others, it should warn.

cc: @joelverhagen to link existing bugs on this as I could not find one.

[2017-09-22 00:49] joelverhagen commented on #5920
Server side:
https://github.com/NuGet/NuGetGallery/issues/2613

This has some related issues in the [last comment](https://github.com/NuGet/NuGetGallery/issues/2613#issuecomment-264044729) as well.

[2017-09-22 02:43] ghost opened #5921 "Duplicate errors when adding project dependency"
Hi,

I am trying to create a NuGet package with NuGetizer 3000 in Visual Studio 2017 15.3.5. When I add a reference to the project that I need to create the NuGet packgage of, I get a lot of the same errors on different dll's:
"Duplicate package source files detected for target package file path 'lib\netstandard2.0\System.Diagnostics.Debug.dll'".

![nuget_dependencies](https://user-images.githubus

[2017-09-22 03:18] #4259 closed, assigned to nobody

[2017-09-22 03:54] jainaashish commented on #5916
Thanks @lifengl for the issue and suggested workaround. How about if we move it from thread pool thread to local thread? or we can also look for ways where we dont run an infinite loop rather asynchronously run it whenever there is a new request for restore.

[2017-09-22 04:10] jainaashish commented on #5910
@pavele I understand your confusion about `content` vs `contentFiles` and we'll try our best to make it more understandable and readable going forward.

Please go through https://docs.microsoft.com/en-us/nuget/schema/nuspec#including-content-files which gives a little better idea about these techniques. Essentially, `Content` were for `Packages.Config` based projects which are now kind of obsolete

[2017-09-22 04:44] rohit21agrawal opened #5922 "fix failing nuget.protocol functional tests"
![image](https://user-images.githubusercontent.com/1857490/30729642-fda09e7a-9f15-11e7-819c-817c23800b4f.png)

we should at least investigate enough to make sure that this is not a product defect since we are shipping 15.4 pretty soon.

CC: @rrelyea

[2017-09-22 04:47] rohit21agrawal commented on #5914
how is nuget.exe being used on mac? are you using it via mono?

[2017-09-22 04:54] rohit21agrawal commented on #5910
@pavele other alternative is to write a msbuild target in your nuget package that runs before build that copies over the file to the root of your project.

[2017-09-22 05:09] jeffkl commented on #5919
I think it would be better if the method had this signature:

[code]

From my perspective, I just need NuGet to acquire the package and tell me where it put it.  I think taking an `ISettings` which would be more flexible.

I also don't care about target framework for this particular case as the packages won't have any TFM-specific folders.  In my opinion, this API is just requesting that NuGet dow

[2017-09-22 07:02] waldo2188 opened #5923 "Wrong TargetPath whit nuget pack cli command"
## Details about Problem

NuGet product used : NuGet.exe
NuGet version (4.3.0.4406):
dotnet.exe version: 2.1.0-preview1-007197
VS: 2017 Professional
OS version: win10 v1703 15063.608

I have an issue when I try to pack a project with nuget cli command `nuget pack`. The project I try to pack is an Asp .Net Core 1.1 project.
At the end of the process Nuget write in the console that he can’t find a f

[2017-09-22 07:43] maartenba opened #5924 "Missing announcements for three new specs"
In case anyone missed these (they were announced overnight in various issues/comments but not (yet?) part of the [NuGet/Announcements](https://github.com/NuGet/Announcements/issues)) repo:

* Package immutability - [spec](https://github.com/NuGet/Home/wiki/Package-Immutability) / [discussion](https://github.com/NuGet/Home/issues/5917)
* Package download API - [spec](https://github.com/NuGet/Home/w

[2017-09-22 07:46] maartenba commented on #5917
Big fan of this! 🎉

[2017-09-22 07:54] dozer75 commented on #5645
Any status for this in Visual Studio, it still an issue in 15.3.4...

[2017-09-22 08:14] pfaucon commented on #5914
It was automatically installed with Visual Studio for mac, but yes through Mono. It looks like something is awry with the VS installer though.  Inside of VS it was already using NuGet 4.3, but from the command line "nuget" maps to a script:
/Library/Frameworks/Mono.framework/Versions/Current/Commands/nuget
[code]

But that specific version of NuGet.exe was the 2.12.0.0 version.  I downloaded the n

[2017-09-22 08:14] #5914 closed, assigned to nobody

[2017-09-22 08:18] isaacabraham commented on #5602
What happens if the NuGet.config file is on one machine but not on another, or is changed after the lock file is create - does the lock file still take effect?

[2017-09-22 08:42] EamonNerbonne commented on #5887
I think the security hotfix concept is a distraction here.  Almost all updates aren't hotfixes; the vast majority of packages you use you will not use in a fashion that is typically exploitable - things that are exposed to the outside world are rare, so typically you'll be left with libs that don't check input for hostile content (but then again, it's not always the case this should be the libs re

[2017-09-22 09:51] isaacabraham commented on #5919
Can we also see how this is documented in terms of the actual HTTP API (if there are any changes planned that impact that)?

[2017-09-22 15:18] anangaur commented on #5924
All of these specs will be announced when they are ready to be reviewed. Right now these are in incubated state which means we are still adding details. I guess the first one is close to be announced.

[2017-09-22 15:38] maartenba commented on #5924
Thanks! BTW do check permissions for https://github.com/NuGet/Announcements/issues - seems everyone could in theory announce things there.

[2017-09-22 15:45] anangaur commented on #5924
It seems its not possible to limit issue creation to some, on a public GitHub repo. https://help.github.com/articles/creating-an-issue/

I see the same is the case for https://github.com/dotnet/announcements repo.

Is there an alternative way to achieve this?

[2017-09-22 16:12] maartenba commented on #5924
Indeed! Just tried on one of my own repo's, issues always seem possible. Ah well, guess it's clear in that repo others should not be posting. Thanks @anangaur for checking!

[2017-09-22 16:43] anangaur commented on #5924
Feel free to close this issue or wait for the above specs do be announced and then close :)

[2017-09-22 17:15] zhili1208 commented on #5919
@jeffkl Why you need `ISettings` ? it only contains NuGet.Config, I think this interface should be used only in nuget, it's not for public use.

[2017-09-22 17:16] zhili1208 commented on #5919
@isaacabraham  I don't think there are any changes that impact actual HTTP API.

[2017-09-22 17:19] jeffkl commented on #5919
Passing `ISettings` would make things a little more flexible for the caller than just passing in a root directory.  But either one works.  My code will be restoring a package for a particular project so I could also pass in that path and your API could use that as the root directory for creating an `ISettings` object.

[2017-09-22 17:19] karann-msft commented on #5917
Also, the spec is not ready for feedback just yet (hence the incubation status). I am making final edits and once done, I'll update the status to reviewing and also announce on the announcement repo.

[2017-09-22 17:41] maartenba commented on #5924
Closing for now.

[2017-09-22 17:41] #5924 closed, assigned to nobody

[2017-09-22 18:06] emgarten commented on #5914
I wasn't aware that nuget.exe shipped with VS for mac.

[2017-09-22 18:10] emgarten commented on #5645
@dozer75 file a new issue with repro steps, thanks!

[2017-09-22 18:26] rohit21agrawal commented on #5923
@waldo2188 nuget.exe does not have support to pack NETCore projects. (Tracking issue : https://github.com/NuGet/Home/issues/5918 ).

Please use msbuild /t:pack or dotnet.exe to pack a NETCore project.

[2017-09-22 18:28] mishra14 commented on #5913
Closing this issue in the favor of https://github.com/Microsoft/visualfsharp/issues/3626.

Please feel free to reopen this if you feel otherwise.

[2017-09-22 18:28] #5913 closed, assigned to nobody

[2017-09-22 19:33] forki commented on #5913
It's still problematic to reuse compiler features. But that's maybe just my
personal opinion.

Am 22.09.2017 20:28 schrieb "Ankit Mishra" <notifications@github.com>:

[2017-09-22 19:49] lifengl commented on #5916
I think both will work.  If restoring process itself is very long and slow (when it processes a request, maybe it need wait network or something), using a separated thread might be a better option.

[2017-09-22 20:27] rrelyea opened #5925 "Support Organization parameter in NuGet push and dotnet nuget push"
As part of this work (https://github.com/NuGet/Announcements/issues/4), push will need to have changes to command line params.

[2017-09-22 21:00] Code-ScottLe commented on #4581
Sorry for digging this up again, but do we have a plan to cure this problem yet? Running into this with Standard 1.4 and Unit Test Project (4.6.1) ATM and haven't figured out a good workaround yet.

[2017-09-22 21:25] ghost commented on #5172
Moving my local nuget to the same box I have team city, resolved this issue.

[2017-09-22 21:25] #5172 closed, assigned to nobody

[2017-09-22 21:26] emgarten commented on #5919
There are a lot of pitfalls around creating ISettings, unless you really need to customize this you are better off just passing the path as you described.

[2017-09-22 21:28] Code-ScottLe commented on #4488
Do we have a roadmap on when this thing gets fixed? On the latest Preview Build of VS 2017 (Nuget 4.4.0.4453) , I am still seeing this problem.

[2017-09-22 22:00] rrelyea commented on #5913
@forki - Hear ya. We should have communicated with more compilers than we did during 15.3. Sorry that we didn't.

[2017-09-22 22:26] wli3 opened #5926 "Consume pdbs from packages in PackageReference - add Debug Symbols to LockFileTargetLibrary"
https://github.com/dotnet/sdk/issues/1458 depends on this

To include PDB to _CopyLocal_, SDK need _NuGet.ProjectModel_ to categorize PDB and XML file to an ideally different category like "debug symbol" or "related file".

So SDK can get all the symbol files by something like `var symbolPath = lockFileTargetLibrary.debugSymbols` , just like CompileTimeAssemblies, RuntimeAssemblies today

https://

[2017-09-22 22:55] KevinRansom commented on #5913
@rrelyea
I believe this design makes use of a bug in the C# compiler.  It ignores anything it doesn't understand ... and it only understands numeric values.  I doubt if the bug will ever get fixed though.

You should consider changing the name of the msbuild property from NoWarn to NugetNoWarn or NoWarnNuget.

Kevin

**The C# bug:**
[code]
**csc Program.cs**
[code]
**csc Program.cs /nowarn:0219**

[2017-09-22 23:12] rohit21agrawal commented on #5915
@onovotny @dotMorten there is one more work around that could potentially make this work if you want to give this a try:

[code]
Let me know if this works for you.

[2017-09-22 23:52] mishra14 commented on #5913
@KevinRansom Thanks for the detailed response.

I have one correction - `/nowarn:CS0219` works as expected -

[code]

Note that it is case sensitive, so `cs0219` is not the same as `CS0219`.

[2017-09-23 00:07] KevinRansom commented on #5913
Really capital CS works? That’s interesting … I guess I should add it to the compiler in that case.

@rrelyea apparently it is case sensitive ... so I will update the compiler to accept FS and ignore other stuff.

[2017-09-23 00:37] rohit21agrawal commented on #5920
it can't error - what if the package produced is meant for on-premise/internal feeds that pull in images from internally hosted servers?

[2017-09-23 01:15] clairernovotny commented on #5917
I mentioned this idea to @unniravindranathan, but I believe there's a way to allow package metadata editing, if so desired, and package signing together.

This functionality is essentially the same as what will be needed for changing package owners anyway.

Basically, the feed source signature can contain an updated set of metadata (delta's). In the case of a package owner change, the owners metad

[2017-09-23 01:35] anangaur commented on #5920
Agree. We should warn then.

[2017-09-23 03:17] bronumski commented on #5884
@rrelyea - Yes that is pretty much it however the current behaviour does not feel right given the following scenarios.

Given I have a nuget packages file
And the packages file contains no package references
When I run a nuget update for the packages file against source A
Then no error is thrown
And no packages are updated

Given I have a nuget packages file
And the packages file has a reference t

[2017-09-23 07:00] pfaucon commented on #5914
Or that 2 ship :) I think it must be the case though because this is a new mac for development and I haven't installed previous software (like mono directly, or the older Xamarin Studio).

[2017-09-23 09:51] mrward commented on #5914
NuGet.exe does not ship with VS Mac. VS Mac ships its own set of NuGet binaries, but not NuGet.exe. NuGet.exe is shipped with Mono. The latest Mono 5.4 ships with NuGet 4.3. Older Mono versions shipped with NuGet 2.12.

[2017-09-23 13:08] michael-freidgeim-webjet commented on #5170
NuGet 3.5 didn't find v15, I've [downloaded latest NuGet ](https://www.nuget.org/downloads) 4.3 and had to remove -MSBuildVersion (attempts to specify 15, 15.0 or 15.1 didn't help).
Then the MS Build was found:

The last sentence is wrong/misleading.  I confirmed that only -MSBuildVersion 15.3 is acceptable value on my machine.

[2017-09-23 15:22] anangaur commented on #5602
IMO, sources definition should not matter for a lock file. Irrespective of which source the packages are coming from, finally it should be the same package that goes into the build.

To make sure whether its the same package or not I am thinking about putting the hash of the package in the lock file. Open to other ideas.