[2017-02-09 15:38] clairernovotny opened #4547 "RC4: Cannot build Android project with project.json"
This works correctly in VS 2015 and fails in VS 2017.

I have a solution using csproj + project.json during build, the android project is getting tons of missing types with VS 2017 despite working with 2015:

Repo:
clone https://github.com/xunit/devices.xunit
using nuget v4 from the cmd line due to a bug with the restore target, use nuget.exe restore xunit.devices.sln

Only the android one seems t

[2017-02-09 16:11] martincv8 opened #4548 "Nuget push package to azure with authentication enabled"
Hi Guys,

I'm having a slight problem with pushing packages to a Nuget server on Azure when authentication is enabled, so yes, the push works absolutely fine before authentication is switched on.

After enabled the authentication, I get taken to the MS sign in page when accessing the URL in my browser, when attempting to push a package I am presented with a message :  "Please provide credentials f

[2017-02-09 16:22] mrward commented on #4538
The other GitHub issue was just asking for a way to be able to specify DefaultMaxDegreeOfParallelism somehow instead of if it being constant.

My main interest is whether restricting the number of http requests would fix problems that sometimes happen when running NuGet on Mono and if this is implemented whether we still need a way to set the DefaultMaxDegreeOfParallelism.

One of my colleagues wa

[2017-02-09 16:35] rrelyea commented on #4548
Great issue... But missing one thing critical to understanding...  What versions of Nuget.exe have you tried?
Please make sure you try 3.5 and  4.0.0-rc4.
Let us know how those all do.  Thx.

[2017-02-09 16:43] rohit21agrawal commented on #4545
@rrelyea  @CoolDadTx  good to close this out then?

[2017-02-09 17:06] sbanni opened #4549 "TemplateWizard needs option to install packages as PackageReferences"
The template wizard for VisualStudio needs an option to install packages as PackageReference if the template does not already contain a PackageReference as NuGet does not recognize it as a PackageReference project.

[2017-02-09 17:47] CoolDadTx commented on #4545
Fine with me.

[2017-02-09 17:52] nkolev92 commented on #4537
Initial work pushed in the dev-nkolev92-list branch.
Need to add tests for corner cases like, highest version package is unlisted.

[2017-02-09 17:57] rrelyea commented on #4549
Related to #4488
Ideally, if there is no P.J around, we can make UWP default to PackageRef.
@jainaashish @emgarten

[2017-02-09 17:57] #4545 closed, assigned to nobody

[2017-02-09 18:02] rohit21agrawal commented on #4546
@mide1234 Could you try this with NuGet 3.5.0 VSIX that you can get from : https://dist.nuget.org/visualstudio-2015-vsix/latest/NuGet.Tools.vsix

[2017-02-09 18:13] rrelyea commented on #4433
Since we've gotten more hits, want to decrease customer pain, and noise to our team by fixing this. Will discuss today at shiprooms.

[2017-02-09 18:48] diverdan92 commented on #3990
The API should also create a backup of the .csproj and project.json files in case the customer wants to revert later.

[2017-02-09 18:53] #4450 closed, assigned to nobody

[2017-02-09 19:06] JimSmith99 opened #4550 "Nuget timeouts running win7 as VM"
Hi

I get nuget timeouts just as  [here:](https://github.com/dotnet/cli/issues/1732)
I have tried disable parallel but that doesn't help.
I use win7as a VM on qnap. I see people talk about disable 'VirtualBox Host-Only Network'  and 'disabled the VirtualBox interface. '
I'm not sure what to do with my settings on the qnap.

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.e

[2017-02-09 19:27] rohit21agrawal commented on #4539
@KirillOsenkov The spec is here : https://github.com/NuGet/Home/wiki/%5BSpec%5D-Managing-dependency-package-assets

We are working on getting this documented soon.

[2017-02-09 19:35] rohit21agrawal opened #4551 "Document spec for "Managing dependency package assets""
https://github.com/NuGet/Home/wiki/%5BSpec%5D-Managing-dependency-package-assets

even though we have RTM'd this feature, this spec was never documented. Nuspec schema documentation also needs to be updated.

CC: @rrelyea @emgarten @karann-msft

[2017-02-09 20:39] BrainCrumbz commented on #2469
@fearthecowboy excuse me, link seems broken

[2017-02-09 20:42] mishra14 opened #4552 "add msbuild.runtime package to the repository to make functional tests more modular"
Currently we depend on the system installed msbuild to run tests. We should make that easier for 3rd party contributors to test code.

[2017-02-09 20:42] emgarten commented on #4467
@rrelyea internal bug 365633

[2017-02-09 20:45] mishra14 commented on #4305
If we are bringing in wsr-tc into nuget ci then this can be combined with that.

[2017-02-09 21:03] dtivel commented on #4547
Thank you for reporting this issue, Oren.  I've reproduced it and am investigating.

[2017-02-09 21:26] ericwj commented on #4484
Well I'm using 26206 now... My package source was default. NuGet v3 and local.

Indeed there is almost nothing in the template. Is that useful? I liked to have BrowserLink and e.g. `BundlerMinifier.Core`. But obviously removing packages is a great fix for this issue ;)

`.nuget` is littered with 4.4 packages. Microsoft SDKs has none. Building the original template (modified since my last try) work

[2017-02-09 21:39] rrelyea commented on #4316
Please finish PR review/feedback (if any).
Then ensure you've tested it all it needs.
Then merge into dev.

[2017-02-09 21:39] rrelyea commented on #4325
Please finish PR review/feedback (if any).
Then ensure you've tested it all it needs.
Then merge into dev.

[2017-02-09 21:40] rrelyea commented on #4433
Please finish PR review/feedback (if any).
Then ensure you've tested it all it needs.
Then, we'll review it with @DoRonMotter .
if he approves, then merge into dev.

[2017-02-09 21:40] #4536 closed, assigned to rohit21agrawal

[2017-02-09 21:44] zhili1208 commented on #4484
this is not 4.4 package, the package id is  System.IO.Compression.clrcompression-x64 and version is 4.0.0.
Actually a restore with VS is the same as a dotnet restore for nuget. the difference here is the package source. I think here is one good package is shipped with VS and one bad package is shipped with dotnet cli installer. They contains all dependent packages of template, since user might onl

[2017-02-09 22:01] ericwj commented on #4484
Ah yes I beat you by at least 15 minutes removing that part of my comment. I saw it once I took a good look considering to delete it if it would be faulty.

You're saying those 4.4 packages were downloaded by `dotnet restore` a few days ago? That'd explain everything if I had run dotnet restore before I was using VS to build the 1.1 template, but it's the other way around. The other project I have

[2017-02-09 22:01] natidea commented on #4467
@2rik what does the project file that is reproing this look like? I cannot repro it on the project file presented above.

[2017-02-09 22:33] mrward opened #4553 "Can update to unlisted NuGet package from the Package Manager Console"
It is possible to update to unlisted NuGet package from the Package Manager Console but not from the Manage Packages UI.

## Details about Problem

NuGet product used VS UI | Package Manager Console | dotnet.exe:

NuGet version: 3.5 and 4.0

dotnet.exe --version (if appropriate):

VS version: VS 2015 and VS 2017 RC4

## Detailed repro steps so we can see the same problem

1) Visual Studio 2015 (Nu

[2017-02-09 22:37] zhili1208 commented on #4544
this is a dupe of https://github.com/NuGet/Home/issues/4533

[2017-02-09 22:37] #4544 closed, assigned to zhili1208

[2017-02-09 22:51] #4325 closed, assigned to mishra14

[2017-02-09 22:59] clairernovotny commented on #4136
should this be in RC4? I just tested RC4 and still don't see the .pri file in the package.

[2017-02-09 23:03] rohit21agrawal commented on #4136
@onovotny yes this should be in RC4.

can you do a ```/v:diag``` build on your UWP project and give me the values of ```$(IncludeProjectPriFile), $(ProjectPriFile) and $(_TargetPathsToAssembiles)``` ?

[2017-02-09 23:06] clairernovotny commented on #4136
Will do but you should be able to repro with Zeroconf. check out the dev branch of https://github.com/onovotny/zeroconf. Then in the src\zeroconf directory, do msbuild /t:restore zeroconf.csproj then msbuild /t:pack zeroconf.csproj.

Looking at the nupkg in the bin directory, the lib\uap10.0 folder doesn't have the pri.

[2017-02-09 23:09] rohit21agrawal commented on #4136
looking

[2017-02-09 23:18] clairernovotny commented on #4136
IncludeProjectPriFile is true
ProjectPriFileName = Zeroconf.pri

_TargetPathsToAssembiles doesn't exist

[2017-02-09 23:18] clairernovotny commented on #4136
Keep in mind that it's a multi-targeted project;  UWP is one of the outputs

[2017-02-09 23:20] rohit21agrawal commented on #4136
_TargetPathsToAssemblies would exist when you call pack.
Also ProjectPriFullPath instead ProjectPriFileName

[2017-02-09 23:22] clairernovotny commented on #4136
can you repro on my project? I tried it again and get the same result.

[2017-02-09 23:26] #4316 closed, assigned to emgarten

[2017-02-09 23:30] zone117x commented on #2662
Is this still being pursued? This has been a painful problem.

[2017-02-09 23:33] rohit21agrawal commented on #4136
yeah i am installing all the required workloads

[2017-02-09 23:43] lifengl commented on #4386
not sure whether the dump is created too quickly, before the process is cool down (it seems to me that some async code can still run instead of all blocking.

This might be a dup of https://github.com/dotnet/roslyn-project-system/issues/1518 because the CPS closing was waiting on a semaphore 4570a100.

This task holds it:

47720950 <0> Microsoft.VisualStudio.ProjectSystem.PropertyPages.PagePropert

[2017-02-10 00:05] rohit21agrawal commented on #4136
@onovotny turns out the .pri file is being included only when project has TargetFramework , and not TargetFrameworks . Figuring out why this is happening.

[2017-02-10 00:06] nkolev92 commented on #4531
Unfortunately there's no fully functioning workaround we can provide right now without bigger code changes for RTM.

[2017-02-10 00:11] rrelyea commented on #4543
Any outlook?

[2017-02-10 00:16] nkolev92 commented on #4550
Related to https://github.com/NuGet/Home/issues/2945

[2017-02-10 00:20] rrelyea commented on #4467
@emgarten @natidea  - i'm assuming this should continue to be driven from @natidea -- is that correct?

please let us know if you need anything from us, or if we should drive?

[2017-02-10 00:24] alpaix commented on #4543
The problem repro-es consistently in rc3.1 26127.03.d15svc/NuGet 4.0.0.2215.
The issue was resolved with NuGet/NuGet.Client#1138.
The fix was inserted into d15rel starting NuGet 4.0.0.2259.
Validated and confirmed with 26208.0.d15rel.

[2017-02-10 00:26] alpaix commented on #4543
The same as #4274.

[2017-02-10 01:34] rrelyea commented on #4467
Marking as external, and will keep open and report on progress we hear from @natidea and team

[2017-02-10 01:37] rrelyea commented on #4549
Putting in 4.0 to keep on radar for now. However, this is 4.0.1 work.
Please either troubleshoot and fix this, or coach @sbanni on how to.

[2017-02-10 01:37] rrelyea commented on #4533
VS Platform team is investigating - tracked by internal bug 383492

[2017-02-10 01:40] #4543 closed, assigned to alpaix

[2017-02-10 02:04] mishra14 commented on #4224
I tried the scenario on VS 2015 Update 3 + NuGet 3.4.4 - Still Get the same errors -

![capture](https://cloud.githubusercontent.com/assets/10507120/22811182/2933a0c0-eef2-11e6-9d4f-49547b53aad5.PNG)

I am trying to get a repro on VS2015 RTM + NuGet 3.0.0

[2017-02-10 02:11] rrelyea commented on #4433
Please merge into dev

[2017-02-10 02:17] rrelyea commented on #4136
We'll consider the fix when we see the code, etc... Please work on a fix.

[2017-02-10 02:18] memontic-ms opened #4554 "NuGetizer can package multiple PackageFile items with identical PackagePath"
### Issue
A package can be created containing identical files at the same location in the package. Extracting this .nupkg produces conflicts and is presumably an invalid NuGet package.

### Expected Behavior
NuGetizer should warn of file conflicts and/or only put one distinct file in the .nupkg

### Constraints of Issue
Two or more PackageFile items that have:
- Different source path
- The same Pa

[2017-02-10 04:06] davkean opened #4555 "Still gets lots of hard to understand errors when you install an incompatible package"
1. File -> New -> .NET Core
2.  Add:

[code]

3. Save

--Wait for restore--

Expected: One single error telling me that this package isn't compatible
Actual: 12 (!) errors telling me very confusing information:

[code]

[2017-02-10 04:38] gitfriend1 commented on #4555
salut

[2017-02-10 04:38] davkean commented on #4463
Make note - this also affects two projects in the same directory: https://github.com/dotnet/roslyn-project-system/issues/1528

[2017-02-10 05:38] martincv8 commented on #4548
@rrelyea Thanks for the quick response.  Admittedly, I was using an older version (and I don't feel stupid for not checking this before logging the bug, at all :)).  That being said I've issued a nuget update -self which pushed me to version 3.5.0 and I'm still seeing the exact same problem.

I then got the RC and I am seeing the same behaviour, the one thing that I did see change is that I now ge

[2017-02-10 06:30] mide1234 commented on #4546
@rohit21agrawal I tried that with the latest NuGet 3.5.0 as you suggested but the issue persists. Let me know if you need any additional information.

[2017-02-10 06:38] davidfowl opened #4556 "High DPI in issues VS2017"
I'm running VS 2017 RC in a Parallels VM on OSX. Here's how the UI looks.

![image](https://cloud.githubusercontent.com/assets/95136/22816710/6e33c81e-ef18-11e6-8ef2-90d400479263.png)

[2017-02-10 06:47] davidfowl opened #4557 "Adding <RuntimeIdentifier> to old style csproj with <PackageReference> option still errors about project.json"
I have .NET 4.5.2 project with using the new `<PackageReference>` support. I installed `Microsoft.AspNetCore.Kestrel` which has a dependency on `libv` which has RID folders.

The relevant part of my project file looks like this:

[code]

![image](https://cloud.githubusercontent.com/assets/95136/22816885/4a39ce94-ef19-11e6-8ef8-65c0426b749d.png)

[2017-02-10 06:49] davidfowl opened #4558 "Old csproj with <PackageReference> requires <BaseNuGetRuntimeIdentifier> and <RuntimeIdentifier>"
I have .NET 4.5.2 project with using the new `<PackageReference>` support. I installed `Microsoft.AspNetCore.Kestrel` which has a dependency on `libv` which has RID folders.

The relevant part of my project file looks like this:

[code]

![image](https://cloud.githubusercontent.com/assets/95136/22816885/4a39ce94-ef19-11e6-8ef8-65c0426b749d.png)

Adding `<RuntimeIdentifier>win7-x86</RuntimeIdentifi

[2017-02-10 08:14] dotnetnate commented on #1448
This happens quite regularly on the VSTS instance for one of our customers. The packages are sporadic - no rhyme or reason other than it chews up build minutes like nobody's business when we have to requeue builds due to this issue.

[2017-02-10 11:35] AndyTian-Devops commented on #4540
@emgarten Thanks for your information.
I prepared some boxes with Dev15 + 4.0, Dev14 U3 + 3.4.4 and 3.5. This issue can not repro stablly, and the unexpected intellisence list will disappear if i try twice in a same box.

[2017-02-10 14:37] KyleWiering commented on #4387
@joelverhagen Correct, that is the way to remedy the issue of a self signed cert not being recognized. as @gavinbeatty suggests, most other utilities that connect through ssl provide an optional path to a cert bundle - as they do not know how to reference the Windows Certificate store.

* Newer composer uses PHP.ini openssl.cafile=path/to/cafile

The suggestion really is an approach to getting stu

[2017-02-10 15:38] 2rik commented on #4467
@natidea I have this issue happening on the project attached.

[project.txt](https://github.com/NuGet/Home/files/767104/project.txt)

[2017-02-10 16:06] garuma commented on #3251
With a patched Mono build I do get push to work for me, tracking this upstream in https://bugzilla.xamarin.com/show_bug.cgi?id=52448

[2017-02-10 16:46] glatzert commented on #4474
I copied my solution to some path on my machine and tried migrating, and updating.
Worked fine 👍

After I used my solution with TFSVC connected Things are not working that smoothly, but switching to lightweight loading and back solved that so I can move on - thanks for your assistance.

[2017-02-10 17:01] rrelyea opened #4559 "vsfeedback - VS for Mac project causes restore over and over"
vsfeedback 803710 - https://developercommunity.visualstudio.com/content/problem/18658/restore-packages-for-net-core-never-ends.html

Opening a project created on Visualstudio for Mac seems to just forever restore nuget packages over and over.... they never restore and it keeps trying on a multi-project solution.   there seems to be no way to stop it either other than just close the project.

[2017-02-10 17:02] rrelyea commented on #4559
Likely suspect: Not sure if the template for VS for Mac is up to date with changes in VS RC4 or not???
(sent mail to a set of people to see if they have context that will help our investigation)

[2017-02-10 17:11] rrelyea opened #4560 "vsfeedback - NuGet restore of Packages.config project fails with RC4. Cannot build .NET Standard Class Library."
vsfeedback 803478 - https://developercommunity.visualstudio.com/content/problem/18548/nuget-restore-fails-cannot-build-net-standard-clas-1.html
See photo/etc in feedback item.

[2017-02-10 17:13] mrward commented on #4559
VS for Mac preview 3 should be creating nearly the same projects as VS RC4. Here is the .csproj file for a created .NET Core console project:

    <Project Sdk="Microsoft.NET.Sdk" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

      <PropertyGroup>
        <OutputType>Exe</OutputType>
        <TargetFramework>netcoreapp1.0</TargetFramework>
      </PropertyGroup>

    </Project>

Th

[2017-02-10 17:13] rrelyea opened #4561 "vsfeedback - PackageReference fails to install developmentDependency correctly (via install.ps1)"
vsfeedback 803549 -- https://developercommunity.visualstudio.com/content/problem/18590/packagereference-fails-to-install-developmentdepen.html

Install CreateNewNuGetPackageFromProjectAfterEachBuild using PackageReference the build script fails to be added

[2017-02-10 17:16] rrelyea opened #4562 "NuGet Manage Packages for Solution fails to open if the solution is not saved."
vsfeedback 804239 - https://developercommunity.visualstudio.com/content/problem/18837/nuget-manage-packages-for-solution-fails-to-open.html

Using the dotnet core from build 26206.00
Using the command line create a new dotnet core MVC app (dotnet new mvc --auth None)
dotnet restore and dotnet run to hydrate and test the app
Using visual studio open the csproj file (note at present there is no solu

[2017-02-10 17:22] mrward commented on #4559
I ran a quick test. Ceated a .NET Core console project and a .NET Core NetStandard project in VS for Mac. Then opened the solution into VS 2017 RC4. Restore ran and finished.

[2017-02-10 17:23] rrelyea opened #4563 "Non-Fatal Watson: System.NullReferenceException at NuGet.VisualStudio.VsPackageInstallerServices.<>c__DisplayClass9_0.<<GetInstalledPackages>b__0>d.MoveNext()"
see watson info in internal bug 382580

Exception:
System.NullReferenceException: Object reference not set to an instance of an object.
    at NuGet.VisualStudio.VsPackageInstallerServices.<>c__DisplayClass9_0.<<GetInstalledPackages>b__0>d.MoveNext()
 --- End of stack trace from previous location where exception was thrown ---
    at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(T

[2017-02-10 17:25] rrelyea opened #4564 "VS2017RC4: Opening Package Manager Console results in error"
internal bug 382548

Repro Steps:Via extensions, I selected an extension that required closing VS2017.
Extension isntalled with no problems. This extension has worked with previous builds of VS2017 RC.
Re-Open VS2017RC4
Open existing solution
Open package manager console
I'm gettig an error message in the console that says "The operation failed as details for project MovieList could not be loaded.

[2017-02-10 17:28] mrward commented on #4559
Also tried the empty web project and that restored OK in VS 2017 RC4.

[2017-02-10 17:42] rrelyea opened #4565 "Sometimes build cannot start until restore tasks finish, but Restore queue never starts to be processed - making VS unable to build or restore."
Internal bug: 372928

ported from https://github.com/dotnet/roslyn-project-system/issues/1188

No repro steps for this as it did not re-occur on closing and reopening VS.
devenv.exe dumps are saved to [internal file share]\public\nicholg\roslyn-project-system_1189
The build appeared to have completed but VS never handled that and left the solution in a state where the build had to be cancelled. At

[2017-02-10 17:52] rrelyea opened #4566 "internal: deadlock while opening a solution that uses nuget"
see vsfeedback 804256 - found on build 265050.0
has provided a dump.

[2017-02-10 17:54] rrelyea opened #4567 "vsfeedback: NullRef when New Project is not saved yet"
have a new machine, with newly installed VS:
In Options->Projects->General-> uncheck save new projects
File->New->Project->C#->WPF app
I have no NuGet Packages

Build it, I get :
Error occurred while restoring NuGet packages: Object reference not set to an instance of an object.
1>------ Rebuild All started: Project: AsyncNest, Configuration: Debug Any CPU ------
1>  AsyncNest -> C:\Users\calvinh\

[2017-02-10 17:57] rrelyea opened #4568 "vsfeedback: NRE when trying to restore a large project in VS"
see internal vsfeedback 789471 -- found using 26202.1

Clone https://github.com/aspnet/Razor repository
Open Razor.sln in VS
Right click Solution -> Restore NuGet Packages

I get the following error:

Error		Error occurred while restoring NuGet packages: Object reference not set to an instance of an object.			0

Workaround: Run `dotnet restore` from the command line

[2017-02-10 17:59] rrelyea opened #4569 "vsfeedback: "Error occurred while restoring NuGet packages: File not found""
internal vsfeedback 787061 -- using 26201.1

When building "Microsoft.AspNetCore.Sockets.Common.Tests" in the attached ZIP, I get the following error in the Build Output Window: "Error occurred while restoring NuGet packages: File not found". Restoring from the command line (dotnet.exe version: 1.0.0-rc3-004530) does work.

Apologies for the large attachment, I wanted to make sure to capture as mu

[2017-02-10 18:03] rrelyea opened #4570 "vsfeedback: restore not working with project.json file (due to v1 project.lock.json file)"
internal vsfeedback: 747014

New project was added to our source and the appropriate packages specified in the project.json.  These references do not properly show up in the "References" for the project.  Attempting to open Nuget Manager Console results in an error so I can't perform a manual restore.

found using 26124.2 build.
internal user is contactable via email.

[2017-02-10 18:08] nkolev92 commented on #4567
Can repro with 26206. Seems like yet another package initialization/loading problem.

[2017-02-10 18:35] mishra14 commented on #4224
This repros on NuGet 3.0.0 on VS2015 RTM as well.

![capture2](https://cloud.githubusercontent.com/assets/10507120/22839054/a448a9e2-ef7c-11e6-8558-5f20719dc9e4.PNG)

[2017-02-10 18:47] twsouthwick commented on #4316
Can you post when this should end up in an available build? I've got a few projects hitting this and would like to test as soon as it's available.

[2017-02-10 18:50] zhili1208 commented on #4560
this is dupe of https://github.com/NuGet/Home/issues/4533

[2017-02-10 18:50] #4560 closed, assigned to zhili1208

[2017-02-10 18:50] zhili1208 commented on #4569
this is dupe of https://github.com/NuGet/Home/issues/4533

[2017-02-10 18:50] #4569 closed, assigned to zhili1208

[2017-02-10 18:57] #4433 closed, assigned to jainaashish

[2017-02-10 18:59] bbowman commented on #4554
@kzu I noticed this as well. It definitely seems like a user error but it can be easy to miss in the automagic packaging that goes on.

[2017-02-10 19:01] rohit21agrawal opened #4571 "update cli in nuget.client used for testing pack commands"

[2017-02-10 19:10] rohit21agrawal commented on #4136
@rrelyea i have sent out a PR for this.

[2017-02-10 19:25] mishra14 opened #4572 "Remove unused string resources from Nuget.Client repository"
We have the following unused strings in our repo which were flagged during localization. We should remove them.

Strings -
[code]

[2017-02-10 19:27] rohit21agrawal commented on #4432
This is being fixed by : https://github.com/dotnet/core-setup/pull/1424

[2017-02-10 19:27] mishra14 opened #4573 "Fix typo in CredentialProviderFailed_DefaultCredentialsCredentialProvider string resource"
This string was flagged during localization. We should fix this if this is a typo.

[code]

[2017-02-10 19:31] mishra14 commented on #4559
@rrelyea since this does not repro, should we close this?

[2017-02-10 19:45] zhili1208 commented on #4573
This is a not a typo, this is a type name, we have a type named "DefaultCredentialsCredentialProvider"

[2017-02-10 19:45] #4573 closed, assigned to nobody

[2017-02-10 19:52] mishra14 commented on #4562
trying to get a machine and then repro

[2017-02-10 20:05] dtivel commented on #4474
Thanks for letting me know, @glatzert.

[2017-02-10 20:19] zhili1208 commented on #4570
I think this is related to project.lock.json v1, talked with internal user, he can't test it now, will test it next week

[2017-02-10 20:40] iskiselev opened #4574 "If your solution has projectreferences that refer to the same project, with different casing, restore may not work. This also affects different relative paths, without a difference in casing"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): nuget.exe, msbuild /t:Restore
NuGet version (x.x.x.xxx): 4.0 RC
VS version (if appropriate): VS 15.0.0-RC4+26206.0
Worked before? If so, with which NuGet version: VS 2015 / NuGet 3.5

## Detailed repro steps so we can see the same problem

1. Checkout example from https://github.com/iskiselev/N

[2017-02-10 20:42] rrelyea commented on #4559
@mrward - thanks for trying.
Moving to blocked. Waiting for customer repro that we asked for from vsfeedback.

[2017-02-10 20:50] mishra14 commented on #4562
unable to repro this. In my case `dotnet new mvc --auth none `did create a csproj file. I was able to open the project and update all packages

Update - Got a repro on **manage packages for solution**. Debugging.

[2017-02-10 21:11] jinujoseph opened #4575 "Restore nuget packages failed and retries over and over again"
- Open the sln file \\mlangfs1\public\Jinuj\TestScenario\RestoreRetriesForEver\MultiTargetting here

The problem here is  Client project  has a reference to classlibrary which doesn't exists.

[2017-02-10 21:19] jinujoseph commented on #4575
cc @rrelyea

[2017-02-10 21:58] rrelyea commented on #4547
Opened issue on Xamarin for Android - internal bug 383558

This looks like why it no longer resolves from the GAC: https://github.com/xamarin/xamarin-android/commit/78b0ff92ccc13cb3e12a87cd681f7f92ca405404
This is a good change, but it seems this repro had been relying on GAC resolution all along. 

[2017-02-10 21:58] tmat commented on #4432
Should be fixed in netcoreapp1.1.1.
A workaround is to add a nuget reference to https://www.nuget.org/packages/Microsoft.DiaSymReader.Native/1.4.2

[2017-02-10 22:00] nguerrera commented on #4547
More info: NoStdLib=true set somewhere in Android SDK is preventing mscorlib.dll from getting used from TargetFrameworkDir to smooth over mscorlib conflicts.

Workaround:
[code]

[2017-02-10 22:04] clairernovotny commented on #4547
@rrelyea it's not just my project in terms of GAC resolution, it's the standard Xamarin.Android project template. It's affecting MSAL as well.

[2017-02-10 22:14] jainaashish commented on #4568
Dup# of https://github.com/NuGet/Home/issues/4487

Fixed with  26206.0.d15rel

[2017-02-10 22:14] #4568 closed, assigned to jainaashish

[2017-02-10 22:17] rrelyea commented on #4561
Install.ps1 is not runnable in packages that are installed with one of NuGet's transitive project styles.
Packages.config -- does run install.ps1.
Project.json and PackageReference do not run install.ps1.

[2017-02-10 22:31] zhili1208 commented on #4563
the issue here is nugetProject can be null if exception is throw during nugetProject Creation  https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.VisualStudio.Implementation/Extensibility/VsPackageInstallerServices.cs#L147

we should do null check and log error at https://github.com/NuGet/NuGet.Client/blob/78542c8d1ef67a23bb3e683256d07d0c0bef8ac7/src/NuGet.Clients/PackageManage

[2017-02-10 22:39] alpaix commented on #4565
this is typical scenario I'm about to fix up with NuGet/NuGet.Client#1174.

In the first dump there are two critical restore tasks pending:
[code]

No other presence of NuGet assemblies spotted in thread stacks and tasks.

Second dump clearly shows the main thread is blocked by the project system awaiting critical tasks:
[code]

[2017-02-10 22:40] alpaix commented on #4565
The same as master #4225.
Rob Update: "at one point, we thought the fix for #4225, would address this. but then we took the fix for #4420 which meant that much of #4225 didn't need to be addressed -- so now we are considering this one."

[2017-02-10 22:53] grbsystems commented on #4562
![capture](https://cloud.githubusercontent.com/assets/6330738/22847221/90f5ce78-efb9-11e6-8a2e-91c3717a8f4d.PNG)

Until I have a solution file it does this every time.   I may try it on a totally clean (as opposed to continually upgraded) install.

[2017-02-10 22:58] emgarten opened #4576 "VSSolutionManager.GetOrCreateProjectAsync should handle non-projects gracefully"
*From an internal thread*

``VSSolutionManager.GetOrCreateProjectAsync`` should handle non-projects gracefully.

Looks like internally NuGet tries to create NuGet project for a given EnvDTE.Project (https://github.com/NuGet/NuGet.Client/blob/b89bb5750c475212213e14f750604d2ecaf704ff/src/NuGet.Clients/PackageManagement.VisualStudio/IDE/VSSolutionManager.cs#L1065)
with assumption that this should alw

[2017-02-10 23:05] zhili1208 commented on #4576
Same issue here: https://github.com/NuGet/Home/issues/4563

[2017-02-10 23:08] zhili1208 commented on #4575
@jinujoseph I tried your repro solution, it repros when I open that solution first time, but can't repro it any more after reopen solution, Do you know how to create a solution which can repro this issue?

[2017-02-10 23:10] nkolev92 commented on #4567
This is a regression from 3.4.4 + VS2015

[2017-02-10 23:18] emgarten commented on #4576
@zhili1208 good catch, let me merge these together!

[2017-02-10 23:18] #4576 closed, assigned to nobody

[2017-02-10 23:27] emgarten commented on #4563
Copied from https://github.com/NuGet/Home/issues/4576 as it related to this

From Vlad:
This scenario is caused by Roslyn probing all projects for installed packages. In the scenario where a C# Web project contains typescript files are added to a virtual sub project within the main project. When checking for packages to auto suggest the virtual project is passed to the NuGet APIs, which then fails

[2017-02-10 23:32] rrelyea commented on #4562
Workaround: Save All or ctrl-shift-S (which saves solution)
Then it works.

[2017-02-10 23:34] rrelyea commented on #4567
Workaround: Save project.

[2017-02-10 23:36] rrelyea commented on #4559
Perhaps this was another instance of #4575

[2017-02-10 23:51] nguerrera commented on #4547
@onovotny Can you confirm if the nostdlib workaround works for you?

[2017-02-11 00:00] gkhanna79 commented on #4286
I think I am running into this issue as well.

Our official build breaks when we attempt to push packages to myget from within a container but works fine when running outside the container. See https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=566348 for an example of such a break. Relevant excerpt is here:

[code]

@rrelyea any ideas about this? This is blocking o

[2017-02-11 00:08] samdevx1029 commented on #3110
Hello, any update on this?

[2017-02-11 00:38] twsouthwick commented on #4523
Turns out this was due to importing a `.targets` file that had a `PackageReference` node. This node was within a conditional `ItemGroup`, but it was apparently not being evaluated with the condition. After switching it to a `choose/when` block, it works as expected.

**Before:**
[code]

**After:**
[code]

The `IncludeAnalyzers` property is set in the project with the project.json since `PackageRef

[2017-02-11 00:38] emgarten commented on #4523
I tracked this down with @twsouthwick the project.json project contained a PackageReference that should have been excluded by a condition. Visual Studio seems to skip the conditions in some scenarios. Changing this to a choose/when solved the issue and kept the project from reporting PackageReferences to NuGet.

[2017-02-11 00:38] #4523 closed, assigned to emgarten

[2017-02-11 00:43] jainaashish commented on #4566
From the dump it looks like, it was not just open solution instead user might have right clicked on solution immediately after opening solution or something like that to get to this state. So it might not be the common scenario. But we are also trying to get watson numbers for this stack trace to get the priority of this issue for RTM.

[2017-02-11 00:48] alpaix opened #4577 "Feedback/Data?? -- Auto-restore fails multiple times until all projects are loaded"
### Details about Problem

Auto-restore will fail multiple times when opening a solution containing more than one project with following error:

[code]

Eventually when all of projects get nominated the last auto-restore will succeed:
[code]

The problem lies in the fact of irregular nomination intervals. It leads to sporadic triggering of auto-restore before all necessary project data is placed i

[2017-02-11 00:53] natidea commented on #4467
@2rik I have not been able to repro with your project file, though I did have some other issues in part because this is an old-style project file. I would recommend using the simplified project file format you see when you create a new ASP.NET Core project, (or if this project was originally migrated, you could try running migration again with the latest VS RC).

Specifically in your project, you

[2017-02-11 01:01] clairernovotny commented on #4547
Yes, that appears to work. I do want to emphasize that the templates for Xamarin Android don't have this set by default and it worked in 2015 so something regressed in the toolchain.

[2017-02-11 01:03] grbsystems commented on #4562
That is mentioned in the original problem report.

[2017-02-11 01:05] nkolev92 commented on #4567
The root cause of our null ref is the fact that the DTE returns an empty solution path when this variable is unchecked.
We make that call right here:
https://github.com/NuGet/NuGet.Client/blob/b89bb5750c475212213e14f750604d2ecaf704ff/src/NuGet.Clients/PackageManagement.VisualStudio/IDE/VSSolutionManager.cs#L531

I am not sure if this is the expected behavior.

[2017-02-11 01:07] alpaix commented on #4564
Was able to repro with the most recent bits in dev. Not related to extension installed. The key step is restarting a VS and opening PMC when solution is loading.

The error entry from the activity log:
[code]

[2017-02-11 01:28] natemcmaster opened #4578 "dotnet Restore (& therefore msbuild /t:restore) skips projects with an explicit solution project dependency"
Calling "msbuild.exe /t:Restore" on a solution skips a project in my solution.
This project has an explicit project dependency in the solution file.

**Repro**
1. Download https://github.com/aspnet/BuildTools/tree/4ec80c34339019266353e6e557f7ca68c89fbdb3
2. dotnet restore BuildTools.sln

**Expected**
Restores all csproj reference .sln file.

**Actual**
Skips NugetPackageVerifier.csproj
(see restor

[2017-02-11 01:44] rrelyea commented on #4564
May be related to your recent change? Can you please look.

[2017-02-11 01:46] nkolev92 commented on #4567
It repros on VS14 with our new bits as well.
So the path value for such projects is an empty string in both VS14 & VS15

[2017-02-11 01:47] emgarten commented on #4578
Thanks for the repro @natemcmaster

Restore reads the solution metaproj for all project references. For this solution I see it puts the reference to NuGetPackageVerifier in an external metaproj file and references it.

[code]

I believe restore has had issues with these in the past and ignores them because they don't actually exist when it tries to resolve them.

@rainersigwald what is the best wa

[2017-02-11 01:48] joelverhagen commented on #4564
Yup, definitely looks related. The key clue here is the `ExecuteInitScriptsAsync` in the stack trace. I'll look into this on Monday.

[2017-02-11 01:53] pcewing commented on #4387
Just a note, I came across this issue after trying to restore packages with NuGet on Ubuntu via the Rider IDE. It failed despite having trusted certificates installed via the ca-certificates package. Having the option to either bypass SSL or specify trusted certs via environment variables would be great!

[2017-02-11 02:06] joelverhagen commented on #4387
@pcewing, what would the ideal configuration be for you? I see three options so far:

1. Allow (trust) all SSL certificates. This seems like @scottbommarito's suggestion.

1. Allow a "cafile" option where you can point at a file containing one or more trusted certs. Presumably these are trusted _roots_ not just specific certificates. This seems to be @gavinbeatty and @KyleWiering's suggestion.

[2017-02-11 02:30] nguerrera commented on #4547
Of course. Just checking so xamarin folks know what would fix it.

[2017-02-11 02:31] pcewing commented on #4387
@joelverhagen I think a combination of 1 with something like 2 or 3 would be great. Another package manager I frequently use for Erlang/Elixir is Hex, and they added support for a `HEX_UNSAFE_HTTPS` environment variable that can be set when SSL should be bypassed altogether.

Personally I think option 2 sounds better as setting environment variables is already a standard step when configuring buil

[2017-02-11 02:57] gavinbeatty commented on #4387
There are many solutions that might work:
- if the software looks in the Windows cert store, install the cert if you have permissions.
- if that doesn't work out (unfortunately it is quite common for non-Microsoft open source software to not look in the Windows cert store at all):
  - ignore all cert checks (option 1).
  - ignore specific cert checks (option 3).
  - specify an alternative cert (op

[2017-02-11 03:02] #4571 closed, assigned to rohit21agrawal

[2017-02-11 03:39] mishra14 commented on #4505
This should be fixed in wsr-tc build #1774. Need to validate.

[2017-02-11 20:23] kzu commented on #4554
Should this be turned into a warning or a straight error?

[2017-02-11 21:12] bbowman commented on #4554
Straight error seems good if it's something that is always user avoidable. I'm only afraid the automatic packaging may encounter this and the recovery from the error may not be obvious. Maybe warning if automatic and error if manual ... would require new metadata in the automatic targets to detect.

[2017-02-11 21:42] AArnott opened #4579 "error : Unable to resolve [some.proj] for '.NETFramework,Version=v4.5'"
In a solution that I'm converting (at least partially) to .NET SDK, I still get an error on package restore when I restore the whole solution. It's fine when I restore the test project.
Because the error only references the .sln file as the source, I can't tell which project has the reference that is failing. It would be nice to get a better error message (and get rid of the error message altogeth

[2017-02-12 05:58] Petermarcu commented on #4286
@rrelyea , do you guys know what may be wrong here? We are seeing this in our .NET Core official builds too and it looks like our builds are currently failing intermittently around 40% of the time. We may need to pick up a private toolset from you with a fix for this before you can officially ship it if there is a good way to do that. We can also help you test it :)

[2017-02-12 07:27] kzu commented on #4547
This is fixed on our side at the `Xamarin.Android` targets level and should be included by RTW.

[2017-02-12 16:17] maettu-this opened #4580 "Request for configurable names of '\packages' and 'packages.config'"
## Details about Problem

NuGet Package Manager for VS 2015

## Other suggested things

I request to allow the user to configure the name...
...of the '\packages' folder.
...the 'packages.config' files.

e.g. in my case I'd like to name them...
...'\NuGet.Packages'
...'NuGet.Packages.config'

Rationale:

- My solution's root's folders are named by supplier/application, '\packages' does not fit.
-

[2017-02-12 18:16] dsplaisted opened #4581 "Automatically use PackageReference mode if referencing a project that uses PackageReference"
I'm not sure how feasible this is, but we have a really poor experience referencing .NET Standard projects from .NET Framework projects today:

- Create a .NET Standard Library project
- Create a .NET Framework Console app
- Reference the .NET Standard Library from the Console app
- Get FileNotFoundException at runtime, depending on what APIs you use

Here are issues I've found that people have fi

[2017-02-12 19:50] rohit21agrawal commented on #4556
@jainaashish i believe this has already been fixed?

@davidfowl what build of VS are you on?

[2017-02-12 19:52] rohit21agrawal commented on #4552
i'd like to this sooner than 4.0.1 as this might unblock some of the testing scenarios that we are unable to test currently. more details?

[2017-02-12 22:02] davidfowl commented on #4556
"RC4"

[2017-02-12 23:11] jamiekt commented on #4318
Hi @rrelyea , thanks for the reply.

Could you explain why? TIA

[2017-02-13 02:40] gkhanna79 commented on #4286
I have confirmed that if the container is privileged, nuget push works. This is how I ended up unblocking our official builds.

[2017-02-13 02:42] Petermarcu commented on #4286
Great, glad we found a workaround. So folks that have the ability to run the container as privildged have a workaround. Not sure if that helps @atrauzzi but it lowers the priority from our end.

[2017-02-13 02:43] gkhanna79 commented on #4286
I agreed - a proper fix still needs to be in place from nuget.

[2017-02-13 04:16] davkean opened #4582 "Assets file should use relative paths to enable moving projects more easily"
Due to https://github.com/dotnet/roslyn-project-system/issues/1538, moving a project on disk results in a project with broken packages/IntelliSense when you next open it.

To avoid this situation until we reload targets automatically in the future, NuGet should burn in a value in ProjectAssetsFile that is relative to the intermediate directory. This will make it less likely developers will run int

[2017-02-13 05:13] emgarten commented on #4581
Restore could determine this, it always finds the full project to project reference graph and the restore style of each project.

However, wouldn't changing the behavior of an existing project to flow all references to it transitively be somewhat unexpected and possibly breaking? There would also be the scenario where the parent project uses packages.config and can't just switch over to using an a

[2017-02-13 07:04] TheRealPiotrP opened #4583 "Inconsistent handling of Version, VersionPrefix, VersionSuffix"
Microsoft.Net.Sdk has the following behavior:
`<Version Condition=" '$(Version)' == ''>$(VersionPrefix)-$(VersionSuffix)</Version>`

In other words, the version is the concatenation of the prefix and the suffix, but is overridden if set directly.

`Pack`, on the other hand, seems to consider VersionSuffix even if Version is defined directly.

I'm not sure what behavior is correct, both have some m

[2017-02-13 08:16] davkean commented on #4523
File a bug over on project system.

[2017-02-13 08:18] v-nancyj commented on #4345
@rrelyea The version 5.3.0 have been listed, please close the bug, Thanks!

[2017-02-13 08:20] v-luzh opened #4584 "[Test Failure] Duplicated references show after installing package ‘System.Core’ into C# Console App with PackageReference mode"
**NuGet Version:** NuGet 4.0.0-RTM-2275
**VS Version:** D15Rel 26210.02
**OS Version:** Windows 10 RS1_Release 14393.821.170127-1801

**Repro Steps:**
1.	Select **‘PackageReference in project file’** as default package management and check **‘Allow format selection on first package install’** format in NuGet Package Manager setting dialog.
2.	New a Visual C#->Windows Classic Desktop->Console App (

[2017-02-13 12:38] MohdIrfanKhan opened #4585 "Local Nuget Server package Loading Failed"
Hi,

We are having our own Nuget Server using v2.11.2.0 where we are managing our nuget packages. But
we faced a lot of problem with nuget restore. When I looked into the localserver.cache.bin
file I found only one package was there. On restarting IIS instance and clearing cache it works fine
but after some time it again behaves same in.
Could you please help me in identifying the cause of issue a

[2017-02-13 15:07] #4547 closed, assigned to dtivel

[2017-02-13 15:37] rohit21agrawal commented on #4583
this has already been fixed by : https://github.com/NuGet/NuGet.Client/pull/1139

```Pack``` doesn't read ```VersionSuffix``` anymore.
The only way to override the ```Version``` is to set the ```PackageVersion```

[2017-02-13 15:38] rohit21agrawal commented on #4583
@piotrpMSFT in case i misunderstood the issue in your OP, please feel free to reactive this issue.

[2017-02-13 16:25] joelverhagen commented on #4564
Formatted stack:
[code]

I was able to repro it by trying to execute a PMC command (`1 + 1`, <kbd>Enter</kbd>).

The stack is different... will look into both of these issues...

[2017-02-13 16:32] rainersigwald commented on #4578
That's not a _good_ way but I do think it might be the _best_ way.

References are added to the metaproj by [this code](https://github.com/Microsoft/msbuild/blob/99e95d0f55d2af82767ffd8c81dcfdc663092e49/src/Build/Construction/Solution/SolutionProjectGenerator.cs#L762-L767) which only adds either a direct reference or, if there's something special about the project, a reference to its metaproj. Fil

[2017-02-13 16:35] twsouthwick commented on #4523
Done - see https://github.com/dotnet/roslyn-project-system/issues/1542

[2017-02-13 16:41] alpaix commented on #4564
@joelverhagen That's different stack and somewhat expected if not all of solution projects loaded yet. What do you see in the output window?

[2017-02-13 16:43] joelverhagen commented on #4564
[code]

[2017-02-13 16:47] alpaix commented on #4564
I mean Package Manager output (not the PMC).

[2017-02-13 16:53] rainersigwald commented on #4581
Yeah, sounds like this would be best as a clear error rather than an unexpected behavior change. There may already be metadata on the returned reference items that would be good enough to fuel that in the referencing project.

[2017-02-13 17:09] rrelyea commented on #4584
Known issue, assigned to project system team (csproj.dll). Tracked by internal bug: 377624

[2017-02-13 17:12] rrelyea commented on #4581
Yes, experience needs thought/design. Consider post RTM.

[2017-02-13 17:15] rrelyea commented on #4580
Keeping this open in "future-2", but unlikely to address by the we would get to it.

PackageReferences support in VS2017 and later moves away from both artifacts.
Please consider evaluating that approach soon, and giving feedback to ensure that it meets your company's needs.

[2017-02-13 17:31] rrelyea commented on #4574
Let's dig into this one and understand the problem. Do nuget.exe and msbuild /t:restore have a problem that VS and dotnet.exe don't?
Or is this just the change in 3.5rtm to treat packages as case insensitive and store them as lower case on disk, etc...
/cc: @joelverhagen

[2017-02-13 17:33] rrelyea commented on #4558
This is likely something we'll address in 4.0.1 - we have tried in 4.0 to put some RIDs in a few target files to handle:
* uwp scenarios
* .net framework scenarios.

what about this scenario isn't ideal?

[2017-02-13 17:35] rrelyea commented on #4556
Dupe of #4439 - currently a 4.0.1 issue.

[2017-02-13 17:35] #4556 closed, assigned to nobody

[2017-02-13 17:38] davidfowl commented on #4558
Not sure what you're asking. Are you a asking why duplicating the same RID in 2 different properties isn't ideal?

[2017-02-13 17:41] emgarten commented on #4582
For ProjectAssetsFile I agree this path should be relative.

For the rest of the paths, the issue is that the global user packages folder could be anywhere relative to where the project lives, and there could also be fallback folders that are needed.

Changing these files to use relative paths would only make it more confusing because it would seem like these are suppose to be portable. Users need

[2017-02-13 17:42] rrelyea commented on #4510
@acomarce - please follow up on @emgarten's request.

[2017-02-13 17:43] rrelyea commented on #4558
Was asking the person who will be investigating.

[2017-02-13 17:49] rrelyea opened #4586 "NuGet restore in Visual Studio does not respect PackageId property of projects"
Need to determine customer impact, importance for RTM vs 4.0.1

NuGet side of: https://github.com/dotnet/roslyn-project-system/issues/1532

[2017-02-13 17:53] #4224 closed, assigned to zhili1208, mishra14

[2017-02-13 17:56] rrelyea commented on #4559
Dupe of #4575

[2017-02-13 17:56] #4559 closed, assigned to nobody

[2017-02-13 17:57] rrelyea commented on #4515
@emgarten - thoughts on this?

[2017-02-13 17:58] rrelyea commented on #4225
@alpaix - how goes the data search for how often this is hitting folks?

[2017-02-13 18:10] emgarten commented on #4515
@rrelyea this issue is similar to https://github.com/NuGet/Home/issues/4532 which @zhili1208 was investigating. There are no .xproj files in this solution however.

[2017-02-13 18:18] jainaashish commented on #4584
This is not an issue,` System.core` was already there in the project as assembly reference and then on top of that, you added `System.core` as a NuGet package so it shows both one as assembly reference and another as NuGet package. When you were trying to add this as a package, then ideally you should remove it as assembly reference.

[2017-02-13 18:29] rohit21agrawal commented on #4580
If i am understanding correctly, you can already configure your packages folder to be anything you want :

``` nuget config -set repositoryPath=c:\MyPackagesFolder ```

As far as packages.config is concerned, the only possibility that exists right now is to have it renamed to :
```packages.<projectName>.config ```

[2017-02-13 18:30] emgarten commented on #4585
@irfspy looks like you are using an older version of NuGet.Server. Try the latest here https://www.nuget.org/packages/NuGet.Server/  and see if this issue still occurs.

Also, the source is available here for debugging: https://github.com/nuget/nuget.server

[2017-02-13 18:42] rrelyea commented on #4225
We are counting on the mitigation from #4420 to solve many of these problems. Pushing out to 4.0.1

[2017-02-13 19:29] natemcmaster opened #4587 "Packing csproj with long description issues unresolvable warning about missing summary text"
Packing a csproj with a long `<Description>` value issues the following warnings:

[code]

However, specifying a Summary field is not possible from csproj.

**Repro**
[code]

**Details**
Using NuGet/Microsoft.NET.Sdk RC4

cc @rohit21agrawal

[2017-02-13 19:36] rohit21agrawal commented on #4587
@natemcmaster before we assign a milestone to this, just want to make sure this is not blocking you in any way?

[2017-02-13 19:37] natemcmaster commented on #4587
Not blocking. It's just a build warning, not an error.

[2017-02-13 19:37] emgarten commented on #4371
1 hit on RC.4 it looks like this may have been improved by: NuGet/NuGet.Client@abb6b0e964e1eb3ee89bd9003db0c056fbd285e7
and looking at that hit, it doesn't look like we are involved.

[2017-02-13 19:37] rohit21agrawal commented on #4587
just an FYI, you can disable these warning by setting the ```$(NoPackageAnalysis)``` property to true.

[2017-02-13 19:39] natemcmaster commented on #4587
Yeah we found that setting. We want to keep it enabled though just in case there are other package issues. Would be cool if we could turn off certain NuGet warnings but not all, but that would be a much bigger feature.

[2017-02-13 19:42] rohit21agrawal commented on #4587
will discuss possible options with @rrelyea

[2017-02-13 19:52] jainaashish commented on #4558
by default `BaseNuGetRuntimeIdentifier` will not be there so `RuntimeIdentifier` property will be set correctly and you won't see this issue. But since you explicitly set `BaseNuGetRuntimeIdentifier` to `win7-x86` so `RuntimeIdentifier` isn't set by default so you also need to set this explicitly.

Now I don't understand what's the scenario to set `BaseNuGetRuntimeIdentifier` explicitly to `win7-x

[2017-02-13 20:10] davidfowl commented on #4558
It's ridiculous to force users to set both properties to the same value. In face BaseRuntimeNuGetIdentifier needs to be deprecated. It's an artifact of the old nuget task and runtime identifier should be the only one that matters now. Setting the RID is sometimes required to deploy the right assets (like when you target a .net framework project and reference a package that has native assets)

[2017-02-13 20:22] LatinWarrior commented on #2836
@tvmani your solution worked for me. Thanks!

[2017-02-13 20:22] jinujoseph commented on #4575
Take a copy of \\mlangfs1\public\Jinuj\TestCases\MultiTargetting\MultiTargetting  to your machine
Delete the CoreLib and Lib Folder
your folder structure should look like this
![image](https://cloud.githubusercontent.com/assets/12449387/22901598/1cad2dce-f1e7-11e6-8a7d-2149c79bc0b4.png)

now open the solution and it should repro

[2017-02-13 20:25] rohit21agrawal opened #4588 "upload symbols to microsoft symbols server for 3.5.0 and 4.0.0-rc4 releases"

[2017-02-13 20:31] nkolev92 commented on #4567
The changes for this are in the dev-nkolev92-fixrestorenullref branch. I will create a PR when we change branches.

[2017-02-13 20:34] mishra14 commented on #4505
Validated as fixed with wstr-tc build #1778.

[2017-02-13 20:34] #4505 closed, assigned to mishra14

[2017-02-13 20:50] jainaashish commented on #4558
Agreed, we shouldn't ask user to set both properties but I doubt we will be targeting it for RTM we can have a better solution in 4.0.1, About deprecating `BaseRuntimeNuGetIdentifier`, I doubt it since the same nuget task is also being used for PackageReference (non xplat scenarios) but we can certainly do better when user set `BaseRuntimeNuGetIdentifier` property without asking him to set `Runtim

[2017-02-13 21:17] iskiselev commented on #4574
Sample doesn't work with nuget 4.0, dotnet (1.0.0-rc4-004771), msbuild 2017 RC4. It works with VS 2017 RC4 and nuget 3.5.

[2017-02-13 21:44] anangaur opened #4589 "[Stats] NuGet package stats should be pivoted by timeline (week, month)"

[2017-02-13 21:45] anangaur opened #4590 "[Stats] Package owners should have ability to download raw data (csv?)"

[2017-02-13 22:09] jainaashish commented on #4566
Form UIDelays I can see this stack trace only had 2 hits so we can move this to 4.0.1
http://uidelays/#?q=m:Microsoft.VisualStudio.Composition.*%20v:15.*%20f:microsoft.visualstudio.composition.dll!Microsoft.VisualStudio.Composition.ExportProvider%2BPartLifecycleTracker.WaitForState&p=100&s=microsoft.visualstudio.composition.dll!Microsoft.VisualStudio.Composition.RuntimeExportProviderFactory%2BRunt

[2017-02-13 22:15] #4420 closed, assigned to jainaashish

[2017-02-13 22:32] emgarten commented on #4371
In investigating the hang dump from RC.4 I do not see NuGet.SolutionRestoreManager as loaded in the hang. I believe a different VSIX is causing these remaining hangs.

The original issue with NuGet seems to be fixed.

[2017-02-13 22:32] #4371 closed, assigned to emgarten

[2017-02-13 22:35] jainaashish commented on #4435
Fixed in 4.0 RTM since #4433 is fixed and merged.

[2017-02-13 22:35] #4435 closed, assigned to jainaashish

[2017-02-13 22:42] mishra14 commented on #4552
Discussed offline. Use the package available at: http://www.nuget.org/packages/Microsoft.Build.Runtime/15.1.0-preview-000545-01

[2017-02-13 22:44] rohit21agrawal commented on #4552
@rrelyea this is exactly what we need to build the testing infrastructure to test UWP scenarios, especially for Pack.

can we pull this in for 4.0 milestone? It's likely a day or two of work.

[2017-02-13 22:45] rohit21agrawal opened #4591 "add automation for uploading symbols to microsoft symbol server"
automate the instructions written in the team OneNote for uploading symbols to the microsoft symbols server, at least for major releases.

[2017-02-13 22:47] rohit21agrawal commented on #4588
this has been done.
symbols uploaded for : 3.5.0-rtm-1996, 4.0.0.2188, 4.0.0.2215, 4.0.0.2275

[2017-02-13 22:47] #4588 closed, assigned to rohit21agrawal

[2017-02-13 22:49] mishra14 commented on #4506
Validated as fixed on wsr-tc build #1779.

[2017-02-13 22:49] #4506 closed, assigned to mishra14

[2017-02-13 22:51] mishra14 commented on #3506
Current status: The localization of the 3 new dlls is done. We currently have 3 strings which are not translated (reason - change in string, vendors needed context on the strings etc.). Working on getting them done within the week.

[2017-02-14 00:06] davkean commented on #4582
I'm not sure how it would result in more confusion - right now you need to _restart_ Visual Studio for your references to start working. This has nothing to do with source control, this is literally copy and pasting your project to a new directory.

[2017-02-14 02:19] mishra14 commented on #4562
I observed the same behavior for VS 2015 and VS2017 (Non netcore projects) on `File -> New Project -> Delete solution file -> Manage NuGet Packages for Solution`.

This can be fixed by adding a dialog prompt for the user asking them to save the solution.

[2017-02-14 02:47] dsplaisted commented on #4581
I wouldn't call this a breaking change for pre-VS2017 projects, because the behavior wouldn't change at all until you reference a project that uses `PackageReference`, which is something that didn't exist before.  Of course since we can't do this for VS 2017 RTM we would still have to think about the impact it would have on projects created with VS 2017.

In general I agree with Rob that we need m

[2017-02-14 04:01] iskiselev opened #4592 "Restore speed is slow in 4.0"
## Details about Problem

NuGet product used: msbuild /restore
VS version: VS 2017 RC4

I have solution with 123 project, ~10 of them are new csproj, most of others are old csproj with project.json.
Currently `msbuild /t:restore` takes 15 minutes.

Before conversion with xproj and Nuget 3.5 command `nuget restore`  for same solution on same environment took only 2 minutes.

[2017-02-14 05:54] rocklan commented on #1823
+1 for bringing back the release notes !

[2017-02-14 06:01] emgarten commented on #4592
@iskiselev are you able to share this solution? Does this include downloading packages or is this for a noop restore?

I have seen some slow downs with csproj PackageReference also, but not to that extent. With xproj there was no evaluation needed, all references including projects were in a static json file. With csproj now all of this has to be evaluated through msbuild which unfortunately takes

[2017-02-14 06:25] v-luzh commented on #4506
Fixed on D15Rel 26213.00 (all languages) + VS.Redist.NuGet VS15.4.0.170213.1779.nupkg as below.
![4506fixed](https://cloud.githubusercontent.com/assets/20632625/22917693/4284563c-f2c1-11e6-8d98-7a6af00ab502.PNG)

[2017-02-14 06:29] v-luzh commented on #4505
Fixed on D15Rel 26213.00 (all languages) + VS.Redist.NuGet VS15.4.0.170213.1779.nupkg as below.
![4505fixed](https://cloud.githubusercontent.com/assets/20632625/22917783/cbe1cca2-f2c1-11e6-96a2-7b1badd4fedf.PNG)

[2017-02-14 06:39] iskiselev commented on #4592
@emgarten, we probably may share it if NDA will be signed. Would you like me to check it with my managers?

[2017-02-14 07:00] TheRealPiotrP opened #4593 "Should be able to suppress creation of default package dependencies"
Moved from dotnet/cli#5676 on behalf of @wjk and @ThadHouse

----

## Steps to reproduce

Following the discussion in dotnet/cli#5645, I am using a variant of my suggestion there to pack multiple DLLs into one NuGet package. When I run `dotnet pack`, the dependent assemblies are included in the nupkg file as intended. However, also included are NuGet dependencies for each `<ProjectReference>` item

[2017-02-14 07:09] TheRealPiotrP opened #4594 "dotnet restore failure should list the feeds when it fails to find a package."
Moved from https://github.com/dotnet/cli/issues/5684 on behalf of @kichalla

------

I was trying to restore packages in a repo when I ran into an error like below:

[code]
I tried to find more information by doing: `dotnet restore -v diag` but this too didn't give any useful information.

I later realized that I had a temporary package source (pointing to a local folder) added a while back via Vi

[2017-02-14 07:09] emgarten commented on #4592
@iskiselev we can try a few other things first.

* How long does it take you to run msbuild /t:Clean on the solution?
* If you run with verbosity set to detailed which targets does msbuild show as taking the most time in the performance summary when running a restore?

[2017-02-14 07:23] emgarten commented on #4594
@kichalla a list of all feeds, fallback folders, and nuget.config files used are displayed in a summary when restore completes.  Does this solve your issue?

[2017-02-14 07:30] TheRealPiotrP commented on #4583
@rohit21agrawal I cannot reopen the issue, but I did see it repro with latest CLI. Unless https://github.com/NuGet/NuGet.Client/pull/1139 only got inserted today, I think we have a problem...

[2017-02-14 10:11] foresightyoue commented on #4387
@joelverhagen I have the nuget problem by CA certificates as below,could it be fixed by engored the CA certificates?if so,how to set the nuget config with egnored the CA certificates?Thanks.

log : Restoring packages for /projects/CSharpDemo/project.json...
error: Unable to load the service index for source https://api.nuget.org/v3/index.json.
error: An error occurred while sending the request.
er

[2017-02-14 13:19] DerAlbertCom opened #4595 "Improve Sign In expirience for VSTS"
## Details about Problem

NuGet 3.4 and 3.5, Visual Studio 2015 and 2017
Win 10 1607

## Detailed repro steps so we can see the same problem

If you use NuGet against the Visual Studio Team Services NuGet Packages Extension then NuGet for the first time a window will be opened, with the Login over the VSTS SSO. Which is in general not a bad thing 😃.

But you have no clue for what you are entering

[2017-02-14 13:32] kichalla commented on #4594
@emgarten Have you tried the repro steps?

[2017-02-14 14:17] MohdIrfanKhan commented on #4585
Thanks @emgarten!

Earlier we don't have this issue but the system where we have our nuget server also have Jenkins since we have only 8 gb of RAM on that system out of which we allocated 6gb of RAM to Jenkins. Can this be a reason of its failure. Also we are pushing some packages with every build so can this be a reason?

[2017-02-14 15:11] ygoe commented on #2504
Issue #669 provides updated documentation which doesn't work. So this is severely broken right now and I can't publish my package.

[2017-02-14 15:42] srivatsn opened #4596 "Spurious `dotnet pack` warnings"
_From @wjk on February 11, 2017 18:58_

When I run `dotnet pack` on a project on Windows, I get a number of NuGet warnings regarding misplaced assemblies. Apart from one file that was placed inside `contentFiles/win/any` (because it is a native DLL and not a C# assembly), the warnings are all complaining about a path that looks something like this:

[code]

Notice the mixed slash/backslash in the

[2017-02-14 15:43] rrelyea commented on #2504
@ygoe - #669 is probably not the issue you wanted to point to. Can you please point to the problem documentation? And give details of your problem?

[2017-02-14 16:09] joelverhagen commented on #4387
@hwx405562, today NuGet only supports using the built-in set of CA certificates. This behavior is defined by the implementation of .NET Core's HTTP stack. On Windows, this is the system's trusted CAs from the Windows certificate store. I am not sure about the specifics of macOS and Linux.

This issue is mainly focusing on designing a new feature. Could you file a new issue with your question, incl

[2017-02-14 16:18] rohit21agrawal commented on #4583
@piotrpMSFT  how exactly are you repro'ing this?

[2017-02-14 16:40] ygoe commented on #2504
I was caught by this very unpleasant decision to make an incompatible change to nuget and require some "Source" parameter to be set. Whatever a "Source" is. I have never done that before and now my push script broke. I found this issue here by the error message I got. It wasn't overly helpful in resolving the error. Then I found the linked change to the NuGet documentation that seems to try to exp

[2017-02-14 16:42] rrelyea commented on #2504
Can you please give an example of the command line you are trying to do your push?
Which version of NuGet.exe are you using 3.4.4? 3.5.0? other?

[2017-02-14 16:50] BobbyCannon commented on #2504
I had the same issue with my open source projects. I had to change my PowerShell scripts to just include the source.

`& "nuget.exe" push $file.FullName -Source https://www.nuget.org/api/v2/package`

I'm on "NuGet Version: 3.5.0.1938".

[2017-02-14 16:57] rrelyea commented on #4549
@sbanni - how is this going?

[2017-02-14 17:39] joelverhagen commented on #4564
This fix is address by PR https://github.com/NuGet/NuGet.Client/pull/1186, which is signed off by @emgarten, @alpaix, and @jainaashish.

[2017-02-14 18:01] jainaashish commented on #4535
It's not repro'ing with NuGet 3.5.0 n beyond so closing it.

[2017-02-14 18:01] #4535 closed, assigned to jainaashish

[2017-02-14 18:10] jainaashish commented on #4418
@zuckerthoben Current workaround for this issue is to add `NuGetTargetFramework` property with right target framework value explicitly in csproj file. So add below PropertyGroup section in your csproj file and it will work.

[code]

[2017-02-14 18:11] mrward opened #4597 "NuGetizer api intersection does not support referenced assemblies"
## Details about Problem

There needs to be a way to specify reference assembly paths for the ApiIntersect tool. Currently if any type is exposed in the assembly being used to generate an intersection but is from another assembly, such as from another project or a NuGet package, then the ApiInterest tool will fail with an error of the form:

    APIINTERSECT : warning : Failed to resolve type refe

[2017-02-14 18:11] mrward commented on #4597
/cc @manish

[2017-02-14 18:16] emgarten commented on #4594
I've tried the repro steps.

Could you elaborate on:

What sort of additional information would have helped you solve this issue? Are you looking for a message saying that *c:\does-not-exist* was not found on disk?

[2017-02-14 18:33] rrelyea commented on #4561
Need good positioning on move to transitive nuget world and what changes. please work with me and team

[2017-02-14 18:39] ygoe commented on #2504
Here's mine:

    & $nugetBin push $packageFile -ApiKey $apiKey -NonInteractive -Source https://www.nuget.org/api/v2/package

NuGet.exe version 3.4.4.1321

[2017-02-14 19:09] bbowman commented on #4119
@davidfowl @emgarten is this active in VS2017 RC? I'm seeing some weird build behavior in my nuprojs in 2017 only and I'm wondering if this could be related now.

[2017-02-14 19:19] emgarten commented on #4119
@bbowman a project reference will be read as a project, there currently isn't support for creating a nupkg first and then using that.

[2017-02-14 19:25] emgarten commented on #4585
How large are the nupkgs?

What data was being held in the cache? I'm not clear on what was done to fix the issue temporarily.

[2017-02-14 19:34] alpaix opened #4598 "Provide better diagnostics for running the credential provider"
Need support for debugging/troubleshooting custom credential provider for NuGet.exe.
Requested by a customer on [docs page](https://docs.microsoft.com/en-us/nuget/api/nuget-exe-credential-providers#comments-container)

Running nuget with "-verbosity detailed" should emit following messages:
- Places where credential providers were looked for
- What providers were discovered
- Result of each provid

[2017-02-14 19:36] TheRealPiotrP commented on #4583
@rohit21agrawal thanks for chatting with me offline. My repro was based on CLI `master` builds which are taking advantage of 2.0.0 preview bits. Your fix is not available there yet, but I just confirmed that this is fixed in 1.0.0.

[2017-02-14 20:07] #4583 closed, assigned to nobody

[2017-02-14 20:21] kichalla commented on #4594
I was looking for just the regular information that we show in other cases, example:

[code]

[2017-02-14 20:45] rrelyea commented on #4196
bring back to 4.0rtm. Please get ready for insertion into VS asap.

[2017-02-14 20:48] jainaashish commented on #3832
This specific scenario is already fixed. There is another similar open item but with different repro steps which Roslyn team is looking into - https://github.com/dotnet/roslyn-project-system/issues/1332

So there is nothing needed from our end as of now.

[2017-02-14 20:53] rohit21agrawal commented on #4593
@wjk @ThadHouse you can already do this. Just set ```<PrivateAssets>all</PrivateAssets>``` on your project reference.

[2017-02-14 20:56] #4593 closed, assigned to nobody

[2017-02-14 22:06] sbanni commented on #4549
@rrelyea https://github.com/NuGet/NuGet.Client/pull/1187

[2017-02-14 22:23] emgarten commented on #3943
This is a doc issue

[2017-02-14 22:26] emgarten commented on #3605
@rohit21agrawal is this complete for pack now?

[2017-02-14 22:30] emgarten commented on #3296
Fixed with NuGet/NuGet.Client@efae789c75899ca0bdd063f34a4b73cd41510d56

[2017-02-14 22:30] #3296 closed, assigned to emgarten

[2017-02-14 22:33] emgarten commented on #2229
This is solved by using a solution now.

[2017-02-14 22:33] #2229 closed, assigned to nobody

[2017-02-14 22:33] emgarten commented on #2140
@mishra14 is this complete?

[2017-02-14 22:35] rohit21agrawal commented on #3605
Yes

[2017-02-14 22:37] emgarten commented on #2041
@rrelyea should this go in 4.0.1?

[2017-02-14 22:38] mishra14 commented on #2041
@emgarten : can you please update the issue with the list of these strings?

[2017-02-14 22:40] emgarten commented on #1991
@mishra14 is this complete?

[2017-02-14 22:41] emgarten commented on #1990
This could be added to dotnet.exe now that @nkolev92 has removed the list dependency on nuget.core.dll

[2017-02-14 22:44] #1969 closed, assigned to yishaigalatzer

[2017-02-14 22:47] emgarten commented on #1783
We should consider this along with removing nuget.core.dll from nuget.exe

[2017-02-14 22:52] emgarten commented on #1275
Closing, this should be designed for PackageReference now

[2017-02-14 22:52] #1275 closed, assigned to nobody

[2017-02-14 22:52] emgarten commented on #1228
This is solved by PackageReference

[2017-02-14 22:52] #1228 closed, assigned to nobody

[2017-02-14 22:55] emgarten commented on #2041
@mishra14 doing a find across the solution for all uses of ILogger would be a great way to get started on this 🍰

[2017-02-14 22:57] emgarten commented on #745
SimpleTestPackageContext should be used to create test packages instead of checking packages into git.

[2017-02-14 22:58] emgarten commented on #745
I believe most reoccurring issues due to upgrades have been fixed. Reading from nuget.org is an important scenario, I think this should remain as is.

[2017-02-14 22:58] #745 closed

[2017-02-14 22:59] emgarten commented on #823
There has been no feedback on this and in some scenarios non-error info is written to the activity log on purpose. Closing this.

[2017-02-14 22:59] #823 closed

[2017-02-14 23:00] emgarten commented on #370
@rohit21agrawal has hit this issue. We should fix this.

[2017-02-14 23:01] emgarten commented on #294
Closing since there has not been any user feedback on this or perf data to point to this being an issue.

[2017-02-14 23:01] #294 closed

[2017-02-14 23:02] #254 closed

[2017-02-14 23:05] emgarten commented on #2049
This should be fixed in NuGet 3.5.0, please let me know if you are still hitting this.

[2017-02-14 23:05] #2049 closed, assigned to nobody

[2017-02-14 23:07] emgarten commented on #2056
@dagood are you still hitting this issue with the latest CLI?

[2017-02-14 23:08] emgarten commented on #2109
This has been fixed by the summary mentioned above.

[2017-02-14 23:08] #2109 closed, assigned to joelverhagen

[2017-02-14 23:11] emgarten commented on #343
The extra information here is minimal. Changing this would require a v3 protocol change so I think we are fine with this as is.

[2017-02-14 23:11] #343 closed

[2017-02-14 23:13] #409 closed

[2017-02-14 23:14] emgarten commented on #388
This has been fixed. Invalid nuget.config files will now error. Also only the specified nuget.config will be used.

Please let me know if you are still seeing any of these issues.

[2017-02-14 23:14] #388 closed

[2017-02-14 23:17] emgarten commented on #425
@skofman1 @joelverhagen @xavierdecoster is this something that would be worthwhile? Or do we already have telemetry on 404s?

[2017-02-14 23:18] emgarten commented on #415
This should no longer be the case in VS 2017 now that all projects are handled by NuGet.

[2017-02-14 23:18] #415 closed

[2017-02-14 23:19] emgarten commented on #434
@micongjie are you still seeing issues with this using the latest 3.5.0 version of NuGet?

[2017-02-14 23:21] emgarten commented on #465
This has been fixed by the facade projects.

[2017-02-14 23:21] #465 closed

[2017-02-14 23:25] emgarten commented on #498
This appears to be fixed.

[2017-02-14 23:25] #498 closed

[2017-02-14 23:27] emgarten commented on #556
This class no longer exists.

[2017-02-14 23:27] #556 closed

[2017-02-14 23:30] emgarten commented on #4436
This could be improved for CPS with https://github.com/NuGet/Home/issues/617

[2017-02-14 23:33] emgarten commented on #791
I believe this is already covered in the current docs. Assigning to @karann-msft for tracking

[2017-02-14 23:35] #1060 closed

[2017-02-14 23:35] #4539 closed, assigned to rohit21agrawal

[2017-02-14 23:36] emgarten commented on #1394
``NUGET_HTTP_CACHE_PATH`` is supported now

[2017-02-14 23:36] #1394 closed, assigned to emgarten

[2017-02-14 23:40] emgarten commented on #3351
The path to project.assets.json is now written out under ``ProjectAssetsFile`` to the ``.props`` file.

[2017-02-14 23:40] #3351 closed, assigned to emgarten

[2017-02-14 23:41] emgarten commented on #3406
Solved by having multiple API keys.

[2017-02-14 23:41] #3406 closed, assigned to nobody

[2017-02-14 23:42] jainaashish commented on #4534
Not able to repro locally. Communicating with customer via email, asked him to try couple of workarounds.

[2017-02-14 23:44] emgarten commented on #2470
Closing in favor https://github.com/NuGet/Home/issues/4514 which has more details. I believe these are the same issues.

[2017-02-14 23:44] #2470 closed, assigned to emgarten

[2017-02-15 00:40] kraigb commented on #791
There is a section "Excluding references" in https://docs.microsoft.com/en-us/nuget/consume-packages/dependency-resolution that should take care of this. @yishaigalatzer please verify and close the issue if it's satisfactory.

[2017-02-15 00:55] jainaashish opened #4599 "Remove CPS capability check from LegacyCSProjPackageReference NuGet project system"
Since CPS based project systems have started moving to VSProject4 implementation so our current not CPS capable check avoids these project systems to use PackageReference as package management format and forced to use Packages.config

Currently it's blocking Xamarin team to use PackageReference.

[2017-02-15 00:56] jainaashish commented on #4599
Waiting to get good justification from Xamarin team so that we can get this approved from VS shiproom.

[2017-02-15 00:57] kraigb commented on #3609
@SabotageAndi This redirect was fixed with a publish in early January. Can you confirm and close?

[2017-02-15 01:03] kraigb commented on #4109
I've added a section to https://docs.microsoft.com/en-us/nuget/consume-packages/finding-and-choosing-packages for this, under "Does the package support my project's target framework?". Currently there isn't a way to test this ahead of time, it can be done only by trying the install.

[2017-02-15 01:03] #4109 closed, assigned to kraigb

[2017-02-15 01:33] rohit21agrawal opened #4600 "Entity Framework tools -- "No executable found matching command 'dotnet-ef'""
_From @tdykstra on February 14, 2017 23:12_

## Steps to reproduce
1. Install RC4 VS 2017
2. Create an ASP.NET Core/ASP.NET Core web project.
3. Add EF tools to .csproj
  ```<DotNetCliToolReference Include="Microsoft.EntityFrameworkCore.Tools.Dotnet" Version="1.0.0-msbuild3-final" />```
4. In project folder run dotnet restore
5. Try to run EF tools with "dotnet ef" commands.

## Expected  behavior

[2017-02-15 01:33] rohit21agrawal commented on #4600
_From @piotrpMSFT on February 15, 2017 1:17_

@rohit21agrawal I just repro'd this locally. I don't see any mention of the tool being restored, nor do I see it in the assets.json file...

[2017-02-15 01:35] rohit21agrawal commented on #4600
@emgarten it seems that the packages are being restored to the .tools folder in the global packages folder, however there is no mention of these packages in the assets.json file. The *.dotnetclitool.json file is not created either as this spec suggests : https://github.com/NuGet/Home/wiki/DotnetCliToolReference-restore

[2017-02-15 01:53] mishra14 commented on #1991
@emgarten : Not sure whats the requirement here. My work on locals was done long ago.

[2017-02-15 03:18] emgarten commented on #4600
@rohit21agrawal that spec is for a feature which did not go into NuGet 4.0.0.

[2017-02-15 03:23] emgarten commented on #1991
Thanks @mishra14, closing this issue then. It was tracking the same feature.

[2017-02-15 03:23] #1991 closed, assigned to mishra14

[2017-02-15 03:33] emgarten commented on #4600
The assets file is written to ``.nuget\packages\.tools\microsoft.entityframeworkcore.tools.dotnet\1.0.0-msbuild3-final\netcoreapp1.0\project.assets.json`` and it contains dotnet-ef.dll as an asset.

[2017-02-15 05:20] emgarten commented on #4600
This is caused by the way the CLI reads the project.assets.json file to find the package.

NuGet is correctly writing out the tool assets file and normalizing the casing of package ids to match the nuspec.

[2017-02-15 05:20] #4600 closed, assigned to emgarten

[2017-02-15 05:34] mishra14 commented on #2140
Locals does not clear V2 cache any more as per:  https://github.com/NuGet/NuGet.Client/commit/6f3ae2d59140f5ea97eb7573535de1c286d6d336

@emgarten: I am not sure about the default source.

[2017-02-15 06:09] tmds opened #4601 "local nupkg folder on linux"
I want to create a local folder where I put nupkg files and use those packages by configuring NuGet.config on linux.
I haven't found any documentation how to do this.

[2017-02-15 06:15] v-luzh commented on #4355
String 'Executing nuget actions took 1.63 sec' is fixed on D15Rel 26213.00 (all languages) + VS.Redist.NuGet VS15.4.0.170213.1779.nupkg, but the string 'Writing lock file to disk. Path: ' is still non-localized as below.
![stillrepro](https://cloud.githubusercontent.com/assets/20632625/22962628/058b34ee-f389-11e6-9eb7-fe70a206e58f.PNG)

[2017-02-15 06:30] #2140 closed, assigned to mishra14

[2017-02-15 07:39] starquake commented on #2163
Just hit on this while doing

`dotnet new --install "Microsoft.AspNetCore.SpaTemplates::*"`

executing `ulimit -n 512` fixes it

The version of dotnet I'm Using is 1.0.0-rc4-004771. Am I correct in assuming this will be fixed in 1.0.0-rtm?

[2017-02-15 09:11] mrward commented on #4601
Create the folder, copy the .nupkg into it, and then add that folder to the ~/.config/NuGet/NuGet.Config file. You can add the package source to the NuGet.Config using the [nuget add command](https://docs.microsoft.com/en-us/nuget/tools/nuget-exe-cli-reference#sources).

[2017-02-15 09:11] #4601 closed, assigned to nobody

[2017-02-15 09:15] ewoutkramer opened #4602 "Incorrect mapping of <ProjectReference> to nuspec package reference"
I am using VS2017RC4 to build two projects and pack them into two nuget packages, one project referring to the other using a <ProjectReference> element in its csproj file.

However, both projects have a .csproj file with a different name than their Nuget package ID, which is specified in their respective <PackageId>s.

This results in the <ProjectReference> in the referring project to be turned in

[2017-02-15 09:20] rrelyea commented on #4602
PackageId can be set to override the inferred ID.
That will work when restoring via dotnet.exe

However , we have a bug that causes restore inside of vs to ignore that. (will link that issue in morning)

Workaround : use packageid and restore via dotnet.exe for that solution

[2017-02-15 09:22] tmds commented on #4601
@mrward does the nuget tool require mono or does it work on .NET core too?

[2017-02-15 09:23] tmds commented on #4601
If it requires mono. Can you tell me what I need to add to the NuGet.Config file? I will do it manually.

[2017-02-15 09:25] v-luzh opened #4603 "[Test Failure][Localization] Some strings are not localized when installing package in PMC"
**NuGet Version:** VS.Redist.NuGet VS15.4.0.170213.1779
**VS Version:** D15Rel 26213.00 (select all languages and workloads)
**OS Version:** Windows 10 RS1_Release 14393.821.170127-1801

**Repro Steps:**
1.  Select CHS through ‘Tools -> Options -> International Settings’ and restart VS.
2.  Create a new C# Console Application via VS.
3.  Open the Package Manager Console window, type **‘install-pac

[2017-02-15 09:27] ewoutkramer commented on #4602
I have verified that the package reference in the .nuspec generated from the .csproj is incorrect, I don't see how dotnet.exe would ever be able to find and fix that?

This:

[code]
Gets turned into:

[code]
Which is wrong, since the referred to Hl7.Fhir.Core.csproj containts a property overriding its package id:

[code]
So I would have expected:

[code]
instead...

[2017-02-15 09:27] v-luzh opened #4604 "[Test Failure][Localization] The information from command ‘get-help NuGet’ in PMC is not localized"
**NuGet Version:** VS.Redist.NuGet VS15.4.0.170213.1779
**VS Version:** D15Rel 26213.00 (select all languages and workloads)
**OS Version:** Windows 10 RS1_Release 14393.821.170127-1801

**Repro Steps:**
1.  Select CHS through ‘Tools -> Options -> International Settings’ and restart VS.
2.  Create a new C# Console Application via VS.
3.  Open the Package Manager Console window, type **‘get-help Nu

[2017-02-15 09:28] v-luzh opened #4605 "[Test Failure][Localization] The message after typing incorrect command and parameter in PMC are not localized"
**NuGet Version:** VS.Redist.NuGet VS15.4.0.170213.1779
VS Version: D15Rel 26213.00 (select all languages and workloads)
OS Version: Windows 10 RS1_Release 14393.821.170127-1801

**Repro Steps:**
1.  Select CHS through ‘Tools -> Options -> International Settings’ and restart VS.
2.  Create a new C# Console Application via VS.
3.  Open the Package Manager Console window and type ‘install-package ne

[2017-02-15 09:30] v-luzh opened #4606 "[Test Failure][Localization] String ‘The pipeline has been stopped’ in PMC is not localized"
**NuGet Version:** VS.Redist.NuGet VS15.4.0.170213.1779
**VS Version:** D15Rel 26213.00 (select all languages and workloads)
**OS Version:** Windows 10 RS1_Release 14393.821.170127-1801

**Repro Steps:**
1.  Select TRK through ‘Tools -> Options -> International Settings’ and restart VS.
2.  Create a new C# Console Application via VS.
3.  Open the Package Manager Console window, type **‘get-help Nu

[2017-02-15 09:30] xavierdecoster commented on #425
A 404 is typically a message to the client that a resource does not exist. The server can gather telemetry on 404's too. Having the client report 404's to the server basically means the server gets that information twice. Unnecessary overhead on both client, server and network.

There's a nice side effect, too. Imagine a feed with two packages, and NuGet.org are used. If our project has 100 packag

[2017-02-15 09:32] v-luzh opened #4607 "[Test Failure][Accessibility] The cancel button of Choose NuGet Package Manager Format dialog truncated"
**NuGet Version:** VS.Redist.NuGet VS15.4.0.170213.1779
**VS Version:** D15Rel 26213.00 (select all languages and workloads)
**OS Version:** Windows 10 RS1_Release 14393.821.170127-1801

**Repro Steps:**
1.  Select RUS through ‘Tools -> Options -> International Settings’ and restart VS.
2.  Check **‘Allow format selection on first package install’** format in NuGet Package Manager setting dialog.

[2017-02-15 09:33] xavierdecoster commented on #425
Also related: https://github.com/NuGet/NuGetGallery/issues/3573

[2017-02-15 09:53] v-nancyj opened #4608 "[Test Failure][Localization] The information from execute commands show in PMC were not localized"
**NuGet Version:** VS.Redist.NuGet VS15.4.0.170213.1779
**VS Version:** D15Rel 26213.00 (select all languages and workloads)
**OS Version:** Windows 10 RS1_Release 14393.821.170127-1801

**Repro Steps:**
1.	Select **JPN** through ‘Tools -> Options -> International Settings’.
2.	Create a new C# Blank UWP project via VS.
3.	Open ‘Package Manager Console’.
4.	Type some execute commands such as **‘Ope

[2017-02-15 09:58] rrelyea commented on #4603
Please help us understand previous behavior.  Please compare with  vs 2015 update 3 behavior.

[2017-02-15 09:59] rrelyea commented on #4604
Please help us understand previous behavior.  Please compare with  vs 2015 update 3 behavior.

[2017-02-15 09:59] rrelyea commented on #4605
Please help us understand previous behavior.  Please compare with  vs 2015 update 3 behavior.

[2017-02-15 10:00] rrelyea commented on #4606
Please help us understand previous behavior.  Please compare with  vs 2015 update 3 behavior.

[2017-02-15 10:01] rrelyea commented on #4608
Please help us understand previous behavior.  Please compare with  vs 2015 update 3 behavior.

[2017-02-15 10:50] mrward commented on #4601
NuGet.exe needs Mono to run.

.NET Core uses a different NuGet.Config location ~/.nuget/NuGet/NuGet.Config

So where you put your package source depends on what you are using to restore NuGet packages.

Below is a minimal NuGet.Config file with a single source that is a directory.

[code]

[2017-02-15 12:27] baskar214 opened #4609 "Rotativa Export Pdf returning error 500"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (x.x.x.xxx): Latest

dotnet.exe --version (if appropriate): 4.6.2

VS version (if appropriate): 4.0

OS version (i.e. win10 v1607 (14393.321)): windows Server 2012 R2 Standard

Worked before? If so, with which NuGet version: No.

## Detailed reprot steps so we can see the same pr

[2017-02-15 13:34] cni13 commented on #4418
@jainaashish What values can I use for the NugetTargetFramework attribute? Do I enter dotnet on all my projects? (Xamarin.Android, iOS, PCL, UWP, WPF, ASP.NET Web API) ?

[2017-02-15 14:23] Jaben commented on #3842
Having the same issue. Any resolutions?

[2017-02-15 15:18] jabrown85 commented on #4532
We are seeing this issue as well. 2 .NET framework 4.6.2 libraries. `A` and `B`. `A` has a bunch of nuget references.

I've found the main difference I can see between a VS17 restore packages, which works, to a `nuget restore` is the `project.assets.json`.

Here is a snippet of what Restore Packages in VS17 generates for the `project.assets.json`  for project `B`. This is the project that fails to

[2017-02-15 16:19] kzu commented on #3961
Won't support project.json anymore. PackageReference will be the mechanism.

[2017-02-15 16:19] #3961 closed, assigned to nobody

[2017-02-15 16:26] rrelyea commented on #3842
Duping with #2321, which is in a distant future to consider - future-2 milestone.
Sorry, no progress, according to that issue, it hasn't worked in 2.8, 3.3 and 3.4 with same error.

[2017-02-15 16:26] #3842 closed, assigned to nobody

[2017-02-15 16:31] rrelyea commented on #4609
You should report this question to the owners of that package, not to the NuGet team.
See links on the left side of: http://www.nuget.org/packages/Rotativa/1.7.1-beta for "project site" or "contact owners"

[2017-02-15 16:31] #4609 closed, assigned to nobody

[2017-02-15 16:34] rrelyea commented on #4602
Dupe of #4586

The communication between the project system and NuGet while running in VS is broken for this property.
#4586 covers that issue. It may not be fixed for VS2017.
Workaround is to have PackageId in your csproj and do your restores from command line.

Your follow up question isn't clear to me.

[2017-02-15 16:34] #4602 closed, assigned to nobody

[2017-02-15 16:50] rrelyea opened #4610 "AutoRestore - can we not run on solution load"
from VS Feedback 744064, internal user.
Restoring nuget packages. on each solution load of a .nET core projects seems undesired. It should not be the default behavior for every project load.

1. It is consuming CPU and seem to cause UI delay.
2. Sometimes if u open the solution and right click -> rebuild - the context menu is dismissed and need to right click again.

[2017-02-15 16:52] rrelyea opened #4611 "vsfeedback - missing localization in PMC"
VS Feedback 807301 reported against RC4 bits - https://developercommunity.visualstudio.com/content/problem/19525/bug-with-the-package-manager-console.html

Appears fixed recently - see internal bug 384934

When performing a package update using the following:
Update-Package -reinstall

At some point in the process you are asked to replace some files, where the following options are displayed:

O a

[2017-02-15 16:58] rrelyea opened #4612 "vsfeedback - hang after update all in VS (dump file available)"
vs feedback 807883 - https://developercommunity.visualstudio.com/content/problem/19724/updating-nuget-packages-hangs-vs-2017-rc4.html

Please confirm that this is addressed by our recent RTM fix. See dump file in vs feedback item.

[2017-02-15 17:01] rrelyea opened #4613 "PackageReference: retargetting TFM may end up making some packages incompatible, restore needed, install may be needed."
vs feedback issue 807290 against RC4 bits - https://developercommunity.visualstudio.com/content/problem/19520/changing-framework-versions-messes-up-references-a.html

Repro Zip attached to vs feedback item.

I have a new project I created in VS2017. I happened to choose the wrong framework version. I added a couple of NuGet packages to the project and selected the option to store them in the proje

[2017-02-15 17:02] grassiricardo commented on #4611
@rrelyea Hello, if you need help or information I am at your disposa

[2017-02-15 17:04] rrelyea opened #4614 "Package Search is nonsensical"
vsfeedback 806289 - https://developercommunity.visualstudio.com/content/problem/19260/nuget-package-search-is-nonsensical.html

Open nuget package manager for a project.
In the "Browse" tab type "Microsoft.Extensions" into the search box.
Witness the nonsense!

What is the ordering being applied to the result list?

Why are the three CacheManager.Microsoft.Extensions.* packages anywhere near the t

[2017-02-15 17:22] emgarten commented on #425
I'm going to close this then, it sounds like the client no longer needs to report this.

[2017-02-15 17:22] #425 closed

[2017-02-15 17:26] rrelyea opened #4615 "vs feedback - NuGet does not remember password for custom feeds"
vsfeedback 747008 - https://developercommunity.visualstudio.com/content/problem/14465/nuget-does-not-remember-password-for-custom-feeds.html

I subscribe to two custom NuGet feeds both of which require authentication. When I type in my username and password, I check the "Remember my credentials" box so I won't have to type them again. I check in "Credentials" from Control Panel and they are stored

[2017-02-15 17:29] rrelyea opened #4616 "vsfeedback - "Solution Configuration Manager" not found in Quick Launch"
Internal vsfeedback 744682

1. Launch Visual Studio
2. Create a new UWP application
3. Hit F5
4. Read the dialog that says "Verify the project is selected to be deployed in the Solution Configuration Manager".
5. OK that dialog
6. Try to find the "Solution Configuration Manager": Ctrl+Q for Quick Launch
7. Type "Solution Configuration Manager"
Result:
Search online for nuget packages...

Expect:
"

[2017-02-15 17:57] rrelyea commented on #4482
No response. No repro. Closing as no repro.

[2017-02-15 17:57] #4482 closed, assigned to nkolev92

[2017-02-15 18:05] rrelyea commented on #4592
@iskiselev - are you able to help answer @iskiselev's questions.

[2017-02-15 18:07] rrelyea commented on #4574
@rohit21agrawal - can you please determine how VS, dotnet add project, and other techniques could let a user get into this. Or is is just hand editing?

[2017-02-15 18:15] iskiselev commented on #4592
I'll try to provide answers to @emgarten questions today.

[2017-02-15 18:25] emgarten commented on #4577
Here is the output from opening NuGet.Core.sln

[code]

I think we should consider this for RTM

[2017-02-15 18:31] rrelyea commented on #4599
command line restore still respects RestoreProjectStyle, which unblocks @kzu for rtm.

[2017-02-15 18:58] rrelyea opened #4617 "NuGet Restore + VS performance / scalability on solutions with warnings (was: corfxlab repro has some issues with Solution Open and Restore)"
see internal bug 384909.
There was a recent change in the repo to move to netcorapp 1.1 from 1.0 -- and it made it better.
Other fixes in 26214.xx may have also made it better.

Let's try to repro to understand how bad it was and ensure we understand what still happens.

[2017-02-15 18:59] jainaashish opened #4618 "Integrate AnyCode public API changes to NuGet"
AnyCode team changed their public APIs name which broke LSL (lightweight solution load) scenarios for NuGet so we need to coordinate with AnyCode team to get their changes and update NuGet code to accommodate these changes accordingly.

Currently GetFileReferencesAsync() api is changed to GetReferencedFilesAsync()

[2017-02-15 19:02] zhili1208 commented on #2163
@starquake I can't repro this with dotnet 1.0.0-rc4-004823, Could you try latest dotnet cli and also share your nuget.config file from ~/.nuget/NuGet ?  Sometimes this is related to the number of package source.

[2017-02-15 19:09] pakrym commented on #4617
Related: https://github.com/dotnet/sdk/pull/870 ?

[2017-02-15 19:10] starquake commented on #2163
@zhili1208 I will share the nuget config when I'm at work tomorrow. Tried it on another system and it executed without any problems.

If you want to close this ticket because it's not reproducible that would be fine too.

[2017-02-15 19:10] rrelyea opened #4619 "While awaiting restore to finish, build appears to not start, but eventually will"
See internal bug 378399
Let's see if the fix for https://github.com/NuGet/Home/issues/4420 improved the experience?

[2017-02-15 19:11] rrelyea commented on #4486
Let's see if the fix for https://github.com/NuGet/Home/issues/4420 improved the experience?

[2017-02-15 19:20] rrelyea commented on #4619
Dupe of #4486

[2017-02-15 19:21] #4619 closed, assigned to jainaashish

[2017-02-15 19:55] kraigb commented on #694
@BrainCrumbz Thanks for the workaround, and I'll make a small note in the suffix docs to say that the suffix should start with a letter. The nuget 4.0 RC4 CLI indicates this as a warning, in fact:

WARNING: Issue: Package version not supported on legacy clients.
WARNING: Description: The package version '1.0.0-123' uses SemVer 2.0.0 or components of SemVer 1.0.0 that are not supported on legacy cl

[2017-02-15 19:56] jainaashish commented on #4486
I looked into the crash dump and surprisingly neither the main thread nor any bg thread had any pointers towards NuGet.* assemblies or what so ever. So I couldn't relate the crash dump with repro steps and nor could i know where in NuGet it hanged if it indeed was related to NuGet.

Now, if I just go by the repro steps then https://github.com/NuGet/Home/issues/4420 should improve this experience,

[2017-02-15 20:08] #3531 closed, assigned to nobody

[2017-02-15 20:15] mishra14 commented on #4611
@GrassiRicardo @rrelyea: The translators have fixed the string from Não para Todo&s to  Não para &Todos. This should be fixed in the next insertion with new localized changes.

I will close this once verified.

[2017-02-15 20:16] mishra14 commented on #485
@jainaashish: Did you fix this with the work on cancellation token on PMC?

[2017-02-15 20:26] dagood commented on #2056
Looks like it works! With or without `--configfile`, `--source https://...` will use the auth associated with the URL I give.

Passing `--source A` makes CLI say it's trying to use `{current dir}/A` rather than the url of `A` from the nuget.config, but I don't need to be able to specify a feed by name.

I'm using SDK 1.0.0-rc4-004823.

Closing, thanks. :smile:

[2017-02-15 20:26] #2056 closed, assigned to nobody

[2017-02-15 20:27] mishra14 commented on #1804
Fixed in dev14:

![capture](https://cloud.githubusercontent.com/assets/10507120/22994053/2757cfec-f37a-11e6-8987-1f539be54b02.PNG)

Not applicable in dev15 as we are a system component.

[2017-02-15 20:27] #1804 closed, assigned to nobody

[2017-02-15 20:33] mishra14 commented on #4519
Internal bug: 382204

[2017-02-15 20:33] mishra14 commented on #4519
This is observed in dev14 as well -
![capture](https://cloud.githubusercontent.com/assets/10507120/22994229/0212d9f6-f37b-11e6-98f2-fba6b1d3f621.PNG)

[2017-02-15 20:37] mishra14 commented on #4519
@rrelyea: This repros on dev14 and dev15[English] as well. This is an accessibility issue as the string truncation happens only if the width/size of the options tab is reduced.

[2017-02-15 20:44] mishra14 commented on #4504
Seems like an accessibility bug to me.

[2017-02-15 20:44] kzu commented on #4599
It doesn't unblock us, I'm afraid. My question regarding that was for a totally unrelated personal project.

We'll have to go the nasty reflection hacking route until we get it to work in some manner, until this is fixed.

[2017-02-15 20:45] mishra14 commented on #4503
This is an accessibility bug.

[2017-02-15 20:45] mishra14 commented on #4502
This too seems like an Accessibility bug.

[2017-02-15 20:45] rohit21agrawal commented on #4574
@rrelyea so i have confirmed that you can never get to this inconsistent casing using a tool like VS, or the ```dotnet add project``` command .  The only way to get into this state is if you hand-edit the csproj and add the project reference manually.

However, the issue is not as simple as i thought, this only repro's when more than one project( say ProjB and ProjC) reference a project (say ProjA

[2017-02-15 20:46] rohit21agrawal commented on #4574
This also seems to be a regression as @iskiselev pointed out , since it works with NuGet 3.5, but doesn't work with 4.0.0 builds.

[2017-02-15 21:12] mrward commented on #4454
Patched NuGet binaries with this fix for Xamarin Studio 6.2 are available on [GitHub](https://github.com/mrward/nuget-binary/tree/3.5.0-xamarinmac-pcl-support).

[2017-02-15 21:14] zhili1208 commented on #4617
I can't repro it with rc4, will try 26214 later. Restore took some time due to a lots of packages, but didn't fail or crash.

[2017-02-15 21:20] maettu-this commented on #4580
I understand that I can achieve this at the console, but I'd like to see it configurable in the NuGet Package Manager **within VS 2015**.

[2017-02-15 21:24] rrelyea commented on #2163
Moving out until we have a dependable repro to consider.

[2017-02-15 21:26] rrelyea commented on #4617
Please see related email thread. Please also test with the 1.0->1.1 change reverted.

[2017-02-15 21:34] dsplaisted opened #4620 "Avoid downgrade warnings for Package vs Project checks"
The version to use for a package when it is built to be published may depend on a build number, versionsuffix, or other information that is not available or not specified with a simple build of a project.  This means that when someone adds a `ProjectReference` to a project expecting NuGet package dependencies to be resolved to that project, the project's version may be lower than required by the d

[2017-02-15 21:49] mattgolding opened #4621 "Nuget.config doesn't appear to be respected"
My current environment is OSX, VS Code, .netcore

I am trying to include a private nuget feed but it doesn't appear to be used when running the restore command.  My nuget.config file is places in the root folder of the .netcore console app and looks like this.

[code]

I only get the intellisense in VS Code for the public nuget feed but even when I input a known package from the private feed the r

[2017-02-15 22:08] mishra14 commented on #4608
dupe: #4499

This behavior hasnt changed since NuGet 3.4.4 at least. Possible reason could be that we do not pass culture to the powershell underneath PMC.

[2017-02-15 22:08] #4608 closed, assigned to nobody

[2017-02-15 22:10] mishra14 commented on #4606
dupe: #4499

This behavior hasnt changed since NuGet 3.4.4 at least. Possible reason could be that we do not pass culture to the powershell underneath PMC.

[2017-02-15 22:10] #4606 closed, assigned to nobody

[2017-02-15 22:11] mishra14 commented on #4605
dupe: #4499

This behavior hasnt changed since NuGet 3.4.4 at least. Possible reason could be that we do not pass culture to the powershell underneath PMC.

[2017-02-15 22:11] #4605 closed, assigned to nobody

[2017-02-15 22:17] jainaashish commented on #4612
Can't open the provided dump file... have asked for more details from customer via email.

[2017-02-15 23:30] zhili1208 commented on #4617
Tested on rc4 and 26214, also with the 1.0->1.1 change reverted.

Restore took around 8 mins for 62 projects and 211 packages.
During restoring, UI didn't hang, can edit code but intellisense doesn't work and got errors from intellisense due to package is not restored.
If I open some .cs file from one project, UI will hang for seconds after that project is restored, I guess that's because intellis

[2017-02-15 23:35] emgarten commented on #4577
This looks the same as https://github.com/NuGet/Home/issues/4307

[2017-02-16 00:02] emgarten commented on #4621
@mattgolding what are you using to restore? Could you share the command you are running?

In some scenarios nuget.config needs to be in the solution root or a parent folder, it depends on how you restored.

[2017-02-16 00:03] zhili1208 commented on #4617
Perf Data:

When delete cache:
Nuget.exe restore : 2 min
Auto restore: 8 min
Solution restore: 4 min

when don't delete cache:
Nuget.exe restore: 15 second
Auto restore: 3 min
Solution restore : 2 min 44 second

[2017-02-16 00:15] iskiselev commented on #4592
I've done bunch of tests. I've done it on my local machine, so time results a little bit different (it was slower on our build server). I'll provide step-by step description.
1. Restored project from source control (there is no package folder and project.json.lock files on this step). I've restored same packages before, so they likely preserved in NuGet cache
2. Exectute `.nuget\NuGet.exe restore

[2017-02-16 00:20] mfaulkinbury commented on #4068
@rrelyea @yishaigalatzer @toddmeinershagen
[PR](https://github.com/NuGet/NuGet.Client/pull/1192) added.

Please provide feedback and requests for changes at your earliest convenience.

Note: we took care not to break the build when [Visual Studio Authoring Extensions](https://www.microsoft.com/en-us/download/details.aspx?id=30169) (VSAE) is not installed, but **we do require that VSAE is installed

[2017-02-16 00:22] davkean commented on #4225
To add more data to this, these bugs are dups of this:

https://github.com/dotnet/roslyn-project-system/issues/1188
https://devdiv.visualstudio.com/DevDiv/VS%20IDE/_workitems?id=372928&fullScreen=false&_a=edit
https://devdiv.visualstudio.com/web/wi.aspx?pcguid=011b8bdf-6d56-4f87-be0d-0092136884d9&id=378399
https://devdiv.visualstudio.com/DevDiv/_workitems?_a=edit&id=372930&triage=true

We've had t

[2017-02-16 00:28] davkean commented on #4225
Then some of these look related as well:
~https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workitems?_a=edit&id=382043~
https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workitems?_a=edit&id=378151

[2017-02-16 00:31] davkean commented on #4225
Actually, 382043 looks like https://github.com/NuGet/Home/issues/4386. 378151 is dup'd  against it, but I really this is this one.

[2017-02-16 00:31] davkean commented on #4386
This is a dup of this: https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workitems?_a=edit&id=382043

[2017-02-16 00:35] rrelyea commented on #4613
Let's have you focus on the two perf issues. If you found anything out, please share.

[2017-02-16 00:35] davkean commented on #4386
This could be caused by it: https://vsfeedback/comment/744645

[2017-02-16 00:43] emgarten commented on #4592
@iskiselev thanks for the detailed feedback!

The number of calls made looks roughly correct here. It seems to be spending a lot of time getting the project references. Is there anything unique about your solution with regards to that? Do the projects contain a large number of project references?

[2017-02-16 00:49] rrelyea commented on #4586
Confirm that PackageId could go in the property bag per TFM. Confirm impact on customer. Restore works in VS, but cannot pack reliably from that restore graph? or worse?

[2017-02-16 00:53] davkean commented on #4225
This also looks caused by it: https://developercommunity.visualstudio.com/content/problem/18863/cannot-build-a-solution.html?childToView=19896.

[2017-02-16 01:03] zhili1208 commented on #4617
I just found the repo with 1.0->1.1 change reverted(8 min) is much slower than the repo without the revert(4 min).
the number of packages is almost the same

But auto restore for the repo with 1.0->1.1 has lots of "package downgrade warning message", I think too much logging might slow down the restore

[2017-02-16 01:26] rrelyea commented on #4564
It appears that RC2, 3, and 4 had this problem.
It appears very hard to hit. So post RTM.

[2017-02-16 01:30] emgarten commented on #4620
Projects should be overriding packages regardless of the version already. Do you have a repro that shows the issue?

[2017-02-16 01:31] iskiselev commented on #4592
@emgarten, probably you are correct. We started converted our core 12 projects to xproj some time ago, and as there was no support for transitive references before VS 2017 for xproj, most of other (~100) projects has reference to that 12 projects, in addition to normal 3-10 references that they actually need. So, I'd say that most of old csproj with prohect.json contains around 15-25 project refer

[2017-02-16 01:33] emgarten commented on #4592
I'll try generating some test solutions with a lot of project to project references to try this out. Keep me posted on what you once you update this also.

[2017-02-16 01:39] jainaashish commented on #4418
@zuckerthoben not for all projects, basically try to relate it with framework value defined in project.json file. And please keep in mind, it's a temp workaround, we'll anyway fix it properly in next visual studio update.

[2017-02-16 01:39] emgarten commented on #3668
This is fixed in 4.0.0, the build folder is now counted as compatible.

[2017-02-16 01:39] #3668 closed, assigned to emgarten

[2017-02-16 01:39] davkean opened #4622 "Lots of errors around not being able to load projects when restoring packages for the MVC solution"
Build: 26210.2 D15Rel

1. git clone https://github.com/aspnet/Mvc
2. cd Mvc
3. git checkout nimullen/migration.badvs
4. Open MVC.sln

[code]

[2017-02-16 01:41] davkean commented on #4622
tag @NTaylorMullen as FYI

[2017-02-16 01:41] dsplaisted commented on #4620
I repro'd this by following the instructions [here](https://github.com/aspnet/benchmarks/pull/188#issuecomment-279782289).  I think these steps should work:

- Clone https://github.com/aspnet/benchmarks,
- Sync to commit `19ce7c64917fed03734d90e6293999e3091f610a`
- Also clone https://github.com/aspnet/hosting and https://github.com/aspnet/HttpAbstractions
- In the benchmarks code, add the followin

[2017-02-16 01:46] davkean opened #4623 "NuGet background restore waits until VS has focus"
Build: 26210.2 D15Rel

1. git clone https://github.com/aspnet/Mvc
2. cd Mvc
3. git checkout nimullen/migration.badvs
4. Open MVC.sln
5. File -> Open Output Window
6. Minimize VS
7. Wait 10 minutes
8. Maximum VS

Notice, that VS just starts to do background restore once you give it focus.

[2017-02-16 01:52] jainaashish commented on #4599
@kzu unfortunately yes if you need it inside VS until next release. But we're also working on another fix with a partner team to get this property back even in RTM without impacting perf. So if that works out well, then we might be able to unblock you in RTM itself but nothing confirmed as of now.

[2017-02-16 01:53] davkean opened #4624 "NuGet restore takes an extra-ordinary large amount of time to restore nothing when you have large amounts of projects"
1. git clone https://github.com/aspnet/Mvc
2. cd Mvc
3. git checkout nimullen/migration.badvs
4. Open MVC.sln
5. Make sure VS has focus (due to https://github.com/NuGet/Home/issues/4623)

Wait until restore is finished

It can take > 2 minutes to restore for ~50 projects that already have their packages downloaded and up-to-date assets file. This is too long.

[2017-02-16 01:55] davkean commented on #4623
tag @NTaylorMullen as FYI as this affects MVC.

[2017-02-16 01:55] davkean commented on #4624
tag @NTaylorMullen as FYI

[2017-02-16 02:05] mattgolding commented on #4621
Thanks @emgarten

I tried both methods of restore

1. Through visual studio code (its pops up with a restore button on changes to project.json)
1. Through terminal inside the root folder of the project (the same folder which holds the nuget.config file). with dotnet restore

I should add I was able to try the exact project with the same nuget.config file on a windows box at work and it worked.  I

[2017-02-16 02:36] AndyTian-Devops opened #4625 "[Test Failure]Fail to create UWP project on Blend"
Also covered in internal bug: 386264 [D15Rel]NuGet package tool can not be found in Blend

**NuGet Version:** 2301
**VS Version:** D15Rel 26215.00
**OS Version:** Windows 10 RS1_Release 14393.821.170127-1801

**Repro Steps:**
1. Launch Blend.
2. Create a C# Blank UWP project.

**Expected Result:**
UWP project can be created successfully.

**Actual Result:**
An error dialog pop up.
![nugetblankuwp]

[2017-02-16 02:38] AndyTian-Devops commented on #4625
I try to do same operations on D15Rel 26215 with default NuGet 2286, can not repro this issue.

[2017-02-16 02:45] AndyTian-Devops commented on #4625
Looks like this issue just happened on C# and VB, I can create C++ UWP successufully on Blend

[2017-02-16 02:51] emgarten commented on #4617
Writing warnings to the error list and logging appears to be taking a lot of time here.

I used right click Restore to test instead of auto restore. This was also with reverting the 1.0->1.1 change.

With logging:
``Time Elapsed: 00:02:00.0844487``

With logging removed:
``Time Elapsed: 00:00:11.5743181``

[2017-02-16 03:17] cesarblum commented on #4620
Also, if you add project references to all projects under Hosting/src and HttpAbstractions/src, you don't get errors on restore but if you inspect `project.assets.json` you'll see that the Hosting references resolve to projects, while the HttpAbstractions references resolve to packages.

[2017-02-16 03:36] davkean opened #4626 ""Unexpected dependency 'Microsoft.AspNetCore.Razor.Evolution' with no version number" opening MVC/CLI repros"
_From @davkean on February 16, 2017 2:9_

26210.2.d15rel
No idea what this means or what is causing this, but opening CLI and MVC repros I see this error:

1.  git clone https://github.com/aspnet/Mvc.git
2.  git checkout d3cce192925ff41d0d79aba3728ab1ff80962a49
3.  build.cmd from VS admin command prompt
4.  Open MVC.sln at the root of the repo in VS

Wait

Expected: No errors
Actual: 216 errors wi

[2017-02-16 03:36] davkean commented on #4626
tag @NTaylorMullen as FYI

[2017-02-16 03:36] davkean commented on #4626
CLI repro:

1. git clone https://github.com/dotnet/cli
2. cd cli
3. git checkout 18c01886cd8e1472cdde82b15684b8f8b27a2632
4. Open Microsoft.DotNet.Cli.sln

Expected: No errors
Actual:

[code]

[2017-02-16 03:36] davkean commented on #4626
@dsplaisted @nguerrera @natidea What does this mean?

[2017-02-16 03:36] davkean commented on #4626
Here's is one of the assets files for the FormatterWebSite: https://gist.github.com/davkean/038b91eeaecc129ea843394ba2d8aaf3

[2017-02-16 03:36] davkean commented on #4626
Looking at the code, it looks like this is occurring because Microsoft.AspNetCore.Razor.Evolution isn't showing up in the libraries section of the assets file. Not sure if this is expected or not @emgarten?

[2017-02-16 03:36] davkean commented on #4626
If I do a dotnet restore, I get different assets file altogether: https://gist.github.com/davkean/c4881f25bea854de43177d5f23062d7f where Microsoft.AspNetCore.Razor.Evolution is listed under libraries section . This looks to be a NuGet issue.

[2017-02-16 04:16] davkean opened #4627 "dotnet restore, msbuild /t:Restore and Visual Studio produce different assets files causing unnecessarily design-time builds"
Build: 26210.2.d15rel

It appears that `dotnet restore`, `msbuild /t:Restore` and Visual Studio all produce different versions of the assets files. ~The difference between dotnet restore and msbuild/Visual Studio is the most alarming because it appears that dependencies changed~(this appears to be an out-of-date dotnet). The difference between msbuild /t:Restore and Visual Studio, is causing Visua

[2017-02-16 04:42] TheRealPiotrP commented on #4627
This is very likely due to differences in the vesion of Microsoft.Extensions.DependencyModel used by SDK. I'm surprised that we're seeing different behavior on VS console vs. VS itself. I'd expect those task implementations to be identical.

[2017-02-16 04:48] emgarten commented on #4626
That might mean that it wasn't found during resolution. I'll try restoring it and investigate.

[2017-02-16 04:57] TheRealPiotrP commented on #4627
hmm... reread. Since these are diffs in the assets files, DependencyModel should not be involved. We need someone from the nuget team to take a look.

[2017-02-16 05:09] emgarten commented on #4621
@mattgolding what version of dotnet are you using?

Both of the methods you tried did not work?

[2017-02-16 05:11] emgarten commented on #4622
This issue is being tracked here: https://github.com/NuGet/Home/issues/4577

[2017-02-16 05:11] #4622 closed, assigned to nobody

[2017-02-16 05:13] emgarten commented on #4624
This looks the same as https://github.com/NuGet/Home/issues/4617

[2017-02-16 05:13] #4624 closed, assigned to nobody

[2017-02-16 05:18] davkean commented on #4617
Hmm, logging the Output window regressed: https://github.com/dotnet/roslyn-project-system/issues/1242, but it didn't look like you were logging a lot and VS didn't lock up.

[2017-02-16 05:19] emgarten commented on #4617
@davkean writing out warnings to the error list seems to be the main slow down that I have seen so far.

[2017-02-16 05:20] davkean commented on #4617
Another reason to let us do it. :)

[2017-02-16 05:32] jabrown85 commented on #4532
For anyone else who comes by, I had to actually convert one of the projects to the packages.config style of nuget instead of the packagereference style. Then, I had to `nuget restore` prior to calling `msbuild /t:restore;build`.

[2017-02-16 06:06] v-luzh commented on #4603
We checked this issue on OS: Win10 RS1_Release CHS+VS 2015 U3 CHS, please refer to below screenshot.
1. There are no strings **'Gathering dependency information took 235.93 ms'**, **'Resolving dependency information took 0 ms'** and **'Executing nuget actions took 2.1 sec'** on VS 2015 U3, so they are new strings on VS 2017.
2. The string **'GET'** and the unit **'ms'** after the link are not loca

[2017-02-16 06:10] v-luzh commented on #4604
These strings are all localized on OS: Win10 RS1_Release CHS+VS 2015 U3 CHS as below screenshot.
![4604dev14](https://cloud.githubusercontent.com/assets/20632625/23009565/b02a01fa-f451-11e6-8bfc-85286e13ac27.PNG)

[2017-02-16 06:25] v-luzh commented on #4605
This doesn't repro on OS: Win10 RS1_Release CHS+VS 2015 U3 CHS.
![4605noreproondev14](https://cloud.githubusercontent.com/assets/20632625/23009865/4d951082-f453-11e6-9c5a-544a868ce73c.PNG)

[2017-02-16 06:30] v-luzh commented on #4606
This doesn't repro on OS: Win10 RS1_Release CHS+VS 2015 U3 CHS.
![4606noreproondev14](https://cloud.githubusercontent.com/assets/20632625/23010015/2cf83c54-f454-11e6-8980-4c03b601e4bd.PNG)

[2017-02-16 07:03] v-luzh commented on #4608
This doesn't repro on OS: Win10 RTM RUS+VS 2015 U3 RUS.
![4608noreproondev14](https://cloud.githubusercontent.com/assets/20632625/23010930/04401a02-f459-11e6-8303-8515d3627621.png)

[2017-02-16 07:11] v-luzh commented on #4502
This also repro on OS: Win10 RTM RUS+VS 2015 U3 RUS with default window layout.
![4502reproondev14](https://cloud.githubusercontent.com/assets/20632625/23011147/3af14778-f45a-11e6-8c06-86192c70ebb2.PNG)

[2017-02-16 07:15] v-luzh commented on #4504
This also repro on OS: Win10 RTM RUS+VS 2015 U3 RUS.
![4504reproondev14](https://cloud.githubusercontent.com/assets/20632625/23011220/ba5227ee-f45a-11e6-964b-03dd14a67f1c.PNG)

[2017-02-16 07:22] v-luzh commented on #4519
@mishra14 This issue repro with the default window layout. This also repro on OS: Win10 RTM RUS+VS 2015 U3 RUS with the default window layout as below screenshot.
![4519reproondev14](https://cloud.githubusercontent.com/assets/20632625/23011368/9ddf48ca-f45b-11e6-8558-7bcf2c7589cc.png)

[2017-02-16 07:43] emgarten commented on #4626
Trying locally I don't see these errors.

In https://gist.github.com/davkean/038b91eeaecc129ea843394ba2d8aaf3  I don't see entries for ``Microsoft.AspNetCore.Razor.Evolution`` anywhere. But in my own restore output it does appear.

I'm not sure how that project could be missing from the assets file without an error from restore.

[2017-02-16 08:07] emgarten commented on #4627
Great issue, I think the outputs should be identical to avoid reloading when running restore from the command line. The package spec section was added in 4.0.0 to the assets file, and it looks like it needs some normalization.

The path casing looks right for the MSBuild output. From what I see in the NuGet code the VS path comes from DTE. It is unclear why this would be making some of these direc

[2017-02-16 08:13] maartenba opened #4628 "Self-Contained NuGet Packages - License"
Update (by @anangaur on 1/8/2019) - **Useful links**:

* Feature announcement: [Packaging Icon, License and Documentation within the nupkg](https://github.com/NuGet/Announcements/issues/29)
* Deprecation announcement for `licenseUrl`: ['licenseUrl' as package metadata is now deprecated, use 'license' instead](https://github.com/NuGet/Announcements/issues/32)
* Spec wiki: [Packaging License within

[2017-02-16 08:16] hhariri commented on #4628
+1

[2017-02-16 08:19] emgarten opened #4629 "Lib placeholder files are not added during VS restores"
Place holder dlls are added to the compile and runtime sections of project entries in project.assets.json. When a project is excluded to keep it from flowing transitively these place holders are replaced with ``_._`` to signal that no assets should be used from these projects.

Currently this works for msbuild /t:restore and dotnet.exe restore but it is not showing up when restoring from Visual St

[2017-02-16 08:23] xavierdecoster commented on #4628
I totally agree we should do something about this! A package version's license should be immutable.

Tagging @rrelyea @DoRonMotter

[2017-02-16 08:24] emgarten commented on #4629
This needs more investigation to find the impact, and the default behavior when this doesn't exist.

[2017-02-16 08:26] bbowman commented on #4188
Any updates on this one? I also noticed you guys pushed a package to nuget.org now which awesome :-)

[2017-02-16 09:04] cmatskas commented on #4628
My +1

[2017-02-16 09:12] vbfox commented on #4628
Also if licenses are embeeded, please allow authors to simply specify one of the standard OSS licenses ( https://opensource.org/licenses ) instead of a full text.

It'll make blacklisting / whitelisting license a lot simplier and would provide a way to display nicely the package license in the nuget.org UI without guesses in such cases.

[2017-02-16 09:26] tomkuijsten commented on #4177
Another thing that's bothering me, why can't I start the NuGet manager without opening a project/solution (see footnote why)? NuGet is such an important part of developing software, I want the manager docked all the time with or without opening a solution and showing me the information that is useful in the current context, eg:

Without a sln:
 - NuGet manager with the "Browse" as the only tab

Wi

[2017-02-16 09:32] ryanbnl commented on #4628
@vbfox good idea; imho that should be extended so that you can, for example, filter on named licenses. named only being available when you select one of the standard licenses (all other being custom).

[2017-02-16 09:47] cni13 commented on #4418
@jainaashish Ok. I guess I will stick with my rebuilt packages.config. When VS 2017 releases I will evaluate switch to .NET standard and the csproj format.

[2017-02-16 10:18] mishrsud commented on #2880
@VSG24 Thanks a ton! Removing .nuget from my profile (C:\Users\<username>\.nuget) worked like a charm!

Environment:
Windows 10 Pro RTM x64
dotnet SDK version 1.0.0-rc4-004771
Shell: Native Windows Command Shell

[2017-02-16 10:20] reiz commented on #4628
I totally agree. The license name should be mandatory and immutable! On Maven Central (Java) that is the case since years, because of reasons. For license names I would suggest to take the SPDX identifiers, that's a standard for OSS licenses. See here: https://spdx.org/licenses/.

By the way, I'm working on the open source project [VersionEye](https://www.versioneye.com/) and we did already a lot

[2017-02-16 10:23] maartenba commented on #4628
@reiz We do a similar thing in [MyGet](https://www.myget.org). It helps, but ideally license info on a package should be immutable.

[2017-02-16 11:16] mattgolding commented on #4621
@emgarten I had another crack at it today.  I re-wrote the xml manually and what do you know it worked.  I have no idea why it started working.  It is in the same folder and I used the same methods of performing a restore.

Anyway this issue can now be closed.  Apologies for the time waste.

[2017-02-16 11:16] #4621 closed, assigned to nobody

[2017-02-16 11:35] starquake commented on #2163
Is there a dotnet cli that is newer than 1.0.0-rc4? Where can I get it?

This is in my nuget.config:

[code]

[2017-02-16 11:49] mrward commented on #2163
@starquake - More recent rc4 dotnet cli builds are available from https://github.com/dotnet/cli

[2017-02-16 12:12] reiz commented on #4628
@maartenba Absolutely. The license name should be mandatory and immutable. That would make our all life much easier :-) MyGet looks like a nice service.

[2017-02-16 12:42] tomkuijsten opened #4630 "Any way to avoid project references to be added as dependency when using msbuild pack target?"
## Versions
NuGet version: 4.0.x (included in VS2017)
VS version: VS 2017 RC3
OS version: Win 10

## Detailed repro

1. Create a new solution with two .NET standard projects
2. Add a project reference from the first to the seconds project
3. Use `msbuild /t:pack` to create a package
4. The package has the first project as dependency

## Problem
I don't want the first project as dependency.

[2017-02-16 13:05] starquake commented on #2163
Installed 1.0.0-rc4-004834 and it still occurs.

I did some troubleshooting.

ulimit -n tells me 256 is the default
If I set it to 266 the error appears later.
If I set it to 276 the error appears even later.
If I set it 286 there is no error anymore.

So it looks like I'm just over the boundary.

When I look at my open files for the shell with lsof, it's not that much:

[code]

[2017-02-16 13:23] JimBobSquarePants commented on #4628
What happens if I want to change my license to something more permissive? Do I have to create a new package? That could seriously affect branding and visibility.

[2017-02-16 13:38] maartenba commented on #4628
(feel free to reach out via email, would love to do a proper "hi!" :-))

[2017-02-16 13:38] maartenba commented on #4628
A new package version in this case, yes.

[2017-02-16 13:50] hhariri commented on #4628
@JimBobSquarePants Even if the license is more permissive, many organisations have restrictions on what type of licenses they can use. Going from a more restrictive to more permissive might still have legal impacts for those using the packages.

[2017-02-16 14:39] ghost commented on #4628
+1

[2017-02-16 15:38] maartenba opened #4631 "Support credential provider extensibility on VS2015"
At [MyGet](https://www.myget.org), we have built a [Credential Provider for Visual Studio 2017](http://docs.myget.org/docs/reference/credential-provider-for-visual-studio). Awesome, except the majority of users is still on VS2015 :-)

The extensibility support was never released as part of the NuGet VSIX for VS2015, so we can't add support for Visual Studio 2015.

We created a custom build of the

[2017-02-16 16:00] joelverhagen commented on #2163
Could you run lsof to determine what kind of handles are most prevalent? We have seen issues in the past where `HttpClient` was not properly closing sockets. We also open a lot of file handles so perhaps there is an issue there.

[2017-02-16 16:02] grassiricardo commented on #4611
@rrelyea Okay, thanks, I'm waiting for the correction.

[2017-02-16 16:22] starquake commented on #2163
It's quite a bit. See here:
https://gist.github.com/starquake/b29f18e41d9e0ae6490e998ce14ede57

[2017-02-16 17:44] rrelyea commented on #4618
No longer necessary, it appears.

[2017-02-16 17:44] #4618 closed, assigned to jainaashish

[2017-02-16 17:45] #4196 closed, assigned to nkolev92

[2017-02-16 17:55] garuma commented on #3251
Fixed properly upstream: https://github.com/mono/mono/commit/4393b684526a78da6b9d5d45b82758e23676da57

[2017-02-16 18:06] rohit21agrawal commented on #4630
Use : ```<PrivateAssets>all</PrivateAssets>```

[2017-02-16 18:06] #4630 closed, assigned to rohit21agrawal

[2017-02-16 18:13] rrelyea opened #4632 "vsfeedback - cannot add assembly references - all appear invalid in VSIX project"
vsfeedback 808498 -- https://developercommunity.visualstudio.com/content/problem/19930/cannot-add-assembly-references-all-appear-invalid.html

I have installed VS2017 on my laptop, along with the visual studio extensibility templates - as described here: https://github.com/Microsoft/VSProjectSystem/blob/master/doc/overview/prereqs.md

I cloned a repository, which contains a project that was create

[2017-02-16 18:17] rrelyea opened #4633 "vsfeedback -- Cannot restore NuGet packages for .NET Core projects in VS if they don't have obj directory"
vsfeedback 808451 - customer email available

1. git clone https://github.com/conniey/dotnet-apiport/tree/updateVS2017
2. Open PortabilityTools.sln
3. Right-click on solution in Solution Explorer and select "Restore NuGet packages"

Expected: It restores packages like it does when I run dotnet restore from the command line
Actual: I get this error here... and I'm not sure why because I don't think

[2017-02-16 18:58] jainaashish commented on #4632
dupe# of https://github.com/Microsoft/VSProjectSystem/issues/181

Same user has already on going thread with VS Project System since the issue occurs with a specific VS analyzer package and it's install/ uninstall scripts.

[2017-02-16 18:58] emgarten opened #4634 "Add a public target to NuGet.targets that can be referenced using BeforeTargets"
The public *Restore* target is called on the solution metaproj when restoring a solution. Within each project the top level target called is *_GenerateRestoreProjectSpec*

To allow users to perform tasks before and after restore NuGet.targets should add a public target that can be used with BeforeTargets and AfterTargets

The fix for this could be as simple as renaming *_GenerateRestoreProjectSpec

[2017-02-16 19:06] rohit21agrawal opened #4635 "Merge NuGet.Command.PathUtility and NuGet.Common.PathUtility classes"
There are two separate PathUtility classes in our code base, when there should be just one .

[2017-02-16 19:35] rrelyea commented on #4307
Pulling back to 4.0rtm -- may consider fix...depending how much the fix for #4617 (statusbar logging, output loggging and warning/error logging) improves things.

[2017-02-16 19:38] rrelyea opened #4636 "Solution Restore of corfxlab repo causes VS to go to Not Responding"
As part of the investigation of #4617 (corfxlab repro has some issues with Solution Open and Restore)

[2017-02-16 19:43] rrelyea commented on #4617
We compared NuGet.exe vs AutoRestore vs Solution Restore.

**First Major Issue:** Logging Which Requires UI Thread
Looks like logging to status bar, likely logging to output window, and logging warnings requires synchronous access to the UI thread.
When corfxlab is 1.0, it gets about 6,000 downgrade warnings.
So that is why moving to 1.1 helps so much.

**Second Major Issue:** Auto Restore Retry
W

[2017-02-16 20:10] dylanbeattie commented on #4628
+1. The inability to cite and verify the license that was in effect at the time a package was installed is a considerable weakness in the integrity of the NuGet ecosystem.

[2017-02-16 20:16] tomkuijsten commented on #4630
Didn't know that attribute could be used on `ProjectReference`, thanks!

[2017-02-16 20:36] #4632 closed, assigned to jainaashish

[2017-02-16 20:50] ThatRendle commented on #4628
@JimBobSquarePants A new version, not a new package. Going from GPL on 1.x to MIT on 2.x, for example.

[2017-02-16 20:59] ThatRendle commented on #4628
I don't actually know much about blockchains, but this seems to me to be the sort of thing that could be verified externally with a blockchain, signing and saving something when a package is published.

It could use Project Bletchley.

[2017-02-16 21:04] jainaashish commented on #4612
Ok I'm finally able to analyze this crash dump by getting the right CLR version. And the hang is inside Jetbrains calls so most likely Customer had Resharper installed which messed up this update operation.

@onovotny Can you try to repro this hang without resharper enabled? Meantime I'll forward this crash dump to Jetbrains to further analyze.

[2017-02-16 21:07] nkolev92 commented on #4615
NuGet itself does not deal with the saving of the credentials.
This seems like a VSO question.
However I am not completely sure what the user meant here.

We query the VS Account provider and get the credentials from there and those are saved even with multiple feeds.

[2017-02-16 21:08] clairernovotny commented on #4612
The hang does not consistently repro...and yes, I do have R# 2017.1 EAP installed.

[2017-02-16 21:12] ryanbnl commented on #4628
You don't need a blockchain here because you don't have a distributed trust problem. You have a central authority who can be trusted. They store/serve signed packages with embedded licenses (or links to well known licenses; Universal Resource Identifier style) :)

BTW I suggest googling blockchain, the technology is interesting bit it has become such a hand wavey marketing term. You don't hear the

[2017-02-16 21:41] jinujoseph opened #4637 "MVC sln in non-responsive state while rebuilding and solution closure"
**Repro steps**

- Clone mvc repro github.com/aspnet/Mvc/commit/d3cce192925ff41d0d79aba3728ab1ff80962a49
- Open mvc.sln
Either rebuild or close the solution and it will put VS in a non-responsive state.
Captured both dmp

\\mlangfs1\public\Jinuj\dmp\mvc_rebuild_hang.DMP
\\mlangfs1\public\Jinuj\dmp\mvc_unloading.DMP

@ManishJayaswal  has looked into this dmps

First case looks like , Nuget restore

[2017-02-16 21:49] AArnott commented on #4125
Can we at a minimum for Dev15 RTW get developmentDependency=true in a nuspec file to be honored by having the dotnet SDK project type *not* propagate the dependency in nuget packages it packs?

[2017-02-16 22:44] jainaashish commented on #4613
I'm not able to repro this issue locally, tried following repro steps given in repro zip but in my case, it always generate .cs file for .tt file even though is missing some assembly references after changing the fw version. And when you build the solution again, then everything works fine.

I'll drop an email to the customer to ask for the repro solution.

[2017-02-16 22:58] jainaashish commented on #4612
hmm, try it without R# and let us know if you ever repro this again.

[2017-02-16 22:58] jainaashish commented on #4612
Main thread:

Frames below may be incorrect and/or missing, no symbols loaded for ntdll.dll
Managed to Native Transition
JetBrains.Platform.Util.dll!JetBrains.Util.ExceptionRenderer.ExData.AddLine(string name, string value) Unknown
JetBrains.Platform.Util.dll!JetBrains.Util.ExceptionRenderer.HierarchicalDataEntry.Render_Primitive(string name, object value, JetBrains.Util.ExceptionRenderer.ExData t

[2017-02-16 22:58] CoolDadTx commented on #4613
You likely cannot replicate the corruption of the .tt files because your .tt files don't rely on the assemblies being referenced. In my case we have custom .tt files that enumerate the references defined in the project to dynamically generate code for referenced types. Since the references are removed after the framework version changes those assemblies pulled from NuGet are no longer available. T

[2017-02-16 23:00] rohit21agrawal opened #4638 "Make Pack give a clearer message on why it doesn't run after build when only executing TFM-specific build"
This is kind of a meta-issue for solving several problems related to NuGet/SDK/CLI such as : https://github.com/dotnet/sdk/issues/825

Issue at hand here is that ```dotnet build -f net46``` allows you to build your project only for net46 even if your project actually targets more than one framework. If ```GeneratePackageOnBuild``` property is set, then Pack wouldn't execute in this scenario since

[2017-02-16 23:19] 304NotModified opened #4639 "The package '...' tried to add a framework reference to 'System.Runtime' which was not found in the GAC."
## Details about Problem

As a package maintainer, we get reports that users cannot install our package on .NET 4.6.1.

They get the error: (I can reproduce it)

[code]

I pin point the problem:

If I have this in the project.json (in the library), I can install it without problems

[code]

But no .NET 4.5.1. So adding .NET 4.5.1 support, which uses "frameworkAssemblies". NOTE 4.6.1 doesn't have "

[2017-02-16 23:53] jainaashish commented on #4613
Actually even i had created some .tt files which does rely on assembly referred in a way that it import couple of namespaces from that and has some custom code to use them. But it might not be as aggressive as yours which is why it just give assembly missing error for me and still able to generate code.

Now about the references are removed, then it's not the case, references are still there (you

[2017-02-17 01:10] jainaashish commented on #4612
@onovotny can we share this crash dump with Jetbrains to further analyze it?

[2017-02-17 01:30] mishra14 commented on #4633
Dupe of: https://github.com/NuGet/Home/issues/4528.

The problem is that the project Microsoft.Fx.Portability.Reports.Html does not have an obj directory (which is the BaseIntermediateOutputPath).

NuGet Restore expects the obj dir and fails when it does not exist. This happened in this case because the project was manually migrated and did not have an obj directory that a normal legacy-csproj pro

[2017-02-17 01:31] zhili1208 commented on #4532
@jabrown85 you mentioned "VS17 restore packages and regular nuget restore?
Could you explain more about that? what's "VS17 restore packages" and "regular nuget restore"?

Does "regular nuget restore" mean nuget.exe restore? VS17 restore packages means "auto restore"?

[2017-02-17 01:40] rrelyea commented on #3506
We don't believe we have any more release blocking issues in this area.
Closing. Thanks Ankit!

[2017-02-17 01:40] #3506 closed, assigned to mishra14

[2017-02-17 01:44] rrelyea opened #4640 "Logging (via status bar, output window, and warning/error window) requires UI thread and slows down Restore greatly."
Split off from #4617

[2017-02-17 01:45] clairernovotny commented on #4612
Hi @jainaashish yes, that's fine to share.

[2017-02-17 01:47] rrelyea commented on #4592
#4640 may be related...@emgarten is investigating a fix for that.

[2017-02-17 01:49] rrelyea commented on #2041
Please investigate customer impact.

[2017-02-17 01:50] rrelyea commented on #4307
@jainaashish  - not sure we are taking, but please investigate RTM options on this one.

[2017-02-17 01:55] jabrown85 commented on #4532
Yes exactly. Restoring via the VS17 solution context menu works. Using nuget cli directly does not.

[2017-02-17 02:03] jainaashish commented on #4613
The right fix for this issue would be, when target version retargeting happens, we check for existing packages if they are still compatible with new version or not, if they aren't then we simply print out errors in error lists and ask user to re-install these packages. If they're still compatible, then we reevaluate the assets file to match the new target framework (to say basically run NuGet rest

[2017-02-17 03:33] JimBobSquarePants commented on #4628
@maartenba @hhariri  @markrendle My bad, misread. Agree with issue.

[2017-02-17 05:20] GanesanRengasamy opened #4641 "Unable to connect to the remote server"
Hi NuGet,

I have faced the **"unable to connect to the remote server"** problem while install the NuGet packages by using NuGet.exe (3.5.0) with the FinalBuilder 7

Please see the error details:
![image](https://cloud.githubusercontent.com/assets/16695209/23053280/443acc2e-f4fe-11e6-8fcb-341dc884ee19.png)

This problem occurred randomly in Final builder. I didn't get any problem while install the

[2017-02-17 05:24] iskiselev commented on #4592
I have cleaned-up most unnecessary  transitive p2p references. It works fasted now.
First run nuget restore on clean check-out: 2:45 (my computer), 5:58 (build server)
Second run: 2:13 (my computer).

It still works 2-3 times slower than NuGet 3.5 on our solution, but probably it is acceptable time.

[2017-02-17 05:29] emgarten commented on #4641
@GanesanRengasamy I'm not familiar with Final builder, was it working in the past? Are any packages downloaded?

The error message indicates a download timeout, you might try adding ``-DisableParallelProcessing`` to limit the number of connections.

[2017-02-17 05:31] emgarten commented on #4637
@jainaashish @alpaix is this stack trace covered by one of the other hang bugs already?

[2017-02-17 05:41] emgarten commented on #4639
Change ``"System.Runtime": "",`` to ``"System.Runtime": { "type": "build" }`` this will keep it from being added to the package and apply it only to your project at build time. Possibly all of these references should include this, but you'll need to verify that the package works without them.

The issue in the nupkg is that System.Runtime is listed in the nuspec

[code]

I know this is painful exp

[2017-02-17 05:47] emgarten commented on #4592
@iskiselev thanks for the times, I'm glad to hear that helped!

I have some ideas on how perf can be improved for solutions with a lot of p2p references. I'll keep this issue to track that work.

[2017-02-17 07:08] AndyTian-Devops commented on #4625
NuGet Client 2300 has been inserted into D15Rel 26216.00 and this issue still happens.

[2017-02-17 07:28] AndyTian-Devops commented on #4625
No "**Manage NuGet Packages...**" item for all projects on Blend.
![201702161125](https://cloud.githubusercontent.com/assets/12235523/23056284/a2a37cc6-f525-11e6-85ec-dffc1e5943e4.png)

[2017-02-17 07:29] AndyTian-Devops commented on #4625
No “**NuGet Package Manager**” item in Tool options.
![20171127](https://cloud.githubusercontent.com/assets/12235523/23056320/d1931ee2-f525-11e6-9d58-b8710778c191.png)

[2017-02-17 07:36] tomkuijsten opened #4642 "Dependency name of project reference not taken from PackageId"
## Versions
NuGet version: 4.0.x (included in VS2017)
VS version: VS 2017 RC3
OS version: Win 10

## Detailed repro
1. Create a new solution with two .NET standard projects (ClassLibrary1 and ClassLibrary2)
2. Add the `PackageId` property to the ClassLibrary1 project and use "CustomName" as value
3. Add a project reference from ClassLibrary1 to ClassLibrary2
4. Build the solution
5. Use `msbuild /

[2017-02-17 07:45] n873 commented on #3419
I installed Telerik and this occured

[2017-02-17 08:55] emgarten commented on #4642
@tomkuijsten how did you restore the projects?

[2017-02-17 10:35] tomkuijsten commented on #4642
I didn't explicitly restore the projects, I changed the repro steps with where I executed the build.

[2017-02-17 10:52] emgarten commented on #4642
Try running msbuild /t:Restore and then building/packing.

[2017-02-17 11:55] rrelyea commented on #4642
Thanks for report. Dupe of #4586
At risk for RTM.
Workaround: restore via command line before packing.

[2017-02-17 11:55] #4642 closed, assigned to nobody

[2017-02-17 11:59] GanesanRengasamy commented on #4641
Hi @emgarten

Thanks for the response. I have used the private feed to install the custom NuGet packages. If I use this same finalbuilder for install the local(offline) packages, I don't get this issue. I have faced this problem while use online private feed.

Also I have used the -DisableParallelProcessing with the NuGet install command like this "install %PackageName% -Version %VERSION% -Source

[2017-02-17 12:35] mrward commented on #4597
This has been implemented. NuGet.Build.Packaging 0.1.206-pr88 is the first NuGet package that includes this support. This is available from the [NuGetizer3000 package source](https://ci.appveyor.com/nuget/nugetizer3000)

There are still problems here. Only types that are available in the intersection API can be compiled into the PCL assembly. So if another project is referenced and a type from tha

[2017-02-17 12:35] #4597 closed, assigned to nobody

[2017-02-17 12:51] blimkemann commented on #4615
Aside from nuget.org, I subscribe to two other feeds: Telerik's and my company's private feed. They both use different credentials. Telerik's uses whatever credentials I have with them and my company's uses Windows authentication.

Every time I open Visual Studio and browse either of those feeds, I am prompted for my credentials. There is a (seemingly) helpful checkbox asking to "Remember my crede

[2017-02-17 12:54] rrelyea commented on #4615
Thanks for the additional info.
Can you help us with a little bit more info?
What kind of NuGet server is your company's private feed? Authentication technology used?
Can you point us toward Telerik's feed (or info about it) if it isn't private info? Any idea of what NuGet Server technology they use?
Thanks!

[2017-02-17 12:59] blimkemann commented on #4615
I created my feed using an empty ASP.net app and the NuGet.Server package. I access it over the internet and set IIS to use Windows authentication.

To access Telerik's feed (https://nuget.telerik.com/nuget) you need to have an account on their website (and obviously a license to use one or more of their products). I'm sure their support would be happy to help you though.

[2017-02-17 13:44] rrelyea commented on #4625
@nkolev92 - please see background email from 5:35am

[2017-02-17 16:31] rrelyea commented on #4625
Have fix in blend.pkgdef - have to add new location of NuGet vsix installation to a whitelist for blend.exe

[2017-02-17 16:52] steven-dawkins commented on #1823
+1 for bringing back release notes

[2017-02-17 17:07] rrelyea opened #4643 "[Feedback] Can not update to .NETCore 1.1.0 after upgrading to Microsoft.NETCore.UniversalWindowsPlatform v5.3.0"
Internal bug 385268

Create UWP project with VS2015 and upgrade UWP package to v5.2.2 Open project in VS2017 RC3 - RC4. Open Manage NuGet packages for solution and check available updates. Microsoft.NETCore.Runtime.CoreCLR v1.1.0 is listed as package available for update. Trying to update fails with error message:

GET https://api.nuget.org/v3/registration1-gz/microsoft.netcore.jit/index.json
OK h

[2017-02-17 17:13] rrelyea commented on #4537
let's get off of RTM plate, as we have too many other important things. We'll consider 4.0.1 and 4.0.2 depending on bar, etc...

[2017-02-17 17:42] jainaashish commented on #4636
@mishra14 if i'm not wrong it was only happening with NuGet debug bits and that too when you've a break point at specific place... Are you able to repro it with release bits as well?

[2017-02-17 17:42] emgarten commented on #4627
@rrelyea the investigation is complete here, does this meet the bar for RTM?

[2017-02-17 17:56] jainaashish commented on #4565
One more instance of same scenario - https://github.com/Microsoft/vstest/issues/509

[2017-02-17 18:07] rrelyea commented on #4625
Merged fix into VS. Should be available in 26217.00 build and later.

[2017-02-17 18:07] #4625 closed, assigned to rrelyea

[2017-02-17 18:27] AArnott opened #4644 "'dotnet pack' puts nuspec under obj instead of obj\Debug"
Under a new .NET SDK project, when I type `dotnet pack`, the nupkg is placed under `bin\debug` as expected, but the nuspec is placed under `obj` instead of `obj\debug`. Since the nuspec contains debug-specific paths, it should be under the `obj\debug` folder, thereby allowing debug and release builds to not overwrite each others' files in a multi-proc build and otherwise to gain more from incremen

[2017-02-17 18:32] AArnott commented on #4125
@davidfowl points out that `PrivateAssets=all` at the consuming side should workaround this issue. This is also consistent with [the documentation](https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files#controlling-dependency-assets). But I tried it, and the `dotnet pack` step *still* emits a package dependency on it (with the default `exclude="Build,Analyzers"

[2017-02-17 18:36] jainaashish commented on #4637
It looks more like #4420 and should be fixed with d15rel 26216.0 n beyond releases.

[2017-02-17 18:41] johnkoerner opened #4645 "nuget.exe should set $(SolutionDir)"
NuGet product used: nuget.exe

NuGet version : **3.5.0.1996**

VS version (if appropriate): **VS 2015 Update 3 is installed**

OS version: **Win 10 v1511 (10586.713)**

## Detailed repro steps so we can see the same problem

1. Have a csproj project in a solution that imports shared properties using the `$(SolutionDir)` variable

[code]

2. Run nuget update on the solution
[code]

3. Receive the f

[2017-02-17 18:47] emgarten commented on #4532
@jabrown85 do you have conditions on your PackageReferences or the item groups?

In the VS restore it is picking up the target framework string as: ``net462``
From the command line I see: ``.NETFramework,Version=v4.6.2``

What property do you have set in your project that provides ``net462``?

[2017-02-17 18:49] rohit21agrawal commented on #4644
CC: @rrelyea for assigning milestone

[2017-02-17 18:56] emgarten commented on #4645
nuget.exe parses the solution itself and then loads the projects through msbuild. It looks like nuget.exe should set the SolutionDir property and pass it to msbuild when calling it.

[2017-02-17 18:58] emgarten commented on #4641
@GanesanRengasamy oh, for ``install`` this property cannot be used. You could try by running a restore instead against a packages.config file to see if it helps.

Is the timeout always the same, or does it change each run?

[2017-02-17 19:07] alpaix commented on #4636
The same as #4255. The right solution would be #3816.

[2017-02-17 19:10] jainaashish commented on #4643
`runtime.win8-arm.microsoft.netcore.jit` package isn't available on NuGet.org which is why this update failed. DotNet team needs to look into this and publish this package.

[2017-02-17 19:26] nishaatr opened #4646 "NuGet,exe ignores build metadata (e.g. 1.0.0+metadata)"
## Details about Problem

NuGet product used: NuGet.exe:

NuGet version: 3.5.0

OS version: Windows 7

## Detailed repro steps so we can see the same problem

1. Set version in *.nuspec with build metadata:

`<version>1.0.0+metadata</version>`

2. Run pack command

`nuget.exe pack`

3. Metadata seems to be ignored. I don't see metadata string in the resulting *.nupkg filename and also in Nuget Pac

[2017-02-17 19:31] 304NotModified commented on #4639
it worked!

Do I need also something like this in VS2017 (csproj) ?

[2017-02-17 19:35] rrelyea commented on #4643
@ericstj  - should we create an issue here: https://github.com/dotnet/corefx?

[2017-02-17 19:55] dazinator commented on #4632
It's weird, because all NuGet packages are now installing successfully (I removed the analayser packages that were causing errors on nuget install) - but this problem with invalid references still persists.
This only happens on my laptop, so I am just trying to narrow the problem down.

[2017-02-17 20:03] rrelyea opened #4647 "vsfeedback - 6 votes - delete files from Package Manager Console not remove reference files in solution .csproj"
VSFeedback 806273 - https://developercommunity.visualstudio.com/content/problem/19247/delete-files-from-package-manager-console-not-remo.html

When I try to remove file with powershell command (Remove-Item .\src\MyProject\Migrations\* -Force -Recurse) it works fine, but doesn't remove reference in .csproj file!

In VS2015 it Works!!!

[2017-02-17 20:07] emgarten opened #4648 "RuntimeEnvironmentHelper.IsLinux returns true for OSX"
The RuntimeEnvironmentHelper.IsLinux helper should be improved to properly detect OSX when running on Mono.

Currently this method returns true when on OSX. In many scenarios this method is used to check if the file system is case sensitive. We should fix up any areas where this is being used incorrectly.

[2017-02-17 20:08] rrelyea commented on #4643
Moved to: https://github.com/dotnet/corefx/issues/16275

[2017-02-17 20:08] #4643 closed, assigned to jainaashish

[2017-02-17 21:15] rrelyea commented on #4647
Sent this issue to Managed Languages. Globbing seemed to work fine for us.

[2017-02-17 21:15] #4647 closed, assigned to zhili1208

[2017-02-17 21:45] #4633 closed, assigned to mishra14

[2017-02-17 22:03] AArnott opened #4649 "PackTask throws NullReferenceException when NuspecProperties is specified"
As soon as any NuspecProperties is specified, dotnet pack fails.

[code]

The pack succeeds. Now modify .csproj by adding this property definition in the `PropertyGroup`:

[code]

Then pack again:

[code]

[code]

[2017-02-17 22:11] emgarten commented on #2934
This has not been committed yet

[2017-02-17 22:35] ericstj commented on #4643
CoreCLR is the correct repo for that one.

[2017-02-17 22:36] zhili1208 commented on #4532
@jabrown85 I can repro your issue, but the workaround above works for me, Did you put that under project node in your B.csproj?

[2017-02-17 22:45] rohit21agrawal commented on #4125
@AArnott pack should not emit a dependency when ```<PrivateAssets>all</PrivateAssets>``` is specified. Did you make sure you restored after you added the ```<PrivateAssets>``` tag to your dependency? Pack relies on reading the dependencies and their metadata from the assets file, so if the assets file doesn't reflect your changes, pack wouldn't know about them.

[2017-02-17 22:47] jabrown85 commented on #4532
I feel like I did. I recall putting it in both projects to be safe.
On Fri, Feb 17, 2017 at 4:36 PM Zhi Li <notifications@github.com> wrote:

[2017-02-17 22:51] emgarten commented on #4639
Pack for csproj in VS2017 does not include these framework assemblies by default, you should be fine there.

//cc @rohit21agrawal

[2017-02-17 22:51] #4639 closed, assigned to nobody

[2017-02-17 22:52] AArnott commented on #4125
Thanks, @rohit21agrawal. That was the trick. I was only running `dotnet pack` after my change rather than a restore as well.

[2017-02-17 22:53] rohit21agrawal commented on #4125
Great! Are we good to close this issue now?

[2017-02-17 22:54] AArnott commented on #4125
No. There's still the matter of `developmentDependency` being ignored that should have set PrivateAssets=all by default, which [@davidfowl seems to agree with as well](https://github.com/NuGet/Home/issues/4125#issuecomment-268578958).

[2017-02-17 22:56] emgarten commented on #4532
Related to https://github.com/NuGet/Home/issues/4629

[2017-02-17 23:00] emgarten commented on #4646
@nishaatr does the nuspec in the nupkg contain the metadata?

Metadata will not appear in the file name, this is both to avoid duplicate packages of the same version (since metadata does not count as part of the package identity) and to avoid long path issues.

NuGet Package Explorer does not contain support for SemVer 2.0.0 as far as I know.

[2017-02-17 23:17] rrelyea commented on #4586
Communicated to rps (via linked issue above) that we'd try to take if they can pass the data.

[2017-02-17 23:18] emgarten opened #4650 "Restore target should ignore projects it cannot read"
Restore adds project references when reading the parent project, however in some scenarios the child project cannot be read and added to the dg spec. This results in a failure during restore.

### Previous behavior
* Visual Studio ignores unresolved projects (it can't tell they are projects through DTE)
* 3.5.0 restore for project.json ignored these unresolved projects due to the way the target ma

[2017-02-17 23:19] rrelyea commented on #4649
@rohit21agrawal  - Please determine problem, so we can appropriately understand to triage.

[2017-02-17 23:21] rohit21agrawal commented on #4649
@AArnott can you provide a repro project?

[2017-02-17 23:21] rohit21agrawal commented on #4649
```NuspecProperties``` only has any meaning when it's provided with a ```NuspecFile```

[2017-02-17 23:25] rrelyea commented on #4631
We aspire to release 4.0.1 to support VS 2015, but that will depend on resources and timing may vary.

[2017-02-17 23:37] AArnott commented on #4649
@rohit21agrawal: the repro steps are simple enough, right? It's the simplest repro project imaginable, plus one line.

That's unfortunate, because an extra nuspec file is rather cumbersome when all I want to do is set one property with a $macro$ in it. See [here](https://github.com/AArnott/Validation/commit/be79503a9431c984b60a29edda677f2db3ad2f49#diff-fcc665af66d56864b76ca425ae5a0848R24) for what

[2017-02-18 00:21] zhili1208 commented on #4532
the difference between nuget.exe restore and VS solution restore is project.assert file from nuget.exe restore contains "compile section" for A.csproj.  This will hit the "ProjectReferencesCreatingPackages" Null issue.

@jabrown85 Can you verify the workaround again? Because the workaround totally skip the "ResolveNuGetPackageAssets", it should not hit that again.

Following is one example:
[code]

[2017-02-18 02:51] jabrown85 commented on #4532
I can confirm the workaround does not work for me. In the project I was working with I get errors regarding the assemblies referenced in project B that should be pulled down from NuGet for project B (xUnit/NSubstitute). I don't see any compilation errors referencing project A NuGet dependencies.

I'm not entirely clear on what the workaround is trying to accomplish but if it's skipping restore ent

[2017-02-18 05:39] johnkoerner opened #4651 "Wiki Documentation Inconsistent and Out of Date"
As a new user trying to build for the first time, I followed the contributing instructions linked from the [ReadMe.md](https://github.com/NuGet/Home/blob/dev/README.md) in the Nuget Home repository. After following these instructions, I ran into numerous errors and came to the determination that the wiki was out of date.

Specifically, the content in the [Setting up the NuGet Development Environme

[2017-02-18 09:14] 304NotModified commented on #4639
OK thanks!

[2017-02-18 22:22] clairernovotny commented on #4488
@rrelyea I tried the suggestion of using `<PackageReference Update="Legacy2CpsWorkaroundBogus"/>` and also `<PackageReference Update="Legacy2CpsWorkaroundBogus" Version="1.0.0"/>` but neither worked. Neither made the restore correct.

The only thing that's worked so far is to use:
[code]

[2017-02-19 05:46] AArnott opened #4652 "WPF with PackageReference and referencing .NET Core project produces NuGet error on build"
WPF stopped building reliably after I added my first PackageReference to it.

[code]

**Expected**

Successful build. I've seen this occasionally on this source version, suggesting that this is a non-deterministic failure.

**Actual**

[Also as seen on Appveyor](https://ci.appveyor.com/project/AArnott/moneyman/build/0.1.4-alpha+gbb11765fb1)

Repro machine has: d15rel 26217.2

[2017-02-19 07:18] davidfowl commented on #3052
It's already supported in nuget v3 see https://github.com/NuGet/Home/wiki/%5BSpec%5D-Managing-dependency-package-assets

[2017-02-19 07:19] davidfowl commented on #3964
Yes.

/cc @emgarten You guys should update the official docs

[2017-02-19 07:39] emgarten commented on #3964
The docs for this are being tracked here https://github.com/NuGet/Home/issues/4551

[2017-02-19 07:40] emgarten commented on #4652
This issue is tracked in https://github.com/NuGet/Home/issues/4532

@AArnott would you try the workaround listed in #4532 and see if it works for you?

[2017-02-19 16:30] AArnott commented on #4652
Thanks for the tip, @emgarten. The workaround appears to be incomplete. Although it avoids the error message I report above, it is replaced by several new ones from the WPF temporary project, which evidently doesn't contain the resolved package references that the original WPF project does:

ViewModels\MainPageViewModel.cs(11,11): error CS0246: The type or namespace name 'PCLCommandBase' could not

[2017-02-19 19:24] #3964 closed, assigned to nobody

[2017-02-20 01:53] sg53719 commented on #3419
@n873 Thanks for the Telerik comment - I had installed an update and noticed 2 extensions for Visual Studio got installed. I removed them and the error disappeared.

[2017-02-20 03:08] ctaggart opened #4653 "MSBuildTool that depends on DotNetCliTool"
Hi, I'm working on tools to help automate the `/sourcelink` option for the compilers. I've packaged the tools as dotnet cli tools with simple MSBuild tools packages that are wrappers. Is it possible to have the MSBuild tools package reference the dotnet cli tool.

Currently, I must tell people to include both:
[code]

But I really just want to tell people to include one:
[code]

Is this possible o

[2017-02-20 07:52] reiz commented on #4628
@JimBobSquarePants A license is always bound to a specific version of a package. Licenses can change from version to version. That's why it's important to track & document licenses in your dependencies automatically. There are different tools out there for this problem. Tools like [BlackDuck](https://www.blackducksoftware.com/), [WhiteSource](https://www.whitesourcesoftware.com/) and [VersionEye](

[2017-02-20 08:06] txdv commented on #1448
[code]

The contents of my file:
[code]

The response is:

[code]

Does anyone have an idea why the response is so strange?

[2017-02-20 09:59] v-luzh opened #4654 "[Test Failure] Failed to install package ‘Newtonsoft.Json’ into second C# Class Library App with ‘PackageReference’ mode in PM UI"
**NuGet Version:** NuGet 4.0.0-RTM-2300
**VS Version:** D15Rel 26217.02
OS Version: Windows 10 RS1_Release 14393.851.170215-1802

**Repro Steps:**
0. Check **‘Allow format selection on first package install’** format in NuGet Package Manager setting dialog.
1. Restart VS and create a C# Class Library (.NET Framework)-Project1.
2. Add another C# Class Library (.NET Framework)-Project2 into this sol

[2017-02-20 12:45] mangeshdurge commented on #3353
I am getting same issue in VS2015

[2017-02-20 14:49] lonnkvist commented on #1823
+1 for bringing back release notes

[2017-02-20 15:11] kzu commented on #4316
I'm seeing this in the latest VS2017RC too. Any ideas when this will hit the stable channel?

Repro: clone & run `msbuild /t:restore` in folder https://github.com/NuGet/NuGet.Build.Packaging/tree/9de80814eadc29d15b27c4a674139a53b71a2558/src/Build

Version information:

[code]

[2017-02-20 17:37] idg10 commented on #1510
What are the workarounds? I see claims that they exist, but the only suggestion is to manually add the HintPath yourself. That doesn't work for me. Something removes it every time I rebuild the project.

As far as I can tell, this issue makes it impossible to use ASP.NET Core 1.1 components in an `fsproj` project. (I have an Azure Web Job implemented as an F# console app that needs to use full .NE

[2017-02-20 17:38] jackmott commented on #1510
Only workaround I know about is to use Paket instead of Nuget, it handles this properly.

[2017-02-20 21:07] clairernovotny commented on #1980
Ping? @rrelyea @emgarten ?

[2017-02-21 02:25] gavinbeatty commented on #4387
It sounds like @pcewing and I would both be very pleased with environment variables, but @joelverhagen, what are your thoughts?

[2017-02-21 06:50] AArnott opened #4655 "Package dependencies are not suppressible when they come from a P2P reference"
So I hit a project where [setting `PrivateAssets=all` doesn't eliminate the package dependency](https://github.com/AArnott/CodeGeneration.Roslyn/commit/32b5d88dc7d6e7233321d74877f22accb34761f3).

Even though I set `PrivateAssets=all` on all my PackageReference and even ProjectReference items, the generated nuspec file still retains the set dependencies that would have propagated from the P2P that

[2017-02-21 08:52] v-luzh opened #4656 "[Test Failure] Package ‘Microsoft.NETCore.Platforms’ and ‘Microsoft.NETCore.Targets’ failed to install into ASP.NET Core Web App 1.1 template"
**NuGet Version:** NuGet 4.0.0-RTM-2300
**VS Version:** D15Rel 26220.00
**OS Version:** Windows 10 RS1_Release 14393.851.170215-1802

**Repro Steps:**
1. Create an **ASP.NET Core Web App 1.1** template via VS.
2. Open the ‘Manage NuGet Packages…’ for this project.
3. Try to install package **‘Microsoft.NETCore.Platforms 1.1.0’** and package **‘Microsoft.NETCore.Targets 1.1.0’** into this template.

[2017-02-21 09:26] linkdata commented on #4337
If it is by design, I'd very much like to hear the reasoning. But I think it's just a bug.

If I have a project dependency, when packing that project the dependent project needs to packed first, and the actual version thus packaged must be depended upon.

[2017-02-21 16:06] AArnott commented on #4360
If `tool` is reserved for cli tools then my recent understanding is that expressing dependencies is correct.
The only package type that should embed its dependencies is an msbuild extension. Doing that is currently tedious and error prone. Can we simply add a new property to enable that mode?

[2017-02-21 16:09] rrelyea commented on #4651
Thanks for feedback. Sorry for trouble.

[2017-02-21 16:37] rrelyea commented on #4656
@ericstj - my guess is that these packages are not meant to be added directly to a project. They are likely added implicitly by a metapackage or the like?

[2017-02-21 18:07] rrelyea opened #4657 "Nuget restore package NUnitLite@3.6 cause Vs report fatal error"
vsfeedback 812089

[2017-02-21 18:09] rrelyea opened #4658 "HTTP URL links in NuGet windows don't work"
vsfeedback - 810689

[2017-02-21 18:12] rrelyea opened #4659 "vsfeedback - The operation failed as details for project <projectname> could not be loaded."
vsfeedback 808565

[2017-02-21 18:27] zhili1208 commented on #4532
I see, so looks like the workaround avoided the "but an output path was not specified on an item in the ProjectReferencesCreatingPackages property" error but will got Project B NuGet dependencies error. will look into that. thanks for your infomation

[2017-02-21 18:34] mishra14 commented on #4564
Seems like: https://github.com/NuGet/Home/issues/4659

[2017-02-21 18:39] mishra14 commented on #4637
@jainaashish : Could you validate this please. If fixed, then close.

[2017-02-21 18:41] rrelyea opened #4660 ".NETStandard Target moniker is ignored by nuget / msbuild when creating a nuget package"
vsfeedback 813319

is the summary of this problem that repository metadata in .nuspec doesn't work in old clients?
if that is the case, do we remove? or do we update downlevel clients?

[2017-02-21 18:57] joelverhagen commented on #4659
Duplicate of https://github.com/NuGet/Home/issues/4564.

[2017-02-21 18:57] #4659 closed, assigned to joelverhagen

[2017-02-21 19:01] mishra14 commented on #2041
Searched the core solution. The only non-localized strings seem to be debug logs. Closing this for now. We can reopen this if needed.

[2017-02-21 19:01] #2041 closed, assigned to mishra14

[2017-02-21 19:23] scottbommarito opened #4661 "Ignore invalid version ranges in the v3 feed"
Related to https://github.com/NuGet/NuGetGallery/issues/3482

Currently, if the client tries to install a packages from the v3 feed with a dependency containing an invalid version range, it will fail. This is inconsistent with the behavior for v2, which is to simply install the oldest package. Because deleting old, broken packages from the gallery would upset users, and because we cannot guarantee

[2017-02-21 19:26] rohit21agrawal commented on #4649
@AArnott Agree that the task shouldn't throw a NRE. We are tracking this in a bigger issue : https://github.com/NuGet/Home/issues/4472

As far as the scenario is concerned, this is what NuspecProperties is used for : https://github.com/NuGet/Home/wiki/Adding-nuget-pack-as-a-msbuild-target#packing-using-a-nuspec

I still don't really understand what you were trying to achieve though. What did you h

[2017-02-21 19:28] AArnott commented on #4649
I was hoping that the NuspecProperties would be applied to evaluate macros I set in the .csproj file for those properties that get copied to the build-generated nuspec file.

[2017-02-21 19:30] AArnott commented on #4360
Per [this doc](https://github.com/NuGet/Home/wiki/Adding-nuget-pack-as-a-msbuild-target#istool) it seems IsTool is supposed to move the project output to the tools folder, in which case, it only makes sense to embed all dependencies into that folder as well.

[2017-02-21 19:31] emgarten commented on #4660
NETStandard.Library 1.6.0 supports NETStandard 1.0. If you take a look at the packages you can see that there are lib folders containing all target frameworks.

If the project target framework is set to netstandard1.0 you should see the project dll under netstandard1.0. The package dependency on NETStandard.Library 1.6.0 does not indicate what the package targets.

[2017-02-21 19:31] scottbommarito opened #4662 "Modify NuSpecReader to throw when it encounters invalid data"
The Gallery deserializes data from `.nuspec`s using a `NuGet.Packaging` class called [`NuSpecReader`](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Packaging/NuspecReader.cs). When this class sees an invalid version range, [it silently handles it](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Packaging/NuspecReader.cs#L130) and [returns a version range t

[2017-02-21 19:32] AArnott commented on #4655
Per [this doc](https://github.com/NuGet/Home/wiki/Adding-nuget-pack-as-a-msbuild-target#project-to-project-references) it seems what I'm asking for is by design.

[2017-02-21 19:33] jainaashish commented on #4307
Proposed solution:
Delay auto restore until we are expecting some nominations for .net core projects. This delay won’t be indefinite and would be capped by 10 secs so even after 10 secs delay, we still haven’t got all the nominations, we’ll continue with auto restore which will fails with the current error. During this delay UI won’t be freeze so user will still be able to carry out any other oper

[2017-02-21 19:38] rohit21agrawal commented on #4655
@AArnott  can you attach the assets file of your project here? it's likely that restore is doing the wrong thing here, and pack puts that dependency in the nuspec file as  a consequence of that.

[2017-02-21 19:43] rrelyea commented on #4586
From email:
Looks like Nat is preparing the Roslyn-Project-System side of this fix.
@alpaix  – Can you please prepare the change to harvest and apply?

[2017-02-21 19:45] rohit21agrawal commented on #4649
@AArnott we haven't designed a scenario like that, all the property evaluation when packing from csproj is done by msbuild.

Reviewed this with @rrelyea , moving it to 4.0.1 to fix the null ref exception .

[2017-02-21 19:54] AArnott commented on #4649
I would accept that as an answer. Mixing two macro evaluation models into MSBuild instead of just one could be more confusing than it is valuable.

[2017-02-21 19:56] AArnott commented on #4655
Sure: [project.assets.json.zip](https://github.com/NuGet/Home/files/791338/project.assets.json.zip)

[2017-02-21 19:59] AArnott commented on #4655
Oh snap. This is another case of needing to run restore after making the change. When I change the project file then re-pack without restoring, the change isn't applied. I don't find this intuitive and it will take some time for me to learn the new way things work.

[2017-02-21 19:59] #4655 closed, assigned to rohit21agrawal

[2017-02-21 19:59] jinujoseph opened #4663 "Migrated project throws restore error"
**Repro steps**
- Copy the folder \\mlangfs1\public\Jinuj\TestCases\migrate\AspNetCoreWeb_IndAuth_WithAI_1 to your machine.
- open the sln file
- click for one way upgrade
- Build the project

**Expected**
Builds without any error

**Actual**

Restoring NuGet packages...
To prevent NuGet from restoring packages during build, open the Visual Studio Options dialog, click on the Package Manager node

[2017-02-21 20:03] rohit21agrawal commented on #4660
yeah, i don't think this is a bug . The user is confusing the package dependency NETStandard.Library 1.6.0 that comes as a part of targeting netstandard1.0 with the target framework itself.

[2017-02-21 20:06] balachir opened #4664 "Error "'Add-Migration' is not recognized as the name of a cmdlet" when trying to add migration using Package Manager Console"
**INSTALL STEPS**
Win8.1 x64 ENU
Dev15 RTW VSP(Web + Azure workload)
Go offline after install by turning off the nuget.org feed

**REPRO STEPS**
1. Create a 1.0 Core Web Application (No Auth)
2. Add Movie.cs to the Models folder
    public class Movie
    {
        public int ID { get; set; }
        public string Title { get; set; }
        public DateTime ReleaseDate { get; set; }
        public

[2017-02-21 20:09] emgarten commented on #4663
This looks like an issue with the migration tool or the packages.

Project.json has ``"Microsoft.Extensions.SecretManager.Tools": "1.0.0-preview2-final"``

The errors here show the stable ``1.0.0`` version.

However on nuget.org the latest version is: ``1.1.0-preview4-final``
https://www.nuget.org/packages/Microsoft.Extensions.SecretManager.Tools/1.1.0-preview4-final

@livarcocc how should this wo

[2017-02-21 20:13] jainaashish commented on #4637
@nkolev92 was working on this last week... He can share his findings. If I'm not wrong he was able to repro it with or without our fix, So it isn't easy to repro anyways

[2017-02-21 20:17] nkolev92 commented on #4637
I was **not** able to repro this with and without the fix.
So as @jainaashish said, it's a hard repro.

[2017-02-21 20:25] jinujoseph commented on #4637
i have a VM with the repo, if you want to take a look at.

[2017-02-21 20:26] jainaashish opened #4665 "Visual studio hang while NuGet IVsPackageInstaller tries to access UI thread in MEF constructor"
As per email communication from Jetbrains:

My guess is that the cause of the deadlock is the concurrent access to NuGet.VisualStudio.IVsPackageInstaller service from ReSharper on the UI thread and Microsoft.AppInsights.GettingStarted.Extensibility.ExtensibleImplementationProvider on background.

Root cause: `IVsPackageInstaller` MEF constrcutor tries to construct `VSAPIProjectContext` instance wh

[2017-02-21 20:34] joelverhagen commented on #4664
Have you verified that you have the **Microsoft.EntityFrameworkCore.Tools** package installed as a `<PackageReference>`? You can open up your .csproj to see this.

This Microsoft.EntityFrameworkCore.Tools package is what brings along the PowerShell commands like `Add-Migration`.

One investigation step you can take is to search your `obj\project.assets.json` file for any instances of the string `i

[2017-02-21 20:44] livarcocc commented on #4663
The RTM versions of these packages are in a myget feed, you need to add a NuGet.Config entry for them in order to restore. They will show up in NuGet once we RTM.

I believe this is the feed: `<add key="asp-msbuild3-feed" value="https://dotnet.myget.org/F/msbuildtools/api/v3/index.json" />`

[2017-02-21 20:46] emgarten commented on #4663
Thanks @livarcocc

@jinujoseph try adding the source @livarcocc mentioned.

[2017-02-21 20:46] #4663 closed, assigned to nobody

[2017-02-21 21:08] alpaix commented on #4654
Was able to repro. Call stack of the aforementioned exception:
[code]

[2017-02-21 21:11] alpaix commented on #4654
Given the unusual usage pattern (opening two package management UIs simultaneously) and a simple workaround (re-opening the dialog would resolve the issue), punting to 4.0.1

[2017-02-21 21:13] alpaix commented on #4654
Also noted after package is installed into the first project it appears as installed in the second until the package management UI is re-opened. Seems like a different issue though.

[2017-02-21 22:04] zhili1208 commented on #4658
sent email to customer, it doesn't repro on his machine any more

[2017-02-21 22:04] #4658 closed, assigned to zhili1208

[2017-02-21 22:14] nkolev92 commented on #4637
With @jainaashish's help I managed to repro & verify with d15rel.26216.0
The root cause was solved in #4420

[2017-02-21 22:14] #4637 closed, assigned to nkolev92

[2017-02-21 22:41] #4664 closed, assigned to nobody

[2017-02-21 23:05] #4225 closed, assigned to alpaix

[2017-02-21 23:05] #4386 closed, assigned to alpaix

[2017-02-21 23:51] mishra14 commented on #4656
@rrelyea, @v-luzh:

This seems to be happening because of filtering code [here](https://github.com/NuGet/NuGet.Client/blob/7676e7ff39faf3234e264b7b344e17e6900f3ead/src/NuGet.Core/NuGet.PackageManagement/BuildIntegration/BuildIntegratedRestoreUtility.cs#L127).

After the install, we display the "Successfully Installed" log onto for packages which were not present in the old assets file. But it seem

[2017-02-22 00:00] zhili1208 commented on #4533
Verified with VS 2017 26126

[2017-02-22 00:00] #4533 closed, assigned to zhili1208

[2017-02-22 00:28] mishra14 commented on #4657
The project csproj file had 2 imports for NUnitLite which was causing a conflict. I have emailed the customer about the this. Waiting to hear back if that unblocks/fixes the customer problem.

[2017-02-22 00:39] skofman1 opened #4666 "Package should store which source it is installed from"
@petterek commented on [Wed Feb 15 2017](https://github.com/NuGet/NuGetGallery/issues/3573)

I think it would be a good idea to add an attribute to the <package > tag, to indicate which source it was installed from.

 <package id="NUnit" version="3.6.0" targetFramework="net461" src="nuget.org" />

When installing a package using the "Manage packages for soulution" in vs studio, then nuget will use

[2017-02-22 00:56] DoRonMotter opened #4667 "NuGet Restore Allocations hang Visual Studio"
Investigate string allocations during Nuget Restore for certain projects:

The process is doing nuget restore and taking a really long time. It's also pretty high on VM usage (altho low on managed heap)

nuget is allocating a lot of memory on many stacks - e.g. 500MB for nuget.contentmodel
Name               	Inc %	          Inc
nuget.contentmodel	 8.6	  557,513,344

1.3GB of strings allocated - a

[2017-02-22 01:25] DoRonMotter commented on #4486
This scenario and the scenario Jinu references should be covered in:
https://github.com/NuGet/Home/issues/4386

[2017-02-22 01:25] #4486 closed, assigned to jainaashish

[2017-02-22 01:27] DoRonMotter commented on #4565
Covered by https://github.com/NuGet/Home/issues/4386

[2017-02-22 01:27] #4565 closed, assigned to alpaix

[2017-02-22 02:17] gameldd commented on #4657
Yes this fix my problem. After i edit the csproj file, set both NUnitLite package references to the same version, no more error report!  It look like when you project target multiple framework, and each framework reference same package , update package action only update one PackageReference item, which cause the conflict.

[2017-02-22 02:45] rrelyea commented on #4565
Did we want #4386 in RTM and open?

[2017-02-22 05:01] TheRealPiotrP opened #4668 "dotnet restore with basic authentication failing"
_From @simon-hardy on April 14, 2016 22:2_

## Steps to reproduce

Ubuntu 14.04 container running on docker in Digital Ocean

Followed https://dotnet.github.io/getting-started/

Nexus Nuget feed with Basic Authentication enabled

Added feeds to Nuget.config with nuget add source & nuget setapikey.
## Expected  behavior

Manually running nuget 3.3.0 authenticates correctly, but:
## Actual behavior

[2017-02-22 05:01] TheRealPiotrP commented on #4668
_From @Petermarcu on April 14, 2016 23:12_

@yishaigalatzer , Can you take a look at confirm what needs to happen here?

[2017-02-22 05:01] TheRealPiotrP commented on #4668
_From @yishaigalatzer on April 14, 2016 23:14_

Yes, this was fixed already in 3.4.2, but wasn't merged yet into the CLI.

[2017-02-22 05:01] TheRealPiotrP commented on #4668
_From @blackdwarf on April 15, 2016 4:44_

Should we close this?

[2017-02-22 05:01] TheRealPiotrP commented on #4668
_From @yishaigalatzer on April 15, 2016 4:51_

After we merge

Sent from Outlook Mobilehttps://aka.ms/xp9y6l

On Thu, Apr 14, 2016 at 9:44 PM -0700, "Zlatko Knezevic" <notifications@github.com<mailto:notifications@github.com>> wrote:

Should we close this?

##

You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHubhttps://github.com/dotnet/cli/issues/2

[2017-02-22 05:01] TheRealPiotrP commented on #4668
_From @simon-hardy on April 15, 2016 6:53_

@yishaigalatzer, any guidance on a likely time-frame for the merge to happen? or any workaround you know of in the meantime?

[2017-02-22 05:01] TheRealPiotrP commented on #4668
_From @eerhardt on April 15, 2016 15:17_

We've taken NuGet v3.5.0-beta-1160 in the latest CLI (CLI version 1.0.0-rc2-002392).

The issue report was using .NET Command Line Tools (1.0.0-beta-001793), which was a while ago.

[2017-02-22 05:01] TheRealPiotrP commented on #4668
_From @blackdwarf on April 15, 2016 15:27_

@simon-hardy can you try with latest and see if this still repros?

[2017-02-22 05:01] TheRealPiotrP commented on #4668
_From @simon-hardy on April 15, 2016 15:53_

@blackdwarf @eerhardt still get a similar error:

error: Failed to retrieve information from remote source 'http://configmanagement.xxx.com:8081/repository/nuget.org-proxy/FindPackagesById()?id='System.Linq''.
error: Response status code does not indicate success: 401 (Unauthorized).

[2017-02-22 05:01] TheRealPiotrP commented on #4668
_From @yishaigalatzer on April 15, 2016 15:57_

@simon-hardy yes because it wasn't integrated yet into the CLI and hence this bug should stay open until it does. You can use nuget.exe 3.4.2 in the meantime. The root cause is a bug in the nexus server that the new code doesn't have a hack to work around with.

[2017-02-22 05:01] TheRealPiotrP commented on #4668
_From @simon-hardy on April 15, 2016 16:0_

@yishaigalatzer ok you guys need to get on the same page as @eerhardt is indicating the RC2 CLI has nuget.exe 3.5.0 integrated...

[2017-02-22 05:01] TheRealPiotrP commented on #4668
_From @eerhardt on April 15, 2016 16:10_

@yishaigalatzer - can you elaborate on which "merge" needs to happen? The way I read your response is that the CLI needs to merge a new NuGet build. But we have the latest NuGet build.

[2017-02-22 05:01] TheRealPiotrP commented on #4668
_From @yishaigalatzer on April 15, 2016 16:23_

@simon-hardy @eerhardt you are both correct

@eerhardt is correct that he has the latest 3.5-Beta build in the CLI
The fixes are in 3.5-RC (or the nuget dev branch) and 3.4.3 branch that is ahead of 3.5-Beta as 3.5-Beta was frozen in escrow and 3.4.3 had patches applied.

We are working on approving a merge from 3.5-RC (basically renaming the branch

[2017-02-22 05:01] TheRealPiotrP commented on #4668
_From @deathrowe on April 19, 2016 19:49_

I'm still hitting this issue with version 1.0.0-rc2-002427. I have nuget version 3.3.0.212 as well. I also noticed that 'dotnet restore' will even try to hit my diabledPackageSources.

[2017-02-22 05:01] TheRealPiotrP commented on #4668
_From @rrelyea on April 19, 2016 20:26_

Included with the .NET CLI binaries are some NuGet binaries...
The last build we integrated into .NET CLI was 3.5.0-beta-1178.
That build of NuGet should contain all fixes from our public 3.4.2 release.
Please check your version of NuGet components in the CLI build you have.

[2017-02-22 05:01] TheRealPiotrP commented on #4668
_From @deathrowe on April 19, 2016 21:9_

I'm assuming you're talking about any of the NuGet.*.dll files from the /sdk/1.0.0-rc2-002427/ directory? I tried looking at the info for a couple of the files and I don't see any versioning. Is there a command I can run? I'm running on the latest OS X if that makes a difference

[2017-02-22 05:01] TheRealPiotrP commented on #4668
_From @rrelyea on April 19, 2016 21:12_

This may be able to tell you the version:
    corerun nuget.commandline.xplat.dll --version

[2017-02-22 05:01] TheRealPiotrP commented on #4668
_From @deathrowe on April 20, 2016 3:17_

Unfortunately, that command does not work for me. I get: 'Could not get full path: No such file or directory'

[2017-02-22 05:01] TheRealPiotrP commented on #4668
_From @patrickjamesbarry on May 4, 2016 14:24_

I am on a Mac, running .NET Command Line Tools (1.0.0-rc2-002659) and  NuGet Version: 3.4.3.855. I am running into same Unauthorized issue with **dotnet restore**.  **nuget restore** works just fine. Hopefully whatever merge needs to be approved, happens soon!

[2017-02-22 05:01] TheRealPiotrP commented on #4668
_From @patrickjamesbarry on May 10, 2016 16:35_

On NET Command Line Tools (1.0.0-preview1-002700), and this is still an issue. Can we get an update on this issue?

[2017-02-22 05:01] TheRealPiotrP commented on #4668
_From @yishaigalatzer on May 10, 2016 16:45_

Everything is already merged. So we will need more info from you, like a fiddler trace, exact version of Nexus and any particular instruction you can provide us to try and repro this in details.

CC @rrelyea

[2017-02-22 05:01] TheRealPiotrP commented on #4668
_From @patrickjamesbarry on May 10, 2016 18:23_

Artifactory (Cloud subscription)
Mac 10.10.5
NET Command Line Tools (1.0.0-preview1-002700)
Mono JIT compiler version 4.2.3

I think I found the problem. The auth header is not getting set correctly.
**Authorization: Basic Og==**

I have confirmed that my credentials are set correctly and even tried 2 different ways. Encrypted vs Clear text.  Everyt

[2017-02-22 05:01] TheRealPiotrP commented on #4668
_From @alpaix on May 10, 2016 19:21_

@patrickjamesbarry Encrypted passwords are not supported on CoreCLR due to missing System.Security.Cryptography assembly. Can you try with clear text password section only?

[2017-02-22 05:01] TheRealPiotrP commented on #4668
_From @patrickjamesbarry on May 10, 2016 19:27_

I tried both (separately) with neither working.

[2017-02-22 05:01] TheRealPiotrP commented on #4668
_From @yishaigalatzer on May 10, 2016 23:45_

We have a proper repro, thanks!

@spadapet and @alpaix are working on a fix.

CC @rrelyea

[2017-02-22 05:01] TheRealPiotrP commented on #4668
_From @mburumaxwell on June 25, 2016 12:31_

I made a script as a workaround for automated builds in case anyone needs a quick workaround.
See https://maxwellweru.com/using-authenticated-nuget-feeds-with-dot-net-rc2-on-vsts/

[2017-02-22 05:01] TheRealPiotrP commented on #4668
_From @nwoolls on February 13, 2017 16:9_

I hope this is the correct thread - there seem to be several threads / issues tracking this.

We are trying to automate builds for projects using the .NET Core tooling that is compatible with `project.json` and allows for private NuGet packages to be restored via `dotnet restore` using `nuget.config`. I am running into the same issue as this thread using

[2017-02-22 05:01] TheRealPiotrP commented on #4668
_From @ericstj on February 14, 2017 1:0_

I don't think this should have been closed.  GitHub closed it on my behalf when I merely forked NuGet.Client and merged its dev branch into my private fork...

[2017-02-22 05:01] TheRealPiotrP commented on #4668
_From @rrelyea on February 14, 2017 19:46_

The nuget fix is not available for a dotnet.exe that supports xproj/project.json.
There is a workaround mentioned above if you need to stay with Project.json.

NuGet.exe v3.5.0 has this fix, but only runs on windows (and sometimes on mono).

NuGet v4.0.0-rc4 and VS 2017-rc is available today with this fix, but it requires you to migrate to msbuild/csproj

[2017-02-22 05:01] TheRealPiotrP commented on #4668
_From @nwoolls on February 14, 2017 20:1_

@rrelyea what workaround are you referring to? I only see workarounds specific to VSTS (using a token) but nothing for a private NuGet server.

Are folks using `project.json` dead in the water with private NuGet servers + auth?

[2017-02-22 05:01] TheRealPiotrP commented on #4668
_From @rrelyea on February 14, 2017 21:15_

I was referring to workaround from @mburumaxwell where he started with: "I made a script as a workaround for automated builds in case anyone needs a quick workaround."
Perhaps it was not the right workaround.

Are you able to use NuGet.exe v3.5.0-rtm in your scenario?

[2017-02-22 05:01] TheRealPiotrP commented on #4668
_From @ferrancg on February 21, 2017 20:37_

I am also experiencing a similar issue when using dotnet (1.0.0-preview2-003121) against VSTS Feeds, but only intermittently. After exploring a bit on this issue, here is what I found:

1. The error sometime is shown as 403, sometimes as " Password decryption is not supported on .NET Core for this platform."
2. The dotnet restore can actually access the

[2017-02-22 05:01] TheRealPiotrP commented on #4668
_From @blackdwarf on February 21, 2017 21:43_

@rrelyea I guess that this issue should be moved to Nuget/home, right?

[2017-02-22 05:01] TheRealPiotrP commented on #4668
_From @gtokenThinhnguyen on February 22, 2017 3:50_

I am also having same issues when I am using dotnet (1.0.0-rc4-004771) on ubuntu Ubuntu 16.04.
I already set the api key in Nuget.Config

[code]

[code]

[2017-02-22 05:01] TheRealPiotrP commented on #4668
_From @nwoolls on February 22, 2017 3:58_

@gtokenThinhnguyen only options we found:

* Build on Windows using NuGet.exe 3.5 and `nuget restore`
* Or, build on *nix using Mono and NuGet 3.5 (`nuget update -self`) and `nuget restore`
* Or, put your private NuGet server inside a VPN (if under your control)
* ~~Or, upgrade your project(s) to the recently released `csproj` based tooling~~ - @gtokenThi

[2017-02-22 05:01] TheRealPiotrP commented on #4668
_From @gtokenThinhnguyen on February 22, 2017 4:10_

Thank you @nwoolls for a quick response. I already upgraded my project using csproj and I can restore the packages if my nuget repository is set public (without authentication). I guess that "dotnet restore" cannot get the credentials from NuGet.Config.

[2017-02-22 05:01] TheRealPiotrP commented on #4668
_From @nwoolls on February 22, 2017 4:12_

@gtokenThinhnguyen interesting (and unfortunate if true) - that last option was an assumption on my part based on the feedback of others. We have yet to do the upgrade from `project.json` for these particular projects.

[2017-02-22 05:01] TheRealPiotrP commented on #4668
_From @gtokenThinhnguyen on February 22, 2017 4:21_

@nwoolls yah I am looking for why "dotnet restore" cannot retrieve my credentials from NuGet.config :(

[2017-02-22 05:01] TheRealPiotrP commented on #4668
_From @nwoolls on February 22, 2017 4:27_

@gtokenThinhnguyen did you try the other options? Not sure if Mono is an option for you and your build tooling. But using Mono along with `nuget restore` - not `dotnet restore` - worked here as long as NuGet was updated using e.g. `nuget update -self`.

[2017-02-22 05:02] TheRealPiotrP opened #4669 "[Question] Use NuGet.config for both VS project and cli commands?"
_From @chuckries on February 17, 2017 20:40_

Is there a way to get the same NuGet.config file to be used from both 'dotnet restore' on the command line and IDE solution build?

[code]

I have a .NET Core test project. I have a NuGet.config file in the project directory next to the .csproj. Running dotnet restore works correctly. If, however, I build from VS 2017 RC, the package is not restore bec

[2017-02-22 05:02] TheRealPiotrP commented on #4669
_From @chuckries on February 22, 2017 1:4_

Anybody?

[2017-02-22 05:02] TheRealPiotrP commented on #4669
@chuckries I believe this should work, but the folks at `nuget/home` will know for sure. I'll move the issue for you.

[2017-02-22 05:03] TheRealPiotrP opened #4670 "dotnet restore ignores --verbosity flag"
_From @natemcmaster on February 21, 2017 22:47_

## Steps to reproduce
dotnet restore -v quiet
dotnet restore -v detailed
dotnet restore -v diagnostic

## Expected  behavior
Console output should show different levels of verbosity.

## Actual behavior
Always displays minimal output.

## Environment data
Using 1.0.0-rc4-004842

_Copied from original issue: dotnet/cli#5783_

[2017-02-22 05:03] TheRealPiotrP commented on #4670
Moving to nuget/home.

[2017-02-22 05:19] gtokenThinhnguyen commented on #4668
Hi, @nwoolls if we use ```nuget restore``` we have to config csproj back to project.json right? May be I will put my nuget repo to the VPN currently.

[2017-02-22 06:23] emgarten commented on #4670
Dupe of https://github.com/NuGet/Home/issues/3772

@natemcmaster pass the verbosity parameter in msbuild format, example: ``/v:diag``

[2017-02-22 06:23] #4670 closed, assigned to nobody

[2017-02-22 06:27] emgarten commented on #4669
Visual Studio reads settings at the solution level, place your NuGet.Config file in the solution root directory to apply it to both the IDE and dotnet CLI.

[2017-02-22 06:28] emgarten commented on #4668
@gtokenThinhnguyen use nuget.exe 4.0.0 from http://dist.nuget.org/index.html for PackageReference support.

[2017-02-22 06:34] emgarten commented on #4666
@petterek using the ``All`` source would allow the client to find the package wherever it exists, does this solve the issue for you?

[2017-02-22 06:35] emgarten commented on #4662
Adding a strict mode sounds like a good idea for this.

[2017-02-22 06:54] gtokenThinhnguyen commented on #4668
hi @emgarten. I am using nuget (4.0.0.2275) to restore to packages. However it said that "The folder <my project folder> does not contain an msbuild solution or packages.config file to restore." I guess that nuget 4.0 haven't supported csproj yet?

[2017-02-22 06:57] emgarten opened #4671 "Throw a helpful error message if the HOME directory cannot be found"
NuGetEnvironment resolves cross platform paths, in some scenarios not all of the environment variables are needed such as on CI machines or when running under special accounts. The errors from this are often difficult to diagnose because they result in null reference exceptions when bad inputs are passed to Path.Combine.

To improve this NuGetEnvironment should ensure that it has a valid path, and

[2017-02-22 07:00] emgarten commented on #4668
It does, but with slightly different inputs. nuget.exe covers more inputs and requires the path to the csproj to restore a single project.

Example: ``nuget.exe restore project.csproj``

[2017-02-22 07:29] gtokenThinhnguyen commented on #4668
I tried that by ```mono nuget.exe restore myProject.csproj``` it just says that "MSBuild auto-detection: using msbuild version '14.0' from '/usr/lib/mono/xbuild/14.0/bin'." and stop there.

[2017-02-22 07:29] petterek commented on #4666
Yes it solves the issue, but it is also very annoying when you for some reason miss that it is not set to all and the package is not installing.

Sendt fra min Samsung Galaxy-smarttelefon.

-------- Opprinnelig melding --------
Fra: Justin Emgarten <notifications@github.com>
Dato: 22.02.2017 07:34 (GMT+01:00)
Til: NuGet/Home <Home@noreply.github.com>
Ko: Petter Ekrann <Petter.Ekrann@infotjenester.

[2017-02-22 07:42] emgarten commented on #4668
@zhili1208 what does @gtokenThinhnguyen need to add to get this to work on mono?

[2017-02-22 08:08] stormleoxia commented on #4660
Hi, I've reported the issue.
If I create in Visual Studio 2015 a .NET Core Library targeting .NETStandard 1.4, it won't be able to use the package created with Visual Studio 2017, because any .NETStandard library created with Visual Studio 2017 is packaged as requiring .NETStandard 1.6.
I've added a screenshot below.
![dependencyconflict](https://cloud.githubusercontent.com/assets/13752108/2320214

[2017-02-22 08:34] emgarten opened #4672 "dotnet nuget push times out after 5 minutes when a symbol package is present"
``dotnet nuget push`` pushes to symbol source by default if a symbol package is present. When symbol source is having issues this leads to a very poor experience where the command line sits unresponsive for 5 minutes until the command exits.

There is currently an option to skip pushing symbols. This should be on by default to avoid long waits and a poor user experience where it is unclear what is

[2017-02-22 08:59] emgarten opened #4673 "CLR_EXCEPTION_REMOTE_NuGet.Commands.RestoreSpecException_80131500_NuGet.Commands.dll!NuGet.Commands.SpecValidationUtility.ValidateFrameworks"
CLR_EXCEPTION_REMOTE_NuGet.Commands.RestoreSpecException_80131500_NuGet.Commands.dll!NuGet.Commands.SpecValidationUtility.ValidateFrameworks

Internal issue: 387192

type: clr20r3

[2017-02-22 09:00] emgarten opened #4674 "dev11nonfatalerror: NuGet.PackageManagement.VisualStudio.VSSolutionManager+__get_IsSolutionFullyLoaded_b__77_0_d.MoveNext"
[Watson] dev11nonfatalerror: DEV11NONFATAL_CLR_EXCEPTION_System.NullReferenceException_80004003_NuGet.PackageManagement.VisualStudio.dll!NuGet.PackageManagement.VisualStudio.VSSolutionManager+__get_IsSolutionFullyLoaded_b__77_0_d.MoveNext

Internal issue: 387193

Type: non fatal

[2017-02-22 09:39] v-luzh opened #4675 "PM UI of second project show incorrectly after installing a package into first project with ‘PackageReference’ mode"
**NuGet Version:** NuGet 4.0.0-RTM-2300
**VS Version:** D15Rel 26221.00
**OS Version**: Windows 10 RS1_Release 14393.851.170215-1802

**Repro Steps:**
1. Check **‘Allow format selection on first package install’** format in NuGet Package Manager setting dialog.
2. Restart VS and create a C# Class Library (.NET Framework)-Project1.
3. Add another C# Class Library (.NET Framework)-Project2 into this

[2017-02-22 09:43] v-luzh commented on #4654
@alpaix, you are right. That is another issue since they have different repro steps. I have update the repro steps on this one and filed a new bug #4675 to track that issue.

[2017-02-22 12:14] stormleoxia commented on #4660
To fix manually my problem:

- Modifying the nuspec file with the following:

[code]
- Removing repository tag in order to use nuget 3.5.0 on the nuspec file (I don't know how to force msbuild to use the nuspec to pack without regenerating it and overriding my changes).
- Republishing generated package on my nuget server.
- Clean my local nuget package cache (usually in C:\Users\<Username>\.nuget\

[2017-02-22 17:24] ericstj commented on #4656
@rrelyea any package should be upgrade-able.  Sure we don't expect folks to do this much (and I suspect they won't since these are typically indirect dependencies that are not offered for upgrade) but there is no reason why it shouldn't work.

[2017-02-22 17:33] SabotageAndi commented on #3609
I can confirm the fix.

[2017-02-22 17:33] #3609 closed, assigned to karann-msft

[2017-02-22 17:50] caleblloyd commented on #4463
When I define a different `IntermediateOutputPath`, nuget files still always end up in `$(ProjectDir)\obj\`.  I am following [this MSDN blog post](https://blogs.msdn.microsoft.com/kirillosenkov/2015/04/04/using-a-common-intermediate-and-output-directory-for-your-solution/)

Example:

[code]

All other files get moved correctly, except for these 3 which still appear in `$(ProjectDir)\obj\`:

[code]

[2017-02-22 18:15] chuckries commented on #4669
This worked, thanks!

[2017-02-22 18:19] mishra14 commented on #4657
@gameldd : thanks for confirming that this fixed your problem. I will look into the problem a bit more before closing the bug.

[2017-02-22 18:22] zhili1208 commented on #4668
@gtokenThinhnguyen looks like you tried this on linux, since mono doesn't have msbuild on linux now,  it doesn't work for now.

[2017-02-22 18:24] rohit21agrawal commented on #4660
@stormleoxia to pack a nuspec file using msbuild, here are the steps : https://github.com/NuGet/Home/wiki/Adding-nuget-pack-as-a-msbuild-target#packing-using-a-nuspec

[2017-02-22 19:21] emgarten commented on #4040
@kiewic you need to call the purge method once you finish using nuget.core.dll

https://github.com/NuGet/NuGet2/blob/e89c4b2fc6dc2fc752d2fceecd2a2175b0f4ab69/src/Core/Packages/OptimizedZipPackage.cs#L315

[2017-02-22 19:21] #4040 closed, assigned to nobody

[2017-02-22 19:26] #3908 closed, assigned to nobody

[2017-02-22 19:27] #2830 closed, assigned to nobody

[2017-02-22 19:27] nkolev92 opened #4676 "Analyze the failure of TestPacManGetUnrestoredPackagesByDependencyOrder"
This test depends on packages from nuget.org which is just bad.
Sample failure is 4.0.0-rtm build 2310.

A recent update in T4MVCExtensions updated the dependency to the latest Microsoft.AspNet.Mvc.
The test fails with:
[code]

It needs to be analyzed whether this is a test error or a potential problem.