[2020-04-15 18:53] donnie-msft commented on #8058
Reopening this one in favor of its details over #2495 .

[2020-04-15 18:55] kevmoens commented on #1512
I had been looking for a way to run the Update-Package -reinstall command because I had a NuGet with content only and I wanted it restored each time we clone the package.  I found out that .props or .target files can be used to get ran before the build to pick up these files in the Packages directory.  That solved my issue.

[2020-04-15 18:55] jeffkl commented on #9398
The overwhelming majority of users have very simple logic to specify their runtimes, frameworks, and packages. The logic that was broken here is very complex and I doubt very many users will have the issue. Unfortunately restore was running targets before as a matter of implementation and the side effect is that people have taken a dependency on it. But the only way to speed up restore is to do le

[2020-04-15 18:58] ViktorHofer commented on #9398
Makes sense. Thanks for sharing your perspective.

[2020-04-15 19:31] donnie-msft commented on #2495
Your existing issue https://github.com/NuGet/Home/issues/8058 seems to cover that.

[2020-04-15 19:34] loic-sharma commented on #2495
Yep I asked because https://github.com/NuGet/Home/issues/8058 had been closed, thanks for reopening it.

[2020-04-15 21:20] dominoFire opened #9445 "Re-enable failing tests for PM UI"
Production code works well. Test code needs work to add those asemblies and simulate an UI thread.

- [x] DataContext_Initialized_DefaultIsItems

System.Windows.Markup.XamlParseException : Initialization of 'Microsoft.VisualStudio.PlatformUI.LiveTextBlock' threw an exception.\r\n---- System.TypeInitializationException : The type initializer for 'Microsoft.Internal.VisualStudio.PlatformUI.Automatio

[2020-04-15 23:29] DrStrangepork commented on #6978
This helped me with this problem on Ubuntu - https://github.com/dotnet/core/blob/master/Documentation/linux-setup.md - specifically:

    export SSL_CERT_FILE=/etc/ssl/certs/ca-certificates.crt
    export SSL_CERT_DIR=/dev/null

perhaps the equivalent on Windows will help the Windows folks

[2020-04-15 23:43] jgalarse commented on #912
Hi all, I saw that the "Support pre-release packages with floating versions" changes are implement in the 5.6.0 nuget version and I tried the latest 5.6.0 preview2 version but the floating version format "*-*" is still considered as an invalid version format.

Am i missing something? Or do i have to wait for the full 5.6.0 release?

Visual Studio 2019 16.5.4
Nuget 5.6.0 Preview2

[2020-04-15 23:45] #7438 closed, assigned to nkolev92, nugetlurker

[2020-04-16 00:30] nkolev92 commented on #9438
Yeah, I think this is likely a no-op and you just need to address: https://github.com/NuGet/Home/issues/9439

[2020-04-16 00:31] nkolev92 commented on #9443
I think it's covered under: https://github.com/NuGet/Home/issues/5154.

So probably close this in favor of that?

[2020-04-16 00:32] nkolev92 commented on #9444
Related to https://github.com/NuGet/Home/issues/9443 and probably sohuld considered under https://github.com/NuGet/Home/issues/5154

[2020-04-16 01:26] nkolev92 commented on #9431
@clairernovotny @tmat
We'll consider this task at the end of our sprint.

This change for this should be trivial.

cc @aortiz-msft

[2020-04-16 01:42] Digmaster commented on #4360
Here's a work around for those who don't want a nuspec file.

[code]

[2020-04-16 01:52] niblak opened #9446 "NuGet restore with mixed packages.config/PackageReference and Directory.Build.targets"
In our .NET 4.7.2 solution, the majority of our projects use the new Common Project System/SDK-style projects, but a few of the projects that do not support this are still using the old project system and packages.config (such as ASP.NET ones).

Recently, we added a Directory.Build.targets file that included a global PackageReference behind a condition that applied only to the SDK-style projects u

[2020-04-16 02:06] nkolev92 commented on #9425
Nice catch :)

I'd argue this is lower priority right now so I'm putting it in the icebox and but marking it as up for grabs.

[2020-04-16 02:09] nkolev92 commented on #9417
Hey @PaulVrugt

Any chance you can give us a repro?
This error can happen for so many different reasons, and unfortunately our error https://github.com/NuGet/Home/issues/7696 is not great at this point, so a repro is one of our only means for investigation.

[2020-04-16 02:11] nkolev92 commented on #9212
Hey @dehghani-mehdi

Were you able to try out my suggestions?

[2020-04-16 02:19] nkolev92 commented on #9415
That's not quite right.
Often times a package will have versions on more than one of the configured feeds.
NuGet's resolution algorithm prefers the lowest matching package version when available, but if the lowest matching versions is not available because the feed is unreachable, you could get a different package version.

[2020-04-16 02:45] nkolev92 commented on #9354
@ViktorHofer Can you update the instruction per @rrelyea's request?

[2020-04-16 02:46] nkolev92 commented on #9356
@bo-tu Did you get a chance to look at @rrelyea's comment [here](https://github.com/NuGet/Home/issues/9356#issuecomment-606218641)

[2020-04-16 06:09] dehghani-mehdi commented on #9212
@nkolev92 I tried all possible commands (based on your answers and the docs), same happened.

I could not try V3 tho, because you didn't answer my question about that.

[2020-04-16 06:23] moikot commented on #9251
I believe it's a critical issue in the new set of `dotnet nuget` commands. Many of them require a source name, and there is no way to interrogate current sources and manipulate them (unless you parse the full output of `dotnet nugget list source`). I'm trying to perform `dotnet restore` while building a Docker image, and I want to go through the list of sources and add credentials (PATs) for acces

[2020-04-16 07:09] fowl2 commented on #5740
A few things: =)

Is there someway of marking these package references as "transitive"? ie,. only existing to resolve a transitive dependency conflict? Otherwise it's going to get confusing seeing apparently unused references.

Is is possible to include the "requested" version number(/range) in the suppression? Otherwise in a A->B->C situation when B upgrades it's version of C, A might be forgotte

[2020-04-16 08:36] ntrpnr commented on #1827
I've seen this less often recently. It's is most likely related to newly published packages - but clearing the Nuget package cache is always the instant fix for me.

[2020-04-16 13:52] colinin commented on #6795
我也遇到了这个问题，把通过项目直接引用的包去掉，改为通过Nuget引用可以解决这个问题

[2020-04-16 13:53] colinin commented on #6795
I have also encountered this problem, which can be resolved by removing the package that is referenced directly through the project and replacing it with a Nuget reference

[2020-04-16 14:22] jwdonahue commented on #912
@jgalarse, you should take that up with the [Nuget folks](https://github.com/nuget/home).  SemVer is mute on subject of version ranges.  It specifies syntax, semantics and precedence order.  Nothing to with how your tools allow you to specify dependencies and ranges.

[2020-04-16 15:06] mmitche commented on #9415
Often times a package will have versions on more than one of the configured feeds.
NuGet's resolution algorithm prefers the lowest matching package version when available, but if the lowest matching versions is not available because the feed is unreachable, you could get a different package version.

That still doesn't require that all feeds are accessible, right? That could simply mean that if yo

[2020-04-16 15:37] anangaur commented on #8506
@jeffkl Where is this documented?

[2020-04-16 15:51] anangaur commented on #912
@nkolev92 can you point the version of the tools where this works?

[2020-04-16 15:51] jeffkl commented on #8506
I’m not sure, did you document this @zkat?

[2020-04-16 17:05] kartheekp-ms commented on #8044
Observed that on `netcoreapp5.0` the behavior is consistent between Windows and Linux. Chain build logic on an untrusted root in `netcoreapp5.0` and `net472` will raise `untrustedroot, revocationstatusunknow, offlinerevocation` warnings where as on `Linux`  in `netcore2.1 and netcore3.1` `untrustedroot, offlinerevocation` warnings are raised.

[2020-04-16 17:05] #8044 closed, assigned to kartheekp-ms

[2020-04-16 17:14] nkolev92 opened #9447 "NuGetSdkResolver deadlock when authentication is involved"
The following code fails to use JoinableTaskFactory, and causes a deadlock when invoked on the UI thread:

https://github.com/Microsoft/msbuild/blob/a6932230ec64fe853dddb42b2e5c385fad4e3785/src/NuGetSdkResolver/NuGetSdkResolver.cs#L118-L126

[code]

cc @sharwell @jeffkl

dup [1093593](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1093593/)

[2020-04-16 17:14] rrelyea commented on #8506
tracked as a doc issue linked on the bottom of this page: https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets?source=docs#feedback

[2020-04-16 17:21] kartheekp-ms commented on #8044
Unit tests in `CertificateChainUtilityTests.cs` are referred while working on this issue.

[2020-04-16 17:30] zkat commented on #6046
Not much context on this one and there doesn't seem to be much of a push for it, so I'm closing it.

[2020-04-16 17:30] #6046 closed, assigned to nobody

[2020-04-16 17:35] zkat commented on #6330
Thanks for all the discussion. We're not going to do this because it's a security risk.

[2020-04-16 17:35] #6330 closed, assigned to nobody

[2020-04-16 17:40] zkat commented on #6459
This.... is probably not a scenario we'll try to support. Please use the usual PATH mechanism on Windows instead of putting it in the system folder ;)

[2020-04-16 17:40] #6459 closed, assigned to nobody

[2020-04-16 17:42] zkat commented on #6558
We have done some work to improve working with unloaded projects. There's a dedicated error code now that has instructions on how to move forward. Please see https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings/nu1105

[2020-04-16 17:42] #6558 closed, assigned to nobody

[2020-04-16 17:44] nkolev92 commented on #8876
We are consolidating issues, closing this as dup of https://github.com/nuget/home/issues/6566

[2020-04-16 17:44] #8876 closed, assigned to nobody

[2020-04-16 18:01] anangaur commented on #8506
Whats the option though?

[2020-04-16 18:18] rrelyea commented on #8506
it is in the title of the issue:

![image](https://user-images.githubusercontent.com/8865080/79491894-fbf22980-7fd3-11ea-930c-6b7d23d97aeb.png)

[2020-04-16 18:24] anangaur commented on #8506
👍 I should have clicked on the link! 😅

[2020-04-16 18:48] nkolev92 commented on #9212
https://docs.microsoft.com/en-us/nuget/reference/cli-reference/cli-ref-add

[2020-04-16 19:13] nkolev92 commented on #912
It will be a part of the 5.6 release/16.6 of Visual Studio.

It will be in preview 3 of both which is supposed to ship next week.

[2020-04-16 19:43] nkolev92 commented on #6761
Hey apologies for the late reply.

At this point it's been a while since this issue was filed. The side-effects of this seem equivalent to https://github.com/dotnet/runtime/issues/26461, so I'm closing this as external.

If you are still seeing similar issues, please open a new issue where you have tried the repro with the updated clients for us to investigate.

[2020-04-16 19:43] #6761 closed, assigned to nobody

[2020-04-16 19:58] jgalarse commented on #912
@anangaur ,@nkolev92 Thank you so much!!

[2020-04-16 20:06] nkolev92 commented on #6978
Hey all,

Thank you for this discussion. Apologies for not being able to get to all of your feedback.
At this point I think that this discussion has gone into a few different directions.

A few takeaways from what I am noticing:

* NuGet.exe/MSBuild.exe worked better for folks than dotnet.exe.
* A lot of the issues were related to: https://github.com/dotnet/runtime/issues/26461, which has been fix

[2020-04-16 20:06] #6978 closed, assigned to nkolev92

[2020-04-16 20:16] nkolev92 commented on #8867
Duplicate of https://github.com/NuGet/Home/issues/8867.

[2020-04-16 20:17] nkolev92 commented on #6138
A newer dup of this issue was reported in https://github.com/NuGet/Home/issues/8867.
I have added a comment for some pointers on the work that'd need to be done to fix this bug.
https://github.com/NuGet/Home/issues/8867#issuecomment-569765203.

[2020-04-16 20:22] nkolev92 commented on #9415
Related issues: https://github.com/nuget/home/issues/6373

[2020-04-16 22:07] nkolev92 commented on #5495
Many issues in this area have been addressed (from batching to networking etc).
We also have diagnostics to actually confirm that networking issues are a root cause of the slowness.

At this point this issue is too vague and not targeting a specific issue, so closing it.

[2020-04-16 22:07] #5495 closed, assigned to nobody

[2020-04-16 22:12] TimothyMothra opened #9448 "Application Insights SDK fails to add config (Need help getting more logs out of NuGet client tools)"
Application Insights SDK publishes this package: https://www.nuget.org/packages/Microsoft.ApplicationInsights.Web/ .
During installation, this package should add an "applicationinsights.config" file to the customer's application.
This works for most of our users but a small subset of users do not get this file added.

When I run the command `Install-Package Microsoft.ApplicationInsights.Web -Verbo

[2020-04-16 22:54] nkolev92 commented on #9144
Hey all,

Looks like most of you are having trouble because of the configuration in place.

Can you please refer to:
https://docs.microsoft.com/en-us/nuget/consume-packages/configuring-nuget-behavior#changing-config-settings for changing the settings and report back?

Note that the recommended behavior is to have 1 NuGet.config in your repo and the config should in the same directory as the sln fi

[2020-04-16 23:22] nkolev92 commented on #7101
@pvandervelde

Can you provide a repro for your scenario?

Following @Ausxor's repro steps I was not able to repro this issue with NuGet 5.6.0-preview.2

[2020-04-16 23:27] nkolev92 commented on #8700
@mdzeko Does this work if the PAT is configured in the local config?

[2020-04-16 23:52] nkolev92 commented on #7841
Apologies for the late reply, but this analysis is spot on.

Trick is that the PATs passed around are actually scoped, and in order to acquire a PAT you might need to go through 2FA first.

As far as documentation goes, while I'd love for us to have documentation like, this is certainly not high on our priority list right now.

As such I'm gonna close it.
We'd be open to a contribution but at this

[2020-04-16 23:52] #7841 closed, assigned to nkolev92

[2020-04-17 00:05] #9307 closed, assigned to dominoFire

[2020-04-17 00:11] nkolev92 commented on #2393
Hey all,
Apologies for the long turnaround on this, at this point I think most of the underlying framework issues have been fixed, I believe that it's safe to close this issue.

Please file new issues for any new problems you might hit.

[2020-04-17 00:11] #2393 closed, assigned to nobody

[2020-04-17 00:38] donnie-msft opened #9449 "Packages node lost its 'Manage NuGet Packages...'"
## Details about Problem

'Manage NuGet Packages...' has disappeared from the **Packages node** in Solution Explorer.
This is likely due to recent work by Project System which rejiggered a lot of node GUIDs/IDs.

NuGet product used: VS 16.6.0 Preview 2.1
Worked before? VS 16.5.3

## Detailed repro steps so we can see the same problem

### Actual
![image](https://user-images.githubusercontent.com/4

[2020-04-17 00:42] nkolev92 commented on #4841
Thanks for creating this issue.

At this point we believe our authentication story is mature enough to consider this complete.

Specifically we have built a plugin mechanism solution that works with *every* client (nuget.exe, msbuild.exe, dotnet.exe, VS) and while there are some slight differences the configuration, there are plenty of options available.

You can read more about it at https://docs

[2020-04-17 00:42] #4841 closed, assigned to nobody

[2020-04-17 00:44] nkolev92 commented on #4118
Hey @shubham90 Thanks for this issue.

At this point with the new credential provider I was not able to repro this scenario.

Apologies for the long turnaround.

[2020-04-17 00:44] #4118 closed, assigned to nobody

[2020-04-17 00:48] nkolev92 commented on #8551
Hey @ilatypov Thanks for the detailed issue. Apologies for the late response, I hope you were able to figure out the solution here.

The biggest takeaway is that NuGet is not correlating the source and credentials.
That on it's own is easy to reproduce.

Unfortunately I was not able to reproduce this with config provided.

At some point we had https://github.com/NuGet/Home/issues/7516. Does your s

[2020-04-17 00:48] nkolev92 commented on #6939
I think this is a duplicate of https://github.com/NuGet/Home/issues/6978.

Closing.

[2020-04-17 00:48] #6939 closed, assigned to nobody

[2020-04-17 00:51] nkolev92 commented on #9446
Hey @niblak

We apologize for the inconvenience.

Unfortunately this is a known project system bug which is tracked here: https://developercommunity.visualstudio.com/content/problem/721485/visual-studio-manage-nuget-packages-ui-does-not-re.html

Please follow and upvote that issue.

[2020-04-17 00:51] #9446 closed, assigned to nobody

[2020-04-17 01:00] nkolev92 commented on #9448
Are any of the projects in question PackageReference?

Looking at the package it contains only the `content` folder which is not supported in PackageReference.

https://devblogs.microsoft.com/nuget/nuget-contentFiles-demystified/

[2020-04-17 01:10] nkolev92 commented on #8167
Hey @CodeTroopers apologies for the delay.

ARe you still able to reproduce this issue?

[2020-04-17 01:16] niblak commented on #9446
Thanks Nikolche, will do.

[2020-04-17 01:18] nkolev92 commented on #7016
I tihnk I finally understand this issue:

Root cause in:
https://github.com/NuGet/NuGet.Client/blob/d7fa7488c8c905c921a55943656596670923c19f/src/NuGet.Clients/NuGet.SolutionRestoreManager/VSNominationUtilities.cs#L305.

Say you have a multi targetted project, that's a bit weird:

[code]

This would work on the commandline since PackageId is evaluated in the outer loop,. but fail in VS, where all o

[2020-04-17 01:18] nkolev92 commented on #7016
I think this is worth fixing, but not priority 2.

[2020-04-17 01:23] nkolev92 commented on #7299
@1patryk Are you still able to repro this issue?

NuGet.exe is a 32-bit application, it's a bit strange that it's trying to use a non-32-bit path.

[2020-04-17 01:24] nkolev92 commented on #8864
Thank you reporting this issue. At this point we do not have enough information to continue investigating the issue.
Please feel free to comment or open a new issue if needed.

[2020-04-17 01:24] #8864 closed, assigned to nobody

[2020-04-17 01:25] #8319 closed, assigned to nobody

[2020-04-17 01:26] nkolev92 commented on #8319
Closing as this seems to be a set-up problem.

[2020-04-17 01:26] nkolev92 commented on #9066
Thank you reporting this issue. At this point we do not have enough information to continue investigating the issue.
Please feel free to comment or open a new issue if needed.

[2020-04-17 01:26] #9066 closed, assigned to nobody

[2020-04-17 01:31] nkolev92 commented on #9073
@osmodies I'm unable to repro any content files installation issues with VS 2019.
Is this something for which you have a reliable repro?
Can you try to record the repro for us or provide a repro project?

[2020-04-17 01:34] #9191 closed, assigned to nobody

[2020-04-17 01:35] nkolev92 commented on #9305
Closing per @kartheekp-ms's comment.

[2020-04-17 01:35] #9305 closed, assigned to nobody

[2020-04-17 01:38] nkolev92 commented on #8880
This is not a bug, this just how packages.config works.

In packages.config the assembly refs are burned into the csproj alongside a check that runs before build to verify that package is on disk.

The solution is described in https://github.com/nuget/home/issues/8880#issuecomment-436848171

[2020-04-17 01:38] #8880 closed, assigned to nobody

[2020-04-17 01:41] #8574 closed, assigned to nobody

[2020-04-17 01:41] nkolev92 commented on #8574
Issue moved to [NuGet/docs.microsoft.com-nuget #1998](https://github.com/NuGet/docs.microsoft.com-nuget/issues/1998) via [**ZenHub**](https://www.zenhub.com/)

[2020-04-17 01:42] nkolev92 commented on #8574
Converting this to a docs issue: https://github.com/NuGet/Home/issues/7921#issuecomment-478152479

[2020-04-17 01:46] nkolev92 commented on #9397
cc @aortiz-msft @anangaur @chgill-MSFT

The ask is more general and spans multiple components, but a good start to track the experience here.

@anangaur Feel free to link any related efforts.

[2020-04-17 01:47] nkolev92 commented on #9332
Hey @madelson.

Any updates on @rrelyea's ask.

Thanks!

[2020-04-17 01:50] nkolev92 commented on #5953
Issue moved to [NuGet/docs.microsoft.com-nuget #1999](https://github.com/NuGet/docs.microsoft.com-nuget/issues/1999) via [**ZenHub**](https://www.zenhub.com/)

[2020-04-17 01:50] #5953 closed, assigned to anangaur, karann-msft

[2020-04-17 01:51] nkolev92 commented on #9052
Closing per the above comment.

[2020-04-17 01:51] #9052 closed, assigned to nobody

[2020-04-17 01:54] nkolev92 commented on #8832
Hey @v-luzh Any particular reason why you are using this package for testing?

The package only supports .NET Framework and is behaving differently for UAP projects, for .NET Core projects by design, because they both have a different fallback for .NET Framework based assemblies.

To me this looks like not a bug, but I just wanted to make sure why this particular package is interesting.

[2020-04-17 01:55] nkolev92 commented on #8870
Closing per @donnie-msft's comment.

Let us know if you are still having issues.

Thanks.

[2020-04-17 01:55] #8870 closed, assigned to nobody

[2020-04-17 07:11] mdzeko commented on #8700
I can't remember if it worked with PAT in it, but I will get back to you on this as soon as I can. My guess is that it did work, but that's nothing but a pale memory.

[2020-04-17 07:16] CodeTroopers commented on #8167
Surely, but i changed company and doesn't work anymore on this subject and this technolgie

[2020-04-17 09:58] PaulVrugt commented on #9417
@nkolev92

Yep, I've been able to repro it.

steps:

- open the attached solution
- rebuild the solution
- open a command line
- run: nuget.exe restore -LockedMode c:\temp\repro\Testing\TestProject.vbproj (where you replace the path with the path to the extracted project file)

It seems that nuget create a lock file with the assemblyname of the referenced assembly in it, and visual studio creates

[2020-04-17 11:13] mahaveerprasadpichaimani opened #9450 "Unable to add Nuget.org in visual studio 2019 for mac"
Hi Team,

I am trying to add Nuget packages for ios application development but unable to add any nuget packages from Nuget.org due to the below error message. I have attached the screen shots here for your reference.

Could you please check and let me know the issue here?

ios version: macOS Mojave 10.14.6
Visual studio version: visual studio community (preview) for mac
Nuget Version: 5.0.2.5988

[2020-04-17 11:14] StingyJack commented on #6659
I need the files - code and tt files usually - to be added to the project. They are legitimate compile files that need to be present before the compile starts.

Same goes for in house developed and used UI themes and styles. I want those scripts and css files included with the project so we can tweak and adjust them. Nuget was fine for this and it wasn't a security risk.

I'm using a package with

[2020-04-17 12:38] caioproiete commented on #6330
@zkat Is there an alternative plan that mitigates the security risk and, at the same time, allows for library authors to set up things upon package installation (and clean-up upon uninstall)?

Also, is there a plan to also block running MSBuild scripts bundled in the packages? Blocking the execution of powershell scripts [doesn't mean package authors can't execute arbitrary code in the user's mach

[2020-04-17 13:57] FJ-BBD commented on #6242
still happening in 2020. package manager adds processorArchitecture=MSIL" exe adds PublicKeyToken=null

[2020-04-17 14:25] ievgennaida commented on #6242
I remember that during the update it was often reproducible. I think that the key to reproducing the issue is to create a big heavy project with a lot of small packages.
After the update, I always had few packages broken.

[2020-04-17 14:46] anangaur commented on #9397
IMO, there should one effort to dissect the packages on nuget.org and log the package details like assembly info, API info, file info, supported TFMs info etc. Once this is done we can expose these as useful info for multiple functionalities and experiences.

[2020-04-17 16:28] joelverhagen commented on #9450
Could you try running the following commands on your Terminal and provide the output? If you are concerned about privacy, you can email the response to support@nuget.org.

[code]

This error message suggests a general network connectivity issue or a DNS resolution problem on your machine.

[2020-04-17 17:38] nkolev92 commented on #9450
Hey @joelverhagen should we move this to NuGetGallery?

[2020-04-17 17:50] nkolev92 commented on #8167
@CodeTroopers

I see. Just to confirm, you are still able to repro or is it not relevant at this point?
Thanks.

[2020-04-17 19:50] madelson commented on #9332
@nkolev92 these are the same steps I was following with my solution. I don't doubt that they work. It seems to me that this problem must not surface under the minimal use-case I extracted out of our real-world more-complex use-case. I unfortunately can't share that project with you as it is in our private codebase, and I'm not sure I'll have time to recreated an equivalent example given that it in

[2020-04-17 20:40] mmitche opened #9451 "Nuspec filtering takes a very long time for packages with many files in them"
Please read the following information before posting the issue.

## Details about Problem

Nuget.exe, pack task, etc.

5.4.0+ tested

## Detailed repro steps so we can see the same problem

1. Generate a nuspec file with a large-ish number of files (the one in question had about 800). E.g.:

[code]

2. Pack with nuget.exe pack
3. The pack will take an excessive amount of time.

[2020-04-17 20:43] donnie-msft commented on #9449
We also lost Manage NuGet Packages from the Projects menu. I don't believe it should have been here in the first place:

![image](https://user-images.githubusercontent.com/49205731/79612390-99c82000-80ca-11ea-81ec-9d6e87878935.png)

[2020-04-17 20:44] zkat commented on #9443
closing in favor of #5154

[2020-04-17 20:44] #9443 closed, assigned to nobody

[2020-04-17 22:03] nkolev92 commented on #8700
Thank you. @mdzeko We appreciate the effort.

[2020-04-17 22:08] nkolev92 commented on #9332
@madelson Do you have any PrivateAssets on either of your project/package references?

Specifically I'm trying to figure out if you might be seeing: https://github.com/NuGet/Home/issues/8565

[2020-04-17 22:19] nkolev92 commented on #9142
I'm not sure exactly why the repository element has optional attributes, but looking at the implementation, the type and url have been necessary.
The element doesn't make sense without them.

The xsd is something we can't really change easily, but I think we *should* change the documentation.

[2020-04-17 22:25] nkolev92 commented on #6876
Looking at this issue again it's probably related to https://github.com/NuGet/Home/issues/2869.

[2020-04-17 22:30] nkolev92 commented on #6855
Hey all,

If you are facign issues with Visual Studio for Mac please report them through https://docs.microsoft.com/en-us/visualstudio/mac/report-a-problem?view=vsmac-2019.
The VS 4 Mac issues are not tracked here.

@nicolas-garcia
Are still having these issues?
Are they VS4Mac related or some other tool?

Thanks.

[2020-04-17 22:34] nkolev92 commented on #6440
Walking through this thread, are there any asks from NuGet that are not captured in other issues?
@mgoertz-msft

[2020-04-17 22:55] nkolev92 commented on #4747
Hey @debonte,

Given that https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.VisualStudio/Extensibility/IVsPathContextProvider2.cs was added (which is your 3rd point), do you think this issue is safe to close?

[2020-04-17 23:13] debonte commented on #4747
@nkolev92, yes. Thanks!

[2020-04-17 23:13] #4747 closed, assigned to nobody

[2020-04-18 00:09] nkolev92 commented on #6440
Duplicate of https://github.com/dotnet/winforms-designer/issues/202.

Please track that effort there.

Thank you all.

[2020-04-18 00:09] #6440 closed, assigned to nobody

[2020-04-18 00:17] jnm2 commented on #6440
@nkolev92 https://github.com/dotnet/winforms-designer/issues/202 gives me a 404. Can there be a public thread to track, please?

[2020-04-18 00:29] nkolev92 commented on #6440
Oh my bad.
I've reached out to people on the team for input on that.

[2020-04-18 00:46] nkolev92 commented on #9213
Thank you reporting this issue. At this point we do not have enough information to continue investigating the issue.
Please feel free to comment or open a new issue if needed.

[2020-04-18 00:46] #9213 closed, assigned to nobody

[2020-04-18 06:25] jessehouwing commented on #9397
Jetbrains & https://twitter.com/maartenballiauw already have an ihdex with much of that info in in and a query syntax in the VS NuGet manager. Is there a possibility for a collaboration here?

[2020-04-18 06:32] jessehouwing commented on #9397
I've done a very rudimentary utility to scan the 1.7DB of my client and I can add the following details that may be useful:

 * Since many Framework assemblies have a fixed assembly version of (for example) `4.0.0.0` it's probably useful to capture `AssemblyFileVersion` or a hash of the binary contents.
 * Some assemblies are also found as "patched" in some other packages ant then signed with a di

[2020-04-18 14:36] madelson commented on #9332
@nkolev92 do you mean dev dependency installs with `<PrivateAssets>all</PrivateAssets>` or similar? If so, then yes we have a few of those in the mix.

[2020-04-18 15:10] ilatypov commented on #8551
I suspect that `nuget` tries the passwordless `GET /../api/../Packages(Id='...')` request first, sees its success, then assumes that the download can be passwordless as well. (Why Artifactory has the inconsistency between the search and the download access, that is another story).

If that theory is true, then `nuget` should stop making the assumption and stop even trying the passwordless queries.

[2020-04-18 15:47] TFTomSun opened #9452 "Reference Project outside of the solution shows error NU1105"
In the past, it was possible to reference projects outside of the solution. At the moment it seems not to be possible. I read https://github.com/NuGet/Home/issues/5820, there seems to be some activity to make that possible again. Which Visual Studio Version do I need to test it? What are the limitations?

[2020-04-19 01:23] StingyJack commented on #8583
If I try to pack the nuspec below I get the warning/instruction
[code]
nuspec
[code]
... which is weird, because I've never had to do that before. Designating the `target` was enough for everything (nuget.exe, vs, etc) to understand this was only for netfx461 and things compatible with that. I do want to satisfy this warning, and I've not used a `group` element before so I copied the element from

[2020-04-19 01:40] kartheekp-ms commented on #9329
Tried to repro it again and observed that NuGet is not extracting outside the package directory and environment variables were not expanded when normalizing paths during `install and restore`.

[2020-04-19 01:40] #9329 closed, assigned to kartheekp-ms

[2020-04-19 17:42] silkfire commented on #5805
NuGet Package Manager is still do this date one of the slowest features of VS - yet still one of the most commonly used. Could you invest some proper development time on improving the performance of this essential part of the IDE?

[2020-04-19 18:22] silkfire commented on #8890
@dominoFire Has this fix been released to Visual Studio?

[2020-04-19 22:37] rymeskar opened #9453 "Transparent Metapackage"
Within our organization, we would love to create a *transparent* meta-package.
*Transparent* metapackage is a package that includes only a dependency list.

We however wish to enforce the following behavior:
* Metapackage A depends on packages P1 and P2.
* Shared Library SL depends on metapackage A.
* SL is packaged as nuget.
* SL has packages P1 and P2 marked as dependencies, however, no package

[2020-04-19 22:40] StingyJack opened #9454 "NuGet Package Manager doesn't indicate which package is deprecated"
The Nuget PM UI does show that a package is deprecated, but fails to tell us which package is the deprecated one.  Its kind of useless to give the warning but not the necessary detail. Please fix.

There is a screenshot of the problem attached to the [other report](https://developercommunity.visualstudio.com/content/problem/957820/nuget-package-manager-ui-reports-you-have-1-deprec.html)  thats bee

[2020-04-20 06:24] v-luzh commented on #8832
Hey @nkolev92 This issue is found in an adhoc testing. We just want to test if our error message can response correctly. Yes, the package "Blend.Interactivity.Wpf" is not compatible with UWP/.NET Core projects. The point is the error message below is confusing.
![image](https://user-images.githubusercontent.com/20632625/79719554-688d6100-8311-11ea-9e3c-f86704484f58.png)

And the below error messag

[2020-04-20 10:08] CodeTroopers commented on #8167
It is not relevant at this point

[2020-04-20 14:08] LegendaryB opened #9456 ".snupkg Files created and pushed but NuGet not downloading them"
Hey Guys,

me and a friend are developing a framework together and we are publishing nuget packages. We have now added creation of .snupkg files. They are also pushed to NuGet without problems. But when we use our packages Visual Studio is not able to step into the code.

I have already set "Enable just my Code" to false and checked if the NuGet symbol server is also referenced in the settings. Bu

[2020-04-20 15:30] loop-evgeny commented on #5805
Still impossibly slow to in VS 16.5.4, NuGet 4.5.0.4696 to, for example, list packages on the Updates or Consolidate tab. I don't understand why this is closed? Does the VS team want a solution that reproduces the problem?

[2020-04-20 16:01] papeh commented on #9356
I'm getting the same problem.
NuGet product used: NuGet.exe
NuGet version (x.x.x.xxx): 5.5.1
dotnet.exe --version (if appropriate): 2.1.509
VS version (if appropriate): 2017 (v15.9.16)
OS version: Windows 7 (6.1.7601)
.NET version from HKLM\SOFTWARE\Microsoft\NET Framework Setup\NDP\v4\Full: Version 4.6.01055 (Release 394271)

[2020-04-20 16:10] kartheekp-ms commented on #9029
Package signing branch has few new entries defined in [build/config.props](https://github.com/NuGet/NuGet.Client/blob/dev-feature-xplatVerification/build/config.props#L40-L49) to define `dotnet` cli version for building and running tests. In the dev branch it looks like we build the source code using the version installed on the CI agent and test using the version based on `CliBranchForTesting` pa

[2020-04-20 16:53] kartheekp-ms commented on #9029
According to **[doc](https://docs.microsoft.com/en-us/azure/devops/pipelines/build/variables?view=azure-devops&tabs=yaml),** `Agent.TempDirectory` is a temporary folder that is cleaned after each pipeline job. This directory is used by tasks such as `.NET Core CLI` task to hold temporary items like test results before they are published.

In the current package signing branch build pipeline has be

[2020-04-20 17:10] nkolev92 commented on #8167
Thanks.
Sorry for the slow turnaround again.

[2020-04-20 17:10] #8167 closed, assigned to nobody

[2020-04-20 17:27] nkolev92 commented on #9332
Thanks for that update.
When I look into #8565, I'll see if that bug is relevant with no ProjectReference private assets update this bug.

[2020-04-20 17:28] nkolev92 commented on #8565
Relevant issue: https://github.com/NuGet/Home/issues/9332.

Potentially both might be addressed by the same bug fix.

[2020-04-20 17:34] nkolev92 commented on #9090
Why is this in a milestone? :)

[2020-04-20 17:40] nkolev92 commented on #8583
@StingyJack

Did you change it to?

[code]

[2020-04-20 17:48] nkolev92 commented on #2220
Dup of https://github.com/NuGet/Home/issues/2869.

That one is newer but it has more customer engagement.

[2020-04-20 17:48] #2220 closed, assigned to nobody

[2020-04-20 17:49] nkolev92 commented on #8551
Each request to a server is treated individually.
So NuGet won't assume that a request doesn't need creds.

You pointing out that it's the packages endpoint that's failings makes me think that it might be related to: https://github.com/NuGet/Home/issues/2869 since they both use the same underlying infrastructure.

[2020-04-20 18:25] nkolev92 commented on #8832
* The warning message is something that we don't control. (PRI257)
* The installation error from a NuGet perspective is good enough. (NU1202)
* The could not copy the file is a UWP error, and if anything it should be a UWP bug.

So based on that I'm gonna close this issue, because there's nothing actionable from NuGet side.

Thanks for the detailed repro though!

[2020-04-20 18:25] #8832 closed, assigned to nobody

[2020-04-20 18:28] TimothyMothra commented on #9448
Thank you, yes we did confirm that the affected projects are using PackageReference.

Can you help me understand, would the contentFiles be able to differentiate between:
1. a NetCore web project targeting net framework
    - in this scenario, we do not want to inject files. These customers should use the NetCore api.
2. a net framework web project using PackageReference
    - in this scenario, we

[2020-04-20 18:36] zivkan commented on #8810
Closing as a duplicate of https://github.com/NuGet/Home/issues/8703

[2020-04-20 18:36] #8810 closed, assigned to nugetlurker, kartheekp-ms

[2020-04-20 18:41] nkolev92 commented on #1823
Fixing up the issue title as the gallery link part has been fixed: https://github.com/NuGet/Home/issues/5299.

cc @anangaur This requires server work in addition to client work.

[2020-04-20 18:54] nkolev92 commented on #9448
Hey @TimothyMothra

The contentFiles conform to the same best available assets selection as the compile time dependencies in lib.

So for PackageReference, say you have the following files:

[code]

Then the content files will apply to .NET Framework projects but not to the .NET Core ones.

Editing the webconfig would be trickier. note that ASP.NET Core projects changed their config approach to th

[2020-04-20 19:10] nkolev92 commented on #9356
Just summarizing all the information here:

* NuGet 4.x/VS 2017 was built for .NET Framework 4.6.2, so it requires the 4.6.2 runtime or later
* As @rrelyea mentioned, NuGet.exe in 5.x needs the 4.7.2 runtime to work
* The value tuples are available starting with .NET Framework 4.7.0

So the solution here is:

* Install .NET 4.7.2 runtime.

@papeh, @bo-tu can you please try that.

Unclear why NuGet

[2020-04-20 19:36] TimothyMothra commented on #9448
Hey, I think I didn't ask my question clearly. :)

1. Scenario 1
    - ASP.NET Core project
    - targeting net472
    - uses Startup.cs to configure dependencies.
2. Scenario 2
    - ASP.NET Web Project (full framework)
    - targeting net472
    - utilizing PackageReferences
    - uses Global.ascx and web.config to configure dependencies.

If I add this to my package: `contentfiles\cs\net472\myf

[2020-04-20 20:17] zkat commented on #7343
Moving this into the Icebox -- this is fairly low priority for us, considering the impact.

[2020-04-20 20:22] zkat commented on #8879
This is stale, and this scenario does work. Please file a new one with repro steps if you run into this issue again.

[2020-04-20 20:22] #8879 closed, assigned to nobody

[2020-04-20 20:25] nkolev92 commented on #7389
Closing in favor of https://github.com/dotnet/docs/issues/17967

[2020-04-20 20:25] #7389 closed, assigned to nobody

[2020-04-20 20:26] zkat commented on #7483
@anangaur @chgill-MSFT @donnie-msft y'all might want to look at this. I believe it's a fairly small change but requires some product decision making.

[2020-04-20 20:28] zkat commented on #7499
We will probably not do this ourselves, so I've lowered the priority, but we'll gladly take a PR to fix this issue.

[2020-04-20 20:31] zkat commented on #7503
This is some great sleuthing, thank you! We prioritize issues based on upvotes and impact on our users. Please let us know if you continue seeing this issue, and how often you do.

[2020-04-20 20:31] donnie-msft opened #9455 "Are local feeds breaking Merged Metadata?"
User reported on [Developer Community](https://developercommunity.visualstudio.com/content/problem/941818/nuget-date-published-doesnt-match-website.html?childToView=944625) an issue with Published Date showing always "today".

One piece of code I found that should be investigated may be related:
[GetVersionsAsync](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Protocol/Model/L

[2020-04-20 20:32] zkat commented on #7549
@v-luzh do you mind trying to repro this to see if it's still happening?

[2020-04-20 20:36] zkat commented on #7576
Closing in favor of https://github.com/NuGet/Home/issues/9035

[2020-04-20 20:36] #7576 closed, assigned to nobody

[2020-04-20 20:37] nkolev92 commented on #7575
I think a Properties option like @mletterle suggests is the direction here instead of a configuration specific switch.

[2020-04-20 20:38] zkat commented on #7610
@anangaur @chgill-MSFT please note this and whether it's something we'll prioritize. :)

[2020-04-20 20:42] zkat commented on #7669
We've improved certain things in the past couple of months regarding msbuild solution building for large projects, and this may have been addressed. We just need to investigate with the repros sent to us and see if there's anything left to do here. :)

[2020-04-20 20:43] aortiz-msft commented on #8377
Thank you for the feedback. We prioritize issues based on impact and upvotes from the community. Because of this, we don't know when/if we will be able to get to this issue. However, we'd happily take PRs for improvements here.

[2020-04-20 20:45] zkat commented on #7751
This is a duplicate of some existing issues, so whoever gets this please investigate and close this issue appropriately.

[2020-04-20 20:49] zkat commented on #7785
Closing in favor of Central Package Version Management (https://github.com/NuGet/Home/issues/6764)

[2020-04-20 20:49] #7785 closed, assigned to nobody

[2020-04-20 20:51] zkat commented on #7789
hey @dominoFire could you please follow up on this?

[2020-04-20 20:52] zkat commented on #7792
@aortiz-msft note to sync with partners about this.

[2020-04-20 20:59] zkat commented on #7852
@anangaur @chgill-MSFT this needs an official product decision.

[2020-04-20 21:10] nkolev92 commented on #9452
Visual Studio 2019 has this functionality.

I'd think about it the other way around though.
All the projects that currently in the solution need to have been restore and built succesfully on the commandline( or in a solution where *all* the projects are available).

On a technical level, both restore and build will use assets from that project's obj/bin directories.

So say you have:
A, B, C, D in

[2020-04-20 21:16] nkolev92 commented on #9452
In general, maybe this scenario deserves some docs, but the solution filters feature covers it well, because they talk about one complete solution and filters on top of it.

[2020-04-20 21:22] nkolev92 commented on #9448
Scenario 1 is not possible.
ASP.NET Core projects by default cannot target net472. They are .NET Core based on.

[2020-04-20 21:49] nkolev92 commented on #9417
Thanks,
I can repro and I've updated the title to reflect the exact issue.

[2020-04-20 21:59] KirillOsenkov commented on #7575
Yes, I'd love to have that. That would be a better and more general solution.

[2020-04-20 22:02] nkolev92 commented on #7575
Note that I'm not sure we'll be able to get this to this soon, but we'd be open to taking a contribution.

[2020-04-20 22:07] replaysMike commented on #6043
Relying on `PrivateAssets="all"` (while works) is not a great solution here because this prevents you from returning any data types defined in those assemblies. Ideally, we would be able to just suppress the dependency generation in nuget packages on its own without resorting to manually editing it after.

[2020-04-20 22:28] StingyJack commented on #8583
@nkolev92 - nope, that's not what the example had. I figured that out later for a different package once I finally hacked the nuspec.xsd so I could get intellisense support for nuspec and saw what it wanted.

Its been a few months since I've had to make a package and was unpleasantly surprised by this extra bit of complexity and ongoing maintenance for a simple package. It used to be dead simple t

[2020-04-20 23:11] nkolev92 commented on #8583
The example maybe can be improved but it's recommending removing the dependencies element and only using the dependencyGroup element.

It's effectively saying do:
[code]

Created a docs issue: https://github.com/NuGet/docs.microsoft.com-nuget/issues/2005

[2020-04-20 23:22] #4069 closed, assigned to zhili1208

[2020-04-20 23:22] TimothyMothra commented on #9448
I think you're missing my point.
If I change my example to net461, can a package install differentiate between Scenarios 1 & 2?

----

Visual Studio will create an ASP>NET Core web app targeting net461 by default:
![image](https://user-images.githubusercontent.com/28785781/79808571-0fc6c400-8323-11ea-914a-22ebac02261c.png)

[2020-04-20 23:25] nkolev92 commented on #9448
I see.
It won't be able to do that.
The selection pivot is the target framework.

[2020-04-20 23:34] TimothyMothra commented on #9448
thank you. that's what i needed to know.

[2020-04-20 23:39] nkolev92 commented on #9448
At this point those are all the pivots we allow.

Closing the issue per the last comment.

[2020-04-20 23:39] #9448 closed, assigned to nobody

[2020-04-20 23:41] aortiz-msft commented on #8890
@silkfire The fix is available in 16.5.

[2020-04-21 00:10] aortiz-msft commented on #7495
Thank you for the feedback. We prioritize issues based on impact and upvotes from the community. Because of this, we don't know when/if we will be able to get to this issue. However, we'd happily take a PR for this issue.

[2020-04-21 00:12] aortiz-msft commented on #8261
Thank you for the feedback. We prioritize issues based on impact and upvotes from the community. Because of this, we don't know when/if we will be able to get to this issue. However, we'd happily take a PR for this issue.

[2020-04-21 00:21] aortiz-msft commented on #6408
@v-luzh Does this repro in 16.6?

[2020-04-21 08:02] kulov commented on #7575
One thing worth noting is that selecting configuration using NUGET_RESTORE_MSBUILD_ARGS seems to work on individual project level and does not respect the solution configuration setup.
For example:
Lets say MyApp.sln has configuration called ReleaseSetup.
It also has project MyLib1.csproj with configuration ReleaseSetup and second project MyLib2.csproj with configuration Release.
Solution level co

[2020-04-21 08:42] jcansdale commented on #8646
This has now been fixed at the GitHub Packages end!

Build before the fix was deployed:

![image](https://user-images.githubusercontent.com/11719160/79843082-a80b8a00-83b1-11ea-945a-de61ac612834.png)

...buld after:

![image](https://user-images.githubusercontent.com/11719160/79843122-b6f23c80-83b1-11ea-88ca-0ded5219c808.png)

Looks like it's working! 🎉

@jirikopecky could you confirm and close th

[2020-04-21 08:54] merravid commented on #6763
In packages.config we used to be able to restrict updates of a specific package using allowedVersions, for example:

`<package id="RestSharp" version="105.2.3" allowedVersions="[105.2.3]" targetFramework="net472" />`

This is very useful when there are compatibility issues.

Is this possible with PackageReference?

[2020-04-21 11:32] wouterroos commented on #8189
Hi,

I'm not getting this to work on Visual Studio 16.5.4 running NuGet 5.5.1.6542. We've added the icon to our packages using the following entries in the *.csproj:
[code]

This causes it to show up correctly when opening the package in [NuGet Package Explorer](https://github.com/NuGetPackageExplorer/NuGetPackageExplorer) (not in the list view however) but Visual Studio still shows the default bl

[2020-04-21 12:53] simongymer commented on #6408
Not sure as I'm using 16.5.4 (latest version available to us) and the naughty behaviour seems to have been fixed somewhere along the line.

[2020-04-21 13:15] Nirmal4G commented on #9344
This should've been the solution from the begining when Packaging added embedding files at the root for `icon`, `Release` notes, `License` file, etc...

[2020-04-21 16:26] TFTomSun commented on #9452
My scenario is a bit different. I want to bring projects from different repositories together to make cross repository changes and refactorings. For that I have a build sdk, which is referenced by all projects, that can replace the package references with project references.  So I was hoping, that I can simple reference a project outside of the solution and it will be built.

I tried what you said

[2020-04-21 16:50] donnie-msft opened #9457 "VSCT should use standard GUID naming for guidSHLMainMenu"
Our VSCT has been using its own naming for the same GUID that is already used in VS.

We should get rid of `guidReferenceContext` in favor of the `guidSHLMainMenu` . We use both today for some reason.

Dave Kean pointed this out in his [suggestion](https://github.com/NuGet/NuGet.Client/pull/3346#discussion_r411834940).

Search for code and Test the UI/menus to ensure this name wasn't being used el

[2020-04-21 17:49] aortiz-msft commented on #6408
@simongymer Thank you for the information. I suspected this got fixed in 16.5 or 16.6 due to some improvements we did for error handling. It's great to hear that seems to be the case. Please let us know if you do hit similar issues again, though. Thank you everyone for your feedback!

[2020-04-21 17:53] nkolev92 commented on #7919
Closing this as there's nothing actionable remaining from NuGet.

[2020-04-21 17:53] #7919 closed, assigned to nobody

[2020-04-21 17:59] jeffkl opened #9458 "nuget.exe 5.5 fails to restore with MSBuild 14 or below"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): nuget.exe

NuGet version (x.x.x.xxx): 5.5.1

dotnet.exe --version (if appropriate):

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)):

Worked before? If so, with which NuGet version: 5.4.X

## Detailed repro steps so we can see the same problem

1. `nuget.exe restore -MS

[2020-04-21 18:02] joelverhagen opened #9459 "NuGet Pack does not encode file names with non-ASCII characters"
## Details about Problem

**NuGet product used:** nuget.exe
**NuGet version:** 4.6.0 - 5.5.1
**OS version:** Windows 10, version 1909, 18363.778
**Worked before?** yes, 4.5.3

## Summary

Starting in NuGet 4.6.0, the pack command does not encode file names containing some special characters (such as Chinese characters: `中文文件.txt`). This causes older clients and OPC readers to behave incorrectly.

[2020-04-21 18:07] eriawan commented on #8958
@nkolev92
thanks!
So what is the next update related to this issue? Will there any updates on the NuGet.exe client to fix this?
I'd love to submit PR to fix this, as this issue has been quite long time and it's still confusing.

[2020-04-21 18:10] nkolev92 commented on #7575
@kulov

All you do when when you specify that env variable is that NuGet passes that to msbuild when evaluating projects.
Configuration is not a supported pivot for PackageReference based projects because MSBuildProjectExtensionsPath is not configuration based.

[2020-04-21 18:19] nkolev92 commented on #8958
We either remove the version list or try to be smarter about autogenerating it.
NuGet.exe will try to work with any MSBuild version available.

@eriawan Given that this is merely a string change, it's not super high on our bug list.

@NuGet/nuget-client Any ideas about what the string should be?

You can always create a PR changing the string, then we'll get someone from the team to help drive clo

[2020-04-21 18:42] tebeco commented on #8565
thx a lot for the followup @nkolev92

======
Generally speaking, do you know how the community can (if this is possible) follow what's going to be work on and when ?
For example, the `solution wide lockfile` or the `Directory.Package.props|target`
These 2 feature are also kinda related to lockfile => trying to have all thing related to a solution at 1 place, predictable and easily updatable

(i wi

[2020-04-21 19:32] donnie-msft commented on #7483
My opinion... there's a need here to be able to control the default PM UI source. I believe it should certainly be configurable and not simply a "default for PMUI". Since Restore always hits all sources, I assume that was some of the motivation for removing it. But again, this broke a PM UI functionality.

We should either simply return this NuGet.config setting (or create a more specific one) or

[2020-04-21 19:43] anangaur commented on #7483
I do not think a nuget.config setting is required here as it only affects VS. IMO, VS should remember the customers' selection across projects and sessions. So once "All " is selected, it will remain selected.

@ImGonaRot @cremor will this solve this issue?

[2020-04-21 19:45] donnie-msft commented on #7483
@anangaur simply "remembering" is an improvement, but omits their goal of having it configurable via policy. I'm not certain, but I don't think any VS config can access our Package source dropdown, today.

[2020-04-21 19:48] donnie-msft commented on #7483
This is exactly why I advocate for it being configurable. If I open a file -> new project, and want to use nuget.org, now my Internal-only project will have its source set to nuget.org? I think project configuration is key.

[2020-04-21 19:53] anangaur commented on #7483
Too many configurations ruin the experience with configurations 😉. We should choose the right config and its applicability.

[2020-04-21 19:58] zkat commented on #9260
All these changes are being done as part of https://github.com/NuGet/Home/issues/9240

[2020-04-21 19:58] #9260 closed, assigned to rrelyea

[2020-04-21 21:20] kartheekp-ms commented on #9030
Moving this issue to backlog as per https://github.com/NuGet/Home/issues/9029#issuecomment-616680544. This workaround can't be removed from the package signing branch until `net5` is released to GA so that it can be installed on the CI agents. //cc @zkat @heng-liu

[2020-04-21 21:46] donnie-msft commented on #9421
Perhaps start with the [list of Supported Project Types ](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.VisualStudio.Common/SupportedProjectTypes.cs#L14) which our Solution Manager uses for things like determining if an Added project is something that should refresh our PMUI.

[2020-04-21 22:11] tmat opened #9460 "Inconsistent analyzer references between legacy and SDK projects"
NuGet version (x.x.x.xxx):

[code]

## Detailed repro steps so we can see the same problem

Unzip [Repro.zip](https://github.com/NuGet/Home/files/4512818/Repro.zip) and build the solution.

Checking the binlog, the compiler receives different sets of analyzers, even though both projects have the same PackageReference:

![image](https://user-images.githubusercontent.com/41759/79918785-f6d11800-83e1

[2020-04-21 22:11] donnie-msft commented on #7483
Relevant code bit with comment stating we don't persist Package Source dropdown in settings: https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.PackageManagement.UI/Xamls/PackageManagerControl.xaml.cs#L504

[2020-04-21 22:15] nkolev92 commented on #8565
Hey @tebeco some of that is described here: https://github.com/NuGet/Home/blob/dev/designs/ClientDevProcess.md.

The milestone is the key thing here. That covers when we are trying to commit to certain items.
Ofc we don't get to 100% of the items.

[2020-04-21 22:17] kulov commented on #7575
Please ignore - it was related to something else.

[2020-04-21 22:21] nkolev92 commented on #8062
Duplicate of https://github.com/dotnet/NuGet.BuildTasks/issues/69.

[2020-04-21 22:22] #8062 closed, assigned to nobody

[2020-04-21 22:22] nkolev92 commented on #8511
Closing as question. This thing is documented right now.

[2020-04-21 22:22] #8511 closed, assigned to nobody

[2020-04-21 22:25] nkolev92 commented on #8238
Copied to https://github.com/dotnet/NuGet.BuildTasks/issues/75.

[2020-04-21 22:25] #8238 closed, assigned to nobody

[2020-04-21 22:27] donnie-msft opened #9461 "Package source dropdown Tooltip is not always in sync with sources"
## Details about Problem
The tooltip over Package source dropdown in PM UI does not update when modifying package sources.

NuGet product used VS
NuGet version (x.x.x.xxx): 16.6.0
Worked before? Probably never

### Actual:

1. Open PMUI

2. Enable a disabled package source (also may work by simply adding/removing package sources) using the Tools -> Options method of adding package sources.

3. Hov

[2020-04-21 22:30] donnie-msft commented on #3467
Repros still in 16.6.0 Preview 3, only on the Solution PMUI. Project PMUI is fine.

[2020-04-21 22:42] nkolev92 commented on #6716
Hey @rodrigogq,

Thank you for this issue.
Given the packages features that Github announced, I'm closing this feature ask as a won't fix.

[2020-04-21 22:42] #6716 closed, assigned to nobody

[2020-04-21 22:50] bjorhn commented on #8580
I'm having the exact same problem as @JB101UK. I have two private repos set up, they're both designed to build and push packages to GitHub and they're set up with near-identical scripts. In one of the repos the push succeeds 100% of the time, and in the other repo it only succeeds about 20-25% of the time. All I have to do in order to make it work is run the same action over and over until it goes

[2020-04-21 23:25] nkolev92 commented on #9460
NuGet in PackageReference doesn't do anything special about analyzers.
There's an ask for that but it's not been prioritized: https://github.com/NuGet/Home/issues/6279.

This issue probably belongs in the dotnet/sdk & dotnet/NuGet.BuildTasks repos as that's where the targets that interpret the assets file live.

[2020-04-22 00:31] nkolev92 commented on #9459
Probably a consequence of https://github.com/NuGet/NuGet.Client/pull/1855 & https://github.com/NuGet/Home/issues/5956

[2020-04-22 08:31] guitarrapc commented on #8100
I also met both `*.nupkg` and `**/*.nupkg` just push only first package despite setting `--skip-duplicate` or not.

[2020-04-22 09:52] davidroth commented on #8100
Are you on linux?

I have to use quotes on linux, otherwise --skip-duplicate has no effect.
`dotnet nuget push "src/**/src/bin/Release/*.nupkg"`

However, on windows, it seems to work without quotes:
`dotnet nuget push src/**/src/bin/Release/*.nupkg`

[2020-04-22 11:39] guitarrapc commented on #8100
I wasn't knew that, let me try.

[2020-04-22 11:50] guitarrapc commented on #8100
I've confirm `dotnet nuget push "./src/**/*.nupkg"` works on linux. Thanks!!

[2020-04-22 14:50] cremor commented on #7483
I wouldn't really need an configuration option for it. I don't see a use case for anything other than "All" to be selected by default. So if Visual Studio would always select "All" I would be happy.

[2020-04-22 15:32] ghost1372 opened #9462 "Running a script after package installation doesn't work on .NET Core 3.0"
Hi, I have a script that needs to be run after the package is installed. This works well in .NET Framework. But in .NET Core 3.0, the script does not run

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

dotnet.exe --version (if appropriate): 5.3.1.6268

VS version (if appropriate): 2019 16.6 pre 3

OS version (i.e. win10 v1607 (14393.321)): win 10 - 18363

[2020-04-22 15:38] osmodies commented on #9073
Hi, Excuse me for my english

1. Attach nuspec of create package
[PipelineComponenteestaticobase.txt](https://github.com/NuGet/Home/files/4517084/PipelineComponenteestaticobase.txt)
[ComponentesEstaticosBase.nuspec.txt](https://github.com/NuGet/Home/files/4517085/ComponentesEstaticosBase.nuspec.txt)

2. After add in web applicacion the package created and published in Azure Artifacts
![image](http

[2020-04-22 16:21] harlam357 commented on #5556
@nkolev92 same issue for me using 3.1.201 SDK.

C:\Program Files\dotnet\sdk\3.1.201\Sdks\NuGet.Build.Tasks.Pack\buildCrossTargeting\NuGet.Build.Tasks.Pack.targets(198,5):
 error : '[7.5.1]' is not a valid version string. (Parameter 'value')

[2020-04-22 16:31] Therzok opened #9463 "HttpSourceAuthenticationHandler SemaphoreSlim future proofing"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): Any, I think.

NuGet version (x.x.x.xxx): Any

Worked before? If so, with which NuGet version: Yes, it works, just an improvement in the logic.

## Detailed repro steps so we can see the same problem

1.https://github.com/NuGet/NuGet.Client/blob/1fbc87841107a627c6f4349f733e48c28fcff028/src/NuGe

[2020-04-22 17:42] #9449 closed, assigned to donnie-msft

[2020-04-22 18:47] cristinamanum commented on #9456
Hi @LegendaryB,

The snupkg are not downloaded. The Visual Studio debugger will download the matching pdbs in the debug session.
In order to diagnose the issue, would you mind adding the below information:
1. package id and version that you try to debug
2. the Visual Studio version that you use

[2020-04-22 19:34] zivkan commented on #8583
Some developers like to know what TFMs a package supports, so they have an idea about whether it's going to be compatible with their project before they try to use the package. Although it's not 100% accurate for reasons I won't go into here, the best way (pretty much the only way currently) they can make that decision is by looking at the dependency groups, which both nuget.org and Visual Studio'

[2020-04-22 20:10] cristinamanum opened #9464 "[CPVM-OnBoard] Implicit flow of transitive dependencies"
## Details about Problem

Feature Request
Issue details from customer

In this new CPV world, I'm seeing something very similar cropping up. Here's the scenario:
•	Package A references package B
•	Some projects reference A while others reference B
•	I now have to specify the version for both A and B in my Directory.Packages.props
•	When I bump the version of A, I often get a warning that I am down

[2020-04-22 20:20] cristinamanum opened #9465 "[Feature]: Support overriding centrally managed version on a package reference"
## Details about Problem

Feature request

CPVM support version overrides.

Version overrides are supported as a product of MsBuild flexibility.

**_Option 1:_**  use the Import MsBuild element but there is not a build in experience for the version overrides.

[code]

**_Option 2 :_**  use the MsBuild Update as :
``` <PackageVersion Update="Foo" Version="1.2.3"/> ```

**_Option 3:_**  use the MsBu

[2020-04-22 20:32] cristinamanum opened #9466 "[CPVM-OnBoard] Support inheritance across Directory.packages.props"
## Details about Problem

[2020-04-22 20:37] cristinamanum opened #9467 "[Feature] Error on multiple entries for the same package ids in Directory.Packages.props"
## Details about Problem

Error on multiple entries for the same package ids in Directory.Packages.props.

In the current  design the first declared entry is honored and the others are ignored.

Note: consider the support for version override. See [issue](https://github.com/NuGet/Home/issues/9465)

[2020-04-22 21:48] nkolev92 commented on #1843
Manually moved to https://github.com/dotnet/NuGet.BuildTasks/issues/76.

[2020-04-22 21:48] #1843 closed, assigned to nobody

[2020-04-22 21:49] nkolev92 commented on #1856
Copied to https://github.com/dotnet/NuGet.BuildTasks/issues/77

[2020-04-22 21:49] #1856 closed, assigned to nobody

[2020-04-22 22:02] nkolev92 commented on #7255
Copied to https://github.com/dotnet/NuGet.BuildTasks/issues/78

[2020-04-22 22:02] #7255 closed, assigned to nobody

[2020-04-22 22:08] nkolev92 commented on #1863
Moved to https://github.com/dotnet/NuGet.BuildTasks/issues/79

[2020-04-22 22:08] #1863 closed, assigned to nobody

[2020-04-22 22:10] nkolev92 commented on #2001
Moved to https://github.com/dotnet/NuGet.BuildTasks/issues/80

[2020-04-22 22:10] #2001 closed, assigned to jasonmalinowski

[2020-04-22 22:10] nkolev92 commented on #6755
Moved from: https://github.com/dotnet/NuGet.BuildTasks/issues/81

[2020-04-22 22:10] #6755 closed, assigned to nobody

[2020-04-23 05:05] MagicAndre1981 commented on #6763
this is indeed a great feature missing and [tracked here](https://github.com/NuGet/Home/issues/6566)

[2020-04-23 06:37] #8520 closed, assigned to nkolev92

[2020-04-23 08:17] LegendaryB commented on #9456
Hey @cristinamanum ,

1. CodeMonkeys.Navigation.Xamarin.Forms - version 2.0.4
2. Visual Studio Professional 16.5.4

I also looked at the modules window to verify that the symbols are loaded. But it says they are not loaded. Maybe I really miss something here

[2020-04-23 13:47] v-luzh opened #9468 "[Test Failure] Embedded icon in “Consolidate” tab should be same with the latest installed package icon in “Installed” tab"
## Details about Problem
NuGet version: NuGet Client Release-5.6.x\5.6.0.6578
VS Version: D16.6\30021.205
OS: Windows-10-Enterprise-RS5
## Detailed repro steps
1. Create a solution with two C# Console App (.NET Framework 4.8) in VS and open the PM UI of the solution.
2. Add the DevOps feed (https://pkgs.dev.azure.com/farhub/_packaging/farhub/nuget/v3/index.json) into the Settings->NuGet Package Ma

[2020-04-23 14:23] rainersigwald opened #9470 "Pack with IncludeBuildOutput set to false still adds netstandard as a dependency"
_From @TFTomSun on Thursday, April 23, 2020 2:10:28 PM_

### Steps to reproduce

Create a project file like this:

Project file
[code]
Pack it with:

Command line
[code]
### Expected behavior

The resulting package has no dependency to NetStandard, because I don't include the build output. I would expect a package that can be installed standalone... without any dependency.

### Actual behavior
The

[2020-04-23 17:05] nkolev92 commented on #9168
Hey @code2expert,

The warning you are referring to just suggests that the package itself might not be fully compatible with .NET Core projects.

Are you seeing *any* problems beyond that?

[2020-04-23 17:07] nkolev92 commented on #7870
@v-luzh Can you please try to test this and confirm if it's still reproable.

[2020-04-23 17:07] #8696 closed, assigned to nugetlurker

[2020-04-23 17:08] #7944 closed, assigned to nobody

[2020-04-23 17:12] nkolev92 commented on #7956
Hey all,

We believe that at this point this issue has been resolved on the xamarin/mono side.

Can you please confirm whether you are still having problems?

@knocte @mrward?

[2020-04-23 17:14] nkolev92 commented on #7964
Dup of https://github.com/NuGet/Home/issues/8756

[2020-04-23 17:14] #7964 closed, assigned to nobody

[2020-04-23 17:18] nkolev92 commented on #7965
Hey @albahari,

Thank you for this feedback. We prioritize issues based on the impact & upvotes by the community.
At this point we don't believe we will be able to get to this issue, but we'd be happy to accept a design and PR for this.

[2020-04-23 17:22] nkolev92 commented on #7971
Closing this as the problem seems to be resolved.

[2020-04-23 17:22] #7971 closed, assigned to nobody

[2020-04-23 17:29] zkat commented on #8006
We believe this is a Roslyn issue, so I've reopened the feedback ticket and sent it the right way.

[2020-04-23 17:29] #8006 closed, assigned to nobody

[2020-04-23 17:29] nkolev92 commented on #8014
At this point I don't believe there is a NuGet feature in this ask.

Thank you for your feedback.

[2020-04-23 17:29] #8014 closed, assigned to nobody

[2020-04-23 17:32] zkat commented on #8027
@chgill-MSFT ping :)

[2020-04-23 17:34] nkolev92 commented on #8076
Dup of https://github.com/NuGet/Home/issues/4980

[2020-04-23 17:34] #8076 closed, assigned to nobody

[2020-04-23 17:39] nkolev92 commented on #8153
Closing per the above comment.

[2020-04-23 17:39] #8153 closed, assigned to nobody

[2020-04-23 17:41] #8860 closed, assigned to nobody

[2020-04-23 17:41] nkolev92 commented on #8199
@zivkan Is this still relevant?

Can you close if not?

[2020-04-23 17:43] aortiz-msft commented on #8860
I wasn't able to repro this issue. Pressing Del while a Package is selected brings up the uninstall dialog. Note that the hotkey will not work while the context menu is up.

[2020-04-23 17:46] #8240 closed, assigned to nobody

[2020-04-23 17:46] nkolev92 commented on #8240
@dominoFire Please reopen if there's any work left.

[2020-04-23 17:48] rathanakumar-sekar opened #9471 "Problem with accepting latest dependent version in nuspec file"
## Details about Problem

In our nuspec file we mentioned dependency like this.
`<dependency id="examble" version="16.4.0.16" />`

Latest available "example" NuGet version is "18.1.0.1". But that version does not consider for new NuGet creation and it accepts only 16.4 or 16.6. Because of this, we are facing a compilation issue. We have to manually hardcode the version for every time.

I have trie

[2020-04-23 17:49] zkat commented on #8273
moved to https://github.com/microsoft/msbuild/issues/5310

[2020-04-23 17:49] #8273 closed, assigned to nobody

[2020-04-23 17:50] nkolev92 commented on #8275
Duplicate of #

[2020-04-23 17:52] miloush commented on #8076
The #4980 suggests an automatic cleaning policy. This issue suggests a way to explicitly clear the cache. Even more specifically, this issue suggests an entry in the disk clean-up options. How are the two issues duplicate?

[2020-04-23 17:54] nkolev92 commented on #8297
Thank you reporting this issue. At this point we do not have enough information to continue investigating the issue.
Please feel free to comment or open a new issue if needed.

[2020-04-23 17:54] #8297 closed, assigned to JarahSi

[2020-04-23 17:58] zkat commented on #8331
@clairernovotny we'll totally take a patch to fix this, but it's unlikely we'll get to it ourselves.

[2020-04-23 17:58] nkolev92 commented on #8343
This would break our template wizard implementation. @sharwell is there an MS version of the package in question?

[2020-04-23 18:01] nkolev92 commented on #8346
At this point I don't see us doing this.
We believe that the existence of commits and branches covers this scenario.

Additionally this would require an adoption on the consumer side of this element so the effects would likely take some time to propagate, if ever.

[2020-04-23 18:01] #8346 closed, assigned to nobody

[2020-04-23 18:38] nkolev92 commented on #9057
@anangaur marking this as external so it doesn't show up in our triaging as there's no engineering actionables for this at this point.

[2020-04-23 18:40] nkolev92 commented on #9175
@cristinamanum Is this still relevant?

[2020-04-23 18:44] nkolev92 commented on #9455
@donnie-msft
Can you triage this? Still relevant?
I imagine you only need to move it to the backlog pipeline.

[2020-04-23 18:46] nkolev92 commented on #8492
Thanks for this feedback @SimonCropp

Closing this as dup of https://github.com/NuGet/Home/issues/8058.

[2020-04-23 18:46] #8492 closed, assigned to aortiz-msft

[2020-04-23 18:47] nkolev92 commented on #8058
Another related issue #8492

[2020-04-23 18:50] #9445 closed, assigned to dominoFire

[2020-04-23 18:52] nkolev92 commented on #8312
Hey @Barsonax.

At this point we've updated the docs with some examples and we do not plan to document a migration plan.

Closing as this finished. For additional SDK docs please track https://github.com/NuGet/Home/issues/2243.

[2020-04-23 18:52] #8312 closed, assigned to nobody

[2020-04-23 19:00] sharwell commented on #8343
@nkolev92 There is no alternative package available. DoubleWrites are not a problem by default for projects. Downstream consumers of this package who implement customized tooling to validate not having DoubleWrites will need to incorporate custom logic to address these assemblies.

[2020-04-23 19:06] nkolev92 commented on #8986
Dup of https://github.com/NuGet/Home/issues/1500

[2020-04-23 19:06] #8986 closed, assigned to nobody

[2020-04-23 19:07] nkolev92 commented on #8008
Tracking as dup of https://github.com/NuGet/Home/issues/1500

[2020-04-23 19:07] #8008 closed, assigned to nkolev92

[2020-04-23 19:07] #9422 closed, assigned to nkolev92

[2020-04-23 19:08] #4234 closed, assigned to nkolev92

[2020-04-23 20:31] agr commented on #9344
I have a security concern about that: it enables the SSRF exploitation.
Imagine a public GitHub/ADO/whatever setup where PRs require successful build in order to get merged with builds running on repo owner infrastructure and builds produce a NuGet package. Now, someone makes a change making IconUrl pointing to a URL that is not accessible for the outsider, but accessible for the build pipeline an

[2020-04-23 20:39] zivkan commented on #8199
It was an idea for an intern project, so while still interesting, we have no plans to actually work on it.

[2020-04-23 20:39] #8199 closed, assigned to nobody

[2020-04-23 21:20] nkolev92 opened #9472 "Consolidate the menus across NuGetTools and NuGetClientPackage vscts."
Feedback in https://github.com/NuGet/NuGet.Client/pull/3354#discussion_r413475930.

@donnie-msft suggested consolidating the names of the menu items.

[2020-04-23 21:54] dotMorten opened #9473 "NuGet fails to pack ref-only assemblies"
## Details about Problem

NuGet product used: VS UI, dotnet.exe

dotnet.exe --version (if appropriate): 3.1.201

VS version (if appropriate): 16.5.4

## Detailed repro steps so we can see the same problem

1. Create a new .NET Standard 2.0 class library project.

2. Set `ProduceOnlyReferenceAssembly` to `True`

3. Pack the project (`VS IDE` or `dotnet pack`).

4. Observe the error:
1>------ Build

[2020-04-23 22:28] zivkan commented on #9035
I think we investigated this weeks ago.   What we found at the time:

https://github.com/microsoft/msbuild/blob/b111470ae61eba02c6102374c2b7d62aebe45f5b/src/MSBuild/XMake.cs#L1202

Which is used here:

https://github.com/microsoft/msbuild/blob/b111470ae61eba02c6102374c2b7d62aebe45f5b/src/MSBuild/XMake.cs#L1223-L1231

which calls a special `ExecuteRestore` method that sets additional flags:

https:

[2020-04-23 22:32] nkolev92 commented on #9035
I think the actionable is the one from: https://github.com/NuGet/Home/issues/7576, where NuGet.exe behaves differelty from dotnet/msbuild restores.

So either making it consistent or documenting it.

[2020-04-23 22:48] SimonCropp commented on #8492
@nkolev92 note i actually made two comments with potential different bugs

[2020-04-23 22:54] nkolev92 commented on #8492
@SimonCropp The 2nd one is a consequence of the server implementation.

The pages are not generated files, rather they are blobs.
So even if we don't care for prerelease pacakges we still might need to hit those urls to get the metadata for the stable packages out of there.

[2020-04-23 22:59] dazinator commented on #7921
I've tried everything in this thread, Yet when my build runs on azure pipelines I get these errors:

         Package content hash validation failed for runtime.osx.10.10-x64.runtime.native.System.Security.Cryptography.Apple.4.3.0. Expected: Kh9W4agE0r/hK8AX1LvyQI2NrKHBL8pO0gRoDTdDb0LL6Ta1Z2OtFx3lOaAE0ZpCUc/dt9Wzs3rA7a3IsKdOVA== Actual: kVXCuMTrTlxq4XOOMAysuNwsXWpYeboGddNGpIgNSZmv1b6r/s/DPk0fYMB7Q

[2020-04-23 23:04] dazinator commented on #8574
The linked issue hasn't solved this for me.

[2020-04-23 23:23] dazinator commented on #7921
I've got to the bottom of my issue. @ctaggart 's steps do work, but not if you accidentally use the latest preview when generating the lock files locally.

I was doing the following to regenerate the lock files locally:

but the dotnet sdk was accidentally:

3.1.300-preview-015095

The azure pipelines hosted agent is on dotnet sdk 3.1.201

This caused all the mismatches from what I can tell. Using

[2020-04-23 23:27] dazinator commented on #8574
Correction - the linked issue docs do work for me but not if I use `3.1.300-preview-015095` sdk to generate the local package.lock files, and the azure pipelines build server is using dotnet sdk 3.1.201. If I use 3.1.201 both to generate and restore it works.

[2020-04-23 23:37] nkolev92 commented on #8343
@davkean's link contains a Microsoft.VisualStudio.TemplateWizardInterface.dll coming from a package with the same name.

Investigating it's on the https://dotnet.myget.org/F/roslyn-tools/api/v3/index.json feed,
https://dotnet.myget.org/F/roslyn-tools/api/v3/registration1/microsoft.visualstudio.templatewizardinterface/8.0.0-alpha.json

Adding this to quality week @aortiz-msft

[2020-04-24 02:39] donnie-msft commented on #9190
Have been wanting to rid our CommandRunnerResult from the `Item1`, `Item2`, `Item3` in favor of only `Success`, `Errors`, `AllOutput`. This may be a good opportunity to do that.

[2020-04-24 06:17] zarenner commented on #8791
@jeffkl @rrelyea Finally gave this a try, and it shaved at least 10 seconds off for us 🎉
Thanks for all the work here.

We're still at ~6 seconds for ~500 projects / ~200 centrally managed packages, but I'm hoping that's small enough to convince my team to get rid of our ugly broken hacks for skipping restore entirely.

Do you know which 3.1 dotnet SDK this will make it into and when? Looks like i

[2020-04-24 07:05] v-longmin commented on #9045
Verify the issue on D16.6\30023.158 with Implicit NuGet Client Release-5.6.x\5.6.0.6558, it has been fixed, close it, thanks.

[2020-04-24 07:05] #9045 closed, assigned to nobody

[2020-04-24 07:50] MikeRosoft opened #9474 "Transitively include targets and content files from referenced packages"
Scenario: I have a solution with many projects, which we want to publish as NuGet packages. (In addition, we want to be able to debug them in Visual Studio.)  The projects reference each other, and also reference other NuGet packages, e.g. to bring unmanaged libraries to project output.

By default, when I reference a NuGet package, its build targets and content files are brought to the first refe

[2020-04-24 09:34] Vishallogin2050 opened #9475 "Unable to install Azure Module through Powershell"
When trying to Install Azure Module through Powershell , shows gives the below message :

Please ensure that '2.8.5.201' or newer version of NuGet provider is installed

However unable to install the mentioned.

Please help

[2020-04-24 12:59] #9263 closed, assigned to zivkan

[2020-04-24 15:21] ihorbond commented on #2978
@larrybud2004 thanks!

[2020-04-24 16:03] zivkan opened #9476 "Test: UninstallFromPMCForPC_SucceedAsync is flaky"
The test `NuGet.Tests.Apex.AuthorSignedPackageTestCase.UninstallFromPMCForPC_SucceedAsync(projectTemplate: ClassLibrary)` has timed out on at least two builds: [1](https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=3669401&view=logs&j=54d34e6c-10d1-5f6f-0d73-85c1fa19385b&t=2bc2bfed-4a11-5a5c-814b-223591eb3d53), [2](https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=3672284&vi

[2020-04-24 16:25] jeffkl commented on #8791
@zarenner I think its only available in 5.0 preview 2.  The insertion was made here:
https://github.com/dotnet/sdk/pull/10869

https://dotnet.microsoft.com/download/dotnet/5.0

[2020-04-24 17:24] zarenner commented on #8791
Yeah that's where I tried it from. In https://github.com/NuGet/Home/issues/9267 looks like it was mentioned it might make it in 3.1.300? Is that still the case? /cc @nkolev92

[2020-04-24 17:25] aolszowka commented on #8791
@jeffkl

Is there anything programmatic that we can gather to give higher quality evidence to show speed ups on the restore?

[2020-04-24 17:29] jeffkl commented on #8791
The best way to measure it is to install MSBuild 16.5+ and restore from the root 3 times:

[code]

The first restore might pull packages and isn't considered a no-op.  The second and third restores are no-op restores without my optimization on and then with it on.

In a large repo with ~740 projects it used to take around 30 seconds and now it takes 7.

[2020-04-24 18:01] AArnott opened #9477 "PackTask should report build error after logging errors"
SDK version: 3.1.201
OS: Windows 10

The `dotnet pack` command incorrectly returns an exit code of 0 even after experiencing and printing errors (where `TreatWarningsAsErrors=true` has been set). This allows Azure Pipelines (for example) to proceed to build and report success and ship software even when errors occurred during the pack.

For example, this Azure Pipeline should have failed, but proc

[2020-04-24 18:03] AArnott commented on #9477
The bug appears to be that the `PackTask` [uses `return true;`](https://github.com/NuGet/NuGet.Client/blob/23f38852e43830453508a0a3cdcfab2a83382795/src/NuGet.Core/NuGet.Build.Tasks.Pack/PackTask.cs#L140) in non-exceptional cases.

But the MSBuild Task pattern is to instead `return !Log.HasLoggedErrors;`, as can be [clearly seen](https://github.com/microsoft/msbuild/search?q=hasloggederrors&unscope

[2020-04-24 18:30] rrelyea commented on #2978
@anangaur @aortiz-msft - not sure if we can dupe this to another issue tracking handling unavailable sources better that we do today?

[2020-04-24 18:36] nkolev92 commented on #8791
Looking at it, I don't think 3.1.300 ever happened :(

[2020-04-24 18:42] zarenner commented on #8791
That's a bit disappointing. When's the earliest non-preview release you think we might be able to use it?

[2020-04-24 18:45] nkolev92 commented on #8791
@zarenner
Not sure yet. Started a discussion to get it into a 3.1.xxx branch: https://github.com/dotnet/sdk/issues/11420

[2020-04-24 19:31] nkolev92 commented on #9477
Dup of https://github.com/NuGet/Home/issues/7404.

[2020-04-24 19:31] #9477 closed, assigned to nobody

[2020-04-24 19:42] AArnott commented on #7404
From linked bug, here's what I believe is the source of the bug:

[2020-04-24 19:52] jaypeeZero opened #9478 "NuGet command line times out on bad internet connection while other services operate correctly."
## Details about Problem
I live out in the boonies and have an internet connection that has a very unique problem.  If my internet reaches peak bandwidth usage on upload connections it will effectively drop to basically no bandwidth available.  This is 100% reproducible by uploading a large file, *or using dotnet command line tools that interact with nuget*.  I will go from 12Mbps down, 3Mbps up,

[2020-04-24 19:57] rrelyea commented on #9478
generally, our goal is to saturate the CPU and network as much as possible for as long as restore is running. (as opposed to taking 50% of the bandwidth and doubling restore time)

That said, perhaps in your network situation that doesn't work well?
Perhaps `dotnet restore --disable-parallel` would use fewer threads, and therefore slow down how many network requests are happening in parallel?

[2020-04-24 20:03] jamespwright commented on #9478
@rrelyea I have tried adding `--disable-parallel` and it has no effect on the problem.
Currently I'm testing throttling my own upload speed using Network Link Conditioner, which is an XCode tool.  This appears to save my internet connection (I don't drop below 1Mbps down when using `dotnet restore`, but does not seem to effect the speed of nuget package downloads.

I'm actually confused about one

[2020-04-24 20:10] jamespwright commented on #9478
Throttling my upload bandwidth to 400kbps appears to allow `dotnet restore` to work, albeit very, very slowly.
My download bandwidth is currently unthrottled (and according to various speed test sites should be reaching my full 12Mbps/down speeds).
So, **downloading** nuget packages seems very clearly linked to my internet's **upload** speed.

[2020-04-24 20:34] #1783 closed, assigned to nkolev92

[2020-04-24 21:29] Thraka commented on #7389
Just to close the loop, those tutorials were rewritten a long time ago and do not use `nuget.exe` at all anymore. Instead they use the `<PackageType>Template</>` syntax along with `dotnet pack`.

[2020-04-24 23:09] #9428 closed, assigned to nkolev92

[2020-04-24 23:34] #9458 closed, assigned to nugetlurker, jeffkl

[2020-04-25 01:23] tdykstra opened #9479 "Print which feed a package was resolved from"
Transferred from https://github.com/dotnet/docs/issues/12713

The request is to show which feed a package was resolved from when .NET Core CLI command `dotnet restore` is run either explicitly or implicitly.

[2020-04-25 02:18] nkolev92 commented on #4989
Hey all,
the NuGet.Client side change has been merged.
However, this is a multi product feature. So I'm working on making sure the experience works end to end before I close this issue.

You can track the effort in the following issues:

https://github.com/dotnet/sdk/issues/10947 The build tasks on (.NET Core SDK side)
https://github.com/dotnet/NuGet.BuildTasks/issues/7 The build tasks for the non

[2020-04-25 10:34] msallin commented on #8189
I've the same problem as described by @wouterroos

[2020-04-25 18:00] anangaur opened #9480 "Message to use lock files upon detection of floating versions"
Details to follow.
https://twitter.com/isaac_abraham/status/1254097848863465477?s=21

[2020-04-26 03:53] Condor2708 commented on #545
I can't believe that we are in 2020 and there is no solution to sqlproj using nuget references.

[2020-04-26 12:53] mrward opened #9481 "NuGet.Indexing 5.6.0 preview 3 and later use a different public key token"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (x.x.x.xxx):  5.6.0 preview 3

dotnet.exe --version (if appropriate):

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)):

Worked before? If so, with which NuGet version:  5.6.0 preview 2

## Detailed repro steps so we can see the same problem

NuGet.Indexin

[2020-04-26 15:31] StingyJack commented on #545
@heng-liu  what is the `Pipeline:Icebox` tag supposed to indicate?

[2020-04-26 19:13] heng-liu commented on #545
Hi @StingyJack , sorry for confusion caused, but the Pipeline label is an newly added label for internal use.

[2020-04-26 22:31] zivkan opened #9482 "Add `-binlog` switch to build.ps1"
Binlogs are useful to debug builds. It should be easier to get this with NuGet's build script.

[2020-04-27 03:13] txwizard commented on #3050
I see this issue has dragged on for nearly 4 years, without an end in sight. There must be some powerful forces wanting to ram SemVer down everyone's throats.

[2020-04-27 05:34] kartheekp-ms commented on #9482
Thanks @zivkan for creating this issue. Couple of days we reported an to issue to .NET tools team about  `.NET Core SDK` resolved `16.4 version of MSBuild` even though `Microbuild` team confirmed that the machine has `16.5 version of msbuild.exe`. In response to our request, .NET team asked us provide `binlog of the restore operation to capture more information the next time this happens`. Can we

[2020-04-27 08:46] RathanakumarSekar commented on #9471
Hi Team,

Any update on this?

[2020-04-27 09:58] PhilippElhaus commented on #8017
i can confirm that this is still a bug in VS2019... (16.4.5)

[2020-04-27 10:07] v-luzh commented on #7549
Hi @zkat,This issue doesn’t repro on VS Master\30020.139.

[2020-04-27 10:16] LegendaryB commented on #9456
Any tips / ideas?

[2020-04-27 12:48] zivkan commented on #9482
Our CI doesn't use `build.ps1`.

In order to get binlogs on CI, in the relevant places in our YAML that use the msbuild task, we need to use the `-bl` switch, and anywhere we call msbuild indirectly (like E2E test's `runFunctionalTests.ps1`), we need to modify the script to use `-bl`). Finally, we need to modify the yaml to publish the binlog files as a build artifact, so we can access it.  Let's

[2020-04-27 14:04] anangaur commented on #2978
Dupe of the following issue:
NuGet Restore/Update does not work when unrequired package sources are unavailable #6373

[2020-04-27 15:09] #9133 closed, assigned to heng-liu

[2020-04-27 16:43] cristinamanum opened #9483 "[CPVM-OnBoard] Rejected transitive central dependencies should be removed from the restore graph."
## Details about Problem

The Restore of projects opted-in CPVM fails with 'System.Collections.Generic.KeyNotFoundException" if a central dependency is part of a sub graph that was rejected.
Using the attached example, the exception happens because the central dependency "System.IO.Compression.ZipFile" is added to the graph as dependency on NETStandard.Library >= 1.6.1.

However the NETStandard.Li

[2020-04-27 17:06] #7549 closed, assigned to nobody

[2020-04-27 17:07] zkat commented on #7549
Closing because we don't have a reliable repro

[2020-04-27 17:32] nkolev92 commented on #9301
This won't fit 169.
Other things are higher pri.

[2020-04-27 17:45] nkolev92 commented on #9481
Probably a consequence of https://github.com/NuGet/NuGet.Client/pull/3309.

It wasn't intentional.

Given how late we are in the 5.6, don't think we'd consider another insertion, but maybe we can fix the packages.

cc @aortiz-msft Thoughts?

The mean time, I'd take the downgrade and use 5.5 of indexing. We haven't really changed any functionality there.

[2020-04-27 17:49] nkolev92 commented on #9481
@mrward Do you use the previews or stable releases in VS4Mac?

[2020-04-27 18:19] mrward commented on #9481
@nkolev92 Usually we use stable releases but we needed to update to 5.6 preview to get .NET 5 support working.

It is not a problem for us - was just logging it since it seemed wrong that the token had changed and was something that might be affecting other things.

[2020-04-27 18:23] nkolev92 commented on #9481
Ahh, ok.
Thanks for the clarification.
This helps me prioritize it correctly.

I'll revert it back to the old key, but I'll only do that in 5.7 then.

[2020-04-27 20:13] nkolev92 commented on #8373
Hey all,

We think the appropriate fix for this issue to improve the error message.
We do not think we'll be able to get to this soon enough, but we would consider taking a fix if anyone is interested.

[2020-04-27 20:28] nkolev92 commented on #8431
Closing as I believe the question has been answered.

Thank you for your feedback.

[2020-04-27 20:28] #8431 closed, assigned to nobody

[2020-04-27 20:29] nkolev92 commented on #8435
Closing this as question.

Please follow https://github.com/NuGet/Home/issues/8623 for updates on the docs.

[2020-04-27 20:29] #8435 closed, assigned to nobody

[2020-04-27 20:30] nkolev92 commented on #8438
@dominoFire @rrelyea

Is this a dup of the phantom package in the list issue?

Can it be closed?

[2020-04-27 20:40] nkolev92 commented on #8461
Note for the implementer: Once we get deep down in this codepath, we don't really know the original action.
This change might be more expensive than intended.

[2020-04-27 20:48] nkolev92 commented on #8501
This is an ask for old project system & csproj style projects.
Currently the project Properties are owned by the project system, not by NuGet.

While nice, don't think this is high on our priority list right now.

[2020-04-27 20:55] nkolev92 commented on #8525
Thank you for this feedback.

We believe that the package identifier should remain the package id and version.
If you want additional protection for this, the lock files ensure repeatability by including the sha of the package in question.

[2020-04-27 20:55] #8525 closed, assigned to nobody

[2020-04-27 20:57] nkolev92 commented on #8530
Closing as I believe this issue has been addressed.

Thank you for your feedback.

[2020-04-27 20:57] #8530 closed, assigned to nobody

[2020-04-27 20:59] nkolev92 commented on #8542
Thank you reporting this issue. At this point we do not have enough information to continue investigating the issue.
Please feel free to comment or open a new issue if needed.

[2020-04-27 20:59] #8542 closed, assigned to nobody

[2020-04-27 21:06] wmhhayes commented on #8530
Yes,  Thanks!  Thought I had closed it myself some time ago.

Best wishes,

William Hayes
Information Systems Security Analyst | Security
William.Hayes@saionline.com<mailto:William.Hayes@saionline.com>

Securities America
12325 Port Grace Blvd. • La Vista, NE 68128
LinkedIn<https://www.linkedin.com/company/securities-america-inc/> | Facebook<https://www.facebook.com/SecuritiesAmericaInc/> | Twitte

[2020-04-27 21:33] nkolev92 commented on #2869
The work in https://github.com/NuGet/NuGet.Client/pull/3273, might fix this issue thanks to @BlackGad.

We'd need to validate that first though.
The test to confirm this fix would need to be happen in
https://github.com/NuGet/NuGet.Client/blob/dev/test/NuGet.Clients.Tests/NuGet.CommandLine.Test/NuGetListCommandTest.cs.

We'd like need to change the mock server to watch for the auth headers.

[2020-04-27 21:53] nkolev92 commented on #2122
Closing this per the above.

[2020-04-27 21:53] #2122 closed, assigned to nobody

[2020-04-27 22:05] nkolev92 commented on #9470
I think you are looking for https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#suppress-dependencies.

Unfortunately we can't overload IncludeBuildOutput to have the same behavior because that ship has long sailed and it'll cause an arguably unnecessary breaking change.

[2020-04-27 22:05] #9470 closed, assigned to nobody

[2020-04-27 22:07] nkolev92 commented on #8503
Dup of https://github.com/NuGet/Home/issues/5926.

[2020-04-27 22:07] #8503 closed, assigned to nobody

[2020-04-27 23:12] heng-liu opened #9484 "Use the latest packages for xplat verification"
We're using version 5.0.0-alpha1.19473.1 of the following two packages:
System.Security.Cryptography.Pkcs
System.Security.Cryptography.Cng

We should use the latest version instead.

[2020-04-28 00:40] #9482 closed, assigned to zivkan

[2020-04-28 04:02] xxl-cc opened #9485 "Packagereference cannot automatically download npgsql dependencies, such as system.runtime.compilerservices.unsafe"
Packagereference cannot automatically download npgsql dependencies, such as system.runtime.compilerservices.unsafe。
Because the assembly in app.config was not automatically deleted during upgrade

[2020-04-28 07:31] #9485 closed, assigned to nobody

[2020-04-28 09:06] rizi commented on #8797
It's also not possible to suppress the NU1702 warning with:
`<NoWarn>
    NU1702
</NoWarn>`

is there any solution that NU1702 does not generates a warning?
br

[2020-04-28 09:33] v-luzh opened #9486 "Auto-refresh doesn’t work in “Browse” and “Update” tab after installing the package which goes to “readme.txt” first"
## Details about Problem
NuGet version: NuGet Client Dev\5.7.0.6595
VS Version: Master\30027.154
OS: Windows-10-Enterprise-RS5
## Detailed repro steps
1. Create a Console App (.NET Core 3.1) in VS and open the PM UI of the project.
2. Go to “Browse” tab and install the package “Castle.Core”.
3. “Readme.txt” is opened automatically and click the PM UI window again.
## Expected
The package should be

[2020-04-28 11:25] jmezach commented on #545
@Condor2708 Have a look at [MSBuild.SdkSqlProj](https://github.com/jmezach/MSBuild.Sdk.SqlProj)

[2020-04-28 12:11] Condor2708 commented on #545
Hi @jmezach ,
In the company i am working the whole datbase build is working with sqlproj and i think it is not possible to change it.
I was playing around with the MSBuild.Sdk.SqlProj and it is a very good library.

The solution I am working on is using MSBuild:
- I have two tasks one to create dacpacs with Nuget v3 core libraries and one used to Install dacapcs (this post helps me a lot understa

[2020-04-28 13:49] v-luzh opened #9487 "[Test Failure][Unstable]The info in the “Preview Changes” window is not correct when trying to uninstall local packages from the existing solution"
## Details about Problem
NuGet version: NuGet Client Dev\5.7.0.6595
VS Version: Master\30027.154
OS: Windows-10-Enterprise-RS5
## Detailed repro steps
1. Opne an exist solution that already installed several embedded icon packages.
2. Open the solution PM UI and go to “Installed” tab.
3. Choose an embedded icon package and click “Uninstall” button.
## Expected
The info in the prompt “Preview Chang

[2020-04-28 13:58] anangaur commented on #9057
Seems like the GitHub team is internally tracking this issue.  Seems like related issue has been marked solved here: https://github.community/t5/How-to-use-Git-and-GitHub/Used-by-counter-not-showing-main-project/td-p/37688

I think we should be able to close this issue as its external.

[2020-04-28 14:01] anangaur commented on #8646
I have forwarded the issue to GitHub folks. But I also see it seems to have been fixed. @jirikopecky can you confirm if your issue has been fixed?

[2020-04-28 14:40] jirikopecky commented on #8646
Hello, I am currently out of office. I will be able to verify it in the week of 11th May

[2020-04-28 18:21] #9451 closed, assigned to nkolev92, nugetlurker

[2020-04-28 18:30] #9463 closed, assigned to nugetlurker, kartheekp-ms

[2020-04-28 18:37] nkolev92 commented on #9057
Sounds good.
Thanks @anangaur

[2020-04-28 18:37] #9057 closed, assigned to anangaur

[2020-04-28 20:45] Fronix commented on #8580
So I've tried everything.. I've been in all the posts and all the issue threads and there is just no way to get this to work without applying some good old fashioned brute force 🔨🔨🔨

The following is the only thing that works for me, without having to re-run the job.

[code]

[2020-04-28 21:52] donnie-msft opened #9488 "PMUI has XAML Binding Failures on Packages List item selection"
1. Launch PMUI (tested for Solution with Default Tab=Installed), then Clear the Debug Output Window (to ignore errors from the Load).
2. Select a Package in the packages list of Installed tab.
3. Observe a number of XAML binding errors after selection.

It's unknown whether these are causing tangible issues for users. I simply observed them while debugging.

- System.Windows.Data   Error: 5 : Valu

[2020-04-28 21:52] donnie-msft opened #9489 "PMUI has XAML Binding Failures on Load"
1. Launch PMUI (tested for Solution with Default Tab=Installed), then Clear the Debug Output Window (to ignore errors from the Load).
2. Select a Package in the packages list of Installed tab.
3. Observe a number of XAML binding errors after selection.
This is prior to selecting an item.

It's unknown whether these are causing tangible issues for users. I simply observed them while debugging.

###

[2020-04-28 23:08] wackoisgod commented on #5413
@rrelyea What is the status of this? I ask because I have a MSBuild SDK that provides a custom framework resolution and when I do a msbuild for the solution file it works fine, but if do a `dotnet build` of the same solution file I get `Invalid restore input. Invalid target framework 'unsupported'`

Is it just expected that MSBuild SDKs will only ever be support through msbuild? and `dotnet build`

[2020-04-29 01:45] donnie-msft opened #9490 "Package Manager Settings Help Button (?) in VS2019 opens outdated VS2015 specific Docs"
Visual Studio 2019 NuGet Settings dialog in `Tools ->NuGet Package Manager -> Package Manager Settings` has a Help Button (?) which opens the Docs page specific for vs2015.

Selecting "?" in the top right....
![image](https://user-images.githubusercontent.com/49205731/80553601-72aa0200-8998-11ea-8551-7ffd94f4f7b8.png)

.....opens this [Docs Page](https://docs.microsoft.com/en-us/visualstudio/ide/a

[2020-04-29 02:01] donnie-msft commented on #9486
This regressed as part of work to improve Browse tab perf (https://github.com/NuGet/NuGet.Client/pull/2908) in July 2019 so likely 16.3 ish.

Users complained that there are too many refreshes happening, so this PR made the Browse tab not refresh automatically.
Installing may have a callback we can use to refresh at least the node selected (or the entire tab) once the PackageReference update is co

[2020-04-29 02:35] donnie-msft commented on #9475
We'd need you to provide the details requested in the Issue template, such as NuGet version, which product you're using, and the exact repro steps.

[2020-04-29 03:33] donnie-msft opened #9491 "Show Preview Window setting - minor refactor / redesign"
Consider whether we should be using the Registry to persist the "Show preview window" setting in the PMUI.  This isn't an ideal use of the Registry.

![image](https://user-images.githubusercontent.com/49205731/80558448-6cbc1d00-89a8-11ea-938b-446e0878aa6e.png)

Investigate whether we can move this setting to the VS Settings API ([current Setting logic](https://github.com/NuGet/NuGet.Client/blob/de

[2020-04-29 03:37] dominoFire commented on #9321
@v-luzh Followed the instructions to repro the issue. But, I don't understand the issue. Could you help me indicating what are the expected scenarios in each tab?

Version details:

- 1.0.0: It does not have an icon (none)
- 1.1.1: It has an embedded icon (brown)
- 1.1.4: Latest version available in nuget.org

Tab scenarios:

Browse: It shows latest version available in feed: 1.1.4 (green)

![imag

[2020-04-29 06:34] VijayHugar commented on #9048
@xymunter We also faced this issue after updating Nuget to latest version. I was referring to old MSBuild due to cache. So after setting the flag 'Disable local cache', it picked up latest MSBuild and task got succeeded. Please refer below screen shot for the flag.

![image](https://user-images.githubusercontent.com/45289253/80566873-8f365080-8a11-11ea-9b67-ae7cc61a5f5f.png)

[2020-04-29 08:12] SebastianJust commented on #5805
I expire the same problem, when the solution has multiple projects in VS.16.5.4.
Package Manager Host version 5.5.0.6473.

[2020-04-29 08:12] SebastianJust commented on #5805
Does anybody has a work around until it, maybe, is fixed?

[2020-04-29 08:22] sfilipi opened #9492 "NuGet Restore from private feed: The underlying connection was closed: An unexpected error occurred on a send."
## Details about Problem

NuGet product used : Tried all of them:
* VS 2019 UI | 16.5.4
* dotnet.exe |
* Package manager console 5.5.0.6473
* NuGet.exe version 5.5.1.6542

OS version : Version 10.0.18363.778

Worked before? If so, with which NuGet version:
Worked until 5 days ago.

## Detailed repro steps so we can see the same problem

I am trying to restore the packages on my Windows 10 Surface

[2020-04-29 10:12] fabich opened #9493 "Running dotnet nuget push on GPR randomly fails"
## Details about Problem

Error:
[code]

dotnet --version 3.1.201
dotnet nuget --version 5.5.0.4
OS version: ubuntu-latest

## Detailed repro steps so we can see the same problem
Running the following action:
[code]

## Workaround
[code]
There is a similar issue #8580 that has been closed but I don't think that the suggested workaround works.

[2020-04-29 13:01] bsweb opened #9494 "Does NuGet work with .net core?"
Hi,

I have created a few simple .net core apps recently. I have just started to use on a bigger project and NuGet just doesn't seem to work.
It *installs* the package but no files are downloaded. This has happened for Typescript and Knockoutjs to name 2.
Should we be abandoning NuGet for other package managers?

Thanks.

[2020-04-29 14:25] anangaur commented on #8580
Is there something broken with nuget CLI or is it the reliability of GPR service? Did you try reaching out to GPR folks through https://github.community?

[2020-04-29 15:26] heng-liu opened #9495 "Enable test GetCertificateChain_WithUntrustedRoot_Throws on Mac and fix it"
The test `GetCertificateChain_WithUntrustedRoot_Throws` is enabled on Mac in https://github.com/NuGet/NuGet.Client/pull/3275
But the assertion didn't check for MacOS. So we should change the assertion to check the results on Mac and fix it.

[2020-04-29 16:24] #9236 closed, assigned to cristinamanum

[2020-04-29 17:53] RobertHenry6bev commented on #5805
I have to wait 10 hours for nuget to download 1000 packages.  What a terrible on boarding experience. The worst package manager I've seen in this regard.

[2020-04-29 18:44] rrelyea commented on #9494
NuGet definitely works with asp.net core, but is more focused on dependencies, not client side libraries.

LibMan may be helpful: https://docs.microsoft.com/en-us/aspnet/core/client-side/libman/?view=aspnetcore-3.1

You may want to check with some people in this repo: https://github.com/dotnet/aspnetcore/issues (and you could help update info here?)

[2020-04-29 19:46] stevenbrix commented on #9358
It would be nice if VS also set the appropriate `AssetTargetFallback`. It defaults to `uap10.0.17763.0` where we (WinUI) want it to use `netcoreapp5.0`

[2020-04-29 20:20] rlordcardano commented on #8189
Same issue here!

[2020-04-29 22:36] cristinamanum opened #9496 "[CPVM backcompat] Enhance the warning NU1604 documentation."
Once a project is opt in CPVM its Version attributes are removed. Old clients will emit an warning in such cases.

Enhance the NU1604 documentation with reference to this scenario.

[2020-04-29 22:40] cristinamanum opened #9497 "[CPVM backcompat] Patch older tools to warn, error when a project is opt in cpvm"
Once a project is opt in CPVM its Version attributes are removed. Old clients will emit an warning in such cases.

This issue is to track any work needed to patch old version of tools like nuget.exe, VS to error/warn when a file is opted in cpvm.

[2020-04-29 22:48] cristinamanum opened #9498 "Prepare to better support backward compatibility scenarios"
This issue was discussed as part of CPVM delivery. However the problem can happen any time a new feature is added that old clients do not know how to deal with. Can a version based mechanism be used for this purpose?

In CPVM case, once a project is opt in CPVM its Version attributes are removed. Old clients will emit an warning in such cases but they will not fail.

[2020-04-30 05:46] v-luzh commented on #9321
@dominoFire You can find that the icon and the installed version number are inconsistent. The icon shows is version 1.1.1 but the installed version shows on the right is 1.0.0 as below. The issue doesn't repro in project-level PM UI, but repro in solution-level PM UI.
![image](https://user-images.githubusercontent.com/20632625/80676188-d04d6400-8ae8-11ea-9575-a19678de4edd.png)

[2020-04-30 07:48] bsweb commented on #9494
Thanks for the update.

Libman has only got half the solution as it appears to be missing all the Typescript DefinitelyTyped for example.

If knockoutjs doesn't work with via NuGet with aspnetcore, should it not be hidden from the install options? Or are you saying this is a aspnetcore issue or a visual studio (NuGet Package Manager) issue? Just trying to understand how this works.

Thanks.

[2020-04-30 08:31] v-luzh commented on #8832
@nkolev92, We found that the package can be installed successfully (just have warning NU1701 after installing the package instead of before) into the UWP template on Master\30029.156 + NuGet Client Dev\5.7.0.6598 as below screenshot.
![image](https://user-images.githubusercontent.com/20632625/80688975-38a74000-8aff-11ea-8a6a-151e88149b0d.png)
Is the expected behavior to prevent installing the .NET

[2020-04-30 08:32] TamaMcGlinn commented on #6806
Indeed; the documentation for NuGet 4.3.0 says that it follows [Semver 2.0.0](https://semver.org/spec/v2.0.0.html), which forbids leading zeros, but the pack command doesn't check this.

[2020-04-30 09:42] jwillmer commented on #8580
Better late then never: [Link (back) to StackOverflow discussion](https://stackoverflow.com/questions/57889719/how-to-push-nuget-package-in-github-actions)

[2020-04-30 10:37] frankkilcommins commented on #9034
This issue reoccurred yesterday for me using v2.* of the dotnet pack task, so again had to apply the workaround I described in the initial issue registration

[2020-04-30 11:01] TFTomSun commented on #9452
@nkolev92 I would like to propose a feature for the "multiple repositories" scenario I described above:

- Solutions dynamically add all project references that are defined by MSBuild in the evaluation phase -> these external projects will not be written into the solution file, its just a dynamic behavior

- the projects that are not defined in the solution, are not loaded by default - means they

[2020-04-30 12:57] Vishallogin2050 commented on #9475
When i  run the command Install-Module -Name AzureRM -AllowClobber to install the Azure module , I get the below error :

NuGet provider is required to continue
PowerShellGet requires NuGet provider version '2.8.5.201' or newer to interact with NuGet-based repositories. The NuGet
 provider must be available in 'C:\Program Files\PackageManagement\ProviderAssemblies' or
'C:\Users\testadmin\AppData\L

[2020-04-30 12:58] Vishallogin2050 commented on #9475
This is running on a Azure VM with default policies. Tried it on some other environments and the issue is the same

[2020-04-30 13:09] Vishallogin2050 commented on #9475
Error for install package :
PS C:\Users\testadmin> Install-PackageProvider -Name "Nuget" -RequiredVersion "2.8.5.216" -Force
WARNING: Unable to download from URI 'https://go.microsoft.com/fwlink/?LinkID=627338&clcid=0x409' to ''.
WARNING: Unable to download the list of available providers. Check your internet connection.
Install-PackageProvider : No match was found for the specified search criteri

[2020-04-30 15:13] marcselis commented on #1823
+1

[2020-04-30 16:21] stevenbrix commented on #9358
This is actually something that should be set in the packaging project sdk itself. It sets the `AssetTargetFallback` for a bunch of other TFMs, just not net5.0: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1114196

[2020-04-30 17:14] sbanni opened #9499 "There should be a better way to handle ATF"
Currently our project system wants to have all types of references and we have to continue adding values to AssetTargetFallback to support this.  It would be ideal if there was a supported way to just include ALL values with possibly an exclusion list instead of having to opt into each one.

[2020-04-30 17:26] nkolev92 commented on #8563
Thank you reporting this issue. At this point we do not have enough information to continue investigating the issue.
Please feel free to comment or open a new issue if needed.

[2020-04-30 17:26] #8563 closed, assigned to nobody

[2020-04-30 17:27] aortiz-msft commented on #8555
Thank you for creating this issue. Our team prioritizes fixes based on impact and upvotes, and, based on this, we don't think we will be able to get to this issue. However, we would gladly accept a PR for this. Thanks again.

[2020-04-30 17:29] nkolev92 commented on #8571
Thank you for filling this issue.

At this point we don't see us taking any action on this issue.
If anyone else is hitting this issue, please increase the ulimit.

[2020-04-30 17:29] #8571 closed, assigned to nobody

[2020-04-30 17:31] nkolev92 commented on #8577
We sometimes query the VS key chain for creds for azure devops feed.
This is unnecessary, in VS we have a MEF extensibility approach for Credential Providers, and Azure Devops already defines one.

[2020-04-30 17:32] aortiz-msft commented on #8579
@dominoFire - Can we close this issue or move it to the Engineering repo?

[2020-04-30 17:34] nkolev92 commented on #8586
Thank you for reporting this issue. We have not been able to reproduce this issue. If you are still able to reproduce this with the latest NuGet version, please provide additional steps.

[2020-04-30 17:34] #8586 closed, assigned to nobody

[2020-04-30 17:38] nkolev92 commented on #8589
includesource and symbols package creation and related tasks and it's likely that the NuGet code is not handling the combination correctly.
Needs further investigation to determine the best course of action.

[2020-04-30 17:41] nkolev92 commented on #8604
Closing as a duplicate of #7921.

[2020-04-30 17:41] #8604 closed, assigned to nobody

[2020-04-30 17:57] nkolev92 commented on #8650
Per this [comment](https://github.com/NuGet/Home/issues/8650#issuecomment-538510654)
We don't correlate the package source and package version.

Closing this as not a bug.

[2020-04-30 17:57] #8650 closed, assigned to nobody

[2020-04-30 17:58] nkolev92 commented on #8651
@v-luzh can you please try to repro this?
Thank you.

[2020-04-30 18:00] alexrosenfeld10 commented on #2351
Adding my support for this too. Same reasons, can't imagine it'd be too hard to impelment.

[2020-04-30 18:03] nkolev92 commented on #8962
Closing this as low pri.

[2020-04-30 18:03] #8962 closed, assigned to nobody

[2020-04-30 18:04] MattGal commented on #8571
(for completeness, the value going back to default was a regression, we fixed this on our build machines)

[2020-04-30 18:35] #8661 closed, assigned to nugetlurker, donnie-msft

[2020-04-30 18:42] #9481 closed, assigned to nkolev92

[2020-04-30 19:23] nkolev92 commented on #8832
The asset target fallback is something that we don't control (the NuGet team), so I wouldn't necessarily worry about it.

It'll be challenging to keep this test up to date, so I'd say we keep it closed.

[2020-04-30 19:25] nkolev92 commented on #9452
@TFTomSun I'd file an issue https://developercommunity.visualstudio.com/spaces/8/index.html for that.

NuGet doesn't own that problem space.

As far as NuGet & unloaded projects go, you need to have a project restore in order for it to work.

Closing this as question, thank you for your feedback.

[2020-04-30 19:25] #9452 closed, assigned to nobody

[2020-04-30 19:39] donnie-msft opened #9500 "Enhance Acquisition tooling to verify we don't modify assembly keys"
We broke a partner team recently by inadvertently modifying the public key token on the NuGet.Indexing assembly.  https://github.com/NuGet/Home/issues/9481

A simple improvement [I suggested ](https://github.com/NuGet/NuGet.Client/pull/3368#pullrequestreview-403177225)in the PR would be running an Acquisition Tenet tool that verifies there's no diff in keys (etc) between the new and previous versi

[2020-04-30 20:47] TannerBragg commented on #5553
I'll be honest with you.  I completely gave up on this one.  I took my nice modular assemblies and made big ones that hold all the source separated by folders and namespaced them appropriately.  It was the easiest solution over fighting with the tool.

[2020-04-30 21:16] heng-liu opened #9501 "Enable Dynamic Revocation Tests on macOS"
We have following tests dynamically revoke a certificate. Those tests pass on Windows and Linux, but not for macOS.
[code]

During debugging, the OCSP responder sends the response, but the chain.build results has the status of "RevocationStatusUnknown" on Mac.
It may be the problem of simulated OCSP responder( but Windows and Linux works fine with the OCSP responder)
How does it work with OCSP res

[2020-04-30 21:47] heng-liu commented on #8934
Disabled the following tests on Mac.  Those tests pass on Windows and Linux, but not for macOS.
GetTrustResultAsync_WithRevokedPrimaryCertificate_ReturnsSuspectAsync
GetTrustResultAsync_WithRevokedTimestampCertificate_ReturnsStatusAsync
VerifyAsync_WithRevokedCountersignatureCertificate_ReturnsSuspectAsync
VerifyAsync_WithRevokedTimestampCertificate_ReturnsStatusAsync
Those tests dynamically revok

[2020-04-30 22:07] zkat commented on #9494
You'll need to use two package managers: NuGet for csharp libraries, and NPM (or one of its alternatives) for any client-side JavaScript/TypeScript/etc libraries. NuGet won't handle both, by design, and this is a pretty standard expectation across ecosystems.

[2020-04-30 22:07] #9494 closed, assigned to nobody

[2020-04-30 22:49] zkat commented on #9493
Please refer to https://stackoverflow.com/questions/57889719/how-to-push-nuget-package-in-github-actions for how to configure this.

[2020-04-30 22:49] #9493 closed, assigned to nobody

[2020-04-30 23:03] nkolev92 commented on #8184
Now irrelevant.

[2020-04-30 23:03] #8184 closed, assigned to nobody

[2020-04-30 23:04] nkolev92 commented on #7348
Irrelevant with the fix in https://github.com/NuGet/NuGet.Client/pull/3367.

[2020-04-30 23:04] #7348 closed, assigned to nobody

[2020-04-30 23:18] zkat commented on #9478
Unfortunately, this sort of thing is out of our control: We rely on underlying libraries for our networking, which in turn rely on your operating system for managing this stuff. I don't think there's anything actionable on our end here, as much as I wish there were something we could do to help. If your network connection is cutting off download streams, that's kinda beyond our reach.

It sounds l

[2020-04-30 23:18] #9478 closed, assigned to nobody

[2020-04-30 23:33] nkolev92 commented on #5717
Not a lot of feedback around this topic.
The build itself doesn't have timestamps either.

[2020-04-30 23:33] #5717 closed, assigned to nobody

[2020-04-30 23:34] nkolev92 commented on #5724
Low pri, won't fix.

[2020-04-30 23:34] #5724 closed, assigned to nobody

[2020-05-01 00:03] #8947 closed, assigned to nkolev92

[2020-05-01 00:18] nkolev92 commented on #7751
Closing as dup of https://github.com/NuGet/Home/issues/9035.

[2020-05-01 00:18] #7751 closed, assigned to nobody

[2020-05-01 00:20] nkolev92 commented on #3762
Closing as external.
No significant customer engagement to keep open at this point.

[2020-05-01 00:20] #3762 closed, assigned to zhili1208

[2020-05-01 00:21] nkolev92 commented on #7702
Dup of https://github.com/NuGet/Home/issues/6623

[2020-05-01 00:21] #7702 closed, assigned to nobody

[2020-05-01 00:23] nkolev92 commented on #4004
Closing as redundant, stale and low priority.

[2020-05-01 00:23] #4004 closed, assigned to nobody

[2020-05-01 00:23] nkolev92 commented on #4005
Closing as redundant, stale and low priority.

[2020-05-01 00:23] #4005 closed, assigned to nobody

[2020-05-01 00:23] nkolev92 commented on #7956
Closing per my last comment.

[2020-05-01 00:23] #7956 closed, assigned to nobody

[2020-05-01 00:24] nkolev92 commented on #8781
Thank you reporting this issue. At this point we do not have enough information to continue investigating the issue.
Please feel free to comment or open a new issue if needed.

[2020-05-01 00:24] #8781 closed, assigned to nobody

[2020-05-01 00:25] nkolev92 commented on #6201
Thank you reporting this issue. At this point we do not have enough information to continue investigating the issue.
Please feel free to comment or open a new issue if needed.

[2020-05-01 00:25] #6201 closed, assigned to nobody

[2020-05-01 01:25] nkolev92 commented on #3159
Dup of #5553

[2020-05-01 01:25] #3159 closed, assigned to nobody

[2020-05-01 02:33] asklar commented on #8506
@zkat @rrelyea is there a way to specify the file if I want it to be different than packages.config? In my case I have to support a project in two different "modes"/"configurations" that rely on separate nuget packages.

[2020-05-01 05:07] heng-liu commented on #9315
Checked test ExecuteCommandAsync_WithAmbiguousMatch_ThrowsAsync in the builds of recent 15 days. All of them are less than 9 secs.
Looks like the fix in PR https://github.com/NuGet/NuGet.Client/pull/3291 also solve the timeout.

[2020-05-01 05:07] #9315 closed, assigned to heng-liu

[2020-05-01 05:27] heng-liu commented on #9326
Wrote powershell scripts to patch dotnet crossplatform. Closed as fixed.

[2020-05-01 05:27] #9326 closed, assigned to heng-liu

[2020-05-01 05:56] heng-liu commented on #8570
I'm thinking if we should do this after merging to dev, or raising PR to dotnet team, but ask dotnet team to wait until we are sure to insert into dotnet with xplat verfication code, then they merge.
If dotnet team make this change, but xplat verfication doesn't catch up with the insertion, will there be any issue?

[2020-05-01 07:42] PhilippElhaus commented on #8017
This is such a pain in the ass bug...holy shit when will this be fixed

[2020-05-01 07:55] davidwengier commented on #8017
@PhilippElhaus if you're still seeing this after installing a fixed version then I would recommend reporting a new issue, ideally with the inbuilt recording feature of Visual Studio, as whilst you might be seeing the same outcome, it's likely there is a different root cause.

[2020-05-01 08:00] PhilippElhaus commented on #8017
Yes i just did exactly this. I have this now here for every build i create, VS becomes absolutely unworkable due to this.

[2020-05-01 14:53] zivkan commented on #7558
I think this is a duplicate of https://github.com/NuGet/Home/issues/2585. @nkolev92  agreed?

[2020-05-01 15:25] jmroyb commented on #8847
Still ocurring in VS2019 Version 16.5.4

Where can I watch which item is failing?

![image](https://user-images.githubusercontent.com/4932314/80816964-cb63df80-8bd0-11ea-922b-fb766d9d5169.png)

[2020-05-01 16:22] sfilipi commented on #9492
@zkat let me know if you need me to run anything on the system for additional information.
It manifests like an authentication problem, but i wonder if it is related to network quality: authentication fall failing due to insufficient retries or id. I say that because to my surprise restore was failing over and over, than succeeded once, than kept failing.

Also the Package Manger UI in visual stud

[2020-05-01 16:51] tebeco opened #9502 "[Question] Packaging Platform specific from Vendor dll"
## Details about Problem

NuGet product used => dotnet.exe:

I tried multiple version of `dotnet`:
* 3.1.201 (`dotnet nuget` 5.5.0.4)
*  5.0.100-preview.3.20216.6 (`dotnet nuget` 5.6.0.4)

VS version (if appropriate):
VS 16.6 Preview 5

OS version (i.e. win10 v1607 (14393.321)):
Microsoft Windows [Version 10.0.19619.1000]

Worked before? If so, with which NuGet version:
Can't tell

## Detailed rep

[2020-05-01 17:19] nkolev92 commented on #7558
@zivkan yep, nice catch.

[2020-05-01 17:24] nkolev92 opened #9503 "Running tests that require ilmerging, causes a failure in VS because the tests don't pick up the latest bits."
Mentioned in https://github.com/NuGet/NuGet.Client/pull/3270.

[2020-05-01 17:39] rrelyea commented on #8017
@PhilippElhaus  - can you please provide a link here to your newly filed feedback issue...so other people who come here with a similar problem can follow that issue?

[2020-05-01 17:51] PhilippElhaus commented on #8017
https://developercommunity.visualstudio.com/content/problem/1014815/compilation-deletes-nuget-packages.html

[2020-05-01 18:43] nkolev92 commented on #8506
@asklar
Not really.
packages.config discovery only works by convention, so either `packages.config` next to the project file or `packages.$(MSBuildProjectName).config` next to the project.

[2020-05-01 19:00] anangaur commented on #8506
I always forget `packages.$(MSBuildProjectName).config`. Is this documented somewhere?

[2020-05-01 19:06] donnie-msft commented on #9420
Perhaps start with the [list of Supported Project Types ](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.VisualStudio.Common/SupportedProjectTypes.cs#L14) which our Solution Manager uses for things like determining if an Added project is something that should refresh our PMUI.

[2020-05-01 19:11] rrelyea commented on #8017
Thanks @PhilippElhaus  - it is definitely a similar effect...but a very different reason for the problem. See my replies in the feedback issue.

[2020-05-01 19:16] rrelyea commented on #8506
i searched our docs a bit...but didn't find it. you would think it could be listed here: https://docs.microsoft.com/en-us/nuget/reference/packages-config

[2020-05-01 20:58] asklar commented on #8506
@nkolev92 @rrelyea I was trying to stick myself in the middle to redirect to a different file and I can see the value of the itemgroups are getting updated successfully but the Restore task seems to ignore it, any idea how I may be able to work around it?
[code]

[2020-05-01 21:17] asklar commented on #8506
@nkolev92 @rrelyea hmm is [this code](https://github.com/NuGet/NuGet.Client/blob/3803820961f4d61c06d07b179dab1d0439ec0d91/src/NuGet.Core/NuGet.PackageManagement/Projects/PackagesConfigNuGetProject.cs#L74) it?
Why is the nuget task not respecting whatever it gets from msbuild? it'd be great if this could be fixed :)

[2020-05-01 21:22] rrelyea commented on #8506
Gen 1 of nuget uses Packages.Config.
It likely didn't use msbuild to find the config file...so the options are limited.
Can you solve in a more mainline way? (something that works with this code from 2015 and before?)

[2020-05-01 22:01] nkolev92 opened #9504 "Mark the NuGet components as VSOE compliant"
Details [here](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1107580).
We need to mark the nuget components that are client friendly.

[2020-05-01 22:15] varunmankal opened #10402 "dotnet add package returns local source not found"
When I do dotnet nuget list source, it shows the following sources:
* nuget.org
* mysource

However, when I run `dotnet add package <packageID> -s mysource`, it returns local source `mysource` doesn't exist

[2020-05-01 22:54] zkat commented on #9030
Moving this out of this epic and into the toplevel epic instead.

[2020-05-02 01:16] heng-liu opened #9505 "Retargeting xplat verification to net5 instead of netstandard2.1"
We're now targeting net472, netstandard2.0, netstandard2.1 in xplat feature branch.
We should change to net472, netstandard2.0, net5.0.

[2020-05-02 01:51] #7404 closed, assigned to nkolev92

[2020-05-02 01:52] nkolev92 commented on #7404
This will be in 5.7/3.1.400.

[2020-05-02 01:52] #9504 closed, assigned to nkolev92

[2020-05-02 01:57] nkolev92 commented on #9499
@sbanni

Just to make sure I understand this ask, you have a project type that's technically compatible with all target frameworks, because it really only works with the already built artifacts (wapproj being that project)

[2020-05-02 12:52] orcun commented on #8525
Sorry but hash is not relevant here. When adding a package, I can specify a custom source. That information is lost for whoever want to restore or update.

[2020-05-02 13:02] orcun commented on #8525
Perhaps you confused source by a commit since issue link has been lost due to project migration.
Please see the discussion at dotnet/sdk#10439
I would appreciate if you can reopen this issue.

[2020-05-02 13:29] tebeco commented on #6764
if possible that would be awesome if `dotnet tool restore` and `dotnet restore` would be able to read `RestoreSources` from that file too
As we are building sources code from various places :
* Dev Laptop => VPN
* Build Agent => LAN
* Aks Build Agent => Azure

`dotnet restore` seems to properly loads `Directory.Build.xxxx` which allow us to do :
[code]

### Why ?
Because `nuget.config` is static a

[2020-05-02 15:39] UweKeim opened #9506 "Error about unknown tools version "Current" during update"
## Details about problem

Using NuGet.exe 5.5.1.6542 on a PC with Visual Studio 2019 and Visual Studio Build Tools 2019 (2) installed on a German Windows 10 64-bit PC.

## Detailed repro steps

Having the following command line call:

[code]

First brings this output:

Then, it runs fine on one PC and brings the following (German) error on another PC:

Translated manually to English, this reads:

[2020-05-02 18:42] BlackGad commented on #2869
See [this](https://github.com/NuGet/NuGet.Client/pull/3273#issuecomment-622994488) comment

[2020-05-03 00:15] zivkan commented on #8525
It's not clear to me what the benefit of this feature request would be compared to adding the source to a `nuget.config` so that the source is available to install any package in the project/solution.

I think it adds unnecessary complexity from a customer point of view. As a developer, if I see a `PackageReference` with a custom source, does that mean the package can only come from that source, o

[2020-05-03 17:54] StingyJack commented on #6579
Yeah, so back on topic then....
There are two problems that developers tend to have with packages "in development"...

1) Authoring a new package or updating an existing one and testing it.
2) Needing to make changes in a dependency package sourced from another branch in addition to changes in the local branch.

For the first one I've found the easiest technique (if I find that I have to do this m

[2020-05-03 20:07] cristinamanum opened #9507 "Improve the CPVM Visual Studio experience for the case when PackageReference items have version."
## Details about Problem
If a project is opt in CPVM and has a PR item with Version defined the restore fails silently in Visual Studio. The user should be notified regarding the failure reason.

[2020-05-03 20:19] cristinamanum opened #9508 "[Partner repo validation] - Minimal impact on the CloudBuild build graph"
## Details about Problem
One of the concern mentioned by the partner teams was the impact on the CloudBuild build graph.
This task tracks the work to investigate this concern.

[2020-05-03 20:24] cristinamanum commented on #8913
Sprint 168:
Got input from: VS-Platform
Also evaluated NuGet Client.

[2020-05-03 22:54] tb-mtg commented on #7558
Thanks @zivkan
Sure is a duplicate of #2585, I'll close this one and subscribe to that one.

[2020-05-03 22:54] #7558 closed, assigned to nobody

[2020-05-03 22:55] tb-mtg commented on #2585
Any progress on this?

[2020-05-04 11:07] Brunni commented on #7862
I'm having the same issue. Microsoft.CodeDom.Providers.DotNetCompilerPlatform is not restored into packages folder.
When I call nuget install manually everything works afterwards. But this can't be the solution, right?

[2020-05-04 14:53] kartheekp-ms opened #9509 "Test Failures in package signing code when executed on .NET 5 master"
Package signing branch has few new entries defined in [build/config.props](https://github.com/NuGet/NuGet.Client/blob/dev-feature-xplatVerification/build/config.props#L40-L49) to define `dotnet` cli version for building and running tests. Updated `CliVersionForBuilding` .NET SDK version to .NET 5 latest stable preview release and `CliVersionForTesting` to `master` to test using latest release.

[L

[2020-05-04 15:57] StingyJack commented on #9454
this is the same as [this](https://developercommunity.visualstudio.com/content/problem/957820/nuget-package-manager-ui-reports-you-have-1-deprec.html) ,  per @anangaur it will be fixed in upcoming version

[2020-05-04 15:57] #9454 closed, assigned to nobody

[2020-05-04 16:00] cristinamanum opened #9510 "[CPVM] Design re-evaluation for Visual Studio update scenarios"
## Details about Problem
For non -sdk projects using CPVM the Project System cannot support the update scenarios. Based on this new information the initial design need to be re-evaluated.

## Other open questions
Is it still worth to have Project System own the updates for the sdk style projects?

[2020-05-04 16:27] anangaur commented on #9454
@StingyJack Its available with VS 16.6 previews.

[2020-05-04 17:35] PandeleFlorin commented on #3788
2020 an STILL this is not fixed. Is it a major issue YES. Imagine a project that has multiple .sln files and you upgrade just some of the references in some of the slns but not all. Now I have to hunt for where the damn thing was used, in hundreds if not more slns.

[2020-05-04 17:52] sbanni commented on #9499
@nkolev92 Yes your understanding is correct.

[2020-05-04 18:20] Thraka opened #9511 "`dotnet add package -s sourcename` doesn't work. `-s sourceurl` does."
_From @varunmankal on Friday, May 1, 2020 10:25:30 PM_

I have added my private source to NuGet.config file. when I run `dotnet nuget list source` it displays the following sources:
* nuget.org
* myprivate

Now, If I want to install a package from myprivate source then I try to run the following command:
`dotnet add package <packageName> -s myprivate`
then it returns an error saying the source `my

[2020-05-04 18:20] Thraka commented on #9511
_From @Thraka on Monday, May 4, 2020 6:19:17 PM_

I don't believe this is the way it operates. I'm moving your issue to the nuget repository.

[2020-05-04 18:32] cdmihai opened #9512 "`nuget list` should support filtering for specific package name"
Missing capability: use nuget to list all the package versions from a given feed, for a given package name.

Workarounds are all tedious:
- listing all package can be super slow, taking tens of minutes on huge feeds
- installing the package requires cleanup afterwards

Most of the other package managers have such a feature.

[2020-05-04 18:52] dominoFire commented on #8438
@v-luzh I tried to repro the issue by following your instructions in the latest preview but no success.

According to Accessibility Insights, there's no phantom element at the end of the list.

![image](https://user-images.githubusercontent.com/1192347/81002080-88d31a80-8dfd-11ea-8235-e16f7a4e8b58.png)

I will close the issue for now, since it should be fixed by https://github.com/NuGet/NuGet.Clie

[2020-05-04 18:52] #8438 closed, assigned to dominoFire, rrelyea

[2020-05-04 19:02] nkolev92 commented on #9512
Dup of: https://github.com/NuGet/Home/issues/5138.

[2020-05-04 19:02] #9512 closed, assigned to nobody

[2020-05-04 19:02] dominoFire commented on #9321
@v-luzh Thanks for the clarification! A PR is on the way for fixing this issue.

[2020-05-04 19:04] nkolev92 opened #9513 "Visual Studio partial restore for PR projects (noop++) prototype"

[2020-05-04 19:05] twsouthwick opened #9514 "VS Extensibility to access package.config to PackageReference migrator"
I'm working on an extension for VS that would like to be able to access the migrator for package.config to PackageReference (located here: https://github.com/NuGet/NuGet.Client/blob/f1c77ea4f36d0cddaf6d9f6f53e5cb7cb2def4e1/src/NuGet.Clients/NuGet.PackageManagement.UI/Actions/PackagesConfigToPackageReferenceMigrator.cs) and was hoping that there would be a simple way, similar to the other `NuGet.Vi

[2020-05-04 19:07] twsouthwick commented on #9514
I'm ok with it just launching the UI - I'm not looking to automate all of it, just be able to initiate the process.

[2020-05-04 19:08] rrelyea commented on #9514
Hey Taylor.
Can you tell us more about this VS extension? Purpose? Goals? Ownership?

[2020-05-04 19:35] twsouthwick commented on #9514
I'm looking at augmenting https://github.com/microsoft/dotnet-apiport to automate the steps in https://docs.microsoft.com/en-us/dotnet/core/porting/. I can identify if the steps are applicable, but looking to see if I can initiate some actions from the dashboard I'm building up.

[2020-05-04 19:50] rrelyea opened #9515 "Learn and improve Dev workcycle for VS.Oe"
Get basic dev workflow going and improved
- build.
- install
- launch server
- launch client
- Downgrade
- get VSIX trick working for experimental for server and client
and work together to learn necessary part of codebase.

[2020-05-04 19:51] rrelyea opened #9516 "Move from window.Show() to VS tool window"

[2020-05-04 19:52] rrelyea opened #9517 "create vs.oe feature branch"
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2020-05-04 19:54] zivkan commented on #8760
cut

[2020-05-04 19:54] #8760 closed, assigned to zivkan

[2020-05-04 19:55] rrelyea opened #9518 "Package Manager Search Tab support for Codespaces"

[2020-05-04 19:58] srdjanjovcic opened #9519 "NuGet.Client repo scripts should be usable from CMD prompt."
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet Client repo.

NuGet version (x.x.x.xxx): N/A

dotnet.exe --version (if appropriate): N/A

VS version (if appropriate): N/A

OS version (i.e. win10 v1607 (14393.321)): N/A

Worked before? If so, with which NuGet version: Not a regression.

## Detailed repro steps so we can see the same pro

[2020-05-04 19:58] cristinamanum opened #9520 "MVP - Centrally manage NuGet package versions for a solution or a repo"
An Epic relevant with the MVP only functionality for Centrally manage NuGet package versions for a solution or a repo

[2020-05-04 20:25] nkolev92 commented on #9352
@rrelyea I've unassigned this from myself :)

[2020-05-04 20:26] cristinamanum opened #9521 "[Feature]: Add support for central package management to Visual Studio Package Manager UI for legacy projects"
## Details about Problem
Implement the back-end changes to support Visual Studio update scenarios for non-sdk projects.

[2020-05-04 20:26] #9029 closed, assigned to kartheekp-ms

[2020-05-04 20:29] cristinamanum opened #9522 "[CPVM] Visual Studio update scenarios - implement back-end changes for sdk projects"
## Details about Problem

Implement the back-end changes to support Visual Studio update scenarios for non-sdk projects.

[2020-05-04 20:41] nkolev92 commented on #9447
The scope of this task expanded

[2020-05-04 20:44] kartheekp-ms opened #9523 "Linux Test Failures in package signing code when executed on .NET 5 master"
Package signing branch has few new entries defined in [build/config.props](https://github.com/NuGet/NuGet.Client/blob/dev-feature-xplatVerification/build/config.props#L40-L49) to define `dotnet` cli version for building and running tests. Updated `CliVersionForBuilding` .NET SDK version to .NET 5 latest stable preview release and `CliVersionForTesting` to `master` to test using latest release.

[L

[2020-05-04 20:49] kartheekp-ms commented on #9509
All the tests are failed due to `TFM` errors. I believe @zivkan work will fix these test failures.

[2020-05-04 21:25] zarenner opened #9524 "Make 'dotnet list package' machine-readable"
The output of `dotnet list package` today looks like:
[code]

It would be useful if there was a machine-readable output format. This is useful for various scenarios such as gathering OSS license information based on packages used.

[2020-05-04 21:47] #9519 closed, assigned to srdjanjovcic

[2020-05-04 22:02] rrelyea opened #9526 "Install Operation remoted in VS.Oe"
Enable remoting of install command via contract defintiion, etc...

[2020-05-04 22:39] srdjanjovcic opened #9527 "ClientDevProcess.md should provide a section on installing ZenHub extension."
## Details about Problem

- NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): N/A
- NuGet version (x.x.x.xxx): N/A
- dotnet.exe --version (if appropriate): N/A
- VS version (if appropriate): N/A
- OS version (i.e. win10 v1607 (14393.321)): N/A

Worked before? If so, with which NuGet version: Not a regression

## Detailed repro steps so we can see the same problem

1. C

[2020-05-04 23:00] #9427 closed, assigned to zkat

[2020-05-04 23:00] #9426 closed, assigned to zkat

[2020-05-04 23:37] rrelyea commented on #9303
maybe the msbuild team has test machines that have many versions of msbuild installed?

[2020-05-04 23:54] #9527 closed, assigned to nobody

[2020-05-05 00:03] zivkan opened #9528 "Create docs for HTTPS client certs feature"
Create docs for new commands added in https://github.com/NuGet/NuGet.Client/pull/3273

[2020-05-05 00:03] zivkan opened #13485 "Create docs for HTTPS client certs feature"
Create docs for new commands added in https://github.com/NuGet/NuGet.Client/pull/3273

[2020-05-05 00:08] zivkan opened #9529 "Test: https client cert command tests skipped on Mac"
This PR: https://github.com/NuGet/NuGet.Client/pull/3273

added several tests for new CLI commands. On Mac they were failing, so were skipped. We should fix it.

[2020-05-05 00:36] dominoFire opened #9530 "`nuget.exe client-certs list` output is misaligned with `nuget.exe sources list` output"
## Details about Problem

NuGet product used: NuGet.exe

NuGet version: https://github.com/NuGet/NuGet.Client/pull/3273

dotnet.exe --version (if appropriate):

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)):

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

0. Create two Personal, Current certificates.
1. Export the

[2020-05-05 00:45] nkolev92 commented on #9524
Duplicate of https://github.com/NuGet/Home/issues/7752

[2020-05-05 00:45] #9524 closed, assigned to nobody

[2020-05-05 00:45] nkolev92 commented on #7752
Another dup in https://github.com/NuGet/Home/issues/9524

[2020-05-05 04:01] kartheekp-ms commented on #9511
@Thraka - By design, `dotnet add package` command performs a `dotnet restore` after merging the package sources from `dgspec`  and `nuget.config` files. The unique identifier used during this process is `source URI` but not `source name`.

I think `dotnet add package <packagename> -s myprivate` command worked as follows.
- package is added to your project (if compatible) irrespective of what ever

[2020-05-05 04:35] kartheekp-ms commented on #9506
I tried to reproduce this issue in my machine on `English and Germany` cultures and also on a new VM with `Germany` culture with VS 2019 IDE and VS 2019 build tools installed. My tests so far did not report the exception that is mentioned above.

`MSBuild auto-detection: using msbuild version '16.5.0.12403' from 'C:\Program Files (x86)\Microsoft Visual Studio\2019\BuildTools\MSBuild\Current\Bin'.

[2020-05-05 07:01] UweKeim commented on #9506
Thank you very much for your efforts, @karann-msft.

I've just tried to repair both installations:

![image](https://user-images.githubusercontent.com/415439/81041289-c98a6c80-8ead-11ea-8a7b-fbc3f26032bf.png)

I did a reboot after each repair.

Unfortunately, the error persists.

I would even go with a complete new install of the Windows machine, I just fear that the error would be there, again.

[2020-05-05 13:01] obarlik commented on #8148
Adding "-NoSymbols" fixed my issue.

[2020-05-05 13:03] obarlik commented on #8148
Adding "-NoSymbols" to nuget cli command line fixed my issue.
https://docs.microsoft.com/en-us/nuget/reference/cli-reference/cli-ref-push

[2020-05-05 15:22] tigrang-sci commented on #8189
Still experiencing it. Please, add that feature.

[2020-05-05 15:42] heng-liu opened #9531 "Test: SimpleBindingRedirectsNonWeb is flaky"
Test `SimpleBindingRedirectsNonWeb ` is flaky and it times out after 10 minutes on certain CI machines (w001 and w004) for many times.
If logging onto the CI machine during the E2E test, we can see the test hangs as following:
![image](https://user-images.githubusercontent.com/45407901/81082499-33077c80-8ea8-11ea-89fe-18af6592d626.png)

[2020-05-05 15:47] zivkan commented on #9531
This is a duplicate of https://github.com/NuGet/Home/issues/9531

[2020-05-05 15:47] #9531 closed, assigned to nobody

[2020-05-05 16:07] ericstj opened #9532 "Regression: RuntimeJsonFormat.WriteRuntimeGraph writes invalid JSON"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
NuGet API

NuGet version (x.x.x.xxx):
5.6.0-preview.3.6558

Worked before? If so, with which NuGet version:
Yes, 5.5.1

## Detailed repro steps so we can see the same problem

1. Call `RuntimeJsonFormat.WriteRuntimeGraph(file, graph)` to write a RuntimeGraph to file.

2. Call `RuntimeJsonFormat

[2020-05-05 17:03] kartheekp-ms commented on #9506
@rainersigwald - I really appreciate your feedback regarding this issue.

@UweKeim -  As per my current understanding, `nuget update` command writes `feeds used` to the console after MSBuild logic executed successfully. Please try running the `nuget update` command by passing additional parameter [MSBuildPath](https://docs.microsoft.com/en-us/nuget/reference/cli-reference/cli-ref-update#options) r

[2020-05-05 17:45] rrelyea opened #9533 "UpdateNuGetModuleManifest.ps1 threw exception during build, but didn't stop build. PMC commands not registered."
UpdateNuGetModuleManifest.ps1 is supposed to update NuGet.psd1 during the build to contain PowerShellCmdlets strong name ... to support loading the ngened version of that assembly.
However, since the build order/timing occasionally failed, an empty string, instead of the strong name was replaced.
Thus, ImportModule of NuGet.psd1 when launching PMC silently failed.
- that caused "install-package" a

[2020-05-05 17:46] #9533 closed, assigned to rrelyea

[2020-05-05 17:57] UweKeim commented on #9506
Thank you, @karann-msft

This is the whole output:

[code]

(I'm using Community edition on both PCs, the one where it is working, as well as the one where it is not working).

[2020-05-05 18:38] zivkan commented on #8570
No. NuGet will always select the most compatible TFM. If we insert first, their projects will not use the new assets because their project is not compatible with our new TFM. If they update first, they'll keep using the "best" TFM in our packages, and as soon as we insert a package with extra TFMs, NuGet will find the new TFM and select it as the nearest match.

[2020-05-05 18:39] nkolev92 commented on #9532
cc @aortiz-msft this is a regression from some perf work in 5.5.

With the low usage of project.json (somehow it's still used), I don't expect this to be a problem in the product but it is a library breaking change.

[2020-05-05 18:57] cristinamanum opened #9534 "[CPVM] Partner repo validation"
Partner with internal teams to test the solution on a real repo.
Both functionality and perf need to be validated.

[2020-05-05 19:23] cristinamanum opened #9535 "[CPVM] MVP Issues"
CPVM epic for the bugs that need to be fixed for the MVP.

[2020-05-05 20:01] replaysMike commented on #5805
Yes, don't use it. Use GrepWin and find/replace existing packages to do an upgrade, then do a `dotnet restore`. To add a package, edit your csproj manually. Nuget package manager is a giant pos and they don't seem to want to fix it.

[2020-05-05 20:02] Untit1ed commented on #5805
It looks like the workaround is not to use visual studio and change references manually, works faster that way on big solutions.

[2020-05-05 20:27] ericstj commented on #9532
This regression is for runtime.json, not project.json.  I agree this is a rare case: the only folks who *write* runtime.json is essential us (dotnet/runtime) so I wouldn't expect this to impact many/any  customers.

[2020-05-05 20:30] nkolev92 commented on #6764
@tebeco
Directory.Packages.props is just another msbuild file. It'll be imported in every project and evaluated in every project individually.
RestoreSources will continue to work the same way it has so far.

RestoreSources has its limitations though: https://github.com/NuGet/Home/issues/5321 & the fact that there's no tooling to edit it, so keep that in mind.

[2020-05-05 20:35] nkolev92 commented on #9532
I mentioned project.json cause technically it's the only production scenario in which NuGet tries to write a runtime graph itself.

Although in the pj scenario we don't write it individually so there's no way it breaks.

[2020-05-05 20:38] tebeco commented on #6764
I suppose I should open an issue on `dotnet/sdk` so that we could properly use `dotnet tool restore` with `<RestoreSources>` ?
We can't reach `nuget.org` from the LAN (one CI is on the LAN) so we uses `Artifactory` as a "Remote/Proxy feed"
We also have a CI in AKS and on this side we cannot reach the LAN (on purpose, security reason), but we can reach `nuget.org`

the goal is to be able to do that

[2020-05-05 20:45] nkolev92 commented on #6764
dotnet tool restore is restore based but is not be considered project based.
Nothing in msbuild truly applies there.

The SDK repo would own that discussion though.

[2020-05-05 20:56] heng-liu opened #9536 "ValidateTimestampResponse doesn't work correctly if nonce got normalized"
ValidateTimestampResponse doesn't work correctly if the generated nonce is different after normaliztion.
This will bring in flaky test, and also product issue: when requesting for timestamping, it may fail for nonces did not match.

Test TimestampSignatureAsync_TimestampingCountersignature_SucceedsAsync failed for:
Error message:
`NuGet.Packaging.Signing.TimestampException : The timestamp response

[2020-05-05 22:50] heng-liu commented on #9536
Displayed the nonce sent and received:
sent:
`00-66-58-91-33-16-53-22-5C-25-55-82-AD-44-F6-59-DD-7C-6D-48-D1-64-8F-55-CC-1A-07-42-BA-AC-09-51`
received:
`66-58-91-33-16-53-22-5C-25-55-82-AD-44-F6-59-DD-7C-6D-48-D1-64-8F-55-CC-1A-07-42-BA-AC-09-51`

[2020-05-06 00:28] kartheekp-ms commented on #8158
Similar issue reported here https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1111093/?triage=true

[2020-05-06 02:53] v-luzh opened #9537 "Update button in Package Manager Settings window should be focused when selecting by pressing Alt+U"
## Details about Problem
NuGet version: NuGet Client Dev\5.7.0.6598
VS Version: Master\30029.156
OS: Windows-10-Enterprise-RS5
## Detailed repro steps
1. Launch VS and click menu "Tools" -> "Nuget Package Manager" -> "Package Manger Settings".
2. Select "Package Sources" in the left pane.
3. Press Alt+U.
## Expected
Update button should be focused when selecting by pressing Alt+U.
## Actual
Update

[2020-05-06 02:58] v-luzh opened #9538 "PM UI can’t show distinguishable background color between selected and hovered package sources"
## Details about Problem
NuGet version: NuGet Client Dev\5.7.0.6598
VS Version: Master\30029.156
OS: Windows-10-Enterprise-RS5
## Detailed repro steps
1. Launch VS with any color theme (Blue/Blue (Extra Contrast)/Dark/Light) and create a Console App (.NET Core) template.
2. Open the PM UI, click the arrow-down button of “Package source” drop down list and hover on another source (not the selected)

[2020-05-06 07:41] VerdonTrigance commented on #7131
Hi. I have tried this as you told, but it didn't helped:

[code]

[2020-05-06 08:41] v-luzh commented on #8832
@nkolev92. Ok, keep it closed, thanks.

[2020-05-06 09:43] andrei-epure-sonarsource commented on #3324
quick workaround using [subst](https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/subst):
[code]

[2020-05-06 12:27] rainersigwald commented on #9506
Very interesting/confusing/surprising, especially if it's just for one specific project. This is an error that I'd expect to see if NuGet tried to use MSBuild 4.0 from the .NET Framework, instead of the newer one from Visual Studio. But of course the logging indicates that it is using MSBuild from VS.

@UweKeim can you download and run https://github.com/microsoft/msbuild/blob/master/scripts/Enume

[2020-05-06 12:40] UweKeim commented on #9506
Thanks, @rainersigwald .

I just ran the script as Administrator with this command line:

[code]
This is the result file: [msbuild_versions.txt](https://github.com/NuGet/Home/files/4586740/msbuild_versions.txt)

---------

I'll now try [Process Monitor](https://docs.microsoft.com/en-us/sysinternals/downloads/procmon) and will post the results if I can catch the MSBuild process being started.

[2020-05-06 12:40] doggy8088 opened #9539 "Generate nuget.config file from NuGet CLI"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): `NuGet.exe`

NuGet version (x.x.x.xxx): `5.5.1.6542`

dotnet.exe --version (if appropriate): `3.1.201`

VS version (if appropriate): `Visual Studio 2019`

OS version (i.e. win10 v1607 (14393.321)): `Microsoft Windows [Version 10.0.18363.778]`

Worked before? If so, with which NuGet version: `No

[2020-05-06 12:55] UweKeim commented on #9506
OMFG! I found the cause!

Someone (not me!) put a file "Microsoft.Build.dll" (file version 16.4.0.56107) in the very same folder as the "NuGet.exe" ("c:\P\KM\_Build\NuGet.exe").

When deleting this "Microsoft.Build.dll", the initial NuGet update call runs successfully.

This is so embarassing to me that I wasted your time on something that is completely my/our fault. Please take my deepest apologi

[2020-05-06 12:55] #9506 closed, assigned to nobody

[2020-05-06 16:05] Thraka commented on #9511
Tagging @varunmankal the creator of this issue

[2020-05-06 16:08] #9511 closed, assigned to nobody

[2020-05-06 16:55] rrelyea commented on #9110
One challenge I'm hitting currently with this...is loading of the the NuGet.PackageManagement.UI.dll from the N.VS.OE.Client.dll codepath.

see some background: https://github.com/NuGet/NuGet.Client/pull/2863

[2020-05-06 19:39] zivkan opened #9540 "Revert Newtonsoft.Json to 9.0.1"
Using any other version causes problems with .NET SDK's insertion into Visual Studio.

We need to revert and keep using 9.0.1 until further notice.

[2020-05-06 21:23] dbaileychess opened #9541 "Index out of bounds [Mono 5.18.0.240] [NuGet 5.5.1.6542]"
```mono ./nuget.exe restore -Verbosity detailed -PackagesDirectory packages/```

with `package.config`
[code]
Results in:

[code]

nuget.exe from: `curl -OL https://dist.nuget.org/win-x86-commandline/v5.5.1/nuget.exe`

mono:

[code]

[2020-05-06 21:36] zivkan commented on #9541
@dbaileychess

Are you using Ubuntu 19.04 and using Ubuntu's binaries for Mono?

There's been an issue in the past where nuget.exe fails with Ubuntu's mono on 19.04: https://github.com/NuGet/Home/issues/8433#issuecomment-520078318

Either using a different version of Ubuntu, or using mono's official binary packages solves the problem.

[2020-05-06 21:44] #9540 closed, assigned to zivkan

[2020-05-06 22:08] dbaileychess commented on #9541
Nope, derivative of `Debian 5.2.17` (aka Google Linux).

What's happening here?
`
NuGet.Frameworks.NuGet.Frameworks1172932.DefaultFrameworkMappings+<>c.<.cctor>b__44_6 () [0x0046e] in <94d83393be9c41c48c8dff90a7cc668d>:0
`

https://github.com/NuGet/NuGet.Client/blob/631178606f012c779f780518a5acdf9b02187bf5/src/NuGet.Core/NuGet.Frameworks/DefaultFrameworkMappings.cs#L502

Not sure what the SelectMa

[2020-05-06 23:10] zivkan commented on #9541
SelectMany basically turns an array of arrays into a flat array.

Like I wrote in the other issue, I don't see how NuGet's usage of LINQ could cause an index out of range exception. It looks like a bug with the mono binaries in Debian.  Using an official mono binary didn't have the problem last time I tried (i used ubunut, but that's also based on debian), even using the official mono 5.18 (built

[2020-05-07 10:58] mikeblakeuk commented on #8601
Where are we with this? It's super confusing to me.

[2020-05-07 13:39] ckolumbus commented on #6437
I'm using [summon](https://github.com/cyberark/summon) to inject all credentials as environment variables into the builds. Env variables work  in most scenarios and summon helps me to keep secrets managed without the danger of accidentally committing them with my code.

[2020-05-07 14:27] rainersigwald commented on #9506
Nice work! I don't think I've seen this problem before but it makes total sense . . . _after_ it's been found and explained.

Go easy :)

[2020-05-07 14:30] UweKeim commented on #9506
Thanks again, Rainer and Kartheek for your awesome help!

[2020-05-07 15:16] kartheekp-ms commented on #9502
As per [doc](https://docs.microsoft.com/en-us/visualstudio/msbuild/common-msbuild-project-items?view=vs-2019#projectreference), `ProjectReference` project item has an item metadata named `ReferenceOutputAssembly` when set to false, does not include the output of the referenced project as a Reference of this project, but still ensures that the other project builds before this one.

I found another

[2020-05-07 16:19] john-cullen commented on #9493
I have a similar issue where push to GPR seems to be randomly failing. Our authentication is defined in a nuget.config file in the root of the project repository. Our build only runs on Windows.

[code]

[2020-05-07 16:31] dbaileychess commented on #9541
Switched to debian-mono to xamarin-mono and it worked:

[code]

It might be worth catching the exception and alerting the user, since the error makes it seem like an issue from NuGet.

[2020-05-07 16:31] #9541 closed, assigned to nobody

[2020-05-07 17:07] nkolev92 commented on #8667
@luhis

Are you still having problems here?
Was the linked issue the root cause of the problem?

Thank you!

[2020-05-07 17:18] nkolev92 commented on #8687
Thank you for creating this issue.

AssetTargetFallback was an improvement over PackageTargetFallback which actually did the compatibility resolution of assets groups independently and would have returned what @lanfeust69 wanted it to return.

However this proved problematic because it had many unintended consequences because the packages were not behaving as the author intended it.

At this point

[2020-05-07 17:18] #8687 closed, assigned to nobody

[2020-05-07 17:23] nkolev92 commented on #8689
Hey @codermrrob

Given that this is likely an issue with a different component in VS, would you mind opening an issue via the Report Feedback flow in Visual Studio.

Issues created through that will contain more information for the team to investigate.

Thank you.

[2020-05-07 17:23] #8689 closed, assigned to nobody

[2020-05-07 17:27] nkolev92 commented on #8693
Thank you for filing this issue.

@RajuVCh it's not clear to us what the exact issue you are facing here is.
Can you please provide a detailed repro (or a video recording) of the problems you are hitting.

[2020-05-07 17:30] nkolev92 commented on #8697
Hey @blackchoey

Thank you filing this issue.

As @riverar suggested, this is a consequence of the permissions model in docker.
We'd recommend ensuring that the obj/bin folders are not copied over in the image.

[2020-05-07 17:30] #8697 closed, assigned to nobody

[2020-05-07 17:34] nkolev92 commented on #8701
Hi @jawn.

If you refer to the docs https://docs.microsoft.com/en-us/nuget/reference/cli-reference/cli-ref-install, there is a -PreRelease option you can pass to the install command.

[2020-05-07 17:34] #8701 closed, assigned to nobody

[2020-05-07 17:38] nkolev92 commented on #8705
@v-luzh Can you try to repro this with mono on Linux/Mac?

Thank you.

[2020-05-07 17:40] nkolev92 commented on #8708
Hey @ilatypov

This is by design. The NuGet.config are hierarchical.
If you want to exclude the impact from the upper level config you can add clear tags in the respective section.

We do that in our own repo. See https://github.com/NuGet/NuGet.Client/blob/dev/NuGet.Config and https://docs.microsoft.com/en-us/nuget/reference/nuget-config-file#packagesources

[2020-05-07 17:40] #8708 closed, assigned to nobody

[2020-05-07 17:42] nkolev92 commented on #8709
cc @chgill-MSFT @anangaur

[2020-05-07 17:44] nkolev92 commented on #8710
Hey @chgill-MSFT, @anangaur can you help us confirm what we want the behavior to be here.

Thank you.

[2020-05-07 17:46] nkolev92 commented on #8712
Hey @xyz0822

We believe that issue is not specific to NuGet and is better suited for Visual Studio DeveloperCommunity.

Can you please file the issue there?

Thank you.

[2020-05-07 17:46] #8712 closed, assigned to nobody

[2020-05-07 17:55] nkolev92 commented on #8719
Closing this as dup of https://github.com/NuGet/NuGetGallery/issues/7297 as it's not actionable.

We will look into this again once the server has fixed the experience.

[2020-05-07 17:55] #8719 closed, assigned to nobody

[2020-05-07 18:09] nkolev92 commented on #8309
@zivkan Can this be considered done?

[2020-05-07 18:18] nkolev92 commented on #8690
Thank you filing this @carpnick

I have fixed this in https://github.com/NuGet/NuGet.Client/commit/a5c635b0e473261e222c868b8d03d0cfdfbfe41a#diff-3a22160d75af0ed49d60562b6157b371

[2020-05-07 18:18] #8690 closed, assigned to nobody

[2020-05-07 18:23] tebeco commented on #9502
Did that work for you with the Repository I created just for this issue ?
As I do not fully understand how `nuget` and dependency resolution I tested, that does not fix the issue

given the description :

Is this related to the issue ?
the project i'm using to pack our vendor dll is : `Corp.Common.ThirdPartPackaged` with `PublishBuildOutput = false`
=> this means that there is no `Corp.Common.Thir

[2020-05-07 18:24] tebeco commented on #9502
@karann-msft
Can you try cloning the repository create for reproductibility purpose and tell me if you managed to fix it ?

[2020-05-07 18:25] nkolev92 commented on #8711
Dup of https://github.com/NuGet/Home/issues/6373

[2020-05-07 18:25] #8711 closed, assigned to nobody

[2020-05-07 18:38] #8768 closed, assigned to nobody

[2020-05-07 18:49] chgill-MSFT commented on #8710
@nkolev92 it sounds like the feedback is saying that they can't get this, right?:

![image](https://user-images.githubusercontent.com/15097183/81332939-a9e37780-9058-11ea-89cc-ce0bbb733c24.png)

Past search results without an initial query? Seems like it might be an issue with an old VS version.

[2020-05-07 18:56] chgill-MSFT commented on #8709
Seems like this is an issue with older VS versions. Seems to work for .NET Core, Standard, and Framework on the latest VS.

![image](https://user-images.githubusercontent.com/15097183/81333633-bcaa7c00-9059-11ea-8a9b-3277f73f8331.png)

[2020-05-07 18:56] nkolev92 commented on #8710
Oh, that's fantastic if it works.
We just wanted to be sure the dropdown is something worth pursuing.

Probably an issue with an old version.

Closing this issue.

[2020-05-07 18:56] #8710 closed, assigned to anangaur, chrisraygill

[2020-05-07 18:57] chgill-MSFT commented on #8709
Closing this issue because it's fixed in the latest version of VS.

[2020-05-07 18:57] #8709 closed, assigned to nobody

[2020-05-07 19:37] jnitin83 commented on #7724
I am as well facing this issue when migrating from NetCore 2.2 to 3.1:
the service have stopped coming up in the emulator when trying to migrate to 3.1 ..

as per eventviewer :
Description: A .NET Core application failed.
Application: Microsoft.Azure.Cosmos.Compute.Host.ServiceFabric.exe
Path: D:\Source\Repo\CosmosDB\bin\x64\Debug\Product\DocumentDB.LocalEmulator\azure-cosmosdb-emulator\Packages\C

[2020-05-07 19:41] nkolev92 commented on #7724
@jnitin83

That error message is saying that the package is question cannot be a PackageReference.

You shouldn't need to manually add that refernce in your csproj.
I'd reach out dotnet/sdk to investigate your migration problem.

[2020-05-07 20:50] zivkan commented on #8309
I believe so, yes.

[2020-05-07 20:50] #8309 closed, assigned to zivkan

[2020-05-07 21:11] luhis commented on #8667
@nkolev92
It turned out that the problem was the underlying Linux host on the virtualisation system, not a problem with dotnet

[2020-05-07 21:15] nkolev92 commented on #8667
Sounds good.

Thank you for following up.

Closing this as external.

[2020-05-07 21:15] #8667 closed, assigned to nobody

[2020-05-07 21:41] kartheekp-ms opened #9542 "release 5.6.0-preview6 to nuget.org"
https://github.com/NuGet/NuGet.Services.Index/pull/166

[2020-05-07 21:43] nkolev92 commented on #7299
Thank you reporting this issue. At this point we do not have enough information to continue investigating the issue.
Please feel free to comment or open a new issue if needed.

[2020-05-07 21:43] #7299 closed, assigned to nobody

[2020-05-07 21:49] nkolev92 commented on #9212
Thank you reporting this issue. At this point we do not have enough information to continue investigating the issue.
Please feel free to comment or open a new issue if needed.

[2020-05-07 21:49] #9212 closed, assigned to nobody

[2020-05-07 21:50] nkolev92 commented on #6855
Thank you reporting this issue. At this point we do not have enough information to continue investigating the issue.
Please feel free to comment or open a new issue if needed.

[2020-05-07 21:50] #6855 closed, assigned to nobody

[2020-05-07 21:50] nkolev92 commented on #9144
Thank you reporting this issue. At this point we do not have enough information to continue investigating the issue.
Please feel free to comment or open a new issue if needed.

[2020-05-07 21:50] #9144 closed, assigned to nobody

[2020-05-07 21:50] nkolev92 commented on #9227
Thank you reporting this issue. At this point we do not have enough information to continue investigating the issue.
Please feel free to comment or open a new issue if needed.

[2020-05-07 21:50] #9227 closed, assigned to nobody

[2020-05-07 21:52] nkolev92 commented on #9168
Thank you reporting this issue. At this point we do not have enough information to continue investigating the issue.
Please feel free to comment or open a new issue if needed.

[2020-05-07 21:52] #9168 closed, assigned to nobody

[2020-05-07 22:24] nkolev92 commented on #9396
Blocked by: [983811](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/983811)

[2020-05-07 22:27] nkolev92 commented on #9396
Moving out of S170 @rrelyea @aortiz-msft @chgill-MSFT

[2020-05-07 22:37] nkolev92 commented on #8797
Dup of https://github.com/NuGet/Home/issues/6288.

Instead of `TreatSpecificWarningsAsErrors`, you can use `WarningsAsErrors`

[2020-05-07 22:37] #8797 closed, assigned to nobody

[2020-05-07 22:39] nkolev92 commented on #9139
Thank you reporting this issue. At this point we do not have enough information to continue investigating the issue.
Please feel free to comment or open a new issue if needed.

[2020-05-07 22:39] #9139 closed, assigned to nobody

[2020-05-07 22:41] nkolev92 commented on #9185
Dup of https://github.com/NuGet/Home/issues/1836

[2020-05-07 22:41] #9185 closed, assigned to nobody

[2020-05-07 22:45] nkolev92 commented on #9189
Most of these ideas are covered under what I'm trying to do in https://github.com/NuGet/Home/issues/9513.

I'm basically trying to move the no-op check at the solution level. I've seen ~60-80% drops in the slns I have tested as well. Note that in my prototype I'm not quite skipping the SDK based projects, but the effort spent on the them is decreased. That allows us to stay correct.

[2020-05-07 23:00] nkolev92 commented on #9276
As mentioned, the recommended approach is to use dotnet pack or msbuild /t:pack.

Duplicate of https://github.com/NuGet/Home/issues/4491.

[2020-05-07 23:00] #9276 closed, assigned to nobody

[2020-05-07 23:41] nkolev92 commented on #9355
Hey @Xeinaemm,

The code you are linking is the packages.config resolver so not the only invoked by the NuGet.targets.

Are you building something on top of our libraries?
Unfortunately I'm can't follow the ask.

[2020-05-08 00:36] Xeinaemm commented on #9355
Hmm, yeah Visual Studio brought me there. I'm trying to integrate this only on PackageReference by omitting packages.config(old format).

Yes, you can compare this to [Arcade](https://github.com/dotnet/arcade). I'm doing this for pure MSBuild too by intercepting targets or gathering properties and creating MSBuild tasks.

Hmm, so maybe you know where start with graph resolving of NuGet package ove

[2020-05-08 00:54] nkolev92 commented on #9355
For PackageReference, everything starts in the RestoreCommand, here https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Commands/RestoreCommand/RestoreCommand.cs.

The walk in PR starts here: https://github.com/NuGet/NuGet.Client/blob/12a375a8a02764b772a20371abaf797639a7f961/src/NuGet.Core/NuGet.Commands/RestoreCommand/ProjectRestoreCommand.cs#L248

The dependency walker is here: h

[2020-05-08 01:33] Xeinaemm commented on #9355
Thanks!

Generation of bindingRedirects for web.config(old format) in the fly. This same functionality as for [app.config](https://github.com/microsoft/msbuild/blob/master/src/Tasks/AssemblyDependency/GenerateBindingRedirects.cs) + assembly redirection in code if library is signed.

Mostly it's just custom work over code or SDK as these simple snippets [here](https://github.com/Xeinaemm/Xeinaemm.S

[2020-05-08 01:44] nkolev92 commented on #9355
So back to your original problem (based on the title), how will the walk help you? The binding redirect generation happens after all the packages have been selected.

[2020-05-08 02:07] Xeinaemm commented on #9355
Will try to create property called **WeakReference** over PackageReference:
`<PackageReference Include="AutoMapper.Extensions.Microsoft.DependencyInjection" Version="7.0.0" WeakReference="true" />`

From my point of view, it means: "If you find any other reference that you cannot properly resolve - omit this package".

Yhym, and will not break the process at this point.

[2020-05-08 16:59] bryandam commented on #6548
FWIW, the info that @emgarten posted worked for me just fine.
If you just want any arbitrary binary content in the root of the project make sure it's in: root\contentFiles\any\any

Then add the following to your nuspec:

<contentFiles>
      <files include="**/*.*" buildAction="None" copyToOutput="true" flatten="true" />
</contentFiles>

[2020-05-08 17:19] heng-liu commented on #9536
According to : https://github.com/dotnet/runtime/issues/36120

[2020-05-08 17:57] greektreat commented on #3676
I find this strange I have been using VS for years, I haven't had to make NuGet Packages for a while but when I did I was able to order the Package sources in order of importance. I believe I used VS 2012 at the time. I am trying to do that now and noticed this issue

[2020-05-08 18:01] zivkan commented on #5773
Huge thanks to @BlackGad for implementing this. It was a big effort as we went though a design spec process first, which needed the original implementation to change considerably. But this has now been merged! 🎉

It will be available in:
* NuGet 5.7
* Visual Studio 2019 16.7 (probably preview 2)
* .NET Core 3.1 SDK 3.1.4xx
* .NET 5 SDK (I think preview 5)

[2020-05-08 18:01] #5773 closed, assigned to nugetlurker, zivkan

[2020-05-08 18:21] nkolev92 commented on #9355
Interesting. How do you define which other reference? Is the other reference a package or contents of a package?

[2020-05-08 21:07] donnie-msft commented on #1236
Fairly old thread, and for the most part, the UI redesign proposed is implemented. There are many other threads with more recent/relevant feedback, so closing this one.

[2020-05-08 21:07] #1236 closed, assigned to nobody

[2020-05-08 21:13] donnie-msft commented on #5937
Still relevant in 16.x. Designer noticed the refresh icon does not scale, nor match VS Theme.

Evaluate all resource files here: NuGet.PackageManagement.UI\Resources\

Refactoring is needed to move from resource files to
https://docs.microsoft.com/en-us/visualstudio/extensibility/image-service-and-catalog?view=vs-2019

[2020-05-09 01:22] Xeinaemm commented on #9355
I'm thinking about the dependency graph and package itself. If any collision, try downgrade dependencies to strong - otherwise remove the package. In some way, you can have collision over Reference, ProjectReference, or even PackageReference that are appropriate.

I’m pointing on circumstances where:
-	Reference should be over PackageReference, for example, local development over *.dll files by om

[2020-05-09 05:33] brandedoutcast opened #9543 "dotnet nuget push fails with -ss & -sk flags when using snupkg symbol format"
NuGet product used: `dotnet.exe`
dotnet.exe --version: `3.1.201`
OS version: `Win10 v1909 (18363.815) / Linux Latest on GitHub actions`
Worked before? If so, with which NuGet version: `No`

1. Run `dotnet pack --include-symbols -p:SymbolPackageFormat=snupkg -c Release Core.csproj`
2. Generates `Core.1.0.0.nupkg` & `Core.1.0.0.snupkg`
3. Run `dotnet nuget push *.nupkg -s https://mynuget.org/v3/inde

[2020-05-09 11:03] johnpankowicz commented on #7648
This problem also occurs when running multiple build tasks in Visual Studio Code. I define a "Build All" task in tasks.json with a "dependsOn" property that contains multiple other tasks. Two of these tasks load the same NuGet package. If that package is not currently in the cache, one of the dependent tasks will fail with this error.

[2020-05-09 18:32] orcun commented on #8525
From my point of view as a customer, how do I know which source a package should be downloaded from? What happens if a package is gone, where should I look for? What happens there is a naming conflict? Is `packageSources` a priority list? What happens when I have conflicting priorities?

Again, from my point of view, keeping the source of a package is neither complex, nor unnecessary. If a package

[2020-05-10 09:25] jmroyb commented on #6795
Still failing in Microsoft Visual Studio Enterprise 2019 Version 16.5.4:

![image](https://user-images.githubusercontent.com/4932314/81495426-8d417c80-92b0-11ea-9acd-5c6f5c6b2bfa.png)

But not failing "nuget restore sln"  not failing with NuGet Version: 5.4.0.6315
![image](https://user-images.githubusercontent.com/4932314/81495461-b9f59400-92b0-11ea-954c-14047e6c5530.png)

[2020-05-10 22:46] n8allan opened #9544 "Feature suggestion: include upgrade refactorings"
It would be nice if renaming and other minor refactorings could be included in nuget packages so that libraries don't get locked into poorly named public symbols in the name of maintaining backwards compatibility.

Essentially, when a library is upgraded, the code changes necessary to support the changes in the library would automatically be applied.  At the least, it could handle renames, but per

[2020-05-11 04:05] StingyJack commented on #7131
@VerdonTrigance   this is because  a solution builds with "Platform=Any CPU", but a project builds with "Platform=AnyCPU". Remove the space in your platform value and it should work.

[2020-05-11 04:41] loic-sharma commented on #8058
I made [a tool](https://github.com/loic-sharma/nuget-mirror) to help estimate response sizes if we removed paging from the registration API altogether. The resulting registration indexes had the following size on disk after gzip compression:

* Average size: 1.15 KB
* 90th percentile size: 1.82 KB
* 99th percentile size: 8.60 KB
* 99.9th percentile size: 25.1 KB
* 99.99th percentile: 60.76 KB
* Ma

[2020-05-11 05:42] andrew-boyarshin commented on #7395
Note, that this behavior causes MSBuild to consider files up-to-date and skip running targets if they are dependent on files within NuGet package. For instance, I'd expect MSBuild task assembly I've just modified+built+packed+restored to be considered an out-of-date input. But instead, I have a newer input being considered older (due to UTC), than actually older files (UTC+6).

[2020-05-11 07:06] Bosch-Eli-Black commented on #6665
For me, doing `dotnet restore` on the entire folder, instead of the solution file, fixed the issue.

That is, this command fails:
```dotnet restore my-project\my-project.sln```

This command works:
```dotnet restore my-project\```

[2020-05-11 08:50] VerdonTrigance commented on #7131
Nope, my project also 'Any CPU'

`##[debug] MSBuildArguments: '/p:IsPackaging=true /p:platform="Any CPU" /p:configuration="Release" /p:VisualStudioVersion="16.0" /p:_MSDeployUserAgent="VSTS_2aead77d-3393-49cc-a0f9-3d96137a68e6_build_63_0"'
`

[2020-05-11 11:49] StingyJack commented on #7131
@VerdonTrigance if you did try changing it and it actually doesn't work, verify what your csproj has for build configurations.

[2020-05-11 13:17] jirikopecky commented on #8646
Hello, I can confirm that the issue have been fixed. Thanks for your help!

[2020-05-11 14:07] #8646 closed, assigned to anangaur

[2020-05-11 16:39] donnie-msft commented on #9544
This may already be possible with [T4 templates](https://docs.microsoft.com/en-us/visualstudio/modeling/code-generation-and-t4-text-templates?view=vs-2019&redirectedfrom=MSDN) and Build Actions.

Managing undo on downgrade would be one concern.

[2020-05-11 16:46] #9484 closed, assigned to heng-liu

[2020-05-11 17:06] zivkan commented on #9544
Keep in mind, if your package doesn't keep the old APIs, then it will break ABI (application binary interface). If you have multiple assemblies that use your package's assembly, as soon as the any one of the assemblies upgrades to the new version of the package with breaking changes, all the other dlls compiled against your old package will throw method not found errors at the app's runtime. Unles

[2020-05-11 18:03] mirkomuggli opened #9545 "Hook up FeatureFlags for PMUI in CodeSpaces"
As part of enabling PMUI for Codespaces, we've now listed as a Feature in Tools->Options->Preview Features (the VS PR to enable this flag is here: https://devdiv.visualstudio.com/DevDiv/_git/VS/pullrequest/247442)

In PMUI, we should check this feature flag before enabling the "Manage Nuget Packages" menu item when connected to Codespaces.

[2020-05-11 18:22] heng-liu opened #9546 "Warnings for new code in xplat verification branch from CodeAnalysis.FxCopAnalyzer"
The following warnings are reported by  CodeAnalysis.FxCopAnalyzer in the new code:

[code]
[code]

We need to fix them before merging into dev.

[2020-05-11 18:29] nkolev92 commented on #9546
Just to further my own understanding...how are items that need to be fixed before the dev merge tracked?

[2020-05-11 18:41] heng-liu commented on #9546
Oops..Thanks for reminding. Add this issue to epic: Xplat signing: Merge into dev

[2020-05-11 18:58] donnie-msft commented on #9502
You could use `dotnet pack`  with [-IncludeReferencedProjects](https://docs.microsoft.com/en-us/nuget/reference/cli-reference/cli-ref-pack#options). Have you tried this approach?

Secondly, you may try `dotnet add` command for this reference. If you already did, please share the --verbosity detailed output?
`dotnet add app/app.csproj reference lib/lib.csproj`
https://docs.microsoft.com/en-us/dotne

[2020-05-11 19:10] nkolev92 commented on #5624
From an internal thread. cc @anangaur

Both of these settings apply to restore in general, both packages.config and PackageReference!

#1

“Allow NuGet to download missing packages” => This is basically a setting to disable restore complete. Regardless of whether it’s explicit, on build or auto restore in CPS projects.
It controlled by the environment variable: EnableNuGetPackageRestore
Or the NuG

[2020-05-11 20:10] nkolev92 commented on #8723
Thanks for update @yirkha

Closing as external.

[2020-05-11 20:10] #8723 closed, assigned to nobody

[2020-05-11 20:12] nkolev92 commented on #8724
Thank you reporting this issue. At this point we do not have enough information to continue investigating the issue.
Please feel free to comment or open a new issue if needed.

[2020-05-11 20:12] #8724 closed, assigned to nobody

[2020-05-11 20:27] nkolev92 commented on #8771
From the timestamps looks like NuGet is spending all the time trying to discover MSBuild.

[code]

@HermannGruber

As per the e-mail the time out message tells you about the MSBuild timeout.
We'd need more information to continue investigating.

Can you please try it with the latest NuGet?
How to Capture perf etl logs:
1. Download and extract PerfView.exe. https://github.com/Microsoft/perfview/blo

[2020-05-11 20:29] nkolev92 commented on #8775
@jogibear9988

Are you using our libraries or are you using the tooling itself?

[2020-05-11 20:36] tebeco commented on #9502
the repository I created especially for that and linked with all the repro step did not work for you either ?

[2020-05-11 20:59] nkolev92 commented on #9544
Is the ask here for a NuGet capability or something that the package author would need to write themselves?

@n8allan

[2020-05-11 21:08] nkolev92 commented on #1830
I believe this is has been addressed by https://github.com/NuGet/NuGet.Client/pull/2521, which was work for the solution filters feature.

The original issue linked to that PR is https://github.com/NuGet/Home/issues/5820, but this one is equally as appropriate.

If a restore has run successfully (either through a commandline restore or a restore where all projects are loaded in VS), NuGet will reu

[2020-05-11 21:08] #1830 closed, assigned to nobody

[2020-05-11 21:14] nkolev92 commented on #5175
Hey @wilgf

Apologies for the long delay.
At this point we've tried to address as many of the discrepancies as possible among commandline and VS restore.

Given the age of this issue, move to packagereference, and the fact that the lock files in the attachment are unactionable (one of the contains a class file, not the project.lock.json content), I'm gonna close this issue.

if you are still seein

[2020-05-11 21:14] #5175 closed, assigned to nobody

[2020-05-11 21:50] tebeco commented on #9502
on which project ?

dotnet add app/app.csproj reference lib/lib.csproj

From which project to which project ?

The nugets seems works perfectly, my issue is that a DON'T want a `<PackageReference` but a `<ProjectReference`

[2020-05-11 22:27] tebeco commented on #9502
What's your personal syntax for verbosity on `add reference` ?
![image](https://user-images.githubusercontent.com/2266487/81618310-59b53e00-93e7-11ea-9ab9-dbed4ceb619b.png)
![image](https://user-images.githubusercontent.com/2266487/81618317-6043b580-93e7-11ea-8385-8b8906fe3e1f.png)

[2020-05-11 22:50] clairernovotny commented on #4184
FWIW, Extras supports creating ref assemblies along with corresponding lib/runtime ones "all in one"

https://github.com/novotnyllc/MSBuildSdkExtras#reference-assemblies

[2020-05-11 23:00] nkolev92 commented on #9431
Self-assigning for Sprint 170.

[2020-05-11 23:24] zkat commented on #5154
Moving under the .NET 5 epic (#9090), as this is probably something we want to look into prioritizing for that. It'll require a lot of partner work/sync. Most likely the next step for this is to collect some partner/user stories to get a sense of the impact the lack of this feature is having, so we can better prioritize it in our roadmap. (so if you're reading it, feel free to tell us how this imp

[2020-05-11 23:35] nkolev92 commented on #5154
As me, @zkat, @zivkan and others discussed during the sync-up, I think this is larger than a week's work and thus not quality week appropriate.

Affected areas:

* Pack (What happens when we see duplicate target frameworks).
* ProjectReference..selecting the best framework would be ambiguous when a build products a build for the same target framework.

Finally it affects the writing of the lock fi

[2020-05-12 02:50] n8allan commented on #9544
I was thinking it would be something that nuget facilitates, but would have to be created by the package author.  The thinking is that as a library creator, if you wanted to rename a class, method, or whatever; or move a method elsewhere, you could do so freely without breaking the users.  This way the library API doesn't become cemented and the possibilities for innovation and evolution of librar

[2020-05-12 03:42] nealef opened #9547 "Restore signed packages on Big Endian CPUs"
## Details about Problem

NuGet.exe - NuGet version (5.5.0.6319)

## Detailed repro steps so we can see the same problem

1. Run NuGet install of any package - for example build NuGet.Client

On Big Endian platforms:
[code]
In ```EndOfCentralDirectoryRecord.cs``` the value ```Signature``` is defined as:
[code]
And is (only?) used to check/locate the end of central directory signature via:
[code]
W

[2020-05-12 06:49] HermannGruber commented on #8771
@nkolev92 Thank you for caring! Unfortunately, it does not make sense for us to continue investigating the issue, since our product SeleniumTest.sln was deactivated in the meantime, and consequently the problematic build is no longer maintained. Sorry for taking your time - I would better have closed the issue immediately when our product went inactive.

[2020-05-12 06:49] #8771 closed, assigned to nobody

[2020-05-12 07:15] cheenamalhotra commented on #9369
@jessehouwing

Do you have a sample app? I wonder how can one conditionally provide Dependencies for Platform specific targets. There's no "Platform" attribute supported in NuSpec too.

[2020-05-12 07:34] jessehouwing commented on #9369
In the end I converted the whole project to AnyCPU with dynamic library loading and got rid of the platform specific build outputs.

[2020-05-12 08:40] VerdonTrigance commented on #7131
I have checked .csproj file and fond 'AnyCPU' in there though the configuration manager UI was showing 'Any CPU'. Ok, forget trash GUI. I changed it like below:

[code]

[code]

And still get strange error! *Sigh*

`##[error]C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Current\Bin\Microsoft.Common.CurrentVersion.targets(777,5): Error : The OutputPath property is not set f

[2020-05-12 09:37] wazzamatazz opened #9548 "Cannot sign package using NuGet.Commands and .NET Core 3.1 on Windows 10"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.Commands package

NuGet version (x.x.x.xxx): 5.5.1

dotnet.exe --version (if appropriate): 3.1.201

VS version (if appropriate): 16.5.4

OS version (i.e. win10 v1607 (14393.321)): Windows 10 v2004 (19041.208)

## Detailed repro steps so we can see the same problem

Attached sample project

[2020-05-12 10:19] fabich commented on #9493
@zkat I'm still running into the same issue with the solution you suggested.

`warn : Your request could not be authenticated by the GitHub Packages service. Please ensure your access token is valid and has the appropriate scopes configured.
  Unauthorized https://nuget.pkg.github.com/<corp>/ 451ms
error: Response status code does not indicate success: 401 (Unauthorized).`

my yml:
[code]

my .csp

[2020-05-12 11:18] StingyJack commented on #7131
The GUI is correct. When building a solution, use "Any CPU", when building a project use "AnyCPU". It's always a rude surprise  when you first find this.

This means that the configuration and platform  argument set that is being given to msbuild or the pack command is not one that can be located in the csproj.

Take a moment to make sure you are using the correct variants of the platform for the

[2020-05-12 11:45] fabich commented on #9493
@ZEisinger maybe this is something you know more about?

[2020-05-12 13:13] sl-antoinesauvinet commented on #6140
Hi, I'm encoutering kinda same issue, not during a nuget restore, but during :
`dotnet new -i Whatever.Template.ITry.To.Install`

**--- output :**

[code]

**--- SYSTEM INFO**
[code]
[code]
[code]

[2020-05-12 13:27] VerdonTrigance commented on #7131
I fond that VS always change .sln file itself to "Any CPU" in it.

Anyway, why this error appears if I pass "Any CPU" everywhere?

`##[error]C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Current\Bin\Microsoft.Common.CurrentVersion.targets(777,5): Error : The OutputPath property is not set for project 'MyComp.CommonUtilities.csproj'. Please check to make sure that you have

[2020-05-12 14:44] elahaha commented on #6918
Hi @all

I am getting the same issue when trying to run
`nuget restore`
on my Win-10 VDI with MsBuildTools2019 installed, msbuild version '16.5.0.12403' and nuget '4.7.1'
See below my output on the command line of the VDI:

#Command line log
[code]

Hints on how to resolve are appreciated. Thanks!

[2020-05-12 16:38] donnie-msft commented on #9547
@heng-liu

[2020-05-12 16:39] donnie-msft commented on #9548
@heng-liu

[2020-05-12 16:56] heng-liu commented on #9548
Hi, @wazzamatazz. Thanks for reporting this issue!
We're going to support cross platform package signing for netcore soon(but for net5, not .NET Core 3.1). The tracking epic issue is https://github.com/NuGet/Home/issues/9006
For now, we only support package signing for .NET Framework.

[2020-05-12 17:44] wazzamatazz commented on #9548
Hi, thanks for clarifying.

I was specifically targeting Windows, so I've come up with a workaround that involves referencing the NuGet.CommandLine package and invoking the NuGet.exe process from my app instead of trying to run the command in-process.

[2020-05-12 18:03] cristinamanum opened #9549 "[CPVM] Spurious package downgrades for multiple p2p projects"
## Details about Problem

In the restore graph that has multiple project to project references a package that is direct reference can cause downgrade error.

## Detailed repro steps so we can see the same problem
Download the attached project
Execute :
cd DuplicateCPVMNodes\DuplicateCPVMNodes
msbuild /t:restore DuplicateCPVMNodes.csproj

### Sample Project

[DuplicateCPVMNodes.zip](https://github.

[2020-05-12 20:25] #9517 closed, assigned to nobody

[2020-05-12 20:44] heng-liu commented on #9547
Hi @nealef , may I know what kind of hardware/OS are you using? Thanks!

[2020-05-12 20:56] rrelyea opened #9550 "PMUI Install Tab in VS.Oe"

[2020-05-12 20:57] rrelyea opened #9551 "PMUI Update Tab in VS.Oe"

[2020-05-12 20:58] rrelyea opened #9552 "PMUI Consolidate Tab in VS.Oe"

[2020-05-12 21:06] nealef commented on #9547
Mono 6.x on Linux on s390x (aka IBM Z aka "the Mainframe").

-------- Original message --------
From: heng-liu <notifications@github.com>
Date: 5/13/20 06:45 (GMT+10:00)
To: NuGet/Home <Home@noreply.github.com>
Cc: Neale Ferguson <neale@sinenomine.net>, Mention <mention@noreply.github.com>
Subject: Re: [NuGet/Home] Big Endian problem with EndOfCentralDirectoryRecord  (#9547)

Hi @nealef<https://gi

[2020-05-12 21:15] rrelyea opened #9553 "Uninstall Operation remoted in VS.Oe"

[2020-05-12 21:16] rrelyea opened #9554 "Update Operation remoted in VS.Oe"

[2020-05-12 22:34] nkolev92 commented on #9447
Removing myself from the assignees...the MSBuild/SDK team is managing it.

[2020-05-12 22:35] nkolev92 commented on #9544
Note the caveats raised by @zivkan in that case. The .NET ecosystem is such where NuGet flattens, specifically if many different dependency paths request different versions of a package, NuGet will try to resolve the best one.

For some thoughts on this topic, see https://codeblog.jonskeet.uk/2019/10/25/options-for-nets-versioning-issues/ for example.
It does a great job at summarizing the problem

[2020-05-12 23:07] heng-liu opened #9555 "ComputeSignature is silent by default in .NET Core, which disables PIN prompts"
The current overload of ComputeSignature changed meaning between .NET Framework and .NET Core. In .NET Core, the context is silent by default, which won't enable PIN prompts for smart cards/usb tokens that require it. false must be passed in to enable that if applicable.

Will block code signing from working from most USB thumb drives if not set.

[2020-05-12 23:33] donnie-msft commented on #2585
Yet another request to sort 'Browse' tab by download counts.

_Originally posted by @msd-kharazi in https://github.com/NuGet/Home/issues/1739#issuecomment-297245720_

[2020-05-12 23:39] donnie-msft opened #9556 "Search relevancy (default sort) in Browse Tab is unclear"
Feedback around relevancy on the Browse Tab is referenced below:

_Originally posted by @dfev77 in https://github.com/NuGet/Home/issues/1739#issuecomment-236285017_

_Originally posted by @rrelyea in https://github.com/NuGet/Home/issues/1739#issuecomment-236309907_

_Originally posted by @ArtourK in https://github.com/NuGet/Home/issues/1739#issuecomment-261556817_

Is sorting still not supported?

[2020-05-12 23:41] donnie-msft opened #9557 "VS UI PM Package sorting and default ordering improvements"
Design in https://github.com/NuGet/Home/pull/12704

[2020-05-12 23:47] nkolev92 opened #9558 "Update the editor config, do not separate usings directives"
`dotnet_separate_import_directive_groups = false` leads to

[code]

`dotnet_separate_import_directive_groups = true` leads to

[code]

[2020-05-12 23:51] nkolev92 commented on #2585
The browse tab functionality is driven by search behavior.

If the servers don't return results sorted by say downloads, the client wouldn't be able to do too much.

Also, keep in mind the challenges for the "All" behavior, do they add up? Pick the largest etc. Right now the all tab displays partial results and it wouldn't care about the download count.

Alternatively, certain "search by" could be

[2020-05-13 01:09] StingyJack commented on #7131
Because csproj and other proj files do not understand "Any CPU".  This is part of a csproj from a new class library project, and I have added comments before each section to help convey the idea.

[code]

You are getting the error ` The OutputPath property is not set for project 'MyComp.CommonUtilities.csproj'. Please check to make sure that you have specified a valid combination of Configuration

[2020-05-13 04:06] #9546 closed, assigned to heng-liu

[2020-05-13 06:29] agaace commented on #6373
My biggest issue with this behavior is that it causes obscure failures if you use Visual Studio to build your projects. I opened this issue for Visual Studio:
https://developercommunity.visualstudio.com/content/problem/878141/nugget-restore-randomly-failing-with-obscure-error.html
and they closed it as a dupe of this issue.. So we're in a downward spiral of confusing/obscure behavior here.

[2020-05-13 08:08] RachelDavids commented on #6754
Came across this today. Created my standalone (not a package) csproj called "Validation"  several months ago. Today I tried to include "PInvoke.User32" - this has a dependency on a package called "Validation". How am I, as a developer, supposed to know that I should not have used "Validation" for my project name.

[2020-05-13 08:28] RachelDavids commented on #6754
@KirillOsenkov @tmat I tried the workaround mentioned earlier and it seems to have worked. BUT I'm not building a package so why should defining a PackageId change anything for me?

[2020-05-13 08:31] VerdonTrigance commented on #7131
Yes, I did as I told in previous Update:

Here is my csproj;

[code]

And sln is

[code]

And build and  NuGet tasks are

[code]

[code]

As you can see I pass Platform='AnyCPU' to NuGet pack where variables.platform is 'Any CPU' for building solution.
As a result I still get error

`NuGet.Packaging.Core.PackagingException: Unable to find 'MyComp.CommonUtilities.dll'. Make sure the project has bee

[2020-05-13 09:39] v-longmin opened #9559 "[Bug Bash][Test Failure] The “Browse” tab is not aligned left with search box"
## Details about Problem
VS Version: Master\30112.146
OS Version: Windows-10-Enterprise-RS5.
NuGet Version: Dev\5.7.0.6611
## Installiation
Install VS: https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=3723092&view=ms.vss-build-web.run-extensions-tab
## Repro steps
1.  Launch Visual Studio 2019 preview.
2. Click “Create a New Project” button and create a new Console App (.Net Core) pro

[2020-05-13 10:36] chucklu opened #9560 "How did you get the PackageVersion?"
## Details about Problem

https://github.com/kerryjiang/SuperSocket/runs/669537495?check_suite_focus=true
The version "2.0.0-preview3(a0348157292533798b77690ab683d2e06f7fa1b2)" you get is used as production version. How could it become a package version? I suppose you will get the file version as the package version which is "2.0.0-preview3".

The version was defined in https://github.com/kerryjia

[2020-05-13 13:43] onyxmaster commented on #6367
VS16.5.5 still has this problem for us, breaking build.

[2020-05-13 14:32] rainersigwald commented on #6918
@elahaha If possible, please update your nuget.exe version. There should be an MSBuild fix in Visual Studio 16.5.5 and 16.6.0 when they are released.

[2020-05-13 15:17] mrmartan commented on #6665
@nkolev92 @livarcocc

Well, this is a mess. MS keeps closing issues on this while the community keeps opening them. This one is like the fourth in a chain I went through.

AFAICT it boils down to projects you want included in your Solution but you are pretty fine they don't get built by CI. You want them in the solution because of the convenience it gives you when developing on your box. Some of s

[2020-05-13 15:38] donnie-msft commented on #9559
This is due in part to the tab's inner width/padding. If we really want this alignment, we could remove the left padding/margin and set the horizontal alignment to the left.

15.x was left-aligned, but haven't checked how far back into 16.x this was aligned, if ever. Likely, my new [TabControl](https://github.com/NuGet/NuGet.Client/pull/3238) introduced this.

15.x:
![image](https://user-images.gi

[2020-05-13 15:41] wli3 opened #9561 "dotnet pack doesn't find assembly dll if windows locale is non-US"
---
**Issue moved from dotnet/sdk#11442**
- Please respond to @milung.

---

_From @milung on Monday, April 27, 2020 11:19:33 AM_

Generating nuget package does not work on my windows 10 system witn .NET Core SDK 3.1.201 if the system regional settings is the local one (Slovak for region settings) In the such case, I am getting error:

[code]

After changing to US regional settings in windows sett

[2020-05-13 15:52] zivkan commented on #9560
[SemVer2](https://semver.org/) is strict on what characters it allows in a version string, and neither `(` nor `)` are allowed. As per the SemVer2 website, build metadata, such as the commit hash, can be put in the metadata field, which is prefixed with the `+`. So the version string `2.0.0-preview.3+commithash` would be ok.

Also note that if you ever have more than 9 previews, then using `previe

[2020-05-13 15:57] donnie-msft commented on #9561
@dominoFire ever run into this?

[2020-05-13 16:35] milung commented on #9561
one possible hint here - in the central europe (slovak, czech, germany...), the decimal part separator is comma instead of dot  (US 3.14 == CE 3,14) and the date formats are DD-MM-YYYY instead of MM-DD-YYYY. Quite common that some softwares fall into this trap, so I intentionally keep local settings to get early warniong in our own projects, and it is one of the first thing when I here some german

[2020-05-13 16:57] chucklu commented on #9560
`@zivkan I did not specify the Package Version, you get the production version` as package version.
**My question is why you use `production version` for package version**, I have another version `file version`, and the file version is 2.0.0.

[2020-05-13 17:08] nkolev92 commented on #8681
Think this issue is related to https://github.com/NuGet/Home/issues/6284.

[2020-05-13 17:17] cristinamanum commented on #9237
The ProjectSystem will start working on this item. We will need only to re-evaluate that the APIs defined in the Service Updater are enough for our scenarios and communicate to them. Decreased the estimated hours.

[2020-05-13 17:52] StingyJack commented on #7131
@VerdonTrigance the project file you shared earlier has incorrect platform values. Did you revert that to match the example csproj I shared?

I also have not (and probably will not) moved off of nuget 4.9 for any of the 50+ build pipelines I am responsible for. But more importantly to the problem you are having - I won't use a csproj as a pack target, because it gets so many things wrong (and it d

[2020-05-13 18:11] StingyJack commented on #7180
@heng-liu and @zkat - just so its understood, this is still a problem for any developer who uses config files and nuget packages. I've just stopped complaining here since I've given a technique for how to fix the hard part and am now just waiting for you all to actually _do_ something

[2020-05-13 18:32] zivkan commented on #9560
NuGet uses `Version`, if `PackageVersion` isn't already defined:
https://github.com/NuGet/NuGet.Client/blob/788bc01a1b063a37841cdd6d035feb320e90e475/src/NuGet.Core/NuGet.Build.Tasks.Pack/NuGet.Build.Tasks.Pack.targets#L28

The .NET SDK uses `VersionPrefix` and `VersionSuffix` when `Version` is not defined:
https://github.com/dotnet/sdk/blob/2eb6c546931b5bcb92cd3128b93932a980553ea1/src/Tasks/Micros

[2020-05-13 18:55] nkolev92 commented on #7648
Hey @johnpankowicz if you are referring to usage of packages from the global packages folder, then it's not something that NuGet monitors.
NuGet guards the installation in the global packages folder with process wide locks.

Are these tasks running multiple restores?