[2021-07-21 18:55] crummel commented on #11059
@nkolev92 or @zivkan, is this something you'd be able to help us out with for Preview7?

[2021-07-21 18:57] crummel opened #11060 "[ArPow] NuGet.Client source-build patch removal"
### NuGet Product Used

dotnet.exe

### Product Version

NuGet.client

### Worked before?

_No response_

### Impact

_No response_

### Repro Steps & Context

In the PR to add source-build to NuGet.Client (https://github.com/NuGet/NuGet.Client/pull/4105), we added one patch (https://github.com/NuGet/NuGet.Client/blob/5353034fed272cb81fbe60326f334b99871d8b74/eng/source-build-patches/0001-Rename-Nu

[2021-07-21 18:59] nkolev92 commented on #11059
cc @aortiz-msft

[2021-07-21 20:07] nkolev92 commented on #11002
@erdembayar we don't really use half days in estimates.

Can you please not adjust the estimates? It messes with the tracking in https://github.com/NuGet/Client.Engineering/issues/1026.

[2021-07-21 20:13] jzabroski commented on #6431
Also, FYI, i created https://github.com/microsoft/MSBuildSdks/issues/272 to track the idea of referencing the version independent of the path.  I don't quite see the point in referencing the ID since it is generally not a dynamically bound value.

[2021-07-21 20:49] #10732 closed, assigned to kartheekp-ms

[2021-07-21 20:56] gh-andre commented on #6431
@jzabroski There was some hurdle with `PackageReference` for C++ projects and I don't even remember what it was off the top of my head. Will need to try `GeneratePathProperty` to see how it works. Thanks for the links.

[2021-07-21 21:12] zivkan commented on #11059
@crummel how do other repos deal with package name + version collisions?  I don't see how it's possible to publish both "source build" and "non source build" versions of the same package.

[2021-07-21 21:14] jzabroski commented on #6431
If you package a C++ project via nuget, make sure to tag it with `native` so that your package server is a bit more intelligent about its usage.

I found the following macro will get the version number:
[code]

[2021-07-21 21:39] #10984 closed, assigned to dominoFire

[2021-07-21 21:53] nkolev92 commented on #10961
@erdembayar

After https://github.com/nuget/home/issues/10948 and your tests, if you have time, please pick up this task.

[2021-07-21 21:57] rogerfar opened #11061 "[Bug]: registration endpoint does not always report upper correctly"
### NuGet Product Used

NuGet.exe

### Product Version

Nuget API

### Worked before?

_No response_

### Impact

Other

### Repro Steps & Context

Browse to this repository:
https://www.nuget.org/packages/Serilog.Exceptions/
Latest version is 7.0.0

But when browsing to the registration metadata:
https://api.nuget.org/v3/registration5-semver1/serilog.exceptions/index.json

It reports 5.4.0 as the

[2021-07-21 22:00] rogerfar commented on #11061
Now, it does work for `https://api.nuget.org/v3/registration5-gz-semver2/serilog.exceptions/index.json` because it's semver 2, but shouldn't the default `RegistrationsBaseUrl` from `https://api.nuget.org/v3/index.json` not switch to semver2 at some point?

[2021-07-21 22:07] #11002 closed, assigned to erdembayar

[2021-07-21 23:49] dc7497-1576912 opened #11062 "Visual Studio Deep Link NuGet Package Install"
From GH issue [https://github.com/NuGet/Home/issues/11032](https://github.com/NuGet/Home/issues/11032)

[2021-07-21 23:50] dc7497-1576912 opened #11063 "Set up Visual Studio to be able to handle a custom URI protocol"

[2021-07-21 23:56] dc7497-1576912 opened #11064 "Parse URI link to extract details about a package to open in the PMUI"

[2021-07-21 23:56] dc7497-1576912 opened #11065 "With the PMUI open (solution or project level), search for a specific package version and navigate to the target package details page"

[2021-07-21 23:57] dc7497-1576912 opened #11066 "From an open solution in Visual Studio, add a mechanism to open the solution level PMUI"

[2021-07-21 23:57] dc7497-1576912 opened #11067 "From an already-open instance of Visual Studio, add a mechanism to prompt the user to select what solution to open"

[2021-07-21 23:57] dc7497-1576912 opened #11068 "Open a new instance of Visual Studio when no Visual Studio instance is already open"

[2021-07-22 01:43] saber-wang commented on #11056
@zivkan
Connection reset by peer exception occurred
![image](https://user-images.githubusercontent.com/45062099/126579716-e0333909-2e87-4283-8d0d-0291b45f183d.png)

[2021-07-22 02:26] xiatiandegaga commented on #11056
![image](https://user-images.githubusercontent.com/47713355/126582361-2170e27c-0e14-417b-808d-3914a1691f44.png)

[2021-07-22 04:29] sunchi570 commented on #11056
@zivkan
 Connection reset by peer.
![image](https://user-images.githubusercontent.com/16114632/126589926-a13d4445-4887-4edc-99b3-e3c8bbc44395.png)

[2021-07-22 04:33] YGeneral commented on #11056
This problem has occurred since yesterday, and it was normal before

[2021-07-22 04:34] YGeneral commented on #11056
And the server related software has not been updated recently

[2021-07-22 04:49] #10678 closed, assigned to nkolev92

[2021-07-22 05:57] yaoyuansheng commented on #11056
i have the same issue

[2021-07-22 06:40] xiatiandegaga commented on #11056
now it's ok ，it seems nuget‘s network

[2021-07-22 08:12] marcin-krystianc commented on #11031
Hi, I've compared the content of global packages folder for `v3.1.407` and `v5.0.202`. There is only one ignorable difference for the `OrchardCore` solution. The difference is in the `packages\.tools\dotnet-xunit\2.3.0\netcoreapp2.2\project.assets.json` file.

|                 | v3.1.407 | v5.0.202 |
|-----------------|----------|----------|
| Orleans         | 2,277,816,762 bytes, 16,603 Files,

[2021-07-22 10:36] YGeneral commented on #11056
Have you made any changes

[2021-07-22 11:03] vlada-shubina opened #11069 "[Bug]: NuGet SDK client cannot search for packages for a given packageType"
### NuGet Product Used

dotnet.exe

### Product Version

5.10.0, 6.0.0-preview.2.129

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

Product is NuGet Client SDK.
Requirement: search for all packages of package type `Template` using NuGet SDK:

Code:

[code]
Output:
[code]

Expected: only packages of template type is returned.
Actu

[2021-07-22 12:45] zivkan commented on #11069
Duplicate of https://github.com/NuGet/Home/issues/8915.  Please add a 👍 reaction there.

[2021-07-22 12:45] #11069 closed, assigned to nobody

[2021-07-22 13:14] zivkan commented on #11031
As Heng mentioned in an earlier comment, a major difference between the .NET Core 3.1 SDK and the .NET 5 SDK, is that package signature verification was added.

This needs to:
1. Take a SHA256 hash of the nupkg (with special rules, so it won't match the SHA256 hash taken by other programs) to ensure it matches the hash written to the signature file
2. Check the certificate chain of the certificate

[2021-07-22 13:27] zivkan commented on #11056
If you're using docker, please check if api.nuget.org can be reached on the host machine. I have seen customers report connection issues that only happen in their docker container before, I'm not sure how they expect the NuGet team to investigate or fix.

If the problem is also happening on the host machine, or you're not using docker, please [contact the nuget.org team with the information they r

[2021-07-22 13:34] Rizzen commented on #11019
@heng-liu Yeah, the way you describe works, but common use case is single package upgrade and it leads to NU1605. It would be nice if NuGet updated all the neccessary dependencies when upgrading single package.

[2021-07-22 15:04] YGeneral commented on #11056
Hello, my problem is when I use Jenkins to publish docker

[2021-07-22 15:04] YGeneral commented on #11056
It hasn't been solved yet

[2021-07-22 15:07] YGeneral commented on #11056
The host can access api.nuget.org

[2021-07-22 15:18] Dancho80 opened #11070 "[Bug]: Ignores no_proxy settings"
### NuGet Product Used

Visual Studio Package Management UI, Visual Studio Package Manager Console

### Product Version

.Net 5.0.302

### Worked before?

no

### Impact

It's more difficult to complete my work

### Repro Steps & Context

Working behind a corporate proxy server
1. add HTTPS_PROXY and HTTP_PROXY to the environment variables
2. add no_proxy with your local Nuget repo server

working

[2021-07-22 15:31] zivkan commented on #11056
Perhaps you need to talk to docker support then. If your host machine can talk to api.nuget.org, then there isn't a problem with the nuget client, or nuget CDN. The `Received an unexpected EOF or 0 bytes from the transport stream` and `Connection reset by peer` errors happen at a much lower level than NuGet's code, and is out of our control.

[2021-07-22 15:43] zivkan commented on #11070
duplicate of https://github.com/NuGet/Home/issues/10902.

The fix has already been released in 16.11 preview 2.

[2021-07-22 15:43] #11070 closed, assigned to nobody

[2021-07-22 15:43] YGeneral commented on #11056
Okay thank you

[2021-07-22 15:44] #11056 closed, assigned to nobody

[2021-07-22 15:52] zivkan commented on #11056
@YGeneral I just chat with someone who maintains Microsoft's dotnet docker images, and his suggestion is you can also try https://github.com/dotnet/dotnet-docker/discussions

[2021-07-22 16:00] zivkan commented on #11019
@Rizzen I changed this issue to a new feature request, since it's not a bug of existing features.

Also, you can consider uninstalling NExpect as a direct reference, since it's a transitive package of the other package, and let it come in that way.

[2021-07-22 17:41] heng-liu commented on #10110
Test for bots removing WaitingForClientTeam label.

[2021-07-22 17:42] heng-liu commented on #10110
Finished testing and remove "waiting for" label.

[2021-07-22 17:56] KirillOsenkov commented on #10389
Adding my voice in support of bringing back transitive pinning. The vast majority of consumers want this behavior, and we should either turn it back on or at least make it optional (and I strongly suggest defaulting it back to on, so that in the rare case where you need it off people can turn it off).

Optimize for the vast majority (not to mention that turning it off was a breaking change which s

[2021-07-22 18:01] zivkan commented on #10115
There are more upvotes and engagement in https://github.com/NuGet/Home/issues/10389 than this issue (plus a PR linking to that issue), so closing this one as a duplicate.

[2021-07-22 18:01] #10115 closed, assigned to nobody

[2021-07-22 18:03] dc7497-1576912 opened #11071 "Write spec for VS Deep Link NuGet Package Install"

[2021-07-22 18:04] dc7497-1576912 opened #11072 "Add Mechanism to select between open instances of VS"

[2021-07-22 18:17] prasethu commented on #8985
The Visual Studio Connected Experience team gets a constant influx of these questions on our support alias heavily randomizing us. Can we get this prioritized soon?

[2021-07-22 18:58] KirillOsenkov commented on #10578
Hey @joeltankam this is random and unrelated, but I made a highly scientific poll about the directionality of the dependency arrows in your diagram:
https://twitter.com/KirillOsenkov/status/1418272045880672260

It's interesting that in your mental model the directionality is from the dependency to the dependent. Not saying it's wrong, just seems that the majority of people seem to gravitate to the

[2021-07-22 19:02] #11026 closed, assigned to erdembayar

[2021-07-22 19:46] donnie-msft opened #11073 "[Bug]: Unable to cast object of type 'NuGet.VisualStudio.Internal.Contracts.PackageSourceContextInfo' to type 'NuGet.Configuration.PackageSource'.'"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Version 17.0.0 Preview 3.0 [31516.353.main]

### Worked before?

16.x?

### Impact

Other

### Repro Steps & Context

1. Open NuGet Settings
2. Attach a debugger
3. Change a Source by either [un]checking a source, or add/removing/renaming one.
4. Observe the following casting exception
5.
![image](https://user-images

[2021-07-22 19:54] donnie-msft commented on #11073
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.PackageManagement.UI/Options/CheckedListBoxAccessibleObject.cs#L34

[2021-07-22 20:09] #11011 closed, assigned to nobody

[2021-07-22 22:56] #10551 closed, assigned to nobody

[2021-07-22 22:56] tarastriska opened #11077 "Use local project instead of referenced package dependency when version does not start from 0.*"
### Discussed in https://github.com/NuGet/Home/discussions/11076

<div type='discussions-op-text'>

<sup>Originally posted by **tarastriska** July 23, 2021</sup>
I have my own nuget package **PackageA** that depends on my other package **PackageB** (let say with version >=2.0.1)
Then I have solution with
**MyTestProject** that references **MyOtherTestProject** that references **MyProjectB** (this

[2021-07-22 22:59] joeltankam commented on #10578
I am only realizing now that the majority of people are indeed gravitating to the opposite 😅

[2021-07-23 02:05] YGeneral commented on #11056
thank you very much！

[2021-07-23 18:12] zivkan commented on #11061
`RegistrationsBaseUrl` is not the default, rather it is the backwards compatible resource for the oldest NuGet clients that didn't support the `resource/version` syntax.  Changing this URL to point to the semver2 folder structure will break these old clients that don't support semver2, gzip, or any other feature that was added to the package metadata resource since the initial release.

See also o

[2021-07-23 18:12] #11061 closed, assigned to nobody

[2021-07-23 18:15] dominoFire opened #11081 "[DCR]: Refactor PackageVulnerabilityMetadata to use enum type in Severity"
### NuGet Product(s) Affected

NuGet.exe, Visual Studio Package Management UI, Visual Studio Package Manager Console, MSBuild.exe, dotnet.exe

### Current Behavior

Current `PackageVulnerabilityMetadata` uses `int` to represent `Severity`. While it's simple enough, it may lead to unknown vulnerability levels not documented in NuGet Protocol. See https://docs.microsoft.com/en-us/nuget/api/registrat

[2021-07-23 20:18] zkat commented on #10249
Pretty sure this was fixed by https://github.com/NuGet/NuGet.Client/pull/3610/files#diff-9beb7baafb84d8b040bf059cbc6dc9d708941514c425933fe9576749a044b103R839

I'll write a test but you can likely consider this resolved.

[2021-07-23 21:10] zivkan commented on #10249
@zkat That PR only fixed it when no symbols package is created. This bug is what caused our "5.8 packages publishing" problem, for which we had the RCA meeting: https://github.com/NuGet/Client.Engineering/pull/775

[2021-07-23 21:51] zkat commented on #10249
@zivkan the line I'm pointing to fixed it when generating symbols packages, though, afaict?

[2021-07-23 21:58] zivkan commented on #10249
From memory what happened was the nupkg failed to pack (treat warning as error), but the .symbols.nupkg file succeeded (without warning). The `succeeded` bool only took into account the symbols package.

If this is right, then the "obvious" solution is when the nupkg fails, don't even attempt the symbols package.  Hopefully that's easy/trivial to implement.

[2021-07-23 22:08] zivkan commented on #10249
Actually, I now think you're right, it could be fixed already.

The merge commit for the PR you linked is: https://github.com/NuGet/NuGet.Client/commit/f6dcd66c1e0fa8915738f0a28c2d3d61e2be20bc

The oldest tag on that commit is: 5.8.0.6812

When we were building the NuGet 5.8 packages, we couldn't have been using NuGet 5.8 to create the packages (since it wasn't yet released), hence we were using t

[2021-07-23 22:14] zivkan commented on #11053
In what way is the package invalid?  Can you prove a complete reproduction that I can run myself?

[2021-07-23 23:38] #10983 closed, assigned to jebriede

[2021-07-24 01:03] jzabroski commented on #11053
The package is invalid because it can't be opened in NugetPackageExplorer or any zip utility.  NugetPackageExplorer complains about a "central directory" error.  PeaZip just bombs out completely.

I know that this happened to me - did you try the basic repro steps I provided first.  I think the first for this bug is some basic sanity checks before real PackTask work is performed.

[2021-07-24 06:09] #10986 closed, assigned to dominoFire

[2021-07-24 08:18] jebriede opened #11082 "[Bug]: Package deprecation information doesn't always show in details with All sources selected"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Visual Studio 17.0.0 Preview 2.0 [31429.26.main]

### Worked before?

Unknown

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

Steps to reproduce:
1) Open the Package Manager UI
2) Select "All" as the package source
3) Install a package that is deprecated (YamlDotNet.Signed was used in this

[2021-07-24 17:47] loic-sharma opened #11083 "[Feature]: Add helpers to read a package's icon and README"
### NuGet Product(s) Involved

NuGet.exe

### The Elevator Pitch

Currently folks need to write the following boilerplate to open the package's icon and README:

[code]

Ideally this should be just:

[code]

### Additional Context and Details

Proposed API additions:

[code]

[code]

[2021-07-25 14:40] BlackGad commented on #4103
@JonDouglas any progress? Seems https://github.com/NuGet/Home/issues/5208 this issue also related to this.

1) Why do you use single source but not the nuget.config?
2) What about solution level update?
3) Will there be wildcards?

[2021-07-25 14:43] donet5 opened #11086 "[Feature]:"
### NuGet Product(s) Involved

Visual Studio Package Management UI

### The Elevator Pitch

I want sqlsugarCore and SqlSugar to come first when searching FOR SqlSugar, currently sqlsugarCore is nowhere to be found

These are all my libraries.  The ranking is not what I want

### Additional Context and Details

I want sqlsugarCore and SqlSugar to come first when searching FOR SqlSugar, currently sq

[2021-07-25 15:34] gh-andre commented on #6431
I re-read this thread and re-verified some of the things mentioned.

C++ native projects still cannot use `PackageReference`, so using `GeneratePathProperty` is still not an option for C++ projects. Verified with the latest VS2019.

The approach I mentioned above, referencing paths in user macros, still works fine for a few of my C++ projects. I started moving some of them to GitHub recently, so i

[2021-07-25 18:34] gh-andre commented on #10479
@nkolev92

Sorry, it's one of those posts you call "loaded". Safe to ignore - just reminiscing about your last 4-part version comment.

I was recently automating building some of the Nuget packages I maintain and re-explored various ways to fake package revisions. I found `-Version` helpful in automating the build process, but wanted to point out that it works only as a surrogate for a package rev

[2021-07-25 18:52] erdembayar commented on #10948
@nkolev92 @kartheekp-ms
I noticed there's another option `p:RestoreAdditionalProjectSources` besides `p:RestoreSources`.
Do we need to take into account?

[2021-07-26 03:38] #10982 closed, assigned to jebriede

[2021-07-26 11:05] TehWardy opened #11089 "[Feature]: improve error message when zip file is corrupt"
### NuGet Product Used

dotnet.exe

### Product Version

.Net 5.0 with VS 2019 Enterprise (fully patched)

### Worked before?

current

### Impact

I'm unable to use this version

### Repro Steps & Context

![image](https://user-images.githubusercontent.com/6891030/126978454-65701d91-0301-40b1-935c-2dfb3f32199c.png)

Can't seem to resolve this.
Things tried ...
 - Repair VS
 - Reinstall / re-run t

[2021-07-26 14:23] zivkan commented on #11089
@TehWardy "Central Directory" is the name of the part of the zip file that contains the list of files, and their positions within the zip file.  Not being able to find the central directory means that the zip file is corrupt (a nuget package, nupkg, is just a zip file with a different file extension).

I'm guessing the problem is probably a file in the HTTP cache, which you can clear with `dotnet

[2021-07-26 14:34] TehWardy commented on #11089
![image](https://user-images.githubusercontent.com/6891030/127006782-4fe8da65-e918-44d6-82c9-8e182b022a7a.png)

Results with that extra verbosity turned on

[2021-07-26 14:36] TehWardy commented on #11089
The mentioned file at line 131 "Nuget.targets" file from line 131 to 142 looks like this ...

[code]

[2021-07-26 14:48] zivkan opened #11090 "Reduce UI thread switching when determining solution folder and if solution is open"
NuGet's Visual Studio extension has a class named `VsSolutionManager`, which provides some APIs to the rest of our code. Two of these APIs, `SolutionDirectory` and `IsSolutionOpenAsync` switch to the UI thread.

In at least one of the code paths, `IsSolutionOpenAsync` is called from a background thread, therefore switches to the UI thread, and returns it's value. This causes the caller to schedule

[2021-07-26 16:18] zivkan commented on #11089
It's saying only that there is a broken zip file. We don't have any evidence yet where that zip file is coming from. I also haven't seen a single complaint from any other customer that zip file are corrupted, so that suggests to me that no, NuGet.org is probably not serving corrupt packages. For all I know you have package sources other than nuget.org configured. Most solutions do.  I'm also assum

[2021-07-26 16:30] TehWardy commented on #11089
Hmmm, ive never had nuget issues before that couldn't be solved with a simple cache clear out.
I agree though, if the package was broken on nuget then I suspect you'd be hearing about it from all angles, more so since for the most part this solution only really depends on core .Net libs nothing "edge casey" or not downloaded a lot.

using -v:d ends like this ...

![image](https://user-images.githu

[2021-07-26 16:40] zivkan commented on #11089
The fact that the stack trace has `LocalPackageArchiveDownloader` tells me that the package is coming from a local package source, not an HTTP package source.

You can use `dotnet nuget list source` to list all your package sources, and look for entries that are not HTTP.

More than this I can't help with until NuGet's error messages are improved. As previously mentioned, you can try to use [Sysin

[2021-07-26 16:47] TehWardy commented on #11089
Ah that's super helpful ... I figured it was something like that but had no idea how to even check this.

![image](https://user-images.githubusercontent.com/6891030/127027115-32cd85d3-38e1-4fc2-b715-30cb0a6bfae6.png)

How do I disable the second one to force loading from nuget directly ... I'd bet that will help at least.

Also I noticed that here:
    https://dotnet.microsoft.com/download/dotnet/

[2021-07-26 17:02] TehWardy commented on #11089
Ok disabled it and everything works!
Thanks  @zivkan much appreciated.

Clearly I need to get more familiar with this tool set, I rely on VS too much to just handle this stuff.

[2021-07-26 18:27] zkat commented on #10249
I tested this manually and confirmed that this no longer reproduces, thanks to https://github.com/NuGet/NuGet.Client/pull/3610/files#diff-9beb7baafb84d8b040bf059cbc6dc9d708941514c425933fe9576749a044b103R839

I'll write a test for this separately, but I'm going to move this issue to pri2 since it's just test writing now.

[2021-07-26 18:44] jebriede opened #11091 "Sort the package vulnerabilities in descending order in PMUI details pane"

[2021-07-26 21:40] #10985 closed, assigned to jebriede

[2021-07-26 23:07] erdembayar commented on #11039
It looks it's [not a bug](https://github.com/NuGet/Home/issues/7395), actually it's correct, but one problem is comparing very far away versions of VS and NuGet.exe behaviors. Because latest VS 16.10.3 has [fix ](https://github.com/NuGet/NuGet.Client/pull/3793) for UTC timestamp regardless of timezone, so it makes easy to compare and reason with it, it's desired by CI/CD builds.
But NuGet 4.3.0.44

[2021-07-26 23:15] donnie-msft commented on #9852
**Repro Steps:**

1. Open a solution in VS.
2. Open NuGet Package Manager.
3. Select a package with dependencies which have a TFM with a lower-bound package version requirement.
eg, NewtonSoft.JSON for Net Standard 1.0/1.3
![image](https://user-images.githubusercontent.com/49205731/127070769-5514c1d2-e829-43fb-a080-996c173bfb43.png)

4. Open Narrator and select one of the items containing ">="
5.

[2021-07-26 23:31] erdembayar commented on #11039
It looks it's [not a bug](https://github.com/NuGet/Home/issues/7395), it's happening because of we made changes with https://github.com/NuGet/NuGet.Client/pull/3793
Here far away versions of VS and NuGet.exe behaviors are quite different. Because latest VS 16.10.3 has [fix ](https://github.com/NuGet/NuGet.Client/pull/3793) for correct local timestamp instead of plain UTC timestamp. You can read mo

[2021-07-26 23:44] zkat commented on #11040
This is... pretty strange. Here's an example error I'm getting:
[code]

As you can see, there's definitely overlap between System.Buffers (>=4.3.0) and (>=4.0.0), so 4.3.0 can be selected compatibly. My understanding is that our resolver _should_ be doing this work already. If this isn't the case, then I would consider this a bug.

I'm concerned that our telemetry representing this as a NU1605 mig

[2021-07-27 00:00] erdembayar commented on #11039
So please update to latest NuGet 5.10 to avoid discrepancy between VS and NuGet.
It looks current behavior is [favored](https://github.com/NuGet/Home/issues/7395#issuecomment-626482299) due to msbuild use lastwrite timestamp to detect if file is modified then decide if overwrite is necessary.

[2021-07-27 02:14] donnie-msft commented on #9852
Verified with a11y team that this is uncommon behavior among other screen readers.
I've filed a bug against Narrator, as it appears there may be a problem with their TTS engine. Will update once I know more.

[2021-07-27 04:42] loic-sharma opened #11092 "[Bug]: .NET 5 pack broken if project has both snupkg and embedded README"
### NuGet Product Used

dotnet.exe

### Product Version

5.0.301

### Worked before?

_No response_

### Impact

I'm unable to use this version

### Repro Steps & Context

It looks like NuGet fails to pack a .snupkg if the project has an embedded README. Notice the `.nupkg` file is generated but not the `.snupkg` in the logs below.

HelloWorld.csproj:

[code]

README.md:

[code]

Class1.cs:

[code

[2021-07-27 04:56] loic-sharma commented on #11092
It looks like the bug is in [`PackageBuilder.ValidateReadmeFile`](https://github.com/NuGet/NuGet.Client/blob/d70adaba77e5754ecdc41984edd21c5cecf8c2a2/src/NuGet.Core/NuGet.Packaging/PackageCreation/Authoring/PackageBuilder.cs#L867) as it checks for a README in symbol packages even though they [cannot contain READMEs](https://docs.microsoft.com/en-us/nuget/create-packages/symbol-packages-snupkg#nuge

[2021-07-27 07:31] RobSwDev opened #11093 "Floating references and NuGet package generation"
### Discussed in https://github.com/NuGet/Home/discussions/11088

<div type='discussions-op-text'>

<sup>Originally posted by **RobSwDev** July 26, 2021</sup>
I have 3 .Net projects `A`, `B`, `C` that are built and released (via NuGet ) separately. Project `A` references both `B` and `C`, while `B` references `C` using floating versions in the PackageReference. Each references version `4.1.*`.

Un

[2021-07-27 13:14] marcin-krystianc commented on #11031
I've done some performance testing and my early conclusion is that the signature verification is only a red herring. Removing the code responsible for signature verification doesn't make it much faster.
My current theory is that the regression was introduced by the NuGet/NuGet.Client#3524 (Although that change was expected to make it faster, not slower). After reverting that change, performance is

[2021-07-27 15:16] TehWardy commented on #11089
@zkat a helpful page with all the info here on "debugging Nuget sources" might be all that's needed.
Assuming it's attached to the existing error code (if that makes sense).

I think @zivkan had a point though about the error message being a bit more "contextual" and telling you the broken file, although in my case it wasn't a problem so much that a zip was broken it's more and issue of how to tel

[2021-07-27 15:25] zivkan commented on #11031
@marcin-krystianc thanks, that's fascinating!

Since you're on Windows, when you look at Task Manager's Performance tab, or use Resource Manager, where you can see CPU and disk busy % at the same time, do you see significant differences between NuGet with and without mmap?  Does it appear to be IO or CPU limited?  Or is it not obvious?

Can you share a little about the hardware you tested on? Is i

[2021-07-27 17:20] zivkan commented on #11092
This is a duplicate of https://github.com/NuGet/Home/issues/10791

[2021-07-27 17:41] loic-sharma commented on #11092
Ah my bad, my searching skills are bad. Closing this one as duplicate

[2021-07-27 17:41] #11092 closed, assigned to nobody

[2021-07-27 23:25] omajid opened #11094 "[Bug]: Non open source code in end to end tests"
### NuGet Product Used

dotnet.exe

### Product Version

.NET 6.0 Preview 6

### Worked before?

Not sure

### Impact

I'm unable to use this version

### Repro Steps & Context

Here's how I can see the affected file:

[code]

You can also see this online at:
https://github.com/NuGet/NuGet.Client/blob/d70adaba77e5754ecdc41984edd21c5cecf8c2a2/test/EndToEnd/ProjectTemplates/NetCoreWebApplication1.0.

[2021-07-27 23:28] omajid commented on #11094
cc @dleeapho @leecow

[2021-07-27 23:37] erdembayar commented on #8272
Now difference is less than 2 years before, but still difference cause already restored solution restore 1 more time due to `project.assets.json` is different.

![Compare1](https://user-images.githubusercontent.com/8766776/127240759-2389b0cc-6003-410c-b350-d09541f1dc33.PNG)

[2021-07-28 00:10] zivkan opened #11095 "Update Newtonsoft.Json to 13.0.1"
Update NuGet's dependency on Newtonsoft.Json to version 13.0.1

[2021-07-28 00:20] SeymourRu commented on #3676
Order is important. There are many cases when order literally matters so this situation should be revised for a good.

[2021-07-28 00:27] donnie-msft opened #11096 "[Bug]: Project PM UI Install button should disable when `null` version selected"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

VS any

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

Due to a bug in WPF https://github.com/dotnet/wpf/issues/4929,
..NuGet sometimes allows selection of a null separator https://github.com/nuget/home/issues/11007 (see for repro steps).

In Solution PMU

[2021-07-28 00:29] donnie-msft commented on #11007
Our code appears to be correct, but WPF for some reason allows disabled items to be selected via keyboard until the dropdown is expanded once.

I've filed a WPF bug here: https://github.com/dotnet/wpf/issues/4929. The labels applied make me think this will not be fixed soon.

Rather than play with some hacks to mitigate this, and since no customers have expressed concern, I believe this should be

[2021-07-28 00:29] #11007 closed, assigned to donnie-msft

[2021-07-28 08:34] AlexKeySmith commented on #10675
Hi, I was wondering if there are any findings from your investigations I seem to be facing a similar issue.

[2021-07-28 13:47] zivkan opened #11098 "IVsSolutionRestoreService4 should extend IVsSolutionRestoreService3"
@davkean requested that `IVsSolutionRestoreService4` should extend, or re-implement all the methods from `IVsSolutionRestoreService3`. This avoids needing to MEF import two interfaces.

While `IVsSolutionRestoreService3` and `IVsSolutionRestoreService2` do not extend the lower numbered interfaces, they are used independently. Anyone using `IVsSolutionRestoreService3` will not be using `IVsSolution

[2021-07-28 16:07] koliyo commented on #2345
I just bumped into this exact problem.

[code]

And I think going forward this could possibly cause more problems if not fixed, compared to the potential backward compatibly problems with dropping support for legacy .NET 4.5 users.

[2021-07-28 17:27] awakecoding opened #11099 "Intermittent nuget restore failures due to invalid package signature validation"
### NuGet Product Used

dotnet.exe

### Product Version

5.0.302

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

This is [an intermittent issue](https://twitter.com/awakecoding/status/1420380412367491074) that affects CI builds inside Windows containers. Twice this week, a "dotnet publish" command failed to validate Microsoft nuge

[2021-07-28 18:08] dtivel opened #11100 "[Feature]: Add warnings for non-optimized assemblies in packages during push/upload"
### NuGet Product(s) Involved

NuGet.exe

### The Elevator Pitch

Package authors who publish non-optimized assemblies pass those non-optimizations on to package consumers.  While some users do want non-optimized assemblies to facilitate development-time debugging, many also want optimized assemblies for best runtime performance.  [After figuring out best practices in this area](https://github.com

[2021-07-28 18:11] anangaur commented on #11099
/cc: @dtivel

[2021-07-28 18:12] AlexKeySmith commented on #8581
Could this result in a NU1004 error? I'm attempting to diagnose why project A by itself restores ok, but when it is referenced by project B, then project A is reported as having changed dependencies. This is in dotnet 5.0.302

[2021-07-28 18:21] aaronla-ms commented on #8589
Still repro. Looks like we need to keep using the legacy format.

[2021-07-28 18:22] donnie-msft commented on #9852
For anyone experiencing this problem, I found Narrator documentation and after setting “hear punctuation” to **Most**, I then hear “greater than” pronounced by Narrator.
https://support.microsoft.com/en-us/windows/chapter-4-reading-text-8054c6cd-dccf-5070-e405-953f036e4a15

I ran this issue by the Narrator team, and they are considering it "By Design".

[2021-07-28 18:22] #9852 closed, assigned to donnie-msft

[2021-07-28 18:42] AlexKeySmith commented on #8465
Hi, we're running into the same issue as well with 5.0.302

[2021-07-28 19:54] crummel commented on #11059
We don't need the individual packages (NuGet.Versioning etc) from the source-build leg published, just the `Microsoft.SourceBuild.Intermediate.nuget-client` nupkg - that contains the source-built individual packages and arcade-powered source-build knows to look for and unpack that when it needs NuGet packages.

[2021-07-28 20:26] donnie-msft commented on #8795
@anangaur what is the suggestion then, to use `afine *` here ?
Are we sure this is more clear? Even with `(*)`, it looks more like a footnote to me and may be confusing.

Should we spell out `afine (any Version)` or  `afine (* version)` or similar?...

[2021-07-28 20:48] anangaur commented on #8795
My be just the package ID?

[2021-07-28 21:25] donnie-msft commented on #8795
As a developer, I'm fine with seeing the original `0.0.0.0`, as I find that intuitive. However, short of that, my expectation would be to always see _something for version,_ eg `package.name (all)`, `package.name (any)`, etc.

I think we should set the precedent that version# is a critical part of the ID for a package.
**So the question becomes, is a package "name" an incomplete ID, or is the "nam

[2021-07-28 21:30] dominoFire commented on #10463
Having issues with ilmerge and portable PDB's. See this issue for more info: https://github.com/dotnet/ILMerge/issues/11

[2021-07-28 21:31] anangaur commented on #8795
My comment on showing just the package ID was for cases where it's 'any version' or '*'. For other cases where a version is specified, we should definitely show the version.

[2021-07-28 21:33] donnie-msft commented on #8795
Yes, understood. Just that I think we have to state any, rather than <blank>, or it's inconsistent.

[2021-07-28 21:35] anangaur commented on #8795
I would be fine with 'any version' or similar text as well :). 0.0.0 feels odd. FYI - @chgill-MSFT

[2021-07-28 21:55] jebriede opened #11101 "[Bug]: Advisory links should be aligned in details pane of PMUI"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

6.0.0.163

### Worked before?

N/A

### Impact

Other

### Repro Steps & Context

Using the PMUI, search for a package version that has multiple vulnerability advisories of different severity. Note that the first column is misaligned.

![image](https://user-images.githubusercontent.com/10777837/127401315-36e6b31b-19c

[2021-07-28 22:32] erdembayar commented on #11039
Thank you reporting this issue. At this moment this looks not a actual bug so I'm closing it.
Please feel free to comment or open a new issue if needed.

[2021-07-28 22:32] #11039 closed, assigned to erdembayar

[2021-07-28 22:34] erdembayar commented on #8272
@aolszowka
I created PR to address this bug. Feel free to review it.
https://github.com/NuGet/NuGet.Client/pull/4172

[2021-07-28 23:15] nelsonprsousa commented on #8016
We are using GitHub Actions + GitHub Packages to host our NuGet packages, and we just get this error.

![image](https://user-images.githubusercontent.com/8364345/127407848-f8eaa4dd-2c27-4852-afcf-f44f005dff31.png)

We are indeed using the following command:
`dotnet nuget push ${{ env.PACKAGE_OUTPUT_DIRECTORY }}/*.nupkg --api-key ${{ secrets.API_KEY }} -s ${{ env.NUGET_SOURCE_URL }}`

@moses70 this

[2021-07-29 00:13] MiYanni opened #11102 "[Bug]: VS 2022: Pack action generates GetPackOutputItemsTask error"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Version 17.0.0 Preview 3.0 [31514.198.main]

### Worked before?

Not sure, sorry.

### Impact

I'm unable to use this version

### Repro Steps & Context

## Repro Steps
1. Open VS 2022 (main branch version).
2. Create a new .NET 6 class library project (C#).
3. Right click on the project in Solution Explorer and sele

[2021-07-29 00:29] MiYanni commented on #11102
Updated my main branch to `Version 17.0.0 Preview 3.0 [31528.315.main]` and this issue is no longer there. Closing.

[2021-07-29 00:29] #11102 closed, assigned to nobody

[2021-07-29 07:07] v-luzh opened #11103 "Tooltip of the installed vulnerable/deprecation package versions’ warning icon is not clear"
## Details about Problem
VS Version: Main\31528.327
NuGet Version: Dev\6.0.0.166
OS Version: Windows-10-Enterprise-21H1
## Repro steps
1. Create a solution with two C# Console App (.NET Framework 4.8) projects in VS.
2. Right-Click the solution in the Solution Explorer and select the “Mange NuGet Packages for Solution”
3. Go to “Browse” tab and search for a vulnerable package - refer to the packag

[2021-07-29 12:49] nietras commented on #6208
Hi, with more and more ML workloads and NVidia dependencies we are very often hitting this limit and there is no way around it since some NVidia files are >600MB for a single file alone, as shown below.

![image](https://user-images.githubusercontent.com/10798831/127494497-03133f37-180e-4dae-87ff-b0905ee26749.png)

This means one cannot make nuget packages for such dependencies **at all** due to t

[2021-07-29 12:55] nietras commented on #2852
In https://github.com/NuGet/Home/issues/6208#issuecomment-889114649 I touch on why this is being able to specify maximum compression is a must, since otherwise we cannot put nuget packages on nuget.org due to size limit.

It seems less than ideal that we would have to manually make the `nupkg` files ourselves to over come this. A simple option should be simple to add.

[2021-07-29 15:43] chgill-MSFT commented on #8795
I should point out that there is no option for "*" or "any version" when deprecating a package. You can only suggest specific versions of an alternative package or suggest using the latest version. The PMUI currently shows (>=0.0.0) when "Latest" is selected as the suggested version which is the opposite of the intent 😅

From https://www.nuget.org/packages/Contoso.nuget.example/1.2.3:
![image](htt

[2021-07-29 16:08] zivkan commented on #11099
@awakecoding I don't know if it's the same root cause. When I create a clean VM, installing Visual Studio, the first restore will often fail. When I try a second restore, it succeeds, and subsequent restores also succeed. For some reason it's only first one that may be the problem, so it's a real pain for me to keep having to delete and create VMs to test.

Anyway, by following [these instructions

[2021-07-29 16:22] AlexKeySmith commented on #8465
I realise this is a super old ticket so I'm guessing not a widely seen issue.
Are we best to avoid wildcards in PackageReference entirely for packages.lock.json to work?

Or is it only in the more exotic like `4.0.0-beta.*` in that case are we best to use version ranges perhaps (I think they opt into pre-release?).

I wonder is it something to do with by design floating versions not opting into pr

[2021-07-29 16:30] awakecoding commented on #11099
@zivkan I updated the "verbose logs" section of this ticket with the Dockerfile I use for my build container. I run all my build jobs inside containers, not VMs, but the end result would be that every build job launched within the container is similar to a first run inside one of your VMs. It's very possible that the issue you encountered is similar to the one I frequently encounter in containers,

[2021-07-29 16:50] omajid commented on #11094
cc @dseefeld @MichaelSimmons @crummel

[2021-07-29 18:08] zkat commented on #11083
This is a nice idea! We're gonna put it in the icebox because it's unlikely we'll do this ourselves, but if y'all want to do it, we'll happily take a patch!

[2021-07-29 18:10] zkat commented on #11093
This is best left as a discussion, because it's more about understanding how NuGet actually works, rather than changing anything (we can't really change this).

[2021-07-29 18:10] #11093 closed, assigned to nobody

[2021-07-29 18:38] #11101 closed, assigned to jebriede

[2021-07-29 20:32] dotMorten commented on #7416
Here's the issue I'm currently facing: I have a package that supports netcoreapp3.1 for Windows, xamarinios for ios, and monoandroid10 for android. When referencing that package from .NET Maui, the net6.0-ios and net6.0-android will incorrectly pick the netcoreapp3.1 assembly instead of the ios and android assemblies. Being able to control which one is picked in the package reference would be very

[2021-07-30 00:24] loic-sharma commented on #8016
@nelsonprsousa BaGet also supports .snupkg. See:

* https://loic-sharma.github.io/BaGet/installation/local/#publish-packages
* https://loic-sharma.github.io/BaGet/installation/local/#symbol-server

[2021-07-30 00:42] nelsonprsousa commented on #8016
Thanks! 🚀

[2021-07-30 02:57] dominoFire commented on #10463
Neither ilrepack.exe or ilmerge.exe supports Portable PDB's merging. See:

- https://github.com/dotnet/ILMerge/issues/11
- https://github.com/gluck/il-repack/issues/197

Alternative:

- Build NuGet.Client with full PDBs `<DebugType>full<DebugType>`
- Run pdb2pdb.exe to convert .NET Core full PDBs to Portable PDBs
- Pack nupkg's and snupkg's
- Publish to VS

[2021-07-30 07:36] #10996 closed, assigned to dominoFire

[2021-07-30 09:28] v-luzh opened #11105 "[Pack][Doc] There is no conflict-tip show in the “dotnet pack” page when using “--version-suffix” and “-p:PackageVersion” meanwhile"
## Details about Problem
VS Version: Main\31529.265
NuGet Version: Dev\6.0.0.168
OS Version: Windows-10-Enterprise-21H1

## Repro steps
1. Launch VS and create a new C# Class Library (.NET 6.0).
2. Open the Developer Command Prompt and cd to the project path.
3. Run command “dotnet pack -c Release --version-suffix "Jamie" -p:PackageVersion=3.0.0”.
4. Check the info on the dotnet pack page.

## Exp

[2021-07-30 09:29] v-luzh opened #11106 "[Pack][Doc] A confused error shows when running “dotnet pack” with incorrect option “-p:TargetFrameworks=net45”"
## Details about Problem
VS Version: Main\31529.265
NuGet Version: Dev\6.0.0.168
OS Version: Windows-10-Enterprise-21H1

## Repro steps
1. Launch VS and create a new C# Class Library (.NET 6.0).
2. Open the Developer Command Prompt and cd to the project path.
3. Run command “dotnet pack -p:TargetFrameworks=net45”.

## Expected
The error should make sense (such as: we can’t pack a .NET 6.0 package

[2021-07-30 21:10] vladimir-cheverdyuk-altium opened #11107 "[DCR]: NuGet.exe returns exit code 1 without clear indication what's happened"
### NuGet Product(s) Affected

NuGet.exe

### Current Behavior

We had problem in our build system, that occasionally our build failed because NuGet.exe restore returns 1. There are no errors in output and we spent quite a bit of time trying to figure out what's wrong.

It turns out that there was another copy NuGet.exe restore, that was restoring one of the packages that are about to be restored

[2021-07-30 23:32] loic-sharma opened #11108 "[Feature]: Improve deprecation docs"
### NuGet Product(s) Involved

NuGet.exe, Visual Studio Package Management UI, Visual Studio Package Manager Console, MSBuild.exe, dotnet.exe

### The Elevator Pitch

@chgill-MSFT asked I create an issue on NuGet/Home to track this:

### Additional Context and Details

_No response_

[2021-07-31 01:46] sharwell commented on #10375
I was directed to this issue by another discussion. We're [currently using `PrivateAssets="compile"`](https://github.com/dotnet/roslyn-sdk/blob/b7df823f6a23d8fb316c8ee2c25237df7c151123/src/Microsoft.CodeAnalysis.Testing/Microsoft.CodeAnalysis.Analyzer.Testing/Microsoft.CodeAnalysis.Analyzer.Testing.csproj#L56-L63) for this purpose, and have not seen any specific difference between the feature requ

[2021-08-01 05:12] loic-sharma commented on #10791
This blocks many popular projects from adopting embedded READMEs, including:

* Newtonsoft.Json
* Serilog
* Moq
* AutoMapper
* NUnit
* NLog
* Polly
* RestSharp
* CsvHelper
* SixLabors.ImageSharp
* And lots more :(

The silver lining is that snupkg adoption is great with our most popular packages! 😅

[2021-08-02 10:50] v-crchang opened #11111 "The Alternate Package’s name shows the redundant “packageid:” in the search box in “Browse” tab"
## Details about Problem
VS Version: Main\31601.14
NuGet Version: Dev\6.0.0.169
OS Version: Windows-10-Enterprise-21H1

## Installation
1. Install VS Main\31601.14 from: https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=5044845&view=ms.vss-build-web.run-extensions-tab
2. Install NuGet Client Dev\6.0.0.169: https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=5039908&view=artif

[2021-08-02 15:40] donnie-msft commented on #11111
I believe this is expected since we want an exact match in this case (docs at https://docs.microsoft.com/en-us/nuget/consume-packages/finding-and-choosing-packages#search-syntax).

Whether we want to allow "hidden exact match searches" from our own code hasn't been discussed. @dominoFire if know differently, please reopen/comment.

[2021-08-02 15:40] #11111 closed, assigned to nobody

[2021-08-02 16:21] dominoFire commented on #11111
@donnie-msft @v-crchang Yes, this is expected, per comment https://github.com/NuGet/NuGet.Client/pull/4144#issuecomment-886352539

[2021-08-02 17:13] awakecoding commented on #11099
Anybody knows a possible workaround to avoid breaking my builds? It happened again today, and I need to solve this. I tried setting the NUGET_CERT_REVOCATION_MODE environment variable to "offline" as described in https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings/nu3028 but it didn't change anything. Whatever happens, it just breaks the nuget restore in a way that doesn't seem po

[2021-08-02 17:52] zivkan commented on #11059
notes to implementer:

1. I noticed the source build package is version 1.0.0, so I'm assuming we have to fix that and get the real product version, otherwise only the first BAR publish will succeed, and afterwards there will be version conflicts since the package id + version is already on the relevant feed.

2. I think BAR publishing needs to be moved to a new job that happens after both source-

[2021-08-02 18:10] heng-liu commented on #7939
There is no work left for xplat signing and verification for dotnet core based on the current plan.
Pls refer to the following documents for xplat signing and verification related commands:
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-nuget-verify
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-nuget-trust
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-nuget-sign

[2021-08-02 18:10] #7939 closed, assigned to heng-liu

[2021-08-02 18:30] #10987 closed, assigned to jebriede

[2021-08-02 18:53] nkolev92 commented on #8581
@AlexKeySmith

Afaik, it shouldn't.

Would you mind creating an issue that we could have someone validate?

[2021-08-02 18:53] jebriede opened #11112 "Establish baseline for vulnerable packages installed"

[2021-08-02 18:54] nkolev92 commented on #3676
@SeymourRu Please take a look at https://github.com/NuGet/Home/blob/dev/proposed/2021/PackageNamespaces.md.

[2021-08-02 19:23] nkolev92 commented on #10948
@erdembayar

Yes, but I'd expect they'd be automatically handled.
RestoreSources, RestoreAdditionalProjectSources are all merged early on.
If your tests work with `RestoreSources`, I'd expect them to work with `RestoreAdditionalProjectSources ` as well.

[2021-08-02 20:19] nkolev92 commented on #10729
Unassigning this from myself because of hot seat.

[2021-08-02 20:38] jeffkl opened #11113 "[Epic]: Package detonation"
Tracking epic for package detonation

[2021-08-02 20:39] jeffkl commented on #11113
@zkat double check that I created this correctly, will start adding tasks next week as we flesh things out.

[2021-08-02 20:52] zivkan opened #11114 "Remove BuildNumber generation from build.ps1"
When building NuGet, we have a build script, `Build.ps1` that generates a BuildNumber based on the current time, and then calls MSBuild with `-p:BuildNumber=$BuildNumber`. If you immediately open `NuGet.sln` in Visual Studio, and try to debug the VS extension, sometimes you might get issues because assembly versions differences, or at best the first build will fail incremental build and be slower.

[2021-08-02 21:20] avivanoff commented on #6764
The issue has been opened more than three years ago, and it is still in preview. Any chance it will be released in observable future?

[2021-08-02 21:25] aaronla-ms commented on #5602
@MarkKoz Just a heads up, the package [Dotnet.ReproducibleBuilds.Isolated](https://github.com/dotnet/reproducible-builds) aims to configure these msbuild settings for you to avoid non-reproducibility issues. Among other things, it turns off that hidden nuget cache you ran into.

[2021-08-02 21:28] aaronla-ms commented on #6764
I hope so. We're getting flagged left and right for vulnerable transitive dependencies, and its' hard to manage our force upgrades of them. Our current solution is a bit of a mess:

[code]

[2021-08-02 21:34] aaronla-ms commented on #7921
Honestly, there are multiple msbuild settings that should be changed from defaults if you're hoping for reproducible builds. We're centralizing them into the [Dotnet.ReproducibleBuilds.Isolated](https://github.com/dotnet/reproducible-builds) package. It's still in the early phases, but attempts to change msbuild defaults to avoid dependencies on anything machine/install specific (e.g. the nuget fa

[2021-08-02 21:42] MarkKoz commented on #5602
Thanks @aaronla-ms. I'm glad MS is investing in solving this issue. I'll look into adding this to my projects.

[2021-08-02 22:32] SeymourRu commented on #3676
Yeah, thank you, this looks really promising!
Approximately how long it will take to be released?

[2021-08-02 22:36] nkolev92 commented on #3676
@SeymourRu

Visual Studio 2022 preview 3 will be released within the next few weeks and it will have restore support for the feature.
We're actively working on the other parts.

[2021-08-02 23:36] nkolev92 opened #11115 "[Responsiveness] RestoreOperationLogger+StatusBarProgress.Dispose blocking a thread pool thread waiting for UI thread"
Internal [issue](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1361973)

[2021-08-02 23:43] #11115 closed, assigned to nkolev92

[2021-08-03 02:03] #10895 closed, assigned to erdembayar

[2021-08-03 02:04] donnie-msft opened #11116 "[Bug]: Users are not able to access 'Uninstall & Update' buttons which are available on hovering the package"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

VS any

### Worked before?

no

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

See https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1359980/?triage=true

### OS & Environment Details:
Microsoft Windows 10 Enterprise Version 21H1 (OS build: 19043.1052)
Microsoft Visual Studio Enterpri

[2021-08-03 04:35] donnie-msft opened #11117 "[Bug]: Keyboard focus is not visible on 'Splitter for packages list' control when High Contrast modes are enabled."
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

VS any

### Worked before?

no

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

See https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1359953

Check out Accessibility Insights! - Identify accessibility bugs before check-in and make bug fixing faster and easier
OS & Environment Details:

[2021-08-03 04:39] donnie-msft opened #11118 "[Bug]: Narrator is not announcing anything while changing the position of window using 'Splitter for packages' control."
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

VS any

### Worked before?

no

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

See https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1360044

Actual Result:​
Narrator/NVDA is not announcing anything while changing the position of window using 'Splitter for packages' control.
Expected

[2021-08-03 04:43] donnie-msft opened #11119 "[Bug]: Complete package information is not visible at different zooming conditions (125%, 150%, 175%, 200%)."
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

VS any

### Worked before?

no

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

See https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1359969

OS & Environment Details:
Microsoft Windows 10 Enterprise Version 21H1 (OS build: 19043.1052)
Microsoft Visual Studio Enterprise 2022 Preview (

[2021-08-03 04:47] donnie-msft opened #11120 "[Bug]: Keyboard users are not provided with the mechanism to adjust width of the columns."
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

VS any

### Worked before?

no

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

See https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1359962

OS & Environment Details:
Microsoft Windows 10 Enterprise Version 21H1 (OS build: 19043.1052)
Microsoft Visual Studio Enterprise 2022 Preview (

[2021-08-03 04:52] donnie-msft opened #11121 "[Bug]: Keyboard focus is going on to 'View license' link for twice but on pressing enter no action is getting performed for the first time."
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

VS any

### Worked before?

no

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

See https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1359988

OS & Environment Details:
Microsoft Windows 10 Enterprise Version 21H1 (OS build: 19043.1052)
Microsoft Visual Studio Enterprise 2022 Preview (

[2021-08-03 04:53] donnie-msft opened #11122 "[Bug]: MAS 4.2.1: The name property of an element should not contain class names like 'Microsoft.*.*' or 'Windows.*.*' as they are not usually informative."
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

VS any

### Worked before?

no

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

See https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1363291

OS & Environment Details:
Application name: Visual Studio Benchmark-ASPNETCore-GRPC
Microsoft Windows 10 Enterprise Version 21H1 (OS build: 190

[2021-08-03 07:52] s-tarasov commented on #10924
Any updates?

[2021-08-03 16:33] anangaur commented on #11100
Assigning to @jcjiang to define the experience for CLI as well as on nuget.org. Feel free to link it to related issue on nuget.org as required.

[2021-08-03 20:04] StingyJack commented on #3891
@rrelyea - several years and hundreds of posts on this issue but today I'm still having to use a nuspec and cant leverage the csproj package properties. A few years ago someone from the nuget team asked me why I use nuspec files and that answer has not changed - its because in one way or another I'm always being forced to.

How much feedback is necessary before some action is taken to resolve a ga

[2021-08-03 21:28] #11114 closed, assigned to zivkan

[2021-08-04 00:18] deadalusai opened #11123 "[Bug]: nuget update -self does not update to latest 5.10"
### NuGet Product Used

NuGet.exe

### Product Version

NuGet.exe 5.9.1

### Worked before?

NuGet.exe 5.9.1

### Impact

It's more difficult to complete my work

### Repro Steps & Context

Attempting to update `nuget` from the command line:
[code]

I can only upgrade to 5.10 manually by downloading the `latest` version on nuget.org:
https://dist.nuget.org/win-x86-commandline/latest/nuget.exe

Thi

[2021-08-04 00:23] nkolev92 opened #11124 "Add time since last restore metric"
Add the time since last restore metric in the vs/nuget/restoreinformation event.

[2021-08-04 00:23] nkolev92 commented on #11124
Related to https://github.com/dotnet/project-system/issues/7453

[2021-08-04 00:26] #11098 closed, assigned to nkolev92

[2021-08-04 00:28] dj110919871 commented on #11098
djfi

[2021-08-04 00:32] nkolev92 commented on #11124
Related to https://github.com/NuGet/Home/issues/11098

[2021-08-04 00:53] nkolev92 commented on #11040
Duplicate of https://github.com/NuGet/Home/issues/3541.

The issue is detecting the downgrades through packages that are brought in by runtime.json.

Packages such as `Microsoft.NETCore.App` are not really meant to be referenced, and should be removed.

At this point, runtime.json is not really used among new packages.

[2021-08-04 00:53] #11040 closed, assigned to zkat

[2021-08-04 02:10] deadalusai opened #11125 "[Bug]: nuget.exe regression in handling of recursive <files> entries between 5.9.1 and 5.10.0"
### NuGet Product Used

NuGet.exe

### Product Version

5.10

### Worked before?

5.9.1

### Impact

I'm unable to use this version

### Repro Steps & Context

If I'm using a recursive `src` pattern and a `target` in `5.9.1` then it recursively recreates the directory tree inside that target folder. E.g.
[code]
Creates something like the following:
[code]

In `5.10` it does the same but apparently

[2021-08-04 08:50] khairmuhammadLU opened #11126 "Could not find 13 Android X assemblies, make sure to install the following NuGet packages"
Severity	Code	Description	Project	File	Line	Suppression State
Error		Could not find 13 Android X assemblies, make sure to install the following NuGet packages:
 - Xamarin.AndroidX.Lifecycle.LiveData
 - Xamarin.AndroidX.Legacy.Support.Core.UI
 - Xamarin.AndroidX.AppCompat.AppCompatResources
You can also copy-and-paste the following snippet into your .csproj file:
    <PackageReference Include="Xama

[2021-08-04 08:52] #11126 closed, assigned to nobody

[2021-08-04 08:53] khairmuhammadLU commented on #11126
solved by installing mentioned assemblies

[2021-08-04 09:01] nguyenhitek commented on #8944
I have same issue (NU3034, NU3028 and NU3037) with VS2019 with Android Project. Hope anyone help me. Tks

[2021-08-04 14:25] #10933 closed, assigned to nobody

[2021-08-04 15:03] chgill-MSFT commented on #8040
@zkat @dominoFire does this still have pending work?

[2021-08-04 16:25] kartheekp-ms commented on #11123
nuget.exe 5.10.0 has been published as [recommended version](https://www.nuget.org/downloads). Please run the `nuget update -self` command again.

[2021-08-04 16:25] #11123 closed, assigned to nobody

[2021-08-04 17:21] fberasategui commented on #4837
@rrelyea (or anyone @msft, really) any ETA on this? it's open since 2017.

using `GeneratePackagePath` and copying the package files via a `Target` does not properly deal with transitive dependencies.

I need my `\bin` folder to look exactly like the `\publish` folder, **without** having to deal with `dotnet publish` and waiting for it to finish.

This goes in line with https://github.com/dotnet/c

[2021-08-04 17:25] erdembayar commented on #10961
@nkolev92
Could you be able to elaborate on ` or add additional packages to a nuget.config` part? Not sure what it mean.

[2021-08-04 18:38] nkolev92 commented on #10961
Typo, it's supposed to say to a packages.config.

[2021-08-04 19:31] chrisraygill opened #11127 "[Feature]: Show which package versions are vulnerable in the VS PMUI package details pane version dropdown"
### NuGet Product(s) Involved

Visual Studio Package Management UI

### The Elevator Pitch

**Feature**

Surface which versions of a package have a vulnerability in the package details pane version dropdown like we do with deprecated versions.

**Design**

* When a version only has vulnerabilities, the string should say "(Vulnerable)"
* When a version has a vulnerability and is deprecated, the str

[2021-08-04 19:31] BruceHaley opened #11128 "[Bug]: nuget list with -AllVersions argument lists only the latest"
### NuGet Product Used

NuGet.exe

### Product Version

Version: 5.10.0.7240

### Worked before?

_No response_

### Impact

I'm unable to use this version

### Repro Steps & Context

1. Give the command:

nuget list -AllVersions PackageId:Microsoft.Bot.Builder -Source https://api.nuget.org/v3/index.json -NonInteractive

Expected:
Listing of many versions of Microsoft.Bot.Builder, as shown at http

[2021-08-04 19:33] chgill-MSFT commented on #11127
@anangaur any opinion on if we should show "(Vulnerable, Deprecated)" if a version is both, or only show "(Vulnerable)" since that is the more important element?

[2021-08-04 19:37] anangaur commented on #11127
Both IMO

[2021-08-04 19:45] chrisraygill opened #11129 "[Bug]: The package version dropdown in the VS PMUI package details pane doesn't show which versions are deprecated in the Browse tab, but does in the other tabs"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Visual Studio 17.0 preview 3

### Worked before?

I think so, but not sure which version. Bug exists in 16.11 preview 3.

### Impact

_No response_

### Repro Steps & Context

**Repro**

1. Got to the VS PMUI Browse tab
2. Search for WindowsAzure.Storage (all versions are deprecated)
3. Select WindowsAzure.Storage to

[2021-08-04 19:59] chgill-MSFT commented on #11103
@jebriede

For the expected tooltip, let's go with:

“You have {0} vulnerable package versions and {0} deprecated package versions installed.”
“You have {0} vulnerable package versions installed.”
“You have {0} deprecated package versions installed.”

The tooltip should be the same regardless of if it's in the solution or project level PMUI since the additions of "versions" makes it accurate in bo

[2021-08-04 20:23] joelverhagen opened #11130 "[Bug]: Downloads: 0 appears in Installed tab PM UI inconsistently"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

5.11.0.10, 6.0.0.165

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

1. Install Newtonsoft.Json 7.0.1 in the Browse tab
2. Switch to the installed tab
3. Select the 6.0.8 version of Newtonsoft.Json in the version dropdown
4. Switch back to 7.0.1

![zero-d

[2021-08-04 21:02] chgill-MSFT commented on #11130
cc @donnie-msft

[2021-08-04 21:22] chrisraygill opened #11131 "[Bug]: Package name capitalization is inconsistent in NU1605 error message"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Visual Studio 17.0 preview 3

### Worked before?

Not sure - but present in 16.11

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

**Repro**

1. Install Newtonsoft.Json 12.01
2. Try to install Contoso.NuGet.Example 1.2.0, which requires Newtonsoft.Json (>=12.0.3)
3. Notice inconsistent capi

[2021-08-04 22:12] #11124 closed, assigned to nkolev92

[2021-08-04 22:58] donnie-msft commented on #11130
Dupe of https://github.com/NuGet/Home/issues/11012

[2021-08-04 22:58] #11130 closed, assigned to nobody

[2021-08-04 23:02] donnie-msft commented on #11127
Does this mean the package list, or still talking about the version dropdown? The Details pane and dropdown are the same control on all tabs.

[2021-08-04 23:56] nkolev92 commented on #11131
The casing is preserved  and it's the one specified by the dependencies.

For example: https://www.nuget.org/packages/Contoso.NuGet.Example/ specifies `newtonsoft.json` as a dependency.

Package names are case insensitive, so it's also possible that a package when created declares different casing for it's name.
I'm not sure there's always a correct name, or whether it's worth figuring it out.

[2021-08-05 01:06] nkolev92 opened #11132 "Await WhenNominated when a project has a pending nomination"
**Visual Studio Version**:
17.0 preview 3

**Summary**:

IVsProjectRestoreInfoSource.WhenNominated is not awaited so it returns immediately.

This basically causes NuGet to have to invoke `WhenNominated` multiple times on the same project.

This basically leads to NuGet not being able to accurately reason about the effectiveness of the batching, as it pollutes the data with a high number of checks

[2021-08-05 01:06] #2402 closed, assigned to nobody

[2021-08-05 03:55] #11132 closed, assigned to nkolev92

[2021-08-05 05:06] donnie-msft opened #11133 "[Bug]: `PackageSourcePath` argument is missing from `dotnet nuget add source --help`"
### NuGet Product Used

dotnet.exe

### Product Version

any

### Worked before?

no

### Impact

Other

### Repro Steps & Context

`PackageSourcePath` here is not shown in its place within the command, nor is it an option.

It should match the synopsis at https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-nuget-add-source

![image](https://user-images.githubusercontent.com/49205731/1282932

[2021-08-05 11:43] doniyorniyozov commented on #9020
Hi All, I had also similar problem. It seems its related to internet speed also. **But I tried to remove all my images and containers and and also logout and log in back. I built a new image and it worked again just like before**. Let me know if that will help to any of you and don't forget to like if it works. ;)

[2021-08-05 13:27] davidhunter22 commented on #8623
Hi, I just had another go at trying to solve this with no joy.

Maybe if I state my problem another way someone might know that there is a way to achieve this. I am doing the following.

1) Create a C# project and I add x64 and x86 platform to it and remove AnyCPU
2) PackageReference a Nuget package which should contains platform specific .NET assemblies. Note there doesn't need to be any native C

[2021-08-05 13:44] Mizux commented on #8623
If your Pinvoke list a file without extension, at runtime ".net engine" will look at `runtimes/<RID>/native/`  e.g. `runtimes/linux-x64/native/Foo.dll` and `runtimes/linux-x86/native/Foo.dll`

please take a look at https://github.com/Mizux/dotnet-native

[2021-08-05 14:27] Mizux commented on #8623
Actually,
1. I don't use anymore any "runtime.json"...
2. While you need one C++ native .dll per RID, you'll only need **ONE** .Net Standard 2.0 wrapper i.e. the wrapper will pick the right native library according to the running RID...

[2021-08-05 15:12] heng-liu opened #11134 "Test: DotnetSign_SignPackageWithTimestamping_SucceedsAsync and other signing tests(29 in total) are flaky on Mac"
29 signing tests became flaky since 8/3/2021.
(There was no issue in the previous runs for about a month).

DotnetSign_SignPackageWithTimestamping_SucceedsAsync failed for:
Error message1:
`Interop+AppleCrypto+AppleCommonCryptoCryptographicException : The user name or passphrase you entered is not correct.`
Stack trace1:

[code]
NuGet.Commands.Test.SignCommandRunnerTests.ExecuteCommandAsync_WithEx

[2021-08-05 21:21] zivkan opened #11135 "Remove temporary Newtonsoft.Json workaround in dotnet integration tests"
Our dotnet integration tests copy a working .NET SDK folder, then patch the NuGet assemblies, and use this copy/patched .NET SDK to run tests.

We're upgrading to a version of newtonsoft.json higher than what the .NET SDK currently has (we're both upgrading at the same time), but until our CI pipeline start using builds of .NET SDK with a high enough version, we need to copy it ourselves.

Here's

[2021-08-05 21:23] #11095 closed, assigned to zivkan

[2021-08-05 23:14] dominoFire commented on #7284
Feedback Ticket : https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1364858

[2021-08-05 23:31] dominoFire commented on #7595
Feedback ticket with insights: https://developercommunity.visualstudio.com/t/Manage-nuget-packages-window-with-no-fee/1493341

[2021-08-06 06:39] v-luzh opened #11136 "[Dotnet List Package] An incorrect dotnet SDK showed when running the command “dotnet-install”"
## Details about Problem
OS Version: Windows-10-Enterprise-21H1.
Dotnet SDK: 6.0.100-preview.6.21355.2
## Detailed repro steps
1.	Create a Powershell script named "Test.ps1" with below contents.
[code]
2.	Open Task Manager.
3.	Navigate on the main menu to File | “Run new task”.
4.	In the Open textbox type ‘Powershell -ExecutionPolicy Bypass’.
5.	Enable the option “Create this task with administrat

[2021-08-06 06:41] v-luzh opened #11137 "[Dotnet List Package] The option “--deprecated” doesn’t work for listing the deprecated package installed into current project"
## Details about Problem
OS Version: Windows-10-Enterprise-21H1.
Dotnet SDK: 6.0.100-preview.6.21355.2
## Detailed repro steps
1.	Create a Powershell script named "Test.ps1" with below contents.
[code]
2.	Open Task Manager.
3.	Navigate on the main menu to File | “Run new task”.
4.	In the Open textbox type ‘Powershell -ExecutionPolicy Bypass’.
5.	Enable the option “Create this task with administrat

[2021-08-06 10:27] nguyenhitek commented on #8944
Yes, try to use your temp file (nuget.config.txt). It's OK for now and thank you. But as you talked it 's not a good solutions. Do you have any update?

[2021-08-06 10:40] marcin-krystianc commented on #11031
@zivkan Hi, I've created a PR with a change to stop using mmap-based I/O for package extraction. I've repeated my testing on Windows and Linux. I was also able to reproduce the problem outside NuGet wit a test application. My conclusion is that the mmap-based I/O is slower when writing small files (up to 1MB) and has the same performance as filestreams for larger files.

[2021-08-06 15:08] jscottPTC commented on #10491
@aalali I am also running into [that problem](https://github.com/NuGet/Home/issues/10491#issuecomment-828065623).  My environment is: OS - Ubuntu 20.04 in WSL 2, dotnet sdk - 5.0.102 and 5.0.302 (I have tried to fix this issue by downloading an old version of the sdk).  Following the instructions in the [blog you referenced](https://www.hanselman.com/blog/developing-locally-with-aspnet-core-under-

[2021-08-06 17:54] erdembayar opened #11138 "Investigate NativeMethods.ClientToScreen method failure"
Currently [NativeMethods.ClientToScreen](https://github.com/NuGet/NuGet.Client/blob/79330cf8babd6c37be3d8ca3c42b2792f34bb025/src/NuGet.Clients/NuGet.PackageManagement.UI/Options/CheckedListBoxItemAccessibleObject.cs#L36) return value is ignored/discarded. We need to [investigate ](https://github.com/NuGet/NuGet.Client/pull/4178/files#r682278070) what to do return value 0 (failure), maybe we need t

[2021-08-06 19:14] #9790 closed, assigned to erdembayar

[2021-08-06 23:22] wli3 opened #11139 "`dotnet list package --outdated` lists up to date packages on `.Net 6.0.100-preview.7.21364.30`"
---
**Issue moved from dotnet/sdk#18942**
- Please respond to @MichalPetryka.

---

_From @MichalPetryka on Thursday, July 15, 2021 3:49:06 PM_

For a project that has any nuget packages installed, `dotnet list package --outdated` lists all the packages as updatable, reporting the same version as both the currently installed and the newest one. On .Net 5 packages which were on the latest version w

[2021-08-06 23:22] wli3 commented on #11139
---
**Issue moved from dotnet/sdk#18942**
- Please respond to @dotnet-issue-labeler[bot].

---

_From @dotnet-issue-labeler[bot] on Thursday, July 15, 2021 3:49:08 PM_

I couldn't figure out the best area label to add to this issue. If you have write-permissions please help me learn by adding exactly one area label.

[2021-08-07 03:41] erdembayar opened #11140 "Support sourceUri option passed on dotnet add package"
This is follow up on https://github.com/NuGet/Home/issues/10948.
I addressed most of source Uri pass option scenarios with https://github.com/NuGet/NuGet.Client/pull/4188.
But `dotnet add package -source` is not covered due to https://github.com/NuGet/Home/issues/11035 is completed yet.

[2021-08-07 03:42] erdembayar commented on #10948
I created follow up issue for `dotnet add package --source` scenario https://github.com/NuGet/Home/issues/11140

[2021-08-07 09:42] justinjalandoniiwest commented on #10561
Hello there has been some time, but the images I have posted seems to have no typo error

[2021-08-07 13:33] zivkan commented on #10561
We can't reproduce the issue, so I don't know what else to suggest. In case you're using nuget.exe, rather than visual studio, msbuild or the dotnet cli, make sure you're using a new version of nuget.exe. Some customers have a 5+ year old version of nuget.exe checked into their source control, or [download the deprecated 2.8.1 version](https://docs.microsoft.com/en-us/nuget/install-nuget-client-to

[2021-08-07 13:37] vadim-philips opened #11141 "[Bug]: Not able to install tool on Windows, while it installs on Linux"
### NuGet Product Used

dotnet.exe

### Product Version

5.0.302

### Worked before?

_No response_

### Impact

I'm unable to use this version

### Repro Steps & Context

I'm not able to install a dotnet tool on Windows:

[code]

When the same tool installs fine on Linux.

### Verbose Logs

_No response_

[2021-08-07 13:41] vadim-philips commented on #11141
Installation on Linux works fine:

[code]

[2021-08-07 13:46] zivkan commented on #10561
Oh, one more thing, check if any of your MSBuild files has set the `RestorePackagesPath` property, or if you have an environment variable with that name, set to your user profile directory.

[2021-08-07 13:50] zivkan commented on #11141
Are you using .NET/NuGet for the first time on this machine, and did you use either Chocolatey or Powershell Gallary on the machine before trying `dotnet tool install`?  If so, see https://github.com/NuGet/Home/wiki/nuget.org-not-used-on-new-machine

[2021-08-07 15:59] vadi2 commented on #11141
That was it! Thank you.

[2021-08-07 23:32] davisnw commented on #10924
Vote for https://developercommunity.visualstudio.com/t/1497113 to try to get visibility for incorporating into Visual Studio 2019.

[2021-08-08 13:17] Insomniak47 opened #11142 "[Feature]: Create More Consumable Library Interfaces (or SDK Documentation, or both!)"
### NuGet Product(s) Involved

Nuget SDKs

### The Elevator Pitch

The Nuget libraries are real dense to get into and the API surface makes it harder to design tools that are built on top of nuget and the common nuget abstractions that someone might want to use. It would be nice if we could make some common workflows that people might want to use more user friendly. Alternatively it might just be

[2021-08-08 22:30] GerryWilko commented on #8189
I think this issue needs reopening or some more detail providing of the nuances. I have followed this tutorial and tried numerous combinations of the configurations laid out here and nothing seems to allow my packages to display icons. My licence file also seems to just load forever in Visual Studio.

You'll see on NuGet that the icon and licence show fine. [https://www.nuget.org/packages/ActiveBa

[2021-08-09 03:11] augustoproiete commented on #8189
@GerryWilko Have you tried using a `png` icon instead of a `jpeg` one? I don't often see NuGet packages using `jpeg` icons (_even though it's technically supported in the spec_) and I'm wondering if Visual Studio might not support `jpeg` icons at the moment (either undocumented or bug).

[2021-08-09 07:21] GerryWilko commented on #8189
@augustoproiete Ahh how frustrating. I was thinking yesterday that may have been the issue but discounted it as `png`, `jpg` and `jpeg` are all meant to be supported.

Changed to `png` and all is working now. Many thanks @augustoproiete
![image](https://user-images.githubusercontent.com/9151572/128671747-584b1e59-753f-4ffa-824f-731b58fea998.png)

Hopefully this will be useful to anyone else experi

[2021-08-09 07:47] #11141 closed, assigned to nobody

[2021-08-09 17:07] augustoproiete opened #11144 "[Bug]: VS PM UI does not display JPEG icons for packages"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Visual Studio 2019 (16.10.4)

### Worked before?

?

### Impact

Other

### Repro Steps & Context

JPEG icons [are supported in the NuGet specification](https://docs.microsoft.com/en-us/nuget/reference/nuspec#icon), and JPEG icons are correctly displayed on nuget.org, but Visual Studio Package Manager UI does not see

[2021-08-09 18:18] vsfeedback opened #11145 "Fix NuGet restore broken in VS2019 "nuget Restore metadata is mising the required target frameworks list""
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Fix-NuGet-restore-broken-in-VS2019-nuge/1497113)._

---
[severity:I'm unable to use this version] [regression] [worked-in:16.9.8]
This bug has already been reported in the (now closed) github bug https://github.com/NuGet/Home/issues/10924 - but there is no commitment to fix this in Visua

[2021-08-09 21:03] jebriede commented on #10627
Duplicate of https://github.com/nuget/client.engineering/issues/1086

[2021-08-09 21:03] #10627 closed, assigned to nobody

[2021-08-10 01:15] John0King commented on #6060
this is really nobody cared！！！！！！
`nuget.exe search`  https://docs.microsoft.com/zh-cn/nuget/reference/cli-reference/cli-ref-search
have been implemented a year ago,  and `dotnet cli`  still don't have this  command.

related:
https://github.com/dotnet/sdk/issues/9675    >> dotnet sdk  repo issue
https://github.com/NuGet/Home/issues/7217   >> moved to nuget
https://github.com/NuGet/Home/issues/606

[2021-08-10 01:39] augustoproiete commented on #8189
@GerryWilko Glad you got to the bottom of it. [I reported it as a VS Package Manager bug](https://github.com/NuGet/Home/issues/11144).

[2021-08-10 13:01] alex-jitbit commented on #5887
Any updates on this?

The current answer from @davidfowl is "let package authors worry about updating dependencies", but sometimes very useful packages are orphaned and abandoned by their authors.

You know what, even **packages by Microsoft** are sometimes abandoned **by Microsoft** but are still used by many apps, and the dependencies should be kept updated (for example, many .NET Framework stuf

[2021-08-10 18:55] erdembayar commented on #11144
@aortiz-msft
I just verified this, jpeg icons default to no icon one. Looks like recent regression, at least it was working on VS 16.6.4.

[2021-08-10 19:12] erdembayar commented on #11139
@aortiz-msft
I can repro this regression.

dotnet sdk 5.100
C:\NuGetProj\IssueRepro\11139\Test> dotnet list package --outdated

The following sources were used:
   https://api.nuget.org/v3/index.json
   C:\NuGetProj\Mypackages
   https://pkgs.dev.azure.com/devdiv/_packaging/vs-corextfeeds/nuget/v3/index.json

Project `Test` has the following updates to its packages
   [net5.0]:
   Top-level Packag

[2021-08-10 19:38] chgill-MSFT commented on #5887
Hi @alex-jitbit! Providing a solution to this problem is priority for us that we plan to begin working on soon.

@JonDouglas wrote a design spec for show transitive packages in the VS Package Manager UI some time ago: https://github.com/NuGet/Home/blob/dev/proposed/2020/Transitive-Dependencies.md

There are still some design questions we want to address before we begin implementation, but the exis

[2021-08-10 20:09] erdembayar commented on #11137
@aortiz-msft
I can repro this regression.

[2021-08-10 20:19] erdembayar commented on #11136
@aortiz-msft
I can repro this issue.

[2021-08-10 20:49] erdembayar commented on #11105
I can repro this bug, bug considering this one doesn't even pack on .net sdk 5.0 I wouldn't consider this as regression.

dotnet pack -c Release --version-suffix "Jamie" -p:PackageVersion=3.0.0
Microsoft (R) Build Engine version 16.8.0+126527ff1 for .NET
Copyright (C) Microsoft Corporation. All rights reserved.

  Determining projects to restore...
  Restored C:\NuGetProj\IssueRepro\11105\11105.cs

[2021-08-10 21:08] erdembayar commented on #11106
I can repro this. It looks error message need to be improved.

[2021-08-10 21:25] erdembayar commented on #11125
@aortiz-msft
I can repro this. Not sure if it's actually regression or no, most likely it's coming from this [PR](https://github.com/NuGet/NuGet.Client/pull/3953). Need more investigation.

[2021-08-10 21:49] erdembayar commented on #11128
I can repro this. Same behavior on previous versions too.

[2021-08-11 08:50] AlexKeySmith commented on #8465
n.b. after much experimentation I was able to use version ranges, using this very helpful tool to iterate quickly https://nugettools.azurewebsites.net/5.9.1/find-best-version-match

However unfortunately version ranges seem to break whitesource (a dependency scanning tool I'm using) so in the end I switched to non-floating versions.

[2021-08-11 09:14] mloskot commented on #8546
By the way, it may be worth to point at https://docs.microsoft.com/en-us/nuget/consume-packages/migrate-packages-config-to-package-reference#create-a-package-after-migration which says:

then it recommends to not to use `dotnet pack`:

[2021-08-11 09:28] zenodhaene commented on #11099
I'm having the exact same problem. The docker image I use for building the Dockerfile is `mcr.microsoft.com/dotnet/sdk:5.0.303-nanoserver-1809`. For now, I managed to avoid this problem for now by splitting restore from build, and passing the `--ignore-failed-sources` flag to the dotnet restore command. I suspect highly, however, that I'm just not using the features in the packages that are failin

[2021-08-11 09:41] NeilMacMullen commented on #10674
Unable to comment on the feedback issue since that is now closed but just wanted to say thanks for addressing this issue! The UI is significantly more responsive in the August preview :-)

[2021-08-11 13:06] awakecoding commented on #11099
@zenodhaene I didn't find a real fix for the problem, but I added a "dotnet restore" command with its output explicitly ignored prior to my real command that fails sometimes, and it appears "stable" now. If the first restore sometimes fail, the second one is usually good to go. My PowerShell script now looks like this:

[code]

I would still like to figure out why the first nuget restore *sometime

[2021-08-11 14:30] awakecoding commented on #11099
@zenodhaene do you have a screenshot of that particular request/response in Fiddler? I'm not very familiar with the default revocation checks made by nuget restore to validate package signatures - is it using a CRL or OCSP or potentially one of the two? Unrelated to this I have someone on my team working on implementing a pure Rust Authenticode signature validator for PE executables and PowerShell

[2021-08-11 14:41] zenodhaene commented on #11099
Please see the screenshot below - excuse me for the resolution. About s.symcb.com I'm fairly certain it's a CRL, s.symcd.com I'm not so sure about, might be OCSP. How I think it works:

1) Package is signed using an up-to-date certificate (it was at the time that the package was signed)
2) Package is timestamped using a timestamping server (http://timestamp.digicert.com?)
3) This timestamp in and

[2021-08-11 14:57] awakecoding commented on #11099
@zenodhaene it would make a lot of sense that the problem is with the timestamping server, since I guess it's not checked if the certificate is still within its validity period. The recent expiration of the certification in question would have meant that "nuget restore" would always need to contact the timestamping server, revealing networking issues that were there before.

However, from your scr

[2021-08-11 18:17] dtivel commented on #11099
Our understanding is that the root cause is not related to certificate validity periods or revocation checks.

Apparently, Windows knows about a set of trusted root authorities (presumably by certificate fingerprint) but only explicitly adds them to the trusted root authorities store on first use.  It's essential that root certificates be in this store for chain building to succeed as expected.  D

[2021-08-11 18:34] awakecoding commented on #11099
@dtivel Windows has a special way of dealing with trusted root CAs - it updates it using a certificate trust list (CTL) distributed over HTTP and signed by Microsoft (http://ctldl.windowsupdate.com/msdownload/update/v3/static/trustedr/en/authrootstl.cab). I am not aware of the full details of the Windows APIs responsible for fetching and updating it, but I believe there exists a cached copy of thi

[2021-08-11 18:43] dtivel commented on #11099
If we're talking about long-term options, yes, it may be feasible to implement a product change as you suggest.  In my earlier post I was speaking to a short-term option requested in the comment ["Anybody knows a possible workaround to avoid breaking my builds? It happened again today, and I need to solve this."](https://github.com/NuGet/Home/issues/11099#issuecomment-891192388).

I think we're bo

[2021-08-11 18:48] awakecoding commented on #11099
@dtivel yes, for the short term, the hackish solution of restoring twice is "good enough". However, we should go to the bottom of this and open a separate feature request to provide a proper way to make it work reliably by default, and save a lot of pain from people who will cry looking at their failed CI build jobs, wondering why it happens in the first place.

[2021-08-11 19:56] chgill-MSFT commented on #11131
Closing based on Nikolche's feedback. This is a minor issue, so I don't feel the "correct name" is worth figuring out.

[2021-08-11 19:56] #11131 closed, assigned to nobody

[2021-08-11 20:57] Anipik opened #11146 "[Bug]: ContentItemCollection BestItemGroup returning a wrong value for a unsupported rid for a tfm"
### NuGet Product Used

dotnet.exe

### Product Version

dotnet 6

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

[code]

I got the netstandard2.0 itemgroup instead the the returned value should be null.

cc @ericstj @viktorHofer

### Verbose Logs

_No response_

[2021-08-11 21:05] breidikl opened #11147 "dotnet restore --no-dependencies is loading asset files from upstream project references in the latest .Net 6 preview"
### NuGet Product Used

dotnet.exe

### Product Version

6.0.0-preview.7.21377.19

### Worked before?

It works in 5.x version and also worked in 6 preview 4

### Impact

_No response_

### Repro Steps & Context

We have a distributed build that cds to the directory for each csproj and runs the following dotnet command on the machine that will be building that node:

`dotnet.exe restore --use-lock

[2021-08-12 02:41] aortiz-msft commented on #11137
@erdembayar - could you please get us the list of commits between the two builds so that we may narrow down the offending change?

[2021-08-12 04:46] erdembayar commented on #11137
@aortiz-msft
It looks it happened here: https://github.com/NuGet/NuGet.Client/compare/6.0.0.66...6.0.0.129
I guess offending change because I can see changes related to "deprecation" inside it: https://github.com/NuGet/NuGet.Client/pull/3996

[2021-08-12 04:58] erdembayar commented on #11136
See https://github.com/NuGet/Home/issues/11137#issuecomment-897345373

[2021-08-12 08:01] #8065 closed, assigned to nobody

[2021-08-12 09:45] ElderOrb commented on #5146
This, and also inability to pre-download all the packages (like with packages.config) disallow me to switch to PackageReference and stick with old approach :(

[2021-08-12 10:21] sakno commented on #5556
Upvote

[2021-08-12 16:59] donnie-msft commented on #11138
https://github.com/NuGet/NuGet.Client/pull/4178#discussion_r684373781

[2021-08-12 18:06] nkolev92 commented on #5146
@ElderOrb

You can always run `msbuild /t:restore` or `nuget.exe restore` to restore PackageReference.

[2021-08-12 18:14] donnie-msft commented on #6623
Related (now closed) bug I filed https://github.com/dotnet/aspnetcore/issues/27480

[2021-08-12 18:32] aortiz-msft commented on #11137
Hey @drewgillies  - Could you please take a look at this one? We need to fix this sprint or revert the feature.

cc @joelverhagen

[2021-08-12 18:33] aortiz-msft commented on #11139
@drewgillies - Same as the issue for deprecated.

cc @joelverhagen

[2021-08-12 18:36] aortiz-msft commented on #11144
@dominoFire  - we need to fix this sprint.

[2021-08-12 18:49] nkolev92 commented on #11146
net461 is considered compatible with netstandard2.0, https://nugettools.azurewebsites.net/5.10.0-preview.2.7185/framework-compatibility?project=net461&package=netstandard2.0.

[2021-08-12 18:49] #11146 closed, assigned to nobody

[2021-08-12 18:52] aortiz-msft commented on #11125
@erdembayar  - Could you please validate that the linked PR is the offending change?

[2021-08-12 18:56] safern commented on #11146
@nkolev92 but is the `unix` runtime supported by `net461`? Note that the ns2.0 asset is under `runtimes/unix/netstandard2.0`

[2021-08-12 19:00] aortiz-msft commented on #11094
@omajid - Would you please add additional information to the request?

[2021-08-12 19:16] omajid commented on #11094
@aortiz-msft sure, happy to. Can you tell me what sort of additional information I can provide here?

[2021-08-12 19:29] nkolev92 commented on #11146
There's no mapping between frameworks and rids in nuget.
The SDK/MSBuild would normally validate that.

[2021-08-12 20:43] erdembayar commented on #11136
@v-luzh @aortiz-msft
It looks it's bug in script itself.

[code]

For correcting this one please look at SimpleTestPathContext in our unit tests or https://github.com/NuGet/NuGet.Client/blob/b58613fbc338b8e142d29b3bdb74e92a83a259fb/scripts/nuget-debug-helpers.ps1#L233-L265 as example.

[2021-08-12 22:04] erdembayar opened #11148 "PosixUMask is called 2 times"
This is follow up issue for comment https://github.com/NuGet/NuGet.Client/pull/4178#discussion_r688002427

[2021-08-12 22:09] drewgillies commented on #11137
@aortiz-msft the `--deprecated` report is quite old. Do we know when this regressed?

[2021-08-12 22:13] dj110919871 commented on #11137
dotnet

[2021-08-12 22:15] kartheekp-ms opened #11149 "[Bug]: Installing a package with RestorePackagesWithLockFile and NuGetLockFilePath properties set throws an exception in VS"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

VS 2022 Internal Preview

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

As per https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets doc, `NuGetLockFilePath` points to `a custom location for the lock file. The default location is next to the p

[2021-08-12 22:29] zivkan commented on #11148
https://github.com/NuGet/NuGet.Client/blob/b58613fbc338b8e142d29b3bdb74e92a83a259fb/src/NuGet.Core/NuGet.Packaging/NuGetExtractionFileIO.cs#L143-L146

[2021-08-12 22:32] #9968 closed, assigned to nobody

[2021-08-12 22:42] erdembayar commented on #11053
@jzabroski
Could you be able to provide us reproducible repro code or sample project?
Currently not clear how you got corrupt zip/nupkg file. We need to repro in our side to investigate and fix it.

[2021-08-12 23:41] kartheekp-ms opened #11150 "[Feature]: Make namespace mode configurable through NuGet.Config file"
### NuGet Product(s) Involved

NuGet.exe, Visual Studio Package Management UI, Visual Studio Package Manager Console, MSBuild.exe, dotnet.exe

### The Elevator Pitch

Child of https://github.com/NuGet/Home/issues/10729

### Additional Context and Details

_No response_

[2021-08-12 23:42] kartheekp-ms commented on #10729
Child tasks.
- [ ] https://github.com/NuGet/Home/issues/11150

[2021-08-12 23:46] nkolev92 commented on #10729
When defining child tasks can you please use zenhub?

GH's epics are nice, but they don't see estimates cause they are a zenhub feature.

[2021-08-13 01:50] drewgillies commented on #11137
@aortiz-msft I will investigate.

[2021-08-13 03:55] #11134 closed, assigned to nobody

[2021-08-13 04:54] drewgillies opened #11151 "[Bug]: Indicate Developer PowerShell for Visual Studio in contributing documentation"
### NuGet Product Used

NuGet.exe

### Product Version

documentation

### Worked before?

_No response_

### Impact

Other

### Repro Steps & Context

https://github.com/NuGet/NuGet.Client/blob/dev/CONTRIBUTING.md indicates using PowerShell, and would do better to indicate using Developer PowerShell for Visual Studio.

### Verbose Logs

_No response_

[2021-08-13 09:50] vadi2 opened #11153 "[Bug]: wrong package version is installed"
### NuGet Product Used

dotnet.exe

### Product Version

5.0.400

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

I'd like to continuously publish a pre-release version of my package to nuget for easier testing. However, I don't want `#-rc` to litter my package package, so I chose to continuously update `0.0.1-rc` instead. While th

[2021-08-13 10:28] UweKeim commented on #7621
Happens to me since recently, too, when I installed VS 2022 Preview.

To resolve this, I also added the `-MSBuildVersion` parameter with the latest VS 2019 version:

[code]

Probably have to adjust when 16.12 or so is out.

[2021-08-13 11:53] zivkan commented on #7621
Since around 16.3, `msbuild -t:restore` can restore packages.config when using `-p:RestorePackagesConfig=true`. MSBuild restore doesn't support all scenarios that nuget.exe restore does, specifically resoring a packages.config that is not in the same directory as a project file. But if you're restoring a solution or project, I highly recommend using `msbuild -t:restore -p:RestorePackagesConfig=tru

[2021-08-13 12:24] zivkan commented on #11151
It doesn't need to be Developer PowerShell. If msbuild can't be found on the path it uses vswhere to locate it: https://github.com/NuGet/NuGet.Client/blob/cb290a427545a9214f22d9d6196c9e3c81380611/build/common.ps1#L309

[2021-08-13 12:28] zivkan commented on #11146
Also, the code sample in the repro steps above explicitly specified unix: `_conventions.Criteria.ForFrameworkAndRuntime(FrameworkConstants.CommonFrameworks.Net461, "unix");`

[2021-08-13 14:43] DaanV2 opened #11154 "[Feature]: Improved runtime support"
### NuGet Product(s) Involved

NuGet.exe

### The Elevator Pitch

The support for different runtime versions needs to be improved. It's so difficult to create support for x64 or x86 libraries.

It's really easy to just add framework-specific versions:

[code]

I think it would be amazing if we can have a subfolder for either x64 or x86 related files. I think an attribute that specifies the runtime

[2021-08-13 19:45] chrisraygill opened #11155 "[DCR]: Remove message suggesting Bower for packages that are only compatible with ASP.NET since Bower is deprecated"
### NuGet Product(s) Affected

Visual Studio Package Management UI

### Current Behavior

Some packages like JQuery will show a message on the package list item that says it's not compatible with the given project and suggests to user Bower instead.

This happens for any project that is not ASP.NET packages.config. JQuery isn't compatible with any PackageReference project.

### Desired Behavior

R

[2021-08-13 19:45] chgill-MSFT commented on #11155
cc @anangaur @sayedihashimi @donnie-msft @dominoFire

[2021-08-13 20:20] donnie-msft commented on #11155
Looks like a dupe of https://github.com/NuGet/Home/issues/6623

[2021-08-13 20:24] anangaur commented on #11155
This one seems specific while the one linked seems more generic and talks about removing the extensibility altogether. For this issue I am not sure though if we have the code to show bower. It might as well be done from another team using the extensibility?

[2021-08-13 20:28] chgill-MSFT commented on #11155
@donnie-msft @nkolev92 is there anything else except Bower using the extensibility? If there's not reason we should keep the extensibility, then I'll close this issue in favor of [#6623](https://github.com/NuGet/Home/issues/6623).

[2021-08-13 20:42] nkolev92 commented on #11155
As far as I'm aware only Bower uses this.

[2021-08-13 22:00] aortiz-msft commented on #10901
@reduckted @johnendev - Have you had a chance to try .NET 6 Preview 7 (or Visual Studio 2022 Preview 3) and confirm that the issue is fixed there? We backport fixes based on impact, so please thumbs up the previous comment if you'd like the fix backported to .NET 5.

[2021-08-13 22:48] erdembayar commented on #11153
This issue didn't repro for me.

![image](https://user-images.githubusercontent.com/8766776/129424929-d2a372d3-bd81-4444-b9d2-46e09adb161a.png)

Could you able to rest on another machine or check your setup?

[2021-08-14 00:50] donnie-msft commented on #11155
The Bower message is owned by the Web Tools code, so I've filed https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1371990

[2021-08-14 00:50] #11155 closed, assigned to nobody

[2021-08-14 01:22] #11025 closed, assigned to nobody

[2021-08-14 01:35] erdembayar commented on #11147
@breidikl
Thank you for filing this issue. Could you be able to provide sample solution/project exhibit this issue?
We need to repro the issue and investigate.

[2021-08-14 01:44] erdembayar commented on #11107
@vladimir-cheverdyuk-altium
Thank you for filing this issue. Could you be able to provide us sample solution/project to us?
In general we recommend you to use dotnet or msbuild for restore/build over nuget.exe, because dotnet is crossplatform and better supported now days.

[2021-08-14 02:34] erdembayar commented on #11023
@hrlourenco
Thank you for filing this issue.
Since it's required field you need to set directly or indirectly.
1.  In nuspec set following <description>$description$</description>

here is my full nuspec:

[code]

In AssemblyInfo.cs
`[assembly: AssemblyDescription("vvvvvvvv")]`

I executed `nuget510 pack .\Viewer.csproj`

Resulting file:
![image](https://user-images.githubusercontent.com/8766776/1

[2021-08-14 04:37] erdembayar commented on #11125
@aortiz-msft
I narrowed down actual offending [Readme PR](https://github.com/NuGet/NuGet.Client/pull/3634/files).  It only happens after this PR.

[2021-08-14 14:23] vadi2 commented on #11153
Hm, it did work on another machine. Thank you.

[2021-08-14 14:23] #11153 closed, assigned to nobody

[2021-08-15 12:03] justinjalandoniiwest commented on #10561
is there a way to change where the dll files that nuget downloads to a different folder? When nuget downloads the files it stores them in `C:\Users\QHTF\.nuget`. Is there a way to change the directory? I would like to move it in another folder in an external ssd. Is there a way to do this?

[2021-08-16 01:37] #11151 closed, assigned to nobody

[2021-08-16 04:54] reduckted commented on #10901
Thanks @aortiz-msft. 😄  I've just tried using the .NET SDK 6 preview (specifically 6.0.100-preview.7.21379.14), and it does fix the problem for me. Unfortunately, I don't think using the preview SDK is an option for me at the moment, so back-porting the fix would be much appreciated.

[2021-08-16 11:52] vineetmimrot commented on #11099
I am from Azure DevOps and handle dotnet task and nuget restore is failing once in a while in our CI for the same reason. We don't want to plug the logic of multiple dotnet restore in the task and It would be better if it can be fixed soon.

[2021-08-16 18:13] vladimir-cheverdyuk-altium commented on #11107
Sorry I cannot provide project as there are couple hundreds of them and it is quite random.
To reproduce this issue, you can put breakpoint in PackageExistsInPackagesFolder or somewhere before in call stack and then restore these packages somehow else and then resume execution to get this problem.

We used Nuget command line because some of our projects were developed using old versions of Visual

[2021-08-16 18:21] madelson opened #11156 "[Bug]: Transitive dev dependency being eclipsed by direct project dependency"
### NuGet Product Used

NuGet.exe

### Product Version

nuget.exe 5.9.1.11

### Worked before?

_No response_

### Impact

_No response_

### Repro Steps & Context

**Viewing the attached repro solution is the easiest way to explain this.**

[DevDependencyEclipsedRepro.zip](https://github.com/NuGet/Home/files/6994518/DevDependencyEclipsedRepro.zip)

I expect: Project2's package.lock.json should ha

[2021-08-16 18:21] aortiz-msft commented on #11125
@zkat  - Would you please take a look?

[2021-08-16 19:57] zivkan commented on #10561
This entire thread is about exactly that. [The first comment I posted in this issue](https://github.com/NuGet/Home/issues/10561#issuecomment-777088097) has a sample solution that demonstrates how to do it.

[2021-08-16 20:20] zkat commented on #11077
Unfortunately, this is not something we would actually be able to do. Making this kind of modification to the algorithm is significant and would break a _different_ kind of scenario. As such, I'm going to close this issue. Thank you for your time!

[2021-08-16 20:20] #11077 closed, assigned to nobody

[2021-08-16 20:21] zkat commented on #11094
@zivkan would you please help us understand implications and next steps here? I'm told you also brought this up recently.

[2021-08-16 20:22] zkat commented on #11105
Detecting this conflict would be harder than the value of fixing this particular bug. As such, I'm closing this.

[2021-08-16 20:22] #11105 closed, assigned to nobody

[2021-08-16 20:35] zkat commented on #11107
I think we need to know more about this specific scenario. In general, we don't exit 1 without logging. When you have restores that failed, that typically involves them having collected appropriate logs. If this particular issue is an error and we're miscategorizing the message as an informational message, then that should be addressed.

Additionally, NuGet does _not_ support multiple NuGet proces

[2021-08-16 20:36] zkat commented on #11148
working as designed.

[2021-08-16 20:36] #11148 closed, assigned to nobody

[2021-08-16 20:43] zkat commented on #11017
duplicate of #11016

[2021-08-16 20:43] #11017 closed, assigned to nobody

[2021-08-16 20:48] zkat commented on #11023
Closing since this is not a bug :)

[2021-08-16 20:48] #11023 closed, assigned to nobody

[2021-08-16 20:49] zkat commented on #11037
We should really improve the error messaging here, so I'm closing this in favor of https://github.com/NuGet/Home/issues/11045

[2021-08-16 20:49] #11037 closed, assigned to nobody

[2021-08-16 21:52] vladimir-cheverdyuk-altium commented on #11107
Let me provide more details.

We have Project1 and Project2 and these are Visual Studio projects. Project1 and Prioject2 references the same Nuget packages P1 and P2.

Project1 and Project2 does not depend on each other and will be compiled in parallel.

Before running compilation of Project1 and Project2, our build system runs 2 copy of Nuget to restore packages (one per each project). Let's call

[2021-08-16 23:30] zivkan commented on #11094
We're waiting to hear from the source-build team to help us determine priority/impact.

[2021-08-16 23:31] zivkan commented on #11094
For what it's worth, End to End tests are Visual Studio tests, which don't impact source-build or the .NET SDK in any way. NuGet is just a mono-repo with code that ships in both the .NET SDK and Visual Studio.

[2021-08-16 23:34] donnie-msft opened #11157 "[DCR]: Remove `IVsPackageManagerProvider`"
### NuGet Product(s) Affected

Visual Studio Package Management UI

### Current Behavior

In https://github.com/NuGet/NuGet.Client/pull/4203, the use of the package manager provider was removed. The interface was made `Obsolete`.

### Desired Behavior

Once ASP.NET removes their implementation for Bower Package Manager in https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1371990, we can remove t

[2021-08-17 00:19] breidikl commented on #11147
Here's a more minimalistic repro with projects (netcoreconsoleapp and netcoreclasslibrary as sibling directories each containing a csproj).

netcoreconsoleapp.csproj contains:

[code]
netcoreclasslibary.csproj  contains:

[code]
Each has a minimil cs file so that the project will build.  i.e. netcoreconsoleapp.cs is as follows:

[code]
and netcoreclasslibrary.cs is as follows:

[code]
The lock fil

[2021-08-17 00:34] drewgillies commented on #11139
Note that this there was a profound regression (breaks in filtering for all non-generic reports) in https://github.com/NuGet/NuGet.Client/pull/3699, fixed in https://github.com/NuGet/NuGet.Client/pull/4158, and this seems well after the release being reported on here, and appears not to be inserted in dotnet/sdk yet.
/cc @joelverhagen @aortiz-msft @wli3

[2021-08-17 00:36] drewgillies commented on #11137
Note that there was a profound regression (breaks in filtering for all non-generic reports) in https://github.com/NuGet/NuGet.Client/pull/3699, fixed in https://github.com/NuGet/NuGet.Client/pull/4158. This latter change seems well after the release being reported on here, and appears not to be inserted in dotnet/sdk yet.
/cc @joelverhagen @aortiz-msft @wli3

[2021-08-17 01:53] drewgillies opened #11158 "[Bug]: F5 for XPlat CLI fails due to missing assembly (may need retarget to net6.0)"
### NuGet Product Used

NuGet.exe

### Product Version

`dev` - note that XPlat.exe is not in above list

### Worked before?

_No response_

### Impact

_No response_

### Repro Steps & Context

Open NuGet.sln in VS, set NuGet.CommandLine.XPlat as startup project, set Debug command line parameters as `package list SomeProject.csproj --deprecated` (any report type should fail) and debug. You will s

[2021-08-17 09:46] v-luzh commented on #11136
Hi @erdembayar, seems the script is correct. Because the version is consistent as below screenshot now when I verifying the issue without updating anything in the scripts.
![image](https://user-images.githubusercontent.com/20632625/129703650-31692ba5-503a-471a-9eca-eb7e9a52daaf.png)

[2021-08-17 14:55] erdembayar commented on #11136
It's correct as long as you didn't install any other higher version. If you have any other higher sdk version already installed then script wouldn't work as expected.

[2021-08-17 17:06] #11150 closed, assigned to kartheekp-ms

[2021-08-17 17:46] AArnott commented on #11021
I wouldn't say that. I'd say all `IVs` interfaces should be assumed to have thread-affinity if no docs address the question.
A great place to document which APIs have thread-affinity vs. not would probably be [in this file](https://github.com/microsoft/VSSDK-Analyzers/blob/main/src/Microsoft.VisualStudio.SDK.Analyzers.CodeFixes/build/AdditionalFiles/vs-threading.MembersRequiringMainThread.txt) whi

[2021-08-17 18:19] #10848 closed, assigned to erdembayar

[2021-08-17 20:19] #6623 closed, assigned to donnie-msft

[2021-08-17 20:48] donnie-msft commented on #11055
Bower has been removed.

[2021-08-17 20:48] #11055 closed, assigned to nobody

[2021-08-17 21:05] #11018 closed, assigned to nobody

[2021-08-17 21:24] dominoFire opened #11160 "[Bug]: Hard to read Alternative Package in Deprecation message in search results"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

17.0 Preview 4

### Worked before?

N/A

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

1. Open VS and open a project that supports NuGet packages
2. Right click on project and select 'Manage NuGet packages...'
3. Look for deprecated packages in nuget.org. Tip: use 'nuget.packaging.core.ty

[2021-08-17 23:16] agtekbuild opened #11161 "[Bug]: Use `$(SolutionDir)` on packages.config paths in project files instead of relative path (`"..\packages"`)"
[NuGetTest.zip](https://github.com/NuGet/Home/files/7041608/NuGetTest.zip)
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Visual Studio Professional 2019 version 16.10.4

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

1) Create a C++ WinRT Windows Runtime Component in it's own project and solutio

[2021-08-17 23:17] omajid commented on #11094
I disagree with the characterization that there's no impact on source-build. Anyone using source-build is using source-build because they care about the sources as well as binaries. The fact that these libraries with non-open source licenses get included into the source compilation (produced by source-build) makes the source compilation unusable by anyone trying to only use open source code. That

[2021-08-18 01:57] nkolev92 opened #11162 "UIDelay: nuget.packagemanagement.visualstudio.dll!NuGet.PackageManagement.VisualStudio.VsCoreProjectSystemReferenceReader+<GetProjectReferencesAsync>d__ - CPS projects"
During mixed project restores, this UI delay can happen.

[1257734](
https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1257734/?triage=true)

When native projects are involved, we can use IBuildDependencyProjectReferencesService  which is CPS based and free threaded.

[2021-08-18 02:02] nkolev92 opened #11163 "UIDelay: nuget.packagemanagement.visualstudio.dll!NuGet.PackageManagement.VisualStudio.VsCoreProjectSystemReferenceReader+<GetProjectReferencesAsync>d__ - managed projects"
During mixed project restores, this UI delay can happen.

[1257734](
https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1257734/?triage=true)
[1426094](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1426094)

When managed projects are involved, we are doing a very inefficient walk in https://github.com/NuGet/NuGet.Client/blob/c1a0597e5498bcf3bf0938b3dd0170edbf0b2d20/src/NuGet.Clients/N

[2021-08-18 02:24] mfkl opened #11164 "[Bug]: Fix RestoreCommand_WhenRestoreNoOps_TheAssetsFileIsNotRead test"
### NuGet Product Used

NuGet.exe

### Product Version

latest

### Worked before?

_No response_

### Impact

_No response_

### Repro Steps & Context

https://github.com/NuGet/NuGet.Client/pull/4199

No product change

### Verbose Logs

_No response_

[2021-08-18 03:17] v-luzh commented on #11136
Hi @erdembayar, I see. Do you mean we should add a env variable point to the downloaded sdk in below table before running the whole script?
![image](https://user-images.githubusercontent.com/20632625/129830455-823d79c2-5e0a-4a4e-b059-bcc58a0fa0f4.png)
But we would not know the exact dotnet SDK which we will test on until running the script. (You can see the top of the script.) The sdk will write t

[2021-08-18 03:48] erdembayar commented on #11136
@v-luzh
Your downloaded sdk is relative to your current location. You can get current folder in powershell. Then just add append "\cli\sdk\6.0.100-preview.6.21276.12" into it.
$currentpath = Get-Location | Select-Object -ExpandProperty Path
$sdkPath =Join-Path $currentpath "\cli\sdk\6.0.100-preview.6.21276.12"
You can set env var from powershell without changing your machine state:
$env:MSBuildDSD

[2021-08-18 06:54] cliffchapmanrbx opened #11165 "[DCR]: Exact version specification still makes unnecessary API calls"
### NuGet Product(s) Affected

NuGet.exe, Visual Studio Package Management UI, Visual Studio Package Manager Console, MSBuild.exe, dotnet.exe

### Current Behavior

When an exact version range is specified for a package version (e.g.: `[1.0.3507128]`) NuGet will seek out the version to satisfy this requirement, and will reject any package versions that do not satisfy the exact required version.

C

[2021-08-18 11:05] ey250015 commented on #6867
We did a workaround -
1. restore the project/solution using all sources.
2. remove the packages that needed to be from the specific repository.
3. remove other repositories.
4. restore again the project/solution.

our code on docker file:
&& dotnet restore /src/MyProject/MyProject.csproj \
    && rm -rf ~/.nuget/packages/certianPackege \
    && dotnet nuget remove source nuget.org \
    && dotnet

[2021-08-18 12:29] gilly42 opened #11166 "[Bug]: nuget doesn't send credentials if client certificate is present"
### NuGet Product Used

dotnet.exe, NuGet.exe

### Product Version

NuGet Version: 5.10.0.7240, dotnet 5.0.302

### Worked before?

nope

### Impact

I'm unable to use this version

### Repro Steps & Context

Have a private nuget source with client certificate and username/password.
(in my case we got an nginx with client certificate and behind it an jfrog artefactory with username/password)

My N

[2021-08-18 13:57] nathanaw commented on #10458
I am also experiencing this issue. We are using floating versions, and it prevents using lock files in our release process unless we alter the versions to remove the floats.

Any updates on if/when this might be worked on?

[2021-08-18 14:02] nathanaw commented on #10458
If attempting a repro locally, I find that the NU1004 doesn't always trigger unless I wipe the /obj folders.

This is important for an automated build pipeline, since such pipelines are (usually) doing a clean build (git clone, restore, build, publish). In those cases, there is no /obj folder.

[2021-08-18 14:47] michaelzillhart commented on #10458
I was able to reproduce this locally using this simple batch script:

:: Create Projects
mkdir ConsoleApp
cd ConsoleApp
dotnet new console
cd ..
mkdir Library
cd Library
dotnet new classlib --framework "netstandard2.0"
:: Add Package with floating version to Library
dotnet add package Newtonsoft.Json -v 12.*
cd ../ConsoleApp
:: Add Library to ConsoleApp
dotnet add ConsoleApp.csproj reference ../Li

[2021-08-18 15:41] zivkan commented on #11136
Scripts can use `DOTNET_MULTILEVEL_LOOKUP` to ensure it doesn't find system installed SDKs, even if they're a higher version number: https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-environment-variables#dotnet_multilevel_lookup

However, our test scripts really should be testing the latest nightly build of the .NET SDK, so if it's not the highest version on the system, we need to look at

[2021-08-18 17:58] aortiz-msft commented on #11021
@zivkan - Would you please address this sprint as part of QW?

[2021-08-18 20:29] joelverhagen commented on #11100
Consider analyzing current Debug assemblies on NuGet.org using the `NiPackageAssemblies` Kusto table ([schema](https://github.com/NuGet/Insights/blob/main/docs/tables/PackageAssemblies.md#customattributes-schema)). About 20% of packages on NuGet.org have unoptimized assemblies but a lot of them look like reference assemblies or resource assemblies. Perhaps these are "okay" to be Debug.

[2021-08-18 20:39] BittermanAndy commented on #7796
Any suggestions? This is causing my builds to fail... seems it won't cause a failure, as long as at least one other project in the solution was restored successfully. But now that I'm gradually upgrading my projects to .NET 5.0, some of my solutions don't have any projects affected by this restore, and in that case the MSB4025 error causes a non-zero return code and the entire build fails.

[2021-08-19 01:16] erdembayar opened #11168 "[Bug]: New DependencyGraphSpec is not used for Restore test"
### NuGet Product Used

dotnet.exe

### Product Version

n/a

### Worked before?

n/a

### Impact

_No response_

### Repro Steps & Context

Newly created `DependencyGraphSpec` is passed for restore request in `RestoreCommand_WhenRestoreNoOps_TheAssetsFileIsNotRead` test.

### Verbose Logs

_No response_

[2021-08-19 01:56] nkolev92 commented on #10650
And dup in https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1374036, public issue at https://developercommunity.visualstudio.com/t/VS2022-Updating-NuGet-packages-in-Packag/1504618.

[2021-08-19 08:51] f2calv commented on #10850
Example repo here https://github.com/f2calv/vs-nuget-issue

[2021-08-19 15:51] gilly42 commented on #4126
Why is this closed. Problem still exists.

[2021-08-19 18:19] CyrusNajmabadi commented on #11021
@zivkan Can this be worked on soon?  This is currently blocking: https://github.com/dotnet/roslyn/pull/55671

[2021-08-19 18:21] zivkan commented on #11021
I started this morning, but I'm OOF next week, so I'm not sure when I'll get a PR ready. Hopefully I don't have too many more interruptions today, but I do have at least one meeting.

[2021-08-19 20:29] zivkan commented on #11021
PR has been created to update the XMLDoc: https://github.com/NuGet/NuGet.Client/pull/4209

I couldn't find any API we provide in VS that clearly must be called on the UI thread, so I won't be adding/updating any vs-threading analyzer additional file.

[2021-08-19 21:04] timcassell commented on #9853
Looking forward to this. I have a Promise library that captures the stack-trace every time a new Promise object is created in DEBUG mode, which is _extremely_ expensive, and although it can be disabled, it's stripped in RELEASE mode to reduce memory and CPU usage.

[2021-08-19 22:28] ByAgenT opened #11169 "[Bug]: `dotnet list package --outdated --interactive` makes credential provider invalidate cache for every package listed"
### NuGet Product Used

dotnet.exe

### Product Version

NuGet Command Line 5.11.0.10

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

Hello,

I am from Azure Artifacts team.

We received an issue that when `dotnet list package --outdated --interactive` command is executed against project that set up with Azure Artifacts feed that

[2021-08-20 00:48] kartheekp-ms opened #11170 "[Bug]: Package namespaces for packages.config scenarios is using all the sources as fallback option when no matching namespaces are found for a package"
### NuGet Product Used

MSBuild.exe, NuGet.exe, Visual Studio Package Management UI, Visual Studio Package Manager Console

### Product Version

nuget.exe

### Worked before?

_No response_

### Impact

Other

### Repro Steps & Context

The following test should have failed because "测试更新包" package has no namespace defined. When I ran the test locally the said package was restored successfully whic

[2021-08-20 08:40] ilya-git commented on #1821
If one does not want to install a 3d party dotnet tool, it is possible to cheat a little bit directly with symlink/junction. This trick worked for me:

1. Create a symlink/junction from an old installed version of your nuget package (e.g. 1.0.0) to your debug folder. On windows it will be something like this: `mklink /J C:\Users\<USERNAME>\.nuget\packages\MyPackage\1.0.0 C:\Source\MyPackage\bin\De

[2021-08-20 08:42] v-luzh opened #11171 "[Cross-platform Dotnet Nuget Sign] Unexpected warning “NU3018: UntrustedRoot: self signed certificate” shows when signing/verifying with Dotnet Nuget Sign Command on Linux"
## Details about Problem
NuGet version: NuGet Client Dev\6.0.0.204
VS Version: Main\31617.326
OS: Windows-10-Enterprise-21H1
Linux OS; Ubuntu Server 18.04 LTS
## Detailed repro steps
1.	Git clone https://github.com/NuGet/Entropy.git to Windows VM.
2.	Copy the “SDKPatchTool” folder from https://github.com/NuGet/Entropy.git to the desktop of Linux VM.
3.	Copy the “Nupkgs” folder of the NuGet build t

[2021-08-20 08:49] v-luzh opened #11172 "Color code warnings as yellow and errors as red in NuGet.exe/DotNet.exe"
## Details about Problem
NuGet version: NuGet Client Dev\6.0.0.204
VS Version: Main\31617.326
OS: Windows-10-Enterprise-21H1
## Detailed repro steps
1.	Git clone https://github.com/NuGet/Entropy.git to Windows VM.
2.	Copy the “SDKPatchTool” folder from https://github.com/NuGet/Entropy.git to the desktop of Windows VM.
3.	Copy the “Nupkgs” folder of the NuGet build to the desktop of Windows VM.
4.

[2021-08-20 08:57] v-luzh opened #11173 "[Cross-platform Dotnet Nuget Sign] No certificate info shows when running dotnet nuget sign on default verbosity"
## Details about Problem
NuGet version: NuGet Client Dev\6.0.0.204
VS Version: Main\31617.326
OS: Windows-10-Enterprise-21H1
## Detailed repro steps
1.	Git clone https://github.com/NuGet/Entropy.git to Windows VM.
2.	Copy the “SDKPatchTool” folder from https://github.com/NuGet/Entropy.git to the desktop of Linux VM.
3.	Copy the “Nupkgs” folder of the NuGet build to the desktop of Linux VM.
4.	Go t

[2021-08-20 11:29] coreyrastetter commented on #7792
Is there no way to just use the PAT for `dotnet nuget`? Requiring Azure Artifacts Credential Provider is a non-starter for continuous integration outside of Azure DevOps (building in Linux containers in CircleCI, for instance).

[2021-08-20 13:24] NordlingDev commented on #10586
For those who still has issues like this and that has been stated before. Since the source of the error comes from a file within the node_modules directory of a React Native project, it means even if it found the `windows/NuGet.conf` file, it was never read. If you copy this file into the root of the project (next to package.json), it works.

I did not move the file, but instead cloned it. That wa

[2021-08-20 19:01] vlada-shubina opened #11174 "[Bug]: NuGet Search API cannot skip over 3000 hits"
### NuGet Product Used

NuGet.exe

### Product Version

NuGet Search API

### Worked before?

not sure

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

It seems NuGet search API has weird limitation on `skip` to `3000`:

Example:
`https://azuresearch-usnc.nuget.org/query?q=template&prerelease=true&semVerLevel=2.0.0&skip=3000&take=5`
returns 5 hits as expected

`https://a

[2021-08-20 19:55] aortiz-msft commented on #8414
@zivkan - Would you please take a look?

[2021-08-20 23:04] heng-liu commented on #11171
Hi @v-luzh , when I tried to repro one of the cases "Dotnet nuget sign command: sign an unsigned package" on Linux, I didn't see the warning of “NU3018: UntrustedRoot: self signed certificate”.
![image](https://user-images.githubusercontent.com/45407901/130300206-fa1d2e74-103f-4040-8eb6-ae5e36732310.png)

Could you try again and do the following checking after `step10. Add the certificate(.crt) to

[2021-08-21 00:21] #8272 closed, assigned to erdembayar

[2021-08-21 00:22] #11168 closed, assigned to erdembayar

[2021-08-21 00:46] nkolev92 commented on #6867
@ey250015

Package namespaces functionality will very soon be in early preview.

We'll update this thread when it's available to try out. We'd love to get your feedback.

[2021-08-21 01:43] nkolev92 commented on #11164
Dup of https://github.com/NuGet/Home/issues/11168

[2021-08-21 01:43] #11164 closed, assigned to nobody

[2021-08-21 01:57] nkolev92 commented on #11165
Hey @cliffchapmanrbx

Hope I'm picking up the right context, sounds like you are representing Artifactory?

Have you considered moving to the V3 protocol?
The V3 protocol is optimized for package discovery by version with the package base address resource, https://docs.microsoft.com/en-us/nuget/api/package-base-address-resource#sample-response.

Client side, I think the decision to lookup all vers

[2021-08-21 06:16] nkolev92 commented on #11173
@v-luzh
I was not able to repro this on Windows.

Can you post the output from `dotnet nuget verify` please?

Please copy the console values instead of a screenshot. Thanks!

[2021-08-21 06:56] nkolev92 commented on #11169
@ByAgenT

Is this something that's still happening with restore as well?
There's a few reports, and it's was unclear to me whether you ever got a repro with restore.

[2021-08-21 07:53] nkolev92 commented on #11166
@gilly42

It looks to me that they are both sent correctly. They're both set on the client handler.
Can you attempt recreating the creds and validate they are correct?

[2021-08-21 07:54] nkolev92 commented on #11166
Code ref:

https://github.com/NuGet/NuGet.Client/blob/dbd9822255d619908ea9a51e76b8139d6397909b/src/NuGet.Core/NuGet.Protocol/HttpSource/HttpHandlerResourceV3Provider.cs#L52-L55

https://github.com/NuGet/NuGet.Client/blob/dbd9822255d619908ea9a51e76b8139d6397909b/src/NuGet.Core/NuGet.Protocol/HttpSource/HttpSourceAuthenticationHandler.cs#L56-L62

[2021-08-21 07:56] nkolev92 commented on #11161
Hey @agtekbuild

We really appreciate the time you took to write this issue, but I'm not sure I follow what the problem is.

Would be able to provide a sample repo/attachment with the minimum setup?

[2021-08-21 07:59] nkolev92 commented on #11158
Not sure why retargeting is fixing your issue given that the framework that's being run is net472.

[2021-08-21 08:24] nkolev92 commented on #11106
This issue is....interesting. Let's use that word! :)

1. When a new project is created, the TargetFramework property is the one that's set, and it's value in this case is `net6.0`.
1. TargetFrameworks property is used by both NuGet & SDK to dispatch inner builds.

When both `TargetFramework` and `TargetFrameworks` are set, things can get weird.

Usually, you'd only have one set and the other one

[2021-08-21 08:24] #11106 closed, assigned to nkolev92

[2021-08-21 08:30] nkolev92 commented on #11154
Thanks for filing this @DaanV2,

Please take a look at https://docs.microsoft.com/en-us/nuget/create-packages/supporting-multiple-target-frameworks#architecture-specific-folders

I think this makes an assumption that these top packages need to have specific support based on the architecture.
As majority of NuGet packages contain only managed code, it's not super common that the arch matters.

[2021-08-21 08:32] nkolev92 commented on #11154
Functionality wise, can you think of any ways that the feature you're proposing is different from the already available one?

[2021-08-21 11:53] DaanV2 commented on #11154
The problem more is that I have tried these methods over and after a couple of hours got nothing to work.

The process of adding framework/architecture to a packet could be simplified so so much for the benefit of all. So far I haven't seen any feature inside of the packet specification file that actually allows for this. but it's just an example.

But the simplicity of it all is, that I want to s

[2021-08-21 17:01] ByAgenT commented on #11169
@nkolev92 No, I don’t have a repro with package restore using NuGet CLI 5.10 and latest credprovider (0.1.25), auth prompted only once and credprovider cache is being respected properly. At this moment we’re only aware of the issue with list command.

[2021-08-21 19:28] aolszowka commented on #8272
@erdembayar I wanted to say thank you for submitting a fix for this. I no longer work for the company that most directly affected by this, but this is a great win either way!

@madkat I don't think I have Dion on here, but maybe of interest to some of the larger code bases that you guys are familiar with :)

[2021-08-21 22:17] madkat commented on #8272
@aolszowka Thanks for tagging me. I appreciate your effort in getting this tracked down!

[2021-08-22 00:08] cliffchapmanrbx commented on #11165
Hi @nkolev92!

I am not, alas, from Artifactory. My company uses Artifactory as our primary registry for NuGet packages, including as a pull-through cache for nuget.org. We are beholden to the quirks of their implementation of the NuGet API, including V2 and V3.

We're actively working with their support team in general, and still looking at opportunities to reduce load all around on the system. T

[2021-08-23 02:50] v-luzh commented on #11171
Hi @heng-liu, I can repro this bug again. Yes, the certificate is not added to trusted store. Please refer to below logs.
[code]
And I could not see the logs as yours after running the last command of step10: sudo update-ca-certificates. Mine is as below.
[code]
My Linux OS; Ubuntu Server 18.04 LTS

[2021-08-23 07:29] v-luzh commented on #11173
Hi @nkolev92, sorry, this bug just repro when signing, doesn't repro when verifying. Updated the bug.

[2021-08-23 11:44] gilly42 commented on #11166
I can now specify the problem a little more precisely. It has nothing to do with the client certificate.

` dotnet restore --configfile ./NuGet.Config` doesn't send the packageSourceCredentials.

My NuGet.Config
[code]

[2021-08-23 16:27] zkat commented on #11172
@kathleendollard hey! What do you think of colorization in dotnet overall? Are there design parameters you want us to stay within as we look into adding a pop of color to our stuff?

[2021-08-23 17:13] jmyersmsft commented on #11027
Retry-After won't help the specific scenario that's killing @MattGal 's team though -- it's a socket error, not an HTTP error.

[2021-08-23 17:18] MattGal commented on #11027
@jmyersmsft correct that was long before your insight; this week I'm looking into prepping a PR with an eye for being able to make both failure modes more reliable in dnceng

[2021-08-23 17:19] jmyersmsft commented on #11027
oh wow I also totally missed that the dates are all way back in July, whoops

[2021-08-23 17:33] nkolev92 commented on #11147
Hey @breidikl

I can't really think of a reason why restore would be accessing the assets file, so I have to imagine it's some other component.

I followed your instructions, and the only thing I couldn't get was the office SDK.

1. I created the setup matching your description, with the exclusion of the office SDKs.
1. Restored both projects.
1. Checked the last access time of the assets file.
1.

[2021-08-23 17:52] aschuhardt commented on #3788
This is still very relevant and a major pain point for many of us, I'm sure.

[2021-08-23 17:58] aortiz-msft commented on #10896
@donnie-msft @jebriede - What are the next steps for this one?

[2021-08-23 18:21] #11021 closed, assigned to zivkan

[2021-08-23 18:34] chipplyman commented on #1860
Looks like this issue is currently being tracked as https://github.com/NuGet/Home/issues/7297, with some additional nuance.

[2021-08-23 19:39] KSchlobohm opened #11175 "[Feature]: Ability to reuse the package migrator tool outside of Visual Studio"
### NuGet Product(s) Involved

NuGet.exe

### The Elevator Pitch

One of the steps that the  `upgrade-assistant` tool performs is to review the NuGet dependencies in my project and then remove my transitive dependencies while converting from .NET Framework to SDK style projects with PackageReference restore.

It would be best if both the Package Migrator tool ([ref](https://docs.microsoft.com/en-u

[2021-08-23 20:05] donnie-msft commented on #10896
@aortiz-msft I pinged UX team for an update.

[2021-08-23 20:12] aortiz-msft commented on #11136
@heng-liu  - Would you please take a look this sprint?

[2021-08-23 20:14] zkat commented on #11169
@erdembayar would you mind looking into this and checking if it's a regression?

[2021-08-23 20:15] zkat commented on #11171
@heng-liu assigning to you for now to make sure how much of a problem this is right now. Feel free to drop to pri2 if you think it's not as big an issue as it seems right now. :)

[2021-08-23 20:19] nkolev92 commented on #11175
I just found that we have an ask from Taylor around this topic: https://github.com/NuGet/Home/issues/9514

[2021-08-23 20:19] #11175 closed, assigned to nobody

[2021-08-23 21:03] nkolev92 commented on #11165
V3 is design specifically to do better in this scenario.
In V3 protocol, the only call made is the one to get a list of all versions. That is supposed to be a single page.
The V2 protocol has a lot of duplicated detail, such as package id, authors, dependencies etc. It's a lot more data that needs parsed, which is why it's paginated.

In v3, there are no pages for that resources.

That's just a tr

[2021-08-23 21:59] breidikl commented on #11147
BuildXL records the access as being by dotnet.exe.  I confirmed that the issue started between .Net 6 preview 4 and preview 5, though it still repros in preview 7.

I'm actually out of town this week, though I sent the latest response to my team to help with additional information while I'm out.

[2021-08-23 22:47] cliffchapmanrbx commented on #11165
Thanks for all of that information, I've got a few new options to benchmark. I appreciate the pointers 😊

It sounds like our workflow isn't generic enough to warrant a behavior change, I concur with your assessment there. We'll look for more targeted workarounds we can bake into our systems.

[2021-08-24 00:20] nkolev92 commented on #11147
I attempted it again and I still don't see anything happening due to the restore command.

[code]

[2021-08-24 01:40] nkolev92 commented on #11154
Are your concerns primarily with the authoring experience?

Are you having trouble creating a package that looks like the docs indicate?
Or does the package you create not work in ways you expect it to work?

[2021-08-24 02:18] nkolev92 opened #11176 "Avoid MEF lookups on UI thread during NuGet projects initialization"
Dup of https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1384749.

Discovered as part of https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1331835.

GetGlobalService calls in the project system services happen on the UI thread.

For large solutions that can cause us to spend some considerable time on the UI thread.
Using composition avoid this.

[2021-08-24 02:46] heng-liu commented on #11136
The script in the description is using the latest version of SDK which is downloaded from main branch.
If we would like to test with NuGet bits not yet inserted in the SDK, we'd better patch the SDK with the latest NuGet bits.
Pls refer to https://github.com/NuGet/Client.Engineering/issues/1111.

[2021-08-24 04:11] smflorentino opened #11177 "[Feature]: Print config file(s) used when dotnet nuget list source runs"
### NuGet Product(s) Involved

NuGet.exe, dotnet.exe

### The Elevator Pitch

Print the config file(s) used to determine the source list when `dotnet nuget list source` runs, so I can determine the a config file that's either missing the source or providing the bulk of the user's configuration. This doc is helpful, but a lot of manual chasing down. Having the `dotnet` tool *display* the results wo

[2021-08-24 09:19] DaanV2 commented on #11154
Bit of all.

I do think that trying to get anything to work for multiple hours is either not documented well enough, is not user friendly or is a difficult task. Which all 3 for a packaging tool doesn't seem great.

I cannot create a package as indicated by the docs that support x64 and x86, or the package doesn't work, I wouldn't know, as there is no debugging options in nuget.exe as far as I kno

[2021-08-24 12:25] Insomniak47 commented on #11142
Hey all, if someone could give me a summary of some of the concerns or main classes for some of the mentioned features that I should look at to do this I'm happy to come up with a quick POC better demonstrating it.

[2021-08-24 18:51] heng-liu opened #11178 "9 signing tests failed on MacOS, as root certificate is removed from trusted store on MacOS"
The following 9 tests failed on Mac:
[code]
The error message:
[code]

Stack trace
[code]

[2021-08-24 19:18] erdembayar opened #11179 "[Bug]: MSBuild restore is logging exception as warning"
### NuGet Product Used

MSBuild.exe

### Product Version

16.11.0.36601

### Worked before?

n/a

### Impact

Other

### Repro Steps & Context

While debugging test I [noticed ](https://github.com/NuGet/NuGet.Client/pull/4212/files#r694429535) some exceptions in msbuild restore task logging exception message as warning, I believe it should log as error instead.

![image](https://user-images.github

[2021-08-24 19:44] agtekbuild commented on #11161
Hi,

I attached a zip file that contains an example.  There is a Readme at the top level that explains how to recreate the issue.  I also added the following repo with the same example:  https://github.com/agtek/NuGetTest.git

Please let me know if you have any additional questions.

[2021-08-24 20:43] Deezhohn commented on #8272
@aolszowka, @madkat Thanks for the update!

[2021-08-25 01:21] dtivel commented on #11099
@awakecoding, I tried your Docker file, but I didn't get far.  Any suggestions?
[code]

[2021-08-25 01:28] awakecoding commented on #11099
The error you have is very strange, are you sure you can build Windows containers correctly in your environment? My Dockerfile contains a lot of build tools, but it was strongly inspired by the official docs on how to install the VS build tools in Windows containers, maybe give that sample a try instead: https://docs.microsoft.com/en-us/visualstudio/install/build-tools-container?view=vs-2019

[2021-08-25 01:31] dtivel commented on #11099
No, I'm not sure.  :)  I'll try that instead.  Thanks.

[2021-08-25 03:36] SimonCropp commented on #4491
doesnt this https://github.com/NuGet/Home/issues/4491#issuecomment-586031570 imply this issue should be closed as wont fix?

[2021-08-25 03:38] SimonCropp commented on #5267
given https://github.com/NuGet/NuGetGallery/issues/6085 is fixed, should this one be closed?

[2021-08-25 04:07] dsrini1 commented on #11147
Hi @nkolev92,
I work with @breidikl and I have got the repro of this issue. The actual violation is not the read but probe. The upstream project's project.assets.json file is being probed while running dotnet restore.

I was able to confirm the probe by dotnet.exe, using the [process monitor tool](https://docs.microsoft.com/en-us/sysinternals/downloads/procmon) while running the dotnet.exe restore

[2021-08-25 04:25] dominoFire commented on #11144
@augustoproiete Thanks for filing this bug.

By using WICExplorer, it seems the icon was created with paint.net; sometimes, Windows WIC codecs has problems understanding JPEG images if those are created with custom JPEG logic.

Cand you try exporting your image using other image manipulation software?

![image](https://user-images.githubusercontent.com/1192347/130726275-3249d5e6-3674-4f6e-b69f-e31

[2021-08-25 04:25] dominoFire commented on #11144
Inner stacktrace when loading the icon image in NuGet PM UI:

[code]

[2021-08-25 04:26] dominoFire commented on #11144
HRESULT: 0x88982f61

[2021-08-25 05:02] heng-liu commented on #11136
I think this issue could be closed as fixed, right? @v-luzh

[2021-08-25 05:07] heng-liu commented on #11178
Tried to run `dotnet nuget verify` on a package from nuget.org on Mac. It failed for the same reason:
`ExplicitDistrust: The trust setting for this policy was set to Deny.`
So MacOS distrusts the Symantec root cert recently.

After discussing offline, we will skip those 9 tests and enable them when we have CTL, or when we have new TSA to timestamp packages on nuget.org(then we need to timestamp th

[2021-08-25 08:45] mhutch commented on #10907
This reminded me why we should unify project/package references so they are reliably interchangeable 🙂

I really like the approach [NuGetizer](https://github.com/NuGet/Home/wiki/NuGetizer-3000) took, which was to treat a project reference as a reference to a [virtual package](https://github.com/NuGet/Home/wiki/NuGetizer-Core-Features): the package that would be produced if the project were packed.

[2021-08-25 10:11] tester346 opened #11180 "[Bug]: A numeric comparison was attempted on "$(MSBuildAssemblyVersion)" that evaluates to "" for older projects"
### NuGet Product Used

NuGet.exe

### Product Version

5.10.0.7240

### Worked before?

5.4.0.6315

### Impact

I'm unable to use this version

### Repro Steps & Context

Hi,

I have old .NET 4.5 project that breaks at restore

	Nuget restore failed.
	Attempt:1
	args:'restore "C:\project\MyProject.sln"'
	MSBuild auto-detection: using msbuild version '4.8.3761.0 built by: NET48REL1'
	from 'C:\Wind

[2021-08-25 15:37] augustoproiete commented on #11144
@dominoFire I created a couple of variants of the NuGet packages above using a JPEG icon image exported using Microsoft Paint. It didn't seem to make a difference (i.e. NuGet PM UI also doesn't show the icon):

![image](https://user-images.githubusercontent.com/177608/130820028-308c61a4-cbdf-4ca8-afba-a98c55fc7e4a.png)

- [PackageWithMSPaintJpegIconEmbedded](https://www.nuget.org/packages/PackageW

[2021-08-25 16:19] avivanoff commented on #10389
Please make this happen. https://github.com/NuGet/NuGet.Client/pull/4025 has been there for four months now.

[2021-08-25 19:49] dc7497-1576912 opened #11181 "Create custom solution picker for when Visual Studio starts from a URI"

[2021-08-25 21:38] kartheekp-ms opened #11182 "[Bug]: String comparison approach used for Source and Namespaces is not consistent"
### NuGet Product Used

dotnet.exe, MSBuild.exe, NuGet.exe, Visual Studio Package Management UI, Visual Studio Package Manager Console

### Product Version

VS 2022 P3

### Worked before?

_No response_

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

Follow up regarding https://github.com/NuGet/NuGet.Client/pull/4212#discussion_r695943951

package source is using Ordina

[2021-08-26 00:43] #11170 closed, assigned to erdembayar

[2021-08-26 19:40] jebriede opened #11183 "[Bug]: Tooltip on the warning indicator image in the Installed tab no longer works"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Nuget.Client latest in dev branch

### Worked before?

Yes, prior to https://github.com/NuGet/NuGet.Client/pull/4210

### Impact

It's more difficult to complete my work

### Repro Steps & Context

1. Launch PMUI
2. Install a vulnerable or deprecated package
3. Mouse over the warning icon in the Installed tab

Expect

[2021-08-26 20:37] kartheekp-ms opened #11184 "[DCR]: namespace mode cannot be configured in NuGet.Config file"
### NuGet Product(s) Affected

NuGet.exe, Visual Studio Package Management UI, Visual Studio Package Manager Console, MSBuild.exe, dotnet.exe

### Current Behavior

As per [spec](https://github.com/NuGet/Home/blob/dev/proposed/2021/PackageNamespaces.md#explanation), Users can configure package namespaces mode in the NuGet.Config file for different source pinning behaviors. There are following mode

[2021-08-26 21:58] #11176 closed, assigned to nkolev92

[2021-08-26 22:36] #11184 closed, assigned to kartheekp-ms

[2021-08-26 23:18] kartheekp-ms opened #11186 "dotnet add package tests for namespaces feature"

[2021-08-27 01:06] #11144 closed, assigned to dominoFire

[2021-08-27 03:32] erdembayar opened #11187 "[Bug]: Create PMC install -source tests for PackageReferenence type projects"
### NuGet Product Used

Visual Studio Package Manager Console

### Product Version

n/a

### Worked before?

n/a

### Impact

Other

### Repro Steps & Context

If we execute below command on PR type project
`install-package SolutionLevelPkg -source C:\NuGetProj\NuGet.Client\test\EndToEnd\Packages`
Then it should show below warning.
`The 'Source' parameter is not respected for the transitive packag

[2021-08-27 03:35] #10948 closed, assigned to erdembayar

[2021-08-27 03:35] #10961 closed, assigned to erdembayar

[2021-08-27 10:44] v-luzh opened #11188 "[Pack] The option “--version-suffix” is not respected when using “--version-suffix” and “-p:PackageVersion” meanwhile in command “dotnet pack”"
## Details about Problem
VS Version: Main\31625.270
NuGet Version: Dev\6.0.0.213
OS Version: Windows-10-Enterprise-21H1

## Repro steps
1. Launch VS and create a new C# Class Library (.NET 6.0).
2. Open the Developer Command Prompt and cd to the project path.
3. Run command “dotnet pack -c Release --version-suffix "Jamie" -p:PackageVersion=3.0.0”.

## Expected
Both two options  “--version-suffix”

[2021-08-27 11:07] v-luzh opened #11189 "There is no tooltip for the “install” button on the right of a package in "Browse" tab"
## Details about Problem
VS Version: D17.0\31616.261
NuGet Version: Dev\6.0.0.165
OS Version: Windows-10-Enterprise-20H2 with all languages
## Repro steps
1.Create a project [e.g. C# Console App (.NET Framework 4.8)] in VS.
2.Right-Click the project in the Solution Explorer and select the “Mange NuGet Packages…”
3.Go to “Browse” tab and select a package (e.g. Newtonsoft.Json).
4.Hover on the “inst

[2021-08-27 17:44] erdembayar opened #11190 "[Bug]: Add arity for dotnet nuget trust command"
### NuGet Product Used

dotnet.exe

### Product Version

n/a

### Worked before?

n/a

### Impact

_No response_

### Repro Steps & Context

Follow up on https://github.com/NuGet/NuGet.Client/pull/4211, regarding [comment](https://github.com/dotnet/sdk/pull/18061#discussion_r645194582), need to register subcommand for `dotnet nuget trust`.

### Verbose Logs

_No response_

[2021-08-27 17:49] #11190 closed, assigned to erdembayar

[2021-08-27 23:21] #11027 closed, assigned to nobody

[2021-08-27 23:48] MattGal opened #11191 "Follow up work for NUGET_ENABLE_EXPERIMENTAL_HTTP_RETRY"
To-Dos for the already-merged changes from https://github.com/NuGet/NuGet.Client/pull/4220

- [ ] Figure out a cleanup mechanism for the weird static variable usage in HttpRetryHandler (done to get IEnvironmentVariableReader plumbed) that leaves things testable
- [ ] Remove #regions in HttpRetryHandler
- [ ] Add basic functional tests for changed code paths that set NUGET_ENABLE_EXPERIMENTAL_HTTP_

[2021-08-28 00:04] #6088 closed, assigned to nkolev92

[2021-08-28 00:05] nkolev92 commented on #6088
Please refer to https://github.com/NuGet/Home/issues/6088#issuecomment-370048090 and https://github.com/NuGet/docs.microsoft.com-nuget/pull/2520

[2021-08-28 04:57] Vishal-2021 commented on #7158
Thank you sir this is really worked
after remove file inside

control=>internet option => content => certificates =>Untrusted publishers

[2021-08-28 17:01] #5719 closed, assigned to nobody

[2021-08-29 16:06] zivkan commented on #2861
Re-opening, as I think we should conform to operating system recommendations/guidelines. If this issue comes up in triage discussion, feel free to bring me in the meeting.

Mini-spec:

## Design

`SettingsUtility.GetGlobalPackagesFolder(..)` should:
1. Check the environment variable, and explicit configuration setting, and if a value exists, use it. This is existing behaviour.
2. When no GPF value

[2021-08-29 16:25] zivkan commented on #11166
Copying/pasting text would be much easier for me to read than a screenshot of text. But it appears that your feed is returning HTTP 403, rather than HTTP 401. I believe that NuGet is following best practises by using credentials only on HTTP 401:

* https://leastprivilege.com/2014/10/02/401-vs-403/
* https://www.freecodecamp.org/news/http-401-error-vs-http-403-error-status-code-responses-explained

[2021-08-30 05:10] #11071 closed, assigned to dc7497-1576912

[2021-08-30 05:10] #11072 closed, assigned to dc7497-1576912

[2021-08-30 07:44] v-longmin opened #11194 "[Localization] The title, tooltip of the warning icon, description and details of vulnerable package have not been localized on PM UI"
## Details about problem
VS Version: D17.0\31616.261
OS Version: Windows-10-Enterprise-21H1
## Installations
1. Install VS D17.0\31616.261 from:
https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=5097037&view=ms.vss-build-web.run-extensions-tab
## Steps to reproduce
1. Create a new C# Console App (.Net Core) project and open PM UI.
2. Search vulnerable package (refer to GitHub Advisory

[2021-08-30 08:22] v-crchang opened #11195 "[Localization] The tooltip of the deprecated package’s warning icon has not been localized on PM UI"
## Details about problem:
VS Version: D17.0\31616.261
OS Version: Windows-10-Enterprise-20h2

## Installation:
Install VS D17.0\31616.261 from:
https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=5097037&view=ms.vss-build-web.run-extensions-tab

## Repro steps:
1. Create a C# Console App (.net core) project and open PM UI of the project.
2. Select package source: Nuget.org
3. Search depr

[2021-08-30 11:30] gilly42 commented on #11166
Good question. Its another team thats run the artifactory (also an reverse nginx in front ob that) I'm not sure if they able to reconfigure it. I hope they are able to do so. But if not, are there a way to tell nuget to handle 403 as 401?

Sorry for the screenshot, next time I provide copy/paste-able text.

[2021-08-30 13:23] astrowalker commented on #9954
Same story here, but I also noticed strange thing -- I have project using netstandard 2.0 and 2.1 (maybe there are more differences, but this one is the most apparent). I was able to pack NS 2.0 project while when packing NS 2.1 project I got this error "Authors is required".

My project "setup" in both cases are identical. I have authors provided in .csproj, and then in .nuspec I have:

[2021-08-30 17:36] nkolev92 commented on #9954
Anyone having issues that are not resolved by unblocking NuGet.exe?

https://github.com/NuGet/Home/issues/9954#issuecomment-754952859

[2021-08-30 18:28] nkolev92 opened #11198 "Cleanup ServiceLocator for better performance"
NuGet does a *lot* of custom things in the ServiceLocator.

This task tracks cleaning up the unnecessary thread switches.

The gist is:

* Avoid using methods that access the UI thread when request services exposed via MEF. Use free threaded calls, or ideally uses MEF composition.
* Don't use custom methods to retrieve services from the service provider. Use the built in extensibility.
* Avoid syn

[2021-08-30 18:29] nkolev92 opened #11199 "Avoid JTF.Run wrapped property retrieval, use async methods instead."
In particular focus is on https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.VisualStudio.Common/IVsProjectAdapter.cs and everything related.

[2021-08-30 18:31] nkolev92 opened #11200 "Async Service Provider should be invoked on threadpool threads via the built in TService,TInterface extensions instead of custom casting"

[2021-08-30 18:37] nkolev92 opened #11201 "All ServiceLocator calls that retrieve MEF services should avoid the UI thread."
Avoid using methods that access the UI thread when request services exposed via MEF. Use free threaded calls, or ideally uses MEF composition.

This means adding a new public method in ServiceLocator

[2021-08-30 18:47] nkolev92 commented on #11201
Note that this issue means reviewing methods such as:

`GetInstance`, `GetInstanceAsync`, `GetInstanceSafe`

[2021-08-30 19:07] missymessa commented on #11099
Hi folks, as a workaround to this issue, we recently changed our pool to use `windows-2019` and that seems to have alleviated this error message for our pipeline that was seeing this error.

[2021-08-30 19:34] kartheekp-ms commented on #11187
Given that this issue a tracking issue to add missing test coverage, I have removed `Type:Bug` and added `Type:Test`.

I created a simple `.NET Core App` and tried to install a package passing a source option in PMC. The ouput text in the package manager window contains the expected message.

[code]

[2021-08-30 19:38] wli3 opened #11202 "--interactive switch not displaying device flow in version '6.0.100-preview.7.21379.14'"
---
**Issue moved from dotnet/sdk#20332**
- Please respond to @fuocor.

---

_From @fuocor on Wednesday, August 25, 2021 3:23:17 PM_

`dotnet restore --interactive` or `dotnet tool restore --interactive` is not outputting the device flow information for authenticating.

it hangs for the 90 second timeout to elapse.

downgrading the global.json file to '5.0.300' works

[2021-08-30 19:38] wli3 commented on #11202
---
**Issue moved from dotnet/sdk#20332**
- Please respond to @MihaZupan.

---

_From @MihaZupan on Monday, August 30, 2021 3:01:01 PM_

cc: @wli3

[2021-08-30 19:38] wli3 commented on #11202
---
**Issue moved from dotnet/sdk#20332**
- Please respond to @dotnet-issue-labeler[bot].

---

_From @dotnet-issue-labeler[bot] on Monday, August 30, 2021 6:58:54 PM_

I couldn't figure out the best area label to add to this issue. If you have write-permissions please help me learn by adding exactly one area label.

[2021-08-30 20:09] nkolev92 commented on #11161
@kartheekp-ms as hot seat, can you please take a look at this issue.

[2021-08-30 20:32] donnie-msft commented on #11183
Also, Narrator can no longer drill-in to the Warning icon.

[2021-08-30 21:10] kartheekp-ms commented on #11188
@v-luzh - This looks by design to me. As per docs https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-pack, `If Version has a value and you pass --version-suffix to dotnet pack, the value specified for --version-suffix is ignored. ` In the repro steps you have mentioned, `-p:PackageVersion` is passed to the command line which I assume is equivalent to `Version` property in the project file.

[2021-08-30 21:43] donnie-msft commented on #11195
After a chat with @dominoFire, he believes there may be a backlog for the localization team. Please follow-up here and reassign as necessary.

[2021-08-30 21:43] donnie-msft commented on #11194
After a chat with @dominoFire, he believes there may be a backlog for the localization team. Please follow-up here and reassign as necessary.

[2021-08-30 22:02] nkolev92 opened #11203 "Review all sync ServiceLocator calls and move to async where possible"
Note that this may *lead* some larger tasks.

Use common sense. Fix the easy ones, create an issue for ones that can feasibly move to async codepaths.

Note that a lot of the PMC ones cannot be made async, simple by virtue of PMC being mostly sync.

[2021-08-31 01:32] #11186 closed, assigned to kartheekp-ms

[2021-08-31 08:31] v-longmin opened #11204 "Install, Update and Uninstall icons on the right of a package are invisible in PM UI"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

NuGet Client Dev\6.0.0.222

### Worked before?

_No response_

### Impact

_No response_

### Repro Steps & Context

## Details about problem

VS Version: Main\31630.363

NuGet Version: Dev\6.0.0.222

OS Version: Windows-10-Enterprise-21H1

## Installations

1. Install VS Main\31630.363 from:  https://devdiv.visualst

[2021-08-31 09:54] astrowalker commented on #9954
@nkolev92  Me. I was not aware of this unblocking, but nuget didn't raise any errors in regard of safety. In both cases (not unblocked, and unblocked) I have this "Authors is required error".

[2021-08-31 13:50] v-luzh commented on #11204
After investigating, it seems a VS bug, it started to repro from VS Main\31626.357 (Merged PR 347116: Add offscreen property to standard footer).

[2021-08-31 14:26] isaacabraham commented on #6754
@loic-sharma any thoughts on this? I had another partner of ours fall foul of this recently.

[2021-08-31 15:49] mathias-brandewinder commented on #6754
Agree that a more explicit error message would go a long way. I just ran into the same case @loic-sharma is describing, and it took me a bit to figure out the source of the problem.
After a while, `-error: NU1108: Cycle detected` finally put me on the right track, but this part lead me down the wrong path first:
[code]

[2021-08-31 20:00] kartheekp-ms opened #11205 "[DCR]: Rename packageNamespaces feature to packageSourceMapping"
### NuGet Product(s) Affected

NuGet.exe, Visual Studio Package Management UI, Visual Studio Package Manager Console, MSBuild.exe, dotnet.exe

### Current Behavior

Namespaces configuration currently can be configured as follows

[code]

### Desired Behavior

Namespaces configuration should be as follows.

1. Rename `packageNamespaces` to `packageSourceMapping`
2. Rename `namespace` to `package`
3

[2021-08-31 21:04] loic-sharma commented on #6754
@isaacabraham I like your error message, it would certainly help unblock customers! Sadly this is not my area of expertise, I'll ping the NuGet client team on this issue.

[2021-08-31 21:24] #11183 closed, assigned to jebriede

[2021-08-31 21:24] #11103 closed, assigned to jebriede

[2021-08-31 21:53] jeffkl opened #11206 "[Bug]: Telemetry event missing in Visual Studio"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

6.0

### Worked before?

No

### Impact

Other

### Repro Steps & Context

1. Load solution with a CPS-based project
2. Allow background restore to run

## Expected
`restoreinformation` telemetry event is fired

## Actual
Telemetry service in Visual Studio is not yet initialized when the telemetry event is fired, so

[2021-08-31 22:03] jeffkl commented on #11206
@zkat can you review that I've added the correct tags, milestone, etc to this issue?

[2021-08-31 22:41] zkat commented on #11206
This looks good!

[2021-09-01 01:16] zkat commented on #11188
This seems to be working as intended, as per @kartheekp-ms, so I'm closing this.

[2021-09-01 01:16] #11188 closed, assigned to nobody

[2021-09-01 01:58] #11162 closed, assigned to nkolev92

[2021-09-01 02:00] v-longmin commented on #11204
We will track the issue on VSO 1390337, close it, thanks.

[2021-09-01 09:45] v-luzh commented on #11136
Yes, it is fixed after patching the SDK with the latest NuGet bits. Close this bug as "Fixed" now, thanks.

[2021-09-01 09:45] #11136 closed, assigned to heng-liu

[2021-09-01 14:42] 3ms commented on #5895
To close a loop here: There's an environment variable you can set that will apply extra msbuild args to the `nuget restore` command in azure.

`NUGET_RESTORE_MSBUILD_ARGS`

You can add this as a pipeline variable in azure. Shove in `/p:Platform=$(BuildPlatform) /p:Configuration=$(BuildConfiguration)`, and it'll apply your build configuration when parsing your project file for nuget projectreferenc

[2021-09-01 14:57] #11205 closed, assigned to kartheekp-ms

[2021-09-01 15:52] loic-sharma commented on #11205
Just curious, why did we decide to rename these? Personally I slightly preferred the old names.

[2021-09-01 16:11] donnie-msft commented on #11204
Reopening for tracking.
https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1390337

[2021-09-01 19:23] nkolev92 commented on #10729
Closing this. We'll listen to feedback.

[2021-09-01 19:23] #10729 closed, assigned to nobody

[2021-09-01 19:31] nkolev92 opened #11207 "Avoid duplicate EnvDTEProjectUtility.IsSupportedAsync calls"
This makes an existing UI delay worse.

UI delay [link](https://devdiv.visualstudio.com/DevDiv/_queries/edit/1331835/?triage=true)

[2021-09-01 19:49] #11206 closed, assigned to jeffkl

[2021-09-01 23:54] kartheekp-ms commented on #11180
As per comment in MSBuild repo https://github.com/dotnet/msbuild/blob/9bcc06cbe19ae2482ab18eab90a82fd079b26897/src/Tasks/Microsoft.Common.targets#L27-L28, `MSBuildAssemblyVersion is not defined in 4.X MSBuild.` I see from the error message that `4.8.3761.0` version of msbuild was used for restore.

What is the MSBuild version used when restore command was executed with `nuget.exe version 5.4.0.629

[2021-09-02 01:10] nkolev92 opened #11208 "Add IVsSolutionManager.GetSolutionDirectoryAsync - improve performance and stop blocking the calling thread in async codepaths."

[2021-09-02 02:38] hupo376787 opened #11209 "[Bug]: Nuget package is not using the highest dependency"
### NuGet Product Used

Visual Studio Package Management UI, Visual Studio Package Manager Console

### Product Version

.net 5.0.302, vs 2019 16.10.4, nuget package manager 5.10.0, Package Manager Console Host Version 5.10.0.7240

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

1. Create a new wpf application.
2. Type
`Install-Pac

[2021-09-02 05:25] #11207 closed, assigned to nkolev92

[2021-09-02 11:53] tester346 commented on #11180
Wow, `msbuild.exe "Path" -t:restore` managed to compile and restore my projects.

It's weird because when I used `5.4.0.6315` then it couldnt handle `PackageReference`

but apparently I can get rid of Nuget.exe and just use `msbuild.exe -t:restore` for everything

[2021-09-02 15:37] leong-desco opened #11210 "[Bug]: VS Credential Provider Incorrectly Setting Value of `isRetry`"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Microsoft Visual Studio Professional 2019 Version 16.10.3 (NuGet Package Manager 5.10.0)

### Worked before?

_No response_

### Impact

It's more difficult to complete my work

### Repro Steps & Context

## Problem

The [documentation](https://docs.microsoft.com/en-us/nuget/reference/extensibility/nuget-credential-p

[2021-09-02 15:52] kartheekp-ms commented on #11180
Closing this issue as per above comment.

[2021-09-02 15:52] #11180 closed, assigned to nobody

[2021-09-02 17:33] nkolev92 opened #11211 "Remove wrappers that hide JTF.Run calls"
JTF.Run is an anti-pattern, but sometimes necessary in our code for various reasons.

This issue tracks removing some of those wrappers in IVSProjectThreadingService, thus making it super obvious that you are using JTF.Run and that it's bad.

It also allows analyzers to better warn about those usages.

[2021-09-02 18:49] aortiz-msft commented on #11053
We are closing this issue since we didn't hear back from you, but definitely let us know if you can still reproduce this problem on the latest version of NuGet. Thank you for your feedback and happy coding!

[2021-09-02 18:49] #11053 closed, assigned to nobody

[2021-09-02 18:53] nkolev92 commented on #11179
Keep in mind that the problem is not that this is a warning. The problem is that there's no error, yet a failure return code.

Please validate the same scenario with nuget.exe

[2021-09-02 18:55] aortiz-msft commented on #11182
Let's use OrdinalIgnoreCase comparison across the board.

[2021-09-02 19:00] #11147 closed, assigned to nobody

[2021-09-02 23:55] nkolev92 opened #11214 "Disable nuget.exe pack for project.json by default, add a fallback env var to enable it"
Related https://github.com/NuGet/Home/issues/7931

[2021-09-03 00:00] nkolev92 commented on #11201
NuGet/NuGet.Client#4229 seems like it has a regression, not sure why.

[2021-09-03 00:02] nkolev92 commented on #11201
Actually I know why :D

The PackageSourceProvider is probably not set early enough, so getting the SComponentModel likely returns null, because it used to default to             `            return Package.GetGlobalService(typeof(TService)) as TInterface;
` but now it doesn't.

[2021-09-03 01:04] nkolev92 commented on #10696
There's no public API available yet.

[2021-09-03 01:19] nkolev92 commented on #11035
This one is irrelevant right now, as the default is `FullySpecified`.

Feel free to reopen if otherwise @kartheekp-ms

[2021-09-03 01:19] #11035 closed, assigned to kartheekp-ms

[2021-09-03 01:21] nkolev92 commented on #11036
Not relevant anymore, now that fully specified is the default.

Feel free to reopen this and the corresponding epic issue if you think otherwise @kartheekp-ms & @erdembayar

[2021-09-03 01:21] #11036 closed, assigned to nobody

[2021-09-03 01:21] nkolev92 commented on #10728
This is complete!

[2021-09-03 01:21] #10728 closed, assigned to erdembayar

[2021-09-03 01:24] nkolev92 commented on #11038
Moved this to the next sprint.

I would prioritize these tasks for the next sprint @kartheekp-ms

[2021-09-03 02:10] KirillOsenkov commented on #10696
This is the public API that we'll want you to use once it's available:
https://github.com/dotnet/msbuild/pull/6803

[2021-09-03 03:12] #11065 closed, assigned to dc7497-1576912

[2021-09-03 03:12] #11063 closed, assigned to dc7497-1576912

[2021-09-03 03:13] #11064 closed, assigned to dc7497-1576912

[2021-09-03 09:37] Stefan75 commented on #6764
Hello,

my team is very interested in this whole topic. I searched related to this topic and I am now confused.

In a prototype I used following solution:
[CentralPackageVersions](https://github.com/microsoft/MSBuildSdks/tree/main/src/CentralPackageVersions)

Which looks like:

Packages.props
[code]
and a csproj file like
[code]

The solution described in this issue looks different.
(e.g. Director

[2021-09-03 16:56] #11211 closed, assigned to nkolev92

[2021-09-03 17:50] nkolev92 commented on #11182
Added an estimate for planning purposes.

I think it should be a reasonable one (likely 1, but just in case :) )

[2021-09-03 18:00] nkolev92 commented on #11140
Do you know if this needs any product changes @erdembayar?

Assigning to @kartheekp-ms for now, but it is my understanding that it works as expected.

[2021-09-03 18:12] airbreather commented on #6673
I just hit something today that reminded me of this issue.

I've been called over to help migrate an ASP.NET Core web application from 2.1 to 5.0.  I wanted to first upgrade all the dependencies to the latest versions that `netcoreapp2.1` can reference (most notably, EF Core to 3.1) so that the final switchover from 2.1 to 5.0 will be a more manageable size for the reviewers.

Well, much to my sur

[2021-09-03 18:50] erdembayar commented on #11140
Most likely it doesn't need any change, just need to add unit test to assert it works.

[2021-09-03 19:57] nkolev92 commented on #11140
Tests were added in https://github.com/NuGet/NuGet.Client/pull/4225/files.

@kartheekp-ms Closing for now, but please double check!

Thanks!

[2021-09-03 19:57] #11140 closed, assigned to kartheekp-ms

[2021-09-03 20:01] nkolev92 commented on #11038
Epics shouldn't have estimates themselves, but rather add up from the issues owned by it.

[2021-09-03 20:02] nkolev92 commented on #11038
@kartheekp-ms What is leftover here?

I tweaked in order to make planning obvious. Adding back the estimate.

[2021-09-03 20:15] kartheekp-ms opened #11216 "Rename types/variables in the product/test code to reflect new name for package namespaces feature"
As a follow up for https://github.com/NuGet/Home/issues/11205 issue and https://github.com/NuGet/NuGet.Client/pull/4234#pullrequestreview-743329652 comment, we must rename types/variables to reflect package source mapping instead of package namespaces.

[2021-09-03 20:16] nkolev92 commented on #11216
Don't want it to show in the release notes, so marked it as a bug.

[2021-09-03 20:21] kartheekp-ms commented on #11140
You are correct @nkolev92 tests for `dotnet add package -sourceUri` were already added in the PR you have linked above.

https://github.com/NuGet/NuGet.Client/pull/4225/files#diff-ffa6ee0891a89544eaa7d4279a6b5cfd948aa6e26ba7cc7d0b28319d9473c715R354

https://github.com/NuGet/NuGet.Client/pull/4225/files#diff-ffa6ee0891a89544eaa7d4279a6b5cfd948aa6e26ba7cc7d0b28319d9473c715R420

[2021-09-03 20:27] kartheekp-ms commented on #11038
Made some progress on this task: Added couple of tests for PMC Install/Update package scenarios for source mapping feature https://github.com/NuGet/NuGet.Client/tree/dev-kartheekp-ms-pmc-tests-pr-namespaces

I will create PR's next sprint.

[2021-09-03 20:42] nkolev92 commented on #11038
Please note that @erdembayar has a task about PMC tests in https://github.com/NuGet/Home/issues/11187.

Can you please consolidate and ensure that you're both not doing the same work/have dup issues?

Thanks!

[2021-09-03 22:45] nkolev92 commented on #7931
This is something that'll be done in the next major version of NuGet.

[2021-09-03 22:59] erdembayar commented on #11158
https://github.com/dotnet/msbuild/issues/6799

[2021-09-04 00:39] #11208 closed, assigned to nkolev92

[2021-09-04 00:39] #11201 closed, assigned to nkolev92

[2021-09-05 09:57] MichaelKetting commented on #3676
I just learned that the originally documented behavior regarding source ordering was invalidated in 2019 after I spent some time hunting down the reason why my process with prioritized nuget sources no longer works.

My use case is that I have different package configurations uploaded on nuget.org and private feeds (e.g. release/debug and packages with symbols includes and in separate packages) an

[2021-09-06 09:51] v-luzh opened #11218 "[Bug]: Uninstall NuGet Client command doesn’t work"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

Dev\6.0.0.232

### Worked before?

_No response_

### Impact

Other

### Repro Steps & Context

## Details about Problem
VS Version: Main\31705.22
NuGet Version: Dev\6.0.0.232
OS Version: Windows-10-Enterprise-21H1

## Repro steps
1. Install VS Main\31705.22 from https://devdiv.visualstudio.com/DevDiv/_build/results?

[2021-09-07 04:36] planetarian commented on #6408
This is still happening in 16.11.1 while I'm doing EFCore migrations. It switches to Error List after every executed command.

[2021-09-07 06:45] TomArrow commented on #10821
Happened to me again today. Can you please give me instructions on how to provide a verbose output to you or something? This is intolerable. I don't understand how you can say it's not possible to change the software so that it doesn't saturate my hard drive connection to the point of freezing the hard drive. No other software does this, yet reproducibly NuGet does.

[2021-09-07 09:57] v-luzh commented on #11171
Workaround: add below steps after finishing every test case on Linux
[code]

[2021-09-07 13:44] TomArrow commented on #10821
After making my last post, I tried one more time to install a package in the project ... it froze my hard drive and entire computer to the point it remained frozen until now. 7 hours. I don't think it will unfreeze. I will likely have to restart my PC and lose all my work and pending writes to that drive.

"It's a feature, not a bug."

Never happened to me with any other software, but somehow alwa

[2021-09-07 14:24] Stefan75 commented on #6764
Hello,

is there already a way to ensure that _all_ packages are inserted into the Directory.Packages.props file?
(also the transitive dependencies)

Our company has strict rules that we must follow for external dependencies.
Every dependency must be clarified and well documented in every sw release.

It is very important to know all used dependencies and their version.

With best regards,
stefan

[2021-09-07 15:21] bddckr commented on #6764
@Stefan75 `Microsoft.Build.CentralPackageVersions` linked above offers enforcement: https://github.com/microsoft/MSBuildSdks/tree/main/src/CentralPackageVersions#enforcement

Not sure on the NuGet feature discussed here.

[2021-09-07 16:46] heng-liu commented on #11171
Great! Thanks @v-luzh !

[2021-09-07 17:39] aortiz-msft commented on #11171
@v-luzh - Are we okay with closing this issue? Not sure what's the next step here.

[2021-09-07 18:47] #11191 closed, assigned to MattGal

[2021-09-07 19:14] aortiz-msft commented on #10921
@jebriede - Any chance we can get this one done in 2021-09?

[2021-09-07 19:44] zkat opened #11219 "Finish compliance pass"

[2021-09-07 19:50] erdembayar commented on #11169
@donnie-msft  @aortiz-msft
Maybe we can make this one not P1, because when I manually test this specific case it didn't work with dotnet sdk 5 and 3, so it's not really regression. So I changed to P2 and I already have 2PRs related to this. I need reviews.
https://github.com/NuGet/NuGet.Client/pull/4247
https://github.com/NuGet/NuGet.Client/pull/4240

[2021-09-07 19:57] zkat opened #11220 "Explore integrating Nugetizer"
Nugetizer is really great. Can we just slurp it up into NuGet without breaking everyone forever? It's such a better pack experience and I don't think it makes sense for us to reinvent the wheel here.

This issue is more of a todo/learning thing for myself to make sure I understand Nugetizer, and maybe have some conversations about what integration might look like, not really a commitment to do so

[2021-09-07 20:42] dominoFire commented on #10463
Lowering to P3 since you can debug if you debug NuGet from source code and required PDB-converter tools don't work for our use case

[2021-09-07 21:31] #11139 closed, assigned to drewgillies

[2021-09-07 21:31] aortiz-msft commented on #11139
Fixed in VS 2022 Preview 4; NET 6.0 RC1.

[2021-09-07 21:33] dominoFire commented on #11195
It appears localized in spanish in Recent Bug:

![image.png](https://images.zenhubusercontent.com/5cac0ec5e63284773bff5eb7/d6dc38fa-441b-4813-9865-4336605ed33c)

[2021-09-07 21:53] dominoFire commented on #11195
This commit contains all localized strings for tooltip:

https://github.com/NuGet/NuGet.Build.Localization/commit/f904c2ce603a69015081ef2feb0bc24513f37d62#diff-2a68c6ea49bcdf3c33c527be451b06e7efa6e5ce2904bcc3d6d3855a8d3b4e08

[2021-09-07 21:56] dominoFire commented on #11195
Localized string resource is: https://github.com/NuGet/NuGet.Build.Localization/blob/e7189fde81534ca4dc50e96958db082ac313964c/localize/FRA/15/NuGet.PackageManagement.UI.dll.lcl#L1720

I will close the issue since all localized strings are present in all 13 languages.

[2021-09-07 21:56] #11195 closed, assigned to dominoFire

[2021-09-07 22:11] dominoFire commented on #11194
Details pane appears localized:

![image.png](https://images.zenhubusercontent.com/5cac0ec5e63284773bff5eb7/47838973-2c95-44a6-ae94-7609f70421a9)

Tooltip in PM UI tabs appears unlocalized

![image.png](https://images.zenhubusercontent.com/5cac0ec5e63284773bff5eb7/dc21b618-6215-4f6b-9ea2-2ad9ed60d628)

[2021-09-07 22:28] dominoFire commented on #11194
Corresponding String resource Label_Installed_VulnerableAndDeprecatedWarning is localized:

https://github.com/NuGet/NuGet.Build.Localization/blob/e7189fde81534ca4dc50e96958db082ac313964c/localize/FRA/15/NuGet.PackageManagement.UI.dll.lcl#L1628

It was merged 4 days ago, at the time of this comment.

[2021-09-07 22:31] kartheekp-ms commented on #11182
Load balancing this issue with @erdembayar.

[2021-09-07 22:47] kartheekp-ms commented on #11038
@erdembayar here is the progress made on this issue so far.
- [x] dotnet add package tests including `RestoreSources` and `-SourceUri` https://github.com/NuGet/NuGet.Client/pull/4225
- [ ] PMC tests - added one install and one update PMC test in https://github.com/NuGet/NuGet.Client/tree/dev-kartheekp-ms-pmc-tests-pr-namespaces - The new 2 tests passed on CI. As Nikolche mentioned above, you can c

[2021-09-07 23:20] skofman1 commented on #10996
Hi @dominoFire , looked at the cool demo of the feature (this is so useful!), and I have a minor suggestion.

For packages where the version of the 'Alternative package' isn't specified, right now we show 'Azure.Storage.Blobs >= 0.0.0'. How about:
1. Just the package name with no version
2. Showing 'Azure.Storage.Blobs any version'

What do you think? Again, it's minor but the current UX is a bit

[2021-09-08 01:13] v-luzh commented on #11171
Hey,@aortiz-msft, I'm closing this bug as External.

[2021-09-08 01:13] #11171 closed, assigned to heng-liu

[2021-09-08 01:41] TomArrow commented on #10821
Yup, had to restart. Completely broke the system...

[2021-09-08 02:09] zivkan opened #11221 "E2E tests with content specific packages need to be fixed"
Consider the "project retargeting" tests. They work by creating a .NET 4.0 project, installing a package that has different assets for net40 and net40-client, then retargeting the project to .NET 4.0 with a client profile. However, the VS2022 installer no longer has an option to install the .NET 4.0 Targeting Pack. Therefore, it's not easy to run these tests as is on our testing infrastructure.

T

[2021-09-08 08:28] lazy8 commented on #10389
Hello everyone, what's the status on this issue?

The "NeedsTriageDiscussion" tag was added and then removed again, but I don't see any kind of discussion or outcome, or any kind of activity at all, aside from people who just need the feature CPVM to be working again.

There is a PR that fixes this issue (NuGet/NuGet.Client#4025), and it's assigned to @nkolev92, but he was unassigned here. What do

[2021-09-08 08:28] Evangelink commented on #7707
Telerik is recommending this syntax to access their nuget feed (see https://docs.telerik.com/aspnet-core/installation/nuget-install#setup-with-nuget-cli) which results in the error mentioned here.

[2021-09-08 14:56] Stefan75 commented on #6764
Both solutions provide enforcement in some way.
My understanding is that both solutions share the idea that the centrally managed version cannot be changed locally in a project.

The question for me now is:
Is it possible to enforce that the versions of _all_ dependencies are defined centrally?
(especially the transitive dependencies that are not part of any project file).

I found the following l

[2021-09-08 15:33] bddckr commented on #6764
Transitive package version management was a feature in NuGet, but has since been removed, see #10389. The MSBuild SDK doesn't offer this feature, it depends on NuGet itself: https://github.com/microsoft/MSBuildSdks/issues/283

So right now, as far as I know, there is _no_ way to define transitive package dependency versions without manually adding them as direct versions (and then somehow checking

[2021-09-08 16:43] jeffkl opened #11222 "[Bug]: Very slow restore when using NoWarn in single project that has lots of dependents"
### NuGet Product Used

MSBuild.exe

### Product Version

16.11

### Worked before?

_No response_

### Impact

I'm unable to use this version

### Repro Steps & Context

When you have a large project tree with lots of transitive project references and packages, the calculation transitive NoWarn values takes forever.  This code is attempting to search through transitive references:

https://github

[2021-09-08 18:15] aortiz-msft commented on #10996
@chgill-MSFT ^

[2021-09-08 20:08] aaronla-ms commented on #6764
@bddckr be aware, even with lock files, the msbuild sdk will download additional versions of some nuget packages without telling you and without appearing in the lock file. It's possible to consume such assets from your build without being flagged by the lock file. This can happen for indirect references, if more than one version is indirectly referenced.

To avoid this, you need to direct referen

[2021-09-08 23:21] Nothing0001 commented on #11220
3BR9YNN2M2GQ8AXUZZBR4N2XY6KCG2DGZM

[2021-09-09 06:08] heng-liu commented on #11209
I could repro with the above steps.
Looks like package reference doesn't support -DependencyVersion according to https://github.com/NuGet/Home/issues/8329

[2021-09-09 06:37] dominoFire commented on #10996
@skofman1 @aortiz-msft @chgill-MSFT Thanks for the follow-up. We have a current discussion in the following issue:

https://github.com/NuGet/Home/issues/8795

I think we should match the experience in nuget.org

[2021-09-09 12:51] zivkan opened #11223 "E2E tests that assert web.config binding redirects need to be fixed"
While testing E2E tests on new infrastrcture, the tests that validate binding redirects in ASP.NET project web.config files are not working. Due to time constraints, these tests are being skipped for now, but need to be fixed.

[2021-09-09 13:46] Redth opened #11226 "[Bug]: Corrupt package cache downloads result in error when reading nupkg: 'Number of entries expected in End of Central Directory..."
### NuGet Product Used

dotnet.exe

### Product Version

NuGet.* .NET Libraries API/Client - 5.10.0

### Worked before?

Unsure

### Impact

Other

### Repro Steps & Context

There is an intermittent problem with corrupt package (nupkg/zip) downloads in the package cache where invoking some of the NuGet Client API's from the .NET Libraries on NuGet results in an error:

[code]

I've observed this

[2021-09-09 14:58] chgill-MSFT commented on #10996
@dominoFire IMO we should just open the package details window to the default version given their search preferences.

If they have `Include prerelease` enabled, then show the latest stable/prerelease version. If they have `Include prerelease` disabled, then show the latest stable version.

This is already how browse works in the PMUI today in normal search scenarios. NuGet.org works a little diff

[2021-09-09 14:59] chgill-MSFT commented on #8795
Copying my response from the closed issue:

@dominoFire IMO we should just open the package details window to the default version given their search preferences.

If they have Include prerelease enabled, then show the latest stable/prerelease version. If they have Include prerelease disabled, then show the latest stable version.

This is already how browse works in the PMUI today in normal search

[2021-09-09 15:50] omajid opened #11227 "[Bug]: ArPow build doesn't work well when in a subdirectory of an unrelated git repository"
### NuGet Product Used

dotnet.exe

### Product Version

6eafa5f12562510adf3dae0c649d4b5f955ef6f8

### Worked before?

No; this is new with ArPow

### Impact

I'm unable to use this version

### Repro Steps & Context

NuGet.Client has patches that rename `NuGet.Config` to `NuGet.config`: https://github.com/NuGet/NuGet.Client/blob/dev/eng/source-build-patches/0001-Rename-NuGet.Config-to-NuGet.confi

[2021-09-09 18:31] zkat commented on #11210
Hey there! Nice sleuthing, and thanks for taking the time to do that. It sounds like you have a solution in mind, so how about sending us a PR with your proposed patch and we can discuss further? :)

[2021-09-09 18:43] #11158 closed, assigned to erdembayar

[2021-09-09 19:54] wli3 commented on #11226
@zivkan ring a bell?

[2021-09-09 21:00] zivkan commented on #11226
This is the only other issue I can find that's a bit similar, but in this case it was files in Visual Studio's offline feed that were corrupt: https://github.com/NuGet/Home/issues/11089

Otherwise, no, I'm not aware of any other customers reporting this to NuGet directly. Seems strange that after 10 years this is becoming a problem now, but it would be good time find a plan to deal with it. Unfort

[2021-09-10 17:00] aortiz-msft commented on #11137
Fixed in Preview 4. @v-luzh - Would you please validate and let us know if you keep seeing this problem?

[2021-09-10 17:00] #11137 closed, assigned to drewgillies

[2021-09-10 17:49] erdembayar commented on #10864
Please consider https://github.com/NuGet/NuGet.Client/pull/4255#discussion_r706337586 next time.

[2021-09-10 17:57] #8162 closed, assigned to nobody

[2021-09-10 20:04] jonathanpeppers opened #11230 "[Bug]: invalid $(Version) causes poor MSBuild error message"
### NuGet Product Used

dotnet.exe

### Product Version

6.0.100-rc.1.21452.4

### Worked before?

No

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

1. `dotnet new classlib`
2. `dotnet build -p:Version=3.1.3a1`

Error message is missing an error code:

[code]

In working on settings for versions in .NET MAUI, I found that a version like `3.1.3a1` causes a failure in `N

[2021-09-10 20:46] codewisdom commented on #9188
Has there been any update on this issue? I ran into this today on Windows 10.

[2021-09-10 22:05] #11227 closed, assigned to nobody

[2021-09-10 22:09] zivkan opened #11231 "Fix E2E test NetCoreMultipleTargetFrameworksVSandMSBuildNoOp"
On the new infrastructure (Dartlab), this is failing (the command line restore is not a no-op).

I can't figure out why at the moment, so due to time constraints I'm skipping the test.

[2021-09-10 23:12] zivkan commented on #9188
@meurig I don't remember seeing this issue a year and a half ago. Sorry 😞

NuGet used to tell the .NET Frameworks' ServicePointManager which TLS levels it wanted, but some time in the last year or two we stopped, now using the .NET runtime's default settings (this is the recommendation by the .NET runtime team). However, I'm not aware of any .NET API to configure specific ciphers used by the HttpC

[2021-09-11 12:38] erdembayar commented on #11202
@fuocor
I was not able to repro this issue, for me it restore finished successfully after some waiting.
Please note if required packages are already in your global packages cache then it may not try to connect authenticated source feed?
Could you tell me which cred provider are you using?
Could you be able to provide log from `dotnet restore --interactive  --verbosity detailed`?

[2021-09-11 16:57] drdamour commented on #7198
@nkolev92 don't agree with the assessment that it's a small amount of use cases, anyone coming from maven/java has been relying on this type of behaviour with -SNAPSHOT for the last decade.  Any time you are working with a shared library and making mods on it that you want to immediately use on your main project this type of flow is vital to rapid dev.

[2021-09-12 11:11] RayKoopa commented on #5556
Still waiting for this one feature to finally make `ProjectReference` useful.

[2021-09-13 07:47] VandoorenAscanio commented on #3433
just install version 7.1.4
https://www.nuget.org/packages/System.Management.Automation/7.1.4

[2021-09-13 17:19] jonpryor commented on #11230
If you need a way to verify that an MSBuild property is a valid `System.Version`-parseable value, use this One Weird Trick: https://gist.github.com/jonpryor/5d4a58216f8e7e7e49f52651d9bb018b

[code]

[2021-09-13 17:39] #11169 closed, assigned to erdembayar

[2021-09-13 17:43] erdembayar commented on #11169
Since this was must fix issue changing back to P1.

[2021-09-13 18:26] erdembayar commented on #10864
@aortiz-msft @chgill-MSFT @dominoFire @donnie-msft
As part of PR https://github.com/NuGet/NuGet.Client/pull/4255 we 're getting this fix with localization. Now people in USA getting `1B`, but people in other side of world still wants `1G`. Do I need to request localization team to add translation or it happen automatically as part of workflow?

Previous experience on PMUI:
![image](https://user-im

[2021-09-13 18:56] dominoFire commented on #10864
@erdembayar  Loc team will pick up loc changes automatically

[2021-09-13 21:16] vcsjones opened #11232 "[Feature]: Support ECDSA certificates for package signing"
### NuGet Product(s) Involved

NuGet.exe, dotnet.exe

### The Elevator Pitch

Currently, nuget package signing is limited to RSA signing. Attempting to sign with an ECDSA certificate results in:

ECDSA signatures are smaller, more secure, and generally regarded as an improvement over RSA.

### Additional Context and Details

Windows Authenticode and many, many other signing specifications have sup

[2021-09-13 22:00] vcsjones commented on #11232
I took a look through the package signing code and I don't think adding ECDSA would be difficult and would be happy to do so myself. (It's a considerable amount of work, but it isn't especially difficult just to get ECDSA working in the CMS).

What would be difficult is I think this would mean revving the package signing version. Currently there is only one version. Older clients would not underst

[2021-09-14 00:37] #8800 closed, assigned to erdembayar

[2021-09-14 00:37] #10864 closed, assigned to erdembayar

[2021-09-14 13:38] blowdart commented on #11232
One other thing to consider is that the [PIV standard](https://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-78-4.pdf) only specifies support for 2048 keys, or ECDSA keys. The standard for code signing certificates increased the RSA key size to 3096. So right now, to support nuget signing, you cannot store the private key on a Yubikey or other portable hardware device using the PIV sta

[2021-09-14 23:14] dtivel commented on #11099
A future release (TBD) will have an opt-in ability to retry X.509 chain building when the failure is "untrusted root."  Details are in the [PR description](https://github.com/NuGet/NuGet.Client/pull/4259#issue-7318389620).

When the change is available in .NET, I'll post the release.

[2021-09-15 01:38] dominoFire commented on #11194
A new version was inserted. @v-longmin would you please take another look? Thanks!

[2021-09-15 05:34] chm-tm commented on #7084
One more note about @pamidur's [workaround](https://github.com/NuGet/Home/issues/7084#issuecomment-418655374). I didn't want the consumers needing to do that, so I included it in the `.targets` file of my NuGet.
However, this isn't supported. It causes an error when attempting to update the NuGet, since it tries to touch those lines, which isn't allowed for included projects in MSBuild.

[2021-09-15 08:58] andyfisher100 commented on #11099
@dtivel Hey, do you have any idea when this will be available in a preview version of NuGet.exe? id like to try the fix in our Azure DevOps Pipelines. Understand that its inclusion in .net may take a little longer

[2021-09-15 13:52] Stefan75 commented on #6764
@aaronla-ms  is nuget responsible to download with/for the msbuild sdk addtional versions of some nuget packages?

hm.

Stimulated by the last posts, I ask myself the following questions:
1. How can we create a reliable and trustful list of all consumed packages?
   (e.g. for an audit where we have to ensure that only legal packages are used)

2. Is it possible to derive all licenses from this lis

[2021-09-15 14:03] tg73 commented on #6764
@Stefan75 The problem domain of package licensing and compliance can also be addressed at the nuget feed level. For example, Inedo ProGet has baked-in support for filtering external feeds by license. Managing your own feeds would also allow you to control precisely which packages may be consumed by your projects.

I'm not affiliated with ProGet in any way, it's just a product I use. There may well

[2021-09-15 14:44] Stefan75 commented on #6764
@tg73
Thanks for this comment. It seems that we are also planning to create an internal feed (AFAIK artifactory based) :)

By the usage of an own feed and by controlling the content of  it we can ensure that just desired licenses are used (globally).
But as long as we would use one feed across all versions of our product we still have to create project-version specific reports.

Example:
Project V

[2021-09-15 17:05] #11204 closed, assigned to donnie-msft

[2021-09-15 17:29] aaronla-ms commented on #6764
@Stefan75 I want to second @tg73 as well. Solving it in nuget/msbuild is just untenable at this point, but I forgot about solving it with a custom feed. If you configure nuget to use your custom feed and _only_ your custom feed (and you disable [the nuget fallback folder](https://github.com/dotnet/reproducible-builds/blob/main/Documentation/Reproducible-MSBuild/Techniques/DisableImplicitNuGetFallb

[2021-09-15 17:57] tg73 commented on #6764
Further to @aaronla-ms - you can also perform project restore with arguments that disable cache use and specify the source to be used (see here for [msbuild restore target](https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#restore-properties), [dotnet cli](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-restore?tabs=netcore2x), [nuget.exe](https://docs.microsoft.com/en-us/

[2021-09-15 18:39] dtivel commented on #11099
We're currently targeting VS 17.0 Preview 5 release for this fix.  (A preview release of NuGet.exe should be available around the same time.)

[2021-09-15 22:06] jeffkl opened #11234 "[Bug]: Packing a NUSPEC results in different behavior depending on the type of slash used"
### NuGet Product Used

NuGet.exe

### Product Version

All

### Worked before?

_No response_

### Impact

_No response_

### Repro Steps & Context

With the following directory structure:

[code]

You will get different behavior with these two nuspecs:
## Back slash

.nuspec
[code]
Result:
[code]

## Forward slash

.nuspec
[code]
Result:
[code]

This was regressed here: https://github.com/NuGet/

[2021-09-15 23:22] dominoFire commented on #8414
Dupe: https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workitems/edit/1384085

[2021-09-16 00:39] erdembayar opened #11235 "[Bug]: PMC source dropdown selection doesn't show correctly for sources with special characters such as "encyclopædia" to be selected"
### NuGet Product Used

Visual Studio Package Manager Console

### Product Version

n/a

### Worked before?

n/a

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

Follow up on [comment](https://github.com/NuGet/NuGet.Client/pull/4264/files#r708697299)
PMC doesn't show difference between `encyclopaedia` on `encyclopædia` on when selecting sources, but it does list both ver

[2021-09-16 03:24] erdembayar opened #11236 "[Bug]: With Package source mapping package get installed from not active source on PMUI for PR project"
### NuGet Product Used

Visual Studio Package Management UI

### Product Version

n/a

### Worked before?

n/a

### Impact

It bothers me. A fix would be nice

### Repro Steps & Context

I discovered this playing with localization. As you can see on video Contoso.MVC.ASP get installed from "encyclopaedia" repository even though that package was mapped to "encyclopædia".

![2](https://user-images.g

[2021-09-16 04:03] erdembayar commented on #11236
Tested with wrong version.

[2021-09-16 14:15] ilya-git opened #11238 "[Bug]: Wildcard package reference causes "NU1004: The packages lock file is inconsistent" error in in locked mode"
### NuGet Product Used

dotnet.exe

### Product Version

dotnet  5.0.401

### Worked before?

No

### Impact

It's more difficult to complete my work

### Repro Steps & Context

1. Create 2 projects in net with these csproj files (one web and a class library that references web):

[code]

[code]

2. Run `dotnet restore --force-evaluate`
3. Run `dotnet restore --locked-mode`
4. Error happens:

###

[2021-09-16 14:55] jzabroski commented on #9660
Found this issue via https://developercommunity.visualstudio.com/t/nuget-package-manager-ui-reports-you-have-1-deprec/957820?viewtype=solutions and through https://developercommunity.visualstudio.com/t/nuget-package-manager-doesnt-indicate-that-a-packa/539006

I do not have any deprecated packages listed under the Installed tab, despite a yellow warning triangle saying so.  Initially, I thought I

[2021-09-16 15:01] jzabroski commented on #9660
I have a suspicion that this is flagging NU1605 as a "deprecated package" warning, based on reading the output of `dotnet.exe restore --verbosity diagnostic`.

I went through all the Nuget Errors and Warnings this morning, and deprecated package doesn't seem to be there.

[2021-09-16 15:12] jzabroski commented on #9660
Found it - the yellow warning icon is on the far right of the package, next to the version.  It is not in the place I would have expected.  I was looking at the status for the package, which is on the left.

@anangaur I think, when your team works on this issue, it would be great if they handle the scenario where the package is both the latest stable and also deprecated.  See this scenario with pa

[2021-09-16 15:30] erdembayar commented on #11236
@kartheekp-ms @aortiz-msft
It looks minor bug, in quick glimpse I tried to fix, but couldn't find where is the issue.

[2021-09-16 15:35] anangaur commented on #9660
/cc: @chgill-MSFT

[2021-09-16 15:46] jeffkl commented on #11125
Thanks for reporting this, I'm going to revert the change that caused this regression and we've added a test to catch it if it ever happens again.

https://github.com/NuGet/NuGet.Client/pull/4270

[2021-09-16 15:48] kartheekp-ms commented on #11236
Can you please provide the exact repro steps? The reason is if the settings are modified after the solution has been loaded then new settings may not be still effective.

[2021-09-16 16:10] erdembayar commented on #11236
@kartheekp-ms
Please watch above gif video for repro steps. Settings file was not modified after loading.
[11182.zip](https://github.com/NuGet/Home/files/7179336/11182.zip)
You can use any package name instead of Contoso.MVC.ASP from your local.

[2021-09-16 16:48] rainersigwald opened #11239 "Incorrect (windows) assemblies are copied for a Xamarin.iOS application"
---
**Issue moved from dotnet/msbuild#6072**
- Please respond to @spouliot.

---

_From @spouliot on Friday, January 22, 2021 6:29:22 PM_

### Issue Description

The `_CopyFilesMarkedCopyLocal` task from `msbuild` incorrectly gives us the win-specific assemblies to copy. This makes the build fail at a later stage.

[code]

More details at https://github.com/xamarin/xamarin-macios/issues/10337
A si

[2021-09-16 16:48] rainersigwald commented on #11239
---
**Issue moved from dotnet/msbuild#6072**
- Please respond to @DmitryLukyanov.

---

_From @DmitryLukyanov on Monday, February 1, 2021 8:00:12 PM_

Hey, is there a raw estimation of when this issue can be triaged?

[2021-09-16 16:48] rainersigwald commented on #11239
---
**Issue moved from dotnet/msbuild#6072**
- Please respond to @nkolev92.

---

_From @nkolev92 on Thursday, February 4, 2021 2:17:37 AM_

Not sure, can someone please attach an assets file?

[2021-09-16 16:48] rainersigwald commented on #11239
---
**Issue moved from dotnet/msbuild#6072**
- Please respond to @DmitryLukyanov.

---

_From @DmitryLukyanov on Thursday, February 4, 2021 12:50:20 PM_

[assets.zip](https://github.com/dotnet/msbuild/files/5925749/assets.zip)
`project.assets.json` for a regular console app (with netcoreapp31) on mac is almost the same as on windows with the difference in paths and target frameworks (on windows: n

[2021-09-16 16:48] rainersigwald commented on #11239
---
**Issue moved from dotnet/msbuild#6072**
- Please respond to @mrward.

---

_From @mrward on Thursday, February 4, 2021 1:02:28 PM_

I believe this is a mono/msbuild problem. The msbuild restore adds win runtimes to the project.assets.json file incorrectly. Looking at the assets.zip file in the comment above you can see the win runtimes added at the end of the file on the mac, but not on Windo

[2021-09-16 16:48] rainersigwald commented on #11239
---
**Issue moved from dotnet/msbuild#6072**
- Please respond to @neminush.

---

_From @neminush on Wednesday, March 17, 2021 11:09:06 AM_

I ran into a similar to this problem [macOS/iOS can't build x86/x64 when NuGet has runtimes](https://github.com/xamarin/xamarin-macios/issues/5265) with Visual Studio for Mac 8.9.2 (build 0) and early versions.

/Users/Neocriss/Documents/iLive.Mobile/ILive/IL

[2021-09-16 16:48] rainersigwald commented on #11239
---
**Issue moved from dotnet/msbuild#6072**
- Please respond to @DmitryLukyanov.

---

_From @DmitryLukyanov on Tuesday, March 23, 2021 9:19:03 PM_

it helps for me too

[2021-09-16 16:48] rainersigwald commented on #11239
---
**Issue moved from dotnet/msbuild#6072**
- Please respond to @Tyri0n.

---

_From @Tyri0n on Thursday, May 6, 2021 12:49:51 PM_

fixed for me too - many thanks @neminush

[2021-09-16 16:48] rainersigwald commented on #11239
---
**Issue moved from dotnet/msbuild#6072**
- Please respond to @rainersigwald.

---

_From @rainersigwald on Thursday, September 16, 2021 4:47:54 PM_

Based on the above, this is a NuGet restore issue.

[2021-09-16 18:02] chgill-MSFT commented on #6867
Hi y'all! Package Source Mapping (previously Package Namespaces) is available to try out in preview! Check out the blog to learn more: https://devblogs.microsoft.com/nuget/introducing-package-source-mapping/

[2021-09-16 18:04] chgill-MSFT commented on #9752
Hey, can this issue be closed since you're an FTE now @advay26? 😁

[2021-09-16 18:08] akilhoffer opened #11240 "All restores fail with NU3037: "The repository countersignature validity period has expired""
I'm unable to perform a restore on any of our .Net projects. I receive NU3037: error that states "The repository countersignature validity period has expired".

Full error details:

/Users/x/code/xx/Data/xxxx.csproj : warning NU3028: Package 'System.Runtime.CompilerServices.Unsafe 4.5.2' from source 'https://api.nuget.org/v3/index.json': The repository countersignature's timestamp found a chain bu