[2019-06-28 23:39] nkolev92 commented on #8268
We should probably branch at this point.

There is no more M2 code flow for 5.2

[2019-06-28 23:46] nkolev92 commented on #6824
Fixed in https://github.com/NuGet/NuGet.Client/pull/2889.

Duplicate of https://github.com/NuGet/Home/issues/8235

[2019-06-28 23:46] #6824 closed, assigned to nobody

[2019-06-28 23:49] nkolev92 commented on #6714
@dtivel

Any chance you still have the info for this issue?

[2019-06-29 04:27] kzu commented on #6609
Hm... we recently had to add a `nuget restore [sln]` (which works great) just because `msbuild /t:restore [sln]` didn't (in AzDO/DevDiv).

[2019-06-30 20:54] Atulin commented on #3738
I came from 2019 to ask for this issue to be reopened

[2019-06-30 21:36] dtivel opened #8284 "Test: flaky package signing tests"
A few package signing functional tests are flaky:
[code]
Examples:

      NuGet.Packaging.FuncTest.SignatureTrustAndValidityVerificationProviderTests.VerifySignaturesAsync_WithExpiredPrimarySignature_ValidCountersignature_AndPrimarySignatureValidAtCountersignTime_SucceedsAsync [FAIL]
        Expected True, but found False.
        Stack Trace:
             at FluentAssertions.Execution.XUnit2TestF

[2019-07-01 11:19] ashigput opened #8285 "Old bond incompatibility issue. While building bond rpc I am getting error."
healthtypeforstoragemypersonal_types.h(24): fatal
       error C1189: #error:  This file was generated by an older Bond compiler which is incompatible with current Bond library. Please regenerate with the latest Bond compiler.

[2019-07-01 11:39] DrPepperBianco commented on #6548
Hey,

I have the exact same problem. The case is set to "Closed", but I didn't find the answer here.

Neither "files" nor "contentFiles" are copied to the project, if it is referenced.

So what is the solution then?

[2019-07-01 13:37] aolszowka commented on #8272
@nkolev92 We don't use any SDK Based projects at this time. Beyond that, is there something we can do to assist in debugging?

Thank you

[2019-07-01 15:42] TFTomSun commented on #6045
To all who don't want to modify their nuget.config. Here's my current approach, until we have full support in MSBuild for that. The feed address and the credentials come from environment variables. I wrote a little tool that allows me to toggle the environment variables if i want to change the current private feed.

[code]

[2019-07-01 18:02] zivkan opened #8286 "Branch release-5.2 and increment dev branch version to 5.3"

[2019-07-01 19:10] #8284 closed, assigned to dtivel

[2019-07-01 19:55] nkolev92 commented on #8272
@aolszowka

Thanks, I think we have everything.

I can repro the bug, and I have verified and it does not repro on SDK based projects, only in the classic csproj projects.

[2019-07-01 20:35] #8286 closed, assigned to zivkan

[2019-07-01 20:37] #8036 closed, assigned to zivkan

[2019-07-01 20:38] #8035 closed, assigned to zivkan

[2019-07-01 21:14] nkolev92 commented on #7845
Hey, @shubham90 I'm closing this as fixed for now.

Happy to reopen if you still see issues though.

[2019-07-01 21:14] #7845 closed, assigned to nkolev92

[2019-07-01 21:18] nkolev92 commented on #7341
At this point, I will close this issue as fixed.
If you still hit problems, let us know and we'll be happy to investigate.

[2019-07-01 21:18] #7341 closed, assigned to nkolev92

[2019-07-01 21:19] nkolev92 commented on #7462
The first part is fixed, the 2nd part is not.

[2019-07-01 21:22] nkolev92 commented on #8139
@dominoFire

I think this work is done, can you please close it if so?

[2019-07-01 21:26] nkolev92 commented on #7802
It's possible that other work in this space fixed this issue.
The bug would've been fixed during the current release.

@heng-liu can you verify please.

[2019-07-01 21:29] nkolev92 commented on #7571
Closing per the above comment.

[2019-07-01 21:29] #7571 closed, assigned to nobody

[2019-07-01 21:29] nkolev92 commented on #7709
We might need this in 3.1, but there's no exact plans yet.

[2019-07-01 21:36] nkolev92 commented on #6823
We have not done work for this in a while.

@dsplaisted If this is a pressing issue, please let us know so we can re-prioritize.

[2019-07-01 21:58] bergbria opened #8287 "Lock files prevent publishing when <RuntimeIdentifiers> is set"
## Details about Problem
dotnet.exe --version (if appropriate): 2.2.300 and 3.0.100-preview5-011568

## Automated repro
Download/unzip [restore_multi_RID_repro.zip](https://github.com/NuGet/Home/files/3347434/restore_multi_RID_repro.zip) and run repro.bat

## Detailed repro steps so we can see the same problem

1. Create a csproj with multiple RIDs specified in ````<RuntimeIdentifiers>````  (e.g.

[2019-07-01 22:19] SimonCropp commented on #7802
@nkolev92 what current release do you mean ? I am running the current sdk 2.2.300 and still get the issue

[2019-07-01 22:28] nkolev92 commented on #8287
Since packages can contain architecture and platform specific assemblies, rids affect restore and the packages downloaded.
https://docs.microsoft.com/en-us/nuget/create-packages/supporting-multiple-target-frameworks#architecture-specific-folders
Each rid/tfm combination needs to go through the asset selection/dependency resolution process.

The self contained publish is effectively changing the re

[2019-07-01 22:28] nkolev92 commented on #7802
By current release, I'm referring to the one actively under development, so that's 2.2.400.
Specifically the root cause could be the same as https://github.com/NuGet/Home/issues/8154.

[2019-07-01 22:28] SimonCropp commented on #7802
on a side note, it would be better if the `catch` that writes that error gave the full stack trace

[2019-07-01 22:29] brmatola commented on #5358
I had a similar problem, and fixed it by adding `"dns": ["8.8.8.8"]` to the daemon.json.  When I used a shell from a running container, I could ping IP addresses, but couldn't resolve dns names.  For example, `ping 8.8.8.8`" would work just fine, but `ping google.com` would fail.  I couldn't resolve hostnames, so couldn't find `api.nuget.org` to restore nuget packages.

On further exploration, `Re

[2019-07-01 22:29] SimonCropp commented on #7802
is there a preview release that fix is included in? so i can smoke test it

[2019-07-01 22:29] nkolev92 commented on #7802
I'd imagine increasing the verbosity would give you the full stack trace.
Can you try that?

[2019-07-01 22:32] nkolev92 commented on #7802
Quickly looking at commit tags, it suggests that 2.2.400 P3 might contain it, so the preview that shipped last week.

[2019-07-01 22:33] nkolev92 commented on #8154
Yeah, the fix *should* make it in preview 7.

NuGet flows into lots of products and versions, but I *think* preview 7 of 3.0.100 is the right version.

[2019-07-01 22:40] jupaol commented on #6548
Same thing here, **files are not being copied**. If this is indeed closed, can you guys post a simple fix/workaround please.
I tried with a combinarion of `<files>` and/or `<contentFiles>` sections
Also with different folder names: _content_ and _contentFiles_
Nothing seems to work.

**Target Net Core 2.1 Class library**
**Visual Studio 2017**

**NuGet source files:**
- XYZ.Analyzers.nuspec
- cont

[2019-07-01 22:54] zivkan opened #8288 "Target VS master branch for 16.3 insertions"
New VS branching strategy starting 16.3

[2019-07-01 22:56] SimonCropp commented on #8154
i dont think dotnet list support verbosity

[code]

[2019-07-01 22:57] bergbria commented on #8287
@nkolev92 - this fails with the same error whether or not I pass --no-restore
1. dotnet restore --use-lock-file
2. dotnet publish -p:RestoreWithLockFile=true -p:RestoreLockedMode=true -r win-x64 --no-restore

[2019-07-01 22:58] #8271 closed, assigned to dtivel

[2019-07-01 23:00] SimonCropp commented on #7802
i dont think dotnet list supports verbosity

[code]

[2019-07-01 23:01] nkolev92 commented on #8287
Are you step the 2nd step fails?

That would should not trigger restore at all. So I'd imagine there's something else going wrong.

[2019-07-01 23:05] nkolev92 commented on #7802
Yeah, that's true, that totally slipped my mind :(
Neither of the dotnet add/list commands do that.

[2019-07-01 23:07] SimonCropp commented on #7802
so can we  get the full error (including stack trace) in the case of an unhandled exception. IMO that should not need changes in verbosity to see that info

[2019-07-01 23:10] nkolev92 commented on #7802
All the exceptions go through an exception logger, which can limit the verbosity, so not sure that's possible, with the current builds.

[2019-07-01 23:13] bergbria commented on #8287
@nkolev92 - yes, I'm sure. I've captured a diagnostic .binlog of the failed build and am attaching it here. (Note that I had to change the extension to .zip to make github happy, You'll want to rename before opening). [publish_multiRID.zip](https://github.com/NuGet/Home/files/3347620/publish_multiRID.zip)

It's specifically failing in the ResolvePackageAssets target, which is run due to ResolveLoc

[2019-07-01 23:21] nkolev92 commented on #8287
Due to legacy reasons the ResolveLockFileReferences target actually refers to the assets file.

So as expected the restore operaton itself is not running, however the SDK error seems weird.
Not sure why that would be happening.

Does dotnet build --no-restore work?

[2019-07-01 23:32] bergbria commented on #8287
It works if I run restore first; else not.

[2019-07-01 23:36] nkolev92 commented on #8287
oh, my bad, that was unclear.

So you have to run 1 full restore with all the rids and then just publish for each rid individually.

[2019-07-02 00:02] nkolev92 opened #8289 "Best practices for lock files"
We need docs/blog on the best practices for working with lock files.

Motivated by https://github.com/NuGet/Home/issues/8287.

Incorporating self contained publish with locked mode on CIs requires some unobvious gymnastics.

This and other related tips should ideally be self contained within a blog post or the docs.

Keeping this in the NuGet/Home repo, as I believe it has higher visibility for bo

[2019-07-02 00:16] bergbria commented on #8287
Summary of behavior:

1. publish -r <thing> --no-restore
  a. "NETSDK1061: The project was restored using Microsoft.NETCore.App version 2.1.0, but with current settings, version 2.1.10 would be used instead."
  b. manifests with or without nuget lock files
2. publish -r <thing>
  a. no error without nuget lock files
  b. with nuget lock files
    1. with -p:RestoreLockedMode=true
      a. error NU

[2019-07-02 00:18] nkolev92 commented on #8287
We synced up offline and the list by Brian summarizes the challenges.

As far as #2 is, that'd be by design as far as NuGet is concerned, but it's not intuitive, so we need to increase visibility.

Related https://github.com/NuGet/Home/issues/8289

[2019-07-02 00:24] bergbria commented on #8159
@nkolev92 - this wouldn't actually impact the global packages cache.

When I run nuget install `moq -version 4.2.1502.911`, it creates the following directories:
1. <cdir>\Moq.4.2.1502.0911
2. <packagesCache>\moq\4.2.1502.911

The latter is normalized; the former is not.

Each dir contains a .nupkg. The nupkg names match the dir names. They do not match each other.

The ask here is effectively to

[2019-07-02 00:31] nkolev92 opened #8290 "PM UI changes - unify Update/Installed tab"
Currently the update/installed tabs differ in 3 ways.

1. On the installed tab, all top level dependency are displayed.  On the updates tab, only the ones that have newer versions on the selected source(s) are displayed.
1. The updates tabs has checkboxes that are used to allow a multi package update.
1. The updates label has a number that says how many packages have updates.

My proposal is to me

[2019-07-02 00:50] zivkan commented on #8285
@ashigput Perhaps you would like to try https://github.com/Microsoft/bond/issues, as I don't see how this is related to NuGet. If you get this error after using a NuGet package that has Bond files, you can use the "Contact owners" link on nuget.org when viewing the package to contact the owners and ask them to update to a newer version of Bond. The NuGet team does not support individual packages.

[2019-07-02 00:58] nkolev92 commented on #8159
Ah, ok, i thought this was a general ask.

This makes it less dangerous then.

[2019-07-02 01:04] bergbria opened #8291 "Raise NU5037 error with good doc page that explains customer fixes (The package is missing the required nuspec file)"
## Details about Problem

dotnet.exe --version: 3.0.100-preview5-011568

## Detailed repro steps so we can see the same problem

1. Create a .csproj

2. Add a PackageReference to something not bundled with the .net sdk (e.g. ````<PackageReference Include="NUnit" Version="3.12.0" />````)

3. `dotnet restore`

4. Delete the .nuspec file for the package from the packages cache (e.g. %userprofile%\.nu

[2019-07-02 01:14] anangaur commented on #8290
Would need UX study and some validation as part of customer studies. We should explore this though.

[2019-07-02 01:22] danpowell88 commented on #7699
Build log

[code]

Nuget log during that time

There are additional logs after that time also, note we dont use any kind of credentials for nuget

Not sure why it couldn't detect the sdk and then later it did or if thats related at all.

[2019-07-02 01:22] zivkan commented on #8273
I created a test project and found that the dotnet cli's msbuild works, while VS's msbuild has the error. I feel like it's probably an msbuild issue, but I want to have a better repro to share before passing it over.

[2019-07-02 06:36] sandersaares commented on #6548
As far as I can tell, this is simply not supported anymore by NuGet. I suggest you switch to NPM or a different package manager that can actually perform the complex task of delivering static files.

[2019-07-02 09:46] desjoerd commented on #7827
Hello, we are also facing this issue in combination with Azure DevOps, is there a workaround for this?

[2019-07-02 10:42] richardzaat commented on #7827
Same issue here. We have VS2017 installed, and later installed SSDT.
When running the build on our Azure DevOps private pipeline, nuget uses the SSDT MSBuild instead of the VS2017 one (enterprise). Please fix as this is now causing issues of webapplication targets not found (and more targets actually)

[2019-07-02 11:41] richardzaat commented on #7827
@maciakon Have you been able to find a workaround in the mean while? If so, please share.

[2019-07-02 12:43] DrPepperBianco commented on #6548
After playing with the problem for a while yesterday, I solved it the following way: I added to the PackageReference the new Attribute "GeneratePathProperty" like this (remarks: My problem was, that I wanted to run a PS1 script in post build):

[code]

Then an MSBuild variable with the path is generated like this: "PkgNuGet_Package". (Leading with "Pkg" then the name of the package, but "." replac

[2019-07-02 15:23] johnwc commented on #5556
Any update on this?

[2019-07-02 16:56] dtivel opened #8292 "Test: end-to-end tests sometimes fail with NuGet assembly load failures on VS launch"
The problem is that after NuGet.Tools.vsix is installed, devenv.exe.config is not updated with NuGet assembly information.  devenv.exe.config still contains assembly information from the previous version of NuGet, so Visual Studio is unable to locate and load NuGet assemblies.

[2019-07-02 17:36] nkolev92 commented on #8292
I assume this is a bug on the installer?

After a VSIX is installed, they should update the devenv.exe.config?

[2019-07-02 17:37] nkolev92 commented on #8292
Did the providecodebase changes unearth this bug?

[2019-07-02 18:11] dtivel commented on #8292
It's not clear where the bug is.  I suspect it's on the installer.  We would need to gather log files and investigate further, potentially escalating to the setup team.  If hot seat has bandwidth, now would be a good time to take a look.  @zivkan

I suspect that the ProvideCodeBase change made the bug visible.

[2019-07-02 18:34] #8288 closed, assigned to zivkan

[2019-07-02 18:49] zivkan opened #8293 "Change dev branch target to preview 2"

[2019-07-02 22:16] nkolev92 opened #8294 "The installed/updates tabs in the PM UI can share a data source"
This is a perf improvement.

Each of tabs can also have its own datasource to avoid reloading when switching across the tabs.

Related: https://github.com/NuGet/Home/issues/8283
https://github.com/NuGet/Home/issues/8290

[2019-07-02 22:22] nkolev92 commented on #8291
I would say the message needs to be improved.

It's not really a cache, there's no TTL/expiration policy.
It's an install directory, so if something gets corrupted, cleaning it out is the recommended approach.

I think the message should suggest potential corruption and suggest to the user that they should delete the install folder.

I guess this is yet another potential thumbs for something like

[2019-07-02 22:51] JarahSi opened #8295 "Rule: build.props do not match convention warning"
Ensure that the build folder contains files that follow the convention `<package_id>.props` or `<package_id>.targets`

[Spec here](https://github.com/NuGet/Engineering/blob/josi-BuildPropsConvention/Client.Specs/PackageValidation/BuildPropsConventionIsUpheld.md)

[PR](https://github.com/NuGet/NuGet.Client/pull/2982)

[2019-07-02 22:53] JarahSi opened #8296 "Rule: Package uses ref assemblies but no assemblies in ref folder"
[Spec](https://github.com/NuGet/Engineering/blob/dev-refAssemblies/Client.Specs/PackageValidation/RefAssembliesInNuspecMatchRefFolder.md)

[PR](https://github.com/NuGet/NuGet.Client/pull/2987)

[2019-07-02 22:54] JarahSi opened #8297 "Rule: dll in lib/<tfm>/ is compatible with that TFM"

[2019-07-02 22:54] JarahSi opened #8298 "NuGet verify -package, validate high quality package metadata + signatures"

[2019-07-03 10:16] bluish5 commented on #3131
What if we cannot upgrade to VS2017+?
There should be at least a way to install old packages, telling us which is the most recent package that is supported by NuGet 2.8. How could we find it by our own?...
I'm very disappointed for this customer treatment!

[2019-07-03 13:35] StingyJack commented on #8159
@nkolev92 the version number we give to our software and packages is not dangerous.

Nuget changing the value we specify is what is dangerous because it leads to unexpected and unpredictable results.

[2019-07-03 14:11] ben-tcgplayer commented on #2880
I had recently installed/uninstalled Fiddler and was getting this error and ended up having to add defaultProxy settings back to C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\Common7\IDE\devenv.exe.config
https://stackoverflow.com/questions/46500032/unable-to-load-the-service-index-for-source-https-api-nuget-org-v3-index-json?rq=1

[2019-07-03 15:07] schultetwin1 opened #8299 "Nuget.exe install does not honor requireLicenseAcceptance"
## Details about Problem

When using the command line tool nuget.exe to install nuget packages, the requiredLicenseAcceptance field in a package does not appear to do anything. No license text is ever shown.

NuGet product used: NuGet.exe

NuGet version: 5.0.2.5988

OS version: Windows 10 1903 (18362.175)

Worked before?: Not that I know of

## Detailed repro steps so we can see the same problem

[2019-07-03 15:13] bjorn-ali-goransson commented on #5995
FWIW, a restart did it for me. $user$\.nuget\packages was inaccessible, so I did a restart and built and viola. 🎻

[2019-07-03 19:22] dtivel opened #8300 "Plugin: NuGet waits full handshake timeout if plugin fails to launch or terminates early"

[2019-07-03 22:37] derek126 commented on #5762
ETA?

[2019-07-03 22:50] anangaur commented on #5762
@derek126 the functionality of outdated is available today with dotnet list package —outdated command. https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-list-package

Is this what you are looking for?

[2019-07-03 22:51] anangaur commented on #5762
@rrelyea i believe we should close this issue and open another one to track the list functionality outputting a json or other machine readable format.

[2019-07-04 03:22] rrelyea commented on #8299
Don’t believe this is a regression.
@karann

[2019-07-04 08:46] kmuthukumar23 opened #8301 "How to deprecate the nuget package in nuget.org"
I want to deprecate the nuget packages and add the tag as deprecated and provide the alternative package link on that deprecated package in nuget.org.

Can any one help me on this?

I have tried this [feed ](https://github.com/NuGet/Home/wiki/Deprecate-packages) but in my nuget.org profile does not have 'Deprecate package(s)' section.

What can i do now for deprecate the package?

[2019-07-04 09:33] kmuthukumar23 commented on #2867
Hi @anangaur

i have tried your wiki for nuget package deprecating on this [wiki ](https://github.com/NuGet/Home/wiki/Deprecate-packages). But in my nuget.prg account does not contain the 'deprecate packages' section. It only shows the following

![deprecate](https://user-images.githubusercontent.com/31958591/60656238-bf05dd80-9e6c-11e9-9a3e-50bca42b0620.png)

i have logged this as [issue](https:/

[2019-07-04 10:16] RobSwDev opened #8302 "Nuget restore on VS solution open throws exceptions"
OS version: Win 10 Enterprise (1709) 16299.1217
Visual Studio 2017 15.9.13

We recently changed our projects to the sdk-style format (excluding 3 Winforms projects). Since the change, Nuget restore throws several exceptions when opening the solution.
(I understand that Nuget restore is called automatically when the solution opens if you have sdk-style projects)

Error occurred while restoring NuGe

[2019-07-04 13:14] anangaur commented on #8301
The feature is not yet live. But the good news is it will be, soon. We will announce the availability when this happens.

[2019-07-04 13:14] #8301 closed, assigned to nobody

[2019-07-04 17:04] txwizard commented on #8159
I came to this page because I encountered a case where the truncation example given by @StingyJack  causes Pack to fail. Following is the relevant portion of my build log.

[code]

Relevant sections of csproj follow.

[code]

To date, I've been using **AssemblyVersion** strings similar to the following in **AssemblyInfo.cs**.

`[assembly: AssemblyVersion ( "7.21.116.*" )]`

However, the correspond

[2019-07-05 08:13] shalomshachne opened #8303 "nuget pack Illegal characters in path."
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): nuget.exe

NuGet version (x.x.x.xxx): NuGet Version: 5.0.2.5988

dotnet.exe --version (if appropriate):

VS version (if appropriate): 2013

OS version (i.e. win10 v1607 (14393.321)):  Windows 7

Worked before? If so, with which NuGet version: NuGet Version: 4.8.1.5435

## Detailed repro steps s

[2019-07-05 11:18] v-luzh opened #8304 "[Bug Bash] Suggest to disable all the operations in PM UI when executing commands in PMC and vice versa"
## Details about Problem
NuGet version: NuGet Client Dev\5.3.0.6076
VS Version: Master\29104.19
OS: Windows 10 RS4_Release 17134.1.180410-1804
## Detailed repro steps so we can see the same problem
1. Launch VS and create an ASP.NET Web Application (.NET Framework).
2. Open PM UI of the project and the PMC.
3. Operate on PM UI (e.g. click settings and press “Clear All NuGet Cache(s)” button) when

[2019-07-05 12:24] TFTomSun commented on #6754
Any progress on this issue? I ran into the same problem with a build package that is used by the project that builds the package.

[2019-07-05 13:42] Rick-Anderson commented on #8141
Per the Microsoft style guide:
*Avoid please except in situations where the customer is asked to do something inconvenient or the application or site is to blame for the situation.*

[2019-07-05 15:29] ezolotko commented on #7549
I am having the same problem with my solution.

[2019-07-05 17:23] karann-msft commented on #7127
Let's reopen this issue if we get a repro / more info.

[2019-07-05 17:23] #7127 closed, assigned to nobody

[2019-07-05 21:26] zivkan commented on #8303
Can you please check your PATH to see if there's anything unusual there?

The section of code that is throwing the exception is the following:

https://github.com/NuGet/NuGet.Client/blob/ea3458258a63d7329d2cf1c9a7f75885d16ffc3e/src/NuGet.Clients/NuGet.CommandLine/MsBuildUtility.cs#L976-L1001

The exception comes from line 992, where it's trying to combine a directory from your environment's PATH w

[2019-07-05 22:09] rhaley-starfish commented on #7956
While by no means a proper fix, I have two work arounds in MonoDevelop on Ubuntu 18. Note that I will never be running a Mono project in this environment so I haven't tested that this doesn't break Mono:
1) I re-wrote the /usr/bin/msbuild command:
[code]
and secondly I overwrote the MonoDevelop Nuget* files with the files from my dotnet core sdk:

[code]

[2019-07-05 22:25] dominoFire opened #8305 "Ambiguity with multiple files with the same license filename"
## Details about Problem

NuGet product used: nuget.exe

NuGet version (x.x.x.xxx): 5.0.2.5988

OS version: Microsoft Windows [Version 10.0.18917.1000]

Worked before? No

## Detailed repro steps so we can see the same problem

Take the following nuspec:

[code]

Save the nuspec in the following folder structure:

[code]

Both files will be present in the nupkg but, it's not clear which file shoul

[2019-07-05 23:53] #7991 closed, assigned to dominoFire

[2019-07-06 12:41] vsfeedback opened #8306 "nuget version *"
<p>VSF_TYPE_MARKDOWNHI</p><p>I have started using the
&lt;Version&gt;1.*&lt;/Version&gt; i.e. * option</p><p>For our internal packages. And this is a really really great option. Thanks!</p><p>The only issue, it shows in the updates for the Visual Studio IDE. Infact a V1.* thinks that the V1.0.0 of the package is installed in the IDE.
Sholdn't the IDE see the &quot;*&quot; in the version and unders

[2019-07-06 12:49] zivkan commented on #8306
To summarise, when using wildcards, VS always shows the package as having an update available, even though the latest version is already resolved, and the UI makes it look like version v0.0.0 is installed for a `*` wildcard, or version v1.0.0 for a `1.*` wildcard.

![image](https://user-images.githubusercontent.com/5030577/60756410-bb2fa380-9fb1-11e9-9a07-1348bbb6f6fe.png)

The suggestion is that

[2019-07-06 13:03] #7202 closed, assigned to nobody

[2019-07-06 16:27] #8285 closed, assigned to nobody

[2019-07-06 16:39] #8300 closed, assigned to dtivel

[2019-07-06 20:57] TFTomSun opened #8307 "PackageReference from a Build Package"
Hello,
i know that package references inside build packages are explicitly disabled, to avoid endless restores. I read, that it might be possible to get package references inside build packages working by restoring a second time. Can somebody explain, whats the best way to do that? My scenario is simple: I have a build package and based on some conditions i want that a second package is referenced

[2019-07-07 02:02] albahari commented on #7965
I believe this should be classed as either a bug or an important omission in the API - it appears to be *impossible* to clear the credential cache. This provides a substandard experience when working with authenticated feeds in LINQPad - every time the user makes an change to the credentials, they have to re-start LINQPad. I really want to make LINQPad work properly with authenticated feeds, but t

[2019-07-07 19:37] txwizard commented on #8192
Since you guys apparently don't want any new members in your little club, I may as well close this issue.

[2019-07-07 19:37] #8192 closed, assigned to nobody

[2019-07-08 02:38] James-Lester commented on #4488
Created a new solution with a WPF project and two .NET Standard projects. Getting the same issue where EF Core and even System.Configuration.ConfigurationManager aren't found by the WPF project.

[2019-07-08 03:26] timheuer opened #8308 "Push should support UserName/Password"
## Details about Problem

NuGet product used: nuget.exe

NuGet version (x.x.x.xxx): 5.1.0.6013

OS version (i.e. win10 v1607 (14393.321)): win10 v1903

## Details
When publishing to a source that requires authentication, the current steps require to first add the source with the credentials.  Then you execute ```nuget push -Source``` but this isn't ideal for CI/CD and especially when you get inter

[2019-07-08 09:01] GraySerg commented on #6795
VS 2019 same error

[2019-07-08 17:56] nkolev92 commented on #5762
I agree with @anangaur

As a side note, there already is an issue tracking a machine readable output for the list command.
https://github.com/NuGet/Home/issues/7752

[2019-07-08 18:01] #8244 closed, assigned to JarahSi

[2019-07-08 18:01] skofman1 opened #8309 "Add client telemetry to understand server network aspect of restore/install behavior"

[2019-07-08 18:24] nkolev92 commented on #8309
There is nothing alike on the client right now.
Currently we only capture total restore time and we have no granularity on the network level.

[2019-07-08 18:27] #8293 closed, assigned to zivkan

[2019-07-08 18:31] nkolev92 commented on #8305
I think this issue goes beyond licenses, but a general pack issue.

So I'd say it's a duplicate of https://github.com/NuGet/Home/issues/6941.

I think we should close this in favor of the older issue https://github.com/NuGet/Home/issues/6941.

Do you agree? Happy to discuss if needed.

[2019-07-08 18:41] nkolev92 commented on #8299
NuGet.exe does not have any advanced UI capabilities currently.

As @rrelyea said, not a regression.

[2019-07-08 19:06] nkolev92 commented on #8306
Duplicate of https://github.com/NuGet/Home/issues/3101.

[2019-07-08 19:06] #8306 closed, assigned to nobody

[2019-07-08 19:09] nkolev92 commented on #8303
@zivkan could you repro this with the repro project?

[2019-07-08 19:19] nkolev92 commented on #8302
@RobSwDev

What I assume is happening here is the following.
NuGet waits for the projects to be loaded and restore when ready. If the projects don't load on time, NuGet will nevertheless try to restore.
Once all the projects are finally loaded, NuGet likely runs another restore, and then that's the reason why everything simply works later.

I'd imagine this is a duplicate of https://github.com/NuG

[2019-07-08 19:25] zivkan commented on #8303
no, `nuget pack` failed because the nuspec didn't have authors or a description, but it was able to find msbuild successfully on my machine, so I couldn't reproduce the same error as reported.

[2019-07-08 20:40] schultetwin1 commented on #8299
I agree this is not a regression, but most license files do not require advanced UI capabilities. The license text could just be spit out to the console with an interactive yes/no prompt. Would that be a possibility for a future feature?

[2019-07-08 20:54] nkolev92 commented on #8299
//cc @karann-msft Thoughts about this ask?

@schultetwin1

That might be a solution, but can't comment further as we have not analyzed it.

Note that any sort of interactive addition to this would probably not be there by default, as we would break everyone using nuget install in their scripts on the CIs.

[2019-07-08 21:08] ivankarpey commented on #6795
This is insane to see such a problem exist for such a long time without any response or workaround provided by the Nuget team. As I still could confirm these issues exist (vs 2019, .net core 3.0 preview) the simple workaround is to change the version of a package you do reference in sources. With the new version, it should start working fine.

[2019-07-09 00:57] loic-sharma commented on #7257
We've had support requests like https://github.com/NuGet/NuGetGallery/issues/7321 where customers are confused by this behavior. Should we complete this work to improve the situation? /cc @rrelyea @karann-msft

[2019-07-09 03:11] schultetwin1 commented on #8299
Totally makes sense. I would be fine with a command line switch for the install command.

[2019-07-09 14:01] zivkan commented on #8305
I thought the license element when using a file has a value which is the absolute path to the file within the package. Therefore `<license type="file">license.txt</license>` means there must be a file named `license.txt` in the root of the package. If there is not, then the package is incorrectly authored and therefore there is no ambiguity?

I'm making an assumption that `<file src="cell\*.txt" /

[2019-07-09 15:10] nkolev92 commented on #8305
When you glob it preserves the globbed folder structure.

So everything under `cell` and `wall` will be preserved.

[2019-07-09 17:30] rrelyea opened #8310 "5.2 Release logistics"
[ ] Release notes draft
...

[2019-07-09 17:41] TFTomSun opened #8311 "GeneratePathProperty metadata on package reference does not generate the property"
The feature GeneratePathProperty introduced with Visual Studio 15.9. seems not to work for me.

I'm using Visual Studio 15.9.11

My code
[code]
Expected output:
PkgCrossCutting_Build: [path to the resolved package]

Actual output
PkgCrossCutting_Build:

The property seems not to be generated at all.

[2019-07-09 19:29] Rick-van-Dam opened #8312 "Docs for API migration from NuGet 2.x to NuGet 4+"
## Details about Problem

Its currently not clear how one can integrate nuget in a custom application. For instance [duality](https://www.duality2d.net/) has its own package manager that uses nuget (currently 2.x) internally. However in this version we are running into issues with netstandard where it does not install any dependencies for netstandard packages causing runtime exceptions. We tried [

[2019-07-09 19:47] eniine3 opened #8313 "enine3@naver.com"
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2019-07-09 21:12] #8243 closed, assigned to xavierdecoster

[2019-07-09 21:24] nkolev92 opened #8314 "Package Deprecation UI - Open questions"
There are 2 open questions for the PM UI for 16.3/5.3

https://github.com/NuGet/NuGet.Client/pull/2899#discussion_r297328623

Should the deprecation info be displayed in all source? There's no guarantee of consistency here.

https://github.com/NuGet/NuGet.Client/pull/2899#discussion_r297327833

Should the alternative package be displayed as:

current:
`BaseTestPackage version 1.0.0 (or higher)`

p

[2019-07-09 22:04] #6570 closed, assigned to nkolev92

[2019-07-09 22:10] nkolev92 commented on #8313
Hi,

You don't have seem to added details about your issue.

[2019-07-09 22:17] nkolev92 commented on #8308
NuGet has many commands that work with a remote feed where specifying the username and password is not possible.

Can you explain what kind of interactive prompts you get with push?

Ideally the repositories provide an auth plugin as the optimal method for all nuget operations requiring auth.
https://docs.microsoft.com/en-us/nuget/reference/extensibility/nuget-cross-platform-authentication-plugin

[2019-07-09 22:19] nkolev92 commented on #8307
I can't think of a way this can be achieved.
Where did was that mentioned?

[2019-07-09 22:22] nkolev92 commented on #8312
Unfortunately we don't have resources diving into scenarios like yours.

There are some external resources:
https://docs.microsoft.com/en-us/nuget/reference/nuget-client-sdk

Another good resource is the source code https://github.com/NuGet/NuGet.Client/.

The reason for your issues is likely the old NuGet APIs not understanding .NET Standard.

Can you describe in more detail what you are trying t

[2019-07-09 22:32] nkolev92 commented on #8311
@TFTomSun
Are you able to repro this with other package ids (this one is not public, so I couldn't try, but I tried with other IDs and I couldn't repro it).
Any public packages?

It's possible that you are hitting: https://github.com/NuGet/Home/issues/7843

Is CrossCutting.Build the exact casing of the package in the nuspec.

Can you upload the nuget.g.props & project.assets.json file if possible?

[2019-07-09 22:34] Barsonax commented on #8312
Duality has its own package manager thats used to install so called plugins. These plugins are currently PCL's but went want to update these to netstandard. We did some work on this but I noticed that nuget 2.14 does not install any dependencies when you install a package that targets only netstandard2.0 in a netframework 4.7.2 application.

This seems to be pretty much blocking us from going to n

[2019-07-09 22:48] nkolev92 commented on #8312
I see.
Unfortunately there's no easy guidance.

The 2 blog posts diving into the libraries have lots of great pointers there.

[2019-07-09 23:16] SimonCropp commented on #6570
@nkolev92 cool :)  is there a version number we can expect this in? so i can smoke test if

[2019-07-09 23:32] nkolev92 commented on #6570
This will be in 16.3 Preview 2.

[2019-07-09 23:35] vsfeedback opened #8315 "Arrow keys in NuGet PM UI Sources editing doesn't change order of persistence"
<p>NuGet 套件管理員預設就有兩個可用套件來源：</p><p>1. nuget.org
2. Microsoft Visual Studio Offline Packages</p><p>當我想新增 Azure Artifacts 的 NuGet feed 到這裡來，預設會新增到最後一個位置。</p><p>但是當我想移動套件來源的順序時，就算我調整到最上面 (第一順位) 並按下確定，下次再開啟套件來源的選項設定，會看到自定的套件來源還是出現在最後一個位置，不能依照我所設定的調整到第一順位。</p><p>這算是 Bug 嗎？</p>

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/614163/在-nuget-套件管理員新增套件來源無法調整順序.ht

[2019-07-09 23:36] nkolev92 commented on #8315
The arrow keys in the PM sources UI add no value, since they do not modify the configs.
Furthermore the ordering of the sources does not affect any nuget operations whatsoever.

[2019-07-09 23:37] nkolev92 commented on #8315
//cc @karann-msft useful feedback about the redesign of the settings UI.

[2019-07-10 00:02] karann-msft commented on #5805
this issue seems to be really several different issues ranging from perf for large solutions, VS UI perf, slow package updates, NuGet client upgrade experience, etc. In its current form, this issue is unfortunately not actionable.
@kierenj, @jasekiw, @chris-hatton, @Barsonax - I would request that you create separate issues for your specific scenario so that the team can triage, prioritize, and in

[2019-07-10 00:02] #5805 closed, assigned to nobody

[2019-07-10 06:31] TFTomSun commented on #8307
I'll search for it later. I also recognized that visual studio restores such package references inside build packages correctly. Why is there a difference between visual studio and dotnet build/msbuild?

[2019-07-10 09:26] sharpSteff commented on #3530
"bumb"

[2019-07-10 09:28] Lutando commented on #7792
Any movement on this?

[2019-07-10 11:49] TFTomSun commented on #8307
@nkolev92  I narrowed down the difference between Visual Studio and dotnet build. Here are my 2 build packages. The test package references the nunit dependencies as well as provides them as a reference via the CrossCutting.Test.props file
[CrossCutting.zip](https://github.com/NuGet/Home/files/3377260/CrossCutting.zip)

When I reference the package in a test project, visual studio produces the fol

[2019-07-10 12:14] StingyJack commented on #6570
Aren't there just the two? Use PMUI or CLI?

Considering that the work that is/will be done isn't entirely matching the original request, I don't think you should close this until the OP agrees or accepts (or times out).

[2019-07-10 13:53] aolszowka commented on #8272
We appreciate the transparency of a GitHub bug; is there anything that explains what the various tags mean? "NeedsTriageDiscussion" implies that there will be discussion on where this falls in your priority queue but is that discussion had in a public forum or at certain touch points?

Thank you

[2019-07-10 15:54] SeanLively commented on #3050
The Octopus team also had to work around this issue: https://github.com/OctopusDeploy/Issues/issues/2809

[2019-07-10 16:52] rrelyea opened #8316 "New helper function - get the top level packages given a package graph."
We have partner teams who want to be able to analyze a set of packages listed in a packages.config file, and understand which are top-level.
We have code like this in PC to PR migrator...likely just needs to be refactored a bit.

[2019-07-10 17:04] karann-msft commented on #5138
@jjanuszkiewicz @nigurr @jstutson - can you all please elaborate your respective scenarios.
For example - when you know the exact Id and version of an existing package published to nuget.org, what do you gain by a command that is merely echoing its existence which you probably already know it exists.

[2019-07-10 17:11] heng-liu commented on #8170
After adding retry logic in deleting hostfxr.dll, all the tests shows that the exception doesn't come up anymore.

[2019-07-10 17:11] #8170 closed, assigned to heng-liu

[2019-07-10 17:24] karann-msft commented on #8040
related issues -  [exact match and version search for nuget.exe list command #5138](https://github.com/NuGet/Home/issues/5138)

[2019-07-10 17:43] DannyMeister commented on #5138
I believe that in the case of @nigurr and myself, and probably some of @jjanuszkiewicz cases, the exact version isn't always known.  But when I try to list package versions for Foo to select the most appropriate one, i don't want to get package FooBar in my results.  This is making CI scripts more difficult.  I am using nuget packages for distribution of deploy time dependencies, not just compile

[2019-07-10 17:44] anangaur commented on #8314
I think we should show the deprecation info even if multiple sources are selected. Ideally we should list (sxs) all the links to sources where this package ID is present as we do today for nuget.org. Obviously there are questions like the following, I am taking a shot at answering these:

1. What happens if one of the multiple sources have the deprecation info?
[AG] We should show deprecation info

[2019-07-10 17:49] zivkan commented on #6795
I was able to reproduce the error. The exception is thrown here: https://github.com/NuGet/NuGet.Client/blob/3113c5ddf420ae0c9c34959108e127136c8f141e/src/NuGet.Core/NuGet.Commands/RestoreCommand/LockFileBuilder.cs#L152

The issue appears to be that the same name+version pair is both a package and a project reference. If they had different versions, it would work, or if it was consistently a package

[2019-07-10 18:26] zivkan commented on #6795
From the sample, if we remove the project reference to `intermediate` from `source`, `source` can reference both the package and project and it works fine, NuGet selects the project. This "prefer project over package" logic doesn't appear to be happening for transitive dependencies, which I think is the bug.

[2019-07-10 18:28] nkolev92 commented on #8314
It's available in the tooltip right now.

[AG] We should show deprecation info even if one of the sources has this info.

Not trivial today, as our merging throws out duplicates.

[AG] We could either use the first one but prefer nuget.org if its one of the sources. This is a corner case scenario. We should solve for this multiple sources in a better way, once we start seeing customer reports rega

[2019-07-10 18:42] nkolev92 commented on #8272
@aolszowka

This specific tag is usually used to mark that the team internally needs to have a discussion about the risks to determine the priority for scheduling some time for a specific dev to fix it.

Right now we don't have a community stand-up of the sort, but we're always willing to interact with customers on the issues themselves.

We also don't really have a summary of what all our labels

[2019-07-10 18:47] dtivel commented on #8300
Should be first available in NuGet.exe 5.2.x, and generally available (VS, dotnet.exe) in 5.3.x.

[2019-07-10 18:47] dtivel commented on #8271
Should be first available in NuGet.exe 5.2.x, and generally available (VS, dotnet.exe) in 5.3.x.

[2019-07-10 19:32] nkolev92 commented on #6570
PM UI, Package Manager Console.
In SDK based projects, the csproj can be edited, the reference can be removed from the solution explorer.  Similarl the csproj can be edited outside of VS and and VS would detect and reload it.

[2019-07-10 19:45] shueybubbles commented on #5413
@KirillOsenkov is there a workaround for this?
How do I define a project using the new tools which can use <PAckageReference> to install some packages but then just has custom targets, not a C# build?

[2019-07-10 21:27] rrelyea commented on #8272
Likely broken since VS2015 & project.json and since VS 2017 & packageref. As such, good bug to fix, but first complaint, we think.

[2019-07-10 21:39] rrelyea commented on #5643
This remains in our backlog, but not imminent.

[2019-07-10 21:50] rrelyea commented on #8299
Packages can be installed via:

1)	VS UI
2)	VS Package Management Console  -- “install-package”
3)	Hand editing csproj (in VS with sdk-style projects) or in notepad, etc…
4)	Dotnet add package
5)	Nuget.exe install    [old command…doesn’t work in all scenarios]

Today, we show licenses as part of VS UI only.

[2019-07-10 22:04] rrelyea commented on #8291
Let's make a new error code for this situation. (don't use NU5000...)

Then let's error with:
The global package folder copy of package 'Foo.Bar' is missing one or more files: '<fullpathtofile>'.

[2019-07-10 22:25] nkolev92 opened #8317 "NuGet no longer uses CPS's JTF"
zivkan edit: this is the new issue objective:

For years, NuGet was using CPS (Common Project System, later renamed to the Visual Studio Project System) instance of the JoinableTaskFactory (JTF). As [described below](https://github.com/NuGet/Home/issues/8317#issuecomment-510281346), this is no longer necessary, so NuGet can stop obtaining the CPS JTF and just use `ThreadHelper.JoinableTaskFactory`

[2019-07-10 22:31] rrelyea commented on #1538
Discussed possible solutions as a team today...

Scenarios missing:
* Branch Switch
* Git Pull

Possible solutions:
* listen to "branch switch" or "pull" type events in VS
* File watcher (existing nuget.config)
* watch for new files created in right directories
* Manual refresh in UI somewhere
* Overload in build/rebuild
* etc...

No slam dunk solution, but we are thinking about it.

[2019-07-10 22:32] AArnott commented on #8317
That shouldn’t (generally) be an issue: JTF instances all coordinate through the common JoinableTaskContext. So as long as they both point to the same one of those, mixing various JTF instances should not result in a deadlock.

That’s speaking generally. The one caveat here is that CPS/NuGet have a very specialized JTF derived type that can mitigate deadlocks between the main thread and the CPS pr

[2019-07-10 22:34] AArnott commented on #1538
Please make sure you're watching the file for changes independently of a git HEAD change. If having the file is valid, changing the file is valid too. :)

[2019-07-10 22:37] rrelyea commented on #5862
@nguerrera - the recent work for netcore 3 to provide the ability to have it provide the runtime.json -- does that help things?

[2019-07-10 22:42] rrelyea commented on #3324
Reminder...see this comment from last year with the latest status from the NuGet team about our different scenarios:

https://github.com/NuGet/Home/issues/3324#issuecomment-389329153

[2019-07-10 22:45] nguerrera commented on #5862
@rrelyea Not really, we still have to update the graph too much. I think where the json file comes from is orthogonal to not having to spell out all the versions, etc.

[2019-07-10 22:51] nkolev92 commented on #8307
That is a VS bug, specifically project-system.

Tracking issues:
https://github.com/dotnet/project-system/issues/3734
https://github.com/dotnet/project-system/issues/653

The commandline experience is the correct one, so I'd recommend not relying on that.

[2019-07-10 23:00] rrelyea commented on #5740
@cristinamanum @anangaur  - nowarn needs to be considered for central version management.

[2019-07-10 23:36] empz opened #8318 "NU1201 Project is not compatible with netcoreapp2.2 (.NETCoreApp,Version=v2.2). Project supports: net462 (.NETFramework,Version=v4.6.2)"
I have a ASP.NET Core 2.2 project that references a .NET Framework 4.6.12 class library. This worked without any issue until I migrated the class library to PackageReference and started to get that error.

It was my understanding that a netcore 2.2 project (net standard 2.0) could reference a .NET framwork 4.6.2 (net standard 2.0) without issue and this was the case when using package.config.

Is

[2019-07-11 00:41] AArnott commented on #8317
@jviau confirmed that CPS already has the new delegate-based lock that removes the need for the specialized JTF.

[2019-07-11 00:45] danpowell88 commented on #7699
Any movement on this?

Also had a slightly different error log today that resulted in restore not completing

[2019-07-11 00:48] nkolev92 commented on #8318
@eparizzi

Your error message suggests the project is net462, which is not supported via AssetTargetFallback (the fallback mechanism that allows netcoreapp2.2 to reference net461 (not higher).

[2019-07-11 00:53] nkolev92 commented on #8317
Thanks @AArnott

How involved would that change be?
I don't imagine is as simple as changing NuGetUIThreadHelper.JoinableTaskFactory to ThreadHelper.JoinableTaskFactory.

What are the benefits of not having to use our JTF facade?
Less likely to introduce deadlocks? Moves out the complexity out of the NuGet codebase?
Anything that I'm missing?

//cc @rrelyea

[2019-07-11 02:36] AArnott commented on #8317
So the first thing you should probably do is review all your uses of `IProjectLockService` (if any) and make sure you're using the delegate syntax instead of the `using` block syntax. Transitioning should be a low risk change, as you're moving to a safer syntax that guards against deadlocks without you having to be particular about which JTF instance you're using.

After that, you can safely use a

[2019-07-11 04:18] nkolev92 commented on #8317
Thanks for the explanation :)

[2019-07-11 06:07] eparizzi commented on #8318
@nkolev92 So, what are my options here? Is there any net fwk version compatible with this setup? 4.7.2 maybe? Or I have to stick with packages.config?

[2019-07-11 07:40] mperdeck opened #8319 "Content files in Nuget package do not wind up in bin folder and get treated as C# files"
I need to distribute 2 .dll files along with 2 .xml files to various .Net Core projects targeting net47. Both the .dll and .xml files have to wind up in the bin folder of the projects.

I created the .nuspec file below. I'm copying all files to lib\net47. I'm also copying the .xml files to contentFiles\any\any.

I'm using a PackageReference to include this Nuget package into my projects:
`<Package

[2019-07-11 08:39] morining commented on #8242
It was a network issuse caused by virtualbox.

[2019-07-11 08:39] #8242 closed, assigned to nobody

[2019-07-11 09:57] TFTomSun commented on #8307
For all who come across this thread. I found a solution. I use a custom SDK instead. Inside the custom SDK i can add package references and they are handled correctly by the cli and Visual Studio.

[2019-07-11 11:35] v-luzh opened #8320 "[Test Failure] “Unable to parse config file” will prompt twice"
## Details about Problem
NuGet version: NuGet Client Release-5.2.x\5.2.0.6090
VS Version: D16.2\29110.123
OS: Windows 10 RS4_Release 17134.1.180410-1804
## Detailed repro steps so we can see the same problem
1. Create a solution with at least 1 project (e.g. 3 WPF projects) and close the solution.
2. And create a NuGet.Config file having some parsing errors next to the sln file.
3. Reload the solu

[2019-07-11 12:54] jtsom commented on #7802
Seeing this error with a simple Azure Functions project:
[code]

[code]

[code]

[2019-07-11 13:30] OpusKrokus commented on #3891
I notice that this is on backlog, but also priority 1.  That's confusing to me (assuming priority 1 means what I think it means).  If it is on backlog, that means that there is no serious work being done on it.  I know that it probably won't happen, but is there any way that one of the people that are actually working on the project could comment and indicate whether they are taking this particula

[2019-07-11 13:51] rrelyea opened #8321 "get nuget-client source-build clean (patches)"
get patch clean - https://github.com/dotnet/source-build/tree/release/3.0/patches/nuget-client

[2019-07-11 13:52] #8139 closed, assigned to dominoFire

[2019-07-11 13:58] rrelyea commented on #8271
(added missing bug metadata so this shows up correctly in release notes)

[2019-07-11 14:00] rrelyea commented on #8263
(added missing "closedas:duplicate" label so this doesn't show up in release notes)

[2019-07-11 14:04] rrelyea commented on #8196
Setting "area: engineering improvements" (will also hide from release notes)

[2019-07-11 14:11] rrelyea commented on #8175
looks like product bug fix, not test fix.

[2019-07-11 14:13] rrelyea commented on #8138
marking as engineering improvement - (will also hide from release notes)

[2019-07-11 14:16] rrelyea commented on #8114
@zivkan - can you please improve the title - i think the work morphed and the title should be improved.

[2019-07-11 14:24] rrelyea commented on #7864
won't fixing now...but the SDK team removed their sources that they injected via Targets/Props.

[2019-07-11 15:47] #8038 closed, assigned to zivkan

[2019-07-11 15:56] rrelyea commented on #3891
We have mixed feelings about this. Top vote getter. But causes problems for people too.

We will be analyzing and discussing with both sides. But not right away...
Backlog p1 issues are likely going to worked on before backlog p2.

[2019-07-11 16:04] ericstj opened #8322 "Nugetizer3000 includes reference-only content in package"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
dotnet + NuGet.Build.Packaging

NuGet.Build.Packaging - 0.2.3

dotnet.exe --version (if appropriate):
2.2.107

## Detailed repro steps so we can see the same problem

1. Create a netstandard2.0 class library, use following project file:
[code]

2.  dotnet build

Expect: package with only lib
Ac

[2019-07-11 16:14] ericstj commented on #8322
Looks like the workaorund here is to set
[code]

[2019-07-11 17:26] ericstj commented on #8322
Correction, this is actually https://github.com/NuGet/Home/issues/5800 and is fixed in a later release.

[2019-07-11 17:41] ericstj commented on #8322
So this worked for me after updating to 0.2.5-dev.9, at least for NETStandard.Library.  I'm reactivating this because I believe this is still wrong in general, the fix for NETStandard.Library just hardcoded that package ID 😢.

These assets added by NETStandard.Library are *references* and will never be copied to the output of a project, I believe that's controlled by the `CopyLocal` metadata on th

[2019-07-11 18:52] nkolev92 commented on #8307
Yeah, that's the way to satisfy the scenario.

Note that there's perf concerns with that scenario.
https://github.com/microsoft/msbuild/issues/4025

Feel free to close if the concerns have been answered.

[2019-07-11 18:56] nkolev92 commented on #8318
.NET 461 is compatible.

Once .NET Core 3.0 gets released, all of the .NET Framework will be compatible.

[2019-07-11 19:51] ericstj commented on #8322
Here's a hack that I used to fix this problem more generically:
[code]

It'd be better if instead the condition was updated here to consider CopyLocal instead of hardcoding NETStandard.Library:
https://github.com/NuGet/NuGet.Build.Packaging/blob/abbff50b9b64d708945a726405e70351035cadb5/src/Build/NuGet.Build.Packaging.Tasks/NuGet.Build.Packaging.Inference.targets#L186-L190

[2019-07-11 20:02] nkolev92 commented on #8231
Fixed within 5.2 (the revert of both fixes, addressed the issue).

[2019-07-11 20:03] nkolev92 commented on #8156
Originally merged in 5.2 but reverted. Now in 5.3 only.
Revert commit: https://github.com/NuGet/NuGet.Client/commit/f6f9fb481b9fbf14154d484dbf376446c9b0d274

[2019-07-11 20:48] nkolev92 opened #8323 "Remove net472 support from assemblies that don't require it - netstandard is enough"
We multi target net472, netstandard2.0 throughout our solution, since we work in both dotnet and VS.

net472 implements netstandard2.0 however, so netstandard willl be compatible everywhere net472 is.

The only trick is we can't do this wherever we are doing framework specific things.

The benefit of this will be smaller packages/faster build times/faster test runs.

//cc @zivkan @rrelyea

Probabl

[2019-07-11 20:53] nkolev92 commented on #8320
I verified with 16.1, it is not a regression.

Thinking about it I think my deadlock fix actually will address this.
Will double check.

[2019-07-11 21:55] #8318 closed, assigned to nobody

[2019-07-11 22:10] replicaJunction commented on #4808
Adding on a bit of info just because Google brought me here.

Azure DevOps encounters this error because by default, it uses the cached version of NuGet.exe that's available on its build agent. At the time of this writing, that was 4.3.0 for me.

@JeffreyCA 's solution works, but that line will force your build to always use version 4.9.1 of NuGet. I prefer to use the latest version available in c

[2019-07-11 22:30] nkolev92 commented on #8319
[code]

I think  you need to refer to the files in there with a contentFiles relative path.
Or you might be able to glob them with something like `**/*.xml`.

[2019-07-11 23:35] #7281 closed, assigned to zivkan

[2019-07-11 23:50] nkolev92 commented on #8320
Will be fixed by https://github.com/NuGet/NuGet.Client/pull/2919.

[2019-07-12 00:32] vsfeedback opened #8324 "Enable copying the contents of package manager "preview window" for install/update"
See attached.

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/640739/cant-copy-text-contents-of-the-nuget-package-upgra.html
VSTS ticketId: 945140_
_These are the original issue comments:_

Visual Studio Feedback System on 7/10/2019, 10:32 PM (19 hours ago): <markdown><p>We have directed your feedback to the appropriate engineering team for further eval

[2019-07-12 00:35] nkolev92 commented on #8324
Code here, https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Clients/NuGet.PackageManagement.UI/Xamls/PreviewWindow.xaml.

We are using textblock everywhere but we should use an uneditable textbox instead.

[2019-07-12 04:15] #8320 closed, assigned to nkolev92

[2019-07-12 07:49] RobSwDev commented on #8302
@nkolev92

We want to move to the new SDK project format as a subset of our solution needs to multi-target.
(Also, the new format is much slicker, less maintanance, and we expect will suffer fewer git conflicts when merging)

The concern is developer experience. The exceptions themselves aren't particularly bothersome, but we're also seeing slower compilation times, less responsive Visual Studio,

[2019-07-12 10:01] xavierdecoster commented on #8280
@anangaur in the sample from the spec, the legend refers to a `--show-deprecated` option. Did you mean `--deprecated` instead?

[code]

[2019-07-12 10:12] xavierdecoster commented on #8280
Additional question: if the `--outdated` option is to show deprecated labels, then what's the behavior of using both `--outdated --deprecated` options for `dotnet list package`?

[2019-07-12 10:46] cheyong007 commented on #6459
This Warnning still prompt at nuget.exe 5.0.2.5988, with powershell automatically downloaded to "system32". OS Version Win10-1809(17763.615)

Thanks to @JeremyOne , it fixed!

[2019-07-12 14:27] anangaur commented on #8280
Remnant of older spec 😄.  —deprecated is good enough.

If both options are used, may be we should first state the outdated output followed by deprecated? And the info message goes away. This should be done per project output. However, if you got another proposal, let’s discuss that as well.

[2019-07-12 16:42] cristinamanum commented on #8255
https://github.com/NuGet/Home/wiki/Centrally-managing-NuGet-package-versions

[2019-07-12 18:03] nkolev92 commented on #6079
Related [849782 ](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/849782/)

That issue would need to be close if wapproj starts importing the nuget.targets

[2019-07-12 18:07] karann-msft commented on #7939
hey @bruno-garcia - we are actively working on this.

![image](https://user-images.githubusercontent.com/16904420/61149087-2804db00-a495-11e9-9596-75cd97c73d2f.png)

[2019-07-12 18:09] bruno-garcia commented on #7939
Highly appreciated!

[2019-07-12 18:14] ColinLaws commented on #7971
@mdmoura Did you try to install a later version of NuGet? I'm currently running into the same issue, a build is running targeting a higher version right now, I'll report back if I can get this working.

[2019-07-12 18:17] ColinLaws commented on #7971
@mdmoura @rrelyea Okay I see the issue. When building .NET Core apps in Azure DevOps, you are supposed to use the .NET Core task (DotNetCoreCLI is the task name) to pack and push to your feeds.

Check out the docs here:
https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/build/dotnet-core-cli?view=azure-devops#pack

[2019-07-12 18:47] karann-msft commented on #4488
Per @rrelyea (this is rob typing) - let's spend a few hours this sprint (or soon) and discuss possible solutions and all aspects of the related problem - for new projects, old projects, etc...

[2019-07-12 20:23] dtivel opened #8325 "Test: Apex tests hanging due to unexpected UI"
Apex tests are hanging because the "Preview Changes" dialog during package installation is unexpected.

[2019-07-12 20:44] dtivel opened #8326 "Test: some package signing tests are disabled"
100 package signing tests are not running because they are disabled by a `#if NET46` condition.

test/NuGet.Core.Tests/NuGet.Packaging.Test/SigningTests/AttributeUtilityTests.cs
test/NuGet.Core.Tests/NuGet.Packaging.Test/SigningTests/PrimarySignatureTests.cs
test/NuGet.Core.Tests/NuGet.Packaging.Test/SigningTests/RepositoryCountersignatureTests.cs
test/NuGet.Core.Tests/NuGet.Packaging.Test/Signing

[2019-07-12 20:46] TysonMN opened #8327 "Used -DependencyVersion Highest but non-latest version installed"
I am confused about the behavior of `Install-Package` when executed from Visual Studio's Package Manager Console.  I am using `-DependencyVersion Highest` but a less-than-highest version is being installed, and I don't understand why.

## Details about Problem

NuGet product used: Package Manager Console Host Version 5.1.0.6013
NuGet version: 3.5.0.1938
VS version: Visual Studio Enterprise 2019 ve

[2019-07-12 20:49] dtivel opened #8328 "Test: tests not cleaning up"
Many tests open handles on files but do not close them properly.  Thus, these tests fail to clean up after themselves.

[2019-07-12 22:05] nkolev92 commented on #8327
DependencyVersion is not a thing in PackageReference world, and from what I can see from your repro project you are using PackageReference.

There's an ask about adding it to PackageReference, but it wouldn't be an install only decision, but a restore decision.

https://github.com/NuGet/Home/issues/5553

[2019-07-12 22:06] nkolev92 commented on #8327
On a side note I think it's worth having a warning message when someone uses this option in PR.
It's already disable in the PM UI.

[2019-07-12 22:08] nkolev92 opened #8329 "Warn when -DependencyVersion is used in install commands in PR projects"
Motivation from https://github.com/NuGet/Home/issues/8327.

This flag does not apply to PR.

Related #5553

[2019-07-12 22:13] nkolev92 commented on #7328
We missed this earlier but this is a duplicate of https://github.com/NuGet/Home/issues/6697.

[2019-07-12 22:13] #7328 closed, assigned to nobody

[2019-07-12 22:18] nkolev92 commented on #5150
Related https://github.com/NuGet/Home/issues/6848.

At this point, this is by design.
NuGet has historically been against allowing author driven package resolution, and we believe that is the right approach given the state of the eco-system.

We'll of course be happy to reevaluate if/when appropriate.

[2019-07-12 22:18] #5150 closed, assigned to nobody

[2019-07-12 23:12] #8325 closed, assigned to dtivel

[2019-07-12 23:13] #8326 closed, assigned to dtivel

[2019-07-12 23:29] #8313 closed, assigned to nobody

[2019-07-12 23:32] #8212 closed, assigned to nobody

[2019-07-13 03:19] #8328 closed, assigned to dtivel

[2019-07-13 12:19] TFTomSun commented on #4463
netstandard2.0 projects still fail when you change the intermediate and extensions path

[code]

the above code packed into a custom sdk and referenced in Directory.Build.props leads to the following build error:

[2019-07-14 13:52] mrward opened #8330 "Restoring PackageReferences bypasses Xamarin.Mac networking stack"
## Details about Problem

NuGet product used: VS Mac

NuGet version: 5.2

VS version:

OS version: macOS 10.13

Worked before? No

## Detailed repro steps so we can see the same problem

1. Run a restore on a project that uses PackageReferences, or install/update a NuGet package that uses PackageReferences.
2. NuGet bypasses the native Xamarin.Mac networking stack when it goes online.

VS Mac has

[2019-07-14 17:18] clairernovotny opened #8331 "Manifest parsing allows invalid data"
From this issue: https://github.com/NuGetPackageExplorer/NuGetPackageExplorer/issues/722

If you have a nuspec with an empty `frameworkReference` element in a framework reference group, the parsing succeeds despite this being invalid. This causes an error later during a lazy LINQ enumeration.

The parsing logic for the manifest should throw eagerly in this case.

[2019-07-15 03:29] ldsenow commented on #545
+1000

[2019-07-15 09:29] v-nancyj opened #8332 "PM UI with unsaved changes breaks when another project is Unloaded"
## Details about Problem

* VS Version: Master\29114.15 preview branch
* NuGet Version: Implicit NuGet Client Release-5.2.x\5.2.0.6090
* OS Version: Windows-10- 17763.RS5_Release.180914-1434.

## Installation steps:
Install VS from: [https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=2850307&view=results](url)

## Repro steps:
1. Create a new Class Library (.NET Framework) App named Lib

[2019-07-15 09:36] Happypig375 commented on #8205
As of VS16.1.5, issue only repros on F# Xamarin Android projects.

[2019-07-15 11:26] adamralph commented on #352
What does the 'Epic' label signify?

[2019-07-15 11:30] ncook-vero commented on #352
Hi @adamralph This is probably related to types of dev work.
At least in terms of JIRA that I use daily:
 - bug fix/regression fix
 - task/general change/refactor
 - story / feature-addition - with user benefit

Epics are usually collections of the above types of issue that are too big to be done in one piece of work, that all follow a theme.

A starter for 10:
https://github.community/t5/How-to-u

[2019-07-15 11:33] adamralph commented on #352
@ncook-vero thanks for the info.

Can you offer any explanation of why this is an epic? I'm having a hard time believing "Package Icon should be able to come from inside the package" is a collection of issues that "are too big to be done in one piece of work, that all follow a theme".

[2019-07-15 11:38] ncook-vero commented on #352
Hi @adamralph

I can't give you much insight I'm afraid, as I'm a consumer of NuGet and not a producer :)

I'd rather see something broken down into tiny milestones than risk a regression by doing too much at once, though. They're probably trying to make sure they build this feature out of common code and adhere to some internal common practice, like making it the same for nuget.exe and the dotnet

[2019-07-15 11:42] adamralph commented on #352
Sorry @ncook-vero, I mistook you for a project maintainer.

Perhaps one of the project maintainers can share some insight on this.

[2019-07-15 12:09] Shohoo opened #8333 "Floating version "*" retrieves incorrect nuget package version (not latest)"
Hope so not duplicated.

## Details about Problem

NuGet product used ( VS UI | Package Manager Console | Azure Pipelines):

NuGet version (x.x.x.xxx): 5.0.1

VS version (if appropriate): 19 latest

Pool version: Hosted Windows 2019 with VS2019

Worked before? If so, with which NuGet version: 4.4.1

## Detailed repro steps so we can see the same problem

1. Nuget package in Azure Feed Artifact

2.

[2019-07-15 12:18] Trolldemorted commented on #7341
When will azure pipelines use 2.2.300 or higher be default? I don't really want to pin a specific sdk version in all of my repositories

[2019-07-15 16:05] TFTomSun commented on #8311
@nkolev92 i got it working, somehow. But honestly, i don't know what changed the behavior. Therefore I can't reproduce the issue anymore. And I achieved the goal, for what I wanted to use that feature with a custom SDK.

[2019-07-15 16:05] #8311 closed, assigned to nobody

[2019-07-15 17:40] bender2k14 commented on #5553
There was much talk above about first needing support for lock files when specifying packages (via `PackageReference` in project files).  This [feature was released](https://docs.microsoft.com/en-us/visualstudio/releasenotes/vs2017-relnotes#NuGet) on November 13, 2018 with Visual Studio 2017 version 15.9.0.  Here is a [direct link](https://docs.microsoft.com/en-us/nuget/consume-packages/package-re

[2019-07-15 18:06] anangaur commented on #5553
This feature is on our backlog but not one of the top ones right now and yes its unblocked now since we implemented the lock file feature.

@bender2k14, @GirishVilli can you elaborate a bit on your scenario even if its re-iteration of the reasons discussed above? Feel free to state it here or reach out to me via an email.

[2019-07-15 18:52] nkolev92 opened #8334 "Should vcxproj be in the approved list for the nuget.targets"
https://github.com/NuGet/NuGet.Client/blob/f5916a527c442f896f787c593252b37a345da835/src/NuGet.Core/NuGet.Build.Tasks/NuGet.targets#L239

C++ projects do not support PR yet so not sure why this is necessary.

There could be some weird reason such as enabling nuget.exe restore to work.

This needs investigated.

Ideally, C++ just supports PR, but that's out of NuGet's hands.

[2019-07-15 19:13] jdege opened #8335 "Nuget.exe restore foo.sln fails if %platform% contains spaces"
I'm not seeing any reference here to nuget.exe relying upon the %platform% enviornment variable: [https://docs.microsoft.com/en-us/nuget/tools/cli-ref-environment-variables](https://docs.microsoft.com/en-us/nuget/tools/cli-ref-environment-variables)

But when I run "nuget.exe restore mysln.sln", and I have %platform" = "Any CPU" (for reasons that have nothing to do with nuget restore), I see "Any

[2019-07-15 19:22] dtivel opened #8336 "Test: InstallPackagesNupkgOnline is failing with SSL error"
The E2E test [`InstallPackagesNupkgOnline`](https://github.com/NuGet/NuGet.Client/blob/bd0c5fb12076a7f1678d825541a978caa4ac0bc0/test/EndToEnd/tests/InstallPackageTest.ps1#L2851) is failing with the error:

`System.Exception: Failed to parse package identities from file https://az320820.vo.msecnd.net/packages/microsoft.aspnet.mvc.4.0.20505.nupkg with exception: An error occurred while sending the r

[2019-07-15 20:33] anangaur commented on #8041
Adding contents for this workitem.

Show `Manage NuGet Packages` as an option on
- [ ] `Dependencies` node's context menu for SDK style projects
- [ ] `NuGet` node's context menu for SDK style projects
- [ ] `References` node's context menu for csproj.dll based projects

- [ ] Show `Update All...` on `NuGet` node for SDK style projects
- [ ] Show `Update...` on individual NuGet packages at the top

[2019-07-15 20:36] anangaur commented on #8041
From Developer community suggestion: https://developercommunity.visualstudio.com/content/idea/622379/add-manage-nuget-packages-to-context-menu.html

[2019-07-15 21:34] #8336 closed, assigned to dtivel

[2019-07-15 22:03] dtivel opened #8337 "Tests: tests not cleaning up"
Some package signing-related tests open handles on files but do not close them properly. Thus, these tests fail to clean up after themselves.

[2019-07-15 22:38] nkolev92 commented on #8280
Can you please consolidate the spec/describe the expectations in each of the weird scenarios? :)
I guess this refers to both of you.

It'll be easier to review the implementation if we're confident about what the expectations should be.

[2019-07-15 23:42] caioproiete commented on #352
@adamralph I'm sure @dominoFire and/or someone else in the project team can clarify, but I would _guess_ that:

* The definition of `Epic` _for them_, is anything that cannot fit in a single sprint
* They do short sprints and feel that the work would span at least two sprints

[2019-07-15 23:52] anangaur commented on #352
You are right. We make big features into epic and then split it into smaller work items that we easily cost and implement within short span of time, ideally a sprint. ‘Big’ can either mean big in terms of cost or complexity.

[2019-07-16 00:20] nkolev92 commented on #8222
@cristinamanum

As I know you've been familiarizing yourself with lock file stuff, here's a lock file bug, that you can look into.

[2019-07-16 11:30] SeppPenner commented on #7189
I have the same issue...

[2019-07-16 11:58] Rayzbam commented on #3891
Same issue here, how can i get the referenced assembly and ITS dependencies following. I mean an assembly without its PackageReference has no point actually .. And i can't imagine a project reference can't expose its PackageReference.

[2019-07-16 13:26] #8337 closed, assigned to dtivel

[2019-07-16 17:55] nkolev92 commented on #8302
Hey @RobSwDev

That's a problem space we're actively investing in and goes beyond NuGet. The NuGet specific one is unfortunately compounded by potential slowness in other components.

We're actively investigating all possible improvements.

If you are seeing particular problems with build, I'd recommend filing a feedback issue via the Report a Problem dialog in VS.

For now I'll close this issue a

[2019-07-16 17:55] #8302 closed, assigned to nobody

[2019-07-16 19:24] springy76 commented on #8066
I just had a strange déjà vu when I did this stackoverflow today: https://stackoverflow.com/questions/57058347/netcore-expecting-nu1701-but-i-get-nothing
(meanwhile I changed the NuGet package to target net461 instead of net45 in hope this would help, but NOPE).

Please anyone help!! I need a suggestion how I can find out what might go wrong, or why.

[2019-07-16 21:51] cristinamanum opened #8338 "Restore with RestoreLockedMode and no lock file should error."
## Details about Problem

The restore with RestoreLockedMode  = true and no lock file does not work or error but a new lock file is created.

## Detailed repro steps so we can see the same problem

1. Create a project with RestoreLockedMode = true and delete the lock file if present.

2. Build/restore.

Result: No error and the lock file is created.

[2019-07-16 22:26] nkolev92 opened #8339 "Reduce UI refreshes in browse tab of Package Manager UI #6570"
It's a waste of cycles, as the reload would happen happen anyways, when the control is loaded (the loaded event).

Related:

https://docs.microsoft.com/en-us/dotnet/api/system.windows.frameworkelement.loaded?view=netframework-4.8
https://blogs.msdn.microsoft.com/mikehillberg/2006/09/19/the-loaded-event-and-the-initialized-event/

//cc @dtivel

[2019-07-16 22:53] nkolev92 commented on #6570
Also related to this:

https://github.com/NuGet/Home/issues/8339

[2019-07-16 23:43] mwpowellhtx commented on #6098
Not *PackageReference* but rather *ProjectReference*. I think we're talking about internally distributed assets here, do not necessarily require a full on NuGet package for internal delivery. Is this still a thing? Is this a NuGet issue or an MSBuild issue? We are doing something similar, we are looking for an analog, if not the same, as the *PackageReference*/*PrivateAssets* path for *ProjectRefe

[2019-07-17 01:48] #8327 closed, assigned to nobody

[2019-07-17 02:10] bender2k14 commented on #5553
I don't have any long-term need for the `-DependencyVersion` option.  I was confused about how some aspects of NuGet package management work.

In the process of trying to remove binding redirects from my code, I thought a good solution was to [request `Serilog.AspNetCore` change their dependencies](https://github.com/serilog/serilog-aspnetcore/issues/85).  (I now know this was a bad idea.)  The [f

[2019-07-17 09:39] mrward commented on #8330
Another approach may be to change NuGet to allow injection of a custom HttpMessageHandler - VS Mac currently duplicates some code from NuGet in order to support a custom HttpHandlerResourceProvider. That might be more work than just providing a way for the custom resource providers to be used everywhere.

[2019-07-17 11:03] ganesanviji opened #8340 "Binding redirect not added when update the NuGet packages"
Hi

I have tried to update the NuGet packages in my ASP.NET MVC Project. NuGet packages updated to the latest assembly, but the binding redirect entries is not added in the web config file.

Replication:
1. Create the ASP.NET MVC application
2. Update the NuGet packages using NuGet update command
3. Check the web config entries and the binding redirect is not updated in the web config file

![imag

[2019-07-17 13:35] aolszowka commented on #8272
@rrelyea Its a particularly subtle bug, I suspect most devs would write it off as happenstance because after the "second build" in Visual Studio it goes away. We only notice it due to the scale of of our product (~1500 C# Files which FORCE us to build via MSBuild THEN open in VS otherwise we OOM Everywhere when trying to build).

On rebuilds it disappears but we also have a number of versions (~9

[2019-07-17 14:07] matthewjones555 commented on #3891
I don't understand how this hasn't been dealt with sooner.

As things stand, I cannot create a nuget package that depends on private libraries, i.e. libraries that are needed at runtime, but should not be exposed as a nuget package.

I either have to change the way I break down my dependencies (i.e. not breaking the private code into a separate library, even though it should be), or I have to expo

[2019-07-17 14:17] jnm2 commented on #3891
It's not a showstopper since there are various workarounds. Once upon a time to create a package you would maintain a nuspec and call `nuget.exe` to create the package. This has always worked and continues to work. (Many people still are using this method.)

[2019-07-17 15:53] craigbrett17 commented on #7397
@shadow-cs: Did you figure out how to fix this on ProGet? I'm seeing the same issue

[2019-07-17 16:01] abatishchev commented on #3891
It is.

[2019-07-17 17:11] jnm2 commented on #3891
How is it stopping a show if you can go back to building NuGet packages the original way, using your own nuspec file which lists the transitive dependencies and the bundled files? I contribute to open-source projects that do this for this exact reason.

[2019-07-17 17:42] #8339 closed, assigned to nkolev92

[2019-07-17 18:41] donnie-msft opened #8342 "Add automation for inserting into Core-SDK"
## Details about Problem

Our Release Pipeline should have a new step to insert into the new [.NET Core-SDK Repo](https://github.com/dotnet/core-sdk)

[2019-07-17 19:36] abatishchev commented on #3891
"How a missing feature in thing B can be show stopper while you always can go back and use thing A" is this what you're saying?

[2019-07-17 20:31] jnm2 commented on #3891
Exactly, yeah. It has me a little confused that this could stop someone's show, at least in the traditional meaning where it's making a higher-level goal impossible.

[2019-07-17 22:00] #8260 closed, assigned to cristinamanum

[2019-07-17 23:32] TannerBragg commented on #3891
@jnm2 @abatishchev The reason he is frustrated is because of the types of responses you just gave.  @matthewjones555 with myself included just want a tool that works well out of the box.  We don't have time to manage special cookie nuspec files (nor do I want to have to learn how all of its intricacies work because there is not any well documented here's how to do complex/advanced nuspec technique

[2019-07-18 00:13] jnm2 commented on #3891
@TannerBragg You make good points, thanks for the perspective. I'll try to avoid being frustrating. I hope Microsoft does make the tool work better; it'll make my life easier too.

I used the nuspec format for many years at my company and in open-source projects. It's well-documented and never struck me as intricate. Maybe some of you could benefit and gain immediate relief by exploring it a bit?

[2019-07-18 01:11] TannerBragg commented on #3891
@jnm2

You are correct.  It is not impossible to do.  It is just frustrating when you start trying to find concrete examples in the modern nuspec vs legacy nuspec.  They have some key differences.  Having custom build targets on hundreds of projects can become a major headache and make maintainability tough.

I apologize for the accusation.  I meant "you" as Microsoft - Not you directly.

Perhaps

[2019-07-18 04:37] ganesanviji commented on #8340
Hi

Could you please any one suggest me on this?

Regards,
Ganesan R.

[2019-07-18 04:54] davkean opened #8343 "NuGet.VisualStudio has dependencies on unofficial Microsoft packages"
This package: https://www.nuget.org/packages/NuGet.VisualStudio/5.1.0 has a dependency on this package https://www.nuget.org/packages/VSSDK.TemplateWizardInterface/ and a bunch of other non-Microsoft provided packages.

This indirectly causes http://github.com/dotnet/project-system to have a dependency on these packages. Please remove this dependency, it is causing us to have duplicate references/

[2019-07-18 08:13] matthewjones555 commented on #3891
Thankyou everyone for the extra input and replies to my post.

After reading your replies, there was one point I'd like to address.  To paraphrase it a little:

"If dotnet pack isn't working for you, why don't you go back to using nuget pack?"

This is a good point.  Nuget pack works well, but unfortunately it has its own limitations.  I'm using a template nuspec file alongside a csproj file, and

[2019-07-18 09:39] TFTomSun opened #8344 "list command throws unauthorized exception"
I try to use the list command of the nuget cli programatically.  Unfortunately I get always an Unauthorized exception when i tries to list the packages from the Artifactory source. when I use the nuget.exe cli in the same folder (context). The list command is successful. The credentials and sources look good, its actually what I expect from the NuGet.config in the parent folder. So I have no idea,

[2019-07-18 11:09] TFTomSun commented on #8344
For everybody who comes across this thread: I solved the issue. Initializing the credential provider was required. Some of the code is directly located in the nuget.commandline which seems not to be cross platform. However for my use case, I just needed the credential provider based on the nuget configuration and only for V3 feeds. Heres the code:

[code]

[2019-07-18 11:09] #8344 closed, assigned to nobody

[2019-07-18 14:35] dtivel opened #8345 "Test: flaky package signing tests"
Some package signing tests are flaky because they rely on an environment variable having a particular value, but that value may be changed by concurrent execution of another test.  An example failure is [`NuGet.Packaging.Test.ClientPolicyContextTests.GetClientPolicy_ReadsAndParsesTrustedSigners`](https://github.com/NuGet/NuGet.Client/blob/c4106cd050215296adda4560ccad5ce81f3883d7/test/NuGet.Core.Te

[2019-07-18 15:32] springy76 commented on #8066
Solved on stackoverflow within 2 days. Here nothing happened in 3 months, not a single comment or question at all 👎

[2019-07-18 15:32] #8066 closed, assigned to nobody

[2019-07-18 18:11] devlead opened #8346 "Suggestion: Add "tag" attribute to nuspec repository element"
Currently you can reference git respository specific branch and / or commit, for example:
[code]

As a commit can be referenced from  multiple tags, to be able to connect a package commit to a specific release it would be really use full to also have a `tag` attribute, for example:
[code]

[2019-07-18 18:13] xavierdecoster commented on #2867
Section [**CLI consumer experience**](https://github.com/NuGet/Home/wiki/Deprecate-packages#cli) of the spec has been updated.

[2019-07-18 19:02] pascalberger commented on #8346
Not sure it works that easy. If you expect `tag` and `commit` attribute and both are passed this is redundant information in the best case (if tag points to the specified commit) and conflicting information in the worst case (if tag points to a different commit). If you can either pass `commit` or `tag`, `tag` is not necessarily a clear reference to a specific version of the code as it can change

[2019-07-18 19:23] devlead commented on #8346
@pascalberger I don't agree that it's redundant,  i.e. if your package version and tag doesn't match it's really hard to know which release a package version was part of. SHA-1 commit is immutable so that won't change and the signing nuspec makes package immutable. Also multiple tags can point to came commit id, specifying tag in nuspec makes it clear which tag used for package release at time it

[2019-07-18 19:33] pascalberger commented on #8346
@devlead I see the point of additional information a tag provides. My issue was the case where the tag points to a different commit than the provided commit at package creation or tags change and point to a different commit after package was created. But of course first case would be just wrong information passed to one one of the attributes and the second one is at least questionable practices.

[2019-07-18 20:20] xavierdecoster commented on #7752
Having a `--json` option for `dotnet list package` would be very convenient indeed, especially when `--outdated` and `--deprecated` come into the picture. Making the output machine-readable unlocks additional tooling and automation scenarios.

Based on today's (and planned) console output, here's a suggestion.
Would love feedback/input and make sure we understand what data and format would be desi

[2019-07-18 20:25] anangaur commented on #7752
Should it be `null` or empty object list for no transitivePackages?

For multi-targetting, there is a trade-off (size of the file) between listing the packages separately for each framework vs. having this info as an attribute for each package. I like the current approach better though.

[2019-07-18 20:29] xavierdecoster commented on #7752
No strong opinion :)

The current model happens to correspond with the in-memory model used for console printing, which is rather convenient.

[2019-07-18 20:53] donnie-msft opened #8347 "Insertion of 5.3.0-preview.2.6103"
VS:
- [x] Insertion PR: [192086](https://devdiv.visualstudio.com/DevDiv/_git/VS/pullrequest/192086)

.NET Core (master)
- [x] SDK https://github.com/dotnet/sdk/pull/3436
- [x] CLI https://github.com/dotnet/cli/pull/11946
- [x] Toolset https://github.com/dotnet/toolset/pull/1699

[2019-07-18 20:54] dtivel opened #8348 "Test: NuGet.Tests.Apex.NuGetUITestCase.UninstallPackageFromUI is flaky"
This is the currently our most flaky test.

[2019-07-18 20:54] dtivel commented on #8097
Fixed by https://github.com/NuGet/NuGet.Client/pull/2914.

UninstallPackageFromUI fails for a [different reason](https://github.com/NuGet/Home/issues/8348).

[2019-07-18 20:54] #8097 closed, assigned to dtivel

[2019-07-18 21:08] nkolev92 commented on #8342
I guess this migh tnot be needed after all.

[2019-07-18 21:16] nkolev92 opened #8349 "SemVer2 should have better prerelease package recommendations"
See:

https://docs.microsoft.com/en-us/nuget/reference/package-versioning#pre-release-versions
https://docs.microsoft.com/en-us/nuget/reference/package-versioning#semantic-versioning-200

https://docs.microsoft.com/en-us/nuget/create-packages/prerelease-packages#semantic-versioning

In a couple of places in these articles we make a recommendation that customers should author their prerelease versi

[2019-07-18 21:18] donnie-msft commented on #8342
Yep, Livar didn't want me to do insert to that repo when I asked, yesterday. Closing for now.

[2019-07-18 21:18] #8342 closed, assigned to donnie-msft

[2019-07-18 21:44] zivkan opened #8350 "Use insert_final_newline in .editorconfig"
I like files ending with a new line. Makes git diffs nicer :)

[2019-07-18 21:54] #8349 closed, assigned to nobody

[2019-07-18 21:54] nkolev92 commented on #8349
Issue moved to [NuGet/docs.microsoft.com-nuget #1551](https://github.com/NuGet/docs.microsoft.com-nuget/issues/1551) via [**ZenHub**](https://www.zenhub.com/)

[2019-07-18 21:55] #8348 closed, assigned to dtivel

[2019-07-18 22:40] #8345 closed, assigned to nobody

[2019-07-18 22:55] dtivel opened #8351 "Telemetry: datetime values use culture-specific formats"
[`TelemetryActivity`](https://github.com/NuGet/NuGet.Client/blob/d70e1f5475c9915f10ac4503553972d9bb988ce9/src/NuGet.Core/NuGet.Common/Telemetry/TelemetryActivity.cs#L65) and [`ActionEventBase`](https://github.com/NuGet/NuGet.Client/blob/d70e1f5475c9915f10ac4503553972d9bb988ce9/src/NuGet.Core/NuGet.PackageManagement/Telemetry/ActionEventBase.cs#L31) both call [`DateTimeOffset.ToString()`] which cre

[2019-07-18 23:39] vsfeedback opened #8352 "OutOfMemoryException when using Package Manager UI"
Using VS nuget GUI to consolodate different versions of a package crashes the instance of VS. Occurs in 2017, 2019 and 2019 int preview.

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/608137/crash-when-consolodating-nuget-packages.html
VSTS ticketId: 918791_
_These are the original issue comments:_

Fiona Niu[MSFT] on 6/17/2019, 01:10 AM (31 days ago):

[2019-07-19 00:15] zivkan commented on #8352
From the solution that reproduces the issue, there's 138 projects (although about 4 wouldn't load on my computer), 20 package sources and 290 packages used in the solution. The first time I loaded the solution, Visual Studio was using about 700MB of memory and when I opened the Package Manager UI and changed the package source to "All", memory ballooned until the process crashed.

When analyzing t

[2019-07-19 00:24] donnie-msft commented on #8332
I was unable to repro this, as my PMUI loaded in Step 8.
Can you try to repro this again? Also would like to know if you are getting a hang/freeze, or if something unexpected is shown in the PMUI after Step 8.

I tested on the following:

-  VS Enterprise 2019 Version 16.1.6 (VisualStudio.16.Release/16.1.6+29102.190)

-  VS Enterprise 2019 Int Preview Version 16.3.0 Preview 1.0 [29117.161.d16.3] V

[2019-07-19 01:54] awnugent commented on #4387
Just in case this is helpful to others, I found that, in an Azure DevOps on-prem agent context, that simply disabling the Install NuGet task and relying on the nuget.exe installed with the ADO agent seemed to work.
I consider this a workaround and NOT a fix. MITM certs in sensitive, security conscious environments is a real concern and a real fix would be great. We actually have the MITM device ce

[2019-07-19 01:57] jnm2 commented on #6184
@thomaslevesque You're a lifesaver! (Currently at https://github.com/dotnet/roslyn-sdk/blob/master/samples/CSharp/Analyzers/Analyzers.Implementation/Analyzers.CSharp.csproj also.)

[2019-07-19 02:04] jnm2 commented on #6793
Unfortunately `BuildOutputTargetFolder` is no help since the analyzer's target framework is appended to that path, and e.g. `analyzers/dotnet/cs/netstandard1.3` is not a valid path according to https://docs.microsoft.com/en-us/nuget/reference/analyzers-conventions#analyzers-path-format.

@rohit21agrawal posted one workaround at https://github.com/NuGet/Home/issues/6184#issuecomment-348590157:

The

[2019-07-19 02:10] jnm2 commented on #2995
Following on, since this need hasn't gone away:
https://github.com/NuGet/Home/issues/6184#issuecomment-348590157
https://github.com/NuGet/Home/issues/6793

[2019-07-19 04:17] Jun-GY opened #8353 "vs nuget settings binding Redirects and Project binding Redirects What is the relationship?"
vs nuget settings  binding Redirects and Project binding Redirects What is the relationship?

[2019-07-19 09:02] v-nancyj commented on #8332
@donnie-msft I can repro this again on 16.3 Preview1 Release Candidate VS D16.3\29118.114. There is no hang or freeze appeared after step8, the project Lib2 PM UI fails to load after reloading csproj, I record a video for the steps on the repro machine, could you help to see the detail as below?
![ReproSteps](https://user-images.githubusercontent.com/20632775/61523307-a853af00-aa46-11e9-937b-77c41

[2019-07-19 10:56] ChristianSauer commented on #3891
To add to the problem, the spread of microservices really adds to the number of nuget packages. I.e. imagine that we have a microservice which exposes an API and ALSO publishes a client-package for that api. The most logical solution layout is like a server project, a c client project and a common poco class project. Now getting that to build is an absolute PITA and if you mix in that you do not o

[2019-07-19 12:51] penCsharpener opened #8354 "Question: How does nuget.exe get it's version number (esp. build number)"
Maybe this is more a question for StackOverflow but since Nuget is the particular inspiration here, I'll post here.

I've just updated to my local nuget.exe to 5.1 and run `nuget` which showed the following version number:
`5.1.0.6013`

How does the 6013 get there? I've google so many pages in the search for automatic, incrementing build numbers but it never exactly tells me how to implement this.

[2019-07-19 15:29] #8350 closed, assigned to nobody

[2019-07-19 16:10] donnie-msft commented on #8333
Is there any package source difference between your Azure machine and locally? I wonder if it's finding a package source locally that it doesn't on Azure, and it can't resolve the version correctly.

[2019-07-19 18:26] #8351 closed, assigned to dtivel

[2019-07-19 18:37] donnie-msft commented on #8332
Was able to repro. The key is not to save the PMUI tab (it has unsaved changes writing the <PackageReference> to the Lib1 .csproj). Checked with Team and they are also able to repro and verified it's **not a regression**.  You also do not need step 6, as modifying the RestorePackagesWithLockFile is not required to repro this.

By unloading Lib2, the PMUI for Lib 1 crashes and "Package Manager" Out

[2019-07-19 19:57] nkolev92 commented on #8354
It's the CI build number.

It's only really implemented on the CI. Pretty much all CI/CD services allow for some sort of a build number, that you can embed into your assemblies.

On NuGet side we do some manual [work](https://github.com/NuGet/NuGet.Client/blob/686dd6b060639a0fb401eceb4c3a4029c1482023/build/vsts_build.yaml#L33-L49) to get our CI build id to be the same as the assembly build number,

[2019-07-19 19:57] #8354 closed, assigned to nobody

[2019-07-19 20:03] penCsharpener commented on #8354
Thanks, really appreciate that you've taken the time for this detailed answer!

[2019-07-19 20:13] leonard-thieu commented on #3891
@extremeandy @Rayzbam have you guys tried out [my solution](https://github.com/dotnet/cli/issues/3959#issuecomment-355648037) yet? It should do what you're looking for.

[2019-07-19 20:33] karann-msft opened #8355 "nuget global packages folder not generating"
@Geof23 commented on [Tue Jul 16 2019](https://github.com/NuGet/docs.microsoft.com-nuget/issues/1543)

I have nuget packages from multiple sources, including just a local drive.

I have added all of these to the package manager settings.  I also have added a line to the solution nuget.config file:
[code]
Also, I had to add packages.config files manually to the projects that I want dependent upon n

[2019-07-19 20:38] donnie-msft commented on #8335
The problem is not related to NuGet, but is part of the build process which doesn't expect quotes.

Tested it myself and removing the quotes from the Environment Variable avoids this error.

[2019-07-19 20:38] #8335 closed, assigned to nobody

[2019-07-19 20:49] Geof23 commented on #8355
Thanks for herding this to the right place, @karann-msft !

I did find the problem:  in my User NuGet.Config, I managed to have a 'repositoryPath' value.  Our project uses a global packages folder in the solution root, so this caused havoc.  The 'repositoryPath' directs where the packages folder lives.

[2019-07-19 21:28] nkolev92 opened #8356 "Warn when PMC commands incompatible with PR are run on a package reference project"
AddBindingRedirects is an example.

Note that this issue is about doing an extensive analysis and cover all scenarios.

Related: https://github.com/NuGet/Home/issues/7432

[2019-07-19 21:30] donnie-msft commented on #8340
Is it possible that you have disabled binding redirects in any of your nuget.config files? See [this documentation](https://docs.microsoft.com/en-us/nuget/reference/nuget-config-file#bindingredirects-section).

Other than that, please include a project that reproduces the problem so that we can better understand what's happening.

[2019-07-19 21:31] nkolev92 commented on #7432
Binding redirects is not a concept that's handled by NuGet in the transitive PackageReference world.

What NuGet used to do itself in packages.config is now moved to https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/how-to-enable-and-disable-automatic-binding-redirection.

Related issue to improve the discoverability of this information.
https://github.com/NuGet/Home/issues/8356

[2019-07-19 21:31] #7432 closed, assigned to nobody

[2019-07-19 21:41] TannerBragg commented on #3891
@leonard-thieu We don't want to implement your solution 100 or 1000 times over.  It's not maintainable large scale.  Sorry to turn my nose to it, but we want to the tool to do it.  Thanks, for the offer.

[2019-07-19 21:41] TannerBragg commented on #3891
@leonard-thieu We don't want to implement your solution 100 or 1000 times over.  It's not maintainable large scale.  Sorry to turn my nose to it, but we want to the tool to do it.  Thanks, for the offer.

[2019-07-19 21:55] leonard-thieu commented on #3891
My message was intended for the two people looking for a workaround.

I understand that your scenario is beyond the scope of the workaround and I do hope a first party solution eventually gets implemented.

[2019-07-19 22:01] donnie-msft commented on #8353
Relevant information:
https://docs.microsoft.com/en-us/nuget/tools/ps-ref-add-bindingredirect
https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/redirect-assembly-versions

[2019-07-19 22:30] nkolev92 commented on #6714
Got the dmp offline.

I don't see a NuGet on the UI thread.

NuGet is not anywhere on the stack, but that could be because he symbols are unavailable.

Not sure if there's anything we can here at present.

[2019-07-19 23:00] karann-msft opened #8357 "5.2 Release - publish packages and nuget.exe"
- [ ] publish all packages to nuget.org
- [ ] publish nuget.exe to the downloads page

cc: @nkolev92 @rrelyea

[2019-07-19 23:05] zivkan commented on #8259
There are only 8 projects in the repo, excluding tests, which have files that contain `using Newtonsoft`.

Project|Files|Comments
--|--|--
NuGet.Tools|1|No public APIs.
Microsoft.Build.NuGetSdkResolver|1|No public APIs.
NuGet.Build.Tools|10|Only unnecessary usings, which Roslyn interestingly didn't recognise as unnecessary.
NuGet.Credentials|1|No public APIs.
NuGet.PackageManagement|2|Public APIs

[2019-07-19 23:09] nkolev92 commented on #6714
Unfortunately we can't repro this anymore.

Based on the scenario, this could've been fixed by https://github.com/NuGet/NuGet.Client/pull/2145 and might've been a duplicate of https://devdiv.visualstudio.com/DevDiv/NuGet/_workitems/edit/591458.

Can't confirm right now, so closing this at this point.

[2019-07-19 23:09] #6714 closed, assigned to nobody

[2019-07-19 23:53] zivkan commented on #8259
There is a [Guide to Porting from Newtonsoft.Json to System.Text.Json](https://github.com/dotnet/corefx/blob/61024c30b966ee63c357a491370a2daf94c4c42f/src/System.Text.Json/porting_guide/README.md). I used the permalink in case it moves or disappears in the future, but check for an updated version if working on the migration in the future.

Below are some issues discovered during investigation. They

[2019-07-20 00:00] zivkan commented on #8259
When using `System.Text.Json` on a `net472` project, the following assemblies are copied to the output folder:
[code]

Since System.Text.Json (and possibly some of the other assemblies) are still in heavy development, there's a concern that there could be assembly load failures when different assemblies depend on different versions given that NuGet is inserted into MSBuild and the .NET SDK.

We've

[2019-07-20 00:07] vsfeedback opened #8358 "Decrease the number of UI refreshes when installing through the Package Manager UI"
Checkout https://github.com/pasisavolainen/Teshtink/commit/a16a6485dfc9adf550415445cc1109e52c6d0cb6

Open &quot;nullextension-benchmark.sln&quot;
&quot;manage nuget packages for solution&quot; on solution.
Go to &quot;Update&quot;, elect to update all packages.

Restoration will be extremely slow until the &quot;Nuget - Solution&quot; window is closed.

_This issue has been moved from https://deve

[2019-07-20 00:08] #8358 closed, assigned to nkolev92

[2019-07-20 06:33] Nirmal4G opened #8359 "How do I ignore satellite assembly when publishing?"
From: NuGet/docs.microsoft.com-nuget#1549

I want to reduce the my size of my published project. For local testing, I don't need all the language specific resources, just the neutral version is more than enough. I also test them manually by removing and adding language specific resources when the project is running!

So, How do I ignore the language folders from NuGet `PackageReference`?

**edit b

[2019-07-20 06:44] Nirmal4G commented on #8359
There are no options for excluding resources in `*Assets` metadata on `Framework/Project/PackageReference`.

In addition to existing options (like compile, runtime, etc...), I would like a `resource` option, that can handle resources.

[2019-07-20 13:42] Jun-GY commented on #8353
@donnie-msft，vs options->Nuget Package Manager->Binding Redirects(Skip applying binding redirects) Do not know！

[2019-07-20 15:31] dtivel opened #8360 "Test: NuGet.Protocol.Plugins.Tests.PluginProcessTests.FilePath_WithExitedProcess_Throws is flaky"
`NuGet.Protocol.Plugins.Tests.PluginProcessTests.FilePath_WithExitedProcess_Throws` is flaky.
[code]

[2019-07-20 21:03] jjanuszkiewicz commented on #5138
@karann-msft My scenario is not related to nuget.org at all, but to publishing to our private Nuget feed (although it would apply to nuget.org the same if we published public packages).
At my company, we have a build process in which we build a number of Nuget packages. Our build numbers are (more or less) autoincrementing, but we don't want every build to produce a new version of a package if the

[2019-07-20 22:07] dtivel opened #8361 "Test: scripts/funcTests/runFuncTests.sh fails on macOS"
[This commit](https://github.com/NuGet/NuGet.Client/commit/6bbf84b17503b7c3de15edb5b639457e92cc402e) introduced an error in scripts/funcTests/runFuncTests.sh.  Example:
[code]
The reason is that the syntax for the `rm` command puts options before file/directory paths.  Linux is lenient and allows options after paths but macOS is not.

CC @donnie-msft

[2019-07-20 22:40] dtivel opened #8362 "Test: .NET Core SDK 1.1.1 is failing to install on macOS"
.NET Core SDK 1.1.1 install is failing in our CI pipeline on macOS.  The root problem is [this change](https://github.com/dotnet/cli/commit/7a1afb7e707e44fd3a3c6e0dd81dc92aa9b7f7d9#diff-3385102241bcd3718b9ca13a0c55b9afR615);  `--remove-directory` does not exist on macOS.

Example:
[code]

[2019-07-21 00:21] dtivel commented on #8362
https://github.com/dotnet/cli/issues/11964

[2019-07-21 08:12] daconglee commented on #5384
https://github.com/madskristensen/BundlerMinifier/issues/309

[2019-07-21 13:37] dtivel opened #8363 "Test: tests not cleaning up"

[2019-07-22 15:53] xavierdecoster commented on #8314
I second that! :)

Regarding the formatting of the alternate package info, I'm sticking to the already used `PrettyPrint` format: `BaseTestPackage (>= 1.0.0)`

[2019-07-22 16:51] #8353 closed, assigned to nobody

[2019-07-22 17:17] #8361 closed, assigned to dtivel

[2019-07-22 17:22] heng-liu opened #8364 "Remove temporary WorkaroundNetStandard target from common.targets"
Related issue: https://github.com/dotnet/cli/issues/11378
The above issue is already fixed in VS 2019 16.2 preview2.
But we don't have the latest version of VS on VSEng-MicroBuildVS2019 agent pool (the current version is 16.1.6). So we have to add a temporary WorkaroundNetStandard target to common.targets to make the build pass.

We need to remove this WorkaroundNetStandard target from common.targ

[2019-07-22 17:43] dtivel opened #8365 "Test: update .NET Core SDK"
[.NET Core SDK 1.0 has reached end of life status](https://dotnet.microsoft.com/download/dotnet-core).  [scripts/funcTests/runFuncTests.sh](https://github.com/NuGet/NuGet.Client/blob/cb8a79ef3c75a614b768c879cf465759c053b019/scripts/funcTests/runFuncTests.sh#L41) should be updated to 2.1 or later.

[2019-07-22 17:45] #8362 closed, assigned to dtivel

[2019-07-22 17:46] dtivel opened #8366 "Test: target correct dotnet-install.sh download URL"
Update scripts/funcTests/runFuncTests.sh to use https://dot.net/v1/dotnet-install.sh.

[2019-07-22 17:48] nkolev92 commented on #5138
@jjanuszkiewicz

fwiw a skip duplicate switch has been added to nuget.exe https://github.com/NuGet/Home/issues/1630b courtesy of @donnie-msft

It's usually less error prone if you don't allow overwriting of packages on your feeds.

I know this is lateral to this ask, but just a suggestion to improve your workflow with what's currently in place.

[2019-07-22 18:34] nkolev92 opened #8367 "Builds tags can't be set if the author name has special characters"
Refer to https://github.com/NuGet/NuGet.Client/pull/2948#issuecomment-513901027

[2019-07-22 18:53] heng-liu commented on #8359
Hi, thanks for reporting this issue!
Do you mean for now, you put localized resource assemblies in a single package? If yes, have you tried to use [localized satellite packages ](https://docs.microsoft.com/en-us/nuget/create-packages/creating-localized-packages#localized-satellite-packages)?

[2019-07-22 19:11] akoeplinger opened #8368 "Update Xamarin frameworks to map to NetStandard 2.1"
The mapping table in NuGet.Client needs to be updated so Xamarin frameworks can support NS2.1 libraries.

See https://github.com/NuGet/NuGet.Client/pull/2948

[2019-07-22 19:13] #8363 closed, assigned to dtivel

[2019-07-22 19:35] nkolev92 opened #8369 "Metrics to track the refresh rate of the PM UI"
Add metrics to help track the refresh rate of the PM UI.

This would allow us to track the improvements made in https://github.com/NuGet/Home/issues/8039 &
https://github.com/NuGet/Home/issues/8339 &
https://github.com/NuGet/NuGet.Client/pull/2935

Spec: https://github.com/NuGet/Client.Engineering/pull/98

[2019-07-22 20:28] dtivel commented on #8366
According to https://github.com/dotnet/cli/issues/11964#issuecomment-513925892 we should use https://dot.net/v1/dotnet-install.sh.

[2019-07-22 20:36] #8360 closed, assigned to dtivel

[2019-07-22 20:39] #8367 closed, assigned to nkolev92

[2019-07-22 21:53] Thraka commented on #7606
Please note that when this gets added to NuGet, the .NET Core doc for `dotnet restore` needs to be updated. https://github.com/dotnet/docs/issues/6496

[2019-07-22 22:01] nkolev92 opened #8370 "Analyze the refresh metrics"
Follow up to https://github.com/NuGet/Home/issues/8369

[2019-07-22 23:48] #8200 closed, assigned to JarahSi

[2019-07-22 23:48] #8197 closed, assigned to JarahSi

[2019-07-23 02:40] Nirmal4G commented on #8359
No, it's how I consume a single/meta package with satellite dlls.

For e.g. If you put `ExcludeAssets="Runtime"` the runtime assets (`native` folder) from the referenced package, will be excluded from the projects' restore deps graph. But there is no option for resources!

[2019-07-23 04:02] Thaina opened #8371 "[feature request] SemVer auto versioning possible?"
I think more and more people understanding versioning number in SemVer format to publish with nuget. And SemVer is mostly straightforward. It seem like we could possibly have analyzer and diff automatically with C# reflection by comparing public signature & deprecate attribute & file hash

- If all public signature is the same but file hash changed, bump the patch
- If there are any new public sig

[2019-07-23 05:44] maciakon commented on #7827
@richardzaat No, I have just removed SSDT from the build machine.

[2019-07-23 07:13] richardzaat commented on #7827
@maciakon

Seems that this will not be solved until Nuget 5.3 version.
Work around: add the path to your latest MSBuild bin directory to the PATH, then restart the Azure DevOps agent. E.g. add D:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\15.0\Bin to the PATH variable.

Nuget first searches the PATH and then checks C:\Program files (x86) and all its subfolders for the msbu

[2019-07-23 07:17] xavierdecoster commented on #8371
SemVer is technology agnostic and not restricted to versioning what is found in code. It's about stating intentions as an owner of the API, and communicating this to the API consumer in a semantic way.

Any automated diff tool that scans the code base for changes in public signatures may merely suggest a new version number based on the scan results. In the end, IMHO it should still be a conscious

[2019-07-23 07:47] Thaina commented on #8371
@xavierdecoster I think it should also considered that we could `intend to make it auto` with the project config

I just think that we should have an option in project config (`"autoSemver" : true` maybe? let it false by default) and nuget will hook its semver analyzer in post build event

We might also put other process to let we have clearer intention. But it should be the default process that i

[2019-07-23 07:48] RobSmyth commented on #352
If it is an epic, can the epic be split into smaller stories that deliver usable functionality each sprint?

e.g: A support for 32x32 png icon only. No resize, nothing else. Not visible in NuGet on-line, but could be visible in our 3rd party browser.

[2019-07-23 07:57] xavierdecoster opened #8372 "[Deprecation] Handle corner case of multiple sources with deprecation info for a given package"
As per discussion [here](https://github.com/NuGet/NuGet.Client/pull/2928#discussion_r305937872), if there are multiple sources with deprecation info for one or more packages, for now showing the first one is fine.

Need to output an additional message, something like:

[code]

[2019-07-23 08:17] Thaina commented on #8371
@xavierdecoster I have fully read your blog post and I have disagree with you at one thing

You don't need to `see standard definition of public API`

You could shape it and let us have discussion here
I almost agree with your definition I have seen. And just let us manually override case by case. But your definition would serve as a base, a fallback, a failsafe. So we would commit and publish wit

[2019-07-23 09:17] xavierdecoster commented on #8371
I do understand what you're after, but I don't think it's a NuGet responsibility. It's analysis that should happen before creating the NuGet package.

Here's some additional literature that might convince you that there's friction, a contradiction if you will, which makes it impossible for automation to *decide* the next version. It can merely analyze and suggest, and *help the author to decide*.

[2019-07-23 09:35] Thaina commented on #8371
@xavierdecoster I think I have mostly agree with you. But my point is, the process of `analyze and suggest, and help the author to decide` could be happen at build time (not a publishing time). And the result is just putting the version number directly in project config for nuget (because this is where we would want to have SemVer semantic be utilized)

At the time we would publish. If there was a

[2019-07-23 09:53] Thaina commented on #8371
@xavierdecoster I have try to understand the friction between SemVer and nuget site. But then I realize that it opposite

If we just try to let SemVer be standardized then the nuget would have more reason to adopt it in the system

And for all of those. The concept of `major.minor.patch` could be the same for any versioning kind. semantic string or build number is not the important point. I think

[2019-07-23 10:09] moerwald commented on #1459
Has there been any progress on this topic?

We're creating NuGet packages on feature/bugfix branches. Since we're using this schema "bugfix/QPSTEGW-7387"|"feature/QPSTEGW-7387" the 20 characters limit is reached very fast. Where "QPSTEGW-7387" is the JIRA project and ticket number.

[2019-07-23 12:24] freelancer6969 opened #8373 "Illegal characters in path while nuget restore"
I have CSharp project available on my local machine.
![image](https://user-images.githubusercontent.com/53221950/61711829-9f2e4f00-ad72-11e9-8d87-e4dc57ab0494.png)

Here If I do nuget `update SeleniumNUnitParam.sln` I am getting `Illegal characters in path.`

![image](https://user-images.githubusercontent.com/53221950/61711963-e61c4480-ad72-11e9-9b0a-1b7baf586b34.png)

Strange thing is I am able t

[2019-07-23 13:16] xavierdecoster commented on #8371
NuGet fully supports the SemVer2 spec nowadays and simply accepts whatever version you want to use for your package. There are reasons why SemVer evolved from v1 to v2 and introduced support for build metadata, so narrowing it down again and only support integers would be a mistake.

There are multiple issues with the feature you request that are out of scope for NuGet and should be handled before

[2019-07-23 13:25] JBastiaan opened #8374 "GeneratePathProperty not generating path to package, in Visual Studio 2017 (equivalent NuGet.exe/msbuild.exe/dotnet work)"
GeneratePath property does not seem to work in my project. I want to be able to copy a documentation file that is in a package to the build output. I found the new GeneratePath property feature. But when i use it in my projectfile as seen below the property just isnt generated.

[code]

output:
Could not copy the file "D:\contentFiles\any\netcoreapp2.2\Blabla.DataServices.Bla.xml" because it was n

[2019-07-23 15:44] Thaina commented on #8371
@xavierdecoster Firstly. I think it's not that we would `narrow it down` to 3 integers. But I just scope this feature/tool to focus on only first 3 integer. And we don't need to care for the last part, be it integer or metadata string is up to each developer decision

But the main concern is, if there would be any change that should be seriously concern. Especially adding or removing public api. T

[2019-07-23 16:30] heng-liu commented on #8374
Hi, I tried to repro with the following project file, but it copied the Newtonsoft.Json.xml correctly:
[code]
Not sure if the path in your output "D:\contentFiles\any\netcoreapp2.2\Blabla.DataServices.Bla.xml" is right. Can you check the obj/***csproj.nuget.g.props file to see if the $(PkgBlabla_DataServices_Bla) is correct there?

[2019-07-23 17:00] heng-liu commented on #8373
Hi, can you add "-verbosity detail" when you run nuget update command and paste the output here? Thanks!

[2019-07-23 17:11] donnie-msft opened #8375 "Bad configuration causes restore to fake succeed in VS/fail with a null pointer exception."
## Details about Problem

See https://github.com/NuGet/Home/issues/8375#issuecomment-728659420

Bad configuration can cause restore to throw a fit :)

~Currently we have a non-consistent repro reported by @agr where modifying the csproj externally, and changing a PackageReference version, a No-Op restore happens, when a package upgrade is expected.~

~Interesting note:
When the issue reproduces, r

[2019-07-23 17:40] #8368 closed, assigned to nobody

[2019-07-23 17:49] nkolev92 commented on #8375
This sounds weird.
If it turns out to be a bug, it can be 2 things:
The DependecnyGraphContext is somehow not refreshed on NuGet side.
The old project system is reporting outdated references.

Then how did we verify that a no op happened for that project in the first place?
Did we look at the assets file? Look at the dependencies node in the sln manager?

[2019-07-23 17:52] donnie-msft commented on #8375
Maybe my terminology is too strong. I'm calling it No-Op because it told Andrei that all packages were up-to-date.

//cc: @agr  Can you look at the places Nikolche mentioned next time you have a repro?

[2019-07-23 18:02] agr commented on #8375
When it repros the error message is:

[code]
So, it's not just no-op.

[2019-07-23 18:15] nkolev92 commented on #8375
This usually means that only packages.config projects were found. messages for PR are different.

This is our culprit. Something went wrong during the PR restore.

Does restoring again hit the same issue or you didn't try that?
I'm basically trying to figure out if something is out of date and it hit an NPE, or if once we hit that NPE, we keep hitting it.

[2019-07-23 18:20] agr commented on #8375
Restoring repeatedly fails until I run `Get-Package` in PMC or restart VS. Closing and reopening the project does not help.

[2019-07-23 18:32] nkolev92 commented on #8375
If you hit this again, can you enable high verbosity? It will help us understand where exactly the exception occurs.

[2019-07-23 18:41] #8366 closed, assigned to dtivel

[2019-07-23 20:28] anangaur commented on #5553
One of the ways is to run [`dotnet list --include-transitive`](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-list-package#options). This funtionality is not yet available with Visual Studio, but we will get there.

The other part is to understand why a specific version was selected. We do not have a mechanism to show this information, but may be having a `why` command would help here.

[2019-07-23 21:28] RogerioDosSantos commented on #7792
Indeed following the steps described by @rrelyea using the microsoft/dotnet:2.2-sdk docker image, I can confirm that we still get Response status code does not indicate success: 401 (Unauthorized).

[2019-07-23 22:11] heng-liu commented on #8359
Will using localized satellite packages solve your problem? It will separate localized resources and IntelliSense XML files into satellite packages. You may check the two different approaches here: https://docs.microsoft.com/en-us/nuget/create-packages/creating-localized-packages

[2019-07-23 22:57] anangaur commented on #7769
@sxmanton Were you able to work on the repro. If not, can we close this issue for now and you can create another issue when you encounter this again?

[2019-07-24 00:20] freelancer6969 commented on #8373
@heng-liu : Here Are the Logs for `nuget update `

[code]

[2019-07-24 00:39] nkolev92 commented on #8371
Thanks for filing this @Thaina, but I agree with @xavierdecoster, that this is not the client's responsibility.
The client supports semver, but does not enforce it.
We should not/cannot make assumptions about the user's intentions.

There are too many technical challenges and scope creeps with NuGet meddling with versions at build time.

While I understand efforts by other tools(or package feeds,

[2019-07-24 00:43] nkolev92 commented on #8374
Helpful if you tell us which version of the tooling you are using.
Also note that 5.1/16.1 has a bug if the casing in the Include is not equivalent to the casing in the nuspec of the package: https://github.com/NuGet/Home/issues/7843

[2019-07-24 02:50] heng-liu commented on #8373
Looks like the PATH environment variable is not set properly. Can you please check if it contains Illegal characters? Or you can paste it here so I can repro. Thanks!

[2019-07-24 03:21] freelancer6969 commented on #8373
@heng-liu
In the System Variable --->> Path -->>
I have Below Variables set

[code]

This is where I have my nuget.exe

![image](https://user-images.githubusercontent.com/53221950/61762242-f83bc880-adee-11e9-965d-7c4da40ac2e6.png)

I just wanted to update I am able to use other nuget commands like `nuget list`.

![image](https://user-images.githubusercontent.com/53221950/61762534-e4dd2d00-adef-11e

[2019-07-24 03:34] johnwc commented on #4459
@Korporal @qJake  That is actually what I did, I created a nuget package that does just that. Publishes your project's nupkg after build, locally or remotely. I built it for internal use but just recently shared it on GitHub and published it in Nuget.org.

I have plans on building a UI property page for VS, so that you can easily edit the settings that way. But, until I can get to that, you can ea

[2019-07-24 03:52] Nirmal4G commented on #8359
@heng-liu I think you misunderstood my problem.

**I'm not the one creating those packages, @Microsoft is**. So, If they separate resources in to different packages, then, yes, that would solve my problem.

Roslyn team have packages with `Microsoft.CodeAnalysis*` ID. Those package have satellite assemblies within a single package, not following the guideline you mentioned above and as do so many o

[2019-07-24 03:53] heng-liu commented on #8373
Please paste the complete list of PATH.
You may use $env:PATH if you use powershell.

[2019-07-24 04:37] freelancer6969 commented on #8373
@heng-liu  Please Find below the complete list of PATH.

[code]

[2019-07-24 05:22] JBastiaan commented on #8374
Thanks for your response. I tried your example which also isnt working for me. One thing i forgot to mention is that i see a blue squiggly under the pkg name.

![image](https://user-images.githubusercontent.com/6311598/61767100-611d4380-ade3-11e9-94b2-1f252c39ffba.png)

Am i missing something here? When i check the nuget.g.props inside the obj folder there isnt a pkgnewtonsoft_json reference anywh

[2019-07-24 05:39] JBastiaan commented on #8374
Im not sure which tooling version you are looking for. Anyway this is all the version info i can get out of visual studio:

Microsoft Visual Studio Enterprise 2017
Version 15.9.14
VisualStudio.15.Release/15.9.14+28307.770
Microsoft .NET Framework
Version 4.8.03752

Installed Version: Enterprise

Architecture Diagrams and Analysis Tools   00370-00001-77619-AA254
Microsoft Architecture Diagrams and

[2019-07-24 08:23] LizNettleship commented on #7140
Experienced the same issue - trying to package a single file with no file extension and blank target. Worked round the issue by adding a target folder.
This errors
	<files>
		<file src="..\UltraOptions\ulpopt" target="" />
	</files>
But pack command works after adding target folder
	<files>
		<file src="..\UltraOptions\" target="UltraOptions" />
	</files>

[2019-07-24 08:33] LizNettleship commented on #7140
Had the same issue - trying to include a file with no extension in the name errored, but after adding a target for the file nuget pack works again
This errors:
`	<files>
		<file src="..\UltraOptions\ulpopt" target="" />
	</files>`

but this is OK
`	<files>
		<file src="..\UltraOptions\ulpopt" target="ulpopt" />
	</files>`

[2019-07-24 13:22] #8280 closed, assigned to xavierdecoster

[2019-07-24 13:28] gravidThoughts opened #8376 "Make .NET 4.7.2 and later support .NET Standard 2.0 (not 4.6.1+)"
Can I configure Nuget client infrastructure to behave like the default Paket configuration?

Per a fantastic [article](https://weblog.west-wind.com/posts/2019/Feb/19/Using-NET-Standard-with-Full-Framework-NET) by Rick Strahl:

[2019-07-24 13:56] ArulPushpam commented on #6324
I just removed that project in my solution, then added the same project again.it worked

[2019-07-24 16:24] OutgoingOpossum commented on #7483
I would like to second on this issue.

Re-enabling this configuration option would allow companies running their internal package repositories to default to the "All" package source, allowing the following scenario:

Repositories in order of how a package should be resolved:
1. Internal package repository (sonatype Nexus, JFrog Artifactory, ...)
2. Official NuGet package repository

[2019-07-24 17:58] nkolev92 commented on #7140
Related issue: https://github.com/NuGet/Home/issues/7601

I believe this is a longstanding issue of how extensionless paths are assumed to be folders first, but can't confirm without further investigation.

[2019-07-24 18:11] heng-liu commented on #8357
Done with publishing all 5.2.0 packages. https://devdiv.visualstudio.com/DevDiv/_releaseProgress?releaseId=383159&_a=release-pipeline-progress
Done with publishing nuget.exe 5.2.0 to the downloads page. https://www.nuget.org/downloads

[2019-07-24 18:11] #8357 closed, assigned to heng-liu

[2019-07-24 19:44] mrvoorhe opened #8377 ""Unknown command" is a worthless error message"
[code]

This is worthless.  Either display the help or tell me how to display the help.  Don't make me guess.

4th times a charm.

[code]

[2019-07-24 19:45] #8369 closed, assigned to nkolev92

[2019-07-24 20:08] fernandocerkal commented on #6221
Thanks for this explanation!
I did this and I could run dotnet restore.

[2019-07-24 22:24] nkolev92 opened #8378 "Failing dotnet list package tests"
DotnetListPackage_ProjectWithInitialTargets_Succeed
DotnetListPackage_Transitive
DotnetListPackage_Succeed
DotnetListPackage_FrameworkSpecific_Success

Are failing starting with https://github.com/NuGet/NuGet.Client/commit/3da3d9db15d1d0a6ea514c0d851539931c5ed602.

//cc @xavierdecoster @NuGet/nuget-client

[2019-07-24 22:55] Paul-Dempsey commented on #8377
Most programs that require arguments will display their usage message when run with no arguments, so all you needed to do is run just `nuget.exe` (no arguments).  But yes, in addition to 'unknown command <foo>', it should say `Run 'nuget help' for  a list of available commands."

[2019-07-24 23:03] Paul-Dempsey commented on #8373
You have some real oddities in there: PATH should contain only folders, but you have `C:\Windows\System32\cmd.exe` and the two entries ending with semicolons are suspicious also. I suggest you clean these up and try again.

[2019-07-24 23:13] chaami commented on #1660
Hi,
@xen2 I think you can have a shot at having what you want with several runtime nugets and a [meta-package](https://docs.microsoft.com/en-us/dotnet/core/packages#metapackages) on top.
You have then to use a [`runtime.json`](https://github.com/dotnet/coreclr/issues/20800#issuecomment-447111654) trick that was meant for .Net core / framework itself and not apparently meant to be widely used.
So u

[2019-07-24 23:39] nkolev92 opened #8379 "Make PluginManager constructor public again"
In 0690359#diff-f2833de1ecaed93179251b95dde8d2a5R56 (related to NuGet/Home#8057), the constructor for PluginManager was made internal for seemingly no reason.

PR: https://github.com/NuGet/NuGet.Client/pull/2937

[2019-07-24 23:40] nkolev92 commented on #8379
Fixed in https://github.com/NuGet/NuGet.Client/pull/2937.

//cc @maartenba I just created this issue for trakcing purposes.

[2019-07-24 23:41] #8379 closed, assigned to nobody

[2019-07-25 00:24] freelancer6969 commented on #8373
@Paul-Dempsey  I have removed the variable `C:\Windows\System32\cmd.exe` Apart from this wat else need to be changed ?? Please find below updated environment variables.

`C:\Program Files (x86)\Common Files\Oracle\Java\javapath;C:\ProgramData\DockerDesktop\version-bin;C:\Program Files\Docker\Docker\Resources\bin;C:\Program Files\Common Files\Microsoft Shared\Microsoft Online Services;C:\Program Fi

[2019-07-25 00:35] Paul-Dempsey commented on #8373
No idea, just pointing out some things that looked odd. So did that change help?

[2019-07-25 01:23] freelancer6969 commented on #8373
@Paul-Dempsey : No It didn't

[2019-07-25 15:42] rrelyea commented on #8376
@terrajobst, @anangaur - is this a good idea. how important?
yes, mistakes were made in this area...

if so, many ways we could enable.
0) keep same behavior
1) change the default
2) change the default, allow override to have old behavior
3) keep same behavior, allow override to have 4.7.2 and above be NS2.

[2019-07-25 15:43] #7948 closed, assigned to zivkan

[2019-07-25 19:57] dtivel opened #8380 "Documentation: NuGet API documentation does not describe possible exceptions"
See https://docs.microsoft.com/en-us/nuget/visual-studio-extensibility/nuget-api-in-visual-studio.

XML doc comments for each interface member should describe which exceptions may be thrown and why via the [`<exception />`](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/xmldoc/exception) tag.

[2019-07-25 20:05] donnie-msft opened #8381 "Disable MSBuild Node Reuse temporarily so Linux doesn't timeout"
## Details about Problem
[DDNuGet-Linux ](https://devdiv.visualstudio.com/DevDiv/_settings/agentqueues?_a=agents&queueId=811&view=agents) build machines have been failing to complete due to timeout: `The job running on agent DDNuGetL001 has exceeded the maximum execution time of 60. `

The MSBuild team suggested this is a known problem which can be avoided at the cost of:
1. it's deliberately undo

[2019-07-25 20:09] donnie-msft opened #8382 "Undo temporary workaround for MSBuild bug causing Linux to timeout"
## Details about Problem
In [this issue](https://github.com/NuGet/Home/issues/8381), we set an Environment Variable to avoid a timeout caused by MSBuild: `MSBUILDDISABLENODEREUSE=1`.

Once MSBuild resolves [this issue](https://github.com/dotnet/cli/issues/11560), we should stop using this Environment Variable.

[2019-07-25 21:19] zivkan commented on #7717
I still need to debug the issue with package versions not being parsable, but with regards to a project targeting an invalid TFM, there is a change in behaviour from the project system between 15.9 and 16.2.

In 15.9 when project system calls `IVsSolutionResoreService.NominateProjectAsync`, `IVsProjectRestoreInfo.TargetFrameworks[x].TargetFrameworkMoniker` is equal to `Unsupported,Version=v0.0`, w

[2019-07-25 21:59] davkean commented on #7717
We are passing the _TargetFrameworkMoniker_ value instead of _TargetFramework_. The former being the actual target framework not what the project says it is. Regardless of what values we pass though, they should be validated and put as errors in the assets files.

[2019-07-25 22:10] nkolev92 commented on #7717
I agree with that. It is just significantly bigger change.

The fix up for the specific code path that @zivkan is investigating is a cheaper win.

[2019-07-25 22:26] gandho12 commented on #5127
Hello I have the same error :

C:\Users\gando\gitDemo\nugetpkgExperiment>dotnet add package Newtonsoft.Json
  Writing C:\Users\gando\AppData\Local\Temp\tmp7660.tmp
info : Ajout de PackageReference pour le package 'Newtonsoft.Json' dans le projet 'C:\Users\gando\gitDemo\nugetpkgExperiment\nugetpkgExperiment.csproj'.
log  : Restauration des packages pour C:\Users\gando\gitDemo\nugetpkgExperiment\nug

[2019-07-25 22:39] rrelyea commented on #5127
@gandho12  - can you tell us what nugetpkgExperiment.csproj has for TargetFramework or TargetFrameworks properties?

[2019-07-26 00:15] #8381 closed, assigned to donnie-msft

[2019-07-26 00:17] pvandervelde commented on #7101
@PatoBeltran Is there any plan to get this issue fixed? We're still stuck on using 4.3 due to this issue which blocks us from using .NET core. Would love to be able to update to the latest version of the nuget command line

[2019-07-26 05:25] freelancer6969 commented on #8373
@heng-liu : can you please guide me. If any specific troubleshooting steps need to be performed?

[2019-07-26 06:26] ganesanviji commented on #8340
Hi @donnie-msft

Thanks for the update. Now binding redirect has been updated after update binding redirect skip key as false in nuget.config file.

[2019-07-26 06:26] #8340 closed, assigned to nobody

[2019-07-26 11:23] xahon commented on #2504
What is THIS?
[code]
Why I type **v3** but it sends to **v2**

[2019-07-26 12:01] xahon commented on #7688
I have the same error and Api key is configured with `*` glob pattern

[2019-07-26 15:59] heng-liu commented on #8373
Hi, I'm not sure if double quotes works, can you try to remove them?
I went through the paths, and it seems no one could have MSbuild.exe inside. As you mentioned you can build with Visual Studio, so you have Visual Studio installed, right? Can you add the path of MSbuild.exe to PATH?

[2019-07-26 16:59] #8378 closed, assigned to xavierdecoster

[2019-07-26 17:45] dtivel opened #8383 "IVsPackageSourceProvider.GetSources(…) has ill-defined exception behavior"
While `NuGet.VisualStudio.IVsPackageSourceProvider.GetSources(…)` has [no formally defined throwable exceptions](https://github.com/NuGet/Home/issues/8380), [this comment](https://github.com/dotnet/roslyn/pull/21066#issuecomment-317567025) is the best definition so far.

This has led to internal issues 468626 and 733658.

[2019-07-26 18:25] zivkan opened #8384 "Increase Mac test verbosity"
Mac tests on that run on DDMBLDM001 always timeout. Increase the verbosity to get more information.

[2019-07-26 21:02] zivkan opened #8385 "Prevent NuGetFrameworkException from nomination API"
Since d16.1, when the project system calls nomination the framework moniker provided to us when the project's TargetFramework is invalid, is `_`, rather than `Unsupported`, as previously. This causes a `NuGetFrameworkException` when `GetShortFolderName()`. Project system is not handling exception in nomination and just reports it as a fatal error which causes a yellow bar at the top of Visual Stud

[2019-07-26 21:15] #8347 closed, assigned to donnie-msft

[2019-07-26 21:30] dominoFire opened #8386 "Test: InstallAndUpdatePackageWithSourceParameterWarnsAsync is flaky"
An APEX test is failing in multiple builds

https://devdiv.visualstudio.com/DevDiv/NuGet/_TestManagement/Runs?runId=7599252&_a=runCharts

https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=2886571

The 'Source' parameter is not respected for the transitive package management based project(s) TestProject. The enabled sources in your NuGet configuration will be used
Expected: True
Actual:

[2019-07-26 21:40] heng-liu commented on #8374
Hi, thanks for your reply!
Since https://github.com/dotnet/project-system/pull/4226 is only inserted into VS16.x, GeneratePathProperty is not fully supported by VS15.9x.
For VS15.9x, only NuGet and MSbuild command line support this meta data in property. And we're not going to change it in VS15.9x.
So if you can move to VS16.x, the problem will be solved.
Or, you may try if the following  workarou

[2019-07-26 21:50] heng-liu commented on #8374
And you will have to change it back for the settings of NuGet Package Manager , as it turns down automatic restore before build in VS,  which may cause other problems in future.

[2019-07-26 22:03] #8030 closed, assigned to dominoFire

[2019-07-26 23:02] #8384 closed, assigned to zivkan

[2019-07-26 23:12] zivkan commented on #7717
@davkean thanks for the insight into what changed, but do you know why?

We're evaluating a few possible fixes in NuGet, but the ones that feel most "correct" also have the highest chance of breaking customers who use our packages directly.

I know the nomination API contract isn't well defined/formal, but if the value of `TargetFrameworkMoniker` is only values returned from `IVsFrameworkParser.Pa

[2019-07-26 23:42] heng-liu opened #8387 "Remove CreateTempGlobalJson from NuGet.CommandLine.Test\Util.cs"
Since the VS on CI doesn't have the latest hostfxr, it could not resolve the preview SDK3.0. So there're broken tests of running nuget restore on SDK style project. (https://github.com/NuGet/NuGet.Client/pull/2835)
we add a temporary workaround to create a global.json file in temporary test folder, to make sure msbuild could pick preview version of SDK.

This work around should be removed when CI

[2019-07-27 00:04] davkean commented on #7717
We need to focus on the underlying cause, not the symbom that you are hitting this this exactly repro. Like PackageReference, and other properties,  this data comes from a project file - it can and will contain bad data, whether that's the _TargetFramework_ or the _TargetFrameworkMoniker_.  Per the design of the SDK, users are allowed to put anything they want in `<TargetFramework>` as long as the

[2019-07-27 00:34] davkean commented on #7717
Oh I understand the confusion.

Think of the `<TargetFramework>` property in the project as a user-provided string for a project config dimension (similar to Configuration|Platform). In the same way that I can have a  called `<Configuration>ThisIsMyCustomDebugString</Configuration>`, users are allowed to have `<TargetFramework>ThisIsMyCustomTFM</TargetFramework>`. In the default case we translate

[2019-07-27 00:37] nkolev92 commented on #7717
That's conclusion from this bug, but it's a significantly bigger change.
We've never written an assets file for an invalid project before, so it's something we need to analyze. But don't get us, we want and should fix this asap. Just not sure where it fits yet :)

Referring to your explanation.
Would you ever set `TargetFrameworkMoniker` when multi targeting?

There's no moniker equivalent for `Ta

[2019-07-27 00:40] davkean commented on #7717
We pass _TargetFrameworks_ solely for you to burn into the props/targets. It's not supposed to be used to figure out the moniker for a project, that's what `Frameworks.Select(f => f.TargetFrameworkMoniker)` is.

[2019-07-27 00:40] agr commented on #8375
Got it again, detailed log: [Output-PackageManager.txt](https://github.com/NuGet/Home/files/3437703/Output-PackageManager.txt)

[2019-07-27 00:42] davkean commented on #7717
Ignoring errors in assets file, what exact bug are you trying to fix?

[2019-07-27 00:46] nkolev92 commented on #7717
As a project author of a multi targeting library, how would I declare that in the csproj?

[code]
What other ways are there?

Specifically https://github.com/NuGet/Home/issues/8385, which is created in response to the watson hits.

[2019-07-27 00:53] davkean commented on #7717
In multi-target projects there's effectively two projects; outer project where the `<TargetFrameworks>` live and an inner project for each value where the `<TargetFramework>` lives. Only in the inner is the TargetFramework translated -> TargetFrameworkMoniker.

We don't use the canonical versions in the output project, so we never created it. VS itself doesn't ever see that outer project.

[2019-07-27 00:58] davkean commented on #7717
For https://github.com/NuGet/Home/issues/8385, it says we used to call with "Unsupported" as the value of TargetFrameorkMoniker. That does not match what we did prior in 16.1, we didn't translate this value, we pulled it directly from project file: https://github.com/dotnet/project-system/blob/dev16.0.x/src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSystem/VS/NuGet/ProjectRestoreInfoBu

[2019-07-27 01:00] nkolev92 commented on #7717
That aligns to my understanding.

How about the following:

I know it's a badly authored project, but what should NuGet restore for and how should the props/targets conditions be written?

Basically what if the TargetFrameworkMoniker is out of sync from TargetFrameworks?

[code]

[2019-07-27 01:03] nkolev92 opened #8388 "Clarify TargetFramework vs TargetFrameworks vs TargetFrameworkMoniker across the NuGet codebase."
Discussion in https://github.com/NuGet/Home/issues/7717#issuecomment-515638800.

NuGet should align to whatever the rest of the build expects.
//cc @davkean @zivkan @rrelyea

[2019-07-27 01:04] davkean commented on #7717
Note that I can repo this existing bug in 15.9 by putting a bad value in the moniker:

[code]

[code]

[2019-07-27 01:06] davkean commented on #7717
@nkolev92 In that case that project should be considered as targeting ".NETStandard, v2.1" despite whats its <TargetFramework> says.

I think it makes more sense if you look at it like this:

[code]

[2019-07-27 01:07] nkolev92 commented on #8388
Refer to https://github.com/NuGet/Home/issues/7717#issuecomment-515639274 specifcally.

[2019-07-27 01:08] davkean commented on #8385
I tried this in 15.9, and it repos:

[code]

[code]

[2019-07-27 01:09] nkolev92 commented on #7717
Thanks. We'll investigate in https://github.com/NuGet/Home/issues/8388.
Even commandline, we treat TargetFrameworks as the source of truth.
We'll need to reconsider that behavior.

[2019-07-27 01:11] davkean commented on #7717
Agreed. We have the same problem in some components throughout the project-system, I'm slowly weeding them out. The NuGet restore code was one I tackled in 16.1.

[2019-07-27 01:11] nkolev92 commented on #7717
Better late than never! :)

[2019-07-27 07:15] neville-nazerane opened #8389 "csproj equivalent to licence"
I usually push a nuget by using

    dotnet pack -c release

followed by:

    nuget push <package> -source nuget.org

Today I had to upload manually and it showed me the following warning:

The documentation says to use <license type="file">license\license.txt</license> in the .nuspec. I prefer not to have to update the .nuspec everytime and update the csproj file instead. I can't find any docume

[2019-07-27 08:17] maartenba opened #8390 "Revert "public -> internal" change in PluginProcess"
Tracking issue for Revert "public -> internal" change in PluginProcess NuGet/NuGet.Client#2954

[2019-07-28 01:30] freelancer6969 commented on #8373
@heng-liu
Hello,
The path contains all the values without quotes. Not sure how it's getting displayed while `$env:PATH`

![image](https://user-images.githubusercontent.com/53221950/62001070-13ffe100-b105-11e9-8809-19dff0b17d21.png)

Yes, I have a Visual Studio installed on my machine.
As Per suggetion, I have Added the path of MSBuild into PATH Variables.

`C:\Windows\Microsoft.NET\Framework64\v4.

[2019-07-28 15:10] asherber opened #8391 "nuget.exe add doesn't recognize named sources"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): nuget.exe

NuGet version (x.x.x.xxx): 5.1.0.6013

dotnet.exe --version (if appropriate):

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)): win10 v1709 (16299.1217)

Worked before? If so, with which NuGet version: No

## Detailed repro steps so we can see the same problem

[2019-07-28 15:17] dtivel opened #8392 "Test: NuGet.Protocol.Tests.HttpRetryHandlerTests.HttpRetryHandler_TimesOutDownload is flaky"
`NuGet.Protocol.Tests.HttpRetryHandlerTests.HttpRetryHandler_TimesOutDownload` is flaky.
[code]

[2019-07-28 15:39] dtivel opened #8393 "Test: NuGet.PackageManagement.UI.Test.PackageItemLoaderTests.EmitsSearchTelemetryEvents is flaky"
Test `NuGet.PackageManagement.UI.Test.PackageItemLoaderTests.EmitsSearchTelemetryEvents` is flaky.
[code]

[2019-07-28 15:54] dtivel opened #8394 "Test: Dotnet.Integration.Test.PackCommandTests.PackCommand_PackProject_PackageReferenceFloatingVersionRange is flaky"
Test Dotnet.Integration.Test.PackCommandTests.PackCommand_PackProject_PackageReferenceFloatingVersionRange is flaky.
[code]

As part of fixing this we should replace external URL's (modulo nuget.org) with local test URL's.  For example, this test hits https://test3.net, which is easily mockable with a local test endpoint.

[2019-07-28 16:06] dtivel commented on #7891
Appears to be resolved, though no fix was explicitly made.

[2019-07-28 16:06] dtivel commented on #8386
I investigated this a little.  It appears that the root cause may be the same as https://github.com/NuGet/Home/issues/7891.

![image](https://user-images.githubusercontent.com/12734758/62009651-8f1dc300-b116-11e9-973e-b90aab52cc1e.png)

[2019-07-28 16:21] dtivel opened #8395 "Test: NuGet.CommandLine.Test.NuGetPushCommandTest.PushCommand_PushToServer_WhenPluginTimesOut_ThrowsAndDoesNotFallBackToConsoleProvider is flaky"
Test `NuGet.CommandLine.Test.NuGetPushCommandTest.PushCommand_PushToServer_WhenPluginTimesOut_ThrowsAndDoesNotFallBackToConsoleProvider` is flaky.
[code]
From test history it appears that the test is consistently near its 10 second timeout.

![image](https://user-images.githubusercontent.com/12734758/62009909-0f452800-b119-11e9-88a6-bd7c823389d4.png)

[2019-07-28 19:29] dtivel opened #8396 "Test: NuGet.CommandLine.Test.NuGetPushCommandTest.PushCommand_PushToServer_WhenPluginTimesOut_ThrowsAndDoesNotFallBackToConsoleProvider is flaky"
Test `NuGet.CommandLine.Test.NuGetPushCommandTest.PushCommand_PushToServer_WhenPluginTimesOut_ThrowsAndDoesNotFallBackToConsoleProvider` is flaky.
[code]

[2019-07-28 19:45] dtivel opened #8397 "Test: NuGet.CommandLine.Test.NuGetPushCommandTest.PushCommand_PushToServer_WhenPluginReturnsNoCredentials_FallBackToConsoleProvider is flaky"
Test `NuGet.CommandLine.Test.NuGetPushCommandTest.PushCommand_PushToServer_WhenPluginReturnsNoCredentials_FallBackToConsoleProvider` is flaky.
[code]

[2019-07-28 20:31] #8383 closed, assigned to dtivel

[2019-07-28 20:59] asherber commented on #8391
Looking closer at `nuget add -help`, I see that `-source` is supposed to take only the path, not the source name, so the current behavior is correct. I'm wondering, though, whether the command should be modified so that it can take a `-name` as well.

In my case, the actual path to the folder I'm using is fairly long and cumbersome to type, so it would be easier to refer to it with `-name`. (I kno

[2019-07-29 01:47] danpowell88 commented on #7699
any update on this, its crippling our workflow

[2019-07-29 06:06] nkolev92 commented on #8389
Please refer to https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#packing-a-license-expression-or-a-license-file.

https://github.com/NuGet/Samples/blob/master/PackageLicenseFileExample/PackageLicenseFileExample.csproj
or
https://github.com/NuGet/Samples/blob/master/PackageLicenseExpressionExample/PackageLicenseExpressionExample.csproj

//cc @karann-msft @mikejo5000

I'd imagine the

[2019-07-29 07:46] JBastiaan commented on #8374
Okay thanks for the information. I did not realize this functionality was only supported in VS 2019, i think we will start upgrading to 2019 since this functionality is quite nice to have for what we are trying to do.

[2019-07-29 08:32] v-longmin commented on #7816
The issue has fixed, closed it, thanks.

[2019-07-29 08:32] #7816 closed, assigned to nkolev92

[2019-07-29 08:34] #7056 closed, assigned to nobody

[2019-07-29 08:39] v-luzh commented on #7129
Fixed on Master\29128.08 + NuGet Client Dev\5.3.0.6127. Close this bug as resolution: "Fixed".

[2019-07-29 08:39] #7129 closed, assigned to nobody

[2019-07-29 10:24] v-luzh opened #8398 "[Test Failure] Tmp file will not disappear in Solution Explorer until reload after installing a package into MyApp who had lock file while the project graph structure is MyApp->MyLib"
## Details about Problem
NuGet version: NuGet Client Dev\5.3.0.6127
VS Version: Master\29128.08
OS: Windows-10-Enterprise-19H1-04-05-2019
## Detailed repro steps
1. Create a solution with one .NET Core Console App project (called MyApp) and one .NET Core Class Library (called MyLib), make the project graph structure: MyApp -> MyLib.
2. Set property “RestorePackagesWithLockFile” to true in csproj f

[2019-07-29 11:34] amis92 opened #8399 "[Pack] Support for Analyzers, MSBuildSdks, Templates"
## Details about Problem

There is a lot of .NET Core related package types that currently have no good development story:
* [Templates](https://docs.microsoft.com/dotnet/core/tutorials/cli-templates-create-template-pack) (some problem with templates: #6862)
* [MSBuildSdks](https://docs.microsoft.com/visualstudio/msbuild/how-to-use-project-sdk?view=vs-2019)
* [Analyzers](https://docs.microsoft.com

[2019-07-29 14:34] isaacabraham opened #8400 "Creating a Saturn 0.9.0 project does not work with NuGet"
Linked to https://github.com/SaturnFramework/Saturn/issues/193. As requested by @anangaur , copying over to here for tracking here.

1. Create an F# console application using .NET Core 3 `dotnet new console -lang F#`
2. Add Saturn 0.9.0 to the project.

[code]

3. Update Program.fs as follows:

[code]

This should start a minimal ASP .NET Core application with no routes.

Instead, during build I s

[2019-07-29 15:16] json1982 commented on #4768
This still seems to be an issue when adding nuget packages from the package manager console

[2019-07-29 15:20] AndreyAkinshin opened #8401 "Multiple enumeration in NuGetPackageManager.PreviewUpdatePackagesAsync"
Currently, there is the following code in `NuGet.PackageManagement.NuGetPackageManager.PreviewUpdatePackagesAsync`:

[code]
Here we have multiple enumeration of `nuGetProjects` which may lead to a bug. E.g., if we create a new `NuGetProject` inside each `MoveNext` of `nuGetProjects`, the `Except` call will not filter any integration projects.
To avoid such kind of bugs, `nuGetProjects` should be c

[2019-07-29 15:44] #8374 closed, assigned to nobody

[2019-07-29 15:50] anangaur commented on #8400
Does paket look at ATF (Assets Target Fallback) to resolve your a .NET Framework TFM in the absence of a .NET Standard one, if specified? My guess is that ATF is messing with the resolution.

[2019-07-29 15:50] #8396 closed, assigned to dtivel

[2019-07-29 15:54] isaacabraham commented on #8400
@anangaur OK, I take the last sentence back there - Paket doesn't immediately generate a valid graph with a "min" strategy (in fact, it takes a *long* time to try to find a valid resolution).

Not sure about ATF - @sforkmann do you have any info on that front?

[2019-07-29 15:58] dtivel opened #8402 "Test: SimpleBindingRedirectsNonWeb timed out"
Test `SimpleBindingRedirectsNonWeb` hit the single test execution timeout of 10 minutes and failed a recent CI run.  In a previous run the test took 8 seconds.
[code]

[2019-07-29 16:13] forki commented on #8400
Nope. We do not.

Regarding min strategy: Paket will come up with a valid resolution eventually. (it may take centuries but it will). It will never report an invalid resolution. This case is one where we could in theory cut way more of the search tree. But right now we don't and just report how to help paket's resolver.

In this special case max strategy will immediately find a valid solution. Som

[2019-07-29 16:25] isaacabraham commented on #8400
Yeah, I gave some wrong information when I said that Paket min found the same resolution immediately - that was nonsense, it's been running over an hour and hasn't resolved. But as you say, it hasn't created an invalid one.

I think it's worth putting Paket to one side (although the fact Paket doesn't use ATF may be useful here) and focusing on Nuget.

[2019-07-29 16:33] forki commented on #8400
You may also want to open an issue on Paket and I might look into better
search space cut for this one

Isaac Abraham <notifications@github.com> schrieb am Mo., 29. Juli 2019,
18:25:

[2019-07-29 16:56] anangaur commented on #8400
My hunch is that NuGet finds a resolution to a lower version because of ATF. A strict framework requirement without ATF might have led to a different resolution (that’s where I was trying to compare with paket to understand the root cause). However, I will leave my hunch aside for the team to investigate it and find the RCA. 😄

[2019-07-29 17:32] forki commented on #8400
Just ftr: there is a valid resolution. If Paket is used with max strategy
then it finds it. Max vs min does not change the search tree. It just
changes order of evaluation.

Anand Gaurav <notifications@github.com> schrieb am Mo., 29. Juli 2019,
18:56:

[2019-07-29 18:00] rrelyea commented on #8392
Damon speculates that this may be a product bug...

[2019-07-29 18:06] rrelyea commented on #8146
assigning to @dtivel to verify and close.

[2019-07-29 18:06] rrelyea commented on #8032
damon thinks dupe

[2019-07-29 18:10] dtivel commented on #8025
Apex tests are now running in dev and private branches.

[2019-07-29 18:10] #8025 closed, assigned to dtivel

[2019-07-29 18:14] dtivel commented on #8032
Dupe of https://github.com/NuGet/Home/issues/7878.

[2019-07-29 18:14] #8032 closed, assigned to dtivel

[2019-07-29 18:24] nkolev92 commented on #8401
Looks a great addition to me. Feel free to create a PR.

[2019-07-29 18:41] AndreyAkinshin commented on #8401
@nkolev92 https://github.com/NuGet/NuGet.Client/pull/2970

[2019-07-29 18:42] anangaur commented on #7752
Announcement for the spec review: https://github.com/NuGet/Announcements/issues/35
Spec: [Machine readable output for dotnet list package](https://github.com/NuGet/Home/wiki/%5BSpec%5D-Machine-readable-output-for-dotnet-list-package)

[2019-07-29 18:45] nkolev92 commented on #7752
@anangaur @xavierdecoster Can you please put the spec in a PR to the https://github.com/NuGet/Client.Engineering repo?

It's very difficult to leave comments on a spec that's in the wiki.

[2019-07-29 20:08] zivkan commented on #7752
I agree with moving the spec to a PR so feedback can be provided more easily.

In addition, the json format needs to take into account that it's possible to run `dotnet list package` on a solution, in which case it needs to show each project separately. The proposed output only looks suitable for single projects.

[2019-07-29 20:40] anangaur commented on #7752
Agree with having the specs as files than wiki. I will try to find a place, for next specs. A common place than having client vs. server places.

[2019-07-29 20:52] nkolev92 commented on #8024
fyi @anangaur

Last time we discussed we decided to use Client.Engineering as an interim thing.

We'd be happy use a designs repo if created.

[2019-07-29 21:13] zivkan commented on #8024
Or just puts the spec in a `specs` folder here in the Home repo?

[2019-07-29 21:23] zivkan commented on #8385
@davkean I'd argue that's a different scenario as the csproj is explicitly specifying the `_` TFM. I don't believe customers are getting this exception because they're specifying a bad "long form" TFM, I believe they're  typoing a "short form" TFM.

Using this csproj:

[code]

In 15.9, NuGet's nomination receives `Unsupported,Version=0.0`, whereas in 16.3 it gets `_,Version2.0`. I don't know if it

[2019-07-29 21:33] heng-liu opened #8403 "Remove NuGet.Build.Tasks.Pack.Sdk2x package"
As there is no more NuGet insertion into SDK 2.x, there is no need to generate the NuGet.Build.Tasks.Pack.Sdk2x package in our code.
We should remove related code.
Related issue https://github.com/NuGet/Home/issues/8043

[2019-07-29 22:13] davkean commented on #8385
Let me restate some of things I've been saying on this thread and other threads:

1. The project system does not manipulate the data passed to NuGet, we are not passing "Unsupported". We are passing you the raw string. I pointed it out here, but I went back and confirmed it[1]:
2. NuGet should never throw an exception back to the project-system on bad data. This is being tracked by https://github.

[2019-07-30 10:52] Shohoo commented on #8333
Locally package sources are nuget.org and azure's feed same as on Azure.
I think I need to mention that except that there is nuget package in feed (1.0.2, 1.0.3), there is also package in nuget.org (1.0.0, 1.0.1).
But nuget 4.4.1 handles it on Azure, so I wonder what has changed in 5.0.1.

[2019-07-30 12:27] loop-evgeny commented on #7842
I still occasionally get this now, even with the workaround, but I suspect that's a TeamCity issue, so I opened a JetBrains ticket for it: https://youtrack.jetbrains.com/issue/TW-61370

[2019-07-30 15:43] loic-sharma opened #8404 "Improve error message when pushing a NuGet symbol package results in a 404"
The NuGet protocol returns a HTTP 404 response status code if the uploaded NuGet symbols package does not correspond to an already existing NuGet package:

![](https://user-images.githubusercontent.com/1833692/62123757-ea8fb280-b2c8-11e9-9778-87cbb4dfc373.png)

This behavior is documented here: https://docs.microsoft.com/en-us/nuget/api/symbol-package-publish-resource#response

The current error m

[2019-07-30 16:20] PhilPJL opened #8405 "Migrate from packages.config for an existing WCF service application fails"
Please read the following information before posting the issue.

VS version 16.2.0

 Attempting to migrate an existing .NET 4.7.2 WCF service application to use package refs results in:

![image](https://user-images.githubusercontent.com/271656/62146787-fe99db00-b2ed-11e9-9138-67d500e7122d.png)

However creating a new WCF service application allows the use of package refs.

![image](https://user-i

[2019-07-30 17:45] xavierdecoster opened #8406 "Convert async void test methods to async Task"
Convert `async void` test methods to `async Task` to avoid potentially unobserved exceptions to crash the test runner process.

[2019-07-30 18:27] StarWars999123 commented on #4837
@nsmi

Your solution works great, but do you have any idea, how to handle it, when the `/tools` folder does not exist? It's a package build with [Nuget.Output](https://github.com/baseclass/Contrib.Nuget/issues) and contains only an `/output` folder

[2019-07-30 19:40] #8365 closed, assigned to zivkan

[2019-07-30 20:42] #8401 closed, assigned to nobody

[2019-07-30 20:43] #8393 closed, assigned to nkolev92

[2019-07-30 20:49] nkolev92 commented on #7752
A couple of comments from a first look (please PR it!).

* TransitivePackage should not be null. Just do an empty array.
* How about framework as the key rather than having a framework kvp?
* How do we handle multiple projects?

[2019-07-30 22:37] nkolev92 opened #8407 "Issue saving settings in Visual Studio - adding a source throws an exception"
Root issue : https://developercommunity.visualstudio.com/content/problem/640886/failed-to-apply-nuget-package-manager-settings-vs.html

The customer has not provided additional feedback so it's a bit more difficult to investigate.

Root cause is:

[code]

![PackageSourcesIssue (1)](https://user-images.githubusercontent.com/2878341/62170361-faff5780-b2df-11e9-897f-df361fc292bc.png)

[2019-07-30 22:45] shoter opened #8408 "NuGet should not generate binding redirects for binaries that are in the current framework"
This is copy of codeplex issue number 3072 as it is referenced inside code. I should do a PR shortly to address this one.

The place where it is referenced is RuntimeHelper.cs:150

---

We're hitting an issue with Microsoft.Bcl package where NuGet is adding a binding redirect for a binary that is considered part of the framework, this causes the application to crash because the binding redirect re

[2019-07-30 22:45] shoter commented on #8408
You can find original codeplex issue (while codeplex is still alive) [here](https://archive.codeplex.com/?p=nuget)

[2019-07-30 22:45] xavierdecoster commented on #7752
Thanks, will update. Where should the spec files go (and the PR)? :)

[2019-07-30 22:53] nkolev92 commented on #7752
Start with https://github.com/NuGet/Client.Engineering, unless @anangaur is ready with a new repo? :)

[2019-07-30 23:27] nkolev92 commented on #8386
I'm perplexed.
This issue is so weird. I did notice a pattern, any time it failed, it was the net core test case that fail, so if we want, I can try to disable that test case, as the others cover the scenario, but not sure if that's hiding some potential issues in the infrastructure.

[2019-07-30 23:47] xperiandri commented on #8205
I had the same issue till VS 2019 16.3 Preview 1
The only workaround was to remove all references to NuGet packages in `fsproj` and execute `Update-Package -project <project name > -reinstall`

[2019-07-31 02:25] rhythmnewt commented on #3891
I can't believe it's been two and a half years now. SMH

[2019-07-31 04:16] neville-nazerane commented on #8389
Thank you.

Basically, when I upload a nuget package, I get the following message:

These links say we need the to add the license information but don't mention (or provide a link to) do this from the csproj files.

 I feel using csproj (especially for .net standard or .net core projects) is cleaner and modern than modifying. Even if not documented, it should be linked from the page (unless I am m

[2019-07-31 05:23] nkolev92 commented on #8389
If you follow the https://docs.microsoft.com/en-us/nuget/reference/nuspec#license example from learn more, there's a:

which is a link to https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#packing-a-license-expression-or-a-license-file.

But point taken, too many clicks to get to it :)

@karann-msft

Maybe https://docs.microsoft.com/en-us/nuget/consume-packages/finding-and-choosing-p

[2019-07-31 06:23] diegoberges commented on #8404
Hello @loic-sharma, I think that it is a good solution for the users

[2019-07-31 08:46] #8406 closed, assigned to xavierdecoster

[2019-07-31 12:28] drewnoakes opened #8409 "Exception in VS after editing project file"
To repro:

1. New .NET Core Console app
2. Edit project file
3. Attempt to (incorrectly) add an additional target framework but changing `<TargetFramework>` to `netcoreapp3.0;net472` (it should be `<TargetFrameworks>`, plural)
4. Notice a yellow bar saying VS ran into an unexpected problem and you may need to reload the solution.

I'm using internal VS build `VisualStudio.16.int.d16.3/16.3.0-pre.2

[2019-07-31 15:29] daniel-white commented on #8187
is this going to land in 2.1? i'd appreciate a fix there.

[2019-07-31 16:02] jemiller0 commented on #5877
When is Microsoft going to add support for PackageReference for ASP.NET Web Forms packages??? I suppose never, since they are throwing Web Forms under the bus. Thanks a lot Microsoft.

[2019-07-31 16:11] hyankov commented on #5877
I have successfully used the work-around described above and so far I haven't seen any issue. Makes me wonder why isn't it working by design for the web projects? What issue do I have with them that I am not yet seeing?

[2019-07-31 17:35] #8074 closed, assigned to zivkan

[2019-07-31 18:37] nkolev92 commented on #7511
@dtivel Do you any issue with the proposed change?

[2019-07-31 18:39] dtivel commented on #7511
No

[2019-07-31 18:51] dtivel opened #8410 "Test: NuGet.Packaging.Test.PackageExtractorTests.ExtractPackageAsync_RepositoryPrimarySignedPackage_PackageSignedWithCertFromRepositoryAllowList_SuccessAsync failed"
Test `NuGet.Packaging.Test.PackageExtractorTests.ExtractPackageAsync_RepositoryPrimarySignedPackage_PackageSignedWithCertFromRepositoryAllowList_SuccessAsync` failed for unclear reasons.  It's not clear if the test itself is flaky.
[code]

Note that no `SignatureException.Results` were not output.

[2019-07-31 18:52] nkolev92 commented on #8187
Per https://docs.microsoft.com/en-us/nuget/release-notes/nuget-5.2-rtm, it's available in 2.1.800

[2019-07-31 18:53] daniel-white commented on #8187
@nkolev92  thanks!

[2019-07-31 18:55] nkolev92 commented on #8409
Duplicate of https://github.com/NuGet/Home/issues/8385.

This has always been an issue, difference being that these issues were not reported as faults prior to 16.1.

[2019-07-31 18:55] #8409 closed, assigned to nobody

[2019-07-31 19:30] sxmanton commented on #7769
@anangaur I don't anticipate having time to work on the repro any time soon. Feel free to close for now if you wish

[2019-07-31 21:03] Mikejo5000 commented on #8389
I'll add the link to the "license-url-deprecation" section.

[2019-07-31 21:19] djee-ms commented on #7699
We are hitting an issue which looks similar, and this is blocking our customers. We have some packages restoring correctly on Azure DevOps Pipeline (CI), and from the same feed some packages failing to restore. The package ID and version are correct, manual search and download from nuget.org works, but restore fail for no apparent reason. Any update on this?

[2019-07-31 22:25] anangaur commented on #7769
Thanks @sxmanton

[2019-07-31 22:25] #7769 closed, assigned to nobody

[2019-07-31 23:03] djee-ms commented on #7699
See also microsoft/artifacts-credprovider#91, using 5.1.0 shows that the actual error is:
[code]

[2019-08-01 00:36] #7511 closed, assigned to nkolev92

[2019-08-01 00:50] #8063 closed, assigned to donnie-msft

[2019-08-01 06:51] philippk80 commented on #545
We need this in our company too. 👍

[2019-08-01 08:15] krokofant commented on #7505
Somehow the global cache package name was using uppercase and lowercase ExamplePackage. And one package update would usually extract to a lowercase folder name which I assume throws the error at https://github.com/NuGet/NuGet.Client/blob/5.3.0.6136/src/NuGet.Core/NuGet.Packaging/PackageReaderBase.cs#L540-L556

[code]

A workaround for our affected machines was just clearing the cache by `nuget loc

[2019-08-01 10:10] realrubberduckdev opened #8411 "PackageReference wild card resolves to non-existent version"
## Details about Problem

`Wild card package reference version resolves to the 'Version' value passed into msbuild instead of the value in NuGet Feed. I am not sure if this is expected behaviour, can someone please direct me towards documentation if this is expected.
`
NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

[code]

NuGet version (x.x.x.xxx): `5.0.2.5988`
MS

[2019-08-01 13:38] menaheme opened #8412 "Nuget MSBuild auto-detection picks up msbuild.exe 14 on a machine that has VS 2017 installed"
Please read the following information before posting the issue.

## Details about Problem

NuGet product used: NuGet.exe

NuGet version (4.9.3.5777):

VS version (if appropriate): 2017 , 15.9 (other versions of VS also installed. 2015)

OS version (i.e. win10 v1607 (14393.321)): Win 7 v 6.1.7601

## Detailed repro steps:

1. run Nuget Restore <path to sln>  -NoCache -NonInteractive

### Actual res

[2019-08-01 14:19] dtivel opened #8413 "Test: Apex tests failing on VS 16.3"
Apex tests are failing at runtime due to MEF composition failures:
[code]

[2019-08-01 15:03] itaibh commented on #7521
I don't see a way to add custom URL for license, it's deprecated. Why is that? What other options do I have to send the user to our custom license?

[2019-08-01 15:35] lintakumar commented on #6581
same error..Pls help
<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>

    <add key="enabled" value="True" />

    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="no_proxy" value="http://ctnuget1.thisis.com/NugetFeed/nuget/Packages"/>
  </pa

[2019-08-01 16:10] #8413 closed, assigned to dtivel

[2019-08-01 16:23] zivkan opened #8414 "Minimal VS install has broken NuGet UI"
Withthe VS 16.3 preview, if you install just the shell, no workloads selected, then run VS, the Package Manager Console can be opened, but the host never finishes initializing. Also, if you go to tools->Options, if you select either of the NuGet pages you get an error.

[2019-08-01 16:48] zivkan opened #8415 "NuGetFramework API issues"
## Short/Long form TFM parsing inconsistencies

Given that:
[code]

it seems reasonable to me to expect the following to be true, both of which are currently false
[code]

## Long form TFM parsing, malformed version

When parsing a TFM with certain malformed versions, the version is silently ignored with basically no feedback that anything was wrong.
[code]

While most strings passed to `NuGetFram

[2019-08-01 17:01] zivkan opened #8416 "Remove net40 support from NuGet.Framework"
NuGet/NuGet.Client#587 added `net40` as a TFM to `NuGet.Framework`

We no longer support NuGet 2.x, so this can be removed.

to decide: remove in 5.x, or wait for 6.0

[2019-08-01 17:52] rrelyea commented on #7890
Likely sync with @anangaur on behavior wanted here.

[2019-08-01 17:56] rrelyea commented on #7835
We'll be doing bigger changes in nuget update -self -- so won't worry about this for now.

[2019-08-01 17:56] #7835 closed, assigned to nobody

[2019-08-01 18:10] dtivel opened #8417 "Test: PushCommand_PushToServer_WhenPluginReturnsAbort_ThrowsAndDoesNotFallBackToConsoleProvider is flaky"
Test `PushCommand_PushToServer_WhenPluginReturnsAbort_ThrowsAndDoesNotFallBackToConsoleProvider` is flaky, at least on Mono on macOS:
[code]

[2019-08-01 18:16] dtivel opened #8418 "Test: package signing tests sometimes fail with 0xC0000001 (STATUS_UNSUCCESSFUL)"
According to @bartonjs, this is tracked by https://github.com/dotnet/corefx/issues/37994.

Example from one CI test run:
[code]
Another example:
[code]

[2019-08-01 18:37] anangaur commented on #7890
When listing packages for a project, we should only list the packages applicable to that project although the transitive packages' version resolution are affected by project references.

[2019-08-01 18:40] neville-nazerane commented on #8389
@nkolev92 Yes. Point isn't exactly that it is three clicks away but that no one would think this is the exact path to get to the csproj/dotnet cli/MSBuild documentation.

I would suggest having tabs at some point saying "nuspec" and "csproj" in places where something like this is documented. Similar to how vs and vs code are documented side by side in several docs.

[2019-08-01 18:40] #8389 closed, assigned to nobody

[2019-08-01 18:48] dominoFire commented on #8411
Reproduced in VS 16.2.0

It seems like a bug in NuGet MSBuild tasks.

[2019-08-01 18:52] dtivel opened #8419 "Build: "Xml94" and "Microsoft" SHA-1 Authenticode certificates are retired"
CI builds are failing.

[2019-08-01 20:35] #8419 closed, assigned to dtivel

[2019-08-01 21:59] dominoFire commented on #8412
Hi @menaheme ,

Hope all is well.

Can you try using the most recent version of nuget.exe (5.1.0) ?
Can you try an updated nuget.exe version that is closest to you current version (4.9.4) ?

[2019-08-01 22:54] dtivel commented on #7891
Happening again.

[2019-08-01 23:23] dominoFire commented on #8408
Adding original title:

NuGet should not generate binding redirects for binaries that are in the current framework

[2019-08-01 23:26] dtivel opened #8420 "Suggestion: NuGet config -list command to list configuration file locations"
Similar to how [`locals -list` command](https://docs.microsoft.com/en-us/nuget/reference/cli-reference/cli-ref-locals#options) lists local paths, it would be handy if a `config -list` command listed [NuGet configuration file locations](https://docs.microsoft.com/en-us/nuget/consume-packages/configuring-nuget-behavior#config-file-locations-and-uses).

[2019-08-01 23:37] lytico commented on #7341
got the same (similar?) error with monodevelop

https://github.com/mono/monodevelop/issues/8320

[2019-08-02 04:41] gulbanana commented on #8186
Another factor making it difficult to productionise blazor is testability. What would be ideal is a .net quasi-runtime which uses a webassembly host (v8?) to load mono.wasm and runs tests under that environment. Imagine a test project with `<TargetFrameworks>netcoreapp3.0;monowasm</TargetFrameworks>`, validating your components in both the server-side and client-side environments they might run on

[2019-08-02 08:16] menaheme commented on #8412
Will try an report back, probably in the next few days

On Fri, Aug 2, 2019, 1:00 AM Fernando Aguilar <notifications@github.com>
wrote:

[2019-08-02 09:34] v-luzh opened #8421 "[Test Failure][Localization] Deprecated package description strings and the tooltip are not localized"
## Details about Problem
Implicit NuGet version: NuGet Client Dev\5.3.0.6103
VS Version: D16.3\29201.74
OS: Windows-10-Enterprise-RS5-RU-RU-03-27-2019
## Detailed repro steps
1. Create a C# Console Application (.NET Framework).
2. Open PM UI of this project and click “Settings” button.
3. Add a deprecated package source: https://apidev.nugettest.org/v3-index/index.json
4. Select the above deprecat

[2019-08-02 10:37] akyriako commented on #6280
And what is happening when MSBuild tries to restore these packages (there is no user folder)? How do I configure this ? because it breaks the build process in Jenkins

Thanks in advance

[2019-08-02 16:02] #8394 closed, assigned to dtivel

[2019-08-02 21:39] dtivel commented on #6007
Steps:
* [ ] Onboard to OptProfV2 with `ShouldSkipOptimize` == `true`
* [ ] After at least one successful release, change `ShouldSkipOptimize` to `false`

[2019-08-02 22:20] dominoFire commented on #8391
Thanks for your suggestion, @asherber

In the meantime, you can also use an environment variable to manage your local source. For example:

[code]

[2019-08-02 22:20] donnie-msft commented on #8402
Adding [the test run ](https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=2891962&view=ms.vss-test-web.test-result-details&runId=7616988&resultId=100140) that took 10 minutes

[2019-08-02 22:32] zarenner commented on #747
For future readers, looking at the [code](https://github.com/NuGet/NuGet.Client/blob/d70e1f5475c9915f10ac4503553972d9bb988ce9/src/NuGet.Core/NuGet.Configuration/Proxy/ProxyCache.cs#L35]), it appears that only the user-level config works for proxy settings. This matches the behavior I see, at least on dotnet 2.2.401.

[2019-08-02 22:33] zarenner commented on #6978
Looking at the [code](https://github.com/NuGet/NuGet.Client/blob/d70e1f5475c9915f10ac4503553972d9bb988ce9/src/NuGet.Core/NuGet.Configuration/Proxy/ProxyCache.cs#L35]), it appears that only the user-level config works for proxy settings. This matches the behavior I see, at least on dotnet 2.2.401.

[2019-08-02 22:34] zarenner commented on #7332
For future readers, looking at the [code](https://github.com/NuGet/NuGet.Client/blob/d70e1f5475c9915f10ac4503553972d9bb988ce9/src/NuGet.Core/NuGet.Configuration/Proxy/ProxyCache.cs#L35]), it appears that only the user-level config works for proxy settings. This matches the behavior I see, at least on dotnet 2.2.401.

[2019-08-02 22:46] nkolev92 commented on #6978
Thanks @zarenner
I've noticed that too, right now I'm having finding the issue calling that out.

That could be the root cause of some of the issues in this thread (Unfortunately I'm not confident everyone on this thread is hitting the same issues.

[2019-08-03 00:15] dominoFire commented on #8398
I tried to reproduce it in master\29201.157 + NuGet 5.3.0.6103 with no luck. @v-luzh , can you try to reproduce again and see if it happens again?

[2019-08-03 05:49] StingyJack commented on #6570
@nkolev92 - or does the PM UI close more frequently than before? It seems like instead of refreshing, it just closes and I have to keep reopening it.

[2019-08-04 07:30] menaheme commented on #8412
Tried both 4.9.4 and 5.1 , same results as 4.9.3 - picking up MSBuild 14

[2019-08-04 12:17] jdanekrh commented on #7802
Works for me with `dotnet --version` of `2.2.401` (and runtime of `2.2.6`). Good to see the fix roiling out.

[2019-08-05 01:42] nkolev92 commented on #6570
@StingyJack I think my change shouldn't impact the closing of the UI.

Feel free to create an issue describing your scenario and repro steps.
Not aware of any current issues related to the UI closing.

Normally that should only be the case when the project gets unloaded.

[2019-08-05 01:54] nkolev92 commented on #8008
This is not really NuGet.

We integrate with the VS identity, so it'd be on that product to provide a way to specify the url for which the authentication request is happening for.

Keeping it open as I don't know if any action would be necessary from NuGet perspective.

[2019-08-05 01:59] nkolev92 commented on #8041
How does this relate to https://github.com/NuGet/Home/issues/7958?

Are they the same?

Can one be closed @donnie-msft or maybe this one can point to that issue?

[2019-08-05 08:23] dac11 opened #8422 "500 Internal Server Error during Startup"
We are using NuGet.Server v3.2.1.0. During startup the server returns "500 Internal Server Error" to every client which wants to access the nuget server. The Server needs about a minute to start up.

I did disable FileSystemMonitoring in Webconfig and set initialCacheRebuildAfterSeconds =1. Now the "500 Internal Server Error" is returned for only about 10 Secondes.

Is this by design or a bug? Eve

[2019-08-05 09:25] v-luzh commented on #8398
@dominoFire，I can repro on VS Master\29202.138 + NuGet Client Dev\5.3.0.6148 today as below. Please try install->uninstall->install several times if you can't repro it at first time.
![Repro](https://user-images.githubusercontent.com/20632625/62453879-ddc9fd80-b7a5-11e9-8929-52bdcdaa1ca7.PNG)

[2019-08-05 14:10] #8422 closed, assigned to nobody

[2019-08-05 14:10] dac11 commented on #8422
Opened issue at https://github.com/NuGet/NuGetGallery/issues/7414#issuecomment-518249973
I think this is the wrong repro

[2019-08-05 14:26] sebandraos commented on #7605
I appreciate that the `--interactive` flag has now been added to this command (and works fine on `3.0.100-preview7-012821`) but the non-interactive version of the command is still causing issues (see [artifacts-credprovider issue](https://github.com/microsoft/artifacts-credprovider/issues/69))

Sample output with a few redactions:

[code]

As above, there is no issue with `restore` from the auth'e

[2019-08-05 15:53] donnie-msft commented on #8041
@nkolev92 it relates in that they both appear to be solved by the work to be done in this tracking Issue. I'll close the newest one.

[2019-08-05 15:55] donnie-msft commented on #7958
Duplicate of issue https://github.com/NuGet/Home/issues/5049

[2019-08-05 15:55] #7958 closed, assigned to karann-msft

[2019-08-05 16:45] CoolDadTx commented on #5877
If you switch an existing project from package.config (PC) to package reference (PR) then you'll have no issues. In fact any project that supports PC supports PR as it is a built time featue. Your builds will work just fine.

The issue with PR is that it doesn't support all the scenarios that PC installs did and this is where things go wrong. Specifically PR doesn't support running install/uninsta

[2019-08-05 18:38] heng-liu opened #8423 "Enable test PackCommand_WithGeneratePackageOnBuildSet_CanPublish for netcoreapp3.0 when it's ready"
Test PackCommand_WithGeneratePackageOnBuildSet_CanPublish is broken for SDK issue https://github.com/dotnet/sdk/issues/3367  (for netcoreapp3.0 only).
We skip this test for now.
We need to enable this test for netcoreapp3.0 when the above issue is solved.

[2019-08-05 18:57] dominoFire commented on #8398
@v-luzh Could you provide a sample project or the project.assets.json file from both projects?

[2019-08-05 19:44] nkolev92 opened #8424 "NU1403 improvements - validate all packages, include the expected/actual sha values"
The current NU1403 message looks something like this:

[code]

I have a couple of ideas for improvements.

- [x] Don't say sha512, use hash.

- [x] Validate all packages when encountering this error.
Currently we fail fast and we don't validate all the packages. We should validate all the packages and add a message for every single offending package. These errors shouldn't be a moving target for t

[2019-08-05 20:20] anangaur commented on #8424
We should call it content hash 😄

Agree 💯 %

I am okay to have more details in the event of failure as it helps debugging the issue at hand. For success we should have minimal output.

[2019-08-05 21:02] #8254 closed, assigned to JarahSi

[2019-08-05 21:26] nkolev92 commented on #8424
Sounds good.
I'll make those changes.

[2019-08-05 21:52] nkolev92 opened #8425 "Log the stack trace when the log level is detailed/debug."
Follow the code references to https://github.com/NuGet/NuGet.Client/blob/d8d6a2f364502b43910fb2845b0f29e2dcff0d8a/src/NuGet.Core/NuGet.Common/ExceptionUtilities.cs#L21.

[2019-08-05 23:24] nkolev92 commented on #7711
What does dotnet new --install use under the hood?

If it uses restore, then it's likely by design, as restore uses flat container which does not know about unlisted packages.

[2019-08-05 23:46] nkolev92 commented on #6060
Related issue: https://github.com/nuget/home/issues/8040

[2019-08-06 00:06] nkolev92 commented on #8390
Fixed in https://github.com/NuGet/NuGet.Client/pull/2954

[2019-08-06 00:06] nkolev92 commented on #8390
5

[2019-08-06 00:06] #8390 closed, assigned to nobody

[2019-08-06 00:19] nkolev92 commented on #8104
Heng blessed nuget.exe when we shipped 5.2

[2019-08-06 00:19] #8104 closed, assigned to loic-sharma, rrelyea, karann-msft, heng-liu

[2019-08-06 05:05] tebeco commented on #6697
Hello there,

Would definitely love that feature too
In addition with the lockfiles that would be amazing and easier to update / consolidate and be repeatable on repositories ^^

[2019-08-06 06:54] TFTomSun commented on #6697
Here's a workaround : https://github.com/NuGet/Home/issues/7328#issuecomment-425942851

[2019-08-06 08:19] menaheme commented on #8412
Anyone there?

[2019-08-06 10:32] DaveSneddon commented on #3891
@leonard-thieu how do you get it to include all the dependencies in the symbols.nupkg when you use the --include-symbols or --include-source switches?

[2019-08-06 14:56] DaveSneddon commented on #3891
What problems would it cause to make it optional as it is in nuget.exe?

[2019-08-06 15:17] binki commented on #5877
If it were possible to generate `web.config` at build-time with MSBuild targets hooks for incrementally building it, which people would only do if MS lead the effort by changing the templates to do so, it would be possible for ASP.NET-style projects to switch to PR in a clean way.

[2019-08-06 15:25] CoolDadTx commented on #5877
@binki, you can already do that. MSBuild tasks can generate/update config files at build time. That is how the AutoGenerateBindingRedirects property works. Packages can integrate into the build process with custom .props and .targets files. This is how the more complex packages work. As such a package can integrate into the build at any point in the process just like anything else.

What cannot be

[2019-08-06 15:34] binki commented on #5877
@CoolDadTx I understand that. What I’m saying is that `web.config` is considered a “user-editable file”. It doesn’t have to be if the ASP.NET tooling were updated to make it a generated file. Of course, that would be very difficult to do and would break a lot of things which assume it is user-editable.

[2019-08-06 15:37] JohanLarsson commented on #5887
Another use case is if the package ships with an analyzer and an update to the analyzer is published. The whole use case discussion is strange, natural to update to the latest versions that satisfies the constraints.

In general the strategy to resolve minimum versions is weird.

[Paket](https://fsprojects.github.io/Paket/) updates transitives and uses a lock file for deterministic resolution. Pak

[2019-08-06 15:46] CoolDadTx commented on #5877
@binki, `web.config` has to be editable because devs do edit it. It is no different than an `app.config` in every other project type. You said making this auto-generate would solve the PR issue for ASP.NET. I fail to see how this feature (which already works) solves the problem with migrating ASP.NET apps to PR. Config files are easy to change at build time. This isn't what makes updating ASP.NET

[2019-08-06 16:56] hyankov commented on #5877
Can't merge conflicts be detected and the user prompted to solve them?

[2019-08-06 17:03] dtivel opened #8426 "OptProfV2: write test for internal bug 890791"

[2019-08-06 17:05] dtivel opened #8427 "OptProfV2: enable optimization"

[2019-08-06 17:09] CoolDadTx commented on #5877
@hyankov Who is your comment directed to? I don't understand what you mean by a merge conflict as that would only apply to a PR. Since packages cannot modify configs at install time anymore (because there is no install) then the only file changed when adding a package is the project file (to add the package reference element).

[2019-08-06 17:19] dtivel opened #8428 "Perf: reduce memory allocations in NuGet.ContentModel.Infrastructure"
Internal bug [958532](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/958532).

[2019-08-06 17:21] #8043 closed, assigned to heng-liu

[2019-08-06 17:54] rrelyea commented on #7995
duplicate of #7992 - closing

[2019-08-06 17:54] #7995 closed, assigned to dominoFire

[2019-08-06 18:28] nkolev92 commented on #8140
This has been completed.

There might be additional tasks that go beyond this, by my part so far in it is done.

[2019-08-06 18:28] #8140 closed, assigned to nkolev92

[2019-08-06 18:31] heng-liu opened #8429 "Fix new SDK 3.0 and MacOS10.14 related issues"
We locked SDK version 3.0 preview 7 for testing now. If we're going to ship with SDK 3.0 preview 9, we need to :
1.We have some broken tests to fix when we need to test with SDK 3.0 preview 9.
2.MacOS on agent machine needs to upgrade.

[2019-08-06 18:56] jemiller0 commented on #5877
Is there a right-click menu to convert a ASP.NET Web Forms application project to use PackageReference yet? If not, the problem is not fixed. Which isn't a surprise because it is clear that Microsoft could give a flying you know what about Web Forms. They already threw it under the bus with .NET Core. Instead, they want you to port your code to unreleased vaporware.

[2019-08-06 20:50] karann-msft commented on #8041
From developer community suggestion:
https://developercommunity.visualstudio.com/content/idea/664078/vs-2019-managed-nuget-packages.html

[2019-08-06 20:53] vsfeedback opened #8430 "Make Nuget Author Clickable"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/653909/make-nuget-author-clickable.html)._

---
Hi,

Please make Nuget Author clickable so user can click on the author and then it will list all nuget by that author, for example if I saw Microsoft.AspNet.Mvc nuget and the author is Microsoft then I will click on Microsoft to

[2019-08-06 20:57] AArnott commented on #5894
@dlbeeman This doesn't have to do with MAT specifically. If MAT somehow worked around it, that's fine. But we need a fix to the underlying system so all the build influencing packages get picked up by tmp_proj.

[2019-08-06 21:25] livarcocc opened #8431 "dotnet nuget push source does not recognize PSDrive."
_From @VictorioBerra on Tuesday, August 6, 2019 2:57:03 PM_

## Steps to reproduce
- Mount a PSDrive without using `-Persist`
- Try and push a nuget package to it.

## Expected  behavior
It should see it as a file source and just work (tm)

## Actual behavior
I get an error about not providing an API Key as if it were a MyGet server or something.

If I use `-Persist`, the code works just fine.

[c

[2019-08-06 21:25] livarcocc commented on #8431
_From @livarcocc on Tuesday, August 6, 2019 5:34:38 PM_

@nkolev92 this seems like a NuGet issue. Should I go ahead and move this to nuget/home?

[2019-08-06 21:25] livarcocc commented on #8431
_From @nkolev92 on Tuesday, August 6, 2019 5:37:29 PM_

Yeah, feel free to move it.

NuGet seems to detecting the source type wrong.

[2019-08-06 23:48] VictorioBerra commented on #8431
Thanks for moving this.

[2019-08-07 05:39] SaebAmini commented on #3788
Wow, 3 years and no movement on such a basic package management feature?

[2019-08-07 09:13] v-luzh commented on #8398
@dominoFire, of course, here are the assets.json files: \\nugetserver03\Users\v-luzh\Bug8398 which I reproed on VS Master\29206.34 + NuGet Client Dev\5.3.0.6152.

[2019-08-07 14:11] realrubberduckdev opened #8432 "NuGet.exe does not resolve to the latest version of a package when using * in PackageReference (MSBuild/Dotnet/VS restore do)"
## Details about Problem

Please note this is the same issue described in #6640. But please do check the repro steps as it doesn't actually work. Unsure how it worked then.

[code]

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
`NuGet.exe`

NuGet version (x.x.x.xxx):
`5.0.2.5988`

dotnet.exe --version (if appropriate):

VS version (if appropriate):

OS version (i.e

[2019-08-07 14:14] binki commented on #5877
@CoolDadTx

`web.config` doesn’t have to be editable. It could be built from other files, some which are user-edited and others which are transformations applied incrementally by targets from `<PackageReference/>`. What you’re saying is something like “`web.config` **has** to be editable **because it currently is** editable”. What I’m saying is that the `<PackageReference/>` approach would be a lo

[2019-08-07 14:25] CoolDadTx commented on #5877
@binki, while I agree that separating `web.config` into separate pieces (which you can already do by the way) would make it easier to autogenerate stuff. This doesn't really have anything to do with PR  in ASP.NET projects. Your thoughts sound more like a feature request and therefore should probably be posted in the ASP.NET team. Breaking up `web.config` would not solve the PR issue with ASP.NET

[2019-08-07 14:50] Thraka commented on #7785
I just wanted to rally support for this feature. The .NET Core 2.1 SDKs that have testing projects at times need to add reference to the ASP.NET APP package when the app, but needs to be versionless so that the SDK picks up the correct references. This requires calling `dotnet package add` and then hand editing the project file to remove the version reference. I would like to be able to tell users

[2019-08-07 15:01] binki commented on #5877
@CoolDadTx

I’m convinced it is a big part of it. The installation/uninstallation scripts that `packages.config` run primarily do things like edit `app.config`/`web.config`. Bundled assets are [already solved](https://docs.microsoft.com/en-us/nuget/reference/nuspec#including-content-files). However, there is no way for a `<PackageReference/>` NuGet to edit `app.config` upon installation—which is a

[2019-08-07 15:51] CoolDadTx commented on #5877
@binki, I'm afraid we'll have to disagree on this. Separating out the config file introduces way more problems then it solves (especially at runtime where multiple files are now needed) just to get PR to work and there are still cases where PR won't work with a package. Since ASP.NET is deprecated in lieu of ASP.NET Core (which focuses on programmatic configuration and JSON instead of `web.config`

[2019-08-07 15:55] binki commented on #5877
I know what `configSource` is and have looked at it. But what you linked is not a protocol for writing a `<PackageReference/>`-compatible NuGet package intended for consumption by ASP.NET.

OK, so I am reading that is: MS does not intend to fix this issue. Thanks for the update!

[2019-08-07 16:46] zkat commented on #8324
I DMed @ghuntley about what the motivating issue was, and from my understanding, it was a matter of sharing some details from the outdated list with a coworker. They do not remember whether it was a snippet of the text, or the entire text, so it's unclear if there's an alternative solution than to make everything copyable a-la-browser.

They also mentioned that they expected the copy shortcut (C-c

[2019-08-07 17:46] CoolDadTx commented on #5877
I don't work for MS so I cannot answer the official word on the matter but if you read all the information coming out, including .NET 5 then the writing is on the wall.

[2019-08-07 18:18] nkolev92 commented on #8323
Account for conditional compilation when doing this work :) https://github.com/NuGet/NuGet.Client/pull/2986#discussion_r311691122

[2019-08-07 18:26] nkolev92 commented on #8324
There's no automation in our build but you can use https://docs.microsoft.com/en-us/previous-versions/aa969767(v=vs.110).

From the investigation I did when I created this issue, yes text box is heavier, uses more memory, but it only becomes noticeable if it's used for input (which is not the case for us).
The dialog is also short lived, so I'd argue there are fewer concerns in our scenario.

The

[2019-08-07 18:43] StingyJack commented on #7796
@nkolev92  - this is also apparently ignoring if a project is included in the build configuration or not for a solution. I've got a pair of dtproj files in a solution that are not expected to be built in addition to a web site project thats also should not be getting built, but nuget restore task craps on reading the proj file  and doesnt restore and create the project.assets,.json for projects th

[2019-08-07 19:11] nkolev92 commented on #7796
@StingyJack
Yeah, that's the same scenario as the OP.
Import failure throw a wrench into the MSBuild evaluation.

The same suggestions apply here.
You can set the property in a Directory.Build.Props at the root of your repo and it should work.

[2019-08-07 19:28] StingyJack commented on #7796
I forgot to mention that we are using the workaround specified as part of  https://github.com/Microsoft/msbuild/issues/2064 and the nuget restore is also ignoring that exclusion attempt. Not sure if that matters but something else to consider when fixing this.

[2019-08-07 20:30] zivkan commented on #8431
The [docs for `New-PSDrive`](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.management/new-psdrive?view=powershell-6) says:

Doing a quick test, I can confirm that .NET code, such as nuget.exe, cannot see this drive. Therefore I don't see any way for this to work.

[2019-08-07 21:21] VictorioBerra commented on #8431
Do you think it's okay practice to persist a mapped network drive just for the ps session on a build server? Im only allowed to pick a single letter right?

[2019-08-07 21:35] nkolev92 commented on #7868
Closing this as duplicate of https://github.com/NuGet/Home/issues/5895.

TargetFramework is the only project configuration pivot support.

Platform/Architecture/Configuration and the likes are not supported.

[2019-08-07 21:35] #7868 closed, assigned to nobody

[2019-08-07 21:37] nkolev92 commented on #6757
This is a duplicate of https://github.com/NuGet/Home/issues/5895.

Project switches such as Configuration,Platform, Architecture are not supported pivots for PackageReferences.
Only TargetFramework is.

[2019-08-07 21:37] #6757 closed, assigned to nobody

[2019-08-07 21:46] elvisFabian opened #8433 "nuget pack breaks on linux"
## Details about Problem

NuGet product used: **NuGet.exe** with mono
NuGet version: **5.1.0.6013**
dotnet.exe --version: **2.2.401**
OS version: **Ubuntu 19.04**

## Detailed repro steps so we can see the same problem
1. `nuget pack PJMT.SGP.PreCadastro.Contracts.nuspec -suffix rc -verbosity detailed -ForceEnglishOutput`

## Verbose Logs
### Linux (fail)
[code]

### Windows (Work)
[code]

## Samp

[2019-08-07 23:47] zkat opened #8434 "dotnet package list --outdate --transitive crashes with LINQ issue"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): dotnet.exe

NuGet version (x.x.x.xxx): 5.3.0.6136

dotnet.exe --version (if appropriate): 2.2.302-preview-010246 (the ones used for debugging)

VS version (if appropriate): N/A

OS version (i.e. win10 v1607 (14393.321)): win10 10.0.18362 Build 18362

Worked before? If so, with which NuGet versi

[2019-08-08 06:34] #8295 closed, assigned to JarahSi

[2019-08-08 09:52] LoicAG commented on #5526
@nkolev92 How is this a duplicate of #5447?
#5447 is an issue related to the Windows platform, whereas this issue is explicitly about non-Windows platform

[2019-08-08 16:11] William-Froelich opened #8435 "Issues using nuget packages with C# libraries compiled for specific architecture."
## Details about Problem

I am creating two component libraries, one in C++ and one in C# for Windows UWP in a single solution. The libraries will be packaged separately but there will be a dependency such that the C# library depends on C++ library which requires the C# be built architecture-specific.

The resulting C# nuget package will not allow compilation of any architecture other than the one

[2019-08-08 17:00] StingyJack commented on #7751
This happens with SSIS (dtproj) projects as well as web site projects that are not selected to be built as part of the solution configuration.

[2019-08-08 17:13] nkolev92 commented on #5526
#5447 is about support for cross platform auth through dotnet.exe.
It's the solution to the scenario at hand raised by the OP.

There's an issue for the encryption of passwords cross platform https://github.com/NuGet/Home/issues/1851, but that's not blocked on NuGet.

[2019-08-08 18:40] michael-hawker commented on #8186
Want to call out the Windows Community Toolkit here as well.

It'd be great for project maintainers to just be able to accept a WASM project/build modification for their project than to create a bunch of work for folks coordinating across a fork.

FYI @onovotny, in case he has any input into these scenarios/processes.

[2019-08-08 19:41] zivkan commented on #8431
That depends very much on your company and team procedures, risk tolerances and so on, so I don't feel comfortable weighing in.

For what it's worth, if you have many packages in the feed, Package Manager UI will have better performance with a NuGet server, rather than a file source. There are several NuGet servers [listed on this docs page](https://docs.microsoft.com/en-gb/nuget/hosting-packages/

[2019-08-08 19:55] VictorioBerra commented on #8431
Thanks! I will discuss with my org. We chose file server over simplicity but its clear it does not scale when you introduce complexity like CI/CD.

[2019-08-08 20:28] #8403 closed, assigned to heng-liu

[2019-08-08 21:33] zivkan opened #8436 "Reserve NU5036"
https://aka.ms/malformedNuGetLicenseUrl redirects to https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings/nu5036, so we should prevent any new warnings/errors using this code.

[2019-08-08 22:08] zivkan commented on #8432
`msbuild -t:restore` and `dotnet restore` work correctly on my machine, and I was able to repro the bug with `nuget restore`. If your solution does not contain any packages.config projects, then I suggest you use msbuild or dotnet restore instead of nuget restore. Otherwise, I suggest doing one of these other restores after a nuget restore until the bug is fixed.

[2019-08-08 22:11] zivkan commented on #8433
@elvisFabian What version of mono are you using?

[2019-08-08 23:01] elvisFabian commented on #8433
@zivkan
`apt-get -y install mono-complete`

[code]

[2019-08-08 23:09] zivkan commented on #8435
Yes, the behaviour you see is expected. The compiler only allows references to assemblies that are compatible with the project being compiled. The files under `ref/` will be passed to the compiler, regardless of the architecture of the project being compiled, and there are no RID specific sub-folders unlike the `runtimes/` folder.

`.winmd` files support AnyCPU, even though UWP executables do not.

[2019-08-08 23:11] #8436 closed, assigned to zivkan

[2019-08-09 05:14] nkolev92 opened #8437 "Docs for the deterministic pack switch"

[2019-08-09 10:04] ghuntley commented on #8324
Alright I'm back in vswin and this dialog is once again in front of me:

![image](https://user-images.githubusercontent.com/127353/62771432-8f3b9c80-bae0-11e9-9e36-3f1ae29aba17.png)

Thoughts:
- I can't see the contents without expanding it, in the default state it's not great
- If I see something that doesn't look right and want a 2nd opinion from a co-worker then there's no way to select the tex

[2019-08-09 10:07] ghuntley commented on #8324
The following text is also not selectable:

![image](https://user-images.githubusercontent.com/127353/62771783-56e88e00-bae1-11e9-84a1-148837bb3446.png)

[2019-08-09 10:42] v-luzh opened #8438 "[Test Failure] A clickable block show at the bottom of left panel in PM UI of Blend for VS"
## Details about Problem
NuGet version: NuGet Client Dev\5.3.0.6154
VS Version: Master\29208.39
OS: Windows-10-Enterprise-19H1-04-05-2019
## Detailed repro steps
1. Launch Blend for VS and create a project: C# Blank App (Universal Windows).
2. Open PM UI of this project and click go to “Browse” tab.
3. Type some string (e.g. Blend) in the search box.
4. Hover on the bottom of the left panel.
## Ex