[2018-09-05 18:40] vmelamed commented on #7261
Hi Patricio,

Thank you for investigating this. There seem to be a number of bugs in NuGet.exe which is disappointing. I will certainly help you as much as possible with repro this and other problems I am facing (see my questions on stackoverflow re: NuGet too). See my comments below inline

Thanks.
Val

[2018-09-05 19:22] livarcocc opened #7276 "PackageReference of a package with Reference in nuspec, may not copy all dependencies since RAR isn't involved"
_From @Styxxy on September 5, 2018 12:19_

(Sorry if I am in the wrong repo, or if it is a duplicate issue (but I didn't find one when searching).)

I noticed that the XmlSerializer dll is not being copied, while in the old packages.config style.
Having a package with following nuspec (see nupkg (remove the zip extension),
[Styxxy.MyPackage.1.0.0.nupkg.zip](https://github.com/dotnet/project-system

[2018-09-05 19:22] livarcocc commented on #7276
_From @Pilchie on September 5, 2018 17:4_

@livarcocc - this sounds like a NuGet MSbuild task issue.  Does this below on https://github.com/dotnet/sdk?

[2018-09-05 19:22] livarcocc commented on #7276
I will move this issue to NuGet.

[2018-09-05 20:02] vmelamed commented on #7261
Patricio,

Tried 4.8.1 and it has the same problem.

Thanks.
Val

[2018-09-05 20:05] zarochi commented on #6140
For what it's worth I'm having the same issue working in a Windows docker container. The Linux container performs this step without issue with the same NuGet.config file. One thing I noticed is that it doesn't try the first one first; it actually tries the one that ends in / first even if it's listed second. I ran into this with DevExpress too, and I wonder if some of the issue is due to the fact

[2018-09-05 20:56] zarochi commented on #6140
I followed meodep's instructions regarding the Docker NAT here: https://forums.docker.com/t/no-internet-access-from-windows-container/25600/5, and I have better results now. I get a timeout to each of my sources, but it's actually trying both of them on the command line now. I think this likely boils down to a local dev environment issue, so if I get something working I'll post what else I did to

[2018-09-05 22:30] PatoBeltran commented on #7261
I was trying to repro this and looking at the code, it seems that we don't support passing a directory as a path in push. What is happening is that push command is trying to find all the packages in `bin\Debug\` and it takes the `.symbols.nupkg` as well and it tries to push them as if they were packages. I tried looking at the documentation (https://docs.microsoft.com/en-us/dotnet/core/tools/dotne

[2018-09-05 22:43] PatoBeltran commented on #7263
Hey @moh-hassan. thanks for opening the issue. This happens because `netstandard1.5` is closer to `net461` than the other target frameworks the package has, therefore we take that as our best option. You can read more about net standard [here](https://docs.microsoft.com/en-us/dotnet/standard/net-standard).

[Here](https://github.com/NuGet/Home/issues/5871) is a similar issue to this. As that issue

[2018-09-05 22:46] PatoBeltran commented on #7246
closing this as it seems like the question has been answered, please feel free to reopen if needed.

[2018-09-05 22:46] #7246 closed, assigned to nobody

[2018-09-05 22:49] nkolev92 commented on #7242
Just to be sure I understand the issue, the misleading error you are referring to, is the one during the build?
@StephenCleary

The problem with the error message being difficult to find in Visual Studio seems to be the same as the following one:
https://github.com/NuGet/Home/issues/7245

[2018-09-05 22:55] PatoBeltran commented on #7247
I tried downloading that project and it was able to restore all those packages correctly. Are you sure you have the correct SDK version? you can download the latest full framework and netcore sdk [here](https://www.microsoft.com/net/download). If that doesn't make it work, try doing a VS repair, you can use the VS installer for that.

[2018-09-05 22:58] PatoBeltran commented on #7250
cc. @kzu

[2018-09-05 23:05] kenrachynski commented on #7273
I'm not sure I can repro this outside the actual project. The core I was trying to deal with was the inability to properly support Unity Subset v3.5 in my builds. I have since managed to get around this specific error by focusing on Unity itself.

[2018-09-05 23:05] #7273 closed, assigned to nobody

[2018-09-05 23:56] PatoBeltran commented on #7252
Hey @Styxxy, thanks for opening the issue. This does seem like a bad UX. I tried reproing this with the repository you provided and had no luck.

One easy workaround for this would be to make sure the checkbox for `Allow format selection on first package install` is not checked, this will avoid showing you that dialog if you don't plan to install packages in project B.

[2018-09-05 23:57] vmelamed commented on #7261
I see. The problem is that the name of the package cannot be available because a part of the package name is the version which in turn is encapsulated either in the .csproj or in the AssemblyInfo.cs files. This makes your suggestion not workable for automation.

I guess this makes it a candidate for feature proposal.

Thanks.
Val

From: Patricio Beltran <notifications@github.com>
Sent: Wednesday,

[2018-09-05 23:58] PatoBeltran commented on #7255
@tmeschter can you take a look at this?

[2018-09-06 00:05] PatoBeltran commented on #7264
Hey @PJChamley, thanks for the issue! Can you reproduce this locally with 4.8.1 or it is only reproducing on VSTS? The project.assets.json is not found because probably restore failed before writing it to disk (this file is the output of restore). Can you provide me with some logs of restore to be able to investigate more on why it failed?

If you are able to reproduce this locally, could you prov

[2018-09-06 00:09] nirajvbhatt commented on #6140
Hi @zarochi , I have enabled external network in Docker NAT and restarted Docker service still no luck.

Hi @davidsk , did you manage to resolve this issue? Could you please provide your Nuget.Config?

I am specifying config file to be used as below:
- dotnet restore --configfile NuGet.Config --verbosity normal

I am running this in docker having ubuntu.

still it's not working.

I am still gettin

[2018-09-06 00:31] #7267 closed, assigned to nobody

[2018-09-06 00:31] PatoBeltran commented on #7267
Issue moved to [NuGet/NuGetGallery #6392](https://github.com/NuGet/NuGetGallery/issues/6392) via [**ZenHub**](https://www.zenhub.com/)

[2018-09-06 00:31] PatoBeltran commented on #7267
Moved to NuGetGallery since they have the logic for it... You can get this same results if you search on nuget.org

[2018-09-06 03:22] StingyJack commented on #7180
@mishra14  - I'm sure you guys know how to do this stuff already, but if it helps address this issue faster, I figured out [how to edit a part of the config file without wrecking the formatting of the rest of the file](https://github.com/StingyJack/ChangeOnlyTheElementYouShouldBe).  Its not complete as far as adding/editing/removing specific assembly bindings (that code I think you would already h

[2018-09-06 04:11] AArnott opened #7277 "Build fails claiming a missing win8 target where none exists nor should need to"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): `msbuild.exe /restore`

MSBuild version: `15.9.10.28431`

dotnet.exe --version (if appropriate): `2.1.500-preview-009266`

VS version (if appropriate): `15.9.0 preview 2.0 (28029.51.d15.9)`

OS version (i.e. win10 v1607 (14393.321)): `17134.rs4_release.180410-1804`

Worked before? If so, with w

[2018-09-06 04:22] AArnott opened #7278 "Respect UndefineProperties on ProjRefs - MSBuild-based package restore fails when /p:TargetFramework is set but only applies to leaf project"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): `msbuild.exe /restore`

MSBuild version: `15.9.10.28431`

dotnet.exe --version (if appropriate): `2.1.500-preview-009266`

VS version (if appropriate): `15.9.0 preview 2.0 (28029.51.d15.9)`

OS version (i.e. win10 v1607 (14393.321)): `17134.rs4_release.180410-1804`

Worked before? If so, with w

[2018-09-06 07:54] Styxxy commented on #7252
@PatoBeltran Thanks for the feedback.
Normally I would disable the "format selection", however I still need to support both types (and also within new development).

[2018-09-06 09:00] sathyab18 commented on #7247
Hey,
I have updated the SDK . Issue fixed.
Thank you so much .

[2018-09-06 09:00] #7247 closed, assigned to nobody

[2018-09-06 10:47] pascalberger commented on #7262
@anangaur Do you have any plans when the missing pieces will be released?

[2018-09-06 11:42] gthvidsten commented on #7246
Yes, this has been answered. Sorry for not providing any updates.
I added the following to my .csproj file:
[code]
And now MyFile.dll is also included in the NuGet package generated when I click "Pack" from the project context menu in Visual Studio.

[2018-09-06 11:42] StingyJack commented on #7252
@PatoBeltran - what does an option for formatting have to do with package installation? and what selection would it be formatting?

[2018-09-06 12:23] StingyJack commented on #7087
@jeromelaban - I think I have had this problem before and tried to fight with debugging package A updates.

I stopped doing that and just point project B to the assemblies in project A's bin folder, and keep modifying and rebuilding project A until I better understood or fixed the problem.  Then I'd create the package for A and fix project B to reference the package again.

It doesn't feel like th

[2018-09-06 15:00] AArnott commented on #7277
This issue was moved to dotnet/sdk#2517

[2018-09-06 15:00] #7277 closed, assigned to nobody

[2018-09-06 15:09] tmeschter commented on #7255
1. What's behavior for SDK-based projects? Those use a different set of tasks and targets to read the project.assets.json file and generate MSBuild items; if we make a change we will need to do it in two places at once. And if they _currently_ have different behavior then we'll definitely need to deal with that, anyway.
2. What's the behavior when using packages.config rather than `PackageReferenc

[2018-09-06 16:51] zarochi commented on #6140
I wish I could say exactly what I did, but there's quite a bit of poking around that I did. This was a local development environment issue for me at least. I followed this thread to re-do my docker networks: https://github.com/docker/for-win/issues/750. After that I still had issues. I ran a few reboots and turned off Windows Firewall. It is working for me now. I am running Docker for Windows, so

[2018-09-06 18:08] mishra14 commented on #7180
@PatoBeltran is currently working on changing the code that reads xml files in NuGet. He might be better able to address this issue.

cc: @jainaashish @nkolev92

[2018-09-06 18:20] jainaashish commented on #7216
@thinkOfaNumber did you have the same repro as mentioned above?

[2018-09-06 18:34] moh-hassan commented on #7263
@PatoBeltran
Thanks for reply and your smart suggestion.
AS POC, I modified  `CommandLineParser.nuspec` inside the package
I added the following empty group dependency for net45

        <group targetFramework="net45"/>

The final dependency in CommandLineParser.nuspec is as follows:

		<dependencies>
		   <group targetFramework="net45"/>
		  <group targetFramework=".NETStandard1.5">
			<dependenc

[2018-09-06 18:52] rrelyea commented on #7051
Fixed with devdependency work in 15.8 (closing as dupe)

[2018-09-06 20:29] PatoBeltran commented on #7251
Hey @GKlush, it is weird that it says that there was 1 error but there are no errors in the logs. Are you sure this is the complete log? Can you provide me with the package or a repo project where you see this restore failure so I can investigate on what is happening?

[2018-09-06 20:34] PatoBeltran commented on #7252
@StingyJack The "allow format selection on first package install" means that in the first time a project interacts with nuget (i.e. installing a package), nuget will prompt to ask if that project should use PackageReferences or Packages.config. This is there to give the opportunity to the user to choose a package format on the user's first interaction with NuGet.

As I said in my previous comment,

[2018-09-06 20:49] PatoBeltran commented on #7261
We do support globbing patterns, so you could probably change a little bit your script to something like:

[code]

just be careful that your globbing pattern is specific enough that it will not include the `.symbols.nupkg` because then you would be facing the same issue where it tries to push them as packages instead of symbols.

[2018-09-06 20:56] PatoBeltran commented on #7263
Awesome to hear that! Will close this issue since it has been resolved.

[2018-09-06 20:56] #7263 closed, assigned to nobody

[2018-09-06 21:52] BillStrait commented on #6469
I'm experiencing a similar issue today trying to reinstall packages. I'm receiving the same error. Any progress?

[2018-09-06 22:19] kzu commented on #7250
@iskiselev would you consider sending a PR to https://github.com/NuGet/NuGet.Build.Packaging/blob/dev/src/Build/NuGet.Build.Packaging.Tasks/CreatePackage.cs?

Thanks!

[2018-09-06 22:49] PatoBeltran commented on #7276
This seems to be a dupe of https://github.com/NuGet/Home/issues/6890 and https://github.com/NuGet/Home/issues/6858.

One possible workaround that was suggested by @rohit21agrawal in https://github.com/NuGet/Home/issues/6890#issuecomment-385772650 is to use these extension points/targets to add the serializer assembly to your package: https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets

[2018-09-06 22:55] rohit21agrawal commented on #6890
@Styxxy have you considered using contentFiles for XmlSerializer assemblies, instead of adding them to the lib folder of the package?

[2018-09-06 23:02] moh-hassan opened #7279 "Support hardcoding a different TFM for a packagereference's resolution"
**Introduction:**

I have faced a problem of installing many packages (not needed)  in a project net461 as described in this  issue #7263 ,Why nuget install many dll dependenices in FFW 4.6.1

I was adviced by @PatoBeltran

I followed his advice by adding an empty group for net45,as the following line:

		<group targetFramework="net45"/>

The details of the solution: https://github.com/NuGet/Home/

[2018-09-06 23:25] PatoBeltran commented on #7279
@moh-hassan I'm sorry but this doesn't look like something we would want to have as part of nuget. The packages are shipped as-is, we do not do any modification (even if it is in memory) of them before installing them.

There is no way for nuget to implement reliably a feature like this, and there is no reason why someone should have that granular control over what to pick and what not to pick in

[2018-09-06 23:47] moh-hassan commented on #7279
@PatoBeltran, This feature (without the details of implementation) is currently available in the third party  [Paket tool](https://github.com/fsprojects/Paket)
  which is a dependency manager for .NET with support for NuGet packages.
It helped  me to solve like this issues by providing framework=net45
What i did by adding empty group isn't a hack but an official solution done by many owners of the

[2018-09-06 23:57] PatoBeltran commented on #7265
@vmelamed this issue seems to be the exact same thing as what we were talking in https://github.com/NuGet/Home/issues/7261, I will close this as a dupe and we can continue the conversation there.

[2018-09-06 23:57] #7265 closed, assigned to nobody

[2018-09-07 00:21] PatoBeltran commented on #7268
@jokokko Thanks for opening the issue! I was able to reproduce this issue. Unlisted packages should not be updatable, but you should be able to install them if you provide a specific version.

`Update-Package -Resinstall` is a special version of the `Update-Package` cmdlet that is not actually an update, therefore here it does make sense that the behavior is the same as uninstalling and installing

[2018-09-07 01:06] rrelyea commented on #6450
@LindaLawton - The matching DotNet SDK version with VS 15.8 and NuGet 4.8 is DotNet SDK 2.1.400.
Please try to use nodefaultexcludes with 2.1.400 of dotnet.exe or later.

[2018-09-07 01:15] karann-msft commented on #4628
@vbfox @markusschaber - thanks for that feedback. I'll update the spec to call that out.

@dabutvin - if you are using a well-known license, you don't need to put a file. You can just provide the license identifier.
If you have a custom license, then you must pack it as part of the package. The nuspec `license` metadata field should then point to the license file within the package. That's how nug

[2018-09-07 02:51] rohit21agrawal commented on #6450
Set it as a property in your csproj file, or from command line pass /p:NoPackageAnalysis=true

[2018-09-07 03:19] thinkOfaNumber commented on #7216
@jainaashish yes, although I didn't try with the OPs repository. From memory I think I used https://github.com/aurelia/skeleton-navigation/tree/master/skeleton-typescript-aspnetcore

[2018-09-07 05:11] parashu1987 commented on #2880
I did not have http_proxy variable set on my machine, fix was to run the visual studio in admin mode. with this i was removed the above error.

[2018-09-07 05:19] p-lad opened #7280 "Warnings not displayed in presence of valid and invalid nuget source."
**Description:**
I added an invalid nuget source and then added a nugget package with an old version in the project. I then closed the solution and reopened it. The package showed an update available and installed it successfully without a warning.

**Steps to reproduce:**
1. Create an application.
2. Add a Package source pointing to an invalid directory as secondary package source (not the select

[2018-09-07 07:41] sprotty commented on #5936
Also hitting this issue, a fix would be appreciated

[2018-09-07 11:32] StingyJack commented on #7252
So it means "Allow for format selection...". Got it.

[2018-09-07 13:38] sabbadino commented on #6902
in docker linux ubuntu ..
FROM microsoft/dotnet:2.1.401-sdk AS build ..

since I'm having the same error , I tried this

COPY .nuget/nuget.config ./nuget.config
**ENV DOTNET_SYSTEM_NET_HTTP_USESOCKETSHTTPHANDLER=0**
RUN dotnet restore -nowarn:msb3202,nu1503
COPY . .

nuget.config file

[code]

If you do so, the result is that you get the "original error" : (
Response status code does not indicate

[2018-09-07 14:17] maartenba commented on #6902
Smells similar to https://github.com/NuGet/Home/issues/5286, seeing the same using the NuGet SDK directly with a TFS server on Mac OS X or Linux

[2018-09-07 17:57] nkolev92 commented on #7279
@moh-hassan
I'm curious to understand which paket feature you are referring to?

You can tell restore to only run with a specific framework, but that framework has to be in your project.

If you are allowed to specify custom frameworks to restore certain packages against, build would be likely to fail.

[2018-09-07 18:07] rrelyea opened #7281 "Enable SHA tracking and enforcement for Packages.Config scenarios"
We'd like to enable Packages.Config scenarios to track and enforce SHA.

For PackageReference users, project lock file will enable SHA enforcement.
We are exploring either:
1) adding SHA as a new Attribute of the Package element in Packages.Config
2) adding lock file to Packages.Config scenarios.

@zivkan

spec: https://github.com/NuGet/Home/wiki/Packages.config-SHA-Validation

Tasks:
- [x] Create

[2018-09-07 18:10] nkolev92 commented on #7269
This is a design problem with .NET overall.
Closing as dup of https://github.com/dotnet/sdk/issues/1553

NuGet reads the RuntimeIdentifier.

https://github.com/NuGet/NuGet.Client/blob/6c90e08a0bcbc6fd3bd8f851c3333dfdce1233ef/src/NuGet.Core/NuGet.Build.Tasks/NuGet.targets#L650

[2018-09-07 18:10] #7269 closed, assigned to nobody

[2018-09-07 18:24] rrelyea opened #7282 "Protect users who don't use exclusively https feeds (TLS versions, etc...)"
Need to brainstorm and spec this experience.
Do we warn for all "http" and "file" feeds? How? When?

Edit:
also consider looking at versions of TLS, etc...

[2018-09-07 18:28] rrelyea commented on #7282
cc @anangaur

[2018-09-07 19:09] jainaashish opened #7283 ".nupkg.metadata file will now be created during package extraction - contains "content-hash""
Currently we write down SHA of signed packages with the signature file which is different than the original SHA of the same package when it's not signed when we extract a package on disk either as part of install or restore. This will potentially break our SHA validation as part of post restore operation with repeatable build (project lock file) feature because then if a lock file already has a un

[2018-09-07 19:12] anangaur opened #7284 "Improve NuGet Package Management experience on VS"
There a list of issues with the current NuGet Package Manager UI. This Epic tries to capture all of them.

## Unified Packages List
* Almost always end up with the incorrect tab (Browse vs. Installed vs. Updates)
   * https://twitter.com/sebastienros/status/1037741105792442368
* Shows a limited set of packages - unnecessary large cards with useless information

## Confusing `Package Source` dropdo

[2018-09-07 20:00] SimonCropp opened #7285 "Update of a Package should not modify PrivateAssets of a PackageReference"
before update
[code]

after update

[code]

the problems is the first one results in the resultant nuget having a dependency on fody. the second one does not.

[2018-09-07 22:12] shupoval commented on #2880
In my case, there was no env variable http_proxy

I've fixed this issue by creating nuget.exe.config in the same folder as nuget.exe

C:\Program Files (x86)\NuGet\nuget.exe.config

[code]

[2018-09-07 23:01] skalemkiewicz commented on #6541
I use `dotnet.exe nuget push mypackage.nupkg -s \\winserver\nuget_share` to publish NuGet packages in a Windows environment. Since it auto-detects whether it should use the flat or the hierarchical folder structure, I was surprised that a similar command in Linux (`dotnet nuget push mypackage.nupkg -s ~/nuget_share`) did not and doesn't even seem to support the hierarchical structure at all. I und

[2018-09-07 23:23] dasMulli opened #7286 "Respect UndefineProperties on ProjRefs - avoid global RID from leaking into P2Ps"
Came across this when investigating a build failure that @galvesribeiro experienced.
I believe that most users will be unable to identify the problem and come up with a workaround.

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): dotnet.exe

NuGet version (x.x.x.xxx): 4.8.0.6 (`dotnet nuget --version`)

dotnet.exe --version (if appropriate):

[2018-09-07 23:24] dasMulli commented on #7286
also cc @dsplaisted who was on a GH issue where I mentioned this issue previously.
Don't know who to tag from NuGet side.

[2018-09-08 06:18] notorandxor commented on #2880
Fixed by adding protocolVersion="3" in C:\Users\UserName\AppData\Roaming\NuGet\NuGet.config.
[code]

[2018-09-08 08:56] AqlaSolutions opened #7287 "Referencing .NET Core library from .NET 4.7.1 app causes System.Runtime 4.0.20.0 not found exception"
`System.IO.FileNotFoundException: 'Could not load file or assembly 'System.Runtime, Version=4.0.20.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies.' - file not found.`

## Repro Steps

1. Create new .NET 4.7.1 Console App project in VS.
2. Install Microsoft.CodeAnalysis.CSharp nuget package using VS package manager.
3. Add `Microsoft.CodeAnalysis.CSharp.CSharpSyntax

[2018-09-08 09:59] Styxxy commented on #7276
@PatoBeltran Actually it is not a duplicate. Those mentioned issues are about *nuget pack*, while this issue is about consuming a package.

So when I have a package with the XmlSerializer assembly included. Now I consume this package in a project. I expect the XmlSerializer assembly also to be copied to the build output of my project, but it is not the case.

[2018-09-08 16:46] jokokko commented on #7268
@PatoBeltran ah, thanks (I'm a complete idiot and didn't realize the tooling is OSS... Was just going with dism & decompile). With the wanted behaviour acked, I'll follow with PR or somebody faster than me does.

[2018-09-08 20:45] rohit21agrawal commented on #7276
@Styxxy sorry for the confusion. will re-open and triage.

If i understand correctly, this problem only happens with PackageReference, and not packages.config?

[2018-09-08 20:48] rohit21agrawal commented on #7276
@NuGet/nuget-client as per documented behavior, when there is a references element in the nuspec of a package, only the assemblies listed in the references element should be added as a reference to the project, but everything from the lib fodler should still be copied to the bin dir.

[2018-09-08 20:54] rohit21agrawal commented on #7285
is Fody version 3.0.1 marked as a developmentDependency? If so, then this is the intended behavior and introduced as part of 15.8 update of visual studio

[2018-09-08 20:56] rohit21agrawal commented on #7284
there is already a visual studio UI and bugs like  https://github.com/NuGet/Home/issues/1236 to track discussions.

[2018-09-08 21:02] Styxxy commented on #7276
@rohit21agrawal Yes exactly. The same happens for pdb files (already logged as an issue somewhere) and actually also xml documentation files (if you compare it to the packages.config system).

Related to pdb and xml (doc) files: on build some of the MSBuild properties should be respected, eg. AllowedReferencedRelatedFileExtensions .

[2018-09-08 22:00] moh-hassan commented on #7279
Thanks @nkolev92 for reply.

1) In Paket, when adding the following framework option 'framework:461'  in 'paket.dependencies' file:

		nuget CommandLineParser 2.3.0  framework:461

and  run 'paket install' in the commandline, Paket install only net45 lib(in my issue #7263), only one package without any  dependencies.

Also, Paket add the following section to the project file myproject.csproj

		<C

[2018-09-09 00:35] anangaur commented on #7284
Thanks for the pointer. I will dupe one of the issues after incorporating the suggestions into the relevant one that we can leave open.

[2018-09-09 00:51] SimonCropp commented on #7285
But that is a breaking change

[2018-09-09 02:10] SimonCropp commented on #7285
also i think this is still a bug. someone building a fody addin explicitly wants

[code]

an upgrade should not change that explicit decision.

[2018-09-09 14:22] sabbadino commented on #6902
@maartenba  .. maybe .. I must use dotnetcore restore , since I'm on a linux docker image without mono : nuget.exe does not work in linux unless you install mono & run nuget.exe under mono ..
Reading around google it seems that access to TFS private feeds can be done using MONO nuget.exe  (providing  a nuget.config with credentials (PAT token).
And a collegue of mine said that he had it working (w

[2018-09-09 18:49] drieseng commented on #7255
@tmeschter I agree this would be a breaking change. I'll look into your questions.

**Note:**
To avoid naming conflicts across packages (hereby overwriting files or manifest resources of another package), we should actually also use the package name as prefix. This for both the 'Content' and 'Embedded Resource' build actions.

[2018-09-09 23:41] nkolev92 commented on #6902
@sabbadino If the problem you are facing is #5286 as mentioned a few times, then nuget.exe on mono with a nuget.config and a PAT token won't fix it.
The only way to fix it currently is to use a credential provider.

The reason why a credential provider is the only solution can be found in the description of the fix https://github.com/NuGet/NuGet.Client/pull/2297

For dotnet.exe we have added suppo

[2018-09-10 01:01] binki opened #7288 "Make a public extensibility point corresponding to the _LoadRestoreGraphEntryPoints target"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI, `msbuild/r`

NuGet version (x.x.x.xxx): 4.8.0.5385

dotnet.exe --version (if appropriate): inappropriate

VS version (if appropriate): 15.8.3

OS version (i.e. win10 v1607 (14393.321)): win10 v1809 (17755.1)

Worked before? If so, with which NuGet version: No. There was not a need for th

[2018-09-10 06:19] nkolev92 commented on #7279
Maybe I'm not following you exactly, but here's what I understand. In number 1 you say:

I don't see any difference from before. For net461, NuGet just selects the closest matching framework.

The choose statement is required because paket writes to csproj.
In PackageReference, the build figures the assembly references out of the project.assets.json. And that works the exactly same way as writing

[2018-09-10 07:45] dasMulli commented on #6949
Did this happen?

[2018-09-10 09:53] dtretyakov opened #7289 "NuGet.Protocol library does not use ConfigureAwait(false) which leads to deadlocks in NuGet plugins"
## Details about Problem

* NuGet version: 4.8.x
* dotnet CLI: 2.1.400+

When using `NuGet.Protocol` library for communication in NuGet plugins it could cause deadlocks in message processing on the plugin side and as result NuGet tasks fails with "was cancelled" messages like that:

[code]

After adding `ConfigureAwait(false)` calls within `NuGet.Protocol` library this use case is unblocked and re

[2018-09-10 09:56] pamidur commented on #7285
This change brakes every single package where _build_ and _lib_ are somehow connected!

Example:
I have a package with ```lib``` and ```build```. ```build``` alters IL when types from ```lib``` are used.

Then I have a solution which use the package. It has dependencies like the following:
project2->project1->package

Case: developmentDependency=true
Result: you cannot compile project1 because Inc

[2018-09-10 10:16] phillip-haydon commented on #7209
ETA on this being fixed?

[2018-09-10 13:40] PaulVrugt commented on #4488
How on earth can this issue exist for over one and a half years? It makes using .net standard libraries in .net framework projects unusable.

[2018-09-10 13:43] Toemsel commented on #4488
@PaulVrugt I have no idea, but there are two workarounds I get along with.
1. Build the package completely by yourself. (Without any generation) OR
2. Build the package with VS and do not dare to save anything. Just create and upload 👍

[2018-09-10 14:30] moh-hassan commented on #7279
Really, Paket find net45 is the closest framework for net461, because i provided a restriction , but nuget find netstandard15 is the closest one. That is the point.

 I use the  sdk  format of csproj in vs 2017 update 3 that target net461, with the properties:

    	<Project Sdk="Microsoft.NET.Sdk">
		     <PropertyGroup>
			<OutputType>Exe</OutputType>
			<TargetFramework>net461</TargetFramework>

[2018-09-10 14:59] mwpowellhtx opened #7290 "NuGet packaging somehow using versions prior to build"
I have a reference to [BumpAssemblyVersions](https://www.nuget.org/packages/BumpAssemblyVersions/) that is happening ``BeforeBuild`` targets. However, NuGet is "successfully creating package" and somehow using the value of my versions before that. IMO this is incorrect and should be using the value after build, don't you think? I'm not sure how that is getting stuck, and/or how I should be replaci

[2018-09-10 15:37] mwpowellhtx commented on #7290
I think I see what's going on. I do need to rewrite the project file as I was doing. However, I also need to be more integrated from a *targets* perspective and connect output from my custom task in order for the build process to consume the correct versions at the correct moment. I'll keep this open in the event there is anything more substantive that comes up, but I think that's the approach I n

[2018-09-10 16:02] anangaur commented on #4488
To me it seems like we need to treat a project with no dependencies  as a PackageReference(PR) based project when referenced from a PR project and reference it as a packages.config(PC) based project when referenced from a PC project. So this means that we should not automatically treat a project without a package to belong to either category and hence be able to treat it differently based on the c

[2018-09-10 16:44] tmeschter commented on #7255
@drieseng @PatoBeltran I should elaborate: given that this is a breaking change, almost the only way we would do this is if packages.config or `PackageReference` in SDK-based projects work differently and we need to bring them all in line. In that case I expect we would change the `PackageReference` behavior to match the existing packages.config behavior unless there is some really compelling reas

[2018-09-10 17:20] mrward commented on #7280
This does not seem to be a problem with Visual Studio for Mac. In both VS Mac and VS on Windows if you have an invalid file path as a secondary package source the NuGet restore or install will succeed without any warnings. If you have an invalid url as a secondary source then NuGet will report a warning. Not sure if this is by design or not - however there is a discrepancy here.

[2018-09-10 17:21] mrward commented on #7280
@p-lad The bug description is incorrect here. The problem is a package source pointing to an invalid directory not an invalid url. VS Mac and VS on Windows both report a warning when an invalid url is used as a secondary source. I have edited the test steps.

[2018-09-10 17:22] rrelyea commented on #7290
@mwpowellhtx

- what type of project are you packing?
- What technique/tool are you using to build the package?

[2018-09-10 17:29] mwpowellhtx commented on #7290
Just to reiterate, if I try to connect the dots any sooner than ``GetAssemblyVersion``, I am finding that my task is continually invoked, and I get continually bumping versions. Really, not what I am after whatsoever. So... Packaging really needs to depend on build completion, which can depend on assembly versions, assembly information being generated, that's all well and good. But leave room for

[2018-09-10 17:30] mwpowellhtx commented on #7290
@rrelyea It's nothing fancy; I use the IDE to build/rebuild, etc. I am introducing a custom task to bump the version(s), whether they be assembly attribute variety or CSPROJ based.

[2018-09-10 17:58] anangaur commented on #4488
Talked to @jainaashish and got enlightened on the scenario. Though the fix may seem non trivial for this issue this has repercussions on the VS experience where we show a popup dialogue to users to select the package format (PC vs. PR).  Just added this to the list of PC --> PR issues @ https://github.com/NuGet/Home/issues/6659. We will be scheduling time to improve the PackageReference experience

[2018-09-10 18:25] rohit21agrawal commented on #7290
@mwpowellhtx can i see in code/targets what you are trying to do? you need  to be setting the Version or PackageVersion property, and as long as that is set before the ```GenerateNuspec``` task of Pack, which only runs after build, you will get the updated version for your package.

[2018-09-10 19:30] jainaashish commented on #6949
Yes, this has been merged for VS 15.9 with https://github.com/NuGet/NuGet.Client/commit/e082b2b315d1afe77bfe4a89eeee789fadb58baf

[2018-09-10 19:31] #6949 closed, assigned to nobody

[2018-09-10 19:59] mwpowellhtx commented on #7290
@rohit21agrawal I'm confused then; when I am "bumping" my versions, it would seem that not all versions are created equal, depending on when generating assembly info sees them, versus packaging, etc. Does that sound accurate?

[2018-09-10 20:47] rohit21agrawal commented on #7290
i am not sure I understand your question/concern. could you please elaborate in a little more detail?

[2018-09-10 21:02] jainaashish commented on #7285
@SimonCropp When you already had `PrivateAssets` set to `None` then updating this package will not change it. We respect the existing values set for these flags. I was not even able to repro your issue. Can you give me complete repro steps?

@pamidur The idea behind setting `developmentDependency` to `true` is when the author doesn't want consumer to take a compile time dependency on that package.

[2018-09-10 21:08] cdmihai opened #7291 "High memory traffic in nuget due to lots of NuGetVersion objects"
I was profiling memory traffic in MSBuild (single proc build of [WebLargeCore ](https://github.com/mikeharder/dotnet-cli-perf/tree/master/scenarios/web/large/core)with minimal logging) and noticed high memory traffic from nuget:

![image](https://user-images.githubusercontent.com/2255729/45324268-7efef400-b502-11e8-9daf-6fa9c5f68a30.png)
![image](https://user-images.githubusercontent.com/2255729/4

[2018-09-10 21:15] pamidur commented on #7285
@jainaashish I'm cool with transient ```build```, is there issue I can subscribe to?

I my case the order of actions:
- project is compiled with ```lib``` into ```dll```
- ```build``` replaces all entries from ```lib``` in ```dll``` to something else
- ```build``` removes all references to ```lib``` from ```dll``` and in fact removes it from output like it never existed

What's wrong with ```compi

[2018-09-10 22:02] rrelyea commented on #7287
@jainaashish Please port https://github.com/NuGet/NuGet.Client/pull/2416 to 4.9/VS15.9
(already fixed in 5.0/VS16.0)

[2018-09-10 22:10] jainaashish commented on #7287
Already done https://github.com/NuGet/NuGet.Client/commit/454c7af0e8ab30b472afd9543a8e624d242e4440

[2018-09-10 22:10] #7287 closed, assigned to jainaashish

[2018-09-10 23:04] mwpowellhtx commented on #7290
I think I've got a hypothesis what's going on. My custom task is re-writing the project with bumped versions, and I was half-expecting those to be the versions used throughout. However, MSBuild is more likely running with the project file as-is prior to my custom task working on it; so any versions that NuGet sees, i.e. during packaging, are the previous ones. I was able to expose my versions via

[2018-09-10 23:15] rrelyea commented on #7291
Potential perf improvement?

[2018-09-10 23:28] rrelyea commented on #7290
closing as resolved. Please chime in again if I was wrong.

[2018-09-10 23:28] #7290 closed, assigned to nobody

[2018-09-10 23:31] mwpowellhtx commented on #7290
@rrelyea I was headed there, thanks for the update. doing a bit more testing on my end of things, but I think I've found the better path to go on it.

[2018-09-11 07:47] sabbadino commented on #6902
Hi,
first of all .. I'm working to get authentication work on a vsts feed, not other kind of feeds.

I had the error
__Operation failed with error - An invalid status code was supplied (Configuration file does not specify default realm)__  (which seems ntlm / kerberos related, but It's just a guess).
while doing a dotnet restore , not nuget.exe restore

It's not clear to me when you say :
_VSTS wi

[2018-09-11 09:15] pascalberger opened #7292 "Error restoring packages for MsBuild project which imports target from NuGet package"
I've a Visual Studio Solution which contains an MsBuild project which imports a target file, which comes from a NuGet package. During build we restore first the NuGet packages (`nuget restore mysolution.sln`) and then build the MsBuild project. This worked fine until NuGet 4.7.1. Starting with 4.8.1 this results now in an error, as nuget.exe seems to inspect the MsBuild project while restoring pac

[2018-09-11 10:36] pascalberger commented on #7262
@anangaur How does it look regarding release notes and requirements for 4.8.1? I tried to update to be able to use signed packages, but I'm running into issues (https://github.com/NuGet/Home/issues/7292). Maybe this is a known restriction or requirement which I'm missing in 4.8.1, but without proper documentation I have no clue, and therefore I'm still unable to upgrade to any nuget packages which

[2018-09-11 10:55] phillip-haydon commented on #6486
@rrelyea so whats the fix? How can I install dependencies from authenticated feeds?

[2018-09-11 12:00] phillip-haydon commented on #6902
So the gist of this is that dotnet does not support private/authenticated feeds for VSTS or TeamCity? So I'm crippled now cos I cannot build a AWS Lambda since I cannot specify a specific version of the nuget.exe to use for restoring to resolve this bug?

[2018-09-11 14:21] StephenCleary commented on #7242
Yes, the misleading error is if you try to build. If you just try to restore, then you get the actionable error.

[2018-09-11 16:12] dtretyakov opened #7293 "NuGet Credentials Plugin does not work on MacOS"
## Details about Problem

dotnet.exe --version: 2.1.401
OS version: Mac OS X, version 10.13.6

## Detailed repro steps so we can see the same problem

[Credentials plugin](https://github.com/NuGet/Home/issues/6486) for .NET CLI works fine on Window and Linux machines, but fails on MacOS machines with "error : Parameter name: culture".

### Verbose Logs

[code]

### Sample Project

[Plugin sources]

[2018-09-11 17:44] Nerzal commented on #4837
I have the exact same problem.. any solution for this by now?

[2018-09-11 17:47] nkolev92 commented on #7242
Unfortunately, I am not sure we can do much here without some more drastic changes.

Restore is the only thing that understands why it failed. Build can't know that information as they are separate actions.

This is made better with the dotnet commands where restore is implicit.

[2018-09-11 18:42] nkolev92 commented on #6902
@sabbadino

You are correct, that does look like negotiate goo.
This might be related: https://github.com/dotnet/corefx/issues/30203.

In your scenario, roughly the following happens:

1. You specify credentials in your nuget.config
1. The thing here is that the credentials you are providing are usually not NTLM/negotiate but rather basic auth credentials.
1. When connecting to the feed, the authe

[2018-09-11 18:44] nkolev92 commented on #5881
Related https://github.com/NuGet/Home/issues/6486.

We have done a lot of work to improve the dotnet.exe authentication scenarios in the above issue.

[2018-09-11 18:53] jainaashish commented on #7285
build transitive issue# https://github.com/NuGet/Home/issues/6091

I don't understand why your build alter IL type from lib... that doesn't sound right.

And excluding compile isn't a limitation instead the right implementation for this `developmentDependency` flag. If the ask is that the author wants a compile time dependency on his package, then he don't need to set this flag. Empty lib wont wor

[2018-09-11 19:02] rrelyea commented on #7008
VS 2017 15.8.4 has this fix as well -- available today.

[2018-09-11 19:25] pascalberger commented on #7008
@rrelyea So, you ship a not recommendet version (as per https://www.nuget.org/downloads) to thousands of customers? 😕

Wouldn't it be a wise idea to make it the recommendet version first including proper documentation (as already asked here: https://github.com/NuGet/Home/issues/7262) and also note this change in Visual Studio release notes.

[2018-09-11 19:27] infin8x commented on #6902
The VSTS Credential Provider can be acquired here: https://github.com/Microsoft/artifacts-credprovider#readme.

[2018-09-11 19:32] infin8x commented on #6486
@phillip-haydon we've just released the [Azure Artifacts Credential Provider](https://github.com/Microsoft/artifacts-credprovider#readme). If you haven't updated to the required version of dotnet/nuget/msbuild (see readme), you can also use the old mechanism of a plain-text PAT: https://docs.microsoft.com/en-us/azure/devops/artifacts/nuget/dotnet-exe?view=vsts

[2018-09-11 19:40] nkolev92 commented on #6902
@sabbadino @phillip-haydon
At your convenience, please try out the credential provider linked by @alexmullans  with the appropriate dotnet.exe.

[2018-09-11 19:57] keithrob commented on #6902
@sabbadino  and @phillip-haydon ,
To make the artifacts-credential provider work with a container you will need to do the following:

1. Assuming you're using a *nix container
2. Compose a container with the netcore version of the plugin as described [here](https://github.com/Microsoft/artifacts-credprovider#manual-installation-linux-and-mac)
3. You will need to provide creds for each source in yo

[2018-09-11 20:03] sabbadino commented on #6902
Thanks, will it work with against an  premise TFS 2017 as well ?

[2018-09-11 20:07] pamidur commented on #7285
Thanks,

This sounds totally inconsistent:

This flag includes build and analyzers, and exludes compile. But then it makes private everything. And even doesn't include this package to dependency on pack.

I'd expect this flag either means **dependency to this package is not transient** or **this package doesn't have dlls to reference**. But not both!

This weird combination _is_ the limitation and

[2018-09-11 21:10] nkolev92 commented on #6902
Please note the following problem when dealing with dotnet 2.1.400 and the plugin on docker.

https://github.com/NuGet/Home/issues/7223

The mentioned issue will be fixed in 2.1.500/2.2.100.

[2018-09-11 21:39] PatoBeltran opened #7294 "Remove obsolete Settings APIs"
As part of https://github.com/NuGet/NuGet.Client/pull/2370 we are deprecating a bunch of API methods from the Settings API.

This item is to track the deletion of obsolete APIs.

[2018-09-11 23:05] keithrob commented on #6902
@sabbadino ,
It should.

[2018-09-11 23:11] cdmihai commented on #7291
Yes, the fewer the allocations, the less GC is called. I'm being told that GC is quite the problem in VS.

[2018-09-12 05:23] pascalberger commented on #7262
As the changes from 4.8.1 are now also deployed with Visual Studio based on [this](https://github.com/NuGet/Home/issues/7008#issuecomment-420385280) comment, it now definitely should be the recommended version and deserves proper release notes

[2018-09-12 09:30] dtretyakov commented on #7289
It looks like using the same approach for logging as in https://github.com/Microsoft/artifacts-credprovider solves the problem with deadlock.

[2018-09-12 09:47] v-longmin opened #7295 "[Test Failure]NuGet Client dev-ragrawal-4.0rtm\4.0.1.5492 is failed to install into D15rtwsvc\26228.52"
## Details about Problem
NuGet version:dev-ragrawal-4.0rtm\4.0.1.5492
VS version:D15rtwsvc\26228.52
OS version:Build 17134.rs4_release.180410-1804
## Detailed repro steps
1. Install VS path: \\cpvsbuild\drops\VS\d15rtwsvc\products\26228.52\bootstrappers\Enterprise\vs_enterprise.exe
2. Install NuGet Client path:  \\ddfiles\Drops\NuGet\Drops\CI\NuGet.Client\dev-ragrawal-4.0rtm\4.0.1.5492\artifacts\V

[2018-09-12 09:59] #7289 closed, assigned to nobody

[2018-09-12 10:04] iberodev opened #7296 "Invalid framework folder netstandard2.0"
Please read the following information before posting the issue.

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet

NuGet version (x.x.x.xxx):

OS version (i.e. win10 v1607 (14393.321)): Linux

Worked before? If so, with which NuGet version: No

## Detailed repro steps so we can see the same problem

1. GitLab CI script that uses a linux

[2018-09-12 10:41] dtretyakov commented on #7293
It looks like it duplicates #7223

[2018-09-12 10:41] #7293 closed, assigned to nobody

[2018-09-12 10:43] dtretyakov commented on #7223
@nkolev92, thanks for fixing it. In which .NET CLI / NuGet versions it will be available?

[2018-09-12 14:14] cortex93 commented on #7060
We have an issue with multiple TFS agent on the same machine. If two builds run at the same time, nuget restore may fail on locked files and will leave the cache broken.
For example :
`2018-09-12T13:05:53.9490262Z   Installing Microsoft.EntityFrameworkCore.SqlServer 2.1.2.
2018-09-12T13:05:54.0271496Z C:\Program Files\dotnet\sdk\2.1.401\NuGet.targets(114,5): error : Could not find file 'C:\Users\s

[2018-09-12 16:40] karann-msft commented on #7262
Release notes are here - https://docs.microsoft.com/en-us/nuget/release-notes/nuget-4.8-rtm

[2018-09-12 18:32] jainaashish commented on #7283
After our discussion, we decided another option (4) which was a slight variation of option (2). With this option, instead of changing anything with existing file (which has real hash for signed packages), we'll have a new file for original hash but that file will be a json file so that we can add more metadata into it in future instead of coming up more additional files.

[2018-09-12 18:36] nkolev92 commented on #7223
4.9 NuGet <=> 15.9 Visual Studio <=> 2.1.500 CLI version.

[2018-09-12 20:02] jainaashish commented on #7243
@v-luzh please dont use double quotes (") while setting this msbuild property and then it will work fine for you.

[2018-09-12 20:02] #7243 closed, assigned to jainaashish

[2018-09-12 22:11] mikeageeco commented on #1883
Another year and still no resolution?

[2018-09-13 06:53] TerryDieckmann commented on #6328
Having the same issue.

- Running Visual Studio as administrator or not does not affect this problem.
- Deleting the project and clone it from the remote again does not fix the problem.
- Removing all NuGet packages results in another error: _Assets file project.assets.json not found. Run a NuGet package restore to generate this file_.
- Removing or adding NuGet packages will give you the same "ac

[2018-09-13 10:08] LinardAtTenForce opened #7297 ""Failed to resolve all items referenced by '*.csproj' " warning shouldn't be raised when there are no Package/Project References"
## Details about Problem
NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI
NuGet version (x.x.x.xxx): 4.8.1.5435 (latest stable)
VS version (if appropriate): 2017 (15.8.4) (latest stable)
OS version (i.e. win10 v1607 (14393.321)): Win10 v1803 (17134.228) (latest stable)
Worked before? If so, with which NuGet version: Unknown

## Detailed repro steps so we can see

[2018-09-13 10:10] pmiossec commented on #3788
I think that's linked but when, in the "Package Manager Console", when you list the packages installed (with `Get-Package` command), you get the last number at "0".

Example:
For: `<PackageReference Include="Newtonsoft.Json" Version="9.0.*" />`
you will always get (even if `9.0.3` is really installed) : `Newtonsoft.Json                     {9.0.0}`

That's surely why "Nuget Package Manager` see it

[2018-09-13 11:28] mrward opened #7298 "HttpHandlerResource has a HttpClientHandler property which is not available when using NSUrlSessionHandler on the Mac"
## Details about Problem

The [HttpHandlerResource](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Protocol/Resources/HttpHandlerResource.cs) has a HttpClientHandler property. A native HttpMessageHandler, which can be used by HttpClient, does not have to be a HttpClientHandler derived class. With Xamarin.Mac the native handler is [NSUrlSessionHandler](https://github.com/xamari

[2018-09-13 12:27] b6o opened #7299 "Incorrect NuGet.config used during restore when running as LocalSystem"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe

NuGet version (x.x.x.xxx): 4.7.1.5393

dotnet.exe --version (if appropriate):

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)): Windows Server 2012

## Detailed repro steps so we can see the same problem

When running nuget restore as the LocalSystem user, the

[2018-09-13 12:44] arunjvs commented on #3664
@niraj-bpsoftware I'd recommend seeing if the username and password work with the server with basic authentication separately - perhaps using a curl command mentioned above. Also can you be more clear by "picks up only private nuget source". Nuget loads multiple config files in order and this affects from where packages are restored.

[2018-09-13 14:49] TFTomSun commented on #6640
@nkolev92
The problem still persists. I have a very simple easy to reproduce scenario:
- create a package with Version 1.0.0 based on a folder incl. some target file that prints out a (hardcoded)  version string and push it to artifactory
- install the package in project and replace the version with Version="*"
- change the version string in the target
- recreate the package with Version 1.0.1
- p

[2018-09-13 16:51] nkolev92 commented on #6640
@TFTomSun
Running `dotnet restore --force` will reevaluate the restore graph.

NuGet caches part of the restore graph to avoid frequent network calls when using "*".

Related:

https://github.com/NuGet/Home/issues/6987
https://github.com/NuGet/Home/issues/5445

Potentially you could also be hitting the http cache (30 mins) during your restore runs. Opening the browse tab in the UI will defeat that

[2018-09-13 17:21] TFTomSun commented on #6640
@nkolev92
thanks for the workaround. Since the nuget stuff is part of msbuild, is there a possibility to activate the force mode via an msbuild property? i could imagine to implement a little force logic that always forces the first time after i pushed a package from my own machine. That would be in my case the most natural and performant behavior.

especially the http cache is a problem since i c

[2018-09-13 17:34] nkolev92 commented on #6640
Yes, with MSBuild use `/p:RestoreForce=true`.
Rebuild in VS, currently does the spiritual commandline --force, but it won't invalidate the http cache.

Note that the VS experience is lacking and will likely change in the future (maybe an explicit option).

[2018-09-14 01:01] rido-min commented on #7241
Finally found the reason with the help of @jainaashish.

In the migration process, some packages modified the csproj. When VS detected the changes and asked for reloading, all changes were missing. Just skip the changes before save, and the PackagesReferences will be persisted.

[2018-09-14 04:10] jmevel commented on #4491
@thomas-hammond I'm curious to know how do you use the `dotnet pack` command on VSTS using any version of Nuget?
The only way for me to specify a custom version (or a custom path to the .exe) is to select version `0.*` in VSTS. But if I do that, the only available commands are `Restore` and `Install`. I can't call pack and I don't see how I can override the command to use pack.

Thanks a lot. This

[2018-09-14 08:18] flcdrg commented on #7241
Yeah, I think that corresponds with what I've seen. Sometimes I would get prompted as to whether to reload or ignore changes. Ignoring and then saving seems to work around this.

[2018-09-14 14:46] MendelBak commented on #6328
I'm having a similar issue. Running VS as admin or running `dotnet restore` in my console as an admin does not overcome this error message saying that I've been denied access.

[2018-09-14 17:15] jainaashish commented on #7139
PR# https://github.com/NuGet/NuGet.Client/pull/2342 merged into release-4.9.0-preview3 branch

[2018-09-14 17:15] #7139 closed, assigned to jainaashish

[2018-09-15 16:38] tmeckel commented on #7012
I had the same issue and resolved it by deleting the obj and bin directories. An analysis of the root cause (in my cause though) showed that the MSBuild environment creates `obj\project.assets.json`  when a nuget restore is done. Inside this file references to the fallback folders, which were present at the time of the restore, are stored. If at a later time not all folders can be found, the build

[2018-09-16 09:55] fleed commented on #7106
Same issue after updating a build server from VS 2017 **15.4** to **15.8**

[2018-09-16 14:23] SuperJMN commented on #4190
I'm experiencing the same issue. Someone please fix it.

[2018-09-16 19:13] rohit21agrawal commented on #7295
Fixed

[2018-09-16 19:13] #7295 closed, assigned to nobody

[2018-09-17 02:23] v-luzh commented on #7243
@jainaashish I can still repro this issue when setting 'NuGetLockFilePath' to the **relative** path (no quotes) of ‘custom.lock.json’ file on D15.8stg 28020.3001+NuGet Client dev-asja-projectLockFile\5.0.0.465. Not very sure if it is fixed on above NuGet Client build. Could you please help to confirm the fix build and the correct way to set the relative path? I will verify it ASAP.Thanks a lot!

[2018-09-17 11:30] SimonCropp commented on #7285
for a repro download this https://github.com/Fody/Caseless/archive/97f648181221fe333f9a660604b1dd50ed091f66.zip and do a nuget update

[2018-09-17 13:26] jeromelaban commented on #7087
@StingyJack That works if the package is a direct reference. If the package is inside of a larger chain, this is very difficult (or sometimes impossible) to do, because msbuild overrides the reference itemgroup with ones resolved from nuget.

[2018-09-17 16:46] jainaashish commented on #7285
@SimonCropp updating from NuGet manager UI worked fine but I could repro it when I updated from NuGet powershell command. Are you also reproing it through PMC?

[2018-09-17 16:53] jainaashish commented on #7243
@v-luzh relative path is always to the *.csproj file. If you have `project.csproj` and `custom.lock.json` in the same directory then set `<NuGetLockFilePath>custom.lock.json</NuGetLockFilePath>` and try to repro it.

And you can use the latest dev or release-4.9.0-preview3 build to verify this.

[2018-09-17 16:58] felixhayashi opened #7300 "Counter intuitive behaviour when using dotnet restore with "--configfile" option"
Hi,

just wanted to report a rather counter intuitive behavior, not sure if it is a bug.

In my project root I am using `dotnet restore --configfile NuGet.Config` to restore my packages. This fails saying that not all packages could be found. However, when executing `dotnet restore` in the same directory without the `--configfile`, the restore works, all packages are found plus my local project-sp

[2018-09-17 17:36] rohit21agrawal commented on #7285
@pamidur if a Project (ProjectA) consumes a Package (PackageB) and references a DLL in it, then how can you have it not be transient and expect consumers of ProjectA to be not broken?

[2018-09-17 19:57] pamidur commented on #7285
@rohit21agrawal , attributes and references are removed from ProjectA after compilation by supplied build.targets in ProjectB package. That's why I rather consider it to be "developmentDependency"

[2018-09-18 00:14] nkolev92 opened #7301 "NuGet License Expression Model"
Related to https://github.com/NuGet/Home/issues/4628.

Building on top of https://github.com/NuGet/Home/wiki/Packaging-License-within-the-nupkg

Define the NuGet License expression model based on SPDX.

Details [here](https://github.com/NuGet/Engineering/pull/1704). The link will be public soon.

[2018-09-18 00:23] nkolev92 opened #7302 "Improve the tokenizers/parsers in the NuGet license model"
Follow up to https://github.com/NuGet/NuGet.Client/pull/2424

The tokenizers as written there are rather lacking.  They can be made linear and create less garbage.

[2018-09-18 08:38] v-longmin opened #7303 "[Test Failure]The default package source is Microsoft Visual Studio Offline Packages"
## Details about Problem
NuGet version: Dev\5.0.0.5508
VS version: D16.0stg\28117.3000
OS version: Build 17134.rs4_release.180410-1804
## Detailed repro steps
1. Launch VS, create a new project through File -> New -> Project (for example: Console App (.Net Core)).
2. Open PM UI in Solution Explorer window.
3. Check the default package source.
## Excepted
The default package source should be nuget.

[2018-09-18 09:09] DiggaTheWolf commented on #7219
Please can you supply an installer for Visual Studio 2017 15.8._n_ IDE?

[2018-09-18 09:38] AndreyAkinshin opened #7304 "NuGetPackageManager.InstallPackageAsync doesn't respect IgnoreFailedSources"
If I have an unavailable feed in the `NuGet.Config` (e.g., `http://localhost:9000/guestAuth/app/nuget/v1/FeedService.svc/`), I can't install a NuGet package via `NuGetPackageManager.InstallPackageAsync`.
I tried to set `ResolutionContext.SourceCacheContext.IgnoreFailedSources = true`, but it doesn't help because `NuGet.PackageManagement.ResolverGather.InitializeResourcesAsync` doesn't check this f

[2018-09-18 09:38] v-luzh commented on #7295
This issue repro on D15.9 28114.00+NuGet Client Release-4.9.0-Preview3 4.9.0.5507.

[2018-09-18 10:03] DiggaTheWolf commented on #7219
I've remedied this myself by running the vsixinstaller.exe manually using the following steps:

- Downloaded and saved the VSIX from [NuGetizer3000-VS2017](http://bit.ly/nugetizer-2017)
- Ran the following in the VS command prompt to remove any currently installed products and install the VSIX, replacing PathToVSIX with my path to VSIX:

************************************************************

[2018-09-18 10:46] SimonCropp opened #7305 "unlist the out of date wiki"
can u remove the nuget wiki so it doenst show up in search results https://github.com/NuGet/Home/wiki/Adding-nuget-pack-as-a-msbuild-target

[2018-09-18 10:47] SimonCropp commented on #7285
@jainaashish no, i can repro through the ui

[2018-09-18 13:12] kzu commented on #5040
Would you mind contributing a PR to https://github.com/NuGet/NuGet.Build.Packaging/  to fix this? Thanks!

[2018-09-18 15:29] jnm2 opened #7306 "Copyable PackageReference"
I'm often on a package's NuGet.org page when I want to add it to a project, with the .csproj text editor open in VS Code or Visual Studio.

![image](https://user-images.githubusercontent.com/8040367/45698263-9a3ab680-bb35-11e8-9713-be9fa9799fe6.png)

It would be cool if there was a tab for copying `<PackageReference Include="Microsoft.CodeAnalysis.FxCopAnalyzers" Version="2.6.1" />` to the clipboa

[2018-09-18 19:17] PatoBeltran commented on #6741
closing this in favor of https://github.com/NuGet/Home/issues/6961

[2018-09-18 19:17] #6741 closed, assigned to PatoBeltran

[2018-09-18 19:53] TBeblar commented on #738
2018. Still a problem.

[2018-09-18 22:03] PatoBeltran opened #7307 "Obsolete Settings API should be able to create SourceItems"
As part of __ the implementation of some APIs in Settings was updated to use the settings parsing structure. As part of this change, the old APIs could only create `addItem`, `credentialItem` and `unkownItem`.

When this APIs are used to create a package source, and `addItem` will be created instead of a `sourceItem`. This will create the same `nuget.config` in disk, but the abstraction will have

[2018-09-18 22:19] stavvy-akamen commented on #4537
upvote

[2018-09-18 23:36] #7307 closed, assigned to PatoBeltran

[2018-09-19 04:26] RizkiDPrast commented on #6403
agree

I have tried to reinstall nuget from VS tools and extensions with no luck

[2018-09-19 07:04] odalet commented on #5548
Update to this:
* The issue still exists with nuget.exe v4.7.1 (though with a simpler error - no more exception trace)
* I experienced it with an AssemblyInformationalVersion looking like this: "1.2.0-alpha_local"; looks like the underscore is causing the issue

[2018-09-19 08:49] ericssonanders commented on #2880
In our case it was the account actually running nuget.exe that did not have appropriate permissions. We ended up using the "runAs" team city plugin to solve this, running specific features with different user accounts.

[2018-09-19 11:02] Particlebox opened #7308 "Prevent unintentional changes to the global packages folder"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): NuGet.exe & VS UI

NuGet version: 4.6.1.5019

VS version (if appropriate): 2017

OS version: Windows 7 -- Build 7601

## The Issue

Right now it is possible to make changes to the extracted packages in the NuGet package cache. Is there a way to prevent this?

## Description

Parts of our softwa

[2018-09-19 11:44] kareiva commented on #6742
Proposed improvement of the s2i assemble script: https://github.com/redhat-developer/s2i-dotnetcore/pull/228

[2018-09-19 12:32] let-thomas commented on #6655
The issue is:
Artifactory is set up to work only with authenticate users.
API key is defined in nuget.config. But whole this does not work until I store to nuget.config also username and password as plain text. Why is apikey not used for restore automatically? It seems artifactory replies with 0 artifacts found when user not authenticated (apikey is not used).
Partial help is to check in artifacto

[2018-09-19 12:50] TFTomSun commented on #6640
@nkolev92 I have the same issue now with template installation and i didn't find anyway to force a restore of the template package. The template is installed via the:
`dotnet new -i  ....`
command line.  Is there any option to force a restore of the package here?

Edit:
even if i uninstall the template before reinstalling it, the newest available package is not restored.

[2018-09-19 15:43] reecebradley commented on #7165
Adding my 2 cents. I ran into this issue on our build server. After further investigation, I found that on my local machine running the same arguments, the nuspec came out correctly. The versions of MSBuild stated in the output were different.

Build server:
`Microsoft (R) Build Engine version 15.7.179.6572 for .NET Core`

Local machine:
`Microsoft (R) Build Engine version 15.8.166+gd4e8d81a88 for

[2018-09-19 16:34] nwoolls commented on #6625
@joelverhagen @rrelyea how do we get this fix in place on a non-Windows OS, outside of VS? I am still seeing the problem w/ e.g.:

[code]

The same works fine if the version is `1.2.0-rc1` instead of `1.2.0-rc.1`.

[2018-09-19 16:37] karann-msft opened #7309 "Navigating to PMUI should default to "Browse""
cc: @anangaur

[2018-09-19 17:15] jainaashish commented on #7309
default navigation to install tab was a conscious decision so that we don't hit network right away, improve performance, reduced UI delay, etc... So what is the argument to change this default?

[2018-09-19 17:24] jainaashish commented on #7308
I can understand the ask for such a feature but it's really a hard problem to crack besides user can always overwrite his global packages folder thus giving very little control to NuGet to do anything there.

At this point in time, I can only say if a developer really wants to shoot himself in his foot by editing the content of packages in global packages folder then we can't really do anything.

[2018-09-19 17:25] jainaashish commented on #7308
Also, I don't think we'll be able to get to this any time soon so would love to close it as by design.

@rrelyea what you think?

[2018-09-19 17:33] nkolev92 commented on #6640
When you create a template there are no nuget artifacts in place, so I'm not completely sure about your scenario.

Are the right sources configured in this scenario?
Did you try cleaning the http-cache before running the command?

[2018-09-19 17:40] jainaashish commented on #7306
It's a NuGet server feature ask. Dupe of https://github.com/NuGet/NuGetGallery/issues/5670

[2018-09-19 17:40] #7306 closed, assigned to nobody

[2018-09-19 18:05] jainaashish commented on #7305
This is complete spec for Pack support as a msbuild target. What you mean by out of date?

[2018-09-19 18:22] jainaashish commented on #7304
`IgnoreFailedSources` is not enabled inside VS. Corresponding tracking issue# https://github.com/NuGet/Home/issues/5643

Please vote/comment there and follow-up for future update to that issue.

[2018-09-19 18:22] #7304 closed, assigned to nobody

[2018-09-19 18:25] jainaashish commented on #7303
Which release of d16.0stg and d15.9stg and d15.9, this works fine?

[2018-09-19 18:29] jainaashish commented on #7300
By default NuGet reads all the nuget.config file starting from current directory but when you specify `--configfile` you restrict it with that specific file. That's the whole point of this parameter. So if you want the default experience, then you dont need to specify `--configfile` parameter. I'll look into updating the doc to better explain it.

[2018-09-19 18:29] #7300 closed, assigned to nobody

[2018-09-19 18:33] AndreyAkinshin commented on #7304
@jainaashish, my original concern was about broken NuGet API: it take an instance of `ResolutionContext`, but ignores the `IgnoreFailedSources` flag. Could you introduce a way to ignore failed sources in a `NuGetPackageManager.InstallPackageAsync` call?

[2018-09-19 18:34] AndreyAkinshin commented on #5643
Any updates?

[2018-09-19 18:45] jainaashish commented on #7299
is this the same experience between `nuget.exe` and `Visual Studio`? what happens when you try to restore from VS? and Which nuget.config file is being updated when you add a source within VS?

NuGet uses `Environment.SpecialFolder.ApplicationData` to get the appdata path to use default nuget.config file.

[2018-09-19 18:48] ghost commented on #7165
That's a good point thanks @reecebradley. I'm checking and my msbuild version is the 15.7.179.6572, so I'll check in another system with the most recent version.

[2018-09-19 18:59] jainaashish commented on #7298
I could imagine that `HttpHandlerResource` can just work with a `HttpMessageHandler` parameter where a implementation of this interface like `HttpHandlerResourceV3` could easily pass any of the NuGet specific HttpMessageHandler implementation like `ProxyAuthenticationHandler` or `HttpSourceAuthenticationHandler` which always have an underline reference to `HttpClientHandler`.

But I don't think we

[2018-09-19 19:21] deinok commented on #6645
Hi, I'm trying to include MRAA to a NetStandard project.

[code]

And I'm using this: `[DllImport("libmraa")]`

If libmraa is installed, all the code works well, but i want to create a Package that include the precompiled mraa and the SO doesn't have libmraa installed it says: File not found.
Did I left something?

[2018-09-19 19:28] jainaashish commented on #7296
This seems strange, @rohit21agrawal any clue about this issue?

[2018-09-19 19:37] jainaashish commented on #6961
Can you link this issue to the right spec?

[2018-09-19 20:57] rohit21agrawal commented on #7296
what version of nuget.exe is this?

[2018-09-19 21:05] felixhayashi commented on #7300
thanks for this explanation @jainaashish. yes, updating the docs would be helpful.

[2018-09-19 21:07] DanJ210 opened #7310 "Implicitly Referenced by an SDK - Two of the same projects, one says this and the other does not."
I've created two very minimal, easy .Net Core Web API's. I've updated one of the packages, Microsoft.AspNetCore.App to 2.1.4 while the other project says "Implicitly referenced by an SDK. To update the package, update the SDK to which it belongs to." I'm trying to figure out why one project says this and another project does not when both were created together at the same time. When I follow the l

[2018-09-19 22:15] NightWatchman commented on #5553
I agree with this and hope to see a resolution soon for making the DependencyVersion property, which already works for package.config projects, work for projects that use the PackageReference method as well.

I see the value of "lowest is safest" when the Version is specified with something like `4.3.2` which, by default, resolves to >=4.3.2, but that argument goes right out the window if the user

[2018-09-19 22:41] mrward commented on #7298
Just FYI, on the VS Mac side I have a custom ProxyAuthenticationHandler class, based on the NuGet one, a custom HttpSourceAuthenticationHandler, both of which are used by a VS Mac specific [HttpHandlerResourceV3Provider](https://github.com/mono/monodevelop/blob/http-client/main/src/addins/MonoDevelop.PackageManagement/MonoDevelop.PackageManagement/MonoDevelopHttpHandlerResourceV3Provider.cs). The

[2018-09-20 03:37] binki commented on #7276
I am also having this problem for with the https://www.nuget.org/packages/OpcLabs.QuickOpc/ for versions 5.52.91, 5.52.184, and 5.53.315. The `<references/>` only includes:

* `OpcLabs.BaseLib.dll`
* `OpcLabs.BaseLibForms.dll`
* `OpcLabs.EasyOpcClassic.dll`
* `OpcLabs.EasyOpcUA.dll`

With `<PackageReference/>`, the following files are not copied to the output folder. However, they are necessary fo

[2018-09-20 07:41] v-longmin commented on #7303
@jainaashish The issue works fine on D16.0stg 28113.3000 + NuGet Client Dev 5.0.0.5495, and start to repro on D16.0stg 28117.3000 + NuGet Client Dev 5.0.0.5508. But it never repro on both D15.9 and D15.9stg 28117.3003 + NuGet Client Release-4.9.0-preview3 4.9.0.5507.

[2018-09-20 08:41] TFTomSun commented on #6640
@nkolev92
How can i clean the http-cache?

My scenario is. I am currently developing a little tool that i deploy together with an template. I make changes to the tool, push the template incl. the tool assemblies and want to install the template again.
Unfortunately the latest pushed template is not used. I think its related to some caching.

[2018-09-20 10:59] sathyab18 opened #7311 "I got below error when i try to install angular js in vs 2017 asp.net core project"
0 info it worked if it ends with ok
1 verbose cli [ 'c:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'c:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'install',
1 verbose cli   'angular' ]
2 info using npm@3.10.10
3 info using node@v6.11.3
4 silly loadCurrentTree Starting
5 silly install loadCurrentTree
6 silly install readLocalPackageData
7 silly fetchPackage

[2018-09-20 12:45] SubyBrue opened #7312 "NuGetizer: IDE Integration VSIX NuGetizer 3000 for VS2017"
Currently using VS2017 Build 15.8.4 and cannot create a NuGet package on a solution.

Other co-workers who are on Build 15.8.2 and 15.7.# have no issues.

When I select Create NuGet package - the system builds the solution but never kicks off the process to generate the NuGet package.

[2018-09-20 14:30] dongdong-yang opened #7313 "Nested packages should be searchable"
NuGet product used : "Manage Nuget Packages for Solution"

[code]

[code]

the package "Microsoft.OData.Edm" is nest-referenced by many many packages, and it's too deep to find which packages are referencing it.

Nested packages should be searchable or listed or diagram somewhere so that we can easily figure out where are conflicts.

[2018-09-20 16:58] jainaashish commented on #7303
does it also repros on D16.0stg 28113.3000 + NuGet Client Dev 5.0.0.5508?

[2018-09-20 16:59] jainaashish commented on #7303
@PatoBeltran this might be related to your setting refactoring change...?

[2018-09-20 17:21] nkolev92 commented on #6640
To clean the http cache you can use the locals command.

https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-nuget-locals
https://docs.microsoft.com/en-us/nuget/tools/cli-ref-locals

Where do you push the template again?

Does it pick up the new template if you try installing it 30 minutes or more after pushing?

[2018-09-20 17:49] giggio commented on #5553
Another 6 months went by and we got not response. This is a `priority:1` issue that is on the backlog for 3 years. Shouldn't this be at least planned for a release?

[2018-09-20 18:33] jainaashish commented on #1538
This should not just be restricted with package sources, I'll be fine with an explicit option to reload all applicable nuget.config files but at least some option instead of reload the solution itself.

[2018-09-20 19:39] jainaashish commented on #7313
Dupe of https://github.com/NuGet/Home/issues/5887 please follow that issue and commnet/ upvote there.

BTW we have an upcoming feature for `dotnet.exe list packages` which will list all the transitive packages and allow to search for the updates for any of the transitive dependency. This feature will be available in dotnet 2.2.1xx release.

[2018-09-20 19:39] #7313 closed, assigned to nobody

[2018-09-20 19:44] jainaashish commented on #4394
This is implemented as part of https://github.com/NuGet/Home/issues/7139

There is more work to have the same lock file at solution level as well which is being tracked as part of https://github.com/NuGet/Home/wiki/Centrally-managing-NuGet-package-versions

[2018-09-20 19:44] #4394 closed, assigned to nobody

[2018-09-20 19:45] jainaashish commented on #7312
@kzu

[2018-09-20 19:47] jainaashish commented on #7311
how are you trying to install this package? from the logs it looks like you used npm to do that, and not nuget.

[2018-09-20 19:51] jainaashish commented on #7310
I wasn't able to follow your comment and understood your issue completely so can you elaborate what you mean one project allows you to update SDK package even without updating SDK version itself? You should always update the SDK in order to update Microsoft.AspNetCore.App package.

It will also help if you can share a sample repro to depict your issue which will help with the analysis.

[2018-09-20 22:22] TFTomSun commented on #6640
thx. cleaning the http cache solved the issue

[2018-09-20 22:32] dtivel opened #7314 "Restore: performance regression using new .NET Core 2.1 HTTP stack"
See https://github.com/dotnet/corefx/issues/31914.

[2018-09-20 23:27] anangaur commented on #1538
Or maybe reload just happens (gets triggered) on any edit of package sources?

[2018-09-21 07:27] v-luzh commented on #6286
It had been fixed on D15.9 28120.00 (default NuGet Client release-4.9.0-preview3 4.9.0.5507).

[2018-09-21 07:51] v-longmin opened #7315 "[Test Failure] Installing PackageReference based package made the ‘Default project’ empty"
## Details about Problem
NuGet Version: Dev-ragrawal-4.0rtmwithfix\4.0.1.5510
VS Version: d15rtwsvc\26228.55
OS Version: Build 17134.rs4_release.180410-1804
## Detailed repro steps
1. Launch VS, create a new WPF App (.Net Framework) project.
2. Open PMC through Tools -> NuGet Package Manager -> Package Manager Console.
3. Select PackageReference format as default package management format in Packa

[2018-09-21 08:46] toptensoftware opened #7316 "Should assemblies in /runtimes/{rid}/lib/{tfm} be added as references to target project?"
Pretty sure this is more a misunderstanding/lack of documentation than an issue with NuGet itself...

I'm trying to build a nuget package that provides different assemblies for different target runtimes and frameworks.  In particular I need to target win/net461 and osx/netcoreapp2.0.

My understanding is that assemblies can be included in the package in the following folders for per-runtime instal

[2018-09-21 08:47] ffMathy opened #7317 "Specify documentation via .csproj"
When using `dotnet pack`, I can use properties like `RepositoryUrl` to use as the resulting `.nuspec` file's repository URL etc.

But what property do I set to specify documentation (`<documentation target="documentation.md"/>`)? Is it even possible to specify via `.csproj` files?

If not, it should be!

[2018-09-21 11:35] bondarenkod opened #7318 "NuGet UI in Visual Studio should offer multiple choice options in consolidate tab"
The Consolidate Tab experience in the PMC (Package Manager Console) is inconvenient and requeues tons of time and attention from me because I have to upgrade packages in my solutions from time to time. All those operations can be done only manually - I have to wait until the Consolidate Tab updates it's information about packages in the solution, the I have to select any single package which I wan

[2018-09-21 12:26] nk54 commented on #3738
Please add this feature ! Tired of looking over and over for the same packages...
Newtonsoft.json, XForms, SQLite etc. I need those package in 90% of my project. The 10% left are some project I create just to test a control or to do a micro P.o.C.

Can you consider adding a pin package option in the list so they remain on top ?
Or adding a tab of favored package ?

I can't edit the package.config

[2018-09-21 12:37] sae42 opened #7319 "Legacy project support for ImplicitlyDefined/AutoReference PackageReferences not working."
## Package Manager UI does not honor AutoReference/ImplicitlyDefined package references
VS version (if appropriate):
Using VS 2017 15.8.4 (or VS15.9 Preview)

OS version (i.e. win10 v1607 (14393.321)):
win10 v1803

1. When using an AutoReference PackageReference in a legacy C# project (e.g. Windows Forms), the package manager UI still allows updating. E.g. in the csproj add something like:
    <Pa

[2018-09-21 14:10] yatli commented on #6645
@deinok you don't need to copy the assemblies to the output folder. and, maybe try `[DllImport("mraa")]`?

launching the program with: `LD_DEBUG=all dotnet run ...` would also help to diagnostic the problem.
also, make sure you're packing the dependencies of mraa -- missing dependencies result in a "file not found" error in the main library, which is a bit confusing to start with.

[2018-09-21 15:02] deinok commented on #6645
I will try the LD_DEBUG and try to figure what is happening and report back

[2018-09-21 15:52] AnisTss commented on #6328
Any updates on this issue ?
I cleared NuGet cache, and now I am having this problem.

[2018-09-21 16:19] efunkenbusch opened #7320 "What is the suggested versioning strategy for nuget pre-release builds with semver?"
Please note:  This is for private (internal) builds, not public releases (even public pre-releases)

I've been having a great deal of struggle trying to formalize an internal build versioning scheme that works with Nuget.

Based on the semver spec, it seems that one should use metadata to specify build number, but the problem is that nuget ignores metadata (+whatever) in the version number.  It pr

[2018-09-21 16:33] efunkenbusch commented on #7320
I guess, answering my own question, I went spelunking into the nightly builds for some of the .net teams, and it looks like they're using a variation of -release-buildidentifier (some are build numbers, some are dates).

[2018-09-21 16:33] #7320 closed, assigned to nobody

[2018-09-21 17:35] rrelyea commented on #6104
@diverdan92 - nuget client has finished the work for 15.9 related to this.

trying to clean up this milestone. can we close this issue, or move to future milestone, or other?

[2018-09-21 17:38] diverdan92 commented on #6104
@rrelyea - we should wait until the e2e scenario ships to close the issue.

[2018-09-21 18:45] rohit21agrawal commented on #7315
this issue was fixed in 4.1, so not applicable to this release of VS (related issue: https://github.com/NuGet/Home/issues/4315 ).

@v-longmin  Just to make sure, does this behavior repro in d15rtwsvc without the VSIX installed?

[2018-09-21 18:54] livarcocc opened #7321 "SSL issues after running nuget locals --clear"
_From @aeos on September 21, 2018 16:52_

## Steps to reproduce
We have a mono project which consists of multiple projects structured like so:
/root
/root/nuget_packages
/root/ProjectA/ProjectA.csproj
/root/ProjectB/ProjectB.csproj
/root/ProjectC/ProjectC.csproj

we build each project, pack them and push them to the /root/nuget_packages folder so that they can depend on each other. Any change we m

[2018-09-21 18:54] livarcocc commented on #7321
Moved to NuGet for initial investigation.

[2018-09-21 22:56] jainaashish commented on #7319
If I'm not wrong you're asking for `AutoReference` like feature for non-SDK styled projects? And the purpose of this feature is to restrict updates through UI.. right?

If that's the ask then you can set the version property to be a closed range on PackageReference in legacy csproj which will achieve the similar experience for you. It will restrict NuGet updates to that closed range. Now your clos

[2018-09-21 22:59] jainaashish commented on #7318
@anangaur since he's working on consolidating the NuGet UI in general.

[2018-09-21 23:01] jainaashish commented on #7284
More UI related issues, we should look them at when we try to fix these:
https://github.com/NuGet/Home/issues/5761
https://github.com/NuGet/Home/issues/7318

[2018-09-21 23:13] jainaashish commented on #7317
There is no such property in `.nuspec` file that's why there is no csproj property as well. But if you can inlcude any documentation file in your nupkg at the root or as part of content. Even readme.txt at the root of nupkg are also shown to the customers upon installing the package.

[2018-09-21 23:16] jainaashish commented on #7316
Please refer https://docs.microsoft.com/en-us/nuget/create-packages/supporting-multiple-target-frameworks to understand how to create NuGet packages for multi TFMs as well as multiple architectures or runtimes.

[2018-09-22 00:11] toptensoftware commented on #7316
I've already seen that article and all it says is that architecture specific assemblies should be placed in the "/runtimes/" folder, which is what I've done and they're not being added to the target project.

It's not obvious from that article if there also needs to be assemblies in the regular '/lib/' folder nor any mention of the '/refs/' folder (for which I haven't been able to find any documen

[2018-09-22 07:34] SimonCropp commented on #7305
should this be the definitive reference https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets  ?

[2018-09-22 10:21] ffMathy commented on #7317
Erhm, there is such a property.

https://github.com/NuGet/Home/wiki/Packaging-Documentation-within-the-nupkg

[2018-09-22 11:37] ffMathy commented on #7317
Can you please re-open @jainaashish?

[2018-09-22 15:19] sae42 commented on #7319
Yes, that's right - though it's more to do with the project system implementing VSProject4 PackageReference support. I've used legacy C# as the example, but I actually have my own project system (non-CPS) which I'm attempting to add PackageReference support to. NuGet is setting the AutoReference but the UI which handles the updating can't handle it.

I tried experimenting with closed versions but

[2018-09-22 21:09] CosminRadu commented on #6572
I've been hitting the same issue on some of our build servers. @TheJayMann, I hope you don't mind, but I went ahead and created [PR 2433](https://github.com/NuGet/NuGet.Client/pull/2433) with your suggested fix.

[2018-09-22 22:57] matthid commented on #5067
I just want to let you guys know that this particular issue is really hard to debug if you encounter subtle failures like: https://github.com/fsharp/FAKE/issues/2097.

Even if this is not implemented an error notifying if "restore framework <> runtime framework" would drastically improve the situation.

[2018-09-23 01:12] oscpen opened #7322 "Xamarin.Android.Support.Desing package integrity check fails"
I am trying to update this package in my Xamarin project in Visual Studio using Nuget Package Manager or the Package Manager console, but I get the same integrity check error in both.

Microsoft Visual Studio Community 2017 Version 15.6.2
Microsoft .NET Framework Version 4.7.03056
NuGet Package Manager   4.6.0
Tried with VS UI | Package Manager Console

Install-Package Xamarin.Android.Support.Desi

[2018-09-23 04:25] kzu commented on #6556
gentle nudge 👍 . I think the bug report is incorrect, but what @azeno is worrying.

[2018-09-23 16:16] deinok commented on #6645
Okey, problem was:
libmraa.so system link to libmraa.so.2
libmraa.so.2 system link to libmraa.so.2.0.0

Using [DllImport("mraa")]
Deleting libmraa.so and libmraa.so.2 and changing the name of libmraa.so.2.0.0 to libmraa.so works.
So, seems like system links dont work when including native code to a package

[2018-09-23 17:54] kfertitta commented on #4693
Has there been any progress on this front?  The ability to have the VSIX serve as a legitimate NuGet package source seems fundamental.  Priming the offline cache would be useful, but if the user clears that cache, then the user would need a way to restore the NuGet package in the case where it's not on nuget.org.  In that case, the VSIX would need to be the source.

[2018-09-23 19:47] larssb commented on #6332
There is really a lack of info on this issue when looking around for it.

1. The Nuget repository address used on PS Core v6.1 is https://api.nuget.org/v3/index.json and nothing is found when using `find-package` to that URI.
2. As others in this thread write, there is results when changing the address to https://www.nuget.org/api/v2/

N.B. I even updated to the latest version of PowerShellGet (v2

[2018-09-24 01:39] toptensoftware commented on #7316
So it turns out the the documentation for this is woeful. Is there not one piece of official documentation on the /ref folder and the fact that .NET Framework projects don't seem to use the /ref and /runtime folders at all?

See my answer to the original stackoverflow question for how I'm guessing it works:  https://stackoverflow.com/a/52471739/77002

[2018-09-24 02:05] SubyBrue commented on #7312
Tried de-installing and reinstalling however my work PC is now on VS 2017 v15.8.5 and Nugetizer VSIX will no longer install there...

On my home PC (running VS 2017 v15.8.4) it was able to create 1 NuGet package for one project and then subsequent projects have not been able to create the NuGet packages... They rebuild but don't create the NuPKG files....   The initial project I assembled worked b

[2018-09-24 05:42] samk1 commented on #4837
I've found a hacky way of doing this. We extract the package version from the PackageReference we want to copy files from and then use that to build a path to the package file:

[code]

[2018-09-24 05:56] samk1 commented on #4837
After thinking about this a bit more, I released it's possible to create a target that will perform the expected operation requested by @rainersigwald :
[code]

This will copy the files from any PackageReference which has a CopyToOutputDirectory element underneath it.

[2018-09-24 08:32] chm-tm commented on #7084
I have a similar package like [pamidur's](https://github.com/NuGet/Home/issues/7084#issuecomment-418645889).
When I add it to the project in 15.8.4, it writes the `IncludeAssets` metadata without the `Compile` asset, too. Interestingly, the generated `project.assets.json` file has the compile time dependency, and Roslyn is happy! However, upon the first restore, the `project.assets.json` file is r

[2018-09-24 09:17] pamidur commented on #7084
@chm-tm , it doesn't work with command line tools
Apparently dotnet cli and visual studio work differently ->
- vs reads targets from package references before compilation
- dotnet cli reads targets from package references on compilation.

[2018-09-24 09:35] chm-tm commented on #7084
@pamidur, thanks for the warning. `msbuild /restore` doesn't pick up the update either.

[2018-09-24 09:47] StingyJack commented on #7317
@ffMathy - thats a spec currently under review.  You can track the related work [here](https://github.com/NuGet/Home/issues/6873)

[2018-09-24 09:51] StingyJack commented on #7309
Its anecdotal, but I would think that we open the PM UI to install something probably more than to see what is installed. Capturing those metrics would say for sure.

[2018-09-24 09:55] StingyJack commented on #7282
Please do not add another gold bar to VS when I am accessing a private repo. There are already too many gold bars in VS that wont go away, and I am not interested in dealing with SSL certs for servers on the LAN.

[2018-09-24 12:06] maartenba commented on #7282
https://github.com/dotnet/corefx/issues/31882#issuecomment-423952342

[2018-09-24 13:33] anubi commented on #6111
I'm in the same boat as MasonBergstrom. What conditions trigger this menu to appear? I ask because a package I published to my own private nuget repo is not installing dependencies when I use it, so I'm wondering if this is just a setting I'm missing.

The only option I see is "Show preview window"

[2018-09-24 13:53] JJoe2 opened #7323 "VS2017 Web project build fails with RestoreProjectStyle set to PackageReference"
Repro:
- VS2017 15.7.5 (and I'm pretty sure also on 15.8.5).
- Create a new ASP.NET Web Application (.NET Framework)
- Choose the "Empty" project template and leave all checkboxes unchecked
- Edit the csproj file and add `<RestoreProjectStyle>PackageReference</RestoreProjectStyle>` to the first `<PropertyGroup>` section (*)
- Close Visual Studio
- Delete the packages folder (it contains Microsoft.

[2018-09-24 14:01] binki commented on #4837
@unickq

The package itself is expected to set an MSBuild property to the path to its tools directory. For example, see how the `Microsoft.CodeDom.Providers.DotNetCompilerPlatform` package sets `RoslynToolPath`: https://github.com/aspnet/RoslynCodeDomProvider/blob/1f4a542d407c4fb6ce504aaa63418044d52c6717/src/Packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform/build/net46/Microsoft.CodeDom.

[2018-09-24 16:34] jainaashish commented on #6111
@MasonBergstrom and @anubi this option is always available at "Manage NuGet packages" at solution level. And at project level, It's only available for `packages.config` based projects. So it will never be available for NetCore projects or Net Framework projects using `PackageReference` to manage their NuGet dependencies. So for `PackageReference` based projects, you can never choose a dependency r

[2018-09-24 16:38] jainaashish commented on #7317
@ffMathy I had not closed the issue (added a label only). But @StingyJack for pointing to the related issue. I'll close it as dupe of https://github.com/NuGet/Home/issues/6873

[2018-09-24 16:38] #7317 closed, assigned to nobody

[2018-09-24 16:47] jainaashish commented on #7084
`
When I add it to the project in 15.8.4, it writes the IncludeAssets metadata without the Compile asset, too. Interestingly, the generated project.assets.json file has the compile time dependency, and Roslyn is happy!
`
@chm-tm can you tell me how you add the package in project? VS install or dotnet add package or manually...??

I'd expect if there is `IncludeAssets` metadata defined, then all re

[2018-09-24 17:11] jainaashish commented on #7316
@toptensoftware I didn't realize that those documents are not up to date for defining runtime assemblies and don't mention anything about /ref to define compile time dependencies. I also saw couple of doc issues for the similar scenario.

So I'll keep this issue as tracking issue to update the docs on priority to explain `ref` `runtime` and `lib` folders to define multi tfm across multi architectu

[2018-09-24 17:27] jainaashish commented on #7319
`I tried experimenting with closed versions but this didn't seem to work either. The package manager UI would happily update/modify a PackageReference.`

Can you repro it with legacy c# project as well? if yes, then give us the repro steps or repro solution to further investigate it.

Ideally AutoReference would have also worked for you, but lets start with closed range n then we can also look int

[2018-09-24 17:57] jainaashish opened #7324 "VersionRange Equals doesn't compare floating ranges"
Currently [VersionRange](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Versioning/VersionRange.cs) class doesn't implement it's own `Equals` method instead use it's base class `VersionRangeBase` which doesn't know anything about floating ranges. So

range1 = new VersionRange("1.0.0");
range2 = new VersionRange("1.0.*");

both these ranges are considered equal.

[2018-09-24 19:43] dsplaisted commented on #5067
@matthid Sorry for the problems you had with dotnet-fake.

We are working on local tools, which will be similar to DotNetCliToolReference tools, but will support the same tool packages as are used for global tools.  See here for some more information: https://github.com/dotnet/cli/issues/9782#issuecomment-410033494

As such, we don't expect to fix this issue with DotNetCliToolReference

[2018-09-24 19:43] #5067 closed, assigned to nobody

[2018-09-24 19:54] matthid commented on #5067
@dsplaisted That's what I thought. While we have already support 'global tools' via the `fake-cli` package a lot of people still use `dotnet-fake` because it is easier to version alongside your other dependencies (especially in the F# community where most use `paket`).

While from a users perspective I'd urge you to implement a error/warning message for the above situation, I can understand that y

[2018-09-24 20:12] ddominici commented on #7194
Did you install the Oracle Client 11G ? I have the same problem and strangely that number (11.2.0.3.0) is the same of the Oracle client... Where do I can set NuGet version string manually ?

Thanks.

[2018-09-24 20:52] iskiselev commented on #7285
At least excluding compile assets should be mentioned in documentation. Currently it [states](https://docs.microsoft.com/en-us/nuget/reference/nuspec) that **developmentDependency** (2.8+) A Boolean value specifying whether the package is be marked as a development-only-dependency, which prevents the package from being included as a dependency in other packages.
It does not give any hints that it

[2018-09-24 21:10] #7034 closed, assigned to nkolev92

[2018-09-24 21:10] nkolev92 commented on #7034
Fixed in https://github.com/NuGet/NuGet.Client/pull/2357.

[2018-09-24 21:57] nkolev92 commented on #5773
Just looping back here.
This ask is orthogonal of our plugins feature.

[2018-09-24 22:57] nkolev92 opened #7325 "Adapt to MSBuild updating its install location."
NuGet part of https://github.com/microsoft/msbuild/issues/3778

MSBuild is changing it's install location, we need to update our discovery mechanism.

[2018-09-24 23:22] zivkan commented on #7323
Adding `<RestoreProjectStyle>PackageReference</RestoreProjectStyle>` to the csproj is an incomplete packages.config to PackageReference migration. Unfortunately the [migration tool](https://docs.microsoft.com/en-us/nuget/reference/migrate-packages-config-to-package-reference) is not enabled for ASP.NET projects, so it needs to be done manually, but please be aware of the limitations and compatabil

[2018-09-24 23:22] #7323 closed, assigned to nobody

[2018-09-24 23:29] tomRedox commented on #1827
Yep, same issue for me on vs 2017 15.8.4, @zorgoz 's solution fixed it for me.
Edit:  as per @RyanMathewson we're getting this with Azure Devops Nuget server.
Also, I think the behaviour we are getting is that it works the first few times, then fails, and then I have to clear out the cache folder manually in Windows Explorer each time from then on until I close and reopen VS.

[2018-09-25 03:24] SimonCropp commented on #7285
how can this not be considered a breaking change?

[2018-09-25 03:56] jainaashish commented on #7285
@SimonCropp I still can't repro it from UI, can you make a repro video and share? or tell me EXACT repro steps to repro it locally... So far I can only repro it in PMC.

@iskiselev good point I'll get the doc updated accordingly.

[2018-09-25 05:07] SimonCropp commented on #7285
@jainaashish i dont think it matters "how u repro it". just that u can. arguably if the PMC is behaving differently from the UI i would consider that another bug

[2018-09-25 05:13] nzain commented on #4837
Thanks @binki, sounds like the clean solution - although the package maintainer has to realize it. I understood that
- the nuget package should include a `foo.targets` file that is picked up by MSBuild
- the targets file can define new properties or a `<Copy ... />` task

But how does the MSBuild property avoid copying some required content into every output directory? That's what the `Copy` task

[2018-09-25 06:16] v-luzh commented on #7303
@jainaashish , sorry we can't verify it on D16.0stg 28113.3000 + NuGet Client Dev 5.0.0.5508 now, since that VS build had been removed from cpvsbuild drops.

[2018-09-25 06:56] chm-tm commented on #7084
@jainaashish, I have reproed it [here](https://developercommunity.visualstudio.com/content/problem/342639/nuget-install-inconsistent-with-restore-for-compil.html).
Note that it's an old-style .NET 4.6 project w/o `Sdk` reference.

And please note [pamidur's](https://github.com/NuGet/Home/issues/7084#issuecomment-423916676) and [my comment](https://github.com/NuGet/Home/issues/7084#issuecomment-423

[2018-09-25 07:44] pamidur commented on #7084
There is similar discussion here #7285
I'll dub my comment from there
I'd expect this flag either means **dependency to this package is not transient** or **this package doesn't have dlls to reference**.  But not both!

[2018-09-25 07:49] pamidur commented on #7285
I guess this is the similar issue #7084

In fact I suggest developmentDependency do this:
[code]

[2018-09-25 08:03] sae42 commented on #7319
Yes, I can repro with a legacy C# project. It's quite straightforward:
1. Simply create a new C# Windows Forms app
2. Manage NuGet Packages and add something. Let's use Newtonsoft.Json. Pick an older version (e.g. 10.0.1).
3. If you unload the csproj and look you'll have:
    <PackageReference Include="Newtonsoft.Json">
      <Version>10.0.1</Version>
    </PackageReference>
4. Change the version

[2018-09-25 14:41] dotnetKyle commented on #6306
I just had this issue again with Visual Studio 15.8.5 & Nuget version: 4.8.1.5435.
I removed NU1605 from "Treat warnings as errors" but I had to close and re-open visual studio for it to take actually effect.

[2018-09-25 17:08] jainaashish commented on #7285
@SimonCropp I'm not saying this isn't a bug with PMC, just trying to understand all scenarios hence its important to know where all this repros and how...

[2018-09-25 17:11] jainaashish commented on #7084
thanks @chm-tm for providing the repro. I'll look into it.

About MSBuild, then I'm not the right person to comment, may be you can start a conversation with MSBuild folks about evaluation order. But personally I've also find Structured log to be very useful to understand MSBuild items or property evaluations.

[2018-09-25 17:22] jainaashish commented on #7319
ahh i see, it doesn't show updates available for that package, but still shows all the versions in Installed tab and allowed to update to any latest version.

[2018-09-26 00:25] PatoBeltran opened #7326 "Fix NuGet.Configuration issues"
Here are a couple of issues I have found since I started working with refactoring nuget.configuration that should be fixed.

**Right away**
- [x] Origin can be null in RepositoryItem - https://github.com/NuGet/NuGet.Client/pull/2439
- [x] Update RequiredAttributes in AddItem and any other validation attributes to not be a concrete HashSet but use an interface instead - https://github.com/NuGet/NuG

[2018-09-26 05:52] v-longmin commented on #7315
@rohit21agrawal Yes,it  also repro in d15rtwsvc 26228.55 without the VSIX installed.

[2018-09-26 07:18] sathyab18 opened #7327 "cordova build error cause issue. failed to run javac-version"
![image](https://user-images.githubusercontent.com/7556078/46063387-5295d980-c18a-11e8-9167-9673db156004.png)

[2018-09-26 08:17] TFTomSun opened #7328 "pack of project with <PackageReference Version="*" ... /> gets wrong dependency version after packed"
I have created a project that reference another package via MSBuild PackageReference. I set the version to wildcard. When I pack my project, the dependend package version is set to the version of the created package.
Example:
- I want to pack and push MyProject as Version 1.0.0
- I reference Newtonsoft.Json as Version="*" which resolve to the latest version lets say 11.0

[code]

When I view my pu

[2018-09-26 08:45] Tasteful opened #7329 "Solution-file with folders in different case can't be packed correctly on windows."
NuGet product used msbuild.exe, nuget.exe and dotnet.exe:

NuGet version: 4.7.1.5393

dotnet.exe --version (if appropriate): 2.1.402

VS version (if appropriate): 15.8.4

OS version: win10 v1607

Worked before? If so, with which NuGet version: No

## Detailed repro steps so we can see the same problem

1. Create a solution file with 2 projects.
    * Project 1 in path: `src\MyProject1.csproj`

[2018-09-26 09:52] imanushin commented on #5942
There are related jiras on the JFrog side:
* https://www.jfrog.com/jira/browse/RTFACT-15427
* https://www.jfrog.com/jira/browse/RTFACT-17491

Please up-vote them to increase priority

[2018-09-26 12:09] Ryukote opened #7330 "Wrong nupkg build"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet.exe, VS UI, dotnet.exe

NuGet version (x.x.x.xxx):

4.7.1.5393

dotnet.exe --version (if appropriate):

2.1.302

VS version (if appropriate):

2017 (version 15.7.5)

OS version (i.e. win10 v1607 (14393.321)):

Windows 10 v1803 (OS build 17134.228)

Worked before? If so, with which NuGet

[2018-09-26 14:30] Ryukote commented on #7330
I have fixed this issue by manually opening nupkg archive and opened nuspec file and change "XYZ.ABC" to "XYZ.ABC.dll" (for <id> tag) and now it works.

I don't know why, but Visual Studio didn't count on that and from what I saw it should have.
Can this be fixed?

[2018-09-26 16:14] b6o commented on #7299
This is on a build server so Visual Studio is not installed.

When adding a source it is added to "C:\windows\system32\config\systemprofile\AppData\Roaming\NuGet\NuGet.Config". The source is visible when listing sources, but then only sources in the SysWOW64 config are actually used.

[2018-09-26 16:45] joelverhagen commented on #6562
/cc @skofman1 @loic-sharma

[2018-09-26 19:34] ajcvickers opened #7331 "Upgrading EF Core 2.1.2.0 to 2.1.3.0 - Dependent Assemblies in app.config are not all automatically updated"
Moved from https://github.com/aspnet/EntityFrameworkCore/issues/13373 filed by @JRBonnema

I noticed that after installing the latest 2.1.3.0 version of EFCore the three packages below are not automatically updated to the new version. I have to do it by hand. Note that other packages are automatically updated. I didn't notice these behaviour during earlier updates, so I assume that this a new  pro

[2018-09-26 19:35] ajcvickers commented on #7331
Existing comments:

@ajcvickers commented 7 days ago
@JRBonnema Can you be more specific about what you mean by "installing the latest 2.1.3 version?" Installing what specifically from where?

@JRBonnema commented 7 days ago
@acjvickers: I Installed the three mentioned packages EFCore packages (version 2.1.3.0) from NuGet using the menuoption Manage NuGet Packages for Solution inside Visual Studio

[2018-09-26 20:47] mdchafin commented on #3203
I'm having the same issue today.

[2018-09-26 21:57] zivkan commented on #7327
Hi,

This appears to be related to Cordova, not NuGet. They have some instructions on how to report issues to them on their website: https://cordova.apache.org/contribute/issues.html

[2018-09-26 21:57] #7327 closed, assigned to nobody

[2018-09-26 22:49] zivkan commented on #7322
@oscpen , could you try [downloading nuget.exe](https://dist.nuget.org/win-x86-commandline/v4.8.1/nuget.exe) and then run `nuget verify -all %USERPROFILE%\.nuget\packages\xamarin.android.support.design\27.0.2.1\xamarin.android.support.design.27.0.2.1.nupkg` to see if you get the same issue?  It could be that your download is corrupted or has been tampered with.

If you'd like to try downloading ag

[2018-09-26 23:53] rohit21agrawal commented on #7328
the core issue here is that * is written out as (, ) in the assets file, and calling VersionRange.IsFloating returns false for a version range like this.

@nkolev92 @jainaashish  any thoughts on why this happens?

[2018-09-27 05:26] TFTomSun commented on #7328
@rohit21agrawal thx for the analysis. Is there any workaround? for example modify the asset file in a msbuild target before it is evaluated

[2018-09-27 07:10] vdachev opened #7332 ""dotnet restore" does not honor proxy settings in local "nuget.config""
The "dotnet restore" command does not seem to honor the "http_proxy" and "https_proxy" configuration settings in a *local* "nuget.config" file.

In order to check that, I made sure the configuration file contains invalid proxy settings and expected it to fail. Even if the settings are correct, they don't seem to be used.

Please, note that if I set the same settings in the global *nuget.config* fi

[2018-09-27 11:36] lnaie commented on #6902
tested it with azure devops and it works.
it would be nice, though, if dotnet restore (https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-restore?tabs=netcore2x) would have params to pass the PAT from the build definition variables.

[2018-09-27 12:17] Nordes commented on #6140
@zarochi , if you are in linux/mac, you can do a `tcpdump` or other similar command in order to capture the traffic (non https). If it's https, you will most likely need to use some other tools.

[2018-09-27 12:43] sahgilbert opened #7333 "Nuget API v2 & v3 Fails To Pull Packages with 503 Error"
## Details about Problem
Deploying an Asp.Net MVC solution, via AppVeyor, using Paket and Nuget API v2.

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
AppVeyor & Paket 5.181.1 & .Net 4.7.1

NuGet version (x.x.x.xxx):
https://www.nuget.org/api/v2

Worked before? If so, with which NuGet version:
Always, without issue, same as current setup.

## Detailed repro steps s

[2018-09-27 13:33] andriysavin opened #7334 "project.assets.json' doesn't have a target for '.NETStandard,Version=v2.0'"
I have a .Net Core console app which targets `net471`, and references a `netstandard2.0` library project. I'm trying to publish it to an Azure WebJob using VS Publish command from project context menu, and getting error like this after publish starts:

If I change target framework to `netcoreapp2.1` the error doesn't happen.

NuGet version: 4.6.0
dotnet.exe --version: 2.1.402
VS version (if approp

[2018-09-27 15:14] FeodorFitsner commented on #7333
I've been able to "catch" 503 on my local machine by constantly refreshing in the browser the following URL: https://www.nuget.org/api/v2/Packages(Id='microsoft.aspnet.razor',Version='3.2.6')

![image](https://user-images.githubusercontent.com/5041459/46155958-4d3d9b00-c22d-11e8-899a-b84d117f95d9.png)

[2018-09-27 15:18] FeodorFitsner commented on #7333
cc @skofman1, @loic-sharma - guys, could you please take a look? Thank you!

[2018-09-27 16:03] Eilon commented on #7321
Looks like ASP.NET Core's build hit this as well 2 days ago:

[code]

[2018-09-27 16:14] ipjohnson commented on #7333
+1

[2018-09-27 16:49] skofman1 commented on #7333
nuget.org availability is degraded. We are investigating. To unblock you from restoring packages please use our V3 protocol and use feed `https://api.nuget.org/v3/index.json`
We will keep updating https://status.nuget.org with new information.

[2018-09-27 17:11] JVimes commented on #7333
@skofman1 Is there a way to use the v3 server for `nuget update -self`? It's in my CI build script. Doesn't seem to use the `-Source` parameter.

[code]

[2018-09-27 17:18] joelverhagen commented on #7333
@JVimes, unfortunately, `nuget.exe update -self` is hard-coded to use the V2 source URL (https://www.nuget.org/api/v2). This short-coming is tracked here: https://github.com/NuGet/Home/issues/4197.

As a work-around, you could download nuget.exe from our download site using something like `Invoke-WebRequest ... -Path nuget.exe`. The "latest" URL is here:
https://dist.nuget.org/win-x86-commandline/

[2018-09-27 17:32] JVimes commented on #4197
One idea: `-Source` could pick the server for `-Self` updates. This may have let me work around today's [v2 api errors](https://github.com/NuGet/Home/issues/7333#issuecomment-425164133). Needs to be weighed against business value, though.

[2018-09-27 18:02] nkolev92 commented on #4197
@JVimes
There's a tracking issue for that already.
https://github.com/NuGet/Home/issues/1783

[2018-09-27 18:02] jainaashish opened #7335 "packages.lock.json file should by default be included in the project"
When we opt into `packages.lock.json` feature and create this file first time with classic csproj. It should be included in the project and should be shown in project hierarchy by default.

Scope of the solution is only limited to VS, so any install/ update/ uninstall operation within VS, will result into adding this lock file into project hierarchy and check out from source control. But same oper

[2018-09-27 18:24] #7301 closed, assigned to nkolev92

[2018-09-27 18:36] rohit21agrawal commented on #7328
no, i wouldn't recommend that.

the only workaround i can think for now is you write the version in your csproj as 11.* instead of *

[2018-09-27 19:15] IlyaFinkelshteyn commented on #7333
@skofman1 https://status.nuget.org/ seems green and states that it is no longer degraded. And I cannot repro this anymore. Though this issue is still open. Can we consider this resolved and update [AppVeyor status](https://appveyor.statuspage.io/)?

[2018-09-27 19:39] skofman1 commented on #7333
@IlyaFinkelshteyn , the problem is mitigated. Closing this issue.

[2018-09-27 19:39] #7333 closed, assigned to nobody

[2018-09-27 19:43] jainaashish commented on #7324
Merged into 4.9.0-preview3 branch

[2018-09-27 19:43] #7324 closed, assigned to jainaashish

[2018-09-27 20:08] dwilsonbst opened #7336 "Unable to download packages after outage"
## Details about Problem
When trying to restore (via nuget.exe) a project that contains a nuget references found on Nuget.org we are getting various error messages below.

 Failed to download package 'Microsoft.IdentityModel.Logging.5.2.2' from 'https://nuget-prod-v2gallery.trafficmanager.net/api/v2/package/Microsoft.IdentityModel.Logging/5.2.2'.
An error occurred while sending the request.
The un

[2018-09-27 21:10] dsplaisted opened #7337 "Add PackageType for runtime and targeting packs to exclude them from search results & restore graph."
For .NET Core 3.0, we plan to have various assets available as NuGet packages so that they can be easily acquired by the SDK on demand, but these packages shouldn't show up in normal package search results on NuGet.org, as they wouldn't be explicitly installed in projects.  A new PackageType could be used for these packages, and the NuGet search could be updated to exclude this PackageType by defa

[2018-09-27 21:34] zivkan commented on #7336
@dwilsonbst is this this a problem for you?

I couldn't reproduce the problem. I downloaded nuget.exe 4.3.0 from nuget.org, although it reports itself as being 4.3.0.4406, rather than 4.3.0.6 as you say you're using. When I created a new project, nuget by default used v3 api, so I had to create a nuget.config file to change the source to the v2 endpoint. But ultimately it was still successful.

Pe

[2018-09-27 21:42] dwilsonbst commented on #7336
It was definitely after the "NuGet.org is no longer degraded. We have mitigated the HTTP 503 errors. Browsing of nuget.org, V2 operations, and pushing of packages should now work as expected." message was posted on the status page. However, things now seem to be going alright. I will continue to monitor throughout the evening and report back.

Additionally, I will look into migrating projects to u

[2018-09-27 22:30] nkolev92 opened #7338 "Plugin trust cross platform"
### NuGet.exe on Mono

- Microsoft certs are not by default trusted on Linux/OSX machines. Similarly whatever the trusted root CA is of the authenticode signature is not necesarilly trusted on the host machine.
- On OSX, the Mono authenticode implementation uses the shared cert store. By adding the cert to the same store, Authenticode might work OSX.
- On Linux there is no unique certificate store

[2018-09-27 22:31] nkolev92 commented on #7222
We disable it short-term for 4.9, follow up issue is https://github.com/NuGet/Home/issues/7338.

[2018-09-27 22:35] dsplaisted opened #7339 "Support "download only" package scenario with PackageDownload"
Keeping the original ask for context.
The design is as NuGet/Client.Engineering#91.

Tracking issues:

- [x] PackageDownload Core logic https://github.com/NuGet/Home/issues/7718
- [x] PackageDownload VS Nomination updates https://github.com/NuGet/Home/issues/7719
- [x] PackageDownload NuGet.targets updates https://github.com/NuGet/Home/issues/7721
- [ ] PackageDownload propagate telemetry and inst

[2018-09-27 22:50] #7222 closed, assigned to nkolev92

[2018-09-28 00:05] zivkan commented on #7336
There isn't a comparison document between the V2 and V3 feeds, but the V1 and V2 APIs have [rate limits](https://docs.microsoft.com/en-us/nuget/api/rate-limits), while v3 currently doesn't have a limit. This is in part due to the V3 API having a design that allows for much improved CDN caching, so you should see better performance.

[2018-09-28 09:00] sahgilbert commented on #7333
Fantastic! Big thanks to everyone involved!

[2018-09-28 12:41] natemcmaster commented on #6653
I no longer need changes here since we have stopped using the IncludeSource feature altogether. The bug still exists, but I don’t care anymore if you fix it or not, so I’m closing this.

[2018-09-28 12:41] #6653 closed, assigned to nobody

[2018-09-28 13:45] sharpninja opened #7340 "NuGet.Client Build Scripts Assume default VS2017 install location"
## Details about Problem

NuGet product used __NuGet.Client__

## Detailed repro steps so we can see the same problem

I have installed VS2017 on my D: drive.  The build scripts all have different methods to try to find MSBuild in the default location, which is wrong on my system.  None of the various methods work.  Scripts should keep the MSBuild location in a config file and ask the user for the

[2018-09-28 14:34] dwilsonbst commented on #7336
Closing this as the issue seems to be completely resolved at this time.

[2018-09-28 14:34] #7336 closed, assigned to nobody

[2018-09-28 16:44] joshfree opened #7341 "NuGet.targets(498,5): error : Could not find a part of the path '/tmp/NuGetScratch"
We're occasionally seeing a spurious failure mentioning the `/tmp/NuGetScratch` path on Ubuntu 16.04 in CI on latest .NET Core 3.0 (master) builds:

`dotnetcli/sdk/3.0.100-alpha1-009626/NuGet.targets(498,5): error : Could not find a part of the path '/tmp/NuGetScratch/527e64f2-3196-46c8-b4c2-0a6353faf093'.`

[link to corefx-lab](https://ci.dot.net/job/dotnet_corefxlab/job/master/job/ubuntu16.04_de

[2018-09-28 16:51] dsplaisted opened #7342 "Represent FrameworkReferences in NuGet - pack & restore support"
**Link to specs:**
* [FrameworkReference in NuGet](https://github.com/NuGet/Client.Engineering/blob/master/Specs/NuGet-FrameworkReference.md)
* [Targeting, Runtime, and AppHost Packs](https://github.com/dotnet/designs/blob/b78838c38284d45f25798922dd6c01ca526df7dc/accepted/targeting-packs-and-runtime-packs.md)

**Original issue description**
Project files in .NET Core 3.0 will be able to use Framew

[2018-09-28 17:51] dsplaisted opened #7343 "Support metadata on PackageReference items to hide them entirely from installed package list"
With .NET Core 3.0, we will be using [targeting packs](https://github.com/dotnet/cli/issues/10006) to deliver reference assemblies for the framework.  These targeting packs will not be represented as NuGet packages in the package graph in the way that Microsoft.NETCore.App, Microsoft.AspNetCore.App, and NETStandard.Library currently are.

When a .NET Core 3 project depends on a package that has a

[2018-09-28 18:59] SubyBrue commented on #7312
Any updates on this @jainaashish  or @kzu?   I'd  be more than happy to provide whatever I can in terms of log files, etc....

[2018-09-28 19:17] KyleLJohnson commented on #3245
Any update?

[2018-09-28 19:54] dsplaisted opened #7344 "Support "Supplied by Platform" scenario in restore"
With .NET Core 3.0, we will be using [targeting packs](https://github.com/dotnet/cli/issues/10006) to deliver reference assemblies for the framework.  These targeting packs will not be represented as NuGet packages in the package graph in the way that Microsoft.NETCore.App, Microsoft.AspNetCore.App, and NETStandard.Library currently are.

When a .NET Core 3 project depends on a package that has a

[2018-09-28 21:05] kzu commented on #7312
We're currently addressing other high-priority issues. NuGetizer isn't very high on the list, so if you want to take a stab at building from source (see https://github.com/NuGet/NuGet.Build.Packaging/) and sending a PR, that would be greatly appreciated.

Thanks!

[2018-09-28 21:31] AArnott commented on #1538
This is hitting me a lot. .NET Core projects are _not_ immune. Even if those projects do re-run a restore when nuget.config changes, they do so with the old content of nuget.config. Package restore fails if the changes to nuget.config added a package source that restore then needs.

I hit this on branch switch, pull, or manually modifying the file. I have to reload the solution in VS before packag

[2018-09-28 22:20] Genyus commented on #5016
I just lost an entire day attempting to debug a new project build on our DevOps instance. A NuGet pack task (set up with 4.4.1) was timing out after an hour when building a package from a .nuspec file using both relative paths and excludes in a directory containing ~14K files and ~3K folders. After discovering this bug and switching the task to use 3.5.0, it now completes in **~40 seconds**.

[2018-09-28 22:25] hatcherj opened #7345 "PackageReferences with Floating version in .csproj file gets unnecessarily removed when update locally"
## Details about Problem

VS version (if appropriate): VS 2017 15.8.5

## Detailed repro steps so we can see the same problem

1. Create a new visual Studio Project

2. Right click on the Project and select "manage nuget package"

3. Select "NLog" version 4.5.6

4. Right click on your project and select "unload project"

5. Right click on your project and select "Edit …."

6. Edit the line to crea

[2018-09-28 22:44] zivkan commented on #7329
Can you please better explain the repro steps?

Having two projects in one folder isn't supported, as by default both projects will share the same obj folder and therefore they can't both have `project.assets.json` files. Additionally, in an SDK project both projects will be building all `*.cs` files from both projects. If the two projects have the any same files, one will overwrite the other. Any

[2018-09-28 23:29] zivkan commented on #7330
Could you please provide more details, as I don't understand the scenario. I understand that you can't share your company's code, but can you create a new project/solution that reproduces the same problem? A new class library project will create an empty class, which you can share.

Alternatively, you can create a new class library project, and compare the csproj with your existing project's cspro

[2018-09-29 02:34] #7315 closed, assigned to nobody

[2018-09-29 07:15] Tasteful commented on #7329
I can see now that I missed one part, we need to have 3 packages.

To reproduce the error:
1. Unzip [ReferenceDemo.zip](https://github.com/NuGet/Home/files/2430367/ReferenceDemo.zip)
2. From command line, run `msbuild .\ReferenceMissingDemo.sln /t:Pack`
3. Check outcome in the nuget-package for `ClassLibrary3`

If we check the `project.assets.json` for `ClassLibrary3` we will have the referens to

[2018-09-29 09:00] v-longmin opened #7346 "[Test Failure] Error ‘Object reference not set to an instance of an object’ occurred in the Error List after installing a package into a .NET Framework project"
## Details about Problem
NuGet Version: NuGet Client Dev\5.0.0.5535
VS Version: D16.0stg\28128.3000
OS Version: Build 17134.rs4_release.180410-1804
## Detailed repro steps
1. Launch VS.
2. New a Visual C# -> Window Classic Desktop -> ClassLibrary (.NET Framework) project.
3. Right-click on the project and click ‘Manage NuGet Packages…’.
4. Select ‘Packages.config’ as package management format in P

[2018-09-29 13:42] llehn commented on #3116
I'm too hitting this bug frequently. Please fix this, caching 404s indeed doesn't seem like a good idea

[2018-09-29 19:39] tristan-hyams commented on #3891
I would love to have been in the room where they decided to make this a much more streamlined process. It is so much easier than old Framework package maintenance.... but then right at the end, the design topic of including other project references into dotnet pack comes up... and it looks like they figuratively drove the whole god damn bus off a cliff.

[2018-09-30 22:44] tmat opened #7347 "Update-Package -reinstall or Uninstall-Package won't work for .NET Framework projects"
Copy from https://github.com/dotnet/sourcelink/issues/141

To repo:
Visual Studio 2017, start a new .NET Framework Library project targeting .NET 4.5 or 4.0.
Install Microsoft.SourceLink.Github from Package Manager Console.
Build, get error
[code]
which is fine, we don't have github set up for this project yet.

But then if you call __Update-Package -reinstall__ or __Uninstall-Package__, it would

[2018-09-30 22:45] tmat commented on #7347
NuGet Package Manager reports the following error when uninstalling the package via VS UI:

[code]

[2018-10-01 10:51] nietras commented on #912
This is blocking https://github.com/NuGet/Home/issues/4699 will we ever get this? It seems extremely inconvenient to have to go through hoops and loops to do something as simple as add the latest pre-release version of a package to a project file. nuget already knows how to sort packages based on their version how can this block us being able to add a pre-release package to project file?

[2018-10-01 10:53] mikenunan commented on #5553
I'd like to add my voice to this, having just landed here after some frustrating time spent trying to specify a "latest" dependency in a nuspec. There absolutely are sane use cases for this, I can't quite believe it's not possible to simply use * to pull in a floating latest version, or 1.* or 1.3.* etc to restrict, or to use ranges somehow.

In my case I just need "latest" because the dep contain

[2018-10-01 12:23] voroninp commented on #3245
@zarenner And after sources have no priority local source is almost always faster and `add` or `restore` fail despite package is hosted in standard NuGet feed.

[2018-10-01 14:25] TFTomSun commented on #7328
I found a workaround:
`<PackageReference Include="Newtonsoft.Json" Version="[*,9999.0]" /> `
resolves to the latest available version, assuming that there is no version higher than 9999.0

[2018-10-01 15:08] TFTomSun commented on #7328
Just in case someone else needs a general solution to this problem:
Create a Directory.Build.targets file in your repository root (or create an equivalent build package) with the following content:

[code]

That will dynamically replace all
`<PackageReference Include="<any package>" Version="*" />`

with

`<PackageReference Include="<any package>" Version="[*,9999.0]" />`

That means you can keep

[2018-10-01 17:58] nkolev92 commented on #6556
@kzu
The contentFiles value should be excluded.
 See [code](https://github.com/NuGet/NuGet.Client/blob/07b645ceb662299ff7ce76dcfbdb4e8d30e936dd/src/NuGet.Core/NuGet.Commands/RestoreCommand/ContentFiles/ContentFileUtils.cs#L129-L148)

This has always been the case, see https://github.com/NuGet/NuGet.Client/commit/496a08b2ad35b4479c36c1cb8586bbdc11614c61

@azeno is correct, the only reason why the a

[2018-10-01 18:00] zivkan commented on #7329
Thank you very much for the sample solution it really helps.

The original post is missing what the expected/actual issue is, but from your sample I see:

expected: ClassLibrary3's nupkg should have 2 dependencies, to ClassLibrary1 and ClassLibrary2

actual: ClassLibrary3 only has 1 dependency, to ClassLibrary1, which uses the same case as ClassLibrary3. ClassLibrary2, which has a different case t

[2018-10-01 18:06] dfoulk commented on #6330
The removal of this functionality impacted us as well. We need to be able to transform existing files and add new files to a user's project that they can modify after we're done. Not being able to do so rendered something like 50% of our internal packages useless. We committed to .NET Standard assuming it would be an upgrade to our workflow. I hope that we can see a return for this functionality a

[2018-10-01 18:38] agr commented on #4924
Related to https://github.com/NuGet/Home/issues/1787?

[2018-10-01 18:40] nkolev92 opened #7348 "Validations on save that run after the manifest has been created do not delete the manifest from the obj directory."
In the targets, when packing a csproj without a nuspec file, the nuspec is created and put next to the package output location.
https://github.com/NuGet/NuGet.Client/blob/07b645ceb662299ff7ce76dcfbdb4e8d30e936dd/src/NuGet.Core/NuGet.Commands/CommandRunners/PackCommandRunner.cs#L738

If the packing fails with any of the validations in here. https://github.com/NuGet/NuGet.Client/blob/07b645ceb662299

[2018-10-01 20:41] bjorkstromm opened #7349 "Enforce PackagePathResolver is an absolute path"
Either make sure `PackagePathResolver.Root` is absolute [here](https://github.com/NuGet/NuGet.Client/blob/3803820961f4d61c06d07b179dab1d0439ec0d91/src/NuGet.Core/NuGet.Packaging/PackageExtraction/PackagePathHelper.cs#L123) or just make it absolute in the PackagePathResolver constructor.

[2018-10-01 20:42] jainaashish opened #7350 "Making package hash validation part of restore instead of a post-restore step"
As part of [Repeatable build using project file feature](https://github.com/NuGet/Home/wiki/Enable-repeatable-package-restore-using-lock-file) as of VS 15.9, NuGet has started validating package hash as part of post restore step and simply fails restore if any of the package's hash doesn't match between existing lock file and new assets file. But this approach of validation as post-restore step do

[2018-10-01 21:36] nguerrera commented on #7344
We can possibly represent this more generally than "supplied by platform". It is almost like a PackageReference with ExcludeAssets="All", but since we won't be taking any assets, then we shouldn't need to pick a version.

[2018-10-01 21:37] nguerrera commented on #7343
I would strongly prefer #7344 because it delivers more directly on the notion that there are no packages in the traditional sense that represent platform API.

[2018-10-01 23:17] nguerrera opened #7351 "Mechanism for supplying runtime.json outside of a package"
In Core 3.0, the platform will not be represented as a traditional nuget package. As such, there's no obvious place for the RID graph to be supplied to NuGet.

1. The SDK will need access to the RID graph to pick the appropriate "runtime pack"
2. Restore will also need access to it to pick the correct RID-specific package assets for packages outside the platform.

For (2), the feature request here

[2018-10-01 23:33] rrelyea commented on #7346
@v-longmin  - can you please attach the call stack when the null ref first chance exception is fired?

[2018-10-01 23:35] rrelyea commented on #7345
We have spent some time designing the right behavior here...
https://github.com/NuGet/Home/wiki/%5BSpec%5D-NuGet-Build-Integrated-Project-handling-of-floating-versions-and-ranges-in-Visual-Studio-Client

[2018-10-01 23:44] rrelyea commented on #7334
if you have a "net core" console app, shouldn't you make it target netcoreapp2.1?

if you make it target net471, then it is, by definition, not a "net core" console app.

Regardless, you should probably not raise this with NuGet, but instead the dotnet sdk repo? right?

[2018-10-01 23:48] rrelyea commented on #7332
This appears to be a dupe of this long issue...which has a bug on the netcore side:

#6978

[2018-10-01 23:48] #7332 closed, assigned to nobody

[2018-10-01 23:54] rrelyea commented on #7321
Related to this report as well?
https://twitter.com/michaelwanke/status/1046872955207049217

[2018-10-01 23:56] rrelyea commented on #7321
Tracking on nugetgallery repo

[2018-10-01 23:56] #7321 closed, assigned to nobody

[2018-10-01 23:59] rrelyea commented on #7319
@jainaashish - is this really a regression? when did this work?

[2018-10-02 00:42] jainaashish commented on #7319
I distinctly remember this working when we added support of blocking packages update in UI... Now i'm not sure when did we add that support and when we broke it...

[2018-10-02 04:08] vdachev commented on #7332
I did notice the other issues but they talk about proxy authentication.

The problem here is that proxy settings don't seem to work at all, with or without authentication.

[2018-10-02 05:34] phanmaison commented on #738
I have the same issue, the Hint Path point to my userprofile folder C:\User\<myusername>\ which does not exist in my colleagues's PC which make their build failed.
Then I realize that I didn't add Nuget package but using Reshapper to solve the reference which cause above error.
Once I add nuget package, the reference points to C:\Program Files\dotnet\sdk\NuGetFallbackFolder\ (I'm using .net core)

[2018-10-02 07:26] andriysavin commented on #7334
@rrelyea I may be using terminology wrongly, but I call it .Net Core because I use .Net Core SDK for building it. It's similar to how ASP.NET Core project template allows you to target either framework and it's still "Core".

Sorry if this is the wrong repo for this issue, I opened it here because I saw another similar issue in this repo: #6710 . I'll follow you suggestion and will create this iss

[2018-10-02 07:34] #7334 closed, assigned to nobody

[2018-10-02 08:20] gparlakov opened #7352 "nuget pack csproj ('new style') does not include dependencies in resulting .nuspec"
When packaging a csproj (the 'new' type generated by vs 2017 or dotnet cli - i.e. dotnet new classlib) the nuget packages dependencies included in the csproj do not get included in resulting nuspec file inside the generated package
Using dotnet pack works as expected. Also does Visual Studio build package option. I.e. these both generate the correct nuspec with dependencies.

## Details about Prob

[2018-10-02 09:59] xhafan commented on #2880
My virtual machine in VirtualBox has broken networking after waking up PC from a sleep. I always have to change the network adapter's "attached to" value, confirm the change and revert it back. Example: change "attached to" from NAT to "bridged adapter", confirm, and revert it back.

[2018-10-02 10:26] robert-j-engdahl opened #7353 "Tools from old nuget packages hide tools from new ones via $Env:Path in Package Manger Console"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
VS UI

NuGet version (x.x.x.xxx):
Package Manager Console Host Version 4.8.1.5435

dotnet.exe --version (if appropriate):

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)):

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same pr

[2018-10-02 12:57] dtretyakov opened #7354 "VS Package Manager does not request credentials if feed responds with HTTP 401"
VS: 15.6.3
NuGet package manager: 4.6.0
OS version: win10 v1803

## Detailed repro steps so we can see the same problem

1. Add private nuget feed, fill in credentials and enable "Remember password" option
2. Change user password for stored credentials
3. Browse packages from private nuget feed

### Actual Result:
Package manager writes in the console:
[code]

### Expected result

VS shows credent

[2018-10-02 14:27] hatcherj commented on #7345
At the time of this writing, our team has decided to create a transform for the .csproj and the first step of the build on the build server will be to do the transform before the build.  This allows different developers to work with different versions of the nuget package on their local machine and to check in the .csproj file with out affecting the build on the build server.  The build server wil

[2018-10-02 17:44] alexverboon commented on #6332
Hello there, first of all, thanks for the hints, solved my problem as well.
Working on Windows 10 1803, with PowerShell 5.1 and
NuGet: 2.8.5.208

I had to change the feed from V3
……../alvepsgallery/nuget/v3/index.json"

To V2
………../alvepsgallery/nuget/v2/"

Then reregistered the repository using Register-PSRepository

and then all worked as expected, i.e. I can now search the feed for modules.
Fin

[2018-10-02 19:06] nkolev92 opened #7355 "NuGet self-embedded licenses and expressions pack"
Related to #4628.

Building on top of https://github.com/NuGet/Home/wiki/Packaging-License-within-the-nupkg

Add the ability to pack self contained licenses and expressions.

Details [here](https://github.com/NuGet/Home/wiki/Packaging-License-within-the-nupkg-(Technical-Spec)).

Related to https://github.com/NuGet/Home/issues/7301

[2018-10-03 03:27] StingyJack commented on #5963
@rohit21agrawal -  Some explanation should be present here or linked here that describes what those are.  I cant find anything relevant when [searching nuget docs](https://docs.microsoft.com/en-us/search/index?search=init.ps1&scope=NuGet) for the init.ps1, and most developers do not know what "targets" mean and very few understand how to leverage them in general or for this scenario.

[2018-10-03 03:30] StingyJack commented on #4942
RE: non \bin targeted files...

Well @nkolev92,  nuget is a tool that delivers packages to other developers to lessen work or improve quality of their output.

Its incredibly useful when you need to provide things like T4 templates for code generation in a package, or to have the package add/remove its needed entries in the .config file via XDT.

With the install.ps1, I can handle all the things I

[2018-10-03 03:34] StingyJack commented on #6330
Users do all sort of things that are useful and/or necessary for them because nuget or the project system provides no other way to accomplish these things.   FTFY

[2018-10-03 06:41] BrunoJuchli commented on #4942
@304NotModified
Please describe what's not working for NLog anymore.

[2018-10-03 07:07] alexdrl commented on #5899
The workaround stopped working in VS 15.8. The System.ValueTuple that comes from a transitive dependency does not get copied with the workaround. A workaround to this is to add a PackageReference to the System.ValueTuple NuGet to the VSIX package Project.

[2018-10-03 11:22] #5507 closed, assigned to nobody

[2018-10-03 11:24] mateuszkozlik commented on #5507
Sorry for this issue. I was making my first steps into programming in C#. It was my bad creating inappropriate .nuspec and what concludes .nupkg

[2018-10-03 11:36] codemasta commented on #6650
currently having this issue

[2018-10-03 12:05] RussKie commented on #5963
Targets work at compile time not at package install time.

[2018-10-03 14:50] davethieben commented on #4989
I took @gertjvr 's solution and made it a bit more generic. you can drop this snippet into `Directory.Build.targets`:

[code]
and then use it in your csproj like this:

[code]

[2018-10-03 15:53] jmusek opened #7356 "NuGet Package Manager UI fails to update imports when ignore dependencies option is present"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): VS UI

NuGet version (x.x.x.xxx): 4.8.1.5435

VS version (if appropriate): 15.8.4

OS version (i.e. win10 v1607 (14393.321)): win10

Worked before? If so, with which NuGet version: Not sure

## Detailed repro steps so we can see the same problem

1. Install a pre-release version of package (i.e

[2018-10-03 18:42] PatoBeltran opened #7357 "Null pointer exception when installing a package through the UI"
When installing a package through the UI in the latest dev build you get an "object was not set to an instance" error.

This is because for this scenario the `PackageExtractionContext` has not been created before using it.

[2018-10-03 18:52] nkolev92 commented on #6650
@codemasta

Do you have a repro for us?

[2018-10-03 20:35] karelz commented on #7321
@aeos how often does it happen for you?
You mention you upgraded to 2.0. Can you please double check you running truly on 2.0 and NOT on 2.1?
I would not expect the problem to happen on 2.0.

[2018-10-03 20:48] rrelyea commented on #7321
@aeos has full version in his first message. 2.1.302 is the SDK being used. His post lists all the runtimes and sdks installed.

[2018-10-03 20:52] karelz commented on #7321
@rrelyea how does it answer which .NET Core was used with the nuget client? Why does it comment on "migrating to 2.0" then?

[2018-10-03 21:02] michaelTBF commented on #5553
We want latest - if I specify 1.2.* I will always like the updates made to 1.2.* - nothing else makes sense.

Microsoft push Pipelines and CICD really much - but the basics behind the scenes are still way old.

I know you can make this better.

[2018-10-04 00:19] rrelyea commented on #7321
I think that:
"NET Core SDK (reflecting any global.json):
Version: 2.1.302"

means that the user ran dotnet restore with 2.1.302 ---
no idea about the moving to 2.0 comment.

[2018-10-04 00:41] aeos commented on #7321
Sorry for that typo. You are correct. Moving to 2.1

[2018-10-04 05:01] ranjan-2209 opened #7358 "nuget package versions do not change on changing project .Net version"
## Details about Problem

NuGet product used - VS UI

NuGet version: 4.8.1.5435

VS version: 15.8.6

OS version: 17134.320

Worked before? If so, with which NuGet version: No

## Detailed repro steps so we can see the same problem

1. Create a porject in one verison, eg:, in .Net Framework 4.6.2 and get all the nuget packages

2. The downloaded pacakges are of .NetFramework 4.6.2

3. Change the ta

[2018-10-04 05:06] ranjan-2209 opened #7359 "dlls aren't referenced to the project if packages.config is edited manually"
## Details about Problem

NuGet product used - VS UI

NuGet version: 4.8.1.5435

VS version: 15.8.6

OS version: 17134.320

Worked before? If so, with which NuGet version: No

## Detailed repro steps so we can see the same problem

1. If the packages.config is added manually, then on checking the project's Nuget references, we can see them

2. But the dlls aren't referenced to the project

[2018-10-04 06:11] anirudhbagri commented on #5241
Facing the same issue...any update on this?

[2018-10-04 06:11] anirudhbagri commented on #6166
Facing the same issue...any update on this?

[2018-10-04 07:29] nkolev92 commented on #6166
@anirudhbagri
The status is up to date.

It's not a difficult fix, we'd welcome a PR.

[2018-10-04 09:52] StingyJack commented on #7359
When you change the target project framework or bitness, or if you edit the packages.config manually, you should run `update-package -reinstall` with the appropriate options to have nuget fix the references.

Also, check to make sure the csproj isnt setup to use package reference already. VS will default new projects to one style of nuget or the other and it will ignore the other totally.

[2018-10-04 11:06] nzandy commented on #5877
Hasn't been any activity on this for 1.5 months - I am wondering if we are any closer to supporting shifting ASP.NET projects to PackageReference? this has been a big blocker for our team to shift to .NET core / standard.

[2018-10-04 11:24] ranjan-2209 commented on #7359
ya, this works
even if packages.config is open
i think this should be the by default instead of manually doing `update-package -reinstall`

[2018-10-04 11:56] omog61 commented on #5553
When I found Dr. ABAKA I was in desperate need of bringing my ex lover back. He left me for another woman. It happened so fast and I had no say in the situation at all. He just dumped me after 3 years with no explanation. I contact Dr.ABAKA through his website and He told me me what i need to do before he can help me and i did what he told me to, after i provided what he wanted, he cast a love spe

[2018-10-04 11:56] omog61 commented on #5553
When I found Dr. ABAKA I was in desperate need of bringing my ex lover back. He left me for another woman. It happened so fast and I had no say in the situation at all. He just dumped me after 3 years with no explanation. I contact Dr.ABAKA through his website and He told me me what i need to do before he can help me and i did what he told me to, after i provided what he wanted, he cast a love spe

[2018-10-04 12:05] StingyJack commented on #7359
That probably won't happen as the NuGet team is trying to deprecate package.config in favor of the less useful Package reference.

[2018-10-04 12:20] 304NotModified commented on #4942
See this excellent post: https://github.com/NLog/NLog/issues/2823#issue-346134748

[2018-10-04 13:14] #7359 closed, assigned to nobody

[2018-10-04 14:21] evgbu commented on #5942
Got the same issue with jFrog artifactory after migrating from package.config projects to SDK style with PackageReference.
On old style it was direct request for downloading package which was work:
.../Packages(Id='MSBuild.Sdk.Extras',Version='1.6.55')
At SDK project there is request for list available versions which is trimmed (in my case by 40 entrance):
.../FindPackagesById()?id='MSBuild.Sdk.Ex

[2018-10-04 14:22] sliepie commented on #5877
Migrating ASP.NET projects to PackageRefs is possible. Only issue is that
`frontend` nuget packages won't install, to overcome this problem you could
migrate to LibMan that is included in the latest VS release

On Thu, Oct 4, 2018 at 1:07 PM nzandy <notifications@github.com> wrote:

--
Met vriendelijke groet,

Jarno Nijboer
jarno@nijboer.me

[2018-10-04 14:38] augustoproiete commented on #5877
@JarnoNijboer NuGet still needs to add support for adding files to the project, via a regular NuGet package that is not front-end... This has been the main blocker for my team.

[2018-10-04 14:42] nzandy commented on #5877
@JarnoNijboer that is the problem our team faces.

Shifting to use LibMan doesn't seem like a small task for us.

[2018-10-04 15:11] CoolDadTx commented on #5877
If you're "still" using NuGet for client side packages then LibMan would be a first step but honestly everybody uses NPM for that now. If you're going to take the hit to switch from client packages to LibMan then I'd just forgo that and go straight to NPM. VS is fully integrated with it as is all build systems.

But as @caioproiete mentions, there are other (non-front end) packages that you still

[2018-10-04 15:15] nzandy commented on #5877
Appreciate the feedback. I haven't been too involved in the front-end side of our projects. I have heard it mentioned about ideally moving to npm but hasn't seemed to gain traction so far.

In regards to the other shortcomings of the PackageReference format - why is this the case? Are the issues likely to be "fixed" in the future? or do these issues not exist for new .NET core projects? is it just

[2018-10-04 15:25] CoolDadTx commented on #5877
@nzandy, this doesn't really have anything to do with .NET Core but changes to NuGet itself. The NuGet team, for better or worse, has decided that how packages worked in the past won't do that now. So we are still dealing with the ramifications of these changes. The specific changes that impact this issue (as I understand them) is that packages installed via PackageReference don't go into the solu

[2018-10-04 16:33] natemcmaster commented on #4726
I'm closing this because it turns out there are ways to make a custom nuspec and a IncludeSymbols work. We don't need changes here anymore.

[2018-10-04 16:33] #4726 closed, assigned to nobody

[2018-10-04 17:07] hamjo commented on #2944
Any update on the status?

[2018-10-04 17:27] skironDotNet opened #7360 "Update documentation"
Apparently the flag from documentation -CertificateFilePath has been replaced with -CertificatePath

[2018-10-04 17:39] skironDotNet commented on #5273
I'm just trying to sign the package, same thing, no idea what is wrong.
It's not "User Experience improvement." it's product improvement. Since Microsoft took over nuget + introduced expensive package signing, everything is becoming "Microsoft-ish" ie. "commercial" faulty, unstable, difficult.

[2018-10-04 17:42] skironDotNet commented on #5273
Found the problem. Paths needs quotation
nuget sign "c:\path\yourpackage.nupkg"
same for -outputdirectory and -certificatepath.
The -timespamper url doesn't need quotation

[2018-10-04 18:08] jainaashish opened #7361 "Enable Assets file asserts in some func tests after NuGet.org repo sign is completed for all existing packages"
Tests Asserts to enable:

https://github.com/NuGet/NuGet.Client/blob/dev/test/NuGet.Core.FuncTests/NuGet.Commands.FuncTest/UWPRestoreTests.cs#L333

https://github.com/NuGet/NuGet.Client/blob/dev/test/NuGet.Core.FuncTests/NuGet.Commands.FuncTest/UWPRestoreTests.cs#L401

[2018-10-04 18:12] rrelyea commented on #5838
@fourpastmidnight - did you see that last question from @jainaashish ?

[2018-10-04 18:31] aeos commented on #7321
Here is how I reproduce the issue.

using this simple csproj:
<pre>
<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <TargetFramework>netcoreapp2.1</TargetFramework>
    <PackageId>Proj.Authority</PackageId>
    <PackageVersion>1.0.0</PackageVersion>

  </PropertyGroup>
  <ItemGroup>
    <PackageReference Include="Microsoft.AspNetCore.All" Version="2.1.0" />
  </ItemGroup>
</Project>
</pre>

[2018-10-04 18:43] karelz commented on #7321
How often does it happen? Is it 100% repro?
Do you have a repro you can share with us to try it locally?
cc @wfurt

[2018-10-04 18:48] aeos commented on #7321
It happens 100% for me and one other. It does not happen to a third. If I use a different package reference there is no errors. I use that csproj file with nothing else to replicate it however xml doesn't appear to work in comments.

[2018-10-04 18:52] rrelyea commented on #6986
no repro. closing.

[2018-10-04 18:52] #6986 closed, assigned to rohit21agrawal

[2018-10-04 18:53] rrelyea commented on #6642
@nkolev92 - do we close this now? or push to 5.0?

[2018-10-04 18:56] rrelyea commented on #6625
@joelverhagen - can you please investigate in 2.1.400 and/or 2.1.500 (15.9 code base)?

[2018-10-04 19:03] nkolev92 commented on #6642
I think we can close it.

The few leftover items have their own issues already.

[2018-10-04 19:03] #6642 closed, assigned to nkolev92

[2018-10-04 19:04] nkolev92 commented on #6702
Closingn in favor of a mroe detailed issue
https://github.com/NuGet/Home/issues/7338

[2018-10-04 19:04] #6702 closed, assigned to nobody

[2018-10-04 19:18] #7357 closed, assigned to PatoBeltran

[2018-10-04 19:58] ezverev opened #7362 "Using the IntermediateOutputPath in an application and deleting the obj directory near the project source breaks the build."
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
VS UI

NuGet version (x.x.x.xxx):
4.6.0

dotnet.exe --version (if appropriate):

VS version (if appropriate):
15.8.5

OS version (i.e. win10 v1607 (14393.321)):
win10 1803

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

1. Create a Xamar

[2018-10-04 20:21] joelverhagen commented on #6625
@nwoolls, I just tried on 2.1.402 (downloaded from [here](https://www.microsoft.com/net/download/thank-you/dotnet-sdk-2.1.402-windows-x64-binaries)) and it worked fine for me.

2.1.300-preview2-008533-win-x64 was the first version I could find on the [download archive site](https://www.microsoft.com/net/download/archives) that works.

I was able to reproduce the problem by using 2.1.300-preview1-0

[2018-10-04 20:36] PatoBeltran commented on #7346
This should have been fixed by https://github.com/NuGet/NuGet.Client/pull/2452, @v-longmin please confirm in the next validation

[2018-10-04 21:31] joelverhagen commented on #6625
Another thing, could you provide the output of `dotnet --info`?

[2018-10-04 22:15] Stevie-O commented on #7163
While trying to migrate one of our internal projects to be referenced using NuGet (currently, the project is referenced via svn:externals and git submodules), we got bitten by this limitation.  Specifically, for historical reasons, the solution file in question is *not* found in a direct ancestor directory, but rather a subdirectory of a common ancestor.

I've made a preliminary patch that adds `-

[2018-10-04 22:35] Stevie-O commented on #7163
Okay, now I know I should base my stuff on the `dev` branch. That just leaves four things.

[2018-10-04 23:28] dsplaisted commented on #7344
@nguerrera I think we would want to supply a version for these packages.  IE, .NET Core 3.0 might include System.Collections.Immutable 1.6.0, so we could specify that package as "Supplied by platform", but we wouldn't want to exclude a later version (ie 1.7.0) from the graph if it was encountered.

[2018-10-05 02:02] karelz commented on #7321
If it is 100%, then it is likely something slightly different than the intermittent thing we're chasing down.
You can create your own repo and put the project there, or you can post here step by step instructions how to create such project. You can also post xml via code block: https://help.github.com/articles/creating-and-highlighting-code-blocks/ (the language name is "xml" :)).

[2018-10-05 06:20] AndersBillLinden opened #7363 "NuGet package manager does not always update the UI when selecting a package"
Nuget package manager does not always update its UI when selecting a package. Affected panels are projects which a package is installed in and the package description.

Using:
NuGet version 3.4.4.1321
Visual studio professional 2015 version 14.0.25431.01 Update 3
Windows10 Pro v1803 (17134.285)

Steps I have used:
1. Open nuget package manager
2. Click the "installed" tab, Newtonsoft.Json was sele

[2018-10-05 07:49] dimmy-timmy commented on #7352
Same behavior for me.
NuGet Version: 4.8.1.5435

`dotnet pack` works as expected

[2018-10-05 07:51] DerAlbertCom opened #7364 "Highlight interactive Credential Provider message"
## Details about Problem

If I do a `dotnet restore --interactive` or something like that, then on an Azure DevOps NuGet Feed I get ask for authentication (i'm sure for other authenticated feeds also, and it works fine).
[code]
But this is in the same color then the other just informational messages. I think it would be useful to highlight that message in another color, because it is a call to act

[2018-10-05 09:38] SimonSDA commented on #4292
I have a similar workflow regarding package development, however none of the solutions above work for me. If I do either update-package or uninstall-package / install-package it does not replace the current version as it seems to hang around in the NuGet cache. The only (tedious) thing I've found that works is to clear the nuget cache for the solution then do a package restore.

[2018-10-05 12:41] josh-endries commented on #3891
Two years, multiple issues, over a hundred comments, still not prioritized. Wow guys. Impressive.

This also doesn't work with `dotnet build` and `<GeneratePackageOnBuild>true</GeneratePackageOnBuild>`, by the way.

[2018-10-05 14:26] derekwheeler-tylertech commented on #7312
@SubyBrue. My company went to VS 2017 15.8.5 last week. I was initially unable to open my project. I had to reinstall the latest VSIX but then was able to open my project and do builds again.

[2018-10-05 16:14] Stevie-O opened #7365 "NuGet.Client: Unit tests related to downloading WindowsAzure.Storage v6.2.0 failing"
A clean checkout of NuGet.Client

## Details about Problem

NuGet product used: NuGet.exe

NuGet version: 4dbe61444253d84d37e3629c1c47b00e1495dd43

dotnet.exe --version (if appropriate):

VS version (if appropriate):

OS version (i.e. win10 v1607 (14393.321)): Win10 v1703 (15063.1324)

Worked before? If so, with which NuGet version: (unknown)

## Detailed repro steps so we can see the same problem

[2018-10-05 17:55] wfurt commented on #7321
note that the behavior may also depend on your network e.g. do you use proxy, uplink speed and behavior, firewall setting etc. If you have 100% repro @aeos , could you provide packet capture?
(dns, http, https) That should be pretty small for your  simple project.

Also note that 2.1.403 is out. Include 2.1.5 runtime had some HTTP fixes regarding proxy and authentication.

[2018-10-05 19:26] tsdeveloper opened #7366 "Problems generating nuget packages when you change a project class."
Guys, I'd like to check what's going on.

I created a class named Address in the SampleJenkins.Domain project.
Then I ran the command
`nuget pack SampleJenkins.Domain.csproj -Build`

And I imported the package in the SampleApp project appeared properties.

Then add another new property to the Address class

And I ran the command again
`nuget pack SampleJenkins.Domain.csproj -Build`

I uninstalled

[2018-10-05 19:55] msfcolombo commented on #957
This makes me wonder - why don't we publish DLLs directly instead of Nuget packages?

[2018-10-05 19:58] nkolev92 opened #7367 "Clarify the implementation and behavior of any/no/AnyFramework in all cases"
Related https://github.com/dotnet/project-system/issues/3042
https://twitter.com/nikolchekolev/status/988561259871125504

[2018-10-05 20:20] tsdeveloper commented on #7366
Hello, I can solve the problem using the command

`nuget locals all -clear`

Somehow the nuget was storing the created package in memory and thus ignoring the new update without changing the version number.

[2018-10-05 20:21] #7366 closed, assigned to nobody

[2018-10-05 21:12] brendanzagaeski opened #7368 "Stale projects.assets.json file after uninstalling all NuGet packages and changing Target framework results in a build error "Your project does not reference ...""
Matching Developer Community report: <https://developercommunity.visualstudio.com/content/problem/317628/your-project-does-not-reference-netframeworkversio.html>

Since I noticed this recently myself, I thought I would add an issue here to provide some detailed repro steps for the behavior in case they might be useful.

## Details about Problem

NuGet product used: NuGet Package Manager in Visual

[2018-10-05 21:21] JacobSnyder opened #7369 "Requiring direct dependencies on projects to be referenced"
We recently migrated to the new csproj format, and really appreciate all the benefits of not having to specify all of the transitive dependencies any more. However, this has changed the previous behavior where direct dependencies (especially on another project) must be explicitly referenced or you get a compilation error.

There are a few big advantages in ensuring that direct dependencies are exp

[2018-10-05 22:35] Kranthi1547 commented on #1827
Yes, this issue still exists. @zorgoz solution fixed the issue in my case.

[2018-10-05 23:09] zivkan opened #7370 "dotnet list package outdated is case sensitive when using local folder source"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): dotnet.exe

dotnet.exe --version (if appropriate): 2.2.100-preview3-009423

OS version (i.e. win10 v1607 (14393.321)): linux

## Detailed repro steps so we can see the same problem

The test DotnetListPackage_Outdated_Succeed in PR NuGet/NuGet.Client#2413 repros this

1. Create multiple version

[2018-10-05 23:15] zivkan commented on #7370
I forgot to mention that adding the package reference in step 4 in all lower case causes the latest package version to be output correctly. Look carefully at the sample output. `packagex` vs `packageX`.

[2018-10-06 04:55] StingyJack commented on #7340
pr 2460 has been submitted to address this.

[2018-10-06 06:24] egarim commented on #5895
Hi Martin @kulov  , can you share your csproject and packages.config I want to learn how to use choose/when to restore include different versions of the NuGet packages my project need

[2018-10-06 09:11] Richard-bizruntime commented on #6909
@jobou363 ,Thanks for your Answer, Its worked for me

[2018-10-06 15:14] StingyJack opened #7371 "Respect nuspec tokens in the dependencies section (version)"
I have a large "foundation" solution which is comprised of ~150 projects, where about 30 of those result in nuget packages used by other applications.  Those 30 are projects like data access layers, common objects, primitives, etc.  Some of those projects depend on others in the same solution via project reference, and there are quite a few cases where both the project and the project referenced w

[2018-10-07 01:54] green4don opened #7372 "dotnet restore Ambiguous project name 'project'"
## Details about Problem

NuGet product used: Package Manager Console

NuGet version: 4.8.0.5385

dotnet.exe --version (if appropriate): 2.1.400

VS version: 15.8.1

OS version: win10 v1803 (17134.285)):

Worked before? first time using

## Detailed repro steps so we can see the same problem

1. Open solution

2. run 'dotnet restore' in package manager console

3. shows error:

C:\Program Files\do

[2018-10-07 01:56] green4don commented on #7372
p.s. I've read all the relevant 'ambiguous project' issues and they all use extreme brevity and code words and all seem to be talking about pulling code out to build packages. Circular is the term used frequently which is why I pulled the dependencies out and tested. But still makes no sense or gives me any help.

[2018-10-07 05:41] green4don commented on #7372
And still am presented with the error message "Error occurred while restoring NuGet packages: Ambiguous project name 'project'." when compiling the project.

[2018-10-07 11:34] kulov commented on #5895
Hi @egarim,

Edit your csproj file and put the ItemGroup section that has your reference into Choose/When/Otherwise condition.

The example below shows how to load assembly reference compiled locally on your disk vs assembly reference as a nuget package. You will need to create build configuration DebugLocal also for your project/solution in order to get it working.

`  <Choose>
    <When Conditio

[2018-10-07 21:00] 4creators commented on #4837
@samk1 The problem is a bit more complex than your solution as it requires proper handling of `TFMs` for package and project. Your solution will not work with many recent packages i.e. `xunit.runner.console`.

[2018-10-07 23:34] green4don commented on #7372
Where this cycle is defined is eluding me.
Now I can not compile application G because of errors in library B.

<pre>
Error occurred while restoring NuGet packages: Ambiguous project name 'B'.
1>------ Build started: Project: G, Configuration: Debug x86 ------
1>C:\Users\Don\Visual Studio 2017\Projects\TeamMulti\G\G.csproj : error NU1108: Cycle detected.
1>C:\Users\Don\Visual Studio 2017\Projects\

[2018-10-08 08:20] v-longmin commented on #7346
It has been fixed on D16.0stg + NuGet Client Dev 5.0.0.5549, thanks.

[2018-10-08 08:20] #7346 closed, assigned to nobody

[2018-10-08 10:00] ilya-chumakov opened #7373 "A question about transitive project/package references"
## Details about Problem

NuGet product used: VS UI | dotnet.exe

NuGet version: 4.7.0.5

dotnet.exe --version (if appropriate): 2.1.400

VS version (if appropriate): 15.8.4

OS version: win10 v1803 (17134.286)

Worked before: Nothing is broken, I guess.

## Detailed repro steps so we can see the same problem

We have a core nuget package C used by nuget package P. Then, the application A directly

[2018-10-08 10:11] quasarea opened #7374 "Current approach to packaging x86 and x64 assemblies"
## Details about Problem

Cannot find any documentation on how to release x86 and x64 assemblies in a single package. I

The [supporting-multiple-target-frameworks](https://docs.microsoft.com/en-us/nuget/create-packages/supporting-multiple-target-frameworks):

The [nuspec](https://docs.microsoft.com/en-us/nuget/reference/nuspec) reference does not even once mention **runtimes** location

From what

[2018-10-08 12:56] ChristianSauer commented on #3891
Honestly, we are considering ditchting .Net Core and nuget over this.
We are building microservices which share some commen infrastructure and deploying them using nuget is difficult due to this issue.
Even python packages work better than this.
Hell, I would be satisfied if I could write this by hand, but the whole mess (including sourcelink now) is so complicated that the amount of time needed i

[2018-10-08 13:23] mattleibow opened #7375 "Differentiating Between Win10 and Nano Server"
I am not too sure if this is the correct place, but this is not really a problem - more a question.

I am building a library (SkiaSharp) that does some font subsetting using the FONTSUB.DLL. This may be an old feature that I shouldn't use, but right now I am (I will investigate this further).

As a result, SkiaSharp cannot be used on Nano Server due to this dll being unavailable. I can compile ano

[2018-10-08 16:37] #6780 closed, assigned to nobody

[2018-10-08 16:43] jainaashish commented on #7283
PR merged into dev as well as release-4.9.0-preview4 branch

[2018-10-08 16:43] #7283 closed, assigned to jainaashish

[2018-10-08 17:17] FlorianHockmann opened #7376 "Non-SemVer package versions (with 4 parts)"
First of all, I hope this is the right place to ask such a question. If not, please feel free to close this and direct me in the right direction.

Is using a SemVer compatible version number a requirement for NuGet packages? [The only documentation I could find on this topic](https://docs.microsoft.com/en-us/nuget/reference/package-versioning) talks about SemVer for package versions but it also br

[2018-10-08 17:37] jainaashish commented on #5350
merged for 4.9.0-preview4 branch

[2018-10-08 17:37] #5350 closed, assigned to jainaashish

[2018-10-08 22:08] simplicbe commented on #329
We use our own application to find those issues during building (Jenkins): https://github.com/simplic/simplic-package-version-check

[2018-10-08 22:10] simplicbe commented on #6553
We have the same problem. We use this application to check for the wrong references: https://github.com/simplic/simplic-package-version-check

[2018-10-08 23:31] PatoBeltran opened #7377 "Disable package download plugins by default"
Any package download plugging should be disabled by default.

[2018-10-09 08:41] Sc0tTyXL opened #7378 "Block NuGet package"
After finally [recovering](https://github.com/dotnet/corefx/issues/17522) from the [System.Net.Http](https://github.com/dotnet/corefx/issues/23306) [package](https://github.com/dotnet/corefx/issues/25773) [hell](https://github.com/dotnet/corefx/issues/22781) we would like to block the package entirely. As it is still an issue on .NET Framework projects.

I'm looking for a way to block the package

[2018-10-09 15:23] rido-min opened #7379 "NuGet.Build.Tasks.Pack package does not have license information"
Package https://www.nuget.org/packages/NuGet.Build.Tasks.Pack should include license information as other packages owned by the nuget account.

[2018-10-09 19:18] plaurin opened #7380 "Concurrent nuget install failures"
We are using TeamCity with multiple agents on the same physical machine. We want to have all the agents share the same global packages folder to save disk space. Even then, it is not enough and we clear the packages from time to time. The result is that we have only one shared global packages folder, but install and restore operations fail regularly after we clear the locals caches.

We get errors

[2018-10-09 19:22] PatoBeltran commented on #7303
I was able to repro this in the latest dev.

@jainaashish this was probably related to my settings change. It seems like the order in which the package sources are loaded changed. For this specific case, according to the [code](https://github.com/NuGet/NuGet.Client/blob/fc0c2072b79674975d6fac5f332ae8359cef094a/src/NuGet.Clients/NuGet.PackageManagement.UI/Xamls/PackageManagerControl.xaml.cs#L602) t

[2018-10-09 19:31] nkolev92 commented on #7303
How does the NuGet.Config look in the tests?

I don't imagine it should be NuGet.org, but rather the first parsed source from the config file, which frequently can be nuget.org.

[2018-10-09 19:37] nkolev92 opened #7381 "Move Pack warning codes from 51xx to 55xx"
Per https://github.com/NuGet/NuGet.Client/pull/2450#discussion_r223834237, our pattern normally sohuld be X000-X499 are errors, while X500-X999 are warnings.

Should we change this in pack retroactively?
What do we do about new warnings?
4.9? 5.0?

Related.
https://github.com/NuGet/NuGet.Client/pull/1690/

[2018-10-09 19:54] nkolev92 opened #7382 "Fix the functional tests that rely on the underlying dotnet sdk version"
The tests in question are:

PackCommand_PackConsoleAppWithRID_NupkgValid
PackCommand_PackProject_AddsProjectRefsAsPackageRefs
PackCommand_PackConsoleAppWithRID_NupkgValid

Related [build](https://devdiv.visualstudio.com/DevDiv/NuGet/_build/results?buildId=2101309&view=ms.vss-test-web.test-result-details)

//cc @NuGet/nuget-client @joelverhagen

[2018-10-09 19:55] PatoBeltran commented on #7303
`NuGet.Config` settings are loaded from top to bottom, so if you list them, you will see first settings from a config further away from the user. It seems like when updating the `PackageSourceProvider` I missed [some logic](https://github.com/NuGet/NuGet.Client/blob/release-4.9.0-preview4/src/NuGet.Core/NuGet.Configuration/PackageSource/PackageSourceProvider.cs#L87) to order the sources in reverse

[2018-10-09 19:56] joelverhagen commented on #6528
Current set of failures off of https://github.com/NuGet/NuGet.Client/commit/e0340ccda98518f3eccf92716ffe4f283625344a.

[code]

Confirmed on two different private builds.

[2018-10-09 20:01] nkolev92 commented on #7303
I was merely guessing.
If it's not too complicated, i'd try to see the behavior of the old vs new code with a similar config structure.

[2018-10-09 21:59] iskiselev commented on #7250
PR created: NuGet/NuGet.Build.Packaging#168

[2018-10-09 22:25] zivkan opened #7383 "dotnet nuget push to local feeds should use v3 folder structure"
`dotnet nuget push MyPackage.1.0.0.nupkg -s ~/myFeed/` to an empty folder defaults to a v2 feed. It should default to a v3 feed, so on linux if I hand edit a `PackageReference` and get the case wrong, it can still find the package.

[2018-10-09 23:47] nkolev92 opened #7384 "PMC: Remove OpenPackagePage command"
This command has been long announced as deprecated.
It's time to actually do it.

https://github.com/NuGet/NuGet.Client/blob/f9fa6b3ab4e485a4cac9e88215c59d0c4b0a8ba6/src/NuGet.Clients/NuGet.PackageManagement.PowerShellCmdlets/Cmdlets/OpenPackagePageCommand.cs#L45

//cc @rrelyea @anangaur

[2018-10-10 04:39] nkolev92 commented on #7364
Thanks for filing this issue @DerAlbertCom.

So that is something that we can definitely improve.
As far as the client is concerned, currently that is a generic log message, so the easiest thing would be for the plugins to add some pretty print around it.

[2018-10-10 04:40] nkolev92 commented on #7364
/cc @satbai

Maybe the plugin itself could modify the message a bit to improve the visibility.

[2018-10-10 08:07] cortex93 opened #7385 "Targeting net461, nuget doesn't use netstandard2.0 version of package dependencies"
dotnet.exe --version (if appropriate):
2.1.402
VS version (if appropriate):
15.8.6

When adding a package reference with dependencies on .netstandard2.0, .netstandard1.6 and net451, nuget doesn't use .netstandard2.0 constraints.

1. Create a net sdk project targeting net461
2. Add PackageReference Microsoft.Diagnostics.EventFlow.Core 1.5.1
3. Add PackageReference Microsoft.Extensions.Configuration

[2018-10-10 10:40] kskrygan commented on #7304
@jainaashish @karann-msft @rrelyea Hi folks!
Could you please explain why you are closing this ticket as duplicate?
It seems to be clear that this issue has nothing to do with VS, it's a pure NuGet API problem.

[2018-10-10 12:37] quasarea opened #7386 "C++ restore target doesn't restore when executed from command line"
## Details about Problem
NuGet product used msbuild /t:restore
VS version: 15.8.169+g1ccb72aefa
OS version: win10 v1803 (17134.286)):

Worked before? no

## Detailed repro steps so we can see the same problem

1. Create new **Windows Console Application** for **C++**
2. Add nuget package reference, i.e. for jmessage-cpp
3. Wait, packages.config will be created
4. Switch to console, remove packages

[2018-10-10 12:47] StingyJack commented on #446
This is arguable for most cases...
- Upgrading a CPU from a Pentium 133 to a 233.
- Upgrading from Windows 7 to Windows 10
- Upgrading your auto from a BMW to a Toyota
- Upgrading MSI packages that involve changes to the Major or Minor version

... but I agree that settings and changes made after the first installation should be preserved when possible.

[2018-10-10 16:08] bladewolf55 opened #7387 "Migrate packages.config to PackageReference unexpectedly closes Visual Studio"
## Environment
*   Visual Studio Community 2017 Preview 15.9.0 Preview 3.0
*   Side-by-side install with VS Community 2017
*   Windows 10 Professional 1803 (17134.345)

## Detailed repro steps so we can see the same problem
Only VS Preview was opened, not regular VS.

1.   Open .NET Framework 4.6.1 Console Application with multiple NuGet packages installed.
2.   Default package management format i

[2018-10-10 16:47] jainaashish commented on #7304
`NuGetPackageManager.InstallPackageAsync` isn't a NuGet public api published and supported across versions. [Here ](https://docs.microsoft.com/en-us/nuget/visual-studio-extensibility/nuget-api-in-visual-studio) is the list of NuGet public APIs for reference, everything else may seem public (since the api visibility and the fact that anyone can take dependency on any package) but aren't really publ

[2018-10-10 17:24] PatoBeltran opened #7388 "Unsigned package from a repository that says all their packages are signed should fail restore"
If a repository announces `All packages signed` the current code does not throw for unsigned packages in restore, even though validation failed.

This is an error case, thus it should fail restore.

[2018-10-10 17:46] bdovaz commented on #6150
I'm currently using it with Unity, I have recompiled it for .NET Standard 2.0 but I would want to see it supported officially.

I also encountered other problems like this:

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Commands/NuGet.Commands.csproj#L24

You can see that it's using "some" classes from old Microsoft.Extensions.* packages. It should reference the entire packag

[2018-10-10 18:11] bladewolf55 commented on #7241
I'd like to add some information to this. In my case, converting a console application, the .csproj file was definitely not updated immediately after the conversion completed, something I could reproduce. Instead, I *had* to save the solution. I was never prompted to reload/ignore, because the .csproj file hadn't changed.

What I see happening is the package references are cached in the obj folder

[2018-10-10 18:56] #7355 closed, assigned to nkolev92

[2018-10-10 22:34] loic-sharma commented on #7388
/cc @rido-min

[2018-10-11 02:17] PureKrome opened #7389 "Can we define packageType = Template in a .csproj file?"
Hi 👋

I'm trying to see if it's possible to package a nuget from a `.csproj` where the package type is a `Template`.

---

NuGet product used: `VS UI` | `dotnet.exe`
dotnet.exe --version: `2.1.403`
VS version: `15.8.7`
OS version (i.e. win10 v1803 (17134.345)):

So I'm trying to [create a new custom template using the `dotnet new` template](https://docs.microsoft.com/en-us/dotnet/core/tutorials/cr

[2018-10-11 08:40] cortex93 commented on #7380
This is related to https://github.com/NuGet/Home/issues/7060

[2018-10-11 13:02] plaurin commented on #7380
@cortex93 Yes it looks like you have a similar problem. I made a lot of tests running nuget in parallel and as long as it is running under the same user and same %temp% everything is fine.

Have you tried to run each TFS agent under different user? If it is the same user make sure the %temp% is not separated per agent or you will have the same problem like us.

[2018-10-11 13:24] LightVolk commented on #6309
@livarcocc , can i disable fallback repository? Because, ms build find old version (for example, ver 5.2.0) of package from this folder. But at my local repo i use new version (5.2.1). And i want that all my services uses this version of package.

But the problem is, that nobody use this problem package directly. All of services uses this from another packages.

[2018-10-11 14:46] Kilowhisky commented on #6330
From a simple compatibility sake this functionality should be restored. About 95% of the packages in every single one of my solutions is broken because of this. JQuery, JQueryUI, Knockout, WebApi.HelpPage, WebApi.HelpPage.Ex, NLog, UAParser are only a few. Basically anything that manipulates or drops files in a specific project directory is now broken. This absolutely ruins ASP.NET projects.

[2018-10-11 17:19] rainersigwald opened #7390 "NuGet VSIX should ship Microsoft.Build.NuGetSdkResolver manifest"
It's possible to install copies of Visual Studio that do not include NuGet, but do include MSBuild. One case is installing just the C++ Build Tools workload. If you then use that MSBuild to build an SDK-style project, you can get a confusing error

<details>
<summary>confusing error</summary>

[code]

</details>

This happens because MSBuild ships an XML manifest for the NuGet SDK resolver in _its

[2018-10-11 17:29] AndyGerlicher commented on #7390
I agree it makes sense that the component that inserts the resolver should be responsible for the xml manifest telling MSBuild where it is. But also I think we need to keep in mind that a core set of NuGet (resolver + NuGet tasks) is a dependency of MSBuild now (tasks in our common targets require NuGet to build). Ideally if there's a package that has that core set of NuGet it should be a dependen

[2018-10-11 17:53] cortex93 commented on #7380
@plaurin Thanks for sharing your experience. Very valuable.

[2018-10-11 18:32] jainaashish commented on #7316
Doc updates in master branch, It will be live in few days.

[2018-10-11 18:32] #7316 closed, assigned to jainaashish

[2018-10-11 19:57] nkolev92 opened #7391 "NuGet License Expressions UI work"
Related to #4628.

Building on top of https://github.com/NuGet/Home/wiki/Packaging-License-within-the-nupkg

Add the ability to display license expressions in the UI.

Create a link to the soon to be created nuget licenses service.

[2018-10-11 21:03] tmat opened #7392 "Restricting restore to explicitly specified feeds"
Is it possible to restrict nuget restore to feeds explicitly specified in `RestoreSources` and/or `NuGet.config` file in the repository directory, without loading NuGet.config files from anywhere else on the machine (like user roaming directory, user profile directory, nuget under program files, etc.)?

This is needed to make builds deterministic across machines, that is the same restore behavior

[2018-10-11 21:14] rrelyea commented on #7392
I believe you'll only load settins from one config file if you do the following:
dotnet restore --configfile c:\foo\nuget.config

msbuild properties can still pull in sources, that aren't controllable using command line switches. Just normal msbuild properties, etc...

[2018-10-11 21:16] rrelyea commented on #7392
At the solution level, or above (repo?), you can also have a nuget.config that clears sources, clears disabledsources, and then sets the appropriate sources.  This allows normal projects to just work, without needing a special command line switch to restore.

[2018-10-11 21:50] kagemartin opened #7393 "binding redirect generation should not skip facade assemblies"
Visual Studio 15 creates binding redirects for reference assemblies.

[code]

This is invalid because it forces the runtime to load the reference assembly rather than the framework assembly. This results in the following error:

[code]

[2018-10-11 21:52] rrelyea commented on #7389
It looks like setting the csproj property "PackageType" will be persisted as a PackageType when dotnet pack is used. NuGet.Build.Tasks.Pack.Targets defines a Target named "GenerateNuspec" which will pass $(PackageType) into the PackTask.

If this works well, or even better, please consider doing a doc PR or a doc issue to "The example documentation" page you link to in your initial comment.

[2018-10-11 21:54] rrelyea commented on #7387
@jainaashish  - Believe this is already fixed. Can you point to commit or dupe issue?

[2018-10-11 21:56] rrelyea commented on #7386
msbuild /restore or msbuild /t:restore doesn't support Packages.Config.
From the command line, nuget.exe is your only choice.

[2018-10-11 21:56] #7386 closed, assigned to nobody

[2018-10-11 22:16] rrelyea commented on #7393
@jainaashish  - dupe of 4.9 fix, right?
Link to issue / commit?

[2018-10-11 22:26] rrelyea commented on #7378
Sorry, this is not a feature we have seen many requests for...
My guess is that doing this at the msbuild level would be a better place.

[2018-10-11 22:26] #7378 closed, assigned to nobody

[2018-10-11 22:42] rrelyea commented on #7375
It sounds like you need to have runtime behavior be different for these two different environments.
I think you code needs to detect this case, and act differently.

Different runtimes won't solve this for you, even if NuGet did know the difference between different SKUs of the same version of windows. (As you'd want one set of binaries to be installed by your app/component)

[2018-10-11 22:47] rrelyea commented on #7373
Do C1 and C2 have the same assembly name?
What assembly versions do they have?

[2018-10-11 22:50] rrelyea commented on #7368
Please let us know if this is a new problem. Right now, I'm putting in 5.0 since I believe it is not a regression.

[2018-10-11 23:09] bladewolf55 commented on #7387
Here's the information running `$host` in the Visual Studio Preview Package Manager Console. Is this what you need?

[code]

I literally downloaded the latest Visual Studio Preview the same day I filed the issue. I didn't find a duplicate issue when I searched previously.

I've attached the project.

[VsProjectRepair.zip](https://github.com/NuGet/Home/files/2470994/VsProjectRepair.zip)

[2018-10-11 23:22] KirillOsenkov commented on #5894
We're hitting this as well, so I'm subscribing to this thread to get notified when there is a solution available.

[2018-10-11 23:41] PatoBeltran opened #7394 "Package install fails to extract package to solution level packages config when unsigned packages are not allowed"
On PC, when a package is installed, it first gets extracted to the global packages folder and then to the solution level packages folder.

Since the extraction to the solution level packages folder happens from the package in the global packages folder, we don't have access to the signature all the time, therefore the package is taken as unsigned. If `allowUnsigned` is set to `false` (this happens

[2018-10-11 23:56] jainaashish commented on #7387
yes dupe of https://devdiv.visualstudio.com/DevDiv/_workitems/edit/692256  fixed with https://github.com/NuGet/NuGet.Client/pull/2448

[2018-10-11 23:56] #7387 closed, assigned to jainaashish

[2018-10-12 00:04] bladewolf55 commented on #7387
Thanks.

[2018-10-12 00:14] rrelyea commented on #7369
Sounds like you are not liking the fact that ProjectReferences in SDK projects are transitive by default.
(yes, nuget packagereferences also have that behavior...)

But it sounds like you said: "especially on another project"

See: https://stackoverflow.com/questions/42428571/transitive-references-in-net-core-1-1

Also: https://github.com/dotnet/sdk/issues/200

[2018-10-12 03:30] zapzap3 opened #7395 "Timestamps of file of packed package is shifted by the timezone"
I'm using nuget 4.7.1 .
When I pack with nuget then extract on included files, the extracted files last modified times are -9 hours. (I'm in a +9:00 timezone.)

The problem of Last Modified time for included files, seems fixed in [#5240](https://github.com/NuGet/Home/issues/5240), But  LastWriteTime is set UTC time.

[ZipArchiveEntry.LastWriteTime(in .NET) ](https://docs.microsoft.com/en-us/dotnet

[2018-10-12 06:56] ghost opened #7396 "Could not load file or assembly 'NuGetConsole.Host.PowerShell.dll' or one of its dependencies. An attempt was made to load a program with an incorrect format."
Please read the following information before posting the issue.

## Before posting the issue...

* If you're having trouble with the NuGet.org Website, please post in [NuGetGallery issues](http://github.com/nuget/nugetgallery/issues)
* If you're having trouble with the NuGet client tools (the Visual Studio extension, NuGet.exe command line tool, etc.), you are in the right place.

Remove the conte

[2018-10-12 06:58] ghost commented on #7396
Could not load file or assembly 'NuGetConsole.Host.PowerShell.dll' or one of its dependencies. An attempt was made to load a program with an incorrect format.

[2018-10-12 08:30] josesimoes commented on #352
Any update on this, please?

[2018-10-12 11:05] shadow-cs opened #7397 "dotnet restore: package sources with TCP port specified try to download packages from URL without port"
## Details about Problem

`dotnet restore` doesn't seem to support servers running on non-standard ports.

I'm using `dotnet.exe`: `2.1.403`

NuGet version: `4.8.1.0`

OS version: Windows 7 7601 SP1

## About the problem

### Steps

1. Create a NuGet server running on port other than `80` (probably HTTPS on non-`443` will fail as well)
2. Publish a Package to the server
3. Add the server to `NuGet

[2018-10-12 11:25] shadow-cs commented on #7397
`NuGet.exe` v4.1.0.2450 doesn't work as well for .NET Frameworks projects.

[2018-10-12 12:03] JosepBalague opened #7398 "Will existing NuGet packages work if I am using PackageReference for WPF, Windows Forms or ASP.NET projects?"
[template_net47.zip](https://github.com/NuGet/Home/files/2472927/template_net47.zip)
Hi folks,

(VS2017 15.8.7; MSBUILD 15.8.169+g1ccb72aefa; OS Version 10.0.17763.55 x64)

I'm following this link for migrating WPF 4.7 class library Packages.config to PackageReference:

https://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html

I was prompted by the dialog to select between Pack

[2018-10-12 12:38] StingyJack commented on #6623
Or you should consider that in some cases we need to be able to modify the content that would be distributed by the package into our project to address issues with it or for any other reason. Its frustrating to be held hostage to a bug that you can correct, but are artificially forbidden from doing so. Tools should **enable**, not **restrict**.

[2018-10-12 14:09] kagemartin opened #8879 "Update-Package does not work with PackageRef projects."
Update-Package does not work with PackageRef projectsl.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e755306-fb38-33c5-6f0f-1947832c21f2
* Version Independent ID: 0335cc14-e041-ffb3-f3c4-26dd39d18ef2
* Content: [Reinstalling and Updating NuGet Packages](https://docs.microsoft.com/en-us/nuget/consume-packages/reinsta

[2018-10-12 16:48] tmat commented on #7392
I was able to remove the extra (outside of repo) nuget.config files by specifying

[code]

in the project. Without this property the consulted config files are:

![image](https://user-images.githubusercontent.com/41759/46882084-4fddea00-ce02-11e8-9e30-3a35f2154abf.png)

with this property set it's just that one config file:

![image](https://user-images.githubusercontent.com/41759/46882512-d2b3748

[2018-10-12 16:59] jainaashish commented on #7084
Merged to dev. But re-opening to consider for 4.9

[2018-10-12 18:53] jainaashish commented on #7303
marking for 4.9 since this is a regression in 4.9 preview3 bits

[2018-10-12 18:58] rrelyea commented on #7398
If you do the following changes to your project, I think it will work...I at least got the basics working:

Add the following item to enable Pack target:
[code]
Delete the CopyPackageDebug and CopyPackageRelease targets

Set the following property:
`    <PackageOutputPath>$(MSBuildThisFileDirectory)nupkgs</PackageOutputPath>
`

Stop setting the BuildOutputTargetFolder property

(i tested by changi

[2018-10-12 19:00] rrelyea commented on #7397
What type of server do you have running on that port?  (VSTS, myget, nuget server, etc...)
Do you have the same problem with dotnet SDK 2.0? (does it start with 2.1?)

[2018-10-12 19:02] rrelyea commented on #7396
@nandysoubhik  - We need more details than that to go on.
How can I reproduce this problem on my end?
What steps can I do?
What do you expect to happen?
What happens?

[2018-10-12 19:03] rrelyea commented on #7395
What is the impact of our current behavior?

[2018-10-12 19:09] rrelyea commented on #2867
there has been some early thinking/design here:
https://github.com/NuGet/Home/wiki/Deprecate-packages
(note: @anangaur  is on vacation, so don't expect much response right now)

[2018-10-12 19:23] bkwdesign commented on #5316
Yes, thank you @foxrough - creating a `nuget.config` did the trick.
Here's what I chose to put in mine:
[code]

IDK that the `globalPacakgesFolder` was really necessary, but, I just threw it in there. This technique allowed me to run a command where my nuget.exe was a directory higher from where the 'packages' were located. My `packages` were still higher up than the solution, which was yet higher

[2018-10-12 20:07] nkolev92 opened #7399 "Warn when the Private/Include/Exclude asset metadata is bad"
If a user sets a value such as `true`, then they get no warning or indication whatsoever that we take None as  the default.

https://github.com/NuGet/NuGet.Client/blob/9c31805538d745a31c6ba0804f8c12992d3dd9a7/src/NuGet.Core/NuGet.LibraryModel/LibraryIncludeFlagUtils.cs#L26-L63

//cc @dsplaisted

[2018-10-12 21:09] PleasantD opened #7400 "Re-packaging a NuGet package with System.IO.Compression give odd behaviour"
## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):
All

NuGet version (x.x.x.xxx):
Package Manager Console Host Version: 4.8.1.5435
NuGet Version: 4.7.1.5393

dotnet.exe --version (if appropriate): 2.1.403

VS version (if appropriate): 15.8.7

Worked before? If so, with which NuGet version: Unknown

## Steps
1. `dotnet pack` an SDK-style C# pro

[2018-10-12 21:10] PleasantD commented on #7400
Repacking manually using 7-zip or using `ICSharp.SharpZipLib` gives the expected results.

Maybe related to https://github.com/NuGet/Home/issues/2833?

[2018-10-12 22:46] chwarr commented on #2867
Some quick thoughts about the  [current design](https://github.com/NuGet/Home/wiki/Deprecate-packages):

1. Should there be a way to suppress the deprecated warning during restore? Does this need to be scoped to a specific package? How does this manifest with nuget.exe, MSBuild `<PackageReference>` items, the PowerShell cmdlets, ...?
1. On the flip side, should there be a way to opt-in to fail res

[2018-10-13 01:58] ghost commented on #7396
Hello,

'NuGetConsole.Host.PowerShell.dll' is missing when I open Visual Studio.
I reinstall Visual Studio. Right now this problem is solved.

On Sat, 13 Oct 2018 at 00:32, Rob Relyea <notifications@github.com> wrote:

[2018-10-13 03:03] zapzap3 commented on #7395
I include source code etc in package.
When pack a package, unchanged files are taken from the previous package and placed in a new package.
Currently, the Last Modified time of a file which has not changed is also shifted by the time zone every time it is packed, and it is unknown whether it is the latest file or not.
I hope Last Modified time of the file will not be changed.

[2018-10-13 06:17] shadow-cs commented on #7397
We're running ProGet server for evaluation purposes... We'll soon be migrating to HTTPS. I'll retry with 2.0 as soon as I get back to work on Monday. But I don't think this is a `dotnet` CLI regression as `NuGet.exe` exhibits the same issue

[2018-10-13 09:32] JosepBalague commented on #7398
Thanks @rrelyea. It works fine with 4.7.0 too

[2018-10-13 09:32] #7398 closed, assigned to nobody

[2018-10-13 17:03] PeteX commented on #2867
@chwarr, interesting that you mention ranges of versions.  Imagine a package that has been around for a long time, published a lot of releases, and then a security hole is found.  It could be very tedious having to go through fifty releases marking them all as vulnerable, and urging users to update to one of a few fixed ones.  Is there a need to capture the idea that all 2.x.y users should update

[2018-10-13 18:40] mwpowellhtx opened #7401 "NuGet Package Manager Hangs Up Opening"
Opens to Installed panel; cannot interact, hangs up immediately.

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet version (x.x.x.xxx):

VS version (if appropriate): 15.8.7

OS version (i.e. win10 v1607 (14393.321)): Windows 7 Pro x64

Worked before? If so, with which NuGet version:

Seems to work on other projects. It is broken starti

[2018-10-13 18:58] mwpowellhtx opened #7402 "NuGet Packaging MSBuild timing is off"
Bottom line for me, I could sift through a more detailed build log, but honestly I don't have the time; I just need a simple response along these lines: the NuGet target(s), and which MSBuild target(s). Links to the Targets files themselves would be helpful as well.

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): MSBuild targets

NuGet vers

[2018-10-13 19:05] mwpowellhtx commented on #7402
I'm beginning to wonder if it is because the ``PropertyGroup`` groups are evaluated when the project is loaded into memory by ``MSBuild``. In which case, whatever changes I am making to the project file via ``BumpAssemblyVersions`` may need to potentially update them in memory as well if that were possible.

Besides targets coordination (?), I will need to dig into that a bit further.

[2018-10-13 19:24] mwpowellhtx commented on #7402
Just for my own part, I'm reviewing my ``nuspec`` file for opportunities to obsolete the file in favor of build-time packaging. Which I think should work; I just don't know of a way to either update and/or have ``MSBuild`` itself update properties once the build, tasking, etc, has started.

[2018-10-14 14:24] mwpowellhtx commented on #7402
It seems like the presence of ``PackageVersion`` determines whether NuGet packaging steps use the lazy ``Version`` prior to my ``BumpAssemblyVersions`` custom task, or the value after bump has occurred. That is, when ``PackageVersion`` is not present, the lazy version is used; whereas when ``PackageVersion`` is present, the correct (expected, post-bump) version is used.

I would strongly suggest t

[2018-10-15 07:10] yitzhaks opened #7403 "Searching UNC package feeds is slow"
## Details about Problem

NuGet product used: NuGet.exe

NuGet version: 4.6.0.4653

OS version (i.e. win10 v1607 (14393.321)): Windows 10 Build 14393

Worked before? If so, with which NuGet version:

## Detailed repro steps so we can see the same problem

1. Find a large UNC NuGet package feed.

2. Run "NuGet list &lt;somepackage&gt; -source &lt;yoursource&gt;".

Wait for a long time (on the order

[2018-10-15 07:21] yitzhaks commented on #7403
Created PR 2475 in the NuGet.Client repo (I hope that's the correct place).

[2018-10-15 09:08] ilya-chumakov commented on #7373
@rrelyea, here is our csproj:

[code]

So, the nuget package has the full package version "2.1.0-buildXXX". We do not explicitly set the assembly version, it is '2.1.0' in both assemblies, just as well as the assembly name is the same.

[2018-10-15 10:16] yitzhaks commented on #7403
I just finished running the tests, and it seems I misunderstood the semantics of NuGet list. According to the tests (and [docs](https://docs.microsoft.com/en-us/nuget/tools/cli-ref-list)) search should match on package identity, tags, and description. For that, the current behavior of parsing the entire feed seems necessary.

[2018-10-15 10:16] #7403 closed, assigned to nobody

[2018-10-15 10:37] HristoHentov commented on #3891
Just spent half a day thinking I was doing something wrong with my project setup, only to find out this behavior is by design. Really disappointed

[2018-10-15 12:38] shadow-cs commented on #7397
@rrelyea just tested with `2.0.3` with the same outcome.

[2018-10-15 13:25] shadow-cs commented on #7397
Looks like this is the issue of the server, `FindPackagesById()` returns the address (in the `content` element) without port.

[2018-10-15 13:25] #7397 closed, assigned to nobody

[2018-10-15 16:10] MaximRouiller commented on #2867
@PeteX There is a project called `dotnet-retire` which is currently community driven that allows a check on Microsoft packages with declared CVE on them. Not to expand the scope but something along those lines would need to be baked in in my personal opinion.

https://www.nuget.org/packages/dotnet-retire

[2018-10-15 17:34] gordcross commented on #7362
Using Visual Studio 2017 (15.8.4), Xamarin.Forms (3.0.0.x) .net (2.0.3) - NuGet set to get missing packages etc, I've been struggling with builds failing because the project.assets.json.stamp file is not being created - may or may not be related to this but I haven't explicitly touched the IntermediateOutputPath setting. Eugene's suggestion to create a file named project.assets.json.stamp does ind

[2018-10-15 18:23] #7303 closed, assigned to nobody

[2018-10-15 19:21] johannescolmsee commented on #6242
A few observations that I found out during coming up with hacky ways to workaround this issue - the basic idea was - hey, lets remove all references, then reinstall to force VS to update (**reinsert**) all references:

* "Get-Package | Uninstall-Package -Force" does remove every reference **except** the wrong ones
* if you remove all the references by some regex-magic, then reinstall everything (f

[2018-10-15 20:39] rrelyea commented on #7401
@mwpowellhtx - can you share a version of the project...perhaps try to minimize it to understand what is necessary to cause the repro.  Or what repro steps can we do to duplicate the problem?

[2018-10-15 21:06] mwpowellhtx commented on #7401
@rrelyea I'm not sure what you mean, "version of the project".

[2018-10-15 21:11] #7388 closed, assigned to PatoBeltran

[2018-10-15 21:55] #7370 closed, assigned to nobody

[2018-10-15 23:17] #6526 closed, assigned to PatoBeltran

[2018-10-15 23:24] PatoBeltran commented on #7377
We decided to use another approach for client policies, closing this.

[2018-10-15 23:24] #7377 closed, assigned to PatoBeltran

[2018-10-15 23:25] PatoBeltran commented on #6607
Closing this as it is covered by https://github.com/NuGet/Home/issues/6961

[2018-10-15 23:25] #6607 closed, assigned to PatoBeltran

[2018-10-15 23:25] rrelyea commented on #7400
I couldn't repro when I used NetCore 2.1 console app to call the zip/unzip apis.
Unsure of your exact repro case. But can you try netcore 2.1 and the latest netframework with your unzip and zip routines.

[2018-10-15 23:26] PatoBeltran commented on #6524
Closing this as this is covered by https://github.com/NuGet/Home/wiki/%5BSpec%5D-NuGet-Config-schema-changes-to-enable-trusted-signers

[2018-10-15 23:26] #6524 closed, assigned to PatoBeltran

[2018-10-15 23:27] rrelyea commented on #7395
We are moving away from .symbols.nupkg files towards .snupkg files in the VS 15.9 timeframe.
As part of that, we are moving toward source inclusion via sourcelink, instead of embedding those files.
Can you take a look at sourcelink to see if that helps your future direction?

[2018-10-15 23:36] PleasantD commented on #7400
Hmmm...
The code doing the unzip and re-zip is a custom MSBuild task, targeted at net46.
The execution context is MSBuild 15.8 (I think, it's running on TeamCity so I'm not 100% sure on the version).
The runtime should be .NET 4.7+ on the build agent though, so the targeted framework should't have much bearing on the execution of `ZipFile`

[2018-10-15 23:39] PleasantD commented on #7400
This is non-critical, as we have a workaround.
It just lost me a day of work as I needed to figure out what was wrong, build a work around, and then re-release a number of broken packages.

The concerning part is that nothing appears to be wrong until NuGet tries to install/update using a faulty package and just... doesn't. As if the `lib` and `build` directories weren't in the zip file.

[2018-10-16 07:28] xen2 commented on #6624
Even when packing from csproj, those targets are non-indentified and are manually added with something like `<None Include="build/**/*.targets" PackagePath="build" Pack="true" />`.

Maybe the build targets should have a way to be explicitely defined in `.csproj` (with either custom ItemGroup or PropertyGroup) or implicitely (i.e. in a specific subfolder with glob pattern).
It then becomes easy to